[2020-07-15 15:17] #60095 closed

[2020-07-15 15:19] dnys1 commented on #50075
The new [Understanding constraints](https://flutter.dev/docs/development/ui/layout/constraints) article by the Flutter team may help clear confusion on why your example is performing the way it is.

[2020-07-15 15:20] arafaysaleem commented on #48907
I'd like to work on this issue @shihaohong

[2020-07-15 15:22] liudonghua123 commented on #61539
@VladyslavBondarenko
Did you executed some code like `initializeDateFormatting('zh_CN', null);`?
I will try to test on other devices and reply here later.

[2020-07-15 15:22] TahaTesser commented on #60099
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-07-15 15:22] #60099 closed

[2020-07-15 15:22] godofredoc commented on #60312
I took a look yesterday and sometimes cirrus tasks are not updating the status either. Checking if this is related to API quotas.

[2020-07-15 15:28] pedromassangoncode commented on #11593
This issue is reproducible in `1.20.0-7.1.pre`.

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-15 15:29] VladyslavBondarenko commented on #61547
Duplicate of https://github.com/flutter/flutter/issues/56975

[2020-07-15 15:29] #61547 closed

[2020-07-15 15:40] Sunbreak commented on #61440
@deakjahn I manage to compile Flutter Web engine on Windows host with `DEPOT_TOOLS_WIN_TOOLCHAIN` and `GYP_MSVS_OVERRIDE_PATH` set

[2020-07-15 15:47] godofredoc commented on #60312
Confirmed this is a API quota problem, yesterday(07/14/2020) from 1:00 PM to 7:00 PM we were getting API quota problems:

[code]

[2020-07-15 15:47] nunomonteiro123 commented on #61542
[√] Flutter (Channel stable, v1.17.5, on Microsoft Windows [Version 10.0.19041.329], locale pt-PT)
    • Flutter version 1.17.5 at C:\flutter
    • Framework revision 8af6b2f038 (2 weeks ago), 2020-06-30 12:53:55 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[√] Android toolchain - develop for Android devices (Android SDK version 30.0.1)
    • Android SDK at C:\Users\nunom\AppDa

[2020-07-15 15:48] VladyslavBondarenko commented on #49748
Reproduces with iOS when dark mode is set.
google_maps_flutter 0.5.28+1.
master `1.20.0-8.0.pre.102`

<details>
 <summary>code sample</summary>

[code]

</details>

[2020-07-15 15:49] TahaTesser commented on #61543
Hi @William-cpu
From what I can see, the issue is related to a FlutterFire plugin rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/FirebaseExtended/flutterfire/issues).
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yaml

[2020-07-15 15:49] #61543 closed

[2020-07-15 15:50] godofredoc commented on #60312
I'm removing the additional pub/sub subscription created for staging as we are processing the status updates twice:

![image](https://user-images.githubusercontent.com/54371434/87566662-32dde700-c678-11ea-95ab-c8765c047361.png)

[2020-07-15 15:51] #60312 closed

[2020-07-15 15:53] ferhatb commented on #61462
/cc @nturgut

[2020-07-15 15:55] 2ZeroSix opened #61549 "BoxDecoration.hashCode crash devtools"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows:

remove `test/widget_test.dart`

<details>
  <summary>

`main.dart`

  </summary>

[code]

</details>

3. open devtools, try to use flutter inspector or hotreload.

**Expected results:**

Everything works fine.

**Actual results:**

Most of the features of devtools aren't working, flutter inspector pointer looping

[2020-07-15 15:58] Freundschaft commented on #61175
perfect, thank you, unfortunately I am building for beta.

[2020-07-15 16:05] ferhatb commented on #57682
Fix rolled into flutter master.

[2020-07-15 16:06] #57682 closed

[2020-07-15 16:20] VladyslavBondarenko commented on #61544
Reproduced with current master `1.20.0-8.0.pre.102` as well (on emulator) with https://pub.dev/packages/camera/example
`camera 0.5.8+2`

[2020-07-15 16:22] chakAs3 commented on #27730
Hi magicleon94, how this workaround saved your life, i tried InAppWebview.postUrl(url , datalist )
but i get now post on the server the request is empty, can give me an example how you implemented it  Thanks

[2020-07-15 16:22] jonahwilliams commented on #61533
Do flavors not work for this use case?

[2020-07-15 16:23] zanderso commented on #60198
I'm worried that my last comment might not have been as clear as it could have been. It sounds like we can't prioritize solving https://github.com/flutter/flutter/issues/32164 in its full generality in the near-term, but we can still help come up with a solution for this issue. It looks like the next step is to get the questions from @xster and @gaaclarke answers from @afrueh or @ebajrami. Sorry f

[2020-07-15 16:27] stuartmorgan commented on #61418
That project has a completely separate, unrelated plugin ecosystem.

[2020-07-15 16:28] deakjahn commented on #61440
I wonder how you do it. I can't reach that phase, tried in once more and no cigar. I get the same errors as in the linked bug.

[2020-07-15 16:45] alexmarkov commented on #60802
It looks like TFA runs out of memory. TFA is a whole-program analysis and may inherently consume a lot of memory if the input program is large.

@dna-f @kuhnroyal How big is the application you're trying to build? Does it have a lot of auto-generated Dart code?
Also, it would be interesting to see the actual command line of the front-end server, so could you please run `flutter` with `-v` option a

[2020-07-15 16:47] kndl22 commented on #61533
Yeah I ended up using productFlavors, that's probably the right way to do it.
I've got used to add staging env at my android projects and use "assembleStaging" when it was needed, but flavors doing the same job.

Thanks @jonahwilliams !

[2020-07-15 16:50] ferhatb commented on #59846
Fixed in https://github.com/flutter/engine/pull/19557 , fixed and verified on flutter master channel.

[2020-07-15 16:50] #59846 closed

[2020-07-15 16:52] heath3n commented on #16607
Really not liking this habit of just pointing to 3rd-party packages as solutions when such a common use case as putting dynamic content in a grid should be something that "just works". The library in question has not been touched by the developer in over a year now except to link his Patreon. 75+ issues have piled up with some of them being related to poor performance or broken behavior. The top S

[2020-07-15 16:52] rmacnak-google commented on #60802
There are no recent GC changes that would cause a program that previously succeed to OOM. (There is the older change of parallel scavenge that sometimes makes the proper Dart OutOfMemoryError become the FATAL in scavenger.cc, but the program would OOM either way.)

[2020-07-15 16:53] #61533 closed

[2020-07-15 16:57] cyanglaz commented on #53490
@evdinursan There are 2 separate issues here:

The issue about `WKDeferrtingGestureRecognizer` blocking the `ForwardingGestureRecognizer` issue can be fixed from flutter engine, which I plan to fix soon.

Another issue is that `touchStart` event is not blocked by flutter widget (#30143). I'm still trying to find solutions for this issue.

[2020-07-15 16:58] jmagman commented on #60571
@liudonghua123 Oh you're right, I didn't notice Android doesn't allow `-`.  The code handles it though:
https://github.com/flutter/flutter/blob/cda6c27ff7994e6be08615bf19ea02e6c2187b91/packages/flutter_tools/lib/src/commands/create.dart#L800-L802

If you want them to be the same, best to stick with alphanumerics.

[2020-07-15 17:00] NathanO14 commented on #58957
If it helps, I think a fix is on the way here - https://github.com/flutter/flutter/issues/28651

[2020-07-15 17:01] Piinks commented on #61473
I believe this is a duplicate of #14452. The root cause it that by triggering driven scrolling activities (i.e jumpTo, animateTo) based on scrolling notifiers, you can end up in a situation where one scrolling activity fires before another has completed.
I have seen some folks work around this by checking what kind of scroll activity it is in the notification handler in order to prevent activity c

[2020-07-15 17:01] #61473 closed

[2020-07-15 17:04] Piinks commented on #61314
This is a duplicate of https://github.com/flutter/flutter/issues/38997
Images are not typically used in golden file testing, but it is possible to render them using the precache method described in the linked issue. :)
If this does not resolve your issue, let us know and we can re-open this! Thank you!

[2020-07-15 17:04] #61314 closed

[2020-07-15 17:05] evdinursan commented on #53490
I have an application that should go live pretty soon and because of this issue, we will postpone the iOS deployment, so if you need any kind of debugging data, please let ne know.

Thanks

[2020-07-15 17:06] dnfield commented on #60802
If you cannot share a reproduction program for this, it would also help if someone experiencing it can bisect to a specific commit (ideally to a specific Dart roll into the engine, but even just a specific engine roll would be more helpful right now).

You can use the `git bisect` command in your Flutter repository to do this by checking out the last known good revision, doing `git bisect start`,

[2020-07-15 17:10] LongCatIsLooong commented on #12920
@lukepighetti  No I was referring to the surrounding light gray correction rectangle. Maybe there's a way to change its color to transparent to make it invisible, so we don't have to worry about having the precise rectangle.

[2020-07-15 17:15] ryanknauer opened #61555 "Textfield not updating old state when clearing/updating text through a TextEditingController on Linux."
## Steps to Reproduce

1. Run flutter app on linux
2. Type 'abcd' to a TextField widget
3. Clear or edit text via a TextEditingController
4. Type 'e'

Expected: The text field contains only 'e'

Actual: The text field contains 'abcde'. Note that after step #3 the text field clears normally, the 'abcd' returns after step #4

This exact bug is not reproducible on Flutter Mac.

<details>
  <summary>L

[2020-07-15 17:18] kklepper commented on #61459
Ok, sounds plausible, will do soon.

[2020-07-15 17:19] DigaoParceiro commented on #58583
A solution can be:

1. Go to your `flutter/packages` folder on your computer
2. Make a backup of the folder `flutter_tools` folder, rename it to any name you want
3. Download the [flutter_tools](https://github.com/flutter/flutter/tree/master/packages/flutter_tools) zip folder and unzip on the same `packages` directory
4. Try again, if worked, delete the renamed folder, if not, name it as `flutter_

[2020-07-15 17:21] kuhnroyal commented on #60802
What is TFA? 🤔
The build nodes have 5120MB of memory.

I can test tomorrow if this also occurs on my own machine.

[2020-07-15 17:22] DigaoParceiro commented on #58583
1. Go to your `flutter/packages` folder on your computer
2. Make a backup of `flutter_tools` folder, rename it to any name you want
3. Download the [flutter_tools](https://github.com/flutter/flutter/tree/master/packages/flutter_tools) zip folder and unzip on the same `packages` directory
4. Try again, if worked, delete the renamed folder of item 2, if not, name it as `flutter_tools` again

[2020-07-15 17:24] nturgut commented on #61462
@whesse How are the results for the second run with more shards?

[2020-07-15 17:25] dannyvalentesonos opened #61558 "Android Add2App's MouseCursorPlugin leaks the FlutterView"
This leak is completely similar to #54275

The issue is the MouseCursorPlugin leaks the FlutterView. A similar fix to #54275 will be needed for this one too.

![android_mem_leak](https://user-images.githubusercontent.com/40898687/87575796-72b7c500-c69e-11ea-86f0-7de64e3ec05d.png)

[✓] Flutter (Channel beta, 1.19.0-4.1.pre, on Mac OS X 10.15.5 19F101, locale en-US)
    • Flutter version 1.19.0-4.1.

[2020-07-15 17:26] SwissCheese5 commented on #52338
@ditman Google sign in works on other sites, otherwise, I wouldn't be logging in to many many sites. I noticed it used to fail on some sites, but it doesn't anymore. Idk.... Too many variables unfortunately.

[2020-07-15 17:29] johnsonmh commented on #50595
@ferrazrx That is awesome! Taking a look now

[2020-07-15 17:37] CaseyHillers opened #61559 "[cocoon] GitHub checks API shows hard coded flutter dashboard text on LUCI checks in cocoon"
![Cocoon PR with LUCI check showing flutter-dashboard info](https://user-images.githubusercontent.com/2148558/87576921-f1086d00-c686-11ea-82f9-c5ce0a81ae34.png)

The check shows info for Flutter's post submit dashboards, however, this check is run as presubmit. Instead, I expect to be redirected to the luci page for that check.

[2020-07-15 17:38] CaseyHillers commented on #61559
https://github.com/flutter/cocoon/pull/845/checks?check_run_id=874284644 for an example

[2020-07-15 17:41] rechor commented on #13971
Had a similar issue ("MissingPluginException...#putFile") - stopping and starting the app again fixed the issue.

[2020-07-15 17:41] liyuqian commented on #52207
@vishnukvmd @esDotDev : I believe the `ScrollablePositionedList` suggested by @dnfield will have a dramatic speedup for your scroll bar use case. See the demo code at https://gist.github.com/liyuqian/6fe7a6be4b5035bbdbdba57d3356b43d

As Flutter is making web and desktop its first-class platforms on par with mobile, I feel that having `ScrollablePositionedList` as a 3rd party package is probably in

[2020-07-15 17:42] keyonghan opened #61560 "Cocoon pre-submit checks fail to get updated even though luci build has finished."
This issue happens in https://github.com/flutter/cocoon/pull/845

cocoon build shows success: https://ci.chromium.org/p/flutter/builders/try/Cocoon/1030

But the checks on PR is not updated:
<img width="932" alt="Screen Shot 2020-07-15 at 10 40 19 AM" src="https://user-images.githubusercontent.com/54558023/87577536-e6020c80-c687-11ea-9468-15b3b24e4027.png">

[2020-07-15 17:45] alexmarkov commented on #60802
@kuhnroyal TFA is a type flow analysis, the whole-program analysis used by Dart AOT compiler.
Could you try to increase memory limit for your build nodes and see if it helps?
Could you also run `top` with sorting by memory while build is in progress and check how much memory is consumed by various processes (top 5-10). Please do this experiment with current version and with 1.17.5 and post results

[2020-07-15 17:46] whesse commented on #61462
The test run was successful, with 16 shards rather than 8, and took about 5 minutes longer: 65 minutes instead of 60 minutes.
The CL to change the number of shards is https://dart-review.googlesource.com/c/recipes/+/154500, and it will be landed when approved.  The number of tests per shard went down from over 1000 to about 500, so that may help.

I also will change the version of Chrome from 81 t

[2020-07-15 17:49] William-cpu commented on #61543
@TahaTesser I already did. You closed it there as well. Said it was a duplicate. I upvoted and commented on the duplicate, then someone else commented saying that he has the same problem. Since then, nothing.

This is the duplicate. Maybe someone will take a look. https://github.com/FirebaseExtended/flutterfire/issues/2498

[2020-07-15 17:52] dnfield commented on #52207
@liyuqian the "cheat on scroll bar position" comment is if we try to make the current default implementation of ListView etc. work better for scroll bars.

For example, we could estimate the extent of the ListView based on what's currently laid out within its cache extents. But this won't be accurate for lists that currently have very large or very small items in the extent compared to the rest of

[2020-07-15 17:55] dnfield commented on #20522
https://docs.google.com/document/d/1G-5s6uoP1H_7f_ByLrvCVcoFXYZ80CixkMbbHMsMCag/edit#heading=h.pub7jnop54q0 (shorter link will be available soon at https://flutter.dev/go/fallback-image-decoding).

[2020-07-15 17:55] yjbanov commented on #61464
I'm unable to reproduce this on https://github.com/flutter/flutter/commit/5e1635b186fad4df125b272ecca3bff7e59b3018. I created a brand new app using `flutter create` and ran it using `flutter run -d chrome -v`.

Is there anything else you can tell us about your local setup?

[2020-07-15 17:59] Hixie commented on #59763
There is code in https://github.com/flutter/flutter/issues/60344 which might help reproduce this; it sounds like maybe pushing the code via Codemagic is part of how to reproduce this problem?

[2020-07-15 18:04] esDotDev commented on #52207
I don't think so, since this only scrolls by index, but we are desiring a scrollbar that scrolls using pixel values as is expected in most lists on both desktop and mobile.

It's frustrating as the sizing info is usually trivial to calculate in the app domain, but the framework locks us out from trying to help it, so instead it just spins its wheels doing millions of pointless layout calculations.

[2020-07-15 18:09] ayush97123 commented on #42511
Does this issue got fixed?

[2020-07-15 18:17] jonahwilliams commented on #61534
flutter doctor does not automatically upgrade, but it will download missing cache artifacts if it needs to. Closing as WAI

[2020-07-15 18:18] zmansour commented on #60353
Confirmed, it's fixed in the beta channel.  Here's some output, in case you need it:

Running "flutter pub get" in zt2...                                 1.7s
Wrote 76 files.

All done!
[✓] Flutter: is fully installed. (Channel beta, 1.19.0-4.3.pre, on Mac OS X 10.15.5 19F101, locale en-US)
[✗] Android toolchain - develop for Android devices: is not installed.
[✓] Xcode - develop for iOS and macOS

[2020-07-15 18:31] yjbanov commented on #61462
The shards are meant to run in parallel, so increasing the number should actually reduce the total run time. Do you run test shards serially?

[2020-07-15 18:31] charleshan commented on #58662
This was happening for me as well. Here's something you can try: Reinstall the specific version of the build tool using SDK Tools Manager.

[2020-07-15 18:34] godofredoc commented on #61560
The problem is we used to have two different version of the pub/sub subscription one for staging and one for prod. This morning I deleted the staging one as we were hitting the API quotas and all checks api messages were being processed by the current prod version of flutter-dashboard that do not understand checks API yet.

[2020-07-15 18:39] godofredoc commented on #61559
If the state of the checks is "Queued" then the link to the dashboard is expected as we don't have a task yet:

![image](https://user-images.githubusercontent.com/54371434/87582661-91628f80-c68f-11ea-899e-e48bd78764a9.png)

The real problem was that checks were not being processed. Marking this as duplicated of https://github.com/flutter/flutter/issues/61560

[2020-07-15 18:39] #61559 closed

[2020-07-15 18:49] chingjun opened #61562 "Exception classes should `@keepToString`"
We stripped the `toString()` methods in most classes in `package:flutter` and `dart:ui` to reduce size. We should add `@keepToString` to the toString methods in exception classes since they usually contain useful information for diagnosing errors.

[2020-07-15 18:49] ali-alhwayzee commented on #61352
hi @TahaTesser
flutter run --verbose
[  +22 ms] executing: [C:\src\flutter/] git -c log.showSignature=false log -n 1
--pretty=format:%H
[  +79 ms] Exit code 0 from: git -c log.showSignature=false log -n 1
--pretty=format:%H
[   +1 ms] 8af6b2f038c1172e61d418869363a28dffec3cb4
[   +1 ms] executing: [C:\src\flutter/] git tag --contains HEAD
[ +239 ms] Exit code 0 from: git tag --contains HEAD
[   +3

[2020-07-15 18:54] #61496 closed

[2020-07-15 18:55] Yke222 commented on #61415
Also this same behavior is registered on Firefox for android, the video keeps loading eternally.

[2020-07-15 19:02] natgross commented on #59645
Upgraded flutter today, and exactly this problem came up.
Per advice of @manulsan, I simply ran 'flutter clean', and all is ok.

[2020-07-15 19:05] blasten commented on #61105
This can be rebaselined

[2020-07-15 19:09] christopherfujino commented on #30826
@Pragya007 did you rebuild the tool? There are instructions here https://github.com/flutter/flutter/wiki/The-flutter-tool#making-changes-to-the-flutter-tool

[2020-07-15 19:10] MarceloBalz commented on #55557
Thank you very mutch...

[2020-07-15 19:10] christopherfujino commented on #61286
I will comment on the PR

[2020-07-15 19:13] blasten commented on #61133
Potentially fixed by hybrid:

- https://github.com/flutter/flutter/issues/51915
- https://github.com/flutter/flutter/issues/50716

[2020-07-15 19:13] blasten commented on #61133
Potentially fixed by this:

- https://github.com/flutter/flutter/issues/51915
- https://github.com/flutter/flutter/issues/50716

[2020-07-15 19:14] mehmetf opened #61565 "SliverAppbar does not expand when using ios accessibility focus traversal"
b/161209599

Steps to Reproduce

[code]

- Open the above app with voiceover enabled on an iOS device.
- Swipe to the right to navigate until sliver app bar collapses
- Swipe back up to the header

The sliver app bar should expand when it receive focus, but it doesn't.

[2020-07-15 19:15] mehmetf commented on #61565
Apparently we already have this: https://github.com/flutter/flutter/issues/61360

[2020-07-15 19:15] #61565 closed

[2020-07-15 19:17] blasten commented on #50716
@chunhtai would you be interested in looking into reproducing this issue if the webview uses hybrid composition?

https://github.com/flutter/flutter/issues/61133 will add this new mode to webview.

[2020-07-15 19:20] matheusabr commented on #55128
Try to change android app applicationId: https://stackoverflow.com/a/62922020/2636782

[2020-07-15 19:20] iskakaushik commented on #57585
@liyuqian , thanks for flagging this, i'll be assigning a conservative milestone this time.

[2020-07-15 19:21] kklepper commented on #61459
Removing `C:\Users\Karl\AppData\Local\Pub\Cache` did change nothing.

Then I removed the `flutter` directory and started from fresh:

[code]
1)
    X Android licenses not accepted.

[code]
2)
    X Flutter plugin not installed; this adds Flutter specific functionality.
    X Dart plugin not installed; this adds Dart specific functionality.

did that

3)
    X Flutter extension not installed

did t

[2020-07-15 19:26] ibrahim-abdulwahid-dev opened #61566 "[Apple Watch] error: unable to resolve product type 'com.apple.product-type.watchkit2-extension' for platform 'iphoneos' (in target 'watchVersion Extension' from project 'Runner')"
Hi, i want to create flutter app for apple watch after Enabling  bitcode in Xcode and Adding an Apple Watch target
but app is not running ,

get me this error

**error: unable to resolve product type 'com.apple.product-type.watchkit2-extension' for platform 'iphoneos' (in target 'watchVersion Extension' from  project 'Runner')**

<img width="1128" alt="Screen Shot 2020-07-15 at 10 14 16 PM" src="h

[2020-07-15 19:28] dnfield commented on #61562
I wonder if we should just do this at the const_finder level. It seems like it will be brittle if we forget to add `@keepToString` to a new exception type. WDYT?

[2020-07-15 19:30] ali-alhwayzee commented on #61352
@TahaTesser thank you very much ....

[2020-07-15 19:30] #61352 closed

[2020-07-15 19:34] AlbertWang0116 opened #61567 "Adding implementation for Android CPU/GPU/Memory profiling"
We have CPU/GPU/Memory profiling for iOS, which was enabled through -

CPU: [flutter/engine#18087](https://github.com/flutter/engine/pull/18087)
GPU: [flutter/engine#18752](https://github.com/flutter/engine/pull/18516)
Memory: [flutter/engine#18516](https://github.com/flutter/engine/pull/18752)

With the same profilings available on Android, we will have consolidated way to measure Flutter app's p

[2020-07-15 19:36] farchond commented on #61463
Currently, I believe the issue has something to do with Scenic startup taking too long. Locally I would consistently fail the test, but consistently pass if I slept for a long time, such as 10 seconds before making requests to Scenic. Sleeping for 1 second was not enough to pass.

It's possible that when the test runs on the bots, we start making requests at some interval that fails intermittently

[2020-07-15 19:37] iskakaushik commented on #61463
Getting sys-logs from Fuchsia test runs:

1.  Follow instructions in [Flutter LUCI](https://g3doc.corp.google.com/company/teams/flutter/luci/SITEMAP.md?cl=head) to set up a dev environment to kick-off try jobs.

2.  Patch the following changes to your change: <https://github.com/flutter/engine/pull/19756/files>

3.  Make changes to re-enable the tests or any other local changes.

4.  To kick off t

[2020-07-15 19:43] iskakaushik commented on #61567
Albert was interested in knowing an ETA for this issue so he can make plans on updating the tracked benchmarks accordingly. Given that I will not be having time to tackle this in Q3, I'm not sure when I will be able to get to this. cc: @zanderso for help with prioritization.

[2020-07-15 19:45] Pragya007 commented on #30826
Thanks @christopherfujino

[2020-07-15 19:50] chingjun commented on #61562
That sgtm. Another alternative I can think of is to add a new lint for this.

[2020-07-15 19:55] zanderso commented on #61567
/cc @xster @gaaclarke

[2020-07-15 20:01] jonahwilliams commented on #61042
Waiting on https://dart-review.googlesource.com/c/sdk/+/154562 to roll through for mobile

[2020-07-15 20:01] jmagman commented on #60353
Thanks, closing as duplicate of https://github.com/flutter/flutter/issues/18409 then.

[2020-07-15 20:01] #60353 closed

[2020-07-15 20:10] jonahwilliams commented on #61562
Don't forget Error too 🧷

[2020-07-15 20:15] 065rsh commented on #61460
Everything is working as expected after upgrading, thanks for the support!

[2020-07-15 20:15] #61460 closed

[2020-07-15 20:15] jmagman commented on #61093
@ollydixon This is closed because it's a duplicate of #50455, not because it's fixed.  See my comments in https://github.com/flutter/flutter/issues/50455#issuecomment-634814531 for why this may have changed for you (migration to Xcode's "new" build system).

[2020-07-15 20:27] blasten commented on #57067
From the offline conversation: @cyanglaz will share a design doc about this issue.

[2020-07-15 20:35] peterwvj commented on #13892
I tend to agree with @airon-tark . Why would you upload a file that is generated, @jeroen-meijer ? "Talking from experience on multiple projects" isn't a valid argument, sorry :)

[2020-07-15 20:43] lukepighetti commented on #12920
I have literally never seen the light gray correction rectangle in a Flutter app on iOS. Can you show us a screenshot of what you're talking about on Flutter?

[2020-07-15 20:46] elgsylvain85 commented on #25546
I had the same problem and It has been the solution for me.

[2020-07-15 20:54] ValentineChisango commented on #61469
I did all mode in Dart so my Android MainActivity is empty. Not sure how to try that solution unfortunately

[2020-07-15 20:54] LongCatIsLooong commented on #12920
Sorry I forgot it's light blue by default:
<img width="133" alt="Screen Shot 2020-07-15 at 1 53 45 PM" src="https://user-images.githubusercontent.com/31859944/87595009-b90f2300-c6a2-11ea-8cf4-eb5fe136d615.png">

[2020-07-15 20:58] jonahwilliams opened #61575 "Would like a product definition of the 1st hour/zipfile/offline workflow"
Currently the Zipfiles we upload to flutter.dev include everything from the flutter repo, most of the pub dependencies, and many of the pre-cache artifacts. This lead to a massive regression in total size when the new_gallery was included: https://github.com/flutter/flutter/issues/61487

I initially proposed removing the update-packages call, which grabs all of the dependencies for the flutter rep

[2020-07-15 21:01] miloudi2439 commented on #26529
Just restart android studio.

[2020-07-15 21:19] alamar1990 commented on #56986
Thanks, it works...

[2020-07-15 21:21] UserName71 commented on #29608
just replace
  throw new GradleException("Flutter SDK not found. Define location with flutter.sdk in the local.properties file.")

with

  throw new FileNotFoundException("Flutter SDK not found. Define location with flutter.sdk in the local.properties file.")

[2020-07-15 21:22] UserName71 commented on #29608
change
 GradleException
 to
 FileNotFoundException

[2020-07-15 21:23] UserName71 commented on #29608
change GradleException to FileNotFoundException

[2020-07-15 21:26] keyonghan commented on #61043
Created `keyonghan/cloud-builder-flutter` repo to trigger auto build in `flutter-dashboard` cloud console.
Also created a scheduler to trigger the build on a weekly basis.

[2020-07-15 21:26] #61043 closed

[2020-07-15 21:45] whesse commented on #61462
Our triple-head flutter-engine builder runs on only one bot, so everything is serial.  It has an extremely long cycle time, but we haven't wanted to let it use up more of our pool of builders. Any changes to that would be a strategy decision about tradeoffs.  We have dealt with the long cycle times by supporting bisection runs.  We certainly can't run on every commit - that would take too many res

[2020-07-15 21:49] kklepper commented on #61459
Special thanks to @jonasfj !

[2020-07-15 21:49] #61459 closed

[2020-07-15 21:54] goderbauer commented on #44902
Do you still have a minimal sample that reproduces the problem so we can debug it?

[2020-07-15 21:56] goderbauer commented on #46723
Does this still reproduce with the latest flutter version?

[2020-07-15 21:58] goderbauer commented on #61105
Rebased as per previous comment.

[2020-07-15 21:58] #61105 closed

[2020-07-15 21:59] goderbauer commented on #61218
This looks like an anti-aliasing issue. I am going to close it as a duplicate of https://github.com/flutter/flutter/issues/59798.

[2020-07-15 21:59] #61218 closed

[2020-07-15 22:04] goderbauer commented on #61510
Duplicate of https://github.com/flutter/flutter/issues/32045.

[2020-07-15 22:04] #61510 closed

[2020-07-15 22:06] gregsheen commented on #55490
I am having the same issue. The solution outlined in [#52084 ](https://github.com/flutter/flutter/issues/52084) is to follow steps in this guide:

https://flutter.dev/docs/development/ios-project-migration

I have tried this but still getting the error.

When I run app on VS Code on iPhone simulator it gets to the splash screen then throws this error:

[code]

[2020-07-15 22:06] goderbauer commented on #61341
/cc @chunhtai

[2020-07-15 22:07] goderbauer commented on #61334
/cc @darrenaustin

[2020-07-15 22:08] goderbauer commented on #61325
/cc @dkwingsmt

[2020-07-15 22:13] goderbauer commented on #61297
What do you mean by this?

In general, this could just be published as a third-party package and doesn't have to live in the framework.

[2020-07-15 22:15] goderbauer commented on #61248
Can you try to reduce your code sample to isolate the error? SizeLayoutBuilder is ~300 lines, which are probably not all relevant.

[2020-07-15 22:17] goderbauer commented on #61222
Feel free to send a PR to wire that up.

[2020-07-15 22:34] dashanan13 commented on #61249
Hei @TahaTesser , sorry for the delay due to vacation but I have a sample for you that gives me same on the cancel button
I have copied the lib folder of a standard flutter project, just create a new flutter project and replace the lib folder with this one.

Error message:
======================================
Performing hot restart...
Syncing files to device Android SDK built for x86...
Restarte

[2020-07-15 22:35] chiranjeevisaride opened #61580 "String.fromEnvironment() not working inside async its outputting null"
[code]

The output is:

I/flutter (16722): constEnv=staging
I/flutter (16722): varEnv=
I/flutter (16722): stringEnv=

I would expect all three lines to output 'staging'

Flutter doctor -v

[✓] Flutter (Channel stable, v1.17.5, on Mac OS X 10.15.5 19F101, locale en)
    • Flutter version 1.17.5 at /Users/csaride/Downloads/flutter
    • Framework revision 8af6b2f038 (2 weeks ago), 2020-06-30 12:53:5

[2020-07-15 22:40] jonahwilliams commented on #61580
Duplicate of https://github.com/dart-lang/sdk/issues/42177

[2020-07-15 22:40] #61580 closed

[2020-07-15 22:43] gspencergoog commented on #61148
@CAoTx have you tried regenerating the generated code in the `linux/` directory in your flutter project?  You can do that by moving `linux` out of the way (and you can delete it later if it works), and then running `flutter create .` in your project directory with the updated Flutter.

[2020-07-15 22:48] gspencergoog commented on #61373
I think this is a duplicate of the more general issue: https://github.com/flutter/flutter/issues/44840

[2020-07-15 22:48] #61373 closed

[2020-07-15 22:52] ValentineChisango commented on #19103
Which version of image_picker is being used here? @aeoluswind

[2020-07-15 22:55] iskakaushik commented on #59113
Update: David Murphy @ Google is attempting to change the build rules to not embed the sources and see if that lets the customer run the app in jit-debug mode. I will keep this assigned to myself so if the proposed fix doesn't work, we might need to explore other ways.

[2020-07-15 23:02] gspencergoog commented on #61321
Actually a duplicate of #60271, because the theme gets its information from `defaultTargetPlatform`.

[2020-07-15 23:02] #61321 closed

[2020-07-15 23:06] goderbauer commented on #61316
For performance reasons a widget (or to be more precise the backing render object) can only detect hits within the bounds of its parent. The OverflowBox allows it's child to draw outside of the bounds of the OverflowBox, but hit tests can only be detected within its bounds. This is working as intended.

[2020-07-15 23:06] #61316 closed

[2020-07-15 23:13] flutterfromscratch commented on #42054
In my case, using a `AnimatedSize` with vsync set to `this` was enough to trigger this error with a SingleTickerProviderStateMixin

[2020-07-15 23:13] liyuqian commented on #52207
@dnfield : it seems that we're already "cheating" in that sense due to [`_extrapolateMaxScrollOffset`]. I think we could use the same extrapolation logic to quickly jump to a new offset that's either far above or far below the current offset. A jump-around scroll bar seems to be much more acceptable than a non-responsive list.

@esDotDev : I agree that allowing developers to send us a list of item

[2020-07-15 23:17] AminMemariani commented on #61091
I made it working by defining a ScrollController:

`  final ScrollController _controller = ScrollController();`
...

`child: AnimatedList(
            controller: _controller,
  ...
`
and inside the insert method:
`  void _insert() {
    _controller.animateTo(
      _controller.position.maxScrollExtent,
      curve: Curves.easeOut,
      duration: const Duration(milliseconds: 300),
    );
    _lis

[2020-07-15 23:17] #61091 closed

[2020-07-15 23:23] Jan-pp commented on #19279
Okay I cleaned up some code. Below I have a rudimentary proof of concept to play with. Wrap a Scaffold with the widget below and make sure to set its `resizeToAvoidBottomInset` to `false`.

[code]

Also add this to the AppDelegate class in AppDelegate.swift:

[code]

I already have an idea on a more reliable way to get the keyboard frame, and many other things for that matter. It's going to be a c

[2020-07-15 23:25] justinmc commented on #61282
I've done some investigation and wanted to post my findings.

First of all, it seems that this isn't caused by the formatter or the alignment, so I can simplify the reproduction code a little bit. Here I'm just adding a zero to the end of the string every time a character is pressed, and that reproduces the problem on iOS when typing very fast:

<details>
<summary>Code Sample</summary>

[code]
</d

[2020-07-15 23:36] liyuqian commented on #61193
This might be a different issue than those issues above with a long ListView of thousands of strings, dynamic items, and fast scrolling. The Flutter gallery app's Crane tab specifically only has a dozen list items, but the UI thread frame build time is as slow as 20-30 ms/frame even if I scroll slowly on my Moto G4 in profile mode. Below is a tracing to illustrate that problem.

[dart-timeline-202

[2020-07-15 23:39] gspencergoog commented on #61575
I'd also like to put out the option of just dropping this as a supported workflow.  We initially supported it so that developers in China who were hamstrung because of not being able to access (or having very slow access) to our pub server could have a better experience.  For a while we have had a (maintained by a third party) pub mirror in China, so perhaps the workflow is no longer needed.

Ther

[2020-07-15 23:42] dnfield commented on #52207
You can already provide a the extent if it's fixed. If it's not fixed, I'm not clear what mechanism would be helpful here. It'd be really helpful to see a test or concrete use case.

It just has to support lazily loading/building the elements - but I think as soon as you allow that to happen and allow for variable sized slivers, you'll run into this problem where you just have to estimate it and t

[2020-07-15 23:43] gspencergoog commented on #61575
Also, if we don't support offline as a workflow, we can also drop building the offline docs archive and the Dash/Zeal docsets, which have been some work to keep going (for unknown benefit to users).

[2020-07-15 23:55] stuz5000 commented on #33523
Is anyone working on this? Its a major bug that's been open for more than a year with little signs of movement.
Is there anything blocking a fix? Anything the community can do to speed up a fix?

[2020-07-15 23:58] jonahwilliams commented on #61575
There is also the question of whether or not we will expand this to include pre-cached web, linux, macOS, windows, fuchsia artifacts

[2020-07-16 00:04] blasten commented on #61558
cc @xster

[2020-07-16 00:13] blasten opened #61584 "[ios] platform_views_layout crashes on subsequent runs"
Here's a sample log:
[code]

fwiw, the framework fires a message to create the native view, which is handled in https://github.com/flutter/engine/blob/24d2143b98d6b0dfffd52eaad60d3900ea6a5190/shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm#L124.

cc @dnfield, @cyanglaz

[2020-07-16 00:29] willlarche commented on #61193
Thanks @liyuqian . We'll see what we can find out.

[2020-07-16 00:30] tetteu777 commented on #61322
hi @darshankawar ,

I'm facing this same problem here.
:(

Any fix or workaround?

[2020-07-16 00:47] zzj0402 commented on #43082
[code]

[2020-07-16 00:52] inc16sec opened #61586 "[web] Flutter Web throws an error when using (shaderMask) widget"
## Steps to Reproduce

1. Using a ShaderMask widget.
[code]
2. Start app in Chrome using ```flutter run -d chrome```
3. I'm using ```shaderMask```  in two pages in my Flutter app and they both throw an error and once i delete the ```shaderMask widget``` the pages load with no problem.

**Expected results:**
I'm using the ShaderMask to create a gradient Text so I'm expecting the text to have a grad

[2020-07-16 00:53] jonahwilliams commented on #61586
duplicate of https://github.com/flutter/flutter/issues/44152

[2020-07-16 00:53] #61586 closed

[2020-07-16 00:59] gaaclarke commented on #61293
fixed in https://github.com/flutter/engine/pull/19702

[2020-07-16 01:19] xJon commented on #18450
Indeed @Tzxhy's modified Stack class fixes the issue.

[2020-07-16 01:53] daothan1211 commented on #58247
It worked for me, many thanks.
I think because some packages I used not suitable with updated Gradle version then it caused problems (because it happened after I upgrade Gradle version).

[2020-07-16 02:01] wang409205743 commented on #61446
@TahaTesser Yes, it's normal on Samsung and IOS，But HUAWEI's mobile phone performance is abnormal.I found that the password keyboard and ordinary keyboard are not the same in Huawei.
So I guess when it is displayed as a password keyboard, clicking other textfields to get focus may not pop up a normal keyboard, and you need to click textfield again to respond _Openinputconnection() method to pop up

[2020-07-16 02:18] trqalothman commented on #45336
@ajain-bst

I apologize, maybe I was not clear enough, I did not read this on the documentation, but I just remember when I used to develop apps using xcode, once you add a text box you can adjust the attributes on the right side, all three options of truncation available.  Either at the start, middle, or end.

[2020-07-16 02:21] #61490 closed

[2020-07-16 02:22] fredlee12345678 commented on #37987
@jonahwilliams do you plan to this issue? this is very useful feature for us, thanks

[2020-07-16 02:28] timsneath commented on #61575
Adding @csells and @mit-mit also.

I'd generally optimize for smaller initial size for all, rather than reduced friction in China. China users will need a working cache eventually anyway, although if we're going to suddenly change the experience we should make sure the user messaging is clear.

We could also advertise `flutter precache` better, so that someone getting on a plane (hah!) can make su

[2020-07-16 02:28] jonahwilliams commented on #37987
We have no plans to work on this in the immediate future

[2020-07-16 02:32] scutcl commented on #61519
my question is why my asynchronous function  `_request()`  block main thread, and how to solve it，seems this issues #55586

[2020-07-16 02:37] Faiyyaz opened #61590 "Keyboard key event listener"
Hey,

I want to achieve something for that i need to know if user presses spacebar on his keyboard. So how to know if user presses spacebar? I tried using keyboard listener class and its not working

**Expected results:** I should be able to know when user presses spacebar

**Actual results:** No way to listen key press

[code]

[2020-07-16 02:38] jonahwilliams commented on #61575
I think it's been a problem for a while, but the large increase from gallery is the breaking point. There have been other issues that have come up that we haven't really dealt with - such as the presence of the pub-cache override that we've introduced.

And of course, without really knowing what the cached zips should be able to do, who is to say that any changes I make to them will leave them in

[2020-07-16 02:46] stuz5000 commented on #18450
@xJon  -- it is only a fix if you use stacks for your layout.

[2020-07-16 02:58] esDotDev commented on #52207
The use case here is variable height extents, but the developer can cheat and provide those to you, so you that you do not need to measure via layout.

ie. I have renderers with 2 states, open and closed, I know my closed are 40 my open are 100. I can simply track the state of each renderer in an array, and provide you the list of extents for each. No measuring needed. I can take this a step furth

[2020-07-16 03:06] #60620 closed

[2020-07-16 03:18] xster commented on #60198
Yes, if you still have questions in your specific Android app in getting the workaround we described to work, we can help you. I believe the workaround (doing standard Android dependency injection, probably via the Application) should be feasible.

[2020-07-16 03:20] esDotDev commented on #52207
@liyuqian To address the developer effort, I believe as you are proposing, `List<float> ItemExtents` would be optional ya? Otherwise it will fallback to the layout method?

[2020-07-16 03:25] MeshkaniMohammad commented on #44218
Same problem here.
How to solve it?

[2020-07-16 03:41] creativecreatorormaybenot opened #61591 "[nnbd] child != null "A null value was passed into a non-nullable parameter child" for AnimatedBuilder's"
Have been running Flutter using NNBD for about a month now and never encountered any runtime null issues.

Master changes from today or yesterday have introduced this issue, which appears for almost every widget (I cannot further trace it, at least on Flutter Web it only shows framework traces):

[code]

The `AnimatedBuilder`s are set up normally:

[code]

So this happens on latest `master` Flutte

[2020-07-16 03:44] v7lin commented on #14648
@jmagman this is my [demo](https://github.com/zzytech/demo). could you help me?

[2020-07-16 03:46] LemonBabyluo opened #61592 "video_player how to get the bufferPercent in initialize or buffering?"
How to get buffer progress when video initialization and fast forward?  Please be sure to answer me, thank you！

[2020-07-16 03:47] xu-baolin commented on #60899
The cause of this problem is that didChangeMetrics() is called earlier than the MediaQueryData update, I'm not sure if this is a bug.
As a workaround, you can get data through WidgetsBinding.instance.window.

[2020-07-16 03:56] marlon2brando commented on #53490
I stuck the same situation with you!

[2020-07-16 03:58] roman-petrov commented on #52207
I just created a simple [JsFiddle example](https://jsfiddle.net/83k0rqz7/) ([in new window](https://jsfiddle.net/83k0rqz7/show/)) that I believe illustrates the case. I tested in in all major browsers (Chrome, Firefox, Edge) and it seems that it has good scrolling performance. Items have variable heights but I did not provide any `itemExtents`.

It seems that browsers defer layout calculation for

[2020-07-16 04:04] jonahwilliams commented on #61591
perhaps we have a bug in some code that is using animated builder? @creativecreatorormaybenot could you attach a runnable example that repros this?

[2020-07-16 04:21] xzghx commented on #61067
Thanks .
I ran  `git clean -xffd` in `C:\sdk_flutter\flutter`   then I could switch to beta channel and enable web support successfully.

If I want to release android app , should I switch to  stable channel of sdk ? or it's ok to use beta ?It won't have unexpected behavior ?

[2020-07-16 04:33] liyuqian commented on #52207
@dnfield : I just coded a sample app `LongListVariableExtent` that's similar to @esDotDev 's open-or-closed-item case. I also included a potential `RenderSliverFixedVariableExtentList` implementation to demonstrate the speed difference. It's quite simple as it reuses most of `RenderSliverFixedExtentBoxAdaptor`.

For a more polished implementation, I think we can either (1) use binary search to fur

[2020-07-16 04:38] kitsunecat commented on #42974
I can't `build ios --release` either.
I did `rm ios/Podfile` and `flutter clean`, `flutter create .`
and run `flutter build ios --release`

The release of the Android apk is fine.
Is there still no clear solution?

[code]

[2020-07-16 04:46] namnh06 commented on #61464
I'm using Windows 10 and I've got this.
Trying to switch to channel beta and dev but no luck.
With the MacOS, everything is just fine.

[2020-07-16 04:47] zgosalvez opened #61595 "CupertinoContextMenu Brightness"
## Use case

The `CupertinoContextMenu` has hardcoded color values. It doesn't respect the current platform/theme brightness, so it'll appear light even if the platform/theme is dark.

## Proposal

`_CupertinoContextMenuActionState` should be updated to:

1.  expose these colors, and/or
2. use the platform/theme brightness to toggle between colors like in `CupertinoActivityIndicator`, which uses `

[2020-07-16 05:09] christopherfujino commented on #61575
So `flutter update-packages` has a `--consumer-only` flag, which presumably is what we could safely update the `prepare_packages` script to use:

[code]

IDK if this flag works, but I found it in the code...

[2020-07-16 05:15] mahdi-ninja commented on #55969
@pcsosinski Can you please give us an ETA for the stable release with this patch? We've been holding off deployments waiting for this release.

[2020-07-16 05:39] darshankawar commented on #61469
Hi @ValentineChisango,
I see there's a similar open issue describing your case, [40339](https://github.com/flutter/flutter/issues/40339) and [this](https://github.com/flutter/flutter/issues/40339#issuecomment-531248197) comment looks similar to the one you are facing now.
I'd suggest you follow-up there for updates on the issue.
I am going ahead and closing this as a duplicate.  If you disagree, w

[2020-07-16 05:39] #61469 closed

[2020-07-16 05:53] yashank09 commented on #27095
Same constant logs for Firestore and Firebase Auth or Provider library :(

[2020-07-16 05:58] mBoqor commented on #61315
julianbraasch sorry for late.
i tried this but it did'nt work
please email me on ciwaankega@gmail.com  to send you what i did
here is not allowed as you can see

[2020-07-16 05:59] darshankawar commented on #61549
Issue is reproducible on latest `dev (1.20.0-0.0.pre)`.

[2020-07-16 06:00] mBoqor commented on #61315
darshankawar sorry for this

[2020-07-16 06:04] darshankawar commented on #61592
Hi @LemonBabyluo,
I see there's a similar open issue which describes `isBuffering` always returns `false`, [](https://github.com/flutter/flutter/issues/28494) and a potential [solution](https://github.com/flutter/flutter/issues/28494#issuecomment-650086103) in the same ticket to get buffer percent.
I'd suggest you to follow-up in that ticket for updates.
I am going ahead and closing this issue as

[2020-07-16 06:04] #61592 closed

[2020-07-16 06:06] chiragmittal19 commented on #57320
I'm still not able to get this working -

'''

    @override
    Widget build(BuildContext context) {

    return Form(
      key: _formKey,
      child: AutofillGroup(
        child: Column(
          crossAxisAlignment: CrossAxisAlignment.stretch,
          children: <Widget>[

            TextFormField(
              decoration: InputDecoration(labelText: "Phone number / Email / Username",),

[2020-07-16 06:14] 2ZeroSix commented on #61549
This is also reproducible on stable channel

Crash reproduction with looping and other consequences require many actions in this minimal example (enable/disable inspector, click on some widgets, hotreload, hotrestart, etc.), but happens instantly on my real project

<details>
<summary>fluttter doctor -v</summary>

[code]

</details>

[2020-07-16 06:18] z85510 commented on #58583
I got this error because of moor library and when I downgrade it the issue disappeared.
so I don't know exactly what's the problem with that version of the library but you can use the new version and there is no problem anymore

[2020-07-16 06:20] darshankawar commented on #61583
Hi @dnishimoto,
Can you please provide a video / gif of the issue you are facing with respect to mobile app platform (Android / iOS)? Since you mentioned mouse navigation, not sure how we can navigate using that in mobile platform.
Thanks.

[2020-07-16 06:31] LemonBabyluo commented on #61592
Is there a way to get the progress of video initialization?

[2020-07-16 06:40] md-weber commented on #48882
I thought about it to make also the iconColor for Disabled and for Hover dynamic via the constructor, what do you think?

[code]

At the current PR, I focused on the default Color but could update it with the other colours, too.

[2020-07-16 06:45] 120011676 commented on #60583
@goderbauer

[code]
Hope the red background does not exceed the size of the picture

[2020-07-16 06:45] dvmjoshi commented on #61555
class MyCustomForm extends StatefulWidget {
  @override
  _MyCustomFormState createState() => _MyCustomFormState();
}

// Define a corresponding State class.
// This class holds the data related to the Form.
class _MyCustomFormState extends State<MyCustomForm> {
  // Create a text controller and use it to retrieve the current value
  // of the TextField.
  final myController = TextEditingControlle

[2020-07-16 06:46] LongCatIsLooong commented on #57320
What's the autofill service you're using? (You should be able to find out in settings-> search for "autofill")

[2020-07-16 06:57] xu-baolin commented on #54204
All the DropdownMenuItems are under an IndexedStack widget, all of them are build and layout, but only one can be painted.  For more details, please refer to the IndexedStack implementation.
I can not open https://b.corp.google.com/issues/153422899, I'm not sure if I explained it right.

[2020-07-16 07:04] imeDevelopers opened #61596 "12:1: Error: Null safe libraries are not allowed to export declarations from of opt-out libraries."
[code]

-------------------------------------------------
flutter doctor -v
[code]

it's fatal errors , that i should wait you to fix it to be able to develop my app ..

[2020-07-16 07:05] TahaTesser commented on #61249
Hi @dashanan13
This is an issue with your code, you're calling `dispose();` after calling `Navigator.pop(context, true);`.
You don't need to call `dispose();`, just `Navigator.pop(context, true);`` and ti will dispose your stateful class

You can check it like this
[code]
[code]

Here is your complete code sample i modified and tested

<details>
<summary>Code Sample</summary>

[code]

</details>

[2020-07-16 07:05] #61249 closed

[2020-07-16 07:09] LongCatIsLooong commented on #32339
The current behavior has changed but still is still not ideal. It seems I can no longer expand the selection to upstream words, I followed the same steps described in the original comment, and on step 5 the selection won't expand beyond "d". i.e. if the initial selection is "abc `def` ghi", I can only expand the selection to "abc `def ghi`" but not "`abc def` ghi", by long press & drag. Moving the

[2020-07-16 07:17] AKZHW opened #61597 "1.9.1 iOS Crash GLEngine in main thread"
[code]

[2020-07-16 07:19] markfili commented on #28651
I'm still experiencing this issue:
[code]
I can sometimes reproduce the "FlutterJNI was detached" message by just pressing back from the screen which triggered communication with the native side, like the `sensors` package, and backing up until the app is sent to the background, then the message would appear.

[2020-07-16 07:23] Arjun3010 commented on #61464
In my local setup, android sdk and flutter is in E: drive.

[2020-07-16 07:26] TahaTesser commented on #61566
Hi @ibrahim-abdulwahid-dev
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-07-16 07:35] kw2019ltd commented on #51352
@TahaTesser any update

[2020-07-16 07:39] martin-at-ipal opened #61598 "Tutorial First Flutter app suggestion"
**Problem:**
The tutorial [Write your first Flutter app, part 1 Step 4](https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#3) produces `error: Invalid constant value. (invalid_constant at [app1] lib/main.dart:18)`.

**Reason:**
[Step 4](https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#3) does not contain information about changing `        body: const Cent

[2020-07-16 07:44] Blankeer commented on #44796
Solution:
[code]

[2020-07-16 07:46] swift-kim commented on #26152
I'm working on this. I was able to run some Flutter apps on Tizen TVs. The biggest problem is, it is not allowed to deploy native apps (not .NET or web apps) on TV devices due to security restrictions. It's not able to bypass them on customer devices as of now. I hope there will be a good news in the future.

[2020-07-16 07:49] creativecreatorormaybenot commented on #61591
@jonahwilliams Well, it happens with **any** `AnimatedBuilder`.

I will try to be more detailed:

[code]

This throws the error (`flutter run -d chrome --enable-experiment=non-nullable --no-sound-null-safety`):

![](https://i.imgur.com/MTffDiZ.png)

Changing `(context, child)` to `(context, Widget? child)` fixes it. (Flutter 1.20.0-8.0.pre.125)

[2020-07-16 07:52] huainanzi opened #61599 "Warning: CocoaPods is installed but broken. Skipping pod install. You appear to have CocoaPods installed but it is not working."
flutter doctor -v
![截屏2020-07-16 下午3 49 19](https://user-images.githubusercontent.com/17873544/87642350-fabfcc80-c77b-11ea-84bb-cd43271acda1.png)
I install  manager ruby version  use rbenv.
![截屏2020-07-16 下午3 52 27](https://user-images.githubusercontent.com/17873544/87642643-5ee29080-c77c-11ea-80f3-05063b55c244.png)
How to solved it

[2020-07-16 07:55] TavleenGill commented on #61464
I am facing same issue, initially was working on beta channel had this issue, tried almost everything nothing worked finally had to reinstall everything .Then started with master channel, it was working fine till now but now facing same issue here as well.

Please help me out.

[2020-07-16 07:59] a14n commented on #61591
I would say it is not related to the foundation migration to null safety. Could you try with the previous commit : 0a64b5b2713ae50c36821da7f97a9262f127968b and see if the failure happen?

[2020-07-16 08:00] #61599 closed

[2020-07-16 08:02] drriguz commented on #22024
I have the same issue when implementing the [encryptions](https://pub.dev/packages/encryptions) plugin, I tried to use FlutterIsolate to wrap calls but it's super slower than before, so I ended using native threads.

In ios, a `DispatchQueue` is used:

[code]

And in Android is pretty much the same idea, just use a new thread and `Looper.getMainLooper()`

I want to know if there is some official g

[2020-07-16 08:06] a14n commented on #61591
It may also be related to cb7770b3a52288d10fe6d5c78a7fa878dc39acce (the commit after 0a64b5b). It could be worth to test against this commit.

[2020-07-16 08:08] creativecreatorormaybenot commented on #61591
@a14n Checking out `0a64b5b` fixes it. So I think it might be that `Widget` extends `DiagnosticableTree` and that is what you changed.

So `Widget*` does not work when the super type is a no-star type, rough guess.

[2020-07-16 08:09] creativecreatorormaybenot commented on #61591
@a14n Checking out `0a64b5b` fixes it. So I think it might be that `Widget` extends `DiagnosticableTree` and that is what you changed.

So `Widget*` does not work when the super type is a no-star type, rough guess.

[2020-07-16 08:11] daohoangson commented on #61324
I have seen this in my app and have a working example:

<details>
<summary>main.dart</summary>

[code]
</details>

Please note that the exception only happens on stable channel (specifically `1.17.5` in my testing) and it works fine on dev or beta channels. That means someone has already fixed this bug, it would be great if the fix can be cherry picked and include in the next stable release.

[2020-07-16 08:13] TahaTesser commented on #61596
Hi @imeDevelopers
Can you please provide your `flutter run --verbose`,  your  `pubspec.yaml` and a complete reproducible minimal code sample
Thank you

[2020-07-16 08:16] TahaTesser commented on #61558
Hi @dannyvalentesonos
Can you please provide a complete reproducible minimal code sample. If it is the same code sample from https://github.com/flutter/flutter/issues/54275#issuecomment-611202002 with modification, please provide.
Thank you

[2020-07-16 08:16] creativecreatorormaybenot commented on #61591
@a14n Still there with `cb7770b`, so the assert change creates the error. `--no-null-assertions` fixes it.

[2020-07-16 08:16] darshankawar commented on #29112
Hi @The-Redhat,
Can you please confirm if you still experience performance issues on latest Flutter version (eg: dev, master) ?

[2020-07-16 08:18] creativecreatorormaybenot commented on #61591
I do not see how to disable these null assertions. I guessed `--no-null-assertions`, however, that does not exist an an option 🤔

[2020-07-16 08:18] The-Redhat commented on #29112
No I didn't experience performance issues lately.

[2020-07-16 08:19] #29112 closed

[2020-07-16 08:22] a14n commented on #61591
Thanks for your help. It doestn't seem possible to disable null assertions so you need to stay on 0a64b5b or revert locally cb7770b.

[2020-07-16 08:26] pedromassangocode commented on #29220
I was able to reproduce in `1.20.0-7.1.pre`.

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-16 08:28] nunomonteiro123 commented on #61542
### Solved ✅

[code]

[2020-07-16 08:28] #61542 closed

[2020-07-16 08:30] darshankawar commented on #47316
Hi @Nandhini-Ravichandran,
Are you still having this question or have found solution on it ?

[2020-07-16 08:32] darshankawar commented on #42347
Hi @iamprakash13,
Can you please confirm if you still experience this issue on latest Flutter version (eg: dev, master) or have you found a solution to resolve this ?

[2020-07-16 08:34] markusaksli-nc commented on #51194
Hi @manojkumawat003
This issue no longer seems reproducible on the latest master `1.20.0-8.0.pre.125` with the latest [android_alarm_manager 0.4.5+11](https://pub.dev/packages/android_alarm_manager/versions/0.4.5+11). Tested on Android 9 (API 28) SM G950F and Android 11 (API 30) emulator.

[Sample code](https://pub.dev/packages/android_alarm_manager/example)

Can you confirm if the issue persists

[2020-07-16 08:34] TahaTesser commented on #61597
Hi @AKZHW
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-07-16 08:38] iamprakash13 commented on #42347
I m using this in my old project with flutter version 1.12.13+hotfix.9 . Is this works with latest version.

[2020-07-16 08:53] moda20 commented on #61252
I was able to fix this issue by creating a "plugin enabled isolate" using flutter_isolate package and then using the problematic plugin there. I don't know why does this occur, my guess is there is somehow a cap on the number of active channels on the main thread because I do use multiple ReceivePorts

[2020-07-16 08:55] jamesblasco opened #61600 "Implement PrimaryScrollController inside CupertinoTabScaffold"
iOS native widgets have to feature that CupertinoTabScaffold doesn't support yet.

- Scroll to the top when the status bar is tapped. (This is only possible yet with material Scaffold)
- Scroll to the top when the active tab inside the CupertinoTabBar is tapped again.

I would like to propose to add a `PrimaryScrollController` that handle both cases. The implementation would be very similar to the

[2020-07-16 08:55] Nandhini-Ravichandran commented on #47316
@darshankawar  I didn't get any solution to stop the drawer animation

[2020-07-16 09:02] cwlp8024 commented on #61421
Hi  @TahaTesser

can you crash tha app by those steps? my online app have met a lot of these crashes.
It is imminently to solve this crash,could you provide some advices to avoid crash in android code rather than flutter code？

[2020-07-16 09:07] hassan-2040 commented on #61324
Thank you @daohoangson.

And i endorse your suggestion, I have an app close to production and this issue is getting critical by the minute. Hopefully the next stable update will include the fix.

[2020-07-16 09:10] TahaTesser commented on #61555
Issue is reproduced

<details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 09:11] cwlp8024 commented on #61421
@jonahwilliams can you help me?

[2020-07-16 09:13] cwlp8024 commented on #61421
@darshankawar can you help me?

[2020-07-16 09:16] TahaTesser commented on #61598
HI @martin-at-ipal
Looks there is an issue open for issue
Closing as duplicate of https://github.com/flutter/flutter/issues/53375

[2020-07-16 09:16] #61598 closed

[2020-07-16 09:31] anku-caps opened #61601 "[tool_crash] FileSystemException: Cannot copy file to 'C:\Users\Ankitha Pinky\Desktop\Mine\flutter_course\android\app\src\main\res\mipmap-hdpi\ic_launcher.png', path = 'C:\Users\Ankitha Pinky\Downloads\flutter\packages\flutter_tools\templates\app\android.tmpl\app\src\main\res\mipmap-hdpi\ic_launcher.png' (OS Error: Access is denied., errno = 5)"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: FileSystemException: Cannot copy file to 'C:\Users\Ankitha Pinky\Desktop\Mine\flutter_course\android\app\src\main\res\mipmap-hdpi\ic_launcher.png', path = 'C:\Users\Ankitha Pinky\Downloads\flutter\packages\flutter_tools\templates\app\android.tmpl\app\src\main\res\mipmap-hdpi\ic_launcher.png' (OS Error: Acce

[2020-07-16 09:32] VladyslavBondarenko commented on #61539
@liudonghua123
Yes I tried with and without `initializeDateFormatting('zh_CN', null);` or `en_US`

<details>
 <summary>even like this</summary>

[code]

</details>

and I always have correct result `I/flutter (29046): 2020-07-16 12:30:32`

[2020-07-16 09:34] TahaTesser commented on #61590
Hi @Faiyyaz

`RawKeyboardListener` is working fine on MacOS and Web.

<details>
<summary>Code Sample</summary>

[code]

</details>
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

if you're looking iOS key events, there is an open issue for it, f you disagree, please write in the comments and I will reopen it.
Closing as duplicate of https://github.com/flutter/flutter/issues/319

[2020-07-16 09:34] #61590 closed

[2020-07-16 09:36] darshankawar commented on #42347
@iamprakash13, I am not sure. You may try to upgrade Flutter to latest stable version and confirm. Also your question sounds more suitable for StackOverFlow. I'd suggest you to ask this question there.

[2020-07-16 09:36] YazeedAlKhalaf commented on #61601
We need more info to be able to help. Did you make any changes to the app? If yes please provide a replicable sample of code so we can replicate the error and solve it

[2020-07-16 09:36] TahaTesser commented on #61600
Hi @jamesblasco
Sounds like. a good idea, PRs are always welcome
Thank you

[2020-07-16 09:39] iamprakash13 commented on #42347
Okay, is this not plugin issue? Is that implementation problem? I followed plugins example.

[2020-07-16 09:40] imeDevelopers commented on #61596
@TahaTesser
the error itself tells you that this is flutter error in file `../../flutter/packages/flutter/lib/foundation.dart`, no need to know my code ..

i fixed this problem using `flutter downgrade` ...

[2020-07-16 09:41] anku-caps commented on #61601
I,myself solved the problem.
Thankyou.

[2020-07-16 09:41] #61601 closed

[2020-07-16 09:41] walkerwg commented on #61212
macdeMacBook-Pro-2:~ wg$ flutter doctor -v
[✓] Flutter (Channel stable, v1.17.5, on Mac OS X 10.14.6 18G103, locale zh-Hans-CN)
    • Flutter version 1.17.5 at /Users/wg/Flutter/flutter
    • Framework revision 8af6b2f038 (2 weeks ago), 2020-06-30 12:53:55 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.

[2020-07-16 09:41] YazeedAlKhalaf commented on #61453
@InspiredPrynce

Can you provide your platform, OS?
And also `flutter --dev` is not a command.

try:

1. `flutter doctor -v`

Can you provide the way you added flutter to PATH

[2020-07-16 09:42] YazeedAlKhalaf commented on #61601
You're welcome

[2020-07-16 09:51] yama3nomori opened #61602 "cannot move ListView.builder() with AlertDialogwhen TalkBack is enabled"
Android 9 is no problem.
But Android 10 is freezed.

If I used on body of Scaffold(), it's no problem.

'flutter doctor -v' is following:

[code]

Sample code is following:

[code]

[2020-07-16 09:57] markusaksli-nc commented on #8266
Reproducible on the latest master `1.20.0-8.0.pre.125`.
<details>
 <summary>Minimal reproducible sample</summary>

[code]
</details>

<details>
 <summary>flutter doctor -v</summary>

[code]
</details>

[2020-07-16 10:02] TahaTesser commented on #12769
Hi @balthild
given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-07-16 10:02] #12769 closed

[2020-07-16 10:14] pedromassangocode commented on #37903
Hi @snickersv2,
I wasn't able reproduce the issue based on the steps you provided. Please provide a minimal complete reproducible code sample.

@jonsamwell please provide a minimal complete reproducible code sample.

Thank you.

[2020-07-16 10:16] SahajRana commented on #28993
@cmkweber, I just ended up copying the whole FadeInImage class and make changes in it, like this
[code]

[2020-07-16 10:17] darshankawar commented on #52346
Issue is replicable on latest `dev channel (1.20.0-0.0.pre)`.

[2020-07-16 10:24] darshankawar commented on #55233
Hi @philipdolenko,
Can you please confirm if you still experience this issue (lag) on latest Flutter version (eg: dev, master) using same device that you mentioned ?

[2020-07-16 10:26] CAoTx commented on #61148
This works, thanks!

What i did exactly, being in project directory:
1. `flutter upgrade`
2. `flutter clean`
3. `mv linux ~/Desktop` (move it out of the way)
4. `flutter create .`

`flutter run -d Linux` works now

[2020-07-16 10:27] #61148 closed

[2020-07-16 10:29] TahaTesser commented on #61421
Hi @cwlp8024
As https://github.com/flutter/flutter/issues/61421#issuecomment-658229771 earlier, i cannot the crash with your steps after many tries

[2020-07-16 10:31] PingShen commented on #61421
@kangwang1988 can you help me

[2020-07-16 10:32] SANSKARJAIN2 commented on #61453
Hi @VladyslavBondarenko

Can you check whether "where" command is present in your system path
you can do by either checking the system32 path in system Environment Variables or
run the following command
where flutter
1. If it does not return the flutter directory then flutter is not listed properly in the environment variables
2. if it returns an error then add the path of system32 in the system e

[2020-07-16 10:33] johnmelodyme opened #61603 "Issue:: Unhandled Exception: NoSuchMethodError: The getter 'value' was called on null."
[code]
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 1.20.0-8.0.pre.125, on Mac OS X 10.15.4 19E287, locale en-GB)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.0)
[✓] Xcode - develop for iOS and macOS (Xcode 11.5)
[✓] Android Studio (version 3.6)
[✓] IntelliJ IDEA Community Edition (version 2020.1.2)
[✓] VS Code (version 1

[2020-07-16 10:37] ibrahim-abdulwahid-dev commented on #61566
@TahaTesser thanks for your replay

**flutter doctor -v**

[✓] Flutter (Channel stable, v1.17.0, on Mac OS X 10.15.5 19F101, locale en-US)
    • Flutter version 1.17.0 at /Users/m-store/flutter
    • Framework revision e6b34c2b5c (3 months ago), 2020-05-02 11:39:18 -0700
    • Engine revision 540786dd51
    • Dart version 2.8.1

[✓] Android toolchain - develop for Android devices (Android SDK vers

[2020-07-16 10:42] fhuonder opened #61604 "Support custom ADB sockets while debugging"
Hi,

I am working with a vscode devcontainer that contains the flutter installation.
My environment is Windows 10 with WSL2 and Docker (WSL2-backend). The devcontainer runs on this WSL2-backend-Docker instance.
First I created this issue https://github.com/Dart-Code/Dart-Code/issues/2640 but it turned out that it looks like a problem with flutter itself.

Due to the fact that it is currently not p

[2020-07-16 10:42] TahaTesser commented on #61175
@Freundschaft  @tomasbaran
I still  see same behaviour  on latest `master`
![flutter_02](https://user-images.githubusercontent.com/48603081/87661898-095bb300-c77f-11ea-81ff-ef0f870bbdda.png)
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 10:43] darshankawar commented on #41139
Hi @officer47p,
I tried to replicate this issue on `latest dev (1.20.0-0.0.pre`) and didn't see the error.

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>log</summary>

[code]

</details>

I didn't check if the `api doc` is updated yet, but atleast the error is gone :-)

Can you please confirm if you still experience this error on latest Flutter version (eg: dev,

[2020-07-16 10:43] MahmoudMehisen opened #61605 "TextField in RTL with multiline"
I  have a problem with TextField when RTL can't remove or access the previous lines.
![ezgif-4-0243f09c50c1](https://user-images.githubusercontent.com/35047994/87662057-f25a9800-c761-11ea-8c64-30a3370b510e.gif)

[2020-07-16 10:44] markusaksli-nc commented on #8279
Closing this as a duplicate of #60773, since the mentioned issue has reproducing steps please follow up on it.

[2020-07-16 10:44] #8279 closed

[2020-07-16 10:46] VladyslavBondarenko commented on #39900
Reproduces with current master `1.20.0-8.0.pre.125`.
I used iOS 13.5 simulator - text with external (laptop's) keyboard can be typed in only when soft keyboard is open (although text field remain focused).

On android when I type with external keyboard - soft keyboard pops up and text is typed

[2020-07-16 10:47] CAoTx commented on #61534
Hey, here is the output of  `flutter doctor -v` after I downgraded and switched from channel dev(1.19) to channel stable

Hey, I downgraded from dev 1.20 to dev 1.19, switched then from channel dev to stable and back again to dev (assuming that I land on dev 1.19. Here's the output of  `flutter doctor -v` after I switched:

Downloading Dart SDK from Flutter engine d48085141c2f201b1c534e6926eb39bb5

[2020-07-16 10:52] pedromassangocode commented on #51332
Hi @pankaj-kansodariya
I cannot reproduce this issue on latest `dev` channel.
Can you please upgrade to `dev` and try again:
`flutter channel dev`
`flutter upgrade --force`
`flutter doctor -v`

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-16 10:54] vanillabeach opened #61606 "Typo in Flutter Accessibility page"
There's a typo on flutter.dev, specifically at https://flutter.dev/docs/development/accessibility-and-localization/accessibility#inspecting-accessibility-support

```In the Accessibility Inspector, select Audit in the toolbar, and then select Run Audio to get a report of potential issues```

should read

```In the Accessibility Inspector, select Audit in the toolbar, and then select Run Audit to g

[2020-07-16 10:55] lukepighetti commented on #12920
I thought that was only shown when selecting text?

[2020-07-16 10:55] darshankawar commented on #47092
Hi @VadimOsovsky,
Can you please confirm if you still experience this issue on latest Flutter version (eg: dev, master) ?

[2020-07-16 10:58] IdrissMiraoui opened #61607 "PageView swiping problem"
There is incorrect behavior in PageView.
In fact, in my application I use a PageView with a PageController, and I added _pageController.addListener to do my processing when switching pages.
When the page is changed I display the index of the new page on the screen.

**Problem**:
When I **swipe to the left**: the index is displayed **_when I start the action_**
but when I **swipe to the right** the

[2020-07-16 11:02] 9767771902 opened #61608 "A non-null String must be provided to a Text widget."
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
3. ...

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-07-16 11:03] lukepighetti commented on #12920
Gotcha. Yeah, this issue is about the autocorrect suggestions that appear next to the iOS cursor while you're typing regardless of the styling of the app.

Currently it works as expected if you have `Predictive` setting turned on in `General => Keyboards`.

However, if that's turned off these tooltips do not appear when typing.

<img width="384" alt="Screen Shot 2020-07-16 at 7 02 19 AM" src="http

[2020-07-16 11:10] lukepighetti commented on #19279
Can you put it in a GitHub repo?

[2020-07-16 11:15] pedromassangocode commented on #54426
Hi @Terminators
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/

Closing, as this isn't an issue with Flutter itself. If you disagree, please write in

[2020-07-16 11:15] #54426 closed

[2020-07-16 11:23] yzg-github commented on #51424
hi@yjbanov here i have two question:
1.i want to build a flutter web app within canvaskit,then i set --dart-define=FLUTTER_WEB_USE_SKIA=true but it seems not work. how can i make sure the value --dart-define=FLUTTER_WEB_USE_SKIA=true has worked?
2.how can i build a flutter web app within local canvaskit? i can't find any article about how to use local canvaskit?could you tell me the setps about us

[2020-07-16 11:23] markusaksli-nc commented on #10961
Reproducible on latest master `1.20.0-8.0.pre.125`.
<details>
 <summary>Minimal reproducible sample</summary>

[code]
</details>
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>
<details>
 <summary>Relevant logs</summary>

[code]
</details>

[2020-07-16 11:26] darshankawar commented on #61606
Hi @vanillabeach,
I think it should read `Audio`, since the`Accessibility Inspector` in Xcode is used as a voiceover for the elements and has `Play` button for it, so I think the statement / word is correct, unless I missed anything that I didn't understand.

![Screen Shot 2020-07-16 at 4 51 31 PM](https://user-images.githubusercontent.com/67046386/87665775-15e30a00-c785-11ea-80f8-498be84d18e0.png

[2020-07-16 11:27] markusaksli-nc commented on #10969
Reproducible on latest master `1.20.0-8.0.pre.125`
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>

[2020-07-16 11:27] darshankawar commented on #61603
Hi @johnmelodyme,
Please provide a minimal complete reproducible code sample that shows the issue you are facing.
Thanks.

[2020-07-16 11:34] dnishimoto commented on #55627
use flutter run -d chrome --release --dart-define=FLUTTER_WEB_USE_SKIA=true as a work around.  It will compile your code for the web.  Don't use flutter build web.   copy the build -> web files

[2020-07-16 11:37] yzg-github opened #61610 "how to use local canvaskit to build flutter web app?"
hi@yjbanov here i have three questions:
1.i want to build a flutter web app within canvaskit,then i set --dart-define=FLUTTER_WEB_USE_SKIA=true but it seems not work. how can i make sure the value --dart-define=FLUTTER_WEB_USE_SKIA=true has worked?
2.how can i build a flutter web app within local canvaskit ? i can't find any article about how to use local canvaskit. could you tell me the setps abo

[2020-07-16 11:38] darshankawar commented on #61608
Hi @9767771902 ,
While opening an issue please try to provide all or some of the information indicated in the template.

<details>
<summary>Issue Template</summary>

[code]

</details>

Closing this issue, since no information is provided.
Thanks.

[2020-07-16 11:38] #61608 closed

[2020-07-16 11:43] TahaTesser commented on #42793
it's announce `Item 1,  switch button, on` not as s "selected, item 1, dim"

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 11:44] VladyslavBondarenko commented on #61605
Hi @MahmoudMehisen
could you provide your `flutter doctor -v`?
I tried with current master `1.20.0-8.0.pre.125` on iOS 13.5 simulator, but couldn't reproduce. Does it happen only with real device?

Provide a complete minimal reproducible code sample if this one works correctly

[code]

[2020-07-16 11:48] origamisimplicity opened #61611 "How to use listed Items on a splited String?"
Hey im strugling on how to hande the after split list of string.

https://prnt.sc/tiwz87

Im want to use the [1] and [2] of the print above as diferent strings like:

[code]

[2020-07-16 11:54] matehat commented on #12920
It doesn't seem like option 2 is possible if I look at all the documentation and questions around predictive UI.

I think showing the tooltip is more important than showing the exact highlighted region, since the tooltip gives you the ability to accept or refuse a correction.

Is there a way to show the tooltip and position it approximately right?

[2020-07-16 11:54] TahaTesser commented on #29218
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 11:58] darshankawar commented on #61611
Hi @origamisimplicity,
This platform is not meant for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this.
You may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write i

[2020-07-16 11:58] #61611 closed

[2020-07-16 12:10] TahaTesser commented on #26180
<details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 12:13] markusaksli-nc commented on #29565
Closing this issue as a duplicate of #38684. Please follow up on the mentioned issue.

[2020-07-16 12:13] #29565 closed

[2020-07-16 12:18] TahaTesser commented on #35106
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 12:23] xJon commented on #18450
@stuz5000 You're right; I happened to use Stacks for my layout.

[2020-07-16 12:25] TahaTesser commented on #35706
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 12:25] libo1223 opened #61612 "If I create an activity and use methodchannel, can flutter receive it?"
I create an activity and use methodChannel, but i find that the result.success() didn't work. Flutter didn't receive the result.

[2020-07-16 12:28] darshankawar commented on #61602
Hi @yama3nomori,
When you say `cannot move ListView.builder()`, what do you mean exactly ? Does the AlertDialog show up when you tap on FAB or it doesn't show up when talkback is ON ? Can you elaborate on this ?

Also, I tried to replicate your code on Android 8.1.0 on which I was able to select the values from listview in alertDialog with talkback ON.
However, when I tried the same on Samsung s10

[2020-07-16 12:30] VladyslavBondarenko commented on #61607
Reproduces with current master `1.20.0-8.0.pre.125`:
when I'm on the page 1:
If I swipe from right to left, it will show 1 as current page during swipe, and 2 - new current page - on the end, when swipe is finished.
If I swipe from left to right, it will show always 0, as current page is the new page, from beginning of the swipe gesture.

<details>
 <summary>flutter doctor -v</summary>

[code]

</

[2020-07-16 12:32] vimkaf opened #61613 "Unhandled exception: FileSystemException: Cannot open file, path = '/home/kay/.flutter_tool_state' (OS Error: Permission denied, errno = 13)"
## Steps to Reproduce
1. ...
2. ...
3. ...

After successful installation of the latest stable version of flutter i cant run any flutter command from my terminal. i cant run `flutter --version` and `flutter doctor`. I have setup the path correctly.
![Screenshot from 2020-07-16 13-29-50](https://user-images.githubusercontent.com/2923113/87671104-ad862f80-c768-11ea-9dbc-35463530f7d8.png)
![Screensho

[2020-07-16 12:33] dannyvalentesonos commented on #61558
@TahaTesser The same app does repro the problem, but here's an updated version that builds out of the gate with the latest flutter tools.
[Add2AppTest.zip](https://github.com/flutter/flutter/files/4931475/Add2AppTest.zip)

[2020-07-16 12:35] MahmoudMehisen commented on #61605
Hi @VladyslavBondarenko ,

[√] Flutter (Channel stable, v1.17.5, on Microsoft Windows [Version 10.0.19041.329], locale en-US)
    • Flutter version 1.17.5 at C:\src\flutter
    • Framework revision 8af6b2f038 (2 weeks ago), 2020-06-30 12:53:55 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[√] Android toolchain - develop for Android devices (Android SDK version 30.0.0)
    • Andr

[2020-07-16 12:39] Jan-pp commented on #19279
I dumped it on GitHub now (see prev. post). Not a proper repo yet but it's something.

[2020-07-16 12:39] markusaksli-nc commented on #56027
Hi @guidezpl
This issue no longer seems reproducible on the latest master `1.20.0-8.0.pre.125`.
<img src="https://user-images.githubusercontent.com/68219924/87671376-f09cce80-c779-11ea-8cd8-456f34f163e3.png" height="400" />
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>

Can you confirm?
Thank you

[2020-07-16 12:47] pedromassangocode commented on #19891
I checked the two variables and can confirm that the default values in the current `dev` channel is a follow:

background color: `#2196f3`
foreground color: `#FFFFFF`

Tested with the default Flutter counter app.

https://github.com/flutter/flutter/blob/7736f3bc90270dcb0480db2ccffbf1d13c28db85/packages/flutter/lib/src/material/floating_action_button.dart#L452-L457

[2020-07-16 12:52] roman-petrov commented on #52207
@dnfield , I understand that implementing browser-like scrolling behavior and performance might be more complicated. But IMHO this also can give more value in terms of Flutter usability & performance because Flutter users will not have to specify any `itemExtents` to implement efficient scrolling.

Moreover, in many cases (including the case in my JsFiddle) `itemExtents` are not known at compile t

[2020-07-16 12:53] UnicornsOnLSD opened #61614 "[web] Text is clipped on some browsers in TextField and Text Widget"
## Steps to Reproduce

1. Download the example project: [bug_report.zip](https://github.com/flutter/flutter/files/4931518/bug_report.zip).
2. Run the project with `flutter run`.
3. Open the website in Firefox.
4. Type some text in the text box. Lowercase Gs are particularly bad.
5. Open the website in Chrome or use a useragent switcher in Firefox.
6. Type some text in the text box. There will be n

[2020-07-16 12:54] guilhermeagostinelli commented on #28651
Thanks @GaryQian ! I'm not getting the RuntimeException anymore, but if I re-open the app and navigate back from a specific page, I get a

`Tried to send a platform message to Flutter, but FlutterJNI was detached from native C++. Could not send. Channel: plugins.flutter.io/cloud_firestore. Response ID: 0`

$ flutter doctor -v:
[code]

[2020-07-16 12:57] markusaksli-nc commented on #60005
Hi @Deepanshu-Rohilla
Please consider filing this issue in the [curved_navigation_bar plugin’s repository](https://github.com/rafalbednarczuk/curved_navigation_bar/issues) or please provide a complete minimal reproducing code sample without using third-party plugins.
Thank you

[2020-07-16 12:58] esDotDev commented on #52207
Its true that it's not always practical for even the developer to compute the size, for example paragraphs of multi-line text. So passing sizes is not a silver-bullet, just a very nice tool in the toolbox.

[2020-07-16 12:58] GaryQian commented on #28651
Is this causing any unexpected behavior? This warning was introduced in flutter/engine#8170 which fixed the platform message version of this bug and should just reflect the detached JNI state.

[2020-07-16 13:00] TahaTesser commented on #26365
Hi @ammar-esrawi
Not able to reproduce this issue, please try this code sample

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>Code Sample</summary>

[code]

</details>

[2020-07-16 13:00] evdinursan commented on #53490
Hi everyone! Wanted to let you know that this morning I updated my Xcode to 15.6 and now the issue is gone. If you deploy it on a phisical device (ios) you should be aware that you also should update the iPhone to 13.6 in order to see the fix.

[2020-07-16 13:00] GaryQian commented on #28651
@markfili Can you try a `flutter upgrade` before trying again? It looks like your revision was from 10hrs ago from when you posted, which may not include the necessary changes.

[2020-07-16 13:03] Alban13520 commented on #26365
Bonjour,

Vous venez d'envoyer un message à l'adresse :
flutter@noreply.github.com.

Notre politique de lutte contre les spams nécessite qu'un
expéditeur soit reconnu pour que ses messages puissent
être acceptés et transmis à son destinataire.

Vous recevez ce message car c'est la première fois que vous
envoyez un e-mail à l'adresse :
flutter@noreply.github.com.

Pour confirmer et valider le fait

[2020-07-16 13:03] darshankawar commented on #42347
@iamprakash13,
Which plugin are you talking about ? `DataTable` isn't a plugin but a material widget. Please provide the plugin example that you followed.

[2020-07-16 13:04] TahaTesser commented on #30107
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-07-16 13:04] #30107 closed

[2020-07-16 13:07] markusaksli-nc commented on #58412
Hi @mehmetf
I cannot reproduce this issue either on the latest master `1.20.0-8.0.pre.125` with an SM G950F.
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>

Can you confirm if the issue still persists?
Thank you

[2020-07-16 13:10] GaryQian commented on #61605
Can you try this on dev channel? This may have been fixed already by https://github.com/flutter/flutter/pull/59379 but is not yet in stable.

`flutter channel dev`
`flutter upgrade`

[2020-07-16 13:12] cmkweber commented on #28993
Yep, that works too. I think FadeInImage should be able to pass all the relevant parameters to RawImage though.

[2020-07-16 13:15] guyo13 commented on #60268
facing a similar issue, but error only happens after I hot restart the app.

[2020-07-16 13:15] darshankawar commented on #61613
Hi @vimkaf,
I see there's a similar open issue describing your case, [59836](https://github.com/flutter/flutter/issues/59836).
I'd suggest you to follow-up there for updates on this issue.
I am going ahead and closing this as duplicate. If you disagree, please write in comments and I'll reopen.
Thanks.

[2020-07-16 13:15] #61613 closed

[2020-07-16 13:21] soloxiao commented on #42497
Currently I'm facing the issue again with version  1.18.0-11.1.pre. What I've done is just read the component then write the component.  And the error is 'Reference to dart:core::Deprecated is not bound to an AST node. A class was expected'

[2020-07-16 13:21] guidezpl commented on #56027
Confirmed, thank you. Closing

[2020-07-16 13:21] #56027 closed

[2020-07-16 13:22] pedromassangocode commented on #6983
I was able to replicate this issue in `1.20.0-7.1.pre`.

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-16 13:22] arafaysaleem commented on #61222
@goderbauer i have a PR ready to merge

[2020-07-16 13:25] TahaTesser commented on #36910
<details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 13:29] gabrielgarciagava commented on #45292
@ditman I just starred your fork, this is an awesome job you are working on. I already tested it locally, and it is pretty nice :)
I would like to know if there is any kind of estimates to have it "ready to integrate".

[2020-07-16 13:34] TahaTesser commented on #40986
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 13:38] Prashanth00 commented on #17838
Just uninstall and debug again .It might work.

[2020-07-16 13:39] #60268 closed

[2020-07-16 13:39] Sese-Schneider commented on #60924
@VladyslavBondarenko I have the same issue, possible duplicate of https://github.com/flutter/flutter/issues/61096

[2020-07-16 13:40] TahaTesser commented on #40962
This is difficult to understand to  reproduce even when enabling Burmese on the device. Will need someone wo understands Burmese

[2020-07-16 13:48] TahaTesser commented on #44001
I can reproduce it
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 13:53] markusaksli-nc commented on #59049
Hi @mehmetf
This issue no longer seems reproducible on the latest master `1.20.0-8.0.pre.125`.

- `elevation: 1`

![Annotation 2020-07-16 165011](https://user-images.githubusercontent.com/68219924/87679169-86d5f200-c784-11ea-9b1a-a674454a1b0c.png)

- `elevation: 0`

![Annotation 2020-07-16 165040](https://user-images.githubusercontent.com/68219924/87679175-889fb580-c784-11ea-8b5f-1d120bd67c26.png)

[2020-07-16 13:56] jonasfj commented on #61459
Hmm, so it's interesting how the cache got corrupted the first time around :/

The fact that it's intermittent, suggests to me that we should do more to verify the downloads we do.

[2020-07-16 13:59] CareF commented on #59884
It's a stupid question. Anything that's not `export`ed will not show in the api docs.

[2020-07-16 13:59] #59884 closed

[2020-07-16 13:59] jinfagang commented on #60711
[code]

[2020-07-16 14:00] VladyslavBondarenko commented on #58494
dropdown in flutter - https://master-api.flutter.dev/flutter/material/DropdownButton-class.html
select in web - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select

[2020-07-16 14:00] jinfagang opened #61615 "java.lang.AssertionError: java.lang.NoSuchFieldException: DrawableResource"
[code]

flutter run can work, flutter build apk got this break.

Also this error is sometime happen, sometimes not...

[2020-07-16 14:01] Erichrahsel commented on #14925
Need 32bit flutter please

[2020-07-16 14:01] TahaTesser commented on #22092
I also expect to use any scaffold  but it cannot work
[code]

Try this code sample

<details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 14:02] pedromassangocode commented on #9602
I was able to reproduce in `1.20.0-7.1.pre`.

<details>
<summary> Complete sample code</summary>

[code]
</details>

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-16 14:03] romathebest commented on #52571
@TahaTesser after an hour of trying to reproduce it for example I finally got where is the problem. It is in navigation and page routing. I have created TestLayout with header, footer, and make navigation in the center. In such a case, all tooltips are shifted.
![Annotation 2020-07-16 170241](https://user-images.githubusercontent.com/3680216/87680519-33fd3a00-c786-11ea-99a5-7bec6c347079.png)

Here

[2020-07-16 14:10] dashanan13 commented on #61249
I am not sure how is this my personal code?
I am creating standard project and using it to open a standard dialog box with standard text manipulate technique.
Isn't that what a dialog is used for?
Ps, I have it on stackoverflow as well while I posted it here.

[2020-07-16 14:17] rampal opened #61616 "webview_flutter version 0.3.21 - On Android webview data is getting cached"
We are using webview_flutter version 0.3.21 in our application to load web page data. On Android device/emulator when visiting to webview page whatever data is shown same data is being shown if I logout and re-login with different user. Web view cache is not getting clear.

It is working perfectly fine on IOS devices/simulators but issue is coming on Android.

We tried following options but it did

[2020-07-16 14:19] jsantaana commented on #53490
Just tested my app without any changes after updating my iPad to 13.6 and can confirm is working now!! Awesome. Thanks @evdinursan for the good news!

[2020-07-16 14:21] Sese-Schneider commented on #61096
@VladyslavBondarenko @pulkitnanda49 I could reproduce this issue with `video_player: '=>0.10.10' It looks like this got broken starting at `0.10.10`, as its working on `0.10.9`.
I think there is a network import issue.

Tested on channel `stable`, `v1.17.x`, HST file.

[2020-07-16 14:21] markusaksli-nc commented on #18239
Please follow up on #45938 and feel free to comment there, closing this issue to track it there.

[2020-07-16 14:21] #18239 closed

[2020-07-16 14:21] DarkerPrince commented on #23651
i still didnt get any change after i changed my buildscript in the flutter.gradle file

[2020-07-16 14:28] TahaTesser commented on #28934
i can reproduce the issue on Android but not on iOS
### Android
![ezgif com-resize (1)](https://user-images.githubusercontent.com/48603081/87683332-8fd3bd00-c79e-11ea-8e63-13397fd3906d.gif)
### iOS
![ezgif com-resize](https://user-images.githubusercontent.com/48603081/87683334-906c5380-c79e-11ea-8d7c-d7ad271a087c.gif)

<details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summar

[2020-07-16 14:33] SSVernekar commented on #49634
hello it is a really nice one to build flutter web, but how can i load dynamic url in iframe.?
I tried this one.

// ignore: avoid_web_libraries_in_flutter
import 'dart:html';
import 'dart:ui' as ui;

import 'package:flutter/material.dart';

// ignore: must_be_immutable
class IframeView extends StatefulWidget {

String url;
IframeView(this.url);
@override
_IframeViewState createState() => _IframeV

[2020-07-16 14:35] SSVernekar commented on #49634
@yjbanov @Hixie @hterkelsen @jstuth @mkiisoft @  anyone have idea please hep me

[2020-07-16 14:38] mtspinto commented on #9149
Not sure if it's because of an update... but this worked for me... textAlign: TextAlign.center. For both TextFormField and TextField

`
          TextFormField(
            textAlign: TextAlign.center,
            style: TextStyle(fontSize: 36),
            keyboardType: TextInputType.number,
            controller: _numberController,
            decoration: InputDecoration(hintText: 'Type number'

[2020-07-16 14:38] mrifni commented on #24584
no offence to flutter, but i can tell you flutter team would take at least 18 months to fix this issue. based on my experience on past reported bugs.

[2020-07-16 14:41] TahaTesser commented on #37162
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 14:44] AcodeWang commented on #59245
For me, `Flutter clean` solve the problem.

[2020-07-16 14:45] TahaTesser commented on #37969
Issue reproducible https://gallery.flutter.dev/#/demo/text-field <details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 14:45] HansMuller commented on #61583
This issue is easy to reproduce using DartPad.

CC @justinmc

![input_issue](https://user-images.githubusercontent.com/1377460/87685462-451f5a00-c738-11ea-8ef1-77efd0dd8cc4.gif)

[2020-07-16 14:45] kklepper commented on #61459
What can I do? Let me remember.

It looks like the dart SDK had been installed before for some reason, but as flutter installs it's own, that should not matter.

Next I started with a download of the zip file and unzipped it to some directory. I guess it was because that looked like an awful large job, I read on and found out about git clone and tried that as well which went like a breeze in compa

[2020-07-16 14:52] mehmetf commented on #58412
Closing as not reproducible.

[2020-07-16 14:52] #58412 closed

[2020-07-16 14:54] mehmetf commented on #59049
It is not clear from your screenshots. Where's the green focus selector?

[2020-07-16 14:55] MahmoudMehisen commented on #61605
@GaryQian  it's work thanks.

[2020-07-16 14:55] #61605 closed

[2020-07-16 14:56] TahaTesser commented on #33513
<details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 14:57] VladyslavBondarenko commented on #61615
Hi @jinfagang
do last comments from https://github.com/flutter/flutter/issues/56019 help?

[2020-07-16 14:58] pedromassangocode commented on #29080
Hi @370966584
I cannot reproduce this issue on latest `dev` and `stable` channel.
Please update to the latest `stable` channel by running:
`flutter channel stable`
`flutter upgrade --force`
`flutter doctor -v`

<details>
<summary> Sample code</summary>

[code]
</details>

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

Closing this since the issue seems to be fixed.
Please feel

[2020-07-16 14:58] #29080 closed

[2020-07-16 15:02] VladyslavBondarenko commented on #61616
Hi @rampal
please follow up on https://github.com/flutter/flutter/issues/53122, closing as duplicate

[2020-07-16 15:02] #61616 closed

[2020-07-16 15:05] TahaTesser commented on #52571
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 15:09] zanderso commented on #61267
The test has not failed in a couple of days. I am dropping this from P0 -> P3.

@godofredoc @jmagman @gaaclarke Please file new issues for follow-on work, if any, and let's close this one.

[2020-07-16 15:10] ScottS2017 opened #61617 "flutter_test needs patch on dev (maybe more): test_api >=0.2.18 is incompatible with flutter_test from sdk"
I went over this with Simon, he confirmed the bug.

Short version:

- Create new app, by default you get test_api: 0.2.18
- Add the newest version of flutter_test (test: 1.15.3) to dev dependencies

Run pub get and this is the result:

Because test_api >=0.2.18 depends on matcher 0.12.9 and every version of flutter_test from sdk depends on matcher 0.12.8, test_api >=0.2.18 is incompatible with flu

[2020-07-16 15:11] VladyslavBondarenko commented on #61612
Hi @libo1223
have you followed https://flutter.dev/docs/development/platform-integration/platform-channels?
could you provide your `flutter doctor -v` and minimal reproducible project?

[2020-07-16 15:17] AirborneEagle opened #61618 "AppBar.brightness not changing the title widget text color"
## Steps to Reproduce

1. Create this app:
[code]
2. uncomment the two commented lines
3. The title text stays white

**Expected results:**
 I expected the title text to go dark. The icons in the status bar of the phone go dark, but not the text of the title.

**Actual results:**
The text in the title widget remains white
![image](https://user-images.githubusercontent.com/13696163/87688880-c54bbc8

[2020-07-16 15:20] pedromassangocode commented on #15404
This is reproducible in `1.20.0-7.1.pre`.

<details>
<summary> Complete sample code</summary>

[code]
</details>

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-16 15:23] TahaTesser commented on #52863
I can focus on texiifeld  after scrolll

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 15:26] matehat commented on #12920
Sorry I just saw this part of @LongCatIsLooong comment:

Maybe a minimal but non-zero width, and a height deducted from the text's known line height would do?

[2020-07-16 15:27] Andrew214-dot commented on #26308
hello friends, i have an one doubt we are already know about how does work java and xml to develop android application but , how does work flutter and dart language  to develop android application?

[2020-07-16 15:27] markusaksli-nc commented on #59049
Does not reproduce during debugging, reproduces with Voice Assistant (TalkBack), my bad.

[2020-07-16 15:29] jonasfj commented on #61459
Hmm, interesting.. I guess this could be many different things.

[2020-07-16 15:30] herrmartell commented on #36953
I no longer experience this issue.

[2020-07-16 15:33] TahaTesser commented on #58473
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 15:33] Afsar-Pasha opened #61619 "Change ChangeNotifier implementation"
Currently `ChangeNotifier` creates new `List` for every `notifyListeners()` also checks `_listeners.contains(listener)` for every listener, also `AnimationController` uses similar approach implemented in `AnimationLocalListenersMixin` which usually calls `notifyListeners()` every frame on animation.

Since dart is single threaded maybe we can implement it something similar to,

[code]

It does req

[2020-07-16 15:39] justinmc commented on #61583
This still exists in master and appears to be web-only.  I was able to reproduce it on master in Chrome but not on iOS.

[2020-07-16 15:42] TahaTesser commented on #59881
Cannot reproduce on Android and MacOS app

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-16 15:43] godofredoc opened #61620 "[engine] Scenario tests are flaky on flutter-try-mac-x machines"
iOS tests were failing all the time for no apparent reason. We identified that mac machines provided by chromium were failing less frequently and limited the ios tests to run only on those machines.

Tests have been stable for a few days but we need to identify the reason all the macs in 1808 are failing the tasks.

Some examples of failing tasks:

* https://ci.chromium.org/p/flutter/builders/try/

[2020-07-16 15:44] godofredoc commented on #61620
This is a P1 because even though ios tests are now passing they are limited to use 1/3 of the existing capacity.

[2020-07-16 15:45] godofredoc commented on #61267
The remaining is work is to identify why the machines in 1808 are failing tasks more frequently and randomly. This is the bug tracking the remaining work:

https://github.com/flutter/flutter/issues/61620

[2020-07-16 15:47] johnpryan commented on #55627
It should also be okay to use `flutter build web` (e.g. `flutter build web --release --dart-define=FLUTTER_WEB_USE_SKIA=true`). Are you seeing an issue?

[2020-07-16 15:47] kklepper commented on #61459
I was tempted to use the zip version because it was offered first and it claimed to be a serious offer. The clone version came second and looked more like a poor man's solution.

Why did they do that? If you are eager to proceed you will take the first best. I had a second look only after the download started. And then I thought that the zip version must be more authoritative, so I opted for that.

[2020-07-16 15:54] zanderso commented on #61267
@godofredoc Thanks! Closing this one.

[2020-07-16 15:54] #61267 closed

[2020-07-16 16:10] VladyslavBondarenko commented on #61618
Reproduces with current master `1.20.0-8.0.pre.125`,
Related to https://github.com/flutter/flutter/issues/50606

[2020-07-16 16:12] justinmc commented on #61583
CC @nturgut.

[2020-07-16 16:12] VladyslavBondarenko commented on #42497
@soloxiao consider to file a new issue with filling out template

[2020-07-16 16:19] iJimmyWei opened #61622 "Vertical stepper long title or subtitle causes overflow"
## Steps to Reproduce

1. Create a stepper using the `Stepper` component
2. Ensure that at least one of the `Step` has a long title or subtitle, or both

[code]

**Expected results:**
For it to not overflow

**Actual results:**
It overflowed
![image](https://user-images.githubusercontent.com/46089773/87696122-51330800-c788-11ea-99ba-1770cf1b9e51.png)

<details>
  <summary>Logs</summary>

[code]

[

[2020-07-16 16:26] ospar0829 commented on #27187
same occurs when you generate a Step with a StreamBuilder when receiving a new/deleted document (Firestore)

[2020-07-16 16:27] goderbauer commented on #61222
Can you link to it?

[2020-07-16 16:28] VladyslavBondarenko commented on #61096
@Sese-Schneider could you provide link to the file with which you can reproduce the exception? does it persist with this code sample?

[2020-07-16 16:28] chunhtai commented on #61341
<details>
<summary>Code Sample</summary>

[code]
</details>

I modified the example from  @TahaTesser a little bit and it does work. Am i missing something?

[2020-07-16 16:31] #56363 closed

[2020-07-16 16:31] #15404 closed

[2020-07-16 16:31] #18885 closed

[2020-07-16 16:31] #36154 closed

[2020-07-16 16:31] #48876 closed

[2020-07-16 16:32] Sese-Schneider commented on #61096
@VladyslavBondarenko unfortunately I cannot provide the HST file as it's confidential, however, I also tested with the code above which gave me the same issue.

How can I help you troubleshooting it?

[2020-07-16 16:34] VladyslavBondarenko commented on #60268
@guyo13
I tried to do hot restarts with https://github.com/flutter/flutter/issues/60268#issuecomment-649517285, master `1.20.0-8.0.pre.125`, but can't reproduce.
what flutter version do you use? can you hit the error with mentioned code sample?

[2020-07-16 16:35] nscobie opened #61624 "Scrollable containers don't make edge elements fully visible when swiping a11y focus on iOS"
Related: #36307 for Android `GridView` issues.

### Problem

When using an accessibility service on iOS (VoiceOver), focusing on an element (by tap or swipe) in a scrollable container (`GridView`, `ListView`, etc.) which is partially obscured does _not_ make the element fully visible. However, swiping to a fully hidden element beyond the currently visible items _does_ make the element visible by s

[2020-07-16 16:36] #38526 closed

[2020-07-16 16:36] yjbanov commented on #61111
`FlutterDriver` is meant to be cross-platform, so if we add an API for this, it would need to be something that also makes sense on mobile. So the feature might be to support pushing/popping routes. This wouldn't be a web-specific feature (so I'll remove the `platform-web` label from the issue).

As a workaround, consider using [requestData](https://api.flutter.dev/flutter/flutter_driver/FlutterDr

[2020-07-16 16:36] kf6gpe opened #61625 "Increase in Flutter memory usage"
https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=56281.

[2020-07-16 16:38] kf6gpe opened #61627 "Error message for mismatched platform attach on Flutter on device is misleading"
https://b.corp.google.com/issues/161382063.

[2020-07-16 16:39] kf6gpe opened #61628 "Connecting mis-matched Flutter platforms between blaze and device"
https://b.corp.google.com/issues/161381934.

[2020-07-16 16:40] yjbanov commented on #61614
/cc @mdebbar wondering if there's something with text measurement in FF

[2020-07-16 16:41] #17096 closed

[2020-07-16 16:43] aleksandar-radivojevic commented on #13848
@BaranMichal25 Can you please show me how to do it when I have 7 tabs? I just cant figure it out. Thanks bro 🚀

[2020-07-16 16:47] VladyslavBondarenko commented on #61534
@CAoTx

I tried to perform the same:

dev 1.20.0-7.1.pre -> dev 1.20.0-7.0.pre -> stable -> dev. It remains on dev 1.20.0-7.0.pre.

<details>
 <summary>log</summary>

[code]

</details>

In what way did you downgrade to `dev 1.19`? does `flutter doctor` show `1.19` after downgrading?

[2020-07-16 16:48] dpedrinha commented on #61494
Also, what about the AndroidX and cloud firestore error? Seems to be unrelated to the first one.

[2020-07-16 16:48] yjbanov commented on #61583
Deduplicating with https://github.com/flutter/flutter/issues/60397

[2020-07-16 16:48] #61583 closed

[2020-07-16 16:49] VladyslavBondarenko commented on #51424
@yzg-github I'm linking your question here https://github.com/flutter/flutter/issues/61610

[2020-07-16 16:49] jonahwilliams commented on #61591
To be clear - we're not going to disable --null-assertions, or support disabling it. This is either a bug in our code or a bug in null assertions that needs to be fixed

[2020-07-16 16:51] #61508 closed

[2020-07-16 16:51] VladyslavBondarenko commented on #27187
@ospar0829 consider to file a new issue with filling out template, it'll be good if you can provide a minimal reproducible code sample without using Firestore

[2020-07-16 16:51] nscobie commented on #36307
The problems related to this issue are somewhat different on Android vs iOS, so I've split off the iOS problems to issue #61624.

### iOS

As documented on #61624, this problem stems from how implicit accessibility scrolling had to be implemented on iOS, and applies to all scrollable containers, including things like `ListView`.

### Android

Android seems to have better accessibility support for

[2020-07-16 16:52] #58999 closed

[2020-07-16 16:53] yjbanov commented on #61610
To use a custom build of CanvasKit you can build a custom Flutter engine and point it to your build of CanvasKit by changing the URL here: https://github.com/flutter/engine/blob/master/lib/web_ui/lib/src/engine/compositor/initialization.dart#L17. We will support it without having to build your own engine as part of https://github.com/flutter/flutter/issues/51424.

To add something new to CanvasKit

[2020-07-16 16:53] tvolkert commented on #59881
I can no longer reproduce this at ToT.  Lemme try to bisect it and see where it was fixed, so we can assess whether it's worth adding a test to guard against it getting reintroduced.

[2020-07-16 16:53] jonahwilliams commented on #61596
@imeDevelopers can you run `flutter pub get` again to see if the issue persists? If so, please look in `.dart_tool/package_config` and report the version of `meta` that is there

[2020-07-16 16:56] yjbanov commented on #60670
This sounds like a general desktop framework issue (i.e. it's not web-specific), so I'll remove the web label. The desktop label sufficiently describes the issue.

[2020-07-16 16:56] #58122 closed

[2020-07-16 16:59] yjbanov commented on #61464
Sounds like a Windows-specific issue. We'll investigate.

[2020-07-16 17:00] kenzieschmoll opened #61629 "Flutter requirements for code size tooling"
We are adding code size tooling to DevTools that will allow a user to analyze AOT snapshots and APKs.

To generate a snapshot a user can run `flutter build aot --release --extra-gen-snapshot-options=--write-v8-snapshot-profile-to=./profile.json`. This output can be analyzed in DevTools with visualization tools @peterdjlee has built.

We also need to be able to generate an APK and include AOT snaps

[2020-07-16 17:01] Rayyan2650 opened #61630 "No pubspec.yaml found"
when i write in terminal flutter run it say (Error: No pubspec.yaml file found.
This command should be run from the root of your Flutter project.
Do not run this command from the root of your git clone of Flutter.
Error: No pubspec.yaml file found.
This command should be run from the root of your Flutter project.
Do not run this command from the root of your git clone of Flutter.)     Please help

[2020-07-16 17:01] yjbanov commented on #61464
In the meantime, can you please try the following workarounds:

- Use profile or release mode: `flutter run --profile ...` or `flutter run --release ...`.
- Add the `--dart-define=FLUTTER_WEB_USE_SKIA=true` option.

[2020-07-16 17:02] jonahwilliams commented on #61591
I cannot reproduce this on the latest master. @creativecreatorormaybenot can you provide a complete example?

[2020-07-16 17:02] jonahwilliams commented on #61591
Oh, I see - you've opted into null safety?

[2020-07-16 17:04] mehmetf opened #61631 "a11y focus moves randomly in GridView with many children."
b/161434746

During the navigation in GridView, when GridView is scrolled by swiping, it is likely that A11y focus will jump randomly in the page. The black border indicates A11y focus will disappear sometimes.

[code]

This is blocking release due to a11y review. See internal bug for videos on the behavior.

[2020-07-16 17:11] VladyslavBondarenko commented on #61096
@Sese-Schneider ok, never mind then about file.
With what device/emulator are you experiencing this? May be device-specific. About emulators, I tried with Android 10.0 (API 29) and Android 7.0 (API 24). Could you check if it reproduces with video_player 0.10.11+2 and with current master version?

[2020-07-16 17:12] jonahwilliams commented on #61629
arm64-v8a, armeabi-v7a, x86_64 are the only android ABIs. For flutter build apk, you could also produce individual ABIs with the --target-platform=android-arm/android-arm64/android-x64 flags.

Do you specifically need a separate command to produce the AOT artifacts? or could --analyze be added to the existing build android/ios/macos/linux/windows commands

[2020-07-16 17:13] mehmetf commented on #44001
Customer:money started hitting this claiming that the workaround (making dialogs dismissable) is no longer working. I asked them if they can pinpoint exactly when the workaround stopped working. See internal bug: b/143768379

[2020-07-16 17:17] Arjun3010 commented on #61464
Works in profile mode, but why ?

[2020-07-16 17:18] Arjun3010 commented on #61464
This command '--dart-define=FLUTTER_WEB_USE_SKIA=true' didn't change anything??

[2020-07-16 17:19] chunhtai commented on #44001
The workaround is conflicting with https://github.com/flutter/flutter/issues/46625

[2020-07-16 17:20] jonahwilliams commented on #61591
The fix is

[code]

The `child` parameter is inferred as `Widget`, which fails when the null opted out library passes a `null` value. This is a super weird edge case

[2020-07-16 17:20] #61591 closed

[2020-07-16 17:27] dnfield commented on #61584
I'm able to reproduce this locally with a profile build of platform_views_layout. Every so often running it results in failure.  Escalating priority until we determine cause.

[2020-07-16 17:30] Sese-Schneider commented on #61096
@VladyslavBondarenko will do later 👍🏼

[2020-07-16 17:32] KermitTheFrogerino commented on #40974
@vvVenom Your trick doesn't work for me either. I'm trying it with the Pixel 3 Emulator API 29 and with my Oneplus 7 Pro with Android 10. The status bar is fully transparent while the navigation bar is translucent. I've set "systemNavigationBarColor" and "systemNavigationBarDividerColor" to Colors.transparent.

When trying to consume the insets in the activity with "insets.consumeSystemWindowInset

[2020-07-16 17:33] creativecreatorormaybenot commented on #61591
@jonahwilliams Yes, I was aware of this the whole time. Was it not clear from what I wrote? 😶

But why do you close the issue - do you think this is a good way forward? There is no way to detect this issue before runtime; so I would call it a bug, at least somewhere. And also the inference is wrong, right?

[2020-07-16 17:35] Dhua-v commented on #61309
@TahaTesser want to be aware, what would its fix need, as its important for my organisation. Can u provide enough info for us.

[2020-07-16 17:36] jonahwilliams commented on #61591
@creativecreatorormaybenot this is a bug in your code. You are declaring a closure that must accept a non-nullable widget, and passing it to a place where a callback can provide you null.

this is an odd edge case, and you **really should not be opting into null safety before flutter has migrated!**. I cannot make that clear enough - you are going to constantly hit this edge cases because all of t

[2020-07-16 17:37] rokob commented on #46793
I am also seeing this on desktop linux using the glfw shell, not web. So I don't think this is just a web issue.

[2020-07-16 17:39] gaaclarke commented on #60711
I looked @jinfagang's comment briefly.  This is a Java exception getting thrown in the Java code called by `PlatformViewAndroidJNIImpl::FlutterViewHandlePlatformMessage`

https://github.com/gaaclarke/engine/blob/fbef051f5c6e902396ad90a381c434295d04b586/shell/platform/android/platform_view_android_jni_impl.cc#L942:L942

That calls [`FlutterJNI.handlePlatformMessage`](https://github.com/gaaclarke/en

[2020-07-16 17:39] jmagman commented on #61067
@xzghx You can read about the beta branch at https://github.com/flutter/flutter/wiki/Flutter-build-release-channels#beta.  Definitely possible there are different behaviors (and bugs) between beta and stable, so it's up to you to test.  Many users do just stay on the beta branch, though.

[2020-07-16 17:40] creativecreatorormaybenot commented on #61591
@jonahwilliams Right, I see. You are saying that this issue will disappear when the framework code is migrated, right?

I have no problem with edge cases like this - I was just not sure that this was really expected behavior.

[2020-07-16 17:43] jonahwilliams commented on #61591
Yes, once the AnimatedBuilder is migrated, the closure would be declared as providing `Widget?`. The type inference in the closure would then be correct, and the assert wouldn't be tripped.

[2020-07-16 17:45] jmagman commented on #42974
@kitsunecat your error is:
[code]
which isn't related to this issue.  Looks like maybe https://github.com/pauldemarco/flutter_blue/issues/629?

[2020-07-16 17:46] ndhbr commented on #60763
@pawlowskim I already had the listener right at the beginning. Didn't help. I switched to the plugin flutter_inapp_purchase. The plugin always brings all completed and not completed purchases.

[2020-07-16 17:47] arafaysaleem commented on #61222
I believe this is what you meant. It's a link to the commit on my fork

https://github.com/flutter/flutter/commit/9d22287813354cd704dbd8d859a2d1caf2e4f804

[2020-07-16 17:47] ditman commented on #45292
@gabrielgarciagava thanks! I don't have a very good estimate yet; I'm still adding some missing initialization features, and the fork is missing a lot of documentation and tests; it's going to be a few weeks at least until it's ready for PR, plus then whatever changes need to happen on the PR phase :)

[2020-07-16 17:51] gaaclarke commented on #60711
FWIW I'm unable to reproduce with the given setup:

<details>

[code]

</details>

[2020-07-16 17:56] digiter commented on #61620
I will continue run the scenario test on try bots but ignore the result, and bring back the capacity. /cc @zanderso

[2020-07-16 18:00] #61360 closed

[2020-07-16 18:01] stevemessick commented on #61549
@jacob314

[2020-07-16 18:03] arafaysaleem commented on #61222
I believe this is what you were referring to. It's a link to the commit on my fork.

https://github.com/flutter/flutter/commit/3fd6f8e7e1369aac46b82a87100fd82223a610ef

[2020-07-16 18:04] ferhatb commented on #61464
Tried on lastest master with and without latest engine on Windows 18362.900, both examples and flutter gallery worked fine.

@Arjun3010 , if you run using flutter run -d chrome --profile , then open developer tools do you see any warning/error other than maybe favicon load ?

[2020-07-16 18:05] NebulaFox commented on #33126
Currently on Flutter 1.19.0-4.3pre and building a flutter we app. `url_launcher` never returns  from ` await launch(url)` following the example code in `url_launcher`. Used the `dart:js` solution above to work around this.

[2020-07-16 18:05] gspencergoog commented on #61575
Since this is a P1 bug, could we have a quick meeting to formulate a decision? I can set it up.

[2020-07-16 18:06] jonahwilliams commented on #61575
SGTM

[2020-07-16 18:08] rlogwood opened #61635 "Flutter and Dart Plug-ins installed but flutter doctor reports they are not - flutter plugins working - doc wrong?"
### Flutter doctor reports Flutter and Dart plug-in's missing but they are present
Flutter seems to work fine in-spite of the reported error. I can successfully create and run applications made by `flutter create` and in Android Studio with `File->New->New Flutter Project`.

## Steps to Reproduce

Environment: Ubuntu 20.04 LTS, Android Studio 4.0.1, Latest Flutter/Dart Plug-ins

__Preform these st

[2020-07-16 18:09] zanderso commented on #61620
@digiter Do you mean ignore the result only if it's from one of the suspect machines? Or do you mean ignoring the result from all machines?

[2020-07-16 18:12] alissonflutter commented on #26072
I have the same problem, any solution?

[2020-07-16 18:18] jmagman commented on #14648
@v7lin You're probably hitting https://github.com/flutter/flutter/pull/61140 which is fixed in the master branch.
This issue is tracking:

If you are seeing a bug, please file a new GitHub issue and completely fill out the template so it can be triaged.

[2020-07-16 18:25] tvolkert opened #61637 "Dart compilation error swallowed in MacOS builds"
## Steps to reproduce

Create the following app:

[code]

Then try to run the following on a Mac:

[code]

## Expected behavior

You expect to see something alerting you to the error in your code that prevents the app from launching.  Indeed, if you were to try to run on Android, you see the following:

[code]

## Actual behavior

You receive no feedback as to why the application failed to launch:

[2020-07-16 18:25] tvolkert commented on #61637
FYI @stuartmorgan

[2020-07-16 18:26] #61549 closed

[2020-07-16 18:26] tvolkert commented on #61637
This was run against 42e02d6

[2020-07-16 18:30] iskakaushik commented on #59113
The proposed fix of `--no-embed-sources` has worked. Closing this issue.

[2020-07-16 18:30] #59113 closed

[2020-07-16 18:31] #61486 closed

[2020-07-16 18:34] stuartmorgan commented on #61637
Duplicate of https://github.com/flutter/flutter/issues/33582

[2020-07-16 18:34] #61637 closed

[2020-07-16 18:34] dnfield commented on #61584
Root cause is https://github.com/flutter/engine/pull/19592

[2020-07-16 18:37] jaysephjw opened #61638 "Video Player plugin - Support HTTP cookies"
It would be nice to support cookies for network video requests (HLS):

[code]

Support for attaching headers in general (#16466) seems blocked on a missing iOS AVPlayer api. But AVPlayer allows attaching cookies.

## Use case

Stream video over the network (HLS) from servers that require cookie authentication.

[2020-07-16 18:40] dnfield commented on #61584
Steps to recreate: `flutter run --profile` in platform_views_layout, exit the app, run it a second time.

[2020-07-16 18:44] CaseyHillers commented on #59086
Here's some notes on debugging I did:

I can only reproduce this when a user comes in not signed in. If already signed in, I can log out, and sign back in just fine.

I updated Google sign in on Flutter from 4.2 to the latest version the issue still exists.

I tried disabling cocoon's call to silent sign in on the latest sign in version, and was able to use the sign in button.

\cc @ditman do you

[2020-07-16 18:47] liyuqian commented on #32170
@acoutts : Test-based shader warmup #53609 would help. SkSL-based shader warmup #53607 currently doesn't help iOS metal without further work from Skia.

[2020-07-16 18:54] izhastron opened #61644 "Flutter not sign my app with phisical device"
### Problem
I am getting an error when trying to debug an application on a physical device. But my application runs fine on the emulator.
-flutter clean doesn't help
-change applicationId doesn't help
-delete application doesn't help
-adb kill-server && adb start-server doesn't help
-Devices work fine with adb when manually controlled
![6](https://user-images.githubusercontent.com/50673676/8771005

[2020-07-16 18:55] acoutts commented on #32170
Thanks. I have been having a big issue with the warmup jank on ios, and as you can see in my gifs here it is very noticeable:
https://github.com/flutter/flutter/issues/61450

* Would reverting to not using metal help this?
* Is it feasible / worth it to not use metal if it could help this?

[2020-07-16 18:55] chunhtai commented on #59402
Will get back to this once i have time

[2020-07-16 18:56] rokob commented on #46793
This assert in the engine is wrong: https://github.com/flutter/engine/blob/5a25a281743976f271425c44ada62f8a9f9cd73a/lib/ui/window/pointer_data_packet_converter.cc#L182

Here is the sequence of events:

1. Run application
2. Cause application to lose focus
3. Click on the application
=> observe assert fires

glfw delivers a mouse enter event and then a mouse release event. This is correct behavior

[2020-07-16 18:56] chunhtai commented on #14510
will get back to this once i have time

[2020-07-16 18:56] digiter commented on #61620
@zanderso Ignore the result only if it's from one of the suspect machines.

[2020-07-16 18:56] chunhtai commented on #11490
will get back to this once i have time

[2020-07-16 18:58] jaysephjw commented on #16466
Since supporting arbitrary headers currently seems blocked because of the private iOS API, I have created a separate issue (#61639) and PR (flutter/plugins#2882) for _supporting Cookies only_ as a workaround 🤞

[2020-07-16 19:00] #61644 closed

[2020-07-16 19:01] JohnGalt1717 commented on #16466
So the work around is to create a proxy in your REST api, call the proxy to get the m3u8 rewritten to embed the token and then point your video player at the m3u8 file.

[2020-07-16 19:02] jonahwilliams commented on #12768
Fixed via https://github.com/flutter/flutter/pull/61481

[2020-07-16 19:02] #12768 closed

[2020-07-16 19:08] godofredoc commented on #61620
mac-try-10 was failing the tasks consistently is it possible to block it and experiment with that one only?

[2020-07-16 19:11] godofredoc commented on #61560
Closing this as after updating the pub/sub we haven't gotten this error anymore.

[2020-07-16 19:11] #61560 closed

[2020-07-16 19:11] #57273 closed

[2020-07-16 19:11] IM-MP opened #61645 "Web view in main route works only if it's the first launch on iOS"
## Steps to Reproduce
1. Run any application in release mode that has a WebView in the main route like this sample (https://github.com/efortuna/wiki_browser).
2. Kill the application
3. Re-open the app

While it should display the web-page, the webview doesn't load showing a blank page.
I have this problem just on release mode.

I'm using the last version of `webView_flutter`
`  webview_flutter: 0

[2020-07-16 19:16] #60999 closed

[2020-07-16 19:19] sayurikunugi commented on #49785
@ironpotter
Thank you, your solution works for me!
Just 1 thing, if the user inputs enter in the middle of text, it's not working right, so, I changed
[code]
to
[code]

[2020-07-16 19:22] guyo13 commented on #60268
Hi @VladyslavBondarenko
I am using Flutter version 1.17.5 and Dart 2.8.4, my code has a similar usage to the example above.
I will post a more complete code sample hopefully this weekend if I make it.

Will also try with `1.20.0-8.0.pre.125` and post my result.

Thanks!

[2020-07-16 19:28] jonahwilliams commented on #46793
FYI @dkwingsmt

[2020-07-16 19:34] LSambo02 commented on #46904
I have followed the presented steps by @pedromassango using ```.bash``` executable
In which I had to add the extension to the ```.bash_profile``` like this
```export CHROME_EXECUTABLE="/Applications/Google Chrome.app/Contents/MacOS/google-chrome-unsafe.bash"```

After that you should source the path of the ```.bash_profile``` and ```google-chrome-unsafe.bash```
it will open the unsafe chrome versi

[2020-07-16 19:36] Sese-Schneider commented on #61096
@VladyslavBondarenko I found the bug!

### Reason:

<details>E/flutter (19506): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: PlatformException(channel-error, Unable to establish connection on channel., null)
E/flutter (19506): #0      VideoPlayerApi.initialize (package:video_player_platform_interface/messages.dart:220:7)
E/flutter (19506): <asynchronous suspension>
E/flutter (

[2020-07-16 19:37] Sese-Schneider commented on #61350
@VladyslavBondarenko at issue https://github.com/flutter/flutter/issues/61096 we have an example where this bug prevents a plugin to be registered and cause an unexplainable stacktrace!

[2020-07-16 19:43] charleshan opened #61649 "Repeated message: E/AccessibilityNodeInfo( 6255): Rejecting attempt to make a View its own child"
This has been reported as fixed but it's still happening: https://github.com/flutter/flutter/issues/50892#issuecomment-590105251

[code]

[2020-07-16 19:45] AyushBherwani1998 commented on #55894
The behavior in `ExpansionTile` is because of  `ListTileTheme.merge` used to wrap the `ListTile` in order to animate the text color based on `ExpansionTile` state. Since it uses `ListTileTheme`, the `ListTile` default color for `subtitle` is ignored.

Check here
https://github.com/flutter/flutter/blob/38fe887342f6c6bf40dd2c25442b892644e11a39/packages/flutter/lib/src/material/expansion_tile.dart#L2

[2020-07-16 19:49] flar opened #61651 "Issues leading to rebuilding more of the RenderObject and Layer trees than necessary"
Flutter consists of a number of levels of trees (as described in the [Mahogany Staircase talk](https://www.youtube.com/watch?v=dkyY9WCGMi0)). When a change is made to the Widget tree, those changes must be propagated into the Element, RenderObject, and Layer trees. Each level has code that attempts to reuse parts of the lower level trees on each pass to minimize the work. Unfortunately, there is s

[2020-07-16 19:51] jaysephjw opened #61652 "[pigeon] Pigeon script crashes if Dart is not installed"
The pigeon readme suggests running pigeon through flutter like:
[code]
But that gives:
[code]
If I don't have `dart` available in my path.

[2020-07-16 19:56] jmagman commented on #61478
Fixed by https://github.com/flutter/flutter/pull/61484.

[2020-07-16 19:56] #61478 closed

[2020-07-16 20:02] zanderso commented on #61546
If possible can you connect to the Observatory and collect an allocation profile while in the midst of the unbounded growth?

https://dart-lang.github.io/observatory/allocation-profile.html

[2020-07-16 20:03] IM-MP commented on #61645
I was using developer channel

[2020-07-16 20:03] #61645 closed

[2020-07-16 20:15] azeemgujjar opened #61653 "Flutter team should officially release GeoLocation plugin"
I saw few plugins on https://pub.dev/ for geolocation.
But none of them is stable or we can take risk to deploy on production application.
Even packages developers do not bother to update or reply on issues highlighted by community.
I search alot and not found a single stable plugin  which support foreground + background geolocation services and work like charm of different OS.

I believe this fea

[2020-07-16 20:16] nturgut opened #61654 "[web-host] Migrate format and lint checks from Cirrus to LUCI"
This is part of our migration of engine tests from Cirrus to LUCI.

Steps:
(1) Add these steps to LUCI recipes: https://flutter.googlesource.com/recipes/+/refs/heads/master/recipes
(2) Remove format and lint steps from the Cirrus file: https://github.com/flutter/engine/blob/master/.cirrus.yml#L114

[2020-07-16 20:24] jason-simmons commented on #61421
The stack trace implies that this is happening inside the Android app's Java code and is unrelated to Flutter:

[code]

`GestureDemoView.onTouchEvent` is calling `GestureDetector.onTouchEvent`, which eventually calls `VelocityTracker::addMovement` inside Android's native code libraries.  `VelocityTracker::addMovement` is then failing a shift_out_of_bounds check.

So I'd suggest checking if there i

[2020-07-16 20:31] pcsosinski commented on #61584
this also affects 1.20 as 0dc86cda19d55aba8b719231c11306eeaca4b798 was our engine branch point

[2020-07-16 20:35] skyberk commented on #51765
Thanks @wugemu my gradle version newer(gradle-5.6.2-all.zip) then you suggest so I just changed compileSdkVersion and targetSdkVersion to 29. And it works.

[2020-07-16 20:37] ditman opened #61656 "dev/integration_tests/flutter_gallery fails for web in release/profile mode"
The flutter_gallery integration_test is failing for web in release/profile mode, but works in development mode.

## Steps to Reproduce

1. Clone flutter and move to a recent version of master (latest)
2. `cd dev/integration_tests/flutter_gallery`
3. `flutter run -d chrome --profile`

**Expected results:** I'd expect the Flutter gallery to show up.

**Actual results:** There's a white page, and an

[2020-07-16 20:39] ditman commented on #61656
The flutter_gallery package is [pinned to a bad version](https://github.com/flutter/flutter/blob/master/dev/integration_tests/flutter_gallery/pubspec.yaml#L27) of connectivity_for_web: 0.3.0. This issue was [fixed](https://github.com/flutter/plugins/pull/2869) in 0.3.1.

[2020-07-16 20:41] ditman commented on #61656
Original bug: https://github.com/flutter/flutter/issues/60855

[2020-07-16 20:47] liyuqian commented on #47561
Just chatted with @filiph , a comparison between Flutter and other web frameworks could also be interesting.

[2020-07-16 20:49] iskakaushik commented on #61421
@jason-simmons when using `VirtualDisplay` based platform views, the events are sent exactly the same way as they were prior to my change, i.e, `vdControllers.get(touch.viewId).dispatchTouchEvent(event);`. The change should only affect hybrid view composition. Also `toMotionEvent` was a simple refactor of the existing code, no behavior is expected to change.

[2020-07-16 20:50] azack commented on #61324
To be clear, the `setState` after dispose causing the error is in this code:
https://github.com/flutter/flutter/blob/b635d97674e9d06780ac1be39d0c0657a8f28ca8/packages/flutter/lib/src/widgets/image.dart#L1134-L1140

If it's not happening in dev or beta, whatever the fix is may have happened somewhere else, as the code looks unchanged here.

[2020-07-16 20:51] jaysephjw commented on #61652
Looks like dupe of #61223

[2020-07-16 20:52] #61652 closed

[2020-07-16 20:52] jaysephjw commented on #61223
@YijingwanWang @gaaclarke I solved this issue by adding `dart` to my path.

[2020-07-16 20:56] tvolkert opened #61659 "IndexedStack maintains focused element in non-selected index"
## Steps to reproduce

1. Run the following app in a desktop context (I was on MacOS):

[code]

2. Then focus the text field and enter some text
3. Then click on the button to switch to index 1
4. Then type some more
5. Then click the button to switch back to index 0

## Expected behavior

You expect that when you switch from one index to another in `IndexedStack`, that the content in the index yo

[2020-07-16 20:56] tvolkert commented on #61659
FYI @gspencergoog

[2020-07-16 20:57] jaysephjw opened #61660 "[pigeon] Exception when trying to use a List type"
Hey! I'm having exceptions when trying to use a List type on version 0.1.0-experimental.11.

Am I doing something wrong? Docs mention `Note: Generics for List and Map aren't supported yet` but I take that to mean List and Map without type parameters are.

Trying to get this to work for a PR to video_player.

My code:
[code]

iOS exception:
[code]

Android exception:
[code]

[2020-07-16 20:57] CareF commented on #61511
A demo https://github.com/CareF/flutter_perf_widget_demo
@liyuqian @albertwang0116 @dnfield

[2020-07-16 20:58] tvolkert commented on #61659
This was filed against 6332bc0fde

[2020-07-16 21:27] ened commented on #61546
Ok will try. I'm not sure if the observatory will be responsive as the app is not responsive either. (Pointing to a main thread blockage).

[2020-07-16 21:31] gspencergoog commented on #61659
This is probably something needs to be fixed in `IndexedStack`, since it's controlling the visibility. Regular `Stack` children are all shown at once, so for them this behavior is WAI.

You can work around this by wrapping each child with an `ExcludeFocus` widget, and setting the `excluding` attribute to `false` when a child is being shown (which is basically what will need to be done to `IndexedS

[2020-07-16 21:38] digiter commented on #61620
Created https://flutter-review.googlesource.com/c/recipes/+/4340.

[2020-07-16 21:41] amreniouinnovent commented on #41029
@jiahaog Flutter 1.17.5 not working is your fix on the stable branch?

[2020-07-16 21:45] dnfield commented on #23787
This was actually fixed by some combination of work done by @cyanglaz and @blasten being done for other reasons. I'm removing the check/failure.

[2020-07-16 21:51] dnfield opened #61661 "Run clang tidy on more targets"
Today, we run clang-tidy on the host sources only on Linux.

This means we miss the following variants:

- [ ] macOS desktop
- [ ] iOS embedding
- [ ] Android embedding
- [ ] Fuchsia
- [ ] Windows desktop

It would be great to enable it for these variants.

[2020-07-16 22:00] gaaclarke commented on #47561
Building off of @liyuqian's design doc here's how we could do it:
[code]

`imitation_game.dart` will launch a web server and start broadcasting itself via mDNS.  Then it will crawl through the `tests/` executing the `run_ios.sh` script in each directory.  Those scripts build and launch the app that will: perform a test, record a numeral result, then take a screenshot on completion, discover `imita

[2020-07-16 22:02] zanderso opened #61663 "Filter MacStadium bots from analytics"
Since June 1, there has been a disproportionate spike in analytics events coming from Atlanta, GA. The events report themselves to be from Mac devices, which indicates that they are probably CI bots in the MacStadium datacenter there. We need to filter these out in the Flutter tool's bot detector.

[2020-07-16 22:03] kuhnroyal commented on #60802
@alexmarkov I tried this on my machine with 16GB MacOS Catalina. It also fails here running `flutter build ios --release`

Flutter 1.17.5:
One dart process goes up to 2396m and the build succeeds.
Flutter 1.19.0-4.3.pre5:
One dart process goes up to 2226m and the build fails with OOM.

[2020-07-16 22:09] yjbanov commented on #58130
@gspencergoog Would you like to take this issue? Since you already have a PR out for review?

[2020-07-16 22:13] kuhnroyal commented on #60802
Here is the log from the Android build:
<details>
  <summary>Log output</summary>

[code]
</details>

[2020-07-16 22:15] alexmarkov commented on #60802
Thanks, @kuhnroyal !

The memory usage hasn't grown. There is `--old_gen_heap_size=2000` VM option passed to the front-end server invocation. It limits Dart VM heap size and it is not enough to compile this particular application.

[2020-07-16 22:15] tvolkert commented on #61659
ExcludeFocus doesn't fully solve it - it causes the focus to move backwards one.  If I update the code above to have two text fields, then focus the second one, then switch indexes in the stack, then focus moves to the first text field rather than losing it altogether:

[code]

[2020-07-16 22:16] yjbanov commented on #60462
@ferhatb can you please triage/dedupe?

[2020-07-16 22:17] rbebb commented on #59429
My .flutter file also contains the below information
[code]
`flutter --version --machine` shows this
[code]
Also, `flutter config --versbose` shows this information
[code]

[2020-07-16 22:17] jonahwilliams commented on #60802
I think we removed that flag once we determined the issue was caused by the truncated dill file: https://github.com/flutter/flutter/pull/58525

Though that might not be in this particular version

[2020-07-16 22:19] alexmarkov commented on #60802
The limit was added in https://github.com/flutter/flutter/pull/58039. /cc @zanderso

[2020-07-16 22:20] digiter commented on #58726
Triage: is this implemented? @yjbanov

[2020-07-16 22:24] gaaclarke commented on #47561
If we are compiling the tests, we could make `imitation_game.dart` write the ip address of the computer into a text file that could be compiled into the app.  That would eliminate the need for mDNS and reduce the cost of the implementation greatly.

[2020-07-16 22:25] dna-f commented on #60802
Hi @alexmarkov,
my project is quite big and i can count something like 270 classes auto-generated through build_runner.
I can compile the project in debug mode and run it on the iOS simulator, but when i execute the following command to prepare the release I got the error:
flutter build ios --release --target lib/main.dart --flavor production --verbose
(the command is already running with the -ver

[2020-07-16 22:26] blasten opened #61665 "`flutter channel` output channels that can't be used later"
For example, `flutter channel` prints:

[code]

However, `flutter channel   flutter-1.20-candidate.7` outputs:

[code]

[2020-07-16 22:26] yjbanov commented on #61277
Does this work with `--dart-define=FLUTTER_WEB_USE_SKIA=true`? Just curious which backends need to be fixed.

[2020-07-16 22:27] blasten commented on #61665
cc @christopherfujino

[2020-07-16 22:29] digiter commented on #54509
Triage: we probably will remove stackdriver logs in the future.

[2020-07-16 22:32] flar commented on #58726
Not implemented yet.

[2020-07-16 22:36] digiter commented on #58726
I thought https://github.com/flutter/flutter/pull/54494 is related?

[2020-07-16 22:37] #23787 closed

[2020-07-16 22:37] #61584 closed

[2020-07-16 22:43] jason-simmons commented on #61421
I was able to reproduce this by running the attached example app, holding one finger down on the screen, and then repeatedly tapping with another finger.

Each tap would create a new pointer with an incrementing pointer ID in the `MotionEvent.PointerProperties` object.  When the ID value reaches 32, then Android's `VelocityTracker::addMovement` crashes.

The pointer ID values originate in Dart fra

[2020-07-16 22:43] flar commented on #58726
They are related. https://github.com/flutter/flutter/pull/54494 is about comparing the default engine to a local engine. This PR is about expanding that A/B mode to compare 2 different local engines rather than always assuming that you want to compare to the default engine.

[2020-07-16 22:52] K-Schaeffer commented on #47392
I'm also having this issue, did lots of possible solutions from my buddies up here, but nothing seems to work.
![image](https://user-images.githubusercontent.com/37464395/87730265-a9283980-c79d-11ea-890c-5e6670ed02c8.png)
![image](https://user-images.githubusercontent.com/37464395/87730292-b8a78280-c79d-11ea-822f-be98a23be68b.png)
Also, running flutter run -v I can see that there's a message like

[2020-07-16 22:54] gregsheen opened #61669 "Failed to find assets path for "Frameworks/App.framework/flutter_assets""
## Steps to Reproduce

1. Followed steps in this guide: https://flutter.dev/docs/development/ios-project-migration
2. Build app for ios with ```flutter build ios```
3. Run on iPhone simulator

**Expected results:** App running normally

**Actual results:** App freezing on splash screen

I have tried the following:

- Changing to master channel
- Running flutter upgrade
- Adding App.framework and F

[2020-07-16 22:57] K-Schaeffer opened #61670 "Running Gradle task 'assembleDebug'... Forever!"
I've downloaded android studio yesterday to start studying flutter, but i'm facing a very frustrating issue.
It just doesn't start at all, and every time I create a new flutter project and try to run, it shows an error that the task "Clean" already exists, once I fix that, I see another error in the kotlin version, once I fix that, my app just don't finish the "assembleDebug" at all.

## Steps to

[2020-07-16 22:57] christopherfujino commented on #61665
So this can happen if a user's `currentChannel != currentBranch` (`currentChannel` is based on the current branch's configured upstream branch name).

[2020-07-16 22:57] yama3nomori commented on #61602
HI, @darshankawar

Thanks for your comment.

It doesn't show up when talkback is ON.
But when ListView.builder() was useed on Scaffold(), ListView can make.

And both cases are no problem on less than Android 10.

[2020-07-16 23:20] godofredoc opened #61673 "[engine] check_for_waiting_pull_request needs to also check CheckRuns"
Cocoon is getting support for github checks api, once the luci builds start creating checkRuns the status will not be added.  The check_for_waiting_pull_request handlers will need to validate status and checkRuns from github.

[2020-07-16 23:21] #45552 closed

[2020-07-16 23:21] gaaclarke commented on #47561
`idevicescreenshot` can be used to remove the need for users to create screenshots in their code on iOS.

[2020-07-16 23:21] godofredoc commented on #61673
This is blocking enabling the checks api on the engine repository.

[2020-07-16 23:39] rlecheta commented on #60822
[✓] Flutter (Channel stable, v1.17.5, on Mac OS X 10.15.5 19F101, locale en-BR)
    • Flutter version 1.17.5 at /Users/rlecheta/flutter
    • Framework revision 8af6b2f038 (2 weeks ago), 2020-06-30 12:53:55 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
    • Android SDK at /Users/rlecheta/Library/An

[2020-07-16 23:45] dkwingsmt commented on #60641
Done, except for https://github.com/flutter/flutter/issues/61397.

[2020-07-16 23:45] #60641 closed

[2020-07-16 23:45] Theeyecode commented on #56169
I'm having the same issue too..

A problem occurred configuring project ':sqflite'.

     Required by:
         project :sqflite

[2020-07-16 23:56] #59339 closed

[2020-07-17 00:14] nturgut commented on #58045
@godofredoc did you had a chance to try using 2 different pools for bots for Mac Web Engine tests? I'm assigning the issue to you, please let me know if there is anything I can help with. I'm leaving the issue unassigned for now.

[2020-07-17 00:17] CaseyHillers opened #61677 "[cocoon] Add framework and engine skia perf links to Flutter dashboard"
They should show up as links on the home page of flutter-dashboard.appspot.com and in the sidebar.

Framework: https://flutter-flutter-perf.skia.org/
Engine: https://flutter-engine-perf.skia.org/

Engine is already linked, but will need to be renamed from "Skia perf benchmarks" to "Engine benchmarks" to clarify.

\cc @liyuqian

[2020-07-17 00:18] nturgut commented on #57758
Thanks @digiter Safari driver worked fine for me for try bots as well.

[2020-07-17 00:19] jmagman commented on #60606
Can you give us a reproduction case?

[2020-07-17 00:42] yaostyle commented on #61527
Perhaps a PR for Eyeballed value update in text_selection.dart would help. The vertical value works with 10.0 instead of 8.0.

Line#54
// Eyeballed value.
`const EdgeInsets _kToolbarButtonPadding = EdgeInsets.symmetric(vertical: 10.0, horizontal: 18.0);`

![pr_61527](https://user-images.githubusercontent.com/14081948/87735832-7a08cc80-c78b-11ea-8a83-a5bf9516cb10.jpg)

[2020-07-17 00:49] shihaohong commented on #55894
Fixing this issue would also be a breaking change since the default subtitle color would change if we were to proceed with aligning the two subtitle text colors.

[2020-07-17 00:54] godofredoc opened #61680 "Move led recipe tests out of experimental"
These tests validate changes to the recipes against all the applicable builders. They have been running on experimental for a couple of weeks passing consistently.

Windows builders fail because of an unrelated issue with bb_agent and only one out of 7 mac builders are enabled. We need to remove windows builders temporarily and make the tests blocking.

More importantly these tests can help detect

[2020-07-17 00:58] shihaohong commented on #55894
It seems like "expansion panels" are now deprecated as they [appear in the archive](https://material.io/archive/guidelines/components/expansion-panels.html).

However, there's an [updated section under lists](https://material.io/components/lists#specs) with list tiles and there's a "collapsed & expanded" section, but it only has a single line item, so there's no direct example.

I think it's safe

[2020-07-17 01:03] HidenoriMatsubayashi commented on #58473
@TahaTesser
This issue seems to have been resolved.

[2020-07-17 01:13] libo1223 commented on #61612
I don't think it is the problem of methodChannel. I use MethodChannel in MainActivity didn't have any trouble.
So, i want to know the another activity which i created can use MethodChannel to Flutter?
In my view, flutter is work on the MainActivity, when the MainActivity is finish(), Does flutter can receive the message? Or i should to startActivity the MainActivity and post the message to flutter

[2020-07-17 01:15] Mrwangmingchao opened #61686 "tar: Error exit delayed from previous errors."
When I run 'flutter doctor' it show
[code]

But when I run 'flutter pub get' it show
[code]

This error show after I update Mac os
Who can help me, thank you

[2020-07-17 01:21] christopherfujino opened #61687 "[flutter_tools] `flutter update-packages --force-upgrade` broke create test"
This was caused by https://github.com/flutter/flutter/blob/master/packages/flutter_tools/templates/app/pubspec.yaml.tmpl#L49 hard-coding the test version. I fixed the breakage by manually updating the template, but this will break again someday.

https://cirrus-ci.com/task/5360493143523328

[code]

[2020-07-17 01:22] yzg-github commented on #61610
hi@ yjbanov thaks a lot!
but i still have some doubt
this is the cmd i used : flutter run -d chrome --release --dart-define=FLUTTER_WEB_USE_SKIA=true.
the part of the log of flutter coctor -v is :
[√] Connected device (2 available)
    • Web Server • web-server • web-javascript • Flutter Tools
    • Chrome     • chrome     • web-javascript • Google Chrome 83.0.4103.116

• No issues found!
it seems

[2020-07-17 01:24] K-Schaeffer opened #61688 "A problem occurred evaluating project ':app' - Could not get unknown property 'flutterVersiosnCode' for DefaultConfig_Decorated..."
## Steps to Reproduce

1. Create a sample flutter project
2. Run the project

## Logs

[code]

[code]

[2020-07-17 01:24] daohoangson commented on #61324
Probably this commit? https://github.com/flutter/flutter/commit/79ad2d2e20a1029f325b7fa6b878fd54f58a47d6

[2020-07-17 01:24] uzumaki258 commented on #54947
I have used it. But this issue only occur some phone devices like Motorola, Galaxy S7.

[2020-07-17 01:27] daohoangson commented on #61324
More info https://github.com/flutter/flutter/pull/57201

Probably won't be included in stable anytime soon.

https://github.com/flutter/flutter/issues/56454#issuecomment-630276341

[2020-07-17 01:36] valterh4ck3r commented on #14510
thanks

[2020-07-17 01:37] ditman commented on #59086
We have a couple of issues with the google_sign_in plugin; one of them is that it might be swallowing exceptions that should be surfaced (so they can be captured with try/catch). I haven't looked into those yet.

(Current most common culprits: 1) Incognito window with 3rd party cookies disabled, 2) the privacy badger extension)

[2020-07-17 01:43] jinfagang commented on #61615
Yes, solved, thanks

[2020-07-17 01:43] #61615 closed

[2020-07-17 01:43] jinfagang commented on #60711
I solved my issue, thanks.

[2020-07-17 01:48] bladeofgod commented on #61341
thanks for your code , i will comparison with your code.

[2020-07-17 01:59] guilhermeagostinelli commented on #28651
Apparently not ;) Thanks for the clarification!

[2020-07-17 02:09] guilhermeagostinelli commented on #33511
This PR (https://github.com/flutter/engine/pull/19558) by GaryQian seems to solve the problem. For those experiencing the `markTextureFrameAvailable` version of the crash, please try it again on `master` channel.

[2020-07-17 02:09] jmagman commented on #61225
@mit-mit is using `dart format` instead causing an issue, or was this just an unexpected deprecation message?

[2020-07-17 02:24] d-apps commented on #61297
Ok, thanks, I will add this two builder on my custom package.

[2020-07-17 02:24] #61297 closed

[2020-07-17 02:40] happyharis opened #61690 "Text widget to change its colour and fontSize without using TextStyle"
## Use case

I believe new developers has benefitted from the readability of the 'out of the box' colour parameter in container. Therefore, I am proposing the same with the commonly used Text widget.

Colour changes in Container widget has been introduced as follows:

[code]

Is the reason for container out of the box colour parameter better readability and ease of understanding for new Flutter de

[2020-07-17 02:46] johnmelodyme commented on #61603
IT doesnot specify which line of my code is the error, but I got this instead
[code]

[2020-07-17 02:58] aiqinxuancai opened #61691 ""child" and "decoration" image animation have different behaviour on web"
I tested a simple image rotation animation, child and decoration show different effects.

My flutter version is 1.20.0-7.1.pre. This code has the same effect as "child" and "decoration" in the flutter version a long time ago.

This is the effect run on chrome.
![a](https://user-images.githubusercontent.com/4475018/87743757-3f02a980-c81c-11ea-8bdf-a9ca55ebc54e.gif)

[code]

[2020-07-17 03:12] Mauiie commented on #61137
Is there any way to solve this problem quickly?

[2020-07-17 03:23] flukejones commented on #60269
Just noticed that flutter widget tests break in a similar fashion, does this PR also fix this?

[2020-07-17 03:31] weichongchong commented on #59121
replace will first remove fragment and add one, the fragment will rebuild every time. but we don't
want use this way.  we want use the author's code. "hide and show" -way  you can try the author's code

[2020-07-17 03:31] akashicrecorder commented on #31243
same problem here

[2020-07-17 03:44] flukejones commented on #60269
Another note (sorry for extreme lack of detail, I'm trying to work to a deadline as well). The following causes the same errors:

[code]

While this doesn't:

[code]

This is nested in another group of widgets.

[2020-07-17 03:50] MirangelNanakonadu opened #61692 "[tool_crash] FileSystemException: Cannot copy file to 'C:\Users\Nana Konadu\Desktop\flutterF\new_app\android\app\src\main\res\mipmap-hdpi\ic_launcher.png', path = 'C:\flutter\packages\flutter_tools\templates\app\android.tmpl\app\src\main\res\mipmap-hdpi\ic_launcher.png' (OS Error: Access is denied., errno = 5)"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: FileSystemException: Cannot copy file to 'C:\Users\Nana Konadu\Desktop\flutterF\new_app\android\app\src\main\res\mipmap-hdpi\ic_launcher.png', path = 'C:\flutter\packages\flutter_tools\templates\app\android.tmpl\app\src\main\res\mipmap-hdpi\ic_launcher.png' (OS Error: Access is denied.
, errno = 5)
[code]
[

[2020-07-17 03:51] aaron-chu commented on #61133
May I ask when this fix is going to release to the beta or stable channel? I rely on it for solving #41089. Thanks!

[2020-07-17 03:56] K-Schaeffer commented on #61688
I solved it with this:
![image](https://user-images.githubusercontent.com/37464395/87746923-32ecfc80-c7c8-11ea-96bd-4be1ef3e4e07.png)
And then, I removed my flutter filles and installed the git version.
Now I'm facing another error:
https://github.com/flutter/flutter/issues/61670

[2020-07-17 03:58] K-Schaeffer commented on #61670
I got confused and closed the wrong issue, actually this one is solved, and the other is active.

[2020-07-17 03:59] pcsosinski commented on #61487
looks good on 1.21.0-1.0.pre

[2020-07-17 04:00] SvenSchoene commented on #57987
One thing that is possible and which is good enough for my app is to set `useRootNavigator: true` on the `OpenContainer`-widget.

That doesn't help you if you have one more layer of nested navigation, of course.

[2020-07-17 04:08] hamberluo opened #61693 "Support android gradle build tool 4.0"

[2020-07-17 04:17] AyushBherwani1998 commented on #55894
I had the same doubt whether it follows the Material Specs or not, and whether we should do change or not. Thanks for the clarification.

[2020-07-17 04:18] danielwalczak commented on #47991
I have the same issue with using Hero with TextField, I want to transform IconButton into the TextField with autoFocus but the Input Widget is recreated few times, so the keyboard is open closed  and open again (Andorid)

[code]

Any Idea how to avoid this ?

[2020-07-17 04:38] danielwalczak commented on #47991
Maybe additional api for building the Widget in the last step smth like PlaceholderBuilder, but when transition is finished instead ? The best would be to not recreate component few times, thats for sure.

[2020-07-17 04:44] faslurrajah commented on #59501
Hi, If we exclude x86 ,then how can we install it in x86 devices?

[2020-07-17 04:46] godofredoc opened #61694 "Fuchsia_ctl recipe fails if not git_url is passed as a property"
Link to builder:
https://ci.chromium.org/p/flutter/builders/try/recipes-with-led/b8874560370454578144?

[code]

[2020-07-17 04:49] jigarparmar21 opened #61695 "Rangeerror (index): invalid value: valid value range is empty:0 in some category it shows the complete result, but in some cases it shows error"
[══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
The following RangeError was thrown building PaymentScreen(dirty, dependencies: [_InheritedTheme,
_LocalizationsScope-[GlobalKey#fef3f]], state: _PaymentScreenState#975fc):
RangeError (index): Invalid value: Valid value range is empty: 0
The relevant error-causing widget was:
  PaymentScreen
lib\p

[2020-07-17 04:54] xzghx commented on #61067
Thank you.

[2020-07-17 04:54] #61067 closed

[2020-07-17 05:03] pcsosinski commented on #61584
this will require a manual merge into flutter-1.20-candidate.7

[2020-07-17 05:18] nateshmbhat opened #61696 "Duplicate classes error on android when including firebase packages"
I have developed a flutter plugin called "card_scanner" which uses "firebase's ML vision kit" as the native android dependency.

When a user includes "card_scanner" in his pubspec.yaml and also includes the "firebase" flutter packages , then there occurs a Duplicate classes error.

`java.lang.RuntimeException: java.lang.RuntimeException: Duplicate class com.google.firebase.components.AbstractCompo

[2020-07-17 05:19] tvolkert opened #61697 "[web] Crash in RecordingCanvas.restore()"
## Steps to reproduce

Run the following app in Chrome:

[code]

## Expected behavior

You expect to see the text field rendered (which is what happens on non-web platforms)

## Actual behavior

The following exception is thrown:

[code]

## Additional info

[code]

[2020-07-17 05:20] tvolkert commented on #61697
FYI @ferhatb

[2020-07-17 05:29] darshankawar commented on #36953
Hi @herrmartell,
Given your last message I feel safe to close this issue.
if you disagree please write in the comments and I will reopen it.
Thanks.

[2020-07-17 05:29] #36953 closed

[2020-07-17 05:34] darshankawar commented on #61603
Hi @johnmelodyme,
You'll need to provide a minimal complete reproducible code sample that is throwing this issue. Without that, it'll be hard to know what exactly is causing this error.

[2020-07-17 05:38] Dhua-v commented on #61309
Is there some temporary workaround? Doing some change in configuration and all. We want to roll out our next version ported to flutter

[2020-07-17 05:39] b1acKr0se commented on #51408
@WasserEsser Why did you close this issue? I'm having the same problem as well.

[2020-07-17 05:44] tvolkert commented on #53437
https://github.com/flutter/flutter/issues/60559 has more activity and covers the same thing.

[2020-07-17 05:44] #53437 closed

[2020-07-17 05:47] tvolkert commented on #60559
This has happened 22 out of the last 24 runs of the test.  I'm going to mark the test as flaky and set the priority of this at P2 (where the customer is the Flutter team).

[2020-07-17 05:50] Pragya007 commented on #53375
@TahaTesser  Are the repo for this file is private to you team members?

[2020-07-17 05:57] darshankawar commented on #61602
@yama3nomori I am unable to replicate this on Android 10. When I tap on FAB, the alert dialog isn't showing up and throwing the error as mentioned in my previous comment. Are you getting any error in console something like below, when you try to tap on FAB ?

`RenderViewport does not support returning intrinsic dimensions.`

When I moved the code inside `Scaffold`, I am seeing similar behavior, ie

[2020-07-17 05:58] hasnentai commented on #61691
@aiqinxuancai
Can you please add a log of `flutter doctor -v`

Thanks

[2020-07-17 05:59] aiqinxuancai commented on #61691
`[√] Flutter (Channel dev, 1.20.0-7.1.pre, on Microsoft Windows [Version 10.0.18363.959], locale zh-CN)
    • Flutter version 1.20.0-7.1.pre at D:\flutter
    • Framework revision 7736f3bc90 (6 days ago), 2020-07-10 16:33:05 -0700
    • Engine revision d48085141c
    • Dart version 2.9.0 (build 2.9.0-21.2.beta)
    • Pub download mirror https://pub.flutter-io.cn
    • Flutter download mirror https

[2020-07-17 06:08] RommelLiang commented on #55623
I have the same problem with flutter version 1.18.0-11.1.pre and 1.19.0-4.3.pre.
It is no longer automatically selecting after disabled automatic correction by setting `autocorrect ` to false.

[2020-07-17 06:12] darshankawar commented on #61622
Related to [40601](https://github.com/flutter/flutter/issues/40601)

[2020-07-17 06:15] #29576 closed

[2020-07-17 06:17] darshankawar commented on #61622
Issue is replicable on latest dev channel. There's a similar open issue which talks about `horizontal` stepper being overflowed, but not sure if this is a duplicate of that, since the scrolling method is different.

[2020-07-17 06:17] hacker1024 opened #61699 "[firefox] Web: Can't load fonts - NoSuchMethodError: tried to call a non-function, such as null: 'fontFace[$load]'"
## The problem
I'm trying to set up the material icons font so icons can show in Futter web. Upon doing so, I get this error in the console:
[code]
This happens without touching a single thing after running `flutter create`, but I'll detail steaps I've taken to try and add the material icons font:

## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows:
    - Create `we

[2020-07-17 06:22] hacker1024 commented on #61699
Upon further testing, it appears that this issue only occurs in Firefox (Developer Edition 79.0b9). Chrome (84.0.4147.89) and Safari (14, 16610.1.15.51.6) both seem fine.

[2020-07-17 06:25] tvolkert opened #61700 "ExcludeFocus can still allow focus"
## Steps to reproduce

1. Run the following app:

[code]

2. Focus the second text field.
3. Click the button to turn on excluding of focus

## Expected behavior

You expect focus to be lost completely, since all three UI elements are wrapped in a `ExcludeFocus` with `excluding` set to true.

## Actual behavior

The focus transfers from the second text field to the first one.

## Other info

This

[2020-07-17 06:26] kitsunecat commented on #42974
@jmagman
Thank you for your reply. The issue you have mentioned is related to my error.

It was confusing because I wrote error messages that are not related to this issue.
The error messages listed include the error associated with this issue and other errors.
(I have removed error messages that are not related to this issue.)

So I also need to respond to the error message in this issue, and I w

[2020-07-17 06:26] tvolkert commented on #61659
I spawned https://github.com/flutter/flutter/issues/61700 for the fact that `ExcludeFocus` can still allow focus, and this bug can just be about the work that needs doing in `IndexedStack`

[2020-07-17 06:28] tvolkert commented on #3816
@ddfreiling I didn't see your comment or PRs since it was right in the thick of lockdown.  Sorry about that!  I see you closed the engine PR - was it just because of lack of reviews?

[2020-07-17 06:28] ShengjieGeng opened #61701 "BackdropFilter doesn't cover fullscreen on simulator only"
[code]
![image](https://user-images.githubusercontent.com/18364968/87755514-b5fa6b00-c839-11ea-9ad0-a90c80e8b3f5.png)
it was not what I wanted.
do me a favor please,thanks anyway

[2020-07-17 06:29] tvolkert commented on #7102
Closing as obsolete

[2020-07-17 06:29] #7102 closed

[2020-07-17 06:30] tvolkert commented on #8181
@jacob314 do you know if this is relevant any more?

[2020-07-17 06:31] ruofei007 commented on #31043
Hi,
We want to port the engine to QNX platform, have several questions:

Can I port the flutter engine on the QNX?
If can port, what should be ported on QNX? Can you give us some suggestions?

Do you have plans to implement QNX futter?
Thanks,
@chinmaygarde @alephman

[2020-07-17 06:37] marcqtan commented on #27198
any update on this?

[2020-07-17 06:38] tvolkert commented on #8245
We're unlikely to do this in the foreseeable future.

The https://github.com/flutter/assets-for-api-docs repository has code to use a test widgets binding to go one frame at a time, capturing screenshots, then assemble them into a video after the fact.  It's how we achieve animations like the one in https://api.flutter.dev/flutter/widgets/Image/loadingBuilder.html

[2020-07-17 06:38] darshankawar commented on #61630
Hi @Rayyan2650,
It seems you are trying to launch from the wrong folder. Just try to change directories in the terminal.
Do you see the `pubspec.yaml` file in the folder path also ?

[2020-07-17 06:39] awhitford commented on #61376
@TahaTesser Just to clarify, I'm not trying to do anything with Linux -- I just upgraded my dependency, and now my build has this warning.  It makes me think that it is trying to do something that it should not be doing.

If my app is not targeting Linux, should I be building Linux code?

But even more disturbing:  Why am I getting a warning message about _example_ code for a dependency?

Also, I

[2020-07-17 06:40] tvolkert commented on #10141
@dnfield is this still relevant in any way?

[2020-07-17 06:41] dnfield commented on #10141
We should be covered with the e2e tests.

[2020-07-17 06:41] #10141 closed

[2020-07-17 06:42] tvolkert commented on #10746
Dumping the current widget tree and/or render tree and/or semantic tree would be something I could see being of value.  Along with the Flutter version if possible.

[2020-07-17 06:43] tvolkert commented on #11111
@bparrishMines is this still relevant?

[2020-07-17 06:44] tvolkert commented on #14726
Closing as obsolete

[2020-07-17 06:44] #14726 closed

[2020-07-17 06:45] tvolkert commented on #14970
@jonahwilliams is this still relevant?

[2020-07-17 06:46] tvolkert commented on #15757
@gspencergoog does this being in the "Done" project bucket mean it should be closed?

[2020-07-17 06:47] tvolkert commented on #17259
Noting that as of July 2020, this would still be nice to have.

[2020-07-17 06:47] tvolkert commented on #17731
Our rasterizer and associated cache have changed so much since I filed this that I'm closing it as obsolete.

[2020-07-17 06:47] #17731 closed

[2020-07-17 06:49] tvolkert commented on #17815
@chinmaygarde @dnfield is the software backend still included in release builds these days?  If so, seems like it may be relatively low-hanging fruit to save some binary size in the engine.  If not, this can be closed 🙂

[2020-07-17 06:51] tvolkert commented on #24867
I'm guessing that this is still relevant.

[2020-07-17 06:52] tvolkert commented on #24884
What came of `flutter migrate`?

[2020-07-17 06:52] jfreeland commented on #45292
I had to add a podspec to https://github.com/ditman/plugins/tree/gmaps-web/packages/google_maps_flutter/google_maps_flutter_web as ios/google_maps_flutter_web.podspec to build for iOS but it works great so far across platforms. Nice!!

[2020-07-17 06:53] chinmaygarde commented on #17815
On iOS, no. On Android, yes. This is being used in some test workflows where emulators are used with GPU passthrough issues.

[2020-07-17 06:54] LongCatIsLooong commented on #12920
I found an approach that seems to work well for https://github.com/flutter/flutter/issues/9344, save for a few edge cases. I'll see if that works for the autocorrect tooltip too. The highlighted region must accurately indicate the range of the autocorrect otherwise it can be misleading. Maybe we can override `addSubview` to prevent the highlight from being added.

[2020-07-17 06:54] darshankawar commented on #61649
Hi @charleshan,
Can you please provide a minimal complete reproducible code sample that shows this issue ?

[2020-07-17 06:54] tvolkert commented on #25517
We no longer have any assert usage in the engine.

[2020-07-17 06:54] #25517 closed

[2020-07-17 06:55] tvolkert commented on #31931
As of July 2020, this is still very much an issue.

[2020-07-17 06:55] dot-wei commented on #44813
It' amazing, Save me time

[2020-07-17 06:57] TahaTesser commented on #60822
Hi @rlecheta
Can you please provide complete reproducible minimal code sample from native and flutter module for your issue with " I still see some blank screen after call flutter."
Thank you

[2020-07-17 07:01] tvolkert commented on #31939
@jacob314 as of flutter-intellij plugin version 47.1.1, this is still an issue

[2020-07-17 07:04] tvolkert commented on #35471
Closing as obsolete

[2020-07-17 07:04] #35471 closed

[2020-07-17 07:05] tvolkert commented on #39792
Closing as obsolete

[2020-07-17 07:05] #39792 closed

[2020-07-17 07:08] TahaTesser commented on #17849
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-07-17 07:08] #17849 closed

[2020-07-17 07:09] TahaTesser commented on #61212
Hi @walkerwg
To better address the issue, can you please provide a complete reproducible minimal code sample using just `webview_flutter`. Feel free to create to create repository for code sample and comment below
Thank you

[2020-07-17 07:14] gliese667c commented on #61531
TextField has the same problem.

[2020-07-17 07:18] darshankawar commented on #61692
Related to [60283](https://github.com/flutter/flutter/issues/60283), [59637](https://github.com/flutter/flutter/issues/59637) and [50539](https://github.com/flutter/flutter/issues/50539)

[2020-07-17 07:19] darshankawar commented on #61692
Hi @MirangelNanakonadu,
I see there's a similar open issue describing your case, [50880](https://github.com/flutter/flutter/issues/50880).
I am going ahead and closing this as duplicate. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-07-17 07:19] #61692 closed

[2020-07-17 07:23] TahaTesser commented on #61566
Hi @ibrahim-abdulwahid-dev
Looks like you've c `com.example` as bundle id, you need to set your bundle id with team selected

[code]

[2020-07-17 07:31] ddfreiling commented on #3816
Hi @tvolkert, no worries thanks for finally reaching out to me.

This became apparent as we in https://nota.dk service the blind and visually impaired. We would like to make the next version of our app in Flutter, but ran into some missing a11y features, that we were used to just working out of the box, like the a11y gestures MagicTap and Escape.

The reason for closing the engine issue, is that I

[2020-07-17 07:49] Hyla96 commented on #47392
@K-Schaeffer

Basically, you have to express the API you are pointing to in android/app/build.gradle, if you don't have the package for that specific API it will start downloading it for you without saying anything but "Running Grandle task 'assembleDebug' ".

If you have a slow connection the "Infinite" loading might just be a really slow download for that specific package, just wait for it to co

[2020-07-17 08:01] wuqi52102857 opened #61702 "url_lancher"

[2020-07-17 08:01] #61702 closed

[2020-07-17 08:02] maxim-saplin commented on #59397
Same issue on Android 10 (Galaxy Note 10 and emulator), working well on Android 11 emulator

[2020-07-17 08:03] giaur500 opened #61703 "[desktop] Unable to run app on Windows 7"
Latest Flutter version from master. Desktop app on Windows 10, compiled without issues and it works fine. However, I'm getting problems to make it working on Windows 7 x64. First run - it prompts missing VisualStudio runtime dll libraries. So I installed VisualStudio runtime (installer from Microsoft). Now it does not prompt for missing libraries, but it crashes at startup.

Not sure if that's Flu

[2020-07-17 08:14] hcaz commented on #37083
The answer that @stevenspiel gave should probably be added to the documentation to make it clear what changes are needed on androidX

[2020-07-17 08:23] VladyslavBondarenko commented on #61096
@pulkitnanda49 Thank you! I didn't get that it may be the cause

[2020-07-17 08:24] 343629302 opened #61704 "NestedScrollView and TabBarView and AutomaticKeepAliveClientMixin"
I have a question

NestedScrollView  body inside TabBarView ，and  TabBarView  has  AutomaticKeepAliveClientMixin.

When tabview 1 scrolls, switch to tabview 2, and then tabview2 scrolls back to SliverPersistentHeader. But because of AutomaticKeepAliveClientMixin. tabview 1 is still scrolling. How do I reset all tabviews to the state before scrolling?

[2020-07-17 08:26] johnniwinther commented on #60269
Hmm. I get the same error (prior to the fix) for both const and non-const constructors.

[2020-07-17 08:27] linuxfedora2020 opened #61705 "[video_player_web] Unable to play H264 video on IE Windows 7/10, Edge Windows 10, iPad Safari/Chrome"
This is my testing result below, Is the browser below incompatible to H264? Thanks

Win 7 Chrome | OK
Win 7 I.E | X
Win 10 Edge | X
Win 10 Chrome | OK
Win 7 I.E | X
iPad Chrome | X
iPad safari | X
Android Chrome | OK

[2020-07-17 08:28] TahaTesser commented on #53375
Hi @Pragya007
They aren't private, there is a different repository https://github.com/flutter/codelabs and you can find Step 4, here https://github.com/flutter/codelabs/blob/master/startup_namer/step4_infinite_list/lib/main.dart

[2020-07-17 08:28] Allure-eve commented on #35734
The same issue， + 1

[2020-07-17 08:31] ibrahim-abdulwahid-dev commented on #61566
@TahaTesser when i run app using vsCode show me this error
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    note: Using new build system
    note: Building targets in parallel
    note: Planning build
    note: Constructing build description
    error: unable to resolve product type 'com.apple.product-type.application.watchapp2' for platform 'iphonesimulator' (in targ

[2020-07-17 08:31] 343629302 commented on #61704
![丑先生 2020-07-07 16 29 20](https://user-images.githubusercontent.com/48002442/87765918-fe6e5480-c84a-11ea-9481-a4169c8e5ff6.gif)

[2020-07-17 08:32] TahaTesser commented on #61635
Hi @rlogwood
This is a known issue https://github.com/flutter/flutter/issues/54867
Closing based on the https://github.com/flutter/flutter/issues/54867#issuecomment-658504774 and in favor of. https://github.com/flutter/flutter/issues/61246

If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-07-17 08:32] #61635 closed

[2020-07-17 08:42] vanillabeach commented on #61606
Hi @darshankawar ,

Thanks for your quick response :)

I assumed it was **Audit** based on the context of the instructions, and the option in the toolbar (see tooltip in screenshot).

<img width="360" alt="Screen Shot 2020-07-17 at 9 36 52 AM" src="https://user-images.githubusercontent.com/2682461/87766729-87689a00-c811-11ea-8f2d-e9cc3a40132c.png">

Either way, feel free to close this issue if you

[2020-07-17 08:48] CAoTx commented on #61534
Interesting, maybe it's only upgrading major versions...?

Here is my output, being on dev 1.19:

user:user$ flutter doctor -v

[✓] Flutter (Channel unknown, 1.19.0-4.0.pre, on Linux, locale en_US.UTF-8)
    • Flutter version 1.19.0-4.0.pre at /home/sbey/flutter
    • Framework revision 2f7a59a8da (6 weeks ago), 2020-06-05 03:44:02 -0700
    • Engine revision d17c84e7af
    • Dart version 2.9.0 (b

[2020-07-17 08:48] eli-front commented on #55639
I've had the same issue, for now I'm just using normal CircleAvatar

[2020-07-17 08:54] blackk100 opened #61706 "Flutter doesn't detect IntelliJ"
## Steps to Reproduce

1. Install IntelliJ IDEA Ultimate 2020.1.3 from JetBrains Toolbox (Toolbox App 1.17.7234, Windows 10.0).
2. Install the IntelliJ Flutter (47.1.3) and Dart plugins (201.8538.45).
3. Extract the Flutter SDK (1.19.0-2.0-pre) and add the /bin/ to System Path.
4. Switch to `channel master` and `upgrade`.
4. Run `flutter doctor -v`.
5. Run `flutter config --android-studio-dir "%ap

[2020-07-17 08:55] ened commented on #61546
@zanderso please take a look:

It seems the memory allocation in Dart on the left stayed somewhat reasonable, but the growth could be seen when enabling the "Android Memory" chart. Eventually the dev tools stopped responding.

<img width="2293" alt="Screenshot 2020-07-17 at 09 48 06" src="https://user-images.githubusercontent.com/269860/87767527-b0d5f580-c812-11ea-878d-1b0c61e20dcb.png">

[2020-07-17 08:57] Arjun3010 commented on #61464
![c](https://user-images.githubusercontent.com/52970359/87768284-85b2cc80-c839-11ea-8ae1-d257b65f5f70.PNG)

I have no problems in profile mode. But, I want to work in debug mode.

[2020-07-17 09:00] ened commented on #61546
To be honest, I may not understand the Observatory, in regards to the link sent above. I can not find the screenshots or the buttons mentioned. It seems to me the leak happens in the native side (engine) rather than Dart as the numbers increase there instead of Dart objects.

Happy to learn what I'm doing wrong. :)

[2020-07-17 09:07] anotherglitchinthematrix commented on #48882
It seems like a good solution for me, I was thinking about having something like a InputDecoratorSet pseudo class to let us define multiple InputDecorators according to state of the input. This class will help to override the defined default style
of the input with the current state's InputDecoration and any value isn't set will be fallthorugh the default definition, but having n instances of Inpu

[2020-07-17 09:15] pedromassangocode commented on #29068
I was able to reproduce this in `1.21.0-1.0.pre`.

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-17 09:20] TahaTesser commented on #61669
Hi @gregsheen
App.framework and Flutter.framework files are still in there in your as you run the app?  Please screenshot
Can you make a backup of your project and delete `ios` folder and regenerate `ios` folder as follow `flutter create .` and try again?  [Reference issue ](https://github.com/flutter/flutter/issues/54558)
Thank you

[2020-07-17 09:29] #61704 closed

[2020-07-17 09:33] Rayyan2650 commented on #61630
your saying that the folder i open contain pubspec.yaml?  if that the question tha answer is yes

[2020-07-17 09:34] darshankawar commented on #61606
@vanillabeach  ah I see :-) It should be `Run Audit` in the docs.

![Screen Shot 2020-07-17 at 3 02 27 PM](https://user-images.githubusercontent.com/67046386/87771947-afbabd80-c83e-11ea-9235-866474b66822.png)

[2020-07-17 09:37] nabil6391 commented on #47681
@stuartmorgan I would like to have a try at this. Can you suggest me where to look for in the iOS code. Thanks

[2020-07-17 09:42] TahaTesser commented on #61656
Does `flutter upgrade --force` also update run `update-packages`?
Since upgrading with `flutter upgrade --force`, i am not able to reproduce this issue on latest `master`

[code]

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-17 09:43] AkramIzz commented on #61248
Well, I wanted to provide a working example. Most of the clutter is required by the RenderObject/Element protocol or comments to help in understanding the code. Here are the relevant parts just so you can read the gist of it, but it won't compile
[code]

[2020-07-17 09:44] pedromassangocode commented on #18108
I was able to reproduce this in `1.21.0-1.0.pre`.

<details>
<summary> Complete sample code</summary>

[code]
</details>

<details>
<summary> Logs</summary>

[code]
</details>

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-17 09:45] TahaTesser commented on #61660
Hi @jaysephjw
Could you please upgrade `pigeon` to  latest `pigeon 0.1.2+1` and try again?
Thank you

[2020-07-17 09:49] TahaTesser commented on #61693
hI @hamberluo
This is being worked on
Closing as duplicate of https://github.com/flutter/flutter/issues/58247   https://github.com/flutter/flutter/issues/58479
if you disagree, please write in the comments and I will reopen it.
Thank you

[2020-07-17 09:49] #61693 closed

[2020-07-17 09:51] flukejones commented on #60269
Sorry about the lack of detail or any way to generate a repeatable case. I was trying to zip through a few things to get a build happen at that seemed to be one of the blockers - I didn't in any way test thoroughly.

Is there an easy way for me to get flutter using the dart master so I can check my cases a bit better with the fix?

[2020-07-17 09:53] mdccxv commented on #16322
We're running into this issue as well, despite Landscape orientation being implemented, we're potentially locking the app to Portrait-only as those iOS transitions look super bizarre.
Any update on possible timeline or at least whether or not it will be fixed at all?

[2020-07-17 09:56] VladyslavBondarenko commented on #61688
Hi @K-Schaeffer
could you provide your `flutter run --verbose` log when hitting the error?

[2020-07-17 09:57] Pragya007 commented on #53375
Hey @TahaTesser  So if I change these files will it reflect on this page:
https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#3

I am asking for these docs repository.

[2020-07-17 09:57] VladyslavBondarenko commented on #61670
Hi @K-Schaeffer
could you provide your `flutter run --verbose` log?

[2020-07-17 10:00] darshankawar commented on #61630
@Rayyan2650, so are you running `flutter run` from the folder which has that file ? Or Can you `cd` to that folder which contains `pubspec.yaml` and then try to run `flutter run` ?

[2020-07-17 10:04] md-weber commented on #48882
I think your solution could be a good option but would lead to a lot of changes inside of the InputDecoration. Because there are already a lot of fields that contain information about the different status. I felt more about a lightweight solution where we add a new class for the IconColors.

[code]

The different colours could be null and would fallback to default colour, or if iconColors is not s

[2020-07-17 10:05] kakyoism opened #61707 "DeviceOrientation.landscapeRight is upside down on Android"
## Steps to Reproduce

1. In a test app, add the following line before `runApp` call.

[code]

2. Run the app on iOS and Android respectively
3. Notice that the orientation on iOS is landscape right (correct), while on Android it's landscape left (wrong!)

[code]

The Android phone is an `ONEPLUS A6000`;
The iPhone is an iPhone6.

Currently I can only fix this by conditionally setting the orientat

[2020-07-17 10:07] TahaTesser commented on #61703
Hi @giaur500
Can you upgrade to latest `master` and try again?
Can you upgrade to dev and try again
`flutter channel master`
`flutter upgrade --force`
`flutter doctor -v`

With upgrade if problem persist,  Can you please provide your `flutter doctor -v` your `flutter run --verbose -d <window device>` and a complete reproducible minimal code sample
Thank you

[2020-07-17 10:10] jiahaog commented on #41029
I don't think so, you'll have to wait a bit for it to hit stable 🙂

[2020-07-17 10:11] TahaTesser commented on #61686
Hi @Mrwangmingchao
Based on your error
[code]

From what I can see, the issue is related to `pub` rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/dart-lang/pub/issues).
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yam

[2020-07-17 10:11] #61686 closed

[2020-07-17 10:12] giorgio79 commented on #33392
PS can we do this on ThemeData level? Specify ListTile backgroud color for every list tiles?

[2020-07-17 10:13] ymdarake opened #61708 "JFYI: DateTime related issue (for #53033)"
Hi.

I just encountered a weird bug (?) on the Dart lang side, so I created an issue on the dart-lang repo: https://github.com/dart-lang/sdk/issues/42740 .
Because I found a similar (but already closed) issue on this repository, which is #53033, just for your information and potential workarounds on the Flutter side, I report here too.

Best regards.

[2020-07-17 10:18] johnniwinther commented on #60269
I actually don't know how to do that. @jonahwilliams do you how/if this can be done?

[2020-07-17 10:23] TahaTesser commented on #61691
<details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-17 10:26] pedromassangocode commented on #52324
I was able to reproduce in `1.21.0-1.0.pre`.

<details>
<summary> Complete example</summary>

[code]
</details>

<details>
<summary> Logs</summary>

[code]
</details>

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-17 10:26] markusaksli-nc commented on #39614
Reproducible on the latest master `1.21.0-2.0.pre.55` with Android 9, but not Android 11.
On an Android 11 (API 30) Pixel 3 emulator putting the style code in LaunchTheme or NormalTheme, both resulted in the correct behavior.
<img src="https://user-images.githubusercontent.com/68219924/87776190-0d93d900-c830-11ea-854b-31df765986f6.gif" height="400" />
On an SM G950F and Redmi Note 7, both using An

[2020-07-17 10:26] MrCreeper1008 opened #61709 "Flutter engine crashes when long pressing on textfield or tapping on it many times on android"
## Steps to Reproduce

I am unable to reproduce this on a brand new project. However, I am able to reproduce this in my current project with minimal code.

0. Use the following code:
[code]
1. run the app with an android emulator
2. tap on the textfield many times or long press on it

**Expected results:**
It should show a horizontal menu of text editing actions like cut/copy/paste.

**Actual resu

[2020-07-17 10:27] TahaTesser commented on #61706
Hi @blackk100
This is a known issue https://github.com/flutter/flutter/issues/54867
Closing based on the https://github.com/flutter/flutter/issues/54867#issuecomment-658504774 and in favor of. https://github.com/flutter/flutter/issues/61246

If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-07-17 10:27] #61706 closed

[2020-07-17 10:31] ymdarake commented on #61708
This is because of the different daylight saving offset, as mentioned on the other issue.
I'll close this, thanks.

[2020-07-17 10:31] #61708 closed

[2020-07-17 10:32] VladyslavBondarenko commented on #61695
Hi @jigarparmar21
could you provide a complete minimal reproducible code sample and your `flutter doctor -v`? but most probable your question better fits to Stack Overflow

[2020-07-17 10:34] darshankawar commented on #51718
Hi @raymondlee00,
Can you please confirm if you still experience this issue on latest Flutter version (eg: dev, master) ? Seeing your last message, it seems you found the solution. Is your other question still open ?

[2020-07-17 10:38] MrCreeper1008 commented on #61709
I have tried `flutter clean` but it didn't fix the issue.

[2020-07-17 10:38] jatinjain001 commented on #37557
how you solve it further , I m also having same error

[2020-07-17 10:39] mkustermann commented on #59245
The underlying issue is due to using cached files produced by a different version of the Dart SDK than the version used to run them.

The workaround is `flutter clean` or `rm -rf .dart_tool`.

The underlying problem should've been fixed in dart-lang/sdk and is slowly being rolled upstream to flutter. I've filed a cherry-pick request to ensure it will end up in future Dart SDK releases.

See https:

[2020-07-17 10:39] #59245 closed

[2020-07-17 10:41] VladyslavBondarenko commented on #61534
@CAoTx
after downgrading by `git checkout` or `flutter version` SDK is in a detached HEAD state.
So you have `Channel unknown`. After switching channel back to dev it changes it to the latest dev instead. This was the reason, so it's working as intended

[2020-07-17 10:41] #61534 closed

[2020-07-17 10:44] amreniouinnovent commented on #46904
@jonahwilliams Could you reconsider opening the issue as it got a lot of attention?
Thanks

[2020-07-17 10:50] darshankawar commented on #17733
Hi @jyygu,
Can you please confirm if you still experience this issue on latest Flutter version (eg: dev, master) ?
Thanks.

[2020-07-17 10:52] Sese-Schneider commented on #61096
@VladyslavBondarenko no problem! when do you think #61350 can be resolved?

[2020-07-17 10:53] a43mrk commented on #50587
I need this too ha!

[2020-07-17 10:56] TahaTesser commented on #61696
Hi @nateshmbhat
From what I can see, the issue is related to a FlutterFire plugin rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/FirebaseExtended/flutterfire/issues).
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yaml

[2020-07-17 10:56] #61696 closed

[2020-07-17 10:56] walkerwg commented on #61212
it seems to  be well after i upgrade iOS to the lastest 13.6， i think it maybe a iOS bug on 13.5.1

thanks

                                907029564

                                    邮箱：907029564@qq.com

        Signature is customized by Netease Mail Master

On 07/17/2020 15:10, Taha Tesser wrote:
Hi @walkerwg
To better address the issue, can you please provide a complete reproducible minimal

[2020-07-17 10:57] NO-ob commented on #53229
https://github.com/go-flutter-desktop/hover It might be worth looking at how go-flutter has an icon when you build with it you can place an icon in /go/assets and the program has it after building

[2020-07-17 11:01] TahaTesser commented on #61705
Hi @linuxfedora2020
You should be able play H.254 on Edge Windows 10 [Supported Formats
](https://pub.dev/packages/video_player_web#supported-formats)

Can you please provide your `flutter doctor -v`, your `pubspec.yaml`  and a complete reproducible minimal code sample and sample video if possible
Thank you

[2020-07-17 11:03] pulkitnanda49 commented on #61096
@VladyslavBondarenko @Sese-Schneider
I found that video_player doesn't support m3u8 file it worked fine after clearing all cache and changing link for mp4 file.

[2020-07-17 11:06] SwissCheese5 commented on #52338
@ditman ok, ok, okay, *okay*. pub.dev sign in also fails with privacy badger on. I really feel like this has to be a problem with google sign in in general now. Can we transfer this issue there?

[2020-07-17 11:11] Sese-Schneider commented on #61096
@pulkitnanda49 It does:

[code]

[2020-07-17 11:14] pedromassangocode commented on #57545
I was able to reproduce in `1.21.0-1.0.pre`.

The issue happens only on Web but for mobile I noticed that the `Radio`'s splash does not start from the center of the widget but from the position where the touch happens.

![Kapture 2020-07-17 at 11 54 55](https://user-images.githubusercontent.com/67424416/87780107-e6380e80-c825-11ea-9cd8-5a313b96c62d.gif)

<details>
<summary> Complete sample code</s

[2020-07-17 11:17] markusaksli-nc commented on #11073
Hi @Hixie
This issue no longer seems relevant in Intellij IDEA 2020.2, Android Studio 4.0.1, and VS Code 1.47.
<img src="https://user-images.githubusercontent.com/68219924/87780668-e04b2900-c837-11ea-91d9-a7f2353f93ec.png" height="300" />
<img src="https://user-images.githubusercontent.com/68219924/87780674-e17c5600-c837-11ea-81ed-6b5a26d5934f.png" height="300" />
<img src="https://user-images.git

[2020-07-17 11:17] MahdiArabpour commented on #35699
you can use `AlignmentDirectional` class instead of `Alignment`. It'll be something like:
[code]

[2020-07-17 11:19] Sese-Schneider commented on #61350
**Update**:
Found out that the plugins from `main/pubspec.yaml` get registered in `main/example/android/[...]/GeneratedPluginRegistrant.java`

[2020-07-17 11:20] CAoTx commented on #61534
Ok, I'm sorry for the misunderstanding.
Thanks for the help and clarification!

[2020-07-17 11:24] TahaTesser commented on #61707
<details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-07-17 11:24] darshankawar commented on #26845
Hi @fhuonder,
Can you please confirm if you still experience this issue on latest Flutter version (eg: dev, master) ?
Thanks.

[2020-07-17 11:28] limbouser opened #61711 "[flutter_wayland] 'keys.isNotEmpty': is not true."
I am using an embedder to run my Flutter application, a modified version of flutter_wayland by @chinmaygarde . It has been modified slightly to include keyboard support too https://github.com/dwrobel/flutter_wayland Modified by @dwrobel . My app mainly depends on keyboard navigation using arrow keys.

I created the test application provide by flutter team https://api.flutter.dev/flutter/services/L

[2020-07-17 11:33] jigarparmar21 commented on #61695
import 'dart:convert';

import 'package:cached_network_image/cached_network_image.dart';
import 'package:flutter/material.dart';
import 'package:fluttertoast/fluttertoast.dart';
import 'package:nopflutter/models/CartProductListModel.dart';
import 'package:nopflutter/models/PaymentMethodModel.dart';
import 'package:nopflutter/pages/HomeScreen.dart';
import 'package:nopflutter/pages/NoIntenetScreen.

[2020-07-17 11:44] markusaksli-nc commented on #11538
Closing since [Draggable video](https://api.flutter.dev/flutter/widgets/Draggable-class.html) clearly demonstrates this.

[2020-07-17 11:44] #11538 closed

[2020-07-17 11:50] newbieflutter commented on #59974
Hi Jmagman,
                      Sorry I missed your message earlier. Here it goes

1. I am attaching the file as you required.
[flutter_verbose.log](https://github.com/flutter/flutter/files/4937545/flutter_verbose.log)
2.
echo $PATH
`/Users/mymac/anaconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Apple/usr/bin:/usr/local/flutter/bin:/usr/local/flutter/bin:/usr/local/flutter/bin/

[2020-07-17 11:51] Producer86 opened #61712 "google_sign_in, catch idpiframe_initialization_failed exception"
Hi,

When the user has "Block third-party cookies" enabled in the browser I get "google_sign_in, idpiframe_initialization_failed, Cookies are not enabled in _the_ current environment." exception.
I would like to catch this so I can show a message asking the user to enable thrid-party cookies (of course would be more than happy to hear about workarounds).

[code]

Doesn't seem to cut it.

[2020-07-17 11:52] TahaTesser commented on #61701
### iOS

![Simulator Screen Shot - iPhone 11 - 2020-07-17 at 17 08 48](https://user-images.githubusercontent.com/48603081/87783370-f239c580-c851-11ea-8f23-778aecdf2ddb.png)

### Android

![flutter_01](https://user-images.githubusercontent.com/48603081/87783389-f960d380-c851-11ea-943f-e1a43e3a74a0.png)

<details>
<summary>Code Sample</summary>

[code]

</details>

<details>
<summary>flutter doctor

[2020-07-17 11:57] TahaTesser commented on #61619
Hi @Afsar-Pasha
Can you explain in detail? what are the problems with existing implementation and it's not clear what you suggesting as better approach, what you propose?
Thank you

[2020-07-17 11:57] giorgio79 commented on #45009
Also, in the Google Maps app itself, the bottom DraggableScrollable also slides the Google Maps container above it. So they are sliding together. Any plans for sg like this?

[2020-07-17 12:02] darshankawar commented on #46578
Hi @anirudhagarwal365,
Can you please confirm if you still experience this issue or have found a solution ?
I see that you've asked similar question on StackOverflow and it has received an answer with upvotes. Did you try that solution and does it answer your question ?
Thanks.

[2020-07-17 12:03] elanpang opened #61713 "can't access --dart-define arguments in dart code when run native project in root/android folder with Android Studio"
I have read this article that about --dart-define
[Flutter 1.17 — no more Flavors, no more iOS Schemas. Command argument that changes everything](https://medium.com/@tatsu.ukraine/configure-your-flutter-environment-in-the-proper-way-b81782c79726)

I notice that after running 'flutter run --dart-define=ENV=QA' to launch app on iOS device by Command-Line, in iOS folder a Generated.xcconfig will be g

[2020-07-17 12:08] pedromassangocode commented on #27581
I was able to reproduce this in `1.21.0-1.0.pre`. According to the `TextField` widget's docs there is no information related to the order in which those callbacks are executed.

https://github.com/flutter/flutter/blob/1840b7121a6a721484afca300265c7866e82dc77/packages/flutter/lib/src/material/text_field.dart#L133-L258

<details>
<summary> flutter doctor -v</summary>

[code]
</details>

[2020-07-17 12:08] cataCostea commented on #58163
any news on this issue?

[2020-07-17 12:10] VladyslavBondarenko commented on #61712
Hi @Producer86
please follow up on https://github.com/flutter/flutter/issues/59145, closing as duplicate

[2020-07-17 12:10] #61712 closed

[2020-07-17 12:13] sam-parks commented on #36052
This feature is needed, especially for OAuth flows. After completing the OAuth flow I get stuck and cannot get back to my main application because everything is happening in one window.

[2020-07-17 12:17] darshankawar commented on #47316
@Nandhini-Ravichandran, I see that you've already asked similar question on StackOverflow and you are looking for this solution for your integration testing. Did you try the solution given there ? There's no `out-of-box` method or `property` to stop animation on any widget. I am guessing you are using Flutter driver for integration testing and test execution using Driver is usually fast.

[2020-07-17 12:19] guidezpl opened #61715 "Cursor position lower than expected when TextField is empty"
I discovered this issue while implementing cursor height. With large cursors, it becomes obvious that the cursor is abnormally positioned for empty `TextFields`, and 'jumps' after a character is entered.

running on macOS:
https://user-images.githubusercontent.com/6655696/103345325-67602680-4a91-11eb-9ae4-91bd1069ada6.mp4

Bottom uses a large cursor, top uses a very large cursor

cc: @justinmc @Ga