[2017-08-02 19:41] eseidelGoogle commented on #3671
This is also related to (a duplicate of?) https://github.com/flutter/flutter/issues/5048.

[2017-08-02 20:56] pauldemarco commented on #3671
We have a use case I do not see mentioned: We are location tracking every 5 seconds, and have certain other information being attached to that event, all of which business logic is implemented in Dart.  If our user brings another activity to the foreground, we need to display a persistent notification and continue to run that Dart code every 5 seconds.

This is a blocker for us. I'd be interested

[2017-08-02 21:27] mehmetf commented on #3671
I would try to simply leave the timer active and see what happens. I wouldn't think it would be reliable but our app also has a use case of one-time cache cleanup (15 minutes after app has been put to background) and we have seen it successfully execute. We schedule it while the app is being stopped in Dart. Something like this:

[code]

It would not work if:
- App is explicitly killed by user (e.

[2017-08-02 21:59] eseidelGoogle opened #11489 "Flutter pauses scrolling every 90s"
I thought I had this on file, but I can't find it.

My understanding is we currently have no hinting to the Dart VM of when we should GC (i.e. not when we're scrolling).  Last I talked to @abarth he mentioned we just GC every 90s or so, which induces a missed frame.  We could be smarter and let the Dart VM know when is a good time to GC.

FYI @a-siva

[2017-08-02 22:01] Hixie opened #11490 "Refactor "pop" so that BackButton can quit the app on Android"
![img_20170802_125117](https://user-images.githubusercontent.com/551196/28892026-641e774c-7781-11e7-8466-dd95e072e0d9.jpg)

Specifically:

* Remove the call to `SystemNavigator.pop` from the `didPopRoute` handler in the `WidgetsApp`.
* Make `WidgetsApp` call `maybePop` instead of `pop` on the Navigator. (Or, make it call another method that then calls `maybePop`, so that we don't break `maybePop`

[2017-08-02 22:09] Hixie commented on #11489
Dupe of https://github.com/flutter/flutter/issues/9594

[2017-08-02 22:09] #11489 closed

[2017-08-02 22:17] Sfshaza opened #11491 "Debugging doc is out of date"
Travis complained about these broken links in debugging/index.md:

*  External link https://docs.flutter.io/flutter/rendering/Layer/debugFillDescription.html failed: 404 No error
*  External link https://docs.flutter.io/flutter/widgets/Widget/debugFillDescription.html failed: 404 No error

I removed these links to make Travis happy, but Ian tells me that the page needs updating.

@jacob314

[2017-08-02 22:36] Hixie opened #11492 "Consider faster (maybe less accurate) way of handling color on older devices"
When we improved our color correctness on older Android devices, we took a ~10% performance hit on rasterization.

We should consider a faster way to approximate color correctness for older devices. For example, we could color-correct images on decode (where it's particularly noticeable), but not worry about color-correct gradients. It's likely older devices don't have a precise idea of their scre

[2017-08-02 22:52] abarth commented on #11474
Here's a reasonable description of what we're doing:

https://en.wikipedia.org/wiki/Reactive_programming#Interaction_with_Mutable_State

[2017-08-02 23:00] jacob314 commented on #11491
Created pull request to address this.
https://github.com/flutter/website/pull/647

[2017-08-02 23:07] chinmaygarde commented on #9594
Is the mechanism to provide these hints already in place? I could not find anything in `dart_api.h` or `dart_tools_api.h`.

[2017-08-02 23:14] CharlesCleveJr opened #11493 "Android Emulator Not An Option In Flutter"
I've updated all the components and and `flutter upgrade` but can not get my android emulator to be an option like iOS emulator is.  I've updated my Android Studio components thinking that may be it but it didn't work either.  Here is my flutter doctor...

Macbooks-MacBook-Pro:~ Macbook$ flutter doctor
[✓] Flutter (on Mac OS X 10.11.6 15G1010, locale en, channel alpha)
    • Flutter at /Users/Macb

[2017-08-02 23:18] abarth commented on #9594
Nope.

[2017-08-02 23:22] yjbanov commented on #11479
I'll add it. @rmacnak-google showed me where to do that.

[2017-08-02 23:22] abarth commented on #9594
I was imagining two signals we could give the VM:

1. "This thread is probably going to be idle for X microseconds."  We'd be able to call this after an animation frame with the number of microseconds delay we predict for the next animation frame.  The VM could use this information to decide whether it makes sense to trigger a GC or other deferred work in these gaps between frames.

2. "This threa

[2017-08-02 23:22] eseidelGoogle commented on #11493
Does your emulator show up in `adb devices`?

[2017-08-02 23:31] zanderso commented on #9594
/cc @rmacnak-google @a-siva

[2017-08-02 23:32] CharlesCleveJr commented on #11493
No..  Can you point out how to navigate and add them.

[2017-08-02 23:33] abarth commented on #9594
See also https://blog.chromium.org/2015/12/smarter-garbage-collection-for-smoother.html

[2017-08-02 23:38] goderbauer opened #11495 "Scrollable TabBar ignores taps while transition is in progress"
## Steps to reproduce
1. Open the gallery app
1. Enable slow animations in the hamburger menu
1. Go to the "Scrollable Tabs" demo
1. Click on the last tab.
1. While transition is in progress, tap on the first tab again

## Result
The last tap is ignored.

The reason for this is probably that the Scrollable introduces an IgnorePointer widget that is set to ignore while the animation is in progress.

[2017-08-02 23:38] sethladd commented on #9594
Just want to say that this sounds very cool, and the kind of thing we can do because we work closely with each other. Love it!

[2017-08-02 23:54] devoncarew commented on #11493
@CharlesCleveJr, I would open Android Studio, and from there go to `Tools > Android > AVD Manager`. That will allow you to create AVDs (if none currently exist), and launch them.

Once AVDs exist, you can open them from the IntelliJ device selector (just like the IOS simulator option). That functionality will show up if you're on the `master` channel of flutter (and may have just been pushed to th

[2017-08-03 00:10] paolosoares opened #11496 "Chip label is unreadable"
## Steps to Reproduce

1. Create an app with a Chip:
[code]
2. Check its tooltip message. It should be something like:
[code]
I believe the intended message should be "Delete Potatossaurus". That's complicated, though, because there's no common way of widget to describe itself, specially since a Chip's label can be any type of widget.

[2017-08-03 00:17] xster commented on #8147
I didn't have plans but it's fairly easy. I can put something together.

[2017-08-03 00:26] Hixie commented on #11496
Oh my. That's unfortunate.

[2017-08-03 00:35] Hixie commented on #11496
We could maybe pull the text out of the semantics logic...

[2017-08-03 00:38] paolosoares commented on #11496
I suggest introducing the tool tip message as a optional parameter.

It would also help with providing internationalized tool tips.

[2017-08-03 02:25] eseidelGoogle commented on #11492
FYI @chinmaygarde @j9brown

[2017-08-03 03:36] miketraverso commented on #4245
Has anyone run into the immediate crash using TestFlight? I'm able to deploy successfully to device via debugging. Deploying via TestFlight causes an immediate crash. Bitcode is set to NO. Tried setting Optimization Level to None too. Any ideas? Doesn't even cause a crash log on the device.

[2017-08-03 05:07] perlatus opened #11499 "Wrong colors only on older device"
Easiest way to reproduce is using [zoomable_image/example](https://github.com/perlatus/flutter_zoomable_image/tree/master/example). I see this in my e1547 app as well, but not in Gallery, to my surprise. Wrong colors don't appear outside of the flutter apps.

Maybe related to #11492?

# Screenshots
## Nexus 5x with the correct colors
![Good, Nexus 5x](https://perlat.us/img/flutter_zoomable-image-w

[2017-08-03 05:10] eseidelGoogle commented on #11499
@chinmaygarde @jason-simmons this is likely related to the color-correction patch.

[2017-08-03 05:12] eseidelGoogle commented on #11499
This is a Galaxy S3, which we have one in our bank of devices:
https://www.amazon.com/Samsung-Galaxy-S3-SCH-I535-Verizon/dp/B00GWR8YSA

[2017-08-03 05:13] eseidelGoogle commented on #11499
The color correction patch which likely caused this is https://github.com/flutter/engine/commit/ddaa125ca7845ee177ceca6078d0aae3a675c4a6.

[2017-08-03 08:23] Schwusch commented on #11450
This is probably related to #10322

[2017-08-03 09:00] davidamey commented on #9827
Is there a current solution/workaround to [szakarias's comment](https://github.com/flutter/flutter/issues/9827#issuecomment-303717328) as I this exact problem.

[2017-08-03 09:07] BenSower opened #11500 "Textfield in gallery gets reset if scrolled out of view"
## Steps to Reproduce

0. Use a device with a display similar to an Galaxy S5 SM G900F
1. Open the "Gallery > Text Fields"
2. Enter some text in the first field
3. Tap into the next field and scroll the first field out of view
4. Scroll it back into view
--> The first field is reset

As a solution I think adding a TextEditingController to the fields might suffice.

## Logs
No notable logs

## Flut

[2017-08-03 09:09] pauldemarco commented on #3671
I'm not sure of the iOS counterparts, but on Android a flutter plugin could be created that launches a foreground service, which gives the process a higher priority and makes it less likely to be killed during resource demanding times. Would this also give the long running Dart timer a better chance of survival?

[2017-08-03 13:45] eseidelGoogle commented on #11500
@Hixie did some work around keeping alive offscreen widgets in scroll views.  Its possible the gallery example is just missing the proper calls.

[2017-08-03 14:22] devoncarew opened #11502 "bin/tasks/commands_test.dart is flaky"
The devicelab test bin/tasks/commands_test.dart is flaky. I had thought this was contention over a hard-coded service protocol port, but it's still failing after we switched to using any open port.

[code]

[2017-08-03 14:38] Skylled commented on #11475
I'm running into this problem too with my black icons, on both Master and Alpha branches.
Whether the icons display correctly seems to vary from build to build.

[2017-08-03 15:37] a-siva commented on #6192
Is the idea somewhat similar to what dartium had in terms of worker Dart isolates which could execute regular Dart code but did not have access to the DOM ?

[2017-08-03 15:56] BenSower commented on #11500
Yeah, my TextEditorController proposition was mostly based on this discussion: https://stackoverflow.com/questions/45240734/flutter-form-data-disappears-when-i-scroll

[2017-08-03 16:53] yjbanov commented on #11450
@Schwusch ah yeah, @floitschG mentions it too. I think the bugs are separate though. They seem to have been caused by the same oversight - no strategy for a removed active child in a list - but the actual bug is in different code.

[2017-08-03 17:03] floitschG commented on #1356
Providing a better way to combine hashCodes is on our list for Dart 2.0 library changes.

[2017-08-03 18:39] xster commented on #9827
@davidamey, can you describe your steps a bit more?

Specifically, there shouldn't be a Podfile anymore when you flutter create an app until you use a plugin.

If you just create your own Podfile with your own cocoapod dependency, and run `pod install`, you should get that line in Debug/Release.xcconfig automatically.

[2017-08-03 18:54] Hixie commented on #11502
Yeah, I keep meaning to check out the problem.

[2017-08-03 19:13] Sfshaza commented on #11474
I should have added this issue to this PR: https://github.com/flutter/website/pull/646

Fixed.

[2017-08-03 19:13] #11474 closed

[2017-08-03 20:01] xster commented on #8147
It's a little awkward. I made #11505 but because the previous main Android activity theme was just always black, adding a splash screen re-introduces the Android version of #8127. So I'd have to make an Android version of https://github.com/flutter/engine/pull/3923 in the engine before I submit this too.

[2017-08-03 21:11] pauldemarco opened #11508 "Support for onDisconnect() in firebase_database"
This is a feature request to add **[onDisconnect()](https://firebase.google.com/docs/database/android/offline-capabilities#how-ondisconnect-works)** to the [firebase_database](https://pub.dartlang.org/packages/firebase_database) plugin.

[2017-08-03 21:29] dweekly commented on #10592
FYI - I'd love to see this added.

[2017-08-03 22:28] mehmetf commented on #3671
Yes, that might help since your activity (thus your flutter view) will remain active. I am still not convinced that we have enough clarity to do a plugin.

If the point is to support periodic background polling of information, it might be better to design a plugin just for that. It should allow registering a callback in Dart that is invoked via a timer in native code rather than implementing the T

[2017-08-03 22:35] mehmetf commented on #6192
This might be a somewhat obsolete request.

For instance, on iOS if your app is not running, iOS won't start it in order to receive the notification and sync data. Starting Android O, you have [5 seconds](https://developer.android.com/preview/features/background.html) to respond to an incoming message in the background and create a foreground service that shows notification.

[2017-08-03 23:21] yjbanov commented on #11425
`dart bin/run.dart -t bin/tasks/commands_test.dart`

[2017-08-03 23:22] #11425 closed

[2017-08-03 23:24] cbracken commented on #11344
Related #10372 on iOS.

[2017-08-03 23:30] devoncarew commented on #11425
Just to be clear, this issue wasn't about using `run.dart -t`, but executing the the test script directly (`dart bin/tasks/commands_test.dart`).

[2017-08-03 23:50] cbracken commented on #11344
In terms of the work here, the main issue is that we don't currently define a navigation order over widgets. Assuming some reasonable default, this shouldn't be more than a couple days' work for iOS and I assume similar on Android.

My guestimate at the work involved:
1. Determine the minimal default widget traversal order. We could use what we use for accessibility today, which is a traversal of

[2017-08-03 23:57] yjbanov commented on #11425
Ah, I misunderstood. Unfortunately, there are no plans to support it due to the way devicelab infra works.

[2017-08-03 23:58] pauldemarco commented on #3671
Even with a foreground service, the OS could still kill our process for any reason.

I feel the ideal solution must utilize Android's Alarm Manager, which is intended for cases where you want to have your application code run at a specific time, even if your application is not currently running.  But even with this, how might we reboot the Dart process with the same state, since we'll have a logge

[2017-08-04 00:27] Hixie commented on #11344
@abarth who may have ideas for how to do focus traversal

[2017-08-04 02:14] abarth commented on #11344
I'd build the traversal using `FocusNode` rather than the render tree.  Currently, you only need to register your FocusNode with the FocusScopeNode when you requestFocus [1], you we should add another way of registering the FocusNode for traversal.

If you want to get fancy, you could register with a BuildContext and then traversal could use your global coordinates to guess a default traversal ord

[2017-08-04 09:04] jamesgopinath opened #11513 "Assertion failure after setting theme data in MaterialApp -implicit_animations.dart 'style !=null'"
## Steps to Reproduce

Sample code which produces this error.
[code]

## Logs
[code]

## Flutter Doctor
[code]

[2017-08-04 10:44] asaarnak commented on #10629
Linking a migration guide to Android Studio 3.0.
https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html
Since `com.android.tools.build:gradle:3.0.0-alpha5` atleast Gradle 4.1 is required.

Just some ideas:
What do you think about creating dedicated Flutter channel, would it be good for testing this issue earlier and ease the migration later?
And maybe even set Flutter minimu

[2017-08-04 12:09] davidamey commented on #9827
I probably 'created' my solution before this fix went in so there was already a Podfile.

I added a pod to it and ran (I use fish shell)
[code]

Pod did its thing but I got this error:
[code]

[2017-08-04 13:27] mehmetf commented on #3671
@pauldemarco hence this bug... There's no way for Flutter right now to execute Dart code in any state w/o a FlutterView running. This includes Alarm Manager, Wearable/Native Widget Data Sync, or Push Notifications (though the use case for the last one is slowly going away https://github.com/flutter/flutter/issues/6192).

I would think the _same state_ issue should be resolved at app level not at F

[2017-08-04 16:30] mzimmerm commented on #4858
This is probably obvious question, as I do not see anything like that in the Flutter API,  but let me ask to confirm: In Flutter, there is no classes for Android equivalent (or Android similar) role of PathEffect or it's extensions ComposePathEffect, CornerPathEffect, DashPathEffect, DiscretePathEffect, PathDashPathEffect, SumPathEffect, is that correct (at timepoint August 2017)? Thanks

[2017-08-04 16:35] sethladd commented on #4858
@mzimmerm thanks for the questions!

[2017-08-04 17:16] GaryQian commented on #10476
Tracker for remaining things to do:
https://github.com/flutter/flutter/issues/11092

[2017-08-04 17:56] jason-simmons commented on #11513
The MaterialApp is using the TextTheme's `body1` style.  The TextTheme in this code leaves that style unspecified, resulting in a null exception.

@Hixie should the TextTheme constructor insist that all styles by non-null?

You can construct a TextTheme based on an existing theme that overrides some of its styles:
[code]

[2017-08-04 18:38] HansMuller commented on #11397
I'll do this. I need a b3k from i18n.

[2017-08-04 18:42] Hixie commented on #11513
Yeah, the TextTheme constructor should probably require that all the data be filled in. We might need some constructors that make that easier.

[2017-08-04 18:45] Hixie commented on #9641
Dupe of 4858.

[2017-08-04 18:45] #9641 closed

[2017-08-04 18:46] Hixie commented on #4858
That is correct at the moment. In due course we'll probably expose more and more such APIs, especially the fast ones.

[2017-08-04 19:05] kostaa opened #11517 "Make Chip's background colour configurable"
Hopefully it is not the case that "you can have any colour as long as it's gray" ...

[2017-08-04 20:04] #11445 closed

[2017-08-04 20:50] mishadynin opened #11521 "Loading this image takes 30+ seconds, pins CPU at 100%"
## Steps to Reproduce

Use case:

[main.dart.txt](https://github.com/flutter/flutter/files/1201601/main.dart.txt)
![art](https://user-images.githubusercontent.com/4462265/28986297-344be996-791b-11e7-899a-d31e60512ae8.jpg)

## Logs

[runlog.txt](https://github.com/flutter/flutter/files/1201611/runlog.txt)

## Flutter Doctor

[✓] Flutter (on Mac OS X 10.12.6 16G29, locale en-US, channel alpha)
    •

[2017-08-04 21:04] goderbauer commented on #11495
I landed a partial fix for this in #11503. That one will make TabBars more responsive if a click on a tab doesn't trigger a scroll animation.

If a click on a tab triggers a scroll animation, it's a different story: Currently, tabs become unresponsive to clicks while the scroll animation is in progress because instead the click will stop the animation (this is the default behavior for scrolling).

[2017-08-04 21:13] Hixie commented on #11521
I can reproduce.

[2017-08-04 21:39] Hixie commented on #11521
Specifically, this app reproduces it:

run `flutter create bug11521`.

`lib/main.dart`:
[code]

`pubspec.yaml`:
[code]

...and then use the [image above](https://user-images.githubusercontent.com/4462265/28986297-344be996-791b-11e7-899a-d31e60512ae8.jpg) as `test.jpeg`.

[2017-08-04 21:41] Hixie commented on #11521
I tested this with other images and it works fine, so it's something about that specific image. May be a Skia regression. @jason-simmons said he'll look at it.

[2017-08-04 21:42] eseidelGoogle opened #11522 "Tab tap target it to small"
Tap target does not include the tab indicator (which iOS MDK does).

@goderbauer

[2017-08-04 22:13] ameiyil opened #11523 "Chip does not constrain size of children"
## Steps to Reproduce
I'm trying to utilize the Text widget's overflow properties when I put it into a chip.
However when I do the following the chip is not constraining the size of Text and results in the Text widget being wider than the available space*:
[code]
It produces the following:
<img width="273" alt="screen shot 2017-08-04 at 3 06 55 pm" src="https://user-images.githubusercontent.com/28

[2017-08-04 22:43] jason-simmons commented on #11521
This image is getting stuck in SkRasterPipeline/SkJumper execution.

@mtklein

Example stack trace:

#0  0xa333711e in parametric (v=0.815686345, ctx=0xb8389fe4) at ../../third_party/skia/src/jumper/SkJumper_stages.cpp:823
#1  0xa332baf6 in parametric_g_k (k=0xa40fc214 <kConstants>, ctx=..., x=910, y=0, tail=0, r=@0xaf9900f4: 0.254901946, g=@0xaf9900f8: 0.815686345,
    b=@0xaf9900fc: 0.815686345,

[2017-08-04 23:12] Hixie commented on #11517
I have excellent news for you: in https://github.com/flutter/flutter/pull/11498, @paolosoares contributed a patch to solve this very issue!

[2017-08-04 23:42] jason-simmons commented on #11521
The JPEG is in a CMYK color space.  As a workaround, you should be able to render it in Flutter by converting it to RGB.

[2017-08-04 23:49] mtklein commented on #11521
Wow, what an excellent stack trace. It looks like you're running a debug
build and falling back to a slow, portable code path we'll use if we don't
have a specialized version for your processor. Ordinarily a debug build
isn't so bad if we do have a processor specialization (as we build those
separately and always very optimized) but the portable fallback is built
like the ordinary rest of skia, up

[2017-08-05 00:03] jason-simmons commented on #11521
This trace was from an older ARM Android phone (Nexus 4 / Qualcomm APQ8064).  /proc/cpuinfo does claim "neon" and "vfpv4" features on this model.

At one point I tried forcing portable code by changing the ifdefs in SkJumper.cpp to see if that would help.  This trace might be from that experiment.  (The image still didn't decode with the portable path turned on).

Here's another stack trace on the

[2017-08-05 00:18] mishadynin commented on #11521
I am using flutter_tester on darwin-x64 as the primary environment, although it's reproducible on Nexus 9 as well.
Used to work a few weeks ago with no problem until I upgraded Flutter.
Converted the problematic image on my side, so this can wait until Tuesday.

[2017-08-05 00:19] mtklein commented on #11521
Ooh. That trace is even more telling. It looks like we're falling into the
code path that we use to implement ICCv4 color profiles. Those things can
be ridiculously complex.

It does look like that profile is still using the portable code, though I
agree the krait in the nexus 4 supports VFPv4 and we should have no trouble
detecting that.

Even using the specialized code it looks like we're bailin

[2017-08-05 00:22] mtklein commented on #11521
That's funny. I don't think the ICCv4 code has changed substantially in the
last 6 or 9 months. I've got to imagine old flutter was running the same
code... I guess it'd have to be flutter started paying attention to image
color spaces in that time.

The key feature here should be the ICC color profile embedded in the image.
If you can keep the image sRGB or limited to an ICCv2 profile, you won't

[2017-08-05 00:24] chinmaygarde commented on #11521
Flutter switched to color correct rendering only in the past couple of weeks.

[2017-08-05 00:30] mishadynin commented on #11521
Yes looks like the color profile is the culprit.  As reported by ImageMagick's identify, the problematic image has a Profile-icc of 557168 bytes.
I would very much prefer to have an incorrect color profile over dozens of seconds to render an image.

[2017-08-05 00:44] Hixie commented on #11517
It is done! Enjoy!

[2017-08-05 00:44] #11517 closed

[2017-08-05 01:03] chinmaygarde commented on #11521
For Android, this patch fixes attempting to detect features on Android. https://skia-review.googlesource.com/c/31067

[2017-08-05 01:08] chinmaygarde commented on #11521
For iOS, the absence of `sys/auxv.h` prevents detection of CPU features. Filed https://bugs.chromium.org/p/skia/issues/detail?id=6922 to track.

[2017-08-05 02:21] mtklein commented on #11521
Is 32-bit iOS still something you target? If you're 64-bit only, nothing to
worry about there yet. While ARM keeps firing off ARMv8.x instruction set
revisions, there is not yet any new hardware we're aware of actually
implementing them!
On Fri, Aug 4, 2017 at 9:08 PM Chinmay Garde <notifications@github.com>
wrote:

[2017-08-05 05:36] ds84182 commented on #9627
So some (possibly engine) change broke this """hack""".

I can still use the clear blend mode to punch a hole through the canvas to make transparent regions... However I don't think the main framebuffer gets cleared. I see glitchy tiling artifacts instead. What you see is GPU dependent, but most phone CPUs should show some glitchy tiles from the previous frame.

Here's the code I'm using on the Fl

[2017-08-05 08:13] kostaa commented on #11517
What a service! Many thanks.

[2017-08-05 10:33] Tobiaswk commented on #10617
I'm sad to say... but I'm still having this problem. I'm on the master channel. Maybe there is more to this?

[code]

[2017-08-05 13:11] MichaelSowah opened #11527 "Phone auth feature for firebase_auth"
Phone auth support would be great inclusion, lately its one of the quickest sign process in mobile app development
 T**ext below picked from this page** https://firebase.google.com/products/auth/ l**inked in the plugin's** page
Firebase Authentication aims to make building secure authentication system easy, while improving the sign-in and onboarding experience for end users. It provides an end-to-

[2017-08-05 17:44] eseidelGoogle commented on #10617
@chinmaygarde @jason-simmons @brianosman  What is the proper information to collect here?

[2017-08-05 17:47] eseidelGoogle commented on #11521
We do not currently support 32-bit iOS: https://github.com/flutter/flutter/issues/2089 . Unclear if  we will need to?

[2017-08-05 18:07] seleznova commented on #11441
I use Ubuntu 16.04 and running the app in IntelliJ IDEA have a very similar problem:

[code]
Running flutter doctor I see:
[code]
Also, in Android Studio my apps are running smoothly.
How to solve this problem?
Thanks in advance for help.

[2017-08-05 23:05] eseidelGoogle commented on #11441
`flutter run -v` will may show you more information.

[2017-08-06 04:19] ds84182 commented on #9627
I think the bug is happening because the main framebuffer isn't being cleared with glClear. When punching a hole through the Skia canvas it actually puts a hole in an auxiliary framebuffer that gets composted to the main thread. Avoiding glClear is an optimization though, since you wouldn't want the GPU to spend time clearing framebuffer pixels that will (generally) get rewritten with a new result

[2017-08-06 15:12] ds84182 commented on #10655
Shouldn't the text opacities be changed to brightness instead? [The Material Design guidelines gives percentages](https://material.io/guidelines/style/typography.html#typography-other-typographic-guidelines), which can be interpreted as opacity values, but can also be interpreted as a coefficient of brightness. Normally, alpha values JustWork(TM), but with the Skia changes they don't JustWork(TM)

[2017-08-06 16:29] pauldemarco opened #11529 "Customizable BottomNavigationBar height"
Although it implements the material design spec, plenty of apps do make the BottomNavigationBar shorter (Youtube, Facebook, Keep, etc).   It would be nice to have this functionality, although it is not critical to our app.

[2017-08-06 21:18] pranapa opened #11530 "I have tried all possible options. When i am trying to run the app the app is woking fine with all functionality .However the below messages are coming in android monitor which is very annoying.Please help me in finding the reason why it is coming."
[code]

[2017-08-07 02:07] sarah-fernandez opened #11531 "TextField IME Keyboard does not automatically capitalize the first word in a sentence."
## Steps to Reproduce

I fulfilled the Building Beautiful UIs with Flutter Codelab (https://github.com/flutter/friendlychat-steps/tree/master/offline_steps/step_5_finishing_touches) and started the application.

When I touch the message TextField widget to bring the IME keyboard to write, the keyboard always appears in lowercase mode instead of the expected uppercase mode.

Also after typing a "."

[2017-08-07 02:27] eseidelGoogle commented on #11531
See also https://github.com/flutter/flutter/issues/9363.  FYI @cbracken

[2017-08-07 02:29] eseidelGoogle commented on #11530
Those logs are coming from "com.google.android.googlequicksearchbox" which is presumably the "google quick search box" on your android home screen.  None of that looks related to flutter as far as I can tell?

Android logs all end up in the same place, but each have a different tag.  The tag should match the name of your app, or say "flutter".

[2017-08-07 07:32] adityamv7 opened #11532 "Android version code and version name missing"
## Steps to Reproduce

I created an app through git cmd on windows 10 Home and from last 2-3 times i observed
the android manifest xml does not contain android versionCode and android versionName
and app does not run on emulator due this, but as soon as i add them back the app works fine

## Flutter Doctor
[code]

[2017-08-07 07:34] adityamv7 opened #11533 "The application may be doing too much work on its main thread."
## Steps to Reproduce
Create an demo app using git cmd run it android emulator

## Logs
[code]
## Flutter Doctor
[code]

[2017-08-07 09:38] titanseason opened #11534 "flutter doctor - exception at 'flutter_tools.dart:16'"
## Steps to Reproduce
I just cloned flutter sdk, and execute `flutter doctor`, an exception happened, and when I execute `flutter create myapp`, the same crash happened.
Is this at the reason of Great Fire Wall in China?

## Logs

Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

SocketException: SocketException: OS Error: 信号

[2017-08-07 09:52] mravn-google opened #11535 "Add a default plugin registrar to PluginRegistry"
When plugin registration is handled manually, we see code such as
[code]
in custom `FlutterFragmentActivity` subclasses. The plugin ID given as argument to the `registrarFor` method is used only to distinguish objects published by different plugins, but most plugins don't, and most clients probably wouldn't care anyway. For such cases, a default registrar can be used for all plugins, and the above

[2017-08-07 11:31] szakarias commented on #11031
@bramvbilsen are you still having issues?

[2017-08-07 12:18] lyrachord commented on #11051
downloading engine and packages failed

Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

SocketException: SocketException: OS Error: signal timeout...(translated)
, errno = 121, address = storage.googleapis.com, port = 65194

[code]

## flutter doctor

[code]

[2017-08-07 14:37] brianosman commented on #10617
I'm also unable to repro this on the emulator. Even if I force it to use software graphics, it looks bad (4444) but still renders more-or-less correct. Things I'd like to see/know:

1) What setting is enabled on the AVD configuration (is Emulated Performance set to Hardware or Software).
2) What OpenGL ES API level is being emulated? In the emulator, 'Extended Controls...', 'Settings'
3) What grap

[2017-08-07 14:59] eseidelGoogle commented on #10617
Sound like good things to add to https://github.com/flutter/flutter/issues/11402 :)

[2017-08-07 15:08] Tobiaswk commented on #10617
@brianosman
1. Hardware
2. OpenGL ES 2.0
3. Below is the output from ```lspci -vnn | grep VGA -A 12```
[code]

I hope we can get to the bottom of this ;)

[2017-08-07 15:19] brianosman commented on #10617
@Tobiaswk Does changing the AVD configuration to Software fix the black screen. That's obviously not ideal, but might help us narrow down if it's actually a problem with the Intel driver implementation that's bubbling up to the emulator.

[2017-08-07 15:23] eseidelGoogle commented on #11051
@lyrachord your issue looks different.  Looks like your computer is having trouble connecting to `storage.googleapis.com`.  I recommend filing a separate bug https://github.com/flutter/flutter/issues/new

[2017-08-07 15:34] Tobiaswk commented on #10617
@brianosman It makes no difference whether I select hardware or software emulation. It results in a black screen in both cases.

[2017-08-07 15:40] eseidelGoogle commented on #11532
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/templates/create/android.tmpl/app/src/main/AndroidManifest.xml.tmpl is the file in question.  FYI @mit-mit

[2017-08-07 16:01] jandado commented on #11500
Hi everyone, we are experiencing same behavior with TextFormFiled as well as ExpansionTile widgets - when scrolled off screen in a ListView, both lose state.
The suggested workaround - to set a controller on a TextField does not work on ExpansionTile (setting onExpansionChanged) does not resolve the issue.

@eseidelGoogle , could you point us at the code @Hixie may have touched (in regardds to "ke

[2017-08-07 16:20] brianosman commented on #10617
Hmm. Okay. Are you getting the same 'Calling unimplemented GLES API' message from earlier reports? And just to make sure - the emulator itself tends to work fine, but launching a flutter app just produces a black screen? Is this with all apps (if you try to run the flutter_gallery example, does that do the same thing?)

Paging @drWulf, who might have another idea.

[2017-08-07 16:46] Tobiaswk commented on #10617
@brianosman Not getting the earlier reported 'Called unimplemented GLES API'. Everything else works with the emulator. I've tried non-flutter projects... they render fine. I tried the flutter_gallery example and also produces a black screen.

It does actually come with some other strange OpenGL related errors or messages. This is when launching flutter_gallery example project;
[code]

[2017-08-07 17:47] drWulf commented on #10617
@Tobiaswk Can you upload your .avd directory and .ini file for your the emulator instance that is giving you problems?  I assume the resulting file size will larger that what can be attached to an issue so you will probably have to link to it from elsewhere.

Having the offending AVD will help us to determine if it a specific interaction with your hardware or in the interaction of flutter with tha

[2017-08-07 18:04] Tobiaswk commented on #10617
**I have a breakthough! I got it to work!** I manually edited the ```advancedFeatures.ini``` in the AVD directory.

Before my edit;
[code]

I changed the ```GLESDynamicVersion``` to ```off```;
[code]

The ```GLESDynamicVersion``` setting you can't change in any of the UI's provided my Google to my knowledge.

Now it works with either software or hardware emulation.

[2017-08-07 19:22] brianosman commented on #11402
I am working on a new dump() from GrContext that will provide more information, but I noticed that `flutter bugreport` (and/or) `flutter run --bugreport` are only in the 'proposal' stage? Neither one actually exists, right?

[2017-08-07 19:48] deborah-ufw commented on #3673
hi Flutter, UI team is spec'ing interactions for our dev team and there's no where we can find to see the drag & drop in action, understand what its capabilities are or how close it comes to

1) the requirements we have been given by our Product team, or
2) the use cases we want to solve with drag & drop

Would really like to see this re-opened.

[2017-08-07 20:03] asaarnak commented on #10992
Linking a migration guide to Android Gradle plugin 3.0.
https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html
`com.android.tools.build:gradle` currently in `3.0.0-alpha9` already but since `3.0.0-alpha5` atleast Gradle 4.1 is required.

Just some ideas:
What do you think about creating dedicated Flutter channel for testing this issue earlier to speed up the migration when A

[2017-08-07 20:18] Hixie commented on #3673
@deborah-ufw does https://github.com/flutter/flutter/blob/master/dev/manual_tests/lib/drag_and_drop.dart provide enough of an example? If not, could you file a new bug saying what you would like demonstrated? Thanks.

[2017-08-07 20:19] chinmaygarde commented on #11402
`bugreport` does not currently exist. But writing the contents of `GrContext::dump()` to the logs should suffice as I image bugreport details will be picked up from there.

[2017-08-07 20:20] eseidelGoogle commented on #11402
`flutter run --bug-report` exists.  @tvolkert made that.

[2017-08-07 20:21] asaarnak commented on #9897
The gain could also be the upgrade to gradle 3.3 and new android gradle 2.3.3 plugin.

The new Android Gradle plugin should help performance futher:
https://developer.android.com/studio/preview/features/new-android-plugin.html#performance
"The main focus of this version is to address the build performance issues of Android projects with a large number of modules."

[2017-08-07 20:36] Hixie commented on #5048
I'm going to close this as a duplicate of https://github.com/flutter/flutter/issues/3671, since as far as I can tell they are asking for the same basic feature.

[2017-08-07 20:36] #5048 closed

[2017-08-07 20:56] deborah-ufw opened #11538 "Create a minimal UI or at least a .mov that shows drag and drop example(s) happening on screen"
Our dev team is using Flutter with the expectation that UI team will understand and specify existing Flutter widgets.

However, for drag and drop, there is no UI example to visibly evaluate how the widget works, what it has as a native behavior and what it doesn't, and whether or not it can be used to solve a particular UI problem. Our product team delivers specific requirements, but we can't tell

[2017-08-07 21:00] Hixie commented on #11538
`drag_and_drop.dart` isn't just a code sample, it's an application you can run and show your UI team.

[2017-08-07 21:00] Hixie commented on #11502
I see all kinds of failures in the logs.

[2017-08-07 21:01] deborah-ufw commented on #11538
How???

[2017-08-07 21:06] sethladd commented on #11538
@deborah-ufw hi! thanks for the feedback, we'd love to chat with you (and/or your dev team) to learn more about how you're using Flutter. If you're interested, please email me at sethladd at google dot com. Looking forward to learning more, thanks!

[2017-08-07 21:15] deborah-ufw commented on #11538
How shall we chat?

I would like to see a visual example of the drag and drop, even if it’s a .mov. I am not sure how to use the .dart. It seems like I would have to build a UI myself to plug it into to evaluate.

Thank you,
Deborah

[2017-08-07 21:16] sethladd commented on #11538
Send me an email (I can't seem to find your email) and we'll find a time to either Hangout or chat in person. It appears you are in Mountain View? So are we :)

[2017-08-07 21:21] deborah-ufw commented on #11538
Hi !!

I’m actually with Carnivore Studios in SF, but my GitHub email always goes to this address :). Mt. View is awesome !!!  I used to work at a startup right next door to Evernote’s original offices.

Hangout sounds like a great solution.  When works for you? I’m pretty crushed with deadline for today, but this eve or tomorrow between about 11 (after all our meets) and 7pm is wide open.

Thanks

[2017-08-07 21:55] bramvbilsen commented on #11031
@szakarias I haven't tries importing it in `root/ios` yet because I went on a holiday. Exams are now coming up so no time atm either. I will give it another go when I find the time and I'll let you know!

[2017-08-07 22:38] sethladd commented on #11538
Oh, Carnivore! Right on... ok, makes sense :)

Please email me directly (sethladd at google dot com) and we'll work it out. Thanks!

[2017-08-07 23:10] B3rn475 opened #11539 "Flutter run crashes if there is an invalid imports in the application sources."
Trying to `flutter run` an application with an invalid import in the source code makes __flutter tools__ crash.

[code]

The crash is at https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/dart/dependencies.dart#L68

Log
[code]

[2017-08-07 23:15] tvolkert commented on #11402
Yep, `flutter run --bug-report` exists (follow the code from [here](https://github.com/flutter/flutter/blob/befe01989610e4e231ca1c9095fcdb7a027ede84/packages/flutter_tools/lib/src/runner/flutter_command_runner.dart#L192)), so we could hook up the GrContext dump into that.

For Android, `adb bugreport` can also contain a lot of info, but there's probably value in just encapsulating it all in the `f

[2017-08-07 23:27] sethladd opened #11540 "Support for Firebase Dynamic Links (aka Deep links)"
From a current Flutter user, they wish to have support for Deep Links aka Dynamic Links. See https://firebase.google.com/products/dynamic-links/

[2017-08-07 23:30] Hixie commented on #11502
I cannot repro this locally.

[2017-08-07 23:30] sethladd opened #11541 "Support for "silent login" of existing users with Firebase Auth"
Our current customer is asking for "Silent login of existing users (awaiting a call to FirebaseAuth.instance.currentUser)"

[2017-08-07 23:59] Hixie commented on #11538
To run the drag-and-drop example, you just use `flutter run` in that directory (or copy and paste the contents of the relevant file into the 'main.dart' of a `flutter create` app). Specifically for this one you'd run `flutter run -t drag_and_drop.dart` in the `dev/manual_tests` directory of the flutter repo.

[2017-08-08 00:00] deborah-ufw commented on #11538
Ok. I will give this a shot.

This seems like it would be good to reference on the widget page, and to comment in the code of the linked .dart.

Thanks!

[2017-08-08 00:40] Hixie commented on #4630
The idea here is that we would have a StatusbarLayer (or whatnot) that sets the color, and after composition we would inspect the layer tree to see what layer ended up at the top center of the screen, and set the color of the status bar based on that color.

[2017-08-08 00:40] Hixie commented on #4630
Then you would wrap whatever you wanted to have set the color in widgets that created these layers.

[2017-08-08 00:40] Hixie commented on #8464
Dupe of https://github.com/flutter/flutter/issues/4630?

[2017-08-08 01:27] GaryQian commented on #11092
https://github.com/flutter/engine/pull/3964

[2017-08-08 01:45] mclark4386 commented on #10968
Really need this, so I would be happy to see a brain dump and give it my best shot^^

[2017-08-08 02:43] Minenash opened #11545 "Assertions fails if a text widget is given a null text."
[code]

If the text is null, then the assertion fails. This seems like something that can happen easily with new users.

[2017-08-08 03:06] titanseason commented on #11534
It seems that something error occurred while downloading gradle wrapper

[2017-08-08 04:12] xster commented on #9827
@davidamey, are you trying to use plugins? Sounds like no. For now, you can try `pod deintegrate` in your flutter project's ios/ folder. Then create the Podfile the way you prefer and then `pod install` manually and things should work.

[2017-08-08 06:35] mravn-google commented on #11535
On hold. Known use of manual plugin registration is transitioning to use code generation.

[2017-08-08 08:55] lyrachord opened #11546 "flutter doctor failed to download engine, tools and other packages"
## Steps to Reproduce
flutter doctor

Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

SocketException: SocketException: OS Error: 信号灯超时时间已到
, errno = 121, address = storage.googleapis.com, port = 50537

[code]

## flutter doctor

[code]

[2017-08-08 09:00] lyrachord commented on #11546
this point: address = storage.googleapis.com, port = 50537
The downloading is not always be failed.
port?

[2017-08-08 09:04] lyrachord commented on #11546
jump from #11051
https://github.com/flutter/flutter/issues/11051#issuecomment-320694455

[2017-08-08 10:34] mravn-google opened #11547 "Flutter CLI tools should understand build variants"
https://github.com/flutter/flutter/pull/11354 added support for Android build variants in the Flutter Gradle plugin. But Flutter CLI tooling also need to know about build variants, so that `flutter run` and friends are able to do the correct thing.

[2017-08-08 10:50] JFixby commented on #11439
Currently users that want to build their Android project with Gradle need to publish the flutter.jar artifact into their private repository server or at minimum into their private local repository.

[2017-08-08 11:04] JohannesKaufmann opened #11548 "CustomScrollView bug when SliverGrid and SliverList are children"
## Steps to Reproduce

Running the Sample Code from [widgets/CustomScrollView](https://docs.flutter.io/flutter/widgets/CustomScrollView-class.html) produces a bug while scrolling. See [Video](https://youtu.be/C-7Dt3ZkaN0) and [Github Repo](https://github.com/JohannesKaufmann/sliverbug/blob/master/lib/main.dart#L41-L82).

(The issue only seems to happen if a `SliverGrid` and a `SliverFixedExtentLis

[2017-08-08 14:09] JFixby opened #11549 "Flutter crash report;"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

FileSystemException: FileSystemException: Deletion failed, path = 'D:\AndroidDev\flutter\bin\cache\artifacts\engine' (OS Error: The directory is not empty.
, errno = 145)

[code]

## flutter doctor

[code]

[2017-08-08 14:44] #11397 closed

[2017-08-08 14:50] JFixby opened #11550 "flutter build apk crash"
## Command

```flutter build apk```

## Logs
[code]

## Flutter Doctor
[code]

[2017-08-08 15:50] eseidelGoogle commented on #11549
This doesn't surprise me.  This sounds similar to the dart-sdk upgrade dance we have to do.  Likely we need to move the cache folder out of the way before updating. Thoughts @goderbauer @tvolkert @bkonyi

[2017-08-08 15:56] HansMuller commented on #11397
Fixed in https://github.com/flutter/flutter/pull/11524

[2017-08-08 17:14] #11522 closed

[2017-08-08 17:43] goderbauer commented on #11550
Can you post the verbose log (run `flutter build apk --verose`)? That should contain more information.

Also, your Android Studio version is old. I'd recommend updating to the latest from https://developer.android.com/studio/index.html.

[2017-08-08 17:44] goderbauer commented on #11549
Since you filed https://github.com/flutter/flutter/issues/11550 it looks like you got past this crash. What did you do?

[2017-08-08 17:46] mclark4386 commented on #10968
Not to rush you @collinjackson , but I just realized I didn't tag you so I thought would tag you just to make sure. I'm sure you get a bazillion notifications from github everyday like I do^^;

[2017-08-08 17:48] JFixby commented on #11549
I reinstalled Flutter. No I can't reproduce it.

[2017-08-08 17:48] #11549 closed

[2017-08-08 17:49] ds84182 commented on #9627
I _think_ I know what changed. In the engine commit "When the surface does not support SRGB, render to an offscreen texture", the offscreen texture path does not clear the onscreen skia canvas in GPUSurfaceGL::PresentScreen, causing the punchthrough to see the uncleared pixels from the onscreen framebuffer. I've check my EGL extensions and I don't see anything pertaining to colorspace or sRGB.

ht

[2017-08-08 17:55] JFixby commented on #11550
I think the problem was due to the missing `config/config.yaml`

I did ```flutter build flx``` and he told me there is something wrong with `pubsec.yaml` and `config/config.yaml`. Actually there is no connection between this two files, but i created the `config/config.yaml` and it works. No idea why.

[2017-08-08 17:55] #11550 closed

[2017-08-08 18:03] goderbauer opened #11552 "Caching callbacks in RenderSemanticsGestureHandler doesn't work as expected"
`RenderSemanticsGestureHandler` contains multiple setters in the following style:

[code]

In real words: if the setter is set to the same value it already has no extra work should happen. However, in the precise environment the setters are called this check doesn't work as expected.

The setters are called from `_GestureSemantics` and the callbacks are set to a member function of that class. Whil

[2017-08-08 18:17] pranapa commented on #11530
So how can i get rid of these things.Sometimes it does not allow my app to open.

[2017-08-08 18:31] Hixie commented on #11548
Definitely, yes.

There should be some documentation for slivers now by the way. The only thing lacking any documentation at all currently is NestedScrollView. Please don't hesitate to file bugs if you have specific questions that the documentation doesn't answer.

[2017-08-08 19:13] cport1 commented on #10617
@mmartin101 I am also getting this error on Ubuntu 17

[2017-08-08 19:49] mmartin101 commented on #10617
@cport1 are you using master? I checked again using master on Aug 1st and everything was working correctly. I will check again tonight.

[2017-08-08 19:53] goderbauer commented on #11552
Actually, there are additional checks in the setter to ensure that we don't do anything crazy expansive in these cases. With that, the issue doesn't seem to be a (performance) concern. It was just slightly confusing when debugging this. I am going to close this for now.

[2017-08-08 20:17] Hixie commented on #11521
Questions we want to answer:
 - Does this image render correctly and fast on Android or iOS?
 - Can we reject images with pathological colour profiles?
 - Skia may have a better way to detect CPU abilities, is that going to help?
 - Can we identify what is expensive and warn the developer (in debug mode) somehow?
 - Can we put something in the profile to explain what's going on?

[2017-08-08 20:19] Hixie commented on #11012
@collinjackson, @mit-mit: Is this something we can work on in the nearish future?

[2017-08-08 20:20] Hixie commented on #10495
Questions:
 - Do we think this is in scope for the image picker plugin?
 - Is it something we want to provide as a first-party plugin?

[2017-08-08 20:21] Hixie commented on #10495
Seth will investigate these questions.

[2017-08-08 20:30] Hixie commented on #3671
Questions:
 - What are the iOS and Android models for background execution?
   - What signals can trigger the application to run?
   - How long do you have to run? How do you know when that's running out?
 - What execution model do we want for background execution? (e.g. a separate isolate? Use the main dart:ui thread?)
 - Do we want to support code running without the app (as in `runApp`) having

[2017-08-08 20:32] Hixie commented on #204
Assigning to myself. I'll speak with @abarth and get a braindump of how he was hoping this would work.

[2017-08-08 20:33] Hixie commented on #7673
@cbracken Can you post an update to this bug? Did you land the fix?

[2017-08-08 20:35] Hixie commented on #1723
@HansMuller Is this on your radar for after i18n?

[2017-08-08 20:37] Hixie commented on #1765
This is resolved now because we drop all input on a route after we pop it, even before the next frame begins.

[2017-08-08 20:37] #1765 closed

[2017-08-08 20:38] Hixie commented on #1785
This error message is far more detailed these days. I'm going to close this and we can address specific concerns when people file them on the new message.

[2017-08-08 20:38] #1785 closed

[2017-08-08 20:39] Hixie commented on #1811
This seems minor and this is just a manual test at this point, not a demo.

[2017-08-08 20:39] #1811 closed

[2017-08-08 20:39] sethladd opened #11555 "Missing a link from using-packages to developing-packages"
The https://flutter.io/using-packages/ doesn't seem to link over to https://flutter.io/developing-packages/

Maybe I missed it? But, I think we could add a note at the top of using-packages, something like "looking to develop your own packages? try these docs"

[2017-08-08 20:39] sethladd commented on #11555
cc @mit-mit

[2017-08-08 20:40] Hixie commented on #1813
Dupe of https://github.com/flutter/flutter/issues/10826

[2017-08-08 20:40] #1813 closed

[2017-08-08 20:40] Hixie commented on #1800
This still isn't handled well.

[2017-08-08 20:40] sethladd commented on #10495
We believe this is best done in a new plugin, not the "image picker" plugin.

We also believe that the necessary plugin/interop APIs are available and thus anyone could build this "image saver" plugin. For docs: https://flutter.io/developing-packages/

We don't have plans to make this a first-party plugin. However, we want our plugin infra to support this use case, so if you try to make this plugi

[2017-08-08 20:40] Hixie commented on #1800
This should either tell you the network is bad, or retry. Or both.

[2017-08-08 20:42] Hixie commented on #1845
We have some constructor and factories that make this a bit better now, but more importantly, we really haven't heard many complaints about this recently, so I'm going to close it for now.

[2017-08-08 20:42] #1845 closed

[2017-08-08 20:43] DaveShuckerow commented on #11441
I have an update: The Flutter tooling is attempting to use a different port than ADB to talk to observatory.  I tried forwarding the port Flutter used in the error log, but Flutter used a different port on the next run.

I'll sync with Hixie about this.

[2017-08-08 20:43] Hixie commented on #1854
We believe this is obsolete.

[2017-08-08 20:43] #1854 closed

[2017-08-08 20:45] Hixie commented on #1863
Closing this. We haven't had a need for this in a long time.

[2017-08-08 20:45] #1863 closed

[2017-08-08 20:47] Hixie commented on #1907
Going to close this. We can deal with this in the context of streamlining our install process.

[2017-08-08 20:47] #1907 closed

[2017-08-08 20:49] #2060 closed

[2017-08-08 20:50] Hixie commented on #2076
We haven't heard reports of this in a long time. I'm going to close this. Please reopen or file a new bug if this is something that still happens.

[2017-08-08 20:50] #2076 closed

[2017-08-08 20:51] Hixie commented on #2089
@sethladd Any opinions on this?

[2017-08-08 20:51] Hixie commented on #2102
We do this now! By default!

[2017-08-08 20:51] #2102 closed

[2017-08-08 20:52] Hixie commented on #2111
I provided dedicated CheckBoxListItem and RadioListItem widgets, which have largely dealt with the need for this. I'm not sure it would really make sense to make a general solution.

[2017-08-08 20:52] #2111 closed

[2017-08-08 20:53] Hixie commented on #2115
Assigning to myself to determine if we should fix this or not.

[2017-08-08 20:54] Hixie commented on #2121
This is SliverList with an itemExtent, now. RenderFixedExtentList or some such.

[2017-08-08 20:55] mclark4386 commented on #10968
So I took the liberty of making a test case project: https://github.com/mclark4386/test_flutter_plugins so that when that will `flutter run` it should be good^^

[2017-08-08 20:56] Hixie commented on #11548
Looks like the bug here is that when the SliverGrid is off the screen, it reports the wrong metrics.

[2017-08-08 20:57] Hixie commented on #11547
Is this something we would handle by having a command line argument to pick the flavour? With some default maybe?

[2017-08-08 20:58] mtklein commented on #11521
We spent a little time looking at this today.  It looks like this color profile is Photoshop's standard CMYK profile.  I would hesitate to call it pathological, and the image will draw noticeably wrong if we ignore the profile.

Skia, Photoshop, Preview, and the built-in Windows image viewer all display this image correctly.  All those programs except Skia display the image quickly enough to embar

[2017-08-08 21:00] Hixie commented on #11546
Related to https://github.com/flutter/flutter/issues/1800

Basically we need to be much better about handling network failures when dealing with `pub` and other upstream dependencies.

This also affects our build (our main source of flakiness is this kind of thing).

[2017-08-08 21:03] Hixie commented on #11545
This message is trying to point out that the `data` argument was null, and shouldn't be. If you don't want to render text, the idea is you would not provide the `Text` widget at all.

Is your request to make the message clearer, or is the request to change the rule about whether the argument can be null?

[2017-08-08 21:04] Minenash commented on #11545
It was about making the error message clearer

[2017-08-08 21:05] cbracken commented on #7673
Yep the fix is now landed.

[2017-08-08 21:05] #7673 closed

[2017-08-08 21:21] Hixie commented on #11521
Fantastic. We look forward to whatever optimisations you can provide!

[2017-08-08 21:40] Hixie commented on #9577
This will probably be addressed via https://github.com/flutter/flutter/issues/11490.

[2017-08-08 21:49] sethladd commented on #11521
Thanks for the update!

[2017-08-08 22:39] DaveShuckerow commented on #11441
Root cause explanation:
The Flutter tool uses a separate port to talk to a Flutter app from the observatory.  This can be specified while running a Flutter app with the flag `--observatory-port`.  This port needs to be forwarded along with the adb port (5037 by default).

I adjusted my port forwarding script to forward port 48314 as well as port 5037, and then when running the app, I passed the fl

[2017-08-08 22:39] #11441 closed

[2017-08-08 22:46] #11552 closed

[2017-08-08 23:35] HansMuller commented on #1723
I'm happy to do something about it however I think it would be worth getting some UX feedback about snapping behavior.  Not all apps that could snap do snap and sometimes - IMHO - apps like Google Newsstand that do incorporate some appbar snapping behavior may end up being more distracting than feeling natural.

[2017-08-09 03:07] abarth commented on #204
I imagined this would work as follows:

1. https://docs.flutter.io/flutter/dart-ui/decodeImageFromList.html would give you back an object that understood that images could have multiple frames and contained whatever information is reasonable about the number of frames and the delay for the next frame.

2. That object would come with the first frame already decoded as well as a function that reques

[2017-08-09 05:58] mmartin101 commented on #10617
@cport1 Just checked again using the latest master. Still getting the black screen :cry:.

[code]

[2017-08-09 10:22] Tobiaswk commented on #10617
@mmartin101 Have you tried what I did?  I manually edited the ```advancedFeatures.ini``` in the AVD directory. Set ```GLESDynamicVersion``` to ```off```;

[2017-08-09 12:24] cport1 commented on #10617
@Tobiaswk where can I find the AVD directory?

[2017-08-09 13:48] mmartin101 commented on #10617
@Tobiaswk I do not have an `advancedFeatures.ini` file in my avd directory

Android Emulator was updated to 26.1.3 this morning, but doesn't look like Google has put out the release notes just yet https://developer.android.com/studio/releases/emulator.html.

After updating I tried running my flutter app, still black screen. I tried to manually add the `advancedFeatures.ini` file and set `GLESDynam

[2017-08-09 13:57] cport1 commented on #10617
API 24 gives me the same results.

[2017-08-09 14:20] eseidelGoogle commented on #11475
I suspect this is a race down in our text/skia code.  @jason-simmons might be able to look?

[2017-08-09 14:28] Skylled commented on #11475
I'm experiencing the same behavior in `showTimePicker` too, [screenshot](http://i.imgur.com/tnlblyM.png)

[2017-08-09 15:58] sethladd commented on #204
thanks @abarth !

[2017-08-09 16:20] ihsanberahim opened #11561 "Card cutted in Android"
<img width="744" alt="screen shot 2017-08-10 at 12 12 55 am" src="https://user-images.githubusercontent.com/1956846/29131959-235553bc-7d61-11e7-914d-031c44ae98be.png">

## Steps to Reproduce

[code]

[2017-08-09 16:37] goderbauer opened #11562 "Accessibility Testing"
We need to be able to test a11y. There are two parts to it:

* Test that a11y support in the framework doesn't break.
* Enable app developers to test the a11y capabilities of their app.

Hopefully, we'll be able to leverage the same mechanism for both.

[2017-08-09 17:08] #11539 closed

[2017-08-09 17:08] Hixie commented on #1723
Ok, let's close this for now and address this reactively instead.

[2017-08-09 18:58] goderbauer opened #11563 "Dart Docs for Plugins don't focus on what's relevant"
From pub.dartlang.org, when I click on the "Documentation" link for a Flutter plugin I am taken to a Dart Doc side that doesn't really focus on the plugin. Instead, it includes the documentation for a whole bunch of dart core libraries and and it also puts those docs before the relevant docs of the plugin's library. I actually have to look closely to find the docs relevant to the plugin.

When I g

[2017-08-09 19:16] brianosman commented on #11402
I just added GrContext::dump() (https://skia.googlesource.com/skia/+/175af0d01177fc6e5a81e979cd2ae3009c375940). This returns a single JSON-formatted string with lots of information that's helpful in bug reports (GL strings for vendor, renderer, version, etc..., list of extensions, all of our derived caps information, and our shader caps information). Should I look into writing that out somewhere?

[2017-08-09 19:48] sethladd commented on #11540
"We need a URL that will 1) take the user to a specific part in our app (a chat, for example) if they have the app installed or 2) take a user to the device specific app store and then do 1) after they install the app.
I think this is called Google Play Referrer on Android "

Do we have any examples of how to do this, with Flutter?

[2017-08-09 19:52] sethladd commented on #11541
From a customer:

We want our users to be able to login with email and password and we want to retrieve this authentication from cache when the app is restarted.

We found that it takes a few moment for firebase auth to verify authentication status with the server, even when retrieving it from cache.

When trying to log an existing user in automatically, we found that auth.currentUser sometimes re

[2017-08-09 19:53] sethladd commented on #11541
cc @kroikie for thoughts on if this is "normal" behavior, or what the API should look like here.

[2017-08-09 20:15] kroikie commented on #11541
If I understand the request correctly this is a request for the implementation of getting the cached user, which is available via the onAuthStateChanged callback.

Something along the lines of this [PR](https://github.com/flutter/plugins/pull/180) could be the solution.

[2017-08-09 21:19] eturk1 commented on #11548
Another related bug?

I'm learning flutter and was driving me nuts thinking I was missing code, until I tried a simple test.

BUG: cannot have more than one SliverGrid in CustomScrollView.
Recreate by taking the same sample code above, copy a create 3 total SliverGrids, change color for each grid.
When you scroll on Nexus 5 emulator, you'll get first two and then bounce up to top. 3rd never paints

[2017-08-09 21:33] Hixie commented on #11548
Probably the same thing, yeah.

[2017-08-09 21:51] mclark4386 commented on #10968
So it looks like it's not setting up the includes properly...
[code]

[2017-08-09 22:05] HansMuller commented on #11399
This should be fixed by https://github.com/flutter/flutter/pull/11564

[2017-08-09 22:59] CharlesCleveJr commented on #9580
Has there been a fix for this issue?

[2017-08-09 23:28] Hixie opened #11566 "Border RTL"

[2017-08-09 23:28] Hixie commented on #11366
Depends on Border RTL (https://github.com/flutter/flutter/issues/11566).

[2017-08-09 23:29] Hixie opened #11568 "BorderRadius RTL"

[2017-08-09 23:29] Hixie commented on #11366
Depends on BorderRadius RTL (https://github.com/flutter/flutter/issues/11568).

[2017-08-09 23:34] xster commented on #9580
@CharlesCleveJr, it's fixed in the sense that Flutter doesn't automatically and silently trigger a CocoaPods spec repo clone while building anymore.

Though we nevertheless still have a dependency on CocoaPods and the spec repo still needs to be cloned. We provide a message asking the user to perform that step (`pod setup`) manually now.

[2017-08-09 23:42] Hixie opened #11569 "Padding RTL"

[2017-08-09 23:48] HansMuller commented on #1865
The current version of this problem, once https://github.com/flutter/flutter/pull/11497 lands, is that if we have to wait for an app's async localizations to load, then we're going to at least miss the "first" frame. More than one frame if localizations loading actually takes longer than 16ms.

Apps could create initial screens with more than one Localizations widget. That means that we a way for

[2017-08-09 23:50] Hixie commented on #1865
I wouldn't use a widget for this. Just something like binding.lockInput().

[2017-08-09 23:52] Hixie commented on #11394
Latest work on this is at https://github.com/flutter/flutter/pull/11570.

[2017-08-09 23:52] Hixie commented on #11367
Latest work on this is at https://github.com/flutter/flutter/pull/11570.

[2017-08-09 23:52] Hixie commented on #11569
Latest work on this is at https://github.com/flutter/flutter/pull/11570.

[2017-08-09 23:52] Hixie commented on #11357
Latest work on this is at https://github.com/flutter/flutter/pull/11570.

[2017-08-10 00:28] abarth opened #11572 "Make inheritFromWidgetOfExactType faster"
Once we've got RTL implemented, we should check whether there's performance on the table by special casing the TextDirection in BuildContext rather than using the generic inherited widget codepath.

[2017-08-10 00:28] abarth commented on #11572
/cc @Hixie

[2017-08-10 00:43] Hixie commented on #11572
I'm curious to see how you would implement it. If there's a way to implement this that's faster than inherited widgets, maybe we can use it for inherited widgets too... :-)

(The interesting part is the ability to mark only the widgets that changed dirty when the directionality of a subset of the tree changes.)

[2017-08-10 01:21] yjbanov commented on #11479
`package:sentry` supports async stacks as of `0.0.4`. Flutter will produce async stacks as of https://github.com/flutter/flutter/commit/7d3a1f961686ca4471682f008514b7cfb83b1391.

[2017-08-10 01:21] #11479 closed

[2017-08-10 02:48] sethladd commented on #11541
Thanks @kroikie . If you can help us land the PR, that would be excellent.

[2017-08-10 02:48] najeira opened #11573 "Longpress on TextField throws exception"
Longpress on TextField with maxLines set to null, an exception occurs.
If maxLines is a number, no exception.

[code]

Simple reproduction:

[code]

Flutter doctor:

[code]

[2017-08-10 02:48] sethladd commented on #10624
Closing this as a dupe of https://github.com/flutter/flutter/issues/11541 but please correct me if I'm wrong.

[2017-08-10 02:48] #10624 closed

[2017-08-10 03:43] pauldemarco commented on #3671
On Android this would be via a PendingIntent that is sent from a scheduled Alarm in AlarmManager.
I'm not sure of the iOS counterpart to this at the moment.

We must first gather needed information for the event, some of which is async (GPS Location), then record the event in an online datastore (Firebase). This entire process can last up to 30 seconds.

I don't think this matters to us, we won't

[2017-08-10 05:05] lyrachord commented on #11546
pull flutter, doctor
it works
There is a sample exception

  HttpException: Connection closed while receiving data, uri = https://storage.googleapis.com/flutter_infra/flutter/f0d440bec3ed79f01890e956b07b6e8e6182db62/android-x86/artifacts.zip

there is a nano bug, after completed flutter ends  with a message retry...

[2017-08-10 05:07] eseidelGoogle commented on #11475
@Skylled what's your device information?

My understanding is that @pauldemarco is seeing this on a `Samsung S6`.

@jason-simmons I don't think we have a Samsung S6 in our cube, but the central lab does if needed.

[2017-08-10 05:10] philmaker1 opened #11574 "Absurd"
It is completely absurd that a Dart WebGL runtime for Flutter does not exist. Dart used to have a major web intent. Publishing Flutter for the web would be more diverse. But Google doesn't really care about diversity.

[2017-08-10 05:31] eseidelGoogle commented on #11574
Thank you for the report.  I believe the issue you're looking for is https://github.com/flutter/flutter/issues/179.

We're currently more focused on 2d content and have no plans to add OpenGL bindings to Flutter as there are already great ways to share OpenGL code (e.g. C++) between iOS and Android.  As well as other more 3d-dedicated systems like Unity.

[2017-08-10 05:31] #11574 closed

[2017-08-10 05:36] lyrachord commented on #11534
hi here: #11546  flutter doctor failed to download engine, tools and other packages
1, Yes, there are sites not stable to access from China, and some hosts' ip can be changed in etc/hosts
2, some flutter tool logics polished

[2017-08-10 05:46] lyrachord opened #11575 "Manually install dart-sdk and download pub packages"
flutter automatically do all required things.
f.e. sdk
Indeed I often downloaded dart-sdk
but flutter owns a new piece of dart-sdk, although to copy my downloaded to flutter is not so hard

Let's make flutter configable for its requirement?

[2017-08-10 05:53] philmaker1 commented on #11574
I continue to think that a Dart runtime ought to support the web. Otherwise, it's absurb. Was James Damore actually arrested for doing anything? Or was he just fired by Google?

[2017-08-10 06:03] philmaker1 opened #11576 "Google Fires Employees Who Think for Themselves"
Find the memo and learn how to think and judge for yourself.

http://heavy.com/tech/2017/08/james-damore-google-diversity-memo/

[2017-08-10 06:14] hugovangalen opened #11577 "Image Picker plugin [Android] feedback"
I ran into the following issues with the Image Picker plug-in on Android (for which an external library is used, com.github.esafirm.android-image-picker):

1. The hard-coded (incorrect) texts
It says "Tap to select images" while the only available mode is "single picture". (I noticed the iOS code also has hard-coded texts for the button labels.) Better would be if these options can all be passed a

[2017-08-10 06:27] #11576 closed

[2017-08-10 07:51] mravn-google commented on #11547
@Hixie Yes, I'm currently considering something simple like `flutter run --release --flavor paid`. The `flavor` option maps directly to an Android product flavor and loosely to an Xcode scheme.

Not specifying `flavor` means using the default product flavor/scheme (current behavior).

## Android

The command above makes sense if the user has added a `paid` product flavor in their `android/app/buil

[2017-08-10 10:01] TitikshaDaga opened #11578 "Alignment,margin nad padding"

[2017-08-10 10:02] TitikshaDaga commented on #11578
Coders should be able to resize,align,add margin and padding to every widget. Also match parent and wrap content should also be available.

[2017-08-10 10:40] Ivaskuu opened #11579 "Text too gray (white) on Android since last alpha upgrade"
Today I've updated flutter using the "flutter upgrade" command (alpha channel).
To my surprise, after build, the app didn't feel the same. That's because since the upgrade, some text colors became way too gray (light) and I don't like it. Is it possible to have the same text colors as before? Thank you.

Before
![Before](https://image.ibb.co/iCt2Uv/Screenshot_20170810_133053.png)
After
![After](ht

[2017-08-10 11:02] TitikshaDaga commented on #6691
Is there a Search widget because i can't find anything about it except this link: https://material.io/guidelines/patterns/search.html#search-in-app-search ?

[2017-08-10 11:24] TitikshaDaga commented on #9600
When the width changes the drop down menu is enlarged but the position of the inverted triangle doesn't change and the hint is also not displayed.

[2017-08-10 13:47] Skylled commented on #11475
@eseidelGoogle I can consistently repro on my LG v20, but not on a Samsung S8.

[2017-08-10 15:22] eseidelGoogle commented on #11475
LG v20 is an Adreno 530 gpu.
Samsung S6 is a Mali-T760MP8 gpu.

Unfortunately it looks like the central lab doesn't have either of those two phones. :(

[2017-08-10 15:26] eseidelGoogle commented on #11475
Adreno 530: http://www.phonebunch.com/phone-filter/gpu/adreno-530/page/1/
Mali-T760MP8: http://www.phonebunch.com/phone-filter/gpu/mali-t760mp8/page/1/

I believe we have a Galaxy Note 5 in our cube which has the Mali-T760MP8.

[2017-08-10 16:46] eseidelGoogle commented on #11579
I suspect this is https://github.com/flutter/flutter/issues/10655.

My understanding of the issue is that although our new behavior is technically color-correct, we may not want to be using the Material Design values as opacity but rather as brightness.  My understanding is @brianosman and other Skia folks were discussing possible changes here.  @Hixie @sethladd

[2017-08-10 16:48] eseidelGoogle commented on #11578
https://docs.flutter.io/flutter/widgets/Align-class.html
https://docs.flutter.io/flutter/widgets/Padding-class.html
might help you achieve your desired effects?  Flutter favors composition over inheritance:
https://flutter.io/faq/#can-i-extend-and-customize-the-bundled-widgets

[2017-08-10 16:51] tvolkert commented on #11402
We could either:

1. trigger that to be logged to the console automatically after app startup when in bug-report mode, and the contents of the logs will be captured as part of the bug report
2. expose a VM service extension to get the contents of that JSON string, then call the extension and explicitly write out the GrContext::dump() to a dedicated file when in bug-report mode.

I vote `#2`.

[2017-08-10 16:53] Hixie commented on #11579
Have we asked the material team for a call on this? @sethladd?

[2017-08-10 17:16] eseidelGoogle commented on #11530
I do not believe that any of the messages you pasted above are related to your application (or its ability to open).

When you run into a case of your application not being able to open, I would be very interested to see that complete log?

[2017-08-10 17:17] eseidelGoogle commented on #9627
@ds84182 would you be willing to post a PR to fix?

[2017-08-10 17:23] MarcinusX opened #11582 "TextField nullPointer when maxLines=0"
## Steps to Reproduce
When TextField has maxLines set to null, after some clicking in and out of TextField an error occurs.

[code]
## Logs
[code]

## Flutter Doctor

[code]

[2017-08-10 17:29] eseidelGoogle opened #11583 "Would like a libphonenumber plugin"
Posse notes that it would be nice to have a libphonenumber plugin for flutter: https://github.com/googlei18n/libphonenumber

Our team specifically doesn't have to write one, but given that it's a Google-authored project, we're likely to end up with Google-authored libphonenumber flutter plugin at some point (even if there are also others).

I'm not aware of any other customers requesting this yet.

[2017-08-10 17:30] eseidelGoogle commented on #11583
The specific use case Posse is seeking to solve is simply formatting an international phone number correctly in their form field.

[2017-08-10 17:31] reed-at-google commented on #11579
An alternate set of material values (for alpha blending) might solve this -- one set for legacy blending and one set for color-correct.

[2017-08-10 17:55] tvolkert commented on #2749
@jxmorris12 did you have an `ANDROID_SDK` environment variable set?  And I'm guessing you didn't have an `ANDROID_HOME` environment variable set?

[2017-08-10 18:05] tvolkert opened #11584 "URL Launcher plugin on iOS should use the SafariVC"
Right now it launches the Safari app. Instead, it could/should use the SafariVC.

https://www.ioscreator.com/tutorials/safari-view-controller-tutorial

@cbracken @xster

[2017-08-10 18:28] Rishab-1065 commented on #10826
I am too facing this problem with the keyboard. It was working fine previously but right now this problem is happing with the same piece of code.

[2017-08-10 21:57] apwilson opened #11586 "Fuchsia: _rectIsValid assert"
I get this assert while booting fuchsia.  I'm not sure if I'm doing something wrong, the engine is, or something in between.

[00029.255] 03675.03821>  EXCEPTION CAUGHT BY RENDERING LIBRARY
[00029.263] 03675.03821> The following assertion was thrown during paint():
[00029.263] 03675.03821> 'file:///<redacted>/fuchsia/flutter/lib/ui/painting.dart': Failed assertion:
[00029.263] 03675.03821> line 18

[2017-08-10 22:59] Hixie commented on #11586
We should make the error message nicer but I suspect you have a NaN infection somewhere.

[2017-08-10 23:06] chrsfang opened #11589 "Describe how `alignment` work on DecorationImage"
## Issue

I'm using `DecorationImage` with `FractionalOffset` to crop a piece of image from my PNG file but the result seems to be shifted from the original pixels.

The original image is 100*800 resolution with each color block of size 100 * 50. The code is trying to crop each color block from the picture asset but it had some alignment problem.

The `devicePixelRatio` on my test emulator is 1.5

[2017-08-11 01:17] eseidelGoogle commented on #11589
@Hixie or @jason-simmons  might know our rounding rules.

[2017-08-11 01:19] eseidelGoogle commented on #11586
This looks like https://github.com/flutter/engine/pull/3975?

[2017-08-11 01:20] xster opened #11592 "Fling gestures shorter or equal to 3 frames will produce an outgoing velocity of 0"

[2017-08-11 06:42] TitikshaDaga commented on #7111
Hey,
Has the share sheet been implemented. If no how do i make a share sheet?

[2017-08-11 07:21] Hixie commented on #11589
Pretty sure this is just `alignment` not working quite as expected (the docs aren't super clear on what we intended). If you want to extract images in this way, you should probably use Canvas.drawImageRect directly.

[2017-08-11 09:37] harveynick commented on #11584
+1

:-)

[2017-08-11 11:56] TitikshaDaga opened #11593 "Colors of Image Icon"
## Steps to Reproduce

Please tell us what you were doing and what went wrong. If you are running flutter tools from the command line, please try adding the `-v` or `--verbose` option to gather more information.

If the problem is with your application's rendering, please attach a screenshot and any relevant source code.
If you are getting an exception in the logs, and your code is implicated in t

[2017-08-11 11:58] TitikshaDaga commented on #11593
I wanted to use a multi color image as my icon the way it was. But when i made it a image icon it got decolorized. How do I restore the original colors?

[2017-08-11 13:01] ds84182 commented on #9627
I don't really have the ability to build the engine currently (Linux laptop
has 0 drive space and I can't cross compile to Android on my Windows
laptop).

On Thu, Aug 10, 2017, 1:17 PM Eric Seidel <notifications@github.com> wrote:

[2017-08-11 14:56] chrsfang commented on #11589
Thanks. I'll give it a try

[2017-08-11 17:23] eseidelGoogle commented on #11593
Can you provide some example code (even if not your image)?

[2017-08-11 17:24] eseidelGoogle commented on #7111
https://pub.dartlang.org/packages/share

[2017-08-11 18:58] eturk1 commented on #11548
Any suggested workaround to show multiple grids in a single view?
I want to show grids of Cards with headings, as in Google Now view on Android.

---
Here's the code to recreate multi-grid bug:
[main.dart.txt](https://github.com/flutter/flutter/files/1218828/main.dart.txt)

[2017-08-11 20:23] yjbanov opened #11595 "Offer a caching HTTP client"
We currently lack an HTTP client that respects cache headers ([rfc1](https://tools.ietf.org/html/rfc7234), [rfc2](https://tools.ietf.org/html/rfc5861), [rfc3](https://tools.ietf.org/html/rfc7232), maybe more). This creates a less-than-ideal situation for network image loading. We should offer a solution.

Some options:

- write our own on top of `dart:io` sockets
- wrap native [Android](https://de

[2017-08-11 21:19] JFixby opened #11596 "add getAll() method to the shared_preferences plugin"
Hello,

Can you please add getAll() method to the `shared_preferences` plugin.

Here is the code:
https://github.com/flutter/plugins/pull/193/commits/4abd850a2bd9978ccc21531588914c9681149bd4
[code]

Thank you.

[2017-08-11 21:35] perlatus commented on #11499
I'm seeing the colors on an S3 running CM12.1 (Android 5.1.1) rather than the Verizon firmware.

No clue what makes the S3 special, but I'm not seeing the issue on my other test devices (these are OK):
- SM S766C (Samsung Galaxy Stardust)
- VS980 4G (Verizon LG G2)

[2017-08-11 22:10] schwa423 opened #11597 "Fuchsia: support transparent PhysicalModel objects"
Mozart currently doesn't support translucency.  However, it does support the notion of an object with a shape but no material.  This allows it to receive touch events even though it is not drawn.

Several Flutter developers have indicated that the following functionality would be convenient:

When a fully-transparent PhysicalModel widget is present, treat it as a grouping object, and break out its

[2017-08-11 22:50] devoncarew opened #11598 "flutter upgrade shouldn't print a warning for older flutter installations"
We have a warning when you run the flutter tool and your flutter sdk is older:

[code]

However, we print this warning even when you're running the `flutter upgrade` command; we should probably skip the warning for that specific command.

[2017-08-12 00:52] xster opened #11599 "Ballistic simulations may be created too frequently"
Make a normal fling gesture.
~50% of the time, many goBallistic calls are triggered when I would have expected just one.

In this example, it took 78ms cumulative recreating the simulations and causes frame drops.
![cw5hukq7xsp](https://user-images.githubusercontent.com/156888/29236274-6aabf178-7ebd-11e7-88e3-7a001e3a2653.png)

Call stack
[code]

[2017-08-12 02:54] eseidelGoogle commented on #11599
Are these used on both iOS and Android or would this cause performance degradations specific to one or the other?

[2017-08-12 02:58] eseidelGoogle commented on #11499
Is "S3" the full title of the device?

[2017-08-12 02:59] eseidelGoogle commented on #11595
FYI @zanderso @dgrove in case either have thoughts.

[2017-08-12 03:02] perlatus commented on #11499
What I meant to say is that I have two Verizon Galaxy S3s (the one you linked), one running stock (screenshot and first post) and the other running CM12.1; both of them have the color problem.

[2017-08-12 04:23] zanderso commented on #11595
Extending `dart:io`'s HttpClient is also an option, but my preference would be to delay adding more features to it until we pull it out of `dart:io` into a package.

[2017-08-12 04:51] Hixie commented on #11595
My understand is that this will be resolved in due course by package:http, or layers above or below it.

I don't think Flutter itself should attempt to solve this problem as a first-party solution.

[2017-08-12 04:57] Hixie commented on #11599
This happens if something within the list is changing dimensions (because we have to recompute the fling in case it would hit the edge). The question is, what is changing dimensions? And can we report it somehow (e.g. on the timeline) to make it obvious...

This will depend on exactly what you're flinging.

[2017-08-12 04:57] Hixie commented on #11599
The other thing is, goBallistic shouldn't be _that_ expensive, yikes.

[2017-08-12 04:58] Hixie commented on #11599
Looks from the timeline like maybe this is a long list with many items of various sizes so every time we render a new item, we change our estimate of the total list length, which would trigger this also.

[2017-08-12 05:01] Hixie commented on #11597
Can you elaborate on the request here? It's not clear to me what "enclosed in separate PhysicalModel widgets" means, or why a PhysicalModel with no color and no elevation would exist at all (as opposed to just being a clip).

[2017-08-12 05:02] Hixie commented on #11548
I can't think of a work-around. This is definitely a bug we should fix though. It's probably a simple math bug in the RenderSliverGrid class if you're interested in trying to pin down the cause yourself.

[2017-08-12 05:11] eseidelGoogle commented on #11480
Posse is seeing a lot of PlatofrmExceptions failing to launch mailto: handlers.  Unclear why.  Fixing something like this might help understand why.  @yjbanov

[2017-08-12 10:30] animeshjain commented on #11093
+1
Hello, can anyone please provide recommendations here. I have been kind of stuck myself trying to figure out if there are certain recipes for state management in complex apps.

[2017-08-12 16:38] michaelwills commented on #10592
New to flutter, just doing a survey of what is available and this was a question of mine as well.

#7482 references an audio playback plugin:

https://github.com/rxlabz/audioplayer

Very instructive. There is a neat project here https://github.com/genedelisa/AVFoundationRecorder that looks helpful for the Swift side, and of course Android mediarecorder example here: https://developer.android.com/g

[2017-08-12 17:06] branflake2267 commented on #11093
One thing I like to keep in mind when thinking about state management is the page lifecycle. So I think of each page as a unit that may share global persistence variables. These variables can retain the state of how I want to express my logic through the UI. This world doesn't have as much structure as the base apis, so it's expressed through my intent. And I have noticed everybody likes to choose

[2017-08-12 19:13] Areiser commented on #3671
I can add another user case, this functionality is the only thing keeping me from finalizing my app. I had an android app for this and decided to create a newer, better version that ideally also works on iOS. I am not familiar with the comopnents in iOS (when researching I found that background tasks in iOS are a lot more restricted than on android) but I can name the Android components I used.

M

[2017-08-12 21:01] schwa423 commented on #11597
I'm actually not sure that I can.  As I mentioned, I'm filing this on behalf of a few other developers.  I'm no Flutter expert myself, and am probably misusing terminology in a way that precludes effective communication.

I'll ask someone more qualified to translate this request into the proper language.

[2017-08-13 04:06] apwilson commented on #11597
I think the idea here is that it'd be good if you can apply elevation to a widget without requiring something to be drawn.

Let's say you have a set of widgets in a stack you want at elevation x.  You may not want to draw an opaque later at that elevation but have those individual widgets be drawn each as if they were at elevation x.

[2017-08-13 04:07] apwilson commented on #11597
And each could add third own elevations that would be added to x without them knowing about x at all

[2017-08-13 07:04] Hixie commented on #11597
Why can't you just wrap each of the widgets with a PhysicalLayer at that elevation?

[2017-08-13 07:04] micrcx opened #11600 "Multi touch gestures"
Hi,
I wasn't able to detect flutter class similar to the GestureDetector, but which allowed to handle multi touch gestures. Maybe I was looking badly? Does such a class exist?
Regards,
MK

[2017-08-13 07:06] Hixie commented on #11600
What gesture do you want to detect?

[2017-08-13 07:35] schwa423 commented on #11597
You certainly could.  This is simply a convenience.

[2017-08-13 10:21] micrcx commented on #11600
The simplest things: down, move and up for everyone touch.

On Sun, Aug 13, 2017 at 10:06 AM, Ian Hickson <notifications@github.com>
wrote:

[2017-08-13 13:44] mraleph commented on #9594
fyi @rmacnak-google @chinmaygarde

I have spent some time reading through V8 source and the [paper they published](https://research.google.com/pubs/archive/45361.pdf) and found that they have moved away from using `IdleNotificationDeadline` style API.

According to Chromium CodeSearch the only remaining use of that in Blink is in `src/third_party/WebKit/Source/bindings/core/v8/V8GCForContextDispos

[2017-08-13 15:24] abarth commented on #9594
Interesting.  We could use that approach too.

[2017-08-13 17:13] rrousselGit opened #11601 "Document debugPaintSizeEnabled and debugRepaintRainbow"
Hello, a junior working alone on a side project here.

An improvement for the repaint rainbow :
Make one for each stateful widgets, instead of the whole window.

This would help a lot to pin-point what is updating and what's not.
Also, the current rainbow is polluted if you have any 'permanent animation' such as a clock.

A small example :
![image](https://user-images.githubusercontent.com/2016574

[2017-08-13 18:03] Hixie commented on #11601
I think what is showing in that screenshot is the debugPaintSizeEnabled mode, not debugRepaintRainbow mode, but I could be wrong.

The repaint rainbow changing a lot when there's an animation is very much intentional, it's showing you what is repainting.

Can you elaborate on the stateful widget thing? I don't really understand what you're trying to debug. Widgets don't paint alone, they paint in

[2017-08-13 18:06] Hixie commented on #11600
It sounds like you want a MultiDragGestureRecognizer. You'll need to create a StatefulWidget that instantiates the MultiDragGestureRecognizer, then have your build function have a Listener that routes the onPointerDown event to the recognizer.

[2017-08-13 18:09] Hixie commented on #11600
We could probably add that recognizer to GestureDetector itself, or provide a widget that wraps that recognizer, if it's something people do commonly.

More importantly, we should probably document this. I'm leaving this bug open for that purpose.

[2017-08-13 18:33] Hixie commented on #11597
I was going to write: "I don't think we should make PhysicalLayer have a special mode like this. It would go against the general philosophy of dedicated narrowly-scoped widgets. Someone could certainly make a widget that took a list of widgets and wrapped them all in physical layers, of course."

...but then I realised there's a more fundamental problem here. PhysicalLayer only takes one child any

[2017-08-13 19:27] rrousselGit commented on #11601
Oh, repaintBoundary is exactly what I asked for. My bad.
You solved both my confusion and my CPU problem, thanks !

Just in case, what I wanted :
![image](https://user-images.githubusercontent.com/20165741/29252569-7a5e6a3e-806a-11e7-8ab0-1918a0ccea8a.png)

But doesn't that means we need to put repaint boudaries on nearly all animated widgets, or else a small press on a button will cause a huge re

[2017-08-13 20:42] JFixby opened #11602 "Could not extract native JNI library."
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter run

## exception

String: Exit code 1 from: D:\mobile_app\android\gradlew.bat -v:

FAILURE: Build failed with an exception.

* What went wrong:
Could not extract native JNI library.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log outpu

[2017-08-13 23:18] lishuhao opened #11603 "TimeoutException: Request to Dart VM Service timed out"
### flutter run -v
[code]
### flutter analyze
[code]
### flutter doctor

[code]

[2017-08-14 04:13] TitikshaDaga commented on #11593
Hey @eseidelGoogle sorry for the late reply. This is my code that I have used
new ListTile(
          title: new Text("Saved Searches"),
          leading: new ImageIcon(new AssetImage('assets/SaveMenu.png')),
          onTap: () {
            Navigator.popAndPushNamed(context, '/SavedSearches');
          },
        )

[2017-08-14 04:31] Hixie commented on #11601
Repaints are often not that expensive (you can see how bad it is by looking at the timeline in the observatory), but if you find that a particular widget is indeed expensive to draw and you want to wall it off from other things repainting, then yes, putting an animated boundary can be a good idea. It's also a lot more expensive in terms of memory and can actually raise the cost of painting because

[2017-08-14 08:21] mit-mit commented on #11532
cc @mravn-google

[2017-08-14 08:37] mravn-google commented on #11532
We moved this information to https://github.com/flutter/flutter/blob/master/packages/flutter_tools/templates/create/android-java.tmpl/app/build.gradle.tmpl and the Kotlin to follow how Android Studio sets up a new project on a Mac. We'll check if AS does this differently on Windows.

[2017-08-14 08:51] mit-mit commented on #11532
Sorry to hear @adityamv7. I tried to repro on Windows with flutter on the master channel and freshly updated. These steps work for me with a running Android emulator:

[code]

Can you clarify which steps are not working for you?

[2017-08-14 09:42] mravn-google opened #11604 "Wrong icon button color in code lab screen dump"
Building Beautiful UIs with Flutter, step 5, last Simulator screen dump. The > send button icon in the iOS view is black, but should be blue.

[2017-08-14 09:47] mravn-google opened #11605 "Debugging section appears too early?"
Building beautiful UIs with Flutter, step 5, last section on debugging:

The text refers to "the setState() methods in your [...] app", but we have not yet defined any such methods at this point.

[2017-08-14 11:03] micrcx opened #11606 "Force call of paint procedure for CustomPainer"
Is there a possibility for the flutter to force the paint procedure for the derived from CustomPainter class? Something like 'refresh' or 'update'?

[2017-08-14 13:11] mit-mit opened #11607 "Document how to add deep links into an app"
We should document how to add deep links to an app. This is the first
 use case mentioned in the larger discussion mentioned [in bug 10975](https://github.com/flutter/flutter/issues/10975#issuecomment-315862405), quoted here for easy access:

* **External URLs:** _A movie database app wants to register to take over handling URLs for its website.  Now when the user clicks on the URL the details for

[2017-08-14 13:18] mit-mit commented on #11563
@danrubel is this the underlying analysis issue you are working on, or a dartdoc issue?

[2017-08-14 13:22] danrubel commented on #11563
I'm working on https://github.com/flutter/flutter/issues/10721

[2017-08-14 13:33] mit-mit commented on #11563
Do you know if that will address the present issue?

[2017-08-14 13:44] mit-mit commented on #11555
Good catch!

[2017-08-14 13:45] mit-mit commented on #11012
Yes, would be good to add. @collinjackson ?

[2017-08-14 13:49] danrubel commented on #11563
I don't think so.

[2017-08-14 13:49] mit-mit commented on #10992
We unfortunately do not have multiple channels for Flutter yet; hopefully as Flutter matures and grows we will be able to offer that.

[2017-08-14 13:52] mit-mit commented on #11563
@jcollins-g do you think this is a dartdoc issue? How are core libs excluded for non-Flutter packages?

[2017-08-14 14:25] asaarnak commented on #10992
Ok thanks, hopefully!
The `com.android.tools.build:gradle:3.0.0-beta2` is now in beta.

As Flutter is in alpha, maybe Flutter could migrate before the 3.0.0 stable release?

- This should bring great [performance benefits](https://developer.android.com/studio/preview/features/new-android-plugin.html#performance) earlier, especially for larger projects with many modules.
- And new plugins/apps woul

[2017-08-14 14:30] jcollins-g commented on #11563
https://github.com/dart-lang/dartdoc/issues/1431

[2017-08-14 15:02] mit-mit commented on #11563
Thanks @jcollins-g for helping my dusty memory here after vacation :-). Will push on getting that workaround deployed (https://github.com/astashov/dartdocs.org/pull/48)

[2017-08-14 15:21] #11555 closed

[2017-08-14 15:22] sethladd commented on #10975
See also https://github.com/flutter/flutter/issues/11540 which is a recent customer request.

[2017-08-14 15:23] sethladd commented on #11540
See also https://github.com/flutter/flutter/issues/10975 which has some discussion

[2017-08-14 15:23] sethladd commented on #11540
https://github.com/flutter/flutter/issues/11607 is the request to document this

[2017-08-14 16:03] yjbanov commented on #11480
/cc @szakarias @goderbauer

[2017-08-14 16:06] sethladd commented on #11012
We spoke last week with @goderbauer and @kroikie , and @kroikie mentioned he was going to take a look.

[2017-08-14 16:16] cbazza opened #11609 "Consider JSX-like syntax inside dart code"
It would be great if aside from the current way of building widgets you could add JSX like capabilities. I mean add tiny syntactic sugar to enable XML like constructs inside dart code. It just makes code so much easier to read/develop/debug/maintain and also easier for powerful GUI builders to integrate with editable code.

Looking for something like DSX:
https://spark-heroku-dsx.herokuapp.com/ind

[2017-08-14 16:25] eseidelGoogle commented on #10926
I believe we can close this now, given the above. :)

[2017-08-14 16:25] #10926 closed

[2017-08-14 16:30] sethladd commented on #11609
cc @lukechurch

[2017-08-14 16:46] collinjackson commented on #11070
@lukef fixed this in flutter/plugins#168

[2017-08-14 16:46] #11070 closed

[2017-08-14 16:57] a-siva commented on #7918
rmacnak@ can this issue be closed or are you keeping this open to track migration of android AOT builds to use assembly?

[2017-08-14 17:00] collinjackson commented on #4070
I don't think we are implementing Firebase Crash (Google is recommending NOT to use Firebase for crash reporting on new projects anymore) and adding Crashlytics is covered by #9592. So I think this issue is just about adding crash reporting to the Gallery, possibly with [package:sentry](https://pub.dartlang.org/packages/sentry).

Unassigned myself since I'm not currently working on that.

[2017-08-14 17:14] eseidelGoogle commented on #11480
Posse is not asking for this necessarily, but since these mailto (when mailing support!) are one of the more common crashers to their app, it seems definitely worth our time to investigate and fix.

[2017-08-14 17:18] sethladd commented on #9594
Thanks for the comments, @mraleph !

[2017-08-14 17:28] Hixie commented on #11606
Does https://master-docs-flutter-io.firebaseapp.com/flutter/rendering/CustomPainter-class.html answer your question?

[2017-08-14 17:45] eseidelGoogle commented on #11344
Posse is interested in knowing if this is something reasonable to do in the next two weeks before their next release.

[2017-08-14 17:52] rmacnak-google commented on #7918
The VM side changes are done, but there's work needed in the flutter tool.

[2017-08-14 18:31] eseidelGoogle opened #11610 "Would like to be able to open the Date Picker with the year showing"
Posse has received a lot of negative feedback about the Material Date picker in their app, particularly from iOS users.  The confusion resolves around how to select the Year (for example when entering your birthdate).

One suggestion @collinjackson had was to be able to show the year first.  Seems like a reasonable (and likely easy) modification to our showDatePicker API?  Thoughts @HansMuller @Hi

[2017-08-14 18:33] eseidelGoogle opened #11611 "Should we hero the year to the top of the dialog in the date picker?"
Posse has received a lot of negative feedback in their app about use of the Material Design date picker (see also https://github.com/flutter/flutter/issues/11610).  One suggestion @collinjackson had is that in addition to possibly doing (https://github.com/flutter/flutter/issues/11610) we could also use a hero effect on the selected year from where it was selected to the top of the dialog to make

[2017-08-14 18:38] eseidelGoogle opened #11612 "Flutter should show / instead of a black screen on iOS if you pop the last route"
On Android, we quit the app if you pop the last route.  On iOS we show a black screen.

This came up in discussions with Posse this morning and @collinjackson suggested that maybe we should just show / instead of a black screen in the iOS case.  This happens because on iOS it's not possible to self-terminate an app.

Thoughts?  @Hixie

[2017-08-14 18:40] eseidelGoogle opened #11613 "Crashy example should have an example of showing a non-fatal event?"
Posse asked if Crashy should have an example of using the non-fatal event APIs from the sentry package.

Thoughts @yjbanov.  This came up in the context of turning some of their Network load failures (which @collinjackson is looking into) into non-fatal/crash events.

[2017-08-14 18:54] chinmaygarde commented on #11499
I am investigating this today. The [color correctness patches](https://github.com/flutter/engine/commit/ddaa125ca7845ee177ceca6078d0aae3a675c4a6) should have correctly handled all fallback cases. But it is possible I missed something. Will try to get a hold of this device variant.

[2017-08-14 18:59] chinmaygarde commented on #11521
@mtklein Thanks for the investigation. Has the patch landed? I can make sure it is in the roll today and verify.

[2017-08-14 19:48] mtklein commented on #11521
Yes 6 patches have landed. It's a good time to roll and see where we're at.
On Mon, Aug 14, 2017 at 2:59 PM Chinmay Garde <notifications@github.com>
wrote:

[2017-08-14 19:50] eseidelGoogle commented on #11607
Posse was able to add this to their recently published application.   However we definitely need an example and eventually Docs for others to be able to repeat the feat.

[2017-08-14 19:59] eseidelGoogle opened #11615 "Would be nice to show more font rendering in Gallery"
While listening to @GaryQian's talk last week it occurred to me there are many more text-related examples we could show in the gallery, such as:

* Colored Emoji
* RTL Text
* Large blocks of text (scrolls nicely, quickly).

[2017-08-14 20:22] xster commented on #10770
How about we rename:
- The `Flutter` folder to `FlutterFramework`
- The `Runner` folder and project to `FlutterRunner`
- The `Runner` workspace to `FlutterApp`

The only non-ideal part is that `FlutterFramework` would contain the .framework file for the actual app's dart code. But I couldn't think of a better name.

[2017-08-14 20:56] eseidelGoogle commented on #11475
@jason-simmons are you able to investigate?

[2017-08-14 21:28] Sfshaza opened #11617 "Check for DevToolsSecurity not in path in flutter doctor"
This has happened consistently today.

## Steps to Reproduce

I haven't used flutter in awhile, so I upgraded it. Flutter doctor fails. I tried uninstalling, reinstalling, checking my path, upgrading Dart,
[flutter_01.txt](https://github.com/flutter/flutter/files/1223523/flutter_01.txt)
[flutter_02.txt](https://github.com/flutter/flutter/files/1223524/flutter_02.txt)

 etc.

## Logs

I've attached

[2017-08-14 21:31] sethladd commented on #11617
Is there a hint in `/Users/shaza/GoogleDrive/TMP-flutter/flutter_01.log` ?

Or, what do the last lines of that file say? Is that something you can paste here?

[2017-08-14 21:33] Sfshaza commented on #11617
Sorry, I managed to submit the bug before I was done creating it. I just attached two log files. Can you see them?

[2017-08-14 21:54] #11610 closed

[2017-08-14 21:58] eseidelGoogle commented on #11617
It seems to claim DevToolsSecurity is missing.  Unclear if that means you have an incomplete XCode installation or what.  @cbracken might know.

[2017-08-14 21:59] sethladd commented on #11617
In the meantime, try opening XCode and see what happens. If you don't have XCode, try installing it and then see what happens?  (sometimes opening xcode installs further stuff)

[2017-08-14 22:00] sethladd commented on #11615
See also https://github.com/flutter/flutter/issues/6559

[2017-08-14 22:04] sethladd commented on #11607
Is this just a documentation/example request , or do we need something added to FlutterFire to get "Firebase Dynamic Links" ?

Carnivore needs ability to link into a specific screen of their app. Not sure if the technically need Firebase to do that.

[2017-08-14 22:05] sethladd commented on #10495
We're going to close this, as we think that this plugin can be "self service". If the plugin/interop API isn't sufficient for this requirement, please let us know.

[2017-08-14 22:05] #10495 closed

[2017-08-14 22:07] chinmaygarde commented on #10443
This should be done already.

[2017-08-14 22:13] Hixie commented on #10443
Cool, ok. Closing for now, please re-open if we haven't addressed the problem to your satisfaction!

[2017-08-14 22:13] #10443 closed

[2017-08-14 22:32] collinjackson opened #11618 "Firebase podspecs should depend on a minimum Firebase version"
Our Firebase plugins don't specify the minimum Firebase pod version they depend on, e.g. in [firebase_database.podspec](https://github.com/flutter/plugins/blob/master/packages/firebase_database/ios/firebase_database.podspec) it just says `s.dependency 'Firebase/Database'`.

If we specified a minimum Firebase version then there would be a more helpful error message if the pod repo is out of date.

[2017-08-14 22:44] #8127 closed

[2017-08-14 22:45] Sfshaza commented on #11617
I have XCode 8 installed. I just opened it (I've never done that directly before) and it did install more stuff, but had nothing to report. I ran flutter doctor again with the same results.

[flutter_01.txt](https://github.com/flutter/flutter/files/1223663/flutter_01.txt)

[2017-08-14 22:48] apwilson commented on #11597
I guess what I'd like is something like Opacity where you apply an opacity to a child.

I'd like to apply an Elevation to a child.  Maybe we can make an Elevation widget?

[2017-08-14 22:51] Hixie commented on #11612
Dupe of https://github.com/flutter/flutter/issues/9577

On iOS it is a bug in the app if it is possible to pop the last route.

[2017-08-14 22:51] #11612 closed

[2017-08-14 23:35] collinjackson commented on #10826
@Rishab-1065 if you're using the [workaround](https://gist.github.com/collinjackson/50172e3547e959cba77e2938f2fe5ff5) I posted above, try increasing the delay on like 57 from 300ms to a larger value.

[2017-08-15 00:01] jason-simmons commented on #11475
I experimented with this on a few devices and was able to reproduce the missing icons on a Nexus 7.  If I arrange a GridView of icons with iconSize=128, the icons fail to render some of the time.  It's inconsistent across runs and seems to be sensitive to timing (e.g. it occurred more often in profile mode than in debug mode)

I was able to make the text render consistently as intended by forcing

[2017-08-15 00:20] #8147 closed

[2017-08-15 00:55] collinjackson commented on #11435
You could use [Future.timeout](https://api.dartlang.org/stable/1.24.2/dart-async/Future/timeout.html) for this. Would that solve your issue?

[2017-08-15 01:50] yjbanov commented on #11613
There is a way to log plain events with string messages. Instead of calling `captureError` you can call `capture` and pass an event with arbitrary data ([API](https://github.com/flutter/sentry/blob/56d544a620791c02ed0ce6844be842407bf11093/lib/sentry.dart#L152)).

Example:

[code]

Wondering if Firebase Analytics API is a good way to track this?

[2017-08-15 04:28] michaelwills commented on #10592
So @mit-mit  given that Dart can read/write files in the documents folder, would it need to pass the file back? (I am new to Dart, too.)

@stepango are you initially targeting any platform? iOS/Android?

Given that there is already a player plugin, what kind of API are you thinking of? @dweekly? One plugin would not likely satisfy _all_ needs, of course. But perhaps a `simple_recorder` to hit 75-8

[2017-08-15 04:32] michaelwills commented on #10592
@eseidelGoogle is there any way to allow plugins to share a reference to a native platform object? The idea being low-level plugins could be composed together to make more complex plugins.

[2017-08-15 05:14] micrcx commented on #11606
I solved the problem with the setState function. In the procedure _handlePanEnd (onPanEnd: _handlePanEnd) I have to perform some conversion (recognizeShape) and update the scene:
Initial code:
  void _handlePanEnd (DragEndDetails details)
   {
       _recognizeShape ();
   }
In this case, the scene was sometimes not redrawn, but I found a solution:
  void _handlePanEnd (DragEndDetails details)
  

[2017-08-15 05:31] #11606 closed

[2017-08-15 06:44] mit-mit commented on #10592
Cc @mravn-google

[2017-08-15 09:28] szakarias commented on #11480
Before calling `launch`, `canLaunch` should be called to check whether there is an installed app that can handle a given scheme. For instance in the case of an iOS simulator it is not possible to handle mailto since the mail application is not available.

[2017-08-15 11:29] mit-mit commented on #11607
This tracks docs + simple example of "basic" deep links, e.g. the ability to redirect `app:` or `http:` URLs to an app, and to have that URL communicate a "deep" page/route inside the app. We could layer Firebase Dynamic Links on top later.

[2017-08-15 12:25] szakarias commented on #10032
This fails because of the space in 'mailto:smith@example.org?subject=Help&body=I need help!'. It should be 'mailto:smith@example.org?subject=Help&body=I%20need%20help!' and then it works just fine.

[2017-08-15 12:25] #10032 closed

[2017-08-15 12:27] szakarias commented on #8867
Done in #10905

[2017-08-15 12:27] #8867 closed

[2017-08-15 12:52] bsalomon commented on #11475
@jvanverth is out today. I'll take a look at this. We most likely have a device that can reproduce the issue. Is this the 2012 (Tegra) or 2013 (Adreno) Nexus 7?

[2017-08-15 13:36] mit-mit commented on #10592
No; I meant to say "pass the file-name" back, not the actual file itself.

[2017-08-15 13:39] eseidelGoogle opened #11623 "publish flutter/plugins/device_info"
It's currently 404 on pub: https://pub.dartlang.org/packages/device_info

FYI @mit-mit @mehmetf

[2017-08-15 13:41] mit-mit commented on #10032
Just tested again, and here is what I'm seeing with `await launch('mailto:smith@example.org?subject=News&body=New%20%Flutter%plugin');`:

1. Android: it works, but the `%20` part is included in the actually email, and is not changed to a space

1. iOS: it throws a platform exception

@szakarias, what am I doing wrong?

[2017-08-15 13:42] mit-mit commented on #11623
Yup, Mehmet promised to take a look at publishing it

[2017-08-15 13:46] mit-mit commented on #10770
I am not sure we have to rename the `Flutter` folder; the main confusion is between `Runner.xcodeproj` and `Runner.xcworkspace`. So would they become `Runner.xcodeproj` and `FlutterApp.xcworkspace`?

[2017-08-15 14:03] mravn-google commented on #10592
@michaelwills Yes, you can do anything native platform code allows you to do, including e.g. declaring and accessing plugin as singletons. The only caveat is that plugin registration order is not under your control. So probably you want the code that introduces your plugins to each other to be executed after all plugins have been registered. One way to accomplish that is to place such code after y

[2017-08-15 14:14] eseidelGoogle commented on #10695
customer: six is reporting that even though they are handling errors in FlutterError and crashing they still see a red screen of death for a second before crashing.  They would like to be able to display something other than the red screen of death during that time.

[2017-08-15 14:14] eseidelGoogle opened #11624 "Possible to capture the previous screen before an error"
In relation to https://github.com/flutter/flutter/issues/10695, customer: six is asking if it's possible to capture the previous frame before an error.

That way they could send that screen as part of a feedback report.

[2017-08-15 14:22] michaelwills commented on #10592
Ah, good to know @mravn-google. Many thanks. That's me thinking further down the line a bit essentially enabling plugins to act as middleware.

[2017-08-15 14:26] kirbyfan64 commented on #10771
Aaaah I just encountered this in https://github.com/kirbyfan64/zdata/issues/2. It makes the logcats kinda useless...

[2017-08-15 15:03] mit-mit commented on #11432
We can take a look at this as we look more at the CPU profiling use-case, cc @a-siva @devoncarew

[2017-08-15 15:50] Skylled commented on #11416
I'm running into this one too.
Any suggestions for a workaround? Or a way to only set a TextField's initial text, instead of always asking the TextEditingController?

[2017-08-15 15:54] barramon opened #11625 "API not supported"
## Steps to Reproduce

I am programming the Fist Steps and "Hello World" but when I'm running it, after the message of hot reload you can see a warning of API not supported

![hotreload2](https://user-images.githubusercontent.com/28798426/29323652-2e9be8d6-81a7-11e7-885b-75900cc8c95e.png)

##This is my phone's info

![screenshot_20170814-125027](https://user-images.githubusercontent.com/28798426/2

[2017-08-15 16:26] pcomans commented on #11435
@collinjackson that would solve the problem if this were an isolated instance but we see cases where **any** call to DatabaseReference.onValue could fail silently and bring the app to a halt. In my opinion, this should be handled by the framework which should should throw an error when the call times out.

I'm happy to discuss this more.
In the meantime, we will wrap invocations that are in the cr

[2017-08-15 16:37] emesx commented on #11624
I think if only the Flutter engine could "freeze" the last screen prior to the crash (rather than immediately rendering the Red Screen of Death), that'd be sufficient. Feedback libraries should be able to handle it from there.

[2017-08-15 16:43] jason-simmons commented on #11475
It's a 2012 Nexus 7

[2017-08-15 16:44] mehmetf commented on #6691
We have an internally developed auto-complete/search widget that will be pushed to external within a month's time frame. Stay tuned.

[2017-08-15 16:45] mehmetf commented on #6691
@DaveShuckerow FYI

[2017-08-15 16:50] mehmetf commented on #11623
Done. https://pub.dartlang.org/packages/device_info

[2017-08-15 16:50] #11623 closed

[2017-08-15 16:51] adityamv7 commented on #11532
@mit-mit flutter run does not work if version code and version name are not present

[2017-08-15 16:53] adityamv7 commented on #11533
@eseidelGoogle  any specific reason as why this error is happening

[2017-08-15 17:06] Hixie commented on #10383
I think this is done now.

[2017-08-15 17:06] #10383 closed

[2017-08-15 17:15] collinjackson commented on #11611
It seems like the Material date picker may be more useful for picking dates in the near future. For dates in the distant past, the day of the week isn't relevant, so perhaps a different date entry mechanism would feel more natural.

Here's an [example](https://gist.github.com/collinjackson/4e4f76143338d20efc4caeba6a7367f9) of building a date picker using [package:numberpicker](https://www.dartdocs

[2017-08-15 17:27] collinjackson commented on #11435
You may find this [StackOverflow answer](https://stackoverflow.com/a/25367451) helpful.

We're doing the same thing as the iOS and Android Firebase SDKs as far as I know.

[2017-08-15 17:29] mit-mit commented on #11532
I believe that might be resolved in the update of the alpha channel we did yesterday. Would you mind running `flutter update` and then:

[code]

and see if that works?

[2017-08-15 17:29] jason-simmons commented on #11475
Try running this Flutter app in profile mode on the Nexus 7:

[code]

On my device, the icon fails to render on roughly one third of the times I've started the app.

[2017-08-15 17:30] mit-mit commented on #11532
Alternatively, I see you are on the fairly old Android Studio 2.2 -- maybe update that to 2.3.3?

[2017-08-15 17:36] adityamv7 commented on #11532
@mit-mit  i will try both the things and revert back here to confirm the same

[2017-08-15 17:44] szakarias commented on #10032
1) The string is malformed. It has  "%" after the first "%20" and no "20" after the second "%". Change it to 'mailto:smith@example.org?subject=News&body=New%20Flutter%20plugin' and it should work. :-)

2) Are you using the simulator? Remember that the simulator cannot handle mailto because the mail application is not available.  If you use `canLaunch` before calling `launch` you will get more info

[2017-08-15 18:05] Hixie commented on #10918
My understanding is that we can't implement this yet because Mozart2 doesn't yet have the gesture arena backend we need. I am therefore removing the `customer: blocker` label. We will not be working on this until we hear that the ball is back in our court.

[2017-08-15 18:08] Hixie commented on #10847
Current status is that we believe Fuchsia exposes the necessary APIs for us now and so @chinmaygarde is going to look into what is needed to implement this on our end. My guess is that what we want to do is expose this using AppLifecycleState.inactive (unfocused) and AppLifecycleState.resumed (focused). Once that is done I can make the framework handle this correctly in terms of exposing the focus

[2017-08-15 18:11] szakarias opened #11626 "Problem with image rendering on iOS device in app with multiple Flutter views"
I am working on a Flutter app with multiple Flutter views and I am having trouble displaying an image from assets. It works as expected in the first Flutter view but in the following Flutter views it is not rendered correctly.

I have checked that the correct bytes are sent when calling the native `DecodeImageFromList` in image_decoding.cc. It might have something to do with the way we use the Ski

[2017-08-15 18:14] Hixie commented on #10972
I'm taking this off the customer critical list because we're not sure what needs to happen.

[2017-08-15 18:17] Hixie commented on #9577
My current ETA on this is that I expect to work on it in a couple of months, I'm working on RTL first. Please let us know if that time-frame isn't sufficient; we can work on more narrowly-scoped work sooner if it is urgent.

[2017-08-15 18:17] xster commented on #10972
I'll actually close this for now. @harveynick feel free to reopen if it's still noticeable. Though I strongly suspect given your description that it was temporary while https://github.com/flutter/flutter/commit/5756d6293188ebcb0f7a8143829613557fafbe9b was not rolled into g3

[2017-08-15 18:17] #10972 closed

[2017-08-15 18:19] Hixie commented on #11607
This is probably blocked on #11490 and the related bugs, since those will change how this will work.

[2017-08-15 18:27] Hixie commented on #11480
We believe the issue here is mis-use of the API, so we will take this as an action to update our documentation, but we don't think we need to change anything. As such I'm taking the `customer: critical` label off.

[2017-08-15 18:52] chinmaygarde commented on #11626
Though we have always tried to support rendering multiple Flutter views simultaneously, it is not a use case that is common or tested. However, I cant think of why your particular case is failing.

Also, the `GrContext` is not a singleton. Each platform view creates an instance of a GPU rasterizer that creates a separate GPU surface. The GPU surface owns a separate OpenGL context with its own asso

[2017-08-15 19:45] collinjackson commented on #11540
There are a few more steps required to implement the Dynamic Links "receive" integration on [iOS](https://firebase.google.com/docs/dynamic-links/ios/receive) and [Android](https://firebase.google.com/docs/dynamic-links/android/receive), like adding a dependency on a compatible Dynamic Links mobile SDK. If we provided a plugin, it could do some steps of this integration automatically, as well as re

[2017-08-15 19:48] Hixie commented on #11597
Isn't that exactly what PhysicalModel is?

On Mon, Aug 14, 2017 at 6:25 PM Andrew Wilson <notifications@github.com>
wrote:

--

--
Ian Hickson

😸

[2017-08-15 19:55] sethladd commented on #11607
See also this request for an example: https://github.com/flutter/flutter/issues/9768

I wonder if we can merge the example request and the doc request into one issue.

[2017-08-15 19:56] sethladd commented on #9768
Closing this particular issue, because https://github.com/flutter/flutter/issues/11607 is the general request for documentation + example/sample.

[2017-08-15 19:56] #9768 closed

[2017-08-15 20:12] Hixie commented on #11540
We will probably not get to this in the near future, but it is on our radar for a few months from now.

[2017-08-15 20:17] Hixie commented on #2127
Dupe of #1657.

[2017-08-15 20:17] #2127 closed

[2017-08-15 20:18] Hixie commented on #2150
Don't need to track this separate from #387.

[2017-08-15 20:18] #2150 closed

[2017-08-15 20:18] Hixie commented on #2156
We haven't had customers request this, and that codebase is no longer one we maintain, so closing.

[2017-08-15 20:18] #2156 closed

[2017-08-15 20:19] Hixie commented on #2202
We don't really need to track this. We'll fix it once a customer finds it's an issue.

[2017-08-15 20:19] #2202 closed

[2017-08-15 20:21] Hixie commented on #2267
We don't think this is something we're going to do ourselves. We encourage the community to provide such templates.

[2017-08-15 20:21] #2267 closed

[2017-08-15 20:22] Hixie commented on #2271
Done.

[2017-08-15 20:22] #2271 closed

[2017-08-15 20:23] Hixie commented on #2302
We can track this once we try to optimize this user experience, if we find it is an actual problem.

[2017-08-15 20:23] #2302 closed

[2017-08-15 20:24] Hixie commented on #2305
This is very well tested these days.

[2017-08-15 20:24] #2305 closed

[2017-08-15 20:25] Hixie commented on #2345
Dupe of #11460.

[2017-08-15 20:25] #2345 closed

[2017-08-15 20:27] Hixie commented on #2408
We're not going to worry about this.

[2017-08-15 20:27] #2408 closed

[2017-08-15 20:27] Hixie commented on #2410
We're just avoiding those pages.

[2017-08-15 20:27] #2410 closed

[2017-08-15 20:28] Hixie commented on #2411
Not going to worry about these kinds of issues.

[2017-08-15 20:28] #2411 closed

[2017-08-15 20:28] Hixie commented on #2412
Closing per last comment.

[2017-08-15 20:28] #2412 closed

[2017-08-15 20:29] Hixie commented on #2421
We intentionally don't show timestamps to reduce verbosity. You can get them manually if you run adb directly.

[2017-08-15 20:29] #2421 closed

[2017-08-15 20:29] Hixie commented on #2440
We'll track what we need tests for using our coverage data.

[2017-08-15 20:29] #2440 closed

[2017-08-15 20:34] Hixie commented on #11625
This is probably GPU-specific, but I don't know exactly what the issue is. We should get a Moto G3 TE and test it out.

[2017-08-15 20:37] Hixie commented on #11624
To actually prevent the ErrorWidget from rendering, we could provide a hook that lets you skip the call to render the new scene. That shouldn't be too hard.

[2017-08-15 20:40] Hixie commented on #11617
cc @cbracken @xster

[2017-08-15 20:42] #11611 closed

[2017-08-15 20:44] Hixie commented on #11605
cc @LarkAscending

[2017-08-15 20:44] Hixie commented on #11604
cc @LarkAscending

[2017-08-15 20:45] Hixie commented on #11603
cc @a-siva

[2017-08-15 20:46] Hixie commented on #11602
cc @mravn-google

[2017-08-15 20:46] Hixie commented on #11601
Leaving this open to better document these flags.

[2017-08-15 20:48] Hixie commented on #11599
Not sure what to do with this bug. Assuming I'm right about the cause, it's working as intended (modulo taking so long). Should we keep this open specifically to track down why it's so expensive?

[2017-08-15 20:50] Hixie commented on #11596
cc @mehmetf

[2017-08-15 20:50] Hixie commented on #11596
@JFixby We probably won't get to this any time soon, but assuming @collinjackson or @mehmetf agree that this is a reasonable feature request, we would certainly welcome pull requests!

[2017-08-15 20:51] xster commented on #11617
What macOS version do you have?
Can you also do `ls /usr/sbin/DevToolsSecurity` and paste the output??

[2017-08-15 20:55] Hixie commented on #11593
Try wrapping the `ImageIcon` in an `IconTheme` whose `color` is null.
We should offer a way to opt-out of the colourising, though.

[2017-08-15 20:55] rickbsgu opened #11629 "Formfields in a Form lose values on scroll/kb popup"
You can see this with the 'Text fields' sub-app in the 'Gallery' app.  Pop up a keyboard, enter values, scroll around.  Happens on iOS and Android.  Hidden/scrolled out fields get set back to their initial value(s).

This seems to be a bug or incomplete implementation.  I would think a normal expectation would be to create the form and whatever values are entered in the fields while the form is ac

[2017-08-15 20:56] Hixie commented on #11592
Any idea why? Is this because we get multiple points at the bezel maybe?

[2017-08-15 20:56] Hixie commented on #11589
@chrsfang Any luck?

[2017-08-15 20:57] Hixie commented on #11586
I think we discovered recently that we were also firing this for Infinity values. @jason-simmons Did that get resolved?

[2017-08-15 21:00] Hixie commented on #11583
We have no plans to do this any time soon. Maybe the libphonenumber team could offer this?

[2017-08-15 21:08] jason-simmons commented on #11586
Currently the engine's Skia wrappers allow infinity values on cull rects but not coordinates passed to draw() APIs.

Is the framework passing infinity to Canvas.drawImageRect?  I'm not sure if Skia specifies the intended behavior in that case.

[2017-08-15 21:25] cbazza commented on #11609
Ok, so the "Basic widgets" example on 'https://flutter.io/widgets-intro/#basic-widgets' would look like the following:
[code]

[2017-08-15 21:34] jason-simmons commented on #11586
We can change the asserts in painting.dart to only check for null and NaN.

But I'm wondering what the framework expects Skia to do when an infinity value is passed to something like drawImageRect.

Should it ignore the draw command?  If not, then what should it render?  Does Skia reserve the right to change its behavior or start asserting in debug mode on an infinity?

[2017-08-15 21:35] Hixie commented on #11609
How about this syntax?:

[code]

[2017-08-15 21:41] Hixie commented on #11629
Yup. Dupe of #11500.

[2017-08-15 21:41] #11629 closed

[2017-08-15 21:42] Hixie commented on #11500
From @rickbsgu on #11629:

[2017-08-15 21:44] Hixie commented on #11586
Depends on the argument, but e.g. for the src argument I would hope the same thing would happen if you passed infinity as would happen if you passed any value that was out of range. There's only a finite range of values that are valid for that argument.

[2017-08-15 21:44] cbazza commented on #11609
Huumm, a little improvement but not so good...
Here are the things that gets accomplished by using XML:
(1) No more 'child' & 'children' stuff
(2) easy for 3rd party tools to manipulate (parse, analyse and regenerate)
(3) notice that the switching between markup and programming is easily detected. I mean inside XML you have '{}' to delimit code and in code you have '<Capital' to delimit markup.
Al

[2017-08-15 21:45] Hixie opened #11630 "Overlay docs don't say how to add an entry"

[2017-08-15 21:48] sethladd commented on #11609
cc @kasperl

[2017-08-15 21:48] mravn-google commented on #11602
@JFixby According to the `flutter doctor` output above, your Android Studio installation is either outdated or incomplete. The latest stable version is 2.3.3.

[2017-08-15 21:49] Hixie commented on #11609
I don't really understand why that's desireable. "child" and "children" aren't special. Consider ListTile for example. How would you do that one? Why are "icon" in IconButton, or "home" in MaterialApp, something you want to give a name for, but not "child" in Expanded? All three are just arbitrary arguments that happen to take Widget objects. There's nothing magical about "child" vs "home".

You c

[2017-08-15 21:50] JFixby commented on #11602
I'm not using Android Studio.

[2017-08-15 21:53] rickbsgu commented on #11500
Creating a TextEditorController only works with TextFormFields.  A more generic solution is needed for other FormField derivations.

[2017-08-15 22:02] cbazza commented on #11609
Less boilerplate, you don't need to say it because it is inherited in the structure.

It's related to (2) because it makes life of toolmakers, specially GUI builders, much easier since they don't need to fully parse Dart; but it also makes reading the code easier.

The format of XML is very simple so when you see '{}' you know it is calculating an expression in dart. Same for the opposite, when re

[2017-08-15 22:07] cbazza commented on #11609
Also in the final XML processor I would avoid passing objects to attributes of parents and instead create child tags as below:
[code]

[2017-08-15 22:11] mravn-google commented on #11602
Sure. And updating Android Studio may not solve your problem. But we are giving the location of the Java SDK bundled by Android Studio as environment for gradle executions invoked by `flutter build apk`.

Otherwise, [this](https://stackoverflow.com/questions/36797068/gradle-sync-failed-cant-load-library-windows-amd64-native-platform-dll) may be more helpful.

Please let us know if that is the case

[2017-08-15 22:13] postmasters opened #11632 "Flutter templates should support "com.android.library" Gradle plugin"
The generated plugin template `build.gradle` files, and Flutter's `packages/flutter_tools/gradle/flutter.gradle` do not support Android library.

In the `flutter.gradle` file, only `project.android.applicationVariants` are used. Android library does not have this property and instead offers `libraryVariants`.

The problem does not happen to app template, such as the `example/android` in the plugin

[2017-08-15 22:23] Hixie commented on #11609
But why only for some of the properties? And how do you handle cases where there's two child slots, like ListItem? XML-ish syntax just doesn't seem to handle this very well.

Also I'm not really sure it's less boilerplate.

Compare:
[code]

[code]

It's not at all clear to me that the XML-ish syntax is cleaner or less boilerplatey. There's lots more punctuation, and some duplication of content (e.

[2017-08-15 22:27] JFixby commented on #11602
Ok I see.
Also I fixed the problem by cleaning gradle cache.
Now someone should take care of the exception above.

[2017-08-15 22:34] mravn-google commented on #11602
Yes, it would be nice if flutter tooling could handle this case. Thanks for reporting!

[2017-08-15 22:45] Sfshaza commented on #11617
[code]

![screen shot 2017-08-15 at 3 41 41 pm](https://user-images.githubusercontent.com/6293442/29339700-404980d8-81d0-11e7-9e2e-92380e3b0b8e.png)

Yeah, I really can't do much:

[code]
More info:

[code]

[code]

I've deleted the Flutter SDK and reinstalled. I upgraded it today.

[code]

[2017-08-15 22:52] xster commented on #11617
Thanks for all the details!
`export PATH=$PATH:/usr/sbin` should fix it for you.

It should be set by default on a fresh OS install but we should indeed add a better check or error message if users removed it from the path.

Let me know if it works and I'll add a patch

[2017-08-15 23:04] Sfshaza commented on #11617
OK! Flutter doctor is *almost* happy! I'm now getting an error on cocoapods. Which version should I be using?

[code]

[2017-08-15 23:07] Sfshaza commented on #11617
Also, when I go into IntelliJ, it says I'm running Version 16.0 of the plugin, but flutter doctor says it's version 13.0.

![screen shot 2017-08-15 at 4 06 57 pm](https://user-images.githubusercontent.com/6293442/29340436-d2239856-81d3-11e7-9406-bcd01ad8ba49.png)

[2017-08-16 01:17] chrsfang commented on #11589
@Hixie Canvas.drawImageRect works well for me.
Thanks.

[2017-08-16 02:00] xster commented on #11599
Seems like it's mostly coming from recreating new AnimationControllers.

Do you think it makes sense to let the position min/max extents be observables passed into the simulation instead of having them immutably baked in on construction?

Or perhaps create new simulations but keep the old BallisticScrollActivity and AnimationController and just update the simulation? All the math in the simulation

[2017-08-16 02:15] Hixie commented on #11589
Cool. I'll change this bug to be documentation to explain how `alignment` works and ideally specifically why it doesn't have the effect you expected here.

[2017-08-16 02:41] Hixie commented on #11599
We need to more precisely understand the cost. We could try doing a microbenchmark of just calling `goBallistic` in a tight loop and see what appears on the profile.

[2017-08-16 05:06] lishuhao opened #11634 "install error"
I just clone the flutter repository, update PATH
when i run `flutter doctor` i got this error

### flutter doctor
[code]

[2017-08-16 06:22] eturk1 commented on #11548
Actually, important to note not even the sample Flutter code actually works.
https://docs.flutter.io/flutter/widgets/CustomScrollView-class.html

once it hits the list index of [12] screen paints starting at [12] at the top, rather than continuing to scroll below [11]. Sample main.dart attached with flutter doc sample used for home:

[main.dart.txt](https://github.com/flutter/flutter/files/1227200

[2017-08-16 08:00] mit-mit commented on #11632
cc @mravn-google

[2017-08-16 08:09] Rishab-1065 commented on #6602
@collinjackson I have two form field inside a form and SingleChildScrollView as the parent container for all. When i click on textfield the keyboard pops up and hide the focused field.

[2017-08-16 08:39] mravn-google commented on #11632
@postmasters The `flutter.gradle` script is only intended for building apps. Its role in a plugin project is to build the example app, and thereby to ensure that `flutter.jar` is available as a provided dependency of the plugin library.

To avoid the squiggle lines in Android Studio, you should import the `build.gradle` file in the example app (`/example/android/build.gradle`) rather than opening

[2017-08-16 08:51] mit-mit commented on #11480
The API docs already have this information:
https://www.dartdocs.org/documentation/url_launcher/0.4.2+1/url_launcher/launch.html

I updated the [package readme](https://github.com/flutter/plugins/tree/master/packages/url_launcher) to also have it in https://github.com/flutter/plugins/pull/194.  Closing this bug as fixed.

[2017-08-16 09:51] Ivaskuu opened #11635 "App crashes on launch on package name change"
## Steps to Reproduce

I need to change the package name of the app for the android platform, so I opened the manifest file (android/app/src/main/AndroidManifest.xml) and changed the package line :

from : package="com.yourcompany.chatdiary"
to : package="com.skuu.stry"

but the app crashes on launch :  [screenshot](https://preview.ibb.co/iGJA6a/Screenshot_20170816_124017.png)

## Logs

Run your a

[2017-08-16 10:20] TitikshaDaga opened #11636 "Http Request"
So i want to get data in json form from a api on button click. I am ablt to do so but there is only one problem. I am able to do so only by double clicking the button and not on a single click. On one click I get no data but on second click I get the data. Please let me know where I am wrong.

[code]

[2017-08-16 10:42] micrcx commented on #11600
I don't think this is a mistake. It's just a flaw. The GestureDetector class is great for common applications. This is just an advanced mouse (if there is no touch screen) or clicker + dragger (as in Android, for example). However, multitouch detector is also important, although I understand that creating a class like MultitouchGestureDetector is much more difficult. However, this is not the only

[2017-08-16 12:18] oscarcpozas commented on #11635
You changed the package names where locale MainActivity.java too?
It's necessary refactor naming of packages (android/app/src/main/**yourcompany**/**example**)

[2017-08-16 12:23] oscarcpozas commented on #10562
How check if a widget is accessible?

[2017-08-16 12:44] cornelius-tan commented on #11416
@Skylled Try initializing the controller with an initial text.
[code]
source: https://docs.flutter.io/flutter/widgets/TextEditingController/TextEditingController.html

[2017-08-16 13:59] mit-mit commented on #9765
Good catch @namiwang! Working on resolving in https://github.com/flutter/website/pull/653

[2017-08-16 14:30] sethladd commented on #6602
Thanks for the comment. Can you share a small repro case?

[2017-08-16 14:53] Ivaskuu commented on #11635
@oscarcpozas ohhh didn't know about that.. Maybe it could be useful to add a tutorial or maybe even a command to change the app package...

_Sent from my Samsung SM-G935F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 14:53] Ivaskuu commented on #11635
@oscarcpozas ohhh didn't know about that.. Maybe it could be useful to add a tutorial or maybe even a command to change the app package...

_Sent from my Samsung SM-G935F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-16 15:54] collinjackson commented on #6602
Is this issue a dupe of #10826? If so we should probably move the discussion there.

[2017-08-16 15:59] Skylled commented on #11416
@cornelius-tan That's exactly what I'm doing, but for whatever reason, in specific instances, it's resetting to the left when typing. I've found ways to work around the scenario instead of the problem.

[2017-08-16 16:14] collinjackson opened #11638 "AppBar managing SystemUIOverlayStyle in build() can be confusing"
`AppBar` sets the system UI color in its [`build()` method](https://github.com/flutter/flutter/blob/94ed7dce41d61a898f9b0eb7e38104045777ffb2/packages/flutter/lib/src/material/app_bar.dart#L334). This is not great because `build()` methods can be called at unpredictable times and so once an `AppBar` is visible the behavior of `setSystemUIOverlayStyle` is unpredictable. It can pose a problem for dev

[2017-08-16 16:40] Hixie commented on #11638
Dupe of https://github.com/flutter/flutter/issues/4630.

[2017-08-16 16:40] #11638 closed

[2017-08-16 16:43] Hixie commented on #11480
I think we can do a lot better than that. We should have sample code there at a minimum. We should also be more explicit, for example phrasing it as "Before calling this method, consider calling the [canLaunch] method. This avoids the risk of [launch] failing, ..." with examples of how it might fail, etc. We should also talk about how the URL should be properly escaped.

Also this page seems to la

[2017-08-16 16:47] Hixie commented on #11600
I don't really understand what you mean here. MultiDragGestureRecognizer is pretty easy to use, but we need documentation to show how to do it (or we should make it simpler in general by having a widget like GestureDetector do it).

See https://flutter.io/platform-channels/

I'm not sure what you mean here but I suggest filing a new bug so we can track that separate from the multi-touch issue. Tha

[2017-08-16 16:48] Hixie commented on #11548
Yup, we definitely need to fix this.

[2017-08-16 16:50] Hixie commented on #11636
Change `() {` to `() async {` and change `this.getJson` to `await getJson`.

[2017-08-16 17:14] oscarcpozas commented on #11635
I think that is a basic knowledge about Android development (package name must match with app ID), but a checker on compile time maybe be interesting.

[2017-08-16 17:34] cbazza commented on #11609
Look, you are mixing everything I say and this conversation is going nowhere. In legal terms you are "Badgering the witness".

If you are really interested in learning why JSX is hot, just google for "react tutorial" and notice that for the past 2 years all articles on React use JSX. The original way of creating component hierarchies in React (which is equivalent to the current way in Flutter) is

[2017-08-16 17:56] goderbauer commented on #10562
Right now its a manual process: Turn on TalkBack on Android or VoiceOver on iOS and see if the widget can be used in a reasonable way with those techniques.

[2017-08-16 19:10] Hixie commented on #11609
My apologies if I sound defensive or aggressive. This is a topic that's come up several times but I'd never had someone willing to actually argue the case before so I was finding this conversation very useful in teaching me what the reasoning behind the request was. Please don't take my argumentative tone as dismissive, I'm very interested in your input here.

Please don't feel you have to reply.

[2017-08-16 19:57] collinjackson opened #11639 "Crash on iOS when GL or Metal commands run in background"
This issue tracks `gpus_ReturnNotPermittedKillClient` (iOS 9.x) and `MTLReleaseAssertionFailure` (on iOS 10.x). Most likely the app is being killed trying to [draw while backgrounded](https://developer.apple.com/library/content/qa/qa1766/_index.html).

Example stack trace:

[code]

Example stack trace:

[code]

[2017-08-16 20:43] Hixie opened #43140 "UI improvements for dashboard"
The following improvements would be a great help to using the dashboard:

- [ ] When a commit doesn't have data, show that commit (just with no data). That way we can tell when we've stopped receiving data.

- [ ] The benchmark history panel should be `position: fixed; top: 0; left: 0; right: 0` (and when it's present, some padding should be added to the main body so that it doesn't overlap the to

[2017-08-16 21:02] Sfshaza commented on #11617
@xster helped me work through this. I had to remove rvm and install ruby via brew. Fixed.

[2017-08-16 21:22] xster opened #11642 "Add a one page static iOS demo in the gallery"
Not #10304 but just a static page to show the iOS aesthetics

[2017-08-16 21:43] collinjackson commented on #11541
I believe that this was fixed by #180

[2017-08-16 21:43] #11541 closed

[2017-08-16 21:44] collinjackson commented on #10624
I believe that this was fixed by flutter/plugins#180

[2017-08-16 21:49] collinjackson opened #11644 "Update Friendlychat codelab with currentUser API for firebase_auth 0.2.0"
The Firebase auth API for `currentUser()` has a breaking change in flutter/plugins#180 (plugin version `0.2.0`). I think we should update the codelab because otherwise it will be confusing that the API docs don't match the codelab.

/cc @LarkAscending @mit-mit

[2017-08-16 22:57] HansMuller opened #11646 "flutter analyzer fails for @mustCallSuper annotation"
In the example below the analyzer reports a "hint" for the Bar.bar() override, even though the overridden method unconditionally calls super:
[code]
[code]

This version of `Bar`, which looks the same to me, doesn't not trigger any analyzer output:
[code]

[2017-08-16 23:21] #11586 closed

[2017-08-16 23:24] collinjackson opened #11648 "Image.toByteData()"
In #6774 @Hixie proposed a `toByteData` method for the `Image` class. This would allow reading the raw pixels out of an image.

@abarth added support for `Picture.toImage` which closed #6774 but `Image` still doesn't have a `toByteData` method. @sethladd asked about this on [Stack Overflow](https://stackoverflow.com/questions/45680088/how-to-save-a-flutter-canvas-as-a-bitmap-image) so I created th

[2017-08-16 23:34] chinmaygarde commented on #11648
For an image backed by an OpenGL texture, we discard the host side copy if the image. So there is no byte data available to return. We could either keep these copies around or perform an expensive draw call and read pixels after to populate the byte buffer on demand.

[2017-08-16 23:37] chinmaygarde commented on #11648
We can also create a software rendering context and render that image into the same. In any case though, such an operation will be extremely expensive.

[2017-08-16 23:47] sethladd commented on #11648
Can it be an async call?

[2017-08-16 23:51] Hixie commented on #5089
I called it `verticalDirection`.

[2017-08-16 23:55] B3rn475 opened #11649 "Document why the build methods of State objects has the context as parameter."
A doubt I had as a newcomer is related to the difference between the `contex` parameter of the `build` method of a `State` object and the `context` property.

It is cited in https://docs.flutter.io/flutter/widgets/State/build.html but being the last phrase of a long text it is difficult to identify.

Would it be possible to move the phrase upper or make it more explicit at the beginning of the pag

[2017-08-17 00:14] lishuhao commented on #11634
The problem is solved.
That's my network problem.

[2017-08-17 00:14] #11634 closed

[2017-08-17 01:03] collinjackson commented on #11648
It's probably fine for it to be slow if this is only used for #1433.

[2017-08-17 01:05] B3rn475 opened #11650 "Engine roll caused regression to aot_snapshot_size"
The latest engine roll (https://github.com/flutter/flutter/commit/2e57189aa47285b191552efe845446236ade6093) has increased the size of all aot snapshots.

![image](https://user-images.githubusercontent.com/2686902/29391530-c84f661e-82ac-11e7-8264-2ef64028d382.png)
![image](https://user-images.githubusercontent.com/2686902/29391556-f6a02d50-82ac-11e7-8d89-8ccc8147a327.png)

PL https://github.com/flu

[2017-08-17 01:05] B3rn475 commented on #11650
@rmacnak-google

[2017-08-17 01:17] rmacnak-google commented on #11650
Isn't that outside of the blame window? I read the blame windows as

engine fef7d827d6e22830ee6c88e8260f118a6b3fbcd9..a246501917b8b77e856db253817ce7c2cc25b9c2
dart 15258fd7a76cbf49a1b3eb86d8695602e792abb5..491390eeaa7974f44a8931d10a899c39c0df8dda

[2017-08-17 01:20] B3rn475 commented on #11650
My fault. Removed the reference

[2017-08-17 01:22] lishuhao opened #11651 "Downloading Dart SDK issue, curl: (18) transfer closed with 47657195 bytes remaining to read"
[code]
My net is slow！I tried a lot of times.
What is the download url ? can i manually download it and place it in the right dir?

[2017-08-17 01:29] lishuhao commented on #11651
By looking at the source code I got the download url.
But can i manually download it and place it in the right dir?

[2017-08-17 01:41] lishuhao commented on #11651
I fixed it,it is my proxy problem

[2017-08-17 03:03] jxmorris12 commented on #5951
I dealt with this issue as well today and it's quite confusing at first. The DropdownMenuItem that is a child of the DropdownButton is actually just hidden behind the visible item, so whenever you try and tap that one you actually just select whatever shows up in the center of the DropdownButton.

Even if this isn't changed in implementation of DropdownButton, some documentation would be helpful.

[2017-08-17 03:04] jxmorris12 commented on #2749
@tvolkert I don't think that either variable was set.

[2017-08-17 03:12] Hixie commented on #11651
We should more gracefully report errors of this nature.

[2017-08-17 03:30] lishuhao commented on #11603
I reinstalled flutter and it is working

[2017-08-17 03:34] eseidelGoogle commented on #11646
@danrubel or @pq might know.

[2017-08-17 03:37] abarth commented on #11648
Needs to be async.

[2017-08-17 03:41] eseidelGoogle opened #11652 "Speak Screen does not work on iOS"
I you turn on Speak Screen and attempt to speak the screen (pull down with two fingers from the top) in a Flutter app it just says "no speakable content could be found on the screen".

If you turn on VoiceOver however there are lots of speakable things.

[2017-08-17 04:13] sethladd commented on #11648
👍

[2017-08-17 04:43] TitikshaDaga commented on #11636
@Hixie if I enter wrong username password then no data should come and  it should show me modal sheet saying invalid password or username but that is not happening after the changes u asked me to make. I made the following changes -
1) Made the getJson function return a Future<String> value
2)
 `if (response.body != 'Incorrect username or password')
{
    data = JSON.decode(response.body);
return

[2017-08-17 06:42] TitikshaDaga opened #11653 "How to reformat the layout when keyboard pops up."
I have a login screen with 2 text fields and 2 buttons. Whenever I click on the text field key board pops up and  the screen is pushed up and a red box appears that hides my button and goes away when the key board is closed. How do I avoid the red box?Do I need to realign the layout whenever the screen is pushed up? If so how do I do it whenever the screen is pushed up?

[2017-08-17 07:32] TitikshaDaga opened #11654 "Hot Reload Deselected"
I am currently workin on Intellij IDEA IDE and in that I have connected a Redmi device. The hot reload button is always deselected. Is it only for fuschia or for every os? How do i enable it?

[2017-08-17 08:32] #11485 closed

[2017-08-17 09:59] cornelius-tan opened #11655 "Pages on Navigator stack rebuild when a new page is pushed"
## Steps to Reproduce

Pages on Navigator stack rebuild when a new page is pushed onto the stack.
Suppose the pages were numbered numerically, in the order they are pushed onto the stack  i.e. page 1 -> page 2 -> page 3. When we push Page 3, previous pages from page 1 to 2 rebuild as evident from the print statements. Is this a bug?

[code]

## Logs

When page 2 is pushed, the log outputs
[code]
E

[2017-08-17 10:42] devoncarew commented on #11654
The hot reload button become enabled when a Flutter app is running on a device. If you run an app (via the run or debug buttons), hot reload should become enabled once the app starts up on the phone.

[2017-08-17 10:44] TitikshaDaga commented on #11654
@devoncarew  it doesn't get enabled.

[2017-08-17 10:54] devoncarew commented on #11654
We'll probably need a bit more details. Can you go to the Tools menu, and run Flutter > Flutter Doctor (an attach the output here)?

And, and deices showing up in the device pulldown, and is there a flutter app available in the launch config selector? Here's what my screen looks like before and during a launch:

<img width="374" alt="screen shot 2017-08-17 at 3 50 36 am" src="https://user-images.g

[2017-08-17 10:59] TitikshaDaga commented on #11654
![screenshot from 2017-08-17 16-25-30](https://user-images.githubusercontent.com/12954116/29409204-daf99b2e-8368-11e7-8372-a8af5bd24da1.png)
after screen
![screenshot from 2017-08-17 16-27-38](https://user-images.githubusercontent.com/12954116/29409297-32713b5a-8369-11e7-9edd-d2f77402e5a9.png)
and the before screen

![screenshot from 2017-08-17 16-26-53](https://user-images.githubusercontent.com/1

[2017-08-17 12:18] TitikshaDaga opened #11656 "SQLite in flutter"
To access sqlite database in flutter app will I have to write a plugin for that or is there some other way?

[2017-08-17 13:11] 52lemon opened #11657 "can not install flutter use "flutter doctor""
## Steps to Reproduce
when i install flutter on windows system with command "flutter doctor", during the installing ,i got an
exception that "oops,flutter has existed unexpectedly"

here is the codes:

`
C:\Users\Administrator> flutter doctor
Checking Dart SDK version...
Downloading Dart SDK 1.25.0-dev.9.0...
Unzipping Dart SDK...
Updating flutter tool...
Got socket error trying to find package co

[2017-08-17 13:28] Solido commented on #11656
Check https://github.com/solido/awesome-flutter for SQFlite

[2017-08-17 13:32] Solido opened #11658 "Flutter Doctor after Upgrade is not up to date"
## Steps to Reproduce

`flutter upgrade`

After Flutter upgrade completed it displays Doctor stats but those are the old infos
`• Framework revision b156a0f054 (5 days ago), 2017-08-16 19:31:59 -0700`

Executing again Flutter Doctor display the real update version
`• Framework revision 47fe630e4e (11 hours ago), 2017-08-16 19:31:59 -0700`

OSX

[2017-08-17 13:51] eseidelGoogle commented on #11657
It looks like android.googlesource.com may not be accessible from china: http://ping.chinaz.com/android.googlesource.com.

[2017-08-17 14:11] eseidelGoogle opened #11659 "TextEditingController should explain its expected lifetime"
I've seen multiple individuals be confused by TextEditingController and end up re-creating one every time build() is called.  The API docs could explain its expected lifetime (e.g. be held off a State, living as long as the TextInput).

[2017-08-17 14:34] cbazza commented on #11609
Yes, the exact same thing applies here. The current way looks good to you because that's the only option you have. Give people a second option and the same will happen.

Whether E4X died or not is irrelevant because nothing lives forever. I have used ActionScript with E4X a lot and thought that Adobe did an excellent job there. In a way Flutter is just a newer version of Adobe Flash with Flex apps

[2017-08-17 15:31] devoncarew commented on #11654
Hmm, it's not clear to me what's going on - the reload button definitely should be active for you. It's interesting that the run button doesn't become re-enabled (it disables at the start of a run, but once the app is up, it should re-enable). Perhaps we're missing some event that signals that the app has come up on the phone.

Can you try two other things? If you run your app from the command-lin

[2017-08-17 16:16] eseidelGoogle opened #11660 "LocalHistoryEntry api docs are sparse"
It's just a one liner:
https://docs.flutter.io/flutter/widgets/LocalHistoryEntry-class.html

"An entry in the history of a LocalHistoryRoute."

Which links to a slightly larger description in LocalHistoryRoute.

Maybe this just needs to link to a navigation tutorial?  @alardizabal expressed some confusion attempting to use the API.

[2017-08-17 16:25] cohortor commented on #11659
Eric, if I may, I would suggest you update the documentation to explain that the Controller should actually 'outlive' the TextInput/TextField, instead of 'living as long as the TextInput'.

E.g. the controller instance could live in the State associated with a Page that builds the Form/TextFields.

The reason being that more often than not, a form's elements will be children of some sort of Scroll

[2017-08-17 16:28] danrubel commented on #11646
Looks like a bug in the lint analysis, but I'm not familiar with the lint code base.

[2017-08-17 16:57] sethladd commented on #11656
You can try https://github.com/tekartik/sqflite

Hope that helps!

[2017-08-17 16:57] #11656 closed

[2017-08-17 16:59] sethladd commented on #11653
Hi, thanks for the question! Do you happen to have a small sample that illustrates this issue? A small reproducible case?

[2017-08-17 17:03] mehmetf commented on #11596
Sounds reasonable to me. Please feel free to forward a PR!

[2017-08-17 17:05] harveynick opened #11661 "Behaviour of pull to refresh control and associated widget is incorrect on iOS"
## Steps to Reproduce

Any test code which uses RefreshIndicator from the material widgets.

## Description

The widget always follows the Android behaviour. On iOS the progress indicator should act as though its part of the scroll view on drag. Then on release the scroll view should stay slightly scrolled until the indicator finished animating. The built in iOS Mail app provides an example. As do

[2017-08-17 17:13] sethladd commented on #11661
thanks for the report!

[2017-08-17 17:23] Rishab-1065 commented on #3782
I don't see any ripple effect in the drawer if i provide the color to the container wrapped inside the drawer. Please tell if this the desired behaviour. @eseidelGoogle

[2017-08-17 17:29] Rishab-1065 commented on #6602
This is my whole view. Please have a look @sethladd @collinjackson

       return new Scaffold(
        key: _scaffoldKey,
        body: new SingleChildScrollView(
            controller: scrollController,
            child: new Container(
              padding: new EdgeInsets.all(16.0),
              decoration: new BoxDecoration(image: backgroundImage),
              child: new Column(

[2017-08-17 17:42] Sfshaza opened #11662 "API docs need better headers"
It seems very odd to me that the Flutter API docs don't have the class/package/etc name in BOLD at the top of the page. There's only a breadcrumb trail or or the URL at the top of the page and it's not visually obvious. I'd expect to see something more like what you'd see on the Dart API docs (pics included).

## Dart
![screen shot 2017-08-17 at 10 40 33 am](https://user-images.githubusercontent.c

[2017-08-17 17:44] Hixie commented on #11662
Dupe of https://github.com/dart-lang/dartdoc/issues/1441.

[2017-08-17 17:44] #11662 closed

[2017-08-17 17:46] ride4sun commented on #8438
I just did a new install into a Xubuntu virtual Machine. This is what I got today:

Initializing gradle...                                0.9s
Running 'gradlew assembleRelease'...
Checking the license for package Android SDK Build-Tools 26 in /home/ride4sun/Android/Sdk/licenses
Warning: License for package Android SDK Build-Tools 26 not accepted.

FAILURE: Build failed with an exception.

* Where:

[2017-08-17 17:49] Hixie commented on #11609
Whether it died isn't the issue, it's why it died. Did it die because it didn't provide a solution that people wanted? Did it die because of implementation issues? Did it die because of patent issues? Was it too early? Too late? I think it's important to learn lessons from past experiences. Why did E4X and E4H fail where JSX has succeeded?

What I find interesting is that people who are new to Flu

[2017-08-17 17:58] sethladd commented on #11662
Thanks for the report!

[2017-08-17 18:00] mit-mit commented on #8438
Sorry to hear @ride4sun; can you try to see if `flutter doctor --android-licenses` resolves it for you?

[2017-08-17 18:01] Hixie commented on #11650
Moved to https://github.com/dart-lang/sdk/issues/30472 since it seems likely to be Dart-related.

[2017-08-17 18:01] #11650 closed

[2017-08-17 18:12] DanTup commented on #10621
Also - please add a switch to not update anything (or make `--machine` not).. Currently it can kick off "expensive" dart SDK downloads which we don't want if we're just trying to do some checking in an IDE at startup.

[2017-08-17 18:32] Tobiaswk commented on #10617
@cport1 I'm on Linux; ```/home/tobias/bin/android-sdk/system-images/android-25/google_apis/x86_64```

[2017-08-17 19:03] HansMuller commented on #11609
I worked on Adobe's Flex SDK, which combined XML markup and ActionScript, for the last couple years that the product existed at Adobe.  I understand the appeal of markup for defining UIs however I can also remember some drawbacks:

- Flex application visuals could be defined in terms of markup and code. As I remember it, code tended to dominate in large real-world apps.  Readability isn't necessar

[2017-08-17 19:10] ride4sun commented on #8438
ride4sun@bunty:~/Android/Sdk/tools/bin$ flutter doctor --android-licenses

ERROR: JAVA_HOME is set to an invalid directory: /opt/android-studio/jre/bin/java

Please set the JAVA_HOME variable in your environment to match the
location of your Java installation.

[2017-08-17 19:12] ride4sun commented on #8438
This was flutter doctor which shows the java home indicated in the error. Not sure what to do now...

ride4sun@bunty:~/Android/Sdk/tools/bin$ flutter doctor
[✓] Flutter (on Linux, locale en_US.UTF-8, channel alpha)
    • Flutter at /home/ride4sun/flutter
    • Framework revision b156a0f054 (6 days ago), 2017-08-11 22:01:40 -0700
    • Engine revision fef7d827d6
    • Tools Dart version 1.25.0-dev.

[2017-08-17 19:27] ride4sun commented on #8438
Linux was restarted
with .profile

export PATH=$HOME/flutter/bin:$PATH

export JAVA_HOME=/opt/android-studio/jre/bin/java
export PATH=$PATH:$JAVA_HOME/bin

ride4sun@bunty:~$ echo $PATH
/home/ride4sun/flutter/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/opt/android-studio/jre/bin/java/bin

[2017-08-17 19:34] eseidelGoogle commented on #11661
I think we may already have a bug asking for a CupertinoRefreshIndicator, @xster would know.

[2017-08-17 19:39] eseidelGoogle commented on #11659
Much appreciated, thank you for your feedback @cohortor

[2017-08-17 20:03] ride4sun commented on #8516
@bkonyi  could you please us another update when Windows test will be available.

[2017-08-17 20:08] bkonyi commented on #8516
@ride4sun, still a work in progress. I've almost got everything building on Windows, but I'm not sure how much work will need to be done after that. I'll have a better idea once I have everything building.

[2017-08-17 20:16] ride4sun commented on #8516
@bkonyi  it is very hard to make plans this way. Are we talking weeks,  1-2 month, 6 months,  years?

[2017-08-17 20:19] goderbauer opened #11663 "showOnScreen / getOffsetToReveal doesn't take status bar into consideration"
This is a problem for a11y. When an item is partly covered by the status bar and a11y focus is moved to it, Android issues a showOnScreen action, which is handled by [1]. It will currently calculate via [2] that the item needs to be aligned with the upper edge of the screen. This is incorrect. It should be aligned with the lower edge of the status bar.

While this sounds like just a visual annoyan

[2017-08-17 20:23] goderbauer opened #11664 "Items covered by the AppBar should be excluded from semantics"
If you have a List with a floating AppBar, the list items below the app bar are still accessible via a11y means. They should be excluded.

Similarly, when the last visible list item is focused and the user moves the focus to the previous item covered by the app bar, the list should scroll to ensure that the newly focused item is visible on screen (this should happen automatically once the list ite

[2017-08-17 20:26] goderbauer opened #11665 "showOnScreen should only scroll if new offset is within bounds"
In accessibility mode, if showOnScreen [1] calculates an offset that is outside of the minExtend and maxExtend of the scrollable, we still attempt to scroll. This results in an overscroll animation, which is misplaced in a11y mode. Instead, if scrolling is not possible, nothing should happen.

Related:  https://github.com/flutter/flutter/issues/11663

[1] https://github.com/flutter/flutter/blob/8f

[2017-08-17 20:28] goderbauer commented on #11664
This bug of course can be generalized to: All items within a sliver currently covered by another sliver should be excluded.

[2017-08-17 20:42] Hixie commented on #11663
We should probably make the "scroll into view" logic optionally take a rect that describes the "view". Then the accessibility code could just exclude any system-level padding when giving it the instruction to scroll.

[2017-08-17 20:43] Hixie commented on #8516
We hope to have this done in less than a year, but probably more than weeks.

[2017-08-17 20:43] Hixie commented on #8516
(Having said that, that's just a guess. See <https://en.wikipedia.org/wiki/Forward-looking_statement> for why we can't really give more specific estimates.)

[2017-08-17 20:59] eseidelGoogle opened #11666 "Voiceover does not know how to scroll a flutter widget into view"
VoiceOver works in Hamilton. :)  But it doesn't know how to scroll to items offscreen (like Obj-C apps do).

I suspect you already have this tracked, but just in case.

[2017-08-17 21:05] goderbauer opened #11667 "When connection to device is lost during syncing file step, too many errors are printed"
It is printing an error for every single file it tried to transfer to device. One error (connection is lost, or similar) would be enough.

[code]

[2017-08-17 21:07] rickbsgu commented on #11500
Ok, I've taken a couple of swings at this.  Attached are a couple of zipballs that contain the lib sources - just create a project and replace the lib sources with these (I'm not ready to put this up on gitub, yet - for one thing, I need to break it apart and each component needs lots of tests.)

The first approach (NewFormPersist.zip) involves modifying Form and support classes to forward the '_f

[2017-08-17 21:08] goderbauer commented on #11666
This is covered by https://github.com/flutter/flutter/issues/1714.

tl;dr: It's fixed on Android (modulo some known bugs). How to implement the same on iOS is still unknown. Will probably need to talk to an iOS accessibility expert.

[2017-08-17 21:08] #11666 closed

[2017-08-17 21:31] goderbauer opened #11668 "a11y: hit test order when two semantic nodes are overlapping"
Setup: A floating app bar with a long list. The list is half-way scrolled down. The AppBar is in its smallest state. TalkBack is turned on.

It is now impossible to select anything by tapping on it in the app bar. The a11y focus always goes to  the list item hidden behind the app bar.

Related: https://github.com/flutter/flutter/issues/11664

[2017-08-17 21:31] goderbauer commented on #11668
This problem only exists on Android. Works fine on iOS.

[2017-08-17 21:51] cbazza commented on #11609
It died because E4X was only implemented in ActionScript which was only used inside Adobe Flash/Flex and Adobe killed the project. Instead Adobe changed direction towards open standards where there is no single source provider with possibility of lock-in and ecosystem implosion.

Well, if I asked you for 2 things and you didn't do either in 3 months and there is an alternative to the first thing,

[2017-08-17 21:54] cbazza commented on #11609
I used Adobe Flex Builder extensibly...

Yes, but I often switched from design view to code view and vice-versa.
Starting a screen I would go to design view and use drag/drop to layout widgets and generate first static screen. Then I would add in code and some static data to fill in screen so I could show people something running that looked like production ready stuff. Productivity was incredible

[2017-08-17 22:45] Hixie commented on #11609
E4X was an ECMA standard. Mozilla shipped it for a while, but then removed it (a very unusual move for a browser vendor). Other browser vendors never wanted to implement it. (They've implemented other new ECMA features, though.) With E4H, the browser vendors were never interested in implementing it (though again, they've implemented plenty of other things I've helped invent).

That's one possible

[2017-08-17 23:47] branflake2267 commented on #11609
This may be a counter argument to this request, and/or maybe some insight's to keep in mind if you want markup. I have strong feelings that adding markup creating some challenges with GWT I'd hate to see another API go through.

I've seen a couple other frameworks go through this transition regarding with UI building. Markup like this works great for tooling, in so far it's heavenly for the IDE de

[2017-08-18 00:05] alardizabal opened #11671 "Pasting into TextField in Text Fields demo in Gallery doesn't work on iOS"
On iOS, pasting into a text field doesn't work. The validator returns that the field is empty.

![img_0464](https://user-images.githubusercontent.com/3614291/29438842-627eb00c-8387-11e7-9050-761aa48d6079.PNG)

[code]

[2017-08-18 00:17] goderbauer opened #11672 "Failed assertion during two-finger scrolling in a11y mode"
Sometimes I see this exception when scrolling on Android with two fingers in a11y mode:
[code]

[2017-08-18 01:01] eseidelGoogle commented on #11671
This shows up in the Hamilton App as well.  @cbracken can you take a look?

[2017-08-18 01:34] CharlesCleveJr commented on #9580
I'm still getting the "Observatory connection never became ready" notice.  I'm updated IntelliJ and run `pod setup`.  I'm attempting to run it on the iPhone 7 Plus simulator with Firebase packages and a Firebase GeoFire plugin.  Any other suggestions to get this to work.

[2017-08-18 01:43] cbracken commented on #11671
Will do!

[2017-08-18 01:56] samvictor commented on #8163
This is what worked for me:

change
`class _BossManState extends State<BossMan> {`

to
`class _BossManState extends State<BossMan> with WidgetsBindingObserver {`

and add the following code to that same state class:

`
  // ============================ Handle Back Pressed ==============================

  @override
  void initState() {
    super.initState();
    WidgetsBinding.instance.addObserver

[2017-08-18 02:31] xster commented on #11060
Merging into #11066

[2017-08-18 02:31] #11060 closed

[2017-08-18 04:07] TitikshaDaga commented on #11653
This is the normal window.
![screenshot_2017-08-18-09-31-36-272_com yourcompany urmuv](https://user-images.githubusercontent.com/12954116/29443868-a0f8200e-83f8-11e7-9a27-e6ad463c1f1f.png)
This is what what happens when the keyboard pops up
![screenshot_2017-08-18-09-31-41-894_com yourcompany urmuv](https://user-images.githubusercontent.com/12954116/29443883-c274ac02-83f8-11e7-9641-e0a209ecc316.pn

[2017-08-18 04:25] TitikshaDaga commented on #11654
I am attaching the log file

[logs.txt](https://github.com/flutter/flutter/files/1233275/logs.txt)

[2017-08-18 08:45] TitikshaDaga opened #11673 "App crashes due to error in gradle"
FAILURE: Build failed with an exception.

* Where:
Script '/home/power/flutter/packages/flutter_tools/gradle/flutter.gradle' line: 320

* What went wrong:
Execution failed for task ':app:flutterBuildDebug'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

Gradle build failed: 1
[flutter_09.txt](https://github.com/flutter/flutte

[2017-08-18 08:47] phyooos opened #11674 "flutter doctor Downloading Gradle Wrapper..."
## command

flutter doctor

## exception

SocketException: SocketException: Connection failed (OS Error: No route to host, errno = 65), address = android.googlesource.com, port = 443

[code]

## flutter doctor

[code]

when use Chrome, https://android.googlesource.com/   is OK!!

[2017-08-18 09:27] harveynick commented on #11661
Yes, and there is a CupertinoActivityIndicator in the code base. That's not quite what I'm looking for, though. I do want a material styled refresh indicator, but the current one feel incredibly alien on iOS. I believe it should behave the same as Google's existing native solutions do.

[2017-08-18 09:29] harveynick opened #11675 "Should be possible to indicate to the progress indicator that a reload is in progress."
There is presently no clean way to create a RefreshIndicator which is already visible.

How creating this might look:

new RefreshIndicator(child: widget, onRefresh: refreshAction, refreshing:true)

[2017-08-18 09:39] mit-mit commented on #8438
Something seems off with your Android Studio installation. Can you create a new Android project in Android Studio, and build and run that without errors?

[2017-08-18 12:12] mit-mit opened #11677 "Gradle error output is 'noisy' and confusing"
## Steps to Reproduce

1. Create a new project: `flutter create gradletest`
1. Make an edit to `android/app/build.gradle` so it has a spelling mistake; e.g. change `buildTypes` to `buildTpes`
1. build: `flutter build apk`

=> lots of output that is hard to read:
https://gist.github.com/mit-mit/bcc98415c71e14bd055c3bdbe94e3ffa

At the very bottom the actual useful error is printed:
[code]

[2017-08-18 12:12] mit-mit commented on #11677
cc @mravn-google

[2017-08-18 12:40] GeekRishabh commented on #73
@tjerkw  can you share the code base please

[2017-08-18 14:01] devoncarew commented on #11654
Here's the tail end of it:

[code]

Sounds like the same issue is affecting the command-line workflow as well.

It looks like the VM is coming up on the device, we're properly setting up port forwarding, and are able to connect to the debugger port. It's dying at the initial debugger call (`getVM()`), which I don't believe I've seen before.

From the log, it looks like your flutter repo is ~2 week

[2017-08-18 15:53] jacob314 opened #11678 "Make flutter inspector accessible"
The flutter inspector does not currently support accessibility.

It isn't clear exactly what accessibility support for the inspector should look like. For example, if the semantics debugger is made accessible perhaps it should be used when using the inspector in accessibility mode.

[2017-08-18 15:56] rickbsgu commented on #11500
I've posted one approach to this on the discussion board:

[Flutter Form persistence + example RadioTile FormField derivation](https://groups.google.com/forum/#!topic/flutter-dev/OgnpozEoSFA)

[2017-08-18 16:06] Ivaskuu opened #11679 "Chip widget inside appBar's actions throws an error"
Hi, I would like to show a Chip widget at the end of the appbar, but this throws an error and doesn't get rendered. The chip works normally inside the body.

## Steps to Reproduce

[code]

## Logs

Run your application with `flutter run` and attach all the log output.

[code]

Run `flutter analyze` and attach any output of that command also.

[code]

## Flutter Doctor

Paste the output of running

[2017-08-18 16:11] Hixie commented on #11679
https://github.com/flutter/flutter/pull/11669 should fix it.

[2017-08-18 16:14] Hixie commented on #11653
What's happening is that your Column contains more stuff than you have room to display, so it's overflowing (and clipping). You could swap it out for a ListView or some such.

[2017-08-18 16:17] Hixie commented on #11500
(It would be much more convenient if the patches you wanted people to review were online e.g. on GitHub rather than in a zip file that had to be locally uncompressed, opened, etc.)

[2017-08-18 17:12] cbazza commented on #11609
I would say only Adobe fully championed E4X and had a good following with developers. Browser vendors do add and remove stuff from their browsers all the time; didn't Google remove MathML support?

**Here is the thing about React and JSX. Initially I completely dismissed it**, I was in love with Angular and doing massive work with Ember. I tried desperately to convince the team to go with Angular

[2017-08-18 17:13] strootaay commented on #9619
I am experiencing the same issue. I get the following error when I try to run a blank flutter project:

Launching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Observatory connection never became ready.
Application finished.

I am new to Flutter and Dart. Was following the steps mentioned in the Flutter Getting Started Guide: https://f

[2017-08-18 17:15] cbazza commented on #11609
All I am asking is to add these simple extensions on the Dart compiler so that if developers want to they can write using this XML structure. The old way would continue to work and the amount of work involved to do this is not huge at all. You can actually see how many lines of code it takes the babel.js compiler to do JSX and I am talking hundreds and not thousands of lines (I just checked it).

[2017-08-18 17:26] postmasters commented on #11632
That works but isn't a very intuitive user experience. Why would one want to open an example app to work on the plugin code? Each module should be self contained. It is weird that in order to compile the Android library code, I need to create an app.

[2017-08-18 17:55] eseidelGoogle opened #11680 "The word "sliver" is unclear"
Specifically the definition being sought was "sliver".  Turns out it's defined in RenderSliver:
https://master-docs-flutter-io.firebaseapp.com/flutter/rendering/RenderSliver-class.html

But lots of classes have sliver in their name w/o linking to RenderSliver.  Unsure what the best solution is here.

[2017-08-18 18:19] eseidelGoogle opened #11681 "`flutter` tool depends on urls which are not always available in China"
This is an oft reported problem.  Making this meta-bug to coalesce reports.

[2017-08-18 18:19] eseidelGoogle commented on #11657
https://github.com/flutter/flutter/issues/11681

[2017-08-18 18:19] #11657 closed

[2017-08-18 18:19] eseidelGoogle commented on #11534
https://github.com/flutter/flutter/issues/11681

[2017-08-18 18:19] #11534 closed

[2017-08-18 18:20] eseidelGoogle commented on #11674
https://github.com/flutter/flutter/issues/11681

[2017-08-18 18:20] #11674 closed

[2017-08-18 18:20] eseidelGoogle commented on #11681
A common reported one is that android.googlesource.com is not reachable in China:
http://ping.chinaz.com/android.googlesource.com.
However at least one report: https://github.com/flutter/flutter/issues/11674 notes that it's reachable via https from Chrome.

[2017-08-18 19:14] rickbsgu commented on #11500
Not sure how to present this at such a nascent stage.  The demos work and I wanted to provide a heads up to people that might be struggling with this, early.   I originally put the post and files here, but subsequently decided it's not really a good place for it.  So, I posted it on the discussion board and referenced the post here.

One thing I just realized is this is open to pull requests.  I'l

[2017-08-18 19:44] rickbsgu commented on #11500
Ok, I think I know how to approach this.  Sorry for the noise.

[2017-08-18 20:03] Hixie opened #11682 "Some things I noticed in dartdoc output that we should fix"
Some things I noticed in dartdoc output that we should fix:
[code]

[2017-08-18 21:16] appsforartists opened #11684 "Use { stiffness, damping, mass } as inputs to spring"
On [iOS](https://developer.apple.com/documentation/quartzcore/caspringanimation), [Android](https://developer.android.com/topic/libraries/support-library/preview/spring-animation.html), and the [Web](https://github.com/skevy/wobble/blob/bbc0f831e234f2d24fb905f2ec278c134d69ed68/src/index.js#L11-L22), the names of the inputs into a spring are `{ stiffness, damping, mass }`.  It appears that Flutter

[2017-08-18 21:19] Hixie commented on #11684
Both names appear to be technically correct. I'm reluctant to change the API since that'd be a breaking change. If we change it we should do it soon. We can certainly document that they are the same, too.

[2017-08-18 21:44] appsforartists commented on #11684
I just ran a few code searches, and it looks like the project is still young enough that the pain of an API change would be relatively minor.

All of GitHub, including Flutter and Mondrian, [has only 30 occurrences of `springConstant`](https://github.com/search?l=Dart&q=springConstant&type=Code&utf8=%E2%9C%93); in fact, other than the 2 occurrences in Mondrian, every result I've found has been eit

[2017-08-18 21:51] Hixie commented on #11684
We can certainly consider API changes, but since we declared API stability 6 months ago, we have to be careful. We have a process, defined here: https://flutter.io/design-principles/#handling-breaking-changes

The first step is to file an issue (which you did) and to add the "API break" label, which I did, and the next step is if someone wants to make the change they can write the PR and send the

[2017-08-18 22:10] goderbauer commented on #11668
Actually, in certain situations, iOS also seems to have the same problem.

[2017-08-18 22:37] Hixie opened #11687 "Have flutter_test track when Timers are created"
Since Zones let you override when Timers are created, maybe we can also track when they're created so that when there's any left we can report where it was created, the way we do with tickers.

[2017-08-18 23:42] boustrophedon opened #11689 "Reproducable assertion failure in 'package:flutter/src/widgets/scrollable.dart' from example app."
## Steps to Reproduce

In the examples/flutter_gallery app, open the animation demo. Select one of the cards so it is in the "fully expanded" state (sorry, I just started with flutter and mobile dev so I don't know what it's called).

Two finger scroll to the left or right with one finger in the header section (Eyeglasses/Seating/Decoration/Protection) and one finger in the content section "Flutte

[2017-08-19 01:46] lyrachord commented on #11681
That the site is accessible in chrome may owes much to its extensions of CDN-url-rewrite like

[2017-08-19 07:12] Alexays opened #11690 "Since last roll of engine the keyboard don't open up anymore :/"
## Steps to Reproduce

Since last roll of engine the keyboard don't open up anymore :/
Just add an input and click on it, the keyboard will don't show up

## Logs

Run your application with `flutter run` and attach all the log output.

Launching lib/main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...                                0.8s
Resolving dependencies...

[2017-08-19 17:01] pauldemarco opened #11691 "PageView.builder itemBuilder being called 3 times for every page change"
## Steps to Reproduce

Run the following and use the chevron arrows to switch pages.
Notice the console log printing 3 times for every page change.
When going from page 1 to page 2:

 I/flutter (24852): index: 1
 I/flutter (24852): index: 2

## Sample code
[code]

[2017-08-19 19:45] cbracken commented on #11671
Quick update: looks like this isn't password-specific. I get the same behaviour when pasting into a field with `obscureText: false`.

[2017-08-19 20:01] boustrophedon opened #11692 "Issue from website page Flutter Widget Index - no CircularProgressIndicator"
From URL: https://flutter.io/widgets/widgetindex.md

CircularProgressIndicator is not listed, though it is mentioned under LinearProgressIndicator. https://docs.flutter.io/flutter/material/CircularProgressIndicator-class.html

[2017-08-19 20:02] boustrophedon commented on #11692
oops, this is a dupe of #10319, closing.

[2017-08-19 20:02] #11692 closed

[2017-08-19 21:17] rickbsgu commented on #11500
This is worse than I thought.  Turns out that if a field is hidden (deleted), 'onSave()' doesn't get called, either, nor does any supplied validator function.

For the 'onSave()' issue, the answer is to get values from a persister mechanism and not even supply an 'onSave()' function.

I suspect the validator issue will require a similar approach.  The question is how to forward error state when th

[2017-08-19 23:44] rickbsgu commented on #11500
Ok, I came up with a solution to make sure a FormField validator() is called when a FormField instance is re-instantiated.  The FormField checks the owning Form autostate value (which persists across FormField drops and re-instantiations) and calls the validator directly if it's set.

Unfortunately, I can't make that work with TextFormField, so I cloned it and created a working version as TextInpu

[2017-08-20 00:41] cbracken commented on #11671
Looks like `TextSelectionControls.handlePaste` never triggers an update to the underlying text field value within the framework.

As is, `handlePaste` calls updates its delegate overlay by setting `TextSelectionOverlay.textEditingValue` to the new value, which then pushes an update to the engine. On Android, a change to the text triggers a `restartInput` call on the input manager, which results in

[2017-08-20 00:49] rickbsgu commented on #11500
So, thinking more on this, I would suggest what is needed is a class that encapsulates all of this - something like 'FormPage' or 'FormView'.  It would contain a form and the persisters (and perhaps a FocusNode).

If the whole thing were self-contained, it would be much easier for users to deal with.

[2017-08-20 01:00] lishuhao commented on #11681
@eseidelGoogle
` it's reachable via https from Chrome`
Maybe his chrome use proxy but terminal not use proxy.

[2017-08-20 01:18] cbracken commented on #11671
Got a two-line patch to fix this. Banging up a test first.

[2017-08-20 03:03] wenerme opened #11695 "libtxt: Why CJK will show a red line ?"
## Steps to Reproduce

Use CJK in drawer,

[code]

## Logs

[code]

## Flutter Doctor

[code]

![image](https://user-images.githubusercontent.com/1777211/29491734-1afd5564-8597-11e7-9bd6-fb3bde455fdc.png)

[2017-08-20 03:11] eseidelGoogle opened #11696 "https://flutter.io/faq/#who-uses-flutter should point to Hamilton"
Now that the Hamilton App has shipped, we can update our FAQ.

@sethladd @mit-mit

[2017-08-20 05:11] mzimmerm opened #11697 "Discuss MediaQuery.of in ui.window documentation"
## Steps to Reproduce

- Paste the application pasted below inside IntelliJ.
- Start emulator or attach a physical device
- Click the Run (>) button to run the app (same issue from flutter run)
- Both the log and the button shows ui.window.physicalSize=Size(0.0, 0.0)

Note: Terminate the app and Run (>) again a few times if first run does not reproduce.

This does not happen in 100% of tries; in t

[2017-08-20 07:19] Hixie commented on #11697
This is expected (sometimes by the time the Dart code runs we haven't yet heard from the OS what size the window should be). It happens more in faster builds (e.g. in release mode). Apps are expected to be able to handle being laid out at 0x0.

[2017-08-20 07:21] Hixie commented on #11695
The red line is because the column is overflowing, maybe because the text is too big.

We need to handle ideographic text better, right now we haven't done anything to support it.

[2017-08-20 09:41] ride4sun commented on #8438
Created a basic app and it works just fine... This is the build output:

Executing tasks: [clean, :app:generateDebugSources, :app:mockableAndroidJar, :app:prepareDebugUnitTestDependencies, :app:generateDebugAndroidTestSources]

Configuration on demand is an incubating feature.
NDK is missing a "platforms" directory.
If you are using NDK, verify the ndk.dir is set to a valid NDK directory.  It is c

[2017-08-20 10:53] sandeepreddy-vinta opened #11698 "Windows: "flutter doctor" in cmd prompt hangs at "Unzipping Dart SDK...". No progress after this stage"
## Steps to Reproduce
Run flutter doctor command in cmd pmpt
Please tell us what you were doing and what went wrong. If you are running flutter tools from the command line, please try adding the `-v` or `--verbose` option to gather more information.

If the problem is with your application's rendering, please attach a screenshot and any relevant source code.
If you are getting an exception in the

[2017-08-20 10:55] sandeepreddy-vinta commented on #11698
Apologies.. Permission were not set right.
Hence closing the issue

[2017-08-20 16:37] kroikie commented on #11012
[PR](https://github.com/flutter/plugins/pull/199) that implements transaction support. Should be merged in soon.

[2017-08-20 18:10] Hixie commented on #11698
@sandeepreddy-vinta Can you tell us more about the permissions issue you had? We should do a better job of detecting it and handling it.

[2017-08-20 18:27] mzimmerm commented on #11697
Ok thanks for the quick response. I will follow up with a question if I may (if something like gitter or stack overflow is a better place please let me know): Are there any guidelines, notes, or documents what apps can do to handle zero size? Especially in case, like I discovered it originally, there is a CustomPainter paint(canvas, size) being passed zero size. canvas is not supposed to be painte

[2017-08-20 18:30] Hixie commented on #11697
It should get called automatically when the new size is reported.

[2017-08-20 18:31] Hixie commented on #11697
In the sample app above, if you use `MediaQuery.of(context)` instead of reading straight off `ui.window`, you should find your app is rebuilt automatically when the size changes.

[2017-08-20 18:50] eseidelGoogle commented on #11697
We've seen this come up before.  I wonder if this is a foot-gun that we should somehow change the default behavior of MaterialApp to avoid?  Something that folks diving down to the lower layers of our framework can get exposed to, but that we make easy to avoid doing the default thing?

[2017-08-20 18:57] Hixie commented on #11697
Which part?

[2017-08-20 19:53] mzimmerm commented on #11697
@Hixie Thanks for the MediaQuery.of(context) suggestion (Ironically, I have used this in an earlier experiment but thought the ui.window.physicalSize is simpler and I can use it without context. Bad idea apparently).

Appreciate the super quick responses on the weekend, feel free to close this (or let me know if I should).

Thanks to both, (also for an amazing framework)

[2017-08-20 20:05] Hixie commented on #11697
@mzimmerm Did you look at any of the documentation when switching from MediaQuery.of to ui.window? I'm curious if there's anywhere in the docs we could describe the trade-offs such that you would have seen it.

[2017-08-20 20:59] mzimmerm commented on #11697
@Hixie I did look at the docs, although I cannot claim the docs are misleading in any way. I pretty much live and try to find my info in

https://docs.flutter.io/index.html

Well, to give details: I am converting a simple charting library from Android to Flutter, and started looking at what in Flutter replaces

Android scale : `context.getResources().getDisplayMetrics().density;``
one way or anoth

[2017-08-20 21:01] Hixie commented on #11697
Fantastic, thanks. That's exactly what we needed to know! We'll add some docs there.

[2017-08-20 22:06] mehmetf opened #11699 "Flutter could provide a doNothing method to help with readability"
It would be nice if apps had access to a default doNothing method in the same import that provides StatefulWidget.

[code]

Rationale:

This is pretty common code in apps:

[code]

Less common, but still happens because tap handlers are required, especially in tests:

[code]

With the exposure of a default doNothing method, we get:

[code]

As a bonus, we also save a tiny bit of performance since

[2017-08-20 22:55] mzimmerm commented on #11697
Happy to help in a small way. The Flutter team is doing amazing work, imho.

[2017-08-20 23:06] Hixie commented on #11699
This violates the style guide. You should call setState with the state that you are setting, or, if you really can't for some reason, you should call it with a closure that contains a comment that explains what state is being set.

This avoids a tendency to pepper setState around "on principle" to "make it work".

If this is common in production code this seems like a bug. Why would `SomeAction` r

[2017-08-21 04:23] phyooos commented on #11681
@lishuhao  You are right.
1. brew install polipo
2.export http_proxy=http://localhost:8123
   export https_proxy=http://localhost:8123

OK.!
http://www.jianshu.com/p/32dfb5289cf5

[2017-08-21 04:32] sethladd commented on #11696
PR is at https://github.com/flutter/website/pull/654

[2017-08-21 05:02] TitikshaDaga commented on #11654
No it didn't solve the problem.

[2017-08-21 05:03] TitikshaDaga commented on #11653
You are saying instead of a column I should use a ListView?

[2017-08-21 08:36] mravn-google commented on #11407
`pub publish` is an interactive shell script, but the Flutter tooling process wrapper handles neither unfinished lines written to standard output (e.g. "Are you ready to upload your package (y/n)? ") nor wiring of standard input.

Fortunately, `pub publish` has a `--force` directive that turns off interactivity.

[2017-08-21 09:01] mravn-google opened #11701 "Replace use of `com.yourcompany` with `com.example` in templates."
Need to be careful about re-running `flutter create` on existing projects, cf. #10329

[2017-08-21 09:02] TitikshaDaga opened #11702 "Can't Declare .sqlite file in pubspec.yaml"
Hey,
Whenever I am trying to declare an sqlite asset in pubspec.yaml. This is the log and exception that I am getting. Please help me resolve this.
[code]

[2017-08-21 14:01] mravn-google commented on #11400
`flx.dart` does not include target string in its checksum calculations, and therefore incorrectly assumes that no rebuild is needed if the only thing changed is the target.

PR in the works.

[2017-08-21 15:00] #11696 closed

[2017-08-21 15:41] mehmetf commented on #4342
We have this already: https://pub.dartlang.org/packages/connectivity I will tentatively close this.

[2017-08-21 15:41] #4342 closed

[2017-08-21 15:41] sethladd commented on #4342
thanks!

[2017-08-21 15:49] mehmetf opened #11704 "Connectivity plugin should provide a stream for observing changes to network configuration"
According to GIPReachability (iOS) documentation, checking network state prior to opening a network connection is not a good idea. The recommended way is to handle connection failures gracefully.

Android, OTOH, makes the opposite recommendation: https://developer.android.com/training/basics/network-ops/managing.html
"""Before you perform network operations, it's good practice to check the state o

[2017-08-21 16:14] mehmetf commented on #11699
Theoretically yes. In real life, it is not so much cut and dry. Many times we use setState() as a way of `markDirty()`. It isn't just to "make it work" either.

Examples:
- Your state might be changing elsewhere. Imagine you are doing form validation via a separate validator class. Your code might look like:
[code]
because you want to mark the form dirty to render any potential error messages. It

[2017-08-21 17:23] Hixie commented on #11699
That seems like it would trigger a bug. What if the user taps undo, then does something that means the snackbar never goes away, e.g. bringing up a dialog or exiting the app?

[2017-08-21 17:25] Hixie commented on #11400
We want to get rid of the FLX, so if it's easier to fix this by just ripping out all the FLX logic, please don't hesitate to do so.

[2017-08-21 17:27] Hixie commented on #11653
Depends what you want to have happen. What would you want to have your UI look like if the screen wasn't tall enough for everything in your dialog?

[2017-08-21 17:28] Hixie commented on #11653
(e.g. turn the device on it's side then bring up the keyboard, what do you want to see?)

[2017-08-21 18:00] InMatrix commented on #11609
I just wanted to respond to the readability question raised here, though I understand readability is only one of the many factors we need to consider.

There are certainly ways to empirically study code readability, and we can have a more serious discussion when it's time for Q4 planning. To make such a study useful, we need to define what kinds of reading tasks are important to developers in the

[2017-08-21 18:38] jason-simmons commented on #11702
The error message coming from the Dart toolchain is:
    Dart_NewStringFromUTF8 expects argument 'str' to be valid UTF-8.

I've seen this before when a filesystem path used during compilation contains strings that are not valid UTF-8.  Is there any possibility that this is happening on your setup?

[2017-08-21 19:36] cbazza commented on #11609
It's not just the build method. It's all other methods that the build method calls to build the widget tree. Very common in React to use smaller methods to build sub-tree pieces and then call those into the larger tree.

Also in WebStorm with JSX, each XML node has +/- that can be used to expand/collapse node and children to make reading structures larger that the height of the screen easier.

[2017-08-21 20:44] #11671 closed

[2017-08-21 20:45] cbracken commented on #11671
Fix rolled into framework in #11707

[2017-08-21 20:55] Hixie commented on #11609
One thing we've found in Flutter is that big build methods are not great for performance, and we try to encourage people to break down their build methods into smaller reusable widgets. In particular, in Flutter having a build method that's built out of the results of other methods is somewhat of an antipattern that we'd rather discourage rather than make easier. (This is somewhat of a recent real

[2017-08-21 21:59] cbazza commented on #11609
Does it really become a reusable widget or simply a wrapper/composite widget? I mean to be reusable you should have at least 2 usage instances.

The AppBar on https://flutter.io/catalog/samples/basic-app-bar/ is so unique that you can't really call it an reusable component; it's a wrapper/composite component and in these cases why not just use a local method to build that part of the UI? I guess i

[2017-08-21 22:05] Hixie commented on #11609
It's also relatively small, so that's ok.

Regarding performance, this is somewhat off-topic for this issue so please file a new issue if you want to discuss it (or e-mail flutter-dev or post on stack overflow, whatever you prefer).

[2017-08-21 22:34] cbracken opened #11713 "Calling reset() on a form doesn't reset text field contents"
Calling reset() on a form containing text fields will reset the data associated with each field to the initial value, but not the visible contents of the text field.

## Steps to Reproduce

1. Edit the gallery submit button handler to call form.reset() instead of saving.
1. Enter text in a form field (e.g. Life story)
1. Hit submit.

Expected: the field contents are all reset to the empty string.

[2017-08-21 23:36] eseidelGoogle opened #11714 "Support "smart selection" in Android 0"
https://developer.android.com/reference/android/view/textclassifier/TextClassifier.html
appears to be the API.

[2017-08-21 23:45] apwilson opened #11715 "Improve Focus documentation."
I wanted to get a simple text field to always have focus and I just couldn't.

I think we need to spend some time documenting this better or giving better examples or something.

[2017-08-21 23:56] goderbauer opened #11716 "Document when to call markNeedsSemanticsUpdate"
On the `SemanticsNode` class it should be documented when `markNeedsSemanticsUpdate` needs to be called (with regards to changing the flags, actions, and tags of a `SemanticsNode`).

Also, the documentation of the parameters (and when to set them to true/false) of `markNeedsSemanticsUpdate` should be improved.

[2017-08-21 23:58] apwilson opened #11717 "On Fuchsia, if a flutter app's text field requests focus before its mozart window is focused that text field will not receive key events."
If you later request focus ont he textfield when the mozart window *is* in focus the text field will receive key events as expected.

It seems like focus events within the flutter app are effectively ignored by mozart.

Possibly related to https://github.com/flutter/flutter/issues/10847

[2017-08-22 00:18] collinjackson opened #11718 "Dashboard Android integration tests using Firebase Test Lab"
flutter/engine@841cd667122fa8d10f7ab48c88d5720ccb2ace22 introduced a crash that affects any Flutter app (including the Gallery) but only on Jellybean. This is the sort of regression that Firebase Test Lab would be good at detecting. A lot of the infrastructure is already in place to do this on every pull request, but someone needs to write a script that talks to the Test Lab API and selects a devi

[2017-08-22 00:20] apwilson opened #11719 "Tapping a TextField can result in weird exception"
I don't know what I did wrong to cause this nor how to fix it. (meaning a better error message would be good)

[code]

[2017-08-22 00:52] Hixie opened #11721 "Scroll performance regression"
The following benchmarks recently regressed when we rolled the engine in https://github.com/flutter/flutter/pull/11693:

complex_layout_scroll_perf__timeline_summary average_frame_build_time_millis
complex_layout_scroll_perf__timeline_summary average_frame_rasterizer_time_millis
complex_layout_scroll_perf__timeline_summary missed_frame_rasterizer_budget_count
flutter_gallery__transition_perf avera

[2017-08-22 00:54] collinjackson commented on #11475
This appears to be an issue affecting Posse -- large text is showing up as white squares, and they'd like to get a fix in for their next release. @bsalomon or @jvanverth could you please take a look?

@jason-simmons's test case was complaining about a missing `onPressed` handler. Here's my version:

[code]

(I ordered a Galaxy S7 so we'll soon have a device in Mountain View that can confirm that P

[2017-08-22 00:55] Hixie commented on #11380
The engine needs to know the directionality to know how to draw text (consider how "eng1 HEB2 eng3" would render in RTL vs LTR).

[2017-08-22 00:56] jason-simmons commented on #11689
The animation demo contains a header region and a details region.  Each region has a scroll notification listener that tries to keep the other region's scroll position in sync when you scroll horizontally.

It looks like the sequence of events is:
  * Tap in the details region.  The details ScrollableState gets a HandleDragDown callback and establishes a HoldScrollActivity.
  * Tap in the header r