[2019-06-20 12:14] testing2007 commented on #19426
I had encounter this issue recently, there was two FlutterViewController in my project and call registerPlugin, By vscode IDE, when you open the debug tab, which shows two main.dart Running , when i delete each FlutterViewController one of them, this error didn't happen again, I don't know if you are same question.

[2019-06-20 12:20] wilburt commented on #30369
Please, any update on this?

[2019-06-20 12:25] pratikjain04 commented on #34312
I am facing the same issue while integrating it with my existing Java Project, although it works fine with newly created Java Projects, but the "Gradle Sync" fails, saying: "Cannot change dependencies of configuration ':flutter:releaseApi' after it has been included in dependency resolution".

[2019-06-20 12:26] Morthor commented on #24660
I have solved this issue by generating the GlobalKey<AnimatedListState> on the Statefull Widget that has the list itself and on initState setting the Key on my main App State class (I'm using ScopedModelDescendant for State management). By doing this, anytime a new view needs to be generated, instead of trying to re-use the old key, a new one gets generated on initState and saved on the global App

[2019-06-20 12:45] sulaysumaria commented on #31922
I uploaded the bundle `app.aab` to play store. The warning for missing 64 bit was gone but the app just crashed on launch after installing from play store. Any suggestions?

[2019-06-20 12:48] 1AlexFix1 commented on #23913
Hi, the problem is already more than six months, will there be any solutions? Since the creation of normal full-screen applications is not possible

[2019-06-20 12:49] tahaemin commented on #13747
same as android

[2019-06-20 12:50] pekretsc opened #34790 "Scrolling vertically Listview"
Hi
I havea problem that is driving me nuts in Flutter.

I have a layout that requires some widget like a simple card to be scrolled sideways.
So Listview seemed to be good choise but....

This is working but scrolldirection is vertical since this is the default

Padding(
  padding: EdgeInsets.only(left: 5),
  child: SizedBox(
      height: 105,
      width: MediaQuery.of(context).size.width - 110,

[2019-06-20 12:51] ilkkanisula commented on #15288
What if you try to disable those sections by adding "-fno-data-sections" and "-fno-function-sections" to common_mac_flags?

[2019-06-20 13:10] shoxter commented on #29751
@PingShen I'm working on updating to the latest stable version now. As of our last test (about 1.5 months ago), this was not fixed on the latest version of stable. I'll post a followup when I am able to test it.

[2019-06-20 13:15] rahulraj64 commented on #34040
I am building from the source and also experiencing the same problem still in 0.2.0. This is a critical issue.

[2019-06-20 13:18] johnveloper opened #34791 "How to set Android app "window" (screenshot says all) color?"
![Capture+_2019-06-20-15-08-32](https://user-images.githubusercontent.com/49095364/59852203-aa0a5400-936e-11e9-88c9-3a8b830849dc.png)

[2019-06-20 13:36] dblokhin commented on #34790
For the first glance I see here the problem: each ListTile tries to expand to infinite width which causes this exception for the vertical direction case.

[2019-06-20 13:41] shannon-rodricks opened #34792 "Return the current extent to which a drawer is opened"
## Use case

I have a usecase where I need to know to what extent the drawer is opened, if the user is dragging the drawer open.
Android has:
https://developer.android.com/reference/android/support/v4/widget/DrawerLayout.DrawerListener.html#onDrawerSlide%28android.view.View,%20float%29
I wanted something similar in Flutter

## Proposal

Ive done the research and the mechanism for this seems to nea

[2019-06-20 13:59] truongsinh commented on #31922
@sulaysumaria can you post the result of running `flutter doctor`?

[2019-06-20 14:02] FrankFang commented on #16957
@fralways Use `Divider(color: Colors.transparent)` instead of Spacer(). kind of tricky.

[2019-06-20 14:04] sulaysumaria commented on #31922
[code]

[2019-06-20 14:08] sulaysumaria commented on #31922
I also tried generating apk from app bundle and installing it. It also crashes on launch.

[code]

[2019-06-20 14:09] tinkerhead commented on #31922
Try switching to `dev` channel and check.

[2019-06-20 14:09] heitorklaus opened #34795 "same problem with image_picker"
Good morning, did you fix the problem? in my case when the photo is taken it can not send to the screen...

[2019-06-20 14:19] langaro commented on #23084
@tomkowz Thank you. Just what I need.

[2019-06-20 14:20] excitedhaha commented on #34312
As I said, you can switch to the stable channel

[2019-06-20 14:23] pratikjain04 commented on #34312
I am already on the stable channel

[2019-06-20 14:29] mg commented on #34741
[✓] Flutter (Channel dev, v1.7.4, on Mac OS X 10.14.5 18F132, locale en-IS)
    • Flutter version 1.7.4 at /Users/mg/Applications/flutter
    • Framework revision dfecafa4ab (6 days ago), 2019-06-14 09:46:23 -0700
    • Engine revision 2589785b5c
    • Dart version 2.4.0

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
    • Android SDK at /Users/mg/Library/Android

[2019-06-20 14:38] eikebartels commented on #32806
I had the same problem. I figured out, that the problem was the `IPHONEOS_DEPLOYMENT_TARGET`. You can change this by using the `post_install` via Cocoapods. The problem here is, that you can only use one  `post_install` and there is already one in `podhelper.rb`. To solve this I use the following `Podfile` modification

[code]

[2019-06-20 14:39] sulaysumaria commented on #31922
I tried to build in `dev` channel but it broke one of my dependencies. I will try commenting it out and building to see if app works.

Also is it safe to use `dev` channel for production release?

[2019-06-20 14:44] mcgreevyd commented on #34248
Same issue, same errors here.

[2019-06-20 15:05] lukepighetti commented on #27300
I'm getting Firebase auth errors. It used to be that you could do Anonymous auth without any of the Google SignIn plugins. Is that no longer the case?

[2019-06-20 15:07] kevin-haynie commented on #11655
I have the same problem with searchDelegate.  I thought this was supposed to make things easier for developers to create search logic.  Is it possible to separate buildResults() from the actual widget build such that buildResults() is truly *only* called when new data is needed?  It seems very counter-intuitive for buildResults() to get called when only a repaint is needed.  Yes, I know *we* can b

[2019-06-20 15:08] dnfield commented on #15288
That just ends up telling me those flags are not supported with `-fembed-bitcode`.

[2019-06-20 15:09] aliAhmedJazar opened #34796 "I cant open external like comes from one signal on web view"
I'm using webview widget in my flutter app I want to open a link when user tap on notification, the link comes from additional data on one signal I tried to make this but it doesn't work
my code :
[code]
I put facebook.com on in additional data it show google (defualt value that I gave it in my code )page not facebook how to make it show the save value the I put on additional data

[2019-06-20 15:11] milljm commented on #17803
There is _some_ sort of activity and supposed solution here:
[strange-mixing-of-system-homebrew-python-with-lldb](https://stackoverflow.com/questions/47658596/strange-mixing-of-system-homebrew-python-with-lldb) on Stackoverflow, but I myself can not figure out how to make it work for _my_ situation (using miniconda, not brew). Just thought I would post it here if it might help.

If the above link

[2019-06-20 15:13] pzahc commented on #32336
Confirmed: Working fine
Runner.xcodeproj. -> Runner.xcworkspace was my issue. Regular old user error...
Thanks for looking into it @jmagman.

[2019-06-20 15:13] #32336 closed

[2019-06-20 15:18] dnfield commented on #15288
Ok, I removed some flags for `-fdata-sections`/`-ffunction-sections` from BUILD.gn in the compiler gn file.  Be interesting to see if that does anything bad to binary size.

[2019-06-20 15:19] tarobins commented on #34763
The first sentence of the description for each value could also use some clarification, as if those sentences are true I think depends on if you are talking about the viewport's scroll offset or the sliver's offset, which can increase in different scroll directions if the GrowthDirection is reverse.

[2019-06-20 15:34] tliwyl opened #34797 "The operation of 'brew install --HEAD usbmuxd' is successful ,but 'brew link usbmuxd' error"
litaodeMacBook-Pro:~ litao$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.2.1, on Mac OS X 10.14.5
    18F132, locale zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android    SDK version 28.0.3)
[!] iOS toolchain - develop for iOS devices (Xcode 10.2.1)
    ✗ libimobiledevice and ideviceinstaller are not
      installe

[2019-06-20 15:35] miguelpruivo opened #34798 "Back iOS chevron icon not quite match the native one"
On the left is the one rendered by Flutter. On the right is the native one. The icon itself doesn’t quite match in size, neither in the corners as they’re rounded compared to the rect rendered by Flutter.

![F4EBC001-0216-4B14-BD59-375166E6510E](https://user-images.githubusercontent.com/27860743/59861730-4b96a300-9379-11e9-8b1c-d6cd825a2b1d.jpeg)![07C6784C-6DDC-42FE-B33D-1C219483BF6D](https://user

[2019-06-20 15:39] mraleph commented on #30473
We would need a reproduction to really act upon this (i.e. if you know what kind of change in the source caused this) - otherwise I don't think we can really debug this.

[2019-06-20 15:40] miguelpruivo commented on #33291
As workaround you can use the [file_picker](https://pub.dev/packages/file_picker) with the `FileType.IMAGE` flag.

[2019-06-20 15:40] tinkerhead commented on #31922
Oops sorry. I would be more careful if it was for production.

[2019-06-20 15:41] IchordeDionysos commented on #31156
Maybe related to #32883

[2019-06-20 15:46] GustavoContreiras commented on #26767
I want to display videos from Firebase Storage into a ListView that is on a page that keeps it's state with AutomaticKeepAliveClientMixin.

Each item of the ListView that will hold the VideoPlayer is a custom stateful widget and has SingleTickerProviderStateMixin and AutomaticKeepAliveClientMixin.

Sometimes when I initialize/play/pause a video from network and then try to open ImagePicker
to reco

[2019-06-20 15:48] #34423 closed

[2019-06-20 15:48] justinmc commented on #31512
I would think that should work for adding a new java file...  Hopefully @GaryQian has some tips :)

[2019-06-20 15:55] azax25547 commented on #15106
Thanks for your idea. I saw in the .gradle/wrapper/dist directory and then changed to the latest gradle version and it worked

[2019-06-20 15:56] sulaysumaria commented on #31922
I am going with building APKs for now. Although Google suggests to upload bundles instead of apks so it will be good if this is fixed in next release on stable branch.

[2019-06-20 16:02] BaderEddineOuaich commented on #34791
<h4>Solution 1:</h4>
<pre>class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    FlutterStatusbarcolor.setStatusBarColor(Colors.white);
    return MaterialApp(
      title: app_title,
      theme: ThemeData(
        primarySwatch: Colors.blue,
      ),
      home: HomePage(title: home_title),
    );
  }
}
</pre>
<hr>
<h4>Solution 2:</h4>
<pre>SystemChrome.setS

[2019-06-20 16:05] BaderEddineOuaich commented on #34791
<pre>SystemChrome.setSystemUIOverlayStyle(SystemUiOverlayStyle(
    systemNavigationBarColor: Colors.blue, // navigation bar color
    statusBarColor: Colors.pink, // status bar color
  ));</pre>

[2019-06-20 16:12] ShashankSirmour commented on #34493
@hemnathmouli  sorry if I said something wrong I.I just thanks you for advice as I am not considering androidX to create that much problem thank you again as of your suggestions I followed the process again and did it thank you again.

[2019-06-20 16:19] RobinJespersen opened #34799 "Add StatusListener to implicitly animated widgets"
## Use case
I use an implicitly animated widget (like AnimatedPositioned) and I want to be able to trigger a function as soon as the animation is completed.

## Proposal
Extend the abstract ImplicitlyAnimatedWidget class to take an AnimationStatusListener and add it in the ImplicitlyAnimatedWidgetState class as StatusListener to the AnimationController.

Furthermore extend the AnimatedPositioned w

[2019-06-20 16:25] sulaysumaria commented on #31922
I found this using adb logcat:

[code]

I am on `stable` channel.

[2019-06-20 16:29] jacob314 commented on #34682
https://github.com/flutter/flutter/pull/34684 applies the breaking change.

[2019-06-20 16:42] komapeb commented on #20227
2031 as a goal seems like a reasonable date for removing an underscore 😁

[2019-06-20 16:44] sulaysumaria commented on #31922
Solution from https://github.com/flutter/flutter/issues/19865 worked.

I also had to remove `splits` section from build.gradle.

App works fine now when installed via bundletool. I will try uploading to playstore and check if everything goes well.

[2019-06-20 16:44] Loopex2019 opened #34800 "Adding the Object Detection Feature [Firbase ML Package]"
In the Firebase Ml Package there are the following Detectors : Face , Barcode , Image Labeling , Text Recognition , Landmark Detection. There is a new Detection model called Object Detection and you can find it in this link : [https://developers.google.com/ml-kit/vision/object-detection-and-tracking/](url) . It is part of ML Kit. So can you add it please as a new Feature.

[2019-06-20 16:44] mit-mit opened #34801 "CircleBorder sizing doesn't match the size of the enclosed Text"
## Steps to Reproduce

Create a `RaisedButton` like this:
[code]

The button does become circular, but it's sized after the height of the text, not the width:

![Screenshot 2019-06-20 at 18 16 03](https://user-images.githubusercontent.com/13644170/59866253-74279880-938b-11e9-9331-cbb124f29a2e.png)

The only workaround I have found, it to wrap the whole thing in a SizedBox, and hard-code a specific

[2019-06-20 16:45] mit-mit commented on #34801
It looks like `circular_border.dart` has a bunch of calculations using `rect.shortestSide`. Should that perhaps be `rect.longestSide`?

[2019-06-20 16:46] mit-mit commented on #34801
![Screenshot 2019-06-20 at 18 46 14](https://user-images.githubusercontent.com/13644170/59866369-b2bd5300-938b-11e9-96c0-1bc84858534d.png)

[2019-06-20 16:48] pythoneer commented on #31922
@sulaysumaria the fix is only available on the master branch yet. If you are on stable – as indicated on your `flutter doctor` output

`[✓] Flutter (Channel stable, v1.5.4-hotfix.2, on Mac OS X 10.14.5 18F132, locale en-IN)`

the fix is not applied. You need to wait until the fix is on stable if you want to build with stable. Looks like its somewhere around `1.7.x` until then you need to upload th

[2019-06-20 16:53] sulaysumaria commented on #31922
Ohh... Thanks @pythoneer . Do you know when will it be available on stable channel?

[2019-06-20 16:55] #30713 closed

[2019-06-20 17:09] VTechJm commented on #34108
yeah i know, was just a suggestion.. I have added plugin to dart pub aswell. https://github.com/VTechJm/flutter_wifi_info_plugin.Thanks for your response though.(y)

[2019-06-20 17:15] ehekuta opened #34803 "Scaffold property bottomSheet: use all width of the screen."
[✓] Flutter (Channel beta, v1.6.3, on Mac OS X 10.13.6 17G7024, locale es-CL)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] iOS toolchain - develop for iOS devices (Xcode 10.1)
[✓] Android Studio (version 3.4)
[✓] VS Code (version 1.35.1)

## Use case

First, I'm not sure about this.

I want to implement some widget like a **floating permanent bottomsheet** w

[2019-06-20 17:24] Piinks commented on #34490
To clarify, this is only happening on iOS 13 beta on iPhoneX[etc]?

[2019-06-20 17:24] johnveloper commented on #34791
Status bar worked but the area showed on screenshot is still white 😒

[2019-06-20 17:25] GaryQian commented on #28192
Are you seeing this with both iOS and Android?

[2019-06-20 17:27] lukepighetti commented on #28894
Emoji's are still jacked up on iOS. It makes chat/social apps look horrible. Are there any blockers I can assist with?

[2019-06-20 17:28] eyalkutz opened #34805 "failed assersion"
## Steps to Reproduce

1. main.dart:
'''
import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';

main(List<String> args) {
  runApp(App());
}

class App extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      theme: ThemeData(),
      home: Home(),
    );
  }
}

class Home extends StatelessWidget {
  @override
  Widget bu

[2019-06-20 17:37] iskakaushik commented on #34042
Should be fixed by https://github.com/flutter/plugins/pull/1734

[2019-06-20 17:38] kleinpetr opened #34806 "Allow to choose more images"
Hey, is there some chance to use image_picker as multi_image_picker? This plugin is good but the function of choose multi images is realy missing.

Thanks

[2019-06-20 17:39] blasten commented on #23586
@xster I was able to build your sample app: https://github.com/xster/flutter-test/tree/master/t130_leaf_flutter and https://github.com/xster/flutter-test/tree/master/t130_leaf_flutter_android with the host app using AndroidX and Jetifier and the Flutter module using support libraries. In order words, letting Jetifier do the translation.

Here's how:
1. Remove this patch: https://github.com/xster/f

[2019-06-20 17:48] Hixie commented on #34601
I recommend checking if it's consistent with the scrollDirection in the ScrollNotification messages.

[2019-06-20 17:49] godslave05 opened #34807 "Getting current working directory failed, path = '' (OS Error: Too many open files, errno = 24)"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-20 17:49] godslave05 opened #34808 "Getting current working directory failed, path = '' (OS Error: Too many open files, errno = 24)"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-20 17:49] wemped commented on #26767
@GustavoContreiras Your problem might make sense as a separate issue, especially if you're trying to find the root of your crash.

[2019-06-20 17:53] lantrip commented on #34490
That's where I'm seeing it on my device. On the 12.x I tried, it briefly showed a collapsed layout as if it was showing the keyboard (but no keyboard visible), and then animated back to full height. Only the 13 beta was getting 'stuck'.

Looking at the beta more, I'm noticing some other apps having keyboard issues when quick switching. Switching between Slack and Messages with one having the keybo

[2019-06-20 17:56] iskakaushik commented on #34641
Tried to repro on Samsung A510M, was unable to repro. Will try it on a tablet next.

[2019-06-20 17:59] jonahwilliams opened #34809 "Fix device configuration for google3"
We'll need a per-environment device configuration to handle desktop and web devices.

[2019-06-20 18:00] yjbanov commented on #34235
/cc @vsmenon Does this ring a bell?

[2019-06-20 18:01] jonahwilliams commented on #34809
i.e. I should be able to say, from configuration, whether the tool supports a particular set of devices.

[2019-06-20 18:07] blasten commented on #23586
The root cause for the AndroidX failures is that we include  `io.flutter.facade.*` java classes  that aren't precompiled. https://github.com/flutter/flutter/tree/master/packages/flutter_tools/templates/module/android/library/Flutter.tmpl/src/main/java/io/flutter/facade.  Jetifier _can't_  translate those since it only operates on JARs or AARs. Also, using the AndroidX migration tool from Android S

[2019-06-20 18:09] vsmenon commented on #34235
@jakemac53 @grouma - this looks like the hot-reload logic.  Should this be opened on build or webdev?

[2019-06-20 18:11] #34808 closed

[2019-06-20 18:12] jonahwilliams commented on #34807
In order to provide any help at all we'll need at least some information from the template. Feel free to open a new issue anytime.

[2019-06-20 18:12] #34807 closed

[2019-06-20 18:14] babakbo opened #34810 "GestureDetector sometimes does not call onTapUp after onTapDown"
## Steps to Reproduce

Create a simple page with a gesture detector:
[code]

Tap quickly with two fingers following these steps:
1- tap down with first finger,
2 - tap down with second finger,
3 - lift both fingers).

Sometimes, onTapDown is not followed by onTapUp (or onTapCancel). So you end up with the following log even after lifting both your fingers:

I/flutter ( 5682): On Tap Down
I/flutter

[2019-06-20 18:14] cyanglaz commented on #34806
The native image picker doesn't support multiple images. There are some photo api do that. It would be a good plugin to make if someone is interested. There are also some community packages made for multiple image pickers like https://pub.dev/packages?q=photo, https://pub.dev/packages/photo_manager. Might be worth a try.

[2019-06-20 18:15] tarobins commented on #34601
@Hixie   Yes the scrollDirections are consistent with the direction in ScrollNotifications.

The following passes:

import 'package:flutter/material.dart';
import 'package:flutter/rendering.dart';
import 'package:flutter/scheduler.dart';
import 'package:flutter_test/flutter_test.dart';

const cellHeight = 20.0;

void main() {
  ScrollDirection notificationScrollDirection;
  bool notificationCallba

[2019-06-20 18:15] miDeb commented on #34790
I haven't understood what you want to do exactly; maybe have a look on PageView. Otherwise, don't use ListTiles, as they try to expand horizontally, which is impossible with horizontal scrolling since there is literally infinite horizontal space.

[2019-06-20 18:19] aryzhov commented on #32524
This works, I confirm. Thank you!

[2019-06-20 18:20] #34803 closed

[2019-06-20 18:21] Piinks commented on #34490
Thank you for clarifying.
You are right, it could be a beta issue. We'll continue to investigate. 🧐

[2019-06-20 18:31] sergiuiacob1 commented on #34789
Also, if a `transaction` simply runs out of time, the app crashes, even though the `runTransaction()` function is inside a `try` - `catch` block.

[2019-06-20 18:38] mklim commented on #23586
@blasten:

1. Good find. That makes sense to me. I noticed that those classes have been patched to work with the `--androidx` template though, so theoretically they should be able to be generated without any conflicts. Are there still failures with that template activated?

2. Yeah, I agree with that solution. For the plugins the issue is like this but it's also the native Java sources in the plug

[2019-06-20 18:46] lukepighetti commented on #19623
If Flutter team is too busy to fix broken theme stuff, can they point us in the right direction for what blockers can be addressed?

[2019-06-20 18:59] ivtod commented on #34138
Hi @SPodjasek, great solution. Do you get the exact size for the webview with
 ```<script type="text/javascript">window.extents.postMessage(document.body.offsetHeight);</script>```?
I always get extra white space at the end of the webview.
Have you been able to debug the webview?

[2019-06-20 19:03] miDeb commented on #34687
`items.where((DropdownMenuItem item) => item.value == value).length == 1` is the cause. This means that the selected item is not in the list (or multiple times, but that seems impossible to me).

[2019-06-20 19:07] analistacarlosh commented on #27156
Worked for me, Thank you so much.

[2019-06-20 19:12] pekretsc commented on #34790
Thanks for the responds :). You are right the expantion into vertical space is the problem. But this is verry counterintuitive. Since ListTiles are for ListViews, They should look into the scrollingdirection.

But thanks for the hint to pageview, I have not thought about that:)

[2019-06-20 19:15] liyuqian commented on #31865
I tried a [simpler animation for the GPU (no fancy paths, just a rect)](https://gist.github.com/liyuqian/81def6f7d5b2126a7c21ae6b7c252c9c).

That has a CPU usage of 18%, which is about 3% lower than the 21% of our [circular progress animation](https://gist.github.com/liyuqian/67d848f651211613da0c1042905fe884).

I realized that 20% * 16ms = 3.2ms. From the observatory, it seems that we're spending

[2019-06-20 19:17] jim-flar commented on #27677
Thanks for the update, the test case makes a lot more sense now.

I'll be looking into RepaintBoundary objects and other layer (in)dependence issues as part of issue #32662 linked above.

The only other question is whether a grid of 17x5 text items all with an individually blurred backgrounds is a necessary aspect of the original design or if that duplication is in the test case to demonstrate the

[2019-06-20 19:24] carmel opened #34814 "[Dynamic DropdownButton] when value change ui does not render"
$ flutter doctor
[code]
## Details
I've some trouble with using dynamic data to render DropdownButton widget
## key code
[code]
There ,I used a map structure `Map<String, int> rule` to receive the selected value, the value has been changed already, but the ui was not rendered. when I selected '很好' or something else , UI was not rendered,
Someone who meet the same trouble, please give me a hand. Th

[2019-06-20 19:26] #31949 closed

[2019-06-20 19:26] dnfield commented on #34433
The rects are good now, I think - but the ordering is off for traversal.

[2019-06-20 19:39] dnfield commented on #31865
What about the GPU usage though?  Anything that can be done to bring that down, short of going to Metal?

[2019-06-20 19:42] grouma commented on #34235
Yes. This looks to be a `WebDev` bug. Please open up an issue there. I'll see if I can reproduce this.

[2019-06-20 19:49] japegamx commented on #34687
Thanks for the reply. The item it is in the list. If you check the little code I pasted, the item exists and is there. Also, the selected item is in the list and is selected from there. How it is possible to not to be there, when I selected from the items list itself?

[2019-06-20 19:50] dnfield opened #34815 "Regression on libapp size benchmarks"
https://github.com/flutter/flutter/commit/9579f0022860187729736dd522d4c20411a4156c resulted in a large regression on these.  A few were baselined at 0 so I rebaselined them, but the one that's still red is legitimate.

[2019-06-20 19:50] grouma commented on #34235
I can't seem to reproduce this with the simple Spinning Square example in Flutter Web. I'm using Chrome 75 on Linux with `WebDev` version `2.1.0`. I select the `Galaxy S5` window constraints and can open the Flutter Inspector / perform a manual Hot Restart. @wedcel can you provide exact reproduction steps?

[2019-06-20 19:52] dnfield commented on #34815
The same commit also messed with our license size.

[2019-06-20 19:55] dnfield commented on #34815
Seems like https://github.com/flutter/engine/pull/9308/files should be the cause.

[2019-06-20 20:02] kleinpetr commented on #34806
I think that native image supports multiple images. Because when I long press the image then shows the checkbox with in but when I click to the next image the checkbox switch to the next photo...   In another application called Bazoš in Czech republic (probably not Flutter) when I click choose images then opened exactly the same image picker when I long press to image -> shows checkbox and when I

[2019-06-20 20:05] yjbanov commented on #32481
I think I saw this too recently. Reopening.

/cc @ferhatb

[2019-06-20 20:08] ketanm commented on #34772
@PingShen

See the following comments and see if it helps.
- please resolve Android licenses, so that dependencies are correctly updated ```! Some Android licenses not accepted. To resolve this, run: flutter doctor
--android-licenses```
- What is the difference between stage and dev environment?
- Given that crash is in creating EGL surface at the init, it is most likely OpenGL/EGL or libc runtime

[2019-06-20 20:14] ketanm commented on #34779
@ManojMM026
Your question is not well defined. Please provide more information and what is wrong with flutter API or details of the crash. Where are you downloading images and who provides a path to it? etc.

Some points:
- Specified resolution is only 10MB of an image, so it is big but not that big that it should crash your app. If there is stack trace then share it.
- Why can't you resize intern

[2019-06-20 20:16] LuckierDodge commented on #33074
Running into the same problem with https://status.alcf.anl.gov/theta/activity.json but specifying port has no effect. Was working fine and then stopped unexpectedly. No self-signed certificate involved, the site has a valid ssl cert and I'm seeing the issue both inside and outside VPN and corporate proxies. Anyone on the Flutter team have any ideas about this?

[2019-06-20 20:22] dannyvalentesonos commented on #31865
Thanks for looking into this. Having a very simple lottie animation running on a page in Release mode on an iPhone runs the phone very hot pretty quickly.
I noticed the same CPU usage @liyuqian mentioned on Android. I also noticed an android device getting warm when running a simple lottie animation as well, so that would explain why.

Something else I noticed yesterday running on an iPhone simula

[2019-06-20 20:27] pythoneer commented on #31922
@sulaysumaria no problem. It is mentioned multiple times in this thread

[2019-06-20 20:31] greggomalley commented on #34619
Same problem here with an iPhone 7

[2019-06-20 20:32] michinchin commented on #813
Experiencing this specifically with hero animations. Other animations seem to run smooth. However, initial hero animation is a bit janky

[2019-06-20 20:34] Hixie commented on #34601
cc @goderbauer

[2019-06-20 20:34] Hixie commented on #34763
cc @goderbauer

[2019-06-20 20:35] Hixie commented on #34763
Yeah basically I think GrowthDirection is intended to flip the meaning of AxisDirection.

[2019-06-20 20:35] seanfreiburg commented on #13182
<img width="417" alt="Screen Shot 2019-06-20 at 1 33 05 PM" src="https://user-images.githubusercontent.com/1521912/59879619-f8642680-935f-11e9-94b4-07e3eb937c6e.png">

This is easily repro'd by making a scaffold with appbar, making a listview in the body with a textfield. get the cursor on the textfield and scroll down the page and then it will scroll into the appbar. Native android makes the curs

[2019-06-20 20:36] Hixie commented on #34601
If everything is consistent except the docs, best to update the docs, I guess.

[2019-06-20 20:37] liyuqian commented on #31865
@dnfield : Yes, @gaaclarke discovered yesterday that we doing an additional full-screen texture compositing. That was used to make BackdropFilter faster on iOS. However, it makes other cases without BackdropFilter less efficient. @gaaclarke may be trying to remove that compositing if no BackdropFilter exists in the layer tree.

@dannyvalentesonos: thanks for your feedback! Adding CPU/GPU/Power usa

[2019-06-20 20:38] GaryQian commented on #34538
Ok, thanks for the input! I may have something that can resolve tour issue, but it seems slightly hacky at the moment, I'll put up a WIP PR shortly...

[2019-06-20 20:39] masewo commented on #19718
@amirh: It works but I encounter some issues. For example keyboard does not close when I go back to previous view or navigate to next view. When I try to open the view with WebView for a second time (after I had keyboard open once) then app crashes with following error:
[code]

[2019-06-20 20:42] AshweenMankash commented on #19549
Anyone Bothered to add this feature? Currently I am doing some hacks to make it work. Would love an official way, less hack more professional.

[2019-06-20 20:47] arsen commented on #813
Same for me, initial run of a hero animation is missing frames.

[2019-06-20 20:54] amirh commented on #19718
@masewo any chance you can provide a minimal sample app (ideally something you can just paste in a comment here) and repro steps?

[2019-06-20 21:01] miguelpruivo commented on #813
It seems to happen with _all_ animations at start of an iOS app and/or reloading from background. It’s 2/3 seconds janky and then smooth until closed and reopen again. You can replicate it everytime in an iPhone X (at least).

[2019-06-20 21:07] liyuqian commented on #33939
Due to https://github.com/flutter/flutter/issues/31865#issuecomment-504148508, this is unlikely to help https://github.com/flutter/flutter/issues/31865 much.

Instead, we should come up with a test case with a complex page that has only a blinking cursor. We'll aim to improve the performance of that page significantly using damage rects.

[2019-06-20 21:09] liyuqian commented on #33939
Alternatively, @jim-flar may have a nice test case with BackdropFilter (https://github.com/flutter/flutter/issues/27677) where damage rects could be helpful.

[2019-06-20 21:09] michinchin commented on #813
Anyone find a fix? Or a workaround for this?

[2019-06-20 21:17] michinchin commented on #813
Found it lags for the first time on both Android and iOS initial start up

[2019-06-20 21:19] Timbabs commented on #20720
HI @darrenaustin When will this change be releases?

[2019-06-20 21:21] liyuqian commented on #813
We're coming up with a long-term solution for this and that progress is tracked publicly on https://github.com/flutter/flutter/issues/32170 . Currently, we have a 16-page internal draft design doc with 9 different proposed solutions in it.

In shorter terms, we believe that there might be some specific issues that we can quickly solve just for iPhone X since the issue seems to be less bad on older

[2019-06-20 21:21] matthew-carroll commented on #33236
@dnfield I think it would probably be a good idea to create a plugin for this. I'll follow up with you and others offline to see what makes sense.

[2019-06-20 21:23] michinchin commented on #813
This is not only an issue on the iPhone X. We have done testing on the Pixel 3 and other android devices and have found the same effect.

[2019-06-20 21:27] seanfreiburg commented on #13182
I think the issue the handles are an Overlay, which gives it priority to show over the app bar. This means that the AppBar needs to be "over" the overlay or maybe they should be a Stack instead of an overlay.

[2019-06-20 21:29] goderbauer commented on #34763
Yes. @tarobins Do you intent to send a PR to fix this?

[2019-06-20 21:37] liyuqian commented on #813
@michinchin : we're aware of that hence https://github.com/flutter/flutter/issues/32170 is not just for iOS, but also for Android, Fuchsia, Desktop, and probably all platforms that Flutter directly compiles into binaries.

iOS currently just has additional issues. For example, we can store binary persistent shader cache on Android, but we can only store GLSL persistent shader cache on iOS. That re

[2019-06-20 21:44] iskakaushik commented on #34641
I am not able to repro it on a `Nexus 7` tablet as well. Maybe it's the video, @dannyvalentesonos mind sharing the video with me?

[2019-06-20 21:44] mraleph commented on #15288
So I did a bit more digging and managed to make `hello_world` go through Archive -> Distribute App -> Rebuild from Bitcode pipeline without any issues.

Key realisations:

- Bitcode is a binary unstable format, which is dependent on the version of clang (LLVM) one is using. That means we can't build `Flutter.framework` with just some random version of clang from the buildroot and then expect that

[2019-06-20 21:45] mcgreevyd commented on #19718
Is this the same issue affecting html dropdowns in Android?

[2019-06-20 21:46] tarobins commented on #34763
Yes.

[2019-06-20 22:01] timsneath opened #34817 "`flutter run` should pause and retry on iOS device lock"
Customer request from Q2 survey:

[2019-06-20 22:03] masewo commented on #19718
@amirh: Sure. This issue only occures for some websites. Flutter and Google are working fine but the one in the example below does not. Click the button. Click into a text field. Go back. Click the button again.
[code]

[2019-06-20 22:09] miguelpruivo commented on #813
@liyuqian thank you for the updates. Currently (and because I’m an iPhone X user) I immediately noticed it and I must say that despite of being an issue already tracked, it bothers me somehow to have a production app that launches on a scroll screen where it _always_ feel janky as the user starts it on iPhone for the first 2 seconds.

Oddly and in my experience, it seems to affect only the iOS. An

[2019-06-20 22:11] gkrawiec commented on #22997
@VB10
I've tried this, but none of my projects have an app.framework file anywhere. Not even newly created projects. Is this a single file? or are you referring to something else?

[2019-06-20 22:15] liyuqian commented on #813
@miguelcmedeiros : that's exactly the difference between binary persistent shader cache and GLSL persistent shader cache. On Android, there's 0 work if you close the app and re-open the app. On iOS, re-opening the app triggers another GLSL to binary compilation.

[2019-06-20 22:39] tarobins commented on #34601
Another place the term scroll direction comes up is the [ListView](https://api.flutter.dev/flutter/widgets/ListView-class.html) documentation:

"[ListView] displays its children one after another in the scroll direction. "

Though this statement perhaps doesn't define the order of the children (forward or reverse) in the scroll direction, just that they are one after the other.

[2019-06-20 22:42] nhojjava commented on #19718
Hello, great job on the WebView plugin. Keyboard is now functional in Android and we have a published app on the AppStore for iOS!

I would like to raise another issue with plugin, and that is pertaining to JavaScript alerts. In iOS, we have to write callbacks in the WebView code to display all three types of JavaScript alerts:

1.  ConfirmPanelWithMessage
2. TextInputPanelWithPrompt
3. JavaScript

[2019-06-20 22:53] MiaYi commented on #16614
I solve it by wrap `BackdropFilter` with `ClipRect`.
[code]

This is mentioned in the `BackdropFilter` class document.

[2019-06-20 22:55] dnfield commented on #34815
This change turned out to be intentional, per @cbracken - he's going to file another bug regarding what else might be done about this.

[2019-06-20 22:55] #34815 closed

[2019-06-20 23:03] amirh commented on #19718
Hi, thanks for raising more issues.
This issue is tracking the keyboard support for embedded Android views, other things should be tracked in separate issues. I'd encourage you to file separate issues and delete unrelated comments from this issue so this thread remains focused on keyboard.

[2019-06-20 23:22] liyuqian opened #34819 "complex_layout_scroll_perf__timeline_summary average_frame_build_time_millis regressed"
It regressed from ~2.4ms to ~2.6ms around https://github.com/flutter/flutter/commit/22ca3f96cabbadbaa242347abdfc27e397070b98 or https://github.com/flutter/flutter/commit/f3e698fba40ce4cddbf3d13d1cbbd3c84d1e396e

![image](https://user-images.githubusercontent.com/22987568/59887856-d9728e00-9379-11e9-8972-af529a1f8f6b.png)

The regression is small (10%) so it's hard to pin-point exactly what commit

[2019-06-20 23:26] rolurq commented on #18711
Any updates about this? I am trying to obtain a similar layout, it is pretty common, A login form that shows at the top and buttons for google/facebook login that must be anchored to the bottom, but when a login form field obtains focus and the keyboard shows up it needs to be able to scroll to the google/facebook buttons

[2019-06-20 23:27] liyuqian opened #34820 "cubic_bezier_perf__timeline_summary worst_frame_rasterizer_time_millis regressed"
It regressed from ~65ms to ~90ms starting around https://github.com/flutter/flutter/commit/c8c20fbc1f24bde6741b7a78e86104c5b9c4f180

![image](https://user-images.githubusercontent.com/22987568/59887885-f018e500-9379-11e9-9c12-cc284ef83f04.png)

[2019-06-20 23:28] liyuqian commented on #34820
@chunhtai : can you please verify locally if the regression actually starts from your commit?

[2019-06-20 23:34] #34165 closed

[2019-06-20 23:35] liyuqian opened #34822 "Multiple performance regressions"
All the following benchmarks have a small regression recently. The data is too noisy to tell which commit to blame:
* flutter_gallery_ios32__transition_perf 90th_percentile_frame_build_time_millis
* flutter_gallery_ios32__transition_perf 90th_percentile_frame_rasterizer_time_millis
* home_scroll_perf__timeline_summary 99th_percentile_frame_rasterizer_time_millis
* flutter_gallery__transition_perf

[2019-06-20 23:44] JayWIlsonJr commented on #32573
I am having this issue also.

My logs are here: https://gist.github.com/JayWIlsonJr/2fac4cf63d3f84ca08bad3e06182606c

If I click the restart icon in VS Code the changes are reflected on my device. However, upon saving my changes, nothing is updating on the device.

[2019-06-20 23:47] jmagman commented on #33850
Additional potential blocker:
Swift Package Manager does not yet support resources, so plugins with assets would not be compatible.
https://forums.swift.org/t/swift-pm-bundles-and-resources/13981/30

[2019-06-20 23:52] appjitsu opened #34824 ".flutter-plugins (OS Error: Permission denied, errno = 13)"
## Steps to Reproduce

Just running the app.

## pubspec.yaml

[code]

## command

flutter build bundle --suppress-analytics --target .../lib/main.dart --track-widget-creation --compilation-trace-file compilation.txt --target-platform android-arm64 --depfile .../build/app/intermediates/flutter/debug/snapshot_blob.bin.d --asset-dir .../build/app/intermediates/flutter/debug/flutter_assets --debug

#

[2019-06-21 00:00] miguelpruivo commented on #813
@liyuqian got it. Do you have an idea of when a fix may be available? Have you already found a solution for it or still drafting for?

PS: You've tagged the wrong person. 😄

[2019-06-21 00:08] liyuqian commented on #813
Oops. We haven't picked which solution to pursue. Will update https://github.com/flutter/flutter/issues/32170 with some proper time estimation once we made the decision.

[2019-06-21 00:12] artAst commented on #34768
Sorry i wasn't clear enough. Its flutter mobile app. In browser stack you can locate elements for mobile app

[2019-06-21 00:13] jmagman commented on #33850
Although on further research the plugin/ios/Assets directory in the pub package looks unused, so this probably isn't an issue, assuming `lookupKeyForAsset:fromPackage:` continues to be the suggested way to share assets with the underlying platform.

[2019-06-21 00:14] #34751 closed

[2019-06-21 00:18] GaryQian commented on #28894
https://github.com/flutter/engine/pull/9406

Currently attempting a harfbuzz update (last update was ~11/2018) before looking further, as the bug is likely buried quite deep.

[2019-06-21 00:20] ahusseini opened #34826 "iOS engine is cold for add to app use case causing initial method channel calls to fail"
The engine seems to be cold for the very first flutterViewController that is presented. We are using flutter in parts of our app and sending some data to flutter before presenting it. On the first presentation, the method channel call fails (I suspect) because of the call to launchEngine in viewWillAppear.

Moving the method channel call to the completion call back of present solves this issue, bu

[2019-06-21 00:24] jonahwilliams commented on #34768
I don't know what you mean by browser stack or element.

The app switcher and views?

[2019-06-21 00:28] VB10 commented on #22997
@gkrawiec
you don't have app.framework  at creating new project ios/flutter. Flutter build ios or flutter run emulator and you seeing app.framework file and copy your old project folder.(So dont remember if you don't see app.framework means: "have build error or packages error" try "flutter clean" and run again
It's run emulator complete reason look at ios/flutter folder and see app.framework file

[2019-06-21 00:32] jonahwilliams commented on #34817
The underlying problem is just that we repeat the build. Due to https://github.com/flutter/flutter/issues/16604 I disabled all build caching until we can bring up the new  build cache system (https://github.com/flutter/flutter/pull/32816).

I'd rather fix this than pile more hacks into the tool

[2019-06-21 01:08] dblokhin commented on #34790
@pekretsc so close the issue

[2019-06-21 01:21] mklim commented on #33855
The above PR should be enough of a fix for this, but I was seeing what looks like Scenic clipping us based on our world space position instead of our position relative from the root ViewHolder with our bounding box. From preliminary offline discussions it sounds like that's unintended behavior on Scenic's part, but there may be followup work here if that turns out to not be a Scenic bug after all.

[2019-06-21 01:54] michael-cheung-thebus commented on #32307
`flutter pub pub publish` works for me

didn't have the patience to see what would happen with `flutter pub publish`, but I did wait significantly longer than a few minutes before giving up.

[code]

[2019-06-21 02:39] chunhtai commented on #34820
I dont think my change will affect this, but the manual roll contain 30+commit from flutter/engine, it might be one of them I couldn't tell

[2019-06-21 02:46] stephensamonte commented on #33827
I don't quite understand what this problem.

But, the issue went away for me after switching flutter channels to dev and then back to the master channel. This can be done with the following commands:
[code]

[2019-06-21 02:52] sulaysumaria commented on #31922
It worked on `dev` channel. I used `flutter build appbundle --target-platform android-arm,android-arm64` and uploaded bundle to play store and it worked perfectly.

[2019-06-21 02:54] Pillai1 opened #34829 "Unable to run my first flutter program [FAILURE: Build failed with an exception.]"
**### I am new to mobile app programming. Do guide me if I have made mistakes.**

## Steps to Reproduce

. ...C:\Users\hariharan\Desktop\helloflutter>flutter run
Using hardware rendering with device Android SDK built for x86. If you get graphics artifacts, consider enabling
software rendering with "--enable-software-rendering".
Launching lib/main.dart on Android SDK built for x86 in debug mode...

[2019-06-21 02:56] PingShen commented on #34772
@ketanm
Thanks for help!
1.I just run: flutter doctor --android-licenses
2.What is the difference between stage and dev environment?
A: nothing,just not happen in my phone but online
3.Make sure Android versions on stage and dev are same.
A:I'm not reproduce this crash,but the user online meet the crash.We found it in the firebase
4.Someone meet the same crash
https://github.com/flutter/flutter/is

[2019-06-21 02:57] PingShen commented on #29751
@shoxter How to fix it?the crash happens so frequency.maybe 1%.

[2019-06-21 03:02] web-developer-saurashtra commented on #34829
install flutter plugin in your Android Studio.
Follow the document and try again
https://flutter.dev/docs/development/tools/android-studio

[2019-06-21 03:04] yy197133 commented on #33559
Did u solve the problem? I got the same too...

[2019-06-21 03:09] Pillai1 commented on #34829
I am sort of confused, please enlighten me. I am using flutter in visual code, Why is there a need to install flutter plugin in my android studio??

[2019-06-21 03:13] milton39s commented on #25112
Thank you @eduardhasanaj2
It works very good in W10

[2019-06-21 04:05] dnfield commented on #24166
From offline discussion:

IMO it's right for tests to complain about leaked timers.  A leaked timer indicates a pretty significant bug, or that your test isn't doing all the work it should (i.e. to test that the created timer is doing what it's supposed to and finishes when it's supposed to).

That said, it'd probably be helpful to have FakeAsync tell you what created the leaked timer(s) so you ca

[2019-06-21 04:10] chunhunghan commented on #31225
I have a request.
Can we add  new "takePicture" return Image directly without save to disk,
CameraX  support this

    public void takePicture (ImageCapture.OnImageCapturedListener listener)
Captures a new still image for in memory access.

[2019-06-21 04:22] JoeCiou opened #34833 "Add key for BottomNavigationBarItem"
I have check this link:
https://github.com/flutter/flutter/blob/master/packages/flutter/test/material/bottom_navigation_bar_test.dart

It use `tester.tap` to drive one of BottomNavigationBarItem. but It is not very convenient if app support localization.
I think it add key can more flex to test.

[2019-06-21 04:32] AmSn6 commented on #34531
https://stackoverflow.com/questions/56608513/datetime-now-returns-wrong-time-730-in-real-device-xiaomi-mi-4i - check the comments for detailed report

[2019-06-21 04:37] pixcai opened #34834 "print function not work"
Hi, I use Android Studio to write the following code in the Flutter application：
[code]
Console does not output "Init state".

Console output:
Launching lib/main.dart on Android SDK built for x86 64 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
Built build/app/outputs/apk/debug/app-debug.apk.
Installing build/app/outputs/apk/app.apk...

[2019-06-21 04:42] madmat commented on #19718
Hi @amirh , it works fine now on certain sites but not on others.
For example its okay with google.com search bar but not with yahoo.com.
What is weird is that once the keyboard has been shown at least 1 time, then it works in every sites.
To reproduce this issue just
* run the webview_flutter example by replacing initialUrl value with 'https://yahoo.com'
* tap on the yahoo search bar
=> the keybo

[2019-06-21 04:55] topeomot2 commented on #26574
Switching to Swift solved the issue

[2019-06-21 05:27] glennmichaelmejias commented on #27462
got the same error, what i did is commented this line from app/build.gradle
// splits {
//         // Configures multiple APKs based on ABI.
//         abi {
//             // Enables building multiple APKs per ABI.
//             enable true
//             // By default all ABIs are included, so use reset() and include to specify that we only
//             // want APKs for armeabi-v7a and arm64-

[2019-06-21 06:15] dnfield commented on #34435
I've made some additional changes that now result in less uploading of docs per commit.  These changes are somewhat hacky and probably bitrot over time, but they've lowered the overall time of the docs step.

Unfortunately, we still have to do a lot of "adding files to version", which is where we were seeing the timeouts.  So far, setting the number of connections to 100 seems to be working for th

[2019-06-21 06:23] dnfield commented on #34435
I think this can be closed for now, but we can re-open if it becomes an issue again.  Firebase hosting is still working on additional changes that should make it even better.

[2019-06-21 06:23] #34435 closed

[2019-06-21 06:26] matthew-carroll opened #34836 "Handle all remaining TODOs in Android embedding."
Handle all remaining TODOs in Android embedding.

[2019-06-21 06:26] kleinpetr commented on #34806
@cyanglaz Look this is the screen from flutter_image_picker where I can choose only one image
![65054401_335665903771818_8849768362377478144_n](https://user-images.githubusercontent.com/17269309/59902271-11231980-93fe-11e9-96e3-63b5c84b2c27.png)

And here is the same picker in another Android application where I can choose multiple images.
![64710559_687160331729275_2383566249230598144_n](https://

[2019-06-21 06:30] matthew-carroll opened #34837 "Migrate internal hello_flutter to new Android embedding"
Migrate internal hello_flutter to new Android embedding

[2019-06-21 06:30] matthew-carroll opened #34838 "Migrate internal CRM to new Android embedding"
Migrate internal CRM to new Android embedding

[2019-06-21 06:32] xb284524239 opened #34839 "tabs reload"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-21 06:33] #34839 closed

[2019-06-21 06:34] #34790 closed

[2019-06-21 06:36] xb284524239 commented on #34839
How to delete this misoperation issue?

[2019-06-21 06:47] xb284524239 commented on #29225
Have you solved this problem?

[2019-06-21 06:50] ilkkanisula commented on #15288
Maybe [dsymutil](https://llvm.org/docs/CommandGuide/dsymutil.html) can help to find out why DWARF sections in invalid. There also seems to be some bitcode and debug symbol fixes in latest [xcode 10.2.1](https://developer.apple.com/documentation/xcode_release_notes/xcode_10_2_1_release_notes).

Simulator builds of watchOS projects that emit bitcode no longer fail with the error message: “GNU-style

[2019-06-21 06:51] xster commented on #23586
Thanks for the explorations! Glad to know we have a workaround, that's a great first step. I'm not sure I understood the details of why failing to convert the non-aar io.flutter.facade.* java source causes the manifestation of the `java.lang.UnsatisfiedLinkError: No implementation found for long io.flutter.embedding.engine.FlutterJNI.nativeAttach(io.flutter.embedding.engine.FlutterJNI, boolean) (t

[2019-06-21 06:53] xb284524239 commented on #14316
I have this issue too.

[2019-06-21 06:57] pushpendraKh commented on #34717
@jonahwilliams I didn't get this again.

[2019-06-21 06:58] tmulin commented on #25782
I got the same problem too when using whti locale "zh"  .

[2019-06-21 07:00] creativecreatorormaybenot opened #34840 "Hero widget calls initState of child multiple times"
I explained the problem [on StackOverflow](https://stackoverflow.com/q/56698362/6509751) in greater detail (`StatefulWidget` child of a `Hero` gets instantiated three times instead of once when navigating from a page that has a `Hero` with the same tag).
Here, I just want to know if this is *intended* behavior and *why* it happens.

Fully reproducible example: https://gist.github.com/creativecreat

[2019-06-21 07:18] pratikjain04 commented on #34312
So, I went to beta channel and then came back to stable channel, ran "flutter upgrade" and restarted my IDE, and this issue was resolved.
But the gradle sync fails, by saying:
"ERROR: Resolving this BuildableArtifact can only done during task execution.
Affected Modules: flutter"

[2019-06-21 07:27] anderscheow opened #34841 "Stateless widget fire build() multiple times when resume from background to foreground on iOS"
Whenever I resume from background to foreground, this widget (new screen) rebuild multiple times on iOS, Android does not have this issue.

## Steps to Reproduce

[code]

## Logs

[code]

[2019-06-21 07:29] ctrl-shift commented on #27677
Duplication is in the test case.
The original design where I encountered a problem had about 2*6 rounded rect "tiles" with pictures/text on them blurring background image behind. It was causing noticeable hiccup once they appeared (and on any view update afterwards) even when built with "--release".

[2019-06-21 07:38] vijayaragavangkf opened #34842 "In Row while using baseline alignment Some of children painted outside the bounds"
When using `CrossAxisAlignment.baseline` in `Row` widget, it seems only children with text painted inside `Row` boundaries.

![Screenshot_1561102381](https://user-images.githubusercontent.com/35106540/59905928-0f208100-9425-11e9-9826-ddabddb61d90.png)

Code to reproduce:
[code]

Flutter doctor:
[code]

[2019-06-21 07:43] wxlcat commented on #27680
Still not fixed? 4 months passed...

[2019-06-21 07:46] duzenko commented on #34042
Still fails to build for me in master branch. I'm on pod version 1.5.0.

[2019-06-21 07:57] minh98 commented on #31191
UI max ms /frame alway  is more than 40 when i scroll to new page. i want page reload nextpage and previous page after init pageview or when pageview is jump to new page.
any update?

[2019-06-21 08:02] fralways commented on #16957
@FrankFang You are missing the point. This is the same as adding const SizedBoxes or Containers in between widgets we want to display.

[2019-06-21 08:02] #34840 closed

[2019-06-21 08:06] realvorl opened #34843 "ListWheelScrollView with defined controller disables onSelectedItemChanged callback."
If I want **ListWheelScrollView** to have an offset I need to use **controller** but by doing so the
 **onSelectedItemChanged** callback does not get triggered anymore. In my use case, I need both to happen.

## Steps to Reproduce

1. have a `ListWheelScrollView` in a project
2. define and use a callback method for the `onSelectedItemChanged` event
3. define a `controller` for the  `ListWheelScrol

[2019-06-21 08:11] Dougnkong commented on #10765
Nice ! Thanks a lot

[2019-06-21 08:12] Dougnkong commented on #10765
Thanks

[2019-06-21 08:16] JaviSFH commented on #30916
Hi! Any news about this bug?

I've been able to integrate a Flutter module using this workaround, thanks for this. Nevertheless I've not been able to consume this module as .aar library, since I cannot run the workaround over it. @truongsinh , have you ever try this? Thank you!

Regards.

[2019-06-21 08:19] minh98 commented on #31191
@fralways i just found a trick:
 set viewportFraction: 0.99(<1) in PageController.
page will init 2 page left and right of current page,
when scroll is finish . page will reinit 2page left and right  :))

[2019-06-21 08:24] andoanwkm commented on #18325
me too :'(

[2019-06-21 08:27] mrkizy opened #34844 "how to advoid Image widget loading data from cache?"
I have a trouble that when I use Image.network widget to show pictures, I do not wanna the widget loads datas from network but from  cache when the  image url is not changed。

[2019-06-21 08:31] recvec commented on #28596
for me only release buid helps (flutter build ios --release)

[2019-06-21 08:40] shuaiwang007 commented on #29967
thank you~

[2019-06-21 08:40] #29967 closed

[2019-06-21 08:40] miDeb commented on #34687
See the documentation of FutureBuilder:

[State.didUpdateConfig], or [State.didChangeDependencies]. It must not be
created during the [State.build] or [StatelessWidget.build] method call when
constructing the [FutureBuilder]. If the [future] is created at the same
time as the [FutureBuilder], then every time the [FutureBuilder]'s parent is
rebuilt, the asynchronous task will be restarted.

This ha

[2019-06-21 08:53] sayurikunugi commented on #34774
I have the same issue.
I'm using,
  image_picker_modern: ^0.4.12+2

[2019-06-21 09:03] sarbagyastha opened #34846 "[web]: Some methods from Listener class is not working"
Methods that aren't working as intended:
* `onPointerEnter`
* `onPointerExit`
* `onPointerFocus`
* `onPointerMove`

[2019-06-21 09:12] xb284524239 commented on #14316
I found a way to solve this problem. Here's my code below, you can try it:

[code]

[2019-06-21 09:13] xb284524239 commented on #29225
I found a way to solve this problem. Here's my code below, you can try it:

https://github.com/flutter/flutter/issues/14316#issuecomment-504354349

[2019-06-21 09:39] cikelengfeng commented on #26895
here is a little example (endless animation)
[iOS-native.zip](https://github.com/flutter/flutter/files/3313844/iOS-native.zip)
[flutter.zip](https://github.com/flutter/flutter/files/3313850/flutter.zip)

here is energy impact in Xcode:

[2019-06-21 09:44] duzenko opened #34847 "TextEditingController ignores text = null"
## Steps to Reproduce

[code]

Expected: empty text field.
Observed: text 'qwe'.

I see this behavior as counter intuitive. I would suggest adding the` ?? '' `check into `TextEditingController ::   set text(String newText)`.

Workaround:
`    editName.text = map['field'] ?? '';`

[2019-06-21 10:03] gerritjvv commented on #22728
I needed to run:

brew reinstall autoconf \
&& brew reinstall libtool \
&& brew reinstall libusb

[2019-06-21 10:11] kimweichew opened #34848 "[web]: Is there flutter web support bluetooth connection via browser?"
flutter web support bluetooth connection via browser?

[2019-06-21 10:28] yanqiuLove commented on #6724
如果是在iPhone手机上运行flutter run之后报这个错呢？我应该如何解决呢？感谢~

[2019-06-21 10:40] spiderman20084 commented on #33827
I'm already on the stable channel and i keep getting this

[2019-06-21 10:53] truongsinh commented on #30916
Could you provide more info about your use case? .aar as the consumed library, or as built library?

[2019-06-21 10:55] mx4g opened #34849 "TabBar 切换 TabBarView 的一个Bug"
当调用了  Navigator.pop(context)，然后 TabBar 切换 TabBarView 带有 AutomaticKeepAliveClientMixin的页面时，会被重新刷新

[2019-06-21 11:02] duzenko commented on #16049
I think it's

And it does not work. The same pod error.

[2019-06-21 11:09] AndreaMiotto commented on #20965
any news on this fix?

[2019-06-21 11:10] miDeb commented on #34805
`thambnails` must be a list of `Widget`s. In your case it's null.
If you want no items, use an empty list.

[2019-06-21 11:11] DK15 commented on #17988
@adazh I would like to see below `UI properties` as matchers to be introduced in Flutter driver framework that'll help to write better integration tests:

isDisplayed(), isVisible(), isClickable(), isEnabled(), isChecked(), isNotChecked(), withHint()

Object matchers:  startsWith(string), endsWith(string)

[2019-06-21 11:18] spiderman20084 commented on #33827
this is so frustrating

[2019-06-21 11:26] KThen commented on #31409
I was wondering about the same thing as well. Why does a web view need bluetooth until it really needs to send something?

[2019-06-21 11:33] Otman404 commented on #16391
Solved by defining the controller outside the build method

[2019-06-21 11:34] ghenry commented on #34408
See https://github.com/flutter/flutter/issues/28196

[2019-06-21 11:34] ghenry commented on #31375
See https://github.com/flutter/flutter/issues/28196

[2019-06-21 11:53] swissonid commented on #20438
Are there any updates 🥺?

[2019-06-21 11:59] dannyvalentesonos commented on #31865
Thanks @liyuqian for the explanation. Running the following code in Release on a real iPhone 6 runs at 25% CPU with Very High Energy Impact.

[code]

[2019-06-21 12:17] H03in commented on #31135
just remove .flutter-plugins file inside project folder.

[2019-06-21 12:17] H03in commented on #15711
just remove .flutter-plugins file inside project folder.

[2019-06-21 12:32] creativecreatorormaybenot commented on #20965
@AndreaMiotto You should give the original issue a thumbs up if you think that it should be prioritized as this will make the issue appear earlier when [sorting by thumbs up](https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc), which is the most common way of sorting.

[2019-06-21 12:46] sabarinathancs opened #34850 "Flutter run Error Throws"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter run

## exception

ProcessException: ProcessException: Process "/Users/Mac/Dev/apps/android/gradlew" exited abnormally:
Unzipping /Users/Mac/.gradle/wrapper/dists/gradle-4.10.2-all/9fahxiiecdb76a5g3aw9oi8rv/gradle-4.10.2-all.zip to /Users/Mac/.gradle/wrapper/dists/gradle-4.10.2-all/9fahxiiecdb76a5g

[2019-06-21 12:47] fdb713 commented on #29965
It seems that this issue only occurs when you build from command line. I have similar issue but only  when trying to execute `./gradlew assembleRelease`.
[code]

on Android Studio everything's fine.

[2019-06-21 13:07] shoxter commented on #29751
I don't know. This issue is still open because it isn't fixed as far as I'm aware. I'll let you know if the latest stable version fixes this.

[2019-06-21 13:08] bobatsar commented on #27346
@dnfield  just tested with current "beta" channel and it seems to work. So this should hopefully land soon in stable.

[2019-06-21 13:28] KonstantinKai commented on #34498
Hi, I have the same issue
[code]

[2019-06-21 13:30] n-belokopytov commented on #14513
Same issue here - on my Windows PC everything was compiling and running. On my Mac - started to crash on startup after seemingly hanging on `Installing APK...` phase. Rebooting the phone and Mac did not help.

@waelalameen what did you import for these lines to work? I have tried writing them and `FlutterMain` was not resolved.

[2019-06-21 13:55] jinfagang commented on #22754
@jimbeveridge @jitheshkramesh Flutter update its api.

You should change that package calling style. But as for how, I do not know.

I am also got same error:

[code]

[2019-06-21 14:04] sabarinathancs commented on #34850
sudo flutter run -v
Password:
   Woah! You appear to be trying to run flutter as root.
   We strongly recommend running the flutter tool without superuser privileges.
  /
📎
[  +85 ms] executing: [/Users/Mac/development/flutter/] git log -n 1
--pretty=format:%H
[ +107 ms] Exit code 0 from: git log -n 1 --pretty=format:%H
[   +2 ms] 7a4c33425ddd78c54aba07d86f3f9a4a0051769b
[        ] executing: [/Us

[2019-06-21 14:26] MortezaHeydari97 commented on #31116
@cyphernull help me please !
When I run `sdkmanager --update` command, It shows this error.
How can I do to fix it ??????

`Exception in thread "main" java.lang.NoClassDefFoundError: javax/xml/bind/annotation/XmlSchema
        at com.android.repository.api.SchemaModule$SchemaModuleVersion.<init>(SchemaModule.java:156)
        at com.android.repository.api.SchemaModule.<init>(SchemaModule.java:75)

[2019-06-21 14:46] angel1st commented on #31922
@sulaysumaria - you should use [already prepared instructions](https://flutter.dev/docs/deployment/android#building-the-app-for-release) with either **master** or **dev** channel.

[2019-06-21 14:55] romdj commented on #19056
YES! thanks a lot!
Encountered the same issue with API 29, solved by going back to 28

[2019-06-21 14:56] souzadenis commented on #31116
Easy solution
Go to **flutter_console.bat**
run: `flutter doctor --android-licenses`
and accept the terms
It is made

[2019-06-21 15:00] benadrasni opened #34852 "[firebase_ml_vision] ImageLabeler doesn't return entityId on iOS"
ImageLabeler returns null in entityId on iOS. On Android it returns entity id.

I think the problem is with this (Android is using "entityId" but iOS is using "entityID"):
[code]

[2019-06-21 15:11] MortezaHeydari97 commented on #15114
## Hi guys. Please help me in flutter.

When I run `flutter doctor` command, It shows me this error:

![Untitled](https://user-images.githubusercontent.com/37476323/59932198-eb2c6200-945b-11e9-91fc-4b0a6c183608.png)

I update the flutter, Android Studio, and even sdk manager, however I see this error again.
Please help me to resolve this problem.

[2019-06-21 15:18] razdahan commented on #34445
Thank you very much the problem was that i didn't had any SDK configured I don't know why...

[2019-06-21 15:21] ghost opened #34853 "webview_flutter plugin JavaScript popup boxes are not shown"
In Android WebView, JavaScript popups normally work without any extra coding in the WebView. Unfortunately, they are not working in my app using webview_flutter plugin.

## Steps to Reproduce

You can reproduce by setting your webview_flutter plugin running on Android url to: 'https://www.w3schools.com/js/tryit.asp?filename=tryjs_confirm' and clicking the "try it" button.

## Logs
[code]

[2019-06-21 15:21] mischkez commented on #25640
if someone has also run into this problem and wasn't able to solve it, try updating google services.
check  you debug console where you should find the error like 'google services out of data'...
you can update google services by clicking more ( ... on emulator right panel) and then in you'll see google play icon and then click update... if you don't see that icon create new emulator that supports

[2019-06-21 15:38] clocksmith opened #34854 "[Material] Range Slider onChangeStart and onChangeEnd not called if thumb selection is initiated in a drag update"
# Steps to Reproduce:
1. Create a demo with onChangeStart and onChangeEnd handlers
2. Drag the thumbs close
3. Drag a thumb away, and observe that although onChange is called, onChangeStart and onChangeEnd are not.

[2019-06-21 15:48] julindra commented on #31922
Thanks. I just use dev channel and add `-ignorewarnings`, it works perfect.

[2019-06-21 16:03] HansMuller commented on #34849
If you could send us a small self-contained app that demonstrates the bug you're run into, we'll look into it. It would also help to include the output of `flutter doctor` - so it's clear what version of Flutter you're using.

[2019-06-21 16:06] dnfield opened #34855 "hot_mode_dev_cycle_linux__benchmark has regressed"
hot_mode_dev_cycle_linux__benchmark has slowly been trending upwards and is now pretty consistently red.

[2019-06-21 16:12] #34717 closed

[2019-06-21 16:13] jonahwilliams commented on #34445
Sounds like the problem has been resolved then.

[2019-06-21 16:13] #34445 closed

[2019-06-21 16:14] iamsabet opened #34858 "[Web] Dartev compile Error http module"
hi im trying to run an existing flutter app (witch is ok for mobile and desktop) on web , (new way)
i have master version of flutter

dartdev compile error http module , i tried with dart2js got exact same error
im a little new to this flutter thing , i appreciate a little light here
flutter run -p web
throws error
<img width="979" alt="Screen Shot 2019-06-21 at 8 27 42 PM" src="https://user-image

[2019-06-21 16:30] gkrawiec commented on #22997
@VB10 Ok, now I understand what you meant. It did create the folder as you described.
 Unfortunately this did not solve my issue. I will see what else I can try. Thanks!

[2019-06-21 16:34] cyanglaz commented on #34806
@kleinpetr I am not aware any native API related to the image picker that does it. I know there is a photo assets framework on iOS and something equivalent on Android can do this. I think this plugin is using the photo asset framework to achieve this behavior. May I ask if flutter_image_picker suffices your need?

[2019-06-21 16:36] jonahwilliams commented on #34858
Hi @iamsabet, can you try removing build_runner, build_web_compilers, and test from your direct dependencies - then run `flutter clean` and `flutter packages get` and try again?

[2019-06-21 16:37] HansMuller commented on #29341
cc @GaryQian

[2019-06-21 16:38] raajeshmani commented on #18564
Hi, I found the solution to be scattered.

I fixed this issue where my the bottom Sheet expands towards top dynamically when input with multiple lines.
Thanks to @jbg. I used @jbg way of implementing the padding

I tried @andrelsmoraes gist but i couldn't edit shapes in that.

Finally without using fully customised _bottom_sheet.dart_,

Changing the value of **9.0** to **10.0** in _bottom_sheet.da

[2019-06-21 16:40] FarmaanElahi commented on #34844
Use [Cached network image](https://pub.dev/packages/cached_network_image) package

[2019-06-21 16:43] nimesh1997 commented on #18494
I build my the  app from bundle but after running on 64bit devices says libflutter.so is missing by building app for both 32bit device and 64bit device. How to add libflutter.so for both architecture in single bundle file?

[2019-06-21 16:48] kleinpetr commented on #34806
No.. the both of pickers on screenshots looks exactly the same. It looks like in flutter_image_picker missing just some parametr to allowed multi choosing.

In this plugin I like it, that  I can use camera and photo. When I use image_picker for camera shots and for example multi_image_picker for multi choose, so one plugin returns File and another File return somenthing Asset object and I want onl

[2019-06-21 16:48] HansMuller commented on #30688
cc @GaryQian

[2019-06-21 16:49] layounisl commented on #34843
the `onSelectedItemChanged` will not be triggered unless you use the `FixedExtentScrollController` instead of `ScrollController`

[2019-06-21 16:50] HansMuller commented on #30975
CC @justinmc

[2019-06-21 16:54] LongCatIsLooong commented on #11274
It turns out in the screenshot above the menu is too width. iOS does try to avoid lining up the arrow and the divider.

[2019-06-21 16:55] gkrawiec opened #34860 "google_maps_flutter 0.5.18 on Android - Unhandled Exception: PlatformException(error, Trying to create a platform view of unregistered type: plugins.flutter.io/google_maps, null)"
## Steps to Reproduce

1. `Flutter Create MapsTest`
2. add   `google_maps_flutter: ^0.5.18` to pubspec.yaml
3. `flutter pub get`
4. add     ```
<meta-data android:name="com.google.android.geo.API_KEY"
               android:value="My KEY HERE"/>```  to manifest
5. copy/paste sample code from "sample usage" section at https://pub.dev/packages/google_maps_flutter#-readme-tab-

tried on Android Pixel

[2019-06-21 16:58] kleinpetr commented on #34806
look this
There is no official picker yet which supports all versions of Android.

Official Image picker:

See ALLOW_MULTIPLE option (API Level >=18) http://developer.android.com/reference/android/content/Intent.html#ACTION_GET_CONTENT

Third party libraries: See this question:

select multiple images in Android Gallery

https://stackoverflow.com/questions/20700115/multiple-image-video-picker-andr

[2019-06-21 17:08] blasten commented on #23586
@xster I was unable to repro the `java.lang.UnsatisfiedLinkError` issue. Maybe, the issue was fixed in the embedding? Maybe @matthew-carroll knows more about it.

[2019-06-21 17:10] seanfreiburg commented on #13182
@zoechi I dont think this is a duplicate of #24214 , the issue is similar but not the same. That bug is that the markers go outside the editable text viewport, this is an issue of the markers not staying in the body of the scaffold. The Overlay is writing outside the scope of widgets that it should. @sjindel-google can you confirm this is not the same issue? I saw you made the fix for the markers

[2019-06-21 17:19] liyuqian commented on #34820
Thanks @chunhtai for the response! Were you able to reproduce the regression locally (run drive test locally before and after your commit)? If so, we can then start bisecting the engine commits as other framework commits are ruled out. Please let me know if you have any questions about how to run the benchmark locally.

[2019-06-21 17:22] snickersv2 opened #34861 "Error at the beginning of integration test - Unhandled exception: Bad state: The client closed with pending request "ext.flutter.driver"."
Hi, I encountered the error below at the beginning of integration test. The app only just launched and it threw the error immediately. The stacktrace is not that helpful as well as it does not point to any part of our code. Please advise.

Thank you in advance.
[code]

[2019-06-21 17:25] stephenfung98 commented on #24108
Is it possible to use this inside a textfield?

[2019-06-21 17:28] kf6gpe opened #34862 "Add hooks to provide uncaught exception information to Fuchsia's crash logging subsystem"
(This may be a dupe, but can't find the original issue.)
Fuchsia needs a way to obtain uncaught exceptions from the flutter runner and forward the stack trace information from those uncaught exceptions to their crash logger/uploader.

[2019-06-21 17:37] Mehedi50200 commented on #33193
Same error i am getting

[2019-06-21 17:41] tjtarunkumar commented on #34349
It is related to flutter beacause the error comes in flutter video player

[2019-06-21 17:55] nvbln opened #34864 "Slight flicker on the screen when loading from app overview on Android"
When switching between apps to an app created by flutter on an Android 9.0 device, there might be a short shadowy (so the screen is not completely black) flicker of the screen that the app shows.

This can be reproduced by any app as far as I am aware.
1. Create a basic app by using `flutter create app` followed by `cd app` and `flutter run` on an Android 9.0 device (it might also affect other ver

[2019-06-21 17:55] realvorl commented on #34843
@layounisl that fixes my problem. I have no problem with closing this issue... maybe it is written in the documentation and I didn't pay attention. Thank you.

[2019-06-21 17:55] #34843 closed

[2019-06-21 17:58] justinmc commented on #30975
I think this is fixed and/or correct as-is.  There was a [related issue](https://github.com/flutter/flutter/issues/30302) which I fixed in https://github.com/flutter/flutter/pull/30525.  Take a look at this gif taken of the native iOS notes app from that issue:

<img src="https://user-images.githubusercontent.com/9447003/55476290-cd174880-5648-11e9-99e1-0ec1461c1a28.gif" width="250" />

Native sto

[2019-06-21 17:59] kevmoo opened #34865 "[web]: hints w/ latest roll"
[code]

[code]

[2019-06-21 18:10] #31700 closed

[2019-06-21 18:14] shunjid opened #34866 "Add dark mode to the official documentation"
It's a **feature request**. I don't know anyone felt the need of it or, not but I think it would be nicer if @flutter team adds a 'Dark Mode' in the official documentation.

Thank you.
😊

![flutter dev_docs(iPad Pro)](https://user-images.githubusercontent.com/29749035/59942463-884dc180-9481-11e9-993a-8a1abdf71bbd.png)

[2019-06-21 18:15] liyuqian opened #34867 "Correct the first frame waiting logic and measurement"
Many Flutter tests currently only wait for the UI thread to generate the layer tree of the first frame. It has caused problems like b/129875208, which causes https://github.com/flutter/flutter/pull/30463. It also makes our first frame benchmark inaccurate.

We should be able to solve this by utilizing [Window.onReportTimings](https://github.com/flutter/engine/pull/8983). We may need to modify it a

[2019-06-21 18:18] justinmc commented on #34798
Thanks for pointing this out, seems like we should definitely update it.  It looks like iOS13 uses the same arrow as well.  Here is a quick screenshot (from the iOS13 Calendar app):

<img width="83" alt="Screen Shot 2019-06-21 at 11 13 58 AM" src="https://user-images.githubusercontent.com/389558/59942921-c90ff100-9415-11e9-94d7-5f9ba1ac92be.png">

[2019-06-21 18:20] cyanglaz commented on #34806
You are right, it is natively supported by Android! I haven't found a good way to do it on iOS tho. There has been one issue raised regarding the same. https://github.com/flutter/flutter/issues/16054
I will close this issue, and let's follow up on the other issue?

[2019-06-21 18:20] #34806 closed

[2019-06-21 18:22] gkrawiec opened #34868 "Should .ios and .android folders be gitignored?"
Why are these two folders `.ios` and `.android `not in gitignore if they are autogenerated and huge? I don't see any patterns in there that would include them.

[2019-06-21 18:24] LeandroMoura3 commented on #24969
Same issue here.

[2019-06-21 18:31] cyanglaz commented on #34642
@dannyvalentesonos I tried multiple our in house Nexus and couldn't reproduce the issue. May I ask what is the Android version of the device? Also, could you paste your `flutter doctor -v` here?

[2019-06-21 18:36] kleinpetr commented on #34806
Ok nice, so do you implement this addon in the near future?

[2019-06-21 18:37] ZichangG commented on #33427
That's basically how we determine exceptions are handled or not. A small correction here, try blocks itself is not handler. It must be provided with catch statement(This is where exceptions are being handled). For instance, a try finally block without catch is not going to work.

Yup, it also checks whether the exception thrown matches the expected type written in the catch block.

This is exactly

[2019-06-21 18:42] cyanglaz commented on #34806
I'd like to research and find a way to do it in iOS. Android should be easily done.

[2019-06-21 18:42] cyanglaz commented on #16054
It seems not natively supported by iOS but android seems to support it (>18). If anyone can create a PR for Android, I am happy to review it!

[2019-06-21 18:50] miguelpruivo commented on #34798
You’re welcome @justinmc.

IMO, this is one of the things that iOS users can come across seeing in multiple screens and those with more sensitive eye for these kind of things (like me), may immediately notice and somehow, it feels like a “cheap” clone of the native one. 😄

[2019-06-21 18:50] kleinpetr commented on #16054
@acidjazz I like your suggestion can you create PR? Thanks :)

[2019-06-21 18:56] seyidnaali opened #34871 "Finished with error: Gradle task assembleDebug failed with exit code 1"
help

I enable authentication by google on my firebase, and replace the file google-service.json by the new file, then I came across this error

<img width="857" alt="googleservice" src="https://user-images.githubusercontent.com/25289271/59944991-2465d180-945e-11e9-9fd3-fef86a95d3ad.PNG">

- more information

1. Result of flutter run -v
2. Result of flutter doctor -v

[https://gist.github.com/elma

[2019-06-21 19:00] kleinpetr commented on #34806
Thank you it will be very very helpful for everyone!

[2019-06-21 19:04] jamesderlin commented on #24166
I still disagree after our offline discussion. =)

Is it *always* right to complain about pending timers?  Are there no valid reasons to have timers pending at the end of a test?

I think it's reasonable for tests to complain about them by default.  I don't fully agree that it *must* complain about them.  I don't think it's necessarily wrong to have a fire-and-forget timer, and the test framework

[2019-06-21 19:09] GaryQian commented on #31512
Have you taken a look at shell/platform/android/BUILD.gn?

We typically include the files in the various BUILD.gn files scattered about.

[2019-06-21 19:09] dannyvalentesonos commented on #34642
[code]

[2019-06-21 19:11] dannyvalentesonos commented on #34642
I reproduce this on a Nexus 9 running Android 7.1.1 but we also reproduce this on almost all our Android devices we have, including a Pixel 1 running Android 9.

[2019-06-21 19:11] dannyvalentesonos commented on #34642
You have tried with my video and the code I pasted in the ticket?

[2019-06-21 19:12] liyuqian commented on #34819
This seems to be solved by https://github.com/flutter/flutter/commit/7742572106eeb40b2dc4d310382fb97a79aa400d

[2019-06-21 19:12] #34819 closed

[2019-06-21 19:13] kleinpetr opened #34873 "Image_picker external images failed - Android Q"
Hey when I use image_picker and select some image from Recent images or from Camera folder I have got this message
 FileSystemException: Cannot retrieve length of file, path = '/mnt/content/media/external/images/media/151259' (OS Error: No such file or directory, errno = 2)
And image not showing..

When I select image from Google photos the path of image is /data/user/0/com.example.app/cache/image

[2019-06-21 19:13] fbcouch commented on #30975
With respect, this issue is not fixed and is not working correctly as-is. Your gif does not follow the reproduction instructions. This has nothing to do with exceeding the end of input (the characters 'asdfasdf' will not come anywhere near filling the entire width of the screen). Here is a demonstration of the issue on flutter v1.4.15:

![space-issue](https://user-images.githubusercontent.com/3249

[2019-06-21 19:14] charlesokt commented on #31512
Ok thanks @GaryQian.  I'm still new to how ninja works; I'm still coming from back in the day makefiles and what not.  I'll get this going and present findings, solutions, and a PR soon.

[2019-06-21 19:15] xXUlquiXx commented on #34629
I have the same problem in a macbook pro(Mojave), but in my iMac(Mojave) hot reload is working fine, there something related to permissions on mac to the ip 127.0.0.1??

[2019-06-21 19:17] kf6gpe commented on #28913
@PreciousGabriel @matte5031 Can you provide logs or other debugging information for us to root-cause this? Thanks!

[2019-06-21 19:19] iulian34 commented on #34619
Same problem here with iPhone 7

[2019-06-21 19:21] kf6gpe commented on #29169
Which channel are you on now? Is it currently working for you?

[2019-06-21 19:27] mockturtl commented on #29169
@kf6gpe I went back to `dev` a short time later, no problems since.  Thanks for following up.

[2019-06-21 19:27] #29169 closed

[2019-06-21 19:28] justinmc commented on #30975
You're right, thanks for following up.  I was able to reproduce this like in the gif in both CupertinoTextField and TextField.  If I revert back to before https://github.com/flutter/flutter/pull/30525 then the bug still appears, so it's not caused by that PR.

[2019-06-21 19:35] iamsabet commented on #34858
hey @jonahwilliams thanks for response , i just did what you said , ... its still the same

[2019-06-21 19:36] uuttff8 commented on #34866
Agree, as additional it should work with macOS dark theme

[2019-06-21 19:41] satyasreem commented on #30649
Had to enable Map SDK for iOS and Map SDK for Android
and add the following on ios/Info.plist to get it to work

`	<key>io.flutter.embedded_views_preview</key>
	<string>YES</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This application requires location services to work</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This application requires location services to

[2019-06-21 19:50] dnfield commented on #24166
The risk is that you write a test not realizing that you're leaking a timer in your code, which leads to either a flaky test or an implementation that does bad things at runtime (allocates resources without freeing them).  It's almost certainly a sign that you're not properly covering a variant of the behavior you should care about as a test author.

I don't think we should make it easy for people

[2019-06-21 19:59] KARIMSUNEEL commented on #31369
Thanks it worked after updating the x-code command-line

[2019-06-21 20:00] RaresMihalcea commented on #12114
Is there any progress on this feature or a timeline we can look forward to?

[2019-06-21 20:00] goderbauer opened #34876 "Logging spam during flutter run"
1) launch the gallery with `flutter run` on an Android device
2) Click on a couple of buttons
3) See lots of spam in the terminal:

[code]

[2019-06-21 20:01] goderbauer commented on #34876
Looks like it was introduced by https://github.com/flutter/engine/pull/9351.

/cc @matthew-carroll

[2019-06-21 20:01] fremfi commented on #19744
^ that works, any way to achieve that without having to change the theme?

[2019-06-21 20:02] goderbauer commented on #34876
As far as I can tell, that output is not helpful for most Flutter developers. We shouldn't be showing it to them.

[2019-06-21 20:05] dannyvalentesonos commented on #31865
@liyuqian I haven't. We work hard on making sure our build system can build with Flutter, and so we can't build the engine ourselves. Because of that, I have never spent time trying that. If it would be important for you that I do try, let me know and I can try and find some time to do so.

[2019-06-21 20:09] iamsabet commented on #34858
1 General question , does flutter web gonna cover all flutter for web completely in the future ? (except for mobile device native modules to access hardware like , camera , sensors ... ) ?
@jonahwilliams

[2019-06-21 20:12] liyuqian commented on #31865
Don't worry about compiling engine that if you're not very interested. We'll soon add Metal to our default engine build so you don't have to compile. I suggested that just in case that you're so interested that you can't wait for us to include Metal by default.

[2019-06-21 20:16] gaaclarke commented on #31288
https://github.com/flutter/engine/pull/9388

[2019-06-21 20:16] #31288 closed

[2019-06-21 20:20] amirh commented on #19718
Thanks @masewo flutter/engine#9423 should fix that issue.

[2019-06-21 20:20] chunhtai commented on #34820
It is pretty hard to be certain which commit cause it since it is not consistently regress.
The most likely culprit is https://github.com/flutter/engine/commit/e5918d18f

[2019-06-21 20:26] liyuqian commented on #34820
@bsalomon : https://github.com/flutter/engine/commit/e5918d18f seems to have quite some GPU changes. Do you have any theory of which could cause the regression? I can help bisecting if nothing is obvious.

[2019-06-21 20:28] drewcovi opened #34878 "[web]: Transform.scale rasterizes elements"
When using Transform.scale, elements are simply scaled up without re-rendering elements, leading to low-resolution assets.

Tested on a Switch component.

[2019-06-21 20:31] OrenLeung commented on #34868
.ios and .android are not in gitignore as flutter allows adding platform specific native code into each folder.

[2019-06-21 20:42] jonahwilliams commented on #34858
It looks like in this case I've misconfigured the builders, I'll look into this.

Flutter only handle supporting the plugin API, and it is up to the plugin implementations to support what the device is capable of. You could imagine implementing the shared_preferences plugins in terms of local storage for the web, for example. That said, not all plugins will work on all platforms.

[2019-06-21 20:49] matthew-carroll commented on #34876
The chatty logs are specifically verbose, which is typically only output by developers when they're looking for fine-grained issues, in which case those logs may very well be useful. I would recommend the following:

1. Don't output verbose logs from bots if we're concerned about too much log output.

2. I can add a flag on the Log proxy that either outputs nothing, or outputs only at the level de

[2019-06-21 20:51] leonardop21 opened #34879 "Crash report: NoSuchMethodError: NoSuchMethodError: The method"
Hello, I'm reporting a flutter crash when running the flutter build apk command

I was having problems with architecture 32 and 62, I followed this tutorial and when I get to the last command does not finish

https://github.com/flutter/flutter/issues/18494#issuecomment-501544474

Log generated:

Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter bu

[2019-06-21 21:04] maxlapides opened #34881 "Upgrade Google Play Developer API"
The Google Play Store has started giving me this warning:

It links to this page: https://android-developers.googleblog.com/2019/03/changes-to-google-play-developer-api.html

Does anyone have any idea where this might be coming from? I'm not using in-app purchases or anything. I'm not sure where in my app the Google Play Developer API is being used, or how I would update it.

[code]

[2019-06-21 21:09] jamesderlin commented on #24166
You keep using "leaked timer", and I keep using "pending timer". =) Leaked timers (something allocates more timers than necessary without canceling existing ones) are bad.  Pending timers aren't necessarily leaks.

In my case, I have a widget that uses a timer to throttle logging.  Yes, variations in the behavior should be tested, but it's really awkward that every consumer of the that widget has

[2019-06-21 21:18] kf6gpe commented on #29299
Does `flutter doctor --verbose` also crash for you? That may give us more insight.

[2019-06-21 21:20] kf6gpe commented on #29428
@prateek-hegde Were you able to get a logcat of this behavior? Which device did you see this on?

[2019-06-21 21:21] wal33d006 commented on #18494
@blasten The procedure given on in the link didn't produce 64-bit APK in the bundle. When I uploaded the bundle, the Google Play store had the same error intact saying your APK is not 64-bit compliant.

[2019-06-21 21:23] dnfield commented on #24166
It all feels dangerous to me - you think you only should expect 1 pending timer, but suddenly that pending timer finished before the test ended because you didn't realize that adding another `pump` to it did that, and now you have a different timer that is pending and you don't want to be pending but don't realize it.

Even in your example, what happens when your timer finishes after the test fini

[2019-06-21 21:23] f-martinez11 commented on #26305
Any update on this?

[2019-06-21 21:24] tvolkert commented on #18494
@wal33d006 see the disclaimer at the top of the page - it only applies to `v1.7.4` or later (currently dev or master channels).

[2019-06-21 21:30] kf6gpe commented on #29740
I'm tentatively applying the `t: gradle` issue to this because I'm wondering if something isn't being built correctly in the bundle.

[2019-06-21 21:30] joprice commented on #31949
I tried master and I no longer get a crash, but I do still see the following error. Is this unrelated?:

[code]

[2019-06-21 21:32] jonahwilliams commented on #34855
The trendline of very gradual regression looks more like the device/machine is deteriorating (see bimodal behavior) and/or the app is becoming more complicated.

I don't think we're going to find a culprit here

[2019-06-21 21:33] jonahwilliams commented on #34855
Tentatively removing Today blocker because I don't think this meets the criteria

[2019-06-21 21:33] wal33d006 commented on #18494
@tvolkert  I am unable to even build my application through dev or master channels.

[2019-06-21 21:34] dnfield commented on #31949
Do you have a reproduction for that?

It probably should go in a new issue.  Feel free to cc me on it.

[2019-06-21 21:35] kf6gpe commented on #29982
@ArielFerreiro Did checking camera permissions lead you to any conclusions or a fix?

[2019-06-21 21:36] jamesderlin commented on #24166
Sure, but a bunch of things would need to be coincidentally aligned for that to happen.  Hypothetically  somebody today could accidentally leak a bunch of timers and happen to `pump()` long enough for all of those timers to fire, and that wouldn't be caught either.

In my case it doesn't matter, because that logging buffer is also an internal implementation detail that isn't exposed.  I do agree t

[2019-06-21 21:37] kf6gpe commented on #30038
Closing as this appears fixed. Feel free to re-open if this is in error.

[2019-06-21 21:37] #30038 closed

[2019-06-21 21:37] dnfield commented on #34855
I've updated the baseline.  I agree that this is probably not a hard regression.

[2019-06-21 21:38] athornz opened #34882 "Flutter run relies on hardcoded APK names"
## Steps to Reproduce

1. Customise the Android APK output name:
[code]
2. Run `flutter run`
3. Build fails with `Gradle build failed to produce an Android package`

## Logs
`Gradle build failed to produce an Android package`

Flutter should get the APK name from Gradle rather than relying on a hardcoded one.

[2019-06-21 21:40] dnfield commented on #34876
These should only come through if we use the `--verbose-system-logs`.  Typically, developers shouldn't be seeing embedding/engine level logging unless it's really critical.

[2019-06-21 21:45] kf6gpe commented on #30174
Can you provide a stack trace with what you're seeing, please?

[2019-06-21 21:45] kf6gpe commented on #30213
Does this occur with the latest stable (v.1.5.4-hotfix.2)? Did you see the same in the other channels?

[2019-06-21 21:52] wal33d006 commented on #18494
This is my output when I build it on dev or master channels:

Compiler message:
file:///Users/waleed/.pub-cache/hosted/pub.dartlang.org/cached_network_image-0.5.1/lib/cached_network_image.dart:199:38: Error: The argument type 'void Function(ImageInfo, bool)' can't be assigned to the parameter type 'ImageStreamListener'.
 - 'ImageInfo' is from 'package:flutter/src/painting/image_stream.dart' ('file

[2019-06-21 21:53] kf6gpe commented on #30279
This likely isn't actionable, and I've not seen other reports. I"ll leave this open in case anyone comments on it for a bit, but if not the bot will auto-close. If anyone sees more evidence of this, please follow up or re-open.

[2019-06-21 21:59] jonahwilliams commented on #34858
I'm not able to reproduce this just with your set of dependencies. Can you narrow this down to a particular reproducible case?

[2019-06-21 22:21] tvolkert commented on #18494
@wal33d006 `package:cached_network_image` is now version `0.8.0`and you're using `0.5.1` -- it looks like when running against the newer version of Flutter, you need to update your version constraint in your `pubspec.yaml` and `flutter packages upgrade`

[2019-06-21 22:42] eseidelGoogle commented on #34881
Would you be willing to share the dependencies list from your pubspec.yaml?  Thanks!

[2019-06-21 22:46] maxlapides commented on #34881
@eseidelGoogle Sure!

[code]

[2019-06-21 22:48] maxlapides commented on #34882
I think these issues are related:

https://github.com/flutter/flutter/issues/18232
https://github.com/flutter/flutter/issues/13977

[2019-06-21 22:54] eseidelGoogle commented on #34881
launch_review looks like the potential user of the API?

[2019-06-21 22:58] eseidelGoogle commented on #34881
It also might be possible via gradle to figure out the dependencies?
https://stackoverflow.com/questions/21645071/using-gradle-to-find-dependency-tree

I'm not sure.  Another way we could test if this is "core flutter" is to see if this warning appears when we next publish the Flutter Gallery.

[2019-06-21 22:59] matthew-carroll opened #34887 "Create FullFlutterActivity"
FullFlutterActivity needs to bring a fullscreen Flutter experience with no support lib deps.

[2019-06-21 22:59] matthew-carroll opened #34888 "Create Lifecycle shim"
The Lifecycle shim needs to be exposed to plugins and wired through FullFlutterActivity, FlutterActivity, and FlutterFragment.

[2019-06-21 23:00] matthew-carroll opened #34889 "Update build system to produce multiple JARs"
Update build system to produce multiple AARs with POM files:

- Core embedding AAR (FlutterJNI, FlutterEngine, FlutterView, and associated classes)
- Full Flutter AAR (FullFlutterActivity) -> Depends on Core
- Add-to-app AAR (FlutterActivity, FlutterFragment) -> Depends on Core

Steps to completion:

- [ ] Configure engine to produce AARs with resource support
- [ ] Configure engine to produce a P

[2019-06-21 23:00] matthew-carroll opened #34890 "Update build system to upload JARs to jcenter (or some other distro)"
Update build system to upload JARs to jcenter (or some other distro)

[2019-06-21 23:00] matthew-carroll commented on #34889
CC @xster @blasten

[2019-06-21 23:00] matthew-carroll commented on #34890
CC @xster @blasten

[2019-06-21 23:01] matthew-carroll commented on #34887
CC @xster

[2019-06-21 23:01] matthew-carroll commented on #34888
CC @xster @amirh

[2019-06-21 23:03] matthew-carroll opened #34891 "Determine how devs will track a class to a package"
When classes live in the same namespace but are distributed via different artifacts it is difficult to figure out which artifact is needed for a given class.

We should come up with a clear protocol for showing developers where to find a given embedding class.

[2019-06-21 23:03] matthew-carroll commented on #34891
CC @xster

[2019-06-21 23:09] eseidelGoogle commented on #34881
@RedBrogdon can you keep a look out for this next time you're pushing to the store?  If this is a general issue, we will need to take action.  If this is just due to a single plugin in @maxlapides's app, there may be action in our ecosystem to take as well (but likely less urgency).  Thanks!

FYI @tvolkert @Hixie.

[2019-06-21 23:12] ketanm commented on #34772
@PingShen thanks for sharing other issue information. New stack trace against correct symbols shows where it originates from skia. Not sure if this is workflow steps as mentioned in that thread or it is different linking of C++ runtime. Crash is in memcpy and without symbols it will show up in egl setup as that is what is going on application start.

Can you build your application in "release" mod

[2019-06-21 23:17] benadrasni commented on #30213
It occurs with every version of flutter.

[2019-06-21 23:19] maxlapides commented on #34881
Ah thanks @eseidelGoogle! I was able to get a tree of dependencies out of Gradle and it looks like it might actually be `firebase_analytics` but I'm not entirely sure I'm reading this thing right 🤔 Here's a chunk that seems relevant:

[code]

[2019-06-21 23:21] LongCatIsLooong commented on #34833
I don't think those tests are meant to be localized. The strings are just hard coded code names given to the widgets in order to be able to identify them later in the test. I'm going to close this issue but feel free to reopen if I missed anything.

[2019-06-21 23:23] profmillerson commented on #23777
I can not use the studio since a month. This is the solution that worked for me;
When I update the gradle version to the lastest it does not work.
Go to the
path \flutter\packages\flutter_tools\gradle\flutter.gradle
Do not change the version of gradle even if studio wants the update.

`buildscript {
    repositories {
        jcenter()
        google()
    }
    dependencies {
        classpath 'c

[2019-06-21 23:24] amirh commented on #19718
**Progress update on WebView keyboard support prior to Android N**

With flutter/engine#9426 I was able to add some hacks to the webview plugin so that we create a `ThreadedInputConnection` and get a handle to it(https://github.com/amirh/plugins/commit/55b573b4c445164ec88453624b7a1cfb3d90cec9).

Right now that patch just returns the `ThreadedInputConnection` in `onCreateInputConnection` which cras

[2019-06-21 23:29] dnfield commented on #34876
https://github.com/flutter/engine/pull/9425 will fix this

[2019-06-21 23:30] GaryQian commented on #29479
The PRs for this change are currently waiting to land due to tree stability.

[2019-06-21 23:36] chinmaygarde commented on #34820
According to [Brian's comment](https://github.com/flutter/engine/commit/e5918d18f#commitcomment-34036672), the commit was reverted by Jim and the numbers are again below the baseline. Closing.

<img width="287" alt="Screen Shot 2019-06-21 at 4 35 07 PM" src="https://user-images.githubusercontent.com/44085/59956053-b06a0000-9442-11e9-831b-8907fa0df7b3.png">

[2019-06-21 23:36] #34820 closed

[2019-06-21 23:40] chinmaygarde commented on #34822
<img width="1421" alt="Screen Shot 2019-06-21 at 4 38 36 PM" src="https://user-images.githubusercontent.com/44085/59956101-06d73e80-9443-11e9-934d-dbb8ce4a0b84.png">
Numbers today are again back below the baseline. This may be due to the Skia reverts made in order to fix the [other TODAY bug](https://github.com/flutter/flutter/issues/34820). The one patch run that exceeds the baseline is a change

[2019-06-21 23:40] #34822 closed

[2019-06-21 23:43] waldandrade commented on #27599
God! Just add the suport email to the app. That's a severe doc mistake!

[2019-06-21 23:48] dannywrayuk commented on #13937
+1

[2019-06-21 23:58] aliaazakii commented on #29608
what is the solution please ?

[2019-06-21 23:59] aliaazakii commented on #29608
did u know the solution?

[2019-06-22 00:15] cyanglaz commented on #34642
Updates after my investigation today:
I have tried to create a sample Android App to mimic the process we render video on a `Surface`. It seems working fine. So I think it is not likely a bug from Exoplayer.

[2019-06-22 00:16] cyanglaz commented on #34642
@dannyvalentesonos Yes, I am able to reproduce the issue now. Will keep investigating and keep you updated here.

[2019-06-22 00:25] GaryQian commented on #28894
So it looks like the harfbuzz upgrade did not resolve this (although it resolves some other things).

I'll have to dig deeper! <shovel emoji here>

[2019-06-22 00:32] matanshukry opened #34894 "NetworkImage + redirect + authorization ('withCredentials' is always true?)"
## Steps to Reproduce

On the backend:
1. Have a url that requires authentication (urlA)
2. The response from urlA is a redirect to a 2nd url (urlB)
3. urlB doesn't require authentication, but it will attempt to verify it if you pass it. So passing invalid credentials will result in an error (unlike not supplying it at all).

In flutter: use `NetworkImage()` with the url of urlA.

## Logs
[code]

[2019-06-22 00:35] suesitran commented on #20390
i'm having same problem with `isEmailVerified`, and I dont wanna keep user password in app, so I dont have a way to signin user only to get updated value of `isEmailVerified`

[2019-06-22 00:50] jonahwilliams commented on #27141
Actually, I've found a way to make it work, disregard!

[2019-06-22 00:53] GaryQian opened #34897 "Inline Widgets should have modified/ignore safe area changes for keyboard."
When nesting a whole app inline, bringing up the keyboard causes the app to display a big empty area corresponding to the safe area.

This safe area may or may not be relevant for the inlined app.

![](mtp://[usb:001,041]/Internal%20shared%20storage/DCIM/Screenshots/Screenshot_2019-06-21-17-52-56-196_io.flutter.demo.gallery.png)

[2019-06-22 01:35] joprice commented on #31949
I don't. But I fork my project and narrow it down.

[2019-06-22 01:50] anonymouse703 opened #34899 "Emulator doesn't run in VS Code"
I installed flutter in VS Code.. in the first two weeks the emulator will launched but when I updated the flutter OS the emulator doesn't launch anymore....

![error](https://user-images.githubusercontent.com/37643245/59958379-6c293f00-94d8-11e9-8163-6221f63fdba8.PNG)

[2019-06-22 02:03] NoobBaez commented on #25011
Hi, i m having something similar, when i opem VS CODE, i got a "The Dart Analyzer could not be started". This is the LOG:

`Fri Jun 21 2019 [21:54:01 GMT-0400 (SA Western Standard Time)] Log file started
[21:54:01 GMT-0400 (SA Western Standard Time)] [General] [Info] Searching for SDKs...
[21:54:01 GMT-0400 (SA Western Standard Time)] [General] [Info] Environment PATH:
[21:54:01 GMT-0400 (SA Weste

[2019-06-22 02:21] ADLsourceCode opened #34900 "How to use AnimatedIcon ?"
Hello,
How to use Animatedicon class ? Pls Provide examples and is this supported for ios too?

[2019-06-22 02:28] anonymouse703 commented on #34899
I installed flutter in VS Code.. in the first two weeks the emulator will launched but when I updated the flutter OS the emulator doesn't launch anymore....

![error](https://user-images.githubusercontent.com/37643245/59958379-6c293f00-94d8-11e9-8163-6221f63fdba8.PNG)

[2019-06-22 02:55] aqibfareex opened #34901 "ios App Crashes on Navigation.push, but works fine on android"
Hi,
The app runs well on android, but crashed on ios, throwing this exception.
**Logs**

    *** First throw call stack:
    (
            0   CoreFoundation                      0x0000000103eae6fb __exceptionPreprocess + 331
            1   libobjc.A.dylib                     0x0000000103452ac5 objc_exception_throw + 48
            2   CoreFoundation                      0x0000000103eccab4 -[NSOb

[2019-06-22 02:57] aqibfareex commented on #34901
@zoechi

[2019-06-22 02:58] aqibfareex commented on #28328
@ffeu @trey-rosius @zoechi @Smarto-Dev  here I posted the issue (new) #34901

[2019-06-22 03:49] nnquan commented on #34620
+ 1

[2019-06-22 03:49] nnquan commented on #34620
+1

[2019-06-22 03:55] mx4g commented on #34849
small self-contained app ：https://github.com/mx4g/flutter_demo
Operate gif ：https://github.com/mx4g/flutter_demo/blob/master/lib/gif/%E6%93%8D%E4%BD%9C%E5%9B%BE%E7%89%87.gif

[2019-06-22 03:57] mx4g commented on #34849
//返回上一页，然后再切换就刷新了
 Navigator.pop(context);

demo:
small self-contained app ：https://github.com/mx4g/flutter_demo
Operate gif ：https://github.com/mx4g/flutter_demo/blob/master/lib/gif/%E6%93%8D%E4%BD%9C%E5%9B%BE%E7%89%87.gif

[2019-06-22 04:05] dnfield commented on #15288
I got it to work!  Although this part of the patch wasn't enough:

[code]

I had to just disable them entirely.

I think a major concern here is the toolchain issue.  Am I right in thinking that this would mean that whoever builds an app has to use exactly the same version of Clang as we use to build the engine?  It seems easy for that to go wrong.

[2019-06-22 04:08] dnfield commented on #15288
FWIW, the Flutter Gallery is 40MB when built this way.  And that's without LTO in the engine (I skipped LTO to save time).

[2019-06-22 04:08] rami-alloush commented on #15711
This answer explains the solution [here](https://stackoverflow.com/a/50589165/4157431)

[2019-06-22 04:18] maheshsystimanx opened #34902 "Image picker not working 8.0"
Flutter image picker not working 8.0 mobile.but working other mobiles(include pie also).

[2019-06-22 04:22] nimesh1997 commented on #18494
@tvolkert you are saying that in **v1.7.4** the file **libflutter.so** is automatically added for 64bit device when we build the bundle using command **flutter build appbundle**?

[2019-06-22 04:30] sukhcha-in opened #34904 "Receiving intent when app is already open"
I have implemented what flutter docs say: [Here](https://flutter.dev/docs/get-started/flutter-for/android-devs#how-do-i-handle-incoming-intents-from-external-applications-in-flutter),
It works fine when app is closed and launched using share intent from other app.
Issue happens when app is already running and is on another route where widgets are already built and i try to share intent.
It just ig

[2019-06-22 04:33] tvolkert commented on #18494
@nimesh1997 yep, although the build that makes it to stable will likely be a newer version.

[2019-06-22 04:33] pythoneer commented on #19718
@mcgreevyd it looks like [this](https://github.com/flutter/flutter/issues/25767) is the issue you are looking for.

[2019-06-22 04:41] nimesh1997 commented on #18494
@tvolkert I changed my channel to ### master channel and also upgraded the ### package:cached_network_image version to 0.8.0 by changing inside the pubspec.yaml. But when running flutter packages upgrade. Error shows below like this:
**Because cached_network_image >=0.7.0 depends on flutter_cache_manager ^0.3.2 which depends on path_provider ^0.5.0+1, cached_network_image >=0.7.0 requires path_pro

[2019-06-22 04:45] leonetosoft opened #34905 "Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 24087 (1.ui)"
Error to start app:

**Device:**

**Model:** MX9
**Android Version**: 7.1.2
**Kernel:** 4.4.55
**Version Name**: MX9-userdebug.7.1.2NRD91N20190411 TEST-KEYS rEV c2c

**flutter --version:**

**flutter doctor**

    Doctor summary (to see all details, run flutter doctor -v):
    [✓] Flutter (Channel beta, v1.5.4-hotfix.2, on Linux, locale
        pt_BR.UTF-8)
    [✓] Android toolchain - develop for

[2019-06-22 05:27] tvolkert commented on #18494
@nimesh1997 can you file a separate issue and cc me?  There are hundreds of people subscribed to this bug.

[2019-06-22 05:31] nimesh1997 commented on #18494
@tvolkert I solved that issue but I got this issue. #34391. How to resolve this issue?

[2019-06-22 06:07] GervaisYO commented on #33866
Hey,
is this fix merged in the flutter beta channel already?

[2019-06-22 06:26] Matsue commented on #29190
Posted this issue to stackoverflow.
https://stackoverflow.com/questions/56713145/streambuilder-inside-refreshindicator-render-child-widget-many-times-how-to-avo

[2019-06-22 06:38] mmcc007 commented on #34148
I was able to get integration tests running on Device Farm (see https://pub.dev/packages/sylph) so could test using the `--no-build` option on several iOS devices. This problem did not show-up.

Tried running on Device Farm with a close equivalent (iPhone 5c, model: A1532, os: 10.3.1) of my test device (iPhone 5, model: NE493LL/A 14G60??, os: 10.3.3) but ran into a different problem. I am going to

[2019-06-22 06:38] #34148 closed

[2019-06-22 06:41] vibhuvardhansingh commented on #22195
Did you try to make another branch of the project and connect it with a different firebase project by parsing the .JSON file.

[2019-06-22 06:42] jaceshim commented on #29092
same issue!
E/AndroidRuntime(19943): FATAL EXCEPTION: main
E/AndroidRuntime(19943): Process: nomad9.unsego.user, PID: 19943
E/AndroidRuntime(19943): java.lang.IllegalStateException: Reply already submitted
E/AndroidRuntime(19943): 	at io.flutter.embedding.engine.dart.DartMessenger$Reply.reply(DartMessenger.java:126)
E/AndroidRuntime(19943): 	at io.flutter.plugin.common.MethodChannel$IncomingMethod

[2019-06-22 06:49] mmcc007 commented on #28662
I've been using the `--no-build` option on several iOS devices on AWS Device Farm using https://pub.dev/packages/sylph and it works great.

However, for Android devices it has a dependency on the Android SDK to get the app id. This requires installing the Android SDK. For the environment on Device Farm this is a big inconvenience (eats into your billing and time waiting for test to finish).

Inste

[2019-06-22 06:59] uuttff8 opened #34908 "Feature request for creating project for desktop, mobile, web targets"
## Description

Hello, I introduce support creating flutter project for many targets. My incomplete pull request that is can create a project just by chose the target. My fork: https://github.com/uuttff8/flutter/tree/complex-flutter-create

## Video:

![ezgif-1-6b94ed9c6f64](https://user-images.githubusercontent.com/40335671/59960670-47cb6380-94d4-11e9-8c59-7da0054f6f77.gif)

## Unresolved:

- [ ]

[2019-06-22 07:05] nimesh1997 commented on #30213
@benadrasni So how to generate apks for both platforms( arm64 and arm) without missing libflutter.so files?

[2019-06-22 07:13] mmcc007 opened #34909 "flutter driver --no-build: remove Android SDK dependency for use in AWS Device Farm"
## Use case

I developed a package that enables running integration tests on AWS Device Farm (see https://pub.dev/packages/sylph). It uses the `--no-build` option for iOS devices successfully.

However, for android devices `--no-build` has a dependency on the Android SDK to get the app id (like com.example.example), requiring installing the SDK before running the test. This runs-up the billing and

[2019-06-22 07:40] hamzam999 opened #34911 "how to connect app to a local database and retrieve data to make a dynamic view?"
I am making an app for an existing website, I have a login page which has different users like admin, faculty, etc. How can I create a dynamic view which will work for every user?

[2019-06-22 07:41] windvip commented on #26366
Thread 15 name:  tmreader.1.gpu
Thread 15 Crashed:
0   libGPUSupportMercury.dylib          0x00000001a09f4efc gpus_ReturnNotPermittedKillClient + 12
1   AGXGLDriver                         0x00000001a4b63238 156216
2   libGPUSupportMercury.dylib          0x00000001a09f5edc gpusSubmitDataBuffers + 176
3   AGXGLDriver                         0x00000001a4b64734 161588
4   GLEngine

[2019-06-22 07:42] KARIMSUNEEL opened #34912 "Your Xcode (1) is too outdated & Your Command Line Tools are too outdated"
I have installed latest version of X code from app store (Xcode 10.2) but I am still getting the below error

Suneels-MacBook-Pro:~ suneel$ brew install --HEAD usbmuxd
Error: Your Xcode (1) is too outdated.
Please update to Xcode 8.2 (or delete it).
Xcode can be updated from
  https://developer.apple.com/xcode/downloads/

Error: Your Command Line Tools are too outdated.
Update them from Software U

[2019-06-22 07:42] hamzam999 commented on #34911
I am making an app for an existing website, I have a login page which has different users like admin, faculty, etc. How can I create a dynamic view which will work for every user?

[2019-06-22 07:49] TrackerWob commented on #34629
I install the same envirment at first time. But it doesn't work with the same problem.It confuses me.

[2019-06-22 08:01] komapeb commented on #12114
@RaresMihalcea it's set for the [Future](https://github.com/flutter/flutter/milestone/10) milestone (Due by January 01, 2033), which is somewhat disturbing, considering the importance of this feature. I suspect missing support for native admob ads is a game-changer for a lot of developers.

[2019-06-22 08:08] bpadhiyar4 opened #34913 "Unable to open 'xmltree'"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter run

## exception

String: Exit code 1 from: C:\Users\admin\AppData\Local\Android\Sdk\build-tools\28.0.3\aapt dump xmltree E:\Flutter App\first_app\build\app\outputs\apk\app.apk AndroidManifest.xml

[code]

## flutter doctor

[code]

[2019-06-22 08:13] windvip commented on #26366
please see this doc， but i dont know how to fix it ：
https://developer.apple.com/library/archive/qa/qa1766/_index.html

[2019-06-22 08:16] komapeb commented on #33427
@ZichangG considering this, is it safe to say that, to avoid this behavior, we should be using `async` and `await` in combination with `try...catch` blocks, instead of `someFuture.then(...).catchError(...)`?

[2019-06-22 08:20] windvip opened #34914 "Flutter Crash: _gpus_ReturnNotPermittedKillClient"
**Flutter is embedded in my ios application. I found a crash. The possible reason is that the Apple system does not allow applications to be drawn using OpenGL after being placed in the background. But I don't know how to solve this problem.**

env：
[code]
crash stack
[code]

[2019-06-22 08:23] windvip commented on #34914
Possibly the same question:  [https://github.com/flutter/flutter/issues/26366](https://github.com/flutter/flutter/issues/26366)

[2019-06-22 08:23] NitinSharma639 opened #34915 "Failed assertion: line 263 pos 16: I/flutter (20345): 'child == null || indexOf(child) > index': is not true."
I am loading images from network in ListView. When I push new widget using

[code]

When user tap on first image it works fine but if user tap on third image and come back to same screen it shows error which is following

[code]

[2019-06-22 08:25] minh98 commented on #31922
worked for me with `flutter build appbundle`
[https://github.com/flutter/flutter/issues/18494#issuecomment-489807239](url)

[2019-06-22 08:27] tylorvan commented on #34914
I found the same crash in our App

[2019-06-22 09:00] panthe opened #34917 "InAppPurchaseConnection.instance.isAvailable() hangs"
Hi,
I'm trying to migrate from flutter_inapp_purchase 0.9.2 to in_app_purchase 0.2.0.
For now I'm simply try to adapt the example show in in_app_purchase for show the list of products that I've in my app, but InAppPurchaseConnection.instance.isAvailable() hangs if I  post a valid sku in my list of products.
If I use only the skus showed in the example the InAppPurchaseConnection.instance.isAvailab

[2019-06-22 09:13] mtin79 commented on #26945
+1 same issue.
Just did $ flutter upgrade.
Now running a freshly created flutter app via vscode in debug mode doesn't hot reload any longer and i get the error:
"Lost connection to device."

[2019-06-22 09:22] DanTup commented on #25011
@NoobBaez I don't think either of those are related to this. Could you open an issue at https://github.com/Dart-Code/Dart-Code for the first issue (with the log)?

The second issue looks like it might not be able to find `git`, but there's also an error that I've seen when trying to run in a  third party shell (like Git Bash or similar), so may be https://github.com/flutter/flutter/issues/8860. If

[2019-06-22 09:39] 0rAX0 commented on #32723
I've been having issues with this for a while now. Not sure if this is the right place to put the file but here it is:

[dartlog.txt](https://github.com/flutter/flutter/files/3316705/dartlog.txt)

I have a widget that I want to wrap with a GestureDetector but I'm not getting auto-complete. Before today autocomplete would stop working for all widgets everywhere.

[2019-06-22 10:31] SPodjasek commented on #34138
@ivtod This is the simplest possible solution that works for me. My WebView contents were 100% static and maybe because of that, I haven't noticed any extra white space. If your is in any kind dynamic, even when you use some lazy loading web fonts you would have to think of some other solution to fetch final body height, using event listeners on DOM - maybe snippet below will give you better resul

[2019-06-22 10:41] liaoweiguo commented on #34235
reproduce on win10.

[2019-06-22 10:41] kafein commented on #34691
Thanks for suggestion but these keys already exists in Info.plist.

/cc @cyanglaz (I think you are code owner for this plugin.)

[2019-06-22 10:44] mraleph commented on #15288
@dnfield Given that we are not really emitting bitcode for snapshot - then I guess there no reason for us to emit actual bitcode for Flutter engine itself. So we could probably do a `__LLVM,__asm` trick to the engine itself. It is just not entirely clear to me how to do it, short of post processing all `.o` files before they get into the linker.

[2019-06-22 11:08] krishnakeshan commented on #34569
Any resolution for this??

[2019-06-22 11:21] ping996 commented on #34569
no solutions   Any idear

| |
吴川平
邮箱：wcpstone@126.com
|

签名由 网易邮箱大师 定制

On 06/22/2019 19:09, Krishna Keshan wrote:

Any resolution for this??

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-22 11:29] sabdelhay commented on #29879
Hello,
I have followed your solution, but unfortunately after a successful build, and install the application crashed at the startup.
What do you think is the problem here?
Thank you,

[2019-06-22 11:54] hamidrezabstn commented on #34773
if i put webview inside a container with fix height of 2000.0 then android webview will crash!

[2019-06-22 11:55] zolzaya commented on #27682
Any updates?????

[2019-06-22 11:59] benadrasni commented on #30213
@nimesh1997 see point 4

[2019-06-22 12:01] KonstantinKai commented on #34498
@Loopex2019 I found a solution that fixes this issue on [stackoverflow](https://stackoverflow.com/questions/49946153/flutter-camera-appears-stretched)

[2019-06-22 12:12] Praveena0989 opened #34920 "Webview Plugin: is there any loadDataWithBaseURL alternative?"
In the android version of my app, I use `loadDataWithBaseURL` to load the local HTML file and I use it to play youtube videos using youtube JS SDK.
`loadDataWithBaseURL("https://www.youtube.com", htmlPageString, "text/html", "utf-8", null)`

In flutter, I am able to load the local HTML file but I am not able to play youtube video as Youtube throws video not available error and I used to get same e

[2019-06-22 12:22] nimesh1997 commented on #30213
@benadrasni Ok so its still a issue in flutter.

[2019-06-22 13:01] ReinBentdal opened #34921 "Parameter access Widget directly"
This is what i want to acomplish:
[code]
or
[code]
Since the function expects a FontWeight, it should be possible to directly access the widget/enum/class without having to write it.

[2019-06-22 13:04] calvinmuller commented on #34900
Take a look at https://github.com/flutter/flutter/blob/master/examples/flutter_gallery/lib/gallery/backdrop.dart it is used in there.

[2019-06-22 13:26] Hvkvn commented on #34801
Yes it should be rect.longestSide.

[2019-06-22 13:32] Sachinsowri opened #34922 "'StethoHttpClientResponse' is missing implementations for these members: - HttpClientResponse.compressionState in flutter_stetho"
I am tried to use flutter_stetho package when it Complie the complier shown ..

Launching lib/main.dart on Android SDK built for x86 in debug mode...

Compiler message: file:///home/administrator/softwares/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_stetho-0.2.2/lib/src/http_client_response.dart:4:7: Error: The non-abstract class 'StethoHttpClientResponse' is missing implementations for the

[2019-06-22 13:32] kleinpetr commented on #16054
this plugin solved all my problems

https://pub.dev/packages/file_picker

[2019-06-22 13:56] zjuwjf commented on #34395
At present, the problem of "Action" name has greatly affected the developer's experience, not only within the xianyu team, but also in other teams whose projects relies heavily on the fish-redux.

As fish-redux-based projects continue to upgrade to 1.7,  this problem will become more common and serious,  it will make the code compiled fail, and there are many files to be modified.

The [hide] or [

[2019-06-22 14:12] ReinBentdal commented on #34921
Moved to a dart issue: https://github.com/dart-lang/language/issues/417

[2019-06-22 14:12] #34921 closed

[2019-06-22 14:29] yousifk commented on #21682
@sestegra
I check your project,that all asset  adds to apk becuase

[https://flutter.dev/docs/development/ui/assets-and-images#from-packages](https://flutter.dev/docs/development/ui/assets-and-images#from-packages)

SceenShot about analysis apk
[https://imgur.com/2HmGHC1](https://imgur.com/2HmGHC1)

[2019-06-22 14:30] aabanaag opened #34924 "image_picker not asking permission for ImageSource.gallery"
I submitted my app on iOS and it got rejected due to lack of explanation regarding the use of Camera. I just added `App name needs to access the camera.` hence I updated it and found-out that when I have the source to `ImageSource.gallery` it doesn't ask for permission. Is this the default behaviour, although I don't save anything to the gallery I just use it as another source when uploading profi

[2019-06-22 14:33] NoobBaez commented on #25011
Thanks for the observation, here it is #1815

[2019-06-22 14:49] GuilhermeVendramini commented on #33827
Same problem

[2019-06-22 15:10] rolandbodenstaff opened #34925 "Flutter run keeps losing connection to iOS device after few seconds"
When I create a new app and try to run it on an iOS device after a few seconds of running the debug session is terminated. The app itself continuous to function on the device itself but the debugging session stops. On the same mac Android devices work fine, also tried different iOS devices and cables. The output attachment is the output from " flutter run -v".

[code]
[output.txt](https://github.c

[2019-06-22 15:51] jun-hak commented on #32678
The debug console error has to do with "FontManifest.json".
See https://www.didierboelens.com/2019/05/flutter-for-the-web/

[2019-06-22 16:05] ricricucit commented on #25870
Just trying flutter for my first time. I successfully run `flutter doctor` only once...now it gives not results:

`flutter --version`

[code]

[2019-06-22 16:47] sestegra commented on #21682
@yousifk  Good remark, but I won't have time to update my pull request #25487 to support further versions. In fact, this pull request only supports Flutter 1.0.0.

Moreover, I guess that Flutter team wouldn't integrate it in short terms.
I suggest you to develop some scripts to update `pubspec.yaml` when compiling different flavors and/or targets.

[2019-06-22 17:26] tatemz opened #34926 "Support shorter dev/testing cycles"
## Use case

For those of us that use TDD or heavily rely on unit testing, we need to be able to re-run our tests quickly and view the coverage report quickly. Opening the browser to view the coverage report takes to long to support short dev cycles.

## Proposal
Pull some features/use-cases from the [Jest](https://jestjs.io/docs/en/cli#running-from-the-command-line) testing framework like watchin

[2019-06-22 18:03] marcglasberg opened #34929 "Timestamp class (cloud_firestore package) miscalculates microseconds and milliseconds"
To test the `Timestamp` class in "Timestamp.dart" file, try this:

    int _kEndOfTime = 253402300800;
    var maxTimestamp = Timestamp(_kEndOfTime - 1, _kBillion - 1);
    Timestamp.fromMicrosecondsSinceEpoch(maxTimestamp.microsecondsSinceEpoch)

You get this error:

    Invalid argument(s): Timestamp seconds out of range: 253402300800

The problem is the use of double (floating point) in calcula

[2019-06-22 18:41] sandeepsoni25 commented on #27682
Yes dear i have been removed multi dex

Yes dear I have been solved this problem....

just follow steps:

               In Android

If you are facing like error with your android project like :
1.  Cannot fit requested classes in a single dex file (# methods: 66875 > 65536)

	If give this type error, Please dont worry about for this.

  declare dependancy in your build.gradle file

[2019-06-22 18:57] ashokpoudelap commented on #25009
any update on this bug

[2019-06-22 19:01] OscarKolsrud commented on #14991
I fixed it by choosing the pixel 2 with android pie as demonstrated in this video i found: https://www.youtube.com/watch?v=6gS0_s2K_gk

[2019-06-22 19:31] jaumard opened #34930 "Flutter MacOS desktop error"
I having no problem on Android and iOS, but once I try to launch on macOS, I'm getting an error when I push a new route (only after my animated button finish, without animation no error).

Here is the error:
[code]

To reproduce:

[code]
It use `flutter_hooks`.

Env:
[code]

[2019-06-22 19:35] sabdelhay commented on #32595
Hey,
Try this solution, it worked for me
https://github.com/flutter/flutter/issues/29879#issuecomment-504657507

[2019-06-22 19:36] Hosar commented on #16957
Cool thanks @FrankFang `Divider` that works for me.

[2019-06-22 20:19] kwight opened #34931 "Web: GestureRecognizers in nested TextSpans do not work."
If I have nested `TextSpan`s in a `RichText` widget, adding a `GestureRecognizer` to the top level `TextSpan` will work fine, but adding one to a nested `TextSpan` will not. This is only an issue with Flutter for web, not standard Flutter.

This works:

[code]

This does not:

[code]

If both are present, the parent will win (I assume this is intended behaviour).

My use-case is nested spans to be

[2019-06-22 21:06] Tormenator1 opened #34933 "Firebase analytics not recognized."
When I attempt to use firebase analytics like this
`import 'package:firebase_analytics/observer.dart';`
I get a error that says the target of the URI doesn't exist. Here's the dependencies section of my pubspec.yaml

`dependencies:
  audioplayers: ^0.12.0
  flutter:
    sdk: flutter
  firebase_core: ^0.4.0+6
  firebase_analytics: ^3.0.3
  cupertino_icons: ^0.1.2`

Thanks.

[2019-06-22 21:36] neiljaywarner opened #34935 "Firebase remote config dep resolution error 16.03 vs 16.1"
Followed instructions with https://pub.dev/packages/firebase_remote_config#-readme-tab- and got an error

(I also set min API to 21)
flutter doctor
/Users/neil/flutter/flutter/bin/flutter doctor --verbose
[code]

[2019-06-22 21:39] dnfield commented on #26503
I'm going to try to talk offline with @Hixie about this some more, but I'm wondering if this is really going to be doable.

If we pause or otherwise set a breakpoint on the Isolate, the reload doesn't make progress.  From what I can tell, the reload test that involves breakpoints is doing something else.

I did modify the Dart VM reload logic to invoke something that calls me back so that reassemb

[2019-06-22 21:40] neiljaywarner commented on #34935
FWIW, it does resolve it to do the below but a link or better documentation might help someone besides me, or better yet, getting them to not conflict in the first place..
[code]

[2019-06-22 22:36] rrousselGit commented on #26503
How would that work? Locking builds?

That would work for me. My only requirement is that build doesn't get called before I get notified of an implementation change.

____

After another shot at that issue, in my situation, it's not as important as I originally thought.
I did get multiple reports of peoples falling for that bug, but it's not on a critical level.

Considering that it happens only i

[2019-06-22 23:40] timsneath opened #34937 "Hot reload message formatted badly on Windows"
The hot reload message isn't formatted correctly on Windows -- see the missing Unicode characters in the image below, using the standard command prompt:
![image](https://user-images.githubusercontent.com/2319867/59969813-e1face00-950b-11e9-8ccc-c229ed14ea62.png)

FWIW, this displays correctly on the new Windows terminal, but that's not released yet:
![image](https://user-images.githubusercontent.c

[2019-06-22 23:51] MorochoRochaDarwin opened #34938 "Socket.IO-Client-Swift not work on iOS with swift"
I am using platform channels with swift to create my custom socket-io module , I have been created my socket host with nodejs and socket-io.

With react native (Native Modules with swift)  it works fine but in Flutter I can connect with my socket host but after few time the flutter app automatically disconnect to the socket and the `emit` and `on` methods of Socket.IO-Client-Swift not work.

If th

[2019-06-22 23:59] VB10 commented on #20438
@swissonid i think no 😢  i'm waiting new update.

[2019-06-23 00:51] SethuSenthil opened #34940 "Gradle exiting abnormally on debug"
## Steps to Reproduce
1.  Add flutterfire dependencies and google sign-in pubspec and Android
2. flutter run

## Logs

[code]

[code]

[2019-06-23 01:12] listepo commented on #34900
@ADLsourceCode => [AnimatedIcon (Flutter Widget of the Week) ](https://www.youtube.com/watch?v=pJcbh8pbvJs)

[2019-06-23 01:16] Lenny-Hu commented on #6724
我换成api28后，成功运行

[2019-06-23 02:43] bpadhiyar4 commented on #31065
r u solved this error??

[2019-06-23 02:51] AnkuranDas commented on #31065
Nope😔😔

On Sun, Jun 23, 2019, 8:15 AM Bharat Padhiyar <notifications@github.com>
wrote:

[2019-06-23 03:33] codesundar commented on #34834
It seems like working!

You might need to do **hot reload**

[code]

[2019-06-23 03:50] hamidrezabstn commented on #34647
same issue here

[2019-06-23 04:05] tvolkert commented on #34881
It looks like there's some confusion around what's triggering this warning message in the Android community.  [Here's an example](https://www.reddit.com/r/androiddev/comments/c38b5r/weve_detected_that_your_app_is_using_an_old/erseflk/) of it being triggered by the use of the Jenkins Google Android Publisher plugin to upload the app to the Play Store.

/cc @collinjackson @bparrishMines for the `fir

[2019-06-23 04:09] tvolkert commented on #34881
https://github.com/flutter/plugins/blob/410095a1bae31e888d0f9d668510190c9eda5102/packages/firebase_analytics/android/build.gradle#L48

I don't see any suspicious dependencies in `firebase_analytics`...

@RedBrogdon let me know if you're able to reproduce this next time you upload an app.

[2019-06-23 04:14] hamidrezabstn commented on #34647
related issue  #34773

[2019-06-23 04:38] tvolkert commented on #34881
Looking through our entire plugins repo and the https://developers.google.com/android-publisher/libraries, I don't see any references to that API anywhere in our plugins (either in Gradle files or the Java code).

[2019-06-23 05:42] Jasson0 opened #34941 "Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V"
I add flutter to a existing app.When my version was 1.2.1, it worked fine。
But when i upgrade my flutter sdk from 1.2.1 to 1.5.4-hotfix.2。A runtime error occurred

2019-06-23 13:33:12.992 30778-30778/com.example.mixflutter E/art: Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V in /data/app/com.example.mixflutter-1/base.apk
2019-06-23 13:33:12.993 30778-3077

[2019-06-23 05:42] Jasson0 opened #34942 "Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V"
I add flutter to a existing app.When my version was 1.2.1, it worked fine。
But when i upgrade my flutter sdk from 1.2.1 to 1.5.4-hotfix.2。A runtime error occurred

2019-06-23 13:33:12.992 30778-30778/com.example.mixflutter E/art: Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V in /data/app/com.example.mixflutter-1/base.apk
2019-06-23 13:33:12.993 30778-3077

[2019-06-23 05:42] Jasson0 opened #34943 "Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V"
I add flutter to a existing app.When my version was 1.2.1, it worked fine。
But when i upgrade my flutter sdk from 1.2.1 to 1.5.4-hotfix.2。A runtime error occurred

2019-06-23 13:33:12.992 30778-30778/com.example.mixflutter E/art: Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V in /data/app/com.example.mixflutter-1/base.apk
2019-06-23 13:33:12.993 30778-3077

[2019-06-23 05:42] Jasson0 opened #34944 "Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V"
I add flutter to a existing app.When my version was 1.2.1, it worked fine。
But when i upgrade my flutter sdk from 1.2.1 to 1.5.4-hotfix.2。A runtime error occurred

2019-06-23 13:33:12.992 30778-30778/com.example.mixflutter E/art: Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V in /data/app/com.example.mixflutter-1/base.apk
2019-06-23 13:33:12.993 30778-3077

[2019-06-23 05:42] Jasson0 opened #34945 "Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V"
I add flutter to a existing app.When my version was 1.2.1, it worked fine。
But when i upgrade my flutter sdk from 1.2.1 to 1.5.4-hotfix.2。A runtime error occurred

2019-06-23 13:33:12.992 30778-30778/com.example.mixflutter E/art: Failed to register native method io.flutter.embedding.engine.FlutterJNI.nativeDetach(J)V in /data/app/com.example.mixflutter-1/base.apk
2019-06-23 13:33:12.993 30778-3077

[2019-06-23 05:43] #34941 closed

[2019-06-23 05:43] #34942 closed

[2019-06-23 05:43] #34943 closed

[2019-06-23 05:44] Jasson0 commented on #34944
repeated

[2019-06-23 05:44] #34944 closed

[2019-06-23 06:43] atereshkov commented on #29608
If I recall correctly, I had a problem after switching to the new MacBook. So I've fixed it creating all the keystore things one more time. I mean signing configs, kjs, etc.
But this is how I remember it, it's been a while. I can dig into it if you really need to.

[2019-06-23 06:53] basselch commented on #34924
Did you make sure to add `NSPhotoLibraryUsageDescription` and `NSCameraUsageDescription` to `ios/Runner/Info.plist` as described [here](https://github.com/flutter/plugins/tree/master/packages/image_picker#ios)?

[2019-06-23 07:04] basselch commented on #34868
Sometimes you make changes to your gradle files (to add some dependencies) and AndroidManifest (to add permissions) or to some files in the ios folder like `Info.plist`, and you want these changes to be tracked, otherwise the app may not compile/work properly after downloading a new clone.

[2019-06-23 07:07] basselch commented on #34795
Can you please link the problem/issue you're referring to?

[2019-06-23 07:29] lupming commented on #28550
@DuskMount I have no effect.

[2019-06-23 07:48] Smarto-Dev commented on #28328
@ffeu I have specified all versions specifically in `pubspec.yaml` . can you recommend any specific version that I should use to avoid this error?

[2019-06-23 07:53] namiwang opened #34946 "resizeToAvoidBottomInset doesn't work in Cupertino"
# repro

[code]

# what happened

![flutter_ios_keyboard_bug](https://user-images.githubusercontent.com/1160688/59973205-ed62fd80-95ce-11e9-88c4-eb3165b3438d.gif)

# what's not expected

- the widget in `Center` changed position but is still not being centered.

[2019-06-23 08:02] quangson91 opened #34947 "FutureBuilder rebuilds unnecessarily when navigate between screens."
## Steps to Reproduce

1. Run bellow code.
2. Just moving between two screens.
3. After navigate -> the futurebuilder is recalled.

Notes:
I already checked in other issues but seems it doesn't work.
[code]

Demo
[code]
## Logs

[code]

[2019-06-23 08:05] aqibfareex commented on #28328
@ffeu  can you recommend any specific version that I should of `firebase_core` use to avoid this error?

[2019-06-23 08:17] walaoehh commented on #30658
any workaround for this?

[2019-06-23 08:36] GAM3RG33K commented on #17168
Mine is stuck at suggestions for hours. All I can do is terminate.
I used two commnds to test the plugin's publishing with dry-run flag.

Here is the output on console (only suggestion part is presented here) :
1) issue: Does not stop execution
command: `flutter pub publish -dry-run`
log file:
[command_logcat_1.txt](https://github.com/flutter/flutter/files/3317634/command_logcat_1.txt)

2) issue:

[2019-06-23 09:58] Neerav006 commented on #34009
I have same issue in listview builder while filter list the app crashes.

[2019-06-23 10:57] mraleph opened #34949 "on desktop TextField lacks a lot of native keyboard reactions"
Create a (multiline) `TextField` in a desktop application. Try the following hotkeys:

1. arrow up and arrow down (expected that caret moves up and down - however nothing happens in reality).
2. SHIFT + cursor arrows (expected to create selection - nothing happens)
3. CMD+A (expected to select all content - nothing happens)
4. select some text press DELETE (expected to delete selected text - nothi

[2019-06-23 11:31] langaro commented on #20042
Yes, exactly. Thanks!

[2019-06-23 11:48] benedicte69 opened #34950 "flutter build appbundle command"
[flutter_01.log](https://github.com/flutter/flutter/files/3317804/flutter_01.log)

[2019-06-23 11:53] joharei opened #34951 "CupertinoDatePicker's time picker doesn't honor minimumDate and maximumDate"
## Use case

I need to limit both the date _and_ time that the user can pick in `CupertinoDatePicker`. The constructor parameters `minimumDate` and `maximumDate` take `DateTime` values, but it seems only the date part is taken into consideration.

## Proposal

When I scroll to a time outside the limits of `minimumDate` or `maximumDate`, I want the picker to scroll back to the closest valid time, j

[2019-06-23 12:03] ykorzikowski commented on #32701
still an issue.

Workaround:

Add     padding: EdgeInsets.all(10), to CUpertinoButton

[2019-06-23 12:07] Tareque16 commented on #21421
The solution is in your plugins pubspec.yaml. Just change the environment sdk setup please

environment:
  sdk: ">=2.0.0-dev.58.0 <3.0.0"

[2019-06-23 12:07] phanirithvij commented on #24645
I got the same error. With no debuggable error message.
[code]

[2019-06-23 12:12] phanirithvij commented on #24645
So after I followed @zoechi's suggestion that was mentioned here https://github.com/flutter/flutter/issues/23727#issuecomment-435002348.
i.e. Replacing `distributionUrl=https\://services.gradle.org/distributions/gradle-5.1.1-all.zip` with `distributionUrl=https\://services.gradle.org/distributions/gradle-4.10.2-all.zip`
I got the same error but with a debuggable solution this time.

[code]
It was

[2019-06-23 12:21] tb2761 commented on #32701
okay, thanks for the workaround

[2019-06-23 12:22] heinrichreimer opened #34952 "Make _TextFieldState visible"
## Use case

To alter the appearance of a `TextField`, we need to override its state's `build()` method. Currently the `_TextFieldState` is invisible, so we can't extend this class. Neither can we extend `TextField`, as that would require to override `createState()` which requires a `_TextFieldState`.

## Proposal

Changing the `_TextFieldState` visibility to public would solve those issues. We wo

[2019-06-23 12:23] s-a--m commented on #20781
flutter simple don't work with default androidstudio/intellij idea setup.
Im using android build tools 3.4.1 and gradle 5.5-rc3-all

[2019-06-23 12:53] chauhannaman98 commented on #22337
Hello there,

I am getting a similar issue with my flutter code. For reference, here is the repository of my work: https://github.com/chauhannaman98/pokeApp

[2019-06-23 13:26] hajola opened #34953 "Aspectratio behaves unexpectedly"
I was trying to make a materialbutton widget in to a square. And I want 4 of those buttons to forma square of their own. Like this:

![image](https://user-images.githubusercontent.com/2881062/59976902-66645400-95d3-11e9-9532-02bb52af2ddd.png)

So I tried this:
[code]

I expected to have a square materialbutton on the top left corner, but I just got an empty(green colored) screen. However when I ju

[2019-06-23 13:26] HadiSDev commented on #28449
@Shafiwardak I also have your issue. White page, and :

E/flutter ( 8096): [ERROR:flutter/shell/common/shell.cc(184)] Dart Error: error: import of dart:mirrors with --enable-mirrors=false
E/flutter ( 8096): [ERROR:flutter/shell/common/engine.cc(175)] Could not prepare to run the isolate.
E/flutter ( 8096): [ERROR:flutter/shell/common/engine.cc(122)] Engine not prepare and launch isolate.
E/flutter

[2019-06-23 13:41] cyb3rs4pi3n commented on #27680
https://github.com/flutter/flutter/pull/34948

[2019-06-23 13:43] elidoran commented on #19805
Thank you @ipereto

The shortest version of that solution is:  _use sdkmanager to download the necessary tools_.

The short version of that solution is after downloading and unzipping the android CLI "tools", which has `sdkmanager`, run `sdkmanager --list` to see the available stuff and then download the most recent ones for **platforms**, **platform-tools**, and **build-tools**.

Example:

    sd

[2019-06-23 13:49] janLuke commented on #34009
@Neerav006 You may want to press "thumb up" on the issue then (see the [issue policy](https://github.com/flutter/flutter/wiki/Issue-hygiene#thumbs-up-reactions). Have you tried your app in multiple devices/emulators? Which crash and which don't?

@jason-simmons How many devices have you tried?

[2019-06-23 13:56] HadiSDev opened #34954 "Error 105 received from application: Isolate must be runnable"
## Steps to Reproduce

[code]

I don't know how the error occurred. The main function is correctly setup. I have tried multiple forum post but nothing worked

## Logs

        +65 ms] Scanned through 439 files in 60ms
[   +1 ms] Syncing files to device Android SDK built for x86...
[        ] Scanning asset files
[  +10 ms] Compiling dart to kernel with 0 updated files
[   +2 ms] <- recompile packa

[2019-06-23 13:57] GerlanStanley opened #34955 "Problem with firebase cloud messaging calling onlaunch more than once"
Hello everyone, I noticed a possible problem with the firebase cloud mesaging on the flutter. I will try to detail what happened:

1 - You were finished with the app and got a notification
2 - Click on the notification, onlaunch is triggered (display an alertdialog with the notification data)

Until this moment everything normal.

3 - I leave the app in the background (do not close it) for a long

[2019-06-23 13:59] HadiSDev commented on #34954
I have also tried to just return a simple MaterialApp in main.dart instead:
`    return MaterialApp(
      color: Colors.blueAccent,
    );`
But that does not work either

[2019-06-23 14:44] rolandbodenstaff commented on #34925
What I also noticed was that on the emulator the connection is not lost. When I deploy from xCode the debug session is maintained but obviously I can't debug dart code from there. Is there anyway I can get more information as to why the connection is lost?

[2019-06-23 15:17] Renesanse opened #34956 "Remove default paddings and margins from material and Cupertino Widgets. Or make it customizable"
Well, Card has a margin parameter in the constructor, what about buttons? Default Paddings and margins break my design. I know about Material Widget, but I want to write less code as Possible.

[2019-06-23 15:24] sabinbajracharya commented on #34760
Did you find any solution? It's happening even in newly created project after enabling proguard with "minifyEnabled: true" and building apk in release mode.

[2019-06-23 15:37] dhawalmehta22 commented on #25009
Yes we should definitely close this issue.
as i think that we have got a good resolution to the issue (#25009)

On Sun, Jun 23, 2019 at 12:28 AM Ashok poudel <notifications@github.com>
wrote:

[2019-06-23 16:04] tliwyl commented on #31534
I have the same problem,Have you solved it? @SinonHub

[2019-06-23 16:16] tliwyl opened #34957 "Can not install usbmuxd"
litaodeMacBook-Pro:~ litao$ brew install --HEAD usbmuxd
==> Cloning https://git.sukimashita.com/libusbmuxd.g
Updating /Users/litao/Library/Caches/Homebrew/usbmuxd--git
==> Checking out branch master
Already on 'master'
Your branch is up-to-date with 'origin/master'.
HEAD is now at affc9af Convert README to markdown and update links
==> ./autogen.sh
Last 15 lines from /Users/litao/Library/Logs/Home

[2019-06-23 17:04] sabinbajracharya commented on #34760
Opening the android project in Android studio and updating the gradle wrapper to v5.1.1 and gradle build tools to v3.4.0 seems to have fixed the issue for me.

[2019-06-23 17:15] dhawalmehta22 commented on #25009
Yes we should definitely close this.
As we have got the desired resolution to the issue we were facing

[2019-06-23 17:17] MehmetBal commented on #31556
This issue still persists. I can open the site from mobile but not on mac os from any browser, any workarounds?

[2019-06-23 18:28] janLuke opened #34958 "Improve Icon rendering of rectangular icons"
## The problem
Any non trivial app is likely to use external icon package, like FontAwesome, which not always have perfectly squared icons. Unfortunately, rectangular icons are not guaranteed to being rendered correctly and in fact, they're not. For example, they are not properly centered: https://github.com/flutter/flutter/issues/24054.

Another thing you may consider a "problem" is that differen

[2019-06-23 19:12] lukepighetti opened #34959 "During development, Flutter app on iOS occasionally won't launch"
I just added assets to my project and now the app won't launch on iOS. I haven't tested on Android. If I remove the assets from `pubspec.yaml` it will launch.

I added a 7kb png file like this (green).

<img width="407" alt="Screen Shot 2019-06-23 at 3 19 36 PM" src="https://user-images.githubusercontent.com/666539/59980904-5136f780-95ca-11e9-97cd-de1737b428c3.png">

[code]

Error message:
[code]

[2019-06-23 19:37] devdennysegura commented on #26915
@zoechi, this error has solved, already.

[2019-06-23 19:40] Joaaofiilho commented on #32696
Downgrading to Pie worked for me too!!

[2019-06-23 19:40] rmtmckenzie commented on #25009
@dhawalmehta22 I actually disagree - maybe what I should do is change the title of the bug (which Ive done now). While there are workarounds to fix the particular images I posted, the simplest being to just bump the size to 200.1, the larger issue is that when using flutter for fairly normal things, you get results that are not what you'd expect. That's an issue that I think should remain open.

P

[2019-06-23 19:57] lukepighetti commented on #34959
Alright, I did a restart and it worked. But then after a little bit it quit working again.

[2019-06-23 20:28] aabanaag commented on #34924
yes. I can close this now. I found out that the UIImagePickerController for iOS doesn't need permission to open the camera roll hence it is not asking permission. https://developer.apple.com/documentation/photokit/requesting_authorization_to_access_photos

[2019-06-23 20:28] #34924 closed

[2019-06-23 20:32] jonahwilliams commented on #34959
Is it the action of adding this asset and hot reloading/restarting, or only the presence of it? Does this happen with other assets or in a fresh flutter create project?

[2019-06-23 20:54] lukepighetti commented on #28380
Ran into this today and the situation appears to stem from the following:

Create a PageController
StreamController with child PageView with controller
Conditionally hide PageView if there aren't any pages
Then try to build PageView again and it fails with the error

[code]

[2019-06-23 21:18] 0dd1 commented on #34925
Same issue here. Changing to the master branch did help at all.

[2019-06-23 21:19] rifuso commented on #34925
I have the same problem.

[2019-06-23 21:27] tomgilder commented on #34387
Very early days and half-implemented but you can see an example here: https://github.com/tomgilder/flutter_sign_in_with_apple/blob/master/example/lib/main.dart

API is still evolving and package not ready to be published yet.

[2019-06-23 21:50] elmarou opened #34962 "Gradl task exit code 1"
## Details
how to fix this error

## Logs flutter run -v
     Gradle task assembleDebug failed with exit code 1

[ +109 ms] > Task :app:processDebugManifest UP-TO-DATE
[+1493 ms] > Task :app:processDebugResources FAILED
[   +4 ms]          *********************************************************
[        ] WARNING: This version of firebase_auth will break your Android build if it or its dependenc

[2019-06-23 22:05] brandonhub opened #34963 "iOS [Firestore] Nesting ServerTimestamp field value inside ArrayUnion field value causes crash"
## Steps to Reproduce

Simply nest a **FieldValue.serverTimestamp** inside a **FIeldValue.arrayUnion**...
[code]

## Logs

[code]

## Doctor
[code]

I see the `FIRInvalidArgumentException', reason: 'FieldValue.serverTimestamp() can only be used with updateData() and setData()'` log, but I _am_ using setData here, so I'm a little confused...

[2019-06-23 22:52] harsha973 commented on #32454
I faced the same issue. For me it's because of **wrong crashlytics configuration** in Build scripts.

⛔️ **Wrong configuration - Having Fabric and `xcode_backend.sh` in the same build script.**

<img width="821" alt="Screen Shot 2019-06-24 at 10 25 41 AM" src="https://user-images.githubusercontent.com/1115535/59982878-c1965500-966c-11e9-8251-5ee7c27570e6.png">

To fix this, as mentioned in firebas

[2019-06-23 22:55] wintersandroid commented on #26638
What we need is something like the androids "BuildConfig" class which can be set from the command line or/and from the pubspec.yaml. I would be keen on this.

[2019-06-23 23:08] LongCatIsLooong commented on #30396
This seems to have been fixed on `master`, I'm not able to reproduce it with the sample code. Could you verify on `master` @SaschaZ?

[2019-06-23 23:38] dnfield commented on #26503
I guess the idea is that if the types don't match during build, you just bail out and wait for the "next" build, which will come after reassemble.

[2019-06-23 23:41] dnfield commented on #26503
I've opened https://dart-review.googlesource.com/c/sdk/+/107120/1 to try to improve how early we call reassemble, but with a timer that's firing often enough we still fail this race.  As originally mentioned, we can't pause the isolate (including setting a breakpoint), and disabling timers seems very unsafe.

Even disabling animations (e.g. telling the framework to stop pumping frames for the dura

[2019-06-23 23:48] hobrt-programming commented on #34860
make sure you add API_KEY to the right place in android manifest
`<application
   <meta-data android:name="com.google.android.geo.API_KEY" android:value="<put your api KEY here"/>
...`
and also try
`flutter clean `
and
`flutter build`

[2019-06-24 00:01] #34962 closed

[2019-06-24 00:40] rrousselGit commented on #26503
I don't mind, but I don't see how that would be implemented.
Keeping a reference on `runtimeType`/`build` and compare them with the previous value before each build?

[2019-06-24 00:55] kafein commented on #20438
@dnfield Just wondering, is it technically possible to include engine support with command like
"flutter create project_name --enable-lottie"

[2019-06-24 01:13] dnfield commented on #20438
A few updates:

- I don't think FFI is going to work.We'd have to export symbos from Skia that we don't export to make sense of it.  It also would probably not work on web.
- I looked a little bit at modularizing the engine for this, but that suffers from a lot of the same problems - we'd need a version of dart:ui that has this, and another version that doesn't, we'd need multiple builds of the en

[2019-06-24 01:18] MorochoRochaDarwin commented on #34938
fixed  just define socketManager as a property class

[2019-06-24 01:18] #34938 closed

[2019-06-24 01:20] meggamind commented on #23386
I would like to pick this one up. Can you please assign it to me

[2019-06-24 01:21] elmarou commented on #23794
I'm using the fluttery_audio plugin to play any song from remote
you can use it
https://pub.dev/packages/fluttery_audio

----- ***I migrated my project to android and I met this error with this plugin, can someone help me please***

this is my error
[code]

[2019-06-24 01:32] xster commented on #32937
Is this a deterministically one frame latency issue or does it have an undeterministic delay?

If the former, I wonder if we can get the sequence right be triggering something on viewWillAppear. If the latter, we might need to create something more holistic for rendering latencies both with pre-warmed and cold launched engines https://github.com/flutter/flutter/issues/33494.

[2019-06-24 01:34] timsneath commented on #14991
I'm closing this bug because the original issue is long overridden by other posts, and it's causing confusion to others who are coming here with a new and recent regression.

For those coming to this issue because you're hitting this error message on recent builds, the most likely reason is #33050, which is a [known issue with the current Android Q emulator](https://issuetracker.google.com/issues/

[2019-06-24 01:34] #14991 closed

[2019-06-24 01:38] timsneath commented on #34899
We could really use a little more information, @anonymouse703!

Any chance you could include the results of running `flutter doctor -v` ?

Are you able to successfully run `flutter upgrade`?

[2019-06-24 01:43] timsneath commented on #34719
Hi there, yes. Flutter supports iPad today and we plan to continue to support it in the future.

[2019-06-24 01:43] #34719 closed

[2019-06-24 01:44] MehmetBal commented on #31556
solved: https://support.google.com/chrome/thread/2228098?hl=en

[2019-06-24 02:12] wangjue666 commented on #34954
i have had this problem too.
Did you solve it now?

[2019-06-24 02:32] tarobins commented on #25018
Use case I ran into today:
Trying to position exponents and subscripts by looking at ascender, baselines, etc. https://en.wikipedia.org/wiki/Subscript_and_superscript#Alignment_examples

Still not 100% sure how I'd do it, but seems having those lines available could be useful.

[2019-06-24 02:35] PingShen commented on #34772
@ketanm thanks for giving the advise.
I‘m not reproduce this issue but firebase collect this issue online.
It happens on FlutterActivity.onStop() And may be the first time to enter this page random crash

[2019-06-24 02:48] jiabin87428 commented on #26985
@MurakamiKennzo how to fix it?

[2019-06-24 02:52] xxhenglyxx commented on #31826
It only happens in the simulator, but when installing it on the real device, it works.

[2019-06-24 03:12] eggzotic commented on #11825
@martinmc666 check out flutter_slidable at https://pub.dev/packages/flutter_slidable

[2019-06-24 03:23] #26915 closed

[2019-06-24 03:27] pakyo-pan commented on #33642
@stepforfuture It still crashes on the master branch.
[code]

[2019-06-24 03:35] PingShen commented on #29751
@shoxter thanks
the crash block our procedure of flutter in our apps.

[2019-06-24 03:38] athornz opened #34965 "Hot Reload Crash - Handle check failed: saw 2457858 expected Function"
## Steps to Reproduce

I've seen this issue a lot over the last week with 2 applications I'm working on. I'm not yet sure what exactly is causing this issue.

It occurs when I hot reload, even if code hasn't changed.

## Logs

<details>
<summary>Crash log</summary>

[code]
</details>

<details>
<summary>Doctor</summary>

[code]
</details>

[2019-06-24 04:04] shahidpacmahn commented on #18106
facing the same problem
how to solve?

[2019-06-24 04:35] MurakamiKennzo commented on #26985
@jiabin87428 I can't remember it exactly since it's five month ago, but you can search codesign failed with exit code 1 or IOS codesign on google may help you. It's not flutter problem, a IOS develop problem.

[2019-06-24 04:48] nxSin opened #34966 "[web]: <webdev could not run for this project>"
I run  ```flutter upgrade```,```flutter pub global activate webdev```.then,I can't run web project and terminal print :

[code]

My flutter version:

[code]

webdev version:

[code]

[2019-06-24 05:15] Takeroro commented on #34539
answer myself ==, wrap a contaier and set alignment: Alignment.topLeft done
https://takeroro.github.io/2019/06/24/Flutter-tabBar%E4%B8%80%E5%AE%9A%E8%A6%81%E5%B1%85%E4%B8%AD%E5%90%97%EF%BC%9F/

[2019-06-24 05:15] wagner1343 commented on #34951
I was searching for the same feature

[2019-06-24 05:22] mehdidavarpanah66 opened #34967 "How to prevent reloading all image in listview .builder in set state"

[2019-06-24 05:33] JoeCiou commented on #34833
Assume the code like this:
[code]
[code]

then I must use `localizationTabTitleString` to test:
[code]

I think this is not make sense? or do I miss other way to write BottomNavigationBar test?

[2019-06-24 05:33] mehdidavarpanah66 commented on #34967
also i want keep position of listview .
now listview jump to first in set state

[2019-06-24 05:53] trungvq commented on #34925
I have the same issue
[code]
No problem on my Macbook Pro (10.14.5) though

[2019-06-24 06:05] cwwng commented on #28484
Can you provide a specific version number of the Flutter that has solved this problem? Thank you.

[2019-06-24 06:13] Lanny2016 commented on #19869
Flutter SDK not found  is the magic for the problem of Flutter SDK is not found on specified location

[2019-06-24 06:13] Rehan164 commented on #33900
Thanks man. Got it working. Sorry for the late response. ;)

[2019-06-24 06:14] #33900 closed

[2019-06-24 06:14] inversionesinformaticas commented on #25297
Ni mierda respondieron!

[2019-06-24 06:19] leezicws opened #34968 "12121"
21121

[2019-06-24 06:20] parth22 opened #34969 "i have date format issue in flutter"
in formatted date i got for example 24-00-2019 month value is 00.
![image](https://user-images.githubusercontent.com/13308845/59995851-3621c180-9676-11e9-8856-13f8f56b18c5.png)

[2019-06-24 06:22] MaiReo commented on #15415
This is still an issue as of ```v1.7.9-pre```

[2019-06-24 06:32] nimesh1997 opened #34971 "Flutter image problem in v1.7.4 or later."
flutter/.pub-cache/hosted/pub.dartlang.org/flutter_image-1.0.0/lib/network.dart:73:44: Error: Can't find ')' to match '('.
    return new OneFrameImageStreamCompleter(
                                           ^
file:///home/lucifer/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_image-1.0.0/lib/network.dart:80:5: Error: Expected a class member, but got ')'.
    );
    ^
file:///home/lucifer/f

[2019-06-24 06:34] nimesh1997 opened #34972 "libflutter.so files is not adding for arm64( 64bit devices) only added for armeabi-v7(32bit devices). How to add that for 64bit devices?"

[2019-06-24 06:49] JaviSFH commented on #30916
I've compiled the .aar with the command `$ ./gradlew flutter:assembleDebug`. Afterwards, I set up the project to consume the generated `flutter-debug.aar` instead of the flutter module. At this point I'm able to compile the project and install it, but when I try to reach the flutter code the app crash with the next error:

E/flutter: [ERROR:flutter/runtime/dart_vm_data.cc(19)] VM snapshot invalid

[2019-06-24 06:56] #34706 closed

[2019-06-24 06:59] fly512 commented on #34633
https://github.com/flutter/flutter/issues/31303

I've had this problem for a long time.

[2019-06-24 07:04] tliwyl opened #34974 "can not install usbmuxd width parameter '--HEAD'"
- I'm having problems installing and configuring flutter
- On mac OS Mojave 10.14.5
- Xcode 10.2.1

I excute ：flutter doctor
########
litaodeMacBook-Pro:Cellar litao$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.2.1, on Mac OS X 10.14.5 18F132, locale zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 2

[2019-06-24 07:13] chankongching commented on #23455
in the latest version of brew, after running brew update, those old commands are not working. According to documentation of [https://github.com/flutter/flutter/issues/22595], this is the command to make it work, and the following had fixed my problem
`brew update
brew uninstall --ignore-dependencies libimobiledevice
brew uninstall --ignore-dependencies usbmuxd
brew install --HEAD usbmuxd
brew unli

[2019-06-24 07:33] rajeshzmoke commented on #19033
is there any update with this issue?

[2019-06-24 07:51] GaryQian commented on #33642
Can you try running `flutter clean` and running again? We may need to clean out your dart:UI cache from previous versions

[2019-06-24 08:05] chendanping opened #34975 "ListView shows a blank line in IOS(iphone xs)"
It'e will have a blank line in IOS when i use the ListView widget, but it won't happen in Android.
The red box in the picture below is that blank line, anyone knows how to solve it? ths~
![image](https://user-images.githubusercontent.com/5902039/60001691-9118e000-9699-11e9-9853-7e999d5d1e9d.png)

[2019-06-24 08:20] Neo42 commented on #9638
Hi everyone. I was trying to run the flutter demo app on the Android Studio emulator on Win10. But I got this complaint. Could you please help me?
[code]

[2019-06-24 08:24] debragail opened #34976 "“gen_snapshot” is not optimized for your Mac and needs to be updated."
“gen_snapshot” is not optimized for your Mac and needs to be updated.

Android Studio 3.4.1
Build #AI-183.6156.11.34.5522156, built on May 1, 2019
JRE: 1.8.0_152-release-1343-b01 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.4

[2019-06-24 08:29] Pebsie commented on #12114
Reached a point where we've had to tell a client "We can do everything you need, Flutter is amazing, but we cannot do native ads on iOS." It feels insane that this isn't being considered a big deal when it's a deal breaker for some coming to this framework. Google plz!

[2019-06-24 08:34] kankedelangzi commented on #16332
if you have run    rm ......lockfile, you should chmod

[2019-06-24 08:35] namiwang opened #34977 "feature request for more border styles"
`border-style` in css got options like `inset` which is not possible to simulate with combinations of `BorderSide`, thus this request.

ref: https://developer.mozilla.org/en-US/docs/Web/CSS/border-style

[2019-06-24 08:38] miDeb commented on #34969
"mm" stand for minutes. For months use "MM".

[2019-06-24 08:58] #34972 closed

[2019-06-24 08:58] JoeCiou commented on #34833
Feel embarrassed. I should use `flutter_driver` to make sense.
Ref this [link](https://stackoverflow.com/questions/55460993/flutter-driver-test-bottomnavigationbaritem).

[2019-06-24 09:12] nimesh1997 commented on #29710
For arm64 you should upgrade your flutter version to 1.7.4 or later and then it automatically added libflutter.so to arm64 and armeabi-v7. But it shows some error so you should comment those its a temporary solution you should wait for the stable.
[renefloor/flutter_cached_network_image#171 (comment)](url)

[2019-06-24 09:25] DylanXing commented on #34925
same issue

[code]

[2019-06-24 09:29] sjindel-google commented on #13182
@seanfreiburg It's not the same issue. The logic there is about explicitly hiding and fading the handles when the EditableText knows they're outside the bounds of the text. This is a higher-level issue, which I wouldn't expect can be fixed in such a way.

[2019-06-24 09:40] abbazer commented on #34976
The same problem after upgrading to MacOS Catalina. Before this problem didn't appear.

## command

`flutter build aot --suppress-analytics --quiet --target lib/main.dart --target-platform android-arm --output-dir /Users/developer/Projects/bta-auth/build/app/intermediates/flutter/release --target-platform android-arm --release`

## exception

ProcessException: ProcessException: Bad CPU type in exe

[2019-06-24 09:48] AshwinKmr2502 commented on #22514
Hi @zoechi ,
Still facing same issue in listview, every time item gets re rendered.How to fix this??

[2019-06-24 09:55] 1AlexFix1 commented on #19832
This problem may be the reason for blocking the account, due to the fact that the banner can block the buttons, the problem is already a year and it has not been solved yet !!!!!!!!!!

[2019-06-24 09:56] kunibertgangnam opened #34978 "When drawer is open, going to landscape orientation causes the the drawer to close and back button appears instead"
Hi everybody,
my problem is the following:

My app is mainly built for tablets. I need to show some information based on the orientation of the device either in the drawer (portrait-mode) or in a row (landscape-mode).
In landscape-mode there is no drawer in the Scaffold.
If I rotate the device when the drawer is open (from portrait-mode with open drawer to landscape-mode) an error occurs.
The prob

[2019-06-24 09:56] Matrixbirds opened #34979 "Scaffold not re-render in iOS platform when app inactive transmit to active"
## Environment
### Devices: iPhone 6sp+, XR, XS
### OS: 11.1.2, 12.3.1

## Steps to Reproduce

1. create Button Group by Container Widget, these buttons has their own action to change state which is determine their color.
2. mount button group on Scaffold Widget into appBar property, and mount FlutterPlatformView on the body property.
3. run flutter app, and lock phone screen and unlock screen. i

[2019-06-24 10:04] putrautama007 opened #34980 "E/flutter (12282): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: HttpException: , uri = .........."
I have the error when I run the application, the error is as below:

[code]

I get this error because I want to call API for access or get a token. But, I actually got an error like this: `Unhandled Exception: HttpException: , uri = ....... (link)`.

Previously I could not give the link address because it was confidential.
Is there a solution to overcome this error / problem? I beg for your help.

[2019-06-24 10:05] furkansarihan commented on #34966
I am also having some issues with resolving flutter_web in pubspec.yaml.

Can you locate flutter_web and flutter_web_ui in any package folder?

My "flutter pub get" for hello_world project getting this error.

`Because flutter_web.examples.hello_world depends on flutter_web any which doesn't exist (could not find package flutter_web at https://pub.dartlang.org), version solving failed.`

I also tr

[2019-06-24 10:05] JocelynDavid commented on #28780
Same here .
I installed first version without problem (build an apk and share it on slack to download on other devices). I uninstall it, and share a new one, impossible to start it (app not started)

[2019-06-24 10:06] gkrawiec commented on #34860
@hobrt-programming unless I am misunderstanding you, I don't see what is different from what you wrote for the API_KEY line in the android manifest than from what I mentioned I wrote. They seem the same.
Also, I tried this on my personal project and also on a new project in which the only file was the sample app from the plugin readme page. I tried flutter clean and build several times on both pro

[2019-06-24 10:08] mnc12004 commented on #34620
+1

[2019-06-24 10:25] gkrawiec commented on #34868
thanks for the info. Now I understand.

[2019-06-24 10:25] #34868 closed

[2019-06-24 10:25] pakyo-pan commented on #33642
I have tried `flutter clean`, but it still crashes.

[2019-06-24 10:28] kangwang1988 commented on #30473
@hujiwei
Can you reproduce this issue? If so, please provide a demo project available at github which can help to reproduce this issue.

[2019-06-24 10:28] JaviSFH commented on #33397
I've been facing the same problem and I got a workaround to make it works.

Instead of running `./gradlew flutter:assembleDebug` try `./gradlew assembleDebug`. This will generate the full .aar you talk about.

<img width="850" alt="Screen Shot 2019-06-24 at 12 28 08" src="https://user-images.githubusercontent.com/4282170/60012171-8fd8ba80-967b-11e9-9b54-74eeeb578e88.png">

It seems the kernel is m

[2019-06-24 10:32] itsyashjoshi commented on #34477
Facing the same Issue, adding log file below:
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter run

## exception

ProcessException: ProcessException: Process "/usr/bin/xcrun" exited abnormally:
An error was encountered processing the command (domain=NSPOSIXErrorDomain, code=22):
Failed to install the requested application
The application's Info.p

[2019-06-24 10:54] Ignisstorm opened #34981 "Error when using: Color(0xFF8D8E98)"
<----------------------------------My Code-------------------------------------->
[code]
<----------------------------the error message----------------------------------->
[code]

[2019-06-24 11:00] hgouveia opened #34982 "[android_alarm_manager] flutter_webview_plugin onUrlChanged event is not working when android_alarm_manager is initialized"
i added the `android_alarm_manager `, plugin, did all the steps, and this works fine as it should be, the background process works , but this broke the `flutter_webview_plugin ` events, it seems any of the events aren't working , specially `onUrlChanged` , it seems that `AndroidAlarmManager` handle all the events  removing from others

this happen after i run ` AndroidAlarmManager.initialize();` ,

[2019-06-24 11:01] Kavantix opened #34983 "IconButton cannot skip focus traversal"
## Use case

In a list of widgets an IconButton will get focus when requesting next focus and currently there is no way to prevent this since it only sets the *focusnode* of the *Focus* widget but not the *skipTraversal* propery.
And the focus widget overrides the skipTraversal property of the focusnode given.

## Proposal

Add a skipTraversal property to IconButton that passes it on to the Focus

[2019-06-24 11:10] shagufta117 opened #34984 "unable to use the command flutter --version and flutter doctor"
<img width="1107" alt="Screenshot 2019-06-24 at 16 38 02" src="https://user-images.githubusercontent.com/50261212/60014460-bb20d100-969e-11e9-903e-f85b0f06bbec.png">

[2019-06-24 11:24] huiyumiao commented on #34311
I had reinstalled the SDK and then it is ok. Thanks

[2019-06-24 11:29] 1AlexFix1 opened #34985 "Admob wrong size smartBanner when ad have long text"
Hello! When specifying the size: AdSize.smartBanner for an advertising banner, the size on the iphone xr is not correctly determined

<img width="597" alt="Снимок экрана 2019-06-24 в 13 24 43" src="https://user-images.githubusercontent.com/44409006/60011914-763b7100-9683-11e9-8f8c-c84bc9dbc7c2.png">

[2019-06-24 11:47] jayateertha043 opened #34986 "Warning This release is not compliant with the Google Play 64-bit requirement"
I manually tried to upload aab file also tried codemagic
Both method fails ,i get 64 bit compliance warning publishing to playstore .

I need to upload to playstore soon kindly resolve this.

[2019-06-24 11:48] zhang6464 opened #34987 "How can i update ui.window.devicePixelRatio on runtime?"
I have tried to extends `Window` class, but it is a singleton class, i got an error when trying to extend it:`The superclass 'Window' doesn't have a zero argument constructor.
Try declaring a zero argument constructor in 'Window', or declaring a constructor in CustomWindow that explicitly invokes a constructor in 'Window'.dart(no_default_super_constructor_implicit)`
and I also tried to custom a wi

[2019-06-24 11:55] DanTup commented on #32723
@0rAX0 it's best to open a new issue rather than post on the bottom of a closed one. Since this is code-completion related though, please raise it at https://github.com/Dart-Code/Dart-Code and include the log file. Please also include a screenshot of where you're invoking completion and what you see (eg. press Ctrl+Space to force completion to appear and take a screenshot of what appears). Thanks!

[2019-06-24 12:07] nimesh1997 commented on #18494
@tvolkert When will be flutter version 1.7.4 be available in stable channel and when the error mentioned below be resolved in flutter version 1.7.4 because of that error it does not run on 64bit devices (libflutter.so is missing)?

This is the output I am getting when I run on flutter v1.7.4 or later:-

**Compiler message:**
file:///home/zunroof-dev-4/package_flutter/flutter/.pub-cache/hosted/pub.

[2019-06-24 12:20] nimesh1997 commented on #31962
I am also getting same issue StringBuffer cant be assigned how to resolve that problem?
[code]
[code]

[2019-06-24 12:30] zekihocanet commented on #34954
i have the same issue:

@HadiSDev did you solve this problem?

[2019-06-24 12:38] joelbrostrom commented on #19718
Would it be against the guidelines to set up a little piggy bank for @amirh where everyone can chip in in appreciation of his work and keep him motivated?

[2019-06-24 12:42] TheHemantKaushik commented on #14655
I was also getting the same issue. I changed document reference from
`var chatRef = _firestore.collection(TABLE_SITES).document(siteId).collection(TABLE_CHATS).document(chatId);` to `var chatRef = _firestore.document('$TABLE_SITES/$siteId/$TABLE_CHATS/$chatId');` and the problem is fixed.

**Dependencies versions:**
`firebase_core: ^0.4.0+6`
`firebase_auth: 0.11.1+7`
`cloud_firestore: 0.12.5+2`
`f

[2019-06-24 12:42] Astrallis opened #34988 "Hi,"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-24 12:42] Astrallis opened #34989 "Hi,"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-24 12:43] truongsinh commented on #30916
Interesting. Let me check it. Btw, what i'm about to do is to inspect  `flutter-debug.aar` and expect it NOT to have the snapshot. I will also try such that, first, I build `apk` (to generate the cache) and then build `aar`, inspect and expect it to HAVE the snapshot.

[2019-06-24 12:46] DanTup commented on #32573
@JayWIlsonJr in the logs you provided there is a hot-reload shown that was triggered by save:

[code]

Can you confirm what you're seeing (or not) that makes it seem like it's not working? Can you repro it on the basic counter app?

[2019-06-24 12:47] duzenko opened #34990 "RefreshIndicator with Flexible widget crashes"
## Steps to Reproduce

<details>
<summary>code sample</summary>

[code]
</details>

## Logs

<details>
<summary>logs</summary>

[code]
</details>

[code]

<details>
<summary>flutter doctor -v</summary>

[code]
</details>

[2019-06-24 12:55] duzenko opened #34991 "Failed assertion: line 26: '<optimized out>'"
## Steps to Reproduce
[code]

## Logs

[code]

[code]

[2019-06-24 12:55] JaviSFH commented on #30916
I've managed to do it. I had to compile the whole project dependencies using `$ ./gradlew assembleDebug`. This way I get the full .aar, since it seemed the one I got using `$ ./gradlew flutter:assembleDebug` did not contain the Flutter kernel. You can check it out generating a couple .aar with this commands.

[2019-06-24 13:05] dutyk opened #34992 "DataTable Exception: The method '[]' was called on null."
error message:
[code]

[2019-06-24 13:25] leonardop21 commented on #18494
Error compiling, does not generate logs and flutter doctor -v does not point to errors. what should I do?

If you are deploying the app to the Play Store, it's recommended to use app
bundles or split the APK to reduce the APK size.
    To generate an app bundle, run:
        flutter build appbundle --target-platform android-arm,android-arm64
        Learn more on: https://developer.android.com/gui

[2019-06-24 13:37] LinusU commented on #22299
Happening for me as well with version `1.5.4-hotfix.2`, both in VS Code and just `flutter run`. Happens consistently every time at the moment, so cannot debug my app 😬

Last part of logs as it happens:

[code]

[2019-06-24 13:43] nxSin commented on #34966
then,I delete flutter_web dir

[code]

and then change project pubspec.yaml,

[code]

to

[code]

and pub get ..

And then , run project success , but always show Launching:

![image](https://user-images.githubusercontent.com/14179843/60023589-afe29b00-96c8-11e9-8a1b-ee0bba1de28e.png)

browser isn't show content:

![image](https://user-images.githubusercontent.com/14179843/60023762-0c45ba80-96c9-1

[2019-06-24 13:45] vargavince91 opened #34993 "Plugins crash with "Methods marked with @UiThread must be executed on the main thread.""
There are multiple plugins that are breaking with the error message `Methods marked with @UiThread must be executed on the main thread.`. (See issues: https://github.com/flutter/flutter/issues?utf8=%E2%9C%93&q=%5C%40UiThread).

I didn't find any release notes, or guides for plugin authors to handle this issue (and to be honest, I don't 100% understand when it's necessary). Do you have any plans on

[2019-06-24 13:50] Smarto-Dev commented on #30256
facing the same problem @zoechi any work aroid, webview is working on android ut in loading view on ios

[2019-06-24 13:54] dblokhin commented on #12114
Checking in. Any updates?

[2019-06-24 13:57] #34844 closed

[2019-06-24 14:02] mrkizy opened #34994 "the issue of using Image widget."
When I use Image widget, the screen show the fllowing issue:
![IMG_4681](https://user-images.githubusercontent.com/7277246/60025130-9a22a500-96cb-11e9-8ec0-d594ffa3a9ff.PNG)

[2019-06-24 14:03] mrkizy commented on #34994
![IMG_4681](https://user-images.githubusercontent.com/7277246/60025279-e372f480-96cb-11e9-9fad-71310dcb79a9.PNG)

[2019-06-24 14:05] RaresMihalcea commented on #12114
So I've been looking at alternative tech stacks I can use for my project which must have native ads.
I found out that there's no support for react-native and ionic or a realistic timeline for those either.
Could it be that native ads are just for native tech *ba dum tss*?
Unfortunately, it seems that I'll have to learn Kotlin and download a Mac OS VM to actually work on my pet project because I am

[2019-06-24 14:12] evaldobratti commented on #27674
Same problem here

[gist](https://gist.github.com/evaldobratti/a6acdd64ea450beac19befde51493e85) and [video](https://youtu.be/6oJp2zxYyqA)

if you open the drawer with a sudden but small movement, you are able to reproduce it, even in the emulator

[2019-06-24 14:28] duzenko opened #34995 "Separate callbacks for TextEditingController's text and selection"
## Use case

I need to re-populate a list with results of search based on user typing
When the edit gets (de-)focused the TextEditingController's event is triggered as if the actual content changed.

## Proposal

Change TextEditingController so that it has two callbacks instead of one.
Assume it should also fix https://github.com/flutter/flutter/issues/34847

[2019-06-24 14:28] NicTanghe opened #34996 "[web] Websockets not working"
## Steps to Reproduce

[code]
## feedback

No errors reported page just renders white.

[2019-06-24 14:36] thaitanloi365 opened #34997 "[camera] pausePreview and resumePreview"
How to pause preview and resume preview. I need to pause review when captured and resume preview when user retake.

Thanks.

[2019-06-24 14:42] LinusU opened #34998 "[firebase_auth] Cannot use `FirebaseUser.getIdToken()` when offline"
## Steps to Reproduce

We're having an issue with our app using Firebase as the backend, where our users cannot open the app if they are not connected to the internet. The problem comes from trying to call `FirebaseUser#getIdToken(refresh: false)` which rejects with an error when it's unable to query the remote server:

[code]

We are reading the token since we have the Firebase Database id of our

[2019-06-24 14:44] ZichangG commented on #33427
Yes.

[2019-06-24 14:46] canewsin commented on #18494
@leonardop21 try with

[2019-06-24 14:47] mehmetf opened #34999 "[plugins] Document min supported Android version"
Flutter supports API 16 and above.

Our plugins however are a mixed bag. Some support 21 and above, some all the way down to 16. Some (like Camera) seem to support 16 but has a runtime check to not do anything if API <= 21.

I propose that:
- We should make an effort to support API 16 and above since that is what the framework supports.
- If it is not possible, we should document the min API suppo

[2019-06-24 14:55] wasabia opened #35000 "GestureDetector size problem with Stack overflow.visible"
a Stack Widget have two children Widget A and B.
Widget B is bigger than Stack, so set Stack overflow.visible

then add GestureDetector to Widget B.

expect GestureDetector is same size width with Widget B,
but it is same with Stack size width

do i miss something?

<img width="462" alt="WX20190624-224758@2x" src="https://user-images.githubusercontent.com/1768228/60028665-541d0f80-96d2-11e9-9744-e

[2019-06-24 15:00] Smarto-Dev commented on #25351
facing same issue, white blank screen on ios

[2019-06-24 15:04] Smarto-Dev commented on #26009
can you post you `flutter doctor -v` and `pubspec.yaml`

[2019-06-24 15:08] wanjm opened #35001 "SingleChildScrollView scroll slow when put in Transform.scale"
I have a big SingleChildScrollView , and then put it in Transform.scale to scale it to small size; but the scroll move slow than expected. I think SingleChildScrollView should responsible for this;
[code]

[2019-06-24 15:13] mehmetf commented on #33429
@TechnologicznaSowa could you please clarify when you said provided example is broken? When I try to run it, it works.

I do concur that this needs to be documented in README. This plugin now requires a fragment activity since underlying Biometric API requires a fragment activity.

[2019-06-24 15:16] gaaclarke commented on #32937
@xster It is one frame.  I tried moving the code from viewDidAppear to viewWillAppear in the FlutterViewController.  That code doesn't have direct correspondence to starting to render a frame.

I've been so sidetracked, I plan on getting back to this.  Maybe making sure the display link starts at viewWillAppear is a good avenue.  I'm not sure that will guarantee we will see the first frame though

[2019-06-24 15:21] shihaohong commented on #34992
Hi @dutyk, could you share a minimal runnable sample to reproduce this error?

[2019-06-24 15:23] shihaohong commented on #34989
@Astrallis, it seems that this issue was created prematurely and has no content. I will close this and its duplicate (https://github.com/flutter/flutter/issues/34988) for now, but please feel free to post another issue with details if you actually have a question or need to file a bug

[2019-06-24 15:23] #34989 closed

[2019-06-24 15:23] #34988 closed

[2019-06-24 15:23] ahmedmgh67 opened #35002 "Outlined Input Border doesn't display correctly in flutter web"
## Steps to Reproduce
1. Use OutlinedInputBorder() in flutter web

[2019-06-24 15:24] tapizquent commented on #34925
Same here running on a physical iOS device.
Flutter runs the app but seconds later it loses connection to device.

[2019-06-24 15:31] shihaohong commented on #34975
Hi @chendanping, could you please share minimal runnable sample code with the issue? Thank you!

[2019-06-24 15:31] ketanm commented on #34984
@shagufta117

This is not Flutter related issue but you are having issues on how tools are installed on your machine. See e.g. - https://apple.stackexchange.com/questions/321858/xcrun-missing-installing-xcode-command-line-tools-not-fixing-issue

Ketan

[2019-06-24 15:32] #34968 closed

[2019-06-24 15:32] shihaohong commented on #34967
Hi @mehdidavarpanah66, could you please share minimal sample code to reproduce your issue?

[2019-06-24 15:38] shihaohong commented on #34900
Hi @ADLsourceCode, the Flutter Widget of the Week video hasn't made it into the stable documentation yet, but is already available in the [master branch documentation](https://master-api.flutter.dev/flutter/material/AnimatedIcon-class.html). It should work for iOS. I'll close this issue out for now.

[2019-06-24 15:38] #34900 closed

[2019-06-24 15:39] ketanm commented on #34981
@Ignisstorm

Error message right in the log that you shared above. Currently, Flutter API for `Title` explicitly needs alpha value to be set to 0xFF. See documentation: https://api.flutter.dev/flutter/widgets/Title/Title.html

Change following, spcifically one that is set as Title color.
[code]

Hope this helps
Ketan

[2019-06-24 15:42] TechnologicznaSowa commented on #33429
@mehmetf Sory about that - I was addressing that the only change is in the android main file as @madaiart suggested. The whole example provided here is running without any problems.

The documentation seems that is needed to be updated. I'm not an expert on Flutter/Androird/Ios and I'm stuck to 0.4.0+1 version due to the fact I don't know how to implement fragment activity.

[2019-06-24 15:52] Nico04 commented on #28577
@maheshkumar2150 I've got a similar question, did you came with a solution ?
Thanks

[2019-06-24 15:57] Shegz4real opened #35003 "Flutter exited unexpectedly"
i upgraded my flutter has refused to run and its always giving me this message
i have tried flutter clean but it is still not working

ProcessException: ProcessException: Process "C:\Users\ACER PACKARDBELL\Documents\sourceCodes\flutterJobs\mad\android\gradlew.bat" exited abnormally:
Downloading https://services.gradle.org/distributions/gradle-4.10.2-all.zip

Exception in thread "main" java.net.Soc

[2019-06-24 16:03] ketanm commented on #34980
@putrautama007

Above error is coming from your code and implementation. Either handle exception around site and log error or review your implementation or share relevant implementation code.

Ketan

[2019-06-24 16:06] tonisostrat commented on #34997
[Here's](https://flutter.dev/docs/cookbook/plugins/picture-using-camera#6-display-the-picture-with-an-image-widget) a simple guide on how to show a preview of the captured image. After the user is done just replace the `Image` with the live `CameraPreview` widget and you're done.

[2019-06-24 16:17] gpeal commented on #20438
@dnfield If there are steps we (speaking as a maintainer of Lottie) can do to formalize the Lottie json spec to make an effort like this more amenable for the skia/Flutter team, we would be more than happy to collaborate on that. Lottie on Flutter is something we all would like to see 😄

[2019-06-24 16:19] mohamed6996 opened #35004 "Flutter Web: The argument type can`t be assigned to the parameter type widget"
I want to user [Swiper ](https://github.com/best-flutter/flutter_swiper)plugin in my flutter web project. I have added it in pubspec.yamel
but when i import it it shows this exception
`The argument type 'Swiper' can`t be assigned to the parameter type widget`

[code]

[code]

[2019-06-24 16:24] timtraversy commented on #33909
Are you having issues when running from Android Studio or VSCode? I'm running 10.15 and 13, and I can run the app from the command line, but not from those editors.

[2019-06-24 16:32] Robouste opened #35005 "[BUG] TabBar shows wrong TabBarView"
I have spotted a bug with the tab bar behavior and managed to reproduce it.

Here is the git with the code:
[https://github.com/Robouste/flutter-tab-bug](https://github.com/Robouste/flutter-tab-bug)

**Repro**
After launching the app, if you go first to Tab 3 then Tab 2, the content will show "Content 1" instead of "Content 2".

If you first go from Tab 1 to Tab 2, it works as expected.

I couldn'

[2019-06-24 16:35] cyanglaz commented on #34691
Thank you for filing this, could anyone provide a minimum sample app code for the crash?

[2019-06-24 16:41] LongCatIsLooong commented on #34991
@duzenko could you try running the code against the current master branch? It might have been fixed on master already.

[2019-06-24 16:43] kf6gpe opened #35007 "~500ms spent warming-up shaders before the first Dream frame"
Mirror issue for [this internal bug](https://b.corp.google.com/issues/135134705), which is being worked on. Updates should appear there, please.
cc @cbracken , who currently owns the internal bug.

[2019-06-24 16:44] jkmathew opened #35008 "Paste menu not appearing after clearing textfield."
## Steps to Reproduce
In any textfield
1. Type something.
2. Double tap to select all > cut text.
3. Double tap again to show paste menu (and paste the text)- Menu is showing.
4. Clear textfield with keyboard delete key.
5. Double tap to show paste menu - **Menu not showing.**
6. Type any character and double tap to show paste menu - Menu is showing.

Issue is with steps 4 & 5, If any character re

[2019-06-24 16:45] kf6gpe opened #35009 "~500ms spent in the Flutter UI thread before rendering the first Dream frame"
Mirror issue for [this internal bug](https://b.corp.google.com/issues/135134294). Conversation should occur there.

cc @cbracken, to whom the issue is currently assigned.

[2019-06-24 16:51] leonardop21 commented on #18494
OMG. I have no idea what to do now

Gradle build failed to produce an Android package.

#0      throwToolExit (package:flutter_tools/src/base/common.dart:28:3)
#1      _buildGradleProjectV2
(package:flutter_tools/src/android/gradle.dart:514:7)
#2      _asyncThenWrapperHelper.<anonymous closure>
(dart:async-patch/async_patch.dart:77:64)
#3      _rootRunUnary (dart:async/zone.dart:1132:38)
#4      _

[2019-06-24 16:55] HansMuller commented on #35008
CC @justinmc

[2019-06-24 17:01] justinmc commented on #33798
Here's the video from WWDC about this, around the 12:00 mark talking about the tabbed top modals. https://developer.apple.com/videos/play/wwdc2019/224/

[2019-06-24 17:01] justinmc commented on #33799
Here's the video from WWDC about this, around the 12:00 mark talking about the tabbed top modals. https://developer.apple.com/videos/play/wwdc2019/224/

[2019-06-24 17:03] Hannah-Alto commented on #27936
I did the following:
[code]
Worked for me.

[2019-06-24 17:05] HansMuller commented on #34946
CC @justinmc

[2019-06-24 17:09] justinmc opened #35010 "[iOS 13] Long press and drag to select"
In iOS 13, long pressing on editable and non-editable text starts selecting.  Dragging extends the selection.  I think this is identical to Android now, so it should be easy for Flutter to support.  Previously, long pressing and dragging on text set the cursor and showed the loupe magnifying glass.

This was shown at WWDC in [this video](https://developer.apple.com/videos/play/wwdc2019/224/) aroun

[2019-06-24 17:11] jonahwilliams commented on #34311
Okay, it looks like something went wrong when we were caching artifacts and we didn't detect it. We should probably need download checksums for all artifacts.

[2019-06-24 17:12] apwilson commented on #33991
Any updates on this?

[2019-06-24 17:14] LongCatIsLooong commented on #35005
Tested with master on a real device, as well as emulator, wasn't able to reproduce the bug. Could you switch to master and try again, see if that fixes it for you?

[2019-06-24 17:15] wemped commented on #31086
@tvolkert @liyuqian
Running through the setup steps today and running into a problem on Step 6 (`gclient sync`) of this guide https://github.com/flutter/flutter/wiki/Setting-up-the-Engine-development-environment

It runs fine up until it prints `Syncing projects: 100% (97/97), done.`
Then it hangs, I let it run on for about 10 minutes or so, but each time I eventually kill the process it looks lik

[2019-06-24 17:17] justinmc commented on #34728
See [this WWDC video](https://developer.apple.com/videos/play/wwdc2019/224/) around 39:00 for more.

[2019-06-24 17:27] Piinks commented on #29026
Hi @namanh007, does this mean your issue has been resolved?

[2019-06-24 17:31] gkrawiec commented on #34860
@hobrt-programming  is this correct?
[code]
thank you!

[2019-06-24 17:33] sjoenk commented on #27235
+1
I'm having the exact same issue. It's working fine on iPhone but on iPad you can rotate in all directions.

[2019-06-24 17:37] hobrt-programming commented on #34860
yes and also check the permission of your api key in google developer console you should add maps for android api .

[2019-06-24 17:38] GaryQian commented on #33642
@pakyo-pan do you mind posting the error message you are getting upon crash? I just want to check if it is indeed the same as the java.lang.IndexOutOfBoundsException reported above.

[2019-06-24 17:39] kf6gpe commented on #33991
Given the nature of the work, discussion's available on the linked issue,
which has a link to a doc with cbracken & chinmaygarde's current status.

Ray Rischpater, KF6GPE | kf6gpe.org | @kf6gpe
<http://www.twitter.com/kf6gpe>

On Mon, Jun 24, 2019 at 10:12 AM Andrew Wilson <notifications@github.com>
wrote:

[2019-06-24 17:39] Robouste commented on #35005
After updating to flutter 1.7.9-pre.10, it works as expected.

Thank you.

[2019-06-24 17:39] brmaleo commented on #24703
I would like to clarify, the problem appears when using `FlutterDriver` itself. Not necessarily when running tests with `package:flutter_test` or `package:test`.

Even when running the following code directly...

[code]

... the `AssetBundle.loadString` inside the app will hang indefinitely (if the string asset is larger than 10*1024 bytes in size).

@eikob is absolutely right. It is only a matter

[2019-06-24 17:43] gkrawiec commented on #34860
yes, its all enabled. I even have a notification that says `This API key is unrestricted. `, but I dont want to restrict stuff and add variables to the problem yet. I don't think it even reaches google's servers. The error seems to indicate something internal to the framework.

[2019-06-24 17:43] justinmc commented on #35008
I think this is related to https://github.com/flutter/flutter/issues/34215

[2019-06-24 17:47] hobrt-programming commented on #34860
i had the same problem yesterday and i resolved it with the same steps i give you .

[2019-06-24 17:55] mtallenca commented on #34286
Not sure if this is related - but I'm getting an occasional crash on Android.   Stack trace is always the same.  Happens when I have a flutter app open that has a platform webview on screen.  I swipe up to switch to a different app to take notes - with the keyboard still up - switch back to flutter app.  Flutter app crashes with the following trace.   Looks like flutter is trying to attach keyboar

[2019-06-24 18:15] justinmc commented on #34946
Do you expect the field to stay in the same position?  That's what I see happening on a physical iPhone7.  My simulator is not working for the moment unfortunately.

Keyboard closed                                             | Keyboard open
:-------------------------:|:-------------------------:
<img width="200" src="https://user-images.githubusercontent.com/389558/60041825-205dcd80-9671-11e9-80d

[2019-06-24 18:19] shihaohong commented on #35002
Hi, is this a duplicate of https://github.com/flutter/flutter/issues/32381? If so, please close this issue and add a thumbs up to that issue instead. Thank you!

[2019-06-24 18:20] dnfield commented on #20438
/cc @hixie

[2019-06-24 18:22] Piinks commented on #18917
I believe this is a duplicate of #16957, I'm going to close it in favor of tracking this in that issue. Please feel free to re-open if necessary. :)

[2019-06-24 18:22] #18917 closed

[2019-06-24 18:24] cbracken commented on #31922
@blasten is this closeable at this point, or is there work remaining?

[2019-06-24 18:27] nitishk72 commented on #18106
@shahidpacmahn wait for sometime. Basically in background some file is being downloaded. In my case it took 25 minutes to complete the process

[2019-06-24 18:27] cbracken commented on #12794
@GaryQian believes this is likely no longer an issue, and will double-check this and close if so.

[2019-06-24 18:33] amirh opened #35011 "WebView plugin: Javascript channel names can't contain underscores, even though the documentation says so"
They can start with an underscore but the rest of the name can't contain them.

Code: https://github.com/flutter/plugins/blob/410095a1bae31e888d0f9d668510190c9eda5102/packages/webview_flutter/lib/webview_flutter.dart#L75

[2019-06-24 18:34] cbracken commented on #31138
@calvinmuller @iskakaushik and others are working on a longer-term solution for this, but as @dnfield notes, those will involve multiple PRs (e.g. https://github.com/flutter/engine/pull/9436).

[2019-06-24 18:35] Piinks commented on #29645
Hi @hgl, Would you be able to provide a minimal code sample to reproduce this issue?

[2019-06-24 18:42] garrettparris commented on #34672
setting minifyEnabled to false fixed this problem.

[2019-06-24 18:42] #34672 closed

[2019-06-24 18:44] gisinator commented on #27986
Yes, I can confirm this behaviour. On iOS, timestamps are returned as seconds, while on Android they're returned as miliseconds. Any chance this can be fixed?

[2019-06-24 18:46] amirh commented on #23386
@meggamind thanks!
Feel free to use this issue to discuss a proposed solution or send a PR, your comment is enough to inform anyone coming to pick this issue that you've started looking at it.

[2019-06-24 18:46] LongCatIsLooong commented on #35005
No problem! Glad it works for you. Closing the issue.

[2019-06-24 18:46] #35005 closed

[2019-06-24 18:49] blasten commented on #31922
@cbracken, I think this can be closed now or after the next stable release.

[2019-06-24 18:49] dcov commented on #35004
I'm fairly certain this is happening because `flutter_swiper` depends on the `flutter` sdk which is not the same as the `flutter_web` sdk, which is a fork of the `flutter` sdk. Eventually `flutter_web` will be integrated into `flutter`, but as of now `flutter_web`'s `Widget` type is different than `flutter`'s `Widget` type, which is why it's giving you that error in that `Swiper` is a `flutter` `W