[2017-06-06 10:37] mit-mit commented on #9827
Tagging as a candidate for the current milestone; we are currently in an inconsistent state (see my comments from 8 days ago), so would be really good to get this completed.

[2017-06-06 11:07] raju-bitter commented on #10500
Angular Material Design components have an example of vertical sliders, see https://material.angularjs.org/latest/demo/slider
![image](https://cloud.githubusercontent.com/assets/296926/26826331/fbdf54b6-4ab8-11e7-8d2d-49b435ae3566.png)
Regarding the separate package: Maybe, but having an axis='x' | 'y' setting would probably not require large code changes.

[2017-06-06 11:28] floitschG commented on #10486
There are certainly things that are hard to detect, but when I change the RHS of a `final` expression, it's reasonable that I wanted to change the value and that I expect the new changes to show up after a hot reload. In these cases, there could be a hint/information/warning that I might need to do a full reload to see them.

[2017-06-06 11:30] floitschG commented on #10320
The reason seems to be that `Row` is left-aligned, but that `Column` is centered. (at least I think they were in a `Column`).

[2017-06-06 12:24] mit-mit opened #10525 "Links with fragment identifiers are slightly out of view"
Links on flutter.io with fragment are shown with the linked fragment scrolled slightly too far.

Repro:

1. Visit https://www.w3.org/TR/html4/intro/intro.html#fragment-uri. Notice that the page is scrolled so that '2.1.2 Fragment identifiers' is at the top of the page
1. Visit https://flutter.io/getting-started/#running-your-flutter-app. Notice that the top of the page has no title; if you scroll

[2017-06-06 12:25] mit-mit commented on #10525
Would love help on this; tagging 'easy fix' (for someone with better html skills then myself)

[2017-06-06 12:27] mit-mit commented on #10525
I think maybe our "hovering" top banner is the cause of this; it looks like the heading might actually be at the top but just under the banner.

[2017-06-06 13:10] b-strauss opened #10526 "Respect Android battery saver"
Flutter should respect the Android battery saver.

Ideas:

- Skip animations
- ???

[2017-06-06 13:22] mit-mit commented on #10288
In todays discussion, added the following:

5. When publishing with [`flutter packages publish`](https://github.com/flutter/flutter/issues/10403), check that:
   a. If publishing a package, `android` and `ios` folders are not present
   b. If publishing a plugin, that does not declare android support, `android` folder is not present
   c. If publishing a plugin, that does not declare ios support,

[2017-06-06 13:57] b-strauss opened #10527 "flutter doctor on german Windows cmd shows broken glyphs after upgrade"
![flutter_doctor](https://cloud.githubusercontent.com/assets/6588177/26832779/d00227d4-4ad0-11e7-9114-68e79a1acb60.png)

@goderbauer

**update**:
this does not occur with powershell

[2017-06-06 14:25] eseidelGoogle commented on #8711
Is this bug now tracking the wider scope above @mravn-google?  Or do we need a new bug for the deep linking intent? (e.g. https://github.com/flutter/flutter/issues/9768)

[2017-06-06 14:27] eseidelGoogle commented on #10526
API 21+ has an API to check:
https://developer.android.com/reference/android/os/PowerManager.html#isPowerSaveMode()

[2017-06-06 14:28] eseidelGoogle commented on #10526
"Skipping animations" may also be started by https://github.com/flutter/flutter/issues/4827 for iOS Accessibility.

[2017-06-06 14:30] eseidelGoogle commented on #10524
See also https://github.com/flutter/flutter/issues/4815.

[2017-06-06 14:36] mit-mit opened #10528 "Firebase plugins have analysis errors"
## Steps to Reproduce

[code]

[code]

[2017-06-06 15:19] #10115 closed

[2017-06-06 15:29] mit-mit commented on #9785
@kevmoo did anything change in pub?

[2017-06-06 15:30] sethladd commented on #10525
Thanks for filing!

[2017-06-06 15:30] mit-mit commented on #10528
Never mind, the plugins don't actually require these dependencies do, and their pubspec's are already correct but due to https://github.com/flutter/flutter/issues/10015 we see these failures.

[2017-06-06 15:30] #10528 closed

[2017-06-06 15:40] kevmoo opened #10529 "Let a user skip the root warning in bin/flutter"
I'm trying to run some tools in Docker – having to handle the warning about running as `root` is a bit annoying.

Could I have an ENV variable that can silence this? (See my horrible bash script edit below)

[code]

[2017-06-06 15:43] eseidelGoogle commented on #10529
See also https://github.com/flutter/flutter/issues/9634.

[2017-06-06 15:47] eseidelGoogle commented on #10529
We've now spent way more time creating/maintaining this warning than I suspect it's saved us. :/

[2017-06-06 15:59] Hixie commented on #10529
Why are you running it as root?

[2017-06-06 16:00] Hixie commented on #10524
The framework has support for this it just hasn't been hooked up.

[2017-06-06 16:06] kevmoo commented on #10529
I'm not. Docker is. By default.

...unless there is a way to run it as non-root that I'm not aware of...

On Tue, Jun 6, 2017 at 8:59 AM, Ian Hickson <notifications@github.com>
wrote:

[2017-06-06 16:08] Hixie commented on #10529
Well that's terrifying.

[2017-06-06 16:09] kevmoo commented on #10529
ish...it is running in a container. 🤷‍♂️

[2017-06-06 16:10] Hixie commented on #10529
If you can reliably detect that you're in a docker instance, feel free to submit a PR that silences the warning in that case.

[2017-06-06 16:11] HansMuller commented on #970
Yes, I can do it.

[2017-06-06 16:12] HansMuller commented on #10475
No problem. I tab the bandwidth to work on this.

[2017-06-06 16:20] kevmoo commented on #10529
I was more interesting in just having an ENV variable – detecting that we're in docker may be more harry

[2017-06-06 16:20] jcollins-g commented on #10416
For number one, it is possible to mark or highlight pages, assuming we can define which ones.  We could provide something a template could check on as part of dartdoc (might be useful for symbols without any documentation at all), or someone could write some javascript to check an external source for whether or not the page needs to be marked.

Adding the File Issue button doesn't seem that hard i

[2017-06-06 16:49] mit-mit commented on #8516
To "cast a vote" for this, please hit "thumbs up" on the *top-most comment* (the one by goderbauer) of this bug.

[2017-06-06 16:49] goderbauer commented on #10527
@zanderso Were there any chances to the Dart VM between 1.24.0-dev.3.0 and 1.23.0-dev.11.11 that could have caused this regression?

I'll see if I can reproduce it on my System.

[2017-06-06 16:50] goderbauer commented on #10484
Awesome! Have fun with Flutter!

[2017-06-06 16:50] #10484 closed

[2017-06-06 17:06] goderbauer opened #10530 "Plugins that only support one Platform currently need dummy boilerplate for the other platform"
It is totally possible to have plugins that only make sense on one of the supported platforms (e.g. a Plugin that launches an Android Intent doesn't make sense on iOS). Users might want to still use these plugins in their cross-platform app (and guard calls to them with `platform.isAndroid`). Currently, the only way to make this work is to include a lot of boilerplate dummy code in your plugin for

[2017-06-06 17:06] eseidelGoogle opened #10531 "TabBars animate in in --release builds but not --debug builds"
@Hixie says this is because we size a 0x0 in release builds, but not --debug builds.

This is causing bad behavior in Posse's latest app.  FYI @HansMuller

[2017-06-06 17:11] mit-mit commented on #10530
Agree we should fix this; see also https://github.com/flutter/flutter/issues/10288 which should enable this

[2017-06-06 17:17] cbracken commented on #10510
To do:
1. Migrate to the non-deprecated version of `find_xcode.py` from the Chromium infra
1. Switch framework builds over to Xcode 8.3.x with SDK 10.3, deployment target iOS 8.
1. Ensure engine build specifies deployment target iOS 8.
1. Add `xcode-select` logic to engine build, using Xcode 8.3.x with SDK 10.3, deployment target iOS 8.

[2017-06-06 17:17] cbracken commented on #10510
Patch 1: Migrate to non-deprecated `find_xcode.py`:
https://chromium-review.googlesource.com/c/525074/

[2017-06-06 17:24] mit-mit commented on #9796
This has been resolved except for two packages where analysis fails (due to the `/example/` having additional `pubspec.yaml` requirements). The root issue for that is https://github.com/flutter/flutter/issues/10015.

[2017-06-06 17:27] goderbauer commented on #10228
We are also running into this while setting up iOS accessibility tests within Google.

[2017-06-06 17:37] goderbauer commented on #10527
It still seems to work as expected on my system in CMD as well as PowerShell with the latest Flutter version. However, I am one Windows version behind yours (Version 10.0.14393) as cooperate IT doesn't allow me to install the Windows 10 Creator Update yet...

[2017-06-06 17:58] cbracken commented on #10510
Filed a ticket to request installation of Xcode 8.3.3 on our bots:
https://bugs.chromium.org/p/chromium/issues/detail?id=730089

[2017-06-06 18:28] pcomans opened #10533 "Honor orientation EXIF flag for images on Android"
## Steps to Reproduce

Create an Image widget with a source image that has the orientation flag in its EXIF parameters set.
Example:
[code]
What should happen: The image should appear in portrait, since the orientation is Orientation: 6 (Rotated 90° CCW).
What happens instead: The image appears in landscape, as if there was no orientation flag.
## Logs
None

## Flutter Doctor
[✓] Flutter (on Mac O

[2017-06-06 18:39] eseidelGoogle commented on #10533
Unclear if we need to do this by exposing APIs to dart:ui or if we can do this from dart alone.

[2017-06-06 18:54] kevmoo opened #10534 "Add --json support to flutter --version"
I'd like to capture this data in a tool – without having to parse it.

(The x hours/days ago data, for instance, adds noise when tracking if things have changed between runs)

[2017-06-06 18:59] eseidelGoogle commented on #10534
Can you help us understand the priority?

[2017-06-06 19:02] kevmoo commented on #10534
Not super high – i.e. low.

I'll likely implement it. Just wanted to track it.

[2017-06-06 19:05] Hixie commented on #10531
IMHO we need to make the implicit animation widgets not animate when there's been an app-wide geometry change. To do this we should pump a message down the entire layout tree when that happens (finally replacing the "rotate" stub), and when the implicit animation widgets hear about this they should reset themselves to their "neutral" state so that they don't animate on the next frame.

[2017-06-06 19:14] kevmoo opened #10536 "flutter_tools: src/base/version.dart – explain why not pkg/pub_semver"
Not clear here why this is duplicated – although it seems copied.

At a minimum, it'd be nice if this file explained why it's not pub_semver.

[2017-06-06 19:22] #10529 closed

[2017-06-06 19:36] kevmoo commented on #10529
☝️

[2017-06-06 19:58] InMatrix commented on #10416
There is already a dartdoc issue filed by @eseidelGoogle about linking from doc to source: https://github.com/dart-lang/dartdoc/issues/1454 Thanks for taking a look!

[2017-06-06 20:06] b-strauss commented on #10527
It works on my private machine. Maybe something went wrong during the upgrade process? I'll try it with a clean installation tomorrow.

[2017-06-06 20:10] Hixie commented on #133
@sethladd Please reopen if you think we should still track this.

[2017-06-06 20:10] #133 closed

[2017-06-06 20:13] Hixie commented on #213
We are going to close this for now because it's not obvious what a solution should in fact be. We will revisit this when we have more concrete needs, e.g. from a customer.

If you want this please don't hesitate to open a new bug.

[2017-06-06 20:13] #213 closed

[2017-06-06 20:14] Hixie commented on #214
We are going to close this for now because it's not something that anybody has actually asked for. We will revisit this when we have more concrete needs, e.g. from a customer.

If you want this please don't hesitate to open a new bug.

[2017-06-06 20:14] #214 closed

[2017-06-06 20:16] Hixie commented on #217
We're addressing this problem by dedicated widgets, e.g. RadioListTile.

[2017-06-06 20:16] #217 closed

[2017-06-06 20:16] Hixie commented on #218
We have this, you can now write a method with "async" and "await" that runs different controllers in sequence.

[2017-06-06 20:16] #218 closed

[2017-06-06 20:19] eseidelGoogle commented on #232
FYI @cbracken who's been in print stuff recently. (Not important, just thought you might like to see.)

[2017-06-06 20:19] Hixie commented on #239
@chinmaygarde What's the status of this bug?

[2017-06-06 20:20] Hixie commented on #249
It's not clear how we would do this. We're going to close this for now and open a new bug when we have a clearer idea of how to address it.

[2017-06-06 20:20] #249 closed

[2017-06-06 20:21] eseidelGoogle commented on #239
@a-siva wasn't sure off the top of his head if these are turned on in the DartVM, but said he could find out.  I expect Skia already uses these.

[2017-06-06 20:21] Hixie commented on #253
It seems like this is trivial now using either Interval or async/await.

[2017-06-06 20:21] #253 closed

[2017-06-06 20:22] Hixie commented on #281
We'll close this and address this if we run into an actual case where this is an issue.

[2017-06-06 20:22] #281 closed

[2017-06-06 20:23] Hixie commented on #312
We're going to close this because we don't have a specific need for it at the moment. If you desire this to be addressed please file a new bug and we'll track your specific need.

[2017-06-06 20:23] #312 closed

[2017-06-06 20:24] eseidelGoogle commented on #9347
I wonder if https://github.com/flutter/flutter/issues/312 was related.

[2017-06-06 20:24] Hixie commented on #357
We definitely should have an example of an OAuth flow, which presumably depends on this.

[2017-06-06 20:28] Hixie commented on #392
Currently our target platforms just don't give us what we need to solve this.

[2017-06-06 20:28] #392 closed

[2017-06-06 20:30] Hixie commented on #10536
Can you elaborate?

cc @devoncarew @tvolkert

[2017-06-06 20:32] Hixie commented on #10533
We should definitely make sure this is consistent across platforms, and we should probably honour the flag everywhere.

[2017-06-06 20:34] Hixie commented on #10526
On the framework side we should make the SchedulerBinding expose a flag and then we should make AnimationController honour it.

[2017-06-06 20:35] Hixie commented on #4827
On the framework side we should make the SchedulerBinding expose a flag and then we should make AnimationController honour it.

[2017-06-06 20:35] tvolkert commented on #10536
You're saying https://pub.dartlang.org/packages/pub_semver provides the same functionality and would allow us to not reinvent it?  If that's true, SGTM, modulo the fact that we're trying to decrease our external dependencies, not increase them.  I assume `pub_semver` is a lightweight package?  (side-note: why is "pub" in the package name?)

[2017-06-06 20:35] Hixie commented on #10526
The framework side of this will probably be subsumed by #4827.

[2017-06-06 20:35] eseidelGoogle commented on #10526
Looks like on iOS one is even supposed to lower frame rates:
https://developer.apple.com/library/content/documentation/Performance/Conceptual/EnergyGuide-iOS/LowPowerMode.html

[2017-06-06 20:39] collinjackson commented on #357
Basic OAuth with Flutter is already possible. Here's an example: https://medium.com/@segaud.kevin/facebook-oauth-login-flow-with-flutter-9adb717c9f2e

It seems like the only OAuth functionality that isn't addressed by the current url_launcher plugin is an API that calls `finish()` on the launched activity on Android and dismisses the launched `UIWebViewController` on iOS. That way, the user doesn'

[2017-06-06 20:39] Hixie commented on #10507
Presumably this should only be for --plugin and --package, not for regular apps.

[2017-06-06 20:44] Hixie commented on #10377
It's not clear that this is a priority right now; should we move to a future milestone?

[2017-06-06 20:45] #10444 closed

[2017-06-06 20:46] #10488 closed

[2017-06-06 20:49] chinmaygarde commented on #239
I turned these on in Skia already.

[2017-06-06 20:49] #239 closed

[2017-06-06 20:50] Hixie commented on #10228
@cbracken Do you have the bandwidth to take a look at this one?

[2017-06-06 20:50] Hixie commented on #10125
This may be a dupe of https://github.com/flutter/flutter/issues/10228.

[2017-06-06 20:51] Hixie commented on #10030
Dupe of https://github.com/flutter/flutter/issues/9665.

[2017-06-06 20:51] #10030 closed

[2017-06-06 20:53] cbracken commented on #10228
If we can find someone else, it would likely get dealt with quicker I think. I've got a few other iOS engine/flutter tool issues in flight already. If I get through those and it's still open, I'm happy to take a look though.

[2017-06-06 20:54] Hixie commented on #9965
Our current understanding is that what's left here is to provide a `flutter` tool flag to enable this during `flutter run`.

[2017-06-06 20:56] otaviojr opened #10541 "October does not have 31 days in datepicker on iOS"
Why flutter datepicker does not show 31 days in october on iOS?

The same app on Android shows 31 days.

Maybe an iOS problem?

<img width="353" alt="screen shot 2017-06-06 at 17 54 47" src="https://user-images.githubusercontent.com/2933837/26851481-582c5124-4ae1-11e7-9912-8e58d164245a.png">

<img width="340" alt="screen shot 2017-06-06 at 17 54 57" src="https://user-images.githubusercontent.com/2

[2017-06-06 20:56] Hixie commented on #9366
@chinmaygarde Any updates since your last comment?

[2017-06-06 20:57] Hixie commented on #9851
Can you confirm this still happens? We have not been able to reproduce it.

[2017-06-06 20:59] Hixie commented on #8231
@jason-simmons says this may be because of our poor implementation of Android IME.

[2017-06-06 21:09] goderbauer commented on #10527
Did you try restarting the CMD or Windows? I highly suspect that something just messed up the codepage configuration of your CMD session...

[2017-06-06 21:12] b-strauss commented on #10527
I think I tried restarting the CMD but I'm not sure. I'll check it tomorrow before I reinstall it.

[2017-06-06 21:22] sethladd commented on #10377
We can document a work-around, so it's technically not blocking.

[2017-06-06 21:26] kevmoo commented on #10536
semver is totally ordered – there is some vagueness when you add plusses – `pub_semver` establishes rules there which are not to spec (but provide unambiguous results)

...otherwise, what @tvolkert said. Less duplication is good. Fewer dependencies is also good.

I figured (at a minimum) it might be useful to tell folks, etc etc

[2017-06-06 21:38] eseidelGoogle commented on #8231
@Hixie wrong bug I think. :)

[2017-06-06 21:39] eseidelGoogle commented on #9928
@jason-simmons mentioned at triage that he believes this may be related to or incomplete Android IME implementation.

[2017-06-06 21:41] eseidelGoogle commented on #10541
That seems bad. :/  FYI @hansmuller

[2017-06-06 21:43] eseidelGoogle commented on #9965
My understanding is that our current behavior is that we will fall back to software rendering when there is no GPU, but we will not prefer software rendering over the GPU in any cases (currently).  It's possible we should teach the tooling about GPUs we should do this for (namely emulators).

[2017-06-06 22:12] devoncarew commented on #10536
I _believe_ we can use it for parsing this that are not well formed semver versions. So, some versions from the android sdk? From the unit tests, we can parse things like `1`, `1.0`, ..., which I think the semver parsers would throw on?

[2017-06-06 22:27] otaviojr commented on #10541
Is there something to do with DST? On Dart documentation they say that the difference between two dates could be not multiple of 24h if a DST happens between those dates.

date_picker.dart uses difference and inDays to compute the maximum allowed day for that month.

I know that US DST is near october/november.

To make a test I changed the line 130 of date_picker.dart from:

final int daysInMonth

[2017-06-06 22:27] tvolkert commented on #9965
@Hixie the flag exist (it was added in #10449).  So is there anything left to do here?

[2017-06-06 22:34] alardizabal opened #10542 "Tab bar animates into view during initial load in release mode (unexpected behavior)"
@eseidelGoogle @Hixie Per our conversation this afternoon, in release mode on Android, the tab bar animates into view during its initial load. This behavior is not visible in debug mode.

I'm using a Scaffold and in the appBar property I have the following:

    new PreferredSize(
       preferredSize: const Size.fromHeight(30.0),
       child: new Padding(
         padding: const EdgeInsets.symme

[2017-06-06 22:38] eseidelGoogle commented on #10541
I don't know.  @alan-knight probably would.
https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/date_picker.dart is the relevant file.

[2017-06-06 22:53] jason-simmons commented on #10541
The "Using DateTime with Duration" section of the Dart DateTime class docs explains this:
    https://api.dartlang.org/stable/1.23.0/dart-core/DateTime-class.html

Duration.inDays returns the number of whole days calculated from the delta in nanoseconds between the two DateTimes.  A daylight savings adjustment can result in a partial day.

We probably should be using DateTime.utc()

[2017-06-06 23:00] kevmoo commented on #10536
Crash? I believe so, yes.

I was wondering why the "standard" dart semver package wasn't being used. Others might as well.

Not a biggy.

[2017-06-06 23:01] #10536 closed

[2017-06-06 23:07] sethladd commented on #10344
We wish to specify one or more hierarchy paths per widget.

For example, for RaisedButton, we would say: "belongs in Basic/Buttons and Material Design/Buttons"

Up to you for exactly how to specify this, but we would like to be able to assign each widget to one or more category/sub-category.

Once you do one or two, we'll take care of the rest :)

Thank you!

[2017-06-06 23:38] sethladd commented on #10344
More details: we prefer open-ended Strings.

[2017-06-07 00:19] otaviojr commented on #10541
I made a test here with the line below.

final int daysInMonth = new DateTime.utc(year, month + 1).difference(new DateTime.utc(year, month)).inDays;

It worked on both platforms.

regards

[2017-06-07 00:20] jason-simmons commented on #10533
The Skia JPEG codec has an EXIF parser that reads the orientation tag.  But it doesn't apply the orientation to the image:
    https://bugs.chromium.org/p/skia/issues/detail?id=3834
    https://bugs.chromium.org/p/skia/issues/detail?id=1592

[2017-06-07 00:23] markentingh commented on #10498
I forgot to mention, I am also using persistentFooterButtons, which is also blocking the view after the keyboard appears. Either way, the TextField does not scroll into view like I am use to seeing in other native apps for Android.

[2017-06-07 01:40] #10534 closed

[2017-06-07 02:20] cbracken commented on #10510
Patch 2: Add `xcode-select` logic to engine build:
https://chromium-review.googlesource.com/526310

[2017-06-07 04:27] deborah-ufw commented on #1831
Hi Seth, matanlurey and Hixie - thank you very much for the response. I'm probably not the right person to talk to in depth, since it was our lead engineers who rejected the Dart plugin solution (thus leading to generation of a huge library of png's for our app, which makes most of us cringe also).

I would like to pass the link for this Github issue on to them and ask them to contribute technical

[2017-06-07 04:36] eseidelGoogle commented on #1831
They're also able to chat with our engineers directly via http://gitter.im/flutter/flutter as well as other contact methods listed https://flutter.io/support/ if needed. :)

[2017-06-07 04:36] deborah-ufw commented on #1831
I will add that in. Thank you!  :D

[2017-06-07 04:48] pauldemarco opened #10544 "Chainable animations doc typo"
## Steps to Reproduce

On the [Animations page](https://flutter.io/animations/#animation-controllers):

CurvedAnimation should probably be ReverseAnimation?

[2017-06-07 05:13] filiph opened #10545 "Plugin references UrlLauncher which doesn't exist"
## Steps to Reproduce

1. Go to https://github.com/flutter/plugins/tree/master/packages/android_intent
2. Locate the text "Note that a similar method does not currently exist for iOS. Instead, the system plugin (UrlLauncher) can be used for deep linking."
3. Click on UrlLauncher.

This is a 404 error. In fact, `UrlLauncher` doesn't seem to exist in all of Flutter SDK, at least not on https://docs.

[2017-06-07 08:35] DanTup opened #10546 "Document `flutter run --machine` protocol"
I'm building support for Flutter apps in Dart Code, but I'm struggling to find much info on the protocol for `flutter run --machine`. I found [this page](https://github.com/flutter/flutter/wiki/The-flutter-run-variants) but it just says "allows the use of JSON commands" without detailing what they are.

I presume it's a subset of [the daemon protocol](https://github.com/flutter/flutter/wiki/The-fl

[2017-06-07 08:39] mit-mit commented on #10377
No, not blocking, but it's hurting our end to end plugin devexp story, which is suffering a bit from 'death by a thousand paper cuts', so I want to keep this in milestone 3.

[2017-06-07 08:41] mit-mit commented on #357
Collin, your analysis SGTM!

[2017-06-07 08:58] mit-mit commented on #10530
We need to fix this prior to 4; we are already seeing plugins published that look like they support both platforms but really only support one. We have to fix that or we get a polluted ecosystem.

[2017-06-07 09:11] b-strauss commented on #10527
This is still happening, even after I restarted Windows and CMD. I'll reinstall the sdk now.

[2017-06-07 09:44] b-strauss commented on #10527
Hmm, problem still persists:
[code]

I don't know what the difference is to my private machine. Both are on the same Windows version.

[2017-06-07 09:50] mit-mit commented on #9862
Agree we should do this; I have this listed in the 'first hour doc', and did similar research to the one above a quarter ago, but for some reason can't find the bug for it.

[2017-06-07 09:50] mit-mit commented on #9862
@devoncarew did you look more into this? You mentioned recently that you had found some issue wrt. creating emulator instances? (Launching existing ones is a separate issue that I know we are are attacking in M15).

[2017-06-07 09:54] mit-mit commented on #8986
I've run this about 20 times on my Windows box, and only seen the crash once, which was unfortunately prior to enabling additional logging. Any idea how to get it to trigger more?

[2017-06-07 10:18] nonameden opened #10547 "ListView content vanishes when scrolled up on Android"
## Steps to Reproduce
Create a `ListView` widget.
**Important!!** Wrap each child in `AspectRatio`.
**Important!!** Make enough children to have a content at least in 3 times bigger then a screen

I created a sample project: https://github.com/nonameden/flutter_listview_issue
Video with sample: https://youtu.be/Ux2zg7XKAOY

Issue only happens on Android. On iOS all work as expected.

## Logs
### f

[2017-06-07 10:24] nonameden commented on #10547
Probably same as #9665

[2017-06-07 10:41] mit-mit commented on #10153
Bubbling up from PR discussion: The core of the issue are long strings in back-ticks with no spaces, for example `android/src/main/java/com/yourcompany/hello/HelloPlugin.java`. Kramdown translates these to `white-space: pre-wrap;` which means "dont linebreak".

[2017-06-07 10:41] mit-mit commented on #10120
This is the same as https://github.com/flutter/flutter/issues/10153; closing as a dupe.

[2017-06-07 10:41] #10120 closed

[2017-06-07 11:28] mit-mit commented on #10433
Great feedback, we are already looking at how to best showcase this on pub!

[2017-06-07 13:50] devoncarew commented on #9862
I had researched this a few weeks ago but haven't looked at it since then. No real updates :( I think this is captured in the first hour doc, but a sketch of this might be:

- add support into flutter_tools for enumerating and launching ios simulator and android emulators
- expose this through IntelliJ

and, as a follow-up:

- add support in flutter_tools for creating emulators
- expose in a `flut

[2017-06-07 13:51] vlidholt opened #10549 "Exception: _debugLifecycleState was called on null"
With lastest update to Flutter I've started getting exceptions thrown when switching between tabs with scroll views in them. I only get the exception when switching between two non-adjacent tabs. When switching between tabs next to each other everything is always fine.

If I'm doing something wrong, a more helpful error message would be great.

## Steps to Reproduce

Please tell us what you were d

[2017-06-07 13:54] #10507 closed

[2017-06-07 14:21] eseidelGoogle commented on #10549
Is this fallout from @HansMuller's pagestate changes?

[2017-06-07 14:25] eseidelGoogle commented on #10546
This is a @devoncarew question. :)

[2017-06-07 14:26] eseidelGoogle commented on #10545
It got moved into a plugin: https://pub.dartlang.org/packages/url_launcher

[2017-06-07 14:54] HansMuller commented on #10549
I was unable to reproduce the problem with https://gist.github.com/HansMuller/e43fecb89706a0245e5b300352482012

I tried creating scroll controllers keepScrollOffset true/false, providing PageStorageKeys per scrollable or not, etc.

[2017-06-07 14:59] eseidelGoogle commented on #10228
I suspect it's going to be you or @xster who tackle this one.  This is not show-stopping urgent, just definitely should be on our list for June.

[2017-06-07 15:12] mehmetf opened #10550 "Android Signin Plugin does not handle UserRecoverableAuthException"
When a UserRecoverableAuthException happens on Android, it comes with an Intent that the app is supposed to invoke to recover from the error. Common reasons could be giving consent to the API or device management being turned off (or invalid). These are user fixable problems and the actions to fix them usually accompanies the exception. Sending this error back to the Dart app code is not good beca

[2017-06-07 15:25] DrPhil opened #10551 "Codelabs "Firebase for Flutter" - Firebase Database security rules typo"
The security rules for the Firebase database at https://codelabs.developers.google.com/codelabs/flutter-firebase/#8 has an error.
It is:
[code]
but should be
[code]
(Note the missing **}** in the existing code.)

[2017-06-07 15:27] b-strauss commented on #10072
I know of some tracking libraries which have their own Activity class that needs to be extended. Would this change also help with that?

[2017-06-07 15:32] mehmetf opened #10552 "GoogleSignIn plugin should clear its state if an unrecoverable error occurs"
We should clear the state of signin (either via signout or via setting currentUser to null) if the currentUser object is not valid. Otherwise the app gets into a crash loop where signIn constantly tries to return the invalid currentUser.

Stack trace from various users of leafy:

[code]

[2017-06-07 15:38] zanderso commented on #10527
It looks like the Dart VM might be sending the right UTF-8 sequences to the console, but the console is not interpreting them correctly. What is the output of `chcp`?

[2017-06-07 15:41] b-strauss commented on #10527
[code]

[2017-06-07 15:44] HansMuller commented on #10549
Aha. I have been able to reproduce the problem by adding a SliverAppBar (which has a SliverPersistentHeader widget) to each CustomScrollView.  The failure occurs if the custom scroll view has a ValueKey. It doesn't appear to have anything to do with PageStorage; investigating...

[2017-06-07 15:45] b-strauss commented on #10527
PowerShell also has `Aktive Codepage: 850.`, it's working there.

[2017-06-07 15:59] eseidelGoogle commented on #10551
FYI @LarkAscending

[2017-06-07 16:13] mravn-google opened #10554 "Implement Dart/platform resync protocol in relevant examples and plugins"
Plugins and apps using platform messages to relay events from the platform to the Dart side face two problems:
1. early events may be lost because Dart message handlers are not set up immediately on app launch
1. hot restart implies that the Dart isolate is recreated, and knowledge of any state about which the events communicate delta changes is lost

One solution to both problems is to establish

[2017-06-07 16:15] mravn-google commented on #8711
#10452 tracks platform changes to make deep linking work.
#10554 tracks adding consistent/recognizable resync protocol to relevant plugins and examples.

[2017-06-07 16:15] #8711 closed

[2017-06-07 16:21] tvolkert commented on #10072
Yep.  See https://github.com/flutter/engine/pull/3748, which adds a `FlutterActivityDelegate` (which could be used by any activity)

[2017-06-07 16:26] jbrumbaugh commented on #9904
I noticed that if I had another application running on the simulator from Xcode, I would have to close it down first.   So make sure nothing else is using the simulator before running your Flutter project.

[2017-06-07 16:27] Hixie commented on #10544
Thanks for bringing this to our attention, will fix.

[2017-06-07 16:41] mravn-google commented on #8711
cc @lukef You should be able to use #10452 in the fluro plugin when landed. Until then, you can implement a custom resync protocol as follows:

1. Add `platform.invokeMethod('resync')` [here](https://github.com/goposse/fluro/blob/master/example/lib/components/app/app_component.dart#L46)
1. Add 'deepLinkChannel.setMethodCallHandler(...)` [here](https://github.com/goposse/fluro/blob/master/example/a

[2017-06-07 16:41] Hixie commented on #10344
How's this?

[code]

[2017-06-07 16:48] goderbauer commented on #8986
Unfortunately not. It seems to be system dependent. On my workstation, I can't reproduce it at all. On the Windows bot in device lab it's fairly frequent.

[2017-06-07 16:53] sethladd commented on #10344
yeah! pretty cool, thank you.

cc @InMatrix wdyt ? Will this format have the expressivity required to make the Widgets the canonical source of this categorization?

[2017-06-07 16:59] devoncarew commented on #10546
It's largely the `app` domain from the protocol, but agree that we should improve the docs here.

[2017-06-07 17:05] InMatrix commented on #10344
Yes, it looks great and can potentially be consumed by dartdoc someday. One thing I'm not sure is whether this will make changing or adding categories harder since the categorization information lives in the framework source instead of the website source for either administrative or technical reasons (e.g., testing). If you tell me "no," then I'm happy with switching to annotations in source for w

[2017-06-07 17:07] LarkAscending commented on #10551
Thanks! Updated..
The publication request for the codelab has completed:
kiosk: https://kiosk-dot-codelabs-site.appspot.com/codelabs/flutter-firebase
web: https://codelabs.developers.google.com/codelabs/flutter-firebase

[2017-06-07 17:07] #10551 closed

[2017-06-07 17:12] abarth commented on #5231
/cc @pylaligand

[2017-06-07 17:13] abarth commented on #5231
@eseidelGoogle @chinmaygarde I thought this bug was fixed?  @pylaligand seems to have just run into it again.

[2017-06-07 17:14] jcollins-g commented on #10344
I'm not sure what @Summary would be used for in dartdoc since we already have the one-line-doc concept.  (In this case, @Summary would equal dartdoc's one line doc if the first two sentences were in the same paragraph).

Otherwise, @InMatrix is correct, dartdoc could do something with this eventually.

[2017-06-07 17:20] LarkAscending commented on #10153
Finished w/setup work, and waiting for platform-plugins to be fixed.

[2017-06-07 17:21] goderbauer commented on #10185
Current status: I am able to navigate the flutter_gallery app with iOS accessibility tools without crashes. I can reach every element that is reachable and I can't reach elements that shouldn't be reachable. With that, the initial goal of this bug is archived. There is still work to do to make iOS accessibility great. That will be tracked in separate bugs.

[2017-06-07 17:21] #10185 closed

[2017-06-07 17:27] cdotstout opened #10555 "Calling dart:io's exit() in a child application causes Vulkan errors"
I called exit.  Vulkan complained about a leak and then this happened:

[code]

[2017-06-07 17:27] goderbauer commented on #9012
@jtrunick I fixed a couple of these bugs in Flutter recently. Do you still see this particular crash? If so, can you tell me how to reproduce it?

[2017-06-07 17:28] cdotstout commented on #10555
Moved from
https://fuchsia.atlassian.net/projects/MA/issues/MA-249

[2017-06-07 17:34] DanTup commented on #10546
@devoncarew Does this mean things like `showMessage` won't come from `flutter run`? (not a bad thing; I have no good way to route them to the status bar / toasts!).

Some info on shutting down might be good too (I think when I just killed the process it didn't always close the app on the emulator, though shutting down gracefully is [causing me issues](https://github.com/Microsoft/vscode/issues/281

[2017-06-07 17:35] a-siva commented on #239
The Dart VM does use the Neon instructions when the Float32x4 and Int32x4 types are used.

[2017-06-07 17:40] goderbauer commented on #10069
I tried to reproduce this with the example code given and I didn't see an assertion. This might have been fixed with the work that went into accessibility recently. Please feel free to re-open this bug if you still see this assert (ideally with additional information explaining how to reproduce it).

[2017-06-07 17:40] #10069 closed

[2017-06-07 17:52] Hixie commented on #4150
Likely dupe of https://github.com/flutter/flutter/issues/7287.

[2017-06-07 17:54] goderbauer commented on #7287
I cannot reproduce this after adaption the example code to the new widget names. Also, this code has changed a lot since this bug was filed. Closing for now. Feel free to file a new bug if you still run into this.

[2017-06-07 17:54] #7287 closed

[2017-06-07 17:57] goderbauer commented on #4150
I can't reproduce this anymore. This code has also changed a bit in the last few weeks. If you still see this, feel free to open a new bug with steps to reproduce.

[2017-06-07 17:57] #4150 closed

[2017-06-07 18:02] devoncarew commented on #10546
Yup, you won't see that from `flutter run --machine`.

Makes sense. For that, app.stop should work, and will terminate the process when finished. Killing the process should work as well - we catch the signal in flutter_tools, and kill the app on the device (the same as doing a ctrl-c on the cli).

If you are seeing this, we should open a bug - we do want the app to close on the device/emulator whe

[2017-06-07 18:14] Hixie commented on #10344
`@Summary` would be what we show here: https://flutter.io/widgets/material/#Buttons
Notice that this is not quite what we show here: https://docs.flutter.io/flutter/material/material-library.html

I'd also be fine with making those the same and dropping `@Summary`, I included it just to show that if we wanted to keep them separate we could do so.

My understanding is that the primary purpose of th

[2017-06-07 18:18] Hixie commented on #10542
Thanks!

Dupe of https://github.com/flutter/flutter/issues/10531

[2017-06-07 18:18] #10542 closed

[2017-06-07 18:18] Hixie commented on #10531
Source in https://github.com/flutter/flutter/issues/10542 may help.

[2017-06-07 18:33] DanTup opened #10556 "Terminating `flutter run --machine` process does not always close app on device/emulator"
If I launch Flutter's Hello World with a breakpoint on the main method and then terminate the process while sat at that breakpoint, the app does not close correctly (it remains as a black screen).

![Emulator](https://user-images.githubusercontent.com/1078012/26895042-23c8168e-4bb8-11e7-99f9-e48ffdf48df8.png)

[2017-06-07 18:34] DanTup commented on #10546
I've raised #10556 about not always terminating cleanly.

Another quick question - if `wsUri` is not provided, what's the correct way to use `port`? Should I connect to `ws://127.0.0.1:${n.port}/ws`?

[2017-06-07 18:36] DanTup commented on #10556
Actually, doesn't even need the debugging... I launched without debugger (nor did I pass `--start-paused`) and then terminated, and it left the app open (though this time Hello World is visible, since it didn't stop at a breakpoint).

![Emulator](https://user-images.githubusercontent.com/1078012/26895163-98b52e96-4bb8-11e7-8835-9db092b50a59.png)

[2017-06-07 19:10] devoncarew commented on #10546
`wsUri` should always be provided - we used to only provide port, but switched to passing wsUri as well (which is the better field to pull from)

[2017-06-07 19:15] Hixie commented on #10556
This is expected, the Hello World app does not implement the debugging APIs.

[2017-06-07 19:16] Hixie commented on #9965
Excellent! @lukef, let us know if this is not a sufficient solution!

[2017-06-07 19:16] goderbauer commented on #1705
This is fixed.

[2017-06-07 19:16] #1705 closed

[2017-06-07 19:18] goderbauer commented on #3819
This is fixed. Unreachable nodes are excluded from the tree with the `BlockSemantics` widget.

[2017-06-07 19:18] #3819 closed

[2017-06-07 19:20] goderbauer commented on #4792
@abarth @Hixie Do you remember what was meant by these points:

* AX doesn't work if already enabled
* Move TestSemanticsClient to flutter_test (TestSemanticsClient doesn't have any hits in the code base)
* Value for adjustable

[2017-06-07 19:20] DanTup commented on #10546
Ok; the daemon page suggesting I might not get `wsUri` but if you changed long ago enough that we can assume everyone is newer, I'll just drop the `port` stuff.

[2017-06-07 19:22] devoncarew commented on #10546
Ah, yeah, I'll update that. There was a few week overlap w/ version skew for this field between clients and flutter_tools, but we're long past that.

[2017-06-07 19:23] DanTup commented on #10556
@Hixie This doesn't seem to match what @devoncarew said [here](https://github.com/flutter/flutter/issues/10546#issuecomment-306876635), he thinks this is a bug?

I'm also slightly confused; this does seem to work sometimes and should an individual app really need to implement APIs so that it terminates correctly; why wouldn't this be done by the framework?

[2017-06-07 19:25] devoncarew commented on #10546
(updated)

[2017-06-07 19:25] goderbauer commented on #2333
I can't reproduce this one and I assume it has been fixed with one of the recent changes to accessibility. Please re-open if you're still experiencing this problem.

[2017-06-07 19:25] #2333 closed

[2017-06-07 19:25] goderbauer commented on #4752
This has been fixed.

[2017-06-07 19:25] #4752 closed

[2017-06-07 19:28] goderbauer opened #10557 "`flutter run` with multiple devices should ask me which device to use"
I have multiple devices connected to my system. When I just do a `flutter run` and forget to specify which device to run flutter just exits after printing the list of available devices. Instead of doing that, it would be nice if it asked me which device to use (e.g. press 1 for iPod Touch, press 2 for Nexus 6P, etc.)

[2017-06-07 19:32] goderbauer commented on #4750
I cannot reproduce this in the two_level_list_demo.dart. Looks like it has been fixed. Feel free to re-open if you find a case where it's not working.

[2017-06-07 19:32] #4750 closed

[2017-06-07 19:35] goderbauer commented on #3821
We fixed this on the Dart-side by removing semantic nodes of elements "behind" a modal dialog from the semantic tree.

[2017-06-07 19:35] #3821 closed

[2017-06-07 19:48] goderbauer commented on #1721
It seems to be working just fine in the Stocks app on my Nexus 6P. Closing this as it is old and probably got fixed along the way somewhere.

[2017-06-07 19:48] #1721 closed

[2017-06-07 19:49] goderbauer commented on #1715
This was recently fixed for iOS. We probably have to do something similar on Android.

[2017-06-07 20:15] goderbauer commented on #3817
Closing this as @tvolkert and I are not sure what was meant by this.

[2017-06-07 20:15] #3817 closed

[2017-06-07 20:16] paolosoares opened #10559 "Add prefix/suffix support to TextField"
Per the Material design spec:

https://material.io/guidelines/components/text-fields.html#text-fields-input-types

[2017-06-07 20:19] goderbauer commented on #1716
This was recently fixed on iOS, Android probably needs a similar fix.

[2017-06-07 20:21] goderbauer opened #10561 "Write benchmark for Semantic Tree generation"

[2017-06-07 20:28] goderbauer opened #10562 "Master Bug: Make all widgets accessible"
We need to go through all the widgets in our library and insure that they are accessible.

[2017-06-07 20:39] sethladd commented on #10344
Chatted with @InMatrix .

API docs will continually be improved and tweaks, don't think there is a concern about locking down the API docs and their metadata.

We can look for the `@Summary`, if that exists, use it. If it doesn't, use the first line.

Convergence is something we'd explore.

I think we're good to go to land this and experiment. Thanks all!

[2017-06-07 20:39] eseidelGoogle commented on #10559
Let us know what the priority on this is for you.  Presumably possible to do yourself?  Or we certainly could augment TextInput to make it possible to do things like this yourself.

[2017-06-07 20:43] goderbauer commented on #4792
I am closing this bug for now as I can't put it in the new accessibility project as is. Feel free to open new bugs for the unresolved issues and label them with accessibility.

[2017-06-07 20:43] #4792 closed

[2017-06-07 20:45] nyanmatt opened #10564 "Isolate.spawnUri() throws a confusing exception"
@jason-simmons @abarth
From a closed issue #8084 it seems like `Isolate.spawnUri()` is not supported under flutter. However, the `IsolateSpawnException` thrown doesn't represent the not-implemented state of this method. Even when using `file://` URIs the exceptions states `Isolates must use file:// URIs`

Documentation for `Isolate.spawnUri()` also exists in the flutter documentation without menti

[2017-06-07 20:48] goderbauer opened #10565 "Scrolling is strange in iOS accessibility"
Currently, when you scroll in iOS accessibility mode it plays the "no action available" sound, then scrolls, and then plays the "new screen reached" sound. Correct behavior is: scroll, and then play "scroll done" sound.

[2017-06-07 20:50] goderbauer commented on #10565
Also: when the end of a list is reached and you scroll again it plays iOS's end-of-list animation. That shouldn't be there. It should just play the "no action available" sound.

[2017-06-07 20:58] goderbauer commented on #6031
Closing this as it's rather old and no steps to reproduce have been provided. If you still see this crash feel free to re-open with steps to reproduce.

[2017-06-07 20:58] #6031 closed

[2017-06-07 21:10] goderbauer commented on #4647
It looks like only multiline strings are no longer centered.

[2017-06-07 21:11] goderbauer opened #10566 "SemanticDebugger stops working after closing any kind of overlay"
It shows just a blank screen.

Examples:
* Open a drawer, when you close it, blank screen
* navigate to another route, press the back button, blank screen

[2017-06-07 21:15] paolosoares commented on #10559
Low priority. It's just something I notice we deviate from the spec and that we might want change in the future.

[2017-06-07 21:21] Hixie commented on #10556
Normal apps should close fine. It's just specifically the Hello World app (or any app that doesn't actually use the Flutter framework) that is affected.

[2017-06-07 21:23] Hixie commented on #3817
Focus in the Flutter framework refers to FocusNode. Text fields and such.

[2017-06-07 21:47] gavindoughtie commented on #10475
Unfinished PR here: https://github.com/flutter/flutter/pull/7553/files

[2017-06-07 21:50] apwilson opened #10569 "Cannot fling list views on fuchsia"
Example code:

[code]

[2017-06-07 22:02] tvolkert opened #10571 "Remove FlutterActivity#onFlutterReady()"
As of https://github.com/flutter/engine/pull/3748, [`FlutterActivity#onFlutterReady()`](https://github.com/flutter/engine/blob/1f765cdba7aee9d0a953043209b05d2c59270391/shell/platform/android/io/flutter/app/FlutterActivity.java#L45) is no longer needed and has been deprecated
 — subclasses should just put their "on Flutter ready" logic on `#onCreate(Bundle)` after calling `super.onCreate()`

After

[2017-06-07 22:15] tvolkert commented on #10571
Announcement: https://groups.google.com/forum/#!topic/flutter-dev/PfdpgLZ8hVI

[2017-06-07 22:25] #10549 closed

[2017-06-07 22:40] HansMuller commented on #10531
In release mode the app is often asked to layout before the engine has initialized to the point where the size of the screen is known. In that case the app is built and laid out with 0x0 constraints and then later with the screen's actual size.

The phantom tabbar scrolling seen here upon app startup is due to the scrollable tabbar's scroll offset being "corrected" once the tab bar's size is const

[2017-06-07 22:46] #4647 closed

[2017-06-07 22:52] goderbauer commented on #1752
I cannot reproduce this. However, there is issue https://github.com/flutter/flutter/issues/10566, which is similar to this one, but it is present regardless of accessibility being on or off.

[2017-06-07 22:52] #1752 closed

[2017-06-07 23:15] #10135 closed

[2017-06-07 23:32] HansMuller commented on #10475
I could add TabBar properties `indicatorWeight` (default 2) `indicatorHorizontalMargin` (default 0).  If you defined tabs with Tab widgets, then setting indicatorHorizontalMargin to 12 would make the tab indicators the same witdh as each tab's text. If you wanted thicker tab indicators, you could set indicatorWeight too.

Let me know if this sounds reasonable.

[2017-06-08 00:04] goderbauer commented on #10566
Looks like the SemanticDebugger is dropping the Semantic Tree update from the last frame on the floor.

[2017-06-08 00:06] goderbauer commented on #10566
... which makes sense because changes to the semantic tree are painted on the screen in a post frame callback. However, registering a post frame callback does not schedule a frame and if there are no more frames scheduled after an update to the semantic tree, that update is never painted on the screen by the semantics debugger.

[2017-06-08 00:18] HansMuller commented on #7135
The tabs implementation was rewritten late last year and the issue raised here no longer occurs.

Here's a version of the test app that does the right thing:
https://gist.github.com/HansMuller/88abe25c0c1e0d9f8ae61349c9bb59ee

[2017-06-08 00:18] #7135 closed

[2017-06-08 00:30] cbracken commented on #10460
Do you have more specific repro instructions? The height of the gap at the bottom looks suspiciously like the keyboard region height, but I'm unable to repro on my end either with keyboard open (I see the keyboard in the keyboard frame) or closed (behaves as expected).

Looks like you're using gBoard? I'll give it a go with gBoard as well and see if that changes things.

[2017-06-08 00:34] Hixie commented on #10405
https://github.com/flutter/flutter/pull/10575 will revert this fix due to the performance impact.

[2017-06-08 00:37] FaisalAbid commented on #10571
This is such a great change, thanks @tvolkert

[2017-06-08 01:18] Hixie commented on #10496
@markentingh Is there anywhere we could have put that documentation that you would have run into before filing the bug? I'm trying to figure out how we could have helped you better here.

[2017-06-08 01:18] Hixie commented on #7106
softWrap:false is basically entirely broken right now.

[2017-06-08 01:19] Hixie commented on #7106
Specifically, from what I can tell by inspection (haven't tested it) the softWrap:false option breaks textAlign and overflow.

[2017-06-08 01:23] markentingh commented on #10496
It's kind of my own fault since I assumed a Row widget would be able to work like an HTML div. I wasn't reading the documentation completely. Instead I was using intellisense in Visual Studio Code in this case.

[2017-06-08 01:30] Hixie commented on #10496
Interesting. I'll close this bug since I don't know that there's anything we can do about this right now but I'll keep thinking about what we could do to make it more obvious! Let me know if you have any ideas.
Cheers!

[2017-06-08 01:30] #10496 closed

[2017-06-08 01:48] xster commented on #10228
Will take this tomorrow or Monday

[2017-06-08 02:41] collinjackson commented on #10321
It is my understanding that this is working as intended, but let me know if I'm mistaken.

[2017-06-08 02:41] #10321 closed

[2017-06-08 08:13] DrPhil opened #10578 "Typo in Codelabs "Firebase for Flutter" comment"
At https://codelabs.developers.google.com/codelabs/flutter-firebase/#9 there is a typo at:
[code]
it should be
[code]
where the typo is in the name `_buildTextComposer()`.

[2017-06-08 08:17] DrPhil commented on #10578
FYI @LarkAscending
(Sorry if this is the wrong person to notify, but you were notified last time...)

[2017-06-08 08:51] #10472 closed

[2017-06-08 09:54] mit-mit commented on #10550
cc @collinjackson

[2017-06-08 13:03] rxlabz opened #10579 "no forward method in AnimationController : weird analyzer error in my flutter packages"
I have a weird analyzer error when I try to use some animationController methods in my Flutter (pure Dart, not plugin) packages  :

`The method 'forward' isn't defined for the class 'AnimationController'`

![flutilz_example_dart_-_yx017-protos_-____projects_ytbx017_protos__-_intellij_idea_2017_1_4_eap](https://user-images.githubusercontent.com/1397248/26929626-a3a84764-4c5a-11e7-925a-6b95cb1c20ad.

[2017-06-08 13:21] mit-mit commented on #10579
I can repro this; not sure what is causing it. @danrubel any ideas?

[2017-06-08 13:29] mit-mit commented on #10579
Removing `analysis_options.yaml` makes analysis pass. Not entirely sure why...

[2017-06-08 13:36] rxlabz commented on #10579
Thanks @mit-mit ! so it's not caused by my xcode9 beta installation :)
Does it change something for the "Strong Mode activation" to remove `analysis_options.yaml` in a Flutter project ?

[2017-06-08 13:41] mit-mit commented on #10503
Hi, can you elaborate on your steps? And what does your pubspec.yaml of the app look like?

The following works for me:

1. `flutter create --plugin plugintest`
1. `flutter create apptest`
1. `cd apptest`
1. `nano pubspec.yaml` + add this just below `sdk: flutter`:
[code]
1. `flutter run`

For details on local package dependencies, see https://flutter.io/platform-plugins/#managing-dependencies-fro

[2017-06-08 13:45] mit-mit commented on #10494
Hi, can you clarify which exact example from which repo you are using?

The following steps seem to work for me:

1. `git clone https://github.com/flutter/plugins`
1. `cd plugins/packages/google_sign_in/`
1. `cd example/`
1. `flutter run`

[2017-06-08 13:51] mit-mit commented on #10394
Hi @leddy231

`android/app/build.graddle` shouldn't have any hardcoded paths, but rather should have relative paths like `apply from: "$flutterRoot/packages/flutter_tools/gradle/flutter.gradle"`

The `.idea` and `.packages` files do indeed contain local paths. Typically those would be ignored by source control as controlled by the `.gitignore` file. I'm afraid we don't have good support for "recal

[2017-06-08 13:52] mit-mit commented on #10394
Note that you can always delete the `.packages` file, and then regenerate it locally by running `flutter packages get`.

[2017-06-08 14:50] lschmierer opened #10580 "Support for changing user info in Firebase Auth plugin"
The Firebase Auth plugin is missing support for changing user information.

[2017-06-08 15:18] alardizabal commented on #10475
That works with my use case.

[2017-06-08 15:40] mit-mit commented on #10370
@szakarias this sounds similar to https://github.com/flutter/flutter/issues/10452 ?

[2017-06-08 15:41] eseidelGoogle commented on #10580
FYI @collinjackson

[2017-06-08 15:43] mit-mit commented on #10201
Closing as there has been no reply for ~ three weeks. Feel free to re-open, or open a new bug, if there still is an issue.

[2017-06-08 15:43] #10201 closed

[2017-06-08 15:48] Hixie commented on #10579
You need to make sure you have
[code]

@pq any idea why this isn't working out of the box?

[2017-06-08 15:48] stevemessick opened #10581 "flutter packages get -- failed on slow connection"
[code]
I'm connected by satellite internet, so it is quite slow. It is good enough to create this issue, though. If this is strictly a pub issue let me know and I'll file it there.

[2017-06-08 15:52] #10138 closed

[2017-06-08 15:52] sethladd commented on #10581
Sorry for the troubles. "Connection terminated during handshake" sounds like a networking issue. I'm tempted to close this because `packages get` can do a lot of networking connections, and if there's a very spotty internet connection, it may fail.

[2017-06-08 15:54] mit-mit commented on #9868
I can't repro this. We create project with a run config (and have done so for quite a while).

[2017-06-08 15:54] #9868 closed

[2017-06-08 15:58] rxlabz commented on #10579
@Hixie thanks !

[2017-06-08 16:03] mit-mit commented on #9438
@vlidholt are we OK to close this?

[2017-06-08 16:13] #10545 closed

[2017-06-08 16:15] mit-mit commented on #9490
Fixed earlier in https://github.com/flutter/flutter/pull/10548

[2017-06-08 16:15] #9490 closed

[2017-06-08 16:22] mit-mit commented on #9413
This repros for me easily:

1. `flutter create testapp`
1. Replace all of `lib/main.dart` with:
[code]
3. `flutter run`
4.  Hit `R` (restart)

[2017-06-08 16:23] mit-mit commented on #9413
cc @a-siva

[2017-06-08 16:26] mit-mit commented on #9027
Closing for now.

@srawlins feel free to send PRs; we run all unit tests on them in travis

[2017-06-08 16:26] #9027 closed

[2017-06-08 16:27] mit-mit commented on #7946
Moving to M4 now that we have a better message in the tool.

[2017-06-08 16:29] mit-mit commented on #10198
Looks like a dupe of https://github.com/flutter/flutter/issues/7779; closing

[2017-06-08 16:29] #10198 closed

[2017-06-08 16:31] pq commented on #10579
cc @scheglov

[2017-06-08 16:32] rxlabz commented on #10579
another strange behavior : I just added the correct `analysis_options.yaml` in one project, and it seems to be applied in all Flutter modules in the IntelliJ project.

[2017-06-08 16:33] mit-mit commented on #7418
Closing as not actionable. Please file a new bug if there still is an issue!

[2017-06-08 16:33] #7418 closed

[2017-06-08 16:35] mit-mit commented on #7275
@danrubel will this be resolved as part of https://github.com/flutter/flutter/issues/10015?

[2017-06-08 16:36] mit-mit commented on #10579
Interesting, can you please open a separate bug for that in https://github.com/flutter/flutter-intellij/issues?

[2017-06-08 16:37] DanTup commented on #10556
@Hixie Do you know why it would intermittently work?

I'm a bit of a flutter noob, it looked to me like Hello World used the flutter framework; what is it that's missing? (I presume I can just switch to one of the other example apps for testing, I'm just curious about this!)

[2017-06-08 16:52] scheglov commented on #10579
The previous time we had similar errors because without `enableAssertInitializer: true` parse gets confused and skips (I don't remember exactly) either the next method, or the whole class body.

[2017-06-08 17:24] Hixie commented on #7918
Are we currently outputting the symbols anywhere during release builds?

[2017-06-08 17:27] LarkAscending commented on #10578
Thank you! Fixed!

[2017-06-08 17:27] #10578 closed

[2017-06-08 17:29] sethladd opened #10582 "We'd like to know what host OS version our users are using"
We had a question about when/how to upgrade a dependency, which has a restriction on the host OS version. We went into analytics, and saw OS type but didn't see OS version. Specifically, we wanted to know what version of Mac OS our users are using.

cc @cbracken

[2017-06-08 17:33] eseidelGoogle commented on #10582
This may need support in package:usage?

[2017-06-08 17:39] Hixie commented on #10556
Ah, I may have been confused about which app you meant.

These should terminate fine, because they use the Flutter framework:
https://github.com/flutter/flutter/blob/master/examples/hello_world/lib/main.dart
https://github.com/flutter/flutter/blob/master/examples/layers/widgets/hello_world.dart
https://github.com/flutter/flutter/blob/master/examples/layers/rendering/hello_world.dart

This one shou

[2017-06-08 17:43] eseidelGoogle commented on #10554
Does this block @lukef's deep linking application?  If so we should mark this as customer: posse and customer blocker.

[2017-06-08 17:53] DanTup commented on #10556
Ah, ok. It is [this one](https://github.com/flutter/flutter/blob/master/examples/hello_world/lib/main.dart) I'm testing with.

Terminating from the command line seems to always work, though I think pressing Ctrl+C sends a different signal than just calling `.kill()` in node (which is basically what I'm doing). As I understood it, `.kill()` will just terminate the process in a way that it has no wa

[2017-06-08 18:14] Hixie commented on #10581
Specifically, this is a dupe of https://github.com/flutter/flutter/issues/9898.

[2017-06-08 18:14] #10581 closed

[2017-06-08 18:18] HansMuller opened #10584 "FlutterDriver reports the target device"
Internal: b/124657370

Currently the flutter driver test that collections screenshots (see examples/catalog/bin/screenshot_test.dart.template) incorrectly assumes that if it's running on MacOS, it's targeting an iOS device.

It would preferable to just ask the FlutterDriver for the target device's deviceId, or OS.

I've patched the problem for now https://github.com/flutter/flutter/pull/10583

[2017-06-08 18:32] devoncarew commented on #10556
@DanTup, you could also kill the app with the app.stop() daemon command, instead of node process kill function.

[2017-06-08 18:41] DanTup commented on #10556
@devoncarew Tried that, but then either the debugger process gets immediately terminated (which I don't know if may result in unreliable termination; eg. if the command was still in a buffer) or I delay telling Code I've finished (and that's where https://github.com/Microsoft/vscode/issues/28192 came from!).

If killing the process _should_ work, then I think fixing this bug is the simplest way (f

[2017-06-08 18:47] goderbauer commented on #10566
The setState called in the postFrameCallback will also not schedule a frame. setState only schedules frames when called during SchedulerPhase "idle" and in a postFrameCallback the SchedulerPhase is "postFrameCallback".

[2017-06-08 19:01] AlexiCoard commented on #10363
Just tried with a Oneplus 3t with Android 7.1, with the keyboard hiding the textfield and not, no problems, seems like a bug with Android 5

[2017-06-08 19:12] mravn-google commented on #10554
This issue is not a blocker. It's about providing examples to be emulated.

[2017-06-08 19:15] Solido commented on #10494
I've been stuck with plugins installation on Ios for weeks now.
Sure that this case only happen on my setup.

Question should rather be what's the meaning of this error, what cause it, how to correct it or prevent it.

It happened on all my projects so I decided to move on official project to see if it works.
Since it's still fail my setup is faulty but doctor said all is OK.
I'm asking for clue.

[2017-06-08 19:19] mit-mit commented on #10494
Does `pod setup` in a terminal complete with no errors?

Do the exact steps I listed above fail with the error you posted at the top of this bug?

[2017-06-08 19:38] Solido commented on #10494
Your command found it :

first I get
[code]
then by setting it
[code]

[2017-06-08 20:02] a14n commented on #4642
I just notice this issue and reviewing the 2 PR I see `@required` added but no `assert(xxx !=null)`. I make a quick test with one of the Widget modified (`Title`) and it looks like `null` is not accepted (`new Title(child: null)` in my test throw an exception).

Should an `assert(xxx != null)` be added where the `@required` had been added ?

[2017-06-08 20:46] cbracken commented on #10510
Patch 3: Migrate framework builds to Xcode 8 build
https://chromium-review.googlesource.com/c/528364/

[2017-06-08 21:08] pulyaevskiy commented on #10552
@mehmetf Just wondering if flutter/plugins#94 resolved your issue?

[2017-06-08 21:38] #9438 closed

[2017-06-08 21:59] cbracken opened #10586 "Document pre/post-submit process in our contributing docs"
Our presubmit process currently involves:
1. CLA
2. Travis
3. AppVeyor
4. The overall red/green build status

Out postsubmit process currently involves:
1. Travis
2. Appveyor
3. Chromebots
4. Devicelab bots

Since we're a distributed team with both Googler/non-Googler contributers,  we should document how these play into the workflow of sending a PR and the post-submit checks to help diagnose fail

[2017-06-08 22:04] mehmetf commented on #10552
@pulyaevskiy Thanks for checking; we have some process to go through before I can verify this. This will remain assigned to me (and open) until I can do that.

and a big thanks for revamping that plugin!

[2017-06-08 22:10] rmacnak-google commented on #7918
When AOT buildS as assembly instead of blobs (currently iOS and Fuchsia but not Android), we include symbols on each Dart function and DWARF debug information. The program would still work if these symbols are stripped, so you can safely do so and save them somewhere for offline symbolization.  (Cf. Issue #4287)

[2017-06-08 22:22] Hixie commented on #4642
In general yes but it's not a hard and fast rule. For example, `onPressed` is often @required but is allowed to be null.

[2017-06-08 22:25] #10566 closed

[2017-06-08 22:50] eseidelGoogle commented on #10586
We have some documentation here: https://github.com/flutter/flutter/blob/master/dev/bots/README.md

[2017-06-08 22:50] cbracken commented on #10510
Patch 4: Migrate engine builds to Xcode 8 build:
https://chromium-review.googlesource.com/c/527579/

[2017-06-08 22:58] #10547 closed

[2017-06-08 23:16] LarkAscending commented on #9610
It seems to be a [customized, unmaintained version of bootstrap CSS](http://www.lavishbootstrap.com/). It says "compatible with 3.3.4" but that doesn't mean that's the version it's based on. The original goal was to help you generate a theme based on the colors in a (hero) image.

We added it to flutter/website in [this commit](https://github.com/flutter/website/commit/48cff44fd56f7bba36122ef47b94

[2017-06-08 23:37] cbracken commented on #10510
All builds updated to Xcode 8. Both engine and framework builds look happy.

[2017-06-08 23:37] #10510 closed

[2017-06-09 01:03] cbracken commented on #10510
iOS CocoaPods-dependent tests disabled in:
https://chromium-review.googlesource.com/c/527819/

Re-enabled in:
https://chromium-review.googlesource.com/c/528648/

[2017-06-09 01:21] tvolkert commented on #10072
Ok, we now have `io.flutter.app.FlutterFragmentActivity` available for apps willing to take the hit of the v4 support library (1.1M before Proguard).

I'm marking this as fixed; there's a separate task of updating the google_sign_in plugin to use it.

[2017-06-09 01:21] #10072 closed

[2017-06-09 01:59] cbracken commented on #10510
The bots are now fully upgraded to macOS 10.12 and Xcode 8. Engine & Framework are using it, deployment target iOS 8 hasn't changed. As of #10591, the framework is using an Xcode 8-built engine and everything looks green.

Calling this closed :)

[2017-06-09 05:42] stepango opened #10592 "Plugin for recording audio"
I'm new into Flutter, want to play around and build simple audio recorder. Is it possible? Is it any ready to use audio recording plugin?

[2017-06-09 08:37] #10452 closed

[2017-06-09 09:12] jakobr-google commented on #10494
Try running `pod repo update` to make sure you have the latest CocoaPods specs.

The error you're getting in the issue description means that it can't find the `Google/SignIn` pod of version 3.0 (or compatible). The pod does exist, but you might not have the spec in your local pods repository.

If you want to run `pod install` manually (like in your latest comment), you'll need to set FLUTTER_FRAM

[2017-06-09 09:30] mit-mit commented on #9505
I can repro this. The errors and warnings are:

[code]

[2017-06-09 09:45] mit-mit commented on #9842
While we are working on a real resolution to this problem, the following workaround seems to work:

Install gradle 3.3:
1. Download gradle-3.3 from https://services.gradle.org/distributions/gradle-3.2.1-bin.zip
1. Unzip file to the gradle installation dir
   * MacOS: `/Applications/Android Studio/Contents/gradle/`
   * Windows: `C:\Program Files\Android\Android Studio\gradle`

When opening in Andr

[2017-06-09 09:45] mit-mit commented on #9867
Sorry the the late reply @darrellpf! After opening the project, did you get prompted to use gradle wrapper? Did you answer yes or no?

I think you may be hitting https://github.com/flutter/flutter/issues/9842. I listed a temporary workaround there.

[2017-06-09 10:50] Solido commented on #10494
Using the commands you provided I was able to find that something was corrupted in CocoaPod.
On the official CocoaPod thread they provided the following advice
`rm -rf ~/.cocoapods/repos`

I'm really happy that this is solved.
Thank you !

[2017-06-09 11:09] mit-mit commented on #10494
Great to hear! Can we close this, or are you seeing other issues?

[2017-06-09 11:11] mit-mit commented on #10592
I don't believe such a plugin is available yet. We'd love to see one contributed! You should be able to do the recording in native code, and then pass back the result to the UI (likely via a file).

[2017-06-09 11:12] Solido commented on #10494
My project is some weeks old now I get
`MissingPluginException(No implementation found for method init on channel plugins.flutter.io/google_sign_in)`

I guess I should start a new project from scratch then add plugins then copy paste my sources ?
If you can point me to some docs I guess this one is closed.
Thank you very much.

[2017-06-09 11:16] mit-mit commented on #10494
Yes, for projects older than ~3-4 weeks there were some breaking changes, incl:
https://groups.google.com/forum/#!searchin/flutter-dev/breaking%7Csort:relevance/flutter-dev/zba1Ynf2OKM/6m__2uCbAgAJ

My recommendation would be to `flutter create` a new application, then move over the contents of `pubspec.yaml` and `lib/*.dart`. This is assuming you have not written any native code yourself; in that

[2017-06-09 11:19] #10494 closed

[2017-06-09 11:32] mit-mit commented on #10493
Closing as a duplicate of https://github.com/flutter/flutter/issues/3671

[2017-06-09 11:32] #10493 closed

[2017-06-09 12:07] mit-mit commented on #10485
Thanks for reporting! This is known issue https://github.com/flutter/flutter/issues/10153.

[2017-06-09 12:07] #10485 closed

[2017-06-09 12:10] mit-mit commented on #10434
Sorry to hear @Tim86. Do you get this consistently whenever you run, or just sometimes?

[2017-06-09 12:12] mit-mit commented on #10161
@devoncarew I thought we checked for this already?

[2017-06-09 12:13] mit-mit commented on #10158
Can you clarify? Don't believe keytool is part of flutter...

[2017-06-09 12:16] mit-mit commented on #9837
Closing. @hundeva the expected dupe #9438 has been resolved, so if you are still seeing this after updating please reopen, or open a new bug.

[2017-06-09 12:16] #9837 closed

[2017-06-09 12:17] mit-mit commented on #9887
@devoncarew can we close this?

[2017-06-09 12:20] mit-mit commented on #9465
Sorry to hear @MasterChenGitHub. Were you able to resolve this? Do you see the error on every run of doctor?

[2017-06-09 12:29] darrellpf commented on #9867
[✓] Flutter (on Linux, locale en_US.UTF-8, channel master)
    • Flutter at /home/darrell/flutter
    • Framework revision 21441aa366 (11 hours ago), 2017-06-08 18:13:49 -0700
    • Engine revision 4d423b62b9
    • Tools Dart version 1.24.0-dev.6.7

[✓] Android toolchain - develop for Android devices (Android SDK 25.0.3)
    • Android SDK at /home/darrell/Android/Sdk
    • Platform android-25, bui

[2017-06-09 14:01] alardizabal opened #10593 "Gestures should not pass through disabled controls"
I’m using showModalBottomSheet to show a list of RadioListTiles as options. I still want to show unavailable options — so they show up as disabled (onchanged = null). However, when you tap those disabled options it seems like the tap passes through and dismisses the sheet. It seems unexpected.

As a workaround, @Hixie suggested wrapping the RadioListTile in an AbsorbPointer. I also wrapped that in

[2017-06-09 15:25] devoncarew commented on #10161
This was fixed after this issue was filed - looks like we had duplicate issues (https://github.com/flutter/flutter-intellij/issues/1054).

[2017-06-09 15:25] #10161 closed

[2017-06-09 15:26] devoncarew commented on #9887
Yes, we're now lenient towards the presence of a VERSION file.

[2017-06-09 15:26] #9887 closed

[2017-06-09 15:34] Solido commented on #10404
Our roadmap is build around this feature. A lot of mobile application now rely on this.

[2017-06-09 15:46] eseidelGoogle commented on #10404
Flutter's firebase_auth is just a wrapper around the Firebase SDKs themselves:
https://github.com/flutter/plugins/tree/master/packages/firebase_auth
patches are certainly welcome.  @collinjackson wrote the existing wrappers.  I don't know how much work it would be to add these additional apis.

[2017-06-09 15:47] Solido opened #10594 "Expose idToken in Firebase Auth"
Currently when you authenticate with Google to Firebase you receive a **FirebaseUser.UID** that is the _definitive_ ID.

Our Flutter application is calling our Rest API and sending this UID is not secure because if stolen there's nothing we can do.

When working with android or Angular2 client you'll get a **Firebase Token** instead that you can pass to your server as JWT Authorization header and

[2017-06-09 15:48] eseidelGoogle commented on #10594
@collinjackson would know.

[2017-06-09 15:53] eseidelGoogle commented on #10592
There is at least one shipping app which wrote their own:
https://play.google.com/store/apps/details?id=com.harpsoft.bendometer.ui.android&hl=en
presumably using https://flutter.io/platform-channels/ but without bundling it up into a plugin for redistribution.

[2017-06-09 16:42] Hixie commented on #10593
Forget the AbsorbPointer, I was barking up the wrong tree with that one. But wrapping the whole part of the sheet that you want to have not dismiss the sheet with a `new GestureDetector(onTap: () { }, ...)` should solve it.

[2017-06-09 16:51] Hixie commented on #10593
The question is whether we want that behaviour by default for Radio, RadioListTile, or anything else, or if it's specifically a question for sheets, or if we should just document it somewhere...

[2017-06-09 17:13] brianegan commented on #1220
I'm not sure how good the accessibility story is for Flutter yet (looks like there's work being done), but I'd love a set of lint warnings for accessibility violations as a developer so I can keep my app in good shape wrt Accessibility.

Example:

  - [ ] `Error: IconButton does not have a tooltip`
  - [ ] `Error: Image does not have description` (although I actually don't right now see a way to a

[2017-06-09 17:14] sethladd commented on #1220
Thanks for the ideas!

[2017-06-09 17:15] sethladd commented on #7044
Another item: https://github.com/flutter/flutter/issues/1220#issuecomment-301177908

"when a subclass of State defines a constructor (it should use the default constructor and access its configuration with the widget getter)."

[2017-06-09 17:16] goderbauer opened #10595 "Scrollviews need to announce which items of how many are shown"
In accessbility mode, a scrollable view should anounce that it is showing "Page x of y" or that it is showing "Items x to y of z total items"

[2017-06-09 17:20] sethladd commented on #9610
Sounds great. I fully support going to vanilla bootstrap. Thanks for looking into this!

[2017-06-09 17:27] sethladd commented on #10493
I've found this library to be really useful, when I needed to use isolates: https://pub.dartlang.org/packages/isolate

[2017-06-09 17:39] goderbauer opened #10596 "New routes should be announced"
If you switch from one screen to another, it should announce what the new screen is.

[2017-06-09 18:12] goderbauer opened #10598 "Accessibility Checker"
Would be cool to have an accessibility checker (maybe as analyzer plugin) that tells people what's missing in their flutter app to make it accessible. It should for example warn if there are controlls without meaningful labels.

[2017-06-09 18:12] goderbauer commented on #10598
Also warn if touch targets are too small

[2017-06-09 18:25] goderbauer opened #10599 "Text Input with typing feedback (iOS) doesn't work"
Characters and Words are not read back when setting is enabled.

/cc @cbracken

[2017-06-09 19:06] eseidelGoogle commented on #10598
It seems like we should (at least for now) just use the ones which exist for Android and iOS?

[2017-06-09 19:43] eseidelGoogle commented on #8231
@tvolkert (from your flutter_tools experience) do you have any guess as to how hard this would be?

[2017-06-09 19:45] goderbauer commented on #10598
Yeah, I don't think this is high priority right now. However, in the future it would be nice if we could have this kind of feedback right in the IDE.

[2017-06-09 19:48] eseidelGoogle opened #10601 "AnimatedOpacity tells me its expensive, but not why?"
Would be nice to have a second sentence there which gave some minimal explanation of why or if there are cases which are more expensive vs others?

[2017-06-09 19:51] cbracken opened #10602 "Hot reload broken on Xcode 9 / iOS 11 beta"
## Steps to Reproduce

1. Run `sudo xcode-select /Applications/Xcode9.0/Contents/Developer` to switch to Xcode 9. Adjust for Xcode 9 install path as necessary.
1. `flutter run -d myiOS11Device` from a flutter project

**Expected:** App launches, hot reload infra comes up.

**Actual:** App launches, stack trace on host machine after a timeout. `flutter` tool is unable to locate the Observatory/Diag

[2017-06-09 19:58] cbracken commented on #10602
In the engine, we rely on ASL to forward `stdout` and `stderr` to ASL. As of iOS 10, ASL is replaced with `os_log`, which fortunately has some nice new functionality.

On the host machine we rely on two mechanisms to collect the logs:
1. **Simulators:** scrape syslog for the log messages.
2. **Devices:** capture logs via `idevicesyslog`.
macOS 10.11 and above (which are required for Xcode versions

[2017-06-09 19:59] cbracken commented on #10602
Related #6758 #8981 #9308 #10358

[2017-06-09 20:15] tvolkert commented on #8231
/cc @jason-simmons

Not sure - Jason may know more.  If need be, I can dig in and take a deeper look.

[2017-06-09 20:19] wmleler commented on #10158
keytool could not find the Java JDK, not Flutter.

[2017-06-09 20:21] goderbauer opened #10603 "iOS 11 SmartInvert is not smart for Flutter apps"
A Flutter app is completely inverted when using SmartInvert. It seems to behave exactly like the old (now called "clasic") invert. One difference between classic and smart invert is that smart invert should not invert pictures. There might be more differences...

[2017-06-09 20:31] goderbauer opened #10604 "Travis in plugin repo sometimes hangs during Xcode build"
Travis times out after Xcode build hasn't produced an output in over 10 minutes. Usually, a build should be completed in less then 10 minutes, so something is probably hanging.

There are also reports of this happening by other Travis users: https://github.com/travis-ci/travis-ci/issues/5743

Why should try some of the work-arounds listed there.

/cc @mit-mit @tvolkert @mehmetf

[2017-06-09 20:32] goderbauer opened #10605 "iOS 11 SmartInvert is not smart in Flutter"
Flutter apps are completely color inverted (just like the "classic invert" mode). Pictures, for example, shouldn't be inverted in SmartInvert

[2017-06-09 20:32] #10605 closed

[2017-06-09 20:40] tvolkert commented on #10604
@mehmetf, FYI in case you want to have a look: the Xcode build is triggered here: https://github.com/flutter/plugins/blob/100a3a3949344f0efba650301385b6894cabb5a4/.travis.yml#L107 -- that kicks off flutter_tools, which in turn runs Xcode build

[2017-06-09 20:50] orthros commented on #7194
I might take a crack at this 😺

[2017-06-09 20:57] a14n commented on #4642
I was mainly thinking about `child` parameter.

[2017-06-09 20:59] Hixie commented on #10596
In general for edge-triggered accessibility effects we're going to need a new API specifically for that purpose. The current accessibility stuff is entirely level-triggered (describe the current state, hand the state off to the OEM layer).

[2017-06-09 22:04] DaveShuckerow commented on #8342
I'm going to take this on and discuss further with Mulligan.  We want to get:

- [ ] An implementation for this inset-autocomplete widget (and all the fiddly little details)
- [ ] A story about the future ownership of this widget (here in flutter/material or internal to the g3 clients' codebase)

[2017-06-09 22:06] #10475 closed

[2017-06-09 23:03] smrtsmrf commented on #4326
I get the same issue, but I'm using the latest version of XCode. When I try to run it in XCode, I get a white screen on my device and this in XCode.
<img width="1512" alt="screen shot 2017-06-09 at 4 35 29 pm" src="https://user-images.githubusercontent.com/17756776/26997287-90de69f2-4d35-11e7-9c27-512be8a3cb34.png">

[2017-06-09 23:47] Solido commented on #10601
Same goes for https://docs.flutter.io/flutter/widgets/IntrinsicWidth-class.html ?

[2017-06-10 00:29] cbracken opened #10611 "Flaky flutter_tool failures dart:isolate _RawReceivePortImpl._handleMessage"
Coincidental with the 1.24.0-dev.6.7 roll (#10585) we've seen infrequent failures on Travis during the flutter_tool tests:

[code]

Worth checking in with the VM team and pub authors to see if this sounds like it could be related to any recent changes.

[2017-06-10 00:30] cbracken commented on #10611
/cc @a-siva @pq

[2017-06-10 04:44] Hixie opened #10613 "flutter tool warnings use inconsistent styles"
[code]

cc @yjbanov @tvolkert

[2017-06-10 05:30] hugovangalen opened #10614 "Layout with multiple MaterialButtons: Animation framerate drops considerably on Nexus 6P"
**Issue description**
I am observing a considerable animation lag on the Nexus 6P on the ripples of the MaterialButton if there are a couple of them on the scene.

I do not know if other devices are affected, but I am not observing this in the emulator: no matter how much buttons I add to the scene, the emulator appears to keeps animating all the ripples smoothly without any noticeable performance

[2017-06-10 05:50] Hixie commented on #10614
Can you confirm if you are using debug mode or release mode?

[2017-06-10 08:36] hugovangalen commented on #10614
I can confirm this happens in both modes.

[2017-06-10 14:57] pq commented on #10611
Watching this one w/ interest!  @a-siva : any thoughts?

[2017-06-10 15:30] susch19 commented on #10453
I have tested this issue a little bit more and here is a little workaround for the Gallery App:
[code]
So what i observed was, creating a new list or modifying "testList" in my example will trigger the wrong behavior, but as long, as you don't change "testList" it will work as expected.
I tried to implement a similar workaround in my app, but that's not working, because i don't have a non changing

[2017-06-10 15:38] DanTup opened #10615 "Unable to resume execution after hitting breakpoint in Flutter apps"
I'm working on Flutter integration for Dart Code and mostly reusing the existing Dart debugging code. I'm running the Hello World app from the repo and have restructured the code slightly for testing debugging/stepping. Code looks like this:

[code]

I launch the app (with --start-paused) and connect to observatory and send a `resume` command and the app begins, hits my breakpoint, and sends back

[2017-06-10 15:52] DanTup commented on #10546
Another thing worth documenting - which types of messages should be shown to the user? There's a lot of stuff coming back (`app.log`, `app.progress` and also non-JSON messages) but it's not clear which are things that are expected to be shown to the user and which are not (I don't want to just spam the output log junk).

I was perviously ignoring all of the non-JSON messages but then noticed that

[2017-06-10 16:32] eseidelGoogle commented on #10614
If someone is interested in debugging, the first step is probably to turn on showPerformanceOverlay to get a sense as to if this is time spent on the Dart thread or the Rasterizer/GPU thread. I strongly suspect it's the latter.  MaterialApp has several first-line-of-defense perf debugging flags:
https://docs.flutter.io/flutter/material/MaterialApp-class.html

After that we'll escalate to taking a

[2017-06-10 16:42] brianegan commented on #9249
+1 to this issue -- was just trying to create a nice library that other Flutter users could import and then immediately start using the Icons.

*From my Q on Gitter:*
What I'm trying to do: Create a FontAwesome (fontawesome.io) Flutter library that can be imported by other Flutter projects. This lib would act exactly like the Icons class, but would expose a FontAwesomeIcons class instead. In order

[2017-06-10 18:01] Hixie commented on #9249
I think @xster had talked about looking at making a sample package that includes an icon font (for iOS) and making sure everything to make that possible was nice and smooth.

[2017-06-10 20:15] asaarnak commented on #10236
Seems like it's fixed by using:
[code]
Currently the flutter create template has older version 2.2.3
because it defaults to Android Studio gradle version, which is gradle 3.2 on latest stable studio 2.3.

[2017-06-10 21:29] Tobiaswk opened #10616 "TimePicker/DatePicker localization"
The `showDatePicker()` and `showTimePicker()` should allow localization. Right now it is not possible to specify labels for the "cancel" and "ok" buttons. Either it should be possible to specify labels for these buttons or localization should be done automatically. I prefer the latter.

[2017-06-10 22:12] Hixie commented on #10616
Why do you prefer the former?

Also, it needs a lot more localisation than that. For example, it needs to handle 12h/24h clocks, and Norwegian 00/24 styles, etc.

[2017-06-11 00:11] branflake2267 opened #10617 "Android apps aren't loading or loading with black screen (in emulators)"
Android renders black.

![screen shot 2017-06-10 at 5 08 01 pm](https://user-images.githubusercontent.com/1326504/27007209-8a1c2ddc-4dff-11e7-9e21-9e244335c12d.png)

## Steps to Reproduce

1. Create an AVD with Google Play Services.  Select Android O api 26, or api 24, with Google Play Services. Having Google Play Services will prevent you from changing the GLES in the emulator. At least at this t

[2017-06-11 00:19] branflake2267 commented on #10617
Same thing with Android O emulator.
[code]

![screen shot 2017-06-10 at 5 19 35 pm](https://user-images.githubusercontent.com/1326504/27007253-0619731c-4e01-11e7-97d1-216c52bd1778.png)

[2017-06-11 00:39] mehmetf commented on #10604
I am trying to fix a separate issue actually. Builds are taking extremely long for PRs because we are running each project (changed or not) sequentially. I will try to detect changed files using Travis env variables and see if I can fix this. Non-PR travis runs won't be affected by this and the timeout is still possible.

[2017-06-11 01:29] saads commented on #9591
Second this. For monetization purposes we need both IAP and ad support. These are both are really critical to getting traction for flutter in the developer community.

[2017-06-11 01:31] saads commented on #9591
@sethladd

[2017-06-11 03:22] FrancisShanahan opened #10618 "Missing Android permissions"
## Steps to Reproduce

When adding image support to the Chat tutorial app,  the Android Camera and Media permissions are missing. On a Nexus 6P running Android O my screen was blank when clicking the camera icon until adding the permissions to the Android Manifest.

Suggested fix: Add the following to AndroidManifest.xml
 &lt;uses-permission android:name="android.permission.CAMERA"/&gt;
 &lt;uses-

[2017-06-11 05:03] branflake2267 commented on #3782
Another case of this. Feels like the leaf widgets should be stacking and painting on top. Whatever the case ends up being to properly configure the ink splashing on a tap, it's hard to configure.

![screen shot 2017-06-10 at 9 57 15 pm](https://user-images.githubusercontent.com/1326504/27008521-64517bec-4e28-11e7-92d9-b9e7ae19755c.png)

[code]

[2017-06-11 10:27] Tobiaswk commented on #10616
Sorry. I actually meant the latter. Edited my comment.
I've always renamed this issue to also cover the `showTimePicker` and `showDatePicker`.

[2017-06-11 15:07] DanTup opened #10620 "Provide feedback when hot reload fails (eg. due to main method change)"
I'm wiring up "hot reload" in Dart Code. I was caught out while testing it because I didn't realise changes to the `main` method didn't work ([this is documented](https://flutter.io/faq/#hot-reload)). The output from flutter was still `1 of x libraries reloaded` so it's not obvious to the user (if they didn't read the docs - which I didn't ;-)) why things didn't update.

I'm guessing that Flutter

[2017-06-11 15:33] DanTup commented on #10620
Possibly this is just a dupe of #10486?

[2017-06-11 15:35] DanTup commented on #10486
I raised this with some additional comments in #10620. When testing hot reload I was modifying the `main` method in the `hello_world` sample and it seemed like it wasn't working. Presumably this would be easy to detect and warn.

I'd like the debugger `Restart` button in Dart Code do a hot reload but fall back to a restart if it doesn't work, but currently it's not possible (which means the restar

[2017-06-11 15:41] mit-mit commented on #10615
cc @a-siva

[2017-06-11 17:20] DanTup opened #10621 "Add parseable output for flutter doctor"
I thought I'd discussed this with someone before, but can't find it anywhere.. It'd be nice if an IDE can execute `flutter doctor` and provide info to the user when there are problems.

The current output isn't too bad for parsing, but it could be fragile if there are changes or if it becomes interactive and starts expecting input.

It'd be good to have a new switch (eg. `--machine`) that'll give

[2017-06-11 17:24] DanTup commented on #10556
FWIW, I made [a change](https://github.com/Dart-Code/Dart-Code/commit/d01965f318802607380677925c5a71043ada817a) to send the request before immediately terminating and it seems to have been reliable (I don't know if would be the case on bigger apps or under load though).

I think there's still value in fixing this if you can, but it might not be as bad as I thought. I'll post back if it does seem t

[2017-06-11 18:58] branflake2267 commented on #10617
The problem is I wasn't running the AVD with Software GLES 2.0. I was trying to use an AVD with Google Play Services and this is not possible to turn on software GLES with Google Play services.

![screen shot 2017-06-11 at 11 50 57 am](https://user-images.githubusercontent.com/1326504/27013672-4e86c126-4e9d-11e7-9b2d-8eaf650bdc73.png)

[2017-06-11 19:02] branflake2267 commented on #10617
By the way, I had forgotten to create the AVD with this method so I'd suggest adding this to the doctor detection. But I suspect it's a matter of time before before hardware is support, and documentation is the best route in the meantime. So this could be closed if that's the case.

[2017-06-11 23:40] chinmaygarde commented on #10617
We recently enabled software rendering on Android. Right now, it is behind a flag to `flutter run`. The patch that landed this was https://github.com/flutter/flutter/commit/a367dcb02c4cd20c20f82d389d67257a5b9c4359. Can you try adding `--enable-software-rendering` to the `run` call and check to see if that fixes your issue. We are investigating how the emulators fail when the OpenGLES is not enable

[2017-06-12 00:29] mehmetf opened #10622 "Travis is building all plugins instead of just changed ones"
Currently travis build script (https://github.com/flutter/plugins/blob/100a3a3949344f0efba650301385b6894cabb5a4/.travis.yml#L107) builds all plugins regardless of the contents of the PR. A typical build time for all APK/IPAs is ~30 minutes which makes plugin development more painful than it needs to be.

The suggestion is to use something like

```CHANGED_FILES=($(git diff --name-only $TRAVIS_COMM

[2017-06-12 01:06] branflake2267 commented on #10617
Nice. I tested it, and both command line execution and IDE launcher execution with the flag `--enable-software-rendering` work. I tested on android O AVD.

`flutter run --enable-software-rendering -d emulator-5556`
or
![screen shot 2017-06-11 at 5 55 05 pm](https://user-images.githubusercontent.com/1326504/27016102-989f7004-4ed0-11e7-8a09-a927c8c42795.png)

[2017-06-12 01:58] chinmaygarde commented on #10617
Good to know. I'll investigate how to automatically turn on software rendering on the emulators. The flag is rather obscure ATM. About adding a `doctor` check to ensure that OpenGLES is available on the emulators (either emulated or via host passthrough), I am not actually sure how that would be implemented. @jason-simmons or @eseidelGoogle might have ideas.

[2017-06-12 06:08] tvolkert commented on #10228
I've been running into this consistently today on my son's computer (he tried to set up Flutter this weekend and wasn't able to launch anything).  It happens for me even when run through Xcode.

[2017-06-12 06:17] tvolkert commented on #10228
FYI, it occurs to me that on my son's computer, he was running against the alpha branch since he followed the steps on flutter.io, so the code was 10 days behind master...

[2017-06-12 06:22] tvolkert commented on #10228
Still happens on master for me :-)

[2017-06-12 06:45] nanowang commented on #10503
Added the plugin to a fresh flutter project and it works fine.

Moved the original `/lib` directory to the new project and still works fine.

Don't think it's worth digging in.

[2017-06-12 06:45] #10503 closed

[2017-06-12 07:31] mit-mit commented on #10158
Right, but `keytool` isn't our binary, so can you clarify how this is a Flutter issue?

[2017-06-12 07:35] mit-mit commented on #9867
Can you clarify exactly (preferably with screenshots) which dialogs you get when you open in Android Studio, and what option you are selecting?

Does the project build for you using the flutter tool (i.e., `cd <location of project` + `flutter build apk`)?

[2017-06-12 08:42] namiwang opened #10623 "TextSpan gesture recognition 2.0: bubbling and managed recognizer lifetimes"
## Steps to Reproduce

1. compose a simple widget containing a `TextSpan` with a `recognizer`.

[code]

2. tap on the textSpan

## Expected

Callback getting invoked

## Really happened

Callback not getting invoked

---

Did I misunderstand something about the gesture mechanism?

I found something similar here: https://github.com/flutter/flutter/blob/bf017b79b3be7de9409b53d503cc8582c8fd5500/packa

[2017-06-12 09:27] darrellpf commented on #9867
![image](https://user-images.githubusercontent.com/2779084/27026350-47ab7d90-4f12-11e7-8d43-eb8f2dc8ea61.png)

![image](https://user-images.githubusercontent.com/2779084/27026379-61eeb488-4f12-11e7-977e-97bffe55cef0.png)

A frameworks detected dialog box opens in the bottom right area of the screen. If you wait for a bit that message disappears. You can click on dialog box, or after a minute or so

[2017-06-12 10:53] mit-mit commented on #9867
Thanks for the rich detail! I can repro this now.

@skybrian is there anything we can do to get the gradle files recognized by IDEA?

[2017-06-12 12:58] mkhennoussi opened #10624 "Firebase Auth plugin: currentUser only from memory"
Hello ! :) Thank you all for Flutter and all the plugins :) !

I am not 100% sure, but once the user is logged in, the Firebase SDK store the currentUser on the device (in SharedPrefs or something). It is useful if we want to show the login screen or the home screen, depending if the user is logged in or not.

The current version of the Firebase Auth Plugin doesn't seem to get the currentUser from

[2017-06-12 13:39] mit-mit commented on #10624
cc @collinjackson

[2017-06-12 13:45] mit-mit commented on #10618
Hi, just confirming, is this in this codelab? https://codelabs.developers.google.com/codelabs/flutter-firebase/

[2017-06-12 13:46] mit-mit commented on #10620
cc @a-siva

[2017-06-12 14:09] sma commented on #9750
I've the same problem with an installation I tried just now on macOS 10.12.5.

I did `git clone -b alpha https://github.com/flutter/flutter.git` and got:

[code]

Running `flutter doctor` tries to download Dart SDK 1.24.0-dev.3.0... but eventually fails to extract the zip archive with warnings like

[code]

I found `.../bin/internal/update_dart_sdk.sh` which seems to fail in this line:
[code]

I r

[2017-06-12 14:10] FrancisShanahan commented on #10618
Yep, sorry if that wasn't clear. It's the last step "Add Image Support". 

    On Monday, June 12, 2017 9:46 AM, Michael Thomsen <notifications@github.com> wrote:

 Hi, just confirming, is this in this codelab? https://codelabs.developers.google.com/codelabs/flutter-firebase/—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the threa

[2017-06-12 14:32] eseidelGoogle commented on #10623
@Hixie would know if this is expected.

[2017-06-12 14:34] eseidelGoogle commented on #10617
@chinmaygarde flutter detect at runtime that opengles isn't available and switch to software? (I thought you or @GaryQian added some version of such already?)

[2017-06-12 14:35] eseidelGoogle commented on #10621
FYI @devoncarew @tvolkert

[2017-06-12 15:09] tvolkert commented on #10621
sgtm.  @devoncarew wdyt?

[2017-06-12 15:36] tvolkert opened #10626 "iOS auto-provisioning code doesn't play nice with `flutter run --machine`"
[code]

[2017-06-12 15:36] tvolkert commented on #10626
@xster

[2017-06-12 15:51] sethladd commented on #9591
@saads thanks for the feedback!

[2017-06-12 15:56] sethladd commented on #9249
cc @mit-mit for tracking this user journey w.r.t. package assets for Flutter

[2017-06-12 15:57] wmleler commented on #10158
Mainly because the Flutter documentation tells you how to build an Android
APK and it doesn't work.

On Mon, Jun 12, 2017 at 12:31 AM, Michael Thomsen <notifications@github.com>
wrote:

[2017-06-12 16:20] chinmaygarde commented on #10617
There is definitely a fallback path in the code. But that depends on EGL initialization failing. What seems to be happening on the emulators is EGL initialization succeeding even without OpenGL support. We might need to investigate how initialization fails on the emulators to add more validity checks.

[2017-06-12 16:40] devoncarew commented on #10546
makes sense re: updating the docs

For flutter run --machine, app.log messages should be shown as regular stdout, and app.progress messages should be translated into the platform specific progress UI. For vscode, this may mean having a flutter contribution to the status line (like we do for dart analysis)?

[2017-06-12 16:44] devoncarew commented on #10615
Hmm, there should really be no differences in terms of debugging a flutter app and a command-line app. You're sending the messages to the correct isolate above (`816748097`), which was the only thing I could think of to check.

[2017-06-12 16:52] devoncarew commented on #10621
👍  Adding parsable output for `flutter doctor` (`--machine`) sgtm.

[2017-06-12 16:53] tvolkert commented on #10611
@pq this is breaking Flutter's build - should we roll the SDK back in Flutter to definitively identify the SDK roll as the culprit?

[2017-06-12 17:02] branflake2267 commented on #10624
You won't want to persist the current user, because you don't know how long that object could be valid for. Given that the oauth token could expire. Instead use the sdk to figure if the current user is active and logged in. This can be done with the google_sign_in plugin and firebase_auth plugin.

For example, when the pages state resumes, you'll want to restart the entire sing in process. Let's s

[2017-06-12 17:05] DanTup commented on #10615
@devoncarew That's the first thing I checked too. I'm not really sure how to debug any further; esp as I can't load the observatory page in the browser when it's in this state! This is currently the only thing outstanding on shipping a flutter version for testing so any help appreciated!

[2017-06-12 17:07] DanTup commented on #10546
@devoncarew I don't know how easily I can route back to the status bar from the debug adapter, but I'll have a dig.

You didn't mention the output that doesn't come wrapped in JSON - there are some strings just written raw to stdout like `No devices connected.` when trying to run with no devices - should these be filed as bugs and changed to json, or considered the same as `app.log`?

[2017-06-12 17:12] devoncarew commented on #10546
Things that aren't wrapped in json should just be passed through to the console's stdout.

Which items are you seeing as app.log events? Could you paste a few samples in here?

In terms of the progress display, I think we're just trying to get a good sense of progress to the users, esp. when things might take a while. If it's convenient to map that to an IDEs built-in progress mechanism, so much t

[2017-06-12 17:14] devoncarew commented on #10546
(also, definitely very useful to have a 2nd implementor through this area; tells us a lot about what and how to document!)

[2017-06-12 17:15] devoncarew commented on #10615
Hmm. Just to try a few things out, what if you don't start with `--start-paused`? You won't hit breakpoints in main(), but should be able to hit them on event callbacks.

[2017-06-12 17:16] franklinharper commented on #8127
I am having the same issue on Android.

[2017-06-12 17:26] Hixie commented on #10623
How are you using the TextSpan?

[2017-06-12 17:38] pq commented on #10611
Worth a try.  I added comments to your PR...

[2017-06-12 17:43] DanTup commented on #10546
I dunno, you just said to output them in the console so I was agreeing. I was curious why there would be some sent as JSON (`app.log`) and some sent raw if they're expected to be handled the same way by integrators (I wondered if the raw output ones were just mistakes writing to output not considering `--machine`?).

Yeah, I'd like to put them in the status var if they've been crafted with that in

[2017-06-12 17:45] DanTup commented on #10615
Didn't try that; I'll give it a go (probably tomorrow evening now) and post back.

[2017-06-12 18:31] tvolkert commented on #10611
No dice on rolling back to the Dart SDK, so I closed the PR.  FTR:

[code]

[2017-06-12 18:39] skybrian commented on #9867
Yes, we don't have any Gradle support enabled within IDEA yet. Based on my experiments, I think it would be a big change to the Flutter plugin to get this to work.

In IDEA, I don't think you can get Gradle support unless you enable it at the project level using `New Project->Gradle` or `New Project->Android`. (I tried adding a Gradle module to a non-Gradle project and was unsuccessful.)

When Gra

[2017-06-12 19:06] gavindoughtie commented on #1831
Another approach is to integrate something like http://svgpp.org/ at the native level and use the Flutter plugin system to communicate with it. This would probably give you the best size/performance characteristics for full SVG support, but at the expense of maintaining a dependency.

[2017-06-12 19:11] alardizabal opened #10629 "Fatal deprecation warnings after upgrading to gradle plugin 3.0.0"
I'm using Android Studio 3.0 preview 3. I've updated my top-level gradle to use v3.0.0-alpha3 for the Android gradle plugin. I receive the following deprecation warnings that prevent me from building an apk.

[code]

==========

Flutter doctor:
[code]

[2017-06-12 19:28] alardizabal opened #10630 "Flutter doesn't understand filesystem paths used by gradle plugin 3.0.0"
I'm using Android Studio 3 preview 3 and updated my gradle plugin version to 3.0.0-alpha3 and when running flutter run in terminal I get a FileSystemException. The path does exist on my machine so I'm unsure why the error is being generated. I also filed an issue related to running flutter build apk (link below).

https://github.com/flutter/flutter/issues/10629

Flutter crash report; please file a

[2017-06-12 20:21] sethladd opened #10632 "can’t figure out how to turn off the initial character uppercase on the keyboard on iOS"
From important potential customer feedback :)

Their question, after trying to figure it out: "can’t figure out how to turn off the initial character uppercase on the keyboard on iOS. Kind of a bummer for the login screen"

[2017-06-12 20:22] sethladd commented on #10632
FWIW, there might be some docs we can add to https://flutter.io/text-input/ and of course our API docs. The general question: "what level of control do I have over the keyboard and text inputs? can I "filter" it?"

[2017-06-12 20:23] sethladd commented on #10632
Also, I've asked here: https://stackoverflow.com/questions/44508118/how-do-i-turn-off-the-auto-capitalization-of-the-initial-character-of-the-keyboa but I suspect we might also want to document it.

[2017-06-12 20:27] alardizabal opened #10633 "Following steps to update libimobiledevice and ideviceinstaller don't seem to work"
I am seeing the below message in flutter doctor.

[code]

Following the steps listed in the message don't seem to resolve the issue. Step-by-step shown below.

[code]

[2017-06-12 20:28] Hixie commented on #10611
Looks like it's something we introduced after May 1st. I submitted a PR that reverted to May 1st and it did not fail even after 3 attempts.

[2017-06-12 20:33] Hixie commented on #10611
Created one for last Monday (6f824bcec9b68b3580a7b2687a47c1e98b21f664) with:
`git reset --hard $COMMIT; git reset --soft @{1}; git commit -m"DO NOT SUBMIT"`
https://github.com/flutter/flutter/pull/10634

[2017-06-12 20:36] Hixie commented on #10611
Also one for June 7th (last Wednesday): https://github.com/flutter/flutter/pull/10635

[2017-06-12 20:40] Hixie commented on #10611
June 9th (Friday): https://github.com/flutter/flutter/pull/10637

[2017-06-12 20:50] Hixie commented on #1016
Really I wish that `flutter run` and `flutter logs` did the equivalent of:

[code]

[2017-06-12 20:52] mkhennoussi commented on #10624
@branflake2267 Thank you very much for your answer. Sorry for the confusion,  I didn't say I wanted to persist the current user, I just say that I thought the SDK had some kind of persistency, because with the native approach, if the app is paused/stopped then resumed, we can still access the current user (even if the token is not valid anymore). I agree with you about the token, on the native app

[2017-06-12 20:55] Hixie commented on #10611
June 5 - Monday - https://github.com/flutter/flutter/pull/10634 - PASSED ONCE
Trying a second time.

June 7 - Wednesday - https://github.com/flutter/flutter/pull/10635 - [FAILED](https://travis-ci.org/flutter/flutter/jobs/242175168)
Four tests failed with:
[code]
Two failed with:
[code]

June 8 - Thursday - https://github.com/flutter/flutter/pull/10636 - [FAILED](https://travis-ci.org/flutter/flut

[2017-06-12 21:00] xster commented on #9750
Maybe a slight variant, I hit the issue after doing a rebase which updated the dart sdk version

[code]

[2017-06-12 21:12] Hixie commented on #10611
June 2 - Friday - https://github.com/flutter/flutter/pull/10638

[2017-06-12 21:15] Hixie commented on #10611
June 1 - Thursday - https://github.com/flutter/flutter/pull/10640
May 31 - Wednesday - https://github.com/flutter/flutter/pull/10639

[2017-06-12 21:22] briblanch commented on #10624
@mkhennoussi I had to do exactly what you explained in one of my apps. I have added the functionality you described [here for the dart side](https://github.com/briblanch/plugins/blob/master/packages/firebase_auth/lib/firebase_auth.dart#L146) and [here for iOS](https://github.com/briblanch/plugins/blob/master/packages/firebase_auth/ios/Classes/FirebaseAuthPlugin.m#L92)

This is just kind of hacked

[2017-06-12 21:25] alardizabal opened #10642 "Customize size of TabPageSelector"
I'd like the ability to customize the size of the dots in a TabPageSelector. This was mentioned in https://github.com/flutter/flutter/issues/10475. That issue was closed but the dot size is a separate issue to the tab bar indicator. @gavindoughtie had an outstanding PR that hadn't been merged (https://github.com/flutter/flutter/pull/7553/files).

[2017-06-12 21:33] Hixie commented on #10611
One theory is that flutter_tools tests can't handle being run in parallel. That's being tested by https://github.com/flutter/flutter/pull/10643.

[2017-06-12 21:48] Hixie commented on #10611
The `-j1` test passed once, trying again. If it passes reliably, we're taking that fix and running with it.

[2017-06-12 21:49] a-siva commented on #10615
Could you also try to issue the resume command without the step parameter, currently is seems to send 'step: Over'

[2017-06-12 21:50] Hixie commented on #10611
Our tests are not hermetic so it makes sense that running them in parallel could break things. The theory is that recent changes to the `test` package are making this happen more often, and that prior to that we were just lucky. Since our tests are not hermetic it makes sense to not run them in parallel. It's worth noting that running them with `-j1` does not seem to make the tests run any slower.

[2017-06-12 21:50] Hixie commented on #10611
I've landed #10643 and will close this bug optimistically.

[2017-06-12 21:50] #10611 closed

[2017-06-12 21:54] HansMuller commented on #10642
I'll add the indicatorSize, selectedColor, and (not selected) color parameters. Although in this case it might be more flexible to just allow you to provide a callback that generates a widget.

[2017-06-12 22:06] Hixie commented on #2531
I just ran into a similar crash:

[code]

That second one is actually pretty serious since it's one you'll run into if you forget to make your render object composited, which is an easy error to make.

We should probably address both of these so that people experimenting with layers don't accidentally crash the engine.

[2017-06-12 22:08] danilNikolaenko1990 commented on #9253
when I tried to launch demo application I got the message
Profile and release builds are only supported on ARM targets.
Error running application on ASUS T00J.
It is very sadly that flutter is not for x86, because there is many devices on Intel atom.

[2017-06-12 22:11] collinjackson commented on #10624
I agree that we should provide an API that returns a `Future<FirebaseUser>`, like `signInSilently()` in the Google Sign In plugin. We may also want to deprecate synchronous access to `currentUser` to discourage race conditions, see discussion here: https://github.com/flutter/plugins/pull/94

[2017-06-12 22:12] miksen commented on #10630
Sorry to hear, do the instructions in https://github.com/flutter/flutter/issues/10236#issuecomment-303029027 work as a workaround?

[2017-06-12 22:18] HansMuller opened #10644 "flutter doctor reports (Linux) reports 3 versions of InetlliJ but not where"
When I run `flutter doctor` on Linux it reports that there are 3 versions of IntelliJ but it doesn't say where it found them.  I'd be happy to remove the old ones.

[code]

Also: the first time I ran the doctor command it said the flutter plugin was out of date:
[code]
I selected the flutter plugin from the IJ plugins list. There's an option to uninstall it, but not to get the latest version. Upon

[2017-06-12 22:36] sethladd opened #10645 "No apparent easy way to disable a text field"
Opening this as a response to https://stackoverflow.com/questions/44490622/disable-a-text-edit-field-in-flutter

Original question: "I need to disable TextFormField occasionally. I couldn't find a flag in the widget, or the controller to simply make it read only or disable. What is the best way to do it?"

[2017-06-12 22:41] danrubel commented on #10015
Started merging `flutter analyze` and `flutter analyze --watch` to both use analysis server.
https://github.com/flutter/flutter/pull/10641

[2017-06-12 22:41] sethladd opened #10646 "Requesting a code sample in GestureRecognizer docs"
Not everyone uses Material and not everyone wants an InkSplash. For those users, GestureRecognizer is their go-to "make something tappable". (as far as I know)

I went to https://docs.flutter.io/flutter/widgets/GestureDetector-class.html and didn't see a sample or two with an idea of how to use it.

Thanks!

[2017-06-12 22:44] #970 closed

[2017-06-12 22:47] sethladd commented on #10632
The stack overflow answer states: "The UITextAutocapitalizationType is set in FlutterTextInputPlugin. Currently it isn't configurable"

So, this issue requests to give our users control and make this configurable.

[2017-06-12 23:36] branflake2267 commented on #10624
Speaking of abstracting away some of the logic, this api makes it easier to wire up firebase auth on android, I think this is the best method I've seen so far for wiring it up. Besides, you can also use the other 3 options to login as well. :)

https://github.com/firebase/FirebaseUI-Android/tree/master/auth#using-firebaseui-for-authentication

[code]

[2017-06-13 00:39] emshack opened #10647 "Using dart:ui from non-main-thread Isolates crashes"
Latest update (tl;dr: no current plans): https://github.com/flutter/flutter/issues/10647#issuecomment-1167923640
----

## Steps to Reproduce
In a fresh codebase generated by `flutter create`, I added the following functions and amended the `main()` function. Code taken from [this example](https://github.com/dartlang-italia/dart-libraries-samples/blob/master/isolate/isolates/bin/isolates.dart):

[c

[2017-06-13 02:16] saads commented on #9591
@sethladd no worries! Any road map for this? Or any way I can help to accelerate bringing in app purchases to Flutter? Got an urgent need for it and really want to be able to use the platform because it's so helpful with accelerating development. Let me know! :)

[2017-06-13 03:36] YongjunChoi opened #10650 "locale error"
## Steps to Reproduce
I added two dependencies and run package get..

dependencies:
  flutter:
    sdk: flutter
  **google_sign_in: "^0.0.2"
  firebase_auth: "^0.0.2+1"**

## Logs
/Users/yongjun/dev_sdk/flutter/bin/flutter --no-color packages get
Running "flutter packages get" in sotong...

Oops; flutter has exited unexpectedly.
Sending crash report to Google.
Crash report sent (report ID: f21d61a

[2017-06-13 04:47] #10006 closed

[2017-06-13 04:47] #10490 closed

[2017-06-13 05:00] #7173 closed

[2017-06-13 05:02] #7394 closed

[2017-06-13 05:05] #10398 closed

[2017-06-13 05:08] Khalid-Nowaf opened #10652 "Hot Reload: FormatException: Source contains non-ASCII bytes."
## Steps to Reproduce
hot reload failed while using non-latin strings in the source code, I used 'Arabic'.
[code]

## Logs
[code]

Run `flutter analyze` and attach any output of that command also.
[code]
## Flutter Doctor
[code]

[2017-06-13 05:12] Hixie commented on #10544
@sethladd I misunderstood, this is actually a Web site bug.

[2017-06-13 06:19] eseidelGoogle commented on #10652
That's definitely bad. :/  Thanks for the report!  FYI @a-siva

[2017-06-13 06:22] nanowang commented on #10623
@Hixie

Sth like this:

[code]

[2017-06-13 06:22] eseidelGoogle commented on #10650
Crash log:
[code]

[2017-06-13 06:23] eseidelGoogle commented on #10650
It seems we crash when locale is ko-KR ?  FYI @tvolkert @alan-knight

[2017-06-13 06:24] nanowang commented on #10623
I believe this is somehow related with https://github.com/flutter/flutter/issues/10646

[2017-06-13 06:26] eseidelGoogle commented on #9591
We have no ETA on writing this plugin ourselves.  However you can always just use normal iOS or Android APIs or SDKs from the Objective-C/Java parts of your app and then communicate to the Flutter parts via https://flutter.io/platform-channels/.

This bug is about bundling those bits up so that folks can use common payment APIs w/o having to write any Objective-C/Java code themselves, which means

[2017-06-13 06:28] eseidelGoogle commented on #10647
dart:ui doesn't exist in non-main isolates, so I wouldn't expect much of the Flutter framework to work there.  FYI @Hixie.

We're currently in the process of making some improvements to our engine to allow exposing dart:ui on non-main isolates, but those are not yet complete.

[2017-06-13 06:29] eseidelGoogle commented on #10632
@cbracken did a bunch of related work in this space.  I thought he even added this option, but maybe not.

[2017-06-13 06:30] eseidelGoogle commented on #10645
@HansMuller or @Hixie would know. :)

[2017-06-13 06:36] eseidelGoogle commented on #10633
Looks like you have to `brew uninstall libimobiledevice` first.  FYI @cbracken

[2017-06-13 06:37] eseidelGoogle commented on #10629
FYI @jason-simmons @mit-mit

[2017-06-13 06:38] eseidelGoogle commented on #10617
Is this related to https://github.com/flutter/flutter/issues/8127 ?

[2017-06-13 07:10] Hixie commented on #6559
Not sure what to do for bullets 2-4. I have a patch for the "tactical things".

[2017-06-13 07:18] Hixie commented on #1433
@HansMuller Is this something you could hook up to your screenshotting script?

[2017-06-13 07:22] Hixie commented on #10623
There's already sample docs for TextSpan.recognizer.

The problem with the code above is that recognizer doesn't get triggered for children, only for taps directly on the text of the TextSpan (of which there is none in this case).

This is working as designed, but the design is poor. We should fix it in due course.

[2017-06-13 09:46] nanowang commented on #10623
Ah this behavior is kind of confusing since the doc says:

I'd expect `text` to be treated as the same as children throughout the gesture mechanism.

[2017-06-13 11:02] lasiboy opened #10654 "Failing to archive the app with xCode: path_provider/PathProviderPlugin.h file not found"
## Steps to Reproduce
add plugin path_provider in pubspec.yaml:
path_provider: "^0.2.1+1"

build with Flutter:
$ flutter build ios

Open xCode and try to archive the app.

--> the following error occurs in the GeneratedPluginRegistrant.m file (in build/ios) :
'path_provider/PathProviderPlugin.h' file not found.

Note:
I am able to install the app on my iPhone using
$flutter install

Did I miss som

[2017-06-13 12:34] vlidholt opened #10655 "Text is too light"
## Steps to Reproduce

In latest version of Flutter the text and icons are too light. See before and after pictures. Same in the Flutter Gallery. Only tested on iOS.

Before
![img_0692](https://user-images.githubusercontent.com/1539812/27082470-360ca1f2-5045-11e7-9982-2eccb093f909.PNG)

Latest version
![img_0691](https://user-images.githubusercontent.com/1539812/27082475-3a3433da-5045-11e7-9e44-d3

[2017-06-13 12:52] vlidholt commented on #8127
I think this is a pretty major one. I'm using a dark loading screen just to hide this issue, but I'd much rather use a lighter theme.

[2017-06-13 13:03] vlidholt commented on #10460
I haven't seen this lately, even with the exact same build. Before it was reproducible every single time. Will update this issue if I can find out what the trigger is.

[2017-06-13 13:04] mit-mit commented on #10629
We are working on resolving this; for now can you see if this workaround resolves the issue for you for now: https://github.com/flutter/flutter/issues/10236#issuecomment-303029027

[2017-06-13 13:37] mit-mit commented on #10158
Ah, got it, yes we can improve docs.

[2017-06-13 13:43] mit-mit commented on #10618
cc @LarkAscending

[2017-06-13 14:15] alardizabal commented on #10633
I've seen this several times and I have tried to uninstall first. It does uninstall and installation seems successful but then 'flutter doctor' will still show the same message (not installed or needs updating). I'll make sure to screenshot that if I see it again in the future.

[2017-06-13 14:26] eseidelGoogle commented on #10655
@tvolkert did this show up in image diffs?
@xster @cbracken were there iOS-specific text changes?

[2017-06-13 14:27] eseidelGoogle commented on #10654
Have we tested making releases with plugins @mit-mit, @cbracken?

[2017-06-13 14:46] tvolkert commented on #10655
If this just started showing up this morning, it was likely caused by https://github.com/flutter/flutter/pull/10651, which picked up https://github.com/flutter/engine/pull/3765, which *did* introduce image diff failures when I tried to roll it internally (see last night's comment in the PR)

[2017-06-13 14:47] tvolkert commented on #10655
/cc @chinmaygarde

[2017-06-13 14:52] tvolkert commented on #10655
Hmm actually it's very unlikely that that PR is responsible - investigating further.

[2017-06-13 15:02] tvolkert commented on #10655
Actually, the image diff failures I'm seeing are dividers pushing the layout to be more spaced out than previously, which is likely #10523.  I'm not seeing any text color differences.

[2017-06-13 15:04] vlidholt commented on #10655
After looking at this a bit more, I think transparency is what's not rendered correctly. Things that are transparent gets more transparent then they should.

[2017-06-13 15:09] alardizabal commented on #10630
I tried different combinations but this is what I see after pointing flutter config to an earlier version of gradle (3.3 - previously 3.5). The new exception is immediately below (file exception seems to be gone). I also included the outputs from flutter doctor and flutter run.

[code]

[code]

[code]

[2017-06-13 15:12] alardizabal commented on #10629
@mit-mit I updated flutter config to point to an earlier version of Gradle (3.3 - previously 3.5).

[code]

I still get the below after flutter build apk.

[code]

[2017-06-13 15:18] mit-mit commented on #10629
Hmm, note sure what is going on. cc @jason-simmons @jakobr-google

[2017-06-13 15:25] tvolkert opened #10656 "Make `flutter test` verify that target package depends on `flutter_test`"
Example test failures visible at https://travis-ci.org/flutter/plugins/jobs/242412801

[code]

[2017-06-13 15:35] sethladd commented on #6559
I think 2-4 could be an article that covers rich text in general. Perhaps by updating and broadening the focus of https://flutter.io/custom-fonts/

[2017-06-13 15:37] sethladd commented on #10398
Cool! Can you link the PR to this issue, for posterity?

[2017-06-13 15:39] jakobr-google commented on #10629
I think the problem is the upgraded version of the Android Gradle plugin, not the version of Gradle used to build.

The deprecation notices *should* just be warnings (that we'll need to address eventually), so it looks like the real error is that it can't find a configuration of :firebase_analytics that matches our requirements (usage=compile, buildType=profile).

Plugin libraries currently only h

[2017-06-13 15:40] sethladd commented on #10544
@Hixie can you confirm the fix is just s/CurvedAnimation/ReverseAnimation ? We can make that change easily.

[2017-06-13 15:58] KevinTheGray opened #10657 "Scroll positions not preserved when switching tabs"
If you build a widget with tabs and scroll views, the scroll position is not maintained.

## Steps to Reproduce
- Build and install latest Flutter Gallery from the repo, enter "Tabs" section,
- scroll "Left" section to the bottom,
- select to "Right" tab,
- go back to "Left", notice it is scrolled back to the top.

## Flutter Doctor
[code]

[2017-06-13 16:00] eseidelGoogle commented on #10657
@HansMuller did some work here recently, not sure what the current status is.

[2017-06-13 16:04] KevinTheGray opened #10658 "Weird scroll behavior in Tabs section of gallery (NestedScrollView)"
In the tabs section of the gallery, the beach ball can get in a state where it sits slightly under the header.  The resting state should be sitting fully underneath the header.

Steps to Reproduce

- Build and install latest Flutter Gallery from the repo, enter "Tabs" section,
- scroll "Left" section to the bottom,
- select to "Right" tab,
- Notice that the beach ball is scrolled under the header

[2017-06-13 16:13] tvolkert opened #10659 "Update connectivity plugin to degrade gracefully if access_network_state permission is not present on Android"
On a case-by-case basis, we may want to either make a plugin:

1. Act as a no-op if the app doesn't have the requisite permissions
2. Return a status code to the Dart code to indicate the action wasn't taken
3. Throw

[2017-06-13 16:13] HansMuller commented on #10657
This looks like a consequence of https://github.com/flutter/flutter/pull/10612. We no longer save and restore scroll offsets unless a PageStorageKey can be found.

[2017-06-13 16:16] HansMuller commented on #10658
This is likely due to NestedScollViews were not being updated in https://github.com/flutter/flutter/pull/10590

[2017-06-13 16:41] Hixie commented on #6559
Ok, I've removed the API label then since I've done the API docs part of it.

[2017-06-13 16:43] Hixie commented on #10398
https://github.com/flutter/flutter/pull/10519

(I've been doing documentation as big patches to make it more efficient on my side.)

[2017-06-13 16:44] Hixie commented on #10544
yes

[2017-06-13 16:45] Hixie commented on #10658
This is as designed, though I forget exactly why.

[2017-06-13 16:47] collinjackson opened #10660 "Widgets could declare the layout model (box or sliver) they are expecting"
This was inspired by a [question](https://stackoverflow.com/questions/44493372/is-there-any-definite-list-of-sliver-widgets) on Stack Overflow.

Flutter has various classes that take `Widget` or `List<Widget>` constructor arguments. Sometimes a widget knows that it wants box children or sliver children, but it doesn't have great ways of expressing that currently.  You can guess based on the class

[2017-06-13 16:49] lukef commented on #9750
I have a `$FLUTTER_ROOT` configured and just ran into this problem. Using `master`.

I found that if I close IntelliJ before pulling `upstream` and running `flutter doctor` then the issue goes away. Maybe IntelliJ is holding onto resources?

[2017-06-13 16:52] #10646 closed

[2017-06-13 16:52] #10601 closed

[2017-06-13 16:52] Hixie commented on #10601
Fixed it for Canvas, IntrinsicWidth, and IntrinsicHeight. Please open new bugs if there's more cases where this should be clarified.

[2017-06-13 16:53] Hixie commented on #8944
Please open a new bug if the documentation is still unclear.

[2017-06-13 16:53] #8944 closed

[2017-06-13 16:53] #8205 closed

[2017-06-13 16:53] #8184 closed

[2017-06-13 16:53] Hixie commented on #7518
Please open a new bug if this is still unclear.

[2017-06-13 16:53] #7518 closed

[2017-06-13 16:56] sethladd commented on #10398
Very cool! Thank you.

[2017-06-13 17:58] xster commented on #9750
Might be a good lead. It's the first time I ran into that problem (no longer reproducible) and it was the first time I used intellij.

[2017-06-13 17:59] Hixie opened #10661 "Delete obsolete dartdocs for Flutter"
We should delete the following docs:
- https://www.dartdocs.org/documentation/flutter/0.0.17/index.html
- http://domokit.github.io/docs/sky/

[2017-06-13 17:59] Hixie commented on #10661
cc @abarth @sethladd

[2017-06-13 17:59] emshack commented on #10647
Ok, please let me know when something like this would be possible!

[2017-06-13 18:00] smrtsmrf opened #10662 "Request for better errors in Webstorm IDE"
## Steps to Reproduce
Attempt to create new Flutter project in Webstorm with capital letter (i.e "friendlyChat")

The IDE gives the error "Error creating project: Failed to run flutter create."

When trying to create the project with ```flutter create friendlyChat```, a very helpful error message is produced, identifying the capital letter as the culprit.

It would sure be nice if the IDE error wa

[2017-06-13 18:02] mit-mit commented on #9750
Interesting, +devoncarew

[2017-06-13 18:03] tvolkert opened #10663 "Tapping on the screen when running a test yields exception"
## Steps to Reproduce

1. Run a flutter test via `flutter run`
2. Tap anywhere on the screen

## Expected behavior

Either nothing should happen, or we should do something useful

## Actual behavior

[code]

[2017-06-13 18:03] tvolkert commented on #10663
@Hixie

[2017-06-13 18:10] eseidelGoogle commented on #10617
@lukef says he's stuck on this and doesn't know how to move past this.  He's advise his team not to upgrade to the latest version of their app.   We need to get him some help debugging or a workaround today. :/

[2017-06-13 18:13] sethladd commented on #10661
cc @mit-mit do we have the ability to nuke docs from dartdocs.org ?

[2017-06-13 18:26] sethladd commented on #80
See this Stack Overflow question which is asking for more baseline alignments: https://stackoverflow.com/questions/44525119/flutter-top-align-text-in-container

[2017-06-13 18:28] #9659 closed

[2017-06-13 18:29] #10544 closed

[2017-06-13 18:37] goderbauer commented on #9012
Closing this since there has been no response. Please re-open if this still happens.

[2017-06-13 18:37] #9012 closed

[2017-06-13 18:48] lukef commented on #10629
Should we log a separate issue for the deprecations or is that included in the fix? I can confirm that downgrading gradle resolved the impasse, but we'd obviously like the broader issue fixed :)

[2017-06-13 18:51] yyoon commented on #8027
@Hixie This should be fixed by now, right?

[2017-06-13 18:51] vlidholt opened #10666 "Make Widgets automatically select Cupertino or MTV style"
Everywhere in my code where I need to use a `Switch` I currently need to check if I'm on iOS and in that case use a `CupertinoSwitch`.

It would be pretty sweet if I could just use a `Switch` and it would automatically use a `CupertinoSwitch` or a `MountainviewSwitch` depending on the platform. Basically the `Switch` class would in this case be a wrapper for the platform dependent switches. In the

[2017-06-13 19:01] apwilson commented on #7402
@jimbeveridge @maryx

[2017-06-13 19:04] Hixie commented on #10666
This is the plan, yes.

cc @xster

[2017-06-13 19:04] sethladd commented on #10666
I wonder if this would be a package, in order to experiment first? Or, we want to go straight to the core framework?

[2017-06-13 19:04] Hixie commented on #8027
Yup, this is fixed.

[2017-06-13 19:04] #8027 closed

[2017-06-13 19:07] gspencergoog commented on #10559
FYI, I have something for this already coded.  Just writing some tests.

[2017-06-13 19:12] lukef commented on #10657
Is there anything that we should do specifically in our code/implementation to address it?

[2017-06-13 19:14] DanTup commented on #10615
Using different steps doesn't make any difference, they're all the same :(

However! ... I just did some testing with another app (Stocks example) and the debugger is working fine!

Can someone test this in another IDE using the `hello_world` example from the flutter repo? I changed the main method slightly to multiple lines:

[code]

Breakpoint on the first one; then try to step. Does it work?

[2017-06-13 19:18] chinmaygarde commented on #10617
The emulators seems to be sensitive to the Android API version as well as the host platform. The Android emulator configuration we are trying to get working here is: Nexus 5x with Google Play Store Image on API 25. @jason-simmons on his Linux workstation was able to get create the AVD with host GPU passthrough working just fine. This was even though the "Emulator Performance" option was disabled f

[2017-06-13 19:32] collinjackson opened #10667 "Dialog support for Hero transitions"
Inspired by this [stack overflow question](https://stackoverflow.com/questions/44403417/hero-animation-with-an-alertdialog/44404763?noredirect=1#comment75849528_44404763).

Right now if you want to do a hero animation like this, you have to make your own custom semitransparent subclass of `PageRoute`.

<img src="https://i.stack.imgur.com/z19EM.gif">

We could support dialog hero transitions in the

[2017-06-13 19:51] mit-mit commented on #10098
@sethladd we need to get this resolved. Our templates in https://github.com/flutter/oss_project_template say `the Flutter project authors`, but various other files use `Chromium`.

[2017-06-13 19:51] KevinTheGray opened #10669 "Firebase Plugin crashes in iOS Airplane mode"
## Steps to Reproduce
Build an app with a decent amount of complexity, run it in airplane mode and crash

## Logs

[code]
## Flutter Doctor
[code]

[2017-06-13 19:57] devoncarew commented on #10546
Works for me. We can use the items here as notes the next time we update the protocol docs.

[2017-06-13 20:10] HansMuller commented on #10658
This particular behavior is not due to the new scheme for managing page storage ids. It is, as Ian pointed out, a feature of the way nested scroll views work.

[2017-06-13 20:11] Hixie commented on #398
Dupe of #5467.

[2017-06-13 20:11] #398 closed

[2017-06-13 20:12] Hixie commented on #404
We could do this pretty easily now, and it is part of the material spec, but we haven't had any demand for it.

[2017-06-13 20:13] Hixie commented on #424
We believe this now exists. Please reopen if it does not. Please open a new bug if it is insufficient.

[2017-06-13 20:13] #424 closed

[2017-06-13 20:13] sethladd opened #10670 "'flx' is reported as the top most-used command, but it's not a top-level command for flutter_tool"
We might be confusing our analytics data.

We wanted to know how often the 'test' command is used with the flutter tool. When we look at analytics, we see the 'flx' is the top command. However, 'flx' is not an "available command":

[code]

I don't think we want to track 'flx' as a command/screen, for the purposes of analytics. 'flx' is an internal task, which fires in response to 'hotrun'.

We're

[2017-06-13 20:13] eseidelGoogle commented on #424
https://github.com/flutter/plugins/tree/master/packages/connectivity

[2017-06-13 20:14] Hixie commented on #452
Closing because we've had no demand for this.

[2017-06-13 20:14] #452 closed

[2017-06-13 20:15] HansMuller commented on #10657
If you give each TabBarView a PageStorageKey, the scroll offset will be saved and restored modulo nested scroll view behavior.  Details can be found here: https://github.com/flutter/flutter/pull/10517

I'd also sent a note to flutter-dev about this change:

Widgets can save and restore state that outlives the widget itself using:
[code]
- Scrollables (their ScrollPositions really) use this mechani

[2017-06-13 20:16] Hixie commented on #467
We're going to close this because we've had no demand for these and it is just a grab bag of features. If you want a specific gesture, please file a new bug.

[2017-06-13 20:16] #467 closed

[2017-06-13 20:18] Hixie commented on #519
Closing. I'll deal with style issues separately.

[2017-06-13 20:18] #519 closed

[2017-06-13 20:19] Hixie commented on #526
Closing until we have a specific need to deal with performance on this widget.

[2017-06-13 20:19] #526 closed

[2017-06-13 20:20] Hixie commented on #567
We have no current customers requesting this. We will close it until we have demand. This should be relatively easy to do once we decide to do it.

[2017-06-13 20:20] #567 closed

[2017-06-13 20:21] Hixie commented on #577
@HansMuller can you have a look at this one? If you can think of an easy way to catch this today, go for it. Otherwise close it.

[2017-06-13 20:24] eseidelGoogle commented on #614
@a-siva believes we have most (if not all) of the needed pieces from the runtime & compiler teams.  My understanding is @yjbanov is working on wiring up crash reporting for crashlytics as we speak, and likely will resolve this through that?

[2017-06-13 20:25] Hixie commented on #618
We suspect this will shortly become a customer blocker.

[2017-06-13 20:26] sethladd commented on #614
We found our contacts in Crashlytics and we have a meeting scheduled for Wednesday. Hope to kick if off real soon!

[2017-06-13 20:27] Hixie commented on #10670
@sethladd This doesn't fall into any of our current high-priority buckets, but if you want this dealt with sooner rather than later let's talk about who should look at it.

[2017-06-13 20:27] Hixie commented on #10669
cc @cbracken Can you look at this?

[2017-06-13 20:29] Hixie commented on #10667
To anyone who finds this bug hoping for a solution:
If the workaround above is not sufficient, please let us know. Our current plan is to not bring this into the framework itself in the near future.

[2017-06-13 20:31] ferdavs opened #10671 "flutter doctor command on UI cannot find device and android_sdk"
## Steps to Reproduce

1. install flutter plugin to intellij or webstorm(versions are below)
2. create flutter project
4. open  pubscpec.yaml file
3. while on pubscpec.yaml file try to run 'flutter doctor' command

IntelliJ IDEA 2017.1.4
Build #IU-171.4694.23, built on June 6, 2017

WebStorm 2017.1.4
Build #WS-171.4694.29, built on June 7, 2017

## flutter doctor UI command output

[✓] Flutter (on

[2017-06-13 20:34] Hixie commented on #10660
We don't really know how to solve this in a usable way.

Please don't hesitate to comment on this bug if you have ideas. We would love to find a good solution. We're closing it for now because it's not actionable as it stands.

[2017-06-13 20:34] #10660 closed

[2017-06-13 20:35] Hixie commented on #10659
@tvolkert Is this something that's on your radar to do? Did you have specific plugins in mind? We're worried that this is too broad as a single bug to be usefully actionable.

[2017-06-13 20:37] Hixie commented on #10655
@vlidholt Have you been able to pin down when this regressed?

[2017-06-13 20:38] eseidelGoogle commented on #10671
Presumably in the terminal you're setting ANDROID_HOME but not in the environment from which the IDE is being launched?

[2017-06-13 20:40] Hixie commented on #10652
@Khalid-Nowaf Can you confirm that your source is encoded as UTF-8?

[2017-06-13 20:47] Hixie commented on #10098
This isn't something that matches our current priority buckets, so I'm not tracking this in the June project, but please let me know if I can help with this as I agree it is important to fix soon.

[2017-06-13 20:47] vlidholt commented on #10655
@Hixie I think sometime in the last week. I'm seeing it in Flutter Gallery too. Are you guys not able to reproduce it? I see it on both Simulator and on a real device.

[2017-06-13 20:48] sethladd commented on #10670
Agreed, this isn't a blocker for our customers. This is a near-blocker for our understanding of our customers :) But yeah, happy to discuss ways to slice/dice the data to get the answers we seek.

[2017-06-13 20:49] ferdavs commented on #10671
Thank you
running webstorm from terminal solved.
I was running from unity icon created.

[2017-06-13 20:49] #10671 closed

[2017-06-13 20:50] eseidelGoogle commented on #10541
FYI @floitschG

[2017-06-13 20:53] alan-knight commented on #10650
It would be particularly useful to know what locale is actually being requested. Unless something in flutter explicitly sets it, the system locale isn't actually set automatically.

[2017-06-13 20:54] mishadynin commented on #10647
This will also help another part of our project where we currently spawn another process and communicate via HTTP as a workaround.  So +1 to making this work in an isolate.

[2017-06-13 20:56] mehmetf commented on #10659
I will take this over. It came to be from discussions with Android team. So far, connectivity plugin is the only one so far that needs additional permissions. Incoming local_authentication (fingerprint) plugin is going to be the second one.

[2017-06-13 20:59] Hixie commented on #10630
cc @mit-mit @mravn-google

[2017-06-13 20:59] Hixie commented on #10630
cc @jakobr-google

[2017-06-13 21:00] Hixie commented on #10629
Yes please do file a separate bug for that issue. Is the issue in this bug resolved to your satisfaction?

[2017-06-13 21:09] cbracken commented on #4326
@smrtsmrf can you check whether you're using Xcode 8.3.3? If so, it appears Xcode has changed the format it uses for the iOS `DeviceSupport` directory which is causing `ios-deploy` (one of our dependencies for launching iOS apps on devices) to get confused.

Upstream `ios-deploy` issue is: phonegap/ios-deploy#292

We can see what's in the iOS device support dir via:
[code]
With Xcode 8.3.3, I see:

[2017-06-13 21:15] cbracken commented on #10669
Happy to!

[2017-06-13 21:22] vlidholt commented on #10655
@Hixie @cbracken I've done some research, and I'm reasonably sure this is the commit where the problems are starting: https://github.com/flutter/flutter/commit/4bde698ffcd060f5be9e561263f5053127dc14d6

[2017-06-13 21:31] HansMuller commented on #577
We're no long storing scroll offsets unless you add PageStorageKeys. So this sort of thing will not happen unless you're sloppy with the keys. In cases just like this, where no page storage keys were provided, scroll offsets will not collide.

It might be possible to detect cases where the developer has accidentally caused a collision by, for example, using the same PageStorageKey for more than on

[2017-06-13 21:31] #577 closed

[2017-06-13 21:33] Hixie commented on #393
Our current plan is to start working on this in the first week of August; full support will take a few months but basic support should be ready to test a few weeks after we start.

[2017-06-13 21:43] vlidholt commented on #10655
To be even more precise, this seems to be when it happened: https://github.com/flutter/engine/commit/ffe8181ffe7432b61a67323c80fd8025704e4695

[2017-06-13 21:57] smrtsmrf commented on #4326
@cbracken thanks, that did the trick. 👍

[2017-06-13 22:08] cbracken commented on #4326
Thanks for confirming! Will keep this issue open for reference until a fix goes into ios-deploy.

[2017-06-13 22:14] Hixie opened #10673 "ListTile diagram"

[2017-06-13 22:19] collinjackson commented on #10594
You're right that this is needed if you're talking to a custom backend. I'll add a method to `FirebaseUser` to retrieve `idToken`. Thanks for the feedback!

[2017-06-13 22:26] jason-simmons commented on #10656
The version of the test package used by the plugin tests needs to match the version used by flutter_tools.

flutter_tools is currently pinned to 0.12.21, so pinning the tests to 0.12.21 fixes this.  Both sides will need to be upgraded simultaneously when we move to a new version of the test package.

[2017-06-13 22:31] tvolkert commented on #10656
This is potentially a big deal for any Flutter customers - it means that:

* They'll in turn need to pin to the version of `package:test` that we use in flutter_tools -- if they use an open-ended dependency (as we did in the plugins repo), they can break whenever a new version of `test` is released on pub.
* More seriously, it means that whenever we bump our pinned version of `package:test` in flu

[2017-06-13 22:32] tvolkert commented on #10656
One solution is to extricate `flutter test` from `package:test` altogether...  @Hixie, thoughts?

[2017-06-13 22:40] jtrunick opened #10674 "Crash Report / backtrace libflutter.so"
## Steps to Reproduce

Unknown

## Logs
[code]

I've seen other stack traces where the last line is:

[code]

OR

[code]

## Flutter Doctor
[code]

[2017-06-13 22:42] cbracken commented on #10655
@vlidholt Thanks. Tagging the PR for cross-ref: flutter/engine#3743.

[2017-06-13 22:44] cbracken commented on #10655
@vlidholt how does colour on iOS compare to the Android release of Newsvoice? I'm assuming closer to the 'Before' screenshot above?

[2017-06-13 22:58] cbracken commented on #10633
Out of curiosity -- what kind of device is `c0e109b7e55a826627aa0f3e79af8931534f3554` -- device type and OS?

[2017-06-13 23:14] cbracken commented on #10632
I recently added the `UITextAutocaptializationType` setting in the engine and we make use of it in the engine depending on the content type of the field (e.g., off for email/URL) but we don't yet expose this in the framework. Definitely something we can expose.

I've got one significant WIP issue to get cleaned up, then more than happy to jump back into text editing fixes and features.

[2017-06-13 23:17] swissonid commented on #10659
If it helps, I have a rough draft of a solution [here](https://github.com/swissonid/BarcodeScannerPlugin) for my plugin.  Which is heavily inspired by the [PermissionsDispatcher](https://github.com/hotchemi/PermissionsDispatcher) lib which I usually use on my Android projects.

[2017-06-13 23:21] xster opened #10677 "terminal.onCharInput can crash if dart.io.stdin is already listened to"
dart.io.stdin itself isn't a broadcast stream.

IDEs subscribed to stdin can cause the tool to crash in terminal.onCharInput

[2017-06-13 23:26] jason-simmons commented on #10652
I was able to do a successful hot reload using a source file containing the example Arabic text (encoded in UTF-8).

This was on Linux and Mac hosts with an Android device target.

[2017-06-13 23:27] cbracken commented on #10669
Narrowing down the scope a bit:
Running an app that doesn't rely on networking should work fine -- i.e., there doesn't appear to be anything inherent to Flutter development/debugging that breaks when aeroplane mode is enabled. I'm able to do hot-reload development on a basic hello-world app with no issues.

In this case, it looks like there may be an unhandled network error from Firebase on the na

[2017-06-13 23:31] tvolkert commented on #10228
This is happening 100% of the time for me.  The hanging command is:

[code]

And the output of the simulator logs when I run that is https://gist.github.com/tvolkert/8644e81c2606915f283ee22a05fe4c99

That's with the "iPhone SE" simulator.  If I switch to "iPhone 7", it works...

[2017-06-13 23:34] tvolkert commented on #10228
Scratch that - it's failing there now too.  Perhaps something about saved state is getting in the way, and when virtual device state gets wiped, it works for the first time...

[2017-06-13 23:38] Hixie commented on #10656
If they depend on us and on `test`, won't they be forced to the same version of `test` as we have?

[2017-06-13 23:41] Khalid-Nowaf commented on #10652
The first hot reload usually ok. When I change a string to arabic and hit 'r' I get this error. How can I confirm if my source as UTF-8 ?

[2017-06-13 23:41] jason-simmons commented on #10656
The tests need to use the same version of `test` as `flutter_tools` (the Flutter framework doesn't bring in a dependency on `test`)

[2017-06-13 23:43] Khalid-Nowaf commented on #10652
BTW, I edit the Gallery example text to Arabic, and then I got this problem.

[2017-06-13 23:45] Hixie commented on #10656
Sorry, by "us" I meant flutter_test.

[2017-06-13 23:49] jiajiabingcheng opened #10680 "Permission checker on Android side"
Some Flutter plugins require adding user permissions to AndroidManifest.xml file. This might cause a issue that some permissions will not be used anymore after a while. For example, when removing some plugins from the app, the permissions may still stay in the manifest.

Can we have a script/tool to check weather there's unused permissions in AndroidManifest.xml file? Or just remove the unused per

[2017-06-13 23:54] jason-simmons commented on #10652
Check the encoding settings in your text editor.

Or try a Python script like this:
[code]
and verify that the file decodes as expected.

[2017-06-13 23:56] collinjackson commented on #9961
I'm reopening this bug because this change is causing crashes when signing in on iOS.

`[UIApplication sharedApplication].keyWindow.rootViewController` is nil at the time it is read.

`(UIViewController *)registrar.messenger` works fine.

[2017-06-13 23:59] alardizabal commented on #10633
Ah, I forget I have so many devices plugged in. That's my iPhone 6 running the iOS 11 beta.  I haven't even gotten around to filing that bug (device details don't display). I just noticed that the libimobiledevice warning only displays when it is plugged in.

[2017-06-14 00:04] collinjackson commented on #9961
In case anyone runs into the crash, here are the logs for it. The problem seems to be that keyWindow isn't set up yet. I'm running the firebase_auth sample app which uses google_sign_in.

[code]

[2017-06-14 00:05] tvolkert commented on #10656
There's no `pub` dependency on `test` - they're simply using the `flutter` binary that comes with the Flutter SDK (and has a hidden dependency on a specific version of `test`)

[2017-06-14 00:08] Hixie commented on #10656
If they use "flutter test" they presumably either depend on "test" or on "flutter_test" which depends on "test", no?

[2017-06-14 00:11] tvolkert commented on #10656
Good point.  Though in today's failure, it was a case of [a test that didn't use flutter_test](https://github.com/flutter/plugins/blob/7149e1753cd92b0d2a8c2e1c8cbed0afc9a2aba5/packages/battery/test/battery_test.dart), yet still [depended on the Flutter SDK](https://github.com/flutter/plugins/blob/7149e1753cd92b0d2a8c2e1c8cbed0afc9a2aba5/packages/battery/pubspec.yaml#L15) (and so was running tests

[2017-06-14 00:11] YongjunChoi commented on #10650
Hi..
Yes. ko_KR is right locale ..
But I guess when after I open or create project With androidStudio .. then
my project has locale error..
I don't know where It set..

2017. 6. 13. 오후 4:08에 "Eric Seidel" <notifications@github.com>님이 작성:

It seems we crash when locale is ko-KR ? FYI @tvolkert
<https://github.com/tvolkert> @alan-knight <https://github.com/alan-knight>

—
You are receiving this beca

[2017-06-14 00:13] Hixie commented on #10656
Ok. I guess then we should say that this:
  https://github.com/flutter/plugins/blob/master/packages/battery/pubspec.yaml
...should have depended on `flutter_test`, which would have caught this problem when `pub get` failed to find a reasonable `test` that matched all the criteria.

We can make "flutter test" verify that the target package depends on the right `test` or that it depends on `flutter_

[2017-06-14 00:13] mravn-google commented on #9961
`[UIApplication sharedApplication].delegate.window.rootViewController` may be more obvious than casting the `messenger`.

[2017-06-14 00:23] tvolkert commented on #10656
Just verifying that it depends on `flutter_test` is probably sufficient.

[2017-06-14 00:26] cbracken commented on #10669
/cc @collinjackson

[2017-06-14 00:33] eseidelGoogle commented on #10650
This appears to be the line of code:
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/base/utils.dart#L99

[2017-06-14 00:50] alan-knight commented on #10650
Yes, the line of code is clear. But a trivial example that sets Intl.defaultLocale and then creates a NumberFormat and formats something works fine for me. But I'm not doing it in a Flutter context, and it's not clear what the rest of the environment is, or even what the actual error message is. Did it fail to find ko-KR? Or is it looking for something different? Is number_symbols_data_local.dart

[2017-06-14 00:57] cbracken commented on #10633
Thanks for confirming. I'm also able to repro with an iOS 11 beta device. I haven't confirmed yet whether we'll be dependent on a libimobiledevice update for iOS 11 support, but should know in relatively short order.

FYI there's at least one other blocker for iOS 11 at the moment: #10602. Apps themselves run fine on iOS 11, but hot-reload development is blocked by that issue.

[2017-06-14 00:59] yyoon opened #10681 "Exception thrown when programmatically changing a TextEditingController value"
Not sure whether this is a flutter bug or I should restructure the code.
The intended behavior is that whenever I click the circled plus button, it should add `", " ` to the end of the input text and advance the cursor to the end.

## Steps to Reproduce

* Run the following sample flutter program.
* Type something in the text field and click the circled plus button.
* The text field flicker for a

[2017-06-14 01:07] #9961 closed

[2017-06-14 01:47] eseidelGoogle commented on #10650
I changed my mac to korean and restarted Terminal (which then showed up in korean), but was not able to get `flutter doctor` to detect the language as korean.  I didn't try restarting, but may need to.

@YongjunChoi could you look at the output of `env` and see if you have anything set in your environment which seems specific to korean?  LC_ALL, LANG, etc.

env | grep ko-KR
might show if you do?

[2017-06-14 01:54] eseidelGoogle commented on #10652
If we do validate that it's non-utf8 characters causing this, we definitely should turn this into a fix-our-error-messages bug. :D

[2017-06-14 01:55] eseidelGoogle commented on #10680
If someone has such a script we could just call out to it. :)  I'm not familiar enough with that detail of Android development to know.

[2017-06-14 01:57] eseidelGoogle commented on #10677
Does the IDE need to run `flutter` with --non-interactive?  Or do we need to wrap stdin in a broadcast stream?  Or something else?  @tvolkert @devoncarew

[2017-06-14 01:58] eseidelGoogle commented on #10655
cc @mattsarett

[2017-06-14 01:59] eseidelGoogle commented on #10674
Wow!  A C++ crash!  Haven't seen one of these in months!

https://github.com/flutter/engine/wiki/Symbolicating-production-crash-stacks
should help us symbolicate.  FYI @a-siva @yjbanov

[2017-06-14 02:02] xster commented on #10677
Letting dart.io.stdin be exposed as a broadcast stream seems like a generally safe thing to do unless I'm missing some context. Though it seems like that file was last touched 5 years ago anyway.

[2017-06-14 02:03] eseidelGoogle commented on #10677
I presume there is a memory cost?  @zanderso might know.

[2017-06-14 02:04] mattsarett commented on #10655
This is definitely caused by flutter/engine#3743.

The semi-translucent black text is now being blended correctly onto the white background, making it appear lighter.  Can the app choose to use darker text if that is the desired appearance?

@brianosman

[2017-06-14 02:07] eseidelGoogle commented on #10647
@GaryQian is currently working on wiring up libtxt as our new txt backend.  I'm told that's the largest single blocker to being able to use dart:ui off the main thread.  I suspect it may be several months before that's all landed and integrated and off-main-thread dart:ui is support at our current schedules though.  @abarth or @Hixie may correct my estimates however.

[2017-06-14 02:08] eseidelGoogle commented on #618
FYI @lukef you may run into this as part of deep linking.

[2017-06-14 02:17] #10559 closed

[2017-06-14 02:17] YongjunChoi commented on #10650
below is my mac locale..
choeyongjun-ui-MacBook-Pro:sotong yongjun$ env|grep -e ko_KR
LANG=ko_KR.UTF-8
I don't know where this comes..
[ArgumentError: Invalid argument(s): Invalid locale **'re_KR'**]

[2017-06-14 02:43] sethladd opened #10682 "Running "flutter upgrade" in empty directory leads to infinite error loop with pub upgrade"
Running alpha branch as of today, on Windows. I created an empty directory. I cd'ed into that directory. And then I ran "flutter upgrade". The upgrade seemed to work, but then it tried to run "pub upgrade" in my empty directory and now here's the infinite loop:

[code]

[2017-06-14 02:47] eseidelGoogle commented on #10650
It looks like this is the code which package:intl uses to read the locale:
https://github.com/dart-lang/intl/blob/master/lib/intl_standalone.dart#L31

It looks like flutter_tools prints out a different local in the doctor output:
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/doctor.dart#L233

[2017-06-14 02:48] eseidelGoogle commented on #10650
It looks like this is the implementation for platform.localeName on Mac:
https://github.com/dart-lang/sdk/blob/bc923bed16fb87c44cdea43c9b90b8d1266ff29f/runtime/bin/platform_macos.cc#L148 Very recent code.

[2017-06-14 02:56] sethladd opened #10683 "Request to cross-link from GestureRecognizer to GestureDetector"
It's likely that if you found yourself at GestureRecognizer (cough like I did, cough) that you probably want GestureDetector.

Suggestion: link over to GestureDectector, from GestureRecognizer, with a hint that the user probably wants GestureDetector if they are looking for a way to handle gestures and taps.

[2017-06-14 03:02] branflake2267 commented on #9249
I'd like to construct a GoogleSignInButton in the plugins package, but I don't know how to tell the Image.asset(..) image construction where the bundled image is specified in the plugins pubsec.yaml. It doesn't appear there is a proper way to specify the AssetBundle from the plugin.

Here's the branch I've been working on to try to construct this:
https://github.com/flutter/plugins/pull/118/files#

[2017-06-14 03:05] sethladd opened #10684 "Very misleading error message when you drastically change the starter project and then hot reload"
Try this:

* create a new app
* start an emulator
* flutter run your new app
* yay, it works!
* then, replace your lib/main.dart with the following contents:

[code]

And then:

* type `r` in your flutter run console

Expected: hot reloads and everything is awesome

Actual:

This error:

[code]

This is a pretty poor user experience:

* There is no more MyHomePage class in my source code, why is F

[2017-06-14 03:18] YongjunChoi commented on #10650
I found that
on mac console I's ok..
but Indellij IEDA it has problem [Package get..]
I guess maybe it is ieda issue...

/Users/yongjun/dev_sdk/flutter/bin/flutter --no-color packages get
Running "flutter packages get" in sotong...
===========================================================
Oops; flutter has exited unexpectedly.
Sending crash report to Google.
Crash report sent (report ID: 5b0d916

[2017-06-14 03:24] Khalid-Nowaf commented on #10652
I use the hello world example to test the decoding
![](https://media.giphy.com/media/l0IyaYVOeRHlWBXRC/giphy.gif)

and here also Gif to that illustrate the issue
![](https://media.giphy.com/media/3oKIPxMpcVf1pQxuUw/giphy.gif)

*note: if I use Arabic text then run `flutter run` everything will work as expected, after changing the "adding" or "modifying" any Arabic text then press I `r`, I will get

[2017-06-14 03:52] smrtsmrf commented on #9043
some kind of charting with capabilities of amCharts would be awesome

[2017-06-14 03:58] maryx opened #10685 "Dev docs point to master instead of alpha"
It seems like we should be developing using the alpha branch, but the docs point to the master branch, so there are some inconsistencies. E.g. the alpha branch of DragTarget's `LongPressDraggable` doesn't have a `onDragCompleted` callback (https://github.com/flutter/flutter/blob/alpha/packages/flutter/lib/src/widgets/drag_target.dart#L219) whereas the docs say that it is a constructor property (ht

[2017-06-14 04:41] branflake2267 opened #10687 "Manually deleting library from the External Libraries folder doesn't delete or return"
## Steps to Reproduce
1. select folder in external library
2. delete folder (library)
3. run packages get
4. (note the library didn't delete from module settings libraries)

After I deleted them from the module settings library.
![screen shot 2017-06-13 at 9 36 50 pm](https://user-images.githubusercontent.com/1326504/27115618-bb7c534c-5080-11e7-9aa0-44585d8fa454.png)

I'm expecting packages get to

[2017-06-14 04:42] smrtsmrf opened #10688 "GoogleSignIn in Firebase for Flutter Codelab broken"
## Steps to Reproduce

I followed the steps in the Firebase for Flutter codelab (steps 5 & 6), but it doesn't work.

## Logs
```flutter run``` with an android emulator yields this result:
<img width="1628" alt="screen shot 2017-06-13 at 6 40 40 pm" src="https://user-images.githubusercontent.com/17756776/27115531-7cdb6198-5088-11e7-880c-11c30d151378.png">

```flutter run``` with iOS simulator yield

[2017-06-14 05:04] DaveShuckerow commented on #10266
This appears to be fixed in the latest version of Flutter.

[2017-06-14 05:05] #10266 closed

[2017-06-14 05:24] zanderso commented on #10677
If there is an additional memory cost, I would guess that it is pretty small. I would guess that `dart:io` `stdin` is not a broadcast stream by default because broadcast streams silently drop events when there are no listeners, which would be bad if you really want all the bits that are sent your way. Also, if what you really want is a broadcast stream you can always say `stdin.asBroadcastStream()

[2017-06-14 05:24] branflake2267 commented on #10687
My work around. I deleted the .pub-cache. Some reason this got into an inconsistent state.

[2017-06-14 05:25] zanderso commented on #10677
/cc @floitschG in case he has any additional information.

[2017-06-14 05:48] xster commented on #10626
I guess conceptually since we're asking for user input, we're gonna need to translate that feature to support the JSON APIs too?

The simplest solution is probably to just pick the first one, or is there an existing documentation for the JSON APIs for would be --machine developers that I can look at and extend?

[2017-06-14 05:54] abarth commented on #10661
Please send a pull request with the changes you want to https://github.com/domokit/domokit.github.io .  Probably just delete the whole thing and change the README to point to flutter.io ?

[2017-06-14 06:19] tvolkert opened #10690 "Manual steps required when plugin depends on FlutterFragmentActivity"
Some plugins (right now, `google_sign_in`) require that your main app activity be an instance of `android.support.v4.app.FragmentActivity`.  Right now, Flutter makes this possible, but not as easy as it could be.  The current state is:

1. Flutter provides `io.flutter.app.FlutterFragmentActivity` out of the box, but it doesn't bundle the `android-support-v4` library, upon which that activity depen

[2017-06-14 06:20] tvolkert commented on #10690
@mit-mit @mravn-google

[2017-06-14 06:22] tvolkert commented on #10626
@devoncarew

[2017-06-14 06:29] tvolkert commented on #10688
The issue is that you're using a version of the plugin that was published today, yet it refers to a new class (`FlutterFragmentActivity`) in the Flutter engine that, while it was checked in 5 days ago (https://github.com/flutter/engine/pull/3757), does not yet exist on the `alpha` branch, which was tagged 12 days ago.

I'll release a new version to alpha tomorrow, which will partially resolve this

[2017-06-14 06:40] branflake2267 opened #10691 "Issues retrieving the Firebase user."
## Steps to Reproduce

1. Google sign in works
2. Try getting the fire base user.

[code]
D/EGL_emulation( 4226): eglMakeCurrent: 0xb39857e0: ver 2 0 (tinfo 0xa8b482c0)
V/FA      ( 4226): Inactivity, disconnecting from the service
W/DynamiteModule( 4226): Local module descriptor class for com.google.firebase.auth not found.
[code]
/Users/branflake2267/git/flutter/bin/flutter --no-color doctor
[✓]

[2017-06-14 08:04] asaarnak commented on #10630
Similar issue, after upgrading to gradle build tools "3.0.0-alpha3" and running flutter run --release.
I noticed that the file _app-release.apk_ that is not found is actually in 'build/app/outputs/apk/***release***/app-release.apk' folder.
But the path in exception logs is without the ***/release/*** folder.
[code]

[2017-06-14 08:20] szakarias opened #10693 "Crash when running a newly created Flutter app via Xcode on an iOS device."
## Steps to Reproduce

`Flutter create` a new project. Set the `Team` in Xcode and run the project from Xcode on a connected device. This results in : `Thread 1: signal SIGPIPE` . It is possible to make the app run by pressing the `Continue program execution` button in the debug area about 3 times.

[2017-06-14 08:29] asaarnak commented on #10630
Guide about migration to the new Android plugin 3.0.0-x.
https://developer.android.com/studio/preview/features/new-android-plugin-migration.html

[2017-06-14 08:59] asaarnak commented on #10630
Current workaround for me was:
In file: flutterApp/android/app/build.gradle
[code]

[2017-06-14 08:59] vlidholt commented on #10655
@mattsarett The alpha is most certainly not rendered correctly. I made a simple test case here: https://github.com/vlidholt/flutter_bug_alpha/blob/master/lib/main.dart

Output of the test below. The boxes on the right and left should match.

![screen shot 2017-06-14 at 10 58 41 am](https://user-images.githubusercontent.com/1539812/27124176-7c21be4c-50f0-11e7-82cd-b76b42472777.png)

[2017-06-14 09:37] nanowang commented on #204
Just published a simple plugin for animated gif: https://github.com/nanowang/flutter_animated

It still lacks of a number of key features.

[2017-06-14 09:39] asaarnak commented on #10630
I tried fixing in the flutter.gradle.
1. Adding the: `"project.compileDebugKotlin.dependsOn project.flutterBuildX86Jar"`, fixes the error `"flutter-x86.jar does not exist."` when using `"flutter run --debug"`
2. Adding the hack(currently no time to find better way): `output.outputFileName = "../app-${variant.name}.apk"` fixes the `(OS Error: No such file or directory, errno = 2)` when using `"flut

[2017-06-14 11:08] mit-mit commented on #10690
Thanks Todd, yes we should get this fixed so no manual edits are needed.

[2017-06-14 11:09] mit-mit commented on #10661
For dartdocs, I believe the only way is to open a bug here https://github.com/astashov/dartdocs.org/issues and ask for them to be removed.

[2017-06-14 11:35] leafpetersen commented on #10660
I don't have any new ideas about how to express this, but I wonder whether overloading would help with the backwards compatibility issue.  That is, you could add a constructor with `children` accepting `List<Widget<Renderbox>>`, and deprecate the old one but keep it around.

Alternatively, I suppose maybe having some way to attach automatic coercions to constructors/arguments might allow you to ch

[2017-06-14 11:51] DanTup commented on #10615
As user that's testing the flutter integration in Dart Code hit this too, see https://github.com/Dart-Code/Dart-Code/issues/318#issuecomment-308381884

So maybe it's not isolated to hello world. Would be good if someone on the flutter/Dart team was able to try and repro, I think it's going to be very difficult for us to debug from the outside.

[2017-06-14 13:00] mattsarett commented on #10655
Sorry I should have provided more detail.  The interesting insight is that 8-bit pixel component values are almost never encoded on a linear scale.  They are typically encoded with some sort of exponential transfer function to preserve precision.  In this case, these 32-bit values (which eventually become SkColors) are defined to be sRGB values, which means that the 8-bit components are encoded on

[2017-06-14 14:32] mattsarett commented on #10655
Beyond the mathematical explanation, I think there is a perceptual question to consider here.  What should 50% gray actually look like?

An interesting approach is to consider walking a long distance away from a black-white dither, letting your eyes do the interpolation.  I've written a small demo that shows various ways of creating 50% gray - dither, scaled dither, blending, hard-coded gray value

[2017-06-14 14:33] KevinTheGray commented on #10669
@cbracken yeah, here are our plugins from pubspec.yaml

[code]

[2017-06-14 15:01] mit-mit commented on #9881
Generalizing this bug to cover specifying a dependency on any custom maven repository:
`maven { url '<maven_repo_url>' }`

Besides the original jitpack example, other similar cases include [ZenDesk](https://developer.zendesk.com/embeddables/docs/android/integrate_sdk#adding-the-support-sdk-with-gradle) and [fabric.io](https://docs.fabric.io/android/crashlytics/build-tools.html#customize-your-build

[2017-06-14 15:09] mit-mit commented on #10691
cc @collinjackson

[2017-06-14 15:14] devoncarew commented on #10615
@DanTup, I did verify this works with IntelliJ. Perhaps a race condition with isolates and startup in the vscode impl? An app that takes less time to start up (like hello-world) may hit this more frequently.

If you do see this with IntelliJ, it's likely a more wide-spread issue.

[2017-06-14 15:18] tvolkert opened #10694 "Re-shard post-submit Travis jobs"
our `tests` shard currently takes ~25 minutes when Travis bots are not under load and can take over 50 minutes when they're under heavy load.  Per https://docs.travis-ci.com/user/customizing-the-build#Build-Timeouts, travis-ci.org jobs will be evicted after 50 minutes.  We should see how we can re-shard the job.

Low-hanging fruit would be separating:

* `flutter` tests
* `flutter_tools` tests
* C

[2017-06-14 15:22] mit-mit commented on #10693
This repros for me on alpha:

1. `flutter create iostest`
1. `cd iostest`
1. `open ios/Runner.xcodeproj/`
1. Select Runner and set signing
1. Plug in a physical iOS device
1. Hit run

[code]

[2017-06-14 15:23] mit-mit commented on #10693
cc @cbracken @chinmaygarde

[2017-06-14 16:19] swissonid commented on #10680
As far I understand you do not need such a script, because of the AndroidManfist.xml merge mechanisms during the building process. So, for example, your plugin need permission to the camera and you defined that permission in the AndroidManifest of your plugin. Wich is at the end an Android Libary. The permission from your lib should get removed from the App AndroidManifest on the next build.

[2017-06-14 16:36] devoncarew commented on #10626
Yeah, we shouldn't be asking for user input in `--machine` mode, or at least not via stdin.

I possible solution here is to auto-select a certificate, print a message saying what we did, and have some instructions in there telling the user how to select an explicit one going forward. This may even be a good solution for the regular `flutter run` case - which, even for that, we may not want to inte

[2017-06-14 17:04] tvolkert commented on #10626
Can we use `flutter config` to store the default choice going forward?

[2017-06-14 17:06] DanTup commented on #10615
@devoncarew It's possible though I don't think we do anything immediately (and I'm not sure it could cause behaviour like this - we've hit a breakpoint and had info from Observatory, then asked it to resume).

I'll see if I can repro in a simple script or another IDE. The only other significant traffic in my log is that we send `setLibraryDebuggable` for every library (except `dart:_...`); I wonde

[2017-06-14 17:09] devoncarew commented on #10626
Yeah, it's just a key value store, and work probably work well for something like this. And just to re-cap my thoughts from above, instead of asking the user for the choice, I think we should:

- guess
- warn that we guessed
- provide a way to configure the choice (in a stateful way on disk)

[2017-06-14 17:18] mehmetf opened #10695 "In release mode crashed widgets should not show stacktrace and red background"
Users do not understand what stacktraces mean and red color is too scary for them. It would be great to replace this (only in release mode) with a "broken widget" (may be something like aw, snap! page on Chrome?).

[2017-06-14 17:20] vlidholt commented on #10655
@mattsarett Thanks for the explanation. I can understand that the actual alpha representation is not linear (which it is in many frameworks and can cause confusion). However, if it is not, then the built in conversion functions should probably reflect that.

E.g. consider the `withOpacity` function from the Color object.

[code]

It simply does a linear conversion. If I do a box with 50% gray (128

[2017-06-14 17:31] sethladd commented on #10688
Should we add a way for a plugin to declare a minimum version of the Flutter SDK? Then, the pub resolver might be able to match the plugin version to the version of Flutter SDK.

[2017-06-14 17:32] sethladd commented on #10685
Agreed. I think docs.flutter.io should point to the latest version from the _recommended_ branch/channel.

[2017-06-14 17:45] tvolkert commented on #10688
I think that exists (https://github.com/dart-lang/pub/issues/1432).  @nex3 what's the behavior in the following scenario:

1. plugin `P` version `0.0.1` declares a dependency on flutter SDK with no version constraint, like so:
[code]

2. plugin `P` releases a new version `0.0.2` and declares a Flutter SDK version constraint:
[code]

3. Jane Developer has installed the Flutter SDK `0.0.27-dev`, and

[2017-06-14 18:00] mattsarett commented on #10655
I'm not as familiar with the code at the Dart level.  We do need to be consistent there, and I think I see at least one bug.  `static Color lerp(Color a, Color b, double t)` is not doing a correct linear interpolation.

As far as this example, I think we're almost on the same page, but this still seems to me to be working as intended.

I should have been more clear - the alpha value is always line

[2017-06-14 18:12] lukef commented on #10617
I've reproduced this on 2 separate machines now. Using flutter `master` and Android Emulator `26.1.1`.

[2017-06-14 18:17] sethladd opened #10696 "Request for analytics: clearly send the "channel" our users have installed"
Today, we seem to send a very specific "app version" , such as "alpha/48934y3", "master/47fh4h34f", etc.

We were just trying to answer "how many of our users are on the alpha channel" ? We found this difficult, as we had to find all master and alpha versions and then sum them.

Our suggestion: send a "custom dimension" for "channel", and populate it with just the branch name. (Similar to how we s

[2017-06-14 18:17] sethladd commented on #10696
cc @Hixie

[2017-06-14 18:23] wmaxfield commented on #10617
The problem is your official flutter documentation states to set up hardware GLES 2.0 emulation. This fails, at least on a Macintosh OS 10.9.5, iMac 27".  If you select Automatic or Hardware, you will show black.  If you select SOFTWARE GLES 2.0 then it shows.  I suspect that the performance will suck in that case.  It may be a case of older drivers on the Macintosh.  I run older OS because of sta

[2017-06-14 18:25] #10642 closed

[2017-06-14 18:25] sethladd commented on #10685
I can take a crack at this.

[2017-06-14 18:31] goderbauer opened #10697 "Document how to create xcconfig file for running devicelab tests locally on iOS"
When I run an iOS devicelab test locally, it tells me to specify a xcconfig. We should document on https://github.com/flutter/flutter/tree/master/dev/devicelab how to create that file and where the required information can be found.

/cc @yjbanov

[2017-06-14 18:32] Hixie opened #10698 "Investigate cause of basic_material_app_ios__size regression"
This bug is to track the results of the investigation into the basic_material_app_ios__size release_size_in_bytes 4% regression (8589140b->8954839b) that happened after https://github.com/flutter/flutter/pull/10591.

[2017-06-14 19:00] lukef commented on #10617
@chinmaygarde - "Switch to an emulator where you can select Hardware OpenGLES as an "Emulated Performance" option." does not work at all. Switching to "Hardware - GLES 2.0" results in a black screen. Using Software rendering renders the emulator unusable. I'm not really sure why you would remove the Today badge as this seems like a critical issue to me.

Using a device isn't always an option and i

[2017-06-14 19:10] DanTup commented on #10615
Seems like this issue might be isolated to the `main` method. If I'm at a breakpoint elsewhere, I can step. But in `main` I can't.

Interesting the stack trace doesn't show me as being in `main` when I stop at a breakpoint there:

![Debug](https://user-images.githubusercontent.com/1078012/27150015-894e1fbe-513d-11e7-9a64-49640056f4d4.png)

[2017-06-14 19:12] Hixie opened #10700 ""flutter build apk" doesn't implicitly run pub get"
If the first thing you do in a flutter project directory is "flutter build", you get all kinds of weird messages because we don't imply a "pub get" for you like we do for "flutter run".

[2017-06-14 19:13] Hixie commented on #10700
cc @HansMuller

[2017-06-14 19:13] DanTup commented on #10615
I removed all my `setLibraryDebuggable` calls and it made no difference. It seems that breakpoints outside of `main` method are fine - I can step from them. Anything in `main` method just causes a hang.

[2017-06-14 19:13] Hixie commented on #10655
@vlidholt `Color.withOpacity` just sets the opacity to the specified opacity, which seems fine to me. Similarly `Colors.white12` is just white (0xFFFFFFFF) with a 12% opacity applied (0x1FFFFFFFF), it's not "12% gray", which again seems correct to me. The greys are [Colors.grey](https://docs.flutter.io/flutter/material/Colors/grey-constant.html) and they haven't changed with the color correction w

[2017-06-14 19:17] floitschG commented on #10541
That doesn't make sense to me: iOs and Android should behave the same, and UTC datetimes should definitely give you 30 days in April.

I looked through the code, and afaics UTC doesn't even ask the system for zone-related information. It's a fully deterministic computation on its inputs.

Could you please rerun the program and get the `millisecondsSinceEpoch` values for the two datetimes?
(More co

[2017-06-14 19:18] Hixie commented on #10541
It seems to me that we should just hard-code the number of days in a month for the widget, rather than depending on DateTime...

[2017-06-14 19:19] Hixie commented on #10695
Seems reasonable.

[2017-06-14 19:21] alardizabal opened #10701 "MessageChannel hits ByteData.getFloat64 alignment crash on ARM"
I've been experiencing mid-session crashes that started yesterday. There's little detail in the output when the crash occurs. I don't seem to be experiencing the same type of crash on iOS.

IntelliJ
[code]

Android Studio Logcat
[code]

[code]

[2017-06-14 19:25] floitschG commented on #10541
That should be ok. You would just need to reimplement the `isLeapYear` functionality of the `DateTime` class (which is pretty simple).

[2017-06-14 19:26] floitschG commented on #10541
I would still like to know what's going wrong here, though!
If you could provide the microseconds/milliseconds I would still be interested (even if you decide to implement it differently).

[2017-06-14 19:41] eseidelGoogle commented on #10701
Presumably a regression from the last engine roll?

[2017-06-14 19:42] eseidelGoogle commented on #10701
https://github.com/flutter/flutter/commit/b4ba972bf394a2269824e1eadaa1627bbc872d4b was the last engine roll.  FYI @tvolkert

It's also possible this a plugin crashing?

We'll need to get a stack trace to diagnose I suspect.

[2017-06-14 19:43] eseidelGoogle commented on #10701
https://github.com/flutter/flutter/issues/10674 was another crash report we saw come in last night, but is likely unrelated.

[2017-06-14 19:47] tvolkert commented on #10701
Doesn't look like a plugin crash, but logcat output would be helpful.  `adb bugreport > bugreport.txt` would be comprehensive.

[2017-06-14 19:50] DanTup commented on #10615
Ok, it's not isolated to `main`... Here is a log showing I performed a `step over` after hitting a breaking *and it worked* then the very next `step over` did not (I tried several times, nothing back):

[code]

I'm not sure how I could cause this behaviour even if I wanted to (a step worked, then the very next step on the same isolate got no response). I think something bad is happening inside obs

[2017-06-14 19:51] Hixie commented on #10684
What is happening is this:

- We don't rerun the `void main()` block. That's basically what it means to do a hot reload: we don't rerun the app from the start, we just update the code in place and keep going. Your app has already run its void main, so it won't rerun.

- We then mark every object in the system as needing to be rebuilt. In your app, you had a MyApp widget, so we rebuild it. Its buil

[2017-06-14 19:52] tvolkert commented on #10688
@collinjackson can you possibly update the codelab to reflect the need to manually update the activity to extend from `FlutterFragmentActivity`, or point me in the right direction (I hear special access is required)?

[2017-06-14 20:02] lukef commented on #10658
This might be a feature of the nested scrollview but it leaves the application broken. what would be the workaround here?

[2017-06-14 20:03] gspencergoog commented on #10695
It would probably be even more acceptable if users could perform an action, like submit feedback, from the "broken widget" screen.

[2017-06-14 20:03] eseidelGoogle opened #10702 "`flutter run` fails horribly when licenses are not signed"
[code]

My understanding is we have a `flutter doctor --android-licenses` command to help with this.  Presumably we should suggest that to the user here?

[2017-06-14 20:05] eseidelGoogle opened #10703 "`flutter doctor --android-licenses` attempts to install java"
Was trying to get past https://github.com/flutter/flutter/issues/10702 with `flutter doctor --android-licenses`:

[code]

Pops up a dialog.  Could it use the Java installed inside Android studio instead?

[2017-06-14 20:09] eseidelGoogle commented on #10703
If I try to run `~/Library/Android/sdk/tools/bin/sdkmanager` I also get the java install prompt.  I guess I need to install java to accept the licenses for gradle?  FYI @mit-mit

[2017-06-14 20:10] Hixie commented on #10658
It's not clear to me that this is "broken" (the user did scroll to that position), but yeah, we should improve it. Is this blocking you?

[2017-06-14 20:10] kevmoo opened #10704 "Provide a --machine flag for `flutter analyze`"
Just like `--version --machine` we need to process the output of `flutter analyzer` in a mache-friendly way.

Thankfully, we already do this with the regular dart analyzer with the `--format machine` flag. https://github.com/dart-lang/pana/blob/2e30307bd6babc07a8b133b3dd927d7f65ebc3e9/lib/src/sdk_env.dart#L44

We just need `flutter analyzer` to

* Add a `--machine` flag
* Pass it on as `--format m

[2017-06-14 20:10] kevmoo commented on #10704
CC @mit-mit

[2017-06-14 20:10] Hixie commented on #10702
Dupe of https://github.com/flutter/flutter/issues/8438.

[2017-06-14 20:10] #10702 closed

[2017-06-14 20:11] Hixie commented on #10703
Don't you need java to _run_ gradle?

[2017-06-14 20:11] mit-mit commented on #10703
One of the key reasons for having `flutter doctor --android-licenses` was for it to be able to auto-locate the JRE. @jason-simmons didn't we get that in?

[2017-06-14 20:12] mit-mit commented on #10703
@eseidelGoogle does `flutter doctor` defect java?

[2017-06-14 20:12] eseidelGoogle commented on #10703
I'm attempting to install java now.

[2017-06-14 20:13] mit-mit commented on #10703
You shoudldn't have to -- not sure why this is failing: https://github.com/flutter/flutter/pull/9892/files

[2017-06-14 20:14] eseidelGoogle commented on #10703
I installed Java just now and `flutter doctor --accept-licenses` worked.

[2017-06-14 20:15] mit-mit commented on #10703
Did doctor detect java prior to that?

[2017-06-14 20:15] alardizabal commented on #10701
Here you go.
[bugreport-NHG47L-2017-06-14-15-55-31.zip](https://github.com/flutter/flutter/files/1075809/bugreport-NHG47L-2017-06-14-15-55-31.zip)

[2017-06-14 20:18] eseidelGoogle commented on #10617
@branflake2267 and @lukef  can you tell us more about the hardware you're running on?

I was able to reproduce just now following the steps @branflake2267 gave.  I'm on a MacBookPro13,3 with macOS 10.12.5 (16F73) Intel HD Graphics 530.  I'm using:

[code]

[2017-06-14 20:21] mit-mit commented on #10703
Hmm, not working on my personal mac either:

[code]

[2017-06-14 20:22] kevmoo opened #10705 "Remove workaround for duplicate analyzer output"
See https://github.com/flutter/flutter/blob/befe01989610e4e231ca1c9095fcdb7a027ede84/packages/flutter_tools/lib/src/commands/analyze_once.dart#L93

https://github.com/dart-lang/sdk/issues/25697 was fixed at https://github.com/dart-lang/sdk/commit/eae2bf27470ff5c52c52647b27db224feb4f68d5

Now you can replace `issues` with an `int`. Nice!

[2017-06-14 20:22] kevmoo commented on #10705
CC @danrubel

[2017-06-14 20:22] lukef commented on #10617
My 2 devices are:

MacBookPro13,2
Intel Core i5
Intel Iris Graphics 550 (1536 MB)

iMac14,2
Intel Core i5
NVIDIA GeForce GT 755M (1024MB)

[2017-06-14 20:24] eseidelGoogle commented on #10701
@tvolkert  we should be able to symbolicate the crashes with https://github.com/flutter/engine/wiki/Symbolicating-production-crash-stacks

[2017-06-14 20:31] KevinTheGray commented on #10658
In my opinion, it's broken for three reasons.

1. In my reproduction steps, I never scrolled that right list.  Why would scrolling this left list move the right one?  If that's the intended behavior for the gallery app, fine, but it's odd and should be easily configurable.

2. Why can this cell rest slightly under the header?  Normal behavior would be that the cell would rest completely visible an

[2017-06-14 21:02] Hixie commented on #10658
If you scroll the page half-way so that you can see both lists, and then scroll it, you'll see why the behaviour is as it is. The appbar itself is scrollable, and it covers both sublists, so when you scroll it, they both scroll.

If you want the second side to not scroll at all you can build it without a listview (NestedScrollView gives you independent control of each tab). You can also duplicate

[2017-06-14 21:04] jason-simmons commented on #10703
flutter_tools adds the detected Java directory to the end of the PATH variable when running the Android sdkmanager tool.  So Mac OS' Java placeholder will be ahead of it in the path, and that generates the "No Java runtime present, requesting install".

I can change it to put the Java installation at the front of the PATH.

[2017-06-14 21:05] mehmetf commented on #10695
@gspencergoog that might not be possible. The broken widget might manifest as a very small area on screen or not be visible at all.

I think the best way is for the app to install an error handler and do something from there. File feedback, show dialog, etc.

[2017-06-14 21:09] sethladd commented on #10684
Thanks for the analysis!

From the user's perspective, it didn't work fine. I pressed 'r' and I didn't see my change. I got an error about code that no longer existed :(

Yes, please! That should cover a variety of cases, and we'll make it super clear: the action that the user requested did not complete, don't worry, just hit big R.

An overall point here is: it's not clear *why* hot reload failed

[2017-06-14 21:12] lukef commented on #10658
I'm not sure that this is being communicated properly. I'm happy to jump on a VC if this doesn't make sense. In the attached screenshot, the list has 1 item. There is no acceptable use case where that list will "settle" in that position because you cannot scroll to that position. You could definitely see this state on iOS because of the "overscroll" but it should never "rest" in this position.

Wh

[2017-06-14 21:14] eseidelGoogle commented on #3861
Any update @Hixie? :)

[2017-06-14 21:18] eseidelGoogle commented on #10617
I've asked @cbracken to drive this to resolution.

[2017-06-14 21:18] eseidelGoogle commented on #10701
@tvolkert is looking now.

[2017-06-14 21:18] eseidelGoogle commented on #10669
@collinjackson can you drive this to completion?

[2017-06-14 21:19] tvolkert commented on #10701
Actually it's @jason-simmons :-)

[2017-06-14 21:21] Hixie commented on #10658
It does scroll. Try it. :-) The AppBar in that example is an expanding AppBar. It's the same AppBar as when the Left tab is shown. If you scroll sideways such that you can simultaneously see both lists, it becomes obvious why you need to be able to shrink and expand that AppBar -- it's what happens when you scroll the left list, which has enough content to scroll.

If you don't want the AppBar to

[2017-06-14 21:22] Hixie commented on #3861
Yeah, I'm half-way through writing a patch for this. The matrix maths is proving a little tricky. :-)

[2017-06-14 21:23] Hixie commented on #10684
You missed the next two sentences which explain why that's not actually possible. :-) If we said "use R" anytime there was any error in hot reload, we'd be telling you to use "R" all the time even though most of the time using "R" will just give you the same error.

[2017-06-14 21:27] yjbanov commented on #10697
Do you have a preference for where to put such a document? I've used Wiki in the past, e.g.: https://github.com/flutter/flutter/wiki/Flutter-CLI-crash-reporting

[2017-06-14 21:27] yjbanov commented on #10697
The error message would provide a link to the wiki page.

[2017-06-14 21:28] sethladd commented on #10684
Sorry, I did miss it. However, I'm still not satisfied with this user experience :/

Remember, I hit _little r_ a few times and kept getting the same error. I was out of ideas. I was about to just quit the _flutter run_ session (Control-C) and relaunch. That's a valid workaround, but I think we can do better.

I solved this because I _a priori_ knew about Big R. I'm wondering what we can do to mak

[2017-06-14 21:31] goderbauer commented on #10697
I would have expected to find the information in the readme for device lab: https://github.com/flutter/flutter/blob/master/dev/devicelab/README.md

That one also tells me everything else I need to know about running a task.

[2017-06-14 21:33] KevinTheGray commented on #10411
This doesn't work for me, I've tried settingPerisistenceEnabled, keepSynced, and the data just never comes through when I set my device offline.

[2017-06-14 21:50] goderbauer opened #10706 "Unable to flutter run on iOS"
[code]

Opening the project in Xcode and running it from there works fine. I am getting this error for an iPhone 6s (iOS 10.3.3 beta 3) and iPhone 6 (iOS 10.3.2). An an iPod touch (6th generation, iOS 10.3.1) it works fine.

[code]

cc @cbracken, @xster

[2017-06-14 21:54] B3rn475 commented on #10615
I'm trying to recreate the same issue using the *flutter_gallery* example and observatory:

- I've added the same two extra lines in the main.
- I've started the flutter_gallery app using --start-paused
- I've added the breakpoint
- Continue
- Next
- Next
- Next
- The program reached the end of the main function

On the wire we can see the messages:
[code]
Can you confirm that with observatory it

[2017-06-14 21:56] eseidelGoogle commented on #10617
We've had at least two more reports of this this morning.  Given that it's 3pm, I don't expect we'll complete this today, but we definitely need to get to a place where we aren't stranding users in this state.  Once they hit a black screen we don't provide any feedback or any explanation as to how to fix their setup.

[2017-06-14 22:10] eseidelGoogle commented on #10617
I've just confirmed that flutter 0.0.8 (1a1bbacf0d16c1780377ea77580ec3b05c387f88) has this black screen bug, but that flutter 0.0.7 (e2f54df5ab96808060c4f91bee0274b2fc126afe) does not.

[2017-06-14 22:14] Hixie commented on #10684
The flutter tool announces it in the same sentence as hot reload:
[code]

The ideal solution here is getting the VM to report the information as described above.

[2017-06-14 22:16] eseidelGoogle commented on #10617
The AVD I'm using is:
[code]

[2017-06-14 22:16] sethladd commented on #10684
cc @a-siva @mit-mit

@Hixie is referring to this text:

"If the VM could report to us the list of classes that changed, and whether they were removed or had their class hierarchies changed, we could specifically rebuild just the widgets that changed, and we could complain if a class that previously was in the tree no longer existed."

[2017-06-14 22:19] KevinTheGray commented on #10658
The AppBar scrolling is fine, it is abundantly clear why each list would scroll the same AppBar, because they share the same same AppBar.  What isn't ok is to have a a tabbed list of items, and for them to behave like this:

https://www.youtube.com/watch?v=7zgjGppzsQE

The right content becomes hidden under the header, because it is resting there.  If a user saw this, they would assume that the ri

[2017-06-14 22:20] goderbauer commented on #10706
Work-around:
[code]

[2017-06-14 22:24] nex3 commented on #10688
Yes. That said, I would generally caution you not to encourage users to publish packages with SDK constraints that have no version numbers, because by the same logic pub may fall back on selecting those package versions for users running Flutter 4.0.0 way down the line.

[2017-06-14 22:24] branflake2267 commented on #10617
I noticed someone running an emulator without the option to select Hardware acceleration settings.

[2017-06-14 22:26] eseidelGoogle commented on #10617
@jason-simmons is debugging.  https://github.com/flutter/engine/commit/ffe8181ffe7432b61a67323c80fd8025704e4695 is the current suspected culprit.

[2017-06-14 22:28] lukechurch commented on #10684
cc @lukechurch

[2017-06-14 22:29] jason-simmons commented on #10617
Try upgrading to the latest version of the Android emulator and running it from the command line with the various graphics accelerator options described in:
    https://developer.android.com/studio/run/emulator-acceleration.html#accel-graphics

`-gpu swiftshader` in particular may be useful

[2017-06-14 22:38] eseidelGoogle commented on #10617
I'm using `Android emulator version 26.0.3.0 (build_id 3965150)` which only seems to support:
[code]
Is there a newer emulator I'm missing?

[2017-06-14 22:38] KevinTheGray commented on #10411
here's some logs i hit when using 0.0.6 on android
[code]

[2017-06-14 22:39] lukef commented on #10617
There is a v26.1.1 also

[2017-06-14 22:40] collinjackson commented on #10411
Thanks, I'm investigating.

On Wed, Jun 14, 2017 at 15:38 KevinTheGray <notifications@github.com> wrote:

[2017-06-14 22:41] eseidelGoogle commented on #10617
I'm on the stable channel for Android Studio, it seems to think I'm up to date.  Maybe I need to move to beta dev or canary to pull more recent tooling?

[2017-06-14 22:41] collinjackson commented on #10411
Thanks! I'm investigating.

[2017-06-14 22:43] lukef commented on #10617
I think it's up to you really but I'd say a large majority of Android devs will have to use the canary builds as well to test their apps on the latest version.

[2017-06-14 22:46] smrtsmrf commented on #10617
I don't have Android studio on my Mac (I know I could install it). Currently I'm using a solution I use for Ionic which allows me to run ```android avd``` from the command line and I can see my emulators and create new ones. Hardware acceleration is not an option. However, i can start the emalator from the command line, and using the -gpu flag mentioned above makes it work, choosing the guest opti

[2017-06-14 22:53] eseidelGoogle commented on #10617
I'm now using `Android emulator version 26.1.1.0 (build_id 4051520) (CL:f55e2eef2479f03d2fa4619a7e723a32b60172b1)`, but I still only see the gpu options in https://github.com/flutter/flutter/issues/10617#issuecomment-308577889.

[2017-06-14 23:06] RandalSchwartz opened #10708 "Page https://flutter.io/debugging/ implies no Observatory for ios devices."
## Steps to Reproduce

Go to [the debugging page](https://flutter.io/debugging/), and read the paragraph under Observatory that mentions only Android, without mentioning iOS.  I understand that it works only in the ios simulator, but that's still more than nothing. :)

[2017-06-14 23:20] sethladd commented on #10708
thanks for the feedback!

[2017-06-14 23:21] kirbyfan64 commented on #9543
Found the problem! After reinstalling the SDK, it seems Gradle expects the SDK directory to be symlinked as `android-studio-directory/tools`, even if `ANDROID_HOME` is set correctly.

Fix: `ln -s $ANDROID_HOME android-studio/tools`

TBH though Gradle shouldn't assume that...

[2017-06-14 23:21] tvolkert commented on #10655
FYI, https://github.com/flutter/engine/commit/ffe8181ffe7432b61a67323c80fd8025704e4695 is being reverted because it's been implicated in iOS crashes and in https://github.com/flutter/flutter/issues/10617 -- so this means the text lightness will revert to its previous behavior *at least temporarily*

[2017-06-14 23:27] Hixie commented on #10658
I totally agree that it's suboptimal and that we should improve it. Is it blocking you? (i.e. do you intend to ship an app with a NestedScrollView where one of the lists may be short but will not always be short such that you require it to be a ListView?)

[2017-06-14 23:29] #10685 closed

[2017-06-14 23:30] eseidelGoogle commented on #10693
Is this a crash or just a sigpipe in debugger?  Sigpipe in debugger is tracked by https://github.com/flutter/flutter/issues/10358.

[2017-06-14 23:36] lukef opened #10709 "Flutter crash when device enters sleep on Android"
When testing on an Android device (O/8.0 DP3, Nexus 6P) and the device tries to enter sleep, I have observed the following crash multiple times. It does not happen every time.

[code]

[2017-06-14 23:37] yjbanov opened #10710 "Re-fix Skia color correctness"
We are about to [roll back](https://github.com/flutter/engine/pull/3775) the Skia color-correctness fix. It causes frequent reboots on (at least) iPhone 6 model A1586, iPhone 6 model A1549, and iPod Touch model A1574.

[More info](https://docs.google.com/document/d/12WpzYF0nUT8VfA7JDx9OwZa4H3sd9DKacm04-dBAppw/edit)

@chinmaygarde @goderbauer @jason-simmons @mattsarett

[2017-06-14 23:39] eseidelGoogle commented on #10709
To debug we'll likely need a full tombstone.  If you can pull one and sanitize to post here that would be helpful.  :)

[2017-06-14 23:46] Hixie commented on #10710
Original PR was: https://github.com/flutter/engine/pull/3743

[2017-06-14 23:55] alan-knight commented on #10650
I have a number of interesting theories about what might be going wrong (e.g. I'm going to take a wild guess that the peculiar language code "re" is due to incorrectly parsing "Korean" somewhere) but I think the correct thing to do now that 1.24 is stable is to land the CL to make Intl rely on the platform.localeName API and publish a version.

[2017-06-15 00:00] collinjackson commented on #10688
This was enough of a breaking change to Google Sign In that it probably deserved a more major version bump. @tvolkert what do you think?

I'll work with @LarkAscending to update the codelab with the `FlutterFragmentActivity` change. We should update the README as well. I'll submit a PR for that.

[2017-06-15 00:03] tvolkert commented on #10688
Sure, though at this point bumping the version again would just yield churn.

[2017-06-15 00:07] mattsarett commented on #10710
Sounds good to me.  Do you have any logs or data that might help us diagnose the cause of the issues?

[2017-06-15 00:07] mattsarett commented on #10710
@brianosman

[2017-06-15 00:08] xster commented on #10228
For record, the things I've tried so far to repro (somehow can't make it happen anymore after 2 days of exclusive simulator use):
- flutter run while the simulator is booting
- running on fresh simulators without any prior use
- with and without plugins
- flutter run while another app is running in the simulator (mentioned in #9904 which is a dupe)
- with and without the same app already installed

[2017-06-15 00:09] yjbanov commented on #10710
Is the "More info" link in the description helpful at all? If not, we have plenty of devices in the office that can reproduce this.

[2017-06-15 00:11] goderbauer commented on #10617
This should be fixed on channel `master`. I am working on updating the `alpha` channel.

[2017-06-15 00:11] mattsarett commented on #10710
Ahh thanks, sorry I missed that.