[2017-06-15 00:13] collinjackson commented on #10688
I just ran across https://developers.google.com/android/guides/api-client#manually_managed_connections and it actually doesn't seem so bad.

I think maybe we should just do that in the sign-in plugin, which would keep the codelab working.

We could still use `autoManage` if we detect that the app's Activity is a FragmentActivity.

[2017-06-15 00:14] a-siva commented on #10684
@rmacnak-google

[2017-06-15 00:20] cbracken commented on #10706
Dupe of #4326

[2017-06-15 00:20] #10706 closed

[2017-06-15 00:23] xster commented on #10626
Great idea. I was thinking about where to save it but there's already prior art. Will use the config store.

+1 on the other points. We already output the chosen one.

[2017-06-15 00:28] Hixie opened #10713 "Hot restart while keyboard is up leaves the keyboard up (Android)"

[2017-06-15 00:38] collinjackson commented on #10669
Yes, I'd be happy to investigate. Thanks for filing this.

[2017-06-15 00:49] smrtsmrf opened #10714 "Webstorm Flutter plugin doesn't allow "-d all" option"
In the command line, I can run ```flutter run -d all``` to run the app on all my connected devices. It would be great if this option was available in the Flutter plugin for Webstorm. I can edit the configuration to take additional arguments, but when I tried adding "-d all", it said it didn't support it.

[2017-06-15 00:54] lukef commented on #9851
This appears to be fixed. Thanks.

[2017-06-15 00:55] collinjackson commented on #10404
I think this would be straightforward to add, and I'd be happy to do it. But I'm doing a lot of things, so pull requests are welcome if anyone feels blocked on this.

[2017-06-15 01:03] pcomans opened #10716 "Please add documentation on how to use MemoryImage"
Hi there,

I'm trying to write a widget that displays an animated GIF.
I am decoding the GIF using https://pub.dartlang.org/packages/image and trying to write the bytes to a MemoryImage.
I find, however, that MemoryImage never redraws, even when setting a new state.
Is there something I'm doing wrong?

[code]

My code is here: https://github.com/pcomans/flutter_gif_test/blob/master/lib/main.dart

[2017-06-15 01:04] goderbauer commented on #10617
I reverted the color correctness patch in the engine (see https://github.com/flutter/flutter/issues/10710) to fix the issue. This is causing some colors to render slightly different (see https://github.com/flutter/flutter/issues/10655).

I am closing this bug as it is fixe in `master` and `alpha` now.

[2017-06-15 01:05] collinjackson commented on #9961
@mravn-google yep, that's what I ended up doing. Thanks for the suggestion!

[2017-06-15 01:24] collinjackson commented on #10660
Thanks for the suggestions, @leafpetersen.

Unfortunately type overloading [doesn't seem likely](https://github.com/dart-lang/sdk/issues/49#issuecomment-108301493) to become a thing in Dart. Also the homepage of [dartlang.org](http://www.dartlang.org/) seems pretty negative about type coercion.

<img width="803" alt="screen shot 2017-06-14 at 6 24 18 pm" src="https://user-images.githubusercontent.

[2017-06-15 01:29] rmacnak-google commented on #10684
Removing a (non-root) widget class and all its uses in build methods would be a valid change. Hot reload should not complain here just because the old tree has a deleted class.

The VM knows that this compilation error happened in stale code (the deleted MyApp class), which is probably a good signal that restart may help. The typo scenario would usually cause an error in the current version of som

[2017-06-15 01:41] eseidelGoogle commented on #10716
We could also probably do some engine work to help you with https://github.com/flutter/flutter/issues/204 :)

[2017-06-15 01:43] eseidelGoogle commented on #10714
I believe this is being worked on: https://github.com/flutter/flutter-intellij/issues/956

[2017-06-15 01:43] eseidelGoogle commented on #10714
Going to close this as a dupe of that bug.  Thanks for the report!

[2017-06-15 01:43] #10714 closed

[2017-06-15 01:43] tvolkert commented on #10701
@alardizabal can you see if you can reproduce this against the latest alpha or master?  We [reverted](https://github.com/flutter/flutter/pull/10711) a change that was identified as the culprit in a few regressions, and I have a suspicion that reverting it may have fixed this too.

[2017-06-15 02:09] eseidelGoogle commented on #10713
This is likely related to the question of teaching plugins about hot-restart/hot-reload https://github.com/flutter/flutter/issues/10437

[2017-06-15 02:39] lukef commented on #9965
With hardware rendering this issue is still present. Software rendering is not an option because the emulator is totally unusable.

[2017-06-15 02:55] xster commented on #10228
More things tried:

- flutter run while another flutter app has resident runner
- flutter run without internet
- delete app and re-run
- with multiple devices connected
- after hot reloads
- wipe simulator and re-run

But did manage to trigger the same issue by having multiple simulators open.
It's kind of a hack to get it to happen (https://stackoverflow.com/questions/26446346/xcode6-run-two-inst

[2017-06-15 02:58] cjkao commented on #6724
if you setup APN network proxy in emulator, the socket issue disappear

[2017-06-15 03:07] #9851 closed

[2017-06-15 03:22] xster commented on #10228
The problem is in packages/flutter_tools/lib/src/ios/simulators.isInstalled()

In this case the app was not installed in the simulator involved but the command
`xcrun simctl get_app_container booted com.yourcompany.flutterGallery` never finishes.

Might be just some incorrect usage of the command. Will dig a bit.

[2017-06-15 03:25] tvolkert commented on #10228
When I've seen this happen, it's been on the `xcrun simctl install booted path/to/Runner.app` command.

[2017-06-15 03:32] xster commented on #10228
Actually you're right. Unfortunately I lost the repro. I closed one of the simulators and after opening 2 again, I couldn't get it to happen anymore.

But it seems like when a simulator enters some state, multiple xcrun simctl commands will end up hanging.

But it does seem related to the specific simulator. When I had 2 open and ran simctl commands against the specific device id instead of `boote

[2017-06-15 03:36] xster commented on #10228
Intriguing that for both our cases running different simctl commands, the error is the same:
FBSOpenApplicationServiceErrorDomain code=1

At least it's googleable.

[2017-06-15 03:39] xster commented on #10228
In the meantime, I think our suggested temporary workaround would be for users to click Simulator->Reset Content and Settings to get things working again until we figure out the root cause.

[2017-06-15 03:40] eseidelGoogle commented on #10228
I believe @collinjackson said he was in a mode for a while where he had to reset his simulator after every install.  Maybe he has a more reliable repro?

[2017-06-15 04:07] xster commented on #10228
Unfortunately couldn't get it to repro since.

Does seem like some race condition in the simulator.

Recommendation so far is:
**If you just want to fix it:**
Simulator->Reset Contents and Settings

**If you hit it often and want to help us debug:**
[code]

Then find out the ID of the simulator causing trouble with `xcrun simctl list`. Only one should be in the booted state.

Open ~/Library/Logs/C

[2017-06-15 04:26] collinjackson commented on #10228
I have a reliable repro of the issue I was seeing, though I think it's different from the issue initially described in this bug. When I have the app running, if I hot-restart (not hot-reload), the stop button no longer works for stopping the app. If I then press play, I get this error.

[code]

[2017-06-15 04:59] kamathln opened #10717 "Generates huge APKs"
## tl;dr
why package arm, x86 and x86_64 runtimes with each apk? Use this technique
https://developer.android.com/studio/build/configure-apk-splits.html

Brought down the apk size from 20m to 9m

The Long version:
## Steps to Reproduce

Build the hello world sample.

## Logs
[code]
Unzipping, I find this:
[code]

As you can see, the x86, x86_64 and arm runtimes are all bundled with each apk.

I tr

[2017-06-15 05:05] xster commented on #10228
Nice, will try too tomorrow.

Seems related but you got code 3 which from my reading before seems to be caused by the race between a sigkill for the app and the launch of the same app.

Whereas code 1 and 4 as far as I can tell involves simctl commands on apps that aren't necessarily installed yet.

[2017-06-15 05:18] kamathln commented on #10717
If it helps :
[code]

[2017-06-15 05:22] DanTup commented on #10615
I'll try ad to it manually with Observatory tonight. I posted in the vm-dev group about this too and was asked to try and get a stack trace using `gdb` so I'll give that a go too.

[2017-06-15 05:24] tvolkert commented on #10228
@xster I followed your debugging steps, and the output is https://gist.github.com/tvolkert/47234a660c060995a3803b532fab4ffe

[2017-06-15 05:50] mit-mit commented on #10700
Yes, we should fix this!. @Hixie why the gradle label?

[2017-06-15 05:53] mit-mit commented on #10708
Fixed in https://github.com/flutter/website/pull/602

[2017-06-15 05:53] #10708 closed

[2017-06-15 06:27] yjbanov commented on #6737
Yeah, I think the two can be deduped.

[2017-06-15 07:00] Hixie commented on #10700
Sorry, overzealous labeling there!

[2017-06-15 07:03] leafpetersen commented on #10660
The landscape is changing a lot with Dart 2.0, so I'm not sure things are still so definitive WRT overloading as that comment implies.  There are definitely concerns around overloading, but there is some demand for it as well.  Code migration is an interesting use case for us to keep in mind.

Coercions are harder - for me at least it's very clear that this can lead you down the path to insanity i

[2017-06-15 07:16] Hixie opened #10718 "Cocoon should test some emulator configurations"
We should at a minimum have some testing that would have caught yesterday's regression.

Something which fails with https://github.com/flutter/flutter/commit/1a1bbacf0d16c1780377ea77580ec3b05c387f88 and passes with https://github.com/flutter/flutter/commit/6f77b4a9a76e57c4e6d23e61ba59a0cdd80d22b7.

cc @yjbanov

[2017-06-15 07:17] Hixie commented on #10717
Is this for release builds or debug builds?

[2017-06-15 08:22] floitschG commented on #10677
The problem with a broadcast stream is, that it justs dumps events into the void when nobody is listening. For `stdin` that would probably be worse that not being able to have multiple listeners on stdin.

In general, we think that stdin is a resource that can't just be used independently by different parts of a program. That is, there should be some part of the program that is responsible for man

[2017-06-15 08:55] mit-mit commented on #10654
@jakobr-google can you take a quick look at this, please?

[2017-06-15 09:01] mit-mit commented on #10377
cc @szakarias

[2017-06-15 09:02] mit-mit commented on #10654
I speculate that the following is related:

[code]

Hit build button =>

[code]

[2017-06-15 09:13] szakarias commented on #10693
Yes, looks like a duplicate.

[2017-06-15 09:13] #10693 closed

[2017-06-15 09:30] jakobr-google commented on #10654
Always open `ios/Runner.xcworkspace`, otherwise Xcode won't be able to see the plugins (or other pods).

I haven't been able to reproduce the original issue yet. Archiving works fine for me on a new project with path_provider added.

[2017-06-15 09:39] mit-mit commented on #10654
Ops, sorry, user error 42 :-|. (I really look forward to https://github.com/flutter/flutter-intellij/issues/880 shipping).

@lasiboy the following steps now succeed for both @jakobr-google and myself:

[code]

Once Xcode opens, hit Product > Archive.

Do those not work for you? What are the exact steps that fail for you?

[2017-06-15 09:40] mit-mit commented on #10703
Yes, putting the detected Java in the beginning of path when we call out to sdkmanager sounds good!

[2017-06-15 09:44] lasiboy commented on #10654
I was doing the same mistake, opening Runner.xcodeproj and not Runner.xcworkspace...
Everything works opening the correct file.

Thanks a lot, you saved my week!

[2017-06-15 09:44] jakobr-google commented on #10654
I was able to reproduce the original issue, by adding `use_frameworks!` to `ios/Podfile`. If I then open `ios/Runner.xcodeproj` and try to archive, I get the include error (instead of the linker error we get without use_frameworks).

Archiving works fine if I open `ios/Runner.xcworkspace`.

[2017-06-15 09:44] #10654 closed

[2017-06-15 09:44] mit-mit commented on #10704
@danrubel is this something you can help with? We need this to get proper analysis of flutter packages & plugins on pub, which is needed to properly calculate package health.

[2017-06-15 09:45] mit-mit commented on #10654
Great to hear @lasiboy !

[2017-06-15 10:11] kevmoo commented on #10704
QQ after looking at the source, it seems this not anything special beyond
setting the packet directory. Right?

No special lint or anything. Am I missing something?

From mobile. Sorry for brevity and/or spelling.

On Jun 15, 2017 11:44 AM, "Michael Thomsen" <notifications@github.com>
wrote:

[2017-06-15 10:22] kamathln commented on #10717
I uncompressed app.apk and not the app-debug.apk . If that is what you mean. Or is there yet another release mechanism in flutter that I am not aware of?

[2017-06-15 10:37] kamathln commented on #10717
Ok, My bad I come from the land of kivy-python and assumed it would be same here.
I learnt that flutter build does things differently, and packages a relatively leaner ~7mb library.

*But*, I now notice that it now packs only the armeabi-v7a and none other. So my suggestion still holds.
using  https://developer.android.com/studio/build/configure-apk-splits.html , you can generate all different apk

[2017-06-15 11:26] Khalid-Nowaf opened #10719 "libtxt: Ellpsising code doesn't handle Arabic"
## Steps to Reproduce
create new flutter app `flutter create app`
change the title to Arabic text for example `تطبيق فلاتر`
run the app. try to compare the text `تطبيق فلاتر` with the AppBar title. You will see the missing character "one and half character cropped ! *RTL". Also some extra three dots `...`.
I tried couple languages including Hebrew with no issues. I'm not really sure is this relate

[2017-06-15 11:42] mit-mit commented on #9785
Yes, I think this is fixed. I tried with a fresh plugin and no warnings anymore. Closing.

[2017-06-15 11:42] #9785 closed

[2017-06-15 12:36] mit-mit commented on #2533
Fixed in https://github.com/flutter/plugins/pull/121

[2017-06-15 12:36] #2533 closed

[2017-06-15 12:43] mit-mit commented on #10427
Thanks for the feedback @branflake2267, I believe that has been addressed with the overview tables you helped us get in the main README.md.

[2017-06-15 13:02] devoncarew commented on #10677
This is an external process subscribed to stdin, or flutter_tools listening to stdin in more than one place?

We should likely be able to infer a non-interactive global flag from running in `flutter daemon` or `flutter run --machine`. Though, I'd want to look at places where we're asking for user input and see if those can't be eliminated (https://github.com/flutter/flutter/issues/10626).

[2017-06-15 13:06] mit-mit commented on #10684
Yes, if we could know when to restart even if reload was requested that would be great. And if not, if we could at least know that something is going to fail and throw an exception, can we change the error message to say something that a little more explicitly?

[2017-06-15 13:22] #10427 closed

[2017-06-15 13:28] #10158 closed

[2017-06-15 13:59] alardizabal commented on #10701
@tvolkert I just pulled the latest master and I'm still experiencing the same crash.

[2017-06-15 14:07] danrubel commented on #10704
I'm updating `flutter analyze` to use the analysis server in the same way and using the same code as `flutter analyze --watch`. While I'm there I need to make sure that all the current `flutter analyze` options are supported. I can add this to the list.

[2017-06-15 14:32] danrubel opened #10721 "cleanup "flutter analyze""
Large goal:
Update `flutter analyze` to use the analysis server in the same way and using the same code as `flutter analyze --watch`. Ensure that all the current `flutter analyze` options are still supported.

Related issues to be addressed as part of this cleanup:
- [ ] cleanup `flutter analyze` command line arguments - https://github.com/flutter/flutter/issues/7274
- [x] flutter analyze --watch

[2017-06-15 14:53] lukechurch commented on #10228
I'm running into this as well. Here are my ios logs:
https://gist.github.com/lukechurch/560847845d0b8520f69c253acbf5c3ad

[2017-06-15 14:58] nanowang opened #10722 "custom value for android:name in AndroidManifest causes crashing"
## Steps to Reproduce

1. flutter create some_app
2. change `<application android:name="io.flutter.app.FlutterApplication"` to `<application android:name="some.custom.value"` in AndroidManifest.xml
3. cd some_app && flutter run
4. wait for a modal saying `some_app stopped` or `some_app keeps stopping`

## Logs

[code]

The log stucks here.

## Flutter Doctor

[code]

I'm not that familiar with and

[2017-06-15 15:00] rxlabz opened #10723 ""invisible characters" added when switch to "Symbol Keyboard" in a TextFormField ( Android 4.4.4 )"
we have a very strange bug with a textFormField on two samsung devices ( samsung tab 9 SM T 560 => Android 4.4.4, samsung tab 3 SM T 113 => Android 4.4.4)  : when we use an "@" , the resulting string contains 2 spaces around the " @ ". It's not visible, but the login fails, and when we copy / paste in other app, it appears. We did some tests : if we paste the mail in the field : it works, if we ty

[2017-06-15 15:06] #10722 closed

[2017-06-15 15:24] sethladd commented on #10684
Great!

[2017-06-15 15:31] sethladd opened #10724 "Sensor plugin is missing from README of plugins"
Was checking out https://github.com/flutter/plugins/blob/master/README.md

[2017-06-15 15:31] sethladd commented on #10724
cc @szakarias

[2017-06-15 15:38] KevinTheGray commented on #10658
It's not blocking, we should be ok with the current functionality

[2017-06-15 15:41] sethladd commented on #10717
Would you mind opening a new issue for support apk splits?

[2017-06-15 15:45] mattsarett commented on #10617
Has anyone been able to reproduce this on Linux?  Or is this Mac only?

[2017-06-15 16:05] sethladd commented on #10098
Let's change our oss_project_template over to Chromium Authors.

[2017-06-15 16:05] sethladd commented on #10685
docs.flutter.io should now point to alpha

[2017-06-15 16:17] eseidelGoogle commented on #10617
@mattsarett my impression is it's Mac only.

[2017-06-15 16:22] mattsarett commented on #10617
Thanks!  On Linux I'm seeing that the query for GL sRGB support is failing.  So we are correctly falling back to GL non-color correct rendering (though it would be better to fall back to color correct rendering in software - this seems like a separate issue).  If I try to force GL sRGB correct rendering, I get the black screen.

I need to get an Android on Mac environment set up.  But my shot in t

[2017-06-15 16:59] sethladd opened #10726 "docs.flutter.io doesn't easily link back to flutter.io"
Oddly enough, the upper-left "Flutter" word isn't linked to flutter.io. This makes docs.flutter.io a bit of an island.

[2017-06-15 17:01] collinjackson commented on #10690
It sounds like the agreed on plan is to switch the google_sign_in plugin to doing manual connection management if the provided activity isn't a FlutterFragmentActivity. This will fix #10688 as well. I am waiting for @tvolkert to finish doing the unification of internal and external google_sign_in plugins and then I will handle this.

[2017-06-15 17:02] collinjackson commented on #10688
It sounds like the agreed on plan is to switch the google_sign_in plugin to doing manual connection management if the provided activity isn't a FlutterFragmentActivity. This will fix #10690 as well. I am waiting for @tvolkert to finish doing the unification of internal and external google_sign_in plugins and then I will handle this.

[2017-06-15 17:06] KevinTheGray commented on #9928
It's working a lot better for me, but if you have a large block of text, the indicator will still lag as you drag it around very rapidly.  It's an edge case for sure, since you need to actively be trying to cause it to happen.  Try this in the text fields demo, enter a ton of text in "Life Story", and just start dragging it all over the text.  After a bit, it starts to lag and needs to catch up.

[2017-06-15 17:23] lukef commented on #10710
Not sure if you want to piggy back on this issue but this issue is causing incorrect rendering of widgets in the Android emulators on macOS. I can open a new issue if you prefer?

[2017-06-15 17:28] mattsarett commented on #10710
This issue works for me.  As far as I know, we are now tracking three things:
(1) Black screen on Android emulator on Mac
(2) Frequent reboots on iPhone and iPod
(3) Colors possibly wrong on Android widget

[2017-06-15 17:30] lukef commented on #10710
Not sure if it is related but I have had some `SurfaceView` crashes on Android also. See: https://github.com/flutter/flutter/issues/10709.

[2017-06-15 17:38] kamathln commented on #10717
Sure

On Thu, Jun 15, 2017 at 9:12 PM, Seth Ladd <notifications@github.com> wrote:

--
Laxminarayan Kamath Ammembal
http://lankerisms.blogspot.com
(+91) 9945036093

[2017-06-15 17:42] kamathln opened #10728 "Support Android APK splits to target multiple abi"
Currenlt Flutter only packages the armeabi-v7a library in the release APK and none other. So my suggestion is to use the feature explained at

https://developer.android.com/studio/build/configure-apk-splits.html

.. so that flutter can generate different apks for different abis (x86, x86_64, etc).

For more details see #10717

[2017-06-15 17:42] goderbauer commented on #10697
We should also re-evaluate if we still need the xcconfig. Now that @xster added support for automatically selecting the correct certificates for signing it might no longer be needed...

[2017-06-15 17:44] kamathln commented on #10717
Opened #10728

[2017-06-15 17:46] goderbauer opened #10729 "Re-evaluate if benchmarks need to do a build before running"
Currently, some benchmarks (I saw it on the `flutter_gallery_ios__transition_perf`) are doing a `flutter build` before doing a `flutter drive`. It seems like the build step is redundant because `flutter drive` will trigger another build (and since we don't have incremental builds, that one take as long as the first one).

If we eliminate the first build, we would therefore also cut down the time i

[2017-06-15 17:51] Hixie opened #10730 "Text field on Android spews lots of messages to the console"
[code]

cc @jason-simmons

[2017-06-15 17:54] jason-simmons commented on #10730
This should be fixed now.  Are you using an engine with https://github.com/flutter/engine/commit/834fb9638e6087418ce9fb7a690c74f8cbe4c134?

[2017-06-15 17:55] Hixie commented on #10730
Oh cool, let me try again. I haven't pulled today.

[2017-06-15 18:10] Hixie commented on #10730
Yup, I still get it. Steps to reproduce: Gallery, Text Fields, put some text in the Life story text field that spans two lines, tap the Name field, long-press a word in the Life story field.

[2017-06-15 18:14] rachelward9 opened #10731 "Building Beautiful UIs Tutorial - Silly Link Display"
## Steps to Reproduce

On [step six](https://codelabs.developers.google.com/codelabs/flutter/index.html#5) under _Place the message list_, there is a chopped up link on, "Naming the argument..."
<img width="551" alt="capture" src="https://user-images.githubusercontent.com/4926352/27195476-260ab37c-51c4-11e7-91d8-6c030b86be46.PNG">

[2017-06-15 18:16] mattsarett commented on #10710
I'm not sure that I have enough information to determine if the SurfaceView crashes are related.  I would be interested to see what you mean regarding the wrong colors on Android widgets.

[2017-06-15 18:33] pcomans commented on #10716
@eseidelGoogle That would be fantastic!
Whats the best way to reach out? We'd love to share what we are building with Flutter.

[2017-06-15 18:41] kevmoo commented on #10704
@mit-mit @danrubel – thoughts here?

[2017-06-15 18:46] eseidelGoogle commented on #10228
@lukef can you confirm this is the bug you're hitting (or share your sanitized logs either via this bug or sent to @xster or I directly)?

[2017-06-15 18:50] xster commented on #10228
Thanks for the info all.

@collinjackson, I can deterministically repro your issue as described. Ya, I think it's a slightly different (maybe less serious) issue. Is it also only failing once for you? i.e. subsequent runs are ok? Maybe let's file a different bug for that specific hot restart issue

@lukechurch did you run `flutter run` instead of a simctl command?

[2017-06-15 18:56] eseidelGoogle opened #10734 "If you reset iOS simulator with IntelliJ open, it forgets the simulator"
The only recourse appears to be to restart IntelliJ.

@lukef just ran into this while showing me another issue.

This is not blocking Posse, but was annoying.

FYI @devoncarew

[2017-06-15 18:56] eseidelGoogle commented on #10734
Maybe we need some way to force the `flutter daemon` to rescan?

[2017-06-15 19:01] eseidelGoogle opened #10735 "when the app hasn't fully started yet the play button should be dimmed"
@lukef was showing me him hitting https://github.com/flutter/flutter/issues/10228 and not being able to run on an iOS simulator.

simctl was constantly retrying, he would hit the "play" button in IntelliJ (and you would expect that to do something, e.g. a hot restart) but it didn't, since the app hadn't actually fully started yet.  It seems in this state either the Play button should be dimmed or

[2017-06-15 19:14] mattsarett commented on #10617
Alright I've determined the cause of this.  The Android emulators GL on Mac only supports 4444 pixel config (not even regular 8888!).  My CL (somewhat intentionally) dropped 4444 as a fallback rendering config.

When I reland, I'll make sure not to break this again.

Given the GL limitations of Android emulators on both Mac and Linux, I think we ought to consider falling back to software in these

[2017-06-15 19:17] mattsarett commented on #10710
I've determined the cause of (1).  I'm going to upload another PR with that fix.

Still working on (2) and potentially (3) - @lukef can you provide more detail on what you are seeing?

[2017-06-15 19:20] xster commented on #10228
Ok, found another way to reproduce this (code 1/4).

In the Simulator, go to Hardware->Device->Manage Devices, make as many simulators as possible, then use the trick in https://stackoverflow.com/questions/26446346/xcode6-run-two-instances-of-the-simulator to open as many as possible. Then `flutter run -d all` which increases the chance of hitting one.

[2017-06-15 19:31] goderbauer opened #10737 "Updating Dart while IntelliJ is open causes error"
I `git pull upstream master` to the latest version of Flutter and then executed `flutter doctor`. This triggered an update of the Dart SDK, which failed with the error quoted below. Everything worked fine after I closed IntelliJ (which seemed to be using the old Dart SDK that Flutter tried to replace with a new version).

This is happening on a Mac. I remember that we added special logic to handle

[2017-06-15 19:32] branflake2267 commented on #10617
Are the windows emulators faster?

[2017-06-15 19:38] xster opened #10738 "Remove all usages of 'booted' and refer to the device ID specifically in simulators.dart"
Since it's possible to operate on multiple simulators simultaneously with -d all, 'booted' just arbitrarily picks a device according to the simctl docs.

[2017-06-15 19:39] eseidelGoogle commented on #10617
@mattsarett Would the only-supports 4444 also explain bugs like https://github.com/flutter/flutter/issues/9965 ?

[2017-06-15 19:39] eseidelGoogle commented on #9965
@mattsarett mentioned in https://github.com/flutter/flutter/issues/10617#issuecomment-308839796 that Android emulators on Mac only support a 4444 pixel configuration.  Could that also be causing this issue?

[2017-06-15 19:39] rachelward9 opened #10739 "Building Beautiful UIs with Flutter - `@override` placement error"
## Steps to Reproduce

Follow the tutorial through step 6, and see that `@override` is on `Widget build(BuildContext context)`.

<img width="966" alt="step6" src="https://user-images.githubusercontent.com/4926352/27198584-07cbe10e-51d0-11e7-9e6b-42f883b3a221.PNG">

Proceed to step 7, and see that the `@override` has been moved from there to above the class `ChatMessage`.

<img width="790" alt="ste

[2017-06-15 19:39] yjbanov opened #10740 "Flutter crash reporter crashes because `Analytics.clientId` is null"
In certain circumstances `Analytics.clientId` is `null` when a crash happens, which causes the crash reporter itself to crash.

[2017-06-15 19:40] eseidelGoogle commented on #9965
If we decide this is an emulator-caused issue, it would be good for us to add some logging inside our engine to at least print warnings when we're running on bad GPU/emulator configurations, so users aren't surprised when things render poorly.

[2017-06-15 19:43] #10740 closed

[2017-06-15 19:44] lukechurch commented on #10228
@xster I started by trying to do a flutter run. After that didn't work, I tried following your instructions above to run a simctl command. You may have got both in the logs...

[2017-06-15 19:54] mattsarett commented on #9965
This looks like a classic 4444 bug.  Dithering might help some, but not using 4444 would help the most :).

And yes, I think it would be extremely useful to log on start-up things like:
***GPU or software backend
***GL or Vulkan
***sRGB correct or not

[2017-06-15 19:55] mattsarett commented on #10617
Yes, absolutely.

[2017-06-15 20:17] jason-simmons commented on #10701
Took a look at the tombstones.  It looks like this is an unaligned memory access that occurs while trying to deserialize a 64-bit float in a message send by a plugin.

The plugin message seen in the crash is a map containing two fields.  If you change the field values from doubles to strings on the Java side and then convert the data back into floats on the Dart side, then does the crash still hap

[2017-06-15 20:27] yjbanov opened #10743 "MaterialButton throws unclear error when elevation is set"
## Steps to Reproduce

[code]

Error message:

[code]

The error happens in the guts of `Material` and does not correlate with the API for `MaterialButton`, which is what makes it confusing.

Workaround: use `RaisedButton` or `FlatButton` rather than `MaterialButton` directly if they work for you, or see their implementations if you are implementing a custom button based on `MaterialButton`.

## L

[2017-06-15 20:28] eseidelGoogle commented on #9965
@mattsarett would you be willing to file a bug asking for the logs you'd like to see added to flutter/engine (and then possibly add them)? :)  If you're not able to add them, we can find someone to.  But as we get more GPU-specific bugs filed it seems like we need a more robust strategy for collecting better gpu debugging information (via flutter doctor, flutter devices, flutter run logs or whatev

[2017-06-15 20:28] mattsarett commented on #10710
`flutter drive --profile -t test_driver/transitions_perf.dart -d X`

The above command seems to be failing when run with a local engine.  Any ideas?  Does this work for anyone else?

We're feeling a little blocked by this - I think we're definitely going to need to use a local engine to dig into what is going wrong with (2).

[2017-06-15 20:32] xster commented on #10228
There were some threads online about it being related to apps built in the wrong cpu architecture and/or iOS phone/simulator sdk.

Though I have suspicions that it's not quite that in this case.

Observations:

- The issue can happen when there are no traces of any flutter apps in ~/Library/Developer/CoreSimulator/Devices/[the device with the problem]/data/Containers/Bundle/Application
- CoreSimul

[2017-06-15 20:37] eseidelGoogle commented on #10710
The bugs associated with @mattsarett's list:
1. black screens: https://github.com/flutter/flutter/issues/10617
2. device-lab reboots: I'm not sure if this ever got a bug @yjbanov?
3. widget colors wrong -- this doesn't have a bug yet, @Hixie and I are tracking via email.  I suspect it's an incarnation of https://github.com/flutter/flutter/issues/10655 except that @lukef's widgets were written whil

[2017-06-15 20:37] rmacnak-google opened #10744 "Debug and profile engines should be built with frame pointers and not stripped of global symbols"
Profile samples in C code are very poor due to the lack of frame pointers and global symbols.

[2017-06-15 20:37] eseidelGoogle commented on #10739
@LarkAscending or possibly @collinjackson can fix.

[2017-06-15 20:39] eseidelGoogle commented on #10737
See also https://github.com/flutter/flutter/issues/9958 and https://github.com/flutter/flutter/issues/9750

[2017-06-15 20:39] eseidelGoogle commented on #10737
@lukef has also hit this.  We should dupe these down to one bug and add customer: posse.  @goderbauer can you do that?

[2017-06-15 20:42] eseidelGoogle commented on #10731
That's amazing. :D  I didn't even know CSS could do that.

[2017-06-15 20:43] mattsarett opened #10745 "Add more platform specific logging"
Flutter has a wide variety of backends for different platforms, simulators, and emulators.  And in many of the GPU backends, there are variety of fallback paths, ex: first try sRGB 8888, then 8888, then 4444, etc.

It would be really helpful for debugging and general issue diagnosis to log what backend Flutter is running on, on start-up.

Let's add those logs.

@eseidelGoogle

[2017-06-15 20:44] mattsarett commented on #9965
Good idea.  I'm happy to.
https://github.com/flutter/flutter/issues/10745

[2017-06-15 20:48] sethladd commented on #10716
@pcomans we'd love to see what you're building :) you can email me at `sethladd@google.com`. thanks!

[2017-06-15 20:49] DanTup commented on #10615
Attached is the stack traces from the stocks app when this happens (as well as the observatory log). I don't know if the stack traces are for the correct process (but it's the only one that looked like the apps process in the emulator).

There's also a discussion about this in the vm-dev group: https://groups.google.com/a/dartlang.org/forum/?fromgroups#!topic/vm-dev/Hrwa_flhsCA

[observatory.txt](

[2017-06-15 20:54] szakarias commented on #10724
Thanks, Seth.

[2017-06-15 21:00] goderbauer commented on #10737
Closed as dup of #9750.

[2017-06-15 21:00] #10737 closed

[2017-06-15 21:00] goderbauer commented on #9958
Closed as dup of #9958.

[2017-06-15 21:01] tvolkert opened #10746 "Dump debugging info into Android bug-reports"
[https://developer.android.com/reference/android/app/Activity.html#dump(java.lang.String,%20java.io.FileDescriptor,%20java.io.PrintWriter,%20java.lang.String%5B%5D)](https://developer.android.com/reference/android/app/Activity.html#dump(java.lang.String,%20java.io.FileDescriptor,%20java.io.PrintWriter,%20java.lang.String%5B%5D))

This method gets automatically called by the Android framework for a

[2017-06-15 21:02] danrubel commented on #10704
Not sure I understand your QQ, but ....
`flutter analyze` will be using analysis server rather than `dartanalyzer` to perform analysis, so unfortunately supporting a machine format will not be as easy as just adding a flutter analyze flag and forwarding that to the analysis engine.

[2017-06-15 21:02] eseidelGoogle commented on #10716
@pcomans @sethladd above is the right person to start with. :) Thanks!

[2017-06-15 21:03] Hixie commented on #2531
https://fuchsia-review.googlesource.com/c/34829/

[2017-06-15 21:03] goderbauer commented on #9750
I ran into the same thing today. Closing IntelliJ helped and the problem was gone. My guess is that IntelliJ still uses the Dart SDK, which flutter is trying to replacing with a newer version. For Windows, I added some special logic for this case a while back (see #8385). Maybe Mac needs a similar treatment.

[2017-06-15 21:03] tvolkert commented on #10745
Whatever we add to the logging could also be added to our bug reports -- https://github.com/flutter/flutter/issues/10746

[2017-06-15 21:04] Hixie commented on #10103
I'm closing this in favour of #3861, which I'm about to fix.

[2017-06-15 21:04] #10103 closed

[2017-06-15 21:05] xster commented on #10228
Another test: flutter run -d all until one of the simulator fails, then take the exact build artifacts of the app at that point, then simctl install and launch it on other simulator instances, and everything works.

Still probably something stateful with the simulator rather than our app.

[2017-06-15 21:06] eseidelGoogle commented on #9965
@lukef do you remember a time when this worked?  It's currently tagged regression.

@mattsarett to confirm: this is expected behavior if we can only get 4444?  Presumably there is some way we can get Android Emulators into a 8888 mode. :)

[2017-06-15 21:08] mattsarett commented on #9965
Confirmed.  And yes, I agree.

[2017-06-15 21:11] goderbauer commented on #10710
@mattsarett Running with a local engine on iOS worked fine for me yesterday. I was using the following command:
[code]

[2017-06-15 21:12] goderbauer commented on #10710
@eseidel

We never filed a bug for that, but we captured [crash logs](https://docs.google.com/document/d/12WpzYF0nUT8VfA7JDx9OwZa4H3sd9DKacm04-dBAppw/edit).

[2017-06-15 21:14] jason-simmons commented on #10630
We could also change flutter_tools to look for the APK in either the old (outputs/apk/app-$variant.apk) and new (outputs/apk/$variant/app-$variant.apk) locations

[2017-06-15 21:15] yjbanov commented on #10710
@eseidel @goderbauer

It's this bug :)

[2017-06-15 21:19] brianosman commented on #10710
Okay, I was able to flutter drive with local-engine by removing --profile. I think the mis-match between --profile and my build type (ios_debug_unopt) is perhaps to blame?

[2017-06-15 21:29] mattsarett commented on #10710
Great thanks, that fixes me as well.  FWIW, I've not been able to reproduce in about 6 runs on the iPad Pro, which makes me think this might be specific to older devices.

[2017-06-15 21:36] goderbauer commented on #10710
@mattsarett That is my suspicion as well. We saw it on the (older) devices Yegor mentioned in the first post, but it didn't reproduce on an iPhone 6S.

[2017-06-15 21:37] eseidelGoogle commented on #9592
I believe @yjbanov is actively working on this.

[2017-06-15 21:40] jwren opened #10748 "Keep hitting an exception in rendering engine (I think)"
I hit it first after making minor changes to the flutter code lab, and am hitting it now, while trying to put together a simpler flutter app.

Hot reload is not working, cold launches sometimes work.

Flutter run from IJ.

Launching lib/main.dart on Nexus 6P in debug mode...
Built build/app/outputs/apk/app-debug.apk (21.7MB).
W/IInputConnectionWrapper(21208): reportFullscreenMode on inexistent Inp

[2017-06-15 21:48] lukef opened #10749 "Firebase plugins should be updated to Play Services 11.0.x"
Version 11 of play services introduce new features (generally) and the Firebase plugins should be updated so apps can take advantage.

[2017-06-15 21:49] eseidelGoogle commented on #10749
Per or conversation earlier in the week, @collinjackson can you take this on?  @lukef is making manual modifications for now.

[2017-06-15 21:51] eseidelGoogle commented on #10748
Can you add the output of `flutter doctor` to the bug?

[2017-06-15 21:55] eseidelGoogle commented on #10745
This should be a relatively easy fix to the c++ code, if we know where it is.  @chinmaygarde would know the links to the source or @GaryQian might.

[2017-06-15 22:01] jwren commented on #10748
~/src/github/flutter/bin/flutter doctor
[✓] Flutter (on Linux, locale en_US.UTF-8, channel master)
    • Flutter at /usr/local/google/home/jwren/src/github/flutter
    • Framework revision 747e25e891 (5 hours ago), 2017-06-15 10:29:42 -0700
    • Engine revision 18fdfb86bb
    • Tools Dart version 1.24.0-dev.6.7

[✓] Android toolchain - develop for Android devices (Android SDK 25.0.3)
    • Androi

[2017-06-15 22:03] jwren commented on #10748
Additional (longer) stack trace showing issue:

Launching lib/main.dart on Nexus 6P in debug mode...
Built build/app/outputs/apk/app-debug.apk (21.7MB).
W/IInputConnectionWrapper(22016): finishComposingText on inactive InputConnection
E/MethodChannel#flutter/textinput(22016): Failed to handle method call
E/MethodChannel#flutter/textinput(22016): java.lang.IndexOutOfBoundsException: setSpan (-1 ...

[2017-06-15 22:09] sethladd commented on #614
Should we de-dupe with https://github.com/flutter/flutter/issues/9592 ?

[2017-06-15 22:19] Hixie commented on #10745
Please only actually log the information on request (e.g. in response to a crash or exposed through an API that is used by the debugDump* methods). The log should be completely silent in normal operation.

[2017-06-15 22:20] yjbanov commented on #614
It's probably going to be hard to cover a complete crash reporting solution with one issue. That said, breaking down the tasks into issues requires some system, so I'm OK with deduping, and if we care to capture sufficient aspects of crash reporting, we could start a GitHub project and log multiple issues there.

[2017-06-15 22:20] sethladd opened #10751 "Requesting a custom dimension for "run target" so we know where people are developing (emulator, simulator, device)"
I can't seem to identify the "run target" for flutter tool. We'd like to know "how many people are running on emulators, simulators, or hardware" ?

I can see the "screens" for Run and HotRun, but not _where_ the app is run.

[2017-06-15 22:21] Hixie commented on #10710
@brianosman The build you specify has to match the --profile/--release/--debug mode you pick and the target host's architecture.

[2017-06-15 22:23] pcomans opened #10752 "image_picker crashes on iPad"
## Steps to Reproduce
Opening an image picker reproducibly fails on iPad.
(tested on iOS 10.3.1 and 11.0 15A5278f)

The code is very simple:
[code]
Tapping this button works as intended on Android and iPhone. On iPad, the error posted below is thrown.

The version of image picker is: image_picker: ^0.0.2

## Logs
*** Terminating app due to uncaught exception 'NSGenericException', reason: 'Your app

[2017-06-15 22:51] eseidelGoogle commented on #10751
@xster and @devoncarew have both done some analytics work.  This may be straightforward to wire up, I don't know.

It's also possible we should just record the CPU type, GPU and device model number.

[2017-06-15 22:53] xster commented on #10751
I won't paste the link here but it's in analytics -> behavior -> app speed -> flutter -> run.

A bit unfortunate that the data for screens, events and timings are stored in different 'tables' instead of being just different metrics for the same dimensions.

[2017-06-15 23:06] lukef commented on #9965
I cannot remember a time when this has worked :) It's not a regression as far as we are concerned, it was just never "fixed". Not sure if it was fixed and regressed, sorry.

[2017-06-15 23:12] B3rn475 commented on #10615
There is something strange with your logs.

You are setting two breakpoints:
1. at line 66 of main.dart
2. at line 66 of package:stocks/main.dart (which doesn't exists)

Line 66 is the __theme__ getter and not the beginning of the __main__ function

The observatory log that you generated is not the same of the one generated by the observatory connected to our test phone.

How did you generated the

[2017-06-15 23:32] eseidelGoogle commented on #10752
@collinjackson would know.

[2017-06-15 23:41] xster opened #10754 "Re-enable unawaited_futures for flutter_tools"
partially #5793

So we avoid issues like #10228 in the future resulting from unintentional races.

Attempt to resolve as many of the lint warnings as possible before enabling.

[2017-06-15 23:46] eseidelGoogle commented on #10630
@lukef my understanding is your team has moved back to gradle plugin 2.3 and this is no longer an immediate blocker?  Is that correct?

[2017-06-15 23:46] eseidelGoogle commented on #10629
@lukef my understanding is your team has moved back to gradle plugin 2.3 and this is no longer an immediate blocker?  Is that correct?

[2017-06-15 23:47] eseidelGoogle commented on #10531
Given this has a workaround, I suspect this isn't actually a blocker?  But definitely a bug we should still fix?

[2017-06-15 23:48] eseidelGoogle commented on #9607
@xster is this related to the `flutter run` issue you were tackling today?

[2017-06-15 23:59] lukef commented on #10629
Correct. We still would like it to be fixed but we can move forward without it.

[2017-06-16 00:01] xster commented on #10228
We found the root cause. It wasn't app but caused by a race due to simultaneous invocations of simctl commands. It occasionally puts the simulator into a broken state until rebooted (though a subsequent flutter run can still trigger the race and break the simulator).

Fix is on the way.

[2017-06-16 00:10] alan-knight commented on #10650
I have published a 0.15.1 Intl which uses the platform.locale API.

[2017-06-16 00:14] gspencergoog commented on #10315
This is a duplicate of https://github.com/flutter/flutter/issues/6802

[2017-06-16 00:15] xster opened #10756 "Unit test flutter build/run"
There are no unit tests of Device subclasses' startApp flow or builds likely because components aren't decoupled enough for easy mocking.

Refactor and add tests.

[2017-06-16 00:31] jason-simmons commented on #10748
The second stack trace is a duplicate of https://github.com/flutter/flutter/issues/10681

The first one is a problem in the new version of the Android text input plugin.  I think we need to call Selection.removeSelection() instead of setSelection(-1)

[2017-06-16 00:33] jason-simmons commented on #10681
@Hixie This is due to the code that scrolls the text field to make the cursor visible.

Is it safe to call ScrollController.animateTo() instead a paint() function?  Or does the animateTo need to be deferred?
Apparently the animateTo may trigger a _didChangeLayout listener that calls markNeedsPaint.

[2017-06-16 00:36] xster commented on #10206
Don't fix. It's not too harmful I think and all this could go away with xcode 9 as well.

[2017-06-16 00:36] #10206 closed

[2017-06-16 00:44] xster commented on #9607
Unlikely. The processes for physical devices and simulators are quite separate. Don't know if it's race related though that could be alleviated with #10754.

[2017-06-16 01:01] lukef commented on #10630
Correct

[2017-06-16 01:23] #10697 closed

[2017-06-16 01:23] #10729 closed

[2017-06-16 01:25] #10738 closed

[2017-06-16 01:31] #10228 closed

[2017-06-16 01:31] #9904 closed

[2017-06-16 01:52] yjbanov opened #10761 "Unclear how to capture unhandled exceptions in callbacks"
Consider an `onPressed` callback that invokes an asynchronous function, such as `MethodChannel.invokeMethod` (or pretty much any plugin):

[code]

If `invokeMethod` throws an error, it will not be forwarded to `FlutterError.onError`. But also it will not be forwarded to the `Zone` where `runApp` was run, because the framework does not preserve zones, always kicking you out to the root zone.

Examp

[2017-06-16 01:56] cbracken opened #10762 "Verify wifi debugging works with Xcode 9"
Once #10602 is fixed, ensure Flutter works with wifi debugging.

[2017-06-16 01:59] ZhangBanger commented on #3438
I'm still having issues using the hardware keyboard in my emulator. Is this known / expected behavior?

[2017-06-16 02:20] tvolkert opened #10764 "Build fault tolerance into jobs that use `pub`"
`pub` times out just enough to produce flakiness in our various automated tests:

- [ ] Travis
- [ ] Chromium bots
- [ ] Device lab

We should build in basic fault tolerance, where we retry N times with an exponential backoff before giving up.

[2017-06-16 02:28] skybrian opened #10765 ""flutter run" prints warning multiple times after switching Flutter SDK's"
When running a flutter app within IntelliJ just after switching Flutter SDK's, a rather verbose warning is printed twice. Also, it's often printed again the next time you stop and restart the Flutter app. (It eventually goes away, but I haven't seen a pattern to when that happens.)

Here's the console output:

[code]

This is using:

[code]

[2017-06-16 02:44] sethladd opened #10766 "Typo in InkResponse API docs"
From https://docs.flutter.io/flutter/material/InkResponse-class.html

"The InkResponse widbget must have a Material widget as an ancestor."

[2017-06-16 02:54] mravn-google commented on #6574
(Just checking if I broke something with platform channel changes) My Android device responds correctly to `SystemSound.play(SystemSoundType.click)` and `HapticFeedback.vibrate()`, including ignoring them, if I change device settings. So the basic wiring seems to be present and working.

[2017-06-16 02:59] sethladd opened #10767 "Ink Spashes on emulator are very slow, miss most frames"
I have a simple app, just playing around with Ink Splashes. I'm using the emulator on Windows. However, the splashes are so slow, it's almost hard to tell there is a splash. I see maybe 2-3 frames?

Here's the code:

[code]

Using this version:

[code]

Is there a special flag I can set to make emulator + flutter run in "accelerated graphics" mode?

Thanks!

[2017-06-16 03:13] sethladd commented on #10767
I made a video: https://www.youtube.com/watch?v=ZmAElHGHUZY

[2017-06-16 03:30] eseidelGoogle commented on #9928
@lukef / @KevinTheGray would you consider the remaining case a blocker still?  Happy to investigate more, just seeking to better understand the prioritization.

[2017-06-16 03:34] eseidelGoogle commented on #10767
The video has some strange flashing pause button.  Have you tried the performanceOverlay?
https://docs.flutter.io/flutter/widgets/PerformanceOverlay-class.html

[2017-06-16 03:44] lukef commented on #6574
Not sure if you wanted further clarification. If not, ignore me :) The primary issue relates to the fact that Flutter doesn't respond natively with click sounds for things that Android does (e.g.: Button clicks, tab selection, etc). I feel like those should be out of the box.

[2017-06-16 03:45] eseidelGoogle commented on #3438
Probably https://github.com/flutter/flutter/issues/9347?

[2017-06-16 04:13] eseidelGoogle commented on #9965
@mattsarett @chinmaygarde are there commands we should ask Luke to run against his emulator to understand if the emulator itself is limited to 16-bit colors, or if it's just that Flutter is for some reason only able to get 4444 surfaces?

[2017-06-16 04:16] eseidelGoogle commented on #6574
This is basically like our accessibility work.  We just have to turn on all the haptic feedback sounds, navigate around Java android apps for a while, navigate around a Flutter app, notice the differences and add the missing calls.

[2017-06-16 04:31] eseidelGoogle commented on #10443
@apwilson was asking about this bug today.  I assume @chinmaygarde is still on this?

[2017-06-16 04:31] eseidelGoogle commented on #10061
@apwilson was asking about this today.  Is @abarth still the right assignee?

[2017-06-16 04:32] eseidelGoogle commented on #7402
@apwilson was asking about this today.  Is this still blocked on @j9brown?

[2017-06-16 04:42] cbracken commented on #9958
This is #9958.

[2017-06-16 04:46] goderbauer commented on #9958
I mean: dup of https://github.com/flutter/flutter/issues/9750 :)

[2017-06-16 04:46] #9958 closed

[2017-06-16 05:34] DanTup commented on #10615
This is a workaround for an issue https://github.com/Dart-Code/Dart-Code/issues/134; only one of them will resolve but if I don't do this then the breakpoint may not be hit depending on how the user imports the file. If there's a better way to do this, I'd love to know; though I removed it while testing this and it didn't seem to make any difference (it's also been there for a long time in the Dar

[2017-06-16 06:44] Hixie commented on #10761
Yeah, FlutterError.onError is only about reporting flutter framework errors (errors that are caught by the framework typically during a frame).

To catch the error above you can wrap it in a try-catch block? ;-)

Filed https://github.com/dart-lang/sdk/issues/29907.

[2017-06-16 06:51] Hixie commented on #10681
I guess animateTo should be deferred as well, yeah. I hadn't thought of this case.

The more we tweak this code the more I think we should probably end up biting the bullet and just doing it such that we set the offset correctly immediately rather than waiting until paint time.

[2017-06-16 06:55] rxlabz commented on #10723
I have the confirmation that this problem appears only with my last update of the app, not in the initial release in April (same devices were used).

[2017-06-16 06:58] #10724 closed

[2017-06-16 06:58] Hixie commented on #10731
That's not CSS, every other letter is hyperlinked somehow.

[2017-06-16 06:59] Hixie commented on #10744
We have debug engine builds for this purpose, no?

[2017-06-16 07:01] Hixie commented on #10743
You're not expected to use a MaterialButton directly usually.
What's going on here is that you neither set a background color nor told the widget to be transparent.
We should make that assert have a message explaining that, though.

[2017-06-16 07:05] Hixie commented on #10719
This is probably specifically related to Arabic and text ellipsising.
cc @jason-simmons who was last in this code.
cc @GaryQian who may be solving this with libtxt.

[2017-06-16 07:23] Khalid-Nowaf commented on #10719
BTW, I try to use Arabia text in many use cases, and all works with no issue. Except this one in the AppBar.

[2017-06-16 07:30] Hixie commented on #10719
Have you tried it elsewhere with TextOverflow.ellipsis?

[2017-06-16 07:35] Khalid-Nowaf commented on #10719
No I have not. I will try it now.

[2017-06-16 07:41] mit-mit commented on #10735
I think the button should be dimmed; that would be consistent with Android Studio, which dims until the app is actually running and then transitions to the 'play with green dot' state.

[2017-06-16 07:42] Khalid-Nowaf commented on #10719
I have test
[code]
and I still get the same problem.

[2017-06-16 07:44] mit-mit commented on #10734
I can't repro this. I tried:

1. Start IntelliJ
1. Create a Flutter project
1. Start the iOS Simulator
1. Confirm the IJ device picker shows the simulated device
1. In the iOS Simulator, invoke Simulator > Reset Settings and Content
1. Wait for Simulator to boot
1. Confirm the IJ device picker shows the simulated device

[2017-06-16 07:46] mit-mit commented on #10690
Sounds good

[2017-06-16 12:17] eernstg commented on #10660
The concerns about static overloading are mainly the added semantic complexity: Developers need to think about static resolution (based on some notion of "best match") as well as object-oriented dispatch (and the two are seriously different as you go into the details), and there is no end to the confusion that this has created for developers (say, in Java or C++). On top of that, the notion of "be

[2017-06-16 13:49] DanTup commented on #10615
Ok, I just repro'd in observatory. I ran `flutter run --start-paused --observatory-port=0`, opened obseravtory and set a breakpoint on `main.dart:66` then did `continue` and I got this:

![Crash](https://user-images.githubusercontent.com/1078012/27229260-d816ddfa-52a2-11e7-938c-d99641754cff.png)

I don't know a lot about this, but looking at the stack trace that error doesn't look like an error in

[2017-06-16 13:53] DanTup commented on #10615
Er actually, this looks like an error in the web interface and I suspect a red herring?!

[2017-06-16 13:56] collinjackson commented on #10752
I think @goderbauer wrote the UI that is throwing this exception, do you want this one?

If not I'm happy to take it -- looks like a straightforward fix that can be tested in the simulator, no physical iPad is required.

[2017-06-16 14:09] Skylled commented on #9955
I'm in favor of this, because I like to be able to work offline (riding passenger in a vehicle), and I can't do that and have the Flutter docs available to reference.

[2017-06-16 14:30] #10594 closed

[2017-06-16 14:37] collinjackson commented on #10594
This is fixed in [firebase_auth](https://pub.dartlang.org/packages/firebase_auth) 0.0.4, please give this a try and let me know if it works for you.

[2017-06-16 14:49] eseidelGoogle commented on #9928
@brianosman did you mean to close this?  Were there additional changes just now?

[2017-06-16 14:51] eseidelGoogle commented on #10734
Maybe @lukef reset simulator hadn't booted yet.  I was watching him over VC.

[2017-06-16 14:54] eseidelGoogle commented on #10723
@jason-simmons recently re-wrote our Android IME integration, and it's possible this occurred from that?

[2017-06-16 14:56] franklinharper opened #10768 "Android production crash in libflutter.so"
## Steps to Reproduce

I tried, but failed to repro. on the emulator running Android x_86. I also tried using an ARM system image, but that wouldn't even boot the OS!

This is a crash in production. So far the crash has occurred 52 times on 1 type of device: Nexus 5X (bullhead) running Android 6.0. As of June 13th the app is installed on ~6K devices. The Play store doesn't tell me how many of thos

[2017-06-16 15:38] tlink opened #10769 "cannot access current Activity from inside the plugin's MethodCallHandler"
I'm running Intellij 2017.1.4 w/ flutter  1.24.0-dev.6.7.

Trying to create a plugin and I'm getting a 'cannot find symbol' when attempting to access the current activity from inside the plugin's MethodCallHandler. Screenshot below:

http://imgur.com/a/vJNSw

#flutter doctor output
mac$ flutter doctor
[✓] Flutter (on Mac OS X 10.12.3 16D30, locale en-US, channel alpha)
    • Flutter at /Users/xxx/

[2017-06-16 15:59] sethladd commented on #10767
Sorry, what do you mean "strange flashing pause button" ?

Related question: what kind of performance should I expect when using the emulator?

[2017-06-16 16:13] mit-mit opened #10770 "Better handle case where a developer opens `Runner.xcodeproj`"
If a developer opens `Runner.xcodeproj` rather than `Runner.xcworkspace` things generally work OK (for example, you can Run with no problems) *until* they start to use plugins. Then they get errors such as:
<img width="401" alt="screen shot 2017-06-16 at 18 12 51" src="https://user-images.githubusercontent.com/13644170/27235016-7554264c-52bf-11e7-9817-2b488831a0db.png">

[2017-06-16 16:15] mit-mit commented on #10770
cc @cbracken @xster @chinmaygarde any ideas here? For example could we:

  * Rename `Runner.xcworkspace` to something that sounds like you should use it, like `<project_name>.xcworkspace`?
  * Rename `Runner.xcodeproj` to something more obscure like `submodule.xcodeproj`?
  * Somehow detect this and print a better error?

[2017-06-16 16:16] eseidelGoogle opened #10771 "C++ crash when java throws exception in plugin callback"
@lukef just ran into a crash.  I've seen it before.  I'm pretty sure this happens when dart calls into java and java throws an uncaught exception.

The bug here is that we crash in an obtuse manner.  Fine to crash, just need to explain why.

[code]

[2017-06-16 16:16] mit-mit commented on #10771
cc @mravn-google

[2017-06-16 16:20] sethladd commented on #9955
In the meantime, you can generate the docs:

[code]

Do that with a network connection first, it may want to download some dependencies.

Let us know if that works!

[2017-06-16 16:20] eseidelGoogle commented on #10767
The pause button was just my youtube player freaking out.  It was on my side, not your video, sorry.

[2017-06-16 16:22] eseidelGoogle commented on #10767
I would expect something close to 30fps on the iOS Simulator or x86 Android emulator (which always run --debug builds and are thus slower).  We aren't optimizing for simulators so I would not expect perfect performance, but it should be useable for doing work in.

[2017-06-16 16:23] eseidelGoogle commented on #10768
With https://github.com/flutter/engine/wiki/Symbolicating-production-crash-stacks we should be able to decode the crash stack and figure out where it's crashing.  @jason-simmons is particularly good at this kind of thing, just probably has some other bugs further up in his queue.

[2017-06-16 16:24] eseidelGoogle commented on #10768
@a-siva crashes like this may also be an area your team might be interested in exploring.

[2017-06-16 16:26] smrtsmrf opened #10772 "flutter run does not always pick up changes to plugin dependencies"
## Steps to Reproduce

Working with the [Firebase for Flutter code lab step 10](https://codelabs.developers.google.com/codelabs/flutter-firebase/#9) to get images working in the chat app. Android works fine, but iOS throws this error:

## Logs

<img width="1512" alt="screen shot 2017-06-16 at 9 39 46 am" src="https://user-images.githubusercontent.com/17756776/27234812-9307ff18-527b-11e7-9082-46911

[2017-06-16 16:27] sethladd commented on #10767
OK, good to know. Then, I can say that emulator + InkResponse is too slow to do work in. :/

[2017-06-16 16:29] eseidelGoogle commented on #10767
Can you please add more information about your hardware as well as the emulator in question so we can understand if this setup is reasonable to expect to be able to do work in? :D

[2017-06-16 16:30] eseidelGoogle commented on #10772
@collinjackson would know.

[2017-06-16 16:31] mit-mit commented on #10772
@smrtsmrf did Run/Debug from IntelliJ or `flutter run` from the terminal work? Or you just tried running from Xcode? Trying to narrow down what might trigger this.

[2017-06-16 16:42] collinjackson commented on #10669
** Hot reloading in airplane **

Hot reload/refresh on a device is not working for me in airplane mode, either from the command line or IntelliJ. The app launches, but I see messages like this:

[code]

I'm testing on an iPhone 7 in airplane mode with a basic hello world template app, as well as firebase_auth's example with the other FlutterFire plugins added. I wonder if @cbracken was testing a d

[2017-06-16 16:46] mravn-google commented on #10771
The site where we invoke the plugin callback in Java is already guarded by a try-catch construct which will catch and log any `java.lang.Exception` thrown by the plugin.

@lukef Did you discover what type of Java `Throwable` was involved?

[2017-06-16 16:48] Hixie commented on #10767
Also if you could get a timeline and zoom in on a couple of frames then take a screenshot of that, that would be great. Also if the timeline has any samples, see what those say the code is doing.

[2017-06-16 16:49] yjbanov opened #10773 "modernize iOS device lookup in flutter drive"
`flutter drive` device lookup logic is ancient. It still believes that we are unable to run on physical iOS devices and demands that you specify `-d` option if you _really_ want to use an iOS device. Otherwise, it will attempt to automatically launch the iOS Simulator despite an attached iOS device.

[2017-06-16 16:50] Solido commented on #10594
You can see the decoded JWT token using jwt.io and my Firebase sdk was also successful.
💯

[2017-06-16 16:50] tvolkert commented on #10655
Closing the loop on this - we now have an image diff test in Google's automated test infrastructure that would have alerted us to this UI change.

[2017-06-16 16:50] yjbanov opened #10774 "teach flutter drive about --no-build option"
`flutter run` knows about it but `flutter drive` doesn't.

[2017-06-16 16:50] sethladd commented on #10767
No problem. Working on Windows 10. What kind of info would you like from the emulator? (Not sure what to dump out for you, but happy to try to get anything that's useful.)

[2017-06-16 16:54] collinjackson opened #10775 "Cannot hot reload on an iOS device in airplane mode"
## Steps to Reproduce

Put iOS device into airplane mode.

[code]

## Flutter Doctor

[✓] Flutter (on Mac OS X 10.12.4 16E195, locale en-US, channel master)
    • Flutter at /Users/jackson/git/flutter
    • Framework revision 3db402ec98 (11 hours ago), 2017-06-15 23:01:25 -0700
    • Engine revision f741647d49
    • Tools Dart version 1.24.0-dev.6.7

[✓] Android toolchain - develop for Android dev

[2017-06-16 16:56] Solido commented on #9955
Currently docs have been updated to https://www.dartdocs.org/documentation/flutter/0.0.27-dev/index.html and so Flutter is available to Dash.

Flutter doctor would not tell what's the last version is but having access to 0.0.27 docs is really helpful.

To be fair this feature is way underestimated on how it helps with the Flutter learning curve.

[2017-06-16 16:59] passsy commented on #3782
I hit this as well and couldn't find a way to show a card ripple effect on a card which has a full sized image.

This example demonstrates that the ripple effect is always below the icon even when `InkWell` and the `Material` are placed on top of the `Icon` in the `Stack`

[code]

[2017-06-16 17:02] collinjackson commented on #10775
It looks like the solution is in the `flutter doctor`. Testing it now.

[2017-06-16 17:05] jason-simmons commented on #10701
This should be fixed now

[2017-06-16 17:05] #10701 closed

[2017-06-16 17:07] sethladd opened #10776 "Some feedback on InkResponse API docs"
Something like this might help:

InkResponse does two things when responding to a tap:

* It starts to animate and grow a _highlight_ from the center of the widget (or, is this the child?). This is the "highlight" circle in the below screenshots.

* It starts to animate and grow a _splash_ from the tap down location. This is the "splash" circle in the below screenshots.

The highlight will grow to

[2017-06-16 17:07] sethladd commented on #10776
cc @Hixie as requested

[2017-06-16 17:08] collinjackson commented on #10669
I split off the hot reload question into a separate issue #10775. It looks like my libimobiledevice was out of date.

I talked to @cbracken and it sounds like this issue will be fixed with the same fix he is working on for #10358 #6758. Assigning back to him since this isn't really about plugins, though I'm happy to clean up the SIGPIPE hack in google_sign_in plugin when he's done.

[2017-06-16 17:10] mravn-google commented on #10772
(Sorry for closing, was trying to cancel a comment) It is a known issue that Xcode doesn't always refresh its view of the ios project, and that it may therefore complain about missing files or other inconsistencies following changes made by Flutter tooling/cocoapod. These problems usually resolve themselves during the Build face, if you just ignore them and hit Run.

In this case, that obviously w

[2017-06-16 17:12] sethladd commented on #9955
Would you be willing to mock up what flutter doctor should print out? an example would help. Thanks!

[2017-06-16 17:19] smrtsmrf commented on #10772
I tried running it first with flutter run. I saw it complaining about the image picker so I tried running in xcode to get more info. Running it in there created the problem in the screenshot above. I tried it in xcode yesterday as well as today, so restarting xcode didn't fix it.

[2017-06-16 17:21] lukef commented on #10771
It was actually due to a library version mismatch between our app and the Firebase plugins and not an actual java code error.

[2017-06-16 17:21] jason-simmons commented on #10709
The crash log looks similar to https://github.com/flutter/flutter/issues/10701.

Is this still happening with the latest engine?

[2017-06-16 17:24] #10752 closed

[2017-06-16 17:25] goderbauer commented on #10752
The updated version of the iamge_picker plugin is live on pub: https://pub.dartlang.org/packages/image_picker

[2017-06-16 17:36] Solido commented on #9955
Here's my Flutter output, how can I check the version number I'm working on ?
`
[✓] Flutter (on Mac OS X 10.12.5 16F73, locale en-FR, channel master)
Flutter at /Users/robbie/Install/flutter
Framework revision 3db402ec98 (11 hours ago), 2017-06-15 23:01:25 -0700
Engine revision f741647d49
Tools Dart version 1.24.0-dev.6.7
`

As you may see I'm on master to benefits the last commits but I've no ide

[2017-06-16 17:38] sethladd opened #10781 "flutter run builds the FLX twice"
I'm starting to enhance our analytics, and I noticed that we're generating two 'flx' screens.

My debug output:

[code]

(The XXXX is my debug output)

Conclusion: we're building the FLX twice, when a user types `flutter run`, at least for Android.

[2017-06-16 17:41] sethladd commented on #9955
Thank you! can you please:

* Open a new issue which states that our docs.flutter.io doesn't make it clear which version it's using.

* Open a new issue which states that it's not easy to find the version number from flutter doctor's output?

Much appreciated.

(meanwhile, we probably want to stop generating docs on dartdocs.org for Flutter. I believe there's an issue to delete those docs, or at l

[2017-06-16 17:48] Solido commented on #9955
Ah ! so there's no change to have this bug resolved and have Flutter doc inside Dash ?
You must have some serious reasons do not do this since nearly all large adoption publish to docset tools ? I'm really insisting on this :)

OK for opening issues.

[2017-06-16 17:50] sethladd commented on #9955
@Solido we should generate a .zip of our API docs on every alpha build. That's what this issue is about. Would that be sufficient for Dash integration?

Meanwhile, you brought up some good points about other aspects of our docs, which I don't want to lose, and thus we should open separate issues.

[2017-06-16 17:51] sethladd opened #10783 "Not clear how to "clean" my flutter project, and remove all generated/built artifacts"
I tried to run `flutter clean` but that didn't work. I looked at `flutter --help` and I didn't see anything with the semantics of "clean up all the generated/built artifacts". Maybe I missed it?

[2017-06-16 17:52] sethladd commented on #10783
For now, the workaround seems to be `rm -rf build` in your Flutter project.

[2017-06-16 17:52] pcomans commented on #10752
@goderbauer That fixed it. Thank you so much!

[2017-06-16 17:55] goderbauer commented on #10783
There is `flutter build clean` -- not very discoverable, though.

[2017-06-16 18:04] sethladd commented on #10783
Ah, thanks!

Consider this a request for "flutter clean" :)

[2017-06-16 18:05] sethladd opened #10785 "When developing on the flutter tool, no apparent way to ask gradle "don't rebuild the snapshot", to avoid the multi-second snapshot rebuild"
When running the flutter tool, it calls to gradle, which then takes a snapshot of the flutter tool (a multi-second operation).

When developing on the flutter tool, that snapshot generation is unnecessary.

It would be really cool if there was a way to say/configure "don't generate a snapshot, just run the source", to speed up development of the flutter tool.

Meanwhile, the workaround is: `rm $FL

[2017-06-16 18:25] Solido commented on #9955
The dash lead dev have build a parser for dartdocs.org. Any package published get translated to DocSet and is available to all tools. It mean than intellij, VSCode or even Alfred on MacOS get instant search on the Flutter API.

I'm working on complex stack and using this tools I've access to ALL my techs documentations, from Groovy to SpringFramework, Dart collections, etc and it's very painful fo

[2017-06-16 18:42] Solido opened #10787 "Flutter version on docs.flutter.io"
Here is the documentation footer on docs.flutter.io
It is the most recent but there's no human readable version to follow-up.

`Flutter •  Dart • cc license • 2017-06-15 01:01 • 6f77b4a9a76e57c4e6d23e61ba59a0cdd80d22b7`

@sethladd Edit if required

[2017-06-16 18:45] Solido opened #10788 "Flutter version on Flutter Doctor"
When using Flutter Doctor command I've the precise revision but there's no human readable informations.

[✓] Flutter (on Mac OS X 10.12.5 16F73, locale en-FR, channel master)
Flutter at /Users/robbie/Install/flutter
Framework revision 3db402ec98 (11 hours ago), 2017-06-15 23:01:25 -0700
Engine revision f741647d49
Tools Dart version 1.24.0-dev.6.7

@sethladd follow-up of the discussion

[2017-06-16 18:59] sethladd commented on #10582
So, apparently we are attempting this info, line 30 of usage.dart: `   _analytics.setSessionValue('dimension1', os.name);`

Will continue to dig.

[2017-06-16 19:10] collinjackson commented on #10775
I reinstalled Xcode, homebrew, libimobiledevice, ideviceinstaller, applied this [workaround](https://github.com/phonegap/ios-deploy/issues/292) for "unable to locate DeviceSupport", and also ran `sudo chown -R $USER /var/root/` because otherwise Perl was having trouble locating strict.pm because a root-only directory was in the include path.

After doing all that airplane hot reload works great an

[2017-06-16 19:10] #10775 closed

[2017-06-16 19:14] collinjackson commented on #10772
What was the original error about image_picker that caused you to open Xcode?

[2017-06-16 19:18] B3rn475 commented on #10615
I'm trying to reproduce it on our development devices unsuccessfully.

I kindly ask you some information to reduce the number of variables:

1. Which version of flutter are you using? `flutter --version`
2. Given the stocks application, which are the minimum number of changes to its source code to reproduce the bug?

[2017-06-16 19:31] DanTup commented on #10615
Flutter • channel master • https://github.com/flutter/flutter.git
Framework • revision 7ada46677b (2 days ago) • 2017-06-14 11:25:03 -0700
Engine • revision 4f5d6fab11
Tools • Dart 1.24.0-dev.6.7

I've made 0 changed to the stocks app; it's totally reproducible for me using the stock code in the repo.

I'm on Windows and I'm running it on an Emulator, most recently this (I had the same thing on an

[2017-06-16 19:37] eseidelGoogle commented on #10788
I believe this flutter doctor stuff was written before we had the concept of a flutter version number.  We do now, and could show that.

[2017-06-16 19:37] DanTup commented on #10615
Just tested on my phone (Moto X Play running Android 6) and I was able to step a couple of times before it stopped, but it did then stop responding the same.

[code]

[2017-06-16 19:50] smrtsmrf commented on #10772
Unfortunately, I can't remember the error exactly since it was a lot of output. I only saw that image_picker was the culprit. I couldn't really understand/make sense of the error, so that's why I opened Xcode, hoping for some clarification. I know this is not so helpful...

[2017-06-16 19:51] smrtsmrf commented on #10772
I got back to a device, and it crashes on an iOS device when I try to access the photo library. Here's the output from ```flutter run```
[output.txt](https://github.com/flutter/flutter/files/1081799/output.txt)

[2017-06-16 19:58] #10773 closed

[2017-06-16 20:00] collinjackson commented on #10772
Looks like a dupe of #10752 which has been fixed. Does upgrading image_picker to 0.0.3 fix it?

[2017-06-16 20:01] gspencergoog commented on #3959
I was taking a look at this, and (to my Flutter-newbie eye), it seems that this would be implemented by:

- Adding a new ButtonGroupController class that manages the state of any RenderToggleable subclasses that register with it.
  - It has parameters about the type of control needed (radio button, multi-select, etc.).
- Then, a constructor argument is added to RenderToggleable and any subclasses

[2017-06-16 20:14] smrtsmrf commented on #10772
@collinjackson you are right. That specific issue was solved with the update. the initial problem of needed to explicitly call ```flutter build ios``` first is still an issue I believe?

[2017-06-16 20:14] #10411 closed

[2017-06-16 20:16] collinjackson commented on #10411
Fixed in firebase_database 0.0.7.

[2017-06-16 20:32] mravn-google commented on #10772
Calling `flutter build ios` should only be necessary between these two steps:

1. Change your plugin dependencies in `pubspec.yaml`.
1. Launch your app from Xcode.

(Something similar applies to Android).

Flutter tooling must be invoked in between, because the tools read your `pubspec.yaml` file and instruct cocoapods to inject the plugin dependencies into your Xcode project. If you launch your a

[2017-06-16 20:40] smrtsmrf commented on #10772
@mravn-google I ran into the image_picker issue earlier, so I took it out until I was actually doing the image stuff. So then I added the image_picker dependency, then upgraded and got packages. Then I tried doing ```flutter run```. I'm told that the build process happens inside the run, but in this case, I had to explicitly call ```flutter build ios``` and then ```flutter run``` would work

[2017-06-16 20:43] Hixie commented on #3959
If we're just talking about these:
![](https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3V2JKWk9EbzFaMjg/components_buttons_togglebuttons1.png)

...then a simpler solution might just be to make a new widget that takes a list of widgets, and a current state that's an index, and it renders the thing above, putting as many slots as there are widgets in the list,

[2017-06-16 20:43] mravn-google commented on #10772
@smrtsmrf Thanks!
@collinjackson I'm making this issue be about the need for calling `flutter build ios` after plugin changes, OK?

[2017-06-16 20:45] bramvbilsen commented on #73
Is there any progress on this? I've got two apps sketched that require maps and would like to make them my first Flutter app in the stores. So is this going to come out within the next few months or are we talking next year? :)

[2017-06-16 20:46] smrtsmrf commented on #10772
@mravn-google yes, that was the initial intent. Thanks for clarifying things. and thanks @collinjackson for pointing me to the dupe and solved issue for the other part

[2017-06-16 20:59] Hixie commented on #73
We haven't begun work specifically on maps, but we have begun studying inline video and we believe that this should pave the way for this work. We cannot give an ETA at this time.

[2017-06-16 21:01] #10748 closed

[2017-06-16 21:03] Hixie opened #10795 "Add a diagram in TextField and InputDecoration/InputDecorator docs"

[2017-06-16 21:18] sethladd commented on #10788
Thanks for the report!

[2017-06-16 21:19] sethladd commented on #10787
Thanks for the report!

@jcollins-g do we need to do something special, or should dartdoc pick up the version as reported from the package ?

[2017-06-16 21:41] #6975 closed

[2017-06-16 21:48] #7199 closed

[2017-06-16 21:49] sethladd commented on #10781
Confirmed, `flutter run` builds the FLX twice. Output from my local testing:

[code]

As reported from flx.dart's assemble().

[2017-06-16 21:57] jcollins-g commented on #10787
@sethladd If the version field is defined in pubspec.yaml, dartdoc should do the right thing.
I'm noticing right now the generated pubspec.yaml from [here](https://github.com/flutter/flutter/blob/master/dev/tools/dartdoc.dart#L32) doesn't do that.

[2017-06-16 22:05] Hixie commented on #10785
I don't understand what you mean about gradle. We build the tool once, when you run the tool. Then if gradle shells out to us again it should just be using the prebuilt version, unless you're starting it in a weird way.

[2017-06-16 22:07] Hixie commented on #10785
The rest of what you describe is working as intended. If you are developing on the tool, you must either delete the pre-built version, delete the stamp for the prebuilt version -- that's what you describe above -- or change the hash of the latest commit, by committing your code (or amending your existing commit).

[2017-06-16 22:09] B3rn475 commented on #10615
Are you able to reproduce the same anomalous behavior on another machine? (the machine you run Flutter from)

On your current machine which version of Windows are you running?

Do you have some custom Windows Firewall rules?
Do you have a custom Firewall application or an Antivirus installed?
If yes, which one? and, can you try to disable it?

I ask this because some Antivirus or Firewall software

[2017-06-16 22:10] sethladd opened #10800 ""index out of bounds" java exception when working in step 5 of UI codelab"
As reported by someone who tried this yesterday on Android. Confirmed on both Android N and Android O.

This was the chunk of code that when added, lead to the exception:

[code]

After this step in the codelab, the user can type into the text field, but when they hit the arrow button, they get this exception:

here's the log from adb logcat from Android N 7.1.2:

[code]

[2017-06-16 22:12] Hixie commented on #10719
Cool, thanks for the update.

[2017-06-16 22:52] sethladd commented on #10787
Ah, thanks! Really appreciate it.

[2017-06-16 22:56] sethladd commented on #10785
No worries, I suspect that most people aren't hacking on the flutter tools at a furious pace. :) With the workaround listed in this issue, I can close this. Thanks for taking a look.

[2017-06-16 22:56] #10785 closed

[2017-06-16 23:08] #10776 closed

[2017-06-16 23:08] #10766 closed

[2017-06-16 23:08] #10683 closed

[2017-06-16 23:10] Hixie commented on #3861
Ok I have a working fix, just need to do some cleanup.

[2017-06-17 00:06] cbracken commented on #10633
As of #10759, iOS 11 devices should now appear correctly in `flutter devices` and doctor output.

The `libimobiledevice` warning still exists for the moment, but once I've eliminated a couple more dependencies on `libimobiledevice`, it'll be safe to remove it.

[2017-06-17 03:22] alardizabal opened #10807 "Feature request - Helper Text in TextField/InputDecoration"
I'd like to add helper text to a text field. Currently, it's possible to override the error text property to achieve a similar effect. However, when the error text (and the desired error text style) is set, the divider changes color to the theme's error color. The material spec for helper text would meet my requirements.

https://material.io/guidelines/components/text-fields.html#text-fields-layou

[2017-06-17 07:59] DanTup commented on #10615
I don't have another machine to test it on, but some of the people helping test are seeing the same issue.

I was wondering if something might be interfering with the connection, that's why I was hoping to try and enable some logging in the observatory side.

I'm running Windows 10, with no 3rd party firewall/AV. I don't have any custom rules in the firewall but I'll try disabling both Windows Fir

[2017-06-17 16:01] DanTup commented on #10615
Disabling Windows Firewall and turning off Windows Defender made no difference, same behaviour.

An additional thing I noticed - seems to be time-based... If I press Step lots of times quickly immediately after hitting the brekapoint, I get a bunch of steps before it stops working. If I wait a few seconds, then the first one doesn't work.

I don't think this helps understand the problem, but it se

[2017-06-17 16:09] branflake2267 opened #10809 "Issue from website page Using Custom Fonts, display an example use"
From URL: https://flutter.io/custom-fonts.md

Docs suggestion. On the custom fonts page,  it doesn't show how to use the declared fonts pubsec.yaml, so it's only half of the story.

I'd suggest adding an example of how to use the same declared fonts.

[2017-06-17 16:13] branflake2267 opened #10810 "Issue from website page Using Custom Fonts, include material design fonts"
From URL: https://flutter.io/custom-fonts.md

I would suggest showing how to turn on the material design fonts and a list of the fonts supplied with material design. Either link to a page that has them, or show that option here.

[2017-06-17 16:35] DanTup commented on #10615
I added some more logging, including writing the state of the websocket on every send, and according to the npm `ws` library the socket is still in the `open` state (though I don't know if this is reliable, or how the port forwarding from the host to the device might affect it).

[2017-06-17 17:33] branflake2267 opened #10811 "Dart docs, add AlertDialog example"
I'd like to suggest adding an AlertDialog example. This way a developer doesn't have to hunt for the wiring procedure.

https://docs.flutter.io/flutter/material/AlertDialog-class.html
[code]

[2017-06-17 18:58] eseidelGoogle commented on #10781
FYI @mravn-google @tvolkert

[2017-06-17 19:00] tvolkert commented on #10781
@jason-simmons discovered that it looks like the double build is intentional in order to speed up Gradle builds.  @mravn-google or @jakobr-google may know more.

[2017-06-17 19:04] mravn-google commented on #10781
This behavior is intentional:
https://github.com/flutter/flutter/issues/9717
https://github.com/flutter/flutter/pull/9801

I'll discuss with @jakobr-google if there is anything better we can do.

[2017-06-17 21:31] gspencergoog opened #10813 "flutter run --route="/route" doesn't work."
## Steps to Reproduce

I created a test app:
[code]

When I run the app with:
[code]

I get the following debug output:

[code]

I expected it to be starting the "Route" page, and printing:
[code]

Maybe I'm just doing it wrong, but that's the behavior I would expect.

## Logs

[I added extra debug output to the run command to print the ADB command, so I was sure it was being passed: the line star

[2017-06-17 21:37] gspencergoog commented on #10813
Also, it does the same thing on actual hardware (a Pixel, in this case).

[2017-06-17 22:40] sethladd commented on #10670
Should be fixed by https://github.com/flutter/flutter/issues/10789

[2017-06-17 22:40] #10670 closed

[2017-06-17 22:45] sethladd commented on #10751
Thanks!

I also noticed that we report target platform in the "screen" for run, when it's a hot reload run.

This line from run.dart in tools:

`return '$command/${getNameForTargetPlatform(await devices[0].targetPlatform)}';`

We don't clearly mark "emulator/simulator or real device", but we have this:

[code]

Are any of these the Simulator?

[2017-06-17 22:56] sethladd commented on #10810
Thanks for the suggestion! PR's most welcome.

[2017-06-18 00:02] eseidelGoogle commented on #9139
@wcauchois just reported hitting this in Gitter just now.

[2017-06-18 00:03] eseidelGoogle commented on #9139
Could this be https://github.com/flutter/flutter/issues/9750 ?

[2017-06-18 00:24] Hixie commented on #10716
To answer the original question, MemoryImage doesn't expect you to change the bytes after it's created. I'll add a paragraph (see https://github.com/flutter/flutter/pull/10815) that talks about how you would generate an ImageStream whose image changes over time.

[2017-06-18 01:03] branflake2267 commented on #10810
https://github.com/flutter/website/pull/606 - hows this? :)

[2017-06-18 07:58] kostaa opened #10817 "Android "java.lang.IndexOutOfBoundsException" when TextEditingController clear() called"
I have a search box with an attached clear button. When the clear button is pressed the search box should be cleared.

![image](https://user-images.githubusercontent.com/7585117/27259037-cebddd5c-5401-11e7-9300-13f2399e6d05.png)

This is the `TextEditingController` &  the `TextField` set up.
![image](https://user-images.githubusercontent.com/7585117/27259057-5f2a067c-5402-11e7-8f4b-3388e18dba47.pn

[2017-06-18 09:17] jiharAkakom opened #10818 "Hello everibody,, how can i upload my image from dir or camera, and then save the file to database..,, i use golang for backend"
## Steps to Reproduce

Please tell us what you were doing and what went wrong. If you are running flutter tools from the command line, please try adding the `-v` or `--verbose` option to gather more information.

If the problem is with your application's rendering, please attach a screenshot and any relevant source code.
If you are getting an exception in the logs, and your code is implicated in t

[2017-06-18 09:53] DanTup commented on #10615
This issue isn't restricted to Windows; someone testing sees the same issue on Mac:

https://github.com/Dart-Code/Dart-Code/issues/318#issuecomment-309266980

I keep stepping through my debug adapter code and adding more logging (if it happens across platforms and no other IDE sees it, it sounds like my issue) but I just can't find anything that might result in this sort of behaviour.

In the abse

[2017-06-18 10:43] DanTup commented on #10615
Ok, I just ran flutter with some additional flags: `["run", "--machine", "--record-to", "bugreport", "--verbose", "--trace-startup"]`.

I got a bunch of output that ended with this just before I hit a breakpoint:

[code]

I stepped a few times (it works if I do it quickly after hitting the breakpoint, but it hangs) and then right after the last successful step I got this:

[code]

I don't know whe

[2017-06-18 10:49] DanTup commented on #10615
The only log that has timestamps in the `bugreport` folder does not have anything interesting around the same time (note: timestamps are 1hr out) is this:

[code]

It seems unrelated (it's all marked Dialer), yet it seems a huge coincidence that this line is literally at the same second that the debugger went tits:

[code]

Something is being killed at the time Observatory becomes unresponsive?

[2017-06-18 10:56] DanTup commented on #10615
Just reset and did the same thing again.

[code]

This time there was nothing at this time in the other log (there was a line about killing a talk process, but it was over ten seconds earlier) so probably that line it was just a big coincidence!

[2017-06-18 14:27] mehmetf opened #10819 "Should we be using GGLContext (iOS) in plugins to configure Google services?"
GGLContext is provided as a utility that configures Google services (signin, analytics, gcm etc). However, do we really need it?

-  According to [this](https://developers.google.com/ios/reference/interface_g_g_l_context.html#a753dc51bcd56d56de792fa672e6dc412), it configures all shared google services. We use it only in one plugin right now (GoogleSignIn) and only when client id is [null](https://

[2017-06-18 14:32] mehmetf commented on #10819
@tvolkert @goderbauer for comments.

[2017-06-18 14:46] mehmetf commented on #10819
I tracked down a bit more interesting history for this:
- Internally, we never relied on GGLContext. ClientId was always configured during init explicitly ever since the plugin was created back in mid-2016.
- For some reason, the external version diverged at some point (and in fact, until @tvolkert fixed it, GGLContext was the only way to set the clientId). I cannot see past @goderbauer 's merge o

[2017-06-18 15:19] tvolkert commented on #10819
/cc @collinjackson

[2017-06-18 15:21] tvolkert commented on #10819
I think @collinjackson knows the history here as to why we read the `clientId` from `GoogleServices-Info.plist` vs having the developer specify it in their Dart code.

[2017-06-18 15:36] franklinharper commented on #10358
This is now blocking the iOS release of my app.

[2017-06-18 17:25] branflake2267 commented on #10818
One way you could do it is post the image via a networking request to the server with go backend.
Checkout out you can configure a networking request here https://flutter.io/networking/. This will show you how to configure the post. The same concepts apply when building a web app using a third party service, posting an image to the server. That's only one way to do it, there are other ways you can

[2017-06-18 17:26] passsy opened #10820 "Would like to cache HTTP responses on disk"
I couldn't find a simple way to cache http responses depending on `Cache-Control` headers. the [`http`](https://github.com/dart-lang/http) package doesn't support it and I haven't found other packages providing a cache implementation. Most likely because browsers automatically cache requests and there was no demand from web front end developers.

The only cache implementation in the flutter sdk is

[2017-06-18 21:05] tvolkert commented on #10367
@AstroProgrammer in addition to trying the upgrade that @cbracken listed, can you also paste the output of running `flutter doctor -v`?

[2017-06-18 21:28] albertog commented on #10046
Deleted not work for me throw this error

FAILURE: Build failed with an exception.

* Where:
Build file '/home/bbb/Downloads/plugins-master/packages/firebase_database/example/android/build.gradle' line: 21

* What went wrong:
A problem occurred evaluating root project 'android'.

...

[2017-06-18 21:38] KevinTheGray opened #10821 ""setPersistenceEnabled() must be made before any other usage error" thrown after performing full restart"
## Steps to Reproduce
- Use this plugin, `  firebase_database: "^0.0.7"`
- In the `main` function, do this: `FirebaseDatabase.instance.setPersistenceEnabled(true);`
- Run the app
- Now re-run the app using the little bug icon with the play button
- See that error i described in the title.

## Logs

[code]

## Flutter Doctor
[code]

[2017-06-18 21:46] KevinTheGray opened #10822 "firebase database plugin keepSynced function doesn't work, throws error"
## Steps to Reproduce
- Use an android device
- Use `firebase_database: "^0.0.7"`
- Call keepSynced, see error

## Logs
[code]

## Flutter Doctor
[✓] Flutter (on Mac OS X 10.12.4 16E195, locale en-US, channel master)
    • Flutter at /Users/KG/Developer/Flutter/flutter
    • Framework revision 6965312822 (2 days ago), 2017-06-16 10:05:18 -0700
    • Engine revision 784e975672
    • Tools Dart vers

[2017-06-18 21:50] KevinTheGray opened #10823 "Firebase database limitToLast not working on Android"
## Steps to Reproduce
- Test on an Android device
- Use `firebase_database: "^0.0.7"`
- Make a query, something like
[code]
- I get back ten items when I would expect 4

## Flutter Doctor
[code]

[2017-06-18 22:35] tvolkert commented on #10819
Also /cc @mit-mit

[2017-06-19 04:40] Hixie commented on #10698
@cbracken Any luck?

[2017-06-19 04:49] collinjackson commented on #5048
The [firebase_messaging](https://github.com/flutter/plugins/tree/master/packages/firebase_messaging) plugin can be used to add notifications to the system tray that launch the app when tapped. However, we don't yet support background execution of Dart without a FlutterView (#3671). In the meantime, you could run native code in the standard native way (Objective-C or Java) and then communicate the

[2017-06-19 04:51] #10717 closed

[2017-06-19 06:11] tavojavi commented on #8986
Hello,

I´ve been wrestling with this error "Broken pipe" and similar when gradle wants to merge debug resources... I realized that it happened when I build several times the project. It seems that gradle daemons are being created and not destroyed properly on each execution... these daemons get files and lock them, so you can´t delete them or modify them...

This is the case of AAPT.exe trying to

[2017-06-19 11:46] mit-mit commented on #10377
@jakobr-google tried to specify contents of this templates up-top, does that look resonable?

[2017-06-19 11:46] mit-mit opened #10824 "Figure out how to test plugins (on OEM side)"
Currently our plugin template and plugin docs have no recommendation for how to test a plugin. We should probably figure out what to do here.

[2017-06-19 11:58] mit-mit commented on #10781
Closing as by-design. The customer observable thing we should be focused on is generally making the build faster, and that is tracked in https://github.com/flutter/flutter/issues/9897.

[2017-06-19 11:58] #10781 closed

[2017-06-19 12:07] mit-mit commented on #10065
Fixed in https://github.com/flutter/flutter/issues/10100

[2017-06-19 12:07] #10065 closed

[2017-06-19 12:09] mit-mit commented on #9072
Closing this in favor of https://github.com/flutter/flutter/issues/9897, which tracks the same thing.

[2017-06-19 12:09] #9072 closed

[2017-06-19 12:13] mit-mit commented on #10046
Sounds like the original problem experienced by @Grzegorz-l90 was resolved, so going to close this bug.

@albertog can you please open a new bug with details on your issue (steps you are running, flutter doctor output, etc.).

[2017-06-19 12:13] #10046 closed

[2017-06-19 12:15] mit-mit commented on #9944
Going to close this bug as it sounds like the original issue was resolved.

The request to support more Flutter development in Android Studio is tracked in https://github.com/flutter/flutter-intellij/issues/384, feel free to "up vote" that bug.

[2017-06-19 12:15] #9944 closed

[2017-06-19 12:21] mit-mit commented on #9867
Sounds like we unfortunately won't be able to support editing gradle files in IDEA., and that the better approach is to enable a more complete workflow in Android Studio.

@darrellpf the request to support more Flutter development in Android Studio is tracked in flutter/flutter-intellij#384, feel free to "up vote" that bug.

[2017-06-19 12:21] #9867 closed

[2017-06-19 12:22] mit-mit commented on #9866
@tvolkert did this get rolled back?

[2017-06-19 12:34] mit-mit commented on #9765
Compared our template against Android Studio (version 2.3.3) and we are indeed not consistent:

Flutter has the following in `android/app/src/main/AndroidManifest.xml`:

[code]

Android Studio has it in `android/studioapp/app/build.gradle`:

[code]

[2017-06-19 12:41] mit-mit commented on #9241
@skybrian (and others that may hit this), the quicker fix is simply to uninstall the app from the emulator (either by longpressing on it's shortcut, or via settings > apps).

That being said, I'm puzzled you hit this; supposedly we fixed this in https://github.com/flutter/flutter/issues/8172.

[2017-06-19 12:57] mit-mit commented on #8824
Still failing, with a new and still not-so-easy-to-read error::

[code]

[2017-06-19 13:19] mit-mit commented on #8982
The correct fix to this is to use gradle wrapper, so that gradle is configured automatically; closing as a dupe of https://github.com/flutter/flutter/issues/9842.

[2017-06-19 13:19] #8982 closed

[2017-06-19 13:25] tvolkert commented on #9866
Yeah, in https://github.com/flutter/flutter/pull/9934 because it caused https://github.com/flutter/flutter/issues/9929

/cc @jakobr-google

[2017-06-19 13:25] mit-mit commented on #8605
Yes, that sounds very likely. Going to close this for now as environment related.

[2017-06-19 13:25] #8605 closed

[2017-06-19 14:03] mit-mit commented on #10819
I think we rely on as that is the workflow that the various Google consoles for registering your app provides, e.g. https://firebase.google.com/docs/ios/setup

[2017-06-19 14:35] devoncarew commented on #10734
I'm going to close this as can't repro; we can re-open if we see more cases of it.

[2017-06-19 14:35] #10734 closed

[2017-06-19 14:39] KevinTheGray opened #10825 "FirebaseDatabase plugin gets ints as ints, loads them from persistence as double on iOS"
## Steps to Reproduce

- Use FirebaseDatabase in a project, 0.0.7 is the version I'm using
- call `setPersistenceEnabled(true)`
- Get some node data with an int in it, parse the value out and assign it to an int, doesn't throw error.
- Put on the networklinkconditioner to drop 100%, since airplane mode will crash the app
- The data that is loaded and persisted will be loaded as a double, when it's

[2017-06-19 14:56] mehmetf commented on #10819
Thanks Michael. The link you shared only applies to Firebase family of plugins. Google Sign In is a bit of an oddball. It pretends to be in that family but it really isn't. It does not get configured by `[FIRApp configure];` command which is typically what you would do to configure Firebase components.  It also requires a lot of additional parameters to properly initialize (such as scopes). Compar

[2017-06-19 15:32] sethladd commented on #730
FWIW: here's the PR for the iOS version of the webview plugin: https://github.com/dart-flitter/flutter_webview_plugin/pull/3

[2017-06-19 15:42] alardizabal opened #10826 "Scroll text fields into view when keyboard comes up and obscures them"
I have several TextFormFields in a ListView, and it seems that if I tap into fields near the bottom (fields that would be obscured by the keyboard), the keyboard will appear and then immediately hide. I’m guessing it’s because it’s scrolling the list view which then causes the keyboard to dismiss. I've modified the flutter gallery text field demo and attached a video. Happens on both iOS and Andro

[2017-06-19 15:47] sethladd commented on #10818
Hi! Thanks for the question. For this kind of "How To" question, please use Stack Overflow: https://stackoverflow.com/tags/flutter

[2017-06-19 15:47] #10818 closed

[2017-06-19 15:59] eseidelGoogle commented on #10822
Looks like the Android implementation of this feature is missing?  @collinjackson

[2017-06-19 15:59] sethladd commented on #9955
Thanks! Agreed, we need to build a .zip of the docs on every alpha release and put it at a known download URL.

[2017-06-19 15:59] eseidelGoogle commented on #10823
@collinjackson would know.

[2017-06-19 16:01] eseidelGoogle commented on #10821
This looks like an incompatibility between the firebase datastore plugin and hot-restart.  Correct?  FYI @collinjackson @mit-mit

[2017-06-19 16:01] lukef commented on #10821
This is somewhat to be expected, but it raises an issue generally.

This call can only be made 1x per application launch. We have added this code into the application `main` and it is still being called multiple times per application session (resulting in a crash). It would seem that the solution would be to tell people to add this code into their native workflow?

[2017-06-19 16:03] collinjackson commented on #10821
I think we should check to see whether the value is the same value that was set previously and if so, allow it. Otherwise, we can return an error to Dart-land saying that changing the value is not allowed. That's a pretty easy fix and should work well for the case where devs just want to always enable or disable it.

[2017-06-19 16:04] sethladd commented on #10811
Is there a PR for this? (just want to link for those that like to follow along :)

[2017-06-19 16:04] collinjackson commented on #10823
Investigating. Thanks.

[2017-06-19 16:34] alardizabal opened #10827 "Ability to use DatePicker without having to use material icons"
We are currently not using material icons and I'd like to be able to use the DatePicker without relying on the material icons. The only material icons on the picker are the back and forward icons (screenshot below). The ability to provide our own icons would be preferable.

![screenshot_20170619-121754](https://user-images.githubusercontent.com/3614291/27295541-49a0cdce-54eb-11e7-9b91-d34d0df2ae38

[2017-06-19 16:37] #10630 closed

[2017-06-19 16:54] Hixie commented on #10811
https://github.com/flutter/flutter/pull/10812

[2017-06-19 16:56] goderbauer commented on #10824
We also need a story for testing the native side of a plugin. Looking at flutter/plugins most (all?) of our first-party plugins only test the dart side of things.

[2017-06-19 16:59] goderbauer opened #10830 "Make Table accessible"
Tables are not very accessible. A simple example can be seen in the "recipe details" screen if the Pesto demo app: In the table of ingredients at the bottom you should be able to select an entire row        when in accessibility node. Currently, you can only select one cell at a time, making accessibility navigation awkward.

[2017-06-19 17:01] goderbauer opened #10831 "Make "Animations" demo accessible"
* When swiping through elements on the home screen you can select stuff that is currently not on the screen
* VoiceOver needs to read out more information about the selected elements
* When in a detailed screen, you cannot switch to another tab
* more ...

[2017-06-19 17:04] mit-mit commented on #10824
Yes, definitely, I consider that part of the scope of this bug!

[2017-06-19 17:08] devoncarew commented on #8989
flutter_tools should likely populate the `aiid` session variable w/ any info from a FLUTTER_HOST_ENV env var.

[2017-06-19 17:12] mit-mit commented on #10819
Doesn't the Google sign-in developer workflow rely on that same file? https://developers.google.com/identity/sign-in/ios/start

[2017-06-19 17:20] collinjackson commented on #10819
If you're using the Firebase plugin the way to configure it is to provide a GoogleService-Info.plist, so it would be an extra step to make developers copy information out of that file and hard code it into their Dart code for Google Sign In. If they have different configuration files for different platforms and different types of builds (production/enterprise/dev), it seems like some devs might pr

[2017-06-19 17:38] Hixie commented on #10344
The annotations have landed, so have at it!

[2017-06-19 17:41] goderbauer commented on #10749
I am working on this one now.

[2017-06-19 17:45] eseidelGoogle commented on #10669
Unclear what the current status of this bug is?

[2017-06-19 17:46] eseidelGoogle commented on #10669
The result of this bug is that it's a crash as a result of too many log statements on iOS causing a crash.  This root bug @cbracken is currently working on resolving.

[2017-06-19 17:55] Hixie commented on #9665
@FaisalAbid Does this still happen for you? I believe we fixed this in #10574.

[2017-06-19 17:55] eseidelGoogle commented on #10807
@HansMuller how difficult would this be to add?  Is this something you could look into doing?

[2017-06-19 17:56] Hixie commented on #10657
@lukef Is the solution above sufficient or do you think we should find a way to do this automatically?

[2017-06-19 17:56] eseidelGoogle commented on #10826
@Hixie @abarth this sounds familiar, do we already have this tracked/understood somewhere else?

[2017-06-19 17:57] eseidelGoogle commented on #10531
I need to get @lukef an answer by tomorrow as to if he should workaround this, or wait for us to resolve.

[2017-06-19 18:02] Hixie commented on #105
This is basically the same bug as #170, #172, #188 .

[2017-06-19 18:02] Hixie commented on #10826
This is basically the same bug as #105, #170, #172, #188.

[2017-06-19 18:08] xster commented on #10751
Looking at the 'app speed' section is probably more accurate than the 'screen' section.

Arm android can still be an emulator and x86 can be a physical device as well. The 'app speed' section will point them out specifically.

[2017-06-19 18:11] eseidelGoogle opened #10833 "Move to Gradle 4.0"
Gradle 4.0 is now stable.  @lukef recommends we move our templates and plugins to use such.  @mit-mit @mravn-google

[2017-06-19 18:13] jacob314 opened #10834 "Stack overflows in tests under package:flutter/"
## Steps to Reproduce

Add a stack overflow bug to  test/widgets/sliver_fill_viewport_test.dart

I would hope running the test with a stack overflow would return a stack trace providing some indication of where the stack overflow occurred but does not. Instead the vm appears to hard crash.
Output running test with -v:

[code]
## Flutter Doctor

[code]

[2017-06-19 18:16] eseidelGoogle commented on #10709
@lukef believes this is resolved.

[2017-06-19 18:16] #10709 closed

[2017-06-19 18:29] collinjackson commented on #10688
/cc @goderbauer

[2017-06-19 18:37] lukef commented on #10657
I think that there may be a longer term issue, but its up to you if you want to fix it.

We can definitely define keys for each widget but I feel like the expectation is that scroll offsets and tab positions should not be shared across widgets of different kinds (which is happening now).

Speaking with @collinjackson and @eseidelGoogle it might be that the autogenerated keys are not taking into ac

[2017-06-19 18:38] #10681 closed

[2017-06-19 18:41] sethladd commented on #10751
Ah, I see you have "-emulator" in there. Perfect, that means we know if we're targeting emulator. I'll like to peel that out and make it a custom dimension.

[2017-06-19 18:49] chinmaygarde opened #10835 "flutter_tester must provide actionable information on engine crashes."
Currently, the `flutter_tester` executable uploaded to the cloud is built with the debug configuration with symbols stripped. This was done so that none of the assertions in the engine would be stripped away on the desktop shells. This leads to no backtraces being available (since symbol files for the same are not preserved separately) on engine crashes. Also, the binary sizes are unnecessarily la

[2017-06-19 18:49] collinjackson commented on #10657
On our call the morning (and in your comment just now) it sounds like you're having an issue with scroll positions being shared when they shouldn't be.

However the description of the bug indicates that scroll positions are not being shared when they should be.

This makes me think that we may be talking about two separate bugs.

A reduced test case of the unexpected behavior might help clarify th

[2017-06-19 18:50] chinmaygarde commented on #10834
Related https://github.com/flutter/flutter/issues/10835.

[2017-06-19 18:54] sethladd commented on #10751
Chatted with @xster , reopening so we can send a custom dimension for run target.

[2017-06-19 18:55] collinjackson commented on #9815
Just a quick update, I am making progress on this.

My current thinking is that activatedFetched will return a Future that completes when the new values are fetched. Making it synchronous would require us to reimplement a lot of the remote config fetching logic and I don't think think it's worth the added complexity.

I am also thinking about exposing changes to the config as a stream so apps can

[2017-06-19 19:14] skybrian commented on #9241
Good to know. I haven't seen it since then, so I'll close this.

[2017-06-19 19:14] #9241 closed

[2017-06-19 19:15] lukef commented on #10657
Yes. Sorry, I added my comment but it was describing a different issue. I'll remove it and add it elsewhere for clarity.

[2017-06-19 19:28] collinjackson commented on #10657
Thanks @lukef. Can this issue be resolved using the approach Hans recommended above?

[2017-06-19 19:30] mehmetf commented on #10819
If Michael is correct and GoogleService-Info.plist is the way to go to configure any Google service (Firebase or not), then what makes sense to me the most is to provide this as the only option to get client id.

Let's decide based on the internal discussion on the availability of GGLContext.
- If it is officially supported and available internally, let's make it the canonical way of getting clien

[2017-06-19 19:35] branflake2267 opened #10836 "Expose Firebase auth as a stream like the GoogleSignIn"
Could you expose the Firebase auth as a stream like the GoogleSign plugin does.

https://stackoverflow.com/questions/44618334/how-can-i-test-if-the-user-is-signed-in-and-if-not-route-to-another-page-in-my-f/44620570?noredirect=1#comment76254962_44620570

[code]

[2017-06-19 19:38] Hixie opened #10837 "Fill out the java docs"
Our documentation on the Java side is somewhat anemic.

https://docs.flutter.io/javadoc/

For example, FlutterView has many members with no documentation at all.

[2017-06-19 19:48] mravn-google commented on #10833
Dupe of https://github.com/flutter/flutter/issues/10236

[2017-06-19 20:00] jason-simmons commented on #10834
This works as expected on Linux, but the Mac OS build of flutter_tester crashes

[2017-06-19 20:19] eseidelGoogle commented on #10835
FYI @abarth, see also our docs here: https://github.com/flutter/flutter/wiki/Flutter%27s-modes

[2017-06-19 20:22] eseidelGoogle commented on #10826
@Hixie is there anything Posse can do to work around this bug?  This specific instantiation is currently considered as a high priority issue.

[2017-06-19 20:27] eseidelGoogle commented on #10827
@xster this sounds like something you were working on?

[2017-06-19 20:36] Hixie commented on #10826
Not really. Mark it a blocker and I'll fix it in the next week or two. (I'm working on deep linking bugs right now, which I understand are also a high priority.)

[2017-06-19 20:42] mehmetf commented on #10819
Additional details came into light (specifically Google cocoapod deprecation and the subsequent internal library deprecation) that made us reconsider this. Todd is leaning towards what Collin's (3) proposal especially if it is cheap to implement. We can declare GoogleService the canonical way of defining client-id for GoogleSignIn and use our own code to configure the library. Assigning to Todd si

[2017-06-19 21:02] albertog opened #10839 "firebase_database fails if user's system has Gradle 4.0 installed"
## Steps to Reproduce

Firebase example with linux OS
https://github.com/flutter/plugins/tree/master/packages/firebase_database/example

## Logs
Run your application with `flutter run` and attach all the log output.
flutter run
Launching lib/main.dart on SM G930F in debug mode...
FAILURE: Build failed with an exception.

* Where:
Build file '/home/albertog/Downloads/plugins-master/packages/firebas

[2017-06-19 21:37] aam opened #10841 "Flutter needs to be able to use Dart common Frontend"
Dart common Frontend replaces parser, that is built into the Dart VM.
This issue tracks work in flutter engine and flutter tools that will make this switch possible.

[2017-06-19 22:01] HansMuller commented on #10807
I'm looking into this feature now.

[2017-06-19 22:12] goderbauer commented on #9881
FYI: This issue is causing https://github.com/flutter/plugins/pull/141 to be a breaking change (even though the plugin API is untouched, I am just adding new dependencies to the plugin).

[2017-06-19 22:33] collinjackson commented on #10825
I am able to reproduce the automatic conversion of ints to doubles on iOS. It does require calling `keepSynced` on a `Query` but doesn't seem to require putting the device into airplane mode.

[2017-06-19 22:39] #9928 closed

[2017-06-19 22:48] Hixie commented on #10498
This is basically the same bug as #105, #170, #172, #188.

[2017-06-19 22:52] yyoon opened #10847 "Text input cursor blinks even when the app loses Mozart input focus"
We had multiple situations where a cursor was blinking in a text field but it did not actually have Mozart focus.

According to @poitch, the `FocusEvent` needs to be handled in `RuntimeHolder::OnEvent()` (in `runtime_holder.cc`) handler to remove the current focus from the text field when the Mozart focus is lost.

cc: @abarth, @Hixie

[2017-06-19 23:20] xster commented on #10626
Saving choice in #10181.
I was reading the --machine code but it wasn't very clear how it worked. Is there a global state I can read to know that it was from --machine? Doesn't seem passed down to the downstream commands.

[2017-06-19 23:20] abarth opened #10850 "Flutter should provide access to Mozart's FrameInfo::presentation_time"
Flutter should provide access to Mozart's FrameInfo::presentation_time, possibly in BuildContext.

Motown expresses timelines with respect to presentation time so that UI can be synchronized with audio and video. For c++ UI implemented as a subclass of BaseView, this is available through frame_tracker().frame_info().presentation_time. Flutter should provide access as well.

The current need for th

[2017-06-19 23:26] xster commented on #10827
The material library generally assumes it can use material icons. The ask seems to be more about creating a general shimming mechanism to inject any icons internally referred to by the material library via Icons and still use the material library?

Are those new assets you want to use font icons or image assets?

[2017-06-19 23:34] devoncarew commented on #10626
Do you mean as an intermediate step towards not asking for user input, or as the solution for this issue? I definitely think we're better off now asking.

If this is just an intermediate step, you'd probably need to record that we're in a non-interactive mode in some global state, perhaps in a context variable (like in `globals.dart`).

[2017-06-19 23:37] tvolkert commented on #10626
+1 for not asking and just informing the user that we're choosing one and how they can update the config of which choice we'll make.

[2017-06-19 23:42] HansMuller opened #10851 "InputDecorator errorText, helperText not padded correctly per the Material Design spec"
Currently error and helper text are displayed immediately below the TextField's divider. They should be padded on top by 8:  https://material.io/guidelines/components/text-fields.html#text-fields-layout

![image](https://user-images.githubusercontent.com/1377460/27310255-e5ee40cc-550d-11e7-8fca-83db1d25d5ff.png)

From the Gallery text fields demo:

![screenshot](https://user-images.githubuserconte

[2017-06-19 23:48] jason-simmons commented on #10817
Duplicate of https://github.com/flutter/flutter/issues/10748

The fix for this should be rolled out now

[2017-06-19 23:48] #10817 closed

[2017-06-19 23:50] jason-simmons commented on #10800
Duplicate of https://github.com/flutter/flutter/issues/10748

The fix should be rolled out now

[2017-06-19 23:50] #10800 closed

[2017-06-20 00:01] yjbanov commented on #8986
@tavojavi that does not explain why we're seeing this on Linux though, but maybe the Linux issue is different and the presence of AAPT in the stack trace is misleading us to believe the issue is the same as the one on Windows.

[2017-06-20 00:34] eseidelGoogle commented on #10531
Feedback from @alardizabal is that he would rather wait for the fix.

[2017-06-20 02:11] #10819 closed

[2017-06-20 02:14] jiajiabingcheng commented on #10680
The plugin user-permission will be added to the Flutter project's manifest manually with the import of the plugin API. Therefore after the plugin is removed, during the building process, the permission should still be there.

[2017-06-20 03:07] collinjackson commented on #10825
I spent some time today investigating this and it does seem to be a interesting behavior coming from the [iOS Firebase persistence database](https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Database/Persistence/FLevelDBStorageEngine.m).

Minimal code to reproduce in Objective-C

[code]

The first time this code runs, the snapshot is an integer NSNumber. The second time, it's an NS

[2017-06-20 03:22] eseidelGoogle commented on #10825
FYI @kroikie (just in case you're curious).

[2017-06-20 04:05] ianbarber opened #10853 "PluginRegistry: onRequestPermissionResult should be onRequestPermissionsResult"
Nit, but confused me for a minute.

https://docs.flutter.io/javadoc/io/flutter/plugin/common/PluginRegistry.RequestPermissionResultListener.html

This offers onRequestPermissionResult, which I believe is supposed to wrap the system or compat method, which is https://developer.android.com/reference/android/support/v4/app/ActivityCompat.OnRequestPermissionsResultCallback.html#onRequestPermissionsRes

[2017-06-20 04:11] eseidelGoogle commented on #10827
Curious: How much binary size does `use_material_design: true` add?

[2017-06-20 04:19] eseidelGoogle commented on #10443
I'm going to assume @chinmaygarde is on this for now, please un-assign if not.

[2017-06-20 04:35] eseidelGoogle opened #10854 "Selection indicator lags when dragged around large blocks of text"
This is a continuation of https://github.com/flutter/flutter/issues/9928 (which kept getting closed from Github confusion).

This is believe to be Android-only, and likely due to an incomplete implementation of Android's IME APIs.  @jason-simmons did some work in #9928 to improve our IME integration, but there is likely a bit more to do.

The original request from @kevinthegray was:

[2017-06-20 04:35] eseidelGoogle commented on #9928
I suspect this wasn't meant to be closed, but instead of fighting github, I've filed a new issue:
https://github.com/flutter/flutter/issues/10854

[2017-06-20 05:02] slowtick opened #10855 "flutter app on Android 4.4 devices calls on Android Accessibility APIs that are not available"
## Steps to Reproduce

Built a [flutter app](https://play.google.com/store/apps/details?id=com.slowtick.icer) and tested it on Android device with OS version 4.4.x and Android API level 19.
Firebase crash reporter caught NoClassDefFoundError.

## Logs

From Firebase crash report.

`
Exception java.lang.NoClassDefFoundError: android.view.accessibility.AccessibilityNodeInfo$AccessibilityAction
io.fl

[2017-06-20 05:02] Hixie commented on #6574
Is there a list of where you want haptic feedback? I don't get much haptic feedback navigating around Android on my phone, but maybe I have it disabled or something, I'm not sure.

[2017-06-20 05:26] eseidelGoogle commented on #6574
I suspect we would need to build such a list by navigating ourselves (similar to what we've done with accessibility).  It's also possible the Android team may have such a list we could find?

[2017-06-20 05:26] eseidelGoogle commented on #10855
FYI @goderbauer

[2017-06-20 05:55] tvolkert opened #10856 "GoogleSignIn plugin should not throw if user cancels sign-in"
It currently throws, causing app code to have to catch an error to handle the user cancelling the sign-in.

e.g. in the sign-in example app: https://github.com/flutter/plugins/blob/0909e96c366f2f06643dd8f3be779a84aec37750/packages/google_sign_in/example/lib/main.dart#L100

Instead, it should just return `null` -- https://github.com/flutter/plugins/blob/0909e96c366f2f06643dd8f3be779a84aec37750/pack

[2017-06-20 08:19] collinjackson commented on #10821
In flutter/plugins#144, I'm catching the exceptions and return true on success and false on failure. This should prevent the app from crashing while still giving the app a way to tell whether the call succeeded.

[2017-06-20 08:24] collinjackson commented on #10823
I had meant to include this in #89, but didn't. It will be landed in #144.

[2017-06-20 09:21] nanowang commented on #9184
@abarth Hi! any update on this one? Kinda got blocked by this issue.

Or, do you think just modifying the `engine.version` to use that branch is a good idea?

[2017-06-20 09:49] mravn-google commented on #8438
This is an issue for Flutter tooling, not about Gradle in particular.

[2017-06-20 11:13] mit-mit commented on #10669
Is this log issue related to the plugin, or a general iOS platform issue?

[2017-06-20 11:28] arcas0803 opened #10857 "Slow animation on fab transition"
## Steps to Reproduce

In the gallery example of a fab transition using a tabview, using gesture instead of tapping the tab produce a really slow animation on the fab.

## Flutter Doctor
[code]

[2017-06-20 12:10] mit-mit commented on #9881
cc @mravn-google

[2017-06-20 12:12] mit-mit commented on #10825
cc @mravn-google

[2017-06-20 13:56] eseidelGoogle commented on #10669
The log issue is a general iOS issue which @cbracken is working on resolving.  The Firebase plugin just happens to log enough in airplane mode to trigger the crash.

[2017-06-20 15:20] #10696 closed

[2017-06-20 15:21] sethladd commented on #10696
This landed.

[2017-06-20 15:21] alardizabal commented on #10531
I implemented the fix suggested by @HansMuller and I can confirm that it works for our case.

[2017-06-20 15:24] abarth commented on #9184
Sorry, no updated.  Got pulled into working on other things.

I don't think that will work because the engine.version only works for revisions that have been built and tested by the continuous integration system.

[2017-06-20 16:20] HansMuller commented on #10851
This issue came up when we added the helper text support https://github.com/flutter/flutter/pull/10852

[2017-06-20 16:24] HansMuller opened #10858 "InputDecorator could animate error to helper text changes, divider color change"
See https://github.com/flutter/flutter/pull/10852#discussion_r122886186

We could cross fade between the error and helper text, and animate the divider's color change.

I don't believe this behavior is specified in (say) https://material.io/guidelines/components/text-fields.html#text-fields-states

[2017-06-20 16:33] #10807 closed

[2017-06-20 16:35] #3861 closed

[2017-06-20 16:49] #10821 closed

[2017-06-20 16:51] collinjackson commented on #10822
Fixed in flutter/plugins#144 (version 0.0.8)

[2017-06-20 16:51] #10822 closed

[2017-06-20 16:52] collinjackson commented on #10823
Fixed in flutter/plugins#144 (version 0.0.8)

[2017-06-20 16:52] #10823 closed

[2017-06-20 16:53] #10703 closed

[2017-06-20 16:57] collinjackson commented on #10825
cc @matanlurey

The two key questions for me are:
* Will Dart 2.0 support coercion of ints to doubles, e.g. `1 + 1.0 == 2.0`? If so then we should probably continue using ints and doubles.
* Will the Firebase team eventually fix firebase/firebase-ios-sdk#91? If it's WONTFIX or will take a long time, we should implement a workaround on iOS that converts all round doubles to ints.

[2017-06-20 17:19] alardizabal commented on #10827
I've had a chat with the team and we're just going to turn material back on. It would be nice in the future to not have to depend on the material library to use some basic widgets like the date picker. For now we're fine with closing the issue.

[2017-06-20 17:48] cbracken commented on #10358
Fixed in the engine in flutter/engine#3797. Rolled into the framework in #10859.

[2017-06-20 17:48] #10358 closed

[2017-06-20 17:51] cbracken commented on #6758
Fixed in flutter/engine#3797. Rolled into the framework in #10859. This will be part of the `0.0.11` alpha release when it's cut.

[2017-06-20 17:51] #6758 closed

[2017-06-20 17:52] eseidelGoogle commented on #8231
@HansMuller sounded like you were interested in taking this?

[2017-06-20 17:53] cbracken commented on #10669
A fix to the SIGPIPE issue was landed in flutter/engine#3797. Rolled into the framework in #10859. This will be part of the `0.0.11` alpha release when it's cut.

@collinjackson is there anything further for this one?

[2017-06-20 18:27] #10787 closed

[2017-06-20 18:32] #10541 closed

[2017-06-20 18:56] lukef commented on #10827
@xster - we might want to have a warning or just remove the `uses-material-design` flag in pubspec if it is required. At the moment we have `uses-material-design: false`, but if it doesn't take up extra space in the app and its impossible to decouple material from flutter then it might just be redundant?

[2017-06-20 19:01] lukef commented on #6574
The most noticeable haptic feedback issue is in regards to text selections. On Android they should have haptic feedback. Buttons should have "click" sounds. I suspect @eseidelGoogle is right that a list should be made. Happy to help.

[2017-06-20 19:02] lejard-h commented on #730
We now have the webview plugin on IOS thanks to @toufikzitouni 👍 https://pub.dartlang.org/packages/flutter_webview_plugin

[2017-06-20 19:08] mit-mit commented on #10703
Thanks @jason-simmons !

[2017-06-20 19:10] xster commented on #10626
#10181 is somewhat tangential. Trying to figure out how to know we're in --machine mode in the deeper build commands so we can guess. @devoncarew you answered my question. I'll save that state somewhere.

[2017-06-20 19:18] ericpaepe opened #10861 "Friendlychat freezes after adding 1 message"
## Steps to Reproduce
Friendlychat
step_3_displaying_messages
run main.dart from webstorm or IntelliJ
app freezes after adding 1 message on acer T06
## Logs - console output
Launching lib/main.dart on T06 in debug mode...
Built build/app/outputs/apk/app-debug.apk (21.6MB).
V/InputMethodManager(20921): START INPUT: io.flutter.view.FlutterView{45d515a VFE...... .F...... 0,0-720,1184} ic=io.flutter.p

[2017-06-20 19:25] lukef commented on #6574
The two most noticeable ones are:

1. Haptic (vibration) feedback on any long press operation - selection, long press on an item, invoking the contextual tool/action bar, etc. You can find an example by long pressing on a message in hangouts or selecting text anywhere

2. Click sounds on any tappable item. FABs, menu items, buttons, image buttons, etc. Flutter disables interaction for items with n

[2017-06-20 19:26] yjbanov commented on #4609
We do. Closing.

[2017-06-20 19:26] #4609 closed

[2017-06-20 19:34] Hixie opened #10862 "ListView docs should talk about how to transition to a CustomScrollView+SliverGrid"
It should show how each argument maps over to the custom version, etc.

[2017-06-20 19:51] collinjackson commented on #10825
I am checking with @floitschG on the first question

I haven't gotten a response yet on firebase/firebase-ios-sdk#91 about a timeline for a fix. After talking to @lukef about this I think we're going to go ahead and just convert round doubles to ints on the native side. We can remove that workaround if it's fixed in a new Firebase release.

[2017-06-20 20:01] pauldemarco commented on #10497
Also followed the setup here but still no definitions: https://flutter.io/intellij-ide/#edit-android-code

[2017-06-20 20:02] mit-mit commented on #10497
cc @devoncarew

[2017-06-20 20:02] collinjackson commented on #10669
Let me test to make sure the crash is fixed, and then I'll close it out.

[2017-06-20 20:11] #10749 closed

[2017-06-20 20:12] Hixie commented on #643
The widgets involved in the repro case here don't exist any more, and we haven't heard any recent complaints, and the cause I suggested might be the cause above is now something we'll catch, so I'm going to close this optimistically.

[2017-06-20 20:12] #643 closed

[2017-06-20 20:14] Hixie commented on #669
I'm going to close this since it's specific to the stocks demo. It'll probably eventually get fixed the next time someone does a clean-up sweep through that code.

[2017-06-20 20:14] #669 closed

[2017-06-20 20:15] Hixie commented on #670
This code has completely changed since then. If it's still an issue we will catch it during performance testing.

[2017-06-20 20:15] #670 closed

[2017-06-20 20:16] Hixie commented on #685
It's not clear what is being requested here. @mit-mit If there's something we should document, can you file a bug specifically saying what should be documented? Thanks!

[2017-06-20 20:16] #685 closed

[2017-06-20 20:17] eseidelGoogle commented on #823
We long ago changed Flutter to log with the app name specified in pubspec.yaml.  Closing. :)

[2017-06-20 20:18] Hixie commented on #732
We're going to close this since we haven't had explicit customer requests for it.

[2017-06-20 20:18] #732 closed

[2017-06-20 20:19] Hixie commented on #733
This should be possible if you use masks and so forth.

[2017-06-20 20:19] #733 closed

[2017-06-20 20:19] collinjackson commented on #10669
I tested just now on 2f979914e4 which includes your engine roll and it no longer crashes. Thanks!

[2017-06-20 20:19] #10669 closed

[2017-06-20 20:20] #821 closed

[2017-06-20 20:21] Hixie commented on #855
I'm going to close this. We'll hit it when we try to do intl, if we need it.

[2017-06-20 20:21] #855 closed

[2017-06-20 20:22] #859 closed

[2017-06-20 20:22] Hixie commented on #863
We're going to close this and add these on a case by case basis when we find we need them.

[2017-06-20 20:22] #863 closed

[2017-06-20 20:24] Hixie commented on #936
I think we do this already, please reopen if I misunderstood.

[2017-06-20 20:24] #936 closed

[2017-06-20 20:24] Hixie commented on #973
@eseidelGoogle Please to verify.

[2017-06-20 20:25] Hixie commented on #981
Will fix as part of https://github.com/flutter/flutter/issues/4021.

[2017-06-20 20:25] #981 closed

[2017-06-20 20:29] a-siva commented on #10381
Is this in some sense a dup of #10684

[2017-06-20 20:30] Hixie commented on #10853
cc @mravn-google @mit-mit

[2017-06-20 20:31] Hixie commented on #10850
cc @chinmaygarde

[2017-06-20 20:31] a-siva commented on #9875
@jsonpeng can you provide us some instructions on how to reproduce this error.

[2017-06-20 20:32] Hixie commented on #10847
cc @chinmaygarde

We may want to expose this using the AppLifecycle stuff.

[2017-06-20 20:33] Hixie commented on #10839
cc @mravn-google

[2017-06-20 20:34] eseidelGoogle commented on #10837
Supposedly http://checkstyle.sourceforge.net/ can tell us javadoc coverage infos.

[2017-06-20 20:35] #10833 closed

[2017-06-20 20:39] lukef commented on #685
We have an early stage plugin here: https://github.com/goposse/permit.

It is **NOT** ready for any kind of integration, but it will support common permission on iOS and Android. We decouple the permissions from the feature as it is generally impossible to integrate the two and have acceptable UX.

I'll let you know when it is refactored and ready for review.

[2017-06-20 20:44] Hixie commented on #10569
cc @chinmaygarde Let me know if you don't have the bandwidth to look at this, and I can take a look once I'm doing with my other bugs.

[2017-06-20 20:46] sethladd commented on #10387
This is a valid use case, but we want to look at solving this in a generic way. Ideally, there's a developer-accessible build system which Flutter either provides or can take part of. Something like make, gradle, maven, etc, etc. If such an extensible system for Flutter existed, we'd see a rich ecosystem of "tasks" be submitted to pub.dartlang.org in order to fill out the esoteric or even common b

[2017-06-20 20:46] #10387 closed

[2017-06-20 20:46] Hixie commented on #9665
@FaisalAbid We're going to close this because we believe we've fixed it; please don't hesitate to reopen it if it's not fixed!

[2017-06-20 20:46] #9665 closed

[2017-06-20 20:49] Hixie commented on #9607
@cbracken Did you say you were working on this?

[2017-06-20 20:51] Hixie commented on #8986
@yjbanov You marked this customer blocker but it has no customer label, was that intentional?

[2017-06-20 20:53] sethladd commented on #9870
I've re-titled this issue to better reflect the overall user journey. There are many use cases that could be solved with a developer-customizable (or, developer extensible) build system.

* code generation before a hot reload
* image resizing
* downloading and processing data before a build
* hooking into specific APK optimization tasks in gradle

We don't necessarily have to build anything, but w

[2017-06-20 20:53] eseidelGoogle commented on #8986
http://www.albionresearch.com/misc/obscurity/finding_why_appt_exe_is_crashing.php maybe?

[2017-06-20 20:54] Hixie commented on #6574
cc @goderbauer

[2017-06-20 20:55] Hixie commented on #188
Duping to https://github.com/flutter/flutter/issues/10826.

[2017-06-20 20:55] #188 closed

[2017-06-20 21:05] collinjackson commented on #10827
it's not clear that there's an action we can take here and @lukef said this can be closed. closing

[2017-06-20 21:05] #10827 closed

[2017-06-20 21:36] Hixie commented on #823
We still log as "flutter" as far as I can tell.

[2017-06-20 21:48] sethladd commented on #10582
This is what we're sending: `{utv: run, utt: 1253, utl: fail, utc: flutter, an: flutter, av: dev/ab30432fe4, ul: en-us, dimension1: Mac OS X 10.12.5 16F73, dimension2: dev, v: 1, tid: UA-67589403-6, cid: a652d13a-48c4-44e4-8c77-bc7574f4c062, t: timing}`

Note that `dimension1` is being set to a nice and verbose OS version and name.

[2017-06-20 21:48] devoncarew commented on #10497
This is still an area where we need to improve (working better with the Java code in a Flutter project). @skybrian has context here, and @stevemessick will likely take a look at it in the future.

[2017-06-20 21:54] skybrian commented on #10497
I haven't looked at `flutter create --plugin` at all, so I expect it requires similar changes to the non-plugin templates.

[2017-06-20 21:56] sethladd commented on #10582
Ah, looks like custom dimensions should be set with `cd<index>` : https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#cd_

[2017-06-20 22:04] nacardin commented on #2396
I'm currency working on an app that needs to use digital signatures, specifically EdDSA. Since there are C implementations which are stable and known to be reliable, I think it would be safer to use FFI, rather than trying to port the algorithm to dart.

Especially with WebAssembly becoming widely supported, Flutter would be at a disadvantage if it didn't allow FFI to use native libraries.

[2017-06-20 22:06] devoncarew commented on #10582
Ah, good catch :)

[2017-06-20 22:18] sethladd commented on #2396
You may be able to use our plugins system to communicate between the Flutter Dart code and platform-specific libraries: https://flutter.io/platform-plugins/

[2017-06-20 22:23] pcariel opened #10866 "Firebase Phone Auth ?"

[2017-06-20 22:42] sethladd commented on #9501
What's most important? Ideas for what the first set of data would be?

[2017-06-20 22:42] sethladd commented on #9595
Is the bug "the timing of flutter run doesn't include flutter build" ?

[2017-06-20 22:43] sethladd commented on #10751
I'll take a crack at this.

[2017-06-20 22:45] xster commented on #9595
ya, either commands that include other commands should trigger a nested recording of everything or just record the top parent command only.

[2017-06-20 22:45] #10825 closed

[2017-06-20 22:45] xster commented on #10751
Thanks Seth!

[2017-06-20 22:50] eseidelGoogle commented on #2396
https://github.com/flutter/flutter/issues/7053 is probably what you want.  You can integrate with C code today with Flutter, you just have to bounce through Java/Obj-C first.

[2017-06-20 22:51] chinmaygarde commented on #10569
Won't be able to investigate this in the near future.

[2017-06-20 23:18] Hixie commented on #10569
Ok. I'm putting it on my plate but I will probably not be able to get to it this month.

[2017-06-20 23:36] cbracken commented on #9308
The double-printing should be fixed by a combination of a few patches, the latest of which is flutter/engine#3797.  If you see this again please re-open.

[2017-06-20 23:36] #9308 closed

[2017-06-20 23:46] goderbauer commented on #10550
@mehmetf I am re-working the google_sign_in plugin a bit to fix https://github.com/flutter/flutter/issues/10688.

Do you have ab example of how I can trigger an UserRecoverableAuthException and see it getting resolved? I want to make sure that the re-work doesn't re-surface this bug (I wish we had better testing for the plugins... https://github.com/flutter/flutter/issues/10824).

[2017-06-20 23:49] HansMuller opened #10867 "Classes that depend on PageStorage need to explain PageStorageKeys"
Currently the scrollable classes, ExpansionTile, and PaginatedDataTable rely on PageStorage to save and restore state across widget lifetimes. The corresponding API doc should explain the implications of PageStorageKeys, particularly the need to for multiple PageStorage clients to distinguish themselves.

[2017-06-21 00:04] HansMuller opened #10868 "PageStorageKeys might benefit from a way to identify their primary client"
Customer Leafy ran into a confusing problem: ExpansionTiles were asserting in initState():
[code]
The problem was that the ExpansionTile's were looking up their expanded/collapsed boolean with PageStorage, but only the enclosing PageView specified a PageStorageKey.  PageView uses PageStorage to save its double scroll offset.

In this case it would have been preferable for the expansion tiles to no

[2017-06-21 00:07] Hixie commented on #10868
I guess another option is that we add the type back in to the key somehow, though then you'd have all the panels stomping on each other which is no good.

[2017-06-21 00:11] Hixie opened #10869 "FocusNode documentation"
FocusNode does not make it clear that you shouldn't just create it in a build method each time.

[2017-06-21 00:26] xster commented on #10626
Oops, pasted the wrong PR for saving before. Fixed

[2017-06-21 01:37] perlatus opened #10872 "shared_preferences 0.2.4+1 breaks GeneratedPluginRegistrant.java"
## Steps to Reproduce

Triggered by upgrading `shared_preferences` package to '0.2.4+1'. Downgrading to '0.2.4' or '0.2.3' fixes it for me.

Similarly, removing the shared_preferences package altogether removes the issue.

## Logs

### `flutter run`
[code]
### `flutter analyze`
[code]

## Flutter Doctor

[code]

[2017-06-21 01:46] xster commented on #10827
For a better understanding of your main motivations and to maybe derive some long term tasks on our end, were your first principles with this mainly to:

1- Not use material library and widgets at all? Somewhat hinted at it in https://github.com/flutter/flutter/issues/10827#issuecomment-309827835 but I wasn't quite sure
2- Not incur any app size costs associated with using material in the form of

[2017-06-21 01:48] sethladd commented on #10820
Thanks for the feedback!

Does this have to be part of the core Flutter framework? I wonder if a package would suffice. Flutter can write files and directories (see https://flutter.io/reading-writing-files/)

Does the http package provide necessary hooks, or would someone need to write a full wrapper around http package?

[2017-06-21 01:51] xster opened #10873 "Improve pod install latency"
Make sure no redundant work is done with CocoaPod during builds.

Make sure repeated builds has a fast pod step.

[2017-06-21 01:52] xster commented on #10873
Related nature of issue #7673

[2017-06-21 01:52] sethladd commented on #10767
Here's a zip of the timeline , which should show three taps on my emulator.

[dart-timeline-2017-5-20.zip](https://github.com/flutter/flutter/files/1090117/dart-timeline-2017-5-20.zip)

@eseidelGoogle what kind of hardware info would be useful from my emulator? Happy to grab it.

[2017-06-21 01:58] lukef commented on #10827
So, the `uses-material-design` option is actually a little confusing. We were under the impression that it meant that it wouldn't load the icon font (essentially) and we were using it with the intention to save space because we weren't using the `Icon` class at all. We still wanted to use the other classes though. So, option number 2.

In hindsight, it makes perfect sense that other things in the

[2017-06-21 02:22] sethladd opened #10874 "Wish for a warning/error if a declared asset doesn't exist"
Declare a non-existent asset in your pubspec.yaml:

Actual: no error or warning appears in the pubspec.yaml editor in your editor/IDE

Expected: a yellow or red underline that the asset doesn't exist

For example, "assets/kitten1.jpg" doesn't exist on my filesystem, but I don't see any feedback:

![pubspec](https://user-images.githubusercontent.com/5479/27364169-b9d7ff4c-55ed-11e7-9806-cd327910abf

[2017-06-21 02:27] sethladd opened #10875 "Request for API docs for Image.asset constructor (what is asset name?)"
When reading https://docs.flutter.io/flutter/widgets/Image/Image.asset.html I was left with the question "what does the `name` mean or expect to be" ?

Does the `name` argument intend to be the exact matching path as declared in the asset bundle, which is declared in the pubspec.yaml ?

Assume I have this in my pubspec.yaml:

[code]

What do I pass to the `name` argument of `new Image.asset(_____)

[2017-06-21 02:37] Hixie commented on #10827
Where would you look for this documentation?

[2017-06-21 02:38] sethladd opened #10876 "Type in API docs for ImageProvider"
In ImageProvider: https://docs.flutter.io/flutter/services/ImageProvider-class.html docs we have this line:

"(It is essentially a bare-bones version of the Image widget.)"

The word "Image" is linked over to dart:ui's Image. I think we meant to link over to the widget library's Image?

[2017-06-21 02:42] Hixie commented on #10876
oops!

[2017-06-21 02:43] lukef commented on #10827
I would think probably a Getting Started guide. Either here: https://flutter.io/setup or something like https://firebase.google.com/docs/android/setup. Ideally that would explain that if you want to use the material package then you should set that value to `true`. If you don't want to use it, set it to `false`. I think we read too much into that flag ultimately.

If that flag is meant to represen

[2017-06-21 02:47] sethladd opened #10877 "Request to clarify width and height arguments in Image.asset() constructor API docs"
Was reading https://docs.flutter.io/flutter/widgets/Image/Image.asset.html and we mention: "If width and height are both specified, and scale is not, then size-aware asset resolution will be attempted also."

A couple of questions come to mind:

* What if width and height are not specified?
* What do width and height actually mean? The expected w and h of the image? The "scale to this w and h" ?

[2017-06-21 02:51] Hixie opened #10878 "Getting Started guide should explain pubspec.yaml uses-material-design option better"
From https://github.com/flutter/flutter/issues/10827:

[2017-06-21 02:51] Hixie commented on #10827
Cool, thanks. Filed https://github.com/flutter/flutter/issues/10878.

[2017-06-21 02:53] Hixie commented on #10767
Wow, ok. This is all GPU and, to a lesser extent, compiling.
cc @chinmaygarde (GPU), @goderbauer (Windows), @jason-simmons (Android)

[2017-06-21 02:58] eseidelGoogle commented on #10820
@donny-dont might know.

[2017-06-21 03:15] yjbanov commented on #8986
Nope, probably clicked too much.

[2017-06-21 03:45] mehmetf commented on #10550
Externally, this happens when you need to give consent prior to login (for instance an app is asking for Drive API scope; you need to give consent before they can access).

Internally, you can reproduce this by going to your Device Policy settings and turning it off. you won't be able to use your corp account and it will forward you to the policy page via a recoverable exception.

[2017-06-21 03:51] mehmetf commented on #10550
@goderbauer The current plugin doesn't handle this, right? That's why we have this issue open. So your re-work is not going to regress anything AFAIK.

[2017-06-21 03:52] mehmetf commented on #10622
Closed with https://github.com/flutter/plugins/pull/127

[2017-06-21 03:52] #10622 closed

[2017-06-21 04:19] jtrunick opened #10879 "Flutter upgrade issue"
## command

flutter upgrade

## exception

ArgumentError: Invalid argument(s): Cannot find executable for /Users/joelt/dev/3rd_party/flutter/bin/cache/dart-sdk/bin/pub.

[code]

## flutter doctor

[code]

[2017-06-21 04:36] eseidelGoogle commented on #9965
@chinmaygarde @brianosman This was the issue about 4444 emulators I was mentioning today.  Given that this was occurring on modern hardware, and with the latest Android Studio, we shouldn't even see 4444 surfaces there, no?  Would be good to find a path to resolution (or at least better diagnosis) here.

[2017-06-21 04:51] eseidelGoogle commented on #9249
See also https://github.com/flutter/flutter/issues/7530.

[2017-06-21 07:11] luksireiku opened #10881 "Any plan for Windows UWP support in the future?"
I'm sorry if it's not the place for asking, I couldn't find anything about it anywhere.

[2017-06-21 08:20] BoaNeo opened #10882 "Flutter Doctor insists on having Android Studio when I already have IDEA"
It's kind of annoying to have to install an additional 500MB of IDE that I'll never use and which is essentially a copy of what I already have (Intellij IDEA) - is there no way that Flutter could use IDEA instead if present?

[2017-06-21 08:56] mravn-google opened #10884 "Non-obvious to implement deep linking with MaterialApp"
It takes a bit of guess-work to set up a `MaterialApp` with deep linking.

First, the platform-specific code must call `setInitialRoute` on their `FlutterView`/`FlutterViewController` to ensure a given deep link is made available to Flutter on launch. With the Android `FlutterActivity`, this must be done after execution of [this line](https://github.com/flutter/engine/blob/master/shell/platform/an

[2017-06-21 09:29] mravn-google commented on #10884
Sample deep linking Android app available [here](https://gist.github.com/mravn-google/73d813cc0634b9c0639d38c82ef78ad2). Includes the main points of change from the `flutter create` template and a shell command for testing that the app can be launched on an Android device using a deep link.

[2017-06-21 09:59] floitschG commented on #10541
This has been closed, but just in case you can easily reproduce: the micro/milliseconds for the failing UTC code would still be interesting to me.
It's not a big deal, though. (Just would like to make sure there isn't a bug elsewhere).

[2017-06-21 10:29] mit-mit opened #10885 "Flutter run broken on iOS devices"
## Steps to Reproduce

The following steps work as expected:

[code]

The following steps don't:

[code]

=>

[code]

## Flutter Doctor

[code]

[2017-06-21 12:11] mravn-google opened #10886 "flutter run fails when device is screen locked: bad error msg"
## Steps to Reproduce

- On MacOS with iPod plugged, no simulators.
- `$ flutter create hello`
- `$ cd hello`
- `$ flutter run`
- Setup code signing in Xcode. Meanwhile, device goes to sleep.
- `$ flutter run`

## Logs

[code]

## Flutter Doctor

[✓] Flutter (on Mac OS X 10.12.5 16F73, locale en-US, channel master)
    • Flutter at /Users/mravn/github/flutter
    • Framework revision ceb814aa64 (7

[2017-06-21 12:14] mit-mit commented on #10885
cc @cbracken I guess this is some kind of configuration issue, but I am not aware of making any changes to my setup.

[2017-06-21 12:16] szakarias opened #10887 "Flutter run fails on connected iOS device"
`flutter create my_app`
`cd my_app`
`flutter run`

produces:

[code]

[2017-06-21 13:51] tvolkert commented on #10884
Does https://github.com/flutter/engine/pull/3795 address part of this?

[2017-06-21 13:59] eseidelGoogle commented on #10887
This seems expected.  The big block at the bottom attempts to explain how to resolve.  Apple has to generate a cert for your com.example.june21c application identifier, which is only possible from within Xcode to our knowledge.  @xster would know.

[2017-06-21 14:00] eseidelGoogle commented on #10885
Any luck with:
[code]

FYI @xster

[2017-06-21 14:01] eseidelGoogle commented on #10886
Presumably the Xcode GUI fails with a nicer message?  FYI @xster @cbracken

[2017-06-21 14:03] eseidelGoogle commented on #10882
This is likely a dupe of https://github.com/flutter/flutter/issues/9747.

[2017-06-21 14:04] mit-mit commented on #10885
It runs with no errors or warnings from Xcode. But it consistently fails from the terminal.

[2017-06-21 14:08] eseidelGoogle commented on #10881
Currently our project is focused on Android and iOS deployment targets.
https://flutter.io/faq/#what-devices-and-os-versions-does-flutter-run-on

It's certainly possible to port Flutter's runtime to UWP: https://github.com/flutter/engine/wiki/Porting-Flutter's-Engine
however we've not had very many requests for that.  Someone could certainly fork flutter/engine and do so themselves if they desired

[2017-06-21 14:08] #10881 closed

[2017-06-21 14:09] eseidelGoogle commented on #10879
This looks like the Dart revision failed to install correctly.

`rm /Users/joelt/dev/3rd_party/flutter/bin/cache/dart-sdk.stamp`

should fix.

[2017-06-21 14:11] eseidelGoogle commented on #10884
FYI @lukef

[2017-06-21 14:13] mit-mit commented on #10887
Could we configure projects to use some general 'development preview' team with a wild card profile?

[2017-06-21 14:34] szakarias commented on #10887
So the command line certificate selection is not possible with personal teams?

[2017-06-21 14:44] eseidelGoogle commented on #10887
Yeah, we'll have to ask @xster.  It used to be whenever certificates weren't perfectly configured in Xcode, `flutter run` would just fail.  @xster added some support for auto-config, but it only covers some scenarios is my understanding.  See https://github.com/flutter/flutter/issues/10195 and https://github.com/flutter/flutter/issues/10135

[2017-06-21 14:54] mravn-google commented on #10884
@tvolkert Partially, yes. But not if you want to use your own Intent action (other than `Intent.ACTION_RUN`), URI (which we use for the app bundle path), or extra fields (we use a `route` String extra, but I couldn't find the documentation for that by a quick searching flutter.io).

See e.g. https://github.com/goposse/fluro for a more advanced use case.

Again, this may be resolved by just adding

[2017-06-21 15:13] cbracken commented on #10885
This seems like a dupe of #4326, which includes a workaround until ios-deploy is patched upstream. Please re-open if it seems like something different.

[2017-06-21 15:13] #10885 closed

[2017-06-21 16:00] HansMuller commented on #10874
Note also: I hope to upload a PR for  https://github.com/flutter/flutter/issues/8231 today.   That would change the error detection algorithm here a little: we'd be OK if the "main" asset didn't exist but at least one variant did.

Not to put too fine a point on it but, this would be OK:
[code]

[2017-06-21 16:08] mehmetf commented on #10690
@goderbauer just looped me in on this.

Automanage (unfortunately) does not fit to plugin use case for another reason: There can only be one auto-managed GoogleApiClient in the entire activity. If multiple plugins will need to use this, we will quickly run into a problem (e.g. Google Drive plugin would need it).

How hard is it to introduce a shared library for plugins? For now, it does not keep s

[2017-06-21 16:27] sethladd commented on #10878
Do we also need to update the comments in the pubspec.yaml template that is used to generate the starter template?

[2017-06-21 16:36] Hixie commented on #9898
See also https://github.com/flutter/flutter/issues/10764 which is specifically about our tests that use `pub`.

[2017-06-21 16:36] Hixie commented on #10764
See also https://github.com/flutter/flutter/issues/9898 which is about the `flutter` tool itself.

[2017-06-21 16:37] Hixie commented on #9898
Keywords that I sometimes use to search for this: pub flaky, download network error, retry...

[2017-06-21 16:41] Hixie commented on #10884
I'm fixing the Dart side of this. I have a patch mostly complete.

[2017-06-21 16:42] goderbauer commented on #10690
I read through the docs yesterday and it sounds like a properly manual managed connection is undistinguishable from an auto-managed connection. So, my plan for this was to just replace the auto-managed connection altogether. That should fix the issue for now.

[2017-06-21 16:44] goderbauer commented on #10550
Todd's https://github.com/flutter/plugins/issues/114 claims to have fixes this (and probably forgot to close the issue @tvolkert). However, the fix relies on auto-managing the connection, which I intent to replace by a manual managed connection to fix other issues. In doing though, I wanted to make sure we don't break this again.

[2017-06-21 16:44] Hixie commented on #10884
(Mostly driven from https://github.com/flutter/flutter/issues/618.)

[2017-06-21 16:51] mehmetf commented on #10550
You are right. This is one of the things automanage manages for you. You would need to do it manually now.

[2017-06-21 16:59] tvolkert commented on #10884
On the Java side, it looks like adding an API hook [here](https://github.com/flutter/engine/blob/fffe502d437ac7931f08c6cef3e3f71fbd36adaa/shell/platform/android/io/flutter/app/FlutterActivityDelegate.java#L146) is needed.  @mravn-google do you agree, and would this cover the use cases you've seen, or is more needed?

[2017-06-21 17:03] #10571 closed

[2017-06-21 17:04] tvolkert commented on #10690
Thanks everyone - it sounds like manual management is definitely the way to go.

[2017-06-21 17:05] tvolkert commented on #10690
@mehmetf is this still needed in a manually-managed environment?

[2017-06-21 17:39] mehmetf commented on #10552
This is tested and fix is verified.

[2017-06-21 17:39] #10552 closed

[2017-06-21 17:47] #10730 closed

[2017-06-21 17:54] #10582 closed

[2017-06-21 18:31] sethladd commented on #10767
Thanks for taking a look!

I may or may not have my emulator setup correctly (??) ... happy to provide more data here.

[2017-06-21 19:12] xster commented on #10886
- [ ] Better error message when phone is locked
- [ ] Better error message when phone has not yet trusted the computer

[2017-06-21 19:31] #10855 closed

[2017-06-21 19:33] pcomans opened #10890 "Calling TextController.clear() raises exception"
## Steps to Reproduce
Call _textController.clear(); in an event handler.
[code]
This used to work, see the example in the CodeLab: https://codelabs.developers.google.com/codelabs/flutter/index.html#4

## Logs

[code]

## Flutter Doctor

Running flutter doctor...
[✓] Flutter (on Mac OS X 10.12.5 16F73, locale en-US, channel alpha)
    • Flutter at /Users/philipp/code/flutter
    • Framework revisio

[2017-06-21 19:40] collinjackson commented on #10826
There's a workaround that should get around this:

[code]

This is inspired by how the Flutter UI codelab works (we want to use the bottom of the ListView as the scroll anchor instead of the top, so that the software keyboard will shift the list contents upwards).

[2017-06-21 19:45] jason-simmons commented on #10890
This should have been fixed by https://github.com/flutter/engine/commit/e5b79ba63b92aa0c4299836f4433ec0de23b7cb3

(If you're on the alpha branch, try switching to master)

[2017-06-21 19:56] collinjackson commented on #10826
You can use a `SingleChildScrollView` with a `Column` instead of a `ListView` to prevent the keyboard from dismissing. It won't solve the problem of the text field being hidden by the keyboard, but it would at least allow the user to scroll down to it and fill it out.

[2017-06-21 19:56] jason-simmons commented on #10861
The Java exception is a duplicate of https://github.com/flutter/flutter/issues/10748

The fix isn't in the current alpha branch.  We should do another push to alpha soon.

[2017-06-21 20:02] #8989 closed

[2017-06-21 20:13] otaviojr commented on #10541
@floitschG I tried to reproduce it and it is working now... with the same UTC code. When I updated flutter dart gets a new version too. I do not change my simulator neither changed anything on xcode. I don't know what have changed, but, april gets 30 days now with UTC code and october gets 31. Maybe the simulator gets new DST info? I really don't know. I think that freeing this from any datetime d

[2017-06-21 20:15] xster commented on #10887
Ya, this is expected.

We can automatically select a development certificate in every case, either with corp certificates or personal ones.

But a provisioning profile needs to exist for every new application bundle ID you create. That can either be done automatically by opening Xcode (unfortunately not automatable in command line) or by going to the developer console website and adding a bundle I

[2017-06-21 20:37] alardizabal commented on #10826
Thanks @collinjackson . The SingleChildScrollView workaround makes my form useable. The fix would be great so that the text fields aren't hidden requiring the user to scroll the field into view.

[2017-06-21 20:47] collinjackson commented on #10826
OK, good.

@Hixie is going to work on preventing fields from being scrolled offscreen by the keyboard as part of his work on #105 next week. Once that is done, we can close this bug and you'll be able to go back to using `ListView`.

[2017-06-21 20:48] mravn-google commented on #10884
Yes, I think that would make sense. I actually immediately tried to override `loadIntent` first, but then found it private.

Just discovered a regression here, I believe: `loadIntent` is also called from `onNewIntent` where we actually want to delegate to `pushRoute`, not `setInitialRoute`.

[2017-06-21 20:53] mehmetf commented on #10690
@tvolkert Needed? No. However, manually managing a connection is not that trivial. There are a lot of corner cases and boilerplate code. If we can do that centrally for all plugins that need a GoogleApiClient, that would be nice. Since GoogleSignIn is the only plugin that needs this at the moment, there is no _need_.

[2017-06-21 20:56] tvolkert commented on #10690
Let's wait until we have two plugins that need to share code in that way to avoid over-designing it.

[2017-06-21 21:16] mehmetf commented on #10856
@goderbauer wants to fix this in the current PR for manually managed connections

[2017-06-21 21:17] mehmetf commented on #10856
I have an open PR for it which can be merged to Michael's PR. https://github.com/flutter/plugins/pull/147

[2017-06-21 21:28] sethladd opened #10893 "Requesting convenience method: getting the image from an Image widget"
Today, to get an image from an image widget, you have to jump through a few steps:

[code]

It would be pretty nice if we had a convenience method like this:

[code]

(strawman names, of course)

[2017-06-21 21:34] Hixie commented on #10893
Generally we don't consider widgets to be things you read from.

The expected code today would be:
[code]

However, that wouldn't necessarily give you the right thing (nor would the code above). The actual image obtained could depend on e.g. the actual device pixel ratio (well, for network images we currently ignore the image configuration, but for asset images we don't).

What are you actually tr

[2017-06-21 21:43] donny-dont commented on #10820
@sethladd @eseidel `http` is moving to a middleware based implementation in the same vein as `shelf`. If you wanted something like this you would end up writing a middleware that would make decisions based on the caching headers. Once the middleware bits are fully integrated into `http` then we can talk more about how one would do that.

[2017-06-21 21:50] apwilson opened #10895 "Flutter should handle EXIF tags when decoding images."
![miguel_cc0jpg](https://user-images.githubusercontent.com/142874/27408354-07a70cc4-5691-11e7-904b-7ddb532746fc.JPG)

[2017-06-21 21:51] sethladd commented on #10893
Yes, that was the original question. Which I admit, is just a curiosity. If the answer is "don't use a widget if you want to get easy access to the ui.Image, instead here's the code you'll need: ..." then that's fine. We can document that.

[2017-06-21 21:51] apwilson commented on #10895
But isn't sideways on my linux machine.  I assume it has some exif data that orients it?  Should flutter read that data?

[2017-06-21 22:03] sethladd commented on #10820
@donny-dont can you please link to an issue/PR that describes the new http middlewear?

In the meantime, we'll close this and defer to the http package to provide at least the hooks to make it possible for someone to write an additional package/extension for the http package.

We like the suggestion, we just think it doesn't need to happen in the core Flutter framework. Thanks for the feedback!

[2017-06-21 22:03] #10820 closed

[2017-06-21 22:32] wmleler commented on #73
I too would like to be able to use maps in Flutter, but there is a simple case that might be a workaround. If I could have a full screen native map being displayed, and have a semi-transparent Flutter layer above it, and some easy way to communicate between the native map layer and the Flutter app (e.g., to tell when the map moves, its center lat/lng, zoom level, etc.) that would work for quite a

[2017-06-21 22:33] sethladd commented on #73
Found this plugin from @FaisalAbid : https://github.com/FaisalAbid/flutter-google-maps

[2017-06-21 22:34] jason-simmons commented on #10890
This is rolled out to alpha now

[2017-06-21 22:34] #10890 closed

[2017-06-21 22:35] jason-simmons commented on #10895
Skia doesn't apply EXIF tags when decoding images.  See https://github.com/flutter/flutter/issues/10533

[2017-06-21 22:59] filiph opened #10898 "Issue from website page Search: documents about flutter_markdown are 404"
From URL: https://flutter.io/search.md

Repro:
* Try to search for `markdown` from anywhere on the flutter.io site
* Click at any of the provided links

Expected: land on documentation
Actual: 404 Page (e.g. https://docs.flutter.io/flutter/flutter_markdown/Markdown-class.html)

[2017-06-21 23:12] donny-dont commented on #10820
Sure @sethladd

I would say https://github.com/dart-lang/http/issues/60 is the tracking bug. For middleware specifically there is https://github.com/dart-lang/http/pull/85. After that lands there will be a PR for `Pipeline` and `Cascade` which should look like their counterparts in `shelf`. Then its adding some tests and figuring out what to do with MIME types. Extension methods would be nice for

[2017-06-21 23:14] KevinTheGray opened #10899 "Firebase Database iOS plugin, if query using startAt or endAt does not specify key value, it causes an exception"
## Steps to Reproduce
- Use version 0.0.9
- if you use a query with startAt/endAt and don't specify a key and use the query.

My code was something like this, this is **NOT** the only case it will happen, but just an example of when it would happen.  I assume it will happen any time you use the query to listen for an event.
[code]
## Logs

[code]

## Flutter Doctor
[code]

[2017-06-21 23:17] bramvbilsen commented on #73
@sethladd It's a great first step. But as Flutter focuses on cross platform development, it should have a plugin for both platforms. But I'm sure tons of new plugins will come when inline views are available.

[2017-06-21 23:22] pcomans commented on #10890
@jason-simmons That fixes it

[2017-06-21 23:33] KevinTheGray opened #10900 "Firebase Database on Android queries with listener does not appear to behave as in iOS"
## Steps to Reproduce

- Use Android, use firebase-database 0.0.9
- Try a query and listener like this
[code]

On iOS, it will listen for new items added after the specified published date, and the event only fires in that case, which is the behavior I expect.  On Android, the onChildAdded event gets hit for every item it has, and it does not fire when a new item is added.

## Flutter Doctor

[✓]

[2017-06-21 23:52] eseidelGoogle commented on #10900
@collinjackson is likely the right person to see this (and likely already has).

[2017-06-21 23:54] eseidelGoogle commented on #10899
@collinjackson

[2017-06-21 23:56] eseidelGoogle commented on #10898
@Hixie is flutter_markdown still a supported part of our offering?  Should we remove it from flutter/flutter_markdown as well as from our docs?

[2017-06-21 23:59] Hixie commented on #10898
Those documents are long gone, I don't know why Google Search hasn't removed them from its index yet.

Markdown is now a separate package: https://pub.dartlang.org/packages/flutter_markdown

[2017-06-22 00:00] eseidelGoogle commented on #10887
Re: profiles from command line -- Ran across https://github.com/nomad/cupertino just now.  Not sure it's supported.  Claims to help with provisioning profiles.

[2017-06-22 00:15] xster commented on #10887
I think that project is deprecated and https://github.com/fastlane/fastlane is the biggest toolchain for the code signing flow. But I think it's too heavy of a dependency to bring in and is a bit too unofficial (it actually logs onto the apple website and does scrapping etc). I think it'll also become deprecated with the new set of Xcode 9 command line tools coming out.

[2017-06-22 00:19] filiph commented on #10898
Does anyone have Google [Search Console](https://www.google.com/webmasters/tools/home?hl=en) (aka Webmaster Tools) access for flutter.io? I think you can manually ask for de-indexing there.

`sitemap.xml` also works, but we'd have to make sure it's complete.

[2017-06-22 00:20] filiph commented on #10898
Also, if we know about swaths of stuff that recently moved, we should probably do 301 redirects. It's easy enough with firebase.

[2017-06-22 00:22] jason-simmons commented on #10900
I noticed that the handler for startAt in FirebaseDatabasePlugin.java is checking for Integer or Double objects, but not Long or BigInteger types.  nowInUTCMillis probably exceeds the bounds of a Java int, so the StandardMessageCodec would marshal it as one of the larger integer types.

If FirebaseDatabasePlugin doesn't recognize the startAt type, then it will not apply the startAt filter to the q

[2017-06-22 00:22] #9589 closed

[2017-06-22 00:26] Hixie commented on #10898
cc @sethladd

[2017-06-22 00:40] jxson commented on #10847
@eseidelGoogle could you add the customer:blocker label?

[2017-06-22 00:42] Hixie commented on #2531
https://fuchsia-review.googlesource.com/c/35742/

[2017-06-22 00:43] Hixie commented on #903
https://github.com/flutter/engine/pull/3811

[2017-06-22 04:43] collinjackson commented on #10900
Thanks for looking into this @jason-simmons. I posted a PR for your review at flutter/plugins#149

[2017-06-22 05:11] Hixie commented on #10877
Turns out it means nothing, that documentation is a lie. We don't yet implement size-aware asset resolution.

[2017-06-22 05:41] Hixie commented on #10453
Once you've passed a list to a ListView, you cannot change it again. If you want to change the children, you have to create a new list and pass that in.

I'm not sure how or where to document that.

[2017-06-22 05:42] Hixie commented on #10301
I can't think of a way to explain this other than just including a diagram.

[2017-06-22 05:43] felix-hubo opened #10903 "ERRORs when running flutter doctor"
I met errors when running flutter doctor. It's related with proxy settings.

## Flutter Doctor

Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\CNFEHU1>flutter doctor
Checking Dart SDK version...
Downloading Dart SDK 1.24.0-dev.6.7...
Start-BitsTransfer : HTTP status 407: Proxy authentication is required.
At C:\Users\CNFEHU1\Documents\

[2017-06-22 07:43] szakarias commented on #10887
I see, I only had  a personal one.  I'll close this bug then. :-) Thanks for the answers.

[2017-06-22 07:43] #10887 closed

[2017-06-22 08:39] susch19 commented on #10453
@Hixie
For my understanding i already do that, maybe im missing something, so here is the code, that leads to this misbehavior (on dismiss):
[code]

here is my dismiss method (reduced to the important part, rest is server communication):
[code]

[2017-06-22 08:50] kamathln commented on #8945
Hi, Please update the docs at least with what is possible and what is not.. That will at least help people evaluate if Flutter is right for the project at hand.

[2017-06-22 10:48] Solido commented on #10866
Already discussed https://github.com/flutter/flutter/issues/10404

[2017-06-22 10:58] namiwang opened #10906 "typographic: requesting a solution for subscripts/superscripts in richtext"
For a content-oriented app we're working on, we feel that flutter is lacking a solution for <sub>subscripts</sub> and <sup>superscripts</sup> in paragraphs. (besides many other typographic features it lacks :/)

I believe the coordinate elements in HTML are \<sub\> and \<sup\>.

Currently we're trying to implement those effects via `Wrap` and `Positioned`, which involved a number of hackings. It d

[2017-06-22 11:07] gabrielsallesrg commented on #73
I created a solution that works in Android and iOS and I made a video showing the result.
It is using Google Static Maps and I implemented the zoom in / zoom out features and added a pin in the user location, but it is possible to implement other features, like moving north/south/east/west and add a bunch of pins.
To make it more efficient, I stacked 3 maps - the one that you see, one with +1 leve

[2017-06-22 11:27] bramvbilsen commented on #73
@gabrielsallesrg I didn't even know Google Maps provided functionality for that. This is for sure a good solution for now. Thanks for sharing this!

[2017-06-22 11:31] gabrielsallesrg commented on #73
@bramvbilsen Just to avoid confusion, Google Static Maps does not provide zoom in / zoom out functionality. What really happens is that when you clicked the +/- button, it requests a new image.

[2017-06-22 11:51] mit-mit commented on #7673
Tagging customer-blocker and posse per discussion with Al.

[2017-06-22 11:53] mit-mit commented on #10873
Tagging customer-blocker and posse per discussion with Al.

[2017-06-22 11:54] mit-mit commented on #7673
cc @cbracken

[2017-06-22 11:56] mit-mit commented on #10885
Confirmed that the workaround from #4326 worked.

[2017-06-22 12:04] bramvbilsen commented on #73
Got it. Thanks :)

[2017-06-22 13:13] tjerkw commented on #73
I think for now, if you need these advanced widgets, flutter is a no go area.
Whenever you start a project in flutter, you must understand that some designs that your designers come up with are not easy to implement.

The best workaround is a google static map, with a link to a fullscreen map component. Since a lot of apps are doing this now, it gives you a solution to build a flutter app with nat

[2017-06-22 13:36] bramvbilsen commented on #73
@tjerkw I do agree that it's still in alpha, so we can't expect every functionality from more mature frameworks yet. But hasn't Flutter been announced by Google yet? They even showed it at IO

[2017-06-22 13:38] fredericletellier commented on #73
@tjerkw Very clear explanation for Gmaps.

I have already work with  VTM (vector-tile map) library for Android (opensciencemap/openstreetmap).  Is there a library adapted to flutter to manage an open-source map ?

[2017-06-22 14:06] #8496 closed

[2017-06-22 14:13] eseidelGoogle commented on #10906
We're working on re-writing our text engine at the moment.  I suspect our current one may even support this and we just haven't exposed it.  @Hixie would know.  FYI @GaryQian

[2017-06-22 14:17] nanowang commented on #10906
Hooray! Mind to reveal some rough schedule?

[2017-06-22 14:45] eseidelGoogle commented on #8945
@kamathln if you have questions about specific features, it's best to ask via stack overflow or one of our various support resources: https://flutter.io/support/.  This bug is specifically about adding documentation to Flutter's Objective-C interfaces for iOS. :)

https://flutter.io/faq also discusses some of our in-progress feature work such as internationalization and accessibility.

[2017-06-22 14:47] eseidelGoogle commented on #10903
@goderbauer might know.  Looks like it's not using your network proxy correctly?

[2017-06-22 15:01] eseidelGoogle commented on #10906
@nanowang we don't have any hard schedule.  https://github.com/flutter/flutter/issues/10476 is the bug to track if you'd like to follow along.

[2017-06-22 15:02] floitschG commented on #10541
Maybe it was a hot-reload issue?
In any case, I think the UTC approach should work, but having a table seems like a good solution anyway.

[2017-06-22 15:06] KevinTheGray commented on #10899
@collinjackson Sorry if I'm missing something here, but how would this PR fix this?  None of the files modified were dart or objective-c, and this error is thrown from the native iOS side with `-[NSNull length]: unrecognized selector sent to instance 0x1b44ccef8`

[2017-06-22 15:35] sethladd commented on #73
Agreed, but our ecosystem is only now booting up. We hope by sharing existing plugins we find, we can get more contributors to help author more features and functionality.

[2017-06-22 15:41] sethladd commented on #10877
:)

[2017-06-22 15:45] sethladd commented on #10898
@filiph please stop by my desk and teach me the magic of de-indexing. :) I'll also share the access with you.

To setup the firebase redirects for API docs, please send over a PR for this file: https://github.com/flutter/flutter/blob/master/dev/docs/firebase.json

Regardless, I don't think dartdocs.org can build API docs for packages that rely on Flutter , so flutter_markdown API docs aren't gener

[2017-06-22 15:48] mit-mit commented on #10898
Yup, dartdocs issue is https://github.com/flutter/flutter/issues/9796 with the underlying issue being https://github.com/flutter/flutter/issues/10015. Note that is working in most cases now; above bugs will get it working for all Flutter packages.

[2017-06-22 15:48] Hixie commented on #10453
Weird. Does the same thing happen with ListView (rather than ListView.builder)?

[2017-06-22 15:53] Hixie commented on #10453
By the way, the code above would be more efficient if you didn't create the list each time, but just provided a builder than actually built the children on the fly. If you create the list in advance like in the code above, you might as well use a regular ListView constructor.

[2017-06-22 16:29] susch19 commented on #10453
ListView doesn't work either, i have used it before i switched to ListView.builder and i tried it again, same result.
The code above looked way different before i encountered the bug, but i tried to find a workaround. When i first started to modify this code, i had a list of widgets, where i added and deleted the items, so exactly the thing, you shouldn't do.

But when you don't find another bug i

[2017-06-22 16:34] Hixie commented on #10453
Would you mind creating a one-file flutter project that shows this problem? (i.e. `flutter create repro`, then edit the `main.dart` file to contain whatever is needed to reproduce it)

[2017-06-22 16:40] susch19 commented on #10453
I will try to reproduce this issue in one file.
I tried something different (again) and with a CustomScrollView it seems to work as expected, so this is the changed and now working code:
[code]

[2017-06-22 17:01] collinjackson commented on #10899
Good catch, I forgot to include my changes to the iOS side to the CL. PTAL.

[2017-06-22 17:06] goderbauer commented on #10903
If your proxy requires manual configuration, we currently offer no way to do that for the initial download of the Dart SDK. We should probably do what `pub` does and respect the `http_proxy` env variable, if present (see https://www.dartlang.org/tools/pub/troubleshoot#pub-get-fails-from-behind-a-corporate-firewall). Linux's `curl` util automatically uses that env. On Windows, we've to teach BitsTr

[2017-06-22 17:08] #10688 closed

[2017-06-22 17:08] #10690 closed

[2017-06-22 17:22] goderbauer commented on #10856
Fixed by https://github.com/flutter/plugins/pull/148.

[2017-06-22 17:23] goderbauer commented on #10550
Fixed by flutter/plugins#148.

[2017-06-22 17:23] #10550 closed

[2017-06-22 17:23] goderbauer commented on #10516
Closed due to no response.

[2017-06-22 17:23] #10516 closed

[2017-06-22 17:53] goderbauer opened #10908 "Flutter doctor should tell you that updates to the Android SDK are available"
Currently, it's hard for Flutter users to learn about updates to the Android SDK. This can get them into strange error situations: E.g. if they pull in a plugin that depends on the latest SDK, building your Flutter app will fail with the unhelpful error message: `Could not find com.google.firebase:firebase-auth:11.0.1`. This error can easily be resolved by updating the "Google Repository" componen

[2017-06-22 17:56] #10900 closed

[2017-06-22 17:57] tvolkert opened #10909 "Pixel rounding errors are back"
As seen in customer six's app (on a Nexus 5x):

![flutter_01](https://user-images.githubusercontent.com/15253456/27448280-1f1f2eec-5739-11e7-920a-bdb3015aa339.png)

This is used to happen (#9276), then it was fixed, and it has since regressed in their app.  However, the original repro case in #9276 does not exhibit the behavior any more.

/cc @chinmaygarde

[2017-06-22 17:57] tvolkert commented on #10909
That screenshot was taken against Flutter version `b231006ce7efd0dcf5390e3b9e0d11c3c5174de9`

[2017-06-22 17:57] collinjackson commented on #10899
Fixed in 0.0.10

[2017-06-22 17:57] collinjackson commented on #10900
Fixed in 0.0.10

[2017-06-22 18:04] tvolkert commented on #10908
Or just build that into `flutter upgrade`

[2017-06-22 18:04] Hixie commented on #10453
So the problem is basically just the way you set the keys -- you are making each row have a unique key, which changes each time you build the list. (It's unique because it's equal to an object, the ListTile widget, that you just created that very build.) To the underlying code it's as if you were generating an entirely new list each time. For some reason, the code can't handle that. We'll have to

[2017-06-22 18:24] susch19 commented on #10453
Okay that's good to know and that really fixed my problem, thank you very much.
The only question left for me is, why could the CustomScrollView handle that?

[2017-06-22 18:31] lukef commented on #10657
This issue can be closed. If we have another issue we will open another issue

[2017-06-22 18:32] #10657 closed

[2017-06-22 18:37] tvolkert commented on #10909
Actually, I just double-checked, and the problem had never been fixed in customer six's app (even with flutter/engine#3717).  So I'm gonna close this as a dup of #9276 (which I'll re-open).

[2017-06-22 18:37] #10909 closed

[2017-06-22 18:39] tvolkert commented on #9276
It looks like this was never fixed in customer six's app (even with flutter/engine#3717) -- against Flutter version `b231006ce7efd0dcf5390e3b9e0d11c3c5174de9`, we're still seeing the following on a Nexus 5x:

![flutter_01](https://user-images.githubusercontent.com/15253456/27448280-1f1f2eec-5739-11e7-920a-bdb3015aa339.png)

[2017-06-22 18:52] tvolkert commented on #9276
Reproduced in a test case app (a modification of the original test case app), located at https://gist.github.com/tvolkert/b55bfc2eebc713cea9ae324bcbfec851

![flutter_01](https://user-images.githubusercontent.com/15253456/27450667-44a513a4-5741-11e7-9922-27f82dc85bfd.png)

[2017-06-22 19:09] jason-simmons commented on #10861
This has been rolled out to alpha

[2017-06-22 19:09] #10861 closed

[2017-06-22 19:17] Hixie commented on #10453
Yeah I'm not really sure what's going on. The CustomScrollView+SliverList uses the same code as the ListView (ListView really is just a wrapper around the other two). There's definitely a bug here.

[2017-06-22 19:30] goderbauer opened #10910 "Text selection doesn't show selected text"
On Android, open the Flutter Gallery app and navigate to "Text fields". Enter text in the Phone Number field. Select the text. Change the selection with the blue bubbles. The selected text no longer appears as selected.

![image](https://user-images.githubusercontent.com/1227763/27452143-7416d7ee-5746-11e7-99ae-43fbfdbb6c72.png)

[2017-06-22 19:33] goderbauer opened #10911 "Can have text selected in multiple text fields"
On a screen with multiple text fields (e.g. the Text fields demo in the Flutter gallery), select text in the first text field and then select text in the second one. Text in the first text field stays selected. Native apps don't seem to behave that way and deselect the text in the first text field.

![image](https://user-images.githubusercontent.com/1227763/27452295-efa709ec-5746-11e7-872f-29aa0fb

[2017-06-22 19:36] DanTup commented on #10615
Ok, I can perfectly reproduce this in a script without Dart Code. I send a `Step over` 300ms after every time we pause and it just fails to get responses after a certain amount of time (if I reduce the `300ms` there will be more successful steps before it hangs).

![Repro](https://user-images.githubusercontent.com/1078012/27452454-76f44566-578a-11e7-89aa-cf2644b9d3f8.png)

[main.ts](https://github

[2017-06-22 19:49] collinjackson commented on #10899
@KevinTheGray was still seeing this issue so I'm reopening and investigating

[2017-06-22 20:13] DanTup commented on #10615
Could it be the same as this raised by @jensjoha?

https://github.com/dart-lang/sdk/issues/29568

[2017-06-22 20:16] bramvbilsen opened #10912 "Path Provider: Missing Plugin Implementation"
I'm trying to get the documents directory but keep getting the following error:
`MissingPluginException(No implementation found for method getApplicationDocumentsDirectory on channel plugins.flutter.io/path_provider)`
I added the package in my pubspec file and ran the get command without any error.
This is the code I used (It's from the flutter.io website):
[code]

I'm using plugin version: 0.2.1+

[2017-06-22 20:26] lschmierer opened #10913 "GSL MEM ERROR when clipping Image with ClipPath"
An "GSL MEM ERROR" occurs when an `Image` is clipped using `ClipPath` when following conditions are met:

- `Image` is clipped using `ClipPath` (clipping a simple `Container` worked)
- ~the `Path` returned by the `CustomClipper` contains a curve (just clipping some polygon works)~ (other shapes like polygons not working either)
- in this case the combination of `Listener` and `Stack` and `Position

[2017-06-22 20:29] eseidelGoogle commented on #10913
@chinmaygarde is this Skia or Flutter?

[2017-06-22 20:36] eseidelGoogle commented on #10912
@mravn-google would know.

[2017-06-22 20:39] eseidelGoogle commented on #10911
@Hixie or @abarth did some work to make Focus unique.  somehow that's being missed here I guess.

[2017-06-22 20:53] mravn-google commented on #10912
@bramvbilsen Thanks for reporting. The plugin apparently hasn't been registered on the platform side. A few questions:

1. Does it fail on iOS, Android, or both?
1. Have you executed `flutter run` targeting that platform since you changed the pubspec file? This is needed to have Flutter inject plugin dependencies into the platform-specific parts of your app.
1. Does the `GeneratedPluginRegistrant`

[2017-06-22 21:06] eseidelGoogle opened #10914 "Compatibility with App Slicing"
https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/AppThinning/AppThinning.html

It's unclear if Flutter apps are currently compatible with App Thinning.  I suspect this may be required for some customers for M3 or M4.

@cbracken

[2017-06-22 21:08] eseidelGoogle opened #10915 "Flutter Localization is not compatible with on-demand resources"
I don't believe that iOS apps include all localizations by default, but maybe?  If they don't, we will want to be compatible with whatever on-demand system exists.
https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/On_Demand_Resources_Guide/index.html#//apple_ref/doc/uid/TP40015083

FYI @cbracken

[2017-06-22 21:13] #10899 closed

[2017-06-22 21:20] collinjackson commented on #10899
Fixed (hopefully for reals this time) in 0.0.11

[2017-06-22 21:29] jason-simmons commented on #10910
This is coming from the _UsNumberTextInputFormatter in Gallery, which applies the parentheses/dashes/etc. to the phone number on each text update.

_UsNumberTextInputFormatter always collapses the selection range to a single text position, causing the selection highlight to disappear.

Some options:
  * Change _UsNumberTextInputFormatter to adjust both ends of the selection range instead of collap

[2017-06-22 21:44] chinmaygarde commented on #10913
I'll have to investigate. @lschmierer can you attach the `image.png` you used to the ticket as well (if possible).

[2017-06-22 21:51] lschmierer commented on #10913
Yes, sure. However the actual image does not matter.

![image](https://user-images.githubusercontent.com/2204708/27457613-b461d68c-57a5-11e7-88a9-2ac5c62f8950.png)

[2017-06-22 22:03] jason-simmons commented on #10913
I can reproduce the leak - it shows up as an increase in the the GL heap in "dumpsys meminfo"

[2017-06-22 22:09] Hixie commented on #10453
I think what's going on is that when the key is a UniqueKey, when we rebuild, we add the child but don't remove it straight away, and then we end up deciding that we have too many children so we remove the earlier ones but we don't update the scrolling window or something. Definitely a bug with how SliverMultiBoxAdaptorElement interacts with the underlying render objects.

[2017-06-22 22:12] B3rn475 commented on #10615
Thank you for the Script.
We are finally able to reproduce it on out workstations.

In your example you start interacting with the service protocol when you capture the `app.debugPort` event from the `flutter` CLI.

If you wait the `app.started` event instead everything should work fine.

[2017-06-22 22:19] Hixie commented on #10453
Weird, somehow we end up removing these nodes in the collectGarbage() step.

[2017-06-22 23:34] gspencergoog opened #10917 "The YearPicker embedded in DatePicker is not very discoverable."
Summary: This is a feature request for the DatePicker to switch to the YearPicker when tapping on the year displayed, or maybe to scroll through years if scrolled vertically.

I was going to file a bug about there not *being* a year picker, but I found the documentation for YearPicker and saw that it is supposed to appear as part of the DatePicker, and tried the gallery. After about 5 minutes of p

[2017-06-22 23:35] Hixie commented on #10917
cc @sethladd Can you see what the material team thinks?

[2017-06-22 23:45] #8231 closed

[2017-06-23 00:09] alanlgardner opened #10918 "Implement Mozart gesture arena on Fuchsia"
Please.

[2017-06-23 00:10] jason-simmons commented on #10913
When a picture layer flows through GrClipStackClip::createAlphaClipMask, we seem to be leaking the clip mask texture into the GrResourceCache's scratch map.

Will need some help from Skia to understand the lifecycle of this resource.

@bsalomon

[2017-06-23 00:11] Hixie commented on #10918
See https://github.com/flutter/flutter/issues/10443 for the cross-view hit-testing.

[2017-06-23 00:14] alanlgardner commented on #10918
Here is the API in Mozart:
https://fuchsia-review.googlesource.com/c/33525/

[2017-06-23 00:14] Hixie commented on #10443
cc @alanlgardner

I assume this is requesting that we provide a way to take an Offset in global coordinates from the top-left of our view, and return a list and a boolean, the list being the child views that we would consider hit at that point before us, and the boolean being whether we would consider ourselves to be hit at that point if none of those child views consider themselves to be hit.

Is

[2017-06-23 00:27] Hixie commented on #10918
I understand this is part of what @chinmaygarde is working on at the moment.

@chinmaygarde, let me know if you'd any help with this one, especially on the framework side (I am less sure what needs doing on the engine side).

[2017-06-23 00:28] Hixie commented on #10443
@chinmaygarde, let me know if you'd any help with this one, especially on the framework side (I am less sure what needs doing on the engine side).

[2017-06-23 00:41] cbracken commented on #10914
Since we only currently support arm64 iOS devices, we apply app thinning during our own build process and only ship arm64 binaries to App Store.

That said, it looks fairly inevitable that Apple will eventually require bitcode, which we currently don't do. We should definitely investigate our options there.

[2017-06-23 00:57] Hixie commented on #9676
To fix this IMHO we should make the network layer pluggable, and have a version of the network layer that knows how to retry on failure. This shouldn't actually require any changes to NetworkImage itself.

[2017-06-23 00:57] Hixie commented on #9676
see also https://github.com/flutter/flutter/issues/1051

[2017-06-23 02:28] dac3971 opened #10923 "FlutterFire Query parameters"
I'm new to FlutterFire so I'm sure it's something simple, but I'm having trouble with query parameters to limit the size of my snapshot.  For example, in flutter/plugins/blob/master/packages/firebase_database/example/lib/main.dart, I added a limitToLast(2) parameter but it still prints out the entire `messages` node:

[code]

Why isn't the limitToLast being recognized?

[2017-06-23 02:35] eseidelGoogle commented on #10923
@collinjackson would know.

[2017-06-23 03:17] ArcticZeroo opened #10924 "Support for Toasts"
Flutter currently has support for SnackBars, but not Toasts. It would be nice to be able to send information as toasts rather than SnackBars.

Examples:
![toast1](https://user-images.githubusercontent.com/5075030/27465343-f648e112-57a0-11e7-8b85-fb3624221e91.png)
![toast2](https://user-images.githubusercontent.com/5075030/27465342-f409eeaa-57a0-11e7-8586-d310c8a60323.png)

[2017-06-23 03:20] tvolkert commented on #10650
@alan-knight if I create a blank project with the following `pubspec.yaml`:

[code]

... I get the following error:

[code]

[2017-06-23 03:24] devoncarew commented on #10650
Looks like 0.15.1 requires at least a 1.24.0 dart sdk (https://github.com/dart-lang/intl/blob/master/pubspec.yaml#L7), but flutter is still on a dev version of 1.24.0. Possibly time to rev flutter to the latest dart sdk?

[2017-06-23 03:44] najeira opened #10925 "NestedScrollView throws exception caused by type mismatch"
I tried to scroll NestedScrollView using by ScrollController.animateTo, then I got this exception:

[code]

_NestedScrollCoordinator.animateTo's return statement is this:

[code]

Future.wait<Null> returns `Future<List<Null>>` but animateTo should return `Future<Null>`;

## Flutter Doctor

[code]

[2017-06-23 03:57] collinjackson commented on #10923
which version of firebase database are you using?

[2017-06-23 04:41] yjbanov opened #10926 "Would like a Sentry.io plugin"
For reporting errors, crashes and other logging.

See also: https://github.com/flutter/flutter/issues/9592 (Crashlytics)

[2017-06-23 04:45] eseidelGoogle commented on #10925
@Hixie would know :)

[2017-06-23 04:46] eseidelGoogle commented on #10924
Toasts appear to be an Android-only entry in the Material Design spec, and have unfortunately very little detail to their spec:
https://material.io/guidelines/components/snackbars-toasts.html

[2017-06-23 04:48] eseidelGoogle commented on #10924
@lukef points out that Toasts on Android are also drawn by the system it seems, if you quit an app while a toast is on screen it can stay there. :p  Obviously if Flutter implemented Toasts they wouldn't have that behavior.

[2017-06-23 04:51] yjbanov commented on #10926
Update: I created a pure Dart Sentry.io client ([pub](https://pub.dartlang.org/packages/sentry), [repo](https://github.com/yjbanov/sentry)). It works in Flutter and standalone VM. Planning to create a Flutter plugin that will pre-configure the `SentryClient` with mobile-related attributes (such as mobile OS/version, Flutter version, runtime mode, etc). This is only for convenience. The package sho

[2017-06-23 05:10] Hixie commented on #10925
Well that's unfortunate.

[2017-06-23 05:11] Hixie commented on #10925
The fix is easy, e.g. we could just have the method be an async method and await the Future.wait rather than returning it.

[2017-06-23 06:45] DanTup commented on #10615
Excellent! I probably should've done that sooner =D

I actually thought I changed to `app.started` to test that earlier but got the same results; though I'll try that again today if I get chance in case I overlooked something. I'll post back with the results.

Is this still something you'd consider a bug and fix? It *seems* to work and still steps, suggesting that everything was ready. It seems we

[2017-06-23 08:36] mit-mit commented on #10908
I really like this idea. But if we going to do this work, I think we should go all the way and fully manage our Android dependencies (i.e., also install them for new Flutter users).

[2017-06-23 09:24] DanTup commented on #10615
I can't figure out what I did wrong yesterday, because using `app.started` appears to be working fine today!

So, this totally solves my issue; however this does still feel like a bug that should be fixed (and maybe dart-lang/sdk#29568 is similar issue?). I wonder whether a simple fix would be not to send `debugPort` until immediately before `app.started` (or move `wsUri` on to `app.started`) so t

[2017-06-23 09:28] mit-mit commented on #10615
Thanks very, very much @DanTup for all time spent on this; very happy to hear you have it working!

I'll let the VM folks answer your 'feel like a bug' comment (but I agree that it would be better to fail explicitly or make it work).

[2017-06-23 09:53] mravn-google opened #10927 "Document template files in README.md"
Excerpt from #9882 (by @Hixie):

Before we add more files to the template, I think we should make sure the template contains a README that documents, for each file in the template:

- What the file is for
- Why you would edit that file
- How to verify that the edits are valid
- How to test the file

The template is growing really big and it's not at all clear why some of these files are part of th

[2017-06-23 10:15] mit-mit commented on #10927
I have an early draft of this here; feel free to use as inspiration
https://github.com/mit-mit/flutter/commit/05b64457348d5537e5bc640c3655366ba5b0126b

[2017-06-23 10:34] mit-mit opened #10929 "Flutter tool should print adb error"
When `adb` fails during a `flutter run`, we print the non-descriptive error:

[code]

adb itself has more descriptive errors:
[code]

Can we print those?

[2017-06-23 11:05] bramvbilsen commented on #10912
@mravn-google Yeah, turned out I had to quit the flutter run process and start it up again. Just a full restart within flutter run didn't work.

[2017-06-23 11:05] #10912 closed

[2017-06-23 11:23] mravn-google commented on #10912
Updated issue to serve as FAQ for other people getting the same exception.

[2017-06-23 11:52] mit-mit commented on #10929
cc @tvolkert @jason-simmons

[2017-06-23 11:58] dac3971 commented on #10923
maybe that's it.  what's the latest version?  from my pubspec file :
`firebase_database: ^0.0.4`

[2017-06-23 12:00] DanTup commented on #10546
It'd also be good to have some guidance on what needs to be done after a hot reload - it's not clear what state persists, needs resetting, etc.

For example, based on https://github.com/Dart-Code/Dart-Code/issues/318#issuecomment-310635478 it seems that breakpoints need to be re-sent. However it doesn't seem like Observatory is restarted; so are there other things I need to re-send to Observatory?

[2017-06-23 13:17] ArcticZeroo opened #10930 "If FAB and Snackbar are in 2 separate (nested) Scaffolds, the FAB is not pushed up"
## Steps to Reproduce

This widget shows the issue:

[code]
When the FAB is pressed, a snackbar shows up on top of the nested FAB, since the BuildContext is used from the parent widget, where there is no FAB. I'm not sure if this is technically intended behavior, but it seems a bit wonky.

[2017-06-23 13:25] ArcticZeroo commented on #10924
Hmm, not sure if they're really worth having in that case... I think most devs use toasts because they persist through activities, not necessarily for toasts that stay when the app is quit (unless it's an app whose primary function is in the background, and I don't believe flutter supports that atm?)

[2017-06-23 13:38] bsalomon commented on #10913
When Skia is under its budget for GPU resources then we will often keep temporary resources around as scratch resources. This is true for clip masks, blurs, saveLayers, etc. We have recently added an API that may be of use: GrContext::purgeResourcesNotUsedInMs(). You give it a millisecond count and any GPU cached but not currently pinned resource that has not been used since now - ms will be freed

[2017-06-23 14:10] DanTup commented on #10546
Based on info I can find (inc https://github.com/flutter/flutter-intellij/issues/273) it seems like only breakpoints will need resending. Can anyone confirm if that's right (eg I don't need to resend setLibraryDebuggable, exception pause modes, etc?)

[2017-06-23 14:24] tvolkert commented on #10929
Yep, we should be able to get the `stderr` from the process and print it upon failure.

[2017-06-23 15:18] devoncarew commented on #10546
Yeah, just breakpoints. The script that represents the old version of the library is still around in the VM, with the breakpoints associated with it that you had previously sent. You need to send new breakpoints for the reloaded library(ies), that will resolve against the new scripts for any reloaded libraries.

For IntelliJ, we choose to:
- pass in the pause after reload flag
- when we get the (n

[2017-06-23 15:51] eseidelGoogle commented on #10924
It sounds like the proper resolution for this is for someone to write a tiny plugin which wraps the Android toast APIs:
https://flutter.io/platform-plugins/
https://developer.android.com/reference/android/widget/Toast.html

[2017-06-23 15:53] eseidelGoogle commented on #10930
This may be expected behavior.  @Hixie would know.

Do you need two Scaffolds?  Is there something you're attempting to achieve with two we can help you achieve otherwise?

[2017-06-23 16:03] DanTup commented on #10546
Ah, this makes a little more sense now.

I did try hacking something together earlier but when I tried to send a `resume` I got back that the isolate wasn't paused. I wasn't handling the new event (I was assuming the response from the hot reload request was good enough) so maybe that's just a timing issue and switching to that event will resolve it.