[2022-05-31 23:54] dnfield commented on #105066
How about if you use `cpulimit`? CI machines are a lot slower than ours.

[2022-05-31 23:55] gaaclarke commented on #105066
I think I found the problem, posting pr now.

[2022-06-01 00:06] cbracken commented on #53120
Related issues:
* https://github.com/flutter/flutter/issues/62597
* https://github.com/flutter/flutter/issues/69213
* https://github.com/dart-lang/sdk/issues/47824 (Dart)

[2022-06-01 00:24] blasten commented on #104648
have you noticed any relevant differences between the old version and the new version?

[2022-06-01 00:26] GaryQian commented on #105073
We need to update the NDK to 24+. Instead of `ndk-bundle`, we can specify the version in `tools/android_sdk/packages.txt` as `ndk;24.0.8215888`

[2022-06-01 00:34] #105071 closed

[2022-06-01 00:36] zancheng commented on #61079
I verified the effect and met my expectations

[2022-06-01 00:36] #61079 closed

[2022-06-01 00:43] jason-simmons commented on #103811
This is happening because the `TextButton` example is using a style that specifies `FontWeight.w500`, but the Windows host does not provide Chinese fonts with that exact weight.

SkParagraph needs to do font fallback and query the system for the closest available fonts.  However, the queries are selecting different fonts with inconsistent weights.

On my Windows setup, the first character in the s

[2022-06-01 00:47] jonahwilliams commented on #104648
This is a duplicate of https://github.com/flutter/flutter/issues/104667

[2022-06-01 00:47] #104648 closed

[2022-06-01 00:49] cyanglaz commented on #102597
Un-assign myself as I'm not actively working on the remaining tasks. I will eventually circle back if no one picks it up.

[2022-06-01 01:01] #102021 closed

[2022-06-01 01:25] keyonghan commented on #104862
All mac/ios between mac25 and mac46 are with 15.5, and auto upgrade off.

[2022-06-01 01:41] jason-simmons commented on #105064
The engine->framework roll completed: https://github.com/flutter/flutter/pull/105070

[2022-06-01 01:49] maheshmnj commented on #105044
I have also reported this bug to chromium https://bugs.chromium.org/p/chromium/issues/detail?id=1330463

[2022-06-01 02:10] zanderso commented on #103421
Assigning to @GaryQian to answer the question from @blasten

[2022-06-01 02:19] Viper-Bit opened #105079 "selection of TextField remains even after losing focus (Flutter 3.1.0)"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. select text in textfield
3. click on screen to see bug

Its working as expecetd in version 3.0.1

**Expected results:**
textfield must clear its selection after losing focus

https://user-images.githubusercontent.com/24822764/171314263-9fd6b659-2284-4f18-8ef6-c30459543905.mp4

**Actual results:**
textfield still have selection a

[2022-06-01 02:29] tudosxxx opened #105081 "The previous canLaunch and launch jump to the web page is too convenient, why should I cancel it?"
The previous canLaunch and launch jump to the web page is too convenient, why should I cancel it?

[2022-06-01 02:30] gitman-2021 opened #105082 "`File.writeAsBytesSync` not working correctly"
<details>

[code]

The above function returns a ```null```, in the current form, but wrapping the ```file.writeAsBytesSync(responseBody);``` in a try-catch, makes it return the correct value, but the file is not created, and not found in the filesystem, and prints an error in console:

code:
[code]

error:
[code]

And if i replace ```file.writeAsBytesSync(responseBody);```, without try-catch, with

[2022-06-01 02:43] stuartmorgan commented on #105081
For general discussion about Flutter, try one of the resources listed at http://flutter.dev/community#community-grid

Closing as this is not a feature request or bug report for Flutter.

[2022-06-01 02:43] #105081 closed

[2022-06-01 02:46] gitman-2021 commented on #105082
Related:
[dart-lang/sdk/issues/49150](https://github.com/dart-lang/sdk/issues/49150)

[2022-06-01 02:53] victorhez opened #105084 "cannot find or open /Users/mac/src/flutter/bin/cache/dart-sdk-darwin-x64.zip,"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

<details>
<summary>Logs</summary>

[code]

[code]

</details>

[2022-06-01 03:14] dnfield opened #105085 "Support sync style GPU resident Picture.toImage in ImageShaders"
It should be possible to add support for this, but in my initial stab at resolving https://github.com/flutter/flutter/issues/77289 and https://github.com/flutter/flutter/issues/13498 it's making the patch a bit more complicated. For now it's going to throw an exception if you try to use `Picture.toGpuImage` in an ImageShader, but can be fixed in a follow up with ImageShader code that respects the

[2022-06-01 03:14] xiaoxiaowesley commented on #104996
flutter doctor -v
[✓] Flutter (Channel unknown, 2.5.4-0.0.pre.52, on macOS 12.3.1 21E258
    darwin-x64, locale zh-Hans-CN)
    • Flutter version 2.5.4-0.0.pre.52 at
      /Users/xiaoxiang/Documents/code/flutter/flutter253
    • Upstream repository unknown
    • Framework revision fb193e8f35 (2 个月前), 2022-03-23 14:24:20 +0800
    • Engine revision d175d70d28
    • Dart version 2.14.4

[✓] Android

[2022-06-01 03:19] xiaoxiaowesley commented on #104996
Sorry for that I can't reproduce it because It's reported from my user. I was wondering if anyone in the community had a similar problem.

[2022-06-01 03:27] MynamesHai commented on #105016
Hi @maheshmnj , Thanks for the reply. This is out put of `flutter run - v`:
[flutter_run_v.txt](https://github.com/flutter/flutter/files/8810822/flutter_run_v.txt)

and 'flutter doctor -v':
`
[✓] Flutter (Channel unknown, 2.2.2, on macOS 11.3.1 20E241 darwin-arm, locale en-VN)
    • Flutter version 2.2.2 at /Users/buihai/Documents/flutter
    • Framework revision d79295af24 (12 months ago), 2021-0

[2022-06-01 03:42] alexmercerind commented on #28426
???

[2022-06-01 04:01] #105031 closed

[2022-06-01 04:08] #104868 closed

[2022-06-01 04:08] #105047 closed

[2022-06-01 04:26] huycozy commented on #105036
@flutter-symbolizer-bot https://github.com/flutter/flutter/issues/105036#issue-1254145807 force flutter#v3.0.0 ios release arm64

[2022-06-01 04:30] TheOneWithTheBraid opened #105087 "[tool] allow override of default cache location"
## Use case

On Linux, both on desktop and CI containers, it might be useful to have a separate installation location of the Flutter tool itself and its cache. This could simplify shipping Flutter and increases security as a host can have one Flutter installation with no need of write access on its installation folder.

## Proposal

I would like to propose to introduce an environment variable or a

[2022-06-01 04:34] yjbanov commented on #104960
What version of Chrome does the emulator run? You can find out by visiting chrome://version. We support the last two major versions of modern browsers. As of right now Chrome is 102 on my computer and it reads "Chrome is up to date".

Chrome on Android is more or less independent of the operating system. For example, my Nexus 5X runs the latest version of mobile Chrome. So we support Nexus 5X thro

[2022-06-01 04:36] dnfield commented on #40990
I'm going to re-open this to track adding Scene.toGpuImage.

[2022-06-01 04:37] dnfield commented on #40990
The linked patch above also is delaying an implementatino of ImageShader using this style of image... at least for now.

[2022-06-01 04:39] #103275 closed

[2022-06-01 05:05] bhaskarraj commented on #104953
One thing that I did is that I deleted the old Flutter SDK folder and downloaded the new one. Restarted my system and created another new project and it seems to be running fine on both iOS and Android but there is no `podfile`. Please see the attached screenshot.

![Screen Shot 2022-06-01 at 10 48 48 AM](https://user-images.githubusercontent.com/11919222/171331546-d540fdb4-47e9-4dc0-bf41-533afd6d

[2022-06-01 05:13] hashirabdulbasheer commented on #105005
Hi @danagbemava-nc

I have attached the output of **flutter run -v** that captures the error in the txt file flutter_run_log_v.txt.

I am not sure about other android versions. The phone that I am using is running android 10. The phone doesn't have any other biometric. There is no fingerprint or any other biometric. I am using a PIN to authenticate.

I also tried on an emulator running android 11.

[2022-06-01 05:14] muddassar-lab opened #105089 "Scrollview not working correctly when using "obscureText: true" in textfield."
**Flutter Doctor**
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 3.0.1, on Microsoft Windows [Version 10.0.22000.675], locale en-US)
[√] Android toolchain - develop for Android devices (Android SDK version 32.1.0-rc1)
[√] Chrome - develop for the web
[√] Visual Studio - develop for Windows (Visual Studio Community 2022 17.2.1)
[√] Android Studio (version

[2022-06-01 05:17] darshankawar commented on #105037
Closing this as duplicate of https://github.com/flutter/flutter/issues/101007. There's an open PR to fix this that you can subscribe to for further update : https://github.com/flutter/flutter/pull/104405

[2022-06-01 05:17] #105037 closed

[2022-06-01 05:27] bhaskarraj commented on #104953
I was able to solve is by replacing deleting the flutter SDK folder and downloading the new flutter SDK and using the new one.  thanks

[2022-06-01 05:28] #104953 closed

[2022-06-01 05:32] darshankawar commented on #105048
@AlecADAS
Thanks for the report. Can you provide a [minimal reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example) without any third party plugin code, that shows the performance issue you are reporting ?

[2022-06-01 05:35] maheshmnj commented on #104946
Thanks for the logs @mikexkllr, Probably those logs cannot be symbolized, labeling this issue for further insights from the team

cc: @cbracken

[2022-06-01 05:40] maheshmnj commented on #105016
Thanks for the update @MynamesHai, You seem to be on a very old version of flutter, There have been lot of changes since that version. I would suggest upgrading to latest stable version and see if the issue is fixed.
You may upgrade by running

[code]
Also I looked at your logs it doesn't seem to show any error and appllication seems to be building fine

[        ] DevFS: Sync finished
[   +7 ms]

[2022-06-01 05:50] maheshmnj commented on #105022
Please do share whenever you can, We won't be able to investigate further without a minimal reproduction sample

[2022-06-01 06:03] Adherentman opened #105090 "[pigeon] upgrade analyzer package"
## Use case

When I use the freezed package and pigeon, I can't install the latest version of freezed because the version of analyzer that pigeon depends on is lower than 3.0.0.

[2022-06-01 06:05] maheshmnj commented on #105028
Thanks for the info @takassh, I am able to reproduce the issue. The toolbar text differs from native ios app.

Flutter IOS            |  Native IOS
:-------------------------:|:-------------------------:
![Simulator Screen Shot - iPhone 12 Pro - 2022-06-01 at 11 26 59](https://user-images.githubusercontent.com/31410839/171338064-5bb079d4-9470-4b12-99ce-59fc0724cc3b.png) | ![Simulator Screen Shot -

[2022-06-01 06:06] mukund-7span opened #105091 "[in-app-purchase] : Update the in-app-purchase sdk to implement `com.android.billingclient:billing:5.0.0` or migrate to billing:5.0.0."
We are trying with new ApiV2 with base plan id new feature in Play Store but unable to update it to the latest use case as we are unable to fetch the base plan id with getProductDetails().

## Use case

[code]

here we are looking to have values with product details like offers and base plan id for the following subscriptions.
[code]

The launchBillingFlow() method returns one of several response

[2022-06-01 06:06] maheshmnj commented on #105028
cc: @justinmc

[2022-06-01 06:08] Nuke-101 opened #105092 "PageView not working properly with Stack"
I am using a pageview widget inside stack and want to have 2nd page in pageview to be displayed first.

This is the hierarchy-

Stack
-Pageview
--Page1
--Page2
--Page3

I want Page2 to be on display when the app starts, but Page1 is on top.

I have a navigation bar which displays the correct page highlighted (Page2) but the pageview shows Page1. I have also specified initial index to 1 which is Pa

[2022-06-01 06:11] maheshmnj commented on #104870
Thanks for the confirmation

[2022-06-01 06:12] #103342 closed

[2022-06-01 06:12] #103384 closed

[2022-06-01 06:17] huycozy commented on #105036
Sorry. I'm reopening this issue for further investigation.

[2022-06-01 06:20] maheshmnj commented on #105039
Hi @smedasn, I am not sure I understand what this issue is reporting. Do you mean the images do not load in flutter web when using toImage? if so, can you please check if this is the same issue  #103803 you are reporting?  If not, then please update the issue description with more details along with the
output of `flutter doctor -v`.

Thanks!

[2022-06-01 06:20] huycozy commented on #105036
@flutter-symbolizer-bot this force ios flutter#v3.0.0 release arm64

[code]

[2022-06-01 06:28] danagbemava-nc commented on #105091
Hi @mukund-7span, there's a PR in progress that seeks to address this. See https://github.com/flutter/plugins/pull/5405/files. Since the PR was initially going to resolve #88664, we can close this in favor of #88664.

Closing this as a duplicate of #88664

Thank you

[2022-06-01 06:28] #105091 closed

[2022-06-01 06:36] gabrc52 opened #105093 "[LineageOS] Constant screen flickering/glitching on animations"
## Steps to Reproduce

1. Execute `flutter run` on an older device running Android 10 (reproduced on Moto G Play and Samsung Galaxy Grand Prime, both on LineageOS)
2. Scroll to the bottom to trigger an overscroll animation
3. Touch the menu icon and touch a menu item to trigger menu animations

**Expected results:** No flickering or glitches

**Actual results:** The screen flickers and glitches ve

[2022-06-01 06:41] exaby73 commented on #104996
Hello @xiaoxiaowesley. I've noticed that you're running an older version of Flutter `Channel unknown, 2.5.4-0.0.pre.52`. Please upgrade to the latest version and confirm if the behavior persists.

If it does, we would need a reproducible sample, without which we cannot really proceed. It could be specific to exact text or a device and without a reproducible example, we won't be able to understand

[2022-06-01 06:43] danagbemava-nc commented on #105005
Hi @hashirabdulbasheer, thanks for the info.

I was unable to get a device without biometric hardware so I cannot confirm this locally. I also tested with an emulator with no biometrics enrolled, but since the emulated hardware itself was present, I was unable to reproduce this issue.

I've updated the title to be generic since the code block<sup>1</sup> is executed for android 10 and above.
There

[2022-06-01 06:44] maheshmnj commented on #105044
Thanks for filing the issue @HayesGordon, I can reproduce it using the latest stable and the master channel.

_Output comparison chrome vs Firefox on a Mac_

https://user-images.githubusercontent.com/31410839/171102525-95506b14-2a51-48ed-8747-f69caa7727b4.mp4

<details>
<summary>flutter doctor -v (mac)</summary>

[code]
[code]
</details>

[2022-06-01 06:52] namangor04 opened #105095 "Windows Horizontal Scroll Not Working."
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. .Try to scroll horizontally

**Expected results:** The SingleChildScrollView, or in fact, any Horizontally Scrollable Widget, should scroll horizontally.

**Actual results:** The widget is not scrollable as the horizontal scroll on trackpad changes focus on the AppBar Buttons

I am aware that there has been a simillar issue for

[2022-06-01 06:54] danagbemava-nc commented on #105084
Hi @victorhez,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2022-06-01 06:54] #105084 closed

[2022-06-01 06:55] maheshmnj commented on #105044
cc: @yjbanov

[2022-06-01 07:02] dbugst02 opened #105096 "Not working ScrollView in Stack and PageView"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2022-06-01 07:07] mraleph commented on #105036
@huycozy the crash is already symoblised so there is nothing for the bot to do here.

[2022-06-01 07:07] liqiyin commented on #83461
Any updates?

[2022-06-01 07:10] #103415 closed

[2022-06-01 07:11] darshankawar commented on #104802
@FakhriF Can you try above and confirm ?

[2022-06-01 07:13] mraleph commented on #105082
@gitman-2021 could you print both `e` and `s` for the exception? rather than just printing `s` (stacktrace).

Based on stack trace alone the file can't be open.  I'd suggest to do the following:

[code]

This should provide enough insight into what is happening. Given that it fails _opening_ the file I doubt it has anything to do with the size of the data you are trying to write.

[2022-06-01 07:13] huycozy commented on #105089
Hi @muddassar-lab,
For the issue to be workable, it needs to be reproducible with a [completed and minimal reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example) that doesn’t include 3rd party plugins or complex production code. Please provide such a sample.

Also, you should describe how it's not working correctly, and what the expected result should be in the `Iss

[2022-06-01 07:14] chifandeyu commented on #104169
I try  the latest stable 3.0.1 and master channel but the issue persists there.

[code]
Same exception:
[code]

[2022-06-01 07:20] mraleph commented on #104915
@jmagman yeah, it is a known problem. It's pretty hard to write a good regexp to detect already symbolicated stacks so I just assume that the bot is simply not called for symbolicated reports.

[2022-06-01 07:25] chifandeyu commented on #104169
Ok. I have tried lastest master channel can reproduce this.

[2022-06-01 07:25] chifandeyu commented on #104169
Ok. I have tried lastest master channel can reproduce this.

[2022-06-01 07:25] chifandeyu commented on #104169
Ok. I have tried lastest master channel can reproduce this.

[2022-06-01 07:26] dkwingsmt commented on #104169
Can you explain the app and steps you used in the reproduction?

[2022-06-01 07:27] zogol commented on #105039
I have the same issue. In my szenario I want to print a card element with a decorationimage and text elements. the toImage() method does only render Flutter Widget elements and ignores the decorationimage

[2022-06-01 07:35] dkwingsmt commented on #104169
Sure! You can find me by searching dkwingsmt in the flutter channel.

[2022-06-01 07:37] bodqhrohro commented on #104989
That's the reason: you have a `/usr/bin/clang++` file and thus the build process proceeds well for you. The issue is about the case when such a file is absent.

[2022-06-01 07:42] m-ochyra commented on #83579
I have the same issue when switching from tab with map to another while map is loading (plugin version 2.1.6, Flutter 3.0.1):
[code]

[2022-06-01 07:44] danagbemava-nc commented on #105092
Hi @Nuke-101, thanks for filing the issue.

Please provide a complete minimal reproducible code sample and the output of `flutter doctor -v`.

Also, which version of flutter were you using where this was working for you?

[2022-06-01 07:46] ovidiuusvat commented on #104981
I can not reproduce it on a new project. Just in  my project is happening

[2022-06-01 07:50] #105096 closed

[2022-06-01 07:50] lokingwei commented on #58676
I suspect this issue is due to some of the SSL cipher suites not working properly.
My environment has several windows 10 devices, each of them hosting a local CouchDB with SSL enabled using a self-sign certificate.
My app receives this exception when connecting to some of the CouchDB instances.

After some investigation, the problematic device has `ECDHE-RSA-CHACHA20-POLY1305` configured as CouchD

[2022-06-01 07:50] cedvdb opened #105098 "[Router 2.0] Navigator should not pop if the return value from the callback is false and the history is empty"
The documentation clearly states that returning false lets us handle the pop ourself. Navigator.pop bypass that line 5946

[code]

@chunhtai

The issue we have is in a child router, it seems like the back button of the scaffold is not acting the same way as the back button dispatcher with a child router that takes priority. In the second case the `popRoute` of the RouterDelegate is called, and in

[2022-06-01 07:53] GauravCalidig commented on #99105
Need It

[2022-06-01 07:59] huycozy commented on #105036
@siddew201, this issue looks similar/related to #101506, but it has been closed due to no response from OP.
But from the [comment](https://github.com/flutter/flutter/issues/101506#issuecomment-1095424300), the issue will be continually addressed on #92550.

I will leave this issue as opening and label it for further insights from the team. Thanks!

[2022-06-01 07:59] Ricardoi1 opened #105099 "How do I get font name from ttf /otf/ttc file?"
as the title says

[2022-06-01 08:01] musa-farahmand commented on #74320
I have that issue I copied text  and I want to pasted in text form field but I can't it. anyone can help thanks.

[2022-06-01 08:23] Adherentman commented on #105090
Thanks, looking forward to the update

[2022-06-01 08:30] #105099 closed

[2022-06-01 08:34] Mayb3Nots opened #105101 "`PopupMenuButton`'s elevation is not being respected when using `useMaterial3`"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. Click on the `PopupMenuButton`.
3. You will see a menu without elevation.

**Expected results:**

According to [material3 ](https://m3.material.io/components/menus/overview) specs for Menus we should be able to see elevation.
(Side note that #91605 doesnt state any progress of the migration of Menu while in the [material site](h

[2022-06-01 08:43] #105007 closed

[2022-06-01 08:45] EA-YOUHOU commented on #101691
I used the following code when using sharedPreferences, i've no issue between my isolate and my app with that.

[code]

[2022-06-01 08:46] #105098 closed

[2022-06-01 08:47] cedvdb commented on #105098
I'm closing this since we are investigating this more thoroughly

[2022-06-01 08:50] gitman-2021 commented on #105082
But its working as intended for the file sized 6460,
I tried to use the working file in place of smaller sized file, and it worked correctly, there should be some problem specifically with the smaller files,
Even File.openWrite is not working

[2022-06-01 08:54] love626947341 opened #105102 "webview_flutter cannot open the album under Android"
<details>
<summary>flutter run -v</summary>

[code]
</details>

<details>
<summary>flutter doctor -v</summary>

[code]
</details>

third my test html is uselful on android webView and it can open album,but it can not open album on flutterwebview

webview_flutter cannot open the album under Android

[2022-06-01 08:55] smedasn commented on #105039
it looks like the command "flutter run -d chrome --web-renderer canvaskit --dart-define=BROWSER_IMAGE_DECODING_ENABLED=false --release" solves the issue.

[2022-06-01 08:57] lokingwei commented on #41573
I suspect this issue is due to some of the SSL cipher suites not working properly.
My environment has several windows 10 devices, each of them hosting a local CouchDB with SSL enabled using a self-sign certificate.
My app receives this exception when connecting to some of the CouchDB instances.

After some investigation, the problematic device has `ECDHE-RSA-CHACHA20-POLY1305` configured as CouchD

[2022-06-01 08:57] hodakl099 commented on #61464
this worked for me

[2022-06-01 08:59] GeraldHeng commented on #54126
For me I would like to debug with my release key in play and doing this work for me! :)

`    buildTypes {
        debug{
            debuggable true
            signingConfig signingConfigs.release
        }
    } `

[2022-06-01 09:10] #103458 closed

[2022-06-01 09:12] mraleph commented on #105082
@gitman-2021 does path `/data/user/0/ind.chd.applanso.gui.applanso/cache/subjects/0/0/1/` exist? If not - you need to create it before you try to write the file. You can use `file.createSync(recursive: true)` to create all necessary subdirectories.

My guess would be that a file of a smaller size is written into a different path which actually exists.

You can check that by adding logging like so:

[2022-06-01 09:16] glaceon2000 opened #105104 "[WEB] Text selection moves cursor instead of selecting a block of text when mouse is close to cursor"
Selecting text inside TextField or TextFormField

https://user-images.githubusercontent.com/51567674/171370673-6dc0a2d1-7290-4861-a04f-1d25f1d833a4.mov

**Expected results:** A block of text is selected at the extent of my mouse movement regardless of my mouse placement.

**Actual results:**  Sometimes cursor moves along the text instead if my mouse is close to the cursor.

<details>
<summary>Code

[2022-06-01 09:19] exaby73 commented on #105095
Hello @namangor04. The code sample you provided has a single solid color which is why you can't notice the scroll. I have modified the code to include a greed container as well. See the video of the scrolling.

<details><summary></summary>

https://user-images.githubusercontent.com/50555895/171371286-2e19bee4-ffd2-4449-9545-f065c5819fd0.mov

</details>

–<details><summary>Code sample</summary>

[c

[2022-06-01 09:23] seidoragutierrez commented on #104702
Hello,
The error is the same as I have. The image shown in the preview is cropped on the sides instead of showing everything, like the native iPad camera.

[2022-06-01 09:24] #105104 closed

[2022-06-01 09:27] wanjm commented on #92891
https://github.com/flutter/flutter/issues/100041 is almost the same problem i come accross,

[2022-06-01 09:28] Mehta2015 opened #105105 "[tool_crash] FileSystemException: Directory listing failed, OS Error: Access is denied., errno = 5"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Directory listing failed, OS Error: Access is denied.
, errno = 5
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel**: stab

[2022-06-01 09:28] Mehta2015 opened #105106 "[tool_crash] FileSystemException: Directory listing failed, OS Error: Access is denied., errno = 5"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Directory listing failed, OS Error: Access is denied.
, errno = 5
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel**: stab

[2022-06-01 09:31] exaby73 commented on #105106
Duplicate of #105105

[2022-06-01 09:31] #105106 closed

[2022-06-01 09:31] maheshmnj commented on #100486
@vixez Please file a separate issue will all the details requested in the issue template along with a minimal and complete code sample which we can directly run with minimal or no code changes.

[2022-06-01 09:33] danagbemava-nc commented on #105102
Hi @love626947341, this is a known issue. Picking files of any kind, in general, is currently not supported in the plugin.

Kindly follow up in https://github.com/flutter/flutter/issues/27924 for updates.

Closing from here as duplicate.

Thank you

[2022-06-01 09:33] #105102 closed

[2022-06-01 09:34] exaby73 commented on #105105
Hello. Please provide the output of `flutter run -v` and a [minimal, reproducible example][1].

[1]: https://stackoverflow.com/help/minimal-reproducible-example

[2022-06-01 09:35] huycozy commented on #105093
Hi @gabrc52,
I tried with some devices but can not reproduce this issue.

<details>
<summary>Demo</summary>

| Samsung - Android 11 | Pixel 3a - Android 12 | Emulator - Android 10 |
| --------------- | --------------- | --------------- |
<video src="https://user-images.githubusercontent.com/104349824/171371967-434d5387-f00f-4a80-87a0-1194c495658a.mp4"/> | <video src="https://user-images.githubuser

[2022-06-01 09:38] domesticmouse opened #105107 "Lab missing instruction"
Lab missing instruction

https://codelabs.developers.google.com/codelabs/flutter-github-client?hl=en#5

Does not have a instructions to extend or change the interface nor channel or test dart files.

Thus beginners could get frustrated.

(Also I am not sure about the window to front platform specific code, but i have not tested on all platforms, maybe it is just right)

__Originally posted by @der

[2022-06-01 09:40] mortenboye opened #105108 "Popups and Dropdowns initiated from an Overlay appears behind the overlay"
After upgrading to Flutter 3.0.x this issue has appeared.

## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. Press the "Open overlay" button
3. Open the Dropdown or click the "Open Dialog" button

**Expected results:**
The Dropdown options and the Dialog panel should appear on top of the overlay.

**Actual results:**
The Dropdown options and the Dialog panel appears behind the

[2022-06-01 09:41] domesticmouse commented on #105107
@Derkosi could you expand on what's missing in the plug-in creation step of the desktop codelab?

For context I created these three plugins on macOS, Linux and Windows, but it has been a year or so since I tested the instructions as written.

[2022-06-01 09:43] TahaTesser commented on #105101
Hi @Mayb3Nots
`PopupMenuButton` for Material 3 is being tracked in https://github.com/flutter/flutter/issues/91605 by https://github.com/flutter/flutter/issues/101017 and the https://github.com/flutter/flutter/pull/103606 will support for Material 3.

Closing for https://github.com/flutter/flutter/issues/101017

[2022-06-01 09:43] #105101 closed

[2022-06-01 09:43] Mehta2015 commented on #105105
@exaby73 log file  generated from run command.

[flutter_02.log](https://github.com/flutter/flutter/files/8812973/flutter_02.log)

[2022-06-01 09:46] exaby73 commented on #105105
Looks like you're running this command in a directory you do not have access to i.e. System Volume Information. Move the project out of that directory, and put it into a new directory then try again.

[2022-06-01 09:47] RaghuMudem commented on #103630
@blasten,
We use platformviews for videoplayer in flutter. Flutter 3.x upgrade breaks videoplayer with a crash in android version. We also tried a suggestion to use  `PlatformViewsService.initExpensiveAndroidView`. Still it is not working as expected.

Now the question is, Can we expect our platformviews videoplayer issue also fixes with the changes mentioned here https://github.com/flutter/flutte

[2022-06-01 09:47] Mehta2015 commented on #105105
@exaby73 My project directory is different. i.e. D:\Flutter_sample\Flutter_csv_reader

[2022-06-01 09:52] namangor04 commented on #105095
Hello @exaby73, I noticed that you sent me the video which was recorded on MacOS. But I am using windows and I am having issues on windows stable, not MacOS stable. I would like you to reopen this issue asap. I am also attaching a file filmed using your code sample which clearly shows that this horizontal scrolling on windows **does not work**

https://user-images.githubusercontent.com/64084226/17

[2022-06-01 09:59] exaby73 commented on #105105
@Mehta2015 I found a related issue. Please follow the debugging here #98471

[2022-06-01 10:02] exaby73 commented on #105095
Hey @namangor04. I'm assuming you are pressing `Shift` while using the scroll wheel to scroll horizontally. Can you confirm if this is also on the web?

[2022-06-01 10:05] TahaTesser commented on #105108
Hi @mortenboye
This is a duplicate of https://github.com/flutter/flutter/issues/22917, please read https://github.com/flutter/flutter/issues/22917#issuecomment-431457670.

[2022-06-01 10:05] #105108 closed

[2022-06-01 10:10] Mehta2015 commented on #105105
@exaby73 ohh wrong assets path... An issue is fixed..
Thanks

[2022-06-01 10:10] #80354 closed

[2022-06-01 10:19] huycozy commented on #104989
Yes, it is:
https://github.com/flutter/flutter/blob/a07beabf10d6ad2fd41f1af5d7f0779870960b91/packages/flutter_tools/lib/src/linux/build_linux.dart#L150

[2022-06-01 10:22] maheshmnj commented on #105095
@namangor04, I can confirm that horizontal Listview is scrollable on windows, It may be that the container width is large enough and as a result, the scroll is not noticeable, I have added a scrollbar to this [code sample shared above ](https://github.com/flutter/flutter/issues/105095#issuecomment-1143348859) and it should be clearly visible.

https://user-images.githubusercontent.com/31410839/171

[2022-06-01 10:29] #105105 closed

[2022-06-01 10:32] mrcndn commented on #51530
Also, the problem with the backend proxy is debugging, because original flutter app running on another port, hot reload is not working on proxied app.

[2022-06-01 10:43] onkelsoft opened #105112 "flutter doctor Visual Studio Turkish Character issue (Exception: Bad UTF-8 encoding)"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

<details>
<summary>Logs</summary>

[code]

flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, 3.0.1, on Microsoft Windows [Version 10.0.19044.1288], locale tr-TR)
[√] Android toolchain - develop for Android devices (Android SDK version 32.1.0-rc1)
[√] Chrome - develop for the web
[☠] Visual S

[2022-06-01 10:51] #105112 closed

[2022-06-01 10:54] guidezpl commented on #103536
This should require #81564

[2022-06-01 11:08] gitman-2021 commented on #105082
Sir,
Im unable to understand, that why is
`/data/user/0/ind.chd.applanso.gui.applanso/cache/subjects/0/0/1/index.txt.tmp`,
being used, instead of
`/data/user/0/ind.chd.applanso.gui.applanso/cache/subjects_0_0_1_index.txt.tmp`
as the following statement was executed
`final file = File("$privateCachePath/${filePathFragments.join('_')}.tmp");`, we have the trailing `.tmp`, but not underscores,
Thanki

[2022-06-01 11:09] prakash6491 opened #105114 "Notifications navigation not working properly when application terminate. (Screen bliking)"
Am getting following error while navigation to detail screen.

https://user-images.githubusercontent.com/78555629/171390973-2ab97802-5b0c-4483-b1eb-4a3c671a6e67.mp4

[2022-06-01 11:10] smedasn commented on #105039
@maheshmnj it looks either it is the same or a very similar issue!

[2022-06-01 11:14] mraleph commented on #105082
@gitman-2021 my guess would be that `filePathFragments` contains just one element. Try printing it. In any case - I think we can close this issue as `writeAsBytesSync` works as intended.

[2022-06-01 11:14] #105082 closed

[2022-06-01 11:17] exaby73 commented on #105105
Duplicate of #98471

[2022-06-01 11:22] rabichawila opened #105115 "How to download Dark SDK without powershell?"
Powershell is blocked by network admin, Therefore i'm getting this error when trying to run any flutter command ( `flutter doctor`  , `flutter pub upgrade` etc)

![image](https://user-images.githubusercontent.com/37574136/171391827-33c42caf-f3e0-47e1-98a2-7bc48a1a748a.png)

My question is: Is there any workaround this? without violating the policies :)

NB: requesting network admin to change the p

[2022-06-01 11:27] mjauernig opened #105116 "doctor check crashed if Visual Studio Preview is installed"
## Steps to Reproduce

1. Install Visual Studio Preview 17.3
2. Download flutter stable from https://docs.flutter.dev/get-started/install/windows
3. run flutter doctor

## Result
[☠] Visual Studio - develop for Windows (the doctor check crashed)
    X Due to an error, the doctor check did not complete. If the error message below is not helpful, please let us know
      about this issue at https://

[2022-06-01 11:30] whesse commented on #104963
Note that we now want to merge stable 2.17.3 into flutter stable, not 2.17.2.

Fixes for 2.17.3 are (including those for 2.17.2)

- a Dart VM compiler crash (issue [#100375][]).
- code completion when writing method overrides (issue [#49027][]).
- the `dart pub login` command (issue [#3424][]).
- analysis of enhanced enums (issue [#49097][]).

[#100375]: https://github.com/flutter/flutter/issues/1

[2022-06-01 11:34] knopp commented on #85328
Note that this also affects emoji picker. Keyboard navigation in the picker doesn't work.

<img width="347" alt="Screenshot 2022-06-01 at 13 33 33" src="https://user-images.githubusercontent.com/96958/171394969-f71a5655-47cb-449a-81d6-bbd3e0d56ea5.png">

[2022-06-01 11:45] maheshmnj commented on #105039
It looks the same to me closing in favor of #103803

[2022-06-01 11:49] exaby73 commented on #105114
Hi @prakash6491
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in t

[2022-06-01 11:49] #105114 closed

[2022-06-01 11:55] exaby73 commented on #105116
Closing as duplicate of #102451

[2022-06-01 11:55] #105116 closed

[2022-06-01 12:03] maheshmnj commented on #52324
Reproducible as of stable 3.0.1 and master 3.1.0, DropdownButton doesn't change its height based on the selected content.

<details>
<summary>code sample</summary>

[code]
</details>

<details>
<summary>flutter doctor -v (mac)</summary>

[code]
[code]
</details>

[2022-06-01 12:17] priyankabambharoliya-official commented on #70751
After spending lots of hours, finally, the release build is working fine for me. I have tested this in Vivo Z1 Pro

[2022-06-01 12:24] Renesanse commented on #104897
Help me to help you. I have some logs from App Store connect and firebase crashlytics, but I can't catch breakpoint during development cause app stable in debug mode, I will try reproduce on my iPhone 12 mini. If it necessary, my app have no problems on iPhones 13(mini, pro ). If I can find some extra logs, please, tell me. I can follow your instructions to resolve this problem.

[2022-06-01 12:30] MukeshWrms commented on #103248
findWriterForTypeAndAlternateType:119: unsupported file format 'public.heic'
issue on the iphone6

[2022-06-01 12:34] tmp78 commented on #104976
I'm pretty sure I wouldn't get any reply on stackoverflow if it was about the deferred components problem (few questions on stackoverflow, most unanswered). Fortunately, I think I found the cause of the problem - the sqlite3_flutter_libs library.
After
[code]
i received:
[code]
So, it looks as if the command had no effect on the 'base'. I looked at the aab file:
<img width="159" alt="screen" src="

[2022-06-01 12:42] erw99 opened #105118 "[tool_crash] FileSystemException: Cannot open file, OS Error: The process cannot access the file because it is being used by another process., errno = 32"

[2022-06-01 12:42] Renesanse commented on #104897
<img width="399" alt="Screenshot 2022-06-01 at 14 39 19" src="https://user-images.githubusercontent.com/42138594/171406447-3ef12ac9-a23f-4868-85e4-2c46597b426f.png">
Before this crash my app used 2.4 GB RAM, I guess I have some memory leak. My app is a feed with images and videos (ak TikTok). I use SliverList and dispose video controllers in dispose methods, I don't think it related with my dart c

[2022-06-01 12:43] iamkunalpitale opened #105119 "On the click of cancel fallback to passcode"
I had tried if i click on cancel than its fallback to passcode but it is not working
[code]

[2022-06-01 12:44] maheshmnj commented on #55400
Hi @brandondiamond, I would say this is either fixed or working as intended, I see the PopMenuButton Menu is positioned on the left top of the button, Notice that the PopMenuButton takes up the entire body of the Scaffold.

<img width="848" alt="image" src="https://user-images.githubusercontent.com/31410839/171406336-67871cdb-28f6-4114-87dd-26e73c134c8d.png">

Also if we wrap PopMenuButton with Ce

[2022-06-01 12:50] danagbemava-nc commented on #105115
Hi @rabichawila, can you share the full verbose logs of the error you're receiving?

As for workarounds, I'm not sure there are any.  Powershell is listed as a minimum requirement for the setup of flutter. Per the documentation in https://docs.flutter.dev/get-started/install/windows#system-requirements

[2022-06-01 12:53] epentesi opened #105120 "`fontVariations` property is not animatable within `AnimatedDefaultTextStyle`"
## Steps to Reproduce

1. Switch Flutter framework to `master` channel (3.1.0-0.0.pre.1037, at the moment)
2. Add the variable font **Roboto Flex** TTF file to your project (download page: https://fonts.google.com/specimen/Roboto+Flex)
[code]
3. Update **pubspec.yaml** file
[code]
4. Execute `flutter run` on the code sample
5. Click on **Color** or **Font size** button and see how the changes for

[2022-06-01 13:04] danagbemava-nc commented on #105118
Hi @erw99,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2022-06-01 13:04] #105118 closed

[2022-06-01 13:18] maheshmnj commented on #103972
@kaboc Can you please help me with steps to verify this, On my side, it seems to work fine in firefox.

[2022-06-01 13:25] whesse commented on #95209
This change removed the use of the "download_dart_sdk" flag in engine DEPS, so a gclient checkout always tries to download a Dart SDK from CIPD.  This makes it impossible to use a gclient checkout for a tip-of-tree SDK, or a patched SDK, and broke our iOS tip-of-tree builders, and our new monorepo system.

The gclient sync fails with the error that it cannot find the cipd package for that hash.

C

[2022-06-01 13:28] cfuj opened #105121 "Flutter Web: Preflight check doesn't send cookie, creates new session (NodeJS backend)"
I am using Dio. I'll be posting the same issue in both places, because I'm not sure where the problem lies.

I detail below how I can use an alternative method in the server, so preflight isn't triggering the full request, but then the main-request gives me a different session ID each time. The method I'm demonstrating here shows that the sessions are persisting, and that that Flutter-Web is getti

[2022-06-01 13:35] kaboc commented on #103972
@maheshmnj
Please try this:

1. Open the settings page of Firefox.
2. Click on "Privacy & Security" on the left column.
3. Find the History section and choose "Remember history" there.
4. Run a Flutter web app in the browser by following the steps I wrote before.
    - Make sure to use a **non**-private window.

[2022-06-01 13:39] vixez opened #105122 "git clone does not work with 3.0.1"
Hello,

We use `git clone` to install Flutter during our code build on AWS. The following command used to work fine until 3.0.1

`git clone --depth 1 -b 3.0.1 https://github.com/flutter/flutter.git`

After doing this, `flutter doctor` returns the following

[code]

Then `pub get` fails with the following error:

[code]

Do we need to specify the specific build version we want to use in a different

[2022-06-01 13:44] danagbemava-nc commented on #105122
Closing this as a duplicate of https://github.com/flutter/flutter/issues/104901.

Kindly follow up in the linked issue for updates.

Thank you

[2022-06-01 13:44] #105122 closed

[2022-06-01 13:47] maheshmnj commented on #104702
@seidoragutierrez Does this happen specifically on the iPad or other devices too? I tried to verify this on an Android device  Xiaomi k20 pro (Android 11) and I see the opposite behavior (Preview is cropped in native app and not in flutter)
I believe this could be due to the default zoom level have you tried using `setZoomLevel`?

[code]

Native |  Flutter
:-------------------------:|:------------

[2022-06-01 13:57] jensjoha commented on #17130
@SabianF how do you run your example files?
When I run from the terminal I get this:

[code]

On the first run (after I've cleaned) it has to compile the flutter framework etc again, so it takes longer. In this case 9-10 seconds to compile and run the tests.
On the subsequent run it can reuse the existing compile (it still has to read all the files though, to make sure things haven't changed) so i

[2022-06-01 14:03] danagbemava-nc commented on #105119
Hi @iamkunalpitale, I'm not sure entirely sure what your issue is.

Kindly update your initial post to provide more description as to what exactly the issue is and the steps required to reproduce it.

Please also provide the output of `flutter doctor -v`.

If you are seeking help with your own code, kindly see https://www.flutter.dev/community for places where you can ask questions. Stack overflow

[2022-06-01 14:09] maple52046 commented on #104932
Hi @danagbemava-nc, thanks for your reply.

I guess this problem occurred might because I deleted /tmp directory when the app is started.

My flutter app takes more than 10GB of disk space, but the actual data is only 50MB. I found the same issue on stackoverflow, and the solution is to remove this directory.

Currently, this issue doesn't happen when the app is in release mode, just only debug mo

[2022-06-01 14:12] jake-bots opened #105126 "Ticker dispose errors after calling dispose()"
Hi,

I'm getting Ticker dispose errors even after I am calling `dispose()` and `super.dispose()`. Here is the full error message:

<details>
<summary>Logs</summary>

[code]
</details>

And here is the relevant code:

<details>
<summary>Sample code</summary>

[code]
</details>

As you can see the `AnimationController` is being disposed of before I am calling `super.dispose()` so I don't understand

[2022-06-01 14:19] minhsu12113 opened #105127 "[tool_crash] FileSystemException: Cannot delete file, OS Error: Access is denied., errno = 5"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot delete file, OS Error: Access is denied.
, errno = 5
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel**: stable
**C

[2022-06-01 14:22] seidoragutierrez commented on #104702
The problem only happens on apple terminals. In my iPad mini it looks like the image it's zoomed in and the preview removed part of the image that it should display. I have also tested it on an android tablet and it looks like native.

[2022-06-01 14:22] stuartmorgan commented on #104523
Unfortunately `--enable-software-rendering` seems to exist for `run`, but not for `drive`. So it looks this would require a `flutter` change to support (which even if we want to do it would prevent switching stable for months).

I'm wondering if we should use the defaults hack for now, and then if it doesn't end up working when we drop OpenGL for iOS, switch back at that point and re-evaluate. Alt

[2022-06-01 14:28] kaboc commented on #103972
@maheshmnj
Thanks for the screencast. I compared it with my settings and found out how to reproduce the issue.

<img src="https://user-images.githubusercontent.com/20254485/171425340-7bd433f3-dbaf-4eeb-833b-41d1882243be.png" height="160">

I'm sorry, it seems the history setting was irrelevant. My app started successfully after I unchecked "Delete cookies and site data when Firefox is closed".

I'

[2022-06-01 14:43] kaboc commented on #103972
Let me correct myself. It's not totally irrelevant. Looks like it matters if the "Delete cookies ..." setting has been enabled.

[2022-06-01 15:17] stuartmorgan commented on #105057
Hm, the more I look at `ErrorOr` the more confused I am. I missed that `MakeWithUniquePtr` returns a *different type* than the type it's called with. And there doesn't appear to ever be a way to use the `unique_ptr` variant flavor of `v` given the implementation of `get`?

It looks like the intent of `v` was that it could have a copy or a unique ptr and either would work as a value, but that's not

[2022-06-01 15:20] chinmaygarde opened #105129 "[Impeller] OpenGL/Android: Investigate frame scheduling issues making the scrolling seem jittery."
The gallery scrolling on Android with Impeller is well within budget. However, the frame scheduling seems to drop every other frame (seemingly). The cause needs to be investigated and fixed so the scrolling seems smooth.

[2022-06-01 15:33] vandit2209 opened #105130 "Wanting to downgrade to flutter 2"
Device: Macbook
I want to downgrade to flutter 2 because I am trying to develop an app using agora and

# My first try, downloaded the arm version 2.13 pre from flutter website and tried changing my path
my zshrc file `updated`
`export PATH="$PATH:/Users/USERNAME/development/flutter2/bin"`

results:
[code]
`Notice there is not /flutter2`

# my second thought

uninstall flutter. But there is no gui

[2022-06-01 15:36] eyebrowsoffire commented on #99885
This is in progress, I'm actively working on this.

[2022-06-01 16:00] fluttergithubbot opened #105131 "Linux android views is 8.08% flaky"
The post-submit test builder `Linux android views`, which has been marked `bringup: true`, had 8 flakes over past 99 commits.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/staging/Linux%20android%20views/1470
Commit: https://github.com/flutter/flutter/commit/2d0cdbcfd2e7b1ae76c4669bbb44240a8cb2cb63

Flaky builds:
https://ci.chromium.org/ui/p/flutter/bui

[2022-06-01 16:00] fluttergithubbot opened #105134 "Linux_android opacity_peephole_col_of_rows_perf__e2e_summary is 2.00% flaky"
The post-submit test builder `Linux_android opacity_peephole_col_of_rows_perf__e2e_summary` had a flaky ratio 2.00% for the past (up to) 100 commits, which is above our 2.00% threshold.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/prod/Linux_android%20opacity_peephole_col_of_rows_perf__e2e_summary/1892
Commit: https://github.com/flutter/flutter/commit/

[2022-06-01 16:07] lukepighetti opened #105139 "url_launcher system chrome is wrong color on iOS"
If you launch a URL, the system chrome is the wrong color on iOS.

https://user-images.githubusercontent.com/666539/171449429-a23131a9-03d3-493a-9675-1675650d2a82.mov

[code]

There was a proposed solution of allowing the user to override this manually, but this is not available in `launchUrl` and `launch` is deprecated. Furthermore, I believe it's too much to ask the user to handle this properly,

[2022-06-01 16:11] zanderso commented on #100522
Hi all, we would love to work on fixing this, but we really need your help. Please see my comment here https://github.com/flutter/flutter/issues/100522#issuecomment-1133075980.

[2022-06-01 16:17] zanderso commented on #102663
This hasn't flaked in 3 weeks. Closing.

[2022-06-01 16:17] #102663 closed

[2022-06-01 16:21] zanderso commented on #96401
Presuming this was fixed by dismissing dialogs / upgrading devices.

[2022-06-01 16:28] gredajustyna opened #105142 "Writing flutter plugin: `GeneratedPluginRegistrant` error"
I am writing a flutter plugin for signing data with Ed25519. The code seems to be running in some other app. However when I want to run the `main.dart` file in the example directory, I get the following error:

![image](https://user-images.githubusercontent.com/83274413/171453339-43c420a3-7f18-4f46-9bdc-4ccb175f4c68.png)

What could be causing the issue? The file is automatically generated and the

[2022-06-01 16:32] Ulukbek-01 commented on #93153
https://developer.apple.com/forums/thread/697226

[2022-06-01 16:35] justinmc commented on #85328
@LongCatIsLooong Was https://github.com/flutter/engine/pull/32051 supposed to fix the problems mentioned above too?

[2022-06-01 16:38] cyanglaz commented on #103076
Fixed with https://github.com/flutter/engine/pull/33262

[2022-06-01 16:38] #103076 closed

[2022-06-01 16:42] keyonghan opened #105147 "Linux-16 needs device authorization"
The bot is quarantined now, and needs authorization.
[code]

Could you help authorize when you visit the lab upgrading iOS? @yusuf-goog

[2022-06-01 16:48] chinmaygarde opened #105148 "[Impeller] Implement blit passes for mip-mapping and texture copies."
We need these passes for both performance and to unblock features like https://github.com/flutter/flutter/issues/104718.

On the performance front, high L1 cache miss rates will be addressed by using mip-mapping (which is currently unsupported). The screenshot [from the following trace](https://drive.google.com/file/d/1vOLURTvtjZTjs7_TjlTm1fAee8oFulno/view?usp=sharing&resourcekey=0-pp8vK8M6rOkcJhn

[2022-06-01 16:54] Vito0912 opened #105149 "Cupertinopicker alternate style / CupertinoMenuPicker"
## Use case

Selecting something.

## Proposal
A widget for IOS/Cupertino Widget Picker. At the moment - as far as I have seen - there is no alternative style for the Cupertino Picker. There is currently only the scrolling wheel variant. In several apps in IOS and in some apps on the Ipad this variant of the picker is used. Especially for a few options, this is more appealing to the user.
Since I

[2022-06-01 16:58] johnpryan opened #105150 "go_router_builder example is broken"
Build: https://github.com/flutter/packages/runs/6675774508

[code]

After upgrading to provider, there is still an issue where the `/login` route is not found because the `/` route has child routes:

<img width="853" alt="Screen Shot 2022-06-01 at 9 57 23 AM" src="https://user-images.githubusercontent.com/1145719/171459535-b5076bfa-acba-43b7-b188-e5f53ea82090.png">

[2022-06-01 17:10] jrc2139 commented on #34499
i was struggling with this error (flutter 3.0.1) because i thought maybe an unhandled error was causing this.

however, i fixed it by wrapping the `runApp` call in the test with `runZoneGuarded` 💪

[2022-06-01 17:11] filusan opened #105151 "[tool_crash] FileSystemException: Cannot create link, OS Error: Funzione non corretta., errno = 1"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot create link, OS Error: Funzione non corretta.
, errno = 1
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel**: stabl

[2022-06-01 17:12] derKosi commented on #105107
I am pretty new to flutter, or dart, but it seems to me that the
flutter plugin generator creates different structures now then it had a year ago.

So now one has to extend the interface, or it's abstract class window_to_front_platform_interface.dart with a method 'activate' ,
well, maybe we can omit that if we just do excactly what the codelab says...

Nope, the include on the header file is not

[2022-06-01 17:13] gaaclarke opened #105152 "Create flag for turning off the dart profiler"
In https://github.com/dart-lang/sdk/issues/49119 it was found that the dart profiler can aggravate the paging in of code in the VM which can cause the wall time spent in symbols to inflate to 2x.  For profile builds this can skew benchmarks that rely on wall time.  We should add a flag to flutter tool that allows us to launch the process without the dart profiler running.

In practice I think benc

[2022-06-01 17:14] loic-sharma commented on #104654
I added one more commit to the cherrypick: https://github.com/flutter/flutter/commit/52e19ef7ec31652840cc01026358e2a678e73504 from https://github.com/flutter/flutter/pull/104133

[2022-06-01 17:20] jmagman commented on #105068
Running when `DEPS` changes catches new clang warnings https://github.com/flutter/engine/pull/33739

[2022-06-01 17:36] chinmaygarde commented on #105134
Both are instances of which was fixed in https://github.com/flutter/flutter/pull/105078:
[code]

[2022-06-01 17:36] #105134 closed

[2022-06-01 17:37] #104632 closed

[2022-06-01 17:38] chinmaygarde commented on #105066
The linked PR is closed. Can we disable or remove the test if we can't figure out what it does or fix it?

[2022-06-01 17:42] namangor04 commented on #105095
@maheshmnj okay got it! Thank you sir! But then why is it that only on my machine does the issue occur? Is it due to the fact that my machine is running Windows 11? Because i have not changed a single thing in flutter. I have even reinstalled flutter 2 times (re-downloaded the sdk 1 time) after getting this issue, and I did it again today too. But it didn't solve the issue. What do you suggest doi

[2022-06-01 17:44] rrousselGit commented on #36220
I'm not sure if it does, but it should.

The Portal should have access to the list of associated entries, so it should be able to make them relayout right?

[2022-06-01 17:45] chinmaygarde commented on #104884
cc @jason-simmons

[2022-06-01 17:49] gaaclarke opened #105155 "mac clang->engine roll blocked on clang-tidy errors"
autoroller link: https://autoroll.skia.org/r/clang-mac-flutter-engine
example failure: https://ci.chromium.org/ui/p/flutter/builders/try/Mac%20clang-tidy/4259/overview

error:
[code]

It is odd that the actual violations aren't being printed out.  @jmagman was able to reproduce it locally and it sounds like clang-tidy is crashing with `illegal hardware instruction`, which would explain why it is f

[2022-06-01 17:52] #56715 closed

[2022-06-01 17:52] stuartmorgan commented on #105139
At the time it was originally added, as you can see in the PR you linked, the work had to be done in native code, so adding it to the plugin made sense. That hasn't been true in quite some time however.

Can you elaborate on why? The code that did this has, over time, simplified to just the following Dart:

https://github.com/flutter/plugins/blob/3993fa7126376c2362bf078a86def2cf959091dd/packages/u

[2022-06-01 17:55] CaseyHillers commented on #61751
We could run this test on Dart internal builders where internet access is limited. There's some complexity about he would do this in the prod pool, but we can revisit once it's running on Dart internal.

[2022-06-01 17:56] chinmaygarde commented on #105036
There isn't enough information here to make progress. The crash is in Apple's Metal driver and we don't have steps to reproduce the issue. The code path is also fairly typical for texture uploads.

[2022-06-01 17:58] blasten commented on #104444
yes, this is related to https://github.com/flutter/flutter/issues/103630

[2022-06-01 18:01] bdero opened #105156 "[Impeller] GLES backend: Binding is incorrect with multiple uniform slots are present"
This is a binding map problem in ImpellerC. See comment: https://github.com/flutter/flutter/issues/105156#issuecomment-1150232082

~Should be `glUniformMatrix4fv`. Here's the `glUniform4f` call with the first 4 items in the matrix:~
![image](https://user-images.githubusercontent.com/919017/171470763-e848a7d7-2d9c-4c45-8d08-7ca860a4f855.png)

~Output positions of vertex shader ending up with all 0s

[2022-06-01 18:04] XRayAdamo opened #105157 "[macOS][Desktop]: App name does not change"
## Steps to Reproduce
I am trying to add macOs support to one of my projects. I have managed to complete everything, but one problem still exists. Application name remains as a project name.

**Expected results:**
App name should be Bundle Display Name
**Actual results:**
Instead project name was used
<details>
I have created new empty project to show behavior.
This is info.plist
![image](https://

[2022-06-01 18:04] yusuf-goog commented on #104668
This bot is now running jobs fine.

[2022-06-01 18:04] #104668 closed

[2022-06-01 18:09] TheOneWithTheBraid commented on #105087
Stupid question, if it is implemented for integration testing, can one somehow pretend to be in integration test in order to use a custom cache location?

[2022-06-01 18:10] chinmaygarde commented on #104514
The crash is in the Android framework. None of the stack frames are in the Flutter engine.

[2022-06-01 18:11] gaaclarke commented on #105155
This appears to be a crash in clang-tidy, I was able to reproduce it locally with @jmagman's help.

Here is the crash:
[code]

I'll attach the full backtrace:
[clang-tidy-crash.txt](https://github.com/flutter/flutter/files/8817858/clang-tidy-crash.txt)

Here was the invocation:
[code]

[2022-06-01 18:12] chinmaygarde commented on #104574
Closing this as answered.

[2022-06-01 18:12] #104574 closed

[2022-06-01 18:17] namangor04 commented on #105095
@mrunion so have you did any changes to your flutter sdk locally? Or are you having the same issue as mine?

[2022-06-01 18:25] usergitty commented on #105093
I just ran into the same issue with the Finamp app on my OnePlus One running Lineage OS 18.1  #https://github.com/UnicornsOnLSD/finamp/issues/244#issue-1255899083
And just to make sure I tried installing the Flutter Gallery app and same thing happens.

![171405541-5eb65b8c-e06c-43b3-b1ac-0300b7cd1024](https://user-images.githubusercontent.com/106674296/171475761-4ffcf0ed-42dc-4821-98b2-a708f6ba878

[2022-06-01 18:30] lukepighetti commented on #105139
The implementation details are not particularly concerning to me. Although I don't see how the solution proposed would handle all cases, such as AnnotatedRegion, what brightness the web view bar will be on launch, knowing what the last overlay style was.

My larger concern is that it people's skill levels should match the level of the API. Launching a URL is a very basic rudimentary task, it shoul

[2022-06-01 18:39] jmagman opened #105159 "flutter/flutter main and master branches are out of sync, pointed to different commits"
https://github.com/flutter/flutter/tree/master points to 38a2359, https://github.com/flutter/flutter/tree/main points to 3d62732 which is 11 commits and 14 hours behind.

[2022-06-01 18:53] hananmalka commented on #34499
@jrc2139 - Unfortunately it doesn't work for me :(

[2022-06-01 18:58] christopherfujino commented on #39176
Actually, closing this as a duplicate of https://github.com/flutter/flutter/issues/44526

[2022-06-01 18:58] #39176 closed

[2022-06-01 19:05] stuartmorgan commented on #105150
The reason this passed presubmit and failed postsubmit is:
https://github.com/flutter/packages/blob/main/packages/go_router_builder/example/pubspec.yaml#L29-L30

We should never have cross-package, path-based dependencies checked in to the repo. Our tooling only tests changed packages in presubmit, which means that any breaking change to `go_router` is likely to cause this to happen again, because

[2022-06-01 19:07] stuartmorgan commented on #105150
Upgrading to P0 as this closed flutter/packages.

[2022-06-01 19:09] ditman commented on #104960
I did some testing in the URL I'm using to test my patch: https://dit-bootstrap-tests.web.app:

In the emulators I have:

* Android API level 23 didn't come with any Chrome by default, but I installed v45. It does not support [destructuring assignment](https://caniuse.com/mdn-javascript_operators_destructuring), so it fails in flutter.js, [here](https://github.com/flutter/flutter/blob/master/packa

[2022-06-01 19:22] elliette commented on #95916
I'm unable to reproduce this but have some idea of what might be happening based on the stack trace.

DWDS tries to locate the execution context of the running Dart application in [`execution_context.dart`](https://github.com/dart-lang/webdev/blob/master/dwds/lib/src/debugging/execution_context.dart#L29-L58). We try to search through all execution contexts in a given tab to try to find the correct

[2022-06-01 19:37] ditman commented on #104830
We've thought of detecting the "flutter has deleted the `build` folder" as a sign that they wanted to do a `build clean`; I'm investigating how to add that feature cleanly to the `flutter` tool.

[2022-06-01 19:38] ditman commented on #103070
We should trigger a `flutter clean` if the user has deleted `build` but not the internal caches, to go back to a stable state.

[2022-06-01 19:47] stuartmorgan commented on #105139
I'm confused; does `launch` do what you want, or not? You are describing this as a regression, but you are also saying that you don't think the code I was describing—the actual code from `launch`—works.

[2022-06-01 19:51] jmagman commented on #105159
@keyonghan on-call

[2022-06-01 19:52] bdero commented on #104786
I dug into this a bit and the full cubemap is getting allocated device-side with all zero data. I tried to switch it out with `glTexSubImage2D`, which should also work, but am running into GL_INVALID_VALUE errors for some reason.

[code]
The level, width/height, and offsets look fine, so not sure why it's happening.

[2022-06-01 20:00] jamesncl commented on #92294
Just to clarify in case others like me had a hard time getting this to work - I think things have changed slightly with how Xcode handles watch extensions, so for flutter 2.10.5, Xcode 13.4:

- When you add a "Watch app for iOS app" to existing project in Xcode 13, Xcode will create 2 targets - one for the watch assets (which just contains Assets and nothing else) and one for the WatchKit Extensio

[2022-06-01 20:23] stuartmorgan commented on #105057
I think I have a workable version of this using a move-based alternate constructor instead of a `unique_ptr` version. (I'm still working through some unrelated issues to get and end-to-end test going.)

[2022-06-01 20:24] CAJazzer commented on #82602
I can consistently reproduce the problem as follows on my M1 Macbook Pro:

1. Create a new Flutter (3.01) application and add latest image_picker (0.8.5+3) and other packages required for the demo app -  Run the app on ios Simulator and everything works fine (non heic images load correctly)
2. For me, I need the [google_maps_flutter](https://pub.dev/packages/google_maps_flutter) package so I add i

[2022-06-01 20:31] jmagman commented on #82602
If you are on a M1 Mac you are likely hitting an iOS simulator Rosetta issue.  google_maps does not yet support arm64 simulators, which is why adding it drops you back to Rosetta, exposing iOS simulator bugs.  You're hitting https://github.com/flutter/flutter/issues/82602#issuecomment-1144099379 and https://github.com/flutter/flutter/issues/74970#issuecomment-858170914.  We have an open issue to u

[2022-06-01 20:37] #104635 closed

[2022-06-01 20:38] stuartmorgan opened #105164 "[pigeon] Windows C++ generator doesn't handle optional arguments correctly"
For instance `void foo(String? bar);`, which is currently translated to a `std::optional<std::string> bar` argument, generates the following decoding:

[code]

But `encodable_foo_arg` is a null encodable value here, so this throws on null. (And strings shouldn't be trying to use `CustomEncodableValue` in the first place; this probably throws on non-null too.)

[2022-06-01 20:52] Toph92 commented on #69398
Annoying limitation for WEB or windows

[2022-06-01 20:55] P-B1101 commented on #32249
It's not working on web.

[2022-06-01 20:59] jrc2139 commented on #34499
you trying adding an isolate to catch an error as well

[code]

[2022-06-01 21:06] dnfield commented on #93346
@iskakaushik should we reassign this to you?

[2022-06-01 21:08] #100762 closed

[2022-06-01 21:09] TahaTesser commented on #105021
This also happens with Android Studio Dolphin which is currently in beta.

[2022-06-01 21:11] iskakaushik commented on #93346
yes please!

[2022-06-01 21:17] jmagman commented on #105155
Crash log
[clang-tidy-crash.txt](https://github.com/flutter/flutter/files/8818801/clang-tidy-crash.txt)
[code]
etc 🔁

[2022-06-01 21:18] keyonghan commented on #103365
The builder in the PR was with `bringup: false` (see [properties](https://ci.chromium.org/ui/p/flutter/builders/prod/Mac%20iOS%20Engine%20Release/13829/overview)).
Is this still happening?

[2022-06-01 21:23] jmagman commented on #104897
Looking for a full crash log that starts with "Incident Identifier" and has the list of binary images at the end.  https://developer.apple.com/news/?id=nra79npr says
[code]

[2022-06-01 21:24] #105147 closed

[2022-06-01 21:37] goderbauer commented on #105028
@cbracken 🇯🇵

[2022-06-01 21:38] goderbauer commented on #104872
`MockClipboard` is not public API. Offering some kind of test affordance for it could be useful though!

/cc @justinmc

[2022-06-01 21:39] eyebrowsoffire commented on #99885
I have a PR out with the tests based on safaridriver. However, at this point I'm blocked on (crbug.com/1328969) which Keyong mentioned above

[2022-06-01 21:40] keyonghan commented on #104762
Profile added, and bot is back.

[2022-06-01 21:40] goderbauer commented on #104742
/cc @chunhtai @Piinks

[2022-06-01 21:41] yusuf-goog opened #105170 "ios device on mac-24 needs storage cleaned"
system data is taking most of all space on the device. Need to erase and free up space.

[2022-06-01 21:47] SabianF commented on #17130
<details>

*<summary>Quoted reply by @jensjoha ("@SabianF how do you run your example files...")</summary>*

</details>

1. How did you run your examples?
    - **To be as specific as possible, I did them with**
        - The `Run` button directly above the test/group blocks inside the test files
        - VS Code's `Run with debugging` and `Run without debugging` according to the launch.json I sh

[2022-06-01 21:50] yusuf-goog commented on #104862
mac-23 is having an issue, where its failing to get the update.

[2022-06-01 21:52] bdero opened #105171 "Support BackdropFilter op in DisplayList"
This effect applies a filter to a rectangle on an existing texture.

[2022-06-01 21:53] dnfield commented on #93352
@iskakaushik this one too

[2022-06-01 21:53] yusuf-goog commented on #105170
Done.

[2022-06-01 21:55] godofredoc commented on #105159
Updated the token and ran the failing workflows. Now main and master point to the same commit.

[2022-06-01 21:55] #105159 closed

[2022-06-01 21:59] threedotz commented on #104823
Hi @cyanglaz so the crash was occurring only on the single device.
Your suggestion to uninstall the app pointed us in the direction of the possible cause(s).

After reinstalling the app on the same device, the crash was not happening except after logout and logging back in, which pointed us to the clean up code during logout.

We were clearing some directories using the `path_provider` package dur

[2022-06-01 21:59] #104823 closed

[2022-06-01 22:00] yusuf-goog opened #105172 "mac-23 ios device is dead"
The device cannot be activated. Needs to be activated manually or replaced.

[2022-06-01 22:01] doesnotexist commented on #89042
I believe this issue can be closed.  Doesn't this merged PR https://github.com/flutter/engine/pull/28341 address the issue?

[2022-06-01 22:09] christopherfujino commented on #95582
SGTM

[2022-06-01 22:09] #95582 closed

[2022-06-01 22:13] blasten opened #105173 "Remove handling of the Flutter splash screen"
Flutter splash screen are deprecated: https://docs.flutter.dev/development/ui/advanced/splash-screen#migrating-from-manifest--activity-defined-custom-splash-screens

There are a number of apps that add the metadata `io.flutter.embedding.android.SplashScreenDrawable` to AndroidManifest.xml in g3.

Recently, the logic that lookups the drawable in the embedding is causing some issues on Android T bet

[2022-06-01 22:14] blasten commented on #105173
cc @GaryQian

[2022-06-01 22:18] yusuf-goog commented on #104862
All devicelab ios devices have been upgraded to 15.5: https://chromium-swarm.appspot.com/botlist?c=id&c=task&c=device_os&c=os&c=status&d=asc&f=device_os%3AiOS-15&k=device_os&s=device_os

[2022-06-01 22:18] #104862 closed

[2022-06-01 22:28] hananmalka commented on #34499
Where should I put this code?

[2022-06-01 22:41] QuncCccccc commented on #103528
Yes, the updated IconButton will look like the other common buttons(TextButton, OutlinedButton and etc) without text.

[2022-06-01 23:04] yusuf-goog commented on #104138
This has been deployed on dev salt master and is working on minions connected to it (e.g. linux-18). It shoudl be deployed to prod salt master shortly.

[2022-06-01 23:04] #104138 closed

[2022-06-01 23:06] gaaclarke commented on #105066
I was able to assert that the order is happening the way we expected it.  It appears `fml::MessageLoop::GetCurrentTaskQueueId()` is not returning the value we expect.  Wether it's erroneous or not I haven't been able to establish yet.  (I hope it's an error in reporting the thread id and not an error in dispatching to the correct thread)

[code]

yields
[code]

[2022-06-01 23:17] fzyzcjy commented on #36220
+1

When PortalTarget feels its environment changes, it will tell Portal about it.

[2022-06-01 23:36] pdblasi commented on #27997
To add to the workarounds previously provided, I wrote one up in dart that also gets rid of files with a `part of` directive. Since I've already got dart anywhere I need to run it, it was easier to write and use a dart script.

Just replace the `packageName` value with your actual package name and run with `dart run` in the root of your repo/package. You can also add in additional checks to the `w

[2022-06-01 23:59] 2372281891 opened #105179 "The plugin named Flutter_markdown has overlapping blockquotes in certain mobile browsers, such as Safari and Quark."
The plugin named **Flutter_markdown** has overlapping blockquotes in certain mobile browsers, such as **Safari** and **Quark**.

[image](https://imgtu.com/i/XYcs0K)

[2022-06-02 00:04] godofredoc commented on #103224
The mirrors repository has been archived.

[2022-06-02 00:04] #103224 closed

[2022-06-02 00:45] cbracken commented on #105028
Looks to me like we're using the Android (Material?) wording for these options rather than the iOS wording. The options are comprehensible but not what an iOS user expects. See Android screenshots below:

Default Android menu for a selection looks like: 翻訳　切り取り　コピー　取り付け (Translate, Cut, Copy, Paste)
<img width="354" alt="Translate Cut Copy Paste" src="https://user-images.githubusercontent.com/3510

[2022-06-02 00:50] LongCatIsLooong commented on #85328
No it's a known limitation of the workaround.

[2022-06-02 00:53] jmagman opened #105180 "Skip no-tests checks for dependabot PRs"
Dependabot PRs should be exempt from `needs tests` labelling and "It looks like this pull request may not have tests." comments.

This should also be true for all roller accounts:
https://github.com/flutter/cocoon/blob/9810d1ad345c1f67c3d5707a7975a703774a91f8/auto_submit/lib/service/config.dart#L163

See https://github.com/flutter/plugins/pull/5858 for example PR.

[2022-06-02 00:55] jmagman opened #105181 "Skip "publishable" check when only example build files are edited"
Pass "publishable" check in plugins and packages when the only changed files are in the example directories.

https://github.com/flutter/plugins/blob/main/script/tool/lib/src/publish_check_command.dart

This will allow us to autosubmit by putting `waiting for tree` labels on roller PRs that update examples like https://github.com/flutter/plugins/pull/5858.

[2022-06-02 00:56] cyanglaz opened #105182 "flutter/plugin ci build failed on image_picker_android"
Looks like some Jars from some transitive dependencies are failing. See full log: https://cirrus-ci.com/task/6275541295693824?logs=native_unit_test

[code]

[2022-06-02 01:04] mrunion commented on #105095
I have done nothing locally except to install Flutter. No customization, etc.

I copied the sample code from @maheshmnj above on my "working" Windows machine. I then tested it on that machine and another Windows machine that has the scrolling problems. Here are the results:

### Working Windows Machine:

Scrolling horizontally works fine.

Flutter Doctor output:
[code]

### Non-Working Windows Mac

[2022-06-02 01:32] Yeatse opened #105183 "Pointers compression in iOS makes apps more easily to OOM in production."
Recently we upgraded our app to latest stable version of flutter, and encountered much more crashes in production. Most of the crashes are unrelated to flutter itself, but they are all memory issues.

## Steps to Reproduce

1. `flutter create bug`, then replace `ios/main.swift` as below
2. Run this sample in iPhone 7 (or other low-end iOS devices, physical devices are required), and wait for 3 sec

[2022-06-02 01:32] jmagman commented on #105028
It seems to be generated for cupertino and material instead of by platform.

https://github.com/flutter/flutter/blob/9cf042ec746629301c9c1c7b6e220b02eddec4ec/packages/flutter_localizations/lib/src/l10n/generated_material_localizations.dart#L19026
https://github.com/flutter/flutter/blob/9cf042ec746629301c9c1c7b6e220b02eddec4ec/packages/flutter_localizations/lib/src/l10n/generated_cupertino_localiza

[2022-06-02 01:35] 0xZOne commented on #103870
The low memory notification can be simulated by the following command:

[2022-06-02 01:37] marctan opened #105184 "[ios] Multiple Rebuild issue on 2.10.5 when opening keyboard"
Hello, there's an issue with flutter 2.10.5 when opening keyboard and using `responsive_builder`. It will call `build` and `didChangeDependencies` multiple times. This is not happening in 2.8.1.

**2.8 video below**:

https://user-images.githubusercontent.com/19194749/171528794-777f5898-1077-4cad-9fce-fe83235788bc.mov

**2.10.5 video below**

https://user-images.githubusercontent.com/19194749/1715

[2022-06-02 01:41] inevitabile opened #105185 "Cursor bug in TextField. Cursor sticks and gets into the selection mode"
## Steps to Reproduce

1. Run any app with a TextField

2. Tap on any of these keys
![Screenshot_151](https://user-images.githubusercontent.com/8906519/171528748-9313a67c-ac22-4346-8a98-5dec21b946e9.png)

3. Tap inside the field trying to change the cursor position

4. The cursor sticks and enters in selection mode (it's not exactly the selection mode but looks like it). You fall into a trap. Typi

[2022-06-02 01:42] cnmade commented on #81839
The fastest select text is smearing or draw to select text.

For example.

user can smearing on text area , to select text they want. want they smearing, is what they need.

On mobile phone, IOS or Android,   using finger to smearing is faster than other solution.

![image](https://user-images.githubusercontent.com/278153/171529243-79bc1de6-3d71-48ce-97f4-ac4d2aafc934.png)

[2022-06-02 01:52] dkwingsmt commented on #85328
Do we have a plan on how this will be fixed?

[2022-06-02 01:58] #103713 closed

[2022-06-02 02:17] linxuebin1990 commented on #89042
Yes, I will close this issue.

[2022-06-02 02:18] linxuebin1990 commented on #89042
Yes, I will close this issue.

[2022-06-02 02:18] #89042 closed

[2022-06-02 02:19] stuartmorgan opened #105187 "[plugins] Consider running platform tests for `stable` only post submit"
Currently we run almost all tests in flutter/plugins twice: once for `master`, and once for `stable`. By far our most computationally expensive tests are the `*-platform_tests` tests, which build the plugins, run their native unit tests, and run their integration tests. In the vast majority of cases, those tests have the same outcome on the two branches (ignoring flake); branch-specific failures a

[2022-06-02 02:20] 0xNF commented on #103808
I created a new flutter project, using only the code contained the ReorderableListView sample app code, called it "reorderablecrash", then opened up the generated `build/windows/reorderablecrash.sln` file. I set the startup project to be `reorderablecrash`. I get the following crash info pretty reliably on startup:

[code]
I'll add any more info to this post if and when I find it.

[2022-06-02 02:25] wutianlin opened #105188 "[Web]Too many active WebGL contexts. Oldest context will be lost."
When using `CustomPainter`, the following code causes webapp to lose response, but it returns to normal after removing `cubicto` related statements. It seems that `cubicto` has a great impact on performance?

<details>
<summary>sample</summary>

[code]
</details>

![截屏2022-06-02 上午10 24 41](https://user-images.githubusercontent.com/29848308/171537379-28270599-88ea-44b4-8fdd-361534f75574.png)

[2022-06-02 02:32] #103399 closed

[2022-06-02 02:33] #102056 closed

[2022-06-02 02:45] namangor04 commented on #105095
Okay thank you @mrunion! So this does affirm that Flutter does have a problem with horizontal scrolling atleast on some Laptops. It might be to do something with the driver versions or it might affect only trackpads from some OEMs. Let's see what results we get when you run it on a physical windows laptop and thank you for that too!

[2022-06-02 02:50] namangor04 commented on #105095
I do understand that @maheshmnj sir, and i was just describing my issue by stating

[2022-06-02 02:51] namangor04 commented on #104951
I have solved problems 1 and 2 by creating my own plugin on pub.dev, [dual_scroll][1]

[1]: https://pub.dev/packages/dual_scroll

[2022-06-02 03:01] namangor04 commented on #104951
I have solved problems 1 and 2 by creating my own plugin on pub.dev, [dual_scroll][1]

[1]: https://pub.dev/packages/dual_scroll

[2022-06-02 03:09] xlofhappy commented on #100119
I have the same problem!!!!!
I found no solution～～～

[2022-06-02 03:35] huycozy commented on #105126
Hi @jake-bots,
I cannot run the example because the code is incomplete.

Please provide a [completed and minimal reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example) so that we may verify this. And please provide the output of `flutter doctor -v` as well.

Thank you!

[2022-06-02 03:53] huycozy commented on #105142
Hi.
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and ask questions like this.
You may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp.
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will

[2022-06-02 03:53] #105142 closed

[2022-06-02 04:07] domesticmouse commented on #105017
@khanhnwin do you want to mark this as fixed now?

[2022-06-02 04:16] hongfeiyang commented on #95805
I am able to get outputs from stdout correctly now in debug mode, thank you flutter team

[2022-06-02 04:31] ColtonDevAcc commented on #100119
Same problem

[2022-06-02 04:38] dnfield opened #105192 "Tune resource cache cleanup"
We tell Skia to cleanup the resource cache at the end of every frame for entries that have not been touched in the last 15 seconds. (see https://github.com/flutter/engine/pull/6867).

We seem to have taken this value from Chromium (https://source.chromium.org/chromium/chromium/src/+/main:components/viz/common/gpu/context_cache_controller.cc;l=21;bpv=0;bpt=1, added here: https://source.chromium.org

[2022-06-02 04:42] xster commented on #105192
is that right? In the b/233149547 case, I don't think any low memory signal ever happened

[2022-06-02 04:56] muhammadsaddamnur commented on #33850
any update ?

[2022-06-02 05:04] darshankawar commented on #88708
Verified this issue on latest stable (3.0.1) and confirmed that the issue doesn't occur anymore and has been fixed.

[code]

https://user-images.githubusercontent.com/67046386/171556498-86ff2dd0-6d59-4c7b-936e-fdb965ed601d.mov

<details>
<summary> stable flutter doctor -v </summary>

[code]

</details>

Closing this as fixed.

[2022-06-02 05:04] #88708 closed

[2022-06-02 05:08] darshankawar commented on #64825
Verified this issue on latest stable (3.0.1) and confirmed that the exception doesn't occur anymore and the test passes successfully as below:

<img width="774" alt="Screenshot 2022-06-02 at 10 36 19 AM" src="https://user-images.githubusercontent.com/67046386/171556845-1b024fc6-5553-4160-a35a-71a73492f646.png">

<details>
<summary> stable flutter doctor -v </summary>

[code]

</details>

Closing t

[2022-06-02 05:08] #64825 closed

[2022-06-02 05:15] kdcyberdude commented on #92061
@ldasilva-net It is working on my devices. I have tested this on 5 different android devices.
Just to confirm, Is your app crashing on tapping "LAUNCH DYNAMIC FEATURE" or "LAUNCH FLUTTER". If it's crashing on the "Launch dynamic feature" then it's expected because this edge case is not handled i.e do not open dynamic feature module activity if a module is not installed and loaded. I have updated t

[2022-06-02 05:15] dnfield commented on #105192
For the internal bug, I'm not sure if low memory signals are getting sent or not (and, if they are, whether the context is getting made current or not). If we could get a perfetto trace we would be able to see them. I just noticed when reading the neighboring code and it seems not quite right to me. I'm not sure I'm fully understanding the relationships though between rasterizer and multiple engin

[2022-06-02 05:16] darshankawar commented on #105121
@cfuj Thanks for the report. Since you are using `dio`, I suggest you to follow-up in the issue you reported in that repo since it is third party for Flutter.
You may also try to use `http` package and see if it gives same results or not. If not, then, please do the same by reporting in dedicated repo.
Closing out from here as this doesn't seem to be specific to flutter web. If you disagree, write

[2022-06-02 05:16] #105121 closed

[2022-06-02 05:18] bhanuka96 opened #105193 "Flutter app is not working on 13.4"
I am getting the below error when running the app on XCode 13.4. The app is working fine on 13.2.

**Flutter Doctor**

[code]

I attached error log file here
[Build target Runner_2022-06-02T10-26-46 AM.txt](https://github.com/flutter/flutter/files/8820955/Build.target.Runner_2022-06-02T10-26-46.AM.txt)

[2022-06-02 05:23] darshankawar commented on #105130
@vandit2209
Your question is better suited for support channels like Stackoverflow so please ask the same there.
See below similar SO links for your reference and check if they help.

https://stackoverflow.com/questions/59760735/how-do-you-uninstall-flutter-completely-and-properly-from-a-mac
https://stackoverflow.com/questions/64763870/how-to-uninstall-flutter-in-mac

Closing as this isn't a bug o

[2022-06-02 05:23] #105130 closed

[2022-06-02 05:26] huycozy commented on #105149
Hi @Vito0912,
I'm not sure what style you expect to look like. But based on the screenshot you provide, it looks like a dropdown list.
See https://api.flutter.dev/flutter/material/DropdownButton-class.html
Try using dropdown and see if it is what you expected. If it's not, please provide some picker styles so that we'll have enough details to conclude on the issue.

Thanks!

[2022-06-02 05:31] Nitingadhiya commented on #105193
@bhanuka96
Did you try to clean pub cache? "flutter pub cache clean"
Did you try to clean Derived data from Xcode?

Let me know it's works for you or not?

[2022-06-02 05:33] huycozy commented on #105151
Hi @filusan, thanks for filing the issue.
I see there's an open issue addressing the case you described.
Closing as duplicate of #66224, so please follow up on it for further updates.

[2022-06-02 05:33] #105151 closed

[2022-06-02 05:35] maheshmnj commented on #105095
Thanks for the update @namangor04, @mrunion I am labeling this issue for further investigation from the team, since I am unable to reproduce the issue. Triage details can be found here https://github.com/flutter/flutter/issues/105095#issuecomment-1143613193

cc: @gspencergoog

[2022-06-02 05:36] bhanuka96 commented on #105193
@Nitingadhiya Yes, I ran the app on new pc too.

[2022-06-02 05:46] maheshmnj commented on #102056
Thanks for the confirmation.

[2022-06-02 05:54] Nitingadhiya commented on #105092
@Nuke-101

As I understand your issue, I created something for you and maybe it's helpful for you.
so Please check  below link. I've verified with stable Flutter version(3.0.1) / Dark SDK (2.17.1) and also with old Stable version (2.10.0).

https://gist.github.com/Nitingadhiya/697599cf2d7dc6f49ce5477604618a15

[2022-06-02 06:06] jmagman commented on #105187
Sounds good to me!

[2022-06-02 06:08] namangor04 commented on #105095
Thank you for the help @maheshmnj sir and @exaby73 sir!

[2022-06-02 06:12] darshankawar commented on #105157
Thanks for the report. I verified this on latest stable (3.0.1) and confirmed the behavior. I looked for similar issues already filed and came across https://github.com/flutter/flutter/issues/41793 which was fixed and working for iOS.

According to that fix and [comment](https://github.com/flutter/flutter/issues/41793#issuecomment-624894279), `set the display name in General > Identity > Display N

[2022-06-02 06:13] darshankawar commented on #105157
/cc @jmagman

[2022-06-02 06:16] Nuke-101 commented on #105092
HI @danagbemava-nc,
I was using flutter 2.10.5 when this was working and after i upgraded to flutter 3.0.0 this stopped working.
I reverted to flutter version 2.10.5 and it works again

This is the code-

import 'package:flutter/material.dart';

class StackPageView extends StatefulWidget {
  const StackPageView({Key? key}) : super(key: key);

  @override
  State<StackPageView> createState() => _St

[2022-06-02 06:17] Nuke-101 commented on #105092
Thankyou for this, i'll try it out and see if its working.

[2022-06-02 06:21] danagbemava-nc commented on #104932
Hi @maple52046, thanks for the info.

That seems like a lot of storage for just one app. Do you have some large assets or is it just the files generated by flutter that use that much storage on your device?

[2022-06-02 06:23] ovidiuusvat commented on #104981
Hi @danagbemava-nc , yes, it occur also in release mode. I am not sure because I tested it only on emulator so far.

[2022-06-02 06:29] TahaTesser commented on #70755
I don't see the InkWell effect when both `onLongPress` and `onSelectChanged` are null.

Added ability to only select row with the checkbox with no ink well and `IgnorePointer` won't be needed any buttons will be clickable when they're part of the row.

[2022-06-02 06:36] Spyingaround commented on #77605
@ditman Do you have any update from the 'Desktop people' 😅? 👀

[2022-06-02 06:37] maheshmnj commented on #105179
Hi @2372281891, Thanks for filing the issue. Please share a minimal and complete code sample along with the output of `flutter doctor -v` to investigate further.

[2022-06-02 06:39] darrenaustin commented on #104493
Thanks for the investigation info @TahaTesser. That is a bit odd. The font size is 24 for headlineSmall, but it has a height of 1.33 which should make it 32 high. Not sure what is going on here. I will need to spend some more time debugging this.

[2022-06-02 06:42] #103272 closed

[2022-06-02 06:42] QQQ-RRR commented on #105122
i fixed this in Dockerfile:
`ARG FLUTTER_CHANNEL="stable"
ARG FLUTTER_VERSION=""`
and git clone ` git clone -b ${FLUTTER_CHANNEL} --depth 1 "${FLUTTER_URL}.git" "${FLUTTER_ROOT}" ; \`
its worked for me

[2022-06-02 06:44] danagbemava-nc commented on #105092
Hi @Nitingadhiya, I run your sample on `flutter 3.0.1` and the first page is always Page 2 as expected. I tested on android, ios, web, and macOS and the results were the same in all cases.

Is there any more information you can provide?

<details>
<summary>video</summary>

https://user-images.githubusercontent.com/88313112/171569129-0d0c3460-88d8-478f-b1b7-335a7e6f708c.mp4

</details>

<details>
<

[2022-06-02 06:45] danagbemava-nc commented on #104981
Please provide a reduced test case so that we can further investigate this.

Thank you

[2022-06-02 06:47] Spyingaround commented on #83687
It's been a year now 🙃
Can this issue please be prioritized soon?

[2022-06-02 06:51] liuweibing7 opened #105197 "Does the Clipboard only support text type?"
I need to watch the system clipboard on Windows and process the content, but I found it only supports `text/plain` type. Is there any plans to add other formats?

[2022-06-02 07:07] malte-ehrlen commented on #104521
Thanks @maheshmnj for the assistance.

As I said, the issue occurs with 3.0.1 as well, I did the upgrade locally to try it out.

With a specific app, a newly created app or the one created by running `flutter create bug` both work fine

we have a monorepo with ~50 packages and the main app depends on all of them. I am not sure how to make a minimal code sample from this but I will look into it.

C

[2022-06-02 07:20] danagbemava-nc commented on #105188
Hi @wutianlin, please provide a complete minimal runnable code sample as well as the output of `flutter doctor -v` so that we can investigate this.

Thank you

[2022-06-02 07:26] iosephmagno commented on #17617
Any news about that? Magnifying glass is a core feature on ios textfield. Not having it looks like cross-platform, but even worse, common users would consider it just as a bug.

[2022-06-02 07:27] maheshmnj commented on #104702
Thanks for the info @seidoragutierrez, My colleague verified this on  iPad 8th gen 2020, I hardly see a difference in both, the image preview covers almost the same area.

Flutter            |  Native
:-------------------------:|:-------------------------:
![image](https://user-images.githubusercontent.com/31410839/171576095-dd456f59-bad2-476e-bc35-7e27de380b90.png) | ![image](https://user-images.

[2022-06-02 07:31] maheshmnj commented on #105184
Hi @marctan, Thanks for filing the issue.  Unfortunately, we do not provide support to older versions of flutter, I would suggest upgrading to the latest stable 3.0.1 where you won't see multiple rebuilds.

[2022-06-02 07:32] fuadreza opened #105199 "Android Studio flutter inspection not displaying fix suggestion"
Flutter Plugins version: 68.0.2
Android Studio version:
[code]

## Steps to Reproduce

1. Create some state less class
<img width="442" alt="image" src="https://user-images.githubusercontent.com/25898509/171576420-a6823138-8d7c-4999-abc0-2b6eb8843f4e.png">

2. Move cursor to Error word (example: Key)
3. Open up suggestion by pressing (Option+return) on Mac

**Expected results:**

Expected to see s

[2022-06-02 07:34] RobertApikyan opened #105200 "Camera fails to start on some devices, App throws `Attempt to invoke virtual method 'void android.media.ImageReader.setOnImageAvailableListener(android.media.ImageReader$OnImageAvailableListener, android.os.Handler)' on a null object reference.`"
Camera won't start on Xiaomi POCO X4 Pro 5G device, it fails to start the example application from the library.

### Error

[code]

## Steps to Reproduce

Flutter version 2.8.0
Camera version 0.9.7+1

#### 1. I'm running the example from the library.
<img width="224" alt="Screen Shot 2022-06-02 at 11 25 07" src="https://user-images.githubusercontent.com/17802092/171576323-f52ededd-b80d-4574-9dab-a

[2022-06-02 07:37] maheshmnj commented on #104521
Thanks for the info @malte-ehrlen, Since this issue reproduces only with your app we would need a minimal and complete sample project to investigate further.

Thanks

[2022-06-02 07:38] darshankawar commented on #105183
Thanks for the report. I verified this behavior on stable 2.5.3, 2.8.1, 2.10.5 and latest 3.0.1 and below are the results:

1. Stable 2.5.3:  `memory allocated: Optional(0x0000000112000000)`
2. Stable 2.8.1: `memory allocated: nil`
3. Stable 2.10.5: `memory allocated: nil`
4. Stable 3.0.1: `memory allocated: nil`

I am not sure if this is a regression or expected behavior, but based on the above r

[2022-06-02 07:40] seidoragutierrez commented on #104702
Thank you very much for your help. Our app works in portrait mode. In that mode the image is cropped. Maybe our iPad mini is very old

[2022-06-02 08:00] coooliang opened #105202 "【webview_flutter】There is no way to inject JS before the page loads"
Dart: （WebView --> onPageFinished:）

[code]

HTML : cannot get objects before the page loads ：

[code]

IOS : But in IOS WKWebview can use  WKPreferences injection javascript before the page loads
[code]

PS: I ended up having to put the JS injection into the onProgress method, but that would have been run multiple times
[code]

[2022-06-02 08:06] jensjoha commented on #17130
Alright.

I'm not familiar with a Windows `time` command, but it probably explains why the `user` and `sys` is so different from mine.

1) I'm not sure exactly how tests are run when clicking the `Run` or `Debug` button on specific tests and/or groups in the IDE, so lets concentrate about the command line runs --- and those commands looks right to me, so far so good :)

2) That the times are much

[2022-06-02 08:07] harounakinda commented on #33862
We are now in 2022, so the 32-bit flutter sdk is still not available?

[2022-06-02 08:13] maheshmnj commented on #105139
Hi @lukepighetti,  I tried using the below code sample and it seems to work fine in both light and dark mode.

<img width="308" alt="image" src="https://user-images.githubusercontent.com/31410839/171585572-0391d83f-6d98-4750-a87e-8b839ac607e0.png">

<details>
<summary>code sample</summary>

[code]
</details>

<details>
<summary>flutter doctor -v (mac)</summary>

[code]
</details>

[2022-06-02 08:20] darshankawar commented on #105193
@bhanuka96
From the verbose log you shared, below are the warnings due to which it could be failing:

[code]

And all above warnings are pointing to third party plugins, `flutter_math_fork`, `google_maps_place_picker`, `emoji_picker_flutter`.

This could be related recent changes in Flutter 3.0. See below links and check if solutions mentioned in it solves your issue or not:

https://docs.flutter.

[2022-06-02 08:21] whesse commented on #94793
A change was landed to SDK downloads that stopped checking the download_dart_sdk variable.
Restoring that check in a new PR, https://github.com/flutter/engine/pull/33345

[2022-06-02 08:22] whesse commented on #95209
Patch sent, https://github.com/flutter/engine/pull/33345

[2022-06-02 08:22] iosephmagno commented on #9507
Any news about that? Magnifying glass is a core feature on ios textfield. Not having it looks like cross-platform, but even worse, common users would consider it just as a bug.

[2022-06-02 08:24] danagbemava-nc commented on #105199
Hi @fuadreza, issues with the flutter intellij plugin should be reported on their dedicated repo over on https://github.com/flutter/flutter-intellij.

Closing from here as the intellij plugin has its own repo.

Thank you

[2022-06-02 08:24] #105199 closed

[2022-06-02 08:27] maheshmnj commented on #105200
see https://github.com/flutter/flutter/issues/29116

[2022-06-02 08:28] zxjzerg opened #105203 "FlutterFragment forced to visiable when Activity resumed"
I use FlutterFragment as a Tab in my application. After I upgrade Flutter to 3.0.0 I meet an issue that if the FlutterFragment is set to hidden, when the Activity resumes, the FlutterFragment will become visiable.
This not happen when I use Flutter 2.10.5.

[Project for reproducing this issue](https://github.com/zxjzerg/FlutterFragmentIssueDemo)

<img src="https://user-images.githubusercontent.com

[2022-06-02 08:29] zxjzerg commented on #105203
@ColdPaleLight pls check this

[2022-06-02 08:31] mzkai opened #105204 "[flutter_markdown] Massive amount of white space when 'selectable: true' on Flutter Web"
For Flutter Web, flutter_markdown 0.6.10+2 creates a massive amount of white space between lines when 'selectable: true'. When 'selectable: false' it behaves as expected.

## Steps to Reproduce
Run the following short example in a Chrome browser:
[code]

## Versions
flutter: 3.0.1
flutter_markdown: ^0.6.10+2

## Tested on
Chrome Browser Version 102.0.5005.61 (Official Build) (arm64)

[2022-06-02 08:32] exaby73 commented on #105202
Hello @coooliang. Does [`onPageStarted`](https://pub.dev/documentation/webview_flutter/latest/webview_flutter/WebView/onPageStarted.html) serve your purpose?

[2022-06-02 08:34] keitheyre opened #105205 "Opening Firebase Storage URL opens a white screen and never opens the file"
Running on Android physical device - (Galaxy Tab A7 - WiFi)
url_launcher: ^6.1.2
Android Studio Bumblebee | 2021.1.1 Patch 3

Issue: I am trying to open a Firebase Storage URL from the device using the following code:

`void launchURL(url) async {
      Uri uri = Uri.parse(url);
    if (await canLaunchUrl(uri)) {
      await launchUrl(uri);
    } else {
      throw 'Could not launch $url';
    }

[2022-06-02 08:55] nidhipb opened #105208 "Attempted to send a key down event when no keys are in keysPressed. This state can occur if the key event being sent doesn't properly set its modifier flags. This was the event: RawKeyDownEvent#e4484(logicalKey: LogicalKeyboardKey#0050c(keyId: "0x10000050c", keyLabel: "Select", debugName: "Select"), physicalKey: PhysicalKeyboardKey#700e4(usbHidUsage: "0x000700e4", debugName: "Control Right"), repeat: false) and its data: RawKeyEventDataAndroid#92581(flags: 8, codePoint: 0, plainCodePoint: 0, keyCode: 23, scanCode: 97, metaState: 0)"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2022-06-02 09:03] knopp commented on #85328
Wouldn't something like this work?

- Remove the `isComposing` event short-circuit from `[FlutterKeyboardManager performProcessEvent]`.
- Remove text editing shortcuts from `_macShortcuts`.
- Forward the actions from `NSStandardKeyBindingResponding` to the framework and bind it to appropriate intents

[2022-06-02 09:04] RobertApikyan commented on #105200
Hi @danagbemava-nc thanks for the answer, yes this seems only for the Xiaomi POCO X4 Pro 5G. Ok, I will update the flutter to the latest version and let you know about results.

[2022-06-02 09:05] danagbemava-nc commented on #105208
Hi @...,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2022-06-02 09:05] #105208 closed

[2022-06-02 09:25] huycozy commented on #105197
Hi @liuweibing7, thanks for filing the issue.
I see there's an open issue addressing the case you described.
Closing as duplicate of #23603, so please follow up on it for further updates.

[2022-06-02 09:25] #105197 closed

[2022-06-02 09:35] liuweibing7 commented on #105197
OK. Thanks

[2022-06-02 09:35] danagbemava-nc commented on #105205
Hi @keitheyre, can you share any link you're experiencing this issue with so that we can investigate this?

Thank you

[2022-06-02 09:46] exaby73 commented on #105203
I can replicate this behavior. Though one thing to note, I have noticed that when I tap on "Recent apps" button, then immediately go back to the app, the view is still invisible. It's when I tap on the "Home" button, then resume the app is when this bug occurs.

<details><summary><code>flutter doctor -v</code> (Stable)</summary>

[code]

</details>

<details><summary><code>flutter doctor -v</code>

[2022-06-02 09:46] RobertApikyan commented on #105200
@danagbemava-nc I have upgraded the flutter version to 3.0.1, but the **issue still exist**, it displays the same error.

![Screen Shot 2022-06-02 at 13 41 41](https://user-images.githubusercontent.com/17802092/171603425-dced0790-f53f-4ca9-8acb-5cea239f3461.png)

[2022-06-02 09:47] marctan commented on #105184
@maheshmnj

Thanks, but unfortunately, it also happens in version 3.

https://user-images.githubusercontent.com/19194749/171603692-fc065517-a534-4eb5-a906-3e24404657d9.mov

[2022-06-02 09:59] benny856694 commented on #87391
this bug is kind strange, it happens on one of my computer, but not on another one

[2022-06-02 10:05] rignaneseleo commented on #70755
I'm not talking about the inkwell but about mouse cursor turning into a hand even though the events are set null.

[2022-06-02 10:20] andreiholder opened #105211 "Installation of MS Visual Studio 2022"
After i have installed the new Visual Studio 2022, current
Version 17.2.3, the flutter doctor crashed.
[crash report.txt](https://github.com/flutter/flutter/files/8822861/crash.report.txt)

[2022-06-02 10:23] exaby73 commented on #105204
Hi @mzkai. This is solvable by adding a `Scaffold` widget.

[code]

[2022-06-02 10:23] #105204 closed

[2022-06-02 10:26] danagbemava-nc commented on #105211
Closing this as a duplicate of #102451.

Kindly follow up in the linked issue for updates.

Thank you

[2022-06-02 10:26] #105211 closed

[2022-06-02 10:29] knopp commented on #85328
On top of that, it seems that in order to display the emoji picker as attached popover, the `TextInputPlugin` needs to be in view hierarchy and first responder. Otherwise unlike the other IME popovers the emoji picker just shows detached.

[2022-06-02 10:37] TahaTesser commented on #70755
Thanks, since there is no inkwell without events, I don't see the mouse cursor updating on the web.
Can you please provide your `flutter doctor -v` output and a minimal code sample?

[2022-06-02 10:47] maheshmnj commented on #105185
Hi @inevitabile, I tried to reproduce this issue on Xiaomi k20 Pro (Android 11) and I was not able to reproduce this issue.
Can you please check if inserting exclamation mark (!) at the end gives same result or not?
Looks similar to #98720

[2022-06-02 10:49] khuramShabbir commented on #25558
I think flutter developers not able to resolve this issue, still  having this problem on Samsung S8+,
flutter 2.10.4> channel stable

[2022-06-02 11:10] #80116 closed

[2022-06-02 11:13] mzkai commented on #105204
Thank you. That indeed solved the issue 😊

[2022-06-02 11:17] see commented on #103997
my app crashes

<img width="1484" alt="截屏2022-06-02 19 15 57" src="https://user-images.githubusercontent.com/19725091/171617697-b7a0b8c9-9a4c-4a04-918a-1b95c0dcc42b.png">

[2022-06-02 11:22] eggnstone commented on #96283
Agreed!
In the meantime this may help:
`flutter build web --profile --dart-define=Dart2jsOptimization=O0`
(taken from https://stackoverflow.com/a/64511666/837507)

[2022-06-02 11:26] BijayKumarPun commented on #69398
For anyone looking a fix to this, I suggest an alternative - [DropdownButton2](https://pub.dev/packages/dropdown_button2) with option to adjust height.
Looked much cleaner as well.

[2022-06-02 11:38] arturk commented on #96283
This helps just a bit but does not provide full debug capabilities. For example in my tests in case of failure I attach to the report a widgets tree to shown what was on the screen during the failure and with what params. The flutter driver extension is capable of getting a widgets tree in debug mode but not in profile mode. I was still able to write a function that can collect a list of all widge

[2022-06-02 11:40] OraneOrveillon opened #105215 "Bad UTF-8 encoding"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2022-06-02 11:41] #105215 closed

[2022-06-02 11:53] danagbemava-nc commented on #103997
Hi @see, kindly file a new issue and provide the relevant information required to investigate this issue.

Your issue seems unrelated to this.

[2022-06-02 11:53] 1feng128 opened #105216 "flutter doctor found an issue after installing Visual Studio 2022 on Windows 10"
Hi,

"flutter doctor" found an issue after installing Visual Studio 2022 on Windows 10 (Simplified Chinese edition):

 Visual Studio - develop for Windows (the doctor check crashed)
    X Due to an error, the doctor check did not complete. If the error message below is not helpful, please let us know about this issue at
      https://github.com/flutter/flutter/issues.
    **X Exception: Bad UTF-8

[2022-06-02 11:55] inevitabile commented on #105185
Hi @maheshmnj, thank you for your reply.

No, the exclamation mark itself doesn't cause the problem. I typed it from the symbol toolbar and it's OK (as you can see in the video).
I have this bug only when I switch the keyboard by this key (no matter whether I type any symbol after or not):

![Screenshot_147](https://user-images.githubusercontent.com/8906519/171621792-a5c0131d-4c0c-4dbc-a2a8-5302e1

[2022-06-02 12:06] OraneOrveillon opened #105217 "Bad UTF-8 encoding"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. With device Windows(desktop)
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2022-06-02 12:09] inevitabile commented on #98720
Hi @darshankawar, could you check whether you have the bug just tapping on this key (without typing any symbol)?

![Screenshot_147](https://user-images.githubusercontent.com/8906519/171625867-dbf2e29c-a9c7-4306-be32-24ebc7dbd3ae.png)

[2022-06-02 12:15] danagbemava-nc commented on #105200
Hi @RobertApikyan, please provide the output of `flutter run -v` that captures the exception and the list of devices you have tested on.

Thank you

[2022-06-02 12:20] danagbemava-nc commented on #105216
Closing this as a duplicate of #102451.

Kindly follow up in the linked issue for updates.

Thank you

[2022-06-02 12:20] #105216 closed

[2022-06-02 12:24] lukepighetti commented on #105139
@maheshmnj

[code]

Using the mcve from above

https://user-images.githubusercontent.com/666539/171628407-5ee2b935-8ccb-4191-b397-4102409c389f.mov

[2022-06-02 12:25] zjrwdl opened #105218 "Unsupported operation: Infinity or NaN toInt - progress_indicator.dart"
stack trace dumped by sentry belows:

<img width="1036" alt="image" src="https://user-images.githubusercontent.com/6874049/171627894-04f5095d-ba01-4486-8d28-f0cd169cda97.png">

<img width="531" alt="image" src="https://user-images.githubusercontent.com/6874049/171628207-3a7a5789-97ef-4d75-946e-80eea642163c.png">

from this stack we can not detect which app page encount error. so we guess may be  t

[2022-06-02 12:33] mrunion commented on #105095
Following up, I tried the scrolling test code on my actual, physical laptop. This laptop is docked and I use an external mouse and dual screens -- I didn't test the trackpad. But with the mouse I cannot "click and drag" the scroll window like I can on the "working" laptop. If I move the mouse down and get the scroll bar to show, I can grab the scroll bar and make the window scroll.

Does that help

[2022-06-02 12:37] see opened #105219 "[Add to app] I customized a viewcontroller class that inherits from FlutterViewController and then my app crashes."
I customized a viewcontroller class that inherits from FlutterViewController and then my app crashes.

<img width="1484" alt="截屏2022-06-02 19 15 57" src="https://user-images.githubusercontent.com/19725091/171630036-7c203743-a689-4297-b19e-5ed5a7407d54.png">

## Steps to Reproduce

1. clone [repo](https://github.com/see/flutter-hybrid)
2. cd flutter_module && flutter pub get && cd ..
3. cd ios-modu

[2022-06-02 12:39] mickykebe commented on #55619
In my case this was an OS problem. Was able to confirm the file exists by checking manually. Yet it was still throwing up this error. Restarted my mac and ran the project and worked.

[2022-06-02 12:46] ManuverGujjar commented on #105200
Hi, I'm also facing the exact same issue on Redmi 11 Pro + 5G. even the Camera example app not working from pub.dev
Other third-party camera apps are working fine on that device.

[2022-06-02 12:47] bleroux commented on #94241
Fixed by https://github.com/flutter/engine/pull/30735

[2022-06-02 12:47] #94241 closed

[2022-06-02 12:49] RobertApikyan commented on #105200
Hi @danagbemava-nc , I

Same story, the latest version of the "camera awesome" library is working without any problem, however it seems abandoned, and the last update there was at Jun 2 of 2021.

[2022-06-02 12:59] maheshmnj commented on #105217
Hi @OraneOrveillon,
When opening an issue, please try to provide all or some of the information requested in the issue template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided. In case you have any further info for us please update the issue description with the requested details in the issue template and leave a commen

[2022-06-02 12:59] #105217 closed

[2022-06-02 13:00] AliRadwan opened #105221 "Duplicate GlobalKey detected in widget tree."
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2022-06-02 13:01] BirjuVachhani opened #105222 "A value of type Object can't be assigned to a variable of type SliderTrackShape"
This code throws error when both `RectangularSliderTrackShape` and `RoundedRectSliderTrackShape` extends `SliderTrackShape`.

This even throws on dartpad too.

[code]

However, if I use `if-else` then it works just fine with no errors.

[code]

## Steps to Reproduce

1. Put above code anywhere and run it.

**Expected results:** It should not throw any error and both objects are of the same type.

[2022-06-02 13:06] maheshmnj commented on #105218
Hi @zjrwdl, Thanks for filing the issue. You seem to be using an older version of flutter can you please try running the same app on the new stable release 3.0.1 and see if it reproduces the error? if it does then please share the
output of `flutter run -v` in a text file.

[2022-06-02 13:15] danagbemava-nc commented on #105221
Hi @AliRadwan ,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2022-06-02 13:15] #105221 closed

[2022-06-02 13:18] maheshmnj commented on #105184
Sorry I should have mentioned this is happening because of the third-party package `responsive_builder` I would suggest filing this issue in their dedicated repo. Also, Please see thee below code sample which works as expected on commenting the part of code which uses `responsive_builder` .

<details>
<summary>code sample</summary>

[code]
</details>

Closing as this is not an issue with flutter.

[2022-06-02 13:19] kjzl opened #105223 "selectableDayPredicate in DatePicker with EntryMode.input unexpectedly gets executed again after DatePicker already returned a date"
## Steps to Reproduce (tested on Android and Web)

1. Execute `flutter run` on the code sample
2. Press the FloatingActionButton
3. Press OK on the DatePickerDialog which is in Input Mode

**Expected results:**
Just like in EntryMode.calendar no Exception will be thrown because selectableDayPredicate is not run after the Dialog returned a value.

**Actual results:**
Exception is thrown because sel

[2022-06-02 13:20] exaby73 commented on #105095
@mrunion Click and drag behavior is now optional and I believe disabled by default on desktop and web. See https://docs.flutter.dev/release/breaking-changes/default-scroll-behavior-drag

[2022-06-02 13:22] darshankawar commented on #98720
@inevitabile
Yes. See below:

https://user-images.githubusercontent.com/67046386/171638703-71854971-a6ae-4dd0-a20e-9d6e9825c3c2.MOV

You may close your issue in favor of this. It can be tracked in this issue. Will update the issue title accordingly.

[2022-06-02 13:25] maheshmnj commented on #105185
Thanks for the update @inevitabile,  This issue is same as #98720 as pointed above.

Closing as duplicate of the linked issue

[2022-06-02 13:25] #105185 closed

[2022-06-02 13:34] anderson155081 opened #105224 "Exception: Release mode is not supported for ASUS Z00XS."
It shows "Exception: Release mode is not supported for ASUS Z00XS." only when I run on this phone with release mode.
(ASUS Z00XS is running Android 5.0.)
It works fine on --debug mode and --verbose but can't run on release mode.
Is there any way I can fix it? or there's nothing I can do.

## Steps to Reproduce
1. create new flutter project.
1. Execute `flutter run --release` on the code sample wit

[2022-06-02 13:34] tulioccalazans commented on #43785
Hi, It seems that version **google_maps_flutter: 2.1.2** does not have this problem.
I tested it on a Xiaomi MiA1 and it worked perfectly.

[2022-06-02 13:41] keitheyre commented on #105205
Hey there!

The link if a https firebase storage link, I cannot share as it's private I'm afraid.

I did notice something though, on iOS the files seem to open with no issue. I have followed all the instructions to get them to open on Android but to no avail.

It just opens a white screen, and hangs there until I press the back button on the device to return back to the Screen where the Open butto

[2022-06-02 14:17] maheshmnj commented on #105219
Hi @see, Thanks for filing the issue. I tried to run you app and it always fails to build with this error

Unable to load contents of file list: '/Target Support Files/Pods-SBMain/Pods-SBMain-frameworks-Debug-input-files.xcfilelist'

<img width="827" alt="image" src="https://user-images.githubusercontent.com/31410839/171650140-debee15a-94cb-467b-9ba8-1abf2930a7b8.png">

<details>
<summary>flutter

[2022-06-02 14:24] ltOgt opened #105226 "[Desktop] didChangeAppLifecycleState does not reflect focus change"
I would expect to be able to use `didChangeAppLifecycleState` from `WidgetsBindingObserver` to detect focus change for flutter applications on Desktop platforms:

[code]

`didChangeAppLifecycleState` is never called on focus change / minimizing / ...

The documentation for [AppLifecycleState](https://api.flutter.dev/flutter/dart-ui/AppLifecycleState.html) only mentions `iOS` and `Android`.

Relate

[2022-06-02 14:45] cedvdb commented on #104938
@bleroux FYI I opened the follow up for extendBody https://github.com/flutter/flutter/issues/105027

[2022-06-02 14:53] Shery573 opened #105227 "Cannot create or run existing flutter project"
Unabl to run existing flutter projects and can't create a new one
This is what I get when running flutter doctor

[code]

[2022-06-02 14:56] bleroux commented on #104938
@cedvdb
Many thanks! I will have a look next week, I'm working on another issue for the moment.

[2022-06-02 15:21] paulVulog opened #105229 "[google_maps_flutter] Hybrid Composition throw error"
# sum up
This issue is regarding this topic :
https://docs.flutter.dev/development/platform-integration/platform-views

At some point, while playing with the Hybrid Composition you can get some error in the flutter logs.

# way to reproduce

 1) - Run the Google Map sample app from the flutter plugins repo : https://github.com/flutter/plugins/tree/main/packages/google_maps_flutter/google_maps_flut

[2022-06-02 15:37] ltOgt opened #105230 "[DESKTOP] Meta keys get stuck when pressed during focus loss"
## Steps to Reproduce

Create a new project and paste the following into `main.dart`:
[code]

This will give you an application that checks `HardwareKeyboard.instance.logicalKeysPressed` when clicking a `TextButton`.

_____

Run the application on macos (although i suspect other desktop platforms have the same issue).

Now hold `Shift`, `Control`, or `Command` and switch to another desktop by swip

[2022-06-02 15:43] anhtuan23 commented on #104889
I'm having this issue with too, loading webview from local html string. However, it's only happen on really long web pages. Shorter pages work just fine.

[2022-06-02 15:47] Vito0912 commented on #105149
It would be possible to get the widget close to the desired result.
However, I would see it as an advantage if it is included in the Cupertino Widget family.
The Cupertino button is also just a normal button with some style. But it saves work.

Thank you for helping

[2022-06-02 15:54] HansMuller commented on #104961
Part of https://github.com/flutter/flutter/issues/91605

[2022-06-02 16:03] polina1441 opened #105231 "the assembly for windows does not work"
[code]

[2022-06-02 16:05] stuartmorgan opened #105233 "[pigeon] Consider not sending null class fields"
Currently the native code generators for data class serialization always write all of their fields, even when null. This seems wasteful, since it means we're encoding and decoding string values and null values, and then sending them across the channel, rather than just omitting them. It looks like currently the Dart code is just doing lookups and checking against null, so currently I don't think t

[2022-06-02 16:23] HansMuller commented on #105001
CC @LongCatIsLooong

[2022-06-02 16:24] blastmann opened #105235 "mDNS query failed with M1 MacBook and SIP enabled."
Here are my logs:

[code]

[code]

If I disable SIP in recovery mode, then `flutter attach` works again. But it is not the best solution, right ?

[2022-06-02 16:25] dnfield commented on #103386
Also requires https://github.com/flutter/flutter/issues/90425

[2022-06-02 16:35] mdebbar opened #105236 "[web] Text height measurements are off for some languages"
| Flutter web | macOS |
|-|-|
| ![image](https://user-images.githubusercontent.com/1278212/171678477-2695bc22-b49d-4ff4-afb8-249ca0d3ee77.png) | ![image](https://user-images.githubusercontent.com/1278212/171678546-d2bac26a-af36-4d1b-a79a-e344a5d82adb.png) |

Notice how the height of Chinese and Balinese characters isn't measured correctly, causing the two lines of text to overlap.

<details>

<sum

[2022-06-02 16:35] guidezpl commented on #104929
Thank you for your suggestion. This should be easily achievable without additions to `ThemeData`, which we tend to avoid given its size. I would look at extended enums or extensions to get exactly the String you want per theme. As such I'm closing this issue.

[2022-06-02 16:35] #104929 closed

[2022-06-02 16:45] jmagman commented on #105157
@cbracken

[2022-06-02 16:58] gaaclarke commented on #105155
Bug filed with fuchsia: https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=101605

[2022-06-02 17:04] jmagman commented on #105157
`PRODUCT_NAME` gets set in AppInfo.xcconfig and is populated from the pubpsec.yaml. You should be able to manually override `PRODUCT_NAME` in build settings:
<img width="714" alt="Screen Shot 2022-06-02 at 9 56 44 AM" src="https://user-images.githubusercontent.com/682784/171683756-c4e5c662-ed0b-40e4-b1ff-d311246a2c78.png">

Or you can follow the instructions [in the docs](https://docs.flutter.dev/

[2022-06-02 17:07] yusuf-goog opened #105237 "android_lifecycles_test has been failing for quite a while"
https://luci-milo.appspot.com/p/flutter/builders/staging/Linux_android%20android_lifecycles_test has been failing for a while: https://chromium-swarm.appspot.com/task?id=5b3d8f1ca0bdc710

[2022-06-02 17:07] jmagman commented on #105157
@XRayAdamo can you confirm that editing `PRODUCT_NAME` in `AppInfo.xcconfig` then cleaning works? If you're building in Xcode it's `Product > Clean Build Folder`, if you're `flutter run`ing in the command line then it's `flutter clean`.

[2022-06-02 17:15] cbracken commented on #74042
@iapicca I don't think this is a dupe.

It looks like this happens if you run with the `$TMPDIR` environment variable set to a directory that doesn't exist. I'll see if I can patch the tool to defend against this by attempting to create the directory if it doesn't exist and failing with a reasonable error message otherwise.

[2022-06-02 17:16] jmagman commented on #104897
[code]

[2022-06-02 17:17] XRayAdamo commented on #105157
It does not work for me.
Steps:
1. Changed AppInfo
2. Clean build folder
3. Build and run
4. No errors but no change
5. Clean in Android Studio (flutter clean)
6. Build and run
7. Same result

![image](https://user-images.githubusercontent.com/4430621/171686937-7a675157-92ef-4d3e-8c1f-ff05b962c107.png)

[2022-06-02 17:17] jmagman commented on #104897
@flutter-symbolizer-bot this flutter#v3.0.1 force ios release arm64
[code]

[2022-06-02 17:20] gaaclarke opened #105238 "update-excerpts failing to get base sha"
example: https://github.com/flutter/packages/pull/2157/checks?check_run_id=6712967600

error:
[code]

cc @stuartmorgan

[2022-06-02 17:22] antholeole commented on #9507
@iosephmagno I'm working on it: development of the loupe is in full swing. Design doc should be out later this week 👍

We hear you - I want this feature in too!

[2022-06-02 17:30] cbracken commented on #74042
/cc @christopherfujino

[2022-06-02 17:37] UsamaKarim commented on #91605
Working link to Material 3 sample app https://flutter.github.io/samples/material_3.html

[2022-06-02 17:39] HansMuller commented on #105001
CC @LongCatIsLooong

[2022-06-02 17:40] keyonghan opened #105239 "Packages/plugins builders hit `fatal: couldn't find remote ref master`"
See this issue in CQ of a recipe change: https://ci.chromium.org/ui/p/flutter/builders/try/recipes-with-led/b8812495421270460417/overview

Multiple builders have been failing checking out packages/plugins repo:
[code]

One example build: [Windows custom_package_tests master - packages](https://luci-milo.appspot.com/raw/build/logs.chromium.org/flutter/led/flutter-try-builder_chops-service-accounts.

[2022-06-02 17:40] keyonghan commented on #105239
/cc @stuartmorgan

[2022-06-02 17:42] jmagman commented on #105157
[code]
Edit `PRODUCT_NAME`
<img width="1239" alt="Screen Shot 2022-06-02 at 10 40 42 AM" src="https://user-images.githubusercontent.com/682784/171692341-1b2262e4-2574-49af-b457-8956498021b2.png">

Run in Xcode, and I see the updated name:
<img width="322" alt="Screen Shot 2022-06-02 at 10 41 24 AM" src="https://user-images.githubusercontent.com/682784/171692546-3196f37c-4168-4f02-82b5-b360f3372f70

[2022-06-02 17:48] jmagman commented on #105183
@a-siva @zanderso @rmacnak-google

[2022-06-02 17:48] keyonghan commented on #104433
Yeah, it intended to checkout the original branch, but all presubmit builds are with `GIT_BRANCH: master`, so it always checks out the HEAD. Looking to see if we can check out the commit instead.

[2022-06-02 17:51] XRayAdamo commented on #105157
I don't know. May be with new project it will work, but I have project created already and only recently added macos - so it does not work for me.

[2022-06-02 17:55] goderbauer commented on #105028
Since we build different UI for the toolbar based on the platform [1] it should be enough to just fix the cupertino translations to match user's expectations on iOS. The Cupertino toolbar (used on iOS) already uses these Cupertino translations [2].

Not sure if it is fully automated, I think there are still people doing (some of) the actual translating. Either way, there is a way to give feedback

[2022-06-02 17:55] HansMuller commented on #104769
@flar - any ideas about why this is happening?

[2022-06-02 17:56] yjbanov commented on #104212
There are no failures in the last 200 runs, so I'll close for now.

[2022-06-02 17:56] #104212 closed

[2022-06-02 17:58] AugustoResende opened #105241 "[AutoFill] 1Password cannot recognize TextField inputType on Android"
## Use case

Autofill should work with password field, that currently not works and 1Password team says that there changes is needed from Flutter side.

https://1password.community/discussion/127475/autofill-password-field-not-triggering-on-android-devices-for-flutter

## Proposal

Maybe it's related to TYPE_TEXT_VARIATION_PASSWORD android input types?

[2022-06-02 17:59] yjbanov commented on #104328
This seems to be related to the encoding of the image. The bug is probably in the web engine.

[2022-06-02 17:59] stuartmorgan commented on #105239
Sounds like we were missing some places where CI was assuming `master`. @godofredoc do you want to un-archive `master` while we figure this out, or fix it forward?

[2022-06-02 18:08] yjbanov commented on #104383
CanvasKit is not (yet) optimized for high numbers of platform views. There's a limit, beyond which Flutter stops creating new canvases and renders to the last canvas that's on top of everything. Do you see a "Flutter was unable to create enough overlay surfaces" warning in the console? If not, this may be a real bug. Otherwise, it's just the limit. The limit is configurable using the `--dart-defin

[2022-06-02 18:10] XRayAdamo commented on #105157
So, I have created test app and it does work for new app. Not working for old app, have no idea what is wrong :(

[2022-06-02 18:10] gspencergoog commented on #105095
cc @moffatman

[2022-06-02 18:12] yjbanov commented on #104621
For this specific feature it's probably too late, but the general idea of having a common place that talks about upgrading the Flutter SDK sounds useful. Will make it a feature request for the website.

[2022-06-02 18:13] #97172 closed

[2022-06-02 18:14] gaaclarke commented on #105233
Yea, the idea of the explicit null is just a safeguard against mixmatch endpoints or to expose bugs (ie is the sender forgetting to send the value or does it intend the value to be null).  I think if we do this we should also consider doing the handshake when creating the plugin to make sure that the schemas match on both endpoints.

[2022-06-02 18:16] gaaclarke commented on #105233
FWIW null encoding and decoding is the fastest code path, albeit not faster than it not being there.

[2022-06-02 18:16] #104217 closed

[2022-06-02 18:16] gspencergoog commented on #104802
cc @christopherfujino

[2022-06-02 18:17] moffatman commented on #105095
Can it be related to this #99960 ? @namangor04 Can you check if there are arrow key events present when attempting to scroll horizontally? I believe it's due to synaptics driver, can you check if that's the model of trackpad you have in the windows device manager?

[2022-06-02 18:18] stuartmorgan commented on #105233
Yes, it's the strings for the field names that are the non-trivial wasteful part. There are definitely cases in the Pigeon migration I'm doing now where for common cases 80+% of the payload and encoding will be strings of null fields.

[2022-06-02 18:23] stuartmorgan commented on #105233
We're not actually doing this though (at least not on the Dart side) that I can see:

https://github.com/flutter/packages/blob/28ad56dfb3fe8c83d404bde440724388d2516dd7/packages/pigeon/lib/dart_generator.dart#L491-L498

There's no validation that the key is present; missing or explicitly null will both just be silently null there.

[2022-06-02 18:29] XilaiZhang commented on #103996
the two requests, processed after yesterday's fix was deployed, look good. I will check back when we have more data points

[2022-06-02 18:33] Renzo-Olivares opened #105243 "[Web] Refactor TextEditingDelta implementation"
The TextEditingDelta implementation on web currently continually updates an `editingDeltaState` during the process of text-input (beforeInput, onInput, compositionupdate), until we have arrived at a final `editingDeltaState`. Having it spread across many handlers can make it difficult to make updates to the `DefaultTextEditingStrategy` without breaking TextEditingDeltas. An example of this is flut

[2022-06-02 18:34] gspencergoog commented on #103945
It's hard to know what the cause of this might be.  It sounds like a memory leak, and could be in Flutter code or in your example.

(Desktop Triage)

[2022-06-02 18:35] jason-simmons commented on #103265
No - SkParagraph is now the default and it does not use the ParagraphTxt/Minikin code

[2022-06-02 18:39] gspencergoog commented on #103265
OK, I'm going to close this, since it has most likely been "fixed" by not using the code in question anymore.

[2022-06-02 18:48] antholeole opened #105244 "[Firefox] Composing down to a single character from multiple characters does not replace the composing text until a new event fires."
Composing region on web for firefox using delta model. This issue is very specific and a little hard to pin down.

If the amount of text inputted during composing is more than one character, and it composes down to one character, the text inputting does not replace until the next keypress. Here is a list of "triagable" cases:

- Type 'ni' into the composing keyboard, then select the composition. T

[2022-06-02 18:51] antholeole commented on #105244
@mdebbar @Renzo-Olivares

Hopefully this issue gets fixed by https://github.com/flutter/flutter/issues/105243.

[2022-06-02 18:56] ditman commented on #77605
Actually, yes:

Flutter Web needs to wire a listener to the DPI change event (there's none, but IIRC it can be done with media-queries), and trigger an `onMetricsChanged`.

This is the native imlementation:

https://github.com/flutter/engine/blob/main/lib/ui/window.dart#L88-L94

In the web, this probably needs to be imlemented in the `SingletonFlutterWindow` class, similarly to how the `onPlatform

[2022-06-02 19:01] godofredoc commented on #105239
Sure, let me do it,

[2022-06-02 19:02] christopherfujino commented on #74042
Chatted with cbracken offline, and I think probably the best solution for this would be to add a doctor validator for this (we could update all existing calls to `systemTempDirectory` with a check for its existence, but it would be difficult to prevent new ones from being added, and this seems like an edge case.

[2022-06-02 19:03] ditman commented on #105187
This sounds good to me, and if it causes extra pain in the CI, it can be rolled back very easily.

I appreciate leaving web on; I'm not sure if web code is more or less susceptible to breakages between `main` and `stable`, but being the only CODEOWNER for web stuff, I appreciate the extra coverage :P

[2022-06-02 19:07] bparrishMines opened #105245 "Update all subclasses of NSObject to pass `InstanceManager` and `BinaryMessenger` to parent class and override `copy()`"

[2022-06-02 19:12] Renzo-Olivares commented on #105244
<img width="1715" alt="Screen Shot 2022-06-02 at 12 10 05 PM" src="https://user-images.githubusercontent.com/948037/171718844-abded60c-ba1c-4aca-a9e9-5a2f6906632b.png">

These are some of the logs I pulled from typing `ni hao ma`. Chrome on the left, Firefox on the right. Looks like when the text is committed on Chrome, the composing region adjusts to length of the composed text, and then another

[2022-06-02 19:14] keyonghan commented on #105239
https://flutter-review.googlesource.com/c/recipes/+/30880 to fix forward.

[2022-06-02 19:15] Jasguerrero commented on #53833
breadcrumbs: before implementing this, further discussion is needed to find a good strategy for testing the migration

[2022-06-02 19:25] jmagman commented on #105157
After this step an you run `flutter clean` and then attach the results of `flutter build macos -v`? It will be large so you'll need to attach it. That will let me see all your build settings.

[2022-06-02 19:28] johnpryan opened #105246 "Remove path-based dependencies in go_router_builder/example"
We should remove the [path-based dependency overrides](https://github.com/flutter/packages/blob/main/packages/go_router_builder/example/pubspec.yaml#L28-L32) in go_router_builder/example and run [make-deps-path-based](https://github.com/flutter/plugins/blob/main/.cirrus.yml#L145-L156) on CI instead, so that the go_router_builder/example tests are run against the path-based version of go_router.

W

[2022-06-02 19:28] ycv005 commented on #44520
Using Flutter 3.0 & latest webview plugin, still I am facing this when I hit lock button then unlock the screen,
Could this be pick up in fast pace- @darshankawar @kf6gpe @iapicca

[2022-06-02 19:29] ycv005 commented on #45086
Using Flutter 3.0 & latest flutter webview plugin, still I am facing this when I hit lock button then unlock the screen,
Could this be pick up in fast pace- @xster @TahaTesser @janmoppel

[2022-06-02 19:29] lukepighetti commented on #105139
That escape hatch was nice to have, but it was never clear to me how we're supposed to know exactly what to set it to. Ideally it would handle this internally so it was always set to match the current safari top bar brightness, and then return to match whatever system chrome setting was last used in Flutter, with priority left to an AnnotatedRegion if necessary

[2022-06-02 19:35] godofredoc commented on #105239
Sent https://github.com/flutter/plugins/pull/5886 to revert mirroring, master_archive was renamed back to master

[2022-06-02 19:36] lukepighetti commented on #105139
These are the cases that I have in mind as I think about this stuff

| Facet type              | A                   | B                       | C    |
| ----------------------- | ------------------- | ----------------------- | ---- |
| iOS brightness          | light               | dark                    | auto |
| System overlay user set | user-set            | not-user-set            |      |

[2022-06-02 19:40] codebird commented on #105035
Hmmmm that's weird I'll check it out tomorrow.

[2022-06-02 19:43] codebird commented on #105035
@gaaclarke was the bar green or red when you switched tabs? I mean did it change when you switched tabs or it was already?

[2022-06-02 19:48] jonahwilliams commented on #105224
ASUS Z00XS is a 32bit x86 device, flutter only supports 64-bit x86 devices in release mode, as well as 32 and 64bit arm

[2022-06-02 19:48] #105224 closed

[2022-06-02 19:53] gaaclarke commented on #105035
I wasn't paying attention, sorry

[2022-06-02 19:54] ddxl123 opened #105248 "Use Navigator for partial page to pop and push, physical button to pop will directly return to the desktop?"
When push to SecondPage page:
I press the physical button to go back and it will go back to the desktop,
When I click the `pop in second page` button, it returns to the FirstPage page.

How can I do it so that when I press the physical button, I also go back to the FirstPage?

And after I click `pop in first page`, the `body` section will have nothing.

Is this a bug or?

Is there any other better

[2022-06-02 19:54] cyanglaz commented on #105182
https://github.com/flutter/plugins/pull/5839 didn't fix the issue after rebasing.

[2022-06-02 19:56] cyanglaz commented on #105182
cc @blasten

[2022-06-02 20:00] codebird commented on #105035
K will test it tomorrow.

[2022-06-02 20:07] gaaclarke commented on #105035
I'm on chrome.  It could be that I switched tabs before the autorefresh?  Like if it refreshes every 3 minutes maybe I happened to notice quickly via email?

[2022-06-02 20:14] keyonghan commented on #105238
This also blocks recipes repo: https://ci.chromium.org/ui/p/flutter/builders/try/recipes-with-led/b8812441723219190897/overview

[2022-06-02 20:18] SabianF commented on #17130
@jensjoha I'm going to reply to the rest of your points when I can, but just wanted to let you know quickly that the literal very last thing you mentioned (about combining tests via imports) made my entire (real) test suite run seamlessly

[code]

[code]

I'll review your other points when I have time, but thank you tons for sharing that. I'm using Clean Architecture, so it's simple to create "tes

[2022-06-02 20:18] codebird commented on #105035
It is an animatedBuilder. And I guess I saw it updating in the background on localhost Chrome too. I'll still double check just to make sure.

[2022-06-02 20:40] gaaclarke commented on #105035
(It just happened to me again, i'm pretty sure it's not updating.)

[2022-06-02 20:41] PeperMarkreel opened #105250 "Edit variable value with debugger on break point"
## Use case

When debugging sometimes it is really handy to be able to change the value of a variable. At the current time, this does not seem possible.

## Proposal

I'd like to be able to edit the value of the variables when a break point is hit, for example from the watch list in android studio. Right click with the mouse and be able to choose set value.

[2022-06-02 20:41] #78280 closed

[2022-06-02 20:41] fkorotkov commented on #105182
Oh. It was a task from a different repo. Then seems there were no changes to the environment where the scripts are eexecuted.

[2022-06-02 20:46] CaseyHillers commented on #105035
I realized this doesn't go to the green circle, but instead to the white, boxed logo. However, tree closures do go to the red circle.

This is somewhat of a stretch, but do you have any chrome extensions that puts non-focussed tabs to sleep?

[2022-06-02 20:46] #104506 closed

[2022-06-02 20:46] #60555 closed

[2022-06-02 20:48] misterfourtytwo opened #105251 "SliverAnimatedList doc example bug"
[SliverAnimatedList code example](https://api.flutter.dev/flutter/widgets/SliverAnimatedList-class.html) has a bug, where on removal, CardWidget is built with index of an item instead of actual removed object. Though AnimatedList example doesn't contain one.
![image](https://user-images.githubusercontent.com/17276509/171735219-bb607f89-f582-467a-8be7-9db86a2d4798.png)
![image](https://user-images.

[2022-06-02 20:48] jmagman commented on #104523
I added `--enable-software-rendering` to `drive` in https://github.com/flutter/flutter/pull/105161, we could pass it into `drive` when `CHANNEL=master` or something less hacky.
https://github.com/flutter/plugins/blob/e40abaa59ea5c551a4300dd879bbf4e058a3426a/script/tool/lib/src/drive_examples_command.dart#L335-L339

[2022-06-02 20:49] codebird commented on #105035
The white boxed logo is just cache, it is no longer there.

[2022-06-02 20:52] gaaclarke commented on #105035
When you comment on this thread I see the tab's description update, so it is updating that in the background.  So it seems to work elsewhere.

[2022-06-02 20:53] cyanglaz commented on #105182
Oh, found that the commit right before the failure is updating some deps in video player: https://github.com/flutter/plugins/commit/4cf74371557ede36648a2a7b43a37ccbce965249

image_picker example app depends on video_player, so it might have something to do with issue. I created a PR that pings the video player version: https://github.com/flutter/plugins/pull/5888.

[2022-06-02 20:56] CaseyHillers commented on #103363
@XilaiZhang is this fixed?

[2022-06-02 20:59] zanderso commented on #105183
This sounds related to how the Dart VM reserves parts of the address space to implement compressed pointers. I have a suspicion that it might only be an issue when allocating huge buffers like the 1GB one in the example. I wonder what will happen if instead of one giant 1GB allocation, several smaller allocations are done, like ten 100MB allocations, or one hundred 10MB allocations.

[2022-06-02 21:00] gaaclarke opened #105253 "Enable `os_signpost` events for `Timeline` events"
## description

iOS has support for `os_signpost`s which gives allows you to identify certain regions of activity inside of Instruments.  Dart appears to have [support for emitting os_signpost events](https://github.com/dart-lang/sdk/blob/main/runtime/vm/timeline_macos.cc), but there is no way I can determine to enable it for Flutter projects.

It is my understanding that `--trace-systrace` is sup

[2022-06-02 21:01] XilaiZhang commented on #103363
Oh forks have been fixed long long time ago :)

[2022-06-02 21:01] #103363 closed

[2022-06-02 21:03] matthew-carroll commented on #9507
FYI - For those of you who **really** need it, you can build a magnifier yourself. I can't promise that you'll be able to respond to the right gestures when you try to apply it to a Flutter `EditableText`. But if you want to see how to build your own, check out implementation in `super_editor`: https://github.com/superlistapp/super_editor/blob/main/super_editor/lib/src/infrastructure/platforms/ios

[2022-06-02 21:11] XilaiZhang commented on #103996
@itsjustkevin feel free to post your observations here if you see anything

[2022-06-02 21:28] keyonghan commented on #102998
Another observation: when a cocoon-scheduled target is newly added, builds scheduled by cocoon were incorrectly using unrelated recipes. One example: https://ci.chromium.org/ui/p/flutter/builders/prod/Linux%20docs_test/4730/overview, which ran recipe `firebaselab/firebaselab`.

So, there are two issues:
1) Build is scheduled with incorrect builder config (recipe)
2) LUCI build is not correlated to

[2022-06-02 21:28] mraleph commented on #104897
@flutter-symbolizer-bot this force ios release arm64 flutter#v3.0.1 whatever

[code]

[2022-06-02 21:40] jason-simmons commented on #105014
This is happening when SkParagraph calls `onMatchFamilyStyleCharacter` to find a font that provides the Chinese characters.  Skia's `SkFontMgr_Mac::onMatchFamilyStyleCharacter` implementation is not selecting the font with the closest weight to the `TextStyle`.

In this situation `SkFontMgr_Mac::onMatchFamilyStyleCharacter` calls `CTFontCreateWithFontDescriptor` with a descriptor that has a weight

[2022-06-02 22:00] mraleph commented on #104897
@jmagman I have poked around a bit. This one does not symbolize with 3.0.1 symbols. Must be mismatch of some sort (either different version of Flutter or maybe bitcode used for deployment?).

`whatever` is not mentioned in the docs, because it's just a random placeholder thing I had to put there to make it work. Bugs can be filed here: https://github.com/dart-lang/dart_ci/issues?q=is%3Aissue+is%3A

[2022-06-02 22:01] gaaclarke opened #105255 "flutter tool is turning echo off in the terminal in regular usage"
After running `flutter run` and the app is quitting normally I'm not getting local echo on my terminal (I can't see what I'm typing).

`reset` will fix the issue.

Output before the echo is turned off:
[code]

I'm not sure if it happens 100% of the time but it is happening at least most of the time for me.

doctor:
[code]

cc @christopherfujino

[2022-06-02 22:12] godofredoc commented on #103421
@GaryQian any ideas on what may be causing this?

[2022-06-02 22:14] godofredoc commented on #99885
Chromium team is working on enabling safari driver. Previously the command was run as root and it was not working for the chromebot user.

@keyonghan is following up with chromium team.

[2022-06-02 22:17] godofredoc commented on #101712
Cocoon is now validating all the repos have pin dependencies and we are waiting on some repo PRs to land before the cocoon validations passes.

[2022-06-02 22:21] christopherfujino commented on #105255
from discord chat, he was using the default macOS terminal

[2022-06-02 22:22] GaryQian commented on #103421
No, unclear what is causing this.

The bots bow use the unified android sdk package on cipd, for most bots, they are using buildtools version 31.0.0

I recently added 33.0.0-rc4 but have not updated any shards to use it yet.

[2022-06-02 22:24] probablykasper opened #105257 "`.flutter`, `.flutter-devtools` and `.pub-cache` in incorrect places"
On macOS, Flutter stores `.flutter` and `.flutter-devtools` in the home folder. This is unconventional and contributes to a mess where app files are scattered everywhere, and the home folder gets cluttered.

Additionally `.pub-cache` is stored inside the Flutter folder. This results in users' backups being filled up with cache files without realizing.

Proper paths like `~/Library/Application Supp

[2022-06-02 22:24] XRayAdamo commented on #105157
Also found this
![image](https://user-images.githubusercontent.com/4430621/171744331-e9e344ab-787b-4398-a55a-8ab9f6618c59.png)

[2022-06-02 22:29] godofredoc commented on #104901
@christopherfujino @itsjustkevin have you looked at this issue?

[2022-06-02 22:30] #103362 closed

[2022-06-02 22:32] XRayAdamo commented on #105157
Addition:
If I change product copyright it does applied properly
![image](https://user-images.githubusercontent.com/4430621/171749061-7c4fd07d-890c-420f-acb5-567139b470fe.png)

[2022-06-02 22:43] karam-khanna opened #105258 "Issue with persisting target processes after quitting flutter"
## Steps to Reproduce

1. flutter create --template=plugin --platforms=macos,windows file_send
2. Open example/macos in XCode, and add a finder sync application template target to runner
3. Edit the schema so that runner builds and launches the finder sync as well as the flutter app
4. Run the application in terminal, and all should work, but when you quit, the finder sync process keeps running (c

[2022-06-02 22:51] christopherfujino opened #105260 "[flutter_tools] Upgrading package:dwds blocked by pin on package:shelf"
@elliette would like to roll `package:dwds` to the Flutter CLI tool as part of https://github.com/dart-lang/webdev/issues/1627, however, the latest dwds has a version of shelf that is incompatible with our exact pin https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/commands/update_packages.dart#L37 to work around the a revert that caused a performance regression https:/

[2022-06-02 23:01] christopherfujino commented on #105260
Looks like I read https://github.com/dart-lang/shelf/issues/189 wrong, and actually the performance improvement was never reverted, and thus we can remove the pin to package:shelf.

[2022-06-02 23:03] XRayAdamo commented on #105157
Long story short.
I have deleted macos folder and re-created macos
Now everything is working properly. I will have to re-create all code in macos, but I have it saved.

[2022-06-02 23:04] keyonghan commented on #86515
This has been implemented.

[2022-06-02 23:06] dfrtz commented on #104985
I haven't had a chance to look over the weighting changes in more details to help try to narrow it down further (which it's a little out of my wheelhouse so I may not be able to anyways), but after a few attempts I have been able to create a basic repro. It may look like a funny ms paint job when run, but it does the trick while simulating the scenario of "game pieces" that may be removed/added ov

[2022-06-02 23:10] keyonghan commented on #104269
Seems a temporary github request error:
[code]

Please reopen if this still happens.

[2022-06-02 23:10] #104269 closed

[2022-06-02 23:11] christopherfujino commented on #104901
I have no idea how this happened. I doubt it was via the conductor, as we validate that branches we push to upstream (https://github.com/flutter/flutter/blob/master/dev/conductor/core/lib/src/start.dart#L52) are either stable or beta (https://github.com/flutter/flutter/blob/master/dev/conductor/core/lib/src/globals.dart#L15).

[2022-06-02 23:14] jonahwilliams commented on #104985
Thank you for the additional details and the reproduction of the issue. I'll take a look at it when I get a chance

Though they're not well documented, there are a few techniques you can use to claw back some performance:

1. If your Picture is fairly stable, rather than using a repaint boundary, instead consider creating your own PictureRecorder/Canvas to imperatively construct a picture, then us

[2022-06-02 23:16] christopherfujino commented on #104901
@godofredoc does this work for you? https://docs.github.com/en/github-ae@latest/admin/monitoring-activity-in-your-enterprise/exploring-user-activity/viewing-push-logs

[2022-06-02 23:22] keyonghan commented on #104566
From internal doc `Only macOS and Windows hosts have enabled VNC server currently.` (go/flutter-devicelab#accessing-via-vnc)

[2022-06-02 23:25] christopherfujino opened #105263 "[flutter_tools] boolArg() should be non-nullable, and throw if the flag doesn't exist"
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/runner/flutter_command.dart#L1526

Discussion: https://github.com/flutter/flutter/pull/105242#discussion_r888395925

[2022-06-02 23:25] christopherfujino commented on #105263
WDYT @Jasguerrero ?

[2022-06-02 23:29] Jasguerrero commented on #105263
SGTM

[2022-06-02 23:31] gaaclarke opened #105264 "Error for mixmatch local engine and run configuration is obtuse"
## steps to reproduce
1) `flutter --local-engine-src-path ~/dev/engine/src --local-engine=ios_debug_unopt run`
1) quit the app
1) `open ios/Runner.xcworkspace`
1) Run the app with the "Profile" configuration

Notice the app doesn't run and produces an error.

## error log
[code]

## doctor
[code]

## Expected output
I expect the error to say something about using a local engine with an incompatibl

[2022-06-02 23:39] keyonghan commented on #105131
Dup of https://github.com/flutter/flutter/issues/104623

[2022-06-02 23:39] #105131 closed

[2022-06-02 23:40] fluttergithubbot opened #105265 "Linux_android flutter_engine_group_performance is 3.00% flaky"
The post-submit test builder `Linux_android flutter_engine_group_performance` had a flaky ratio 3.00% for the past (up to) 100 commits, which is above our 2.00% threshold.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/prod/Linux_android%20flutter_engine_group_performance/3164
Commit: https://github.com/flutter/flutter/commit/feda45a51bdf519b13efd05b051c

[2022-06-02 23:40] fluttergithubbot opened #105267 "Linux_android platform_channels_benchmarks is 2.00% flaky"
The post-submit test builder `Linux_android platform_channels_benchmarks` had a flaky ratio 2.00% for the past (up to) 100 commits, which is above our 2.00% threshold.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/prod/Linux_android%20platform_channels_benchmarks/3176
Commit: https://github.com/flutter/flutter/commit/86ab6d2bac78f32e23ae19619cf09484ecb4

[2022-06-02 23:40] fluttergithubbot opened #105269 "Mac_ios large_image_changer_perf_ios is 2.00% flaky"
The post-submit test builder `Mac_ios large_image_changer_perf_ios` had a flaky ratio 2.00% for the past (up to) 100 commits, which is above our 2.00% threshold.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/prod/Mac_ios%20large_image_changer_perf_ios/4168
Commit: https://github.com/flutter/flutter/commit/180b31dc667f964ae23cdd9de6f9054f50ec03d0

Flaky

[2022-06-02 23:40] fluttergithubbot opened #105271 "Windows build_tests_2_3 is 2.00% flaky"
The post-submit test builder `Windows build_tests_2_3` had a flaky ratio 2.00% for the past (up to) 100 commits, which is above our 2.00% threshold.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/prod/Windows%20build_tests_2_3/4975
Commit: https://github.com/flutter/flutter/commit/c5ae4a54ef8ebc5c3f99eb781de407fdffbc8d31

Flaky builds:
https://ci.chromiu

[2022-06-02 23:40] fluttergithubbot opened #105272 "Mac_ios backdrop_filter_perf_ios__timeline_summary is 2.00% flaky"
The post-submit test builder `Mac_ios backdrop_filter_perf_ios__timeline_summary` had a flaky ratio 2.00% for the past (up to) 100 commits, which is above our 2.00% threshold.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/prod/Mac_ios%20backdrop_filter_perf_ios__timeline_summary/4678
Commit: https://github.com/flutter/flutter/commit/e571c9c2f297c6f4a714

[2022-06-02 23:44] ditman opened #105273 "Local echo disabled when closing Chrome window."
My terminal becomes unusable (local echo disabled?) when I close the Chrome instance that was opened by `flutter run -d chrome` on a flutter web app.

### Steps to reproduce:

1. Create a new flutter app
2. `flutter run -d chrome` in said app
3. Close the Chrome window that automatically opens
4. Type something in the terminal window that was used to run `flutter run -d chrome`
5. 💥 no local echo

[2022-06-02 23:46] ditman commented on #105255
This is happening to me as well (GNOME Terminal 3.44.0 for GNOME 42): https://github.com/flutter/flutter/issues/105273

[2022-06-02 23:47] ditman commented on #105273
Happens in `GNOME Terminal 3.44.0 for GNOME 42`

[2022-06-02 23:50] christopherfujino commented on #105273
Thank you for filing this issue! However, I am going to close it as a duplicate of https://github.com/flutter/flutter/issues/105255. Please follow that issue for for more information and updates. Thanks!

[2022-06-02 23:50] #105273 closed

[2022-06-02 23:53] christopherfujino commented on #105255
Ohh, I can reproduce this if i hit `q`, but not with ctrl-c

[2022-06-02 23:59] ditman commented on #105255
It's very easy to reproduce with a web project: Close the Chrome window that opens with `flutter run -d chrome`. It doesn't happen with Ctrl+C.

[2022-06-03 00:08] godofredoc commented on #104623
The fix has landed.

[2022-06-03 00:08] #104623 closed

[2022-06-03 00:11] wanchana322 opened #105275 "Kwy"

[2022-06-03 00:13] christopherfujino commented on #105255
ok, this is definitely a regression, i'm bisecting now...

[2022-06-03 00:18] zanderso commented on #105265
3094 failed with:
[code]

The other two were known/fixed transient gradle network flakes. Routing to @blasten and dropping to P3.

[2022-06-03 00:19] zanderso commented on #105265
@keyonghan Could these all go out at the same time on Wednesday morning please?

[2022-06-03 00:20] zanderso commented on #105269
The cause of these flakes has already been addressed.

[2022-06-03 00:20] #105269 closed

[2022-06-03 00:20] rafaelsetragni commented on #99883
Guys, i found a new issue. There's some plugins that do not have any native implementation and, because of it, im not being able to import the packages and initialize the plugin inside the isolate.

[2022-06-03 00:22] zanderso commented on #105271
This is the same as https://github.com/flutter/flutter/issues/103230. Leaving open for the flaky bot, but downgrading to P3 and routing to @blasten.

[2022-06-03 00:23] zanderso commented on #105272
The cause of these flakes has already been addressed.

[2022-06-03 00:23] #105272 closed

[2022-06-03 00:30] keyonghan opened #105277 "Flutter flake bot fails silently"
Three flake APIs are scheduled to run on Weds morning, and API `/api/file_flaky_issue_and_pr?threshold=0.02` sometimes failed silently. Some potential actions to improve:
1) add alerts when API fails
2) schedule these three APIs at different time (now all are at same hour:min, and increase the chance to hit github API limit error)

Context: https://github.com/flutter/flutter/issues/105265

[2022-06-03 00:39] gaaclarke commented on #105253
# Debug log

With the following patch there is a compilation error when compiling for ios.  So even though it seems like it might be only for macos, it does appear to be compiled.  It might however be that building the iOS engine is also building the macos engine.  That was the case in the past:
[code]

I also ran an app with the following breakpoints on but they aren't hit (even with the --trace-

[2022-06-03 00:55] wanchana322 opened #105278 "git clone -b master https://github.com/flutter/flutter.git ./flutter/bin/flutter --version"

[2022-06-03 00:56] christopherfujino commented on #105255
git bisect says [86ab6d2bac78f32e23ae19619cf09484ecb4e14e](https://github.com/flutter/flutter/pull/105070)

[2022-06-03 00:58] wanchana322 opened #105279 "1"

[2022-06-03 00:59] christopherfujino commented on #105255
out of those engine commits, I suspect the Dart roll: https://github.com/flutter/engine/pull/33722

Here's the dart git log: https://dart.googlesource.com/sdk.git/+log/d1ddf6fca6fe..b7b20478af70

Of which the obvious standout seems to be: https://dart.googlesource.com/sdk.git/+/83850ac5fa8cfd58a0dcbfe7103b6455a2a1d523

[2022-06-03 00:59] jmagman commented on #105157
From those logs the product name was set to `export PRODUCT_NAME\=text_split_android` so that's what would be used by the app in the dock.  I'm not sure how you hard-coded that, it didn't come from Flutter...

[2022-06-03 01:05] christopherfujino commented on #105255
It looks like the problem is that we handled setting this in the signal handler, but not when `q` is entered, and we relied on the fallback dart vm default restoration logic. now we need to explicitly set this all code paths.

[2022-06-03 01:32] #105278 closed

[2022-06-03 02:07] cnmade opened #105282 "build to run flutter app on windows got these error message."
[code]

[2022-06-03 02:20] fennelhans commented on #20796
Really looking forward to this.

[2022-06-03 02:22] Mike278 commented on #104901
Just FYI this method is used in a fairly popular dockerfile: https://github.com/cirruslabs/docker-images-flutter/blob/4b904a42e86f312184b006437e4ead6c3537b3f2/sdk/Dockerfile#L13

[2022-06-03 02:35] godofredoc commented on #104901
@christopherfujino should we just go ahead and delete 3.0.1 branch. I'm not sure how it was created maybe from the branch list in the github UI?

[2022-06-03 02:55] XRayAdamo commented on #105157
I did not set it. It was probably from previous flutter version.

[2022-06-03 02:55] #105157 closed

[2022-06-03 03:02] namangor04 commented on #105095
@moffatman yes i can confirm that my laptop has synaptics driver and touchpad, and i will share other details as soon as I get to work today.

[2022-06-03 03:20] greenhandzdl commented on #101347
[code]

[2022-06-03 03:28] #46731 closed

[2022-06-03 03:28] #54295 closed

[2022-06-03 03:28] #71513 closed

[2022-06-03 03:28] #78650 closed

[2022-06-03 03:28] huycozy commented on #105149
I think that's why we have `pub.dev` in which developers can create various open-source packages / plugins. You can find there the Cupertino Picker styles that you expected.

Please also see https://flutter.dev/community for resources and ask questions like this. You may also get some help if you post it on StackOverflow and if you need help with your code, please see https://www.reddit.com/r/flut

[2022-06-03 03:28] #105149 closed

[2022-06-03 03:39] cnmade opened #105286 "Feature Request: Flutter should expose API to configure default windows size (Height, Width) cross platform"
For cross platform app, we may want to set a different window size, with height and width for all platform(Windows, Linux, MacOS)
![Snipaste_2022-06-03_11-27-52](https://user-images.githubusercontent.com/278153/171781407-c492fdb6-6153-49a1-a4a0-10e5ff5b55e2.png)

I guess there should be a api expose for us to call when
[code]

[2022-06-03 03:48] see commented on #105219
Did you double-click the file to open the iOS project?
![image](https://user-images.githubusercontent.com/19725091/171782098-010edafd-fd0d-4353-83f9-8dc4b00ac57a.png)

[2022-06-03 04:02] rvn9 commented on #57594
same issue, detach only called when user exit from back button.

[2022-06-03 04:08] sclee15 commented on #105282
Oh, I encounted the same issue.

[2022-06-03 04:09] christopherfujino commented on #104901
SGTM, that will fix fresh CI builds.

[2022-06-03 04:09] Satendra9984 commented on #70751
Is this issue not solved yet ?

[2022-06-03 04:10] #87947 closed

[2022-06-03 04:11] godofredoc commented on #104901
Done, @lexxxel can you please try cloning again?

[2022-06-03 04:21] sclee15 commented on #105282
FYI. duplicate of #102451

[2022-06-03 04:41] maheshmnj commented on #105226
Hi @ltOgt, Flutter currently doesn't support LifeCycle events on the desktop, But there is an existing issue which is being tracked here https://github.com/flutter/flutter/issues/30735.
Please follow up on that issue for further updates closing this issue as a duplicate.

[2022-06-03 04:41] #105226 closed

[2022-06-03 04:43] maheshmnj commented on #105095
Removing found in release labels since this was not reproducible on the primary triage.

[2022-06-03 04:57] maheshmnj commented on #105139
I think using  `Theme.of(context).appBarTheme.systemOverlayStyle` should help you to know the brightness

[code]

However, can you please explain a case or share a code sample where this wouldn't work?

[2022-06-03 05:14] ryanboerner commented on #80435
Facing the same issue here. Wanted to check on the status since its been some time since the discussions I am seeing around the issue.

[2022-06-03 05:30] huycozy commented on #105222
Hi @BirjuVachhani, I can see this error on the latest `stable` and `master` channels.
It seems the issue is caused by `typesafe`.
By `RectangularSliderTrackShape` and `RoundedRectSliderTrackShape` used `BaseSliderTrackShape` mixin, it seems that [conditional expressions](https://dart.dev/guides/language/language-tour#conditional-expressions) has treated them as an `Object` that  can't be assigned

[2022-06-03 05:32] AbeiOS opened #105289 "Android release apk network not work in Flutter 3.0"
## Flutter 3.0 issue on Android Release Environment

**期望的结果**
- Flutter 3.0 在安卓 release 的 apk 能正常请求网络

**实际表现**
- Flutter 3.0 在安卓 debug 的情况能够正常请求网络
- Flutter 3.0 在安卓 release 的情况下请求网络没有任何回应

[2022-06-03 05:39] maheshmnj commented on #105219
No, I launched it from terminal using

[code]
Now I tried to reclone your repo, But now the pod install is crashing (this worked in previous clone)

<details>
<summary>logs (logs(cocoapods 1.10.0))</summary>

[code]
/usr/local/bin/pod install
[code]
   CocoaPods : 1.10.2
        Ruby : ruby 2.6.8p205 (2021-07-07 revision 67951) [universal.arm64e-darwin21]
    RubyGems : 3.0.3.1
        Host : macO

[2022-06-03 05:39] darshankawar commented on #105227
https://github.com/flutter/flutter/blob/1a7a766de5937cd66a8f32834d5879cdcf95c9c3/packages/flutter_tools/lib/src/flutter_cache.dart#L447

https://github.com/flutter/flutter/blob/1a7a766de5937cd66a8f32834d5879cdcf95c9c3/packages/flutter_tools/lib/src/version.dart#L152

Looks like user does not have engine revision and seems to be on Mac.

Could it be similar to https://github.com/flutter/flutter/iss

[2022-06-03 05:46] arafaysaleem commented on #46768
I don't think this issue in docs exists as of today or either I am not looking in the right place. I went through the docs of `InputDecoration` and it does not contain incorrect references to `InputBorder()`. I think we close this @TahaTesser

[2022-06-03 05:49] darshankawar commented on #105231
Closing as duplicate of https://github.com/flutter/flutter/issues/102451. Please see workaround / temporary solution mentioned in it.

[2022-06-03 05:49] #105231 closed

[2022-06-03 06:00] maheshmnj commented on #105223
Hi @kjzl, Thanks for filing the issue. I can see that `selectableDayPredicate` is getting executed more than once. When showing the DatePicker dialog and also when the dialog is closed with the action buttons.

<details>
<summary>logs</summary>

[code]
</details>

<details>
<summary>flutter doctor -v (mac)</summary>

[code]
[code]
</details>

[2022-06-03 06:03] #103472 closed

[2022-06-03 06:04] maheshmnj commented on #105241
Hi @AugustoResende, Thanks for filing the issue. Could you please help me with the reproducible steps along with the output of `flutter doctor -v` to investigate further?

Thanks

[2022-06-03 06:05] darshankawar commented on #105282
Closing as duplicate of above linked issue.

[2022-06-03 06:05] #105282 closed

[2022-06-03 06:06] see commented on #105219
https://stackoverflow.com/questions/64901180/how-to-run-cocoapods-on-apple-silicon-m1

My Mac is x86 architecture, not Apple chip, so please try the solution below.

[code]

if it still doesn't work, please try the solution below.

[code]

[2022-06-03 06:10] #101485 closed

[2022-06-03 06:10] #103564 closed

[2022-06-03 06:18] guidezpl commented on #91172
See https://github.com/flutter/flutter/pull/102750 for closure reason.

[2022-06-03 06:18] #91172 closed

[2022-06-03 06:31] danagbemava-nc commented on #105205
Hi @keitheyre, what type of file is the link supposed to open?
Does the link open a browser/webview or another app?

Also, can you confirm if this works in a native android project?

[2022-06-03 06:36] darshankawar commented on #105235
@blastmann
Can you provide `flutter attach --verbose` log ? Also, how are you launching app on your phone before you `flutter attach` ? Can you provide complete steps to replicate ?

[2022-06-03 06:36] bhtri commented on #51086
I also got the same error!!
[code]
flutter doctor || [url_launcher](https://pub.dev/packages/url_launcher): ^6.1.2 || android studio version
[code]

And my scenario is:
Android app keep Service running when android app is killed.
Flutter AAR module add dependency [url_launcher](https://pub.dev/packages/url_launcher) to file `pubspec.yaml`  will implement launch another app by URLs (URL Scheme etc)

[2022-06-03 06:44] danagbemava-nc commented on #105200
Hi @RobertApikyan & @ManuverGujjar, is it the front camera only that throws the error or both the front and selfie cameras throw this error?

[2022-06-03 06:47] RobertApikyan commented on #105200
Hi @danagbemava-nc, I have only tried this for the back camera, but I will check this for the front camera too and let you know.

[2022-06-03 06:51] AbeiOS commented on #105289
不好意思，是我们这边代码混淆导致的，现将代码混淆关闭了

[code]

[2022-06-03 06:52] #105289 closed

[2022-06-03 06:58] jensjoha commented on #17130
I'm glad combining the tests seems to be a workaround.

With regard to 8) it's funny --- that seems to take ~exactly as long as without verbose. I wonder what happened with the previous verbose run which was slower than the non-verbose one.

As for 9), setting that won't make it faster. That it appears faster is coincidence. In fact, it appears not to have done the wanted thing at all. It was mean

[2022-06-03 06:59] darshankawar commented on #105250
Currently it doesn't seem to be possible to do that for Flutter app.

Reference: https://stackoverflow.com/questions/68610640/is-there-a-way-to-change-value-while-debugging-a-flutter-app

[2022-06-03 06:59] huycozy commented on #105229
Hi, I can reproduce this issue on the latest `stable`, `master`  channels, and also with `2.10.5`.

The error was thrown even with `AndroidGoogleMapsFlutter.useAndroidViewSurface = false;` in my side.

<details>
<summary>Demo</summary>

Perform multi-touch with the map and the green container at the same time.
<img width="400" src="https://user-images.githubusercontent.com/104349824/171802860-de15

[2022-06-03 07:05] CarGuo commented on #105014
@jason-simmons Thanks! I also found that there is no problem with Android on the real devices, but also occurs on the real iPhone devices.

[2022-06-03 07:10] #103477 closed

[2022-06-03 07:11] TheOneWithTheBraid commented on #80940
I think this issue was unintentionally closed. The information requested by the bot does not apply here. I would be happy in case someone could re-open this issue.

[2022-06-03 07:15] TheOneWithTheBraid commented on #80940
Some yes, some no.

At the moment, the workaround is a hacky combination of patch files and branches we apply and rebase in CI in order to use different native plugins.

[2022-06-03 07:24] bambinoua opened #105294 "[go_router] Add ability to redirect with `extra`"
Now the `GoRouterRedirect` returns `String`, optionally with `queryParameters` using `state.namedLocation`.

I my web application I have this case: authentication token is stored in web session storage. This token can be expired (automatically) and modified or removed (manually). When user will open new page user should be redirected to `login` page with some explanation message to show on it. Now

[2022-06-03 07:29] danagbemava-nc commented on #105251
Hi @misterfourtytwo, thanks for catching that.

I can confirm that there is a bug in the example.

<details>
<summary>videos</summary>

| current example | fix proposed(from PR) |
| -- | -- |
| <video src="https://user-images.githubusercontent.com/88313112/171808013-2995da0b-635c-4fb3-a96a-e14ea34297eb.mov" /> | <video src="https://user-images.githubusercontent.com/88313112/171808002-396e58e5-8d36

[2022-06-03 07:52] asashour commented on #105257
Related to https://github.com/dart-lang/sdk/issues/49166

[2022-06-03 07:55] harshitAmar opened #105295 "[tool_crash] ArgumentError: Invalid argument(s): Invalid type for "path": null"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ArgumentError: Invalid argument(s): Invalid type for "path": null
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel**: stable
**Creation framewo

[2022-06-03 07:58] TahaTesser commented on #105222
Hey everyone, this is not a Flutter issue.

Please see https://github.com/dart-lang/sdk/issues/45304 and https://github.com/flutter/flutter/issues/77782

This is working as intended.  Could be reproduced without Flutter in plain dart code.

You can cast the object like this
[code]

[2022-06-03 07:58] #105222 closed

[2022-06-03 07:59] Massawe14 opened #105296 "[tool_crash] HttpException"
## command

flutter run --debug

## exception

HttpException: HttpException: Connection closed before full header was received, uri = http://localhost:10193/json

[code]

## flutter doctor

[code]

[2022-06-03 07:59] lexxxel commented on #104901
Looks good now!
I remove the .git folder to slim down the image, resulting in an unknown channel (so that is not an error).

[code]

[2022-06-03 08:04] Yeatse commented on #105183
To dive into it I did more tests and got some interesting results. The code:

[code]

and result on my iPhone 7 and iPhone XR:
| chunk size | result on 5d3720625725244345539ea980c9e8599f8e38b1 | result on 1de200596be62f0b487e8dfa742e930d6f13bd1f |
| --- | --- | --- |
| 1 MB | 2752 chunks | 1710 chunks |
| 10 MB | 271 chunks | 176 chunks |
| 100 MB | 26 chunks | 15 chunks |
| 500 MB | 4 chunks | 2

[2022-06-03 08:07] exaby73 commented on #105257
Hello @probablykasper. This looks like a valid feature request. Thank you for the feedback :D

[2022-06-03 08:09] darshankawar commented on #105248
@ddxl123
I think your question is better suited for support channels like StackOverflow where you can get existing solutions to your question. See a similar one: https://stackoverflow.com/questions/66856086/how-to-navigate-to-previous-page-using-device-back-button-flutter

Closing from here. If you disagree or think there's a genuine bug in the framework using navigation, write in comments along w

[2022-06-03 08:09] #105248 closed

[2022-06-03 08:10] #103618 closed

[2022-06-03 08:14] 0xNF opened #105297 "[Windows build] Building the engine results in a flutter_windows.dll with missing entrypoint FlutterDesktopEngineReloadPlatformBrightness"
Having followed the build instructions located at  https://github.com/flutter/flutter/wiki/Compiling-the-engine I get what looks like a successful build of the engine, but the resulting `flutter_windows.dll` does not include `FlutterDesktopEngineReloadPlatformBrightness`, while the same, pre-built dll from official sources works fine.

[2022-06-03 08:18] ltOgt commented on #30735
This also prevents desktop apps to react to loss and gain of window focus.

See e.g. https://github.com/flutter/flutter/issues/103446 and https://github.com/flutter/flutter/issues/105230

[2022-06-03 08:18] bleroux commented on #94764
The fix has landed

[2022-06-03 08:18] #94764 closed

[2022-06-03 08:20] danagbemava-nc commented on #105296
Hi @Massawe14, do you see an error message in your console when you experience this crash?

[2022-06-03 08:22] danagbemava-nc commented on #105295
Closing this as a duplicate of #56811

[2022-06-03 08:22] #105295 closed

[2022-06-03 08:32] Massawe14 commented on #105296
Oops; flutter has exited unexpectedly: "HttpException: Connection closed before full header was received, uri = http://localhost:10193/json".

[2022-06-03 08:32] huycozy commented on #105286
Hi, thanks for filing the issue.
I see there are some issues that addressing the case you described, see #30736, #67708.
Closing as duplication, so please follow up on it for further updates.

[2022-06-03 08:32] #105286 closed

[2022-06-03 08:41] danagbemava-nc commented on #105296
Thanks for the logs.

Closing this as a duplicate of #79748

[2022-06-03 08:41] #105296 closed

[2022-06-03 08:45] #99712 closed

[2022-06-03 09:09] FloLecoeuche commented on #77605
@ditman do you think you can make a PR ?

[2022-06-03 09:09] wongcheehong opened #105298 "Cannot invoke method channel in another activity"
In MainActivity.kt, I invoke a method call "goToSecondActivity" to go to second activity. I would like to invoke method channel on the SecondActivity too but it doesn't work. The MethodCallHandler doesn't even run.

I got the MissingPluginException(No implementation found for method updatePosition on channel com.example.ble_poc/map_channel) but I have just implemented it and channel name is the sa

[2022-06-03 09:10] #103654 closed

[2022-06-03 09:24] davidmigloz opened #105299 "[flutter_markdown] MarkdownBody.shrinkWrap not taken into account with single child"
`MarkdownBody`'s `shrinkWrap` property is not taken into account when the list of children provided by `MarkdownWidget` has only one child.

The reason seems to be that:
1. When there's only one child `MarkdownBody` doesn't wrap it into a `Column`:

https://github.com/flutter/packages/blob/4b2114beb992da0e031c4e9f94e04f6e659e704b/packages/flutter_markdown/lib/src/widget.dart#L443-L453

2. And the

[2022-06-03 09:39] darshankawar commented on #69775
https://github.com/flutter/flutter/wiki/How-to-write-a-render-speed-test-for-Flutter

[2022-06-03 09:42] darshankawar commented on #71668
@johnpryan Hi,
Since the related devtools issue seem to have been fixed already https://github.com/flutter/devtools/issues/2598, can this issue be closed ?

[2022-06-03 09:52] original-one opened #105300 "[tool_crash] String: <57 characters>"
## Command
[code]

## Steps to Reproduce
1. flutter run --profile on android 5.1 API 22
2. Oops; flutter has exited unexpectedly: "failed to connect to http://127.0.0.1:56101/NFZt9u9joGE=/".

## Logs
String: <57 characters>
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 0.1.1+3
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package*

[2022-06-03 09:52] TobiasDuelli commented on #72878
Are there any updates on this?

[2022-06-03 10:00] darshankawar commented on #78477
@neiljaywarner
Does this document help to address your questions ? https://docs.flutter.dev/testing/integration-tests

https://github.com/flutter/flutter/tree/main/packages/integration_test#usage

[2022-06-03 10:02] darshankawar commented on #78973
@rileychin
Is this still an issue using the latest framework version along with latest `cloud_firestore` plugin version ?

https://github.com/flutter/flutter/tree/main/packages/integration_test#usage

[2022-06-03 10:13] RobertApikyan commented on #105200
@danagbemava-nc not working for the front camera as well, the app crashes on front camera icon click, I will post logs and staktrace later.

[2022-06-03 10:20] TahaTesser commented on #46768
@arafaysaleem
Thanks for looking into it.

For anyone, If the issue persists, please file a new issue.

[2022-06-03 10:20] #46768 closed

[2022-06-03 10:27] guns28 opened #105301 "navigation pop while zooming on a marker"
i have a google maps when i zoom out and click on a pin i have a view showing with navigation button but if i click on a button while the map is still zooming i navigate and go back to the map again.

is anyone have an idea of what could be happening ?

thx.

[2022-06-03 10:33] huycozy commented on #105258
Hi @karam-khanna, can you provide a GitHub repo so that we may verify this quickly.

[2022-06-03 10:43] SriramKiranSenthilkumar opened #105302 "paint method of the customPainter is called twice when running the application is release mode."
## Steps to Reproduce

1. Run the below code in release mode and check the console or terminal window.
<details>
<summary>Code sample</summary>

[code]

</details>

2. As you can see in the above code, I have written a print statement in the start of paint method. When the application is ran in release mode, the paint method gets called twice. Appended the console screenshot below for refernce.
![

[2022-06-03 10:50] namangor04 commented on #105095
Sorry for the delay, @moffatman sir. I can reproduce this issue with the following code sample when we do the two finger swipe gestures on the trackpad:

<details>

<summary>Code Sample</summary>

[code]

</details>

The driver and trackpad details are as follows:

Trackpad: Synaptics SMBus TouchPad
Driver Provider: Synaptics
Driver Version: 19.5.35.54
Driver Date: 16-03-2020

[2022-06-03 10:52] exaby73 commented on #105299
I can reproduce this issue in the latest package version on both stable and master channels.

<details><summary></summary>

<img width="409" alt="image" src="https://user-images.githubusercontent.com/50555895/171839194-852db684-78e0-48a5-b5c7-884ce6db1edc.png">

</details>

<details><summary>Code sample</summary>

[code]

</details>

<details><summary><code>flutter doctor -v</code> (Stable)</summa

[2022-06-03 10:54] exaby73 commented on #105300
Hello @original-one. I see you're using an older version of Flutter `3.0.0`. Please upgrade to the latest version `3.0.1` and confirm if this issue persists there as well.

[2022-06-03 10:55] codebird commented on #105035
I can confirm the issue on Chrome Linux (102.0.5005.61) and Chrome ChromeOS (101.0.4951.72) both the bar and the favicon are not updating. Looks like AnimatedBuilder stops updating when the tab is inactive.

[2022-06-03 10:55] exaby73 commented on #105301
Hi @guns28, please provide a [minimal, reproducible example][1] and the output of `flutter doctor -v`.

[1]: https://stackoverflow.com/help/minimal-reproducible-example

[2022-06-03 11:06] exaby73 commented on #105302
Hi @..., please provide the output of `flutter doctor -v`.

[2022-06-03 11:11] SriramKiranSenthilkumar commented on #105302
Hi @exaby73, You can find it in the logs.

[2022-06-03 11:15] exaby73 commented on #105302
Hey. Sorry didn't see that. I can reproduce this issue on stable and master.

<details><summary>Code sample</summary>

[code]

</details>

<details><summary><code>flutter doctor -v</code> (Stable)</summary>

[code]

</details>

<details><summary><code>flutter doctor -v</code> (Master)</summary>

[code]

</details>

[2022-06-03 11:32] glaceon2000 opened #105304 "A picker that includes both Date picker and Time picker."
## Use case
For when you wanna create a DateTime object from a picker that includes the time as well. It would be very useful for web.
## Proposal
Just have both of the current pickers side by side as a new type of picker

[2022-06-03 11:42] mtc-jed commented on #105304
I use CupertinoDatePicker with `mode = CupertinoDatePickerMode.dateAndTime`.

[2022-06-03 12:09] maheshmnj commented on #105219
Thanks `sudo arch -x86_64 gem install ffi` worked, The app builds and runs fine, I don't see any crash.

https://user-images.githubusercontent.com/31410839/171850451-098a2afd-69cc-4568-9b82-f47375f4951f.mov

Is there any change I need to make to reproduce the crash? Also can you please share the crash log?

<details>
<summary>logs</summary>

[code]
</details>

<details>
<summary>flutter doctor -v

[2022-06-03 12:11] #103681 closed

[2022-06-03 12:11] maheshmnj commented on #105297
Hi @0xNF,  Can you please help me with the steps to reproduce the issue along with the output of `flutter doctor -v`?

[2022-06-03 12:14] original-one commented on #105300
Thank you, the issue is resolved

[2022-06-03 12:14] #105300 closed

[2022-06-03 12:17] see commented on #105219
click on an item in the home list

[2022-06-03 12:22] exaby73 commented on #105304
Hello @glaceon2000. Currently, the material design specification, which you can read more on material.io, does not support a hybrid date and time picker such as iOS. So this does not seem like a feasible feature request.

You can use the [`CupertinoDatePicker`][1] as @mtc-jed has suggested. Or you can use a third-party library like [date_time_picker][2].

I'm closing this issue due to above mentio

[2022-06-03 12:22] #105304 closed

[2022-06-03 12:24] exaby73 commented on #105300
@original-one Could you provide information on how you resolved the issue so that anyone else having this issue would also be able to find a solution?

[2022-06-03 12:26] maheshmnj commented on #55894
I am able to reproduce it on `stable 3.0.1` and the master channel, The subtitle colors do not match

<img width="329" alt="image" src="https://user-images.githubusercontent.com/31410839/171853117-aed22d14-1c11-4fd2-b59f-ddf46d051a58.png">

<details>
<summary>flutter doctor -v (mac)</summary>

[code]
[code]
</details>

[2022-06-03 12:39] huycozy commented on #105298
Hi, this issue is reproducible on the latest `stable` and `master` channels.
The issue occurred even if I use the same channel for both `MainActivity` and `SecondActivity`.

<details>
<summary>Logs</summary>

[code]
</details>

And I have a workaround, you can try it as a temporary solution.
<details>
<summary>Workaround</summary>

The idea is simple by using a `BaseActivity` which declares all im

[2022-06-03 12:45] postacik commented on #97542
It would be great to have this feature :)

[2022-06-03 12:51] ihorkozar opened #105305 "Detect whether flutter web app is running on iPad"
There is a similar problem already solved: https://github.com/flutter/flutter/issues/80505

But after trying this solution, I found that for some reason for the iPad it does not work.
Perhaps because the iPad works on iPadOs now, but there is no such type in TargetPlatform.

[2022-06-03 12:53] stuartmorgan commented on #99883
Plugin implementations that are Dart-only are fully handled by `DartPluginRegistrant.ensureInitialized()`.

`path_provider_ios` is not such a plugin though. That error message means you didn't register the native side with your engine instance.

[2022-06-03 12:53] JPlenert opened #105306 "ImageProvider is not working with Html-WebRenderer and image data from a sublist"
When using an ImageProvider together with Html-WebRenderer, decode of the Html-WebRenderer does not support a Uint8List from a sublist.
Reason: To create the HtmlBlob an ImmutableBuffer is used. ImmutableBuffer fails (silently) to create from a sublist.

## Steps to Reproduce
https://dartpad.dartlang.org/?id=01a575ef748e6649387bbfd8e1f60ca4

[2022-06-03 13:06] darshankawar commented on #105305
Currently, below are the supported target platforms:

https://github.com/flutter/flutter/blob/032dc5428f35eb651c02530cd1bd7d7f59e6f2ec/packages/flutter/lib/src/foundation/platform.dart#L44

Are you looking for `iPadOS` to be added as target platform ?

[2022-06-03 13:11] misterfourtytwo commented on #105251
https://github.com/flutter/flutter/pull/105252
i forgot to link PR from here. I'll write some simple tests later and then will wait for approval

[2022-06-03 13:13] #70755 closed

[2022-06-03 13:17] #103588 closed

[2022-06-03 13:19] moffatman commented on #105095
@namangor04 What did the log show, which keys were pressed?

[2022-06-03 13:26] keitheyre commented on #105205
Hey,

the file is a single page PDF. Yes the link opens perfectly. Actually I found out today that if I use the launch(url_here) it opens and asks to download or open.

Open -> opens file but when you press back, the app has crashed.

Download -> haven’t tried this yet as it doesn’t work with the flow of my app.

I am free to call if you want to discuss this in real-time.

[2022-06-03 13:27] maheshmnj commented on #38764
I can reproduce the issue on stable 3.0.1 and master 3.1.0, AnimatedIcons do not respect `textDirection`. Also, Wrapping AnimatedIcon/ Icon in directionality doesn't seem to make a difference.

<img width="320" alt="image" src="https://user-images.githubusercontent.com/31410839/171863244-b5c10474-cf1c-4f76-891b-0986f93b23fd.png">

<details>
<summary>code sample</summary>

[code]
</details>

<detai

[2022-06-03 13:33] namangor04 commented on #105095
@moffatman Arrow Left and Arrow Right, same as #99960

[2022-06-03 13:35] TahaTesser commented on #70755
https://github.com/flutter/flutter/pull/105123 adds ability to avoid inkwell when `onSelectChanged != null,`  and this issue is closed.

Please file a separate issue if this issue persists.

[2022-06-03 13:37] neiljaywarner commented on #78477
The first question is about espresso bindings.. the second one I'll have to think about more but unless you are saying it's an update is probably still valid imho

[2022-06-03 13:38] daniiliv commented on #103691
Thanks! It works.

[2022-06-03 13:40] maheshmnj commented on #15203
Reproducible as of stable 3.0.1 and master 3.1.0 if the return type of widget is not specified (It is assumed to be `dynamic`) a run time error is thrown as intended. And when we specify the return type as `Future<String>` the analyzer shows the error and the app fails to compile. I believe this issue is more specific to dart rather than flutter.

<details>
<summary>logs</summary>

[code]
</detail

[2022-06-03 13:42] guidezpl opened #105308 "Scrolling on macOS disables gesture interaction"
It's possible this affects other platforms.

On web, one can scroll and interact with elements below
- cursor is correct
- interactions (e.g. clicks) are registered

e.g. https://api.flutter.dev/flutter/widgets/ListView-class.html

On macOS, when scrolling:
- cursor is incorrect
- disables interactions

e.g. below, I am scrolling and clicking

 https://user-images.githubusercontent.com/6655696/171

[2022-06-03 13:46] 623637646 opened #105309 "Widgets don't refresh when using MaterialApp.navigatorKey in some cases."
## Steps to Reproduce

1. Execute `flutter run` on the code sample

**Expected results:**
The number in the middle of the screen should change from 0 to 1;

**Actual results:**
The number in the middle of the screen never changes.

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

</details>

<details>
<summary>flutter doctor -v</sum

[2022-06-03 13:49] moffatman commented on #105095
@namangor04 Can you look in your trackpad settings, or synaptics settings, there could be a way to change the "scroll mode". If not it should be investigated whether these synthetic keyboard presses can be identified as coming from a mouse, they could be converted into scroll events to work properly.

[2022-06-03 13:49] JPlenert commented on #105306
@exaby73
Sorry, no error Message - fails silently.
I guess flutter doctor makes no sense in DartPad?

[2022-06-03 13:51] 049er opened #105310 "Integration test Error/Exception"
**Describe the bug**
I tried to use integration testing on my own app and traced the error back to this library so I tested the example app.
When running an integration test using this example. I get the same error. I'm not sure if this is because of something in this library or if it is a flutter issue. If it is a flutter issue let me know and I'll make an issue there.

[code]

When I comment out

[2022-06-03 13:53] #105310 closed

[2022-06-03 13:58] exaby73 commented on #105306
Have you reproduced it on your local machine? If so, can you provide logs for `flutter run -v`?

[2022-06-03 14:04] Bes79 commented on #103397
Same issue

[2022-06-03 14:05] Bes79 commented on #104934
Same issue

[2022-06-03 14:17] danagbemava-nc commented on #105205
Hi @keitheyre, does this bug still occur if you use `LaunchMode.externalApplication`?

Also, is this an issue with only PDF links or generally any link that you get from firestore?

[2022-06-03 14:18] maheshmnj commented on #105219
I can reproduce the crash though, But I don't see any crash logs, it seems to point at this thread that crashed in `HomeNewsDetailViewController.swift`.

<img width="890" alt="image" src="https://user-images.githubusercontent.com/31410839/171872039-91b7e518-1d48-423c-85de-f258a8b42fa5.png">

@see It would be great if you can narrow down the code  and only have a minimal code that reproduces the cr

[2022-06-03 14:23] ihorkozar commented on #105305
@darshankawar
https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/foundation/_platform_web.dart
[code]

From this file, I assumed that the iPad is part of the ios case, but it's not. Should this be considered a bug?

[2022-06-03 14:28] godofredoc commented on #104901
Thanks for the confirmation that cloning is working properly now.

[2022-06-03 14:28] #104901 closed

[2022-06-03 14:34] JPlenert commented on #105306
[√] Flutter (Channel stable, 2.10.5, on Microsoft Windows [Version 10.0.19043.1645], locale de-DE)
    • Flutter version 2.10.5 at c:\flutter\2.10.5
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 5464c5bac7 (7 weeks ago), 2022-04-18 09:55:37 -0700
    • Engine revision 57d3bac3dd
    • Dart version 2.16.2
    • DevTools version 2.9.2

[√] Android toolchai

[2022-06-03 15:03] CaseyHillers commented on #104901
When 3.0.2 is released, the unknown channel will get fixed.

[2022-06-03 15:11] CaseyHillers commented on #103200
The flutter/infra changes have landed and the release docs have been updated.

[2022-06-03 15:11] #103200 closed

[2022-06-03 15:26] MenEnger opened #105313 "In 'ios' directory, ran `flutter build ipa --export-options-plist` ERROR: Encountered error while building IPA: error: Couldn't load -exportOptionsPlist"
At Flutter 3.0.0, macos Monterey 12.3.1, arm64 architecture

## Steps to Reproduce

Directory structure
- (flutter project root directory = yyyyyy)
  -  ios
     - ExportOptions
       - adhoc.plist
    - Podfile...etc

1. `cd ios`  from flutter project root directory
2. `flutter build ipa --export-options-plist=ExportOptions/adhoc.plist`

## Logs

<details>
<summary>Logs</summary>

[code]

[code]

[2022-06-03 15:31] HansMuller commented on #105302
@jonahwilliams - maybe this is the source of a performance problem?

[2022-06-03 15:33] zanderso opened #105314 "Two benchmarks that specify the same device in .ci.yaml are running on different devices."
In the`.ci.yaml` file `Linux_samsung_s10 new_gallery__transition_perf` and `Linux_samsung_s10 new_gallery_impeller__transition_perf` [both specify](https://github.com/flutter/flutter/blob/master/.ci.yaml#L1970) tags `["devicelab", "android", "linux", "samsung", "s10"]`, which I would have guessed would mean that both would be running on Samsung S10 devices.

However, looking at both SkiaPerf and a

[2022-06-03 15:34] kevmo314 opened #105315 "Custom ImageProvider in Drawer causes engine crash"
## Steps to Reproduce

1. Install the apk here: https://github.com/muxable/rtchat/actions/runs/2402809127
2. Sign in with Twitch
3. Follow instructions in: https://github.com/muxable/rtchat/issues/477

The app crashes with the debug log below. This seems quite similar to https://github.com/flutter/flutter/issues/57398, I am currently debugging to see what is causing the segfault.

<details>
<summa

[2022-06-03 15:46] jonahwilliams commented on #105302
In release mode the dart isolate starts up faster, and will end up building the widget tree initially when the window size is 0x0. Once the real window size is communicated, the widgets must rebuild.

I'm not aware of this causing any particular performance problems, but we could short circuit the first rebuild. @goderbauer for thoughts too

[2022-06-03 15:53] #90401 closed

[2022-06-03 16:16] zanderso commented on #105155
Expected to be fixed upstream by https://reviews.llvm.org/D126560

[2022-06-03 16:19] LucPham commented on #95637
I'm facing the same issue, can not set appAccountToken on iOS with In_App_Purchase plugin

[2022-06-03 16:21] dnfield commented on #90425
I'm talking with the ANGLE Team about getting vulkan_memory_allocator rolled forward. I have a local patch that seems to work, but it may take some time to get it propagated through.

[2022-06-03 16:23] jonahwilliams commented on #59413
I think we could possibly break out that library, but we'd need to spend time to take a pass over the API and documentation

[2022-06-03 16:31] LostInDarkMath commented on #103662
When will this fix be released? I tried the new beta version `3.1.0` but the issue is still there.

[2022-06-03 16:34] jonahwilliams commented on #103662
We don't cherry pick fixes to betas usually, it will be in the next stable hotifx

[2022-06-03 16:38] kevmo314 commented on #105315
I followed the instructions in https://github.com/flutter/flutter/issues/57398 to generate the debug symbols, however the pc I get when following that process is much higher than all the symbols in the symbol table so the binary search script doesn't work. Any other ideas for debugging?

[2022-06-03 16:42] lukepighetti commented on #105139
Using the above example, with system brightness set to dark, the status bar brightness in Safari is not correct

https://user-images.githubusercontent.com/666539/171908809-87a2758d-9cd8-4467-b693-be64843f5bd5.mov

[2022-06-03 16:47] johnpryan commented on #71668
Yes, we can close this 👍

[2022-06-03 16:47] #71668 closed

[2022-06-03 16:50] jmagman opened #105317 "After changing macOS `PRODUCT_NAME` in AppInfo.xcconfig the app will not build until the build folder is cleaned"
`BUNDLE_NAME` is set to `PRODUCT_NAME` which gets used by Xcode to name the bridging header. And if you've already built with the old name, you get an error like:
[code]
I cleaned `Product > Clean Build Folder` which deleted the generated header, then built again so it generated the new one.  Then it ran with the new name:
<img width="148" alt="Screen Shot 2022-06-02 at 9 58 06 AM" src="https://us

[2022-06-03 16:50] jmagman commented on #105317
@cbracken

[2022-06-03 16:52] jmagman commented on #105157
Filed https://github.com/flutter/flutter/issues/105317 to track that the app won't build until a clean when the name changes.

[2022-06-03 16:53] kenaitian commented on #104696
I did change things around per this blog and that Swift error with placeholders seemed to have gone away but this led to “Flutter/flutter.h” file cannot be found:

https://www.hackingwithswift.com/articles/136/the-complete-guide-to-optionals-in-swift

[2022-06-03 16:59] jmagman commented on #105253
@gaaclarke do we also need this for simulators?

[2022-06-03 17:01] iskakaushik opened #105320 "Use ANGLE as the GL integration point for Android"
Android has some instructions on how to do this at: https://chromium.googlesource.com/angle/angle/+/HEAD/doc/DevSetupAndroid.md

[2022-06-03 17:05] jmagman commented on #105253
I didn't know you were already working on this, I put out https://github.com/flutter/flutter/pull/105321.
Want me to close it?

[2022-06-03 17:07] christopherfujino commented on #104901
Please don't delete the .git folder, the Flutter CLI tool depends on the SDK being a git repo for various operations.

[2022-06-03 17:08] #89959 closed

[2022-06-03 17:13] #104866 closed

[2022-06-03 17:18] #96699 closed

[2022-06-03 17:18] #92000 closed

[2022-06-03 17:19] dnfield commented on #105320
I'm not sure that we can actually do this for customers, but it may be helpful to debug or profile what's going on in GL somehow.

[2022-06-03 17:20] keyonghan commented on #105314
We have been relying on `device_os` dimension for task scheduling, but it turns out Samsung A02 and Samsung S10 may share the same `device_os` (`ro.build.id`):
[code]
But `device_type` is consistent to distinguish A02 from S10.

@zanderso Does it make sense to switch to `device_type` or do we not care the `device_os`?

[2022-06-03 17:21] zanderso commented on #105314
For the purposes of benchmarking, the most important distinguishing feature is the device type.

[2022-06-03 17:22] gaaclarke commented on #105253
I've tested it and it doesn't work yet.  I think that this is just the first step in the journey.  I'm not sure if the next blocker is in the framework repo or the engine repo.  It's probably easier just to let me drive the PR in case I need to add more changes to the framework.  I'll send the PR your way once I have everything working.

[2022-06-03 17:23] jmagman commented on #104866
Filed https://github.com/flutter/samples/issues/1300 and https://github.com/flutter/website/issues/7225

[2022-06-03 17:29] nuritzi commented on #103216
@itsjustkevin adding you to this issue.

[2022-06-03 17:30] keyonghan commented on #105314
https://github.com/flutter/flutter/pull/105322 to fix.