[2020-09-03 09:45] WouterVandenputte commented on #47013
I have the same problem now, seems that it has not been fixed still

[2020-09-03 09:46] Maverick099 commented on #65085
I have the problem still and will raise an issue in the VS Code Flutter Extension:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32545664/92099592-54498c80-edf8-11ea-9316-bbc852ad140c.gif)

Thank you for the assist

[2020-09-03 09:46] farisshomali opened #65162 "[tool_crash] FileSystemException: Cannot copy file to 'C:\flutter\flutter\bin\cache\flutter_web_sdk\kernel\amd\dart_sdk.js', OS Error: Cannot create a file when that file already exists., errno = 183"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot copy file to 'C:\flutter\flutter\bin\cache\flutter_web_sdk\kernel\amd\dart_sdk.js', OS Error: Cannot create a file when that file already exists.
, errno = 183
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
*

[2020-09-03 09:50] hamdikahloun commented on #65086
For android development you can use the android emulator or your device with USB debugging enabled.

You can get more details here : https://developer.android.com/training/basics/firstapp/running-app

The root directory, or root folder, is the top-level directory of your application.
In the mac terminal : `cd /my_app_folder_path` and `flutter run`

If you use android studio :

![image](https://use

[2020-09-03 09:52] pedromassangocode commented on #56011
Hi @JellyHell
Are you still having this same issue?

[2020-09-03 09:53] apps-transround commented on #56257
Hi @tahatesser

It is much better now: no black screens.
On older devices I still see performance fallback if box decoration is applied. Of course, there must be some trade off when scrolling more complex widgets but I don’t know any exact measures to evaluate performance decrease so made a playground for perception.

Code: https://github.com/apps-transround/scroll_test
Link: https://coolabio.web.

[2020-09-03 10:08] bgmf commented on #31059
For me the default transition lags when I navigate with named routes – I can somehow circumvent this with a variation of the described `async` solution here (I won't go into details, but an artificial delay is involved) and explicitly using `FadeUpwardsPageTransitionsBuilder` in the `pageTransitionsTheme` set up, but still the back animation stutters.
The app isn't totally unresponsive, but there'

[2020-09-03 10:11] chakrihacker commented on #27309
Any updates on this?

[2020-09-03 10:11] TahaTesser commented on #65147
Hi @YowFung
I couldn't reproduce the issue using window_size

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Since the issue isn't reproducible without `window_size`, please this issue on their dedicated GitHub [Repository](https://github.com/google/flutter-desktop-embedding/issues)

Thank you

[2020-09-03 10:11] #65147 closed

[2020-09-03 10:13] FadiChaalab commented on #54460
I had the same problem, solved by this steps:
1- adding package connectivity_macos: ^0.1.0+4 (maybe optional)
2- updating connectivity to connectivity: ^0.4.9+2
I hope it works for you :)

[2020-09-03 10:20] subzero911 opened #65163 "Debug tests: Warning: You should set `SILENT_OBSERVATORY`"
I want to debug my tests.
Tried both in VS Code and AS.
Set some breakpoints, run debug from IDE:
![image](https://user-images.githubusercontent.com/12999702/92102878-ded5c000-ede7-11ea-9898-a1ae99ff2a5e.png)
Run from terminal (i tried to set a variable here, and it stills throws the same warning):
![image](https://user-images.githubusercontent.com/12999702/92102907-e72dfb00-ede7-11ea-91fd-7e3aa37

[2020-09-03 10:30] pedromassangocode commented on #55686
Hi @aseef17
Are you still facing this issue? If yes then please provide your current `flutter doctor -v`

[2020-09-03 10:32] TahaTesser commented on #60709
Could everyone who still has this problem please file a new issue with the exact description of what happens, logs and the output of `flutter doctor -v`.
All system setups can be slightly different, so it's always better to open new issues and reference related issues.

[2020-09-03 10:35] sbigtree opened #65165 "Crashy the project Demo Sentry URI failed"
E/flutter (30777): [ERROR:flutter/lib/ui/ui_dart_state.cc(171)] Unhandled Exception: FormatException: Invalid empty scheme (at character 1)
E/flutter (30777): :///api/4d6ccf3384a14719a5dc404e52954c33/store/
E/flutter (30777): ^
E/flutter (30777):
E/flutter (30777): #0      _Uri._fail (dart:core/uri.dart:1628:5)
E/flutter (30777): #1      new _Uri.notSimple (dart:core/uri.dart:1461:9)
E/flutter (30

[2020-09-03 10:36] pedromassangocode commented on #55686
Hi @aseef17
I cannot reproduce this issue on latest `master` channel.

![Screenshot_2020-09-03-15-59-29-64](https://user-images.githubusercontent.com/67424416/92104621-7c75c300-edd9-11ea-8efc-e243d2cf4b6c.jpg)

Can you upgrade to `master` and try again
`flutter channel master`
`flutter upgrade --force`
`flutter doctor -v`

<details><summary>complete sample code</summary>

[code]
</details>

<detai

[2020-09-03 10:36] sbigtree opened #65166 "[Sentry] Unhandled Exception: FormatException: Invalid empty scheme (at character 1)"
[code]

[2020-09-03 10:37] sbigtree commented on #65165
重复了

[2020-09-03 10:37] TahaTesser commented on #53489
Hi @tanweer919
Please provide the  co**mplete code sample** you're using in the screenshot
Thank you

[2020-09-03 10:43] pedromassangocode commented on #54292
Does this still a valid issue?

[2020-09-03 10:47] DanGerHOGGISH opened #65167 "Pub get stuck again"
` Good afternoon a month ago pub get did not work then I dont know somehow it worked. And now pub get stuck again. Can you Help me? What should i do ? Does this happen a lot ?`

[2020-09-03 10:48] DanGerHOGGISH commented on #65167
[code]

[2020-09-03 10:49] DanGerHOGGISH commented on #65167
[code]

[2020-09-03 10:53] Leffe108 commented on #53005
I made a sample project that was really simple and it worked fine just like you write.

Then I found out that VS Code auto-import in some class has brought in the web-version dart file and not the proxy import file. Also I had used a plugin that had web-only code and apparently need to guard importing that plugin via a proxy import as well.

Thank you.

[2020-09-03 10:54] YowFung commented on #65147
@jstmeh Thank you very much for your proposal!

[2020-09-03 11:02] pedromassangocode commented on #51772
I was able to reproduce this on latest `master` channel. Simply the copy/paste (command + c/command + v) does not work while CapsLock is enabled on Mac.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-03 11:03] chamodSamajith commented on #62674
This worked for me!!thnx

[2020-09-03 11:04] uc-apa opened #65168 "webview_flutter resizes on keyboard open and keyboard dismiss automatically"
I have struggling with flutter webview, we are trying to open labs in webview. In react native webview it was working with no issue. Same thing is not working in webview in flutter app. Keyboard open up, webview is resized, keyboard automatically closes, I am clicking back and again but no success. Please help me regarding this issue.

Version being used: webview_flutter 0.3.22+1
[demo video](http

[2020-09-03 11:14] TahaTesser commented on #64558
I can  finally reproduce the issue after several hours of installing the app based on https://github.com/flutter/flutter/issues/64558#issuecomment-685707049 steps and code sample

Here what I did
Using the code sample and assets

<details>
<summary>main.dart</summary>

[code]

</details>

<details>
<summary>AppDelegate.swift</summary>

[code]

</details>

**image asset**

[img.zip](https://github.

[2020-09-03 11:20] YowFung commented on #65097
I have solved this issue using @duncanista 's way. It turns out I forgot to create the `android/app/src/main/res/xml/network_security_config.xml` file. Thank you all very much

[2020-09-03 11:20] #65097 closed

[2020-09-03 11:20] TahaTesser commented on #65160
Hi @chunlee-thong
This is by design, debug will return more information
Please check out this https://github.com/flutter/flutter/issues/56537#issuecomment-626785648
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-03 11:20] #65160 closed

[2020-09-03 11:20] Mohanedy98 commented on #64860
I was able to solve this problem by removing this package `keyboard_visibility: ^0.5.6 ` which was causing this warning from FlutterEngine
```W/FlutterEngine(10724): Tried to automatically register plugins with FlutterEngine (io.flutter.embedding.engine.FlutterEngine@8ca5659) but could not find and invoke the GeneratedPluginRegistrant.```
Thanks for helping

[2020-09-03 11:20] #64860 closed

[2020-09-03 11:24] pedromassangocode commented on #51244
I was able to reproduce the latest `master` channel. The code bellow should print `onEditingComplete() called` when the first field is focused and TAB is pressed to navigate to the second text field.

<details><summary>sample code</summary>

[code]
</details>

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-03 11:24] darshankawar commented on #63220
@ollydixon I understand. Usually when we add `wait` label and if OP doesn't respond in 21 days, we go ahead and close the issue. As a closing note, we mention:

[code]

[2020-09-03 11:28] ollydixon commented on #63220
@darshankawar but the issue is straightforwards, ```flutter_plugin_android_lifecycle``` is added to ```framework``` each time ```flutter clean``` happens. It doesn't matter what system you are running, iOS, Flutter version ```1.20.X```. You can test this now; it's a major issue for anyone doing flutter processionally with build servers.

[2020-09-03 11:29] darshankawar commented on #65086
@ethpsa09,
Please see https://flutter.dev/community for resources and asking questions like this.
You may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-03 11:29] #65086 closed

[2020-09-03 11:31] pedromassangocode commented on #51171
Hi @SnowLittleStone
Does navigator 2.0  satisfy your use-case?

Since [Navigator 2.0](https://github.com/flutter/flutter/issues/45938#issuecomment-675030323) is out now, can we close this issue?

[2020-09-03 11:35] darshankawar commented on #64728
@sanjay23singh,
you seem to be on stable version of Futter. Try to switch to dev version or master version and see if you get the same issue.

[2020-09-03 11:42] Nandhini-Ravichandran opened #65169 "Last tab in the tab view not works properly when changing the orientation"
The Last tab in the tabcontroller does not work properly when changing the orientation

Replication steps:
1. Run the below code snippet
2. click the 3 tab
3. change the orientation from portrait to landscape
(tab bar view does not show correctly)

Above issue comes only from the last tab in the tabcontroller
Code snippet:

[code]
flutter doctor -v:
PS D:\workingg\flut-2236-SBdev\flutter-samplebro

[2020-09-03 11:45] kfleischmann commented on #63764
Hey. i have the same issue. But i only see that issue on the iphone 11 pro. iphone 8 works, and Android works as well.

[✓] Flutter (Channel master, 1.22.0-10.0.pre.65, on Mac OS X 10.15.6 19G2021, locale en-DE)
    • Flutter version 1.22.0-10.0.pre.65 at /Users/kayfleischmann/development/flutter
    • Framework revision 2032a448ed (5 hours ago), 2020-09-02 23:36:19 -0700
    • Engine revision 165

[2020-09-03 11:47] miszmaniac commented on #60905
I noticed the same issue on my MacOS, and also everything is ok when displaying on internal display.
It looks like emojis occupy far more space than regular letter.

[2020-09-03 11:53] tsinis commented on #56079
Yep I know, but it's not perfect solution, when I have an app with dynamic theming and Material/Cupertino design switch...

[2020-09-03 11:56] TahaTesser commented on #65163
Hi @subzero911
I see there's an open issue addressing the case you described. https://github.com/flutter/flutter/issues/63075
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-03 11:56] #65163 closed

[2020-09-03 11:57] TahaTesser commented on #65166
Hi @sbigtree
Can you please provide your `flutter doctor -v`, your `crash logs`, your `pubspec.yaml`
Thank you

[2020-09-03 12:01] hojamedov commented on #62244
Hi, I am also new to flutter, I have same error on my first flutter projec. Please help me solve the error!

Exception in thread "main" java.io.IOException: Unable to tunnel through proxy. Proxy returns "HTTP/1.1 403 Request blocked by Privoxy"
	at sun.net.www.protocol.http.HttpURLConnection.doTunneling(HttpURLConnection.java:2152)
	at sun.net.www.protocol.https.AbstractDelegateHttpsURLConnection.

[2020-09-03 12:03] subzero911 commented on #63075
I ran into the same issue

[2020-09-03 12:11] TahaTesser commented on #65167
Hi @DanGerHOGGISH
Can you please try a different internet connection?
If the issue persists, please create a new issue in `pub`dedicated GitHub [repository](https://github.com/dart-lang/pub/issues)
Thank you

[2020-09-03 12:11] #65167 closed

[2020-09-03 12:15] TahaTesser commented on #65168
Hi @uc-apa
Can you upgrade to  latest `stable` and try again
`flutter channel stable`
`flutter upgrade --force`
`flutter doctor -v`

If the problem persists, Can you please provide your `flutter doctor -v` **with upgrade** and `flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)
Thank you

[2020-09-03 12:16] gabebear commented on #60657
You may want to look at ios-deploy’s incremental/delta install. You have to assign a temp directory for the extra bookkeeping on the Mac side, but then re-installs only send changed files(same as what Xcode does)

[2020-09-03 12:22] SulaimanDev11 commented on #51721
i also faced the same issue while using geolocator^3.0.1 package to get the current position of mobile, the issue was that, i keep the locationAccuracy.high instead of locationAccuracy.low
by replacing high to low i solved my problem.
Position position = await getCurrentPosition(desiredAccuracy: LocationAccuracy.low);

[2020-09-03 12:24] JSANL commented on #65096
@gspencergoog Thanks for noticing, I updated the ticket.

[2020-09-03 12:25] harshkumarkhatri commented on #48170
The link you mentioned was not the solution to the question asked.

[2020-09-03 12:33] bosskmk opened #65170 "[web] Enter key event is not called in the FocusNode's onKey"
## Steps to Reproduce

<details>
<summary>minimal code sample</summary>

[code]

</details>

1. Execute the attached example, put the focus on the TextField in the Web and press the Enter key.
2. check print

**Expected results:**

submitted
second
first
second
first

**Actual results:**

submitted

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-09-03 12:36] TahaTesser commented on #53154
The issue is reproducible on the latest `master`

![ezgif com-gif-maker](https://user-images.githubusercontent.com/48603081/92115483-1d7f7080-ee10-11ea-8eff-b34e34f01209.gif)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-03 12:45] hello-addweb commented on #65152
Use : google_maps_flutter: ^0.5.28+1

Marker Code :

Set<Marker> markers = Set();
 markers.addAll([
      Marker(
          markerId: MarkerId('value'),
          position: LatLng(12.943450, 77.574100),
          infoWindow: InfoWindow(
          title: "Tital",
            anchor: Offset(1.0, 0.0),
            onTap: (){
              launchURL();
            }
        ),),
    ]);

Then in the b

[2020-09-03 12:45] KohlsAdrian commented on #63220
This is the answer I wanted to make, but didn't know the correct words and matches. This is the most straight forwarded issue that is happening.

[2020-09-03 12:50] TahaTesser commented on #53022
The issue is reproducible

![flutter_01](https://user-images.githubusercontent.com/48603081/92116956-27a26e80-ee12-11ea-8d9f-dd50617f975b.png)

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-03 12:54] Mansoor041 commented on #10159
worked for me thanks

[2020-09-03 12:56] Gene-Dana commented on #48113
Hi there I have very similar issue ! Here is my error
![image](https://user-images.githubusercontent.com/45580241/92117572-5513fb80-edc3-11ea-988e-0dbc52543eb9.png)

[2020-09-03 12:56] XJianfei opened #65171 "[Windows Desktop] Multi-Point Touch Support"
I working on drawing board, need support multi-point on Windows.
But Listener is not work for multi-point on Windows, only one point callback from onPointerXXX, it works on Android.
How to support multi-point on Windows? Anyone can help me? Thanks in advance.

[2020-09-03 12:57] vamsi575kg commented on #41955
@syonip Can you provide the perl command to update the pubspec.yaml version with the external input of version no and build no.
i would be asking for version and build input from user via a shell script and want to update yaml with the captured inputs

[2020-09-03 13:12] TahaTesser commented on #53253
Hi @jonaird
Are you still experiencing this issue?

Using code sample from https://github.com/flutter/flutter/issues/53253#issuecomment-603920677, mouse over or mouse click doesn't reload the contents of the iframe on the latest `master`

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-03 13:12] akkav opened #65173 "[tool_crash] FileSystemException: Cannot create file, path"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: FileSystemException: Cannot create file, path = 'C:\Users\akash\Downloads\[FreeCourseSite.com] Udemy - The Complete Flutter UI Masterclass  iOS & Android in Dart\02 Food Delivery App\012 flutter-food-delivery-ui\flutter_food_delivery_ui\android\app\src\main\java\io\flutter\plugins\GeneratedPluginRegistrant.

[2020-09-03 13:14] TahaTesser commented on #41563
This issue still exists on the latest`master

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

The only way is to use following
[code]

[2020-09-03 13:15] TahaTesser commented on #50018
I see there's an open issue addressing the case you described. https://github.com/flutter/flutter/issues/41563
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-03 13:15] #50018 closed

[2020-09-03 13:20] jonaird commented on #53253
@TahaTesser Seems to be working 👍.

[2020-09-03 13:28] pedromassangocode commented on #51974
Hi @shyndman
Are you still facing this issue? If yes please share your `flutter doctor -v` a minimal reproducible sample code and share the steps to reproduce the issue.
Thank you

[2020-09-03 13:33] officer47p opened #65174 "Bottom of emojis are not displayed in Channel beta 1.21.0-9.2.pre but there is no problem in Channel beta 1.20.2"
Bottom of emojis are not displayed in Channel beta 1.21.0-9.2.pre but there is no problem in Channel beta 1.20.2

**Channel beta, 1.21.0-9.2.pre:**
![Screenshot (80)](https://user-images.githubusercontent.com/40776589/92121102-258ae080-ee0f-11ea-9d76-8c79fa8cd972.png)

**Channel beta, 1.20.2:**
![Screenshot (81)](https://user-images.githubusercontent.com/40776589/92121354-6be03f80-ee0f-11ea-921e-1

[2020-09-03 13:38] JuYeong0413 commented on #64104
@emem365 The source for the codelabs on codelabs.google.developer.com are not accessible to non-Googlers.

[2020-09-03 13:46] TahaTesser commented on #54375
Hi @gmoraja
Do you have more information and code as requested by the above comment?https://github.com/flutter/flutter/issues/54375#issuecomment-645008381
To better address, the issue, please provide the details
Thank you

[2020-09-03 13:46] MalteMagnussen commented on #45009
Currently trying to make a DraggableScrollableSheet so that if someone taps it, it extends fully, with an animation of it opening, as if you had dragged it.
And so that if you tap it, it closes again, with the animation as if you had dragged it closed.

Is there any way to do this?

[2020-09-03 13:51] pedromassangocode commented on #51345
I was able to reproduce this with the latest `master` channel.

<details><summary>complete sample code</summary>

[code]
</details>

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-03 13:53] normancarcamo opened #65175 "Flutter cannot downgrade SDK version from 1.22.x to 1.20.0"
I made the mistake of upgrade the sdk using `flutter upgrade` due to the notifications that appear in terminal after executing commands such as: `flutter pub get`. Now, the issue that I have is that I don't remember the previous version the project was working ok.

When I try to downgrade the version of the SDK it doesn't work:

`flutter downgrade 1.20.0`
[code]

So, if I try to use the deprecated

[2020-09-03 13:55] pedromassangocode commented on #51241
Can't find any reference about the topics mentioned above in the Inside Flutter link, so I assume this still valid.

[2020-09-03 13:57] TahaTesser commented on #65173
Hi @akkav
Looks like you're running an older stable version,  This is probably fixed

Can you upgrade to latest `stable` and try again
`flutter channel stable`
`flutter upgrade --force`
`flutter doctor -v`

[2020-09-03 13:58] normancarcamo commented on #14230
I opened a new issue for my case, if anybody runs into the same, then [follow this thread](https://github.com/flutter/flutter/issues/65175)

[2020-09-03 13:59] subzero911 opened #65176 "shared_preferences package: not suitable for tests"
Please take a look at my test.
[code]

Where SharedPrefs is a simple wrapper for SharedPreferences. `store.login()` uses it internally.
[code]
Expected results - test is passed.
Actual results: `store.login()` throws the following error:
[code]

[2020-09-03 14:00] pedromassangocode commented on #51231
Hi @iLePix
Are you still facing this issue? If yes, then, please share your  `flutter doctor -v`.
Thank you

[2020-09-03 14:01] arsenioo opened #65177 "showLicensePage throws RenderFlex overflow error in landscape when fontSize/Display size is largest"
## Steps to Reproduce

1. Create test app: flutter create test.
2. Change fab onPressed method to be like this:
[code]
3. Start x86 Emulator Pixel 2 1980x1920 xxhdpi
4. Open Settings/Display/Advanced and set Font Size to Larger and Display Size to Largest
5. Rotate emulator in landscape mode
6. Execute **flutter run** to start app
7. Click on fab to show license page

**Expected results:**
License

[2020-09-03 14:02] lucasbiel7 commented on #20796
I'm looking for this feature

[2020-09-03 14:04] pedromassangocode commented on #50771
Still valid today, we have a lot of tests skipped for Browsers in the file mentioned above.

https://github.com/flutter/flutter/blob/master/packages/flutter/test/rendering/paragraph_test.dart

[2020-09-03 14:08] pedromassangocode commented on #50769
I can't find the file mentioned above, does it was moved for another file or renamed?

[2020-09-03 14:09] TahaTesser commented on #65169
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-03 14:10] normancarcamo commented on #65175
This is another issue that I am experimenting with the current version of the master channel:
<img width="791" alt="Screen Shot 2020-09-03 at 08 07 59" src="https://user-images.githubusercontent.com/2402579/92125868-bd131380-edbc-11ea-8136-d7e9df506e26.png">

[2020-09-03 14:13] arsenioo commented on #65177
@TonicArtos

[2020-09-03 14:16] emem365 commented on #64104
@JuYeong0413 Yes, I kinda figured this after trying to search through all the GitHub repos for flutter and not finding anything, haha. Anyways, I guess I'll find something else to try and help with :)

[2020-09-03 14:16] papiro commented on #65158
Experiencing this trying to do a fresh flutter install in a Docker container from the base ubuntu image. Path name has no special chars unlike the OP.

[code]

[2020-09-03 14:18] sidrao2006 commented on #65175
Hello @normancarcamo , if you read the warning carefully, it specifies that using the `version` command leaves the flutter tool in a detached state as in you wont be in any channel and you won't get notifications in the command line if a new version in available

[2020-09-03 14:19] TahaTesser commented on #54511
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-03 14:19] normancarcamo commented on #65175
**Update**:

I did change to the **stable** channel, and it's in the 1.20.x version:

`flutter channel stable`

[code]

Then, if I follow their advices: `flutter upgrade`

[code]

And if I check the versions again:

`flutter --version`:

[code]
`flutter doctor -v`
[code]

Almost everything seems to be working nice, except for this:
<img width="719" alt="Screen Shot 2020-09-03 at 08 18 04" src="htt

[2020-09-03 14:19] sidrao2006 commented on #65175
So you could either refactor your code or leave flutter in a detached state

[2020-09-03 14:21] TahaTesser commented on #65170
I can reproduce the issue

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-03 14:23] normancarcamo commented on #65175
Hi @sidrao2006 , thanks for your reply, I know what the warning says, but I did to see if there's any other workaround or way to fix this.

It's really sad, there are several tickets already done in our tracking system (Pivotal Tracker), and I cannot take the decisions in my team, I'm not the only one working on it, I will try to reinstall everything to see what happens.

thanks.

[2020-09-03 14:27] sidrao2006 commented on #65175
Yep you could uninstall flutter and download it from their website

[2020-09-03 14:27] TahaTesser commented on #65171
Hi @XJianfei
Are you referring to [MultiTapGestureRecognizer](https://api.flutter.dev/flutter/gestures/MultiTapGestureRecognizer-class.html)
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-09-03 14:30] TahaTesser commented on #65174
Hi @officer47p
Can you please provide your `flutter run --verbose` and a complete reproducible minimal code sample (not screenshot)
Thank you

[2020-09-03 14:42] TahaTesser commented on #65175
Hi @normancarcamo
You could downgrade `flutter downgrade` without specifying the version, it would have taken to the previous version before upgrade. https://github.com/flutter/flutter/issues/63635#issuecomment-676654404

Please read this issue https://github.com/flutter/flutter/issues/63635 for more details

Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the

[2020-09-03 14:42] #65175 closed

[2020-09-03 14:50] yagnimurali commented on #23865
Is there any estimation by when we can see a proper solution?

[2020-09-03 14:51] shyndman commented on #51974
I'll take a look and report back @pedromassango. Thanks!

[2020-09-03 14:52] dnfield commented on #65009
I'm still not sure if I'm clear which feature auto-replace is (Android documentation link would probably be helpful), but we should probably open a separate bug to track it if it's a different feature.

[2020-09-03 14:55] sidrao2006 commented on #65009
Sorry, I tried to reproduce it again and found out that Samsung keyboard 's auto replace does work even now

[2020-09-03 15:03] TahaTesser commented on #54359
Closing based https://github.com/flutter/flutter/issues/54359#issuecomment-613594324, confirmed to be working as intended
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-03 15:03] #54359 closed

[2020-09-03 15:08] gapgag55 commented on #54962
That's worked!

[2020-09-03 15:09] jason-simmons opened #65179 "Chromedriver tests failing on LUCI"
The framework web smoke tests are unable to find the Chromedriver binary

Example: https://ci.chromium.org/p/flutter/builders/prod/Linux%20web_smoke_test/121

The Chromedriver installation setup was recently changed in the LUCI recipe:
https://flutter.googlesource.com/recipes/+/a3100c854aaefa0b84ff344b4b859193f0604496

[2020-09-03 15:09] normancarcamo commented on #65175
@TahaTesser thanks for the reply, I did a small refactor on 2 files and now everything is working as I expected.
@sidrao2006 thanks too.
Closed.

[2020-09-03 15:11] TahaTesser commented on #65177
Hi @arsenioo
I can reproduce the issue

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-03 15:12] zanderso commented on #64781
In https://github.com/flutter/flutter/pull/65143, the trace is still dumped at the same time even though the app continues running. How can additional frames be captured after that point?

[2020-09-03 15:19] TahaTesser commented on #56672
I can reprodcue the issue on latest `master`

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-03 15:22] godofredoc commented on #65179
Taking this, yesterday we landed dynamic requirements for builders and that builder is not passing the chrome_and_driver dependency.

[2020-09-03 15:24] AbdulRafaySiddiqui commented on #46676
![Capture](https://user-images.githubusercontent.com/46793902/92134679-41987d00-ee23-11ea-83a2-381633043780.JPG)
I am facing this on the web, and I don't have any on-screen keyboard. Any solution yet?

[2020-09-03 15:24] TahaTesser commented on #56580
Hi @zichangg
I see you're assigned to this issue couple of months ago and have mentioned this issue  for2 days ago
Are you working on fixing this issue? It will get closed soon?
Thank you

[2020-09-03 15:36] nmcain commented on #65120
Use the below image,
![System Preferences](https://user-images.githubusercontent.com/18690588/92136045-67406a80-edc0-11ea-9efe-196cf7b883fa.png)
with this code:
[code]

[2020-09-03 15:36] lukepighetti commented on #60267
We've noticed new sources of jank after Flutter switched to Metal. I agree that these should be high priority tasks.

[2020-09-03 15:36] harshkumarkhatri opened #65181 "Canvas Erase Feature"
I was working with canvas to draw things on the screen. I have scraped through the whole web but was unable to find out erase feature with the help of which we can erase out the things which we have drawn on the canvas.
I have found the options to restore the canvas or clear the canvas but was unable to find something with the help of which I can delete a particular thing inside the canvas.

If th

[2020-09-03 15:45] nmcain commented on #65120
![image](https://user-images.githubusercontent.com/18690588/92137258-cb176300-edc1-11ea-9465-09cf98ccbbc4.png)
Here is the result of the code

[2020-09-03 15:45] Flucadetena commented on #52980
I manage to solve this issue by setting the padding inside `IconButton` to 0.

[2020-09-03 15:48] sciobotaru commented on #25827
Had the exact same issue. I have changed the code as follow, then everything worked fine in release mode:

@override
  Widget build(BuildContext context) {
    InitialData.phoneSize = MediaQuery
        .of(context)
        .size;

    if (InitialData.phoneSize.width == 0 || InitialData.phoneSize.height == 0) {
      return Container(
        child: Center(
          child: Text("Loading..."),

[2020-09-03 15:50] sciobotaru commented on #25827
Thanks, man! Your comment really helped me.

[2020-09-03 15:56] blasten commented on #65026
This issue seems fixed now.

[2020-09-03 15:56] #65026 closed

[2020-09-03 16:01] dnfield commented on #48170
No, I was simply trying to help provide a step in the right direction. The issue was closed because it's more of a request for help or a how-to than a feature request/bug report.

[2020-09-03 16:03] #65179 closed

[2020-09-03 16:07] harshkumarkhatri commented on #48170
Is there some feature similar to what is asked in the question? I am working on an app that needs the erase thing. It would be great if you let me know about the same. @dnfield

[2020-09-03 16:21] justinmc commented on #59775
I couldn't reproduce this, but I'm sure I'm doing something wrong.  I'm not even sure what the best way is to run this on a mobile browser, but I tried on desktop Chrome and the iOS simulator with the following code.  I just zoomed around a bunch.

<details>

<summary>Complete app code</summary>

[code]

</details>

[2020-09-03 16:24] justinmc commented on #36985
@jamesblasco Cool, let me know if you come up with anything!  I think the idea of a selectionControls param plus a TextSelectionControls that's more easier to work with could be nice.  Maybe we could provide the default-looking Android and iOS selection menu buttons and dividers as public widgets.

[2020-09-03 16:26] MautKaFarishta commented on #54662
@kidussc I had this issue on Windows so I installed ubuntu and the issue was still there I didn't changed anything my first demo app from flutter was not even working...It was showing same issue.But later I tried on different machine and the problem wasn't there I don't know what happened but I assumed this was my machine's fault.

[2020-09-03 16:26] #65023 closed

[2020-09-03 16:27] Renesanse opened #65183 "Animated Scale as implicit animation will be great to have!"
I will be happy to have a widget out the box which can animate its scale by calling setState method.

[2020-09-03 16:35] justinmc commented on #42560
The package looks great. We might want to de-duplicate some code around the styling of the menu items here and in CupertinoContextMenu (see the gifs in https://github.com/flutter/flutter/pull/37778).

CC @xster for opinions on bringing this into Flutter

[2020-09-03 16:36] orestesgaolin commented on #12146
It's possible right now with [Navigator.pages](https://api.flutter.dev/flutter/widgets/Navigator/pages.html)

[2020-09-03 16:39] justinmc commented on #22210
(Sorry for the late reply)

CC @darrenaustin who I believe was just working on text selection menu theming.  Did you notice this problem (theme not being applied due to Overlay) and any opinions here?

I think in general we try to avoid accumulating lots of properties and want to keep it clean and composable, but it depends on how much of a breaking change it would be.

[2020-09-03 16:40] jonahwilliams commented on #64781
is the trace coming from the vm service or the engine? if its the former the client could handle this, otherwise we could add some logic to write the trace whenever we exit?

[2020-09-03 17:00] liyuqian commented on #64781
I did similar things locally as #65143, but I have to also modify [L129][1] to allow `waitForAppToFinish` even with `--trace-startup`. Then I used Observatory to check later frames' trace events so not dumping those in files is Ok. @jonahwilliams : can you please confirm if #65143 would still keep the app running (without `--no-resident`) and the the trace events are available through Observatory?

[2020-09-03 17:15] ddevoss commented on #10500
I was able to get around this by using a custom thumb shape that I rotated the canvas on.

For the slider:

[code]
and then my thumb class:

[code]
lotta bad hard code in there I know, but I just thought I'd share anyway.

[2020-09-03 17:16] MichealReed commented on #59775
Everything works great on desktop browsers. The issue is only present on mobile browsers from my testing.

[2020-09-03 17:17] godofredoc opened #65187 "Add support for dynamic dependencies"
To be able to keep the recipes simple and the builders performing we need to install dependencies only when needed.

An example of this is android_sdk and xcode which are very expensive to install but not needed for all the builders.

[2020-09-03 17:24] flar commented on #33939
Last year I wrote up an analysis of the problems to solve to get to the point of tracking damage areas in the Flutter ecosystem and I'm looking at cleaning it up for publication in the next few weeks. To answer some quick questions:

- While we do have a last layer tree, it isn't enough to determine the changes. Many of the components of the layer tree are opaque without a bit more work (i.e. Pict

[2020-09-03 17:25] digiter commented on #61620
In local development environment, the test failed 5 times out of 10.
- 3 times on `[PlatformViewGestureRecognizerTests testAccept]`
- 2 time on `[AppLifecycleTests testFlutterViewControllerDetachingSendsApplicationLifecycle]`

[2020-09-03 17:29] jmagman commented on #50455
@ollydixon It's not that there was some code in Flutter that made this work in 2019 and a regression caused it to stop working, it's that Xcode changed their build system behavior.  Flutter tooling migrated off Xcode's deprecated legacy build system, and building multiple projects at the same time is a limitation of the new Xcode build system.   See more details in https://github.com/flutter/flutt

[2020-09-03 17:37] HansMuller commented on #65183
Presumably [ScaleTransition](https://api.flutter.dev/flutter/widgets/ScaleTransition-class.html) isn't what you want? Can you explain why that is?

[2020-09-03 17:38] liyuqian commented on #64781
I finally captured a trace that includes that 1.7s long frame:
[e2e_timeline.json.zip](https://github.com/flutter/flutter/files/5170111/e2e_timeline.json.zip)

It suggests that our tracing is fine, and this 1.7s slow frame seems to never happen with a normal `flutter run` of gallery (see [start_up_timeline_gallery_run.json.zip](https://github.com/flutter/flutter/files/5170182/start_up_timeline_gal

[2020-09-03 17:38] jmagman commented on #65132
This is https://github.com/flutter/flutter/issues/64502, the App.framework and Flutter.framework needs an arm simulator slice..  @a-siva is the dart team ready to pass their DTK off to someone on the Flutter engine team?
\cc @zanderso

[2020-09-03 17:42] SirLink opened #65189 "Google Maps Web throws type error on adding polyline"
Adding a Polyline to the map throws a type error
`errors.dart:163 Uncaught (in promise) Error: Expected a value of type 'List<LatLng>', but got one of type 'List<dynamic>'`

The problem seems to be in this code on Convert.dart line 321
` points: rawPolyline['points']
              ?.map((rawPoint) => LatLng.fromJson(rawPoint))
              ?.toList(),`

I managed to fix it by adding a type to the

[2020-09-03 17:42] zichangg commented on #56580
It can be closed once the change made to flutter. I didn't check whether the roller has done that or not.

[2020-09-03 17:42] liyuqian commented on #63537
Remove myself from the assignment as I'm not actively working on this. Will wait until `FrameTimingSummarizer` goes into stable version and assign myself again.

[2020-09-03 17:44] liyuqian commented on #63246
Remove myself from the assignment as I'm not actively working on this. Will reassign myself once I get some time to work on it.

[2020-09-03 17:47] liyuqian commented on #63199
Remove myself from the assignment as I'm not actively working on this. Will reassign myself once I get some time to work on it.

[2020-09-03 17:47] sirredbeard commented on #56816
This can be fixed by moving to WSL 2.

[2020-09-03 17:48] liyuqian commented on #61755
Remove myself from the assignment as I'm not actively working on this. Will reassign myself once I get some time to work on it.

[2020-09-03 17:49] liyuqian commented on #57686
Remove myself from the assignment as I'm not actively working on this. Will reassign myself once I get some time to work on it.

[2020-09-03 17:50] HansMuller commented on #65177
CC @gspencergoog

[2020-09-03 17:51] liyuqian commented on #55934
Reassign to @terrylucas and @jacob314 as this needs DevTools fixes.

[2020-09-03 17:51] kiridharan commented on #40740
just can anyone help me how to add different  widget to this type of tabbarview

[2020-09-03 17:52] liyuqian commented on #42023
Remove myself from the assignment as I'm not actively working on this. Will reassign myself once I get some time to work on it.

[2020-09-03 17:52] liyuqian commented on #38329
Remove myself from the assignment as I'm not actively working on this. Will reassign myself once I get some time to work on it.

[2020-09-03 17:53] liyuqian commented on #37817
Remove myself from the assignment as I'm not actively working on this. Will reassign myself once I get some time to work on it.

[2020-09-03 17:56] Blaeriz commented on #16474
I am also still looking for a response and update.

[2020-09-03 17:56] justinmc commented on #64785
Here's a minimal reproduction case below.  I think this is something like the caret trying to draw itself when the PageView has already gotten rid of the offscreen TextField.  Maybe we're not fully disposing everything we need to be?  SliverChildDelegate seems to do this under the hood.

[code]

[2020-09-03 18:07] gspencergoog commented on #65177
@TonicArtos are you able to take a look at this?

[2020-09-03 18:12] keyonghan commented on #56143
@godofredoc @stuartmorgan Try running the recipes, and it works by using one command `led get-builder "luci.flutter.try:Windows Plugins" | led edit-recipe-bundle | led launch`. But it uses default `os=Windows-10`. Shall we update the os to use `Windows-server`?

[2020-09-03 18:20] #64006 closed

[2020-09-03 18:24] denis-evteev opened #65191 "CupertinoTextField ignores `enabled` flag on focus request"
A `CupertinoTextField` with a focus node and an `enabled` flag set to `false` becomes active when focus is requested for the node.

Here’s a snippet to reproduce the issue:
[code]
I expect that a disabled field must stay disabled at all times. The only way to re-enable the field must be by explicitly setting its `enabled` flag to `true`.

This buggy behaviour seems to be specific to the Cupertino

[2020-09-03 18:26] angjieli opened #65192 "FlutterDriver: Support enabling accessibility on Mobile web (iOS-Safari)"
## Use case
After https://github.com/flutter/flutter/pull/65051, developers will be able to enable accessibility on Desktop web. However, the way it enables accessibility may NOT work on Mobile web. In fact, it works on Android-chrome but not iOS-Safari.

## Proposal

Find a way to enable accessibility on iOS-Safari.

[2020-09-03 18:33] angjieli commented on #65192
@nturgut FYI

[2020-09-03 18:34] yjbanov commented on #50721
Could be. We'll need to retriage this one.

[2020-09-03 18:35] yjbanov commented on #50409
This is fixed. `SkAnimatedImage` is a `ManagedSkiaObject` now.

[2020-09-03 18:39] yjbanov commented on #42767
`Picture.toImage` and `Image.toByteData` have been implemented. Only `Scene.toImage` remains. I'm going to drop the priority of this.

[2020-09-03 18:41] yjbanov commented on #50719
This should be fixed by https://github.com/flutter/engine/pull/19341

[2020-09-03 18:41] #50719 closed

[2020-09-03 18:42] MichealReed commented on #50409
@yjbanov I tested after the recent memory management changes and images still leak. I believe SkPath may be causing the issue and saw it was the only outstanding migration on your scoping spreadsheet. I planned on testing/commenting on this issue as soon as those changes are merged in.

[2020-09-03 18:42] yjbanov commented on #50721
Looks like this was fixed by https://github.com/flutter/engine/pull/19546

[2020-09-03 18:42] christopherfujino commented on #65045
In this case, methods were renamed https://github.com/flutter/flutter/commit/4d8934af485

[2020-09-03 18:45] muhleder commented on #50721
I think this is still not working because canvaskit doesn’t actually
dispose of the context. Pretty sure my comment from a while back still
applies
https://github.com/flutter/flutter/issues/52485#issuecomment-600617477

On Thu, 3 Sep 2020 at 19:34, Yegor <notifications@github.com> wrote:

[2020-09-03 18:51] stuartmorgan commented on #56143
I don't know how that field interacts with the actual image that we are using, so I'm not the right person to answer that.

[2020-09-03 18:53] yjbanov commented on #62670
We're currently targeting desktop browsers with CanvasKit. Reasonably recent phones should perform well too. However, it will take us some time to optimize for lower-end phones. One of the issues is that WebAssembly itself is not very mature on ARM.

[2020-09-03 18:54] yjbanov commented on #62652
Related Skia issue: https://bugs.chromium.org/p/skia/issues/detail?id=10594

[2020-09-03 18:58] yjbanov commented on #58355
Deduplicating with https://github.com/flutter/flutter/issues/60120

[2020-09-03 18:58] #58355 closed

[2020-09-03 19:00] edex96 commented on #32777
print works one time and doesnt work another time its the same exact code nothing changed except time 😕

:D frankly last night I have discovered that the current version of master channel for web has isssues with dart

for loops, list operations assignments and await doesnt work as excpected all the time

[2020-09-03 19:02] stuartmorgan commented on #65171
There is currently no multi-touch support for Windows. (cf https://github.com/flutter/flutter/issues/52202 which is the same request but for Linux)

[2020-09-03 19:02] godofredoc commented on #56143
Does it work with those machines? can you please share the link to the builder run?

[2020-09-03 19:03] Hixie commented on #65067
I like it. Suggestion: Should we make the thing that you pass in be a declarative static file rather than code? Obviously you'd need to expose hooks that run code in that, but it would give us a more flexible way to configure things (e.g. we could more efficiently populate places in the output that just need the name of the device).

cc @ardera who may be interested in being the first customer.

[2020-09-03 19:03] stuartmorgan commented on #65148
Your issue has nothing to do with that one.

[2020-09-03 19:04] darrenaustin commented on #22210
I haven't really looked at the toolbar that closely, nor am I that familiar with the overlay, but I can take a look. Perhaps it is an issue with the overlay using a different context?

I recently added a `TextSelectionTheme` that we are in the process of [migrating](https://github.com/flutter/flutter/pull/62014) to. It covers the colors for the cursor, text selection and text selection handles. It

[2020-09-03 19:04] Hixie commented on #65067
We don't necessarily even have to do this, do we? We could provide a hook for "is the device present" or "enumerate the actual device names of this type" the same way we do for Android/iOS.

[2020-09-03 19:05] jonahwilliams commented on #65067
I'm not quite sure whether a config or script makes the most sense, I suspect we'd have to try a few options. With the config you could enumerate the various build options that are supported, as well as run/detect scripts too (more scripts).

[2020-09-03 19:06] jonahwilliams commented on #65067
something I have been worrying about is making sure that we're very aware of any public APIs we create too

[2020-09-03 19:07] jonahwilliams commented on #65067
Also for reference, here is flutter devices --machine output, we'd likely need similar info for a custom device type, which lends more credence to a config file being the right way to start:

[code]

[2020-09-03 19:08] ditman commented on #65157
`jwplayer().getContainer() will reveal a "jw-flag-play-rejected".`

That looks like something that's set when the player tries to auto-play but [it fails](https://github.com/jwplayer/jwplayer/blob/master/src/js/program/media-controller.js#L140) (I'm not 100% certain). I think your second option is working, but there's some issues with the video that you're playing.

Have you to "mute" the video be

[2020-09-03 19:08] stuartmorgan commented on #65148
The Visual Studio tools are complaining that your project path contains invalid characters. Try a path that doesn't contain `'`.

[2020-09-03 19:13] yjbanov commented on #54330
Deduplicating with https://github.com/flutter/flutter/issues/53897

[2020-09-03 19:13] #54330 closed

[2020-09-03 19:15] supershanesta commented on #65040
Hi @darshankawar I can play the videos just fine from clicking on it in storage. Wouldn't that cause issue if that was the case?

[2020-09-03 19:15] yjbanov commented on #54292
This should work already. Feel free to reopen or file a new issue if it doesn't.

[2020-09-03 19:15] #54292 closed

[2020-09-03 19:16] godofredoc commented on #65129
The following builders failed:

* Mac iOS Engine: https://chromium-swarm.appspot.com/task?id=4e69c7636246bf10
* Mac iOS Engine Profile: https://chromium-swarm.appspot.com/task?id=4e69c8b558d93c10
* Mac iOS Engine Release: https://chromium-swarm.appspot.com/task?id=4e69c986360b8b10

To fix them we need to remove the extra installation of mac os in the engine recipes.

[2020-09-03 19:17] yjbanov commented on #54027
Added the framework label because the framework should tell the engine if there's a region on top of the iframe that should capture pointer events before iframe swallows them. I have a proposal here: https://docs.google.com/document/d/1GUAx3aqdtEoaBMTNpsS1-i59QZlwTi6vUCASbaanPCo

[2020-09-03 19:19] yjbanov commented on #53035
There have been improvements in the font manager for CanvasKit recently. This should work now. I'll close but please feel free to reopen if it doesn't.

[2020-09-03 19:19] #53035 closed

[2020-09-03 19:20] yjbanov commented on #52485
This is fixed now.

[2020-09-03 19:20] #52485 closed

[2020-09-03 19:24] yjbanov commented on #51237
Raising priority as we now have plenty of examples showing how bad the situation can get.

[2020-09-03 19:25] yjbanov commented on #55686
Deduplicating with https://github.com/flutter/flutter/issues/46237. There seems to be an issue with rendering text on older Android devices.

[2020-09-03 19:25] #55686 closed

[2020-09-03 19:26] Renesanse commented on #65183
Well, following my issue title I can write again, that will be great to have out the box "implicit" animation implementation of Scaling. That means I don't wanna take care of animation controllers, tweens and other things. For me as a framework user will be more easier to call setState with different values of Scale property. Thanks!

[2020-09-03 19:27] AbdulRafaySiddiqui opened #65195 "Web issue: The following NoSuchMethodError was thrown during a scheduler callback: '<Unexpected Null Value>' method not found Receiver: null Arguments: []"
I am getting this error, when I am running my app on the web,
I think its the same issue mentioned below:
[https://github.com/flutter/flutter/issues/43931
](url)
════════ Exception caught by scheduler library ═════════════════════════════════
The following NoSuchMethodError was thrown during a scheduler callback:
'<Unexpected Null Value>'
method not found
Receiver: null
Arguments: []

When the exc

[2020-09-03 19:34] jmagman commented on #65132
@godofredoc did we ever get that DTK hooked up in the lab somewhere?

[2020-09-03 19:35] godofredoc commented on #65129
* A change in flutter infra to force to use 10.14 machines.
* A change in chrome configs to move 80 mac to try and 32 to prod.
* To make the transition to the new bots we need to land a change to the recipes: https://flutter-review.googlesource.com/c/recipes/+/6300
* Change configs to use 10.15 machines.

This will require a 30 mins downtime.

[2020-09-03 19:40] godofredoc commented on #65132
No, we didn't. Actually it is still on the google packages processing center, they didn't deliver it to the lab.

[2020-09-03 19:42] liyuqian commented on #62527
I just tried locally on my Mac and Linux with the latest engine https://github.com/flutter/engine/commit/f60f5cc2d94b50a88db71d7eabac761dff8fef33

I tried the following on Mac
[code]
and didn't see any failure after thousands of repeated tests.

I tried the following on Linux
[code]
and didn't see any failure after 500 repeated tests (this test runs slower on Linux than Mac).

I then tried
[code]

[2020-09-03 19:52] ditman commented on #61155
@stefandevo are you using webdriver to automate sign-in?

[2020-09-03 19:52] keyonghan commented on #56143
https://luci-milo.appspot.com/raw/build/logs.chromium.org/flutter/led/keyonghan_google.com/9015ff8121c65bd301e9b0e8cf3e20d612dbda485bb991567ec08dc27b727b10/+/annotations

[2020-09-03 19:54] creativecreatorormaybenot commented on #65157
@ditman Thanks for taking a look!

Actually, nothing is displayed with my second option. I executed it on tap on purpose to prevent automute (and used the console to execute it, which will always allow playing sound).

## Workaround

I managed to make it work using the following workaround: create a second HTML document (next to `index.html`) that contains only the `jwplayer` script in its `<head>

[2020-09-03 19:55] stefandevo commented on #61155
Not sure. I do use 1Password but am typing email and password manually (or copy paste). However in the meantime I tried with other google accounts and they do work within the same instance.

[2020-09-03 20:08] digiter commented on #61620
Added this to engine flake triage process for someone on the engine team to debug. Instructions for running the test:
[code]

[2020-09-03 20:12] ditman commented on #61155
@stefandevo You'd be using webdriver if you were writing a test to automate sign-in or similar. I'll let them know about 1Password. Thanks!

[2020-09-03 20:17] ditman commented on #65157
So odd, we used a [similar](https://github.com/flutter/plugins/blob/master/packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart#L80-L88) [technique](https://github.com/flutter/plugins/blob/master/packages/google_maps_flutter/google_maps_flutter_web/lib/src/google_maps_controller.dart#L109-L114) for google maps, but I guess google maps *does* embed more stuff so

[2020-09-03 20:20] jmagman opened #65197 "Cannot flutter attach, failed to complete: _flutter.runInView: (-32000) Could not run configuration in engine"
### Steps to Reproduce

1. `flutter create` a new app
2. Open terminal session A and a second session B.
3. In terminal A, `flutter run`.  Wait until the observatory attaches.  Hot restart works fine.
4. In terminal B, `flutter attach`.  It will never attach, and will be stuck at `Updating files`.
5. Back in terminal A, hot restart again.

**Expected results:**
`Hot restart performed`

**Actual re

[2020-09-03 20:20] jmagman commented on #65197
Report of this error on a test: https://github.com/flutter/flutter/issues/63243

[2020-09-03 20:25] deep01code commented on #51165
please if anyone have a solution share it ... PLEASE

[2020-09-03 20:25] deep01code commented on #51165
this issue not in ios, only some android devices

[2020-09-03 20:33] #61788 closed

[2020-09-03 20:41] erickzanardo commented on #65181
@harshkumarkhatri have you tried https://api.flutter.dev/flutter/dart-ui/Canvas/clipRect.html ?

(Or clipPath if what you want to erase is not a rect?)

[2020-09-03 20:45] justinmc commented on #22210
Thanks for the context on TextSelectionTheme.  No need to dive any deeper unless you're interested, I just wanted to make sure this issue is in sync with your theme work.

Since TextSelectionTheme colors the handles, it seems like it could be affected by any solution to this Overlay problem here.

[2020-09-03 20:46] keyonghan commented on #56143
For [`appInstallation`](https://github.com/flutter/cocoon/blob/master/app_dart/lib/src/datastore/cocoon_config.dart#L256), what is needed from `plugins` side? I guess we need Ray help set up? @godofredoc

[2020-09-03 20:49] keyonghan commented on #56143
Oh, never mind. I just need to add an entry to `githubapp_installations` in config.

[2020-09-03 20:51] feinstein opened #65200 "DevTools identified as Rasomware by Bitdefender"
I selected to open DevTools from IntelliJ IDEA on Windows 10, and I got a warning from Bitdefender that it was behaving as Rasomware, as it was modifying my files, so Bitdefender blocked it and restored my files.

I know this is just a false positive and I am safe, I am opening this issue to communicate this so others know it can happen.

FYI those are the files:

![image](https://user-images.gith

[2020-09-03 20:55] #64628 closed

[2020-09-03 20:59] godofredoc commented on #56143
We need help from Ray to add plugins to the Flutter-dashboard supported repos and also to add fluttergithubbot as a writer to the repo to ensure status and checks can be updated.

[2020-09-03 21:04] keyonghan commented on #56143
Have had Ray helped add `webhook` connecting to cocoon github webhook API from `plugins` repo; add `fluttergithubbot` to `plugins` repo.
And have added an entry `flutter/plugins` to `githubapp_installations` in datastore Cocoon_config table.

Is there anything else we need to do? Have we covered what you said about `help from Ray to add plugins to the Flutter-dashboard supported repos`?

[2020-09-03 21:05] IoanaAlexandru commented on #51936
This works for me on Android but fails with the same error when trying to run a test, and on iOS.

[2020-09-03 21:09] filiph commented on #64204
I've scripted a widget of the week. It will go out in about a month from now. I've also assigned this issue to me and will address the API docs issue. Cheers!

[2020-09-03 21:17] godofredoc commented on #56143
Was that the flutter dashboard app? the webhook needs to be disabled.

[2020-09-03 21:20] keyonghan commented on #56143
So this step go/flutter-infra-new-repo#webhook is no longer needed?

[2020-09-03 21:25] godofredoc commented on #56143
That is correct, we need to remove it from the docs.

[2020-09-03 21:31] keyonghan commented on #56143
Thanks. Just had Ray helped remove webhook, and setup the plugin to flutter-dashboard app.
I think we have everything ready, I will push a new deployment and give it a shot.

[2020-09-03 21:33] acoutts commented on #64544
I'm experiencing this too. Very flaky to get a physical iOS device to run lately.

[2020-09-03 21:34] GaryQian commented on #62876
https://github.com/flutter/engine/pull/20843 Implements embedder->framework sync

[2020-09-03 21:42] ditman commented on #64938
There's two issues at play here. One that Markers cannot be created with a null Icon (I'll fix that in a PR to google_maps_flutter_web), the other one is a synchronization issue.

In your example code there's two "future" things that eventually resolve:

* The BitmapDescriptor.fromAssetImage promise, which then sets  the value of the `_icon` variable.
* `_onMapCreated` callback, which adds a bunch

[2020-09-03 21:44] DeadlyMissile commented on #65034
PR was merged. This can be closed

[2020-09-03 21:44] ditman commented on #64938
(You can replicate the Web behavior on Android by doing this by the way:

[code]

[2020-09-03 21:49] nicolo-fr commented on #63663
I have the same issue! The app crashes when saving an image. I am using
google_maps_flutter: ^0.5.30
image_picker: ^0.6.7+7
Hope too this problem solves soon.

[2020-09-03 21:56] flar commented on #64204
BackdropFilter is designed to blur an entire background behind its child (potentially with clipping to control its area of effect). That is something that apps sometimes need to do.

ImageFiltered is designed to blur a single child. Apps sometimes also need to do that.

BackdropFilter was not designed to blur a single widget. Because we created BackdropFilter first and didn't create ImageFiltered

[2020-09-03 21:57] flar commented on #64204
Thanks for taking this on!

[2020-09-03 22:03] keyonghan commented on #56143
Builder is now successfully running in pre-submit tasks.
One test PR: https://github.com/flutter/plugins/pull/2997

[2020-09-03 22:04] ditman commented on #64938
Here's the PR that solves the synchronization issue: https://github.com/Keetz/FlutterMapTest/pull/1

[2020-09-03 22:05] willlarche commented on #51237
The Material team is re-specing shadows to align them on all platforms. We'll of course reach out to the Skia team to discuss support on Skia-based platforms. Can this wait a few months or do you have an urgent need to align with the existing (M1.5) shadows today?

[2020-09-03 22:07] #64202 closed

[2020-09-03 22:08] godofredoc commented on #56143
This is great news, thanks Keyong!

[2020-09-03 22:10] justinmc commented on #65006
There is another zoom recognition bug, but it doesn't have to do with ListView. Related maybe? https://github.com/flutter/flutter/issues/63999

Also @ksheremet what is your use case for putting a ListView inside of InteractiveViewer?  Do you expect the ListView to still scroll, but InteractiveViewer to allow zooming or something like that?  Running this on a Mac and using a mouse, it seems to both

[2020-09-03 22:10] carlp95 commented on #65166
Hi @TahaTesser
I'm having the same problem.

### Here is my **flutter doctor -v**:
`[√] Flutter (Channel stable, v1.17.5, on Microsoft Windows [Version 10.0.18362.1016], locale en-US)
    • Flutter version 1.17.5 at D:\Programs\flutter
    • Framework revision 8af6b2f038 (9 weeks ago), 2020-06-30 12:53:55 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[√] Android toolchain - deve

[2020-09-03 22:11] alanlanglois commented on #33430
@philgeppetto nice trick, but I find it a bit overkill :)
It has to be easier, I see many cases where animating an icon in terme of position, color, size, rotation or opacity could change the user experience in the end.

[2020-09-03 22:12] dsyrstad opened #65203 "Significant Android rendering performance issue using Path.addPath()"
## Details

There seems to be an issue when drawing to a Canvas with Paths which have sub-paths added by `Path.addPath()`.  The problem manifests in the Raster thread. I originally found the issue using the lottie-flutter package (https://github.com/xvrh/lottie-flutter) with a moderately-sized lottie file. However, I have created a demo app which does not depend on lottie-flutter - you can find it

[2020-09-03 22:12] z85510 commented on #62766
I've same problem after upgrading to 1.22.0-10.0.pre.65
Sometimes it works but I don't know why and most of time it doesn't work

Should I downgrade or a new version will release soon?

[2020-09-03 22:14] yjbanov commented on #65157
Deduplicating with https://github.com/flutter/flutter/issues/50452

[2020-09-03 22:14] #65157 closed

[2020-09-03 22:16] delizondo commented on #63220
@ollydixon no idea how to fix this in a build server, I fix the problem locally in my machine. However, something I did notice when doing a diff comparison in the `project.pbxproj` file is that the same chunk of code that @stx mention in his [response](https://github.com/flutter/flutter/issues/63220#issuecomment-671626129) was removed.

[2020-09-03 22:16] z85510 opened #65204 "Hardware back button not working"
Hey
I just upgrade to 1.22.0-10.0.pre.65 on Channel master and after that, I have a problem with hardware back button in android.
It doesn't work properly and most of time it doesn't work.

[code]

[2020-09-03 22:17] gaaclarke commented on #63468
Generics not working is documented in the README.  It isn't an oversight, just something that hasn't been implemented yet.  I'd like to get it supported at some point.  If you want to take a try at implementing it I can point you where to start.

[2020-09-03 22:17] justinmc commented on #25199
@basnetjiten Could you post a minimal app that reproduces the problem and the output of your `flutter doctor`?  The bug was fixed, but there could always be a regression or an edge case.

[2020-09-03 22:20] srinivas-krishnamurthy opened #65205 "[tool_crash] NoSuchMethodError: Closure call with mismatched arguments: function 'MutablePackageTree.allPackages'Receiver: Closure: (_SyncIterator<Package>) => boolTried calling: MutablePackageTree.allPackages()Found: MutablePackageTree.allPackages(_SyncIterator<Package>) => bool"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
NoSuchMethodError: NoSuchMethodError: Closure call with mismatched arguments: function 'MutablePackageTree.allPackages'
Receiver: Closure: (_SyncIterator<Package>) => bool
Tried calling: MutablePackageTree.allPackages()
Found: MutablePackageTree.allPackages(_SyncIterator<Package>) => bool
[code]
[code]

## Flutter Application M

[2020-09-03 22:22] christopherfujino commented on #53371
So it turns out reading a JSON file from a `lucicfg` file (i.e. `main.star`) is non-trivial, as it provides a `to_json()` built-in function [API ref](https://github.com/luci/luci-go/tree/master/lucicfg/doc#to_json-to_json), but not a `from_json()`.

[2020-09-03 22:29] ditman commented on #65152
@real1900 there's an example of markers with custom assets in the [example app](https://github.com/flutter/plugins/blob/master/packages/google_maps_flutter/google_maps_flutter/example/lib/marker_icons.dart).

Please, let us know if that example helps!

[2020-09-03 22:46] a-siva commented on #65132
[log.txt](https://github.com/flutter/flutter/files/5171740/log.txt)

[2020-09-03 22:47] a-siva commented on #65132
Attached log file

[2020-09-03 22:48] justinmc commented on #64852
@TerrenceAddison Thank you for catching this problem!  At first glance I think it's just an oversight on my part.  I think I never wired up the mouse scrolling handler to call onInteraction.

If that's the case, it should be a totally doable PR.  I think you'll just need to find the right places to call onInteractionStart/Update/End, and then write a test.  There shouldn't be any performance conce

[2020-09-03 22:48] haidar786 opened #65206 "[tool_crash] ProcessException: The command failedStdout"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ProcessException: The command failed
Stdout:

Stderr:
unzip:  cannot find or open /Users/hussnainhaidar/flutter/bin/cache/downloads/storage.googleapis.com/flutter_infra/flutter/fonts/75d35d37aa818c40ffb521a8165dbe7d3c1cb8c4/fonts.zip, /Users/hussnainhaidar/flutter/bin/cache/downloads/storage.googleapis.com/flutter_infra/flutter

[2020-09-03 22:50] jmagman opened #65207 "flutter drive CI tests fail targeting iOS 14, stuck on local network permission popup"
On iOS 14, launching a debug/profile Flutter app will prompt the user to allow local network access when the observatory publishes:

<img src="https://user-images.githubusercontent.com/682784/92180686-7d6c1c00-edfc-11ea-8574-c866085b019b.png" width="500">

### Steps to Reproduce
[code]
[code]
and the test will time out.

If you hit OK in the dialog, the tests run and pass.

[2020-09-03 22:52] a-siva commented on #65131
I am following the instructions documented here [https://flutter.dev/docs/get-started/install/macos#deploy-to-ios-devices](https://flutter.dev/docs/get-started/install/macos#deploy-to-ios-devices) and trying out the flutter gallery app, not creating a new app.

Maybe the documentation needs an update to be more precise about when installation and setup of cocoapods is needed. Somebody who gets thi

[2020-09-03 22:54] christopherfujino commented on #39925
Maybe the easiest fix for this would be to always `flutter install --uninstall_only` before installing the app in the devicelab.

[2020-09-03 22:54] xster commented on #65131
ummm ya, that doc is... simple but not entirely technically correct. Thanks for pointing out.

[2020-09-03 23:01] feinstein opened #65209 "DevTools adding items when expanded"
I am playing with the Memory tab of the DevTools, trying to create some Memory Leaks and I think I found a few bugs.

1. The filter doesn't work, I tried to type my class name, the autofill finds it, I click it, and the table doesn't change, showing just my class.

2. When I expand an item in a memory snapshot the table it creates new entries, for example:

This is when I expand the `_BroadcastSub

[2020-09-03 23:06] shihaohong commented on #54585
This should be fixed with https://github.com/flutter/packages/pull/170, which allows for custom layouts for `PageTransitionSwitcher`'s children.

[2020-09-03 23:06] #54585 closed

[2020-09-03 23:11] creativecreatorormaybenot commented on #65157
@yjbanov Not sure if it is the same - I think this issue is *probably* more related to a feature request of being able to add elements to the actual DOM.

[2020-09-03 23:14] creativecreatorormaybenot commented on #65157
@ditman JW Player creates all of the CSS in the main DOM, so I bet that this is the problem.

According to [an answer to an Angular question](https://stackoverflow.com/a/51829632/6509751), they also access `document.body`, which probably breaks when the `div` is in the shadow DOM, but I am not exactly sure about that.

[2020-09-03 23:26] ditman commented on #65157
I think the solution to this, and others, would be to opt-out of the shadowDOM wrapper for the HTMLElementViews, if we got rid of that, many more scripts would be happier (but who knows what weird interactions they can have with the default Flutter CSS/JS) I'll take a look in the other Issue.

[2020-09-03 23:26] Hixie commented on #64817
In that picture I see two widgets, maybe 20. If that is being rendered using 1000s of widgets then that is an architectural problem which will lead to many issues beyond just addListener being expensive.

[2020-09-03 23:36] Alvaro-99 opened #65210 "Error running pod install; Error launching application on iPhone 11; Error: CocoaPods's specs repository is too out-of-date to satisfy dependencies"
## Steps to Reproduce

Hello, I just started coding and I am very new to this. I am using flutter on Visual Studio Code. Every time I "start debugging" I get the following message: "Error: CocoaPods's specs repository is too out-of-date to satisfy dependencies. To update the CocoaPods specs, run: pod repo update; Error running pod install; Error launching application on iPhone 11. Exited (sigterm)

[2020-09-03 23:44] keyonghan commented on #65116
Related issue: https://github.com/flutter/flutter/issues/39925

[2020-09-03 23:52] a-siva commented on #65133
Yes running from Xcode works, but on my other mac I can run it just using `flutter run`

If you look at the log
_Launching lib/main.dart on iPhone in debug mode...
Automatically signing iOS for device deployment using specified development team in Xcode project: A3HUGF6PH6_
or
_Launching lib/main.dart on iPhone in release mode...
Automatically signing iOS for device deployment using specified deve

[2020-09-04 00:06] creativecreatorormaybenot opened #65212 "Scaffolds are not removed in Release Mode"
I think that I might have spotted a mistake in release mode @Piinks @HansMuller of https://github.com/flutter/flutter/pull/64101:

The [`_unregister` line](https://github.com/Piinks/flutter/blob/72469cd8d0f3552fc3cde54332fdc3d52296dc43/packages/flutter/lib/src/material/scaffold.dart#L239) will not remove the state from the hash set in release mode:

[code]

[2020-09-04 00:06] UliPrantz opened #65213 "Allowing to pass a generic type to the compute function."
I tried to make a generic deserialization function for my data models in flutter which would use compute since I don't want huge json data to block my UI isolate. The problem is casting huge lists of data models also can be time consuming so I thought about a generic approach since I don't want to write an extra method for every data class I have. The problem is I couldn't manage to pass a type to

[2020-09-04 00:08] creativecreatorormaybenot commented on #65212
My proposal to fix this (if this is indeed a bug), is in #65214.

[2020-09-04 00:31] reidlai opened #65215 "Could not find or load main class org.gradle.wrapper.GradleWrapperMain"
I tried to use comand line to build the initial versioon genearted by Flutter in Android.  But immediately got Error "Could not find or load main class org.gradle.wrapper.GradleWrapperMain" but iOS has no error.

Then I run the same command in VSCode Terminal and deploy to Android Emulator.  it works without problem.  I have no clue what is the different.  I believe this should be related to envir

[2020-09-04 00:31] #64458 closed

[2020-09-04 00:45] erickzanardo commented on #65120
I can confirm this and I have a hunch that this is been causing by skia, as this effect is also noticeable on web, but only when using canvas kit, without skia, the image is fine.

Without canvas kit:
<img width="501" alt="no_skia" src="https://user-images.githubusercontent.com/835641/92186942-bc1aca00-ee2e-11ea-88cf-2b159e33ce46.png">

With canvas kit:
<img width="501" alt="skia" src="https://use

[2020-09-04 00:50] sbigtree commented on #65166
Hi@TahaTesser
**Here is my crashy**
git:(master) ✗ flutter doctor -v
[✓] Flutter (Channel stable, 1.20.2, on Mac OS X 10.15.6 19G2021, locale zh-Hans-CN)
    • Flutter version 1.20.2 at /Users/tree/flutter
    • Framework revision bbfbf1770c (3 weeks ago), 2020-08-13 08:33:09 -0700
    • Engine revision 9d5b21729f
    • Dart version 2.9.1
    • Pub download mirror https://pub.flutter-io.cn
    • F

[2020-09-04 00:54] jmagman commented on #65207
I'm really not sure how to fix this in a driver CI setup where there's no person to tap the button on the device.  The app itself doesn't have access to that popup (or that would defeat the purpose of forcing the user to allow the app to do things).  Even the [integration_test](https://github.com/flutter/plugins/tree/master/packages/integration_test) package is an `XCTest`, so it also doesn't have

[2020-09-04 00:56] erickzanardo commented on #65120
I dug a little more and discovered that that happens because the default `filterQuality` of `Image.asset` is `FilterQuality.low` (you can confirm here: https://api.flutter.dev/flutter/widgets/Image/Image.asset.html)

Adding `filterQuality: FilterQuality.high` to the `Image.asset` solved the weird looking.

[2020-09-04 01:09] YowFung commented on #65215
Hi, @reidlai

Can you provide please:

- `flutter doctor -v`
- `echo %path%` or `env`

[2020-09-04 01:12] jmagman opened #65217 "integration_tests fail targeting iOS 14, stuck on local network permission popup"
On iOS 14, an integration_test test will prompt the user to allow local network access when the observatory publishes:

<img src="https://user-images.githubusercontent.com/682784/92187737-726eb700-ee0f-11ea-889b-856559c2ef3c.png" width="500">

The tests hang forever until you hit OK.

### Steps to Reproduce

Fix up the iOS example to actually work....
https://github.com/flutter/plugins/tree/master

[2020-09-04 01:13] teisenbe opened #65218 "Bad interaction between semantics trees and device_pixel_ratio on Fuchsia"
This is a tracking bug for a Fuchsia-internal bug: https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=55485

[2020-09-04 01:15] godofredoc commented on #56143
@stuartmorgan please let us know what else will be needed.

[2020-09-04 01:15] jmagman commented on #65217
See https://github.com/flutter/flutter/issues/65207 and https://github.com/flutter/flutter/issues/60634 for context.

[2020-09-04 01:16] XJianfei commented on #65171
sample code

---------------------------------------------
[code]

flutter doctor -v && flutter run --verbose
------------------------------------------------
$flutter doctor -v
[√] Flutter (Channel master, 1.21.0-9.0.pre, on Microsoft Windows [Version 10.0.18362.900], locale zh-CN)
    • Flutter version 1.21.0-9.0.pre at C:\work\flutter
    • Framework revision 4aed976812 (4 weeks ago), 2020-08-0

[2020-09-04 01:17] jmagman commented on #65207
\cc @dnfield based on CODEOWNERS.
I would work on this myself but I'm about to be on vacation for a week, so I want to leave a breadcrumb in case iOS 14 gets released in the meantime.

[2020-09-04 01:18] jmagman commented on #65217
\cc @dnfield based on CODEOWNERS.
I would work on this myself but I'm about to be on vacation for a week, so I want to leave a breadcrumb in case iOS 14 gets released in the meantime.

[2020-09-04 01:18] jmagman commented on #65207
@dnfield sorry for the errant comment, I meant to make it in https://github.com/flutter/flutter/issues/65217#issuecomment-686843993.

[2020-09-04 01:30] XJianfei commented on #65171
er， is there no way to solve this issue? like use platform code

[2020-09-04 01:45] tomspter opened #65219 "Compatibility of flutter web in lower version browsers"
The flutter web project is now deployed, but it does not support low-version android native browsers. Is there any good solution?For example, it can be automatically converted to ES6

[2020-09-04 01:49] cjamcu commented on #56982
I have this error too. What is the solution ? . @TahaTesser  What version of webview_flutter you use ?

[2020-09-04 01:50] jason-simmons commented on #64935
`super.dispose()` must be called synchronously from the state's `dispose()` method.

`StatefulElement.unmount` is checking whether `super.dispose()` was called immediately after the state's `dispose()` returns.  The async `dispose()` in the example will return a future to its caller and schedule tasks for deferred execution.
When the future is returned `StatefulElement.unmount` then continues and

[2020-09-04 01:53] godofredoc commented on #65129
This is complete and new capacity is ready.

[2020-09-04 01:53] #65129 closed

[2020-09-04 01:58] HidenoriMatsubayashi opened #65220 "[Linux] Arrow keys and shortcut keys not working"
Arrow keys and shortcut keys (Ctrl + C, Ctrl + V etc) not working in the latest version.

## Sample code

[code]

<details>
  <summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 01:59] darkang3lz92 commented on #65144
@LongCatIsLooong To reproduce this, you will need to do it without any OTP sms, for the scenario when waiting for incoming sms. Please refer below.

@pedromassangocode I don't have other device now, but i can show you how it's look like below.

All the buttons are functioning except keyboard, when we navigate push to other page during this "overlay" state, it will continue stay there until we clic

[2020-09-04 02:03] ahzmie commented on #28702
After I clicked on Flutter Attach (by mistake), I cant do hot restart or hot reload anymore!
I click on them, the app restart, but nothing happen.. how can I solve it?

[2020-09-04 02:11] kangwang1988 commented on #60657
@gabebear
In this case, we want to launch a flutter debug app on ios 14 without crash on launching. It would be better that we don't need to have the corresponding app on host side, not to mention a delta install.

[2020-09-04 02:20] absc opened #65221 "I can't create objects"
A problem occurred when I got a file from android,
The code cannot continue execution，when i want create object;
this is my code;

          import 'package:flutter/material.dart';
          import 'package:flutter/services.dart';
          import 'package:jimeihaitao/base/BasePresenter.dart';
          import 'package:jimeihaitao/config/QuanController.dart';
          import 'package:jimeihaitao/

[2020-09-04 02:24] hacker1024 opened #65222 "[macOS] Launch isolate with an entrypoint from another library?"
## Use case

I'm trying to port the [`flutter_isolate`](https://pub.dev/packages/flutter_isolate) plugin to macOS. On iOS, it uses the [`-runWithEntrypoint:libraryURI:`](https://api.flutter.dev/objcdoc/Classes/FlutterEngine.html#/c:objc(cs)FlutterEngine(im)runWithEntrypoint:libraryURI:) function in [`FlutterEngine`](https://api.flutter.dev/objcdoc/Classes/FlutterEngine.html) to launch an isolate w

[2020-09-04 03:01] godofredoc opened #65223 "Start running mac tests on LUCI"
Now that the new capacity is ready we need to start moving the framework tests to LUCI.

[2020-09-04 03:14] TonicArtos commented on #65177
No problems. I'll get it done.

[2020-09-04 03:14] ZhangLiuCheng opened #65526 "Cannot set font size smaller than 12, text will be enlarged and truncated. No issue on 1.20.x stable, only beta"
[code]

[2020-09-04 03:23] PilotLee opened #65224 "ListView is missing frames when using API "animateTo""
## Details

1.  Please tell us exactly how to reproduce the problem you are running into.

     **hi~@liyuqian  I wrote a demo called flutteranimatelist.
    in this demo, i placed a listView and two buttons.
    first, run the demo in profile mode. then press the 'up' or 'down' button.
    you will find the Frame rendering times  shows red.
    FPS is about 45 in this simple demo.
    my device i

[2020-09-04 03:23] wj610671226 opened #65225 "webview_flutter not load this page"
webview_flutter not load this **https://www.xiachufang.com/juno/ec-tab/tabs** page。

When I use webview_flutter to load this page, it cannot be loaded normally and there is no error message in the console.

The info.plist configuration is as follows：

[code]

But I use iOS native WKWebView and it can be loaded normally。

[2020-09-04 03:33] montythemack commented on #18970
Same here. Hope this gets fixed soon!

[2020-09-04 03:35] msyagami commented on #65148
This one worked. Thanks.

Btw one suggestion. in this [doc](https://github.com/flutter/flutter/wiki/Desktop-shells#windows), can you add a prerequisite that it requires Visual Studio instead of "Necessary build tools"? It'll give at least a headstart for other people who'll test their app on Windows.

[2020-09-04 03:47] harshkumarkhatri commented on #65181
Hey, @erickzanardo I don't think this will help me out as we need the path in this whereas I am using canvas. The code is given below.
`
import 'package:flutter/material.dart';
import 'dart:math';

void main() {
  runApp(MaterialApp(home: DrawPage()));
}

class DrawPage extends StatefulWidget {
  @override
  DrawPageState createState() => new DrawPageState();
}

class DrawPageState extends State<D

[2020-09-04 04:27] LongCatIsLooong commented on #35399
I can't find any specific guidelines on material.io that state the ink splash effect should be disabled/enabled based on the platform. IMO the splash is a part of the design language, not a platform mechanism, thus should remain consistent across platforms. `SwitchListTile` is a material widget, and it should show the splash like other `ListTile`s do, even on iOS/macOS.

@nero-angela @miguelpruivo

[2020-09-04 04:59] hs2361 commented on #65121
If you could give me some guidance, I would like to work on this issue.

[2020-09-04 05:11] mannnish commented on #63217
Works now, Thank you for helping.
Closing discussion

[2020-09-04 05:12] mannnish commented on #63217
Did your issue resolve?

[2020-09-04 05:14] darshankawar commented on #65034
Closing this as fixed. Please check in latest master.

[2020-09-04 05:14] #65034 closed

[2020-09-04 05:29] darshankawar commented on #65040
@supershanesta makes sense.
Can you provide a video of the issue when you select web and it doesn't play ? Also can you switch to latest master or stable and see if you get issue there too or not ? Also make sure you are running your code without 3rd party plugins.
Thanks.

[2020-09-04 05:31] darshankawar commented on #65120
@nmcain Can you try above solution and see if it works for you ?
Thanks.

[2020-09-04 05:38] darshankawar commented on #63217
@mannnish were you able to try [this](https://github.com/flutter/flutter/issues/63217#issuecomment-678916808) and see if it resolves your issue ?
Thanks.

[2020-09-04 05:40] ssantanuberaa opened #65227 "Exception in thread “main” java.util.zip.ZipException: error in opening zip file - Getting error while switching from desktop mode to android mode?"
I have created a project called myApp in Flutter in linux desktop mode. When I set up the project I had to go through some initial configuration like -

    flutter channel dev
    flutter upgrade
    flutter config --enable-linux-desktop
I can successfully run the project on Linux environment. Now I want to test the same project on Android platform. I'm using the following command to run the app

[2020-09-04 05:42] DeviArunaMurugan opened #65228 "How to convert the .png format image to .jpeg or .jpg"
I have used the following code example to export custom widget as image. While converting the widget as image, I could export as .png format or raw image format(rawRgba or rawUnmodified). Is there any direct support to convert as .jpeg or .jpeg or is there any other to achieve the same?

[code]

Regards,
Devi

[2020-09-04 05:46] steelx commented on #50451
its not able to connect to anything

[2020-09-04 05:53] LongCatIsLooong commented on #65144
Thank you! Reproduced this on simulator. Didn't realize my test project was using v1 embedding.

[2020-09-04 05:57] real1900 commented on #65152
Sorry for the confusion -

I meant POLYLINES are not showing up not MARKERS.

My apologies

[2020-09-04 06:13] hamdikahloun commented on #65227
Hi @ssantanuberaa

Can you try this please https://github.com/flutter/flutter/issues/51195

[2020-09-04 06:13] darshankawar commented on #65191
Issue replicable on stable (1.20.3)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[65191_cup.mp4.zip](https://github.com/flutter/flutter/files/5173013/65191_cup.mp4.zip)
[65191_mat.mp4.zip](https://github.com/flutter/flutter/files/5173014/65191_mat.mp4.zip)

[2020-09-04 06:20] marcusaureliusbrutus opened #65229 "webview_flutter-0.3.22+1 - unsafe operations."
Hi,

I searched around and was not able to find any info how to address the below caveat.

webview_flutter-0.3.22+1\android\src\main\java\io\flutter\plugins\webviewflutter\FlutterWebView.java uses unchecked or unsafe operations.

I was hoping to use this plugin in my app for the purpose of accessing personal/private sites but the above warning is a major concern.  Is there an alternative to the ab

[2020-09-04 06:20] darshankawar commented on #65195
Hi @AbdulRafaySiddiqui,
You are right. It seems to be a duplicate of [43931](https://github.com/flutter/flutter/issues/43931).
Can you switch to latest master and see if you still see the issue ? If you see the issue there too, will reopen 43931.
Thanks.

[2020-09-04 06:22] letsar commented on #55046
I think we can close this issue since we didn't see any drawbacks with this so far. Thanks again everyone for helping us out!

[2020-09-04 06:24] darshankawar commented on #65204
Hi @z85510,
There's similar [issue](https://github.com/flutter/flutter/issues/64864) that was fixed. Also see [this](https://github.com/flutter/flutter/issues/64864#issuecomment-684989634) comment and I'd suggest you to keep an eye on the framework engine rollout to master to see the fix. Once it lands, you may upgrade master and see if that's resolved.
Closing this as duplicate.

[2020-09-04 06:24] #65204 closed

[2020-09-04 06:28] felixlunzenfichter commented on #48234
Actually I don't really understand what this `GoogleService-Info.plist` is for. Could someone explain that? I had this error but after deleting the file the error was gone but all google cloud services still worked. I had assumed that this file was crucial in order for google cloud services to work.

[2020-09-04 06:28] tonydavidx opened #65230 "Switching to beta channel downloads beta channel every time"
when i switch to beta channel from stable. the beta channel sdk downloads to my computer if i go back to stable channel and switch to beta channel cli downloads the beta channel again. is there any way to avoid downloading the beta channel every time i switch to beta.

[2020-09-04 06:31] darshankawar commented on #65205
Hi @srinivas-krishnamurthy,
There's similar [issue](https://github.com/flutter/flutter/issues/59245) describing your case with possible [solution](https://github.com/flutter/flutter/issues/59245#issuecomment-660031528). Can you try that and see if it works for you ?
Thanks.

[2020-09-04 06:32] #55046 closed

[2020-09-04 06:34] MasterKIM99 opened #65231 "Receiver: null Tried calling: setOverlayVisible(true)"

[2020-09-04 06:37] darshankawar commented on #65206
Hi @haidar786,
There's similar open issue describing your case, [52437](https://github.com/flutter/flutter/issues/52437).
Please follow-up there for updates and any questions.
Closing this as duplicate.

[2020-09-04 06:37] #65206 closed

[2020-09-04 06:40] ZCHUANGJie opened #65232 "webview_flutter插件加载h5页面时，h5页面中的视频播放不了"
I/libOpenSLES(18158): Emulating old channel mask behavior (ignoring positional mask 0x3, using default mask 0x3 based on channel count of 2)
D/AudioTrack(18158): Client defaulted notificationFrames to 1922 for frameCount 3844
I/cr_MediaCodecBridge(18158): create MediaCodec video decoder, mime video/avc
I/OMXClient(18158): Treble IOmx obtained
W/VideoCapabilities(18158): Unrecognized profile 213070

[2020-09-04 06:42] darshankawar commented on #65189
Hi @SirLink,
Please provide `flutter doctor -v`, a minimal complete reproducible code sample along with `pubspec.yaml` that shows the issue.
Thanks.

[2020-09-04 06:43] TahaTesser commented on #65136
Hi @btinaugus
`Channel @U`? Is that actual output from doctor -v output?

You might want to switch to a channel
`flutter channel master`
`flutter upgrade -v`
`flutter doctor -v`

[2020-09-04 06:46] xster commented on #60657
We can close this now right @jmagman?

[2020-09-04 06:48] clarkap opened #65233 "OK/Select on IR Remotes causing Exception"
I am receiving this exception when pressing the OK/DPAD_CENTER button.
This is happening on two separate systems, on running Android 4.4 and the other Android 9.0.

[code]

This happens on stable through to master

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 1.22.0-10.0.pre.82, on Linux, locale en_AU.UTF-8)

[✓] Android toolchain - develop for Android d

[2020-09-04 06:50] TahaTesser commented on #65148
Hi @msyagami
I didn't notice character error but it might be just a warning . Thanks stuartmorgan!
I believe it will be mentioned in flutter.dev docs https://github.com/flutter/flutter/issues/51837 and it is not related to this issue
Glad you resolved the issue, given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-09-04 06:50] #65148 closed

[2020-09-04 06:56] xster commented on #63893
I think the remaining work here is to add some documentation to https://flutter.dev/docs/development/add-to-app/ios/project-setup to describe the manual steps needed.

[2020-09-04 07:01] TahaTesser commented on #65166
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 07:08] pedromassangocode commented on #65232
Hi @ZCHUANGJie
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` a minimal complete reproducible code sample and steps to reproduce this issue?
Thank you

[2020-09-04 07:10] aifrosals commented on #29021
It will help a lot, if flutter app would run on real device using a service like expo.io directly

[2020-09-04 07:12] darshankawar commented on #65225
Hi @wj610671226,
I tried the official `webview_flutter` [example](https://pub.dev/packages/webview_flutter/example) on latest stable (1.20.3) on iPhone 6s and able to see the link load.

![IMG-0205](https://user-images.githubusercontent.com/67046386/92210204-e5c60680-eeab-11ea-92aa-d2f218cb116c.PNG)

Can you try the same and see if it works ?
If issue persists, please provide `flutter doctor -v` a

[2020-09-04 07:13] TahaTesser commented on #65101
hI @orest-kostiuk
I tried, it works with full disk access, this is not related to Flutter. You won't be able to run other scripts, this is related to MacOS and it's permissions

Please checkout this https://discussions.apple.com/thread/251255604
Thnk you

[2020-09-04 07:14] ZCHUANGJie commented on #65232
C:\ewhale\work\gitProject\nengbangjiubang>flutter doctor -v
[√] Flutter (Channel stable, v1.12.13+hotfix.8, on Microsoft Windows [Version 10.0.18362.1016], locale zh-CN)
    • Flutter version 1.12.13+hotfix.8 at C:\ewhale\common\flutter
    • Framework revision 0b8abb4724 (7 months ago), 2020-02-11 11:44:36 -0800
    • Engine revision e1e6ced81d
    • Dart version 2.7.0

[!] Android toolchain - de

[2020-09-04 07:16] ZCHUANGJie commented on #65232
ms] Exit code 0 from: C:\Users\EDZ\AppData\Local\Android\Sdk\build-tools\29.0.1\aapt dump xmltree C:\ewhale\work\gitProject\nengbangjiubang\build\app\outputs\apk\app.apk AndroidManifest.xml
[        ] N: android=http://schemas.android.com/apk/res/android
             E: manifest (line=2)
               A: android:versionCode(0x0101021b)=(type 0x10)0x1
               A: android:versionName(0x010102

[2020-09-04 07:17] ZCHUANGJie commented on #65232
这是代码
Builder(
        builder: (BuildContext context) {
          return WebView(
            initialUrl: "https://ceshi.xzypapp.com/console/#/articleEditor/68",
            javascriptMode: JavascriptMode.unrestricted,
            onWebViewCreated: (
                WebViewController webViewController,
                ) {
              _controller.complete(webViewController);
              _webVie

[2020-09-04 07:18] pedromassangocode commented on #65231
Hi @MasterKIM99 ,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2020-09-04 07:18] #65231 closed

[2020-09-04 07:19] christianheine commented on #43957
Just to chime in: For us, in_app_purchases caused _serious_ issues. It was possible to purchase once, but then things suddenly stopped working. Only after several full days of extremely frustrating search / trial-and-error for the issue (also given the questionable reliability & performance of Apple's AppStore Sandbox, which really compounded the problem) we found finally the cause: subscriptions

[2020-09-04 07:22] darshankawar commented on #65219
Hi @tomspter,
Please see [this](https://flutter.dev/docs/development/platform-integration/web) link for web browsers support by flutter web and how to run web app on other browsers.
Thanks.

[2020-09-04 07:31] pedromassangocode commented on #65230
Hi @tonydavidx
I see there's an open issue addressing the case you described (here https://github.com/flutter/flutter/issues/44212).
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-04 07:31] #65230 closed

[2020-09-04 07:31] #65221 closed

[2020-09-04 07:34] TahaTesser commented on #65181
Hi @harshkumarkhatri
Please look at this possible [solution](https://stackoverflow.com/a/61844527)  and this [solution](https://stackoverflow.com/a/63554285)

[2020-09-04 07:35] pedromassangocode commented on #65228
Hi @DeviArunaMurugan
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the

[2020-09-04 07:35] #65228 closed

[2020-09-04 07:38] Sunbreak commented on #29021
We've got something similar working internally. Hope one day we may open source

[2020-09-04 07:39] TahaTesser commented on #65200
Related https://github.com/flutter/flutter/issues/61997

[2020-09-04 07:40] darshankawar commented on #65229
Hi @marcusaureliusbrutus,
Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue. Also specify on which platform you are seeing this log.
Thanks

[2020-09-04 07:45] pedromassangocode commented on #65232
Hi @ZCHUANGJie
Please provide a code that does not contains any third-party plugin and that I can just copy/paste and reproduce the issue. Please provide the steps to reproduce the issue you are facing.
Thank you

[2020-09-04 07:46] zxl777 opened #65236 "Sometimes iproxy will stay in memory, causing iOS debug to be blocked."
Sometimes iproxy will stay in memory, causing iOS debug to be blocked.

It is recommended to automatically delete the remaining iproxy process in the memory before downloading the debug.
Automatically kill iproxy, so that iOS debug does not need to re-plug the USB data line.
[code]

![image](https://user-images.githubusercontent.com/816448/92212831-241bef80-eec5-11ea-9d39-aec3834afb6b.png)

[2020-09-04 07:46] TahaTesser commented on #65210
Hi @Alvaro-99
Please execute `pod repo update` then execute `pod update` from` ios` folder of your project and then run your app using `flutter run --verbose`

If the problem perists after this,  Can you please provide your `flutter doctor -v` your `flutter run --verbose`, your `pod --version` and a complete reproducible minimal code sample

Thank you

[2020-09-04 07:47] pedromassangocode commented on #65212
Hi @creativecreatorormaybenot
Please share your `flutter doctor -v`.

[2020-09-04 07:50] creativecreatorormaybenot commented on #65212
@pedromassango This is just a code error (afaic) that was introduced in the linked PR #64101 yesterday (merged into master).

[2020-09-04 07:51] TahaTesser commented on #65213
Hi @UliPrantz
This is related to Dart than Flutter itself

Please open the issue in the dedicated [repository](https://github.com/dart-lang/sdk/issues).

Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments, I will reopen it.
Thank you

[2020-09-04 07:54] diezep commented on #63112
I think it's important to increment the priority of this issue, it's not possible work in any project with it.

[2020-09-04 07:54] pedromassangocode commented on #65212
Please share it just for the records.

[2020-09-04 07:54] darshankawar commented on #65215
Hi @reidlai,
Are you getting any other error along with the one you posted ? Can you provide `flutter run --verbose` ?
Can you try [this](https://github.com/flutter/flutter/issues/17280#issue-320202856) possible solution and see if it works for you ?

[2020-09-04 07:56] TahaTesser commented on #65220
Hi @HidenoriMatsubayashi
I see there are open issues addressing the cases you described.

Copy/Paste
 https://github.com/flutter/flutter/issues/23603
Arrows keys
https://github.com/flutter/flutter/issues/58473

Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-04 08:04] darshankawar commented on #65236
Hi @zxl777,
Can you provide `flutter doctor -v`. There was a similar [fix](https://github.com/flutter/flutter/pull/42026) made and merged in master. You may check that for reference and see if it helps.
Thanks.

[2020-09-04 08:05] HidenoriMatsubayashi commented on #65220
@TahaTesser

That is the different issue.
In previous versions, I could use arrow keys to move the cursor. Now, it is not possible.

Shortcut keys (Ctrl + A, Ctrl + C, etc) are similar. It used to work before.

[2020-09-04 08:06] TahaTesser commented on #65227
Hi @ssantanuberaa
Either your Gradle hasn't downloaded properly or is damaged
Please try this  [solution](https://github.com/flutter/flutter/issues/51195#issuecomment-630556586)

This is just a common Gradle issue, not related to Flutter itself

Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-04 08:06] #65227 closed

[2020-09-04 08:12] orestesgaolin commented on #12146
Just to clarify how this can be achieved with `Navigator.pages` [here's the DartPad sample](https://dartpad.dartlang.org/89a4da6822fb642692096a7ff8036a68) with usage of setState. It could be much more convenient with some kind of common class for handling the navigation, but for simplicity let's just pass callback to update list of pages. The key is to notify `Navigator` that the list of pages has

[2020-09-04 08:14] jumper423 opened #65237 "Package in_app_purchase. _$BillingResponseEnumMap Invalid argument(s): `-3` is not one of the supported values: -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8"
According to the documentation https://developer.android.com/reference/com/android/billingclient/api/BillingClient.BillingResponseCode#service_timeout there is a new response code service_timeout = -3. Now this code is not supported, and the error `Invalid argument(s): `-3` is not one of the supported values: -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8`

Trace
[code]

[2020-09-04 08:17] nero-angela commented on #35399
@LongCatIsLooong At first, I thought `SwitchListTile.adaptive` on iOS or macOS should not have `InkWell` because it is a Material component. However, when I read your comment and look at the code again, I found that `InkWell` belongs to the `ListTile` and it does not have different implementation cases depending on the platform like `Switch.adaptive`.
So I think we can fix this issue correctly aft

[2020-09-04 08:19] TahaTesser commented on #53253
Hi @jonaird
Thanks for confirmation
given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-09-04 08:19] #53253 closed

[2020-09-04 08:21] jumper423 commented on #43969
Duplicate of #65237

[2020-09-04 08:21] #65237 closed

[2020-09-04 08:23] maks commented on #65220
@TahaTesser  I'm not certain this is the same issue as #58473. That issue report is about shift+arrow keys not selecting. This one is about the arrow keys by themselves not moving the cursor. If it is just aspects of the same problem then 58473 should have its title updated to reflect that its arrow keys in general not working.

[2020-09-04 08:25] darshankawar commented on #3345
Hi @krisgiesing,
I verified this on latest stable (1.20.3) and the button doesn't jump upon tap.

[3345.mp4.zip](https://github.com/flutter/flutter/files/5173558/3345.mp4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please confirm if this is still valid or can be closed ?
Thanks.

[2020-09-04 08:26] nirjanmunshi commented on #63556
Sharing my database classs

`import 'dart:async';
import 'package:floor/floor.dart';
import 'package:flutter_floor/model/note.dart';
import 'package:flutter_floor/model/note_dao.dart';
import 'package:sqflite/sqflite.dart' as sqflite;
import 'package:path/path.dart';

part 'app_database.g.dart'; // the generated code will be there

@Database(version: 1, entities: [Note])
abstract class AppDatabase

[2020-09-04 08:27] maks commented on #58473
I recently worked on #62207 and this might be a similar problem in the same area of the code, so I can have a look to see if I can spot what's not working.

[2020-09-04 08:27] pedromassangocode commented on #65224
Here is one of the videos shared by the OP (I just converted to GIF to share here)

![gif](https://user-images.githubusercontent.com/67424416/92218217-adfd9580-ee90-11ea-9dae-f871a25eb51e.gif)

[2020-09-04 08:29] darshankawar commented on #5010
Since I don't have ipod touch, so can't replicate it.
@sethladd Can you please confim if this is still a valid issue ?
Thanks.

[2020-09-04 08:31] nirjanmunshi commented on #63556
Sharing my database class
[code]
After modifying dependencies

[code]
I am facing some other issues.

[code]

[2020-09-04 08:34] wangxingxing123654 opened #65238 "futurebuilder how to pass params in initState"
`  @override
  void initState() {
    super.initState();

    new Future.delayed(Duration.zero, () {

      StoreProvider.of<AppState>(context)
          .dispatch(asyncGetProductData(widget.arguments));
    });
     _productAdsFuture= ApiRepository.getProductAd();
    -----------how to  get product parms -----------------
    // _setDefaultPreviewImage(product,defaultSku);

  }`

[2020-09-04 08:38] HidenoriMatsubayashi commented on #58473
Now, the cross keys do not work at all (https://github.com/flutter/flutter/issues/65220). So, I cannot move the cursor.

[2020-09-04 08:38] TahaTesser commented on #64935
Hi @mrducnguyen
Please at look this above https://github.com/flutter/flutter/issues/64935#issuecomment-686852369
Let me know if this answers your question
Thank you

[2020-09-04 08:38] creativecreatorormaybenot commented on #50018
@TahaTesser This is a different issue - this one is about the analyzer when running `flutter analyze`.

[2020-09-04 08:41] ZCHUANGJie commented on #65232
[        ] Synced 0.9MB.
[   +1 ms] Sending to VM service: _flutter.listViews({})
[   +9 ms] Result: {type: FlutterViewList, views: [{type: FlutterView, id: _flutterView/0x7de5251120, isolate: {type: @Isolate, fixedId: true, id: isolates/3673777968790387, name: main.dart$main-3673777968790387, number: 3673777968790387}}]}
[        ] <- accept
[        ] Connected to _flutterView/0x7de5251120.
[

[2020-09-04 08:44] ZCHUANGJie commented on #65232
[        ] [   +9 ms] Done persisting file store
[        ] [   +2 ms] build succeeded.
[        ] [  +23 ms] "flutter assemble" took 5,518ms.
[  +96 ms] > Task :app:packLibsflutterBuildDebug
[   +1 ms] > Task :app:preBuild UP-TO-DATE
[        ] > Task :app:preDebugBuild UP-TO-DATE
[        ] > Task :webview_flutter:preBuild UP-TO-DATE
[        ] > Task :webview_flutter:preDebugBuild UP-TO-DATE
[

[2020-09-04 08:46] tomspter commented on #65219
I have read this, and would like to ask if there is a way to use babel to compile JS when compiling, because the native webview of the old version of Android does not support ES6 or higher syntax, such as await.. etc.

[2020-09-04 08:47] qcks opened #65239 "When the screen size changes, the current page should be refreshed. In my opinion."
When the screen size changes, the current page should be refreshed. For example, the drawing area of the screen changes with split screen mode enabled or with virtual keys enabled.

[2020-09-04 08:47] darshankawar commented on #9645
Hi @sethladd,
Both links mentioned now shows 404. Can you please confirm if this issue has been resolved or is still valid ?
Thanks.

[2020-09-04 08:50] miguelpruivo commented on #35399
@LongCatIsLooong I got your point, and in a way, it makes sense. However, for iOS users, having splash effects strictly looks and feels like a Material component which on its turn usually doesn’t have Cupertino elements.

This is kinda twisted here because we have a material widget with a Cupertino. I’d say that the right solution would be either presenting a Cupertino list tile (without the inkwe

[2020-09-04 08:50] czaku opened #65240 "Flutter app not working on device when debug cable disconnected and debug stopped - can't launch "from the icon", doesn't happen on iOS Simulator."
## Description

Hi all,

I have a very weird problem, I can debug the app both on simulator and on device (iPhone). When I stop debugging I can launch the flutter app "from the icon" on Simulator and use it, but on iPhone it crashes. It works on iPhone only when I am debugging from Android Studio.
I have tried both on my iMac (Catalina) and Macbook (Big Sur latest beta).

I am running Xcode 12 bet

[2020-09-04 08:50] chenjunzhi opened #65241 "UiKitView 性能问题：在Flutter 滑动组件中，使用UiKitView调用原生组件，滑动时卡顿，EPS降到10左右。Flutter为1.20.2版本"

[2020-09-04 09:04] darshankawar commented on #10318
The listview doesn't seem to bounce when it reaches bottom. Verified in latest stable (1.20.3).

[10318.mp4.zip](https://github.com/flutter/flutter/files/5173754/10318.mp4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 09:05] JohnAtWassa commented on #53490
The bug seems to be solved with the latest public beta (7).

[2020-09-04 09:09] pedromassangocode commented on #65233
Hi @clarkap
Can you please provide your `flutter doctor -v`, your `flutter run --verbose`?
Thank you

[2020-09-04 09:23] arunkumard001 opened #65242 "[tool_crash] FileSystemException: Cannot create file, OS Error: The system cannot find the file specified., errno = 2"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot create file, OS Error: The system cannot find the file specified.
, errno = 2
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2020-09-04 09:25] ChorKiuYI commented on #61412
@taoliuer Did you solve this problem,i have the same problem,when soft keyboard show or hide,the page will flash

[2020-09-04 09:28] arunkumard001 opened #65243 "[tool_crash] FileSystemException: Cannot create file, OS Error: The system cannot find the file specified., errno = 2"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot create file, OS Error: The system cannot find the file specified.
, errno = 2
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2020-09-04 09:32] pedromassangocode commented on #65197
I was unable to reproduce this with the latest `master` channel.

1. `flutter create` a new app
2. Open terminal session A and a second session B.
3. In terminal A, `flutter run`.  Wait until the observatory attaches.  Hot restart works fine.
4. In terminal B, `flutter attach`.  It will attach
5. Back in terminal A, hot restart again.

Terminal A error:
[code]

6. Terminal B, hot restart, error:
[

[2020-09-04 09:38] hamdikahloun commented on #65243
Hi @arunkumard001

Can you run please and try again :

- `flutter channel beta`

- `flutter upgrade --force`

- `flutter doctor -v`

[2020-09-04 09:40] hamdikahloun commented on #65238
Hi @wangxingxing123654

This platform is not meant for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this, you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/ .

Thank You

[2020-09-04 09:42] pedromassangocode commented on #65238
Hi @wangxingxing123654
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this, you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/

Closing, as this isn't an issue with Flutter itself. If you disagree, please write in

[2020-09-04 09:42] #65238 closed

[2020-09-04 09:42] darshankawar commented on #10713
Issue replicable on latest stable (1.20.3). Keyboard remains open after hot restart.

![10173](https://user-images.githubusercontent.com/67046386/92225541-f6cd4280-eec0-11ea-9d36-ad6535074019.png)

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 09:48] darshankawar commented on #10949
Issue replicable on latest stable (1.20.3).

[10949.mp4.zip](https://github.com/flutter/flutter/files/5174006/10949.mp4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 09:49] pedromassangocode commented on #65239
To create a widget that's rebuilt when it's size constraints change you can use LayoutBuilder: https://api.flutter.dev/flutter/widgets/LayoutBuilder-class.html

Or you can use MediaQuery (https://api.flutter.dev/flutter/widgets/MediaQuery-class.html) that provide the actual size of the screen containing your Flutter app.

Closing, as this isn't an issue with Flutter itself. If you disagree, please

[2020-09-04 09:49] #65239 closed

[2020-09-04 09:50] ztigunes commented on #53490
this issue still continue in ios 13.5 and 13.4. webview_flutter not updated since May 21.

[2020-09-04 09:51] pedromassangocode commented on #65243
Hi @arunkumard001
I see there's an open issue addressing the case you described (https://github.com/flutter/flutter/issues/65242).
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-04 09:51] #65243 closed

[2020-09-04 09:53] TahaTesser commented on #58473
**Linux**

Arrow keys or shift + arrow keys are not working, they are obviously related since arrow keys are not working, the shift won't do anything

Editing the title of this issue

**macOS**

Testing again, this seems to be working now on the latest `master`

![ezgif com-resize (1)](https://user-images.githubusercontent.com/48603081/92226579-9808c880-eec2-11ea-9a01-d80d5af0316f.gif)

<details>

[2020-09-04 09:55] TahaTesser commented on #65220
Hi @HidenoriMatsubayashi
Please check out my comment https://github.com/flutter/flutter/issues/58473#issuecomment-687047874
Closing as duplicate of https://github.com/flutter/flutter/issues/58473

[2020-09-04 09:55] #65220 closed

[2020-09-04 09:56] darshankawar commented on #11678
Hi @jacob314 Can this issue be closed ?
Thanks.

[2020-09-04 09:57] hariprasadiit commented on #58247
This with deleting `build` folder worked for me. Deleting build folder and then building the apk may work for others.

[2020-09-04 09:58] vitto-moz commented on #15307
we have a long-running app and use sharedPreferences to store encoded tokens. As we have a refresh token mechanism that updates tokens permanently we set a new value to the SP rather ofter. After some time of using this approach, we noticed that sometimes if the app stopped (due to error, for example) after its restart we have an outdated token for the SP - that brakes our tokens consistency logic

[2020-09-04 10:10] arunkumard001 commented on #65243
i try this but no change

[2020-09-04 10:13] passsy opened #65244 "print truncates text after ~1000 characters"
`print` truncates text after ~1000 characters. This makes it impossible to print long server responses.
It's not a Dart SDK problem but related to flutter. Using a pure dart program I can print as much as I want.

## Steps to Reproduce

[code]

**Expected results:**

[code]

**iOS Output:**

[code]

**Android Output:**
[code]

<details>
  <summary>flutter doctor</summary>

[code]

</details>

[2020-09-04 10:16] HXiaoMing opened #65245 "different FlutterActivity use same flutter engine not work"
I add a Flutter Activity with my native android app.
in order to use less memory ，i make different FlutterActivity use same flutter engine .
i open four Activity one by one (ActivityA -> FlutterActivityA -> ActivityB -> FlutterActivityB).
(ActivityA and ActivityB is android native Activity，FlutterActivityA And FlutterActivityB is FlutterActivity.)
now the top Activity is FlutterActivityB，then i fi

[2020-09-04 10:25] UliPrantz commented on #65213
As far as I know the compute function is part of the package:flutter/foundation.dart which is a flutter package. Therefore the implementation is part of the flutter framework and flutter api and not part of the dart sdk.

I would say this makes this problem are flutter related one and not a dart one. I can't use the compute function in a pure dart project because it's part of flutter this should m

[2020-09-04 10:32] TerrenceAddison commented on #64852
@justinmc
So I have 2 solutions I feel to be feasible:
1.  the _ReceivedPointerSignal will run the child GestureDetector's onScaleUpdate property
2. the onScaleUpdate property also accepts scrollevent as an update
I was doing some research and feel the 2nd solution is more of a roundabout way and more complicated , I've tried to go forward for solution 1 but I can't find a way to call the onScaleU

[2020-09-04 10:33] uzumaki258 commented on #54947
I still facing with some phone galaxy S7 and S10

[2020-09-04 10:40] hamdikahloun commented on #65245
Hi @HXiaoMing

Can you please provide your `flutter doctor -v` and a minimal complete reproducible code sample?

did you use this method :

[code]

[2020-09-04 10:47] paras-28 commented on #31608
thanks @cosinus84

[2020-09-04 10:51] hamdikahloun commented on #65242
Hi @arunkumard001
Can you please provide your `flutter run --verbose` ?
Thank you

[2020-09-04 10:55] stuartmorgan commented on #65171
I'm not sure what you're asking exactly. If you're asking if it's possible to add support for this to the Windows embedding layer, then yes. It's just not implemented yet.

[2020-09-04 11:01] arunkumard001 commented on #65242
[ +554 ms] executing: [C:\src\flutter/] git -c log.showSignature=false log -n 1 --pretty=format:%H
[ +216 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[   +2 ms] 81a45ec2e5f80fa71d5135f1702ce540558b416d
[   +3 ms] executing: [C:\src\flutter/] git tag --contains HEAD
[ +601 ms] Exit code 0 from: git tag --contains HEAD
[   +1 ms] 1.21.0-9.2.pre
[  +53 ms] executi

[2020-09-04 11:05] pedromassangocode commented on #65158
Hi @papiro
Please open a new issue for your use-case.

[2020-09-04 11:13] hamdikahloun commented on #65242
@arunkumard001  I think you must change the flutter location folder from C:\src\flutter to %userprofile%\Documents because it requires write permissions and try again.

Don't forget to set the new Flutter folder path in your system environment variables.

[2020-09-04 11:17] AndroidDeveloperLB commented on #15307
There is this article:
https://android-developers.googleblog.com/2020/09/prefer-storing-data-with-jetpack.html?linkId=98693079

In any case, I still think that using any other solution (instead of SharedPreferences) makes things more complex. The issues presented there are most likely extremely rare.
It would be much better if Android OS itself would be fixed.
As an example, I proposed that there

[2020-09-04 11:25] Kavantix commented on #33137
I released a package yesterday that includes a MultiSliver (essentially solving this issue)
https://pub.dev/packages/sliver_tools

It does however not include any Flex like functionality since IMO that needs to be solved differently for slivers.

Any feedback/suggestions would be appreciated

[2020-09-04 11:28] pedromassangocode commented on #65241
Hi @chenjunzhi,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2020-09-04 11:28] #65241 closed

[2020-09-04 11:34] shivam1213 opened #65247 "Your app isnt using androidx in android studio"
I am unable to run my flutter project in android studio
When I am running this it shows you app isn't using androidx and an exception also

[2020-09-04 11:35] TahaTesser commented on #63764
It depends on the size of the child  but the issue is reproducible only on iOS

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 11:41] NitrofCG commented on #51478
i have same problem with flutter 1.17.5.
i will test on 1.2.3

[2020-09-04 11:48] modulovalue commented on #64817
I wasn't too clear by what I meant saying "thousands of widgets". I meant to say potential nodes in the element tree. There are no problems here.

No, this issue is not about addListener, please read the issue statement again.
 - addListener is constant i.e. adding a thousand listeners will take 1000 units of time **that is optimal and good**
 - removeListener is linear i.e. removing a thousand li

[2020-09-04 11:57] AbdulRafaySiddiqui commented on #65195
I switched to master but still the same Exception.

[2020-09-04 11:59] pedromassangocode commented on #65244
I was able to reproduce this on latest `master` channel using `print()`.

You can work around this by `using debugPrint()`:

### iOS
[code]

### Android
[code]
<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-04 12:01] TahaTesser commented on #804
Both dropdown and popup menu issues are not reproducing on the latest master

### Dropdown Issue

**When tapping before the material is created doesn't draw ink splash**
![ezgif com-crop](https://user-images.githubusercontent.com/48603081/92236665-79f79400-eed3-11ea-9b50-69ccd8fdb1bd.gif)

**Ink Splash occurs after the material is created**

![ezgif com-crop (1)](https://user-images.githubusercont

[2020-09-04 12:05] hamdikahloun commented on #65247
Hi @shivam1213
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-09-04 12:07] gallottohugo commented on #22868
I had the following code and had the same problem. As @jonahwilliams said, this code duplicates the keys in MyButton and RaiseButton.

`class MyButton extends StatelessWidget {
  final Key key;
  const MyButton({this.key});

  @override
  Widget build(BuildContext context) {
	return  RaisedButton(
		key: this.key,
	);
  }
}

MyButton(key: new Key('myButton'));`

By default, all widgets have a prop

[2020-09-04 12:07] darshankawar commented on #13965
Hi @IljaDaderko,
Does [this](https://github.com/flutter/flutter/issues/13965#issuecomment-363275403) answer your question ? Can this issue be closed ?
Thanks

[2020-09-04 12:08] daljit97 opened #65248 "Support stylus input on Windows 10 devices"
Flutter is currently unable to properly detect stylus events on Windows 10 (that requires information about pressure sensitivity and tilt). This feature is available on mobile platforms, but not on desktop platforms (the request for Linux can be found  [here](https://github.com/flutter/flutter/issues/63209)). Stylus input is a very common technology used in Windows laptops and 2in1 devices and it'

[2020-09-04 12:08] gallottohugo commented on #22868
I had the following code and had the same problem. As @jonahwilliams said, this code duplicates the keys in MyButton and RaiseButton.

[code]

By default, all widgets have a property of type Key, without declaring it, you can use the key only for the parent widget.

[code]

[2020-09-04 12:10] pedromassangocode commented on #65244
It turns out that this is by design and not an issue with Flutter. Please see https://github.com/flutter/flutter/issues/22665#issuecomment-584914616

Closing as working as intended. If you disagree please write in the comments bellow and I will reopen it.
Thank you

[2020-09-04 12:10] #65244 closed

[2020-09-04 12:13] maks commented on #58473
Well in Linux text input plugin code, the left and right keys are marked with a comment "Already handled inside Flutter" but that's not the case in MacOS text input plugin, there the left and right and their interactions with the selection are all handled, so my first guess is that the comments are out dated and the Linux plugin needs similar code added to handle these.

I'll have a go at implemen

[2020-09-04 12:13] pedromassangocode commented on #65245
Hi @HXiaoMing
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample? You can create a sample project that reproduces the issue and upload it on GitHub and then share the link here.

Thank you

[2020-09-04 12:16] pedromassangocode commented on #65247
Hi @shivam1213
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?

For the AndroidX message, please refer to https://flutter.dev/docs/development/androidx-migration to learn how to migrate your project to use AndroidX.

Thank you

[2020-09-04 12:18] darshankawar commented on #14543
Issue replicable on latest stable (1.20.3)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 12:23] Fjnova opened #65249 "can not run build_runner in flutter v1.20.0"
Hello team,

Thank you for making great Flutter framework.

I am trying app with Gitlab pipeline and have 1 issue with flutter v1.20.0 that I can not run this command
[code]
I got erorr message like:
[code]

I also try some ways like [https://github.com/flutter/flutter/issues/62996](https://github.com/flutter/flutter/issues/62996) and [https://github.com/flutter/flutter/issues/56779](https://githu

[2020-09-04 12:25] pedromassangocode commented on #65232
Hi @ZCHUANGJie
Please provide a code that does not contains any third-party plugin and that I can just copy/paste and reproduce the issue and the steps to reproduce.
Thank you

[2020-09-04 12:31] XJianfei commented on #65171
Got it, thanks.

[2020-09-04 12:33] pedromassangocode commented on #65249
Hi @Fjnova
From what I can see, the issue is related to build_runner package rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/dart-lang/build/issues).
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yaml`
a minimal reprod

[2020-09-04 12:33] #65249 closed

[2020-09-04 12:35] TahaTesser commented on #2351
duplicate of https://github.com/flutter/flutter/issues/3561
Keep the open issue until confirmation

![flutter_01](https://user-images.githubusercontent.com/48603081/92239732-1e300980-eed9-11ea-9826-4148d8cdaced.png)
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 12:41] alekskuzmin commented on #63727
I'm also experiencing this issue.

[2020-09-04 12:46] pedromassangocode commented on #5791
Still valid since the option mentioned above is still disabled in Flutter.

https://github.com/flutter/flutter/blob/9248fda41005ce0af2e522fabd0e9fedf2b3c863/analysis_options.yaml#L119

[2020-09-04 12:49] pedromassangocode commented on #8338
Does this still a valid issue? It is P6 for one year now and without any recent interaction?

[2020-09-04 13:00] darshankawar commented on #15500
Issue replicable on latest stable (1.20.3)

![15500](https://user-images.githubusercontent.com/67046386/92241896-99df8580-eedc-11ea-9507-75e85fb656d8.png)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 13:15] pedromassangocode commented on #11660
Considering a valid issue since the API doc where not updated since then.

[2020-09-04 13:16] darshankawar commented on #65195
Thanks @AbdulRafaySiddiqui. It'll be good if you post your observation in the original ticket along with `flutter doctor -v` and mention that you tried on latest master and still see the issue and request to reopen that issue.
Thanks.

[2020-09-04 13:18] TahaTesser commented on #63418
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:18] #63418 closed

[2020-09-04 13:18] TahaTesser commented on #63310
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:18] #63310 closed

[2020-09-04 13:19] TahaTesser commented on #63482
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:19] #63482 closed

[2020-09-04 13:20] pedromassangocode commented on #11885
Does this still a valid issue? Based on the Dart issue mentioned it may already be solved by now.

[2020-09-04 13:20] TahaTesser commented on #63477
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:20] #63477 closed

[2020-09-04 13:21] TahaTesser commented on #63641
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:21] #63641 closed

[2020-09-04 13:22] TahaTesser commented on #63654
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:22] #63654 closed

[2020-09-04 13:26] TobiasHeidingsfeld commented on #54200
This would be a super great feature to have. Any progress or even ETA?

[2020-09-04 13:27] TahaTesser commented on #63658
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:27] #63658 closed

[2020-09-04 13:28] TahaTesser commented on #63664
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:28] #63664 closed

[2020-09-04 13:28] TahaTesser commented on #63712
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:28] #63712 closed

[2020-09-04 13:29] TahaTesser commented on #63757
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:29] #63757 closed

[2020-09-04 13:31] TahaTesser commented on #63484
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:31] #63484 closed

[2020-09-04 13:34] sidrao2006 commented on #65240
Hi @czaku can you please provide the output of `flutter run -v` and also when you run tye app from the command line, type `d` to detach your app from debug mode.

[2020-09-04 13:35] Fjnova commented on #65249
thanks @pedromassangocode

[2020-09-04 13:35] TahaTesser commented on #61845
Without additional information we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

[2020-09-04 13:35] #61845 closed

[2020-09-04 13:42] mrcnserkan commented on #51718
You can call this function by adding it to the main SearchDelegate class (flutter/packages/flutter/lib/src/material/search.dart) :
`void setCursorPosition(int index) {
    _queryTextController.selection = TextSelection.fromPosition(TextPosition(offset: index));
  }`

[2020-09-04 13:46] mrcnserkan commented on #51718
You can call this function by adding it to the main SearchDelegate class (flutter/packages/flutter/lib/src/material/search.dart) :
`void setCursorPosition(int index) {`
   ` _queryTextController.selection = TextSelection.fromPosition(TextPosition(offset: index));`
 ` }`

[2020-09-04 13:48] AbdulRafaySiddiqui commented on #65195
Thanks for your response @darshankawar. The original issue is locked, I can't post on it.

[2020-09-04 13:51] darshankawar commented on #43931
test

[2020-09-04 13:53] darshankawar commented on #65195
Ok, I am reopening that issue and will refer this issue.
Closing this as duplicate.

[2020-09-04 13:53] CaLouro commented on #62766
@z85510 Hey, check if your Flutter is not on the master branch. I recommend not using it since it's prone to this types of bugs. If you use the stable branch, it shouldn't have this bug.

[2020-09-04 13:54] MrPaz28 opened #65251 "I have assets that are not working, i tried multiple solutions with no effect"
## Steps to Reproduce

i was following net ninjas tutorial for flutter, and on episode 33 when he adds assets i get this error

[   +7 ms] Error: unable to find directory entry in pubspec.yaml: D:\Android Studio shite\Projects\world_time\assetfolder\

[code]

warning - The asset directory assetfolder/ does not exist - pubspec.yaml:52:7 - asset_directory_does_not_exist

2 issues found. (ran in 2.1s

[2020-09-04 13:56] darshankawar commented on #43931
Reopening this issue, as there's [new](https://github.com/flutter/flutter/issues/65195) instance of same error observed by @AbdulRafaySiddiqui on latest master.

[2020-09-04 14:02] pedromassangocode commented on #26072
Still reproducible on latest `master` channel.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-04 14:12] pedromassangocode commented on #50713
Still valid on latest master channel.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-04 14:12] wanjm commented on #37644
no update for a long time any updates?

[2020-09-04 14:17] pedromassangocode commented on #65224
I'm unable to reproduce this due to lack of device, so this will need additional triage.

[2020-09-04 14:19] pedromassangocode commented on #65203
I'm unable to reproduce this due to lack of device, so this will need additional triage.

[2020-09-04 14:21] GroovinChip commented on #49411
Is there any progress on this, @iapicca? I've been experimenting with optimizing Flutter apps for the Surface Duo and I'm currently working on showing Dialogs on only one screen when an app is spanned across both screens. My implementation is to wrap my dialog in a Stack and use a Positioned to move it around, but since MediaQuery does not seem to recognize the seam (hinge, gap, whatever you want

[2020-09-04 14:23] sceee commented on #64999
@pedromassangocode with your provided image, I cannot reproduce the issue.

I can unfortunately not share the original image but I created another test image that can reproduce it:
![black](https://user-images.githubusercontent.com/11340487/92249512-86c3ba00-eeca-11ea-9eac-d1cd95716096.png)

It's pure black, freshly created in paint.net 4.2.13, saved as PNG with auto-detected bit-depth setting. Pl

[2020-09-04 14:23] pedromassangocode commented on #65251
Hi @MrPaz28
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments

[2020-09-04 14:23] #65251 closed

[2020-09-04 14:26] pedromassangocode commented on #64999
Hi @sceee
Are you able to reproduce with the code bellow?

<details>
<summary> sample code</summary>

[code]
</details>

[2020-09-04 14:29] DrNerd97 commented on #22474
@Omzlaw, This doesn't work... I had to download Opera that comes preinstalled with a VPN, and it seemed OK for downloading some packages, but when I try to clone a Flutter codebase, I still get Got socket error trying to find package cupertino_icons at https://pub.dartlang.org

[2020-09-04 14:32] NickM-27 commented on #40974
Instead of reflection I believe this accomplishes the same thing:
[code]

[2020-09-04 14:33] sceee commented on #64999
@pedromassangocode yes, it's also reproducible using the image I provided you with your code.

[2020-09-04 14:46] pedromassangocode commented on #65240
I'm unable to reproduce this issue due to lack of device so this will need additional triage.

[2020-09-04 14:54] Stitch-Taotao commented on #65247
After use  `migrate to AndroidX` failed:

I run  `flutter run --verbose `  and then got this message ( **I was ranning a old other's flutter demo project**)

[code]

[2020-09-04 14:58] TahaTesser commented on #16987
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-04 15:07] cachapa commented on #40974
@NickM-27 the question is, can you draw below the navigation bar?
The problem with the other solutions given here is that the bar may be transparent but the Flutter framework refuses to draw
under it. An easy way to test it is to create a container with a background color different from the one in your app's theme and see if it's drawn all the way to the bottom of the screen.

[2020-09-04 15:09] NickM-27 commented on #40974
Yeah, it worked just fine for me, I have a scrolling list drawing below the bar no problem. I just needed Scaffold(resizeToAvoidBottomInsets = false);

[2020-09-04 15:11] shashwatxx commented on #65247
It Does says that No device attached ,Either connect real device or emulator and verify its Connected using "flutter devices" command

[2020-09-04 15:13] TahaTesser commented on #22350
Hi @donnysim
Are you still experiencing this issue?

If yes, Can you please provide your `flutter doctor -v` with latest `stable` and `flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)
Thank you

[2020-09-04 15:14] KermitTheFrogerino commented on #40974
@NickM-27 Awesome! I'm gonna try it rn 🙂

[2020-09-04 15:22] jlubeck commented on #36816
Desperately need this... even html tables have a way to control the spacing between their cells...

[2020-09-04 15:29] AbdulRafaySiddiqui commented on #65195
The issue seems to be in the [Scrollbar Widget](https://api.flutter.dev/flutter/material/Scrollbar-class.html),
`bool _handleScrollNotification(ScrollNotification notification) {
    final ScrollMetrics metrics = notification.metrics;
    **if (metrics.maxScrollExtent <= metrics.minScrollExtent) //this throws the exception** {
      return false;
    }...`
when its **_handleScrollNotification** is

[2020-09-04 15:34] MisterJimson commented on #49411
I can also investigate if there is anything I can do to help with dialogs in `multi_screen_layout`

[2020-09-04 15:37] TheBiirb commented on #65121
@clocksmith Two quick questions:
1 - Regarding the curve, it is used in _extendedAnimation and _positionAnimation. Which one to change?
2 - Regarding the duration, it uses kThemeAnimationDuration. Change the constant itself to 250?

[2020-09-04 15:50] creativecreatorormaybenot commented on #65212
@pedromassango

Flutter version [`48f1a0a8d5531a08de638f087678770dd26b01ba`](https://github.com/flutter/flutter/commit/48f1a0a8d5531a08de638f087678770dd26b01ba).

[2020-09-04 15:50] iapicca commented on #49411
@GroovinChip
I opened this issue as a "generic" request for support for dual screen,
but I haven't worked on it since then;
the behavior you are [pointing out](https://github.com/flutter/flutter/issues/49411#issuecomment-687176017) seems specific and reproducible
I'd open a specific issue for that, just my 2 cents.

tagging @TahaTesser for visibility

[2020-09-04 15:53] GroovinChip commented on #49411
Fair enough, thank you

[2020-09-04 15:59] KermitTheFrogerino commented on #40974
@NickM-27 compileSdkVersion is set to 29 which is when the "isNavigationBarContrastEnforced" void was introduced but I can't seem to find / use the function. Any ideas why?

[2020-09-04 16:01] NickM-27 commented on #40974
@KermitTheFrogerino it was giving me trouble too, I'm still trying to figure that part out now. But the drawing behind the bar still works there's just the semitransparent overlay.

[2020-09-04 16:03] hs2361 commented on #65121
@TheBiirb I think changing it to const Duration(miliseconds: 250) should suffice instead of changing the kThemeAnimationDuration directly?

[2020-09-04 16:05] KermitTheFrogerino commented on #40974
@NickM-27
`AnnotatedRegion<SystemUiOverlayStyle>(
      sized: widget.sized,
      child: widget.child,
      value: SystemUiOverlayStyle.dark.copyWith(
        statusBarColor: Colors.transparent,
        systemNavigationBarColor: Colors.transparent,
        systemNavigationBarDividerColor: Colors.transparent,
      ),
    ),`
This made the navbar translucent but not fully transparent

[2020-09-04 16:09] TheBiirb commented on #65108
Just import 'calendar_date_range_picker.dart'. Not sure what the issue here is?

[2020-09-04 16:09] SirLink commented on #65189
Hello @darshankawar , sure
You need to run this on the web
[code]

[code]

[2020-09-04 16:23] supershanesta commented on #65040
@darshankawar I went to the stable flutter version. I am using the master plugin branch for testing. Attached is the video
[video_player.zip](https://github.com/flutter/flutter/files/5175922/video_player.zip)

There is no third party plugins using the standard plugin master as far as I know.

Here is the flutter doctor...

$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v)

[2020-09-04 16:26] KermitTheFrogerino commented on #40974
@NickM-27 I fixed the error by removing old API v28 versions and now it detects "isNavigationBarContrastEnforced"

[2020-09-04 16:27] rrao2961 commented on #46094
Same problem as discussed below:
Tried to check in gflutter,gradle file line: 729.
No error there but line:1 says.... Cannot resolve symbol 'android'
This is my Line1: import com.android.builder.model.AndroidProject in flutter.gradle project file as per below script error.

Pls advise

FAILURE: Build failed with an exception.

* Where:
Script 'C:\Users\Priyanka\Downloads\flutter_windows_1.17.5-sta

[2020-09-04 16:31] HamzaAyada opened #65252 "Error With Build APK"
Hi,
I try to build my Flutter application but avery time when i execute the commande ```flutter build apk``` i get this error

[code]

- FLutter Doctor
[code]

[2020-09-04 16:33] NickM-27 commented on #40974
@KermitTheFrogerino Damn, that's frustrating

[2020-09-04 16:36] omar-f opened #65253 "[Semantics] When using a ListView nested inside a horizontal scroll view, I cannot select semantic nodes which are initially beyond the width of the screen"
I have made a table which uses a ListView for my rows, nested inside a horizontal scroll view to allow scrolling between the columns.

My issue is that the cells which are initially beyond the width of the screen, cannot be selected with TalkBack or VoiceOver. i.e. if columns 0 to 3 are initially visible, VoiceOver/TalkBack does not select anything after column 3. The vertical direction is fine -

[2020-09-04 16:37] TheBiirb commented on #64865
@darshankawar This looks like a duplicate of [#65018](https://github.com/flutter/flutter/issues/65018)

[2020-09-04 16:39] lslv1243 commented on #61956
How does the waiting for customer label works? Has my step by step on how to reproduce the problem worked? I would like to know a bit more about this issue. Is there anywhere where I can follow the progress?

[2020-09-04 16:51] shivam1213 commented on #65247
hi  hamdikahloun

![android x](https://user-images.githubusercontent.com/62887491/92264906-9a881400-eefc-11ea-86a0-a80b9f7aaeea.png)

now it shows this
Running Gradle task 'assembleDebug'...
Exception in thread "main" java.net.ConnectException: Connection timed out: connect
	at java.net.DualStackPlainSocketImpl.connect0(Native Method)
	at java.net.DualStackPlainSocketImpl.socketConnect(DualStackPl

[2020-09-04 16:52] shivam1213 commented on #65247
yes

[2020-09-04 16:52] czaku commented on #65240
I have attached the end of flutter run -v - very interesting. it looks like it is stuck on `[  +44 ms] Updating files` and then nothing is happening, so I eventually killed the app and got that `[        ] Syncing files to device czaku iPhone... (completed in 237,042ms, longer than expected)` amongst other errors. please check below. Typing `d` to detach debugger didn't work but wasn;t sure how I

[2020-09-04 16:56] rpk98c commented on #48373
Hi,

Thanks for all for the support. The issue seems mainly resolved but I can still replicate in a specific scenario even with correct cache headers.

Create a PWA and add to home screen on an iOS device, iPad tested. The image flickers are back on hero animations and certain scrolling. If I remove the service worker fetch code then the flicker goes too, but with the default flutter_service_worke

[2020-09-04 16:59] EliasDeuss commented on #64912
Working on that, I haven’t been able to reproduce it myself on the example app, I am trying to figure out what else could cause it.

[2020-09-04 16:59] marcobraghim opened #65254 "Export widget as Video"
## Use case

At this time we know that is possible export a widget as an Image file using RenderRepaintBoundary. Would be great to have some way to export an animation as video.

## Proposal

I'm sugesting that because at this time I have a scenario with: into a Stack there's a video as background, some texts, images, color filters over video and I need to convert all it into a single video, which

[2020-09-04 17:16] hamdikahloun commented on #65247
@shivam1213

Add " %SYSTEMROOT%\System32\WindowsPowerShell\v1.0\ " to your Path variable
you might also need to add " C:\Windows\System32 " if it's not there in the path variable

[2020-09-04 17:21] alenas opened #65255 "[google_maps_flutter_web] map does not update marker positions after change"
Seems like map does not update marker position, after it changed.
Even your sample (https://dit-maps-tests.web.app/) has the same bug.
Steps to reproduce in the sample:
1. Click "Place marker"
2. Click "Add" button
3. Move map so marker would be off center.
3. Click on the new marker to select it.
4. Click "change position".
Nothing happens, as marker position is actually updated, but map does not

[2020-09-04 17:27] TinoGuo commented on #29911
![image](https://user-images.githubusercontent.com/4519784/92269303-7fc29900-ef16-11ea-9f7d-259a13012689.png)
with 2 paint, the inner radius and outer radius are different. can we put it back as when draw stroke and background at same time?

[2020-09-04 17:28] orest-kostiuk commented on #65101
Thanks, it work's)

[2020-09-04 17:28] #65101 closed

[2020-09-04 17:30] Calamity210 commented on #65252
Possible dupe of #58247

[2020-09-04 17:30] didierganthier commented on #60578
And don't use this plugin but I'm facing this same issue so I doubt it's related

[2020-09-04 17:31] esDotDev commented on #46789
I was just digging into the test API, and realized that it has the ability to dive into a widget tree, find a widget of some type, and extract the textual contents of that widget.

It seems to me, if we can do this, then generating a set of crawlable html pages from a set of routes is pretty trivial?
For example, if we had a `Searchable()` widget, and we wrap our content in those, cant a tool just

[2020-09-04 17:34] dcchristopher commented on #46863
It doesn't matter what I do (I even tried @parthi22 's suggestion), the font family simply does not apply to Text widgets throughout the app. I even filled in every text style property possible in the theme (including the Cupertino overrides) and it still didn't make a difference. In fact, I have a feeling my theme doesn't make much of a difference altogether. I suspect BuildContext issues but I d

[2020-09-04 17:47] mordivgor opened #65256 "[web] Border of Container in OverlayEntry not drawn when it has width < 0.8"
## Steps to Reproduce

<details>
<summary>Code</summary>

[code]
</details>

**Expected results:**

Border is drawn in every edge of container when it has width smaller than 0.8..

**Actual results:**
![image](https://user-images.githubusercontent.com/54472480/92270553-8df8c100-eee6-11ea-8a4d-9d18bac74dfa.png)

Border is drawn only on top and left.
Interesting thing is when there is InkWell, then

[2020-09-04 18:06] davidjan3 commented on #40649
Same result trying to use `ColorFiltered `with `ColorFilter.matrix()`.

[2020-09-04 18:15] LipeAG commented on #35034
I had the same problem, I used the commands suggested above anyway, it is not 100% in sansung 9s + MediaQuery.of (context) .viewInsets.bottom show 48 no 0 in some cases, when I open a textfield and close the keyboard .

[2020-09-04 18:23] liyuqian opened #65258 "iPhone 4s didn't properly rewinddir which causes SkSL tests to be flaky"
In the engine, `PersistentCache::LoadSkSLs` uses `fml::VisitFiles` to iterate through all SkSL cache files. Function `fml::VisitFiles` uses `rewinddir` in [file_posix.cc][1] to make sure that all files will be iterated.

However, on iPhone 4s (iOS 9.3.6 in my local test), that `rewinddir` doesn't seem to work properly which causes `LoadSkSLs` to return an empty set during SkSL tests. That causes t

[2020-09-04 18:24] lohitbura opened #65259 "Not Working in release mode"
It's working fine with debug mode but. Not working in release mode . Storage not opened as expected .
targetSdk : 30
Using latest version of flutter and image picker

[2020-09-04 18:40] b055man commented on #35900
It seems to be resolved in 1.20.3! 👍

[2020-09-04 18:49] aMarFlo commented on #63934
i have the same issue, and i tried to add SharedPreferencesPlugin.registerWith(registrarFor("io.flutter.plugins.sharedpreferences.SharedPreferencesPlugin")) but the method registrarFor didn't found it

[2020-09-04 18:49] jlubeck opened #65260 "IntrinsicHeight is creating a RenderFlex overflow with certain Text on iOS"
## Steps to Reproduce

Using this Widget:

[code]

Gives me this result:

![Screen Shot 2020-09-04 at 2 44 38 PM](https://user-images.githubusercontent.com/3067603/92275471-2b3eff80-eebd-11ea-8a6f-8534f992b46e.png)

But just by changing the text from `'Your RNA has tested positive for Covid-19, you likely have an active infection and should quarantine for 14 days.'` to 'Your RNA has tested positiv

[2020-09-04 18:52] muhleder commented on #63740
Seeing the same without CanvasKit, but only in release mode. Haven't tracked down the exact cause, but I can see that it's an issue trying to access the property of a Border object which is null. So a workaround is to ensure a border is present on the Animated Container. In the example gist replacing the  color property with a full decoration with a border stops the jank for me.

[code]

[2020-09-04 18:54] kamleshwebtech commented on #42310
I have compileSdkVersion is 28 in build.grade file and flutter version is 1.17 but still getting below errors at the time of generating release apk file:

     C:\Users\charlie\.gradle\caches\transforms-2\files-2.1\e74a1afd426538a36f0d6b21d498af68\core-1.1.0\res\values\values.xml:142:5-173:25: AAPT: error: resource android:attr/fontVariationSettings not found.

     C:\Users\charlie\.gradle\caches

[2020-09-04 19:04] CaLouro opened #65261 "W/FlutterEngine(30444): Tried to automatically register plugins with FlutterEngine (io.flutter.embedding.engine.FlutterEngine@7a0372e) but could not find and invoke the GeneratedPluginRegistrant."
Hello everyone.

I've been getting this error on flutter console and I don't know what it means or implies, and I'd like some help.

`W/FlutterEngine(30444): Tried to automatically register plugins with FlutterEngine (io.flutter.embedding.engine.FlutterEngine@7a0372e) but could not find and invoke the GeneratedPluginRegistrant.`

This error doesn't show 100% of the time, but it's very frequent. Ad

[2020-09-04 19:12] Marvioso commented on #21874
Took me forever to figure this out. You can use:
FilteringTextInputFormatter.allow(RegExp(r'^-?(?:-?(?:[0-9]+))?(?:\.[0-9]*)?(?:[eE][\+\-]?(?:[0-9]+))?'))

or if you want it to be strict and clear the field if an invalid key is pressed, use:

FilteringTextInputFormatter.allow(RegExp(r'^-?(?:-?(?:[0-9]+))?(?:\.[0-9]*)?(?:[eE][\+\-]?(?:[0-9]+))?$'))

[2020-09-04 19:15] xster commented on #33916
This is now available on master channel if you upgrade the cupertino_icons package to 1.0.0. It will roll to stable at some point in the next month.

The list of available icons is at http://flutter.github.io/cupertino_icons.

[2020-09-04 19:15] #33916 closed

[2020-09-04 19:21] RyanRamchandar commented on #33916
@xster simply adding 1.0.0 to pubspec on stable won't give access to the new icons?

[2020-09-04 19:23] xster commented on #33916
If you update to 1.0.0 on stable, many of the existing icon references will update to the new look, but you won't be able to access any of the new icons (unless you use RichText and reference their glyph codepoints in the icon font specifically which isn't ergonomic).

[2020-09-04 19:25] enricobenedos opened #65262 "Possibility to disable drawer open gesture on certain condition"
## Use case

A production Flutter app can be design to run on smartphones or tablets (or other different devices with different screen size).
In my app every page/widget I create will manage the layout build due to the device screen type.
What does it mean?
I don't have `home_page_mobile.dart`, `home_page_tablet.dart` and `home_page_desktop.dart` but I have only one file named `home_page.dart` and

[2020-09-04 19:28] officer47p commented on #65174
Hi Taha,
Sorry about the late reply, [here](https://github.com/officer47p/project-management) is my repo.
I'm gonna send the `flutter run --verbose` results once I got my computer.
Thanks

[2020-09-04 19:37] officer47p commented on #65259
Maybe it's a problem with storage permission with lower sdks?
[Here's](https://pub.dev/packages/image_picker?target=#api--29) the instruction to add the permission needed.

Hit me up if it worked for you.

[2020-09-04 19:42] lohitbura commented on #65259
@officer47p I already tried that flag and set it to true . But it's not working after converting  to apk using flutter build apk

[2020-09-04 19:43] lohitbura commented on #65259
I believe you are referring this
android:requestLegacyExternalStorage="true

But I already tried it still not working when converting it into apk

[2020-09-04 19:44] lohitbura commented on #65259
Is there any other permission I needed to add in menifest

[2020-09-04 20:03] hamdikahloun commented on #65259
@lohitbura your android version please

[2020-09-04 20:05] lohitbura commented on #65259
@hamdikahloun
It's 8.1 (Oreo)

[2020-09-04 20:05] jordyvandomselaar opened #65263 "Wrong app bar icon when having a drawer and opening a bottom sheet"
When you don't have a drawer and you open a bottom sheet, you get a back button in the appbar as you'd expect;

![right_icon](https://user-images.githubusercontent.com/12712484/92280754-69a6df80-eefa-11ea-97fd-f41a50ff7132.gif)

When you do have a drawer, you get a persistent hamburger icon, trapping you in the bottom sheet:

![Kapture 2020-09-04 at 22 05 01](https://user-images.githubusercontent.

[2020-09-04 20:06] lohitbura commented on #65259
I am targeting targetSdk :29 now but still getting error

[2020-09-04 20:06] hamdikahloun commented on #65252
@HamzaAyada can you check if this file exist after you running the build command 'C:\Users\HAMZA TEK'NOLOGY IT\IdeaProjects\walk_win_tt\build\app\intermediates\flutter\debug\libs.jar'

[2020-09-04 20:11] brightknight08 opened #65264 "Gradle build failed to produce an .aab file when multiple flavorDimensions specified"
I was having trouble building a flutter app with `2 flavor dimensions` and `2 flavors` for each dimension (total of 4 variants,
excluding the debug and release modes).

here's a minimal flutter app repo: https://github.com/brightknight08/flutter_build_appbundle_error to reproduce

when I do `flutter build appbundle --release --flavor signedprod`, it would display
[code]

[2020-09-04 20:16] brightknight08 opened #65265 "Flutter build appbundle with two flavorDimensions fail with Gradle build failed to produce an .aab file"
I was having trouble building a flutter app with `2 flavor dimensions` and `2 flavors` for each dimension (total of 4 variants,
excluding the debug and release modes).

*Please note that I can successfully build the appbundle without this error when there is only
one flavorDimension*

here's a minimal flutter app repo: https://github.com/brightknight08/flutter_build_appbundle_error to reproduce

`

[2020-09-04 20:29] HamzaAyada commented on #65252
@hamdikahloun yes the file existe

[2020-09-04 20:35] hamdikahloun commented on #65252
Can you change your project folder to D: or C:\Users\ and try again , I think it's because the path have `'`  in TEK'NOLOGY .

[2020-09-04 20:38] stuartmorgan commented on #56143
Fantastic! That should be all we need at this point. I'll see if we can get a Windows plugin landed next week so we're fully exercising this new codepath regularly. Thanks for all the work getting this set up.

[2020-09-04 21:18] UliPrantz opened #65266 "[web]: Flutter web is missing the ability to connect to a performance profiler in profile mode."
Normally when a flutter application is run with something like:

`flutter run -d chrome`

A url is printed which can be used to connect to debug service or a performance profiler like the new DevTools this is indeed the case for a flutter web app in debug mode (something like this: `Debug service listening on ws://127.0.0.1:50205/hxcFjpOgB5U=`) but when run the following way:

`flutter run -d chro

[2020-09-04 21:42] KevinTheGray commented on #64954
@TahaTesser  I hit this issue as well after upgrading to beta version 1.21.0-9.2.pre.

The fix for me was to modify the file `ios/Flutter/AppFrameworkInfo.plist` and change `MinimumOSVersion` to `9.0`, which is the minimum version I support.  It was set `8.0`.  After doing this, I cleaned, rebuilt, archived and uploaded and it worked.

Some other information that may be useful
- The project is pre

[2020-09-04 21:51] Hixie opened #65267 ""Please choose one (To quit, press "q/Q")" does not work in Emacs terminal buffer"
[code]

[2020-09-04 21:55] csacchetti commented on #63025
I upgraded to version 1.20.3 but the problem remains.

[2020-09-04 21:58] Hixie commented on #804
The problem now is we broke tapping on menu items that aren't visible entirely. For example, run the gallery in slow motion mode, go to Material > Menus, tap on the bottom menu button, and then tap on where "Four" is going to appear. The menu gets dismissed instead of the menu item being selected. I'll file a new bug.

[2020-09-04 22:01] stuartmorgan commented on #65061
@clarkezone Since we're now manually controlling the resize, we could potentially ignore the 0x0 size notification and leave the previous size buffer in place, right?

At some point we'll need a notion of "not visible" for all the desktop platforms for efficiency, but I think we'd want to do that through a mechanism other than setting a 0x0 drawing context.

[2020-09-04 22:03] Hixie opened #65269 "Users can't tap menu items that haven't appeared yet."
Users should be able to interact with UI elements before they have finished animating, otherwise the animations are an active hindrance to users who are familiar with the application.

For popup menus in particular, this means the user should be able to select a menu item before it's fully rendered. ~~We used to support this, though apparently we didn't test it because we have since regressed it.

[2020-09-04 22:05] Hixie commented on #65269
Hm, actually, maybe this isn't a regression. According to #804 it used to work for dropdown menus but not popup menus.

[2020-09-04 22:07] Hixie commented on #804
Actually, rereading the original description, that never worked on popup menus, that's the problem with the popup menus. That hasn't been fixed. I filed #65269 to track that aspect of it. The problem with dropdown menus still exists. For example, in the gallery, in slow mode, "Material" > "Buttons", tap "Free" then immediately tap and hold on the space above the menu and you'll see the highlight a

[2020-09-04 22:09] stuartmorgan opened #65270 "Support EventChannel on Linux"
Linux lost the EventChannel API in the switch from the the C++ API to the GObject-based API. We should definitely re-implement it; it's used by a non-trivial subset of plugins.

/cc @robert-ancell

[2020-09-04 22:42] IndigoG opened #65272 "Error waiting for a debug connection: The log reader failed unexpectedly"
## Steps to Reproduce

1. Run `flutter run`.
2. When I run my flutter app through VS, the pod installs and the Xcode build completes and then it seems like the app is about to launch on the simulator but then I get the error

**Expected results:**  I expect to see the app launch the same way it launches if I run it through Xcode

**Actual results:** Error waiting for a debug connection: The log re

[2020-09-04 23:44] esDotDev commented on #46789
Quick experiment for fun, given a flutter page like this:
[code]

And a test like this:
[code]

[2020-09-04 23:53] xster commented on #42560
Thanks for the great work @jamesblasco. If you're willing, we'd love to take your PR to bring that package into flutter.

To set expectations on the timing, since it's a somewhat central part of the navigation, we might end up having to work through a number of integration points together. Some the integration edge cases might be known like https://github.com/flutter/flutter/issues/33799 and some

[2020-09-04 23:57] shinriyo commented on #42910
Because image_picker >=0.6.7 depends on image_picker_platform_interface ^1.1.0 which depends on http ^0.12.1, image_picker >=0.6.7 requires http ^0.12.1.

[2020-09-05 00:03] jonahwilliams commented on #65267
I suppose the fact that there is a terminal attached is not sufficient for the single char mode to work? Or perhaps we're not getting the input back we expect - should be easy enough to test.

[2020-09-05 00:48] EphraimIiyungo commented on #19103
Could I do a what? I am not getting you...

[2020-09-05 01:16] zxl777 commented on #65236
[code]

[2020-09-05 01:26] Calamity210 commented on #65272
iirc this was fixed in the beta channel, could you please give it a try there?

[2020-09-05 02:11] Hixie commented on #64817
I understand, what I'm saying is that adding a thousand listeners is fundamentally a misuse of the API. There should never be 1000 distinct things on the screen at the same time that care about a particular data point. It shouldn't matter that removing 1000 listeners is expensive, because one should never need to remove 1000 listeners.

[2020-09-05 02:13] Hixie commented on #65267
yeah, I believe that the terminal in this case is line-oriented.

[2020-09-05 02:15] nguyenvangiangbn commented on #9984
I check in stable channel still have problem

[2020-09-05 02:21] CharlesCCC commented on #35050
@Tamerlanchiques
Are you using customized `ScrollController` ?  if yes, try to replace it with the default `PrimaryScrollController`

like
`_scrollController = PrimaryScrollController.of(context);`

[code]

[2020-09-05 02:28] VictorUvarov commented on #41006
This issue happens for me really often, Its annoying to have to keep running that command and re downloading all the flutter tools. I am switching from real iPhone and iPad devices. @christopherfujino

[2020-09-05 02:31] 445759814 commented on #30566
Has it been resolved?

[2020-09-05 02:32] flar opened #65277 "Flaky problem with zip files in gradle task on Windows"
We keep seeing the following error on Windows bots where it tries to download a gradle zip and gets an error opening it. Here is a recent case from the following run:

https://github.com/flutter/flutter/runs/1074453958

[code]

On successful runs this zip file is not downloaded or unzipped. Is this a configuration error on some of the bots?

Here is the successful run that immediately preceded the

[2020-09-05 02:43] stuartmorgan commented on #56143
This is no longer working, actually; runs are now showing that [VS is not installed](https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8870044690402542352/+/steps/prepare_environment/0/steps/flutter_doctor/0/stdout).

This appears to be due to the switch from Windows 10 to Windows Server, since [it was showing that doctor error in that test run](https://github.com/flutt

[2020-09-05 03:26] Pr47h4m commented on #65272
In Android this may happen because of lesser **Logger Buffer Size**.
If you face the same for android you can set it to max.

[2020-09-05 03:29] Pr47h4m commented on #65263
Can you attach Your code?

[2020-09-05 03:30] Pr47h4m commented on #65263
This app bar icon usually comes when you use named routes
Navigator.pushNamed(context,”/compose”);

[2020-09-05 04:09] shinriyo commented on #36281
[code]

[2020-09-05 04:10] shinriyo commented on #36281
[code]

need?

[2020-09-05 04:40] a1tem commented on #65166
The same issue here,
I have got this : [VERBOSE-2:ui_dart_state.cc(166)] Unhandled Exception: FormatException: Invalid empty scheme (at character 1)
:///api/ac72a8a0458f455381ecfb9adb6fcb29/store/
^

[2020-09-05 04:42] msoham123 commented on #53253
@TahaTesser I seem to be getting a similar issue, except this occurs when build is called. If the page resizes, the iframe reloads. Has this also been fixed yet? Do I have to be on master? I am on beta at the moment.

[2020-09-05 04:46] pddthinh commented on #19830
This approach is correct but still, need to do one more step: set the environment variable **FLUTTER_ROOT** to point to the flutter folder.
The reason is that the "$flutterRoot/packages/flutter_tools/gradle/flutter.gradle" script is looking for the local.properties file at the other place, not suitable for a flutter plugin structure.
Tested with
- flutter 1.20.3
- Android Studio 4.0.1

[2020-09-05 05:16] mehmetf commented on #63984
Similar stack trace in a top 10 internal framework crash:

[code]

[2020-09-05 06:04] luis901101 opened #65278 "App crashes due to simple class extend mistake without any code error without stricter analyzer"
## Steps to Reproduce

From a basic increment number flutter app run the code below.

[code]

**Expected results:**

The app running normally

**Actual results:**

App crashes

In iOS this is the log output:
`io.flutter.1.ui (9): EXC_BAD_ACCESS (code=1, address=0x0)`

In Android this is the log output:
`A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 14803 (1.ui), pi

[2020-09-05 06:36] axilesoft commented on #224
Advance Width for each character still not implemented?

[2020-09-05 07:17] oleh-kolinko commented on #60267
Please investigate to possibly add this to flutter, I am experiencing terrible jank animations on iOS on startup.

[2020-09-05 07:26] AAverin commented on #60709
I don't have exact steps but can confirm that nested Navigator objects don't seem to keep the state of navigation on hot reload.
Only my main navigator that is a part of MaterialApp keeps the state correctly, but all my inner screen navigation logic is discarded on hot reload. While it's not a problem for production, it slows down development a bit when you have to do many changes on internal scre

[2020-09-05 07:30] AAverin commented on #60709
A just 3 minutes after I wrote this I have solved the issue.
I had key defined for my nested navigator, but it was defined within the navigator class, not outside of it.
Once I moved the GlobalKey() creation outside of the class definition everything started working as expected.

[2020-09-05 07:36] hsm59 opened #65279 "Back button isn't displayed on iOS when orientation is set to Landscape Mode"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
Set the device orientation to landscape mode in the initState -
[code]
And then make any stateful widget return this Widget
[code]
3. ...
On iPhone devices the back button is hidden in landscape orientation

**Expected results:** Back button to be visible since that's the default behaviour of the App Bar

**Act

[2020-09-05 07:41] YowFung commented on #46145
Hi @serendipity1004 ! Have you solved the problem yet? I have the same problem now, but I don't know how to solve it.

[2020-09-05 07:50] akshay-nm opened #65281 "ls"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[2020-09-05 07:50] #65281 closed

[2020-09-05 08:32] SRnandanan commented on #46904
how to create the batch file like @deakjahn had mentioned??

[2020-09-05 08:34] brightknight08 commented on #28574
closing this since there were no responses

[2020-09-05 08:45] deakjahn commented on #46904
Well, how do you normally create files? That way. :-)

[2020-09-05 08:52] wannianma commented on #57266
build archive failing on ios: err is 【Use of '@import' when C++ modules are disabled, consider using -fmodules and -fcxx-modules】，How to solve this problem .  thanks

[2020-09-05 08:53] Kaushal0812 commented on #21739
It was appearing for me as well...  I tried following and it worked.

`flutter clean`

`flutter run`

It would take around 400 - 500 ms to run.

Note: ensure to install dependency(`flutter pub get`) before running above command.

[2020-09-05 08:53] Steven-scc opened #65282 "[tool_crash] FileSystemException: Failed to set file modification time, OS Error: Operation not permitted, errno = 1"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Failed to set file modification time, OS Error: Operation not permitted, errno = 1
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creatio

[2020-09-05 09:30] SRnandanan commented on #46904
@deakjahn So what I did is, I opened Notepad, wrote those lines and saved it as a .bat file. And then in environment variables, I created a new variable called CHROME_EXECUTABLE and set its value as the path to my .bat file. And the request method, when I inspect the network tab has changed to POST instead of OPTION. Am I doing this right? Sorry I'm a complete noob :/

[2020-09-05 09:49] deakjahn commented on #46904
Unless you allow Notepad to save it as a .txt file. Use a proper programmer's text editor, preferably, but until then, rename the file after editing, if necessary.

Unfortunately, I have no idea at all what you mean by the request method and options. This should have nothing to do with something like that. Using this batch file simply means that Chrome is started with an extra option in the comman

[2020-09-05 11:03] carloshwa commented on #44840
I have this parameter set to `true` (and have a `ScrollController` set on `Scrollbar` and my `ListView`), but the scrollbar doesn't show until the user interacts with the list first. Once the user interacts with the list, however, the scrollbar shows and stays showing.

[2020-09-05 11:14] franarolas commented on #54290
In the case you are trying to run it in Windows it will obviusly fail, since the path "/Users/Danny/..." can not exist.
What is your folder structure and why would you like to import a package from an absolute path?

[2020-09-05 11:35] congfandi opened #65283 "Error extension on Android Studio and VSCode"
Hai there, i have some bug here,, my extension is showing error on as and vscode,

here my doctor

[code]

and here the error on IDE

**Android Studio**
<img width="695" alt="Screen Shot 2020-09-05 at 18 30 15" src="https://user-images.githubusercontent.com/10652810/92304251-6d903b80-efa6-11ea-9931-d8cb0721bafe.png">

**VS Code**
<img width="478" alt="Screen Shot 2020-09-05 at 18 29 58" src="https

[2020-09-05 11:50] knopp commented on #33939
@flar, this has been bugging me for a while, and I had a bit of time to spend on it, so I pushed a proof of concept implementation in my [fork](https://github.com/knopp/engine/commits/dirty_rects). Right now it's limited to macOS, but it shows great potential with pathological cases such as the Progress Indicator example:

MacBook Pro i7, iGPU
Energy consumption **idle**: PKG **~3.7W**
Progress In

[2020-09-05 12:15] gadishimwe commented on #40563
I'm getting the same issue. Any help will be much appreciated. Here is my flutter doctor -v
[code]

[2020-09-05 12:33] elinonga commented on #58583
The error is caused by a library/package that you recently used... Just downgrade the version of that library/package and you'll be fine

[2020-09-05 12:33] bikashKatwal commented on #9471
W/IInputConnectionWrapper(26584): getSelectedText on inactive InputConnection
W/IInputConnectionWrapper(26584): requestCursorAnchorInfo on inactive InputConnection
W/IInputConnectionWrapper(26584): getTextBeforeCursor on inactive InputConnection
I/flutter (26584):
W/IInputConnectionWrapper(26584): getTextBeforeCursor on inactive InputConnection
I/flutter (26584):

The  issue still persists in [√]

[2020-09-05 12:40] masseelch opened #65284 "CheckboxListTile with tristate=true does not cycle to null"
## Steps to Reproduce
[code]

3. Clicking the label will cycle the state like `false -> true -> false -> ...`. Clicking the box itself will correctly cycle through: `null -> true -> false -> null -> ...`.

<details>
  <summary>Logs</summary>
[code]
» flutter doctor -v
[✓] Flutter (Channel beta, 1.21.0-9.2.pre, on Linux, locale en_US.UTF-8)
    • Flutter version 1.21.0-9.2.pre at /opt/flutter-beta

[2020-09-05 12:42] kharitonovAL commented on #63025
I solved same issue by installing (or running) my app from Xcode. If I'll install from VS Code or Android Studio, it won't work.

[2020-09-05 12:44] crypto-maria commented on #19718
Have you got any solution for this?

[2020-09-05 12:45] masseelch commented on #65284
Nevermind. [Fixed already.](https://github.com/flutter/flutter/pull/63925) already.

[2020-09-05 12:45] #65284 closed

[2020-09-05 12:51] rodrigorafaeldamaceno commented on #63663
Same problem here, the app chashes in getImage after upgraded to flutter 1.20.2

[2020-09-05 12:51] shivam1213 commented on #65247
hi i solve this now the gradledebug is taking a long time to run

[2020-09-05 13:04] ichitaka commented on #65020
I've added everything in my original post. Here the minimal code example again:
https://dartpad.dev/caee8917292fba910e759bb84130e637

Also, just to make things a little clearer the minimal example from the other issue (https://github.com/flutter/flutter/issues/63906), so you can see what I'm trying to accomplish:

https://dartpad.dev/bda4cc5fd2aea292310fe05daa440760

[2020-09-05 13:45] hamdikahloun commented on #65247
flutter run --verbose please .

[2020-09-05 14:21] leesh1202 opened #65286 "Error (9009): Unable to 'pub upgrade' flutter tool. Retrying in five seconds.."
Continuously  getting this error .I have tried stable version as well as cloning.
When running flutter doctor
Error (9009): Unable to 'pub upgrade' flutter tool. Retrying in five seconds..

[2020-09-05 14:24] leesh1202 commented on #65286
flutter batch file isn't opening
flutter upgrade not working
cache deleted & again tried not working

[2020-09-05 14:24] officer47p commented on #63939
The same thing happens on flutter web channel beta 1.20.2.
Pressing Caps lock produces an error.

**Javascript error(development tools, console) :**
`5[Intervention] Slow network is detected. See <URL> for more details. Fallback font will be used while loading: <URL>
js_primitives.dart:30 ══╡ EXCEPTION CAUGHT BY SERVICES LIBRARY ╞══════════════════════════════════════════════════════════
js_primit

[2020-09-05 14:38] lohitbura commented on #65259
I just created a new project and copy paste all the code but It worked. I don't know how . But I am closing this issue for now

[2020-09-05 14:38] #65259 closed

[2020-09-05 16:01] crypto-maria commented on #25436
Thanks, problem solved, it doesn't have to do anything with flutter channel. @moxorama thanks for the debug.

[2020-09-05 16:32] yusufskebbe commented on #20065
after flutter updates this is a common problem, you can solve it but using asyn

[2020-09-05 16:53] hason1 commented on #62401
Same problem here,

can Flutter/Google help us to add a feature to disable keyboardType mode button until they fix the problem?

[2020-09-05 16:54] spitfire55 commented on #56226
Having this issue with my application. I'm using an IndexedStack w/ BottomNavBar. One of the 3 IndexedStack children uses the `extendBodyBehindAppBar` property. When I navigate to that screen, the toggling of the `extendBodyBehindAppBar` causes a rebuild of all three IndexedStack children. This breaks the desired behavior of building the IndexedStack once, and then navigating to each child w/o hav

[2020-09-05 16:57] 928PJY opened #65287 "The border of card doesn't work if it contains `Container` child with color"
## Steps to Reproduce

With the following code, the border of card doesn't work if it contains `Container` child with color property.

[code]

**Expected results:**
card with grey color and RoundedRectangleBorder circular border.

**Actual results:**
![image](https://user-images.githubusercontent.com/17958546/92309870-a991c380-efdb-11ea-85b3-1b67a84f61b6.png)

But when remove the color from Contai

[2020-09-05 17:02] spitfire55 opened #65288 "Toggling extendBodyBehindAppBar property in Scaffold with IndexedStack body causes rebuild of all IndexedStack children"
## Steps to Reproduce

[code]

**Expected results:**
IndexedStack children are built once during `initState` and then navigating between them via BottomNavBar does not cause the IndexedStack children to be rebuilt.
**Actual results:**
The use of `extendBodyBehindAppBar` property causes all 3 IndexedStack children to be rebuilt if the property is toggled. For example, navigating between ScreenOne a

[2020-09-05 17:05] lazylazyllama commented on #63761
I also want to add, that you have to set `selectedFontSize``to 0, because for some reason, that I don't understand, the BottomAppBar widget divides the bottom padding by the selectedFontSize...

[code]

as you can see [here](https://github.com/flutter/flutter/blob/4732a214a7362a3781989977429f14202143b4f5/packages/flutter/lib/src/material/bottom_navigation_bar.dart#L930)

[2020-09-05 17:21] spitfire55 commented on #65288
I assume this bug will also be present if using the `extendBody` property as well.

Relevant code from `lib/src/material/scaffold.dart`:
[code]

[2020-09-05 17:22] boyan01 opened #65289 "cannot publish flutter package with symlink file on Windows"
The problem occurs in this [library](https://github.com/boyan01/system_clock).

Because some code logic can be shared on multiple platforms, symlink is used to link the cpp source files that need to be shared.

But on Windows, when I publish to pub I got this error :
[code]

 Do it is impossible to use `flutter pub publish` to publish this library to pub? Is this a flutter problem or a pub problem

[2020-09-05 17:28] Noyon01631 commented on #65287
Good

[2020-09-05 18:01] mannnish commented on #63217
Nope it' didn't help. But thanks for your help

[2020-09-05 18:02] AAverin commented on #32164
There are many different specific cases like playing the audio, bluetooth handling, location and sensors.
Still, there is a very generic case that is still needs to be handled – a long running background operation with active foreground notification.
I operate in Android terms and not sure if there is an exact equivalent on iOS.

Basic idea is to be able to build some kind of SyncService – a servi

[2020-09-05 18:04] Noyon01631 commented on #65287
Good

[2020-09-05 18:06] Noyon01631 commented on #32164
Good

[2020-09-05 18:19] flar commented on #33939
@knopp that sounds great so far. You might want to create a WIP PR with the changes so we can start a discussion about the implementation and what more might be needed. I'd love to see that design document as well.

How are you tracking changes (insertions, deletions, reorderings) to the children of a ContainerLayer?

[2020-09-05 18:49] Noyon01631 commented on #33939
Good

[2020-09-05 19:41] racknoris commented on #63025
Does it affect on the application in production? Anyone had issues other than the error message?

[2020-09-05 20:03] knopp commented on #33939
@flar, the tracking is quite straightforward.  It does some additional work during preroll in exchange for not having to diff a tree, just a set:

- During preroll, every layer that draw any contents will report to [DamageRectContext](https://github.com/knopp/engine/commit/ae3243c57d37593c8332bfa3ce1f7fc9ef6ad62c#diff-d1d66f8e6952a7094fa4619bcd12c192R17), which will build a set of LayerEntries for

[2020-09-05 20:16] Leffe108 commented on #61614
I find that this issue occur both on Windows in both Firefox and Chrome. It is just more that is clipped off in Firefox.

I've updated the bug_report zip a bit with a default text of "yjgq" and I added a Text() because I have found that the clipping does not just occur in text fields but also in Text().
[bug_report2.zip](https://github.com/flutter/flutter/files/5178558/bug_report2.zip)

# Firefox

[2020-09-05 20:54] AtomicNicos opened #65290 "Get current application memory usage / cpu usage"
## Use case

Multiple :
- Delaying asynchronous memory intensive tasks
- Display the data in a scientific app
- Generally avoid OOM errors

## Proposal

Enable users to call some class, possibly `Runtime` (like in Android Java) or `ActivityManager.MemoryInfo` (in Android Kotlin) and retrieve the current memory usage of the application,  and the current CPU usage of the application.

## Disclaimer

[2020-09-05 20:59] UnicornsOnLSD commented on #61614
If anyone needs a quick workaround for this, enabling the Skia renderer by building with `--dart-define=FLUTTER_WEB_USE_SKIA=true` fixes this issue. The downside is that you're now using an experimental renderer and less stuff is handled natively by the browser (for me, the way text was noticeably different with Skia).

[2020-09-05 21:05] AqeelTariq97 commented on #48064
**flutter doctor shows no issue but the error still not gone**
### error
Error: ADB exited with exit code 1
Performing Streamed Install

adb: failed to install C:\Users\ML\AndroidStudioProjects\i_am_rich\build\app\outputs\flutter-apk\app.apk: Failure [INSTALL_FAILED_USER_RESTRICTED: Install canceled by user]
Error launching application on Redmi 8.

adb: failed to install C:\Users\ML\AndroidStudioP

[2020-09-05 21:10] zanderso opened #65291 "imagefiltered_transform_animation_perf__timeline_summary failing with insufficient storage error"
[code]

Marking P0 because the tree is closed on this, but it can wait until 9/8 after the long weekend!

[2020-09-05 21:54] jonahwilliams commented on #65267
Interesting, do the normal hot reload workflow commands work at all? I think they should share the same underlying logic for dealing with different kinds of stdin

[2020-09-05 22:20] Hixie commented on #65267
yup, seems to work fine. I seem to recall we had a similar problem when we first added them though, maybe there's special code to handle them?

[2020-09-05 22:45] AbdulmalekAlshugaa opened #65292 "[tool_crash] FileSystemException: Cannot open file, OS Error: The system cannot find the path specified., errno = 3"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot open file, OS Error: The system cannot find the path specified.
, errno = 3
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creatio

[2020-09-05 23:16] premingiet commented on #65254
1) create an opengl context and render video on the surface.
2) draw over the surface as textures.
3) Attach a low level decoder and encoder to that surface, like you may use __MediaCodec__ api for that
4) Make your own low level filters as textures and shaders in opengl
5) use mediaplayer to play video and redirect its output to that opengl surface where you can re-encode the transformations to v

[2020-09-05 23:27] jonahwilliams commented on #65267
Yeah, I looked into a bit and we do have some extra handling in the reload commands that is missing from the terminal prompt.

[2020-09-05 23:30] jonahwilliams commented on #65267
I'm almost certain the issue is just that we're not removing the trailing newline. I'll double check this when I have time to set up emacs, but if you want to try and verify the diff is pretty small.

[code]

[2020-09-05 23:44] amer12345 commented on #22308
Please help. I tried all possible methods, including the one in this conversation, but the screen shot function still works on some devices and does not work on others

[2020-09-06 00:07] amer12345 opened #65293 "Screenshot function work on some devices and does not work on"
[code]

[2020-09-06 00:14] jordyvandomselaar commented on #65263
Sure thing! Here's my code:

[code]

[2020-09-06 01:24] OmarYehiaDev opened #65294 ""Invalid argument(s)" error on Android when building the app"
## Steps to Reproduce

I was working on my project normally yesterday but today when I tried to build it it throws me the error in the logs. So I ran `flutter create` and it didn't help me and this is my Question on StackOverflow [link](https://stackoverflow.com/questions/63759770/another-exception-was-thrown-invalid-arguments-error-when-building-app)

**Expected results:**

I expect to see my app

[2020-09-06 01:29] bdlukaa commented on #65287
This is working as expected because the border of the card is not a clipper but a `borderRadius`, and it the Container overflow the border. Try to wrap the Container into a `ClipRRect` or add the color directly to the card with the `color` property.

The reason because it only works with a container without color is because its color is transparent and you don't see it.

[2020-09-06 02:03] AbdullahGaber commented on #35081
Any update?

[2020-09-06 02:09] OmarYehiaDev commented on #25428
Also me! I have the same issue and I can't fix it. If you fixed it please inform me ASAP

[2020-09-06 02:40] ryanheise commented on #32164
There are very specific use cases on iOS where background execution is permitted, and so you unfortunately can't run code in the background on iOS unless you have one of the approved purposes (playing music being one of them). In practice, for plugins that provide a unified API across iOS and Android, we will need to have specialised plugins for each typical background use case that is recognised

[2020-09-06 03:15] hamberluo commented on #64434
@darshankawar

[code]

complete reproducible code
url should be replaced by the link above
[code]

[2020-09-06 03:19] hamberluo commented on #64433
@pedromassangocode

[code]

[2020-09-06 03:21] fzyzcjy opened #65295 "Why need `flutter build` in Fastlane?"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Follow flutter's official tutorial about fastlane https://flutter.dev/docs/deployment/cd#running-deployment-locally

**Expected results:**
see below

**Actual results:**

When executing `fastlane your_command`, actually `android/gradlew assembleRelease -p .` is called. Then I see the following line among the logs:
[code]
Thus, IMHO, flutter *d

[2020-09-06 04:33] sidrao2006 opened #65296 "Support for all unicode characters"
Since flutter doesn't depend on native resources (for UI elements), flutter can easily support all the unicode characters including emojis so that usage of emojis even those which are not available on user's device are visible.

[2020-09-06 05:56] pr1metine commented on #46094
Can someone please lock this issue?

[2020-09-06 05:58] Pr47h4m commented on #65263
Hello! @jordyvandomselaar
I've checked your code what you are doing is opening StatelessWidget instead of returning modalBottomSheet
please checkout code snippet attached with some screenshots and if you need same like gmail app in android then tell me

`import 'package:flutter/material.dart';

void main() => runApp(MaterialApp(
      home: MailList(),
      debugShowCheckedModeBanner: false,

[2020-09-06 06:01] Ahemad7429 opened #65297 "requires SDK version >=2.10.0 <3.0.0, version solving failed"
I tried to switch branch from dev to master and master to dev. Also tried flutter upgrade, still I have been facing this for 2 days.

`pub get failed (1; Because demo_app requires SDK version >=2.10.0 <3.0.0, version solving failed.)
exit code 1`

**Details:
Flutter 1.22.0-10.0.pre.87 • channel master • https://github.com/flutter/flutter.git
Framework • revision 4732a214a7 (29 hours ago) • 2020-09

[2020-09-06 06:36] aminzaidi1 opened #65298 "How do i use if/else statement inside a child in flutter?"
### I want to use if/else statement
So that i can have **MainAxisAlignment.spaceEvenly** for column only if the **_orientation is landscape_**. So, it doesn't change my layout in portrait orientation.
[StackOverFlow](https://stackoverflow.com/questions/63761355/how-do-i-use-if-else-statement-inside-a-child-in-flutter)

### Here's the code
`

class _MobileLayout extends StatelessWidget {

  const _

[2020-09-06 06:37] AAverin commented on #32164
On Android we should be able to run custom code using bound services and foreground notifications.
On iOS the closest equivalent seems to be https://developer.apple.com/documentation/backgroundtasks. At least it should let to run minutes long operations.

[2020-09-06 07:09] singhabhijeet13 commented on #44580
same issue here :(

[2020-09-06 07:16] ishijo commented on #34157
Did anyone find a way?

[2020-09-06 07:18] Sufyan99 opened #65299 "listview"

[2020-09-06 07:18] Sufyan99 opened #65300 "Failed assertion: line 4941 pos 16: 'child is! ParentDataElement<ParentData>': is not true."

[2020-09-06 07:25] AbhishekTF2020 commented on #7956
@abarth : Savage really !!! :p

[2020-09-06 07:40] briankariuki commented on #65287
As said here, you need to add a borderRadius to your Container widget using decoration: BoxDecoration().

[2020-09-06 07:49] shyamkawale opened #65301 "Flutter Crash: ==== CRASH ====="
I just run my flutter app normally and this happen and is not getting resolved after doing flutter clean or restarting vscode or even restarting laptop...

==== CRASH =====
ExceptionCode=-1073741819, ExceptionFlags=0, ExceptionAddress=00007FF7FD0D5C17
version=2.10.0-7.2.beta (beta) (Mon Aug 17 11:01:01 2020 +0200) on "windows_x64"
pid=6732, thread=321
2, isolate_group=main(0000022A0F82D770), isola

[2020-09-06 08:25] ziad784 opened #65302 "when i build apk this issue appear : Gradle task assembleRelease failed with exit code 1"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
3. ...

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-09-06 08:28] akcgjc007 opened #65303 "fatal: not a git repository, Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set)."
Pardon me for the unclear title but even I don't know what else to name it. You can help me in editing this.
## Details
I have recently installed futter in my Ubuntu 20.04.1 LTS and now flutter is giving me some errors that I am unable to resolve from the issues already provided here and other websites.

The main issue is that it is showing some errors whenever I try ```flutter doctor``` or if I c

[2020-09-06 08:29] mizuirot opened #65304 "InteractiveViewer ignore scale settings when using with small child"
## Steps to Reproduce

1. Run `flutter create bug`.
2. replace MyHomePage in main.dart

[code]

3. run.
4. zoom in the red rectangle area

**Expected results:**

<img src="https://user-images.githubusercontent.com/69755373/92321511-94fa0d80-f065-11ea-89e8-6c7c39a6c8a6.png" width="300">

**Actual results:**
<img src="https://user-images.githubusercontent.com/69755373/92321555-ea361f00-f065-11ea-8e7

[2020-09-06 08:39] iapicca commented on #65298
you have the answer on [SO](https://stackoverflow.com/a/63761498/9836706)
this kind of question shouldn't be asked on flutter's repo as it is not an issue with flutter itself

[2020-09-06 08:43] QuentinSc commented on #43620
It drives me crazy....

[2020-09-06 08:43] iapicca commented on #22308
@amer12345
if your issue is device specific it would be better opening a separate issue
providing you doctor, logs, a minimal reproducible code sample and the list of affected devices

[2020-09-06 08:47] moodstubos commented on #43620
@QuentinSc
If you haven't already done so, please use the "thumbs up" in the very first post of this issue to emphasise the problem.

[2020-09-06 08:49] iapicca commented on #65282
the [issue](https://github.com/flutter/flutter/issues/58782) should have been fixed [here](https://github.com/flutter/flutter/pull/57077)
and you are using an obsolete version of flutter

running `flutter upgrade -f`should fix the issue
(also not all your plugins and packages are up-to-date)

[2020-09-06 08:50] diezep commented on #63990
Same issue. I come from this issue #63112

[2020-09-06 08:56] iapicca commented on #65261
@CaLouro
if the problem is with firebase the issue should be opened [here](https://github.com/FirebaseExtended/flutterfire/issues)

[2020-09-06 08:56] praharshbhatt opened #65305 "'Map<String, dynamic> Function()' can't be assigned to a variable of type 'Map<dynamic, dynamic>'."
I started getting this issue after upgrading to the latest version of flutter and firebase firestore libs.

before:
[code]
Now:
[code]

Error:
[code]

## Steps to Reproduce

1. Update all the firebase firestore lib to the latest version.
2. run "Flutter upgrade" and update flutter to the latest version
3. run the program with Firestore get() request

**Expected results:**
I should be able to run t

[2020-09-06 08:59] praharshbhatt commented on #65305
Also tried
[code]
Get the same error.

[2020-09-06 09:02] iapicca commented on #65303
@akcgjc007
I don't want to be "that guy" that answer with "do this instead",
but I believe we, Ubuntu users, have by far the best flutter installation experience
and it's a pity not to exploit it.

You may want to try, installing flutter through [snap](https://snapcraft.io/flutter) instead of git

Then if you want the master channel just run
[code]

[2020-09-06 09:04] iapicca commented on #65302
@ziad784 can you provide you doctor and logs

[2020-09-06 09:05] iapicca commented on #65301
@shyamkawale can you provide your doctor and the output of `flutter run -v`

[2020-09-06 09:05] iapicca commented on #65300
@Sufyan99 can you provide your doctor and a minimal code sample

[2020-09-06 09:06] iapicca commented on #65299
@Sufyan99 maybe you opened the issue by accident, if that's the case I suggest you to close it

[2020-09-06 09:08] iapicca commented on #65305
@praharshbhatt if the problem is with firebase the issue should be opened [here](https://github.com/FirebaseExtended/flutterfire/issues)

[2020-09-06 09:12] iapicca commented on #65294
@OmarYehiaDev the error likely depends from your app implementation rather than flutter
can you provide a minimal reproducible code sample

[2020-09-06 09:15] iapicca commented on #65296
@sidrao2006 flutter supports emoji already
and without this being an endorsement it seems already possible to "import" non-native emoji
as for this [package](https://pub.dev/packages/flutter_emoji)

[2020-09-06 09:16] jehob commented on #46683
Your Widget doesn't work anymore, it throws just an error:
'color == null || foreground == null
"Cannot provide both a color and a foreground\nThe color argument is just a shorthand for \"foreground: new Paint()..color = color\"." '
As far as I tested it you get this with adding foreground to TextStyle, doesn't matter if color is defined, set null or left out.

[2020-09-06 09:17] sidrao2006 commented on #65296
@iapicca thanks for the reply. If flutter supports all the emojis according to unicode's list of emojis(v13), then I'd be happy to close this issue

[2020-09-06 09:17] iapicca commented on #65292
duplicate https://github.com/flutter/flutter/issues/60272

[2020-09-06 09:20] iapicca commented on #65293
@amer12345
can you provide your doctor and the list of devices affected

[2020-09-06 09:21] berrylawchingman commented on #46683
Wtf

[2020-09-06 09:22] berrylawchingman commented on #65296
Pls ASAP do it

On Sun, 6 Sep 2020 at 17:21, Aneesh Rao <notifications@github.com> wrote:

[2020-09-06 09:24] #65296 closed

[2020-09-06 09:24] berrylawchingman commented on #65293
JB

On Sun, 6 Sep 2020 at 17:24, Francesco Iapicca <notifications@github.com>
wrote:

[2020-09-06 09:25] iapicca commented on #65297
@Ahemad7429
you seems to have switched to master succesfully
can you post your `flutter pub get -v`

[2020-09-06 09:26] iapicca commented on #65278
you can [customize](https://dart.dev/guides/language/analysis-options#enabling-additional-type-checks) your analyzer

[2020-09-06 09:33] iapicca commented on #65283
@congfandi

for flutter's vs code plugin
following the information on [vscode marketplace](https://marketplace.visualstudio.com/items?itemName=Dart-Code.flutter)
the issue should be opened [here](https://github.com/Dart-Code/Dart-Code/issues)

for flutter'a android studio / jetbrains plugin
following the information on the [plugin's page](https://plugins.jetbrains.com/plugin/9212-flutter)
the issu

[2020-09-06 09:36] iapicca commented on #65232
@ZCHUANGJie you may want to run `flutter upgrade -f`

[2020-09-06 09:40] xingfudeshi commented on #55103
Where is timeDilation used?

[2020-09-06 09:49] mohammadshrahi commented on #32036
any updates for this issue?
and thanks in advance

[2020-09-06 09:54] iapicca commented on #65296
@sidrao2006 you may want to look at this [approach](https://stackoverflow.com/questions/44936239/displaying-text-with-emojis-on-flutter) as well

[2020-09-06 09:56] sidrao2006 commented on #65296
Thanks

[2020-09-06 10:00] shyamkawale commented on #65301
Thanks @iapicca,
I don't know what happened but I shutdown and then started my laptop and then it was working very fine...

[2020-09-06 10:03] iapicca commented on #65301
If the problem is fixed consider closing the issue

[2020-09-06 10:10] MkamaAFM commented on #65294
I see you have some functions that should return widgets, but they don't return anything.

[2020-09-06 10:11] #65301 closed

[2020-09-06 10:26] spravesh1818 opened #65306 "NFC support"
Please add a nice library for nfc.Preferably by the flutter team itself.I had to go back to making native android application for making an app that required nfc.I used nfc_in_flutter which shows empty tag even if there is an ndef message in the tag.This makes it very difficult to make a hybrid application using flutter because all the features supported by native platform doesn't seem to be suppo

[2020-09-06 10:47] denizdogan commented on #1831
For what it's worth, there's nothing inherently wrong with using flutter_svg, it's just that it's lacking even some very simple things, e.g. [it doesn't support percentages](https://github.com/dnfield/flutter_svg/issues/103) and straight up crashes when trying to render them. This comment is not a knock on the flutter_svg library, it's just to explain to people who are saying we can just use flutt

[2020-09-06 10:48] AedenThomas opened #65307 "Support for a Large Cupertino Title Navigation Bar in Flutter"
This is what Flutter shows when CupertinoNavigationBar() is used
<img width="383" alt="Screen Shot 2020-09-06 at 12 35 36 PM" src="https://user-images.githubusercontent.com/18345370/92324115-30c85100-f047-11ea-9894-4a9250b0cbc2.png">

This is what I thought Flutter could also show and it could transition to a standard title as people begin scrolling the content.
<img width="360" alt="Screen Shot 2