[2018-07-12 02:40] sxd1140 commented on #19242
[code]
Not use Navigator, no call `build` twice.

[2018-07-12 02:46] hpsoar opened #19294 "TextFormField with maxLines doesn't show Chinese correctly"
As shown below, the first line & last line didn't show completely.

It's fine with English words.

![screenshot_20180712-104232](https://user-images.githubusercontent.com/1549522/42609724-9bb8491e-85c0-11e8-9c92-0476eb6cc86d.jpg)

here is `flutter doctor` output

[code]

[2018-07-12 02:55] pplante commented on #16810
I am seeing this in my app when trying to capture a screenshot or screencast from the emulator.  Is there any workaround?  I believe this is caused by something in the Android accessibility?

[2018-07-12 02:58] aam opened #19296 "hot reload tests are failing with dart/engine roll"
With https://github.com/flutter/flutter/pull/19277 attempt to land dart/engine roll hot reload tests started to fail:
[code]

The stack trace points to `FlowGraph* StreamingFlowGraphBuilder::BuildGraphOfFunction(bool constructor) {`

[code]

cc @a-siva

[2018-07-12 03:07] jonahwilliams opened #19297 "Flutter apps should setState randomly in development mode"
As I understand it, the official answer to "when does Flutter call build?" is "potentially once a frame, less as an optimization."  Currently in Flutter it is easy to write widgets which actually rely on only being rebuilt once (which will happen to work because we are quite good at optimizing!) However, there is a hidden danger, which is that a slight change to animations or a parent widget could

[2018-07-12 03:09] jonahwilliams commented on #19297
Some other errors this would catch:
  * Using randomly generated value keys
  * open snackbars or using overlays in a scheduleMicrotask inside of build

[2018-07-12 03:19] phucgaoxam opened #19298 "Flutter renders UI on LG V20™ H910 not as expected"
When I install my app on release mode Android Device LG V20™ H910 (Android 7.0)
![lg h910 1](https://user-images.githubusercontent.com/23413632/42610425-c0206c6e-85bb-11e8-9d4a-fa7d20d884dc.png)
![lg h910 2](https://user-images.githubusercontent.com/23413632/42610508-284ea6de-85bc-11e8-9feb-0ae7c54c2765.png)

And when I install the same app on Asus Zenfone Selfie (Android 6.0.1)
![asus zenfon](htt

[2018-07-12 03:31] jonahwilliams commented on #19297
Ahh the navigator, and overlays.  So marking everything dirty could run through a similar path to hot reload though, sounds reasonably promising.

[2018-07-12 03:33] jonahwilliams commented on #16810
I have seen this before, but it is difficult to reproduce.  Visually, that does look a lot like the TalkBack a11y focus, I will take a look and see what I can find

[2018-07-12 03:42] #19298 closed

[2018-07-12 03:43] kendji commented on #18780
Alright, thank you.
I think it is not serious.

[2018-07-12 03:50] kunit1 opened #19299 "width: double.infinity no longer honoured in v0.5.7-pre.104"
## Steps to Reproduce

[code]

1. Previously in the beta channel this would produce a wide button.
2. After switching to the master channel this produced a button the only fits text content of the button.

[code]

[2018-07-12 03:56] VickySalunkhe opened #19300 "Text Fields hidden behind keyboard"
Related #10826 #18837 #18711

Facing the same issues.
i am using this structure
SingleChildScrollView -> Container -> TabBarView -> Form -> Container -> Listview -> Childrens

this made my view to scroll but the problem remained there only that when keyboard is activated bottom textfields doesnt comeup, an hides behind the keyboard.

tried many different variations but above mentioned structure ha

[2018-07-12 04:01] jonahwilliams commented on #19299
Same underlying issue as https://github.com/flutter/flutter/issues/19212.  To style buttons, instead of using a container use the button theme:

[code]

[2018-07-12 05:00] zoechi commented on #16589
@benqethan that just sounds like you're getting a `String` instead of a `Map<String,dynamic>` from Firebase.

[2018-07-12 05:05] zoechi commented on #16589
@dardison could you fix your problem?

[2018-07-12 05:05] zoechi commented on #16589
@lejard-h is this still an issue for you?

[2018-07-12 05:13] zoechi commented on #19257
What dos `pod --version` print?

[2018-07-12 05:15] zoechi commented on #12527
@Hixie should there be 2 different templates for plain Dart packages and packages with using Flutter UI?
What is the difference between a Flutter app and a package using Flutter UI except that there is a `lib/main.dart` in an app?

[2018-07-12 05:26] rtolar opened #19301 "TimeSeriesChart : PanAndZoomBehavior causing error"
While attempting to figure out how to implement pan-and-zoom on a time series graph, I received the following error:
[code]

------
[code]

[2018-07-12 05:43] zoechi commented on #17227
@vagrantrobbie do you think there is still something the Flutter team needs to do?
The `ImagePicker` issue you mentioned should better be reported in a new issue.

[2018-07-12 05:44] The-Redhat commented on #15406
Yes I also tried this but all Pdf Viewer said that the pdf document is invalid. But I was able to open the pdf on iOS without opening another app.

[2018-07-12 05:49] zoechi commented on #17862
@escamoteur I guess something like #16253. Not sure how this would include filtering `null`s though, but I'm sure the Dart and Flutter team will work closely together when they tackle this issue.

[2018-07-12 06:01] zoechi commented on #19301
I guess this should better be filed under https://github.com/google/charts/issues

[2018-07-12 06:04] zoechi commented on #19300
Please add the output of `flutter doctor`.
Have you tried with `dev` channel? There was a change recently.

[2018-07-12 06:06] aam commented on #19296
This seems to be introduced in https://github.com/dart-lang/sdk/commit/fa7c38dec5b00f04bc75391ea0f1fefd47cc6f55

cc @rmacnak-google

[2018-07-12 06:08] aam commented on #19296
cc @zanderso

[2018-07-12 06:11] zoechi commented on #19297
Sounds a bit like Angular development mode where change detection makes an additional 2nd turn every time it runs to check all bindings are actually idempotent.
This is very helpful but caused lots of questions.
There should be a very prominent information about that behavior.

[2018-07-12 06:17] zoechi commented on #19293
There is already an answer on SO now.

[2018-07-12 06:17] zoechi commented on #19292
@DanTup

[2018-07-12 06:33] yjbanov commented on #17862
@escamoteur, it could look like https://github.com/flutter/flutter/issues/3783#issuecomment-217597619. @munificent began a more in-depth investigation over in https://github.com/munificent/ui-as-code/blob/master/ideas/control-flow-elements.md.

[2018-07-12 06:37] zoechi commented on #18756
@sahil311289 I hope it's fine with you if I close this as dup of #11895.
Please add a comment if you think differently.

[2018-07-12 06:41] DanTup commented on #19273
I think there are some flutter_tester tests in flutter_tools that just run non-Flutter Dart scripts - if you run it manually like that (which is just running the binary and giving it any old Dart file) does it work as expected (I think it should run the Dart script and then terminate at the end)?

[2018-07-12 06:47] baeharam commented on #19293
@zoechi It was solved, problem was that the name of folder was korean... I changed into English using administrator.

[2018-07-12 06:48] DanTup commented on #19292
This is fixed by #18515 but it hasn't made the beta channel yet. It's safe to ignore that warning for now; it won't affect your use of Flutter or VS Code.

[2018-07-12 06:48] #19292 closed

[2018-07-12 06:50] DanTup commented on #19223
@botaniQQQ Yep, that's this:

[2018-07-12 06:52] b354c502 commented on #12527
@Hixie for what it's worth - I ended up using the regular template as per @zoechi 's recommendation, and it's working fine (the package itself, the demo app, integration testing, etc).

@zoechi

I was wondering the same thing. It seems like the package template would only be appropriate when there's no UI or integration testing... however, the regular app template seems to cover all bases, making

[2018-07-12 06:52] zoechi commented on #19285
Not sure what the question is. If you use `ListView.builder()` then items scrolled out of view lose state. If you want to prevent that, you need to take care of that.
I think https://docs.flutter.io/flutter/widgets/PageStorage-class.html can be used for that.

[2018-07-12 06:56] shifeng1993 opened #19302 "Two Tabs are nested, and a bug appears."
Hello, I had a problem with the layout using flutter。

My application in root widget has three tabs
https://github.com/shifeng1993/easy-music-flutter/blob/master/lib/pages/home_screen/HomeScreen.dart#L37

Include three child tabs in one of the tabs
https://github.com/shifeng1993/easy-music-flutter/blob/master/lib/pages/find_screen/FindScreen.dart#L34

Then when I was sliding left and right, I foun

[2018-07-12 06:59] zoechi commented on #19293
@baeharam thanks for the feedback.
I assume this issue can be closed then?

[2018-07-12 06:59] #19293 closed

[2018-07-12 07:03] DanTup commented on #19056
Ah, there's a subtle difference you can't tell from the log. The string `--enable-dart-profiling --start-paused --enable-checked-mode --verbose` is all being passed as a single arg, but the display of it doesn't make this clear. So to run the command the same from the terminal you'd need to quote those args, something like:

    /usr/bin/env ios-deploy --id 5e48115b466e0b05a8fb6a934a06355074051403

[2018-07-12 07:06] navneetgarggate6 commented on #11768
Can anyone provide more detail about this like document link or example code?

[2018-07-12 07:08] s-limo commented on #18756
Is #11895 really duplicate? I see exceptions are raised at different places. For me this issue is important as well so I am afraid that it could be lost and never fixed :)

[2018-07-12 07:10] zoechi commented on #11768
@navneetgarggate6 check the StackOverflow comment above and the other documentation is in the generated code if you create a new project using `flutter create`.

[2018-07-12 07:14] zoechi commented on #19279
Please add the output of `flutter doctor`

[2018-07-12 07:14] zoechi commented on #19278
Please add the output of `flutter doctor`

[2018-07-12 07:15] zoechi commented on #18756
@s-limo no prob. I'll leave it open then.

[2018-07-12 07:17] VickySalunkhe commented on #19300
flutter doctor

[2018-07-12 07:19] tomaszpolanski commented on #19261
It somewhat looks similar but in this case, the default gradle-4.4 is used. The other ticket focuses on gradle-4.6 version

[2018-07-12 07:19] VickySalunkhe commented on #19300
dev channel ? sorry but i didn't get it what do you actually mean by that.
and what do you actually want me to do?
i am fairly new in this so please co-operate. thanks.

[2018-07-12 07:19] navneetgarggate6 commented on #11768
@zoechi it means the only way to change launch screen we need to change android or ios files?

[2018-07-12 07:20] zoechi commented on #11768
@navneetgarggate6 yes, they are shown while the app loads, so doing it in Dart would be too late.

[2018-07-12 07:23] zoechi commented on #19300
There are `beta`, `dev`, and `master` channel where `master` contains all merged features and fixes and a `dev` release is created after extensive testing and then eventually a `beta` release.
So this is some levels of stability.
Using `flutter channel dev` `flutter doctor` switches to `dev` channel and you can switch back to beta using `flutter channel beta` `flutter doctor`.
This way you can che

[2018-07-12 07:31] navneetgarggate6 commented on #11768
@zoechi thanks. but flutter should provide this in dart code instead of changing in android or ios.

[2018-07-12 07:34] j4k0bk commented on #19207
One thing to keep in mind when considering this feature is how it would/could integrate with the Sliver protocol, if even possible.

Also, zoom and pan may be relevant features in this context.

[2018-07-12 07:35] zoechi commented on #11768
As I said, Flutter code is executed later and that would be weird to not see the splash screen until Dart code is executed. Actually bridging this gap is what a splash screen is for in the first place.
Flutter code can't work around how platforms work.

[2018-07-12 07:37] escamoteur commented on #16604
@cbracken thanks for clarification. Sorry when I lead a bit away from the original issue

[2018-07-12 07:40] navneetgarggate6 commented on #11768
The same issue is in ionic, react native handle it in a better way. Flutter should give some utility to generate android and ios files.

[2018-07-12 08:29] VickySalunkhe commented on #19300
i switched to dev channel thanks for the explanation @zoechi

But the issue is same .
attaching flutter doctor

I want behaviour of form similiar to this.
Example video is from Flutter gallery app.

[video here](https://drive.google.com/open?id=16nRkpgBb5Azo6N83cageTT5J7TlO2iwX)

[2018-07-12 08:36] VickySalunkhe commented on #19204
Are you looking for something like this @jiangjh ?

![whatsapp image 2018-07-12 at 2 04 22 pm](https://user-images.githubusercontent.com/37410248/42621873-961c91ba-85dc-11e8-8805-0ff13f75758f.jpeg)

[code]

[2018-07-12 09:05] once10301 opened #19303 "Add WifiInfo.getSSID() to plugin connectivity"

[2018-07-12 09:11] mit-mit commented on #19262
I don't seem to have access to it in the Play Console anymore?

[2018-07-12 09:15] mraleph commented on #18818
Unfortunately, I don't have access to either. @Hixie can somebody try to repro on S6/S8 if we have those in the device lab?

[2018-07-12 09:17] droidery opened #19304 "How to disable Flutter crash log uploads to Google"
I have tried the solution from https://groups.google.com/forum/#!topic/flutter-dev/M_WZJPDmehA
but whenever Flutter crashes I get this in the log in Android Studio:

[code]

In the terminal I run the command `flutter config --no-analytics` and it says analytics is disabled:
[code]

Then to verify I run `flutter config` to verify it says "Analytics reporting is currently disabled.":

[code]

But th

[2018-07-12 09:18] mit-mit commented on #14821
This bug tracks the overall scenario, and we expect to resolve it when we are happy with a first level of support. For concrete issues, see the link I had above.

[2018-07-12 09:30] zoechi commented on #19300
@VickySalunkhe thanks for checking 👍

[2018-07-12 09:33] VickySalunkhe commented on #19300
sir is there any problem with the form being kept in the tab bar view?

[2018-07-12 09:38] zoechi commented on #19300
I don't know details. Someone else will need to have a closer look.

[2018-07-12 09:42] rocca23 opened #19305 "InputDecorationTheme.contentPadding not accepting EdgeInsetsDirectional"
Flutter 0.5.1 • channel beta
Framework • revision c7ea3ca377 (6 weeks ago) • 2018-05-29 21:07:33 +0200
Engine • revision 1ed25ca7b7
Tools • Dart 2.0.0-dev.58.0.flutter-f981f09760

[code]

code:
[code]
I noticed that inside `InputDecoratorTheme.debugFillProperties()`, `contentPadding` is checked to be `EdgeInsets`instead of `EdgeInsetsGeometry`:
[code]
Quite obviously, replacing `contentPadding: Ed

[2018-07-12 09:43] zoechi commented on #19132
I believe this is just another case of #16604

[2018-07-12 09:43] #19132 closed

[2018-07-12 09:43] csnguyen-gmail opened #19306 "Done button in keyboard show up instead of Next when I set textInputAction: TextInputAction.next"
## Steps to Reproduce

I create a normal TextField like below:
`
TextField(
  controller: _controller,
  focusNode: _focus,
  textInputAction: TextInputAction.next,
  onSubmitted: (string) {
    doSomthing();
  },
)
`
I suppose keyboard will appear with Next button as action button.
It works in Flutter Master - commit 541356.
But after this version, Done button appear instead of Next button

## Lo

[2018-07-12 09:46] zoechi commented on #19287
Does your Flutter version include this fix already #18800?

[2018-07-12 09:53] briefness commented on #19257
1.5.3

[2018-07-12 10:06] pp126 commented on #18818
@mraleph Thank you very much. I will check my code again and test it on more devices.

[2018-07-12 10:35] zoechi commented on #19257
One of these might help

- https://stackoverflow.com/questions/17072396/cocoapods-errors-on-project-build
- https://support.layer.com/hc/en-us/articles/204301594-I-m-getting-a-The-sandbox-is-not-in-sync-with-the-Podfile-lock-error-How-do-I-fix-it-
- https://stackoverflow.com/questions/21366549/errorthe-sandbox-is-not-in-sync-with-the-podfile-lock-after-installing-res
- https://stackoverflow.com/qu

[2018-07-12 10:41] lukepighetti commented on #19278
? I don't think this is bug, but a feature request?

[2018-07-12 10:43] lukepighetti commented on #19285
If you use a normal ListView they lose state when they are scrolled out of view as well. I don't think that's unique to ListView.builder()

My question is why does it take two taps to open freshly rendered (via scroll) drawer with

[code]

but only one tap with

[code]

[2018-07-12 10:48] lukepighetti commented on #19153
Thanks for the clarification. I am a little confused why we don't use a Dart library instead of the iOS/Android libraries. It is my understanding that we use the Javascript libraries when developing React-Native apps.

Unfortunately I have no experience with native app development to know how to build and debug these native to flutter wrappers...

So what are your words of wisdom for someone like

[2018-07-12 10:50] lukepighetti commented on #19269
So functional components for breaking out big trees but that's about it, it sounds like. Or fast prototyping.

[2018-07-12 10:51] lukepighetti commented on #19278
[code]

[2018-07-12 10:58] zoechi commented on #18744
Started working for me today after `flutter upgrade` on `master`

[2018-07-12 10:58] ajzuse commented on #19241
@cbracken here is the the result of ```flutter run --verbose```

[code]

[2018-07-12 11:14] DanTup commented on #18678
Actually, this turns out to be complicated; because my debug adapter can be running in another process that doesn't know where the user is in the editor. We'd have to either send messages from the debugger back to the editor to ask for the location, or have the editor inform the debugger where the user is periodically.

I'm gonna put this on hold for now while I think more about it.

[2018-07-12 11:17] MarioClot commented on #19004
Try to remove the click_action.

[2018-07-12 11:19] Vojtas87 commented on #16659
Hello, I'm facing the same issue. SDK location outside Program Files, Path set in variables, Flutter doctor found no issues. Some hints, what can I try to do more? :-(

[2018-07-12 11:22] zoechi commented on #19278
There was some work going on recently and this might have been fixed already or a PR waiting.
Also it might take a while until someone has time to have a closer look and by this time it might have been implemented for other reasons already.
The `flutter doctor` output always allows to check if a commit was made before or after the version used when the bug report/feature request was made.
So it's

[2018-07-12 11:23] zoechi commented on #19153
Unfortunately there is no Dart Firebase implementation.
The non-Flutter version is for the browser only and is also a wrapper of Firebase JS libs.
The Dart console app Firebase lib only supports the limited REST API.
A pure Dart implementation for all platforms would be great though.

[2018-07-12 11:33] jiangjh commented on #19204
Not it, thank you!

[2018-07-12 11:34] knopp commented on #16763
@DaveShuckerow, thanks for your work on this. I tried your pull request and have some feedback:

- When dragging item down, it needs to be dragged too far for reorder to happen. Right now it seems that when draggin down the top border of dragged item must cross middle of next item for reorder to happen. It should be _bottom border_ of dragged item crossing middle of next item.

- There is no anima

[2018-07-12 12:01] cbazza commented on #11609
@clarktank,

For me having it look different than the rest of the code is actually a benefit.

[2018-07-12 12:06] huextrat commented on #15907
Any news about this important feature ? :/

[2018-07-12 12:11] mit-mit commented on #18976
if we are not already excluding the `<root>/build` and `<root>/example/build` folders we certainly should, cc @gspencergoog

[2018-07-12 12:13] lichentao opened #19308 "How Can I swipe for back in Flutter? not tap back button"
![image](https://user-images.githubusercontent.com/5095376/42632479-e4cbd0b8-860f-11e8-8fca-fa0050d6cbf2.png)

but whis second page is flutter page ,we see rootview is native page,

native->flutterview->flutterview 2

when i am swipe back in flutterview 2, it is pop to native

[2018-07-12 12:15] zoechi commented on #18976
@mit-mit I think all in `example/` should be excluded except what pub.dartlang.org explicitly supports and I think that's only `example/example.dart` @isoos please correct me if I'm wrong.

Assume I have

- pubspec.yaml
- example
  - example1
    - lib
    - build
  - example2
    - lib
    - build

[2018-07-12 12:16] mit-mit commented on #18976
Flutter packages are supported, see e.g.:
https://pub.dartlang.org/packages/path_provider#-example-tab-

[2018-07-12 12:18] AppleEducate commented on #9592
Since firebase crash reporting just announced they are retiring it in firebase in 60 days do we have an update for when crashlytics will be available for flutter?

[2018-07-12 12:33] helzgate commented on #15297
How to implement Azure AD authentication.  Also see [this stack overflow](https://stackoverflow.com/questions/50109063/azure-ad-b2c-with-easy-auth-authentication-with-google-flutter).

[2018-07-12 12:36] skeksk91 opened #19309 "No host specified in URI file:///"
Luckily, it is fine with exception. It works still ok, but
"No host specified in URI file:///" meaning not clear to me,
Because I tried to http://

It happens only when the first app startups after build,
after then hot reloading is fine.

[code]

[code]

[2018-07-12 12:39] zoechi commented on #19309
Have you tried
[code]
if this leads to the expected URI?

[2018-07-12 12:39] brianegan commented on #16233
Ah, that's actually another great candidate for the Cookbook, especially when testing Widgets that display Images.

We've actually got a recipe on how to test this functionality using Mockito + `http` package now, but for Image Widgets overriding the HttpClient can be a great way to avoid making full-on network calls in tests.

[2018-07-12 12:57] thelazyindian opened #19310 "How to configure soft input keyboard to disable suggestions and voice input ?"

[2018-07-12 13:09] jaggerwang commented on #19300
Same problem, occurred after switch to dev channel.

[2018-07-12 13:14] skeksk91 commented on #19309
![screenshot from 2018-07-12 22-14-15](https://user-images.githubusercontent.com/4088583/42635433-ff550632-8620-11e8-90dd-87a27181ec8b.png)

[2018-07-12 13:22] hozhis opened #19311 "为什么顶部导航栏超出屏幕了？"
@override
  Widget build(BuildContext context) {
    return MaterialApp(
      home: Scaffold(
        bottomNavigationBar: CupertinoTabScaffold(
          tabBar: CupertinoTabBar(
            items: <BottomNavigationBarItem>[
              BottomNavigationBarItem(
                title: Text(global.navigationBarTitles[0]),
                icon: Icon(CupertinoIcons.home),
              ),

[2018-07-12 13:29] mmcc007 commented on #15297
While waiting for #9688 to resolve, based on suggestion made by @zoechi, there is a demo of sync and async form validation in the example provided in this new package:
https://pub.dartlang.org/packages/modal_progress_hud

![modal_progress_hud](https://user-images.githubusercontent.com/1980785/42635748-bda5718e-859b-11e8-81bf-4be71b78719e.gif)
Example could possibly be adapted as a cookbook recipe

[2018-07-12 13:34] #19311 closed

[2018-07-12 14:05] nodesl commented on #19132
@zoechi thanks for having a look : ) i read all the issues that you have listed. yeah it seems like the same issue. so we don't have a fix still right ? coz i didn't found any fix in those topics. im new to github also. so still not friends with how this thing work. but i'll get use to it. don't forget to update me if you saw a fix somewhere. i'll also keep in touch

[2018-07-12 14:13] mohith7548 commented on #19132
Do "flutter clean" in terminal and run app again. Its the build issue with flutter that has been making devs so sad.I think flutter team will fix it soon. The bug always buids the previous version of the app.

[2018-07-12 14:17] rtolar commented on #19301
The error message shown says to file the bug report here.

---
I/flutter ( 7381): Either the assertion indicates an error in the framework itself, or we should provide substantially
I/flutter ( 7381): more information in this error message to help you determine and fix the underlying cause.
I/flutter ( 7381): In either case, please report this assertion by filing a bug on GitHub:
I/flutter ( 7381)

[2018-07-12 14:31] zoechi commented on #19309
You need to use the debug icon
![image](https://user-images.githubusercontent.com/405837/42639716-01353dd0-85f1-11e8-80c4-a0d7457b348b.png)
It looks you used the run icon instead. This one doesn't start the debugger.

[2018-07-12 14:34] zoechi commented on #19301
There is an issue to get this text about the "error in the framework" removed when it's unlikely to be a framework error. I think this issue is such a case.

[2018-07-12 14:35] zoechi commented on #19132
There was a fix recently for release builds, but for debug builds there is still some work to do.

[2018-07-12 14:38] benqethan commented on #16589
@zoechi I fixed the problem. The error message is not so clear. I did get the map from Firebase. The exception happened when converting a nested json fromLocation to RequestPost.fromLocation which is defined as String.

[2018-07-12 14:40] AmitJoki commented on #7248
I am still facing this problem. When I exit the app and enter again, this error crops up.

[2018-07-12 14:42] rtolar commented on #19301
Opened issue : https://github.com/google/charts/issues/73

[2018-07-12 14:42] #19301 closed

[2018-07-12 14:56] devxpy commented on #19194
We can access the the `context` from `initState()`, I feel stupid now..

[code]

[2018-07-12 15:01] zoechi commented on #19194
@devxpy not really.
This only works in your case because `.then(...)` is executed delayed and then the `context` getter from the `StatefulWidget` class is already set.

[2018-07-12 15:05] zipzit commented on #19056
As you thought, the test with the --arg and quotes in bash shell was fully functional, no real change to feedback.  There were no `ios-deploy: unrecognized option` errors or warnings.

`Broken`?  What does that word mean?  To me, `broken` means absolutely non-functional.  In this case when ever I push an app to physical ios device (iphone) I get an error message that looks like this.

[code]

The

[2018-07-12 15:39] nghieppv commented on #11441
Try use IPv4 (192.168.x.x) address instead for localhost or 127.0.0.1

[2018-07-12 15:39] yarumair opened #19312 "setState behavior"
Iam a newbie to flutter and following the tutorial here https://flutter.io/get-started/codelab/. In "Step 5: Add interactivity" the "setState" function is used to update the row to show favorite marked items. I debug the application to check the how the setState is working, by tapping on one row and found that it is actually calling itemBuilder for all the rows. So its not actually updating the ro

[2018-07-12 15:45] gspencergoog commented on #19287
Yes, it includes 75b737ff695afba5ec8b4e313c130c520b3651fb.  I'm using the master branch HEAD revision from yesterday.

[2018-07-12 15:46] bizz84 commented on #13477
@Hixie I just had the same problem.

I believe the problem appears as long as there are two `FloatingActionButtons` in the affected path of the widget tree.

In my case I have page A and page B, both containing a `FloatingActionButton`.
Somewhere in page A I push a new `MaterialPageRoute` to show page B.

Tapping on the `FloatingActionButton` on page B causes a modal presentation like so:
[code]

[2018-07-12 15:59] eugenio-tesio commented on #730
Updates?

[2018-07-12 16:07] amirh commented on #730
We're actively working on it, you can follow the progress of #19030.

[2018-07-12 16:10] zoechi commented on #19312
I think this is a result of the rendering protocol. When an item in the list is re-rendered, the ListView will want to know because any change in size of the item will probably need other items to be re-rendered on different positions.

You could try wrapping the item in a https://docs.flutter.io/flutter/widgets/SizedBox-class.html with fix height and width and check if `itemBuilder` is still call

[2018-07-12 16:13] HansMuller commented on #19305
Wow, that's embarrassing. Thanks for the report! Will fix.

[2018-07-12 16:38] DanTup commented on #19056
Oh, I see - I misunderstood and thought it didn't work when you saw that error message.

If you're only seeing the message when run from within VS Code, I'm sure it's PATH-related. Try running `which python`, `which ios-deploy`, `which xcodebuild` (and anything else that might be involved) both inside and outside VS Code to see if any of them are being run from different locations.

[2018-07-12 16:48] jonahwilliams commented on #19297
Possibly we could make it some sort of flag or toggle in debug mode, then a user could opt in to see if there app has issues.  If that works well we could make it the default in future releases

[2018-07-12 17:06] dustin-graham commented on #19274
@bparrishMines could you please assign me? I'm working on this.

A few questions though:
1. Does the implementation need to be in Java and Objective-C? It looks like all the other code is, is this a standard?
2. For Android, since we are targeting API 16+, should I worry about the camera2 API? The legacy camera API is deprecated but it works everywhere, does what we need it to do, and will work on

[2018-07-12 17:09] gspencergoog opened #19314 "Compiler messages in thrown exceptions are duplicated."
When there is a compilation error in a running program, the exception that is thrown, and what shows up on the device screen, print the same error line twice, when it should only print it once.

For instance, the following program has exactly one line with an error, but it prints the following twice:

[code]

Here's the whole output:

[code]

And here's the test program (pasted into a newly create

[2018-07-12 17:35] timsneath commented on #18756
@sahil311289 I created https://github.com/timsneath/tabbar_exception to try and produce a repro based off your files. On the latest Flutter master builds, I get the following exception when I type in the live tab and then select the notifications tab:
[code]

Different error to yours, so could you confirm that this is the issue you're hitting, or help me adapt to a more accurate repro?

[2018-07-12 17:38] AppleEducate commented on #17735
when running the test from Xcode I get this error
`Library not loaded: @rpath/Flutter.framework/Flutter`
And the Test Fails.

and when running` fastlane snapshot`

`[13:37:24]: ▸ ❌  fatal error: file '/Users/Shared/CrossMedia/Projects/MyUnifyMobile/ios/Runner/GeneratedPluginRegistrant.h' has been modified since the precompiled header '/var/folders/8v/39qx36ss40s_c18typ5773m40000gn/T/snapshot_deriv

[2018-07-12 17:39] Hixie commented on #19297
Ironically, doing this can actually paper over issues too. It's just as common to forget to call setState, but rely on something else accidentally forcing an update.

There's also a serious performance cost here. Hot reload takes on the order of hundreds of milliseconds, because of marking everything dirty.

[2018-07-12 17:40] AppleEducate commented on #18466
when running the test from Xcode I get this error
`Library not loaded: @rpath/Flutter.framework/Flutter`
And the Test Fails.

and when running` fastlane snapshot`

`[13:37:24]: ▸ ❌  fatal error: file '/Users/Shared/CrossMedia/Projects/MyUnifyMobile/ios/Runner/GeneratedPluginRegistrant.h' has been modified since the precompiled header '/var/folders/8v/39qx36ss40s_c18typ5773m40000gn/T/snapshot_deriv

[2018-07-12 17:41] AppleEducate commented on #18466
@zinwalin The fix from #17735 fixed xcode being able to create the test, but once it is created you cannot rerun the test from xcode.

[2018-07-12 17:45] jonahwilliams commented on #19297
I guess that is true as well- though I wasn't conceiving of running this every second, rather sometime between every 5 - 20 seconds.  Just enough to make misbehaving widgets stand out but not enough to rely on.  Maybe that would still be too much.

Another approach might be to sometimes run `build` twice.  This couldn't be relied on to update state, but it would catch some of the above issues like

[2018-07-12 17:51] natebosch commented on #19208
AFAIK that's not the way `apt` works. `brew` does seem to use install time rather than archive time. Many folks also use manual approaches (such as [dvm](https://github.com/cbracken/dvm/blob/master/scripts/dvm#L293)) which are most likely going to use the default arguments when extracting the archive which I believe is usually to use archive times.

I don't think we have scoping to move _everyone_

[2018-07-12 17:53] ThinkDigitalSoftware opened #19315 "Feature Request: Option to show example code in all examples in the Flutter Gallery App"
I browse the Flutter Gallery app to find working examples of code I would like to use. It would be nice to be able to see what code created the example, minus the boilerplate if possible, right from the app. I've seen a few places where that was there, but it allows learning on the go and quicker development.

[2018-07-12 17:57] zoechi commented on #19315
Perhaps a link to GitHub would do. This would open Chrome and show the directory that contains the source.

[2018-07-12 17:58] ThinkDigitalRepair commented on #19315
Works for me!

[2018-07-12 17:59] jjerome00 opened #19316 "Issue from website page Building Layouts in Flutter"
From URL: https://flutter.io/tutorials/layout/
On my monitor, it's hard to keep both Android Studio and the Flutter tutorials side-by-side.

Can you provide a button to show/hide the menu on the left side?  That would give me more real estate.

[2018-07-12 18:11] darrarski commented on #19241
I can confirm the bug exists when using Flutter (0.5.7-pre.105) with latest beta of Xcode (10.0 beta 3). As you can read from build log, `Flutter.framework/Flutter` executable has indeed wrong access permissions ("write" flag is missing for "owner"). I didn't manage to solve the problem, but I noticed that switching to legacy build system in Xcode helps.

1. Open `ios/Runner.xcworkspace` in Xcode

[2018-07-12 18:16] jonahwilliams commented on #19306
cc @matthew-carroll

[2018-07-12 18:38] Hixie commented on #10243
By default, AnimatedCrossFade tries to size itself to the child's size. If you force the AnimatedCrossFade to fill its parent's size, then this logic is thwarted. That's the usual cause of this issue. You can provide your own layout builder to avoid that. Not sure what we should do by default to avoid that though. Maybe we can always loosen the constraints? What `fit` are we passing through today?

[2018-07-12 18:39] Hixie commented on #10878
The icons will be broken, but it'll "work" other than that.

[2018-07-12 18:39] Hixie commented on #12527
@zoechi packages would have examples, would have different pubspec.yaml information, would have different entry points (no main.dart), etc.

[2018-07-12 18:40] Hixie commented on #19297
The risk of running it more rarely is that it's basically intentional flakiness, with all the problems of flakes.

[2018-07-12 18:54] AgrawalAnsh22 commented on #14778
@Santolama how did you get it fixed?? I am facing a similar issue, can you help me with it?  https://github.com/AgrawalAnsh22/startup_namer/issues

[2018-07-12 19:05] yeltsinxyz commented on #19223
Sorry for re-opening this issue. But I have the same problem. I run the `flutter doctor -v` here is the log

[code]

The problem is: Flutter it is installed in VScode. Maybe there is some bug w/ 64 bit-version?

![Visual Studio Code](https://i.imgur.com/FqNw8zd.png)

[2018-07-12 19:22] Rockvole opened #19319 "Landscape mode with navigation buttons screen redraw on phones broken."
I am writing an app primarily intended to be used in landscape mode. When you type on a keyboard (so that android shows the navigation bar). On phones in landscape mode (tested on Nexus 5 and Nexus 6 emulator) the navigation buttons (back, home, square) are shown on the short edge of the phone no matter the orientation (on tablets the navigation bar is shown on the bottom edge and so it is not an

[2018-07-12 19:32] matthew-carroll commented on #19306
I think this is due to the fact that we haven't rolled the engine into the framework recently.  The engine hasn't been rolled since June 28 and these text input changes landed in the engine on July 1.

When the engine finally gets updated in the framework, this should work as expected.

[2018-07-12 19:32] vladaman commented on #18846
Is there at least some workaround this issue until fixed?

[2018-07-12 19:41] DanTup commented on #19223
Yeah sorry, I don't think I worded it very well..

There was a change in VS Code which broke our detection of the extension. I fixed it, but the fix hasn't gotten to the beta channel yet.

[2018-07-12 19:43] cbracken commented on #19061
Fixed in #19281 on master. It should no longer be necessary to manually install the six module if you have a custom Python install on your path.

[2018-07-12 19:47] DanTup commented on #19056
I'm not sure, but it's possible https://github.com/flutter/flutter/pull/19281 might affect this; it's going to change the PATH when `ios-deploy` is invoked. Maybe worth testing on the `master` channel.

[2018-07-12 19:52] Hixie opened #19320 ""NoSuchMethodError: The getter 'pathSegments' was called on null." in service_extensions_test.dart"
Saw this flake on the linux infrabot:

[code]

[2018-07-12 20:05] devxpy commented on #19194
### setState()

`checkIfAuthenticated()` is placed in the `State` class, not the `StatefulWidget` class.

The [docs](https://docs.flutter.io/flutter/widgets/State/context.html) on `State` class say -

And sure enough, when I print out the `context` in `initState`, it is definitely there.

**However, If I remove the delay and immediately call `pushReplacementNamed()`, it does fail.**
(just like in

[2018-07-12 20:24] bparrishMines commented on #19274
cc @kroikie

1. Yes, the implementations will have to be in Java and Objective-C. We do this so a user wouldn't have to download swift and/or kotlin to use the plugin.

2. It depends on what your up for and what you need for your app. In my opinion, it's always easier to start with the simpler solution, then expand to a complex solution. The plugin is still in alpha, so the deprecated camera solut

[2018-07-12 20:41] #16084 closed

[2018-07-12 20:42] rgeurgas commented on #17765
It does the same thing on my OnePlus 5t

[2018-07-12 20:51] zoechi commented on #17765
@rgeurgas can you please add the output of `flutter doctor`?

[2018-07-12 20:54] munificent commented on #17862
Like @Hixie says, I hope we can solve this in the language and not resort to filtering out nulls. The problem with the latter is that it you have some incorrect code that returns null when you expect it to return a widget, instead of getting an early error that draws your attention correctly to the location of the bug, you just silently get nothing on screen.

[2018-07-12 20:55] zipzit commented on #19056
Terminal inside VS Code:
[code]

Systems Bash Terminal
[code]
I'm seeing the same error message when I run via `code .`

[2018-07-12 21:18] satish754ss commented on #13124
I want to save Imgapicker image in my folder,

[2018-07-12 21:30] jslavitz commented on #19308
Have you created a material or a Cupertino themed app? It seems as tho swiping to go back is only enabled by default in Cupertino themed apps.

[2018-07-12 21:31] Hixie commented on #17765
Weird, I wonder if the OnePlus 5s are sending us bogus pointer events or something.

[2018-07-12 21:34] Hixie commented on #19300
cc @goderbauer

[2018-07-12 21:50] hjJunior opened #19323 "Problem using Slider on AlertDialog"
I doing a AlertDialog, so when I tried to insert Slider widget inside the state of value sound realy stranger, and this doesn't happens if Slider is outside of AlertDialog

[code]

The complete widget code of AlertDialog

[code]

and everything is under State class of StatefullWidget.

Its look like doesn't update the value and when try to change the value keep in same position.

### Update 1

The

[2018-07-12 21:54] nesscx opened #19324 "How to fade in/out a widget from SliverAppBar while scrolling?"
I want to 'fade in' and 'fade out' a widget from SliverAppBar when user scrolls on the screen. This is an example of what I want to do:
<p align="center">
  <img src="https://user-images.githubusercontent.com/16904145/42661073-1780701e-85fb-11e8-9a74-d350086bcc32.gif" width="400" />
</p>

Here is my code without 'fading': https://gist.github.com/nesscx/721cd823350848e3d594ba95df68a7fa

[2018-07-12 21:55] rgeurgas commented on #17765
Logs:
[code]
Flutter analyze:
[code]

Flutter doctor:
[code]

[2018-07-12 21:58] Hixie commented on #19255
AnimatedWidget used to take an Animation, we changed it to a Listenable much later in its life (when it was first invented, Listenable didn't exist).

Changing this would be a very breaking change, it's probably too late to really make changes here. But it's something we can study when we look at the animation API updates we've discussed.

[2018-07-12 22:00] Hixie commented on #19236
I saw this on the bots.

[2018-07-12 22:02] Hixie commented on #16218
Yeah, we should definitely document this on FutureBuilder and StreamBuilder in particular, since people hit it for those a lot, as well as on StatelessWidget.build and State.build.

[2018-07-12 22:03] Rockvole commented on #19319
A reasonable workaround would be to have an opaque navigation bar, or to hide the navigation bar when the keyboard is dismissed.

I cannot work out how to do either of those.

[2018-07-12 22:03] Hixie commented on #16218
@devxpy Please file a new issue for the case where you're getting this in initState (including the stack trace).

[2018-07-12 22:04] devxpy commented on #16218
Sure

[2018-07-12 22:13] xster commented on #19269
Ya, the main difference is in how it links to the Element tree (in that functions don't get linked themselves and won't get triggered to rebuild themselves via the Element tree).

Some other examples:

- If your subtree depends on an InheritedWidget, a StatelessWidget will get surgically be marked to rebuild itself. If you used a function, the widget that gave the function its BuildContext will ge

[2018-07-12 22:16] gspencergoog commented on #9322
Closing as a dupe.

[2018-07-12 22:16] #9322 closed

[2018-07-12 22:22] lucaslcode commented on #18744
What triggers yours? Mine occurs while `await`ing a platform channel `invokeMethod`

[2018-07-12 23:38] goodis0 commented on #16049
@mravn-google can you explain how to

[2018-07-12 23:54] kibantony commented on #17592
See https://github.com/flutter/flutter/issues/18751

[2018-07-12 23:59] HansMuller commented on #17592
I hope to land a fix for this problem next week. Sorry about the long delay.

[2018-07-13 00:05] vagrantrobbie commented on #17227
@zoechi sorry for the late reply. I consider this closed. Thanks for following!

[2018-07-13 00:05] Rockvole commented on #19319
I tried to make the navigation bar opaque, with code in MainActivity.java :

    Window w = getWindow(); // in Activity's onCreate() for instance
    w.setFlags(WindowManager.LayoutParams.FLAG_LAYOUT_NO_LIMITS, WindowManager.LayoutParams.FLAG_LAYOUT_NO_LIMITS);
    w.setFlags(WindowManager.LayoutParams.FLAG_TRANSLUCENT_NAVIGATION, WindowManager.LayoutParams.FLAG_TRANSLUCENT_NAVIGATION);

And :

[2018-07-13 00:06] dustin-graham commented on #19274
@bparrishMines I've got a partial implementation working for the text detector on iOS. It only works when the preview video shows in landscape though. Is there a resource on your end I could ask some questions about iOS MLKit? I feel like the issue is a cross section between iOS MLKit and Flutter native textures. Basically: If I rotate the preview, the detector stops working.

![live_text_detector

[2018-07-13 00:13] liyuqian commented on #813
@christian-muertz Thanks for the information! However, I do need a little bit more information for debugging:

1. Run your app in profile mode `flutter run --profile` (note that the default `flutter run` and the green play triangle in the IDE are running your app in debug mode, and the first animation is definitely going to be very slow in that mode; that slowness should go away once you run in pr

[2018-07-13 00:22] ConProgramming opened #19328 "ListView Renders outside of constrained container before scrolling through it"
## Steps to Reproduce

1. Have the following code as a widget in your application

[code]
2. Run Code

Here is what happens before I scroll at all, as you can see it renders outside its container
![screenshot_20180712-185358](https://user-images.githubusercontent.com/20548516/42665614-05d86da2-8606-11e8-8d3b-6dc03a1b8819.png)

Once I begin to scroll, it looks like this, as it should
![screenshot_2

[2018-07-13 00:42] devxpy opened #19330 "Navigator doesn't work from initState()"
Using a Navigator from `initState()`, causes it to crash.

For example, the following code, will result in
[code]
This error -

[code]

## Steps to Reproduce
Run this file inside a flutter application.
[main.dart](https://gist.github.com/devxpy/d2e1892567919d919930be8388cd0010#file-main-dart)

## Logs
[output.txt](https://gist.github.com/devxpy/d2e1892567919d919930be8388cd0010#file-output-txt)

[c

[2018-07-13 00:44] devxpy commented on #16218
#19330

[2018-07-13 00:44] pacoyang commented on #19241
It works! I change the build system to "Legacy build system" and the problem disappear!
@darrarski  You are right, I think the new build system has stricter checks makes this error.

[2018-07-13 00:48] natebosch commented on #19208
Note that checking the timestamp on the `dart` binary also won't work for anyone with multiple SDKs switched by updated `$PATH`.

[2018-07-13 00:55] devxpy commented on #16218
Should I also create one for `didChangeDependencies()` too?

[2018-07-13 01:02] devxpy commented on #19330
Something to note:

If I somehow delay the call to `pushReplacementNamed()`, then the application works fine.

[code]

[2018-07-13 01:12] kunit1 commented on #19299
Thanks for the quick response. ButtonTheme definitely works as expected.

You may close the issue as you see fit.

[2018-07-13 01:48] devoncarew commented on #19208
I think we should have tools in the cli dart vm to validate that a particular snapshot file is supported by that vm, esp. given that the snapshot format doesn't have compatibility guarantees between vm versions.

[2018-07-13 02:27] abrathovde opened #19331 "EXCEPTION CAUGHT BY WIDGETS LIBRARY"
**Steps to recreate**
1. Run Android emulator with app open
2. In Android Studio open `Flutter Inspector`
3. Click `Toggle Platform Mode` twice

**Error message**
[code]
**Stack trace snippet**
[code]

[2018-07-13 02:54] myth2loki opened #19332 "Hope Flutter have feature like JSX"
Hi, Flutter:
  I am using react native, I thought that  the JSX is a nice suguar. I want Flutter should have it! Could you please have any plan on it?

[2018-07-13 03:33] iguiIllanes opened #19333 "Problems with pub upgrade"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

I've been using flutter for a while but every time I turn off my computer it stops working the only solution I could find is delete the flutter/bin/cache folder and download it all over again
is there any fix to this?
PD: every time I run flutter doctor I get the same error "Unable to pub-upgrade flutter tool, Retrying in five s

[2018-07-13 03:54] zoechi commented on #17227
@vagrantrobbie thanks for the status update!

[2018-07-13 03:54] #17227 closed

[2018-07-13 03:54] jonahwilliams commented on #18428
Fixed by https://github.com/flutter/flutter/pull/18643

[2018-07-13 03:54] #18428 closed

[2018-07-13 03:55] zoechi commented on #18744
I haven't tracked the location down yet.

[2018-07-13 03:55] jonahwilliams commented on #18646
Closing as fixed but feel free to reopen if you are still seeing this

[2018-07-13 03:55] #18646 closed

[2018-07-13 05:14] baeharam opened #19334 "Firebase database.reference(), static problem"
I tried to use database.reference() in global context of build() method, but it occurred error "Only static members can be accessed in intializers". So I read a code and realized instance of FirebaseDatabase is a static member, but what I'm curious is below code.

[code]

My question is this. Why database.reference() is valid in initState() method? Thank you for ur helping

[2018-07-13 05:39] escamoteur commented on #17862
I m happy with any improvement putting it in the language will be helpful in other places too.

[2018-07-13 05:50] jiangjh opened #19335 "did TextField has deleteBackward method like iOS?"

[2018-07-13 06:20] zoechi commented on #19334
What does that mean. Can you please post the code you tried and the exact error message?

Why would it not be valid? I's valid everywhere where any statements are valid.

I think this kind of question is a better fit for https://gitter.im/flutter/flutter or https://stackoverflow.com/questions/tagged/flutter

[2018-07-13 06:23] zoechi commented on #19333
Please add the output of `flutter doctor`.

Did you look through similar reports and suggestions how to fix it
https://github.com/flutter/flutter/issues?utf8=%E2%9C%93&q=is%3Aissue+%22retrying+in+five+seconds%22+

[2018-07-13 06:29] zoechi commented on #19328
Can you please try if you can reproduce in `dev` channel.

[code]

[2018-07-13 06:29] jaswant0605 commented on #16855
'child' in alert dialog is deprecated, instead, use builder to generate your alert dialog. It might work.

[2018-07-13 06:33] ajinasokan commented on #18756
@timsneath, I will summarise two issues related to TabBarView we have experienced. One happens when you have a nested TabBarView and second is when you have a TextField in focus in one of the tab pages. In the app we are building we have both scenarios. @sahil311289 had the TextField issue. I believe he fixed the issue by using Stack instead of TabBarView along with the BottomNavigation as impleme

[2018-07-13 06:34] DevilWarrior commented on #11975
@The-Redhat Mind sharing your workaround? How did you dispose the state or structured your code different;y?

[2018-07-13 06:35] mohith7548 commented on #18564
Hey did you use showDialog method. When there is a text field in it. The keyboard automatically shifts the dialog up and appears on screen when the text field is tapped. Why it doesn't happen in case of ModalBottom sheet. This is a bug and it needs to be fixed soon

[2018-07-13 06:36] zoechi commented on #16855
@MageshPandian20 Sorry for the late response.
Is this still an issue?

[2018-07-13 06:41] MiguelCatalan commented on #18652
Sorry for answering so late.

1. The output of the `echo $SHELL` instruction outputs: `/bin/bash`
2. Afte running `flutter clean`, the `flutter -v run` instruction outputs: (was so large that cant be printed in a github comment, here it is a link to a gist: https://gist.github.com/MiguelCatalan/8e2f7084032cd18072f4b5bf73635090)

[2018-07-13 06:47] zoechi commented on #19324
I think this would be a great StackOverflow question.

[2018-07-13 06:50] baeharam commented on #19334
@zoechi Sorry for my weak knowledge about flutter, it was solved

[2018-07-13 07:05] satish754ss commented on #17947
can I set front camera only for ImagePicker in flutter?

[2018-07-13 07:09] zoechi commented on #19334
Glad to hear. I guess it's ok to close then.

[2018-07-13 07:09] #19334 closed

[2018-07-13 07:30] jaumard commented on #3969
Any idea when we it will be @tvolkert @DaveShuckerow  ? Even if it's an external plugin for now it will still be really useful :) thx

[2018-07-13 07:32] briefness commented on #19257
I don't know why？
I tried everything but there's still no solution.
Do I need to reinstall it？

[2018-07-13 07:47] zoechi commented on #18744
After the latest Flutter update symbolification prints
[code]
[code]

[2018-07-13 07:52] zoechi commented on #12722
Is there still something to do?

[2018-07-13 07:53] zoechi commented on #16363
Sorry for not responding earlier.
Is this still an issue with recent Flutter and plugin versions?

[2018-07-13 07:54] zoechi commented on #15391
I have seen this error mentioned when Flutter was installed in `C:/Program Files` or another directory where only the Administrator has write permissions.

Is this still an issue?

[2018-07-13 07:59] zoechi commented on #16201
Sorry for the late response. Is this still an issue in recent Flutter versions?

[2018-07-13 08:00] sadia60 commented on #15112
Add new before every Widget

[2018-07-13 08:01] zoechi commented on #16381
Sorry for the late response. Is this still the case in recent Flutter versions?

[2018-07-13 08:05] zoechi commented on #15420
Sorry for the late response. Is this still an issue for anyone?

[2018-07-13 08:06] zoechi commented on #16410
I believe this was fixed.
Is this still an issue for you?

[2018-07-13 08:07] asaarnak opened #19337 "Support Android Studio 3.3 Stable"
Update flutter tooling and android templates to Gradle 4.9.

Gradle compatibility: Android Gradle Plugin 3.3.0-alpha3 and higher now requires Gradle 4.9 RC1 or higher.

[2018-07-13 08:08] rrousselGit commented on #19255
A bit off topic but where can I find that "animation API update discussion"?

[2018-07-13 08:08] zoechi commented on #16373
Sorry for the late response. Is this still an issue in recent Flutter versions?

[2018-07-13 08:09] zoechi commented on #16414
This issue doesn't seem to contain any information.
I'm closing this out. If there is still a problem please create a new issue with more information.

[2018-07-13 08:09] #16414 closed

[2018-07-13 08:12] zoechi commented on #16421
flutter/plugins#553 is addressing that

[2018-07-13 08:20] zoechi commented on #16439
This issue doesn't seem to contain any information.
I'm going to close it out.
Please create a new issue with more information if you think there is something to do.

[2018-07-13 08:20] #16439 closed

[2018-07-13 08:21] zoechi commented on #15906
Sorry for the late reply.
Is this still an issue with recent Flutter versions?

[2018-07-13 08:21] zoechi commented on #15976
@joon610 I assume this can be closed then.

[2018-07-13 08:21] #15976 closed

[2018-07-13 08:23] zoechi commented on #15664
I believe the SO answer answers the question. Thanks @LRNZ09

[2018-07-13 08:23] #15664 closed

[2018-07-13 08:24] zoechi commented on #16481
Sorry for the late response.
Is this still an issue in recent Flutter versions?

[2018-07-13 08:28] SylvainLosey opened #19338 "CocoaPods error when running app on iOS emulator"
## Steps to Reproduce

Launching app on iOS emulator renders error message from CocoaPods. There is no error when running the same app on an Android emulator.

## Logs

[code]
    ### Command

[code]

### Report
    * What did you do?
    * What did you expect to happen?
    * What happened instead?

### Stack
[code]

### Plugins

[code]

### Podfile
[code]

### Error

[code]

    ――― TEMPLATE END

[2018-07-13 08:39] zoechi commented on #19338
I was wondering where these versions come from
[code]

also in `flutter doctor` output it mentions `/Users/sylvain/development/flutter`
and the error message mentions `Errno::EACCES - Permission denied @ dir_s_mkdir - /Users/Development`

any idea where `/Users/Development` might come from?

[2018-07-13 08:41] zoechi commented on #15112
@sadia60 that sounds like you are using an old Flutter version. `new` became optional a while ago.

[2018-07-13 08:42] zoechi commented on #19323
Please add the output of `flutter doctor`.

[2018-07-13 08:45] arsensaruhanyan2611 opened #19339 "assert home == null || !routes.containsKey(Navigator.defaultRouteName)"
## Steps to Reproduce
I think it's problem in 2 files: [app.dart](https://github.com/arsensaruhanyan2611/TravelMet-Flutter/blob/master/app.dart) and [login_page.dart](https://github.com/arsensaruhanyan2611/TravelMet-Flutter/blob/master/login_page.dart)

1. Some exceptions started after using Google Sign in Template (Deleted it because of I want to solve it after all another problems), so, may be t

[2018-07-13 08:52] keranno commented on #19338
I don't know where these versions come from, the versions indicated in my pubsec.yaml file are:

[code]

And I don't know where Users/development comes from, I never specified it anywhere and as far as I know there is nothing there.

If this can be any help I encountered this error while following a tutorial, the finished app code is here: [https://github.com/StephenGrider/FlutterCasts/tree/master

[2018-07-13 09:07] zoechi commented on #19339
I think it's caused by https://github.com/arsensaruhanyan2611/TravelMet-Flutter/blob/master/app.dart#L21

https://docs.flutter.io/flutter/material/MaterialApp/onGenerateRoute.html says

This is what the error message says is not allowed. If `home:` is provided no route `/` must exist.

[2018-07-13 09:32] Panthro commented on #15245
@escamoteur nope, I have 2 databases in firebase, and I change my `json` file before build accordingly to which flavor I'm building.

[2018-07-13 09:33] zoechi commented on #19323
This Flutter version is quite outdated. Can you please try if you can reproduce with a recent version?
`beta` or better `dev` channel, because the latest `beta` is also already a bit dated.

[2018-07-13 09:35] Panthro commented on #15245
to clear up my setup:

- Unit Tests with `flutter test`: I used the mocks file mentioned above
- Integration tests with `flutter drive`: I have a script that changes the firebase json file before executing the tests
- Production: is the default one, that runs in my CI with the prod database json file.

[2018-07-13 09:39] MageshPandian20 commented on #16855
@zoechi  no after i clear my build folder its work

[2018-07-13 09:41] arsensaruhanyan2611 commented on #19339
No, I don't understand :( Can you please explain?..

[2018-07-13 09:42] zoechi commented on #16855
Great! Thanks for the update.
There is an issue already for the problem that `flutter clean` is often necessary.

[2018-07-13 09:42] #16855 closed

[2018-07-13 09:44] zoechi commented on #19339
Sorry, don't have deep understanding here myself yet.
Just checked the docs and that looked related.

[2018-07-13 09:48] arsensaruhanyan2611 commented on #19339
Okay, then I'll try to do something else (or literally wait for somebody else). But in any case, thanks for the help.

[2018-07-13 09:50] maral commented on #18391
I encountered the same problem in emulator, however the problem disappeared on my Android phone. Maybe a bug of the emulator?

[2018-07-13 09:51] jaumard commented on #17796
Same for me =(

[2018-07-13 09:58] zoechi opened #19340 "Running test from IntelliJ crashes, `flutter test` works"
[code]

![image](https://user-images.githubusercontent.com/405837/42685676-ef648dba-8693-11e8-9c2a-b84abadf2e80.png)

![image](https://user-images.githubusercontent.com/405837/42685697-fc943972-8693-11e8-8880-4e178328627e.png)

[✓] Flutter (Channel master, v0.5.7-pre.111, on Mac OS X 10.13.5 17F77, locale en-AT)
    • Flutter version 0.5.7-pre.111 at /Users/zoechi/flutter/flutter
    • Framework r

[2018-07-13 10:34] zoechi commented on #19323
The issue is the same, right?

[2018-07-13 10:36] hjJunior commented on #19323
Yep :(

[2018-07-13 10:40] zoechi commented on #19323
There is already an answer on https://stackoverflow.com/questions/51271061/flutter-why-slider-doesnt-update-in-alertdialog so I'm going to close this issue.

[2018-07-13 10:40] #19323 closed

[2018-07-13 10:43] hjJunior commented on #19323
@zoechi  This answer it was opened about me in StackOverflow

[2018-07-13 10:58] zoechi commented on #19323
I know. I'm quite positive the answer you get there is a good one.

[2018-07-13 11:22] wendux opened #19341 "RegExp.matchAsPrefix cause "StackOverflowError" on ios"
Sometimes RegExp.matchAsPrefix cause "StackOverflowError" on ios but the android is OK.

logs:
[code]

flutter version
[code]

[2018-07-13 11:44] Morosko commented on #8101
Hi, I have a similar question. My Pagelayout looks something like this:
- PageView
  - Custom Widget
    - StreamBuilder
      - ListView constructed via ListView.builder

Now when I scroll down my ListView and then changed pages and come back exactly the thing @DavidMihola  mentioned happens. It doesn't remember the index it was at. Is there any variable / reference I can pass down to the ListVie

[2018-07-13 12:02] zoechi commented on #19323
I think it's rather because the slider is build by a function, not by a widget.
See also this discussion #19269

[2018-07-13 12:06] zoechi commented on #19341
Would you mind reporting this issue in https://github.com/dart-lang/sdk/issues/new
with the regex, the string you used it with and the code that caused the exception.
Thanks

[2018-07-13 12:48] ChAraya commented on #18925
Sorry guys i was very busy now i'm back, ok i tried to recreate the problem but couldn't in the test proyect work just fine, So i figured out that the problem wasn't the navigator, was the login interface so i fix it and now all works, sorry =/

[2018-07-13 12:48] #18925 closed

[2018-07-13 12:55] ChAraya opened #19343 "DropDownList inside Dialog"
I'm, trying to display a dropdownlist inside a simpledialog widget, the problem that i have is that when i select an option the value selected in the dropwdown doesn't refresh, but when i reload the app show the new value selected.

here is the code

[code]

This option is insde my Drawer so user can notify a bug or something in the app.

[2018-07-13 12:56] The-Redhat commented on #11975
I held the state in an variable to perform later updates and initialized it only once at startup (PageState createState () => pageState). My workaround was to remove the variable and use PageState createState() => new PageState().

[2018-07-13 13:10] Galahand commented on #15906
right now i'm using channel beta v0.4.4 with cloud_firestore 0.7.3 with no issues

[2018-07-13 13:15] christian-muertz commented on #813
Thanks for your effort. Here are the files!
I will work an sample app and i will send it to you asap :D

[2018-07-13 13:51] asapJ opened #19344 "Does flutter have a contextual action bar (CAB) equivalent, a way to sort a list of files by date modified or even a way to get frames from a video to be used as thumbnail?"
have been geting use cases that requires either of those, but Haven't found how any of that can be implemented yet.
Who else sees a need for those features?

[2018-07-13 14:04] christian-muertz commented on #813
Hmm my sample app has no jank

[2018-07-13 14:09] modulovalue commented on #17414
I'm also struggling with this.

![bildschirmfoto 2018-07-13 um 16 02 00](https://user-images.githubusercontent.com/24444584/42695583-23e835ec-86b6-11e8-9b45-44464ba641fc.jpg)

As you can see, changing the style property of the DropdownButton also changes the style property of the items.

[2018-07-13 14:31] zoechi commented on #15906
@Galahand Thanks for the update! I'm going to close the issue.
Feel free to create a new one if you think something needs to be fixed.

[2018-07-13 14:31] #15906 closed

[2018-07-13 14:33] zoechi commented on #11975
Tentatively closing.
Feel free to create a new one if you think there is some work to do.

[2018-07-13 15:04] SteveAlexander opened #19345 "crash with image that is larger than _maximumSizeBytes from image_cache.dart"
## Steps to Reproduce

1. clone https://github.com/SteveAlexander/flutter_issue
2. run in an iPhone simulator
3. see that there's a busy loop continually reloading the PNG asset until it crashes

I think what's going on is, in painting/image_cache.dart, a decoded image that is larger than _maximumSizeBytes gets evicted from the cache as soon as it is put in there, and this somehow causes the asset

[2018-07-13 15:15] mehmetf commented on #13736
@Hixie @HansMuller Why are we stalled on this issue? Is it because we don't have more evidence/use cases to go on?

[2018-07-13 15:19] lakexyde commented on #19116
Thanks @adriancmurray . It worked.

[2018-07-13 15:25] arsensaruhanyan2611 commented on #19339
@zoechi oh, I'm sorry, I forgot to change name

[2018-07-13 15:38] zoechi commented on #19344
Any screenshot or link to more details what the appearance and behavior?

[2018-07-13 15:39] zoechi commented on #19343
Looks like a dup of #19323

[2018-07-13 15:47] zoechi commented on #19116
@lakexyde I assume it's save to close this issue then?

[2018-07-13 15:47] #19116 closed

[2018-07-13 16:03] thosakwe commented on #357
I want to share my current flow, for all those who find this issue, whether from a Web search, through perusing Flutter's issue tracker, or otherwise.

Obviously, there are a variety of ways to provide OAuth/SSO flows, but some feel clunkier than others, and this is the smoothest approach I've tried, at least in terms of user experience.

There more often than not will have to be some sort of Web

[2018-07-13 16:04] jaggerwang opened #19346 "When extends a class with mixin in dart, call super function got error “The class XXX doesn't have an unnamed constructor.”"
## Error

Calling super() in constructor of TumblrTextPostEntity, got error "[dart] The class 'TumblrPostEntity' doesn't have an unnamed constructor.". Can anybody help me, I can't figure out where the problem is.

## Code

*tumblr_post.dart*

[code]

*tumblr_post.g.dart*

[code]

[2018-07-13 16:13] arsensaruhanyan2611 commented on #19339
Apparently the compiler realized that it's impossible to just start the application without spending extra time. No, seriously, I deleted Google Sign-in from the list of dependencies 6 hours ago and here it is like nothing happened with lib.
[imgur](https://imgur.com/a/ckQkpas)

P.S. Sorry for cyrillic. A red block with exception is "An exception occurred", block with hashcode, runtimeType and mes

[2018-07-13 16:18] nesscx commented on #19324
https://stackoverflow.com/questions/51321804/how-to-fade-in-out-a-widget-from-sliverappbar-while-scrolling

[2018-07-13 16:28] Sfshaza commented on #19316
@jjerome00, which Android tutorial?

[2018-07-13 16:33] Sfshaza commented on #18304
Thanks for fixing, @brianegan! Closing.

[2018-07-13 16:33] #18304 closed

[2018-07-13 16:38] mmcc007 commented on #7053
Until this get's resolved, is there a recommendation for an example flutter plugin thats shows how to integrate a c/c++ lib? Is [djinni](https://github.com/dropbox/djinni) a good way to go?

[2018-07-13 16:39] asapJ commented on #19344
![screenshot_2018-07-13-17-32-16](https://user-images.githubusercontent.com/33837248/42702961-ee5f566e-86c2-11e8-9403-0b780121d539.png)

For the CAB, see the attached screen shot of how it works
Another example is selecting multiple items from a grid
Check this link too..
http://www.technotalkative.com/contextual-action-bar-cab-android/

For the sorting files by date modified Its quite explanatory

[2018-07-13 16:58] asapJ commented on #19344
@zoechi

[2018-07-13 17:15] lukepighetti opened #19347 "NoSuchMethodError: The getter 'className' was called on null."
So I created a custom class and I'm trying to build it with data from Firebase.

I get a Map<dynamic> from firebase and tease it apart with .map() and returning Lists instances of class SocialLink (working merely as a struct).

here's the code

[code]

Problem is I get this error (stack trace)

[code]

[2018-07-13 17:17] lukepighetti commented on #19347
[code]

[2018-07-13 17:18] aam commented on #19296
This was fixed by https://github.com/flutter/flutter/commit/b075229d8504e9cbb1f4d86799e5fba6e699c477

[2018-07-13 17:18] #19296 closed

[2018-07-13 17:18] rmtmckenzie commented on #7053
Until it's resolved, the only way to integrate c/c++ writing native android & ios code, then interfacing to the dart code using [platform channels](https://flutter.io/platform-channels/)

[2018-07-13 17:20] lidroider commented on #19004
I have same issues
@MarioClot
I removed click_action but it don't effect
[code]

[2018-07-13 17:29] ChristBKK commented on #14765
+1 for this one

[2018-07-13 17:37] #19305 closed

[2018-07-13 17:39] lukepighetti commented on #19347
I tried refactoring to a .forEach loop and I got the same errors. Perhaps the .map() has nothing to do with it... I shall dig further

[2018-07-13 17:40] bparrishMines commented on #19274
@kroikie Do you know anything about this?

Also, @dustin-graham, could you create the PR and reference this issue so we could take a look at the code.

[2018-07-13 17:42] lukepighetti commented on #19347
Oh, I have been getting this error every other time I try to build the app (for debug), I don't know if it's related.

[code]

[2018-07-13 17:53] mmcc007 commented on #7053
I've implemented plugins that use platform channels (to jar files and CocoaPods). I'm looking for an example plugin that shows how to integrate to the same c/c++ lib (for both android and ios). Any recommendations?

[2018-07-13 18:04] DuanTzXavier opened #19348 "http get can't solve response error : Invalid media type"
### Logs

[code]

### Code

[code]
can't resolve response.body

but when I use UTF8Codec class resolve bodybytes ,it works!

[code]
here is success log:
[code]

### flutter doctor -v

[code]

[2018-07-13 18:07] DuanTzXavier commented on #19348
Maybe it's a bug of dart http package....

[2018-07-13 18:08] liyuqian commented on #13736
@mehmetf My understanding is that the fade transition is much faster now, but there's still room for further speedup. In particular, we're trying to enable retained layers. @chinmaygarde is actively working on that. Once it's done, I should be able to send a small patch to speedup animating the opacity.

[2018-07-13 18:18] lukepighetti commented on #19347
Same error on Beta channel

[code]

<img width="1075" alt="screen shot 2018-07-13 at 2 18 04 pm" src="https://user-images.githubusercontent.com/666539/42707261-a14f9f16-86a7-11e8-9a00-09008c0203d5.png">

[code]

[2018-07-13 18:20] lukepighetti commented on #19347
I just so happened to be watching this expression and this is an interesting clue that was not available anywhere else...

<img width="1468" alt="screen shot 2018-07-13 at 2 19 39 pm" src="https://user-images.githubusercontent.com/666539/42707328-d53c4914-86a7-11e8-98f3-79960014cade.png">

[2018-07-13 18:20] devxpy commented on #8604
I feel like the use of thin fonts on the docs is a bad choice. It really unreadable. The font weight should be kept normal.

[2018-07-13 18:20] lukepighetti commented on #19347
[code]

[2018-07-13 18:24] InMatrix opened #19349 "Broken link in the debugProfileBuildsEnabled doc"
I was trying to learn how to use [debugProfileBuildsEnabled](https://docs.flutter.io/flutter/widgets/debugProfileBuildsEnabled.html). The API doc pointed me to https://fuchsia.googlesource.com/sysui/+/master/docs/performance.md, which no longer existed. We should either remove the link, or better yet, replace that doc.

Related bug: https://github.com/flutter/flutter/issues/15455

[2018-07-13 18:29] liyuqian opened #19350 "Loading fonts in the first time creates jank"
Please see the following timeline trace (produced by our client in https://github.com/flutter/flutter/issues/813#issuecomment-404830195):
[Archiv.zip](https://github.com/flutter/flutter/files/2193775/Archiv.zip)

There's a 100ms jank caused by font loading:
![image](https://user-images.githubusercontent.com/22987568/42707667-df19e300-868f-11e8-8887-5c1d760e3b9d.png)

[2018-07-13 18:29] liyuqian commented on #19350
@chinmaygarde @Hixie

[2018-07-13 18:30] ConProgramming commented on #19328
The issue isn't there in dev channel. Any idea why and when the fix will reach the stabler beta channel?

[2018-07-13 18:32] liyuqian commented on #813
@christian-muertz : according to the timeline trace you sent, we believe that it's caused by font loading. Can you try to add a few empty paragraphs to your first screen with all the fonts that your app uses, and see if there's still a jank when you start the first animation? Hopefully this will also help you create a sample app to demonstrate the issue.

[2018-07-13 18:34] lukepighetti commented on #19347
OK I found the error.

Basically I was trying to call `myAwesomeMap['myAwesomeKey'].values` on a map without `myAwesomeKey`. For some reason the error/stack trace wasn't very useful but this can be closed I think. ?

[2018-07-13 18:35] jason-simmons commented on #19273
In this scenario, the app is throwing an exception when run from flutter_tester on a Linux platform:

This started with https://github.com/flutter/flutter/commit/b3a6eda2d1db785b3d8d5a1b54a6b87163b45492

@Hixie

[code]

[2018-07-13 18:52] xster commented on #18737
@gspencergoog can you take a look?

[2018-07-13 18:57] lukepighetti commented on #19153
@lukef whenever I get a snapshot from Firebase the results are not in order. In my experience on JS they are always in order based on id unless you explicitly sort them otherwise. Am I missing something?

[2018-07-13 19:14] lukepighetti opened #19351 "firebase_core 0.2.4 unhandled exception on hot restart"
[code]

[code]

[2018-07-13 19:41] dustin-graham commented on #19274
I'll work on getting that to you today.

On Fri, Jul 13, 2018, 10:41 AM Maurice Parrish <notifications@github.com>
wrote:

[2018-07-13 19:51] ozc commented on #19152
I think I've found the reason. On non-phone ios devices creating a share popup is a bit different as it seems. I don't know much about ios development and obj-c, but modified the plugin code from stackoverflow to fit the plugin. It doesn't crash anymore.

https://stackoverflow.com/questions/31506081/sharing-button-works-perfectly-on-iphone-but-crash-on-ipad

https://stackoverflow.com/questions/256

[2018-07-13 19:52] jacob314 opened #19354 "VM Service extensions crash the Flutter VM"
## Steps to Reproduce

Modify any ext.flutter. service extension to throw an exception
For example modify the debugPaint service extension as follows:

[code]
Trigger the service extension either from flutter tool or from intellij.
From flutter tool, press 'p' to trigger this extension.

From intellij you just get a crash in C++ code. With flutter tool you get a bit more information.
Example

[cod

[2018-07-13 20:00] #19267 closed

[2018-07-13 20:02] ozc commented on #19338
You may try opening workspace file in ios directory and check paths in build settings tab. And then in ios directory run `pod deintegrate` and `pod install`.

Last time I've moved the folder to another computer these steps fixed my problem.

[2018-07-13 20:29] aam commented on #19354
I tried this on beta(c7ea3ca377e909469c68f2ab878a5bc53d3cf66b), it exhibits same behavior. So this is not recent regression.

[2018-07-13 21:08] DanTup commented on #19273
Ah yes :(

Although, I don't think this is the real issue @gspencergoog was hitting when running the tests (that resulted in trying to use flutter-tester directly) as when running the tests we set the `FLUTTER_TEST` env variable:

https://github.com/flutter/flutter/blob/8359d99e48171a3664a90e41780666bcd4bc83d8/packages/flutter_tools/test/integration/test_driver.dart#L141-L144

Which forces Android

[2018-07-13 21:14] zanderso commented on #18617
The above fixes have rolled into Fuchsia. Not on WiFi, but I observed the dashboard running without exhausting fds for 6-7 days.

[2018-07-13 21:14] #18617 closed

[2018-07-13 21:15] sccrgoalie1 commented on #18828
I used this StackOverflow question for a workaround.  Basically, by storing the future the page doesn't reload when you click in the test field

[https://stackoverflow.com/questions/51224420/flutter-switching-to-tab-reloads-widgets-and-runs-futurebuilder](https://stackoverflow.com/questions/51224420/flutter-switching-to-tab-reloads-widgets-and-runs-futurebuilder)

[2018-07-13 21:19] DanTup commented on #19273
Actually, we set this variable also when spawning flutter_tester from inside the tools:

https://github.com/flutter/flutter/blob/b3a6eda2d1db785b3d8d5a1b54a6b87163b45492/packages/flutter_tools/lib/src/tester/flutter_tester.dart#L153-L156

So it shouldn't be affecting `flutter run -d flutter-tester` either?

[2018-07-13 21:21] aam commented on #19354
The RPC exception above is really bringing just flutter tools down. The reason for that is that flutter tools doesn't handle exceptions thrown by RPC call. Wrapping _debugToggleDebugPaintSizeEnabled in flutter_tools/lib/src/resident_runner.dart with `try {} on Exception catch() {}` allows flutter tools to handle it.

[2018-07-13 21:22] DanTup commented on #19340
Maybe related:

https://github.com/flutter/flutter/issues/17989

It came up previously and the change was reverted. I don't know if it's been re-applied and the underlying issue still remains (cc @aam @mravn-google).

[2018-07-13 21:43] jason-simmons commented on #19245
I can reproduce this.  It's getting stuck in an infinite loop in `RenderShrinkWrappingViewport.performLayout`

[2018-07-13 21:46] MStanoevich opened #19356 "How to reproduce .setTimestampsInSnapshotsEnabled(true) in Flutter"
I am trying to upload an image to Firebase Storage but when I try to do so I get the following message:

[code]
I am not sure how to implement this in Flutter as I cannot find any Settings type class nor any similar methods as in the example in the documentation.

Thank you in advance!

[2018-07-13 21:47] jason-simmons commented on #19350
I recently changed the engine to load fonts lazily in order to reduce resource consumption from fonts that are listed in the manifest but are never used:
    https://github.com/flutter/engine/commit/c3c40cf958f01fc473ebfc94f7bc73fc878bc1f5

We should offer an API for eagerly loading a font during app startup if this is a performance concern

[2018-07-13 22:02] xster commented on #7593
Duping #18988 which has more recent activity

[2018-07-13 22:02] #7593 closed

[2018-07-13 22:07] thosakwe opened #19357 "Add a `closeUrlLauncher` method to package:url_launcher"
This issue is in relation to my comment on #357 (https://github.com/flutter/flutter/issues/357#issuecomment-404877612), and I plan on sending a PR for this (in fact, I'm about to start working on one).

In addition to `canLaunch` and `launch`, I 100% believe that the `url_launcher` package needs a way to close the launched URL, at least when running in a WebView.

In cases like OAuth or other sing

[2018-07-13 22:10] mehmetf commented on #13736
Removing customer blocker tag as per internal discussion.

[2018-07-13 22:12] jason-simmons commented on #19273
https://github.com/flutter/flutter/commit/acf3f3d839252955d9daf830f2aab25345831a0a is causing flutter_tools to exit when used with `-d flutter-tester`.

Prior to this change, flutter_tools would build and run the app code under flutter_tester and then query the service protocol for the list of Flutter views.  The service protocol would return an empty list, and connectToServiceProtocol() would con

[2018-07-13 22:13] xster opened #19358 "Unmount everything and dispose States when host activity dies"
Looking at #19159, it seems reasonable looking at the API doc to expect the State.dispose to be called when the FlutterActivity is finishing/being destroyed. Yet it never gets called and there's an inbalance between things registered and/or created during initState() and things unregistered and/or released during dispose().

Should we:

1. Have FlutterView also handle onDestroy() (and equivalent o

[2018-07-13 22:18] matthew-carroll commented on #19358
One thing that needs to be considered here is the possibility that Flutter is used across Activitys.  I haven't looked much at that use-case, so I'm not sure how much of that scenario is about persisting the Dart process vs persisting Flutter hierarchy.  But let's not immediately assume that Flutter should disappear when an Activity or FlutterView is destroyed - if that's what is being suggested,

[2018-07-13 22:20] matthew-carroll commented on #19358
WRT to #19159 - if the true problem of that ticket is a failure to unregister, why would the ticket require 20 Activity restarts to develop the issue?  I might expect a memory leak in that scenario, but #19159 says the issue is an ANR which is a CPU lockup, not a memory pressure issue.

I'd like to understand more clearly why this disposal problem is supposedly causing that other issue...

[2018-07-13 22:30] multinucliated opened #19359 "Error with space in path to Android SDK"
## Steps to Reproduce

1.I got the sdk from official website and try to run simple command "flutter doctor" in flutter_console.bat ,than I got this error :

## Logs
[code]

[2018-07-13 22:33] xster commented on #19159
Thanks for the reduced test case. I ran your example via `adb shell am start -n com.example.flutterlooprunner/.RunnerActivity`

I couldn't reproduce a crash. cc @jason-simmons in case you can make anything out of the crash stack

Though there's definitely an issue here since previous activities' Timers are still running. #19358 to discuss.

In the meantime, adding a WidgetsBindingObserver via Widg

[2018-07-13 22:36] Rockvole opened #19360 "Landscape mode with hidden navigation bar overflows screen on tablets"
I am writing an app primarily intended to be used in landscape mode. I calculate the height using

    MediaQuery.of(context).size.height
The full screen height is correctly calculated, but on tablets where the navigation buttons (back, home, square) are hidden, the drawn parts throws an error.

    A RenderFlex overflowed by 28 pixels on the bottom.

The overflow exception would only be correct i

[2018-07-13 22:37] xster commented on #19358
https://github.com/flutter/engine/pull/5640/files seems to be making the case of calling out backgroundable 'hosts' explicitly but making it an explicit signal (which may be auto-hooked) sounds great.

[2018-07-13 22:38] Rockvole commented on #19360
![screenshot_20180713-150127](https://user-images.githubusercontent.com/4139576/42716903-b071179e-86b2-11e8-89a4-f777f417c0a4.png)

[2018-07-13 22:45] Rockvole commented on #19360
This has similarities to my other issue :
[Landscape mode with navigation buttons screen redraw on phones broken.](https://github.com/flutter/flutter/issues/19319)

This doesnt seem to be an issue on phones because phones keep the navigation bar on the short edge and it doesnt trigger the same problem.

My workaround for now is to leave a bunch of wasted space at the bottom of the screen on all de

[2018-07-13 22:46] zanderso commented on #18519
It looks like these benchmarks improved after the recent roll that included @rmacnak-google 's fix. @goderbauer can we close this?

[2018-07-13 22:51] mjohnsullivan commented on #4138
With #5267 animating the chevrons to semi transparent, should we just make them completely transparent for the drag gesture?

[2018-07-13 23:02] goderbauer commented on #18519
Sounds good.

[2018-07-13 23:02] #18519 closed

[2018-07-13 23:02] Rockvole commented on #19360
This is on a Nexus 9
https://github.com/flutter/flutter/issues/12310

[✓] Flutter (Channel beta, v0.5.1, on Linux, locale en_CA.UTF-8)
    • Flutter version 0.5.1 at /work/installs/flutter
    • Framework revision c7ea3ca377 (6 weeks ago), 2018-05-29 21:07:33 +0200
    • Engine revision 1ed25ca7b7
    • Dart version 2.0.0-dev.58.0.flutter-f981f09760

[✓] Android toolchain - develop for Android dev

[2018-07-13 23:04] lukepighetti opened #19361 "firebase_storage does not auth?"
I have anonymous auth working.

[code]

<img width="883" alt="screen shot 2018-07-13 at 7 01 44 pm" src="https://user-images.githubusercontent.com/666539/42717470-39085600-86cf-11e8-9e92-3d08322c050a.png">

And my rules are as follows

[code]

And I keep getting this error

<img width="1126" alt="screen shot 2018-07-13 at 7 02 38 pm" src="https://user-images.githubusercontent.com/666539/42717485-5

[2018-07-13 23:14] pulyaevskiy opened #19362 "Flutter crash report: NoSuchMethodError: The method 'shutdown' was called on null."
## command

flutter --no-color test --machine --plain-name happy path test test/happy_path_test.dart

## exception

NoSuchMethodError: NoSuchMethodError: The method 'shutdown' was called on null.
Receiver: null
Tried calling: shutdown()

[code]

## flutter doctor

[code]

[2018-07-13 23:33] HansMuller commented on #4138
Fading the chevrons out during the drag sounds reasonable to me.

[2018-07-13 23:44] Hixie commented on #9075
I'm going to close this issue because I think the original request, as phrased, is underdefined and possibly unsolvable. I encourage anyone who runs into this to file a new bug, describing the specific case they are running into, so that we can consider narrower cases on a case by case basis.

[2018-07-13 23:44] #9075 closed

[2018-07-13 23:44] Hixie commented on #2115
Pass a StatefulBuilder as the root widget you pass to showModalBottomSheet, then call its setState.

[2018-07-14 00:14] Rockvole commented on #19360
I found a way to detect tablet sized screens, so I can have the black bar on tablets only.

    double shortestSide = MediaQuery.of(context).size.shortestSide;
    bool useMobileLayout = shortestSide < 600;
    double heightOffset=0.0;
    if(!useMobileLayout) heightOffset=48.0;
    double screenHeight = MediaQuery.of(context).size.height-heightOffset;

This is not ideal since I believe the majori

[2018-07-14 00:47] acangiano commented on #16025
On Windows 10, this worked for me:

`set JAVA_OPTS=-XX:+IgnoreUnrecognizedVMOptions --add-modules java.se.ee`

Then:

`C:\Users\%username%\AppData\Local\Android\Sdk\tools\bin\sdkmanager --licenses`

[2018-07-14 02:00] pneves001 opened #19364 "Large base64 encoded images loaded using Image.network() not displaying."
Large base64 encoded images loaded using Image.network()  not displaying.

1. create a simple test app.
2. Try to display the image on the screen by loading it through Image.network().
https://pastebin.com/tDV4NfPV
3. test app see if image displays.

The base64 encoded images work with smaller images. But larger images fail. the Image in the pastebin is 17K. Thats too big and it fails.

## Logs

[

[2018-07-14 02:59] vail130 commented on #9363
Any updates here? I'd like this feature to disable auto-caps in text form fields for things like usernames, which people normally do not capitalize.

[2018-07-14 03:42] jonahwilliams commented on #18540
This won't actually be usable until the next engine roll, probably early next week

[2018-07-14 03:50] jiangjh opened #19366 "Did ScrollController has setContentOffset like iOS?"

[2018-07-14 04:02] skeksk91 commented on #19309
It was caused from
      - image: new NetworkImage(renderUrl ?? ''),
When argument is null..
I think it is adequate exception :)
Thank you for your kind response!

[2018-07-14 04:15] mpiannucci commented on #11675
Thanks @kentcb this is exactly what I was looking for. I hope something like this can be added to current flutter implementation. IMO The `RefreshIndicator` workflow should have to capability to be dumb and presented as a child widget with a given state like all the other flutter components.

[2018-07-14 04:34] dazza5000 commented on #14239
Do you have a tutorial / circle.yaml you could share?

[2018-07-14 04:39] thosakwe commented on #19357
Android changes are done; preview them in this branch: https://github.com/thosakwe/plugins/tree/add-close-to-url-launcher

[2018-07-14 04:40] jonahwilliams commented on #18344
Fixed in https://github.com/flutter/flutter/pull/18735

[2018-07-14 04:40] #18344 closed

[2018-07-14 04:41] baeharam opened #19368 "How to get all the images from mobile?"
I tried to get all the images from mobile using image_picker package.
But it makes user pick only one image at a time. How to get all the images from mobile automatically?
What package or library use to achieve these kinid of things?

[2018-07-14 04:47] jonahwilliams commented on #17523
Fixed again in https://github.com/flutter/flutter/pull/18808

[2018-07-14 04:47] #17523 closed

[2018-07-14 04:53] jonahwilliams commented on #16837
I'm marking this as fixed by https://github.com/flutter/flutter/pull/17171.  Technically there are some new features introduced by P, but that hasn't released yet :3

[2018-07-14 04:53] #16837 closed

[2018-07-14 05:16] reeteshverma39 commented on #8296
check shrinwrap:true its working

[2018-07-14 06:19] pulyaevskiy commented on #19340
Just got the same error after upgrading to the latest Flutter from master:

Flutter (Channel master, v0.5.7-pre.115, on Mac OS X 10.13.5 17F77, locale en-BY)

Looks like IDEA crashes only when running tests in debug mode (with observatory?)

[2018-07-14 06:45] saeedjassani opened #19369 "Unexpected screen behaviour when clicking on RadioButton"
The screen goes back to top when I click a RadioButton which is at the bottom.

## Steps to Reproduce
Run the following code:
[code]
[code]
PS: Put enough radio button so that there is a need to scroll the screen.

![20180714_115844](https://user-images.githubusercontent.com/11854320/42721803-db0fc99e-875e-11e8-9d35-c451c3aaffc3.gif)

## Logs

[code]

[code]
(This is not related to the issue.)

[c

[2018-07-14 07:04] DanTup commented on #19340
Yeah, that's what I noticed in the linked issue - only happened when I had a breakpoint.

[2018-07-14 07:08] DanTup commented on #19236
Ok thanks. The PR mentioned above was merged, so if this happens again we should have a better idea of what happened (so if you see it, please let me know!).

[2018-07-14 07:08] shubham9543 commented on #19250
I a also getting the same

[2018-07-14 07:13] #19366 closed

[2018-07-14 07:21] pneves001 commented on #19364
Here is another stacktrace. I got this by running flutter on the command line.

flutter:
flutter: When the exception was thrown, this was the stack:
flutter: #0      _HttpClient._openUrl (dart:_http/http_impl.dart:2093:9)
flutter: #1      _HttpClient.getUrl (dart:_http/http_impl.dart:2028:48)
flutter: #2      NetworkImage._loadAsync (package:flutter/src/painting/image_provider.dart:484:57)
flutter

[2018-07-14 07:58] skeksk91 opened #19370 "Navigator pop() animation not smooth. (--profile mode)"
After Navigator.of(context).push, and starts popping,
Popping animation is not smooth like one.. two... -> right to the end
(At first, it starts moving down slowly, and after that immediately touch the down edge.)
speed is going up rapidly, at the same time, it's animation is not smooth.

I love flutter's performance, but it looks like unnatural about Navigation popping.

Ye there are animation co

[2018-07-14 08:02] #19309 closed

[2018-07-14 08:35] Hixie commented on #19358
Generally speaking you can't rely on the OS doing anything graceful to your app anyway, FWIW, so depending on dispose being called is asking for trouble. Consider what happens when the user pulls the battery, or the OS kills your app for using too much memory, or whatnot.

[2018-07-14 08:56] apat183 commented on #19338
I'm getting exact error, I checked by workspace file and there is no reference to /Users/Development in the build file.

Pasted my log if it helps at all.
[code]
/usr/local/Cellar/cocoapods/1.5.3/libexec/bin/pod install --verbose
[code]
CocoaPods : 1.5.3
Ruby : ruby 2.3.3p222 (2016-11-21 revision 56859) [universal.x86_64-darwin17]
RubyGems : 2.5.2
Host : Mac OS X 10.13.5 (17F77)
Xcode : 9.4.1 (9F2

[2018-07-14 09:49] karocksjoelee commented on #11199
@shashankrshukla fixed my problem as well , thx

[2018-07-14 09:59] rawkode commented on #12675
@pulyaevskiy Do you have a link to your editor? I'd love to contribute

[2018-07-14 10:09] sgon00 opened #19371 "Enter key is not working properly (the cursor is always in the wrong position) in Text Fields"
The flutter is the latest version. I just ran `flutter upgrade`.

[code]

It's hard for me to describe the bug in English so that I uploaded three screenrecords. Both `bug01.mp4` and `bug02.mp4` are the bug behaviors. `expect.mp4` is what I expect in a normal native app.

Basically, when I input words in text fields and press `Enter`, the cursor is always not updated to the next new line and the c

[2018-07-14 11:00] christian-muertz commented on #813
Ok now i broke everything 😅 I cant even start our app in profile mode now 😕

`[VERBOSE-3:dart_vm.cc(423)] Error while initializing the Dart VM: Snapshot not compatible with the current VM configuration: the snapshot requires 'product no-type_checks no-asserts no-error_on_bad_type no-error_on_bad_override no-sync_async reify_generic_functions arm64' but the VM has 'release no-type_checks no-asserts

[2018-07-14 11:08] neelkamath opened #19372 "Bad assertion on TextFormField"
Flutter told me to file this issue as shown below:
[code]
I've made a [demo repo](https://gitlab.com/neelkamath/text-form-field-demo) to show why this is a problem (explanation is in the README).

[2018-07-14 11:08] kozarbohdan opened #19373 "Issue from website page Write Your First Flutter App"
From URL: https://flutter.io/get-started/codelab/

When using this code:
[code]

I have an issue. The app loads to device, but it is the standard widget with title "Welcome To Flutter" and text "Hello World" in the middle of the screen.

First I thought that i have missed something, but after copying the source, problem remained.

[2018-07-14 12:00] chapskev commented on #18937
@zoechi  what is the reason for the above...am new to flutter and my experience with dependency package manager has me banging my head.

Mind you, I am just trying to run the examples on flutter GitHub. Will revert back if the resolutions you have provided works. Also on the above message, I feel it creates more problems than a solution. My thinking is that when the error pops up we can give some

[2018-07-14 12:47] ozc commented on #19338
This works for me:

cd ~
git clone https://github.com/StephenGrider/FlutterCasts.git
cd FlutterCasts/news
flutter packages get
flutter clean
cd ios
pod install
open Runner.xcworkspace
(Runner -> Targets->Runner General -> set signing)
cd ..
flutter build ios
open -a Simulator
flutter run

For UTF error add these to ~/.profile or /etc/profile

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

[2018-07-14 13:00] pneves001 commented on #19364
I've now tried to decode it using the base64decode functions provided in flutter. It appears to be a problem with base64 decode function is throwing an exception.  The image I'm using works. I've tested it by sticking the date into the URL bar in firefox and the image pops right up. I've also tried displaying the image using a base64 encoding to image converter online and the image also comes up r

[2018-07-14 13:17] indatawetrust opened #19374 "Nested navigation with BottomNavigationBar (using PageView)"
I have a page made of tabs. I want to add sub pages to some of these tabs. The BottomNavigationBar field does not appear in the bottom page. How can I solve this problem? How do I resolve it using PageView? Thank you in advance for your help.

[code]

[2018-07-14 13:55] devxpy commented on #287
How to do this on-the-fly, like programatically?

trying to replicate [this](formDisabled) login form.

[2018-07-14 14:18] lukepighetti commented on #18540
What branch will it be on?

[2018-07-14 15:08] samh1996 opened #19375 "TextField multiline only wraps on debug mode"
I have a textfield that has keyboard type multiline and maxLines: null. The text will wrap on any device (including my real one) while I run the code in debug mode, but only continues on the same line when I run it on release mode.
`new TextField(
                        decoration: new InputDecoration.collapsed(
                            hintText: 'Blah blah blah...'),
                        m

[2018-07-14 15:20] christian-muertz commented on #813
Ok problem is gone... Simply changed the app id and the install was successfully...

[2018-07-14 15:51] christian-muertz commented on #813
Ok removed all fonts from our app. Still having the same jank. Here are my new files!
[Archiv.zip](https://github.com/flutter/flutter/files/2195061/Archiv.zip)

[2018-07-14 15:51] skeksk91 commented on #19370
I solved by
MaterialPageRoute.debugEnableFadingRoutes = true;
in main(). as a result it looks fade effect, but I like it.

[2018-07-14 15:52] #19370 closed

[2018-07-14 16:44] jonahwilliams commented on #18540
master

[2018-07-14 16:48] aam commented on #19340
@DanTup wrote

That issue was about sync-async only partially enabled(enabled in vm, but not enabled in frontend). Now it's enabled everywhere.

@pulyaevskiy wrote

Running tests in Flutter Gallery seems to work fine. Do folks have a sample app where the problem can be reproduced?

[2018-07-14 16:59] Techdojo opened #19377 "Text doesn't wrap properly when used as a child of a Positioned widget inside a stack."
## Steps to Reproduce
Create a `ShadowText()` widget - that will render a drop-shadow by drawing the supplied text string twice with an offset.

[code]
Using the above `ShadowText()` widget if the supplied text string overflows the parent width then the second `Text()` widget will render the string correctly and wrap the output, however the `Text()` widget that is the child of the `Positioned()` w

[2018-07-14 17:12] Rockvole commented on #19360
I searched to find a way to permanently show the navigation bar for the entire app in flutter or android so that I wont just have dead space - but I could not see a way to do that.

[2018-07-14 17:29] lukef commented on #19153
@lukepighetti - this is probably better to ask on stackoverflow than here but ..
The result returned from the plugin is a Map so the keys will be not be in sorted order. You can, however do a sort on the key set so that they are ordered. Otherwise, you can add a timestamp to the data records and sort that way. I added this to the other issue also.

[2018-07-14 17:29] lukef commented on #19153
I think this issue can probably be closed?

[2018-07-14 17:34] slamethendry commented on #19139
Got it.  Many thanks.

[2018-07-14 17:35] #19139 closed

[2018-07-14 18:01] SoaresGabriel commented on #16602
Same error with
`Navigator.popUntil(context, ModalRoute.withName('/'));`

[2018-07-14 18:10] pulyaevskiy commented on #19340
@aam
Sorry I forgot to mention that tests should be run in debug mode and there needs to be a breakpoint.

I was able to reproduce this in flutter_gallery just now:
![image](https://user-images.githubusercontent.com/441756/42727149-14e28f2a-8756-11e8-9d5b-d7afb32dde3d.png)

I can reproduce this from the CLI as well by adding a breakpoint via Observatory UI.

Command:

[code]

Then go to observator

[2018-07-14 18:37] #19153 closed

[2018-07-14 18:38] lukepighetti commented on #19361
This is simpler than you'd think. If you login like this, it works. If you use the example provided by firebase_core, it breaks.

https://github.com/flutter/plugins/blob/master/packages/firebase_core/example/lib/main.dart

[code]

[2018-07-14 18:48] Rockvole commented on #19250
https://stackoverflow.com/questions/51342391/how-to-check-obfuscation-results-of-flutter-app

[2018-07-14 18:53] thelazyindian commented on #2115
@Hixie can you give an example?

[2018-07-14 18:58] pneves001 commented on #19364
[testgen-base64png.txt](https://github.com/flutter/flutter/files/2195178/testgen-base64png.txt)

here is the test png file encoded in base64 for testing.

[2018-07-14 19:11] Hixie commented on #2115
If you look for StatefulBuilder in the repo you'll find some examples of it being used in test.

[2018-07-14 19:34] Brijesh-kumar-Vaishya commented on #10484
I Have Same issue:

Issue is:
C:\Users\Brijesh-Kr.-Vaishya\Downloads\flutter\bin\flutter.bat --no-color doctor
'where' is not recognized as an internal or external command, operable program or batch file.
Error: Unable to find git in your PATH.
Process finished with exit code 1
===============

Git path has been set. (  C:\Program Files\Git\bin\git.exe  )
Flutter Path set   (  C:\Users\Brijesh-Kr.

[2018-07-14 20:16] apat183 commented on #19338
I'm not cloning the flutter cast tutorial like the op linked. I'm using the default flutter generator and started fresh. It originally worked (iOS simulator) on fresh project but as I started adding plugins it started producing error above.

[2018-07-14 20:31] aam commented on #19340
Thanks @pulyaevskiy  for the repro steps!

Or so I thought! It seems that with enabling dart2 by default we once again have sync_async is inconsistently set: it is enabled in frontend compiler, but is disabled in dart vm that runs in the engine.

cc @a-siva

[2018-07-14 20:34] indatawetrust commented on #19374
[i solved the problem](https://github.com/indatawetrust/nested-navigation-demo-flutter)

[2018-07-14 20:34] #19374 closed

[2018-07-14 20:37] jonahwilliams commented on #19297
Thinking about it more, changing the behavior in such a way is probably too indiscriminate.  Unlike an assert, this won't help anyone pin down exactly where the problem is - so maybe instead what we need (for cases that asserts don't help) is better lints or static analysis.  For example, we should be able to say for build-like methods (defined by some annotation or specified list of Classes/metho

[2018-07-14 20:37] #19297 closed

[2018-07-14 20:53] letsar commented on #18287
I have a similar issue (but different exit code) when I try to run flutter test on my personal Windows computer.

This is the verbose log I have:

[code]

How can I help more?

[2018-07-14 21:09] xster commented on #19358
I think with add-to-app, we should start to change how we think about platform interactions and pull parts out from the "OS doing things to your app" group into "mixed navigation" group. [Related discussion](https://docs.google.com/a/google.com/document/d/1caAQkXly7sEc-ZU9qKEWBh1FCO3uw3FBnsoeE4xZRZk/edit?disco=AAAACD9IjCQ) (internal).

In your pulling the battery scenario, we'd be in the same situ

[2018-07-14 21:11] jonahwilliams opened #19379 "Breakpoints crash flutter application"
Observed on master building from a mac for either an android device or iOS simulator. Insert a `debugger()` call somewhere (I used the update methods in `editable_text.dart`) or use the observatory `break x` command.  When the breakpoint is hit the application crashes immediately.

### Android:
[code]
### iOS:
[code]
The stack is something like:
[code]

[2018-07-14 21:17] jonahwilliams commented on #19371
I can reproduce this on iOS but not on Android, might be specific to the iOS text handling

[2018-07-14 21:32] jonahwilliams commented on #19379
Works as expected in 87a067704

[2018-07-14 21:35] jonahwilliams commented on #19379
Broken in 7ebf2728dc9173ad63a41aaa4c13e1fcafa51d4a

[2018-07-14 21:45] jonahwilliams commented on #19379
Original culprit is f4a038da6328d437c9f0ca54d77ceb22779224a3, which was rolled back a few times, but it looks like it was the dart update that broke it

[2018-07-14 21:46] jonahwilliams commented on #19379
cc @Hixie

[2018-07-14 23:11] matthew-carroll commented on #19358
@xster would you mind putting together a few sequence diagrams to show what we have now vs what you're recommending?  I'm having a difficult time comprehending the recommendation in paragraph form.

[2018-07-15 01:43] devoncarew commented on #19379
also cc'ing @aam, @a-siva, and @jacob314

[2018-07-15 01:44] devoncarew commented on #19379
@jonahwilliams, thanks for bisecting!

[2018-07-15 02:16] Hixie commented on #19379
we should revert that dart roll, between this and the performance regressions, we can't ship it.

[2018-07-15 02:29] ThinkDigitalRepair commented on #18590
@zoechi, Video added to the original post.

[2018-07-15 02:31] ThinkDigitalRepair commented on #19368
@baeharam For help, you want to ask on StackOverflow. This area is for errors in the Flutter SDK.

[2018-07-15 03:10] lichentao commented on #13829
otao-macbookpro:dmcompileflutter botao$ flutter run
Launching lib/main.dart on iPhone X in debug mode...
No application found for TargetPlatform.ios.
Is your project missing an ios/Runner/Info.plist?
Consider running "flutter create ." to create one.

[2018-07-15 03:12] sgon00 commented on #19371
@jonahwilliams Sorry, no. I don't have iOS mobiles at all. I can reproduce this on all different Android mobiles, such as Android 8.1, Android 7.1.1, Android 5.1.1 etc... And the screenrecords I posted are from android 8.1.
Thanks a lot for the investigation and reply. I hope this bug can be fixed soon since I plan to write a wiki app which will use text fields heavily.

[2018-07-15 03:14] apat183 commented on #19338
Found a temporary fix,

Just go into /Users folder in finders, create 'Development' folder, give folder read/write access for everyone. Run flutter. Once it runs, it gets populated with only the following file

```/Users/Development/flutter/bin/cache/artifacts/engine/ios/Flutter.framework' file.```

But clearer this is the wrong path,

The proper path is:

```/Users/*MYUSERNAME*/Development/flutte

[2018-07-15 03:41] apat183 commented on #18756
I was getting same issue, but have a temp fix (really not idea fix) which is to just take focus off during build.

[code]

Temp fix:

1. create focus not in state, one for each input field:
[code]
2. create function to clear all focus nodes:
[code]
3. during build, call function:
[code]
4. put focus node on each textformfield:
[code]

[2018-07-15 04:14] jonahwilliams commented on #19371
@sgon00 you're right, I can reproduce this on android devices as well.

[2018-07-15 04:21] thelazyindian commented on #2115
Thanks. Works fine now.

[2018-07-15 04:32] 1SouravGhosh commented on #15919
This is issue has been resolved. Please refer to the comments above.

[2018-07-15 04:32] #15919 closed

[2018-07-15 04:46] Hixie commented on #19358
To clarify, I definitely agree that we should be calling dispose methods and so on during shutdown (otherwise I'd have suggested closing the bug!). I'm just saying that we shouldn't encourage people to rely on it.

[2018-07-15 05:17] jinfagang commented on #18564
@andrelsmoraes Could u provide more codes for your youtube demo? This is exactly what I want achieve.

[2018-07-15 05:21] aam commented on #19379
Not able to reproduce the crash somehow(on e7832a389755a1894494be1a26c2debf2cac745e).
With flutter gallery I am setting breakpoints(in observatory and in IJ) in editable_text.dart:831, get the breakpoint triggered as I navigate to Material/Text fields, able to step and continue.

What line are you setting breakpoint on, what app are you debugging?

[2018-07-15 05:56] darealSplendour commented on #19359
same error here also

[2018-07-15 07:33] ThinkDigitalRepair commented on #19362
Do you have any more error code above this? It usually tells you. This usually ends up not being an issue with Flutter, but rather an issue with your code. You ran some code on an object that was null;

[2018-07-15 07:42] jogboms commented on #19379
I actually started experiencing this yesterday as well, it happens on debug-mode and when an exception is thrown.

[2018-07-15 07:45] ThinkDigitalRepair opened #19381 "Can't start Flutter App on iOS Simulator in Debug Mode, only Run."
This happened immediately after running `flutter upgrade` and attempting to debug my code.

[code]

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, v0.5.7-pre.122, on Mac OS X 10.14 18A326h, locale en-US)
[✓] Android toolchain - develop for Android devices (Android SDK 28.0.1)
[✓] iOS toolchain - develop for iOS devices (Xcode 9.4.1)
[✓] Android Studio (ver

[2018-07-15 07:48] baeharam opened #19382 "Upgrade problem of Dart to use flutter gallery."
When I tried to use flutter gallery, I got this error message.

So I wanted to upgrade dart SDK to dev.61.0, but how can I upgrade? I installed choco and upgarded dart but it didn't work not at all. My flutter doctor said like below.

Yes, my Dart version is 2.00-dev.58.0, but I need 2.00-dev.61.0 to see WHAT FLUTTER GALLERY IS.
How can I fix it?

[2018-07-15 07:52] jonahwilliams commented on #19379
@aam

Investigated more - breaking on something like `Foo.build` works fine, breaking on `EditableTextState.updateEditingValue` or other methods crashes.  Not sure what the distinction is.

[2018-07-15 08:32] dshukertjr opened #19383 "Image size compression takes too long and freezes the UI"
I am trying to compress the size of the image before uploading it to firebase storage, but the image compression takes way too long and freezes the UI.

The code I am using is the following code, which was taken from
[this stack overflow question](https://stackoverflow.com/questions/46515679/flutter-firebase-compression-before-upload-image):

[code]

[2018-07-15 09:04] myslof opened #19384 "Target of URI doesn't exist 'package:flutter/material.dart'"
My Flutter IDE (Android Studio) doesn't recognize material.dart any more! and when i try to upgrade packages it says Oops; flutter has exited unexpectedly.

[2018-07-15 09:09] dshukertjr commented on #19383
It seems like this line is the one that is taking really long and freezing the UI.

`Im.Image image = Im.decodeImage(imageFile.readAsBytesSync());`

[2018-07-15 09:15] pcqpcq opened #19385 "Build release version app when adding to existing app"
First of all, amazing flutter! Big thanks for all your works!

0. Latest version of Flutter, of course.
1. Use the module template to add Flutter to existing app.
2. If build release version app with `gradle assembleRelease`, crash when enter flutter part, like flutter activity. and the log:
[code]

3. If build release version app with `flutter build apk`, got this message:
[code]
it's obviously n

[2018-07-15 09:40] lichentao commented on #16589
I has remvoe dynamic in method arguments， it is works, As so I have not konw dynamic's good points

[2018-07-15 09:42] yarumair commented on #19312
HI @zoechi

I tried wrapping the call for `_buildRow` function inside `_buildSuggestions` widget with fixed width & height. However, its still updating all the rows.

Its mentioned on the tutorial itself that:

so it makes sense since the build method actually is buiding all the rows.

So i have got answer to setState behavior, however, still wondering if there is any way to update just one row wh

[2018-07-15 10:31] sir-boformer commented on #18656
To come back to this, while porting an existing Android/web application to Flutter, I noticed that text layout and drawing with `TextPainter` is quite slow. Layouting and drawing about 50 short single-line texts in every frame decreases FPS in profile mode dramatically.

[2018-07-15 10:32] levabala opened #19386 "More sensors in sensors_plugin"
Why are there only gyroscope and accelerometer?
When will other sensors have been implemented?
And could I implement only Android-side sensors?

[2018-07-15 11:20] neelkamath commented on #19372
@jonahwilliams ah, that fixes the IDE error.

As for the error received, should I close this issue, or leave it open? Flutter said to report it in either way.

[2018-07-15 11:22] andreimcristof opened #19387 "Flutter --launch apple emulators crashing"
Hello, trying to start either the "apple" simulator or the "iOS Simulator" is crashing, please see error log below.

## Steps to Reproduce

flutter emulators --launch apple --verbose

## Logs

[code]

[code]

[2018-07-15 11:34] mohabmm opened #19388 "EXCEPTION CAUGHT BY WIDGETS LIBRARY Failed assertion: line 405 pos 16: 'url != I/flutter ( 2782): null': is not true."
[code]

[2018-07-15 12:35] cosminstoinescu commented on #73
Hello, is there any progress regarding this plugin, any news on when we shoul expect to have a solutin?
Thank you!

[2018-07-15 13:16] sir-boformer commented on #18656
If anyone else is encountering an issue with text layout performance: I've been working around the problem by introducing a cache for laid out TextPainters (for single line text):

[code]

FPS almost doubled with this simple trick.

[2018-07-15 13:35] mraleph commented on #19364
See: https://github.com/dart-lang/sdk/issues/33860#issuecomment-405092414

[2018-07-15 13:35] #19364 closed

[2018-07-15 13:37] niceguy1 commented on #16373
indeed, happened to me today in china, my guess is can't async from china since google is blocked by firewall

[2018-07-15 14:26] dotdoom opened #19389 "Firebase Database on orderByChild / orderByKey returns in random order"
`firebase_database: 1.0.2`

## Steps to Reproduce

Run a simple Flutter app:
https://gist.github.com/dotdoom/5180eb27084afb3b71db44f2201c6877

Most important part is (for history purposes):

[code]

The output is indeed the first 3 entries of a sorted list, but the entries themselves are not sorted:

[code]

`limitToFirst` does not affect the order and is only to demonstrate that Firebase server g

[2018-07-15 14:45] devoncarew commented on #19379
Perhaps related to the async debugging functionality?

[2018-07-15 14:52] andrelsmoraes commented on #18564
@jinfagang Added some comments in my gist, please check it out and tell me if you need more details.

[2018-07-15 15:24] kangwang1988 opened #19390 "Flutter application fails in devices running an Intel Atom CPU"
@eseidelGoogle
@mraleph
We've also get several reports that flutter fails in their android pad. All of them are running on devices with Intel Atom CPU.
In fact, now, we only publish armeabi based apk.
Previously(before importing flutter), our apk(including many armeabi so files) works fine on the Atom cpu. So I think, the "Binary translation from arm to atom" provided by atom cpu works fine then.

[2018-07-15 16:03] lukef commented on #19173
I think the issue is that during the channel communication the native iterator structures get converted to Maps. That means that the sort will be destroyed (obviously).

The workaround for now is to sort the keys or to use another attribute on your model to sort on.

It probably should work the same way as it does natively in the long run.

[2018-07-15 16:13] zoechi commented on #16373
@niceguy1 can you please add the output of `flutter doctor -v` or does this error as well?

[2018-07-15 16:19] zoechi commented on #19312
You shouldn't worry about that.
`build()` can be called at any time and you should build your widgets so that this doesn't cause problems when it is called multiple times.
See also #19297

[2018-07-15 16:31] zoechi commented on #18937
As far as I know `flutter_gallery` is supposed to work with Flutter `beta`.
Other Flutter versions require newer dependency versions. If you want to use a newer Flutter version, you probably need to update dependencies in `flutter_gallery` yourself.
The alternative is as suggested to use the Flutter version `flutter_gallery` is tested with.

[2018-07-15 16:35] yuminoung commented on #19257
im having the same problem after adding path provider, now im getting this error on every flutter project even a new created project.

[2018-07-15 17:19] OskarKaminski commented on #16246
@code-rover I have faced the same issue. It was probably caused because I added __cocoapods__ to the _Podfile_ in _ios_ folder and installed it by `pod install`.
You don't have to do it with _Flutter_.
I've started new project and added only __cloud_firestore__ to the _pubspec.yaml_, so when I clicked run, __pods__ have been installed automatically.

Everything works fine now.

Hope I could help.

[2018-07-15 17:30] jonahwilliams commented on #19372
I can close it, glad to help!

[2018-07-15 17:30] #19372 closed

[2018-07-15 17:46] jonahwilliams commented on #19379
@aam I did two more cycles of `rm bin/cache/fluter_tool.s*` and flutter clean.  Not sure what kicked it over but it did start working again - I think your change fixes it.  Thank you for taking another look and sorry for sounding the alarm!

[2018-07-15 18:43] pulyaevskiy commented on #19362
I found this report in a text file which Flutter generated without me noticing.

The stacktrace above does not look like originates from my project. It looks like there is an issue in `flutter_tools`.

[2018-07-15 18:45] ThinkDigitalRepair commented on #19362
Ah ok. I see it now

[2018-07-15 18:54] pulyaevskiy commented on #12675
Sorry guys it took so long.

I do have a link now though!

My rich text editor is called **Zefyr** and it's on Pub now: https://pub.dartlang.org/packages/zefyr.

It's a very early preview, so expect things to be incomplete. But I've been using it for a few months now in my project and it proved to be really stable.

I also wrote a blog post describing core ideas behind this project. You can check

[2018-07-15 19:02] gedw99 commented on #12675
Thanks . This is some seriously fantastic code ! Copy paste even works
pretty well.

I took it for a spin and tried to sign and deploy to the iOS store to share
via fastlane with my colleagues like any flutter app. But it complained
about the 2 plugins it uses not being in " derived data"
Cant say I am an expert on iOS signing but I followed the process correctly
I think.

Is there anything specia

[2018-07-15 19:05] pulyaevskiy commented on #12675
@gedw99 Yes, please file any Zefyr related issues at the repo https://github.com/memspace/zefyr/issues so we don't dilute the conversation here.

[2018-07-15 19:12] devxpy commented on #11892
I wish i had found this earlier.

[2018-07-15 19:16] misaelabanto opened #19391 "Can't see icons"
Hello, I can't see the icons.
Android 7.1.2
Xiaomi Redmi Note 5A Prime
Screenshot [here](https://screenshot.net/189erbd)

[2018-07-15 19:24] john1q opened #19392 "ArgumentError: Invalid argument(s): join(null, "Applications"): part 0 was null, but part 1 was not."
## Steps to Reproduce

cant run flutter doctor and find issues
## Logs

flutter doctor
flutter doctor -v

Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

ArgumentError: Invalid argument(s): join(null, "Applications"): part 0 was null, but part 1 was not.

[code]

## flutter doctor

[code]

[2018-07-15 19:39] zoechi commented on #19388
As the error message says you must not pass `null` as URL.
We would need to see your code for more concrete advice how to fix.
It's probably better to ask this question on StackOverflow.

[2018-07-15 20:06] Herohtar commented on #15541
Sorry, I forgot about testing this. I checked just now and it seems to be working with Flutter 0.5.1.

[2018-07-15 20:16] sir-boformer commented on #15011
I also hit this problem. Combined scaling and scrolling is not user-friendly right now. The gesture detector in Android does a better job when it comes to this. A good example would be the Google Maps, where you can start panning with a single finger, and by putting down a second finger, scaling starts immediately.

[2018-07-15 20:17] caseycrogers commented on #16742
I'm having the same issue-adding 'flutter_firebase_ui: ^0.0.7' to my pubspec causes lost connection to device. Removing it fixes it. Is there a workaround or a fix yet?

[2018-07-15 20:42] caseycrogers commented on #18625
Yes please! It seems really silly for everyone to rewrite their own auth page.

[2018-07-15 20:49] blaneyneil commented on #11607
https://pub.dartlang.org/packages/uni_links currently doesn't handle payloads from a cold start on iOS.

[2018-07-15 20:58] ViniciusSossela commented on #17457
I have the same error and I solved with:
1 - `delete Podfile, Podfile.lock, Pod directory in iOS directory, .flutter-plugins, .packages, pubspec.lock`
2 - `update pubspec.yaml`

[2018-07-15 21:01] ViniciusSossela commented on #17698
I had the same error and I solved with:
1 - `delete Podfile, Podfile.lock, pod directory in ios directory, .flutter-plugins, .packages, pubspec.lock`
2 - `pod repo update`
2 - `update pubspec.yaml packages to latest version`
3 - `flutter packages get`

[2018-07-15 22:20] sir-boformer opened #19393 "onTap and onDoubleTap gesture recognizers should pass the tap position to their listeners"
Right now there is no reliable or easy way to get the tap position of a single tap or double tap.

[code]

[2018-07-15 22:50] jonahwilliams commented on #19371
The issue appears to be that TextAffinity is not updated from upstream to downstream when a newline is inserted

[2018-07-16 00:06] mclark4386 commented on #73
I'm curious if the concept of "native widgets" still progressing. They were going to let you wrap a "native" view in a flutter widget in a plugin to let you, theoretically, make a mapview plugin that just wrapped the "native" views and inserted that in the flutter render tree where ever you had used the plugin's widget.

[2018-07-16 00:40] pcqpcq commented on #19385
after configure proguard, it works fine, sorry for my negligence.

[2018-07-16 00:40] #19385 closed

[2018-07-16 00:43] niceguy1 commented on #16373
@zoechi i dont get error on flutter doctor, i get errors with async <asynchronous suspension> same as @viczx , i wonder if he is also in china hmmm

Syncing files to device Android SDK built for x86...
E/flutter ( 4068): [ERROR:topaz/lib/tonic/logging/dart_error.cc(16)] Unhandled exception:
E/flutter ( 4068): Unable to load asset: assets/stock1.json
E/flutter ( 4068): #0      PlatformAssetBundle.l

[2018-07-16 00:47] adriancmurray commented on #19383
Someone built an image compression component that uses native compression tools rather than what was provided with that image library. https://github.com/btastic/flutter_native_image

I recommend using that instead. The only real issue I've run into is an incompatibility with the Master Channel.

[2018-07-16 01:44] reeichert commented on #12463
Any news?

[2018-07-16 01:50] briefness commented on #19257
So do i,but why? Version of the problem？I reinstall flutter but there's still no solution.

[2018-07-16 01:57] devxpy commented on #15406
So I finally got it working using Native modules.
Performance is really good.

[flutter_pdf_viewer](https://github.com/pycampers/flutter_pdf_viewer)

I don't have Mac, so cant make for iOS :/. If someone can integrate that into this plugin, then this will be a fully solved issue.

I also made a plugin for dealing with File / Content provider on android, I'll release it when I get time.

[2018-07-16 02:50] csnguyen-gmail commented on #19306
Thanks for feedback, is there any way allow me to track when the engine will be updated?

[2018-07-16 03:15] briefness commented on #19257
I was also having this problem. I ran flutter channel and saw I was in beta channel. I then ran flutter channel master to switch over. This fixed the problem for me.

[2018-07-16 03:32] Hixie commented on #8604
Please file a new bug to let us know how we should change the web site! thanks!

[2018-07-16 03:48] devxpy opened #19394 "Docs have thin fonts, which are annoying to read"
The flutter doc page has a font-weight of `300`, which is a notch down than the normal `400`.

I understand this provides an aesthetic appeal to the website, but for long reading, it is fatiguing.

This could be an issue with low-res displays like mine (its a TN 720p panel).

---

Here is what it looks like on my screen -

![image](https://user-images.githubusercontent.com/19492893/42742472-6bcd86

[2018-07-16 03:49] devxpy commented on #8604
#19394

[2018-07-16 04:00] mohith7548 commented on #19132
@zoechi which in which version it is fixed? I'm currently on beta channel.

[2018-07-16 04:02] leo-chaoliu commented on #19382
The same issue I just faced when I am in Master branch by default, checkout the beta branch will be fine.

[2018-07-16 04:16] dalewking opened #19395 "Modify AnimatedSwitcher to better allow different in vs. out transitions"
See this discussion I had with myself on flutter_dev: https://groups.google.com/forum/#!topic/flutter-dev/mTKt7qJaqBM

`AnimatedSwitcher` is designed to use a single animation for incoming items and the reversed animation for the outgoing items. But that is not always what is desired. For example, I might want to slide new items in from the left and slide the previous item out to the right.

It is

[2018-07-16 04:50] apat183 commented on #19338
I don't know if this should be closed since there is something wrong in the flutter POD file or install POD step that is causing it to output to incorrect location. This was just a temporary work around.

[2018-07-16 05:12] burhanrashid52 commented on #15919
On which version its resolved? @1SouravGhosh

[2018-07-16 05:31] carlosbdw commented on #17789
The plugin is limited , when will Flutter provide Google Map View widget?

[2018-07-16 05:58] matthew-carroll commented on #19306
@csnguyen-gmail it looks like the engine has been rolled past the keyboard addition, so try it with the latest engine and see if things are working.  If things are working for you, please let us know so we can close this ticket.

As far as tracking the engine updates, I don't know of anything other than checking commits to the framework.  The engine version is under bin/internal/engine.version

[2018-07-16 06:08] gedw99 commented on #15406
Nice one !

On Mon, 16 Jul 2018, 03:57 Dev Aggarwal, <notifications@github.com> wrote:

[2018-07-16 06:15] netsmertia opened #19396 "How to rotate an image around the center with canvas"
I am trying to implement image scaling and rotation with flutter canvas api using custom painter. The scale is achieved but unable to rotate the image on its center, the default rotate is on its top left corner.

I have also tried to translate and rotate and translate back but no success.

The same questions is also asked on SO [here](https://stackoverflow.com/questions/51323233/flutter-how-to-rot

[2018-07-16 06:32] zoechi commented on #19257
@briefness thanks for the feedback.
I'm going to close the issue. If this isn't fixed for others on `dev` or `master` channel, please create a new issue.

[2018-07-16 06:32] #19257 closed

[2018-07-16 06:33] zoechi commented on #16373
@niceguy1 did you follow https://github.com/flutter/flutter/wiki/Using-Flutter-in-China ?
If `flutter doctor -v` doesn't produce an error, please post the output of `flutter doctor -v`

[2018-07-16 06:34] zoechi commented on #15541
@Herohtar glad to hear and thanks for the feedback!

[2018-07-16 06:34] #15541 closed

[2018-07-16 06:45] csnguyen-gmail commented on #19306
It's work with below versions:
Flutter 0.5.7-pre.105 • channel master • https://github.com/flutter/flutter.git
Framework • revision cc122f1672 (4 days ago) • 2018-07-14 09:32:41 -0700
Engine • revision c5a63d28bf
Tools • Dart 2.0.0-dev.63.0.flutter-4c9689c1d2
Thanks for support, you can close this issue.

[2018-07-16 06:46] yuminoung commented on #16036
is anyone still having this problem?
i'm having this problem after adding
path_provider: "^0.4.1" to pubspec.yaml

`flutter doctor -v
[✓] Flutter (Channel master, v0.5.7-pre.122, on Mac OS X 10.13.6 17G65, locale en-AU)
    • Flutter version 0.5.7-pre.122 at /Users/yuminoung/dev/flutter
    • Framework revision e7832a3897 (2 days ago), 2018-07-14 09:32:41 -0700
    • Engine revision c5a63d28bf

[2018-07-16 06:53] yuminoung commented on #16036
im getting the same error
after adding path_provider: "^0.4.1" to pubspec.yaml
anyone can help?

################################
flutter doctor -v
################################
[✓] Flutter (Channel master, v0.5.7-pre.122, on Mac OS X 10.13.6 17G65, locale en-AU)
    • Flutter version 0.5.7-pre.122 at /Users/yuminoung/dev/flutter
    • Framework revision e7832a3897 (2 days ago), 2018-07-14 09:3

[2018-07-16 06:56] The-Redhat commented on #15406
Nice work @devxpy. Of course I can integrate it when I find some time.

[2018-07-16 07:07] zoechi commented on #18744
The newest update on `master` fixed it for me.
Looks like I run into #19379

[2018-07-16 07:08] zoechi commented on #19390
Can you please provide the error output?

[2018-07-16 07:10] zoechi commented on #19390
See also https://github.com/flutter/flutter/issues/9253#issuecomment-292234248

[2018-07-16 07:14] zoechi commented on #5515
Is this a dup of #9253 (or vice versa)?

[2018-07-16 07:18] zoechi commented on #19344
Sounds like a dup of #13205

[2018-07-16 07:30] zoechi commented on #19383
Alternatively you can use https://docs.flutter.io/flutter/foundation/compute.html to move computation off the UI thread to a new thread.
Some things like using plugins (platform channel) is not yet supported in such threads as far as I know.

[2018-07-16 07:31] sir-boformer opened #19397 "Add textInputAction constructor paramater to TextFormField"
[A recent PR](https://github.com/flutter/flutter/pull/18855) added support for different keyboard return keys ("Next", "Search"...). Right now this `textInputAction` can only be set on normal `TextFields`, but not `TextFormFields`.

@matthew-carroll

[2018-07-16 07:33] zoechi commented on #19381
This looks like a dup of #19379 but the update to Flutter v0.5.7-pre.122 fixed it for me.

[2018-07-16 07:35] zoechi commented on #19371
I think this is a dup of #15572
and I can still reproduce with

[✓] Flutter (Channel master, v0.5.7-pre.122, on Mac OS X 10.13.5 17F77, locale en-AT)
    • Flutter version 0.5.7-pre.122 at /Users/zoechi/flutter/flutter
    • Framework revision e7832a3897 (2 days ago), 2018-07-14 09:32:41 -0700
    • Engine revision c5a63d28bf
    • Dart version 2.0.0-dev.67.0.flutter-84ca27a09e

[✓] Android toolch

[2018-07-16 07:38] zoechi commented on #16742
@caseycrogers can you please post the output of `flutter doctor -v`?

[2018-07-16 07:41] lichentao opened #19398 "No application found for TargetPlatform.ios."
Launching lib/main.dart on iPhone 8 Plus in debug mode...
No application found for TargetPlatform.ios.
Is your project missing an ios/Runner/Info.plist?
Consider running "flutter create ." to create one.
Exited (sigterm)

I want debug with VSCode whih existing project ，But It get this error,
but ,I use XCODE is is work

[2018-07-16 07:42] zoechi commented on #19391
Please add the output of `flutter doctor -v`.
I think you are using an outdated Flutter version.

[2018-07-16 07:43] zoechi commented on #19362
I see this frequently as well.

[2018-07-16 07:44] zoechi commented on #19384
Can you please post the output of `flutter doctor -v`?
As far as I remember this usually happens when Flutter is installed in a directory that needs admin privilegs to write.

[2018-07-16 07:44] sir-boformer opened #19399 "Buttons are no longer respecting CrossAxisAlignment.stretch"
Prior to a recent update of the master branch, buttons were stretched when placed in `Column` with `CrossAxisAlignment.stretch`. Now the behavior changed and there is no way to make buttons which fill the screen width:

<img src="https://user-images.githubusercontent.com/22688477/42747476-d2e5d1f8-88dc-11e8-97a2-2519479479e7.png" width="300">

[code]

[2018-07-16 07:44] 1SouravGhosh commented on #15919
Yes in my case there was the problem in the code itself. I followed the above comments and fixed it, thus I closed the issue.

[2018-07-16 07:45] zoechi commented on #19398
Please add the output of `flutter doctor`

[2018-07-16 07:46] zoechi commented on #19359
Please add the output of `flutter doctor`

[2018-07-16 07:47] zoechi commented on #19359
What command line shell are you using?
What output do you get if you execute `C:\Program Files\Git\cmd\git.EXE` in this shell?

[2018-07-16 08:08] kangwang1988 commented on #19390
The crash report is as below:
killed by pid: 21679, comm: taobao.idlefish, uid: 10088.
signal 4 (SIGILL), code 0 (?), fault addr 000054af
  r0 d62e9bf0  r1 00000007  r2 ccaab7a8  r3 0c334540
  r4 00000020  r5 ccaab788  r6 00000000  r7 d62e9be0
  r8 ccaab87c  r9 d62ea01c  10 d3ef2a14  fp d62e9eb8
  ip 0000000e  sp d62e9bb8  lr 0c30c98d  pc 0c334710  cpsr 20000000
    #00  pc 00334710  /data/app/com

[2018-07-16 08:21] DanTup commented on #19273
I'm not sure what the expected behaviour - is it right that there are no views for a sample app created with `flutter create`? If not, is the change bad?

(Also, why aren't any builds broken?)

[2018-07-16 09:05] matthew-carroll commented on #19306
Great. Thanks.

[2018-07-16 09:05] #19306 closed

[2018-07-16 09:11] DanTup commented on #19056
So back on beta, your issue is solved? That's a bit strange, but I guess not a bad thing.

@sahil311289 this issue got somewhat side-tracked. Are you still having the original issue you reported here?

[2018-07-16 09:43] duoshine opened #19401 "Now I have a requirement for Bluetooth communication"
Now I have a requirement for Bluetooth communication, so I should call the native api to complete the Bluetooth communication. I have to use the Android and IOS APIs to get the job done. But I am an Android developer

[2018-07-16 09:51] onesport commented on #12675
compiler message: Try correcting the name to the name of an existing getter, or defining a getter or field named 'offset'.
compiler message:     double target = viewport.getOffsetToReveal(object, 0.0).offset;
getting this compile time exception for this package.

The `viewport.getOffsetToReveal(object, 0.0)` already returns a double and that **offset** variable is not compiled.

[2018-07-16 09:52] jogboms commented on #19399
Also noticed this regression on the master branch.

[2018-07-16 09:53] jenisonleo commented on #12675
Getting this compile time exception for this package

compiler message: Try correcting the name to the name of an existing getter, or defining a getter or field named 'offset'.
compiler message:     double target = viewport.getOffsetToReveal(object, 0.0).offset;

The `viewport.getOffsetToReveal(object, 0.0)` already returns a double and the **offset** is what is causing the problem.

[2018-07-16 10:41] boapps commented on #16665
I also have the same problem and I tried contacting the support, but they didn't want change the headers, so now I have to make it work somehow. Can I modify Flutter source files so the headers are case-sensitive, or write a plugin for that, or create a plugin that uses the native (Java/Swift) HTTP requests, because I know that Android's HttpsURLConnection uses case-sensitive headers, not sure abo

[2018-07-16 11:03] zoechi commented on #19399
This should do what you want

[code]
You can also get the parent `ButtonTheme.of(context)` and use `.copyWith(minWidth: double.infinity)` to specialize a parent theme.

[2018-07-16 11:08] zoechi commented on #16665
@boapps They shouldn't need to change their headers.
They should change their code to accept headers independent of casing according to the HTTP standard.

Sure, you can create a Flutter plugin that uses native Android or iOS implementations.
There is no way to change the Flutter source. This functionality is part of the Dart SDK.

[2018-07-16 11:17] zoechi commented on #19401
This is a duplicate of #430
There is the https://pub.dartlang.org/packages/flutter_blue package that provides Bluetooth communication for Flutter.

[2018-07-16 11:17] #19401 closed

[2018-07-16 11:20] HallerPatrick commented on #18782
So I'm confused. @vjrj Is this supposed to happen or will this be solved in future?

[2018-07-16 11:21] zoechi commented on #19368
https://pub.dartlang.org/packages/flutter_multiple_image_picker might do what you want.
If not you can extend on the source of that package and customize it to your needs.

[2018-07-16 11:23] zoechi commented on #16602
@SoaresGabriel can you please add the output of `flutter doctor -v`?

[2018-07-16 11:37] lichentao commented on #19398
@zoechi  I have use flutter doctor ,not work

[2018-07-16 11:38] lichentao commented on #19398
botao-macbookpro:dmcompileflutter botao$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, v0.5.1, on Mac OS X 10.13.4 17E199, locale zh-Hans-CN)
[✗] Android toolchain - develop for Android devices
    ✗ Unable to locate Android SDK.
      Install Android Studio from: https://developer.android.com/studio/index.html
      On first launch it will a

[2018-07-16 11:39] lichentao commented on #19398
@zoechi  directory must be ios ? hou can i change ios project folder

[2018-07-16 11:41] lichentao commented on #19398
![image](https://user-images.githubusercontent.com/5095376/42756745-1ece6168-8930-11e8-8455-25c923edf811.png)
How Can I change the red(ios) folder to green(DMPortal) folder when I exe flutter run

[2018-07-16 11:42] lichentao commented on #19398
How Can I change the red(ios) folder to green(DMPortal) folder when I exe flutter run

![image](https://user-images.githubusercontent.com/5095376/42756832-5e4a5f36-8930-11e8-814a-3c52eb1b2a5c.png)

[2018-07-16 11:51] zoechi commented on #19398
@lichentao why do you need to change that folder?
I don't know if that is possible.

[2018-07-16 11:58] lichentao commented on #19398
@zoechi because I want debug with exisiting project not flutter create project

[2018-07-16 11:58] lichentao commented on #19398
evn I move project to ios always working

[2018-07-16 12:55] AppleEducate commented on #15542
@zoechiWhat would an example look like with local_notifications? on_message is called whether it is in the foreground or after it comes out of the background

[2018-07-16 12:57] zoechi commented on #19379
This was fixed for me on Friday,
but an update I just did broke it again.

I'm not sure it's the same issue. It seems to work reproducible when run from console using `flutter run`, but when I debug-run it from IntelliJ I get

[code]
[code]

[2018-07-16 13:02] Solido opened #19404 "Generate AnimatedIcon"
ShapeShifter is a SVG icon animation tool for Android, iOS, and the web
Can I use it to generate AnimatedIcon for Flutter ?

https://github.com/alexjlockwood/ShapeShifter

![screencap](https://user-images.githubusercontent.com/1295961/42760248-213f0b62-890a-11e8-8642-5b0855889ad5.gif)

[2018-07-16 13:05] Pradipkoravi commented on #16589
Hello, everyone, I am trying to write one generic
POST request method for web API call
 Future<dynamic> requestMethod() async {
    var url = "https://testurl";
    var body = json.encode({"programid":"1211"});

    Map headers = {
      'Content-type' : 'application/json',
      'Accept': 'application/json',
    };

    var response =await http.post(url, body: body, headers: headers);
    final r

[2018-07-16 13:14] zoechi commented on #16589
@Pradipkoravi I'd suggest to ask on StackOverflow or https://gitter.im/flutter/flutter

[2018-07-16 13:16] HofmannZ commented on #14050
Any updates on this?

[2018-07-16 13:19] zoechi commented on #15542
@AppleEducate I don't know. I just saw it mentioned by others that it worked for them.
Perhaps the message content is different depending on whether it's called from foreground or background.

[2018-07-16 13:21] AppleEducate commented on #15542
Maybe so, ill explore that further. I guess the ideal use case is not to do a local notification but show the message in the app somewhere instead.

[2018-07-16 13:24] zoechi commented on #19404
If you can convert it to Lottie format https://github.com/dnfield/lottie-flutter

[2018-07-16 13:37] jinfagang commented on #18323
Same error got when parse a image bytes from a ImageProvider:

[code]

Error:

[code]

[2018-07-16 13:42] zoechi commented on #18323
@jinfagang
Please add the output of `flutter doctor`

[2018-07-16 13:47] zoechi commented on #19356
This looks like a dup of #18159.
I'd suggest you upvote this issue.

[2018-07-16 13:47] #19356 closed

[2018-07-16 13:51] mojason-81 opened #19406 "I/flutter (25517): 'package:flutter/src/material/input_decorator.dart': Failed assertion: line 895 pos 12: 'false'"
It seems having a `TextField` as the `title` and of a `ListTile` and having a `subtitle` of anything for the `ListTile` is throwing this error.  Here's the offensive code and output from Android Studio.  If I remove the `subtitle` from the `ListTile` in `_HomeState -> Scaffold -> body(Container) -> child(ListTile)`, *_or_* make the title a simple `Text` widget, the error does not occur.

[code]

[

[2018-07-16 13:54] jinfagang commented on #18323
@zoechi Thanks for your response, already updated it

[2018-07-16 13:57] zoechi commented on #19348
Seems to be caused by the redundant `;` at the end of `charset=utf-8;`.
If this is allowed according to the HTTP standard, it's probably an issue of `dart:io` and should be reported in https://github.com/dart-lang/sdk/issues/new

[2018-07-16 13:59] zoechi commented on #18323
This issue is closed since a while.
It's probably better to create a new one (with a link to this one).
Sorry for not suggesting that in the first place.

[2018-07-16 14:11] jinfagang opened #19407 "Saving image from ImageProvider error [Seems a Bug]"
error got when parse a image bytes from a ImageProvider:

[code]

Error:

[code]

flutter doctor -v main info:

[code]

I can confirm that this code should not have problem, but every time I do this it can not save correctly. (I also posted a stackoverflow question but noone reponse), if anyone could gentally test it or just have a glance at my code, specific out my problem, so many thanks!

[2018-07-16 14:15] zoechi commented on #19406
Please add the output of `flutter doctor -v`
Have you tried in `dev` channel?
[code]

[2018-07-16 14:19] lulusudoku opened #19408 "Engine compiled error: compile_platform.gni file occurs error"
I want to build engine, and I referred this guide:https://github.com/flutter/engine/wiki/Rolling-Dart, but I encountered below issues, can anyone help me.. Thanks.
[code]
I updated dart_reversion in DEPS file and executed `gclient sync`, then I can not compile.

[2018-07-16 14:20] mojason-81 commented on #19406
Haven't tried dev channel.  Will try switching to that tonight.  Here's the output you requested:

[code]

[2018-07-16 14:20] jinfagang commented on #19407
More detail error:

[code]

Any information about this would be very helpful, this feature is much important in my project, thanks!

[2018-07-16 14:25] pulyaevskiy commented on #12675
@jenisonleo, Zefyr currently tracks master branch of Flutter (see readme https://github.com/memspace/zefyr/blob/master/README.md). You are likely on beta channel which causes this error.

I’ll figure out a way to support both channels when next Flutter beta is out.

[2018-07-16 14:34] zoechi commented on #19407
Similar to the closed issue #18323

[2018-07-16 14:44] jonahwilliams commented on #15572
The issue appears to be that TextAffinity is not updated from upstream to downstream when a newline is inserted.

[2018-07-16 14:48] jonahwilliams commented on #19399
In a recent update I added an additional render object which applied constraints to all material buttons with the goal of getting the tap target area to a minimum of 48 by 48 for android accessibility.  Thus if you are applying exterior constraints to stretch it, you will now stretch this outer render object instead of the visible material.  The solution is what @zoechi posted above - use the butt

[2018-07-16 15:03] zoechi commented on #16494
I assume this can be closed?

[2018-07-16 15:05] zoechi commented on #16504
Sorry for not responding earlier?
Is this still an issue?
Can you please add the output of `flutter doctor -v`?

[2018-07-16 15:07] zoechi commented on #16505
Sorry for not responding earlier.
Is this still an issue?

[2018-07-16 15:07] zoechi commented on #16476
@samtob thanks for the update.
I assume this can be closed then.

[2018-07-16 15:07] #16476 closed

[2018-07-16 15:08] #16379 closed

[2018-07-16 15:09] danieldaeschle commented on #16505
I think yes

[2018-07-16 15:10] zoechi commented on #16468
@NatoBoram sounds like you were able to fix the problem.
There is also #16604
Tentatively closing.

[2018-07-16 15:10] #16468 closed

[2018-07-16 15:11] zoechi commented on #16514
I hope this answers your question https://stackoverflow.com/questions/43877288/hide-android-status-bar-on-flutter-app
Sorry for the late response.

[2018-07-16 15:11] #16514 closed

[2018-07-16 15:13] zoechi commented on #16513
This issue seems to be solved.

[2018-07-16 15:13] #16513 closed

[2018-07-16 15:13] #16555 closed

[2018-07-16 15:14] zoechi commented on #16559
@devoncarew do you think there is still something to do?

[2018-07-16 15:15] zoechi commented on #16554
Thanks for the update. Looks like this issue can be closed.

[2018-07-16 15:15] #16554 closed

[2018-07-16 15:15] zoechi commented on #16561
Sorry for the late response. Is this still an issue with recent flutter and example app?

[2018-07-16 15:17] zoechi commented on #16566
Sorry for the late response.
Is this still an issue?

Running `pod update` in `ios/` might help.

[2018-07-16 15:22] zoechi commented on #16616
Sorry for the late response.
Is this still an issue?

[2018-07-16 15:23] zoechi commented on #16295
Sorry for the late response.
Is this still an issue?

[2018-07-16 15:29] abacaj opened #19410 "FlatButton material widget incorrect sizing"
I am not sure if this is a new bug, but this does not appear to be normal...

The button SHOULD and used to expand in an older version of flutter to fill the entire screen but it does not anymore.

The hitbox does expand, but the button styling does not reflect that change, as you can see in the GIF the hitbox is massive but the button is not massive. The button size does not match the hitbox size

[2018-07-16 15:32] zoechi commented on #13832
@DanTup do you think this is a dup of #19056 ?

[2018-07-16 15:33] zoechi commented on #13747
@DanTup do you think this is a dup of #19056 ?

[2018-07-16 15:34] zoechi commented on #11444
@DanTup do you think this is a dup of #19056 ?

[2018-07-16 15:37] zoechi commented on #16619
Sorry for the late response. Is this still an issue?

[2018-07-16 15:39] zoechi commented on #16680
Sorry for the late response.
Is this still an issue?

[2018-07-16 15:41] zoechi commented on #16402
@kyleaisho thanks for the update. I assume it's ok to close this issue?

[2018-07-16 15:41] #16402 closed

[2018-07-16 15:42] jonahwilliams commented on #19399
I'll find a solution to this

[2018-07-16 15:43] zoechi commented on #16663
Sorry for the late response. Is this still an issue?
Did @b-antczak's suggestion fix it for you?

[2018-07-16 15:43] jonahwilliams commented on #19410
closing as a dupe of https://github.com/flutter/flutter/issues/19399, I will find a more usable fix, but for now see the solution in the issue

[2018-07-16 15:43] #19410 closed

[2018-07-16 15:45] zoechi commented on #16691
Is this still missing in AS?
IntelliJ provides that view

![image](https://user-images.githubusercontent.com/405837/42768519-0bdd2e28-8920-11e8-89f3-2bc8f66a0975.png)

[2018-07-16 15:47] zoechi commented on #16701
Sorry for the late response. Is this still an issue in recent Flutter versions?

[2018-07-16 15:47] zoechi commented on #16703
This the `alarm_manager` plugin solve this for you?

[2018-07-16 15:50] zoechi commented on #16713
Is this fixed? I see `multiply` at the linked location.

[2018-07-16 15:51] zoechi commented on #16709
Is there still something to do for the Flutter team?
Did the suggestion solve your problem?

[2018-07-16 15:54] zoechi commented on #16719
The alarm_manager plugin was reworked quite a bit recently.
Is this still an issue with version 0.1.1?

[2018-07-16 15:56] zoechi commented on #16690
@keluokeda Sorry for the late response. Is this still an issue?

[2018-07-16 15:57] Viibrant opened #19411 "Error with executing code for receiving intents from the documentation"
Hey! I followed the steps on [https://flutter.io/flutter-for-android/#how-do-i-handle-incoming-intents-from-external-applications-in-flutter](this page) and I'm getting an error whenever I execute the code.
This is the crash report:

/home/connor/Documents/programming/flutter/telesharebutrealjava/flutter-share/example/android/app/src/main/java/io/flutter/plugins/shareexample/MainActivity.java:33:

[2018-07-16 15:59] zoechi commented on #16731
I'm going to close this because you can just do this with a custom widget.
If you do not think this is good enough please add a comment to get the issue reopened.

[2018-07-16 15:59] #16731 closed

[2018-07-16 16:00] zoechi commented on #16733
Sorry for the late response. Is this still an issue in recent Flutter versions?

[2018-07-16 16:00] andreidiaconu commented on #17687
@chinmaygarde Are there updates or new findings on this issue? Is there anything I can do to help? Is there anything I can do to work around this issue? Is there anyone else that can help with addressing this?

Also, just wanted to let you know that I decided to release the app with this known issue (instead of waiting and making no progress or having 0 user feedback). It currently affects users,

[2018-07-16 16:02] zoechi commented on #16739
Is this still an issue?
There seems to be something missing from the error output, like an error message or an exception name.

[2018-07-16 16:07] zoechi commented on #19411
Can you please add the output of `flutter doctor -v`?
Please also try with `dev` channel
[code]

[2018-07-16 16:07] kyleaisho commented on #16402
Hi @zoechi, Yah I haven't encountered this issue since 👍

[2018-07-16 16:11] DanTup commented on #11444
They both look like something is breaking the connection before it gets converted to a websocket; but since there are so many reasons this might happen and the errors are different, it's hard to say.

Some thoughts about things that could go wrong:

1. A firewall/proxy not supporting web sockets properly - possibly can be confirmed using something like https://websocketstest.com/ (as far as I can

[2018-07-16 16:13] DanTup commented on #13832
Definitely seems like a dupe of #11444, but not sure about the other one. My comments at https://github.com/flutter/flutter/issues/11444#issuecomment-405300827 apply here too.

[2018-07-16 16:23] DanTup commented on #13747
Not sure about this one, seems like there may be some different issues mentioned here (for ex. one looks like it has a native crash).

I wonder if we could make a small script or something that could test a bunch of things like connectivity to VMs/devices/etc. to help track these down. For example, even just being able to test the following might help narrow things down:

- Can connect to web sock

[2018-07-16 16:32] jenisonleo commented on #12675
changing channel to master worked. Thanks @pulyaevskiy . This is great work.

[2018-07-16 16:38] zoechi commented on #13832
Ok, tentatively closing as dup of #11444

[2018-07-16 16:38] #13832 closed

[2018-07-16 17:02] eseidelGoogle commented on #19390
@zanderso or @a-siva would probably know.  CC @cbracken

[2018-07-16 17:14] Hixie commented on #16713
I think I meant change multiply to normal.

[2018-07-16 17:18] Hixie commented on #17554
[code]
...means that somehow the gradlew file ended up with mac line endings.
We should detect this and report it or handle it.

[2018-07-16 17:18] zanderso commented on #19390
linux-atomic.c would hint that the instructions is in the implementation of compiler builtins like __sync_fetch_and_add().

[2018-07-16 17:18] isoos opened #19413 "Error in android devices"
_From @SaiKarthikMalyala on July 16, 2018 15:0_

URL: https://pub.dartlang.org/packages/url_launcher

When I tried to open .pfd and .docx files in android devices it exist displaying the blank black screen.

The same files when I opened the Iphone they are opened.

_Copied from original issue: dart-lang/pub-dartlang-dart#1461_

[2018-07-16 17:18] isoos commented on #19413
@SaiKarthikMalyala This repository is for the pub site, please submit your issues to the package's issue tracker. I'm moving it this time.

[2018-07-16 17:20] Hixie commented on #16218
Sure.

[2018-07-16 17:21] Hixie commented on #16218
Oh, actually, I see. I didn't realise that you were calling the push synchronously from initState or didChangeDependencies. Yeah, those will have the same problem as here.

[2018-07-16 17:21] Hixie commented on #19330
The problem is that by the time you get to initState, the Navigator has already been built. If you tell it to build again, it can't really do anything useful: it's already been built this frame.

[2018-07-16 17:30] devxpy commented on #19330
Did you see my last comment z explaining how it doesn't throw an error when the call to push() is delayed?

[2018-07-16 17:50] a-siva commented on #18573
Can this issue be closed or at least the TODAY label removed as we have completed the roll of Dart into flutter and there are no known open issues with the expression evaluation code.

[2018-07-16 18:21] gowsikraja commented on #2115
Hi @theankurkedia can you give the example for modalBottomSheet or bottomSheet .

[2018-07-16 18:54] josefigueredo commented on #17189
In my case it was a SHA mismatch as said in [https://github.com/flutter/flutter/issues/12819](url)

[2018-07-16 18:56] KevinTheGray commented on #16680
Yes, with my current version of flutter it's still an issue.  It is the same effect that can be seen in the youtube video posted above.

Current `flutter doctor`:
[code]

[2018-07-16 18:59] Viibrant commented on #19411
[code]
The issue is incorrect as I do indeed have the extension installed. Using the dev channel doesn't change the output, I was using the beta channel previously

[2018-07-16 19:01] a-siva commented on #18573
Checked with Jacob and he confirmed that crashes from eval expression were resolved with the latest Dart roll, the only issue remaining is the issue of exceptions resulting in engine crashes which is being tracked in https://github.com/flutter/flutter/issues/19354

[2018-07-16 19:01] #18573 closed

[2018-07-16 19:04] andrewackerman commented on #11609
As someone who hasn't used either React-Native or Flutter long enough to consider myself a definitive source whether raw Dart or JSX/DSX is "better", this issue thread has been rather fascinating to read. There are a couple things that I would like to put my $0.02 down on though.

To begin, I find myself agreeing with various people on the nature of what JSX actually is and how it benefits develop

[2018-07-16 19:06] zoechi commented on #19411
The extension shown as not installed is a bug fixed in `dev`, you can ignore that.

[2018-07-16 19:09] HansMuller commented on #18782
I'm looking into this

[2018-07-16 19:16] Viibrant commented on #19411
I have resolved the issue by modifying the following code:
[code]

[2018-07-16 19:16] Viibrant commented on #19411
I think the documentation should be edited to reflect this change.

[2018-07-16 19:24] zoechi commented on #19411
Should we reopen as documentation issue?
It's not clear to me what docs should be updated (haven't used this API myself yet)

[2018-07-16 19:40] HansMuller commented on #18782
I believe this test case demos the problem you're running into: https://gist.github.com/HansMuller/7a2b17a38a7cdb3490010ed3df42c256

When the FAB-hero is returning to the original screen it starts out with its original size, which matches 'X' and which isn't big enough for the original FAB's 'New' label.

[2018-07-16 19:44] aam commented on #19354
I'm happy to add exception handling, it would be nice to confirm impact on Jacob's work first to understand why this became a problem now.

Meanwhile, removing 'TODAY' tag as this doesn't look like a recent regression.

[2018-07-16 19:54] a14n commented on #18604
Optional const landed in #19342

[2018-07-16 19:59] amirh opened #19417 "Support RTL in embedded Android views"

[2018-07-16 20:00] amirh opened #19418 "Accessibility support for embedded Android views"

[2018-07-16 20:01] pq commented on #18604
@a14n: this is fantastic.  Remind me the plan for `unnecessary_new`?

[2018-07-16 20:06] mjohnsullivan commented on #5267
Fixed by #19363

[2018-07-16 20:07] #5267 closed

[2018-07-16 20:10] eseidelGoogle commented on #5445
My understanding from @cbracken is this is just us missing a few methods implemented in:
https://github.com/flutter/engine/blob/e632fb8160989888456948ce6f412d83b525810b/shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm

Probably not hard to do.  I agree this is unfortunate to have missing.

[2018-07-16 20:14] cbracken commented on #5445
I believe (but have not confirmed) that this is the case. [Methods in question](https://github.com/flutter/engine/blob/e632fb8160989888456948ce6f412d83b525810b/shell/platform/darwin/ios/framework/Source/FlutterTextInputPlugin.mm#L527-L557).

[2018-07-16 20:28] StokeMasterJack opened #19421 "Add something similar to React's shouldComponentUpdate"
It would be nice if there was a way to tell a component to not re-render if data has not changed.

[2018-07-16 20:44] Hixie commented on #16677
Pretty sure you can just do it using remove instead of pop, as per my last comment.
But in any case as noted above, I'm doing a rewrite of this API which will make all this better in the long run. No ETA currently.

[2018-07-16 20:47] jonahwilliams commented on #19418
This requires a new SemanticsFlag, probably something like `isExternalView`.  The semantics node which contained this flag could only have this flag and a label, which would be the serialized identifier used by the native view registry.

[2018-07-16 20:51] MeshkaniMohammad opened #19426 "Error 105 received from application: Isolate must be runnable- flutter- vs code"
i start my application and got this error and with page in emulator

Error 105 received from application: Isolate must be runnable
Hot reload received invalid response: {code: 105, message: Isolate must be runnable, data: {request: {method: _reloadSources, params: {pause: true, rootLibUri: /data/user/0/com.example.firstdart/cache/first_dartRYYGVJ/first_dart/lib/main.dart.dill, packagesUri: /data/u

[2018-07-16 21:00] eseidelGoogle commented on #9984
This bug causes developers to get this warning after uploading to the AppStore:

""" 
Dear Developer,We identified one or more issues with a recent delivery for your app, "Flutter Gallery". Your delivery was successful, but you may wish to correct the following issues in your next delivery:Missing Push Notification Entitlement - Your app appears to register with the Apple Push Notification service

[2018-07-16 21:22] manujbahl opened #19428 "Issues using textfield formatter."
I am trying to use the TextInputFormatter on the Textfield. All i am doing is add a modify the incoming text add a - at the end. It ends up in a infinite loop.  Is there anything wrong in the way I am doing it?

[code]

[2018-07-16 21:25] pulyaevskiy commented on #9984
Is there documentation on how to workaround this issue while proposed solution is in progress, it'd be very helpful.

[2018-07-16 21:57] Hixie commented on #18503
If you just want to disable scrolling entirely, you can use `physics: new NeverScrollableScrollPhysics()`.

[2018-07-16 22:15] eseidelGoogle commented on #1643
customer: mulligan ran into this, but it's not a launch blocker.  I expect other large teams (like Alibaba) may also hit this and want to hide paths from their build infrastructure.

[2018-07-16 22:39] bkonyi commented on #15332
While I was working to resolve this by passing file paths as strings in `loader.dart`, I ran into instances in the frontend that also throw exceptions due to this path containing a #. It seems to be a common pattern to keep all path-like state as instances of `Uri`, often created using `Uri.parse`, throughout the SDK so I think it's likely we'll run into this issue all over the place.

Personally,

[2018-07-16 22:50] Hixie opened #19431 "analyzer benchmarks are at least 10% slower"
Starting with this engine roll: https://github.com/flutter/flutter/pull/19322

[2018-07-16 22:50] Hixie opened #19432 "debug_full_compile_millis regressed about 10% across the board (dart2)"
Starting with this engine roll: https://github.com/flutter/flutter/pull/19322

[2018-07-16 22:50] Hixie opened #19433 "complex_layout_scroll_perf__timeline_summary 99th_percentile_frame_rasterizer_time_millis regression"
Starting with this engine roll: https://github.com/flutter/flutter/pull/19322

[2018-07-16 22:50] Hixie opened #19434 "complex_layout_scroll_perf__timeline_summary average_frame_rasterizer_time_millis regression"
Starting with this engine roll: https://github.com/flutter/flutter/pull/19322

[2018-07-16 22:50] Hixie opened #19435 "complex_layout_semantics_perf initialSemanticsTreeCreation ~40% regression"
Starting with this engine roll: https://github.com/flutter/flutter/pull/19322

[2018-07-16 22:50] Hixie opened #19436 "flutter_gallery__memory_nav diff_total_kb increased"
Starting with this engine roll: https://github.com/flutter/flutter/pull/19322

[2018-07-16 22:50] Hixie opened #19437 "flutter_test_performance regressed by ~20% (dart2)"
Starting with this engine roll: https://github.com/flutter/flutter/pull/19322

[2018-07-16 22:50] Hixie opened #19438 "flutter_gallery__back_button_memory is much more flaky now (data)"
Starting with this engine roll: https://github.com/flutter/flutter/pull/19322

[2018-07-16 22:52] mojason-81 commented on #19406
@zoechi Same problem after switching to dev channel.
[code]

[2018-07-16 22:52] Hixie opened #19439 "Meta bug for #19322 regressions"
Regressions starting with this engine roll https://github.com/flutter/flutter/pull/19322:

* analyzer benchmarks are at least 10% slower #19431
* debug_full_compile_millis regressed about 10% across the board #19432
* complex_layout_scroll_perf__timeline_summary 99th_percentile_frame_rasterizer_time_millis regression #19433
* complex_layout_scroll_perf__timeline_summary average_frame_rasterizer_ti

[2018-07-16 22:58] devoncarew commented on #19432
It looks like this uses the `package:analyzer` API directly. The fix for this will be independent of the fix for https://github.com/flutter/flutter/issues/19431.

[2018-07-16 23:00] aam commented on #19435
This seems to have been introduced in https://github.com/dart-lang/sdk/commit/98a2e90d4f0ce1e0fa092d3fde7cbec2b8b6a6ce, which ended up in https://github.com/flutter/engine/commit/d9a831c5557ea06ff53260890d402b96d1af9470

cc @rmacnak-google

[2018-07-16 23:21] mojason-81 commented on #19406
Looks the error doesn't occur in Flutter v0.4.4, but does as of v0.5.0.

[2018-07-16 23:37] kevinvandenbreemen commented on #18939
Good evening,
@mravn-google
One thing that concerns me about this solution however is backward compatibility.  Correct me if I am wrong, but won't changing setting target-platform attribute in an Android project necessarily exclude certain devices from being able to run the app?

Are there plans in the future to make Flutter just work out of the box in an existing Android project without any need

[2018-07-16 23:55] kdy1 opened #19442 "Cannot sign in with google play games service (assertion failed)"
[code]

fails with

[code]

GPGS login dialog works properly.

[2018-07-16 23:58] cbracken commented on #17051
See also #18278.

[2018-07-17 00:30] aam commented on #19432
There is https://github.com/flutter/flutter/issues/12745 that tracks the work of removing dependency on analyzer altogether.

[2018-07-17 00:35] chinmaygarde opened #19443 "iOS default application template packages the Generated.xcconfig file into the deployed application bundle."
This file is a build only dependency.

[2018-07-17 00:35] chinmaygarde commented on #19443
cc @cbracken

[2018-07-17 00:40] rmacnak-google commented on #19435
In synchronizing with the engine, `flutter drive` creates a gap during startup that the engine reports to the VM as an idle period. At this time, the app hasn't done anything yet and the heap is small and there is no external memory (e.g., dart:ui.Image), so the growth policy chooses a rather low allocation limit. The benchmark proper then starts and the first Images quickly cross this limit and t

[2018-07-17 01:04] Hixie commented on #19330
Right, if you do it not while we're building widgets, then it'll work fine. It'll be a bit weird in that there'll be one frame where the page before the one you pushed is interactive. The right solution is to push before you build the "background" page.

We build the widgets one by one going down the tree. The Navigator is above your widget, so it gets built first, but then we get to your widget,

[2018-07-17 01:04] Hixie commented on #12722
I guess not, my last comment more or less summarises what to do.

[2018-07-17 01:04] #12722 closed

[2018-07-17 01:14] jerrywell commented on #14178
+1

[2018-07-17 01:32] marcglasberg opened #19445 "Document that widgets in the overflow of stack do not respond to gestures"
Internal: b/143100923

When a `Stack` contains `MyWidget` inside of a `Positioned`.
[code]

Since overflow is `Overflow.visible`, `MyWidget` displays outside of the `Stack`. However, it doesn't accept gestures in the overflowed area. I have no idea if it's easy, difficult or downright impossible to make this change, but I can think of a gazillion use cases for that, which at the moment must be sat

[2018-07-17 01:38] marcglasberg commented on #18730
@zoechi This seems to be fixed.

[2018-07-17 01:43] jonahwilliams commented on #18585
@DaveShuckerow shall I repurpose this issue into iOS support?

[2018-07-17 02:15] namiwang opened #19446 "TextInput: Cursor wont move to next line when pressing `enter` in IME"
Occurs in both the latest dev and master channel

![ezgif-1-864ae21019](https://user-images.githubusercontent.com/1160688/42792927-3b1828d4-89aa-11e8-930a-c52a6e5a3c8c.gif)

[2018-07-17 02:20] CaiJingLong commented on #19446
+1
I also met the same bug.

[2018-07-17 02:29] ricnaaru opened #19447 "Tab Scroll Duration and Curve"
So I am using Carousel library https://pub.dartlang.org/packages/carousel, and it uses `tabs.dart` (its `TabBarView`), and when I try to override `scrollduration` and curve, i have successfully update the property of `TabController`, but in `tabs.dart` still scrolling using `kTabScrollDuration` and `Curves.ease`, isn't it supposed to get from controller?

[2018-07-17 02:30] namiwang commented on #19446
Yep. Closing.

[2018-07-17 02:31] #19446 closed

[2018-07-17 02:38] vphong opened #19448 "Issue from website page Write Your First Flutter App"
From URL: https://flutter.io/get-started/codelab/

I was following the tutorial from this url, and the code from this specific page is outdated. When reaching [Step 6: Navigate to a new screen](https://flutter.io/get-started/codelab/#step-6-navigate-to-a-new-screen), both Android and iOS apps error'd out with a `'package:flutter/src/widgets/navigator.dart': Failed assertion: line xxxx: '!_debugLoc

[2018-07-17 02:40] allandaleho commented on #16606
I actually have a fix for it, i will try to fork and contribute. But basically if you look at DropdownButtonState, the IndexedStack should be wrapped in Expanded widget.

I will create a PR today, though I don't know how long will Flutter team approve my fix. If you guys need more info on how to do a temporary fix I can share them here.

[2018-07-17 02:43] allandaleho commented on #13135
I actually have a fix for it, i will try to fork and contribute. But basically if you look at DropdownButtonState, the IndexedStack should be wrapped in Expanded widget.

I will create a PR today, though I don't know how long will Flutter team approve my fix. If you guys need more info on how to do a temporary fix I can share them here.

[2018-07-17 02:47] rffanlab commented on #16514
It is not..I could not find this function.

[2018-07-17 02:59] jiangjh opened #19449 "When I use Navigator to push a Scaffold,I want to click anywhere to drag back!"

[2018-07-17 03:08] #10404 closed

[2018-07-17 03:57] allandaleho commented on #16606
Already made a PR!

[2018-07-17 03:57] allandaleho commented on #13135
Already made a PR!

[2018-07-17 04:30] sutara-aayush commented on #16616
@zoechi i resolved the issue. Thanks

[2018-07-17 04:44] hasonguo commented on #13419
@sethladd Do you have implement disk cache for flutter：DiskLruCache.If you had implemented DiskLruCache . I wish you can share it.Thanks

[2018-07-17 05:08] JoeCherry opened #19452 "Flutter crashes when using custom fonts on iOS"
## Sample pubspec.yaml

[code]

## Steps to Reproduce

1. Add custom fonts to Flutter application
2. Run on iOS device
3. Observe random crash. Sometimes on startup other times when navigating to new widgets

note: I have not tried running on Android yet

## Logs

[code]

[code]

[2018-07-17 05:48] najeira commented on #17495
It seems that it does not always occur with a specific text.

[2018-07-17 05:56] najeira commented on #17495
After upgraded Flutter 0.2.1 to 0.4.4, crash and ANR are increasing in our app.

Is not this reported from English users? If so, is the issue related to Japanese and Chinese?

[2018-07-17 06:34] najeira commented on #17495
I will try upgrading Flutter to 0.5.7. It has some libtxt fixes.

[2018-07-17 06:36] aam commented on #19432
Actually I don't think analyzer is invoked in build step and compile metric.
Regression might be coming from pub that is invoked as part of gradle build.

[2018-07-17 06:51] DanTup opened #19453 "flutter emulator --launch broken since recent roll"
Two issues:

Original issue is:

However it also looks like code handling exceptions assumes they're always bare strings:

## command

flutter emulators --launch ios

## exception

_TypeError: type '_TypeError' is not a subtype of type 'String'

[code]

## flutter doctor

[code]

[2018-07-17 06:52] jaggerwang commented on #19346
OK. I already transformed it to `json_serializable`.

[2018-07-17 06:59] #16616 closed

[2018-07-17 06:59] DanTup commented on #19453
With the error handling fixed, here's the real error stack:

[code]
#0      IOSEmulator.launch.launchSimulator (package:flutter_tools/src/ios/ios_emulators.dart:43:12)
<asynchronous suspension>
#1      IOSEmulator.launch (package:flutter_tools/src/ios/ios_emulators.dart:54:31)
<asynchronous suspension>
#2      EmulatorsCommand._launchEmulator (package:flutter_tools/src/commands/emulators.dart:72:3

[2018-07-17 07:06] DanTup commented on #19453
Ugh, implicit cast again:

[code]

`followedBy` returns `Iterable`.

[2018-07-17 07:08] zoechi commented on #16514
You can find it in https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/services/system_chrome.dart#L270

The online docs https://docs.flutter.io/flutter/services/SystemChrome/setEnabledSystemUIOverlays.html (the SO answer links to these docs as well)

Add the import

[code]
to make it available.

[2018-07-17 07:11] zoechi commented on #16602
@SoaresGabriel can you create a minimal reproduction?
Create a new project with `flutter create` and add the code to `lib/main.dart` that is required to reproduce the issue?

[2018-07-17 07:13] zoechi commented on #18730
@marcglasberg Great! Thanks for the update. I'm going to close it then.
Just create a new issue if you run into it again.

[2018-07-17 07:31] jagdishjadeja opened #19455 "Icon in dropdown is not looking same as gallery app"
i do not see any dependency of this code except List of dropdownitems
[code]
i simply copy pasted it in newly created app and it seems way different than https://github.com/flutter/flutter/blob/f630f90d6d27ce716ac3c24861c3065b1a981612/examples/flutter_gallery/lib/demo/material/date_and_time_picker_demo.dart

this is is how it looks in my app
![image](https://user-images.githubusercontent.com/17143

[2018-07-17 07:31] DanTup commented on #19453
https://github.com/flutter/flutter/pull/19454

[2018-07-17 07:32] zoechi commented on #17613
This looks like #18755.
The stack trace also points at a `ListTile` but your example code doesn't include a `ListTile`.
@Pacane do you think it's ok if I close as dup of #18755?

[2018-07-17 07:34] DuanTzXavier commented on #19348
Thanks a lot ! closed

[2018-07-17 07:34] #19348 closed

[2018-07-17 08:02] #17342 closed

[2018-07-17 08:06] zoechi commented on #19455
I guess you have
[code]
instead of
[code]

This kind of question is better asked on StackOverflow or Gitter https://gitter.im/flutter/flutter

[2018-07-17 08:06] #19455 closed

[2018-07-17 08:12] zoechi commented on #19449
Perhaps you want to wrap the content with a https://docs.flutter.io/flutter/widgets/GestureDetector-class.html
I think this kind of question is better asked on StackOverflow or https://gitter.im/flutter/flutter anyway.

[2018-07-17 08:13] zoechi commented on #19447
Please add the output of `flutter doctor` and the code that allows to reproduce.

[2018-07-17 08:31] hnvn commented on #16477
Hi, is there anything new about this feature?

[2018-07-17 08:34] jagdishjadeja commented on #19455
thats not what i meant
i mean if you look at that dropdown icon its near to text instead full size box

[2018-07-17 08:34] #19330 closed

[2018-07-17 08:35] devxpy commented on #19330
Thanks for the detailed explanation

[2018-07-17 08:36] devxpy commented on #19330
I believe this is the correct way?

[code]

[2018-07-17 08:37] zoechi commented on #19428
I guess you shouldn't add `-` if there is one already.

[2018-07-17 08:38] zoechi commented on #19426
/cc @DanTup

Please add the output of `flutter doctor`.
Does the file `lib/main.dart` contain valid Dart code?

[2018-07-17 08:40] zoechi commented on #19421
Can you please provide more information about a concrete use case?

[2018-07-17 08:43] zoechi commented on #19455
Can you please provide your full code. There has to be some change in the code if it looks differently.
There is no way to find anything from the provided code snippet.

[2018-07-17 08:44] MeshkaniMohammad commented on #19426
Every thing is ok and I checked it in intelij idea and worked well.but in
vs code it doesn't work and gives this error

On Tue, Jul 17, 2018, 13:09 Günter Zöchbauer <notifications@github.com>
wrote:

[2018-07-17 08:49] zoechi commented on #19348
Moved to https://github.com/dart-lang/sdk/issues/33881

[2018-07-17 08:52] zoechi commented on #19426
Please add the output of `flutter doctor -v`

[2018-07-17 08:56] micrcx opened #19457 "Issue from website page Reading and Writing Files"
From URL: https://flutter.io/cookbook/persistence/reading-writing-files/

I've try to build a project (Complete eхamplе) and following error is appeares:

[code]

At the same time, there are no obvious errors (absence of packages, for instance) in the project. All dependencies are resolved. What is the problem?

[2018-07-17 08:58] jagdishjadeja commented on #19455
Here is code that i tried

[code]
output of this code :
![screenshot_20180717-142502](https://user-images.githubusercontent.com/17143515/42807083-86e9283a-89cd-11e8-88a0-a927e3a07c52.jpg)

output of same code from gallery app :
![screenshot_20180717-142554](https://user-images.githubusercontent.com/17143515/42807113-95dbad68-89cd-11e8-9c10-50b2150af654.jpg)

[2018-07-17 08:59] zoechi commented on #19368
See also flutter/plugins#660

[2018-07-17 09:02] androidvov commented on #11500
@Mahender-Prayuta  I solve this problem use SingleChildScrollView ,this is easy way to solve this problem.
But with ohter Stateful widget , you have to write some code to implement the child Stateful widget can notify the parent store the changed state for the next render .

[2018-07-17 09:03] zoechi commented on #19455
Can't reproduce.
Can you please try running `flutter clean` in a command line shell in the project directory?

[2018-07-17 09:09] jagdishjadeja commented on #19455
[code]

[2018-07-17 09:10] zoechi commented on #19455
Adding back `padding: ...`
[code]
makes it look like before

[2018-07-17 09:13] acidjazz opened #19458 "[image_picker] pickImage from ImageSource.camera orientation bug"
This issue is confirmed with a Pixel 2 XL, a Samsung S5, and a Note 2

This is not an issue with most apple devices, tested with an iPhone 6, 7, or 10

* Launch ImagePicker.pickImage(source: ImageSource.camera)
* Rotate your phone and take a photo in landscape mode

Displaying the result in flutter shows it orientated correctly, but when sending this to a server / s3 bucket / firebase resource the

[2018-07-17 09:14] acidjazz commented on #11500
@androidvov can you show an example of how you solved this using that? I've tried it multiple times with no luck.

[2018-07-17 09:15] jagdishjadeja commented on #19455
look closer in my app dropdown icon is near to text but in gallery app with same code that dropdown icon is far at the trailing edge.
thats what i meant

[2018-07-17 09:17] zoechi commented on #19457
Please add the output of `flutter doctor -v`.

[2018-07-17 09:23] DanTup commented on #19426
Could you try collecting some logs for me?

- Run the `Dart: Capture Logs` command from the VS Code command palette
- Tick the `Flutter Run` and `Observatory` options (you can untick others)
- Choose a location to save the log file
- Start a debug session and reproduce the issue by trying some hot reloads
- Click the **Stop Logging** button in the log notification
- Review that log file to ensure

[2018-07-17 09:34] zoechi commented on #19455
Sorry, I think I got it now :D

[code]

[2018-07-17 09:37] jagdishjadeja commented on #19455
oh i see
i missed it there
thanks a lot for all information

[2018-07-17 09:40] acidjazz commented on #19458
thanks @zoechi that makes a lot of sense, throwing away the EXIF data and then a "fix" to properly show it in flutter definitely makes this related.  any progress on ways to keep our EXIF data @goderbauer ? or actually just saving the image w/ the correct orientation?

[2018-07-17 09:42] zoechi commented on #19455
Glad to hear it helped :)

[2018-07-17 09:43] zoechi commented on #16740
Sorry for the late response. Is this still an issue?

[2018-07-17 09:44] zoechi commented on #16744
Please add the output of `flutter doctor -v` and the code that allows to reproduce.

[2018-07-17 09:46] zoechi commented on #16746
Adding a delay to `pumpWidget(...)` or `pump(...)` should fix that.

[2018-07-17 09:48] PrashanthYN opened #19459 "ThemeData Error after flutter upgrade"
[code]

[2018-07-17 09:49] Pushkar98 commented on #16740
Yes it is. For the apps with dark app bar it's fine. However with light app bar the status bar text colour changes from black to white as we move from splash screen to homepage and then keeps on changing randomly. Watch the gif completely.
![flutter issues](https://user-images.githubusercontent.com/34940419/42810096-c00c6d3c-89d4-11e8-994c-07699981c6ab.gif)

[2018-07-17 09:50] zoechi commented on #18783
Closing as dup of #16775

[2018-07-17 09:50] #18783 closed

[2018-07-17 09:51] Pushkar98 commented on #16740
On the splash screen the colour is black but as we move to the home page it turns white. Since the App bar colour is itself white the text does not appear. We have tested it with dark app bar and found that the status bar colour changes to white

[2018-07-17 09:55] zoechi commented on #16786
Sounds similar to flutter/flutter-intellij#2472

@devoncarew should this be moved over to flutter/flutter-intellij ?

[2018-07-17 09:55] zoechi commented on #16706
Seems you were able to fix it and it's safe to close.

[2018-07-17 09:55] #16706 closed

[2018-07-17 09:56] zoechi commented on #16800
Seems to be a dup of #17773 and fixed.

[2018-07-17 09:56] #16800 closed

[2018-07-17 09:57] zoechi commented on #16806
Sorry for the late response. Is this still an issue?

[2018-07-17 09:58] zoechi commented on #16229
Closing as dup of #14128

[2018-07-17 09:58] #16229 closed

[2018-07-17 09:59] zoechi commented on #16822
Is this still an issue?

[2018-07-17 10:00] zoechi commented on #16760
Seems to be fixed. Can this be closed?

[2018-07-17 10:02] zoechi commented on #16768
Sorry for not coming back earlier. Is this still an issue?

[2018-07-17 10:03] zoechi commented on #16851
Is this still an issue?

[2018-07-17 10:05] zoechi commented on #16850
Sorry for the late response. Is this still an issue?
We would need to see the code that allows to reproduce.

[2018-07-17 10:08] christian-muertz opened #19460 "InputDecoration prefixPadding"
Would be very helpful if you could add some padding to the InputDecoration prefix text to make some space between the "text area" and the prefix text.

[2018-07-17 10:08] zoechi commented on #16655
Looks like a dup of flutter/flutter-intellij#2347

[2018-07-17 10:13] zoechi commented on #15904
I think this should be reported in dart-lang/sdk.
I don't think this is specific to Flutter. @ohir what do you think?

[2018-07-17 10:14] zoechi commented on #16883
So this is for the use of flutter/sentry in a web project.
I guess a PR is welcome but unlikely to be implemented by the Flutter team.
/cc @yjbanov

[2018-07-17 10:15] zoechi commented on #16884
That is not allowed and prevented by the browser AFAIK

[2018-07-17 10:16] zoechi commented on #16879
@Eimji did you report the issue there? Can this be closed?

[2018-07-17 10:16] micrcx opened #19461 "Issue from website page Reading and Writing Files"
From URL: https://flutter.io/cookbook/persistence/reading-writing-files/

I've changed the code a little bit so as not to use the path_provider package if it creates problems. The function **_localFile** has been changed:

[code]

I also added the next permissions to the AndroidManifest.xml file:

[code]
However, if change the counter, an error occurs:

[code]
What is the reason?

[2018-07-17 10:17] zoechi commented on #16889
Sorry for the late response.
DartAnalyzer shouldn't have a reason to list this directory.
Is this still an issue?

[2018-07-17 10:21] zoechi commented on #15947
Sorry for the late response. There were some related changes.
Is this still an issue in recent Flutter versions?

[2018-07-17 10:21] zoechi commented on #16892
Sorry for the late response.
Is this still an issue?

[2018-07-17 10:22] zoechi commented on #16838
@devoncarew should this be moved to flutter/flutter-intellij ?

[2018-07-17 10:23] zoechi commented on #16838
@filiph #16787 is closed. Is this still an issue?

[2018-07-17 10:24] zoechi commented on #16913
Sorry for the late response.
Is this still an issue?
Can you please provide more information about how to reproduce?

[2018-07-17 10:29] zoechi commented on #16562
I believe this is fixed since a while.

[2018-07-17 10:29] #16562 closed

[2018-07-17 10:30] zoechi commented on #16828
Is this still an issue?

[2018-07-17 10:34] zoechi commented on #16740
https://github.com/flutter/flutter/issues/7347#issuecomment-325456201 should work at least as workaround.
Might be even a dup of #7347

[2018-07-17 10:40] brianegan commented on #16828
@zoechi It is! I've talked with the Flutter team and they mentioned they're working on some redesigns of the documentation pages and so I've held off on adding anything like this manually.

That said, perhaps I can add a "Breadcrumb" module for Jekyll see if it works for this purpose.

[2018-07-17 10:43] Amot-zpan commented on #18686
similar issue!
my code:
[code]

after 2s, tap *item4* and *item5* throw exception:
[code]

flutter doctor:
[code]

[2018-07-17 10:43] zoechi commented on #19461
Not sure what you expect but `File('counter.txt')` references the file `/counter.txt` and the app won't have read or write access there.
You need to use the `path_provider` package (or other similar plugins) to get paths where writing application data makes sense.

I think this is working as intended.

[2018-07-17 10:47] parasthekoder opened #19462 "Looking up a deactivated widget's ancestor is unsafe."
When I upgrade to the v0.5.7 in the dev channel I got this error which was previously working fine.
Then I tried beta channel too but this error is not going. I don't know how to handle it as I got no clue searching over google.

####The potential candidate of the crash is this code
`
  Future getImage(BuildContext context,ImageSource imageSource) async {

    Io.File image = await ImagePicker.pic

[2018-07-17 10:47] zoechi commented on #19459
Please add the output of `flutter doctor -v` and the code that allows to reproduce.

Looks like a dup of #16764

[2018-07-17 10:51] DanTup commented on #15904
Isn't this just a dupe of https://github.com/dart-lang/sdk/issues/28754?

My guess is if you put the same code into a non-Flutter `.dart` script and run `dartanalyze` on it you'll see the same thing?

[2018-07-17 11:22] giovannilima262 commented on #16850
no

[2018-07-17 11:22] giovannilima262 commented on #16913
no

[2018-07-17 11:24] sreedath19 opened #19463 "erroe"
## What happened

(please describe what you were doing when this exception occurred)

## Version information

Android Studio `3.1.3` • Flutter plugin `io.flutter 26.0.1` • Dart plugin `173.4700`

Error getting Flutter sdk information.

## Exception

null

[code]

[2018-07-17 11:30] escamoteur commented on #19463
Please add you `flutter doctor`output to your issue

[2018-07-17 11:37] escamoteur opened #19464 "No longer able to debug since todays update on master"
Hi,

since today my App either doesn't start up at all or crashes after some time with the message that the connection is lost.

I attach the log from CS code

[Dart-Code-Log-2018-06-02 13-27.txt](https://github.com/flutter/flutter/files/2201425/Dart-Code-Log-2018-06-02.13-27.txt)

My enviroment:

[code]

[2018-07-17 11:43] micrcx commented on #19461
/home/misha/flutter/bin/flutter --no-color doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, v0.5.1, on Linux, locale en_US.UTF-8)
[!] Android toolchain - develop for Android devices (Android SDK 26.0.1)
    ! Some Android licenses not accepted.  To resolve this, run: flutter doctor --android-licenses
[✓] Android Studio (version 3.1)
    ✗ Flutter plugin

[2018-07-17 11:44] b-connect opened #19465 "Crash in background"
## Steps to Reproduce
Seems to be a problem in a isolate running in background.

Using android_job_scheduler

## Logs

[code]
#0      LogsCommand.verifyThenRunCommand (package:flutter_tools/src/commands/logs.dart:36:18)
#1      _asyncThenWrapperHelper.<anonymous closure> (dart:async/runtime/libasync_patch.dart:77:64)
#2      _rootRunUnary (dart:async/zone.dart:1134:38)
#3      _CustomZone.runUnary

[2018-07-17 11:45] escamoteur commented on #19464
Update: It seems that this only happens if `break on exceptions` is enabled.

[2018-07-17 11:50] shadopanda opened #19466 "Having both image_picker and path_provider causes AndroidManifest Error"
So when I have both image_picker and path_provider in my project AndroidManifest.xml provides an Error. Debug Console output:

[code]

## Steps to Reproduce

Including both image_picker and path_provider in the project causes AndroidManifest Error
My `pubspec.yaml` file:
[code]

## Logs
[code]

[✓] Flutter (Channel master, v0.5.6-pre.30, on Mac OS X 10.13.4 17E202, locale en-SI)
    • Flutter vers

[2018-07-17 11:52] zoechi commented on #19461
@micrcx you think you should be able to write into the system root folder?

[2018-07-17 11:53] DanTup commented on #17838
If I try to repro this today, the process seems to terminate instead:

[code]

I don't know if this means something has changed relating to this, or if it's just crashing earlier than this used to happen.

[2018-07-17 12:02] zoechi commented on #19466
I'm using this 2 plugins together and they seem to work fine this way.

Have you tried in a new project where you just add these 2 plugins?

[2018-07-17 12:05] zoechi commented on #19463
What action causes this exception? How can this be reproduced?

[2018-07-17 12:09] zoechi commented on #19465
Can you please provide more information about how to reproduce?
The error message actually tells what's wrong.

[2018-07-17 12:11] micrcx commented on #19461
The error is clear. I just assumed by stupidity that maybe flutter by default writes the file to the application space if path contains only file name without folders.

[2018-07-17 12:11] zoechi commented on #19464
Looks a bit like a dup of #19379

[2018-07-17 12:24] escamoteur commented on #19464
Rolling back: `git reset --hard e22f99743b4f0bea4a9b8e7703ce5ffbfda37a04` fixed it it

[2018-07-17 12:24] b-connect commented on #19465
Seems only occur when i call `flutter logs`

[2018-07-17 12:39] Solido commented on #19404
There's a request to support it
https://github.com/alexjlockwood/ShapeShifter/issues/19
+1 to support

[2018-07-17 12:44] zoechi commented on #19465
Sorry, missed the `flutter logs` line

[2018-07-17 12:46] navneetccna opened #19467 "Flutter crash with VSCode"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter build bundle --suppress-analytics --target /home/owner/projects/flutter_project/login_app/lib/main.dart --preview-dart-2 --depfile /home/owner/projects/flutter_project/login_app/build/app/intermediates/flutter/debug/snapshot_blob.bin.d --asset-dir /home/owner/projects/flutter_project/login_app/buil

[2018-07-17 12:46] shadopanda commented on #19466
@zoechi You are right running this 2 plugins in a new project works fine. I even tried including all of my plugins and it worked fine. I also took a look at the AndroidManifest in the new project and its different then the one in my old project:

Old project, App -> AndroidManifest.xml:
[code]

New project, App -> AndroidManifest.xml:
[code]

It looks like the <provider> tag in the Old project cau

[2018-07-17 12:56] tiagosito commented on #14842
I did not find it in the documentation, is it there?

[2018-07-17 12:57] lubritto opened #19468 "Colorfilter matrix"
current just have color and blend mode, we need a colorfilter.matrix to change brightness, saturation and contrast of image for example..

[2018-07-17 13:54] sir-boformer commented on #497
I really hope that this will be implemented. without it, bottom sheets are quite useless, especially in landscape mode.

Here is a working link to the material spec: https://material.io/design/components/sheets-bottom.html#behavior

This video shows the behavior: https://material.io/design/assets/1mYYvVz_dCIx0bRyY_VV4hOs9709f1ESb/modal-behavior-dismissal-close.mp4

[2018-07-17 13:57] SoaresGabriel commented on #16602
@zoechi yes, there it is:
https://gist.github.com/SoaresGabriel/75f3df8fa5c4d18b6d097a1b62b3cd1b

Go to page b, and click pop until, and the exception is thrown:

[code]

[2018-07-17 14:02] SoaresGabriel commented on #16602
I just found the error, i was creating the PageRoutes, but was not giving a name to it. I fix the above example by change the pages in MyApp:
[code]
And onGenerateRoute in the MaterialApp widget:
[code]

I think the error message should be clearer.

[2018-07-17 14:03] zoechi commented on #19466
It's a known issue that config files in older projects are not updated.
Currently this needs manual work, like you did. Create a new project and compare the result and then copy files or content of files to the existing project.
Improvements are planned but it's all a lot of work and takes time.

Can we close this issue?

[2018-07-17 14:04] zoechi commented on #16602
Great! I guess we leave this open as a reminder to improve the error output.

[2018-07-17 14:08] zoechi commented on #19467
@DanTup

[2018-07-17 14:10] nick-harris commented on #15947
Yes this is still an issue with the project I am working on.
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel dev, v0.5.7, on Mac OS X 10.13.5 17F77, locale en-US)
[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)
[✓] iOS toolchain - develop for iOS devices (Xcode 9.4.1)
[✓] Android Studio (version 3.1)
[!] IntelliJ IDEA Community Edition (ver

[2018-07-17 14:11] DanTup commented on #19467
This is a dupe of https://github.com/flutter/flutter/issues/17831 which was fixed in https://github.com/flutter/flutter/issues/17831.

If you're on the `beta` channel (which hasn't got the fix yet) you can workaround it by running `flutter clean` for now.

[2018-07-17 14:11] #19467 closed

[2018-07-17 14:12] LyCharlie commented on #17566
I've got java.lang.AssertionError: This Flutter engine instance is already running an application error when using this plugin , how can I fix this error , any workaround ?

[2018-07-17 14:13] sir-boformer opened #19469 "Material Bottom Sheet Reveal/Dismiss animation should use a curved animation"
Right now the scaffold uses the linear value of the animation controller, which results in a rather abrupt linear animation:
https://github.com/flutter/flutter/blob/c39f2f26f7e74c516060fa3475876de21c38bbf3/packages/flutter/lib/src/material/scaffold.dart#L1710

In the Material Design samples, you can clearly see that the bottom sheets are animated smoothly: https://material.io/design/components/she

[2018-07-17 14:34] roNn23 commented on #9211
Also running into this issue... :/

[2018-07-17 15:00] zanderso commented on #19390
I think we'd need to start off by doing the following:
- Disassemble libflutter.so around the faulting PC to identify which specific instruction is triggering the SIGILL.
- Build and run with a local engine configured with the `--runtime-mode=debug` and  `--unopt` flags to try to get more stack frames in the symbolized crash report.

It would also be helpful if you could point to any documentation

[2018-07-17 15:00] skeksk91 opened #19471 "Is it possible TextField has multi-line looking?"
This is my state now which is common TextField.

![image](https://user-images.githubusercontent.com/4088583/42825098-3e7f7a5a-8a1c-11e8-8942-fd29dc0dff00.png)
[code]

-------------------------------------------------------------------------------------------------------------------

**I want to make textField with multilne looking like this,**

![image](https://user-images.githubusercontent.com/40

[2018-07-17 15:38] development-s365 opened #19472 "Adding activity before running FlutterActivity"
Hi

Due to a specific authentication flow i need to add an Activity before starting up the FlutterActivity.
Is this possible?
I already tried changing the manifest.

Kind regards.

[2018-07-17 15:42] DanTup commented on #19379
I've got an integration test failing for what I believe to be this issue:

https://github.com/flutter/flutter/pull/19473

It passes if patched into e22f997 but fails on current master. I can't land it because it requires changes to `vm_server_client` (I've opened a PR, but it'll need to be reviewed, merged and rolled into Flutter) but you can run it locally by cloning my `vm_server_client` PR bran

[2018-07-17 15:46] zoechi commented on #16732
Sorry for the late response. Is this still an issue?

[2018-07-17 15:47] zoechi commented on #16740
@Pushkar98 why the laugh reaction?

[2018-07-17 15:49] kangwang1988 commented on #19390
@zanderso
Got that. I'll try the unoptimized and debug engine once the Mi Pad2 is delivered.
If any new messages found,I will post it here.

[2018-07-17 15:50] jacob314 commented on #19354
Not sure what is different on our setups but this definitely crashes on my laptop. The crash is not purely in Flutter tools. I am using an android emulator to repro.

Here is a repro of it not crashing at all on an older build.
https://github.com/jacob314/flutter/tree/crash_repro

If you merge to include the latest engine roll it will crash the dart vm when running in an android emulator.
Note tha

[2018-07-17 15:52] DanTup commented on #19464
Yep, I'm pretty certain this is the same as https://github.com/flutter/flutter/issues/19379 (which I think is also causing me issues with Dart Code debug adapter integration tests).

New integration tests in https://github.com/flutter/flutter/pull/19473 which fail since the last engine roll.

[2018-07-17 15:52] zoechi commented on #19472
Is this about integrating Flutter into an existing app or a pure Flutter app?

[2018-07-17 15:54] zoechi commented on #19471
`TextField` doesn't provide such a feature out of the box.

[2018-07-17 15:55] zoechi commented on #17566
@LyCharlie
Please add the output of `flutter doctor -v`.

[2018-07-17 16:00] aam commented on #19379
@zoechi wrote:

How was it fixed on Friday? https://github.com/flutter/flutter/pull/19378 never went in because we should do it differently: https://github.com/flutter/flutter/pull/19378#issuecomment-405285521.

[2018-07-17 16:03] zoechi commented on #19379
@aam I'm not sure. It seems it just sometimes works. Probably better to just ignore my comment.

[2018-07-17 16:12] adriancmurray opened #19474 "On Edge Swipe Gesture"
This is a relatively simple question that I've not been able to locate. Is there a way to detect edge swipes such as when Scaffold does for Drawers? @Hixie ?

[2018-07-17 16:13] HansMuller opened #19475 "App crashes: JNI DETECTED ERROR IN APPLICATION: non-nullable address is NULL"
All apps, including the flutter gallery crash with roughly the same swan song: https://gist.github.com/HansMuller/bebbb97e6694b589bec636101f83ed0d

This commit from July 12th works OK: 7ebf2728dc9173ad63a41aaa4c13e1fcafa51d4a

The next commit, an engine roll on July 13th fails: 579d2fba992336cbe7be18f6555e3086d97215b0

This failure occurs on a Nexus 5:
Nexus 5 • 077d128c003bc79d • android-arm • An

[2018-07-17 16:15] aam commented on #19354
Does it crash the same way when you run on physical device?
I checked out your crash_repro repo, did flutter run in flutter_gallery with physical Moto G4 connected, pressed 'p' and got same exception as on latest head:

[code]

[2018-07-17 16:15] HansMuller commented on #19475
cc @jonahwilliams

[2018-07-17 16:17] LyCharlie commented on #17566
flutter doctor -v
[✓] Flutter (Channel beta, v0.5.1, on Mac OS X 10.13.5 17F77, locale en-CN)
    • Flutter version 0.5.1 at /Users/ethanlee/development/flutter
    • Framework revision c7ea3ca377 (7 weeks ago), 2018-05-29 21:07:33 +0200
    • Engine revision 1ed25ca7b7
    • Dart version 2.0.0-dev.58.0.flutter-f981f09760

[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)

[2018-07-17 16:19] skeksk91 commented on #19471
@zoechi
Thank you for your response. Then I will implementation.

[2018-07-17 16:20] #19471 closed

[2018-07-17 16:20] csga5000 commented on #9984
@pulyaevskiy
I'm pretty sure the "solution" is ignore the warnings.  They don't technically break anything.  Apple will still approve your app, as long as you're not actually using push notifications.

[2018-07-17 16:24] aam commented on #19432
With dart2 becoming default for dart sdk(and `pub`)  `pub ` launch on z840 linux workstation regresses from 0.10s to 0.20s:

before enabling dart2 to be default(https://github.com/dart-lang/sdk/commit/cdd2553a128e1fcaea2176fe411051ac260469b7)
[code]

after(https://github.com/dart-lang/sdk/commit/bc7220a4fd72b6c348f8a1c605b3af4a22daf669 )
[code]

cc @a-siva

[2018-07-17 16:24] csga5000 commented on #7053
@mmcc007 It's how you do it in java or swift.

Java: https://www.google.com/search?client=opera&q=android+java+use+C%2B%2B&sourceid=opera&ie=UTF-8&oe=UTF-8

Swift: https://www.google.com/search?client=opera&q=swift+use+C%2B%2B&sourceid=opera&ie=UTF-8&oe=UTF-8

You can see how superpowered recommends you do it if you really want an example (it's just one I know of): https://github.com/superpoweredS

[2018-07-17 16:26] chalin opened #19476 "[website - infra] Generate a sitemap.xml"
Possibly related to #10898

cc @Sfshaza @kwalrath @filiph

[2018-07-17 16:32] cbracken commented on #19434
From a quick look at the benchmarks, looks like about a ~7% regression on Android and a ~15% improvement on iOS for this benchmark. Equivalent benchmarks for flutter_gallery__transition_perf (iOS/Android) appear to be unaffected.

[2018-07-17 16:33] amirh commented on #19475
It crashes on API 22, doesn't crash on API 23.

[2018-07-17 16:33] aam commented on #19354
On emulator I get the same exception as I do on physical device

[2018-07-17 16:35] cbracken commented on #19434
@liyuqian this is one of the recent regressions that looks as though it may not be Dart 2 related. Taking a look at the engine commit list in #19277, most are related to Skia/compositing. Would you mind taking a look?