[2017-03-14 13:48] tvolkert opened #8761 "Port scanning in flutter tools is not mockable"
We currently [make a static call](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/base/os.dart#L184) to `ServerSocket.bind()` in order to determine whether a given port is available for use.  This method of port scanning is not test friendly, and in fact is causing flutter tools tests to fail locally[1] for most developers (but succeed on Travis).

[1] Most often seen

[2017-03-14 14:05] abarth commented on #7648
The trick is to make up a type name with the proper interface given that Dart doesn't have union types.

[2017-03-14 14:25] mit-mit commented on #8760
@LarkAscending, is this missing, or am I misunderstanding something?

[2017-03-14 14:59] #8746 closed

[2017-03-14 15:20] sethladd commented on #8658
Thanks for the update!

On Tue, Mar 14, 2017, 3:09 AM Mike Hoolehan <notifications@github.com>
wrote:

[2017-03-14 15:21] sethladd commented on #8722
We will likely reorder the left nav as part of milestone 2 so feel free to
put it under something now :)

On Mon, Mar 13, 2017, 7:31 PM LarkAscending <notifications@github.com>
wrote:

[2017-03-14 15:23] mit-mit commented on #8722
I'm not waiting for sidenav reorder for this one, but waiting on at least some initial content for iOS. Chris and I hope to have that soon!

(If it drags out, I'll add the android link)

[2017-03-14 16:06] goodev commented on #8732
@goderbauer I move the flutter and Android SDK to D drive, run flutter doctor command still get the same error:
`
PS D:\flutter\flutter> flutter doctor
[
Oops; flutter has exited unexpectedly.
Crash report written to D:\flutter\flutter\flutter_04.log;
please let us know at https://github.com/flutter/flutter/issues.
`
**But** now I can run the app on Android devices,  Maybe this is caused by Androi

[2017-03-14 16:11] HansMuller commented on #7318
The plan is top rename ListItem to ListTile. The docs have already been updated to reflect its fixed sizes.

Calling this widget ListItem caused some confusion because the name implies that the widget is a universal list entry. One that's an arbitrary size and not Material Design specific. The Material Design spec uses the term "tile" for list entries which is evocative of something that comes in

[2017-03-14 16:57] #8508 closed

[2017-03-14 16:57] #8521 closed

[2017-03-14 17:05] goderbauer commented on #8732
Thanks for the additional information. Judging by the exception you are getting this is very unlikely to be a problem with file paths. However, I don't know what is causing this yet.

Can you tell me what version of PowerShell you're running? `$PSVersionTable.PSVersion` executed in a PowerShell should give you that answer. Also, does `flutter doctor` work in a regular cmd prompt?

[2017-03-14 17:06] goderbauer commented on #8732
@zanderso This is another report of a customer where the Dart VM crashes when writing a non-unicode character to stdout.

[2017-03-14 17:22] mattsarett commented on #8630
cc @brianosman

[2017-03-14 17:28] Hixie commented on #8755
Adam had a further idea, the ScrollController should subscribe to the ScrollPosition when it has just one, and forward any notifications from that, so that you can just use the controller as a proxy for the position without risking null derefs or having to subscribe/unsubscribe.

[2017-03-14 17:28] #8761 closed

[2017-03-14 17:37] abarth commented on #8755
https://github.com/flutter/flutter/pull/8768

[2017-03-14 17:41] zanderso commented on #8732
Is this on Windows 7?

[2017-03-14 17:42] abarth commented on #3678
IMHO, the solution here is to improve the button docs to point to InkWell and GestureDetector for these use cases.

[2017-03-14 17:51] abarth commented on #3678
Looks like we have these docs now.

[2017-03-14 17:51] #3678 closed

[2017-03-14 17:55] abarth commented on #4702
I think we'll be able to add this feature in a way that doesn't break the API.

[2017-03-14 18:02] zanderso commented on #8732
Looks like Windows 7. Unfortunately, I don't have a Windows 7 machine with non-english locale to test on, and the Dart test bot with non-english locale isn't running our console unicode test with a console attached.

If I had to guess at what the problem is, I would guess that we aren't setting up the output code page correctly for non-english locales. Along those lines, I'd like to speculatively

[2017-03-14 18:09] mit-mit commented on #8438
@jason-simmons got any tips for us?

[2017-03-14 18:14] sethladd opened #8770 "Install instructions mention .bash_profile, but some users don't have that file"
From a recent study of users onboarding Flutter.

Brand-new Macs sometimes don't have a .bash_profile file, however our instructions indicate that a user should edit that file.

We can help our users by letting them know that the file might not exist, which is OK, and that they should create it in their home directory.

[2017-03-14 18:17] cbracken commented on #8689
Tested with iOS 10.3b6 with same outcome.

[2017-03-14 18:21] #8000 closed

[2017-03-14 18:26] Hixie commented on #8770
I think on Mac you're actually better off changing `.bashrc`? I forget the details but I recall using `.bash_profile` being an issue for me at some point.

[2017-03-14 18:29] goderbauer commented on #8732
@zanderso I have mixed feelings about that... Would that potentially also fix https://github.com/dart-lang/sdk/issues/28995? If so, I think we should go for your usggestion. Flutter mainly uses `stdout.writeln` anyways, so not having unicode for `print` wouldn't be a huge loss for us...

[2017-03-14 18:46] #7318 closed

[2017-03-14 19:09] cbracken commented on #8770
It'd be nice if we provided exact instructions that 'just work'. That gives developers who aren't as comfortable on the shell a means to just copy, paste, and have a working setup. Developers who live in a zen-like communion with their terminals should have no problem making an equivalent change to their setup.

For [Get the Flutter SDK](https://flutter.io/setup/#get-the-flutter-sdk), something li

[2017-03-14 19:50] sethladd commented on #8726
Thanks for filing this!

I assume that you'd like to see the new screen to animate in from the right (instead of the bottom) ?

[2017-03-14 19:54] goderbauer commented on #8770
Windows already has a very detailed description of how to do this in [wiki/Flutter-on-Windows](https://github.com/flutter/flutter/wiki/Flutter-on-Windows) (see step 5).

[2017-03-14 20:00] eseidelGoogle commented on #7561
@jason-simmons is working on this as we speak.

[2017-03-14 20:27] brianosman commented on #8630
Do I need to do anything special to get this to happen? I just got latest, and tried the gallery on simulator (5s), and the colors look fine. (I also tested with a locally built copy of engine).

[2017-03-14 20:41] chinmaygarde commented on #8630
We were trying to understand the difference between before and after the 565 to 8888 changes were made. I was able to reproduce the difference on the simulator (using an iPhone 6S simulator if that matters). I am not sure if there is a way in Skia to make the image use a 565 texture. But that was essentially what was happening earlier. If not, assuming https://github.com/flutter/engine/pull/3434 c

[2017-03-14 20:46] brianosman commented on #8630
Okay. I tried my simulator in a couple modes, and in all cases (currently 6s), the results on screen look almost identical to the Android screenshots from this thread. It never looks as dark as the simulator screen shot that was posted. I wouldn't expect any significant difference between 565 and 8888 (beyond precision loss in 565, but no absolute shift in color or luminance). Curious about the re

[2017-03-14 21:07] #8664 closed

[2017-03-14 21:07] #8755 closed

[2017-03-14 21:15] #8679 closed

[2017-03-14 21:17] cbracken commented on #8075
@jtrunick any luck on this?

[2017-03-14 21:24] cbracken commented on #1949
This should be fixed by #7879.

[2017-03-14 21:24] #1949 closed

[2017-03-14 21:46] HansMuller commented on #4954
This is no longer an issue.  Here's a demo using the new SliverAppBar class.
[code]

[2017-03-14 21:46] #4954 closed

[2017-03-14 21:51] Hixie commented on #6397
cc @abarth who was asking about whether these conventions are documented.

[2017-03-14 22:34] cbracken opened #8774 "Material scrollbars should adopt a platform-specific look and feel"
Scrollbars currently have a generic look and feel across platforms. Material `Scrollbar` widgets are significantly different from the platform-standard scrollbars that users expect on iOS.

## Flutter doctor
[code]

[2017-03-14 22:51] eseidelGoogle opened #8775 "Text input image/emoji edge cases"
On both iOS/Android, the text animation is quite laggy while typing and equally laggy when backspacing. On iOS, you can only delete one character at a time (long press doesn’t work).

From @alardizabal

[2017-03-14 22:52] eseidelGoogle commented on #8744
I believe @alardizabal also ran into this just now.

[2017-03-14 22:54] eseidelGoogle opened #8776 "On iOS, when rotating to landscape, the status bar disappears."
On iOS, when rotating to landscape, the status bar disappears. Per @alardizabal via email.

I suspect we don't hit this in the Flutter Gallery since we disable landscape currently.

[2017-03-14 22:56] eseidelGoogle opened #8777 "Third-party keyboards seem to crash more frequently."
Third-party keyboards on iOS have been reported to crash Flutter.  Per @alardizabal via email.

I've not yet seen this myself.  But @abarth says this is because we're using the wrong IME API on iOS and that @xster plans to fix?

[2017-03-14 22:59] FedericoPaliotta commented on #8744
@eseidelGoogle I think that's right. Also I think the crash itself is what is supposed to happen here, since the left/right keyboard buttons are supposed to stay disabled. That's my understanding compared to the InputField's behavior, in the case the keyboard shows up in landscape already.
So the problem is really just to enforce those buttons to be disabled also after a rotation event happened.

[2017-03-14 23:20] LarkAscending commented on #8760
"In both HTML and Flutter, by default child elements or widgets are anchored at the top left."

It's intentional. This topic describes the default alignment, not how to re-align text. We could add something re:textAlign in the future, but it means changing every example.

[2017-03-14 23:36] christian-lefty commented on #8163
Just a note to save time in case someone lands here:

It seems that this functionality is provided by io.flutter.app.FlutterActivity,
it has this:

[code]

Observing this bug probably means that the main activity is not inheriting from FlutterActivity
(for instance that would be the case if you copied the hello_services example before 02/13/2016).

[2017-03-15 00:04] sethladd opened #8780 "Current install instructions tell the user to overwrite their PATH"
(Noticed during a UX study.)

We currently say this: `export PATH=~/flutter/bin`

But, we probably mean `export PATH=$PATH:~/flutter/bin`

[2017-03-15 00:24] abarth commented on #8780
By the way, we shouldn't say to put the `~` character in your path.  That's a bug factory because only some consumers of PATH understand how to expand it.  Instead, we should recommend `$HOME`

[2017-03-15 00:24] abarth commented on #8780
`export PATH=$PATH:$HOME/flutter/bin`

[2017-03-15 00:49] #3656 closed

[2017-03-15 01:04] LarkAscending commented on #8780
Closed by https://github.com/flutter/website/pull/441

[2017-03-15 01:05] #8780 closed

[2017-03-15 02:12] dvdwasibi commented on #204
how bout 'em animated PNGs?

https://chromium.googlesource.com/chromium/src/+/7d2b8c45afc9c0230410011293cc2e1dbb8943a7

[2017-03-15 03:00] FedericoPaliotta opened #8782 "In the hello_services example, looks like some (obj-c) code missing in the Runner project."
In the main.dart file of the hello_services project, I can see the piece of logic to handle the message receiving on the Flutter side, such as `PlatformMessages.setJSONMessageHandler('getRandom', handleGetRandom)`. But there is no such logic, in the iOS plugin, to actually send the message to request a random number.

A quick fix I attempted shows that this was the original intent of the program.

[2017-03-15 03:21] abarth commented on #204
We'll likely get them working at the same time.

[2017-03-15 08:19] mit-mit commented on #8760
Yes, but the code samples (both HTML and Flutter) do not shown any alignment changes, which is confusing when the heading says 'Styling and Aligning Text'.

Why not move the *"In both HTML and Flutter, by default child elements or widgets are anchored at the top left."* part down to the 'Centering Components' section; that matches the existing code sample there. Then we can change the 'Styling and

[2017-03-15 08:24] mit-mit commented on #8455
From review discussion, we should make a small change so that flutter_tools detects when a developer uses a non-gradle based build, and then print this message:

"The build process for Android has changed, and the current project configuration is no longer valid. Please consult https://github.com/flutter/flutter/wiki/Upgrading-Flutter-projects-to-build-with-gradle for details on how to upgrade the

[2017-03-15 08:39] kasperl opened #8783 "Clean up: Remove ignore of strong mode down cast composite warnings in analysis options"
Once 1.23.0-dev.6.0 lands as the embedded Dart SDK in Flutter, we should be able to remove the `strong_mode_down_cast_composite: ignore` lines from all the analysis options files. The new default is to only issue the warning if users opt into it by adding `strong_mode_down_cast_composite: warning` in their analysis options files -- which means that not mentioning anything in analysis options behav

[2017-03-15 09:04] goodev commented on #8732
@zanderso yes, Windows 7 , Chinese.

[2017-03-15 09:40] lukechurch opened #8784 "It's not obvious to new users where their code is in IntelliJ"
In studies we've seen participants clicking around the structure of the project in IntelliJ to try and find their code, looking in the android, ios and build folders.

It would be helpful if there was an obvious separation between 'things they should edit a lot' and 'things which the systems needs that they should leave alone' were stronger.
Alternatively if they never need to edit the other folde

[2017-03-15 09:47] lukechurch opened #8785 "IntelliJ is taking too long to index on first run of Plugin"
After installing the Flutter plugin for the first time we're frequently seeing IntelliJ report that it is 'indexing' for several minutes.

E.g. in a recent study, it took 4 minutes 20s on a 2016 MBP i7, 16Gb RAM, 1Tb SSD. (note that Quicktime screen recording was also running). This experience of multi-minute delays has been repeated across several other studies, often with even longer delays on o

[2017-03-15 09:52] zxb3121999 opened #8786 ""/flutter/packages/flutter_tools/.packages"not found when setup flutter"
when setup flutter sdk ,and excute flutter doctor has this error;
Building flutter tool...
Unhandled exception:
Could not import "package:flutter_tools/executable.dart" from "file:///home/zxb/develop/flutter/packages/flutter_tools/bin/flutter_tools.dart": Packages file 'file:///home/zxb/develop/flutter/packages/flutter_tools/.packages' not found.
null

[2017-03-15 09:53] #8138 closed

[2017-03-15 09:53] #8656 closed

[2017-03-15 09:53] #8723 closed

[2017-03-15 10:01] lukechurch opened #8787 "Importing [rather than opening] a project in IntelliJ causes problems"
If a user selects 'import project' instead of 'open project' from the IntelliJ start page menu and selects a flutter project it seems to cause a lot of problems:

- The dialogs about what kind of project it isn't don't make sense to a Flutter user (gradle?)
- It replaces the iml file

Is it possible to detect that the project being imported should have been opened, and open it anyway?

[2017-03-15 10:08] mravn-google opened #8788 "Update URL to platform services documentation in dartdoc"
https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/services/platform_messages.dart#L35

[2017-03-15 10:18] lukechurch opened #8789 "Some users don't realise that hot reload has finished"
The feedback in console on successful completion of a hot reload isn't immediately communicating to users that the app has been reloaded.

E.g. "Reloaded 64 of 527 libraries" is not being interpreted as "Reload done". Consequently the change being reloaded didn't result in an effect, or resulted in a subtle visual effect this can mean that users decide that hot reload isn't working and try to do a

[2017-03-15 11:21] goodev commented on #8732
@goderbauer  PowerShell  version is

Major 2
Minor 0
Build -1
Revision -1

[2017-03-15 13:12] andreabreu-me opened #8791 "Blur effect background"
Is it possible to add a blur effect to background? In iOS this is very common.using the UIVisualEffectView.

[2017-03-15 13:13] andreabreu-me commented on #8791
I found #4839, sorry

[2017-03-15 13:13] #8791 closed

[2017-03-15 13:19] andreabreu-me commented on #4839
@Hixie Can I see some code/documentation how to do it? Thanks

[2017-03-15 13:55] eseidelGoogle commented on #8789
FYI @johnmccutchan @devoncarew (in case intellij should also show throw up fireworks or whatever on reload complete). :D

[2017-03-15 13:57] eseidelGoogle commented on #8787
Was this from my seeing this a First Look, or did you also see this?   It was kinda amazing how far intellij would let you go in this mode, never mentioning that it could just open instead (and then starting to throw up errors as you got further along about having to replace files).
FYI @pq

[2017-03-15 13:58] eseidelGoogle commented on #8787
I have no data as to if this was just a one-off confusion I saw or if this will be at all common.

[2017-03-15 13:59] eseidelGoogle commented on #8786
Could you give us more information about your setup (particularly what OS)? :)

[2017-03-15 14:01] eseidelGoogle commented on #8783
So this should be possible to act on after our next Dart roll in the engine?

[2017-03-15 14:04] lukechurch commented on #8787
@eseidelGoogle I saw this independently. GS-P4 study participant ran into this.

Given that on a sample of > 100 people we've seen multiple instances, I suspect that it will be fairly common.

[2017-03-15 14:08] zxb3121999 commented on #8786
OS:linux ubuntu16.04
after download dart sdk

[2017-03-15 14:08] #8789 closed

[2017-03-15 14:10] kasperl commented on #8783
It's a dependency on getting a new version of the analyzer. If you have two separate dependencies on Dart -- one for the SDK you embed and one for the VM you embed -- you will have to wait for the new SDK, but after that it should be possible to act on this. However, 1.23.0-dev.6.0 is not released just yet.

[2017-03-15 14:14] pq commented on #8787
@alexander-doroshko : I'm curious what you think here.  This is a common confusion about what import does vs. open.  It's not strictly wrong what IDEA is doing but people are definitely getting confused.  Thoughts?

[2017-03-15 14:43] alexander-doroshko commented on #8787
Agree about confusion.
I guess there should be an extension point that we could implement in the Dart and Flutter plugins to detect Dart or Flutter project and handle its importing in the same way as its opening.

[2017-03-15 14:43] sethladd commented on #8785
Should we move this over to https://github.com/flutter/flutter-intellij ?

[2017-03-15 14:45] sethladd commented on #8784
This issue was moved to flutter/flutter-intellij#824

[2017-03-15 14:45] #8784 closed

[2017-03-15 14:45] eseidelGoogle commented on #8786
OK, and one more question:
What is the current version of flutter you have?  `git log -1 --oneline` in your flutter directory will tell you.

Once you've checked that, I suspect you can work-around this by running `pub get` inside the `/home/zxb/develop/flutter/packages/flutter_tools` and also possibly `git pull --rebase` if necessary (to pull the latest version of flutter).

The `flutter` command

[2017-03-15 15:51] sethladd opened #8794 "FAQ request: why is the build() method on State, and not StatefulWidget ?"
This comes up often when users are learning our framework. At our recent event, multiple Flutter team members didn't have a canned response to this FAQ.

Suggestion: Add this to our FAQ so for the next event, or next time this pops up in a chat or a conversation with a new user, we can point to our answer.

Can someone write up an answer to "Why is the build() method on State, and not StatefulWidg

[2017-03-15 15:56] sethladd commented on #8787
This issue was moved to flutter/flutter-intellij#825

[2017-03-15 15:56] #8787 closed

[2017-03-15 15:56] sethladd commented on #8785
This issue was moved to flutter/flutter-intellij#826

[2017-03-15 15:56] #8785 closed

[2017-03-15 16:00] sethladd commented on #8706
We definitely need more examples of common cases, and a good directory of those examples, making it easy to find them.

I think to take low-cost, impactful action here, we can update the README for https://github.com/flutter/flutter/tree/master/examples and list more about each example and what it can teach the user. I'll open a new issue for that.

Meanwhile, if we explicitly tell people to "sear

[2017-03-15 16:00] #8706 closed

[2017-03-15 16:01] sethladd opened #8795 "README for examples/ is out of date"
Noticed that https://github.com/flutter/flutter/blob/master/examples/README.md doesn't list all the examples in  https://github.com/flutter/flutter/tree/master/examples .  For a user that lands on https://github.com/flutter/flutter/tree/master/examples , they might be looking for a more complete overview of what's inside examples/

[2017-03-15 16:50] cbracken commented on #8776
We support landscape in the Gallery on iOS as of a few weeks ago, but this is expected behaviour in general on iOS. In quick testing every Apple app and most third-party apps I tested hide the status bar in landscape mode. Apps I tested: the App Store, Safari, Contacts, Stocks, Apple News, NYTimes.

[2017-03-15 16:55] johnmccutchan commented on #8786
@zxb3121999 Can you also run:

`./bin/cache/dart-sdk/bin/dart --version`

[2017-03-15 17:05] ajdewit1994 commented on #8612
Is this issue still active? I can't work with flutter anymore since the update where it's not possible anymore to run flutter with sudo. It's sort of blocking me now.

[2017-03-15 17:29] tvolkert commented on #8612
@ajdewit1994 sorry - I'll have a look today (I got distracted by another issue).

[2017-03-15 17:30] LarkAscending commented on #8760
That's a good idea...except we also need to show aligning text. That's what
this is a placeholder for.
I'm working on this end to enhance that example that caused you issues.
(No, you're not supposed to know what the TW intends to do next.)

Aligning L/R and T/B and centering, they're all done differently.
So the centering example is not as related as it seems, but I think we can
enhance that firs

[2017-03-15 18:07] mattsarett commented on #8630
FWIW, I also cannot reproduce the difference reported here at ToT.

[2017-03-15 18:09] jason-simmons opened #8800 ""Cannot hit test a dirty render box" assert while scrolling in Gallery"
Saw this while scrolling the main screen list in Gallery in debug mode on a slow device

@Hixie

03-15 11:08:17.276  4239  4271 E flutter : Cannot hit test a dirty render box.
03-15 11:08:17.276  4239  4271 E flutter : The hitTest() method was called on this RenderBox:
03-15 11:08:17.276  4239  4271 E flutter :   RenderViewport#249360487 NEEDS-LAYOUT
03-15 11:08:17.276  4239  4271 E flutter : Unfo

[2017-03-15 18:17] jason-simmons commented on #8653
Took a look at this and was able to show an Input/InputField clearing the hint text once its value becomes nonempty.

Note that unlike TextField, Input/InputField requires an onChanged handler that does a setState() which updates the field's value.

[2017-03-15 18:18] goderbauer opened #8802 "When the Android status bar is opaque (e.g. on Android ≤‬4.x), align the view with the bottom of the status bar and set the padding to zero"
![screenshot_2017-03-15-11-14-48](https://cloud.githubusercontent.com/assets/1227763/23964213/fbca5374-0970-11e7-8508-e54d383cf357.png)

[2017-03-15 18:28] jason-simmons commented on #8438
The installation tool is the Android SDK Manager:
    https://developer.android.com/studio/intro/update.html#sdk-manager

It's available at $ANDROID_SDK_PATH/tools/android

[2017-03-15 18:41] tvolkert commented on #8612
@ajdewit1994 it looks like the most recent bug report was still obtained while running as root.  Can you do the following:

* `git pull` to get the latest code
* `flutter doctor` to see if you still get the "Dart_NewStringFromUTF8 expects argument 'str' to be valid UTF-8." error
* If you do, `flutter doctor --bug-report` to grab a fresh bug report (not as root)

Thanks!

[2017-03-15 18:43] chinmaygarde commented on #8630
Sorry folks. I checked out ToT and did not see the issue either. After questioning my sanity, I realized that we recently switched away from the OpenGL backend on the simulators to the software backend. The issue manifests itself clearly when using the OpenGL backend.

![screen shot 2017-03-15 at 11 39 53 am](https://cloud.githubusercontent.com/assets/44085/23965190/6ee0b4b8-0974-11e7-9456-265266f

[2017-03-15 18:55] ajdewit1994 commented on #8612
Hi @tvolkert. I hope I don't get on your nerves, was just wondering if anything had happened.

Unfortunately, it won't generate a bug report.
![image](https://cloud.githubusercontent.com/assets/4089993/23965685/0f3ef318-09b9-11e7-8fdc-2d8f312bc0d1.png)

Don't stress it, I commented the "sudo check" out in the flutter file which allows me to start using flutter.

[2017-03-15 19:19] Hixie opened #8804 "Write a test to validate RaisedButton elevation changes are being animated"
Steps to reproduce:
* Gallery.
* Turn on slow mode.
* Go to the Buttons demo.
* Press and hold on the RAISED BUTTON.

The shadow should slowly grow as it raises. Right now it just snaps to.

[2017-03-15 19:35] #5798 closed

[2017-03-15 19:55] chinmaygarde commented on #8630
Also, to be clear, this darkening happens on the devices too (where we only use OpenGL). Its just a whole lot easier to reproduce on the simulator.

Maybe I should keep the flag to switch backend of the simulator around for easier testing.

[2017-03-15 19:59] brianosman commented on #8630
Okay. I was just trying to get things running on a device to verify that -
good to know...

On Wed, Mar 15, 2017 at 3:55 PM, Chinmay Garde <notifications@github.com>
wrote:

[2017-03-15 20:17] abarth commented on #8794
If we put the `build` function on `StatefulWidget` rather than `State`, the build function would receive the state object as a parameter, similar to the following:

[code]

If you defined a closure in that function, the closure would implicitly capture `this`, which is the current widget instance, and would have the (immutable) fields of that instance in scope:

[code]

For example, suppose the pa

[2017-03-15 20:18] abarth commented on #8794
Let me know if that answer makes sense.

[2017-03-15 20:27] eseidelGoogle commented on #8802
We need to make the slow-mode banner window.padding aware. :)

[2017-03-15 20:29] eseidelGoogle commented on #8802
Android 4 doesn't support transparent status bars, so we have to change how we layout/paint.  I think that's window.padding, you can see code in:
https://github.com/flutter/engine/tree/master/shell/platform/android/io/flutter
where we handle this version quirk.  But we'd have to ask one of the framework engineers what the exact right parts to check are.  Probably:
https://docs.flutter.io/flutter/d

[2017-03-15 20:42] sethladd commented on #8780
Thanks!

[2017-03-15 20:58] reed-at-google opened #8809 "drawVertices API change"
Skia has realized that drawVertices( lots of parameters and arrays ) is not nearly as efficient as first creating an immutable (opaque) object (SkVertices is our name) and drawing that.

drawVertices( vertices_object, BlendMode, Paint)

This allows the gpu to ref (instead of copy) the vertices for later processing, and also potentially cache results based on the vertices_object's uniqueID. This is

[2017-03-15 21:09] chinmaygarde commented on #8809
I don't think there are many users of `drawVertices` (or `drawAtlas`). I think it was used a while ago for the game but I couldn't find any current users. Will try to figure out if we can get rid of the API altogether. If not, updating the same to use `drawVertices(object, blend, paint)` should be relatively frictionless.

[2017-03-15 21:15] tvolkert commented on #8612
Ah the plot thickens!  How about trying to run (not as root): `flutter doctor --verbose` and pasting the output here?  Something's breaking before we're able to write out the bug report.

p.s. not getting on my nerves at all! :-)

[2017-03-15 21:16] tvolkert commented on #8612
Also: the terseness of that error message may be caused by https://github.com/flutter/flutter/issues/8742

[2017-03-15 21:31] chinmaygarde commented on #8630
Fixed by https://github.com/flutter/engine/pull/3480

[2017-03-15 21:31] #8630 closed

[2017-03-15 21:51] eseidelGoogle commented on #7111
Every one of Flutter's Early Access Partner has had the need to trigger a share flow from iOS, so I think we need to pull this into M2 (and can correspondingly bump other work as needed).

What's needed in this bug is a proof of concept/example.  Some explanation of how to create an iOS and Android share flow.

[2017-03-15 22:02] HansMuller commented on #4563
The test case Hero doesn't look like it should animate during the hero's flight, since the animation doesn't cause the Hero's child to rebuild.

I've verified that Hero animations do continue throughout the Hero's flight if the Hero's child is listening to an Animation.  Something like this:
[code]

[2017-03-15 22:02] #4563 closed

[2017-03-15 22:04] pq opened #8812 "Update to Dart SDK 1.23.0-dev.9.0"
_(We're currently on dev.4.0.)_

TL;DR because of a new dependency on the `kernel` package (from the `front_end`), we need to take this in a few steps and will need to wait for `dev.8.0` (UPDATE: actually, `dev.9.0`).

The longer story:

Attempting the update today, meets us with this error when we try to build `flutter`:

[code]

To get us past this we need to do a few things.

* [x] add the `ker

[2017-03-15 22:21] sethladd commented on #5306
A little birdie hinted: `new ClipOval(child: new Image(...))`

[2017-03-15 22:22] #6207 closed

[2017-03-15 22:44] b-strauss opened #8813 "flutter update weirdness when flutter shell script or flutter.bat has changed"
I just upgraded flutter via `flutter upgrade` from the windows cmd.

The result was the following output:

[code]

The last part is german for "command 'ls_dirscript_path' either misspelled or not found". I have no idea what that is, I didn't type it. Everything seems to be working after the upgrade.

@goderbauer

[2017-03-15 22:46] Hixie commented on #7562
This is resolved! Yay!

[2017-03-15 22:46] #7562 closed

[2017-03-15 22:52] yjbanov opened #8815 "Run devicelab tests on broken Travis/Chromebots/AppVeyor"
Those things are broken way too often and cause us to lose valuable data-points. We should instead validate `manifest.yaml` on the server and not trust Travis.

/cc @Hixie

[2017-03-15 23:42] goderbauer commented on #8813
_Danke_ for the report.

I think I can reproduce this locally, although on my system I get a slightly different message:

[code]

I'll investigate this further. Let me know if this is happening for you again (for the same or other commands).

[2017-03-16 01:09] abarth opened #8818 "Requesting more API docs for Key, developers aren't sure how best to use them"
Then we can link it from the various dartdocs where it comes up.

[2017-03-16 02:15] zxb3121999 commented on #8786
it's ok after i clone flutter.

[2017-03-16 03:30] Hixie commented on #8359
That approach didn't work either because there's no good way to determine what it means to have a position for the activity manager in that world.

I have, however, learnt about a bunch of edge cases that are very interesting.

1. Suppose the outer list is scrolled to the top, and the inner list is scrolled to its bottom. Now, do an iOS jump to top.
2. Suppose the outer list is scrolled to the top

[2017-03-16 03:36] Hixie commented on #8818
We can also put it at `[Key]`.

[2017-03-16 04:22] Hixie commented on #8612
@tvolkert can a recording help us here?

[2017-03-16 04:23] Hixie commented on #8809
We'll want to have this on the long term, but on the short term we can remove these APIs.

[2017-03-16 04:32] Hixie commented on #8800
I should change the assert to verifying hasSize instead.

[2017-03-16 09:46] marklester opened #8820 "Flutter Crashes after latest set up prs"
run a dart app

## command

flutter run --machine --device-id=00b632821d6e1a49 lib/main.dart

## exception

FormatException: FormatException: Bad UTF-8 encoding 0xff (at offset 1126)

[code]

## flutter doctor

[code]

[2017-03-16 10:33] whesse commented on #8812
This will be in -dev.9.0 when it lands - I just released -dev.8.0 which was requested for Google3 integration.

[2017-03-16 10:34] mit-mit commented on #8760
enhance that first example and cascade the changes through the page.
WDYT?

Sounds great!

[2017-03-16 11:36] nanowang commented on #6457
Issue re-occurred on Pixel

## command

flutter run

## exception

FormatException: FormatException: Bad UTF-8 encoding 0xff (at offset 10947)

[code]

## flutter doctor

[code]

[2017-03-16 12:56] pq commented on #8812
Cool.  Thanks @whesse !

[2017-03-16 12:58] mit-mit opened #8821 "gradle build issue"
## Steps to Reproduce

1. Run these commands against the android emulator:

[code]

=>

[code]

[2017-03-16 13:03] mit-mit opened #8822 "UTF8 encoding error when running against android physical devices"
## Steps to Reproduce

*Note*: This only repros against a physical Android device, not against the emulator

1. Plug in a physical android device (I used a Nexus 5X)

2. Run these commands:
[code]

=>

[code]

## Logs

[code]

[2017-03-16 13:18] marklester commented on #8820
duplicated https://github.com/flutter/flutter/issues/8820

[2017-03-16 13:18] #8820 closed

[2017-03-16 13:29] mit-mit opened #8823 "Buttons flicker when clicked in the Android Simulator"
## Steps to Reproduce

This is on MacOS against the Android simulator:

When I click a button, it flickers. These animated gifs show the issue (although at a slower speed than what I see when not recording):

![button](https://cloud.githubusercontent.com/assets/13644170/23998150/7a5a913e-0a54-11e7-9965-c2b3f4620d17.gif)

![button2](https://cloud.githubusercontent.com/assets/13644170/23998223/b8a54

[2017-03-16 13:38] mit-mit opened #8824 "flutter install fails against android emulator"
This isn't supported, but we could fail more gracefully:

## Steps to Reproduce

1. Start an android emulator
2. Run these commands:

[code]

=> fails with the not-so-easy-to-read error:

[code]

[2017-03-16 13:38] mit-mit commented on #8824
cc @jakobr-google this isn't supported, right?

[2017-03-16 13:51] Hixie commented on #8774
Are there mocks for each platform?

[2017-03-16 14:26] eseidelGoogle commented on #8824
What has happened here is that `flutter build apk` defaults to --release and we don't (currently) provide x86 release binary support.  Turns out we should:
https://github.com/flutter/flutter/issues/2898#issuecomment-274308267

However even it's not clear this should be supported since soon we plan to use the software backend in Android emulators, and that won't get built into --release binaries an

[2017-03-16 14:27] eseidelGoogle commented on #6822
@chinmaygarde has wired up software path support for iOS, I suspect this should now be possible to add to Android too.

[2017-03-16 14:27] reed-at-google commented on #8809
sgtm

On Thu, Mar 16, 2017 at 12:23 AM, Ian Hickson <notifications@github.com>
wrote:

[2017-03-16 14:28] eseidelGoogle commented on #8823
@chinmaygarde would know.

[2017-03-16 14:33] FaisalAbid commented on #8677
I'll do it!

On Thu, Mar 9, 2017, 5:41 PM Ian Hickson <notifications@github.com> wrote:

[2017-03-16 14:38] tvolkert commented on #8612
See the last few comments - it's crashing before getting to write out a bug report, one possible reason for which would be a VM crash.  I'm hoping a `--verbose` run might let us know approximately where this is happening.

@rmacnak-google do you know if there's a flag to flutter tools we can pass to enable VM trace statements to be logged to stdout?

[2017-03-16 15:43] sethladd commented on #8818
Thanks for opening this! In a recent round of conversations with our current Google users, "keys" was a common topic for misunderstanding/non-understanding/cargo-culting.

[2017-03-16 15:44] sethladd commented on #8818
This issue might provide context for how we document Keys: https://github.com/flutter/flutter/issues/3868

[2017-03-16 15:44] sethladd commented on #3868
Tracking the doc work here: https://github.com/flutter/flutter/issues/8818

I assume that further docs will help address this. If we need to do more, please reopen. Thanks!

[2017-03-16 15:44] #3868 closed

[2017-03-16 16:32] nanowang commented on #8822
Verified same issue on Pixel.

[code]

[2017-03-16 17:03] rmacnak-google commented on #8612
Not stdout, but there's a VM flag `--systrace_timeline` that causes timeline events to go to systrace on Android/Linux. I don't think it will be very helpful here because that's an API error, not a Dart exception, so we really want the C backtrace when it happens.

[2017-03-16 18:44] collinjackson opened #8828 "Breakpoint on initial build() function causes black screen on simulator"
## Steps to Reproduce

[code]

Open myapp in IntelliJ

Set breakpoint on initial build function

Debug on iOS simulator

Screen is black even after continuing past breakpoint.

## Logs

[code]

## Flutter Doctor

[code]

[2017-03-16 19:36] sethladd commented on #8828
See also https://github.com/flutter/flutter-intellij/issues/828

[2017-03-16 19:51] HansMuller commented on #6706
@abarth I think you mean Colors.blue[400], I believe that's what we use for the primary color

[2017-03-16 19:53] Hixie commented on #4839
It's not well documented but I would start with this widget: https://docs.flutter.io/flutter/widgets/BackdropFilter-class.html

[2017-03-16 20:17] christian-lefty opened #8831 "Add Wrap widget"
This is in response to a group discussion here:
https://groups.google.com/d/topic/flutter-dev/W_hpEkSUXEg/discussion

We think we have a design in our spec that would be best served by the wrap widget as implemented here:
https://github.com/flutter/flutter/pull/6830 so we'd love to see that checked in

[2017-03-16 21:26] #8812 closed

[2017-03-16 22:02] ds84182 commented on #7032
Wrapping this code around a dialog fixed this issue for me:

[code]

With that ^ dialogs animate *almost* exactly how they do on Android, but I don't know if that's correct for iOS.

[2017-03-16 22:22] eseidelGoogle opened #8836 "Would like to have integration tests for hello_services"
We had a report last week that location was broken on the iOS side of hello_services.  Given that plugins are something folks try very early on, it seems important that we have this canonical example tested in some way?

Maybe there is a bug already for this? @mit-mit

[2017-03-16 23:05] johnmccutchan commented on #8717
See also https://github.com/flutter/flutter-intellij/issues/803

1. Some users are not aware that hot reload is even a thing. Should we start prompting developers who click restart to try reload?
2. The icons are indescribable and unmemorable (both reload and restart).
3. I think the restart icon should be hard to get to, i.e. not directly next to the reload button.

[2017-03-16 23:19] sethladd commented on #8717
Naive question: Why can't the Green Run Button turn into "Hot Restart" after the first run? If we can do that, I have only two buttons. Green Run button is for "first launch" or Hot Restart, the lightning bolt button is Hot Reload.

[2017-03-16 23:48] goderbauer commented on #8821
I think I am seeing the same thing on Windows with the gallery:

[code]

Interestingly, everything still seems to work as expected despite the scary error message.

[2017-03-17 00:08] goderbauer commented on #7804
This has been fixed by rolling the Dart SDK to v1.23.0-dev9.0.

[2017-03-17 00:08] #7804 closed

[2017-03-17 00:21] Hixie commented on #8717
There's some bug where I described what I would like to see in more detail, but briefly my ideal is something like a single button with a drop-down which when clicked does a run or hot reload as appropriate, and when dropped down allows you to pick between hot reload, hot restart, cold restart, start profile, start release.

[2017-03-17 00:59] goderbauer commented on #8732
@goodev Can you delete your flutter checkout, clone flutter again from HEAD, and run `flutter doctor` again? @zanderso added some fixes to dart which hopefully solve your problem. Let me know if it works or what error you get.

Also, if you get an error in PowerShell, can you let me know if it works in the regular Cmd command prompt?

[2017-03-17 01:04] #7824 closed

[2017-03-17 01:28] goderbauer commented on #8654
@LarkAscending All changes I've been waiting for are now submitted and I just updated the instructions in [wiki/Flutter-on-Windows](https://github.com/flutter/flutter/wiki/Flutter-on-Windows). Those are now ready to go on the website.

[2017-03-17 01:50] LarkAscending commented on #8654
Cool! One question:
Is this step needed?
[code]
 Android Studio already has a JDK -- maybe Windows needs a different one?

[2017-03-17 01:54] LarkAscending commented on #8521
@johnmccutchan Can we remove the PATH-setting steps from flutter.io/setup?

[2017-03-17 03:26] goderbauer commented on #8654
You either have to download the JDK or you can add the Android Studio version to your path. From the Wiki:

[2017-03-17 03:27] goderbauer commented on #8521
From what I can tell it does work in Windows if Java is in the path.

[2017-03-17 03:34] LarkAscending commented on #8654
Yes, thanks for adding that bit!

To make it consistent with the other platforms, we're detecting and using
the Android Studio JDK.

On Thu, Mar 16, 2017 at 8:26 PM, Michael Goderbauer <
notifications@github.com> wrote:

[2017-03-17 05:26] abarth commented on #7032
Neat.

[2017-03-17 05:36] abarth commented on #8794
With a stateful widget, it's common to make closures whose lifecycle are tied to the state's lifecycle, which lasts through multiple widgets.  With a stateless widget, it's common to make closures whose lifecycle are tied to the widget's lifecycle, which doesn't cause a problem.

[2017-03-17 05:52] abarth commented on #8794
Putting a `Widget build(BuildContext context)` method on `State` rather putting a `Widget build(BuildContext context, State state)` method on `StatefulWidget` gives developers more flexibility when subclassing `StatefulWidget`.

For example, `AnimatedWidget` is a subclass of `StatefulWidget` that introduces an abstract `Widget build(BuildContext context)` method for its subclasses to implement.  I

[2017-03-17 06:12] Hixie commented on #8831
I have some work in progress in making that widget more generic but it isn't going to be ready any time soon. Feel free to take that code to use in your project in the meantime.

[2017-03-17 06:12] Hixie commented on #8831
(I will eventually work on this if nobody else does because I also need it for an app I'm writing.)

[2017-03-17 06:44] mit-mit commented on #8821
Yup, same behavior as on macOS

[2017-03-17 06:46] mit-mit commented on #8836
Yup, Sarah is working on adding coverage for this, bug is #7502

[2017-03-17 06:46] #8836 closed

[2017-03-17 07:27] nanowang opened #8845 "approaches to distinguish user-code from framework-code in stack."
There've been some discussion in `gitter` about how to pick out app-code/user-code from the super-long stack.

Colored stacks may be a good idea.

[2017-03-17 07:31] ajdewit1994 commented on #8612
The `--verbose` tag still gives me
`Dart_NewStringFromUTF8 expects argument 'str' to be valid UTF-8.`

[2017-03-17 08:13] #8821 closed

[2017-03-17 08:23] mit-mit commented on #8821
Confirmed that this now works.

[2017-03-17 08:26] mit-mit commented on #8822
This appears to be fixed in todays build (which contains a new Dart SDK rolled yesterday).

[2017-03-17 08:26] #8822 closed

[2017-03-17 08:26] mit-mit commented on #8822
@nanowang can you try to run `flutter upgrade` and see if that also fixes it for you?

[2017-03-17 08:27] nanowang commented on #8822
@mit-mit Yep, thanks!

[2017-03-17 08:59] goodev commented on #8732
@goderbauer  PowerShell still get error but cmd is ok:

`PS E:\flutter> flutter doctor
Checking Dart SDK version...
Downloading Dart SDK 1.23.0-dev.9.0...
Unzipping Dart SDK...
Updating flutter tool...
Downloading Material fonts...
Downloading package sky_engine...
Downloading windows-x64 tools...
Downloading android-arm-profile/windows-x64 tools...
Downloading android-arm-release/windows-x64 tool

[2017-03-17 09:02] mit-mit commented on #8717
Meta-comment: Changes to this UX are "delicate"; even small changes can have large effects, and we have seen a number of times now that changes that we thought intuitively would work did in fact not work. So we need to approach this methodically, and through validated step-wise increments. CC @lukechurch

@johnmccutchan yes, I'm agree that we need to do something. I just checked analytics, and in

[2017-03-17 09:08] goderbauer commented on #8732
@goodev That's unfortunate. Can you try to update your PowerShell to the latest version (5.0, [download](https://www.microsoft.com/en-us/download/details.aspx?id=50395)) and try again? Since it is working in Cmd I'm expecting that this might be a bug in PowerShell related to Unicode characters.

[2017-03-17 09:44] mit-mit commented on #8845
Some concrete examples would be very much appreciated!

[2017-03-17 09:46] kasperl commented on #8783
@pq just landed the necessary update to the Dart SDK dependency. We're unblocked :)

We should be able to remove `strong_mode_down_cast_composite: ignore` line in `.analysis_options`, `.analysis_options_repo`, and `packages/flutter/lib/analysis_options_user.yaml` now.

[2017-03-17 11:11] goodev commented on #8732
@goderbauer  update to 5.0, still get the same error:

`PS C:\Users\go> flutter doctor
[Unhandled exception:
FileSystemException: writeFrom failed, path = '' (OS Error: æ“ä½œæˆåŠŸå®Œæˆã€‚
, errno = 0)
#0      _RandomAccessFile.writeFromSync (dart:io/file_impl.dart:890)
#1      _StdConsumer.addStream.<anonymous closure> (dart:io/stdio.dart:247)
#2      _rootRunUnary (dart:async/zone.dart:1158)
#

[2017-03-17 15:44] jimmyff opened #8848 "atom-flutter: Reload not working"
I can successfully launch a flutter app from Atom via the toolbar, the debugger successfully attaches and I can pause/resume/step/stop as expected. However when I try the hot reload (or full reload with shift) I get the following toast message:
[code]

[2017-03-17 15:46] jimbeveridge opened #8849 "Crash in GrGLBuffer::setHasAttachedToTexture()"
Crash dump from Flutter running email_story

[code]

[2017-03-17 15:47] abarth commented on #8848
/cc @devoncarew

[2017-03-17 15:53] eseidelGoogle commented on #8849
@chinmaygarde might know.

[2017-03-17 15:56] jimbeveridge opened #8850 "Flutter apps are broken in Fuchsia"
When running email_story, I get the stack dump below. This was caused by commit dce4bf8599ba5d96692d16eaeade15d0d142a410.

[code]

[2017-03-17 15:58] eseidelGoogle commented on #8850
I believe there are instructions for migrating https://groups.google.com/forum/#!topic/flutter-dev/ZQMnAIikneY

[2017-03-17 15:59] abarth commented on #8850
@eseidelGoogle It's our code that needs to change.

[2017-03-17 16:14] sethladd commented on #8717
From the blog post: "The Run action will now always cause an application restart to reflect changes in your code that may require a restart, and the new Apply Changes action will attempt to swap the code while your app keeps running"

I think that's what I'm suggesting. Two buttons: Run (start or hot restart, depending on if the app is launched on the device yet), and Lightning Bolt (hot reload).

[2017-03-17 16:17] mit-mit commented on #8717
Sorry, I misunderstood then. Yes, I made a note over in https://github.com/flutter/flutter-intellij/issues/803 that I think that design sounds promising.

[2017-03-17 16:20] sethladd commented on #8717
No worries. Glad to see we're still iterating!

[2017-03-17 16:40] #8850 closed

[2017-03-17 16:49] #8783 closed

[2017-03-17 17:13] goderbauer commented on #8732
I am out of ideas then. Seems like the work-around for you is to use Flutter on the regular Cmd prompt (Flutter's behavior is now the same in PowerShell and Cmd, we no longer recommend PowerShell over Cmd, so you would not be missing out on anything).

Meanwhile, I have filed https://github.com/dart-lang/sdk/issues/29101 with the Dart team because this is not really a Flutter issue. It's a problem

[2017-03-17 17:13] #8732 closed

[2017-03-17 17:37] Hixie opened #8855 "Reassemble is timing out on Windows host lab test"
...which leads to it taking 60s.

cc @goderbauer

[2017-03-17 17:39] Hixie opened #8856 "Timeout too long for reassemble"
We allow reassemble to take a minute (!). If it hasn't finished in a few seconds, there's really no point waiting any longer.

[2017-03-17 17:40] Hixie opened #8857 "We should report the timeout on reassemble"
We currently don't report when hot reload times out. We should hang for 60s (https://github.com/flutter/flutter/issues/8856 for making it shorter) and then silently resume. We should say something about how we couldn't confirm that the hot reload was complete and have given up waiting.

[2017-03-17 17:41] Hixie opened #8858 "The hot reload lab test should run in --verbose mode"
...so that the logs are more useful and include timings.

cc @yjbanov @goderbauer

[2017-03-17 17:42] Hixie opened #8859 "The hot reload lab test doesn't fail when it times out"
Right now the Windows version of the test times out (https://github.com/flutter/flutter/issues/8855) but this isn't making the build go red.

[2017-03-17 17:45] acrozes opened #8860 "Flutter should work in Git Bash (and other third-party shells) on Windows"
@goderbauer
The "flutter doctor" command from windows cmd is Ok
But failled from git bash:
[code]

[2017-03-17 17:58] goderbauer commented on #8855
I think I found the issue: miss-configuration of the Android device. It went to sleep in the middle of the test. Bumped the sleep timeout to 10 minutes. The issue should be resolved on the next run.

[2017-03-17 17:58] #8855 closed

[2017-03-17 18:00] goderbauer opened #8861 "Hot reload doesn't complete when android screen is off"
When I perform a hot reload while the screen of my phone is turned off, hot reload doesn't complete and just sits there spinning. As soon as I turn on my screen and swipe up on the lock screen, hot reload completes.

[2017-03-17 18:20] eseidelGoogle opened #8863 "Would like an example showing full maps"
Until we have embedded/composited video support (which I presume https://github.com/flutter/flutter/issues/2319 tracks) we should consider adding an example (possibly to @szakarias's new  flutter_view example?) of playing a full screen video with Flutter.

If this is straightforward to do, I think it could be a useful example for talking to potential flutter customers/partners.  If it's a ton of w

[2017-03-17 19:16] #8858 closed

[2017-03-17 19:31] goderbauer commented on #8860
Currently, we only support PowerShell and Cmd on Windows.

I briefly looked into this, here is a - possibly incomplete - list of things we need to fix to run in Git Bash:
- [ ] `update_dart_sdk.sh` needs to be taught the download location for the Windows version of Dart (easy)
- [ ] `flutter` needs to call `pub.bat`, not `pub` (easy)
- [ ] Pub needs to properly work in Git bash (https://github.com

[2017-03-17 19:50] Hixie commented on #8861
This is because the reassemble schedules a frame, and the tool waits for the frame to be complete before saying it's done, but frames are deferred if the screen is off. We could be more intelligent about this, though I think on the short term https://github.com/flutter/flutter/issues/8856 might be a simpler fix.

[2017-03-17 19:56] goderbauer commented on #8861
Makes sense. Would be nice to also tell the user that a turned-off screen might be the reason for the timeout.

[2017-03-17 20:19] sethladd commented on #4125
Haven't heard reports of this in a while. Please reopen if you're experiencing this.

[2017-03-17 20:19] #4125 closed

[2017-03-17 20:30] Hixie commented on #8612
With no other output at all? Fascinating!

Can you try going to the root of your flutter checkout and running the following? It will dump a LOT of output, if things go well. It may not dump much at all if they don't. It would be very useful to see what it does dump.
[code]

[2017-03-17 20:38] sethladd commented on #8589
If I scroll really fast on Shrine, after release build on Nexus 5, I get 26.6 fps. Not sure if that's a regression?  (the version of the gallery on the play store doesn't have the "Performance Overlay", so I can't do a direct comparison)

[2017-03-17 20:38] sethladd commented on #8174
Going to close this in favor of https://github.com/flutter/flutter/issues/7983

[2017-03-17 20:38] #8174 closed

[2017-03-17 20:43] sethladd commented on #5231
Confirmed this is still happening on a Nexus 5 with a release build from today.

[2017-03-17 20:45] sethladd commented on #5099
Confirmed this is still happening, on a Nexus 5, with a release build from today.

[2017-03-17 20:46] sethladd commented on #6045
This looks fixed. Yay!

[2017-03-17 20:46] #6045 closed

[2017-03-17 21:00] sethladd commented on #4044
Haven't heard about this in a long time. Closing optimistically.

[2017-03-17 21:01] sethladd commented on #4150
Does this still happen?

[2017-03-17 21:02] Hixie commented on #8677
@FaisalAbid Cool, let me know if you need any advice.

[2017-03-17 21:02] sethladd commented on #4235
This sounds very useful to the Flutter team, but probably not critical for our users (they aren't going to analyze dart:ui directly, I would imagine). Moving to M3, but feel free to put it back.

[2017-03-17 21:03] sethladd commented on #4469
We'll get back to this, and as we do, this will naturally fix itself.

[2017-03-17 21:03] #4469 closed

[2017-03-17 21:04] sethladd commented on #4546
We do this now for Java: https://docs.flutter.io/javadoc/ (linked from the left-hand nav)

Need to do this for iOS. I'll open a new, specific issue for M2.

[2017-03-17 21:04] #4546 closed

[2017-03-17 21:05] sethladd opened #8867 "Generate and publish API docs for our iOS platform integration"
Similar to https://docs.flutter.io/javadoc/ but for our iOS platform integration APIs.

Thanks!

[2017-03-17 21:05] sethladd commented on #4590
We've made tremendous strides in our integration with platform build tools. I'm closing this optimistically.

cc @mit-mit

[2017-03-17 21:05] #4590 closed

[2017-03-17 21:07] sethladd commented on #7928
Strictly not required for M2. Moving outward.

[2017-03-17 21:08] sethladd commented on #4681
I believe `flutter tool` now checks for SDK 25. Closing this as we haven't heard reports of this issue in quite a while. Please let us know if it continues to happen.

[2017-03-17 21:08] #4681 closed

[2017-03-17 21:09] sethladd commented on #4819
When we say "API Stability", do we mean "fixing this will be a breaking change" ? If not, we could consider moving this out to M3.

[2017-03-17 21:10] goderbauer opened #8869 "In 1.23.0-dev.9.0 Ctrl+C doesn't work on Windows"
It's all in the title. I am running the following script on Windows Version 10.0.14393 and I am unable to exit out of it with Ctrl+C:

[code]

In addition to that, when I register a ProcessSignal handler for SIGINT it is never called when pressing Ctrl+C.

/cc @zanderso

[2017-03-17 21:10] sethladd commented on #4872
Not blocking early adopters and M2, moving out.

[2017-03-17 21:13] goderbauer commented on #8869
I filed this in the wrong repo. Moving over to the Dart repo.

[2017-03-17 21:13] #8869 closed

[2017-03-17 21:16] sethladd commented on #4905
I couldn't repro this, but I might be looking for the wrong thing.

Can we repro this in the gallery or with a smaller test case?

Optimistically closing, but if it's still happening, we can reopen.

[2017-03-17 21:16] #4905 closed

[2017-03-17 21:19] sethladd commented on #5550
Moving out to M3, as "easily optimizing the performance of a Flutter app" is something we can do post-M2. Thanks for working on the doc!

[2017-03-17 21:19] sethladd commented on #5692
Moving to M3 if not a high priority.

[2017-03-17 21:20] sethladd commented on #5865
@Hixie can begin the whirl.

[2017-03-17 21:21] filiph opened #8870 "Request: add Image.raw() constructor"
Trying to build an image from a List of bytes currently seems hard. I went with subclassing AssetBundle, adding the image data there, then providing the bundle to a new `Image.asset()`. _Then_ I was told I could use https://docs.flutter.io/flutter/services/decodeImageFromList.html. I was searching in widgets/image.dart and services/image_provider.dart.

Proposed solution: add a new `Image.raw(Uint

[2017-03-17 21:23] sethladd commented on #8677
I think this dupes https://github.com/flutter/flutter/issues/6229

[2017-03-17 21:23] #8677 closed

[2017-03-17 21:23] sethladd commented on #6229
@FaisalAbid might be taking a look at this.

[2017-03-17 21:24] sethladd commented on #6251
This feels very in-scope for M2.

[2017-03-17 21:25] sethladd commented on #6446
What problem are we addressing?  (just want to ensure we put the correct screenshots on there :)

[2017-03-17 21:26] sethladd commented on #7031
So many merges! Did we address this, or more to come?

[2017-03-17 21:27] sethladd commented on #7344
Closing because we haven't heard back yet. But please let us know if this is still happening.

[2017-03-17 21:27] #7344 closed

[2017-03-17 21:27] sethladd commented on #7381
Tentatively adding a API stability label. If this is a New Feature that doesn't require API stability, we can move to M3.

[2017-03-17 21:29] sethladd commented on #7503
This looks like a great question for Stack Overflow. Would you mind asking there? I believe you'll get more eyeballs on Stack Overflow for this kind of question. Once we determine it's a bug with Flutter's framework, we can reopen this issue. Thanks for the feedback!

[2017-03-17 21:31] FaisalAbid commented on #6229
Yep, I need it for a project so might as well implement it myself

[2017-03-17 21:31] goderbauer commented on #8813
I know what is happening here. Windows doesn't load the batch script into memory upfront to execute the version in memory. It fetches every instruction from disk line by line: After executing line x, it will go back to disk, and executes line x+1. That works great most of the time. However, when line x modifies the batch script, line x+1 might not be the right line to execute next.

And that's exa

[2017-03-17 21:32] sethladd commented on #8062
3 merges and a Closed. Any more work planned here?

[2017-03-17 21:33] sethladd commented on #8299
See also: https://github.com/flutter/flutter/issues/7312

[2017-03-17 21:34] sethladd commented on #8448
#8255 is closed, so tentatively closing this.

@ScottPierce would you mind trying again with today's version of Flutter? We'll be happy to reopen this issue if you can still repro.

[2017-03-17 21:34] #8448 closed

[2017-03-17 21:37] sethladd commented on #6229
Cool! You'll be directly helping pretty awesome stuff here.

[2017-03-17 21:38] goderbauer commented on #8813
Also: this problem is not limited to Windows. Shell Scripts on Linux have the same issue when the script is updating itself.

[2017-03-17 21:39] #6382 closed

[2017-03-17 22:00] #1605 closed

[2017-03-17 22:15] chinmaygarde commented on #2319
This is video that is part of the layer tree right? As opposed to a control that is placed by the embedder over the Flutter view. If it is the latter, the existing platform messages API should allow custom embedders to control platform widgets manually. I can take a look at introducing a custom layers type that allows us to support video within the layer tree.

[2017-03-17 22:21] #6463 closed

[2017-03-17 22:24] #6706 closed

[2017-03-17 23:05] szakarias commented on #7502
@eseidelGoogle  I am writing integration test for platform_services which runs on Devicelab. Maybe we can change the title of this issue to something like 'Would be nice to run platform_services test on Devicelab' ?

[2017-03-17 23:14] eseidelGoogle commented on #7502
Changed.  Please feel free to edit further.   DeviceLab will provide post-commit testing and is typically used for running things on real hardware.  If we only need simulators/emulators chrome infra can work too.

[2017-03-17 23:28] vlidholt commented on #8075
I'm having the same issue. The only included pod is the Google sign in pod. This may be a possible solution: http://stackoverflow.com/questions/38981628/invalid-swift-support-the-swiftsupport-folder-is-missing-with-xcode-7-3-1

[2017-03-17 23:41] #7793 closed

[2017-03-17 23:43] eseidelGoogle commented on #8075
@vlidholt Fantastic!  I think @cbracken was just looking for someone who could repro to work with.

[2017-03-17 23:53] Hixie commented on #7031
More to come. :-(

[2017-03-17 23:54] abarth commented on #7031
This issue is going to slip unto next quarter.

[2017-03-18 00:23] vlidholt commented on #8075
@eseidelGoogle Happy to help, how do I get in touch with @cbracken?

[2017-03-18 00:29] yyoon opened #8875 "InputField widget not working on Fuchsia"
A regular `InputField` does not get the `onChanged` callback when typing on the hardware keyboard.

Sysui is using the `RawKeyboardListener` widget and it seems to work, but it'd be nice if we could use normal text input widgets as well.

cc/ @abarth

[2017-03-18 00:31] yyoon commented on #8875
cc/ @apwilson

[2017-03-18 00:35] Hixie opened #8876 "Frequently when working on a Flutter app the tool will end with "Application finished." when it hasn't"
Frequently when working on a Flutter app the tool will print "Application finished." and quit, with no other message or error or anything, but the app will still be running on the device.

It's not clear why.

This hurts the developer experience significantly.

[2017-03-18 00:38] chinmaygarde commented on #8849
The issue is not obvious from the logs. May I have a reduced test case?

[2017-03-18 00:40] chinmaygarde commented on #6822
Have a few things on my plate I need to get to before I can work on this. If anyone else has some spare cycles, I'd be happy to point them in the right direction. Most of the work has already been done for iOS. So it should be fairly straightforward.

[2017-03-18 00:56] acrozes commented on #8860
More about differents between Cmd on Windows and Git Bash:

Git Bash:

But with Cmd on Windows:

[2017-03-18 03:46] abarth commented on #8875
Yes, we're waiting on Fuchsia to grow an IME for us to interface with.

[2017-03-18 04:43] cbracken commented on #8075
This bug works, or cbracken@google.com :-)

[2017-03-18 05:33] abarth commented on #2319
Correct.

[2017-03-18 05:52] abarth commented on #7503
I think I'm fixing this in https://github.com/flutter/flutter/pull/8877

[2017-03-18 05:55] abarth commented on #8009
Somewhat fixed by https://github.com/flutter/flutter/commit/031e042eeeadd518dda4425bd4827f5655ef4fcb

There's a limit to what we can do without language changes because Foo.bar.baz will always be non-const, as far as I can tell.

[2017-03-18 05:55] abarth commented on #8229
We decided to keep this behavior.

[2017-03-18 05:56] #8229 closed

[2017-03-18 10:10] ajdewit1994 commented on #8612
Uh, ok. I don't have the `bin/cache/` so I used the `/opt/dart-sdk/bin/dat`

Results in the following

[http://pastebin.com/4gK8W734](paste)

[2017-03-18 14:16] tvolkert commented on #8612
It looks like you may have accidentally typed "`/packages/...`"

Basically, the "`packages/flutter_tools/bin/flutter_tools.dart`" should be the path to your flutter_tools.dart (either relative from your current directory, or absolute).

Can you try sending it again? :-)

[2017-03-18 14:18] tvolkert commented on #8612
Oh, and also, if you use gist.github.com instead of pastebin, it'll respect linebreaks better in the display.

[2017-03-18 14:54] cbracken commented on #8062
I had to revert one but I've got a patch to un-revert.

[2017-03-18 15:58] sethladd commented on #7503
Cool, thanks for reopening!

[2017-03-18 17:49] b-strauss commented on #8831
Like I was saying in the discussion, I think adding wrapping to Flex would be a great solution.

I will try to work on it. Maybe I can **wrap** my head around it. 😄

[2017-03-18 18:10] vlidholt opened #8878 "PathProvider.getApplicationDocumentsDirectory() is broken"
## Steps to Reproduce

Call
await PathProvider.getApplicationDocumentsDirectory();

## Logs

Run your application with `flutter run` and attach all the log output.
[ERROR:../../lib/tonic/logging/dart_error.cc(16)] Unhandled exception:
type '_InternalLinkedHashMap' is not a subtype of type 'String' of 'path' where
  _InternalLinkedHashMap is from dart:collection
  String is from dart:core
#0      P

[2017-03-18 18:17] abarth commented on #8878
The code looks like it should work from inspection.  /me tries to reproduce.

[2017-03-18 18:19] abarth commented on #8878
I can reproduce.

[2017-03-18 18:21] abarth commented on #8878
I see the problem.

[2017-03-18 18:31] abarth commented on #8878
/cc @mravn-google

[2017-03-18 18:51] Hixie commented on #8612
If you don't have the `bin/cache` then that is _very_ interesting. That implies the problem is happening _much_ earlier than we previously thought. Can you maybe try attaching the output of `ls -alR` run from the root of your checkout of the flutter repository?

[2017-03-18 18:53] Hixie commented on #8612
Also please include the full command line and the prompt in your log, just so we can keep track of which is which, thanks!

[2017-03-18 19:01] Hixie commented on #8009
I tried to convince the Dart team to allow those to be const in https://github.com/dart-lang/sdk/issues/29098 but had no success. :-(

cc @Irhn - this bug is an example of where our customers are getting hung up by the non-const field problem.

[2017-03-18 19:15] vlidholt commented on #8075
I naturally tried adding Swift support by adding a Swift file, got another error when uploading to the App Store:

__Invalid Swift Support__ - The files libswiftDarwin.dylib, libswiftDispatch.dylib, libswiftCoreGraphics.dylib, libswiftCore.dylib, libswiftFoundation.dylib, libswiftObjectiveC.dylib aren’t at the expected location /Payload/Runner.app/Frameworks. Move the file to the expected location

[2017-03-18 19:39] vlidholt commented on #8075
Tested on a clean project, created with `flutter create`, same thing when uploading it to the App Store, so it's not related to any 3rd party libraries.

[2017-03-18 20:35] #8878 closed

[2017-03-18 21:09] #3199 closed

[2017-03-18 21:09] #4494 closed

[2017-03-19 10:36] HuangHanquan opened #8882 "FileSystemException: FileSystemException: Cannot resolve symbolic links, path = 'D:\android\sdk\platform-tools\adb' (OS Error: 系统找不到指定的文件。"
## command

flutter doctor

## exception

FileSystemException: FileSystemException: Cannot resolve symbolic links, path = 'D:\android\sdk\platform-tools\adb' (OS Error: 系统找不到指定的文件。
, errno = 2)

[code]

## flutter doctor

[code]

[2017-03-19 11:16] rxlabz commented on #7503
@abarth thanks, I'll test it right after the merge.

[2017-03-19 12:07] vlidholt commented on #8867
Who needs docs when there is great example code. ;)

<img width="615" alt="screen shot 2017-03-18 at 1 37 41 am" src="https://cloud.githubusercontent.com/assets/1539812/24080698/d61744de-0ca4-11e7-9950-ce7a137b24d9.png">

...but seriously, may be good to add some comments and white space into the example code because it's pretty, um, dense.

[2017-03-19 12:20] abarth commented on #8882
/cc @goderbauer

[2017-03-19 13:35] mravn-google commented on #8878
Thanks for handling this, Adam. My bad. While I should obviously have been more careful, we need a set of flutter+engine integration tests to avoid such regressions in the future. I could add those to one of our existing examples/xxx (like flutter_gallery) or I could create a new top-level test/ folder in the flutter repo. Let me know what you prefer.

[2017-03-19 13:49] abarth commented on #8878
Yes, this issue is pointing to a hole in our testing strategy.

We've been leaning on the examples a bit for our integration testing, but there are disadvantages to that.  I think we'll be happier in the long run if we write some dedicated integration tests for services.  Maybe create a `services_test` directory in this directory:

https://github.com/flutter/flutter/tree/master/dev/automated_tests

[2017-03-19 14:10] abarth opened #8883 "s/Dismissable/Dismissible/"
The Dismissable widget is misspelled.

[2017-03-19 18:40] christian-lefty opened #8884 "Debug paint for ClipOval doesn't show the clip region"
This is on android @ HEAD:

In the following code the image is not clipped (without the ListView it is clipped):

[code]

[2017-03-19 22:41] Hixie commented on #8883
...I could have sworn I fixed that already once.

[2017-03-19 23:04] #4301 closed

[2017-03-19 23:04] Hixie commented on #8794
We should include all the above explanations in a `## Design discussion` section on `State.build`.

[2017-03-20 02:30] abarth commented on #8398
I have a fix.

[2017-03-20 02:57] abarth commented on #4819
Yes.

[2017-03-20 02:57] abarth commented on #4819
(Or at least we think there's a good chance it might.)

[2017-03-20 02:59] abarth commented on #7757
These are there now.

[2017-03-20 02:59] #7757 closed

[2017-03-20 03:00] eseidelGoogle commented on #8867
FYI @mit-mit in case this touches anywhere near the current plugin work.  Otherwise I suspect @xster or @cbracken will look eventually. :)

[2017-03-20 03:01] abarth commented on #8336
This was fixed in pub.

[2017-03-20 03:01] #8336 closed

[2017-03-20 05:57] Hixie opened #8888 "Rename BlockBody and fix references to RenderBlockBase"
I thought we had decided to rename BlockBody, but I can't find a bug on it anymore.

[2017-03-20 06:02] a14n commented on #8009
/cc @lrhn (as [the previous comment](https://github.com/flutter/flutter/issues/8009#issuecomment-287567213) hadn't the github id of `lrhn` linked @lrhn shouldn't have been notified)

[2017-03-20 10:05] #8455 closed

[2017-03-20 10:05] #8684 closed

[2017-03-20 10:24] jakobr-google opened #8889 "Doctor: Misleading message for old build-tools"
If you have an old version of build-tools installed (22 in the case below), then `flutter doctor` will complain and say you need to update your Android SDK:

[code]

the message should be updated to specify that it's the build tools that need to be upgraded, when it's build-tools that's failed the version check.

[2017-03-20 10:25] mit-mit commented on #8828
Yup, I can repro this aswell (placing the breakpoint on `return new Scaffold(`

[2017-03-20 12:42] jakobr-google commented on #7816
#8891 has a large piece of this puzzle.

[2017-03-20 12:58] nanowang commented on #8882
FYI, that sentence roughly means system couldn't find specific file.

[2017-03-20 15:57] sethladd opened #8893 "(potentially) inconsistent Android emulator setup instructions"
From an email: "Trying to create an emulator with Android Studio. Your instructions say to use Tools > Android > AVD Manager. But, there is no Android sub-menu in the Tools menu. (Actually, the only way I could get a Tools menu was by creating a vestigial Android project.) The Tools sub-menu items are, 1) Tasks & Contexts, 2) New Scratch File..., 3) IDE Scripting Console and 4) Create Command-line

[2017-03-20 16:01] sethladd commented on #8884
Thanks for filing!

[2017-03-20 16:07] sethladd commented on #4347
Closing for now.

[2017-03-20 16:07] #4347 closed

[2017-03-20 16:08] sethladd commented on #1416
We're going to split this up into individual issues.

[2017-03-20 16:08] #1416 closed

[2017-03-20 16:08] sethladd opened #8895 "Building UIs with Flutter Codelab"
Tracking issue.

[2017-03-20 16:09] collinjackson commented on #4347
@mit-mit @jakobr-google are looking at integration tests for plugins

[2017-03-20 16:09] sethladd commented on #8604
Update:  @bkobash has proposed new graphics.

[2017-03-20 16:13] sethladd opened #8896 "Website's homepage"
Tracking issue for M2 work on website's homepage. We'd like to see what we can do to make it even more clear about Flutter's unique selling points, so evaluators can quickly see:

0) What is it (be even more explicit)
1) What does it do
2) Who it's for
3) What makes it special
4) Others are using it

[2017-03-20 16:17] sethladd opened #8897 "Website gallery of Cupertino widgets"
Similar to how we have a gallery of material widgets https://flutter.io/widgets/ we should find a way to make it very obvious what cupertino widgets we have, and when/how to use them.

Some ideas:

* Link https://docs.flutter.io/flutter/cupertino/cupertino-library.html to a widget gallery

* Update https://flutter.io/widgets/ to include Cupertino widgets

* Link https://docs.flutter.io/flutter/mat

[2017-03-20 16:17] sethladd commented on #8896
Related: https://github.com/flutter/flutter/issues/8718

[2017-03-20 16:21] sethladd opened #8898 "Document opinions for customizing our widgets"
A big value-add of Flutter is our customization options for existing widgets. We believe designers should be able to envision beyond stock design languages, and our developers should be able to implement the vision without too much trouble.

As such, we could help our developers by authoring opinionated options for customized widgets. When developers want to go beyond the stock widgets, what do th

[2017-03-20 16:23] sethladd opened #8899 "Update documentation for using and updating a [TBD] release bundle"
We assume that by M2 we'll have some sort of releasable/updatable bundle or at least point-in-time of the code.

As such, we'll want to update our docs to reflect this, both for install and upgrade workflows.

[2017-03-20 17:07] sethladd commented on #3927
I don't think we're going to take action on this. The API docs moved around a lot, but hopefully by now the search engines have found the new locations.

We should be mindful about moving pages around in the future, though, as we get more stable.

[2017-03-20 17:07] #3927 closed

[2017-03-20 17:07] sethladd commented on #3125
We did this! :) . https://flutter.io/issues

[2017-03-20 17:07] #3125 closed

[2017-03-20 17:07] sethladd commented on #799
We're putting this into M2 as it is probably required by Firebase Auth.

[2017-03-20 17:09] sethladd commented on #614
Do you mean "reporting a crash from Dart code running in a Flutter app on a device"?

I know @yjbanov is working on crash reporting for the flutter_tool, which I think is separate from this, but just clarifying.

[2017-03-20 17:09] sethladd commented on #5497
Going to split this issue into two. Thanks for the feedback!

[2017-03-20 17:09] sethladd opened #8900 "Firebase Storage support for FlutterFire"
Tracking issue for this capability.

[2017-03-20 17:11] sethladd opened #8901 "Support MVP Firebase Realtime Database in FlutterFire for codelab and talks"
Tracking issue.

[2017-03-20 17:11] sethladd opened #8902 "Support for Firebase Auth in FlutterFire"
Tracking issue.

[2017-03-20 17:12] sethladd opened #8903 "Support for Firebase Cloud Messaging in FlutterFire"
Tracking issue.

[2017-03-20 17:13] sethladd commented on #8899
FYI @eseidel @abarth this is the placeholder issue, TBD on what we'll do and say. Thanks!

[2017-03-20 17:16] sethladd opened #8904 "Flutter docs are probably the intent for the user, yet they are below the Dart API docs"
We should look to reorder the docs.flutter.io site, and put Dart's API docs below Flutter.

When a user comes to docs.flutter.io, they probably are looking for Flutter docs. Thus, we want to put Flutter docs "above the fold".

[2017-03-20 17:22] yjbanov commented on #614
A complete solution for Flutter applications would be something along these lines:

- Can report unhandled Dart exceptions and native crashes
- Supports iOS and Android
- Integrates with a publicly available crash reporting backend (Firebase, Crashlytics, etc)

What I worked on supports unhandled Dart exceptions only and the backend is private. So there's still quite a bit of work to do. I think t

[2017-03-20 17:24] sethladd commented on #6779
I'm collecting places where we do document text input, in some fashion. Here's what I found thus far:

* https://docs.flutter.io/flutter/services/TextInput-class.html
* https://docs.flutter.io/flutter/material/Input-class.html
* https://docs.flutter.io/flutter/material/TextField-class.html
* https://docs.flutter.io/flutter/widgets/InputValue-class.html
* https://docs.flutter.io/flutter/material/In

[2017-03-20 17:26] sethladd commented on #8369
Making gestures and taps easy to use is in scope for M2.

[2017-03-20 17:41] goderbauer commented on #8860
@acrozes The issue you are seeing in Cmd is a bug related to running Dart on non-english versions of Windows (see https://github.com/dart-lang/sdk/issues/29101). Could you post your system language and Windows version over there as another data point? Thanks.

Did you change anything between your first and second post? In the first one you said `flutter doctor` worked fine in Cmd...

/cc @zanderso

[2017-03-20 17:48] johnmccutchan commented on #865
I believe this is fixed with https://github.com/flutter/flutter/commit/a80e5c20f3374bb1f9d1424e9f786f2aa57fe60a

[2017-03-20 17:48] #865 closed

[2017-03-20 17:55] goderbauer commented on #8882
@HuangHanquan Thanks for the report. Can you please tell me which version of Windows you are using and if the crash occurred in PowerShell, in Cmd, or in both?

[2017-03-20 17:57] sethladd commented on #3757
Hm, did we make this better with the updates from @HansMuller  ?

[2017-03-20 17:57] Hixie opened #8905 "build/ directories should exclude themselves from analysis"

[2017-03-20 18:00] sethladd commented on #5962
No more HostMessages (Hello, PlatformMessages!)... should we close this or rename the issue?

[2017-03-20 18:03] sethladd commented on #3853
Thanks for the feedback!

Closing this in favor of other issues:

* Analytics for a Flutter app: https://github.com/flutter/flutter/issues/5497

* Crash reporting: https://github.com/flutter/flutter/issues/4070 from within a Flutter app

re: logging, presumably one could wire up logging to either crash reporting or analytics.

[2017-03-20 18:03] #3853 closed

[2017-03-20 18:10] sethladd opened #8906 "Finding it difficult to document Input API "holistically" on docs.flutter.io"
Desire: make docs.flutter.io an excellent resource for learning how to use Flutter.

Challenge: for some domains (e.g. Input) that do not have their own library and cut across multiple libraries, we don't seem to have an easy way to author holistic docs. We'd like a "starting point" for a concept, one that is easy to identify when visiting docs.flutter.io.

Strawman proposal: something like a `@ca

[2017-03-20 18:11] Hixie commented on #3757
Not yet.

[2017-03-20 18:14] #8870 closed

[2017-03-20 18:14] #7503 closed

[2017-03-20 18:16] goderbauer commented on #8882
From the stack trace it looks like Flutter is trying to locate the Android SDK and it es failing when it calls Dart's `resolveSymbolicLinks` method. This method is known to not work on Windows (see https://github.com/dart-lang/sdk/issues/29096).

Instead of having Flutter trying to locate the Android SDK for you, you can try to set the environment variable `ANDROID_HOME` to point to the location o

[2017-03-20 18:18] sethladd opened #8907 "Validate content on flutter.io is accurate and up-to-date"
Tracking item for work we plan to do for M2.

We want to sweep through the pages on flutter.io and double check that they are still accurate w.r.t. snippets, concepts, and explanations. We hope to catch major inaccuracies.

[2017-03-20 18:31] sethladd commented on #8867
Duped by https://github.com/flutter/flutter/issues/2100

[2017-03-20 18:32] sethladd commented on #8722
Duped by https://github.com/flutter/flutter/issues/2100

[2017-03-20 18:32] sethladd commented on #8366
Duped by https://github.com/flutter/flutter/issues/2100

[2017-03-20 18:32] sethladd commented on #2100
Closing in favor of individual issues. Thanks for the feedback!

[2017-03-20 18:32] #2100 closed

[2017-03-20 18:40] apwilson opened #8908 "Flutter thinks everything is its fault."
I often get asserts like this:

[code]

This is obviously an issue in the build function of the Alphatar widget but Flutter takes ownership: "Either the assertion indicates an error in the framework itself, or we should provide substantially more information in this error message to help you determine and fix the underlying cause."

While I appreciate Flutter's suggestion it's Flutter's fault I ca

[2017-03-20 18:52] abarth commented on #5962
Platform messages can do this now.

[2017-03-20 18:52] #5962 closed

[2017-03-20 19:20] sethladd commented on #6779
Related issue: https://github.com/flutter/flutter/issues/7575

[2017-03-20 19:20] sethladd commented on #3867
For better searching: routing

[2017-03-20 19:24] sethladd opened #8909 "Make routing and navigation easier to find from the website"
We have solid API docs (with snippets!) at https://docs.flutter.io/flutter/widgets/Navigator-class.html

We'd like to make it very obvious from the website that Flutter has an opinion about how to do multi-screen apps.

Suggestion: create a short page under How-Tos titled "Routing and multi-screen apps" and generally just link over to https://docs.flutter.io/flutter/widgets/Navigator-class.html an

[2017-03-20 19:45] #8398 closed

[2017-03-20 19:54] sethladd opened #8910 "Website has 404's for PlatformMessage api doc links"
Probably known, but for tracking: the website's travis is failing because we have some 404s:

[code]

[2017-03-20 19:54] sethladd commented on #8910
cc @jakobr-google @mit-mit

[2017-03-20 19:55] mit-mit commented on #8910
Yes, this will be resolved by https://github.com/flutter/website/pull/447.

[2017-03-20 20:01] Hixie opened #8911 "Add comment to gaplessPlayback to explain its default"
Put the following, fleshed out and more formal, into the API docs somewhere, e.g. in a `## Discussion` section on `gapless`.

[2017-03-20 20:02] Hixie commented on #8908
Yeah this is a known bug. The code that tries to decide whether to show this or not bitrotted.

[2017-03-20 20:03] Hixie commented on #8908
Dupe of https://github.com/flutter/flutter/issues/4021

[2017-03-20 20:03] #8908 closed

[2017-03-20 20:32] #4017 closed

[2017-03-20 20:38] sethladd commented on #8910
Cool, thanks for the link.

[2017-03-20 20:45] goderbauer opened #8912 "Flutter should work on non-English Windows"
Many users are reporting crashes of the Dart VM on non-english versions of Windows:
- https://github.com/flutter/flutter/issues/8732
- https://github.com/dart-lang/sdk/issues/29101#issuecomment-287597036
- https://github.com/flutter/flutter/issues/8860#issuecomment-287504525
- https://github.com/flutter/flutter/issues/8860#issuecomment-287934153

The problem here is within the Dart VM and therefor

[2017-03-20 21:03] abarth commented on #3513
I'm going to close this now that the video is available and classes like PIpelineOwner have reasonable docs.  Please open a more specific issue if we need more here.

[2017-03-20 21:03] #3513 closed

[2017-03-20 21:23] szakarias commented on #7502
Done in  #8826 .

[2017-03-20 21:23] #7502 closed

[2017-03-20 21:24] szakarias commented on #8584
Done in  #8621 .

[2017-03-20 21:24] #8584 closed

[2017-03-20 21:49] abarth commented on #4819
I'm not entirely sure what we should do here, but it seems like we should be able to do it without breaking the API.

[2017-03-20 21:50] #7520 closed

[2017-03-20 21:53] xster commented on #7111
I'll need some ramp up on plugins but I can take a look at it next

[2017-03-20 21:53] LarkAscending commented on #8770
The instructions used to be more generic, and the UX team asked for this section to point more specifically to bash_profile because it's usually right on Mac and Linux. See https://github.com/flutter/website/pull/413/commits/b604443ede5b3a5cff51b74a5b2a7239003d7a79 .

FTR today we do not say to edit your .bash_profile file. We say "for example,..." which means YMMV.

There's a delicate balance bet

[2017-03-20 21:55] abarth commented on #8542
Duplicate of https://github.com/flutter/flutter/issues/8552

[2017-03-20 21:55] #8542 closed

[2017-03-20 22:20] abarth commented on #8009
I'm going to claim this issue is fixed now that you can write `Colors.grey` as a const color and `Colors.grey.shade300` as an enumerated color value.  Ideally, `Colors.grey.shade300` would be const, but that's a separate (language) issue.

[2017-03-20 22:20] #8009 closed

[2017-03-20 22:28] abarth commented on #8888
What new name should we use?

[2017-03-20 23:04] abarth commented on #8369
There isn't such an interface.

[2017-03-20 23:17] #8883 closed

[2017-03-20 23:17] #8519 closed

[2017-03-20 23:18] #8794 closed

[2017-03-20 23:18] #8235 closed

[2017-03-20 23:51] acrozes commented on #8860
I am on Windows 8.1 in french version.
Between my two posts I switch the command between Git Bash and Windows Cmd. If one failed, the other worked.
Now the first sample works find !

[2017-03-21 00:10] #8249 closed

[2017-03-21 00:24] Hixie opened #8923 "Doing a restart while the debugger is paused is bad times"
Doing a restart while the VM on the device is paused in the debugger causes the tool to crash with the console in a bad state.

[2017-03-21 00:34] xster commented on #8403
Up to 2 because it's blocking https://github.com/flutter/engine/pull/3444 which is blocking #8350

[2017-03-21 01:33] welldone217 commented on #8882
you can change the file  D:\android\sdk\platform-tools\adb.exe  to  D:\android\sdk\platform-tools\adb  .i changed not found some worng yet  :)

[2017-03-21 03:47] abarth commented on #4818
I think we're supposed to implement UIText​Input: https://developer.apple.com/reference/uikit/uitextinput

[2017-03-21 03:48] abarth commented on #4818
Currently we only do UIKeyInput

[2017-03-21 08:29] mravn-google commented on #8711
No, not yet at least.

[2017-03-21 10:05] zxb3121999 opened #8925 "ListView isn't always scrollable"
the refreshIndicator no respond while pulling down.

[code]

[2017-03-21 11:50] mit-mit commented on #8788
This should link to this once it's merged: https://github.com/flutter/website/pull/447

[2017-03-21 11:53] mit-mit commented on #7810
@szakarias what remains before we can close this?

[2017-03-21 11:54] mit-mit commented on #6851
@szakarias @mravn-google don't we have this now?

[2017-03-21 11:54] mit-mit commented on #6850
@mravn I think this doesn't apply in the new framework?

[2017-03-21 11:55] mit-mit commented on #6851
In https://github.com/flutter/flutter/tree/master/examples/platform_services, I mean

[2017-03-21 11:56] mravn-google commented on #6850
No longer applies.

[2017-03-21 11:56] #6850 closed

[2017-03-21 11:56] mit-mit commented on #8788
We should also update the link in the sample readme:
https://github.com/flutter/flutter/blob/master/examples/platform_services/README.md

[2017-03-21 11:56] mravn-google commented on #6851
It's part of platform_services now, yes.

[2017-03-21 11:56] #6851 closed

[2017-03-21 11:57] mit-mit commented on #6848
The new plugin framework is now available and uses async, and there is a sample available:
https://github.com/flutter/flutter/tree/master/examples/platform_services

https://github.com/flutter/flutter/wiki/Upgrading-Flutter-projects-from-using-PlatformMessages-to-using-channels

[2017-03-21 11:57] #6848 closed

[2017-03-21 12:06] mit-mit commented on #5964
@collinjackson I think we can close this now that we have other bugs tracking this use case?

[2017-03-21 12:11] mit-mit commented on #8782
Thanks for the bug report. This is in a transitional phase, and this sample will be removed soon. The new sample that replaces it is here, and this should have working iOS code!

https://github.com/flutter/flutter/tree/master/examples/platform_services

[2017-03-21 12:11] #8782 closed

[2017-03-21 15:46] sethladd commented on #8369
That explains it :)

How does the following (strawman) suggestion look for the API docs?

Perhaps we could say, "If you're using Material widgets, many of those widgets already respond to taps or gestures. For example, IconButton, _______, _________, and __________. If you aren't using those widgets, but you want the "ink splash" effect on a tap, you can use InkWell."

(I'm happy to send a PR, fro

[2017-03-21 15:48] eseidelGoogle commented on #7810
Does this include deleting hello_services?  Or will that stay for a separate purpose?

[2017-03-21 15:49] eseidelGoogle commented on #8925
I'm not quite sure how to triage this bug?

[2017-03-21 15:51] mit-mit commented on #7810
hello_services will be removed once the platform documentation updates land on flutter/website

[2017-03-21 16:09] collinjackson commented on #5964
agreed

[2017-03-21 16:09] #5964 closed

[2017-03-21 16:17] abarth commented on #8884
This is working-as-intended, but we might want to change the intent.  It's easier to see what's going on if you set the `fit` property of the image to `BoxFit.fill`:

[code]

In the ListView context, the child is being forced to fill the list horizontally.  That makes the ClipOval quite wide but not very tall.  The default image fit is `ImageFit.scaleDown`, which means the image is scaled down to

[2017-03-21 16:39] sethladd commented on #8770
Agreed, the best long-term fix here is an automated installation process.

[2017-03-21 17:23] #8882 closed

[2017-03-21 17:24] goderbauer commented on #8882
I just submitted a fix for the issue. If you update to the latest Flutter version it should work now.

[2017-03-21 17:28] cbracken commented on #4818
Yep; there are a dozen methods or so to override, but doesn't look too bad and also appears to fix the press-and-hold backspace and CJK (etc.) IME woes.

Got started on this a couple weeks back but got dragged away by a string of tools issues. Hoping to get back to this later this week.

[2017-03-21 17:32] sethladd opened #8929 "Shadows around cards are intense in latest build of Gallery/Shrine"
Nexus 5, from today's build:

![screenshot_20170321-102842](https://cloud.githubusercontent.com/assets/5479/24161420/9597b762-0e21-11e7-98f6-edd869e33769.png)

Pixel, from build on Play Store:

![screenshot_20170321-102907](https://cloud.githubusercontent.com/assets/5479/24161390/82151efa-0e21-11e7-8ffe-c24195691c60.png)

[2017-03-21 17:32] sethladd commented on #8929
Not sure if this was intentional?

cc @jason-simmons

[2017-03-21 17:34] sethladd commented on #8929
Looks like it's also in buttons, so maybe a systemic issue:

![screenshot_20170321-103346](https://cloud.githubusercontent.com/assets/5479/24161536/ed3e048a-0e21-11e7-8d77-8aa7e24b6a70.png)

[2017-03-21 17:40] abarth commented on #8929
Probably from the new shadow drawing codepath.  /cc @jason-simmons

[2017-03-21 17:41] HansMuller commented on #8929
Two of the problems here:
- The card shadows aren't "drop" shadows, they're not offset towards the bottom right
- The card shadows look like they're being clipped to tightly. Look at the bottom right corner of the top left shrine card.

[2017-03-21 18:31] sethladd commented on #4958
Very cool!

[2017-03-21 18:44] #8770 closed

[2017-03-21 18:49] sethladd commented on #8910
Temp fixed by https://github.com/flutter/website/pull/458

[2017-03-21 18:49] #8910 closed

[2017-03-21 19:54] szakarias commented on #7810
Closing this, the sample has been split and redone. The two samples platform_services and flutter_view can be found in flutter/examples.

[2017-03-21 19:54] #7810 closed

[2017-03-21 20:24] cbracken commented on #8075
I'm able to repro this with a local app. The underlying issue is likely the [inclusion of app.dylib](//apple_ref/doc/uid/DTS40017543-CH1-TROUBLESHOOTING_BUNDLE_ERRORS-EMBEDDED__DYLIB_FILES) in the app bundle.

[2017-03-21 20:31] sethladd commented on #8496
This page uses lower-case d: https://material.io/guidelines/#

This page uses upper-case: https://material.io/

I'll file an issue with the material team and get an official ruling.

[2017-03-21 20:49] sethladd commented on #8496
Confirmed with the Material team. Use capital "Material Design" everywhere.

[2017-03-21 20:51] ajdewit1994 commented on #8612
Sorry for the late answer, I've been a bit busy lately.

@tvolkert https://gist.github.com/ajdewit1994/067b233b0c5b05375e2b96d9ce1d97b3

@Hixie https://gist.github.com/ajdewit1994/b37e5c764c08ba7b1d7aa056fcee2086
That's the result of `ls -alR > contents.txt` because it was so large.

[2017-03-21 20:54] mit-mit opened #8933 "Update examples/readme with platform samples"
Once the new docs for platform services are on flutter.io, update /examples/readme.md to mention the `platform_services` and `flutter_view` samples.

[2017-03-21 20:55] sethladd commented on #953
PR: https://github.com/flutter/engine/pull/3494

[2017-03-21 21:50] lukechurch opened #8937 "Flutter run variable detail in log confuses some users"
A couple of participants in the installation + getting started studies are confused the first time they execute ```flutter run``` against the iOS simulator.

- It shows quite a few detailed log items that didn't make much sense to the participants e.g. ```CoreSimulatorBridge: Getting container class internal daemon!```

- It then goes silent for a long time at the next stage before the app appears

[2017-03-21 21:53] sethladd commented on #3172
See also https://github.com/flutter/flutter/issues/8937

[2017-03-21 21:53] sethladd commented on #1468
See also https://github.com/flutter/flutter/issues/8937

[2017-03-21 22:13] sethladd commented on #8776
Hi  @alardizabal any more thoughts here?

[2017-03-21 22:15] Hixie commented on #8523
What's the status of this bug? Did we figure out if it was a Skia problem? Local issue? Only devices @chinmaygarde hasn't touched? :-)

[2017-03-21 22:20] a14n opened #8938 "asymmetry in equality of Colors"
Found in #8932 : `Colors.blue == Colors.blue.shade500` is `true` but `Colors.blue.shade500 == Colors.blue` is `false`.

@Hixie [points out](https://github.com/flutter/flutter/pull/8932#issuecomment-288229703):

[2017-03-21 22:20] sethladd commented on #8552
Is this an engine issue or a framework issue? cc @abarth

[2017-03-21 22:23] HansMuller commented on #8938
I'll fix this.

[2017-03-21 22:23] Hixie commented on #8612
What's the full path to your project directory?

[2017-03-21 22:28] eseidelGoogle commented on #7112
We need to verify if this is still happening. :D

[2017-03-21 22:30] sethladd commented on #6849
How does this work in the new interop infra? Have we looked at a case like this?

cc @mit-mit

[2017-03-21 22:32] Hixie commented on #6758
https://github.com/flutter/flutter/issues/232 is the bug for moving the debugPrint logic to print itself.

[2017-03-21 22:32] Hixie commented on #8552
Dupe of https://github.com/flutter/flutter/issues/6758.

[2017-03-21 22:32] #8552 closed

[2017-03-21 22:34] Hixie commented on #6758
Android drops text rather than crashing. It's why we have `debugPrint`, which throttles the text. We should make `print` pluggable so that the machinery that plugs into `debugPrint` instead plugs into `print`.

[2017-03-21 22:34] Hixie commented on #6758
We also want to make sure we're showing logs from the system, like crash logs and the like.

[2017-03-21 23:13] cbracken commented on #8075
Update: the inclusion of `app.dylib` was the issue. I was able to cobble together a manual workflow to build the dylib as a framework, and was able to successfully upload to the App Store. I'm working on a patch to our build now.

[2017-03-21 23:25] chinmaygarde commented on #8523
I have not made any progress on this. Local builds on all platforms were fine for me. I was building on a Mac and did ensure to checkout to the version of the released engine. Will try building on Linux. Besides that, out of ideas.

[2017-03-21 23:37] eseidelGoogle opened #8942 "Android Developers would like to understand how to map their knowledge into Flutter"
One example came up in Gitter just now:
RecyclerView.Adapter => ListView.builder.

@mehmetf also mentioned once that he had some knowledge here (which he may even have written down).

analogs was the term used for the web version of this:
https://flutter.io/web-analogs/ (adding that for searchability)

[2017-03-21 23:40] LarkAscending commented on #7665
https://github.com/flutter/website/pull/414 addresses this. Today we have:
https://flutter.io/setup/#set-up-the-android-emulator

Need only to add Enabling KVM steps for Linux, and test the steps on Windows.

[2017-03-21 23:41] Hixie commented on #8523
Ah, could be something that happens with the compiler on Linux maybe?

[2017-03-22 00:21] tvolkert commented on #8612
Just summarizing what I *think* we know at this point:

* Running as non-root...
    * you don't have a `<flutter_root>/bin/cache` directory, so you tried to use `/opt/dart-sdk/bin/dart`
    * with that dart binary, you get the "Dart_NewStringFromUTF8" error, with a trace report [here](https://gist.github.com/ajdewit1994/067b233b0c5b05375e2b96d9ce1d97b3).  My guess is that we shouldn't bother tryi

[2017-03-22 01:28] zxb3121999 commented on #8925
like this :
![qq 20170321180036](https://cloud.githubusercontent.com/assets/13214488/24178077/c0915b56-0ee1-11e7-9f28-653bacdf14dc.png)

[2017-03-22 03:00] zxb3121999 commented on #8925
sorry,it's not a bug.I didn't set the child's 'physics` property to [AlwaysScrollableScrollPhysics].

[2017-03-22 05:42] FaisalAbid opened #8944 "AnimatedCrossFade docs don't explain how to actually trigger a cross fade"
I've been trying to get AnimatedCrossFade working but looking through the source code I dont know what I am doing wrong.

[code]

Individually both AssetImages work, but putting them in a crossfade, the animation does not start

[2017-03-22 09:28] mit-mit opened #8945 "Updated docs for embedding flutter_view"
1. Update flutter.io
  - New page that talks about view embedding. Cover:
      - Assume you already have iOS and Android projects. How do you add Flutter?
      - Main limitations of this approach
      - Having several FlutterViews
2. Update FAQ: `## Can I use Flutter inside of my existing native app?`
  - Link to sample
  - Link to docs
3. Update /examples/readme
  - Link to docs

[2017-03-22 09:42] jakobr-google opened #8947 "Document how to update flutter_tools/test/replay/osx/simulator_application_binary_test"
This test will break continuously as we change how Flutter Tools works, so we need to be able to update it easily.

[2017-03-22 10:31] mit-mit opened #8948 "Changes requested to `example/platform_services/`"
The following changes are requested to match desired text for the new flutter.io/platform-services/ documentation:

## Dart code:
* Currently none

## Java code:

1. Rename `ExampleActivity` to `MainActivity` (to match what `flutter create` gives you)
1. Make `getBatteryLevel()` be pure Android code: takes no parameters, and returns an int. Move if branching based on that int result into `setMetho

[2017-03-22 10:33] christian-lefty commented on #8884
@abarth The center trick worked for me, thanks a lot for your help and explanations.

[2017-03-22 11:31] szakarias commented on #8948
Done in 8949  except for having `private static final String CHANNEL = "battery"` in the `onCreate` method. That should be a field in the class.

[2017-03-22 11:31] #8948 closed

[2017-03-22 11:47] tain335 opened #8950 "Running from IntelliJ doesn't work on Windows"
I have set up all the environment the Flutter required in Windows. And I  run a demo app(created by IDE) but no app show in my phone.

Here is my config:

[code]

[2017-03-22 12:03] szakarias commented on #8948
As discussed for 3), I removed the exception altogether.

[2017-03-22 12:46] tain335 commented on #8950
But I use command line with 'flutter run', it can work

[2017-03-22 12:51] #8889 closed

[2017-03-22 14:13] johnmccutchan commented on #8876
@Hixie do you have any tips on reproducing this? How frequently are you experiencing this?

[2017-03-22 14:22] johnmccutchan commented on #6251
We need to hit the network and fetch from the remote repository. I'm worried about doing that without having the user prompt us- unexpected network access can be expensive and unappreciated.

What about a doctor check?

[2017-03-22 14:32] FaisalAbid opened #8952 "Make it easier to provide a builder for Grid"
I'm using a GridLayout to show images loaded from the network, see below

[code]

This works fine on iOS
![simulator screen shot mar 22 2017 10 28 51 am](https://cloud.githubusercontent.com/assets/253700/24202864/7e40f550-0eea-11e7-9122-83c29d7d3d70.png)

However on Android (physical device) it just loads a black screen.

[2017-03-22 14:34] mit-mit commented on #6849
@mravn-google?

[2017-03-22 14:43] mravn-google commented on #6849
Errors occurring in platform code can be transferred to the Flutter side in a standard way using the new API. Log entries created in platform code is not handled by the interop API.

[2017-03-22 14:47] mit-mit commented on #6849
Closing: This should be handled by the fact that you can handle the exceptions on the Dart side using the new API.

[2017-03-22 15:46] eseidelGoogle commented on #7099
We recently added support for a software graphics backend (currently only used on iOS simulators): https://github.com/flutter/flutter/issues/6135  I suspect with some hacking one could make flutter/engine use a software backend on the raspberry pi.  That's not a configuration we're looking to support, but just pointing out that it should be possible if you modify & build your own flutter/engine.

[2017-03-22 16:11] Hixie commented on #6849
I don't think this is an interop API issue. I think it's a tool issue. If there's an exception on the Java or ObjectiveC side, even unrelated to the plugin API, we should still show it in the logs in `flutter run` and `flutter logs`.

[2017-03-22 16:13] eseidelGoogle commented on #6251
I suspect paid-network users are not one of the user cases we're targeting yet.  We have a ton of other bad bugs for such already (e.g. https://github.com/flutter/flutter/issues/7300).  I suspect once we have the code to check we can place it wherever you or others think makes sense. :D  Thanks for looking!

[2017-03-22 16:17] eseidelGoogle commented on #8950
So `flutter run` works but running from inside IntelliJ does not?  Did I understand correctly?  FYI @goderbauer

[2017-03-22 16:34] eseidelGoogle commented on #8947
@tvolkert

[2017-03-22 16:34] Hixie commented on #6251
I think it would be fine to implement this as follows:

* If the branch is more than one month old:
  * If it's been more than a month since we did a `git fetch`:
    * Do a `git fetch`.
  * Then, if there is a never commit on this branch:
    * Briefly inform the user that this branch may be old, and to consider `flutter upgrade`.

[2017-03-22 16:35] Hixie commented on #6251
Oh and `flutter doctor` should just always do a `git fetch` and check if it's the latest checkin on its branch.

[2017-03-22 16:35] eseidelGoogle commented on #8944
@Hixie would know.

[2017-03-22 16:36] Hixie commented on #8952
If you dump the newReleases array in the build function, does it show build being called with a full array?

[2017-03-22 16:38] Hixie commented on #8876
I see this several times a day. My method of reproducing it is just "try to develop framework changes while using hot reload". I'm happy to run under a more verbose mode if that would help. I'll start running with -v, see if that gives me any more.

[2017-03-22 16:39] Hixie commented on #8944
To make it switch to the second, you have to change `crossFadeState` to `CrossFadeState.showSecond` after it has previously been `showFirst`.

[2017-03-22 16:41] Hixie commented on #8884
The simplest fix here might be to make the debugPaint painter for clips show a line around the shape being clipped (bonus points for making it a dashed line and showing a little scissor icon too!).

[2017-03-22 16:41] FaisalAbid commented on #8944
Oh I see, that was very unclear from the documentation. I thought crossFadeState meant which way the animation should go (firstImage to second or second image to first) and after it was built it would run the animation

[2017-03-22 16:41] Hixie commented on #8925
It's a bug that we don't make ListView do that by default, IMHO.

[2017-03-22 16:43] Hixie commented on #8612
I don't understand how there could be a bin/cache directory as non-root but there is one as root.

[2017-03-22 16:44] Hixie commented on #8944
Yeah we should improve the docs.

[2017-03-22 16:45] eseidelGoogle commented on #8612
If the permissions/ownership on `$FLUTTER_ROOT/bin` don't allow creating `cache` that could happen.  Especially if the `flutter` wrapper script doesn't catch/report a `cache` creation error.

[2017-03-22 16:46] FaisalAbid commented on #8944
Thanks! worked like a charm

[2017-03-22 16:56] eseidelGoogle commented on #7561
iOS side was added in https://github.com/flutter/engine/commit/642e325f83f0df98939cf5fe8b257b9660cdaf3c

[2017-03-22 16:57] eseidelGoogle commented on #7561
Framework side was landed in https://github.com/flutter/flutter/commit/054b5669152acfe8c86620342c78a979fdd76434

[2017-03-22 16:58] tvolkert commented on #8947
The answer is we're going to delete the test and test record-replay in a way that isn't so fragile (I'll file an issue so the plan is documented and linkable) - the current test exists just so we don't regress in the meantime.

[2017-03-22 17:00] eseidelGoogle commented on #7561
Looks like this is the new API:
https://docs.flutter.io/flutter/widgets/WidgetsBindingObserver/didHaveMemoryPressure.html

@jason-simmons should we resolve this?

@mehmetf this should be available next time Flutter is released into Google3.  We're currently blocked on the Dart release but that should be resolved this week and then there will be a series of rolls to catch up (as we're a little behi

[2017-03-22 17:00] abarth commented on #8884
Ok, I've hijacked this bug to be about improving the debug painting for clip oval.

[2017-03-22 17:01] abarth commented on #8925
We used to do that for ListView, but it had some bad consequences with nested list views because the inner list views would be "dead areas" for scrolling the outer list view.  Maybe we should key off `shrinkWrap`?  Another option would be to implement scroll chaining in some form.

[2017-03-22 17:08] sethladd commented on #8944
If someone can suggest additional wording, I'll be happy to make the PR.

[2017-03-22 17:09] #1432 closed

[2017-03-22 17:09] #6397 closed

[2017-03-22 17:14] Hixie commented on #8925
Maybe key off primariness?

[2017-03-22 17:15] Hixie commented on #8925
Also, why are people nesting list views. That's not usually a good idea.

[2017-03-22 17:19] Hixie commented on #8612
@ajdewit1994 Is your flutter clone when running as root in a different directory than the one when running as your main user, or are they the same directory?

[2017-03-22 17:20] Hixie commented on #8612
@tvolkert If I understand correctly, he's getting the UTF8 error even when he just runs "flutter doctor", which would be downloading Dart into bin/cache and using that, it wouldn't ever use the system local version.

[2017-03-22 17:25] wuftymerguftyguff opened #8953 "Problems following "Getting Started" with a physical iOS device"
## Steps to Reproduce

Follow Getting started guide to create to create default "myapp"

Able to launch against simulator, but get following error against real iDevice

first run i get the standard message:

[code]

I open the workspace as suggested and add my team.  (Xcode set for automatic management of signing, I have a a valid wildcard provisioning profile)

i run flutter run again and get thi

[2017-03-22 17:25] goderbauer commented on #8950
I am unable to reproduce this on my machine. It is working locally for me. Can you be more specific about the steps you performed in IntelliJ that lead to the failure? Also, please make sure that a phone is selected and that you use the right play button to run (see screenshot). Are there any errors in the terminal down below?

![rtx4hakodck](https://cloud.githubusercontent.com/assets/1227763/2421

[2017-03-22 17:26] abarth commented on #8925
We should look.  I suspect its because we've buried BlockBody too deep / it's too much cognitive load to distinguish between the two kinds of lists.

[2017-03-22 17:32] cbracken commented on #8953
The error message above looks suspiciously like:
http://stackoverflow.com/questions/41451502/xcodebuild-error-seckey-api-returned-25308
which links here:
http://stackoverflow.com/questions/39868578/security-codesign-in-sierra-keychain-ignores-access-control-settings-and-ui-p

Can you let me know if those steps work? If so, I'll see what we can do in `flutter doctor` to catch this early and emit us

[2017-03-22 17:34] cbracken commented on #8953
If you don't mind, can you also attach the output of `flutter doctor`? That way we've got the version info of what's currently broken.

[2017-03-22 17:35] mit-mit opened #8954 "Update plugin docs to actually use a plugin"
As soon as https://github.com/flutter/flutter/issues/7816 is done, update https://flutter.io/platform-plugins/ to use an actual plugin sample rather than Clipboard from services.dart. Probably use URLLauncher or Battery.

[2017-03-22 17:36] mit-mit opened #8955 "Syntax highlight Java and ObjC"
The new plugin channel docs uses Java and ObjC snippets. Would be great to add syntax highlighting!
https://flutter.io/platform-channels/

[2017-03-22 17:36] mit-mit opened #8956 "Rename platform_services to platform_channels"
To match documentation:
https://flutter.io/platform-channels/

[2017-03-22 17:36] mit-mit opened #8957 "Update platform_services/ios to match documentation"
The battery code was split into a function:
https://flutter.io/platform-channels/

The channel name was changed to `@"samples.flutter.io/battery"`

[2017-03-22 17:38] sethladd commented on #8955
The website uses http://prismjs.com/ for syntax highlighting. Actions I will take:

* Update website's README to talk about prism and how to update/configure it. Teaching others to fish...
* Regenerate prism.js to include ObjC, Swift, and Java (and Dart, HTML, CSS, JavaScript (required for our Analogs), and Bash/shell)
* Profit!

[2017-03-22 17:46] eseidelGoogle opened #8958 "flutter.io/platform-services doesn't redirect"
flutter.io/platform-services doesn't redirect

however flutter.io/platform-services/ does. :D

@sethladd @mit-mit

[2017-03-22 17:58] #8938 closed

[2017-03-22 18:14] sethladd commented on #8958
I can do this quickly.

[2017-03-22 18:31] jason-simmons commented on #7561
Marking this as complete

[2017-03-22 18:31] #7561 closed

[2017-03-22 18:54] HansMuller commented on #8929
I hacked the cards demo to look more like the sample image from the elevations and shadows section of the Material spec: https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-shadows. As you can see, we're close.

elevation = 2, material design spec

![spec_elevation2](https://cloud.githubusercontent.com/assets/1377460/24215351/bab39654-0ef5-11e7-9719-a85827c75130

[2017-03-22 19:01] tvolkert opened #8963 "Create pre-canned testing environments for flutter_tools"
### Problem ###

[Record/replay tests](https://github.com/flutter/flutter/tree/master/packages/flutter_tools/test/replay), were designed to meet two goals:
1. Enable hermetic testing of all code paths in flutter_tools
2. Provide a visual diff of the delta `dart:io` calls that a PR introduced (e.g. "we now spawn this extra OS process N times because of this PR").

However, checking recordings into

[2017-03-22 19:04] tvolkert commented on #8963
@johnmccutchan for thoughts

[2017-03-22 19:05] tvolkert commented on #8947
FYI, https://github.com/flutter/flutter/issues/8963 documents the plan.  Leaving this issue open as a reminder to delete the current test (it's currently disabled).

[2017-03-22 19:48] wuftymerguftyguff commented on #8953
Output of flutter doctor, as requested
[code]

[2017-03-22 20:02] collinjackson commented on #4905
I think maybe the issue you're dealing is that submitting an input field doesn't cause it to lose focus. To de-focus an input field, you can call Focus.clear(context). This will cause it to lose the purple underline.

Here's an example that does that: https://gist.github.com/collinjackson/df9b6f9708eaf95017deedd0ad1df7ff

[2017-03-22 20:09] a-siva commented on #7918
Is this is a duplicate of https://github.com/flutter/flutter/issues/7108 and has been addressed by the CLs that landed for https://github.com/dart-lang/sdk/issues/28785 ? Can it be closed.

[2017-03-22 20:20] wuftymerguftyguff commented on #8953
I ran this as mentioned in the second stack overflow link above.

`
security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k <keychainPass> login.keychain
`

flutter run now works with a real ios device.

So i thought I would try this to recreate the issue,

'
security set-key-partition-list -S apple-tool:,apple: -s -k <keychainPass> login.keychain
'

but it still works...

So I think

[2017-03-22 21:29] #8115 closed

[2017-03-22 21:39] HansMuller commented on #1815
I'm going to see if we can eliminate DrawerItem (per the suggestions above).

[2017-03-22 21:56] chinmaygarde opened #8968 "License script fails on .DS_Store files in the source tree on Mac."
If there are any .DS_Store files on Mac, the license script fails with the following error till the files are cleared. Ideally, the file should be ignored.

[code]

[2017-03-22 22:06] chinmaygarde opened #8969 "Licenses script uses signatures that are different on Linux and Mac."
The third party artifacts downloaded by GN hooks are not the same on Mac and Linux. For example, the Android tools contains files that different on Linux and Mac. Because of this, the license script generates signatures that are different on the two platforms. This effectively makes it impossible to commit to the engine from a Mac.

[2017-03-22 22:29] ds84182 opened #8970 "Scaffold and AppBar are very restrictive compared to other widgets"
In a project I'm working on, I need to bind a stream to a TabBar using StreamBuilder... however I can't target just the TabBar because of extremely strict types.

The "bottom" parameter to AppBar only accepts AppBarBottomWidgets, the "appbar" parameter to Scaffold only accepts AppBars. If I wanted to have the TabBar update with some asynchronous computation, I would have to rebuild at the Scaffold

[2017-03-22 22:44] Hixie commented on #8970
The Scaffold.appBar problem is https://github.com/flutter/flutter/issues/8648.

AppBarBottomWidgets isn't a problem, whoever. You can easily make a widget that implemented AppBarBottomWidgets. It's just an interface that requires you to implement a bottomHeight getter that returns the number of vertical pixels you want the widget to take.

[2017-03-23 00:42] rmacnak-google opened #8972 "flutter tool loses its verboseness somewhere in Gradle"
With `flutter run --profile -v`, it used to be possible to see the command that generates the AOT snapshot along with its output. Now, this command seems to be invoked from Gradle, which doesn't seem inherit verboseness from the flutter tool.

[2017-03-23 00:52] cbracken commented on #8075
I've landed a patch which eliminates the use of a raw dylib and builds a framework instead. See the steps in #8971 to migrate existing Xcode projects. Once those steps are done, you should be able to do the following steps to push a build to the App Store:
1. On the command line, run `flutter build ios --release`.
1. Close & re-open the Xcode project to pick up the mode change (Xcode 8.3 will elim

[2017-03-23 02:04] xster opened #8973 "More code doc on MethodCall"
For instance, if I put in a [String, String] in the dart side, what comes out on the java/objective-c side by looking at the docs only without diving into StandardMessageCodec etc.

[2017-03-23 02:23] tain335 commented on #8950
I think it's OK now, After I restart IDE. Yestarday IDE console didn't log any message. This issue should close.

[2017-03-23 03:01] #8950 closed

[2017-03-23 04:09] FaisalAbid commented on #8952
Actually I don't know what the heck is going on anymore. I'm so confused.
Turns out this isn't just an android issue. Because i was using the simulator to deploy, I was using the instant run mode in flutter to deploy the change and the newReleases array was already built out so the album covers were showing.

This happens on iOS too. The issue is very weird.

@eseidelGoogle I am going to rename th

[2017-03-23 08:23] #8958 closed

[2017-03-23 08:25] mit-mit commented on #8788
Docs landed, new URL is https://flutter.io/platform-channels/

[2017-03-23 08:43] mit-mit commented on #8973
Good suggestion!

[2017-03-23 09:31] mit-mit opened #8977 "Website PR deployer failing"
Looks like firebase login is causing a failure.

From https://github.com/flutter/website/pull/465:

[code]

[2017-03-23 09:31] mit-mit commented on #8977
@FaisalAbid

[2017-03-23 11:37] FaisalAbid commented on #8977
Wow so not cool, it ran so well for all the PRs yesterday.. let me see what would cause a firebase login fail randomly

[2017-03-23 11:56] FaisalAbid commented on #8977
Oh shoot. This is the issue.

https://blog.wyrihaximus.net/2015/09/github-auth-token-on-travis/

"This normally isn't an issue unless you hit Github's rate limit. And since composer is running on a 'public' travis box with a 'public' IP address that has been use by many builds before it there is a very very high chance it already hit the 60 requests per hour limit."

Going to email GitHub right no

[2017-03-23 12:01] mit-mit commented on #8977
Ah, good insight! Shouldn't be we using an API token so we get a much higher rate limit?

[2017-03-23 12:08] FaisalAbid commented on #8977
We are! I oauthed the bot and got a token that has a very high rate limit
already. The problem is since this is a public IP Travis box, lots of other
people are accessing GitHub through it too and it's getting rate limited
for the IP.

I have an idea, to move the bots git functionality to a firebase function
and get Travis to call that. And that will get around this issue

On Thu, Mar 23, 2017, 8:

[2017-03-23 12:10] FaisalAbid commented on #8977
There seems to be another long winded solution here.

I'm taking a look. https://gist.github.com/topheman/25241e48a1b4f91ec6d4

On Thu, Mar 23, 2017, 8:08 AM Faisal Abid <notifications@github.com> wrote:

--

Sent from my phone

[2017-03-23 12:50] rbishop-bah commented on #8118
Upgraded to the latest IntelliJ IDEA Community 2017.1... flutter plugin no longer recognized... and flutter plugin not found in Browse Repositories.

[2017-03-23 13:16] #8788 closed

[2017-03-23 13:18] mit-mit commented on #8118
So sorry @rbishop-bah, we are working on resolving this ASAP! See https://github.com/flutter/flutter-intellij/issues/823. CC @pq @devoncarew

[2017-03-23 14:29] jakobr-google commented on #7812
Fixed in #8891

[2017-03-23 14:29] #7812 closed

[2017-03-23 14:30] jakobr-google commented on #7816
Pretty sure this is fixed by #8891, but I won't know until I've tested #7815.

[2017-03-23 14:37] jakobr-google commented on #7815
Here's what's being implemented:

Android: The native part of the plugin is a Gradle project. In the plugin template, there will be source code here, but you don't have to have it. You could also just depend on binary artifacts, either from Maven Central, or shipped with the plugin.

iOS: The native part of the plugin is a Pod. In the plugin template, there will be source code, but again, you don'

[2017-03-23 14:39] johnmccutchan commented on #8824
@bkonyi FYI

[2017-03-23 14:42] jakobr-google commented on #7811
Should be fixed with #8891, but needs testing.

[2017-03-23 14:43] jakobr-google commented on #7813
Should work as of #8891, but needs testing.

[2017-03-23 14:46] johnmccutchan commented on #8690
@bkonyi

[2017-03-23 15:45] sethladd commented on #8977
Update: we commented out the auto-deploy. Sorry for the troubles!

Closing this as we're no longer blocked, but we'll come up with a solution.

[2017-03-23 15:45] #8977 closed

[2017-03-23 15:46] sethladd commented on #8788
Super cool. Thanks!

[2017-03-23 16:42] cbracken commented on #8075
Alright; confirmation from @vlidholt in the Gitter chat today that he was able to upload to the App Store. Marking as fixed. @jtrunick please re-open if you're still hitting this issue after a `flutter update` and following the steps above.

[2017-03-23 16:42] #8075 closed

[2017-03-23 17:17] #8515 closed

[2017-03-23 18:42] #6670 closed

[2017-03-23 18:45] cbracken commented on #6670
Nice! That's 2MB back on every iOS Flutter app that doesn't use Roboto!

[2017-03-23 18:45] sethladd commented on #6670
W00t!!

[2017-03-23 18:46] xster commented on #7111
As suggested by @collinjackson, will
1- get a prototype running (https://github.com/xster/flutter-plugin-share)
2- extract the key parts into google3 plugins
3- port to the plugin distro mechanism later when ready

[2017-03-23 19:20] xster opened #8981 "Lot of noise from run console in iOS"
Had a small app running in https://github.com/xster/flutter-plugin-share

[code]

There's so much noise in the output. Would be intimidating for developers. We should by minimum somehow make native outputs somehow different in indentation/color/prefix

[2017-03-23 19:42] eseidelGoogle commented on #8777
There are a cluster of iOS Keyboard bugs many likely caused by us currently using the wrong API level to interface with the iOS Keyboard.  I believe https://github.com/flutter/flutter/issues/4818 is the bug where the fix is likely to be tracked.

[2017-03-23 19:42] Hixie commented on #8952
There's two problems with the code:
1. You should assume that builds can happen all the time. That's why you rebuild with size zero. There's something else in the system that happens to be rebuilding (probably the WidgetsApp because of the i18n redundant-rebuild bug), and that's triggering you to rebuild.
2. You're passing the same list object in every time, so the system assumes nothing has chang

[2017-03-23 19:43] xster opened #8982 "flutter doctor may not surface project specific gradle version problems"
Make a project and open the android part with android studio 2.3. Build and run and copy the entire project to a machine with android studio 2.2.

Flutter doctor knows that gradle is version 2.14.1 or whatnot but doesn't check that it's 3.3 or whatnot. Flutter run:

[code]

[2017-03-23 19:46] FaisalAbid commented on #8952
Thanks Ian, i will try this shortly and let you know.

Appreciate the detailed response!

[2017-03-23 19:49] sethladd commented on #8952
If I may ask a follow-up, I believe you're talking about this line: `children: newReleases);`

Since we're creating a new instance of GridView (`new GridView.extent`) in build(), isn't that sufficient to signal that "something has changed" ? (clearly not :) but trying to learn more here)

setState is the signal that says "this widget's state has changed, please schedule me for rebuilding". At leas

[2017-03-23 19:55] eseidelGoogle commented on #8775
There are a cluster of iOS Keyboard bugs many likely caused by us currently using the wrong API level to interface with the iOS Keyboard.  I believe https://github.com/flutter/flutter/issues/4818 is the bug where the fix is likely to be tracked.

But that obviously doesn't cover Android, and so there are likely additional bugs to track here.

I'll see if I can test to understand the lag difference

[2017-03-23 19:55] eseidelGoogle commented on #8744
There are a cluster of iOS Keyboard bugs many likely caused by us currently using the wrong API level to interface with the iOS Keyboard. I believe #4818 is the bug where the fix is likely to be tracked.

FYI @cbracken @xster

[2017-03-23 19:55] FaisalAbid commented on #8952
That was my thought processes as well. I assumed when build ran, it checked if there are new items in the listview and went okay time to render new stuff since I signalled setState

[2017-03-23 19:57] eseidelGoogle commented on #8775
I'm not able to perceive any lag testing Gallery > Text Input demo vs. say Hangouts on an iPhone 6s.  Maybe this manifests on slower phones?

@alardizabal I'd love to know if you have more context here re: the lag.

[2017-03-23 19:59] eseidelGoogle commented on #8726
Oh!  This is just a regression.  The Gallery on iOS is now navigating to new demos flying up from the bottom instead of sliding in from the right.  Not sure when this occurred, but definitely a regression. :(

@HansMuller @Hixie

[2017-03-23 20:00] eseidelGoogle commented on #8653
@abarth I see you self-assigned, but I'm not sure what the next work here is.  Do we have an update for Posse?  I'm meeting with them this afternoon. :)

[2017-03-23 20:09] chinmaygarde commented on #8524
I see the issue. No updates yet.

[2017-03-23 20:19] xster commented on #8969
May be a dupe #8165

[2017-03-23 20:19] eseidelGoogle opened #8983 "Long pod install step should indicate progress"
`flutter run` silently hangs on the command line.

If I open `ios/Runner.xcworkspace` and build there, I get:
clang: error: no such file or directory: '/src/bug5823/ios/Pods/Target Support Files/Pods-Runner/Pods-Runner-dummy.m'
clang: error: no input files

[2017-03-23 20:20] eseidelGoogle commented on #8983
[code]

[2017-03-23 20:21] eseidelGoogle commented on #8983
My actual revision is 25999678fde6371598a1a170c3e3e036742d51d8.  I have a local commit for my personal cert.

[2017-03-23 20:23] FaisalAbid commented on #8952
Hey @Hixie

I changed loadNewReleases to the following code but still getting the same issue.

[code]

[2017-03-23 20:25] cbracken commented on #8983
I bet this is the CocoaPods `pod install` step. Can you run `flutter run --verbose` to verify?

The first time you run `pod install`, CocoaPods downloads their entire ~400MB repo of package specs from github. If the first `pod install` run happens to be via a flutter command, you may end up with a 5 minute bootstrap.

At a minimum we should output a message informing the user.

[2017-03-23 20:27] sethladd commented on #8983
Should we have a benchmark that measures "time to create a new app", so we don't accidentally regress it?

[2017-03-23 20:32] Hixie commented on #8952
It's enough to signal that something has changed, but it's not enough to signal _what_ has changed. And in this case, the list hasn't changed, it's the same list (it's `operator==` with the old one).

Move the `newReleases = new List();` into the setState, so it's after the `await`. The problem is that with your new code you're still running the risk that your build function gets called between wh

[2017-03-23 20:32] eseidelGoogle commented on #8983
Yup.  It's `pod install`.  Can we detect this case and log or something?

[2017-03-23 20:33] cbracken commented on #8983
## Steps to Reproduce
On a macOS machine:
1. Delete your ~/.cocoapods repo: `rm -rf ~/.cocoapods`.
1. `flutter create foobar`
1. `cd foobar`
1. Open iOS simulator.
1. `flutter run`

You'll get a 5-10 minute hang with no progress message as CocoaPods pulls down close to 400MB of specs, but no progress message indicating what's happening.

For people using CocoaPods, this one-time bootstrapping step

[2017-03-23 20:34] cbracken commented on #8983
/cc @jakobr-google

[2017-03-23 20:53] sethladd commented on #8952
Ah, so, build() returns a Widget. And then the framework compares that return value with the previously returned value via `operator==`, and GridView's `operator==` incorporates all of its parameters (including children:). I hope I got that right.

[2017-03-23 20:54] vlidholt opened #8984 "Add support for fading in images"
This would be a super nice to have, especially when loading images over the network. See the Material design spec for details:

https://material.io/guidelines/patterns/loading-images.html#

[2017-03-23 21:19] Hixie commented on #8952
In this particular case the list is passed to a delegate class which then responds to a "shouldRelayout" function by using `operator==` on the list in the new object vs the old object. So your description is wrong in the specifics but correct in the general sense, yes.

[2017-03-23 21:25] FaisalAbid commented on #8952
so hypothetically if I was building a chat app, whenever a new message came through the websocket, I would have to rebuild the list + the new message?

[2017-03-23 21:29] johnmccutchan opened #8986 "Gradle APK build crashes in AAPT cruncher step"
crash observed in benchmark: `hot_mode_dev_cycle_win__benchmark` (Windows),  `flutter_gallery__build` (Linux)

[code]

[2017-03-23 21:29] johnmccutchan commented on #8986
@mit-mit @jakobr-google

[2017-03-23 21:40] sethladd commented on #8952
Thanks! Your explanations definitely helped.

[2017-03-23 21:59] Hixie commented on #8952
@FaisalAbid I would recommend using a GridView.custom in that case (or indeed in any case where you have many widgets, or if you don't know ahead of time how many widgets you have), passing it a  SliverChildBuilderDelegate for the childrenDelegate and a SliverGridDelegateWithMaxCrossAxisExtent for the gridDelegate (the latter is what GridView.extent does).

cc @abarth It might be worth making the

[2017-03-23 22:04] FaisalAbid commented on #8952
I see! I wish it was easier! Maybe a GridView.dynamic where I dont have to do so much work myself and just pass in a list and keep updating it

[2017-03-23 23:05] eseidelGoogle commented on #8524
There is at least one app in development shipping mid April which will be blocked by this.  We have time.  Just making note. :)

[2017-03-23 23:07] sethladd opened #8988 "Request to document the IntelliJ plugin's new snippets"
New features! See https://github.com/flutter/flutter-intellij/issues/800#issuecomment-288826966

[2017-03-23 23:07] sethladd commented on #8988
cc @mit-mit

[2017-03-23 23:09] sethladd commented on #7044
Here's another item for Effective Flutter: https://github.com/flutter/flutter/issues/8952#issuecomment-288863378

Something about how when working with State fields that are lists, you should always create a new List inside the setState call, instead of modifying the list.

[2017-03-23 23:09] sethladd commented on #7044
Another item for Effective Flutter: all widgets (stateful, stateless) should be immutable.

[2017-03-23 23:15] sethladd opened #8989 "Flutter tool analytics doesn't appear to report the CLI or IDE distinction"
We'd like to be able to determine the difference between a CLI user and an IDE user for flutter_tool. Are we sending that info? If not, we'd like to send that.

Thanks!

[2017-03-23 23:15] sethladd commented on #8989
cc @devoncarew @johnmccutchan

[2017-03-23 23:18] sethladd opened #8990 "Request for Cupertino-flavored pull-to-refresh look and feel"
From analyzing one of our early shipping customers, we'd like for the app to have a Cupertino-flavored look&feel for pull-to-refresh.

Flutter now provides a Cupertino-flavored spinner. What may be remaining is guidance (framework support, example, etc) for how to do the full pull-to-refresh for Cupertino.

Thanks!

[2017-03-23 23:19] sethladd commented on #8990
cc @cbracken

[2017-03-23 23:20] lukechurch commented on #8690
A related case that we saw in a study, participant:

- Had downloaded and installed Android Studio
- Had _not run_ Android Studio, so it had never installed the SDK
- Flutter Doctor told them that the Android SDK wasn't found, but the download link took them to the place where they got Android Studio from, which they knew they had installed.

I think the error message needs to say something like '

[2017-03-23 23:20] sethladd commented on #8690
How did they install? Was this windows, mac, or linux?

[2017-03-23 23:22] lukechurch commented on #8690
Sorry, yeah, this was OS X.

The installed by going to https://developer.android.com/studio/index.html, downloading the file, decompressing and copying into the applications folder.

[2017-03-23 23:35] johnmccutchan commented on #8989
@mit-mit

[2017-03-24 00:06] xster opened #8991 "Document Platform*Channel exception propagation"
Could be work documenting what happens when the code in the native handler throws an exception and whether we encourage developer to catch everything and map to a response error or it's automatic.

[2017-03-24 02:32] LarkAscending commented on #8893
![image](https://cloud.githubusercontent.com/assets/23464935/24278139/2944e492-0fff-11e7-995a-a44254c010bc.png)

Everything has been tested :-)

There's apparently a delay after installing before users can see the Tools option in the Android Studio menu. This is documented in a comment on an in-progress PR.
@mit-mit

In the first pass at setup.md, we also gave instructions for how to access AVD Ma

[2017-03-24 04:47] chinmaygarde commented on #8981
We are trying to move to a scheme where application logs are forwarded to a socket the tools listen on. I have a PR that is [in progress related to this](https://github.com/flutter/engine/pull/3483). @cbracken should have details on how this is handled on the tools side.

[2017-03-24 04:49] chinmaygarde commented on #8929
Was this fixed by https://github.com/flutter/engine/pull/3499?

[2017-03-24 11:54] jdwbell commented on #5737
This issue still exists on my Moto G3 using the current version of Flutter Gallery in the app store.
Android version 6.0
Kernel version 3.10.49-g88eb8b3

An update is available for this phone now.  Some time next week I will update the phone and report back whether that resolves the issue.

[2017-03-24 12:20] mit-mit commented on #8893
The `Tools->Android->AVD Manager` has been, and is, the main flow.

BUT: The super confusing thing -- which we should document -- is that this menu item does not appear in Android Studio unless you either open an existing android project or create a new one, and then wait until gradle is done building it.

[2017-03-24 13:21] mravn-google opened #8997 "flutter/engine builds include deleted .h files in Flutter.Framework"
It appears we are not doing clean builds of `flutter/engine`. The old header files

    FlutterAsyncMessageListener.h
    FlutterJSONMessageListener.h
    FlutterMessageListener.h

are still present in `Flutter.Framework/Headers`.

## Steps to Reproduce

Create a fresh Flutter clone and run `flutter doctor`. The old header files are then downloaded into `flutter/bin/cache/artifacts/engine/ios/Flut

[2017-03-24 13:22] mit-mit opened #8998 "Extract non-framework parts from services.dart into plugins"
Very soon, when https://github.com/flutter/flutter/issues/7816 and https://github.com/flutter/flutter/issues/7814 are done, we should be able to have super simple plugin consumption ala this:
https://flutter-website-staging.firebaseapp.com/pluginsv2/platform-plugins/#adding-a-plugin-to-an-app

When we do that, it would be nice to have some initial plugins. I would like to extract the parts of [ser

[2017-03-24 13:22] mit-mit commented on #8998
@abarth WDYT?

[2017-03-24 14:23] jtrunick commented on #8075
works!

[2017-03-24 15:11] abarth commented on #8997
The bots to incremental builds.  We can manually clobber the bots to get a clean build, but the real fix is to clean out the Headers directory before copying the new headers in.

[2017-03-24 15:12] abarth commented on #8998
Sounds great.

[2017-03-24 16:27] eseidelGoogle commented on #5737
Yes, this is a known issue in the currently published (~6mo old iirc) Flutter Gallery.  We plan to publish a new version soon: https://github.com/flutter/flutter/issues/7983

Until then, you can run the latest version of the gallery by following flutter.io/setup and then running (using `flutter run --release`) the examples/flutter_gallery on your phone locally.

Our build bots also produce (releas

[2017-03-24 17:01] cbracken commented on #8075
Fantastic! Glad to hear it. Thanks for confirming!

[2017-03-24 17:40] #8809 closed

[2017-03-24 17:51] #8968 closed

[2017-03-24 17:55] yjbanov opened #9002 "How to open the Scaffold's drawer using Flutter Driver?"
I'm logging this because someone asked and I don't know the answer. I should try it myself and fix it if it's not currently possible.

[2017-03-24 17:58] LarkAscending commented on #8893
Instead of documenting (which is problematic b/c 1. users won't read it and 2. the Android Studio behavior might change), have we looked at filing an issue w/Android Studio?

[2017-03-24 18:35] collinjackson opened #9003 "Make DrawerHeader margin configurable"
The Material spec says that drawer headers are supposed to scroll with the rest of the drawer.

https://material.io/guidelines/patterns/navigation-drawer.html#navigation-drawer-content

However, some apps might want a drawer header that doesn't scroll with the drawer items. There will be 8 pixels of white margin below the drawer header in this case.

We should make the drawer header margin configu

[2017-03-24 21:15] yyoon opened #9008 "flutter crashes when Android Studio is older than v2.2.0"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

ArgumentError: Invalid argument(s): Cannot find executable for /opt/android-studio-2.1/jre/bin/java.

[code]

## flutter doctor

[code]

[2017-03-24 21:23] yyoon commented on #9008
cc/ @goderbauer

[2017-03-24 21:55] cbracken commented on #8366
First cut at this: flutter/website#471

[2017-03-24 22:34] #1815 closed

[2017-03-24 23:40] goderbauer commented on #9008
@yyoon Can you update your Android Studio to the latest version from here: https://developer.android.com/studio/index.html

Your version 2.1 does not come bundled with the JDK. Android Studio v2.2.0 (September 2016) is the first one that includes the JDK.

We should probably check for that and only attempt to use the bundled JDK when Android Studio is new enough.

[2017-03-24 23:43] #9003 closed

[2017-03-24 23:47] yyoon commented on #9008
Yeah, I think there should be the check.

For some reason I have Android Studio 2.1, 2.2, 2.3 installed separately on my machine. I could probably try again after uninstalling 2.1.

[2017-03-25 00:04] LarkAscending opened #9010 "Test requirement to start Android Studio after setup"
## Steps to Reproduce

New user feedback on Android Setup was that it's necessary to start Android Studio after installing it, before running `flutter doctor`.

Instructions here:
https://flutter.io/setup-windows/#install-android-studio

Test (on macOS, Windows, Linux):
1. On a clean machine, clone flutter repo and update path to include flutter/bin.
1. Install Android Studio (but don't start it).

[2017-03-25 00:07] #9008 closed

[2017-03-25 00:07] goderbauer commented on #9008
I just pushed a path. Can you upgrade your flutter installation and try again? Thanks.

[2017-03-25 00:14] yyoon commented on #9008
Works fine now. Thanks!

[2017-03-25 00:29] eseidelGoogle commented on #8983
Well, it takes about 20m, but it does work. :)

I think we should consider making this an explicit install step instead of having it implicit in `flutter run`.  It's a really poor user experience to have you first run on Mac take 20mins. :(

[2017-03-25 00:43] goderbauer commented on #8986
I've never seen this crash locally, only on the bots where it seems to happen fairly frequently now.

[2017-03-25 02:24] eseidelGoogle commented on #8523
I'm able to reproduce this on genymotion on Mac:
<img width="446" alt="screen shot 2017-03-24 at 7 23 33 pm" src="https://cloud.githubusercontent.com/assets/11857803/24318745/6e161104-10c7-11e7-8732-a9fbe8f82450.png">

However looks fine in iOS Simulator.

[2017-03-25 02:39] eseidelGoogle commented on #8523
Same problem on Android Emulator:
    • Android SDK built for x86 64 • emulator-5554 • android-x64 • Android 6.0 (API 23) (emulator)

<img width="456" alt="screen shot 2017-03-24 at 7 38 53 pm" src="https://cloud.githubusercontent.com/assets/11857803/24318838/9821fde4-10c9-11e7-91b9-f87853fc9fdf.png">

[2017-03-25 02:52] eseidelGoogle commented on #8523
Here is the code I used to repro:
https://github.com/eseidelGoogle/bug5823

I'm using flutter/flutter@06144a7207fb0ea860e6db20e63b71f680b0ebab

flutter doctor is clean
[✓] Flutter (on Mac OS X 10.12.3 16D32, channel master)

[2017-03-25 14:14] jtrunick opened #9011 "iOS crash - iPhone6 simulator"
## Steps to Reproduce

Program starts fine, but happens when changing screens, but not consistently.

## Logs

	        [x86_64] libnetcore-856.30.16
	    0   libsystem_network.dylib             0x00000001102ff666 __nw_create_backtrace_string + 123
	    1   libnetwork.dylib                    0x000000010dc28006 nw_socket_add_input_handler + 3164
	    2   libnetwork.dylib                    0x00000

[2017-03-25 14:15] jtrunick opened #9012 "iOS crash - iPhone6 simulator "__nw_create_backtrace_string""
## Steps to Reproduce

Program starts fine, but happens when changing screens, but not consistently.

## Logs
[code]

Run `flutter analyze` and attach any output of that command also.

## Flutter Doctor

[code]

[2017-03-25 14:26] eseidelGoogle commented on #9012
Crashes should produce a crash report in `Console.app`.  Would you be willing to attach the crash report to the bug?

[2017-03-25 16:49] jtrunick commented on #9012
I attached what i think you are looking for.
[Runner_2017-03-24-183719_Joels-MacBook-Pro.txt](https://github.com/flutter/flutter/files/870189/Runner_2017-03-24-183719_Joels-MacBook-Pro.txt)

[2017-03-26 00:15] mehmetf commented on #8942
tl;dr We don't really have anything written down.  At first, we tried to do this kind of systematic translation from our native code but we found that it was easier to learn proper patterns from Flutter Gallery and apply them to the app's design.

We wanted our app code to resemble what a Flutter app is supposed to be. For instance, our Android implementation is inheritance-heavy which is an anti-

[2017-03-26 09:48] marklester opened #9014 "Platform Channels Docs Switcharoo"
On
https://flutter.io/platform-channels/?
under "Architectural overview: platform channels" the diagram looks to be flipped

[2017-03-26 17:07] abarth commented on #9014
@mit-mit @mravn-google

[2017-03-26 18:05] devoncarew commented on #8989
As per an email thread, I think we want IDEs to pass in an env var to help us distinguish how the tool's being invoked. Something like `FLUTTER_ENVIRONMENT=IntelliJ-IDEA flutter run --machine ...`

[2017-03-27 07:43] jakobr-google commented on #8983
#8999 has part of this. We should update the 'setup' webpage as well.

[2017-03-27 08:11] laike9m commented on #427
@eseidelGoogle, the link you gave showing an example with camera no longer exists.

[2017-03-27 08:55] mit-mit commented on #8299
Discussed in triage: We will create a Swift version of https://github.com/flutter/flutter/tree/master/examples/platform_services

[2017-03-27 08:57] mit-mit commented on #7312
Changing this to supporting Swift as an option, in addition to OjbC. This could be something like `flutter create -swift myapp`

[2017-03-27 10:04] mit-mit commented on #8933
This happened in https://github.com/flutter/flutter/pull/9018

[2017-03-27 10:04] #8933 closed

[2017-03-27 10:05] mit-mit commented on #8998
Assigning to Jakob (where conveniently the present issue will be used to validate https://github.com/flutter/flutter/issues/7815)

[2017-03-27 10:13] mit-mit commented on #9014
Thanks @marklester for spotting this!

[2017-03-27 10:34] szakarias commented on #8956
Done l (#9018).

[2017-03-27 10:34] #8956 closed

[2017-03-27 10:40] mit-mit opened #9019 "Doctor should check for hardware VM accelleration"
If a developer is configured for Android, then we should check if they have hardware acceleration configured. If not, Flutter will run very slow.

The command is:
[code]

Details here:
https://developer.android.com/studio/run/emulator-acceleration.html

[2017-03-27 11:12] #8983 closed

[2017-03-27 11:36] #9014 closed

[2017-03-27 13:18] jsiedentop commented on #427
@laike9m, Erick Ghaumez forked the plugin from Faisal Abid: https://github.com/rxlabz/flutter-camera-plugin The Plugin was developed only for Android with the hello_service example.
But the hello_service example is outdated. You can use the new examples
https://github.com/flutter/flutter/tree/master/examples/platform_channel or https://github.com/flutter/flutter/tree/master/examples/flutter_view a

[2017-03-27 15:08] eseidelGoogle commented on #9012
So reading that report, it looks like it's crashing in Thread 0, in Accessibility code:

[code]

[2017-03-27 15:33] sethladd commented on #6892
See https://codereview.chromium.org/2775863004/

(landed, but not rolled...)

[2017-03-27 15:51] sethladd commented on #8795
Thanks to https://github.com/flutter/flutter/pull/8994 from @szakarias we added more notes to the README.

Missing a note about Stocks. cc @Hixie if he's interested in contextualizing Stocks in our list of examples. Then we can close this issue :)

[2017-03-27 16:05] sethladd commented on #8929
Doesn't look like we've matched the shadows to the spec yet. Just made a build:

![screenshot_20170327-085829](https://cloud.githubusercontent.com/assets/5479/24365934/6fb9e420-12cc-11e7-9c8a-ab404d134ea9.png)

Reference point (welcome screen from Keep):

![screenshot_20170327-090118](https://cloud.githubusercontent.com/assets/5479/24365949/7949dc34-12cc-11e7-9288-8c58ce919229.png)

[2017-03-27 17:08] DaveShuckerow opened #9022 "Flutter packages export dart:async entities"
I noticed that package:flutter_test reexports Future from dart:async.  In client code, this can lead to the Dart analyzer importing package:flutter_test in non-test code because the code uses Futures.  It can also lead to client code importing Future redundantly if it imports package:flutter_test and then uses some other dart:async class and imports that as well.

This doesn't break anything, but

[2017-03-27 17:18] goderbauer commented on #8986
On Friday I tried updating gradle to the latest version. That did not fix the crash. The android sdk is also at the latest release on the  bot. I'm out of ideas for this one...

[2017-03-27 17:26] abarth commented on #8970
Also https://github.com/flutter/flutter/issues/4581

[2017-03-27 17:26] abarth commented on #8648
See also https://github.com/flutter/flutter/issues/4581

[2017-03-27 18:41] chinmaygarde commented on #7837
This has been fixed.

[2017-03-27 18:41] #7837 closed

[2017-03-27 19:07] chinmaygarde commented on #5898
I havent seen this issue in the latest builds on multiple devices. Closing this for now. Please reopen if we observe this again.

[2017-03-27 19:07] #5898 closed

[2017-03-27 19:11] eseidelGoogle commented on #9019
We could also fix this by moving non-HW GPUs to Software mode, like we did for iOS Simulators in https://github.com/flutter/flutter/issues/6135

See also https://github.com/flutter/flutter/issues/6822 and https://github.com/flutter/flutter/issues/6859 which also argue for software mode to be used on desktops.

[2017-03-27 19:12] eseidelGoogle commented on #9011
Looks the same as 9012, closing.

[2017-03-27 19:12] #9011 closed

[2017-03-27 19:12] eseidelGoogle commented on #9012
Speculatively placing in M3.

[2017-03-27 19:13] cbracken commented on #9012
In particular, this appears to be an attempt to call to `retain` an already-freed object.

Out of curiosity does this repro any better with VoiceOver enabled? (Settings > General > Accessibility)

[2017-03-27 19:13] eseidelGoogle commented on #8989
Sounds like this requires two changes.  One to intellij and one to the tool?

[2017-03-27 19:14] eseidelGoogle commented on #8990
This won't block apps from shipping, so probably M3?

[2017-03-27 19:16] eseidelGoogle commented on #8997
Presumably the clean-out is a change to our GN files.  Probably:
https://github.com/flutter/engine/blob/master/shell/platform/darwin/ios/BUILD.gn#L180

@chinmaygarde probably could tell us what the magic is.

[2017-03-27 19:16] cbracken commented on #7074
@yjbanov fixed now?

[2017-03-27 19:17] cbracken commented on #7075
@yjbanov fixed now?

[2017-03-27 19:18] eseidelGoogle commented on #8970
I'm not sure what to do with this bug?  Does it need an API Stability label?

Seems like a common-ish request to marking M3?

[2017-03-27 19:19] eseidelGoogle commented on #8947
Assigning to @tvolkert per above.

[2017-03-27 19:20] eseidelGoogle commented on #8929
I believe @jason-simmons is working on this.  Marking M2, this will block customers.

[2017-03-27 19:22] eseidelGoogle commented on #8848
We should probably move this (and all other Atom bugs) to the Atom repo as the Flutter team is no longer actively maintaining the Flutter Atom plugin and plans to delist it soon: https://github.com/dart-atom/atom-flutter

[2017-03-27 19:23] chinmaygarde commented on #6032
Is this still an issue? Not clear what needs to be done here.

[2017-03-27 19:25] eseidelGoogle commented on #8849
Certainly if we're crashing regularly on fuschia that's concerning.  But w/o more info I'm not sure what there is for us to do here.

[2017-03-27 19:26] eseidelGoogle commented on #8860
@goderbauer Do you plan this for M2?  My instincts say this is likely out of scope for that milestone? Unless we believe this to be a common setup.

[2017-03-27 19:28] Hixie opened #9023 "RepaintBoundaries should notice that they are next to each other"
It seems like we should remove one of the following boundaries, and that the logic should complain that one of them is redundant. Maybe if the parent is a RenderRepaintBoundary, then it should always diagnose as redundant?

[code]

[2017-03-27 19:38] cbracken opened #9024 "Cursor teardrop doesn't scroll with view"
## Steps to Reproduce

1. Open Flutter Gallery example.
1. Navigate to *Text fields* demo.
1. Enter some text in a field; e.g., Life story.
1. Tap in text to reposition the cursor. Teardrop appears below point.
1. Scroll the view. The teardrop remains floating at the same physical position, instead of scrolling with the view.

### Doctor
[code]

[2017-03-27 19:43] eseidelGoogle commented on #8863
@lukef let us know if you have trouble using https://flutter.io/platform-channels/ to do this yourself. Currently setting to M3, happy to pull into M2 if needed.

[2017-03-27 19:45] eseidelGoogle commented on #9024
Speculatively setting to M3 for now.  Could see arguing for M2.

[2017-03-27 19:46] eseidelGoogle commented on #8937
Not sure what to do with this.  I've definitely seen others find our logging confusing.

[2017-03-27 19:47] devoncarew commented on #8989
Added the IDE one here: https://github.com/flutter/flutter-intellij/issues/840.

[2017-03-27 19:50] eseidelGoogle commented on #8893
I'm not sure how to triage this bug.  I suspect getting Android Studio fixed in any short amount of time is not going to happen.

We can also launch avdmanager from the command line:
`~/Library/Android/sdk/tools/android avd`

Supposedly the fancy new AVD manager is built into Android Studio and can't be launched directly from the command line:
http://stackoverflow.com/questions/36739658/possible-t

[2017-03-27 19:51] goderbauer commented on #8860
This is out of scope for M2. Your classification sounds about right. Currently, I don't believe that this is a very common setup (but I am also lacking data to say for sure).

[2017-03-27 19:52] eseidelGoogle commented on #8818
I'm not sure how to prioritize this.  Speculatively placing in M3.

[2017-03-27 19:52] eseidelGoogle commented on #8795
Sounds like I should assign this to @Hixie

[2017-03-27 19:53] eseidelGoogle commented on #8725
@abarth is looking a a variety of input issues at the moment and may include this one.  Speculatively placing this in M2.

[2017-03-27 19:54] eseidelGoogle commented on #8633
@chinmaygarde would know who to talk to, or @pylaligand would.

[2017-03-27 19:54] eseidelGoogle commented on #8611
FYI @mit-mit

[2017-03-27 19:54] goderbauer commented on #8633
This is actually completed. Marking as closed.

[2017-03-27 19:54] #8633 closed

[2017-03-27 19:55] eseidelGoogle commented on #8610
We have a bunch of bugs now which could be resolved by supporting software backends on Android Emulators. :)

Another way to resolve this would be to bump our minimum required version, which I believe @chinmaygarde had a proposal to do?

[2017-03-27 19:56] eseidelGoogle commented on #8605
Odd.  @jakobr-google or @goderbauer might have thoughts.

Thanks for the report!

[2017-03-27 19:59] eseidelGoogle commented on #8813
Seems like there isn't much to do here?

[2017-03-27 20:00] goderbauer commented on #8605
Unfortunately, I've never seen this locally.

@rbishop-bah Do you still see this in the latest version of Flutter? Flutter has changed a bit since this was filed...

[2017-03-27 20:14] emesx opened #9026 "Add the possibility to assert an element is not present / not visible."
Currently I don't think it's possible to assert that something is **not** there / invisible in a "driver" test.

One could do

[code]

But this seems less than perfect and could mask other issues causing timeouts.

[2017-03-27 20:14] srawlins opened #9027 "flutter_tools: flutter_platform startTimeoutTimer has wrong annotation"
See https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/test/flutter_platform.dart#L203..L225

This is seen by Dart 1.23.0-dev.10.0's strong mode analysis, which has stricter function expression return type inference.

Line 255:

[code]

should be:

[code]

[2017-03-27 20:15] lukef opened #9028 "Highlight draws above Splash (which when opaque causes Splash to disappear)"
Re: InkWell (and everything that uses it).

If you use opaque (alpha = 255) colors or trigger multiple highlight events then the highlight layer will be rendered above the splash (or previous splash). I spoke briefly to @Hixie about it and the solution is probably to create a hierarchy or manager to ensure that the layers are always rendered in the correct order.

It is easy to test using this cod

[2017-03-27 20:29] eseidelGoogle commented on #9028
I feel like we've had reports of this before.  @Hixie is the same as when someone attempts to put a Container with a backgroundColor around a button and is surprised the splash no longer paints?

[2017-03-27 20:30] chinmaygarde commented on #8523
I converted the code in the sample to the equivalent Skia calls and added it to [this fiddle](https://fiddle.skia.org/c/c92d54a8a9cb214c694355d2144b61ce). This does not seem to be a Skia issue. Maybe the raster cache. Checking now.

[2017-03-27 20:34] chinmaygarde commented on #8523
@eseidelGoogle Did you try using a locally built engine on Mac or was this from the released engine?

[2017-03-27 20:45] a14n commented on #2025
Is the final plan to use `dartfmt` with trailing commas on flutter codebase?

[2017-03-27 20:51] xster commented on #8726
Some observations for non-modal page transitions:

**Native:**
- Android:
  - Bottom up transition
  - Ease out transition on the way in, ease in on the way out
  - App bar transitions too
  - Opacity animation
  - No noticeable elevation effect
- iOS:
  - Right left transition
  - Ease out both ways
  - App bar transitions with parallax
  - Opacity animation on app bar only
  - Elevation on the l

[2017-03-27 21:00] yjbanov commented on #7074
Yep.

[2017-03-27 21:00] #7074 closed

[2017-03-27 21:00] yjbanov commented on #7075
Yep.

[2017-03-27 21:00] #7075 closed

[2017-03-27 21:30] Hixie commented on #2025
No, that's not sufficient yet.

[2017-03-27 21:31] Hixie commented on #9028
@eseidelGoogle Related but different.

[2017-03-27 21:51] sethladd opened #9030 "30fps when opening and closing Animation Demo on Nexus 5"
With a `--release` build, multiple opening/closing's of the Animation Demo from the homescreen of the Gallery:

![screenshot_20170327-145002](https://cloud.githubusercontent.com/assets/5479/24379651/cd568496-12fc-11e7-9908-c8d9ef896604.png)

[code]

[2017-03-27 21:51] lukef opened #9031 "Ink widgets need tests"
This issue is a follow-up to #8693 but, in general, there are no tests for the Ink widgets.

[2017-03-27 21:53] lukef opened #9032 "Button highlight and splash color properties need tests"
This is a follow-up to #8643 to document that the highlight + splash color tests need to be completed.

[2017-03-27 22:01] Hixie commented on #6032
To see if it's still an issue, run the spinning_mixed demo and see if the spinner rotates.

[2017-03-27 22:07] #5134 closed

[2017-03-27 22:07] #5135 closed

[2017-03-27 22:07] #5139 closed

[2017-03-27 22:23] HansMuller opened #9033 "_TabBarState.dispose() needs a test"
A test is needed for the fix added here: https://github.com/flutter/flutter/pull/9015

[2017-03-27 22:33] yjbanov opened #9034 "flutter_gallery_ios__transition_perf benchmark runs out of memory on iOS"
## Steps to Reproduce

The `flutter_gallery_ios__transition_perf` benchmark is frequently running out of memory.

## Logs

[Sample devicelab log](https://flutter-dashboard.appspot.com/api/get-log?ownerKey=ahNzfmZsdXR0ZXItZGFzaGJvYXJkclgLEglDaGVja2xpc3QiOGZsdXR0ZXIvZmx1dHRlci8yMzk4MWY1OTk2NmU3MDc0YmYyYTc2MTkwYzYzYjUzMjUxYWNlNWFmDAsSBFRhc2sYgICAgICA8AoM)

/cc @chinmaygarde @cbracken

[2017-03-27 22:35] xster opened #9035 "Add description for why some dependencies are needed in doctor"
We're asking users to install more and more stuff. Some are more self evident like xcode. But why the user needs the six python module and cocoapods are a bit more obscure. We should probably explain why they're needed on the website or in doctor and what happens if they don't have them.

[2017-03-27 23:31] #9033 closed

[2017-03-27 23:49] eseidelGoogle commented on #8726
Maybe I'm just remembering wrong.  Even back in November we appear to be sliding up from the bottom:
https://youtu.be/Mx-AllVZ1VY?t=4m36s

[2017-03-27 23:54] #8969 closed

[2017-03-28 00:05] Hixie opened #9040 "Tapping a ballistically-scrolling list with competing gesture recognizers on iOS leaves it overscrolled"
Take a vertical list in a horizontal list on iOS (or tap "o" in hot reload on Android to fake iOS).
Overscroll the vertical list, then quickly release and tap the list.
The list pauses, overscrolled, and doesn't return until you jiggle it.

You can see this in the Tabs demo, for instance.

[2017-03-28 00:12] HansMuller commented on #5099
I don't think this is a bug, at least not as stated. Likewise for https://github.com/flutter/flutter/issues/1723 which seems to cover the same issue.

The scrolling examples in the material spec, https://material.io/guidelines/patterns/scrolling-techniques.html#scrolling-techniques-behavior, might imply that snapping should occur for big flexible pinned appbars. I have not been able to find an exa

[2017-03-28 00:33] kevmoo opened #9042 "Upgrade dart to 1.23.0-dev.10"
Now that this release is out, it will allow us to understand flutter usage via telemetry

CC @sethladd @pq @eseidel

[2017-03-28 00:36] Hixie commented on #9022
Can you elaborate on "lead to the Dart analyzer importing package:flutter_test in non-test code because the code uses Futures"?

[2017-03-28 00:37] Hixie commented on #9022
I don't understand why this would affect non-test code. Unless you import flutter_test, what flutter_test exports shouldn't affect you.

[2017-03-28 00:40] sethladd commented on #6758
Customer Lefty hit this.

[2017-03-28 00:42] sethladd commented on #8863
Customer Lefty also asked about this.

[2017-03-28 00:42] sethladd opened #9043 "Charting (charts) library for Flutter"
Tracking issue / placeholder.

[2017-03-28 00:42] sethladd commented on #9043
cc @mit-mit

[2017-03-28 00:44] sethladd commented on #8831
Customer Lefty has asked for this.

[2017-03-28 00:44] abarth commented on #8240
https://github.com/flutter/flutter/pull/9044 is the PR that update flutter_markdown.  Once that lands, we can integrate the table patch.

[2017-03-28 00:51] sethladd commented on #9042
Thanks! Also, this should let us try `@immutable` : https://github.com/flutter/flutter/issues/6892

[2017-03-28 00:51] sethladd commented on #6892
Blocked by https://github.com/flutter/flutter/issues/9042

[2017-03-28 00:52] gavindoughtie opened #9045 "Mechanism to detect when a SliverChildDelegate fetch can be cancelled"
The use case is a user rapidly scrolling up and down within a list of data being displayed via SliverChildDelegate.

The "build" method currently indicates the desired index and can be used to initiate a remote data fetch, but there's currently no hook for knowing that the data is no longer required (so fetches can be cancelled/debounced).

[2017-03-28 01:14] xster commented on #8410
One concrete example for a semi-complex case where we probably want the experience to be magical-ish without too much user selection is with page routes.

Currently the dependency is:
[code]
So the graph is
user's app
material [_MountainViewPageTransition, _CupertinoPageTransition]
widget

We'd need to clear up the dependency graph a bit. Starting from the graph down, we probably want:
user's app

[2017-03-28 01:21] xster commented on #8410
https://material.io/guidelines/patterns/navigational-transitions.html
Doesn't really say anything about any platform specific page transitions and basically says all parent->child transitions are hero transitions. If we take it literally, we still need to do something for #8726 since not every user wants to strictly adhere to Material design.

Which makes me lean more towards option 1 where the us

[2017-03-28 01:41] xster commented on #8726
It seems like the material.dialog.showDialog API is built with some mild assumptions about what the dialog should look like. Perhaps we need a more generic modal page route API by exposing modality intents on Material/PlatformPageRoute (see #8410) so that we can distinguish animation and back swipe behaviours on iOS.

So far, of the various options, I'm leaning towards:

1- Extract all the cuperti

[2017-03-28 02:04] abarth commented on #9045
I need to check the details, but I'm pretty sure we can give you the "live range" every time we touch the child list.  That will be the index of the first and last child that we need for the current scroll position.

[2017-03-28 02:05] rbishop-bah commented on #8605
I have seen it yes as late as last week.  Haven't used flutter in about five days so can't comment on the very latest.

[2017-03-28 03:47] #2591 closed

[2017-03-28 03:47] #3123 closed

[2017-03-28 03:47] #6166 closed

[2017-03-28 03:58] abarth commented on #8410
Material Design has a notion of adapting to the target platform.  That means it's conceptually fine for material.dart to take a dependency on cupertino.dart and for MaterialPageRoute to know about both _MountainViewPageTransition and _CupertinoPageTransition.

Another way to approach this thought experiment is to build a pure CupertinoPageRoute and then see what parts of its machinery MaterialPage

[2017-03-28 04:04] jtrunick commented on #9012
I tried turning on "Speech Selection" (wasn't sure what setting you were referring to), but that didn't seem to exacerbate the problem.

[2017-03-28 04:11] abarth commented on #8726
It's probably worth discussing in person, but here are a couple thoughts:

1) "Make the API Material/PlatformPageRoute(builder: bar, modal: true/false)"  We might have different ideas about what "modal" means in this context.  In our current terminology, page routes are always modal: `abstract class PageRoute<T> extends ModalRoute<T>`.

2) "the platform dynamic library"  It's unclear to me whether

[2017-03-28 07:31] xster commented on #8726
re 1, ah ok. I meant it in the sense of full page leaf navigation nodes in iOS like opening a webview for 2 factor etc where the page animates bottom up. In both 'modal' and non modal PageRoute transitions, we'd call the same API but we'd need some way to signal the distinction on iOS for right left and bottom up animations (and some app bar nuances etc).

For the rest, seems like there could be t

[2017-03-28 09:15] jakobr-google commented on #8986
Best I can tell, it's an issue with the Android build tools. They spawn a number of aapt processes to crunch our .png images during the build, and that may take up a fair chunk of memory. If our Windows boxes are resource constrained, that might explain this.

Link to Android issue: https://code.google.com/p/android/issues/detail?id=188627

Suggestion from there is to limit the number of png crunc

[2017-03-28 13:34] mit-mit commented on #8611
I think this whole page should be split into two flows based on the users IDE vs CLI preference.

[2017-03-28 13:58] mit-mit commented on #8991
@mravn-google can you also help with this one?

[2017-03-28 14:16] vlidholt opened #9050 "Sending empty string back from native code makes Flutter receive null"
## Steps to Reproduce

Calling back from native code (iOS or Android) using the string message channel with an empty string ("") makes Flutter receive null instead of an empty string, which would have been the expected outcome.

Example of callback in Java:
[code]

## Flutter Doctor

Paste the output of running `flutter doctor` here.
[code]

[2017-03-28 14:56] devoncarew commented on #8848
This issue was moved to dart-atom/atom-flutter#75

[2017-03-28 14:56] #8848 closed

[2017-03-28 15:15] HansMuller commented on #8410
Developers may want to control the mapping from generic components to potentially platform-specific ones.  In other words rather than providing generic components that just map from the platform to some platform-specific component (or transition or whatever), developers might prefer for control to flow through a look-and-feel theme that they can customize.  Maybe I'd like generic buttons to map to

[2017-03-28 15:24] sethladd commented on #7044
Another item:
If you want your app to adapt to the platform on which it is running, you can use Theme.of(context).platform in your build() function to decide whether to build a Switch or a CupertinoSwitch, for example.

[2017-03-28 16:10] mit-mit opened #9052 "Improve html/css for sidebar separator"
PR https://github.com/flutter/website/pull/465 introduced a separator in the flutter.io sidebar using a not pretty `br` hack. From PR discussion would be good to see if that can be done in CSS.

[2017-03-28 16:15] DaveShuckerow commented on #9022
Sure.  Suppose I have the following file in non-test code:

[code]

The Analyzer will detect that Future hasn't been imported yet and it will suggest a fix: `import 'package:flutter_test/flutter_test.dart';` as the default suggestion.  This import is not desirable for keeping test imports out of production code.

This is with the g3 build of the Dart SDK at version 1.23 and version 1.18 of the ana

[2017-03-28 16:36] johnmccutchan commented on #6689
Closing as stale.

[2017-03-28 16:36] #6689 closed

[2017-03-28 16:36] johnmccutchan commented on #6058
@tvolkert has switched these tests over to the memory filesystem. Closing as old.

[2017-03-28 16:36] #6058 closed

[2017-03-28 16:47] johnmccutchan commented on #7981
AFAIK this isn't a hot reload specific issue.

[2017-03-28 17:14] sethladd opened #9053 "iOS 10.3 is a thing. Ensuring we have bot coverage"
Tracking issue, but we might want to add 10.3 to our bots.

[2017-03-28 17:15] sethladd commented on #9053
Maybe we have it now?

cc @cbracken @yjbanov

[2017-03-28 17:20] sethladd commented on #8283
Confirmed that on a laptop, the left-nav scrolls off the screen. We want it to stay fixed.

[2017-03-28 17:33] cbracken commented on #8366
Landed!

[2017-03-28 17:33] #8366 closed

[2017-03-28 17:49] eseidelGoogle commented on #8523
@chinmaygarde i was using a released engine.

[2017-03-28 17:50] eseidelGoogle commented on #9026
FYI @yjbanov

[2017-03-28 18:00] #8955 closed

[2017-03-28 18:06] xster commented on #8410
@HansMuller that's always going to be true in any of the options. Users can always pick a specific route or transition. If there were dynamic wrappers, they're just a thin convenience layer.

[2017-03-28 18:10] #8722 closed

[2017-03-28 18:21] goderbauer commented on #8986
That's not the issue. I just watched a failing run execute. The amount of available memory never drops below 12GB and the memory graph doesn't show the spikes people are seeing in the bug. Furthermore, gradle crashes before any aapt instance is spawned.

[2017-03-28 18:27] cbracken commented on #9053
As of today, devicelab is still at Xcode 8.2.1 and iOS 10.2.1 but I think we should update this week. iOS 10.3 / Xcode 8.3 are verified to work fine with our toolchain and we should probably migrate the bots later this week.

We did have to make a bunch of engine fixes last month to ensure we were ready for iOS 10.3 working though, so I also filed #8697 (we should have a bot machine running the la

[2017-03-28 18:34] xster commented on #8410
Chatted offline. So conceptually, instead of making Cupertino and Material siblings with each meaning a full spec'ed design opinion and components for iOS and Android and having a common parent, we'll extract MountainView out of Material and make MountainView and Cupertino siblings. Those will be the basic OS components that have less value add if the developers remade them. Material will be the o

[2017-03-28 19:37] sethladd commented on #9050
cc @mit-mit

[2017-03-28 19:40] sethladd opened #9055 "We no longer need the strong_mode_invalid_field_override ignore"
Tracking issue. We can soon remove that ignore.

Soon is defined as "the next Dart roll into Flutter", I believe whatever is after 1.23.dev.10, but will need to confirm.

[2017-03-28 19:40] sethladd commented on #9055
@kasperl to confirm if this is part of https://github.com/flutter/flutter/pull/9051 ?

[2017-03-28 19:57] Hixie commented on #8717
FWIW we've seen a number of people just assume that saving will trigger hot reload. It might be worth just going down that route.

[2017-03-28 20:09] lukechurch commented on #8717
@Hixie I've seen this in a couple of the studies as well.

However, hot reload on save can be pretty problematic as well. A lot of developers have developed a habit of e.g. saving between switching tabs to avoid a raft of subtle problems (e.g. manually reloading and debugging a behaviour to only discover later that the code that was running was in a buffer but not saved).

Tieing hot-reload to sav

[2017-03-28 20:10] sethladd commented on #8283
Addressed by https://github.com/flutter/website/pull/481

[2017-03-28 20:12] apwilson opened #9056 "CircularProgressIndicator should reference AlwaysStoppedAnimation for valueColors that are unchanging."

[2017-03-28 20:18] sethladd commented on #8717
Why do they think saving is sufficient to trigger the reload? Do we ever say that? Or hint at it?

[2017-03-28 20:22] InMatrix commented on #8717
@sethladd for the last two participants, they both used tools to watch code changes for web development. Also, our wording on [Getting started]( https://flutter.io/getting-started/) about hot reload might be slighly misleading: "Hot reload reloads your app very quickly **after a change to your source code**, offering a best-in-class development cycle."

[2017-03-28 20:23] sethladd commented on #8717
Good catch! Easy to fix wording :)

(/me is surprised the web dev tools actually triggered a reload of the webpage, especially with complex frameworks like Angular... ?)

[2017-03-28 20:30] InMatrix commented on #8717
@hixie @lukechurch There are a few UI remedies, addition to what Luke has mentioned, we can try before going down the path of tying hot reload to file changes:

1. Make the hot reload button visually different when there are new changes to the code. After the reload is performed, the hot reload button will return to its "inactive" appearance.
2. Provide some affordance on the device/simulator for

[2017-03-28 20:56] xster commented on #7111
The share plugin is submitted in google3. I'd close this bug for now since the share specific part is done. It's just a matter of having a distribution mechanism with #7815 now.

[2017-03-28 20:56] #7111 closed

[2017-03-28 21:02] sethladd commented on #7111
Just for clarity, the plugin is also still available here: https://github.com/xster/flutter-plugin-share ?

cc @mit-mit something to add to your docs, as another example

[2017-03-28 21:11] xster commented on #7111
It is. I kept the code equivalent. Though I wouldn't quite call it a plugin since it's not 'unpluggable'. It's just the share logic hard coded into the 2 native codebases.

[2017-03-28 21:18] goderbauer commented on #8986
I tried all things suggested in the issue quoted by @jakobr-google:

* Disable Windows Defender
* set `cruncherProcesses 1`
* set `SLAVE_AAPT_TIMEOUT`

None of these are working (we are after all getting a slightly different error than the one quoted in the issue).

What seems to be working is to disable the cruncher altogether. I'm preparing a PR to do that when running on a Windows Bot. Since th

[2017-03-28 21:31] sethladd commented on #7111
No worries. Important part: yay more Flutter integrations! :)

[2017-03-28 21:46] eseidelGoogle commented on #9050
Is this a regression or just a quirk?  Doesn't matter hugely.  Marked M2 regardless for now.

[2017-03-28 21:49] eseidelGoogle commented on #9043
https://medium.com/dartlang/zero-to-one-with-flutter-43b13fd7b354 has a very basic example of the start of such a thing.

[2017-03-28 21:50] eseidelGoogle commented on #9027
Patches welcome? :D  @pq  might end up fixing this when he rolls us to dev.10 too.

[2017-03-28 21:50] eseidelGoogle commented on #9027
See https://github.com/flutter/flutter/pull/9051

[2017-03-28 21:51] eseidelGoogle commented on #8747
@HansMuller would know.

[2017-03-28 21:52] eseidelGoogle commented on #8639
I believe @jason-simmons did this?  Speculatively closing.

[2017-03-28 21:52] #8639 closed

[2017-03-28 21:53] #9042 closed

[2017-03-28 21:53] Hixie commented on #8717
FWIW in my dev environment I have hot reload hooked to the same keystroke as "save all and show analyzer errors", and it works reasonably well. When there's a syntax error, the hot reload just gets skipped, you don't end up in a bad state. I much more often end up in a bad state after doing something intentional, like changing a stateless widget to a stateful widget (which the framework can't hand

[2017-03-28 21:53] eseidelGoogle commented on #8697
We have tons more available capacity (if we simply request it) with our build.chromium.org infrastructure, but we also can create device_lab builders for this as well if necessary.

[2017-03-28 21:59] cbracken commented on #8697
I think it'd be useful to have devicelab as well as chromebot. We've run into a few issues that were only reproducible on physical devices.

[2017-03-28 22:04] eseidelGoogle commented on #9028
Let us know if this is critical and we can pull this in sooner, otherwise deferring to a later milestone for now.

[2017-03-28 22:08] eseidelGoogle commented on #8929
Adding Skia label for @chinmaygarde's tracking.

[2017-03-28 22:09] Hixie commented on #8831
@christian-lefty Can you confirm that this is a ship blocker for you?

[2017-03-28 22:09] srawlins commented on #9027
I don't have the flutter prereqs installed, so I can't run tests, and would not want to send a broken PR.

#9051 may have fixed this...

[2017-03-28 22:10] Hixie commented on #8612
@ajdewit1994 To make further progress could you let us know:

* Is your flutter clone when running as root in a different directory than the one when running as your main user, or are they the same directory?

* What is the full path to your project directory when running as non-root?

Thanks!

[2017-03-28 22:13] eseidelGoogle commented on #8541
I think we have a second bug asking for this from posse as well.

[2017-03-28 22:14] eseidelGoogle commented on #7460
@cbracken is working on re-writing our iOS input and may fix this.

[2017-03-28 22:17] Hixie commented on #8735
@mehmetf Can you clarify exactly what the request is here? If there was a little demo app that demonstrated the problem that would be ideal.

[2017-03-28 22:18] collinjackson commented on #8711
I don't think absolutely necessary for M2 since we aren't exactly sure what we're doing and there's nobody currently blocked on it. (But obviously stabilizing the plugin API sooner rather than later would be nice.)

Another idea is to notify a plugin when a method call handler is attached on the Dart side, which could be a cue for the native side to calling some methods.

[2017-03-28 22:19] yjbanov commented on #9053
If we're talking about the devicelab bots, we do not have the capability to _add_ more versions of Xcode to our bots. One reason is we don't have enough bots. The other reason is this would cause quite a bit of maintenance overhead.

However, we can _upgrade_ the _existing_ bots to the latest Xcode. Would that be a good enough fix for this issue?

[2017-03-28 22:21] lukechurch commented on #8717
@sethladd @InMatrix I asked one of the participants who thought that reload might happen on save.

They said that their instinct that it might came from using https://browsersync.io/ and https://github.com/bhauman/lein-figwheel

[2017-03-28 22:21] eseidelGoogle commented on #6779
@abarth is also looking at our Text Input APIs as we speak and likely will touch this some.

[2017-03-28 22:25] Hixie commented on #8342
This seems straight-forward; just put your widget above the others.

This seems straight-forward as well, it's just a matter of placing the containers in a column along with the text input.

This seems straight-forward as well; position the input or the column in a stack, or provide a ListView to scroll it, etc.

We could certainly provide a widget that does all this, but it seems to me it would b

[2017-03-28 22:29] apwilson opened #9062 "CircularProgressIndicator should have a strokeWidth parameter."

[2017-03-28 22:33] eseidelGoogle commented on #6229
@FaisalAbid let me know if you still want this or if I should find an owner on my team. :)

[2017-03-28 22:35] eseidelGoogle commented on #7665
Should this be closed?

[2017-03-28 22:36] eseidelGoogle commented on #8654
I believe that much of this was completed this week?  Should this be closed?

[2017-03-28 22:36] FaisalAbid commented on #6229
Hey! I got it working for the most part internally, will send PR soon after
some cleanup

On Tue, Mar 28, 2017, 6:33 PM Eric Seidel <notifications@github.com> wrote:

--

Sent from my phone

[2017-03-28 22:37] #8581 closed

[2017-03-28 22:52] LarkAscending commented on #8654
Waiting for 1 LGTM...

On Tue, Mar 28, 2017 at 3:36 PM, Eric Seidel <notifications@github.com>
wrote:

[2017-03-28 22:52] LarkAscending commented on #7665
https://github.com/flutter/website/pull/446

On Tue, Mar 28, 2017 at 3:35 PM, Eric Seidel <notifications@github.com>
wrote:

[2017-03-28 22:56] collinjackson commented on #7816
This seems to be working great with Flutter plugins published on GitHub, even if they have dependencies on Maven/CocoaPods. Tested with flutter/google_sign_in#22.

I don't think there's anything more to do on this for M2. Thanks @jakobr-google!

[2017-03-28 22:56] #7816 closed

[2017-03-28 23:00] abarth commented on #8654
@LarkAscending On which PR?

[2017-03-28 23:02] sethladd commented on #9053
I'd imagine we want a window where we support both 10.2.x and 10.3. Not sure how fast the majority of iOS users will upgrade to 10.3, so I'm not sure how long that window is. But I think for now, we need to test on both versions of the OS. Happy to work with you on a policy for how long we support multiple versions of iOS.

[2017-03-28 23:02] johnmccutchan commented on #8717
I don't think automatic reloading is a good idea. Mostly because it interferes with a developer making changes to multiple files and I worry it could lead to an impression that hot reload is a less buggy because we end up reloading at the *wrong* times.

Also, personal anecdote, I save my files all the time, even when I'm not happy with their contents.

[2017-03-28 23:06] sethladd commented on #8898
I'm a fan of "something rather than nothing" here, so don't feel like you need to go super deep or super wide for this initial article. If you're interested in taking a crack at this, consider something 1-2 pages, with general advice, justifications, and a few examples, with a tone of "but we're still learning here. discussion welcome!"

So, with that, if you're interested in writing a bit here to

[2017-03-28 23:07] sethladd commented on #8867
Assigning to @mit-mit to help drive this to completion.

[2017-03-28 23:09] sethladd commented on #6446
@Hixie do you remember what this was intended to help improve? Not sure how to help deliver sufficiency, given the title. Thanks for any background!

[2017-03-28 23:10] sethladd commented on #953
Done! :)

[2017-03-28 23:10] #953 closed

[2017-03-28 23:14] Hixie commented on #6446
I think this was just about having ANY screenshots on this page:
   https://flutter.io/widgets-intro/
...to orient the reader and show them various widgets.

[2017-03-28 23:14] LarkAscending commented on #8654
https://github.com/flutter/website/pull/446

[2017-03-28 23:15] sethladd commented on #6446
Ah, that we can do! :)

[2017-03-28 23:17] sethladd opened #9066 "Updated images for website homepage"
Tracking issue for updating the images on the homepage with new SVGs from @bkobash

[2017-03-28 23:20] Hixie opened #9067 "test/devfs_test.dart "has too many elements" error on Travis"
I just had Travis fail as follows on a patch that only affected devicelab:

[code]

cc @tvolkert

[2017-03-28 23:22] Hixie commented on #9022
That seems like a bug in the analyzer. It should suggest dart:async, not flutter_test.

We want to reexport Future because otherwise every test will require at least three imports and requiring two is already pretty bad.

[2017-03-28 23:54] tvolkert commented on #9067
/cc @pq

Looks like the test is flaky.  @johnmccutchan @danrubel anything jump out at you?  `devfs_test.dart` has proven to be quite troublesome lately.

Also related: #6058

[2017-03-29 00:08] pq commented on #9067
Aha!  Thanks for looping me in.  I saw a similar error (but failed to capture it). 👍

[2017-03-29 00:15] #8800 closed

[2017-03-29 01:32] mehmetf commented on #8735
@Hixie Charts team will provide a simple example to demonstrate this.

[2017-03-29 03:46] yjbanov opened #9072 "Our build times have become very long"
We had to increase the timeout of the `microbenchmarks` test. Speculatively, this seems to have coincided with the introduction of Gradle. Perhaps there's some incremental build feature we're not taking advantage of.

[code]

## Logs

[0b566b3](https://flutter-dashboard.appspot.com/api/get-log?ownerKey=ahNzfmZsdXR0ZXItZGFzaGJvYXJkclgLEglDaGVja2xpc3QiOGZsdXR0ZXIvZmx1dHRlci8wYjU2NmIzODUwY2E4MWRlNzdk

[2017-03-29 04:14] yjbanov commented on #5068
This is known to be working as of https://github.com/flutter/flutter/commit/bc8cc80b9f4c487021f4a3e3f7ea9e96f6afe833, although it's unclear at this point what actually fixed the flag value propagation.

[2017-03-29 04:14] #5068 closed

[2017-03-29 06:22] kasperl commented on #9055
This is not part of #9051 so we will have to wait for 1.23-dev.11.

[2017-03-29 07:41] mit-mit commented on #8988
@pq @stevemessick let me know if you would like to help with this! I'm a little full right now...

[2017-03-29 08:31] mit-mit commented on #7813
Closing, this was verified by the new google_sign_in work: https://github.com/flutter/flutter/issues/7816#issuecomment-289930437

[2017-03-29 08:31] #7813 closed

[2017-03-29 08:33] mit-mit commented on #7811
We believe this is done, but we could use more testing. Will see if we can get to that later.

[2017-03-29 11:20] hundeva opened #9075 "Add support for cross axis expansion"
From the documentation of `Expanded`:

[code]

Take this really simple example:

[code]

You can see that in the center of the list item, the red background is not expanded vertically, it is only centered, and there is a gap above and below it. This is working as expected, it looks like [this](http://imgur.com/a/bvgEF).

What I would like to achieve is very similar, only for the cross axis, instea

[2017-03-29 13:41] hundeva opened #9077 "Mention ScrollController.initialScrollOffset in ListView docs"
As I see, currently there is no way to set the initial position of a `ListView`. The only thing that may be similar to what I would like to achieve is, is to create a `ScrollController`, and invoke its `void jumpTo(double value)` method after populating the list, but this is not exactly straight forward. A simple example:

[code]

In this example, I would like the list to start at the 30th item, a

[2017-03-29 13:46] #7307 closed

[2017-03-29 14:33] HansMuller commented on #8747
It's a feature of the demo which is horizontally scrollable. That said, this might be a situation where the built in horizontal overscroll effects aren't desirable.

[2017-03-29 14:51] #8717 closed

[2017-03-29 16:13] Hixie commented on #9077
If you create your own ScrollController, you can provide an initialScrollOffset.

We should also expose the centerKey feature on CustomScrollView.

[2017-03-29 16:16] Hixie commented on #9075
in your scenario, "as much height as it can" would be infinite height, since there is no limit on height.

If you put a limit on the height (eg putting the row in a sized box) then you could use CrossAxisAlignment.stretch.

[2017-03-29 16:18] eseidelGoogle commented on #9022
FYI @danrubel re: analyzer comment above.

[2017-03-29 16:30] eseidelGoogle commented on #8697
Note that we also have on-device testing capacity via build.chromium.org (we'd have to do a bit more work to get it, but it's there).  Note that build.chromium.org does not offer device *diversity* or *performance testing*, but if we just need functional tests on any old device, b.c.o can help us with capacity.

Similarly there are other on-device correct-only testing setups such as firebase test

[2017-03-29 16:34] tvolkert opened #9078 ""Invalid WebSocket upgrade request" during flutter test"
https://github.com/flutter/flutter/blob/master/packages/flutter/test/widgets/init_state_test.dart

I saw the following flaky test failure:

[code]

[2017-03-29 16:34] tvolkert commented on #9078
@Hixie

[2017-03-29 16:39] danrubel commented on #9022
@Hixie based upon your last comment, is it that we should be suggesting different fixes in different situations?
* tests --> `package:flutter_test/flutter_test.dart`
* non-tests --> `dart:async`

[2017-03-29 16:41] abarth commented on #9022
I would expect Future to always cause `dart:async` to be imported.

[2017-03-29 16:52] danrubel commented on #9022
/cc @scheglov

[2017-03-29 16:54] sethladd commented on #8929
Once this lands, I'll be happy to go through the Gallery again to see if we can ship an update.

[2017-03-29 17:00] yjbanov commented on #6477
We are now getting the full timeline from iOS10/Xcode8 so it's not an issue for our own devicelab. It's still an issue in iOS9/Xcode7. Closing until someone asks for it.

[2017-03-29 17:00] #6477 closed

[2017-03-29 17:22] sethladd opened #9079 "Android O Preview Release support"
(Tracking issue for testing.)

Android O preview is out: https://developer.android.com/preview/index.html

We might want to start checking how Flutter behaves on Android O. Would it be sufficient to create a bot that runs the latest O sdk?

[2017-03-29 17:30] sethladd opened #9080 "Vertical glow looks like it doesn't have a curve, clipped by page selector"
In the gallery, inside Page Selector, if you drag towards the right, you'll see the glow appear:

![screenshot_20170329-102741](https://cloud.githubusercontent.com/assets/5479/24467750/99f46a7c-146a-11e7-8d8e-f0d7765de7df.png)

Two things I noticed:

* the glow looks like a rectangle, instead of a curve (go into the Photos app to see a vertical glow with a curve on the left side of the screen)

*

[2017-03-29 17:33] abarth commented on #9080
Duplicated of #8523

[2017-03-29 17:33] #9080 closed

[2017-03-29 17:37] eseidelGoogle opened #9082 "Write down how to create a dart package which depends on Flutter"
@lukef asked me this afternoon.

The easiest way I know of is to just `flutter create` and then delete the `ios` and `android` directories.

We should write this down in some doc or stack overflow?

[2017-03-29 17:37] sethladd opened #9083 "Shadows around FAB don't seem to match spec"
![screenshot_20170329-103324](https://cloud.githubusercontent.com/assets/5479/24468014/a240891c-146b-11e7-897d-527f9faf1a08.png)

See https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-shadows

Specifically "Floating action button (FAB)"

[2017-03-29 17:55] Sfshaza opened #9084 "Travis is slow when pushing commits to website"
My understanding from Seth is that Flutter pays Travis for parallel processing, but it doesn't seem to be used when pushing a commit to the website. It's sloooooow.

Can the site make use of parallel processing to speed it up?

[2017-03-29 17:59] eseidelGoogle commented on #9079
See similar discussion in https://github.com/flutter/flutter/issues/9053

[2017-03-29 18:03] tvolkert commented on #7102
One big reason to do this: an internal customer is reporting a hanging flutter_tools process that is likely caused by our use of `runSync()` (which blocks the isolate until the process completes).

[2017-03-29 18:03] hundeva commented on #9075
Yeah, I solved it something like that, my only problem with this is, basically I am setting a fixed height, which can work, but not the optimal way, at least for my use case. Thanks!

[2017-03-29 18:08] sethladd commented on #9084
There's a variety of things we can do. Agree that figuring out how to make a parallel website build is useful, and probably fairly straight forward.

We'll also want to profile the Travis website job, to see where the time is spent. For example, we spin up the analyzer quite a lot.

[2017-03-29 18:15] hundeva commented on #9077
I've missed that one. Although, I will have to know the height of the list items, but that should work, thanks!

[2017-03-29 18:16] sethladd commented on #8929
See also shadows around FAB: https://github.com/flutter/flutter/issues/9083

[2017-03-29 18:21] sethladd commented on #8589
I'm going to optimistically close this, because recent builds of the gallery seem to be on par (very subjective) with our previously published gallery.

[2017-03-29 18:21] #8589 closed

[2017-03-29 18:24] sethladd commented on #8217
Closing because I think there's no action to take here.

[2017-03-29 18:24] #8217 closed

[2017-03-29 18:25] sethladd commented on #3696
See also https://github.com/flutter/flutter/issues/9082

[2017-03-29 18:28] sethladd commented on #3696
The canonical answer is, to declare a dependency on Flutter, from a pub package, add this to your `pubspec.yaml`:

[code]

You must use `flutter packages get` instead of `pub get`, because Flutter needs to set the appropriate environment variables to map the `sdk: flutter` to a location.

To easily and quickly create a new pub package, use the [stagehand](http://stagehand.pub/) tool. Specifically:

[2017-03-29 18:31] sethladd commented on #9082
Documented here: https://github.com/flutter/flutter/issues/3696#issuecomment-290182067

And in this stack overflow answer: http://stackoverflow.com/questions/43101373/how-do-i-create-a-pub-package-that-works-with-flutter/43101394#43101394

I think we can close this, but please reopen if we need to do more.

[2017-03-29 18:31] #9082 closed

[2017-03-29 18:31] sethladd commented on #9082
cc @lukef

[2017-03-29 18:32] sethladd commented on #3696
Also asked and answered on Stack Overflow: http://stackoverflow.com/questions/43101373/how-do-i-create-a-pub-package-that-works-with-flutter/43101394#43101394

[2017-03-29 18:32] #3696 closed

[2017-03-29 18:35] cbracken opened #9085 "Significant project diffs after first iOS flutter build"
The first iOS build after `flutter create` results in fairly massive diffs in the Xcode project files, in particular to the CocoaPods integration. There are also a lot of CocoaPods-related files where I'm not clear on whether these should be under source control or not.

1. Can we update the templates to reduce the pod-related diffs on first build?
1. Does the `ios/.gitignore` (or other `.gitignor

[2017-03-29 18:35] cbracken commented on #9085
/cc @jakobr-google

[2017-03-29 18:38] sethladd commented on #8776
Closing because we haven't heard back, but happy to reopen when we learn more.

[2017-03-29 18:38] #8776 closed

[2017-03-29 19:22] alardizabal commented on #8776
Hi @sethladd sorry for not responding sooner. Ok to close the issue. I just ended up hiding the status bar as well based on the above.

[2017-03-29 19:49] HansMuller commented on #9083
Is this just more evidence of the existing shadow issue: https://github.com/flutter/flutter/issues/8929 ?
Note that the shadow below the appbar doesn't look right either.

[2017-03-29 19:52] sethladd commented on #9083
It's probably very related to #8929 , but I learned that https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-shadows spec's different values for resting states for various components. We can keep this issue open, because we'll need to ensure we optimize shadows for a variety of components.

[2017-03-29 19:53] eseidelGoogle commented on #7894
FYI @cbracken @yjbanov, not sure of the current status.

[2017-03-29 19:54] tvolkert commented on #7894
I think #2976 is still an issue

[2017-03-29 20:00] abarth commented on #8541
Progress.  Not quite fully working yet.
![screen shot 2017-03-29 at 12 59 13 pm](https://cloud.githubusercontent.com/assets/112007/24473882/ab6734aa-147f-11e7-93ac-34ad787b1da2.png)

[2017-03-29 20:18] yjbanov commented on #7894
Last time I tried our installation flow would get stuck. But we've been running things successfully in the devicelab on Macs, so probably that process should be solid now.

[2017-03-29 20:27] christian-lefty commented on #8831
@Hixie I believe so, (there might be ways to achieve the same things that I'm not aware of).

This would be to implement the hashtag lists and users lists in the following screenshot.
![screen shot 2017-03-29 at 10 14 27 pm](https://cloud.githubusercontent.com/assets/13681456/24474993/cf7c0c5e-14ce-11e7-8bd0-b6487f0844aa.png)

[2017-03-29 20:36] tvolkert commented on #7894
I got further than installation flow in #8095, but ran into #2976 (see https://github.com/flutter/flutter/issues/7894#issuecomment-279509879)

[2017-03-29 20:36] Hixie commented on #8831
Roger.

[2017-03-29 21:24] Hixie commented on #8876
I just caught this with `-v`. It doesn't give anything useful, unfortunately. The log ended with:
[code]

[2017-03-29 21:33] lorrainekan commented on #8735
@Hixie , here's an example go/flutter8735

[2017-03-29 21:35] eseidelGoogle commented on #9079
We will need to at least test on O for M2.  FYI @jason-simmons.

We don't necessarily need to set up new bots in the M2 timeframe however.

[2017-03-29 22:01] johnmccutchan commented on #8876
@Hixie is the app is still running/functional on the device? Based on the log it would appear:

1. We lost our connection to the service protocol.
2. We decide the app has exited.
3. We try and clean up DevFS
4. DevFS cleanup times out because the service protocol went down.

If the application is really running we should instrument the service protocol server and see if we can figure out why we d

[2017-03-29 22:40] cbracken commented on #9034
Looks like this is specifically related to our use of `--trace-startup` in the flutter driver test, which sets the VM's `--timeline_recorder` to write to an endless buffer rather than a ring buffer.

Without `--trace-startup`, we see allocated heap floating between 14-21MB in the gallery example. With `--trace-startup` I see heap hitting well over 250MB by the end of the test. Serialising the time

[2017-03-29 22:41] Hixie commented on #5865
I have begun using this in some places. So far the main sadness is that the analyzer doesn't seem to actually check the asserts (the compiler still does).

[2017-03-29 22:42] xster commented on #8726
It actually was a 'regression', just from earlier than I looked :)
#5690 from 09/16.

The underlaying bug #5678 is still right (#5678 is obsolete). Though the solution #5690 may have been a bit heavy handed. Right to left should still be the primary motion. Both native iOS apps like settings and material iOS apps like gmail uses it. We just need to keep the nuance of primary right to left with bot

[2017-03-29 23:20] eseidelGoogle commented on #9034
I think --trace-startup currently implies turning the tracing collector into "unlimited" mode instead of the default "ring buffer".  We could consider changing that, certainly to a limited-but-large-enough-for-testing size?

[2017-03-29 23:46] cbracken commented on #9034
Yep, it implies `--timeline_recorder=endless`. Endless seems right if we're unwilling to lose data. I suspect we're collecting a whole whack more data than we need right now. The two streams we collect right now are `Dart` and `Embedder`. Not sure what subset of the `Dart` events we're using, but if we can enable/disable what's buffered at a fine-grained level, that seems like the way to go.

[2017-03-29 23:46] cbracken commented on #9034
@johnmccutchan

[2017-03-30 00:04] yjbanov commented on #9034
It seems the solution is to flush the timeline data occasionally and reset the buffer. I don't think a ring buffer is acceptable for the purposes we're using the timeline for. Perhaps the VM services could have a streaming version of the timeline API, which delivers events in coarse-grained chunks?

[2017-03-30 00:59] yjbanov commented on #8815
This is fixed now.

[2017-03-30 00:59] #8815 closed

[2017-03-30 01:00] yjbanov commented on #7080
We've successfully figured it out. Next step is to implement it, which is out of scope of this project. Closing.

[2017-03-30 01:00] #7080 closed

[2017-03-30 01:22] Hixie commented on #9085
I really wish that there was basically no boilerplate code generated from flutter create, only code that you can (and typically would) modify. We get this right for `lib/main.dart` and `pubspec.yaml`...

[2017-03-30 01:39] yjbanov opened #9095 "microbenchmarks_ios regressed at 72effdd27"
microbenchmarks_ios regressed at 72effdd27. Android is not affected.

## Logs

iOS:

![microbenchmarks_ios regression](https://cloud.githubusercontent.com/assets/211513/24483721/e210a7dc-14ae-11e7-9ff9-6239d7600bc5.png)

Android:

![microbenchmarks_ios-regression-android-side](https://cloud.githubusercontent.com/assets/211513/24483725/e744bb58-14ae-11e7-9e53-5f7706249d57.png)

/cc @chinmaygarde @c

[2017-03-30 05:00] Hixie commented on #9022
I would expect the analyzer to suggest dart:async always, for Future. In general I don't think reexports should be suggested. I mean, it's like if you use `@protected`. Even though in general I would recommend importing that through flutter/foundation if you're using flutter, I don't see how the analyzer could possibly know that, and it should suggest the original source, meta/meta.