[2020-09-15 08:20] TanujChaniyari07 commented on #65830
@crtl Yup still the same error

[2020-09-15 08:20] balaji0852 commented on #65826
i can't pub get in android studio

[2020-09-15 08:21] ttencate commented on #65747
Thank you for posting the log, which pinpoints the issue: the Git repository uses Git LFS for large files, so you need to install that first. Otherwise the database that is packaged with the app will be checked out as a Git LFS pointer file, not a real SQLite database file, causing this crash (proper error handling is still TODO).

You can install Git LFS using the instructions at https://git-lfs.

[2020-09-15 08:33] hamdikahloun commented on #65826
Can you provide your `echo %PATH%` and `git --version` please

[2020-09-15 08:38] balaji0852 commented on #65826
echo path 'C:\windows\system32;C:\windows;C:\windows\System32\Wbem;C:\windows\System32\WindowsPowerShell\v1.0\;C:\windows\System32\OpenSSH\;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\Program Files\NVIDIA Corporation\NVIDIA NvDLISR;C:\Program Files\Git\cmd;C:\Program Files\Java\jdk-11.0.6;C:\src\flutter\bin;C:\Users\Balaji\AppData\Local\Microsoft\WindowsApps;C:\Users\Balaji\AppData\L

[2020-09-15 08:43] hmhdlsf commented on #65742
Hi @pedromassangocode
The latest stable version of Flutter is normal, already solve my problem.
I'm very curious which version or PR to solve this ! Can you provide a quote ?
Thank you

[2020-09-15 08:44] darshankawar commented on #65828
Hi @nishiyamaosamu,
Although I am able to replicate the issue, there's a similar issue open describing your case, which involves `google_maps_flutter` plugin instead of `webview_flutter`, [65361](https://github.com/flutter/flutter/issues/65361).
Please follow-up there for updates and any questions.
Closing this as duplicate. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-09-15 08:44] #65828 closed

[2020-09-15 08:45] hamdikahloun commented on #65826
Can you please uninstall jdk-11.0.6 , remove it from your path if it still exist ,reboot your machine and try again

[2020-09-15 08:46] pedromassangocode commented on #65788
Hi @tolotrasamuel
It seems you are asking for assistance. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on https://www.reddit.com/r/flutterhelp/

Please understand that GitHub issues is not for support on sending PRs into Flutter, you may get help by posting on https://discord.com/invite/N7Yshp4.

Closing, as this i

[2020-09-15 08:46] #65788 closed

[2020-09-15 08:47] balaji0852 commented on #65826
okay

[2020-09-15 08:49] markvideon commented on #60763
Seconded.

[2020-09-15 08:51] TahaTesser commented on #65804
Hi @tiagoantunes
I can reproduce it using using `flutter_google_maps` example but using the same packages works in a new project has no issues. Have you tried a new project too?

[run.log](https://github.com/flutter/flutter/files/5223654/run.log)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 08:53] mraleph commented on #55443
@bagintz tbh I don't know enough about Firebase App Distribution to say. If crashes stopped then we can let it rest for now - but please a file a bug with as much details as possible (e.g. crash details, etc), once they come back.

[2020-09-15 08:53] nishiyamaosamu commented on #65828
@darshankawar Thank you for guiding me.

[2020-09-15 08:54] hamdikahloun commented on #65826
@balaji0852 dont forget please to run and provide your  `flutter doctor -v` after rebooting .

[2020-09-15 09:01] TahaTesser commented on #65815
Hi @realadeel
Can you please provide  a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example) with example gif
Thank you

[2020-09-15 09:03] vanlooverenkoen opened #65834 "App Crashes when loading a list of images."
My app crashes after reaching 800mb+ or even 1200mb while loading a simple list of images

No stacktrace available.
Tested on iPhone 7 plus

code:
[code]
Flutter doctor:
[code]
With cache reset & cacheHeight & cacheWidth: => No pixelated images (what we want, but memory to high causing a crash)
![image](https://user-images.githubusercontent.com/21172855/93191290-a49fe300-f744-11ea-958a-e4acd75eb1d

[2020-09-15 09:03] florisdipt commented on #9984
Neither these solutions work for me, any way to override all the notifications handlers with a dummy class

[2020-09-15 09:09] santoshpro95 opened #65835 "Image_picker"
After select image from gallery it changes its name to something else, how to get original name from image.

[2020-09-15 09:10] TahaTesser commented on #65810
Hi @maupleke
This interesting , I notice space goes away if we provide more top margin or remove, I can only see it with value of 5 on top margin

**`margin: EdgeInsets.only(left: 10, right: 10, top: 0),`**
<img src="https://user-images.githubusercontent.com/48603081/93190433-ff473800-f760-11ea-9590-19dcf4087e97.png" width="400" height="800" />

**`margin: EdgeInsets.only(left: 10, right: 10, top:

[2020-09-15 09:13] hamdikahloun commented on #65830
Hi @TanujChaniyari07

Can you please :

1. run  `flutter update-packages`

2. remove everythink in `C:\Users\Tanuj Chaniyari\.gradle\caches\`

3. run `flutter run -v`

[2020-09-15 09:16] pedromassangocode commented on #65786
I was able to reproduce this on latest `beta` channel. I created a Flutter web app and loaded the Flutter gallery app into a iFrame tag on the `index.html` and then released it and loaded into Android (Chrome) and iOS (Safari) devices.

Published app link: https://keen-sinoussi-cb9f8e.netlify.app/

![gif](https://user-images.githubusercontent.com/67424416/93191425-67375780-f73c-11ea-8781-2f7e2fa47

[2020-09-15 09:17] mivoligo commented on #60922
@gspencergoog, I've just did `flutter upgrade` and the keyboard navigation works as it should. Many thanks for your work :heart_eyes:

[2020-09-15 09:18] asjqkkkk commented on #38474
Is there any plan to support this feature?

[2020-09-15 09:23] hemandroid commented on #65723
I haven't used any command. Just updated the Flutter SDK and ran the
existing projects and I'm facing this issue.
Like someone already told me to use flutter clean, flutter upgrade. But it
doesn't work and I has to add the characters package to my project.

On Tue, 15 Sep 2020 at 11:46, Pedro Massango <notifications@github.com>
wrote:

--
Regards,
<https://about.me/hemasaicharan?promo=email_sig&ut

[2020-09-15 09:23] valconetti commented on #64999
Hi @sceee,

It's correct that it doesn't work with PNG, it states that in [the documentation](https://pub.dev/documentation/image_picker/latest/image_picker/ImagePicker/getImage.html).

 The reason that you don't get the error message with the pic of Messi, is because it's in reality a JPEG when downloaded. You can check this by opening it [here](https://hexed.it/) after downloading it and checkin

[2020-09-15 09:27] TahaTesser commented on #65811
Hi @xu-baolin
I am unable to print `updateEditingValue`  using your code sample, does this require more than just your code sample?

[2020-09-15 09:28] Yedev commented on #65812
@darshankawar
maybe something wrong with my device:
M5 Note (mobile) • 10.10.11.14:9527 • android-arm64  • Android 7.0 (API 24)
![bug](https://user-images.githubusercontent.com/14163910/93192159-f01fb480-f777-11ea-8f45-2cf0de8841bb.png)
only text like variable  `testMd` cause this bug

[2020-09-15 09:28] TahaTesser commented on #65819
Hi @realadeel
Can you please provide your `flutter doctor -v` and `flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)
Thank you

[2020-09-15 09:31] darshankawar commented on #65813
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>log</summary>

[code]

</details>

[2020-09-15 09:34] darshankawar commented on #65820
Hi @shajedulislam,
There's not enough description / information in the issue. Please elaborate on the exact issue you are facing along with `flutter doctor -v` and minimal complete reproducible code sample and steps you took to see this issue.
Thanks

[2020-09-15 09:37] TahaTesser commented on #65835
Hi @santoshpro95
I see there's an open issue addressing the case you described. https://github.com/flutter/flutter/issues/64685
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-15 09:37] #65835 closed

[2020-09-15 09:43] alexisbg commented on #58979
If I debug a web app in Chrome from VSCode and I hold down Alt Gr key when a TextFormField has the focus, the following message is printed to the Debug Console:
[code]

[code]

[2020-09-15 09:52] patialvikas opened #65836 "Build failed with an exception - path_provider:createFullJarDebug"
What went wrong:
A problem was found with the configuration of task ':path_provider:createFullJarDebug'.

[2020-09-15 09:53] Dawnhan opened #65837 "MissingPluginException on iOS ,if I used method : [[FlutterViewController alloc]init],but it has no problem with method : [[FlutterViewController alloc]initWithEngine:]"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
3. ...

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>
MissingPluginException(No implementation found for method getTemporaryDirectory on channel plugins.flutter.io/path_provider)
MissingPluginException(No implementation found for method getDa

[2020-09-15 09:57] darshankawar commented on #65826
Hi @balaji0852,
Please see [this](https://stackoverflow.com/questions/19874546/createprocess-error-2-the-system-cannot-find-the-file-specified-android-studio) if it helps. It seems you have an issue which is not related to Flutter, but with your setup and configurations.

Please see https://flutter.dev/community for resources and asking questions like this.
You may also get some help if you post i

[2020-09-15 09:57] #65826 closed

[2020-09-15 09:58] TahaTesser commented on #65823
Hi @wenxiangjiang
Not sure if this is related to Flutter itself, as it's `LaunchScreen.storyboard` itself. Although I tried,  no issues with Step 4

![Simulator Screen Shot - iPhone 11 - 2020-09-15 at 15 25 53](https://user-images.githubusercontent.com/48603081/93196324-e1c99c80-f767-11ea-8f4a-b24f769c3b66.png)

Can you please compare step.4 with the native sample with `LaunchScreen.storyboard` .

[2020-09-15 09:58] asongkai opened #65838 "flutter: Warning database has been locked for 0:00:10.000000. Make sure you always use the transaction object for database operations during a transaction"
I stuck at this error for a month I cannot find any solution via google.
I build a chat app which need to work both online and offline, backend is NodeJS
Below code is send any message that still in pending to target devices

[code]

and below is a method to handle event from server:

[code]

in server I set

`setInterval(_worker, 1500, socket);`

to load check message and send to end devices

and

[2020-09-15 10:00] azbuky commented on #65725
@darshankawar are you testing on a retina MacBook?

I have tested the two text fields code sample on Ubuntu 20.04 with Chrome and Firefox and on Windows 10 latest with Chrome, Firefox, Edge and Edge based on Chromium. Also tested on a non retina MacBook Pro with latest macOS on Firefox, Chrome and Safari.

All tests on Windows and macOS were done on current dartpad version (Based on Flutter 1.21.0

[2020-09-15 10:01] TahaTesser commented on #65825
Hi @fightcoder
Looks like you're running an older stable
Can you please upgrade to the latest  `dev` and try again
`flutter channel dev`
`flutter upgrade --force`
`flutter doctor -v`

If the problem persists, Can you please provide your `flutter doctor -v` with the latest `stable` and `flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/min

[2020-09-15 10:04] PollyGlot commented on #52634
It would be nice to see some updates on this issue/proposal as I am also currently working with the task where I don't show an error text bellow the textField's

[2020-09-15 10:04] TahaTesser commented on #65829
Hi @niuhb
Can you please provide a complete reproducible minimal code sample with flutter module and native app code (if possible in a zip or GitHub repository)
Thank you

[2020-09-15 10:06] amanv8060 commented on #65836
Always include output of `flutter doctor -v` when you file issue about something like this

[2020-09-15 10:07] darshankawar commented on #65824
Hi @Sasikumar3595,
Please provide `flutter doctor -v`. The code sample you provide, does it have the sample with decoration or without decoration ? If possible, please provide code sample for both cases.
Thanks.

[2020-09-15 10:07] TanujChaniyari07 commented on #65830
@hamdikahloun
Ran this command ```flutter update-packages```

In .gradle folder I could not find caches, below is a screenshot of all the files present in .gradle
![image](https://user-images.githubusercontent.com/60723556/93197337-2144b880-f769-11ea-8dfd-4a99362e1769.png)

Here are the logs after running ```flutter run -v```
[code]

[2020-09-15 10:07] LukasP94 commented on #53490
![ezgif com-gif-maker](https://user-images.githubusercontent.com/66218871/93197501-01eb6280-f74c-11ea-84b2-0a377a78793a.gif)
 I have similar issue. context Manu is shown even I click flutter button

[2020-09-15 10:09] ofer026 commented on #65723
hey @hemandroid,
try to open a new project and see if you get this there.
If you don't have this problem on a new project, run on the project you are having errors on the following commands:
`flutter pub cache repair` and `flutter clean`

[2020-09-15 10:09] pedromassangocode commented on #65547
I noticed that we have a breaking change here.

Testing on iOS with Flutter 1.17.5, the text field does updates the position of the indicator automatically after clearing the text field but it does not while testing with Flutter 1.20.3.

### Testing with Flutter 1.17.5
![gif](https://user-images.githubusercontent.com/67424416/93195090-bc756800-f740-11ea-99e0-6bcc9a59b870.gif)

### Testing with Flu

[2020-09-15 10:09] amanv8060 commented on #65830
try 1. `flutter clean`
2. `flutter create .`
3.`flutter run -v`

[2020-09-15 10:10] TahaTesser commented on #65830
Hi @TanujChaniyari07
Please delete your Gradle cache [follow this](https://stackoverflow.com/a/39397287) and make sure you're using `classpath 'com.android.tools.build:gradle:3.5.0'` in your app->android->`build.gradle`

[2020-09-15 10:11] Bedroome opened #65839 "SliverList is there an error"
In the sliver_list.dart(104) ChildAfter(firstChild) in this code, is it wrong?
[code]
[code]

[2020-09-15 10:11] benPesso commented on #65763
Thank you both. I've read up on the `spreadRadius` property before opening the issue. However, since the `BoxShadow`  type is allowed in a `TextStyles`'s `shadow` property, one would expect a full implementation of it on the `Text` widget. (Even more so, considering most Flutter developers have a strong design background, where effects like **Outer Glow** are common practice.)

So either the featu

[2020-09-15 10:14] omar-f opened #65840 "CupertinoSwitch does not respect the 'On/Off Labels' iOS accessibility system setting"
## Steps to Reproduce
1. Run `flutter create bug`.
2. Update `main.dart` as follows:

[code]

3. Steps to reproduce
- Run the app on an iOS device or simulator
- Open the device settings
- Go to Accessibility -> Display & Text Size. Turn on 'On/Off labels'. (this is the settings path as of iOS 13)
- Return to the Flutter app

**Expected results:**
The switch should show on/off labels, like this:

[2020-09-15 10:15] TahaTesser commented on #65836
Hi @patialvikas
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-09-15 10:17] yrom commented on #61558
@dannyvalentesonos I've tried 1.20.3, but this issue still exists.

[2020-09-15 10:18] Sasikumar3595 commented on #65824
Hi @darshankawar ,

[✓] Flutter (Channel beta, 1.21.0-9.2.pre, on Mac OS X 10.15.3 19D76, locale en-US)
    • Flutter version 1.21.0-9.2.pre at /Users/SasikumarArumugam/Documents/flutter
    • Framework revision 81a45ec2e5 (3 weeks ago), 2020-08-27 14:14:33 -0700
    • Engine revision 20a9531835
    • Dart version 2.10.0 (build 2.10.0-7.3.beta)

[!] Android toolchain - develop for Android devices

[2020-09-15 10:19] G3niushacker commented on #30555
**Hey Guys! I've used this code in my existing project but its give me some errors**

1. json_serializable error in stories/ folder files where `part 'alarm_list.g.dart';`
2. resolving `build_runner` error

**The solution of these problems is:**

1. add following dependencies
  build_runner: <latest version>
  json_serializable: <latest version>
at

- dev_dependencies:
  build_runner: any
  json_s

[2020-09-15 10:21] knaeckeKami commented on #65810
Probably related:
https://github.com/flutter/flutter/issues/14288
https://github.com/flutter/flutter/issues/25009
https://github.com/flutter/flutter/issues/15035#issuecomment-370028740

[2020-09-15 10:22] darshankawar commented on #65837
Hi @Dawnhan,
Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue.
Thanks.

[2020-09-15 10:27] wenxiangjiang commented on #65823
Hi @TahaTesser

native is correct, here is a [sample](https://github.com/wenxiangjiang/flutter_apppp). When the app launch, it's correct as expected. But there will be an error before the first frame is loaded, as step.4

<details>

  <summary>Other Logs</summary>

[code]

</details>

[2020-09-15 10:36] darshankawar commented on #65840
Issue replicable on latest master. Tested on iphone 6s.

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 10:37] sarbagyastha opened #65841 "Network Security Configuration in Android is not honouring <base-config> and fatal crash when using IP addresses as <domain>"
## Steps to Reproduce
### A) Not honouring `<base-config>`
1. Update `network_security_config.xml` as
[code]
2. Set base URL with `http` scheme. _For instance http://10.0.2.2_
3. Run the app.

**Expected results:**
All the domains & IPs expect `example.com` & `dev.example.com` should be allowed to have `http` scheme.

**Actual results:**
`Insecure socket connections are disallowed by platform:` fo

[2020-09-15 10:38] aaron-chu opened #65842 "[Reopen][Bug] App Crashes after adopting Hybrid Composition"
This is a reopened issue for https://github.com/flutter/flutter/issues/63897, this issue is supposed to be solved in https://github.com/flutter/engine/pull/20842 but it doesn't.

## Steps to Reproduce
1. Change flutter version to 1.22.0-12.0.pre which is released to dev channel. `flutter version 1.22.0-12.0.pre`
1. Run the provided sample project https://github.com/aaron-chu/hybrid-compositon-cras

[2020-09-15 10:38] aaron-chu commented on #65842
@blasten Could you check this issue again?

[2020-09-15 10:39] sarbagyastha commented on #65841
/cc @mehmetf

[2020-09-15 10:41] Dawnhan commented on #65837
<details>
<summary>flutter doctor -v</summary>

ZCQFlutter % flutter doctor -v
[✓] Flutter (Channel stable, v1.17.5, on Mac OS X 10.15.3 19D76, locale
    zh-Hans-CN)
    • Flutter version 1.17.5 at /Users/zhenghan/flutter
    • Framework revision 8af6b2f038 (3 months ago), 2020-06-30 12:53:55 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[!] Android toolchain - develop for Andr

[2020-09-15 10:45] darshankawar commented on #65838
Hi @asongkai,
It seems you are not awaiting for transactions when you update / insert in the backend, or maybe doing all the transactions on the main UI thread, hence probably the very last transactions are getting blocked for more than 10 seconds and hence you are getting this warning.

Try to add await while you are updating or inserting the transactions from the db.

Also, Please see https://fl

[2020-09-15 10:45] #65838 closed

[2020-09-15 10:46] TanujChaniyari07 commented on #65830
Hey @TahaTesser
I tried to delete Gradle cache but windows is telling that it is in use whereas I have closed process and about the ```classpath 'com.android.tools.build:gradle:3.5.0``` where exactly should I put this link in my bulid.gradle
[code]

[2020-09-15 10:48] ankittiwarielsner commented on #65743
OK

[2020-09-15 10:49] phackwer commented on #59777
No news on this problem?

[2020-09-15 10:50] wjcwukong opened #65843 "'package:flutter/src/widgets/heroes.dart': Failed assertion: line 741 pos 12: 'navigator != null':"
### [demo.mov.zip](https://github.com/flutter/flutter/files/5259948/demo.mov.zip)

❯ flutter doctor -v
[✓] Flutter (Channel stable, 1.20.4, on Mac OS X 10.15.6 19G2021, locale zh-Hans-CN)
    • Flutter version 1.20.4 at /Users/****/flutter
    • Framework revision fba99f6cf9 (7 天前), 2020-09-14 15:32:52 -0700
    • Engine revision d1bc06f032
    • Dart version 2.9.2
    • Pub download mirror https:

[2020-09-15 10:52] pedromassangocode commented on #65782
Hi @rydmike
Can you please provide a minimal reproducible sample code? Your code does seems to reproduce but I got lost on what is the real issue here while reading the issue description. Can you also provide the expected vs actual results?

Thank you

[2020-09-15 10:54] xvrh commented on #65402
FYI a lot of users report the same error message in in https://github.com/flutter/flutter/issues/63800

[2020-09-15 10:55] hovanhung98hust commented on #58247
https://stackoverflow.com/questions/62154149/generate-signed-apk-fails-with-build-app-intermediates-flutter-profile-libs-jar

[2020-09-15 10:56] hamdikahloun commented on #65830
in C:\Flutter\i_am_poor\android\build.gradle

[code]

[2020-09-15 10:57] TahaTesser commented on #65834
Hi @vanlooverenkoen
Thanks for filing this issue, does this happen in debugging, profile, or release mode?
I just tried to reproduce on physical XR using your code sample but doesn't crash even after 800mb+ memory in debug mode.

<img width="1035" alt="Screenshot 2020-09-15 at 4 21 12 PM" src="https://user-images.githubusercontent.com/48603081/93202081-ba76cd80-f76f-11ea-8e40-d5313edb5c81.png">

I

[2020-09-15 11:00] TahaTesser commented on #65771
Hi @everythingok001
Please check https://github.com/flutter/flutter/issues/65718#issuecomment-692541879  and https://flutter.dev/docs/perf/app-size#reducing-app-size

Closing as duplicate of https://github.com/flutter/flutter/issues/65718

[2020-09-15 11:00] #65771 closed

[2020-09-15 11:02] SuTran commented on #65739
Hi @jonahwilliams @TahaTesser
As you noticed both above projects have `material_test_widget.dart` with same content. Should it have same behavior?

[2020-09-15 11:02] vanlooverenkoen commented on #65834
@TahaTesser we have the problem mainly on iOS but sometimes on Android as well.

In debug the app crashes the fastest after some time.
With release & profiling, we have similar results. The app does not crash as often as it does in debug.

We found that scrolling fast up and down causes the app to crash faster. We have this problem with Image.network & CachedNetworkImage that is why I think it is

[2020-09-15 11:04] vanlooverenkoen commented on #65834
I found someone with a similar issue and the app crashed almost immediately in debug for us:

https://github.com/violet-dev/mmmmmmmm

I created a new code snippet because this repo contains inappropriate images. (just so you know)

[2020-09-15 11:05] pedromassangocode commented on #65839
Hi @Bedroome
Not sure, is it causing any problem in your code?

Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample with actual vs expected results?
Thank you

[2020-09-15 11:06] franarolas commented on #54290
@DanTup I encountered this issue again, here are the details:

Intellij refactored the import of a package like that:
`import 'file:///C:/Users/F-Desktop/Documents/Projects/ACAT/acat_main/lib/pages/registration_page/forms/choose_user_type_form/choose_user_type_form.dart';`

It compiles but ends up in a white screen(Flutter Web).

`[√] Flutter (Channel beta, 1.21.0-9.2.pre, on Microsoft Windows [Ve

[2020-09-15 11:08] Bedroome commented on #65839
Not yet, but I see it here like an endless loop

[2020-09-15 11:08] pedromassangocode commented on #65843
Hi @wjcwukong
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-09-15 11:09] darshankawar commented on #33717
Issue replicable on latest master. While navigating from one tab to another, a redundant page overlaps the navigation.

[33717.mov.zip](https://github.com/flutter/flutter/files/5224438/33717.mov.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 11:13] pedromassangocode commented on #65841
Hi @sarbagyastha
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample and clear steps in how to reproduce this issue?
Thank you

[2020-09-15 11:14] TanujChaniyari07 commented on #65830
@hamdikahloun did everything still the same error

[2020-09-15 11:15] xlunzi opened #65844 "Image.network can't reload another url"
**Expected results:**  Image.network load a empty url with errorBuilder , than url be a right value , show new resources .

**Actual results:**  Image can show new image ,but the Image always show  errorBuilder .

![image](https://user-images.githubusercontent.com/15652909/93203261-adb1a400-f786-11ea-9182-72ee7a915ba3.png)

![image](https://user-images.githubusercontent.com/15652909/93203124-6aefc

[2020-09-15 11:15] amanv8060 commented on #65830
Tried flutter create . ?

On Tue, 15 Sep, 2020, 4:44 pm TanujChaniyari07, <notifications@github.com>
wrote:

[2020-09-15 11:15] bhanuka96 commented on #64169
same issue on release apk 😭

[2020-09-15 11:15] TahaTesser commented on #65842
Hi @aaron-chu
I can still reproduce the issue on the latest `master` and will reopen the original issue, next time, please comment on the original issue for better visibility
Closing as duplicate of https://github.com/flutter/flutter/issues/63897
Thank you

[2020-09-15 11:15] #65842 closed

[2020-09-15 11:17] bhanuka96 commented on #64169
@darshankawar do you have any solution?

[2020-09-15 11:18] TahaTesser commented on #63897
@blasten

Just closed a duplicate from @aaron-chu
It seems the issue still persists on the latest `master` channel  using https://github.com/aaron-chu/hybrid-compositon-crash-demo example code

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 11:18] Gautam-Goyal commented on #64324
Reopen it man!! I have seen similar problem out there on stacl overflow and github too ,but no one is able to suggest a solution.
If it is problem with many people then this is no issue with only personal code

[2020-09-15 11:18] bhanuka96 commented on #64169
I used  package_info: '>=0.4.3 <2.0.0'

[2020-09-15 11:20] TanujChaniyari07 commented on #65830
Yup still the same error

[2020-09-15 11:20] pedromassangocode commented on #65844
Hi @xlunzi
I see there's an open issue (https://github.com/flutter/flutter/issues/64752
) addressing the case you described.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-15 11:20] #65844 closed

[2020-09-15 11:21] rydmike commented on #65782
Hi Pedro @pedromassango, sure will do, and you are right the presentation of the issue could be clearer and the sample could explain it better as well. I will update both to do so. I'll drop you another tag when done, might not be until tomorrow.

Ultimately parts of this quality issue/topic is also a bit of a matter of taste/opinion, but since the ColorScheme based theming is supposed to make cre

[2020-09-15 11:24] bhanuka96 commented on #64169
full error

[code]

[2020-09-15 11:25] pedromassangocode commented on #65746
Hi @real1900
Are you able to reproduce the issue by running `flutter run --verbose`?

[2020-09-15 11:27] darshankawar commented on #34330
@knaeckeKami
I tried to replicate this using your code sample, but am unable to launch the app on iOS device. It gets stuck at:

[code]

Hence I am unable to replicate it to see if the issue is fixed or persists. Would you be able to confirm the same from your end if the issue still exists ?
Thanks.

[2020-09-15 11:28] markusaksli-nc commented on #65714
I'll close this issue for now as code assistance. If this topic crops up again I'll make sure the documentation improvement is suggested.

[2020-09-15 11:28] #65714 closed

[2020-09-15 11:28] perseus98 commented on #52458
### On Pub Get
`C:\flutter\flutter\bin\flutter.bat --no-color pub get
Running "flutter pub get" in demo...

Because image >=2.1.15 depends on meta ^1.2.0 and every version of flutter from sdk depends on meta 1.1.8, image >=2.1.15 is incompatible with flutter from sdk.
So, because demo depends on both flutter any from sdk and image ^2.1.15, version solving failed.
pub get failed (1; So, because dem

[2020-09-15 11:32] pedromassangocode commented on #65742
Hi @hmhdlsf
Happy to ear that.
I have not idea what PR fixed this bug. Can you confirm that this issue can be closed?
Thanks

[2020-09-15 11:33] netgfx commented on #65642
until I set up the repo this is a crash report when running the App on an iOS device.

[Runner  15-9-20, 2-26 PM.crash.zip](https://github.com/flutter/flutter/files/5224546/Runner.15-9-20.2-26.PM.crash.zip)

[2020-09-15 11:33] yosikal commented on #65714
Hi Markus, just to confirm that there is no misunderstanding here:  I opened this issue with a reproducible code that doesn't involve setState. This still doesn't work for me on Flutter 1.20.3.

[2020-09-15 11:33] Ddtarsariya opened #65845 "overscroll_indicator.dart': Failed assertion: line 478 pos 16: '_displacementTickerLastElapsed == null': is not true"
[code]

[2020-09-15 11:36] pedromassangocode commented on #65723
Hi @hemandroid
Thanks for the information, can you please share from what version did you upgraded?

[2020-09-15 11:37] nattyalem opened #65846 "The method '_subFromInteger' was called on null"
I/flutter ( 2455):  The following NoSuchMethodError was thrown building LoadTile(dirty, dependencies:
I/flutter ( 2455): [_InheritedProviderScope<int>, _InheritedProviderScope<String>, _InheritedProviderScope<bool>,
I/flutter ( 2455): _InheritedProviderScope<User>]):

This happends when i try to call Listview.builder and the itemBuilder is dependent on a List provided by a provider. And the list i

[2020-09-15 11:39] pedromassangocode commented on #65839
Hi @Bedroome
If it causes some unexpected behavior in your code please open an issue by filling the issue template.

Closing this as this does not seems to be an issue with Flutter.
Thank you

[2020-09-15 11:39] #65839 closed

[2020-09-15 11:43] maupleke commented on #65810
Closing as dupe from #14288

[2020-09-15 11:43] markusaksli-nc commented on #65714
Well yes, the issue is that you **need** to set state for your code to work. This is the case any time you want to change the state of a widget (modifying the properties). I don't see this code without setState in your original post or history. My point was that inputFormatters is better suited for formatting input.

[2020-09-15 11:45] TahaTesser commented on #65810
Hi @maupleke
Not sure about that, do you think this is related to color?

[2020-09-15 11:48] SalilThreeplus commented on #24434
I have added io.flutter.embedded_views_preview flag in info.plist. My application runs fine in debug mode on iOS but it gets stuck in release mode on splash screen after adding io.flutter.embedded_views_preview this flag.

[2020-09-15 11:50] acmsao opened #65847 "[tool_crash] FileSystemException: Cannot copy file to 'C:\Users\acm_s\Desktop\engenharia\app\teste2\teste\android\app\src\main\res\mipmap-mdpi\ic_launcher.png', OS Error: Acesso negado., errno = 5"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot copy file to 'C:\Users\acm_s\Desktop\engenharia\app\teste2\teste\android\app\src\main\res\mipmap-mdpi\ic_launcher.png', OS Error: Acesso negado.
, errno = 5
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2020-09-15 11:50] TahaTesser commented on #64324
@Gautam-Goyal
If you think this is a bug please file a new issue with the exact description of what happens, logs, and the output of `flutter doctor -v`. Instead of link
All system setups can be slightly different, so it's always better to open new issues and reference related issues.

[2020-09-15 11:50] darshankawar commented on #37390
I am unable to verify this issue on latest master. Tried the input sequence as suggested in original description, but don't see the text being input in the textfield. The screen becomes unresponsive and finally quits by itself. Unsure how to verify this if it still exists.

[37390.mp4.zip](https://github.com/flutter/flutter/files/5224639/37390.mp4.zip)
![37390](https://user-images.githubuserconten

[2020-09-15 11:52] TahaTesser commented on #65810
I would suggest keeping this open to track this bug until further confirmation since the reproducing case isn't exactly the same    as https://github.com/flutter/flutter/issues/14288

[2020-09-15 11:53] niuhb commented on #65829
my demo link. Thank you
https://github.com/niuhb/flutter_dmeo

[2020-09-15 11:53] xu-baolin commented on #65811
you should add log in function 'updateEditingValue'.

[2020-09-15 12:03] darshankawar commented on #37529
Issue replicable on latest master, going by @Flavsditz's code sample.

![37529](https://user-images.githubusercontent.com/67046386/93207990-7688c600-f779-11ea-9f7d-ee466a8d3fae.png)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 12:06] victorhez commented on #62170
Thank you @jonahwilliams. You really solved my issue

[2020-09-15 12:10] markusaksli-nc commented on #42629
Hi @dioig
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments a

[2020-09-15 12:10] #42629 closed

[2020-09-15 12:12] darshankawar commented on #38776
@cvolzke4 Can you confirm if this is still a valid issue ? If so, could you provide a minimal code sample that shows the issue ?
We don't have access to / know what `b/139847982` is, so not sure how to get reproducible steps from there, as you mentioned.
Thanks.

[2020-09-15 12:18] Colir commented on #56431
Just to highlight this topic :
iOS 13.7 on iphone 7 (real device) with mp4 video (network url)
=> video_player ^0.10.12+2 => black screen
=> video_player ^0.9.0 => work great (but show some semantic issue in Xcode)

[2020-09-15 12:20] donkizzy opened #65848 "[tool_crash] ArgumentError: Invalid argument(s)"
## Command
[code]

## Steps to Reproduce
1.  I think this happening because I deleted my old ios Bundle identifier because I wanted to create a new one

## Logs
ArgumentError: Invalid argument(s)
[code]
[code]

## Flutter Application Metadata
**Type**: null
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identi

[2020-09-15 12:20] pedromassangocode commented on #65846
Hi @nattyalem
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the commen

[2020-09-15 12:20] #65846 closed

[2020-09-15 12:22] pedromassangocode commented on #65845
Hi @Ddtarsariya
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-09-15 12:22] TahaTesser commented on #34330
Hi @knaeckeKami
Are you still experiencing this issue?

If yes, Can you please provide your `flutter doctor -v` with the latest `stable` and `flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example) since @darshankawar is unable to reproduce the issue using the existing code sample  from https://github.com/flutter/f

[2020-09-15 12:25] TahaTesser commented on #56431
Could everyone who still has this problem please file a new issue with the exact description of what happens, logs, and the output of `flutter doctor -v`.
All system setups can be slightly different, so it's always better to open new issues and reference related issues.

[2020-09-15 12:25] darshankawar commented on #39132
Issue replicable on latest master. the bottom bar icon colors change when coming back from home screen.

![39132](https://user-images.githubusercontent.com/67046386/93210080-a4bbd500-f77c-11ea-826e-55166369f435.png)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 12:26] markusaksli-nc commented on #44498
Reproducible on the latest master `1.22.0-10.0.pre.174`.
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>
<details>
 <summary>Minimal reproducible code sample</summary>

[code]
</details>

[2020-09-15 12:29] #64892 closed

[2020-09-15 12:31] bobmoff commented on #64069
I am trying to figure out a workaround but havent manage yet. Anyone with ideas ?

[2020-09-15 12:31] pedromassangocode commented on #65847
Duplicate of https://github.com/flutter/flutter/issues/61815

[2020-09-15 12:31] #65847 closed

[2020-09-15 12:37] sarbagyastha commented on #65841
@pedromassango I guess the information provided above should be enough as the issue not at my side, but at the engine itself.

[2020-09-15 12:40] Nobler opened #65849 "RaisedButton(actually RawMaterialButton) in PageView not behavior correct."
## Steps to Reproduce
I put RaisedButtons in PageView as item:
* if there is only one Button, its' highlightColor will be shown immediately when I click it.
* if there are several Buttons in PageView, every Button's highlightColor will be shown after some delay(may be 200ms?). If you click the Button quickly, you will never see the highlightColor and just the splashColor if it is not transparent.

[2020-09-15 12:47] gabcarneiro commented on #25107
What i meant by that is literally changing the request from https://mys3bucket.amazonaws.com to http://mys3bucket.amazonaws.com.
I could only do that becouse the s3 bucket i am using allows me to work with http or https requests.

For those using the package [cached_network_image](https://pub.dev/packages/cached_network_image), i made a gist with my solution https://gist.github.com/gabcarneiro/025

[2020-09-15 12:51] markusaksli-nc commented on #44055
Closing this issue since it is no longer relevant here.

@jiqimaogou if you can provide a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example) that demonstrates this on the latest version of flutter I can reopen it.

[2020-09-15 12:51] #44055 closed

[2020-09-15 12:53] praharshbhatt commented on #34329
Agreed. Same issue here. Network is fine.

[2020-09-15 12:53] markusaksli-nc commented on #44708
Closing this since it doesn't indicate an issue or missing feature in flutter.

[2020-09-15 12:53] #44708 closed

[2020-09-15 12:57] knaeckeKami commented on #34330
Hi,
I tried to run this code again on the latest stable.

Good news: The behavior described in this issue is gone! No weird glitches or crashes anymore.

But still, there is an issue: the view sometimes stays partially highlighted after clicking it (see screenshot). I don't know if that's the fault of Flutter, though.

Screenshot: https://imgur.com/a/w5PrJMi

I've updated the description on how to

[2020-09-15 12:57] pedromassangocode commented on #65849
Hi @Nobler
Can you please provide your `flutter doctor -v`?
Thank you

[2020-09-15 13:02] darshankawar commented on #39226
Hi @idraper,
Not sure if compiling and running Flutter web app requires `webdev` anymore, but I tried to replicate your code with latest Flutter web setup mentioned in the official [document](https://flutter.dev/docs/get-started/web) and see the textspan recognizer working correctly inside RichtText wraps, ie, I am able to see `print 1` and `print 2` printed in the console properly, as expected.

[2020-09-15 13:02] souryanair commented on #43620
Same issue here as well... since the issue, the charm of hot reload is fading

[2020-09-15 13:05] TahaTesser commented on #65739
@SuTran
Your `material_test_widget .dart` doesn't import `main.dart` https://github.com/SuTran/flutter_coverage/blob/master/lib/widgets/__test__/circle_container_widget_test.dart
so explained by https://github.com/flutter/flutter/issues/65739#issuecomment-692147814t, this is expected behavior

[2020-09-15 13:11] darshankawar commented on #65812
@Yedev please try on some other device / emulator and see if you get same error or not.

[2020-09-15 13:12] TheBiirb commented on #63246
@liyuqian Flow widget as well?

[2020-09-15 13:12] tiagoantunes commented on #65804
@TahaTesser I think in a new project you forgot the `google_maps_flutter: ^0.5.31`

[2020-09-15 13:14] dahmaular opened #65850 "EXCEPTION CAUGHT BY WIDGETS LIBRARY"
<details>
<summary>log</summary>

[code]

</details>

[2020-09-15 13:15] maupleke commented on #65810
@TahaTesser seems to be an kown issue affecting all controls: [You're drawing a series of rectangles adjacent to each other, on top of a different background color, but they don't quite line up with the physical pixel boundaries. This means we try to antialias the edges, and each one is painted on top of the background, so the background shows up in the antialiasing. This is working as intended; i

[2020-09-15 13:16] darshankawar commented on #65725
@azbuky no, I am not using retina MacBook.  Chrome version is `85.0.4183.102`.

[2020-09-15 13:17] niuhb commented on #65829
I run this sample  ,  find the same result
https://github.com/flutter/samples/tree/master/add_to_app/android_books

[2020-09-15 13:22] pedromassangocode commented on #65795
Related to https://github.com/flutter/flutter/issues/31637 and https://github.com/flutter/flutter/issues/52207

[2020-09-15 13:26] SteveAlexander commented on #57225
I'm seeing this also, same behaviour on a physical iPad, same log error. I can reproduce it by making a new app from `flutter create`, and adding either `sensors` or `path_provider` as a dependency. So, I'm guessing it might be related to dependencies that use pods.

[2020-09-15 13:27] aaron-chu commented on #65842
@TahaTesser Thanks for your reminder, I will comment on the original issue next time.

[2020-09-15 13:27] darshankawar commented on #65763
@benPesso fair point. I actually again looked at the example and tried one for myself and observed that I think the `spreadRadius` and `blurRadius` values are indeed being applied to the text, but not sure if that's the expected outcome.

<details>
<summary>code sample</summary>

[code]

</details>

`textColor` is yellow and `boxShadow` color is red which seem to take effect.

![65763](https://use

[2020-09-15 13:30] darshankawar commented on #65837
@Dawnhan thanks for the details. I see that you are on 1.17.5. Can you try to upgrade to latest stable and see if it works ?
Thanks.

[2020-09-15 13:30] LokiRathod opened #65851 "Refused to apply inline style because it violates the following Content Security Policy directive"
I was trying to Added the iFrame For DocuSign, But my getting the Below Error:

[code]

I tried so many thing, and below some code in **WebView** widget:

[code]

Please help me, if i am doing any thing wrong ?

[2020-09-15 13:35] TahaTesser commented on #65811
[code]

<details>
<summary>code sample</summary>

[code]

</details>
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 13:42] darshankawar commented on #65824
Hi @Sasikumar3595,
I tried both the cases using latest master on web and didn't notice any performance difference while scrolling back and forth.

[65824_dec.mov.zip](https://github.com/flutter/flutter/files/5225226/65824_dec.mov.zip)

[65824_wo_dec.mov.zip](https://github.com/flutter/flutter/files/5225227/65824_wo_dec.mov.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

C

[2020-09-15 13:47] pedromassangocode commented on #32537
Hi @0-php
Are you still facing this issue? If yes please provide your `flutter doctor -v` and minimal reproducible code sample.
Thank you

[2020-09-15 13:48] ztigunes commented on #53490
Don't put the flutter button on the map. For example, you can put the map and button in the column. Then you will see that there is no freeze. However, if there are multiple gesture events in the same area, webview also freezes. And this is happening in all ios versions above 13.0.

[2020-09-15 13:50] TahaTesser commented on #65823
Hi @wenxiangjiang
Thanks for the code sample, I can reproduce the issue

![ezgif com-resize](https://user-images.githubusercontent.com/48603081/93218898-60cecd00-f788-11ea-8879-407b15e36b0a.gif)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 13:53] allwinvinosh opened #65852 "Issue in interactive viewer zooming,when zoom a image in a container some portions of image didn't accessible."
**I have wrapped the interactive viewer by container.I zoom one particular position in a view port.I dint zoom and scroll the image**

[code]
**How can i solve this issue**

[2020-09-15 13:55] TahaTesser commented on #65829
Hi @niuhb
Thanks for the code sample, I can run it but not clear what do you mean "second time open". Do you mean the android app or module?  Also not clear what expected results are. I see the list position is the same even after flutter view the second time after closing

Thank you

[2020-09-15 13:56] pedromassangocode commented on #37313
Is this issue still relevant?

[2020-09-15 13:58] darshankawar commented on #65747
@ttencate thanks. It would be really helpful if you could provide a reproducible code sample that we can simply run in IDE. Probably clone the feature and code on which the input stops working that involves PageView, similar in the line of what you mentioned earlier:

[code]

[2020-09-15 13:59] darshankawar commented on #64169
@bhanuka96 since this is a closed issue, please consider opening a new one by providing all required details.
Thanks.

[2020-09-15 14:00] amanv8060 commented on #65763
[code]
 Does this give the desired glow effect ?

Yes i agree that BoxShadow should not be allowed .

Also @darshankawar spreadradius is not being applied just comment the line and you would see the same result

[2020-09-15 14:02] pedromassangocode commented on #65841
I don't think so. I'm part of the triage team and without knowing much about the engine I should be able to reproduce the issue from the steps provided by the author.

For example I'm not sure where to add `network_security_config.xml` in a Flutter project an where to do this:

Please provide your `flutter run --verbose` and a [minimal complete reproducible code sample](https://stackoverflow.com/h

[2020-09-15 14:02] rydmike commented on #65782
@pedromassangocode I updated the issue description to show the actual result and the expected result for both dark and light theme modes for the found ColorScheme resulting ThemeData gaps and inconsistencies.

The sample code was also updated to state actual Result and Expected result and if it is OK or FAILED for both light and dark theme modes.

The updated sample has the same URL as before and

[2020-09-15 14:08] ttencate commented on #65747
I will gladly do that, with the caveat that I cannot verify that it will actually reproduce the bug! I will try my best not to strip out any code that might be relevant.

The only thing I'm sure reproduces it is the version published on the Play Store, but as said, even that one works fine on the majority of devices. So maybe you can use the Play Store version to check whether it's reproducible on

[2020-09-15 14:14] Sasikumar3595 commented on #65824
Hi @darshankawar ,

As your attached video(65824_dec.mov.zip), scrolling not smooth when decoration applied. Please check the below video for scrolling(your video). The scrolling have a glitch due to the decoration.
[Scrolling Delay.mov.zip](https://github.com/flutter/flutter/files/5225398/Scrolling.Delay.mov.zip)

Thanks in advance.

[2020-09-15 14:15] TahaTesser commented on #41630
Tried to reproduce, scrolling does fine in both directions but as mentioned `Flutter's field and the browser's field get out of sync,`

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 14:16] bhanuka96 commented on #64169
@darshankawar okay I will do it.

it's working when I am installing like this
`flutter build apk --no-shrink`

Is it okay to build apk/appbundle for production level(publish to play store)?

[2020-09-15 14:19] dannyvalentesonos commented on #61558
I've verified it's fixed in 1.22. I think it only made it into 1.21 or 1.22.

[2020-09-15 14:20] TahaTesser commented on #34330
Hi @knaeckeKami
Yes, if the issue is different now, it's better to file a new issue for that
Thank you so much, given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-09-15 14:20] #34330 closed

[2020-09-15 14:22] ccadieux commented on #22193
Due to another issue with Flutter 1.20 and FFI bindings I had to pause our efforts on upgrading for now until package issues are resolved. Once resolved I'll see if I can provide something.

[2020-09-15 14:23] benPesso commented on #65763
@amanv8060 Sorry, maybe **Outer Glow** is not the right term to describe the effect. An outer glow can be achieved by having a zero offset. However, if you want to have something closer to an outer stroke (or an outer glow with a "thicker" center, you'd need the support of a `spread`...

(The only difference in this example is that `spread` was set to 50%.)

![spread_test](https://user-images.gith

[2020-09-15 14:24] Colir opened #65853 "Video_player displays black screen on iOS"
Hello.
I've black screen when launching video_player on iOS 13.7 on iphone 7 (real device) with mp4 video (network url).
Video is loading but can't be played (no sound also).

Hope i'm giving enought information.

Thank you

video_player: ^0.10.12+2

`[✓] Flutter (Channel stable, 1.20.3, on Mac OS X 10.15.6 19G73, locale fr-FR)
    • Flutter version 1.20.3 at /Users/Colir/Documents/Flutter/flutter

[2020-09-15 14:25] Colir commented on #56431
@TahaTesser Done https://github.com/flutter/flutter/issues/65853
I hope i put enought information.

Thank for your help

[2020-09-15 14:26] lukef commented on #37313
Yeah. No one replied or looked at it so I assume it is still relevant.

[2020-09-15 14:37] Ddtarsariya commented on #65845
[√] Flutter (Channel beta, 1.21.0-9.2.pre, on Microsoft Windows [Version 10.0.19041.508], locale en-IN)
    • Flutter version 1.21.0-9.2.pre at C:\Users\tarsa\AppData\Local\Android\flutter
    • Framework revision 81a45ec2e5 (3 weeks ago), 2020-08-27 14:14:33 -0700
    • Engine revision 20a9531835
    • Dart version 2.10.0 (build 2.10.0-7.3.beta)

[!] Android toolchain - develop for Android device

[2020-09-15 14:40] kw2019ltd commented on #51352
@valconetti it will work on andriod 9/8?

[2020-09-15 14:40] DanTup commented on #54290
@grouma I tried to reproduce the above on macOS and I also see a white screen (it works on iOS simulator), though it recorded a crash and generated the log below. I suspect it's the same issue.

I created a simple `flutter create` app then in `lib/main.dart` I just imported another file I created with an absolute path and `file://` scheme:

[code]

Then I ran it using the Chrome device (using VS C

[2020-09-15 14:42] Ddtarsariya commented on #65845
[√] Flutter (Channel beta, 1.21.0-9.2.pre, on Microsoft Windows [Version 10.0.19041.508], locale en-IN)
    • Flutter version 1.21.0-9.2.pre at C:\Users\tarsa\AppData\Local\Android\flutter
    • Framework revision 81a45ec2e5 (3 weeks ago), 2020-08-27 14:14:33 -0700
    • Engine revision 20a9531835
    • Dart version 2.10.0 (build 2.10.0-7.3.beta)

[!] Android toolchain - develop for Android device

[2020-09-15 14:42] soham1sawant commented on #29087
Facing same issue on VS Code version 1.49.0

[2020-09-15 14:43] AlexBacich commented on #22868
What if I have several widgets with the same key? Let's say list of two identical items and I want to make sure there are two items found.

[2020-09-15 14:45] TahaTesser commented on #65834
I can reproduce using this code sample, it immediately crashes, logs are bit different compared to `stable` and `master` channel

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>master channel logs</summary>

[code]

</details>

[stable run.log](https://github.com/flutter/flutter/files/5225694/stable.run.log)

<details>
<summary>flutter doctor -v</summary>

[code]

[2020-09-15 14:52] TahaTesser commented on #65834
I can reproduce using this code sample, it immediately crashes, logs are bit different compared to `stable` and `master` channel

<details>
<summary>master channel logs</summary>

[code]

</details>

[stable run.log](https://github.com/flutter/flutter/files/5225694/stable.run.log)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[

[2020-09-15 14:57] vanlooverenkoen commented on #65834
@TahaTesser we found the issue by putting some heads together.

[code]

The _getImage method will only use the size it realy needs. This is the same as picasso.fit. But this is missing in flutter and the implementation of cached_network_image is not covering all usecases. For now we will use our custom widget because we will release next week.

[2020-09-15 14:58] sceee commented on #64999
@valconetti thanks - as mentioned in the first post, I understood that is is only a logged exception, not actually causing harm. My only point was it might confuse people (as it did me in the first place).

Anyways, thanks!

[2020-09-15 15:04] ghowen opened #65854 "Update meta dependency in flutter and flutter_test"
I want to use the latest version 4.5.0 of the `xml` package in Flutter 1.20.3. When I add `xml: ^4.5.0
` to my `pubspec.yaml`, I get the error

[code]

The same is true for `flutter` instead of `flutter_test`. Is there a way that I can use the current version of `xml` or does the SDK need to update its dependency on `meta` which then will update its dependency of `xml`?

Thanks.

[2020-09-15 15:13] TahaTesser commented on #38194
![Simulator Screen Shot - iPad Air 2 - 2020-09-15 at 20 41 28](https://user-images.githubusercontent.com/48603081/93229259-076c9b00-f794-11ea-8b8c-1c32265ba0a2.png)

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 15:15] okamototomoyuki1988 commented on #32248
Flutter cannot be used as a web page until this bug is fixed.
I would appreciate it if you could correct it.

[2020-09-15 15:21] jonahwilliams commented on #64955
another one: https://cirrus-ci.com/task/5227624886697984

[2020-09-15 15:22] TahaTesser commented on #37086
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 15:23] jonahwilliams commented on #65854
The SDK is currently using the very latest version of meta `1.3.0-nullsafety.2 `. You did not include the version of flutter you are on, so it seems you must be on an older version/current stable. If you want to use a newer version of meta in the meantime you can use a pub dependency override: https://dart.dev/tools/pub/dependencies#dependency-overrides

[2020-09-15 15:23] #65854 closed

[2020-09-15 15:23] patniemeyer commented on #63644
I think there's a problem here on the iOS side - When the user cancels a transaction the client is still expected to call `finishTransaction` to clear it form the queue, however the transaction id is null at that point and it just fails.  This leads to serious problems, including apparently a failure to handle the "storekit flow" where the user is sent away to fix a payment problem.  In that case

[2020-09-15 15:27] goncalo-palma-3r opened #65855 "IFrameElement does not change `src` attribute"
When using an `IFrameElement`, there is no way of checking if the current URL has changed or not.

Methods that we have tried:

* Create a `Stream` that each 200ms checks the `IFrameElement` `src` attribute
* The same `Stream` tries to get the `IFrameElement` by id via the `document`, but the element is always null
[code]
* Using the `onLoad` attribute of the `IFrameElement`, however the `Event` d

[2020-09-15 15:28] yuensunn commented on #65012
Oh god you saved me hours of debugging. Thank you!

[2020-09-15 15:29] cv692001 commented on #22218
Hey @stereotype441 , Can I contribute in this 👍
Please redirect me to the file in which I have to do changes

[2020-09-15 15:41] cv692001 commented on #10893
Hey @sethladd , can you please help me to redirect where dartdocs are present . Actually I am new to programming 👍

[2020-09-15 15:44] TahaTesser commented on #36792
When changing default API 28 in a flutter module to API 22, it crashes with the following error

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 15:44] sarbagyastha commented on #65841
@pedromassangocode [Here the link to the repo with reproducible example ](https://github.com/sarbagyastha/network_config_app)

The configuration xml can be [found here](https://github.com/sarbagyastha/network_config_app/tree/master/android/app/src/main/res/xml).

Url can be set from [here](https://github.com/sarbagyastha/network_config_app/blob/1c5ef045d462628c2301e617c328f7c82d1ca8dd/lib/main.dar

[2020-09-15 15:46] richard457 commented on #10893
Dart website can help you a lot here dart.dev, dartpad.dev and you might
check flutter too!

On Tue, Sep 15, 2020, 5:43 PM cv692001 <notifications@github.com> wrote:

[2020-09-15 15:47] rlueders opened #65856 "[Google maps plugin] Lag on IOS when using a large number of polylines."
Loading a large number of polylines on IOS seems to run much slower than Android. For example see results of my testing below.   Notice that the Android lag increase roughly linearly (proportional to the number of polylines), while the IOS seems to increase exponentially.

IOS
-Loading 3000 polylines: ~14 seconds
-Loading 4000 polylines:  ~22 seconds
-Loading 8000 polylines: ~87 seconds

Android
-

[2020-09-15 15:48] TahaTesser commented on #39035
Hi @kingkhan7511
Please try this code sample, `setState()` has no render issues with `image_picker`

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 15:48] #39035 closed

[2020-09-15 15:49] DanTup commented on #29087
Please file an issue at https://github.com/Dart-Code/Dart-Code with concrete details of what you're doing and what you're seeing. It's difficult to track problems tagged onto the end of old/closed bugs. Thanks!

[2020-09-15 15:50] TahaTesser commented on #39218
Hi @suhaotian  @RemmoYu
Are you still experiencing this issue?

If yes, Can you please provide your `flutter doctor -v` with the latest `stable` and `flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)
Thank you

[2020-09-15 15:57] mehmetf commented on #65841
1. `<base-config>` is not being handled today.  That is an issue and we will fix it. For now, you can use https://developer.android.com/guide/topics/manifest/application-element#usesCleartextTraffic to set global policy.

2. Rejecting IP addresses was a deliberate decision. Android documentation does not ban IP addresses but does not explicitly permit them either. Android also has odd behavior whe

[2020-09-15 15:58] Ali-hd commented on #25107
Great thanks. I just applied this to all my links .replaceAll('https', 'http')

[2020-09-15 15:58] cv692001 commented on #45367
Hey @kf6gpe @mtcliatt @iapicca @AyushBherwani1998  , I will love to contribute to this :)
It is going to be my first Contribution so can you please help me out .

So, basically I have to change the datatype from bool to void or any other change you can suggest , it will be very nice of you :)

[2020-09-15 16:00] TahaTesser commented on #36057
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-15 16:01] justinmc commented on #52634
A [PR](https://github.com/flutter/flutter/pull/59766) was recently merged that introduces the [autovalidateMode](https://master-api.flutter.dev/flutter/widgets/FormField/autovalidateMode.html) property to form fields.  Would that solve the problem here?

[2020-09-15 16:03] okamototomoyuki1988 commented on #65777
Does this implementation fix the following bugs?
https://github.com/flutter/flutter/issues/32248
I'm in trouble because "Back" and "Forward" of the browser are not working.

[2020-09-15 16:05] StatTark opened #65858 "Did Google play not accept my update because of this package?"
I published the application on google play, but then I updated it. The only library I have added as new in this update is the flutter device_info library. Google Play did not accept the updates I posted. I don't understand why. Could it be from the device_info library. Are any permissions required when using the device_info library? The only information I get with the device_info library is the ph

[2020-09-15 16:13] real1900 commented on #65152
I am basically trying to add one straight polyline between two latlngs .

[2020-09-15 16:14] BasanthVerma commented on #65343
@ochmist which library was it?

[2020-09-15 16:14] real1900 commented on #65152
I have shared my code in my original question

[2020-09-15 16:22] iapicca commented on #45367
@cv692001
I believe the issue is about providing details in the documentation for the typedef [FocusOnKeyCallback](https://api.flutter.dev/flutter/widgets/FocusOnKeyCallback.html)
rather than apply changes to latter, maybe @TahaTesser can give you more details

[2020-09-15 16:23] hemandroid commented on #65723
I updated my SDK from 1.17 to 1.20.3. After this update, I'm facing this problem

[2020-09-15 16:30] ghowen commented on #65854
Thanks. I am on `1.20.3` stable on MacOS. I am just starting out with Flutter (porting an iOS Swift app). Is it advisable to not work on `stable` but on `beta` or `dev` during development?

[2020-09-15 16:33] jonahwilliams commented on #65854
I recommend using stable especially if you are new to Flutter. However, using stable means using a version of flutter that is older (and more tested!), which means it is not realistic for it to also have the most up to date versions of every library. These might not have even been published when it was released.

[2020-09-15 16:34] yjbanov commented on #65855
The reason `document.getElementById` isn't working is likely because the platform view that hosts the iframe is inside shadow DOM (see https://github.com/flutter/flutter/issues/50452). We plan to support platform views without shadow DOM. If you have an alternative way of finding the iframe element, then the `src` attribute should work.

[2020-09-15 16:37] csells opened #65862 "Flutter Gallery release for Windows"
We need a Windows release against the alpha bits for the Flutter Gallery: https://github.com/flutter/gallery/releases

[2020-09-15 16:38] csells opened #65863 "Photo Search sample update for Windows"
We need to ensure that the https://github.com/flutter/samples/tree/master/experimental/desktop_photo_search sample works well on Windows against the current alpha bits.

[2020-09-15 16:39] sarbagyastha commented on #65841
@mehmetf iOS has `NSAllowsLocalNetworking` to enable local IPs though. But how are we going to do the same in Android, if IP addresses are being rejected ?

Let's say I want to permit clear-text traffic only for selected local IPs but enforce https on all domain names. How can i achieve that ?

[2020-09-15 16:39] jk-hub commented on #65004
-----------------------------------------------------------------------
This is the custom dir path :
Future getDir() async {

  var folderName = 'Own_Camera_Demo';
  var subFolderName = 'Media';
  final path = Directory("storage/emulated/0/$folderName/$subFolderName");
  if ((await path.exists())) {
    print("exist");
  } else {
    print("not exist");
    await path.create(
      recursive: tru

[2020-09-15 16:39] csells opened #65864 "Update the desktop codelab for Windows"
The desktop code https://codelabs.developers.google.com/codelabs/flutter-github-graphql-client/#0 needs to be updated with Windows instructions and tests against the Windows alpha

[2020-09-15 16:41] csells opened #65865 "The Flokk app needs to be updated for Windows"
The Flokk sample app needs to be updated with a Windows release against the alpha bits: https://github.com/gskinnerTeam/Flokk/

[2020-09-15 16:42] csells opened #65866 "Enable Windows on the dev channel"
'flutter create' et al needs to work on the dev channel, too, and not just the master channel.

[2020-09-15 16:44] chunhtai commented on #65777
the back/forward button is working now if you use router widget at the latest master. See this example https://github.com/flutter/flutter/pull/63424

[2020-09-15 16:45] chunhtai commented on #32248
This issue should be fixed if you use Router widget, see https://github.com/flutter/flutter/pull/63424

[2020-09-15 16:48] ghowen commented on #65854
Thanks again. I will stay on stable for now.

Just so I get it:
- meta 1.2.2 was published on July 2, 2020
- Flutter 1.20.3 on on Sept. 9, 2020 (2 months later)
- But Flutter 1.20.3 is still on meta 1.1.18 which was published Oct 30, 2019 (almost 1 year ago)

Is that kind of a delay to be expected?

[2020-09-15 16:48] cv692001 commented on #45367
thanks @iapicca , for your response.

@TahaTesser can you please help me in this case , it will be very nice of you :)

[2020-09-15 16:55] mehmetf commented on #65841
We don't support that right now. If you need to be able to access certain IPs via clear-text, you need to disable this feature via `NSAllowsArbitraryLoads` and `usesCleartextTraffic`.

I can take it as a feature request to support a set of IPs but there's really no way to do this in a cross-platform way since Android does not have the equivalent of `NSAllowsLocalNetworking` and iOS doesn't have th

[2020-09-15 17:01] mehmetf commented on #65841
The real solution to this is to swap the dart:io network stack with the platform equivalents (NSUrl and friends on iOS, OkHttp or Cronet on Android).

[2020-09-15 17:03] russell-sf opened #65868 "Flutter golden tests render incorrectly"
## Steps to Reproduce

1. Create test project.
2. Make sure flutter_test is added to pubspec as dev_dependency.
2. Add the following test file in test directory...

test/bug_test.dart
[code]

Run flutter test --update-goldens test/bug_test.dart

**Expected results:**

The generated file should show the stack items centered on screen layered one on top of the other.

**Actual results:**

![bug_test

[2020-09-15 17:05] goashwin commented on #65625
maxLength is not enforcing on Android for us. We've tried dev and master channels both. Not able to figure out why. Works on iOS.

[2020-09-15 17:22] PixelToast commented on #22218
@cv692001
The relevant files for detecting the presence of plugins and printing the error message are:
`flutter/packages/flutter_tools/test/general.shard/intellij/intellij_test.dart`
`flutter/packages/flutter_tools/lib/src/android/android_studio_validator.dart`
`flutter/packages/flutter_tools/lib/src/intellij/intellij.dart`
`flutter/packages/flutter_tools/lib/src/doctor.dart`

[2020-09-15 17:22] cyanglaz commented on #53490
@ztigunes have you tried iOS 13.6 and above?

[2020-09-15 17:24] HansMuller commented on #22193
The no-response bot seems to have over-reacted :-).

[2020-09-15 17:26] Sameerkash commented on #4467
@Hixie  I would like to work on this, could you please give me some guidance?

[2020-09-15 17:27] ditman commented on #65788
@tolotrasamuel our tooling is not able to merge changes to multiple packages simultaneously, in order to contribute a change to google_maps_flutter that requires changes into google_maps_flutter_platform_interface, you'll need to have a PR to modify the platform_interface, get that merged and published, and then have another PR that modifies the plugin. (You can use this time to bump the minimal v

[2020-09-15 17:34] liyuqian commented on #63246
Yes, thanks. Added to the title.

[2020-09-15 17:40] kaigy1 commented on #61775
I am also getting this problem please fix it.

[2020-09-15 17:44] chunhtai commented on #65573
You can query that information manually from each formfield using https://api.flutter.dev/flutter/widgets/FormFieldState/isValid.html. Does this work for your use case?

[2020-09-15 17:52] #65657 closed

[2020-09-15 17:57] #387 closed

[2020-09-15 17:58] creativecreatorormaybenot opened #65872 "[pigeon] Pigeon generates analysis issues (unused local variable)"
## Bug

@gaaclarke Using `pigeon` v`1.5.0` on the `video_player` plugin generates code that has analysis issues.

I needed to remove the following block of code *manually*:

https://github.com/flutter/plugins/pull/3032/commits/a068b6d4f5cc0f96d91d83028e467fa13db2c16f

[code]

This is from the `setup` method of the **generated** test host.

## Generation

The `pigeons/messages.dart` that generates

[2020-09-15 18:01] moda20 commented on #9471
Thanks a lot, mate. This worked for me.

[2020-09-15 18:02] ditman commented on #65152
I'll take a look, this should work, but the example seems to be adding polylines after the fact, instead of adding them on the initial payload of the map. I'll make sure that works.

[2020-09-15 18:05] EliasDeuss commented on #61047
Looks like iOS 14 and iPadOS 14 will roll out tomorrow.

[2020-09-15 18:10] #60351 closed

[2020-09-15 18:13] dw2kim opened #65874 "Accessibility - Reduce Motion"
## Use case

## Proposal

[2020-09-15 18:19] cv692001 commented on #22218
@PixelToast Thanks for response can you please elaborate what to do it will be helpful for me :)

Actually I am new to open source contribution

[2020-09-15 18:20] jmagman commented on #62521
@justinmc Can this be closed as of #62741?
Let's never do this again...

[2020-09-15 18:28] #41721 closed

[2020-09-15 18:33] balvinderz commented on #46609
#64644  got merged. will work on the package_info web implementation now.

[2020-09-15 18:37] timsneath commented on #61047
Thanks @EliasDeuss. We've been preparing for this for a while, and now that we have a clear timeframe, we know what we need to spin up ahead of the iOS 14 rollout. Stay tuned for more in the next 24 hours.

[2020-09-15 18:37] amirh commented on #65446
It should work starting API 20, though unfortunately we do not have a test covering it on old APIs :sad @blasten can you confirm that you're not using software rendering?

[2020-09-15 18:37] jonahwilliams commented on #65874
Reduce motion and disable animations are not equivalent.

[2020-09-15 18:40] dw2kim commented on #65874
@jonahwilliams Thanks for clarifying! Is there any way to detect the Reduce Motion from the app? Or, is there a reason why `reduceMotion` is not exposed to MediaQueryData?

[2020-09-15 18:42] jmagman commented on #63893
Retitling as a documentation issue.

[2020-09-15 18:44] jmagman commented on #65872
@gaaclarke

[2020-09-15 18:45] kherld-hussein commented on #34564
closed

[2020-09-15 18:46] jmagman commented on #65848
@donkizzy Can you be more specific about what "I think this happening because I deleted my old ios Bundle identifier" means?  Looks like your pubspec?
[code]

[2020-09-15 18:48] jonahwilliams commented on #65874
reduce motion is exposed through the window's AccessibilityFeatures. We decided to stop putting _everything_ on media query after a point.

[2020-09-15 18:51] Ankur-Khandelwal commented on #65588
I don't have VS Code installed. And the setup would take some good amount of time. In Android Studio, its working fine on emulator, in other phones, just that its showing this error on Redmi Note 7 Pro, especially after upgrading it to Android 10.

[2020-09-15 18:52] dw2kim commented on #65874
@jonahwilliams I see. I think the `reduceMotion` is only flag that is missing in the media query for the Accessibility.

 Would it be okay to open PR just to expose this `reduceMotion` flag?
Or, is there a better way to access this flag from the App?

[2020-09-15 18:55] jmagman commented on #61047
We didn't have a proper standalone issue for prompting the "would like to find and connect to devices on your local network" popup when the dart observatory publishes, so added https://github.com/flutter/flutter/pull/65138 PR to the blocked list (already merged).  More investigation information in https://github.com/flutter/flutter/issues/63893.

Moved #63893 out of blockers since it's now trackin

[2020-09-15 18:56] jonahwilliams commented on #65874
I think @HansMuller had some idea on this. I believe we should make a new inherited widget that only exposes the accessibility features, and prefer those over the existing ones on media query.

[2020-09-15 18:58] jmagman commented on #65207
The tool already passes in a suggested port, and that's the first one that gets tried.  https://github.com/flutter/flutter/pull/49735

[2020-09-15 19:04] chunhtai commented on #65218
@kf6gpe and @Hixie I have marked as P0 as per @teisenbe suggestion. This seems to be a high risk issue that we should fix ASAP.

[2020-09-15 19:07] stuartmorgan opened #65879 "Validate snap containment in Linux build"
Based on a discussion today about the issues that have come in where Linux builds run from the snap are picking up things from outside the snap (which are tricky to debug), a suggestion was to see if we can actually validate at build time. Something like:
- In CMake, detect whether it's being built in the snap.
- If so, check all of the include paths and library paths to see if they are in the sna

[2020-09-15 19:25] CaseyHillers commented on #65119
Infra team gave LGTM today.

@Hixie @cbracken @zanderso

Do you have any thoughts on this build dashboard update? Here's a [demo link](https://testchillers-dot-flutter-dashboard.appspot.com/#/build).

This is a part of the Devicelab to LUCI migration to reduce the context switching needed between the Flutter Build Dashboard and MILO dashboards. The reason for the change in the build dashboard inst

[2020-09-15 19:30] ChrisMukasa commented on #18564
`Padding​(
  padding​:​ ​EdgeInsets​.​only​(bottom​:​ ​MediaQuery​.​of​(context).viewInsets.bottom),
  child​:​ ​TextField​()
)`

[code]

[2020-09-15 19:33] pcsosinski opened #65881 "Android Scenario builder showing infra failure"
P1 as this is potentially blocking a beta release of 1.22, which is needed for the iOS announcement

PR: https://github.com/flutter/engine/pull/21188

failure: https://ci.chromium.org/p/flutter/builders/try/Linux%20Android%20Scenarios/1156?

/cc @godofredoc @christopherfujino

[2020-09-15 19:44] devoncarew commented on #61361
fixed by https://github.com/flutter/flutter/pull/65508

[2020-09-15 19:44] #61361 closed

[2020-09-15 19:44] justinmc commented on #62521
I think we should totally remove `iOSVersionStyle` altogether, and close this issue once that is done.  There was some discussion about this [here](https://github.com/flutter/flutter/pull/60179#discussion_r451689446).

@ctrysbita Are you available to open another PR removing `iOSVersionStyle` and the enum?  iOS14 is being released tomorrow, so it's probably time to start doing that.

[2020-09-15 19:44] dnfield commented on #51046
@vanlooverenkoen - there were several suggestions in this issue for how to deal with this sort of problem. If you're having a different issue, you could consider filing a new bug for it with a reproduction. Feel free to tag me.

[2020-09-15 19:46] vanlooverenkoen commented on #51046
@dnfield I already did. https://github.com/flutter/flutter/issues/65834

[2020-09-15 19:46] erf opened #65882 "[in_app_purchase] queryPastPurchases fails when calling before runApp"
## Steps to Reproduce

I have some problem's with the `in_app_purchase` (version ^0.3.4+8) plugin, where it seem `InAppPurchaseConnection.instance.queryProductDetails` does not finish if i call it before `runApp` in `main`. If i call it inside the main widget's `initState` it seem to work fine.

In my app i used `GetIt.I.registerSingleton(AppState())` where in the `AppState` constructor i initiali

[2020-09-15 19:47] brianosman commented on #38753
We have fixed this in Skia: https://skia.googlesource.com/skia/+/560ae27890385ecd2d2dbd2e504a7054e5b17b32, it should be rolling into Flutter eventually.

[2020-09-15 19:53] dnfield commented on #65834
@vanlooverenkoen - the images you are loading are fairly high resolution. Assuming you're actually showing multiple of them on the screen at once, you should probably be using `cacheWidth`/`cacheHeight` parameters on the `Image` widget(s).

There's a debug setting that can help you automaticaly detect this - when running from the Flutter CLI, you can press `I` (uppercase i), or you can set `debugI

[2020-09-15 19:53] EliasDeuss opened #65885 "Timer.periodic not using the Duration time"
## Steps to Reproduce

[code]

updateuserActiveMinutes:

[code]

**Expected results:**
Should run print only once every minute.

**Actual results:**
Seems to run at random intervals. This changes on almost every flutter run. Some times its spot on one minute some times its every few seconds or so.

[code]

**Flutter doctor**
[code]

[2020-09-15 19:56] vanlooverenkoen commented on #65834
I think it shouldn't matter what size of image is returned from the api. The app should be able to handle every image without crashing. If you receive an image of 4000x5000 pixels and you want to place them in a container of 400x500 the app should be able to handle this.

Right now we are having a lot of crashes because othe device goes out of memory.

[2020-09-15 19:57] mgalgs commented on #29976
Might be able to use the functionality that landed in https://github.com/flutter/plugins/pull/1200 ?

[2020-09-15 19:58] #65464 closed

[2020-09-15 20:02] #65401 closed

[2020-09-15 20:09] nikpozdnyakov opened #65886 "didExceedMaxLines in TextPainter works wrong with latest web version"
I use the "auto_size_text" library on the web platform and it doesn't work correctly (everything is fine on the mobile platform).
I decided to find out what the problem is, and I realized that didExceedMaxLines always returns false, and because of this does not work out the condition in the library
![image](https://user-images.githubusercontent.com/66692704/93259294-4efd2200-f7a8-11ea-8f51-ac723a6

[2020-09-15 20:17] EliasDeuss commented on #65885
I was able to make a work around but it looks like it only effects Android.

[2020-09-15 20:23] blasten commented on #63897
@aaron-chu I realized there was a bug in my previous patch. It should be fixed by https://github.com/flutter/engine/pull/21191

[2020-09-15 20:29] stuartmorgan commented on #65865
We're aiming to upgrade to an official Flutter version soon to make this easier.

This is three months old; it'll need to be updated to work on a current master before there can be a Windows build.

[2020-09-15 20:32] #65106 closed

[2020-09-15 20:32] jonahwilliams commented on #52437
As of the latest dev release this no longer appears to be happening. Closing as fixed

[2020-09-15 20:32] #52437 closed

[2020-09-15 20:39] goderbauer commented on #65776
In a discussion with @mdebbar, @yjbanov, and @chunhtai we decided to punt on #65777. We believe that if users really need to restore state, they can do so manually for now by adding stuff to the history entry (just like you can do in other web frameworks or native web as well, so this is not a regression in Flutter). If we receive feedback that people would like to see this done by the state resto

[2020-09-15 20:47] blasten commented on #65446
I confirmed that the emulator is using hardware rendering, and that the engine is instantiating `AndroidContextGL`.  I'm unsure if this issue is affecting the emulator only or devices running API level 21/20.

[2020-09-15 20:49] godofredoc opened #65887 "Add a devicelab recipe to trigger hostonly tests"
Hostonly devicelab tests are very flaky and they were not intended to run with the framework test runner. We need to create a new recipe that receives a task_name and generates a pass fail signal.

[2020-09-15 20:50] princestha commented on #44072
Hi @Kastrcn I saw that you solved the big package size by changing the channel and running the build ios --release. But somehow that is still getting me 400 MB. Do you have any suggestions for me? Thank you

[2020-09-15 20:51] csells commented on #65865
Correct. I'm working with gskinner now to make this happen.

[2020-09-15 20:51] princestha commented on #44072
Hi @Kastrcn I saw that you solved the big package size by changing the channel and running the build ios --release. But somehow that is still getting me 400 MB. Do you have any suggestions for me? Thank you

[2020-09-15 20:51] dnfield commented on #65834
The app _can_ handle it, but you have to explicitly tell the framework what size to decode the image at. If you don't, it will try to decode it at its full native resolution.

If you are getting pixelated images, you are choosing too small a value for the cacheWidth/cacheHeight - you should choose a more appropriate size (it should be as close as possible to the actual display size without going u

[2020-09-15 20:54] cbracken commented on #60025
Fixed in https://github.com/flutter/engine/pull/21193.

[2020-09-15 20:55] godofredoc opened #65888 "Calculate the path to gems file directly from the generated folder"
The gems bundler is adding a the ruby version in the path and it may be different depending on the test bed it is running. We need to get the values to add to the path and GEM_HOME env directly from the generated folder instead of hardcoding the path to a given version of ruby.

[2020-09-15 20:55] vanlooverenkoen commented on #65834
Hmm alright. So when I use a container of 150x150 the cacheHeight & cacheWidth should not be 150x150 by default?

I was not able to test that. I will do that tomorrow first thing

[2020-09-15 20:55] feinstein opened #65890 "Overlay docs should be improved to differentiate from Stack"
The `Overlay` docs mention a relation with `Stack` but it doesn't explain or make clear the differences between them.

It would be useful to also have an explanation on when to use each one of them and why.

[2020-09-15 20:55] godofredoc commented on #65888
\cc @christopherfujino

[2020-09-15 21:08] zanderso commented on #65119
Overall I think it looks good. At first glance, the arrows in a circle gave me the impression that those are tasks that are running instead of finished tasks that had to be retried. Maybe some sort of warning sign like an exclamation point would be better there? Does MILO have an idiom for passed-on-retry?

[2020-09-15 21:09] zanderso commented on #52437
Hooray!

[2020-09-15 21:10] #63897 closed

[2020-09-15 21:20] jonahwilliams commented on #58534
This should be fixed by https://github.com/flutter/flutter/commit/08e3ed9e2d61f410233316a89044ca7cd5a688bb

[2020-09-15 21:20] #58534 closed

[2020-09-15 21:22] pcsosinski commented on #64466
@blasten is this on you radar?

[2020-09-15 21:24] xster commented on #65207
Ah cool, it even does `--disable-service-auth-codes`. I'm not sure it works since I always see an auth path in the observatory URI in the console. If it does, maybe we just need another flag to disable the new xcode_backend.sh function in flutter run. If the design of https://github.com/flutter/flutter/pull/49735 is sound, maybe there's just a bug?

the --vmservice-out-file doesn't seem to make se

[2020-09-15 21:25] blasten commented on #64466
@godofredoc we could just disable this test. It added some value last year, but not anymore.

[2020-09-15 21:27] xster commented on #61558
Correct. You can see the release tags in https://github.com/flutter/flutter/commit/f06ee8dd8d3aa06e89db64cfa862382b286a5fed.

[2020-09-15 21:36] yjbanov commented on #65616
The text is also pushed to the bottom. I'm wondering if there's an issue with text layout not reporting correct baseline or losing style information. /cc @mdebbar

[2020-09-15 21:36] xster commented on #60657
The solution will be rolled out in Flutter 1.20.4 stable and 1.22 beta tomorrow. Closing.

[2020-09-15 21:37] PixelToast commented on #65885
Tested on a physical device:

[code]

Judging by your logs it looks like there are actually 2 timers running at once, notice how the first is exactly 1 minute before the third, and the second is exactly 1 minute before the fourth.

[2020-09-15 21:44] shaxxx commented on #64958
This issue is a great news. Any kind of support, even minimal, for calling .NET libraries from Flutter would be highly benifical.

Pardon my ignorance, but why would this be limited only for windows since .NET Core is cross platform? Is it because different binary formats between .net libs on windows and linux? Is this matter of "apples and bananas" or more like "if 90% of people prefer apples, we

[2020-09-15 21:53] zhenqiu1101 opened #65891 "Other plugins may not get performFetchWithCompletionHandler callback in FlutterApplicationLifeCycleDelegate if one of the plugins returns YES"
The callback performFetchWithCompletionHandler returns a bool
But for individual plugins, if they return true here, no other plugins can get this callback anymore. [related code](https://engine.chinmaygarde.com/interface_flutter_plugin_app_life_cycle_delegate.html#a394bcd96560eb95f956fa1bf8bbaafc9)

aaclarke@ mentioned
[code]

[2020-09-15 22:11] chinmaygarde commented on #59879
I wired up reading null-safety state from the snapshot before launching the isolate. However, it turns out, certain Dart native APIs behave differently with null-safety enabled in the snapshot. Numerous internal engine APIs need to be reworked to account for this. I am scoping out that work now. An example of the error:

[code]

[2020-09-15 22:17] amirh commented on #52267
***I don't really know what I'm talking about, please tell me why this breaks:***

**Naive proposal:**

After creating the isolate but before launching the main entry point (I guess just before [this line](https://github.com/flutter/engine/blob/1ef10b240e28574f03c37205d4c17189fb0f9293/shell/common/engine.cc#L224)?), call [Dart_InvokeClosure](https://github.com/dart-lang/sdk/blob/f7d1c55a1919354e8c

[2020-09-15 22:21] hossam-zaki opened #65893 "print() not printing to console on external ios device"
I recently upgraded my flutter, and now print() statements to not execute when running on external ios device. They were working previously, before I upgraded, but now that I have upgraded they do not work. Is there any advice? I tried ```flutter clean``` but this didn't work. Any help is appreciated

[2020-09-15 22:24] kaarens93 opened #65894 "'RoundedRectangleBorder' can't be assigned to type ShapeBorder"
This used to work but now there's an error when developing for iOS. No error for Android

Here is my flutter doctor:
[✓] Flutter (Channel stable, 1.20.4, on Mac OS X 10.15.5 19F101, locale en-US)
[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[✓] Xcode - develop for iOS and macOS (Xcode 11.7)
[✓] Android Studio (version 3.5)
[✓] VS Code (version 1.47.3)
[✓] Connec

[2020-09-15 22:31] jerryhamby commented on #63800
???
Same problem showing on 1.20.4, I don't see any improvements.
How about some positive feedback? Sure makes debugging a pain...

[2020-09-15 22:34] tvolkert opened #65895 "Baseline alignment breaks intrinsic height"
### Steps to reproduce

Run the following app:

[code]

That app produces the following, correctly:

![boxes](https://user-images.githubusercontent.com/15253456/93271227-9ca56a80-f767-11ea-9d2f-261efb3fb115.png)

... then apply the following change to the app:

[code]

... and refresh the app.

### Expected behavior

You expect the same behavior as before you added the `IntrinsicHeight` wrapper.

[2020-09-15 22:35] tvolkert commented on #48679
Also related in that fixing it would require extra method(s) on RenderBox: https://github.com/flutter/flutter/issues/65895

[2020-09-15 22:38] godofredoc commented on #65803
We found another issue related to quota we landed the CL to monitor the usage and request quota based on that value.

[2020-09-15 22:42] ydotmalik opened #65897 "flutter build ios always build release version"
On iOS, flutter build always builds the release version of my app no matter what flavor or flag I pass. This used to work in a prior version of flutter.

## Steps to Reproduce

1. flutter build ios --flavor [any flavor] --debug

## Logs

In below com.myapp.app.integ.debug should have been built, not com.myapp.app.release. I get the same behavior if I do just ```flutter build ios --debug```. I've s

[2020-09-15 22:43] blasten commented on #52267
I'm not an expert, but your proposal sounds doable. The user main function seems to be called in https://github.com/flutter/engine/blob/5a2bf6aa4ceb29fe24a25027a3b3fc4ce2ad27be/lib/ui/hooks.dart#L224 from https://github.com/flutter/engine/blob/c700479db5d5a7638e4151b0e50fc2aef770d1b8/runtime/dart_isolate.cc#L487.

@amirh

[2020-09-15 22:43] Jojoooo1 commented on #63359
I am having the same issue.

[2020-09-15 22:50] iskakaushik opened #65899 "LUCI infra failure on "Linux Android Scenarios" try job for flutter engine PRs"
There were a couple of PRs like: https://github.com/flutter/engine/pull/21179, where this job resulted in an infra failure. This will likely end up blocking autorollers.

cc: @cbracken

[2020-09-15 23:03] yjbanov commented on #61240
@mehmetf is there a customer label we could attach to this?

[2020-09-15 23:04] yjbanov commented on #61259
Is there a status update for this? Is P3 still accurate priority for this issue?

[2020-09-15 23:17] Hixie commented on #41089
(Assigning per conversation with @blasten; @bparrishMines please let me know if I was wrong to assign this to you!)

[2020-09-15 23:19] godofredoc commented on #65887
Implemented in:

https://flutter-review.googlesource.com/c/recipes/+/6520

[2020-09-15 23:19] #65887 closed

[2020-09-15 23:21] Hixie commented on #64926
Looks like we have "alertDialogLabel" which is already localized.

[2020-09-15 23:22] jason-simmons commented on #52267
Yes - the engine can invoke other Dart methods before invoking the main entry point.  For example, `RuntimeController::FlushRuntimeStateToIsolate` does this to prepopulate state from the host embedding before the framework launches.

[2020-09-15 23:23] Hixie commented on #63984
This is currently blocked on https://github.com/flutter/flutter/pull/64846.

[2020-09-15 23:25] Hixie commented on #56719
(Downgrading to P3 after talking with @mehmetf)

[2020-09-15 23:28] Hixie commented on #65027
This is P2 because it will be a launch blocker for customer: money.

[2020-09-15 23:31] gspencergoog opened #65901 "Mac LUCI builders' Xcode should include iOS 14 SDK"
For [this PR](https://github.com/flutter/engine/pull/20972) to build, it needs to have at least iOS SDK version 13.4, and it's on 13.0 right now.

An example of a build failing because of this is this [iOS Engine build](https://ci.chromium.org/p/flutter/builders/try/Mac%20iOS%20Engine/8189?)

[2020-09-15 23:33] Hixie commented on #63581
Clashing vacations made this drop through the cracks, but we expect to get back to it momentarily.

[2020-09-15 23:34] blasten commented on #52267
To summarize the design:  the Flutter tool  codegens a `plugin_registrant.dart` file based on `pubspec.yaml` metadata.
For example, if `path_provider_linux` is a Dart only plugin:

[code]

Is this correct?

[2020-09-15 23:40] Calamity210 commented on #65852
@allwinvinosh It seems to be working as intended. The issue may be with your Image.asset, can you send your logs?

[2020-09-15 23:41] Calamity210 commented on #65852
[code]
Your code without the image, I can't reproduce.

[2020-09-15 23:44] Hixie commented on #63939
cc @gspencergoog

[2020-09-15 23:45] tvolkert commented on #65895
Given the current framework APIs, there's no way to solve this -- we'd need to augment the framework in some way.

One way to solve this would be to add a `RenderBox.computeWouldBeDistanceToBaseline(Size size)` or some such named method.  The semantics of the method would be "if I were given the specified size, my baseline would be X".  We would provide a default base implementation that returned

[2020-09-15 23:45] firatcetiner commented on #26953
May I ask what specific version did you test? I'm already on 1.20.3 and this issue still raising. Since I'm using cloud_messaging and some other plugins that utilize background executions, I can't be sure which plugin is responsible for this behavior.

[2020-09-15 23:46] Hixie commented on #63042
If the issue is fixed on master then it'll be fixed on stable at our next stable release (they happen about 4 times a year).
If the issue is not fixed on master then we need very clear steps to reproduce so that we can track down the issue.

cc @justinmc

[2020-09-15 23:48] xster commented on #65821
Assigning to @GaryQian. Please take a look.

[2020-09-15 23:49] Hixie commented on #65390
None of the comments here say how to reproduce this problem. We are eager to resolve it but we need to know exactly what you are doing to trigger what you are seeing...

Please file a new bug with clear steps to reproduce and we will look into it! Thanks!

[2020-09-15 23:49] #65390 closed

[2020-09-15 23:49] jamilxt commented on #62740
**TROUBLESHOOT**
If you are facing this issue,
make sure - you got no '#' character inside of your project's FILE PATH.

[2020-09-15 23:50] Hixie commented on #65321
I think if you are seeing this in GMail then it is unlikely to be a Flutter-specific issue. If you can confirm that this is specific to Flutter please file a new bug with steps showing how to reproduce the problem. Thanks!

[2020-09-15 23:50] #65321 closed

[2020-09-15 23:50] xster commented on #65821
@pcsosinski depending on the fix, we should consider this for fixing into 1.22 branch (let me know if this is the correct process).

[2020-09-15 23:51] Hixie commented on #65454
Does this happen on all text fields?

cc @justinmc

[2020-09-15 23:51] jonahwilliams opened #65903 "CP request for 1.22: NoSuchMethodError: The method 'cancel' was called on null"
This is an error introduced as part of the cache refactor to reduce the occurrence of https://github.com/flutter/flutter/issues/52437 .

Instead of attempting to re-download the asset, the tool will crash with this NSM error. I expect this to be severe since it should match the number of occurrences of the previously fixed issue (which was high) and was independently reported  (https://github.com/

[2020-09-15 23:52] Hixie commented on #65611
Can you provide a complete list of how the disk usage is distributed in your APK? i.e. what subdirectory of packages/ is to blame?

[2020-09-15 23:52] amirh commented on #52267
@blasten yes I think that will be the general idea, there's a little more in depth discussion here: https://docs.google.com/document/d/1G_K5vTMWD6CBD-0DDWhpAwkcCRKqmPH1wxlXu5FfRhk/edit#heading=h.dpq29kojl6x5

[2020-09-15 23:53] xster commented on #65821
We'd love to fully address this as well. @mehmetf do you have a documentation issue to summarize the need?

[2020-09-15 23:53] Hixie commented on #65233
cc @gspencergoog

[2020-09-15 23:55] Hixie commented on #65631
This is almost certainly antialiasing. When two rectangles of the same color abut over a subpixel boundary and the color below them is different, the color below them will shine through the antialiasing.

If you change the color behind them, does it go away?

[2020-09-15 23:57] Hixie commented on #65388
cc @justinmc any idea what's going on here?

Looking at the logs there is clipboard access, which is suspicious...

[2020-09-15 23:58] Hixie commented on #65388
I wonder if there was something weird on the clipboard while this was happening, and when we tried to read it we failed because... I don't know?

[2020-09-16 00:01] #63766 closed

[2020-09-16 00:07] JakeSays commented on #64958
@shaxxx It's probably limited because the goal of flutter is to support plugins written in the host environment's most popular language, which is c# for windows, swift for ios/macos, and java for android. But there's nothing saying the code couldn't be generic enough to support any platform where core runs, but it probably wouldn't be supported by flutter on platforms other than windows.

Also .ne

[2020-09-16 00:08] GaryQian commented on #65821
The delayed bounce of the flutter content is due to non-synced framerates between the flutter app and the IME. This sync issue is barely visible in physical devices. Emulators are much slower and experience extremely slow frames.

There is logic in place to capture those initial out-of-place window inset values and set them later, but it looks like in some versions, it is not working properly, I w

[2020-09-16 00:09] xster commented on #65821
@mehmetf do you have an upstream bug / reproduction environment? Device type / emulator etc.

[2020-09-16 00:12] jonahwilliams commented on #52267
If you generate  a file that is disconnected from the rest of the application, how will the compilers know how to include it in the compiled dill?

[2020-09-16 00:12] GaryQian commented on #65821
https://github.com/android/user-interface-samples/blob/master/WindowInsetsAnimation/app/src/main/java/com/google/android/samples/insetsanimation/RootViewDeferringInsetsCallback.kt explains the reason behind that initial outlier window inset change

[2020-09-16 00:14] blasten commented on #52267
@jonahwilliams can the tool inject it or would it get tree shaked?

[2020-09-16 00:15] jonahwilliams commented on #52267
it won't even get read by the compiler if it is not reachable via the normal import graph

[2020-09-16 00:16] jonahwilliams commented on #52267
Perhaps you could compile it separately into its own dill, and ... somehow combine that with whatever the app compilation produces? I don't know if that is strictly possible today.

[2020-09-16 00:30] gspencergoog commented on #65233
I don't have access to an actual Android TV to try this on, unfortunately.

@clarkap would you be willing to add some code to your Flutter repo so I can see what the key information being sent is?

If you could add the following just before the call to [_synchronizeModifiers](https://cs.opensource.google/flutter/flutter/+/master:packages/flutter/lib/src/services/raw_keyboard.dart;l=618) in `flutte

[2020-09-16 00:46] jmagman commented on #65207
Not for `flutter drive`, but it makes sense if you `flutter run` then `flutter attach` or something like that.

[2020-09-16 00:47] clarkap commented on #65233
Not A Problem,

I/flutter (10676): Message received: {keymap: android, productId: 1, flags:
8, vendorId: 1, source: 769, type: keydown, deviceId: 3, scanCode: 97,
keyCode: 23, plainCodePoint: 0, metaState: 0, codePoint: 0, repeatCount: 0}
I/flutter (10676): RawKeyEvent: RawKeyDownEvent#051d3(logicalKey:
LogicalKeyboardKey#70077(keyId: "0x100070077", keyLabel: null, debugName:
"Select"), physicalKe

[2020-09-16 00:48] yuhao-nyc commented on #65099
Hey guys! Experience same issue on Android browsers, Chrome specifically. Any updates here?

[2020-09-16 00:49] xster commented on #65207
Right. That one's not very useful it seems.

[2020-09-16 00:50] Nash0x7E2 commented on #65099
Hi @yuhao-nyc! Still running into this issue on the latest master, in the meantime, try building your application with the flag `--dart-define=FLUTTER_WEB_USE_SKIA=true`.

[2020-09-16 00:52] okamototomoyuki1988 commented on #65777
@chunhtai
I switched the SDK to chunhtai:nav-refactor-stock and then ran dev/benchmarks/test_apps/stock.
However, even if I moved the page, I couldn't press "Back" and "Forward" in the browser.
When I press F5 to reload, I can press "Back", but it's not working properly.

[2020-09-16 00:54] CaseyHillers commented on #65119
Good point about the icon, switched to an exclamation point.

AFAIK MILO does not have a default setting for handling retried builds, but we could implement something for Flutter's dashboards. This wouldn't carryover to the other projects though.

[2020-09-16 00:57] yuhao-nyc commented on #65099
Thanks for reply. Yea I did tried `--dart-define=FLUTTER_WEB_USE_SKIA=true` BUT its causing lot more other problems

[2020-09-16 00:59] Nash0x7E2 commented on #65099
Strange, what branch and version are you on? I am using `1.22.0-2.0.pre.105`. For the most part, it is relatively stable and I haven't encountered any major issues.

[2020-09-16 01:09] aaron-chu commented on #63897
@blasten Thanks for fixing this issue immediately. I saw this commit was cherry-picked to https://github.com/flutter/engine/commits/flutter-1.22-candidate.12 branch, however, I would like to know whether this fix will be included in the next release version in the beta channel? and when?

![image](https://user-images.githubusercontent.com/26949910/93280198-9fea3600-f7fb-11ea-8498-f0aa909798ee.png)

[2020-09-16 01:22] blasten commented on #63897
Yes, it will be in the next stable release 1.22.

[2020-09-16 01:41] niuhb commented on #65829
My expectation is the second time I open FLUTTER VIEW, just like a new view, the input is cleared, the list is at the top. But now it's the sliding state is the last time.

[2020-09-16 01:55] cbracken commented on #65119
Agree with @zanderso on the icon -- exclamation sgtm. Agreed with updating the dashboard rather than Luci. Overall lgtm!

[2020-09-16 01:57] PixelToast commented on #22218
@cv692001
The best way to start is to first get familiar with Dart, git, and the code you would like to change.

Here are some resources on learning Dart:
* https://dart.dev/guides/language/language-tour
* https://dart.dev/samples
* https://dart.dev/tutorials

Git:
* https://www.atlassian.com/git
* https://try.github.io/

And finally, the contributor guide:
* https://github.com/flutter/flutter/blo

[2020-09-16 02:09] Nobler commented on #65849
@pedromassangocode fyi

[✓] Flutter (Channel stable, 1.20.3, on Mac OS X 10.15.6 19G2021, locale
    zh-Hans-CN)
    • Flutter version 1.20.3 at /Users/klook/development/flutter
    • Framework revision 216dee60c0 (2 weeks ago), 2020-09-01 12:24:47 -0700
    • Engine revision d1bc06f032
    • Dart version 2.9.2

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    •

[2020-09-16 02:12] xu-baolin commented on #65849
This delay time is the time required by the `gesture arena`. `Tap` and `drag` need to compete in the arena when the number of pages is greater than 1. Also see https://flutter.dev/docs/development/ui/advanced/gestures#gesture-disambiguation or https://book.flutterchina.club/chapter8/gesture.html
So I think this not an issue.

[2020-09-16 02:16] droplet-js opened #65905 "Bug for SelectableText. If text contains chinese words and '\r', the selectbox will deviation"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
[code]
3. select all text

Expected results           | Actual results
:-------------------------:|:-------------------------:
![93311794-05104c80-f839-11ea-8a16-4f8ccc38e7b3](https://user-images.githubusercontent.com/8845083/94395528-7e416500-0192-11eb-8381-3350eca19205.jpg) | ![Screenshot_20200916_102224_io g

[2020-09-16 02:21] stuartmorgan commented on #64958
Because everything about the plugin system in Flutter is platform-specific.

Every embedding has its own plugin API, so this is not correct. A C# wrapper around the Windows plugin APIs will only work with the Windows embedding.

[2020-09-16 02:25] bhanuka96 commented on #63766
@dnfield why did you closed this bug without any solutions?

[2020-09-16 02:38] iammofidul commented on #19103
this solved two problems in projects.Image Picker and Google login .

[2020-09-16 02:42] JakeSays commented on #64958
@stuartmorgan Why would the c# wrapper wrap the windows plugin APIs? Seems like it would make more sense to make a generic c# plugin that can load a platform specific assembly. This way each platform could have its own c# platform plugin. C#/.net is popular on more than just windows, and linux/osx are first class citizens. I am not suggesting the platform assemblies for linux/osx be written/suppor

[2020-09-16 02:44] dnfield commented on #63766
It's fixed in the linked pull request.  If that's not working we can reopen

[2020-09-16 02:49] murtuzasaify commented on #11754
Is there a solution for this ? As there are quit a times developer needs to validate things for release configuration and  its bit frustrating to not able to run it on simulator.

[2020-09-16 02:52] dktiong opened #65906 "Label polygons"
Hi all, I using Google_maps_flutter plugin for drawing polygons. How to label those polygons?

[2020-09-16 02:55] haristhohir commented on #64128
`flutter clean` fix my problem

[2020-09-16 03:01] pythonhubpy commented on #65685
This minimal code is working fine.

[2020-09-16 03:01] #65685 closed

[2020-09-16 03:03] khismatullin opened #65907 "[tool_crash] FileSystemException: Deletion failed, OS Error: The directory is not empty., errno = 145"
## Command
[code]

## Steps to Reproduce
1. flutter upgrade

## Logs
FileSystemException: Deletion failed, OS Error: The directory is not empty.
, errno = 145
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2020-09-16 03:06] berrylawchingman commented on #65685
❤️

[2020-09-16 03:13] TanujChaniyari07 commented on #65830
I'll love to fix this, maintainers please guide me

[2020-09-16 03:15] realadeel commented on #65815
I've updated my initial post with a minimal application, based on the starter template, that exhibits the same behavior: trying to show multiple GIFs on a screen, memory keeps increasing, getting collected, rising again, eventually crashing app.

[2020-09-16 03:16] jinfagang opened #65908 "Android APP Widget support"
I mean the widget on home screen, not widget.

Does it supported for now? How to using it?

[2020-09-16 03:18] epsi95 commented on #17904
I faced the same issue my stateful widget was not updating. Just added key to my Stateful Widget and every time passed `key: UniqueKey()` and it worked fine.

`CalenderView(
      {@required this.dataToBePlotted,
      @required this.fromDate,
      @required this.toDate,
      **Key key**})
      : **super(key: key)** {
    print(
        "calender constructor called with fromDate ${DateTime.from

[2020-09-16 03:20] TanujChaniyari07 commented on #49403
@blasten I love to fix this, please guide me

[2020-09-16 03:25] SuTran commented on #65739
@TahaTesser
How about https://github.com/SuTran/flutter_coverage_02/blob/master/test/circle_container_widget_test.dart it doesn't import `main.dart` but it counted in the coverage report

[2020-09-16 03:27] asongkai commented on #65838
Hi,

How to resolve or avoid doing all transactions on the main UI thread? how to separate thread?

[2020-09-16 03:51] hmhdlsf commented on #65742
This issue can be closed, thanks for @pedromassangocode

[2020-09-16 03:51] #65742 closed

[2020-09-16 03:56] mehmetf commented on #65821
Internal bug is b/168563461.

AFAIK, this is affecting any Android 11 phone. I believe most test phones internally are Pixels (Pixel 3 and 4).

As for documentation bug, I don't have one. I am basing it on popular content like this:
https://stackoverflow.com/questions/48750361/flutter-detect-keyboard-open-close
https://stacksecrets.com/flutter/detect-keyboard-visibility-in-flutter-app
https://gith

[2020-09-16 03:56] joy2012bd commented on #58583
Same issue when build apk. I have used 10 libraries. Confused which library need to downgrade. Any suggestion?

[2020-09-16 04:03] Gaoxichao opened #65909 "Cannot touch before loading image success （Just on ios）"
## Steps to Reproduce

Before the image is successfully loaded, it cannot be clicked (such as sliding, clicking)，its only ios ，android is well，

this is code：

[code]
put is your project test

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-09-16 04:13] stuartmorgan commented on #64958
I don't understand what this question means. The only way to write a plugin for a Flutter embedding is against that embedding's plugin API.

I don't know what "a generic C# plugin" means. There is no such thing as a "generic" plugin for Flutter.

I don't know what this means either. It's not clear to me at this point whether you are using the term "plugin" to refer to the same thing this issue is

[2020-09-16 04:23] arcwest commented on #65778
*FLutter Doctor:: *

Flutter (Channel beta, 1.21.0-9.2.pre, on Microsoft Windows [Version
10.0.18363.1082], locale en-GB)
    • Flutter version 1.21.0-9.2.pre at C:\flutter\flutter
    • Framework revision 81a45ec2e5 (3 weeks ago), 2020-08-27 14:14:33 -0700
    • Engine revision 20a9531835
    • Dart version 2.10.0 (build 2.10.0-7.3.beta)

[√] Android toolchain - develop for Android devices (Andro

[2020-09-16 04:31] xu-baolin commented on #65815
@realadeel Can you reproduce the issue without any third-party code, such as `import 'package:cached_network_image/cached_network_image.dart'`.

The problem looks like it will leak some memory per build, you should not do this.

[2020-09-16 04:36] gouravd commented on #64430
@markusaksli-nc

With further investigation and omission of all plugins, I still found the issue persist. I also tried the following which had helped other users

1) flutter clean, rm -rf ios/flutter/Flutter.framework and then generate build
2) Change IOS target deployment as 13.0 (currently its 11.0)

The above steps didn't help either. However during course of further investigation I found that

[2020-09-16 04:37] 0-php commented on #32537
this long time ago now i use showGeneralDialog to create

[2020-09-16 04:53] amanv8060 commented on #65905
Please also mention what is expected

[2020-09-16 05:18] chingjun commented on #52267
Sorry if I missed the previous discussions, if we're generating a different dill file for each platform, why don't we generate a wrapper file that wraps main instead?

Or if we're concerned that user might use arbitrary entry point method, how about generating a wrapper file that re-exports `main` from the script_file, and add a `register` method in that file that is marked `@pragma('vm:entry-poin

[2020-09-16 05:22] #65818 closed

[2020-09-16 05:28] amanv8060 commented on #65905
And Also this isnt a bug due to carriage return , but due to chinese characters ,
`'汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n汉字\n\n'` this would also give you the same result

[2020-09-16 05:35] xster commented on #7593
@shilangyu can you open an issue specifically for fish?

[2020-09-16 05:35] Hixie opened #65912 "I can't view build dashboard logs"
I'm trying to debug https://github.com/flutter/flutter/issues/65775
I go to https://flutter-dashboard.appspot.com/#/build
I click on one of the yellow squares.
If I click OPEN LOG FOR ATTEMPT #1, it eventually says I'm not allowed to see logs.
If I click DOWNLOAD ALL LOGS, it just spins idly.
If I click LOGIN it doesn't do anything.

I'm not really sure what I'm doing wrong? I'm pretty sure my acc

[2020-09-16 05:37] idraper commented on #39226
I am currently on flutter v1.20.1, and the issue is still there for that version (didn't run using `webdev`). It's important for me to be on a stable version, so I don't want to update yet but I look forward to this being fixed in a stable version soon :).

[2020-09-16 05:39] cbracken commented on #31293
For anyone looking for a temporary workaround until we have a resolution, I spotted this in the zsh-users/zsh-completions repo: https://github.com/zsh-users/zsh-completions/blob/master/src/_flutter

Long-term, we should definitely have a working zsh-completions command though.

[2020-09-16 05:42] darshankawar commented on #65747
@ttencate I installed app from playstore on Samsung Galaxy A2Core device (8.1.0) and was able to complete the practice without any issues. I stopped / resumed along the way without any issues.

![65747](https://user-images.githubusercontent.com/67046386/93295973-e6479100-f80b-11ea-99ad-08095bede964.png)

But when I tried the same on Samsung S10+, I got stuck at 6th bird (as you mentioned) and coul

[2020-09-16 05:52] darshankawar commented on #65824
Replicated again on latest master on web and do see some delay while scrolling back and forth.
The code line in question is:

[code]
If we comment out `temp` line, the scrolling becomes normal and smooth. Uncommenting above line, shows some delay.

[65824_wo_dec.mov.zip](https://github.com/flutter/flutter/files/5229929/65824_wo_dec.mov.zip)
[65834_with_dec.mov.zip](https://github.com/flutter/flutt

[2020-09-16 05:53] mwawrusch commented on #63800
Having this problem for months now, and now started to see a new problem which might be related. It compiles great, shortly shows in the simulator, then aborts. here is that log file:

[code]

[2020-09-16 06:00] cbracken opened #65913 "Segfault in ui_unittests ImageDecoderFixtureTest.ValidImageResultsInSuccess"
## Description

I've seen this flake a couple times, most recently in the host_release build on our Linux Host Engine builder. I don't recall whether I've seen it on other platforms/modes as well.

## Logs
Build: https://ci.chromium.org/p/flutter/builders/prod/Linux%20Host%20Engine/6839
Logs: https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8869029216637469536/+/steps/

[2020-09-16 06:04] brian-dunn opened #65914 "[image_picker ]The minimal code sample could be improved to handle when no image is picked"
This bug is easy to reproduce. This run this code that is listed as example code in the Readme for this package. Then, click the floating action button to open the camera on the emulator, but do not take or accept a picture. Instead, click the back button to return to the previous screen. Flutter will then crash with the following error:

[code]

Here is the sample code I ran -- an exact copy/past

[2020-09-16 06:07] cbracken commented on #65913
Closing as dupe of #64475.

[2020-09-16 06:07] #65913 closed

[2020-09-16 06:08] cbracken commented on #64475
Just saw this again on Linux Host Engine release run of ui_unittests. Looks like Chinmay's above was profile.

Build: https://ci.chromium.org/p/flutter/builders/prod/Linux%20Host%20Engine/6839
Logs: https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8869029216637469536/+/steps/Host_Tests_for_host_release/0/stdout

[2020-09-16 06:13] TahaTesser commented on #65829
Hi @niuhb
Thanks for clarifying, it's a known issue https://github.com/flutter/flutter/issues/63092
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-16 06:13] #65829 closed

[2020-09-16 06:15] darshankawar commented on #65763
Looked at it again and applying `spreadRadius` in `textStyle` seem to have no effect on the text.

<details>
<summary>code sample</summary>

[code]

</details>

With above code and after commenting `spreadRadius`, the effect remains same on the text.

![65763](https://user-images.githubusercontent.com/67046386/93298756-6e7c6500-f811-11ea-8d3d-29280b21fe60.png)

<details>
<summary>flutter doctor -v

[2020-09-16 06:25] jimchol commented on #65843
I also meet the same problem under Flutter 1.20.3 • channel stable

[2020-09-16 06:27] pedromassangocode commented on #65845
Hi @Ddtarsariya
I need a minimal sample code that I can just copy/paste into a main.dart file  and run it. The code you provided contains personal code and I can't run it.
Thank you

[2020-09-16 06:30] #64128 closed

[2020-09-16 06:30] JakeSays commented on #64958
@stuartmorgan

1 - I might be missing something but isn't the c++ wrapper the plugin extension point? If so then does each desktop platform also use the c++ wrapper? If that is also the case then there could be a "generic" c++ plugin (using the c++ wrapper) that hosts the CLR and supports implementing c# plugins. This should be fairly generic across the desktop platforms.
2 - See 1
3 - I am, but a

[2020-09-16 06:37] mwawrusch commented on #63800
I doubt it's hardware. First, it happens rarely on the simulator as well, secondly running from xcode always works.

[2020-09-16 06:39] markusaksli-nc commented on #45619
Reproducible on the latest master `1.22.0-10.0.pre.196`.
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>
<details>
 <summary>Code sample from DartPad</summary>

[code]
</details>

@jamesblasco Would you considering working on a PR for this?

[2020-09-16 06:39] pedromassangocode commented on #65782
Reproducible with latest `master` channel.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-16 06:40] ghenry commented on #65631
They are both default blue though?

On Wed, 16 Sep 2020, 00:55 Ian Hickson, <notifications@github.com> wrote:

[2020-09-16 06:44] TahaTesser commented on #65830
Hi @TanujChaniyari07
If you restart your machine, you should be able to `.gradle` in `C:\Users\user\.gradle` and create project and let it download  Gradle and run your app, make sure you don't have any antivirus/firewall activated or VPN

[2020-09-16 06:46] shaxxx commented on #64958
@stuartmorgan Thank you for your time.
As far I can understand platform plugins is layered as

1.  Flutter (dart part) that calls methods via platform.invokeMethod
2.  Flutter (CPP part) that serializes all method calls and parameter and passes them to client wrapper
3.  Client wrapper (link provided here) that wraps implementation of MethodChannels for each platform and passes them to platform sp

[2020-09-16 06:48] pedromassangocode commented on #65723
Cc @justinmc  based on https://github.com/flutter/flutter/issues/59645#issuecomment-645458573. This seems to happen after upgrading Flutter and run `flutter run`.

[2020-09-16 06:51] darshankawar commented on #65778
@arcwest Tried the steps you mentioned and AS re-arranged the settings automatically and was able to compile without any issues. I am latest master.

<img width="261" alt="Screenshot 2020-09-16 at 12 18 04 PM" src="https://user-images.githubusercontent.com/67046386/93302086-06c91880-f817-11ea-8f5a-e5225bf7714f.png">

[code]

[2020-09-16 06:52] TahaTesser commented on #65739
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-16 06:52] JakeSays commented on #64958
@shaxxx #3 would be the native CLR host which would load the c# plugins directly.

[2020-09-16 06:56] darshankawar commented on #65588
@Ankur-Khandelwal not sure how is this related to Flutter. Can you try by creating a native Android project in AS and see if you get same error on same phone ?
Thanks.

[2020-09-16 06:57] hovanhung98hust commented on #58247
This worked for me This problem is with latest gradle 4.0.0

Switch from classpath 'com.android.tools.build:gradle:4.0.0'

to classpath 'com.android.tools.build:gradle:3.6.3'

or classpath 'com.android.tools.build:gradle:3.5.0'

[2020-09-16 07:00] darshankawar commented on #65850
@dahmaular,
Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue.
Thanks.

[2020-09-16 07:01] pedromassangocode commented on #65004
Hi @Zeeshan-progs
Please provide a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example) that I can just copy/paste and run. The code you provided is separated and I'm not sure how to join them all.
Thank you

[2020-09-16 07:05] congfandi commented on #58247
fix with this way

[2020-09-16 07:07] pedromassangocode commented on #65841
Are we considering this as a feature request? If there is no way of doing this then I think we can close it then

[2020-09-16 07:11] markusaksli-nc commented on #47191
I can't reproduce this behavior on the latest master `1.22.0-10.0.pre.196`.
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>
<details>
 <summary>Code sample</summary>

[code]
</details>

Behavior seems to perfectly match

@feinstein Could you check if you are still facing this issue and please provide a minimal reproducible code sample in that case?

[2020-09-16 07:15] darshankawar commented on #65852
@allwinvinosh
Can you elaborate more when you say the portion of image isn't accessible ? Can you provide video / gif of the issue ?
Thanks.

[2020-09-16 07:15] markusaksli-nc commented on #64430
Thank you for narrowing this down to a root cause.

What steps did you take to set up your build flavors? Could you share a minimal reproducible project repository so we could confirm this behavior?

Labeling since there isn't any official documentation on this (just some links to community content at https://flutter.dev/docs/deployment/flavors). This could be a problem for iOS app releases.

[2020-09-16 07:21] arunchaudharyweb opened #65919 "Color palettes suggestion not appearing when adding colors"
**Expected results:**

![Screenshot (77)](https://user-images.githubusercontent.com/59797321/93303868-bb643980-f819-11ea-9afd-14ddd4ecabbd.png)

**Actual results:**

![Screenshot (74)](https://user-images.githubusercontent.com/59797321/93303201-c2d71300-f818-11ea-8f16-45abf37f178c.png)

<details>
  <summary>Logs</summary>

[code]

![Screenshot (80)](https://user-images.githubusercontent.com/597973

[2020-09-16 07:22] shiipou opened #65920 "Allow FlutterFragment to be shown as Service's view."
## Use case

Hi, I tried to make a multiplatform keyboard in flutter. But In android I can't declare a Flutter Fragment on the InputMethodService because It's not an Activity.
Can you allow to use Flutter Fragment in InputMethodService view by creating a FlutterServiceFragment or something like this ?

There currently not exist any pub package to provide an equivalent, so I ask here.
Thank you for

[2020-09-16 07:24] realadeel commented on #65815
@xu-baolin here is an even more minimal version, using raw Image.network and no third-party plugins of any kind. The memory increase and crashing behavior is the same.
https://gist.github.com/realadeel/73b9b2f2e18b19d40ef19bc6028478a4

[2020-09-16 07:29] TahaTesser commented on #65815
Hi @realadeel
I can reproduce the crash with `image.network` as well on the`beta` channel however it doesn't reprodcue for me on the `master` even after several tries

<details>
<summary>code sample</summary>

[code]

</details>

`beta` channel logs
[run_image_network.log](https://github.com/flutter/flutter/files/5230515/run_image_network.log)
<details>
<summary>flutter doctor -v</summary>

[code]

[2020-09-16 07:29] darshankawar commented on #65868
Issue replicable on latest master.

![bug_test](https://user-images.githubusercontent.com/67046386/93305605-59f19a00-f81c-11ea-8784-8f5f1f486604.png)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-16 07:29] littleGnAl opened #65921 "Document how to loading assets in package dependencies"
## Use case
There's an issue [32799](https://github.com/flutter/flutter/issues/32799) that can't access JSON file in the package. And I also face it too.

To load assets from packages, you should add the prefix `'packages/<package_name>/'` for the key to making it works.

Such as how `AssetImage` do
https://github.com/flutter/flutter/blob/fba99f6cf9a14512e461e3122c8ddfaa25394e89/packages/flutter/l

[2020-09-16 07:34] TanujChaniyari07 commented on #65830
Thank you @everyone after deleting the .gradle/caches it started working now

[2020-09-16 07:34] #65830 closed

[2020-09-16 07:41] GGLabCenter commented on #65736
Hi @TahaTesser, I updated my first message with the details you asked for.

[2020-09-16 07:41] darshankawar commented on #65886
Hi @nikpozdnyakov,
`auto_size_text` is a 3rd party plugin. Please consider logging this issue in their repo : https://github.com/leisim/auto_size_text/issues
Closing. as this isn't an issue with Flutter.

[2020-09-16 07:47] TahaTesser commented on #65914
Hi @brian-dunn
This is not an issue with `image_picker`, it's just File with a pickedFile as null path.  This example is kept minimal but it could be improved

<details>
<summary>code sample</summary>

[code]

</details>

[2020-09-16 07:47] pedromassangocode commented on #65849
Hi @Nobler
The delay is required for gestures as mentioned above, and you can see the links mentioned above, they explain gesture competition in more details.

Closing as working as intended.
Thank you

[2020-09-16 07:47] #65849 closed

[2020-09-16 07:50] TahaTesser commented on #65853
Hi @Colir
Can you please provide`flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example) with sample image URL
Thank you

[2020-09-16 07:52] markusaksli-nc commented on #52416
Closing this issue for now since this does work for most third-party keyboards and we would need more information on how to support third-party keyboards with unorthodox handling of this property.

If you can point out a specific keyboard that doesn't auto-capitalize on latest Flutter, let us know and we can re-open.

[2020-09-16 07:52] #52416 closed

[2020-09-16 07:54] pedromassangocode commented on #32537
Hi @0-php
Can you confirm that this issue can be closed?
Thank you

[2020-09-16 07:54] ZhangLiuCheng commented on #65526
@markusaksli-nc
![WechatIMG55](https://user-images.githubusercontent.com/6800810/93308285-a47f1080-f834-11ea-8fb4-ec076c56f481.jpeg)

I'll provide  code sample  in two days，Thank you。

[2020-09-16 07:55] valconetti commented on #51352
Hi @kw2019ltd

I checked it, and it should work on Android 8 and 9, too.

[2020-09-16 07:56] markusaksli-nc commented on #53737
Closing as solved, not sure how the documentation could be improved here.

[2020-09-16 07:56] #53737 closed

[2020-09-16 07:57] darshankawar commented on #65893
@hossam-zaki,
There's similar open issue describing your case, [44718](https://github.com/flutter/flutter/issues/44718).
Please follow-up there for updates and any questions.
Closing this as duplicate.

[2020-09-16 07:57] #65893 closed

[2020-09-16 07:58] pedromassangocode commented on #65631
@ghenry I think Hixie means to set the Scaffold's `backgroundColor` to the same color as the appBar

[2020-09-16 07:58] TahaTesser commented on #65882
Hi @erf
Can you please provide `flutter run --verbose` log which hangs
Thank you

[2020-09-16 08:04] ghenry commented on #65631
Should that not happen on all resolutions then or only really high ones?

On Wed, 16 Sep 2020, 00:55 Ian Hickson, <notifications@github.com> wrote:

[2020-09-16 08:07] darshankawar commented on #65905
@v7lin
Please try to use chinese equivalent of `\r` and see if you get the same result. Also not sure what should be the expected outcome of the usage.
Thanks.

[2020-09-16 08:08] 253CL opened #65923 "Flutter calls the iOS native page. Clicking on the native page, the flutter page behind it can also trigger the click event"
From URL: https://www.flutterchina.club/get-started/install.md

[2020-09-16 08:09] ifredom commented on #13848
This bug monitoring will trigger twice. When can it be fixed？

[2020-09-16 08:10] darshankawar commented on #65906
Hi @dktiong,
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this.
You may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the

[2020-09-16 08:10] #65906 closed

[2020-09-16 08:12] pedromassangocode commented on #65858
Hi @StatTark
This clearly is not related to the package mentioned. Maybe you are using the information retrieved by the package wrong in one of your Ads implementation?

The rejection is about Google Ads and the way you are using/showing them and not about obtaining the device information.

Closing as this is not an issue with Flutter itself.
Thank you

[2020-09-16 08:12] #65858 closed

[2020-09-16 08:12] realadeel commented on #65815
I was also unable to reproduce a crash with 4 GIFs after moving to master. I doubled the number of GIFs to 8 and it does not crash either. So this is good.
The memory behavior of going up is still there but at least it does not appear to crash. Maybe that is expected of animating GIFs? Using static images keeps the memory low and constant.

[2020-09-16 08:14] darshankawar commented on #65907
@khismatullin,
There's similar open issue describing your case, [64410](https://github.com/flutter/flutter/issues/64410).
Please follow-up there for updates and any questions.
Closing this as duplicate. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-09-16 08:14] #65907 closed

[2020-09-16 08:16] ljhang commented on #14316
hell no.still this issue.

[2020-09-16 08:16] ihsh opened #65924 "[tool_crash] Invalid argument(s): Cannot find executable for /Users/mac/development/flutter/bin/cache/artifacts/engine/ios-release/gen_snapshot_x86_64."
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ArgumentError: Invalid argument(s): Cannot find executable for /Users/mac/development/flutter/bin/cache/artifacts/engine/ios-release/gen_snapshot_x86_64.
[code]
[code]

## Flutter Application Metadata
**Type**: module
**Version**: 1.0.0+1
**Material**: true
**Android X**: true
**Module**: true
**Plugin**: false
**Android packag

[2020-09-16 08:17] TahaTesser commented on #65894
Hi @kaarens93
Seems to work fine for me on iOS on the latest `stable`

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please provide`flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)
Thank you

[2020-09-16 08:17] jd-debug commented on #14316
How can we make this bug more visible? I think else this bug will just die in the backlog...

[2020-09-16 08:19] benPesso commented on #65763
@darshankawar Yes, indeed. This is what we said. So now what? :)

[2020-09-16 08:21] mihirduttaa commented on #64841
Permission_handler is having some issues. Google maps cannot be displayed on android platform due to this issue.

[2020-09-16 08:24] v7lin commented on #65905
i try to replace '\r' to '\u3000'，it work well

[code]

![Screenshot_20200916_162205_io github v7lin exampl](https://user-images.githubusercontent.com/8845083/93311794-05104c80-f839-11ea-8a16-4f8ccc38e7b3.jpg)

[2020-09-16 08:24] darshankawar commented on #65919
Hi @arunchaudharyweb,
This seems to be an issue with the plugin and not Flutter. Please see [this](https://github.com/flutter/flutter/issues/59132) issue and [where](https://github.com/flutter/flutter/issues/59132#issuecomment-652303716) to file / track the issue for this.
Closing, as this isn't an issue with Flutter.

[2020-09-16 08:24] #65919 closed

[2020-09-16 08:26] TahaTesser commented on #65897
Hi @ydotmalik
Looks like an issue with your flavor implementation. Make sure you're configuring your build configs properly. Please follow  this [article](https://medium.com/@animeshjain/build-flavors-in-flutter-android-and-ios-with-different-firebase-projects-per-flavor-27c5c5dac10b)   from official [page](https://flutter.dev/docs/deployment/flavors)

If the problem persists, a complete reproduci

[2020-09-16 08:29] pedromassangocode commented on #65908
Hi @jinfagang
Flutter does not support Android app widgets, because `RemoteViews` support's only view's defined in the supporting list at: https://developer.android.com/reference/android/widget/RemoteViews.html

Also, see:
https://developer.android.com/guide/topics/appwidgets

[2020-09-16 08:29] #65908 closed

[2020-09-16 08:32] ghenry commented on #65631
Yep, setting backgroundColor on the Scaffold resolves this. Should have thought of that.

Thanks.

Closing.

[2020-09-16 08:32] #65631 closed

[2020-09-16 08:34] pedromassangocode commented on #65909
Hi @Gaoxichao
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?

I suggest you to upgrade to the latest stable version of Flutter since this issue may already be fixed.

Thank you

[2020-09-16 08:36] TahaTesser commented on #65851
Hi @LokiRathod
Can you please provide your `flutter doctor -v` and `flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)
Thank you

[2020-09-16 08:37] darshankawar commented on #65921
@littleGnAl
Not sure if I understand it properly, but the [method](https://api.flutter.dev/flutter/services/AssetBundle/loadString.html) to load assets `AssetBundle.loadString` signifies that it accepts data in `String`.  Also please see the `Loading assets` section of the link you referred that mentions how to load a text or string.
Hope it helps.

[2020-09-16 08:38] TahaTesser commented on #65923
**Orginal**
flutter 调用iOS 原生页面 点击原生页面 后面的flutter 页面也能触发点击控件的事件

**Translated Title**
Flutter calls the iOS native page. Clicking on the native page, the flutter page behind it can also trigger the click event

[2020-09-16 08:39] goncalo-palma-3r commented on #65855
@yjbanov Thanks for the reply :D

So that I can get a  better understanding of the issue:

As you can see here: https://github.com/goncalo-palma-3r/iframe_redirection_bug/blob/master/lib/main.dart , the platform is registered in the widget, inside the same library, as "usual". Does this implementation create a Shadow DOM element?

[code]

What alternatives way do I have to find the widget?

As you

[2020-09-16 08:42] darshankawar commented on #65924
Hi @ihsh,
Please see [this](https://github.com/flutter/flutter/issues/57929) related issue. You seem to be on old version of Flutter. I'd suggest you to upgrade to latest stable or master and try again. This issue was [fixed](https://github.com/flutter/flutter/pull/57874) and merged.
Thanks.

[2020-09-16 08:45] markusaksli-nc commented on #54801
Reproducible on the latest master `1.22.0-10.0.pre.200` with the default `flutter create` project.
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>

- `flutter test --platform chrome test/widget_test.dart`

[code]
- `flutter test test/widget_test.dart`

[code]
- `flutter test test/widgettest.dart`

[code]
- `flutter test --platform chrome test/widgettest.dart`

[code]

Important

[2020-09-16 08:47] MartinhoMCM commented on #42833
In some language de decoration doesn't work as expected.
The better way to use Text decoration  is:
 `Text('Cadastrar-se', style: Theme.of(context).textTheme.bodyText1.copyWith(
                        fontSize: 14.0,
                        color: Colors.grey,
                        fontWeight: FontWeight.w400,
                        decoration: TextDecoration.underline
))`

[2020-09-16 08:48] LokiRathod commented on #65851
Flutter doctor - v

[✓] Flutter (Channel stable, 1.20.2, on Mac OS X 10.15.5 19F101, locale en-IN)
    • Flutter version 1.20.2 at /Users/lokesh/Downloads/flutter
    • Framework revision bbfbf1770c (5 weeks ago), 2020-08-13 08:33:09 -0700
    • Engine revision 9d5b21729f
    • Dart version 2.9.1

[!] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    • Android SDK at

[2020-09-16 08:50] gumilar1995 opened #65926 "[in_app_purchase] iOS how to handle purchase that made outside the app ?"
It happens when user does not have Billing Information yet, iOS purchase dialog brings user to the App Store to fill in the Billing Information Form and purchase made there, but when user directed to the App Store purchaseUpdatedStream gives an **error state** and when purchase is made successfully outside the app ( on App Store ) purchaseUpdatedStream did not give **purchased state** most likely

[2020-09-16 08:50] Neojoke opened #65927 "webview_flutter plugin lead App freeze with flutter version v1.20.2+"
## Steps to Reproduce

![IMG_0067](https://user-images.githubusercontent.com/8511328/93312939-6258cd80-f83a-11ea-8946-d7038ec39950.PNG)

**Expected results:**
App use [WebView](https://pub.dev/packages/webview_flutter) load a url finished, and use [image_picker](https://pub.dev/packages/webview_flutter/example) show a iOS camera capture page and dismiss this camera capture and all flutter app run

[2020-09-16 08:51] Neojoke commented on #65927
@jmagman

[2020-09-16 08:54] TahaTesser commented on #65810
Hi @maupleke
Thanks for confirming, definitely sounds like a known issue related to anti-aliasing
Closing as duplicate of #14288
If you disagree, please write in the comments, I will reopen it
Thank you

[2020-09-16 08:54] #65810 closed

[2020-09-16 08:59] markusaksli-nc commented on #59693
@goderbauer On Android, I can use the two fingers drag gesture to scroll and trigger the indicator. On iOS 13.7 I can hard press and drag (both work in Flutter).

[2020-09-16 09:01] samuelhuahui opened #65928 "how to change ExpansionPanelList header icon's color"

[2020-09-16 09:02] samuelhuahui commented on #65928
Change arrow-icon color

[2020-09-16 09:04] pedromassangocode commented on #16291
Is this still a valid issue?

[2020-09-16 09:05] erf commented on #65882
Ok, here is the output from `flutter run --verbose`. I made a new project with the above code where `productIds` is `{}`.

[log.txt](https://github.com/flutter/flutter/files/5231041/log.txt)

[2020-09-16 09:09] pedromassangocode commented on #17275
Definitely would be great to have any update on this.

[2020-09-16 09:09] AntoineMarcel commented on #50713
I found a temp solution, you can wrap your TextField into a Focus and only when user has focus on the text field we set showCursor to true.

[code]

[2020-09-16 09:11] Gaoxichao commented on #65909
@pedromassangocode

**flutter doctor -v :**

[code]

**my code :**

[code]

**It seems to be a picture problem, because you can change the picture, but why does the picture affect the application (frame)?**

[2020-09-16 09:15] TahaTesser commented on #63042
@EngAddow disagrees and confirms the issue is still  reproducible on `master` but I am unable to reproduce it on multiple devices in RTL language and keyboard

[2020-09-16 09:17] littleGnAl commented on #65921
Thanks for your replying @darshankawar .

Say I have a project structure like below, `package1` is a [flutter package](https://flutter.dev/docs/development/packages-and-plugins/developing-packages), and `myApp` is a [flutter app](https://flutter.dev/docs/get-started/test-drive#create-app), that dependent on `package1`:
[code]
The [AssetBundle.loadString](https://api.flutter.dev/flutter/services/As

[2020-09-16 09:28] nikpozdnyakov commented on #65886
the fact that a third-party library does not work due to the fact that the flutter in the web version does not work correctly didExceedMaxLines in TextPainter
That's why I wrote here.

[2020-09-16 09:29] pedromassangocode commented on #20404
Is this still a valid issue?

[2020-09-16 09:30] darshankawar commented on #65856
Hi @rlueders,
Can you try to switch to latest stable (1.20.4) and see if you experience same lag ?
Thanks.

[2020-09-16 09:30] nikpozdnyakov commented on #65886
@darshankawar

[2020-09-16 09:30] darshankawar commented on #65856
May be related to [30764](https://github.com/flutter/flutter/issues/30764)

[2020-09-16 09:30] Guennx opened #65930 "How can I limit my application's bandwidth"
Hello everyone,

I'm using a youtube video player in my app and I cannot adjust the quality of the video, it automatically adjusts to the internet speed. I don't want to my app to consume mobile data, so want to limit the app's bandwidth based on the video quality the user chooses.

How can I do this?

[2020-09-16 09:39] pedromassangocode commented on #20016
Hi @pulyaevskiy
Are you still facing this issue? If yess, can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-09-16 09:43] darshankawar commented on #51165
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 09:43] #51165 closed

[2020-09-16 09:43] fightcoder commented on #65825
Sorry, if I upgrade Flutter, the `Aspectd` hook function will not be available because the author has not adapted to the new version（@kangwang1988 ）。I can give you the transformed dill file, such as' MyHomePage ', and I have modified the constructor and created it.
[app.aspectd.dill.txt](https://github.com/flutter/flutter/files/5231272/app.aspectd.dill.txt)

[2020-09-16 09:44] fightcoder commented on #65825
@TahaTesser Sorry, if I upgrade Flutter, the Aspectd hook function will not be available because the author has not adapted to the new version（@kangwang1988 ）。I can give you the transformed dill file, such as' MyHomePage ', and I have modified the constructor and created it.

[2020-09-16 09:45] fightcoder commented on #65825
@TahaTesser Sorry, if I upgrade Flutter, the Aspectd hook function will not be available because the author has not adapted to the new version（@kangwang1988 ）。I can give you the transformed dill file, such as' MyHomePage ', and I have modified the constructor and created it.
[app.aspectd.dill.txt](https://github.com/flutter/flutter/files/5231301/app.aspectd.dill.txt)

[2020-09-16 09:47] pedromassangocode commented on #20451
Now that [Navigator 2.0 ](https://github.com/flutter/flutter/issues/45938) was merged I think we now have a way to get the current Route.

@chunhtai can you please confirm?

[2020-09-16 09:47] creativecreatorormaybenot commented on #64011
@Markzipan I assume that you were able to fix the issue 🥳

Is there any chance this could get cherry-picked into `stable` or `beta`?

[2020-09-16 09:53] darshankawar commented on #18984
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 09:53] #18984 closed

[2020-09-16 09:54] pedromassangocode commented on #20857
Hi @lichentao
Are you still facing this issue? If yes, please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-09-16 09:55] darshankawar commented on #27677
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 09:55] #27677 closed

[2020-09-16 09:56] darshankawar commented on #20771
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 09:56] #20771 closed

[2020-09-16 09:56] Vadaski commented on #23364
Could you share how to complie host_debug_unopt？
I have the same problem.

[2020-09-16 09:57] darshankawar commented on #19843
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 09:57] #19843 closed

[2020-09-16 09:58] darshankawar commented on #19245
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 09:58] #19245 closed

[2020-09-16 09:59] darshankawar commented on #52732
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 09:59] darshankawar commented on #53410
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 09:59] #53410 closed

[2020-09-16 10:00] darshankawar commented on #42054
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 10:00] #42054 closed

[2020-09-16 10:00] KhayyamA47 opened #65931 "Notification panel not showing up on Xiaomi devices"
![b23298cb-c80e-4e42-9889-8e43b2bb08d7](https://user-images.githubusercontent.com/54634944/93322930-f455db80-f824-11ea-8148-a263a3715cb9.jpeg)

## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
3. ...

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-09-16 10:01] darshankawar commented on #51077
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 10:01] darshankawar commented on #38006
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 10:01] #38006 closed

[2020-09-16 10:02] darshankawar commented on #64263
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-09-16 10:02] #64263 closed

[2020-09-16 10:02] KhayyamA47 commented on #65931
I use local push notification and firebase messaging.In samsung s9 devices show notification panel when notification coming but Xiomi devices not show.Only app icon show status bar.

[2020-09-16 10:03] pedromassangocode commented on #21737
Is this still a valid issue?

[2020-09-16 10:04] vanlooverenkoen commented on #65834
[code]

This works but only if I set I don't use BoxFit.cover.

![image](https://user-images.githubusercontent.com/21172855/93323288-b486f800-f814-11ea-8c8a-506da6587a4e.png)

Although this works better than before I am still having out of memory crashes.

[2020-09-16 10:05] xu-baolin commented on #65868
Why do you think the generated file render incorrectly? the gap between the two rectangles is the char ` `.

[2020-09-16 10:08] TahaTesser commented on #65804
Hi @tiagoantunes
I copied all the packages from the description, just tried to make sure, the issue isn't reproducible in a new project. it's only reproducing from the official example, there I am getting the same error

![IMG_0190](https://user-images.githubusercontent.com/48603081/93323692-9203d780-f832-11ea-893a-61ca3433b18a.PNG)

<details>
<summary>code sample</summary>

[code]

</details>

<d

[2020-09-16 10:15] TahaTesser commented on #65454
Hi @byoooy
Can you please provide the details asked above https://github.com/flutter/flutter/issues/65454#issuecomment-693083820
Thanks

[2020-09-16 10:15] aaron-chu commented on #63897
@blasten I built a local engine with the current master (commit e16bc5002) branch which includes this fix commit. The sample app doesn't crash now, but there are still showing the following warnings. It seems that even though in the case of `imageOpenedCount` less than `imageReader.getMaxImages()`, the underlying ImageReader still reports too many images are acquired. Is this normal?

<img width="

[2020-09-16 10:15] leszekkrol commented on #14337
Any updated in this case?

[2020-09-16 10:21] darshankawar commented on #65927
@Neojoke
There's a similar open issue describing your case which happens with `google_maps_flutter` plugin instead of `webview_flutter`, [65361](https://github.com/flutter/flutter/issues/65361).
Please follow-up there for updates and any questions.
Closing this as duplicate.

[2020-09-16 10:21] #65927 closed

[2020-09-16 10:22] totalerex commented on #39190
I observed the same issue. As mentioned by @mleonhard, the certificate files must be created in special way. There is additional issue is that **iOS simulator always fails** to verify **self-signed** certificates, but Android emulator behaves well.
So, for me, complete solution is listed in below steps, terminal commands are for macOS, replace values in square brackets (and remove brackets also :)

[2020-09-16 10:22] darshankawar commented on #65928
Hi @samuelhuahui,
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this.
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in

[2020-09-16 10:22] #65928 closed

[2020-09-16 10:23] FroseMan97 commented on #62107
same

[2020-09-16 10:25] darshankawar commented on #65930
Hi @Guennx,
It seems you are using [this](https://pub.dev/packages/youtube_player_flutter) plugin which is a 3rd party. Please consider opening this issue in their repo.
Also, Please see https://flutter.dev/community for resources and asking questions like this.
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flut

[2020-09-16 10:25] #65930 closed

[2020-09-16 10:26] Fchacha opened #65932 "[Flutter doctor] crash on connected devices when web support is enabled running on WSL, FormatException: Missing extension byte"
Hi, I need to work on a web app, howerver flutter crashes during flutter doctor at the connected device steps.

I work on Wsl - Debian.
Chrome installed on Windows 10

## Steps to Reproduce

1. install flutter following every step for linux starting from: git clone https://github.com/flutter/flutter.git
2. export PATH="$PATH:`pwd`/flutter/bin" in .zshrc
3. flutter precache
4. flutter doctor

5. fo

[2020-09-16 10:29] ctrysbita commented on #62521
@justinmc Sure, I'm working for it.

[2020-09-16 10:31] pedromassangocode commented on #25155
Hi @d0bry
Are you still facing this issue? If yes, please provide your `flutter doctor -v`, your `flutter run --verbose`?
Thank you

[2020-09-16 10:33] #61628 closed

[2020-09-16 10:34] pedromassangocode commented on #24723
This does not seems valid anymore, however, There may be a new issue here. The actual message on latest `master` channel is:

[code]

New new issue may be that the logs shows the error message first and then the "Reloaded" message, from my understanding is that Flutter reload first to get the new changes and then it should show the error. If this is valid we definitely should track on a separate i

[2020-09-16 10:34] #24723 closed

[2020-09-16 10:34] bikashKatwal commented on #9471
_searchTextFieldController.clear(); fixed the issue.
In my case, I had a text field to search with close on the suffix. So clicking the suffix was creating this issue, because I was trying to clear the text field by    _searchTextFieldController.text='', Now, instead I replaced the code with _searchTextFieldController.clear(); which fixed my issue.

[2020-09-16 10:37] darshankawar commented on #65931
Hi @KhayyamA47,
This seems to be specific to notifications using Firebase and `flutter_local_notifications` which is 3rd party. For firebase messaging related issue, please consider opening this issue here : https://github.com/FirebaseExtended/flutterfire/issues.
Closing, as this isn't related to Flutter.

[2020-09-16 10:37] #65931 closed

[2020-09-16 10:39] pedromassangocode commented on #49549
Hi @pcrady
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments

[2020-09-16 10:39] #49549 closed

[2020-09-16 10:41] darshankawar commented on #65926
Hi @gumilar1995,
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources.
You may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen

[2020-09-16 10:41] #65926 closed

[2020-09-16 10:43] pedromassangocode commented on #50587
Hi @sanifhimani
I see there's an open issue (https://github.com/flutter/flutter/issues/14809) addressing the case you described.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-16 10:43] #50587 closed

[2020-09-16 10:49] pedromassangocode commented on #52012
Hi @rajeshzmoke
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comm

[2020-09-16 10:49] #52012 closed

[2020-09-16 10:55] TheSuperiorStanislav opened #65933 "DropdownButton cannot progammatically request Focus using `FocusNode.requestFocus`"
## Steps to Reproduce

1. Set up a simple view with many TextField's(first with autofocus: true)  and DropdownButton or DropdownButtonFormField at the bottom.
2. Request  to move focus to Dropdown

**Expected results:**

First TextField loses focus and the screen moves to Dropdown

**Actual results:**

First TextField loses focus, but the screen won't move to Dropdown

**Comment:**

Is it expected

[2020-09-16 10:56] TahaTesser commented on #25766
Just tried on the latest `master` channel, there is no space problem when using a split keyboard after releasing focus form a textfiekd

![ezgif com-resize](https://user-images.githubusercontent.com/48603081/93328398-47d22480-f839-11ea-9288-ed00935a2876.gif)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

If you're still experiencing this issue, please file a new issue with th

[2020-09-16 10:56] #25766 closed

[2020-09-16 10:58] pedromassangocode commented on #52189
Hi @cntoss
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments

[2020-09-16 10:58] #52189 closed

[2020-09-16 11:00] GaryQian commented on #65821
https://github.com/flutter/engine/pull/21213 Removes the initial extraneous call with the keyboard's final position.

Regarding the usage of `final isKeyboardVisible = bottomPadding > 0;`, with the keyboard animating in, this will no longer work since there will be multiple frames with the keyboard inset at zero before it completes its animation. With the animating keyboard feature as-is, this wil

[2020-09-16 11:01] chris-rutkowski commented on #19843
@darshankawar please don't close this issue.
The issue is not a problem but rather an inconvenience.

As @BerndWessels said we cannot simply just return a Widget and make the framework do all the heavy work. Instead, we need to provide some height values.
This is very difficult if the Widget contains text - text can be completely different in many circumstances:
- dynamic text
- translated text
-

[2020-09-16 11:07] TahaTesser commented on #40936
I can reproduce the issue on the latest` master` cannel

![Simulator Screen Shot - iPhone 11 - 2020-09-16 at 16 35 19](https://user-images.githubusercontent.com/48603081/93329442-d5fada80-f83a-11ea-9045-2230af31faae.png)

<details>
<summary>code sample</summary>

[code]

</details>

[code]

[fonts.zip](https://github.com/flutter/flutter/files/5231721/fonts.zip)

<details>
<summary>flutter doctor -

[2020-09-16 11:18] joniaiuser commented on #60313
Hi @liyuqian , this may be a stupid question but I was wondering whether shaders have to be recompiled each time a new app is built? For example if between 2 versions of my app there was only very minimal changes to the code, do I still need to re-run shader compilation or can I use shaders generated from the previous build?

Thank you.

[2020-09-16 11:25] pedromassangocode commented on #28551
Hi @williamdias
Are you still facing this issue? if yes, then please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample and clear steps to reproduce the issue?
Thank you

[2020-09-16 11:27] Colir commented on #65853
@TahaTesser  yep i'will do that before the week ends.

[2020-09-16 11:33] TahaTesser commented on #41239
Hi @vini2001
I am unable to reproduce this using your code in  listview

Please check out this code sample

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Are you still experiencing this issue?
If yes, Can you please provide your `flutter doctor -v` with latest `stable` and `flutter run --verbose` logs, and a [minim

[2020-09-16 11:40] a651828650 commented on #65619
1.17.5

[2020-09-16 11:43] LukasP94 commented on #53490
I have tried also 13.7

[2020-09-16 12:08] jinfagang commented on #11951
@Hixie  @xJon Any standard solution to get the exactly same effect?

[2020-09-16 12:08] darshankawar commented on #65933
Hi @TheSuperiorStanislav,
Dropdownbutton has a property `FocusNode` that you may to use in your code and see if it works.  See [this](https://github.com/flutter/flutter/pull/42811) for reference.

[2020-09-16 12:09] pedromassangocode commented on #27491
The error message was improved but not sure if it fixes this issue.

@GaryQian can you confirm if the actual error message (bellow) solves this issue?

[code]

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-16 12:12] wangfeng211 commented on #62029
I take the same error...

[2020-09-16 12:12] anupgupta2588 commented on #12467
when I pop the screen via pop method then I am getting the same issue in the latest stable version 1.20.4.
But it was working fine with older version of flutter SDK flutter1.12.13+hotfix.5.
I think that something is changed in new version of Flutter SDK(1.20.4).

[2020-09-16 12:13] TheSuperiorStanislav commented on #65933
Hi @darshankawar , yes I know about `FocusNode`. In code example I'm using it, but it still won't work. As I stated earlier, TextField would lose focus, but screen won't move.

[2020-09-16 12:15] ztigunes commented on #53490
If we add a webview as a tabview only and swipe left and right in tabs, both the webview freezes and the swipe between tabpages is broken. (use two finger for swipe and try multi touch)  All tabviews freeze. This situation is still happening on ios 13.6 and above.  if you give a webview as TabBarView with initial url 'https://www.google.com/maps' at 'https://flutter.dev/docs/cookbook/design/tabs'

[2020-09-16 12:15] allwinvinosh commented on #65852
after zoom a image top side image was not accessable,when image excced the container height(300 as mentioned in code)

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/34914140/93335596-56720900-f844-11ea-8efa-ec1ea701f00f.png)

[2020-09-16 12:15] TahaTesser commented on #49136
Hi @mattermoran
I am unable to reproduce this issue using your code sample

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Are you still experiencing this issue?
If yes, Can you please provide your `flutter doctor -v` with latest `stable` and did you try different device than  Samsung Galaxy Note 10
Thank you

[2020-09-16 12:15] gabrielmdc opened #65934 "[in_app_purchase] Get receipt from autorenewal subscription"
Hello,

We are currently integrating the [_in_app_purchase_](https://pub.dev/packages/in_app_purchase) plugin into our application. It went super smooth until we had to deal wit receipts. We are quite uncertain on how to validate and receive the receipt for a single purchase in an **auto renewable subscription**. We are able to make a purchase just fine, but we heard that we need to verify the rec

[2020-09-16 12:19] kw2019ltd commented on #57237
any update?  flutter 1.20.3

Caused by java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/kw.ltd.barcodeapp-tjJ90wNVR4smicOUZ2Fzkw==/base.apk"],nativeLibraryDirectories=[/data/app/kw.ltd.barcodeapp-tjJ90wNVR4smicOUZ2Fzkw==/lib/x86, /system/lib, /vendor/lib]]] couldn't find "libflutter.s

[2020-09-16 12:20] kw2019ltd commented on #32756
@TahaTesser why flutter not able to fix this issue, iam getting this issue from 2019

Caused by java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/kw.ltd.barcodeapp-tjJ90wNVR4smicOUZ2Fzkw==/base.apk"],nativeLibraryDirectories=[/data/app/kw.ltd.barcodeapp-tjJ90wNVR4smicOUZ2Fzkw==/lib/x86

[2020-09-16 12:20] MartinhoMCM commented on #53771
The solution is :
Create a **`ScrollController`** variable (`ScrollController _scrollController`);
Instatiate _scrollController  inside initState() or wherever you want,    `_scrollController = ScrollController();`
Add _scrollController variable inside **Scrollbar**  and **ListView** properties,  **`controller:_scrollController`**

Here's the code:

[code]

[2020-09-16 12:21] kw2019ltd commented on #64697
same

Caused by java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/kw.ltd.barcodeapp-tjJ90wNVR4smicOUZ2Fzkw==/base.apk"],nativeLibraryDirectories=[/data/app/kw.ltd.barcodeapp-tjJ90wNVR4smicOUZ2Fzkw==/lib/x86, /system/lib, /vendor/lib]]] couldn't find "libflutter.so"
       at io.flutter

[2020-09-16 12:21] creativecreatorormaybenot commented on #63467
@mdebbar Definitely still happens on `1.22.0-12.0.pre` (`dev` channel).

[2020-09-16 12:21] kw2019ltd commented on #37566
same

Caused by java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/kw.ltd.barcodeapp-tjJ90wNVR4smicOUZ2Fzkw==/base.apk"],nativeLibraryDirectories=[/data/app/kw.ltd.barcodeapp-tjJ90wNVR4smicOUZ2Fzkw==/lib/x86, /system/lib, /vendor/lib]]] couldn't find "libflutter.so"
       at io.flutter

[2020-09-16 12:26] rlueders commented on #65856
Yes, same performance on for both Android and IOS on  stable.

[2020-09-16 12:31] ptrbrynt opened #65936 "[url_launcher] Launching URLs breaks on iOS 14 with Chrome as default browser"
## Steps to reproduce

1. Install iOS 14 and Chrome
2. Set Chrome as the device's default browser
3. Run the following snippet in a Flutter application on stable (currently 1.20.4)

[code]

## Description

Nothing happens. Expected behaviour is that the URL opens.

The code runs fine when Safari is set as the device's default browser.

[2020-09-16 12:34] stuartmorgan commented on #52267
See https://github.com/flutter/flutter/issues/52267#issuecomment-596815403

Can you elaborate on this? It's not clear to me how we can generated a wrapper file when the tooling doesn't know what needs to be wrapped.

[2020-09-16 12:38] stuartmorgan commented on #64958
No. The C++ code is a convenience utility for use in plugins, so that they don't have to be written against the C API.

No.

[2020-09-16 12:39] Colir commented on #27101
Hi everyone. Has anyone successfully implement @blasten method ?
https://www.youtube.com/watch?v=b1dkJXjuTsg

Thank you

[2020-09-16 12:40] pedromassangocode commented on #45525
Hi @singun-lxd
Are you still facing this issue? If yes, please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-09-16 12:41] TahaTesser commented on #55751
Not sure if I see any gap when testing on iOS 13.7 iPhone8
Is this specific to iOS 12?

![ezgif com-resize (1)](https://user-images.githubusercontent.com/48603081/93338475-02692380-f848-11ea-83a4-1ade4970bb7e.gif)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-16 12:42] darshankawar commented on #65932
Hi @Fchacha,
What happens if you run `flutter devices` ? Can you share output of it ?
Thanks.

[2020-09-16 12:48] Xgamefactory opened #65937 "Google Maps Flutter - Maps not rendering tiles but Google sign only. ONLY on Redmi 9 and only on RELEASE mode"
Hi,
We are facing this google maps not rendering tiles issue only on redmi 9 device with android 10 sdk29 and only in release mode.
On ios, and samsung devices maps plugin works as expected both on release and debug version.

On remdi 9 devices map tiles rendering only on debug mode but not on RELEASE.

[code]

[2020-09-16 12:49] TahaTesser commented on #57848
Hi @MohiuddinM

Are you still experiencing this issue?

If yes, Can you please provide your `flutter doctor -v` with the latest `stable` and `flutter run --verbose`
Thank you

[2020-09-16 12:50] sma opened #65938 "[NNBD] Conflicting generic type in Navigator's push methods"
In class `Navigator`, there is `Future<T> push<T>(Route<T> route)` and `static Future<T> push<T extends Object>(BuildContext context, Route<T> route)`. The latter restricts `T` to a subclass of `Object` which means that a `Route<void>` doesn't work here. I think, it should be possible to use such a route with both variants. The same if true for other variants of push or replace.

If there is a rea

[2020-09-16 12:55] androidgj commented on #37670
Same problem with me.

[2020-09-16 12:59] ArvindMewada commented on #53907
`[ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: FileSystemException: Cannot retrieve length of file, path = '(/data/user/0/com.docvita.consult/cache/file_picker/Offer Letter (1).pdf)' (OS Error: No such file or directory, errno = 2)`

[2020-09-16 12:59] pedromassangocode commented on #46065
Hi @jerryzhoujw
I noticed that you were testing on a iOS device but this feature is currently supported on Android devices only.

I'm closing this as a duplicate of https://github.com/flutter/flutter/issues/4703. Please follow up on that issue for updates.

[2020-09-16 12:59] #46065 closed

[2020-09-16 13:05] TahaTesser commented on #61324
Hi @hassan-2040
I am also unable to replicate h issue on Android 10,  Are you still experiencing this issue?

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

If yes, Can you please provide your `flutter doctor -v` with the latest `stable` and `flutter run --verbose` logs
Thank you

[2020-09-16 13:05] pedromassangocode commented on #46156
Hi @omarhuss
Are you still facing this issue? If yes, please provide your `flutter doctor -v`, your `flutter run --verbose`?
Thank you

[2020-09-16 13:08] darshankawar commented on #65852
Hi @allwinvinosh,
I tried to replicate the issue on latest stable (1.20.4) but was able to interact / rotate the image outside of the container height. Not sure if this is what the issue or am I missing anything.

[65852.mp4.zip](https://github.com/flutter/flutter/files/5232359/65852.mp4.zip)

[2020-09-16 13:10] bagintz commented on #55443
@mraleph ok, it seems I was wrong.  It wasn't Firebase App Distribution (although it does seem they might not want to allow duplicate build numbers ??).

It was actually a "fake" SVG file, one that has the image embedded in it, as mentioned in https://github.com/flutter/flutter/issues/63894

Once we got that updated to a true vector graphic SVG the crashes stopped.  Thanks!!

[2020-09-16 13:11] Fchacha commented on #65932
it oppens 2 instances of chrome on default window

$> flutter devices
[code]
---

and the log:

## command

flutter devices

## exception

FormatException: FormatException: Missing extension byte (at offset 87)

[code]

## flutter doctor

[code]

Thanks for helping.

[2020-09-16 13:13] darshankawar commented on #65905
@v7lin is it working as intended now ?

[2020-09-16 13:20] TahaTesser commented on #51153
Hi @hicnar
Are you still experiencing this issue?

If yes, Can you please provide your `flutter doctor -v` with the latest `stable` and `flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)
Thank you

[2020-09-16 13:22] SilvesterLi commented on #58583
try to delete the build/app folder, I think it will be helpful.

[2020-09-16 13:22] v7lin commented on #65905
I dont agree. '\r' dont have chinese equivalent character.

[2020-09-16 13:23] darshankawar commented on #65933
@TheSuperiorStanislav Please check [this](https://github.com/flutter/flutter/issues/42646#issuecomment-541682477) solution and see if it works for you.
Also take a look at [this](https://stackoverflow.com/questions/60977101/how-to-focus-on-dropdownbuttonformfield-in-flutter-using-focusnode) solution.
Thanks.

[2020-09-16 13:27] mraleph commented on #55443
@bagintz which version of Flutter are you on? I just want to check that maybe the issue you have linked to should be reopened.

[2020-09-16 13:34] ZeroCool2u commented on #63220
Running into the same issue on local OS X/iOS builds that were upgraded from 1.X.

[2020-09-16 13:35] BringTheChill commented on #57997
where u should put this?

[2020-09-16 13:38] TomatoBread-web opened #65939 "flutter has exited unexpectedly: "FileSystemException: Cannot copy file"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

] Flutter (Channel stable, v1.17.3, on Microsoft Windows [Version 10.0.18362.1082], locale ja-JP)
    • Flutter version 1.17.3 at C:\Users\spesc_000\Desktop\FlutterDev\flutter
    • Framework revision b041144f83 (3 months ago), 2020-06-04 09:26:11 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[√] Android toolchain - d

[2020-09-16 13:38] TetsuFe commented on #64916
What is the cause of this problem?

[2020-09-16 13:38] darshankawar commented on #65856
@rlueders how are you measuring the lag ?

[2020-09-16 13:43] frankvollebregt commented on #65939
I assume you have tried rebooting your machine? For me in practice, with errors like these (access denied) it's usually got to do with some other program or process holding the file 'hostage'.

[2020-09-16 13:43] rlueders commented on #65856
Running the sample app and counting from the time the app/map loads until the poly line loads. There is not much need for precision here since the performance discrepancy is so dramatic.

[2020-09-16 13:49] george32451 opened #65940 "TextPainter.didExceedMaxLines method is always returning false on Web"
## Minimal Setup
[code]

## Problem
If i'm running this minimal app on iOS/Android the `print(textPainter.didExceedMaxLines)` method inside `paint` method of `MyPainter` class will print `true`, if the given text is actually long and isn't fit to the specified constraints, otherwise it will print `false` (Works as expected);

But if I'm building this app for the web, `print(textPainter.didExceedMa

[2020-09-16 13:53] FroseMan97 commented on #65834
Same, on iOS devices. Memory issue. Reproduce: Open screen with Image widget, close screen. The memory keep increase

[✓] Flutter (Channel beta, 1.21.0-9.2.pre, on Mac OS X 10.15.6 19G2021, locale ru-RU)

[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.0)
[✓] Xcode - develop for iOS and macOS (Xcode 11.7)
[✓] Chrome - develop for the web
[✓] Android Studio (version 4.

[2020-09-16 13:55] TomatoBread-web commented on #65939
Thank you for the fast reply!
I see... and,yes, I rebooted my machine, and this error popped up when I tried to create a new project.
I'm a noobie in the software development world, and I've just finished going through the installation and setup needed, so I really don't know how to counter this...
Should I try rebooting my machine once again? (which sounds like I will make the same mistakes)
Or,

[2020-09-16 13:57] dannyvalentesonos opened #65941 "[Add2App] Android leaks the FlutterView from 1.22.0-12.0.pre"
A new leak has appeared in Flutter **1.22.0-12.0.pre** which wasn't present in **1.22.0-9.0.pre**

![mem_leak_1 22 0-12](https://user-images.githubusercontent.com/40898687/93347152-c2338200-f802-11ea-83de-26a71c8a8db8.png)

A sample app that reproduces this:
[Add2AppTest-1.22.0-12.0.pre-dev.zip](https://github.com/flutter/flutter/files/5232598/Add2AppTest-1.22.0-12.0.pre-dev.zip)

[✓] Flutter (Cha

[2020-09-16 13:57] ssantanuberaa opened #65942 "[linux] App doesn't render Bengali language characters properly"
Hello Flutter Team,
I am building a Desktop application using flutter on Linux environment. But it doesn't support characters of Bengali language. Following is a sample code that I was trying out -
[code]
If I run the same code for mobile application, the Bengali characters shows perfectly, but in Desktop application it fails to show the character. Instead it shows a square box in place of the cha

[2020-09-16 13:58] dannyvalentesonos commented on #65941
A new leak is encountered in the Android Add2App API very often. Almost every time we update the Flutter SDK. Is there any test coverage around this?

[2020-09-16 14:07] jonahwilliams commented on #65932
The contents of flutter_04 should have more of the stacktrace too

[2020-09-16 14:13] vanlooverenkoen commented on #62107
#65834 Could be related

[2020-09-16 14:13] Sasikumar3595 commented on #65824
Hi @darshankawar,

Android platform also makes delay when the painting count increased. If we increase the loop count the delay will shown on mobile platforms also.

Thanks in Advance.

[2020-09-16 14:16] wenxiangjiang opened #65943 "Divisions of Slider widget does not work as expected when setState() max value and current value at the same time"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the `main.dart` as follows:

[code]

![001](https://user-images.githubusercontent.com/10527100/93349481-1b82cc00-f86a-11ea-9696-59b1e28fe86c.gif)

**Expected results:**

value of Slider move to right place when I click floatingActionButton once.

**Actual results:**

value of Slider move to right place when I click floatingActionButton

[2020-09-16 14:17] bkonyi commented on #61259
There's a WIP at https://github.com/flutter/flutter/pull/65873. Still think P3 is accurate.

[2020-09-16 14:20] flutterfrank commented on #36350
I have the same issue too.

[38;5;248m════════ Exception caught by gesture library ═══════════════════════════════════[39;49m
[38;5;244mThe following assertion was thrown while dispatching a pointer event:[39;49m
'package:flutter/src/gestures/monodrag.dart': Failed assertion: line 379 pos 12: '_initialButtons == kPrimaryButton': is not true.

[38;5;248mEither the assertion indicates an error

[2020-09-16 14:21] darshankawar commented on #65886
@nikpozdnyakov fair point. reopening.

[2020-09-16 14:23] darshankawar commented on #65886
@nikpozdnyakov I see there's now a new open issue without using the 3rd party plugin, [65940](https://github.com/flutter/flutter/issues/65940). Please follow-up there for updates.
Closing this as duplicate.

[2020-09-16 14:23] #65886 closed

[2020-09-16 14:24] dospringer commented on #65102
Same here, I get the error last week.

[2020-09-16 14:26] darshankawar commented on #65939
@TomatoBread-web
You are on an old version of Flutter. Please upgrade to latest stable or latest master and try again to see if it works.
Thanks.

[2020-09-16 14:26] dospringer commented on #65102
flutter doctor -v
[✓] Flutter (Channel stable, 1.20.4, on Mac OS X 10.15.6 19G2021, locale en-DE)
    • Flutter version 1.20.4 at /Users/username/Code/DevTools/flutter/flutter
    • Framework revision fba99f6cf9 (2 days ago), 2020-09-14 15:32:52 -0700
    • Engine revision d1bc06f032
    • Dart version 2.9.2

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    • An

[2020-09-16 14:31] cntoss commented on #52189
this issue was solved by using pageBuilder

On Wed, Sep 16, 2020 at 4:43 PM Pedro Massango <notifications@github.com>
wrote:

[2020-09-16 14:35] andrefauth commented on #63908
That worked for me!

[2020-09-16 14:40] Xgamefactory commented on #65937
i found solutions .
if you are restricting usage to certain android app with bundle id
you should insert sha1 fingerprint for release and debug as there are different.

[2020-09-16 14:40] #65937 closed

[2020-09-16 14:40] 0-php commented on #32537
i am not sure if you have time you can check

[2020-09-16 14:42] bagintz commented on #55443
@mraleph

Flutter 1.20.2 • channel stable • https://github.com/flutter/flutter.git
Framework • revision bbfbf1770c (5 weeks ago) • 2020-08-13 08:33:09 -0700
Engine • revision 9d5b21729f
Tools • Dart 2.9.1

[2020-09-16 14:46] berrylawchingman commented on #32537
👍

[2020-09-16 14:47] berrylawchingman commented on #65937
🦾

[2020-09-16 14:48] berrylawchingman commented on #55443
🙏🏻

[2020-09-16 14:50] ozz-rjq commented on #58409
Having the same issue with flutter v1.20.3 and ios 10.3 simulator

[2020-09-16 14:58] pedromassangocode commented on #65909
Hi @Gaoxichao
Can you please provide clear steps to reproduce the issue? In the code you provided there is no click listener for the image but you are saying that the issue is about image click.
Thank you

[2020-09-16 15:00] ndawod commented on #65938
This is a recent change (horrible decision, btw) in Fluter -- it was possible to use void juat yesterday.

The same can be said about many of the changes from today's upgrade. Apps are breaking because of the nullability changes.

[2020-09-16 15:03] mehmetf commented on #65821
This flag does not need to resolve immediately when IME starts showing up. Biggest concern is its stability; it should not flip-flop to true/false while the animation is ongoing. It is OK for it to switch to true only when keyboard is fully visible.

[2020-09-16 15:08] pedromassangocode commented on #32537
Please check when you have time.
Thank you

[2020-09-16 15:09] TahaTesser commented on #65940
<details>
<summary>code sample</summary>

[code]

</details>
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-16 15:10] esskar commented on #53771
@MartinhoMCM i pretty much did that. i will try to reproduce the problem in a full working example

[2020-09-16 15:13] tvolkert commented on #36543
Fixed by #65695

[2020-09-16 15:13] #36543 closed

[2020-09-16 15:24] mehmetf commented on #65841
I have been contemplating it @pedromassangocode . One way is to provide a Dart API to create a mutable policy that can be set. We discussed this at length with the Dart SDK team before and it was undesirable because mutable global state is a recipe for disaster and undermines security no matter how many locking mechanisms we provide.

I have two AIs for this issue:

1. Fix base-config handling. Th

[2020-09-16 15:27] HansMuller commented on #65942
CC @shihaohong

[2020-09-16 15:27] gouravd commented on #64430
While i generate repro, I would like to state the podfile is edited , here's the complete one

# Uncomment this line to define a global platform for your project
platform :ios, '11.0'

# CocoaPods analytics sends network stats synchronously affecting flutter build latency.
ENV['COCOAPODS_DISABLE_STATS'] = 'true'

project 'Runner', {
  'Debug' => :debug,
  'Debug-tejimandiBeta' => :debug,
  'Profil

[2020-09-16 15:30] TahaTesser commented on #65943
Hi @wenxiangjiang
Looks like you're resetting currentValue
You should probably do something like this
[code]

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-16 15:34] HansMuller commented on #65874
This a good suggestion for improving Flutter's a11y support. Factoring reduceMotion into the widget implementations would take a considerable effort.

CC @chunhtai

[2020-09-16 15:38] wenxiangjiang commented on #65943
Hi @TahaTesser

The point of what I describe is the value of Slider don't move to right place (5 / 15) when I click floatingActionButton immediately. It stays between fourth point and fifth point.

[2020-09-16 15:39] TahaTesser commented on #65942
Hi @ssantanuberaa
I can reproduce it on Linux only, macOS desktop app renders fine
**Linux**

![image](https://user-images.githubusercontent.com/48603081/93359761-99da7080-f860-11ea-9aa9-d8286ccdbbc6.png)

**macos**
<img width="400" alt="Screenshot 2020-09-16 at 9 08 52 PM" src="https://user-images.githubusercontent.com/48603081/93360094-e4f48380-f860-11ea-8e8a-1076fe8c688d.png">

<details>
<summa

[2020-09-16 15:40] williamdias commented on #28551
Hi @pedromassangocode

It's been a while since opened this issue. As I'm not currently working with flutter, I did not have the chance to test if it is still present in newer releases. However, in my original post you can find `flutter doctor -v` output and a [repo](https://github.com/williamdias/flutter_textformfield_issue) with a reproducible code sample.

Feel free to close the issue if needed.

[2020-09-16 15:41] HansMuller commented on #65783
That would also mask the case where the developer had inadvertently used a Hero tag that was not unique.

Why not just construct a unique tag in this case?

[2020-09-16 15:42] ianspryn opened #65946 "Adding a contentPadding parameter to CheckBoxListTile"
## Use case

In using a `CheckboxListTile()` and setting the `secondary` parameter to an image (and not an icon like usual), I want there to be no padding so that I can produce something like the following:

![image](https://user-images.githubusercontent.com/4182500/93358063-0af13800-f80f-11ea-9328-51f715d216aa.png)

But with using a `CheckBoxListTile()`, the best I can do is the following. Notice

[2020-09-16 15:45] YeungKC commented on #64266
It's actually not just on the web, it's about framework mouse wheel handling, which removes web tags.
I will submit a pr to fix this issue as soon as possible.

cc @gspencergoog

[2020-09-16 15:46] AAverin commented on #65783
@HansMuller The problem of constructing unique tag is that it has to be equally unique in both source Hero and destination Hero, otherwise animation would not work.
Also, if you imagine an architecture that is purely data driven, where every component/widget just respects some data description and doesn't contain any business logic, it might get even more difficult to construct a unique tag.

I wo

[2020-09-16 15:46] PixelToast commented on #65943
This definitely looks like a bug in the Slider widget, thanks for reporting it!

[2020-09-16 15:49] ydotmalik commented on #65897
If launch my Flutter app from Xcode using the 'Runner' scheme, I observe bundle identifier is correct, which I verified by using the Console app on macOS. If I do ```flutter build ios --debug```, I observe the bundle identifier is always the release version.

[2020-09-16 15:49] cbalmeida commented on #51447
I solved it by calling `this.getIntent().putExtra("enable-software-rendering", true)` on MainActivity.onCreate:

[code]

[2020-09-16 15:50] sma commented on #65938
Some time ago I ported a 7000 LOC app to NNBD and now I regularly check the progress and this was the first problem so far. Therefore, I can't deny or confirm other breakage :) I was able to work around this problem by using `Navigator.of(context).push()` and my app still runs.  BTW, I don't think this is a documentation bug but a a typing error.

[2020-09-16 15:50] HansMuller commented on #65782
Thanks for the comprehensive report. As you may know, we're in the process of updating the theme system per https://flutter.dev/go/material-theme-system-updates.

@darrenaustin - can you provide an update about where we are with flutter.dev/go/text-selection-theme?

[2020-09-16 15:55] montogeek commented on #25630
Any update for this feature?

[2020-09-16 15:57] Calamity210 commented on #65946
Unless I'm misunderstanding your issue, `CheckboxListTile` already has `contentPadding`. Take a look at https://api.flutter.dev/flutter/material/CheckboxListTile/contentPadding.html and https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/checkbox_list_tile.dart

[2020-09-16 16:04] FroseMan97 commented on #65834
the application consumes more memory compared to version 1.12.13

[2020-09-16 16:14] cyanglaz commented on #53490
@ztigunes What you described could be a different issue. I will give it a try and get back to you.

[2020-09-16 16:20] ttencate commented on #65747
Great to hear that you were able to repro it @darshankawar, and that it does seem to be consistently dependent on the device.

I've made a stripped down version that will hopefully exhibit the same behaviour. I tried to match the original controller code fairly closely, including when widgets get rebuilt, so it's still about 250 lines. I didn't throw away more for fear of removing something that's

[2020-09-16 16:21] lukaspili commented on #19843
At this point, we have to manually layout dynamic text in order to measure the height and provide it to `SliverPersistentHeaderDelegate`. It's cumbersome, error prone and could be automatically done by the widget or a helper.

[2020-09-16 16:25] xJon commented on #11951
See my answer over https://stackoverflow.com/a/62137478

[2020-09-16 16:27] xster commented on #60025
May or may not be possible: could we make these appear when building in GN as well? Or tweak IosUnitTests to error on warnings?

[2020-09-16 16:30] hossam-zaki commented on #44718
I am having the same issue on the most recent release

[2020-09-16 16:32] ianspryn commented on #65946
My apologies, I failed to ensure I was on the latest version of Flutter.

Yes, that is exactly what I was needing!

[2020-09-16 16:32] #65946 closed

[2020-09-16 16:32] jmagman commented on #60025
@xster I merged https://github.com/flutter/engine/pull/21203 last night to make that easier.

Adding `-Wquoted-include-in-framework-header` to [copy_and_verify_framework_module](https://github.com/flutter/engine/blob/2226c2a1ec9644d37ff25f246a9d81c326320f8b/shell/platform/darwin/ios/BUILD.gn#L308-L315) makes the warning show when building the engine:
[code]

My first attempt at fixing this is at h

[2020-09-16 16:33] SteveAlexander opened #65948 "Crash on startup on iPad when app includes platform-specific code"
I'm on the latest Flutter Stable, with up-to-date cocoa pods, MacOS Catalina
10.15.6. I'm going to create a new app, check I can run it in debug mode on the
iPad (iOS 13.7) using `flutter run`, then add the
[sensors](https://pub.dev/packages/sensors) package, and see if it still runs.

I expect it to run both times, but what I actually find is that it crashes on
launch after I add the "sensors" pa

[2020-09-16 16:33] chinmaygarde commented on #16291
No. Both discussed optimizations ([loading assets by mapping](https://github.com/flutter/engine/blob/2226c2a1ec9644d37ff25f246a9d81c326320f8b/shell/common/engine.cc#L545) and [Dart views into native mappings](https://github.com/flutter/engine/blob/2226c2a1ec9644d37ff25f246a9d81c326320f8b/lib/ui/window/platform_message_response_dart.cc#L46)) are in place.

[2020-09-16 16:33] #16291 closed

[2020-09-16 16:33] stuartmorgan commented on #65942
Duplicate of https://github.com/flutter/flutter/issues/30700

[2020-09-16 16:33] #65942 closed

[2020-09-16 16:34] xster commented on #60025
oh awesome, thanks!

[2020-09-16 16:35] Abhishek01039 commented on #65939
Possible the Duplication of https://github.com/flutter/flutter/issues/49874

[2020-09-16 16:36] gspencergoog commented on #65233
As Adam Savage would say: "Well, there's your problem!"

Although it's not your problem, it's Flutter's: we're translating the physical scan code for the remote as if it were a keyboard, and it's not, so the scan code is mapping to a "Control Right" even though it's not a control key. And the reason the assertion is firing is because although the physical key purports to be a control key, the corr

[2020-09-16 16:40] jmagman commented on #60025
Would really just like combining Flutter/FlutterMacOS into one fat `Flutter.framework`/`Flutter.xcframework` so Catalyst would work out of the box...

[2020-09-16 16:47] gspencergoog commented on #65233
And I'm not quite sure what to do here: the physical key mapping only makes sense when the input is a keyboard, but we use the physical key scancode to make sure that we match the appropriate key down with the right key up.  Perhaps we need to just not synchronize the modifiers if the source isn't a keyboard.

[2020-09-16 16:49] chunhtai commented on #65777
The stock app rewrite pr has not been merged yet https://github.com/flutter/flutter/pull/63424

[2020-09-16 16:51] dotdoom opened #65952 "flutter driver tap/waitFor timeout stack trace does not include test stack"
## Steps to Reproduce

Please see the full example application, test and logs at https://github.com/flutter/flutter/issues/16383#issuecomment-664959448.

**Expected results:**

Line number where `driver.tap` or `driver.waitFor` code is located in the test is present in the stack trace.  This is especially useful when there's more than one `tap` or `waitFor` call within a test.

**Actual results:**

[2020-09-16 16:53] mrigankdoshy commented on #39032
Any fix for this yet?

[2020-09-16 16:54] xster commented on #65402
I'm bumping the priority on this one a bit since it'll affect all users creating new projects on iOS then running on iOS 14 physical devices AFAICT. @jmagman could you take a look? Is suspect our polling is a bit spread out to catch a small delay in the user clicking through the network dialog.

[2020-09-16 16:56] kf6gpe commented on #59879
@a-siva, is there someone that can take a look at this with Chinmay?

Thanks!

[2020-09-16 16:56] amarildolacerda opened #65953 "DatePickerEntryMode.calendar -> dont change year"
in   "await showDatePicker(" with DatePickerEntryMode.calendar at initialEntryMode, dont return changed year.

this occur  in  "void _handleYearChanged(DateTime value) {" cause dont update var _selectedDate.

workaroud:
<pre>
void _handleYearChanged(DateTime value) {
    _vibrate();

    if (value.isBefore(widget.firstDate)) {
      value = widget.firstDate;
    } else if (value.isAfter(widget.las

[2020-09-16 17:02] dotdoom opened #65954 "[flutter_driver] when running test, capture the state of the application in case of failure"
## Use case

When running a Flutter Drive test, capture the state of the application in case of failure.

State may include some whitebox data (e.g. retrieved via `requestData` if connection isn't completely broken), or blackbox data (screenshot).

Especially useful when a flaky test is failing at CI but passing at developer's workstation.

## Proposal

Driver exposes an `errors` stream with error

[2020-09-16 17:05] Abhishek01039 commented on #65953
Hi @amarildolacerda
This platform is not meant for your personal code assistance.
please ask your question here https://flutter.dev/community or in stackoverflow.
Thanks.

[2020-09-16 17:13] lukasloh commented on #61047
Any updates? I think that iOS 14 is rolling out anytime now.

[2020-09-16 17:22] Jeremywhiteley commented on #61047
IOS 14 is already out now!  Does Flutter support IOS 14 home widgets?

[2020-09-16 17:36] JoorgeFerrari commented on #58113
I regenerate the project using stable channel, and still can't get the app to run

[2020-09-16 17:38] amirh commented on #41685
Closing per @valconetti comment above

[2020-09-16 17:38] #41685 closed

[2020-09-16 17:40] yulkin2002 opened #65955 "[google_sign_in] onCurrentUserChanged.listen doesn't get called from a different page after logging in"
## Steps to Reproduce
Run app, click on the Sign in with Google button and sign in with your google account credentials

it appears that the following code inside the home_screen.dart doesn't get executed:
[code]

**Expected results:**
User is taken to the home screen
home screen displays the following text: "isLoggedIn = true"

**Actual results:**
User is taken to the home screen
home screen disp

[2020-09-16 17:42] hesham-seddik commented on #14137
For those of you who tried all mentioned solutions and found none working, this might be worth a shot.

In my case, at first I had the `google_sign_in` package installed and made it work with some effort. The exception rose, however, when I added the `flutter_facebook_login` package. I messed setting up the facebook plugin, and, in turn, it somehow made most (if not all) other packages I specified

[2020-09-16 17:43] amirh commented on #51352
Closing per @valconetti 's comment. url_launcher seems to be properly forwarding the URL to the platform, abstracting the different URL schemes is out of scope for url_launcher, users should make sure to use URL schemes that are valid for the underlying platform.

[2020-09-16 17:43] #51352 closed

[2020-09-16 17:45] amirh commented on #60294
closing per @Sempakonka's comment

[2020-09-16 17:45] #60294 closed

[2020-09-16 17:51] liamappelbe commented on #61407
Hi @jonahwilliams. [This cl](https://dart-review.googlesource.com/c/sdk/+/162943) caused frontend_server_test to fail on windows. Logs are [here](https://dart-ci.appspot.com/log/pkg-win-release/unittest-asserts-release-win/12997/pkg/frontend_server/test/frontend_server_test).

[2020-09-16 17:52] amirh commented on #63727
Let's update the documentation for url_launcher's canLaunch to mention permissions as well.

[2020-09-16 17:52] timsneath commented on #61047
Just posted, here:
https://medium.com/flutter/supporting-ios-14-and-xcode-12-with-flutter-15fe0062e98b

[2020-09-16 17:53] jonahwilliams commented on #61407
Will take a look, looks like the file paths are probably wrong.

[2020-09-16 17:55] liyuqian commented on #14316
Upvote (thumb up) would make it more visible. This issue is definitely on Flutter team's radar.

[2020-09-16 17:59] cyanglaz commented on #65556
Updated:
It is not fixed by flutter/engine#21059
Looks like engine log is not printing for me so it is hard to debug. One thing I find is if I remove the animating overlay widget, the crash doesn't happen.
So looks like it might be related to how the overlay works with thread merging while app is starting up.
It might also be related to constant submitting frames when the threads are merged.

[2020-09-16 18:10] HudsonAfonso opened #65956 "required or @required?"
https://github.com/flutter/flutter/blob/0220c3585c12e3f9d3bb778d90b5476b0316a8e8/packages/flutter/lib/src/widgets/scroll_view.dart#L1137

required or @required?

[2020-09-16 18:10] chingjun commented on #52267
When the kernel compiler is called, it is given a `mainPath` (usually `lib/main.dart`). We could generate a wrapper file like so:

[code]

Then we do what is discussed above, the engine will call `registerPlugins` before calling the real entry-point method that the user specifies.

The dill file compiled from the wrapper we created should contain both the `registerPlugins` method and the rest of t

[2020-09-16 18:11] aseef17 commented on #61047
Hey @Jeremywhiteley
I understand your eagerness about working with the new widgets and I'm pretty sure that the flutter team is working hard to support iOS14.
Applications built and targeted for iOS13 do work in iOS 14 without any issues and we just deployed an application couple of weeks ago. It worked completely fine during with iOS public beta and works fine with the stable iOS 14 release.
All