[2016-05-20 19:09] devoncarew commented on #4072
Yeah, just getting the number up there would help. We could then work to graph it separately.

/cc @pq

[2016-05-20 19:15] #4037 closed

[2016-05-20 20:13] MitchRudominer commented on #4077
When I comment out the entire body of the calculator from my build() method and leave only the Scaffold with an AppBar the Performance overly still shows me 6.3 frames per second.

[2016-05-20 20:15] MitchRudominer commented on #4077
This is on an old Nexus 5.

[2016-05-20 20:23] Hixie commented on #4077
cc @HansMuller in case it's the appbar.

[2016-05-20 20:39] eseidelGoogle opened #4080 "flutter create should include a test"
There are a bunch of steps to set up your dev_dependencies and write the small amount of test boilerplate.  I think we should consider including an example test.  @Hixie @devoncarew

[2016-05-20 20:43] Hixie opened #4081 "test framework in live mode should relayout and repaint if you rotate device"

[2016-05-20 20:50] Hixie opened #4082 "Consider a different default dimension than 800x600 for tests"
It makes @eseidelGoogle unhappy. :-)

[2016-05-20 20:51] Hixie opened #4083 "flutter create should create an app with a default test"
We should make it trivial to test flutter apps, and part of that is having a trivial path to your first test.

[2016-05-20 20:52] eseidelGoogle commented on #4082
Just is one more thing to explain when giving someone a demo of flutter.

[2016-05-20 21:02] Hixie opened #4084 "flutter should fail hard if the pubspec.yaml file of a project points to a different flutter package than expected"
We're getting numerous cases of people having multiple flutter checkouts but having the "flutter" tool not correspond to the directory to which their code points, leading to huge confusion.

[2016-05-20 21:03] Hixie commented on #4083
dup of https://github.com/flutter/flutter/issues/4080

[2016-05-20 21:03] #4083 closed

[2016-05-20 21:04] Hixie commented on #4082
What dimension would you want us to default to?

[2016-05-20 21:13] eseidelGoogle opened #4085 "flutter doctor should warn if `flutter` and pubspec.yaml flutter don't match"
I thought this was already on file, but I don't see it.

We've seen now multiple reports of this confusion on flutter-dev.  FYI @devoncarew

[2016-05-20 21:21] Hixie commented on #4085
I beat you to this one by ten minutes. https://github.com/flutter/flutter/issues/4084 :-P

[2016-05-20 21:21] #4085 closed

[2016-05-20 21:21] Hixie commented on #4084
cc @devoncarew

[2016-05-20 21:24] eseidelGoogle commented on #4082
Well, just like 800x600 was the defacto size of the time, I'd just pick Nexus 5 or current iPhone portrait screen size.  Anything portrait would be better than 800x600. :)

[2016-05-20 21:41] #3089 closed

[2016-05-20 21:45] Hixie commented on #3247
It's --debug now.

[2016-05-20 21:45] Hixie commented on #3247
The term "slow mode" was picked over "debug" intentionally, because it was trying to stop people asking "why is it slow".

[2016-05-20 21:54] Hixie commented on #3772
cc @jason-simmons

[2016-05-20 22:04] Hixie commented on #3872
Closing this for now. If we can get the VM to imply types from the declaration (LHS) to the definition (RHS) then I think we should consider removing the requirements on types on the definition. The left hand side needs to be explicit to enable code scanning, though, as described above.

[2016-05-20 22:04] #3872 closed

[2016-05-20 22:07] Hixie commented on #3758
Closing this since @HansMuller provided an example of how to hand-roll this. We decided not to provide this at the framework level since it's off-spec behavior.

[2016-05-20 22:07] #3758 closed

[2016-05-20 22:28] pq commented on #4072
👍  I'd love to be tracking this.

[2016-05-20 22:40] HansMuller commented on #4077
I'm testing on a Nexus 5X.

If I comment out the body of the calculator, I see about 50-60FPS, with all the work being done in the GPU.
[code]

![perf](https://cloud.githubusercontent.com/assets/1377460/15443957/0f5695d0-1ea1-11e6-8414-7682128c9fee.png)

[2016-05-20 22:44] aghassemi opened #4087 "Support Route Params"
Currently `onGenerateRoute` is the only way to handle dynamic routes and developers have to manually split the route to get the dynamic parts out. We should provide some basic route param support and leave `onGenerateRoute` for more complex cases.

Maybe `:param` and `:optionalParam?` to start with.
e.g.

[code]

[2016-05-20 23:21] Hixie commented on #4072
https://github.com/flutter/flutter/pull/4088

[2016-05-21 00:06] glenfordwilliams opened #4089 "unable to debug"
## Steps to Reproduce

tried running the app using the flutter atom plugin but the device screen was blank followed by the following in the atom console

[code]

note though that even though it does not work trying to use atom-flutter to launch and debug, launching the installed package on the device works

## Flutter Doctor

[code]

## Logs and Crash Reports

I later tried running it from the com

[2016-05-21 00:10] eseidelGoogle commented on #4089
http://stackoverflow.com/questions/2914105/android-what-is-install-parse-failed-no-certificates-error mentions `ant`, I wonder if our (out of date) dependence on `ant` is related.  @jason-simmons?  https://github.com/flutter/flutter/issues/3917

[2016-05-21 00:17] Hixie opened #4090 "replace "flutter run -t <foo>" with just "flutter run <foo>""
...for symmetry with "flutter test <foo>", "flutter analyze <foo>", etc.

[2016-05-21 00:18] Hixie opened #4091 ""flutter analyze <foo>" should only analyze <foo>"
--current-directory and --current-package should default to false if there's an explicit file given to analyze.

[2016-05-21 05:08] abarth commented on #4082
Awww...  ok.  I kind of liked that it was a reference to our past, but if it's causing trouble we can change it.  /me isn't looking forward to rewriting the tests that depend on it though.

[2016-05-21 05:12] abarth commented on #4087
Yeah, we probably want something similar to https://pub.dartlang.org/packages/shelf_route .  I wonder if we can share code or ideas with the shelf web server.

[2016-05-21 05:12] sethladd commented on #4087
cc @kevmoo

[2016-05-21 06:00] kevmoo commented on #4087
The "shelf model" works really well. Based off proven patterns in rails, node and other places.

Ping @nex3 and me if you want to chat...

[2016-05-21 14:56] jimbeveridge opened #4094 "White on white is hard to see with tab selection indicator"
The default color for the tab selection indicator is white, and the default color for the background is also white (or very close to white). The tab indicator gets lost against the background.

## Steps to Reproduce

Run the Flutter Gallery
Select Components
Select Tabs
Notice this result:

![flutter_01](https://cloud.githubusercontent.com/assets/7953123/15449099/f5efbf30-1f28-11e6-8b3e-87a3be52ba

[2016-05-21 15:05] jimbeveridge opened #4095 "Crash on Android"
## Steps to Reproduce

(Running on Nexus 9 with Marshmallow)

1. Run my demo app
2. Hit "Back"
3. Run the Material Gallery
4. Hit "Back"
5. Run demo app again to bring up the existing instance
6. May have to repeat this process a couple of times.

## Flutter Doctor

[code]

## Logs and Crash Reports

[code]

[2016-05-21 18:40] HansMuller commented on #4094
The tab indicator color is specified by the theme. So you should  be able to wrap your TabBar with
[code]

[2016-05-21 18:48] abarth commented on #4094
ThemeData doesn't inherit, so you'd probably want to start with the current theme as a base and use `themeData.copyWith(indicatorColor: yourIndicatorColor)` to make a copy with the new indicator color.  Unfortunately, `themeData.copyWith` doesn't exist yet.  ;)

[2016-05-21 18:52] HansMuller opened #4096 "ThemeData doesn't inherit from the enclosing Theme"
And a ThemeData.copyWith() method isn't provided.
https://github.com/flutter/flutter/issues/4094#issuecomment-220794182

Say someone just wanted override the current theme's indicator color....

[2016-05-21 18:52] HansMuller commented on #4094
https://github.com/flutter/flutter/issues/4096

[2016-05-21 21:27] Hixie commented on #4082
Personally I think the size doesn't matter. What made Eric say we should change it was me demoing live tests on a Nexus 6 in portrait, where, sure, 800x600 looks silly. But it also happens to exactly match the ratio of an iPad Pro in landscape. So...

[2016-05-21 22:18] abarth commented on #4082
There's some value in having the tests default to landscape since developers are likely to manually test more in portrait.

[2016-05-21 22:35] Hixie commented on #4096
copyWith is a bit weird with this class because if you do a copyWith then override, say, primarySwatch, nothing much will happen. We might want to find a slightly more subtle approach here.

[2016-05-22 11:49] olostan commented on #427
So there is no iOS version for now?

[2016-05-22 15:59] eseidelGoogle opened #4097 "Clicking on test running in ios simulator does not show finders"
`flutter run -t test/my_test.dart`

See it run in your ios simulator.  Click on it.  No logs?

Maybe I'm holding it wrong.  @Hixie

[2016-05-22 16:00] eseidelGoogle opened #4098 "Would like an easy way to create a test"
A separately 'new_test' template perhaps?  Maybe the easier way to solve this is to just put a test into the default create template? Maybe Dart already has solutions for this? @devoncarew

[2016-05-22 16:34] Hixie2 commented on #4097
If you stick a breakpoint in event handling code, does it break when you tap?

[2016-05-22 18:44] HansMuller commented on #4094
I suppose an indicatorColor TabBar parameter would be a simpler way to enable this.

[2016-05-22 19:57] abarth commented on #4094
Yeah, we should have that too.

[2016-05-22 20:20] spierce7 commented on #1275
I'm seeing this a lot on IntelliJ. `flutter listen` will trigger a build when I change window focus. I'm assuming IntelliJ is modifying one of it's project files.

[2016-05-23 07:26] abarth commented on #989
The OEM version is a bit off spec.  I'm updating the Flutter version to better match the spec:

https://www.google.com/design/spec/components/pickers.html#pickers-time-pickers

Also, handling dark themes.

[2016-05-23 12:46] a14n opened #4100 "typo in codelab about the fat arrow tip"
In the codelab https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#7 there's a little typo :

should be

Note the position of the semicolon.

[2016-05-23 14:37] sethladd commented on #4100
Thanks for the report!

cc @collinjackson @qchong

[2016-05-23 14:38] sethladd opened #4101 "Link to codelab from website"
Now that the codelab is live, we can link to it from our website.

We'll need to figure out how it integrates with our Getting Started experience.

[2016-05-23 14:38] sethladd commented on #4101
cc @qchong

[2016-05-23 14:39] sethladd opened #4102 "MojoEventHandler is already handling events"
_From @Kleak on May 23, 2016 12:4_

I'm following the codelab [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#11)
And after all the modification for integrate flutter inside my app i have this error `MojoEventHandler is already handling events`

and the stacktrace :
[code]

Don't know if it's the right place to post the issue..

_Copied from original

[2016-05-23 14:40] sethladd commented on #4102
cc @collinjackson

[2016-05-23 15:35] sethladd commented on #1275
@devoncarew what's the plan with `flutter listen` ?

[2016-05-23 16:16] #4072 closed

[2016-05-23 16:24] HansMuller commented on #4096
If you do a copyWith and override primarySwatch and the ThemeData you're inheriting from overrides colors based on primarySwatch, then I think the overrides should survive. Which implies that we'd have to keep track of the overrides.

[2016-05-23 16:29] devoncarew commented on #4013
@yjbanov, it looks like the dashboard was down for the weekend. I could more easily do some diagnostics if we were uploading build logs :)

[2016-05-23 16:40] abarth commented on #989
Fixed.

[2016-05-23 16:40] #989 closed

[2016-05-23 16:47] abarth commented on #2618
We'll need to find some way of building observatory if we're going to remove this.

[2016-05-23 16:47] abarth commented on #2352
@devoncarew Did you fixenate this?

[2016-05-23 16:50] Hixie commented on #2618
The alternative is to change our tooling to make sure that the two Dart SDKs are the same version. Right now the problem is that we keep updating the SDK in one repo and never update the SDK in the other.

[2016-05-23 16:51] devoncarew commented on #2352
Yup, in https://github.com/flutter/flutter/pull/4032.

[2016-05-23 16:51] #2352 closed

[2016-05-23 16:51] HansMuller commented on #3735
This hang still happens, for example: https://build.chromium.org/p/client.flutter/builders/Linux/builds/996/steps/test.sh/logs/stdio

I ran my own test case over the weekend and it hung after 200 iterations.
[code]

The bot swan song is:
[code]
The message is coming from `dart/runtime/vm/safepoint.cc` which was instrumented about a month ago: https://codereview.chromium.org/1886583002/

[2016-05-23 16:53] Hixie opened #4106 "Errors in gen_snapshot cause crash of flutter_tools"
I ran: `flutter run --release --resident -t lib/stocks/build_bench.dart`

get_snapshot reported some errors (couldn't find the file name of a package referenced from the file I was trying to run), and then the flutter tool crashed.

Crash report: [crash.txt](https://github.com/flutter/flutter/files/277879/crash.txt)

[2016-05-23 18:27] jimbeveridge commented on #4094
I really like the color scheme shown on this page under Surfaces and shadows:
http://android-developers.blogspot.com/2014/08/material-design-in-2014-google-io-app.html

[2016-05-23 19:02] #4094 closed

[2016-05-23 19:04] #4061 closed

[2016-05-23 19:12] HansMuller opened #4110 "Bots having trouble with Calculator part of mega_gallery"
Maybe some sync work is needed per #4092.

See https://travis-ci.org/flutter/flutter/builds/132357929

Swan song is:
[code]

[2016-05-23 19:21] eseidelGoogle opened #4111 "Would like a way to specify minimum version of Flutter"
Presumably in the pubspec.yaml?

@collinjackson has been seeing issues with codelab users who get strange errors trying to do the codelab with an old version of flutter.  He'd like to be able to make it so the tools would complain somehow.

We discussed previously putting something extra in the pubspec.yaml for a version for flutter?  That said, I'm not sure we have a version for flutter (other th

[2016-05-23 19:22] collinjackson commented on #4102
Hi @Kleak, could you send us the contents of chat_screen.dart? I want to see if there's an issue with the initState method.

[2016-05-23 19:23] #4084 closed

[2016-05-23 19:27] devoncarew commented on #4110
I'll take a look.

[2016-05-23 19:35] Kleak commented on #4102
up it's working now, I have update my flutter version since @abarth has push a new one

[2016-05-23 19:46] devoncarew commented on #1275
I would like to roll this into flutter run (the --resident version). It should watch the file system and notify the user when there are changed files. An additional cli arg (`--watch`? `--auto`?) would be available which would automatically re-start the app in changes.

@Hixie for thoughts

[2016-05-23 19:47] sethladd commented on #4111
cc @munificent @nex3 @kevmoo

[2016-05-23 19:48] eseidelGoogle commented on #3804
FYI @a-siva, happy to help someone who's interested in GC issues to repro.

[2016-05-23 19:49] collinjackson commented on #4102
Great, thanks!

[2016-05-23 19:49] #4102 closed

[2016-05-23 19:55] #4110 closed

[2016-05-23 19:59] johnmccutchan opened #4113 "Flutter Reload Support"
Tracking issue for supporting hot reloading within the Flutter. Rough task list:

- [x] have a spec or documentation for loading sources into a VM over the service protocol (https://github.com/dart-lang/sdk/issues/26549)
- [x] VM implementation of the source push spec
- [x] loading from sources instead of snapshot (embedder)
- [ ] client (flutter_tools) uses the source push spec to push all app so

[2016-05-23 20:15] zanderso commented on #2696
Sorry for taking so long to update this. dart:io secure sockets are currently enabled in Flutter on Android and iOS. The iOS implementation uses the native SecureTransport API. While continuing to investigate using Android's builtin libssl.so, the Android implementation uses BoringSSL.

[2016-05-23 20:19] abarth opened #4114 "Document that State#build(BuildContext context) is always the same as State#context"

[2016-05-23 20:33] eseidelGoogle commented on #4082
My use case was that I wanted to demo our testing framework to developers and not have to explain why the test looks strange.  It's possible I should just get used to explaining.  Does this use case make sense?

[2016-05-23 20:42] abarth commented on #4082
Seems like you could just demo in landscape and say that it uses a standardized size for consistency.

[2016-05-23 20:56] Hixie commented on #1275
SGTM

[2016-05-23 21:12] johnmccutchan commented on #4113
In the above list- 'Atom IDE' can be thought of as a synonym for 'client side tool'

[2016-05-23 21:27] sethladd commented on #4075
Looks like the calculator has been merged into gallery?

[2016-05-23 21:27] Hixie opened #4119 "exit(0) in dart crashes engine"
Run this with flutter:

[code]

I've seen this crash with signal 6 and signal 11.

[2016-05-23 21:30] sethladd commented on #3599
cc @abarth might be rolling skia to help with this?

[2016-05-23 21:31] sethladd commented on #4073
cc @collinjackson who was interested in trying out Firebase Analytics + Flutter

[2016-05-23 21:31] sethladd commented on #4070
cc @collinjackson who was interested in trying out Firebase Crash Reporting + Flutter

[2016-05-23 21:33] sethladd opened #4120 "Updating vignettes in gallery"
- [ ] removing weather (which was blocked by https://github.com/flutter/flutter/issues/3804 and https://github.com/flutter/flutter/issues/3808 and https://github.com/flutter/flutter/issues/3805)

- [ ] removing jumping jacks (which was blocked on https://github.com/flutter/flutter/issues/2459)

- [x] removing fancy lines (which was blocked on https://github.com/flutter/flutter/issues/3781)

[2016-05-23 21:34] Hixie commented on #4075
I did merge it in. I didn't update the style. It should probably be tweaked if we keep it.

[2016-05-23 21:34] sethladd commented on #4075
Do we have specs/mocks for the new styles?

[2016-05-23 21:35] Hixie commented on #4075
No, there's no mocks for any of this. We could copy Android's colours, it has a very similar calculator.

[2016-05-23 21:35] abarth commented on #3599
They're still working on this one.

[2016-05-23 21:42] chinmaygarde commented on #4119
What is meant to happen here? Obviously, not crash but even if the engine successfully cleans up after itself, applications are not meant to return from `UIApplicationMain` on iOS.

[2016-05-23 21:44] sethladd commented on #2676
I think @abarth did some work on this recently?

[2016-05-23 21:44] Hixie commented on #4067
I'll take a look.

[2016-05-23 21:47] abarth commented on #2676
Yes, we now match the spec, which is different than the OEM widget.

[2016-05-23 21:47] #2676 closed

[2016-05-23 21:47] Hixie commented on #4119
Is there no way to quit an app on iOS?

[2016-05-23 21:47] #3781 closed

[2016-05-23 21:48] #2459 closed

[2016-05-23 21:49] sethladd commented on #2676
Thanks for the help!

[2016-05-23 21:50] sethladd commented on #3085
cc @mpcomplete

[2016-05-23 21:51] sethladd commented on #3805
Blocked https://github.com/flutter/flutter/issues/3478

[2016-05-23 21:51] sethladd commented on #3478
Dupe of https://github.com/flutter/flutter/issues/3805

[2016-05-23 21:51] #3478 closed

[2016-05-23 21:51] chinmaygarde commented on #4119
Pressing the home button only backgrounds the application. When the user force quits it by swiping it away, the application dies with a 0xDEADFA11 exception (there are other exceptional cases too). The application may not die on its own.

[2016-05-23 21:53] Hixie commented on #4119
The use case here is running a benchmark on the device. On Android, we send an intent, it launches the app, the app does its benchmark, dumps the result to the log, and quits.

[2016-05-23 22:02] sethladd opened #4123 "Phantom, unnamed iOS device showing up in flutter devices"
I'm pretty sure I don't have an iOS device or Simulator running. At least, I don't see it plugged in and I don't have the Simualtor visibly running.

[code]

[code]

[2016-05-23 22:04] #4068 closed

[2016-05-23 22:05] eseidelGoogle commented on #4123
You can end up with a simulator running from `xcrun simctl` which has no UI associated with it.  `flutter drive` used this type of simulator at one point, possible you have a leftover?  @yjbanov @chinmaygarde

[2016-05-23 22:09] Hixie opened #4124 "Gallery "View Code" snippets are hard to read in dark theme"

[2016-05-23 22:10] sethladd commented on #4123
AFAIK I haven't run `flutter drive` in many moons. Certainly not since the last time I rebooted.

[2016-05-23 22:12] sethladd opened #4125 "Gallery, built from Mac, for Android, --release, crashes after start on 5X running N preview"
I see a "Flutter Gallery has stopped" after the gallery app boots up. I see the homepage briefly, but then I see the crash.

![screenshot_20160523-150859](https://cloud.githubusercontent.com/assets/5479/15486179/a087381c-20f8-11e6-9c5e-07ff19c813d4.png)

The weird thing is, the app doesn't seem to crash all the way. If I hit Close, I can see the app running in the background. If I tap the app to b

[2016-05-23 22:14] eseidelGoogle opened #4126 "collapsing toolbar gets confused by android overscroll behavior"
![flutter_02](https://cloud.githubusercontent.com/assets/11857803/15486235/0eb89cb8-20f9-11e6-8eb2-245a69250032.png)

[2016-05-23 22:15] sethladd commented on #4126
We may want to consider just showing a list of options here, without the collapsing list functionality. Would it be more impressive to see a list of components, demos, etc?

[2016-05-23 22:16] eseidelGoogle opened #4127 "Android overscrolls timeout?"
I'm not sure if this is expected behavior or not, but if you hold a view overscrolled the overscroll indicator will eventually timeout?  (From https://github.com/flutter/flutter/issues/4126):

![flutter_02](https://cloud.githubusercontent.com/assets/11857803/15486260/43578e02-20f9-11e6-94d6-f3bbfcbb5af3.png)

[2016-05-23 22:16] eseidelGoogle commented on #4126
Or without the overscroll having timed out https://github.com/flutter/flutter/issues/4127

![flutter_04](https://cloud.githubusercontent.com/assets/11857803/15486273/57b54592-20f9-11e6-868b-083c1a897951.png)

[2016-05-23 22:18] sethladd commented on #4125
FWIW when I build for my 6P running Android M, I don't see the crash. This might be a N-preview thing, but might still want to track down why.

[2016-05-23 22:19] HansMuller opened #4128 "Why does my text not wrap?"
Sometimes it can be difficult to figure out why a Text widget overflows rather than wrapping. For example: #4115.

Here's a simple app that demonstrates the problem:

[code]

The text doesn't wrap because the Row only constrains the width of children that have been wrapped in a Flexible widget. In this case the unconstrained width of the Container with the Text child is greater than the available

[2016-05-23 22:27] sethladd opened #4129 "Frames continue to be generated even after overflow glow is done animating"
First, turn on "performance overlay" from the drawer.

To repro, go into the "Components", "Lists" demo and fling the "Scrolling list". Fling it in a way that triggers the overflow glow (top or bottom).

You'll see the performance overlay continues to show frames are being drawn, even after the glow is done animating.

[2016-05-23 22:27] HansMuller commented on #4127
This is an Android (not Material) feature and the Android overscroll indicators definitely do timeout. So yew, we should too.

[2016-05-23 22:29] Hixie commented on #4128
We already notice when it overflows. The problem is where to put the information regarding what to do about it.

One idea might be in the debugDumpRenderTree() dump, but would anyone look there?

[2016-05-23 22:29] eseidelGoogle opened #4130 "repeatedly pulling on the refresh indicator on Android doesn't look right"
It seems to invert the animation or something on the second and repeated pulls.  It seems to be related to pulling to close together in time.  @HansMuller

https://youtu.be/pVA08sbiA3Y

[2016-05-23 22:38] jimbeveridge opened #4131 "Flutter crashes in release mode, but not debug"
## Steps to Reproduce

Run my application with `flutter run --release`. The app works fine in debug (checked) mode.

## Flutter Doctor

[code]
## Logs and Crash Reports

[code]

[2016-05-23 22:43] Hixie commented on #4067
Got a fix. I'll write a test then submit it.

[2016-05-23 22:45] sethladd opened #4132 "Disable analytics when running daemon from within our tools"
In daemon_client.dart, line 19, we run "flutter_tools daemon", which appears to be sending an analytics ping. Since this is an internal command, I don't think we're interested in tracking when our tools themselves run daemon.

[2016-05-23 22:45] sethladd commented on #4132
cc @devoncarew

[2016-05-23 22:45] jimbeveridge opened #4133 "Assertion if tablet is rotated during startup"
## Steps to Reproduce

I rotated my Nexus 9 while the app was starting up.

## Flutter Doctor

[code]
## Logs and Crash Reports

[code]

[2016-05-23 22:47] sethladd commented on #4067
:metal:

[2016-05-23 22:49] HansMuller opened #4134 "TimePicker AM/PM column layout can overflow"
![time_picker_overflow](https://cloud.githubusercontent.com/assets/1377460/15486892/a42bf1a6-20fd-11e6-9336-da62d047701b.png)

[2016-05-23 22:52] HansMuller opened #4135 "TimePicker misses taps in landscape mode"
If the TimePicker needs to scroll, e.g. because it's displayed in landscape mode, tapping on the dial doesn't change the time.

[2016-05-23 22:56] chinmaygarde commented on #4123
Yeah, I am seeing this as well. Happens when I manually terminated some CoreSimulator stuff from the Activity Monitor. Honestly, I am not sure what the fix is. Will keep investigating.

[2016-05-23 22:58] sethladd commented on #4123
Can we detect that the simulator is "dead"? We can show something like "Simulator (zombie)"

[2016-05-23 22:58] HansMuller opened #4136 "DatePicker could animate the Month label's color"
This does not appear to be a feature of the Material Design spec ...

Fading the Month title as it's dragged away from the center of the PageableList seems like a nice flourish.

[2016-05-23 22:59] sethladd opened #4137 "Allow user to tap to dismiss the bottom sheet from Scrolling List demo"
Open Gallery, and go into Components, Lists. Tap the menu icon in upper right. Notice how the bottom sheet appears.

However, tapping outside of the bottom sheet does not close the bottom sheet.

The [spec](https://www.google.com/design/spec/components/bottom-sheets.html#bottom-sheets-modal-bottom-sheets) says "Allow the user to tap/swipe to dismiss.".

[Further down](https://www.google.com/design

[2016-05-23 22:59] sethladd commented on #4137
cc @HansMuller

[2016-05-23 23:02] chinmaygarde commented on #3952
Doesn't seem to be an issue when using DBC. Investigating.

[2016-05-23 23:03] HansMuller opened #4138 "DatePicker could hide the page back/fowards arrows during a horizontal drag"
This is not a feature of the Material Design spec...

Dragging the month title to the left or right positions it below the back/forwards arrows. It might be nicer to hide the arrows during a drag gesture.

![date_picker](https://cloud.githubusercontent.com/assets/1377460/15487137/9dc4647c-20ff-11e6-95fd-66f3a63dbda1.png)

[2016-05-23 23:04] sethladd opened #4139 "Scrolling List's bottom sheet is probably modal, should dim rest of screen"
Open Gallery, go into components, lists. Tap the menu icon in the upper right to open the bottom sheet.

I think the bottom sheet is modal. If so, the [spec](https://www.google.com/design/spec/components/bottom-sheets.html#bottom-sheets-modal-bottom-sheets) says "When a modal bottom sheet slides into the screen, the rest of the screen dims, giving focus to the bottom sheet."

[2016-05-23 23:09] HansMuller commented on #4128
I'm sure there's a better "best" way to do this, like an interactive visual tool for debugging layouts.

Short of that, maybe a command-line tool like `flutter debug_overflows`?  Or a `flutter dump` that did debugDumpRenderTree() and printed whatever suggestions we came up with?

[2016-05-23 23:10] chinmaygarde commented on #3952
Cant reproduce in any variant. Though I did have to prepare a reduced test case. So I may have missed something. Please reopen with a reduced test case if you run into this again.

[2016-05-23 23:10] #3952 closed

[2016-05-23 23:13] HansMuller commented on #4139
The list configuration bottom sheet is currently a "persistent bottom sheet" which is not supposed to be modal.
https://www.google.com/design/spec/components/bottom-sheets.html#bottom-sheets-persistent-bottom-sheets

There may be a better way to present the options for this demo.  The idea was to let the user see the effect of reconfiguring the list in situ.

[2016-05-23 23:15] chinmaygarde commented on #3800
The `flutter build flx` that is part of `PackagerInvoke` run from Xcode will rebuild the app.flx.

[2016-05-23 23:15] #3800 closed

[2016-05-23 23:22] chinmaygarde commented on #3269
This is complete. We upload a gen_snapshot capable of create EABI snapshots from the Mac host for Android targets. Mac ABI specific snapshotters are uploaded in the specific bucket for each variant (that is consumed by the Xcode scripts). Closing.

[2016-05-23 23:22] #3269 closed

[2016-05-23 23:23] chinmaygarde commented on #3036
This was fixed with a recent Dart roll. Please reopen if you run into this again.

[2016-05-23 23:23] #3036 closed

[2016-05-23 23:27] devoncarew commented on #4132
It's somewhat interesting to know the usage of the tools from IDEs.

[2016-05-23 23:34] eseidelGoogle commented on #4133
This is likely either @Hixie or @HansMuller territory judging from the stacktrace.

[2016-05-23 23:35] eseidelGoogle commented on #4131
This would presumably a snapshotting issue?  @johnmccutchan @jason-simmons.  Probably need to repro on someone else's Linux machine first.

[2016-05-23 23:36] eseidelGoogle commented on #4127
OK.  Closing.

[2016-05-23 23:45] sethladd commented on #4139
Ah, OK. Thanks for the clarification!

[2016-05-23 23:45] #4139 closed

[2016-05-23 23:46] sethladd commented on #4132
The `daemon` tool is only used by IDEs?

[2016-05-23 23:51] sethladd commented on #4137
Our bottom sheet is a "persistent bottom sheet". Therefore, the following rules actually apply:

[code]

Going to close. Nothing to see here! :)

[2016-05-23 23:51] #4137 closed

[2016-05-23 23:53] sethladd commented on #3566
Closing because we can't find a spec for this.

[2016-05-23 23:53] #3566 closed

[2016-05-23 23:55] Hixie opened #4142 "Replace "Invoked" with "Called" in the dartdocs"
We're inconsistent about whether a callback is "invoked" or "called". We should pick one and be consistent. Also, we should document which we pick in the style guide.

[2016-05-24 00:02] sethladd opened #4143 "Page selector demo in Gallery would like chevrons instead of arrows"
![screenshot_20160523-170049](https://cloud.githubusercontent.com/assets/5479/15488129/1af50098-2108-11e6-9505-18e0f6e5700d.png)

[2016-05-24 00:04] sethladd opened #4144 "Sliders demo in Gallery: disabled slider shouldn't move"
From a design review: Suggestion that the disabled slider not move when the enabled slider moves.

Maybe add a toggle to the disabled slider to enable/disable?

[2016-05-24 00:07] chinmaygarde commented on #3460
I dont see any guards around 8181 specifically. Is this still an issue? I am not too familiar with this unfortunately.

[2016-05-24 00:11] devoncarew commented on #4132
Yup, it's what IDEs use to get device add/remove notifications.

[2016-05-24 00:13] devoncarew commented on #3460
I moved to using port 8100 to work around this. I think the guard is in the VM somewhere.

[2016-05-24 00:14] devoncarew commented on #3460
We can close this -

[2016-05-24 00:14] #3460 closed

[2016-05-24 00:17] chinmaygarde commented on #3421
Symbolicated backtrace and register dumps filed as a bug at https://github.com/dart-lang/sdk/issues/26516

[2016-05-24 00:17] sethladd opened #4145 "Slider demo: Bottom line flashes a few pixels when finger hits line"
Go into Gallery, Sliders. Place finger on bottom line. Notice how the little black markers on the line (only a few pixels wide) flash from white to black.

You can tap the bottom line over and over to see the effect. It happens on every tap.

[2016-05-24 00:20] chinmaygarde commented on #3006
Are there existing hooks into the Dart VM that low memory notifications need to be plumbed into?

[2016-05-24 00:21] sethladd opened #4146 "Gallery, Slider: Zero-end of continuous slider should be an empty circle"
The zero-end of the slider looks like it should be an empty circle.

https://www.google.com/design/spec/components/sliders.html#sliders-continuous-slider

From the spec:

![components_sliders_continuous1](https://cloud.githubusercontent.com/assets/5479/15488381/9af3e122-210a-11e6-8c63-be79efad76c2.png)

From the app:

![screenshot_20160523-172042](https://cloud.githubusercontent.com/assets/5479/15

[2016-05-24 00:38] sethladd opened #4147 "Gallery, Icons: show icons with approved Opacities (instead of slider)"
Suggestion from design review: Instead of a slider, we can show icons at approved opacity levels:

From the spec (https://www.google.com/design/spec/style/icons.html) :

![screen shot 2016-05-23 at 5 37 16 pm](https://cloud.githubusercontent.com/assets/5479/15488617/06f6ec00-210d-11e6-8c76-8fe523f28879.png)

The design reviewer wanted to help our developers by not letting them think they can use a

[2016-05-24 02:18] abarth commented on #4144
Good idea.

[2016-05-24 02:19] abarth commented on #4145
Odd.  I must have messed up the beginning of the interpolation.

[2016-05-24 02:20] abarth commented on #4146
Is this from a design review?  I didn't do that because none of the other material implementations I found did that.

[2016-05-24 02:24] eseidelGoogle opened #4148 "`flutter build apk` should default to --release"
If `build apk` is the front-end for how we expect command line flutter users to interact with `flutter` during the release process, it should probably default to --release and the fact that it also can build --debug as part of `flutter run` or other debug workflows then becomes a detail.

It's also possible that we should have a `flutter release` or some other front-end command for the publish pro

[2016-05-24 02:58] eseidelGoogle commented on #4082
Here is the default template in landscape on an iPhone 6.

![simulator screen shot may 23 2016 7 55 35 pm](https://cloud.githubusercontent.com/assets/11857803/15490873/73d86b60-2120-11e6-834b-f311df984b7e.png)

Presumably the fab sizing is just a bug?  But it generally feels pretty awkward to try and demo in this mode, but for now I'll just live with it. :)

[2016-05-24 02:58] eseidelGoogle commented on #4082
Maybe we're running demos at a different density than the actual device screen is part of it?

[2016-05-24 03:10] abarth commented on #4082
I suspect the fab is animating in.

Maybe I'm not sure what you're trying to demo about it...  It might be more efficient to discuss in person.

[2016-05-24 03:28] domesticmouse opened #4149 "Space Blast black screens after five minutes of play testing"
## Steps to Reproduce

Playing [Space Blast](https://github.com/flutter/game) on my iPhone6+ for under five minutes leads to app crashing, followed by app being stuck in black screen of death.

## Flutter Doctor

[code]

## Logs and Crash Reports

I'd love suggestions on how to get crashlogs out of iPhone for this. (I'm too used to Xcode doing all the hard stuff for me)

[2016-05-24 03:33] eseidelGoogle commented on #4064
I hit this again today.  I don't know any way to get my stacktrace out of Atom and into a bug. :/

[2016-05-24 03:36] eseidelGoogle opened #4150 "Exception in Semantics library running Jim's demo in the iOS simulator"
I'm hitting this when running @jimbeveridge's demo.  Previously I was seeing it crash the iOS port with a null pointer in c++ code, but I think that's now fixed and we're just hitting a non-fatal Dart exception.

I can provide you the source code if needed.

@Hixie @tvolkert

[code]

[2016-05-24 03:38] eseidelGoogle commented on #4149
This is a recent regression of some form.  @chinmaygarde attempted to repro briefly today, but we'll see if we can get to the bottom of it tomorrow.  I've seen this black screen on startup after launching Space Blast more than once from the device as well (but that may have been a separate issue).

@chinmaygarde suggestions on how to get the logs out?

[2016-05-24 03:40] eseidelGoogle commented on #4149
We've had others log hours/days of play in Spaceblast (and complain about running out of levels, upgrades, etc.) so we know it has historically held up to long-play.  We recently completely re-shuffled how we built our engine on iOS so likely caused a regression or two in the process.

[2016-05-24 03:54] chinmaygarde commented on #4149
If the Flutter command line tools have ever build an iOS application for you (typically via `flutter build ios` or `flutter run` or `flutter start`), there should be an Xcode project in `ios/.generated/FlutterApplication.xcodeproj`. The command line tooling just calls `xcodebuild` on the project. You can use it like any other Xcode project. Of course, you can also use the usual `flutter logs`, etc

[2016-05-24 04:23] domesticmouse commented on #4149
Running under Xcode scored me the following:

[code]

[2016-05-24 04:47] eseidelGoogle commented on #4149
Looks like a null pointer access in precompiled Dart code?  @rmacnak-google?

[2016-05-24 04:47] chinmaygarde commented on #4149
Whoa. That bug is a known issue with the precompiler. Duplicate of https://github.com/flutter/flutter/issues/3421 in flutter/flutter and https://github.com/dart-lang/sdk/issues/26516 in dart-lang/sdk. Our finest VM engineer @rmacnak-google is on the case :) We saw variations of the crash in around double conversion and the math functions on the same today. I expect it will be fixed shortly. We alr

[2016-05-24 14:25] johnmccutchan commented on #3006
@chinmaygarde We don't have an API for this yet. Maybe @iposva-google has some suggestions here.

[2016-05-24 14:26] sethladd commented on #4146
Yup, from a review with material designers.

[2016-05-24 14:42] HansMuller commented on #4127
What I meant was: yes this is a bug. Flutter overscroll indicators should time out, just like native Android overscroll indicators do.

[2016-05-24 14:56] sethladd commented on #4145
Super subtle. Our designers have good eyes :)  (noticed during a review)

[2016-05-24 14:57] johnmccutchan commented on #4131
@rmacnak-google This looks like it might be the tree shaker dropping the setter for the `data` field  of the class `_ExternalBuffer` in `sdk/lib/io/secure_socket.dart`. Maybe we are missing some roots?

[2016-05-24 14:57] eseidelGoogle commented on #3947
I appear to have filed this twice, also #3933.

[2016-05-24 14:58] eseidelGoogle commented on #3947
Chinmay or Todd could you take a look at this today?  Hopefully it's an easy fix since `flutter run` clearly knows how to install. :)

[2016-05-24 15:13] eseidelGoogle commented on #4131
iOS on-device is crashing on master as well (but not alpha) presumably the same or similar bug.

[2016-05-24 15:27] eseidelGoogle commented on #3383
Should we close this @abarth?

[2016-05-24 15:35] Hixie commented on #4150
Source code and steps to reproduce would be very helpful yes.

[2016-05-24 15:37] HansMuller commented on #4133
I haven't been able to reproduce this (yet) but the assert doesn't seem right:

[code]
I think that the assert's implication is that an interactive or a programmatic scroll is underway. In this case we're doing a layout because the screen's dimensions have changed.

[2016-05-24 15:42] eseidelGoogle opened #4151 "ios/.generated contains 150mb of data"
Not entirely sure what's in there, but my tiny demo app was 70mb compressed as a zip, until I realized that all of it's space was used by ios/.generated.  Once I removed ios/.generated it was 600k compressed.

Maybe we should move .generated into the `build` folder or something more obviously temporary?

[2016-05-24 15:42] johnmccutchan commented on #4131
Looks like the entry points list provided to the tree shaker for Flutter is missing a bunch of entries for dart:io. I'll put together a CL after I get back from an appointment.

[2016-05-24 16:04] abarth commented on #3383
Yep.  The Skia folks fixenated it.

[2016-05-24 16:04] #3383 closed

[2016-05-24 16:06] abarth commented on #4151
I'm working on improving this as part of refactoring how the Xcode build works.

[2016-05-24 16:07] sethladd commented on #3383
Thanks for the help!

[2016-05-24 16:37] #4126 closed

[2016-05-24 16:42] tvolkert commented on #3947
I'm on it

[2016-05-24 16:46] johnmccutchan commented on #4131
Related: https://codereview.chromium.org/2005293002/

[2016-05-24 16:57] #4143 closed

[2016-05-24 17:26] Hixie opened #4155 "Should have a guide for usage (and implementation) of ".of()"-style functions"
e.g. talking about how you have to make sure the context you pass in isn't the context of the widget that built the widget you're looking for (e.g. an app's top-level widget looking for the Navigator or Scaffold).

[2016-05-24 17:50] chinmaygarde commented on #3006
Ok. We can fairly easily give the VM information about the kind memory pressure the application as a whole is under. Of course, the VM could also detect this itself using platform specific checks. Whatever works best.

[2016-05-24 18:02] jimbeveridge opened #4156 "Open url in web browser in iOS"
In Android, I can use an Intent to open a link in a browser. There needs to be an equivalent mechanism in the iOS build.

In practice, I think there should be a platform-independent way to do this. It's unpleasant to have to build a switch statement for all supported platforms.

[2016-05-24 18:06] jimbeveridge opened #4157 "Need a way to discover installed apps in Android & iOS"
My demo app needed to open Calendar / Hangout / Gmail / Google Maps. Ideally I'd open an installed app if possible, otherwise use a web url. I need a way to discover which of those apps is actually installed.

[2016-05-24 18:09] chinmaygarde commented on #4156
On iOS, this is just a simple call to [`-[UIApplication openURL:]`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplication_Class/#//apple_ref/occ/instm/UIApplication/openURL:). About the platform independence, what do you think a good interface name is? Can wire it up for both and put the interface in https://github.com/flutter/engine/tree/master/sky/services/platform

[2016-05-24 18:11] johnmccutchan commented on #4131
Reopened the issue because the flutter tools need to be updated too

[2016-05-24 18:17] jimbeveridge opened #4158 "APK updates are not "sticky""
## Repro
1. Run your app with "Run" from Atom (it works)
2. Change some text in your app
3. Run from Atom again (it works)
4. Kill the app on Android.
5. Restart it from Android.
6. You'll see the text from number 1 again.
7. Uninstall the app from the device
8. Reinstall with flutter run.
9. Still shows the old text from number 1.

jsimmons explained that step 3 downloaded an updated .flx file to

[2016-05-24 18:26] Hixie commented on #4133
Shouldn't that assert always be true? If we're not animating, then `_simulation` should equal `null`, no?

[2016-05-24 19:35] HansMuller commented on #4133
If you scroll with scrollTo(), then only _controllerIsAnimating should be true.

[2016-05-24 20:01] jimbeveridge opened #4162 "Add support for custom http connections to NetworkImage"
https connections made with oauth2 require special behavior:
- They require a custom "Authorization" header.
- They require the client to get a new Access Token every so often, as indicated by this example:

[code]

There appears to be no way to plumb through either of these.

One solution is to pass in a factory to create the `HttpClient`. This factory could also set the required headers in `Http

[2016-05-24 20:02] munificent commented on #3696
No, pub won't allow you to publish a package that contains a path dependency because there's no reliable way for a user to consume that package.

[2016-05-24 20:14] Hixie commented on #4133
then the assert will still be true, right?

[2016-05-24 20:43] jimbeveridge opened #4163 "Cache size for NetworkImage is unbounded"
Need a way to control the caching behavior of NetworkImage.

Closely related to https://github.com/flutter/flutter/issues/3568.

[2016-05-24 21:02] HansMuller commented on #4133
Right. But if we'rein this code because we're doing a layout - we're not scrolling due to a scrollTo() or a fling - then I assume that the assert is false.

[2016-05-24 21:50] Hixie commented on #4133
Hans and I talked about this. The assert firing means that the system thinks we're not simulating, but we for some reason still have a simulation. I think that's a state we should never reach, but it's not clear why we're reaching it...

[2016-05-24 22:09] tvolkert opened #4164 "iOS tools: `install` should run `build` as necessary"
Running `flutter install` on a device without having run `flutter build ios` first, reports a successful install although it does nothing.  We should just run `build` on demand.

@devoncarew

[2016-05-24 22:14] tvolkert opened #4165 "Android tools: `install` should run `build` as necessary"
Running `flutter install` on an Android device without having run `flutter build apk` first fails because build/app.apk is missing. We should just run `build` on demand.

@devoncarew

[2016-05-24 22:19] Hixie opened #4166 "flutter logs includes W/ActivityManager lines but they're often not interesting"
I don't want to see stuff like:

[code]

[2016-05-24 22:26] chinmaygarde commented on #3421
Pending in dart-lang/sdk https://chromiumcodereview.appspot.com/2003403003/

[2016-05-24 22:39] Hixie opened #4167 "Nested scrollables lead to too much glowing"
If you have a horizontal scrolling block that contains several smaller horizontal scrolling blocks, and you're scrolling one of the inner ones, when you bounce its contents off the edge of the inner one, the outer one glows as well.

[2016-05-24 22:40] Hixie commented on #4167
A side-effect of this is that a non-scrollable block containing a scrollable block will still glow when the inner one bounces.

[2016-05-24 22:41] Hixie opened #4169 "Glow effect comes back when releasing finger"
Find a scrollable on Android.
Scroll such that it glows.
Stop moving without removing your finger.
The glow times out and goes away.
Release your finger.
Bug: The glow briefly comes back.

[2016-05-24 22:50] Hixie opened #4170 "Handle errors from the font system better"
The engine dumps messages about failing to find font files.
We should:
- [ ] Fix whatever problem is causing these to come up in the first place
- [ ] Route the messages to Dart framework code to do something with
- [ ] Do something with these messages in the framework
- [ ] Silence the engine

[2016-05-24 23:00] Hixie commented on #4167
Another side-effect is if you have a vertical and a horizontal nested in each other, then overscrolling the inner one will make the outer one glow.

The solution is for scroll notifications to have a "depth" property, and when one bubbles past a scrollable, the depth should be increased.

[2016-05-24 23:25] #1823 closed

[2016-05-24 23:25] #3947 closed

[2016-05-24 23:34] #4114 closed

[2016-05-24 23:35] tvolkert commented on #4029
Incidentally, I noticed that the native Drive app suffers from this as well (cursor is hidden underneath GBoard when the keyboard opens, and the user has to scroll down to reveal the cursor again).  It was exacerbated in the codelab because the basic layout wasn't scrollable.  I'll see if there are any notifications from UIKit we could pick up on, but if the answer's no, then the user will just ha

[2016-05-24 23:41] abarth commented on #4029
We currently listen for UIKeyboardDidShowNotification.  We get the size of the keyboard from:

[code]

Maybe there's a better way?

[2016-05-24 23:51] HansMuller opened #4172 "Need better error message when pushing a route name that's not recognized"
I didn't really find it confusing but I think some developers might.  The failure is reported like this:
 `config.onUnknownRoute != null' is not true`

I think it would be clearer if the reported error indicated that pushNamed had failed because it didn't recognize the the route's name which was '...'.

[code]

[2016-05-24 23:52] jimbeveridge opened #4173 "decodeImageFromDataPipe() doesn't throw if given bad data"
I'm looking at `_UrlFetcher.loadImage()`.

I was reading data from an oauth2 protected url, so it was returning a `302 Moved` error pointing to `https://login.corp.google.com/`. This meant that the data received by `decodeImageFromDataPipe()` was just an HTML page instead of an image. I expected that `decodeImageFromDataPipe()` should have thrown an exception that could be processed by `_UrlFetche

[2016-05-24 23:53] abarth commented on #4173
Should be fixed by https://github.com/flutter/flutter/pull/4118

[2016-05-24 23:53] #4173 closed

[2016-05-24 23:56] Hixie opened #4174 "Stack filter should collapse tree walks"
This kind of thing:
[code]
...isn't exactly redundant, but it'd be nice if we could output something cleaner and easier to understand. Right now we often end up with hundreds of stack frames with this kind of thing.

[2016-05-24 23:58] jimbeveridge commented on #3548
I've tried a Flux application model in two separate applications and I now have enough information to create a proposal for Flutter.

[2016-05-25 00:02] jimbeveridge commented on #4156
`openUrl()` is fine with me.

[2016-05-25 00:12] Hixie opened #4175 "RenderIntrinsicHeight should be more graceful when its child has an infinite intrinsic height"
Specifically, it should complain that that's a violation of the intrinsic height protocol, and try to pin point which class messed up.

(ditto widths)

[2016-05-25 00:32] rmacnak-google commented on #3804
The longest GC I see running the gallery app on a Nexus 4 is 26 ms. With some extra timeline events, I see 18 ms of this is spent processing weak handles, with 952 of 1012 being finalized. How expensive is destructing Path, Picture, Paragraph, and friends?

[2016-05-25 00:52] Hixie opened #4178 "Remove the argument to the intrinsic functions"
They cause nothing but pain.

[2016-05-25 00:52] abarth commented on #3804
They might be taking time.  We can move them to a finalization queue and destruct them in small chunks.  Most of them can be destructed on a background thread.

[2016-05-25 00:53] #4142 closed

[2016-05-25 00:53] #4144 closed

[2016-05-25 00:53] #4145 closed

[2016-05-25 00:53] #4146 closed

[2016-05-25 01:30] eseidelGoogle commented on #3804
Sounds like we should check in these extra timeline events. :)  Makes it clear when it's flutter's bug to fix :D

[2016-05-25 01:44] abarth commented on #3804
@rmacnak-google Let's chat tomorrow about how best to hand off the set of things that need finalization from the GC to the embedder.

[2016-05-25 07:14] Zectbumo opened #4179 "bin/flutter fails when linked with relative symlink"
## Steps to Reproduce
ln -s ../opt/flutter/bin/flutter ~/.local/bin/flutter
cd ~
~/.local/bin/flutter doctor

I made a relative symlink and flutter shell script fails by incorrectly running cd ../opt/flutter

## Flutter Doctor

/Users/guest/.local/bin/flutter: line 18: cd: ../opt/flutter/bin: No such file or directory
fatal: Not a git repository (or any of the parent directories): .git

## Logs an

[2016-05-25 13:24] pq commented on #4031
@jwren, @stevemessick : I'm curious.  What do we do in IntelliJ?  Do we rely on the file watcher to trigger a reanalysis or do we initiate from the IDE?  (I seem to recall in `DartEditor`, we had forced reanalysis as part of the pub action.)

[2016-05-25 14:18] stevemessick commented on #4031
@pq I'm not an expert on the IntelliJ virtual file system but I suspect this line would cause the file watcher to trigger re-analysis:
`VfsUtil.markDirtyAndRefresh(true, true, true, pubspecYamlFile.getParent());`
That's done after the pub command has executed. The way I read that is to cause the entire project file system to be refreshed.

The code that forces re-analysis,`DartAnalysisServerServic

[2016-05-25 16:12] pq commented on #4031
Great.  Thanks for the details!

@devoncarew : it looks like we should consider doing something similar in atom?

[2016-05-25 16:27] eseidelGoogle commented on #4082
I'm sure there are things to improve here as more folks use this aspect of the testing framework, but for now I think we can close this bug.

[2016-05-25 16:27] #4082 closed

[2016-05-25 16:53] eseidelGoogle commented on #799
My understanding is that https://github.com/flutter/google_sign_in covers several of the pieces of this original bug and we should probably split out remaining work into new bugs?

[2016-05-25 16:53] Hixie commented on #4017
Basically this bug is asking for a shorthand for:
[code]
I suggest providing a getter on the tester object called "hasRunningAnimations" so that you would do:
[code]

Another useful shorthand would be something for:
[code]
I propose to add this as `await tester.pumpUntilAnimationsComplete();` or some such.

[2016-05-25 16:54] eseidelGoogle commented on #799
The missing bit that I'm aware of is Android support in google_sign_in, which @collinjackson tells me is written on his machine, but not yet fully tested & deployed.

[2016-05-25 16:56] eseidelGoogle commented on #3951
My understanding is that setState now asserts that it's not passed a future-returning function, so I think we can close this.

[2016-05-25 16:56] #3951 closed

[2016-05-25 17:19] abarth commented on #3437
Not sure how to make progress here without an example that shows the issue.

[2016-05-25 17:27] abarth commented on #3447
I can repro.

[2016-05-25 17:30] collinjackson commented on #799
I agree that we now have an auth solution we can use more targeted issues for the remaining work.

[2016-05-25 17:36] chinmaygarde commented on #4151
We can put the `.generated` folder anywhere really. All that the project needs to complete the build is the `Local.xcodeproject` that the tools fill in it.

[2016-05-25 17:38] sethladd opened #4182 "Tooltips specification and behaviors"
From a design review:

* After the tooltip is triggered (using a 150ms fade in with the material deceleration curve), keep tooltip displayed for as long as the user is holding the tap.
* After the user lifts the tap, keep the tooltip visible for 1.5 seconds
* After 1.5s, fade out the tooltip at 150ms, using the material acceleration curve.
* Condition: if the user lifts the tap and interacts with

[2016-05-25 17:53] HansMuller opened #4184 "flutter command: "the active Flutter" warning can be confusing"
[code]

In this case what the warning meant was that the `flutter` command found on my PATH wasn't the one from the directory that contained the example I was running.

Referring to 'the active Flutter' is a bit opaque. Maybe 'flutter command' would be clearer.

[2016-05-25 18:11] yjbanov commented on #4123
`flutter drive` hasn't been using UI-less simulator for a while now. We now launch using `xcrun instruments -w DEVICE_NAME -t Blank -l 1` which runs the simulator with a UI.

[2016-05-25 18:13] rmacnak-google commented on #3804
Extra timeline events in dart-lang/sdk@18c87ab02c62fb2cb5737bf2bc8f7c6b27191e66.

Current thought is for the VM to invoke the finalizers on a background thread.

[2016-05-25 18:24] dvdwasibi opened #4185 "Material Switch: BoxDecoration Background Image Fails to Render"
## Steps to Reproduce

Please tell us what you were doing and what went wrong.

I attempted to use a backgroundImage for the boxDecoration of a Material Switch.
[code]
The image successfully loaded (was specified in assets under flutter.yaml) , but failed to render on the switch.

## Flutter Doctor

[✓] Flutter (on Mac OS, channel alpha)
    • Flutter at /Users/dayang/Flutter
    • Framework revis

[2016-05-25 18:31] tvolkert opened #4186 "flutter build ios --local-engine workflow broken"
[code]

[2016-05-25 18:31] Hixie commented on #4178
Proposed definitions:
[code]

(The height ones are exactly symmetric.)

[2016-05-25 19:01] HansMuller opened #4188 "flutter.io search results can fail"
I searched for `ScrollableGrid`:
[code]

Clicking on the first link produced:

![screenshot](https://cloud.githubusercontent.com/assets/1377460/15552596/fe8eedec-226f-11e6-910a-8285b839c9dd.png)

Browsing to http://docs.flutter.io/flutter/material/ScrollableGrid-class.html doesn't cause any trouble.

Is `Search` turning up obsolete links?

[2016-05-25 19:10] abarth commented on #4186
That command needs a new engine to work.

[2016-05-25 19:13] eseidelGoogle commented on #4188
It's a question of https vs. http.  @sethladd looked at this a while back iirc.

[2016-05-25 19:15] eseidelGoogle commented on #3804
@chinmaygarde didn't we have a threading issue with finalizers before?  Could this new proposal be an alternate solution?

[2016-05-25 19:19] eseidelGoogle commented on #3777
FYI @HansMuller.  We'll eventually need one of these for a full implementation of Material.

[2016-05-25 19:24] sethladd commented on #4188
Sorry about this. I don't know why Google thinks we have https for our docs.

Since I don't know why, and I haven't been able to figure it out, and we want SSL anyway, we might as well just get SSL working for docs.flutter.io this quarter. :)

I'm going to close this as a dupe of https://github.com/flutter/flutter/issues/3889

[2016-05-25 19:24] #4188 closed

[2016-05-25 19:24] chinmaygarde commented on #3804
@eseidel If you are referring to https://github.com/flutter/engine/commit/3a5dd866, that was just the modification of the reference count of the `DartWrappable` from any thread that was not the `ui_thread`. I believe this is a bit different.

[2016-05-25 19:25] Hixie commented on #3777
Which accounts is this supposed to switch between? Is it an Android-specific widget? There's no system-wide concept of user accounts on iOS, is there?

[2016-05-25 19:33] chinmaygarde commented on #3777
[Accounts Framework on iOS](https://developer.apple.com/library/ios/documentation/Accounts/Reference/AccountsFrameworkRef/index.html#//apple_ref/doc/uid/TP40011024)

[2016-05-25 19:33] abarth commented on #4186
When the Xcodeproject calls back into the flutter tool, it forgets that it's supposed to use a local engine.  We need to pass that information through somehow.

[2016-05-25 19:40] Hixie commented on #3777
Perfect. In that case, yeah, we should have a platform-neutral widget that exposes the accounts that the platform provides for the account types that the widget is configured to show. This will need iOS and Android back-end support.

[2016-05-25 20:06] abarth commented on #4185
Thanks for the report.  I'll take a look.

[2016-05-25 20:13] Hixie opened #4189 "Change terminology around Flex"
From the point of view of the Flex implementation, there's children with fixed sizes, and children that are flexible and whose sizes need to be established.

But from the point of view of Flex users, the definitions don't make sense. The "fixed" children are the ones that can have any size they want, and the "flexible" children are the ones that get given a fixed size.

I've had multiple people sa

[2016-05-25 20:13] abarth commented on #3804
@eseidelGoogle The solution for that issue is what makes this approach attractive for this issue.  Given that we need to be prepared for finalizers to be called on any thread, the VM might as well call them on a background thread instead of the UI thread to avoid janking the UI thread.

[2016-05-25 20:19] collinjackson commented on #3777
I'm not sure the Accounts Framework is as general-purpose. Currently these are the only supported account types:

[2016-05-25 22:14] eseidelGoogle commented on #4014
I spoke with @abarth just now, he suggested one workaround would be to use the -t argument to `flutter build` to pass a different `main.dart` for your different versions.

`fluter build apk -t lib/production_main.dart` for example.

[2016-05-25 22:15] eseidelGoogle commented on #109
@Hixie is this something we can easily get out of the way (or at least plumb basic support for?)  customer:fast would like to check off this checkbox for their launch.

[2016-05-25 22:17] drewwarren commented on #4014
That is reasonable. Thanks!

[2016-05-25 22:27] HansMuller opened #4193 "Tabs and scrolling demo can crash - null.scrollTo()"
This occurred while swiping repeatedly and rapidly in one direction.

[code]

[2016-05-25 22:45] DaveShuckerow opened #4194 "Can't find views in a 3-tab page (Possible race condition)"
## Steps to Reproduce

Test code:

[code]

With the Future<Null>.delayed()... lines, the test runs successfully.  Without those lines, the test fails.  In the emulator running the test, it will swipe right twice to get to tab 3, then swipe left once back to tab 2, wait ~5 seconds, and then fail.  The logs indicate that it fails to find content that lives on tab 3.

## Flutter Doctor

[✓] Flutter (

[2016-05-25 22:46] Hixie commented on #109
It's on my list after data tables.

[2016-05-25 22:47] yjbanov opened #4195 "Tabs widget does not accept drag events during the snap transition"
## Steps to Reproduce

In the gallery app's "Tab" demo, drag half-way between two tabs and release. The tab widget will snap to the closest tab with an animated transition. During that transition the tab widget will not accept any drag gestures. You have to wait for the animation to complete. This is easy to reproduce in slow animation mode. The behavior is not consistent, you may need to try seve

[2016-05-25 22:51] devoncarew commented on #4195
Just FYI, above, your framework reversion says its 3 months old.

[2016-05-25 23:32] devoncarew commented on #2366
@chinmaygarde, @tvolkert, I re-purposed this bug as a burndown of the remaining items. Can you update the ios related ones (listed in the very first entry in the bug)? Thanks!

[2016-05-25 23:36] chinmaygarde commented on #2366
I updated the entries. Thanks.

[2016-05-25 23:40] tvolkert commented on #4186
Re-opening because it's not quite done yet -- XCode still needs to build, and it needs to know that it's a local engine build.  I'm working on a fix.

[2016-05-25 23:46] devoncarew opened #4197 "fail better when running --profile or --release against android emulators"
Currently we fail w/:
[code]

But we should emit a better message, like: `emulators only support --debug`.

[2016-05-26 00:34] HansMuller commented on #4193
In this case, when the app is notified that the selected tab has changed the Scrollable that corresponded to the newly selected TabBarView has been discarded. So its GlobalKey's currentState is null.

The source of this problem appears to be that the TabBarSelection onChanged() only callback runs when the animation between TabBarView's (between the old and newly selected tab) has completed, and th

[2016-05-26 00:42] yjbanov commented on #4195
@devoncarew It seems `flutter doctor` gets the date recorded in the git commit metadata. If you rebase an old commit on top of the latest it will still show the old date. The commit that I'm rebased on top of is:

[code]

[2016-05-26 00:53] abarth commented on #4194
@yjbanov

[2016-05-26 00:54] #4179 closed

[2016-05-26 00:55] #3447 closed

[2016-05-26 00:56] sethladd commented on #3925
Looking at using Firebase Hosting for API docs. That will solve the problem, also.

But, so should the recent PR https://github.com/flutter/flutter/issues/3926 in the meantime.

[2016-05-26 00:56] #3925 closed

[2016-05-26 00:56] sethladd commented on #3889
Did some experimenting with hosting the docs on Firebase Hosting. Seems to be OK. A bit more stress testing (we're uploading 17k files) but should provide a pretty good solution for SSL api docs. Stand by...

[2016-05-26 01:00] yjbanov commented on #4194
For now let's assume this is duplicate of https://github.com/flutter/flutter/issues/4195. If that does fix it, we'll reopen.

[2016-05-26 01:00] #4194 closed

[2016-05-26 01:37] #4186 closed

[2016-05-26 02:02] devoncarew opened #4200 "ensure that --profile and --release are not available for ios simulators"
We should fail with an error when flutter run is run with `--profile` or `--release` with a simulator.

@tvolkert @chinmaygarde

[2016-05-26 02:03] devoncarew commented on #2366
@chinmaygarde, I updated based on some testing, and filed #4200 (re: --profile and --release against simulators).

[2016-05-26 02:08] devoncarew commented on #4184
@HansMuller, totally open to work-smithing! The code lives here https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/runner/flutter_command_runner.dart#L280, and the same terminology is used a little further below.

[2016-05-26 04:21] devoncarew commented on #4148
+1. It - and `flutter build aot` - should default to `--release`.

[2016-05-26 05:00] rmacnak-google commented on #4200
Why? Precompilation should work for the 64-bit simulators.

[2016-05-26 05:04] a14n opened #4202 "Support multiline TextOverflow effects"
## Steps to Reproduce

During the [step 10 of the codelab](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#9) I entered a large text in the `Input` and the created `ListItem` lets the text overflow on the following messages.

![flutter_01](https://cloud.githubusercontent.com/assets/1206632/15563984/f2d95fca-230d-11e6-85a0-efea41911999.png)

According to [th

[2016-05-26 05:08] abarth commented on #4200
@rmacnak-google There isn't a use case for release builds on simulators because simulators aren't used by end users.

[2016-05-26 05:14] abarth commented on #4202
Yeah, ListItem isn't really the proper widget for a chat program because of this issue.

We recently added TextOverflow effects for single-line text widgets.  We should make them work well for multiline widgets as well.  Handling this problem in full generality is slightly subtle because in some languages (and fonts) the lines can overlap vertically.

/cc @Hixie for ideas about how to handle multi

[2016-05-26 15:00] HansMuller commented on #4194
The fling gesture `await driver.scroll(body, -200.0, 0.0, new Duration(milliseconds: 200));` triggers an animation that materializes and exposes the newly selected tab. I don't think you want to sample the tab bar's state before the animation has completed, so the 500ms delays make sense.

[2016-05-26 16:01] devoncarew commented on #4164
We'll need to split the notion of building ios apps out from the startApp() method. For the android workflow, building and running are separate tasks; for ios, it's currently all handled by the startApp() methods.

[2016-05-26 16:14] #4106 closed

[2016-05-26 16:14] #4148 closed

[2016-05-26 16:14] #4197 closed

[2016-05-26 16:15] #4200 closed

[2016-05-26 16:26] eseidelGoogle commented on #4200
@rmacnak-google the goal is just to simplify the offering.  Certainly AOT on simulators is possible, but simulators are already slow for other reasons, so offering only awesome-development-mode there just removes variables. :)

[2016-05-26 16:44] apwilson opened #4205 "PaintingContext.pushClipPath needs more documentation."

[2016-05-26 16:59] eseidelGoogle opened #4206 "Password Input field"
https://www.google.com/design/spec/components/text-fields.html#text-fields-required-fields

customer: fast has an example of this in their mocks.  Unclear if they'll actually end up using it (since phones often have shared UI for password entry instead of per-app), but since it's in MD we should have it.  If they do need it, we'll need it soon.

FYI @mpcomplete @HansMuller

[2016-05-26 17:17] mpcomplete commented on #4206
Is this about the visibility icon? We have support for password entry fields otherwise.

[2016-05-26 17:20] devoncarew commented on #4031
I'm not sure the above call would tell the analysis server that the packages changed. It looks more like a refresh resources type thing from eclipse - to sync intellij's virtual filesystem with any on-disk changes that pub might have done.

I suspect the issue is that the analysis server is not recognizing changes in the .packages file.

[2016-05-26 17:24] devoncarew commented on #4031
Yup, we should show something in-line at the top of the errors view which they can click on to run pub get, and run pub automatically when the pubspec file is changed from atom; I believe these are already tracked in other issues.

[2016-05-26 17:24] #4031 closed

[2016-05-26 17:40] eseidelGoogle commented on #4206
I see we already have an example:
https://github.com/flutter/flutter/blob/master/examples/flutter_gallery/lib/demo/text_field_demo.dart#L104

So OK, I think we can close this.  We can do the visibility icon later.

[2016-05-26 17:40] #4206 closed

[2016-05-26 17:55] abarth commented on #4185
I have a fix.  Writing test now.

[2016-05-26 17:57] eseidelGoogle commented on #2342
Useful links:

https://github.com/flutter/flutter/tree/master/packages/flutter_tools/lib/src/test is our package:test integration
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/commands/test.dart is `flutter test` implementation.

If you're working on the `flutter` command, be aware that the command itself is a shell script which creates a snapshot key'd off the git

[2016-05-26 18:26] #4185 closed

[2016-05-26 18:26] Hixie opened #4210 "flutter install should imply build"
...just like flutter run does.

[2016-05-26 19:53] Hixie commented on #4184
Just ran into this with customer leafy. We definitely need to make this message clearer. It should explain what the problem is, how to fix it, and why we care.

[2016-05-26 19:53] eseidelGoogle commented on #4184
Seems like we could also provide devs way to fix this.  Like "run `flutter create` or `flutter upgrade` on your project to switch to the flutter in your path" or some-such.

[2016-05-26 19:54] Hixie commented on #2613
This is obsolete now. The arguments all changed.

[2016-05-26 19:54] #2613 closed

[2016-05-26 19:54] Hixie commented on #2396
I've moved this to the 2.0 milestone since it doesn't seem like a blocker for a quality first release.

[2016-05-26 19:55] Hixie commented on #3318
Hans, isn't this done?

[2016-05-26 19:56] Hixie commented on #2693
@abarth Do you understand the issue here?

[2016-05-26 19:59] Hixie opened #4214 "If the 'flutter' tool is actually a symlink, we still complain that it doesn't match the package flutter"
We have a report that if you call the flutter tool via a symlink, we get confused about what the real path to the tool is.

[2016-05-26 20:00] a14n opened #4215 "Bad code formatting in codelab doc"
The last code snippet (`main.dart`) of https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#10 is

[code]

but should be :

[code]

[2016-05-26 20:05] sethladd commented on #4215
cc @collinjackson

I think we'd take a pull request for this one :)

[2016-05-26 20:07] a14n commented on #4215
Where is the codelab repo ? I haven't found it.

[2016-05-26 20:07] eseidelGoogle commented on #4214
This is blocking development for customer:leafy.  We can revert @devoncarew's change to unblock them, but it's probably just missing an abspath call.

[2016-05-26 20:09] #1639 closed

[2016-05-26 20:10] Hixie commented on #1771
It needs more tests but there's not much point tracking this with a bug.

[2016-05-26 20:10] #1771 closed

[2016-05-26 20:11] Hixie commented on #2038
@collinjackson Can you look at this and decide if it should be closed or fixed?

[2016-05-26 20:16] collinjackson commented on #4215
https://github.com/flutter/firechat-flutter

[2016-05-26 20:17] collinjackson commented on #4215
It looks like the repo's fine, it's just the codelab instructions that need fixing. @qchong

[2016-05-26 20:17] #2038 closed

[2016-05-26 20:18] collinjackson commented on #2038
This was already fixed

[2016-05-26 20:18] a14n commented on #4215
I was talking about the repo that contain codelab instructions ;)

[2016-05-26 20:21] tvolkert opened #4216 "Test and fix all iOS build modes"
After the recent restructuring of the ios XCode project structure, several iOS build modes are failing.  Make sure they all work:

- [x] simulator, debug runtime, local engine, run via XCode
- [x] simulator, debug runtime, local engine, run via `flutter install` and `flutter run`
- [x] simulator, debug runtime, release engine, run via XCode
- [x] simulator, debug runtime, release engine, run `flut

[2016-05-26 20:23] tvolkert commented on #4216
@chinmaygarde and I are both working on this today :-)

[2016-05-26 20:23] Hixie commented on #4216
You forgot host, headless debug runtime, local and release engines, run via `flutter test`.

[2016-05-26 20:26] Hixie commented on #4202
For chat we should just show variable-height cards.

[2016-05-26 20:28] abarth commented on #2693
I think he's looking for toggle buttons.

[2016-05-26 20:28] Hixie commented on #2693
https://www.google.com/design/spec/components/buttons.html#buttons-toggle-buttons

[2016-05-26 20:29] collinjackson commented on #4215
yeah, the codelab instructions aren't in github. thanks for filing an issue, we'll get it fixed.

[2016-05-26 20:29] abarth commented on #4214
Which change caused the trouble?  The person who reported the symlink issue sent us a fix for it.  https://github.com/flutter/flutter/commit/a24e90305ff9347219cf289d3f6c5ea89f7d418c

[2016-05-26 20:32] abarth commented on #2693
Icon toggles specifically.

[2016-05-26 20:33] tvolkert commented on #4216
Several PRs already submitted towards this:
#4190
#4191
flutter/engine#2707
#4199
#4208
flutter/engine#2714
flutter/engine#2715

[2016-05-26 20:49] a14n opened #4218 "Unable to run app at step 12 of the codelab"
## Steps to Reproduce

Run the app on my Nexus 4 at the end of [step 12 of the codelab](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#11).

## Flutter Doctor

[code]

## Logs and Crash Reports

[code]

[2016-05-26 20:55] #4067 closed

[2016-05-26 20:58] sethladd commented on #3378
AOT makes our startup fast. Thanks!

[2016-05-26 20:58] #3378 closed

[2016-05-26 21:03] a14n commented on #4218
Switched to my Nexus 5X and this error disappeared (with the same code).

[2016-05-26 21:06] yjbanov opened #4220 "[dashboard] add build status indicator for the dashboard"
Add build status indicator for the dashboard next to other build status indicators, color-coded as follows:

  - green: the latest build is successful
  - gray: the latest build was skipped due to broken waterfall
  - dancing red: one of the dashboard jobs failed on a SHA that was

[2016-05-26 21:08] yjbanov opened #4221 "[dashboard] color-code broken dashboard jobs per card"
Each card corresponds to a build job. As of https://github.com/flutter/dashboard_box/commit/4794e9c94282942a1eb7e24d1de46973c0298507 each job can succeed and fail independently of others. We can now color-code breakages on a per-card basis.

[2016-05-26 21:09] yjbanov opened #4222 "[dashboard] record build history per-card"
This can be used to find the earliest breaking SHA.

 - [x] record history in Firebase
 - [x] provide links from cards to their histories

[2016-05-26 21:40] eseidelGoogle commented on #4218
@collinjackson @sethladd @qchong is this the error from not having a new enough GMSCore?

[2016-05-26 21:41] #4184 closed

[2016-05-26 21:41] #4214 closed

[2016-05-26 21:43] sethladd commented on #4218
I wonder what we can do to better detect certain versions of dependencies like GMS core. Will this get better when we're building through gradle?    cc @abarth

[2016-05-26 21:50] eseidelGoogle commented on #4014
@drewwarren did the approach work?

[2016-05-26 21:51] drewwarren commented on #4014
Yup. :cake:

[2016-05-26 21:51] eseidelGoogle commented on #4045
@drewwarren: is this blocking you?  @Hixie would you be comfortable with drew shipping using your above workaround of cloning MaterialApp?

[2016-05-26 21:53] drewwarren commented on #4045
This is not blocking. There are acceptable workarounds. As @Hixie mentioned a more tailored solution would be better long-term.

[2016-05-26 21:55] collinjackson commented on #4218
This will get better when we're building through gradle.

[2016-05-26 21:58] sethladd commented on #4218
Thanks @collinjackson

I'm going to close this, but definitely appreciate the feedback, @a14n !

[2016-05-26 21:58] #4218 closed

[2016-05-26 22:11] kevmoo commented on #2342
We have all of the pieces we need for this – I think. Just need to glue them together.

[2016-05-26 22:21] devoncarew opened #4224 "drive sample_app fails on the mac chromium bot"
The `drive sample_app` step is failing on the mac chromium bot:

https://uberchromegw.corp.google.com/i/client.flutter/builders/Mac/builds/1062/steps/drive%20sample_app/logs/stdio

I'm able to run `flutter create --with-driver-test sample_app; cd sample_app; flutter drive` locally for both ios simulator and android devices.

[2016-05-26 22:32] sethladd opened #4225 "No logs output from iphone device"
I'm not seeing anything in the logs output, when trying to see what went wrong with my iPhone.

I'm trying to run Step 5 of the codelab on my iPhone. The app boots but I can't send and receive messages. I'm trying to figure out what's going on:

[code]

Should I see anything in the logs output?

Meanwhile, I can use Xcode's "view device logs" and I see lots of interesting output, such as:

[code]

[2016-05-26 22:32] sethladd commented on #4225
cc @devoncarew @chinmaygarde

[2016-05-26 22:33] sethladd opened #4226 "Could not load dynamic service on iPhone"
Log output from iPhone:

[code]

I have more logs if they are useful. Not sure where the cut-off is.

[2016-05-26 22:34] sethladd commented on #4226
cc @collinjackson is this a common enough error that we should look for? The app does boot up, and I can try to send a message, but after I tap the Send icon, nothing happens on the device.

[2016-05-26 22:39] sethladd commented on #4226
cc @chinmaygarde

[2016-05-26 22:40] AsturaPhoenix opened #4227 "Unable to consistently run from Atom on Samsung"
While Atom/Flutter works consistently on my test Nexus, on my personal Samsung it sometimes works but often shows only a black screen, dumping errors with `Unable to connect to the Observatory at port 16196.`

On both devices, using `flutter run` from the command line works consistently.

On both devices, tapping the test app opens the initial demo state or some other earlier state.
## Steps to Re

[2016-05-26 22:45] eseidelGoogle commented on #4227
I don't see a log about the Diagnostic server starting on 16227 anywhere in that log, which I would expect if the tool were to find it to connect to it.  This could be another case of `adb logcat -c` not working as we expect, or the log-since-time-x is not working in adb log.

The behavior of using an old version of the app when launching from the launcher is expected, but confusing.  Every time y

[2016-05-26 22:45] sethladd opened #4228 "Unable to run firechat_flutter app on N5 with android 6.0.1"
![screenshot_20160526-154125](https://cloud.githubusercontent.com/assets/5479/15592437/a8f606b0-2358-11e6-82d0-58fda7b0a2e2.png)

Logs:

[code]

[2016-05-26 22:50] collinjackson commented on #4226
I can repro this as well

[2016-05-26 23:01] eseidelGoogle commented on #4228
The top of the stack is in `/data/data/com.example.firechat_flutter/app_sky_shell/snapshot_aot_instr` which I believe is Dart AOT compiled code.

[2016-05-26 23:04] sethladd commented on #4228
@rmacnak-google is there something I can do here to make a symbolified stack trace from the AOT ? Is there something like a --release-with-symbols ?

[2016-05-26 23:09] devoncarew commented on #4224
It fixed itself (https://uberchromegw.corp.google.com/i/client.flutter/builders/Mac/builds/1063/steps/drive%20sample_app/logs/stdio), so that's good.

[2016-05-26 23:09] #4224 closed

[2016-05-26 23:17] chinmaygarde commented on #4216
The device-targeted local-engine builds initiated by Xcode are now fine. Those harnesses are not able to target simulators ATM. Working on that now.

[2016-05-26 23:31] sethladd commented on #4225
This was explained to me a bit. The `flutter logs` command is really intended to provide logs from Dart code running in Flutter. The `logs` command is filtering just for statements that came from flutter's code itself.

To see all the log statements, a developer needs to use platform-specific methods (such as `adb logcat`).

[2016-05-26 23:34] rmacnak-google commented on #4228
The Flutter embedder uses mmapped blobs of instructions on Android instead of a shared library as on iOS to avoid having a build step that involves the NDK. Symbols for precompiled code require the shared library approach. But since there's only a single precompiled frame with a very low address, this feels like the ABI compatibility bug. Are you building from a Mac and have you updated recently?

[2016-05-26 23:35] sethladd opened #4230 "Considering an expectation-setting message when running `flutter logs`"
Running `flutter logs` seems to only show log statements that come directly from flutter. It's not clear what expectations I should have about that command. Is it showing me everything? What did it whitelist? Blacklist? How do I see everything?

I've run into a few occasions where `flutter logs` returned nothing, but platform-specific logs showed me actionable crashes. I now don't know when I shou

[2016-05-26 23:36] sethladd commented on #4230
cc @devoncarew thoughts?

[2016-05-26 23:51] #4205 closed

[2016-05-26 23:51] sethladd commented on #4228
Thanks for the quick response.

I built from my Mac. And I'm using the `codelab` branch:

[code]

[2016-05-26 23:55] #4013 closed

[2016-05-27 00:04] rmacnak-google commented on #4228
That's old than the fix in 0ef246d87d80a3eefe5b10452c1c3f1371cccef0.

[2016-05-27 00:04] rmacnak-google commented on #4228
Ahem, flutter/engine@0ef246d87d80a3eefe5b10452c1c3f1371cccef0

[2016-05-27 00:05] collinjackson commented on #4226
Once I made a fat binary, I was getting an error

[code]

Chinmay said this is a known issue with third-party services on iOS devices so I'm assigning to him

[2016-05-27 00:06] #3980 closed

[2016-05-27 00:06] #3560 closed

[2016-05-27 00:06] sethladd commented on #4228
Thanks for the link!

cc @collinjackson for thoughts on updating codelab branch and the impact that will have on the codelab

[2016-05-27 00:15] abarth commented on #3785
Verified with a high-speed camera that we produce a large number of frames in AOT mode.  I didn't load the video into a video editor to validate that we actually hit every frame, but we certainly don't pop the drawer into place all at once anymore.

[2016-05-27 00:15] #3785 closed

[2016-05-27 00:18] collinjackson commented on #4228
I'm updating the firebase-dart repo with some other improvements, I'll mark this fixed when I build new binary.

[2016-05-27 00:24] cbracken commented on #2342
Yep! Will take a look this weekend.

[2016-05-27 00:24] abarth commented on #4182
We need to add a global route to the PointerRouter to implement the first condition.  @Hixie thinks we should dispatch to these global routes after dispatching to the per-id pointer routes.

[2016-05-27 02:21] eseidelGoogle commented on #4216
Will we be testing these in any sort of automated fashion?  Can we simplify this list in any way?

[2016-05-27 03:03] abarth commented on #4216
We could aim to make the local and release engine configurations more similar.  They're more similar on Android than they are on iOS.  We could also remove either the `flutter run` or the Xcode entry point.

[2016-05-27 03:41] Hixie commented on #4216
How are they different on Mac?

[2016-05-27 03:50] abarth commented on #4216
`flutter run` uses `xcodebuild` to trigger Xcode to perform a build.  It then uses the various `idevice` commands to manipulate the device.  From Xcode, there's a button that performs the build and then Xcode itself manipulates the device.

[2016-05-27 04:26] Hixie commented on #4216
Sorry, I meant what is the difference between local and release configurations.

[2016-05-27 04:35] abarth commented on #4216
The difference is whether the binary artifacts are from the cloud or from a local build of the engine.

[2016-05-27 05:06] chinmaygarde commented on #4216
We can build each variant using `flutter build ios --runtime-mode <mode> <--simulator> <--no-codesign>` on a bot to make sure there are no build breaks. I am not too sure about actual devices. For local engine builds, we are the primary users. So breaks there should be caught early.

We can probably get rid of being able to launch an example directly from Xcode without any tooling support. AFAIK,

[2016-05-27 05:08] abarth commented on #4216
I was thinking we might go the other way and drive all the builds from Xcode.  The idea would be that you'd "connect" to a running Flutter app to debug it or update its code.  That's similar to how the web inspector works with WebView-based apps.

[2016-05-27 05:31] abarth commented on #4216
Hum...  Maybe that's going too far.  The command line based builds are helpful to simply the workflow for new developers.

[2016-05-27 06:20] devoncarew commented on #4230
If you're referring to https://github.com/flutter/flutter/issues/4225, I think we should be printing messages that are useful to the user for that application run. So that would include a native crash at app start, messages logged from the engine, flutter lib, and user code. Some of the info can be hard to get, and hard to get w/o getting a lot of other low signal-to-noise log data.

Our app start

[2016-05-27 16:53] DaveShuckerow opened #4233 "Can't run app from Atom on OSX -- Could not find an option named 'checked'"
## Steps to Reproduce

Deploy app from atom on Mac to an iOS device:

`flutter run --checked --debug-port=16240 --start-paused --device-id a1b07916f5d38432c3e4dde4a427b14a23ee16ab • flutter logs
app/ • checked mode • debug`

produces the error

`Could not find an option named "checked".`

## Flutter Doctor

[✓] Flutter (on Mac OS, channel alpha)
    • Flutter at /Users/djshuckerow/.flutter
    • F

[2016-05-27 17:09] Hixie opened #4235 "flutter analyze doesn't report issues in dart:ui"
For example I recently discovered that dart:ui isn't using @override, but I've never seen any script complain about that (the travis script in the engine repo doesn't turn on lints, in particular).

[2016-05-27 17:12] chinmaygarde commented on #4226
The fix for this issue is to codesign the individual dylibs before application packaging using the following build phase. I am going to work on it after [fixing all variants](https://github.com/flutter/flutter/issues/4216) to account for the `flutter tool` initiated AOTC builds.

[code]

[2016-05-27 17:16] apwilson opened #4236 "Update docs web site atomically to avoid transient 404s"
OverlayState link in the Overlay docs points to : http://docs.flutter.io/flutter/material/OverlayState-class.html which is a 404.

[2016-05-27 17:17] apwilson commented on #4236
Overlay link is here: http://docs.flutter.io/flutter/material/Overlay-class.html

[2016-05-27 17:17] apwilson commented on #4236
Oh wait... it worked this time...

[2016-05-27 17:18] apwilson commented on #4236
Intermittent 404s?

[2016-05-27 17:19] abarth commented on #4236
Yeah, we don't update the web site atomically yet.

[2016-05-27 17:26] Hixie opened #4237 "Test framework should hook timer creation so that when it complains about leaking timers, it can give a stack trace for where the timer was registered"

[2016-05-27 17:46] Hixie opened #4238 "Test framework doesn't flush Timer.run() callbacks"
It looks like when we idle(), and during asyncBarrier(), we should actually be elapsing by zero duration, so that `Timer.run()` timers get a chance to run too.

[2016-05-27 17:51] Hixie opened #4240 "Split Paint into two, one for drawing and one for compositing"
Right now there's a few properties on Paint used with saveLayer, and the rest are used when drawing, and (except maybe transferMode?) none are used for both. It would save us time marshaling data around and would simplify the documentation if we were to instead split this class in two.

[2016-05-27 17:52] devoncarew commented on #4074
Yup, this guy:

Error restarting app: JSON-RPC error -32601 (method not found): Method not found

is available, but not fully plumbed through yet. Re-start does work for android devices and emulators.

When you say fail, what do you see? No output until the process terminates? Or it not responding to the keyboard commands?

[2016-05-27 18:01] devoncarew commented on #4233
@DaveShuckerow, can you check for plugin updates in atom? There should be a new version of the plugin, that will not try and send in `--checked` when launching flutter apps. After the update you'll want to re-start atom to make sure it applied cleanly.

[2016-05-27 18:59] DaveShuckerow commented on #4233
Updating the dartlang plugin resolved this issue.

[2016-05-27 19:00] devoncarew commented on #4233
Great! Closing...

[2016-05-27 19:00] #4233 closed

[2016-05-27 19:41] Hixie opened #4243 "Lock firebase version in website deploy script"
So that we aren't unexpectedly affected by incompatible CLI version changes.

[2016-05-27 20:39] DaveShuckerow opened #4245 "Flutter run crashes when deploying to iOS device"
## Steps to Reproduce

Using the versions of the software below, `flutter run` to deploy to an iOS device (I'm using an iPhone 6s running iOS v9.3)
## Flutter Doctor

[✓] Flutter (on Mac OS, channel alpha)
    • Flutter at /Users/djshuckerow/.flutter
    • Framework revision 646b5350d1 (23 hours ago), engine revision 7fab0c350b

[✓] Android toolchain - develop for Android devices (Android SDK 23.0

[2016-05-27 21:25] devoncarew opened #4246 "remove the last message repeated lines from ios logging"
When running apps on the ios simulator, flutter logs shows:

[code]

when run from xcode, the `last message repeated` messages are not present, and you just see:
[code]

we should filter the messages out (and perhaps duplicate the last message n-1 times?).

[2016-05-27 21:25] devoncarew commented on #4246
@chinmaygarde @tvolkert

[2016-05-27 21:45] devoncarew commented on #3827
/cc @qchong, most / all of the modes are plumbed in; https://github.com/flutter/flutter/wiki/Flutter's-modes is a good resource, but we should have them doc'd at flutter.io as well.

[2016-05-27 22:12] devoncarew opened #4247 "expose edit/refresh commands through the flutter_tools daemon protocol"
Atom currently sends the refresh (and quit) commands using stdio to the launched flutter_tools process, but we should move to using more explicit daemon commands for a bit more reliability.

https://github.com/flutter/flutter/wiki/The-flutter-daemon-mode

[2016-05-27 22:14] devoncarew opened #4248 "enable flutter run --resident by default"
We need to switch around how the atom client runs flutter apps first.

[2016-05-27 22:15] devoncarew opened #4249 "update atom to use the faster edit/refresh daemon commands from flutter_tools"
blocked on https://github.com/flutter/flutter/issues/4247

[2016-05-27 22:55] HansMuller opened #4251 "Ink Splashes for opaque widgets"
Ink splashes are rendered on a widget's Material ancestor, so if the widget is entirely opaque, the widget obscures the splash.

Perhaps what we need is a MaterialBackground container widget that paints its subtree on the Material so that the splash gets rendered on top.

It looks like this could be implemented with the InkFeature class.

It's possible to put the InkSplash on top now, like this:

[2016-05-27 23:25] yjbanov commented on #4220
Fixed by https://github.com/flutter/dashboard_box/commit/412edf5f8feb9e44f10c0320c29dc583beda4ba0

[2016-05-27 23:25] #4220 closed

[2016-05-27 23:53] Hixie commented on #4240
With further study, I think the above description is wrong. However, maybe we should have a class for saveLayer() that only includes the stuff used by saveLayer, and a separate one for the places that actually use everything on paint.

[2016-05-27 23:54] Hixie commented on #4235
It also doesn't report the count of missing dartdocs from dart:ui, which is related.

cc @pq

[2016-05-27 23:59] Hixie opened #4254 "remove Canvas.getTotalMatrix"
It's only used by sprite box right now. It would let us make Canvas completely opaque. It's not clear that it's a valid thing to query.

[2016-05-28 00:04] Hixie opened #4256 "paintImage() documentation should describe each argument in detail"

[2016-05-28 04:54] devoncarew opened #4261 "when a flutter drive test fails, you get an enormously long stack trace"
I'm not sure if this is an artifact of how we're using `test`, or if we're printing this stack trace ourselves.

Here's an example:

[code]

[2016-05-28 04:54] devoncarew commented on #4261
/cc @Hixie @yjbanov

[2016-05-28 13:12] devoncarew opened #4262 "Disable turbo boost on dashboard box"
I've noticed that the analysis benchmarks tend to be a bit faster after they haven't run for a while, but then are consistently about 12% slower for the following commits.

<img width="488" alt="screen shot 2016-05-27 at 10 40 03 pm" src="https://cloud.githubusercontent.com/assets/1269969/15627495/cfb32696-249a-11e6-824f-98135a4ab161.png">

I suspect that the mac mini is enabling turbo boost for t

[2016-05-28 13:58] pq commented on #4235
Right.  I looked at this a bit yesterday and I see the issue(s).  I've got a few ideas and will run them by you next week.

[2016-05-28 19:42] Hixie commented on #4261
Flutter and flutter test have logic to make these saner that we should reuse here.

[2016-05-28 20:29] Hixie commented on #4098
We should just have a test included with the flutter create template.

[2016-05-29 02:48] tain335 opened #4265 "Flutter 1.0 will come?"

[2016-05-29 03:03] abarth commented on #4265
We're not aiming for a specific date.  You can track the Flutter 1.0 milestone <https://github.com/flutter/flutter/milestones/Flutter%201.0> to get a sense for what we'd like to accomplish before 1.0.  GitHub says we're 39% of the way there, but I'd take that number with a big grain of salt.  :)

[2016-05-29 03:03] #4265 closed

[2016-05-29 03:17] tain335 commented on #4265
Can finish Android or IOS Flutter 1.0 first? Just like React Native. That should make more developers involved in the project.

[2016-05-29 03:24] abarth commented on #4265
Developers should feel welcome and encouraged to get involved in the project regardless of the quality bar we'd like to hit for 1.0.

[2016-05-29 19:55] abarth opened #4267 "Replace RenderConstrainedOverflowBox with RenderCustomSingleChildLayoutBox"
RenderConstrainedOverflowBox sizes itself to `constraings.biggest`, which means its use case is subsumed by RenderCustomSingleChildLayoutBox.

/cc @Hixie

[2016-05-29 19:58] abarth commented on #4267
RenderSizedOverflowBox looks like it is also subsumed by RenderCustomSingleChildLayout.

[2016-05-29 22:11] domesticmouse opened #4269 "Attempting to deploy flutter game to iPhone6"
## Steps to Reproduce

Using the Atom.io Flutter tooling, attempt to run the flutter game on a device. Python blows up as follows:

[code]

I'm guessing we should add documentation somewhere on how to add six to the system python somewhere.

## Flutter Doctor

[code]

[2016-05-29 22:14] abarth commented on #4269
Crazy.  That's Apple's Python from `/Applications/Xcode.app/Contents/SharedFrameworks/LLDB.framework/Resources/Python/lldb/__init__.py`

If you use Xcode to create a "hello, world" program in Objective-C, do you get the same error?

[2016-05-29 22:14] abarth commented on #4269
We don't use Python ourselves.  That's Apple's code that's trying to import six.

[2016-05-29 22:15] domesticmouse commented on #4269
Oh gawd. I have a homebrew installed python on my path, that may be confusing things.

[2016-05-29 23:21] eseidelGoogle commented on #4269
https://github.com/flutter/flutter/issues/4245 appears to be the same issue.

On Sun, May 29, 2016 at 3:16 PM, Brett Morgan <notifications@github.com>
wrote:

[2016-05-29 23:26] abarth commented on #4245
See https://github.com/flutter/flutter/issues/4269 where we think the issue is due to a homebrew install of python being in the user's path and that confusing Apple's python code.

[2016-05-30 06:44] Hixie commented on #4267
The use cases for both would include some caveat along the lines of "without requiring a delegate". The custom layout widgets are escape hatches for when you can't do it easily any other way. I don't think they justify removing easier solutions. Our whole system is a big stack of layers that simplify things. If we start removing things because you can build them out of the previous layers, we're r

[2016-05-30 14:50] abarth commented on #4267
Maybe we should look at how often these are used.  If we had RenderCustomSingleChildLayoutBox before running into these, there's a good chance we wouldn't have added them.  (I also have trouble keeping all the subtle variants straight.)

[2016-05-31 14:18] devoncarew opened #4272 "add an app restart command as a service protocol extension"
For the edit/refresh work, we'll need an app restart command, likely exposed as a service protocol extension. This would be exposed as something like `ext.flutter.restartApp` or `ext.flutter.restartIsolate`. It would work similarly to the android `flutter refresh` command, which keeps the flutter process running, terminates the current isolate, and starts up a new isolate with the updated app.

Th

[2016-05-31 15:09] DaveShuckerow commented on #4245
Removing the brew python works as a workaround to the issue, but I wouldn't mark this as closed until there's a proper fix.

[2016-05-31 15:21] eseidelGoogle commented on #4245
Presumably the fix is to clear the PATH from the environment before invoking any xcode commands.

Others have hit this or related, btw:
https://github.com/dropbox/dropbox-sdk-python/issues/62
https://github.com/pypa/pip/issues/3165

[2016-05-31 15:23] abarth commented on #4245
Yeah, I suspect people usually run Xcode from the app launcher, which probably has a different environment than they use in their shell.

[2016-05-31 15:39] eseidelGoogle commented on #4245
Correct.  If this theory holds `xcodebuild` should fail similarly from the command line.

[2016-05-31 15:53] sethladd commented on #4243
Thanks!

[2016-05-31 16:03] sethladd commented on #4230
How about we start by clarifying what `flutter logs --help` says?

Right now, we see:

[code]

Which is a bit vague. What does "log output" mean?

How about this:

[code]

[2016-05-31 16:09] eseidelGoogle commented on #3544
FYI: @abarth ran into this this weekend when writing an app. :/  Seems like a rather common occurrence.

[2016-05-31 16:23] eseidelGoogle opened #4273 "Emoji do not work on iOS 😦"
😦

So Chrome had this bug.  https://bugs.chromium.org/p/chromium/issues/detail?id=62435 We forked our Text system from Chrome before they fixed it.  So presumably it's just a few patches to pull.  Skia supports Emoji on Mac now, presumably also on iOS too.  FYI @mikerreed @abarth @chinmaygarde

Flutter main.dart:

[code]

Android device (Nexus 5):
![flutter_01](https://cloud.githubusercontent.com/

[2016-05-31 17:14] #4216 closed

[2016-05-31 17:24] tvolkert opened #4275 "Output iOS build artifacts to build/ios instead of ios/.generated"
Just to unify the cognitive model of Android and and iOS builds.

[2016-05-31 17:29] yjbanov commented on #4262
This is a non-trivial customization that will be hard to maintain (e.g. when we add/change build boxes we'll have to remember how to configure it correctly). I'm surprised that multiple runs of the benchmark doesn't solve this problem already.

[2016-05-31 17:33] eseidelGoogle opened #4276 "`flutter test` host binaries should compile with dart asserts enabled"
@a-siva asked me today for us to turn on dart asserts in our hosted `flutter test` pre-compiled binaries.  He says there are a ton of things they would catch and as long as we compile with `-O2` or above they should be relatively fast.

Hopefully I got that right. :)  Please correct me if I'm wrong.

@abarth @chinmaygarde or @jason-simmons are probably the best folks to wire this up.  He mentioned

[2016-05-31 17:37] yjbanov commented on #4261
Not only is this stack trace too long, it is also not useful in this situation, as the error was thrown inside the app, not inside the test script (hence the `due to remote error`). Currently one has to use `flutter logs` in parallel to get the app-side stack trace.

I'm not sure how to implement it elegantly as we have two sources of errors in driver tests: errors thrown inside the test script an

[2016-05-31 17:38] abarth commented on #4273
Maybe all we need to do is merge https://src.chromium.org/viewvc/blink/trunk/Source/platform/fonts/mac/FontCacheMac.mm?r1=186991&r2=186990&pathrev=186991 ?

[2016-05-31 17:41] abarth commented on #4273
Hum...  I don't actually see that blacklist in our code.

[2016-05-31 17:43] zanderso commented on #4276
The GN flag is `dart_debug`:

https://github.com/dart-lang/sdk/blob/master/runtime/BUILD.gn#L13

At the moment this sets -O1, but we can bump it to -O2 if needed.

[2016-05-31 17:43] eseidelGoogle commented on #4070
Moving this to Gallery-Next since we have 2 other customers asking for this and should pave the way for them with the Gallery.

[2016-05-31 17:44] eseidelGoogle commented on #614
Now that we use AOT dart in release mode, this plan is likely the same as #4070, but we will also need to be sure we can explain to devs how to symbolicate AOT dart stack traces?  FYI @zanderso

[2016-05-31 17:47] eseidelGoogle commented on #4276
I believe the patch would be to set that arg in this else:
https://github.com/flutter/engine/blob/master/sky/tools/gn#L66

@zanderso or @jason-simmons would you be willing to write the patch to do so?

[2016-05-31 17:59] #4243 closed

[2016-05-31 18:54] devoncarew commented on #4262
No arguments here, but I do want to get reliable analysis numbers for the graphs. There are probably a few ways to get that, including having an analysis/benchmarking box with turbo boost disabled. Many of the comments that I found - for why people were trying to disable turbo boost - were benchmarking related.

Turbo boost is probably active for the first run, so that gets taken as the fastest nu

[2016-05-31 18:56] eseidelGoogle commented on #4262
Its not uncommon for perf frameworks to discard extremes or first n runs
explicitly.
On May 31, 2016 11:54 AM, "Devon Carew" <notifications@github.com> wrote:

[2016-05-31 19:45] sethladd commented on #4120
@Hixie did you want to make copies of these?

cc @HansMuller for where to put these in the meantime.

[2016-05-31 19:51] sethladd opened #4279 "View/screen/widget to display licenses"
Once we have https://github.com/flutter/flutter/issues/109 we can display that info somewhere in the app.

[2016-05-31 19:54] sethladd commented on #3754
Any updates on this one?

[2016-05-31 19:57] Hixie commented on #4120
Haven't touched these. I thought Hans was going to do it. :-) It should be pretty easy. I'd start with cloning the entire gallery into dev/manual_tests, then removing everything from there except the bits we are removing from the gallery, then removing just those bits from the actual gallery, such that the app is split cleanly into two almost completely different parts with nothing but the core sk

[2016-05-31 19:57] tvolkert commented on #3544
@rmacnak-google I'm seeing the same behavior on the Stocks example - did you see white text in the iOS status bar in stocks?

[2016-05-31 20:05] rmacnak-google commented on #3544
To clarify, I was comparing Apple's stocks app as a dark-themed app that updates the status bar to white text, not saying the Flutter gallery app and Flutter stocks app behave differently.

[2016-05-31 20:29] eseidelGoogle opened #4280 "`flutter` tool needs to verify the identity of servers from which it obtains data"
Need to validate that `flutter` tool is verifying the identity of GCS, etc.

This came up in security review.  FYI @abarth @devoncarew

[2016-05-31 20:48] yyoon opened #4281 "Running a Flutter app from Atom plug-in fails"
## Steps to Reproduce

* Create a new Flutter app with `flutter create`.
* Open the app folder within Atom
* Press the Run button on the Atom Flutter package toolbar.

It seems to me that the Atom plugin is providing `--checked` option by default, but the option was removed from the `flutter run` command recently. I'm using the atom-flutter v0.2.2.

## Flutter Doctor

[code]

## Logs and Crash Rep

[2016-05-31 20:53] eseidelGoogle commented on #4280
The attack scenario would be a network attacker posing as google cloud storage servers to give compromised binaries to `flutter`-using developers.

[2016-05-31 21:02] tvolkert commented on #3544
The issue is that we [explicitly opt out of view controller based status bar appearance](https://github.com/flutter/engine/blob/master/sky/build/Info.plist#L45) because [we want to able to modify the visibility on the fly](https://github.com/flutter/engine/blob/master/sky/services/platform/ios/system_chrome_impl.mm#L70).  So although we [specify in the controller](https://github.com/flutter/engine

[2016-05-31 21:06] abarth commented on #3544
In the framework, the `Title` widget is what we use to control these sorts of system UI colors.  We could either compute the color we want for the status bar text from `Title.color` or we could add a new field on that object to communicate that information.

[2016-05-31 21:06] HansMuller commented on #4120
Hans is planning to do it. Just wanted to get Shrine v0 finished first.

[2016-05-31 21:07] abarth commented on #3544
Looks like `Title` currently backends into activity.mojom.  We should probably add something to `sky/services/platform` to receive this data in a less Android-specific way.

[2016-05-31 21:08] abarth commented on #3544
Looks like `sky/services/platform/system_chrome.mojom` might be the right place to plumb this data.

[2016-05-31 21:10] abarth commented on #3771
This example now exists: https://github.com/flutter/flutter/tree/master/examples/hello_services

[2016-05-31 21:10] #3771 closed

[2016-05-31 21:11] abarth commented on #3744
This interface now exists on both Android and iOS.  There's still a bunch of work left to integrate it into the developer workflows, but I think we can close the issue and open more specific issues.

[2016-05-31 21:11] #3744 closed

[2016-05-31 21:11] abarth commented on #3372
@jason-simmons is working on this issue.

[2016-05-31 21:22] chinmaygarde commented on #4226
@collinjackson The code signing step should be done done now. Mojo SDK has been updated in the meantime though. So the pub packages will need to be updated.

[2016-05-31 21:22] devoncarew commented on #4281
@yyoon, there should be an update available for the `dartlang` plugin, if you check for that from the atom UI. That new version of the plugin will not try and send in the `--checked` cli option. Can you update and verify that that solves the issue? Thanks for the report!

[2016-05-31 21:22] #4281 closed

[2016-05-31 21:43] Hixie commented on #4280
Oh this specifically is referring to the `flutter` tool validating the identity of the servers it pulls data from.

Yes, we definitely should do that. We should also make sure we have a test that verifies that we do that correctly over time.

[2016-05-31 22:03] #4182 closed

[2016-05-31 22:16] yyoon commented on #4281
I did already have the latest version of dartlang package, so I just restarted the Atom editor and it solved my problem. I probably should have tried that before submitting this issue. Thanks for the prompt response. :smile:

[2016-05-31 23:07] HansMuller commented on #3244
I'm no longer able to reproduce the problem with a current build.

[2016-05-31 23:08] rmacnak-google opened #4287 "Strip the precompiled snapshot library on iOS for release builds"
Only the snapshot symbols are needed outside of debugging. Would save 4.1MB on the gallery app.

[code]

[2016-05-31 23:22] rmacnak-google commented on #4070
(Assuming we mean a C crash and not just an unhandled Dart exception.)

Currently precompilation supports two ways of outputting instructions, either outputting an assembly file that can be turned into a shared library that can be loaded with dlopen or outputting a binary blob that can be loaded with mmap. On iOS, Flutter uses the shared library approach (mmap can't create executable pages, which

[2016-05-31 23:48] eseidelGoogle commented on #4287
Once we start tracking binary size on the dashboard (FYI @yjbanov) this sounds like an easy win.  @chinmaygarde

[2016-06-01 00:02] yjbanov commented on #4287
This is tracked as part of https://github.com/flutter/flutter/issues/3717

[2016-06-01 00:02] yjbanov commented on #4287
By "this" I mean tracking binary size.

[2016-06-01 05:57] tvolkert commented on #3544
FYI, working on a patch to fix this

[2016-06-01 16:26] apwilson opened #4293 "ClipPath is slow"
See me for more details.

[2016-06-01 16:39] abarth commented on #4293
We should try optimizing the case where the path clip is applied to a single composited child that has already been rasterized.

[2016-06-01 16:45] abarth commented on #4038
@tvolkert Fixed the first part of this issue.  The remaining issue is that it's not sticky.

[2016-06-01 16:47] abarth commented on #2042
I believe this is done now.

[2016-06-01 16:47] #2042 closed

[2016-06-01 16:47] abarth commented on #1417
`flutter build ios --release` exists and works now.

[2016-06-01 16:47] #1417 closed

[2016-06-01 16:55] eseidelGoogle commented on #1417
I suspect build ios --release actually produces an app (uncompressed, installed on phone) not an ipa (compressed, plus store artwork, sent to store).  So yes, I think we should close this, but we'll need to open separate issues about how-to-publish-a-flutter app on iOS.

[2016-06-01 16:57] DaveShuckerow opened #4294 "Flutter run crashes when deploying to Android device from OSX"
## Steps to Reproduce

Trying to run a Flutter app on an Android device, flutter crashed, both on the command line and in Atom.  I tried to use flutter build apk to see if I could build an apk, and this crashed with the same error message and stack trace.

I've run flutter upgrade and pub get, but these haven't changed the behavior.

## Flutter Doctor + Logs
Flutter crash report; please file at ht

[2016-06-01 17:01] DaveShuckerow commented on #4294
This issue also exists in master branch:

Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter build apk

## exception

The null object does not have a getter 'iterator'.

NoSuchMethodError: method not found: 'iterator'
Receiver: null
Arguments: []

[code]

## flutter doctor

[code]

[2016-06-01 17:39] Hixie commented on #2762
On Linux we can use "flock".

[2016-06-01 17:41] abarth commented on #2762
shlock is a possibility on mac, but some random web site had bad things to say about it.

[2016-06-01 17:45] Hixie commented on #2762
Is `mkdir` atomic enough?

[2016-06-01 17:47] abarth commented on #2762
http://wiki.bash-hackers.org/howto/mutex seems positive on it.

[2016-06-01 17:48] abarth commented on #2762
Seems tricky if your shell script can terminate before removing the directory.

[2016-06-01 17:51] eseidelGoogle opened #4296 "Material Design Feature Discovery"
https://material.io/archive/guidelines/growth-communications/feature-discovery.html#

Pieces flutter should probably provide (and demo in the Gallery):
- [ ] Tap Target colored overlay with help text and pulsing target area
- [ ] Straightforward way to trigger ripple effects on certain elements during guided flows
- [ ] Guided Flow helper class of some form to help orchestrate one of these.
- [ ]

[2016-06-01 17:58] HansMuller commented on #4296
I think this is really important feature, mobile apps are getting rather complicated, and it's not like users are going to read a manual.

I'll put demoing the features you've listed at the top of my short stack.

[2016-06-01 18:02] Hixie commented on #2762
I guess we can use flock on linux, and shlock on mac. Better than nothing.

[2016-06-01 18:05] sethladd commented on #4120
Thanks for the update! Makes sense.

[2016-06-01 18:11] yjbanov commented on #3754
Nothing yet. Still working on getting the profile mode working on the dashboard.

[2016-06-01 18:43] mpcomplete opened #4297 "MaxTileWidthGrid assert"
I'm hitting an assert[1] using MaxTileWidthGrid. My usage is as follows:
[code]

[2016-06-01 19:01] drewwarren opened #4298 "flutter build ios does not support -t aka --target"
## Steps to Reproduce

`flutter build ios -t lib/main.dart`. In reality I'm trying a different main file.
`build apk` does support -t

## Flutter Doctor

[code]

## Logs and Crash Reports

[code]

[2016-06-01 19:12] abarth commented on #4297
How much width do you have available for the grid?  We probably need a better error message here, but the issue is that you've put the grid in a location that has an unbounded amount of width.

/cc @Hixie

[2016-06-01 19:14] abarth commented on #4298
`flutter build apk` claims to support a `-t` option.  It looks like you might be running `flutter build -t lib/main.dart` instead of `flutter build apk -t lib.main.dart`...

[code]

[2016-06-01 19:16] drewwarren commented on #4298
I have no problems with `build apk` only with `build ios`

[2016-06-01 19:17] Hixie commented on #4297
The immediate problem here is with the grid intrinsics logic. I have a fix.

[2016-06-01 19:17] abarth commented on #4298
Ah, sorry.  I misread your bug report.  Yes, that's missing.

[2016-06-01 19:18] abarth commented on #4298
I can take care of this.

/cc @chinmaygarde

[2016-06-01 19:47] Hixie commented on #4297
Fix in https://github.com/flutter/flutter/pull/4299

[2016-06-01 20:19] Hixie opened #4301 "Replace Size.isInfinite with Size.isFinite"
Slightly different semantics, but more likely to be correct.

[2016-06-01 20:27] devoncarew commented on #4294
@DaveShuckerow, can you attach (or PM me) the output from running `flutter run -v`? One of the last lines before the crash should be something like `Looking for YAML at...`. Thanks!

[2016-06-01 20:44] devoncarew commented on #4294
Hmm, but no verbose output? I'm hoping to get the name of the services yaml file it's trying to parse.

[2016-06-01 20:44] DaveShuckerow commented on #4294
I just got the verbose logs; I'm messaging you them.  From what I see, it appears to be a problem with google_sign_in not being available for Android yet.

[2016-06-01 20:51] #4297 closed

[2016-06-01 20:59] devoncarew commented on #4294
@DaveShuckerow, I have a fix out. You should be able to work around the issue locally as well by commenting out the `jars:` line in that flutter_services.yaml file.

[2016-06-01 21:06] #4294 closed

[2016-06-01 21:30] sethladd commented on #3244
Thanks for checking. We can reopen if we see this again.

[2016-06-01 21:38] #4178 closed

[2016-06-01 22:10] apwilson opened #4304 "FR: Implement OpenGL in Flutter."

[2016-06-01 22:17] abarth commented on #4304
Duplicated of #179

[2016-06-01 22:17] #4304 closed

[2016-06-01 22:17] abarth commented on #179
/cc @apwilson

[2016-06-01 22:18] abarth opened #4305 "Add projection matrix to Flow"
It's typical to have a matrix that you want to multiply into every child of a flow.  We should make that easy by providing a way to associate a Matrix4 with the Flow widget itself.

[2016-06-01 22:47] jimbeveridge opened #4307 "Error in Firebase step in codelab"
Scroll down to Step 4, which says this:
In your Atom workspace, create a new Resources folder under the ios folder in your Flutter project. Move the GoogleService-Info.plist file into the ios folder.

This is not quite correct. Replace `the ios folder` with `the new ios/Resources folder`.

Now it should read:
In your Atom workspace, create a new Resources folder under the ios folder in your Flutte

[2016-06-01 22:47] abarth commented on #4307
/cc @qchong @collinjackson

[2016-06-01 22:54] jimbeveridge opened #4308 "Arrows in codelab should scroll, not change sections"
The arrow keys and the page up/page down keys in the codelab have been reassigned to navigate the hierarchy. For those of us who are used to scrolling around with the keyboard, this is a big misfeature. Every time I accidentally hit an arrow key, I lose my place in the codelab step and have to go looking for it. To look for it, I try to use page up and page down, which starts the whole process all

[2016-06-01 22:57] jimbeveridge opened #4310 "Indentation error in codelab"
Go to the *Animate your app* section.
Scroll down to *Dispose the animation*.
The code looks like this:
[code]

The line reading `super.dispose()` should be outdented one level.

[2016-06-01 23:03] jimbeveridge opened #4311 "Capitalization error in codelab"
- Go to the Step named *Set Up Your Flutter Environment*
- Scroll down to *Configure Atom for Flutter development*.
- In Step 4 it says, "set the FLUTTER_ROOT field"
- It should say "set the flutter_root field"

[2016-06-01 23:17] jimbeveridge opened #4312 "Instructions are out of order for setting up the codelab"
On the page for *Set Up Your Flutter Environment*, Step 2 says, "The first time your run the flutter command, it will download its dependencies and compile itself. Subsequent runs should be much faster." Then the user is prompted to update the environment, which has nothing to do with what they were just told.

Then, in Step 3, the instructions say to run `flutter doctor`. It says, "Run the flutte

[2016-06-01 23:54] yjbanov opened #4313 "[dashboard] time out tasks"
Currently if a task gets stuck, the whole build is stuck and gets killed by `launchd` failing to report the build failure.

[2016-06-02 00:00] #1718 closed

[2016-06-02 00:01] yjbanov opened #4314 "[dashboard] keep device screen off while not building"
We drain the battery too fast. We should:

* [ ] keep device screen off, while not building
* [ ] alert when battery level goes below 70%

Available tools

This tells you if the device is awake or not (`Display Power: state=ON` is another potential option):

`adb shell dumpsys power | grep 'mWakefulness='`

This virtually presses the power button (hence the need to check wakefulness first):

`adb

[2016-06-02 07:17] a14n commented on #4310
dup of #4215

[2016-06-02 08:13] abarth commented on #4298
Fix in https://github.com/flutter/flutter/pull/4318

[2016-06-02 08:56] abarth commented on #4305
Actually, I don't thinks this is worthwhile.  It's easy to implement this yourself in the delegate.

[2016-06-02 08:56] #4305 closed

[2016-06-02 15:52] sethladd opened #4321 "Text selection highlight doesn't reach the top of the text on iOS"
On an iPhone 6S.

![dc50310b-b5d0-48a7-92de-88d60e5f3c6d](https://cloud.githubusercontent.com/assets/5479/15751510/39bd50a4-289f-11e6-8257-fe1bae8cf457.PNG)

[2016-06-02 15:52] sethladd commented on #4321
cc @mpcomplete

[2016-06-02 15:57] #4298 closed

[2016-06-02 15:58] abarth commented on #4321
We're supposed to replace the height with a constant multiple of the font size called the "selection height".  If you look in the C++ code, you can see how this is supposed to work.

[2016-06-02 16:22] DaveShuckerow commented on #4294
Thanks for the speedy response, Devon!

[2016-06-02 16:32] collinjackson commented on #4307
good catch, thanks. I've updated the Google Doc, assigning to qchong to publish.

[2016-06-02 18:10] yjbanov opened #4325 "Provide a "flutter shutdown" command to shut down resident deamons"
Which would kill any pending/daemon Flutter-related processes, including:
- All `flutter` commands
- `adb` server
- `adb`-equivalent for iOS (dunno what that is)
- All simulators/emulators
- things that I'm forgetting

This would be useful in test environments and for resetting your dev environment when things just go out of sync.

/cc @devoncarew

[2016-06-02 18:40] drewwarren opened #4326 "ios-deploy: Unable to locate DeviceSupport directory"
## Steps to Reproduce

I was attempting to `flutter run` with xcode 7.2.something and I would see

[code]

This says I might not have Xcode installed, but I did. `flutter doctor` made everything look okay for Xcode.

When I was in this state if I attempted to open `FlutterApplication.xcodeproj` in Xcode and click the play button I would see `Could not find Developer Disk Image`.

[2016-06-02 19:39] collinjackson opened #4330 "document flutter's -d argument more in flutter help"
When you have two or more devices connected, flutter run needs you select which one you want to deploy to. This requires copy-pasting the device identifier. "flutter run" could check an environment variable to see which device to deploy to if more than one are connected.

[2016-06-02 19:44] eseidelGoogle commented on #4330
You can give partial (case-insensitive) identifiers too (if that helps).

For example, I commonly use -d i and -d n to differentiate from my iDevice vs. my Nexus device.

[2016-06-02 19:57] collinjackson commented on #4330
That is good enough for my purposes, but it isn't discoverable; maybe let's document the -d command more in "flutter help"?

[2016-06-02 21:04] #4256 closed

[2016-06-02 21:11] abarth commented on #2924
Fixed by removing animation from the homepage header.

[2016-06-02 21:11] #2924 closed

[2016-06-02 21:31] eseidelGoogle opened #4332 "flutter run crashes strangely when assets are missing"
Seems like we could give a nicer message?

## command

flutter run

## exception

FileSystemException: Cannot open file, path = '/src/flutter/examples/flutter_gallery/packages/flutter_gallery_assets/shrine/fonts/abrilfatface/AbrilFatface-Regular.ttf' (OS Error: No such file or directory, errno = 2)

[code]

## flutter doctor

[code]

[2016-06-02 21:40] collinjackson opened #4333 "Google Sign-In flickers on iOS simulator"
The app goes black for a moment after signing in on the iOS simulator.

I've only tested this on the simulator. Not sure if this will reproduce on the device or not.

http://github.com/flutter/google_sign_in/

[2016-06-02 22:13] eseidelGoogle commented on #4276
@jason-simmons looked at this afternoon.  dart_debug defines DEBUG, however our current `flutter test` host binaries are built optimized with NDEBUG defined.  So we'd either have to swap our `flutter test` configuration over to using unoptimized (debug) builds or we'd have to create separate "release" vs. "debug" configurations for `flutter test` (host) binaries.  Neither sound ideal.  Since we're

[2016-06-02 23:10] drewwarren opened #4336 "PopupMenuButton/PopupMenuItem broken (in the AppBar)"
## Steps to Reproduce

I have only tested this on the iOS simulator within an AppBar. Things work fine on the alpha branch.

on master run the flutter_gallery, open the grid demo, and click the ellipsis menu in the top right of the app bar.

## Flutter Doctor

[code]

## Logs and Crash Reports

[code]

[2016-06-02 23:12] #4120 closed

[2016-06-02 23:20] Hixie commented on #4336
Oops. This is mine.

[2016-06-02 23:21] jimbeveridge opened #4337 "Firebase Mojo bindings are broken"
The new bindings for Mojo landed, meaning that the bindings for Firebase that are checked in no longer work with the latest version of the Dart Mojo bindings used on branch `master`. The bindings for Firebase need to be regenerated.

[2016-06-02 23:26] jimbeveridge opened #4338 "Firebase bindings needs to be tested as part of a Flutter release"
The latest release of Flutter broke the [Firebase code](https://github.com/flutter/firebase) because the Mojo bindings changed. In the future, it would be good if we could be warned of this problem before users discover it.

[2016-06-02 23:46] Hixie commented on #4336
I have a fix but I still need to write a test.

[2016-06-03 00:01] eseidelGoogle commented on #4156
I just re-read customer:fast's design document for their MVP.  They mention the ability to send an email as feedback from the app.  I'm assuming this bug would cover being able to open a `mailto:` link?  (I'm guessing a mailto: with this api would be easier than trying to solve https://github.com/flutter/flutter/issues/133.)

[2016-06-03 00:53] abarth commented on #3327
Fixing this is going to require reworking some of the gesture callbacks.

[2016-06-03 01:52] Hixie commented on #4336
Fix landed. Let me know if this isn't fixed for you. Thanks!

[2016-06-03 01:55] Hixie commented on #4336
...or not

[2016-06-03 02:09] #4336 closed

[2016-06-03 02:18] drewwarren opened #4341 "Exception logged calling runApp a second time from clicking a button"
## Steps to Reproduce

Sorry I have not taken the time to make a minimal reproduction case. For now I will just describe how to produce it. Everything appears to function fine so this isn't urgent.

1. create a material app that has a button (RaisedButton in my case).
2. make the onPressed of the button call runApp on a second materal app.
3. run the app (ios simulator in my case). Press and hold

[2016-06-03 02:29] drewwarren opened #4342 "Plugin: Network state"
Is there a way to check and monitor network connectivity in flutter? I'd love to show a warning message if we can reliably identify the user has no connectivity.

[2016-06-03 04:52] ScottPierce opened #4344 "Flutter relative path dependency are awkward"
Is there any solution to the flutter relative path? It's somewhat frustrating having to change it for every app I want to build:

[code]

I noticed there was a ticket in pub here: https://github.com/dart-lang/pub/issues/1358
It seems there is no intention of supporting environment variables.

I'm assuming the end goal is to push flutter to pub, but until then is there any sane best practice people

[2016-06-03 04:56] abarth commented on #4344
It's unfortunately not quite as simple as uploading `package:flutter` to pub.dartlang.org because `package:flutter` depends on the Flutter engine.

We've been have a series of discussions with the folks who work on `pub` to figure out how we should fix this problem.  The current leading idea is to put the version constraints for flutter into the https://www.dartlang.org/tools/pub/pubspec.html#sdk-

[2016-06-03 06:01] Hixie commented on #4342
"no connectivity" is very hard to define. If I'm on a subway and have a 10 Mbits connection every 5 minutes for 30 seconds, is that "no connectivity"? What about if I'm connected to a wifi network with DNS, but most packets are blocked silently? What about if I'm on a network with 90% packet loss?

I think https://github.com/flutter/flutter/issues/1051 presents a more effective long-term solution,

[2016-06-03 15:54] sethladd commented on #4342
However, couldn't the developer ask "do I have a link light?". I should be able to tell if I _definitely_ have no network access if I have zero "up" network interfaces.

Agreed that if I have at least one link light, that I can't assume that it means I have connectivity.

But, the absence of link lights should tell me "there's no way I have connectivity".

[2016-06-03 16:02] eseidelGoogle commented on #4342
Android:
https://developer.android.com/reference/android/net/ConnectivityManager.html
and iOS:
https://developer.apple.com/library/tvos/documentation/SystemConfiguration/Reference/SCNetworkReachabilityRef/index.html#//apple_ref/doc/uid/TP40007260
It seems reasonable to ask for a x-platform wrapper around these two.  We don't have one currently.

[2016-06-03 16:03] sethladd commented on #4344
cc @munificent @nex3

[2016-06-03 16:10] sethladd opened #4347 "Test Firebase wrapper in a CI-like system"
With the codelab being a popular first entry point for Flutter, we might want to look at how to test our Firebase wrapper in a CI system. Maybe even put it on the dashboard?

[2016-06-03 16:11] sethladd commented on #4347
cc @collinjackson

[2016-06-03 16:32] sethladd opened #4349 "Text selection highlight doesn't reach down to bottom of font (on Android)"
(Notice how the highlighting on Android has some padding above and below the text. Looks like Flutter's highlighting doesn't have the same padding.)

Flutter:  (notice how the bottoms of the j's aren't covered by the highlight)

![screenshot_20160603-093124](https://cloud.githubusercontent.com/assets/5479/15785801/12544052-296e-11e6-9984-447f457e55b2.png)

Android:

![screenshot_20160603-093101](h

[2016-06-03 16:34] sethladd commented on #4349
cc @mpcomplete

[2016-06-03 16:45] abarth commented on #4342
We should probably switch customer: fast over to FlutterView so that they can integrate with whatever platform services they like without needing us to turn a crank for them.

[2016-06-03 16:57] abarth commented on #4349
Related to https://github.com/flutter/flutter/issues/4321

[2016-06-03 17:09] Hixie commented on #4342
@sethladd My point is that having the app work differently when there's no network (briefly) is suboptimal UI. Better to just buffer up sends, provide what cached data we have, and show an indicator that we want more data but are having trouble getting it. It's fine for apps to talk straight to the OS to find this information, but flutter's API IMHO shouldn't support that model natively, we can do

[2016-06-03 17:48] HansMuller commented on #3962
Fixed #4327

[2016-06-03 17:48] #3962 closed

[2016-06-03 17:53] jimbeveridge opened #4352 "Codelab instructions inconsistent for `assets` directory"
Open the Flutter codelab
Go to the page **Enable data syncing with Firebase**
Go down to **Step 6** under **Android**
It says:

In your Atom workspace, create a new assets folder under the android folder in your Flutter project. Move the google-services.json file into the assets folder.

However, the `assets` folder already exists, and there's already a `google-services.json` file there. I'm not s

[2016-06-03 17:54] jimbeveridge commented on #4352
@sethladd Seth, maybe you know the proper resolution of this issue?

[2016-06-03 17:56] jimbeveridge commented on #4352
Never mind, it's appropriate for a solution step to have this file.

[2016-06-03 17:56] #4352 closed

[2016-06-03 18:08] eseidelGoogle opened #4353 "Does flutter need to clean up crash logs at some point?"
A customer just got this:
`
Jun  3 11:04:37 iPhone ReportCrash[1161] <Warning>: Report of type '109(109_Runner)' not saved because the limit of 25 logs has been reached
`
If iOS stops saving logs after some point due to us re-using the name runner, that seems bad.  Maybe `flutter` should do something to help here?

@chinmaygarde @tvolkert

[2016-06-03 18:11] jason-simmons commented on #4332
If this was due to a missing font resource file, then we should now be showing a better error message:
    https://github.com/flutter/flutter/pull/4334

[2016-06-03 18:15] eseidelGoogle commented on #4332
Will close for now.

[2016-06-03 18:15] #4332 closed

[2016-06-03 18:16] HansMuller commented on #4075
I'll fix up the colors like the Android version.

[2016-06-03 18:23] collinjackson commented on #4337
I should have a fix for this today

[2016-06-03 18:25] jason-simmons commented on #4131
This has landed: https://github.com/flutter/flutter/pull/4257

[2016-06-03 18:30] jimbeveridge opened #4355 "Copy/Paste menu should disable Paste if clipboard is empty"
When Flutter shows the Copy/Paste toolbar, the Paste option is available even if the clipboard is empty.  (I tested this in the codelab.) According to the [Material Design Spec](https://www.google.com/design/spec/components/menus.html#menus-usage):

[code]

Although the spec says "MAY", I've never seen an app that allows you to tap Paste if the clipboard is empty.

[2016-06-03 18:34] jimbeveridge opened #4356 "Copy/Paste menu should disable Paste if clipboard is empty"
When Flutter shows the Copy/Paste toolbar, the Paste option is available even if the clipboard is empty.  (I tested this in the codelab.) According to the [Material Design Spec](https://www.google.com/design/spec/components/menus.html#menus-usage):

[code]

Although the spec says "MAY", I've never seen an app that allows you to tap Paste if the clipboard is empty.

[2016-06-03 18:34] #4356 closed

[2016-06-03 18:38] eseidelGoogle opened #4357 "`flutter run --debug` crashes on iOS devices"
This is some sort of Dart-roll/DBC regression I think.

[code]

`flutter run --release` works fine.

@chinmaygarde

[2016-06-03 18:40] chinmaygarde commented on #4357
@eseidel Its because of the hardcoded `--release` flag in https://github.com/flutter/flutter/blob/master/packages/flutter_tools/bin/xcode_backend.sh#L53. Fixing.

[2016-06-03 18:42] eseidelGoogle commented on #4357
Here is a crash log:
https://gist.github.com/eseidelGoogle/8d1cdb5c5778ba892194c26a0f8c6bde

[2016-06-03 18:42] eseidelGoogle commented on #4357
@chinmaygarde looks like that line is specific to AOT?

[2016-06-03 18:43] chinmaygarde commented on #4357
Ok. I was fixing profile mode. Thought this was the same issue. Looking at this too.

[2016-06-03 18:54] eseidelGoogle opened #4358 "Need a way to discover FlutterViews on iOS devices"
For android @jason-simmons created a `flutter discover` command which can connect to running android apps with FlutterViews (similar to how Chrome's inspector can connect to apps on android running WebView's).  This allows authors to build and install their apps (using flutter) with whatever tools they like and yet still be able to connect and use flutter's tooling with their already-built app.

T

[2016-06-03 19:09] yjbanov opened #4359 "Make Flutter Gallery integration tests work on iPhone"
Today we are able to successfully run the following integration test on physical Android devices and on iOS Simulator, but not on a physical iPhone:

[code]

This is a prerequisite for https://github.com/flutter/flutter/issues/1600

[2016-06-03 19:16] abarth commented on #4355
/cc @mpcomplete

[2016-06-03 19:21] sethladd opened #4360 "Small, white border around date picker's header on Android"
Android:  (it's more visible on the device itself)

![screenshot_20160603-121437](https://cloud.githubusercontent.com/assets/5479/15790335/ab0a26ce-2985-11e6-8a47-ba4e8506d408.png)

iOS:

![img_0022](https://cloud.githubusercontent.com/assets/5479/15790338/b2eaefcc-2985-11e6-952d-9fffdcdfb599.PNG)

[2016-06-03 19:22] sethladd commented on #4360
cc @abarth

[2016-06-03 19:24] abarth commented on #4360
The fix is probably to restructure how we paint dialogs to not paint white behind the title.

[2016-06-03 19:25] #4131 closed

[2016-06-03 19:33] sethladd opened #4361 "iOS not syncing to the firebase database"
_From @spierce7 on June 3, 2016 19:31_

Following the code lab [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#0), I'm encountering issues with ios saving and syncing from the firebase database. Android seems to be working fine.

Linking to the provided firebase database seems to work fine, but when I try to change the bundle identifier and provide t

[2016-06-03 19:34] sethladd commented on #4361
Thanks for the report. May we have some more info?

* What is the output of `flutter doctor` ?
* Are you trying an ios device or simulator?

[2016-06-03 19:52] jimbeveridge commented on #4361
When you did your `git clone` flutter to the Mac, did you include `-b codelab`? The Firebase part of the codelab will currently not run from `HEAD` on `master` on `github/flutter/flutter`.

[2016-06-03 19:54] #4246 closed

[2016-06-03 20:02] spierce7 commented on #4361
@sethladd ios simulator.
[code]

@jimbeveridge I'm running the latest released from `flutter upgrade`. I also don't think what you are saying matches with my experience. When I build step_5 after running `git clone https://github.com/flutter/firechat-flutter.git`, everything works fine on an android device, and the ios simulator. The issue only comes in when I try to move to my own firebase accoun

[2016-06-03 20:16] spierce7 commented on #4361
Upon re-reading my original post, I don't think I was as clear as I could have been.

1. If I checkout step_5 from `https://github.com/flutter/firechat-flutter.git` and run it, everything works on Android and iOS just fine.
2. When I create my own firebase database, change the Android package / `google-services.json`, and also change the Bundle identifier / `GoogleService-Info.plist` for ios, Andr

[2016-06-03 20:27] jimbeveridge commented on #4361
@spierce7  The version of Flutter you are running is old enough to sidestep the current problems of HEAD on master, but it's still not the version we ask you to run with the codelab. However, from your latest description, it doesn't sound like it's causing a problem.

Yesterday I reported a bug that the instructions for where to put GoogleService-Info.plist are wrong. Maybe that's the problem?
See

[2016-06-03 20:33] ahmetaa commented on #2070
I installed Android N Beta and latest flutter, it works as expected now. Though I do not know if it was because of flutter changes or Andorid N.

[✓] Flutter (on Linux, channel alpha)
    • Flutter at /home/*****/projects/flutter
    • Framework revision 646b5350d1 (8 days ago), engine revision 7fab0c350b

[✓] Android toolchain - develop for Android devices (Android SDK 23.0.2)
    • Android SDK a

[2016-06-03 20:55] spierce7 commented on #4361
@jimbeveridge the `GoogleService-Info.plist` is in the `./ios/Resources/` folder. I think that's correct.

[2016-06-03 21:22] HansMuller opened #4365 "Tab labels are fading out, as if an ellipsis was present"
The screenshot below is from the gallery Tabs demo. Paging through all of the tabs makes the problem go away.

![tab_label](https://cloud.githubusercontent.com/assets/1377460/15793030/242a3066-2996-11e6-8b83-64be7f4014e2.png)

[2016-06-03 21:27] #4337 closed

[2016-06-03 21:28] collinjackson commented on #4337
Should work on iOS simulator and Android -- please give it a try. I've updated codelab branch to point to flutter master.

[2016-06-03 21:29] collinjackson commented on #4337
By the way, you'll need to update your AndroidManifest.xml to set com.google.android.gms.version to 9080000. I'll update the codelab instructions.

[code]

[2016-06-03 21:34] collinjackson commented on #4337
https://github.com/flutter/firechat-flutter/pull/7

[2016-06-03 21:35] abarth commented on #2070
Thanks.

[2016-06-03 21:35] #2070 closed

[2016-06-03 22:22] jimbeveridge commented on #4361
I recommend you copy your files one at a time over the sample files and try running the sample after each. Eventually one will break the sample. You should also check the log for errors, if you haven't already.

[2016-06-03 22:31] HansMuller commented on #4075
Fixed in https://github.com/flutter/flutter/pull/4363

[2016-06-03 22:31] #4075 closed

[2016-06-03 22:36] HansMuller opened #4367 "Material shadow rendering can consume the GPU"
Tapping on the demo below will overload the GPU. The demo includes two Material widgets with elevations of 12 and 24. Changing the elevations to 0 restores normal performance.

This code comes from a version of the gallery calculator demo.

[code]
![perf](https://cloud.githubusercontent.com/assets/1377460/15794598/e5bf5670-29a0-11e6-8062-ab2d20679117.png)

[2016-06-03 22:39] spierce7 commented on #4361
@jimbeveridge to be clear, at this point, I'm using a clone of step_5 from the code lab. All I'm doing is I change the bundle identifier in the info.plist and I give it the new `GoogleService-Info.plist` and it stops working.

Is there a step missing, like I need to enable push notifications for ios or something like that? Should I not be changing the bundle identifier?

[2016-06-03 23:00] eseidelGoogle opened #4368 "Update compile flags per security review"
During security review we were asked to make sure our C++ compile flags for Release configs use the following:

Compile-time flags: `-O2 -D_FORTIFY_SOURCE=2 -fstack-protector-all -fPIE -Wa,--noexecstack -Wformat -Wformat-security`
Link-time flags: `-pie -Wl,-z,relro,-z,now`

This is non-urgent, but we should address for 1.0.

FYI @abarth @chinmaygarde

[2016-06-03 23:08] abarth opened #4369 "Drawer on docs.flutter.io doesn't look right"
1. Go to http://docs.flutter.io/flutter/widgets/Widget-class.html
2. Narrow your window until the page changes format and a hotdog menu appears on the upper left corner.
3. Click the hotdog menu.

The drawer is transparent and hard to read.  It looks like we're missing some CSS somewhere.

/cc @qchong

[2016-06-03 23:11] abarth commented on #4369
Looks like `.sidebar-offcanvas-left` is overriding the background color to be `inherit` rather than white.

[2016-06-03 23:12] abarth commented on #4369
Bug does not manifest on api.dartlang.org.

[2016-06-03 23:13] sethladd commented on #4369
cc @devoncarew

[2016-06-03 23:14] abarth commented on #4369
The version on api.dartlang.org also has some additional padding, so we might be missing some other styles as well.

[2016-06-03 23:14] sethladd commented on #4369
Good catch, thanks!

[2016-06-03 23:14] abarth commented on #4369
Elliott found it.  I just filed the bug.  :)

[2016-06-04 00:09] abarth opened #4371 "Host messages should let you discover what is registered"
We should add a message that dumps the list of registered callbacks.

[2016-06-04 01:03] Hixie opened #4373 "Pesto: FAB doesn't do anything"

[2016-06-04 01:06] Hixie opened #4374 "Contacts: Edit button doesn't do anything"

[2016-06-04 01:06] Hixie opened #4375 "Shrine: Sort doesn't work"
The drop-down menu has options to sort, but they don't seem to do anything.

[2016-06-04 01:19] Hixie commented on #4375
In fact nothing in the menu works, nor does the shopping cart icon. There are TODOs for these in the code.

[2016-06-04 01:19] Hixie opened #4376 "Pesto: Toolbar graphic is low-res"

[2016-06-04 01:20] Hixie opened #4377 "Pesto: Toolbar graphic snaps into place when scrolling rather than zooming"
I think this is actually true in the original mock too, but it looks ugly...

[2016-06-04 01:27] Hixie opened #4378 "DropdownButton doesn't animate newly selected value"
Consider:
https://material-design.storage.googleapis.com/publish/material_v_8/material_ext_publish/0B3321sZLoP_HTS1LdnhrTl9TRzg/components-buttons-otherbuttons-060203_MobileDropdowns_xhdpi_006.webm

When you pick something that isn't the current entry, we should apparently animate the text up a little.

[2016-06-04 01:28] Hixie opened #4379 "Drop-down menu doesn't animate away if dismissed while it's opening"
If you dismiss a drop-down menu as it's opening, it just vanishes instantly instead of fading away.

[2016-06-04 03:48] abarth commented on #4378
Yeah, I'm not sure if that's a bug in the video or fit that's actually desired.  We should follow up with the designers to see what they intended.  /cc @sethladd

[2016-06-04 15:18] eseidel opened #4384 "Dart Analyzer performance is crippling my laptop"
[code]

That Dart process is the `flutter deamon` process.

It's also for some reason causing kernel_task to be above 150% of CPU usage (using more than one core) and then the rest of my machine is consumed by the `dart` process itself.  I'm not sure what triggers so much kernel_task activity?  Maybe due to using more RAM than the machine has?

This is a somewhat old laptop ('11 MacBook Air, 4GB R

[2016-06-04 15:20] eseidel commented on #4384
The project I have open in atom is (the root of) https://github.com/eseidel/saycbridge which is an old personal project of mine which happens to have some flutter code in it.

[2016-06-04 16:07] eseidel commented on #4384
It's likely that at least some of this will go away with analyzer summaries, since then the analyzer shouldn't have to analyze the flutter source tree in this case (it's in third_party/flutter as a pinned git submodule).

[2016-06-04 16:24] eseidel commented on #4384
The big problem appears to be the memory usage.
[code]
I'm not sure how tiny 4GB of system memory is.  But my 2011 personal laptop just can't handle a 2GB+ analyzer process. :/

[2016-06-04 17:43] abarth commented on #4384
I saw something similar recently on my machine.  I think the analyzer server has some sort of leak.  Next time it happens, I want to try connecting with observatory and taking a heap profile.

/cc @pq

[2016-06-04 18:10] eseidel commented on #4384
If someone can post instructions on how to find the observatory port for this process (maybe netstat?) I'm happy to connect and post what I see.  I have two copies of flutter.  One at /src/flutter which atom sees, and a second in my project under /src/saycbridge/third_party/flutter I'm opening /src/sacybridge in atom.

[code]

[2016-06-04 19:55] abarth commented on #4357
Looks like @chinmaygarde fixed this.

[2016-06-04 19:55] #4357 closed

[2016-06-04 21:15] devoncarew commented on #4384
I'll dig up the flags to enable the obs. port.

/cc @bwilkerson

[2016-06-04 21:23] devoncarew commented on #4384
If you open atom's config file directly (`Atom > Config`), in the `dartlang` section you can add a new key, `debugAnalysisServer: true`. When you restart atom, the analysis server's diagnostics page will be available at localhost:23072. That will have some indication of where the time and memory is going.

[2016-06-04 21:25] devoncarew commented on #4384
@eseidel, I want to confirm that the expensive process is running the analysis server, and not the `flutter deamon` process. They're both active when atom is open; flutter daemon should be doing very very little.

[2016-06-04 21:39] eseidel commented on #4384
The runaway process is `/src/flutter/bin/cache/dart-sdk/bin/dart /src/flutter/bin/cache/dart-sdk/bin/snapshots/analysis_server.dart.snapshot`

[2016-06-04 22:13] sethladd commented on #4384
I've seen this a few times. I wonder if our analytics should keep an eye on the health of the daemon and analysis server, in order to see if something systemic is going on?

[2016-06-04 22:25] devoncarew commented on #4384
I'd lean towards getting the resource consumption of the analysis server under continuous test and measurement. Knowing the numbers better will set us up well for driving them down, and make us better aware of regressions. Will meet with @bwilkerson next week to put some goals in place.

[2016-06-04 22:29] devoncarew commented on #4384
There's a new version of the plugin with a preferences setting to enable the analysis server's diagnostics. Setting it now also starts the analysis server with an observatory port open, and display the port that the obs. bound to in a toast.

[2016-06-05 00:24] eseidel commented on #4384
Yeah, looks like a leak.  Here is copy/paste out of the heap profiler:
https://gist.github.com/eseidel/6e8767adc70b8a0cdcba84ecbcac167c

[2016-06-06 15:50] sethladd commented on #4378
I've reached out to the material team for confirmation. Thanks for noticing!

[2016-06-06 16:27] pq commented on #4384
cc @bwilkerson @scheglov

[2016-06-06 16:29] sethladd commented on #4384
That a great start. Knowing the numbers from the public and our users should also really help us drive the numbers down.

[2016-06-06 16:35] qchong commented on #2778
Fixed in doc source. Refreshed animation section is [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#10).

[2016-06-06 16:35] #2778 closed

[2016-06-06 16:41] qchong commented on #4058
@collinjackson Should we try reaching out to the Firebase team to see if they can increase the quota for the codelab project (as a temporary workaround until the Firebase wrapper fix is ready)?

[2016-06-06 17:00] pq opened #4387 "Cleanup `flutter analyze` command defaults."
As discussed in https://github.com/flutter/flutter/pull/4348, the defaults for `flutter analyze` would benefit from some (re)consideration.

@Hixie proposes:

On the surface this sounds right to me.

@devoncarew ?

[2016-06-06 17:00] #4091 closed

[2016-06-06 17:05] devoncarew commented on #4387
[code]

I wonder if we could eliminate some of these options entirely, and simplify the matrix of possibilities a bit?

[2016-06-06 17:15] pq commented on #4387
(defaults to on)

Maybe this can be removed given that we should get the equivalent like so:

`flutter analyze .`

(Bonus points for being shorter than `flutter analyze --current-directory` :smile: )

[2016-06-06 17:29] #4248 closed

[2016-06-06 17:52] qchong commented on #4215
Fixed in the doc source. The refreshed codelab instructions are [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#10).

[2016-06-06 17:52] #4215 closed

[2016-06-06 17:54] qchong commented on #4307
Fixed in the doc source. The refreshed codelab instructions are published [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#11).

[2016-06-06 17:54] #4307 closed

[2016-06-06 17:55] qchong commented on #4311
Fixed in the doc source. The refreshed codelab instructions are published [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#1).

[2016-06-06 17:55] #4311 closed

[2016-06-06 17:56] qchong commented on #4312
Fixed in the doc source. The refreshed codelab instructions are published [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#1).

[2016-06-06 17:56] #4312 closed

[2016-06-06 17:58] qchong commented on #4310
Fixed in the doc source. The refreshed codelab instructions are [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#10).

[2016-06-06 17:58] #4310 closed

[2016-06-06 19:04] devoncarew opened #4388 "remove the `flutter logs` example from the getting started website?"
`flutter run` now includes the output of `flutter logs` when it is run. We probably don't need to explicetly mention the `logs` command in the getting started guide (https://flutter.io/getting-started/).

/ cc @qchong

[2016-06-06 19:31] a14n commented on #4215
I still see the indent issue on https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#10

[2016-06-06 19:40] yjbanov opened #4390 "Flutter Gallery transitions perf test is broken"
## Steps to Reproduce

[code]

## Flutter Doctor

â€¢â€¢â€¢ flutter doctor â€¢â€¢â€¢
Executing: /Users/demouser/flutter_dashboard/flutter/bin/flutter doctor
[âœ“] Flutter (on Mac OS, channel unknown)
    â€¢ Flutter at /Users/demouser/flutter_dashboard/flutter
    â€¢ Framework revision 6c96e1a320 (19 minutes ago), engine revision a943c732d5

[âœ“] Android toolchain - develop for Android devices (

[2016-06-06 20:49] qchong commented on #4100
Fixed in the doc source. Refreshed codelab instructions are published [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#7).

[2016-06-06 20:49] #4100 closed

[2016-06-06 20:52] qchong commented on #4215
Sorry, I sent out the comment too soon before the republish operation completed. The correctly indent code should show up now in the codelab.

[2016-06-06 20:53] jimbeveridge commented on #4361
Earlier you said, "change the Android package / google-services.json". Do you mean you manually edited it, or do you mean you replaced the entire file with the version you downloaded from the Firebase site? The identifier in `Info.plist` must match the identifier you provided to Firebase to create `GoogleService-Info.plist`. If they are mismatched, then it will fail.

For reference, on https://cod

[2016-06-06 21:00] #4365 closed

[2016-06-06 21:12] devoncarew opened #4392 "flutter daemon tested against devices"
We need to test the `flutter daemon` commands against devices (real devices or emulators). It uses some different code paths from the cli for starting and restarting apps. We should test app.start, app.restart, and app.stop.

[2016-06-06 21:13] spierce7 commented on #4361
I replaced it with the `GoogleService-Info.plist` file that firebase provided to me.

[2016-06-06 21:15] qchong opened #4393 "Request to document how Flutter performs layouts"
Provide documentation per user request:
"Guidelines for various common layouts would help a noob like me. E.g. when to use Table vs Column/Row vs Grid, or how to use Flex and padding inside Column/Row to achieve a certain look."

[2016-06-06 21:43] abarth opened #4395 "Shrine: Scrolling is slow"
We don't seem to be viewporting the tiles in the shrine demo, which is making scrolling slow.

[2016-06-06 21:48] sethladd opened #4396 "Hint to the user that name prefixes can be used with -d"
In the flutter CLI tool, `-d` is the way to specify which device to use. We have a great little feature that lets a user use a _prefix_ with either the ID or the name when specifying the device.

We could make this more discoverable if the `-d` option's help text mentioned the prefix.

For example, today we say:

`-d, --device-id       Target device id.`

We could instead say:

`-d, --device-id

[2016-06-06 22:11] devoncarew commented on #4396
dup of https://github.com/flutter/flutter/issues/4330

[2016-06-06 22:11] #4396 closed

[2016-06-06 22:13] sethladd opened #4399 "Pesto recipe page on iOS"
- [x] black bar across the top
- [x] shadow on image seems to start on the image, instead of behind it (?)  (notice the white bar that fades into the shadow across the top and sides of the image)
- [ ] I can pull down the text block and expose a black background under the image

![b110b7b4-179c-4e4c-82d9-80f6c17a3ce5](https://cloud.githubusercontent.com/assets/5479/15839631/2d4834da-2bf9-11e6-945f

[2016-06-06 22:13] sethladd commented on #4399
cc @mpcomplete

[2016-06-06 22:35] #4330 closed

[2016-06-06 22:37] sethladd commented on #4330
Thanks!

[2016-06-06 22:38] sethladd opened #4400 "Pesto bar reappears with full-sized logo + word when returning from recipe page"
* scroll down to Garlic bok choy
* Tap the image
* Tap the back button icon in upper left

Expected:

![img_0034](https://cloud.githubusercontent.com/assets/5479/15840127/a2630f4e-2bfc-11e6-8d58-2bac010f0464.PNG)

Actual:

![img_0035](https://cloud.githubusercontent.com/assets/5479/15840130/a93f66e6-2bfc-11e6-8fcb-2e5b2025eea0.PNG)

[2016-06-06 22:38] sethladd commented on #4400
cc @mpcomplete

[2016-06-06 22:41] sethladd opened #4401 "Pesto icon in app bar is pixelated"
(at least on iOS)

Notice how the pest icon and wordmark are highly pixelated.

![img_0035](https://cloud.githubusercontent.com/assets/5479/15840192/110f81a2-2bfd-11e6-8d50-26904001fd8c.PNG)

(sorry about the compression artifacts, that seems to be a property of how the images were mailed from my phone.)

[2016-06-06 22:42] sethladd commented on #4401
cc @mpcomplete

[2016-06-06 22:47] sethladd opened #4402 "Pesto: No apparent way to go back to gallery home from Pesto on iOS"
On iOS, launch gallery, then go into Pesto, then try to go back to the gallery homepage. :)

Perhaps we can add something like "return to the gallery" in Pesto's drawer?

[2016-06-06 22:55] sethladd opened #4403 "Pesto: when viewing Favorites screen with no favorites, missing context or instructions"
I first thought there was a bug :)  The white, blank body was confusing.

If there are no favorites, perhaps we can show something like "Save your favorites to see them here."

Also, maybe we shouldn't show the Edit FAB if there are no favorites ?

Right now, I see this screen, which could use some context or title. :)

![ed29ec7f-fcb6-4808-8eb8-abbf82a8a9b0](https://cloud.githubusercontent.com/as

[2016-06-06 22:55] sethladd commented on #4403
cc @mpcomplete

[2016-06-06 23:14] sethladd opened #4404 "Codelab: Disclaimer for end of step 6, unable to run Firebase on iOS device"
Currently, and especially on the codelab branch, we're unable to make step 6 work on an iOS device.

We suggest adding a disclaimer to the codelab there that says something like "Known issue: unable to run on iOS device. Please use the iOS simulator to run this part of the codelab."

Blocked on https://github.com/flutter/flutter/issues/4226

[2016-06-06 23:14] sethladd commented on #4404
cc @qchong

[2016-06-06 23:15] sethladd opened #4405 "Pesto: Black background below recipe when scrolling up"
Open gallery, choose pesto, and then choose a recipe.

Expected: When scrolling up, I think the user should see a white background, instead of black. I tried other iOS apps and the contents seem to scroll up without also pulling up the material they are on.

![27660bdc-d1a2-4c03-850d-97f26568a508](https://cloud.githubusercontent.com/assets/5479/15840882/cfc6069e-2c01-11e6-87ea-a0f4361d3e9e.PNG)

[2016-06-06 23:15] sethladd commented on #4405
cc @mpcomplete

[2016-06-06 23:19] jimbeveridge commented on #4361
I think I've found the problem. I repeated the steps you described. It runs fine in the emulator. It doesn't connect to Firebase if I run it on a real device (an iPhone in my case). There's also a second problem that flutter crashes if you try and run the Flutter app on a real device from within Atom. Bugs https://github.com/flutter/flutter/issues/4404 and https://github.com/flutter/flutter/issues

[2016-06-06 23:21] sethladd opened #4406 "Android: overscroll glow can "dance" with repeated taps"
On android, go into gallery, then pesto, then a recipe. Scroll up to trigger the overscroll glow. Once the glow is at maximum height, let up with your finger. Then, start tapping the screen.

Expected: the overflow glow animates down and away.

Actual: each tap triggers the glow to bounce/dance up a little.

See video below: (only for @google.com addresses, sorry, this was the easiest way to attac

[2016-06-06 23:28] spierce7 commented on #4361
You are able to move the chat application to your own firebase database, and it works successfully on the ios emulator? I haven't tested on a real device, but when I make the changes, it won't work on my ios simulator.

[2016-06-06 23:30] sethladd opened #4407 "Pesto: Scrolling the app bar should smoothly scale the logo"
On iOS and Android, as I scroll the list of recipes in pesto, I see the app bar's logo image move and then pop from logo+title to just logo.

We should look for a way to smoothly scale the logo+title as the user scrolls. A good example of smoothly scaling would be the "Flutter gallery" title on the home screen of the gallery.

To see the scaling in action, see https://polymerelements.github.io/app

[2016-06-06 23:30] sethladd commented on #4407
cc @mpcomplete

[2016-06-06 23:36] sethladd opened #4409 "Pesto: Consider parallax scrolling the image of a recipe"
Open the gallery, go into pesto, then a recipe. Scroll up.

Expected: the recipe image parallax scrolls up as well, under the recipe text.

Actual: the recipe text scrolls over a static image.

[2016-06-06 23:36] sethladd commented on #4409
cc @mpcomplete

[2016-06-06 23:44] sethladd opened #4410 "Pesto: Scrolling a recipe up should also move the menu icons up"
Open gallery, then pesto, then tap a recipe (e.g. bacon sprouts). Scroll the recipe up, to hide the image.

Expected: the menu icons and shadow are moved off the screen. When the user pulls down just a little bit, an opaque menu bar appears. A great example of this is the Google Play Movies app. Tap into a specific movie from your library, and slowly scroll up and down.

Actual: The menu items, an

[2016-06-06 23:46] jimbeveridge commented on #4361
@collinjackson   Yes, I pulled down the codelab repo, updated Info.plist, updated GogoleService-Info.plist, and clicked Run. Worked fine. FWIW, I have my simulator set to an iPhone 6s. I'll check and see if there's any additional debug info that might help.

[2016-06-07 00:14] sethladd commented on #4390
Our dashboard bot is broken. @mpcomplete is this something you can help take a look at? Thanks!

[2016-06-07 00:20] yjbanov commented on #4390
I'm suspecting the [list of demos](https://github.com/flutter/flutter/blob/1d516f0e94c4a65280ae35f3a8fc37931021ca18/examples/flutter_gallery/test_driver/transitions_perf_test.dart#L17) in the test went out-of-sync after the pesto demo was added.

[2016-06-07 00:22] spierce7 commented on #4361
Hmmm, sounds like your getting it to work better than me. Did you have to set up anything in regards to the bundle identifier besides telling firebase that your app uses that bundle identifier?

[2016-06-07 00:24] sethladd opened #4411 "Pesto: scrolling the main recipes list is < 60fps"
On Android and iOS, built with `--release`.

![screenshot_20160606-172201](https://cloud.githubusercontent.com/assets/5479/15842201/d12b398c-2c0b-11e6-980e-0034b4285cbe.png)

![d47e9030-57c5-4ba6-8ef5-8744e8a1bd60](https://cloud.githubusercontent.com/assets/5479/15842203/d81e3b22-2c0b-11e6-9737-67a6a700d0aa.PNG)

[2016-06-07 00:24] sethladd commented on #4411
cc @abarth

[2016-06-07 00:50] abarth commented on #4411
[code]

This should probably be a `ScrollableGrid`.

[2016-06-07 00:52] abarth commented on #4411
Looks like `ScrollableGrid` is missing padding, which is needed here.

[2016-06-07 01:36] Hixie commented on #4407
I filed this as https://github.com/flutter/flutter/issues/4377 the other day but yours is better.

[2016-06-07 01:36] #4377 closed

[2016-06-07 01:37] sethladd commented on #4407
Ah, thanks for de-duping!

[2016-06-07 01:38] Hixie commented on #4376
dupe https://github.com/flutter/flutter/issues/4376

[2016-06-07 01:38] #4376 closed

[2016-06-07 01:39] sethladd commented on #4401
Dupe of https://github.com/flutter/flutter/issues/4376

[2016-06-07 02:56] abarth opened #4413 "Assigning RenderBox.size calls intrinsic sizing functions re-entrantly"
... confusing code that uses TextPainter because TextPainter's intrinsic sizing is destructive.

See https://github.com/flutter/flutter/pull/4391

[2016-06-07 03:23] #4395 closed

[2016-06-07 15:07] #4042 closed

[2016-06-07 16:28] abarth commented on #4341
I can repro.

[2016-06-07 16:45] jimbeveridge commented on #2849
Obsolete.

[2016-06-07 16:45] #2849 closed

[2016-06-07 16:55] jimbeveridge opened #4416 "Tooltip is under my finger on Tooltips Controls page in Gallery"
Repro:
Long press the telephone handset on the Tooltip page in the Gallery.
Notice in the photo below that the tooltip is underneath the phone icon. This position is usually covered up by your finger. A tooltip above the phone icon would be better.

![img_3394](https://cloud.githubusercontent.com/assets/7953123/15866956/d8daa1ba-2c95-11e6-93d3-43918d943650.JPG)

[2016-06-07 17:14] mpcomplete commented on #4390
Should be fixed. Reopen if this fails again.

[2016-06-07 17:14] #4390 closed

[2016-06-07 17:18] abarth commented on #4416
Yes, I agree with you, but the spec says to prefer putting the tooltip below the button and we confirmed that was the behavior the design team wants.

[2016-06-07 17:18] #4416 closed

[2016-06-07 17:31] qchong commented on #4404
Added a note in the codelab to indicate that there's a known issue where the code in unable to connect to Firebase on iOS devices. Refreshed codelab page is [here](https://codelabs.developers.google.com/codelabs/flutter/index.html?index=..%2F..%2Findex#11).

[2016-06-07 17:31] #4404 closed

[2016-06-07 17:42] tvolkert opened #4418 "Recent change to `flutter run` doesn't work on iOS device"
## Steps to Reproduce

1. run the flutter gallery app via `flutter run` against an iOS device.

## Logs and Crash Reports

[code]

@devoncarew

[2016-06-07 17:42] tvolkert commented on #4418
FYI, the app runs, but a ctrl-c on the console doesn't quit the app.

[2016-06-07 17:43] abarth commented on #4418
/cc @devoncarew

[2016-06-07 17:46] sethladd commented on #4418
cc @yjbanov is this something we can catch on the dashboard box?

[2016-06-07 17:48] sethladd commented on #4390
Thanks Matt!

[2016-06-07 17:48] yjbanov commented on #4418
@sethladd: yes, but we first need to get to a point where we can run integration tests on iOS devices (https://github.com/flutter/flutter/issues/4359).

[2016-06-07 18:17] devoncarew commented on #4418
@tvolkert, are you able to connect to the app from a debugger? Something like:

[code]

And then hit localhost 7070 with a browser? My iOS device isn't functional currently -

[2016-06-07 18:28] apwilson opened #4421 "MediaQueryData.toString should include devicePixelRatio and padding"
## Steps to Reproduce

Please tell us what you were doing and what went wrong.

## Flutter Doctor

Paste the output of running `flutter doctor` here.

## Logs and Crash Reports

Please attach any relevent logs or crash reports.

[2016-06-07 19:13] #4247 closed

[2016-06-07 20:17] Hixie opened #4425 "Rename relayoutSubtreeRoot -> relayoutBoundary"
For consistency with repaintBoundary.

[2016-06-07 20:29] sethladd commented on #4378
The material team responded: "It's a nice to have for the menu, but it's not a high priority."

I think we can punt on this one for our v1 of material.

Thanks for opening the issue to double check. If we decide to implement this, we can reopen.

[2016-06-07 20:45] #4341 closed

[2016-06-07 20:56] Hixie opened #4427 "Document that hitTestChildren and hitTestSelf are called by the default hitTest"
...so that if you override hitTest entirely, you don't have to implement them.

They should be @protected, and we should define that you shouldn't call them directly.

[2016-06-07 20:58] Hixie opened #4428 "HitTestResult.path should be immutable"
It's too tempting for people to try to manipulate it when they should instead just be putting things into the results list in the right order.

[2016-06-07 20:58] qchong opened #4429 "Hello_Services sample not working with Atom"
## Steps to Reproduce

1. Added the [hello_services](https://github.com/flutter/flutter/tree/master/examples/hello_services) sample project to Atom.
2. When I try to run, it shows the error "No application found for TargetPlatform.android_arm.
Is your project missing an android/AndroidManifest.xml?".

## Flutter Doctor

[✓] Flutter (on Linux, channel master)
    • Flutter at /usr/local/google/home

[2016-06-07 21:00] Hixie commented on #4428
Maybe just remove the getter, and have a function that takes ownership of the object instead.

[2016-06-07 21:00] devoncarew commented on #4429
It looks like `flutter_tools` requires the file android/AndroidManifest.xml to exist, and the hello_services project has it at android/app/src/main/AndroidManifest.xml.

[2016-06-07 21:02] Hixie opened #4430 "Refactor our viewport logic into a new RenderObject subclass hierarchy"
Rather than use RenderBox for viewports, we should invent a new render object protocol that is used for lazy viewporting and scrolling.

This protocol would have:
- Inputs: main axis, main axis start offset, main axis end offset, cross-axis dimension
- Outputs: main axis layout size, main axis offset consumed, paint phase (top, header, content)
- Intrinsics: In some cases, we will need a way to en

[2016-06-07 21:15] abarth commented on #4429
Yeah, `hello_services` is a demo of a separate workflow from the Atom / flutter-tool workflow.  I'm working to integrate the two, but they aren't integrated yet.

The README.md file in `hello_serves` explains how to build and run the example.

[2016-06-07 21:33] Hixie opened #4432 "We lose state if you have a full-screen page over a popup route"
Consider these cases:
* a route with a button, when you tap the button we await a dialog, from the dialog you trigger a full-page dialog (e.g. to pick an image from the system gallery), then you return to the dialog and confirm it.
* a route triggers and awaits a modal bottom sheet, the user makes the modal bottom sheet full-screen, then dismisses it, resolving the future.

In both cases, and othe

[2016-06-07 21:40] tvolkert commented on #3544
Fixed by #4422

[2016-06-07 21:40] #3544 closed

[2016-06-07 21:51] tvolkert commented on #4418
@devoncarew nope, the app starts, but no response on port 7070:

[code]

[2016-06-07 21:58] devoncarew commented on #4418
It looks like debugging is not plumbed in for iOS devices: https://github.com/flutter/flutter/pull/4424.

[2016-06-07 22:27] Hixie opened #4434 "Move from "See also: * foo (bar)" to "See also: * foo, bar"."

[2016-06-07 22:39] sethladd opened #4435 "Shrine: motion of item from homescreen"
Here's a movie of how the motion of the item from the home of shrine should animate: https://material-design.storage.googleapis.com/publish/material_v_8/material_ext_publish/0B14F_FSUCc01emlGOWRnRkpMOVk/GoodTransition_QuickDo-v4.webm

On iOS, the item goes full screen too quickly, compared to the video.

[2016-06-07 22:55] sethladd opened #4436 "Pesto: motion for the recipe going full screen"
https://material-design.storage.googleapis.com/publish/material_v_8/material_ext_publish/0B14F_FSUCc01UlJKVG9BVVFuMHM/GoodTransition_ClearDo-v3.webm

Looks like a few things are happening:
- Splash of ink across the image when tapped
- menu icon animates into a back icon
- recipe image and ingredients text grows to full screen
- the edit FAB animates out
- the favorite FAB animates in
- the app ba

[2016-06-07 22:55] sethladd commented on #4436
cc @mpcomplete

[2016-06-07 23:16] #4421 closed

[2016-06-07 23:31] devoncarew opened #4438 "some services don't work without android:debuggable in the android manifest"
In order to do things like discover active flutter apps on a device, the app has to have been built and run with `android:debuggable="true"` set in the android manifest. We probably want this setting on for debug/profile builds, and off for release builds.

Some options:
- set `android:debuggable="true"` for our generated flutter project. Warn the user (or fail the build) if they try and create a

[2016-06-07 23:50] Hixie opened #4440 "IconTheme should also let you specify the size"
...that way PaginatedDataTable could just set it to 24.0 and you wouldn't have to worry about it when specifying your IconButtons in the actions list.

[2016-06-08 00:07] sethladd opened #4441 "Shrine: app bar is redraw when item grows to fullscreen"
Taking a look at https://material-design.storage.googleapis.com/publish/material_v_8/material_ext_publish/0B14F_FSUCc01emlGOWRnRkpMOVk/GoodTransition_QuickDo-v4.webm

On iOS build of gallery, it looks like the app bar flashes when I tap an item to go fullscreen. You can see the text "SHRINE" flash.

For a slow-mo video of the behavior, see https://drive.google.com/a/google.com/file/d/0B-w2rH1ryIJd

[2016-06-08 00:08] sethladd opened #4442 "Shrine: item image animates over the app bar"
Taking a look at https://material-design.storage.googleapis.com/publish/material_v_8/material_ext_publish/0B14F_FSUCc01emlGOWRnRkpMOVk/GoodTransition_QuickDo-v4.webm

On iOS build of gallery, it looks like image is popping out and drawing above the app bar and then animating in. When animated back to the homescreen of Shrine, the image animates over the app bar before popping back down.

For a slo

[2016-06-08 00:12] eseidelGoogle commented on #4438
See also https://github.com/flutter/flutter/issues/2138

On Tue, Jun 7, 2016 at 4:31 PM, Devon Carew <notifications@github.com>
wrote:

[2016-06-08 00:13] Hixie commented on #3782
We should also have a widget that prints a Decoration on a Material, since otherwise there's no good way to color a subpart of a material. (Container has the same problem Image has of blocking ink splashes.)

[2016-06-08 00:24] sethladd commented on #4442
Another example: https://drive.google.com/a/google.com/file/d/0B7KN0yzZGUkHMjRORlE1OTFxcnc/view

[2016-06-08 00:39] sethladd commented on #4441
It looks like, when we tap on an item picture, we create a new app bar and start animating that up. Looking at the video from the material spec, it appears we should only be animating the image itself. The app bar stays in place and no new app bar is created.

[2016-06-08 00:47] sethladd opened #4444 "Shrine: drop-down button isn't responding to taps at the far right of the button"
Open gallery, Shrine, tap into item. Notice the width of the Quantity drop-down button. Tap on the far right of the button.

Expected: The drop-down opens to show options.

Actual: The drop-down does not open.

Workaround is to tap the down arrow or the text.

[2016-06-08 00:50] sethladd opened #4445 "Shrine: opening and closing an item spikes dart, gpu"
On Android, with `--release`.

Open gallery, shrine, tap an item's image. Then tap the back icon in the upper right. Repeat.

Notice the spikes that occur:

![screenshot_20160607-174836](https://cloud.githubusercontent.com/assets/5479/15879344/4d89acc6-2cd8-11e6-9e1a-d34533fc30d4.png)

[2016-06-08 01:26] Hixie commented on #4441
Yeah we need an iris wipe effect or some such.

On Tue, Jun 7, 2016 at 5:39 PM Seth Ladd <notifications@github.com> wrote:

[2016-06-08 01:27] Hixie commented on #4441
Oh actually I see from the first video you posted that there's a defined effect we're supposed to do involving moving the card up.

[2016-06-08 02:04] Hixie commented on #4378
Let's keep it open, this would be easy to do and if it's nice to have we should have it. :-)
Doesn't have to block gallery launch though.

[2016-06-08 02:50] Hixie opened #4447 "Audit our operator == methods to make sure they use identical() when appropriate and not otherwise"

[2016-06-08 02:50] Hixie commented on #4447
Maybe we should instrument our operator ==s in checked mode.

[2016-06-08 05:07] #2298 closed

[2016-06-08 05:09] tain335 opened #4449 "The command 'flutter:connect-remote-debugger' is used to debug FlutterView?"

[2016-06-08 05:19] devoncarew commented on #4449
Yes it is, through not all the work related to it has landed; we haven't published a version of the atom plugin with that feature included.

(feel free to ask questions on `flutter-dev@googlegroups.com` as well)

[2016-06-08 05:19] #4449 closed

[2016-06-08 15:17] stemuk opened #4450 "'flutter run' failing to sign apk"
When I try to execute 'flutter run' I get [this](https://lh3.googleusercontent.com/--kYpCiqb5zs/V1dDPPPU1NI/AAAAAAAAAEo/M9rMeRJgzr08zUIn8XYLwKie8Nmva5HXQCLcB/s1600/Screenshot%2Bfrom%2B2016-06-07%2B23-53-53.png) output.
To work aroud/fix it, I already tried to sign the gererated app.apk via jarsigner and then install it manually, and I tried to generate a new debug.keychain in the .android folder,

[2016-06-08 16:18] yjbanov commented on #3719
Reassigning back to myself. I verified locally that this works now. I'll switch the dashboard to profile mode.

[2016-06-08 16:37] #3719 closed

[2016-06-08 16:40] devoncarew commented on #4132
Closing this as I don't think it hurts to track it.

[2016-06-08 16:40] #4132 closed

[2016-06-08 16:41] devoncarew commented on #3912
@sethladd, I think we've accomplished the bulk of what this bug was tracking; ok to close?

[2016-06-08 16:41] #4314 closed

[2016-06-08 16:42] sethladd commented on #4132
Would we know the difference between a human running `flx` and a tool/script ? Perhaps humans never run `flx` so we can reasonably assume a tool is driving it.

Leaving the report of `flx` means when we want to know the top commands our users are running, we'll have to filter out `flx`. That might be possible in the analytics UI.

[2016-06-08 16:43] sethladd commented on #3912
We did great! Let's call this done for now. Thanks!

[2016-06-08 16:43] #3912 closed

[2016-06-08 16:49] sethladd opened #4453 "Scary exception when running debug mode on iOS device"
[code]

The app does run on my device. Not sure what the exception means....

[2016-06-08 16:50] devoncarew commented on #4132
We're sending in a `--suppress-analytics` arg to calls to `flx` from tooling (from the xcode script) now. Any place where we're not we should add that arg - we shouldn't need to do any filtering of the analytics data.

[2016-06-08 16:51] sethladd opened #4454 "--debug run on iOS device should also turn on checked mode"
We should probably show a "slow mode" banner when running in debug (aka interpreter) mode on iOS device. We don't want developers to forget they chose debug mode.

Turns out that "checked mode" is not turned on when I run `flutter -d i run` (which should default to --debug and checked mode).

[2016-06-08 16:51] sethladd commented on #4454
cc @Hixie

[2016-06-08 16:52] abarth commented on #4450
Do you know what version of the JDK and Android you're using?  I've been testing with JDK 1.8.0_92.

[2016-06-08 16:52] sethladd commented on #4132
Ah, I see. This is specifically about `daemon`, not the policy of sending pings from within tools. Gotcha. Thanks!

[2016-06-08 16:54] sethladd commented on #4453
cc @chinmaygarde @tvolkert

[2016-06-08 16:57] tvolkert commented on #4453
/cc @devoncarew looks like a dup of #4418

[2016-06-08 16:59] sethladd opened #4455 "Second run of `flutter run --release` for iOS is just as long as the first"
I wonder if there's anything we can do to speed up the second run of `flutter run --release` when nothing has changed.  (if not, feel free to close) Maybe we're compiling each time?

A `--release` run takes 54s for the gallery. I admit that I don't expect developers to be running `--release` builds over and over without changing a line of code. But if there's real low hanging fruit on checking if

[2016-06-08 17:06] abarth commented on #4455
Yes, but not for a while.  What we can do is have the `gen_snapshot` tool output a list of all the inputs it used in a `.d` file, which we can then use to decide whether any of those files have changed and therefore whether we need to invoke `gen_snapshot` the next time.

[2016-06-08 17:15] sethladd opened #4456 "Inconsistent rasterizer perf when scrolling Contacts demo in Gallery"
Here's a video of scrolling the Contacts demo up and down (without displaying the image): https://youtu.be/mAiho-wlRV4

Here's a video of scrolling the Colors demo up and down: https://youtu.be/z7hv37pxVWQ

Notice that in Contacts, we see "bursts" of rasterize chart followed by "quiet periods". In the Colors demo, we see consistent low charts.

![screen shot 2016-06-08 at 10 15 21 am](https://clou

[2016-06-08 17:26] sethladd commented on #4456
This seems to be specific to iOS. Here's a shot of Android:

![screen shot 2016-06-08 at 10 26 35 am](https://cloud.githubusercontent.com/assets/5479/15903830/7f6cd656-2d63-11e6-8628-8e2a75496003.png)

[2016-06-08 17:26] sethladd commented on #4456
cc @chinmaygarde

[2016-06-08 17:27] Hixie commented on #4454
If we're not showing it, then that means asserts aren't enabled, so that's a bug in debug mode.

[2016-06-08 17:41] sethladd opened #4457 "Measure analyzer footprint in the wild"
We want to collect measurements of analyzer's footprint (memory) in the wild. We want to know if there is a systemic issue when running and supporting the Atom plugin.

There's a lot we can do after we start measuring the number.  (correlate with size of project? uptime?) But let's get the number measured and reported first.

Once we're collecting the info, we can put it on the dashboard.

[2016-06-08 17:46] sethladd commented on #4454
Confirmed that `--debug` for iOS device is not the same as "checked mode".

[2016-06-08 17:47] sethladd commented on #4454
cc @tvolkert @chinmaygarde

[2016-06-08 18:04] sethladd opened #4458 "Shrine: top-right price on homescreen is missing background color, too close to app bar"
From the spec:

![screen shot 2016-06-08 at 11 02 49 am](https://cloud.githubusercontent.com/assets/5479/15905151/aec1f2d8-2d68-11e6-820e-faecd93cb4eb.png)

From the polymer implementation:

![screen shot 2016-06-08 at 11 00 06 am](https://cloud.githubusercontent.com/assets/5479/15905161/b3c3c39c-2d68-11e6-9ff0-3f904cd57a21.png)

Gallery:

![screen shot 2016-06-08 at 11 04 16 am](https://cloud.git

[2016-06-08 18:06] sethladd opened #4459 "Shrine: font and color in app bar doesn't match spec"
From the spec:

![screen shot 2016-06-08 at 11 02 49 am](https://cloud.githubusercontent.com/assets/5479/15905213/ef09cbae-2d68-11e6-9384-365ac713b855.png)

From the gallery:

![screen shot 2016-06-08 at 11 04 16 am](https://cloud.githubusercontent.com/assets/5479/15905218/f279df22-2d68-11e6-985b-94ccd9f1beb3.png)

Notice the spec seems to have a heavier weight font, and the color is a dark deep b

[2016-06-08 18:08] Hixie opened #4460 "Keylines and other esoteric alignment use cases"
Use case #1:

Aligning the "ADD" button with the checkboxes in data tables:
![components_datatables_cards_altheaders](https://cloud.githubusercontent.com/assets/551196/15905285/34caab9a-2d69-11e6-8cbb-95ddf006e2b5.png)
This is tricky because the ADD button's text width is less than the bar theme flat button's min width.

[2016-06-08 18:10] sethladd opened #4461 "Shrine: text color in OS status bar is very hard to read"
![screen shot 2016-06-08 at 11 04 16 am](https://cloud.githubusercontent.com/assets/5479/15905398/98b35f30-2d69-11e6-83c2-cb20bac8077e.png)

Notice how we can't see the wifi status, etc.

I think we need to turn the text color black in the OS bar at the very top.

[2016-06-08 18:30] #4035 closed

[2016-06-08 18:31] qchong commented on #3943
Added a link to the video, under the 'Developer guides' section.

[2016-06-08 18:31] #3943 closed

[2016-06-08 18:43] devoncarew commented on #4453
Yup, but we should handle this more gracefully then an exception :)

I'll fix this issue (the exception) and file an issue to enable debugging for iOS devices. @chinmaygarde has a PR in progress, w/ I think some work left to do with port forwarding.

[2016-06-08 18:45] devoncarew opened #4463 "support flutter run --debug-port for iOS devices"
An in-progress PR here: https://github.com/flutter/flutter/pull/4424.

@chinmaygarde @tvolkert

[2016-06-08 18:51] stemuk commented on #4450
'java -version' puts out 1.8.0_91, would it make any difference to swich from oracle to openjdk?

[2016-06-08 18:52] chinmaygarde commented on #4456
Investigating this further, this starts happening after the `SkCanvas::flush` calls takes an abnormally long time. After that, the swap calls get backed up.

![img_0001](https://cloud.githubusercontent.com/assets/44085/15906841/6ecc2750-2d6f-11e6-8cae-15b337b04274.jpg)

[2016-06-08 19:14] abarth commented on #4450
I don't think its worth trying openjdk.  I suspect something else is going on.

Can you build and run the hello_services sample https://github.com/flutter/flutter/tree/master/examples/hello_services ?

[2016-06-08 19:23] Hixie opened #4466 "flutter run --resident --route doesn't work"

[2016-06-08 19:23] #4388 closed

[2016-06-08 19:30] sethladd commented on #3943
Thank you!

[2016-06-08 19:44] Hixie opened #4467 "Should cross-fade the paginated data table header when it changes"
If you select something, we replace the header with a count of selected items. We should do that with an animation that cross-fades from the previous text, or something. Right now it feels a bit sudden.

[2016-06-08 19:46] sethladd opened #4469 "Renaming our firebase project to FlutterFire"
To match the common pattern of `<PlatformOrLanguage>Fire`, as per the Firebase team.

[2016-06-08 19:46] sethladd commented on #4469
FYI @collinjackson

[2016-06-08 19:47] sethladd commented on #4469
Repo has been renamed: https://github.com/flutter/flutterfire

Now to update the pubspec, readme, etc...

[2016-06-08 19:49] #4401 closed

[2016-06-08 19:52] sethladd commented on #4469
We may also want to rename the library itself. Right now, the library name is `firebase`.

[2016-06-08 20:05] collinjackson commented on #4469
I agree that we should rename the library itself. we'll be doing a codelab update to add a Google Sign-In step and I think we can make that change at the same time.

[2016-06-08 20:13] sethladd commented on #4469
Cool, thanks. Reassigned over to you.

[2016-06-08 20:19] sethladd commented on #4349
We reach down to the bottom of the text now, but we don't include any bottom padding.

![screen shot 2016-06-08 at 1 19 23 pm](https://cloud.githubusercontent.com/assets/5479/15909544/a6b2fd4a-2d7b-11e6-97d8-9590771dbf14.png)

[2016-06-08 20:24] sethladd commented on #4321
We look pretty good here!

![screen shot 2016-06-08 at 1 23 48 pm](https://cloud.githubusercontent.com/assets/5479/15909682/41e03a26-2d7c-11e6-81d0-f857e5feaf70.png)

I think we can close. :)

[2016-06-08 20:24] #4321 closed

[2016-06-08 20:28] sethladd commented on #4349
I looked at other iOS apps with text selection. Looks like the highlighting only extends to the bottom of the text, but no bottom padding on iOS:

![screen shot 2016-06-08 at 1 28 26 pm](https://cloud.githubusercontent.com/assets/5479/15909819/e7d99a58-2d7c-11e6-9e7c-f642d7c4bf45.png)

Since our text selection highlights to the bottom of the word, I think we can close this.

Thanks for the help in

[2016-06-08 20:28] #4349 closed

[2016-06-08 20:34] sethladd commented on #4374
I think at minimum we should ink splash when the edit icon is tapped. But, I think maybe you're hinting that a contact should be editable? If so, that's out of scope for v1 of the Gallery, so moving this out of the milestone.

[2016-06-08 20:35] sethladd opened #4471 "Gallery: Contacts: Edit icon doesn't ink splash"
Users might expect the icon to ink splash. We splash on other icons that don't do anything (in pesto and shrine).

[2016-06-08 20:35] sethladd commented on #4402
@mpcomplete and I chatted, and we think we can fix this by adding "Return to Gallery" to the drawer.

[2016-06-08 20:37] sethladd commented on #4359
Are we blocked on https://github.com/flutter/flutter/issues/4418 and/or something else? Can we list the blocker issues in this issue's description?

[2016-06-08 20:38] sethladd commented on #4296
Moving this out from Gallery App milestone. We can ship the gallery without this feature. It's a good feature for a v1.1 or later.

[2016-06-08 20:44] sethladd commented on #4457
Might help with https://github.com/flutter/flutter/issues/4384

[2016-06-08 20:44] #4466 closed

[2016-06-08 20:47] sethladd commented on #4411
cc @mpcomplete

[2016-06-08 20:47] abarth commented on #4411
I believe I made this go fast.

[2016-06-08 20:47] #4411 closed

[2016-06-08 21:01] #2768 closed

[2016-06-08 21:04] Hixie opened #4473 "ScrollingDataTable"

[2016-06-08 21:27] #4101 closed

[2016-06-08 21:37] Hixie opened #4475 "http library (and others) should catch the case of the binding not being initialised"
...and suggest initialising it, and link to a page explaining what's going on.

[2016-06-08 22:02] armansito commented on #2637
Very gentle ping. Any idea for the time frame we can expect this to get fixed (not sure what Flutter 2.0 or later means wrt timing)?

[2016-06-08 22:06] devoncarew commented on #2762
We'd likely need to lock around:
- cache updates / update checks
- the update-packages call

[2016-06-08 22:20] abarth commented on #2637
I'm not currently working on this issue.  It needs to be prioritized along with the other Mozart/Mojo related work.  As I wrote above, it's a significant chunk of work and we need to make sure it gets scheduled accordingly.

[2016-06-08 22:36] stemuk commented on #4450
No, I am developing on Ubuntu. Apart from that, I tried multiple projects, sample projects and some of my own but they all lead to the same issue.

[2016-06-08 23:06] kaiyuanw opened #4477 "Fail to run flutter drive in develop mode"
## Steps to Reproduce

In bin/flutter, add FLUTTER_DEV=1 and run flutter drive --target=...

Basically, in flutter_tools/lib/src/android/android_device.dart line 385, the value of
platformArgs['trace-startup'] is null somehow.  If I set line 385 to
traceStartup: platformArgs['trace-startup'] ?? false,
then it works as expected.

## Flutter Doctor

[✓] Flutter (on Linux, channel alpha)
    • Flutte

[2016-06-08 23:20] dvdwasibi opened #4478 "Text overflow with ellipsis also has fade"
## Steps to Reproduce

A **text** widget with _overflow_ set to _TextOverflow.ellipsis_ should not have a fade.
![screen shot 2016-06-07 at 4 56 50 pm](https://cloud.githubusercontent.com/assets/3635416/15914296/ac8b3b92-2d94-11e6-9b8d-92c6e2f12c2e.png)

## Flutter Doctor
[✓] Flutter (on Mac OS, channel alpha)
    • Flutter at /Users/dayang/Flutter
    • Framework revision 21fa2753d8 (13 days ago)

[2016-06-08 23:21] abarth commented on #4478
It's unclear how to implement ellipsis without a fade in languages like Arabic where removing letters from a word doesn't necessarily result in glyphs that take up less space.  Arabic is particularly tricky because letters at the end of words get different glyphs than those in the middle of a word.

/cc @Hixie

[2016-06-08 23:21] Hixie commented on #4374
Ok. It's out of scope, so closing this bug.

[2016-06-08 23:21] #4374 closed

[2016-06-08 23:29] abarth commented on #4478
One possibility is to break word boundaries or at boundaries between ligatures.

[2016-06-08 23:30] abarth commented on #4477
Does it work if you remove `FLUTTER_DEV` ?  The `FLUTTER_DEV` environment variable isn't really meant to be used by end-developers.  If it's causing trouble, I'm tempted to say we should just remove it.

/cc @devoncarew

[2016-06-08 23:32] abarth commented on #4450
It sounds like there is some configuration issue with your machine.  For example, if you use Android Studio to create an example project (i.e., a stock Android project, not one with Flutter), do you encounter the same problem?

[2016-06-08 23:56] Hixie opened #4480 "devices_test.dart in flutter_tools fails"

[2016-06-09 00:27] #4471 closed

[2016-06-09 00:28] Hixie opened #4481 "Too many blank lines in exceptions"
We have too many blank lines at the end of exceptions these days. It should be zero or one, but it's now two.

[2016-06-09 02:26] devoncarew commented on #4477
I think this may be finding a valid issue - when run w/ `FLUTTER_DEV` we turn on checked mode for the flutter tool. Someone's passing `traceStartup: null` into that android_device method and `if (traceStartup)` is failing w/ that exception.

[2016-06-09 02:32] devoncarew commented on #4477
@kaiyuanw, looking at the code, your change looks reasonable (`traceStartup: platformArgs['trace-startup']` ==> `traceStartup: platformArgs['trace-startup'] ?? false`). If you want to submit a PR for that we can review.

@abarth, sound reasonable?

[2016-06-09 02:40] abarth commented on #4477
SGTM

[2016-06-09 03:05] kaiyuanw commented on #4477
I'm actually a summer intern at Google and work in the same building as you guys do.  I need to build some additional features based on Flutter driver and that's why I need to set developing mode.  I think YoungSeok sent you guys an email for this issue also.  Thank you for your responses. :)

[2016-06-09 04:02] abarth commented on #4379
Cute bug.

[2016-06-09 06:17] abarth commented on #4077
We made this go fast by removing the shadows.  There's a bug on file for the shadows being slow: https://github.com/flutter/flutter/issues/4367

[2016-06-09 06:17] #4077 closed

[2016-06-09 06:21] devoncarew commented on #4480
Failure output here: https://travis-ci.org/flutter/flutter/builds/136302834

[2016-06-09 06:22] abarth commented on #4065
I can reproduce the issue.

[2016-06-09 06:33] abarth commented on #4065
For the record, I don't think you did anything wrong.  This is just a bug in the framework.

[2016-06-09 07:11] #4428 closed

[2016-06-09 14:27] #4059 closed

[2016-06-09 14:38] eseidelGoogle commented on #4349
Selection used to be a very platform specific behavior on the web.  We may
end up having to implement different styles between iOS and Android as
well, not sure.  Certainly will end up wanting to test on both.

http://stackoverflow.com/questions/18939025/nsattributedstring-highlight-background-color-shows-between-lines-ugly
is an example of someone with a windows background/preference trying to ge

[2016-06-09 15:36] #3246 closed

[2016-06-09 15:44] #4425 closed

[2016-06-09 15:57] devoncarew opened #4489 "error when trying to run on an iOS device"
The output from `flutter run`:

[code]

And a screenshot from XCode:

<img width="413" alt="screen shot 2016-06-09 at 8 57 28 am" src="https://cloud.githubusercontent.com/assets/1269969/15936529/38ef39ea-2e20-11e6-9582-d7c91bc55030.png">
os

[2016-06-09 15:58] devoncarew commented on #4489
This is for a newly created project using the source on master (Framework revision 4e3e40a174 (10 minutes ago), engine revision 034ae44419).

[2016-06-09 16:48] yjbanov opened #4490 "[dashboard] do not blindly erase the local clone of flutter repo"
Currently, on every run of the dashboard build, we `rm -rf` the `flutter` repo and clone it from scratch. This makes it hard to experiment and fix bugs in-place, as all local changes are destroyed prior to the build. Instead, when we see local changes (using `git status`) we should:

* _not_ `rm -rf` the repo
* _not_ pull changes from upstream
* put a big warning banner in the output log
* let all

[2016-06-09 17:07] abarth commented on #4267
As discussed on the CL, it's not clear that removing these render objects is a win.

[2016-06-09 17:07] #4267 closed

[2016-06-09 17:09] #4379 closed

[2016-06-09 17:09] abarth commented on #4489
Looks like you're trying to build for armv7.  We currently only support arm64.  What version of the iPad are you using?

[2016-06-09 17:10] #4427 closed

[2016-06-09 17:25] sethladd opened #4491 "Document/sample for a single codebase that is different on iOS and Android"
Flutter allows developers to build UIs that are mostly identical across iOS and Android, yet differ in important ways. Flutter doesn't force developers to build a single uniform UI if they don't want to.

This is a common question from our initial partner discussions, so we might want to document and show strategies for using Flutter in ways that give developers extreme code reuse and yet tweak fo

[2016-06-09 19:07] Hixie opened #4494 "Icon widget (or a new widget) should support giving an icon from another font"
Right now we only support the Material Icons font's icons, which is limiting.

[2016-06-09 19:09] Hixie commented on #4494
Maybe they should take a Widget instead of an IconData, and we should make the Icon constructor have the material icons font icon as a positional argument, and we should make the places that current create the Icon to put in instead create an IconTheme to put in.

Then you could either pass an Icon, or an Image, or whatever.

[2016-06-09 19:10] Hixie opened #4495 ""fit" argument dartdocs should say what the default is"

[2016-06-09 19:11] Hixie commented on #4494
We'd probably need to make that an IconImage widget, so that it can take the IconTheme and apply it to the image it wants to show.

[2016-06-09 19:15] Hixie opened #4496 "AssetImage, NetworkImage, RawImage, RawImageResource, etc, should cross-ref each other"
Right now we have some breadcrumbs between these, but not enough to go all the way up and down the stack.

[2016-06-09 19:33] apwilson opened #4497 "flutter build/install/run developer experience is confusing"
Normally I like to do something like this on the command line:

[code]

The problem is the app that gets installed isn't the one that's run such that if I launch my app via the command above I get a different app experience than if I launched it from the Android launcher.  ie. The installed app is in release mode but flutter run runs something in debug mode)

This is confusing.

I would like to ha

[2016-06-09 19:36] devoncarew commented on #4489
Ah, an older one. It's not with me right now, but armv7 makes sense. I'll close this and open one about failing with a clearer error message.

[2016-06-09 19:36] #4489 closed

[2016-06-09 19:37] devoncarew opened #4498 "flutter run (and build) should fail with a descriptive message when targeted iOS armv7 devices"
See https://github.com/flutter/flutter/issues/4489

[2016-06-09 19:39] #4477 closed

[2016-06-09 19:44] sethladd opened #4499 "Show colors in code completion in Atom?"
Similar to how we show icons when code completing, we could show colors.

![screen shot 2016-06-09 at 12 43 30 pm](https://cloud.githubusercontent.com/assets/5479/15943896/e26fb7e6-2e3f-11e6-9bec-034c1ffb6ee3.png)

[2016-06-09 19:46] Hixie opened #4500 "Split the configuration for selecting an image from the configuration of its painting"
Right now, you pick the image using AssetImage or RawImageResource or whatever, and at the same time you specify its dimensions.

This makes it hard for other widgets to accept images in general from any source, but then additionally apply an opinion regarding how the image should be displayed (e.g. dimensions, fit, or repetition).

Proposal: We should instead have a single image-displaying widget

[2016-06-09 20:12] devoncarew commented on #4497
`flutter run` will build and install the app before running it - is there a reason you're calling `build apk` and `install` manually?

`run` defaults to using `--debug` mode and `build apk` defaults to `--release` mode - it seems like when you're running the app you'd be most interested in debuggability, and when explicitly building it more interested in a deployable version. Curious to hear if th

[2016-06-09 20:20] sethladd opened #4501 "Missing frame budget when heroing in Grid demo in Gallery"
(on iOS and Android)

Open Gallery, Components, Grid. Tap to open a picture. Then tap back.

Expected: 60fps when we "hero" up an image into full screen and "reverse hero" when we shrink back the image into the grid layout.

Actual: I see spikes in the Engine chart and the rasterizer chart. Those spikes appear when I tap into, and tap back, the images in the grid.

![6c6e1cbf-bc2e-4728-80e5-b4d8c2

[2016-06-09 20:30] sethladd opened #4502 "Continue to push frames after overflow scroll is finished"
See this in action here: https://www.youtube.com/watch?v=Pa-u4Ae9m9A

Notice that after the overflow scroll animation is complete and disappears from the screen, we continue to see frames pushed (based on the performance overlay's continued animation).

[2016-06-09 20:37] abarth commented on #4502
Yeah, when to stop pushing frames is slightly tricky.  It would be interesting to look at the iOS version to see if the overscroll is still going on.

[2016-06-09 20:47] sethladd commented on #4502
iOS doesn't have this issue. We have a different behavior there (no overflow scroll). As soon as the grid settles, the animation and frames stop.

I don't know this is is particularly "bad", as it stands. If we think this is a systemic thing we should look into, let's keep the issue open. If we don't think there's any "harm" here, we can close.

[2016-06-09 20:59] abarth commented on #4502
We run the animation as if we were on iOS and just use a different visual appearance on Android.  That's why we keep pushing frames until the iOS version of the animation would be complete.

We probably need to re-think how we generate this animation on Android.  There are a number of bugs on file about it that can probably all be resolved by iterating on the approach.

[2016-06-09 21:04] ScottPierce opened #4503 "Document how to connect Flutter code to native APIs with hello_services example"
Has any thought been put into flutter around integrating with already existing android and ios applications, or is flutter intended to be an all or nothing solution? I've seen you can add native android and ios code, but I don't know how easy it'd be to take an already existing application and have flutter work along side it.