[2019-08-02 09:07] nitneuq33 commented on #24565
sorry I havn't a great trad of portuges ^^  I understand your solution but don't know how to apply this ... have you a little example ? thank you

[2019-08-02 09:10] nitneuq33 commented on #24565
I tried this

[code]

but position can"t be use as a setter because its final ...

[2019-08-02 09:15] klaszlo8207 commented on #37465
Tried that, not worked. Only thing is helped me when I deleted all my app's datas.

[2019-08-02 09:17] VnurtureTechnologies opened #37467 "Application name is not set"
is:issue is:open Application name is not set. Call Builder#setApplicationName.

[2019-08-02 09:22] rakeshghasadiya opened #37468 "This version of in_app_purchase will break your Android build if it or its dependencies aren't compatible with AndroidX"
[code]

[2019-08-02 09:31] bayuramadeza commented on #36822
i'm sorry, i didn't get permission to share my code,

[2019-08-02 09:53] jicg commented on #29749
Same here, would love to see that implemented.

[2019-08-02 10:11] collinspro opened #37469 "Problem Run flutter On Emulator"
hello guys please i Encountered  This Error when running my application. please i need help
[code]
Using hardware rendering with device Android SDK built for x86. If you get graphics artifacts, consider enabling
software rendering with "--enable-software-rendering".
[code]

Secondly  i Ran it using the Android Studio And this was the error i got . please  i need help and solutions
[code]
[code]

[2019-08-02 10:11] collinspro commented on #37469
PLEASE  HELP

[2019-08-02 10:16] dhavalagile opened #37470 "FadeInImage widget image loading issues while ListView pull to refresh"
In my app Listview used for display Food List. Listview working fine first-time list loading if the image exists or not, placeholder image or food item image display.

When some new item added in API and image, not exists in the newly added item then when user use pulls to refresh then newly added widget whose image not available display past loaded image instead of the placeholder image.

Please

[2019-08-02 10:29] viratshukla commented on #37383
If placed in column, only zoom in map is working, that is also on double tap. No zooming out, no sliding in map to other location. Its like a static image of map.

[2019-08-02 10:38] mkoorn commented on #13204
this helped me: [https://stackoverflow.com/a/49081487/244183](url)

[2019-08-02 10:38] davidmartos96 opened #37471 "Flutter tool process is killed when using use-application-binary option"
When using the `use-application-binary` option with `flutter run` there is some code that kills the flutter tool running process.

For example:

`flutter run --use-application-binary my_executable_path`

When this code https://github.com/flutter/flutter/blob/3fedb8cb5ada929a697f29fb1e5783f9cfa76a15/packages/flutter_tools/lib/src/desktop.dart#L13 runs from https://github.com/flutter/flutter/blob/d6

[2019-08-02 10:47] Mrcooder commented on #16876
Thanks deeply. It saved me

[2019-08-02 10:47] bjornwilliam commented on #35438
Thank you so much for your workaround.. was giving up hope here!

[2019-08-02 10:48] kushtra24 opened #37472 "flutter on tablet: RangeError (length) invalid value: Valid value range is empty: 0. It seems that if the device is not connected to the internet and has Firebase on it, it gets this error. Is there any exception handling I can do there?"
The app works everywhere but on a table, even the emulator tablets work,
I got a Huawei MediaPad m5 android 9,  last android security update was 5, june 2019.

console log is this

[code]

Flutter doctor is this:

[code]

[2019-08-02 11:11] duzenko opened #37473 "Dropdown should follow the App Theme settings"
I have a DropDown and a TextField side by side and the couple looks odd.
The two obvious issues are underline color and content spacing on the dropdown.
I can come up with a workaround using Dropdown's custom underline and hand-tuned inputDecorationTheme.contentPadding but it should really be implemented inside the framework.
FWIW I use app-wide theme with custom underline color and input contentP

[2019-08-02 11:11] GeekAbdelouahed commented on #28733
@angel1st  did you setup your payments details in admob account, i solve the problem after fill it

[2019-08-02 11:31] JayM96 opened #37474 "Flutter project failed to implement native view in to flutter widget using PlatformView"
implement a webview platformview to my flutter widget in specific height and width constraints. I have implemented it surfing some tutorials on medium and google.

But, At last I'm getting below error.

A Flutter plugin files has been attached as webviewplugin-demo.zip as the whole project size is very large.

Also, I want to implement a flutter plugin or widget like,

I will have a textformfield

[2019-08-02 11:34] MaikuB commented on #33302
Hmm I just had `flutter pub publish` hang for me after it list the files and tries to do an analysis. Not sure how I could provide more detailed steps. Compared to when it use to work, I'm on the latest stable (1.7.8+hotfix.4) and switched the account I use for publishing. Previously I was using a Gmail email address and now I'm using a custom email address via G Suite

[2019-08-02 11:34] martinory opened #37475 "Sliver app bar collapses unevenly"
Hi!

The sliver app bar collapses unevenly.

I made some changes so that the sliver floating scroll bar appears similar to that on Android in this [commit](https://github.com/martinory/flutter/commit/ad62489429d5b62c719186cd4de1c02daf7b9966#diff-87319c3cd61fcdf4b6f2b3a224279019):

Basically, leading, trailing and middle uses offsetY (size.height - kToolbarHeight) instead of different offsets to de

[2019-08-02 11:35] OPTJoker commented on #37373
我 也 是 ！

[2019-08-02 11:36] OPTJoker commented on #37373
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Mac OS X 10.14.4 18E227, locale
    zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 10.3)
[✓] iOS tools - develop for iOS devices
[✓] Android Studio (version 3.2)
[✓] Connected device (1 available)
• N

[2019-08-02 11:40] OPTJoker commented on #37373
====== Flutter Doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Mac OS X 10.14.4 18E227, locale
    zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 10.3)
[✓] iOS tools - develop for iOS devices
[✓] Android Studio (version 3.2)
[✓] Connected de

[2019-08-02 11:40] OPTJoker commented on #37373
====== Flutter Doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Mac OS X 10.14.4 18E227, locale
zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 10.3)
[✓] iOS tools - develop for iOS devices
[✓] Android Studio (version 3.2)
[✓] Connected device

[2019-08-02 11:41] raja-bounce commented on #31104
any one got solution for this? i am facing this issue even i have tried with some simple single view application with swift. still getting this error

[2019-08-02 11:42] OPTJoker commented on #37373
I have the same problem：
====== Flutter Doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Mac OS X 10.14.4 18E227, locale
zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 10.3)
[✓] iOS tools - develop for iOS devices
[✓] Android Studio (version

[2019-08-02 11:43] OPTJoker commented on #37373
I have the same problem：
====== Flutter Doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Mac OS X 10.14.4 18E227, locale
zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 10.3)
[✓] iOS tools - develop for iOS devices
[✓] Android Studio (version

[2019-08-02 11:44] OPTJoker commented on #37373
I have the same problem：

====== Flutter Doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Mac OS X 10.14.4 18E227, locale
zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 10.3)
[✓] iOS tools - develop for iOS devices
[✓] Android Studio (version

[2019-08-02 11:50] uiboy commented on #13452
Its weird, I have the `GlobalCupertinoLocalizations.delegate,` added, but in a `TextFormField` the copy and paste buttons do not show up until there is at least one letter typed. The `enableInteractiveSelection` is also set to the default true. 🤔

[2019-08-02 11:52] premtemp1 commented on #35974
Thanks
This is the field for iOS JDK
https://firebase.google.com/docs/reference/swift/firebaseauth/api/reference/Classes/User#refreshtoken

[2019-08-02 11:52] BaderEddineOuaich commented on #37469
try run
<pre>flutter run --enable-software-rendering</pre>
as mentioned in the error.

[2019-08-02 11:53] kushtra24 commented on #37472
OK, It seems that if the device is not connected to the internet and has Firebase on it. It gets this error, My question is there any exception handling I can do there?

[2019-08-02 11:54] jsoref commented on #12146
@ThinkDigitalSoftware I think you meant @jsroest

[2019-08-02 11:54] SPK-RPI commented on #22713
I am also facing the same issue...
I have a StreamBuilder with a stream attached to it. I have a progress bar which starts and wait for a particular task to be completed and change the UI using the setState(){}. Whenever the progress starts there is a flicker or a reload of all the widgets and this forces some of the images to reload.

[2019-08-02 11:58] collinspro commented on #37469
Thanks for the reply but don't realm know how to enable (software rendering ) ,do you have the step on how to do so ?

[2019-08-02 12:05] mekhi commented on #37225
Overriding the dealloc method in a subclass of FlutterViewController, calling`[EAGLContext setCurrentContext:nil]`can solve this problem.
[code]

[2019-08-02 12:06] BaderEddineOuaich commented on #37469
simply run the command  `flutter run --enable-software-rendering` and it will take care of it.

[2019-08-02 12:22] premtemp1 commented on #35974
@long1eu

thanks
This is the field for iOS JDK
https://firebase.google.com/docs/reference/swift/firebaseauth/api/reference/Classes/User#refreshtoken

I look at SDK code and found the call..

https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Auth/Source/User/FIRUser.m

void)retrieveUserWithAuth:(FIRAuth *)auth
                 accessToken:(nullable NSString *)accessToken
   accessTo

[2019-08-02 12:32] zedbahn commented on #33372
I seem to experience the same issue with the exact same error message. One minor difference in my setup, though, is that (in VS Code launch.json) I have used `"--disable-service-auth-codes"` in args for launching the main.dart:

    "args": [
        "--observatory-port",
        "8888",
        "--disable-service-auth-codes"
    ],
in order to (as I understand) not use the authentication code gen

[2019-08-02 12:38] nad19 commented on #21628
I/flutter ( 4598): ══╡ EXCEPTION CAUGHT BY RENDERING LIBRARY ╞═════════════════════════════════════════════════════════
I/flutter ( 4598): The following assertion was thrown during performResize():
I/flutter ( 4598): Vertical viewport was given unbounded height.
I/flutter ( 4598): Viewports expand in the scrolling direction to fill their container.In this case, a vertical
I/flutter ( 4598): viewpo

[2019-08-02 12:40] fresswolf commented on #28415
Not sure if related but I'm observing a hang in xcodebuild of 8 or more minutes without any console output when running on azure pipelines (macOS-10.14 vm). After the wait it actually builds. In my local environment there's no such hang, but the build takes equally long in total. So it seems in my build environment the console logs are just held back for a long time somehow.
I'm using v1.7.8+hotfi

[2019-08-02 12:41] mohamed6996 commented on #37079
I have solved it
please check my answer on [stackoverflow ](https://stackoverflow.com/questions/57242045/flutter-web-tried-to-call-a-non-function-such-as-null-dart-global-firebase-s)

[2019-08-02 12:46] mostafa2142 opened #37476 "EXCEPTION CAUGHT BY GESTURE"
So Im New With Flutter And Im Trying to have Http Request  And I get This Error And I CANT figured out what does it mean
[code]
My Code :

[code]

[2019-08-02 12:46] liugangnhm commented on #34395
expect a language level solution

[2019-08-02 12:53] wmorrison1967 commented on #36146
The fix is to turn off usb debugging on the device.  Then reboot it.  Then turn if back on again.

[2019-08-02 12:57] #37475 closed

[2019-08-02 13:06] AmolGangadhare commented on #34134
@cyanglaz I noticed this when we try to resize the gif. So what happening is, when we select gif file and apply height or width or imageQuality, the bitmap factory(in Android) compresses it, which causes loss of animation. It simply becomes an image. To achieve this, we need to split the frames from gif first, after that apply all resize factors(i.e. height/width/imageQuality) to that every frame(

[2019-08-02 13:26] richgoldmd commented on #36915
I'm having the same issue with v1.7.8+hotfix.4:

[code]

[2019-08-02 13:37] porn commented on #32836
I'd love to see this feature too!

The interface can be the same as in dart test:
https://pub.dev/packages/test#tagging-tests

[2019-08-02 13:40] 0123cf opened #37477 "error"
Last login: Fri Aug  2 20:33:24 on ttys001
xiexiuyuedeMacBook-Pro:~ xiexiuyue$ flutter doctor
Error: The Flutter directory is not a clone of the GitHub project.
       The flutter tool requires Git in order to operate properly;
       to set up Flutter, run the following command:
       git clone -b stable https://github.com/flutter/flutter.git
xiexiuyuedeMacBook-Pro:~ xiexiuyue$ ls
Applications	D

[2019-08-02 13:43] stuartmorgan commented on #37466
CC @dkwingsmt

[2019-08-02 13:44] willlarche commented on #28206
Do we have enough consensus for a plan forward?

[2019-08-02 13:51] yongzhengqi commented on #37451
Exactly the same problem...

[2019-08-02 13:52] progid commented on #36365
I have the same problem, but I'm using .storyboard.

[2019-08-02 14:09] goderbauer commented on #22105
Looks like most (all?) `ContainerParentDataMixin`s get their sibling pointers cleared here (and the parent's count is updated correctly as well there):

https://github.com/flutter/flutter/blob/13382f41c06acca01bcfd24725ef7d6ef9d368cf/packages/flutter/lib/src/rendering/object.dart#L2990-L3012

This is called from `ContainerRenderObjectMixin.remove(ChildType child)` before calling `RenderObject.drop

[2019-08-02 14:09] collinspro commented on #37469
After running  flutter run --enable-software-rendering this was the error i encountered. Any suggestions

C:\flutterApp\fluttertutorial>flutter run --enable-software-rendering
Using software rendering with device Android SDK built for x86. You may get better performance with hardware mode by
configuring hardware rendering for your device.
Launching lib/main.dart on Android SDK built for x86 in deb

[2019-08-02 14:18] ADARSHAGNIHOTRI opened #37478 "Fatal Exception: iOS app Crashes due toOpenGL rendering while app in background state"
There are few Crashes given below in iOS device.They are related to OpenGL Rendering. Please suggest the exact solution for this.

![Screen Shot 2019-08-02 at 7 35 59 PM](https://user-images.githubusercontent.com/51204005/62375870-e8de1d00-b55c-11e9-8334-ab8b61056620.png).

And here is the explaination for one of them----->>>
![Screen Shot 2019-08-02 at 7 38 55 PM](https://user-images.githubuserco

[2019-08-02 14:19] kjeremy commented on #37426
@jonahwilliams

So just to be clear: if I create a `Text` widget in my tree as `const Text("foo")` vs `Text("foo")` that will perform better? If that were the case I'm surprised that the lint isn't enabled by default.

[2019-08-02 14:21] kjeremy commented on #37426
Oh I see why it's not enabled by default. I just tried to make the title `Text` below `const` and it failed because of `theme`

[code]

[2019-08-02 14:29] leonetosoft commented on #24565
Hello good day,

Try it:

[2019-08-02 14:34] Nolence commented on #30765
Thankks! That did the trick :). I'm curious where you found those instructions though?

I tried:

https://firebase.google.com/docs/ios/setup
https://firebase.google.com/docs/flutter/setup
https://github.com/flutter/plugins/blob/master/packages/firebase_auth/example/ios/Runner/AppDelegate.m
https://github.com/flutter/plugins/tree/master/packages/firebase_auth

And none mention those statements.

[2019-08-02 14:42] stuartmorgan commented on #37459
Is `vswhere` installed at `C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe`?

[2019-08-02 14:53] kekland commented on #30765
@Nolence

So, in Firebase Console, you open your project, and then you click on 'Add app' button, and when you select iOS, you will be presented with 5 step tutorial on Firebase installation.

![image](https://user-images.githubusercontent.com/14993994/62378797-6f97f780-b567-11e9-9fd6-3ecee07c6389.png)

I think steps 3 and 4 are the ones that are related to ObjC code.

Have a nice day :)

[2019-08-02 14:59] lifenautjoe commented on #36034
We're experiencing this issue as well and was about to open another issue.

Any chance it gets prioritized? It's highly annoying to end-users.

[2019-08-02 15:00] TheKashe commented on #26945
I'm getting this in Android Studio, with usbmux updated. VSC works.

So for me, with Android Studio, this is not closed.

[2019-08-02 15:17] yamauchieduardo commented on #36950
Waiting a long time for implementation of SetOptions in Set Transactions in Flutter.

[2019-08-02 15:20] bernardohrl commented on #37316
@kenwen on my App, I need to do about 4-5 different requests that uses previous requests values.

The only way I can do that is nesting FutureBuilders?

[2019-08-02 15:22] maylortaylor commented on #24859
I too am getting this same issue when trying to update my app to AndroidX.
If i have my app as non-AndroidX, it "works" but i get another issue of the selected image not appearing **only when on actual device**.

Here is a **stackoverflow** for my issue -- https://stackoverflow.com/questions/57316514/image-not-showing-on-phone-but-shows-on-emulator

[2019-08-02 15:36] nitneuq33 commented on #24565
ow thank you it's work !!

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Le ven. 2 août 2019 à 16:31, Leonardo Neto <notifications@github.com> a
éc

[2019-08-02 15:36] wassafr opened #37480 "CustomPaint doesn't respect parent padding"
I have the follow extract of code. Basically `MyListViewItem` is a `ListViewI` item that displays a `MyCard` widget, which has a default padding of 15.0. Inside this widget, I add a `Row` with a `CustomPaint`.

The issue is the `CustomPaint` widget doesn't respect the `MyCard` padding and is painted from the border of `MyCard`. I know the padding is correct because the `CustomTitle` widget respect

[2019-08-02 15:42] vsmenon opened #37481 "Flutter's local `.pub-cache` doesn't interact well with separate Dart install"
When a developer has separate installs of the Flutter and Dart SDKs, our tools are confused by Flutter's separate `.pub-cache`.  This can lead to inscrutable errors.  E.g.,:

https://github.com/flutter/flutter/issues/36933

[2019-08-02 15:45] nitneuq33 commented on #24565
I have an other problem with initialize, Each days I can record video, and
after I can see my videos historique in increase or decrease days with the
help of button. When I change date I catch the path of the video and need
to initialize to reload the new video. Problem, after some date change I
have the ressource issue. I don't know how to reload an other video without
initialize and make ressour

[2019-08-02 15:45] gspencergoog commented on #37481
Just to explain why why we have the cache:

The pre-populated cache serves several purposes:

1. people can just run "flutter run" and it will work right out of the box, with no extra downloading.
2. People who download flutter when they have a fast connection, but try to use it the first time without a connection, or with a slow one, aren't disappointed (the airport problem), and
3. People in oth

[2019-08-02 15:46] nate-eisner opened #37482 "iOS xcodebuild -archive is broken in 1.8.3-dev"
Looks like a repeat of this issue:
https://github.com/flutter/flutter/issues/22306

## Steps to Reproduce

This broke our CI builds after upgrading to 1.8.3-dev:
1.  `flutter build ios --flavor=prod -t lib/main-prod.dart --release --verbose --no-codesign`
2.  ` xcodebuild -sdk iphoneos -configuration Release-prod -workspace Runner.xcworkspace -scheme prod archive`
3. ???
4. Failure

## Logs

Then

[2019-08-02 15:48] alvirtuoso commented on #22123
pod update worked for me.
From your terminal, go to your projectRootPath/ios then run 'pod update'.

[2019-08-02 15:52] nitneuq33 commented on #24565
I tried to dispose and initialize but not working

_controller.dispose();
_controller.initialize();

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

[2019-08-02 16:09] danielR2001 opened #37483 "Openned my first dart package but made some mistakes in package name and author (2 times)"
hi, I'm new to flutter and it's my first package uploaded and by mistake I opened two packages flutter_exoplayer and exoplayer (with author name luan) that I want to be removed because I made some mistakes in the package name and the author name, I know that you recommend not doing that but I uploaded these packages just right now and don't think someone is depending on it.
please help me.

[2019-08-02 16:11] cyanglaz commented on #34134
@AmolGangadhare Yes it is the right solution! We are doing the same thing on iOS already.
Do you want to work on this and put up a PR for it?

[2019-08-02 16:16] justinmc commented on #37420
I tried to look at what native Android does in this situation, and it seems to be very similar and equally weird.  If I go to the credit card number entry field in Google Play, fill up the field with numbers, and then move the cursor to the center, I can still enter characters.  New characters are added to the right of the cursor while the cursor stays in the same place.

Is anyone else seeing sim

[2019-08-02 16:21] designerseyi opened #37484 "trying to use ML vision and Image picker"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-08-02 16:33] shihaohong commented on #34678
Actually, I believe this is actually already possible with [SystemChrome. setEnabledSystemUIOverlays](https://api.flutter.dev/flutter/services/SystemChrome/setEnabledSystemUIOverlays.html). What you have to do is import `package:flutter/services.dart`, then call:
[code]

The main piece that's missing is how to determine the system gesture insets, which I'm currently actively working on

[2019-08-02 16:36] YelenaLemon opened #37485 "Medial distribution Stay on the Launch page, iOS。"
Medial distribution  Stay on the Launch page,   iOS。
Channel stable, v1.7.8

[2019-08-02 16:40] adarshgurjar commented on #35826
@justinmc , When we can expect the issue fixed officially ? The only workaround seems to be changing minWidth in ThemeData as suggested by @Nico04

[2019-08-02 16:45] kenwen commented on #37316
@bernardohrl recommend reading the docs and SO, but off the top of my head you could use .then to chain all your futures together into one future

[2019-08-02 16:48] jkmpariab opened #37486 "Question about State class"
It may be a newbie question. what's the point of disposing in State.dispose() while dart already have gc to do the work?

[2019-08-02 16:54] lifenautjoe opened #37487 "Crash on android build and inconsistently after flutter upgrade"
## Steps to Reproduce

1. Do flutter upgrade on latest stable channel
2. Update all dependenices
3. Observe the app run sometimes, other times crash, other times run and then crash in between.

## Logs

**The logs I've managed to get from one of these inconsistent occasions**

[code]

**Flutter doctor output**

[code]

[2019-08-02 16:55] ferhatb opened #37488 "[web][upstream] Upstream debugPrintStack fix for web"
On the web platform stacktrace.current includes the current methods itself, therefore the top of the stack needs to be removed.

[2019-08-02 17:03] justinmc commented on #35227
@DaveShuckerow Not sure if you're the right person but I see your name on ReorderableListView.  Any insight into this exception?  Maybe nested Overlays not being doable?

[2019-08-02 17:09] jonahwilliams commented on #37471
Sounds like a good idea

[2019-08-02 17:09] #36015 closed

[2019-08-02 17:10] franciscojma86 commented on #37273
Should this be rebaselined?

[2019-08-02 17:11] ferhatb opened #37491 "[web][upstream] Upstream valueToString in foundation/diagnostics.dart."
IterableProperty.valueToString
DiagnosticsProperty.valueToString

[2019-08-02 17:14] franciscojma86 commented on #37321
Closing this issue since it's being tracked elsewhere.

[2019-08-02 17:14] #37321 closed

[2019-08-02 17:15] franciscojma86 commented on #34855
See https://github.com/flutter/flutter/issues/35551

[2019-08-02 17:20] ferhatb opened #37493 "[web][upstream] Upstream _deactivateRecursively optimization"
Change method from instance to static in framework.dart.

[2019-08-02 17:22] franciscojma86 commented on #32931
They seem to have gone back to normal. Closing this issue.

[2019-08-02 17:22] #32931 closed

[2019-08-02 17:32] kf6gpe opened #37494 "Present() called from wrong thread"
Mirror issue for https://fuchsia.atlassian.net/browse/FL-288. Please leave comments there.

[2019-08-02 17:34] #37397 closed

[2019-08-02 17:35] chunhtai commented on #14014
@sydshahed  with this merged https://github.com/flutter/flutter/pull/37403, you should be able to use ontap callback

[2019-08-02 17:37] justinmc commented on #27353
This seems fixed to me (at least on master).  See @chunhtai's work on https://github.com/flutter/flutter/pull/34676.  I'm going to close this, but feel free to reopen if anyone sees the problem still.

[2019-08-02 17:39] toaufik opened #37495 "Problem running Flutter"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

VersionCheckError: VersionCheckError: Command exited with code 1: git log -n 1 --pretty=format:%ad --date=iso
Standard error: xcode-select: note: no developer tools were found at '/Applications/Xcode.app', requesting install. Choose an option in the dialog to download the comm

[2019-08-02 17:40] toaufik opened #37496 "Problem running Flutter"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

VersionCheckError: VersionCheckError: Command exited with code 1: git log -n 1 --pretty=format:%ad --date=iso
Standard error: xcode-select: note: no developer tools were found at '/Applications/Xcode.app', requesting install. Choose an option in the dialog to download the comm

[2019-08-02 17:40] justinmc commented on #36547
Yeah I'm going to close this as a duplicate of https://github.com/flutter/flutter/issues/35826 to focus the discussion over there.

[2019-08-02 17:40] #36547 closed

[2019-08-02 17:47] edwin-hernandez-globant commented on #7474
What was its a solution?

[2019-08-02 17:47] Cayke opened #37498 "[iOS] App rejected by Apple - ITMS-90338: Non-public API usage"
Yesterday i tried to upload an app to App Store. After processing the upload, i received an email from Apple with the content:

************************************************************************
Dear Developer,

We identified one or more issues with a recent delivery for your app, "BIG BOX Delivery" 3.0.2 (58). Please correct the following issues, then upload again.

ITMS-90338: Non-public A

[2019-08-02 17:49] rolurq commented on #17518
Is there any updates about this? I'm having the same issue the SliverAppBar in a nested scroll view is ignoring the floating argument completely, and I want it to float but not snap.

[2019-08-02 17:54] jamesderlin opened #37499 "Switch from package:vm_service_client to package:vm_service"
package:vm_service_client as of 0.2.6+3 is marked as deprecated and recommends switching to package:vm_service instead.

For now, I'm pinning vm_service_client 0.2.6+2 (https://github.com/flutter/flutter/pull/37444) until code is properly migrated.

Probably also relevant to https://github.com/flutter/flutter/issues/31688.

[2019-08-02 18:13] #37495 closed

[2019-08-02 18:15] justinmc commented on #35826
As a quick and dirty workaround using horizontal scrolling, you could replace this line:

https://github.com/flutter/flutter/blob/5df17acb1f852f6a3c1ad0b7fcd869bb09e13db0/packages/flutter/lib/src/material/text_selection.dart#L61

With this:
[code]

[2019-08-02 18:16] justinmc commented on #35826
Long term we'll need to implement the native solution on Android and iOS.  Here is what it looks like on Android:

<img width="250" src="https://user-images.githubusercontent.com/389558/62390332-dccf6c80-b516-11e9-80cb-22bb924ab070.gif" />

[2019-08-02 18:17] FrankYan09 opened #37501 "Copy/paste toolbar needs smarter positioning, same issue in Flutter version 1.78"
Reproduce the issue:

long press the TestField area, the copy/paste toolbar appears on top of the screen.
see the screenshot below:
![Screen Shot 2019-08-02 at 11 03 23 AM](https://user-images.githubusercontent.com/49292023/62390307-cde8ba00-b516-11e9-8ed3-e2412233d57e.png)

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Mac OS X 10.14.

[2019-08-02 18:27] ferhatb opened #37502 "[web][upstream] Use debugFormatDouble in ViewConfiguration"
@override
  String toString() => '$size at ${devicePixelRatio}x';

Needs to use debugFormatDouble to pass web tests.

[2019-08-02 18:30] samuelg123 commented on #37501
Same issue here

[2019-08-02 18:32] phamnhuvu-dev commented on #36437
I also have this problem.

[2019-08-02 18:34] justinmc commented on #34728
Some gifs in light and dark modes for reference.

<img width="300" src="https://user-images.githubusercontent.com/389558/62391328-549e9680-b519-11e9-9d3f-e8a9d4a4e639.gif" /> <img width="300" src="https://user-images.githubusercontent.com/389558/62391329-549e9680-b519-11e9-8535-e84e3af7837d.gif" />

[2019-08-02 18:47] isMeiying opened #37504 "Does using Flutter as a view affect performance?"
For example, I have a native project. He has more interfaces. Each interface has one or more flutter views. Does this cause slow performance?

I use this api:

**`viewGroup.addView(Flutter.createView(this, lifecycle, "one"))`**

[2019-08-02 18:53] AmolGangadhare commented on #34134
@cyanglaz i would like to do it. I'll keep you updated with same.

[2019-08-02 19:09] ghunter99 commented on #36067
Thanks @blasten. I removed underscores from my flavors and build appbundle now works.

[2019-08-02 19:14] d-apps opened #37506 "Hot reload and logs not working only in real devices after updating SDK Platform-Tools to 29.0.2"
After updating SDK Platform-Tools to 29.0.2 looks like this new version breaks hot reload and run logs, only in real devices.

Before updating, everything was working, but now even reverting to >29.0.1 it's not working anymore.

**Hot reload, to re-run I need to stop and select run again:**
![3](https://user-images.githubusercontent.com/20110433/62392650-60e91a80-b53e-11e9-9f0c-3191313dbcee.JPG)

[2019-08-02 19:14] richard457 opened #37507 "Ability to hot reload more than one device desktop,ios, android in android studio editor"
## Use case

## Proposal

I wish I can hot reload all connected devices when I am developing so I don't have to switch form one platform to another platform to see change.

[2019-08-02 19:18] samuelg123 commented on #31075
@panmin Not really. I think the main problem is in ListView. It needs a predefined height. So if you need temporary fix, just replace Flexible to SizedBox (height: 100, child: ListView(), )

I've tested on latest stable version (1.7.8+hotfix.4) and it still not working.

```I/flutter (18423): Another exception was thrown: 'package:flutter/src/rendering/sliver_multi_box_adaptor.dart': Failed assert

[2019-08-02 19:20] jamesdixon commented on #7247
This works as expected without throwing any exceptions:

[code]

[2019-08-02 19:24] d-apps commented on #37507
This is interesting.

[2019-08-02 19:36] stuartmorgan commented on #37483
This request needs to go to pub.dev, not the Flutter project.

[2019-08-02 19:36] #37483 closed

[2019-08-02 19:40] cyanglaz commented on #34134
@AmolGangadhare Great! Thanks!

[2019-08-02 19:56] EHBradford commented on #29210
idrats,

So I am supposed to remove this from the manifest?

        <service android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

[2019-08-02 19:58] Hixie commented on #37481
How does pub determine which cache to use?

[2019-08-02 19:59] #35114 closed

[2019-08-02 20:01] #37059 closed

[2019-08-02 20:01] jmagman commented on #37373
@OPTJoker You are on the stable channel. Adding Flutter to an existing app is experimental and only available on the master channel. https://github.com/flutter/flutter/wiki/Add-Flutter-to-existing-apps#intro.  See https://github.com/flutter/flutter/wiki/Flutter-build-release-channels#how-to-change-channels for instructions on how to switch to master.

@gaodeying Can you paste the contents of /User

[2019-08-02 20:05] nturgut commented on #32763
We are working on a rewrite for text editing now. Meanwhile, as a temporary solution, can you try to enable autofocus on the TextFormField?

[2019-08-02 20:15] jtmcdole commented on #31957
Also note: Many controllers only supports HAT_X and HAT_Y axis that are only (-1,0,1). Today these are not converted to "dpad" digital events.

[2019-08-02 20:20] feinstein opened #37510 "Provide a disableSwipe to PageView"
It would be nice to have a simple boolean inside `PageView` (or inside the `PageController`?) to disable the swipe. This way only the `PageController` could control which page we are showing.

This is useful for onboarding forms, where we want to block the user from going forward if there any validation erros on the data he provided (empty email field etc.), and advance the user programatically wh

[2019-08-02 20:22] Piinks commented on #37053
Hi @DevonteDC, can the `onDraggableCanceled` method that is available from the `Draggable` work for your use case? Can you trigger your rejection animation events and functions there?
Doc: https://master-api.flutter.dev/flutter/widgets/Draggable/onDraggableCanceled.html

[2019-08-02 20:23] bernaferrari commented on #34678
There is a problem. You don't want this:

<img src="https://miro.medium.com/max/1400/1*Ewr-T0DxgKK-Wb9R6RazlQ.png" width="600" />

On Android [it's recommended](https://medium.com/androiddevelopers/gesture-navigation-going-edge-to-edge-812f62e4e83e) that you keep FAB and etc at **relative 16 (i.e. in the safe area)** because.. well, as you saw there, you don't know the height of the bar. On iOS, G

[2019-08-02 20:25] gspencergoog commented on #37481
Via the `PUB_CACHE` environment variable.  We set that inside of the flutter tool if we notice that the flutter directory has a `.pub-cache`.

The workaround for this issue is to have people delete the flutter directory's `.pub-cache` and just use theirs.

[2019-08-02 20:25] kavin014 opened #37511 "flutter web - Pub get Issue"
I am getting this warning as output,

[code]

And I couldnt see the anything in browser when I run

How could I fix this?

[2019-08-02 20:32] justinmc commented on #35531
I don't think I can reproduce this.  I can definitely help if you want to dig into this yourself though.

You might want to look at what TextEditingValue is coming from the engine when a problematic newline is entered:

https://github.com/flutter/flutter/blob/4e3698fb5dcbf8a88135403a9ac19e2b6b3f39ac/packages/flutter/lib/src/services/text_input.dart#L655-L661

If it looks correct at that point, you

[2019-08-02 20:39] DevonteDC commented on #37053
For my use-case, unfortunately no. It is because I have to tell the difference between OnDraggableCancelled due to not being accepted by DragTarget and OnDraggableCancelled triggering from just stopping the drag motion and letting go of mouse/finger (without ever touching a Drag Target).

[2019-08-02 20:49] Piinks commented on #36876
Hi @exo-pla-net,
Welcome! And thanks for opening this issue. We'll need some more information to be able to better address it.
Can you provide a minimum runnable code sample that we can test to observe the inconsistent behavior? And can you also provide the output of `flutter doctor -v`?

[2019-08-02 20:56] blasten commented on #37223
If you try to delete the file `C:\Users\Michael Odafe.gradle\wrapper\dists\gradle-4.10.2-all\9fahxiiecdb76a5g3aw9oi8rv\gradle-4.10.2-all.zip` and then try again, does that fix the issue?  It's possible that the file got corrupted.

[2019-08-02 21:02] blasten commented on #36282
This is a duplicate of: https://github.com/flutter/flutter/issues/13645.

What do you think about the tool telling users how to fix the problem?

[2019-08-02 21:08] chinmaygarde commented on #37494
Fixed in https://fuchsia-review.googlesource.com/c/topaz/+/307721

[2019-08-02 21:15] Piinks commented on #37053
You make an excellent point! Thanks again for bringing this up!

[2019-08-02 21:25] michaelodafe commented on #37223
Thank you! I just did that and got the below error..

Launching lib\main.dart on Android SDK built for x86 in debug mode...
[{"event":"app.progress","params":{"appId":"9b2d16a7-4f89-48b1-b618-8b05e224ccef","id":"0","progressId":null,"message":"Initializing gradle..."}}]Initializing gradle...

[{"event":"app.progress","params":{"appId":"9b2d16a7-4f89-48b1-b618-8b05e224ccef","id":"1","progressId":nu

[2019-08-02 21:33] blasten commented on #37223
It might be that the `ANDROID_HOME `env variable has spaces in the path.
This issue: https://stackoverflow.com/a/53232266.

[2019-08-02 21:36] EliasDolinsek opened #37517 "No application found for TargetPlatform.web_javascript"
If I try to run flutter on the web, the console outputs `No application found for TargetPlatform.web_javascript`. This happens on all my existing projects and a new one I created to test this feature after I upgraded flutter.

## Logs

**flutter run --verbose outputs this:**

`[  +33 ms] executing: [/Users/eliasdolinsek/development/flutter/] git log -n 1 --pretty=format:%H
[  +36 ms] Exit code 0 f

[2019-08-02 21:44] michaelodafe commented on #37223
FIXED!!! I actually needed to reinstall my SDK Build Tool v28.0.3 again... Thank you for your help without your first hint I won't have gone this far...

[2019-08-02 21:44] #37223 closed

[2019-08-02 21:45] lhkbob commented on #36352
The overall tracker for our image filter overhaul is here: https://skbug.com/9279. The components that would address this issue hopefully are https://skbug.com/9074 and https://skbug.com/9283

[2019-08-02 22:04] flaviup commented on #26966
I can still reproduce this issue using Google Maps plugin inside an IndexedStack showing another widget on top of the maps and then rotating the device from portrait to landscape back and forth.

[2019-08-02 22:10] Hixie commented on #37203
Test performance has regressed from a few hundred milliseconds a few years ago to over SEVEN SECONDS now. Continuing to regress this benchmark is absurd. I am extremely disappointed that we do not consider this a higher priority.

[2019-08-02 22:16] gspencergoog opened #37519 "Change Flutter TODOs to not require a username, but to require an issue link."
The old syntax was:
[code]
But the link wasn't required.

The new syntax is:
[code]
Where the username is optional, and the link is required.

[2019-08-02 22:16] cristianventura commented on #37248
I think that is an issue.
For example, if I have a GridView (or ListView) inside a TabView inside a ListView, and every GridView is variable, there is no clear way to do this. I have no constraints for this.

Maybe I can create a StatefullWidget that analyzes the size of the GridView (and avoid using the builder) and set for every tab the height, but in that case I also have the problem that the s

[2019-08-02 22:17] gspencergoog commented on #37519
cc @mklim

[2019-08-02 22:21] AppleEducate commented on #32763
Sure thing! I’ll see what I can do

[2019-08-02 22:29] eospi opened #37520 "After collapsing and opening ExpansionTile, TextFormField text is deleted"
## Steps to Reproduce

My ExpansionTile has several TextFormField widgets as children. When I collapse and reopen an ExpansionTile, any text entered in the form fields is deleted. I've tried adding the suggested PageStorageKey, but it still deletes entered text. Here is an example `main.dart` that reproduces the issue. Thank you!

In the sample app,
1. Expand the tile
2. Enter any text into the fi

[2019-08-02 22:30] mklim commented on #37519
Also see dart-lang/linter#1670.

This is going to require multiple steps:

- [ ] Turn off the current `flutter_style_todos` lint, or make it more permissive.
- [ ] Update existing TODOs in the codebase to the new syntax. This will require filing issues for the ones currently missing links.
- [ ] Apply a lint for the new style.

2 and 3 will need to happen very close to each other or risk failing o

[2019-08-02 22:38] #26326 closed

[2019-08-02 22:38] Piinks commented on #37053
How about this. Looks like the details provided to the DragEndCallback may have what you are looking for:
From: https://master-api.flutter.dev/flutter/widgets/DragEndCallback.html

Signature for when the draggable is dropped.

The details have a `wasAccepted` property? What do you think?

[2019-08-02 22:38] #26328 closed

[2019-08-02 22:40] #36749 closed

[2019-08-02 22:41] justinmc commented on #37501
This should be fixed with https://github.com/flutter/flutter/pull/36974, which was just merged.  You can get the fix in the [master channel](https://github.com/flutter/flutter/wiki/Flutter-build-release-channels).  Let me know if something still looks wrong.

[2019-08-02 22:41] #37501 closed

[2019-08-02 22:42] HansMuller commented on #37451
The error message, `Leading widget consumes entire tile width. Please use a sized widget`, indicates that the ListTile's leading widget is something like a Row widget, a widget whose intrinsic width isn't bounded. This check isn't new, maybe you haven't upgraded for a while?

[2019-08-02 22:43] cyanglaz commented on #9984
I am currently working on some other stuff and won't be able to actively work on this recently. I am going to un-assign myself from this issue.
cc @collinjackson

[2019-08-02 22:43] repentsinner commented on #37464
Hi @mdhvkothari, does this resolve your issue? https://stackoverflow.com/questions/57238933/gradle-failure-a-problem-occurred-evaluating-project-app

[2019-08-02 22:44] cyanglaz commented on #16054
I am not able to actively work on this recently. I will un-assign myself from this issue. Feel free to pick this up if anyone is interested!

[2019-08-02 22:45] DevonteDC commented on #37053
That still defines the Draggable itself not being accepted whether or not it touched a DragTarget or not 😢 . I tried every callback already before submitting the ticket. It is DragTarget itself that needs to handle knowing that it rejected something.

[2019-08-02 22:47] cyanglaz commented on #17165
I eventually got a  Samsung Galaxy A5(2016) device and still couldn't reproduce the issue.
I am not able to actively work on this recently. I will un-assign myself from this issue. Feel free to pick this up if anyone is interested!

[2019-08-02 22:49] Piinks commented on #37053
Ok! I see. Thanks for being so thorough and helpful in investigating this. 🙂

[2019-08-02 22:50] cyanglaz commented on #14098
duplicate of https://github.com/flutter/flutter/issues/16054 closing this issue.

[2019-08-02 22:50] #14098 closed

[2019-08-02 22:50] justinmc commented on #37377
I can reproduce this.  Any TextStyle height greater than the default causes it.

I spent awhile trying to track this down and couldn't yet pinpoint a cause.  Basically, this jumpTo is being called with a nonzero y offset, causing it to overscroll and bounce.

https://github.com/flutter/flutter/blob/5c147051352e1e9221ccdb9969195893abf57f54/packages/flutter/lib/src/widgets/editable_text.dart#L1642

[2019-08-02 22:50] cyanglaz commented on #18845
duplicate of https://github.com/flutter/flutter/issues/16054
closing this issue.

[2019-08-02 22:50] #18845 closed

[2019-08-02 22:51] repentsinner opened #37523 "Why is build.gradle still using plugin version 3.2.1?"
Hi Flutter team, quick question regarding the Android boilerplate and gradle configuration:

I'm running Flutter 1.7.8+hotfix.4, and a fresh `flutter create` results in an Android gradle configuration which uses plugin 3.2.1 with distribution 4.10.2.

_android/build.gradle_:
[code]

_android/gradle/wrapper/gradle-wrapper.properties_:
[code]

How come plugin 3.3.x isn't used, since it's supported b

[2019-08-02 22:53] cyanglaz commented on #30557
Since I'm not able to actively working on this, I'll un-assign myself from this issue.

[2019-08-02 22:53] jonahwilliams commented on #37517
`flutter create` does not yet have full support for updating projects to support the web. In the meantime, this isn't really an issue as the unforked web tooling is not yet ready for use

[2019-08-02 22:53] #37517 closed

[2019-08-02 22:57] cyanglaz commented on #26191
@jonahwilliams We recently introduced a quality parameter to ask image picker to return a lower quality image. With the combination of quality and width and height, one can avoid OOM when using image_picker.
Do you think we can close this issue?
The PR:
https://github.com/flutter/plugins/pull/1896

[2019-08-02 23:03] blasten commented on #36067
This is fixed in the `channel` master.

[2019-08-02 23:03] #36067 closed

[2019-08-02 23:10] blasten commented on #33050
The Flutter tool will now print a message recommending to use a simulator running a lower API level while Q stabilizes.

[2019-08-02 23:12] chinmaygarde commented on #37494
The fix has landed.

[2019-08-02 23:12] #37494 closed

[2019-08-02 23:13] blasten commented on #31971
Feel free to close this issue if it's related to the emulator running Android Q.

[2019-08-02 23:15] blasten commented on #32696
Closing this issue since it's a duplicate of https://github.com/flutter/flutter/issues/33050

[2019-08-02 23:15] #32696 closed

[2019-08-02 23:38] Hixie commented on #35404
@Piinks was working on this recently.

[2019-08-02 23:45] jmagman opened #37525 "Deflake and re-enable module_test_ios"
module_test_ios was turned off with https://github.com/flutter/flutter/pull/37442.  Turn it back on once it no longer causes failures.  See that PR for error details.

[2019-08-02 23:50] franciscojma86 commented on #36853
I just ran basic_material_app__win_compile locally several times, with both https://github.com/flutter/flutter/commit/ef146f63bb4bad33b4ff3d0504671ab173f0c1f2 and https://github.com/flutter/flutter/commit/c469b1fea92dfae21c0d641106220cc4823a16b7 against a green CL, and https://github.com/flutter/flutter/commit/ef146f63bb4bad33b4ff3d0504671ab173f0c1f2 was consistently slower than the others. @zande

[2019-08-03 00:02] franciscojma86 commented on #36853
Actually, I just ran the tests against https://github.com/flutter/flutter/commit/24f483cf25aab43a389a64f15bf9cc1aee130f47 which is the commit previous to https://github.com/flutter/flutter/commit/ef146f63bb4bad33b4ff3d0504671ab173f0c1f2, and turned out to be much slower, even though it's green on the dashboard. @dkwingsmt can you please take a look?

[2019-08-03 00:04] franciscojma86 commented on #37175
Regression re-introduced by https://github.com/flutter/flutter/commit/99fe0d078b7698e8f6f0f51344fe6c67c29ae6c9.
@jason-simmons

[2019-08-03 00:06] franciscojma86 commented on #37175
after_config_change_build_debug_millis is also affected.

[2019-08-03 00:08] AppleEducate commented on #33707
For me onTap must not be null for onHover to be called:

[code]

[2019-08-03 00:15] franciscojma86 commented on #37433
Closing since it has stabilized.,

[2019-08-03 00:15] #37433 closed

[2019-08-03 00:19] a-siva commented on #16103
Have you tried this "rm -rf flutter/bin/cache"

[2019-08-03 00:19] dkwingsmt commented on #36853
@franciscojma86 I'd be glad to help, although I don't really know where to start when my commit is the _previous_ commit of a performance increase.

[2019-08-03 00:25] blasten commented on #36853
If you try to sync to 30eec11, is it still slow? Are you testing on Windows?

[2019-08-03 00:29] adrian999999 commented on #36034
Good news I have checked the dev branch , seems it will be fixed there. But
it’s not in current stable channel

On Sat, 3 Aug 2019 at 1:01 am, Joel Hernández <notifications@github.com>
wrote:

--
Adrian Wang
Developer
Student Services Australia Pty Limited
56 Meagher Street
Chippendale NSW 2008
+612 9698 4999 <+61%202%209698%204999>

[2019-08-03 00:32] franciscojma86 commented on #36853
Yeah I'm testing on windows. I'll test with that commit later today.

@dkwingsmt it might be possible that the test recorded on your commit was a lucky green, but actually introduced the regression. Maybe run some local tests to verify?

[2019-08-03 00:51] blasten commented on #37223
The issue about spaces in the Android SDK path is being tracked here: https://github.com/flutter/flutter/issues/19359

[2019-08-03 01:05] jmagman commented on #37482
This should be fixed, see https://github.com/flutter/flutter/issues/37047.  Let us know if you are still seeing symbols tool failures.

[2019-08-03 01:05] #37482 closed

[2019-08-03 01:10] jmagman commented on #37496
Looks like git isn't found in the developer tools, and you need to fix up your Xcode installation.  If you are not getting an error on `git log` in any git repo (not just Flutter) and you're still hitting this issue, please re-open.

[2019-08-03 01:10] #37496 closed

[2019-08-03 01:17] jmagman commented on #37392
Have you run `flutter packages get` without getting an error?  If that worked, try restarting your IDE.

[2019-08-03 01:20] KobeBeyond opened #37527 "Either the assertion indicates an error in the framework itself, or we should provide substantially more information in this error message to help you determine and fix the underlying cause"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-08-03 01:24] franciscojma86 commented on #32932
Closing since metrics are green and have been for a while

[2019-08-03 01:24] #32932 closed

[2019-08-03 01:34] blasten commented on #19359
I think the temporary fix might be to set `runInShell: true` when we call `processManager.runSync`.

According to this implementation: https://github.com/dart-lang/sdk/blob/master/runtime/bin/process_patch.dart#L249-L250 and https://github.com/dart-lang/sdk/blob/master/runtime/bin/process_patch.dart#L382-L383, all arguments that have a space will be surrender by double quotes `"`.  cc @zanderso

I

[2019-08-03 02:11] EliasDeuss commented on #37285
@zoechi Any ideas? I have rebuilding the project and I am getting the same errors

[2019-08-03 02:11] vici-5423 commented on #37485
I had the same problem

[2019-08-03 02:30] p30arena commented on #37362
The point here is, I call setState before launching the Crop-Activity, I can be sure that's the reason for the blank screen and the device freezing on the screen lock.

[2019-08-03 02:58] leonetosoft commented on #24565
Really this plugin has problems when you want to reuse the same component and just change the datasource ...

You can follow the beginning of this topic where I explain my solution to this question.

Repository: https://github.com/leonetosoft/flutter_video_player

Do not use:
_controller.dispose();
_controller.initialize();

The app will crash very soon if you do this.

[2019-08-03 03:02] rirjkl19 commented on #23777
I believe that is the case. I once did read about china blocking networks (I forgot the term)

[2019-08-03 03:03] cvolzke4 opened #37529 "SliverAppBar not honoring safe area when not the first"
I'm trying to add a floating SliverAppHeader, rendered underneath another Sliver, but am having issues with the cutout above when sliding in the SliverAppHeader.

The stack of slivers is configured as follows:
[code]
The intended (working) behavior can be seen here:
https://drive.google.com/file/d/16lY_ZOGmyS37ncv1XKWOVd6BGXdSJk3T

The issue is that SliverAppBar either:
a) With primary=false, it d

[2019-08-03 03:03] aarocorp commented on #32203
@SDRuiz sure thing.
My Skype account : aaro188
Will we talk about your geofence question there if you don't mind 👍

[2019-08-03 03:08] #35304 closed

[2019-08-03 03:32] OPTJoker commented on #37373
Yeah, it works!   thk U : )

[2019-08-03 03:34] maxnemoy commented on #37278
v1.8.4-pre.85 fix problem

[2019-08-03 03:34] #37278 closed

[2019-08-03 03:34] OPTJoker commented on #37373
@jmagman Yeah, it works! thk U !

[2019-08-03 03:37] #33853 closed

[2019-08-03 03:53] haytham-c01 opened #37532 "Firestore doesn't throw exception on wrong assignment of list field"
UPDATE: problem solve, it seems like the future builder is catching any exception inside the future method.

As title says wrong usage of Firestore cause the calling function to get terminated just like when exception is thrown but there is no error, exception or message any where which makes it difficult to debug.

code causing exception: `notes: data['notes']`
after fix: `notes: List.from(data['

[2019-08-03 04:03] workerbee22 opened #37533 "[image_picker] Package on pub.dev is v0.6.1 but repo is v0.6.1+1"
pub.dev is behind the repo release of the package. See the package `pubspec.yaml` here:

https://github.com/flutter/plugins/blob/master/packages/image_picker/pubspec.yaml

[2019-08-03 04:04] workerbee22 opened #37534 "[android_alarm_manager] Package on pub.dev is v0.4.1+8 but repo is v0.4.2"
pub.dev is behind the repo release of the package. See the package `pubspec.yaml` here:

https://github.com/flutter/plugins/blob/master/packages/android_alarm_manager/pubspec.yaml

[2019-08-03 04:04] workerbee22 opened #37535 "[sensors] Package on pub.dev is v0.4.0+1 but repo is v0.4.0+2"
pub.dev is behind the repo release of the package. See the package `pubspec.yaml` here:

https://github.com/flutter/plugins/blob/master/packages/sensors/pubspec.yaml

Also sensors `readme.md` has no link to pub.dev. See here:

https://github.com/flutter/plugins/blob/master/packages/sensors/README.md

[2019-08-03 04:04] workerbee22 opened #37536 "[webview_flutter] Package on pub.dev is v0.3.10+4 but repo is v0.3.10+5"
pub.dev is behind the repo release of the package. See the package `pubspec.yaml` here:

https://github.com/flutter/plugins/blob/master/packages/webview_flutter/pubspec.yaml

[2019-08-03 04:04] workerbee22 opened #37537 "[firebase_auth] Package on pub.dev is v0.14.0 but repo is v0.14.0+1"
pub.dev is behind the repo release of the package. See the package `pubspec.yaml` here:

https://github.com/flutter/plugins/tree/master/packages/firebase_auth

[2019-08-03 04:05] workerbee22 opened #37538 "[firebase_core] Package on pub.dev is v0.4.0+1 but repo is v0.4.0+8"
pub.dev is behind the repo release of the package. See the package `pubspec.yaml` here:

https://github.com/flutter/plugins/blob/master/packages/firebase_core/pubspec.yaml

[2019-08-03 04:05] workerbee22 opened #37539 "[firebase_in_app_messaging] Package on pub.dev is v0.0.1 but repo is v0.0.1+2"
pub.dev is behind the repo release of the package. See the package `pubspec.yaml` here:

https://github.com/flutter/plugins/blob/master/packages/firebase_in_app_messaging/pubspec.yaml

`Readme.md `also missing pub.dev link here:

https://github.com/flutter/plugins/blob/master/packages/firebase_in_app_messaging/README.md

[2019-08-03 04:05] workerbee22 opened #37540 "[firebase_messaging] Package on pub.dev is v5.1.2 but repo is v5.1.3"
pub.dev is behind the repo release of the package. See the package `pubspec.yaml` here:

https://github.com/flutter/plugins/blob/master/packages/firebase_messaging/pubspec.yaml

[2019-08-03 04:11] adarshgurjar commented on #35826
Looks good, hope we get to see it on flutter soon, thanks !

[2019-08-03 05:06] fuyoo commented on #36742
hell

Buddy. I had the same problem. The SDK version is too high and the Android version of the simulator is too low. At first, my Android simulator version was Android 6.0, but the SDK version was Android Q. Later, I switched the Android version of the simulator to the latest version and compiled it.

[2019-08-03 05:06] fuyoo commented on #36742
Buddy. I had the same problem. The SDK version is too high and the Android version of the simulator is too low. At first, my Android simulator version was Android 6.0, but the SDK version was Android Q. Later, I switched the Android version of the simulator to the latest version and compiled it.

[2019-08-03 05:07] #37527 closed

[2019-08-03 05:23] cachapa opened #37541 "Crash on BackdropFilter inside Scaffold as FAB on Android Q beta 5"
When trying to have a custom widget as a floating action button I started to get weird behaviour on my test device: **Pixel 2, Android Q beta 5**.

Sometimes the app crashes immediately, other times the UI becomes unresponsive. Works fine on the Android Q emulator.

Tested on both `stable` and `master` channels.

## Steps to Reproduce

Simply run the code below:

[code]

The normal run log just sh

[2019-08-03 05:31] paul-hammant commented on #7474
There's no solution - team's still considering it I think. Pulling FlutterDriver reliably into build (CI) toolchains is hard for teams, so lots have not done it at all.

[2019-08-03 05:40] arieosdmin commented on #37414
It worked.
Have done what you said and it fixed the problem. After that done it to my real project and it fixed the problem.

Thank you.

[2019-08-03 05:40] #37414 closed

[2019-08-03 05:51] Lucas0Braz commented on #37486
It depends of your application, you can use that feature for something, like for example close or dispose an StateFulWidget, im not 100% sure, but that is it

[2019-08-03 05:52] Sajan-poudel commented on #27133
i am getting this error ............

<i>A value of type 'AuthResult' can't be assigned to a variable of type 'FirebaseUser'.
Try changing the type of the variable, or casting the right-hand type to 'FirebaseUser'.</i>

[2019-08-03 05:52] masashi-sutou opened #37542 "[fireabse_auth] call reauthenticateWithCredential by EmailAuthProvider using current email and password (NoSuchMethodError: The method '[]' was called on null)."
## description

- I use firebase_auth: 0.14.0.
- I would like to update the user's email, but if the user's last sign-in time does not meet the security threshold, I need to use the reauthentication method to resolve.
- I tried to call `reauthenticateWithCredential` on `EmailAuthProvider` with my current email address and password before `firebaseUser.updateEmail`, but the data returned from `reau

[2019-08-03 06:05] Lucas0Braz commented on #37476
What do you have in the class SharedPreferences? It is a model ?

[2019-08-03 06:29] ionut442 commented on #24674
@badboy-tian I have the same problem. Can you please tell me when can I find these settings?

[2019-08-03 06:50] georgehamiltone commented on #32191
@Laxman007 how to run flutter build apk --release --target-platform=android-arm  ??

[2019-08-03 06:51] nitneuq33 commented on #24565
Thank you ! I have add your repo in the pubspec and try to add nextvideo()
but I have some trouble to find the good write, for video  I have"
undifined name"  and  for : I have " expected to find )".

_controller.nextVideo(video.file:${extDir.path}/Movies/$daysfromnow_modify.mp4);

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Gara

[2019-08-03 07:19] jinfagang opened #37545 "[url_launcher] build error on latest flutter"
[code]

[code]

[2019-08-03 07:25] FangWW commented on #29092
Avoid multiple calls to a "result".

[2019-08-03 07:58] namnh06 commented on #27719
I still got this error when run on my Samsung Note 9 or on simulator
`W/DynamiteModule(24562): Local module descriptor class for providerinstaller not found.
I/DynamiteModule(24562): Considering local module providerinstaller:0 and remote module providerinstaller:0
W/ProviderInstaller(24562): Failed to load providerinstaller module: No acceptable module found. Local version is 0 and remote version

[2019-08-03 08:03] ajinasokan commented on #36822
@tvolkert @timsneath Is it possible to expedite fix for this issue? Around 30% of our users are on these devices and we already reached 2,500 crashes.

[2019-08-03 08:14] CarrieUp commented on #31962
Same issue for Flutter 1.7.8+hotfix.4
even I upgrade flutter_image to ^2.0.0 and flutter_image_compress to ^0.4.0

Compiler message:
file:///T:/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_image_compress-0.4.0/lib/flutter_image_compress.dart:188:16: Error: The argument type 'String' can't be assigned to the parameter type 'DiagnosticsNode'.
 - 'DiagnosticsNode' is from 'package:flutter/src/f

[2019-08-03 08:18] #37310 closed

[2019-08-03 08:18] #37292 closed

[2019-08-03 08:31] dinner opened #37546 "dio request error Unhandled Exception: DioError [DioErrorType.DEFAULT]: SocketException: Connection failed (OS Error: No route to host, errno = 65), address = 192.168.10.241, port = 80"
Hello everyone,i have a problem of my app.
When I request the server use dio,I will get this error:
`Unhandled Exception: DioError [DioErrorType.DEFAULT]: SocketException: Connection failed (OS Error: No route to host, errno = 65), address = 192.168.10.241, port = 80`
And on some phone there is no error but on some phone it will show these errors.
I cannot figure it out.
Please answer for that if

[2019-08-03 08:35] wind-hx opened #37547 "Bad file descriptor, errno = 9"
## Steps to Reproduce

using udp module in iphonex error
simulator normal

[VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception: OS Error: Bad file descriptor, errno = 9
#0      _NativeSocket.getOption (dart:io-patch/socket_patch.dart:1106:28)
#1      _RawDatagramSocket.broadcastEnabled (dart:io-patch/socket_patch.dart:1949:40)
#2      UDP.send.<anonymous closure> (package:udp/src/udp_base.dart:9

[2019-08-03 08:41] #37547 closed

[2019-08-03 09:11] badboy-tian commented on #24674
@ionut442  just close your http proxy

[2019-08-03 09:57] Caizoo commented on #19027
Use a TextFormField and then you can set the onEditingComplete to then handle submission

[2019-08-03 10:25] aniket08485786 commented on #18342
Any updates?
I am facing the same problem here.
Android Flavors are working properly but for iOS, it doesn't seem to work...
I cant give different app name to each scheme/flavor in XCode

Also Please add proper documentation on flutter [Website](
https://flutter.dev/docs/deployment/flavors)... just dont link other people's blog in it..
it's rather confusing for people like me who are coming from t

[2019-08-03 10:41] mayurdhurpate commented on #18342
Hi @aniket08485786, I know that getting stuck with Flutter flavors might seem like a bottleneck, and lack of proper resources might add to the frustration, but I believe the team is super loaded with flooded traffic of devs like us finding bugs everywhere from small plugins to core foundation.

With 'always helping' @zoechi and Flutter co-Founder & Lead @eseidel already monitoring this one with 10

[2019-08-03 10:49] lifenautjoe commented on #37487
An issue of the onesignal library. Didn't notice until someone else pointed out the logs, my bad, sorry.

[2019-08-03 10:49] #37487 closed

[2019-08-03 10:52] basketball-ico opened #37548 "Text selection handles display outside when toggle obscureText value in TextField"
You can reproduce this bug when run  in the galley app app.https://github.com/flutter/flutter/blob/3928f30ce996bb9fc832876f8b15ee08f860c3ae/examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart#L74

1. Type text with "big" width like `wwwwwwww`
2. Press the eye icon multiple times to toggle `obscureText` value

3. the selection handle is wrong

This is a flutter bug?
Can I make some

[2019-08-03 10:52] ja2375 commented on #37546
That error indicates your device cannot reach the desired server with the IP 192.168.10.241, most likely because you are not connected to the same network or maybe there are network issues.

Please double check that your device is on the same network.

As you are trying to connect to Port 80 I assume it is a web server. You could also verify that your phone can load the website by entering the ser

[2019-08-03 10:59] napster93 commented on #32573
Hi,

This issue happened to me as well on VSCode version 1.36.1. Fortunately, I found a different fix to it.
I was only experiencing this issue when I run the app using 'flutter run' command. But whenever I run the app using debug menu, Hot reload works fine every time I save the file.

Hope this helps...!

[2019-08-03 11:08] ja2375 commented on #37511
I personally think that message should say INFO instead of warning. Because warning sometimes scares users. And that message is just there to inform, not to scare anyone... :P

Are you opening http://127.0.0.1:8080 or whatever address the webdev serve command tells you to open?
Can you post the entire command output please?
Did this commando work for you anytime? Or is this the first time you are

[2019-08-03 11:17] jkmpariab opened #37549 "lib/data/repository.dart: Error: Can't have other initializers together with 'this'."
[code]
---
flutter doctor -v
[code]

[2019-08-03 11:22] The-Redhat commented on #35484
Here an example:
[code]

[2019-08-03 11:53] thedumbtechguy commented on #22075
@cdsaenz did you fork the dropdown for the solution above?

[2019-08-03 12:18] zhancheng commented on #36688
same issue.

[2019-08-03 12:21] thedumbtechguy commented on #22075
I forked the Dropdown button and removed the `didChangeMetrics` code. I noticed some awkward behavior when the keyboard disappears.

Expected behavior
![WhatsApp Image 2019-08-03 at 12 17 08 (2)](https://user-images.githubusercontent.com/923493/62411846-f50fbc00-b5e8-11e9-9e10-2bc830b2e0aa.jpeg)
![WhatsApp Image 2019-08-03 at 12 17 08 (3)](https://user-images.githubusercontent.com/923493/62411847-

[2019-08-03 13:16] bpillon commented on #36822
Same for me. Have crash on redmi 4 since 1.2, 1.0 is working so I have to keep using 1.0.

[2019-08-03 13:30] miguelpruivo opened #37550 "Material text interactive selection uses buttonTheme"
The Material interactive selection shouldn't use the `buttonTheme` or, at least, the theme should provide a flag to either use it in the interactive selection or not.

As it is, it's impossible to either use a custom `buttonTheme` (such setting `minWidth`, `height` and so on) without directly affecting the interactive selection that should stick with the native look & feel.

Plus, a good alternati

[2019-08-03 14:04] Evsio0n commented on #24641
Same issue too! It's ont until  I uploading to Appstore then user sayas it has a demon white scree :(

[2019-08-03 14:56] pktintali opened #37551 "my app crashing at starting when I use latest firebase_admob plugin but working fine with older plugin"

[2019-08-03 14:56] tvolkert commented on #31962
@CarrieUp have you tried updating your dependency on `flutter_image_compress`?  It looks like it's up to version `0.6.3`, and you're using  `0.4.0`.

[2019-08-03 15:02] tvolkert commented on #24641
FYI @jmagman @xster

[2019-08-03 15:05] gmaggio commented on #20819
Here's the workaround that I made:

[code]

But it may be a bit of a hack since `isScrollingNotifier.hasListeners` is _**protected**_ and gave me `invalid_use_of_protected_member` error. Not really sure what that means, though, but it worked.

[2019-08-03 15:05] pktintali commented on #37551
![flutter_doctor](https://user-images.githubusercontent.com/47480465/62413590-3a0a1180-b62e-11e9-8793-4e73cceac2d2.JPG)

[2019-08-03 15:10] tvolkert commented on #35484
@The-Redhat you need to use `runAsync()` whenever you perform real async work within a Flutter test.

https://api.flutter.dev/flutter/flutter_test/WidgetTester/runAsync.html

[code]

[2019-08-03 15:14] The-Redhat commented on #35484
Ok thanks. I test this function in a unit test. Is runAsync there also available?

[2019-08-03 15:15] peekpt commented on #34876
Regarding some other logs, is there any plugin/way to filter console log messages on VScode?

[2019-08-03 15:16] SoftWyer commented on #29626
You can work around this by using an Avatar and customising this to represent the tick mark, e.g.

[code]

The function ```contrastColor``` just looks at the supplied colour and chooses white or black depending upon its luminescence.

[2019-08-03 15:20] lesliearkorful commented on #33827
After casting the function to ImageStreamListener, is anyone having app crashes when continuously using gestures on the image for some time?

[2019-08-03 15:27] tvolkert commented on #35484
If I run this in a unit test, it works for me out of the box:

[code]

[2019-08-03 15:30] The-Redhat commented on #35484
Yes sure I said it works. My problem is that the test coverage ignores _parseJson function and marks it as not tested.

[2019-08-03 15:45] gmaggio commented on #20819
Alternatively, you can use the [**NotificationListener**](https://api.flutter.dev/flutter/widgets/NotificationListener-class.html) widget to get the `dragDetails` during the `ScrollUpdateNotification`.

[2019-08-03 15:45] #37549 closed

[2019-08-03 15:54] sknightq commented on #16246
After I running `flutter run`, I got error from  install BoringSSL-GRPC, which will take a long time to clone, but always failed. Does anyone fix it?
![image](https://user-images.githubusercontent.com/8033144/62414084-eb6a7080-b649-11e9-9c6b-9fa06d9ff435.png)

[2019-08-03 15:56] michaelodafe opened #37552 "Why are most Flutter tutorials on Youtube UI design and not the real project?"
Here are a few tutorials
https://www.youtube.com/watch?v=2E-n0WWooGs
https://www.youtube.com/watch?v=80vWzQB0Eto
https://www.youtube.com/watch?v=OLmE2Pu-coU
https://www.youtube.com/watch?v=w45GyPYTEU0
https://www.youtube.com/watch?v=wWH66F9y63U&t=719s
https://www.youtube.com/watch?v=lxOekPQPyy0

[2019-08-03 16:42] tvolkert commented on #35484
lol, sorry, I lost track of the original reported bug 😆

[2019-08-03 16:51] moseskarunia commented on #37552
This has nothing to do with this repo. But since you might be a beginner, so i'll try to help you:

1. Setting up a real project is time consuming and beginners won't easily understand the complexity. Not beginner-friendly.
2. If you really want a full project course on flutter, check PAID online courses. On udemy for example, or maybe there's one on udacity as well.
3. Youtube content creators ha

[2019-08-03 17:21] The-Redhat opened #37553 "AboutListTile doesn't respect the material specs"
`AboutListTile` is often used in `Drawer`s. According to the material [specs](https://material.io/design/components/navigation-drawer.html#specs) a ListTile in a drawer should have the height of 48. `ListTile` lets you change the height to 48 by setting `dense` to true. `AboutListTile` hasn't got the paramter `dense` => you cannot set the height to 48.

[2019-08-03 17:28] figengungor commented on #29806
Same thing is happening for weight field, too.

[2019-08-03 17:39] ameennio opened #37554 "flutter"
can anyone illustrate the problem.

Oops; flutter has exited unexpectedly.
Sending crash report to Google.
Crash report sent (report ID: 9455c3203b74c83c)

Crash report written to C:\Users\A\flutter_11.log;

[2019-08-03 17:44] johnsonmh opened #37555 "[Material] RawChip.selected should be non-nullable."
Most boolean fields on chips are non-nullable, and default to `false`.  The behavior for `selected` should match the behavior for `RawChip.isEnabled`. This will make the API more consistent.

This will also match the higher level chips, for example, `ChoiceChip.selected` is non-nullable.

[2019-08-03 18:02] MiguelSOliveira commented on #37542
Getting the same error here.. Workaround also works for me..

[2019-08-03 18:07] Deepavsp opened #37557 "Shared_prefereneces giving gradle error"
I'm using shared_preferences ^0.5.3+4 in my flutter project. When trying to run the app, I'm getting the following gradle error.

[code]

Output of  `flutter run --verbose`

[code]

     output of flutter analyze

[code]

 Output of  `flutter doctor -v` here

[code]

[2019-08-03 18:16] p30arena commented on #18161
@eseidel
PR https://github.com/flutter/flutter/issues/22527
Is there any hope that this gets merged in the near future?

[2019-08-03 18:36] michaelodafe commented on #37552
Thank you very much, I'd check Udemy or Udacity

[2019-08-03 18:54] luigi-rosso commented on #32689
History of Everything and Developer Quest have been updated now that the signature changes are in stable. This issue can likely be closed.

[2019-08-03 19:15] jckpn opened #37558 "Flutter can't find devices but ADB can"
I'm having trouble getting Flutter to work properly on my Pixelbook (running ChromeOS). Several months ago this was working fine, and I was able to connect to the Pixelbook's own Android container which made development super convenient, but after resetting my PB for other reasons and reinstalling Flutter, I can't get it to recognise the Android container. I've also tried connecting a physical dev

[2019-08-03 19:16] jonahwilliams commented on #37554
Hi @ameennio , you need to include the information from `C:\Users\A\flutter_11.log` otherwise we have no idea what the problem is

[2019-08-03 19:18] SotoArmando commented on #29233
what if i want to make a collapsible AnimatedContainer i need to know if there is a workaround using flutter and solving the issue.

[2019-08-03 19:21] mehmetf commented on #26154
@liyuqian quick question about this. Are these metrics available on release mode as well? I would image these are independent of the Dart VM and involve mostly Skia so I hope the answer is yes?

[2019-08-03 19:24] liyuqian commented on #26154
Yes

On Sat, Aug 3, 2019, 12:23 PM Mehmet Fidanboylu <notifications@github.com>
wrote:

[2019-08-03 19:41] liepaja commented on #14965
Delete Cache folder under flutter/bin

[2019-08-03 20:00] dbacinski commented on #33011
We have sent quite some time to find workaround for this issue without luck. Problem lays very deep in a framework. We are even considering releasing iOS native app if it won't get fixed soon :/

[2019-08-03 20:05] jamesdixon commented on #14203
@Hixie @xster while using `WillPopScope` does prevent swiping back on iOS, I've noticed that the `onWillPop` callback is never actually called when performing a swipe. Conversely, if you tap on the back button in the app bar, `onWillPop` is triggered. Is this intended behavior?

[2019-08-03 20:17] kechankrisna commented on #32481
I just got the same issue now,

[2019-08-03 20:50] iliasbhal opened #37559 "AnimatedContainer throws Exception when animating height with easeOutBack curve."
## Steps to Reproduce

1. Create AnimatedContainer with height `25` and curve set to `Curves.easeOutBack`
2. change State to Animate it to `0`
3. the Exception/Error is thrown.

The `easeOutBack` curves makes the height to go negative.
Shouldn't height be "clamped" to never go below 0? The same way Opacity handles it?

## Source

[code]

## Logs
[code]

## flutter analyze
[code]

## flutter doctor

[2019-08-03 21:05] jonjon1123 commented on #32759
Ok, I finally got my mac back up and running. I followed the steps provided by @cyanglaz (thanks!!) and it seems the `restoreTransactions` iOS method is being called when I call `queryPastPurchases` in the Flutter code, but the breakpoint in the `paymentQueue` method on iOS isn't being hit (even though `restoreTransactions` is). The only time I can get the breakpoint in the `paymentQueue` method t

[2019-08-03 21:14] #37453 closed

[2019-08-03 21:36] luigi-rosso opened #37560 "GPU performance degrades when rendering vectors each frame"
This issue was brought to my attention via a Flare bug report here:
https://github.com/2d-inc/Flare-Flutter/issues/133

I've created an isolated test (without Flare) that seems to reproduce the problem. Here's a video:
https://drive.google.com/file/d/1R3y7UQqwL8hDQpMDgQ7gm5FXjoh5nJAf/view?usp=sharing

It's a custom widget that draws some paths each frame.

Code is here:
https://github.com/luigi-ro

[2019-08-03 21:40] stx commented on #37560
Is it possible this is related to the refresh rate issues with iPhone X here? https://github.com/flutter/flutter/pull/36616

[2019-08-04 00:04] jonahwilliams commented on #32920
This was completed with https://github.com/flutter/flutter/pull/32816

[2019-08-04 00:04] #32920 closed

[2019-08-04 00:24] jonahwilliams commented on #32921
Remaining: Linux and Windows

[2019-08-04 00:49] luwenhegithub commented on #35734
希望快点解决啊，在没解决的时候有什么其他方式实现吗？

[2019-08-04 01:16] jinfagang commented on #37545
Only when `flutter build apk`

[2019-08-04 01:36] ChristBKK commented on #17417
got this problem now also. Is there any fix?

[2019-08-04 01:54] xzhan96 commented on #25112
thanks, it works for me, I used cntlm in Ubuntu, and in Corporation internal network.

[2019-08-04 02:27] georgehamiltone commented on #32191
@realvorl how to run flutter build apk --release --target-platform=android-arm ?? it dosen't work for me

[2019-08-04 02:31] cyanglaz commented on #32759
@jonjon1123

In your screenshot, on the left bottom of the window, if you click the arrow to expand the SKPaymentTransaction object, you should be able to see all the fields in there

This is weird.
When the restoreTransaction gets called, did it go to the applicationName route or non-applicationName route.
Also, maybe you can try to put breakpoints to all the observing methods to see if other met

[2019-08-04 04:48] karnadii commented on #30420
My app already in production, I use crashlytic to track error. 60% of the crash coming from Samsung with 70% using android 6.

[code]

some of my user say that the crash happen when change orientation to landscape or vice versa. and some doen't even need to rotate their device to crash it. (I have a full page with a webview)

in the last 90 days This issue has 64,620 crashes affecting 3,554 users.

[2019-08-04 05:47] Kukadiya-Anil-K commented on #20747
simple solution  just put sigal line in your build.gradle file **"multiDexEnabled true"**

[2019-08-04 06:38] whassanin opened #37564 "Error with expanded"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-08-04 06:50] SwissCheese5 commented on #13339
`resizeToAvoidBottomPadding` is depracated in the beta channel.
Same and flawless results with just `resizeToAvoidBottomInset: false`

[2019-08-04 06:59] angel1st commented on #30430
Yet another issue, nobody from the Flutter team cares to answer. I also posted in [Stackoverflow](https://stackoverflow.com/questions/55488355/flutter-firebase-admob-integration-how-to-use-it-along-with-app-flavors) with no luck so far.

[2019-08-04 07:22] TonAbs commented on #30688
Perhaps this package can help!
https://pub.dev/packages/extended_text_field#-readme-tab-

[2019-08-04 07:34] simonh1000 opened #37565 "New app - flutter build appbundle fails"
I have recently built a simple app with these deps
[code]
I'm trying to follow the build instructions, and for an initial  aan build ok.

but it was huge so I added the proguard instructions and ran into a stream of errors. I'm not sure where to start with these, but would emphasise that I downloaded and installed everything within the last 2 weeks. My dev environment works and flutter doctor repo

[2019-08-04 07:34] lucasavila00 opened #37566 "Native Error: Couldn't load flutter from loader dalvik.system.PathClassLoader / couldn't find "libflutter.so""
Please see this comment if you see this: https://github.com/flutter/flutter/issues/37566#issuecomment-640879500

----

I had received a report from crashlytics, running on Nexus 5X, Android version 6.0.1:
[code]

Then I ran the app on test lab on the same version and it failed on a similar device, but with the same error, only on virtual devices, thoguh.

![Captura de Tela 2019-08-04 às 04 24 42]

[2019-08-04 07:38] amreniouinnovent commented on #27678
Google map plugin now is supporting polylines.
The missing features are just offline support and a widget marker

[2019-08-04 07:54] weeChanc opened #37567 "runing at profile mode failed"
[code]

[2019-08-04 07:58] eldraco19 commented on #37538
It's 0.4.0+8 on https://pub.dev/packages/firebase_core

[2019-08-04 08:47] xiejibiao commented on #13325
I also have this problem, but I don't know how to solve it.

[2019-08-04 08:56] feinstein opened #37568 "PageController.nextPage should have a default duration and curve"
PageController.nextPage and PageController.previousPage should have a default duration and curve for animating the programmatic change of page. This makes the experience more standard and faster to program.

[2019-08-04 09:08] MOOUDE commented on #37046
hey, I have the same issue here

[2019-08-04 09:14] Sp4Rx commented on #30688
[extended_text_field  ](https://pub.dev/packages/extended_text_field)Looks promising , I will implement and share my feedback.

[2019-08-04 09:17] creativecreatorormaybenot opened #37569 "Cloud Firestore An error occurred while executing doInBackground() (AsyncTask$3.done)"
[code]

I am getting this error from quite a few clients. #27840 and [this source](https://stackoverflow.com/q/50280256/6509751) suggest that this is an issue related to having different instances of Cloud Firestore with different configurations.
However, this should not be the case for me as I use `Firestore.instance` everywhere.

I figured that I might try to store a **single Firestore object**

[2019-08-04 09:23] feinstein opened #37570 "PageView should have option to respond to Back Button on Android"
PageView should have an option to go back to the previous page if the Back Button was pressed on Android.

[2019-08-04 09:38] zhhal commented on #35867
I have the same problem on huawei and MI devices only when I use Baidu input method, other input method works well.

[2019-08-04 09:40] lucasavila00 commented on #37570
Try something like this

[code]

[2019-08-04 09:45] rtessler commented on #28449
I had the same problem on a pc with android emulator. restarting visual studio seem to fix it.

[2019-08-04 09:55] agnoam opened #37571 "com.android.builder.dexing.DexArchiveBuilderException: Failed to process C:\acc\.gradle\caches\transforms-1\files-1.1\jetified-play-services-appinvite-16.0.4.aar\72036078637cf3ebcfd0a0238c020fcf\jars\classes.jar"
My project was working until I have migrated to AndroidX.
## Logs

**flutter run --verbose**
    [        ] > Transform legacy-support-core-utils.aar (androidx.legacy:legacy-support-core-utils:1.0.0) with AarTransform
[+6128 ms] D8: Interface `com.google.android.gms.internal.measurement.zzq(classpath class)` used as super class of `com.google.android.gms.internal.measurement.zzdw`.[ +100 ms] D8: I

[2019-08-04 09:57] feinstein commented on #37570
Thanks, I know it's possible to implement, I am just saying this would be more convenient if `PageView` already has it inside it.

[2019-08-04 09:57] abdulrahmanmadeni opened #37572 "[web]: run flutter web nginx"
Describe your issue and include the command you're running, flutter_web version, browser version

[2019-08-04 10:08] HuoXiaoYe opened #37573 "Issue from website page Flutter中的动画"
From URL: https://www.flutterchina.club/animations/index.md 例如，当你掷球时，它在何处落地，取决于抛球速度有多快、球有多重、距离地面有多远。 类似地，将连接在弹簧上的球落下（并弹起）与连接到绳子上的球放下的方式也是不同。

小球落地位置与其质量无关，与当地的重力加速度有关。

[2019-08-04 10:10] #37573 closed

[2019-08-04 10:12] MOOUDE commented on #37046
I'm not sure how true is this fix but it did work for me
a temporary fix for that issue is to edit :
packages/flutter/lib/src/rendering/box.dart file and make those changes :
`Size get size {
    assert(hasSize, 'RenderBox was not laid out: ${toString()}');
    assert(() {
      if (_size is _DebugSize) {
        final _DebugSize _size = this._size;
        assert(_size._owner == this);
        if

[2019-08-04 10:25] lucasavila00 commented on #37566
I extracted the aab and saw that MapBox was creating the x68 folder. Adding support for only armebi-v7a and v8a seemed to fix the issue and went fine in the app store.

[2019-08-04 10:32] rtessler opened #37574 "Type of sub maps is _InternalLinkedHashMap<dynamic, dynamic>"
When running a query using cloud firestore. The dart command on `json.runtimeType.toString()` reports the type of sub maps is `_InternalLinkedHashMap<dynamic, dynamic>` where as the type of the top level json is `_InternalLinkedHashMap<String, dynamic>`. I have to use  `Map<String, dynamic>.from(json[prop]);` to convert sub maps to `Map<String, dynamic>`. Also the type of array properties is `List

[2019-08-04 10:34] XSiyabonga commented on #22072
@kroikie Can you find out for us when your commit will be merged into master. This is a critical feature for our app. This will allow custom notifications using the data payload on terminated.

[2019-08-04 10:43] aleksamagicka commented on #29512
Maybe [Jaguar](https://github.com/Jaguar-dart/jaguar_orm) can help?

[2019-08-04 10:58] tonyshkurenko commented on #22860
Would be nice, also waiting for that.

[2019-08-04 11:39] Kevin088 opened #37575 "HttpException: HttpException: , uri = https://storage.googleapis.com/flutter_infra/flutter/c8f4f5d5ccfc7c0e031cb688adae7f75e076f363/android-arm-release/windows-x64.zip"
## command
[code]
## exception
[code]
[code]

## flutter doctor

[code]

[2019-08-04 11:41] The-Redhat commented on #37565
Do you have Proguard enabled ? If yes, try disabling it.

[2019-08-04 11:41] ADLsourceCode opened #37576 "Can not select text in the flutter webview"
Hello,

Please find below my code :

The Webview renders well but I can not select the text on longpress

[code]

[2019-08-04 11:49] ashuhitman opened #37577 "ProcessException: Process "D:\Workshop\FlutterExercise\app_clone\android\gradlew.bat" exited abnormally:"
## Steps to Reproduce

1. ...After creating project on 'flutter run' I 'm getting error message 'Oops; flutter has exited unexpectedly.' I tried every possible sotution suggested on Github and Stackoverflow but none of them worked for me.
2. https://gist.github.com/ashuhitman/bd51dccd76feedd00327ab44090523ee.js

## Logs

[code]
flutter run --verbose

## exception

ProcessException: ProcessExceptio

[2019-08-04 11:55] simonh1000 commented on #37565
thanks @the-redhat yes, it's fine without proguard,but huge

[2019-08-04 12:07] ShaiDemri commented on #30439
I'm Experiencing the same problem with this configuration:
`//Nested inside a Column->Row:
SizedBox(
      width: 150,
      child: TextFormField(
        decoration: InputDecoration(
          suffixIcon: Icon(Icons.add),
          prefixIcon: Icon(Icons.remove),
          labelText:"Units",
          border: OutlineInputBorder(
            borderRadius: BorderRadius.horizontal(
              lef

[2019-08-04 12:41] vanlooverenkoen opened #37578 "Using slivers results in a 1-pixel gap between slivers"
Using slivers results in a 1-pixel gap between slivers.

You can see the 1px gap in the image below. I got this problem in every app I wrote with flutter. It is very annoying. And should really be fixed. Or maybe I am doing something wrong?

Could be related:
https://github.com/letsar/flutter_sticky_header/issues/8
https://github.com/flutter/flutter/issues/14288

This is the code used to get repro

[2019-08-04 12:45] #37572 closed

[2019-08-04 12:46] #37564 closed

[2019-08-04 12:48] maxiundtesa opened #37579 "iOS: Platform View stops responding to GestureInput"
Hello,

I use a MKMapView (Apple Maps) inside a PlatformView and it’s working fine.
But after using a SearchView (with showSearch) and dismissing it, the platformView is only responding to touch events for one more time.
After that, nothing happens if you try to move the map or zoom etc.
Every other flutter widget on screen is still working fine.

This affects both debug builds and release builds

[2019-08-04 12:49] ylmotol7 opened #37580 "Trying to make virtual context current without decoder."
when i used webview_flutter load html which play video，then goback prev page display these error：
[code]

[2019-08-04 12:54] jonjon1123 commented on #32759
The screenshot has all of the items in the tree under `SKPaymentTransaction` expanded, but I don't see any fields for the `SKPaymentTransaction` object actually being shown. It is like it is only showing references or something.

It goes the applicationName route which is expected as I am providing an applicationName.

I did this and the only other method that gets called is `paymentQueueRestoreCo

[2019-08-04 12:55] phanirithvij commented on #37545
The issue you're having might be because of not using AndroidX

[code]

[2019-08-04 13:20] ADLsourceCode commented on #5422
@dander11  @chunhtai  I am using the below flutter version:-
Flutter 1.7.8+hotfix.4 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 20e59316b8 (2 weeks ago) • 2019-07-18 20:04:33 -0700
Engine • revision fee001c93f
Tools • Dart 2.4.0

I can not see the SelectableText widget here... Pls Help

[2019-08-04 13:26] KagurazakaHanabi commented on #5422
@ADLsourceCode
[code]

[2019-08-04 13:40] ADLsourceCode commented on #5422
@KagurazakaHanabi  @dander11  @chunhtai  thanks .. I found it.. Is there a way to overide the default menu of **copy** and **selectALL**...

[2019-08-04 13:44] newtonmunene99 commented on #35724
Does anyone have any idea on how to fix this?

[2019-08-04 13:51] KagurazakaHanabi commented on #5422
@ADLsourceCode No...See #31412

[2019-08-04 14:03] ADLsourceCode commented on #5422
@KagurazakaHanabi any chance of getting it added.... any alternative method you can recommend to make the app work... as this is important for my app

[2019-08-04 14:09] pushy-me commented on #13328
[Pushy](https://pushy.me/) is a paid push notification solution that supports worldwide notification delivery, including delivery to Android devices in China.

We have just released an official plugin for Flutter! 🎉
https://pushy.me/docs/additional-platforms/flutter

[2019-08-04 15:07] demichaelliggins commented on #37580
Nice

[2019-08-04 15:38] gerlaic commented on #36145
I got the same issue and when I run `flutter doctor -v`, it just returned:
[code]

[2019-08-04 15:41] gerlaic commented on #36145
@hujianhang2996 Could you check if this helps you solving the issue?

https://stackoverflow.com/questions/38670295/homebrew-refusing-to-link-openssl

[2019-08-04 16:00] walsha2 opened #37582 "Xcode build extremely slow - only when using cloud_firestore plugin"
## Summary of Issue

Simply adding `cloud_firestore` to `pubspec.yaml` results in a **huge increase in iOS xcode build times**. The issue can be recreate with nothing more than a simple `flutter create` application and minor changes to `pubspec.yaml`.

[code]

[code]

[code]

## Without `cloud_firestore`

Just to show that it is specifically the `cloud_firestore` plugin that causes this issue I wi

[2019-08-04 16:01] YazeedAlKhalaf commented on #28003
flutter clean did not work for me

PlatformException (PlatformException(error, FirebaseApp with name [DEFAULT] doesn't exist. , null))

[2019-08-04 16:05] Almoullim commented on #19770
The same issue, app crashes with "Waiting for observatory port to be available..." on the console. Works fine in iOS.

[2019-08-04 16:11] Almoullim opened #37583 "App crash on launch on android - Waiting for observatory port to be available..."
## Steps to Reproduce

1. flutter create
2. add code
3. flutter run

[code]

## Logs

[code]

[code]

[code]

[2019-08-04 16:12] HoseinHaqiqian opened #37584 "Unhandled Exception on flutter web first run"
Unhandled exception:
    FormatException: Unexpected character (at character 1)
    Not Found
    ^

    #0      _ChunkedJsonParser.fail  (dart:convert-patch/convert_patch.dart:1392:5)
    #1      _ChunkedJsonParser.parseNumber  (dart:convert-patch/convert_patch.dart:1259:9)
    #2      _ChunkedJsonParser.parse  (dart:convert-patch/convert_patch.dart:924:22)
    #3      _parseJson  (dart:convert-p

[2019-08-04 16:13] MichaelM97 opened #37585 "Optimizing imports in a Kotlin class removes android imports"
Not sure if this is the correct place to create this issue, feel free to ask me to move it if needed.

When optimixing imports in an android kotlin class, any android specific libraries are removed as if they are unused. A simple way to test this is to:
- Open a Flutter project
- Go to MainActivity.kt
- Optimize imports
- See that the import for `android.os.Bundle` is removed, even though it is be

[2019-08-04 16:21] HoseinHaqiqian commented on #37464
this is my problem too!

[2019-08-04 16:21] Hixie commented on #24019
check if the bimodal behavior corresponds to running on different hosts, could just be two different hardware configurations

[2019-08-04 16:24] walsha2 commented on #37582
@collinjackson @blasten Any thoughts on this? This is a serious issue for development if each build takes this long. I have seen other issues related to "slow Xcode builds" (or something similar) but I don't think anyone has explicitly tied it to `cloud_firestore` plugin. That is literally the only change as you can see from my simple step by step recreation above.

[2019-08-04 16:54] mohitjadav commented on #37546
In your case it seems like  that the connection has been closed by the server end of the connection. This could be an issue with the request you are sending or an issue at their end.
if you working with localhost it seems like You are Not in same Network

[2019-08-04 17:01] keckstrm commented on #31826
I found out the issue was with my anti-virus program, I disabled web-shield (using AVG).
Then it magically started working again :)

[2019-08-04 17:04] mohitjadav commented on #37486
this method called  when this State object will never build again. After the framework calls dispose, the State object is considered unmounted and the mounted property is false.
For Better understating this you should try an tab view  Because i got an batter idea about state with Tab View Controller Hope its can work with you

[2019-08-04 17:07] #37571 closed

[2019-08-04 17:15] #37532 closed

[2019-08-04 17:25] nebnhoj commented on #37220
Thanks @miyoyo  created new project and it works!

[2019-08-04 17:27] bernaferrari commented on #36869
Additional info: I would like to hide a bottom sheet when it is on top and user scrolls. If I use ScrollController's addListener, I get every scroll movement. I need to use GestureDetector, but ListView is incompatible with it, which is frustrating.

Just fix the GestureDetector, I'll be happy. Two issues will be solved.

[2019-08-04 17:30] eternety opened #37586 "installed sdk but still getting erroe while starting the emulator"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[2019-08-04 17:32] #37586 closed

[2019-08-04 17:35] #37583 closed

[2019-08-04 17:48] walsha2 commented on #37582
I think this is related to #27771 and possible #24909- but that thread is quiet and no responses. @orestesgaolin @JosephDunivan @jrm2k6 have you found any solutions for this?

[2019-08-04 18:34] bernaferrari commented on #35712
@chunhtai I saw you fixing https://github.com/flutter/flutter/pull/34519. I think you could somehow fix my issue. You probably need to re-size the way it calculates to take care of the viewport (i.e. if items are 80% the size of the original, I want the swipe to be 80% effective, not 100% which leads to skipping pages).

[2019-08-04 18:36] nemethmik commented on #32578
You should reopen it, this is very easy to reproduce. Here is my example and instructions including a test script [When timeout is raised on HttpClient because of IP address issues, NoSuchMethodEror is thrown instead of SocketException](https://gist.github.com/nemethmik/ed3eec698ae9afb1c08a6fafe240a56a)
This issue happens when the IP address is not valid, or the port is not listening. Normally, wi

[2019-08-04 18:40] jifalops commented on #7247
I've tried several things here such as

[code]
and
[code]

The only thing that has worked for me is to use `FocusScope.of(context).requestFocus(FocusNode())`, but it throws a concurrent modification exception if you call that in response to a text field being tapped.

So the final working solution was:

[code]

[2019-08-04 18:45] feinstein commented on #287
@hixie @zoechi may I present a PR with the modifications I presented before?

[2019-08-04 18:52] jamesdixon commented on #7247
@jifalops have you tried without `currentFocus != WidgetsBinding.instance.focusManager.rootScope`?

I just wrote an [article on this topic](https://flutter360.dev/dismiss-keyboard-form-lose-focus/) that contains the full code. I'm curious if there's something different about your approach as this works for me.

[2019-08-04 18:53] edwinludik commented on #14182
dupe = duplicate, https://github.com/flutter/flutter/issues/9984 is still open. Follow this issue.

[2019-08-04 18:58] jifalops commented on #7247
Yes I tried it without checking the `rootScope`, but from what I gather, calling unfocus() on the root scope causes an exception. My use case involves hiding the keyboard when the text field _gains_ focus, which is a bit more stringent than most use cases.

[2019-08-04 18:59] collinjackson commented on #37582
I don't have any insights here but I can reproduce it. It seems to be a build issue that happens when adding a dependency on the Firestore CocoaPod.

Building the firebase_analytics plugin normally takes 17 seconds according to `time`. Building the firebase_analytics plugin with the Firestore CocoaPod included takes 92 seconds:

[code]

Here's what's getting pulled in when you include the Firestor

[2019-08-04 19:12] jifalops commented on #7247
@jamesdixon That is a clever way to unfocus any input in the app when tapping outside of them.

[2019-08-04 19:14] jamesdixon commented on #7247
@jifalops thanks! out of curiosity, what's your use case for hiding the keyboard when the form field gains focus?

[2019-08-04 19:17] honne23 commented on #28012
Any update on this yet? Feel like a core convenience feature

[2019-08-04 19:20] jifalops commented on #7247
To show the date/time picker dialogs instead of initially going into edit mode. https://pub.dev/packages/datetime_picker_formfield

[2019-08-04 19:53] jamesdixon commented on #7247
Nice. Cool package! Going to give it a shot 👍

On Sun, Aug 4, 2019 at 1:22 PM Jacob Phillips <notifications@github.com>
wrote:

[2019-08-04 20:00] Hixie commented on #287
We would rather not have multiple ways to control if something is enabled. That said, you are welcome to create a package that provides alternative widgets that have the API you'd like.

[2019-08-04 20:07] feinstein commented on #287
I don't think a simple change as a `isEnabled` justifies a whole package.

I honestly don't see much confusion on this. We are talking about only 2 ways of disabling a button (if we aim for a no-breaking change).

Currently IMHO the whole "give it a null `onPressed` to disable" is a confusion on itself for many beginners (not mentioning readability issues), this would simplify things. Specially as

[2019-08-04 20:34] Hixie commented on #287
We have to look at it holistically. It's not just this widget. If we aren't strict about it, we end up bloating the API across the board.

Packages are cheap. You should totally feel free to create a package. And hey, if it proves popular that would be a good way to signal to us that I'm wrong about this.

[2019-08-04 20:35] ameennio commented on #25624
i got a problem, flutter doctor is stuck, i was wait for more then 2 house i though is updating or something but still doesn't work.. any help plz

[2019-08-04 20:36] glazec commented on #31981
I encounter the same problem. I agree with @jhc1982. It seems that we can't use navigation when the widget is building. I try showDialogue, I can use it neither.

[2019-08-04 20:37] glazec commented on #31981
We use the stream builder. Thus we can't use the didUpdateWidget to judget whether we need navigation.

[2019-08-04 20:44] feinstein commented on #287
I understand your point, it makes perfect sense, but if I create a package I would have to update it all the time with the latest releases of the Flutter Widgets. Also, I would have to make wrappers for all the current Widgets, which will be a lot more work than just adding a simple `isEnabled` here and there. So not wanting to sound selfish but this would be a lot of work on my side just to have

[2019-08-04 20:47] MichaelM97 opened #37587 "OutlineButton documentation is very vague and unclear"
When creating an 'OutlineButton', I _presume_ setting the 'color' tag should result in the button being filled with the specified color; but it doesn't.

Here's the button code
[code]

Here's the visual output

<img width="101" alt="OutlineButton" src="https://user-images.githubusercontent.com/22373058/62429036-48752d80-b701-11e9-9ebe-2654af681840.png">

[2019-08-04 20:57] fatalcaron opened #37588 "Google Maps: compass problem on Android"
On Android the compass not showing after map rotation.
When we click on a marker or trigger a hot reloading it start  working.

[2019-08-04 21:23] AppleEducate commented on #33011
So I have been thinking for about doing a native html text field and just use the html view to get the data from it.. I use a native file picker this way and it works really well. I will let you know how it goes. This would be really similar to the approach on platform_inputs package

[2019-08-04 21:32] redsolver opened #37589 "`flutter analyze` fails"
## Steps to Reproduce

1. `flutter create example`
2. `cd example`
3. `flutter analyze`

## Logs

`flutter analyze --verbose`

[code]

[code]

[2019-08-04 21:33] Hixie commented on #287
You are welcome to file a bug. I don't know if thumbs up will really help here though because people in general like features like this in theory and then report a general dissatisfaction with the platform, they don't realize that the dissatisfaction comes from the feature.

Re the package, I guess the difficulty would by adding constructor arguments when we add features to these widgets?

[2019-08-04 21:46] aliiezzeddine opened #37590 "Error running Gradle"
ProcessException: Process "C:\Users\Dell\Documents\Flutter\Flutter\firebase_authentication\android\gradlew.bat" exited abnormally:  FAILURE: Build failed with an exception.  * Where: Build file 'C:\Users\Dell\Documents\Flutter\Flutter\firebase_authentication\android\app\build.gradle' line: 24  * What went wrong: A problem occurred evaluating project ':app'. > ASCII  * Try: Run with --stacktrace op

[2019-08-04 21:46] feinstein commented on #287
Yes, and having to check at each new release of Flutter all the constructors to see if they changed at all.

[2019-08-04 22:00] sumaya99 commented on #29608
plz what's the solution , i tried many ways nothing work :(  , plz help , if u have fixed ur own

[2019-08-04 22:18] vagrantrobbie commented on #37582
We also have this issue in our project and it's stopped us using Firestore specifically because of this problem

[2019-08-04 22:22] AriCohen8 opened #37591 "Cloud_Firestore Plugin Readme Documentation Error"
Readme documentation is incorrect for transactions which causes user errors.

The Readme is missing collection when setting the DocumentReference

_Running a transaction:
final DocumentReference postRef = Firestore.instance.document('posts/123');
..._

Should be:
final DocumentReference postRef = Firestore.instance.collection('myCollection').document('posts/123');

Thank you,

[2019-08-04 22:25] jrm2k6 commented on #37582
@walsha2 No solutions found except waiting, unfortunately. It was for a side project of mine, so not a big deal and I have moved on anyway.

[2019-08-04 23:20] Hixie commented on #287
Might be worth filing a bug on the Dart SDK asking for a feature that would let you extend a class and add a constructor that forwards all the arguments from the superclass except those you explicitly override.

[2019-08-04 23:24] CarrieUp commented on #31962
@tvolkert thank you so much, I solve the problem by your suggestion: upgrading dependency on flutter_image_compress version to 0.6.3

[2019-08-04 23:27] feinstein commented on #287
I don't feel comfortable filling a feature request like this because I am kinda new to Dart, I don't feel confident enough to discuss this, as other advanced language topics might show up. Would you mind filling it yourself if you think it could be helpful and send me the link?

[2019-08-04 23:50] mdcroce commented on #37565
Same here..

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  image_picker:  ^0.6.0+9
  path_provider: 1.2.0
  image: 2.0.5

[2019-08-04 23:50] nvuhung opened #37592 "Error: Invalid constant value.dart(invalid_constant)"
## Steps to Reproduce

I have a Container and I want to set dynamic position with the position parameters. But when I use the parameters in Container position, the error was showed: "Invalid constant value.dart(invalid_constant)"

This is my code:

[code]

Screenshot:

![image](https://user-images.githubusercontent.com/11483168/62430945-2903f200-b74d-11e9-8a70-fb866b209461.png)

flutter doctor -v

[2019-08-04 23:52] Hixie commented on #287
https://github.com/dart-lang/sdk/issues/37736

[2019-08-04 23:54] jonahwilliams commented on #37592
The padding you use here is not a compile time constant, it depends on the values that are passed into the function.

[code]
In order to be a constant it would have to be something like:

[code]

[2019-08-04 23:59] feinstein commented on #287
Thanks @hixie.

[2019-08-04 23:59] nvuhung commented on #37592
@jonahwilliams
Thanks for your response. But I want to set dynamic top and bottom through function parameters. How can I do that?

[2019-08-05 00:05] jonahwilliams commented on #37592
Well, in this case I would't use `const` at all

[2019-08-05 00:06] walsha2 commented on #37582
@collinjackson thanks for replying. Ok yea I noticed that too and assumed it was something in those other pods that `cloud_firestore` brings in.

My only question now is, how is anyone using firestore and flutter? I'm surprised that this is not a problem that every person is having. My only explanation is that there must be some sort of iOS and/or Xcode version dependency that keeps other users fr

[2019-08-05 00:09] athornz commented on #22072
@XSiyabonga if it's critical to your app you can start using the branch right now.

Just update your pubspec to point to the branch:

[code]

[2019-08-05 00:13] nvuhung commented on #37592
OMG, I forgot the const before EdgeInsets. Thanks @jonahwilliams

[2019-08-05 00:13] #37592 closed

[2019-08-05 00:35] walsha2 opened #37593 "Git ignore flutter_export_environment.sh"
## Description

The `ios/Flutter/flutter_export_environment.sh` file created using `flutter create` explicitly states:

Yet it is not part of the top level project `.gitignore`.

## Proposal

Add `ios/Flutter/flutter_export_environment.sh` to `.gitignore.tml` files located at:

[code]

[2019-08-05 00:42] jonjon1123 commented on #32759
Another update on this...

I am really in need of getting this resolved to move forward so for the time being I switched to using https://pub.dev/packages/flutter_inapp_purchase. I know it is being deprecated, but I need somthing that works. I was also curious if I would see the same results. I created a branch at the state I mentioned above (so I could continue troubleshooting) and did the change

[2019-08-05 00:59] Hewiiitt commented on #37358
For anyone struggling with this issue, it means that two of your dependencies are using 2 different versions of the same thing. In my case they wanted different version of the google.gms. Checking all of the dependency versions can sometimes solve the problem, as it did in this case.

[2019-08-05 00:59] #37358 closed

[2019-08-05 01:21] a314730500 commented on #29649
+1

[2019-08-05 01:30] chornbe commented on #30914
Perhaps this could be reopened...? When I have two text fields on a screen, one with textCapitalization.none and the next with .sentences, switching between the two text fields doesn't change the keyboard appearance, or the upper- / lower- of the first letter of a sentence.

Using:
[code]
          TextField(
            controller: tcd,
            decoration: InputDecoration(
              hintT

[2019-08-05 01:41] #37285 closed

[2019-08-05 01:42] dinner commented on #37546
Thank you for your reply,but the network is right and I use the browser to open the web of 192.168.10.241 I can open it.So I am sure it's in the same network.And the outer net server I can not request the server success either.But on some phone it can work and some phone it can not work

[2019-08-05 01:44] dinner commented on #37546
Thank you for your reply.The server and the client are in the same network.And the same code some phone can connect right but some can not.I can not figure it out

[2019-08-05 01:52] xujunquan commented on #37225
非常感谢，测试真机有效，不会闪退了

[2019-08-05 01:57] jnaval04 commented on #24645
Wow, flutter run is incredibly silent even if you run it with '-v' flag. Basically, I just forgot the google-services.json and it Android Studio it complains that such was not found.

I suggest to try to run your project natively in Android Studio/Xcode, what I mean by this is run the generated android project/ios project and see from the logs what went wrong.

[2019-08-05 02:26] MuthuSubramaniam opened #37596 "ideviceinfo returned an error: ERROR: Could not connect to lockdownd, error code -2"
@jmagman

flutter doctor -v
[✓] Flutter (Channel unknown, v1.8.1, on Mac OS X 10.14.5 18F132, locale en-MY)
    • Flutter version 1.8.1 at /Users/bala/Documents/flutter/flutter/flutter
    • Framework revision d3eee57c0b (4 weeks ago), 2019-07-08 11:04:24 -0700
    • Engine revision 3c51a7bfff
    • Dart version 2.5.0 (build 2.5.0-dev.0.0 b5aeaa6796)

⣻ideviceinfo returned an error:
ERROR: Could n

[2019-08-05 02:31] jonahwilliams commented on #37596
You need to unlock the phone and trust the connected computer. We definitely need to make this more obvious.

Duplicate of https://github.com/flutter/flutter/issues/36789.

[2019-08-05 02:31] #37596 closed

[2019-08-05 02:38] MuthuSubramaniam commented on #37596
Actually I'm running in Android device and my iOS is only I put charge in other port

[2019-08-05 03:20] Tumbler0809 opened #37597 "[webview_flutter] Add Windows support"
I want to implement the function of writing a piece of code to open a web page in android, ios, windows, but this (https://pub.dev/packages/webview_flutter) does not support the windows platform, when can I support it?

[2019-08-05 03:29] Laxman-Kumar commented on #32191
@georgehamiltone
For 32 bit app.
Step 1: In build.gradle
         Write this  -> ndk.abiFilters 'armeabi-v7a'

Step 2: flutter build apk --release --target-platform=android-arm

For 64 bit app
Step 1: In build.gradle
         Write this  -> ndk.abiFilters 'arm64-v8a'

Step 2: flutter build apk --release --target-platform=android-arm64

If still not working then please share the error.

[2019-08-05 03:32] CocoaZX commented on #27462
Now I need to build .apk , not .aab, but I found can use Android Studio build success, VSCode will fail

[2019-08-05 03:32] thekingrenz23 opened #37598 "Process Exception: Process dir/gradlew.bat exited abnormally"
## Steps to Reproduce

1. I created a new project using vscode command pallete
2. Then run the application (i did not change anything in the starter code)
3. Shows the error on the gradlew.bat

## Logs

[code]

[code]

[2019-08-05 03:37] Laxman-Kumar commented on #32191
@shah2002
Try my above solution by adding it into deafult config -> abifilter -> ndkfilter
And try releasing.

[2019-08-05 03:39] thekingrenz23 commented on #34324
i dont wanna delete my .gradle folder is there any other option?

[2019-08-05 03:46] dinner commented on #37546
@zoechi ,hello ,if you know this?I have be worried for few days

[2019-08-05 04:05] nowtech commented on #26152
I have flutter apps in development that would suit the galaxy gear s3 so +1 for me.

[2019-08-05 04:08] VictorsAlves commented on #33921
tambem estou com esse erro!

[2019-08-05 04:24] hanseltertiusJCU commented on #33921
@VictorsAlves my solution is to remove CachedNetworkImage and use NetworkImage instead. In my case, when I interact with the screen, then the integration test worked as expected.

In my case, this might be caused caused by Flutter Driver trying to find something when the data was loaded. However, when the data loaded, the application was on the process of loading the image. This is why I had to in

[2019-08-05 04:28] shadyshrif commented on #29896
any updates? i have the same issue exactly!

[2019-08-05 04:44] stuartmorgan commented on #37597
The Windows embedding is still a placeholder, the Windows plugin API is not at all finalized, and there's no tooling support for plugins on Windows. On top of that, this particular plugin needs platform view support, which is non-trivial. Given all of that, there's currently no set time-frame for supporting the plugin.

[2019-08-05 05:03] BugsBunnyBR opened #37600 "Firebase Analytics different method names?"
So,
it looks like Android has `setSessionTimeoutDuration`
https://firebase.google.com/docs/reference/android/com/google/firebase/analytics/FirebaseAnalytics.html#setSessionTimeoutDuration(long)

and iOS has `setsessiontimeoutinterval`
https://firebase.google.com/docs/reference/ios/firebaseanalytics/api/reference/Classes/FIRAnalytics#+setsessiontimeoutinterval:

They seems to me to be the same acti

[2019-08-05 05:14] curls commented on #36419
Hi,I have the same problem, how to fixed?

[2019-08-05 05:25] najeira commented on #36419
I use PageStorage instead of AutomaticKeepAliveClientMixin to avoid this problem.

[2019-08-05 05:31] CocoaZX commented on #18232
AS can build success

[2019-08-05 05:47] sknightq commented on #16246
I fixed it! Caution! Caution! I will use Chinese to explain this problem because of the block from the government. People who are in other countries can't be facing this problem.
当大家使用VPN的时候，由于设置的代理可能针对当前终端，而不是全局的，设为全局之后就可以解决以上问题。

[2019-08-05 05:47] songyiYu commented on #23777
I solved this issue.
In my case, there was a problem in gradle version. My project gradle version is 5.1.1 but I found out my new project's gradle version is 4.10.2. that project works.

So I downgrade gradle version 5.1.1 to 4.10.2
The way to downgrade is editing the file. The file's directory MyProject/android/gradle/wrapper/gradle-wrapper.properties. Open gradle-wrapper.properties file and chan

[2019-08-05 05:49] p30arena commented on #18161
Huawei G750-U10

[code]

[2019-08-05 06:27] Zeeshan0201 opened #37601 "FAILURE: Build failed with an exception. * What went wrong: Execution failed for task ':app:lintVitalRelease'"
[code]

[2019-08-05 06:27] ch-robert opened #37602 "Instantiating Flutter in an embedded host app prior to display"
I've embedded my Flutter app in my Xamain.Forms app. It works when I'm displaying a content page in Xamarin with embedded Flutter app. I can also send messages from Flutter to Xamain via method channel.

The problem occurs when I'm trying to send a message from Xamarin to Flutter.
I have no idea how to access the method channel which gets initialized in a content page renderer from a shared projec

[2019-08-05 06:31] amorenew commented on #19830
I still face the same issue in August 2019
[code]

[2019-08-05 06:34] bsheen commented on #37602
@here further to the above. Is it possible to initialise an embedded Flutter app off screen?

In the above scenario, it would be ideal to initialise the Flutter app and hold a reference to that in the host app. This would allow the host to send messages to the Flutter app prior to presenting the Flutter view to the User.

The goal with the above is to develop new features in Flutter and embed that

[2019-08-05 06:37] jinfagang commented on #37545
@phanirithvij  I want to mention that is, this error **only** got when I try build android apk with release mode which is `flutter build apk`. If using `flutter build` it works OK. And also I don't think there any lib I use not using AndroidX since many lib I am using need AndroidX support. And I am using url_launcher newest version.
**also this happened just when I upgrade flutter yesterday with

[2019-08-05 06:38] p30arena commented on #18161
Huawei H30-U10

[code]

[2019-08-05 06:39] bimaldave13 commented on #26364
HI,
I am facing the same issue and my problem is a bit related to this.
I have added a gif image widget in listview its animating first time but when I did scroll. It stops animating.
can anyone suggest me alternative for this?

[2019-08-05 06:41] RootKatherine commented on #31664
what did you do to solve this?

[2019-08-05 07:24] szotp commented on #36869
Try this.

[code]

[2019-08-05 07:26] Thomaslay7 commented on #37388
same issue

[2019-08-05 07:28] ThitSarNL commented on #30318
yeah but unable to install by apk file

[2019-08-05 07:38] DQvsRA commented on #37392
I have tried it many times, looks like some of the plugins can't be updated from the root of project or something. Video plugin test file does not implement `setStreamType`.

[2019-08-05 07:38] lztbwlkj opened #37603 "VersionCheckError: VersionCheckError: Command exited with code -9: git log -n 1 --pretty=format:%ad --date=iso"
## command

flutter upgrade --force

## exception

VersionCheckError: VersionCheckError: Command exited with code -9: git log -n 1 --pretty=format:%ad --date=iso
Standard error:

[code]

## flutter doctor

[code]

[2019-08-05 07:41] epebojot commented on #19359
If you just have fixed the path without space, or fixed the env. Just try to use different terminal. For example, powershell instead of cmd, or any terninal. Try to restart your computer. These might be a bug.

[2019-08-05 07:42] epebojot commented on #19359
In short, flutter doctor act strange from different terminal. Try to restart your computer and execute the terminal in powershell

[2019-08-05 07:45] SHAHMEERKHAN2212 commented on #32696
i have faced the same issue , then I changed my emulator to API 29 to API 20 .. now it is working fine

[2019-08-05 07:48] epebojot commented on #19359
It is already solved. make sure the path for has no space:

For example: (has space)
C://sdk/has space/sdk

For example: (has no space)
C://sdk/hasnospace/sdk

execute flutter doctor in powershell(not in cmd)

You will see the different result now.

Make sure to follow the documentation correctly about the environment variable path.

Then execute flutter doctor in powershell.

If not fix yet. Rest

[2019-08-05 07:49] yxj1988821 commented on #32763
I have this problem too, what can I do, how to fix it

[2019-08-05 08:02] d3xt3r2909 commented on #13182
I really need this to be fixed. But also I have issue with suggestion list in one of libraries (maybe is the same) .. https://github.com/AbdulRahmanAlHamali/flutter_typeahead/issues/115

[2019-08-05 08:13] thedude61636 commented on #37046
can you post your material app code?
I suspect you're using localizations, which at some point didn't work and cause the app to crash when displaying the text handles in ios, one option is to limit the platform to android (the ui platform not the underlying code) which you can do from the theme data in your material app
[code]

[2019-08-05 08:14] ThitSarNL commented on #25824
I can pass this error now.
1. Let it installable, (Setting->BIOMETRICS AND SECURITY->Installl unknown apps->My Files->Allow from this source)
2. Clear internal storage (good if u also clear sd card storage) more than ur app size.
3.  Android Studio->Terminal->Type "flutter build apk" and wait for a while and find the file in folder of YourAppFolder\build\app\outputs\apk\release\app-release.apk

[2019-08-05 08:16] ThitSarNL commented on #30318
I can pass this error now.
1. Let it installable, (Setting->BIOMETRICS AND SECURITY->Installl unknown apps->My Files->Allow from this source)
2. Clear internal storage (good if u also clear sd card storage) more than ur app size.
3.  Android Studio->Terminal->Type "flutter build apk" and wait for a while and find the file in folder of YourAppFolder\build\app\outputs\apk\release\app-release.apk
4.

[2019-08-05 08:17] ThitSarNL commented on #20062
I can pass this error now.
1. Let it installable, (Setting->BIOMETRICS AND SECURITY->Installl unknown apps->My Files->Allow from this source)
2. Clear internal storage (good if u also clear sd card storage) more than ur app size.
3.  Android Studio->Terminal->Type "flutter build apk" and wait for a while and find the file in folder of YourAppFolder\build\app\outputs\apk\release\app-release.apk
4.

[2019-08-05 08:18] DanTup commented on #31971
@alex9153 does switching to API v29 solve your issue? If so, we should close this as a dupe of #33050.

@SidhantUnnithan If you mean the API 29 issue, see #33050 - the issue is understood and has been fixed in latest builds (though I don't know how accessible they  are yet - some people seem to have them and the issue is gone, but others don't seem to be able to).

[2019-08-05 08:20] ping996 opened #37604 "Compile linux arm 32 or 64 version"
I used the command to compile the flutter engine:
./flutter/tools/gn --linux-cpu arm64
ninja -C out/host_debug_arm64

result:
compiled successfully,  I used the file command to see the libflutter_engine.so

libflutter_engine.so: ELF 64-bit LSB shared object, x86-64, version 1 (SYSV), dynamically linked, BuildID[xxHash]=1a5505531d219cf5, with debug_info, not stripped

It is also a x86_64.
Any sugge

[2019-08-05 08:20] HoseinHaqiqian opened #37605 "Exception in adding firebase to flutter project"
This problem occurs when i am trying to add firebase dependencies to my flutter project.

here's some details :

[code]

[code]

[code]

[code]

[code]

[2019-08-05 08:31] aatikakhan commented on #34217
i'm getting this error on ubuntu 19.04
can you guide me step by step

/home/aatikakhan/development/flutter/bin/flutter doctor --verbose
[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Linux, locale en_IN)
    • Flutter version 1.7.8+hotfix.4 at /home/aatikakhan/development/flutter
    • Framework revision 20e59316b8 (2 weeks ago), 2019-07-18 20:04:33 -0700
    • Engine revision fee001c93f
    • D

[2019-08-05 08:54] leishuai commented on #36437
FYI: In my situation, there is a flutter app bar. After you back from background and pop webview, the app bar still displays the popped app bar content. And for sure, the webview is blank.

[2019-08-05 08:56] jld3103 commented on #37511
That is not a problem. Pub always prints such a message when you override dependencies.

[2019-08-05 09:16] christian-muertz opened #37606 "CheckboxListTile is missing checkColor"
## Use case

The material `Checkbox` widget has a `checkColor` property.
The `CheckboxListTile` is missing this color, forcing the checkColor to be white.

## Proposal

In some cases this would be useful to have.

[2019-08-05 09:38] Saifallak commented on #37057
okay, it worked with your suggestion for width, and for height i used stack to place it over the container not inside it ^^ thanks.

[2019-08-05 09:38] #37057 closed

[2019-08-05 09:38] AndryHTC commented on #26191
@cyanglaz I don't think so... The most want to save a full quality image, and managing it, but showing a preview that is not 10+MB...
In any way, I've tried a lot this new feature but I cannot get it working. In my case work only the maxHeight and maxSize. Taking the same foto with Quality parameter setted to 1 and to 100, both in gallery or camera, I get the same size of photo +-5kb.

[2019-08-05 09:41] Saifallak commented on #20801
@collinjackson is firestore supposed to working on Api 21- ? ex: kitkat ?
in all examples i saw they set minSdkVersion to 21.
if it's supposed to working only on 21+
i think this should be closed.

[2019-08-05 09:42] wangshiyang commented on #28462
@zoechi why xamarin+c# can debug ios on windows?

[2019-08-05 09:50] wangshiyang opened #37607 "How to debug IOS by flutter in Windows"
flutter在windows中怎么支持调试ios，就像visual studio c#+xamarin中可以增加远程mac 配对 然后就可以在vs c#中选择iphone设备调试了
请问flutter有没有这种类似的功能？
还有flutter有没有 视图设计器之类的东西 可以通过拖拽生成相应的布局？

[2019-08-05 10:00] hanleiZoro opened #37608 "Issue from website page 使用主题共享颜色和字体样式"
From URL: https://www.flutterchina.club/cookbook/design/themes.md

局部主题并不可用

[2019-08-05 10:03] #37083 closed

[2019-08-05 10:09] Saifallak commented on #37607
you can try VM for Mac ex: https://techsviewer.com/install-macos-mojave-vmware-windows/
else try codeMagic to generate IPA but not debugging

there is no other way

[2019-08-05 10:12] nazmulgazi1989 opened #37609 "'_state._element == null': is not true."
[code]

[2019-08-05 10:25] #37003 closed

[2019-08-05 10:45] VictorCamargo commented on #36918
I'm getting the same error only on fields that are inside a page that was presented by **Navigator**.

[code]

[2019-08-05 10:48] jld3103 opened #37610 "[web] Build release (unforked)"
I'm currently using the unforked version on flutter web.
In the unforked version if you run ```flutter run -d chrome --release``` you only get the debug build running. In the forked version it was possible to get a release build.

Is there a way to generate a release build for web?

[2019-08-05 10:59] svprdga opened #37611 "TextFormField - Keyboard not appearing when using FlutterView"
We are writting a Flutter app in which we have to mix the flutter rendered stuff with a native view:

[code]

The problem comes in iOS, when running in --profile or --release, the TextFormField widgets we have are never showing up the keyboard.

We have tested the same flutter screen in a "normal" app without the NativeView and works fine, maybe it's related to [this issue](https://github.com/flut

[2019-08-05 10:59] narimetisaigopi commented on #17016
Just Do Restart IDE that's it.

[2019-08-05 11:04] ravikantsharmagit opened #37612 "While setting theme on my page"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-08-05 11:17] Sp4Rx commented on #26767
Any update on this issue? @GustavoContreiras

[2019-08-05 11:20] DanTup commented on #18504
@hardik584 this issue was closed as a duplicate over a year ago and appears unrelated to your issue, please open a new issue.

[2019-08-05 11:23] KingBright commented on #33309
The following is what I get when run `flutter pub get -v`
[+5075 ms] Could not find a file named "packages/flutter_web/pubspec.yaml" in
https://github.com/flutter/flutter_web 20e59316b8b8474554b38493b8ca888794b0234a.
[  +46 ms] Running "flutter pub get" in platform... (completed in 5.1s)
[  +19 ms] "flutter get" took 5,271ms.
[        ] "flutter get" took 5,271ms.
pub get failed (1)

#0      throw

[2019-08-05 11:24] DanTup commented on #18409
I don't know the details of the mDNS changes so I'll have to defer to @dnfield... Should it replace the need for reading the logs with the `stream` command?

[2019-08-05 11:34] DanTup commented on #35683
@vl4dt to clarify, when you run `adb devices` you see a device, but when you run `flutter devices` you don't see any?

If so, could you post the output of `flutter devices -v`?

[2019-08-05 11:36] KingBright commented on #33309
It works by using it as a path dependency.

[2019-08-05 12:02] chornbe commented on #30914
Actually, I'll create a new issue. Thanks.

[2019-08-05 12:04] chornbe opened #37613 "textCapitalization seemingly not working to spec (.none / .sentences)"
**Issue**:
When I have two text fields on a screen, one with textCapitalization.none and the next with .sentences, switching between the two text fields doesn't change the keyboard appearance, or the upper- / lower- of the first letter of a sentence.

I specifically only tested this on iOS; behavior is the same in emulator and on device. I did not check Android yet. Will follow up with Android tes

[2019-08-05 12:38] pinkeshdarji commented on #32436
Any update on this issue? We still have run with webdev serve --release.

[2019-08-05 12:45] GustavoContreiras commented on #26767
I don't know if I'm still getting this "Error recording" issue. I made many revisions to modularize my project and things are working how it should (auto playing videos when they appear on screen and pausing when they dont appear), but I didn't tested enough. It may be a problem of the Samsung device.

I'm using in_view_notifier_list and carousel_slider plugin. Initializing the video on InitState(

[2019-08-05 12:52] stuartmorgan commented on #37608
See https://github.com/flutterchina/website/issues/33

[2019-08-05 12:52] #37608 closed

[2019-08-05 12:53] sohitEngg opened #37614 "Widget Testing fails due to error - The following assertion was thrown during performLayout()"
Facing issue while testing Widget where I have Width and height dimension as MediaQuery.of(context).size.width (or height),  double.infinity etc.

below is the stack trace. please take a look and let me know if any idea.

[code]

[2019-08-05 12:53] stuartmorgan commented on #36993
See https://github.com/flutterchina/website/issues/33

[2019-08-05 12:53] #36993 closed

[2019-08-05 12:54] stuartmorgan commented on #36927
See https://github.com/flutterchina/website/issues/33

[2019-08-05 12:54] #36927 closed

[2019-08-05 12:55] stuartmorgan commented on #32303
Duplicate of #36789

[2019-08-05 12:55] #32303 closed

[2019-08-05 13:04] DanTup commented on #33130
@thavlik do you have a proxy server? Do you have the iPads set to sync over WiFi? Both of those have caused similar issues in the past. The full output of `flutter run -v` may be useful when you see this issue.

[2019-08-05 13:07] mertkokusen commented on #27077
Happens on Samsung Active Tab 2.

**Error**

Launching lib\main.dart on SM T395 in debug mode...
Built build\app\outputs\apk\debug\app-debug.apk.
F/libc    (17407): Fatal signal 11 (SIGSEGV), code 128, fault addr 0x0 in tid 17425 (1.ui), pid 17407 (ter_data_parser)
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
Build fingerprint: 'samsung/gtactive2ltexx/gtactive2lte:8.1.0/M1AJQ/T3

[2019-08-05 13:10] kynrai commented on #18970
How does flutter detect the plugins? symbolic linking the dark and intellij plugins to the flatpak directory does not work either

[2019-08-05 13:18] traverncompany commented on #28494
How's it going？ 22222

[2019-08-05 13:34] truongsinh opened #37615 "Method Channel `result.success` called in callback invoked by C/C++ AAR causes deadlock"
## Steps to Reproduce

This AAR is generated by [gomobile](https://github.com/golang/go/wiki/Mobile) [webrtcsdk.aar.zip](https://github.com/flutter/flutter/files/3467782/webrtcsdk.aar.zip), source code available if needed

[code]

[code]

Expected behavior: it crashes with the message forcing coder to "runOnMainThread". E.g. changing kotlin code above to this snippet below solves the problem

[cod

[2019-08-05 13:34] willcalderbank commented on #22071
For thoses still having problems, updating cocoapods was the only way I could fix this problem

``` gem install cocoapods```

[2019-08-05 13:41] truongsinh commented on #37615
full working source code (with `activity.runOnUiThread`):

[code]

[2019-08-05 13:42] florent-huran commented on #37182
I had the same problem today with SumUp SDK.

I used the same workaround as you did, and the problem was coming from that.

I deleted it from my podfile and added the following to podspecs:

`s.static_framework = true`

Hope it helps

[2019-08-05 13:43] robsonfingo commented on #37046
In my case we do not use localizations.

[2019-08-05 13:52] dnfield commented on #18409
No, that's only used for device finding.  /Cc @jonahwilliams @zanderso

[2019-08-05 13:57] kjeremy opened #37616 "url_launcher 5.1.2 warning on build"
[code]

[2019-08-05 13:59] hasen6 commented on #21026
I would like to second the built in padding issue. I like Flutter but I seem to spend half my time trying to remove padding from every widget. Can't we just add padding and margins if we need them? Half the time the padding is so hard to find and remove since it isn't even a default padding or margin parameter.

I don't think looking at every specific issue is going to work because there are too m

[2019-08-05 14:13] gazialankus commented on #30725
Paste shortcuts do not work either.

[2019-08-05 14:13] gazialankus opened #37617 "[desktop] Accented non-ASCII characters do not show in TextField on Windows"
Accented non-ASCII characters such as the Turkish accented letters ğüşıöçĞÜŞİöç do not show in TextField on Windows 10.

They actually cause weird behavior. "ı" shows as "1", "ü" hides characters that follow, etc.

[2019-08-05 14:28] chandrugiri commented on #34041
flutter app gets crashed when trying to pick an image from internal storage using the image_picker plugin in the device Samsung A30. Even after upgrading it to the latest release of image picker.

Exception:
[code]

[2019-08-05 14:40] bubunyo opened #37618 "[p:connectivity] Detect mobile connection subtype."
## Use case

the ability to detect 2g, 3g and 4g connection on devices using the connectivity plugin.

## Proposal

Extend the connectivity plugin functionality to return the mobile connection subtype.

[2019-08-05 14:56] Menelphor commented on #36271
Addition, Not using Named Routes solves the problem. => Is there a bug in the Named Routes? Or do I use them wrong?

[2019-08-05 14:58] rajeshzmoke commented on #27584
Why is this issue closed ?
I'm facing this issue now.

[code]

Error
`PlatformException(auth_in_progress, Authentication in progress, null)`

Local_auth plugin version

`local_auth: ^0.5.2+4`

[2019-08-05 14:59] justinmc commented on #30914
@chornbe Can you link the new issue here when you've created it?

[2019-08-05 15:02] Menelphor opened #37619 "[flutter][google_maps][google_maps_flutter] Problem with two existing Google Maps Widgets"
Duplicate of #25653 && #24900
## Explanation of the Problem:

My problem only occurs on IOs on real devices (not Simulator) on debug and release.

I do use the google Maps widget with some markers. Tapping on on Marker opens another Screen with more Information, another google Maps widget and the possibility to Navigate via url launcher. (I reduced the Screens to only show the widgets causing the

[2019-08-05 15:03] chornbe commented on #30914
Ah, yes. Apologies:

https://github.com/flutter/flutter/issues/37613

[2019-08-05 15:06] SotoArmando commented on #29233
I made something *clipping the collapsed content inside a ListView.

[2019-08-05 15:09] mt40 commented on #12445
+1 another victim

[2019-08-05 15:10] kevin-haynie commented on #35334
I'm having the same problem on iOS physical devices when I use the camera.  It keeps flipping the images.  This is really annoying and unnecessary.  This needs to get fixed at the core level - not hacked up by all the users.  This is core functionality.

[2019-08-05 15:17] skycomposter opened #37620 "Provide an API to set a custom pixel ratio in the desktop embedder."
## Use case

Given the same aspect ratio, I would like my applications to look the same on my embedder, regardless of the actual size of the window. The pixel ratio is exposed as part of the FlutterWindowMetricsEvent struct, but no way to set it explicitly is provided as part of the desktop embedder (I'm working on Linux specifically).

## Proposal

It should be fairly straightforward to pass in t

[2019-08-05 15:20] grouma commented on #32436
No update. I've created a tracking bug which would be an appropriate workaround:
https://github.com/dart-lang/webdev/issues/540

It still would be beneficial understand why the requests created by the injected client are not correctly resolving in the Gitpod environment. I don't have time to investigate myself so any help there would be greatly appreciated.

[2019-08-05 15:27] RandersonThallys opened #37621 "I am having return of following error (E / BpSurfaceComposerClient (26058): Failed to transact (-1)) ( Dart- Flutter)"
/*I am having return of following error (E / BpSurfaceComposerClient (26058): Failed to transact (-1)) When displaying the gred in emulator it normally returns the information, but when emulating on the physical device it returns this failure a screen overflow.
The strange thing is that in the emulator everything works perfectly perfectly in the physical device not!*/

[code]

[2019-08-05 15:29] franciscojma86 opened #37622 "Regression on flutter_gallery__image_cache_memory start-min"
Started at https://github.com/flutter/flutter/commit/09002457f9ceb989af570a40b1441f1e5c27eab4 which seems to enable some tests that weren't running before. @Piinks do you think this might be causing the benchmark tests to take longer? Should this metric be rebaselined?

[2019-08-05 15:34] jonahwilliams commented on #37175
I'm removing this from benchmark, as it is due to a bug fix from above. It is not a today issue

[2019-08-05 15:35] XbIK commented on #35178
try `flutter clean`

[2019-08-05 15:41] skycomposter opened #37623 "Provide an option to make the GFLW window on Linux not resizeable"
## Use case

For applications that require a fixed size and can't handle resizing gracefully.

## Proposal

This is a simple one line change before the window is created:
`glfwWindowHint(GLFW_RESIZEABLE, GFLW_FALSE)`

What I'm not sure about is the proper API to actually pass in the boolean to the flutter_window_controller and pipe it down to flutter_glfw.

[2019-08-05 15:58] cyanglaz commented on #32759
@jonjon1123 it sounds like the issue has something to do with the test account that you previously used.

May I ask what you used for the applicationName. The applicationName should be some encoded user name for your application.
For example userA signed up for your application, they used some user name, e.g, purpleFlower123.
The application user name for this user using your purchase should be so

[2019-08-05 16:17] yjbanov opened #37625 "Remove "WARNING: 3D transformation matrix was passed to BitmapCanvas.""
The pain caused by spamming the logs is not worth it.

[2019-08-05 16:21] blasten commented on #37582
There's an open PR to fix the protobuf warning issue: https://github.com/protocolbuffers/protobuf/pull/6464.

[2019-08-05 16:22] franciscojma86 commented on #36853
@blasten I just tested  with https://github.com/flutter/flutter/commit/30eec11e7ddcdd44324cbe0cdfd719c0f7b33594 and it is also slow. It's actually the slowest I've tested. Do you think it might be the culprit?

[2019-08-05 16:31] Piinks commented on #37622
Could be. I don't know that the change there affected flutter_gallery tests though.

[2019-08-05 16:33] chunhtai commented on #35712
@bernaferrari Can you elaborate what is it mean to be 80% effective? which part of the scroll, for example the delta offset and velocity, will be affect by this?

[2019-08-05 16:36] chunhtai commented on #5422
@ADLsourceCode please use thumb up if you want to bump up the priority

[2019-08-05 16:37] bernaferrari commented on #35712
What's going on: it's skipping pages
What scenario: when viewport is less than 100% AND you make a big swipe
My theory: when you fling the finger, it is calculating something like 150% and skipping the next page.

That's all I know, but the gif above should help.

[2019-08-05 16:37] collinjackson commented on #37582
The best way to elevate Flutter issues is to use thumbs-up since that's how we're prioritizing our efforts.

For local builds, I wonder if precompiled CocoaPods dependencies would help. https://guides.cocoapods.org/plugins/pre-compiling-dependencies.html

[2019-08-05 16:37] zanderso commented on #36853
https://github.com/flutter/flutter/commit/30eec11e7ddcdd44324cbe0cdfd719c0f7b33594 was a revert, so it is probably not the culprit here. https://github.com/flutter/flutter/commit/24f483cf25aab43a389a64f15bf9cc1aee130f47 seems like the most relevant commit. Re-assigning to @dkwingsmt

[2019-08-05 16:38] goderbauer opened #37626 "Consider deprecating setSurfaceSize"
You can do the same with `physicalSizeTestValue`.

History: "setSurfaceSize was first IIRC, and physicalSizeTestValue was second. The first solved the specific problem of setting the size of the test surface. The second allowed you to just override anything on the Window."

[2019-08-05 16:39] goderbauer commented on #37626
/cc @Hixie @dnfield @mehmetf

[2019-08-05 16:45] LSmint commented on #35857
any progress on this issue?

[2019-08-05 16:47] KagurazakaHanabi commented on #35127
On real devices, the native app will have vibration feedback, but flutter does not.

[2019-08-05 16:48] Piinks commented on #35404
Here's a few points of reference to some of the recent work here:
https://github.com/flutter/engine/pull/8848
https://github.com/flutter/flutter/pull/33999
https://github.com/flutter/flutter/pull/34298

cc/ @dnfield he may know the answer to your question @jason-simmons. Do we have a runnable reproduction of this? I'm not sure I understand what is happening here versus the expectation.

[2019-08-05 16:49] stuartmorgan commented on #37623
I think window creation details should just be added as arguments to `FlutterDesktopCreateWindow`. In the interests of future-proofing this a little bit, rather than adding a boolean argument let's add a struct of window properties. That will make adding other properties in the future trivial (and not cause breaking changes for clients that don't care about them).

We can move initial width, heigh

[2019-08-05 16:50] dnfield commented on #37626
Is it an API break if we just mark it deprecated?

[2019-08-05 16:51] jmagman commented on #37392
It can't find the packages so it doesn't look like they updated.  What does "some of the plugins can't be updated from the root of project or something" mean?

[2019-08-05 16:54] jmagman commented on #37607
Google translate:

[2019-08-05 16:56] stuartmorgan commented on #37620
So you want to override it not to a fixed value, but a value that's constantly recomputed as the window resizes?

The existing logic would determine the default; a manual setting would just override that. So I don't think it should be complicated.

[2019-08-05 16:57] ADLsourceCode commented on #5422
@chunhtai  by when can we expect this to happen. any idea...

[2019-08-05 16:57] SPK-RPI commented on #15100
Can you explan what it is doing.

[2019-08-05 16:58] stuartmorgan commented on #37617
Can you explain what exactly you mean by "show"? Are you attempting to type these characters and they aren't showing up correctly, or are you setting them programmatically and they aren't showing up?

If the former this is #30661. The latter would be unexpected.

[2019-08-05 16:58] jonahwilliams opened #37627 "RenderView diagnosticProperties uses Platform.operatingSystem"
We need to remove or refactor this in order to support the widget inspector for web applications.

https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/rendering/view.dart#L258

[2019-08-05 17:02] goderbauer commented on #37626
Our analyzer tests would fail if we'd continue to use it, so for us it would be :) . And the goal is to eventually remove it altogether. So at that point is would be an API break.

[2019-08-05 17:02] dnfield commented on #35404
We introduced a distinction between Window insets and Window padding to maintain some compatibility with how it used to work, which turned out to have some problems on iPhone X: https://github.com/flutter/engine/blob/master/lib/ui/window.dart#L531 and https://flutter.github.io/assets-for-api-docs/assets/widgets/window_padding.mp4

It looks like that Java class should be setting the `viewPadding` n

[2019-08-05 17:04] mdhvkothari commented on #37464
https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility.
This works for me

[2019-08-05 17:04] #37464 closed

[2019-08-05 17:04] yjbanov commented on #37625
@jonahwilliams reassigning to you since you're sending CLs already :)

[2019-08-05 17:05] dnfield commented on #37626
Yes, but we could make it a "soft" break by just deprecating it before we remove it, with the idea being that analysis failures are a softer break than just deleting the API.

[2019-08-05 17:06] goderbauer commented on #37626
Yeah, we should do that. Keep it deprecated for a couple of Flutter releases and then just remove it.

[2019-08-05 17:09] HansMuller commented on #21026
@hasen6 I agree with you. It might be preferable to factor out component layout values, including padding, into parameters and perhaps themes, however that doesn't always scale nicely. In many cases I think it's preferable to put more emphasis on composition over configuration; in other words for components whose complex layout hews to a UI spec like material, make sure that it's easy to build som

[2019-08-05 17:10] knaeckeKami commented on #37578
I ran into this too.
A possible workaround for this is to use a `SliverList` with a `SliverChildListDelegate` instead of multiple `SliverToBoxAdapter`.
This prevented the 1-2 pixel gaps from occurring.
I had another issue with a pixel gap in a `SliverFillRemaining`, but I was able to work around this by using wrap the child of the SliverFillRemaining with a  `Transform.translate(offset: const Offs

[2019-08-05 17:13] vanlooverenkoen commented on #37578
And does it work for all phones? Because I found that I only had this issue with android devices. but not all android devices. depends on pixel density

[2019-08-05 17:17] chunhtai commented on #31412
@justinmc Do we have any plan for this feature?

[2019-08-05 17:18] justinmc commented on #35127
Thanks for pointing that out, I missed it due to using only the simulator.  I'll create a new issue and link it back here.

[2019-08-05 17:20] justinmc opened #37628 "Scrollbar Dragging Haptic Feedback"
iOS 13's draggable scrollbar was implemented in https://github.com/flutter/flutter/pull/35829, but it is missing the vibration at the start of the gesture.

We may need to check on a physical device running iOS 13 for the exact type of vibration.

[2019-08-05 17:20] justinmc commented on #35127
Here's the issue: https://github.com/flutter/flutter/issues/37628

@KagurazakaHanabi Do you know what the vibration pattern is?  Would a simple `HapticFeedback.vibrate()` work?

[2019-08-05 17:22] dnfield opened #37629 "Re-enable the setResourceCache tests in flutter/engine"
Disabled in https://github.com/flutter/engine/pull/10633 because of flakiness on CI.

[2019-08-05 17:24] knaeckeKami commented on #37578
It works on all phones that I tested it, which is both iOS and Android and a range of various pixel densities. Can't guarantee it won't cause any anti aliasing artefacts for all use cases an configurations, though.

[2019-08-05 17:27] justinmc commented on #31412
No concrete plans for custom selection menu items yet.  However, [this issue](https://github.com/flutter/flutter/issues/35826) shows that the current selection menu often overflows, so I was thinking of implementing the "three dots" overflow first.

Also I ran into https://github.com/flutter/flutter/issues/30976, @dkwingsmt are you working on this?

[2019-08-05 17:29] gilzon commented on #33938
This works!!!!!!!!!!!!!! Thnaks

[2019-08-05 17:31] HansMuller commented on #37612
I'm closing this because the description doesn't describe a problem with what I assume was a material library theme.  Or any problem at all.

[2019-08-05 17:31] #37612 closed

[2019-08-05 17:32] ejamesc commented on #5422
@chunhtai thank you so much for your work on this. I’m very grateful.

@ADLsourceCode please thumbs up on #31412, and move all discussion there.

[2019-08-05 17:41] cic1988 opened #37630 "flutter_web onPlatformViewCreated not called"
Hi all,

I am testing one of the examples in flutter_web, the HtmlView. I found that the onPlatformViewCreated was never called. Is it a known issue? Here the code attached and the health check:
[code]
[lib.zip](https://github.com/flutter/flutter/files/3468727/lib.zip)
(content):
instascan.dart
[code]
main.dart
[code]

Thanks in advance :)

[2019-08-05 17:42] KagurazakaHanabi commented on #35127
The vibration like `CupertinoSliverRefreshControl`, so I think maybe `HapticFeedback.mediumImpact()` can work...

[2019-08-05 17:43] GaryQian commented on #35994
The first part of the first part of this bug has been landed. https://github.com/flutter/engine/pull/10127 makes LibTxt track the metrics in a central `LineMetrics` object and provides access to it. It should also theoretically get a slight performance boost from reduced overhead, but this is unlikely to be significant/noticable. Next steps include exposing this through dart:ui and the framework.

[2019-08-05 17:45] HansMuller commented on #37587
OutlineButtons always have a transparent fill unless the button's highlightElevation is set to a value > 0. If that's the case then the outline button is filled with the specified `color` when pressed - before it's elevation is increased and its shadow appears.

The OutlineButton documentation is not clear on this, we need to fix that.

[2019-08-05 17:53] HansMuller commented on #37550
What material library component[s] are you referring to - "interactive selection"?

[2019-08-05 17:53] dkwingsmt commented on #30976
Update as of 8/5/2019:

Development on this has been paused.

Multiple problems were found. One of them is https://github.com/flutter/flutter/issues/34025, which severely affects user experience, but I'm not aware of solution or workaround unless we re-implement modals into multiple activities (?).

I'm still planning to come back and implement a non-extensible context menu that supports basic ope

[2019-08-05 17:56] dkwingsmt commented on #31412
@justinmc Unfortunately I've paused the investigation on context menu, with reason I've just added to that issue. I plan to come back and implement some critical feature in a non-extensible way, but it'll take quite some time.

[2019-08-05 17:56] yjbanov commented on #33309
Would a path dependency work for you for now? We're in the middle of moving the workflow to the mainline Flutter SDK, where this issue should be fixed.

[2019-08-05 17:57] #37491 closed

[2019-08-05 18:21] christopherfujino commented on #36145
This looks to me like anaconda overriding the system libssl with its own, of a different version. Assuming anaconda is configured in your shell config, could you try opening a new, default config bash shell like: `bash --noprofile --norc` and then try `flutter doctor` to see if that is indeed the issue?

[2019-08-05 18:27] Sitiritis commented on #34993
I have to keep running some code in my plugin in a separate thread for UI not to block, but when I try to run the code, I get `Methods marked with @UiThread must be executed on the main thread.`

How do I fix this?

[2019-08-05 18:36] siyasangab commented on #37616
I have the same issue and I can't compile
`Note: Some input files use unchecked or unsafe operations.
Note: Recompile with -Xlint:unchecked for details.
Note: C:\flutter\.pub-cache\hosted\pub.dartlang.org\url_launcher-5.1.2\android\src\main\java\io\flutter\plugins\urllauncher\WebViewActivity.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
D8: Program t

[2019-08-05 18:37] siyasangab commented on #37616
I have the same issue

Note: Some input files use unchecked or unsafe operations.
Note: Recompile with -Xlint:unchecked for details.
Note: C:\flutter\.pub-cache\hosted\pub.dartlang.org\url_launcher-5.1.2\android\src\main\java\io\flutter\plugins\urllauncher\WebViewActivity.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
D8: Program type already present:

[2019-08-05 18:43] liyuqian commented on #37541
This might be a GPU driver issue that's specific to Android Q on Pixel 2. @cachapa : can you please if the same issue happens on Pixel 2 with Android P?

[2019-08-05 18:57] miguelpruivo commented on #37550
@HansMuller I don’t know which is the correct name for the text selection options that appear (copy, cut, paste), so I thought it could be explicit enough, sorry. 😅

Anyway, if you customize your `buttonTheme` and set, let’s say, a `minWidth` and with a circular shape, because you want your app `RaisedButton`s to match that style, you’ll also directly affect the _cut, copy, paste_ option buttons f

[2019-08-05 18:58] lucascolli commented on #37182
Hi @florent-huran,

Thanks for the response. Unfortunately (as mentioned in the issue) I already tried adding `s.static_framework = true` to the podspec, but this is only a short-term fix because any changes are reverted whenever the file is generated (i.e. pod install).

[2019-08-05 19:01] zeucxb commented on #12725
I restarted my Mac and it worked.

[2019-08-05 19:06] lucascolli commented on #37182
I managed to resolve this in my environment, and posted the solution here: https://stackoverflow.com/a/57296844/11730742

[2019-08-05 19:06] #37182 closed

[2019-08-05 19:27] franciscojma86 commented on #37622
It might actually be https://github.com/flutter/flutter/commit/eef3d48377045a846fa865c54c1cccad30a410f9 (I missed that one earlier). Running local tests to figure it out.

[2019-08-05 19:27] ferhatb opened #37635 "[web] debugPrintStack has Stacktrace.current on top of stack"
Stacktrace.current is included when calling Stacktrace.current for web platform but is skipped for VM/AOT.

## Steps to Reproduce

Disable skip:isBrowser in test/foundation/assertions.dart

[2019-08-05 19:40] pyetti commented on #11655
How can this be done when using a StreamBuilder in the build() method? I haven't seen an example of using a StreamBuilder anywhere other than in the build() method.

[2019-08-05 19:41] gazialankus commented on #37617
For these letters it's #30661: ğşıĞŞİ
For these, there is a "switch to hiding mode" behavior, which is different: üöçÜÖÇ.

When you press any of these "hiding" keys, nothing happens visually (no broken character shows). After that, whatever letter you press is also hidden. However, if you press backspace enough number of times and delete that invisible "hiding" character, new keys that you press w

[2019-08-05 19:43] jonahwilliams commented on #36853
All of these benchmarks have pretty clear bimodal behavior. This is a known issue with our devicelab configuration and shouldn't be a TODAY issue

[2019-08-05 19:47] #37629 closed

[2019-08-05 19:54] dkwingsmt commented on #36853
Sorry I've never dealt with compile time before. What is the suggested approach of investigation here?

[2019-08-05 20:10] stuartmorgan commented on #37617
That's all text input, so it's all part of #30661.

[2019-08-05 20:10] #37617 closed

[2019-08-05 20:15] franciscojma86 commented on #37273
Discussed offline with @jason-simmons, he did an auto rebase of image_cache diff-median and start-min. Will remove TODAY label and keep monitoring.

[2019-08-05 20:18] nsmith1024 commented on #22905
How to do it then? I need to detect double click of power button even when the app is in background.

[2019-08-05 20:19] chunhtai commented on #11655
@pyetti I might be missing something, but do you have a code example that you are having trouble with?

[2019-08-05 20:20] nsmith1024 commented on #22905
The power button on my phone is used for taking pictures and screen shots of the phone, so then it must be able to be detected in software.

[2019-08-05 20:22] thevishvajeet opened #37639 "Error: a non-null String must be provided to a Text widget"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]
Performing hot restart...
Syncing files to device Redmi Note 5...
Restarted application in 2,357ms.
I/flutter (28602): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (28602): The following assertion was thrown building QuizPage(dirty, state: _QuizPageState#87270):
I/

[2019-08-05 20:29] franciscojma86 commented on #37622
This metric was rebaselined with https://github.com/flutter/flutter/issues/37273. The increase was expected due to a change in the implementation.

[2019-08-05 20:29] #37622 closed

[2019-08-05 20:31] #30025 closed

[2019-08-05 20:31] feinstein opened #37640 "Flutter style guide conflicst with Dart Style guide."
The [Flutter style](https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo) and the Dart [style guide](https://dart.dev/guides/language/effective-dart/style) appear to conflict on some cases, like:

[Flutter](https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo#separate-the-if-expression-from-its-statement):

[code]

[Dart](https://dart.dev/guides/language/effective-d

[2019-08-05 20:39] tobiassilva commented on #20042
tente usar `resizeToAvoidBottomPadding: false, ` em seu Scaffold

[2019-08-05 20:45] chinmaygarde opened #37641 "Allow embedders to specify arbitrary data to the isolate on launch."
Currently, only certain fields are available to the isolate on launch. These fields are currently present in the `RuntimeController::WindowData` struct. While the data in that struct is meant to persist across isolate restarts, the engine doesn't care what that data looks like. Also, when embedders want to add new fields to that struct, they need to patch the engine. The engine should instead deal

[2019-08-05 20:55] xster opened #37643 "Document the memory usage characteristics of using multiple FlutterEngines"
Specifically when not all FlutterEngine instances are simultaneously visible. Could multiple FlutterEngines instances be a feasible and economic way of representing multiple UI and navigation states like webviews.

[2019-08-05 20:56] pyetti commented on #11655
I'm having the same issue as everyone in this thread. The build method is being called when a new page is pushed onto the stack, which is causing StreamBuilder to run again, since it's in the build method. It's even running multiple times under certain circumstances (I'm pushing a page with a form, and when adding the hintText, the previous page's build method runs again. I have no idea why that w

[2019-08-05 20:58] xster opened #37644 "Document the recommended way of producing multiple embedded Flutter UI / navigation states"
add-to-app cases adding Flutter as not a single contiguous navigation segment will want to preserve multiple Flutter instances' states and navigations stacks such as 2 Flutter tabs or a Flutter->native->Flutter navigation stack.

This involves first fleshing out the details of https://github.com/flutter/flutter/issues/37643 and deciding on a multi engine approach or a single engine approach.

This

[2019-08-05 21:00] matthew-carroll commented on #33097
@xster can you define the definition of done for this ticket? I've done some work on the Android API, but I'm not sure what this ticket is really looking for.

[2019-08-05 21:08] matthew-carroll commented on #31185
The framework probably can provide some help here by providing a top-level widget as described. We've discussed it before, but I don't believe we have this goal prioritized.

CC @xster do you have any thoughts?

[2019-08-05 21:15] matthew-carroll commented on #26931
Hi @AnhDTN would you mind filing a new issue, including your Flutter doctor output, and providing a minimal set of reproduction steps?

[2019-08-05 21:30] xster commented on #31185
If I understand right, the question is if in Android/iOS, the point in code where you determined that you want to prewarm the Flutter engine isn't the same point where you determine which route the Flutter engine wants to preload right? Or if you already prewarmed the engine and you change your mind on which route the prewarmed engine should show, there isn't easy ergonomics?

The iOS FlutterViewC

[2019-08-05 22:22] #34201 closed

[2019-08-05 22:40] emptyopen opened #37648 "PaginatedDataTable: updating a cell"
I've tried everything I can think of to get my PaginatedDataTable to update after the user updated a cell value, but nothing has worked so far. Currently, this code successfully updates the value in memory, but I have to restart the app to see the new value be reflected in the table.

I know I have to pull data out of memory in the HistoryPageState class and pass that on, but I'm at a total loss o

[2019-08-05 22:54] HansMuller commented on #37550
OK, I think I understand what you're after.  The material TextField builds a [TextSelectionControls instance](https://api.flutter.dev/flutter/material/materialTextSelectionControls.html) that ends up in the app's overlay. So it only really inherits from the app's theme.  That means a definition of ButtonTheme in the TextField's context will not apply to the text field menu. And it means that a glo

[2019-08-05 22:58] HansMuller commented on #36445
A similar problem, [this time with the text selection menu](https://github.com/flutter/flutter/issues/37550#issuecomment-518431097) , was just reported.

The source of both issues is that inherited widgets that are visible in the context of a widget that's to become the child of a new route or the current route's overlay, will not be visible when the widget is built.

[2019-08-05 23:09] #37502 closed

[2019-08-05 23:11] BugsBunnyBR commented on #36375
@cyanglaz , is there anything I could do/write to speed up this ticket?

[2019-08-05 23:35] cyanglaz commented on #36375
@BugsBunnyBR we need some sort of integration test to this plugin so we know it won't break and also reduce the maintenance burden in the future. I currently don't have an idea on how we can test this plugin.
cc @collinjackson may have some thoughts.

[2019-08-05 23:39] miguelpruivo commented on #37550
@HansMuller what if you don't have any "in context" theme? Will it use the global theme?

For simplicity sake and also, to make it more customizable, I personally would like to see your second point: a property -- which can be inside the `ButtonTheme` -- that could allow styling the `TextSelectionControls` which, as of now, seems pretty unclear how to achieve so.

[2019-08-05 23:40] miguelpruivo commented on #37550
@HansMuller what if you don't have any "in context" theme? Will it use the global theme?

For simplicity sake and also, to make it more customizable, I personally would like to see your second point: a property -- which can be inside the ButtonTheme -- that could allow styling the TextSelectionControls which, as of now, seems pretty unclear on how to achieve so.

[2019-08-05 23:42] jmagman commented on #37373
@gaodeying Can you paste your `flutter doctor -v`?  We can't diagnose if we don't know what commit and channel you were on.

[2019-08-06 00:04] domesticmouse opened #37651 "ListView ensure an entry is visible"
## Use case

When constructing a ListView of content in an app, I want to be able to scroll the content to ensure a specific item is visible. Example APIs:

* [.NET `ListView.EnsureVisible(Int32)`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.listview.ensurevisible?view=netframework-4.8)
* [Qt `QAbstractItemView scrollTo`](https://doc.qt.io/qt-5/qabstractitemview.html#scrollTo)

[2019-08-06 00:09] jmagman commented on #37582
Unscientifically on my machine, times for each library:
**FirebaseFirestore - 48.9s**
gRPC-Core - 15.2s
gRPC-C++ - 9.2s
BoringSSL-GRPC - 8.8s
Protobuf - 1.9s
nanopb - 0.6s
FirebaseCore - 0.6s
FirebaseInstanceID - 1.0s

[2019-08-06 00:13] xster commented on #33097
I can't really recall what was already done or not :S. I think we can say this one's done if Android and iOS both have defaults for starting VM entrypoints or neither have defaults.

[2019-08-06 00:18] jonjon1123 commented on #32759
I use their email address that has been Salsa20 encrypted and then converted to base64.

I had tested a brand new tester account in the past and it didn't work. This time, I tried removing sending the applicationUserName and it worked!

So I guess the question now is, why was the way I was setting the applicationUserName causing this issue?

[2019-08-06 00:38] cyanglaz commented on #32759
@jonjon1123 The only thing I can think is that the encrypted string that you used when purchasing is different from the encrypted string you used when querying the past purchases. Maybe confirm that?

[2019-08-06 00:41] epomatti commented on #12627
Same here... not only it did not show output, but also it didn't upgrade my outdated packages.

[2019-08-06 01:05] sdfsdhgjkbmnmxc commented on #9507
+1

[2019-08-06 01:21] abartolo commented on #22904
I would love this feature. As @sir-boformer said, it would be great to have the DropDownButton have the same material design look at the material documentation states https://material.io/design/components/menus.html#exposed-dropdown-menu.

I am new to Flutter and while I am enjoying the developer experience, I am shocked the DropDownButton doesn't have the material support out of the box like the

[2019-08-06 01:23] jonahwilliams commented on #37582
It sounds like the pod install is essential the build framework/plugin equivalent for iOS?

[2019-08-06 02:13] collinjackson commented on #37582
@jonahwilliams I'm not sure I understand your question, but pod install downloads and installs new pod source files, and writes the version it has installed, for each pods, in the Podfile.lock file. Those files then get compiled during the later (slow) build step.

I tried `cocoapods-binary` but ran into a build error that I'm not sure how to resolve.

[code]

I didn't see an obvious solution but

[2019-08-06 02:20] pouloghost commented on #37437
Network bandwidth consumption is also needed. Able to monitor **per isolate** will be really very helpful in real world, giant apps.

[2019-08-06 02:21] jnaval04 commented on #11861
Any updates on this one? I am encountering performance issue deploying my release apk to Asus Zenfone 5 (T00j). I think this is the phone [specs](https://www.gsmarena.com/asus_zenfone_5_a500cg_(2014)-5952.php).

Here is my flutter doctor:

[code]

[2019-08-06 02:26] Kinnear commented on #34229
I'm having this issue as well! It works on android but it doesn't work in iOS. Anyone else having the same issue?

[2019-08-06 02:29] xumengqiang opened #37653 "局部路由跳转的时候报错"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-08-06 02:35] JWong1105 commented on #22496
hello, but i wanna show the last white space, do you have any idea? your method will remove the last white space.

[2019-08-06 02:47] JWong1105 commented on #25312
hi, the space at the end is still not shown, the current stable channel has fixed it? thanks!

[2019-08-06 02:49] naseefro opened #37655 "[ERROR:flutter/shell/common/shell.cc(184)] Dart Error: Unhandled exception: E/flutter (26558): HandshakeException: Handshake error in client (OS Error: E/flutter (26558): CERTIFICATE_VERIFY_FAILED: unable to get local issuer certificate(handshake.cc:363))"
I got this error when i run my FLUTTER  app in my phone

[ERROR:flutter/shell/common/shell.cc(184)] Dart Error: Unhandled exception:
E/flutter (26558): HandshakeException: Handshake error in client (OS Error:
E/flutter (26558):      CERTIFICATE_VERIFY_FAILED: unable to get local issuer certificate(handshake.cc:363))

![Screenshot 2019-08-06 at 8 19 02 AM](https://user-images.githubusercontent.com/

[2019-08-06 02:49] westracer commented on #19830
Same issue. Importing flutter.jar fixes resolving, but then project fails to build.

[2019-08-06 02:50] feinstein opened #37656 "PageView.onPageChanged not called for first Page"
The `PageView.onPageChanged` has the following documentation:

On my tests I can see that it does notify every time the page changes... BUT it doesn't notify when the first page is loaded for the first time. As I understand it, it should notify also when the first page loads for the first time, as it qualifies as a "page in the center of the viewport change".

[2019-08-06 02:51] naseefro commented on #37655
This is my Code

`class _LoginPageState extends State<LoginPage> {
  static const CREATE_POST_URL =
      'https://aniqapidev.mozafgapps.com/api/v1/auth/signin';

  TextEditingController titleControler = TextEditingController();
  TextEditingController bodyControler = TextEditingController();

  Future<User> login(String url, {Map body}) async {
    SharedPreferences prefs = await SharedPreference

[2019-08-06 02:56] orgio opened #37657 "error flutter firestore 0.12.9"
![error](https://user-images.githubusercontent.com/27058809/62508017-c1c36c00-b838-11e9-86d3-ea8a5ba1e7c5.PNG)

[2019-08-06 03:02] MichaelPriebe commented on #32661
https://github.com/marketplace/stale

[2019-08-06 03:02] dumplings commented on #36671
why nobody respond to me... please...

[2019-08-06 03:02] GustavoContreiras commented on #37447
Solved by double clicking on the red error message and then clicking on the error on the regift.swift file and then clicking on "fix". But I have to do that everytime I open the project on XCode.

[2019-08-06 03:16] dumplings opened #37659 "why a page with statefull is rebuild every time when the global route change?"
### what

this is my [code](https://github.com/dumplings/flutter-demo/tree/master/life_cycle).
i make 5 pages, one is extends stateless, others statefull, and Their relationship is `push` or `pop` to next one,  and i found out something is that if i go next page, old will be rebuild, even how old page(just statefull page will happened), I know that using statefull at the root is a matter of perfor

[2019-08-06 03:25] masashi-sutou commented on #37542
@MiguelSOliveira What's your workaround without downgrading?

[2019-08-06 03:29] xster commented on #37225
We'd still like to find and solve the root issue. Leaving this bug open.

[2019-08-06 03:30] ketanm commented on #37575
Hi @Kevin088

You seem to have installation issues. Please follow the steps as listed in the guide.
Also before reporting, do a search for existing reported issues.

The similar issue has already been closed and clarified - https://github.com/flutter/flutter/issues/22547
#22547

[2019-08-06 03:34] KlausJokinen commented on #32661
@Hixie

[2019-08-06 03:37] ketanm commented on #37639
Hi @thevishvajeet,

In order for anyone to help you, please file the reports properly. e.g. 1) Share actual code, 2) link relevant stack trace and 3) report what you did to address the recommendation.

Stack trace already shows that you are entering null in the text widget (`data`), share actual code block and situation what is going on and why you think it should work based on your actual data.

[2019-08-06 03:40] #37653 closed

[2019-08-06 03:42] awazgyawali commented on #36999
Hi @amirh can I get an update on this, maybe you can let me know where to look upon to fix this issue? I will be happy to work on it.

Is it something to do with PlatformView or just the GoogleMaps plugin?

[2019-08-06 03:43] natezhengbne commented on #36584
@Hanousi You shouldn't put the scrollable widget in the Positioned part.
I removed the positioned after is working well.

[2019-08-06 03:43] douglascaurismo commented on #27457
I had the same problem (on ios 10), the banner that should be placed at the centered at the bottom is appearing in top left corner. After a while when the ad changes to the next, it gets its position fixed.

I was wondering why this project does not offer a way to place ads inside the widget tree.
That would be a huge improvement.

[2019-08-06 03:50] ketanm commented on #37477
@0123cf  - you need to follow steps fully.

After cloning make sure that path to the flutter is updated in the `PATH` env variable and you are able to execute `flutter -v`.

You are not having flutter but setup issues. Provide more details once above changes are done.

[2019-08-06 03:50] ketanm commented on #37467
Provide more information so that someone can help you.

[2019-08-06 03:50] jmagman commented on #37640
There was some discussion about this in https://github.com/flutter/flutter/issues/31448.
This is a request for doc clarification though, not a style change.

@Hixie

[2019-08-06 03:51] stuartmorgan opened #37660 "Switch to 'assemble' regressed track-widget-creation on macOS"
The recent switch to using `assemble` for macOS builds regressed #31274, so hot reload in IDEs crashes.

/cc @jonahwilliams

[2019-08-06 03:57] ketanm commented on #37458
@XXEgges
As error informs, try to repeat install steps properly.
Before doing it again, It may be useful to clear the cache by just deleting partial files or all files from `/Users/awen/develop/flutter/bin/cache/`.

[2019-08-06 04:21] kalittles commented on #19647
Is there any update on this?
Or anyone with a potential workaround?

[2019-08-06 04:23] stuartmorgan commented on #37660
@jonahwilliams Assigning to you; please fix ASAP or revert the assemble change (here and in FDE). I thought this might be straightforward to fix so I wired it back up in the script as a new `-d` and passed it to the `trackWidgetCreation:` that's currently hard-coded to false in `dart.dart`.

The result was that clean builds failed on the copy of flutter_assets, and non-clean builds silently used t

[2019-08-06 04:43] truongsinh commented on #31138
now that it's solved in stable `1.7.8-hotfix.4`, should this issue be closed even if the current one is the temporary fix only? We can open a new enhancement issue for more optimized fix.

[2019-08-06 04:45] melianawinata opened #37662 "Firestore.instance.runTransaction((transaction) async doesn't work what should i do :("
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-08-06 04:46] melianawinata commented on #37662
Trying to implement from this tutorial : https://codelabs.developers.google.com/codelabs/flutter-firebase

[2019-08-06 04:47] melianawinata commented on #37662
stuck at step 11 ..

[2019-08-06 05:07] jonahwilliams commented on #37660
Fix is pending https://github.com/flutter/flutter/pull/37512. Sorry about the trouble this caused. I had though the builtin transformer had landed but that isn't the case.

For the failure case, it would be good to understand why this is happening. Separately I'll revert the assemble change in FDE and the tool

[2019-08-06 05:08] truongsinh commented on #36869
maybe changed to `FocusScope.of(context).unfocus();`, ref https://github.com/flutter/flutter/issues/7247#issuecomment-491038982

[2019-08-06 05:13] #37627 closed

[2019-08-06 05:16] ravikantsharmagit commented on #37612
You got a log I think so it was sufficient, by the way I have created a
class that extends theme class and it's method are returning themedata but
when I set this themedata as theme of stateless widget I got that crash. It
might helpful to you.

On Mon, Aug 5, 2019, 23:04 Hans Muller <notifications@github.com> wrote:

[2019-08-06 05:19] chinmaygarde commented on #37401
Fixed in https://github.com/flutter/engine/pull/10652

[2019-08-06 05:19] jonahwilliams commented on #37660
For more context, the prs for landing the SDK included transformer are:

https://github.com/flutter/engine/pull/9227
https://github.com/flutter/engine/pull/9134
https://github.com/flutter/engine/pull/9085

[2019-08-06 05:22] dnfield opened #37665 "Set pipeline depth properly when dynamic thread merging is enabled for iOS platform views"
The fix introduced by #31138 is only meant to be temporary, and will need to be updated or reverted when the new dynamic thread merging logic for iOS platform views is complete.

/cc @chinmaygarde @amirh @iskakaushik

[2019-08-06 05:23] dnfield commented on #31138
I think that's a good idea.  I've opened https://github.com/flutter/flutter/issues/37665 to track the enhancement.

[2019-08-06 05:23] #31138 closed

[2019-08-06 05:23] jonahwilliams commented on #37660
Oh, I think I know what happened there. The re-entrancy of the whole thing is kind of wonky. The Environment created by https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/macos/build_macos.dart#L29 needs to match what gets created by the bash script, or we can' find the executable

[2019-08-06 05:25] dnfield commented on #37662
This would be a better question for StackOverflow or one of the chat channels listed at https://flutter.dev/community.

Since this is not a feature request or bug report, I'm going to close this issue.  If you think that's in error, please feel free to re-open - for example, if there is documentation that is incorrect.

[2019-08-06 05:25] #37662 closed

[2019-08-06 05:39] MattGson commented on #36112
Same issue except mine doesn't show 'hours' and 'mins' labels next to the scroll wheels either.

[2019-08-06 05:42] danish-khan-I commented on #31019
yes. you need INTERNET permission.
for that you need to goto `android/app/src/main/AndroidManifest.xml `
`<uses-permission android:name="android.permission.INTERNET"/>`

[2019-08-06 05:43] hasen6 commented on #21026
If you go in that direction then you end up with apps that _look_ like Flutter apps. I think flexibility is more important. Take CSS for web design, it's 100% flexible with barely any built in padding and of  which is easily removed anyway. That way people have ultimately flexibility in their web design.

Also consistency is a problem in Flutter. Like for example with the MaterialButton you have t

[2019-08-06 05:45] kaifiappsmaven opened #37666 "Keyboard glitching"
hi, whenever keyboard opens either in android/IOS there is glitch that can be seen when keyboard opens. Its not smooth

[2019-08-06 06:01] rahul-rahul1 commented on #19348
[ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: Error on line 1, column 32: Invalid media type: expected /[^()<>@,;:"\\\/[\]?={} \t\x00-\x1F\x7F]+/.
      ╷
    1 │ application/json;charset=utf-8;

[2019-08-06 06:06] jamie1192 opened #37668 "Using escape characters in variable strings"
While this could be more of a SO-type question, [I have posted there already to no useful response](https://stackoverflow.com/questions/57213902/new-line-n-not-being-respected-when-reading-from-sqflite-result) so I'm out of options and this is currently a blocker for many of our production apps that rely on data-driven icons and string formatting.

I'm trying to use escape characters in both SQFli

[2019-08-06 06:06] pyetti commented on #11655
I think I found a solution. It feels like it might be a hack, but it seems to accomplish the task. Essentially, I'm caching the result of the build method, and checking in a listener attached to the stream if any new data showed up. If It did, clear the cached result and rebuild. I haven't fully tested this.

[code]

[2019-08-06 06:08] gaodeying commented on #37373
@jmagman
`cd /Users/garodeying/Desktop/Git_FlutterHybrid/flutter_to_native
rm -rf .ios
flutter build ios`

It work for me. Thank u very much. you r so beautiful

[2019-08-06 06:13] ketanm commented on #37298
@007fred50  - Can you clarify what folder path did you change? Did you change location to flutter?

Above text shows that you are running into gradle execution.
* Do `flutter clean` inside the project and
* also delete `android/.gradle`. If you have changed the flutter path then `android/local.properties` would still have an old path.

It is better to delete old android and ios build files and re-

[2019-08-06 06:24] #37557 closed

[2019-08-06 06:35] qiwang97 opened #37669 "How about decoupling the style out of the dart file"
## Use case
i start to develop my app this week and i used to work with html/css/js and other framework.
i feel hard to learn and use flutter.

Flutter framework is design to has a lot of classes especially the container widget class such as listview,row,grid. It's hard to remember most of them with its parameters. OK ,i can do it. But another problem raises, too much deep nested structure of widg

[2019-08-06 06:37] kawaijoe commented on #36112
Ping, are there any updates?

[2019-08-06 06:39] Deepavsp commented on #27584
@rajeshzmoke- I changed stickauth to true and it worked properly. Check if you're able to get the list to available biometrics with getAvailableBiometrics() method

[2019-08-06 06:43] Artoria-Huang commented on #36688
same issue on iOS 13 beta5

[2019-08-06 06:47] roeierez commented on #23565
Totally agree. @shinayser how did you manage to show the dialog inside a nested navigator?

[2019-08-06 06:48] cremor opened #37670 "Flutter doesn't find plugins if Android Studio config path is changed"
## Steps to Reproduce

1. Install Android Studio, the Android SDK, the Flutter plugin and the Flutter SDK. Choose a custom path for the Android SDK installation and set `ANDROID_HOME`. Run `flutter doctor`. Everything is fine:
[code]
2. Modify `C:\Program Files\Android\Android Studio\bin\idea.properties` so that `idea.config.path` and `idea.system.path` point to custom paths.
3. Move the existing

[2019-08-06 07:23] cosinus84 commented on #11655
@pyetti I also find a hack for my problem but flutter team should handle this "hacks", for the moment I think I did a lot of hacks in flutter, it would be nice if they will start to solve them.

[2019-08-06 07:31] cachapa commented on #37541
Unfortunately my Pixel 2 is my daily driver and I can't reset it. Please let me know if there's anything else I can help with though.

[2019-08-06 07:33] melianawinata opened #37671 "Firestore.instance.runTransaction((transaction) async won't work."
I tried to make application from this tutorial:

https://codelabs.developers.google.com/codelabs/flutter-firebase

and I got stuck at step 11 because

Firestore.instance.runTransaction((transaction) async won't work.

What should i do?

This is the code that i've made so far :
[code]
it execute  print("123"); but it won't execute  print("456");

[2019-08-06 07:37] Tumbler0809 commented on #37597
Okay thank you

[2019-08-06 07:41] vanlooverenkoen opened #37672 "Flutter CustomScrollView scrolls when there are not enough items"
Having an issue with scrolling when using slivers and a sliver appbar. How can I prevent the scrollview from scrolling when no scroll is needed like in the video. And if there are enough items for scrolling it should scroll (That works perfectly)

I followed this medium post. And you can see that he has the same problem. https://medium.com/@diegoveloper/flutter-collapsing-toolbar-sliver-app-bar-14

[2019-08-06 07:43] Tumbler0809 opened #37673 "[video_player] Add Windows support"
When does the video player plugin support the Windows platform? Is there any plan support?（https://pub.dev/packages/video_player）

[2019-08-06 07:46] Tumbler0809 commented on #37673
Can video playback support full-screen playback?

[2019-08-06 07:50] kaifiappsmaven commented on #18564
Is this fixed now as I am stuck with it and got no solution so far.
Can you please update.

[2019-08-06 07:56] kaifiappsmaven commented on #18564
Hi, this made my view into scrolling. I added padding to child view and bottomsheet height did not change when keyboard opens rather whole view goes to scroll with focus on textfield i tried to edit. Can size of sheet be increased when keyboard opens?

[2019-08-06 07:58] JarrodCColburn commented on #35334
If fixing within the Flutter framework ...For the image, I believe the tag `0x0112` for [Exif.Image.Orientation](https://www.exiv2.org/tags.html) needs to be scanned for. Then check the value 1 through 8 and  [logo]:(https://www.daveperrett.com/images/articles/2012-07-28-exif-orientation-handling-is-a-ghetto/EXIF_Orientations.jpg)

[2019-08-06 08:01] fliermanrw commented on #37669
You can separate the style, by creating a dart file like 'style.dart' and having e.g. some TextStyle functions. No need to create or use another language for this:

[code]

then call it like;

[code]

I do not agree with your proposal to simplify the widgets. Flutter has (at least for me) made it much easier to create layouts/design exactly because of the big Widget library.

[2019-08-06 08:03] matthew-carroll commented on #33097
By "default" do you mean a factory method that creates a `DartyEntrypoint` configured for `main` and the standard apple bundle path? If so, it exists on Android. I don't know if it exists on iOS. Should I assign this to Aaron?

[2019-08-06 08:05] kgrigorian commented on #4553
did u manage to solve the issue? if yes, how?
I am also having a problem that FaceID triggers app lifecycle and currently it's not possible to differentiate faceid and foreground.

[2019-08-06 08:26] rostopira commented on #32443
As a workaround, you can use `dart:js` library: https://api.dartlang.org/stable/2.4.0/dart-js/dart-js-library.html

[2019-08-06 08:29] cremor opened #37675 "Flutter doesn't honor the Gradle service directory path setting of Android Studio"
## Steps to Reproduce

1. Change the setting "Build, Execution, Deployment" - Gradle - "Service directory path" in Android Studio (it is `%userprofile%\.gradle` by default).
2. Build an Android Studio project. Note that it creates the configured path and places Gradle there.
3. Build a Flutter projct. Note that it does **not** use the configured path but instead creates the default path (`%userpro

[2019-08-06 08:33] brux88 commented on #34634
i have the same error, are there news?

[2019-08-06 08:37] bstolinski commented on #20376
[code]

**Android Simulator**
[code]

**iPhone Simulator**
[code]

**physical device (Android/iPhone)**
Also add proxy server settings to your device in system settings.
[code]
This can also be used for simulators (skip adding proxy server settings in system settings).

[2019-08-06 08:41] skycomposter commented on #37620
In my specific use case, I have a number of preset resolutions with a pixel ratio associated to each. I think it would be good enough to allow the value to be set manually when necessary without recomputing as the window resizes.

[2019-08-06 08:44] OPTJoker commented on #33897
Can flutter apply a convenient method（like: run 'flutter update' in project dir） to update Generated.xcconfig's environment path？

[2019-08-06 08:47] mekhi commented on #35700
I also encountered the same problem. Is there any solution?

[2019-08-06 09:04] Timmmm opened #37676 "flushRect crash when resizing on Mac after moving app between displays"
##  Steps to Reproduce

Similar to #17579 but the backtrace is different, and I get weird geometry when resizing.

1. Start a flutter desktop app on OSX on a Macbook that isn't plugged in to any screens.
2. Dock it to some screens (I have two screens in one of those janky dock things), so the laptop lid is now shut and the app is moved to an external display.
3. The window is now completely white,

[2019-08-06 09:07] khachuong commented on #25370
thanks you very much @Chetan8488 , you saved my day

[2019-08-06 09:26] vanlooverenkoen commented on #22393
Any progress on this issue?

[2019-08-06 09:27] atos93 commented on #37657
Just switch to AndroidX -> https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility

[2019-08-06 09:42] rafael-playko commented on #37294
I have the same stack trace, but when logging in with a github auth provider. The crash seems to be caused by the additionalUserInfo map key in the onComplete method in FirebaseAuthPlugin.java

[2019-08-06 09:45] orgio commented on #37657
Thank you so much for sending email to me And i used androidx but does not help maybe i missed something

Sent from Yahoo Mail on Android

  On Tue, Aug 6, 2019 at 5:29 PM, Emanuele Deriu<notifications@github.com> wrote:
Just switch to AndroidX -> https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility

—
You are receiving this because you authored the thread.
Reply to thi

[2019-08-06 10:19] BenBao93 commented on #37616
I am experiencing the same issue, however the project still runs and the package does function for me despite the build error.

[2019-08-06 10:21] ADARSHAGNIHOTRI commented on #37478
Please @flutterteam... Clarify my issue

[2019-08-06 10:22] svprdga commented on #37611
Sorry, we finally discovered the issue and it has nothing to do with the NativeView, the cause was to add a FLUTTER_TARGET var in XCode build settings pointing to a driver test to make driver tests work.

After removing the var, everything works ok

[2019-08-06 10:22] #37611 closed

[2019-08-06 10:24] kangwang1988 commented on #36738
@Hixie
Can you comment on this issue？

[2019-08-06 10:28] ohjs88 commented on #28094
I cached the data by adding some code as shown below.
(I modified video_player 0.10.1+6.)

**VideoPlayerPlugin.java**

Added code
`
private static SimpleCache sDownloadCache;

    class CacheDataSourceFactory implements DataSource.Factory {
      private final Context context;
      private final DefaultDataSourceFactory defaultDatasourceFactory;
      private final long maxFileSize, maxCacheSize;

[2019-08-06 10:31] BenBao93 opened #37678 "[google_maps_flutter] app crash after launch"
After adding the google maps package to my project the app keeps crashing right after launch. Seemingly the app crashes so quick that the debugger is unable to read any exceptions and remains in the 'installing' phase, despite the app having launched and crashed.

I have no import of the package or any code, it crashes from just adding the package.

## Steps to Reproduce

1. Add google maps flutte

[2019-08-06 10:41] chinacode opened #37679 "how to make flutter ios app soft keyboard follow with input text"
how to make flutter ios app soft keyboard follow with input text？plz help me， our team all in flutter for developer app.

**now issues**：we use flutter developer ios  app . then we find ios soft keyboard do not smooth.
**expected value**：pop up softboard  like ios native.

[2019-08-06 10:43] redsolver commented on #37589
Fixed by fully reinstalling Flutter

[2019-08-06 10:43] #37589 closed

[2019-08-06 11:12] rafern opened #37681 "firebase_auth Android crash when using the Github AuthProvider"
When signing in with GithubAuthProvider credentials with Firebase Auth, the app crashes on Android (stack trace below). This happens because info.getProfile() in mapFromAdditionalUserInfo() has JSONObject.NULL values, and JSONObject.NULL is not null, so the message codec does not detect it as a null.

Most likely related to #37294

Stack trace:
`E/AndroidRuntime(31676): java.lang.IllegalArgumentEx

[2019-08-06 11:36] mitesh77 opened #37682 "[google_maps_flutter] google map call onCameraIdle method is not working after open drawer, even open popup dialog on home screen in ios device?"
onCameraMoveStarted,onCameraMove and onCameraIdle not working after open drawer, even open popup dialog on home screen in ios device(not android)
this not responding and then try double tap on map and its working but I don't know how it not working, some code semple:

[code]

[2019-08-06 11:43] AdornaR commented on #36915
Facing the same issue here. This error is only thrown in Google Play.

[2019-08-06 12:06] Amjad50 opened #37683 "BugFix: RoundedRectSliderTrack rendering"
## Use case

Better in rendering RoundedRectSliderTrack which is the default Track

## Proposal
- before: if the slider is high enough there were some bugs:
  + the left arc was always coloured even if the slider is zero.
  + the right arc was always not coloured even if the slider is full.
  + some space between the track and the thumb in the middle,
     this happened when the thumb was a circle

[2019-08-06 12:06] deepss1 opened #37684 "[SWIFT] Custom file extension support for iOS"
So I am developing an application for android and ios using flutter.
In this application I will be giving an option to share file with custom file extension which user can open in my app.

I have successfully added this functionality for android part using native code. (Since I have amountable knowledge in Java)

But, now I want to add this functionality for my iOS users. I am able to launch my ap

[2019-08-06 12:08] honne23 opened #37685 "AnimationController.repeat(reverse=true) not working / not performing as expected"
I'm trying to infinitely repeat an animation by having it reverse to the start when it is completed.
I'v tried to use `.addStatusListener()` and `.addListener()` to the same effect but none of them are working.

If I try and listen to the animation status, `AnimationStatus.controller` triggers successfully however it fails to call `controller.reverse()`

I have produced examples of both implementa

[2019-08-06 12:11] stonekase opened #37687 "Unsupported value: <FSTServerTimestampFieldValue: 0x281590bf0> of type FSTServerTimestampFieldValue"
[code]
[code]
[code]
[code]

[2019-08-06 12:14] mikron123 opened #37688 "[Image_picker][iOS] Image picker returned selected image is rotated 90 degrees"
When using image_picker: ^0.6.1 (in iOS only) and simply selecting an image from the camera gallery, the image will be rotated 90 degrees.

**Edit: after below discussion: Problem only occurs when using maxHeight,maxWidth parameters of image_picker.**

[2019-08-06 12:27] liaobushi520 commented on #37688
denpend on your device.

[2019-08-06 12:50] IchordeDionysos opened #37689 "Options for customizing auto-generated ios/android folder"
## Use case

I have frequently run into #32883 where I have to constantly edit my .ios/.android folder to update the minimal ios version or add the google-services.json/GoogleService-Info.plist back in again or to convert the project to AndroidX again.

Doing these repetitive and simple changes over and over again is time-consuming and makes me again as productive as writing native iOS/Android cod

[2019-08-06 13:00] feinstein commented on #37640
I think there other stances where the two style guides differ, so it would be nice to discuss it in general.

[2019-08-06 13:10] raghaaavvvv commented on #15168
It works!
i just copied Podfileobjc
(https://github.com/flutter/flutter/tree/master/packages/flutter_tools/templates/cocoapods)
to my projects iOS/Podfile
Thanks a lot :)

[2019-08-06 13:15] stuartmorgan commented on #37673
Currently blocked on:

- Finalized plugin API
- Texture support for the Win32 embedding (once that lands)

[2019-08-06 13:21] Timmmm commented on #37676
Hmm I guess the crashing part is a dupe of https://github.com/google/flutter-desktop-embedding/issues/314 which apparently *is* due to the same threading issue.

However the weird geometry during resize doesn't seem like it can be a threading issue.

[2019-08-06 13:27] stuartmorgan commented on #37676
The lack of DPI-change handling is #35095

Closing as this is covered by a combination of that and #17579

[2019-08-06 13:27] #37676 closed

[2019-08-06 13:46] mo5tone opened #37690 "InputDecoration prefixIcon and suffixIcon disappear"
## Steps to Reproduce

1. add a TextField that hold a prefix icon without color property to AppBar as title;
2. when tap TextField, the prefix icon disappeared;
3. set a color to icon or make TextField unfocused, the prefix icon appear again.
[code]
![giphy](https://user-images.githubusercontent.com/8422976/62544369-38408800-b892-11e9-9cf3-4bdb130fa481.gif)

## Logs

No error logs shown in console

[2019-08-06 13:47] noinskit commented on #30300
In the meantime, are there any workarounds? This makes it very hard to debug objc exceptions (e.g. when writing platform channel code in Swift).

[2019-08-06 13:55] shinayser commented on #23565
I copy and pasted the code from showDialog and showGeneralDialog, wich contains the call to the `Navigator.of(context, rootNavigator: true)` passing false as the "rootNavigator".

[2019-08-06 14:00] BaderEddineOuaich commented on #37690
Hi there, try to switch the whole AppBar for both states. here is an example:
<pre>
class App extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Demo',
      theme: ThemeData(
        primaryColor: Colors.blue,
      ),
      home: DemoPage(),
    );
  }
}

class DemoPage extends StatefulWidget {
  @override
  _DemoPageState createSta

[2019-08-06 14:05] roeierez commented on #23565
@shinayser thanks for explaining.
I really hope your suggestion will be accepted, I think it is good and a small change.
In case someone from the team is looking for more motivation to fix this, my headache is that I would like to implement a PinCode screen that prompts the user when the app is resumed from background and I would like to push that screen to the root navigator, while the rest of th

[2019-08-06 14:06] qiwang97 commented on #37669
Thanks and i will try. Maybe you are right.

[2019-08-06 14:18] azizoy opened #37692 "[!] Invalid `Podfile` file: undefined method `pod' for main:Object."
I have an existing app and try to install flutter on it but i get this issue:

<img width="571" alt="Jepretan Layar 2019-08-06 pukul 21 14 30" src="https://user-images.githubusercontent.com/34239570/62547457-6ec8d380-b88f-11e9-9ce6-b27cba40ed6e.png">

i have no idea how to solve this issue.

**Flutter Version :**
`Flutter 1.7.8+hotfix.4 • channel stable • https://github.com/flutter/flutter.git
Fra

[2019-08-06 14:23] vitor-gyant commented on #15288
@dnfield I'm trying to test this but my MBP completely freezes when compiling the host_release and host_debug. Is there any recommendation to reduce the number of cores and decrease the memory required ?

My spec is :

2,9 GHz Intel Core i9
16 GB

[2019-08-06 14:25] BasedMusa opened #37693 "Content Overflows when using NestedScrollView -> TabBarView -> Column -> Children"
In the below code, the `_menuPage()` returns a column which has a bunch of children, because of the `CustomScrollView`, I can scroll through those children (as intended), but I am still getting an overflow exception at the bottom of the screen. I am using the wrong method to implement this?

The `_appBar()` method returns a `SliverAppBar` which has the `TabBar` in the bottom parameter.

**Update:

[2019-08-06 14:33] tigrenok00 commented on #20827
Same here, following

[2019-08-06 14:36] mo5tone commented on #37690
thx for reply. but ur demo code is just another way to fix the issue temporarily.
my focus is InputDecoration.prefix/suffixIcon not works as expected without specified color.

[2019-08-06 14:40] jbg commented on #15288
I also tried to test this out but was unable to build `host_release`, I left a similar-spec MBP building it for ~5 hours and it eventually locked up hard.

[2019-08-06 14:41] cremor commented on #23728
I would need the WebView plugin for API 16.

[2019-08-06 14:46] FrankYan09 commented on #37501
Works! Thank you very much!

[2019-08-06 14:51] dnfield commented on #15288
Try adding `--no-lto` to the gn options (right after --bitcode).  Lto takes a lot of time and memory.

You can also use less parallelization when you run ninja, e.g. specify -j4