[2020-01-06 18:48] kf6gpe commented on #12467
@BassamQuantum & @lordgreg & @rubensdemelo may want to check on Stack Overflow for help with this. I'm leaving this bug open to capture the desire to update the relevant error handling to make it friendlier.

[2020-01-06 18:48] micrcx commented on #11600
I've checked the application in the updated version:

[code]
And I couldn't reproduce the error. With a high degree of probability the problem is solved. But if bug appears again, I will inform you about this, don't worry.

[2020-01-06 18:50] premtemp1 opened #48253 "Please create a plugin similar to google-sign-in but for Facebook authentication"
It would nice to have an official supported plugin to authenticate with FaceBook. This should be similar to the "google-signin" plugin.

Currently , there is an open source "flutter_facebook_login" plugin but  has sparse support and it seem to break it every time a new flutter release is pushed.

This facebook plugin is necessary for apps that let user authenticate with various social framework.

[2020-01-06 18:50] kf6gpe commented on #40221
Touching as part of an ongoing triage experiment.

[2020-01-06 18:51] shovael commented on #48033
i believe the error i was getting was due to androidX compatibility, i found a temporary solution on this issue: https://github.com/flutter/flutter/issues/42887

[2020-01-06 18:51] #48033 closed

[2020-01-06 18:52] kf6gpe commented on #35531
@jicg, were you able to answer @justinmc';s question? Is this still happening with the latest stable release?

[2020-01-06 18:53] hterkelsen commented on #44908
`Image.toByteData` is not currently supported in Flutter for Web. One problem is that if the `Image` is a cross-origin `NetworkImage`, then we have no way of accessing the bytes. However, we shouldn't just hang forever, we should at least throw an `Exception` so user code doesn't hang. I'll send out a PR shortly which will throw the exception.

[2020-01-06 18:53] kf6gpe commented on #17360
@Piinks, is this something we're doing with the new golden work you've done? Should we table this as a good pending enhancement?

[2020-01-06 18:54] mdebbar commented on #46658
I confirm this issue is reproducible in older version of flutter (e.g. `v1.13.0`). @dkwingsmt's PR should've fixed it though. @xrgouda @moodstubos please upgrade your flutter version and reopen this issue if you are still able to reproduce it.

[2020-01-06 18:54] #46658 closed

[2020-01-06 18:55] cad0p commented on #44009
I have the same issue on Android, sometimes if you close the app and then return to it after some time, it's blank, like this: (but the google logo stays!)

![image](https://user-images.githubusercontent.com/14107574/71840847-64209d80-30be-11ea-8659-703835e6a87c.png)

[2020-01-06 18:56] micrcx commented on #43483
I've checked the application in the updated version:
[code]
And I couldn't reproduce the error. With a high degree of probability the problem is solved.
Но если она снова появится, я вам об этом сообщу, не волнуйтесь.

[2020-01-06 18:56] #43483 closed

[2020-01-06 18:58] Prashad52 opened #48255 "[web]: Issue with flutter run commend"
Hi I created a new flutter web by using the steps given in https://flutter.dev/web but after processing **flutter run -d chrome**  commend chrome browser opens with a localhost url with the title of my project but the screen is void, at the same time my terminal is still processing an action (**Attempting to connect to browser instance..
(This is taking an unexpectedly long time.)** ) and its been

[2020-01-06 18:58] kf6gpe commented on #46594
Hmm. A quick look at the log suggests to me that the python environment doesn't know about zlib, but isn't that part of the standard packages with Python? Can you check your python environment for zlib?

[2020-01-06 19:00] cyanglaz commented on #37021
Done in https://github.com/flutter/plugins/pull/2287

[2020-01-06 19:00] #37021 closed

[2020-01-06 19:00] Piinks commented on #17360
As I am understanding it, I don't think that this is an issue anymore since our golden file management is handled by Gold.

We don't manually check in images anymore, only those generated by a given pull request can be approved in triage, and those that aren't approved are disposed of. For older files, IIRC, any old files that are no longer being drawn are also disposed after 100 commits.

[2020-01-06 19:01] cyanglaz commented on #37821
We migrated the IAP to play billing library 2 and you should be able to enable pending purchases now. Closing the issue.

[2020-01-06 19:01] #37821 closed

[2020-01-06 19:01] kf6gpe commented on #45854
Thanks for using Flutter! For support requests, we suggest going to Stack Overflow or asking in one of our [communities](https://flutter.dev/community).

[2020-01-06 19:01] #45854 closed

[2020-01-06 19:01] WillGatto commented on #17545
ok, I got this one,  at least worked here...these are the codes to get the image from the source I used:

Future getImageFromCamera() async {
    var image = await ImagePicker.pickImage(source: ImageSource.camera);
    setState(() => imageURI = image);
  }

  Future getImageFromGallery() async {
    var image = await ImagePicker.pickImage(source: ImageSource.gallery);
    setState(() => imageURI =

[2020-01-06 19:02] cyanglaz commented on #40956
We migrated the in_app_purchase plugin to play billing library 2 and you should be able to enable pending purchases now. Closing the issue.

[2020-01-06 19:02] #40956 closed

[2020-01-06 19:02] mdebbar commented on #43982
I also noticed that opening the Shrine page in the flutter gallery now causes some navigation problems. Not sure if it's related to this issue or not, but it used to work fine before, so this must be kind of regression. I'll take a look.

[2020-01-06 19:03] SahajRana commented on #47891
@idraper thanks a lot, man! I will give it a try for sure. Currently, I'm using the @stuartmorgan approach and let cmd be open for MVP. But soon, I would have to dive into your solution to completely hide the cmd window.

[2020-01-06 19:04] kf6gpe commented on #27341
geolocator isn't supported by the Flutter team; I'd suggest filing issues for geolocator [here](https://github.com/Baseflow/flutter-geolocator).

[2020-01-06 19:04] #27341 closed

[2020-01-06 19:05] imkarthikb commented on #45526
Seems like there is some issue with TextFormField and keys. Faced this issue when trying to return TextFormField with same controller but with different keys for different states inside same BlocBuilder. But not facing this issue when using same keys for the TextFormFields.
[code]

StackTrace -

Flutter doctor -

[2020-01-06 19:06] kf6gpe commented on #43291
Touching for 2020 triage experiment. Thanks for the reproducible case!

[2020-01-06 19:07] yjbanov commented on #32274
@aiqinxuancai The issue with fonts you are seeing is tracked in https://github.com/flutter/flutter/issues/45507.

[2020-01-06 19:08] kf6gpe commented on #28416
I'm not aware of a workaround --- touching this bug as part of a 2020 triage experiment.

[2020-01-06 19:08] dgtlmonk commented on #28567
+1

[2020-01-06 19:08] mklim commented on #44981
@timsneath I think this is a totally reasonable request and makes sense for the plugin to support, but there's a problem with prioritization. Adding even simple features to the plugins is deceptively expensive since it's not just the cost of writing and merging one patch, but an addition to the ongoing maintenance burden of the plugin since each new feature adds to the plugins' complexity. If this

[2020-01-06 19:08] GilDev commented on #47204
Same problem here, using adb connected over WiFi.

[2020-01-06 19:10] yjbanov commented on #39980
@cbenhagen the CanvasKit backend does support platform view now. Can you please give it a shot?

[2020-01-06 19:11] kf6gpe commented on #39731
I believe that @richardrobinson0924's fix is the correct one, so I'm going to close this issue. Thank you, and thanks to all for using Flutter!

[2020-01-06 19:11] #39731 closed

[2020-01-06 19:13] kf6gpe commented on #44670
I'm going to close this issue summarily as we've asked participants for a minimal repro & `flutter doctor` output a few times. If it's still an issue, please reopen with a minimal repro and `flutter doctor` output. Thanks!

[2020-01-06 19:13] #44670 closed

[2020-01-06 19:14] kf6gpe commented on #25124
Closing per @cyanglaz 's comment, as this is a stale issue.

[2020-01-06 19:14] #25124 closed

[2020-01-06 19:14] #48255 closed

[2020-01-06 19:15] kf6gpe commented on #42996
This may still be an issue;  touching per our recent triage experiment.

[2020-01-06 19:16] kf6gpe commented on #32630
Closing, as this is a support request and not directly relevant to Flutter's build modes.

[2020-01-06 19:16] #32630 closed

[2020-01-06 19:17] miguelpruivo commented on #40755
@chunhtai your fix on latest master doesn't seem to fix this, however, removing the mentioned `assert` definitely fixes it and everything is smooth as it should.

Spent all afternoon around this as I have an animation lerping the font size in a list of multiple form fields and with this, it seems impossible to achieve. However, using a local fix on my repo isn't a solution either for me.

This sho

[2020-01-06 19:18] GaryQian opened #48256 "RectHeightStyle::kMax ascent uses unscaled ascent instead of scaled ascent."
The `RectHeightStyle::kMax` option produces boxes that use unscaled ascent instead of the ascent that is modified by the `TextStyle.height` property in LibTxt paragraph_txt.cc:1756.

This is fixed by https://github.com/flutter/engine/pull/15106

[2020-01-06 19:18] kf6gpe commented on #40559
@omontoya, based on your comment I think you have things working correctly. If I'm wrong, please feel free to reopen this issue.

[2020-01-06 19:18] #40559 closed

[2020-01-06 19:19] mtallenca commented on #28416
Only work around I have discovered - I'm using admob native ads in a flutter list.   When the list scrolls, we see if any of the ads are about to go offscreen.  if they are, we remove them from the widget tree.  If a native ad parent, is about to go back on screen, we reattach the ad to the tree.

[2020-01-06 19:19] kf6gpe commented on #5792
Keeping this open as we perform some new triage.

[2020-01-06 19:20] kf6gpe commented on #30545
@HansMuller Is this something you'd like to support as a future feature? If not, I'd like to close this as we've redirected to Stack Overflow.

[2020-01-06 19:21] DRSchlaubi commented on #45526
Yeah I also have issues with the TextFormField but it only occurs on my Pixel 3a with Android 10 even on other Android 10 devices this does not happen

[2020-01-06 19:21] jmagman commented on #32806
@Args Can you file a new issue?  This reported issue describes an older integration that's different when you follow the new instructions.

[2020-01-06 19:22] cbracken commented on #47229
Closing to reflect status of internal bug which is marked fixed/verified.

[2020-01-06 19:22] #47229 closed

[2020-01-06 19:22] mdebbar commented on #46975
I just checked, this was fixed in https://github.com/flutter/engine/pull/14504.

[2020-01-06 19:22] #46975 closed

[2020-01-06 19:23] SahajRana opened #48257 "Use firebase for Flutter/Windows"
Hi flutter team, as I was working on my project on windows/flutter. I got stuck on implementing firebase on windows. Especially, simple analytics & auth. Could you help me to understand how can we achieve that?

[2020-01-06 19:29] Hixie commented on #35994
This bug covers a wide variety of topics and isn't really directly tractable. It would be better to split this out into sub-bugs for each use case (e.g. vertical text, text-on-a-path, etc), because different use cases have different specific needs with different priorities.

I'm going to close this bug but please file bugs for each of the use cases you actually care about.

[2020-01-06 19:29] #35994 closed

[2020-01-06 19:29] stuartmorgan commented on #47087
Should I add macOS to that checklist, or was it omitted deliberately?

[2020-01-06 19:30] darrenaustin commented on #47516
This might be related to some work that Shi Hao was doing with the button bar layout. @shihaohong can you take a look and let me know if this is the case? If not I will dive into this. Thx.

[2020-01-06 19:36] cbenhagen commented on #39980
Unfortunately the CanvasKit has the same issues.

[2020-01-06 19:39] stuartmorgan commented on #48257
See [this comment](https://github.com/flutter/flutter/issues/33575#issuecomment-515624644).

[2020-01-06 19:39] #48257 closed

[2020-01-06 19:39] klaszlo8207 commented on #43785
Non-fatal Exception: java.lang.Exception: MissingPluginException(No implementation found for method camera#move on channel plugins.flutter.io/google_maps_1)

Hmm, I got a lot of error reporting on this too, in my firebase crashlitycs.

[2020-01-06 19:51] dannyvalentesonos commented on #37025
@mklim Thanks for the response. I'm a little confused about your comment though. We are using the v2 embedding and still seeing this issue. Is there something we can do to fix this on our end, seeing we are using the v2 embedding?

[2020-01-06 19:55] KammererTob commented on #48076
I tested this on an Android Emulator and an actual device (IPad Pro + Apple Magic Keyboard). Here are my results:

Android-Emulator (might just the emulator not handling it correctly tho):
- Tab is working, but is adding a space character to the TextEdit
- Shift-Tab is not working

IPad Pro + Apple Magic Keyboard:
- Tab not working
- Shift-Tab not working

This is the code it was tested on:
[code]

[2020-01-06 20:07] gspencergoog commented on #48076
On the iPad Pro, this is because Flutter doesn't have hardware keyboard support on iOS (iOS doesn't provide public APIs that make it possible).

And the emulator doesn't emulate a hardware keyboard, so it's expected not to work.  Try it on a physical device with a keyboard, and it should work.

[2020-01-06 20:13] KammererTob commented on #48076
Alright. Thanks for clearing this up.
Is there a workaround to make this work on iOS devices? The RawKeyboardListener would probably still detect the presses, even for the hardware keyboard on iOS devices, right? So my "solution" provided above is one route (even if not the prettiest one).

[2020-01-06 20:13] kf6gpe commented on #17360
Great, thank you! I'm going to close this based on that.

[2020-01-06 20:13] #17360 closed

[2020-01-06 20:19] gspencergoog commented on #48076
No, unfortunately, it's the engine that doesn't have any iOS keyboard support, so it won't even generate any raw keyboard events.  There's just not any public API in iOS that provides keyboard events.  iOS apps can register to know when editing events happen, but not to get events about key presses in general.  See this issue for more context: https://github.com/flutter/flutter/issues/31945

[2020-01-06 20:20] alexfanchina opened #48259 "Web: UnimplementedError was thrown"
I'm adding Flutter web to an existing project. I using Flutter `dev` branch and there's this error thrown; tried `master` branch, same error. The UI in browser is all blank other than the "debug" banner where it's supposed to be other stuff:

[code]

[2020-01-06 20:20] KammererTob commented on #48076
Alright. Thanks you for taking the time to answer. I will close this issue.

[2020-01-06 20:20] #48076 closed

[2020-01-06 20:20] flar commented on #47940
This commit (https://github.com/flutter/flutter/commit/3c65463f890636ce687bbbaf5bcd19dee930cce6) results for which are still showing in the benchmark history on appspot is also suspicious. Before the commit the worst_frame benchmark was usually around 300ms, and after that commit it is now usually more than 1200ms.

But, that is a newer issue than the previous regression that @liyuqian reported go

[2020-01-06 20:23] 2ZeroSix commented on #46714
@goderbauer I updated the proposal and the title of this issue can you please look at it now and mention someone who could help to choose the best solution.

[2020-01-06 20:25] kf6gpe commented on #5676
I'm closing this per @Hixie's comment above and the fact that there's been no discussion on this issue in ~2 yrs.

[2020-01-06 20:25] #5676 closed

[2020-01-06 20:26] kf6gpe commented on #23391
Closing due to lack of reproducibility. If this is still an issue, please re-open, include a minimal reproducible case, and the output of `flutter doctor`.

[2020-01-06 20:26] #23391 closed

[2020-01-06 20:27] goderbauer commented on #46714
/cc @HansMuller @LongCatIsLooong, who have been working on Heros recently.

[2020-01-06 20:29] kf6gpe commented on #25011
Closing at this point due to age & subsequent filing of the first issue. Please re-open if this is still a problem with the current version of Fluttter (1.12 as of this writing.)

[2020-01-06 20:29] #25011 closed

[2020-01-06 20:30] hatano0x06 opened #48262 "auto correct shows at left top at iPad"
## Steps to Reproduce
I checked in iPad(iOS) emulator.

1. change device lang to "japan"
2. select keyboard "日本語（かな）"
3. input "きょう"(in english "kyou") in textfield
4. auto correct show at left top possition

**Target Platform:**
iOS

**Target OS version/browser:**
iOS 13.3

**Devices:**
iPad Pro(12.9-inch)(3rd generation)

## Logs
I paste capture here
![名称未設定](https://user-images.githubuserconten

[2020-01-06 20:32] kf6gpe commented on #47203
@fangwy Does this happen with any app, or just yours? Can you provide a minimally reproducible case for us to test with?

[2020-01-06 20:33] kf6gpe commented on #28962
@criticalx7 that fix has been in the stable channel since this summer! We're always looking to improve our localization more generally, though, which is what this issue is about.

[2020-01-06 20:34] gspencergoog commented on #47650
@Hixie, How can I tell the difference between run from `debugDumpApp` and being run in the dev tools? `debugFillProperties` doesn't seem to be able to get that information from the `DiagnosticPropertiesBuilder`.

Also, I think it would help if I did some work to simplify the output of the shortcuts map by generating my own string from the contents that just looks like:
[code]
or something similar.

[2020-01-06 20:35] kf6gpe commented on #5031
Touching as part of the triage exercise. I'm not sure if this has been done or not.

[2020-01-06 20:35] kiaxseventh opened #48264 "shared_preferences 0.5.6 have problem"
hello

shared_preferences 0.4.3 is okey but after thats version have problem
from version 0.5.0 to 0.5.6 have problem when sync gradle

i tested lot of repositories like :
[code]
but don't solve problem

and test lot of  com.android.tools.build:gradle   versions
'com.android.tools.build:gradle:3.2.1'
'com.android.tools.build:gradle:3.4.0'
'com.android.tools.build:gradle:3.4.1'
'com.android.tools.b

[2020-01-06 20:37] Hixie commented on #46664
To address this we need steps to reproduce. Without a way to reproduce the problem, we're not able to really determine what the problem could be.

[2020-01-06 20:37] #46664 closed

[2020-01-06 20:43] keyonghan commented on #48157
Retried `~/Library/Developer/Xcode/DerivedData/`, and problem was solved.
So it should be not issue related to agent code. Closing it for now.

[2020-01-06 20:43] #48157 closed

[2020-01-06 20:43] kf6gpe commented on #16813
cc @iskakaushik -- we haven't heard this as a concrete ask from Fuchsia, have we?

[2020-01-06 20:45] Hixie commented on #34240
Nine-patch images are supported. See the `centerSlice` argument of `paintImage`.

[2020-01-06 20:45] #34240 closed

[2020-01-06 20:45] Hixie commented on #34240
(Also supported on `DecorationImage`.)

[2020-01-06 20:46] Hixie commented on #24603
I assume this means showing the row dividers for lists that are too short for the viewport, in Cupertino?

[2020-01-06 20:48] Hixie commented on #18113
We should document this in the API docs for textTheme, ThemeData, accentTextTheme, et al, at least.

[2020-01-06 20:48] Piinks commented on #47986
This may have actually been a triage issue that has since been fixed. I'm going to leave this open to monitor and confirm, as this issue only appears on the rare occasion that a golden file is updated.

[2020-01-06 20:50] kf6gpe commented on #18133
@chinmaygarde do you still think this is an issue, or should we close it given the changes in the mean time?

[2020-01-06 20:51] irfantusneem commented on #34215
This is still an open issue.

[2020-01-06 20:56] kf6gpe commented on #22475
Triaging some older bugs; noted that the mirror bug is still open.

[2020-01-06 21:05] vsmenon commented on #47913
@grouma - it looks `developer.log` does this:

https://github.com/dart-lang/sdk/blob/5804537b8341eeb7113c13b6b659a7fe432aed73/sdk/lib/_internal/js_dev_runtime/patch/developer_patch.dart#L52

Do we need to handle that in this switch:

https://github.com/dart-lang/webdev/blob/master/dwds/lib/src/services/chrome_proxy_service.dart#L595

?

[2020-01-06 21:08] vsmenon commented on #47858
@jonahwilliams @jakemac53

I see this in the initial message log:

[code]

Any ideas?

[2020-01-06 21:10] jakemac53 commented on #47858
Afaik that is a known issue which doesn't have any actual impact - I don't know the details. I think the sdk is loaded from a different path or something.

[2020-01-06 21:12] mehmetf commented on #45482
Not sure what the etiquette is for assigning issues :-) Making sure this is on @amirh 's radar.

[2020-01-06 21:15] stuartmorgan commented on #47145
It looks like there was a regression at some point here; all the desktop builds actually do have a specific check that the platform directory exists with an early error-out if it doesn't, but it appears that somewhere along the way we started unconditionally creating generated files when trying to run, so that check is passing. I'll improve the tests, and fix up the generation to not run when the

[2020-01-06 21:16] goderbauer commented on #48183
This sounds like a question that should be asked on one of our other community channels, e.g. StackOverflow. See https://flutter.dev/community for more information.

[2020-01-06 21:16] #48183 closed

[2020-01-06 21:17] Delgan commented on #48217
Hi @hoshinokanade, thanks for your answer.

Correct me if I'm wrong, but I tested your workaround and it seems it doesn't work well with `IndexedStack`: `WidgetOne()` and `WidgetTwo()` states are not preserved, they are rebuilt each time a transition occurs. :confused:

[2020-01-06 21:18] zanderso commented on #41407
@DanTup it looks like you're listed as an uploader for devtools_server. Is all that is missing here pushing 0.1.13 to pub?

[2020-01-06 21:20] goderbauer commented on #48114
/cc @GaryQian

[2020-01-06 21:21] goderbauer commented on #48108
Closing as a duplicate of https://github.com/flutter/flutter/issues/12319.

[2020-01-06 21:21] #48108 closed

[2020-01-06 21:21] grouma commented on #47913
I think the issue is our filter here:
https://github.com/dart-lang/webdev/blob/master/dwds/lib/src/services/chrome_proxy_service.dart#L670

This bug should be moved over to `package:dwds` and we can handle it in there.

[2020-01-06 21:22] vsmenon commented on #47674
Looks like a dartdevc bug.  Filed:

https://github.com/dart-lang/sdk/issues/39994

[2020-01-06 21:24] goderbauer commented on #47999
Duplicate of https://github.com/flutter/flutter/issues/9324.

[2020-01-06 21:24] #47999 closed

[2020-01-06 21:24] DanTup commented on #41407
When a new server is published, then `devtools` needs to also be updated to reference that version and be published. I don't have access to that account to publish anymore; @jacob314 may be the best person to ask about releases.

[2020-01-06 21:24] goderbauer commented on #47970
Please post some runnable code that showcases the problem.

[2020-01-06 21:26] goderbauer commented on #47960
From the bug description it's unclear what the actual problem here is. Can you specify what the unexpected behavior is?

[2020-01-06 21:26] Hixie commented on #45078
To resolve this we will need precise steps to reproduce, starting with a Flutter version to start from, followed by a "flutter create" command line, followed by all the changes and command lines that are needed to actually reproduce the issue with today's master build. Without that level of detail it's really not something we can actually resolve because we're not sure how to reproduce it.

[2020-01-06 21:27] lynn commented on #41955
I use this bash script to bump the build number and tag it:

[code]

[2020-01-06 21:28] mehmetf commented on #47087
This should be supported for all embedders. Notes on go/flutter-embedder-localization mentions MacOS.

[2020-01-06 21:28] Hixie commented on #28878
We are not able to reproduce this. For us to make progress on this we will need precise steps to reproduce, starting from "flutter create" and including all the edits and commands that are necessary to reproduce the problem.

[2020-01-06 21:29] goderbauer commented on #47948
You can get this warning by enabling the always_specify_types lint in your analysis_options.yam: https://github.com/flutter/flutter/blob/master/analysis_options.yaml#L52

[2020-01-06 21:29] #47948 closed

[2020-01-06 21:30] Hixie commented on #35739
Use a `MemoryImage` or the `Image.memory` widget.

[2020-01-06 21:31] Hixie commented on #35739
Wait, that's what you're doing already. I don't understand the request. Can you elaborate?

[2020-01-06 21:33] goderbauer commented on #47861
/cc @GaryQian

[2020-01-06 21:33] kf6gpe commented on #22081
I claim that this has been addressed --- doing this now results in the following trying to compile:
[code]

[2020-01-06 21:34] #22081 closed

[2020-01-06 21:38] Black-Horse commented on #42391
Same issue here. Thankful for any hints!

[2020-01-06 21:38] kf6gpe commented on #23216
Closing thanks to @zoechi and @goderbauer's redirect to http://flutter.dev/support.

[2020-01-06 21:38] #23216 closed

[2020-01-06 21:44] kf6gpe commented on #13789
If I'm parsing the code at "Centering, spacing, or aligning fixed-height content" we now do this, but don't have cross references.

[2020-01-06 21:45] kf6gpe commented on #37854
This looks like an isolated failure. @baoxiehao I'm going to close this at this point. If you see this with the latest version of the IDE plugin and Flutter (1.12), please reopen. Thanks!

[2020-01-06 21:45] #37854 closed

[2020-01-06 21:47] kf6gpe commented on #21165
Closing as this discussion should occur on Stack Overflow or one of our support channels at http://flutter.dev/support. Thanks for using Flutter!

[2020-01-06 21:47] #21165 closed

[2020-01-06 21:49] kf6gpe commented on #16013
Given @sowens-csd 's comment on TextFormField widgets was the last case to be discussed, I'm going to close this issue as fixed.

[2020-01-06 21:49] #16013 closed

[2020-01-06 21:49] Hixie commented on #33398
This is possible in general if you write enough code, but I don't think it's something we will implement as part of the core framework.

[2020-01-06 21:49] #33398 closed

[2020-01-06 21:50] goderbauer commented on #47529
In order to debug this please post a fully runnable code sample that we can copy, paste, and run to see the issue. Your current code samples are incomplete, unfortunately.

[2020-01-06 21:53] Hixie commented on #37782
Please provide steps to reproduce starting from "flutter create". This is not something we've been seeing in general, so we're not sure what might be causing it and we need a reproduction test case to work in it.

[2020-01-06 21:55] Hixie commented on #18448
We could make the button text shorter, but generally, yeah, if the screen is small...

I'm going to close this bug because it's not really a bug so much as just an example with a wide button not supporting a narrow screen.

[2020-01-06 21:55] #18448 closed

[2020-01-06 21:55] mklim commented on #37025
No problem @dannyvalentesonos, sorry for being unclear. I am a little confused that you're seeing this bug with the v2 embedding because `enableTransparentBackground` shouldn't be an API that's available there. Are you still calling that API somehow or is this issue surfacing another way for you?

The v2 embedding still uses a SurfaceView by default, so on top of using it you also need to configur

[2020-01-06 21:56] Hixie commented on #45890
I suspect this is because the text field's gesture detector fires onTap too eagerly (doesn't wait to have won its gesture handler).

[2020-01-06 21:56] #46743 closed

[2020-01-06 22:00] kf6gpe commented on #28212
This is no longer an issue; I just re-tested.

[2020-01-06 22:00] #28212 closed

[2020-01-06 22:03] kf6gpe commented on #43639
Touching for the purposes of triage.

[2020-01-06 22:04] jonahwilliams commented on #43639
This will be fixed by moving the flutter_web build to using the frontend server, so it might not be worth pursuing a fix independently

[2020-01-06 22:05] AndreHaueisen commented on #18636
Do we have an update on this feature?

[2020-01-06 22:07] dnfield commented on #48246
I believe we intentionally pin all of our packages to keep our builds and version solving repeatable. We have specific logic in the repo to check for this and make sure it's the case.

@jonahwilliams or @hixie might have more context there.  In general though, if you want to use a particular package we depend on, we require that you use the exact version we do - and we try to limit what we depend

[2020-01-06 22:09] dnfield commented on #48246
Ah - we transitively depend on pedantic.

[2020-01-06 22:09] dannyvalentesonos commented on #37025
Thanks @mklim .
I am not extending `FlutterActivity`.
Instead, I create a Flutter Fragment like so:
[code]
With this, I am not seeing the TalkBack borders being drawn. I can sometimes see just the top edges of the TalkBack corners around the outer most container which is uses Rounded corners as a decoration. I'm wondering if I have something more fundamentally wrong within my Flutter code?

[2020-01-06 22:09] Hixie commented on #34792
What is your use case?

[2020-01-06 22:11] Hixie commented on #22255
It's not clear why they would need to be escaped?

[2020-01-06 22:13] franciscojma86 commented on #48096
Benchmark is back to green

[2020-01-06 22:13] #48096 closed

[2020-01-06 22:13] dannyvalentesonos commented on #47540
@dnfield Should we rename this bug seeing you told me where to find the dSYM file in Release builds?
This bug can remain open specifically for how to get debug information with Add2App debug builds.

[2020-01-06 22:16] mklim commented on #37025
Got it, thanks for the detailed info!

The problem line is this one:

[code]

This is telling the FlutterEngine to use a `SurfaceView` instead of a `TextureView` while also being transparent, so it ends up covering Talkback like the v1 embedding would when `enableTransparentBackground` was called. If you replace it with: `.renderMode(FlutterView.RenderMode.texture)` the engine will switch to using

[2020-01-06 22:17] chengweiou commented on #48105
Hi @iapicca
sorry, your sample is not the code that I want.
I'm trying to use controller inside instead of outside because they are not in one file
i update my [code](https://dartpad.dartlang.org/5d76dc1bcfd120dc7267125d95352f19) and add more comment. Hope this can help
thank you

[2020-01-06 22:17] kf6gpe commented on #47145
Thanks, @stuartmorgan and @csells! And yes, I'd forgotten the flutter config step, too.

[2020-01-06 22:18] Hixie commented on #37884
cc @gspencergoog

[2020-01-06 22:22] dnfield commented on #47540
Sounds good to me

[2020-01-06 22:24] #44037 closed

[2020-01-06 22:27] dannyvalentesonos commented on #37025
Ok, thanks. However, switching to a TextureView was the concern I had around performance. I'd rather not have a transparent background while TalkBack is on, or maybe force TextureView while TalkBack is on, seeing in this case, not having a transparent background at all, or having slower performance would not be as much of an issue when TalkBack is on.
I'll probably implement that on my side then.

[2020-01-06 22:28] LongCatIsLooong commented on #46714
@goderbauer Does it make sense to override `Tween.chain` with something like this?
[code]
Where `_ChainedTweenEvaluation` is just the `Tween` version of `_ChainedEvaluation`:
[code]

[2020-01-06 22:30] dannyvalentesonos commented on #47055
@blasten @amirh Any thoughts?

[2020-01-06 22:33] dannyvalentesonos commented on #43787
@justinmc @Hixie  Have you taken a look at the PR #44018?

[2020-01-06 22:44] enzobonggio commented on #40755
@chunhtai It's not happening anymore on master at least for me.

I made a simple example from where I used to have the error

https://gist.github.com/enzobonggio/3c79ba62d3ad02e585a5bbc4ec9f9581

Thanks a lot.

[2020-01-06 22:46] goderbauer commented on #46714
I would expect that we also want to allow chaining a Tween with an Animatable, so overriding chain may not be desired.

Also, _ChainedTweenEvaluation would also have to provide a proper implementation for the begin/end properties.

[2020-01-06 22:56] 3xcellentTuber commented on #48183
Hey,
I did not get a proper solution from SO. I'd like to reopen that here or get further info in order to redesign my project.
I am currently trying to understand if I even need to be worried about this situation:
I realized that there are serveral main Isolates in dart.
Are RawSocket and RawServerSocket operations blocking the main UI Isolate or are the Read/Write operations being performed on a

[2020-01-06 22:57] hterkelsen commented on #45711
It looks like this was fixed in https://github.com/flutter/flutter/pull/47593

Please try again and re-open if the issue isn't fixed.

[2020-01-06 22:57] #45711 closed

[2020-01-06 23:09] dnfield commented on #48246
If we could get test_api to not depend on pedantic we could remove the dep entirely.

[2020-01-06 23:10] gaaclarke commented on #47383
@dnfield I just spent some time trying to create a pathological case too and I also couldn't get `_resolveImage` to get called again either.  I created a custom ImageCache that throws everything out and triggered `build` on the StatefulWidget which was the parent to the AssetImage.

You know more about how the framework works, is this a non-issue because of the caching mechanism that appears to be

[2020-01-06 23:13] MarkStepp commented on #26028
Mine is doing the same thing with this code (swift) is there something I need to change - I was given this code by another user which knows swift...

`
override func applicationWillResignActive(_ application: UIApplication) {
        self.window.isHidden = true
  }
  override func applicationDidBecomeActive(_ application: UIApplication) {
        self.window.isHidden = false
  }

`

[2020-01-06 23:14] hterkelsen commented on #46193
I can't repro the problem from running `cocoon` locally with `flutter run --dart-define=FLUTTER_WEB_USE_SKIA=true`. When I run it locally, it is generating the expected `FontManifest.json` with correct entries for MaterialIcons and CupertinoIcons. I suspect there is an issue in how you deploy the app such that it is using the FontManifest from the other project. Can you point me to instructions on

[2020-01-06 23:14] #47529 closed

[2020-01-06 23:19] hterkelsen commented on #46193
One thing I see in the deploy script is that it looks like it is not uploading `.json` files to AppEngine on deploy. See this line in `app.yaml`: https://github.com/flutter/cocoon/blob/master/app_dart/app.yaml#L25

[2020-01-06 23:20] amirh opened #48270 "Template plugin should not support platforms by default"
Right now `flutter create -t plugin` creates a plugin that supports both Android and iOS.
https://github.com/flutter/flutter/pull/48258 proposes to make the template plugin support macOS as well. This increases the odds of plugin authors leaving their pubspec specifying that they support all these platforms while not really having meaningful implementation for all.

I think we should instead requi

[2020-01-06 23:22] dnfield commented on #48246
Adding here as well - if a user really wants this _now_, you can do something like this:

[code]

[2020-01-06 23:23] flar commented on #47940
I confirmed the regression in commit (https://github.com/flutter/flutter/commit/261594e78578db4b37ea03006932f51095fdf229). On my iPhone 6s the worst frame went from around 17ms to around 70ms and I tried 3 runs on each to make sure it wasn't a flake. I added a comment to PR https://github.com/flutter/flutter/pull/43677 to get some ideas on what might be the cause.

[2020-01-06 23:26] dnfield commented on #47383
I'm pretty sure there's _some_ path where this happens, and we should fix it, but at this point I'm also convinced that such a path is unlikely to arise in normal usage.

[2020-01-06 23:28] voivoed commented on #17419
I'm having the same issue. Now, I noticed this:

I'm debugging, and the wrong image is showing on my emulator. If I put a breakpoint and stop inside the Build() where the image is added to the tree (on the "child:" line below) and change something on the code that adds the image, in this case the scale of the image from 0.7 to 0.75 for example, when I save the file and the emulator hot reloads, th

[2020-01-06 23:29] erperejildo commented on #28733
If I use any of these IDs the banner loads:
https://developers.google.com/admob/android/test-ads

But if I use mine I get `onAdFailedToLoad: 3`

[2020-01-06 23:34] GaryQian commented on #33833
We have recently landed #46720 which address one cause of abnormal CPU usage.

Can someone confirm whether this change has helped/if the CPU usage is still high. The change is available on master/dev channel as of now.

[2020-01-06 23:56] franciscojma86 commented on #47842
This benchmark runs pretty consistently on my local machine (red and green commits yield same results). I just did some runs in the device lab host and it does show different results. Will try witht other hosts to narrow down the root cause.

[2020-01-07 00:07] nmnclk commented on #28025
i heve same problem

[2020-01-07 00:07] egorbelibov commented on #48259
+1 Here (on channel **master**).  @dnfield Can you have a look at this?
![Network Preview of local asset](https://drive.google.com/uc?export=view&id=10x7dhI1Arri4YsAN8lz-QCzD07NzImOR)

Issue caused by the `flutter_svg` library upon rendering an SVG asset.

[2020-01-07 00:12] stuartmorgan commented on #48270
Just to clarify here, that was a mistake in the PR, not a proposal.

Well, if you have `enable-macos-desktop` on for your Flutter installation, then it will create a plugin that supports Android, iOS, and macOS. That's true already, unrelated to the mistake in the PR above.

[2020-01-07 00:17] chunhtai commented on #40755
@miguelpruivo
Can you share your reproducible example? The assert is there to make sure things work correctly. Removing it is risky.

[2020-01-07 00:17] dnfield commented on #48259
flutter_svg does not support web yet.  That is being tracked at https://github.com/dnfield/flutter_svg/issues/173

There are many unimplemented methods in Flutter for web at this point - I'm not sure this issue is all that helpful to leave open.  Closing in favor of the flutter_svg bug

[2020-01-07 00:17] #48259 closed

[2020-01-07 00:19] dnfield commented on #36207
This should be opened as an issue on https://github.com/dart-lang/dartdoc rather than here.

[2020-01-07 00:19] #36207 closed

[2020-01-07 00:33] ferhatb commented on #47328
Verified that .decode api promise throws EncodingError on Chrome and Safari, on Firefox it is fine. Code should have recovery code in instances where async decode fails. Fix coming shortly.

[2020-01-07 00:54] gspencergoog commented on #37884
Yes, this sounds like an entirely logical enhancement.

[2020-01-07 00:54] Ahmadre opened #48272 "[Android]: Can't build anymore (?)"
## Steps to Reproduce

Since now I can't build a flutter appbundle for release Android version anymore. It says, that gradle can't resolve:
    - google_sign_in_web
    - url_launcher_macos
    - firebase_core_web

but I am building for Android 😢 ...

1. run: ```flutter build appbundle --target-platform android-arm64,android-arm --release```
2. Error underneeth appears directly after 16-17s.

**Ta

[2020-01-07 00:57] dnfield opened #48273 "CI should use vpython"
We got broken by https://chromium-review.googlesource.com/c/chromium/tools/depot_tools/+/1978983 because it removed a dep from depot_tools that we no longer get becuase we don't use vpython.

That change has been reverted, but we should switch to using vpython, as it's preferred/more hermetic.

/cc @godofredoc @digiter @keyonghan

[2020-01-07 00:58] xster commented on #46855
The work remaining is to add some info for how to migrate the platform channel code to the new embedding in https://flutter.dev/go/android-project-migration

[2020-01-07 01:05] Ahmadre commented on #48272
ok, after switching to master branch and upgrade the flutter the error is solved. I didn't know that master is the actual stable. sorry for taking your time ✌️

[2020-01-07 01:05] #48272 closed

[2020-01-07 01:08] suragch commented on #35994
@Hixie

I'm a little disappointed you closed this issue already. Here are my reasons:

- This is not a bug report, it's a feature request. We're asking for more freedom to handle text rendering ourselves, that is, more access to the low-level text capabilities of LibTxt. Note that this is not a feature request for any particular use case. I don't, for example, ever expect the Flutter team to suppo

[2020-01-07 01:10] PandaGeek1024 commented on #48228
no one got any info about it?

[2020-01-07 01:12] Gaoxichao commented on #48015
谢谢，我觉得问题可能是出现在新版本本身，或是我电脑flutter环境导致（这个问题我有在其他issues看见过，很大可能是这两个原因）。降级到flutter 1.9版本后，好像解决了此问题。

[2020-01-07 01:13] jklint-g commented on #23391
This still repros on iOS 12. Currently the scroll-to-top gesture is broken on iOS 13 https://github.com/flutter/flutter/issues/35050, however once that is fixed I expect this bug to still be present on 13 as well.

Try this layout and the following steps:
1. In the app, scroll down so that text is offscreen.
2. Rest your finger on the system status bar but do not lift it off the screen.
***bug is

[2020-01-07 01:15] LongCatIsLooong commented on #48252
Thank you for the issue and the pull request! In the meantime as a workaround, `SliverLayoutBuilder` and `SliverFixedExtentList` can be used in combination to achieve the desired effect.

[2020-01-07 01:20] Hixie commented on #35994
The problem is that this issue is too vague for us to make useful decisions based on the thumbs up. As we tried to plan our work for 2020, we looked at this bug and couldn't figure out how to prioritise the work it asked for. Doing everything described here is a significant amount of effort, so we probably wouldn't do any of it if we had to do all of it or none of it. By splitting the requests int

[2020-01-07 01:22] franciscojma86 commented on #47842
I ran tests on the device lab host with different phones, and the increase was barely (or not at all) visible. @jason-simmons also ran some tests on his local machine and didn't see any deltas.

Removing the TODAY tag to unblock the roll, but might be worth trying with other devices or resetting the host to continue investigating

[2020-01-07 01:25] xster commented on #46960
umm looks like the file is right. Could you either send us a repro project or look inside your APK's dex to see if the io.flutter.plugins.GeneratedPluginRegistrant class is in the dex?

[2020-01-07 01:29] Hixie commented on #45359
This is somewhat out of scope for Flutter, we're following Dart's lead here.

[2020-01-07 01:29] #45359 closed

[2020-01-07 01:31] xster opened #48275 "Too much debug log verbosity from Android embedding"
<img width="772" alt="Screen Shot 2020-01-06 at 5 30 28 PM" src="https://user-images.githubusercontent.com/156888/71861161-42b5b680-30aa-11ea-9744-49545fbbfe30.png">

We're adding a lot of extra logs for the default run case whereas we previously tended to use Log.v instead of Log.d at a quick inspection.

[2020-01-07 01:41] suragch commented on #35994
@Hixie
Rather than dividing it by use case, would it help to divide it by feature request? There are four remaining unfinished tasks, but the highest priority one is having access to a line breaker.

[2020-01-07 01:53] LongCatIsLooong commented on #48262
This is what it is supposed to look like:

![Simulator Screen Shot - iPad Pro (12 9-inch) (3rd generation) - 2020-01-06 at 17 34 23](https://user-images.githubusercontent.com/31859944/71861856-a7721080-30ac-11ea-96a4-009baaed0cd4.png)

For the record I think it's part of the IME interface rather than autocorrection. It seems in this particular case we can't just return `CGRectZero`in `func firstRe

[2020-01-07 01:56] xster commented on #44530
I'm going to tentatively merge this into https://github.com/flutter/flutter/issues/41839 since it's one of the few first party plugins that we haven't migrated to v2 and that may be causing the issue.

[2020-01-07 01:56] #44530 closed

[2020-01-07 02:08] HansMuller commented on #30545
There aren't any current plans to support this feature. It sounds reasonable but AFAIK it's not part of the Material Design spec.

[2020-01-07 02:08] xster opened #48276 "Local engine run on android_debug_unopt_x64 doesn't find POM"
`flutter run --local-engine android_debug_unopt_x64` gives

`The file /Users/.../engine/src/out/android_debug_unopt_x64/x86_debug.pom wasn't found in the local engine out directory.`

But there's a x86_64_debug.pom file in android_debug_unopt_x64. Probably a tooling issue.

cc @blasten

[2020-01-07 02:13] blasten commented on #48276
are you attached to an x64 device? If the device supports multiple ABIs, it looks like the tool is picking up x86.

[2020-01-07 02:17] nur-azhar commented on #48156
nah i gave up i'll stick to windows thanks

[2020-01-07 02:17] #48156 closed

[2020-01-07 02:28] ponytony opened #48277 "soft keyboard not have clickable area on android q"
## Steps to Reproduce

image:
![1578363627241](https://user-images.githubusercontent.com/22294620/71863645-70e1d780-3138-11ea-8f65-5f9dfe59700d.jpg)

**Target Platform: android q**

**Devices: sumsung **

**Input method: sumsung default input method **
**html:
```<input type="number"/>```
**

[code]

[2020-01-07 02:35] darrenaustin commented on #42372
Sorry, I meant to update this before the holiday. I have spent a fair amount of time looking into this, but I am not sure what we are doing differently than regular Android apps in this regard. We appear to be providing all the necessary a11y info with the appropriate flags set, but a11y focus doesn't appear to go anywhere when the dropdown is dismissed. I will see if I can get some help from the

[2020-01-07 02:53] Qxyat commented on #48237
@VladyslavBondarenko The [patch](https://github.com/flutter/engine/pull/13908) mentioned in [issues/26366](https://github.com/flutter/flutter/issues/26366) fix the OpenGL crash in IO thread，although the original report stack is in GPU thread. So maybe the crash in GPU thread still exists. I'm not sure if anyone else use the latest version still met this problem.

[2020-01-07 02:54] gsy13213009 commented on #45769
Thanks for your reopen. If possible, We hope we can have some environment with different `yaml` such as `test`, `prod`, `stag` and so on. Like the flavor of android.

If we can add the `allow_failure` in `dependency_overrides `, someone can edit some plugin in `common` and other can not care about it.

Anyway, thank you very much.

[2020-01-07 03:19] #18133 closed

[2020-01-07 03:34] bqbs commented on #31849
@BondarenkoStas The latest stable release is not working for me. AS is installed by JetBrains Toolbox.

[code]

Android Studio 3.5.3
Build #AI-191.8026.42.35.6010548, built on November 15, 2019
JRE: 1.8.0_202-release-1483-b49-5587405 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 5.3.18-1-MANJARO

[2020-01-07 03:37] HiPipilu commented on #46172
It work,thank you

[2020-01-07 04:13] xster commented on #48276
It's an emulator. Is there a way to force x64? Can't build android_debug_unopt_x86 these days on newer versions of macOS I think.

[2020-01-07 04:14] sameeraepic opened #48279 "apk is not running when the apk is signed by mac pc"
The signed apk is perfectly runs when generated by a Windows PC.
When the apk is signed using Mac PC, the apk is generated. It can install on devices as well. But just blank screen. No UI is poped.

[2020-01-07 04:27] microdog commented on #25404
@zoeyfan I can confirm that this issue still exists on `v1.12.13+hotfix.5`.

[2020-01-07 04:30] luori-mvp77 opened #48280 "How to build windows_x64 with Flutter engine code?"
I invest more time to build a success engine on Windows10 env. but i found there has more unclearly guidance from official documents.  I also ref to:
[Compiling-the-engine](https://github.com/flutter/flutter/wiki/Compiling-the-engine)
[url](https://chromium.googlesource.com/external/github.com/flutter/engine/+/b7358b33dbd61e124720165dd939fa49cbd0ecb6/CONTRIBUTING.md)
[Custom-Flutter-Engine-Embedde

[2020-01-07 04:43] Hixie commented on #35994
Use cases are preferred, because often people will list a solution and when we finally get a use case out of them it turns out their solution is massively more complicated than necessary. But if you prefer to do it by feature request, that works too, just make sure to include the use cases. :-)

[2020-01-07 05:08] bhallaramdhatarwal commented on #48124
@VladyslavBondarenko No, not really but I solve using same code and clean flutter and clean system cache

Thank you

[2020-01-07 05:08] #48124 closed

[2020-01-07 05:08] lovelessX opened #48281 "Cannot get Flutter Hello World to build on one computer in particular"
## Steps to Reproduce

1. Get latest flutter stable (v1.12.13+hotfix.5).
2. Create a new Flutter project in Android studio. Include Androidx, Kotlin, and Swift support.
3. Call flutter build apk --debug. It will fail, usually saying `Execution failed for task ':app:compileDebugKotlin'.`

## Background

I have been developing on my Windows 10 desktop on flutter for about a year with no problem. Thi

[2020-01-07 05:17] shannonrodricks commented on #34792
I was considering a UI where, when the user slides open the drawer, the body of the scaffold is translated to the right/left (depending on the position of the drawer) and scaled down a bit.
Something similar:
https://www.youtube.com/watch?v=rrpF8Dwxu8I
The method in the video works but seems like something that should be in the framework itself

[2020-01-07 05:33] sharath12345678 commented on #48056
Sorry, for bothering you all @iapicca @blasten , the problem was with google sign-in.

It is solved now.

Thanks for the reply.

[2020-01-07 05:33] #48056 closed

[2020-01-07 05:34] MangeshKadam commented on #48239
seems issue was with device. Gmail account used does not have any registered phone number. Tested on android 9 device with registered mobile number against gmail account, its working fine.

[2020-01-07 05:34] #48239 closed

[2020-01-07 05:41] michael-chiu commented on #48238
@VladyslavBondarenko , thank you for your help.

I agree it maybe an issue that can be fixed on the plugins side. However, I am getting the below error on a number of plugins, even on some from flutter.dev, like `image_picker`(the plugins themselves support AndroidX) :
[code]

This stop me from upgrading my Flutter version to above 1.12.x. So I would like to know in Add2App case, I need to wait al

[2020-01-07 05:42] saviourdog commented on #45526
same problem

[2020-01-07 05:42] xster commented on #47212
I can repro. I didn't see any issues specific to image_picker_saver but did get

[code]

although the GeneratedPluginRegistrant class was loaded in the dex and has the right content.

<img width="677" alt="Screen Shot 2020-01-06 at 9 41 56 PM" src="https://user-images.githubusercontent.com/156888/71871225-61797480-30cd-11ea-9e4e-eb581776853f.png">

Seems like the same issue as https://github.com/f

[2020-01-07 05:44] Code-Yeong commented on #46866
me too

[2020-01-07 05:44] Akash4097 commented on #47538
hey @permanar how do you downgrade the dart plugin?

[2020-01-07 05:45] xster commented on #47127
Can you open a new issue with the new error and paste all your console output from flutter run?

[2020-01-07 05:45] #47127 closed

[2020-01-07 05:49] iampopal commented on #47766
I have already talked with [felangel ](https://github.com/felangel), he told me that this is a problem dar2js, bloc work fine.

[2020-01-07 05:52] xster commented on #47107
I suspect it's the same issue as https://github.com/flutter/flutter/issues/46060

[2020-01-07 06:02] FisherWL opened #48283 "pinch/double tap to zoom in option in webview_flutter"
## Use case
zoom-in/out page/text/image in webview

## Proposal
I think pinch to zoom is built-in both  ios WKWebView and Android WebView.
but I didnot find a way to enable that in webview_flutter.
or maybe I missed something?
If the whole page is a pdf file, then on iphone, webview_flutter does letting me pinch/tap to zoom, but that's the only case I find it's working.

[2020-01-07 06:13] rodydavis commented on #30701
Here is a simple example for MacOS I created that modifies the AppDelegate and allows you to create and communicate between windows: https://github.com/rodydavis/multi_window

[2020-01-07 06:40] gopalsgs commented on #27226
Thank you. It solved the issue

[2020-01-07 06:56] KlausJokinen commented on #43785
Can you provide us a minimal runnable reproduction as a single file?

[2020-01-07 07:04] jasonta opened #48284 "Failed assertion during paint: 'optimized out' is not true"
## Steps to Reproduce

1. Call `canvas.drawImageRect(...)`

Observe the following assertion:

I/flutter (19958): The following assertion was thrown during paint():
I/flutter (19958): 'dart:ui/painting.dart': Failed assertion: line 3715: '\<optimized out\>': is not true.
I/flutter (21810):
I/flutter (21810): Either the assertion indicates an error in the framework itself, or we should provide subst

[2020-01-07 07:09] permanar commented on #47538
@Akash4097 You can easily do it in the Extensions tab in the VS Code. For more detail, please take a look at this: http://prntscr.com/qkak2e
Hope that help.

[2020-01-07 07:18] jacky-yanglei opened #48285 "websocket wss CERTIFICATE_VERIFY_FAILED"
CERTIFICATE_VERIFY_FAILED: unable to get local issuer certificate

I want to skip certificate validation.How do solve this problem？
![image](https://user-images.githubusercontent.com/17645850/71876075-dcd83600-3160-11ea-8485-155c9fb7599d.png)
![image](https://user-images.githubusercontent.com/17645850/71876087-e2ce1700-3160-11ea-9914-5c2f5a255f61.png)

[2020-01-07 07:21] starman-karthik opened #48286 "Getting Compile Error - pub get failed (1; So, because <#projectx> depends on both flutter_localizations any from sdk and l10n ^1.4.0, version solving failed.)"
I recently updated flutter to v1.12 and tried to compile the code using,

`flutter build ios`

I am getting _'Compilation Error'_ with

_**Because no versions of l10n match >1.4.0 <2.0.0 and l10n 1.4.0 depends on intl ^0.15.0, l10n ^1.4.0 requires intl ^0.15.0.
And because every version of flutter_localizations from sdk depends on intl 0.16.0, l10n ^1.4.0 is incompatible with flutter_localizations

[2020-01-07 07:22] klaszlo8207 commented on #43785
I can't it is a production code. Maybe some bug in the system when I change state.

Also maps onCreated is so slow. I am using googlemaps in a pageview. 3 items and animate the pageview index via a timer.periodic 5 seconds.

[2020-01-07 07:28] KlausJokinen commented on #43785
Can you give us exact steps when this happens, so we might be able to reproduce the issue.

[2020-01-07 07:37] klaszlo8207 commented on #43785
Yoi can create a sample dart with stateful widget. A Pageview with 3 googlemaps. The 3 googlemaps has 3 controller and 3 different location. After oncreated you just add a marker to it and jump to that marker.

You set a timer.periodic with 5 seconds to animate left the pageview and the pageview is infinite.

Thats all.

[2020-01-07 07:43] youzaiyouzaiE commented on #42749
I meet too.My flutter version is 1.7.8+hotfix.4. How fix this problem?

[2020-01-07 07:50] xellDart commented on #43499
i get same error, any help? I use one signal library

[2020-01-07 08:00] dexcell opened #48287 "TextFormField ignores floatingLabelBehavior set inside the ThemeData"
`TextFormField` ignore `hasFloatingPlaceholder` set inside the `InputDecorationTheme` ThemeData.

If you have `InputDecorationTheme` with `hasFloatingPlaceholder` set to `false`
and set the theme to textformfield. TextFormField ignores it.

[2020-01-07 08:10] JAGANPS opened #48288 "A non-null String must be provided to a Text widget."
## Steps to Reproduce

1. ...
2. ...
3. ...

**Target Platform:**
**Target OS version/browser:**
**Devices:**

## Logs

[code]

[code]

[code]

[2020-01-07 08:13] nimeacuerdo commented on #45078
Makes sense, @Hixie, and I already did that when I posted the issue.

Given I haven't run into this problem after https://github.com/flutter/flutter/issues/45078#issuecomment-562546743 I'm gonna close this for now.

[2020-01-07 08:13] #45078 closed

[2020-01-07 08:15] eliezerbasubi commented on #29511
In Android studio, when you are creating your project there's a checkbox, create offline, that you have to tick to create your project offline.
Possible steps to be taken:
- Open Android Studio
- Close Project if you have one which opened. Or go to Files -> New Flutter Project
-> Flutter Application
-> Fill required fields like project name, flutter SDK path, and Project Location
-> Tick `create p

[2020-01-07 08:17] KodaiTakata commented on #47825
Sorry for late response.
I just tried that on the master channel but still freeze:(

[2020-01-07 08:18] RakeshJv opened #48289 "TextField overflow not working when read only"
Hi  Team

Can you add  overflow  option in TextField  widget ,if the read only attribute set true for single line

Regards
Rakesh

[2020-01-07 08:23] VladyslavBondarenko commented on #48288
Hi @JAGANPS
opening an issue please try to provide
all or some of the information indicated in the template

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2020-01-07 08:23] #48288 closed

[2020-01-07 08:41] devilishWei commented on #20827
add code:
override fun provideSplashScreen(): SplashScreen? {
        val splash = context.resources.getDrawable(R.mipmap.launch_image)
        return DrawableSplashScreen(splash)
    }

in MainActivity

[2020-01-07 08:52] Constans commented on #43206
@mdebbar, yes, it makes sense to set the way things work in front of the way things look in this case. It is less useful to have 3 dots at the end of one line when you want to show more than one line. I'd rather have no `ellipsis` and get the `maxLines` if both are not possible at the same time.

[2020-01-07 08:52] atereshkov commented on #28733
@erperejildo I can confirm. Works for me too in release on a real device.

[2020-01-07 09:14] 2ZeroSix commented on #46714
It seems for me to be a bit dirty to implement additional `Tween.chainTween`
So, at the moment I see this as the best option:

With appropriate reference to this class in `Animatable.chain` doc string.
What do you think about it?

[2020-01-07 09:18] saidlp opened #48290 "Problem using Dismissible with background inside a OrientationBuilder"
Hi!
I'm facing a kind of weird problem: some dismissible elements are not working when using a responsive design. I managed to narrow it down, and from what I found, it seems like Dismissible won't work inside an OrientationBuilder WHEN USING A BACKGROUND...
In my code below, the second Dismissible will work, but the first one with the background won't.

[code]

now if I do remove the OrientationB

[2020-01-07 09:22] ansarizafar commented on #41822
flutter tools really consume too much memory and CPU. It is impossible to use old machines or cloud IDEs for flutter app development.

[2020-01-07 09:29] JAGANPS opened #48291 "A non-null String must be provided to a Text widget."
[code]

[2020-01-07 09:30] JAGANPS commented on #48291
import 'package:flutter/material.dart';
import 'package:cloud_firestore/cloud_firestore.dart';
class Item1 extends StatefulWidget {
  Item1({Key key}) : super(key: key);

  @override
  _Item1State createState() => _Item1State();
}

class _Item1State extends State<Item1> {

Future getPost()async{
  var firestore = Firestore.instance;
  QuerySnapshot snap= await firestore.collection("item1").getDocu

[2020-01-07 09:33] ngongong commented on #40090
Thankyou it work 100% to me

[2020-01-07 09:33] iapicca commented on #48291
Hi @JAGANPS

[code]

This platform is not meant for assistance on personal code.
Please see https://flutter.dev/community for resources for asking questions like this,
you may also get some help if you post it on Stack Overflow.
Closing, as this isn't an issue with Flutter itself,
if you disagree please write in the comments and I will reopen it
Thank you

[2020-01-07 09:33] #48291 closed

[2020-01-07 09:34] davidmorgan commented on #48246
Fun. Thanks for looking into this quickly!

[2020-01-07 09:40] iapicca commented on #48105
Hi @chengweiou
I apologize if my answer was confusing or inaccurate.

This platform is not meant for assistance on personal code,
but to improve or fix bug within flutter,
in your case the `ScrollController` is working as intended
and is not triggering simply because is not scrolling.

If you need assistance to implement your code
you may get some help if you post it on Stack Overflow.
Closing, as

[2020-01-07 09:40] #48105 closed

[2020-01-07 09:40] kiaxseventh commented on #48264
can you answer about my problem please ?

[2020-01-07 09:44] DhavalRKansara opened #48292 "App is not x86_64. Running lipo -info:, App is architecture: arm64"
I built my project on a real iOS device and it was working fine but when I tried to run it on the simulator it gives me the below architecture error.

[code]
Also, I have faced the same issue earlier and that time App was working fine for simulator and gave me the similar architecture error for the real device.

[code]

I tried [#25260](https://github.com/flutter/flutter/issues/25260), [#22749](ht

[2020-01-07 09:46] UsamaEjaz0 commented on #48159
Hi kolawoleakins!
I was also experiencing a similar problem. The following worked for me !

C:\Users\uejaz\.gradle\wrapper\dists\gradle-5.6.2-all\9st6wgf78h16so49nn74lgtbb
Move to this directory and delete gradle-5.6.2-all.zip and gradle-5.6.2 folder

Goto https://downloads.gradle-dn.com/distributions/gradle-5.6.2-all.zip and download the zip file
Replace the .zip file with the one you had deleted

[2020-01-07 09:46] pascal-reuse commented on #44255
Facing same issue. @iapicca: Could you solve this issue somehow?

[2020-01-07 09:49] VladyslavBondarenko commented on #48284
Hi @jasonta
I see there's an issue addressing the case you described.
Please follow up on [that issue](https://github.com/flutter/flutter/issues/25396),
I'm closing the current one as duplicate.
If you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-07 09:49] #48284 closed

[2020-01-07 09:56] FedericoMatera commented on #46766
It works.
In MaterialApp stack there is no need to manually remove the item from the list, is this a desired behavior?

[2020-01-07 10:00] iapicca commented on #48159
Hi @kolawoleakins
you ran flutter clean && run --verbose
outside your project folder

`cd <YOUR APP FOLDER>` **<= PART YOU SKIPPED**

could you please post your
`flutter run --verbose` actually running your app
thank you

[2020-01-07 10:03] VladyslavBondarenko commented on #48287
<details>
 <summary>Minimal code sample to reproduce</summary>

[code]

</details>

[2020-01-07 10:11] iapicca commented on #48158
Hi @nioncode
now  I can observe the behavior you described

[//FocusScope.of(context).unfocus();](https://photos.app.goo.gl/Vja322b1jvXKnFrs5)

[FocusScope.of(context).unfocus();](https://photos.app.goo.gl/PLPiRq2UVcPyRpzo9) <= correct behavior

[passwordFocus.unfocus();](https://photos.app.goo.gl/c54RfpCN7ZE6v2gE9)

thank you for the explanation

[2020-01-07 10:16] wonderful89 commented on #48231
I debug this case.

I click the position of 'o' in word 'for', I should return the TextPosition.offset ==7 ,But it return 4.

In flutter , call to function `List<int> _getPositionForOffset(double dx, double dy) native 'Paragraph_getPositionForOffset';`.

[2020-01-07 10:25] Renesanse commented on #47960
The problem is this bug, after calling navigator.pop without navigation call stack, app becomes not responsible to handle touch events and freeze with artifacts. I understand, we are developers should add if statements like "navigator.canPop", but my opinion would be better to do  nothing if navigator can't pop, or show red screen with information about the empty call stack

[2020-01-07 10:33] iapicca commented on #48192
Hi @AlessandroPalmarini
I'm glad that you found a workaround
I'm closing the issue for the moment,
let me know if the problem occurs again
thank you

[2020-01-07 10:33] #48192 closed

[2020-01-07 10:37] VladyslavBondarenko commented on #48289
Hi @RakeshJv

TextField overflows automatically.
[Code sample](https://dartpad.dartlang.org/cb27f40ac8a6f8fbfd6258f81be469c8)

Could you specify what do you mean with 'overflow option'? Option to overflow not only in the end?
Thank you

Possibly related to [#26006](https://github.com/flutter/flutter/issues/26006)

[2020-01-07 10:38] iapicca commented on #48234
Hi @tudor07
could you please provide your `flutter run --verbose`?
thank you

related issue https://github.com/flutter/flutter/issues/44944

[2020-01-07 10:53] VladyslavBondarenko commented on #48286
Hi @starman-karthik

Try to use the last version of [intl](https://pub.dev/packages/intl)

[code]

Does it help to you?
Thank you

[2020-01-07 11:01] rayworks opened #48293 "Intent Receiver leaked when running the sample project 'platform_channel'"
e you missing a call to unregisterReceiver()?
                         E  android.app.IntentReceiverLeaked: Activity com.example.platformchannel.MainActivity has leaked IntentReceiver com.example.platformchannel.MainActivity$3@dcbbce4 that
                            was originally registered here. Are you missing a call to unregisterReceiver()?
                         E      at android.app.Loade

[2020-01-07 11:06] WinJayQ commented on #27216
Yes, it woks for me.

[2020-01-07 11:10] iapicca commented on #48264
Hi @kiaxseventh
I just tested [shared_preferences](https://pub.dev/packages/shared_preferences) **0.5.6** with this code sample

<details>
	<summary>code sample</summary>

[code]

</details>

<details>
	<summary>flutter doctor /v</summary>

[code]
</details>

<details>
	<summary>flutter run --verbose</summary>

[code]

</details>

besides the know [deprecation warnings](https://github.com/flutter/

[2020-01-07 11:14] iapicca commented on #48277
Hi @ponytony
what keyboard are you using?
Also can you please provide your ``flutter run --verbose`
and a reproducible minimal code sample
or the steps to reproduce the problem.
Thank you

[2020-01-07 11:15] allumina commented on #44796
As @alyyasser commented that two lines seems to be important. I had

[code]

With this configuration build folder was created inside android/app folder, but when I split them in two different attributes the build folder was magically at the right place

[code]

[2020-01-07 11:16] iapicca commented on #48279
Hi @sameeraepic
can you please provide your `flutter doctor -v`
and your `flutter run --verbose --release`?
Also, to better address the issue, would be helpful
if you could post a reproducible minimal code sample
or the steps to reproduce the problem.
Thank you

[2020-01-07 11:18] VladyslavBondarenko commented on #48293
Hi @rayworks

Yes, explicitly. Try to unregister your receiver in the appropriate method of your receiver class.
The complementary method pairs are
[code]
if you register the receiver in the first one then unregister it in it's ending method.

Does it help to you?
If I understood you incorrectly, please describe your case.
Thank you

[2020-01-07 11:24] Bediosss-Pro commented on #48159
**Hello, sorry but when I launch my application I always have this problem.
my flutter version is 1.12.13 + hotfix.5
grade 5.6.2**

Exception in thread "main" java.util.zip.ZipException: error in opening zip file
	at java.util.zip.ZipFile.open(Native Method)
	at java.util.zip.ZipFile.<init>(ZipFile.java:225)
	at java.util.zip.ZipFile.<init>(ZipFile.java:155)
	at java.util.zip.ZipFile.<init>(ZipFil

[2020-01-07 11:24] iapicca commented on #48281
Hi @lovelessX
from the information you provided,
especially the fact that the issue occurs only a single machine
I recommend to run on said machine
`flutter pub cache repair`
`cd <YOUR APP FOLDER>`
`flutter clean`
If the issue persist please provide your updated
`flutter doctor -v` and `flutter run --verbose`
thank you

[2020-01-07 11:28] iapicca commented on #48292
Hi @DhavalRKansara
can you please provide your `flutter doctor -v`
and your `flutter run --verbose`?
Thank you

[2020-01-07 11:33] koyadovic commented on #40755
In my case, was that sometimes TextFields were added to widget tree and in some cases not. When dependent variable changed causing that some TextFields come and others gone is when this error was raised. My solution was using the widget Visibility so all this widgets always, being visible or not, are added to the widget tree so the error is gone.

Replacing:
[code]
by:
[code]

(Sorry for my englis

[2020-01-07 11:41] DavideBicego commented on #44305
This doesn't work for me...

[2020-01-07 11:46] DreamScy opened #48294 "FlutterViewController strongly retain FlutterEngine"
## Steps to Reproduce

1. ...
2. ...
3. ...

**Target Platform:**
**Target OS version/browser:**
**Devices:**

## Logs

[code]

[code]

[code]

[2020-01-07 11:58] Pinteezy commented on #44571
@ally159

With the image picker I opened up Xcode and made this addition and for now it is working if you would like to try.

<img width="821" alt="Screen Shot 2020-01-07 at 9 58 03 pm" src="https://user-images.githubusercontent.com/23585246/71893995-c948c180-3198-11ea-88df-6bedadaae5f1.png">

[2020-01-07 12:01] DhavalRKansara commented on #48292
@iapicca I have added logs for the `flutter doctor -v `but not able provide you the whole logs for `flutter run --verbose` because it contains too many lines and I am not able to copy-paste those all lines over here.

- flutter doctor -v

[code]

[2020-01-07 12:01] lifenautjoe commented on #43499
We found a "hack" for this, like many other ones we use to keep our Flutter app alive across flutter upgrades and bugs.

1. Build the app (flutter build ios) with the **Pods_Runner.framework** marked as **Embed & Sign**

<img width="1417" alt="image" src="https://user-images.githubusercontent.com/12737509/71893892-1606ab00-314d-11ea-8cd7-f4a1d2a8d9db.png">

2. Once it's built. Go to the same place

[2020-01-07 12:03] AbhijeetBharti commented on #29608
The key for me was changing GradleException() to FileNotFoundException(). Thank you @jasondphan

[2020-01-07 12:10] kiaxseventh commented on #48264
thank you for your answer

i create a new project like your sample code
but have last error again

**flutter run --verbose**
[code]

**flutter doctor -v**
[code]

[2020-01-07 12:20] iapicca commented on #48290
Hi @saidlp
I cannot replicate the issue you are describing
[code sample](https://dartpad.dartlang.org/cdbcdaf26414bbcd1f5a1cd853296010),
maybe I'm missing something, could you please provide a full example?
thank you

[2020-01-07 12:20] miguelpruivo commented on #40755
@chunhtai my bad, I can confirm that indeed it's working on `master` HEAD. Thank you.

[2020-01-07 12:21] answer0732 commented on #47833
Still not resolved, I can only use the old version

[2020-01-07 12:21] answer0732 commented on #47833
Still not resolved, I can only use the old version

[2020-01-07 12:22] genert commented on #48234
Same problem here.

[code]

[2020-01-07 12:23] Daveads commented on #47392
got the same problem yea....

[2020-01-07 12:24] iapicca commented on #48264
Hi again @kiaxseventh
could you please run
`flutter pub cache repair`
`cd <YOUR APP FOLDER>`
`flutter clean`
let me know if the issue persists
thank you

[2020-01-07 12:27] iapicca commented on #48292
Hi again @DhavalRKansara
it would be useful to see the logs from `flutter run --verbose`
could you please copy paste those in a `.txt` (avoid `.docx`) file and attach it to your post?
thank you

[2020-01-07 12:27] iapicca commented on #48294
Hi @DreamScy ,
opening an issue please try to provide
all or some of the information indicated in the template

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2020-01-07 12:27] #48294 closed

[2020-01-07 12:29] billymahmood commented on #48016
Hey,

I am having the same issue on Android, after I click the tick on Camera to accept the picture, the App crashes with no errors

code

var image = await ImagePicker.pickImage(
        imageQuality: 90,
        source: ImageSource.camera,
      );

[2020-01-07 12:38] DanTup commented on #47538
I'm pretty certain downgrading the VS Code extension to v3.7.0 isn't helping - it's likely just coincidence and the issue is a bit intermittent. The only thing in v3.7.1 over v3.7.0 is a tweak to mapping of URLs when running in remote environments (see https://github.com/Dart-Code/Dart-Code/compare/v3.7.0...v3.7.1).

I've still been unable to reproduce this to dig into it - if anyone has any addit

[2020-01-07 12:39] Jasonhadzi commented on #44305
for me

[2020-01-07 12:40] Jasonhadzi commented on #44305
The problem now is that every time i stop the app and try to run it again, i have to do the same process in order to remove the duplicates over and over..

[2020-01-07 12:43] kiaxseventh commented on #48264
@iapicca

**flutter pub cache repair**
[code]

**flutter clean**
[code]

**flutter run**
[code]

**flutter run --verbose**
[code]

**when shared_preferences version changed to 0.4.3 every thinks is ok and build has been completed android app run ok**

[2020-01-07 12:51] DerSIlent commented on #47204
I would also like to mention that I got the same error when I had the emulator turned off. It started working again when I clicked the power button on the side of emulator.

[2020-01-07 13:04] yasinarik commented on #32892
I have a backend service written with Nodejs. So I simply added the CORS package to my server-side application.

1. `npm install cors`

2.
[code]

[https://expressjs.com/en/resources/middleware/cors.html](url)

So now, Flutter Web works normally.

[2020-01-07 13:08] DanTup commented on #36184
Yeah, looks fine to me too. Thanks!

[2020-01-07 13:10] DanTup commented on #43139
@MichelDiz if you see that again, could you try to get the command line of the process that's still running? There are several Dart processes spawned that it could be (for ex. the analysis server, the Flutter daemon, a `flutter run` process etc). Please open an issue in [Dart-Code](https://github.com/Dart-Code/Dart-Code) as leaked processes are probably a bug there and is different to high memory

[2020-01-07 13:11] DanTup commented on #48175
FWIW it seems like this may be resolved - on the other issue people have reported that it works now without needing a VPN.

[2020-01-07 13:14] travellertech commented on #47627
I have the same error when building for Ios..and the error messages are not really helpful.

[2020-01-07 13:16] JohnDeved commented on #48213
please, i would need this for my app

[2020-01-07 13:17] quetool commented on #48147
It seems different to me but ok...

[2020-01-07 13:18] quetool commented on #48147
I do not upgrade to 1.12 yet but in order to solve to can do a clean reinstallation by downloading the SDK

[2020-01-07 13:35] tudor07 commented on #48234
@iapicca flutter run --verbose

[code]

[2020-01-07 13:39] DhavalRKansara commented on #48292
Okay @iapicca
I have attached a text file for `flutter run --verbose.`
[flutterRunVerboseLog.txt](https://github.com/flutter/flutter/files/4030869/flutterRunVerboseLog.txt)

[2020-01-07 13:40] KodaiTakata commented on #47825
Here is the [URL](https://daibaku-98319.firebaseapp.com/#/)
As you read through, view will freeze and you won't be able to scroll if you use iOS.

[2020-01-07 13:41] Morteza-Rastgoo commented on #41725
Is it supported now?

[2020-01-07 13:43] hicnar opened #48296 "Inconsistent behavior of RawKeyboardListener on different devices/Android versions"
I am trying to get my flutter app to react to events generated when media keys are pressed on a little bluetooth keyboard paired with my android device.

Here's the code snipped that builds the widget I use to evaluate the scenario.

![raw-keyboard-listener-code](https://user-images.githubusercontent.com/1816194/71897913-dc836f00-314f-11ea-8bc9-30f23e1ec891.png)

If I run it on my Google Pixel C t

[2020-01-07 13:44] dvorapa opened #48297 "flutter run --release prints stdout/stderr from previous flutter run call before assembleRelease"
As you can see below, `flutter run --release` prints part of the stdout/stderr from previous `flutter run` call (of a completely different app), before it gets to assembleRelease of the current app. This is definitely weird and should not happen.

[code]

[code]

[2020-01-07 13:46] Tumbler0809 opened #48298 "FileSystemException: Cannot delete file, path = '/storage/emulated/0/DCIM/Camera/IMG_20200107_213857.jpg' (OS Error: Owner died, errno = 130)"
<details>
<summary>log</summary>

[code]

</details>

[2020-01-07 13:46] Tumbler0809 commented on #48298
File(it).delete();

[2020-01-07 13:47] Tumbler0809 commented on #48298
App has storage permissions and delete file permissions

[2020-01-07 13:50] wliumelb commented on #47600
This project looks interesting.
[https://github.com/aloisdeniel/bluff](url)

[2020-01-07 13:59] klaszlo8207 commented on #43785
I got new exception:

Non-fatal Exception: java.lang.Exception: MissingPluginException(No implementation found for method circles#update on channel plugins.flutter.io/google_maps_163)
       at MethodChannel.invokeMethod(platform_channel.dart:319)
       at GoogleMapController._updateCircles(controller.dart:154)
       at _GoogleMapState._updateCircles(google_map.dart:283)
       at _GoogleMapStat

[2020-01-07 14:01] klaszlo8207 commented on #43785
So basically I got random_numbers:

/google_maps_163

/google_maps_55

/google_maps_21

/google_maps_4

with error message

[2020-01-07 14:03] lovelessX commented on #48281
That did not help.

Verbose Doctor (note I switched to an x86 emulator to try to mimic my other machine after posting the original bug report)

[code]
Flutter Run Verbose

[code]

[2020-01-07 14:03] RakeshJv commented on #48289
Hi sir
Thanks for the reply but  this working well with hint not with TextEditingController

Here is code  please run and check ,you find the issue

     TextEditingController _partNoController = TextEditingController();

  @override
  void initState() {
    super.initState();

  _partNoController.text="SDAWDWDWdwZZZZZZC"+
"AAAASASASssaassssssssss"+
    "asASDDddSDadAdaAAaDDaDAc zxzzxscascsascsasA

[2020-01-07 14:04] jsroest commented on #26902
I have exactly the same issue.
I expect the event <didPop> to fire first on the source page and after that, <didPopNext> on the destination page.

@LiviuStefanLucaTAB Have you found a workaround?
@zoechi Any progress on this issue?

[2020-01-07 14:08] psygo opened #48299 "buttonTheme not working"
## Use case

I'm trying to create a Button Material Theme for my app, but at least one attribute of `buttonTheme` is not acting the way I would expect, namely `buttonColor`.

Other attributes, like `height` or `shape`, take an immediate effect on all of my buttons, however, `buttonColor` simply doesn't do anything, and I can't even access it as an attribute from within my app's widgets.

In my `ma

[2020-01-07 14:32] NafizZ commented on #48185
Thanks for your feedback. I have already fixed the problem.

[2020-01-07 14:37] lovelessX commented on #48281
Turns out my gradle caches were corrupted in some way.

I followed the guide here to delete everything and then it started working again.

https://stackoverflow.com/questions/23025433/how-to-clear-gradle-cache/30450020#30450020

Closing this ticket.

[2020-01-07 14:37] #48281 closed

[2020-01-07 14:40] erperejildo commented on #41907
it happens on my Xiaomi Redmi Note 8T

[2020-01-07 14:49] bdairy commented on #27254
I've made the updates but still get the same error:
![image](https://user-images.githubusercontent.com/10797121/71903750-6e4da500-316d-11ea-93cc-4578ac03ef4b.png)

the error indicates that Kotlin version was not updated.

![image](https://user-images.githubusercontent.com/10797121/71903786-84f3fc00-316d-11ea-9a10-b9e9dd6f269d.png)
This is happening when using  **image_picker: ^0.6.2+3** . with **c

[2020-01-07 14:49] #48185 closed

[2020-01-07 15:04] creativecreatorormaybenot commented on #47697
@gspencergoog I can confirm that it works using `Shortcuts`. Navigation already worked before using the D-pad as I explained previously.

I assume that there is some lower level definition of shortcuts within the framework, but I am not sure where they are defined - otherwise I could open a PR.

Anyways, I am going to close this issue for now - I could open a new one for a feature request to make

[2020-01-07 15:15] mitesh77 opened #48300 "how set bottom navigation bar color transparent like phone x?"
now I am running the latest stable 1.12.13+hotfix.5

I need complete fullscreen as I phone in an android flutter.

![Screenshot_20200107-201639](https://user-images.githubusercontent.com/38649435/71904922-12931400-318d-11ea-851f-93c00404f28d.png)
*******************************************************************************************
![2-1-min-1 (2)](https://user-images.githubusercontent.com/38

[2020-01-07 15:24] Jeyanthinath opened #48301 "HDMI input support"
I am trying to write application to get HDMI input from the device to application screen, I don't see any packages or api's on the website and google search.

Is there any documents help in accessing the HDMI video input from the device.

[2020-01-07 15:26] FisherWL commented on #48283
I ran a test on a phisical iphone and found that the webview does have pinch feature, which I couldn't perform on simulator.
but on android platform, there's not pinch zoom on neither emulator or phsical phones

[2020-01-07 15:35] flamescell commented on #47678
@iapicca
Still having a problem. This is flutter run --verbose, could you help me?

C:\Users\phaso\AndroidStudioProjects\new_app>flutter run --verbose
[  +20 ms] executing: [C:\src\flutter\flutter\] git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +56 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[        ] 27321ebbad34b0a3fafe99fac037102196d655ff
[

[2020-01-07 15:53] xclud commented on #47804
https://github.com/flutter/flutter/issues/18601#issuecomment-558276407

[2020-01-07 15:53] dnfield commented on #48301
This is not something that would be supported out of this repository. You'd have to write a plugin - I suspect the camera plugin might be a good place to start.

[2020-01-07 15:53] #48301 closed

[2020-01-07 15:55] dnfield commented on #48300
This is a better question for StackOverflow or another forum.  This is not a bug or feature request for this repository.

As a hint, you'll want to look into safe area handling in Flutter.  Many widgets have ways of removing or respecting safe area insets.

[2020-01-07 15:55] #48300 closed

[2020-01-07 15:58] dnfield commented on #48285
Please consider asking this on a forum like StackOverflow or the dev mailing list - this issue tracker is for bugs or feature requests in the Flutter SDK or first party plugins.

[2020-01-07 15:58] #48285 closed

[2020-01-07 15:58] Den163 opened #48302 "Flutter 1.12.13: wrong error message when building an app"
Sorry for duplication of issue #46815, but there is no progress and I think it's critical for any comfortable work on android emulator with the latest stable version of Flutter.

[2020-01-07 16:04] nadchif commented on #47343
@premy your solution solved my problem. I was using a CupertinoTextField inside a Stepper and after using your solution, the issue is gone 👍

[2020-01-07 16:10] jonahwilliams commented on #48297
Duplicate of flutter/flutter#47329

[2020-01-07 16:10] #48297 closed

[2020-01-07 16:10] #48302 closed

[2020-01-07 16:11] jonahwilliams commented on #48302
Please do not deliberately file duplicate issues

[2020-01-07 16:11] csnewman opened #48303 "[web] on webOS devicePixelRatio returns 0"
On some platforms, such webOS, the `window.devicePixelRatio` returns `0`. This causes the likes of `BitmapCanvas` to have a size of 2 `width * 0 + 2 * kPaddingPixels`. Meaning anything requiring a bitmap canvas to render won't.

## Steps to Reproduce
1. Download `flutter_gallery` example app
2. Add `<script> window.devicePixelRatio = 0.0; </script>` to `head` in `web/index.html`
3. Run `flutter ru

[2020-01-07 16:15] berdroid opened #48304 "Material: Slider tick marks misaligend with thumb"
Using large values for track height, thumb diameter and tick marks shows a misalignment of the tick marks with the thumb towards the ends of the track in Material design.

This is caused by a signly improper calculation of the tick mark centers in the `_RenderSlider.paint()` method.

[2020-01-07 16:16] berdroid commented on #48304
I have created a patch for this issue here:

[patch](https://github.com/berdroid/flutter/commit/bf7450f56ed2b5f3413c4034ba75a6167eeaf241)

[2020-01-07 16:19] kf6gpe opened #48305 "[OOM] memory consumption is too high"
https://b.corp.google.com/issues/144232910.

/cc @cbracken @chinmaygarde @jason-simmons

[2020-01-07 16:22] berdroid commented on #48304
Created little pull request #48306

[2020-01-07 16:26] rrousselGit commented on #48132
Alright, after a lot of work I can confirm that the above architecture works.

So this feature request is no longer needed

[2020-01-07 16:26] #48132 closed

[2020-01-07 16:32] kolawoleakins commented on #48159
I am about to give up

[2020-01-07 16:33] gspencergoog commented on #22952
Closing this, as it appears to not be reproducible, at least in the ways in which I tried to reproduce it.  If you still have problems with this, and have more information about the context in which it is used, that may help.

[2020-01-07 16:33] #22952 closed

[2020-01-07 16:47] Gicminos commented on #47627
Upgrading my packages and performing various clean helped me to temporary build it successfully.

Among what I did was running `flutter clean`, deleting `Podfile.lock` and `Pods` directory.

I am not sure at all what of those solved my issue, and at the same time I tried different procedures along many weeks that makes me very hard to tell what exactly solved the problem for me.

Now one problem t

[2020-01-07 16:50] omid24 opened #48308 "Error After set variable row for Container child"
Hello,

this code is :
[code]

 I have two 'Container()', in Second 'Container' i have create variable 'stars' after add to child Container My code does not have problem but in First Container after add 'Row' into variable 'gallery'
error show type ```Container' is not a subtype of type 'Row' of 'function results``` ,

I was very surprised why there was no error for the second ' Container' after p

[2020-01-07 16:54] Jethro87 commented on #40095
@GaryQian Have you been able to start on the new fix for this issue? Please let me know if there's anything I can do to help / speed it along. Thanks.

[2020-01-07 16:59] benoitskipr commented on #14203
@jaddoescad very dirty fix that blocks the back swipe when is loading :
[code]

[2020-01-07 17:02] amjad07 opened #48310 "Dropdown error"
════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following assertion was thrown building Builder(dirty, dependencies: [_LocalizationsScope-[GlobalKey#1514b], _InheritedTheme, MediaQuery]):
There should be exactly one item with [DropdownButton]'s value: .
Either zero or 2 or more [DropdownMenuItem]s were detected with the same value
'package:f

[2020-01-07 17:03] dnfield commented on #46815
As a work around, if you run `adb logcat -c` before launching your app, it will clear out old messages.

Be warned that it also clears previous log messages in general.

[2020-01-07 17:06] yjbanov commented on #47450
@long1eu The reason you are seeing continuous network activity is because you have "Disable cache" checked in the dev tools. I think that's unrelated to the Safari issue about canvas memory. We've seen this bug in Safari in the past and fixed it. It seems we somehow unfixed it again recently. We'll need to have a look at what's going on.

One thing you could try is open the canvas debugger in Safa

[2020-01-07 17:08] SushanDristi opened #48311 "i try to use .map inside column but its not working"
import 'dart:io';

import 'package:dio/dio.dart';
import 'package:flutter/material.dart';
import 'package:hindibhajan/base/baseconnection.dart';
import 'package:hindibhajan/base/model.dart';
import 'package:hindibhajan/base/provider/comment_provider.dart';
import 'package:hindibhajan/base/utilities.dart';
import 'package:html/parser.dart' show parse;
import 'package:provider/provider.dart';

class

[2020-01-07 17:10] dnfield commented on #48310
This is an error in  your code - you have set multiple dropdown menu items with the same value.

[2020-01-07 17:10] #48310 closed

[2020-01-07 17:13] maheshmnj commented on #48016
I am using the latest image picker plugin it works well .is there any specific reason to use the camera plugin? Can you try removing the camera plugin from pubspec.yaml

[2020-01-07 17:18] bhaskar-nair2 opened #48313 "Flutter run web application says app is undefined"
1- flutter run -d chrome
[code]

**flutter run -d chrome --verbose**
[code]

**flutter doctor**
[code]

[2020-01-07 17:19] dnfield commented on #48310
As for the misleading message you got, see also https://github.com/flutter/flutter/issues/18412

[2020-01-07 17:20] agersea commented on #30377
I'm seeing Deprecated API warnings in a fresh 1.12.13+5 flutter project for the following plugins:
- DeviceInfoPlugin.java
- FirebaseCrashlyticsPlugin.java
- FirebaseMessagingPlugin.java
- PackageInfoPlugin.java
- PathProviderPlugin.java
- SharedPreferencesPlugin.java

Steps to reproduce:
1. Create a new flutter project with Flutter sdk v 1.12.13+5
2. update pubspec.yaml to include the dependencie

[2020-01-07 17:21] ds84182 commented on #48066
@dnfield Does it reproduce in jit release mode? If so, it might be the Dart VM doing code compilation in the background

[2020-01-07 17:28] jonahwilliams commented on #48313
This is the code where this error is coming from, without it we won't be able to help

[2020-01-07 17:29] yjbanov commented on #45789
It should just work provided the engine is sending the correct pointer events to the framework. I think here the issue is with incorrect entering and leaving a mouse region. @mdebbar has observed this elsewhere too.

[2020-01-07 17:31] gspencergoog commented on #36184
Yeah, I fixed this a while ago.

[2020-01-07 17:32] luscas commented on #41067
Change in **Info.plist**
[code]

Changing status bar with
[code]

[2020-01-07 17:43] dnfield commented on #18412
I'm going to look at this.

I'd like to amend the logic as follows:

1. Be a little bit less sensitive to dart changes in the stack.  Since we wrote this logic, Dart added new frames/indirections into the assertion error throw.
2. Check to see if the next frame after the assert is non-framework code. If so, I'm going to say it's not our fault, but that the user is passing us bad values.  If not, t

[2020-01-07 17:47] jonahwilliams commented on #48311
"not working" is not enough information to tell whether this is a framework or user error, though I suspect the former. For these sorts of questions, it better to reach out in a channel on flutter.dev/community

[2020-01-07 17:47] #48311 closed

[2020-01-07 17:47] normancarcamo commented on #44796
I like the framework honestly, but it has a lot of errors yet (from 2018 till 2020), sometimes I have to overnight just to figure out why on my machine is working while on the coworker's machine isn't.
Does anybody know if we can use docker with flutter to avoid more these errors?
I'm really tired and kinda upset.

[2020-01-07 17:49] jonahwilliams commented on #48308
You haven't actually included the error you've seen, so it's not possible to help. Notably, the error refers to a function "results" which doesn't exist in the code snippet you've shared. This is likely a bug with your own code, and you would have better results reaching out on a channel in flutter.dev/community or stackoverflow.

[2020-01-07 17:49] #48308 closed

[2020-01-07 17:54] Kleak commented on #48233
I would suggest you to look at [visibility_detector](https://github.com/google/flutter.widgets/tree/master/lib/src/visibility_detector)

[2020-01-07 17:59] rakudrama opened #48321 "Consider copying MultiChildRenderObjectWidget.children"
One of the problems with the Flutter model is that developers can accidentally or intentionally mutate the Widget tree via mutating MultiChildRenderObjectWidget.children.  See https://github.com/dart-lang/sdk/issues/27755.

I think there might be a performance reason to copy the children. It depends on how often the framework walks the `children`.

`List` is an interface that has many implementati

[2020-01-07 18:02] ratcashdev commented on #20608
@goderbauer imagine a situation where bodies for both `pos < current` and `pos > current` are/should be lazy loaded. One does not know how many items there are, just asks for the next N to the left, or to the right, depending on the scroll direction.

Also for the sake of memory-efficiency, let's assume we do not want to keep all the already loaded elements in memory, but instead drop them and rel

[2020-01-07 18:03] TheGadri commented on #48159
This worked for me

[2020-01-07 18:05] Hixie commented on #48213
There's zero chance we will port to the Game Boy Advance, our license file alone is too big to fit in the Game Boy Advance's RAM. :-)

Porting Flutter requires, among other things:
 - Porting Skia to support the GPU of the new platform.
 - Porting Dart to support compiling to the new platform's architecture in AOT and JIT mode.
 - Enabling hot reload on the new architecture.
 - Porting the tool to

[2020-01-07 18:08] ahmaducg commented on #47241
The error only happens when I change the map's visibility. If the map is already visible, moving it doesn't trigger the error.

Note that I'm moving the camera right after "onMapCreated" is called, since by then the map should be fully loaded and visible. Making the message of the exception unlogical.

[2020-01-07 18:09] kolaente commented on #44796
@normancarcamo There is the `cirrusci/flutter` docker image which works quite well and is well supported.

[2020-01-07 18:11] dnfield commented on #48066
@ds84182 that's what I'm thinkin gas well.  I only see memory usage increasing in JIT mode.

[2020-01-07 18:12] DyaryRaoof commented on #44796
I am totally with @normancarcamo.  It's Exhausting really. My hair is starting to show gray colors because of it. If I had known it was such a mess I would have gone with react native or some other framework.

[2020-01-07 18:13] ferhatb commented on #47950
/cc @mdebbar : is this the same right click issue ?

[2020-01-07 18:16] franciscojma86 commented on #47842
Just ran the test with multiple phones. They all show a delta of ~100 ms or lower, depending on the device. This benchmark seems to be very susceptible to the environment, and it might not be worth spending a lot of time investigating this, given that hot reload hasn't been affected in other platforms.

@liyuqian  @godofredoc  @jonahwilliams does this sound reasonable to you?

[2020-01-07 18:16] mdebbar commented on #47950
This was fixed in https://github.com/flutter/engine/pull/15103. Please reopen if you upgrade to latest master and still see the issue.

[2020-01-07 18:16] #47950 closed

[2020-01-07 18:17] gabrieloureiro commented on #47887
Fixed it with migrating for iOS 13.3

[2020-01-07 18:17] #47887 closed

[2020-01-07 18:22] mjaffa-figure commented on #22427
@timsneath This forked repo someone did fixes this issue. Can we get their change merged into the latest of this one so I can have all the latest addons from the official one.

https://pub.dev/packages/camera_fix_exception#-readme-tab-

[2020-01-07 18:23] mjaffa-figure commented on #22427
asap, we are shipped with this apparently broken on Android. We do most our testing on iOS, won't make that mistake again.

[2020-01-07 18:23] ferhatb commented on #47880
@mahmoudsalah37 : cloned and ran your app using flutter run -d chrome --release on master channel, was not able to repro. Can you please list steps to repro crash?  (Tried +AddNew on top and it opened dialog fine)

[2020-01-07 18:24] eliasto opened #48324 "I got this: The specified child already has a parent. You must call removeView() on the child's parent first"
Hi ! I'm currently made this app, but when I launch and select a tab, I got this:
`Launching lib/main.dart on Android SDK built for x86 in debug mode...
Running Gradle task 'assembleDebug'...
E/flutter ( 4545): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: PlatformException(error, The specified child already has a parent. You must call removeView() on the child's parent first.,

[2020-01-07 18:24] hterkelsen commented on #47023
It seems like Skia already supports decoding webp, it's just not exposed in CanvasKit.

@kjlubick how difficult do you think this would be to add to CanvasKit's image decoding support?

[2020-01-07 18:26] JohnDeved commented on #48213
@Hixie thanks for clarifying.
I think despite the hurdles, GBA would still be the best target platform for flutter. Let's think about this, if we compile to a.GBA file it would be super cross-platform capable. almost every platform on earth has a working GBA emulator, we would just need to ship our code with the emulator included. Kinda like electron.js, but better because it's a Gameboy emulator.

[2020-01-07 18:27] CaseyHillers commented on #46193
@hterkelsen you just pointed out the issue :)

We had a change to our deploy script where the Angular dart project was overriding the Flutter FontManifest, so this wasn't an issue with CanvasKit. Thank you for your patience!

[2020-01-07 18:27] #46193 closed

[2020-01-07 18:30] martyfuhry commented on #44564
I still get this error on my iPhone 5 (iOS 10.3.3), and none of the workarounds fix it for this device.

Downgrading to `google_sign_in: 4.0.7` did not solve it for me, redownloading my GoogleService-Info.plist did not help.

`-[NSNull stringByAddingPercentEncodingWithAllowedCharacters:]: unrecognized selector sent to instance 0x390a5978
2020-01-07 13:19:22.241084-0500 Runner[346:24285] *** Termin

[2020-01-07 18:32] mklim commented on #41771
Thanks for reporting this issue! Closing as a duplicate of flutter/flutter#25767.

[2020-01-07 18:32] #41771 closed

[2020-01-07 18:33] mklim commented on #45701
Thanks for reporting this issue! Closing as a duplicate of flutter/flutter#25767.

[2020-01-07 18:33] #45701 closed

[2020-01-07 18:33] mklim commented on #47514
Thanks for reporting this issue! Closing as a duplicate of flutter/flutter#25767.

[2020-01-07 18:33] #47514 closed

[2020-01-07 18:35] akravets opened #48325 "Registering my app with particular intent"
How can I register my app to open when html document is opened from Android or iOS. Is there an example that explains clearly what needs to be done? It seems to be a very common thing to do in mobile applications, but all I can find are hacks here and there, and nothing tangible. Thank you!

[2020-01-07 18:36] Piinks opened #48326 "Mirror scrollPhysics in TextFormField"
From an old PR:

This seems like a reasonable change. The PR that first proposed it, #36562, needed tests, and has been closed after a few months without a response. This sounds like a nice change for new contributors. :)

[2020-01-07 18:42] mdebbar commented on #45789
FWIW, this issue occurs on Android too (with a bluetooth mouse). See video recording: https://youtu.be/epsALmZ_5JY

[2020-01-07 18:46] Hixie commented on #48213
As a general rule, for platforms that it would actually make sense to port to, we are certainly open to contributions. This bug itself doesn't seem actionable at this point so I'm going to close it.

[2020-01-07 18:46] #48213 closed

[2020-01-07 18:55] Dancovich commented on #45526
@iapicca

Full example that triggers the error as soon as you press Save on the toolbar. It's heavily based on an app of mine that triggered the error for me, hence the design of the separate Widget for the text field and the controller that's passed as argument.

App was run on a x86_64 emulator running Android 10. Just replace `main.dart` in the default new project.

[code]

output of `flutter c

[2020-01-07 18:59] JohnSnooow commented on #33753
same error happen to me,      Help me... I cant reproduce this exception, but happens many on production

[2020-01-07 19:05] ahmaducg commented on #47244
I found out that `textDirection: TextDirection.rt` On the `Text` Widget solved the overlapping (or the wrong bounds) of the drawn text.

It happens in other places too, where the `Text` Widget fails to calculate the bounds correctly, even though there is a `Directionality` Parent with `textDirection: TextDirection.rtl,`

[2020-01-07 19:05] #47244 closed

[2020-01-07 19:07] shihaohong commented on #47516
I cannot reproduce the issue. I edited the original issue with a minimal reproducible sample app based on the code provided by the original poster.

[2020-01-07 19:13] Hixie commented on #24843
cc @gspencergoog

[2020-01-07 19:14] Hixie commented on #25505
I'm going to close this since it's not very actionable. We should keep an eye out for this and if we can repro file a bug with the steps to repro.

[2020-01-07 19:14] #25505 closed

[2020-01-07 19:18] mehmetf opened #48331 "RaisedButton enabled<->disabled transition is not smooth."
Internal bug: b/147266384

RaisedButtons have textColor, disabledTextColor, color and disabledColor (amongst others) as well as animationDuration.

When changing between disabled and enabled states, by passing in null or non-null for onPressed, the text color animates smoothly, but the background color does NOT. Some flickering is evident

When colors are specified, then there's no flickering, but

[2020-01-07 19:27] irfantusneem commented on #37798
It looks like this can be reproduced in other containers even when there is no controller set.

[2020-01-07 19:29] jmagman commented on #43499
@lifenautjoe You might want to file an issue against [CocoaPods](https://github.com/CocoaPods/CocoaPods/issues), they might be able to help figure out why Pods_Runner has an unexpected Mach-O header.

[2020-01-07 19:31] ThinkDigitalSoftware opened #48333 "Flutter Inspect Widget tool does not work well with overlays"
When using overlays, like Dialogs, Drawers, etc, the Select Widget mode of the inspector selects the underlying widget and not the actual widget clicked. This has always been the case, at least since Public Beta 3.
Here's a gif  of it in action. As you can see, it highlighted the underlying `BottomNavigationBarItem` instead of the `Text` widget or the Drawer
![2020-01-07 11 28 53](https://user-ima

[2020-01-07 19:43] jonahwilliams commented on #48333
cc @jacob314

[2020-01-07 19:45] ahmaducg opened #48335 "textAlign: TextAlign.justify leaving extra space on the right in arabic text"
When using the following widget, with the text, the result shows as the image
[code]

![SmartSelect_20200107-213527](https://user-images.githubusercontent.com/45195295/71923442-b41e6380-3195-11ea-9d02-71a9b54d137b.jpg)

The text leaves a space in the alignment, and there is an extra Letter Spacing

[2020-01-07 19:47] xellDart commented on #43499
Thanks! This work for me!

[2020-01-07 19:51] jestelle commented on #1618
Is there anywhere I can see a demo of this? I didn't see it in the gallery app.

Poking at the code,
 _circular: sizing: I've made the default size to-spec, but we actually desire non-linear adjustment of the stroke width as the size of the indicator changes._
I don't think this is addressed anywhere.

_circular indeterminate: multiple color support_
This has been primarily used for Google-specifi

[2020-01-07 19:58] tvolkert commented on #34545
It was rolled back.

[2020-01-07 19:58] ThinkDigitalSoftware opened #48338 "Add orElse or a fallback to Navigator.popUntil()"
## Use case

I would like to add some more stability to my app when navigating to the logged-out screen. Instead of ensuring that a screen is on the stack, which I can't do programmatically (since we don't have external access to the stack yet, (#45938 maybe?), I want to do popUntil(ModalRoute.named('/') however, in case this screen doesn't exist in the stack, maybe the user was deep-linked in or

[2020-01-07 20:01] Hixie commented on #41267
@mit-mit Can you set a target milestone that represents a conservative estimate of when this will land? Thanks!

[2020-01-07 20:08] #44353 closed

[2020-01-07 20:08] #46024 closed

[2020-01-07 20:08] #46025 closed

[2020-01-07 20:08] #46026 closed

[2020-01-07 20:12] Hixie commented on #31203
Since this appears to have been abandoned and we never determined the cause, I'm going to close it, as it seems no longer actionable.

[2020-01-07 20:12] #31203 closed

[2020-01-07 20:13] #35425 closed

[2020-01-07 20:17] amirh commented on #46258
This was done in https://github.com/flutter/plugins/pull/2402

[2020-01-07 20:17] #46258 closed

[2020-01-07 20:20] #44439 closed

[2020-01-07 20:21] Hixie commented on #43672
This is mostly moot now right? I'm going to close it.

[2020-01-07 20:21] #43672 closed

[2020-01-07 20:25] mit-mit commented on #41267
Actually, the fix is in stable as of 1.12, and looks like docs were already updated in https://github.com/flutter/website/commit/5e622ab109f5a8b3306cc8a5f7336f43678ec768#diff-feae4e9de41c43216737d205e4c1dc9c, so closing

[2020-01-07 20:25] #41267 closed

[2020-01-07 20:26] ferhatb commented on #42578
/cc @mdebbar

[2020-01-07 20:28] ashamp commented on #41592
just delay the load to fix this

    import 'package:flutter/cupertino.dart';
    import 'package:flutter/material.dart';
    import 'package:webview_flutter/webview_flutter.dart';

    class WebViewPage extends StatefulWidget {
      final String url;
      final String title;

      WebViewPage(this.url, this.title);

      @override
      State<StatefulWidget> createState() => new WebViewPageSt

[2020-01-07 20:30] #47328 closed

[2020-01-07 20:32] theyough commented on #47954
@stuartmorgan Can you explain me how to do ?

[2020-01-07 20:35] Zizico2 commented on #43694
I'm also stuck on this. I can scroll with noise wheal but touch scrolling is still enabled. My workaround is to disable ScrollingPhysics and then manually catch the mouse scroll and scroll the SingleChildScrollView manually. I might work on implementing a custom scroll bar but native scrolling would just be ideal (or non-native scrolling that would be undistinguishable from native scrolling for al

[2020-01-07 20:39] yjbanov commented on #45789
Thanks for investigating, @mdebbar!

**Hypothesis**: perhaps at the edge of the mouse region an "exit" event happens, which pumps another frame that changes the size of the mouse region again going back to initial state, thus causing an infinite loop?

I'm going to remove the web label for now.

[2020-01-07 20:39] normancarcamo commented on #44796
@DyaryRaoof I guess it's also part of what we get into. Although I have to be sincere, there are some things that I don't understand quite well, but this kind of error I really doubt it's part of my level as a developer, so I agree with you.

[2020-01-07 20:40] normancarcamo commented on #44796
@kolaente Interesting, I would check it out.

[2020-01-07 20:44] mannprerak2 commented on #48326
Hi @Piinks
I have added a PR #48342 (with required tests)

[2020-01-07 20:44] saidlp commented on #48290
Hello @iapicca  !
Thank you so much for looking into it.
Here is a full example, I hope it helps replicate. The whole test app is contained in one file, main.dart.
I'm currently replicating the problem on the iPhone 11 Pro Max emulator and on my actual Android LG6, both using Android Studio. Thanks again!
main.dart:

`import 'package:flutter/material.dart';

void main() {
  runApp(TestApp());
}

c

[2020-01-07 20:49] sevekim commented on #45695
Based on this [answer](https://stackoverflow.com/a/59608338/4456697), I just put `Completer<GoogleMapController> mapController = Completer();` outside of the google map class, so there is only one key even if the widget gets rebuilt.

So far, it seems to work just fine.

Give it a try.

[2020-01-07 20:50] carfra commented on #10765
In my case, it worked when I deleted the .packages file and the build folder.

[2020-01-07 20:54] amenk commented on #47220
Also reproducible on iPad Pro 12.0 inch 3rd generation in the simulator

[2020-01-07 20:57] dnfield commented on #37820
I believe this is fixed - I'm going to close it and will re-open if we're finding that asan is failing again.

[2020-01-07 20:57] #37820 closed

[2020-01-07 20:58] mklim commented on #26228
Thanks for the detailed analysis @edwardhuerta, that makes this much easier to fix! It looks like the root issue is that when [we add a listener to the PermissionsRegistry in `CameraPermissions.java`](https://github.com/flutter/plugins/blob/master/packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java#L33-L38) and send a reply within the callback, it never gets unre

[2020-01-07 21:02] mdoelker commented on #47220
Specifying the optional `sharePositionOrigin` fixes it. I guess there should be some kind of default in place in the plugin.

[2020-01-07 21:02] mdoelker commented on #47220
https://github.com/flutter/flutter/issues/44962

[2020-01-07 21:03] 4tKnight commented on #36014
works perfectly .... thanks

[2020-01-07 21:11] kf6gpe commented on #25702
Closing due to lack of reproducible case. If there's one posted to this bug, feel free to reopen. Thanks!

[2020-01-07 21:11] #25702 closed

[2020-01-07 21:14] DrFrancky commented on #37166
This is still an issue.
If one of the values in the List is '' then this error will pop up.

[2020-01-07 21:16] kf6gpe commented on #45138
Looks like we do this now:

[code]

[code]

[2020-01-07 21:16] #45138 closed

[2020-01-07 21:19] kf6gpe commented on #21179
Closing as the issue has been moved to FirebaseExtended/flutterfire#683

[2020-01-07 21:19] #21179 closed

[2020-01-07 21:22] kf6gpe commented on #25021
Trying to clarify here --- it looks like some folks had problems with key provisioning, which are outside of flutter. @DenisBogatirov, are you indicating that there's a problem with the plugin itself as well?

[2020-01-07 21:23] yjbanov commented on #47003
I've been out for a few weeks. Did disabling screenshot tests fix the flakiness?

[2020-01-07 21:23] jmagman commented on #48147
It's the same underlying issue.  The channel is derived from the git branch you're on (master, stable, dev, beta), but `flutter version <>` checks out the repo in a detached HEAD state.

[2020-01-07 21:23] kf6gpe commented on #36515
Closing due to lack of reproducible case & `flutter doctor -v` output. If you'd like us to look into it, please reopen with these.

[2020-01-07 21:23] #36515 closed

[2020-01-07 21:26] move[bot] opened #48347 "Cannot recognized some armv7 Android devices"
*@yrom commented on Jan 7, 2020, 3:10 AM UTC:*

I'm using Flutter 1.12.13\. My Flutter app crashes on some user's devices caused by `Unrecognized ARM CPU architecture`:

[code]

The Flutter 1.12.13 depends on [<tt>a4911c6</tt>](https://github.com/dart-lang/sdk/commit/a4911c63f4f72ba571d6db94de56007b09f4af99).
Related issue [flutter/flutter#47819](https://github.com/flutter/flutter/issues/47819).

[2020-01-07 21:28] jasonta commented on #48284
@VladyslavBondarenko Thanks for the quick response. As indicated in a comment on that issue, it would be nice if the debug/assert message were made more helpful. I only discovered the specific source of this assert error by searching through the flutter source code. (`ui/painting.dart`) Is there a PR/issue for improving that?

[2020-01-07 21:30] gaaclarke opened #48349 "Settings.h needs doxygen"
file: https://github.com/flutter/engine/blob/master/common/settings.h

[2020-01-07 21:35] franciscojma86 commented on #47839
I ran this benchmark locally and I do see the increase over time. It would be really hard to find a single culprit, given that the increases are so subtle. However, I don't think this should block the roll since the latests commits are just barely above the baseline (less than 3 ms over).

It is safe to re-baseline and investigate if it increases any further.

[2020-01-07 21:35] #47839 closed

[2020-01-07 21:36] VladyslavBondarenko commented on #48298
Hi @Tumbler0809
despite 'WRITE_EXTERNAL_STORAGE' permission, android will not allow you to write (delete) files outside of the directory of your application.
Closing, as this isn't an issue with Flutter itself,
if you disagree please write in the comments and I will reopen it.
Thank you

[2020-01-07 21:41] kf6gpe commented on #24898
No longer repros with Flutter 1.12. Closing.

[2020-01-07 21:41] #24898 closed

[2020-01-07 21:48] chingjun commented on #47003
I believe so. I left a few screenshot tests enabled and the flakes I see now all happen after a screenshot test. Eg. https://github.com/flutter/flutter/runs/372639367

[2020-01-07 21:50] VladyslavBondarenko commented on #48296
Hi @hicnar
Could you please provide your code sample and your logs in the text form instead of posting images?
About your second question, you may want to follow [#31945](https://github.com/flutter/flutter/issues/31945)
Thank you

[2020-01-07 21:57] obshksw commented on #44583
@yjbanov Yep, it is indeed integration tests that I want to make. I never dove into FlutterDriver, I'll take a look into it!

Thank you!

[2020-01-07 21:58] kf6gpe commented on #22989
Based on age and fljohnson's comment, closing this.

[2020-01-07 21:58] #22989 closed

[2020-01-07 22:00] mit-mit commented on #45769
Hi @gsy13213009 I think you're asking for the ability to have a `pubspec.local.yaml` file that only the developer of the package would have, and which wouldn't be checked into source control? And that our tools would use that local file if it exists, and if not, then use `pubspec.yaml`?

That would introduce quite a bit of complexity as many Dart tools depend on this file, and would suddenly need

[2020-01-07 22:05] CaseyHillers commented on #45569
Since this is fixed in the engine, I am going to close this. Feel free to reopen.

There is an issue tracking scrollbar support for the dashboard at https://github.com/flutter/flutter/issues/45273

[2020-01-07 22:05] #45569 closed

[2020-01-07 22:05] kf6gpe commented on #15357
Closing due to lack of logs and reproducible steps. Feel free to reopen if someone can provide these.

[2020-01-07 22:05] #15357 closed

[2020-01-07 22:10] kf6gpe commented on #10140
I'm closing this based on all of the testability @collinjackson & co have done this year towards testability; it's obsolete at this point.

[2020-01-07 22:10] #10140 closed

[2020-01-07 22:14] imaNNeoFighT commented on #46813
Any news about it?

[2020-01-07 22:15] stuartmorgan commented on #47954
If you aren't familiar with gdb, never mind the backtrace.

Can you describe your configuration? For instance, you say "Devices: emulator"; does that mean this is a VM rather than an actual machine? If so, does OpenGL content in general work in this emulator?

[2020-01-07 22:21] hicnar commented on #48296
Thank you for your response Vladyslav

Right below is the code snippet I used for testing

[code]

And here's the log excerpt showing what's printed out right after a non media key is pressed that in a way "unlocks" the functionality so it starts to work on my S9 just as it does on the Pixel C (those lines are not printed when I test the app on my Pixel C).

[code]

I am aware of #31945 actually I

[2020-01-07 22:24] Kar7h1k commented on #48286
Hi @VladyslavBondarenko ,

I tried changing the dependency, error still exists,

**Because l10n >=1.4.0 depends on intl ^0.15.0 and every version of flutter_localizations from sdk depends on intl 0.16.0, l10n >=1.4.0 is incompatible with flutter_localizations from sdk.
So, because <#projectx> depends on both flutter_localizations any from sdk and l10n ^2.0.19, version solving failed.
Running "flut

[2020-01-07 22:32] kf6gpe commented on #33612
Bug pending input from H/W vendor.

[2020-01-07 22:34] kf6gpe commented on #25827
This is by design for performance reasons, as @zoechi mentions. I'm going to close this issue with the ways to work with this currently listed here.

[2020-01-07 22:34] #25827 closed

[2020-01-07 22:37] kf6gpe commented on #39086
Closing as it looks like this is correct behavior between documentation and `flipped`.

[2020-01-07 22:37] #39086 closed

[2020-01-07 22:39] kaarens93 commented on #13015
Hi, any updates to this??

[2020-01-07 22:39] kf6gpe commented on #35122
Please bring this up on one of the Flutter channels at http://flutter.dev/support; folks there should be able to help you. Thanks for using Flutter!

[2020-01-07 22:39] #35122 closed

[2020-01-07 22:40] jmagman commented on #48092
I need to try this, I'm not sure what's going on and don't have a workaround at the moment.

[2020-01-07 22:41] zanderso commented on #48015
The action item here seems to be to make both of these commands behave the same way. Assigning to @blasten to look into that.

[2020-01-07 22:42] shinayser commented on #13015
This feature has 165 👍 + 7 ❤, isn't that enough for flutter team to take a look? 😢

[2020-01-07 22:43] zanderso commented on #47833
This appears to be an issue with the path provider plugin, so I'm removing the 'tool' label. @collinjackson

[2020-01-07 22:45] zanderso commented on #47751
/cc @blasten for advice on how to fix/proceed.

[2020-01-07 22:47] zanderso commented on #47645
Hi @hoahoctro, could you post the logs from `flutter run --verbose` ? Thanks!

[2020-01-07 22:49] VladyslavBondarenko commented on #48324
Hi @eliasto
For your case consider to use `reloadUrl(String url)` function of [flutter_webview_plugin](https://pub.dev/packages/flutter_webview_plugin) instead of `launch`.
It should help to you
Closing this issue
If you disagree please write in the comments and I will reopen it.
Thank you

[2020-01-07 22:49] #48324 closed

[2020-01-07 22:51] zanderso commented on #47329
It sounds like the run and attach cases need to use different log readers.

[2020-01-07 22:58] gspencergoog commented on #42511
The `DropdownButtonFormField` already has a `Focus` widget inside of it, since it uses `DropdownButton<T>` internally.

[2020-01-07 23:00] theyough commented on #47954
I m working on ubuntu 18.04 Desktop and flutter is working on the same machine, No VM or container.
I'm able to work with flutter and visual studio to build Android App without any issue.

I've never had any issue with opengl in my desktop environment.
if you need more details, lmk

[2020-01-07 23:04] zanderso commented on #47204
/cc @blasten to try to reproduce this.

[2020-01-07 23:12] iskakaushik opened #48355 "[flutter_tools] Precache download content is a super set of what is asked"
I am not sure what guarantees `precache` has. When passing `--flutter_runner` we currently download:
[code]

Many of these seem not required. Same with `--fuchsia`.

[2020-01-07 23:12] darrenaustin commented on #46625
I have an attempt to fix this still be reviewed and discussed. Sorry we didn't get this sorted out before the break.

[2020-01-07 23:25] durduliu2009 commented on #12140
Unfortunately even in 2020 idToken is still null
[code]

[2020-01-07 23:35] martin-labanic opened #48360 "Garbage collection impacting performance when using multiple isolates and the camera."
I am attempting to process image data on one isolate provided by a camera preview running in the main isolate. While I expected garbage collection to have some impact it appears to be causing my performance to plummet, and this is before I attempt to run it through a third party c++ library via the dart ffi.

## Details

To reproduce the problem just run the provided sample project for a minute an

[2020-01-07 23:36] jonahwilliams commented on #48355
FYI: https://github.com/flutter/flutter/issues/37184

[2020-01-07 23:36] #44585 closed

[2020-01-07 23:36] #44845 closed

[2020-01-07 23:36] #48032 closed

[2020-01-07 23:39] mdebbar commented on #42578
`autofocus` is something we haven't looked at for web yet. I'll see if we can at least avoid the exception in the short term so the app doesn't crash.

[2020-01-07 23:43] ferhatb commented on #48216
Addressed in https://github.com/flutter/engine/pull/15153 , needs the engine to land in flutter master

[2020-01-07 23:45] stuz5000 opened #48361 "[web] shared_preferences error: check the following imports: generated_plugin_registrant.dart"
If:

 * deploying to flutter web
 * project uses shared_preferences
 * project has more than one main function
 * the secondary main functions are in sub-directories of the project's lib (but not lib itself)

then flutter gives an obscure error that prevent the app from launching in Chrome, but works fine when deploying to an Android emulator.

Its important to gave multiple mains -- it allows is

[2020-01-07 23:48] ferhatb commented on #47513
Fixed & added tests in https://github.com/flutter/engine/pull/15153 , please retry and let us know if you are fine now using master channel after next engine roll into flutter.

[2020-01-07 23:51] kaarens93 commented on #43035
hi, wanted to see where the team's at with autofill
know you guys are working hard but this is a very important feature

[2020-01-08 00:07] Hixie commented on #46570
Have we received any other reports of people seeing this?

[2020-01-08 00:07] Hixie commented on #46570
We were unable to reproduce on our Gallery app, for what it's worth.

[2020-01-08 00:08] #48242 closed

[2020-01-08 00:16] Hixie commented on #44256
@cbracken says he will have a better idea of the timeline for fixing this in a week.

[2020-01-08 00:21] #46570 closed

[2020-01-08 00:26] #47376 closed

[2020-01-08 00:26] cbracken commented on #46911
We believe this is an upstream Skia issue related to multi-texturing. This is back on our plate to verify whether disabling multi-texturing eliminates the issue and to get back to the Skia team with the answer.

[2020-01-08 00:27] #41839 closed

[2020-01-08 00:29] #47751 closed

[2020-01-08 00:31] ferhatb commented on #46833
Note: linear gradient doesn't support tilemode yet. One way to implement this would be to create a small image based on shader offsets and then use createPattern canvas api. For radial tile we have no option but to extend # of gradient stops.

[2020-01-08 00:36] 330676687 commented on #41067
nice!!

[2020-01-08 00:37] 330676687 commented on #41067
nice!!!

[2020-01-08 00:37] cookseym commented on #28567
+1

[2020-01-08 00:39] ferhatb commented on #46831
Note: use filter: invert(x%) on parent node to impl.

[2020-01-08 00:41] jmagman commented on #48292
What exact command are you running?  Those logs say "Could not build the precompiled application for the device."

[2020-01-08 00:42] ferhatb commented on #46830
Duplicate of https://github.com/flutter/flutter/issues/46827

[2020-01-08 00:42] #46830 closed

[2020-01-08 00:44] gspencergoog commented on #47479
I believe that this is an issue with the Flutter app in question, and not with Flutter itself: we do support navigation via the keyboard, both with TAB/Shift-TAB, and the arrow keys (and the d-pad on a game controller).

Is there a simple source code example you can give me where it doesn't work?
What widgets are being used on the pages in question?

If they are custom widgets, then they may need

[2020-01-08 00:47] LongCatIsLooong commented on #13015
We're working on it and hope to release something in the first quarter of 2020.

[2020-01-08 00:50] Hixie commented on #9078
Haven't seen this in a long time.

[2020-01-08 00:50] #9078 closed

[2020-01-08 00:52] MoshDev opened #48366 "Canvas.drawPath(path,paint), with paint blendMode = BlendMode.clear draws black!"
## Steps to Reproduce

1. I draw an image over the canvas
2. Then i try to erase path of the Canvas by drawing a path with paint blendMode = BlendMode.clear
3. Tried almost all BlendModes and none worked to clear the path
4. Either BlenModes draw the path with normal color, or Black where i was expecting to clear the path on canvas

[code]

Screenshot:
![device-2020-01-08-004812](https://user-imag

[2020-01-08 00:52] #25855 closed

[2020-01-08 00:56] blasten commented on #47204
I was able to reproduce this issue by using an emulator running Android 10.

[2020-01-08 00:57] blasten commented on #47204
[code]

[2020-01-08 01:08] j0nscalet commented on #36684
This is probably suited for StackOverflow because it's more of a question and not a bug. Have you tried posting there?

[2020-01-08 01:31] blasten commented on #47204
Duplicate of https://github.com/flutter/flutter/issues/33050

[2020-01-08 01:54] jeroen-meijer commented on #48217
Can confirm, the state is not preserved.
I believe this reason is because you change the `IndexedStack`s `key` every time a page change occurs. The framework will then (correctly) throw away and rebuild the `IndexedStack`, and as a result the state is not preserved.

[2020-01-08 01:54] benedicte69 commented on #22255
maybe they are in the IDE some code such as  C: ? get the file : return null;   and it is more cautious to be explicit about the meaning of :     Le lundi 6 janvier 2020 à 23:11:18 UTC+1, Ian Hickson <notifications@github.com> a écrit :

It's not clear why they would need to be escaped?

—
You are receiving this because you authored the thread.

Reply to this email directly, view it on GitHub, or

[2020-01-08 02:25] dvmhmdsd commented on #47193
I faced the same issue but when I type `flutter run --enable-software-rendering` it worked.

[2020-01-08 02:31] DSANZY opened #48368 "'dart:ui/text.dart': Failed assertion: line 1372: '<optimized out>': is not true."
<details>
	<summary>logs</summary>

[code]

</details>

[code]

**Target Platform: Flutter 1.12.13**
**Target OS version/browser: iOS13.3**
**Devices: iPhone 11**

<details>
	<summary>logs</summary>

[code]

</details>

[code]

[2020-01-08 02:48] #18426 closed

[2020-01-08 02:59] xster commented on #47903
I'm on `v1.13.7-pre.41`, but I wasn't able to reproduce it on Pixel 3 and Galaxy S10

https://streamable.com/8wj1o
https://streamable.com/u5fh9

Anything else involved in the repro?

[2020-01-08 03:11] sameeraepic commented on #48279
**flutter build apk**

You are building a fat APK that includes binaries for android-arm, android-arm64, android-x64.
If you are deploying the app to the Play Store, it's recommended to use app bundles or split the APK to reduce the APK size.
    To generate an app bundle, run:
        flutter build appbundle --target-platform android-arm,android-arm64,android-x64
        Learn more on: https://de

[2020-01-08 03:22] gsy13213009 commented on #45769
- Hi @mit-mit Thanks for your reply. I think we can create a `script in githooks` to do it, but in my opinion. Can we offer some way to use `different pubspec.yaml`?
- I think use script to do it is not best. In some case. It need use different dependence in different channel(although now we don't have this case, but as far as I know, multi-channel is a common phenomenon in android).
- If it too d

[2020-01-08 03:23] #45523 closed

[2020-01-08 03:27] vagrantrobbie commented on #46705
I am on MacOS Catalina 10.15.2. Physical device iPhoneX iOS13 and iPad iOS13.
[code]

When launching the app via the command line `flutter run --verbose` it launches normally.

When I launch via my IDE IntelliJIDEA, the app installs and then hangs at "Installing and launching...".  It does not run. The --verbose log says
[code]

If I disable my Firewall, the app launches fine from IntellijIDEA and

[2020-01-08 03:27] suragch opened #48370 "Difficulties when implementing custom text layout for vertical Mongolian script"
Since issue #35994 was closed without being solved, this issue an attempt to follow the [advice](https://github.com/flutter/flutter/issues/35994#issuecomment-571277992) from @Hixie to open a specific use case example and describe the bugs that prevent it from being implemented.

## What I am trying to do

Take Mongolian text that would be rendered as follows in a normal Text widget:

![mongolian_l

[2020-01-08 03:29] JasterV commented on #43694
Hello, i have the same problem, page doesnt scroll hen i scroll with the mouse wheel or the touchpad

[2020-01-08 03:35] gsy13213009 commented on #47324
- Hi @liyuqian Thanks for your attention. If we can support the relative path in a plugin/packages, We can reuse this plugin/packages in other project. And don't need create a new branch to replace all `relative path` to `git path`

[2020-01-08 03:38] esDotDev commented on #43694
Just need some way to let that content be unbounded vertically, and let the native scrollbars do their thing. Easy right? ;)

[2020-01-08 03:46] blasten commented on #47204
I was able to fix the issue by updating system image to revision 8. This can be done by going to Preferences -> System Settings -> Android SDK -> SDK Platforms.

<img width="741"  src="https://user-images.githubusercontent.com/1410613/71948716-c55f7400-3185-11ea-86fa-ae3dc6d83781.png">

If you hitting this issue, it's likely that you are using an older system image and facing  https://issuetracker

[2020-01-08 03:47] tangzonglin commented on #42749
we have many this kinds of crash, how to fix

[2020-01-08 03:48] Peng-Qian opened #48371 "[google_sign_in] Animation Problem: Android Black Status Bar Slide to Bottom"
Hi
As the gif shows, when google sign in plugin (https://pub.dev/packages/google_sign_in) active, it will change the status bar to be black and after the process has done, the black bar will slide to the bottom.

It really breaks the UI appearance, is there any approach can fix it?

I have tried it on different android versions and create a brand new project as following, but the problem remains.

[2020-01-08 03:49] pqsky7 commented on #48371
![google_sign_in_bug](https://user-images.githubusercontent.com/37643086/71949013-cf8d7b00-3236-11ea-81dd-d07b061ba360.gif)

[2020-01-08 03:53] MxSoul commented on #48066
@dnfield field we also reproduce it in release mode. But we can't locate the problem in release mode.

We found that the number of layers was growing abnormally in debug mode. It might be the reason of memory growth.

LeakStack is here:
[code]

[2020-01-08 03:56] pqsky7 commented on #48371
[code]

[2020-01-08 04:08] adarshbalu commented on #47579
Can i do anything now ?

[2020-01-08 04:16] KhoaSuperman commented on #27190
Same here. Happen on my Samsung Note 10 Android 10. Flutter 1.9.1+hotfix.6.
it freezes the phone then I have to hard reset.

[2020-01-08 04:18] kunit1 commented on #14967
While UWP is definitely desired, Win32 is definitely not going anywhere. Microsoft announced recently that they are adding Win32 support to Windows Store. Also, many games continue to be developed under the Win32 platform.

[2020-01-08 04:19] fzyzcjy commented on #7053
+1 Can we have C++ support?

[2020-01-08 04:29] xster commented on #32824
This is done. The CLI `flutter attach` is now long living. IntelliJ has an equivalent solution now in https://github.com/flutter/flutter-intellij/pull/4200.

A branch-off issue exists in vscode with https://github.com/Dart-Code/Dart-Code/issues/2115.

[2020-01-08 04:29] #32824 closed

[2020-01-08 04:31] xster commented on #42661
@blasten you moved this to the done column. Did you mean to close this bug too?

[2020-01-08 04:31] xster commented on #39520
Same here. Should we close this?

[2020-01-08 04:39] indigothm opened #48373 "Images flicker in Safari when scrolling"
## Steps to Reproduce
The website: https://velmio-web.web.app
Each image is loaded from firebase using Image.network and a direct URL.

So when the page loads and the images load scrolling the page seems to reset the images. This doesn't happen in Chrome or Firefox.

**Target Platform:** Web
**Target OS version/browser:** Safari 13
**Devices:** MacBook Pro

## Logs

[code]

[2020-01-08 04:42] exts commented on #48219
I'll give it a shot this week if nobody else is. Never contributed to flutter, but I may be able to manage. 🤞

[2020-01-08 04:43] blasten commented on #42661
As per https://github.com/flutter/flutter/issues/42661#issuecomment-541885505, there's no more work left here.

[2020-01-08 04:43] #42661 closed

[2020-01-08 04:43] blasten commented on #39520
This is done

[2020-01-08 04:43] #39520 closed

[2020-01-08 04:46] softmarshmallow commented on #44796
@kimweichew, please reopen this issue

[2020-01-08 05:00] cyber-noob commented on #47033
Even this demo app gets error. To be sure, I downloaded the latest version but didn't solve this error. Although I make a call to WigetsFlutterBinding.ensureInitialized(); above runApp();
it still gets error :cry:

[code]

[2020-01-08 05:03] dnfield commented on #48066
Are you running a different application? I ran the application from https://github.com/flutter/flutter/issues/47108#issuecomment-565933430 on an iPhone X for 40 or so minutes in release mode, and noticed no memory growth whatsoever.

[2020-01-08 05:04] dnfield commented on #48066
That stack makes it look like we're holding on to a shared pointer reference to a layer beyond what's needed - but I haven't observed that locally.

[2020-01-08 05:06] dnfield commented on #7053
@KaungZawHtet  and @fzyzcjy  - please consider opening a new issue (probably in dart-lang rather than flutter) for this.

I'm going to lock this issue - there are a lot of people subscribed to it, but it's original goal is pretty clearly resolved.

[2020-01-08 05:14] hursh-desai commented on #47732
I am getting the same error when running my flutter web app. The app gets built and launched in Chrome. But all that appears is a blank white screen. I also put a print statement right after main() and it does not print in the debug console. This is what i get when i run:

`C:\Users\hd626\Documents\GitHub\Web-App>flutter run -d chrome -v
[  +28 ms] executing: [C:\Users\hd626\flutter\] git -c log.s

[2020-01-08 05:15] yuhorun commented on #48054
Do you have to use proxies?Envoy. Why can't I just use it on golang's server?Like the one above.

[2020-01-08 05:27] xster commented on #32862
@blasten can you look through the list and see if there's anything else worth adding to the setup page? Otherwise we can close this.

At a glance, I think there's still a few things we can point out, like how to run release mode via include_flutter.groovy, can I use Flutter in an AndroidX project via include_flutter.groovy etc.

[2020-01-08 05:31] aman7000 opened #48379 "IOS Debug fails on Simulator / Device"
Downloading ios tools...                                            8.1s
Downloading ios-profile tools...
Download failed.
URL: https://storage.googleapis.com/flutter_infra/flutter/3f52888b3bcf7adb9bc8d7be01f717a0c15b6618/ios-profile/artifacts.zip
Error: 404 Not Found
Exited (50)

[2020-01-08 05:43] njovy opened #48381 "Use a system default font on flutter"
## Use case

Flutter apps need to use a system font for displaying a plain text. I guess I can use FontLoader to use a default system font on Android with a plugin but it would be really great to have this feature supported by engine.
Samsung, LG or other vendors using Android has a feature that users can change a system font in settings but this default font setting is ignored in flutter apps bec

[2020-01-08 05:44] xster commented on #47710
Duping into https://github.com/flutter/flutter/issues/45747

[2020-01-08 05:44] #47710 closed

[2020-01-08 06:04] shriharip commented on #36247
oh my god !!.. New year and this problem struck again. :(

This time, the app runs when connected to the device and also on simulator, but the release is creating a blank screen.

Log on running on the device.
Launching lib/main.dart on PRDI’s iPhone in debug mode...
Found saved certificate choice "Apple Development: TEAM NAME (TEAMID)". To clear, use "flutter config".
Signing iOS app for device d

[2020-01-08 06:05] Sunbreak opened #48383 "[Web] Image.colorBlendMode does not work"
`BlendMode` for `Image` works on Android/iOS, not Web

[code]

## Steps to Reproduce

See [ErrorReport:Flutter-Web:BlendMode](https://dartpad.dev/ff3d8e1cf7532401cd31a9351ca12e79)

**Target Platform:** Web
**Target OS version/browser:** Chrome
**Devices:** Chrome

## Logs

### flutter run --verbose

[code]

### flutter analyze

[code]

### flutter doctor -v

[code]

[2020-01-08 06:11] jaydevtrivedi opened #48384 "Failed to build iOS app"
Steps to Reproduce

1. Install flutter plugin on android studio 3.5.3
2. Start a new application run
3. Run on iOS emulator/device

<details>
	<summary>logs</summary>

[code]

</details>

<details>
	<summary>flutter doctor -v</summary>

[code]

</details>

[2020-01-08 06:11] DhavalRKansara commented on #48292
I ran `Flutter run --verbose.`

[2020-01-08 06:24] pqsky7 commented on #48371
I have tried Airbnb's Google Sign-in, it has the same problem, is this caused by Android emulator?

![google_sign_in_bug_airbnb](https://user-images.githubusercontent.com/37643086/71955119-484b0200-324c-11ea-8942-ca61b72e522f.gif)

[2020-01-08 06:38] DennisJu007 commented on #45526
I edit TextFiled by it's controller like: TextEditingController.text = "XXX", so i get those logs:
'dart:ui/text.dart': Failed assertion: line 1372: '<optimized out>': is not true.
The relevant error-causing widget was:
  TextField file:///Users/juxiao/AndroidStudioProjects/Flutter_Iot/yee_iot/lib/ui/widgets/login_text_field.dart:69:12
The following RenderObject was being processed when the except

[2020-01-08 06:40] DennisJu007 commented on #45526
I edit TextFiled by it's controller like: TextEditingController.text = "XXX", so i get those logs:
'dart:ui/text.dart': Failed assertion: line 1372: '': is not true.
The relevant error-causing widget was:
TextField file://
The following RenderObject was being processed when the exception was fired: RenderEditable#cbdf9 relayoutBoundary=up19
parentData: (can use size)
constraints: BoxConstraints(w=

[2020-01-08 06:42] EliasDeuss commented on #32215
@yjbanov Thank you for working on this issue.

[2020-01-08 06:49] #4021 closed

[2020-01-08 06:49] #18412 closed

[2020-01-08 06:51] appstute-pratik commented on #45882
Hi, Any workaround?
I'm facing the same issue for a release build.

[2020-01-08 06:52] richburdon commented on #42302
After 15 years of pain swears will NEVER use Google tools again because they NEVER "just work".

Tries Flutter...

"Getting started" doesn't work. Fails before even getting started.

AND YOU'RE CLOSING THE ISSUE BY POINTING DEVS -- ON THE WORLD'S MOST POPULAR DEV PLATFORM -- TO A THIRD PARTY MEDIUM POST THAT REQUIRES OBSCURE SUDO-LEVEL OS CHANGES?

[2020-01-08 06:58] long1eu commented on #47450
Sorry I couldn't wait anymore so I moved to a different solution. Thanks

[2020-01-08 07:00] RockerFlower commented on #46945
I put `Image.network()` in `ClipOval()`, the image also can't be loaded.
I tested in Mac's Safari, iPhone's Safari and Chrome.

[2020-01-08 07:05] nhatnam240996 commented on #45526
To fix the issue you can change,
return Stack(
      fit: StackFit.expand,
      children: <Widget>[
        body,
        _isSaving
            ? ModalBarrier(
                dismissible: false,
                color: Colors.black54,
              )
            : Container(),
        _isSaving
            ? Center(
                child: CircularProgressIndicator(),
              )
            :

[2020-01-08 07:07] DennisJu007 commented on #45526
I fixed this by myself, setState(() {
              TextEditingController.text = "XXX";
            });

[2020-01-08 07:07] dharanidharandharmasivam opened #48386 "[Web] Unimplemented error on extractPath method"
I have used **extractPath** method from **PathMetric** to extract sub-paths and to draw a line, but on the web, it throws an unimplemented error.

**Code Snippet:**

    for (final PathMetric measurePath in source.computeMetrics()) {
      double distance = intialValue;
      bool draw = true;
      while (distance < measurePath.length) {
        final double length = dashArray.next;
        if (d

[2020-01-08 07:08] TristanWYL commented on #47499
@HansMuller  @iapicca   Sorry for this belated reply due to the holiday.
I tested the old version of my built APP which is based on an old flutter SDK and this phenomenon did not occur. And now I updated the SDK as `1.12.13+hotfix.5 • channel stable` and it worked good as well. So I think that one update of the SDK caused this issue. Now I could close this issue and thanks very much for all your h

[2020-01-08 07:08] #47499 closed

[2020-01-08 07:11] demoNo opened #48387 "How to pass touch event through a platform view to another"
I have an app with two platform view one of these is a doodle view and another is webview, below is my code
[code]
when I set `UiKitView` `hitTestBehavior: PlatformViewHitTestBehavior.transparent`，the bottom `Listener` will print `web down, web up ...`, but the `WebView` can not receive touch event, I can't input and click button in html. the `GLView` is just a OpenGL View to render doodle.

-----

[2020-01-08 07:24] shuai0825 opened #48388 "support flutter by web?"

[2020-01-08 07:38] vanduong185 commented on #48114
I have the same problem.
In release mode, color of TextSpan works correctly when I use the following code:
[code]

but when add `fontSize` property to `TextStyle`, the text color is white.
[code]
Thank you for your help.

[2020-01-08 07:43] alfaruqrizqi18 commented on #44796
Oh okay, it's still closed. Good. I'm facing same issue here.

[2020-01-08 07:47] pxc0215 opened #48390 "How to use the same font as Android system?"
The Android system font has changed, but flutter app's font not change along with it. How to make them consistent？

[2020-01-08 07:48] OliverNarramore commented on #48016
Using Flutter version 1.12.13+hotfix.5, i'm also experiencing issues with the image_picker package.

On Android, if I use the gallery as a source and select an image it works fine. If I use gallery as the source, but select the back button on my device, the app crashes with no logs.

Furthermore, If I use the camera as the source, I can capture and recapture images, but when I select "OK" to confi

[2020-01-08 07:49] imagec opened #48391 "Why flutter app use much more memory than native app?"
I create a default sample flutter app with android studio, and I find it use almost 40Mb memory.

<details>
	<summary>logs</summary>

[code]

</details>

then I create a default sample native app, it use only 20Mb. Detail :

<details>
	<summary>logs</summary>

[code]

</details>

why flutter app use so much memory than native app, Is it reasonable？ thanks!
All apps run on a device which cpu is mtk

[2020-01-08 07:54] Dangtrungphu commented on #44796
Instead of thinking of a solution to this problem, I created a new project and import back the file. That saves me time on my project.

[2020-01-08 07:55] alfaruqrizqi18 commented on #44796
me too

[2020-01-08 08:00] Dinesh2703 opened #48392 "[web]: Error on click on button control while signing in from google/facebook"
Getting below error on click on any control like any button or textformfield.

<details>
	<summary>error</summary>

[code]

</details>

[code]

<details>
	<summary>flutter run --verbose</summary>

[code]

</details>

[2020-01-08 08:04] jasondphan commented on #44305
Did you check if you have iCloud running in the back? If that's turned off, make sure to clear out your DerivedData, perform a flutter clean, then try running again.

[2020-01-08 08:05] tudor07 commented on #48234
@genert can you thumbs up this issue please? they look at thumbs ups and not "me too" replies

[2020-01-08 08:06] AlexVincent525 commented on #47033
Please be aware that when you started to run `main.dart`, sometimes you'll get a couple lines of log, which comes from last time you run the dart file. No matter what project you have run.

For example, when you click run and get this error, terminate the process then rerun, you'll see the error again immediately. That doesn't point to the current process, take a closer look to the log and you may

[2020-01-08 08:21] iapicca commented on #48388
Hi @shuai0825
opening an issue please try to provide
all or some of the information indicated in the template

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2020-01-08 08:21] #48388 closed

[2020-01-08 08:26] jiehu5114 commented on #34477
mark

[2020-01-08 08:32] iapicca commented on #47241
Hi @ahmaducg
it might depends from the logic ("when" and "where")
the async function you sampled is called;

as is my previous answer,
could you please provide a reproducible minimal code sample?
thank you

[2020-01-08 08:34] iapicca commented on #48159
possible duplicate of https://github.com/flutter/flutter/issues/40517

[2020-01-08 08:35] oneofai commented on #23465
**This is a correct solution!**
and **YES** It is not mentioned in the tutorial, it is strongly recommended that the tutorial update this point.

[2020-01-08 08:49] guhan121 opened #48395 "NEProvider objects cannot be instantiated from non-extension processes"
1. i want write a flutter plugin for openvpn.  i git clone  plugin `flutter_vpn` and modify it.
2.  i  replce code `let p = NEVPNProtocolIKEv2()` to `let p = PacketTunnelProvider()` and

<details>
	<summary>code sample</summary>

[code]

</details>

3. debug it , and got a error:
[code]

The problem is:
I known the NetworkExtension must run extension processes , but i want write a NetworkExtension

[2020-01-08 08:59] ykmnkmi commented on #47513
BlendMode.clear same, but faster.

[2020-01-08 08:59] varamsky commented on #36684
Yes I have posted it on stack overflow but I haven't received an answer yet.....
Here is the link : https://stackoverflow.com/questions/57253591/having-trouble-when-i-try-to-use-layout-builder-to-build-an-anchored-overlay

[2020-01-08 09:03] lorenzOliveto commented on #47479
Here's a simple source code with a ListView and Text Widget:

[code]

In the demo video the EULA screen uses only material or cupertino widgets: a Column with an Expanded containing a ListView, a CupertinoButton, and Text and Image widgets inside the ListView.

So you are suggesting to wrap every focusable widget on the screen within a `FocusableActionDetector` and change the appearance of the wid

[2020-01-08 09:06] iapicca commented on #48290
Hi @saidlp
running your code it returns the error
[code]
which makes sense because both widgets has `key: Key(DateTime.now().toString()),`
moreover, try these other changes

[code]
Closing, as this isn't an issue with Flutter itself,
if you disagree please write in the comments and I will reopen it
Thank you

[2020-01-08 09:06] #48290 closed

[2020-01-08 09:16] zmtzawqlp opened #48396 "provide Flutter.framework without bitcode for v1.12.13 stable version"
I'm trying to add flutter to existing app by following https://flutter.dev/docs/development/add-to-app.
Existing ios app can't enable bitcode due to some reason, but i found flutter engine is builded with bitcode by default.

i found we can build flutter engine by self, https://github.com/flutter/flutter/wiki/Compiling-the-engine. but it's complicated and the network is a problem that i'm come fro

[2020-01-08 09:16] iapicca commented on #48325
Hi @akravets
Please see https://flutter.dev/community for resources for asking questions like this,
you may also get some help if you post it on Stack Overflow.

You may want to look at this SO [question](https://stackoverflow.com/questions/35506533/is-it-possible-to-register-a-flutter-app-as-an-android-intent-filter-and-to-hand).

Closing, as this isn't an issue with Flutter itself,
if you disagr

[2020-01-08 09:16] #48325 closed

[2020-01-08 09:20] iapicca commented on #48347
possibly related to https://github.com/flutter/flutter/issues/48292

[2020-01-08 09:23] xster commented on #48396
cc @dnfield

[2020-01-08 09:28] giaur500 commented on #1831
4 years of various comments without any useful solution. In short - no, not, possible.

[2020-01-08 09:36] mkustermann commented on #48360
/cc @a-siva @rmacnak-google Ryan, could you take a look at this?

[2020-01-08 09:36] iapicca commented on #48368
Hi @DSANZY
can you please provide  a reproducible minimal code sample
or the steps to reproduce the problem.
Thank you

[2020-01-08 09:39] ZhangXinmin528 commented on #26365
The problem still occured for me! I'm confused about it.

[2020-01-08 09:43] saidlp commented on #48290
Thank you @iapicca!
The duplicate key problem was due to me oversimplifying the original code ;)
It seems like moving the OrientationBuilder to its rightful place fixed my Dismissible problem.
Have a great day!

[2020-01-08 09:47] mit-mit commented on #7053
Yes, new remaining issues, please file them in https://github.com/dart-lang/sdk/issues/new

[2020-01-08 09:49] cubuspl42 commented on #19330
@taojoe I'd guess that this solution causes one frame delay, which sounds kind of acceptable, but also like a possible source of difficult to debug bugs

[2020-01-08 09:49] gvenkat62 commented on #28849
install flutter 1.12 or above & install xcode 10.2 then "Missing plugin" issue will be solved.
As of Flutter v1.12, add-to-app is supported for the basic scenario of integrating one full-screen Flutter instance at a time per app.
https://flutter.dev/docs/development/add-to-app

[2020-01-08 09:50] gvenkat62 commented on #10912
install flutter 1.12 or above & install xcode 10.2 then "Missing plugin" issue will be solved.
As of Flutter v1.12, add-to-app is supported for the basic scenario of integrating one full-screen Flutter instance at a time per app.
https://flutter.dev/docs/development/add-to-app

[2020-01-08 09:52] iapicca commented on #48379
Hi @aman7000
can you please provide your `flutter doctor -v`
and your `flutter run --verbose`?
Also, to better address the issue, would be helpful
if you could post a reproducible minimal code sample
or the steps to reproduce the problem.
Thank you

[2020-01-08 09:53] ZhangXinmin528 opened #48397 "Localizations.of<IntlDemoLocalizations>(context, IntlDemoLocalizations) return null"
**Target Platform: Android
**Target OS version/browser:Android 9
**Devices:OPPO

I create a class `IntlDemoLocalizations`, as the code:

[code]
while i use it,like this :

[code]

[code]

[code]

[2020-01-08 09:55] iapicca commented on #48383
Hi @Sunbreak
I see there's an open [issue](https://github.com/flutter/flutter/issues/48366) addressing the case you described.
Please follow up on that issue,
I'm closing the current one as duplicate.
If you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-08 09:55] #48383 closed

[2020-01-08 09:56] iapicca commented on #48366
possibly related to https://github.com/flutter/flutter/issues/47513

[2020-01-08 10:01] haroonkhan9426 commented on #10967
Actually you have to restart your app as the plugin added need to be compiled and added into the project.
So, just restart your app and it'll start working perfectly.

[2020-01-08 10:05] huage2580 commented on #41102
that has a simple （but not recommended）way to do this.
[code]

then override configureFlutterEngine method.

[2020-01-08 10:07] SunFoxx commented on #48216
@ferhatb any idea when it comes to beta channel?

[2020-01-08 10:12] Bhuvaneswar opened #48398 "WebView Flutter(webview_flutter plugin) input type date is not showing any picker"
Hi,

I am using webview_flutter to load my html page Its working fine if input type date is given then its not showing date picker because of that i am unable to complete form.

Its urgent is there a way to fix this

[2020-01-08 10:18] iapicca commented on #48384
Hi @jaydevtrivedi
I see there's an open [issue](https://github.com/flutter/flutter/issues/43713) addressing the case you described.
Please follow up on that issue,
I'm closing the current one as duplicate.
If you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-08 10:18] #48384 closed

[2020-01-08 10:20] iapicca commented on #48390
Hi @pxc0215
I see there's an open [issue ](https://github.com/flutter/flutter/issues/48381)addressing the case you described.
Please follow up on that issue,
I'm closing the current one as duplicate.
If you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-08 10:20] #48390 closed

[2020-01-08 10:29] iapicca commented on #48391
Hi @imagec
can you please provide your `flutter doctor -v`,
are you testing your app in `debug `or `release`?
Thank you

[2020-01-08 10:31] iapicca commented on #48392
Hi @Dinesh2703
can you please provide your `flutter doctor -v`
and your `flutter run --verbose`?
Also, to better address the issue, would be helpful
if you could post a reproducible minimal code sample
or the steps to reproduce the problem.
Thank you

[2020-01-08 10:31] TobiasHeidingsfeld commented on #44845
Thank you for the work on this bug. Unfortunately, in the latest master  there are now issues with the positioning of Containers / CustomerPainters. In the project linked by rxlabz at the top you can see that if you press the RaisedButton the "OnPressed Overlay" effect is not at the correct position but moved a bit to the top left. I also see this many times with my web project that Containers wit

[2020-01-08 10:36] Timmmm opened #48399 "Window geometry is incorrect after switching displays"
When a flutter app gets moved from a hidpi display to a normal one, the window geometry can get messed up so that the window contents are offset vertically by the difference between the window height, and twice the window height. Or something like that - it's weird.

Here is a video that makes the issue clear:

[flutter_desktop_weirdness.mov.zip](https://github.com/flutter/flutter/files/4034795/fl

[2020-01-08 10:36] iapicca commented on #48395
Hi @guhan121
[flutter_vpn](https://pub.dev/packages/flutter_vpn) is a 3rd party plugin
you may want to open an issue in the dedicated [github](https://github.com/X-dea/Flutter-VPN/issues).

Also, this platform is not meant for assistance on personal code.
Please see https://flutter.dev/community for resources for asking questions like this,
you may also get some help if you post it on Stack Overfl

[2020-01-08 10:36] #48395 closed

[2020-01-08 10:42] iapicca commented on #48397
Hi @ZhangXinmin528
This platform is not meant for assistance on personal code.
Please see https://flutter.dev/community for resources for asking questions like this,
you may also get some help if you post it on Stack Overflow.
Closing, as this isn't an issue with Flutter itself,
if you disagree please write in the comments and I will reopen it
Thank you

[2020-01-08 10:42] #48397 closed

[2020-01-08 10:42] rxlabz commented on #44845
@TobiasHeidingsfeld Hi Tobias, I only see this problem if I "zoom" in the page. Can you provide a screenshot please ?

[2020-01-08 10:43] dpedrinha commented on #26365
Where are you getting this problem? Is it on the main.dart file?

[2020-01-08 10:43] iapicca commented on #48398
Hi @Bhuvaneswar
I'm not sure if what you are describing is an issue with Flutter itself
or if you are asking for assistance within your code.

If you believe it's an issue with flutter,
please provide your updated  `flutter doctor -v`,
 your `flutter run --verbose`
and a minimal code sample to reproduce the problem.

If you need help with your app,
please be aware that this platform is not met for

[2020-01-08 10:47] krishnanimamgadda1982 opened #48400 "driver.tap based on x,y co-ordinates"
How to do driver.tap based on x,y coordinates on the device

[2020-01-08 10:48] iapicca commented on #48399
Hi @Timmmm
are you experiencing this with `any` app
(example basic counter app) or only with this specific app?
If the latter could you post a reproducible minimal code sample?
Thank you

[2020-01-08 10:51] Timmmm commented on #20175
I'd like something similar for `ListView`. I have a list of items, but they can overflow the width so I want the list to be horizontally scrollable too. I did try wrapping the entire list in a horizontal `ScrollView` but it gave me errors about unbounded sizes. Maybe it works with a few more widgets but I feel like you should just be able to tell `ListView` to make the cross-axis scrollable.

[2020-01-08 10:59] Timmmm commented on #48399
It happens with the demo app too. Also if you start an app on the external low dpi display, and then switch to the internal hidpi display it kind of does the inverse of the weirdness:

![image](https://user-images.githubusercontent.com/376842/71973011-c0daa000-3205-11ea-9a9a-b21cc5af0180.png)

It's all out by factors of 2 - definitely some bit of code that doesn't account for DPI, or accounts for

[2020-01-08 11:13] Bhuvaneswar commented on #48398
Hi @iapicca
I am using webview_flutter plugin to load html file
<input type ="month"/> but month picker not displaying that is bug in Flutter

[2020-01-08 11:15] pqsky7 commented on #9471
Hi goderbauer,

Do you still following this problem, it really generates many warnings to seriously affect the functionality of logs when debugging.

Many thanks

[2020-01-08 11:21] TobiasHeidingsfeld commented on #44845
@rxlabz  Added screenshots at https://imgur.com/a/q1or9em as github would not let me. Its two screenshots, the second has blue marking of two bugs, one is the "OnPressed Overlay"  of the RaisedButton and the other is the yellow Box which should be aligned top right, but actually is quite far away from top right. Both issues render correctly on android/ios just are bugged on lastest web master (ver

[2020-01-08 11:22] xillus1 commented on #47164
Any news?

[2020-01-08 11:22] oofimaconsumer opened #48401 "CupertinoDynamicColor doesn't work for me"
Hey, I'm currently developing an iOS app using Flutter and I'm having problems with CupertinoDynamicColor. It just does not work when a device switches to dark mode.

I created a demo app that demonstrates this problem. I want to have a contrast text widget with a white foreground color when dark mode is enabled and a black foreground color when it's not enabled.

Here's the code:

[code]

flutter

[2020-01-08 11:23] mkustermann commented on #48360
Just briefly looking at the code, one thing sticks out in [image_worker.dart:concatenatePlanes](https://github.com/martin-labanic/camera_preview_ffi_image_processing/blob/master/lib/image_worker.dart#L84):
[code]
This uses an `WriteBuffer` abstraction, which uses `Uint8Buffer` from `package:typed_data` (which is implemented in a very generic way, see [Uint8Buffer.addAll](https://github.com/dart-la

[2020-01-08 11:25] manuraf opened #48402 "Cloud_firestore: How reject a transaction?"
Hi,

I am writing a transaction using cloud_firestore plugin and I want to reject a transaction if a particular field of data does not match a condition

![image](https://user-images.githubusercontent.com/12083207/71974171-16687a00-3211-11ea-8875-71b4363b045b.png)

The problem is that when I throw an Exception I get an **PlatformException(Every document read in a transaction must also be written i

[2020-01-08 11:28] gedw99 commented on #48054
I think you can use the golang based grpc gateway also.

[2020-01-08 11:30] imagec commented on #48391
I run it release mode.

the flutter doctor -v output:
[✓] Flutter (Channel stable, v1.12.13+hotfix.5, on Mac OS X 10.12.6 16G29, locale zh-Hans-CN)
    • Flutter version 1.12.13+hotfix.5 at /Users/tycao/flutter/flutter
    • Framework revision 27321ebbad (4 weeks ago), 2019-12-10 18:15:01 -0800
    • Engine revision 2994f7e1e6
    • Dart version 2.7.0

[✓] Android toolchain - develop for Android d

[2020-01-08 11:33] iapicca commented on #48402
Hi @manuraf
for what I can see the issue is related to a FlutterFire plugin,
please open the issue in the dedicated [github](https://github.com/FirebaseExtended/flutterfire/issues).
Closing, as this isn't an issue with Flutter itself,
if you disagree please write in the comments and I will reopen it

Please refrain from posting pictures if not necessary.
Thank you

[2020-01-08 11:33] #48402 closed

[2020-01-08 11:50] sgehrman commented on #47994
I'm still having this problem.  The latest image is 2.1.11, not 2.1.4

[2020-01-08 11:55] iapicca commented on #48398
Hi again @Bhuvaneswar
assuming that your answer means that
you are aiming to address a bug in Flutter
and not asking assistance for your code

please provide your updated  `flutter doctor -v`,
 your `flutter run --verbose`
and a minimal code sample to reproduce the problem.
Thank you

[2020-01-08 11:55] iapicca commented on #48399
Thank you @Timmmm

[2020-01-08 11:59] iapicca commented on #48391
thank you @imagec

[2020-01-08 12:05] pxc0215 commented on #47699
This is a good idea!

[2020-01-08 12:08] kolawoleakins commented on #48159
It worked!!! It worked!!! @Erosmart @Bediosss-Pro @iapicca @UsamaEjaz0

@UsamaEjaz0 Solution works for me.

[2020-01-08 12:10] cswxzx commented on #11094
I have same problem

[2020-01-08 12:10] kolawoleakins commented on #48159
This worked for me!!!

[2020-01-08 12:11] #48159 closed

[2020-01-08 12:11] #37682 closed

[2020-01-08 12:12] #29426 closed

[2020-01-08 12:13] mannprerak2 commented on #21014
HI @liyuqian, I would like to work on this..

So far I've made a mixin
[code]

This can be used directly in both ink_splash.dart and ink_ripple.dart
I would like to ask -
1. An appropriate name for this Mixin?
2. Where should I declare this mixin?
3. Should I also extract the following variables into the mixin?
[code]

[2020-01-08 12:15] Elbertbiggs360 commented on #21014
Sorry for holding this up. Got overwhelmed with something else

[2020-01-08 12:15] shriharip opened #48403 "Release mode shows blank screen!! Only on iPhones. Works fine in debug mode"
## Steps to Reproduce

1.  I have an application that runs perfectly fine in debug mode, but when it run in release mode there is a blank screen.
2.  the main dart file is very limited but you can find it [here](https://gist.github.com/shriharip/a04ee144b5395f4285b3bfc3f3edb3e6)
3. finally the screenshot

![20200108_125742](https://user-images.githubusercontent.com/3909110/71977380-eb822400-3218-1

[2020-01-08 12:16] mitesh77 commented on #36125
I don't sure. maybe depend on hardware.

[2020-01-08 12:22] ngouy opened #48404 "write your first app Part1. `const` keyword are disappearing between subparts 3 and 4"
Here https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#2

We are told to copy-paste some code into our main.dart including :
[code]

On the next page, we are asking to paste new lines and update some others, but on line we don't have to touch, the `const` kw is disappearing from appBar title and body
https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1/#3

our

[2020-01-08 12:24] zmtzawqlp commented on #47804
@yrom could you provide Flutter.framework which works? it is complicated to build the flutter engine and network is a problem when i try to gclient sync. thanks

[2020-01-08 12:30] huoyingjianshen commented on #47967
Thank you very much,i'm still seeing the issue with 'exit(1)' and waiting for the fix with box decoration.

[2020-01-08 12:36] pxc0215 commented on #48381
Even using FontLoader, how to achieve this?

[2020-01-08 12:42] ruturajchavda182 commented on #30256
Add this in your info.plist
<key>io.flutter.embedded_views_preview</key>
<string>YES</string>

[2020-01-08 12:57] mevos19 commented on #47935
Solution:
1 -Add a GlobalKey in your constructur:
App({Key key}) : super(key: key);
2 - Create A global Key in the widget parent
  GlobalKey _key = GlobalKey();
3 - Send the key when you want to Navigate to this page.
        Navigator.of(context).push(
          MaterialPageRoute(
              builder: (_) => App(
                    key: _key,
                  )),
        );

[2020-01-08 12:58] Magsumov2 commented on #48092
Hello! @jmagman , please tell me - When will it be fixed? I meet the same issue and I can not release application because of this error! thanks

[2020-01-08 13:02] carta1 commented on #36247
I am experiencing a similar issue, I extracted the app ipa (IOS side) using adhoc settings, distribute the app to a tester using firebase app distribution and the app either does not open or stay on a blank white screen. The app works fine on android test devices, and also works on emulators both ios and android emulators, if iphone is connected directly to the computer and app is added using xcod

[2020-01-08 13:04] mevos19 commented on #45695
Solution:
1 -Add a GlobalKey in your constructur:
HomePage({Key key}) : super(key: key);
2 - Create A global Key in the widget parent
GlobalKey key = GlobalKey();
3 - Send the key when you want to Navigate to this page.
Navigator.of(context).push(
MaterialPageRoute(
builder: () => HomePage(
key: _key,
)),
);

[2020-01-08 13:11] ZotInfo commented on #41049
I have the same problem, please provide a more in-depth explanation?

[2020-01-08 13:11] Dancovich commented on #45526
@nhatnam240996 but is this correct? I understand this change helps keep the widget tree with the same structure but since TextField is a stateful widget shouldn't it's state be able to change positions in the tree? This seems like a workaround (which I'll gladly do).

@DennisJu007 This shouldn't be necessary. TextField is a stateful widget and it's controller is a `ValueNotifier`, so unless changi

[2020-01-08 13:12] vasilich6107 commented on #42570
@HansMuller @BondarenkoStas
Hi. The PR for this issue is approved and waiting to be merged. Are there any issues that blocks the PR from merging?

[2020-01-08 13:13] rxlabz commented on #44845
@TobiasHeidingsfeld on my side this problem only appears when is not in 100% scale https://youtu.be/IyIF7fr0fAs so it's seems not related to this issue.

[2020-01-08 13:26] TobiasHeidingsfeld commented on #44845
I played around a little and noticed for me all works fine on 80% but is broken on 100%. Screenshots https://imgur.com/a/wo8v2hY

[2020-01-08 13:26] Hamza3620 commented on #39797
Not a very good solution but worked for me.

bool _isLoading = false;
//when landing on the page, calling an API or doing some other work that takes time
setState(() {
      _isLoading = true;
    });

//do this in build
body: Stack(
        children: <Widget>[
          GoogleMap(
            //Map working here
          ),
          if (_isLoading)
            Container(
              color: Col

[2020-01-08 13:28] jicg commented on #35531
I can't answer this question, I don't know how to compile the local engine, this is too difficult for me. I tested this issue and it still exists in the latest version

[2020-01-08 13:29] jicg commented on #35531
I have used native development to solve the problem.

[2020-01-08 13:33] yama3nomori opened #48405 "Application crashes when TalkBack is on"
Simple application made by 'flutter create' command  on Windows occured following:

When TalkBack is on, application crashed that user touch bottom of screen on Android device. Application doesn't crash that user touch side and top of screen.
When TalkBack is off, it's no problem.

It's occuring the both of stable and beta on Flutter channel.
Android version is 9 and 10.

[2020-01-08 13:34] A1Gard commented on #22470
For **Iranian** people: We need use **proxy** or **VPN** to building app.

[2020-01-08 13:37] shriharip commented on #36247
exactly. I just created a new issue with more logs .. maybe i should have done here but thought it is best to create one #48403

[2020-01-08 13:43] yorickreum commented on #47135
@knaeckeKami Have you found any solution?

[2020-01-08 13:46] rockingdice commented on #47804
@zmtzawqlp I think it's easier to switch back to the older version. I checked the downloaded folder, it's about 16gb..

[2020-01-08 13:47] xclud commented on #47804
@zmtzawqlp v1.10.4 is the latest working version on Huawei devices. It's a Dev build in SDK Archive.

[2020-01-08 13:51] csacchetti opened #48407 "Note: when I intal the example of path_provider in my huawei P20 lite"
When I try to install the Example of path_provider 1.5.1 in my Huawei P20 lite have this message in console:
[code]

The app open and work but I want understand why there's this message.
Thanks
Carlo Sacchetti

[2020-01-08 13:53] MxSoul commented on #48066
@dnfield  I ran the application from #47108 (comment) on an iPhone 6 plus.

[2020-01-08 13:57] Vivannaboa commented on #36971
I believe I have the same problem here, in some situations TextInputFormatter goes looping. I tested in the example https://github.com/flutter/flutter/blob/master/examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart and the same problem happens.

![problema 1](https://user-images.githubusercontent.com/11863525/71983132-db604980-3204-11ea-8fb5-e4c56d017003.gif)

[2020-01-08 13:58] zmtzawqlp commented on #47804
@xclud @rockingdice  thanks, but I'm worried about whether there is any problem at old version.

[2020-01-08 14:17] TodorGinchev commented on #47673
This same problem happens on Linux too (ironically it does not happen on Mac for me). Has someone happened to find a solution?
[code]

[2020-01-08 14:18] chhota89 commented on #42311
After adding the LSApplicationCategoryType it's working for me

[code]

Add this inside the info.plist file

[2020-01-08 14:30] MxSoul commented on #48066
@dnfield It can found some leak by iPhone 6 plus ( It can't be reproduce leak in other phone, but memory growth can reproduce in any iPhone )

![image](https://user-images.githubusercontent.com/20944001/71985500-a6d0aa00-3265-11ea-9862-7f7bbdbc9ef8.png)
I try to parser some stack. You can download by this [LeakStack](https://gw.alicdn.com/bao/uploaded/TB1ztpJtpY7gK0jSZKzXXaikpXa.zip?spm=a1z3i.a4.0

[2020-01-08 14:31] mkustermann commented on #32743
Nowadays we emit ELF directly, so I think this issue is obsolete.

Closing, please re-open if this is not the case.

[2020-01-08 14:31] #32743 closed

[2020-01-08 14:40] dnfield commented on #48396
We do this today to a ios-release-nobitcode path.

I'm not sure we will do it forever.  It's trivial to manually strip out the bitcode yourself (xcrun bitcode_strip -r Flutter.framework), and you don't _need_ to use bitcode even if you have a bitcode enabled framework.

I'll close this but please let me know if that isn't clear or I'm missing something.

[2020-01-08 14:40] #48396 closed

[2020-01-08 14:45] haliliceylan commented on #33210
Hi guys, I am experiencing this issue. I need to publish my app asap. Is there any quick workaround for this issue.

**How can I implement this BillingClientStateListener on Flutter ?**

Thanks.

[2020-01-08 14:46] lvsheng commented on #41553
for me the fix was removing proxy settings in `~/.gradle/gradle.properties`

[2020-01-08 14:47] mehmetf commented on #47699
@matthew-carroll FYI

[2020-01-08 14:47] mehmetf commented on #47699
Also @jason-simmons

[2020-01-08 14:47] dnfield commented on #48066
There are some known leaks from certificate/ssl usage, but I've seen them be stable and they've been hard to track down.  It's either in Boring SSL or the way dart is using it:  https://github.com/dart-lang/sdk/issues/36935

Are you sure that's not what you're seeing?  I don't see it grow since my patch linked in that issue, but we still do leak a small amount one time.

[2020-01-08 14:59] stuartmorgan commented on #48399
This should have been fixed by https://github.com/flutter/flutter/issues/35095; I'm not sure why there would still be a case that's not resizing.

Are you doing this the same way as described above, by actually switching the machine between having just the external monitor and just the internal monitor, rather than dragging the window between two monitors? Perhaps we're not getting a callback in t

[2020-01-08 15:01] AlexVincent525 commented on #48396
Sorry but is there any further instruction or tutorial provided? We've been try this for a whole day and struggled due to our poor network condition.

[2020-01-08 15:05] erperejildo commented on #1831
Can we at least know why is this so problematic/difficult?

[2020-01-08 15:05] 2ZeroSix commented on #46714
@goderbauer @LongCatIsLooong It seems that my message was lost in your notifications without a direct mention, can you look at this please? :slightly_smiling_face:

[2020-01-08 15:07] dnfield commented on #48396
Which part?

[2020-01-08 15:08] dnfield commented on #1831
Flutter_svg has decent support for SVG in flutter.  Rive also supports a vector based format for flutter.

This issue is about creating a new vector based format.  That takes time :)

[2020-01-08 15:11] erperejildo commented on #1831
@dnfield there are some widget with background properties that we cannot pass svgs. Is there any way to archive this?

[2020-01-08 15:11] sanekyy opened #48408 "[google_maps_flutter] cutouts bug"
## Steps to Reproduce

1. run `google_maps_flutter` example from plugin source on Xiaomi Redmi 6 Pro with top cutout
2. open `User interface` page
3. run same project on emulator Pixel 2 XL and open same page
4. compare size of maps ( size of map on Xiaomi will be smaller on size of top cutout and looks like padding )

**Target Platform:** Android
**Target OS version/browser:** Android 8.1.0 MIUI

[2020-01-08 15:17] dnfield commented on #43763
again: https://cirrus-ci.com/task/5931335038533632?command=main#L1094

[2020-01-08 15:19] zmtzawqlp commented on #48396
@dnfield  thanks, I will try it as your suggestion, and we also look forward to the nobitcode version as we are not good at ios.

[2020-01-08 15:20] zmtzawqlp commented on #48396
i think he means "We do this today to a ios-release-nobitcode path".

[2020-01-08 15:21] imkarthikb commented on #48403
Hey I just checked your code, can you remove **localeResolutionCallback** and check ?

[2020-01-08 15:26] Vaibhav7894 commented on #20827
Actually this issue is only for debug build mode. When I did release mode i.e. release Apk file & after installed it then there is no issue of blinking screen. So don't worry about that issue while you are debugging app. All the best.

[2020-01-08 15:28] dnfield commented on #48396
You can download the non-bitcode version at:

https://storage.cloud.google.com/flutter_infra/flutter/a50f1ef56a05999bfa97a777cca14fd7a00e8454/ios-release-nobitcode/artifacts.zip

Just replace the hash with the right engine hash that you want.

[2020-01-08 15:28] baddri commented on #44417
it works
Flutter 1.13.7-pre.41
sdk latest

[2020-01-08 15:30] ch4rl3s commented on #43873
Hi, some solution ?

[2020-01-08 15:31] lucabarbi commented on #25077
+1

[2020-01-08 15:46] ramsestom commented on #24213
The solution is to take the same approach as the one taken by react-native or codenameone and have an overlay layer for widget markers. These widgets can easily be correctly placed on the screen based on their LatLng coordinates using the controller.getScreenCoordinate() map function. These widgets are then converted into images and added as native markers to the map once the user start interactin

[2020-01-08 15:47] imkarthikb commented on #48403
Hey I just checked your code, can you remove **localeResolutionCallback** and use **localeListResolutionCallback** ?

[2020-01-08 15:48] #42083 closed

[2020-01-08 15:49] Akash4097 commented on #47538
Hey @permanar i tried that also but the issue still be the same,

[2020-01-08 15:54] jamesdixon commented on #20827
@Vaibhav7894 good to know. thank you!

[2020-01-08 15:57] kattaliraees commented on #35243
@adar2378 Replace below files in the plugin folder
lib/src/controller.dart
lib/ios/Classes/GoogleMapController.h
lib/ios/Classes/GoogleMapController.m

[GoogleMapController.zip](https://github.com/flutter/flutter/files/4036109/GoogleMapController.zip)

Added clearMapView(); API in controller.dart. Call it before you switch to different map view

[code]

[2020-01-08 16:00] Poulin-L commented on #41553
If It can help, I had the same issue running `flutter run` behind an enterprise proxy.

[2020-01-08 16:03] KorbinianMossandl opened #48409 "TextInputType.number broken on Samsung devices"
## Steps to Reproduce
1. Add a `TextField` or `TextFormField` to your flutter app
2. Set `keyboardType` to `TextInputType.number`
3. Install app to any recent samsung phone running android 9 or 10 (tested on S10, S8 and S7)
4. Try to edit the text field
5. The custom number keyboard that samsung devices uses freezes (no input, won't disappear again even outside app)

**Target Platform:**
Android
*

[2020-01-08 16:08] JuanjoA commented on #27254
Same as @bdairy , just added _image_picker_ and I have the problem:
cloud_firestore: ^0.13.0+1
firebase_storage: ^3.1.1
image_picker: ^0.6.3

[2020-01-08 16:14] kangwang1988 commented on #48391
@tvolkert
@imagec  is from Alibaba and I can reproduce this issue using the latest master branch and a flutter create hello_world project.
Compared to a minimal android project, the flutter project has more  memory footprint over .so mmap and EGL/GL mtrack  part. The .so mmap part probably comes from the flutter.so and libapp.so. How about the EGL/GL mtrack part, is there any chance we can reduce

[2020-01-08 16:19] imkarthikb commented on #36247
Faced this issue where the app was working in android-debug, android-release and ios-debug, but was showing blank screen (as seen in #48403) in ios-release mode. Had implemented localisation in the app and was using **localeResolutionCallback** in the MaterialApp. Replacing the **localeResolutionCallback** with **localeListResolutionCallback** fixed this issue for me.

[2020-01-08 16:27] danielhakimiRY commented on #41678
This is happening to me now always on the simulator every time I hit a break point:

[code]

[2020-01-08 16:33] HansMuller commented on #48401
CC @LongCatIsLooong

[2020-01-08 16:36] dnfield commented on #36247
At a high level, this issue is  the app failing to start because of _some error that causes failure early in the startup process of the app_.

Typically, this is caused because of a bad build getting sent to the phone, or because the phone's version of the app has become corrupted.

The bad build can happen because of stale local build artifacts, or because of an error in user code.

The corrupted

[2020-01-08 16:38] d0bry commented on #33210
Hi @haliliceylan,

As a workaround, I tried using a local copy of in_app_purchase-0.2.2+3 with the following method added to InAppPurchaseConnection/GooglePlayConnection (noop in AppStoreConnection):
[code]
Calling this before any other InAppPurchaseConnection interaction seems to help.

Has anyone tried in_app_purchase-0.3.0 (released 2 days ago)?
Not sure if switching to Google Play Billing Libr

[2020-01-08 16:38] martin-labanic commented on #48360
@mkustermann Good catch, I've pushed up a commit to the sample project with that change and updated the output.

[2020-01-08 16:41] HansMuller commented on #48304
CC @clocksmith

[2020-01-08 16:44] creativecreatorormaybenot opened #48417 "Canvas.saveLayer does not work in Flutter Web"
[code]

This works fine when running Flutter on Android and looks like this:

[![Screen capture][1]][1]

When running the same code in Flutter Web, it looks like this (`saveLayer` is ignored). When I move the `blendMode` to the `Paint` I pass to the second `drawRect`, it also works on Flutter web.

[![Screen capture][2]][2]

  [2]: https://i.stack.imgur.com/q3In0.png
  [1]: https://i.stack.imgur.c

[2020-01-08 16:44] miquelbeltran opened #48418 "MediaQuery highContrast is always false"
The value in `MediaQuery.of(context).highContrast` is always `false` no matter which setting the user has in the `Increase Contrast` accessibility setting in iOS 13.3 on the Simulator.

I could not test on a real device as I currently don't have one.

After exploring Flutter's code, I've saw that the value is set to `false` by default but never assigned to other value. Only set to `true` in some t

[2020-01-08 16:44] rayworks commented on #48293
@VladyslavBondarenko
Thanks, I've made a [PR](https://github.com/flutter/flutter/pull/48416) for it.

[2020-01-08 16:47] server2245 opened #48419 "How to Change Flutter repository URL in Android studio"
download.flutter.io is blocked at my company network, How can i switch the repository to something like https://dart-pub.mirrors.sjtug.sjtu.edu.cn/ ?. I am using Android Studio

[2020-01-08 16:49] mkustermann commented on #48360
You could avoid another allocation by doing the concatenation to C memory in the main isolate and just send the address of that pointer to the other isolate. But from your log it seems the concatenation takes longer than processing the image, is that right?

[2020-01-08 16:50] gmoraja commented on #47479
@gspencergoog could you please also point us to a Flutter open-source mobile app available on the Play Store that currently supports the keyboard navigation? I tried a few but so far I haven't found one that does that.

[2020-01-08 16:50] HansMuller commented on #48222
CC @LongCatIsLooong

[2020-01-08 16:52] HansMuller commented on #48409
CC @GaryQian

[2020-01-08 16:55] hstevemcdonald commented on #27599
@AirborneEagle - After 3 days of trying to figure this out, stumbled upon your instructions and it worked great.  Thank you!

[2020-01-08 17:06] miquelbeltran commented on #48418
I may be able to provide a fix for this, as it requires to add the flag to https://github.com/flutter/engine/blob/master/shell/platform/darwin/ios/framework/Source/FlutterViewController.mm and also `window.dart`. I will try and see if I can send a pull request.

[2020-01-08 17:20] fliermanrw commented on #43986
I would also like to know what solved the problem. I have the following error:

[code]
(and every next module when deleting location)

[2020-01-08 17:26] pakivika commented on #41198
Woohoo, finally I found this. I was struggling with the same topic and trying to create release builds via ssh. Errors vary, but with your solution I got it working too. Thank you so much!

[2020-01-08 17:28] knaeckeKami commented on #47135
No, not yet.

[2020-01-08 17:32] broberts-nybble commented on #47164
any news? very burning issue tried all of the versions listed above.

it goes from black screen to then a white screen and crash on startup, so not sure which is a lesser evil same outcome.

app reviews starting to create an issue and users need system for everyday usage.

[2020-01-08 17:33] christopherfujino commented on #41006
@FlyingToddler debugging on iOS devices is only supported on macOS, as we depend on Xcode.

[2020-01-08 17:36] CheshtaK opened #48424 "[google_sign_in] version solving failed for Flutter SDK version 1.5.4-hotfix.2"
**The bug**
Using google_sign_in: ^4.1.1 throws the following error for Flutter SDK version 1.5.4-hotfix.2

![bug](https://user-images.githubusercontent.com/32400008/72001393-670cc100-326b-11ea-8106-fb3a13aa493f.jpg)

Here is a screenshot of my version and environment sdk

![bug2](https://user-images.githubusercontent.com/32400008/72000095-92da7780-3268-11ea-982f-64b4936e3189.jpg)

**To Reproduce*

[2020-01-08 17:39] xudre commented on #29422
I fixed this error for **>= Android Q** adding `android:requestLegacyExternalStorage="true"` to the `<application>` in **AndroidManifest.xml**.

[2020-01-08 17:39] csells commented on #24094
@matthew-carroll can you be more explicit about your expected behavior?

[2020-01-08 17:42] tvolkert commented on #48391
Over to @cbracken

Is this a regression, and if so, can you identify where it started happening?

[2020-01-08 17:42] csells commented on #9236
flutter/website#2260 is tracking this work

[2020-01-08 17:42] #9236 closed

[2020-01-08 17:51] TobiasHeidingsfeld commented on #44845
I also noticed that performance is significantly slower than in versions  1.10.16 and before in every semi complex composition of containers and images

[2020-01-08 17:51] neckaros commented on #43833
That would be super useful to move things inside a custompaint!

[2020-01-08 17:51] timsneath opened #48425 "README Dart diagram needs updating"
Current README has a diagram for Dart that was designed with a very different purpose in mind. We need to update this to something that highlights the benefits of Dart for Flutter.

[2020-01-08 17:51] csells commented on #26525
I've seen this, too. I'd like to know what's going on here as well.

[2020-01-08 17:54] csells commented on #25136
@hrwndr can you provide steps to reproduce this issue?

[2020-01-08 17:56] csells commented on #15950
@Hixie can you provide repro steps, the behavior you're seeing and the expected behavior?

[2020-01-08 18:00] gspencergoog commented on #47479
No, you would only have to add `FocusableActionDetector` if you developed your own custom widget (your own kind of button, for instance). The standard Material widgets support keyboard traversal out of the box.

However, if you take out the `FocusableActionDetector` you added, the code snippet you have above doesn't have any focusable widgets in it. `Text` widgets aren't focusable: they don't have

[2020-01-08 18:01] mannprerak2 commented on #31014
Created a PR #48427 to resolve this

[2020-01-08 18:02] csells commented on #10048
You can use onTapDown to capture the position and then use it in your onDoubleTap handler.

[2020-01-08 18:02] #10048 closed

[2020-01-08 18:04] Rameshfly opened #48428 "While launching"
I/flutter (16513): items.isEmpty || value == null || items.where((DropdownMenuItem<T> item) => item.value ==
I/flutter (16513): value).length == 1': is not true.

[2020-01-08 18:14] blasten commented on #27254
The issue is that the project is likely using an older version of Gradle, Android Gradle plugin and Kotlin.

If you still see this issue, ensure:
1. `<app-dir>/android/build.gradle` contains this section:

[code]

2. `<app-dir>/android/gradle/wrapper/gradle-wrapper.properties` contains this code:
[code]

3. Ensure the app is migrated to AndroidX:
[code]

cc @zanderso this is another instance of fi

[2020-01-08 18:18] mahinthan177 commented on #30649
#Solved
It is work for me
https://stackoverflow.com/a/59651613/10834197

[2020-01-08 18:21] blasten commented on #47204
I'm closing this issue since the solution is to update the system image. Please reopen and provide more details if you experiment the same issue.

[2020-01-08 18:21] #47204 closed

[2020-01-08 18:21] Hixie commented on #19954
This should be relatively easy to fix if anyone wants to give it a go. Probably just needs a SafeArea somewhere or some math needs to take into account the MediaQuery's viewInsets/viewPadding/padding.

[2020-01-08 18:22] bkonyi commented on #47406
It looks like this was a result of the refactor but it's uncovered an interesting issue which we might want to account for in the engine.

The plugin was attempting to perform the callback lookup before an instance of `FlutterEngine` was created. However, the callback cache isn't populated until `FlutterMain::Init` is called, so we querying an empty map resulting in a failed lookup. We should prob

[2020-01-08 18:22] christopherfujino commented on #43763
seeing it here: https://cirrus-ci.com/task/6339835417853952?command=main#L1286

[2020-01-08 18:26] Hixie commented on #29017
Looks like we run Gradle on Windows on Cirrus fine now.

[2020-01-08 18:26] #29017 closed

[2020-01-08 18:26] Hixie commented on #29017
e.g. https://cirrus-ci.com/task/5095302038290432

[2020-01-08 18:27] LongCatIsLooong commented on #48401
Thanks for trying it out :slightly_smiling_face: . I think it was because the BuildContext used to resolve the color is too close to the top of the tree thus lacks the information needed for properly resolving the color.

The OS brightness is retrieved in `CupertinoApp` (`WidgetsApp` to be precise), so you need to resolve the color using a `BuildContext` that is at least lower than that to get the

[2020-01-08 18:27] arctouch-matheusromao commented on #28348
Hey guys! Any news on this regard? I'm using protobuf, but proto3 doesn't support constant values :/ (see [here](https://github.com/protocolbuffers/protobuf/issues/3520) why). I really would like to standardize the error messages coming from all the platforms without having to define them in each language.

[2020-01-08 18:29] feinstein opened #48429 "Shaddows don't render correctly on dark backgrounds"
I was trying to reproduce this design made on Adobe XD:

![image](https://user-images.githubusercontent.com/8120472/72004857-11182900-322b-11ea-9e39-cea8592d638b.png)

But on Flutter I get this:

![image](https://user-images.githubusercontent.com/8120472/72004908-28571680-322b-11ea-9819-da69618222a8.png)

As it can be seen, on a dark background the shadows lose its blur effect, becoming a solid co

[2020-01-08 18:32] gspencergoog commented on #47479
The keyboard traversal is a fairly new feature, and is only in the latest stable build, so many apps on the app store may not have rebuilt with it yet.

Here's one [open source example](https://play.google.com/store/apps/details?id=io.github.x_wei.flutter_catalog&hl=en_US) that has support.

[2020-01-08 18:32] jmagman opened #48430 "Show agent health on cocoon dashboard"
Show individual health of agents on new dashboard.  Old dashboard showed them in red at the top.

![Screen Shot 2020-01-08 at 10 31 33 AM](https://user-images.githubusercontent.com/682784/72005287-1a40d000-3202-11ea-9b76-380d5c763b73.png)

[2020-01-08 18:32] jmagman commented on #48430
\cc @CaseyHillers

[2020-01-08 18:33] ditman commented on #46778
Can you share the list of plugins/extensions that you have installed? According to the list above, m3u8 only works on non-chromium Edge browsers.

[2020-01-08 18:33] christopherfujino opened #48431 "flake: docs-linux fails with missing source file from pub-cache"
`docs-linux` (https://cirrus-ci.com/task/6043942168821760?command=main#L50) failed with:

[code]

Passed on re-run.

[2020-01-08 18:34] audkar commented on #47406
I thought idea with new embedding was that single engine instance always be available and reused between all visible screens and services. This plugin is still going to use separate engine?

[2020-01-08 18:40] tvolkert commented on #11008
Yep.

[2020-01-08 18:40] #11008 closed

[2020-01-08 18:41] xster commented on #47300
This is a dupe of https://github.com/flutter/flutter/issues/46172 and should be fixed on master now.

[2020-01-08 18:41] #47300 closed

[2020-01-08 18:42] #10248 closed

[2020-01-08 18:45] phillipthelen opened #81768 "MarkdownBody does not work with IntrinsicHeight widget"
I would like to use a `MarkdownBody` in a custom `ListView` row. I set my rows up to use a `Row` widget wrapped with an `IntrinsicHeight` widget, so that the Widgets I have at the left and right side have the same Height as the main content. This system works well if I use regular `Text` widgets for my main content but if I use `MarkdownBody` widgets, it looks like the intrinsic height of the `Mar

[2020-01-08 18:54] CaseyHillers commented on #48430
When https://github.com/flutter/cocoon/pull/594 lands, this should be pretty easy.

[2020-01-08 19:04] yjbanov opened #48432 "Consider not setting overflow:hidden on text with no max lines"
We currently set `overflow:hidden` on all `<p>`, but only those with maxlines need it. In general, clipping is considered an expensive operation, so avoiding it could have performance benefits. It's hard to tell how much cost this incurs in our case, but filing it anyway, so we can measure and fix it, or just blindly fix it on a hunch if performance investigation is not worth the trouble.

[2020-01-08 19:06] MilesAdamson commented on #31512
![ezgif-6-5b5717cd0b38](https://user-images.githubusercontent.com/29047682/72007589-4020a180-320f-11ea-87fc-4393229842e8.gif)

[2020-01-08 19:08] ferhatb commented on #48216
https://github.com/flutter/flutter/wiki/Release-process shows schedule.
The fix rolled into master channel, closing this issue.

[2020-01-08 19:08] #48216 closed

[2020-01-08 19:13] jmagman commented on #48430
Can we avoid removing the old build dashboard until it's done?

[2020-01-08 19:19] #46812 closed

[2020-01-08 19:20] #44908 closed

[2020-01-08 19:20] CoreyCole commented on #31512
How are flutter customers like realtor.com, tencent, alibaba, ebay, capitalone working around this in their production flutter applications? Combined, these companies probably have hundreds of millions of users with samsung phone that would be impacted by this text input bug.

Did they design their own text inputs from the ground up?

[2020-01-08 19:29] cyanglaz commented on #48180
@ybbaigo @mehmetf  I can reproduce the issue mentioned in case#2, expect that I don't see a "gray overlay". I do experience that the first tap doesn't work.

[2020-01-08 19:30] oofimaconsumer commented on #48401
@LongCatIsLooong thank you! Now it works! <3

[2020-01-08 19:30] #48401 closed

[2020-01-08 19:36] ehosseini opened #48433 "Flutter Plugin: The plugin cannot be run directly in XCODE"
Running the "example" folder of the Flutter plugin I make in XCode results in the following error message:
`Module [[MODULE NAME]] not found GeneratedPluginRegistrant.m`

------

I start with this first:
`flutter create --template=plugin -i swift -a java --org [[COMPANY NAME]] [[PLUGIN_NAME]]
`
and then go to example/ios folder under the created folder by the above command and run:
pod install

Ne

[2020-01-08 19:48] vargthon commented on #43713
Same problem here... And it starts to happen when I updated mac os to 10.15.2

[2020-01-08 19:49] Schoonology opened #48434 "Single Tap on TextField does not display Toolbar"
Internal: b/173627308

During final review of an app in the process of being launched, we found a surprising issue: If I, the developer, want to paste into a TextField, I long-press the field, and the toolbar appears. If the producer wants to paste into a TextField, they tap the already-focused Field...and nothing happens.

On every other app we could find, that tap presents the toolbar. As far as

[2020-01-08 20:18] ecufre commented on #47557
Same error here, any solution?

[2020-01-08 20:24] VladyslavBondarenko commented on #48428
Hi @Rameshfly,
opening an issue please try to provide
all or some of the information indicated in the template

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2020-01-08 20:24] #48428 closed

[2020-01-08 20:26] StephanCassel opened #48436 "Share package: When sharing to gmail client the subject is replaced with the body"
**iOS Only**
![image](https://user-images.githubusercontent.com/5372762/72012808-df1fba80-325c-11ea-8f9c-195bf86ccc5c.png)

[2020-01-08 20:33] #48153 closed

[2020-01-08 20:35] longravuth commented on #36259
Blocker for e2e testing for apps dependent on native components. Hopefully, this is in the work.

[2020-01-08 20:37] ferhatb commented on #34364
Note: Edge/Chrome/Safari/Mobile-Safari & Chrome-Android have shipped enabling feature. Upcoming PR should fix it for most browsers. For FireFox still under flag, engine defaults to darken in that case.

[2020-01-08 20:39] pq commented on #45868
As of https://github.com/dart-lang/sdk/commit/c0dfdb27e77bc7f6ddd35d93f5f4e2104210a69e, this is in the Dart SDK; as of https://github.com/dart-lang/sdk/commit/d9570f907e8bd13166ee9a215c229ad130bb152a, there's a quick-fix to automate corrections.

Once it makes it's way into the Flutter SDK, I'd love any feedback. 👍

[2020-01-08 20:39] #47145 closed

[2020-01-08 20:43] #48425 closed

[2020-01-08 20:45] andreacimino opened #48438 "[cupertino] Text is rendered black (so not visible) by default in dark mode"
## Steps to Reproduce

[main.dart.zip](https://github.com/flutter/flutter/files/4037104/main.dart.zip)

Text is incorrectly rendered as black in dark mode, while it should be white.
While the app, when run in bright mode (selected by the ios settings), is rendered correctly,
when dark mode is enabled, text is invisible.
In order to reproduce the problem, in the simulator enable the dark mode from

[2020-01-08 20:47] CaseyHillers commented on #47832
@ditman I made a few fixes to the state in Cocoon to only have the Google Sign In Plugin created once, and it passes it around. This fixes some of the perceived issues.

However, I am noticing this is happening on deployed versions of the app (I cannot reproduce locally, even with network throttling):

1. `GoogleSignIn.signInSilently()` is called, updating the current signed in user to `GoogleSign

[2020-01-08 20:48] VladyslavBondarenko commented on #48424
Hi @CheshtaK
Try to update your Flutter SDK (current stable version is v1.12.13+hotfix.5)
`flutter channel stable`
`flutter upgrade --force`
`flutter pub cache repair`
`cd <YOUR APP FOLDER>`
`flutter clean`
Closing this issue, since it's clear from your logs that `google_sign_in: ^4.1.1` requires `Flutter SDK version >=1.10.0` while you have `1.5.4-hotfix.2`
If you disagree please write in the com

[2020-01-08 20:48] #48424 closed

[2020-01-08 20:48] cargallo commented on #26005
Nowdays Google forces to target API >= 28 in play store

![image](https://user-images.githubusercontent.com/13320290/72014632-023b7180-323f-11ea-9185-1e9b96bf2331.png)

https://developer.android.com/distribute/best-practices/develop/target-sdk

[2020-01-08 20:48] #46813 closed

[2020-01-08 20:49] bkonyi opened #48439 "Add background execution tests for android_alarm_manager plugin"
https://github.com/flutter/plugins/pull/2453 fixes a regression in the android_alarm_manager where a bad ordering of calls prevented callbacks from being executed in the background. We should add tests that ensure this functionality works properly in the future so we don't regress again.

This should be possible when https://github.com/flutter/flutter/issues/38983 is resolved.

cc/ @mklim @Hixie

[2020-01-08 20:50] #47406 closed

[2020-01-08 20:52] #48303 closed

[2020-01-08 20:53] bkonyi opened #48440 "Add support for time changes in android_alarm_manager"
The alarm_manager_plugin currently has no way to update existing alarms after a device time change. See [here](https://stackoverflow.com/questions/19421616/alarmmanager-how-to-schedule-a-daily-alarm-and-deal-with-time-changes) for reference.

[2020-01-08 20:55] MarcioQuimbundo commented on #35724
You just need to add like this

<style name="LaunchTheme" parent="Theme.AppCompat.Light.NoActionBar">

[2020-01-08 20:57] ferhatb commented on #42835
@ja2375 , thx for tracking this down to exception. closing this issue.

[2020-01-08 20:57] #42835 closed

[2020-01-08 20:57] shriharip commented on #48403
@imkarthikb  Thanks, yes it now works. Is there any reason for that?

[2020-01-08 20:57] #48403 closed

[2020-01-08 20:57] kuhnroyal commented on #46807
I had to delete the `pubspec.lock` to fix this.
The issue started yesterday after upgrading flutter from `v1.12.13+hotfix.5` to `hotfix.6`.
No changes to the `pubspec.yaml` - it was on `shared_preferences: 0.5.6` the whole time.

After the `pubspec.lock` is regenerated it contains diffs with newer `shared_preferences_macos` and `shared_preferences_web` dependencies.

https://github.com/flutter/plu