[2019-07-07 16:29] zaidman commented on #35702
java.lang.RuntimeException: at com.google.firebase.firestore.util.AsyncQueue.lambda$panic$5(com.google.firebase:firebase-firestore@@19.0.0:379)
  at com.google.firebase.firestore.util.AsyncQueue$$Lambda$5.run (Unknown Source:2)
  at android.os.Handler.handleCallback (Handler.java:794)
  at android.os.Handler.dispatchMessage (Handler.java:99)
  at android.os.Looper.loop (Looper.java:176)
  at andro

[2019-07-07 18:23] aubykhan opened #35703 "Flutter pub publish is stuck"
# Issue
The flutter pub publish command gets stuck after successfully printing the code hierarchy. No messages whatsoever and the command just fails to proceed without giving any error or printing any progress message.

# Workaround
While the recommended `flutter pub publish` command is not working, I managed to publish the packages using `flutter packages pub publish`

[2019-07-07 18:24] mehdielaissi opened #35704 "Flutter app close when I run it on my mobile"
When I use flutter run command
The app is installed on my mobile but when it automatically open it crush
I have SM J100F as mobile any idea why ? is my phone weak?

[code]
This is my flutter doctor output

[code]

[2019-07-07 18:26] blasten commented on #18494
@ksamj that isn’t needed.

[2019-07-07 18:32] EliasDeuss commented on #24933
what about iOS @cimplesid

[2019-07-07 19:32] fdharamshi opened #35706 "Visual indication in debug mode when Text in TextField isn't Center Align"
I tried finding in a lot of resources but unfortunately i could not find a way to align the text vertically centre in a textfield. I also tried using suffixIcon instead of suffix but still not luck. Here is my code :

[code]

What could be the issue that is causing this problem ? and how can i solve this issue ?

[2019-07-07 19:33] MasiaVittorio commented on #34876
So how can we actually disable all those messages? I'm losing my mind every time I run the app in debug mode

[2019-07-07 19:44] jonahwilliams opened #35707 "xcode_backend_test.dart will fail if `flutter precache` hasn't run."
This relies on the real cache containing iOS artifacts for the test case "Xcode backend fails for on unsupported configuration combinations".

[2019-07-07 19:47] Baileypollard commented on #18968
Any updates on a solution for this?

[2019-07-07 20:07] ewokhias commented on #35081
Is there a roadmap for this issue?

[2019-07-07 20:09] Pitrr commented on #25436
Did anyone find a reliable solution?

[2019-07-07 20:47] devoncarew commented on #31916
We've since removed the option from the project creation dialog - people should generally start new projects with the ~4 main templates from flutter create. The samples are good for exploring specific snippets of code - you can still create them from the individual package:flutter libraries (material/scaffold/dart, ...).

[2019-07-07 20:53] jonahwilliams commented on #35663
@damoncoo I believe this has been fixed in the latest beta, could you try it out and see if you still have issues?

[2019-07-07 20:54] jonahwilliams commented on #35652
We should also be removing fuchsia and web devices from the `--all` list as well, since the compilers are configured differently in this case

[2019-07-07 21:50] mehdielaissi commented on #35704
the phone is weak

[2019-07-07 21:50] #35704 closed

[2019-07-07 22:21] shihaohong commented on #35653
Seems like the suggestion provided by @msal4 makes sense, so I'll close this issue. Feel free to reopen if you feel like your problem was not addressed.

[2019-07-07 22:21] #35653 closed

[2019-07-07 22:25] shihaohong commented on #35666
Hi, the stack trace should reveal the lines for which an error occurs. Is there a particular instance or use case where you are not receiving the line numbers?

[2019-07-07 22:26] dnfield commented on #34876
@MasiaVittorio what revision are you on?  The revision(s) with this issue should not have been published to beta and it should no longer be on master - there's probably some dev build with it out there though.

[2019-07-07 22:28] shihaohong commented on #35691
Thank you for your request. I believe there is a separate issue tracking this already: https://github.com/flutter/flutter/issues/21594

If you're interested in the issue, go into the original issue and put a "thumbs up" on the first comment. That's how the Flutter team determines priority for which issues to work on. For now, I'll close this issue.

[2019-07-07 22:44] manteliukasx opened #35710 "Flutter text overflow with ellipsis unnecessary expands parent"
When a very long word is wrapped into next line, text widget size is also expanded to that word's size.
![image](https://user-images.githubusercontent.com/1338479/60774705-7d00c400-a118-11e9-96ff-0ec225cb0159.png)
The first comment is not long, so it does not expand. However, second comment expands its parent with approximately the size of wrapped word.
I have tried wrapping the comment with diffe

[2019-07-07 22:49] shihaohong commented on #35699
Hi,
I do not think that adjusting the Directionality/TextDirection should adjust the expected behaviors, since the parameters define left and right explicitly, and it would be even more confusing if 'left' started to mean 'right' once the localization of the app is updated.

This is unlike other widgets like `Row`, which explicitly take a text direction into account and use terms like 'start' and

[2019-07-07 22:54] shihaohong commented on #35710
Are you talking about horizontal expansion of the parent? Aka the space in between the left side of your screenshot and where the text appears?

[2019-07-07 23:05] A7madXatab opened #35711 "adb error cant find variable activity"
im currenty having an issue on android, which states that adb cant find activity,

![66417053_344469183144758_4542350536006959104_n](https://user-images.githubusercontent.com/38360603/60774953-f83e8780-a0d0-11e9-81f7-85e1c2315c41.png)

thank for your reply

[2019-07-07 23:15] bernaferrari opened #35712 "[web/all] PageView shouldn't skip pages"
I dislike the current way that PageView works: if you put not-enough force, it gets back to where it is. If you put too much force, it scrolls two pages. This is really evident in this official sample: https://flutter.github.io/samples/filipino_cuisine/ (just drag with your mouse from one corner to next and it will skip one element). It goes from tolerable to intolerable. On apps, if you drag from

[2019-07-07 23:18] manteliukasx commented on #35710
Yes. There is no other expansion than horizontal as shown in screenshot

[2019-07-07 23:31] tvolkert commented on #26029
This is done now, correct?

[2019-07-08 00:07] bradyt commented on #29092
Same.

[code]

[2019-07-08 00:10] lewcianci commented on #35711
I don't think this is a Flutter issue. I would try resetting your emulator or try using a physical device.

[2019-07-08 00:42] 7syw commented on #35577
@calvinmuller sounds bad, thanks anyway.

[2019-07-08 01:07] joachimvalente commented on #31235
Thanks a lot for looking into this! That sounds very promising. I am offline until next week but then I can confirm that your fix works and will comment on your PR.

[2019-07-08 01:21] examango commented on #16025
Make sure use java8 ,not java9.

[2019-07-08 01:34] 1137155216 opened #35713 "1"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-07-08 02:00] blasten commented on #26029
Yep!

[2019-07-08 02:00] #26029 closed

[2019-07-08 02:08] Moncader commented on #35613
@mraleph

Thanks for the quick response.
Here's the output of the above commands.

[code]

That's the function.
And the IL was large so I put it in a gist
https://gist.github.com/Moncader/b06ebe70e9fd074766cba81f7cf17c31

[2019-07-08 02:15] bradyt commented on #29092
I believe my issue was resolved by making sure I use `try catch finally` properly to close my Java `InputStream`.

[2019-07-08 02:22] indigothm opened #35714 "The app doesn't get built for iOS"
My app fails to build for iOS, yet works fine on Android. Flutter clean or pod install commands don't help.

## Steps to Reproduce

[code]

## Logs

[code]

[code]

[code]

[2019-07-08 02:24] collinjackson commented on #32873
FYI @kroikie

I've added some tests for this feature to your PR.

[2019-07-08 02:38] #35713 closed

[2019-07-08 02:42] MrLiuYS opened #35715 "how to get _history from NavigatorState"
example:
push page1 and push page2 and push page3.
i just want to close page2.

i look code the navigator.dart .I found _history to be private.
how to get _history from NavigatorState?

[2019-07-08 02:52] githubjin commented on #35500
same problem

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, v1.8.1-pre.22, on Mac OS X 10.14.5 18F132, locale zh-Hans-CN)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 10.2.1)
[✓] iOS tools - develop for iOS devices
[✓] Chrome - develop for the web
[✓] Android Studio (version

[2019-07-08 03:01] Akun97 commented on #35611
![image](https://user-images.githubusercontent.com/41559812/60780112-b9134380-a16f-11e9-834d-02a2b7ea9419.png)
you need itemExtent

[2019-07-08 03:09] rajsawhoney commented on #27090
Thanks man...Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: NandunieHaris <notifications@github.com> Date: 07/07/19  7:13 PM  (GMT+05:45) To: flutter/flutter <flutter@noreply.github.com> Cc: Razz Sawhoney <rajsahani1819@gmail.com>, Comment <comment@noreply.github.com> Subject: Re: [flutter/flutter] Execution failed for task ':firebase_auth:compileDebugJavaWithJavac

[2019-07-08 03:14] jonahwilliams commented on #35500
This should be fixed on the latest master

[2019-07-08 03:15] hatjs880328s commented on #22997
Solve it by reinstall....
Maybe u clean the cache file for XCode ,delete the framework- flutter.

[2019-07-08 03:24] githubjin commented on #35500
Error: "The argument type 'Utf8Decoder' can't be assigned to the parameter type 'StreamTransformer<Uint8List, dynamic>'."
How to fix: Use StreamTransformer.bind(Stream) instead of Stream.transform(StreamTransformer).
Example:
Before: foo.transform(utf8.decoder)...
After: utf8.decoder.bind(foo)...

[2019-07-08 03:29] jonahwilliams commented on #35500
@githubjin To upgrade run `flutter channel master` and then `flutter upgrade`. If this still doesn't work, please paste the results of `flutter doctor -v` so I can see the exact commit you are on.

[2019-07-08 03:31] ggcsriram commented on #20607
#31006

[2019-07-08 03:32] ggcsriram commented on #20607
[https://github.com/flutter/flutter/issues/31006]
I think this one solves your issues as it did mine.

[2019-07-08 03:35] wedcel opened #35717 "[web]Flutter For Web Https Uncaught Instance of 'minified:p'"
![image](https://user-images.githubusercontent.com/3982317/60781261-3b9e0200-a174-11e9-8c85-ba418a9daeee.png)
When i run  flutter for web in chrome, this error is was always in the console log.

I guess this error is because https？

[2019-07-08 03:43] dmlzj opened #35718 "package:flutter/src/widgets/framework.dart': Failed assertion: line 3571 pos 12: '!_dirty': is not : true"
## Steps to Reproduce

1. I created a global event listener on the home page, created OverlayEntry when the value is true, and displays it on other pages;
2. Now OverlayEntry is displayed, but this error is reported, not sure if it is my own problem. !

## Logs

[code]

[code]

[code]

[2019-07-08 03:43] wedcel opened #35719 "[web]:Flutter For Web Page Title Problem"
Flutter For Web's page title is taken from the title of the material app, but when the page jumps, you should re-take the new page title, this time you can change the page title. But in fact, I found this to change. When I entered this page, the title of this page was the previous page, but when I selected the selection button, the page became the current page, I think This is a bug that should be

[2019-07-08 03:45] skatzbizarro commented on #18325
me too :(

[2019-07-08 03:47] dmlzj commented on #35718
My code :
[code]

[2019-07-08 03:48] leishuai opened #35720 "Image Assets are not loaded in driver tests for me on v1.5.4-hotfix.2"
All images assets load from local assets dir is not displayed while running thru flutter drive where I wanna run some integration tests.  iOS Simulator, Android/iOS devices all failed to show images.
P.S. images loaded from network works fine. Manually tapping on the icon built from flutter drive  works fine.

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable,

[2019-07-08 03:54] thiennhank9 commented on #15014
I ran cmd below then it worked:
`set NODE_TLS_REJECT_UNAUTHORIZED=0`

[2019-07-08 04:00] liaoyuanng commented on #17234
run `flutter run` in `flutter_moudle`

[2019-07-08 04:19] githubjin commented on #33642
I tried on XiaoMi 5s
![image](https://user-images.githubusercontent.com/3168076/60782788-9175a880-a17a-11e9-93b5-165b66314da2.png)

![image](https://user-images.githubusercontent.com/3168076/60782685-452a6880-a17a-11e9-960f-b121ec64b4c1.png)

[2019-07-08 04:48] Suman085 commented on #35701
Found a solution, In my case it was two identical project . One of which i had created some months ago. The new project i created wasn't working for me.
->Goto If u project build folder of any other flutter projects that you have created  before your macOS update/or flutter( i am not sure what was causing).
->Copy pasting the build/AOT folder and pasting it in your new project will solve the issue

[2019-07-08 05:22] buster95 commented on #28745
Work for me thanks

[2019-07-08 05:26] buster95 commented on #28082
#28745

[2019-07-08 05:44] laozhang700 opened #35721 "Issue from flutter WebSockets"
connecting my url : ws://192.144.171.2:6055  is  failed, but test in websocket.org is ok !
![image](https://user-images.githubusercontent.com/12059224/60785667-4f526400-a186-11e9-849a-6bde8d8bba27.png)

please what's problem with me ?

[2019-07-08 05:50] laozhang700 commented on #35721
mycode :

import 'package:flutter/foundation.dart';
import 'package:flutter/material.dart';

void main() => runApp(new MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    final title = 'WebSocket Demo2';
    return new MaterialApp(
      title: title,
      home: new MyHomePage(
        title: title,
        channel: new IOWebSocketChannel.connec

[2019-07-08 06:00] Sh1d0w commented on #31301
@zoechi Can I get some official statement on this please, it's been a while since I've opened this issue.

[2019-07-08 06:10] amreniouinnovent commented on #22828
Temporary solution
`keyboardType: TextInputType.emailAddress`

[2019-07-08 06:33] BRLOKESH commented on #24239
iOS build Archiving but display white screen.

How to resolve this issue.

[2019-07-08 06:33] BRLOKESH commented on #26279
iOS build Archiving but display white screen.

How to resolve this issue.

[2019-07-08 06:34] parthvora25 commented on #7034
@heath3n try giving textstyle height of 1.2 according to device height. This is just a workaround. I dont think there is any proper solution to it as of now.

[2019-07-08 06:46] deckerst opened #35723 "Make pointer signal event (mouse wheel event) handling configurable in ListView"
## Use case

I have a **reverse** `ListView`, and I can interact with it with a **mouse**. The `ListView` is reverse because I need the viewport to keep displaying the bottom edge while adding animated elements to the list. And in my particular case, I interact with a mouse because it's a Flutter Web project, but I believe mouse interaction is possible with regular Flutter on Android/iOS tablets t

[2019-07-08 06:49] tanamduit opened #35724 "[local_auth] alert dialog biometric show black in android pie below"
hi,
 i run local auth biometric in android device below pie version its show alert dialog but did not match with theme i define. The alert dialog show with dark style look like below:

![image](https://user-images.githubusercontent.com/45087178/60788075-01d5f700-a186-11e9-9c7b-541ff9544281.png)

So i test build biometric in native android with same theme it's shows with light mode and match with t

[2019-07-08 06:57] samuelg123 commented on #22072
@rodrigosmarques Thanks for the solution. I tried that yesterday. It didn't solve my problem actually. What I want to achieve is background execution inside onMessage when the app is terminated. It seems flutter doesn't have service like Android until now. CMIIW

My thought: I think if flutter can also provide separate task like android service that would be great. So the whole flutter app doesn't

[2019-07-08 06:58] gisinator commented on #35577
It also happens without webviews or google maps. I hope the devs can fix it, soon

[2019-07-08 07:25] mobilecheng commented on #24239
Please install version 1.0.0 (8) from TestFlight.

Best.

Original Message
Sender:BRLOKESHnotifications@github.com
Recipient:flutter/flutterflutter@noreply.github.com
Cc:mobilechengmobilecheng@qq.com; Commentcomment@noreply.github.com
Date:Monday, Jul 8, 2019 14:35
Subject:Re: [flutter/flutter] Error creating IOS version to upload toTestflight. (#24239)

iOS build Archiving but display white scree

[2019-07-08 07:27] mraleph commented on #35613
Thanks @Moncader !

The problematic part of the IR (I think) is this one:

[code]

(v1206 + v538) * v1206 * v538

We have a `Double` value that we are trying to unbox into `Int64` value - which is impossible and causes compilation to fail. At the same time at 630 we have a type check that would always fail - so anything dominated by it should be dead.

I am not entirely sure how this sort of code

[2019-07-08 07:28] pythoneer commented on #35577
@gisinator are you sure? If so, can you reproduce it and report it back to the main issue https://github.com/flutter/flutter/issues/31138? This is one probably getting closed due to being a duplicate

[2019-07-08 07:29] MasiaVittorio commented on #34876
@dnfield I'll paste here my flutter doctor results:

[√] Flutter (Channel beta, v1.7.8+hotfix.2, on Microsoft Windows [Versione 10.0.17134.829], locale it-IT)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.0)
[√] Android Studio (version 3.3)
[!] Android Studio (version 3.5)
    X Flutter plugin not installed; this adds Flutter specific functionality.
    X Dart plug

[2019-07-08 07:31] amreniouinnovent commented on #35699
@shihaohong I need to use an extra flag in my code
I wonder if there should be a 'start', 'end' so I could use `centerStart `or `centerEnd`
Currently I solved my issue by a flag `Alignment(isArabic(context) ? -1 : 1, 0)`
But I think as Android has start end for RTL then flutter should have a similar behaviour
which is just a very simple check or at least add `rtl:true` to `Alignment `or `Positione

[2019-07-08 07:31] #35665 closed

[2019-07-08 07:32] mobilecheng commented on #24239
@BRLOKESH   Archiving for Generic iOS Device.

![image](https://user-images.githubusercontent.com/787620/60790964-40bf7900-a195-11e9-9904-4dde41aa6aee.png)

[2019-07-08 07:36] gisinator commented on #35577
Right, let's make sure we're talking about the same thing: My testers reported about this keyboard-lag issue a couple of weeks ago. It happens on my login page where I do have a "Webview" Widget with terms and conditions loaded from a webpage, but it also happens once you're registered and actually use the app, where there is no more webview involved. Even when you close and reopen the app and pas

[2019-07-08 07:41] Moncader commented on #35613
@mraleph

I'm able to share this function with you. So here you go.
https://gist.github.com/Moncader/17795f8203e553f10da76a84bd5860ce

[2019-07-08 07:41] gisinator commented on #35577
Update: Oh ok, I just read about the embedded_views_preview key and since it is set to true for the login page, it 's basically true whenever you use the app, no matter whether login-page is called or not. My bad.

[2019-07-08 08:08] gisinator commented on #31138
I appreciate all the efforts the flutter devs put into fixing this issue. We're about to release our app, unfortunately I am afraid users might instantly close the app when facing 5-seconds-lags on signup-page right after installing the app. May I ask what the status is? Any idea when a hotfix or something might be released? Dont get me wrong, flutter is awesome, but this issue is a big one for ev

[2019-07-08 08:23] BrinsLee commented on #15047
thanks

[2019-07-08 08:24] #34980 closed

[2019-07-08 08:37] SupSaiYaJin commented on #25075
@xster I got a compile error for this patch.

[2019-07-08 08:43] emmet63001 commented on #18494
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, v1.7.8+hotfix.2, on Mac OS X 10.14.5 18F132, locale ru-RU)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 10.2.1)
[✓] iOS tools - develop for iOS devices
[✓] Android Studio (version 3.4)
[✓] Connected device (1 available)

• No issue

[2019-07-08 09:00] rohitsainik opened #35726 "type '_Type' is not a subtype of type 'Key' flutter error"
# maincode
[code]

# ChainAnimation class

[code]

[code]

[2019-07-08 09:05] burgesswu commented on #27170
@aashitvyom thanks!

[2019-07-08 09:10] PandaGeek1024 opened #35727 "Redirecting factory constructor - factory Listenable.merge(...) = _MergingListenable"
Im just learning the Provider library and found it is using Listenable. One interesting thing in this class is that it has this line of code

`factory Listenable.merge(List<Listenable> listenables) = _MergingListenable;`

The _MergingListenable is actually a class.

As of my knowledge, the function should use => to return expression but using equal symbol is complete new to me and I could not find

[2019-07-08 09:40] guopeng1994 commented on #34421
yes! stable version of v1.5.4-hotfix.2 has this problem.

[2019-07-08 09:42] Nico04 commented on #28316
I've got the same issue, cleaning the project, uninstalling the app or change device (physic or emulated) didn't help.
It happens when it break on breakpoint

[2019-07-08 09:47] tidharnitzan commented on #19718
hi,
using Flutter 1.5.4-hotfix.2 • channel stable.
The issue still exists. the keyboard doesn't pop up. this is a real deal breaker since we host our site with it.
is there any workaround?

[2019-07-08 10:14] muzuro commented on #12810
Any updates?

[2019-07-08 10:21] rrousselGit opened #35730 "Document why GlobalKeys aren't performant."
The documentation of `GlobalKey` states that they aren't performant but doesn't explain why.

Looking at the source code, I don't see anything that can cause performance issue – most of the job is done in development only.

From my understanding, the only thing performed in production is something roughly similar to: (peuso code)

[code]

[2019-07-08 10:27] helang1991 commented on #32896
i also met it.

[2019-07-08 10:31] zhangruiyu commented on #34395
dedede

[2019-07-08 10:31] cubuspl42 commented on #14513
I followed @bhardwajsuresh suggestion and rebooted the phone. It worked...

[2019-07-08 10:38] truongsinh commented on #18494
Any screenshot/log showing that the installation of 32-bit apk on the 32-bit device was not successful, and what device model is that?

[2019-07-08 10:46] duzenko commented on #34991
Apparently does not happen in master

[2019-07-08 10:56] mozes-pb commented on #12561
Hi @stevenspiel, can you share on how you do it on ios simulator? because whenever i set permission using applesimutils, the springboard is restarted, and then the app is not launched anymore.

I tried to add this in setUpAll :
`Process.run('xcrun', ["simctl", "launch", "booted", iosBundleIdentifier]);`

this does launch back the app, but the driver cannot connect to the VM.

[2019-07-08 10:58] titanbender opened #35732 "VideoRecorder: Invalid argument(s)"
## Steps to Reproduce

I'm working on a VideoRecorder on Flutter. The Xcode build completes, however, an error is caught by the widgets library:

[code]

This is the error stack:

[code]

My main.dart is located here and I'm using the following dependencies:
https://gist.github.com/titanbender/ff0effa126c1025393c598558bd47e2d
[code]

## Logs

#### `flutter run --verbose`

https://gist.github.com/t

[2019-07-08 11:03] DanTup commented on #32573
@nonbeing it looks like you're seeing the same issue described above. Changes to the `main` method can't be hot reloaded, they need to be inside `build` methods. See the info on the Flutter website here:

https://flutter.dev/docs/development/tools/hot-reload#recent-ui-change-is-excluded

[2019-07-08 11:15] KeroppiMomo opened #35733 "flutter run with Multiple, but not All Devices"
## Use case

Since Flutter has started to support desktop and web development, it is a good idea to only run multiple, but not all devices in `flutter run`.

For example, I only want to run my Flutter app in iOS simulators and Android emulators, but not `macos` or `chrome`.

## Proposal
In `flutter run -d`, either separate device IDs using commas (e.g. `flutter run -d device1,device2,device3`), or

[2019-07-08 11:27] ssddi456 opened #35734 "TextAlign is missing Justify for Chinese"
same problem

[code]

expect
![图片](https://user-images.githubusercontent.com/997812/56895294-47f24880-6abb-11e9-8356-e18d6ab721d5.png)

actually
![图片](https://user-images.githubusercontent.com/997812/56895238-124d5f80-6abb-11e9-8390-8c698b535a7f.png)

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel master, v1.5.9-pre.44, on Microsoft Windows [Version 6.1.7601], loc

[2019-07-08 11:50] amreniouinnovent commented on #21989
1-in Xcode from the Product menu choose **clean**
2-while you are in the ios folder run on **terminal** run>> `pod install`
My issue I added the plugin while I was working on windows environment.

[2019-07-08 11:50] amreniouinnovent commented on #17237
My solution
https://github.com/flutter/flutter/issues/21989#issuecomment-509193686

[2019-07-08 11:51] amreniouinnovent commented on #25037
https://github.com/flutter/flutter/issues/21989#issuecomment-509193686

[2019-07-08 11:57] marianoarga commented on #35402
@nealwon you should thumbs up the issue, since the Flutter team looks at thoose "votes"

[2019-07-08 12:00] ping996 opened #35735 "Run flutter application on weston failed"
Hi All
I have a problem with run flutter on weston desktop shell, follow the steps of https://github.com/chinmaygarde/flutter_wayland.

Run flutter doctor succussfully with no errors.
But failed when do:
flutter_wayland <asset_bundle_path> <flutter_flags>

./flutter_wayland ~/AndroidStudioProjects/flutter_app1/build/flutter_assets/
ERROR: ../src/main.cc:63: Arg: /home/oppo/AndroidStudioProjects/fl

[2019-07-08 12:25] duzenko opened #35736 "DropdownButton.onChange requires setState to update UI?"
I wonder what is the rationale behind the default behavior of the DropdownButton widget that it won't update its UI unless you call the setState on the enclosing widget state to rebuild everything.
I would assume that standard widgets should all base on the same logic but AFAIK other widgets just update on their own, without an explicit rebuild.

[2019-07-08 12:43] amrfarid140 commented on #35715
You can use `pushAndRemoveUntil` to remove page2 when you are pushing to page3

[2019-07-08 12:44] giovannibozzo commented on #32131
Hi,

I have added this changes:

In gradle.properties:
[code]

Then in build.gradle:
[code]

[2019-07-08 12:53] stuartmorgan commented on #35735
That project is hard-coding a specific Flutter engine version:
https://github.com/chinmaygarde/flutter_wayland/blob/master/CMakeLists.txt#L9
which means you must use a version of Flutter that uses that engine version to generate the assets. That doesn't appear to be documented, which is an issue with that project, not Flutter. This should be filed in that project's issue tracker, which it looks li

[2019-07-08 12:53] #35735 closed

[2019-07-08 12:59] mraleph commented on #35613
Thanks @Moncader - the crash reproduces easily with this function. I added some stuff to make it compilable

https://gist.github.com/mraleph/f2e6b128b34820bcc3d6aa1ea20057e9

Workaround: If you want to unblock yourself you can replace the call to `min` with your own method:

[code]

That should fix the crash.

The underlying reason is that `AssertAssignable(BoxDouble(...), int)` creates a compile

[2019-07-08 12:59] ping996 opened #35737 "flutter run failed with wayland on linux"
Follow the steps of https://github.com/chinmaygarde/flutter_wayland

./flutter_wayland /home/oppo/AndroidStudioProjects/flutter_app1/build/flutter_assets/
ERROR: ../src/main.cc:63: Arg: /home/oppo/AndroidStudioProjects/flutter_app1/build/flutter_assets/
flutter: Observatory listening on http://127.0.0.1:38682/
[ERROR:flutter/shell/common/engine.cc(112)] Engine run configuration was invalid.
[ERROR

[2019-07-08 13:06] Nico04 commented on #28316
My error left sudenly after I've cleanned all the watches in the Debug/Variable windows.

My error was :
Fatal signal 11 (SIGSEGV), code 1, fault addr 0xd in tid 4143 (1.ui), pid 4125 (velink.lovelink)

[2019-07-08 13:20] Moncader commented on #35613
Excellent. I'll try this out tomorrow (Japan time)!

[2019-07-08 13:22] DanTup commented on #33130
@biklas7 do you mean the crash shown in the original message here, or just the message in the title ("Connection closed before full header...")? If the latter, please open a new issue with the full output when reproducing with `flutter run -v` (and output of `flutter doctor`) as it's probably a different issue (there are many causes for this error message).

[2019-07-08 13:32] nilobarp opened #35738 "Build fails with camera plugin for iOS simulator"
I can no longer build for iOS simulator after adding the camera plugin, builds for real devices are fine.

__camera version is 0.5.2+1__

This is particularly a problem because now I can't run unit tests in CI.

Following is the error message from xcode build.

[code]

[2019-07-08 13:35] stuartmorgan commented on #35737
Please don't file duplicate bugs; I've already explained in #35735 why this isn't a Flutter issue. https://github.com/chinmaygarde/flutter_wayland/issues/4 is the right place for your issue.

[2019-07-08 13:35] #35737 closed

[2019-07-08 13:40] stuartmorgan commented on #35733
FWIW, #35652 will make the common case work much better. I can certainly imagine longer term though, someone with a project that actually does support all platforms would still likely want this functionality.

[2019-07-08 13:43] Rotanticu opened #35739 "How can I get ImageStream? Or How to add stream or uint8list to imageCache?"
Hey! I have a requirement:

I have a low definition picture and a high definition picture url. I want to use low-definition pictures as the base, and gradually load high-definition pictures to cover low-definition pictures.If this requirement can be fulfilled, users will not have to be irritated with the loading image.

I've done that. It looks great, but the code is ugly.

[code]

I had to initia

[2019-07-08 13:53] takdw commented on #12927
@shahxadakram That is a pretty neat package. Doesn't play well with complex layouts though. I have to figure out another way of integrating it in my app. Thanks for the share.

[2019-07-08 13:55] earyzhe opened #35740 "Error: File not loading for testing."
## Steps to Reproduce

When running "flutter test" and using a project file for mock Json data, an error is thrown.

## Logs

" FileSystemException: Cannot open file, path = 'test/mock_data/shutterstock_images_mock_data.json' (OS Error: No such file or directory, errno = 2)
  dart:io                     _File.readAsString
  main_model_test.dart 28:57  main.<fn>"

![Screenshot 2019-07-08 at 15 46 2

[2019-07-08 14:11] atilkan commented on #32573
I am going to kill this bot.

[2019-07-08 14:20] #32873 closed

[2019-07-08 14:32] DanTup commented on #32573
Sorry that was my fault - I added the **waiting for custom response** label sometime above when it didn't make sense.

This still requires some input from someone that knows more about how this works than me to understand how the changes that are hot reloaded are "one change stale".

[2019-07-08 14:39] ysknsn commented on #26243
I solved this problem.

Set PageStorageKey to child ListView,
then remove the child ListView's ScrollController and set it to NestedScrollView.
You have to handle child ListView's scroll event in NestedScrollView's ScrollController.

In my situation,  it works.

[2019-07-08 14:39] DanTup commented on #35683
@kevinmustaqim can you post the output of `flutter doctor -v`?

[2019-07-08 14:45] vitor-gyant commented on #15288
Just adding one more scenario here: while shipping a native SDK that uses Flutter.framework and App.framework we are required to force disable bitcode in the app target which is far from ideal. Nevertheless, it works :)

[2019-07-08 14:46] biklas7 commented on #33130
@DanTup I think it was the same message like the one presented in this issue. It happened both on a real device with Android Q and then on an emulator with API 28. I did a big refactor in the app, but I will try to reproduce the error again and will post the logs here or in a new issue if that's the case.

[2019-07-08 14:53] Nico04 commented on #14083
I've got a similar project, and this article helped me a lot :
https://medium.com/coding-with-flutter/flutter-case-study-multiple-navigators-with-bottomnavigationbar-90eb6caa6dbf

The key is to use only one WillPopScope, and use the maybePop() of the nested navigator on the onWillPop callback.

[2019-07-08 15:09] DanTup commented on #33130
@biklas7 to clarify - there are two messages in this issue - the one in the title "Connection closed before full header was received" and what looks like a crash related to Firebase:

[code]

I think the message in the title (connection issue) is a red herring here - I think it occurred because the app crashed during startup (which means Flutter can't connect to the VM). If you're seeing that conn

[2019-07-08 15:12] RobertBrunhage opened #35741 "in_app_purchase (subscription): Couldn't find purchase lists, trying to find single data."
So when I make a purchase with `In_app_purchase` plugin it should in the stream go to the `if` of `PurchaseStatus.purchased` but it seems to go to the error and print the following:

`BillingHelper: Couldn't find purchase lists, trying to find single data.`

This is tested with command: `adb shell "logcat --pid=$(pidof -s com.example.app)"` as I can't test the purchase flow in a debug version of t

[2019-07-08 15:17] biklas7 commented on #33130
Good point! Maybe it's a different error. Either way, it seems that the error isn't happening now :man_shrugging: and I don't know why. @DanTup sorry I can't be of more help. If it happens again I will open an issue with the proper logs attached.

[2019-07-08 15:23] rrousselGit opened #35742 "[Request] React-like ref for widgets"
## Use case

`GlobalKey` allows other widgets to access to the `State` of a widget. But it comes with many issues:

- It's possible to read the content of a `GlobalKey` inside `build`, which is a very bad practice
- the documentation states that it is not performant
- It's difficult to make `GlobalKey` compile-time safe. There's nothing preventing the following:
[code]
- it can't be used inside a

[2019-07-08 15:28] dllewellyn commented on #35155
I am having the same issue.

[code]

[2019-07-08 15:35] slightfoot commented on #35742
I agree with and have seen all the bad use-cases. However I am not sure adding another parameter and type would resolve the issue and not make things more complicated. Especially when it does a very similar job to GlobalKey. I think it would better to fix the issues you explained in the current framework. This then might make it possible to have a RefKey, or something that is similar to what is su

[2019-07-08 15:41] #35299 closed

[2019-07-08 15:46] omarbatao commented on #22765
Hi, i've same issue.. any updates?

On iPad simulator and on iPhone with iOS 12.3.1 works seamlessly...

[code]

[2019-07-08 15:49] justinmc commented on #34421
v1.7.4 and above should definitely have the fix, maybe earlier.  You'll have to switch channels to get it.  See https://github.com/flutter/flutter/wiki/Flutter-build-release-channels

[2019-07-08 15:50] shihaohong commented on #35736
In order for Flutter widgets to update the UI based on state changes, `setState` has to be directly called along with making the necessary changes to the state, so calling setState on the enclosing widget makes sense. Is there a particular instance you can share where you think that widgets update on their own?

[2019-07-08 15:59] #32618 closed

[2019-07-08 16:03] shihaohong commented on #35727
Some context for the syntax in question (not an answer, but probably helpful for future readers of this issue): https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/foundation/change_notifier.dart#L65

[2019-07-08 16:11] mehmetf commented on #35204
Minimal repro:

[code]

[2019-07-08 16:12] dnfield commented on #35707
We should remove these entirely if we're going to disable them, but it probably makes sense to keep them around until we get rid of or at least greatly pare down xcode_backend.sh

[2019-07-08 16:15] justinmc commented on #34946
I think you've found a bug.  This centering depends on the `resizeToAvoidBottomInset` parameter, but it seems to not work on Cupertino if I'm understanding correctly.

### Cupertino

[code]
<img width="200" src="https://user-images.githubusercontent.com/389558/60825435-8a41a100-a160-11e9-8c13-e5b70ee49c03.png" />

### Material

[code]

<img width="200" src="https://user-images.githubusercontent.co

[2019-07-08 16:18] tvolkert commented on #35698
@amirh

[2019-07-08 16:21] tvolkert commented on #35638
@luckysmg can you reproduce this in a driver test that you could share with us so we can track it down?

FYI @liyuqian @flar

[2019-07-08 16:34] kf6gpe commented on #35404
cc @jason-simmons, with whom I discussed this last week. Jason, is this something you can look at this week?

[2019-07-08 16:35] tvolkert commented on #35606
If we had this, we could use it to provide a more intelligent version freshness check.

https://github.com/flutter/flutter/blob/49cce984834c5a007a15e74988f7a153cff32705/packages/flutter_tools/lib/src/version.dart#L286

/cc @zanderso @digiter

[2019-07-08 16:37] tvolkert commented on #35526
Thanks @marmotini .  I'm going to close this issue - feel free to re-open if you think there's reason to keep it open.

[2019-07-08 16:37] #35526 closed

[2019-07-08 16:38] #33562 closed

[2019-07-08 16:39] tvolkert commented on #35520
@luckysmg do you think this is different than https://github.com/flutter/flutter/issues/35638?

[2019-07-08 16:41] tvolkert commented on #35484
@The-Redhat can you give an example of such a function?

[2019-07-08 16:42] amirh opened #35747 "Move the plugins repo CONTRIBUTING.md to the Flutter wiki"
To be consistent with the framework and engine repos we should add a "Plugins repo" section to the [Flutter wiki](https://github.com/flutter/flutter/wiki), and move the contents of CONTRIBUTING.md there.

[2019-07-08 16:45] mraleph commented on #35613
This should be fixed upstream by a85f6ff34830de7e15c6bbce34f869e699f8e1b4 waiting for roll to pick it up.

[2019-07-08 16:45] goderbauer commented on #29498
I was running in debug mode on a Samsung J7 J710M with Exynos chipset and had no luck of reproducing this so far.

[2019-07-08 16:46] LongCatIsLooong commented on #34991
@duzenko thanks for confirming! I'm going to close the issue. The next stable release will contain the fix.

[2019-07-08 16:46] #34991 closed

[2019-07-08 16:51] chunhtai commented on #32609
This sounds like a valid bug, we should fix this.

[2019-07-08 16:54] cyanglaz commented on #34691
I would like to ask a favor from anyone who can reproduce the crash since I am not able to reproduce the crash myself. An iOS stack trace can help to see where the crash came from. Here is a sample step to see the stack trace.
1. Open the project using XCode, it's usually under <projectroot>/ios/runner.xcworkspace
2. Step an exception breakpoint: It can be easily found online for how to set the ex

[2019-07-08 16:55] mraleph commented on #35727
This is called a _redirecting factory constructor_ and it is described in the Dart Language Specification section `10.6.2 Factories`

Simply speaking `factory X.name(...) = Y` is more or less equivalent to `factory X.name(...) => Y<...>(...)` - essentially it forwards all arguments and type arguments from `X.name` factory into constructor of `Y`.

[2019-07-08 16:57] pythoneer commented on #35577
@gisinator that's right. It does not even matter if you use any embedded view (webview, maps ...) in your app at all. Just the fact that you have activated the `embedded_views_preview` is enough to trigger the behavior.

[2019-07-08 17:03] jamesblasco opened #35748 "Support for translucent + transparent Android's SystemNavigationBar"
It would be nice to be able to make the system navigation bar transparent. Right now when i try
[code]
The status bar becomes transparent but not the systemNavigationBar

![image](https://user-images.githubusercontent.com/19904063/60828202-22b44180-a1b2-11e9-8da8-e30b317dd2bd.png)
![image](https://user-images.githubusercontent.com/19904063/60828217-2d6ed680-a1b2-11e9-8479-b4d76cfd569c.png)

### GO

[2019-07-08 17:06] LongCatIsLooong commented on #35726
`ChainAnimation({key: Key, Animation<double> animation})` doesn't look like valid syntax to me.

[2019-07-08 17:06] bkonyi commented on #20797
I'm unable to reproduce this failure myself on Linux with the latest Flutter build. If I had to guess, the failures above are due to an incorrect environment setup and the Flutter engine library artifacts not being found.

[2019-07-08 17:08] goderbauer commented on #18542
We currently do not have any more occurrences of "tl;dr" in the code base.

[2019-07-08 17:08] #18542 closed

[2019-07-08 17:15] Zazo032 commented on #35748
Probably related to https://github.com/flutter/flutter/issues/34678

[2019-07-08 17:32] ShubhraDeshpande commented on #23554
@sureshy02  can you please share the url for launching camera app?

[2019-07-08 17:37] imkhubaibraza commented on #27095
Did you find out the solution please help ?

[2019-07-08 17:41] shihaohong commented on #35727
I will close this issue since an answer has been provided. I also created a new issue in the Dart Github to perhaps better expose this syntax (https://github.com/dart-lang/sdk/issues/37466)

In the future, if you have Dart-specific issues, please feel free to create one at https://github.com/dart-lang/sdk.

[2019-07-08 17:41] #35727 closed

[2019-07-08 17:45] GaryQian commented on #19063
Should be fixed by https://github.com/flutter/flutter/pull/35493

[2019-07-08 17:45] #19063 closed

[2019-07-08 17:48] tvolkert commented on #31922
Hi all,

`v1.7.8+hotfix.2` has been released to the stable channel, so this fix is now available in all channels.  Thanks everyone for your patience and help along the way!

[2019-07-08 17:50] tvolkert commented on #18494
Hi all,

`v1.7.8+hotfix.2` has been released to the stable channel, so this fix is now available in all channels.  Thanks everyone for your patience and help along the way!

[2019-07-08 17:59] gspencergoog commented on #35470
Can we just convert the "+" to an underscore for docker?

[2019-07-08 18:02] gspencergoog commented on #35547
We could remove that check.  I added it when we were transitioning to using the snippets as a reminder to prevent regressions to the old form.  The danger is that someone who used to use `## Sample code` will forget and use it as they used to, and  expect that it is being analyzed, when it really isn't anymore.

[2019-07-08 18:09] collinjackson opened #35752 "Cirrus restarting agents is interpreted as failure by our bots"
Sometimes [plugins tests](https://cirrus-ci.com/github/flutter/plugins/master) are showing up green in Cirrus but our internal notifications (Ropey) think they failed. Possibly Cirrus flakes and restarts the agents itself, which our bot interprets as a failure.

Other Cirrus tests may be affected as well -- I'm not sure.

<img width="514" alt="Screen Shot 2019-07-08 at 10 17 09" src="https://user-

[2019-07-08 18:10] collinjackson commented on #35752
The theory about Cirrus flaking and restarting the agents was suggested by @jonahwilliams

[2019-07-08 18:11] vanelizarov commented on #35026
Guys, I’ve just released plugin [flutter_ios_dark_mode](https://pub.dev/packages/flutter_ios_dark_mode) that allows to check if iOS 13 Dark Mode is currently in enabled state or not and subscribe to this state changes. PRs and suggestions are highly appreciated 🙂

[Plugin’s Github repo](https://github.com/vanelizarov/flutter_ios_dark_mode)

[2019-07-08 18:13] PerLycke commented on #9984
@cyanglaz The workaround you proposed didn't work and I still got the warning email from Apple. I guess the last resort is to enable push notifications to avoid the warning email.

@collinjackson I'm sorry but I'm struggling building for ios using a custom built engine, and I don't know how to get around the error. So I can't confirm if your fix works or not :/ Getting the following error:

[2019-07-08 18:15] Hixie opened #35753 "Column and ListView documentation should talk about the "expand or scroll" use case"
We have some sample code in SingleChildScrollView that talks about the "expand or scroll" and "center or scroll" cases. There's a link to it from Column, but even I, who added the link, missed it just now when scanning through. We should also have similar examples at ListView showing how to do this kind of thing in the more general "infinite list" case. For example, we should show the use case of

[2019-07-08 18:31] fkorotkov commented on #35752
Does the bot check GitHub's [Commit Statuses](https://developer.github.com/v3/repos/statuses/) for a SHA or [Check Suites](https://developer.github.com/v3/checks/suites/#list-check-suites-for-a-specific-ref)? Commit status might flake to red on a restart but check's `conclusion` shouldn't.

[2019-07-08 18:36] X-Wei commented on #35595
I have a similar error when running an app on an old (android 4.1) phone, here's the logs from `flutter run --release --verbose`:
https://gist.github.com/X-Wei/f8ace31036e9262d5bc727bb4c7d6ad1

[2019-07-08 18:59] suragch commented on #35656
I see in the LibText Paragraph.cc file there is a method to return the number of lines:

https://github.com/flutter/engine/blob/master/third_party/txt/src/txt/paragraph.cc

[code]

But this is not exposed in dart:ui Paragraph.dart.

[2019-07-08 19:01] hugocbpassos commented on #35597
[Version 0.3.1 release](https://pub.dev/packages/android_intent#031).

[2019-07-08 19:01] #35597 closed

[2019-07-08 19:08] #35697 closed

[2019-07-08 19:13] jmagman commented on #34367
You can fix the warning in your app by removing the SWIFT_SWIFT3_OBJC_INFERENCE build setting override in the Runner target:
Project Settings > Runner target > Build Settings > Swift 3 @ objc Inference > Cmd + Del

Test by setting the environment variable SWIFT_DEBUG_IMPLICIT_OBJC_ENTRYPOINT to 3 in the Scheme > Run > Environment Variables.
Exercise your app, make sure there are no crashes.  Remov

[2019-07-08 19:22] ShubhraDeshpande commented on #29951
@aleksvujic It works, using RotatedBox works even for photos.

[2019-07-08 19:24] DelmarZhao commented on #34876
Same issue here. This revision just got put on stable today too...

[✓] Flutter (Channel stable, v1.7.8+hotfix.2, on Linux, locale en_CA.UTF-8)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Android Studio (version 3.4)
[✓] Connected device (1 available)

• No issues found!

[2019-07-08 19:35] amirh commented on #35698
@XHL-study can you provide a minimal self contained code sample and repro steps?

Here's my attempt to run your sample code which ran with no issues(on a Nexus 7 running Android 5.1.1):

[code]

[2019-07-08 19:39] hpoul opened #35755 "Animation in sliver renders background in wrong position"
## Steps to Reproduce

When using a `CustomScrollView` with a `AnimatedSize` widget (inside a `SliverToBoxAdapter` -> Column) which resizes based on a simple toggle and below a `Ink` with a background color, the background color is rendered in the wrong place while the `child` of the `Ink` is in the correct place at all times.

I have made a simple app which shows the problem: https://github.com/h

[2019-07-08 19:50] zanderso commented on #35606
Do you mean doing something like parsing the version number out of the url that the 'latest' url resolves to?

[2019-07-08 19:51] jonathanagosto commented on #34248
Same issue.

[2019-07-08 20:02] tvolkert commented on #35606
Yeah, I'm picturing a single JSON endpoint that provides the latest version on each channel.

[2019-07-08 20:03] goderbauer opened #35758 "SliverFillRemaining with hasScrollBody: false "hides" child behind scrollable"
[code]

Run the code above, scroll all the way to the end. On iOS the "Go to settings" button is only visible when you overscroll. As soon as you let go, the button disappears again. I assume, that the button is never visible on Android.

[2019-07-08 20:03] goderbauer commented on #35758
/cc @Piinks

[2019-07-08 20:05] Amasian opened #35759 "Is it possible to interact to Unity wrapped by Flutter?"
I want to use flutter to figure out the smartphone model of the user and send the data to Unity. Is it possible to send such data to inside of Unity app?

[2019-07-08 20:22] vegaro commented on #33302
https://flutter.dev/docs/development/packages-and-plugins/developing-packages#publishing-packages

The section:
[code]

Should also say: `flutter pub pub publish`. Otherwise my publish command hangs forever.

[2019-07-08 20:24] jmagman opened #35760 "AppDelegate.swift template uses UIApplication.LaunchOptionsKey"
AppDelegate.swift uses UIApplicationLaunchOptionsKey, which was obsoleted in Swift 4.2.  The Xcode project template specifies Swift 4, but if a developer wanted to support later Swift versions, they will get a compilation error.
The renamed UIApplication.LaunchOptionsKey struct is present in Swift 4, so that will work in the default target version as well.

Adopting UIApplication.LaunchOptionsKey

[2019-07-08 20:32] The-Redhat commented on #35484
#

[2019-07-08 20:34] #34582 closed

[2019-07-08 20:49] hugocbpassos commented on #34729
Changing `MethodChannel('plugins.flutter.io/android_alarm_manager')` to `MethodChannel('plugins.flutter.io/android_alarm_manager', JSONMethodCodec())` solved.

[2019-07-08 20:49] #34729 closed

[2019-07-08 21:14] CountPablo commented on #17414
use the 'iconEnabledColor' parameter

[2019-07-08 21:26] kafein commented on #19506
Hi. I have exact problem 1 week ago. If you use **custom domains** you need to add **FirebaseDynamicLinksCustomDomains** key to your Info.plist file like this;

[code]

[2019-07-08 21:28] rmacnak-google commented on #35651
This GC is happening very early in startup and visiting pointers that haven't been initialized yet. GC is not expected this early, so mostly the OS has run out of memory.

[2019-07-08 21:34] gspencergoog commented on #34395
While I understand your frustration, and I'm sorry that this has impacted you, I can't really see a better alternative at the moment to modifying your imports.

The author of a package (be it Flutter, or `fish-redux`) should have the flexibility to define symbols specific to their package without having to worry overly about naming conflicts with other packages. It results in generally clearer, ea

[2019-07-08 21:44] redvg commented on #27077
happens on emulator pixel 3 api 27

`
F/libc    (23110): Fatal signal 11 (SIGSEGV), code 128, fault addr 0x0 in tid 23147 (.example.foo), pid 23110 (.example.foo)
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
Build fingerprint: 'google/sdk_gphone_x86/generic_x86:8.1.0/OSM1.180201.031/5455776:userdebug/dev-keys'
Revision: '0'
ABI: 'x86'
pid: 23110, tid: 23147, name: .example.foo

[2019-07-08 21:45] redvg commented on #19517
why is this closed?

[2019-07-08 21:48] dnfield commented on #34395
One option along the lines of @gspencergoog's suggestion that might be less painful is something like

[code]

Which would then only require the prefix for when you want to use Flutter's actions.

Alternatively, you could just hide `Action` altogether for now until you want to use it later.

[2019-07-08 21:56] bparrishMines opened #35764 "Obfuscating a Flutter app can cause plugins to fail"
When calling `invokeMethod`, some plugins use a method name along the lines of `$ClassName#MethodName`. When trying to obfuscate the dart code in a flutter app, this may inadvertently change the class names on the dart side, but not the native side.

For example `invokeMethod('$Adder#add')` would be replaced with `invokeMethod('$zza#add')`.

I'm not sure of all plugins that would be affected by th

[2019-07-08 22:01] jorgevvr commented on #33562
I saw thta the thread was closed, which are the next steps before we can use the fix on our projects?

[2019-07-08 22:02] Dzivo commented on #25359
Have the same problem

`
cmd: Can't find service: activity
Error: ADB exited with exit code 1
Performing Streamed Install

adb: failed to install app.apk: cmd: Can't find service: package
Error launching application on Android SDK built for x86.
`

[2019-07-08 22:20] dnfield commented on #34876
We've confirmed that something went wrong with the fix for this. @tvolkert and @matthew-carroll  are working on it.

[2019-07-08 22:21] dnfield commented on #34876
Unlabeling TODAY, since aFAIK this is fixed on master (just not on stable).

[2019-07-08 22:22] matthew-carroll commented on #34876
@dnfield does it help to re-open this? The issue is fixed, it just isn't in the deployment we though it would be. From a dev perspective I don't know that there is anything more to do here?

[2019-07-08 22:27] lukepighetti commented on #33562
Looks like `3.0.4` is not available on pub yet, not sure how often they do releases. You can try to cherry pick it with this

[code]

[2019-07-08 22:32] #29479 closed

[2019-07-08 22:55] wemped commented on #31086
@liyuqian
How did it go with the new devices? Have you been able to reproduce the scrolling issues?

[2019-07-08 22:58] #35652 closed

[2019-07-08 23:04] #34367 closed

[2019-07-08 23:07] Piinks commented on #35758
Gist that combines this repro and several others here: https://gist.github.com/Piinks/1dc5d8c424f6e1a09749c8939dc435a9
Makes it easy to switch between edge cases and observe behavior.
This includes the repro from #33627, where the `hasScrollBody` flag was added.

[2019-07-08 23:17] alextekartik opened #35768 "flutter_test is missing the solo feaure"
Flutter 1.5.4-1.8.1

Although mentionned in the comment, the `solo` flag is not a parameter of the`test` and `group` function. Here for test:
https://github.com/flutter/flutter/blob/c8f37a2f49a4637b3f896aef4749a343d06d09fb/packages/flutter_test/lib/src/test_compat.dart#L154-L179

[2019-07-08 23:18] johnpryan commented on #35469
Running `./bin/flutter update-packages` fixed the issue for me.

This was a problem with my local environment. After going through the [framework development environment setup](https://github.com/flutter/flutter/wiki/Setting-up-the-Framework-development-environment)

[2019-07-08 23:18] #35469 closed

[2019-07-08 23:23] efortuna opened #35769 "`reverseDuration` parameter doesn't make sense for implicit animations"
Recently we [added the `reverseDuration` parameter for animations](https://github.com/flutter/flutter/pull/32730). The thing is, it doesn't really make sense for Implicit animations, since there is no "reverse"... they just animate to whatever value was provided. I suggest we remove the parameter in this case.

[2019-07-08 23:23] efortuna commented on #35769
cc @gspencergoog

[2019-07-08 23:24] chinmaygarde commented on #35515
I am not sure I understand why you would need to do this. Are you talking about iOS specifically? Perhaps you need to process the CoreVideo pixel buffer using OpenGL and give Flutter that texture directly (instead of the pixel buffer)? If so, yes, that sounds like good idea.

Anyway, if you submit a patch via the usual pull request process on flutter/engine, I'd be happy to take a look.

[2019-07-08 23:27] gspencergoog commented on #34395
Actually, there's one more way you could solve this.  You could create your own "my_flutter.dart" package and just export the parts you want from it, and import that package instead of importing flutter's packages directly.  For instance:

in `my_flutter.dart`:
[code]

And then in your app, do this import:
[code]
instead of importing flutter directly.

That way you'd have control over what symbols

[2019-07-08 23:40] dnfield commented on #34876
At this point this is just to track getting the fix landed in stable - @tvolkert says he's working on that.

[2019-07-08 23:45] #35520 closed

[2019-07-08 23:48] kazanooova opened #35770 "my issue"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[2019-07-08 23:51] jmagman opened #35771 "Example layers app does not compile on iOS, pod install fails with "Invalid `Podfile` file: Please set FLUTTER_FRAMEWORK_DIR to the directory containing Flutter.framework.""
The example layers app does not build on iOS.  pod install fails in the ios directory.

## Steps to Reproduce
[code]
`flutter build ios` will then fail since Xcode can't find the generated Pods/Target Support Files/Pods-Runner/Pods-Runner.*.xcconfig files.

[2019-07-08 23:51] GaryQian commented on #33642
Thanks for the additional data points, I should be able to repro this (hopefully) by tomorrow as we have acquired the exact devices and configurations mentioned here.

I suspect this is caused by certain glyphs being condensed into one single obscured "dot", making the underlying text buffer longer than the actual displayed text.

[2019-07-08 23:52] jmagman commented on #35771
Looks like https://github.com/flutter/flutter/issues/10199.
This example should be fixed or removed.

[2019-07-08 23:55] #35760 closed

[2019-07-08 23:59] jmagman opened #35773 "Example platform_channel_swift does not compile on iOS, argument type 'FlutterViewController' does not conform to expected type 'FlutterBinaryMessenger'"
## Steps to Reproduce
[code]

[2019-07-09 00:02] jmagman commented on #35773
@stuartmorgan Related to your work on https://github.com/flutter/flutter/issues/32421?  Maybe https://github.com/flutter/engine/commit/8dac2e9796974a9751bd3eec400f708e907955c7 (I eyeballed, I didn't bisect)?

[2019-07-09 00:05] GaryQian commented on #33642
I have been able to repro on a Huawei Nova 4 VCE-AL00

[2019-07-09 00:05] jmagman opened #35774 "Add platform_channel_swift devicelab integration test"
## Proposal

There is currently a platform_channel integration test to exercise the Objective-C bindings.  Add an equivalent for platform_channel_swift.

It already has a test_driver directory so it needs the actual integration test and to be added to the devicelab manifest.

[2019-07-09 00:05] jmagman commented on #35774
Would have caught https://github.com/flutter/flutter/issues/35773.

[2019-07-09 00:11] stuartmorgan commented on #35773
Nope, this is https://groups.google.com/d/msg/flutter-announce/ewwf2Rhm9Uo/A9C5--d9BQAJ
@gaaclarke

[2019-07-09 00:12] alexelisenko commented on #35651
@rmacnak-google This is running on a machine with 32GB of RAM, about 10-12GB free at all times. Ive been testing since posting this. It happens most often after codesigning the application.

[2019-07-09 00:13] jmagman commented on #35773
@stuartmorgan okay, barely even used my eyeballs.  Thanks!

[2019-07-09 00:14] ketanm commented on #35770
Delete issue or add relevant content.

[2019-07-09 00:29] liyuqian commented on #31086
@wemped : I can reproduce the issues locally on the device. I've set the iPhone XS up in our lab but some of our scripts timed out consistently for the new Mac Mini and iPhone XS pair. Will figure that out soon.

[2019-07-09 00:30] collinjackson commented on #33562
Package version 3.0.4 has been published. Thanks for your patience.

[2019-07-09 00:40] 7syw commented on #35577
sounds stranger, what's the relationship between this setting and current issue? we set it as true cause   a webcast widget used in our app.  so far the webcast doesn't work anymore once switch off it in our app. anyway we expect the flutter team could solve this issue asap.

[2019-07-09 00:43] ping996 commented on #35735
@stuartmorgan Thanks for you help and sorry for my mistake of create a duplicated issues here.

[2019-07-09 00:47] 7syw commented on #31138
same expectation as well, it is a BIG SHOWSTOPPER for us.

[2019-07-09 00:50] XHL-study commented on #35698
ok,this Tablet phone information

![D167A63DEE8FC91B5AB29C834EDA2D83](https://user-images.githubusercontent.com/22956309/60850792-7612a800-a223-11e9-93b0-604146a62a4b.png)

code
[study_app.zip](https://github.com/flutter/flutter/files/3370668/study_app.zip)

The steps to reproduce are as follows

![xx](https://user-images.githubusercontent.com/22956309/60768105-980d0d00-a0f3-11e9-9f96-967cea1ab238

[2019-07-09 00:56] jorgevvr commented on #33562
Very good, thank you so much. I will try it.

[2019-07-09 00:56] mcxinyu commented on #29328
Error: Package io.flutter.plugin.common does not exist

[2019-07-09 01:20] luckysmg commented on #35638
Here is the url that I tested
 [https://youtu.be/CV1YPJrXAjM](url)

[2019-07-09 01:21] luckysmg commented on #35638
here is my test video

https://youtu.be/CV1YPJrXAjM

[2019-07-09 01:22] luckysmg commented on #35638
In profile mode

[2019-07-09 01:31] pablote commented on #31054
I just run into this issue and came here to report it. Seems weird.

[2019-07-09 01:36] zjuwjf commented on #34395
I don't think that the above tips can really solve the problems, especially when a large number of teams are using fish-redux. Although we do this at the moment, it brings a very bad code experience.

Going back to the beginning of the question, is the name 'Action' should be used in Flutter to handle the keyboard shortcuts and menus common to desktop and web platform or left this name to the comm

[2019-07-09 01:57] kingkadienm commented on #35689
[flutter_07.log](https://github.com/flutter/flutter/files/3370856/flutter_07.log)

[2019-07-09 02:04] ADLsourceCode opened #35781 "how to use video as background for any screen"
Hello ,
how to use video as background for any screen and adjust it like image so that the video adjust itselfs in any screen size...Pls help, I am struggling with this..

[2019-07-09 02:12] ratsey commented on #31962
Using Beta channel but still seeing the same error in image 2.1.4. Deleted my pubcache and rebuilt, but same. This is definitely resolved in beta?

[code]

[code]

[2019-07-09 02:13] bparrishMines commented on #18660
Unfortunately, we are still working on getting full integration testing working with the rest of our plugins. We most likely won't add any additional plugins until we do.

[2019-07-09 02:24] tvolkert commented on #35638
@luckysmg were you able to put together a simple driver test that demonstrates this?

https://flutter.dev/docs/cookbook/testing/integration/introduction
https://medium.com/flutter-community/testing-flutter-ui-with-flutter-driver-c1583681e337

[2019-07-09 02:25] ssalihu commented on #31922
@tvolkert Thank you! I just confirmed that the observation that I mentioned [here](https://github.com/flutter/flutter/issues/31922#issuecomment-508802174) is no longer there with the stable channel!

[2019-07-09 02:47] luogue opened #35782 "Could you add similar to the z-index function of CSS to positioned?"
Rather than the order of Positioned widget in Stack widget

[2019-07-09 03:05] michael-cheung-thebus opened #35783 "path_provider 1.1.2 not backwards compatible"
Got very lightly bitten by this.  ^1.1.0 in pubspec, suddenly some files are not where they're expected to be.

Request to have 1.1.2 be 2.0.0 instead, I guess?

[2019-07-09 03:07] dnfield commented on #31138
This should not be showing up on the latest stable (as of today) - can you try on stable now?

[2019-07-09 03:10] amirh commented on #35698
To make it easier to investigate please provide a minimal self contained code snippet(similar to the one I posted above) that reproduces the issue(the sample app provided includes 12 files which will slow down investigation).

[2019-07-09 03:17] kaisa695275735 commented on #35515
YES，what we want to do is  give Flutter our **processed texture** directly  instead of the pixel buffer(IOS) or SurfaceTexture(Android).
So we need share our GLContext with flutter's GLContext.
Here is our pull Request:
https://github.com/flutter/engine/pull/9702/commits/dfe3d986c96a29ea40a4c9adc3eb9e811c28a64e
For time limit and not familiar with google's code style, our code may not be very  sta

[2019-07-09 03:18] clia commented on #33309
clia-mbp:samples clia$ cd web/charts/flutter/
clia-mbp:flutter clia$ flutter pub get
Could not find a file named "packages/flutter_web/pubspec.yaml" in https://github.com/flutter/flutter_web 1ed4317aa91038ba99531037ce00c04672c4bee1.
Running "flutter pub get" in flutter...
pub get failed (1)
clia-mbp:flutter clia$ flutter pub upgrade
Could not find a file named "packages/flutter_web/pubspec.yaml" i

[2019-07-09 03:20] helang1991 opened #35784 "iOS gesture down OtherViewController to FlutterViewController"
## Steps to Reproduce

I wanna jump to other viewController by Plugin in Flutter, however, i met a problem: the FlutterViewController can receive gesture events from other viewController.
this is my demo link: [https://github.com/helang1991/flutter_iOS_gesture_demo](url)

screenshot:
![image](https://github.com/helang1991/flutter_iOS_gesture_demo/blob/master/images/222.png)
## Logs

[code]
[code]

[2019-07-09 03:24] tvolkert commented on #34876
Current status: need to land https://github.com/flutter/flutter/pull/35777, but before I can do that, LUCI needs to build all engine binaries at that engine commit, and it's [failing](https://ci.chromium.org/p/flutter/builders/prod/Linux%20Android%20AOT%20Engine/1116) due to https://chromium-review.googlesource.com/c/chromium/tools/build/+/1685789.  @jason-simmons has a revert of this change in ht

[2019-07-09 03:33] bayuramadeza commented on #34308
hai @tvolkert after i tried stable channel this is still happened, what should i do?

[2019-07-09 03:38] rubencg195 commented on #18968
@zoechi any update? thank you.

[2019-07-09 03:57] lzxb commented on #31138
I'll try it later.

[2019-07-09 04:00] blasten commented on #34308
@bayuramadeza This is strange. I saw a similar issue when folks try to install 32-bit APKs in 64-bit devices, but in your case you uploaded an app bundle with 32/64-bit binaries, so this shouldn't be an issue.

It might be worth to double check that you are downloading the latest APK by increasing `flutter.versionCode` in `android/local.properties` and updating the description on the Play Console,

[2019-07-09 04:06] sergioahv15 commented on #31922
How can I use it?

[2019-07-09 04:21] bayuramadeza commented on #34308
@blasten i'll make sure i downloaded the latest apk.
i got stuck with this issue,
this is my appbundle link
https://drive.google.com/file/d/1ruDGNQ13nI2tuOrs2RPjvTFF0UI6nLRE/view?usp=sharing

Thankyou for your help

[2019-07-09 04:43] jaasaria commented on #31922
@tvolkert  how to apply this `v1.7.8+hotfix.2`  on existing project? Do i need to recreate all over again?

[2019-07-09 04:47] #35632 closed

[2019-07-09 04:52] MaikuB commented on #31922
@jaasaria this issue is around building your app for release. if you're on stable, you'd need to upgrade your flutter installation. the issue reported here is around building an app bundle as per [this link](https://flutter.dev/docs/deployment/android#build-an-app-bundle)

[2019-07-09 04:55] dblokhin commented on #31922
@jaasaria just execute: `$ flutter channel stable && flutter upgrade`

[2019-07-09 05:03] 7syw opened #35787 "incorrect behaviour of the callback method 'onPageFinished' in webview_flutter on iOS"
Hi,

We use the callback method 'onPageFinished' to control the visibility of busybee, but the behaviour is different for android and ios. this callback method works fine for ios, but it doesn't work for android. it was called for twice in Android device when start page loading and finish page loading, it was called once for ios when finish page loading.

BTW, version: - webview_flutter: 0.3.6

Ya

[2019-07-09 05:16] xuzhongpeng commented on #32294
i have the same problem,how did you solve it

[2019-07-09 05:22] DioBrandoLong opened #35788 "i found some issue"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-07-09 05:22] DimitarPetrov commented on #32294
@xuzhongpeng
Sadly i didn't, just removed the columns and used it with tiles only.

[2019-07-09 05:24] thedejifab commented on #30168
https://github.com/mtcliatt/Flarts/ gives you similar feel in Flutter  @chinmay-ksolves

[2019-07-09 05:24] timsneath commented on #34395
This is good food for thought, @zjuwjf. Thank you for raising this issue. I think we need to step back and think about what might be a good general-purpose solution to this problem.

Unfortunately, the `Action` clash is challenging to solve in the short term since a subsequent build has now been promoted to the `stable` channel. Please accept our apologies. Other than renaming `Action`, I'm intere

[2019-07-09 05:27] dnfield commented on #34378
Testing is done, at least for widget tests.

I'm running into some challenges with trying to do this for actual apps.

It's easy enough to get the framework to generate the tree. It's not much harder to get the engine to tell the framework to do that.

The problem right now is that each embedding listens to the OS for whether accessibility services are enabled, and if they're not the embedding doe

[2019-07-09 05:29] shariful2011 opened #35789 "Form currentState on multiple tabbar"
I have a page with 3 tabbar. On my app I have 2 modes, insert and edit mode. On insert mode currentState bypass through form validation but on the edit mode I got NoSuchMethodError: The getter 'currentState' was called on null. I understand the problem, as I am trying to call the following:
`List<dynamic> _treatment = form.fields['treatment'].currentState.value;`
which is in the second tab and I a

[2019-07-09 05:33] dnfield commented on #35577
This is a duplicate of #31138 - please follow that issue for updates.

Also, please update that issue if this is still an issue on the current stable release (1.7.8-hotfix.something).

[2019-07-09 05:33] #35577 closed

[2019-07-09 05:34] dnfield commented on #35788
I think you forgot somethign here - please feel free to open a new issue with a more descriptive title and a reproduction.

[2019-07-09 05:34] #35788 closed

[2019-07-09 05:36] DioBrandoLong opened #35790 "i got some issue about streambuilder"
here is my problem I was using TabBarView and streambuilder
first come in it's ok
![bug1](https://user-images.githubusercontent.com/27342144/60861650-b129d100-a24d-11e9-992a-f3f832bb441b.PNG)
![bug2](https://user-images.githubusercontent.com/27342144/60861655-b424c180-a24d-11e9-9866-af237c05d7c0.PNG)

It was executed twice but it's ok i got data.
but when is click de last item and come back first

[2019-07-09 05:37] brainstorm commented on #18968
Just googling a bit: https://github.com/shaqian/flutter_realtime_detection

... would that help?

[2019-07-09 05:45] ping996 commented on #35735
@stuartmorgan how can I use the flutter of given engine version,  I don't known how to make the flutter tool. any suggestions?

[2019-07-09 05:54] emmet63001 commented on #18494
thanks for help, i tried to build appbundle and its worked.

[2019-07-09 05:55] XHL-study commented on #35698
oh, just in  views/webview/dev_webview_flutter.dart

![image](https://user-images.githubusercontent.com/22956309/60862746-28ad2f80-a251-11e9-856e-437e056e7b8b.png)

[code]

[2019-07-09 05:57] OPY-bbt commented on #20376
[code]

[2019-07-09 06:03] vargavince91 commented on #34357
Have someone tried both? My plugins aren't working at the moment, and I'm wondering if that could be this version mismatch could be the issue

[2019-07-09 06:06] jigarfumakiya commented on #34691
anyone find issue i am getting same error. In android that works fine.

[2019-07-09 06:09] nimesh1997 commented on #18494
@tvolkert Same issue please check it. [https://github.com/flutter/flutter/issues/31962#issuecomment-509458960](url)

[2019-07-09 06:14] vargavince91 commented on #30387
Same for me, it used to work, and at some point, the crashes were just gone. Did someone else have the same issue? Or I just messed something up accidentally?

[2019-07-09 06:15] yogesh1211 opened #35791 "Google signin issue flutter"
When try to login with google this Exception was thrown i used google signin latest 4.0.2

11:43:35.817 13 info flutter.tools E/ConnectivityManager.CallbackHandler(20243): callback not found for RELEASED message
11:43:37.110 14 info flutter.tools E/flutter (20243): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: type 'PlatformException' is not a subtype of type 'String'
11:43:37.

[2019-07-09 06:21] dnfield commented on #18494
@nimesh1997 that issue has nothing to do with this one.  If you didn't find the answers provides in the linked issue helpful, perhaps you could look at posting a Stackoverflow question with your problem.

[2019-07-09 06:25] MustansirZia commented on #35267
I can confirm this happened to me too when I upgraded my flutter to `v1.7.8+hotfix.2` from `v1.5.4-hotfix.2`. As soon as I downgraded the exception vanished.

[2019-07-09 06:29] pakyo-pan commented on #19718
is there any progress?

[2019-07-09 06:30] rohitsainik commented on #35726
hey can you please explain to me what is wrong in these syntax

[2019-07-09 06:31] nohli commented on #20965
Anyone successful in hiding the home indicator through platform channels?

[2019-07-09 06:32] MichalMisiaszek commented on #29710
I saw post that it was solved in master but some plugins do not compile on master yet.

[2019-07-09 06:49] tvolkert commented on #31962
The problem is that `package:flutter_image` is still published as version 1.0.0, which isn't compatible with the current Flutter release.  It's received some updates to make it compatible, but those updates haven't yet been published (they'll be 2.0.0).

https://github.com/flutter/flutter_image/pull/15 gets it closer to ready.

[2019-07-09 06:59] elmariocarlos commented on #9984
Just submitted and ap and got this; and I do have the profile and everything setup correctly, so not sure whats is going on.

[2019-07-09 06:59] XHL-study commented on #19718
use flutter channel beta

[2019-07-09 07:00] codeniklabs commented on #29589
@YuriiChornyi Thank you, thank you, thank you!!!!

[2019-07-09 07:11] gisinator commented on #31138
Thank you, dnfield, for the update. So far so good, I cant reproduce the issue on my iphone 5c any more :)
Put my updated app on testflight, so hopefully there will be more confirmations flying in during the day.
I'll come back later with more results...

[2019-07-09 07:14] cimplesid commented on #24933
[code]
add these in pod file and then

`pod install`
in terminal
open YOUR-PROJECT.xcworkspace
Import the Firebase module in your UIApplicationDelegate, if you haven't yet:
`import Firebase`
Also configure a FirebaseApp shared instance, typically in your app's application:didFinishLaunchingWithOptions: method, if you haven't yet:
`FirebaseApp.configure()`
compile and run app and you are done

[2019-07-09 07:17] zjuwjf commented on #34395
Consider not exporting Actions in the following libraries.
[code]

The Action or Keyboard can be exported in a separate library. Like
[code]

In the longer term, as flutter covers more devices and features, it is necessary to break down into more independent libraries.

[2019-07-09 07:21] jeepc commented on #34395
agree @zjuwjf

[2019-07-09 07:28] duzenko commented on #35736
TextField

The change comes from the widget, not from outside, so I would expect the widget itself would update itself as well.

This is counter-intuitive that TextField refreshes on its own but DropDown requires a setState call to refresh.

[2019-07-09 07:33] DanTup commented on #19517
@redvg

https://github.com/flutter/flutter/issues/19517#issuecomment-429059025

[2019-07-09 07:40] KingBright commented on #33309
I have met the same issue.

[2019-07-09 07:41] KingBright commented on #33052
I have met the same issue.

[2019-07-09 07:43] hoangduchuu opened #35793 "Can build APK"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter build aot --suppress-analytics --quiet --target lib/main.dart --target-platform android-arm --output-dir /Users/hdhuu/DATA/DEV/Sources/AndroidStudioProjects/your-reward-user/build/app/intermediates/flutter/release --target-platform android-arm --release

## exception

ProcessException: ProcessExcep

[2019-07-09 07:59] acebeing commented on #20342
After upgrade Flutter to v1.7.8, for my app, the behavior of release APK and debug APK is not the same now. The release verison loses some UI/layout in several screens. If I downgrade flutter to v1.5.4, everything works fine. I really think it's a bug. I have tried to turn off proguard to build a release apk, with no luck.

`flutter analyze
Analyzing mintery-app...
No issues found! (ran in 3.8s)`

[2019-07-09 08:00] superwave commented on #35244
same on iOS 12 with iPhone XS, iPhone 6+, iPad mini, iPhone XR.
does someone have workaround to solve this problem?

[2019-07-09 08:00] VesperHan opened #35794 "eventSink just call only once"
@Override
    public void onListen(Object o,final EventSink eventSink) {
        System.out.println("listen");
        this.event = eventSink;
    }

First add listener, is ok, when sent message to flutter , it doesn't work, the code ios is ok, android not work. I don't know why. Why the native call flutter so difficult why??????

[2019-07-09 08:12] matthew-carroll opened #35795 "Resolve app switcher issue where the wrong brightness version of the app is shown."
Resolve app switcher issue where the wrong brightness version of the app is shown.

When an iOS app is sent to the background, e.g., when accessing the app switcher with a swipe, the app is asked to render itself twice: in light mode and in dark mode. These bitmaps are saved by the OS to show in the app switcher.

Currently this behavior does not work for Flutter because of 2 issues:

1. Flutter a

[2019-07-09 08:21] muhrahmatullah opened #35796 "Color picker when specifying a color [Android Studio feature alike]"
## Use case
Feeling a bit inconvenient when creating color widget in flutter, we need to manually insert the hexadecimal value for each color widget.

## Proposal
I think that will be great if we have color picker feature like in AS when we write hexadecimal value in our resource file. when we click the color preview there will be color picker pop up and let us pick the color we wanted. preview :

[2019-07-09 08:24] rrousselGit commented on #35742
No, because the root of some of these issues is because we're using keys for something they're not meant to.

As long as we take the key slot to obtain the state of descendants, then both the type-safety and "GlobalKey inside StatelessWidget" will stay.

[2019-07-09 08:33] dnfield commented on #15288
I'd like to understand the following better:

1. How much of the problem is that the clang toolchain we're using is oldish (based on Clang 8.0.0)?
2. Would we really need to use Xcode's clang, or is it enough to update our clang toolchain a bit so that things align better?
3. What does this do to forwards compatibility?  Will the stable Flutter channel break evertime someone upgrades Xcode (minor

[2019-07-09 08:34] jackChauT commented on #19718
you tried? and it is work? thank you

[2019-07-09 08:36] doctorlh commented on #35155
Change the bundle id or reset the phone by tap "Erase All Content and Settings". ... weird

[2019-07-09 08:39] XHL-study commented on #19718
I tested，But it still has bugs
https://github.com/flutter/flutter/issues/19718#issuecomment-508479955

[2019-07-09 08:48] haomeirong opened #35797 "flutter v1.8.1-pre.44, on Mac OS X 10.14.5 Dio request error"
07-09 16:22:20.877 12991-13063/com.haier.usdk.app E/flutter: [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: DioError [DioErrorType.DEFAULT]: type '_StreamHandlerTransformer<List<int>, List<int>>' is not a subtype of type 'StreamTransformer<Uint8List, List<int>>' of 'streamTransformer'#0      Stream.transform (dart:async/stream.dart)
    #1      DefaultTransformer.transformRespon

[2019-07-09 09:04] gincos commented on #13015
Any news on this??

[2019-07-09 09:14] jackChauT commented on #19718
oh... thank you.

[2019-07-09 09:18] pbouttier commented on #34525
Any news on this subject ?

I also need to implement a verification on subscription state

[2019-07-09 09:24] dougsatch commented on #19138
This is still the case for the latest version 5.1.0.

It's a big problem, if you have 5 unread messages and the user views 2 of them, the badge should still be set to 3.

[2019-07-09 09:29] CaiJingLong commented on #33642
I'm also meet the problem on android device.
I'm use the new latest version of stable.

[code]

[2019-07-09 09:36] lizhuoyuan opened #35798 "Channel stable, v1.7.8+hotfix.2 fixed the problem of packaging 64-bit?"
I heard that the flutter team will solve this problem. I wonder if this version is updated?

[2019-07-09 09:37] #35166 closed

[2019-07-09 09:41] XHL-study commented on #19718
😋😋😋
sorry, don't change flutter channel beta.
webview_flutter use  https://github.com/amirh/plugins/tree/master/packages/webview_flutter,you should download it in local

pubspec.yaml setting webview_flutter like this
![image](https://user-images.githubusercontent.com/22956309/60876562-bb0ffc00-a26e-11e9-90e0-dc3683d6c005.png)

[2019-07-09 09:42] rrifafauzikomara opened #35799 "How to make a bottom sheet with height follow the amount of item of JSON?"
`BottomSheet` in Flutter so that the height follows the number of items (data from JSON) is that what? Because I made the height not follow the amount of data but followed 1/2 the screen of each cellphone. So if the phone is long, there is empty space at the bottom. If the cellphone is short, the data is cut by the screen below.

This is the code for creat bottom sheet:

    void _showModalBottomS

[2019-07-09 09:47] elisar4 commented on #35797
I think this is Dio package problem
see this issue: https://github.com/flutterchina/dio/issues/360

[2019-07-09 10:10] nogicoder commented on #27680
Hey guys, can you look into this issue? Still haven't been fixed which cause inconvenient in the initState() stage. Thank you team!

[2019-07-09 10:12] tidharnitzan commented on #19718
@XHL-study - you mean that branch resolve the keyboard issue ?

[2019-07-09 10:13] dllewellyn commented on #35155
So I've sort of traced the crash for this. It looks like in the response from the app store when you receive an error it tries to parse the message here:

```[self.callbackChannel invokeMethod:@"updatedTransactions" arguments:maps];```

Inside the map is something of argument NSError, when I print out the argument 'maps' I see this:

[code]

Which ultimately fails here:

[code]

Because NSError is

[2019-07-09 10:25] user82361386 commented on #14083
This comment from 23 Nov needs a big tick by it.  It is the answer.

I can't paste it in, but a StatefulWidget with a WillPopScope(), a Navigator(), and a Global Key can implement static 'of' and 'popOut' to provide:
``
  SubNavigator.of(context).popOut()
``
for the pages beneath the SubNavigator.

It works multiply nested.

[2019-07-09 10:25] hey24sheep commented on #33768
I have created a pr to fix this issue in flutter/plugins PR #1822

[2019-07-09 10:26] hey24sheep commented on #29770
I have created a pr to fix this issue in flutter/plugins [PR](https://github.com/flutter/plugins/pull/1822)

[2019-07-09 10:34] gazialankus commented on #32524
@aryzhov were you able to use firebase auth without the popup at every refresh? Here's what I can do at the moment:

[code]

This is not ideal since it pops up the Google Sign In window with every refresh. Is this also your current solution, or do you have something better?

Specifically:

1. Can you make it remember the sign in info, rather than asking at every page refresh?
2. Do you have a widg

[2019-07-09 10:44] #35798 closed

[2019-07-09 10:49] biij5698 opened #35800 "Why flutter' GridView can not merge cells?"
If the flutter's GridView can merge cells, this will be very useful.
Two day's ago I opened a issues, but it be closed,i don't know why.

[2019-07-09 10:52] phanirithvij commented on #35800
It was reopened https://github.com/flutter/flutter/issues/35691

[2019-07-09 10:53] tianlinzx commented on #34395
agree @zjuwjf

[2019-07-09 10:54] phanirithvij commented on #35691
It'd be a nice feature.

[2019-07-09 11:02] biij5698 commented on #35691
Very good, I am expecting this feature to be implemented as early as possible.

[2019-07-09 11:04] miniBloq commented on #32587
I'm having this problem with very different configurations, and it's becoming very annoying (and concerning):

1. MacBook Pro 15, Mojave 10.14.5, using VSC: Can't debug at all, not with emulated devices, nor with physical ones. It affects both Android and iOS development. The debugger just doesn't work. The only configuration that was able to run a Flutter app, but not to debug it was with a physi

[2019-07-09 11:15] DanTup commented on #32587
@miniBloq

Please open a new issue with the full output of `flutter doctor -v` and [captured logs](https://dartcode.org/docs/logging/#capture-logs-command). Comments on already-closed issues are likely to be missed and if the configuration is very different then it's probably not the same cause.

[2019-07-09 11:22] XHL-study commented on #19718
not,
webview_flutter use https://github.com/amirh/plugins/tree/master/packages/webview_flutter,you should download it in local.
and pubspec.yaml setting webview_flutter like this:
- change your webview_flutter  to  local path
![](https://user-images.githubusercontent.com/22956309/60876562-bb0ffc00-a26e-11e9-90e0-dc3683d6c005.png)

[2019-07-09 11:36] BooberBunz opened #35801 "Android Studio stuck on "Installing and Launching" when using real IOS device and no console output from app."
UPDATE 2:

Problem continues to occur as of 7/17/19.

UPDATE 1:

In my case, it seems that in order for everything to work correctly, the USB connection to the iPhone simply needs to be reset (unplugged/replugged) between every cold restart of a Flutter app in Android Studio... otherwise the following bug (?) still occurs:

FACTS:

- I am new to flutter and am not a software engineer or UNIX exper

[2019-07-09 11:40] AmolGangadhare commented on #35372
Possible #35632 and fix flutter/plugins#1804 try it again in a new version

[2019-07-09 11:48] nonComBen commented on #35741
I am also having trouble with subscription purchases.  I was able to query product details and purchase the subscription, but the stream logic wasn't called (no log because on physical device in alpha channel) so I ran it on an emulator and queryPastPurchases isn't responding with any purchases or errors either.

`QueryPurchaseDetailsResponse response = await InAppPurchaseConnection.instance.query

[2019-07-09 11:54] tidharnitzan commented on #19718
ok. so I can confirm that didn't solve the issue. @XHL-study thanks anyway. any chance to get it resolved? did somebody manage to get it to show the keyboard?

[2019-07-09 12:00] AmolGangadhare commented on #34041
can you add some more log? Also, try it with the latest release.

[2019-07-09 12:12] XHL-study commented on #19718
I think，This person is solving this problem. ``` @amirh ```
this webview_flutter is  an unpublished preview，I am using this.
https://github.com/amirh/plugins/tree/master/packages/webview_flutter

You can see its resolution time in the milestone. [in this](https://github.com/flutter/flutter/milestone/46)

[2019-07-09 12:32] LinusU commented on #33236
Same thing that I reported in #32895

[2019-07-09 12:38] tidharnitzan commented on #25436
So...any solution? this is a real deal breaker...

[2019-07-09 12:39] tidharnitzan commented on #19718
this version is very old and doesn't include changes made a very long time (like javascriptChannels).
so can't use it at all.
the official version needs to have the fix. Flutter team ? @FlutterIssues

[2019-07-09 12:41] tidharnitzan commented on #26170
@Steve-sy the community doesn't have javascriptChannels...which is a must in my scenario.

[2019-07-09 12:56] XHL-study commented on #19718
God, I answered wrong again.
Is this version
https://github.com/amirh/plugins/tree/64fe811f8d6861cc87258d5db3df59414be8b49d/packages/webview_flutter

[2019-07-09 13:00] stuartmorgan commented on #35600
Stable was updated yesterday; closing.

In the future, please use the mailing list or a discussion forum rather than the issue tracker for questions like this.

[2019-07-09 13:00] #35600 closed

[2019-07-09 13:19] dspicher opened #35802 "Connectivity().onConnectivityChanged unexpectedly informs of connectivity state upon listen()"
From the documentation and gleaning at the implementation, it seems like the Stream `onConnectivityChanged` in the `connectivity` package should only emit notifications to changes in the connectivity state. However, when used in a `StreamBuilder`, the stream immediately emits a current connectivity state. What is the reason for this?

The behaviour can be reproduced with the small app below.

[cod

[2019-07-09 13:21] tidharnitzan commented on #19718
thanks. but it didn't help. I downloaded this version and testing on emulator and Samsung S8. keyboard still not jumping.

[2019-07-09 13:30] dileepxdn commented on #34876
spam problem

[2019-07-09 13:32] dnfield commented on #32895
As mentioned in the linked bug, this would require some platform specific code.  Closing this as a duplicate of the linked bug (sorry that we missed this one, I do see it was reported earlier).

[2019-07-09 13:32] #32895 closed

[2019-07-09 13:50] angel1st commented on #18494
@tvolkert - just to clarify - the above hotfix can be used to build separate apks according to [flutter docs instructions](https://flutter.dev/docs/deployment/android#build-an-apk), correct?
Therefore, it won't be required to make any other changes in gradle file [as described in earlier partial solutions](https://github.com/flutter/flutter/issues/18494#issuecomment-495972649)
Thanks for you and t

[2019-07-09 13:58] eagle-design commented on #27744
I have the same issue only for first Slide,
inkwell is not clickable while first slide is active.

[2019-07-09 14:00] XHL-study commented on #19718
sorry...

<details>  
<summary>this is my config, It can pop up the keyboard.</summary>

1. change webview_flutter config to you download local path
![image](https://user-images.githubusercontent.com/22956309/60892208-53b77380-a291-11e9-9688-13afb0d28a46.png)

2. ** run ``` flutter pub get ```**

3.look plugins info
![image](https://user-images.githubusercontent.com/22956309/60892801-56669880-a292

[2019-07-09 14:03] wanjm opened #35804 "websocket become slow after debug"
I write a websocket app, which use
 await for (String message in socket) {

but after debug line by line for a moment , the await for becomes very slow. and sometime automatically close the socket; and at the same time http2 of dart stopped work any more.

any one can share me some glue to get the root cause;  I am not sure whether there will be no problem in released app;

[2019-07-09 14:04] bmilovanovic commented on #24309
This fails for me also. Here's the output of `flutter doctor -v`.

[√] Flutter (Channel stable, v1.7.8+hotfix.2, on Microsoft Windows [Version 10.0.17134.858], locale en-US)
    • Flutter version 1.7.8+hotfix.2 at C:\src\flutter
    • Framework revision 2e540931f7 (7 days ago), 2019-07-02 09:31:07 -0700
    • Engine revision b1cb0d9e9b
    • Dart version 2.4.0

[√] Android toolchain - develop for

[2019-07-09 14:15] tidharnitzan commented on #19718
@XHL-study Thanks for all the help. it now working.
The issue was with dart and Flutter outdated. upgrade solve the issue now (with the above code downloaded).

[2019-07-09 14:18] XHL-study commented on #19718
haha, you are welcome. 😉😉😉

[2019-07-09 14:19] mausamRayamajhi opened #35805 "Vscode does not give code completion suggestion"
Code suggestion works fine in intellij but does not in vscode.
Black backgraound image from Vscode and other is intellij
![1](https://user-images.githubusercontent.com/28975010/60895662-c2420480-a284-11e9-98cc-1d5479a5d505.png)
![2](https://user-images.githubusercontent.com/28975010/60895665-c2da9b00-a284-11e9-8f98-ece15c1b5449.png)

[2019-07-09 14:28] angel1st commented on #18494
I have just compiled one of my app with the most recent hot fix. As a result the compiled `app-production-armeabi-v7a-release.apk` is not able to run on Galaxy S3 mini (Android OS 4.1.2) - after the splash screen, the app closes without any notification.
I am able however to successfully run the very same apk on 64 phone e.g. Galaxy S8.
here is how I run the flutter from the command line:

and her

[2019-07-09 14:34] Lootwig commented on #19623
The docs of ButtonTextTheme states:

[code]

For `normal` as well as `accentColor`, the description is in fact working.
For `primary`. i have observed the text color to actually be dependent on `primarySwatch` rather than just `primaryColor` (resulting in either black or white, according to the programmatically determined brightness of your swatches' colors).

So if you want to colorize your butto

[2019-07-09 14:56] truongsinh commented on #18494
@angel1st is it possible that you can share your AAB and/or APK file here so that we can help you troubleshooting?

[2019-07-09 15:05] angel1st commented on #18494
@truongsinh - sure, here they are:

[app-production-releases.zip](https://github.com/flutter/flutter/files/3373585/app-production-releases.zip)

I have uploaded both APKs, although, the alleged issue is with arm-32 version as stated above.

[2019-07-09 15:18] slightfoot commented on #32524
@gazialankus auth.currentUser's initial value is not synchronous. You need to listen to the auth.onAuthStateChanged listener and you'll be notified that the user is already logged in.

https://firebase.google.com/docs/reference/js/firebase.auth.Auth#on-auth-state-changed

[2019-07-09 15:21] stuartmorgan commented on #35805
Dart Code has [its own issue tracker](https://github.com/Dart-Code/Dart-Code/issues); this would need to be filed there.

[2019-07-09 15:21] #35805 closed

[2019-07-09 15:22] cyanglaz commented on #33714
@IchordeDionysos I'd suspect this is due to the clipping was not supported for iOS platform views. We just added a patch in master to support clippings for the platform views recently. Now the sized box should work with webview in master.

[2019-07-09 15:36] guit4eva opened #35806 "Simple Firestore transaction crashes on physical iOS device (only)"
I have a simple transaction that updates a Firestore document. It works correctly on Android devices, Android Emulators and iOS emulators, but crashes on a **physical iOS device**. I have no idea what the error means?

## Steps to Reproduce

[code]
## Logs
[code]

[code]

[2019-07-09 15:37] deakjahn commented on #28155
Then how come we still see the warning with 0.4.0+4? This should be reopened and investigated.

[2019-07-09 15:45] safield opened #35807 "flutter build apk --debug is slow"
I have a small flutter app that is a few files which I am developing on Windows 10.

I recently updated to flutter version Flutter 1.7.8+hotfix.2.

Prior to updating, the time it would take to for _flutter build apk --debug_ to complete (after changing 1 file)  was about 8 seconds. After the update it is around 35 seconds.

These times are based on a single changed file. I would run build apk, The

[2019-07-09 16:01] sergioahv15 commented on #19502
@Achilas
I would appreciate a working example too. Thanks!

[2019-07-09 16:07] gspencergoog commented on #34395
Yes, we also considered separating actions into a separate package, but because we are about to add support for actions and shortcuts to most material and cupertino widgets, those packages would explicitly depend on the `Action` class, and we don't want to reference a class in a public API which is then not exported from the library that references it. That leads to confusion, since methods in a l

[2019-07-09 16:21] amirh commented on #19718
This is an incomplete in progress prototype, you shouldn't use it for any production app. We are working on resolving the remaining issues with Android versions prior to N.

[2019-07-09 16:26] Achilas commented on #19502
There is no working example. I gave up with this feature as soon as I posted this.

[2019-07-09 16:26] amirh commented on #35698
@XHL-study please see https://github.com/flutter/flutter/issues/35698#issuecomment-509361826

[2019-07-09 16:26] aaronvargas commented on #30647
I think the issue as @HansMuller mentioned is "When its Hero is "in flight" it's temporarily reparented to the app's overlay and the DefaultTextStyle is no longer an ancestor"

So adding a `Material` as the child to BOTH heros will apply the `Theme` and fix the 'in flight' issue both directions

                Hero(
                    tag: myHeroTag,
                    transitionOnUserGestures:

[2019-07-09 16:28] angel1st commented on #18494
Guys, in the meantime, would someone be so kind and tell (if they know), what would happen after August 1st in Google Play Store, in case you do not have arm-64 version of your app - would the apk will stop to be served to arm64 devices or you will not be able to upload arm32 only version or both?

[2019-07-09 16:30] modulovalue opened #35808 "[Desktop MacOS] RawMaterialButton: setState called during build"
Changing the theme in my application on Flutter Desktop (MacOS) results in the exception below.
(It did work fine on a prior flutter commit).

I currently don't have the time to create a reproducible example. My temporary fix is to remove the setState call at ` _RawMaterialButtonState._handleHoveredChanged (package:flutter/src/material/button.dart:267:7)`.

Stacktrace:

[code]

Doctor:

[code]

[2019-07-09 16:31] frediustcDev commented on #24645
I had the same the problem was from my key.properties
I have put a wrong key path
I have used ../key.jks (relative path) instead of absolute path /Users/username/path/to/my/key/key.jks

[2019-07-09 16:36] chunhtai commented on #35720
Would you able to share you app that can reproduce this issue, and as well as any log you can gather? It will be easier for us if we can reproduce it locally

[2019-07-09 16:40] lgfranco commented on #35375
Sent message:
`flutter: onMessage: {from: ID, collapse_key: PROJECT_NAME notification: {body: This should appear on iOS, title: Test Text Notification, e: 1, tag: campaign_collapse_key_NUMBER}}`

Sent Message with data:
flutter: onMessage: {from: ID, AnOther: Data2, notification: {body: It should apear on iOS as well, title: This message contains data, e: 1, tag: campaign_collapse_key_NUMBER}, col

[2019-07-09 16:40] sceee commented on #18673
I'm facing the same issue with `CloudFirestorePlugin.h` not found as well.

Running `flutter build ios` seems to work but when I try to Archive it using XCode then, it fails with the error.

Just executing `flutter run` successfully builds the app and runs it in the Simulator.

[2019-07-09 16:40] rafaelcorbellini-egsys opened #35809 "Device freeze when open maps on certain devices"
The whole device freezes, after I navigate the map for about 1/2 seconds, the device comes to restart after this, test was done more than one device and in both happened same behavior, the source code used was the example of the own maps library.

## Steps to Reproduce

1. Create a sample maps aplication.
2. Install on Moto X (gen 2) Lenovo
3. Open application and tap on maps moving screen, about

[2019-07-09 16:53] EslamRabia commented on #34876
same problem :(((((((((((((((((

[2019-07-09 16:54] LongCatIsLooong commented on #35800
@phanirithvij thanks for pointing out. Closing in favor of the other (older) issue.

[2019-07-09 16:54] #35800 closed

[2019-07-09 17:05] bestheroforever opened #35811 "run problem.dependencies"
![Screenshot from 2019-07-09 21-33-20](https://user-images.githubusercontent.com/47401731/60908592-7f3a5e00-a291-11e9-9d89-da2046da00c7.png)

[2019-07-09 17:07] shihaohong commented on #35736
Under the hood, `TextField` is a StatefulWidget, so it maintains its own state and calls `setState` internally. In order to access and manage that state, you can use a `TextEditingController` in its parent widget (see https://api.flutter.dev/flutter/widgets/TextEditingController-class.html). In the end, everything is a widget and behaves the same way.

Many of the widgets provided in Flutter abstr

[2019-07-09 17:07] bestheroforever commented on #35811
It takes a lot of time.and nothing happen :(

[2019-07-09 17:14] woozbooz opened #35812 "LayoutBuilder with AlertDialog not work"
[code]

Flutter: 1.5.4-hotfix.2:
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.5.4-hotfix.2, on Microsoft Windows [Version 10.0.14393], locale en-US)
[√] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[√] Android Studio (version 3.4)
[√] IntelliJ IDEA Ultimate Edition (version 2017.2)
[√] Connected device (1 available)
• N

[2019-07-09 17:16] jaasaria commented on #31922
@MaikuB I created my src file a month ago and everytime i build my project i need to execute `flutter build appbundle --target-platform=android-arm64` command instead of `flutter build appbundle` to avoid playstore x64 error.

@dblokhin Just got upgraded and luckily my project didn't break. :) thanks you

[2019-07-09 17:17] #22025 closed

[2019-07-09 17:17] #25080 closed

[2019-07-09 17:17] #28980 closed

[2019-07-09 17:20] chunhtai commented on #29410
PR is merged, This should catch most of rendering error cases, however, not all. The framework is in place, it should be relatively easy to fix if we have missed any.

[2019-07-09 17:20] #29410 closed

[2019-07-09 17:20] shihaohong commented on #35736
I will close this for now, since I believe that I have sufficiently answered this question.

Feel free to create a new issue if anything new arises! If you have other questions in general about Flutter or Dart that you feel might not be an issue, try Stack Overflow first.

[2019-07-09 17:21] #35736 closed

[2019-07-09 17:23] enzoftware commented on #33827
@muss01 i found a simple solution just casting the function like this :

```stream.addListener(ImageStreamListener(imageListener));```
```stream.removeListener(ImageStreamListener(imageListener));```

Here is my ```flutter doctor```

[code]

Hope this could help someone

[2019-07-09 17:23] jmagman commented on #20685
If you're still seeing this error, you will need to migrate your Xcode project:
1. File > Workspace Settings... > Build System, change dropdown to New Build System (Default)
2. In your Podfile, add the line
[code]
See https://github.com/flutter/flutter/blob/master/examples/platform_view/ios/Podfile for example.
3. In the Runner target "[CP] Embed Pods Framework" Build Phase, remove all Output File

[2019-07-09 17:23] eseidelGoogle commented on #35638
This could be related to https://github.com/flutter/flutter/issues/31086?

[2019-07-09 17:28] PabloPL opened #35813 "[firebase_crahlytics] Handle FlutterErrorDetails without stacktrace"
## Steps to Reproduce
1. use firebase_crashlytics: ^0.0.4+3
2. Use library which creates FlutterErrorDetails and calls FlutterError.onError (for example flutter_svg library) or do it in code

## Current behaviour
If we have FlutterErrorDetails which doesn't have stacktrace filled, there will be another error (created by Trace.format which will call Trace.from. both from stack_trace library), when

[2019-07-09 17:38] #35771 closed

[2019-07-09 17:45] qiqetes commented on #34876
run the commands
$ flutter channel master && flutter upgrade
if it bothers you too much

[2019-07-09 17:46] eseidelGoogle commented on #19993
@rrousselGit I think to revive this discussion we're going to need to engage in something a bit more long-form.  Can you provide examples of what you're trying to achieve?  (e.g. I want to have a click-handler which might throw and when it does I want to do X.)

There is discussion of error reporting in https://flutter.dev/docs/cookbook/maintenance/error-reporting.  As Ian notes, there is already

[2019-07-09 17:59] johnsonmh opened #35815 "[Test] Migrate mock_canvas.dart into flutter_test."
## Use case

As a Flutter user, I want to use the `paints` matcher in my widget tests to verify the color of a `ShapeBorder` being drawn.

This can currently only be done in [the flutter framework](https://github.com/flutter/flutter/blob/a429991a150e7e297d9e9afd303cf6210913b234/packages/flutter/test/material/outline_button_test.dart#L609), because we do not export the [`mock_canvas.dart`](https://

[2019-07-09 18:01] shihaohong commented on #35452
The issue I've been able to reproduce is that the buttons do not work as expected when tapped quickly (It sometimes either doesn't register, or it deselects both buttons altogether). On holding the tap a little longer, the buttons seem to do the right thing.

My hunch is that the gestures between the SingleChildScrollView and the CupertinoSegmentedControl are contesting each other, since the butto

[2019-07-09 18:02] LongCatIsLooong commented on #35797
Thanks @elisar4. Closing as not directly related to flutter.

[2019-07-09 18:02] #35797 closed

[2019-07-09 18:03] blasten commented on #18494
@angel1st I was able to run the app (app-production-armeabi-v7a-release.apk) on Android 4.4.2 Galaxy S4. Nice app!

I suspect this is very specific to Galaxy S3 mini / Android OS 4.1.2. In the meanwhile, I requested this configuration to see if I can repro the issue.

[2019-07-09 18:12] sceee commented on #20685
@jmagman thanks - but could this be related to #18673? Because after migrating (via `flutter upgrade`, which performed this change on my machine automatically in the Podfile), I can build using `flutter build ios` but when trying to Archive in Xcode, I run in the error of #18673.

[2019-07-09 18:16] muhammad-usman-anwar commented on #28939
Same issue, works fine running from android studio. But does not work through terminal.
Mine terminal just hangs after any flutter command.
log shows the same issue

[2019-07-09 18:21] darrenaustin commented on #34990
@duzenko, you are right, I misread the docs there. Mea culpa.

The above fix should still work for the sample code. I think the `RefreshIndicator` widget's implementation causes it to add other kinds of widgets between the `Column` and the `Flexible` widget when it becomes active. We need to look into this and see if there is a way to handle this situation better.

[2019-07-09 18:38] Piinks commented on #35770
Hi @kazanooova, Can you provide more information about your issue?

[2019-07-09 18:39] Piinks commented on #35784
Hi @helang1991, can you post a reproduction of the issue as well as the output of `flutter doctor`? We will need more information to help you resolve it.

[2019-07-09 18:39] redayoub47 commented on #35666
for example this
`class TodoListView extends StatefulWidget {
    static const routeName ="/todo_list_view";
    TodoListView({Key key, this.title}) : super(key: key);

    final String title;

    @override
   _TodoListViewState createState() => _TodoListViewState();
}
class _TodoListViewState extends State<TodoListView> {

    final TodoList list=ModalRoute.of().settings.arguments;

    @overrid

[2019-07-09 18:39] Piinks commented on #35787
Hi @7syw. Can you post a reproduction of the issue? We will need more information to help you resolve it.

[2019-07-09 18:42] Piinks commented on #35790
Hi @DioBrandoLong, Can you post a sample of code that reproduces you issue instead of screenshots? Please also include the output of `flutter doctor`. We will need more information to help you resolve it.

[2019-07-09 18:42] Piinks commented on #35791
Hi @yogesh1211, Can you post a reproduction of the issue along with the output of `flutter doctor`? We will need more information to help you resolve it.

[2019-07-09 18:54] jthlim commented on #33038
Your

Is getting the Navigator starting on this line:

One way to fix this is to change line 9 to:

[2019-07-09 19:30] Piinks commented on #35794
Hi @VesperHan, Can you post a fuller reproduction of the issue? We will need more information to help you resolve it.

[2019-07-09 19:31] OmitedClient opened #35820 "TextRecognition does not work on Firebase_ml_kit iOS"
Please check the link for stackoverflow that explains the issue. Just to add an information when i roleback the version to firebase_ml_vision: ^0.1.2 it worked (but does not recognize some numbers in a simple document white background and black numbers).

https://stackoverflow.com/questions/56840484/cannot-recognize-text-when-using-firebase-ml-vision-kit-from-camera

Can you please help to see if

[2019-07-09 19:35] jason-simmons commented on #35692
If this is on Android, then check that your app has the `INTERNET` permission enabled in the manifest in release mode.

The Flutter default app template enables `INTERNET` in debug mode to support development tools like the Dart observatory.  But `INTERNET` is not on by default in release mode

[2019-07-09 19:37] ishaan1995 commented on #8245
@zoechi Is this going to be picked in the near future?
If not, is there any other way I can achieve this in a graceful manner?
Would be a good add-on since most of the existing sdk's like appsee and uxcam do not work on flutter ui. I want this for initial testing of my app and see how user's are interacting with it.

[2019-07-09 19:38] goderbauer commented on #35753
/cc @Piinks The generic example should be possible with the fix you're working on for SliverFillRemaining, I think.

[2019-07-09 19:38] ishaan1995 commented on #29512
@eseidel @sethladd Will this be a priority for 2019 or later?

[2019-07-09 19:39] ishaan1995 commented on #29512
My current solution relies on using sqflite and jaguar orm to generate simpler data access layer for me, but still it does not cover all aspects and makes working with database a pain.

[2019-07-09 19:41] rjzg85 commented on #33018
Same error here, using windows 10 as well, is there any update on this? thanks

[2019-07-09 19:44] craiglabenz commented on #24856
For posterity, I recently ran into this with the following (incorrect) layout:

[code]

And fixed it by swapping places with my `Column` and `ListView` widgets, aka:

[code]

Hopefully one day someone benefits from this tidbit :smile:

[2019-07-09 19:44] rrousselGit opened #35821 "[Request] Widget error boundaries"
This is a follow up to https://github.com/flutter/flutter/issues/19993#issuecomment-509739755

### The use case

It is currently not possible to have an error handling scoped to a widget tree.
There are methods for similar things such as `FlutterError.onError` & `ErrorWidget.builder`, but they are global variables. So the entire widget tree is affected.

One of the main use-case for scoped error h

[2019-07-09 19:50] eseidelGoogle commented on #35821
Thank you @rrousselGit!  @goderbauer @Hixie

[2019-07-09 19:52] Piinks commented on #35753
Related to #35758 and #17444

[2019-07-09 20:03] goderbauer commented on #35821
There's @Hixie's comment in https://github.com/flutter/flutter/issues/19993#issuecomment-427530444 that we don't really want to encourage people to throw in a builder. Maybe you could post a more concrete code example of where this may be OK in combination with a `FutureBuilder` to re-evaluate that statement?

[2019-07-09 20:04] gazialankus commented on #32524
@slightfoot thank you! simply adding `await auth.onAuthStateChanged.first;` here fixed it!

Interestingly I had an AngularDart app in the past that I was using `auth.currentUser` without any `onAuthStateChanged` and it was working fine. I'll remember to use `onAuthStateChanged` to be on the safe side. Thanks again!

[2019-07-09 20:04] LongCatIsLooong commented on #35726
Shouldn't it be `ChainAnimation({Key key, Animation<double> animation})`?

[2019-07-09 20:13] gisinator commented on #31138
Three more confirmations: No more lags so far. Looking good! Thank you, dnfield and team :)

[2019-07-09 20:15] jason-simmons commented on #35655
Screenshot bitmaps are encoded using Skia's `kN32_SkColorType` format.  See https://skia.org/user/api/SkImageInfo_Reference#SkColorType

[code]

Skia's headers select BGRA versus RGBA format here:
    https://github.com/google/skia/blob/master/include/core/SkImageInfo.h#L90

Take a look at how Skia's endianness macros are set in your build environments to check whether Skia is using a consistent e

[2019-07-09 20:31] bsr203 commented on #33028
@LongCatIsLooong can you please refer to the commit it is fixed. I am still getting an error if MaterialApp is not used  (I use CupertinoApp). Thanks

[2019-07-09 20:41] sceee commented on #18673
I found the error here: https://github.com/flutter/flutter/issues/16246#issuecomment-476329255 This solved the issue for me.

[2019-07-09 20:41] sceee commented on #20685
@jmagman I found the solution, actually this https://github.com/flutter/flutter/issues/16246#issuecomment-476329255 solved my issue. Sorry for any inconvenience.

[2019-07-09 20:46] kinex commented on #32090
Could this be related issue (different locale though):
[code]
 I found this from my Crashlytics errors (so it happens on end user's device).

Exception occurs in my code here:
[code]

[2019-07-09 20:52] vagrantrobbie commented on #35706
I think this a was more of a StackOverflow question.

I've modified your `PreferredSize` Widget. Added `contentPadding: EdgeInsets.symmetric(vertical: 0.0, horizontal: 10.0),` and adjusted TextStyle height. I think you just fiddle around with the height, ie line height, until it sits right for the particular font

[code]

[2019-07-09 21:01] cameronpalatas commented on #30306
Any update on this?

[2019-07-09 21:02] matthew-carroll opened #35823 "Update platform channels guide to specify that calls must be made on Android's Main thread."
Update platform channels guide to specify that calls must be made on Android's Main thread.

[2019-07-09 21:04] ThinkDigitalSoftware commented on #33678
Does anyone know if this is a verified issue? Especially since I see no reason for streams to be kept open when an app is restarted. This hurts the usefulness of hot restart for me

[2019-07-09 21:13] oli06 opened #35824 "flutter run --profile crashes (failed to find snapshot)"
Hi,

I'm trying to run my app on my device in profile mode with the command `flutter run --profile -d DEVICE_ID`. It crashes after the xcode build with following output:
[code]

## command
[code]
## exception
[code]
[code]

## flutter doctor

[code]

[2019-07-09 21:24] MoSala7 opened #35826 "text selection toolbar over flow !"
A problem happens in **TextFormField** Widget when trying to select part of the input text the **Selection toolbar** show up but not normally it overflow by 3.0 pixels from the right!!!
The funny part that it left more than 3.0 pixels from the left side of screen which its not centered!!

## Picture for the problem
https://ibb.co/k9Rk13M

## Logs

[code]

[code]

[code]

[2019-07-09 21:28] lukepighetti commented on #34959
Quick update. I just had a new project that was working fine until I added nine ~120kb *.png files to `assets/images`, and added this line to `pubspec.yaml`. Before this I had multiple Font assets that were working perfectly in `fonts/`

[code]

It `Exited (sigterm)` with no error three times, launched once. Then I had to restart because I had typed in the asset path incorrectly within my Flutter

[2019-07-09 21:29] mklim commented on #19718
I took the partial fix from @amirh at amirh/plugins@64fe811 a little further. There's a rough prototype at mklim/plugins@b258f7c91 that, combined with flutter/engine#9727, should fix:

However this is still a problem:

[2019-07-09 21:32] jonahwilliams commented on #34959
I wonder if we're running out of space on the device. @bkonyi did we get that change to the devfs landed that reports filesystem exceptions?

[2019-07-09 21:36] aam commented on #19696
https://gist.github.com/aam/cbf08d577d5226305072eaa2077083b1 captures output of debugDumpRenderTree at the point when assertion failed.

[2019-07-09 21:37] bkonyi commented on #34959
Yup, should have landed in https://github.com/dart-lang/sdk/commit/34a6218f8e5394eb8182381b84c480c01f6878d3

[2019-07-09 21:39] lukepighetti commented on #34959
Fwiw I'm on `beta` channel in that previous comment

[code]

[2019-07-09 22:01] spiralni commented on #35563
The same here. Besides I've got this error

`[INFO] Connecting to the build daemon...
[INFO] Generating build script...
[INFO] Generating build script completed, took 670ms
[INFO]
[INFO] Starting daemon...
[INFO] Initializing inputs
[INFO] Reading cached asset graph...
[INFO] Reading cached asset graph completed, took 407ms
[INFO] Checking for updates since last build...
[INFO] Checking for update

[2019-07-09 22:02] ravenblackx commented on #31212
This is especially problematic when using TextStyle.lerp between styles with different font sizes.

[2019-07-09 22:05] Xgamefactory commented on #18309
same issue here with Image.file cacheing need to remove to display updated file afrer saved with same image name.

[2019-07-09 22:07] lukepighetti commented on #34959
If there's anything I can do to assist please don't hesitate to ask.

[2019-07-09 22:17] Hixie commented on #19696
Tracing the code further i bet the bug is in the TextPainter or dart:ui's Paragraph logic. We should probably add some asserts down in TextPainter that verifies that the intrinsic values we get from there make sense.

[2019-07-09 22:18] stuartmorgan commented on #35808
@gspencergoog This is another issue like the ones I mentioned earlier today.

[2019-07-09 22:21] #34425 closed

[2019-07-09 22:22] dusdong commented on #9638
@Neo42 Using the AVD manager to "Wipe Data" seems to have cleared it.

[2019-07-09 22:51] cyanglaz commented on #23503
Although I agree it is a good feature to have, I don't think it should be a part of the image_picker. It might be reasonable a part of the video_player plugin. see https://github.com/flutter/flutter/issues/27950 and https://github.com/flutter/flutter/issues/26194. And there seems to be some packages in pubs already doing this. You can find some good one and use it before this functionality is in t

[2019-07-09 22:51] #23503 closed

[2019-07-09 22:56] cameronpalatas commented on #32202
@YuyaAbo did you ever find a permanent solution for this?

[2019-07-09 22:56] LongCatIsLooong commented on #33028
@bsr203 thanks for bringing this up! I'm going to repurpose this ticket. It looks like `CupertinoApp` could use some more documentation.

The gist is that in a `CupertinoApp` we'd expect that you want the consistent iOS look and feel throughout the app, so `CupertinoApp` does not know about material. In this case, `DefaultMaterialLocalizations` is a material dependency so `CupertinoApp` is not sup

[2019-07-09 22:59] cameronpalatas commented on #32202
@dnfield

[2019-07-09 23:04] shihaohong commented on #35666
Could you share the entire stack trace, as well as a reproducible sample? The code block you shared does not have enough context for me to try it on another machine.

[2019-07-09 23:09] chinmaygarde commented on #34070
Fixed in https://github.com/flutter/engine/commit/ad582b5089256e56727b2d7306fb097078a3dcdc

[2019-07-09 23:09] #34070 closed

[2019-07-09 23:10] chinmaygarde commented on #25075
Fixed in https://github.com/flutter/engine/commit/ad582b5089256e56727b2d7306fb097078a3dcdc

[2019-07-09 23:10] #25075 closed

[2019-07-09 23:14] Hixie commented on #31962
This change is now on stable, so this now affects any non-updated plugin.

We will make sure all first-party plugins are fixed. Beyond that it is not clear what we should do.

[2019-07-09 23:17] chunhtai commented on #32609
@svprdga I cannot reproduce it locally, Do you mind share a reproducible example?

[2019-07-09 23:33] kf6gpe opened #35831 "a11y manager integration with flutter"
This involves wiring up flutter to the a11y framework via the flutter bridge. The accessibility manager should be notified when a view is added and given an appropriate id (shared with scenic) to identify it.

This is a mirror issue for https://fuchsia.atlassian.net/browse/MI4-1539; conversation should please occur there.

[2019-07-09 23:33] jmagman opened #35832 "Ephemeral add-to-app project will not build in Xcode: Multiple commands produce '/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework"
Still seeing https://github.com/flutter/flutter/issues/20685 in the ephemeral add2app .ios Flutter app.

## Steps to Reproduce
1. Add a flutter app to an existing app following instructions at https://github.com/flutter/flutter/wiki/Add-Flutter-to-existing-apps
2. Add package to the pubspec.yaml that has a podspec to kick the flutter app into CocoaPod mode.
3.
[code]

[2019-07-09 23:35] Hixie commented on #33853
Scheduled for after https://github.com/flutter/flutter/issues/35831.

[2019-07-09 23:35] jmagman commented on #35832
Missed [host_app_ephemeral_cocoapods/Podfile.copy.tmpl](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/templates/module/ios/host_app_ephemeral_cocoapods/Podfile.copy.tmpl) in https://github.com/flutter/flutter/pull/33684.

[2019-07-09 23:42] Hixie commented on #35613
@mraleph Thanks for the prompt attention to this bug. Do you have any suggestions for workarounds for people who don't want to switch to dev builds?

[2019-07-09 23:43] amirh commented on #31962
Audit of first party plugins:

No first party plugin extends FlutterError.

Usages of FlutterError Details:

  * firebase_crashlytics/example/lib/main.dart:  does not instantiate a FlutterErrorDetails or uses `context` ✅
  * firebase_crashlytics/example/test_driver/crashlytics.dart: does not specify `context` ✅
firebase_crashlytics/lib/src/firebase_crashlytics.dart:      Uses the new API ✅
firebas

[2019-07-09 23:47] Hixie commented on #31962
Great. Sounds like once flutter_image is fixed, we can close this.

[2019-07-10 00:13] kgignatyev opened #35835 "GRPC connection fails in Flutter"
it does not seem to be network related because the same code works on different machines and getting data from GRPC service running  at 192.168.1.125

and if I try to connect with DIO the network connection happens, server complains about invalid request method, which indicates that connection was established but protocol is wrong

I/flutter (28839): Caught GRPC error: gRPC Error (14, Error connec

[2019-07-10 00:13] #20407 closed

[2019-07-10 00:14] pakyo-pan commented on #19718
fix this issue as soon as possible please.

[2019-07-10 00:15] GroovinChip commented on #25348
Is there an update on this?

[2019-07-10 00:21] XHL-study commented on #19718
Ok, I am currently only testing it for feasibility.

[2019-07-10 00:21] Hixie opened #35836 "tool_tests_create-macos failures"
tool_tests_create-macos seem to run more than create tests, and times out, and has console spew, and fails in many ways that we should handle better, all in one log:

[code]

cc @zanderso @jonahwilliams @dnfield

[2019-07-10 00:22] truongsinh commented on #18494
@angel1st here's the most informative source: https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html

In other words, apps continue to be distributed, though you cannot upload a new version of exisiting app, or publish new app without compliance.

[2019-07-10 00:22] Hixie commented on #35836
from https://cirrus-ci.com/task/4599308463112192

[2019-07-10 00:25] blasten commented on #18494
@angel1st I was able to repro this issue on a Galaxy S3 mini running Android OS 4.1.2.

The logcat is:
[code]

cc @jason-simmons

[2019-07-10 00:32] MoSala7 opened #35837 "text selection toolbar options is not shown on long press CupertinoTextField Widget !!"
with `enableInteractiveSelection: true,`  cut/copy/paste menu must be showed as mentioned in documentation in :
https://api.flutter.dev/flutter/cupertino/CupertinoTextField/enableInteractiveSelection.html
but i can only find the two default options as showed in picture
https://ibb.co/j55PhdY

it can only shown in double tap not long press!!!

## Logs

[code]

[code]

[2019-07-10 00:33] blasten opened #35838 "`libapp.so` not found on Android 4.1.2"
## Steps to Reproduce
1. `flutter build apk `
2. `adb install <apk>` on a device running Android 4.1.2  (I used Galaxy S3 mini)
3. The app crashes and the logcat indicates:

[code]

Related to https://github.com/flutter/flutter/issues/18494#issuecomment-509681042

[2019-07-10 00:42] xster commented on #32993
@jmagman this one is what we talked about today

[2019-07-10 00:42] xster commented on #33094
@jmagman would be nice to address this simultaneously too

[2019-07-10 00:44] jmagman commented on #12828
I'm reproducing something very similar in an add-to-app scenario.  I might be able to fix the issue I'm seeing, but I'm not sure it's the same one as is reported here.
If anyone is still reproducing, can you cd into your flutter app directory and give the output of:
1. pwd
2. xcodebuild -showBuildSettings -configuration Debug | grep -E "SRCROOT|LIBRARY_SEARCH_PATHS"
3. cat ios/Flutter/Generated.xc

[2019-07-10 00:46] tvolkert commented on #31962
flutter_image was fixed in https://github.com/flutter/flutter_image/pull/13 - it just hasn't been published.

Once flutter/flutter_image#15 lands, I'll publish a new version of flutter_image, and we can close this.

[2019-07-10 00:51] tvolkert commented on #35838
@jason-simmons are you able to have a look?

[2019-07-10 00:51] baotoushashou commented on #34395
In my opionion,it's better to rename the 'Action' fish-redux has to 'ReduxAction'. I don't think the name 'ReduxAction' will break specification of Redux.  The fish-redux is a very excellent framework, I have choosen it for my next app.It would make me very exciting if it would upgrade more frequently.

[2019-07-10 00:51] tvolkert commented on #35838
/cc @angel1st

[2019-07-10 01:04] droidery opened #35840 "Nested embedded view does not display in iOS"
## Steps to Reproduce

1. Switch to Flutter master channel
2. Run sample app with `webview_flutter: ^0.3.9+1` and enable Embedded Views preview
3. In iOS, the WebView only renders if either `ClipRRect` **or** `SingleChildScrollView` is removed. Otherwise the WebView will show nothing.
4. Issue not present in Android. Issue also not present in Flutter beta channel in both Android and iOS.

Sample a

[2019-07-10 01:05] 7syw commented on #31138
@dnfield we are struggling to upgrade to lastest stable version cause some uncompile issue, so far we revert back to 1.5.4-hotfix.2 for productive release. any suggestion? is it possible to downport the hotfix for lower version? meantime we are going to figure out a way to solve the upgrading issues.

[2019-07-10 01:07] xster opened #35842 "iOS integration test dual view crashes"
Run the app in https://github.com/flutter/flutter/tree/master/dev/integration_tests/ios_add2app/ios_add2app.xcworkspace

Tap the Dual Flutter View (cold) button. Press either of the POP buttons in the next page.

![Screen Shot 2019-07-09 at 6 07 09 PM](https://user-images.githubusercontent.com/156888/60932790-640d2580-a274-11e9-85cb-d006822b65f4.png)

EXC_BAD_ACCESS

[2019-07-10 01:08] lukepighetti commented on #18761
`TextOverflow.ellipsis` should work on vertical overflow, cut off the last word(s) and replace with `...`

[2019-07-10 01:12] tvolkert commented on #31962
flutter_image 2.0.0 has been published.  This should be fixed now.

[2019-07-10 01:12] #31962 closed

[2019-07-10 01:15] MrLiuYS commented on #35715
thank you!
i know `pushAndRemoveUntil`. but  i only remove page2.

change example:
push page1 and push page2 and push page3 and page4.
current page is page4.  i just want to close page2.

[2019-07-10 01:24] brenoprata10 commented on #33827
Same here :(

[2019-07-10 01:27] lanzhu1993 opened #35843 "Flutter UI testing framework questions"
## Steps to Reproduce

I have a question here I would like to ask, Flutter maps the android platform Widget to android.widget.xxx control. What is the difference between the underlying rendering mechanism and the View corresponding to android by parsing the XML file? Currently, I am developing a Flu testing UI testing framework. , refer to uiautomator+cucumber to achieve, please also advise

## Lo

[2019-07-10 01:33] XHL-study commented on #35698
this one？
[study_app.zip](https://github.com/flutter/flutter/files/3375372/study_app.zip)

[2019-07-10 01:36] GaryQian commented on #33642
https://github.com/flutter/engine/pull/9734 The problem seems to be deeper within Huawei's fork of Android. The PR above should prevent crashing, but introduces a much less serious bug where deletion will delete more characters than expected when the text is longer than the initial contents.

[2019-07-10 01:36] VernierCaliper commented on #35640
I had the same problem.

[2019-07-10 01:37] 7syw commented on #35787
@Piinks , see below code, expect the callback method 'onPageFinished' only run once when the page (H5 application) loading is finished. it run once for iOS, but twice for Android which both for starting page load and loading finished.
We saw the comments for this mehod which is 'Invoked when a page has finished loading.', the actual behavious is conflicted with comments.

[code]

[2019-07-10 01:40] 7syw commented on #35787
this issue only occurs for android.

[2019-07-10 01:40] aryzhov commented on #22695
Here's a suggestion: the support for small caps / all caps could be implemented at font face level which can be specified as `capitalization: normal | smallcaps | allcaps` in `pubspec.yaml`. If a font does not have an `allcaps` font face, it could be simulated by `toUpperCase()`, and `smallcaps` could be simulated by using different sizes of the same font. Please reopen.

[2019-07-10 01:41] LongCatIsLooong commented on #35837
I think that's because there were no selected characters so it doesn't make sense to show the copy button. Could you try selecting more than one character and see if copy appears?

[2019-07-10 01:48] helang1991 commented on #35784
Hi @Piinks ,I clicked screen in other viewController by plugin,  why the FlutterViewController received gesture events? Maybe other developers made similar issue.

[2019-07-10 01:53] helang1991 commented on #35784
flutter doctor:

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, v1.5.4-hotfix.2, on Mac OS X 10.14.5 18F132, locale
    en-CN)

[!] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
    ! Some Android licenses not accepted.  To resolve this, run: flutter doctor
      --android-licenses
[!] iOS toolchain - develop for iOS devices

[2019-07-10 02:14] Loopex2019 commented on #19845
Well I found a package called lamp
In Pub.dev . You can check it out . It includes the functionality of flash . About
the Zooming Part there is a package called
extended_image which serves the zooming part . But if you want to add on the live camera so you can start streaming images through the camera Controller and then get the CameraImage and then add the zooming Functionality to it . I actually

[2019-07-10 02:16] dnfield commented on #31138
If you can pick up some commit after https://github.com/flutter/flutter/commit/381fec583c62b8ba29821c4c2773352b04d23c04 it should work.  Otherwise you could patch the engine locally and build it from source.

[2019-07-10 02:20] MoSala7 commented on #35837
to select more than one charachter i have to double tap on some word thats only when i can see cut/copy options, but when using TextField Widget i don't have to double tap i can only long press at any word to see cut/copy options!!

[2019-07-10 02:21] WolfgangSenff opened #35844 "Adaptations page contains incorrect text for iconography"
At this link:
https://flutter.dev/docs/resources/platform-adaptations#iconography

It says Android has horizontal overflow dots, but the image shown has vertical. Given my Android device presently has vertical, my guess is the text is wrong, but it's possible the image is.

[2019-07-10 02:21] blockmood commented on #16822
@thetechguy2016  Have you solved this problem? I've made the same mistake. What caused it?

[2019-07-10 02:28] crackerli commented on #35784
I also met the problem, from the beginning, I want to develop a customized camera, a new plugin is developed to achieve this, the customized camera is a native page, when I open the camera page from flutter button, then there are two pages in app, foreground native camera page and background flutter page, something bad happened here were that when I click on the native camera page, the background

[2019-07-10 02:30] jnickzlim commented on #35611
Thank you, it resolve the issue.

[2019-07-10 02:30] #35611 closed

[2019-07-10 02:39] ketanm commented on #35790
Hi @DioBrandoLong,

Do share your actual `StreamBuilder` code block as suggested by @Piinks. Also, can you show whether you are using `AsyncSnapshot` in builder?

Lastly, inside the StreamBuilder body, it would be good to add check for status and error before processing data, i.e.

`StreamBuilder<QuerySnapshot>(stream: ...., builder: ...) {
   if (!snapshot.hasError) {
      switch (snapshot.conne

[2019-07-10 02:40] nawinkhatiwada opened #35845 "Flutter packages pub run build_runner watch stuck"
I got stuck while running the following command. `flutter packages pub run build_runner watch` . Actually, I was using Chopper Library and it needs above command for an auto generation. Chopper Library Link: [https://pub.flutter-io.cn/packages/chopper](CHOPPER)

Below is some output generated by the command.

[code]
From the last line, nothing happens the cursor blinks continuously but no progress

[2019-07-10 02:45] iNima commented on #19845
Thanks @Loopex2019

The lamp plugin is manual and is not related to capturing photo via camera because with that we can manually turn on/off the torch.
Currently, I'm using that since there is no other workaround for it but ideally, it should be supported by the camera plugin to turn on and off the torch automatically whenever it is required when we capture a photo. (based on the brightness of the

[2019-07-10 02:47] dnfield commented on #35836
https://github.com/flutter/flutter/pull/35839 Should help this significantly.  Some of that log spam isn't from us - we could try to redirect output on those commands but then we wouldn't know what's going on if it hung up there and would risk timing out if it took a while without output.

[2019-07-10 02:47] ketanm commented on #35768
@jonahwilliams may know?

[2019-07-10 02:49] ketanm commented on #35759
This is not a Flutter related question.

Also, you can directly use Unity/C# API (https://docs.unity3d.com/ScriptReference/SystemInfo.html) to query device info. If you need more information than better to write a native plugin and call it from Unity.

[2019-07-10 02:50] dnfield commented on #34395
My sense on this is that the language provides a way to deal with this (`import`s that use `hide/show` and `as`, potentially `exports` doing the same as well), but that it would still be burdensome to deal with this in a larger software project.

Is there some way that tooling could help automate resolving these kinds of conflicts more painlessly?  I don't know if that would be the analyzer or the

[2019-07-10 02:55] icatalud commented on #35703
I had the same issue, flutter pub pub publish solves the problem. The same is required for --dry-run. Apparently if you do not include a second pub, the command starts working with an alternative console, which would explain why it doesn't take the args also.

[2019-07-10 02:57] dnfield commented on #32202
I'm not really sure what's going on here - but this seems like it may be a bug upstream in the Firebase pods.

Perhaps there's been some version drift?  It looks like https://github.com/flutter/plugins/blob/master/packages/cloud_firestore/ios/cloud_firestore.podspec doesn't specify a version for the Firebase/Core pod, maybe that's now out of sync with something...  Just a guess though.

[2019-07-10 03:16] jonahwilliams commented on #35845
There is nothing in these logs to indicate either a problem with flutter or that build_runner is stuck. "watch" mode will run indefinitely as it waits for filesystem changes to re-run code generation, so that fact that it does not exit after finishing is not surprising.

If you're not getting the codegen you expect you should open an issue on chopper. Though if you want codegen to run while you de

[2019-07-10 03:16] #35845 closed

[2019-07-10 03:34] chenxianqi commented on #34395
The same problem is here, I hope to get a good solution

[2019-07-10 03:44] ketanm commented on #35732
@titanbender

The first snippet you mentioned that it compiled and then gave the following error? This line appears to be partial, can you share full error? `flutter: The following ArgumentError was thrown building VideoRecorderExample(dirty, state:`

If you want then can use `cameras = await availableCameras()`, it improves readability but technically same as `.then`.

Not sure if this may fix an

[2019-07-10 03:45] ramanroy911 commented on #23045
flutter doctor --android-licenses is not working for me

[2019-07-10 03:54] CaiJingLong commented on #33642
I upgrade version to 1.7.8+hotfix.3.  And run will crash.

It seems to be caused by the "security keyboard".
It can also be seen through my recording screen: In the state of the security keyboard, it is a black screen, and even the recording screen of the system can not get the state of the current screen.
So I guess maybe flutter can't get the current state or keyboard focus monitor, which causes

[2019-07-10 04:19] truongsinh opened #35847 "`flutter test --platform chrome` should not be available on `stable` channel yet"
[code]

Steps:
- go to any package with `test` (in this case, I will use https://github.com/zino-app/graphql-flutter/tree/master/packages/graphql as an example)
- `flutter test --platform chrome`

Observed behavior:
- test running with weird results

Expected behavior:
[code]

==========
Steps:
- `flutter test -h`

Observed behavior:
[code]

Expected behavior:
Platform "chrome" should not be a val

[2019-07-10 04:38] bernaferrari opened #35848 "invalid text selection: `TextSelection` with `TextEditingController`"
Probably related to this: https://github.com/flutter/flutter/issues/17647

## Steps to Reproduce
1. Run app
2. Tap on first TextField and type anything (a simple 'a' works).
3. Tap on second TextField (first one will loose focus)
4. Tap on X (clear) button from first TextField, something really weird will happen and an error will be logged.
A buggy ripple will happen and cover the full TextField:

[2019-07-10 05:06] wildtigon commented on #33265
@sandaru1: it has been fixed in version 5.05

[2019-07-10 05:08] jigarfumakiya commented on #24391
Hello @tvolkert

I am getting the same issue video doesn't play in Samsung device.
i am using   **video_player: ^0.10.1+3**

Here is Log I got

I/ACodec  (24114): [OMX.Exynos.avc.dec] Now Executing->Idle
I/ExoPlayerImpl(24114): Release e5dbcc4 [ExoPlayerLib/2.9.6] [k3g, SM-G900H, samsung, 23] [goog.exo.core]
E/BufferQueueProducer(24114): [SurfaceTexture-0-24114-1] cancelBuffer: BufferQueue has bee

[2019-07-10 05:16] angel1st commented on #18494
@blasten - thanks for the prompt feedback. As far as I understand, there is nothing I can do ATM but monitor #35838 with fingers crossed it will be resolved at some point this month? I believe the same issue will appear to any other apk for Android 4.1.2 compiled with the most recent hot fix?
FYI - the app apk compiled with previous flutter stable version does not have this issue (S3 mini is one o

[2019-07-10 05:19] angel1st commented on #35838
@tvolkert - thanks for subscribing me to the issue.
@jason-simmons - FYI - the app apk compiled with previous flutter stable version does not have this issue (S3 mini is one of my test devices), so it seems the issue is introduced with the last hot fix. Hope this helps.

[2019-07-10 05:30] ChiragRayani opened #35850 "Unable to locate Android sdk flutter while runnin on intellij"
![Screenshot from 2019-07-10 10-58-39](https://user-images.githubusercontent.com/32605614/60943012-543c2280-a302-11e9-9047-e9de0f0f2d91.png)

[2019-07-10 05:31] shivapht commented on #15288
Similar to @ianko's query above. Any more progress on this? This is probably the biggest missing feature that devs would need for faster adoption of Flutter.

[2019-07-10 05:32] ChiragRayani commented on #35850
![Screenshot from 2019-07-10 10-58-39](https://user-images.githubusercontent.com/32605614/60942969-2fe04600-a302-11e9-9757-b5cbbbc02d09.png)

[2019-07-10 05:47] yohom commented on #33642
When this bug is fixed, can it be merged into version 1.7? @GaryQian

[2019-07-10 05:49] hemnathmouli commented on #35850
This issue is related to this #15114

[2019-07-10 05:50] khainhero commented on #35267
Same issue here. I think this is very important as users cannot properly register now.
Just upgraded to v1.7.8+hotfix.3 and still an issue.
Everything was working before.
I double checked my iOS capabilities section for push notification/background fetch/remote notifications and everything seems fine.
firebaseappdelegateproxyenabled in the info.plist was a type STRING with a value NO
I fixed that

[2019-07-10 06:04] ChiragRayani commented on #35850
its working fine now
![Screenshot from 2019-07-10 11-32-26](https://user-images.githubusercontent.com/32605614/60944453-7f287580-a306-11e9-9b49-2433f0ce9a58.png)

but when i run flutter on intellij its showing like this
![Screenshot from 2019-07-10 11-32-37](https://user-images.githubusercontent.com/32605614/60944473-90718200-a306-11e9-8d62-34e960faa9f5.png)

[2019-07-10 06:22] pgfepale opened #35852 "How to disable SSL pinning in flutter app"
Hi,
I am using latest version of flutter(1.5) and dart(>2.0). I came across some  app security testing  and they are requesting to disable the SSL pinning in my app.

I research it but all solution leads to enable.

Can any one help me to disable it.

Thanks
Prashant.

[2019-07-10 06:25] deaitch opened #35853 "https://github.com/filiph/samples/tree/provider-shopper/provider_shopper -doesnt clone"
running:
git clone https://github.com/filiph/samples.git
does not get the provider_shopper example. Apologies if I'm doing something obviously wrong...

[2019-07-10 06:31] zhahao commented on #12319
I have written a libary, see my [homepage](https://github.com/zhahao/list_view_item_builder),it provide like iOS UITableView, provide jumpTo(section,index) and animateTo(section,index,animation) functions.

[2019-07-10 06:35] bhanuka96 opened #35854 "Execution failed for task ':app:compileflutterBuildEscapDebugArm64'."
## **flutter doctor**
[code]
## **flutter run --flavor escap -t lib/main_escap.dart --verbose**
[code]

## **flutter build apk --flavor escap -t lib/main_escap.dart**
[code]

[2019-07-10 06:44] chengyuhui opened #35855 "Optionally bypass startup lock when `pub run`"
## Use case
When `flutter pub run build_runner watch` is running, it is impossible to start debugging the app because of the startup lock, which is really annoying (it is reasonable to have `pub get` stuck here, but really not convenient for debugging).

## Proposal
Do not wait for startup lock when `flutter pub run`.

[2019-07-10 06:44] 071-Patel opened #35856 "SliverGeometry is not valid: The “maxPaintExtent” is less than the “paintExtent” in Flutter"
My whole application perfectly work in Emulator and Moto-G5S but i found error to load data in SliverGrid View in Samsung Galaxy A6+. My Error was "The maxPaintExtent is less than the paintExtent, The maxPaintExtent is 177.5, but the paintExtent is 612.0. By definition, a sliver can't paint more than the maximum that it can paint!"

I tried different SliverGrid gridDelegate like, maxCrossAxisExten

[2019-07-10 06:54] DanTup commented on #34395
This would have to come from the analysis server. I think it makes sense. Maybe when a naming conflict is found in the document, a warning (lint?) could be added against the imports that bring in those names with quick-fixes to hide the type from that import? Adding a prefix may be trickier since we'd want to prompt for a name (it's more like a refactor than a quick-fix) but in VS Code we could pr

[2019-07-10 06:56] Jun-r commented on #19718
When will this issue be resolved？

[2019-07-10 06:57] NathanaelA commented on #29936
Ok, color me also very confused.    I attempted to run my app in release mode and the permissions
weren't added from the profile or debug manifests.   So I assume those are for `profiling`? and `debugging`?

So on a whim, I created a new "release" folder, and copied my manifest from the debug folder into the `release` folder; did a clean and run and it worked.

I retested, and added another permis

[2019-07-10 07:05] nohli commented on #18494
Anyone else got a mail from Google today, saying

although already publishing both 32bit and 64bit versions?

It says

I guess, Google's "best estimate" is not correct?

[2019-07-10 07:05] Moncader commented on #35613
As a memo, the workaround of a custom implementation of `min` worked fine in our case.

Also, you don't need the custom implementation.
Dart's math.min function is actually generic, and instead of `math.min(a, b)` you use `math.min<int>(a, b)` the compile error does not happen.

[2019-07-10 07:07] duzenko commented on #35736
Sorry, I fail to see what StatefulWidget has do with it
Both TextField and DropdownButton extend StatefulWidget, so?

[2019-07-10 07:13] dansunhappy commented on #26366
[code]
reproduct

https://github.com/flutter/flutter/issues/14178#issuecomment-492065259

[2019-07-10 07:13] doctorlh commented on #35155
I think this pull request will solve. [1819](https://github.com/flutter/plugins/pull/1819)

[2019-07-10 07:15] doctorlh commented on #34619
I think this pull request will solve. [1819](https://github.com/flutter/plugins/pull/1819)

[2019-07-10 07:22] divyanshub024 opened #35857 "Cannot run flutter project after upgrading to v1.7.8+hotfix.3"
I'm unable to run my project after upgrading flutter to v1.7.8+hotfix.3.

I'm getting the following errors.

[code]

## Logs

#### flutter doctor -v

[code]

[2019-07-10 07:28] lunwhl commented on #29213
hi @miguellamas28 have you found a solution to install the app without disable the play protect?

[2019-07-10 07:33] divyanshub024 commented on #35857
Project is running after updating all the libraries.

[2019-07-10 07:33] #35857 closed

[2019-07-10 07:35] GrdUpTest3 commented on #32672
@AkramChauhan Hi! Have you found the solutions?

[2019-07-10 07:39] puneetsdsharma65 commented on #31962
I have the same issue for latest version of flutter(1.7.8)

Error: The argument type 'String' can't be assigned to the parameter type 'DiagnosticsNode'.

'DiagnosticsNode' is from 'package:flutter/src/foundation/diagnostics.dart' ('file:///Users/xyz/flutter/packages/flutter/lib/src/foundation/diagnostics.dart').
Try changing the type of the parameter, or casting the argument to 'DiagnosticsNode'.

[2019-07-10 07:41] puneetsdsharma65 commented on #31962
Same issue for Flutter 1.7.8+hotfix.3

Compiler message:
file:///Users/xyz/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_image-1.0.0/lib/network.dart:75:31: Error: The argument type 'Null Function(StringBuffer)' can't be assigned to the parameter type 'Iterable Function()'.

'StringBuffer' is from 'dart:core'.
'Iterable' is from 'dart:core'.
'DiagnosticsNode' is from 'package:flutter/src/foun

[2019-07-10 07:44] tvolkert commented on #31962
@puneetsdsharma65 see the messages above - you need to update to flutter_image 2.0.0

[2019-07-10 07:48] InvertedX commented on #35592
![image](https://user-images.githubusercontent.com/6897265/60950336-90787e80-a314-11e9-93fe-b34dc9a3bbb8.png)
I think this issue is happening on last few builds. i tried latest [v1.7.8+hotfix.3](https://github.com/flutter/flutter/releases/tag/v1.7.8%2Bhotfix.3), i got the above frame rate, i tested this on a fresh project (Counter example)

i downgraded flutter to 1.6.2, which i don't see any issu

[2019-07-10 07:49] dllewellyn commented on #35155
Yep I think you're right - cheers

[2019-07-10 07:52] Yusuf010191 opened #35858 "Root"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[2019-07-10 07:55] gisinator commented on #35267
Glad I'm not the only one facing this issue. I upgraded to newest stable 1.7.8 hotfix.3 yesterday and since then it doesnt work anymore. Unfortunately this is a major issue, users cant register any more. Flutter devs, can you help? :)

[2019-07-10 07:56] creativecreatorormaybenot opened #35859 "Why does Container not have a const constructor?"
The way I understood `const`, `const` constructors are always preferred.

It seems like making the [`Container`](https://github.com/goderbauer/flutter/blob/83ac40b98c8efa079daaf06b1b46f5f50f98a537/packages/flutter/lib/src/widgets/container.dart#L300) would be valid. The widget is often used as an empty widget, i.e. `return Container()` without any parameters.

Is there any problem with adding a `c

[2019-07-10 08:09] BoomPowbep opened #35861 "DropdownMenuItem breaks accented characters"
In a `DropdownMenuItem`, accented characters do display but with the wrong font. The font I use is Arapey. It works fine everywhere except in `DropdownMenuItem` as you can see on the screenshot below:

[https://image.noelshack.com/fichiers/2019/22/3/1559140741-capture-d-ecran-2019-05-29-a-16-37-26.png](https://image.noelshack.com/fichiers/2019/22/3/1559140741-capture-d-ecran-2019-05-29-a-16-37-26.

[2019-07-10 08:10] DanTup commented on #32651
@c0h1b4 thanks! There's something a little weird in those logs - looks like we tell the app to stop twice, and the first one doesn't get a response. I don't know if that's contributing to the issue, but it feels wrong. I can repro that locally so I'll have a go at fixing and then you can test if it makes any difference.

[2019-07-10 08:17] puneetsdsharma65 commented on #31962
@tvolkert I am new in flutter. I have update flutter 1.7.8, but I have seen I don't have and folder of "flutter_image 2.0.0" name. I have only flutter_image 1.0.0.

can you please tell me how and where I update flutter_image
Thanks

[2019-07-10 08:19] egodefroy commented on #24645
In case it helps...

I had the same problem and solved it removing the ndk filters in my app build.gradle file:
[code]

[2019-07-10 08:22] nazmulgazi1989 commented on #31962
Compiler message:
.\pub-cache/hosted/pub.dartlang.org/cool_ui-0.1.15/lib/keyboards/keyboard_manager.dart:102:20: Error: The argument type 'String' can't be assigned to the parameter type 'DiagnosticsNode'.
 - 'DiagnosticsNode' is from 'package:flutter/src/foundation/diagnostics.dart' (.\flutter/packages/flutter/lib/src/foundation/diagnostics.dart').
Try changing the type of the parameter, or casti

[2019-07-10 08:35] JamesMcIntosh commented on #29835
@Goolpe Is this a duplicate of https://github.com/flutter/flutter/issues/21650

[2019-07-10 08:36] jimUpdate commented on #31922
Thanks for the warning!

[2019-07-10 08:36] Oklahomawhore commented on #34219
awwww please 10.15 needs you flutter awww damn

[2019-07-10 08:37] moritzmorgenroth commented on #27023
We also have a usecase for this. Is there any progress or a PR?

[2019-07-10 08:40] sof9816 commented on #15168
I read the comments and yours was little bit helpful, when  you mentioned the pod i remembered to install the pods again, and i did and it all worked just fine .

[2019-07-10 08:40] smallsilver commented on #31579
it's work ,good boy!

[2019-07-10 08:42] Sarthaktydy commented on #31922
I've flutter version 1.7.8+hotfix.3 will "flutter build appbundle" will result with app.aab with 32 & 64 bit both?

[2019-07-10 08:43] tapeo opened #35862 "allow shared_preferences to use existing file"
Current Android implementation of shared_preferences create a new file (called FlutterSharedPreferences.xml) instead reusing already existing preferences file.

This can't let my app to migrate from existing app using the keys stored in the old preferences file. The same for iOS. With Android I can retrieve the old file and convert it to XML and parse it to recover the keys but with iOS there aren

[2019-07-10 08:47] jovanovski commented on #32090
Yes it is! It's just an unsupported locale in Flutter.
This is really giving my app a bad user experience, since dates are now in `en_US` while the whole app is in another locale.

@HansMuller Is anything planned for this? Can I somehow help in adding the `mk_MK` locale to Flutter?

[2019-07-10 08:48] juliengit2 commented on #31922
strange I tried with 1.7.8+hotfix.3 with channel stable and I get again the playstore warning when uploading a bundle with : _flutter build appbundle_

any idea??

[2019-07-10 08:48] fengqiangboy commented on #31579
Because flutter can not package both arm32 and arm64, so, we force gradle to use arm32 package, and arm32 file can run on both arm32 device and arm64 device.

[2019-07-10 08:48] svprdga commented on #32609
Sure @chunhtai https://github.com/svprdga/flutter-issue-32609

Just run the tests in test/flutter_issue_32609.dart with **flutter test** and **flutter --no-test-assets** to see the diference.

[2019-07-10 08:49] fengqiangboy commented on #31579
Because flutter can not package both arm32 and arm64, so, we force gradle to use arm32 package, and arm32 file can run on both arm32 device and arm64 device.

[2019-07-10 08:56] lzxb commented on #19718
This problem has been going on for almost a year.

[2019-07-10 08:58] deakjahn commented on #24645
I never had anything similar in my file, so unfortunately, it doesn't.

[2019-07-10 09:00] zhangruiyu commented on #19718
because of this problem, our app is ready to change to native

[2019-07-10 09:03] tomaszpolanski commented on #31922
@juliengit2  Open `.aab` file as a normal zip, go into `base/lib` folder and check if there are `armeabi-v7a` and `arm64-v8a` folders

[2019-07-10 09:08] develbis commented on #31922
flutter build appbundle --release seems to fix the problem

[2019-07-10 09:09] mraleph commented on #35613
@Hixie The problem is that it is very hard to identify offending code - it requires understanding of debugging flags and decent knowledge of Dart AOT pipeline to be able to locate the function which causes things to go off the rails. So providing universal workaround is not possible.

[2019-07-10 09:11] nirav-tukadiya commented on #34582
@blasten @xster Any ETA for [#23586](https://github.com/flutter/flutter/issues/23586)?

[2019-07-10 09:15] Sarthaktydy commented on #31922
Trying doing it with my app "flutter build appbundle" lib folder contains v8a & v7a both. Can I push the update now, I don't want another warning coming to my head's email.

[2019-07-10 09:24] DanTup commented on #32651
@c0h1b4 could you see if this build makes any difference?

https://github.com/Dart-Code/Dart-Code/releases/tag/v3.3.0-alpha.2

Download the `.vsix` file somewhere, then run **Extensions: Install from VSIX** from the VS Code command palette and browse to that file, then click the Reload button.

We were previously sending `app.stop` multiple times and then also assuming that when the Observatory co

[2019-07-10 09:27] mkustermann commented on #35613
@Hixie / @mraleph Is there a process for cherry-picking fixes to stable?

[2019-07-10 09:38] serge66 commented on #33173
How is this error solved?

[2019-07-10 09:41] martipello commented on #9383
any progress on this?

[2019-07-10 09:43] #29835 closed

[2019-07-10 09:45] miguellamas28 commented on #29213
Looks like a problem with the apk signature, didn't have the same problem since then but it was weird since I was using the same key.

[2019-07-10 09:51] long1eu commented on #32181
Can you please assign this to me?

[2019-07-10 09:55] darab-singh93 commented on #34476
C:\Users\Darab Singh\Downloads\flutter_catalog-master>flutter run
Running "flutter packages get" in flutter_catalog-master...        27.9s
Using hardware rendering with device Android SDK built for x86. If you get graphics artifacts, consider enabling
software rendering with "--enable-software-rendering".
Launching lib/main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...

[2019-07-10 09:57] lzkkk opened #35863 "Could not parse callback cache, aborting restore"
today, i upgrade my flutter to  stable 1.7.8, then i cant run my application in a normal way.
and i probably find reason what is i use "[[FlutterEngine alloc] initWithName:engineName project:nil]"

[VERBOSE-1:callback_cache.cc(132)] Could not parse callback cache, aborting restore

 Flutter (Channel stable, v1.7.8+hotfix.3, on Mac OS X 10.14.5 18F132, locale zh-Hans-CN)
    • Flutter version 1.7.8

[2019-07-10 10:00] #34476 closed

[2019-07-10 10:08] #35582 closed

[2019-07-10 10:12] alexZaicev commented on #20032
Having the same problem.. tried to set various proxy hosts from our company to the HTTP_PROXY, HTTPS_PROXY, flutter still could not download packages

[2019-07-10 10:15] #35863 closed

[2019-07-10 10:35] saravananmnm opened #35864 "Stepper right overflowd 197 pixels"
` List<Step> my_steps = [
      new Step(
          title: new Text('First step'),
          content: new Text('this is the  first step.'),
          isActive: (CurrentStep >= 0),
          state: (CurrentStep == 0) ? StepState.complete : StepState.disabled),
      new Step(
        title: new Text('Second step'),
        content: Text('this is the second step'),
        isActive: (CurrentStep >=

[2019-07-10 10:40] DhruvamSharma commented on #35640
This issue has been resolved by the flutter team. Please mark this as closed.

[2019-07-10 10:48] DhruvamSharma opened #35865 "Pause Webview when in background."
## Use case

I have added a webview plugin (official flutter plugin) for viewing webpages. One of the webpage has a youtube video playing and when I press the home button and the app goes into background. But the problem is that the sound keeps on playing. There are other sections in the application that contain some component playing sound or video.

So I want to know what can be done to pause th

[2019-07-10 10:57] dansunhappy commented on #26366
[code]
# reproduct

[code]
启动瞬间点击home 按钮
# device
iOS 12.1.4 (16D57)
Model: iPad mini 3 (Model A1599))
# 堆栈信息
[code]
# log
[code]

[2019-07-10 10:59] #35859 closed

[2019-07-10 11:03] truongsinh commented on #31922
Another similar case of a far APK receiving warning https://github.com/flutter/flutter/issues/18494#issuecomment-509937209

[2019-07-10 11:16] guit4eva commented on #33827
Upgrading photo_view to 0.4.0 fixed it for me

[2019-07-10 11:22] InterFelix commented on #29802
I've since developed my app quite a lot further, however, what's stopping me from releasing it publicly is still the login problem. Someone somewhere mentioned the AsyncMemoizer, but that's exactly the opposite of what I need. It would cache the result of my future, but I always need the new result to be able to tell if a login attempt was successful.
I still don't quite understand why my login-me

[2019-07-10 11:26] dened commented on #16876
Thanks a lot. It worked for me.

[2019-07-10 11:31] kaumudpa commented on #12374
It still does not support Rich Notifications (Notifications with Image) on iOS, Anybody has workaround for this???

[2019-07-10 11:35] kaumudpa opened #35866 "[firebase_messaging] Should support Rich notifications by default on iOS."
It still does not support Rich Notifications (Notifications with Image) on iOS, Anybody has workaround for this??? If not this would be a feature request.

[2019-07-10 11:52] luckmlc opened #35867 "[webview_flutter] Input needs to be tapped twice to be registered on Samsung devices"
*Edit by @mklim: [Comment-511798199](https://github.com/flutter/flutter/issues/35867#issuecomment-511798199) found the Samsung issue. The first few comments in the chain refer to earlier versions of Flutter without any keyboard support at all. Quoting the relevant comment below.*

Run the example in the webview_flutter plugin.
When I typed on the pop-up keyboard, the text I entered was not display

[2019-07-10 11:59] rajeshzmoke commented on #31962
file:///Users/rajeshkumar/.pub-cache/hosted/pub.dartlang.org/flutter_svg-0.12.4+1/lib/src/picture_stream.dart:256:16: Error: The argument type 'String' can't be assigned to the parameter type 'DiagnosticsNode'.
     - 'DiagnosticsNode' is from 'package:flutter/src/foundation/diagnostics.dart' ('file:///Users/rajeshkumar/Desktop/flutter/packages/flutter/lib/src/foundation/diagnostics.dart').
    Tr

[2019-07-10 12:04] luckmlc commented on #35640
The new 1.7.8 version has fixed this issue, Now the keyboard can be popped up, but the input text is not displayed.   #35867

[2019-07-10 12:05] #35640 closed

[2019-07-10 12:06] juliengit2 commented on #31922
for those with the same issue, I removed in build.gradle :

[code]

and the warning disappeared.

[2019-07-10 12:10] ramkumarkb opened #35868 "Support for Client Certificate in the WebView widget?"
I am trying to use the [WebView widget ](https://pub.dev/packages/webview_flutter), but the URL that am accessing needs a Client Certificate (as the URL is enabled with 2-way SSL).

Does the Flutter WebView widget support passing of the client certificate for 2-way SSL communication?

[2019-07-10 12:23] zmtzawqlp opened #35869 "WidgetSpan: exception was thrown when set TextOverflow and MaxLines"
## Steps to Reproduce

reproduce with following codes:
[code]

## Logs
[code]

[code]

I have done some changes in packages\flutter\lib\src\rendering\paragraph.dart, i think we should take care of over flow widgets .

please take a look attached paragraph.zip.
[paragraph.zip](https://github.com/flutter/flutter/files/3377390/paragraph.zip)

[2019-07-10 12:29] zmtzawqlp commented on #35869
three places i found , need to change
1.void paint(PaintingContext context, Offset offset)
2.bool hitTestChildren(BoxHitTestResult result, { Offset position })
3. void _setParentData() {

and  it seem that over flow widgets are also calling build method,  any performance problems for them?

[2019-07-10 12:36] xuzhongpeng commented on #32294
I don't know what's wrong with you, but I solved my problem.
copy ReorderableListView class from the file *reorderable_list.dart* to anyplace  Because we need to modify a source code
then modify the line 184
[code]
to
[code]
at last modify the line 368 to
[code]
my problem is like this
![](	https://blog-1253495453.cos.ap-chongqing.myqcloud.com/flutter%E6%BB%91%E5%8A%A8%E9%97%AE%E9%A2%98.gif)

[2019-07-10 12:40] manjesha12 opened #35870 "flutter doctor is not working"
it was working good so far in both vs Code and Command Prompt , Now i don't no what happened its not working. whenever i tried to run that command it showing nothing. just keep running

[2019-07-10 12:49] RobertBrunhage opened #35872 "Error consuming purchase: Response code 5"
## Problem

When trying to purchase a subscription product I get the following message `Error consuming purchase with token. Response code: 5`.

This is run from the version of the app that is on play store internal testing. and I found the error message with the following `adb shell "logcat --pid=$(pidof -s com.example.app)"`.

So it seems like it's not consuming my purchase correctly.

## Steps

[2019-07-10 12:56] Goolpe commented on #29796
@justinmc issue on small device:
![Screenshot_20190710-155103](https://user-images.githubusercontent.com/18518522/60970553-e821e480-a32a-11e9-8a6b-7721357bddb6.png)

flutter: 1.8.0,
device: ZTE BLADE A0622 • 320376181424 • android-arm • Android 7.1.1 (API 25)

[2019-07-10 12:58] saravananmnm commented on #35869
you can use blow mentioned lines

ConstrainedBox(
                  constraints: BoxConstraints(
                      maxWidth: MediaQuery.of(context).size.width * 0.5),
                  child: Wrap(alignment: WrapAlignment.end, children: <Widget>[
                    new Text(subTitle ?? null,
                        textScaleFactor: textSize ?? null,
                        overflow: TextOverf

[2019-07-10 13:02] drakor007 commented on #16991
I have this problem too.
And the same problem is described here (below), it seems that is solved. But I am not a developer, only tester, so I don't understand how :(
https://github.com/flutter/flutter/issues/22868

[2019-07-10 13:03] lambasoft commented on #28439
@naiveai ouf, that was a long time ago. As I recall it was something with crashanalytics.
First remove the package, and make sure it works without the package, of course remove all crashanalytics related code as well, you can comment them.

If it works, then your crashanlytics implementation is wrong, make sure you follow the step-by-step guide.

[2019-07-10 13:08] stevenspiel commented on #12561
@mozes-pb I haven't run into that. How are you running the tests? `flutter drive --target=test_driver/app.dart` or do you run the app with an observatory port and VM_SERVICE_URL? (`flutter run test_driver/app.dart --observatory-port 8888` and then `dart -d test_driver/app_test.dart`)

What happens if you `$ flutter run test_driver/app.dart` and then from another session `$ applesimutils --byId ${d

[2019-07-10 13:21] pietro-rutzen opened #35874 "PageView does not have optional scrolling on both ends."
The following widget should have an optional property to add the behaviour of swiping from thirdDay to firstDay and from firstDay to thirdDay. At this point some gimmick needs to be done to have this applied.

`Widget build(BuildContext context) {
    return Scaffold(
      backgroundColor: Theme.of(context).secondaryHeaderColor,
      body: Column(
        children: <Widget>[
          header(cur

[2019-07-10 13:22] wedcel opened #35875 "[web]:Flutter For Web TextFiled Keyboard not show in iPhone"
There is an textfield in my flutter for web application. This textfield is no problem on Android, but on the iPhone, the keyboard does not appear. You need to click 5 to 8 times in the textfield to pop up the keyboard. What is the problem with this?
I look at the official sample, the input of textfield will be enlarged first to pop up the keyboard. Is there any problem here?

### show my code:

 m

[2019-07-10 13:31] bhurlbert opened #35876 "Flutter 1.7.8+hotfix breaks image_picker/image_picker_saver"
The Flutter update 1.7.8+hotfix breaks **image_picker_saver** lib and does not allow the '_future_' to resolve when _getting images from the camera or gallery_, so the app just shows a black container where the normal container would return after the future is resolved.
[code]

[2019-07-10 13:32] jiachaosun commented on #35848
Same problem here.

[code]

[2019-07-10 13:37] tb2761 opened #35877 "Fatal signal 11 (SIGSEGV), code 1, fault addr 0x746f600000 in tid 24864 (1.ui) using Widgetspans"
My application crashes. Think it's on fast scrolling or backnavigation.

## Steps to Reproduce

I can't reproduce it. Because the error message provide no information for me, to know where i have to start to reproduce. Therefor a simple example isn't possible.

Sorry that i can't provide more information.

## Logs

[code]

[code]

[code]

[2019-07-10 13:46] GuilhermeVendramini commented on #35837
After upgrade Flutter I had same problem, before upgrade was working fine.

[2019-07-10 13:58] #35858 closed

[2019-07-10 14:01] Pyozer opened #35879 "Black margin on top and bottom of app (iOS)"
Hi !

We published an app, and one of our users report us a strange display bug on his iPhone.
I don't know exactly the model by it seem to be an iPhone 8 (screenshot provided is 750x1334).

<img src="https://i.ibb.co/CwCGXKd/1-1.png" height="400" />

The bug is that there is some strange black margins on top and bottom of the app.
Also, on the screenshot we can see that the statusbar is on top of

[2019-07-10 14:11] Boehrsi commented on #21023
Anything new in regards to this issue? Due to the recreation of states and widgets e.g. a chat app is more or less impossible to implement in a reliable and performant manner.

**Example:**

- Using a list view (to display the messages)
- Using reverse: true (to display the newest messages at the bottom of the screen)
- Receiving or sending a new message and inserting it (logically at the first in

[2019-07-10 14:15] chinmay-ksolves opened #35880 "is there a plugin for integrating Esri map in flutter"
Need to implement Esri map in a flutter mobile application.
Is there a plugin or way to implement Esri map in the flutter application.

[2019-07-10 14:25] khainhero commented on #35866
Perhaps, this can help you. I am planning to include this for my own project when I have time. So I can modify the notification before its displayed to the user.
https://developer.apple.com/documentation/usernotifications/unnotificationserviceextension

more info here:
https://documentation.onesignal.com/docs/service-extensions#section-notificationextenderservice-span-class-label-all-label-android

[2019-07-10 14:26] jckpn commented on #34953
I just ran into this issue to. The fix is pretty simple, you just need to contain your `AspectRatio` widget inside an `Expanded` widget to make it show again :)

[2019-07-10 14:28] chornbe commented on #8410
This feels a lot like the discussions when Swing was first introduced.

Basically, what people *WANT* is the ability to say something like ( child: Text( “some text” ) ) and have the platform draw an OEM or OEM-ish textbox without thinking any more about it. When you build a material app you’re essentially agreeing to have the whole thing look like Android unless you take other actions. The *DESIR

[2019-07-10 14:33] gillestasse commented on #35770
I have the same issue on osx. Which relevant content would you like me to provide ?

[2019-07-10 14:44] Wycers commented on #33827
Works for me!

[2019-07-10 14:46] JaeyoungChu commented on #18494
Thanks for Flutter team. I upgrade Flutter and build on stable channel and the warning is gone.
hope to not have a bug with testers but so far I did not find any bugs yet with real device!

[2019-07-10 14:47] lt692 opened #35881 "Google_sign_in errors."
Given example for google_sign_in gives alot of errors.

+ App registered on firebase
+ SHA1 and SHA256 of androiddebug also provided. Also tried to delete and repaste new keys still nothing.
+ google json file also inside project. everything is uploaded as needed.
 tried both on stock and on androidX versions and same errors.

![image](https://user-images.githubusercontent.com/48758376/60978761-4e

[2019-07-10 15:02] gspencergoog commented on #11344
OK, the shortcut key map implementation is in, so this is just blocked now by not having the connection between the soft keyboard "next" button being pressed and the `nextFocus` call.

[2019-07-10 15:07] gspencergoog commented on #18737
We haven't seen this flake in a while.

[2019-07-10 15:07] #18737 closed

[2019-07-10 15:10] gspencergoog commented on #22816
This is complete, as far as I understand it.  Material components now respond to hover with the appropriate hover feedback.

[2019-07-10 15:10] #22816 closed

[2019-07-10 15:10] justinmc commented on #35826
Thanks for the issue @MoSala7.  Can you post the code that reproduces the overflow?

[2019-07-10 15:10] ShubhraDeshpande commented on #29421
Any solution for the same? My app is crashing in the same way even with camera. Device is iPad Air2. How to solve it?

[2019-07-10 15:11] gspencergoog commented on #29696
This has been fixed for a while.

[2019-07-10 15:11] #29696 closed

[2019-07-10 15:12] justinmc commented on #35837
Duplicate of https://github.com/flutter/flutter/issues/34215?

[2019-07-10 15:12] mohamed6996 opened #35882 "Firebase phone auth not working"
I`m trying to enable phone auth using firebase but its not working
I have added the SHA1 key in firebase console and added test phone number but never worked

[code]

[code]

[2019-07-10 15:14] mohamed6996 commented on #35882
[code]

[2019-07-10 15:17] mohamed6996 commented on #35882
My country code is +20
so my number is +201155717460

[2019-07-10 15:18] #35769 closed

[2019-07-10 15:19] MisterJimson commented on #34915
Also seeing this in 1.7

[2019-07-10 15:21] mohamed6996 commented on #35203
Yeah, I have been using it and everything works great D:

[2019-07-10 15:21] #35203 closed

[2019-07-10 15:22] marianoarga commented on #31365
Related to #22072

[2019-07-10 15:22] marianoarga commented on #32751
Related to #22072

[2019-07-10 15:25] justinmc commented on #35861
CC @GaryQian Does anything jump out at you to explain why this would happen?

[2019-07-10 15:25] ShubhraDeshpande commented on #20708
It still crashes for iOS 9 I am currently on camera: ^0.4.2, the app on iPad crashes as soon as camera is opened. was it resolved already?

[2019-07-10 15:25] coolnalu commented on #16589
My workaround is

[code]

It's probably not the most performant solution but at least works.

[2019-07-10 15:32] jacob314 commented on #31962
Sorry for the inconvenience. You need to upgrade to flutter_svg version 0.13.0 or newer which contains the fix. https://pub.dev/packages/flutter_svg

[2019-07-10 15:34] justinmc commented on #35879
CC @xster Have you ever seen black bars like this?

[2019-07-10 15:38] justinmc commented on #35848
I can reproduce this even just using CupertinoTextFields with the built-in clear button.

[2019-07-10 15:42] jacksun0124 opened #35883 "Unable to compile after I upgrade to Flutter 1.7.8+hotfix.3"
I got several error messages after I upgrade my Flutter version to 1.7.8+hotfix.3.

Here is the message:

[code]

Here is my Flutter Doctor info:

[code]

I am not sure what went wrong. Please give me some advice or a word round. Thanks

Mainly. I am not sure flutter_image-1.0.0 is a something inside Flutter core or it is a package I include in the pubspec.yaml file.

[2019-07-10 15:42] jacob314 commented on #31962
I've sent out a pull request to update cool_ui to be compatible with flutter 1.7. https://github.com/Im-Kevin/cool_ui/pull/20

[2019-07-10 15:43] pdmshrestha commented on #19832
Hi @lukepighetti, have you managed to get it work around? I have the same issue. Since SmartBanner height is dynamic, I tired to get the banner height after banner is loaded but still it returns 0.

[2019-07-10 15:44] JaredEzz commented on #20685
@jmagman For those of us less familiar with XCode, could you explain step 3 further? Where is the Runner target “"[CP] Embed Pods Framework" Build Phase found to remove all Output Files?

[2019-07-10 15:46] JaredEzz commented on #20685
Found it. Click “Runner” in the left navigation bar, then the “Build Phases” tab, then scroll down to “Output Files”, select all of them, then click the subtract button to remove them

[2019-07-10 15:52] gincos commented on #20685
How can I solve this without a Mac? I use a cloud pipeline to build for iOS but need to solve this problem...

[2019-07-10 15:53] kgignatyev commented on #35835
Works after recent update. Although reporting wrong port on error messages is really annoying!!! https://github.com/dart-lang/sdk/issues/12693

[2019-07-10 15:53] #35835 closed

[2019-07-10 15:57] CosmoInSpace commented on #31962
@tvolkert how can I update tho? just updated to v1.7.8+hotfix.3 and got this error msg.

[2019-07-10 16:03] mohamedMesalm opened #35884 "I have problem with Utf8Decoder after upgrade to flutter version 1.8.1-pre.56"
Compiler message:
file:///Users/mohamedmesalm/development/flutter/.pub-cache/hosted/pub.dartlang.org/geocoder-0.1.2/lib/services/distant_google.dart:38:56: Error: The argument type 'Utf8Decoder' can't be assigned to the parameter type 'StreamTransformer<Uint8List, dynamic>'.
 - 'Utf8Decoder' is from 'dart:convert'.
 - 'StreamTransformer' is from 'dart:async'.
 - 'Uint8List' is from 'dart:typed_dat

[2019-07-10 16:10] kf6gpe opened #35885 "Hot reload fails to start: Stuck at 'syncing files to device ... (This is taking an unexpectedly long time.)...'"
Mirror bug for https://buganizer.corp.google.com/issues/135765242 --- conversation should occur there.

cc @dnfield @keertip (who is OoO)

[2019-07-10 16:11] justinmc commented on #29796
@Goolpe That overflow issue should be covered in this other issue: https://github.com/flutter/flutter/issues/35826

[2019-07-10 16:15] cyanglaz commented on #35554
Closing the issue as the PR is merged

[2019-07-10 16:15] #35554 closed

[2019-07-10 16:15] Piinks opened #35886 "Assets affecting layout of code snippets in API Docs"
Code snippets in the API docs that make use of the `Sample in an App` feature have layout issues when an asset has been embedded directly within the snippet. This does not affect running sample apps, as the asset is commented out when the app is generated.
These assets should be moved outside of the snippet for better readability in the API documentation.

![Screen Shot 2019-07-10 at 9 08 37 AM](h

[2019-07-10 16:16] ThinkDigitalSoftware commented on #33490
This isn't web only. I'm getting this on a plain dart package. It may have to do with the flutter version since I haven't made changes to this project in a while and it doesn't work all of a sudden

[2019-07-10 16:17] justinmc commented on #35869
How do you get the crash to happen?  I ran the code and scrolled around but didn't get any crash.

[2019-07-10 16:18] stuartmorgan commented on #35884
The package will need to be updated; this is due to https://groups.google.com/forum/#!topic/flutter-announce/LTe4SYU8-0Q

It looks like someone has already filed https://github.com/aloisdeniel/flutter_geocoder/issues/23 against the package.

[2019-07-10 16:18] #35884 closed

[2019-07-10 16:20] G-0-k-u opened #35887 "flutter has exited unexpectedly"
## Steps to Reproduce

Last login: Wed Jul 10 18:09:40 on ttys000
Gokus-MBP:~ goku$ flutter --version
xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun

Oops; flutter has exited unexpectedly.
Crash report written to /Users/goku/flutter_04.log;
please let us know at https://github.com/flutter/flutte

[2019-07-10 16:20] jonahwilliams commented on #33490
You cannot use `flutter test` on the current implementation of flutter_web and support for running tests this way is not planned

[2019-07-10 16:20] #33490 closed

[2019-07-10 16:24] ketanm commented on #34980
Can you update how it was solved?

[2019-07-10 16:25] Piinks opened #35888 "Snippets that make use of 'Sample in an App' templates need validation"
The Form `Sample in an App` snippet does not build correctly when run according to the directions specified by the API documentation.
See here: https://master-api.flutter.dev/flutter/widgets/Form-class.html
The error is not one accounted for by the sample code analyzer.

In the case of the Form snippet, it should make use of the `scaffold` template instead of the `material` template.
Other snippet

[2019-07-10 16:26] mohSalah66 commented on #19718
My app is wait for issues for **six month** now , please community if this **can not be solved**. i need to know.
Thank you all.

[2019-07-10 16:29] ketanm commented on #35887
@G-0-k-u

As error tells you, install XCode command line tools. See #stackoverflow for it.
`Standard error: xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun`

[2019-07-10 16:36] willlarche commented on #32748
We're in touch with the Android team on final guidance and expectations and will hopefully have a new update on our support for this next week. Our priority is making sure this is resolved by Q release.

[2019-07-10 16:38] deadsoul44 commented on #34387
Is there any progress for this item? This is very important for developers who do not have mac but still wants to publish apps for ios.

[2019-07-10 16:47] dnfield commented on #35091
The fix for this wasn't actually doing the right thing - will work to reland.

[2019-07-10 16:47] dnfield commented on #35091
/cc @mehmetf

[2019-07-10 16:51] cyanglaz commented on #34619
@vagrantrobbie Does https://github.com/flutter/plugins/pull/1819 solve your issue?

[2019-07-10 16:54] devoncarew commented on #34395
Some of the newer code completion work will auto-add the correct `show` / `hide` clause. But I don't think relying on this scales very far. I think that generally the framework should be very conservative about adding new classes w/ names that would be very common in user code or other libraries. The Dart libraries themselves had this problem when we added the `Resource` class several years ago.

[2019-07-10 16:58] MrHarrisOnline commented on #17647
This happens to me when I trigger an onTap event to clear a text controller, while the text field dose not have focus.

I am trying to have a way to click outside of the textfield to drop the keyboard and then have an option to clear the textfield as an after thought.

I want this because the text in the field results in showing conditional filter results in a listview, the keyboard is in the way.

[2019-07-10 17:02] dnfield opened #35889 "Embedders are directly calling methods on the engine instead of the shell"
The Android, iOS, and Embedder API all directly make calls on the Engine instead of the shell for `SetViewportMetrics` and `DispatchPointerDataPacket`.

In fact, they all use very similar code that looks to be copy-pasted from shell.cc:

https://github.com/flutter/engine/tree/6cf0d1350e0ac03df9ebcbb15c35a4a035010460/shell/platform/embedder/embedder_engine.cc#L82-L115

https://github.com/flutter/en

[2019-07-10 17:02] ThomasNicholsHDQC commented on #14050
It's also worth noting that of the 6000+ open issues, this is fourth on the list when sorting by 👍 reactions.

[2019-07-10 17:04] redayoub47 commented on #35666
I'm Using SDK 1.5.4-hotfix.2
here's page code :
[code]
and the the runtime exception i got

[code]

[2019-07-10 17:06] GaryQian commented on #35861
I'm going to close this for now. Please feel free to repoen!

[2019-07-10 17:06] #35861 closed

[2019-07-10 17:10] jaumard commented on #16335
@zoechi imho it's still a flutter issue, dart allow you to do UDP multicast, so most developers will implement it in dart and it's will not work either in Android and iOS. Just for that it's an issue, and it shouldn't be patch by third party plugins...

[2019-07-10 17:10] chinmaygarde commented on #35889
All those APIs are internal and we control those embedders. So there shouldn't be any breaking changes to the public embedding API. Lets refactor these today.

[2019-07-10 17:11] chinmaygarde commented on #35889
Maybe not even allow vending weak pointer for the engine subcomponents from the shell.

[2019-07-10 17:12] dnfield commented on #35889
Wouldn't that be a breaking change?

[2019-07-10 17:14] abhishekamit opened #35890 "Setting skia cache size causes crash in release mode on android"
If an android flutter application invokes the Skia.setResourceCacheMaxBytes method on the skia system channel at startup it crashes in release mode because there is not yet a surface here: https://github.com/flutter/engine/blob/6cf0d1350e0ac03df9ebcbb15c35a4a035010460/shell/common/rasterizer.cc#L424

[2019-07-10 17:14] abhishekamit commented on #35890
/cc @dnfield

[2019-07-10 17:16] chinmaygarde commented on #35889
The Shell API is not vended directly by anyone (any embedding API I mean).

[2019-07-10 17:17] mohamedMesalm commented on #35884
resolved by replace this line code
`final response = await request.close().`
to
`  response.cast<List<int>>().transform(utf8.decoder).listen((content) {
        return content;
      });
    });`

inside =>> file:///Users/mohamedmesalm/development/flutter/.pub-cache/hosted/pub.dartlang.org/geocoder-0.1.2/lib/services/distant_google.dart

and all things works fine .

[2019-07-10 17:24] audkar commented on #32748
Super duper awesomely amazing news :smile:  :+1:

As per [Gestural navigation docs](https://developer.android.com/preview/features/gesturalnav#back-gestures)

I really hope that behavior of components (SeekBar, etc) will be aligned at time AndroidQ is release in the wild :)

[2019-07-10 17:25] jonahwilliams commented on #35836
Latest create test logs have been cleaned up: https://cirrus-ci.com/task/5282401436041216

[2019-07-10 17:27] shihaohong commented on #35666
That makes sense. `I/flutter ( 3472): #3      ** _MyHomePageState.build (package:hello_world/main.dart:40:16)**` tells you which build method throws the exception, but not which `Text` widget within the build method.

[2019-07-10 17:28] redayoub47 commented on #35666
Ok it seams i didn't see it

[2019-07-10 17:33] MisterJimson commented on #34915
For me this seemed to be related to duplicate keys in a list. Removing the dupes fixed the issue.

[2019-07-10 17:38] ThinkDigitalSoftware commented on #33490
@jonahwilliams , then what about for my issue? I'm not running it for web

[✓] Flutter (Channel beta, v1.7.8+hotfix.3, on Mac OS X 10.14.4 18E226, locale en-US)

[2019-07-10 17:39] GaryQian commented on #33642
Some keyboards will trigger the engine's version of backspace handling. Turns out it is not unique to Huawei devices, but the fix above should prevent this particular crash in all devices.

1.7 is already released. I can see if it can be hotfixed, but it is unlikely to make it into the 1.7 stable release, especially since this is an engine change.

[2019-07-10 17:40] #35832 closed

[2019-07-10 17:41] jonahwilliams commented on #33490
@ThinkDigitalSoftware please file a new issue, it sounds unrelated

[2019-07-10 17:45] enzoftware commented on #27462
Same error here.

[2019-07-10 17:50] jmagman commented on #20685
Or you can do #1 and #2, then run `pod install` from the ios directory, and CocoaPods should remove that Output file in the build phase automatically.

@gincos If you don't have a Mac you can look at PR https://github.com/flutter/flutter/pull/33684/ for an example of how to tweak the Xcode files manually.  If you have a Mac, please follow the above steps instead!
1. Delete the file ios/Runner.xcwo

[2019-07-10 18:02] antoniokarlos commented on #33827
Hey guys,

Where to set this command:

stream.addListener(ImageStreamListener(imageListener));
stream.removeListener(ImageStreamListener(imageListener));

Same problem here!

[2019-07-10 18:03] ThinkDigitalSoftware opened #35893 "Failed to load test harness error when running tests with flutter test"
## Steps to Reproduce

1. When running tests on a dart package, if I run the tests using the IDE, it runs `flutter test` ... and I get the below error. This is not a flutter plugin, as in, there is only dart code and no dependencies on flutter code.

## Logs

[code]

I think the issue lies in the fact that I have a Flutter project open in Intellij and then I added a local package as a source so I

[2019-07-10 18:05] guit4eva commented on #33827
This fixes it: https://github.com/flutter/flutter/issues/33827#issuecomment-510019328

[2019-07-10 18:05] jonahwilliams commented on #35893
You need to include steps to reproduce the issue, such as an example of the test file where this occurs.

[2019-07-10 18:08] xster commented on #35879
I have not. Could this be an airplay issue? (since the OS status bar is not where it's expected)

[2019-07-10 18:13] ThinkDigitalSoftware commented on #35893
@jonahwilliams, the problem is that it's an incorrect command being run, not an issue with the file. It boils down to the IDE incorrectly assuming that it's a flutter test file instead of a dart test file. For example, I created a new dart package using stagehand and then ran `flutter test random_name_test.dart` and it fails with the same error. Running `pub run test random_name_test.dart` runs fi

[2019-07-10 18:19] tb2761 commented on #35883
The package flutter_image isn't compatible with the new Flutter Version. They change the something on calling FlutterError i guess.
You have 2 options, first file an issues on the flutter_image repo on github and second open the flutter_image package and follow the error messages which hopefully appear.

[2019-07-10 18:20] justinmc commented on #35879
Yeah maybe that's it...  @Pyozer Is this app on the app store?  Would you mind telling me the name so that I can try it out on my phone?  I've got an iPhone7 but it could be worth a try.

[2019-07-10 18:20] Pitrr commented on #19718
Updating to the latest version of flutter fixed this issue for me

[2019-07-10 18:21] tb2761 commented on #35883
I looked at the package and they provide an fix for it. Update to Version 2.0.0. Should fix your problems

[2019-07-10 18:25] danielcmm commented on #28493
Using this plugin really degrades the performance of the Widget tree for me... i had to put the map on a separate, isolate screen ;/

[2019-07-10 18:25] shashank3107 commented on #24108
import 'package:bordered_text/bordered_text.dart';
does this import exists???

[2019-07-10 18:35] timsneath opened #35894 "flutter create --list-samples should offer human readable output"
New customers will love that there's a fast-expanding catalog of great Flutter samples. But it's hard to know what is available. You can spelunk through the docs and look out for a sample that has a 'Sample in an app' tab, but that's like searching for a needle in a haystack. Conversely, we have the `--list-samples` option in `flutter create`, but that produces fairly impenetrable JSON output.

It

[2019-07-10 18:36] 1343 commented on #17571
how to get context here any idea?

 Future<void> onSelectNotification(String payload) async {
    print("Notification selected");
    toastMessage("Notification selected", currentContext);
    Navigator.of(currentContext).pushNamed(notifiScreen);
   /* Navigator.push(
      currentContext,
      MaterialPageRoute(
          builder: (context) => NotificationDeeplinking(payload, true)),
    );*/

[2019-07-10 18:36] tvolkert commented on #31962
@CosmoInSpace flutter_image isn't shipped with the flutter SDK - it's an independent package.  You update your pubspec.yaml to pull in the new version.

[2019-07-10 18:43] Pyozer commented on #35879
Yeah that could be this..

The app is Affluences, you can find it here :
https://apps.apple.com/fr/app/affluences/id869919405

Thank you for your help !

[2019-07-10 18:49] MsXam commented on #35883
I also have an issue now upgrading to 1.7.8. Previously I was on 1.54 Hotfix 3 which worked seamlessly. Can no longer build on iOS ,

1. Have done an exhaustive clean including
removing Pods, .lock, .packages, flutter_plugins, .pub_cache, DerivedData
2. Have repaired pub cache
3. Have done a Pod install
4. Have done a packages get etc

Lots of warnings and errors such as :

**When Device Attached*

[2019-07-10 18:50] kalismeras61 commented on #35881
Same issue with me!

[2019-07-10 18:55] oaacelasu commented on #31922
Hi i built my appbundle with success, but when i try to upload it to the play store i received this error...
To upload an Android App Bundle you must be enrolled in App Signing by Google Play.
Export your key from Android Studio. From the Build menu, select Generate Signed Bundle/APK. Select the Bundle option and press Next. Select Export the encrypted key and press Next.

i try to export the encr

[2019-07-10 18:56] m4kz commented on #35883
Im having the same issue described at the top. How do I update flutter_image?
i mean is not in my pubspec.yaml, since it is a package included with flutter it self.

[2019-07-10 18:58] stephenfung98 commented on #24108
I want to have the text inside my textfield with the border

[2019-07-10 19:00] pkonx commented on #23995
how do i start projects with Android X support. the migrating instructions are not working

[2019-07-10 19:00] stephenfung98 commented on #24108
That does not exist.

[2019-07-10 19:01] m4kz commented on #35883
nevermind, a simple packages update fixed it.

[2019-07-10 19:01] RyanRamchandar commented on #26894
@zoechi I cannot reproduce this with Flutter 1.7. Looks like it got fixed 🎉

[2019-07-10 19:01] #26894 closed

[2019-07-10 19:05] rspauwen commented on #19718
Hard to believe, but it seems to be true: I'm getting the keyboard on v1.7.8+hotfix.3

[2019-07-10 19:06] #35472 closed

[2019-07-10 19:06] #35415 closed

[2019-07-10 19:07] eyalkutz commented on #19904
I get the following error all the time:
I/Adreno  (10180): DequeueBuffer: dequeueBuffer failed

[2019-07-10 19:09] Hixie opened #35896 "flutter_gallery__memory_nav regression"
Around 2019-07-03, plus or minus a few days, this benchmark got worse.

[2019-07-10 19:12] #25887 closed

[2019-07-10 19:18] amirh commented on #19718
Yes as mentioned in https://github.com/flutter/flutter/issues/19718#issuecomment-499759204 technically the platform views keyboard support landed.
**But - Android WebView prior to Android N has a special behavior that breaks our keyboard support.**

As we assume that many people who thumbed up this issue are mainly interested in webview keyboard support, we are keeping this issue open until we res

[2019-07-10 19:18] jmagman commented on #34912
What's the output of `xcodebuild -version`?
This isn't a flutter problem, you're having a problem with Xcode/usbmuxd.

[2019-07-10 19:19] GaryQian opened #35897 "Expose detailed LibTxt metrics"
This is a tracking issue to track multiple chunks of work related to exposing LibTxt metrics.

[2019-07-10 19:25] tlercher commented on #25909
For people (like me) with a project which has a valid support email but **haven't configured the OAuth consent screen** yet, it still might fail with **sign_in_failed** and code **12500**.

After configuring and saving the [Consent Screen](https://console.developers.google.com/apis/credentials/consent) it worked for me.

[2019-07-10 19:30] justinmc commented on #35879
I played around with it and couldn't see what would cause those black bars.  I'll keep an eye out for anything similar and post back here if I have more info.

Well made app by the way!

[2019-07-10 19:31] cyanglaz commented on #25909
This issue seems to be resolved by @luv4ever2shail and @tlercher 's comments. I am closing the issue. If any related issues are still found after applying the solution, please feel free to reopen the issue or open another one with details.

[2019-07-10 19:31] #25909 closed

[2019-07-10 19:36] d-apps opened #35898 "Unable to test apps on AVD - x86"
My laptop is weak to emulate x64 or latest android versions (6.0 - 9.0), so before flutter, I programmed in native and I always tested my apps in Nexus 4 or Galaxy Nexus with API 19 (Android 4.4) and the emulators worked fine for native apps, once I started with Flutter ( since 1.0) emulators doesn't work correctly (Only for Flutter apps). I always get this error: "**Unfortunately app_name has sto

[2019-07-10 19:40] #35666 closed

[2019-07-10 19:40] #35886 closed

[2019-07-10 19:40] #35888 closed

[2019-07-10 19:50] bparrishMines commented on #20708
I added this to https://github.com/flutter/flutter/issues/31225. It explains to why the crash exists for iOS <10.0. We are currently working on a refactor that should fix this.

[2019-07-10 19:50] liyuqian opened #35899 "SKP screenshot doesn't capture blur"
Take an SKP screenshot of the following app and load it with https://debugger.skia.org

[code]

Here's the PNG screenshot:
![flutter_24](https://user-images.githubusercontent.com/22987568/60999828-f105bc80-a310-11e9-84b8-8c31c3f94f0a.png)

And here's the SKP screenshot:
[flutter_28.skp.zip](https://github.com/flutter/flutter/files/3379179/flutter_28.skp.zip)

The SKP would be drawn by debugger.ski

[2019-07-10 19:56] eyalkutz opened #35900 "I/Adreno (10180): DequeueBuffer: dequeueBuffer failed"
this app is still a work in progress
## Steps to Reproduce

[main.dart.txt](https://github.com/flutter/flutter/files/3379072/main.dart.txt)
I had to send main.dart as a .txt file because github doesnt allow to attach a .dart file
1. tap something (anything) in the homescreen
2. tap something (anything) in the "Breed" screen
3. play with the "Toggle Button" and with navigating back and forth from "

[2019-07-10 20:01] jmagman opened #35901 "Add-to-add host app won't build when flutter app has plugins - linker error Library not found"
Add a flutter sub-app with plugins to an existing app messes up the host app's Xcode build settings, which causes various build issue.  In a new add-to-app I tried to make, it manifested as linker errors because the framework search paths were incorrect.

## Steps to Reproduce

The wonky build settings can be seen with the ios_add2app integration test, though it somehow is able to build successful

[2019-07-10 20:01] jmagman opened #35902 "Add-to-add host app won't build when flutter app has plugins - linker error Library not found"
Add a flutter sub-app with plugins to an existing app messes up the host app's Xcode build settings, which causes various build issue.  In a new add-to-app I tried to make, it manifested as linker errors because the framework search paths were incorrect.

## Steps to Reproduce

The wonky build settings can be seen with the ios_add2app integration test, though it somehow is able to build successful

[2019-07-10 20:02] jmagman commented on #35902
Github felt like duplicating https://github.com/flutter/flutter/issues/35901.

[2019-07-10 20:02] #35902 closed

[2019-07-10 20:02] dasmikko opened #35903 "WidgetSpan alignment throws exception then set to other than bottom"
## Steps to Reproduce
1. Use a WidgetSpan
2. Set alignment to anything but `PlaceholderAlignment.bottom`
3. Flutter throws this exception:

[code]
Code example:

[code]

[code]

[2019-07-10 20:04] ricsmania opened #35904 "Chip inside ListView causes first item to not render"
Having a Chip inside a ListView item causes the first item on the list to not render when the items change. This happens for example when you need to filter the items.

The problem only happens when the item has a Key set, the first item changes and some item remains on the list with the same key as before.

## Steps to Reproduce

Run the application and click on Toggle filter:
https://gist.github

[2019-07-10 20:07] #35204 closed

[2019-07-10 20:13] jmagman commented on #35901
This looks suspicious.  The host app xcconfig files include the Flutter sub-app xcconfig file.
[code]
Which sets a relative path for the SYMROOT.
[code]
The sub-app should not override critical host app build settings.

[2019-07-10 20:16] jmagman commented on #35773
Fixed by https://github.com/flutter/flutter/pull/35825

[2019-07-10 20:16] #35773 closed

[2019-07-10 20:27] waynebloss opened #35905 "AUR update fails to install"
## Steps to Reproduce

1. Have `flutter` `1.5.4.hotfix.2-1` installed on Arch/Manjaro Linux.
2. Try to upgrade to `1.7.8.hotfix.3-1`

## Logs

[code]