[2020-10-28 09:18] darshankawar commented on #69153
@bobanminic96
Your question is better suited for StackOver flow. Please see https://flutter.dev/community for resources.
If you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-10-28 09:18] #69153 closed

[2020-10-28 09:19] TahaTesser commented on #69150
Hi @nelliepereira
Looks like an issue with your emulator
https://stackoverflow.com/questions/54010649/error-when-trying-to-install-second-flutter-app-on-the-emulator

Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-10-28 09:19] pedromassangocode commented on #68985
@abhishekove can you please share more details on what you are trying to achieve? What exactly you are trying to do and why?

[2020-10-28 09:21] pedromassangocode commented on #69087
Hi @samlau7245
Given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-10-28 09:21] #69087 closed

[2020-10-28 09:24] darshankawar commented on #69154
@AlmisbahTS
Did the exception generate any crash log file  such as `flutter_01.log` ? If so, can you provide it here.

[2020-10-28 09:27] TahaTesser commented on #69158
Hi @ZHANGBADAO
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-10-28 09:31] genglei commented on #69008
[✓] Flutter (Channel stable, v1.17.5, on Mac OS X 10.14.6 18G95, locale
    zh-Hans-CN)
    • Flutter version 1.17.5 at /Users/genglei5/jd-flutter-sdk/flutter_1.17.5
    • Framework revision 8af6b2f038 (4 months ago), 2020-06-30 12:53:55 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[2020-10-28 09:33] Oklahomawhore opened #69180 "Crash when executing fastlane screenshot for flutter app"
##Description

I set up a UITest Target to take automatic screenshots from flutter app,
but while executing fastlane snapshot the app crashes at some point and the test fails,
seems like platform_view fails main thread checker. Please help diagnose Thank you.

## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
3. ...

**Expected results:**

**Actual results:**

[2020-10-28 09:33] pedromassangocode commented on #69167
Здравствуй @RQRQ000
Эта проблема, похоже, не описывает ошибку или запрос функции. Посетите https://flutter.dev/community, чтобы найти ресурсы и задать такие вопросы,
вы также можете получить некоторую помощь, если опубликуете ее на Stack Overflow, и если вам нужна помощь с кодом, см. https://www.reddit.com/r/flutterhelp/
В заключение, поскольку это не проблема самого Flutter. Если не согласны, пиш

[2020-10-28 09:33] #69167 closed

[2020-10-28 09:36] pedromassangocode commented on #69176
Closing as a duplicate of https://github.com/flutter/flutter/issues/59757.

For anyone facing the same issue, please follow on the issue mentioned.

[2020-10-28 09:36] #69176 closed

[2020-10-28 09:36] sarbagyastha opened #69181 "Widget test throws "Unable to load asset" when asset is from different package."
## Description
Running widget test throws "**Unable to load asset**" when asset from different package is used, lately.

## Steps to Reproduce
1. Clone [the repo](https://github.com/sarbagyastha/asset_test).
2. Run widget test inside **asset_load_test** package.

**Expected results:**
The test should have passed.

**Actual results:**
The test is throwing the following error:
![image](https://user-

[2020-10-28 09:37] taimoorhassan-work commented on #69179
You need to read the content of the recieved sms and put it into the textfield yourself (using TextEditingController). There is no way to  have message content automatically inserted to a textfield or any other widget for that matter. That won't even be practical

Consider this. Your server sends the following message to the phone

Now, there is no way for the textfield or your app to know which p

[2020-10-28 09:42] darshankawar commented on #69169
@CaiXiaoBai
This seems to be a known issue with the plugin. See [this](https://github.com/flutter/flutter/issues/59636) similar open issue.
Closing this as duplicate.

[2020-10-28 09:42] #69169 closed

[2020-10-28 09:43] pedromassangocode commented on #69179
Hi @chaseDeil
Flutter support autofill for OTP and many other types, please see:
https://api.flutter.dev/flutter/material/TextField/autofillHints.html

For one time code you will have something like this:

[code]

Closing as this is not an issue with Flutter itself.

[2020-10-28 09:43] #69179 closed

[2020-10-28 09:45] darshankawar commented on #69170
@scaraux
Can you provide a minimal reproducible code sample that would show the app freezing ?
Thanks.

[2020-10-28 09:48] darshankawar commented on #69171
Hi @PacteraJiJiaWei
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this.
You may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write

[2020-10-28 09:48] #69171 closed

[2020-10-28 09:49] sumithpdd opened #69182 "Add web platform to Get to know Firebase for Flutter"
Firebase web codelab links missing n https://firebase.google.com/learn/codelabs/firebase-get-to-know-flutter?return=https%3A%2F%2Ffirebase.google.com%2Flearn%2Fpathways%2Ffirebase-flutter%23codelab-https%3A%2F%2Ffirebase.google.com%2Flearn%2Fcodelabs%2Ffirebase-get-to-know-flutter#9

[2020-10-28 09:50] WinnLeong commented on #69082
Hi @pedromassangocode

I'm surprised you didn't get the issue! Using the exact code sample this is what I got.

![loop](https://user-images.githubusercontent.com/38973968/97420021-bb417880-1945-11eb-89bc-6ff05e90c7b1.gif)

[2020-10-28 09:53] mraleph commented on #68853
@jmagman given the breadth of crashes I think this might be some weird memory corruption issue. If I search around I find this old rdar issue: http://www.openradar.appspot.com/11432592 with similar symptoms. The issue might be even in the guts of iOS frameworks themselves.

[2020-10-28 09:53] azbuky commented on #55967
I was redirected here from #68953 to follow up with some issues I am facing with the service worker.

I have been using flutter for web for about 6 moths now and I have a web app that has been in production for about 3 months. The experience with flutter has been great so far. The only pain point I experienced was with the app's update process.

I would like to raise some points regarding the serv

[2020-10-28 09:56] #69181 closed

[2020-10-28 09:57] darshankawar commented on #69173
@minal2709
This seems to be a current limitation of `Scrollable.ensureVisible`, because when the list item go away from screen, it loses the context and `Scrollable.ensureVisible` works only with current context, ie, with list item that are visible. See [this](https://github.com/flutter/flutter/issues/17668) open issue for your reference. If you list is static and not going to change, you may try

[2020-10-28 09:57] #69173 closed

[2020-10-28 10:00] pedromassangocode commented on #69161
I was not able to reproduce this on latest `stable` channel. Tested on Pixel 3 emulator since I don't have the device mentioned in the OP.

<details><summary>code</summary>

[code]
</details>

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-10-28 10:00] benPesso commented on #69125
While going through other issues, I found #33427, which seems to be talking about the same root problem - an exception from deep within the platform, even if the original call is made within a `try...catch`. However, that issues was last commented on a year ago, and with no solution.

Looking at all the referenced issues in #33427, this is clearly a major pain point for developers.

[2020-10-28 10:03] darshankawar commented on #69174
@HuangJsong Not sure where exactly are you getting the error and what the actual error is. Looking at what you provided, I see this : `ERROR: Unknown FLUTTER_BUILD_MODE: daily.
Valid values are 'Debug', 'Profile', or 'Release' (case insensitive).`

So you probably need to use valid values such as listed in it per your environment you want to build on.
If issue persists, please provide `flutter doc

[2020-10-28 10:11] pedromassangocode commented on #69166
Hi @tvqphong001
Can you please provide your `flutter doctor -v` a minimal complete reproducible code sample?
I need a code that anyone can just copy/paste to reproduce the issue.

Thank you

[2020-10-28 10:13] fish-like-mammal opened #69184 "Add a CalendarMultiDatePicker to cater discrete multi-date selection"
## Use case

The current calendar pickers in Flutter only allows single-date selection or range selection, but in many situations users want to select several separate days / ranges of days. A CalendarMultiDatePicker should serve for the above usage.

## Proposal

By changing the selected type from DateTime to List<DateTime> and amending relative codes, enabling multi-date selection in a calendar

[2020-10-28 10:14] pedromassangocode commented on #69180
Hi @Oklahomawhore
if the issue does not occur locally, but only with your CI/CD
I recommend you to ask support directly to the service provider.
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-10-28 10:14] #69180 closed

[2020-10-28 10:15] pawlowskim commented on #64558
I have prepared an application that show the problem: https://github.com/pawlowskim/headless_mode_images_issue
The easiest way to trigger the problem is too:
* install the application
* kill it
* open console app and select your device to see the logs
* use iTools Pro to spoof the GPS (it will trigger location service to run the application)
* wait until there is `Build` printed in the console
* r

[2020-10-28 10:16] darshankawar commented on #69177
@BRZErez
Reading your issue description and the pattern, ie on iOS, app is sent to background for long time and then accessing it and this is not happening on Android, I tend to think this is similar to another [open](https://github.com/flutter/flutter/issues/64558) issue which talks about same thing. I'd suggest you to follow-up there for updates and any questions you might have since it has acti

[2020-10-28 10:16] #69177 closed

[2020-10-28 10:17] dingjianjaja commented on #65390
Has anyone solved this problem?
I also encountered this problem,when using iphone by android studio

[2020-10-28 10:18] Oklahomawhore commented on #69180
hello, the issue was in fact occurred locally with local mac.
I think it was because the flutter app itself crashed.  only it occurs in a somewhat unconventional use case.
@pedromassangocode  please check out the crash log thanks.

[2020-10-28 10:19] BRZErez commented on #69177
This is a bit deferent as for us it is not only images... At list in Flutter 1.17 it was also text...
We got text not rendered fully and things like that...
It was rendering in general..
In 1.20 and 1.22 we see the images not rendering but I can't say it is only images not rendering...
So I do not know it is the same issue, But decently related
10x

[2020-10-28 10:22] Oklahomawhore commented on #69180
I was running the fastlane command from my local machine,

[2020-10-28 10:23] safeDev15 commented on #69026
The POS communication error occurs only if I launch the "flutter build apk --release" command and install the generated apk on the device to which I connect the PAX IM700 via usb. Instead, launching the application from Visual Studio Code or Android Studio the app works correctly. Even running the application with the command "flutter run --release" the app works correctly. It seems that the proce

[2020-10-28 10:30] TahaTesser commented on #69129
Hi @britannio
I can reproduce on the stable channel but no issue son beta and later channels
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

I cannot reproduce this issue on the latest `beta` channel.
Can you please upgrade to the latest  `beta` and try again
`flutter channel beta`
`flutter upgrade --force`
`flutter doctor -v`

[2020-10-28 10:33] darshankawar commented on #69184
@fish-like-mammal
Does this [open](https://github.com/flutter/flutter/issues/22621) issue sound similar to your proposal ?

[2020-10-28 10:37] pedromassangocode commented on #69162
Hi @xu-baolin
Is there a practical way to prove that the current implementation is wrong?
Thank you

[2020-10-28 10:38] Bharavi26 commented on #67912
@pedromassangocode sir, email field will work, go to password textfield..it will not work

[2020-10-28 10:39] Ntu-odo commented on #69003
Hi there !

@pedromassangocode When can we expect to get the next stable release ?

Thank you for your time.

[2020-10-28 10:43] vrnvorona commented on #68529
`flutter drive --no-build works`, but `flutter run` doesn't. I thought drive is just fancy wrapper over run and connect, so that's weird.

[2020-10-28 10:44] BRZErez commented on #64558
We are Having the same IOS issue, With a twist.
For us this started when moving from Flutter 1.16 to 1.17.
Then the rendering issues started on IOS.
It was sporadically and could be images or even Text, Just like a printer that needs to clean the printing nozzle (Text cut in the middle of letter and a letter beside it was printer good and so on.
We solved it buy moving to 1.19 and that seems to so

[2020-10-28 10:48] awfin opened #69185 "Web - VSCode launches on localhost:8080 by default, refused to connect"
## Steps to Reproduce

1. Install VSCode and Flutter according to https://flutter.dev/docs/get-started/install/macos#web-setup
2. Create a new Flutter app in VSCode
3. Click Run > Run Without Debugging
4. Chrome window opens with localhost:8080, page shows refused to connect error
5. If I launch by terminal, or replace the default "pwa-chrome" config in launch.json by the following
[code]
then it

[2020-10-28 10:54] pedromassangocode commented on #69152
Hi @cenezoic123
Can you please provide your `flutter doctor -v` and a minimal complete reproducible code sample?
Thank you

[2020-10-28 10:55] escamoteur commented on #16957
@Hixie I think your propose solution isn't really helpful when you have to access list items by their index. With you solution you have to add code to calculate the correct index. I think rows and columns really should have a default spacing.

[2020-10-28 10:57] pedromassangocode commented on #69163
Hi @novolei
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the c

[2020-10-28 10:57] #69163 closed

[2020-10-28 11:03] pedromassangocode commented on #69172
Hi @CYF-66
Looks like you are using an old Flutter version.
Please make sure you upgrade Flutter by running the commands bellow:
`flutter channel stable`
`flutter upgrade --force`
`flutter doctor -v`

If the issue persists then please provide your `flutter doctor -v`, your `flutter run --verbose`.
Thank you

[2020-10-28 11:04] TahaTesser commented on #69185
Hi @awfin
Are you able to run from command with `flutter run -d chrome?`
Can you please provide your `flutter doctor -v`

Following the indication of [VS Code Flutter Extension](https://marketplace.visualstudio.com/items?itemName=Dart-Code.flutter), the correct way to address the problem is to open an issue in the dedicated [repository](https://github.com/Dart-Code/Dart-Code/issues).
Thank you

[2020-10-28 11:10] AndrewByk commented on #69147
Thank you

[2020-10-28 11:24] TahaTesser commented on #69159
It is forever stuck Xcode build when using these two packages with `flutter run -v`

<details>
<summary>logs</summary>

[code]

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-28 11:30] pedromassangocode commented on #67040
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:30] #67040 closed

[2020-10-28 11:32] pedromassangocode commented on #66907
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:32] #66907 closed

[2020-10-28 11:32] pedromassangocode commented on #67097
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:32] #67097 closed

[2020-10-28 11:32] arftylmz opened #69187 "."

[2020-10-28 11:33] pedromassangocode commented on #67141
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:33] #67141 closed

[2020-10-28 11:33] pedromassangocode commented on #67297
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:33] #67297 closed

[2020-10-28 11:34] pedromassangocode commented on #67284
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:34] #67284 closed

[2020-10-28 11:35] Sp4Rx commented on #40519
Hey @kuyazee could you check this solution? Its a hacky one though
https://github.com/flutter/flutter/issues/41370

[2020-10-28 11:36] pedromassangocode commented on #57936
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:36] #57936 closed

[2020-10-28 11:36] pedromassangocode commented on #66999
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:36] #66999 closed

[2020-10-28 11:37] pedromassangocode commented on #66661
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:37] #66661 closed

[2020-10-28 11:38] pedromassangocode commented on #67194
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:38] #67194 closed

[2020-10-28 11:39] pedromassangocode commented on #67273
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:39] #67273 closed

[2020-10-28 11:39] pedromassangocode commented on #67391
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:39] #67391 closed

[2020-10-28 11:40] pedromassangocode commented on #67406
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:40] #67406 closed

[2020-10-28 11:40] pedromassangocode commented on #67522
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:40] #67522 closed

[2020-10-28 11:41] pedromassangocode commented on #67339
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:41] #67339 closed

[2020-10-28 11:41] pedromassangocode commented on #67420
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:41] #67420 closed

[2020-10-28 11:42] darshankawar commented on #69147
@AndrewByk
I am assuming you got your answer on how to use splash color for the said widget. I am going ahead and closing it. If you disagree, write in comments and I'll reopen.
thanks.

[2020-10-28 11:42] #69147 closed

[2020-10-28 11:42] pedromassangocode commented on #67512
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:42] #67512 closed

[2020-10-28 11:43] pedromassangocode commented on #67464
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-28 11:43] #67464 closed

[2020-10-28 11:49] britannio commented on #69129
@TahaTesser This issue isn't present on the beta channel and seems to be a duplicate of https://github.com/flutter/flutter/issues/66144. Thanks!
Is https://github.com/flutter/engine/pull/21303 in contention for being hotfixed into stable as the login screen for my app is quite buggy due to this issue?

[2020-10-28 11:59] TahaTesser commented on #47220
Can confirm, this is fixed, tested on my new iPad on the latest `share: ^0.6.5+4`
### Preview
![IMG_0053](https://user-images.githubusercontent.com/48603081/97433052-e5456b80-1942-11eb-8668-0ed62df9193a.jpg)

### Code Sample
[Official Sample](https://pub.dev/packages/share/example)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-28 11:59] #47220 closed

[2020-10-28 11:59] TahaTesser commented on #66485
Can confirm, this is fixed, tested on my new iPad on the latest `share: ^0.6.5+4`
### Preview
![IMG_0053](https://user-images.githubusercontent.com/48603081/97433052-e5456b80-1942-11eb-8668-0ed62df9193a.jpg)

### Code Sample
[Official Sample](https://pub.dev/packages/share/example)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Also closed https://github.com/flutter/flutter/i

[2020-10-28 12:04] TahaTesser commented on #57760
Can confirm as well
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-28 12:04] egodefroy opened #69188 "[image_picker 0.6.7+12] Crash detected by Google Play when publishing when not setting minifyEnabled & shrinkResources to false"
From the Google Play console

Problem found on
Samsung Galaxy S9
1080x2009
Android 8.0 (SDK 26)
3 584 Mo
ARM64_V8
en_U

and on:

Motorola moto e5 play
480x960
Android 8.1 (SDK 27)
1 024 Mo
ARM_V7
en_US

[code]

Full stack
[code]

flutter doctor

[code]

</details>

[2020-10-28 12:04] #57760 closed

[2020-10-28 12:05] darshankawar commented on #69177
@BRZErez
Is it possible for you to provide a minimal complete reproducible code sample that can possibly help to replicate the issue in non-prod environment ?

[2020-10-28 12:13] pedromassangocode commented on #69008
Hi @genglei
You still need to upgrade Flutter. The latest stable version is 1.22.2!

[2020-10-28 12:17] TahaTesser commented on #69178
Hi @MPi3D
Just tried on the beta channel, no issues when hot restart or reload, can you please another device? or restarting your device and computer then try

<details>
<summary>code sample</summary>

[code]

</details>

[code]

<details>
<summary>run logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-28 12:17] neemosh commented on #67239
same here ...
please tell me how do you solve it

[2020-10-28 12:17] neemosh commented on #67239
same here ...
please tell me how do you solve it

[2020-10-28 12:20] giorgio79 opened #69189 "SliverAppBar with Google Map lags on expand"
SliverAppBar with a Google Map is lagging when I expand. Please see a video. Also confirmed on actual device
![ezgif com-optimize](https://user-images.githubusercontent.com/283347/97435142-532c6b80-1920-11eb-9bba-fbbce95be504.gif)

Here is the code

`import 'package:flutter/foundation.dart';
import 'package:flutter/material.dart';
import 'package:google_maps_flutter/google_maps_flutter.dart';

voi

[2020-10-28 12:22] nt4f04uNd commented on #39614
@markusaksli-nc I guess you've missed that the black is the default color for the emulator. I didn't test, but I think this might be relatable to all Android versions

[2020-10-28 12:30] TahaTesser commented on #53486
As stated this isn't actionable due to lack of performance profiling https://github.com/flutter/flutter/issues/53486#issuecomment-651948338

Could everyone who still has this problem please file a new issue with the exact description of what happens, logs, and the output of `flutter doctor -v`.
All system setups can be slightly different, so it's always better to open new issues and reference rela

[2020-10-28 12:30] #53486 closed

[2020-10-28 12:33] enricobenedos commented on #47220
It work better even if it is not perfectly aligned

<img width="136" alt="image" src="https://user-images.githubusercontent.com/12233746/97435942-786da980-1921-11eb-9ee1-01d019f827e2.png">

[code]

[2020-10-28 12:33] pedromassangocode commented on #69082
Hi @WinnLeong
I just tried to reproduce the same way you did and still can't reproduce.

![gif](https://user-images.githubusercontent.com/67424416/97435718-1d3bb700-1921-11eb-8917-05bc3ada9426.gif)

What device/OS are you using?

[2020-10-28 12:37] wanjm commented on #64542
we lost one custom for their app is written in flutter and our SDK was written in flutter and android;

[2020-10-28 12:38] TahaTesser commented on #55208
Hi @derzhavets
Can you please steps to reproduce the issue
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample (including code for background task)
Thank you

[2020-10-28 12:42] nelliepereira commented on #69150
Hi Taha,
I have attached the file with flutter doct and flutter run --verbose out put with no emulator. Emulator deleted. The code produces output now, however there are a lot of errors.

Launching lib\main.dart on SM A500G in debug mode...
Running Gradle task 'assembleDebug'...
√ Built build\app\outputs\flutter-apk\app-debug.apk.
Waiting for SM A500G to report its views...
Debug service listening

[2020-10-28 12:48] baudren commented on #26134
@wurikiji would your plugin also support Lock-screen, or only home-screen widgets?

[2020-10-28 12:56] bwysistemas commented on #68903
@darshankawar I'm sending to you the video, as you request.

When I said that the scroll is not working, this happens when you place your mouse point over the IFrame Element. When you try to scroll, using the mouse, you can't do it. (In the video, I show this issue from the second 0:06).

I also show the issue with full screen. The fullscreen video open and close quickly and, after this, rebuilds

[2020-10-28 13:00] TahaTesser commented on #47220
@enricobenedos
Please file a new issue for improvements

[2020-10-28 13:11] pedromassangocode commented on #69180
What command did you run locally?
Can you share the logs of the command you ran? You may get the logs by appending `-v`.

[2020-10-28 13:16] TahaTesser commented on #56533
Hi @skypu3
Please check https://github.com/flutter/flutter/issues/59751,  whatever view is created behind platformview
Please read  https://github.com/flutter/flutter/issues/59751#issuecomment-705852929
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-10-28 13:16] #56533 closed

[2020-10-28 13:19] AnilMsp opened #69190 "findRenderObject() fetching null"
[code]
total 25 items for horizontal listview.
[code]
[code]
[code]

Thanks

[2020-10-28 13:24] pedromassangocode commented on #67912
Hi @Bharavi26
I'm not really sure if this has something to do with the field but it does not reproduce as well.

![gif](https://user-images.githubusercontent.com/67424416/97441550-24ff5980-1929-11eb-95db-a390cddcf725.gif)

Do you have any other information to provide?

A video showing the issue may help as well.

[2020-10-28 13:26] pedromassangocode commented on #69003
There is no a fixed date for a new release.

Please see our release process https://github.com/flutter/flutter/wiki/Release-process.

[2020-10-28 13:34] zbarryte-luminopia commented on #20607
@omidraha @kanishkmendiratta @chornbe - Those two methods are identical; I think your fix may have come from another part of the code.  To see, check out the implementation of `Navigator.push` -- it's just one line: `return Navigator.of(context).push(route);` -- and see that it is a wrapper for `Navigator.of(context).push`.

@Pomis - It is expected behaviour that a Flutter widget may rebuild at an

[2020-10-28 13:35] imrushi commented on #68760
@pedromassangocode

Yes, it caused because of external libraries I think. Can you help me with I have one more issue?

### **New issue**
So I am working on a meeting app on flutter I am using the jitsi_meet plugin in flutter so I have this code

`startActivity(new Intent(this, JitsiMeetActivity.class).addFlags(Intent.FLAG_ACTIVITY_REORDER_TO_FRONT));`

I have added this code in the android on onRe

[2020-10-28 13:44] darshankawar commented on #68903
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[68903.mov.zip](https://github.com/flutter/flutter/files/5452213/68903.mov.zip)

[2020-10-28 13:49] pedromassangocode commented on #57706
Can confirm that this was fixed by https://github.com/flutter/engine/pull/19905.

[2020-10-28 13:49] #57706 closed

[2020-10-28 13:49] dim-apparence commented on #46676
Same issue here :/

[2020-10-28 13:54] amirsaleemahmad opened #69191 "[tool_crash] StateError: Bad state: No context with the running Dart application."
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
StateError: Bad state: No context with the running Dart application.
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel**: master
**Creation fram

[2020-10-28 13:55] Linaks commented on #69120
Thank you guys :)

[2020-10-28 13:57] jbuda opened #69192 "url_launcher 5.7.8 causes build to fail"
I have added the latest version of url_launcher (5.8.7) to my app, but when adding the import statement into the file i am greeted with the following error when building.

[code]

This is the flutter version i am using

[code]

[2020-10-28 13:58] Ayman-Kortobaa commented on #34610
I am facing the same issue with `obscureText` in TextFormField when it is switched while the locale is RTL  (probably because of the symbol for obscured text which is • is considered agnostic or RTL), but when the `obscureText` is switched to false the caret position gets misplaced even when switching back and forth it wouldn't matter.

<details>
<summary>Minimal code to reproduce the bug</summary

[2020-10-28 14:05] wangkaibule commented on #26113
Here's the comment from ImDisk discussion [forum](https://web.archive.org/web/20200805111419/http://reboot.pro/topic/22008-getfinalpathnamebyhandle-fails-with-error-invalid-function/)

 (for the WinAPI `GetFinalPathNameByHandle` returning `ERROR_INVALID_FUNCTION` ):

Arsenal Image Mounter has free version with basic functionality (including Ramdisk), which is mentioned in the [official ImDisk driv

[2020-10-28 14:10] SwissCheese5 opened #81742 "Styling discrepencies between mobile and web markdown rendering"
![chrome_2020-10-28_16-03-02](https://user-images.githubusercontent.com/7407478/97447141-e8872a00-1937-11eb-997a-539ff0709c36.png)

Left is web, right is mobile.

Widget code:
[code]

My textTheme data:

[code]

[2020-10-28 14:14] FaanNewbDev opened #69193 "[NavigationRail] Ability to add vertical space between icons"
When using the NavigationRail, there is no possibility to create more vertical space between the Icons.
I want the minimum width of the NavigationRail. With no labels. "NavigationRailLabelType.none".
Therefore is it not possible to make the rail dynamic.

[2020-10-28 14:14] TahaTesser commented on #62652
![IMG_2DA9E3B6E220-1](https://user-images.githubusercontent.com/48603081/97447879-095e7800-1956-11eb-9e5d-7ec63dfb8ca5.jpeg)

`flutter build web --dart-define=FLUTTER_WEB_USE_SKIA=true`

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-28 14:16] chornbe commented on #20607
At the end of the day, I think most (all?) you can do with FutureBuilder can be done with setState(…), so if you have your stuff working with setState(…) either 1) leave it along, or 2) follow a similar methodology with state/data management. I guess the main difference is FutureBuilder probably provides a cleaner possible model for dependency injection in complex structures, maybe(?), but so can

[2020-10-28 14:20] majdi21 commented on #69142
Hello @darshankawar ,

  I'm seeing the problem on an iPad simulator running iOS 14.1. I tried iphone 8 simulator and I don't see the problem there. Here's the output of flutter doctor:

flutter doctor -v

[✓] Flutter (Channel stable, 1.22.2, on Mac OS X 10.15.5 19F101, locale en)
    • Flutter version 1.22.2 at /Users/fluttertest/dev/tools/flutter
    • Framework revision 84f3d28555 (13 days ago)

[2020-10-28 14:23] chornbe commented on #20607
@zbarryte-luminopia said:

"By the way, implicit here: this means that the widget that uses the FutureBuilder must be Stateful, but that's not arbitrary. The widget's need to use the FutureBuilder like this requires it to have state. Does that make sense?"

Yes.

While that should be intuitive knowledge, read it again and make it a mantra.

Newer devs, or devs newer to Flutter might be falling int

[2020-10-28 14:27] fish-like-mammal commented on #69184
@darshankawar
Yes I think the issue is duplicated and I'm closing this issue, thanks :D

[2020-10-28 14:27] #69184 closed

[2020-10-28 14:37] sanekyy commented on #66122
Same issue

[2020-10-28 14:38] vanlooverenkoen commented on #66122
@sanekyy  even on the latest master version?

[2020-10-28 14:39] Bharavi26 commented on #67912
@pedromassangocode sir,
thank you for your response..
but i am also wondering that same code working in other device and same code not working in my Vivo15 pro

[2020-10-28 14:44] TahaTesser commented on #52895
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-28 14:45] TahaTesser commented on #69187
Hi @arftylmz

From what I can see, the issue is related to a FlutterFire plugin rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/FirebaseExtended/flutterfire/issues).
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yaml`

[2020-10-28 14:45] #69187 closed

[2020-10-28 14:46] sohilmemon commented on #67912
@Bharavi26 try to run the release build and check if issue still persists.

[2020-10-28 14:49] perclasson opened #69196 "Allow us to set the splash radius on selection controls"
## Use case

Allow us to set the splash radius on selection controls (checkbox, radio, toggle).

## Proposal

Add a property as on IconButton to set the splashRadius:
https://api.flutter.dev/flutter/material/IconButton/splashRadius.html

[2020-10-28 14:51] iNoles commented on #69192
Upgrade your Flutter!!!

[2020-10-28 14:52] sanekyy commented on #66122
@vanlooverenkoen
Confirming that on latest master this issue not reproduce.

[2020-10-28 14:54] TahaTesser commented on #69188
Hi @egodefroy
Can you please provide your `pubspec.yaml`, the list of affected devices and if possible your `flutter run --release --verbose` running on the same OS version as the affected devices.
Thank you

[2020-10-28 14:54] jakemac53 commented on #69042
it looks good now thanks :)

[2020-10-28 14:54] #69042 closed

[2020-10-28 15:00] sooxt98 opened #69198 "FlatButton & Text produce inconsistent height"
The gap between each flatbutton shows that the height is inconsistent.

![IMG_1534](https://user-images.githubusercontent.com/13378059/97454104-59970380-1971-11eb-8150-99dd2079e159.jpg)

[code]

[2020-10-28 15:02] mannnish commented on #33072
Theres still on bit of a problem left in this code, I opened an issue on the owner's repo.
https://github.com/SupremNandalDev/insta_clone/issues/1

[2020-10-28 15:06] ashank96 commented on #67291
@ferhatb No I haven't. How will that help?
Given that I am opening the fluter web app in an android native webview, where should I add the font asset ?

[2020-10-28 15:07] harshlohia opened #69199 ""settings getter is not implemented" Flutter Web"
I have just enabled flutter web in my existing flutter web, and since then i am getting this error, and flutter web showing blank Screen.
Here is the Stack trace:-
[code]
Photo for the same:-
![a](https://user-images.githubusercontent.com/57151106/97455017-614cad00-195d-11eb-8bde-026dfd386b0e.jpg)

[2020-10-28 15:11] bobatsar commented on #69073
I just hit the same bug. When will the updated wifi_info_flutter 1.0.1 be published?

One small addition, the README tells to use `WifiFlutter()...` but in the implementation it is `WifiInfo()...`

[2020-10-28 15:12] move[bot] opened #69200 "I have the same issue. `flutter doctor -v` does not find the plugin installed on an android studio."
*@prashantdwivedi commented on Oct 28, 2020, 11:32 AM UTC:*

I have the same issue. `flutter doctor -v` does not find the plugin installed on an android studio.
[![image](https://user-images.githubusercontent.com/6306052/97412942-38f68b80-1928-11eb-843f-7d8826588c1c.png)](https://user-images.githubusercontent.com/6306052/97412942-38f68b80-1928-11eb-843f-7d8826588c1c.png)
[![Screenshot 2020-10-28 a

[2020-10-28 15:15] egodefroy commented on #69188
Hi @TahaTesser

pubspec.yaml

[code]
run --release --verbose

[code]

[2020-10-28 15:18] pedromassangocode commented on #68760
Hi @imrushi
It seems you are asking for assistance on personal code. You may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/.

Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-10-28 15:18] #68760 closed

[2020-10-28 15:19] rohankumara commented on #54845
Whenever you add a new plugin in pubspec.yaml, you have to restart the app.

[2020-10-28 15:28] TahaTesser commented on #69189
`google_maps_flutter: ^1.0.4`

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

[code]

</details>

[2020-10-28 15:31] TahaTesser commented on #69191
Hi @amirsaleemahmad
Closing as duplicate of https://github.com/flutter/flutter/issues/60495
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-10-28 15:31] #69191 closed

[2020-10-28 15:34] enricobenedos opened #69201 "[share] Share popup arrow not aligned with parent icon"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Add `share: ^0.6.5+4` plugin to `pubspec.yaml`
3. Replace autogenerated `main.dart` with the below code
[code]

**Expected results:**

I expect to have an aligned/center "popup arrow" with the share icon

**Actual results:**
![image](https://user-images.githubusercontent.com/12233746/97458572-1f127400-193b-11eb-869b-54cbccebe07f.png)

<details

[2020-10-28 15:35] balazsbokanyi commented on #58488
@agreensh there is an alternative, you can access cookies stored in the browser via dart:html package.
import 'dart:html' as html;
print(html.document.cookie);
https://api.dart.dev/stable/2.10.2/dart-html/Document-class.html

[2020-10-28 15:39] TahaTesser commented on #69192
Hi @jbuda
Can you please upgrade to the latest  `dev` and try again
`flutter channel dev`
`flutter upgrade --force`
`flutter doctor -v`

If the probem persists with the upgrade, Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-10-28 15:48] abaturyna commented on #54599
I am facing the same issue !

[2020-10-28 15:50] balvinderz commented on #59437
@urvashi-godumalani  you dont need to pause audio url . you need to pass the name of the audio( which you can get from getAudios function) .

[2020-10-28 15:56] sulfy commented on #63025
I also have the same issue but the app works fine, any fix?

[code]

[2020-10-28 15:57] TahaTesser commented on #69200
Hi
Please check this comment https://github.com/flutter/flutter/issues/67986#issuecomment-715452201
Closing as duplicate of https://github.com/flutter/flutter/issues/67986
Thank you

[2020-10-28 15:57] #69200 closed

[2020-10-28 15:58] justinmc commented on #68890
Another nearby PR was https://github.com/flutter/flutter/pull/66785, which I reviewed, but it similarly seems unrelated.  It only added a pass through parameter to text editing widgets.

What is it that these benchmarks measure exactly?

There is a lot of NNBD work in the vicinity of this change ([relevant commits page](https://github.com/flutter/flutter/commits/master?after=7b86be228e4054ae0ecd0c

[2020-10-28 15:59] TahaTesser commented on #69190
Hi @AnilMsp
Can you please provide your `flutter run --verbose` and **a complete reproducible minimal code sample**
Thank you

[2020-10-28 16:00] tgucio opened #69202 "Text selection using keyboard doesn't work on Windows"
## Description
On Windows, text selection using keyboard doesn't work.
Possibly after the selection is correctly updated by the framework in _handleKeyEvent() in Editable, it's overwritten by a change from the embedding - similarly to [#22063](https://github.com/flutter/engine/pull/22063).

## Steps to Reproduce

1. Run `flutter create texttest`.
2. Update main.dart adding a TextField:
* in class

[2020-10-28 16:02] MPi3D commented on #69178
Hi,

I have created a blank project on a Linux machine and ran it on a HUAWEI CUN L21. But the hot restart still not working.

<details>
  <summary>code sample</summary>

[code]

</details>

<details>
  <summary>adb connection</summary>

[code]

</details>

<details>
  <summary>flutter run -v</summary>

[code]

</details>

<details>
  <summary>flutter analyze -v</summary>

[code]

</details>

<det

[2020-10-28 16:04] urvashi-godumalani commented on #59437
@balvinderz Oh okay but I wanted to use remote url. The task was to record video from camera and overwrite it's audio from remote audio url

[2020-10-28 16:04] perclasson opened #69203 "Add resolveWith functions to MaterialStateBorderSide and MaterialStateOutlinedBorder"
Follow up from https://github.com/flutter/flutter/pull/68596.

To make `MaterialStateBorderSide` and `MaterialStateOutlinedBorder` easier to use, it would help to mimic the rest of `MaterialStateColor`. Apps and examples could write `MaterialStateBorderSide.resolveWith(myCallback)`, which can take a bit of the sting out of using a MaterialStateProperty.

[2020-10-28 16:10] samcdavid commented on #66222
For those who are not iOS devs and stumble upon this hoping that it resolves the issue. I had trouble running my project with `flutter run` after making the changes here.

I was able to resolve the issue by editing my Release.xcconfig file to add these two lines at the bottom:
[code]
Then I added this line to the bottom of my Debug.xcconfig
[code]

For those looking for these two files in XCode, h

[2020-10-28 16:12] kf6gpe opened #69204 "regression in 90th_percentile_vsync_transitions_missed large_image_changer_perf_ios"
https://flutter-flutter-perf.skia.org/e/?begin=1603526223&end=1603867624&keys=X7728d6094a7f0aebd80375845eda2829&requestType=0&xbaroffset=22225

At commit https://github.com/flutter/flutter/pull/69067.

Not sure why a tools commit would result in a vsync transitions regression, though.

Including both engine and tools for triage.

[2020-10-28 16:14] TahaTesser commented on #69201
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-28 16:17] kf6gpe commented on #69204
Could also be https://github.com/flutter/engine/pull/22118; there are other regressions around this roll.

[2020-10-28 16:18] kf6gpe opened #69205 "99th_percentile_frame_rasterizer_time_millis flutter_gallery_sksl_warmup__transition_perf regression"
https://flutter-flutter-perf.skia.org/e/?begin=1603526223&end=1603867624&keys=X7728d6094a7f0aebd80375845eda2829&requestType=0&xbaroffset=22225

https://github.com/flutter/engine/pull/22118 seems to be the culprit.

It looks bimodal, though.

[2020-10-28 16:21] scheglov commented on #53185
There are no `runZoned` uses in `flutter` which provide `onError`.

[2020-10-28 16:24] kf6gpe opened #69206 "90th_percentile_vsync_transitions_missed99th_percentile_frame_rasterizer_time_millisaverage_vsync_transitions_missedworst_frame_rasterizer_time_millis flutter_gallery_sksl_warmup__transition_perfflutter_gallery_sksl_warmup__transition_perf_e2e regressions"
https://flutter-flutter-perf.skia.org/e/?begin=1603669622&end=1603752548&keys=Xd5f06ed0bf6f897c371d6f777fb1dccc&num_commits=50&request_type=1&xbaroffset=22190

Started around https://github.com/flutter/flutter/pull/68887. If that really is the commit, I think these are related to the tests themselves, and not true regressions.

[2020-10-28 16:26] awfin commented on #69185
@TahaTesser  Thank you, I've moved the ticket to https://github.com/Dart-Code/Dart-Code/issues/2911

[2020-10-28 16:30] chinmoy12c commented on #69193
Working on this issue. Will adding a SizedBox be an appropriate approach?

[2020-10-28 16:31] HansMuller commented on #69202
CC @justinmc

[2020-10-28 16:34] justinmc commented on #69202
Related to https://github.com/flutter/flutter/issues/30725

[2020-10-28 16:36] HansMuller commented on #69198
This issue, which presumably affects TextButton as well, may be related to https://api.flutter.dev/flutter/widgets/DefaultTextHeightBehavior-class.html

[2020-10-28 16:36] riyaz opened #69207 "Crash on app launch when using release variant of the aar"
## Steps to Reproduce

Integrating flutter using add-to-app in our android app, building the app using ``` flutter build aar ``` and including aar using local repo, when I include the release variant of aar, app is crashing in app launch however when we include the debug variant of aar its working fine.

**Expected results:**
No crash

**Actual results:**
Crash on app launch

<details>
  <summary>

[2020-10-28 16:36] hawkinsjb1 commented on #69111
@TahaTesser Can confirm my issue is happening running that exact code sample. I downgraded to stable 1.22.2, and seeing the same behaviour.

Also, I'm only explicitly calling `.finishAutofillContext()` because the automatic prompt upon group disposal isn't happening, granted i'm not manually disposing the AutoFillGroup, i'm still replacing the screen which should handle the disposal and prompt the

[2020-10-28 16:37] HansMuller commented on #69193
CC @clocksmith

[2020-10-28 16:37] ycv005 commented on #68876
How to do that? ok, I will search and implement and then tell you.

[2020-10-28 16:41] vaimikpatel2908 opened #69208 "[Webview_flutter] on iOS webview triggers the click events which was for the contents (widgets) of the Drawer or Bottom sheet"
It works fine on the android but having some problems with iOS.

## Steps to Reproduce
1. Create a WebView with any URL and drawer/bottom sheet/modal bottom sheet with some buttons/switch or some other content.
2. Then try to interact with the content(like buttons or sometimes even background) of drawer/bottom sheet/modal bottom sheet(I had the map on the webpage with click event trigger so it was

[2020-10-28 16:42] nturgut commented on #69070
To my knowledge this only happens on profile mode. In debug mode you can see the stack trace, therefore I changed the title to profile mode.

I usually run on debug mode to debug/troubleshoot a problem. Do you think since one mode is showing the error, this is still P3? @yjbanov

[2020-10-28 16:44] HansMuller commented on #69162
This doesn't address this specific problem however in the fullness of time: TabBar et al should just depend on TabBarTheme, and by default it should configure itself in terms of the overall theme's ColorScheme.  TabBarTheme needs to morph into a TabBarTheme/TabBarThemeData pair that matches the conventions in flutter.dev/go/material-theme-system-updates.

[2020-10-28 16:47] cyanglaz opened #69209 "[video_player] android: add tests to make sure playing local assets is successful"
We should add tests to make sure the local assets could be loaded by the video player plugin.

Issue: https://github.com/flutter/plugins/pull/3123

This PR fixed the issue, but was landed without tests: https://github.com/flutter/plugins/pull/3123

There is already a test available in the plugin, we just couldn't enable it on CI due to some issues. https://github.com/flutter/plugins/blob/master/pa

[2020-10-28 16:47] nturgut commented on #69070
Btw, the error in this case is not on e2e, it's on flutter_test. TextExceptionReporter doesn't receive an error message on profile/release modes: https://github.com/flutter/plugins/blob/master/packages/integration_test/lib/integration_test.dart#L69

Therefore this does not need a code change on e2e but on flutter/flutter repo.

Another information is as you would remember this used to work on Marc

[2020-10-28 16:53] FaanNewbDev commented on #69193
Personally I think that adding a SizedBox after each element would be perfect. Individual and common, gives great layout possibilities.

[2020-10-28 16:53] cyanglaz commented on #69209
Since it's been a while, we might need to re-investigate the test to see if we can enable it now https://github.com/flutter/plugins/blob/master/packages/video_player/video_player/example/test_driver/video_player_test.dart#L17

[2020-10-28 16:54] nturgut commented on #11278
@cbracken  @michaeldelcid This also works on Flutter web: https://github.com/flutter/engine/blob/bf6d7b4e48bfb6abfdb70fb5943a5ac87bd3dd26/lib/web_ui/lib/src/engine/text_editing/text_capitalization.dart#L14

We noticed a bug on IOS Safari (https://github.com/flutter/engine/blob/bf6d7b4e48bfb6abfdb70fb5943a5ac87bd3dd26/lib/web_ui/lib/src/engine/text_editing/text_capitalization.dart#L64), otherwise a

[2020-10-28 16:57] zanderso commented on #69206
These benchmarks were affected the first time the noted change was landed and reverted, so it is probably related, but I agree that the tool's drive command refactoring probably shouldn't have been able to have such a big effect on these numbers. @jonahwilliams @liyuqian

[2020-10-28 16:57] zanderso commented on #69206
/cc @jonahwilliams and @liyuqian to determine if there's anything actionable here.

[2020-10-28 16:59] gaaclarke commented on #69036
This is a workflow that engine developers use already.  It just would automate the process.

It would have to if you wanted it to be able to compile the engine.

It would also be nice if the tool had a way to permanently select which engine you are using.  Right now if you use the `--local-engine` flags it does get cached locally but the next time you use flutter without it, it gets wiped out.  Yo

[2020-10-28 16:59] MPi3D commented on #69178
Hi again,

I've tried to reinstall flutter and android studio but it's still not working too.

<details>
  <summary>flutter run -v</summary>

[code]

</details>

[2020-10-28 17:01] jbuda commented on #69192
Thanks @iNoles @TahaTesser . Upgrading Flutter did the trick.

Thought i had already done it. Clearly not!

[2020-10-28 17:01] #69192 closed

[2020-10-28 17:04] yarmel commented on #68286
Problem with Facebook Auth & Geolocation picker. When disabled all work fine. One issue resolved & 2 new received :)

[2020-10-28 17:04] #68286 closed

[2020-10-28 17:10] stuartmorgan commented on #69202
Usually the framework should win, but there is arrow key and delete/backspace handling in the Windows embedding currently which I was planning to remove as with macOS; it's possible that will fix this specific issue.

[2020-10-28 17:21] renanyoy commented on #67116
I found the reason of the crashes, it comes from google maps iOS SDK
I filled a bug https://issuetracker.google.com/issues/171877896

[2020-10-28 17:28] yjbanov commented on #69070
I agree, I think the issue is in `flutter drive`/`package:flutter_driver` more than in `package:integration_test`. When running a test we should always print the output of both the driver script and browser logs, whether we use `package:integration_test` or not.

I'm currently trying to solve it by configuring WebDriver to capture the browser output. I'm getting some partial output, but not all of

[2020-10-28 17:28] Wizzel1 commented on #33072
Yes, that happens to me aswell and I haven't found a fix.

[2020-10-28 17:28] jonahwilliams opened #69213 "Add support for host architecture detection of arm64 on Linux and Windows desktop"
This is currently support on macOS via OperatingSystemUtils, a similar addition to the HostArchitecture enum and implementations for Linux and windows.

API: https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/base/os.dart#L123

Example macOS implementation: https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/base/os.dart#L302

[2020-10-28 17:31] jonahwilliams opened #69214 "Update TargetPlatform enum to include linux_arm64 and windows_arm64 entries"
These will be required to specify arm64 build targets. The desktop_device base class should also be updated to return this instead of the hardcoded x64 platform arch, using the detection logic from https://github.com/flutter/flutter/issues/69213

[2020-10-28 17:33] jonahwilliams opened #69215 "Update linux and windows build rules to consider the arm64 target platform"
Currently these build rules hard-code an x64 target platform, but they should be configured to both provide and accept this target platform and use it to select the correct compilation artifacts. Even without uploaded artifacts, this should be sufficient to build with a local engine.

macOS build rules will be different and do not need to be adjusted.

[2020-10-28 17:33] mordivgor commented on #65720
Just for your information - the same thing happens for "CheckBox".
@gspencergoog  I am a little surprised that it has been marked as P5 which is default for features. For me sounds like a bug. Ok, questionable whether it is big one or not, but there is no workaround which I am aware and it impacts user experience quite noticeable.

[2020-10-28 17:35] jonahwilliams opened #69216 "Add target platform and sysroot flags to flutter build linux, windows"
This would simply pass through the target platform configuration once the rules support it.

By default, this should select the architecture of the current host platform, and if a different platform is provided should complain if there is also no sysroot.

This can be supported before artifacts are uploaded via loca-engine builds.

[2020-10-28 17:36] jonahwilliams opened #69217 "Update cache.dart to download prebuilt linux/windows binaries when available"
This would allow flutter build linux/windows to work without a local engine

[2020-10-28 17:40] jonahwilliams opened #69218 "flutter_gallery__transition_perf_e2e_ios32 has been stuck for 90 minutes"
This is currently keeping the tree red

[2020-10-28 17:46] recastrodiaz commented on #68919
@danielwalczak can you try my `develop2` video_player fork? Your video displays correctly on a sample video_app I have:

https://github.com/flutter/plugins/pull/1307#issuecomment-656175989

[2020-10-28 17:46] ezhamkarim commented on #69159
Yaa it forever stuck when build using XCode, hopefully this problem will be solved quickly 😅

[2020-10-28 18:01] jmagman commented on #58200
If you are hitting this issue, before applying any workarounds, please check out the Flutter [master channel](https://github.com/flutter/flutter/wiki/Flutter-build-release-channels#how-to-change-channels) to pick up the potential fix #68729 and let us know if you are then able to submit to the App Store.

We want to solve this issues for all Flutter users automatically, not require a workaround.

[2020-10-28 18:04] jmagman commented on #64542
@wanjm Can you ship your functionality as a Flutter plugin instead?  Flutter plugins contain dart and native code, and are made to be consumed by other Flutter apps.

[2020-10-28 18:06] mshere9 commented on #31019
Thanks, this solved my issue

[2020-10-28 18:07] #67944 closed

[2020-10-28 18:08] xster commented on #66561
Trying to clarify what the request is.

1- it sounds like you guys are saying pub get fails. Though I'm not clear on what the failure message is. Is it the v1 usage warning seen in the screenshots above? Are those blocking failures or just warnings?
2- Are those warning themselves incorrect as well? i.e. you're actually using v2 embeddings in the plugins but once you delete the example, it incorre

[2020-10-28 18:10] keyonghan commented on #69218
Tree is open.

[2020-10-28 18:12] #68595 closed

[2020-10-28 18:17] #69045 closed

[2020-10-28 18:22] #69196 closed

[2020-10-28 18:22] balvinderz commented on #59437
@urvashi-godumalani  that is not possible with this.

[2020-10-28 18:22] danielwalczak commented on #68919
@recastrodiaz sure I will thanks

[2020-10-28 18:23] urvashi-godumalani commented on #59437
@balvinderz oh alright. Thanks for your time

[2020-10-28 18:24] #69001 closed

[2020-10-28 18:25] joshgi commented on #58806
@xster Thanks for the feedback. I will work with the team to address what we can.

[2020-10-28 18:26] sunaarun commented on #51705
@jonahwilliams  , can you tell how to do that please , what do you mean with alias?
please can you give me more explanation

[2020-10-28 18:29] goderbauer commented on #68890
Nothing in that range looks suspicious in the framework - especially for something that would only affect the ios version of these benchmarks (Android seems unaffected).

Did we ever fix the problem where random iOS pop-ups mess with our benchmark data? Could that be the problem here?

[2020-10-28 18:32] jmagman opened #69221 "FlutterMacOS.framework engine isn't natively available for desktop for ARM macOS Apple Sillicon (including building for all valid architectures on x86)"
`FlutterMacOS.framework` only contains x86_64 architecture, so desktop apps run with Rosetta translation.  Add `arm64` to the framework.

See also
https://chromium.googlesource.com/chromium/src/+/refs/heads/master/docs/mac_arm64.md

[2020-10-28 18:32] christopherfujino commented on #69036
I guess my concerns would not be applicable if we just blindly passed the flags to gn. But I still don't think that the tool should know anything about the engine's build deps, and should instead call a script in the engine that handles that.

[2020-10-28 18:34] MeenakshiSundaram-MS opened #69222 "I'm getting this error while running flutter run -v"
D:\Flutter\appName>flutter run -v
[code]

[2020-10-28 18:36] keyonghan commented on #69218
The hang is due to cocoon switching versions and task being in a ghost state: task status is `in progress`, whereas the devicelab agent shows no tasks available.

Reopen to track this issue.

[2020-10-28 18:40] goderbauer commented on #68890
Also: In more recent runs, the benchmark seems to be bi-modal: https://flutter-flutter-perf.skia.org/e/?begin=1602198589&end=1603867624&formulas=norm(shortcut(%22X1fa8ce79a6a882d2eacbb51a27b2fec2%22))&requestType=0&xbaroffset=22131

Some runs are close to what they were before this regression, others are still high.

[2020-10-28 18:41] godofredoc commented on #69218
Would you mind adding some logs to take a look?

[2020-10-28 18:42] znjameswu commented on #69001
I think we should also do some thing about the description in https://github.com/flutter/flutter/blob/bced0351aedd719f65429d02b0baa8c8653342ea/packages/flutter/lib/src/widgets/text_selection.dart#L1180-L1183

because the onTapDown are not actually guaranteed to fire in a long press. Maybe we should open up a new issue regarding the gesture system? @xu-baolin

[2020-10-28 18:42] Hixie commented on #16957
@escamoteur if you have a case where the sample code above doesn't work please don't hesitate to file a new bug with that specific use case.

[2020-10-28 18:44] keyonghan commented on #69218
Seems before updating task status to datastore, it hit 502 error (when the cocoon is switching versions).
[code]

[2020-10-28 18:45] ferhatb commented on #68702
@Grooviz thank you for reporting bug. We will have a fix landing shortly.

[2020-10-28 18:50] CaseyHillers commented on #69218
Root issue is https://github.com/flutter/flutter/issues/68240

Do we know how long the Cocoon version switches result in 502's?

When this moves to be uploaded from the test runner, we'll get retry functionality.

[2020-10-28 18:51] cyanglaz opened #69225 "[in_app_purchase] remove `callbackChannel`"
[callBackChannel](https://github.com/flutter/plugins/blob/master/packages/in_app_purchase/lib/src/channel.dart#L10) was added due to historic reasons. We shouldn't need it. We can use [channel](https://github.com/flutter/plugins/blob/master/packages/in_app_purchase/lib/src/channel.dart#L7) instead.

Note: this is a breaking change.

[2020-10-28 18:52] goderbauer commented on #68890
@godofredoc confirmed that those get automatically dismissed now.

[2020-10-28 18:52] godofredoc commented on #69218
This is actually for uploading the log, once we move to LUCI this won't happen anymore.

[2020-10-28 19:01] scaraux commented on #69170
Just added the code and a video 😀

[2020-10-28 19:05] jmagman opened #69227 "Run on ARM Android emulators on Apple Silicon"
Android emulators will not be able to use Rosetta, which does not support whole system virtualization, so will be running in native ARM and not Rosetta translated x86.

Track down places in the tool where x86 is used as a proxy for "Android emulator".

https://github.com/flutter/flutter/blob/e0ec9a06dc8d244a9abb623d0dc4c5001c53b899/packages/flutter_tools/lib/src/android/android_device.dart#L229-L2

[2020-10-28 19:06] cacianokroth commented on #65099
Any update?

[2020-10-28 19:09] scaraux commented on #68490
I'm now experiencing this bug with other views, not only WebViews. See #69170 69170

[2020-10-28 19:11] xster commented on #58806
ha, are you saying I temporarily have the attention of the AS team?

![6881887](https://user-images.githubusercontent.com/156888/97483909-4b1afe80-1915-11eb-8b59-be4d81ace54f.jpg)

To make my wish list slightly more descriptive (in semi-sorted order):

- Rendering performance. Surely the layout can just be calculated once and cached until the next window resize or some such.
- Entirely skipping .s

[2020-10-28 19:13] justinmc commented on #68292
Thanks for the well thought out response.  I think I agree with you for the most part, but the next question is: what can we actually do about this right now?

Flutter has an issue (https://github.com/flutter/flutter/issues/24722) for collecting big breaking changes that we may want to consider for large version changes.  You might want to add this idea and link to this issue if you think it's app

[2020-10-28 19:14] aneesalahsab commented on #68457
How were you able to solve this problem?

[2020-10-28 19:17] jonahwilliams commented on #69227
The tool only makes best efforts guesses on what is an android emulator, because they are surfaced the same due to adb. The only restriction applied is that we prevent release mode from running on x86 because there is no release x86 slice.

[2020-10-28 19:24] stuartmorgan opened #69229 "Better MPL support in LicensePage"
If an application uses an MPL package ([example](https://pub.dev/packages/dbus)) then the developer "must inform recipients of the Executable Form how they can obtain a copy of such Source Code Form" (section 3.2). Currently its up to developers to a) find all their transient MPL dependencies, and b) figure out how best display that information in their app. It would be nice if just as we have too

[2020-10-28 19:44] amirh opened #69232 "Windows Plugins presubmit is failing on flutter/plugins"
New PRs to `flutter/plugins` are getting a failed "Windows Plugins" presubmit, the cirrus link directs to the flutter dashboard which has no useful information.

Sample PRs with the failure:
* https://github.com/flutter/plugins/pull/3220
* https://github.com/flutter/plugins/pull/3213

This is currently blocking all flutter/plugins PRs.

[2020-10-28 19:47] peterIrving opened #69233 "Unable to run native iOS plugin code on physical iPhone through Xcode 12.1"
## Steps to Reproduce

0. I am running Xcode version 12.1 on MacOS Catalina 10.15.6. I am using an iPhone 8 running iOS 14.1
1. I have created a basic plugin through android studio
2. I am able to run the example on my physical iPhone when ran through flutter run/Android Studio
3. When I open the native iOS module for the plugin (not example) in Xcode (through the Android Studio - open iOS module

[2020-10-28 19:50] godofredoc commented on #69232
This is because now Windows build_tests are competing for the same bots used by plugins. To fix this problem we need to:

* First move capacity from the windows 10 machines to windows server.
* Move all framework-luci devicelab tests to use windows server.
* Move all framework builds to use windows server.

[2020-10-28 19:57] moodstubos opened #69235 "drawer: misaligned background on Android api 22 device"
A customer reported an odd display of main drawer. I was not able to reproduce this on my devices nor emulator. Today he send me the device and I can confirm there is a strange issue with flutter drawer.
It **only** happens in portrait mode.

**screenshot**

![issue](https://user-images.githubusercontent.com/5072232/97488993-467b3800-195f-11eb-9d76-d9053e37e888.gif)

landscape
![sec](https://user-

[2020-10-28 19:59] iskakaushik commented on #63025
I wasn't able to reproduce this issue, after some research I think I have an understanding of what might be going on. I have proposed a fix at https://github.com/flutter/engine/pull/22170.

[2020-10-28 19:59] slimyTextBox opened #69236 "Execution failed for task ':app:checkDebugDuplicateClasses'."
Build failed with exception when the package is included in the project: just_audio 0.5.5

I reported this bug on package page on the link
https://github.com/ryanheise/just_audio/issues/227

This exception is reported on the closed issue on the link below, I tried most solutions on that page to no av
https://github.com/flutter/flutter/issues/49938

Failed solutions:

1- deleting build folder

2-
f

[2020-10-28 20:05] jmagman commented on #69227
I'm hoping there's almost no changes that need to be made here, but we can't know until the emulators start working.  This is a note-to-future-Jenn to test more than anything.

[2020-10-28 20:06] keyonghan commented on #69232
based on competition, shall the `plugins` builds remain in the queue rather than directly fail?

[2020-10-28 20:09] vaimikpatel2908 commented on #60420
There is the same issue with AbsorbPointer as well

[2020-10-28 20:09] godofredoc commented on #69232
I thought they were failing after a few mins, the ones linked here are failing immediately which means there are 0 Windows Server machines available

[2020-10-28 20:12] godofredoc commented on #69232
https://chromium-swarm.appspot.com/botlist?c=id&c=task&c=os&c=status&d=asc&f=pool%3Aluci.flutter.try&f=os%3AWindows-Server&k=os&s=id I see machines available.

I would expect long queue time but not seeing failures immediately.

[2020-10-28 20:14] godofredoc commented on #69218
This is a no resource problem: https://chromium-swarm.appspot.com/task?id=4f86ca6c72bfff10&o=true&w=true

[2020-10-28 20:16] keyonghan commented on #69232
Are all these windows bots the same config of 8 cores? We used to have 32 cores bots, which flutter/plugins are currently using.

[2020-10-28 20:16] godofredoc commented on #69232
![image](https://user-images.githubusercontent.com/54371434/97491666-afdb5680-191f-11eb-9662-c8c4b83ea49f.png)

The windows machines got downgraded yesterday to use 8 cores. We need to remove the explicit dimension for 32 cores

[2020-10-28 20:17] keyonghan commented on #69232
Working on a PR to fix this.

[2020-10-28 20:24] stuartmorgan commented on #69232
Meta-issue question: can we make the bot status page linked from PRs give useful feedback here (e.g., "Unable to schedule job; zero available machines meet job requirements") instead of a page that just has no information and essentially a link to nowhere?

[2020-10-28 20:35] jacob314 commented on #68742
Fyi @terrylucas

[2020-10-28 20:37] stuartmorgan commented on #37597
Relevant for future work: https://github.com/bshiva1987/flutter_win_webview is a proof-of-concept simple webview using WebView2. It just pops up over other content since there's no `PlatformView` support.

[2020-10-28 20:46] b34st80y commented on #33245
@Sun3 You must switch to beta channel, not master channel

[2020-10-28 20:56] abelardolg opened #69239 "Codelab snippet has type error"
Hi there,
I was building this app https://codelabs.developers.google.com/codelabs/firebase-get-to-know-flutter#4 when Flutter warns me this error:
https://pbs.twimg.com/media/ElW7hmgWMAMWYch?format=jpg&name=large

The source of this issue is here:
https://pbs.twimg.com/media/ElW8Gk1XgAEueEh?format=jpg&name=large

How would I proceed to fix it?
Best regards.

[2020-10-28 20:58] keyonghan commented on #69232
The link in [checks](https://github.com/flutter/plugins/pull/3220/checks?check_run_id=1322883358) page will link to the build details only if the task is scheduled. If failed before being scheduled, the build id will not be available.

Instead if we can obtain the taks id (like [4f86ca6c72bfff10](https://chromium-swarm.appspot.com/task?id=4f86ca6c72bfff10)), then it is more useful to have this lin

[2020-10-28 21:01] jonahwilliams commented on #69178
This is likely caused by the additional timeout added to the devFS sync. I increased the timeout duration to 60 seconds in https://github.com/flutter/flutter/commit/19f363029ef14e2725daacf57f0e4e6b2d563990 which is available in 1.24.0-3.0.pre.

(I believe on dev?)

You might try to see if this fixes the problem.

FYI @zanderso

[2020-10-28 21:02] cyanglaz commented on #43012
Looks like this is fixed, closing.

[2020-10-28 21:02] #43012 closed

[2020-10-28 21:03] Jparrgam opened #69240 "java.lang.IllegalStateException: FlutterCallbackInformati…formation(callbackHandle)"
Hello everyone, I have the following error in my application that has occurred more than 60K of times,

I have a class that extends from JobIntentService, this is my code run in onCreate

<img width="893" alt="Screen Shot 2020-10-28 at 3 58 32 PM" src="https://user-images.githubusercontent.com/8985838/97496072-6f3b0780-1936-11eb-8450-0c88c4771b5a.png">

I am creating the callback handler as follow

[2020-10-28 21:13] jonahwilliams commented on #69178
Fixed via https://github.com/flutter/flutter/pull/68488

[2020-10-28 21:13] #69178 closed

[2020-10-28 21:13] jonahwilliams commented on #69178
Added a cherry-pick request into beta

[2020-10-28 21:14] HerrNiklasRaab commented on #4719
Related: https://github.com/Dart-Code/Dart-Code/issues/2878

[2020-10-28 21:18] keyonghan commented on #69232
The new config has been propagated. Just retried the failed builds from the above two PRs, and they are running now.

[2020-10-28 21:19] godofredoc commented on #69232
Let's open a bug for the usability request there are many of those that we'll need to address once we have the reliability and scalability parts under control.

[2020-10-28 21:30] keyonghan opened #69242 "Pre-submit LUCI checks from PRs are not informative before builds get scheduled"
Pre-submit LUCI tasks are triggered via buildbucket for different repos. If builds are successfully scheduled, the `Checks` page will provide link to the specific build ID.

However, when the queue time is high, and the build is in the queue before scheduled, the above link will simply link to go/flutter-build. This is also the case when a build fails before scheduled. It is not easy/clear to tell

[2020-10-28 21:39] keyonghan commented on #69232
Created issue to track the usability: https://github.com/flutter/flutter/issues/69242.

[2020-10-28 21:40] nshahan commented on #66122
The fix https://github.com/dart-lang/sdk/commit/c5f478dfa8188b742400eeee303d61cf9e5fa408 was part of the dart sdk v2.11.0-254.0.dev and has rolled into flutter master already.

[2020-10-28 21:40] #66122 closed

[2020-10-28 21:55] goderbauer commented on #68864
/cc @justinmc

[2020-10-28 21:57] goderbauer commented on #69058
/cc @chunhtai

[2020-10-28 21:58] liyuqian commented on #69206
The tools could have a big impact on performance and "[flutter_tools] fix --use-existing-app for flutter drive #69237" does seem to be a promising fix. Specifically, `flutter_gallery_sksl_warmup__transition_perfflutter_gallery_sksl_warmup__transition_perf_e2e` verifies that the existing app built SkSL cache is fast. If the tool doesn't properly run the existing app built with SkSL cache, then ther

[2020-10-28 22:00] rubinbasha opened #69247 "PageView overlayed inside Stack not swiping"
I am trying to create a UI that contains a Stack and as children I have PageView and SomeContent(even just a Container is enough to reproduce the issue). When having this kind of configuration then the PageView does not swipe.

## Steps to Reproduce

[code]

**Expected results:**
The PageView reacts to user input.

**Actual results:**
The PageView does not react at all

[2020-10-28 22:03] KabluBR commented on #33245
@mdebbar
Just did what you said (5 steps) and I am receiving errors now:

TypeError: dart.global._flutter_web_set_location_strategy is not a function
    at Object.setUrlStrategy (http://localhost:27534/packages/flutter_web_plugins/src/navigation/js_url_strategy.dart.lib.js:243:17)
    at Object.configureApp (http://localhost:27534/packages/project/configure_web.dart.lib.js:10:18)

Can you help me

[2020-10-28 22:07] mdebbar commented on #33245
@Sun3 and @KabluBR could you please file new issues including `flutter doctor -v` output and the code of the app? Thanks!

[2020-10-28 22:11] iskakaushik commented on #66476
Fixed by https://github.com/flutter/engine/pull/21525

[2020-10-28 22:11] #66476 closed

[2020-10-28 22:19] clarkezone commented on #37597
This was the original prototype which the above fork is based on: https://github.com/clarkezone/flutter_win_webview

[2020-10-28 22:20] KabluBR commented on #33245
@mdebbar
Is very strange... I changed to beta channel and still not worked...
sorry about flutter doctor -v, now I am sending...

TypeError: dart.global._flutter_web_set_location_strategy is not a function
    at Object.setUrlStrategy (http://localhost:29624/packages/flutter_web_plugins/src/navigation/js_url_strategy.dart.lib.js:243:17)
    at Object.configureApp (http://localhost:29624/packages/l

[2020-10-28 22:24] Sun3 commented on #33245
@mdebbar The following is my ```flutter doctor -v``` report:
[code]

[2020-10-28 22:26] ferhatb commented on #58182
Tested using HTML backend on latest master.

![Screen Shot 2020-10-28 at 3 14 27 PM](https://user-images.githubusercontent.com/5061034/97503171-c8ed0300-1931-11eb-9144-19a625e4dac2.png)

Looks like it was addressed by clipping fixes.

[2020-10-28 22:26] #58182 closed

[2020-10-28 22:32] rubinbasha commented on #69247
I found a halfbaked solution and that is to add a GestureDetector on top of PageView
like this:
var acceptedDeltaY = MediaQuery.of(context).size.height / 50;
GestureDetector(
          onPanUpdate: (data) {
            var deltaY = data.delta.dy;
            if (deltaY < 0 && deltaY.abs() > acceptedDeltaY) {
              _controller.nextPage(
                duration: const Duration(seconds: 1),

[2020-10-28 22:32] keyonghan opened #69248 "[cocoon] GitHub Error: You must authenticate via a GitHub App"
Cocoon has been hitting a couple of GitHub Errors in multiple APIs, including /api/github-webhook-pullrequest

[code]

[2020-10-28 22:38] gspencergoog commented on #69099
@stuartmorgan Can you add the discussion you mentioned in triage here?

[2020-10-28 22:40] jonahwilliams opened #69249 "iOS32 device appears to be down"
[code]

Because the previous run was a failure, the tree is now stuck red

[2020-10-28 22:44] fyredave commented on #61333
I'd just like to chime in here that I'm also having issues with vertical gradients. The colors do not seem to be interpolated correctly.

Painting a bounded area using this code

[code]

The desired gradient would fade to transparent from top to bottom but you can see it's stuck at transparent

[code]

![Screenshot_20201028-153716](https://user-images.githubusercontent.com/7578219/97504344-e91dc18

[2020-10-28 22:44] gspencergoog commented on #68759
flutter/engine#22136

[2020-10-28 22:44] gspencergoog commented on #68759
flutter/engine#22135

[2020-10-28 22:48] amirh commented on #69232
This still doesn't seem to be resolved...
https://github.com/flutter/plugins/pull/3213

[2020-10-28 22:48] stuartmorgan commented on #69099
The key takeaway was: "It definitely looks like the driver is rejecting the shader, but not producing any error message when it does."

So I imagine this is likely something where we would need a working software fallback path and a driver blacklist to "fix".

[2020-10-28 22:49] Jparrgam opened #69250 "java.lang.UnsatisfiedLinkError"
Hi, I have the following error reported in firebase crashlytics, do you have any idea what could cause it?

`Fatal Exception: java.lang.UnsatisfiedLinkError: No implementation found for io.flutter.view.FlutterCallbackInformation io.flutter.embedding.engine.FlutterJNI.nativeLookupCallbackInformation(long) (tried Java_io_flutter_embedding_engine_FlutterJNI_nativeLookupCallbackInformation and Java_io

[2020-10-28 22:49] godofredoc commented on #69232
That is a test/build problem https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8865161897106601168/+/steps/Run_plugin_tests/0/steps/drive_examples/0/stdout

[2020-10-28 22:51] amirh commented on #69232
Ohh thanks, that is being worked on as well.

[2020-10-28 22:51] #69232 closed

[2020-10-28 22:56] creativecreatorormaybenot commented on #33245
@KabluBR It would be great to have a **new** issue for this in order to keep issue tracking maintainable.

[2020-10-28 23:05] keyonghan commented on #69249
The device seems to be running the test. Please let me know if anything needed from infra side.

[2020-10-28 23:08] Hixie opened #69252 "Dartdoc template names are inconsistent"
if you search for "@template" in the engine/src/flutter/lib/ui directory you'll find a variety of patterns:
[code]

We should settle on one prefix for this library and use it consistently.

[2020-10-28 23:12] gspencergoog commented on #69252
I didn't even know you could use ":" in the name. :-) I suppose it's just a string in the end.

I propose it be standardized on `dart.ui.class.symbol`. Sound good?

The foundation one probably snuck in with copy/paste.

[2020-10-28 23:14] HansMuller commented on #67497
I've also confirmed that AppBar uses its brightness parameter, or the AppBarTheme brightness property, as expected (https://github.com/flutter/flutter/issues/67497#issuecomment-704892459) on an Android pixel.

@feinstein - it would help to clarify the title and description of this issue. It seems to be problem with some (one?) emulator.

[2020-10-28 23:16] keyonghan commented on #69140
Recipe crashed at point 'Uncaught exception'

[code]

Do you have any idea about this crash? @godofredoc

[2020-10-28 23:21] jmagman commented on #60522
I'm going to close this.  None of these symbols are in Flutter or the generated app template:
[code]

If you are hitting an issue that you believe is a crash in Flutter, or related to the code generated by the Runner template, please file a new issue and completely fill out the template, with one issue per problem you are seeing.  If you are experiencing a crash, please include a symbolicated cras

[2020-10-28 23:21] #60522 closed

[2020-10-28 23:27] jmagman commented on #60657
@leonard-abusaa Can we get a symbolicated crash log? I can symbolicate Flutter symbols, but not symbols from your app.

@bazinac @sjosegarcia  "me too" comments just add noise.  At a minimum you should include a symbolicated crash log and the output of `flutter doctor -v`, or better yet, file a new issue and completely fill out the template so we can take a look.

[2020-10-28 23:34] KabluBR opened #69254 "URL strategy not working trying to remove hashtag(#) from PWA"
## Steps to Reproduce

To reproduce the bug, I just tried to adapt an existing app to web PWA and removing the # hashtag using this:

[STEPS TO REMOVE # FROM URL](https://github.com/flutter/flutter/issues/33245#issuecomment-705095853)

**Expected results:** url without the /#/ in my pwa

**Actual results:** crash with the following results:

## The error/bug:
[code]

FLUTTER DOCTOR -V

[code]

[2020-10-28 23:36] creativecreatorormaybenot commented on #53897
@hterkelsen Can you elaborate on why it is not possible to load the system fonts for emojis currently and more importantly what this means for the outlook for this issue?

[2020-10-28 23:38] creativecreatorormaybenot commented on #54330
@yjbanov I think closing this issue in favor of #53897 technically makes sense and it is also beneficial for maintaining the issues.

Still, I think that it would make sense to rename / edit the other issue to mention emojis as it seems like there are more people finding the emoji issue than the other issue and that does not even mention emojis.

[2020-10-28 23:40] creativecreatorormaybenot commented on #53897
@hterkelsen Thanks for that amazing insight 👌

Can you elaborate on why it is not possible to load the system fonts for emojis / special characters currently and more importantly what this means for the outlook for this issue?

[2020-10-28 23:43] chunhtai commented on #69058
The `router` in this paragraph
`If the **identity of the Router widget's delegates change** while an asynchronous operation is in progress, to keep matters simple, all active asynchronous operations will have their results discarded. It is generally considered unusual for these delegates to change during the lifetime of the Router.`

is referring to the element of Router widget. We usually say `li

[2020-10-28 23:45] mehmetf commented on #21961
I know that this is a P4 for now but the current favorite customer workaround for this is to use a protected method from `InlineSpan`. :-/

[code]

[2020-10-28 23:46] mehmetf commented on #21961
Ah, I did not see `toPlainText`. That'll do.

[2020-10-28 23:46] ferhatb commented on #58397
Verified its a bug in Firefox handling of objectBoundingBox. Fix is in progress. Easiest way to reproduce is using Flutter Gallery shrine example, the login next button will be incorrectly clipped.

[2020-10-28 23:51] feinstein commented on #67497
@HansMuller as I was converting my App to use `ColorScheme` I undertood how the `AppBar` changes it's system icons brightness and so I was able to fix it.

In a nutshell, I was trying to set the system icons brightness with `AnnotatedRegion` and `SystemChrome.setSystemUIOverlayStyle` but it was competing with the `AppBar` itself, so at the end they produced no effect at all.

Since this wasn't doc

[2020-10-28 23:53] ferhatb commented on #68704
@ErnestoSevilla are you seeing issue on firefox only ? have you tried chrome. I'm working on a clipping issue in firefox and checking if this may be same reason for failure.

[2020-10-28 23:57] Tom1380 commented on #67097
Yes I'm sorry I had forgotten.

[2020-10-29 00:05] Hixie commented on #69252
I have no strong opinion one way or the other, all sounds good to me.

[2020-10-29 00:05] filly82 commented on #13634
Works for me, thanks. But only if the App is already Running in the background. Unfortunately it does not work with a cold Start

[2020-10-29 00:06] jason-simmons commented on #67259
I tried reproducing this on the current master but was unable to.

This is the code that I used (based on the examples above):

<details>
  <summary>Code</summary>

[code]
</details>

The animation rendered correctly each time I double tapped.  I tried this on Moto G4 and Nexus 5X devices.

@darshankawar If this is still happening on master, then can you post the app that you're using to reproduce

[2020-10-29 00:12] godofredoc commented on #69140
This is because the fuchsia devices are not coming back after installing the new version. https://chromium-swarm.appspot.com/task?id=4f83cb6ea10deb10

If this is failing consistently I'd suggest reverting the last fuchsia_sdk roll

[2020-10-29 00:13] HansMuller commented on #67497
@feinstein - Just now, I'm updating AppBar to use defaults based on (just) the theme's ColorScheme and textTheme - https://github.com/flutter/flutter/pull/69251.

You're right about AppBar and its `AnnotatedRegion`. I was hoping that we didn't need to explain that apps should not also create an AnnotatedRegion for this purpose; maybe we should?

[2020-10-29 00:15] AvatarDevs opened #69256 "in_app_purchase only retrieves google play purchase options after hot restart on a debug build"
Running my app on release build, i am retrieving 0 items from the google play store.

If i run on debug, the first launch is also empty, however, after i hot restart, now my in app purchases are retrieved. I am getting no errors.

[2020-10-29 00:17] chornbe commented on #17606
Why is this closed while it's still a problem?

[2020-10-29 00:33] Darkhorse07232020 opened #69257 "DropDownButton Error"
I use DropDownButton in bottom navi screen, the DropDownButton is not work(Screenshot 1).
![2020-10-29_03h28_28](https://user-images.githubusercontent.com/67903345/97511097-49921a80-1997-11eb-8826-a3a01acf12a1.png)

When I click the dropdown, the error occurs.
I/flutter ( 3403): ══╡ EXCEPTION CAUGHT BY GESTURE ╞═══════════════════════════════════════════════════════════════════
I/flutter ( 3403):

[2020-10-29 00:37] #65408 closed

[2020-10-29 00:38] lxb0478 opened #69258 "about video hole support in flutter"
Hi, I'm wondering if there is video hole support in flutter. I tried to use video plugin which is implemented via texture, the video quality is not as good as playing with native video player. So I want to make a hole in graphic plane and play video in video plane. Seems that this method needs to modify flutter engine, will engine support this in the future? I think this method has better performa

[2020-10-29 00:39] sjosegarcia commented on #60657
Not to come off a bit rude, but I stated that my issue happens when the device is unplugged. Doesn't `flutter doctor -v` only displays when the device is physically connected?

[2020-10-29 00:40] MiltoxBeyond commented on #68784
Sorry readonly is a property for TextFormField. The problem I had was actually just a change of style on the TextFormField.  The styles made the input look bigger so I had to expand the container a bit to fit it in, since the customer wanted the field specifically in the appbar.  It's a non-issue. Thank you for your help.

Just to reiterate: Confirmed to be fixed in the Beta version.

[2020-10-29 00:44] timsneath commented on #60657
@sjosegarcia This command gives us a ton of useful information about your machine environment (for example, what exact build of Flutter and Xcode are you running). But as @jmagman notes, it's not sufficient -- we need the information asked for here: https://github.com/flutter/flutter/issues/60657#issuecomment-702307040

[2020-10-29 00:48] sjosegarcia commented on #60657
Thank you for explaining the command. I program on vscode:

[code]

[2020-10-29 00:53] keyonghan commented on #69140
Reran the builder on tot, and got a pass. Now engine tree is open.
Will keep monitoring before closing.
 (some context, all fuchsia bots were down until around 11:30 this morning.)

[2020-10-29 01:01] dgaedcke commented on #69058
If the only way to replace the delegate is to rebuild the MaterialApp, then that implies that a NEW router has been created.  When would that not imply a new Router Element as well, since the whole tree (and related scope) has changed?

In any case, I appreciate the feedback!!  I'll leave it to you to clarify the docs if needed, or to me to study more if not.  Thanks for the help.  Closing this is

[2020-10-29 01:01] #69058 closed

[2020-10-29 01:07] chaseDeil commented on #69179
Thanks for your reply, it solved my problem

[2020-10-29 01:11] feinstein commented on #67497
### TL;DR;

I think we should, but just some brief words about it, like:

### My understanding of the problem:

Many apps (like mine) have some screens with an `AppBar` (regular screens) and some without (login screen, announcement screen, on-boarding, etc). Some screens need light system icons and some dark. Controlling the system icons brightness will be a very different mechanism from some scre

[2020-10-29 01:12] #65656 closed

[2020-10-29 01:26] sohilmemon commented on #69257
@Darkhorse07232020 Can you provide some demo or code to see what's wrong?

[2020-10-29 01:26] stuartmorgan commented on #69258
The engine already supports adding native views to the rendering tree: https://flutter.dev/docs/development/platform-integration/platform-views

[2020-10-29 01:26] #69258 closed

[2020-10-29 01:28] Darkhorse07232020 commented on #69257
import 'dart:math';

import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
import 'package:provider/provider.dart';
import 'package:repeat_native/constants/colors.dart';
import 'package:repeat_native/providers/settings.dart';
import 'package:repeat_native/constants/assets.dart';
import 'package:repeat_native/helpers/localization.dart';
import 'package:repeat_native/ui/ch

[2020-10-29 01:32] alvarofps opened #69262 "Flutter fails unexpectedly while creating template Flutter project"
I get the following error, this occurs when I try to create a Flutter project in Android Studio

FileSystemException: FileSystemException: Exists failed, path = '/root/.pub-cache/hosted/pub.dartlang.org/flutter_template_images-1.0.1/lib/' (OS Error: Permission denied, errno = 13)
[flutter_01.log](https://github.com/flutter/flutter/files/5455620/flutter_01.log)

[2020-10-29 01:32] creativecreatorormaybenot opened #69263 "[web] CanvasKit Hot Restart does not work"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Run `cd bug`.
3. Run `flutter run -d chrome --dart-define=FLUTTER_WEB_USE_SKIA=true`.
4. See the application in Chrome.
5. Change some text in the code.
6. Press hot reload / hot restart (does not matter because of https://github.com/flutter/flutter/issues/53041).

**Expected results:** the text should change because of hot restart (the page w

[2020-10-29 01:33] Darkhorse07232020 commented on #69257
this is the source code.

[2020-10-29 01:50] ponnamkarthik commented on #69247
Hello @rubinbasha the issue is Opacity is covering the enter stack and its over the pageview so gestures are working with pageview

we can wrap Opacity in `IgnorePointer` which make pageview to work

[code]

[2020-10-29 01:56] godot0413301 commented on #51831
I think just have a conversation with Ubuntu and debian，Let them to install Roboto, San Francisco as default in their system.

[2020-10-29 01:58] jonahwilliams opened #69265 "iOS Devicelab failure due to malloc error on raster thread"
Happened on post_backdrop_filter_perf_ios__timeline_summary / 135aab9cf50f6417e355c3630ba9228d43de5660 . Seems to be different from the other failures.

[code]

[post_backdrop_filter_perf_ios__timeline_summary_135aab9_1 (2).log](https://github.com/flutter/flutter/files/5455673/post_backdrop_filter_perf_ios__timeline_summary_135aab9_1.2.log)

[2020-10-29 01:59] percula commented on #11951
Checkout my solution at https://stackoverflow.com/a/64583870/6591585. It only rebuilds what is necessary and will work for smaller expanded heights.

[2020-10-29 02:03] sohilmemon commented on #69257
Thanks @Darkhorse07232020 for the code snippet, but I can still find lots of error in the code, can you pls help me with that like you can send me one file with your problem or a complete demo working without any errors?

[2020-10-29 02:04] jonahwilliams commented on #68888
This happened again on 135aab9cf50f6417e355c3630ba9228d43de5660

[simple_animation_perf_ios_135aab9_2 (1).log](https://github.com/flutter/flutter/files/5455689/simple_animation_perf_ios_135aab9_2.1.log)

[2020-10-29 02:06] HuangJsong commented on #69174
When I run xcode  the files in the （..flutter_module/.ios/Flutter/engine ） will be deleted
➜  ~ flutter doctor -v
[✓] Flutter (Channel stable, 1.22.0, on Mac OS X 10.15.7 19H2, locale zh-Hans)
    • Flutter version 1.22.0 at /Users/a10.11.5/flutter
    • Framework revision d408d302e2 (4 weeks ago), 2020-09-29 11:49:17 -0700
    • Engine revision 5babba6c4d
    • Dart version 2.10.0
    • Pub downl

[2020-10-29 02:08] sohilmemon commented on #69262
@alvarofps I think there might be issues with the permissions. Can you specify where you have copied or install actual flutter SDK directory?

[2020-10-29 02:17] andymeadows commented on #50511
Hey, @darshankawar , I'm not sure what device @sanekyy was testing on, but on a physical device I believe this is fixed.  Both a Pixel XL running Android 10 and a Pixel 4 XL running Android 11 display this directly.  It also runs on an old LG V480 tablet running whatever the last update was (7.0, I believe).

Also, on a Pixel XL x86 emulator running Android 8.1.0 (API 27) and an emulated Galaxy Ta

[2020-10-29 02:20] Darkhorse07232020 commented on #69257
Can you send me the source code or demo using DropDownButton in Bottom navi(I made this using Dismissable widget)?

[2020-10-29 02:24] SaavyGirl commented on #69257
Good job

[2020-10-29 02:24] SaavyGirl commented on #69257
Good job

[2020-10-29 02:26] HangingClowns commented on #68766
Thanks, that has kind of solved the issue, not getting another complaint:

[code]

I'm a bit confused, why is this even an issue to begin with? If we need these libs to be added to our specific project, shouldn't they already be defaulted in the android project to begin with?

[2020-10-29 02:28] sethchhim commented on #68391
I am able to reproduce this.

I would like to note that the Flutter application does not become transparent. It instead does not update or draw after switching back to it's desktop, showing whatever the previous desktop had in that area.

[✓] Flutter (Channel master, 1.24.0-4.0.pre.86, on Linux, locale en_US.UTF-8)

Fedora 32, 33
bspwm 0.9.10-12-gddb2d32

[2020-10-29 02:29] Sun3 commented on #69254
I am having the same error:

[code]

[2020-10-29 02:36] #69249 closed

[2020-10-29 02:39] Darkhorse07232020 commented on #69257
can you help me?

[2020-10-29 02:48] jinfagang commented on #11951
@percula Do u have gif to post?

[2020-10-29 02:50] Lanch92 opened #69269 "Launch Screen is blank"
Random black screen appears when first lunch app
[<img width="533" alt="启动 app，启动页随机出现黑屏" src="https://user-images.githubusercontent.com/54097292/97519498-51bc7b00-19d4-11eb-9725-3f8f5a05b261.png">](url)

console log：[VERBOSE-2:profiler_metrics_ios.mm(184)] Error retrieving thread information: (ipc/send) invalid destination port

flutter doctor：
Doctor summary (to see all details, run flutter doct

[2020-10-29 02:53] omaracrystal opened #69270 "Documentation on OutlineButton vs OutlinedButton is not clear"
In documentation here -> https://api.flutter.dev/flutter/material/OutlineButton-class.html
Says "This class is obsolete, please use OutlinedButton instead."
I go to switch from OutlineButton to OutlinedButton and get several errors since the schema of this button is now different than previous.
When I tried to find code examples here --> https://material.io/develop/flutter/components/buttons#outli

[2020-10-29 02:56] sohilmemon commented on #69257
@Darkhorse07232020 Please find the simple demo using `ModalBottomSheet`.

![Simulator Screen Shot - iPad Air (4th generation) - 2020-10-29 at 08 22 41](https://user-images.githubusercontent.com/9163419/97519988-44959100-19c0-11eb-8031-813669a048c9.png)
![Simulator Screen Shot - iPad Air (4th generation) - 2020-10-29 at 08 22 56](https://user-images.githubusercontent.com/9163419/97519996-48291800-1

[2020-10-29 02:59] suztomo commented on #60313
In the documentation, there's a section on the limitation on "newer iOS devices". The term "newer" is obscure. (Is my iPhone 2020 part of it?) I cannot tell whether I should try this document.

https://flutter.dev/docs/perf/rendering/shader#limitations-and-considerations

[2020-10-29 03:00] ZipoNamberwan commented on #66901
I manage to solve the issue by removing cashfree_pg package from my app. This package is the culprit of this intent redirection vulnerability.

[2020-10-29 03:02] Darkhorse07232020 commented on #69257
@sohilmemon Okay.
But this is not like with mine.
I will send you demo

[2020-10-29 03:03] sohilmemon commented on #69257
@Darkhorse07232020 Sure, no worries

[2020-10-29 03:05] sohilmemon commented on #69269
@Lanch92 Have you properly followed documentation in order to add LaunchScreen to the app? or may be this article might help you with the problem.

https://artem-diashkin.medium.com/flutter-launch-splash-screens-1ac21282a110

[2020-10-29 03:11] Darkhorse07232020 commented on #69257
I will send you screen recorde video
[2020-10-29_06h05_52.zip](https://github.com/flutter/flutter/files/5455907/2020-10-29_06h05_52.zip)

[2020-10-29 03:12] jonahwilliams commented on #68742
Happened again on
[Uploading large_image_changer_perf_android_13896b3_2.log…]()

[2020-10-29 03:12] #69128 closed

[2020-10-29 03:13] sohilmemon commented on #69257
@Darkhorse07232020

Okay let me check.

[2020-10-29 03:18] sohilmemon commented on #69257
@Darkhorse07232020 Can you tell me how you are presenting this 'Filter Content' controller?

[2020-10-29 03:36] joeyda3rd commented on #69035
This technically does work, but doesn't solve the problem of removing the TabBar from the AppBar, if it's required there, then that's acceptable, just needs documented. There is currently no way to remove tabbar from appbar without requiring a manually sized void from other widgets rendered in the space it would normally occupy if it would reserve it's own space.

Title of this issue should read "

[2020-10-29 03:39] kamleshwebtech commented on #64184
I am still getting same error:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:mergeDebugJavaResource'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 14s
Exception: Gradle task assem

[2020-10-29 03:50] EdwynZN commented on #26833
for now the only solution I have come up is `controller.jumpTo(0.5)` to avoid reaching the initial position, hence avoiding the refresh, but still there should be a way to tell the RefreshIndicator Widget (maybe using notificationPredicate that it was not a user change)

[2020-10-29 04:04] wanjm commented on #64542
@jmagman could you please give me more details;
currently we use flutter to write core code and then use it as a module and then wrapped Android & ios as aar for  Android and IOS users;

but now we meeting customers whose app is totally written in flutter,
1. so can flutter users use the above AAR ?
2. or  do you mean we can provide a flutter plugin in such scenario?

[2020-10-29 04:10] cgonzalezTrionix commented on #27826
Hi everyone, I had the same problem during a collaboration using Git. At the end, the problem was a mismatch in flutter vesion. So, I ran flutter upgrade, and everything started to work.

[2020-10-29 04:10] slavap commented on #68930
@shihaohong Are you able to reproduce?

[2020-10-29 04:14] williamromero commented on #63458
This is something that is on documentation:

_

_
[ScrollController](https://api.flutter.dev/flutter/widgets/ScrollController-class.html)

And here, something about hasClients property:

[hasClients](https://api.flutter.dev/flutter/widgets/ScrollController/hasClients.html)

As i understand, if we have more of one element which uses scrollPosition, we need to test if controller has attached before

[2020-10-29 04:53] AnilMsp commented on #69190
hi @TahaTesser

flutter run --verbose
----------------------------------
[ +102 ms] executing: [/home/msp/Desktop/MyOldPcData/Flutter/sdk/flutter/] git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +29 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[        ] 84f3d28555368a70270e9ac8390a9441df95e752
[        ] executing: [/home/msp/Desktop/MyOldPcData/

[2020-10-29 05:02] rajeshzmoke commented on #30111
i noticed that this happens when the mobile device has slow internet connectivity.

[2020-10-29 05:43] Amitkumaraugurs opened #69274 "Using scan device SDK .jar"
I have tried to use .jar in flutter but not access the methods of .jar. Share me suggestions or solutions. I have tried jar given below steps.
1. Create and add module in Android project like "scansdk".
2. Put .jar file with gradle file in folder.
3. Add in setting.gradle.
4. Create flutter initilization in android main activity but flutterActivity and flutterView not found and listener not work i

[2020-10-29 06:07] jaypatel04 commented on #69102
We are also seeing the same issue. Our app only access notification and contacts. No other permission is request. But the crash format is same. We did not use the app for couple of days, and launched, and immediately it crashed.

[code]

[2020-10-29 06:13] darshankawar commented on #69142
Issue replicable on latest stable. Tested with ipad simulator.  Same issue doesn't occur in latest master.

[69142_stable.mov.zip](https://github.com/flutter/flutter/files/5456472/69142_stable.mov.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-29 06:13] mohamedhasan2002 opened #69275 "Execution failed for task ':app:compileFlutterBuildRelease'"
I'm getting this issue when I tried to clone a git project. A basic app without clone I am able to build...
OS: Linux ubuntu 64bit
IDE: Visual studio code
source:https://github.com/ibmkynl/ChitChat

`hasan@hasan-Lenovo-ideapad-320-15IAP:~/Desktop/ChitChat-master$ flutter build apk
Running "flutter pub get" in ChitChat-master...                  1,730ms
You are building a fat APK that includes bina

[2020-10-29 06:22] darshankawar commented on #69170
@scaraux
`flutter_inappwebview` is a 3rd party plugin. Flutter's equivalent first party plugin is `webview_flutter`. Please remove the relevant 3rd party plugin code and check if you still get the issue. If not, then it could be related with the plugin you are using and may have to open this issue in plugin owner's repo : https://github.com/pichillilorenzo/flutter_inappwebview/issues

If after usi

[2020-10-29 06:24] wanjm commented on #64542
out sdk can't be open sourced;

[2020-10-29 06:31] darshankawar commented on #67259
@jason-simmons Tried on latest master and not seeing the issue anymore.

@naamapps  can you check from your end if you are still seeing the issue ?

This is what I see now, which renders the icon properly everytime I double tap.

[67259.mp4.zip](https://github.com/flutter/flutter/files/5456528/67259.mp4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-29 06:32] darshankawar commented on #69174
@HuangJsong you'll need to provide a complete minimal reproducible code sample that we can copy paste and run to see the issue. you may upload all code in github and share the link here if that's suitable for you.

[2020-10-29 06:35] awfin opened #69276 "Web - Listview.separated not showing dividers"
## Steps to Reproduce

1. In main.dart
[code]
2. Run in Chrome

2. Run

**Expected results:**
Like in iOS
![image](https://user-images.githubusercontent.com/73585229/97533801-d9fe4880-19f3-11eb-8919-54bfa805d383.png)

**Actual results:**
![image](https://user-images.githubusercontent.com/73585229/97533848-f26e6300-19f3-11eb-8800-aa0cdcdf0988.png)

<details>
  <summary>Logs</summary>

[code]

[code

[2020-10-29 06:38] darshankawar commented on #68766
@HangingClowns
Are you using any 3rd party plugins like flutter_facebook_login` ? Check [this](https://github.com/roughike/flutter_facebook_login/issues/206) issue.

[2020-10-29 06:40] qq326646683 commented on #64156
it a good feature, what time will be merged?

[2020-10-29 06:58] flar commented on #33939
I've written up some of the general concepts on this issue as well as some unique implementation considerations for Flutter in this public flutter doc:

[flutter.dev/go/dirty-region-management](http://flutter.dev/go/dirty-region-management)

[2020-10-29 07:04] TahaTesser commented on #68784
This is fixed on beta and other channels, except stable
A complete reproduction of the issue is  here https://github.com/flutter/flutter/issues/68784#issuecomment-717061982
Labeling it further to track fix for this to the stable channel

[2020-10-29 07:07] darshankawar commented on #69207
@riyaz
Can you provide the complete log using `flutter build aar --verbose` ? Also note that Flutter currently only supports `x86_64, armeabi-v7a and arm64-v8a` architectures for building.

Also provide a complete minimal code sample along with the steps you took that leads to the crash, so that it'll be helpful for us to replicate the issue.

[2020-10-29 07:08] darshankawar commented on #69207
May be related to https://github.com/flutter/flutter/issues/62176 https://github.com/flutter/flutter/issues/69136

[2020-10-29 07:10] markusaksli-nc commented on #39614
You're right actually. With
[code]
it's reproducible on both my Android 11 emulator and Android 9 physical on the latest master `1.24.0-4.0.pre.138`.
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>

[2020-10-29 07:10] darshankawar commented on #69208
@vaimikpatel2908
Please provide a complete minimal reproducible code sample that shows the issue you are facing.
Thanks.

[2020-10-29 07:12] TahaTesser commented on #69129
This is fixed on beta and other channels, except stable
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Labeling it further to track fix for this to the stable channel

[2020-10-29 07:15] fanchou commented on #16863
#69146

[2020-10-29 07:17] darshankawar commented on #69222
@MeenakshiSundaram-MS
Check if any of [these](https://stackoverflow.com/questions/59509560/execution-failed-for-task-appdesugardebugfiledependencies) solutions work for you.

[2020-10-29 07:18] scaraux commented on #69170
As I stated in the issue, I get this exact bug in various places in my app, with or without a WebView being involved. I am not able to determine exactly what causes the bug to happen, except that I know for sure that it happens while "pushing" a route.

What lives in the route being pushed can be numerous things, but in my app I mostly noticed this bug while pushing a a route with webview, hence m

[2020-10-29 07:20] TahaTesser commented on #69150
Hi @nelliepereira
Are you seeing these logs when running a fresh new project?  Can you please create a new project and run it?
From your logs, please execute `flutter run -v` from the root of your project
[code]

If you're using other packages and seeing those errors, Can you please provide your`flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-10-29 07:22] TahaTesser commented on #69185
Hi @awfin
Given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-10-29 07:22] #69185 closed

[2020-10-29 07:23] Sammius commented on #68944
Hi @darshankawar.

I upgraded but it didn't help. I will look for a mistake in myself.

[2020-10-29 07:23] #68944 closed

[2020-10-29 07:26] Sammius commented on #66622
Hello @ditman!
Do we have hope for this?

[2020-10-29 07:28] TahaTesser commented on #69188
hI @egodefroy
When executing `flutter run --release --verbose`, can you please select a device when running, Android in this case
[code]
and provide complete logs with a device selected
Thank you

[2020-10-29 07:31] Darkhorse07232020 commented on #69257
@sohilmemon this is the part of test controller.
This includes Filter controller.
[tests.zip](https://github.com/flutter/flutter/files/5456759/tests.zip)

[2020-10-29 07:36] Lanch92 opened #69279 "Xcode12 can not run"
Runner's architectures (armv7, arm64) include none that iPhone 8 can execute (Intel 64-bit).

[2020-10-29 07:37] pedromassangocode commented on #69239
Hi @abelardolg
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/

One way to fix it is by adding the async keyword before `=>`.

Closing, as this isn't an issue

[2020-10-29 07:38] riyaz commented on #69207
@darshankawar

This seems related to dexguard, if i disable dexguard in release build then it works fine.

is there anyway to decode the native and findout for exact reason app is crashing, possibly dexguard is removing or obfuscating something but couldn't figureout which one is that from natiave crash, have already added below rules

[code]

Please find the build logs,
[code]

[2020-10-29 07:39] abelardolg commented on #69239
Hi there,
This code is provided by Flutter at this codelab; therefore, to my mind it's an issue related to Flutter.
If you don't fix this code, it's possible somebody opens an issue in the future.

Best regards.

[2020-10-29 07:39] ErnestoSevilla commented on #68704
I have done the test in chrome, but also in firefox, both in windows and in linux.

[2020-10-29 07:43] AkshataJ96 commented on #49143
I would like to work on this! @zanderso

[2020-10-29 07:46] Purvik commented on #32587
I'm facing same in our production apps as well. What solution you've got?

[2020-10-29 07:47] egodefroy commented on #69188
@TahaTesser

[code]

[2020-10-29 07:47] darshankawar commented on #69235
@moodstubos
Although I don't have the said device (api 22), I tried your code sample on Emulator with api 19 on latest stable, but didn't see the issue you mentioned.

[69235.mov.zip](https://github.com/flutter/flutter/files/5456821/69235.mov.zip)

Can you confirm if this is only happening on devices with api 22 ? or below 21 and above 23 too have this issue ? Can you also check on any latest devi

[2020-10-29 07:47] IagoBeuller opened #69281 "[Windows] TextField text being misplaced within its boundary when resizing window"
TextField text being misplaced within its boundary as the font size decreases relative to the window size, I used the InputDecoration filled to see what is going on and realized that the fill is also being misplacing, but not following the text. With the shadows also happens the same.
This bug happens on Windows, on Android it seems to be ok.

Image saved when in big size widget:
![output_big](htt

[2020-10-29 07:49] Alabhya268 commented on #69118
@clocksmith I want to work on this but can you please tell me where and how to add the code in documents ?

[2020-10-29 07:54] TahaTesser commented on #69190
Hi @AnilMsp
Not all objects in a list are created at once, you will need to scroll to those certain so it will be found in the widget tree, here you trying to gall items, even tho those list items don't exist.

Please read this https://medium.com/@diegoveloper/flutter-widget-size-and-position-b0a9ffed9407, you can see they  not getting `findRenderObject` on Tap when clearly item will be in the vie

[2020-10-29 07:54] #69190 closed

[2020-10-29 07:55] MPi3D commented on #69178
Hi,

This is working for me on channel dev.

Thanks for your help.

<details>
  <summary>flutter run -v</summary>

[code]

</details>

<details>
  <summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-29 07:56] toly1994328 opened #69282 "An annotation error in engine/lib/ui/painting.dart"
location: `engine/lib/ui/painting.dart : 4408`

![image](https://user-images.githubusercontent.com/26687012/97540627-d9b77a80-19fe-11eb-96aa-189c8884a521.png)

Here should use `Colors.white` to get a white color, not `Color.white`. It maybe a little mistake.

[2020-10-29 07:56] pedromassangocode commented on #69257
Hi @Darkhorse07232020
I need you to provide a minimal reproducible code sample. Please a runnable flutter code that reproduce the issue.
Thank you

[2020-10-29 07:57] darshankawar commented on #69236
@slimyTextBox
It seems to be an issue with the plugin, as the log says:

`cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is
correct and try again.
At line:1 char:34
+ ... PortImpl._handleMessage (dart:isolate-patch/isolate_patch.dart:169:5)
+                              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-10-29 07:57] #69236 closed

[2020-10-29 08:01] pedromassangocode commented on #69276
Hi @awfin
I see there's an open issue (https://github.com/flutter/flutter/issues/46339
) addressing the case you described.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-10-29 08:01] #69276 closed

[2020-10-29 08:02] darshankawar commented on #69247
@rubinbasha Please check above solution and see if it resolves your issue.
Thanks.

[2020-10-29 08:02] moodstubos commented on #69235
@darshankawar
I tried it on all my real devices, api 30, 29, 28, 25. No problems there. I also tried on **EMULATOR api 22** - no problem.
Only on this api 22 real device.

After some investigations it seems there is an issue with Align widthFactor in combination with RepaintBoundary.

in flutter/packages/flutter/lib/src/material/**drawer.dart** I have changed the following lines

[code]
This works

[2020-10-29 08:04] abaturyna opened #69283 "Build for ios fails in Xcode 12 : Undefined symbols for architecture armv7: "_OBJC_CLASS_$_FlutterExifRotationPlugin", referenced from: objc-class-ref in GeneratedPluginRegistrant.o"
Undefined symbols for architecture armv7:
  "_OBJC_CLASS_$_FlutterExifRotationPlugin", referenced from:
      objc-class-ref in GeneratedPluginRegistrant.o

[2020-10-29 08:08] darshankawar commented on #69250
@Jparrgam
Please provide more information on the issue. Is it coming from production app ? Can you provide a minimal reproducible use case that could possibly throws this issue in non-prod environment ?

[2020-10-29 08:13] iapicca commented on #69262
possibly a duplicate of https://github.com/flutter/flutter/issues/50880
should be fixed on master https://github.com/flutter/flutter/pull/63540

[2020-10-29 08:15] AhmedAbogameel commented on #25841
any update ?

[2020-10-29 08:15] gilbert-jolly opened #69284 "Calling Path.getBounds() has the side effect of making future calls to Path.shift() or Path.transform() to fail valid path assertions"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Add the following code before setState()
3. Run the code

[code]

**Expected results:** The path should be shifted

**Actual results:**
Exception

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

[✓] Flutter (Channel dev, 1.24.0-3.0.pre, on Mac OS X 10.15.4 19E287 darwin-x64, locale en-GB)
[✓] Android toolchain - develop for Androi

[2020-10-29 08:19] darshankawar commented on #69256
@AvatarDevs
Please provide `flutter doctor -v` and a minimal reproducible code sample that shows the issue.
Thanks.

[2020-10-29 08:21] TahaTesser commented on #69125
Hi @benPesso
based on your steps , i tried to to reproduce HTTP and there no exception is thrown when using listview with 50 items with no network access
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>code sample</summary>

[code]

</details>

Can you please provide your a complete reproducible minimal code sample and steps to reproduce
Thank you

[2020-10-29 08:22] darshankawar commented on #69269
@Lanch92 Please provide a complete minimal reproducible code sample that shows the issue you are facing. Also provide which device and OS version are you seeing this issue on. Check above link to see if you are following all steps in order to implement launch screen.

[2020-10-29 08:23] Lanch92 commented on #69269
not all device black, but random device random sys black

[2020-10-29 08:26] darshankawar commented on #69274
Hi @Amitkumaraugurs
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this.
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the

[2020-10-29 08:26] #69274 closed

[2020-10-29 08:27] Lanch92 commented on #69269
Any device and any OS version could happen.  At present, on iOS14.x iPhone7p, iOS12.x iPhone7 iPhone6  see this issue

[2020-10-29 08:27] TahaTesser commented on #69026
Hi @safeDev15

Can you please provide your `pubspec.yaml` and a complete reproducible minimal code sample
Thank you

[2020-10-29 08:30] mit-mit commented on #68603
We believe this is now fixed in Dart master via https://github.com/dart-lang/sdk/issues/43884

[2020-10-29 08:35] darshankawar commented on #69275
@mohamedhasan2002
This seems to be an issue with the third party plugin you are using, flutter_datetime_picker`. Please consider opening this issue in plugin owner's repo : https://github.com/Realank/flutter_datetime_picker/issues/128.

Closing this as not an issue with flutter. If you disagree or think removing 3rd party plugins is still causing the issue, write in comments and I'll reopen.
Thank

[2020-10-29 08:35] #69275 closed

[2020-10-29 08:35] Lanch92 commented on #69269
Maybe it'll be clearer that way：
[
![鲁安朝 2020-10-10 16](https://user-images.githubusercontent.com/54097292/97544409-86482b00-1a04-11eb-8612-14d203a1bfa6.gif)
](url)

[2020-10-29 08:37] torindev commented on #61450
yep, the same. Really not cool. 60fps was marketing killer-feature. I think that the priority of this problem should be high.

[2020-10-29 08:38] TahaTesser commented on #69240
Hi @Jparrgam
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comment

[2020-10-29 08:38] #69240 closed

[2020-10-29 08:44] moodstubos commented on #69235
I know testet on a nexus 7 (2012):

- Nexus 7
- android-arm
- Android 5.1.1 (API 22)

also on this devices it works like expected even though it has the same api level (22) as the problematic device. Only difference is the smaller screen and **android-arm** instead of **android-x86**

I think it is a low level issue.

[2020-10-29 08:45] TahaTesser commented on #69279
Hi @Lanch92
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample and steps to reproduce
Thank you

[2020-10-29 08:47] pedromassangocode commented on #69263
Reproducible on the latest `master`, `dev` and `beta` channels.

Bellow is the logs from the moment you do Hot Restart/Reload. It is just stuck until you refresh the webpage manually.

<details><summary>Logs</summary>

[code]
</details>

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-10-29 08:49] AnilMsp commented on #69190
Thank you for support

but it working fine for vertical List view and horizontal not supported that?

can you please help for how to add randerbox dx in list after widget ready?

[2020-10-29 08:49] v1z4 commented on #68603
Great, thanks:)

I'll test it today

[2020-10-29 08:51] rubinbasha commented on #69247
I did try wrapping Opacity in an IgnorePointer but that unluckily did not solve the issue.

[2020-10-29 08:52] mit-mit commented on #68603
Please note that the fix has rolled to Flutter master yet; it just landed 10 hours ago on Dart. It first needs to roll to Engine (looks like https://github.com/flutter/engine/pull/22189), and then Engine needs to roll here to Flutter framework.

[2020-10-29 08:54] pedromassangocode commented on #69262
Hi @alvarofps
Can you try Flutter master channel to see if the issue reproduces?
Thank you

[2020-10-29 09:01] naamapps commented on #67259
@darshankawar
Can confirm the issue is resolved in latest master.
Thanks guys!

[2020-10-29 09:04] pedromassangocode commented on #69282
Can confirm that there is a typo in the docs:
https://github.com/flutter/engine/blob/ca05bdccc171f87a9804532013292c90544d384f/lib/ui/painting.dart#L4408

[2020-10-29 09:04] darshankawar commented on #69284
Not sure if this is specific to web, because on Android, same code returns below error log:

<details>
<summary>android log</summary>

[code]

</details>
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>web error log</summary>

[code]

</details>

[2020-10-29 09:06] dleurs opened #69287 "Flutter web Github Page white screen"
Dear Flutter developer,

I am having a white screen on my flutter web app on github pages, while it is working fine on dev.

However, Github Pages is one of the three recommended way to deliver Flutter Web on Flutter doc.

I will reproduce the error with the basic flutter app :

[code]
Replace below [YOUR_USER_NAME] and [YOUR_GITHUB_REPO_NAME]
[code]
[code]
1. Create a github repo, called like YOU

[2020-10-29 09:13] bytelyus commented on #68428
Hi there ... Facing same issue as @whiteLT  ... just upgraded to channel stable 1.22.2 yesterday ...

`
/Users/miguelangelcamachosanchez/develop/flutter/.pub-cache/hosted/pub.dartlang.org/connectivity-2.0.0/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityBroadcastReceiver.java:16: error: cannot find symbol
import androidx.annotation.RequiresApi;
                          ^
  symb

[2020-10-29 09:16] bytelyus commented on #68428
Hi there ... facing same issue as @whiteLT  ... just upgrade to stable channel 1.22.2 yesterdady ...

Error output:

`/Users/username/develop/flutter/.pub-cache/hosted/pub.dartlang.org/connectivity-0.4.9+5/android/src/main/java/io/flutter/plugins/connectivity/ConnectivityBroadcastReceiver.java:16: error: cannot find symbol
import androidx.annotation.RequiresApi;
                          ^
  symbo

[2020-10-29 09:18] bytelyus commented on #68428
note only happens when building for --release  ... also did upgrade plugging to 2.0.0 with same results ...

[2020-10-29 09:21] TahaTesser commented on #69254
This doesn't reproduce in a new project, given the reproduce case is for existing projects, makes sense
https://eager-agnesi-6e5382.netlify.app/
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-29 09:25] whiteLT commented on #68428
@bytelyus I managed to bypass that error. In my case when I was building with flutter build release command I was getting some other errors in my 3rd libs. I would suggest opening connectivity plugin build gradle and chaning sdk version to higher.

[2020-10-29 09:27] gilbert-jolly commented on #69284
I believe it is specific to web, the application runs fine on android and iOS, but fails on web

[2020-10-29 09:29] MeenakshiSundaram-MS commented on #69222
Thanks a lot, @darshankawar. This solution helped me. I had tried many things but this worked for me. Thanks a lot

[2020-10-29 09:29] #69222 closed

[2020-10-29 09:32] TahaTesser commented on #69281
Hi @IagoBeuller
I tried different sizes on  ` double px_ratio = (112 / boundary.size.width)` but output looks same on Windows

### Output
![output](https://user-images.githubusercontent.com/48603081/97550309-8130af00-19f7-11eb-9564-10bfe24776eb.png)

<details>
<summary>code sample</summary>

[code]

</details>

### Assets
[assets.zip](https://github.com/flutter/flutter/files/5457376/assets.zip)

[

[2020-10-29 09:33] naamapps opened #69288 "TextField can't handle writing in both RTL and LTR"
## Problem Description
When the app directionality is RTL and writing text that is both RTL and LTR the TextField is going crazy and can't handle spaces and alignments.
I have found out a few things while testing this behaviour:
1. If I write in a RTL language and the directionality of the app is also RTL, the textfield is working fine. However, if I write in a LTR language and the directionality

[2020-10-29 09:33] DanielSchwiperich commented on #65995
When using this version, it works on the simulator, but at least my real ipad pro device quits the app (already on first click) when trying to pick a photo.
When using `^0.6.7+12` it works fine on the real device / ipad

[2020-10-29 09:33] pedromassangocode commented on #69270
Hi @omaracrystal
This is definitely a typo, looks the docs need to be updated.
The documentation of OutlinedButton is at https://api.flutter.dev/flutter/material/OutlinedButton-class.html.

Please refer to https://github.com/flutter/flutter/issues/54776 for some usage examples.

Since this is an issue in the Material Design website I'm going to close it.
Thank you

[2020-10-29 09:33] #69270 closed

[2020-10-29 09:35] pedromassangocode commented on #69283
Hi @abaturyna
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-10-29 09:36] Darkhorse07232020 commented on #69257
Hi, @pedromassangocode.
this is the part of the code...
[tests.zip](https://github.com/flutter/flutter/files/5457398/tests.zip)

[2020-10-29 09:38] mohammad-alshelleh opened #69289 "my flutter app do not run in iphone device from android studio"
`Automatically signing iOS for device deployment using specified development team in Xcode project: 7R6D66J964
Running Xcode build...
Xcode build done.                                           11.2s
Installing and launching...
Error launching application on iPhone.`

[code]

[2020-10-29 09:38] mit-73 opened #69290 "DartDoc failed because Diagnostics"
## Where does the error

dart: `>=2.10.0 <2.11.0`
flutter: `>=1.22.0 <2.0.0`
Using plugin: `webview_flutter: ^ 1.0.5`

I think these errors come from `foundation/diagnostics.dart`, as there are some shortcomings in the documentation.

## Steps to Reproduce

1. Run `dartdoc`
2. ...
3. dartdoc failed
<details>
  <summary>Logs</summary>

</details>

[2020-10-29 09:39] bytelyus commented on #68428
thanks @whiteLT  ... i think its on the highets possible. This is build.gradle @ connectivity android level

`group 'io.flutter.plugins.connectivity'
version '1.0-SNAPSHOT'
def args = ["-Xlint:deprecation","-Xlint:unchecked","-Werror"]

buildscript {
    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:3.3.0'
    }
}

roo

[2020-10-29 09:44] czl1378 commented on #49531
Any updates?

[2020-10-29 09:50] hamdikahloun commented on #68428
Hi @whiteLT

Can you please provide your flutter doctor -v.

Thank you

[2020-10-29 09:50] chinmoy12c commented on #69247
@rubinbasha use github markdown, encapsulate your code with three back quotes( ` ).

[2020-10-29 09:52] #27857 closed

[2020-10-29 09:53] lizhuoyuan opened #69291 "Querying the current media using MediaQuery.of will cause your widget to rebuild automatically whenever the MediaQueryData changes"
code:
[code]
gif:
![image](https://user-images.githubusercontent.com/15923901/97552719-931e4c00-1a0f-11eb-9190-b1da5a6744b9.png)

And i saw this：
![image](https://user-images.githubusercontent.com/15923901/97550502-b693c780-1a0c-11eb-96a4-4f85dba17fa9.png)

Is there any way for me to use MediaQuery.of but avoid rebuild？

[2020-10-29 09:54] bytelyus commented on #68428
hi @hamdikahloun  ... here is mine:

`[✓] Flutter (Channel stable, 1.22.2, on Mac OS X 10.15.7 19H2, locale es-ES)
    • Flutter version 1.22.2 at /Users/miguelangelcamachosanchez/develop/flutter
    • Framework revision 84f3d28555 (13 days ago), 2020-10-15 16:26:19 -0700
    • Engine revision b8752bbfff
    • Dart version 2.10.2

[✓] Android toolchain - develop for Android devices (Android SDK ve

[2020-10-29 09:55] darshankawar commented on #69288
@naamapps Can you elaborate on `if I write in a LTR language and the directionality of the app is RTL - the issue come up.`

[2020-10-29 09:55] bytelyus commented on #68428
He @hamdikahloun ...here is mine:

`[✓] Flutter (Channel stable, 1.22.2, on Mac OS X 10.15.7 19H2, locale es-ES)
    • Flutter version 1.22.2 at /Users/miguelangelcamachosanchez/develop/flutter
    • Framework revision 84f3d28555 (13 days ago), 2020-10-15 16:26:19 -0700
    • Engine revision b8752bbfff
    • Dart version 2.10.2

[✓] Android toolchain - develop for Android devices (Android SDK vers

[2020-10-29 09:55] chinmoy12c commented on #69193
I've added a ```verticalSpacing``` property to add same amount of spacing after each ```NavigationRailDestination```. Should I also add a property for a ```NavigationRailDestination``` so that the ```verticalSpacing``` can be overridden by each item individually if necessary?

[2020-10-29 09:56] bytelyus commented on #68428
Hi @hamdikahloun .. here is mine

`[✓] Flutter (Channel stable, 1.22.2, on Mac OS X 10.15.7 19H2, locale es-ES)
    • Flutter version 1.22.2 at /Users/username/develop/flutter
    • Framework revision 84f3d28555 (13 days ago), 2020-10-15 16:26:19 -0700
    • Engine revision b8752bbfff
    • Dart version 2.10.2

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    •

[2020-10-29 09:59] arieffajargemilang commented on #16564
i have same problem. can i use this with out add container height, cause if i add some height on container and use smaller screen i get some overloaded error.

[2020-10-29 09:59] naamapps commented on #69288
@darshankawar Sorry I forgot to upload the video I recorded for the issue.
Here it is

[RTL issue.mp4.zip](https://github.com/flutter/flutter/files/5457507/RTL.issue.mp4.zip)

Hope it's clearer now

[2020-10-29 10:02] darshankawar commented on #69289
@mohammad-alshelleh
See if [this](https://github.com/flutter/flutter/issues/66862#issuecomment-711111238) solution works for you.

[2020-10-29 10:07] FaanNewbDev commented on #69193
Thx, if whe could override each one, it would be more then perfect. It would open even more layout possibilities. Thank you for tile and effort

[2020-10-29 10:09] pedromassangocode commented on #69252
I remember seeing this exact same issue in the framework.
I suggest to expand this to the framework as well since currently there is no a standard and everyone is doing it differently.

I suggest the pattern bellow:
`directory.filename.className.symbol`

[2020-10-29 10:09] imdigitalashish opened #69292 "WASM support for Flutter for dart2js"
Hey there are many articles saying that wasm is faster than anything on the web

What if Flutter dart compile to wasm ( web assembly ) instead of Dart2js.. Because if it does... Then the flutter website will be faster than react vue or any other javascript framework

PLEASE REPLY IF THERE IS ANY ISSUE WITH WASM

[2020-10-29 10:10] darshankawar commented on #69290
@mit-73
Assuming you are using [dartdoc](https://pub.dev/packages/dartdoc) plugin, issues related to it may have to report in this repo : https://github.com/dart-lang/api.dart.dev/issues

[2020-10-29 10:15] amitozalvo commented on #67915
I am able to "fix" this behavior without restarting the app by initiating a barcode scan with the camera of the phone (using the library barcode-scan).

It's really not a workaround but this is what my users are doing right now to work with it

[2020-10-29 10:15] hamdikahloun commented on #68428
This error happened because you have other error in your project:

![Screenshot_20201029_110845](https://user-images.githubusercontent.com/32666446/97554688-66e6d900-19d7-11eb-930c-18429eb34ea8.jpg)

Please repair any errors already existing in your Log and try again .

[2020-10-29 10:16] darshankawar commented on #69291
@lizhuoyuan
Your question is better suited for StackOverflow.  Please see https://flutter.dev/community for resources and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-10-29 10:16] #69291 closed

[2020-10-29 10:19] darshankawar commented on #69292
Closing this as duplicate of [41062](https://github.com/flutter/flutter/issues/41062)

[2020-10-29 10:19] #69292 closed

[2020-10-29 10:20] HangingClowns commented on #68766
hi @darshankawar i don't have that configuration in my build settings.

[2020-10-29 10:21] TahaTesser commented on #69190
Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-10-29 10:26] marqueetest opened #69293 "On click to push notification not navigate to other page why?"
![Screenshot 2020-10-29 152846](https://user-images.githubusercontent.com/59277680/97554783-4762a700-19fd-11eb-98e4-f3d28c2137f7.jpg)

I configure everything according to firebase document for push notification and we got notification message on the simulator but on click to the notification is not navigate to other pages in flutter why. what I am doing wrong in below code.
1) add the google-servi

[2020-10-29 10:29] arcas0803 commented on #23913
Is there any update? I am having issues with the fullscreen too.
When you tap on a textfield, the fullscreen disappear.

[2020-10-29 10:30] darshankawar commented on #67259
Closing this as resolved based on @naamapps's last message above.

Could everyone who still has this problem please file a new issue with the exact description of what happens, logs, and the output of `flutter doctor -v`.
All system setups can be slightly different, so it's always better to open new issues and reference related issues.

[2020-10-29 10:30] #67259 closed

[2020-10-29 10:34] tahadekmak commented on #4980
textDirection: TextDirection.rtl,

[2020-10-29 10:34] fourman-alex commented on #67635
Adding reproducable steps.
This might be a different issue but I think there is an underlying common problem. The issue I'm seeing has to do with hot reload during debug when breakpoints are present and changes are introduced in between hot reloads.
This happens with DevTools debugger/Android Studio/Visual Code
Happens **only on web**

<details>
  <summary>Reproducable code</summary>

[code]
</det

[2020-10-29 10:40] bytelyus commented on #68428
thanks for the info @hamdikahloun  .. i have no clue what those errors could be and have no idea where to look for ...

i am thinking to just re-create a new project with latests systems upgrades ... and see what happens..

upgrading flutter can get a bit anooiying ... i get scarred every time i see "new flutter version" advise ... :|

[2020-10-29 10:42] darshankawar commented on #69207
@riyaz
Can you provide app level and project level `build.gradle` ?

[2020-10-29 10:44] mohammad-alshelleh commented on #69289
@darshankawar
thank you , i updated flutter , But it became an application after run in my device and killed from history and open again , do not open , i do not have any error in code , why ?

[2020-10-29 10:44] darshankawar commented on #69269
@Lanch92
We will need a minimal complete reproducible code sample that we can try at our end to replicate the issue.
Thanks.

[2020-10-29 10:45] pedromassangocode commented on #69198
Hi @sooxt98
I'm not sure if I understood the issue correctly. Can you please elaborate and what is your expected vs actual results?
I need you to provide your `flutter doctor -v`.
Thank you

[2020-10-29 10:46] darshankawar commented on #69235
Thanks for the device details. I will leave it open as device-specific, since it's only happening on certain api level device, which I don't have to verify.

[2020-10-29 10:50] sooxt98 commented on #69198
@pedromassangocode I believe this issue exist since flutter first release until now; as you can see the code provided margin is set to 15, but the white margin in the output result is giving different height which different than 15

[2020-10-29 10:53] kungfuslippers commented on #60894
Same problem for me.

[2020-10-29 10:57] HangingClowns commented on #68766
Here's my app build.gradle:
[code]

But i keep getting this:
`I/zygote  (20303): Rejecting re-init on previously-failed class java.lang.Class<androidx.activity.ComponentActivity$2>: java.lang.NoClassDefFoundError: Failed resolution of: Landroidx/lifecycle/LifecycleEventObserver;`

do i need to include a different package in my app's build? i have no idea hwere this is even coming from:

[code]

I"

[2020-10-29 10:58] darshankawar commented on #69247
@rubinbasha
I tried the code sample as mentioned [above](https://github.com/flutter/flutter/issues/69247#issuecomment-718307660) and was able to swipe properly without any issues.

[69247.mp4.zip](https://github.com/flutter/flutter/files/5457821/69247.mp4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Closing this as non-issue after using the above referred updated code.

[2020-10-29 10:58] #69247 closed

[2020-10-29 11:00] pedromassangocode commented on #68961
Hi @akshg05
Can you please provide your `flutter doctor -v` and a minimal complete reproducible code sample?
Thank you

[2020-10-29 11:00] TahaTesser commented on #69233
Hi @peterIrving
just open ios plugin pod in Xcode through Android Studio
<img width="320" alt="Screenshot 2020-10-29 at 4 12 21 PM" src="https://user-images.githubusercontent.com/48603081/97558996-e2aa4b00-1a02-11eb-9821-e08635eb3461.png">
<img width="320" alt="Screenshot 2020-10-29 at 4 20 11 PM" src="https://user-images.githubusercontent.com/48603081/97559000-e3db7800-1a02-11eb-917f-bd617923a523

[2020-10-29 11:10] mit-73 commented on #69290
Okay, I have [duplicated this issue](https://github.com/dart-lang/api.dart.dev/issues/79)

[2020-10-29 11:11] bytelyus commented on #68428
I just found out that setting minifyEnabled = false gets out the main problem ... but .. i am usuing flutter_background_geolocation which requires minifyEnabled = true ... so, my app brokes again when running on release because a fail on geolocation plugin  (no error message ... just broke and screen out ... but at least could build)

So ???? ... the fix for one thing breaks the thing in another o

[2020-10-29 11:12] unicomp21 commented on #179
Some bindings for google filament, webassembly/typescript would be really nice.

https://github.com/google/filament/issues/3076

[2020-10-29 11:14] unicomp21 commented on #179
This also looks hugely promising for the webgl/browser front (ie flutter web)

https://github.com/Blimster/babylon_dart

[2020-10-29 11:20] TahaTesser commented on #69202
### Preview
![ezgif com-gif-maker](https://user-images.githubusercontent.com/48603081/97561857-c7413f00-1a06-11eb-8985-84fa8cb32f96.gif)

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

[code]

</details>

[2020-10-29 11:44] lizhuoyuan commented on #36533
At startup, the size of the application window may not be known before Dart code runs. If this value is observed early in the application lifecycle, it may report Size.zero.

[flutter doc](https://api.flutter.dev/flutter/dart-ui/Window/physicalSize.html)

[2020-10-29 11:45] pranjalchaplot opened #69294 "'package:cloud_firestore/src/firestore.dart': Failed assertion: line 49 pos 12: 'app != null': is not true."
Hi,
I have a compile error every time that I run my app. I have 3 views, Home Page, Hack Page, and Hack Screen. Hack Page: contains the card where I want to show my life hack of the particular category. Hacks Screen is the file where I control the firestore stuff (the hacks of each category). Home Page is the home of the app and it contains the list of categories in the form of cards.

My main goa

[2020-10-29 11:50] lizhuoyuan commented on #69007
I upgraded flutter to 1.20.4
I will try path_provider 1.6.22 in the near future.
Thank you.

[2020-10-29 11:54] IamGiel commented on #33511
any update here?

[2020-10-29 11:58] darshankawar commented on #69290
@mit-73 Thanks. I am closing this from here. Feel free to comment if you think it need to be kept open in this repo.

[2020-10-29 11:58] #69290 closed

[2020-10-29 12:00] kduvnjak commented on #61450
Same problem on iOS, also.

[2020-10-29 12:01] riyaz commented on #69207
I can DM you if thats fine.

[2020-10-29 12:05] ErnestoSevilla commented on #68704
this is with firefox
![iconosfirefox](https://user-images.githubusercontent.com/3041635/97568737-5c344000-19e7-11eb-94fa-ac52d3d5a164.jpg)

[2020-10-29 12:07] darshankawar commented on #69293
@marqueetest
Firebase issues are tracked in this repo: https://github.com/FirebaseExtended/flutterfire/issues.
Closing this from here.

[2020-10-29 12:07] #69293 closed

[2020-10-29 12:08] AnilMsp commented on #69190
This is resolved with stack overflow
https://stackoverflow.com/questions/64589604/the-method-findrenderobject-was-called-on-null

So if you want to achieve this, you need to you "SingleChildScrollView" with axis as "Axis.horizontal".

[2020-10-29 12:11] darshankawar commented on #69294
@pranjalchaplot
This issue is better suited on StackOverflow. Please consider asking support questions there.
If you think the issue is related to the `cloud_firestore` plugin and not with your implementation, open the issue in Firebase dedicated repo : https://github.com/FirebaseExtended/flutterfire/issues
Closing this from here.

[2020-10-29 12:11] #69294 closed

[2020-10-29 12:12] tolo commented on #67269
I believe this may be caused by dynamic font size settings on iOS, and also the fact that `CupertinoSliverNavigationBar` forces the text scale factor to 1.0 - the docs states the following:

This is however incorrect, as navigation bar content is indeed scaled on iOS 14 (but not on iOS 13 and earlier).

There is also a similar issue with "jumping" text (and back button icon) when using `CupertinoN

[2020-10-29 12:13] darshankawar commented on #69289
@mohammad-alshelleh sorry didn't understand your comment. Is your original issue of app not running on iphone is resolved or not yet ?

[2020-10-29 12:14] Myliu1904 opened #69295 "Wallpaper app, gallery saver, permission handler"
### Hi guys, I'm making my app on flutter (wallpaper app), I finished almost everything, but I ran into a problem.
1) For some reason gallery saver, permision handler does not work
2) And for some reason pexels api only loads 15 photos in my application, I need to do pagination, but I can't do it))
Please who can help
https://github.com/Myliu1904/Wallpaper-hd.git

[2020-10-29 12:15] mediproductions commented on #63719
Hi,

my application is a multi language one so I really need another way to set the locale for this module.
Thank you

[2020-10-29 12:16] mohammad-alshelleh commented on #69289
yes resolved

[2020-10-29 12:18] HangingClowns commented on #68766
for some strange reason, when I analyze my apk, inside of class.dex i seem to be missing that class, so something strange is happening. Could it be some other plugin I'm using is not using androidx? Although I thought jetifier should be fixing that?

[2020-10-29 12:24] TahaTesser commented on #68713
No exceptions PopOS 20.10

[code]

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-29 12:26] tim-teacher commented on #60192
Have the same issue with last stable release..... Before everything was fine.

[2020-10-29 12:26] tim-teacher commented on #60192
this issue, is not resolved and should not be closed.

[2020-10-29 12:26] HangingClowns commented on #68766
just to circle back, seems to be more weird errors coming in:
[code]
I even changed my version of sdk version and turned of multidex but seems that it's still using dex? I thought after version 21 that ART is used so then no need to pull in dex?

[code]

[2020-10-29 12:31] tgucio opened #69296 "Collapsed selection boundaries move during widget scroll"
## Steps to Reproduce

* Run the test app with an expandable TextField (maxLines: null) with limited height constraints so scrolling is enabled.
* Paste multi-line content so that scrolling is needed.
* Start selection using horizontal drag (vertical drag not working per #28676).
* scroll using mouse wheel and move the mouse cursor a bit

**Expected results:** Selection baseOffset stays the same a

[2020-10-29 12:41] noteScript commented on #69030
hello,@darshankawar
[code]

The above code still reports an error：
[code]

[2020-10-29 12:44] pedromassangocode commented on #69239
Hi @abelardolg
Thanks, in fact the Flutter Codelab issues are tracked here.
I will leave this open for a fix in the codelab.

[2020-10-29 12:45] darshankawar commented on #69288
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[69288_mast.mp4.zip](https://github.com/flutter/flutter/files/5458378/69288_mast.mp4.zip)

[2020-10-29 12:46] darshankawar commented on #69289
Closing this as resolved.

[2020-10-29 12:46] #69289 closed

[2020-10-29 12:47] #68757 closed

[2020-10-29 12:51] TahaTesser commented on #62666
@dcharkes
Can this be closed since https://github.com/flutter/website/pull/4464 is merged?
Thank you

[2020-10-29 12:52] darshankawar commented on #69295
Hi @Myliu1904
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the

[2020-10-29 12:52] #69295 closed

[2020-10-29 12:53] naamapps commented on #69288
@darshankawar Although you already put those tags, I'm afraid the video you sent shows a different (and still relevant) bug (the one where you can't delete spaces).
To see the bug I've talked about you need to write in both RTL and LTR languages at same time.
You only have written in English, which does have a bug as well with RTL directionality, bug not the bug I showed in my video.
Please try ag

[2020-10-29 13:00] kin-cheung opened #69297 "[_XCTRunnerAppDelegate window]: unrecognized selector sent to instance"
## Steps to Reproduce

I followed this integration_test [tutorial](https://pub.dev/packages/integration_test) until the end and everything worked with some tweaks, including making a test case that actually passes. Since the tutorial didn't show us how to test iOS with Firebase Testlab, which is what I wanted to do, I went one step further to make a package to test it with Firebase Test lab. So, I

[2020-10-29 13:02] bytelyus commented on #68428
thanks for your help, mates ...

just to let you know that re-creating the project made the magic happen :)

it's a  bit frustrating every time there is an update and red lines starts to appear ... This is the third time i had to re-create the full project (android and ios specific configurations also)  ... to make everything works as it used to work

Flutter 4 Live!!

[2020-10-29 13:08] hamdikahloun commented on #68428
Breaking changes info : https://flutter.dev/docs/release/breaking-changes

[2020-10-29 13:09] MartinHlavna commented on #60198
@ebajrami Hello, did you please got that workaround working?

@xster , @afrueh Could you be please more elaborate on workaround details? We are trying to achieve something similar. We have code triggered by   `WorkManager` and also have synchronization problems between isolates. We have failed to solve them by `SendPort`/`ReceivePort` because of race conditions.

Now we are trying to share `Flutte

[2020-10-29 13:11] amirh opened #69298 "Document CameraException error codes."
It's unclear what are the possible values of [CameraException.code](https://github.com/flutter/plugins/blob/8a613b9c55e4b52a7e815eeaafdf39d68176cb72/packages/camera/lib/camera.dart#L131).

[2020-10-29 13:11] hamdikahloun commented on #36375
ExoPlayer upgraded to latest version 2.12.1.
PR Merged : https://github.com/flutter/plugins/pull/3204

Thank you

[2020-10-29 13:12] darshankawar commented on #69030
@noteScript Still it doesn't seem to be a complete code sample. Getting compile error on `AppConfig`.
I'd suggest you ask this question on StackOverflow, because it seems to be a code implementation issue.
I am going ahead and closing this. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-10-29 13:12] #69030 closed

[2020-10-29 13:16] enricobenedos opened #69300 "[windows] Sometimes flutter is not able to delete build folder"
## Steps to Reproduce

1. `flutter channel dev`
2. `flutter config --enable-windows-desktop`
3. `flutter create windows_bug`
4. Generate an exception for any reason in our app at runtime and then brutally kill it

At this point flutter is not able anymore to start a new build or clean build folder because it has not the permission to access the folder. This is a bug because with Android and iOS pl

[2020-10-29 13:20] enricobenedos commented on #69300
And this is the windows administrator console log when I'm trying to delete manually the build folder
[code]

[2020-10-29 13:21] darshankawar commented on #69287
@dleurs
Check you check if [this](https://stackoverflow.com/questions/64415471/flutter-web-on-github-pages-not-showing-content) solution works for you.

[2020-10-29 13:22] darshankawar commented on #68766
@HangingClowns
Can you put all your project code in a repo and share the link here so that we can try to replicate it ?

[2020-10-29 13:27] alexbaramilis commented on #20980
I'm having this issue too. I receive an event when I turn off the WiFi, but no event when I turn it back on.

[2020-10-29 13:35] HangingClowns commented on #68766
Sadly I cannot share the code. Is there anything else I can do to get an idea of what’s going on?
On Oct 29, 2020, 9:23 PM +0800, darshankawar <notifications@github.com>, wrote:

[2020-10-29 13:37] pedromassangocode commented on #69198
| With padding: 15 | Without padding |
| ----------------- | -----------------|
<img width="230" height="500" src="https://user-images.githubusercontent.com/67424416/97580377-81c74680-19f3-11eb-924a-43df67f00424.png"> | <img width="230" height="500" src="https://user-images.githubusercontent.com/67424416/97580389-855acd80-19f3-11eb-8e09-8b238f7b58bf.png">

Will assign the latest master version sin

[2020-10-29 13:39] TahaTesser commented on #33106
Not sure if this is the same issue but i was able to see crash using
https://github.com/flutter/flutter/issues/33106#issuecomment-551353970 in NEW project on the latest master

### Preview
![ezgif com-gif-maker](https://user-images.githubusercontent.com/48603081/97581089-28264280-1a1a-11eb-9b1f-469bb169c09a.gif)

[code]

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-29 13:43] dcharkes commented on #62666
Yes, the info is now in the documentation.

[2020-10-29 13:43] #62666 closed

[2020-10-29 13:45] pedromassangocode commented on #69257
Hi @Darkhorse07232020
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/

The code you are sharing is not minimal and contains lots of files which makes it diffi

[2020-10-29 13:45] #69257 closed

[2020-10-29 13:46] darshankawar commented on #69297
@kin-cheung
Can you elaborate on how we can replicate this exception using the tutorial you referred above ?

[2020-10-29 13:47] adeolaex commented on #61450
I always use Github's reaction feature when ever I stumble on an issue that I'm also experiencing, in order not to be redundant. Sadly not today...........

Same issue on IOS too.

[2020-10-29 13:48] TahaTesser commented on #59683
Hi @tiagoantunes
Are you still experiencing this issue on `stable` channel 1.22.2?
If yes, can you please reproducible steps that actually reproduce the issue on the stable channel
Thank you

[2020-10-29 13:54] darshankawar commented on #68766
@HangingClowns You may try to clone your original code in a minimal reproducible code sample that would possibly show the issue and that way we can try to replicate it.

[2020-10-29 13:55] darshankawar commented on #69207
@riyaz
You may share it here.

[2020-10-29 13:57] pedromassangocode commented on #67282
I was able to reproduce on latest master channel on iOS. I can confirm that the issue does not reproduce on Android (tested on Emulator API 30)

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-10-29 14:04] pedromassangocode commented on #66609
Cc @HansMuller @Piinks

[2020-10-29 14:10] VK-Gotit commented on #54599
Hello, I would suggest to everyone who still has these issues to do the following steps:
1. Open the ios folder
2. Double click on the Runner.xcworkspace
3. Build

This fixed the problem for me because I was opening Xcode from the Runner.xcodeproj.
The camera package is not in the  Runner.xcodeproj scope... so it cannot find it.

[2020-10-29 14:21] Kacper1263 commented on #31985
@YuhooZhu , Can You explain me how can I set `ifShowKeyBoard` to false in my TextField?

When I default this variable to false in text_input.dart its doing exactly what I need because I don't have keyboard but I can paste text to TextField but I don't know how can I change this variable in normal TextField.

[2020-10-29 14:22] vemarav opened #69301 "Dismissable needs a way to be configured to fade out the child"

[2020-10-29 14:24] davidmartos96 commented on #52207
@dnfield

Could you expand a bit more on the tradeoffs? Our project needs efficient scrolling with variable extents so we may look into creating a custom `ListView` with the itemExtents parameter.
We tried to use `scrollable_positioned_list` but, while it solves the `jumpTo`, it lacks some important information from the `ScrollController` like the current scroll offset.
Also, having a different in

[2020-10-29 14:25] DhavalRKansara commented on #61334
I am also facing the same issue with a date validation error.

[2020-10-29 14:26] Jparrgam commented on #69240
Hi @TahaTesser, the code is to show how I am setting up the callback but if I have more than 66K of bugs in crashlytics reported on this line of code

`FlutterCallbackInformation.lookupCallbackInformation(callbackHandle)`

[2020-10-29 14:34] sergiocasero commented on #56050
I can reproduce it on Flutter 1.23.0-18.1.pre • channel beta also

[2020-10-29 14:36] abaturyna commented on #69283
HI @pedromassangocode

PFA in file :

[SQFLITE_BUILD_ERROR_UNRECOGNIZED_SYMBOLS.txt](https://github.com/flutter/flutter/files/5459062/SQFLITE_BUILD_ERROR_UNRECOGNIZED_SYMBOLS.txt)

[2020-10-29 14:36] Alishgiri commented on #43650
Same issue here!

[2020-10-29 14:38] deakjahn commented on #52207
@davidmartos96 Are you sure you need the scroll offset? With a relatively large number of items (as I mentioned above, I'm in the tens of thousands of items range), `currentItem/totalItems` seems to me as good as it gets. Moving the scrollbar moves the list very nicely and vice versa, plus, with `scrollable_positioned_list` I can jump to any item (animating is out of question for so many items, an

[2020-10-29 14:43] dleurs commented on #69287
You are right thank you !
new workflow.yml
[code]

[2020-10-29 14:43] #69287 closed

[2020-10-29 14:44] TahaTesser commented on #69296
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>multiple flutter doctor -v</summary>

[code]

[code]

</details>

[2020-10-29 14:48] iskakaushik commented on #69140
@keyonghan still seeing it: https://ci.chromium.org/p/flutter/builders/try/Linux%20Fuchsia/16918?

[2020-10-29 14:50] davidmartos96 commented on #52207
@deakjahn

That is how we have our feature implemented at the moment. The problem is that our lists have around 50-100 items, not thousands, so a draggable scrollbar feels jumpy/laggy. With thousands of items, it would look smooth in contrast.

[2020-10-29 14:51] kin-cheung commented on #69297
@darshankawar
I am using the 'Counter App' as base and basically just followed the tutorial.

A few things that I added:

1. a test named `example_test.dart` under the integration_test folder and included a test case that I copied from `widget_test.dart` that I found in the /test folder:
[code]
One thing that I fixed based on the tutorial is adding the following the `Podfile`, where I named my UIT

[2020-10-29 14:51] deakjahn commented on #52207
Oh. The title speaks abut "many", I didn't expect 50-100 to be in that range. :-)

[2020-10-29 14:52] Tortu-Ch commented on #69279
did you checke flutter doctor -v ?

[2020-10-29 14:52] davidmartos96 commented on #52207
@deakjahn Yes, although if the items are complex enough, the performance impact is noticeable when jumping with the ScrollController.

[2020-10-29 14:54] mnexo commented on #53364
I can only second the above requests for re-introducing `flutter version x.y.z` or at least providing an easy replacement.

We have a CI setup with the same build runner maintaining several systems, and it's a life saver to be able to easily switch between versions of the build tool chain, so we don't break CI for the other projects when we update one.

Having to perform loads of path extraction a

[2020-10-29 14:54] deakjahn commented on #52207
Well, anyway, I'm contemplating making my huge list combination into a package of its own, it might help others.

[2020-10-29 14:59] TahaTesser commented on #69300
Hi @enricobenedos
Just tried to reproduce on dev and master, simply throwing an exceptional and then building applications, it builds fine
Can you please add more details to steps 4?
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>multiple flutter doctor -v</summary>

[code]

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

[2020-10-29 15:00] TahaTesser commented on #69301
Hi @vemarav
Can you please more details on why we need this? Do you have any material guideline reference to showcase?
Thank you

[2020-10-29 15:04] abaturyna commented on #69283
Hi @pedromassangocode

Please refer to attached file
[SQFLITE_BUILD_ERROR_UNDEFINED_SYMBOLS.txt](https://github.com/flutter/flutter/files/5459318/SQFLITE_BUILD_ERROR_UNDEFINED_SYMBOLS.txt)

[2020-10-29 15:05] HrX03 opened #69302 "Add official support for material design image lists types"
MD docs available at: https://material.io/components/image-lists

## Use case

The masonry image list is useful to achieve Google Keep UI style, the quilted image list could be cool for something like a news app and woven image list is already used on the Shrine material study

## Proposal

I would add some sliver delegates to use with the gridDelegate GridView param, to keep compatibility with ol

[2020-10-29 15:07] gahms commented on #14815
Just to be clear, this missing piece has pretty big implications IMO. The result of missing `Isolate.resolvePackageUri()` is that anything but quite trivial pieces of Dart code cannot be used in background isolates on iOS.

An non-obvious example is `rootBundle.loadString()` as it uses `compute()` for large (> 10 kB) strings. You will never know when a piece of code will fail at run-time because i

[2020-10-29 15:09] jba-tm opened #69303 "Does print() work like this?"
Hi. Does the print() function print to debug console from another realesed app? Steps to perform it:
1. App A have a print function somewhere?
2. Run app;
3. Stop app A;
4. Run app B;
5. Minimize app B;
6. Open app A;
7. and then watch debug console;

like that you can print text (everything if it printed with print() function) from app A;

I/flutter (26986): B: print from app B
D/ViewRootImpl@4a6

[2020-10-29 15:12] andrea689 commented on #64897
I have the same problem. The Future of `.initialize()` in the second video is never resolved

[2020-10-29 15:12] abelardolg commented on #69239
Hi @pedromassango ,
The code is provided by Flutter.
Please, verify it:
https://codelabs.developers.google.com/codelabs/firebase-get-to-know-flutter#5

[2020-10-29 15:13] abaturyna commented on #69283
@pedromassangocode  Xcode version is Version 12.1 (12A7403)

[2020-10-29 15:16] kf6gpe opened #69304 "regression in maxAdbTotalmaxRss complex_layout_scroll_perf__devtools_memory"
https://flutter-flutter-perf.skia.org/e/?begin=1603909324&end=1603931718&keys=X7469377cae2d91a391bef4f1e3972ea6&num_commits=50&request_type=1&xbaroffset=22247

Started at https://github.com/flutter/flutter/pull/69237; cc @jonahwilliams. I'm not really sure why only this regressed, and not a number of benchmarks, so I'm not convinced that this is the PR that caused it.

[2020-10-29 15:21] leenin commented on #15072
waiting

[2020-10-29 15:26] iapicca commented on #60192
@tim-teacher please note the [last answer](https://github.com/flutter/flutter/issues/60192#issuecomment-662513902)

[2020-10-29 15:27] iskakaushik opened #69305 "[ios] Leaking FlutterTouchInterceptingViews"
Looks like there are some FlutterTouchInterceptingViews that are unbound to the root FlutterView. There is an invariant mentioned for `root_views_`.

[code]

But there are some instances in the code where the invariant doesn't seem to be maintained. Here is a pseudo excerpt from https://github.com/flutter/engine/blob/master/shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm#L165

[

[2020-10-29 15:28] jba-tm commented on #69303
Question two - why console debug from another application?

[2020-10-29 15:28] zanderso commented on #69304
It does look related. The fix adding back `--use-existing-app` caused the memory usage to go back up to the level that it had been at for quite awhile before @jonahwilliams started working on `drive`. Closing as working as expected.

[2020-10-29 15:28] #69304 closed

[2020-10-29 15:35] iapicca commented on #69302
@HrX03
according to the link you shared
the status for android, ios and flutter is `planned`
maybe a feature request on the matter  is a bit premature

<details>
<summary>screenshot</summary>

![image](https://user-images.githubusercontent.com/45637986/97595651-9106be00-1a0c-11eb-9963-b51ea65fa80f.png)

</details>

[2020-10-29 15:46] kf6gpe commented on #66872
@HansMuller Is this something we can do in the framework?

[2020-10-29 15:48] HrX03 commented on #69302
doesnt planned mean that it's coming but no idea when? like, it's supposed to come but no one knows when. i would love to work on it but still need some more understanding on grids/lists/slivers

[2020-10-29 15:48] zanderso commented on #69206
It looks like this one recovered on https://github.com/flutter/flutter/commit/735f6eec2caf0c123d6328cf2a9e6f1be21ee274

[2020-10-29 15:48] #69206 closed

[2020-10-29 15:55] enricobenedos commented on #69300
Hey @TahaTesser, I will provide you a simplified sample if I'm able to reproduce on a simpler project.

Anyway more specifically I was trying to debug a iOS/Android project on windows for the first time (to make it compatible) and at startup a lot of exception has been generated due to some incompatible plugins like: `device_info`, `flutter_secure_storage`, etc..
At this point I've killed the app

[2020-10-29 15:57] agreensh commented on #58488
@balazsbokanyi I've already tried that (with httpOnly=false).

html.document.cookie is not set.

The cookie I set on the server is: "/5kjUhXU8zA7a0/CsNIDFQ==", expires: 2020-10-30 15:51:09 +0000, maxAge: nil, domain: nil, path: "/", isSecure: true, isHTTPOnly: false

(I can successfully read this cookie using Flutter on iOS / Macos / Android / Windows from the http response header, and it also wor

[2020-10-29 15:57] romanpozd-tg17 commented on #65319
Hey guys!
Seems like I'm facing the same issue in my project.

We integrated flutter sub-module to our exist native android & iOS applications.
followed the documentation and modified the Podfile this way:

`flutter_application_path = '../app-flutter-bond'
load File.join(flutter_application_path, '.ios', 'Flutter', 'podhelper.rb')`

`target 'MyApp' do
  install_all_flutter_pods(flutter_application

[2020-10-29 15:58] AliaksandrBadretdzinau opened #69308 "[web]: SocketServer error after calling HTTP server bind method"
I am developing a Flutter web application that uses an HTTP server to respond with static site content to requests sent by the WebView.

When I tried to run the application I got an error related to the HTTP Server _bind()_ method that uses the _ServerSocket.bind()_ method from the _dart:io_ library, which does not work on Flutter Web.

Is there a way to get the http server to work on the Flutter

[2020-10-29 16:00] bbrighttaer commented on #56778
Setting my JAVA_HOME to [JDK-8](https://download.java.net/openjdk/jdk8u41/ri/openjdk-8u41-b04-windows-i586-14_jan_2020.zip) resolved the issue for me.

[2020-10-29 16:00] kf6gpe commented on #60022
Does the tooling write the templates for the Flutter pubspec?

[2020-10-29 16:01] amirh opened #69309 "Analyze flutter/plugins as part of flutter/flutter tests"
This will be a stepping stone towards: https://github.com/flutter/flutter/issues/33440

Running the entire flutter/plugins test suite is too slow for it to be included as-is in flutter/tests. Though running just the analysis step should detect early:

- Dart build errors.
- New failing lints.
- Dependency resolution issues.

Work plan:

- [x] Remove custom analysis_options and fix all result lint

[2020-10-29 16:02] ferhatb commented on #69284
duplicate of https://github.com/flutter/flutter/issues/68702 , PR to fix will be in master shortly.

[2020-10-29 16:02] #69284 closed

[2020-10-29 16:04] keyonghan commented on #69140
Also noticed failure on post-commit builds:
[build 6038](https://ci.chromium.org/p/flutter/builders/prod/Linux%20Fuchsia/6038), and it failed on step: [`Trigger Fuchsia Tests`](https://chromium-swarm.appspot.com/task?id=4f8ac32553514110)
[code]

Checked the same bot `nanny-iron-shiny-widen`, and it also has successful build run:
[build 6041](https://ci.chromium.org/p/flutter/builders/prod/Linux%20

[2020-10-29 16:06] rafaelsetragni commented on #60657
JESUS! Until today they didn't fixed this issue!!!!

[2020-10-29 16:09] johnnypcc opened #69310 "[url_launcher] iOS: Unhandled Exception: MissingPluginException(No implementation found for method canLaunch on channel"
[code]

[2020-10-29 16:10] rezajalilian commented on #33245
Can you explain with an example? Thankful

[2020-10-29 16:10] promzybankz commented on #22474
I'm In Nigerial also and I'm Seriously facing this issue

[2020-10-29 16:11] rezajalilian commented on #33245
Can you explain with an example? Thanks

[2020-10-29 16:12] ayodelesalimon commented on #22474
Download a VPN and use.

On Thu, Oct 29, 2020, 5:10 PM promzybankz <notifications@github.com> wrote:

[2020-10-29 16:18] recastrodiaz commented on #66799
@banool Is this feature what you are looking for https://github.com/flutter/plugins/pull/2939/files#diff-6b5d92ec170999804dfe2d546ff7162ad2812754fb454d172854a21512b0be66R272 ?

[2020-10-29 16:21] zanderso commented on #53185
The Dart -> engine roll is blocked on an analysis lint around this:

https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8865116473669789920/+/steps/web_engine_analysis/0/stdout?format=raw

[2020-10-29 16:23] deakjahn commented on #52207
https://github.com/deakjahn/huge_listview for anybody with really huge lists. Will publish on Pub, of course.

[2020-10-29 16:24] peterIrving commented on #69233
Thanks for your super quick response, I appreciate it.

I take it the example app when creating the flutter plugin is the Runner app in the Xcode project structure?

The goal is to be able to run the example in Xcode and debug the plugin at the same time. Currently, because the signing issues I cannot run the example in Xcode and am compiling and running in Android studio every time.

Attempting t

[2020-10-29 16:36] gspencergoog commented on #69252
Sounds good.  I'll do it in the framework after the dart:ui change lands (since I need to do some work to update the framework to not use the macros I renamed here anyhow).

Instead of directory, I'd use library id (e.g. material, widgets, etc.), It would resolve to the same values, but be more clear as a policy, since the directory could include "lib", etc. Also, I'd prefix it with `flutter` to g

[2020-10-29 16:37] chunhtai commented on #69058
It will not create a new router element. If it determine the new router widget and the old router widget are compatible (Runtime type and widget key are the same), it will update the existing router element with the new widget through didUpdateWidget. So in this case, it will not create a new router element.

[2020-10-29 16:38] zanderso commented on #53185
In the engine repo https://github.com/flutter/engine/blob/master/lib/web_ui/dev/browser.dart#L70

[2020-10-29 16:39] dgaedcke commented on #69058
So I need to verify that either BOTH material apps use the SAME key (is this for the navigator??) or that NEITHER use any key ... is that correct??

Thanks for the clarification!!

[2020-10-29 16:39] godofredoc commented on #69140
This is most likely an issue that engine/fuchsia needs to follow up. From the infra point of view devices are in a correct state before installing the build under test.

After installing the new build the device is not able to discover the device.

[2020-10-29 16:39] nfortiz commented on #59424
@Ahmadre  I don't think so, I have the same problem but I dont use SafeArea.
[code]

[2020-10-29 16:41] justinmc commented on #68864
I think the regular expression is the problem because it does not match single letters:

[code]

So when you start typing, the first letter you type is always rejected, and nothing is ever matched.  If you paste in a multi-letter string, it works.

The code that handles this input formatter is [here](https://github.com/flutter/flutter/blob/f68911ee1d46c32fd34be87998a00d2c8162a8db/packages/flutter/

[2020-10-29 16:41] #68864 closed

[2020-10-29 16:41] DanTup opened #69313 "Flutter web intermittently only renders the very first frame of the app in profile/release builds"
I came across this in DevTools when embedded inside VS Code (https://github.com/Dart-Code/Dart-Code/issues/2852). Sometimes it would just render a tiny blue square where the app should be:

<img width="712" alt="Screenshot 2020-10-27 at 09 50 58" src="https://user-images.githubusercontent.com/1078012/97285313-f3f42b80-1839-11eb-9e17-f23a6166c6ad.png">

After much trial and error, I've managed to r

[2020-10-29 16:43] chunhtai commented on #69058
The router created in MaterialApp does not have key, so you just need to make sure the material app you create either use same key or no key. This will make sure the material app subtree will not get destroyed as a result of material app getting dispose and recreate.

[2020-10-29 16:46] jonahwilliams commented on #68144
This happened today on https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8865089364464722736/+/steps/run_build_ios_framework_module_test/0/stdout

[2020-10-29 16:48] zanderso commented on #69140
/cc @arbreng @chaselatta

[2020-10-29 16:51] zanderso commented on #69140
The autoroller just landed a new Fuchsia SDK https://github.com/flutter/engine/pull/22197. Let's keep an eye on it.

[2020-10-29 16:56] DanTup commented on #69313
I tried removing the service worker JS from index.html, unregistered the service and then reproducing - and it did. So this seems unrelated to the service worker.

[2020-10-29 17:01] HrX03 commented on #69302
could actually try implementing it, will look up current grid stuff and see if i can figure out something

[2020-10-29 17:06] DanTup commented on #69313
I published the build output here:

https://blog.dantup.com/flutter-repro-69313/#/

And with some refreshing, it occurs there too (it did take 20-30 refreshes though):

![Screenshot 2020-10-29 at 17 06 08](https://user-images.githubusercontent.com/1078012/97607634-24d68b00-1a09-11eb-908c-4fd41c42bf65.png)

[2020-10-29 17:08] inoas commented on #14842
This was really unexpected.

[2020-10-29 17:10] LongCatIsLooong commented on #69288
I'm planning to fix this in https://github.com/flutter/flutter/pull/68166.

[2020-10-29 17:19] csells commented on #55330
I recommend looking at the Flutter Community's plus plugins here: http://plus.fluttercommunity.dev/

They've forked many of our core plugins, including share, and are actively adding support for multiple platforms. Over time, if the plus plugins continue to expand in functionality and maintain a high level of quality, we hope to formally turn these plugins over to the Flutter Community.

[2020-10-29 17:21] paulkastel commented on #14293
I just had this error shown and it was because I had cocoapods installed with gem and fastlane was installed with brew. When both of them were installed with gem, then problem was solved.

[2020-10-29 17:25] slecoustre commented on #66870
I have the same problem on the mobile platform

[2020-10-29 17:28] codex-joao commented on #66222
Thanks @samcdavid you're right

[2020-10-29 17:30] jonahwilliams opened #69314 "Crash in FlutterDriverExtension on integration_ui_ios_driver"
[code]

[integration_ui_ios_driver_470346f_2 (1).log](https://github.com/flutter/flutter/files/5460227/integration_ui_ios_driver_470346f_2.1.log)

[2020-10-29 17:31] tomasbaran opened #69315 "[suggestion][navigator 2.0] Make it a lot simpler for the end developer"
I just finished studying the Navigator 2.0 documentation and I have to say it is REALLY complex. I'm not saying it's badly done but it's very very complex, difficult to grasp and use. It's far from being simple and easy to implement so much so that I no longer have a feeling I'm working with Flutter. I fell in love with Flutter for its simplicity. I don't know how but I have a feeling that for the

[2020-10-29 17:36] jonahwilliams commented on #69314
Looks like this is caused by stderr or similar closing?

[2020-10-29 17:39] godofredoc commented on #68144
Manually cleaned the cache of build816-m9, please reopen for new ones.

[2020-10-29 17:39] jonahwilliams opened #69317 "Infra flake on reset XCode/ Tool Integration shard"
Happened once on https://ci.chromium.org/p/flutter/builders/prod/Mac%20SDK%20Drone/5288?

[2020-10-29 17:51] stuartmorgan commented on #53372
/cc @gw280

[2020-10-29 17:54] jmagman commented on #67753
Let's reopen this if we see again post-https://github.com/flutter/flutter/pull/69260

[2020-10-29 17:54] #67753 closed

[2020-10-29 18:01] safeDev15 commented on #69026
I created a new Flutter project and exclusively implemented the functionalities related to the POS. Attached is the pubspec.yaml file of the new project created. Code sharing can be done by signing an NDA on your part. Remember that even sharing the code without the PAX IM700 device it is not possible to test and notice the errors present in the logs already sent.
Thanks for your time.

[pubspec.t

[2020-10-29 18:09] keyonghan commented on #68322
We now have 16 10.15.7 bots  available, and still no -9 error on these bots yet.
Will keep monitoring. If still true, will update the remaining 10.15.6 ones.

[2020-10-29 18:09] keyonghan commented on #69317
This is a duplicate of https://github.com/flutter/flutter/issues/68322.

[2020-10-29 18:09] #69317 closed

[2020-10-29 18:09] Hixie commented on #14842
Once you know about SafeArea it makes more sense. The problem is that in trying to make SafeArea work automatically without having to think about it, we also require that in cases where you do things it can't handle you have to handle it. I don't think we have a good solution to this other than improving the docs. If this is still confusing then we should add another section to the "troubleshootin

[2020-10-29 18:10] ditman commented on #66622
I missed October for this one because I'm finishing the `firebase_storage_web` plugin, but yes, this is what I'm going to work on next for maps. Updating milestone.

[2020-10-29 18:11] tomLadder commented on #60026
Here is my [library](https://github.com/fasky-software/flutter_widgetkit) that makes it easy to develop Widget-Extensions for a Flutter app. I also wrote a [blog article](https://thomas-leiter.medium.com/develop-an-ios-14-widget-in-flutter-with-swiftui-e98eaff2c606) that explains the concept with a simple example. Appreciate any feedback 🙏🏻

[2020-10-29 18:14] jmagman commented on #64542
You can distribute the native code or FFI as a binary but you're right, I don't think you can with the dart code.

[2020-10-29 18:16] scaraux commented on #69170
Since you asked, I replaced the `flutter_inappwebview` by the official `webview_flutter` and it triggered exactly the same bug. They already have the same issue opened there [68490](https://github.com/flutter/flutter/issues/68490) but I still want to emphasize that I saw this bug not only with WebViews.

[2020-10-29 18:19] Hixie commented on #69252
I wouldn't worry too much about being aggressively consistent about this, so long as related things have the same prefix. Having different macros in dart:ui start with wildly different prefixes is confusing, having all the navigator-related things called "flutter.widgets.navigator.*" even if they happen to be in routes.dart or in _NavigatorState or whatever is fine. It might even be clearer (and i

[2020-10-29 18:21] zanderso commented on #68322
Is this a different one? https://ci.chromium.org/p/flutter/builders/prod/Mac%20iOS%20Engine%20Profile/5574

[2020-10-29 18:23] stuartmorgan commented on #53372
https://github.com/stuartmorgan/engine/commit/e48ce683a53a56d5cb5ada9373a9b547ac550000 should fix the first issue; I haven't turned it into a PR yet since I was hoping to get it working end-to-end first. It could be landed separately though.

[2020-10-29 18:24] jmagman commented on #60657
I am locking this closed issue.  The original issue is tracking a crash that manifests in the _Flutter_ framework.
The only crash log I've seen on this closed issue has been from @leonard-abusaa which shows the crash in the map_launcher framework which looks totally unrelated.  So to recap:

The original crash this issue is tracking should have been resolved with https://github.com/flutter/engine/

[2020-10-29 18:26] CaseyHillers commented on #68346
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68347
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68350
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68348
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68341
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68337
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68338
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68339
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68342
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68345
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:26] CaseyHillers commented on #68335
![Friendly ping](https://user-images.githubusercontent.com/2148558/67347099-f5d43200-f4f5-11e9-9cbd-11e13dfc3738.gif)

Two days left of the fixit 🥳

[2020-10-29 18:31] SaajidNawwar opened #69320 "Exception caught by image resource service, Unable to load asset: diamond.png"
Below is the code i used to get the image from assets. But it doesnt work.

main.dart

[code]

pubspec.yaml

[code]

[2020-10-29 18:33] jmagman commented on #67624
@maxp89 "I have the same problem" isn't enough info to make this actionable.  Please file a new issue and attach fully [symbolicated](https://developer.apple.com/documentation/xcode/diagnosing_issues_using_crash_reports_and_device_logs/adding_identifiable_symbol_names_to_a_crash_report) crash log.  Completely fill out the template and we'll take a look.

[2020-10-29 18:38] gspencergoog commented on #69252
Yeah, I wasn't looking to write a new standards doc on it.  I was just trying to figure out what the guidance should be.

[2020-10-29 18:39] keyonghan commented on #68322
It's the same. We have seen this before as well. It happened on bot 801-m9, which is a 10.15.6 bot.

[2020-10-29 18:39] tgucio opened #69321 "[Desktop]Cursor blinks while moving using keyboard"
## Steps to Reproduce

1. Run `flutter create test`.
2. Create a TextField with long, multiple lines as in the snippet
3. Run, paste multiple lines of text and move the cursor around using long keyboard presses

**Expected results:** Cursor doesn't blink while it moves
**Actual results:** Cursor blinks while it moves

![2](https://user-images.githubusercontent.com/72562119/97617764-776e7200-1a1e-1

[2020-10-29 18:48] signshah commented on #37566
My app is also facing this issue... Hope to see some fix asap..

[2020-10-29 18:49] gspencergoog commented on #69252
Things like this should probably be fixed, for sure: `  /// {@template FilterQuality}` (from [here](https://cs.opensource.google/flutter/flutter/+/master:packages/flutter/lib/src/widgets/texture.dart;l=48;drc=b007a81ad498eb9b7cd687fda0aa9d8d2bb77dc3)).

[2020-10-29 18:51] mzegar opened #69325 "`barrierDismissible` doesn't prevent Android back button usage"
## Steps to Reproduce

1. Create some modal/page that has `barrierDismissible` set to `false`
2. Open this modal/page
3. On an Android device, hit the `back` button
4. The modal will be dismissed.

Expected results: The modal shouldn't be dismissed.
Actual results: The modal is dismissed.

[2020-10-29 18:53] Sun3 commented on #69254
I just tested by creating a new Flutter Project, then added the instructions [from](https://github.com/flutter/flutter/issues/33245#issuecomment-705095853) I still receive the same error:

Perhaps are you using a different method?

[code]

Thank you.

[2020-10-29 18:59] deakjahn commented on #47251
I wouldn't say the Apple response answered anything. I've just have two Flutter apps, neither uses any hardware capability whatsoever. Neither has any `UIRequiredDeviceCapabilities` in the plist at all. One accepted, one rejected with that message.

[2020-10-29 19:01] danielsilver2 commented on #52530
For me, it was solved after doing these items:

* Creating a new project with AndroidX;
* Resolving Android Studio warnings;
* Updating google & firebase libs on build.gradle.

[2020-10-29 19:10] yjbanov commented on #69040
/cc @sigmundch if standard JS indeed allows this, then Dart should allow it too (I think it's coming from here: https://chromium.googlesource.com/external/dart/bleeding_edge/+/master/dart/tools/dom/src/dart2js_DOMImplementation.dart)

[2020-10-29 19:11] kbokarius commented on #53122
How is this major issue still not resolved? Is there a workaround?

[2020-10-29 19:12] nturgut commented on #68005
I can confirm this is happening in Firefox. Exactly as noted in the issue, I was able to fill the password but not the username.

However I was not able to generate it both desktop and mobile safari. On safari browsers I fill the information (for login) one item at a time using the autofill menu. On mobile safari I used the "key" icon on the onscreen keyboard to open the autofill menu. On the desk

[2020-10-29 19:22] christopherfujino opened #69327 "ci/licenses.sh script not being run in LUCI"
This was previously run as part of the build_test on cirrus, however when the test was migrated to LUCI the license test was not included. As a temporary mitigation I added a cirrus step to explicitly run the license test (and updated the goldens). Once this issue is resolved, we should delete the licenses_test cirrus step added in https://github.com/flutter/engine/pull/22201.

[2020-10-29 19:23] christopherfujino commented on #69327
cc @godofredoc

[2020-10-29 19:32] escamoteur commented on #23604
Will this also support touch screens on Notebooks? Is this already supported on any desktop platform?

[2020-10-29 19:35] dkwingsmt commented on #23604
Touch screen on notebook is supported by touch events, and I would be surprised if it isn't already supported; although if you're talking about pinching and rotating, that have to be recognized by the app. Otherwise, for touchpad, no progress yet.

[2020-10-29 19:38] stuartmorgan commented on #23604
Touch events have not been wired up in any desktop embedding. That's unrelated to this issue though (see #52202, #65171)

[2020-10-29 19:40] hatimkh20 opened #69329 "flutter pub get failed"
Running "flutter pub get" in calculator...
pub get failed (1; no message)
Exited (1)

[2020-10-29 19:40] christopherfujino commented on #53364
No path extraction required, doing `git checkout x.y.z` should be sufficient on CI.

[2020-10-29 19:41] hacnguyen1412 commented on #62298
yeah, I have the same issue :)))

[2020-10-29 19:41] christopherfujino commented on #53364
Closing this issue as `flutter version` has been removed.

[2020-10-29 19:41] #53364 closed

[2020-10-29 19:43] #68693 closed

[2020-10-29 19:45] stereotype441 opened #69330 "Flutter doctor claims flutter and dart plugins not installed; they are installed"
## Steps to Reproduce

1. Fresh mac
2. Install command line tools for XCode 12
3. Install Flutter
4. Install Android Studio
5. Open Android Studio, and without opening any project, click Configure -> Preferences, go to Plugins, and install the Dart and Flutter plugins.
6. Install XCode (I'm guessing this step isn't actually relevant, but it's what I did next)
7. Run "flutter doctor"

Expected beha

[2020-10-29 19:49] #53185 closed

[2020-10-29 19:50] vaimikpatel2908 commented on #69208
Here is my code

main.dart
[code]

drawer.dart

[code]

[2020-10-29 19:51] lxx198586 commented on #66278
In Terminal, type "flutter run"

[2020-10-29 19:52] #69314 closed

[2020-10-29 20:00] aifrosals opened #69332 "rootBundle is giving exxeption"
The following code is giving me exception

 `return await rootBundle.loadString('assets/images/null.png');`

the exception is:

`Exception: FormatException: Unexpected extension byte (at offset 0)`

[2020-10-29 20:03] peterIrving commented on #69233
An additional note, trying to run a regular flutter project natively in Xcode also gives me the same bug.

[2020-10-29 20:06] escamoteur commented on #65171
Can we help implement this?

[2020-10-29 20:10] keyonghan opened #69333 "LUCI pre-submit tasks are still running even PR is closed"
We should cancel existing running/pending tasks whenever a PR is closed.

<img width="736" alt="Screen Shot 2020-10-29 at 1 09 30 PM" src="https://user-images.githubusercontent.com/54558023/97627118-217ed780-19e8-11eb-8718-20c33a753681.png">

[2020-10-29 20:15] stuartmorgan commented on #65171
I'm happy to review PRs adding touch support. It may well be simple (straightforward conversion `WM_TOUCH` to Flutter pointer messages), but I haven't dug into the details to know if there will be any unexpected complexity.

[2020-10-29 20:17] jmagman opened #69334 "Add ARM simulator architecture slice to App.framework to support Apple Silicon"
With the upcoming support for [Apple Silicon ARM simulators](https://github.com/flutter/flutter/issues/69334), App.framework (and add-to-app xcframework) needs a simulator ARM slice on ARM macOS.  Universal (fat) App.framework can no longer contain architectures for both `iphoneos` and `iphonesimulator` since they need to be build against different SDKs, but they can no longer be `lipo`d together

[2020-10-29 20:17] sashker commented on #69254
Having the same issue on the existing project (created very recently, though)
TypeError: dart.global._flutter_web_set_location_strategy is not a function

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 1.24.0-4.0.pre.138, on Mac OS X 10.15.7 19H2 darwin-x64, locale ru)
[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xco

[2020-10-29 20:25] escamoteur commented on #65171
I will have a look.

[2020-10-29 20:27] gspencergoog commented on #69252
Reopening to address consistency in framework too.

[2020-10-29 20:45] rezajalilian commented on #69254
I've been testing it for a few hours in realease mode, it works properly but if you try to access straight to the url, it just fails.
If I try to access a page straight from the browser, the router can't find it(Tested in a real server).
For example if you access "testweb.com" it works but if you access "testweb.com/loginpage" server returns 404 error, it doesn't happen with hashtag.

[2020-10-29 20:56] escamoteur commented on #66122
when will this arrive in Beta?

[2020-10-29 21:03] #67206 closed

[2020-10-29 21:06] jmagman commented on #67624
@i6x86 Your crash in in the Runner app and not in the Flutter framework, so maybe unrelated to #60657.  Can you symbolicate the crash log so we can see what's going on?  [Symbolicating](https://developer.apple.com/documentation/xcode/diagnosing_issues_using_crash_reports_and_device_logs/adding_identifiable_symbol_names_to_a_crash_report) in Xcode may be easiest.

[2020-10-29 21:08] keyonghan commented on #68579
There seem to be leaking processes here, and will update from recipe side to make sure clean up happens on all builders.

[2020-10-29 21:10] jonahwilliams commented on #68742
Decreasing the priority as I've applied a workaround in the test

[2020-10-29 21:10] jonahwilliams commented on #68742
(Which I said I didn't want to do, but alas)

[2020-10-29 21:16] JayDew commented on #69320
Try something like

[code]

[code]

More info [here](https://stackoverflow.com/questions/50903106/how-to-add-image-in-flutter).

[2020-10-29 21:20] IagoBeuller commented on #69281
Even with your code sample, the bug continues. The problem is when I resize the window, for example, to the minimum possible width size. And if I save the image, checking the output, the text is misplaced.

And this other bug often happens:
[code]

[2020-10-29 21:36] iskakaushik opened #69336 "[fuchsia] Upload the test archives files to CIPD to run the test in GI / G3 rather than flutter/engine"
These tests have sometimes been flaky due to various non-flutter related problems. They're still being run on CIPD but that doesn't exercise the device finder code-path.

See: fxb/63130

More context: https://github.com/flutter/flutter/issues/69140

[2020-10-29 21:37] escamoteur commented on #65171
@stuartmorgan where in the repository lies the code for the Windows Shell?

[2020-10-29 21:41] keyonghan commented on #68322
New failures are captured in 10.15.7 bots as well..
https://ci.chromium.org/p/flutter/builders/prod/Mac%20iOS%20Engine/7493
https://ci.chromium.org/p/flutter/builders/prod/Mac%20iOS%20Engine/7490
https://ci.chromium.org/p/flutter/builders/prod/Mac%20iOS%20Engine%20Profile/5576

[2020-10-29 21:48] ditman commented on #67380
@balvinderz contributed a fix for this, I'll merge it ASAP!

Thanks!

[2020-10-29 21:49] UnicornsOnLSD opened #69337 "ReorderableListView should have a builder function like ListView.builder"
## Use case

I'm using a ListView.builder for a list of ListTiles I have. These ListTiles are dismissible so they benefit from the index that ListView.builder provides. While I could manually map the list that I'm using to a list of widgets to give to ReorderableListView, that wouldn't be a very elegant solution. ListView.builder also benefits from the improved efficiency of not needing to render

[2020-10-29 21:50] stuartmorgan commented on #65171
/shell/platform/windows/

[2020-10-29 21:52] YeungKC commented on #66909
I'm almost sure it's the same as #55362, because when you mouse over the header section and start scrolling it's as expected.

I've fixed it and will merge it into master in the near future.

I recommend close this issue as it is already duplicated.

cc @TahaTesser @gspencergoog

[2020-10-29 22:01] jmagman commented on #68888
`average_memory_usage` as well, seen on 246bf60fb37693f40cbc9b21a688e2841467f285
[code]

[simple_animation_perf_ios_246bf60_2.log](https://github.com/flutter/flutter/files/5461511/simple_animation_perf_ios_246bf60_2.log)

[2020-10-29 22:04] yjbanov commented on #68507
/cc @jonahwilliams

[2020-10-29 22:05] iskakaushik commented on #69140
Will become obsolete with https://flutter-review.googlesource.com/c/recipes/+/8081. Will likely take sometime to propagate. Please re-open if you continue seeing this in an hour or so.

[2020-10-29 22:05] #69140 closed

[2020-10-29 22:06] stuartmorgan commented on #66935
Proc table version of the API is landed.

[2020-10-29 22:06] #66935 closed

[2020-10-29 22:07] godofredoc commented on #68909
This is to add retries which will be handled in the migration to LUCI