[2017-02-01 00:22] sethladd commented on #7766
cc @cbracken have you heard of this issue?

[2017-02-01 00:34] sethladd commented on #7766
Update:

I create a new Flutter project (via flutter create), and when I try to run that on my iPhone, I see this error:

[code]

[2017-02-01 00:35] sethladd opened #7767 "New flutter app fails to run on iOS device, "Timeout while attempting to retrieve Uri for Observatory""
Created a new flutter app via `flutter create`. Attempted to run it on my iOS device with `flutter run`. App never started on my device. Saw this error on the console:

[code]

Version:

[code]

[2017-02-01 00:36] cbracken commented on #7766
I haven't seen it but neither of those are helpful error messages and the first one should be relatively straightforward to catch.

Some ref material in case someone gets to it before me:
For signing, the settings Xcode (8.1) cares about in the .pbxproj are `DEVELOPMENT_TEAM` and `PROVISIONING_PROFILE`. There's some checking on `PRODUCT_BUNDLE_IDENTIFIER` as well though I'll have to look up the de

[2017-02-01 00:36] sethladd commented on #7766
Closing this, because even a brand-new Flutter app doesn't run. I might reopen this, but for now: one thing at a time.

Closing as "not fixed, but there may be a bigger issue"

See https://github.com/flutter/flutter/issues/7767 for the "a brand-new flutter app doesn't run on my ios device"

[2017-02-01 00:36] #7766 closed

[2017-02-01 00:46] edbienes opened #7768 "Could not issue any flutter commands due to "startup lock""
## Steps to Reproduce

1. Open Flutter Project via Intellij
2. The play/stop buttons at the top is not enabled even after opening a simulator
3. Open terminal (inside/out of intellij) and enter command: `flutter doctor`

## Logs

Only outputs:
`Waiting for another flutter command to release the startup lock...`

## Flutter Doctor

The same output message as above after running `flutter doctor`
Cou

[2017-02-01 00:49] rmacnak-google commented on #4287
Note this will interact with being able to symbolize crashes in the wild, so we'll probably want to keep an unstripped copy.

[2017-02-01 00:52] Hixie commented on #7768
What happens if you run `touch flutter/bin/cache/lockfile`?
What happens if you run `flock -x -n 8 8< bin/cache/lockfile`?
Does `ps` list any dart processes?
Does it work if you reboot and don't have IntelliJ running?

[2017-02-01 01:00] sethladd commented on #7767
Bumped to "today". I feel like this is a regression that we want to address? @cbracken can repro this, too.

[2017-02-01 01:29] edbienes commented on #7768
- nothing happened after the `touch...`
- `flock` command is not found
- no dart nor flutter processes after `ps` run
- directly running `flutter doctor` (without Intellij )and it's `Downloading package sky_engine...`

Seems the problem is with Intellij. The download took a loong time then I did a `flutter run` and now it's doing this so far...

[code]

Will let you know once this is finished.

[2017-02-01 02:06] xster opened #7772 "Screenshot during run"
Would be nice to be able to press 's' during a hot run to take screenshots instead of opening another terminal to run flutter screenshot.

[2017-02-01 03:31] edbienes commented on #7768
The download hasn't finished.. So can't tell yet if this will work or not.

[code]

[2017-02-01 07:38] edbienes commented on #7768
When I run `ps` after the `flutter run` command, I see this:

[code]

Please advise.

[2017-02-01 10:42] debunge opened #7778 "Documentation for many pages results in 404"
For example, I'm trying to find documentation on NetworkImage, to load images from my server.
Google (and search on the flutter.io) both point me to https://docs.flutter.io/flutter/material/Image/Image.network.html which returns 404.

[2017-02-01 12:43] mit-mit opened #7779 "Flutter run throws 'Bad UTF-8' exception"
## Steps to Reproduce

1. cd `/examples/hello_world/`
1. connect a physical Android device
1. `flutter run`

Output:

[code]

Running on an Android or iOS simulator does not throw the exception!

## Flutter Doctor

Paste the output of running `flutter doctor` here.

[code]

[2017-02-01 15:28] eseidelGoogle commented on #7779
@johnmccutchan has been debugging other variants of this.

We have a new --record option which might record useful information.

[2017-02-01 15:29] eseidelGoogle commented on #7778
FYI @LarkAscending

[2017-02-01 15:49] mit-mit commented on #7779
I can't see to make that work:

[code]

[2017-02-01 15:58] johnmccutchan commented on #7779
The command line is: `--record-to=dirname`

[2017-02-01 15:59] johnmccutchan commented on #7779
This might be related to https://github.com/flutter/flutter/issues/6724 but so far the behaviour seems pretty different.

[2017-02-01 16:01] mit-mit commented on #7779
That works; John I shared a recording with you in drive.

[2017-02-01 16:22] eseidelGoogle commented on #7762
Supposedly the way Chrome does this is by renaming the running executable to chrome-old.exe (which you can do, including from the executable itself), and writing out the new one.  When the new chrome.exe launches it will either exit (because chrome-old is still running) or delete it.

[2017-02-01 17:15] eseidelGoogle commented on #7767
That looks like a CocoaPods error?  @collinjackson?

I was able to run flutter_gallery on a Google-dev-cert-using iPod Touch from XCode just now.  I'm also not able to run from `flutter run` due to some (likely different and possibly google-mac specific) python error.

[2017-02-01 17:15] eseidelGoogle commented on #7767
@cbracken @xster and @chinmaygarde are our iOS ninjas.

[2017-02-01 17:17] eseidelGoogle commented on #7767
I could be wrong. I don't know what fruitstrap is.  I assumed it was part of cocoapods?

[2017-02-01 17:18] sethladd commented on #7767
TIL about Fruitstrap: https://github.com/ghughes/fruitstrap

Also, and here's a weird thing. No matter what flutter project I try to run for iOS device, it always fails with the same tmp file /tmp/fruitstrap_d83d5bc53967baa0ee18626ba87b6254b2ab5418.py

I find it weird that all my flutter projects try to run what looks to be a generated tmp file. Maybe that's a clue?

[2017-02-01 17:19] eseidelGoogle commented on #7767
This is my error https://gist.github.com/eseidelGoogle/66ac11d769945730c40f16d7ccde4cd2

[2017-02-01 17:22] cbracken commented on #7767
Taking a look at this right now.

[2017-02-01 17:36] eseidelGoogle commented on #7767
My error looks like this: https://forum.ionicframework.com/t/ionic-run-ios-python-error/58760

[2017-02-01 17:41] abarth commented on #7778
The 404s are because we removed many duplicate entries from the API docs.

@sethladd Is there a way to reset the search corpus on flutter.io to clear out the old links?

[2017-02-01 17:41] sethladd commented on #7778
@abarth taking a look now.

[2017-02-01 17:47] cbracken commented on #7767
Just to clarify, the error I was able to repro yesterday was from #7766. Having trouble repro-ing this one.

Can you confirm the repro steps you took were:
1. `flutter create foobar`
2. `cd foobar`
3. `flutter run` (no simulator open and an iOS device connected)

When I run those I get a code signing error:
  https://gist.github.com/cbracken/57513b082d9f0915ccbf091439b96c5b
which is expected, but

[2017-02-01 17:48] sethladd commented on #7778
I've signed up for Webmaster Tools for https://docs.flutter.io and it looks like the site is "processing". I'll try to check back later today to see what options I have.

These 404's will disappear over time, but maybe we can help speed that along. (we could setup redirects w/ Firebase Static Hosting, but I don't know the full set of old->new mappings)

Apologies for the trouble!

[2017-02-01 17:53] sethladd commented on #7767
@cbracken so, you don't see something like

[code]

?

Do we know who/what creates that `/tmp/fruitstrap_d83d5bc53967baa0ee18626ba87b6254b2ab5418.py` file? I'm wondering if that's stale for some reason.

[2017-02-01 17:53] sethladd commented on #7767
[code]

[2017-02-01 17:57] eseidelGoogle commented on #7767
Looks like the hash in the `/tmp/fruitstrap_HASH.py` name is your device id.  Hence why it's shared between projects.

[2017-02-01 17:58] cbracken commented on #7767
@sethladd correct; not seeing the fruitstrap error.

Looks like this is created by `ios-deploy`:

[code]

[2017-02-01 18:02] sethladd commented on #7767
[code]

Do we need to add this check to `flutter doctor` ?

[2017-02-01 18:03] cbracken commented on #7767
Can you run a `brew update` brew `upgrade` and let me know if moving to 1.9.1 fixes it for you? And yet, a min version check in `doctor` sounds in order.

[2017-02-01 18:07] sethladd commented on #7767
No problem. (/me is now recompiling ffmpeg, so stand by... :)

[2017-02-01 18:52] xster commented on #7767
I had ios-deploy 1.9.0 and also can't reproduce this fruitstrap error

[2017-02-01 18:55] eseidelGoogle commented on #7767
My ios-deploy is 1.7.0.  I'm seeing a fruitstrap error, not sure if we have more than one. :)

[2017-02-01 18:59] sethladd commented on #7767
With @cbracken 's help, we upgraded my ios-deploy to 1.9.1 and I can launch apps now! woohoo!

My ios-deploy was in some stuck state, and brew was telling me a very weird message:

[code]

So, I did this:

[code]

If both @eseidelGoogle and I were seeing errors with 1.7.0, I suggest we update `flutter doctor` to inform our users to go grab 1.9.0+ of ios-deploy.

[2017-02-01 18:59] cbracken commented on #7767
@eseidelGoogle can you dump the info of `brew info ios-deploy` for the record?

[2017-02-01 19:01] sethladd commented on #7767
I'm going to close this with a resolution of: "Please upgrade your ios-deploy to 1.9.0+" and I'll open a new issue to ask `flutter doctor` to error if you have < 1.9.0 installed.

Thank you all for your help!!

[2017-02-01 19:01] #7767 closed

[2017-02-01 19:02] sethladd opened #7782 "flutter doctor should error if ios-deploy < 1.9.0"
From https://github.com/flutter/flutter/issues/7767#issuecomment-276746403

We fixed a crash when starting a flutter app on iOS device by upgrading ios-deploy to 1.9.0+. We should encourage our users to do the same, with the `flutter doctor` tool.

Please add a check for ios-deploy version, and error/warn if it's < 1.9.0.

Thanks!

[2017-02-01 19:04] eseidelGoogle commented on #7767
We used to have our own brew for ios deploy: https://github.com/flutter/homebrew-flutter/blob/master/ios-deploy.rb  I wonder if I installed that and that's related to this in any way?

[2017-02-01 19:04] debunge commented on #7778
All good, sorry for taking you time on which seems to be an non-issue.

[2017-02-01 19:04] #7778 closed

[2017-02-01 19:05] eseidelGoogle commented on #7767
Yeah, looks like I have ios-deploy installed in `/usr/local/bin/ios-deploy` but not via brew.  I wonder if I got it in some funny way.  Updating via brew now.

[2017-02-01 19:07] eseidelGoogle commented on #7782
Given that it caused https://github.com/flutter/flutter/issues/7767, bumping up to M2.  This is an easy fix.

[2017-02-01 19:08] eseidelGoogle commented on #7767
Mine is still busted, (likely due to missing python's six module), but it's probably a separate bug.

[2017-02-01 19:09] eseidelGoogle commented on #7767
Yup, `sudo easy_install six` fixed my issue.  Unclear if that's needed for `flutter doctor` too.

[2017-02-01 19:15] eseidelGoogle opened #7783 "flutter.io/setup should not recommend flutter_brew anymore"
https://flutter.io/setup/#deploy-to-ios-devices

Recommends using https://github.com/flutter/homebrew-flutter
to install ios_deploy, however it points to an old version which doesn't work (see https://github.com/flutter/flutter/issues/7782 and associated bugs).

brew has an ios-deploy forumla built in which is more recent (1.9.1 when I just installed):
http://brewformulas.org/IosDeploy

We should

[2017-02-01 19:16] eseidelGoogle commented on #7782
Filed https://github.com/flutter/flutter/issues/7783 about changing our docs to remove flutter_homebrew recommendation.

[2017-02-01 21:01] #7782 closed

[2017-02-01 21:01] sethladd commented on #7783
Good call!

This sounds like two issues:

* update the docs
* remove ios-deploy from our homebrew-flutter

[2017-02-01 21:03] Hixie opened #7787 "add reassemble to timeline"

[2017-02-01 21:20] Sfshaza opened #7788 "Clarification of API comments for ConstrainedBox"
The current API doc for ConstrainedBox says:

<blockquote>
For example, if you wanted child to have a minimum height of 50.0 logical pixels, you could use <code>const BoxConstraints(minHeight: 50.0)</code> as the <code>additionalConstraints</code>.
</blockquote>

The API must have changed as this constructor has no `additionalConstraints` parameter. It has a required `constraints` parameter.

[2017-02-01 22:12] raju-bitter commented on #6138
Since the content of flutter.yaml has been merged with pubspec.yaml, this issue should be renamed.
See https://github.com/flutter/flutter/issues/2343
E.g. "Missing docs for flutter specific content in pubspec.yaml".

[2017-02-01 22:12] Hixie commented on #7768
Yeah the first is the shell script and the second is the dart program that the shell script launches.

When you don't have IntelliJ up it works fine right? It's only when IntelliJ is up that there's a problem?
What does `ps` show when it's not working?

[2017-02-01 22:17] sethladd commented on #6138
Thanks!

And, patches welcome :)

[2017-02-01 22:24] sethladd commented on #7778
No worries. Thanks for the feedback! Really appreciate it. Keep us posted on your journey through Flutter :)

[2017-02-01 22:28] sethladd commented on #7767
Did you not have "six" installed, or was it out of date?

(if "six" is a direct dependency from our tools, we probably do want to prompt users to upgrade it via flutter doctor)

[2017-02-01 23:23] Hixie opened #7793 "Remove addFrameCallback"
It has no clients and confuses the issue.

[2017-02-01 23:23] Hixie commented on #7756
Never mind I was testing the old one.

[2017-02-01 23:23] #7756 closed

[2017-02-01 23:23] Hixie commented on #7755
Never mind I was testing the old one.

[2017-02-01 23:23] #7755 closed

[2017-02-01 23:50] abarth commented on #7788
It was never correct.  Just come copy/pasta.  PR posted.

[2017-02-01 23:58] artichokes commented on #138
I've generated `vs` files with `gn` and major issue is the dependencies on `fuschia/ftl`. The Fuchsia Template Library is highly platform dependent and only supports poisix systems.

[2017-02-02 00:04] eseidelGoogle commented on #7767
I did not have python's `six` installed it seems.  I've definitely installed it before, so it may have been some quirk of Google macs.  Unclear if we'll need to check for that dependency ourselves.

[2017-02-02 00:08] cbracken commented on #7767
It just so happens I've got a non-Google mac sitting right beside me. Will take a quick look.

[2017-02-02 00:15] eseidelGoogle commented on #7767
I suspect I hit this: https://bugs.swift.org/browse/SR-1061 by accidentally installing a custom python at some point (or maybe my Google mac did).  Six is presumably a slightly non-standard package which apple ships as part of their llvm dependencies and their tools assume are installed, but for my flavor of python it wasn't.  This could be command-line only if my PATH is set to include my local p

[2017-02-02 00:21] xster commented on #7764
It's basically PageableState.fling (in case it's a PageableListFlingBehavior.stopAtNextPage).

I think for easy developer experience we should just create a previous() and next() that just does _flingToAdjacentItem(-/+1.0). It's a lower barrier to entry I think.

We should also add docs to describe that scrolling doesn't snap nor does it update page changes callbacks (maybe it's the right behaviou

[2017-02-02 00:26] xster opened #7798 "Open observatory during run"
Like #7772.

During a hot run, press 'o' to launch a browser tab pointing to whatever signed url dart gave us for the observatory.

[2017-02-02 00:31] zhenqiu1101 opened #7799 "find.widgetWithText should return one widget instead of two if the widget has two children with the text given"
I'm describing the situation like this,

new Row(children: [new Text('foo'), new Text('foo')]);

If I call find.widgetWithText('foo'), I expect findsOneWidget. But currently it finds two. Because two text widgets are found first and then trace the ancestors of they two. For both text widgets, the same Row is found twice.

[2017-02-02 00:32] zhenqiu1101 commented on #7799
Sorry, If call find.widgetWithText(Row, 'foo').

[2017-02-02 00:45] goderbauer commented on #138
I am making good progress on this issue: I am currently able to compile a Flutter app on Windows and deploy it from Windows on Android (in other words: `flutter run --release` is pretty much working on Windows). Most of the bits and pieces are already checked in for that and I am working on resolving the remaining smaller issues. I also just started work on enabling the fast development refresh cy

[2017-02-02 00:46] Hixie commented on #5028
@jason-simmons, @rmacnak-google, is this still an issue?

[2017-02-02 00:53] DaveShuckerow opened #7802 "find.byConfig description is confusing"
I think it should read:

[2017-02-02 00:54] Hixie commented on #7798
To do this we need a way to open a browser from a terminal program cross-platform.

[2017-02-02 00:54] Hixie commented on #7802
What it really finds is Elements.

[2017-02-02 00:55] Hixie commented on #7802
(like all the finders)

[2017-02-02 00:56] Hixie commented on #7764
cc @abarth since you're about to work on this

[2017-02-02 00:57] Hixie commented on #5052
The current setup is good because it makes us think about what we're doing.

[2017-02-02 00:57] #5052 closed

[2017-02-02 00:59] Hixie commented on #5054
Done

[2017-02-02 00:59] #5054 closed

[2017-02-02 00:59] Hixie commented on #5054
(in https://github.com/flutter/flutter/pull/5762)

[2017-02-02 01:11] Hixie commented on #5092
It ripples and shows a dialog now.

[2017-02-02 01:11] #5092 closed

[2017-02-02 01:13] #5079 closed

[2017-02-02 01:14] Hixie commented on #5077
dupe of https://github.com/flutter/flutter/issues/3979

[2017-02-02 01:14] #5077 closed

[2017-02-02 01:15] DaveShuckerow commented on #7802
I noticed shortly after I dug down into Finder.evaluate().

I believe the dev: docs label is appropriate to this issue.

[2017-02-02 01:26] Hixie commented on #5123
Does this still happen?

[2017-02-02 01:28] Hixie commented on #5105
@jason-simmons Any idea what's causing this? I seem to recall you talked about this at some point.

[2017-02-02 01:29] Hixie commented on #5112
dupe of https://github.com/flutter/flutter/issues/7673

[2017-02-02 01:29] #5112 closed

[2017-02-02 01:39] goderbauer opened #7804 "Function keys don't work for flutter run on Windows"
`flutter run --release` prints:
[code]

However, pressing F1 or F10 does nothing on Windows.

[2017-02-02 01:55] DaveShuckerow opened #7806 "Expect() does not detect failures inside of testWidgets calls"
I'd like to make sure that a widget doesn't, for example, throw an out of bounds error when it is built. With expect() from flutter_test, this doesn't appear to be possible.

For example, when I set up the following:
[code]

the test fails with the result:
[code]

Is some separation between the widget tester and the test runner causing the async-await to not be honored properly?

[2017-02-02 02:16] eseidelGoogle commented on #7806
@yjbanov or @Hixie would know.

[2017-02-02 02:20] edbienes commented on #7768
`ps` shows the same results (those 2 lines) when running Intellij or not.

The difference is, when opening the project in Intellij, you could not process any other commands like `flutter doctor` and you'd get the message about "startup lock".

[2017-02-02 02:21] eseidelGoogle commented on #7798
https://docs.python.org/2/library/webbrowser.html may work.  We can check how it does its magic.

[2017-02-02 02:30] xster commented on #7798
We're going to be referring to python via shell already in #7807. That module is already in 2.5 (so hopefully more or less everyone).

How do you guys feel about invoking it directly if the user has it or use 'start' in windows?

[2017-02-02 02:39] eseidelGoogle commented on #5134
Confirmed just now still true in 3a43fc88b66b042c612c04c3e2b8445ba1b27546

[2017-02-02 02:41] eseidelGoogle commented on #5135
Yup.  Still true as of 3a43fc88b66b042c612c04c3e2b8445ba1b27546.  It's due to the text getting pushed down in https://github.com/flutter/flutter/issues/5134.

[2017-02-02 02:41] eseidelGoogle commented on #5136
I'm pretty sure we're doing this now, no?  @johnmccutchan

[2017-02-02 02:42] eseidelGoogle commented on #5137
We're still seeing this in `flutter` analytics.  FYI @tvolkert.

@yjbanov this should show up in your crash tracking work as soon as it goes live.

[2017-02-02 02:45] eseidelGoogle commented on #5145
iirc we removed this animation demo.

[2017-02-02 02:45] #5145 closed

[2017-02-02 02:46] eseidelGoogle commented on #5148
This seems like a bug which could/should be moved to dartdoc and closed?

[2017-02-02 02:47] eseidelGoogle commented on #5148
This is https://github.com/dart-lang/dartdoc/issues/1251.

[2017-02-02 02:47] #5148 closed

[2017-02-02 02:49] eseidelGoogle commented on #5150
@Hixie just made screenshot fancier.  Still an easy fix, but low priority.

[2017-02-02 02:49] eseidelGoogle commented on #5166
I feel like I overheard @Sfshaza and @Hixie discussing this, maybe this is already documented?

[2017-02-02 02:50] eseidelGoogle commented on #5175
Does this need consideration for api stability?  Marking speculatively, please remove as appropriate.

[2017-02-02 02:51] eseidelGoogle commented on #5185
Can this not be closed?  We could make `flutter run` clean up/remove the app on exit, but that seems of pretty minimal import.  Both Android Studio and Xcode leave the apps around last I knew?

[2017-02-02 02:52] eseidelGoogle commented on #5187
Might this be improved by @Hixie's fancy scrolling refactor?

[2017-02-02 02:53] eseidelGoogle commented on #5191
Should I ask the Dart team about the other bug?  Seems pretty low priority.

[2017-02-02 02:54] eseidelGoogle commented on #5203
Considering for M2 since this showed up in UX review.

[2017-02-02 02:55] eseidelGoogle commented on #5206
FYI @LarkAscending (just in case a new animation page is being considered, not suggesting any higher priority).

[2017-02-02 02:56] eseidelGoogle commented on #5215
I believe we're moving RTL to M4 for now.  It's ship-blocking but not beta-blocking.

[2017-02-02 02:56] eseidelGoogle commented on #5216
If this can be confirmed, it's ship-blocking, M4.

[2017-02-02 02:57] eseidelGoogle commented on #5218
This seems pretty low priority.  M6.

[2017-02-02 02:57] eseidelGoogle commented on #5219
Fixed.

[2017-02-02 02:57] #5219 closed

[2017-02-02 02:59] eseidelGoogle commented on #5223
Sounds like we should close this?

[2017-02-02 02:59] #5223 closed

[2017-02-02 03:00] eseidelGoogle commented on #5226
This came up in discussion the other day. Not sure if it was from UX review or not.

[2017-02-02 03:02] eseidelGoogle commented on #5136
Speculatively closing.  Please re-open if I'm mistaken.

[2017-02-02 03:02] #5136 closed

[2017-02-02 03:02] sethladd commented on #5136
We do this now! :)

[2017-02-02 03:06] sethladd commented on #5203
I'm not sure this is Pesto specific, so it might show an issue in our framework/engine. If so, M2 feels right.

[2017-02-02 05:41] Hixie commented on #7798
I strongly believe we should never rely on Python (or any other scripting language) in any way. Every dependency we add increases the difficulty of using our system. Scripting languages are particularly thorny dependencies.

[2017-02-02 05:44] Hixie commented on #7798
(#7807 is not adding a dependency, it's detecting an error condition. You don't have to install python to use us after that patch, in fact, you're better off if you didn't.)

[2017-02-02 05:47] Hixie commented on #7768
I'm confused as to the state of your system. I don't really understand what's going on. `ps` should only be showing those lines if you're running the `flutter` tool. Can you describe in more detail your methodology for testing the above? Are you running `flutter run` and IntelliJ and `ps` all at once, or one after the other, or what?

[2017-02-02 05:49] Hixie commented on #7806
You want `takeException`: https://docs.flutter.io/flutter/flutter_test/TestWidgetsFlutterBinding/takeException.html

[2017-02-02 05:49] #7806 closed

[2017-02-02 05:50] Hixie commented on #5191
You should check that it's on our list, but I think it is. In any case, this affects all kinds of stuff in the framework and yes, we can close this bug.

[2017-02-02 05:50] #5191 closed

[2017-02-02 05:51] Hixie commented on #5187
Probably not but we should fix it.

[2017-02-02 05:51] Hixie commented on #5185
`flutter run` shouldn't install an icon into the app list in the first place.

[2017-02-02 05:54] Hixie commented on #5175
I think we should close this. I disagree with the premise of the issue; alignment doesn't change meaning based on the other properties. Those properties only affect the size of the box.

[2017-02-02 05:54] #5175 closed

[2017-02-02 05:55] Hixie commented on #5150
IMHO platform parity should be a priority before we attempt to attract high levels of attention.

[2017-02-02 06:48] #5066 closed

[2017-02-02 06:49] cbracken commented on #4907
Deletion bug is #7683.

[2017-02-02 06:50] #4907 closed

[2017-02-02 07:01] edbienes commented on #7768
It is just very weird. I am not doing anything (except for the following below) and now it just works!

** There was a Flutter plugin update earlier to 0.1.9 and it did somehow fix the issue. Then followed by a successful `flutter doctor`.**

As for the methodology you asked, here's what I did to test:
I. With Intellij
1. Open project with Intellij
2. ** No play button on Intellij **
3. So do a `f

[2017-02-02 07:14] #7788 closed

[2017-02-02 07:29] Hixie commented on #7768
I wonder if maybe IntelliJ was downloading the artifacts in the background and then getting stuck just like `flutter run` for you. While downloading the artifacts you can't run other flutter processes.

[2017-02-02 08:20] mit-mit commented on #5185
If we don't install an icon in the app list, how does the user delete the app?

[2017-02-02 08:44] mit-mit commented on #5385
I'm triaging all plugin bugs, and I don't understand that what this one covers. The link 403's. Can you elaborate?

[2017-02-02 10:20] mit-mit opened #7810 "Split hello_services into two samples"
/examples/hello_services/ illustrates two developer use cases:

1. Calling native code from Dart
1. Creating UIs that combine native widgets and a FlutterView

To make the sample easier to understand we should split that into two samples.

[2017-02-02 10:45] mit-mit commented on #6921
Assigning to self for reproing; perhaps this was resolved as part of this weeks build changes?

[2017-02-02 10:48] mit-mit commented on #6855
Actually, $4546 is the same (I widened it's title a bit), so closing the present issue.

[2017-02-02 10:48] #6855 closed

[2017-02-02 11:29] mit-mit commented on #5962
@abarth are you working on this?

[2017-02-02 11:31] mit-mit commented on #5744
Thanks for the feedback @brianegan, we are tracking that in https://github.com/flutter/flutter/issues/7053

[2017-02-02 11:33] mit-mit commented on #5638
@jakobr-google is this still an issue after your most recent build changes?

[2017-02-02 11:35] mit-mit commented on #426
Closing in favor of https://github.com/flutter/flutter/issues/3671

[2017-02-02 11:35] #426 closed

[2017-02-02 11:39] mit-mit commented on #2533
@abarth do we still have a sensors service? I don't see it in searches, or when looking in [`/src/services`](https://github.com/flutter/flutter/tree/master/packages/flutter/lib/src/services).

[2017-02-02 11:44] mit-mit commented on #1538
Closing; we updated the hello_services build in https://github.com/flutter/flutter/pull/7606, and that will be applied to the standard app template per https://github.com/flutter/flutter/issues/4796.

[2017-02-02 11:44] #1538 closed

[2017-02-02 11:45] mit-mit commented on #1432
Generalizing this a bit, and assigning to self

[2017-02-02 11:47] mit-mit commented on #1430
Closing this: we plan on writing general documentation for how to write plugins (incl. a tutorial; tracked in https://github.com/flutter/flutter/issues/1432). That should be sufficient.

[2017-02-02 11:47] #1430 closed

[2017-02-02 11:53] mit-mit commented on #685
@sethladd @abarth is there any work here? As far as I understand it, this is transparent to the app. You simply request permissions in the manifest and code, and the OS takes it from there?

https://developer.android.com/training/permissions/requesting.html#perm-check

[2017-02-02 11:54] mit-mit commented on #614
@eseidelGoogle, FYI I am going to untag this plugin as I don't think this is related to our plugin work.

[2017-02-02 11:56] mit-mit commented on #429
@sethladd isn't this there now? Can we close this bug? https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/services/haptic_feedback.dart

[2017-02-02 12:00] mit-mit commented on #423
Closing this as a dupe; covered by https://github.com/flutter/flutter/issues/6676 and https://github.com/flutter/flutter/issues/654

[2017-02-02 12:00] #423 closed

[2017-02-02 12:02] mit-mit commented on #357
@eseidelGoogle @sethladd, FYI I'm removing the plugin tag from this, as this is different from regular plugins in that this needs to tie in with the navigation model.

Also, @sethladd did you mean to edit the milestone; looks like it's still in 4...

[2017-02-02 12:03] mit-mit commented on #201
@mpcomplete are you working on this?

[2017-02-02 12:10] mit-mit commented on #131
Dupe of https://github.com/flutter/flutter/issues/2561

[2017-02-02 12:10] #131 closed

[2017-02-02 13:22] mit-mit commented on #3671
Assigning to Mikkel for a very initial investigation to better understand feasibility and cost.

[2017-02-02 13:42] mit-mit opened #7811 "Test Dependency on a plugin containing native binaries"
Assume a folder containing a plugin with native binaries, support building a Flutter app that declares a dependency on that plugin.

[2017-02-02 13:43] mit-mit opened #7812 "Dependency on a plugin containing native source code"
Assume a folder containing a plugin with native source code, support building a Flutter app that declares a dependency on that plugin.

[2017-02-02 13:51] mit-mit opened #7813 "Build a plugin that has a dependency on code published in Maven/Cocoapods"
Both Android and iOS have existing ecosystems for distributing code. For example, Google Analytics for Android is on Maven (`com.google.android.gms:play-services-analytics:10.0.1`), and for iOS on Cocoapods (e.g. `Google/Analytics`).

This tracks the ability to declare a dependency on such existing code in a plugin, and the build logic related to handling both the building of the plugin, and an ap

[2017-02-02 14:12] mit-mit opened #7814 "Support consuming a plugin without having to write native code"
Currently the native interop via PlatformMessages requires registering the native endpoint with FlutterView, e.g.:

[code]

This will be cumbersome once we have published plugins that developers can declare a dependency on (https://github.com/flutter/flutter/issues/7816). They would have to write native code to 'wire up' the native code that came from the plugin.

Ideally they should just have to

[2017-02-02 14:44] mit-mit opened #7815 "Publish a plugin"
Support publishing a plugin so that others can consume it (https://github.com/flutter/flutter/issues/7816).

A plugin consists of three pieces:

1. A plugin interface written in dart, which sends and receives HostMessages
1. Android specific code (java) which responds to HostMessages and interfaces with the native Android platform
1. iOS specific code (ojb-c or swift) which responds to HostMessage

[2017-02-02 14:45] eseidelGoogle commented on #5385
This was a plugin we wrote on the old mojo plugin architecture for login using google_sign_in.  When we write a new one, we'll need it documented somewhere, but we can have a new bug for that.

[2017-02-02 14:45] #5385 closed

[2017-02-02 14:46] mit-mit opened #7816 "Consume a published plugin"
https://github.com/flutter/flutter/issues/7815 tracks the ability to publish a plugin, incl. a dependency on native code sitting in mavencentral (Android) / cocoapods (iOS). This tracks the ability to consume such a package.

[2017-02-02 14:46] mit-mit commented on #5744
Closing this bug in favor of the more specific issues https://github.com/flutter/flutter/issues/7815 and https://github.com/flutter/flutter/issues/7816

[2017-02-02 14:46] #5744 closed

[2017-02-02 14:57] mit-mit commented on #4764
Note: These are similar in spirit to push notifications, but are different in that they are scheduled locally on a timer, and do not require a network connection.

Also looks like iOS is moving to https://developer.apple.com/reference/usernotifications/unnotificationrequest.

[2017-02-02 15:06] mit-mit opened #7817 "Plugin: Battery"
Tracks a simple battery plugin. We will write this as a first-party plugin to serve as a sample of how to write a plugin.

It will integrate with to [BatteryManager](https://developer.android.com/reference/android/os/BatteryManager.html) on Android, and [UIDevice](https://developer.apple.com/reference/uikit/uidevice) on iOS

[2017-02-02 15:22] mit-mit opened #7818 "Search for published plugins"
Once we have published plugins (https://github.com/flutter/flutter/issues/7815), developers are going to need some way of searching among them (i.e., something similar to https://www.npmjs.com/ for published js libs).

Initially scheduling this for a milestone later than publishing; very short term we can probably get by with a manually maintained wiki page or something like that.

[2017-02-02 16:17] eseidelGoogle commented on #7768
We've had numerous complaints about our artifact downloads being too big/too long.  https://github.com/flutter/flutter/issues/6491 is one bug on file about making commands only download what they need.  `flutter deamon` presumably doesn't need any?

[2017-02-02 16:23] devoncarew commented on #7768
I don't think it would, it just handles device notifications. That needs the native toolchains to be available, but wouldn't use any of the artifacts for building / running apps.

[2017-02-02 17:42] HansMuller commented on #5223
Yes we should (did).

[2017-02-02 17:49] sethladd commented on #685
Would the UI ever need to determine if a permission has been granted yet (or not) ? For example, would I want to show UI screen A or B if a permission has been granted ?

[2017-02-02 17:52] sethladd commented on #429
I don't know what APIs are available for vibration, and if the existing haptic API covers the capabilities. But, good to know that there's at least a start!

(e.g. can I do a vibration pattern with this API? what else can/can't I do? I haven't done my research here, just thinking of questions)

[2017-02-02 17:59] mehmetf commented on #3671
Here's an update from Leafy:

Due to limitations of data notifications (i.e. notifications that require app to respond in some way), leafy is leaning towards using display notifications (i.e. notifications that are pushed directly to user screen without app involvement). Support for these already exist in Flutter.

However, during conversations with other teams another use case has surfaced: If yo

[2017-02-02 18:28] jakobr-google commented on #5638
@mit-mit yep, flutter tools still updates the Android SDK version before building.

[2017-02-02 18:32] lukef commented on #4796
Not sure if this is helpful but I'd suggest that, even if the content of the template stays the same, there should be greater separation of concern (as opposed to everything being in 1 file). I typically use, as a minimum:

[code]

It might want to also have states separately, but that would also be a good guidance from the team as to what is the "best practice" in lieu of having one of your own.

[2017-02-02 18:43] goderbauer opened #7821 "flutter doctor should know about gradle."
On my system, `flutter doctor` says that everything is ok. However, when I try to run `flutter run --release` the hello_services example, I am getting an exception:
[code]

Flutter Doctor should probably know about gradle and tell me that my system is not properly configured?

[2017-02-02 18:52] mehmetf commented on #6331
@HansMuller How would you do this if you were not using a form widget? We have our own FormField implementation and the way to standardize the UI (as we have discussed before).

- Use an empty form?
- Replicate the willPop registration in our own widget?

[2017-02-02 19:08] HansMuller commented on #6331
I think you want the second option. The FormWidget just registers an onWillPop callback with its route. Since you have your own form container, I think you'll want to do the same thing.

The willPop registration code is a little messy to account for the fact that the Form's route may change, I don't think there's any way to avoid that.

[2017-02-02 19:31] xster commented on #6501
One last small fix for this is to make sure it snaps to the last allowable day when navigating to edge years.

[2017-02-02 19:42] mehmetf commented on #6331
Agreed. The code that renders our form (and preps the callback) is a bit messy as well. We need to load an object for instance before we can set a callback. So we can't quite use the dependenciesChanged() override. For now I am doing this in build():

[code]

myObject is loaded sometime later and setState() is called on the form to fill it in. That's when this code executes. Any comments/suggestio

[2017-02-02 20:02] chinmaygarde commented on #6581
@apwilson Do you remember what device you were using when you ran into this issue?

[2017-02-02 20:14] goderbauer opened #7824 "Enable ANSI color support on Windows"
With some version of Windows 10, Microsoft started supporting ANSI escape codes in the Console Host [1]. With those, text printed to the console can be formatted in pretty ways (bold, color, etc). We use those codes in supported terminals on Linux, but they are currently disabled for Windows: Due to limitations of Dart (https://github.com/dart-lang/sdk/issues/28614) we currently cannot detect if t

[2017-02-02 20:25] Hixie commented on #6331
Depending on route.hasScopedWillPopCallback sounds really dangerous. It should be possible to register a no-op callback without affecting any other code.

[2017-02-02 20:26] Hixie opened #7826 "route.hasScopedWillPopCallback is a foot gun"
See for example https://github.com/flutter/flutter/issues/6331#issuecomment-277060988

[2017-02-02 20:48] jason-simmons commented on #5216
I'm unable to reproduce this on the current engine

[2017-02-02 21:17] goderbauer opened #7830 "`flutter analyze` needs tests"
Right now, the analyze command is super hard to test because all dependencies are hard-coded and not injected.

Tests should include a test to catch the fix in https://github.com/flutter/flutter/pull/7828

[2017-02-02 22:21] mehmetf commented on #6331
@Hixie I am considering other solutions but none seems viable:

- We could set the callback only when data is ready but what if Flutter changes the route object and calls build() again? Data ready callback does not fire then so we will be stuck.
- We could do it on dependenciesChanged() as suggested but at that point data may or may not be ready. We could save the data as part of the state but tha

[2017-02-02 22:24] weisong0 opened #7831 "Allow multiple observers for the navigator"
We would like make the [Navigator](https://docs.flutter.io/flutter/widgets/Navigator-class.html) accept a list of [observers](https://docs.flutter.io/flutter/widgets/NavigatorObserver-class.html). So that we can track page translation automatically using Google Analytics. Currently, in MateralApp, the observer is only used for [managing Hero transitions ](https://docs.flutter.io/flutter/widgets/He

[2017-02-02 22:45] HansMuller commented on #7826
It is the case that we assume that hasScopedWillPopCallback implies that the app may veto the pop.  We need to know so that the back gesture can be disabled if the app might veto a pop.

However the API was really only intended as a way for MaterialPageRoute to communicate with ModalRoute. So per our discussion, I'm going to make the method protected.

[2017-02-02 22:46] jason-simmons commented on #5105
In AOT builds, the stack trace URL is taken from the URL argument passed to Dart_LoadSource() in gen_snapshot.

The association from "dart:ui" to the file path of the dart_ui package is provided through gen_snapshot's --url_mapping flag.  AFAIK gen_snapshot doesn't offer a way to map the paths back to the "dart:ui" package name.

IMHO it's useful to have the exact path captured by gen_snapshot in

[2017-02-02 22:46] jason-simmons commented on #7735
The microbenchmarks should be working now

[2017-02-02 22:46] #7735 closed

[2017-02-02 22:50] HansMuller commented on #6331
Can you use the dependenciesChanged, didUpdateConfig approach like FormState does, but just have your method return true unless the data you need to make a veto decision is available?

[2017-02-02 22:51] HansMuller commented on #6331
Note also `hasScopedWillPopCallback` is going to become protected, see #7826

[2017-02-02 23:06] Hixie commented on #7831
Probably a dupe of https://github.com/flutter/flutter/issues/4045

[2017-02-02 23:11] Hixie commented on #6331
I don't really understand why registering a private method in `dependenciesChanged` isn't ok.

You should assume `build` is being called continually and that every time the ModalRoute can be different.

[2017-02-02 23:13] abarth commented on #6581
Nexus 9

[2017-02-02 23:25] cbracken commented on #7783
Doc update in #370. Once we remove ios-deploy from homebrew-flutter, there's nothing left. What's the policy, keep the repo? Make it private? Kill it off?

[2017-02-02 23:27] #7826 closed

[2017-02-02 23:27] chinmaygarde commented on #6581
Thanks! I prepared a reproducible test case and detailed in [this document](https://docs.google.com/document/d/1B2-3ZmWjiSRvxLvRSKNb5si2Vb3WbrGZ1VaSY_2LTYI/edit?hl=en#heading=h.9r7fv3pdrb0e). This problem was eliminated by our use of TextureImage as [shown here](https://www.youtube.com/watch?v=gNDtEVM_Tpw&feature=youtu.be). But since that uses RGB565 which will cause issues with color correctness,

[2017-02-02 23:40] abarth opened #7833 "Remove ScrollBehavior2"
- [x] Instead, move wrap and physics to ScrollConfiguration2.
- [x] Move the scroll position factory to physics.

[2017-02-02 23:40] chinmaygarde opened #7834 "Investigate how to get the colorspace and ICC profiles of displays on iOS and Android."
This is required for color correctness.

[2017-02-02 23:42] Hixie commented on #7833
One things to be careful to support: if you change the Theme, the color of any overscroll glow indicators should change as well, even though the ScrollConfiguration didn't change.

[2017-02-02 23:44] chinmaygarde commented on #7834
cc @mattsarett

[2017-02-02 23:44] Hixie commented on #5105
For our purposes sure, but for the purposes of people using Flutter as a platform, `dart:ui` would be much more comprehensible than `file:///b/build/slave/Linux_Engine/build/src/out/android_debug/gen/sky/bindings/dart_ui/hooks.dart`. Is there same way we can use one for local debug builds and another for the builds we ship?

[2017-02-02 23:46] chinmaygarde opened #7836 "Use the correct SkImageInfo to guarantee color correctness."
Currently, we almost exclusively use SkImageInfo::MakeN32Premul. cc @mattsarett.

[2017-02-02 23:49] chinmaygarde opened #7837 "Stop using RGB565 texture based SkImages in TextureImage."
This was done for performance reasons but makes it harder for texture images to be color correct. The problem with the reproducible test case is [described here](https://docs.google.com/document/d/1B2-3ZmWjiSRvxLvRSKNb5si2Vb3WbrGZ1VaSY_2LTYI/edit?hl=en#) and a video showing the performance issue is [hosted here](https://www.youtube.com/watch?v=gNDtEVM_Tpw&feature=youtu.be). cc @mattsarett.

[2017-02-02 23:52] chinmaygarde opened #7838 "Enable the Vulkan backend in the Linux desktop shell."
This will enable the folks working on Magma to better compare the drivers on Linux vs Fuchsia on similar hardware.

[2017-02-02 23:53] abarth commented on #7833
Won't the widget that builds the ScrollConfiguration rebuild?

[2017-02-02 23:56] Hixie commented on #6454
These are merged now.

[2017-02-02 23:56] #6454 closed

[2017-02-02 23:56] LarkAscending opened #7839 "Add post-profile steps to iOS device part of setup.md"
The [setup instructions for iOS devices](https://flutter.io/setup/#deploy-to-ios-devices) end by telling users to set up a provisioning profile, and sending them to Apple's website for more info.

After they set up a development provisioning profile, there's another step:
1. Open the iOS folder for your Flutter project.
2. Navigate to your Xcode project and select the correct profile from the menu

[2017-02-03 00:02] mattsarett commented on #7836
I was considering writing one, really large CL, but it seems like this might make more sense to break up - especially, in case we hit some subtle behavior changes.  Chinmay, let me know if you think there's a reasonable way to split this up - I'm working a bit randomly right now, given my lack of knowledge of the flutter code base.

[2017-02-03 00:07] chinmaygarde commented on #7836
We'd prefer smaller CLs for ease of review.

[2017-02-03 00:12] #7783 closed

[2017-02-03 00:23] Hixie commented on #7833
I meant "change the Theme" as in put one deeper in the tree, not change the MaterialApp's theme, sorry for being unclear. (MaterialApp builds the ScrollConfiguration, but it's above the overriding deeper Theme so can't be affected by it.)

[2017-02-03 00:25] xster opened #7841 "Smart caching behaviour in NetworkImages"
(google-internal yaqs # 4576818864848896)
I think it would have be a huge value add for developers. We can reduce the need for a slew of third party libraries like https://github.com/bumptech/glide if it's out of the box since every app should try to do something smart.

Maybe something along the lines of
[code]

[2017-02-03 00:31] xster commented on #7839
cc @cbracken

We should have smart messaging on the flutter run command output itself as well. I'll do it if you haven't started Chris.

[2017-02-03 01:07] abarth commented on #7833
Got it.

[2017-02-03 01:12] eseidelGoogle commented on #7783
I'd recommend asking @abarth to delete the repo.

[2017-02-03 01:33] LarkAscending opened #7844 "Add --start-paused option to testing.md"
Hixie added a new option to flutter test, for debugging tests that break. See  https://github.com/flutter/flutter/commit/94cac1a69c5528843c7f99d575c6113ddd8546fc

We should document how to use it in Testing Flutter Apps.

[2017-02-03 01:36] abarth commented on #7783
My delete finger is at the ready.  Just give me the word.

[2017-02-03 02:01] Sfshaza opened #7846 "Simulator ignores screen orientation"
## Steps to Reproduce

Run the Flutter gallery demo in the Simulator. Go to the Grid List page. Change orientation in the simulator using the Hardware > Rotate Left/Right. Nothing happens. Quit the demo, and change the orientation of the Simulator. Relaunch and navigate to the Grid List demo, sideways. It still doesn't reflect the sideways orientation, though grid_list_demo.dart takes orientation

[2017-02-03 02:15] Hixie opened #7848 "Engine build failure with "observatory_tool.py""
If I do a completely clean build, I get:
[code]

cc @jason-simmons who likes engine puzzles

[2017-02-03 02:16] abarth commented on #7846
What do you see instead?  It's quite possible I messed this up with the new ScrollGrid.

[2017-02-03 02:16] eseidelGoogle commented on #7848
@johnmccutchan might just know straight up what this is for. :)

[2017-02-03 02:18] eseidelGoogle commented on #7846
Last I looked the Gallery's Info.plist claims that it doesn't support Landscape, so iOS keeps it in portrait:
https://github.com/flutter/flutter/blob/master/examples/flutter_gallery/ios/Runner/Info.plist#L33

We'd have to change that to either remove the key, or add more supported configurations for the rotations to do anything.

[2017-02-03 02:36] mattsarett commented on #7837
cc @brianosman

[2017-02-03 02:53] cbracken commented on #7683
We're now using `FlutterAppDelegate` in order to avoid iOS boilerplate in basic Flutter apps. Closing this as obsolete.

[2017-02-03 02:53] #7683 closed

[2017-02-03 02:57] cbracken commented on #7783
*@cbracken gingerly hands over the word to @abarth.*

[2017-02-03 03:15] eseidelGoogle commented on #4546
Sounds like @jason-simmons may be interested in the java side, and @cbracken in the Obj-C side.

[2017-02-03 03:30] dvdwasibi opened #7850 "Custom Styles for HintText in InputField"
It would be ideal to override the style (which is currently binded to the Theme) for the HintText when needed.

I can take on this issue.

[2017-02-03 04:46] mehmetf commented on #6331
Registering a private method is usually ok; if you have a simple app OR you are starting from scratch. **Basically, all of the business logic that goes into rendering our widgets right now lives in build(). It is a natural place for that kind of code. This requirement breaks that pattern.**

Our widget state pattern has been more or less this:

[code]

We never needed the data object outside of me

[2017-02-03 05:28] Hixie commented on #5185
From settings > apps.

[2017-02-03 05:45] abarth commented on #7850
Go for it.

[2017-02-03 08:31] mit-mit commented on #4796
Hi @lukef, the changes tracked in this bug are more infrastructure related -- we are basically changing the fine details of how the android code is built, to enable interop scenarios where you need to be able to open the android sub-project in Android Studio to edit it's java code.

The change you are suggesting is pretty unrelated to this, so I suggest you open a new bug for it, if you don't mind

[2017-02-03 08:35] mit-mit commented on #429
The current API is super simple, but I'm still going to close this bug as it isn't really actionable. I'm sure we will get good, detailed requests later from customers that can provide more scenario details.

[2017-02-03 08:35] #429 closed

[2017-02-03 09:59] a14n commented on #7815
disclaimer: dunno how iOS works

Regarding Android I'd also really like to be able to use java code without publishing to maven-central because some company may not want to publish their sources that are used to build flutter apps and because it's not as easy as pub to publish to maven-central.

It could perhaps be possible to have a plugin structure with the java code where a maven local install

[2017-02-03 12:30] mit-mit commented on #7815
Hi @a14n, yes totally get the use case where you have a plugin with code that you prefer not / are not able to publish. It's still early, and we don't have all the details figured out, but we hope to still support that use case! It's covered in these two separate issues: https://github.com/flutter/flutter/issues/7812, https://github.com/flutter/flutter/issues/7811.

Note though, the such plugins w

[2017-02-03 14:32] mit-mit commented on #685
Yes, good catch. The UI is actually expected to do that (as the user may decline the permission, and the app is expected to deal with that), e.g.:

[code]

[2017-02-03 16:22] Sfshaza commented on #7846
Thanks for weighing in, Eric. Yes, it just ignores orientation and you see the same screen as you rotate. But I'm about to file another bug with a different response.

[2017-02-03 16:35] abarth commented on #7783
Ok.  I've made it private.  If the world doesn't end, we can delete it in a couple months.

[2017-02-03 16:39] Sfshaza opened #7854 "Simulator screen turning blue (until app is upright)"
## Steps to Reproduce

Hans wrote this simple phone app example and the grid object does look at screen orientation. When I run this in the iOS simulator, it works fine. When rotating the simulator screen, you see a flash as the grid rotates properly, then the screen turns blue and remains blue until you rotate the screen so that the image is upright again. Then I killed the app, rotated the scree

[2017-02-03 16:40] Sfshaza commented on #7854
I should add, Hans doesn't use Simulator - he uses a physical device - and hasn't seen his behavior.

[2017-02-03 16:44] Sfshaza commented on #7757
Good to know! It would be helpful to list them from this page.

[2017-02-03 16:46] Sfshaza commented on #7721
I fixed this: https://github.com/flutter/website/pull/368

[2017-02-03 16:46] #7721 closed

[2017-02-03 16:48] Sfshaza commented on #7722
@sethladd, I'm definitely up for that experiment!

[2017-02-03 16:49] Sfshaza commented on #7854
I changed the bug name because, at one time, I had to restart Simulator to see the UI again. But today I just have to rotate it upright again.

[2017-02-03 16:53] sethladd commented on #7722
Great! Feel free to add a Custom Search Engine. Or, book me for an hour and we'll make it happen :)

[2017-02-03 16:59] eseidelGoogle commented on #5277
It will follow your finger as you drag up and it's still expanding along the Y, but once it reaches max Y it stays centered at whatever X it reached full extension at.

[2017-02-03 17:13] eseidelGoogle commented on #5274
It definitely gets darker as you go higher to my eye?

![demo mp4](https://cloud.githubusercontent.com/assets/11857803/22600795/fae44a0e-e9f0-11e6-90fc-62398dc50e68.gif)

[2017-02-03 17:14] eseidelGoogle commented on #5275
Correct.  The curvature of the circle/arc is supposed to change.  It's pinned at the corners and just flattens into a line, instead of our implementation where it scrolls away.

[2017-02-03 17:16] eseidelGoogle commented on #5279
Ours is different.  The settings one seems to have a little bit of a lag before it appears, vs. ours which appears to be kinda stuck-to (drawn on?) the scrolling material, where as the Android Settings one appears to be a separate animation which had a bit of elastic/lag before it does its grow thing.

The Settings overscroll also seems larger and has a different grow/shrink curve.

[2017-02-03 17:18] eseidelGoogle commented on #5284
I don't see --control-pipe as an option even with `flutter run --help -v`.  Maybe it's a super-secret option?

Speculatively closing as n/a. Please feel free to re-open if I'm mistaken.

[2017-02-03 17:18] #5284 closed

[2017-02-03 17:24] cbracken commented on #7839
Go for it! I haven't yet taken a look.

[2017-02-03 17:25] eseidelGoogle commented on #5294
Amazingly this appears to still be an issue?

[code]

Here is the log from the crash

Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter drive

## exception

NoSuchMethodError: The method '[]' was called on null.
Receiver: null
Tried calling: [](1)

[code]

## flutter doctor

[code]

[2017-02-03 17:27] eseidelGoogle commented on #5313
I feel like @HansMuller looked at this at one point?

Would be nice if we had some simple sample code/repro here.

[2017-02-03 17:31] eseidelGoogle commented on #5315
I feel like we've had this problem generally with flutter_tools that our network layer there is not resilient against any amount of trouble.

[2017-02-03 17:31] eseidelGoogle commented on #5324
I'm not sure what (if anything) to do with this bug.  Is it still valid?

[2017-02-03 17:37] cbracken commented on #7228
Fixed by #7784.

[2017-02-03 17:37] #7228 closed

[2017-02-03 17:39] eseidelGoogle commented on #5344
Is this still a bug we should track?  It still happens:

![tabs red mov](https://cloud.githubusercontent.com/assets/11857803/22601659/b3aa92ac-e9f4-11e6-9e49-32fa38f920ad.gif)

[2017-02-03 17:40] eseidelGoogle commented on #5346
My understanding is we now run `pub get` as part of `flutter run`?  But there is likely still work we could do under this bug.

[2017-02-03 17:42] HansMuller commented on #5344
I think we should continue to track this. Either the new app  bar or the new heroes support (or both) should eliminate the problem.  And when they do.

[2017-02-03 17:52] eseidelGoogle commented on #5350
I'm not sure what I'm looking for here.  It looks reasonable?
![transition mov](https://cloud.githubusercontent.com/assets/11857803/22602039/6c813fb4-e9f6-11e6-98d3-404d9056a32d.gif)

[2017-02-03 17:56] eseidelGoogle commented on #5353
Repro'd just now.  That's totally a delightful detail, not a bug, right? :D

[2017-02-03 18:00] eseidelGoogle commented on #5355
I tried to see if we could just read it from Platform.version inside sky_shell, no dice:
[code]

[2017-02-03 18:03] HansMuller commented on #5353
It's a delightful artifact of the current Hero system and the fact that the AppBar is currently a Hero. Upcoming changes in Heroes and AppBars may require restoring this behavior as an easter egg.

[2017-02-03 18:06] eseidelGoogle commented on #5363
I recall a theory being tossed around the cube that initial jank in in pesto/shrine might be due to custom fonts.  We'll need to trace.

[2017-02-03 18:08] abarth commented on #5363
The custom font issue is different than this one.  The custom fonts make the initial load of pesto and shrine slow (because we need to load the fonts off disk).  This issue is likely something else.

[2017-02-03 18:10] cbracken commented on #6939
For the record, verified that this also fails with Japanese: Hiragana 'あ', Katakana 'ア', Kanji '亜', full-width alpha-numeric characters 'ａ' and '１' and punctuation '「」【】', though some symbolics such as '○' seem to render.

[2017-02-03 18:14] HansMuller commented on #5350
At the start of the Hero transition the Hero, the recipe image in this case, is moved into the overlay. It was partially behind the appbar, now it's completely on top. It's not entirely clear how to handle this case. It turns out to be difficult for Android native as well: https://plus.google.com/+AlexLockwood/posts/RPtwZ5nNebb

Do really do this well we'd need to stage the hero transition: first

[2017-02-03 18:14] cbracken commented on #6708
Fixed by #7794

[2017-02-03 18:14] #6708 closed

[2017-02-03 18:14] eseidelGoogle commented on #5363
Looks like a giant 18ms build it at least part of the problem:
<img width="392" alt="screen shot 2017-02-03 at 10 14 21 am" src="https://cloud.githubusercontent.com/assets/11857803/22602807/9c7b7d1c-e9f9-11e6-922b-7276eb6757ba.png">

[2017-02-03 18:19] eseidelGoogle commented on #5363
This is the trace: https://ufile.io/a641c  Doesn't seem to load in chrome-tracing, filed: https://github.com/dart-lang/sdk/issues/28628, but might load in Observatory.

[2017-02-03 18:26] cbracken commented on #6237
Post #7784, no longer able to repro this.

[2017-02-03 18:26] #6237 closed

[2017-02-03 18:32] lukef opened #7855 "Suggestion: Template project adopt "lib/screens" structure"
I'd suggest that, even if the content of the template stays the same, there should be greater separation of concerns (as opposed to everything Flutter being in 1 `.dart` file). This is a suggestion, but I typically use the following:

[code]

I've adopted "screen" but I know the example is using "page". Not sure if that is a flutter-ism i just ignored/missed. Also, we might want to keep states sep

[2017-02-03 18:32] cbracken commented on #4399
There've been some behavioural changes to Pesto since this was filed -- specifically, we no longer do a stretch overscroll on iOS. Is this still an issue?

[2017-02-03 18:36] jason-simmons commented on #7848
This works as expected on my tip-of-tree build.

Do all the paths on the observatory_tool.py command line exist in your filesystem?

[2017-02-03 18:37] eseidelGoogle commented on #7855
We've gotten similar requests from Google teams wanting more guidance on best-practices/layout.  I suspect it's time to make our template a bit more sophisticated or something between the template and gallery and hello_services more accessible.  FYI @mit-mit

[2017-02-03 18:44] eseidelGoogle commented on #5364
Looks like it's crossfading now?
![demo mp4](https://cloud.githubusercontent.com/assets/11857803/22603795/bab4f9ee-e9fd-11e6-9849-c5d99ad3e8cb.gif)

[2017-02-03 18:45] eseidelGoogle commented on #5364
Also, as noted above, maybe this is a dupe of https://github.com/flutter/flutter/issues/5232?

[2017-02-03 18:46] eseidelGoogle commented on #5381
Does this need to be included in api stability?

[2017-02-03 18:47] abarth commented on #5381
Yes.  We won't be able to change the layout rules for Stack once we declare API stability.

[2017-02-03 18:49] eseidelGoogle commented on #5396
I just asked in https://gitter.im/dart-lang/TALK-general.  I'm really surprised Dart doesn't already have a package for this?

[2017-02-03 18:58] eseidelGoogle commented on #5416
My understanding is @chinmaygarde is willing to take a stab at creating an initial file.  The goal here is simply managing expectations.  Make it possible for us to explain to our users that X device is known to not work with Flutter.

[2017-02-03 19:00] eseidelGoogle commented on #5416
Unity appears to not actually provide an official list (and some sites complain that their Android device support is far from complete):
https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=supported+devices+unity

Donno.

[2017-02-03 19:03] eseidelGoogle commented on #5429
I was not able to repro this using an iOS simulator just now.

[2017-02-03 19:03] #5429 closed

[2017-02-03 19:04] eseidelGoogle commented on #5433
We definitely need to revive this test.  We've broken this a couple times since (most recently last week).

[2017-02-03 19:04] eseidelGoogle commented on #5433
This may be part of solving https://github.com/flutter/flutter/issues/5428.

[2017-02-03 19:05] sethladd commented on #5396
What exactly are the use cases? It may be that the browser's API for cookies was sufficient, and thus no Dart library appeared.

This issue is kind of vague. Can we get more specifics, or consider closing?

[2017-02-03 19:05] eseidelGoogle commented on #5446
I believe @cbracken resolved this?

[2017-02-03 19:05] sethladd commented on #5396
@krisgiesing what problem(s) did you run into?

[2017-02-03 19:05] eseidelGoogle commented on #5456
How can I reproduce this to test if this is still true?

[2017-02-03 19:07] eseidelGoogle commented on #5457
I'm not sure this is a very useful bug to track.  We don't yet have releases.

[2017-02-03 19:07] #5457 closed

[2017-02-03 19:07] sethladd commented on #7855
Are we agreeing that "screens" is a reasonable default/convention for Flutter app structure?

Would we take a patch for this?

In absence of anything better, makes sense to me :)

[2017-02-03 19:08] eseidelGoogle commented on #5467
Should we re-title this to be specifically about escher?  If so, this should be happening soon I'm told?

[2017-02-03 19:09] eseidelGoogle commented on #5472
I'm not sure I understand what this is asking for.  It looks like the bug this was blocking got closed.  Speculatively closing.

[2017-02-03 19:09] #5472 closed

[2017-02-03 19:09] eseidelGoogle commented on #5481
Looks like the blocking bug got closed?  Speculatively closing?

[2017-02-03 19:09] #5481 closed

[2017-02-03 19:10] eseidelGoogle commented on #5488
I'm not sure what (if anything) is more to do with this bug?

[2017-02-03 19:11] eseidelGoogle commented on #5499
I think we can dupe this against https://github.com/flutter/flutter/issues/2025.

Unless we're willing to decide that our examples could use dart-fmt even if our main code does not.

[2017-02-03 19:12] sethladd commented on #5499
I think our template project (created by `flutter create`) should be formatted with the formatter. We tell our users to use the formatter, so we want them to start with code that won't be reformatted when they run the tool.

[2017-02-03 19:12] sethladd commented on #5499
Sorry, unless I misunderstood... is this issue about the template starter project, or the examples like Gallery?

[2017-02-03 19:13] eseidelGoogle commented on #2025
I think I'm going to file a new bug that more clearly states our goal.  We just want automated formatting for Flutter, that doesn't make us feel like we're compromising too far from our readability goals expressed in our style guide.

[2017-02-03 19:14] sethladd commented on #2025
I'd be more specific:

"We just want automated formatting for Flutter's _SDK code_, which is distinct from the code our users will write"

[2017-02-03 19:24] eseidelGoogle commented on #5489
I suspect leafy has moved and we're pretty close to nuking these now?
https://github.com/flutter/engine/tree/master/shell/platform/android/org/domokit/sky/shell

We're probably waiting on @jakobr-google's gradel conversion to complete?

[2017-02-03 19:25] eseidelGoogle commented on #5496
I'm pretty sure this works now, no?

[2017-02-03 19:26] eseidelGoogle commented on #5496
Speculatively closing.  If we don't have this, we'll definitely need it once we move off of SkyApplication/SkyActivity: https://github.com/flutter/flutter/issues/5489

[2017-02-03 19:26] #5496 closed

[2017-02-03 20:01] cbracken commented on #5446
Fixed by flutter/engine#3375.

[2017-02-03 20:01] #5446 closed

[2017-02-03 20:14] krisgiesing commented on #5396
I wrote this in response to a thread on flutter-dev@googlegroups.com called "Http Request Session Handling" on Aug. 15, 2016. I can't find the flutter-dev group now, did it get renamed or something?

@Hixie wrote in that thread: "Currently you have to manage your own cookies, unfortunately. You're right that we should have this baked into our networking library. We're still trying to figure out ex

[2017-02-03 20:25] cbracken commented on #4621
Fixed by #7857.

[2017-02-03 20:25] #4621 closed

[2017-02-03 20:27] cbracken commented on #4595
Related patch #7857 for future ref.

[2017-02-03 20:35] Sfshaza commented on #7722
Maybe in Q2. I'd like others to feel free to tweak.  :)

[2017-02-03 20:47] Hixie commented on #5396
At the time we were going to have our own HTTP library, but now we're deferring to the Dart ecosystem. So this is probably WONTFIX.

[2017-02-03 20:47] #5396 closed

[2017-02-03 20:48] xster commented on #7839
Brain dump: it's a physical device specific problem. Add a helper in xcodeproj.dart that reads the to profile. Use it in devices.IOSDevice and check it before even calling mac.buildXcodeProject.

[2017-02-03 20:50] Hixie commented on #7855
I think we should keep our initial template to a single file and let people do what they want beyond that. I've never actually organised my code the way this bug describes, but I could definitely see it being reasonable. I just don't think there's value in the template having an opinion on this.

Having a single file for the template has the huge advantage that it allows new users to see everythin

[2017-02-03 20:55] dragostis commented on #5456
@eseidelGoogle Interchanging two `InkWell` that have splashes would stop the splashes from rendering. I can try to minimise this tomorrow morning.

[2017-02-03 21:04] Hixie commented on #6331
I'm saying do this (pseudo-code):

[code]

Is there some reason this isn't feasible? I don't really understand what "myStore" is here (does it come from the widget tree? or is it a global? how does _data get set?)

[2017-02-03 21:18] eseidelGoogle commented on #5396
@krisgiesing here is the topic: https://groups.google.com/d/topic/flutter-dev/nXtVXyg3FsU/discussion

[2017-02-03 21:28] cbracken commented on #7839
Seems reasonable to me! Are you thinking of something `xcodebuild -showBuildSettings` related? Then poking at `DEVELOPMENT_TEAM` /`PROVISIONING_PROFILE`?

[2017-02-03 21:32] eseidelGoogle commented on #5553
Is this still an issue worth tracking @HansMuller @Hixie?

[2017-02-03 21:32] eseidelGoogle commented on #5553
Unclear if this would need to be tagged with api-stability or just marked as "no milestone needed"

[2017-02-03 21:33] eseidelGoogle commented on #5568
We have removed homebrew-flutter.  All the packages it used to provide are now part of brew proper.

[2017-02-03 21:33] #5568 closed

[2017-02-03 21:34] eseidelGoogle commented on #5571
I think this might be nice but is likely very low priority.  We're about to move to using gradle, so hopefully our apk construction will be as transparent as any.

[2017-02-03 21:34] eseidelGoogle commented on #5577
@HansMuller is working on Heros v2 as we speak, which may include this.

[2017-02-03 21:35] eseidelGoogle commented on #5585
Did the recent routeBuilder work affect this? @HansMuller?  Also I know @collinjackson was working with some of our internal customers in login handling and may have found a workaround?

[2017-02-03 21:36] eseidelGoogle commented on #5591
This is a duplicate of https://github.com/flutter/flutter/issues/2138.

[2017-02-03 21:36] #5591 closed

[2017-02-03 21:38] eseidelGoogle commented on #5594
Having known crashes (even for possibly obscure Android features) will block shippers, moving to milestone 4.

[2017-02-03 21:39] eseidelGoogle commented on #5604
If we do this, it will be internal-only, so I don't think we need a public bug to track.

[2017-02-03 21:39] #5604 closed

[2017-02-03 21:44] eseidelGoogle commented on #5613
It actually has nothing to do with the back gesture.  You can see this small missing shadow even when not gesturing, it's just less noticeable.

I'm not quite sure why the shadow doesn't extend to the edge of the screen.

The shadow is also the same on Android, so removing the iOS label.

@chinmaygarde is this a quirk of the shadow we use from Skia?

[2017-02-03 21:45] xster opened #7860 "Flutter run output too messy when xcode build fails"
We're running it twice somewhere.
Would also be good to format the xcode's stderr differently from flutter command's native stdout

[2017-02-03 21:46] eseidelGoogle commented on #5631
Leaks are just slow crashes.  Any known crasher will block some set of shippers.

[2017-02-03 21:47] eseidelGoogle commented on #5637
I wonder if this changes as part of the scrolling refactor or @HansMuller's recent tab rework.

[2017-02-03 21:49] #7723 closed

[2017-02-03 21:55] eseidelGoogle commented on #5640
I'm not sure there is anything more to do here.  FYI @cbracken @xster (to see some of the historical trouble folks have had getting flutter run working with ios).

Happy to help diagnose newer flavors of this bug.  We now have several folks working on our iOS side of things and we believe our tooling to be much more stable.  Please file a new bug if you're still having trouble and i promise we'll

[2017-02-03 21:55] #5640 closed

[2017-02-03 21:56] eseidelGoogle commented on #5642
This hasn't come up since.  Closing for now.

[2017-02-03 21:56] #5642 closed

[2017-02-03 21:57] eseidelGoogle commented on #5652
I wonder if this could at all relate to https://github.com/flutter/flutter/issues/5135.  This may be resolved by Hixie's grand scrolling re-write he's landing now.

[2017-02-03 21:58] eseidelGoogle commented on #5661
Our failure mode is still pretty bad.  If you `rm -rf build && touch build` before `flutter run` we print this and then hang:

[code]

[2017-02-03 22:00] eseidelGoogle commented on #5669
I'm going to presume this is resolved based on the work above.

[2017-02-03 22:00] #5669 closed

[2017-02-03 22:00] eseidelGoogle commented on #5670
flutter.yaml is no longer a thing.

[2017-02-03 22:00] #5670 closed

[2017-02-03 22:01] eseidelGoogle commented on #5676
I feel like someone mentioned the other day that we already show something in slow mode here?

[2017-02-03 22:04] jakobr-google commented on #5489
This should be orthogonal to the gradle work. The current new project template, as well as the newly updated hello_services example, both already use the new io.flutter.* classes.

[2017-02-03 22:06] eseidelGoogle commented on #5676
I just tested, and the perf overlay doesn't say anything special in slowmode.

[2017-02-03 22:07] eseidelGoogle commented on #5703
This is probably an easy fix, just some plumbing.

[2017-02-03 22:09] eseidelGoogle commented on #5704
I don't think this is an option (according to that MD link) for mobile layouts?  Maybe for tablets?

[2017-02-03 22:09] xster commented on #5640
Should we interpret this as: for quality of life improvements, we can prompt the user to with an option to start an android or ios emulator for them if nothing is connected?

[2017-02-03 22:12] abarth commented on #5640
That sounds like a good idea.

[2017-02-03 22:12] eseidelGoogle opened #7861 "node.parent?._dirty != true is not true hit in iOS simulator"
I have no idea what I did to cause this.  I just was running the gallery in the iOS simulator.

[code]

[2017-02-03 22:13] eseidelGoogle commented on #7861
flutter/flutter@cce70d706988ecda7cf93f294d157651b016b078

[2017-02-03 22:14] eseidelGoogle commented on #5720
Looks like we currently disable antialiasing in two places:
https://github.com/flutter/flutter/search?q=isAntiAlias&type=Code&utf8=%E2%9C%93

[2017-02-03 22:14] abarth commented on #7861
The iOS simulator runs with AX turned on, which is why you're seeing this AX code get run.

[2017-02-03 22:15] eseidelGoogle commented on #5718
FYI @cbracken presumably this requires a bit more color coordination between our StatusBar class and the OS.

[2017-02-03 22:16] eseidelGoogle commented on #5723
I don't think there is anything to do here w/o more information.  Please feel encouraged to file a new bug if you're still seeing things like this!

[2017-02-03 22:16] #5723 closed

[2017-02-03 22:16] eseidelGoogle commented on #5728
Do we think this is a package:test bug, should we move it there?

[2017-02-03 22:17] eseidelGoogle commented on #5733
I would love to help diagnose, but we'll need more information.  Given how old this bug is I'm going to speculatively close, but please feel free to re-open with more info!

[2017-02-03 22:17] #5733 closed

[2017-02-03 22:26] Hixie commented on #5728
we've no idea.

[2017-02-03 22:30] eseidelGoogle commented on #5734
Thank you very much for the report.  We've greatly improved our tooling since this was filed. Please give things a try again, and if they don't work we're happy to work with you to find a fix.  But for now I think I should close this particular bug.

[2017-02-03 22:30] #5734 closed

[2017-02-03 22:32] eseidelGoogle commented on #5735
https://github.com/flutter/flutter/issues/5553 in case it's related.

[2017-02-03 22:32] xster opened #7863 "Offer to start android or ios [si|e]mulator for user when flutter running without devices"

[2017-02-03 22:32] xster commented on #5640
#7863

[2017-02-03 22:38] #7772 closed

[2017-02-03 22:39] #637 closed

[2017-02-03 22:39] eseidelGoogle commented on #5737
Sorry, I dropped the ball here.  I don't have a moto g3 immediately on hand, but I can definitely get one.

We've made massive changes to our engine and Framework since this bug was filed.  I would expect things to work (or certainly work differently) now.  If either of you would be willing to try again that would be helpful!

[2017-02-03 22:40] #3091 closed

[2017-02-03 22:41] eseidelGoogle commented on #5737
Moto G3 has a Adreno 306 gpu which is present in about 10% of smartphones according to unity's numbers and is definitely covered by Skia's testing.

I suspect we've fixed this, or we'd be getting a lot more complaints about it. Speculatively closing, please feel empowered to re-open with more info!

[2017-02-03 22:41] #5737 closed

[2017-02-03 22:42] LarkAscending opened #7864 "Add general UX enhancements to setup.md"
1. Add a summary table at beginning that lists all required components, the amount of disk space they require, and maybe a time estimate.
1. It wouldn't hurt to show people how to verify the amount of free disk space they currently have.
1. Clarify that only the Dart SDK is needed (not full-on Dart), and it is INCLUDED.
1. Clarify that both Dart and Flutter need to be successfully added to your pa

[2017-02-03 22:44] eseidelGoogle commented on #5739
We've recently done a bunch of work to improve hello_services (and have a bunch more in progress).  Speculatively closing.  Please feel encouraged to re-open if you're still having trouble!

[2017-02-03 22:44] #5739 closed

[2017-02-03 22:45] krisgiesing commented on #5396
Ah yes, I was not looking at google groups in the correct organization view. Sigh.

[2017-02-03 22:47] krisgiesing commented on #5396
Is the dart ecosystem going to address this issue? Do we have an issue in another project we can link to from here?

[2017-02-03 22:50] eseidelGoogle commented on #5396
My understanding from @nex3 over gitter is that package:http is this package.  Certainly https://www.dartdocs.org/documentation/http/0.11.3%2B9/http/Client-class.html appears to be for doing multiple-requests across a session.  Unclear how exactly one does cookie management in package:http, but I'm certainly not the expert there.

[2017-02-03 22:50] eseidelGoogle commented on #5749
@HansMuller was recently in here.  Is this still an issue?

[2017-02-03 22:51] eseidelGoogle commented on #5750
Is this changed at all by the grand scrolling refactor?

[2017-02-03 22:52] eseidelGoogle commented on #5761
I suspect this is a package:coverage bug and we should move there.  Speculatively closing in Flutter.

[2017-02-03 22:52] #5761 closed

[2017-02-03 22:53] eseidelGoogle commented on #5766
Docs in question: https://docs.flutter.io/flutter/dart-ui/Path/arcTo.html

[2017-02-03 22:53] HansMuller commented on #5749
This is no longer an issue.

[2017-02-03 22:53] #5749 closed

[2017-02-03 22:56] abarth commented on #5750
It will become much easier to fix but it's a separate problem.

[2017-02-03 22:56] eseidelGoogle commented on #5771
I'm not sure what to do with this bug.  @pq  is this still something you want to track?

[2017-02-03 22:56] eseidelGoogle commented on #5772
I believe @Hixie added a metric which tracks ignores (in a dollar amount)? :)

[2017-02-03 22:58] pq commented on #5771
Maybe not.  I think @Hixie is tracking this elsewhere.  Let's close.  These are only the tip of the iceberg anyway.

[2017-02-03 22:58] #5771 closed

[2017-02-03 22:59] pq commented on #5772
I know.  It's hilarious.  In any event, this is a bit stale.  Closing.

[2017-02-03 22:59] #5772 closed

[2017-02-03 23:09] nex3 commented on #5396
It's more that `http` is *designed to be* this package—it's not quite there yet, including in terms of cookie support. @donny-dont is working on a major refactor to make it act more like Shelf, at which point adding proper cookie support will be easier.

[2017-02-03 23:18] LarkAscending opened #7866 "Enhance IDE set up instructions in setup.md"
1. Clarify that two plugins need to be installed and configured.
1. (Mac) Add that the Java SDK is a prereq for running Xcode and does not come pre-installed. Provide a link.
1. Tell people how to check whether they've already installed a plugin in IntelliJ.
1. If they just installed a plugin but don't see it in the UI, try restarting the IDE.
1. When specifying the path to the Dart SDK, it's alwa

[2017-02-04 00:29] jtrunick commented on #7728
I wasn't able to pinpoint the problem. All I can say is I mucked up something with the iOS build that caused the problem. I was adding 3rd party libs and such. After starting back from scratch, re-adding and adjusting to link errors, I guess I didn't change whatever setting was the problem.

[2017-02-04 00:29] #7728 closed

[2017-02-04 00:41] xster commented on #7839
Ya. I backtrack on the devices.IOSDevice.startApp part though. Leaving it mac.diagnoseXcodeBuildFailure. buildXcodeProject is invoked in some other places that should get this warning. Seems to fit precedent patterns better too.

[2017-02-04 00:51] apwilson opened #7873 "'package:flutter/src/painting/box_painter.dart': Failed assertion: line 1235 pos 12: '(Point.origin & size).contains(position)': is not true."
[code]

[2017-02-04 01:05] Hixie commented on #7873
We need steps to reproduce...

[2017-02-04 01:34] cbracken commented on #5661
Giant stack trace should be fixed now (#7874).

[2017-02-04 01:40] Reagankm opened #7877 "Feature Request: let Navigator.push optionally pass a parameter to the page being pushed"
## Steps to Reproduce

Under "Routes can return a value" the [Navigator class documentation](https://docs.flutter.io/flutter/widgets/Navigator-class.html) only talks about `Navigator.pop` being able to pass a parameter back when a route is removed. But what about passing a parameter forward to the page being called with a `Navigator.push()`?

As an example use case, say I have a list of items whic

[2017-02-04 04:27] abarth commented on #7877
We have vaguely thought about using `RouteSettings` for this sort of thing.  We might want to combine this with a way of parsing out parameters from route names (e.g., after a `?` or something).

[2017-02-04 04:48] mehmetf commented on #6331
I understand. Thanks for the suggestions.

It is definitely doable. The data accessor is not as simple as shown here but we could move it to a common place that can be called from the callback and build().

I was merely pointing out that it is annoying to change our access pattern to data since it can have 3 states (not ready/null, empty or filled) and handling its implications in two places rathe

[2017-02-04 05:53] jtrunick opened #7882 "iOS: Drawer extends into OS status bar (top of screen)"
## Steps to Reproduce

Open a Drawer widget... the drawer extends up into the OS status bar area, with the time, network connection, etc. info area.

[2017-02-04 06:31] Hixie commented on #6331
You could do this:

[code]

...then you can make a superclass that has all the boilerplate (everything except the `build()` seems like it'd be the same for every class like this).

[2017-02-04 06:41] Hixie commented on #7882
This is what is intended. Why is that a problem?

[2017-02-04 08:51] #7831 closed

[2017-02-04 14:51] debunge commented on #7778
Definitely! I think about blogging about it.
@sethladd could you please then take a look at my problem I've encountered recently? https://stackoverflow.com/questions/42041713/how-to-redraw-grid-of-widgets-in-flutter-io-after-receiving-new-items-from-netwo I think I cannot figure this out on my own.

[2017-02-04 15:20] Sfshaza commented on #7778
Seth, perhaps you could set up a weekly analytics report with the site's
top 20 broken links? That can be used to add the top 10 redirects to
firebase.json every week.

On Sat, Feb 4, 2017 at 6:52 AM, debunge <notifications@github.com> wrote:

[2017-02-04 21:01] mehmetf commented on #6331
Thank Ian. Yes, numerous solutions exist. None of which is particularly elegant but I certainly appreciate the time you put into it 👍 .

I believe the best way is for us to use the existing form fields to figure out whether something changed or not. Those are already part of the State and they are init'ed in a saner way so they can be used anywhere within state including any life-cycle methods.

[2017-02-05 05:59] jtrunick opened #7888 "Need to explain how to build app for submission to app store"
I'm trying to perform the steps for submitting the app to the app store. App works in debug (in simulator) and release mode (on device) sucessfully.

## Steps to Reproduce

The typical instructions are (in XCode) to choose Runner > Generic iOS Device, and then Product -> Archive.

Validating the archive gives the following messages:

iTunes Store operation failed.
Invalid Segment Alignment. The ap

[2017-02-05 06:21] jtrunick commented on #7888
Removing armv7 from "valid architectures" gets past this error. Maybe consider removing from generated project if no support is planned.

[2017-02-05 06:27] abarth commented on #7888
iTunes Store operation failed.
This bundle is invalid. Applications built for more than one architecture require an iOS Deployment Target of 3.0 or later.
iTunes Store operation failed.
Unsupported Architectures. The executable for Runner.app/Frameworks/Flutter.framework contains unsupported architectures '[x86_64]'.

[2017-02-05 06:28] abarth commented on #7888
Probably needs to run `flutter build ios --release` to get the Genearted.xcconfig file pointed at the release version of Flutter.framework

[2017-02-05 06:33] jtrunick commented on #7888
Tried "flutter build ios --release" but still same errors even after clean... seems odd that didn't work it did change the flutter directory to /ios-release

[2017-02-05 06:39] abarth commented on #7888
[code]

[2017-02-05 06:48] jtrunick commented on #7888
That followed by clean/archive resulted in the same, I guess some x86 still lingers.

[2017-02-05 06:51] jtrunick commented on #7888
Some more errors (I'm using XCode 8):

iTunes Store operation failed.
Invalid Segment Alignment. The app binary at 'Runner.app/Frameworks/Flutter.framework/Flutter' does not have proper segment alignment. Try rebuilding the app with the latest Xcode version.

iTunes Store operation failed.
The binary is invalid. The encryption info in the LC_ENCRYPTION_INFO load command is either missing or invali

[2017-02-05 08:08] jonboj commented on #6347
This app with builddate 2016-12-11 works with no problem
https://play.google.com/store/apps/details?id=com.yourcompany.cruisedeals

[2017-02-05 18:56] jtrunick commented on #7888
I've tried changing:

	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
and adding
	<key>MinimumOSVersion</key>
	<string>8.0</string>

but still same results.. Ill wait for the iOS Google Flutter experts on this.

[2017-02-05 19:06] Sfshaza opened #7889 "Extract tool issues"
There are a couple problems with the extract tool (tool/extract.dart) on the flutter website.

* It doesn't recurse. When it was implemented, the flutter website had a flat structure, but I'm adding some subdirectories. Those aren't being checked.

* It's too strict. It's fine to check the code snippets for errors and warnings, but checking for hints is too draconian. It's not unusual to have code

[2017-02-05 19:39] Hixie commented on #7889
To avoid the hints, there's a trick where you put a comment before the snippet that has code in it that declares all the implicit variables you're using.

[2017-02-05 19:40] Hixie commented on #7889
(You do want to have all the hints because otherwise when the framework changes, it'll just change from having no warnings to having ignored warnings, instead of catching the problem.)

[2017-02-05 21:53] Sfshaza commented on #7889
Thanks, @hixie. I'll have to experiment with that comment. I definitely don't want to ignore warnings or errors.

[2017-02-05 22:04] eseidelGoogle commented on #7888
@jtrunick when we've done this before we've opened up `ios/Runner.xcodeproj` and used the "Archive for Release..." flow which XCode provides.  The Store is going to want an ipa not a .app anyway.

https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/SubmittingYourApp/SubmittingYourApp.html

[2017-02-06 04:44] Sfshaza opened #7891 "Docs should mention that assets can be in any directory, not just assets/"
## Steps to Reproduce

Run `flutter create myapp`.

View the pubspec file. It states:

[code]

No, actually it should be:

[code]

Perhaps refer them to [Adding Assets and Images in Flutter](https://flutter.io/assets-and-images/).

## Flutter Doctor

[code]

[2017-02-06 05:14] Hixie commented on #7891
I don't understand, what's the problem with the current text?

[2017-02-06 06:05] Sfshaza commented on #7891
@hixie, the path must include "assets".

[2017-02-06 06:20] Hixie commented on #7891
Surely the path should be whatever the path is to the images. If they're in an `images/` directory then it needs to say `images/`, if they're in the `assets/` directory then it needs to say `assets/`, and so on. No? Is the `assets` path actually important in some way?

[2017-02-06 06:25] Sfshaza commented on #7891
My understanding, largely from [Adding Assets and Images in Flutter](https://flutter.io/assets-and-images/) is that the pattern Flutter prefers is to use `assets`.

Is that not the case? @LarkAscending, is that what you understood?

[2017-02-06 06:42] Hixie commented on #7891
I don't see anything in the code that's hard-coded to `assets/`. We should probably make the Adding Assets page clearer.

[2017-02-06 06:50] Sfshaza commented on #7891
Yes, all my examples (for the layout doc) have been using "assets/...".

[2017-02-06 16:48] tvolkert opened #7894 "Enable OS X testing on Travis"
It's supported as part of https://github.com/travis-ci/travis-ci/issues/216

https://docs.travis-ci.com/user/multi-os/

[2017-02-06 17:02] sethladd commented on #7866
Good list!

[2017-02-06 17:16] sethladd commented on #7855
I think there's a lot of value for Flutter apps to be organized in a similar way. Similar to how Rails projects are created (models go into models/, etc), similar to how pub packages are created (tests go into test/), etc. Convention over configuration is a powerful pattern.

I like simple starter projects, but I do think we want to have more opinion (over time) about how our projects are structur

[2017-02-06 17:37] Hixie opened #7895 "FormState leaks registrations to route.addScopedWillPopCallback"
We never call `route.removeScopedWillPopCallback` (except if we're registering a new route).

We should call it in dispose and in dependenciesChanged unconditionally.

cc @HansMuller in case you want to take this one

[2017-02-06 17:38] Hixie opened #7896 "addScopedWillPopCallback docs don't mention unregistering"
The docs for addScopedWillPopCallback should mention that you also need to unregister (and therefore need to keep a reference to the route).

[2017-02-06 17:41] Hixie opened #7897 "State.dispose should disallow using inheritFromWidgetOfExactType"
By the time we call dispose, who knows what's going on with the element tree. We should throw a detailed error message saying that you need to remember a reference to the object you want to unregister from, rather than looking it up again at dispose or deactivate time.

[2017-02-06 17:44] johnmccutchan commented on #7848
@Hixie can you reproduce this?

[2017-02-06 17:47] tvolkert commented on #7855
I agree with @Hixie that this level of organization should be left up to apps.  The discussion we've had internally in Google are more about where Dart (Flutter) vs ObjC (iOS) vs Java (Android) code goes -- which is fairly prescriptive inside Google.

[2017-02-06 17:59] HansMuller commented on #5585
The willPop route support I added lets an app get in the way if the user pops a route with a back button It doesn't help if an app is started on a route that depends on some initialization that occurs in it's default starting route.

Perhaps the way to handle this is for the app to use the MaterialApp (or WidgetsApp) onGenerateRoute to limit which routes are available when the app is started.

[2017-02-06 18:04] sethladd commented on #7855
So no one is organizing their code around screens? Good to know...

[2017-02-06 18:05] Hixie commented on #7855
I'm sure some people are. I just don't see that as our job to prescribe.

[2017-02-06 18:17] apwilson opened #7900 "ClipRRect intrinsic protocol violation"
If I remove the ClipRRect from my tree this assert goes away.

[code]

[2017-02-06 18:23] Hixie commented on #7848
Steps to reproduce:
* `mkdir engine`
* `cd engine`
* `echo -e 'solutions = [\n  {\n    "managed": False,\n    "name": "src/flutter",\n    "url": "git@github.com:Hixie/sky_engine.git",\n    "custom_deps": {},\n    "deps_file": "DEPS",\n    "safesync_url": "",\n  },\n]\ntarget_os = ["android"]' > .gclient`
* `gclient sync` # this takes a while
* `cd src/flutter`
* `git remote add upstream git@github

[2017-02-06 18:23] Hixie commented on #7848
This happens reliably for me.

[2017-02-06 18:25] Hixie commented on #7848
The paths are all within the engine repo, so they should be the same for me as any other clean checkout.

[2017-02-06 18:25] goderbauer opened #7901 "dart.exe crashes when closing IntelliJ on Windows"
I am running IntelliJ on Windows with the Dart and Flutter plugin. Very often, when I am closing IntelliJ after I used it for a longer time, I am presented with this dialog indicating that `dart.exe` has crashed:

![dart-stopped-working](https://cloud.githubusercontent.com/assets/1227763/22660442/67ccc5bc-ec56-11e6-8b5a-0379041eccf7.png)

Not sure if the Dart Plugin or the Flutter plugin is causin

[2017-02-06 18:26] goderbauer commented on #7901
/cc @devoncarew

[2017-02-06 18:26] Hixie commented on #7848
[code]

[2017-02-06 18:27] Hixie commented on #7848
So, all but the first exist.

[2017-02-06 18:29] devoncarew commented on #7901
This issue was moved to flutter/flutter-intellij#711

[2017-02-06 18:31] devoncarew commented on #7901
I'll track over at flutter-intellij (w/ the assumption that the resolution is in the plugin).

[2017-02-06 18:31] #7901 closed

[2017-02-06 18:35] sethladd commented on #7855
Sounds like we're not yet ready to prescribe more app structure via our starter app template. We do think it's a good idea to document more app structure and best practices as we learn them.

We appreciate the suggestion, but we're going to close this one for now.

Feel free to blog your own Flutter app structure thoughts. Hopefully over time, the community will converge on some conventions.

[2017-02-06 18:35] #7855 closed

[2017-02-06 18:55] Hixie opened #7903 "microbenchmarks stock_build_iteration regression"
Each of 921c0fa, 0bcecef, 31e2a50 and 079db95 made microbenchmarks stock_build_iteration regress, though there was a corresponding improvement to stock_layout_iteration.

The benchmark is noisy so it's not clear exactly which of the above are to blame. The layout benchmarks have a clear change at 31e2a50.

[2017-02-06 18:59] jtrunick commented on #7888
Correct that's what I'm trying to do. I've set the Runner to be "Generic iOS Device" and then I choose Product->Archive/Validate... Are you suggesting I don't try to validate? I think it validates on upload anyway.

The above are the errors I get using the default Flutter project, which now I've tried to change to make validation happy, but haven't yet succeeded.

[2017-02-06 19:00] Hixie commented on #7903
I increased the benchmark baseline for stock_build_iteration from 803ms to 840ms.
I decreased the layout benchmarks from 485 to 415 (iOS) and from 565 to 515 (Android).

[2017-02-06 19:03] danrubel commented on #5488
I'm still working on cleaning up `flutter analyze`, but no need to keep this bug open for that.

[2017-02-06 19:03] #5488 closed

[2017-02-06 19:13] jtrunick commented on #7888
I marked the non-except encryption with NO, that has reduced the errors. I've also set the MinimumOSVersion to 8.0, but that still gives me issues.

iTunes Store operation failed.
Invalid Bundle. The bundle Runner.app/Frameworks/Flutter.framework does not support the minimum OS Version specified in the Info.plist.

[2017-02-06 19:14] jtrunick commented on #7888
This is maddening, the validation error explicitly says that MinimumOSVersion hasn't been specified, but setting that has no effect, what makes it happier is if you set LSMinimumSystemVersion instead.

[2017-02-06 19:16] abarth commented on #7888
/cc @xster @cbracken

[2017-02-06 19:19] cbracken commented on #7888
On it! Getting to work on repro-ing this locally. Will update here once we've got something.

[2017-02-06 19:21] jtrunick commented on #7888
Great! here's what seems to have helped so far:
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>

This seems to be asked for/required, but not helping me:
	<key>MinimumOSVersion</key>
	<string>8.0</string>

[2017-02-06 19:22] cbracken commented on #7888
Thanks for the additional detail! Taking a look.

[2017-02-06 20:05] cbracken commented on #7888
To try to narrow this down to whether it's something project-specific, here are general repro instructions against the Gallery example using Flutter at head (57ee52636b1ed3203d5db71898330b964409d633) and Xcode 8.2 (8C38):

1. `rm -rf examples/flutter_gallery/build`
1. `open examples/flutter_gallery/ios/Runner.xcodeproj`
1. Select *Runner* in the project navigator.
1. Select the *General* tab and s

[2017-02-06 20:18] jason-simmons commented on #7848
This is due to a permissions error on some executables in third_party/dart-sdk.  It was fixed by:
  https://github.com/flutter/buildroot/commit/bdd9f1ffb32a4c7e28401f3268c5c6b21c07b771

Reset Hixie/sky_engine.git to the current master head and try it again.

[2017-02-06 20:30] eseidelGoogle commented on #6807
@chinmaygarde if this isn't on your short list, maybe you could help @jason-simmons to work on this?  @abarth tells me this is a potentially big win and I know you have a lot on your plate atm. :)

[2017-02-06 20:33] LarkAscending commented on #7891
Seems like a simple thing to test... create an /images subdir and put an image in there and see if it gets picked up.

From the [API doc on AssetBundle](https://docs.flutter.io/flutter/services/AssetBundle-class.html) it looks like images/ should work.

Any time something in the doc needs updating, just file an issue - or better still, just update the MD file and do a quick PR. Incremental progres

[2017-02-06 20:36] Sfshaza commented on #7891
This issue can be reassigned to docs, but I wanted to make sure we are on the same page as to Flutter recommendations. I definitely had the idea that we wanted to model using an 'assets' directory, but it appears I was wrong.

[2017-02-06 20:45] jtrunick commented on #7888
Yes, it's been successful all along creating the archive, just when Validating is it a problem.

[2017-02-06 20:49] cbracken commented on #7888
Alright - I've got the same failures you're seeing reproing in the Validate step as well. Will let you know when we've made progress.

[2017-02-06 20:57] Hixie opened #7905 "flutter analyze --watch should be incremental"
Rather than waiting for the whole list of warnings to be updated, we should incrementally add and remove warnings from the display as the server reports changes.

cc @danrubel @devoncarew @pq

[2017-02-06 21:35] cbracken commented on #7888
Update: we've identified the issues and are working on getting fixes landed. There are a couple issues with the Info.plist that we ship with the Flutter framework, and we're going to need a `lipo` step to thin the framework to arm64 only. Will update here when we've got the fixes landed.

[2017-02-06 21:38] Hixie commented on #7848
That fixed it. Thanks. I am surprised that `gclient sync` would leave my system in a state that `git rebase upstream/master` couldn't get me out of.

[2017-02-06 21:38] #7848 closed

[2017-02-06 21:45] jtrunick commented on #7888
Sounds good, I had also performed that ```lipo``` step by abarth above, but that didn't seem to be enough to make validate happy.

[2017-02-06 22:16] johnmccutchan commented on #7128
State dump:

* We are now tracking fine grained performance metrics on Android (still waiting on @yjbanov for iOS).
* Fine grained benchmarks show that the framework's `reassemble` for the Gallery app has regressed in performance and now takes ~1.5 seconds (used to be ~500 milliseconds).
* Given a single library change, we are preserving most unoptimized code and are not suffering from a compilati

[2017-02-06 22:42] Hixie commented on #7128
Making the widget tree dirty is far less that 50%. Gallery home page, second hot reload, no changes, on my device (rounding to the nearest 5ms, this is very rough eyeballing from the timeline graph):
50ms Reload.
10ms Unaccounted for in timeline.
10ms Something in Dart (unlabeled).
90ms Unaccounted for in timeline.
40ms Dirty widget tree.
35ms Dirty render tree.
120ms Rebuild widget tree.
40ms Rel

[2017-02-06 22:46] cbracken opened #7908 "Xcode build does not strip release builds to arm64"
Flutter.framework is distributed as a fat binary (arm64, x86_64) to allow running on both devices and simulator. This causes App Store validation to fail due to the including of x86_64 code in the final binary.

We should add an additional build phase that strips framework code to the target architecture with `lipo`, for example to `xcodebackend.sh`. e.g., http://ikennd.ac/blog/2015/02/stripping-u

[2017-02-06 22:46] johnmccutchan commented on #7128
@Hixie Thanks for the more precise numbers, I was going off of my memory from last week.

[2017-02-06 22:49] cbracken opened #7909 "Flutter.framework Info.plist missing required keys"
App Store validation notes about the lack of `UIRequiredDeviceCapabilities` that limits architectures to `arm64` and `MinimumOSVersion` of 8.0

[2017-02-06 22:50] cbracken commented on #7909
Encountered in #7888

[2017-02-06 22:51] apwilson commented on #7900
Here's code to reproduce a similar issue:

[code]

[2017-02-06 22:51] cbracken commented on #7908
Encountered in #7888

[2017-02-06 22:52] #7909 closed

[2017-02-06 22:54] apwilson commented on #7900
Note that setting the above code sample's hieghtFactor to 0.000001 eliminates the assert.

[2017-02-06 23:11] Hixie commented on #7128
We studied the bot. Turns out the bot is measuring first reload, not second reload, and is actually going WAY faster than I see on my local machine. No idea why compilation takes longer for me than the bot sees...

[2017-02-07 01:36] cbracken commented on #7888
The engine side of the fix is now in. I expect to have the flutter tool fix in tomorrow, at which point I'll update this bug. Thanks for your patience!

[2017-02-07 03:49] eseidelGoogle opened #7918 "Flutter users will need a way to generate symbols for AOT Dart code"
In order to support understanding (rare, but possible) SEGFAULT, OOM, etc, in AOT Dart code we will likely to want to support symbol generation for gen_snapshot, etc.

I don't know what the contract is for AOT dart code (is it supposed to be able to crash this way?) but it seems like this may be useful?

@a-siva may already have a bug on file for this, but I didn't find it in a quick search so her

[2017-02-07 03:49] eseidelGoogle commented on #614
Support symbols in AOT code: https://github.com/flutter/flutter/issues/7918

[2017-02-07 07:29] abarth opened #7919 "Make sure Scrollable.ensureVisible works with children before the center"
See "ListView ensureVisible negative child" in `ensure_visible_test.dart`.

[2017-02-07 07:34] Hixie opened #7921 "flutter.bat doesn't lock the cache directory before downloading artifacts"
If you run flutter in two terminals at the same time, e.g. if you run flutter indirectly via your IDE and simultaneously run `flutter doctor` at your command line, you will end up corrupting your artifacts store as we simultaneously download it from multiple processes.

(Mac has the same problem. As far as we can tell there's no solution on Mac.)

cc @goderbauer

[2017-02-07 07:35] Hixie opened #7922 "FLUTTER_TOOL_ARGS isn't supported by flutter.bat"
`flutter.sh` has a FLUTTER_TOOL_ARGS hack so that you can run the tool with the debugger enabled, or so that you can run with checked mode enabled by default (see PR https://github.com/flutter/flutter/pull/7655).

We should add the same feature to `flutter.bat`.

@goderbauer

[2017-02-07 07:43] Hixie commented on #7579
I can't find any evidence that --enable-assert-initializer is a thing. I think the other two are already implemented by default.

[2017-02-07 07:44] Hixie commented on #7579
Ah maybe the problem is the "enable" part. Correcting title.

[2017-02-07 12:19] mit-mit commented on #7810
I discussed naming for these a bit in MTV, and we came up with these suggestions for the two parts listed above:

1. hello_native
1. flutter_view

[2017-02-07 12:35] uKL opened #7923 "Flutter package does not support iOS 32 bit out of the box (iPhone 5)"
## Steps to Reproduce

Trying to compile Flutter application which uses FlutterViewController for iPhone5 (ARM 32 bit)

## Logs

Run your application with `flutter run` and attach all the log output.

[code]

## Flutter Doctor

[code]

[2017-02-07 16:35] sestegra opened #7925 "Crash report Samsung Galaxy S4"
## Steps to Reproduce
When launching app in release mode only, the app crashes when loading (see logcat traces).
The same app in debug mode is working well.

## Logs
- flutter run --release
[code]

After manual installation of the apk, see following logcat traces.
- adb logcat logs
[code]

## Flutter Doctor
[code]

[2017-02-07 16:52] eseidelGoogle commented on #7925
https://github.com/flutter/engine/wiki/Symbolicating-production-crash-stacks would tell us where it's crashing.

[2017-02-07 16:53] eseidelGoogle commented on #7925
Actually, that's probably not even necessary:
I/DEBUG   (  299): Abort message: '[FATAL:../../flutter/runtime/dart_init.cc(467)] Check failed: !aot_snapshot_path.empty().

Seems to suggest that this .apk doesn't have a snapshot in it.  Running `flutter build apk` do you see an error?

[2017-02-07 17:01] abarth commented on #7810
"native" is a loaded term.  Maybe keep the name hello_services and add flutter_view ?

[2017-02-07 17:04] sethladd commented on #7810
Would it make sense to add some interop to the gallery, thus providing a sample? Lots of people love the gallery for its example code. We could easily imagine adding analytics or crashing reporting to that app.

[2017-02-07 17:04] abarth commented on #7810
Yes, we should do that too.

[2017-02-07 17:09] abarth opened #7926 "DefaultTabController should explain how it relates to TabController"
DefaultTabController and TabController have similar names but it is unclear how they relate to each other.  We should explain in more detail.

/cc @HansMuller

[2017-02-07 17:09] eseidelGoogle commented on #2089
If I'm reading this right: https://www.statista.com/statistics/606147/iphone-model-device-market-share-worldwide/ 32-bit arm devices account for about 17% of the worldwide usage of idevices?  If that's true, that likely bumps the priority of this bug a little at least into milestone 4 if not 3.

[2017-02-07 17:13] mit-mit opened #7928 "Add a plugin to Flutter Gallery"
Flutter Gallery is the main sample prospective developers look at to understand the power of Flutter. We should extend it to have some interop.

[2017-02-07 17:15] sethladd commented on #7928
Gallery analytics: https://github.com/flutter/flutter/issues/4073

Gallery crash reporting: https://github.com/flutter/flutter/issues/4070

[2017-02-07 17:20] lejard-h commented on #7925
Same error on LG-H340n, no error with `flutter build apk`

`flutter doctor`

[code]

[2017-02-07 17:20] mit-mit commented on #7810
Yup, agree on Gallery (we chatted about that yesterday; just opened https://github.com/flutter/flutter/issues/7928 to track).

[2017-02-07 17:21] mit-mit commented on #7810
About services, I personally find that a little generic. Maybe `hello_native_services` or `hello_native_platform`?

[2017-02-07 17:50] eseidelGoogle commented on #7923
I think this is a duplicate of https://github.com/flutter/flutter/issues/2089?

[2017-02-07 17:51] uKL commented on #7923
Correct, would you mind closing it?
W dniu wt., 7.02.2017 o 18:50 Eric Seidel <notifications@github.com>
napisał(a):

[2017-02-07 17:53] #7923 closed

[2017-02-07 18:22] Hixie commented on #7810
Please don't use the word "native". It means very different things to
different people.

On Tue, Feb 7, 2017 at 9:21 AM Michael Thomsen <notifications@github.com>
wrote:

--

--
Ian Hickson

😸

[2017-02-07 18:26] sestegra commented on #7925
APK contains snapshot
[code]

[2017-02-07 18:28] #7922 closed

[2017-02-07 18:36] jason-simmons commented on #7925
The "snapshot_aot" files are the names that would be expected for a release mode APK built with an older version of flutter_tools from at least 2 weeks ago.

I'm not sure
  * why a release build is generating an output named "app-debug.apk"
  * why the snapshot files in the APK have the old filenames

@jakobr-google Does this mean that the project is still using V1 of the Gradle plugin?  and/or th

[2017-02-07 18:47] jakobr-google commented on #7925
This does look like the old V1 Gradle build. In a V2 build, it should build app-release.apk for a release build (and have assets/{isolate,vm}_snapshot_{data,instr} instead of what's listed above).

@sestgra have you updated the Gradle build scripts (including android/buildSrc) recently? (As in, after I merged #7606 about a week ago?) Does `(cd android; ./gradlew clean)` help?

[2017-02-07 19:35] jtrunick commented on #7888
Does the lipo step allow your validate to work? I had still had trouble even after the lipo down to arm64

[2017-02-07 19:48] mit-mit commented on #7810
OK. I suggest `platform_services` then, which would also match https://flutter.io/platform-services/. `hello_services` seems too unspecific.

[2017-02-07 20:01] gavindoughtie opened #7932 "LazyBlock unexpected indices on Android"
## Steps to Reproduce

This is a simple lazy block, requesting data. Has been working find on iOS but we just brought up the Android application (which works like a champ except for this).

When we scroll our lazy block list towards the bottom, someplace near the end we suddenly get handed an index to build way towards the top.

Here's some printf spew:

I/flutter ( 8806): buildItem, index:265
I/f

[2017-02-07 20:13] cbracken commented on #7888
The combination of #7914 and #7913 should fix this for new projects. #7933 fixes it for the example projects.

@jtrunick syncing flutter to HEAD and applying something similar to #7933 to your own project *should* get you going. Let me know if you're still running into issues.

[2017-02-07 20:20] abarth commented on #7932
Interesting.  You don't happen to have a reduced test case do you?

[2017-02-07 20:28] abarth commented on #7810
`platform_services` sounds great.

[2017-02-07 20:29] cbracken commented on #7908
Fixed by $7913 and #7933.

[2017-02-07 20:29] #7908 closed

[2017-02-07 20:31] Hixie opened #7937 "ListView.custom makes complex_layout benchmark slow"
Most of the benchmarks below are for complex_layout_scroll_perf_*, abbreviated clsp_* below. Numbers are approximate.

clsp__memory: diff_total_kb: went from 10KB-18KB to 20KB-28KB (+50%) 🐢‬
clsp__memory: end_total_kb: went from 115MB to 125MB (+8%) 🐢‬

clsp__timeline: average_frame_build_time_millis: went from 3ms-4ms to 4ms-5ms (+40%) 🐢‬
clsp_ios__timeline: average_frame_build_time_millis: 0.7ms

[2017-02-07 20:35] Hixie commented on #7937
I don't understand why iOS would have gotten better when Android got worse.

[2017-02-07 20:35] sethladd opened #7938 "Request to delete the codelab branch"
We have a very old codelab branch in our source repo. To help reduce confusion, and because we hid the codelab that was based on this branch, we should consider removing the codelab branch.

While we're at it, we may want to remove the hackathon branch.

[2017-02-07 20:36] Hixie commented on #7937
It's not clear to me why build time would have gotten worse at all. We're still building basically the same thing, as far as I can tell.

[2017-02-07 20:46] abarth commented on #7937
I'll revert the change and we can study in more detail.

[2017-02-07 20:48] eseidelGoogle opened #7939 "make --non-interactive default in sky_shell on desktop?"
`sky_shell` (the desktop command-line test binary) does nothing (or crashes) by default it seems.  Can we make `--non-interactive` the default instead since we don't officially support graphics on desktops?

[2017-02-07 20:50] eseidelGoogle opened #7941 "Is flutter_tools/test/all.dart still needed?"
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/test/all.dart

It has a comment at the top which says it's only needed due to
https://github.com/dart-lang/test/issues/327

That's resolved.  So I'm not sure if the comment is wrong (and it's still needed for other reasons, like coverage?) or if it can be deleted.

[2017-02-07 20:50] eseidelGoogle commented on #7941
@tvolkert or @devoncarew would know.

[2017-02-07 20:52] tvolkert commented on #7941
Not sure.  I'll try it out once I start mucking with flutter tools tests

[2017-02-07 21:17] yyoon opened #7943 "TextField isn't updated when typing with a bluetooth keyboard"
## Steps to Reproduce

Focus a `TextField` widget while a bluetooth keyboard is connected.
It doesn't show the virtual keyboard on the screen, but typing anything on the bluetooth keyboard doesn't actually update the text field value.

I used Pixel C and Pixel C Keyboard.

## Flutter Doctor

Paste the output of running `flutter doctor` here.

[code]

[2017-02-07 21:23] devoncarew commented on #7941
This was when we couldn't use `pub run test` to run the flutter_tools tests (a symlink thing). I think it's safe to remove now -

[2017-02-07 21:34] xster commented on #7603
Will treat as cleanup as part of #7652

[2017-02-07 21:34] #7603 closed

[2017-02-07 21:44] xster commented on #7459
Going to merge this into #6939

[2017-02-07 21:44] #7459 closed

[2017-02-07 21:45] xster commented on #3331
I know this is older but I'll merge into the other issue that had more details :)
#6939

[2017-02-07 21:45] #3331 closed

[2017-02-07 22:12] mit-mit commented on #4546
Assigning @jason-simmons as he seems to be fixing this already wrt. java.

[2017-02-07 22:13] mit-mit commented on #4546
@cbracken can I assign you for obj-c? And will the solution being considered there also work if we switch to Swift?

[2017-02-07 22:25] Hixie opened #7945 "AppBar and FlexibleSpaceBar hardcode their usage of ui.window.padding.top"
...so if you ever put an AppBar anywhere that isn't at the top of the screen, things will go poorly.

[2017-02-07 22:30] mit-mit opened #7946 "First hot reload does too much reloading"
The first hot reload after a Run/Debug does a bunch of reloading even if you don't change anything in-between starting the app and reloading:

[code]

This issue occurs on Android simulator, but not iOS simulator.

Overall, this is a confusing user experience, and I'm concerned it can contribute to developers building a lack of trust in the robustness of hot reload, and for that reason would be gr

[2017-02-07 22:32] #7926 closed

[2017-02-07 22:34] cbracken opened #7947 "Keyboard doesn't switch when switching between TextFields with different keyboard types"
## Steps to Reproduce

1. Open the Gallery and tap on the Text fields demo.
1. Tap in the *Phone Number* field. The phone keyboard appears.
1. Tap in the *Life story* field. The phone keyboard remains on-screen.

Expected behaviour: the phone keyboard is replaced by a standard text entry keyboard.

Framework bits from `doctor` output.
[code]

[2017-02-07 22:42] eseidelGoogle commented on #7947
This may be the same as https://github.com/flutter/flutter/issues/4970?

[2017-02-07 22:43] cbracken commented on #7947
Yep -- missed that. Also verified that this works as expected on a Nexus 4 Android device.

[2017-02-07 22:43] #7947 closed

[2017-02-07 22:49] #7896 closed

[2017-02-07 22:49] #7895 closed

[2017-02-07 22:54] #6946 closed

[2017-02-07 22:54] mit-mit commented on #7810
When we make this split, we should also add a note about these two samples in the [examples readme.md](https://github.com/flutter/flutter/blob/master/examples/README.md)

[2017-02-07 23:02] #7921 closed

[2017-02-07 23:04] mit-mit commented on #7938
What is the alpha branch used for?

[2017-02-07 23:09] sestegra commented on #7925
@jakobr-google We updated a version from December to latest version.
The issue is fixed with `./gradlew clean` now.

I have an issue with release signature now, I see work in progress on other issues.

[2017-02-07 23:17] abarth commented on #7938
Codelab branch deleted.

[2017-02-07 23:18] abarth commented on #7938
Hackathon branch deleted.

[2017-02-07 23:19] abarth commented on #7938
There are some old instructions that tell you to clone that branch.  The upgrade path automatically moves you back to master, but breaks down if the branch doesn't exist in the github repo.

[2017-02-07 23:19] #7938 closed

[2017-02-07 23:36] #7724 closed

[2017-02-07 23:56] xster opened #7952 "TextInputType not respected when entering focus on field"
Open gallery app, go to Text fields demo. Tap the various fields. Note the keyboard doesn't change to a numeric input on both Android and iOS despite the demo specifying `keyboardType: TextInputType.phone` for the phone number.

On iOS, it's possible to trigger the desired effect by leaving the focus on phone number entry, then locking and unlocking the screen.

[2017-02-08 00:29] eseidelGoogle commented on #7952
Related to https://github.com/flutter/flutter/issues/4970 ?

[2017-02-08 00:30] eseidelGoogle commented on #7925
Sounds like this can be closed?

If you have additional issues, please file!  @jakobr-google and others are actively working on improving the gradel side of our workflow.

[2017-02-08 00:30] #7925 closed

[2017-02-08 00:52] xster commented on #7952
Oops, you're right, it's a dupe

[2017-02-08 00:52] #7952 closed

[2017-02-08 00:52] devoncarew opened #7955 "tweak doctor message for outdated ios-deploy"
With an outdated ios-deploy, you get the message:

[code]

It should probably read something like `ios-deploy out of date - 1.9.0 recommended. To upgrade, run `brew upgrade ios-deploy`.

[2017-02-08 00:55] ppolasek opened #7956 "type 'MappedListIterable<Recipe, dynamic>' is not a subtype of type 'List<Widget>' of 'children'"
## Steps to Reproduce

Please tell us what you were doing and what went wrong. If you are running flutter tools from the command line, please try adding the `-v` or `--verbose` option to gather more information.

It looks like the TwoLevelList's children does not take an Iterable?  It is requiring a List<Widget>.

If the problem is with your application's rendering, please attach a screenshot and

[2017-02-08 01:20] abarth commented on #7956
That's correct.  The `children` argument to `TwoLevelList` is a `List`.  Maybe you're missing a `toList()` call on the result of a `map()` call in `recipe_list.dart`?

[2017-02-08 01:27] ppolasek commented on #7956
I think I am, so I modified the code to look like this:
        children: config.recipes.map((recipe) {
          new RecipeItem(recipe: recipe);
        }).toList(),

But it threw a different error.  If you have any suggestions where to begin I'd appreciate it.
I/flutter (20385): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (20385)

[2017-02-08 01:32] chinmaygarde commented on #2089
From the tooling perspective, supporting universal applications is a bit tricky. Though we can easily prepare a fat mach binary that supports armv7 as well as aarch64 (we already do this for the Flutter framework that can be used for both simulator and device builds), we also have to prepare and package the instructions snapshot for the Dart code in multiple architectures (via gen_snapshot). Then,

[2017-02-08 01:42] ppolasek commented on #7956
I was missing a 'return' when constructing a new Recipe object:
children: config.recipes.map((recipe) {
**return** new RecipeItem(recipe: recipe);
}).toList(),

[2017-02-08 01:43] #7956 closed

[2017-02-08 01:46] rmacnak-google opened #7959 "`flutter analyze` looks at more files than asked for"
@danrubel

When I run `flutter analyze` in the fluttery_gallery directory, I get errors from flutter_tools, which should not not have been included in the analysis.

[code]

flutter@e742b901b8d536e57660f16ab2dd9ffabd4e9de6

[2017-02-08 02:01] cbracken commented on #4970
Fixed by flutter/engine#3400

[2017-02-08 02:01] #4970 closed

[2017-02-08 02:05] Hixie commented on #7959
Also it's not clear where those errors are coming from... as far as I can tell the code is fine and nobody else (not even the bot) is seeing these errors. @pq

[2017-02-08 03:02] cbracken commented on #7955
Fixed by #7962

[2017-02-08 03:02] #7955 closed

[2017-02-08 04:10] eseidelGoogle commented on #7956
Sorry, the analyzer should have warned you there, see https://github.com/dart-lang/sdk/issues/26554

[2017-02-08 04:18] eseidelGoogle opened #7963 "Link to javadocs from docs.flutter.io (and maybe in search too?)"
https://github.com/flutter/flutter/pull/7935 added javadocs to docs.flutter.io:
https://docs.flutter.io/javadoc/io/flutter/view/FlutterView.html

But I we don't currently link to them from our front page.

The way we create the index.html for docs.flutter.io is a bit odd however:
https://github.com/flutter/flutter/blob/master/dev/tools/dartdoc.dart#L106

FYI @LarkAscending @jason-simmons

[2017-02-08 04:38] jtrunick commented on #7888
I created a new one from scratch copied my stuff over, and got it to validate successfully, which I was a little surprised as I hadn't copied the icon images over yet. Thanks!

[2017-02-08 04:41] cbracken commented on #7888
Fantastic! Glad to hear you're unblocked. Thanks again for filing the issue and all the feedback. If you don't mind, I'll keep this issue open until I've got followup issues filed, in particular documenting the process of getting an app from code, to archive, through validation, and to the app store.

[2017-02-08 07:55] abarth commented on #7959
I've seen these errors in Atom from time-to-time (although not all the time)

[2017-02-08 09:22] jimbeveridge opened #7966 "Error: '!state.down': is not true"
commit 06f879b57ed40a192e4fafd1b6031c65754fdc5e

I received the following assertion while running Flutter under qemu on Magenta. It's not clear exactly what I did. The qemu window lost and regained focus because I used Ctrl-Alt.

[code]

[2017-02-08 14:34] jtrunick commented on #7888
docs would be great... i almost forgot to run that ```flutter build ios --release``` command. Unless you know its there its easy to miss.

[2017-02-08 15:54] InspiredIdealist commented on #6501
Thanks for looking into this!

[2017-02-08 16:27] devoncarew opened #7967 "remove some hand-coded methods and replace with functionality from the intl package"
See https://github.com/flutter/flutter/pull/7960 for context.

[2017-02-08 16:45] abarth commented on #7966
Looks like Mozart sent us two `down` events for a pointer without an intervening `up` or `cancel`.  Probably we're missing a `cancel` when you Ctrl-Alt QEMU.  /cc @j9brown

[2017-02-08 16:50] pq commented on #7959
@danrubel did a bunch of changes in this area so deferring to him.  Happy to roll up my sleeves and pitch in if needed though!

[2017-02-08 18:05] LarkAscending commented on #7963
Yes I had a look at this yesterday. Especially the way we generate the index.html page... This is something that's hard/impossible to test locally before a PR so I'll find someone who's familiar w/the dartdoc tools and then circle back.

[2017-02-08 18:27] eseidelGoogle commented on #5797
This is definitely a real bug.  Probably a very easy fix.  I suspect the Build command shouldn't implement run(), not sure.  This might also be a bug in package:args.

[2017-02-08 18:28] eseidelGoogle commented on #5798
This presumably should be assigned to @HansMuller?  I think he's working on this now.

[2017-02-08 18:29] sethladd commented on #7588
Hi. This might help avoid issues for new users on macs. If this is easy, can we do this by/before March 8th ?

[2017-02-08 18:30] sethladd opened #7971 "Refining the Setup instructions for new users"
Thinking about how we can create an even smoother setup experience, some ideas:

* Mention where/how to get git
* More prominently mention to "verify your setup with `flutter doctor`" as a Final Step
* Mention where to go if your setup fails or stalls out
* Mention approximately how much space you'll need, and how to check
* Mention that iOS devices should be 5S+
* Mention that Android devices sho

[2017-02-08 18:30] eseidelGoogle opened #7972 "`flutter drive` crashes"
Attempted to just run `flutter drive` in examples/flutter_gallery to validate if https://github.com/flutter/flutter/issues/5800 was still a bug. :)

## command

flutter drive

## exception

NoSuchMethodError: The method '[]' was called on null.
Receiver: null
Tried calling: [](1)

[code]

## flutter doctor

[code]

[2017-02-08 18:32] abarth commented on #7588
I'm not aware of any reason to prefer SDK 24.

[2017-02-08 18:32] sethladd commented on #7710
OK, I think we did this. Images added.

[2017-02-08 18:32] #7710 closed

[2017-02-08 18:33] sethladd commented on #7322
Closing as we expect package http to get fixed shortly.

[2017-02-08 18:33] #7322 closed

[2017-02-08 18:33] sethladd commented on #7306
I think we did this, yes? Closing. Please reopen if we have more work planned.

[2017-02-08 18:33] #7306 closed

[2017-02-08 18:34] sethladd commented on #7119
Where did we end up with this? Can we just remove the mention of Atom from our CONTRIBUTING guide?

[2017-02-08 18:34] sethladd commented on #7888
I think this dupes https://github.com/flutter/flutter/issues/7057 ?

[2017-02-08 18:35] sethladd commented on #7057
Related: https://github.com/flutter/flutter/issues/6825  (how to sign an APK)

[2017-02-08 18:36] sethladd commented on #6717
Should we just remove those sections of the doc in the meantime?

[2017-02-08 18:36] eseidelGoogle commented on #5813
Do Android or iOS OEM build systems have equivalents we should either use or match here?

Incidentally Google internal flutter users can do something like this because they use bazel, and the flutter_application bazel rule takes a list of assets (instead of getting them from flutter.yaml).  We have a very simple build system built into the `flutter` tool on top of flutter.yaml, sounds like this is

[2017-02-08 18:37] eseidelGoogle commented on #5815
I'm going to close this in favor of https://github.com/flutter/flutter/issues/5839.  We're actually finally adding a software backend. :)  Starting initially for iOS simulators, but once that's working should be easy to expand to Android emulators which would solve this bug.

[2017-02-08 18:37] #5815 closed

[2017-02-08 18:38] eseidelGoogle commented on #5842
@jakobr-google is doing exactly this as we speak.  I suspect we have a dupe of this somewhere.

[2017-02-08 18:39] eseidelGoogle commented on #5846
Based on the last comment sounds like we can close this?

[2017-02-08 18:39] #5846 closed

[2017-02-08 18:39] eseidelGoogle commented on #5849
I think I'm going to close this in lieu of https://github.com/flutter/flutter/issues/7111.

[2017-02-08 18:39] #5849 closed

[2017-02-08 18:41] eseidelGoogle commented on #5850
Well our transform docs are pretty sparse. :)  One line:
https://docs.flutter.io/flutter/widgets/Transform-class.html

Easy to add a second line which clarifies that it doesn't affect layout.  Not sure if that's necessary.

[2017-02-08 18:41] abarth commented on #7119
The CONTRIBUTING.md documents how to contribute to the flutter.git repository.  Currently Atom is required for some kinds of contribution (specifically having to do with visualizing lcov test coverage data).  It's possible that we could improve IntelliJ to support those use cases, but it does not support those use cases today.  (IMHO, we should improve IntelliJ in this way.)

I'll clean up CONTRIB

[2017-02-08 18:41] sethladd commented on #7111
If the scope of this issue includes the UI elements to trigger the share capability, the icon used for sharing should be platform specific. Use the iOS share icon when on iOS, e.g.

[2017-02-08 18:42] cbracken commented on #7888
Thanks Seth! Closing this off then. Other than docs, the process itself should work today, `flutter create` and all examples have been updated with the patches that gets them to pass validation.

[2017-02-08 18:42] #7888 closed

[2017-02-08 18:42] eseidelGoogle commented on #5852
I'm not sure what the right milestone is for this.  This is a core bug in our text system which causes a bunch of workarounds in the framework right?

[2017-02-08 18:43] eseidelGoogle commented on #5861
It looks like this was fixed by the commit above?  Please re-open if not.

[2017-02-08 18:43] #5861 closed

[2017-02-08 18:44] eseidelGoogle commented on #7579
@jason-simmons can you take this on?  This would unblock us deploying const asserts in the Framework, which may be a big perf win.

[2017-02-08 18:45] eseidelGoogle commented on #5869
Yeah, this is not at all obvious.  But should be an easy fix.

[2017-02-08 18:48] goderbauer opened #7974 "docs.flutter.io should show git hash"
That will make it easier to verify if the dart docs are upto date.

Maybe also include a "last updated on: <date>".

[2017-02-08 18:51] abarth commented on #7119
I filed https://github.com/flutter/flutter-intellij/issues/718 requesting support for lcov in IntelliJ

[2017-02-08 18:53] abarth commented on #5842
Duplicate of #4796

[2017-02-08 18:53] #5842 closed

[2017-02-08 18:53] sethladd commented on #7974
Good call. dartdoc has a way to insert a snippet into the head or tail of each generated file.

[2017-02-08 18:54] #7945 closed

[2017-02-08 18:55] eseidelGoogle commented on #7588
Sounds like a simple fix to `flutter doctor`:
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/android/android_workflow.dart#L15
Looks like we check a bunch of versions, but not sure we require one yet.

[2017-02-08 18:56] #7119 closed

[2017-02-08 18:57] eseidelGoogle commented on #5880
We pull the version, but don't check that it's 1.8+, easy fix:
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/android/android_workflow.dart#L85

[2017-02-08 18:58] xster commented on #5917
The current message says
[code]

https://flutter.io/setup/#android-setup does mention ANDROID_HOME but not in a prominent way. We should surface it in the doctor message. Should also make sure setting up ANDROID_HOME is a prominent setup step on the website (it's very implicit when installing Android Studio on a mac for instance, the user might never notice).

[2017-02-08 18:58] eseidelGoogle commented on #5898
Looks like this stalled.  Are we still seeing this?

[2017-02-08 18:59] sethladd commented on #5917
Good call. Let's add to https://github.com/flutter/flutter/issues/7971

[2017-02-08 19:00] HansMuller commented on #5898
We pulled this demo from the gallery some time ago.

[2017-02-08 19:03] eseidelGoogle commented on #5899
I believe this is comparing the spacing between the topmost header and "Demos" vs. the divider and "Components":
![flutter_04](https://cloud.githubusercontent.com/assets/11857803/22752656/3168081c-edee-11e6-9bf1-b6133d42730b.png)

[2017-02-08 19:03] eseidelGoogle commented on #5901
@goderbauer and @yjbanov worked on deflaking tests a bunch recently.  Is this still an issue?

[2017-02-08 19:05] eseidelGoogle commented on #5928
Sounds like "no milestone necessary"?

[2017-02-08 19:07] eseidelGoogle commented on #5937
@cbracken: My understanding is that we now check the necessary things and can close this?  Please re-open if I've misunderstood.

[2017-02-08 19:07] #5937 closed

[2017-02-08 19:07] xster commented on #5917
Note we do try to guess it by looking at
~/Android/Sdk
~/Library/Android/sdk
~/AppData/Local/Android/sdk

But if the user puts it anywhere else, we should message in doctor that we're looking for ANDROID_HOME

[2017-02-08 19:08] abarth commented on #5928
Yes.

[2017-02-08 19:10] eseidelGoogle commented on #5951
Was this related? https://github.com/flutter/flutter/commit/47666af54c44e907c6a0426cb88cde3355bd9106

[2017-02-08 19:12] eseidelGoogle commented on #5961
This might just be https://github.com/flutter/flutter/issues/5350 ? which seems like it's asking for https://github.com/flutter/flutter/issues/5232?

[2017-02-08 19:12] eseidelGoogle commented on #5961
https://github.com/flutter/flutter/issues/4442 also sounds related, but for Shrine?

[2017-02-08 19:13] eseidelGoogle commented on #5961
Looks like @HansMuller put this in Heros2 so he can decide how to track this.

[2017-02-08 19:14] cbracken commented on #5937
Yep; all the necessary checks are in doctor now. Thanks for closing.

[2017-02-08 19:14] eseidelGoogle commented on #5964
FYI @mit-mit.

[2017-02-08 19:29] zhenqiu1101 commented on #7643
The PR is merged. Should I close this issue?

[2017-02-08 19:30] #7643 closed

[2017-02-08 19:34] mehmetf opened #7975 "Dismissable should support setting dismiss threshold"
Two use cases for it:

- Apps might want to set this threshold themselves if they find dismissable too sensitive.
- There are cases where we want an item to be draggable but not dismissable. For instance, to expose a message underneath about why it is not dismissable. This can be achieved by setting dismiss threshold to 100%.

[2017-02-08 20:08] cbracken commented on #505
Ran into this today with #7977. An alternative to this would be to allow tapping offscreen elements (perhaps optionally behind a boolean parameter to `tap`) -- the behaviour being tested may be orthogonal to the issue of whether something is expected to be on-screen or not.

[2017-02-08 20:23] cbracken opened #7978 "Some glyphs are not replaced with Ahem font in tests"
## Steps to Reproduce

1. In the engine repo, `ninja -C out/host_debug_unopt`
2. From the Flutter repo root:
[code]

**Expected:** table contents rendered in Ahem font.
**Actual:** table contents rendered in system font.

Tested on macOS; I haven't yet verified on a Linux/Windows build.

[2017-02-08 20:25] HansMuller opened #7979 "Rect.fromOriginSize(Point origin, Size size) constructor, Rect move method"
To create a new rectangle that has the same size but a different origin than the old one I must write:
[code]
I wish I could write:
[code]
or
[code]

[2017-02-08 20:28] cbracken opened #7980 "PaginatedDataTable controls should handle overflow"
## Steps to Reproduce

Create a table with enough rows that the '1 of N' text at the bottom is wide enough to cause the Prev/Next controls to overflow the screen width. Even a table 10s of rows long is enough to overflow the text on an iPhone SE.

We should support scrolling or wrapping the pagination controls in such a case. Particularly once we have localised text, whether or not this happens wi

[2017-02-08 20:36] eseidelGoogle commented on #7643
Thanks!  Github is also smart enough to auto-close issues when PRs land if we use the right wording in the PR:
https://help.github.com/articles/closing-issues-via-commit-messages/

[2017-02-08 20:40] xster commented on #6139
Semi-related, would be nice to document the font discovery mechanism / choices in https://docs.flutter.io/flutter/painting/TextStyle/fontFamily.html or somewhere and describe if there's a preset number of bundled assets available, inherited from the OS or something.

[2017-02-08 20:49] HansMuller opened #7981 "Exiting an app started with flutter run doesn't seem to sync with the task switcher"
If ^C interrupt an app started on Android with `flutter run --hot`, it appears to exit.  However pressing the square overview (task switcher) button still shows the app. Despite appearances, the app can not be restarted from the task switcher.

[2017-02-08 20:49] xster commented on #7233
We may have already fixed it with #6111
1- New computer
2- Followed https://flutter.io/setup/ mostly
3- flutter create an app
4- flutter run on physical device

[code]

No hot reload.

[code]

5- Do suggested fix
6- flutter run again

Everything works.

Please reopen issue if it's still reproducible after `flutter upgrade`.

[2017-02-08 20:49] #7233 closed

[2017-02-08 20:53] eseidelGoogle commented on #5989
@abarth (or @HansMuller?) recently refactored our Input layer.  Is this solved?

[2017-02-08 20:54] abarth opened #7983 "Publish updated gallery in Play store"
The current version is a bit old.  We've made a number of improvements that would be worth showcasing.

/cc @sethladd

[2017-02-08 20:56] eseidelGoogle commented on #5987
Really hard to tell what to do with this bug.  I suspect we should either open a new one with a specific doc request or just close this as fixed?

[2017-02-08 20:56] dvdwasibi commented on #5989
I think the InputField does a pretty good job of providing a visually un-opinionated Input widget.

I have an ongoing PR to add some more customization: https://github.com/flutter/flutter/pull/7942

[2017-02-08 20:57] eseidelGoogle commented on #5992
This seems like a generally useful tool for Dart projects.  I thought we had made this work already (maybe I'm thinking of our website code?)

[2017-02-08 20:57] dvdwasibi commented on #5987
This has been solved: the problem was that you should replace the whole InputValue on any change instead of just updating the text field of the InputValue.

[2017-02-08 20:59] abarth commented on #5989
Ok, let's close this as fixed.  If there's more specific things we want to do, we can handle those with separate issues.

[2017-02-08 20:59] #5989 closed

[2017-02-08 21:00] #5987 closed

[2017-02-08 21:00] eseidelGoogle commented on #5997
Confirmed.  What a strange bug?  Maybe it has to do with padding on the list.  Also this may very well be fixed by @Hixie's grand scrolling refactor which is landing as we speak.

![demo mp4](https://cloud.githubusercontent.com/assets/11857803/22757135/88eb3f68-edfe-11e6-967c-7acf9e4cda36.gif)

[2017-02-08 21:01] eseidelGoogle commented on #5997
I've seen it get stuck at other offsets besides the one corresponding with the status bar.  It seems to depend on how far up you scroll it before scrolling back down as to which offset it will briefly pause at.

[2017-02-08 21:01] dvdwasibi opened #7985 "Using Focus.moveTo to focus on a InputField does not bring up the keyboard"
The InputField is "focused" and the cursor appears, but the system Keyboard does not pop up.

[StackOverflow Writeup](https://stackoverflow.com/questions/42122236/programmatically-focusing-on-inputfield-and-opening-up-keyboard)

Code Example:
[code]

## Flutter Doctor

[✓] Flutter (on Mac OS, channel InputField_HintText)
    • Flutter at /Users/dayang/fuchsia/lib/flutter
    • Framework revision 8

[2017-02-08 21:02] eseidelGoogle commented on #6016
Input got re-written by @mpcomplete at the end of last year, this may be resolved?

[2017-02-08 21:06] sethladd commented on #5992
@kwalrath what do we do for AngularDart api docs?

[2017-02-08 21:06] sethladd commented on #7983
Yeah, let's definitely chat about how/when to do this. Thanks for filing this.

[2017-02-08 21:07] mpcomplete commented on #6016
Yeah I think this and https://github.com/flutter/flutter/issues/6018 were resolved by replacing Input with TextField.

[2017-02-08 21:24] eseidelGoogle commented on #6055
I'm no longer able to reproduce.  @HansMuller recently re-wrote tabs and likely fixed this. :D

[2017-02-08 21:24] #6055 closed

[2017-02-08 21:25] eseidelGoogle commented on #6058
FYI @tvolkert who is working on wiring up these flutter_tool tests in Google's internal test running system and may hit this.

[2017-02-08 21:27] eseidelGoogle commented on #6060
This is probably the same as https://github.com/flutter/flutter/issues/5135.

[2017-02-08 21:28] eseidelGoogle commented on #6060
Or the same as https://github.com/flutter/flutter/issues/5134.

[2017-02-08 21:28] #6060 closed

[2017-02-08 21:28] eseidelGoogle commented on #5134
This is probably a very easy fix.  We had this same bug reported several times since it's so obvious.

[2017-02-08 21:31] eseidelGoogle commented on #6061
Related to https://github.com/flutter/flutter/issues/6709, but I no longer see this exact bug.  Closing.

[2017-02-08 21:31] #6061 closed

[2017-02-08 21:32] #6016 closed

[2017-02-08 21:33] eseidelGoogle commented on #6018
@mpcomplete says this was resolved by replacing with TextField.

[2017-02-08 21:33] #6018 closed

[2017-02-08 21:38] kwalrath commented on #5992
@chalin is implementing an `@source` scheme that should be applicable to other projects.

[2017-02-08 21:39] eseidelGoogle commented on #6085
I don't know what to do with this bug.  I don't understand what it's asking for.  Do you @Hixie?

[2017-02-08 21:39] sethladd commented on #5992
Is it ready for other projects yet?

[2017-02-08 21:42] eseidelGoogle commented on #6107
Confirmed! Probably a relatively easy fix to figure out what side the tap came from and run the animation from that direction.

[2017-02-08 21:42] eseidelGoogle commented on #6109
Is this still an issue?  If so, how would I repro?

[2017-02-08 21:43] eseidelGoogle commented on #6118
I don't think there is anything to do here?  Speculatively closing, please reopen if you'd prefer to track via bug.

[2017-02-08 21:43] eseidelGoogle commented on #6120
Is this the same as https://github.com/flutter/flutter/issues/6109 ?

[2017-02-08 21:44] vy0592 commented on #5951
I think it's not related. The driver tests complains too many elements because there are two elements with same key and content in the page.

[2017-02-08 21:46] zhenqiu1101 commented on #7643
Good to know! Thanks!

[2017-02-08 21:47] eseidelGoogle commented on #6120
Verified just now on 1926d111883a41b8f54d9641e8f375dc990ab43e, no assert seen.

[2017-02-08 21:48] eseidelGoogle commented on #6123
I'm going to assume not, given no response. :)  Please free free to re-open!

[2017-02-08 21:48] #6123 closed

[2017-02-08 21:51] eseidelGoogle commented on #6124
Looks like this was fixed "If dense is true then the overall height of this list item and the size of the DefaultTextStyles that wrap the title and subtitle widget are reduced."

[2017-02-08 21:51] #6124 closed

[2017-02-08 21:52] eseidelGoogle commented on #6134
Looks like still no way to customize, so this is still valid:
https://docs.flutter.io/flutter/material/Slider-class.html

[2017-02-08 21:52] eseidelGoogle commented on #6135
@chinmaygarde is on this as we speak! :D

[2017-02-08 21:53] eseidelGoogle commented on #6138
Lots of comments now:
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/templates/create/pubspec.yaml.tmpl

[2017-02-08 21:53] #6138 closed

[2017-02-08 21:54] eseidelGoogle commented on #6143
Atom is no longer our recommended editor.  The behavior in IntelliJ should be at least different now. :)  Closing.

[2017-02-08 21:54] #6143 closed

[2017-02-08 21:55] eseidelGoogle commented on #6148
This is similar to https://github.com/flutter/flutter/issues/6858 and related to other artifact download complaints like https://github.com/flutter/flutter/issues/6491.

[2017-02-08 21:55] sethladd opened #7988 "Material library API docs doesn't link to our Widgets Overview page"
This page: https://docs.flutter.io/flutter/material/material-library.html should probably link over to https://flutter.io/widgets/

The widgets overview page is a very helpful resource.

[2017-02-08 21:56] eseidelGoogle commented on #6157
I'm not sure what to do with this bug.  Do we believe this still to be an issue?

[2017-02-08 22:01] eseidelGoogle commented on #6160
I'm no longer able to reproduce.  Looks like Hans' fix was successful. :)

[2017-02-08 22:01] #6160 closed

[2017-02-08 22:02] eseidelGoogle commented on #6165
Speculatively pulling this into Milestone 3.  Unclear if we have to solve this ourselves or if someone will want to just mirror things for us.  Definitely other big issues (like https://github.com/flutter/flutter/issues/6939) to solve first. :)

[2017-02-08 22:03] eseidelGoogle commented on #6168
My understanding was @xster recently landed a patch to improve this?  Is this bug still desired?

[2017-02-08 22:04] sethladd commented on #6165
If this is true:

Then maybe we don't have to do anything? This was opened speculatively. @InMatrix confirmed he could install, while in China.

Going to close this now, but can reopen if/when someone runs into an issue.

[2017-02-08 22:04] #6165 closed

[2017-02-08 22:05] eseidelGoogle commented on #6207
This would be an easy check to add to `flutter doctor`.  We should just do it.

Probably belongs in:
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/android/android_workflow.dart
since we don't have a linux-specific setup file at the moment.

[2017-02-08 22:06] eseidelGoogle commented on #6210
It would appear not.  Happy to assist further if this comes up again!  Sorry for such a slow response the first time.

[2017-02-08 22:06] #6210 closed

[2017-02-08 22:07] eseidelGoogle commented on #6211
@xster also recently improved our messaging from `flutter run` for some kinds of signing errors.  Not sure if that affected this bug or not?

[2017-02-08 22:08] HansMuller commented on #5961
This is a duplicate of #5350, see https://github.com/flutter/flutter/issues/5350#issuecomment-277320741

[2017-02-08 22:08] eseidelGoogle commented on #6217
This should now be resolved.

[2017-02-08 22:08] #6217 closed

[2017-02-08 22:09] HansMuller commented on #4442
This is a duplicate of #5350, see #5350 (comment)

[2017-02-08 22:09] eseidelGoogle commented on #6225
Appears this is still a valid request: https://docs.flutter.io/flutter/widgets/Navigator/pushNamed.html

[2017-02-08 22:09] eseidelGoogle commented on #6228
Is this still an issue?

[2017-02-08 22:12] HansMuller commented on #5798
I am and now it is.

[2017-02-08 22:12] eseidelGoogle commented on #6239
Looks like the gpu is being overloaded.  Likely shadows or tiling related.  There were just a bunch of changes this week with regards to upload tiling, which may have improved this.  Jason is also working on moving us to a faster shadow path in Skia.  We should check this bug again in a couple weeks and it's likely to be improved.

[2017-02-08 22:13] eseidelGoogle commented on #6239
FYI @chinmaygarde @jason-simmons (no action necessary, just likely that your current fixes may have affect here).  Seth has a Moto G4 on his desk.

[2017-02-08 22:15] kwalrath commented on #5992
I don't think so. You can see https://github.com/dart-lang/angular2/pull/270 for the start of integration.

[2017-02-08 22:16] eseidelGoogle commented on #6250
I believe we did this?  I don't see any alpha-specific commits on that branch, so maybe we didn't yet?

[2017-02-08 22:17] eseidelGoogle commented on #6253
I'm guessing that we can close this now given it's age?  Please feel encouraged to re-open with additional info!

[2017-02-08 22:17] #6253 closed

[2017-02-08 22:18] eseidelGoogle commented on #6284
This is really a bug for pub.  And could link to flutter.io for setup instructions.  Easy fix.

[2017-02-08 22:19] eseidelGoogle commented on #6324
Thanks for the bug!  Unfortunately Atom is no longer our recommended editor, so closing this. :/  Unclear if this issue affects Intellij as well.

[2017-02-08 22:19] #6324 closed

[2017-02-08 22:21] eseidelGoogle commented on #6347
This will be resolved by https://github.com/flutter/flutter/issues/7983 when we push a new version of the gallery.

[2017-02-08 22:22] eseidelGoogle commented on #6368
The right way to track these is to have crash reporting from the `flutter` tool, which @yjbanov is working on now.  Speculatively closing this given its age.

[2017-02-08 22:22] #6368 closed

[2017-02-08 22:23] eseidelGoogle commented on #6397
We have some minimal docs at flutter.io/platform-services.  @mit-mit likely plans some updates as part of our current plugin work.

[2017-02-08 22:24] eseidelGoogle commented on #6382
It looks like this is still valid, since SlideTransition.position is not currently required:
https://docs.flutter.io/flutter/widgets/SlideTransition-class.html

[2017-02-08 22:25] eseidelGoogle commented on #6412
This is likely an easy fix?

[2017-02-08 22:34] eseidelGoogle commented on #6250
We had 19 sessions today alone from the alpha branch. :/  I guess we do need this!?

[2017-02-08 22:36] eseidelGoogle commented on #4442
Closing on hans' behalf :p

[2017-02-08 22:36] #4442 closed

[2017-02-08 22:36] eseidelGoogle commented on #5961
Closing on hans' behalf.

[2017-02-08 22:36] #5961 closed

[2017-02-08 22:45] xster commented on #6939
Some brain dump (taking this opportunity to test a bit as well):
Most written scripts work (Arabic, Hebrew, Cyrillic, Braille, as well as Asian scripts like Mongolian, Tibetan, Manchu, Thai, Tamil, Shahmukhi)

chữ Hán doesn't work since it's basically Chinese. Curiously Devanagari doesn't work either.

Suspect it's not just a fullwidth halfwidth issue since halfwidth Japanese and Korean characters

[2017-02-08 22:47] eseidelGoogle commented on #6256
@goderbauer fixed a bunch of flakes last month.  Unclear if that affected this?

[2017-02-08 22:47] xster commented on #6168
It's the same issue as #3091. Please `flutter upgrade` and take a look again.

[2017-02-08 22:47] #6168 closed

[2017-02-08 22:49] sethladd opened #7990 "Starter app's source code has hot reload instructions only for terminal, doesn't mention our IDE"
From a UX study:

The comments/instructions for Hot Reload in the starter app's source code (after "new ThemeData") are written for someone using the terminal. Do we need to also add IntelliJ instructions here?

[2017-02-08 22:49] sethladd commented on #7990
cc @mit-mit

[2017-02-08 22:51] sethladd opened #7991 "Animated GIF for hot reload on Getting Started is out of date"
From a UX study:

The animated GIF at the bottom of https://flutter.io/getting-started/ is out of date. Our buttons moved around.

FWIW the participant appreciated the animated gif!

[2017-02-08 22:51] sethladd commented on #7991
cc @mit-mit

[2017-02-08 22:51] eseidelGoogle commented on #6255
The analyzer should show you an error when an import can't be resolved?  It seems like that's the proper resolution here?

For example:
[code]

But it also looks like AOT has since been fixed too:

[code]

[2017-02-08 22:51] #6255 closed

[2017-02-08 22:51] xster commented on #6211
Duping into #7839.
Already slightly tweaked the onboarding doc to mention physical deploy.
`flutter run` should print a slightly better message now with #7879.
Will clarify the public website a bit with #7839.
It's also a little confusing that the xcode error dump is mixed in with our own flutter output messages. #7867 should make it slightly better.

[2017-02-08 22:51] #6211 closed

[2017-02-08 22:52] apwilson opened #7992 "flutter run output switches from reporting seconds to milliseconds for no apparent reason"
[code]

[code]

[2017-02-08 22:54] eseidelGoogle opened #7993 "AOT compilation reports the same error 4 times?"
I'm using flutter version ecdf99c326417e07495e37fd60b8a707aef83aba.  I was confirming https://github.com/flutter/flutter/issues/6255.

I took the default `flutter create` template and added a `import 'bar.dart';` to a missing file and then typed `flutter build apk`:

[code]

This is not a big deal, I just wouldn't expect 4 errors for the price of one. :)

Presumably this is a gen_snapshot bug?

[2017-02-08 22:58] eseidelGoogle commented on #6379
I'm not entirely sure what to do with this bug?

[2017-02-08 22:59] eseidelGoogle commented on #6426
Unclear if this is related to https://github.com/flutter/flutter/issues/6427 https://github.com/flutter/flutter/issues/6431 or https://github.com/flutter/flutter/issues/6432 or fixed by @Hixie's big scrolling rewrite?

[2017-02-08 23:01] abarth commented on #6426
I think we're going to remove snapOffsetCallback for now.  We'll probably need to add the feature back with a different API in the future.

[2017-02-08 23:02] eseidelGoogle commented on #7992
lol.  FYI @devoncarew

[2017-02-08 23:02] eseidelGoogle commented on #7992
We originally made everything ms to push us towards being fast.  Last night? @devoncarew made it possible to mark some of these as "expected slow" and instead print in seconds.  I guess we need to mark a few more.

[2017-02-08 23:03] eseidelGoogle commented on #7992
https://github.com/flutter/flutter/commit/d89f438699590eaae2cdac7f8e64610f17d5ab03

[2017-02-08 23:05] eseidelGoogle commented on #6291
Confirmed.  I don't see an example as of ecdf99c326417e07495e37fd60b8a707aef83aba.

[2017-02-08 23:09] devoncarew commented on #7992
Yeah, these output type for similar things (or things printed next to each other) should be consistent - I can update.

[2017-02-08 23:09] eseidelGoogle commented on #6381
Android:
http://stackoverflow.com/questions/18268218/change-screen-orientation-programatically-using-a-button
iOS:
http://stackoverflow.com/questions/20987249/how-do-i-programmatically-set-device-orientation-in-ios7

So these would presumably be implemented as a plugin, not sure how we'd force that plugin into a `flutter drive` app?

[2017-02-08 23:10] eseidelGoogle commented on #6383
I'm not sure what (if anything) to do with this bug.

[2017-02-08 23:12] yjbanov commented on #6381
These seem to be useful beyond testing though. I'd argue these should be part of the core framework API. Driver would use it for testing purposes, but app can have other use-cases for this.

[2017-02-08 23:18] eseidelGoogle commented on #6405
There are definitely still long frames here and there, but I don't think this bug is particularly useful for now.  We'd have to attack specific instances.  The general random long frames I recall seeing are gone.

[2017-02-08 23:18] #6405 closed

[2017-02-08 23:18] mishadynin opened #7994 "Paragraph_layout takes up lots of CPU time for complex layout"
## Steps to Reproduce

Shared code with @Hixie

## Logs

[debug.txt](https://github.com/flutter/flutter/files/762208/debug.txt)

## Flutter Doctor

[code]

[2017-02-08 23:19] Hixie commented on #7994
Thanks!

[2017-02-08 23:19] jtrunick commented on #7604
Maybe you'd have an idea why on the iOS build, my images get mucked up... Maybe corrupted is the right word. Only on iOS, the image will display but its something else (in my case it its mostly black, and looks like a blurred red line in it --- both of my images show the same way, even though the original images are very different). I can load the image and obtain the bytes, and the byte count is

[2017-02-08 23:20] eseidelGoogle commented on #6430
This is likely possible with Android java integration tests.  @jason-simmons wrote one as part of:
https://github.com/flutter/flutter/tree/master/examples/hello_services/android/app/src/androidTest/java/com/example/flutter
but we don't currently run them anywhere.

[2017-02-08 23:20] xster commented on #5256
Is this another permutation of #7879?

[2017-02-08 23:23] jtrunick commented on #7728
Not ready to reopen, but this problem keeps cropping back up, haven't pinpointed yet.

[2017-02-08 23:27] eseidelGoogle commented on #6448
I'm no longer seeing this.

[2017-02-08 23:27] #6448 closed

[2017-02-08 23:27] xster commented on #6448
Looks fine on an SE as well. Font size dynamically adjusts.

[2017-02-08 23:27] mit-mit commented on #6397
@Hixie can you elaborate on what you mean by channel name conventions?

[2017-02-08 23:29] eseidelGoogle commented on #6453
I don't find either of these names in flutter/flutter, flutter/engine or flutter/website.  Speculatively closing.

[2017-02-08 23:29] #6453 closed

[2017-02-08 23:30] eseidelGoogle commented on #6457
I'm not sure what to do with this.  We definitely have seen various strange crashes which show up as encoding errors (which is likely a red herring).  The tool, framework and engine have changed a ton since november.

Speculatively closing.  *Please* feel encouraged to re-open or file a new bug if you're still having any trouble?

[2017-02-08 23:30] #6457 closed

[2017-02-08 23:40] eseidelGoogle commented on #6463
Unchanged: https://docs.flutter.io/flutter/painting/ImageFit-class.html

[2017-02-08 23:42] goderbauer commented on #6256
On the dashboard, this test is passing every single run.

[2017-02-08 23:47] sethladd opened #7999 "Consider renaming the Design Principles guide"
We have a very interesting page called Design Principles: https://github.com/flutter/website/blob/master/design-principles.md

Which seems to be mostly about principles for Flutter and Flutter's framework design principles. The audience for this doc seems to be people wanting to contribute to and with the project.

To reduce confusion, we can consider renaming this doc to "Project Principles" or s

[2017-02-08 23:47] sethladd commented on #7999
cc @Hixie @abarth Is there a more specific, accurate name for this doc that comes to mind?

[2017-02-08 23:48] Hixie commented on #6397
For example, the `flutter/platform` channel has a `Clipboard.setData` method. Do we document that anywhere? Or even up one level, do we document that channel names should be of the form `foo/bar` or methods of the form `Foo.bar`?

[2017-02-08 23:48] Hixie commented on #7999
"Flutter Development Philosophy"?

[2017-02-08 23:49] Hixie opened #8000 "dependenciesChanged -> didChangeDependencies"

[2017-02-08 23:51] Hixie opened #8001 "Stocks demo regression"
Stocks no longer shows anything in the list on startup, and fails with assertions when you scroll.

cc @abarth

[2017-02-08 23:52] Hixie opened #8002 "Remove MaterialList"
...in favour of ListView.

[2017-02-08 23:54] goderbauer opened #8003 "Run all tests on Windows"
Currently, we are skipping some tests on the Windows platform because they are hitting features that are not yet implemented on Windows.

Filing this issue as a placeholder to make sure we enable those tests when we are ready on Windows.

To find them, just search for `skip: Platform.isWindows` or `skip: io.Platform.isWindows` in the code base.

[2017-02-09 00:01] sethladd commented on #7999
I'd like to make it clear this is about the project. "Flutter's Development Philosophy" would work for me.

[2017-02-09 00:10] abarth commented on #7999
We could also move it to flutter.git given that it's documentation for folks hacking on that repo.

[2017-02-09 00:11] abarth commented on #8001
Surely my fault.

[2017-02-09 00:18] xster opened #8005 "No vm isolate snapshot output file specified."
Followed https://github.com/flutter/engine/blob/master/CONTRIBUTING.md
`flutter run --local-engine-src-path /Users/xster/development/engine/src --local-engine=ios_debug_unopt` fails at
`flutter --suppress-analytics build aot --output-dir=build/aot --target-platform=ios --target=/Users/xster/development/test/try1/lib/main.dart --interpreter --debug --local-engine=/Users/xster/development/engine/src

[2017-02-09 00:24] eseidelGoogle commented on #5256
Yes, I think so.

[2017-02-09 00:24] #5256 closed

[2017-02-09 00:55] xster commented on #8005
It ran
[code]
and didn't like it

[2017-02-09 01:21] dvdwasibi opened #8009 "Material Design Color ranges seem more ergonomic as enums rather than arrays"
The way we get a color from a Material palette is like this: `Colors.grey[500]`; however it is not considered a const even the values are pretty much constants.

You get into situations like this:

[code]

Where one value cannot be constant because it uses a color palette for retrieving the exact color while another value is an enum.

Another enum benefit would be code completion.

@sethladd

[2017-02-09 01:22] xster commented on #8005
Boo, my engine's src/flutter was out of date. Somewhat surprising since the code reading it was in src/dart/runtime/bin/gen_snapshot.cc.

Should mention both gclient sync and git pull in the engine contributing docs

[2017-02-09 01:38] rmacnak-google commented on #7993
In fact it looks like we're trying to parse our own error message...

[2017-02-09 02:13] xster opened #8010 "Runner.xcodeproj vs Runner.xcworkspace"
There's a Runner.xcodeproj and a Pods/Pods.xcodeproj now. Should we change all the documentations that refers to Runner.xcodeproj to refer to Runner.xcworkspace instead so that the user can build directly from xcode if needed?

cc @cbracken

[2017-02-09 02:15] cbracken commented on #6722
Fixed by #7629

[2017-02-09 02:15] #6722 closed

[2017-02-09 02:20] Hixie commented on #8009
`Colors.grey[500]` is const. Do you have an example of some code that doesn't work?

[2017-02-09 02:20] Hixie commented on #8009
Oh, I see, for some reason x[0] isn't considered const even though the Map is const. Huh.

[2017-02-09 02:21] chinmaygarde commented on #6135
https://github.com/flutter/engine/pull/3404 is up for review and adds the software backend. At resolution, the performance seems pretty good. I can definitely cut a few more corners but the it is looking like a big improvement. The numbers I get in the gallery are posted below:
![screen shot 2017-02-08 at 6 18 12 pm](https://cloud.githubusercontent.com/assets/44085/22766591/433bf71e-ee2b-11e6-80c5

[2017-02-09 02:21] Hixie commented on #8009
See also https://github.com/flutter/flutter/issues/6706

[2017-02-09 02:22] xster opened #8011 "Create Generated.xcconfig during flutter create"
As suggested by @cbracken, this prevents the bad experience cycle of the user doing flutter create but then not being about to flutter run without setting a profile for physical devices. But once the user is in xcode, he still can't run straight from xcode since the Generated.xcconfig is created during flutter run.

If created in flutter create, the user can boot the app from xcode directly.

[2017-02-09 02:28] #7860 closed

[2017-02-09 02:28] chinmaygarde commented on #8010
Yeah. The workspace is the way to go.

[2017-02-09 02:28] xster commented on #8010
Cool, thanks

[2017-02-09 02:47] LarkAscending commented on #7864
#7971

[2017-02-09 03:04] Hixie commented on #7074
It now fails reliably with:
[code]

[2017-02-09 03:05] Hixie commented on #7089
I don't think we need this. We're doing great just watching the benchmarks daily. A week latency would be too much to actually fix regressions anyway, it needs to be right away or we don't fix it.

cc @eseidel

[2017-02-09 03:35] eseidelGoogle commented on #7089
sgtm.  When @yjbanov and I last discussed this the goal was to save him from constantly build-coping.  But we're a small team, we can do unscalable things for now.  I'm fine with closing.

[2017-02-09 03:37] eseidelGoogle commented on #7860
I wonder if twice is at all related to https://github.com/flutter/flutter/issues/7993 (which I saw this afternoon on android).

[2017-02-09 03:45] Hixie commented on #6109
Yeah. Just create an app and put the same GlobalKey on two widgets.

[2017-02-09 03:47] Hixie commented on #6085
Not really... @apwilson can you clarify?

[2017-02-09 03:47] #7992 closed

[2017-02-09 03:50] Hixie commented on #7979
just say `newOrigin & oldRect.size`.

[2017-02-09 03:50] #7979 closed

[2017-02-09 03:51] Hixie commented on #5852
A few, but not that many. This is something we should fix but it's not urgent.

[2017-02-09 04:01] cbracken commented on #6577
`flutter doctor` is now working. What's still left to do:
* Add quotes around the `xcode_backend.sh` path in the two build phases we call it in the project templates + all examples.
* A ton of quoting in `xcode_backend.sh` itself.
* `flutter run` on both Android and iOS
* probably more :)

[2017-02-09 04:13] abarth opened #8017 "ScrollNotification2's depth property is hard to use"
We fire scroll notifications inside the Scrollable2, which means sometimes "depth zero" means the closest scrollable (for widget that wrap the viewport inside the scrollable) and sometimes "depth one" means the closet scrollable (for widgets outside the scrollable).

[2017-02-09 04:16] Hixie opened #8018 "Appbar changes caused regression to stock_build_iteration and stock_animation_close_first_frame"

[2017-02-09 04:17] Hixie commented on #8018
I studied the huge stock_build_iteration change and I really can't see what the difference is. I tried loading before and after and getting a profile, but that showed nothing actionable. I looked at the code differences and the only thing I can see that got worse is that we have more inherited widgets, but removing one in Scaffold had no impact on the performance.

[2017-02-09 04:23] abarth opened #8019 "TabBarView adopting PageView caused perf regression"
See https://github.com/flutter/flutter/pull/7982#issuecomment-278524210

[2017-02-09 04:40] #8001 closed

[2017-02-09 08:18] raju-bitter commented on #7394
The [AppLifecycleState](https://docs.flutter.io/flutter/dart-ui/AppLifecycleState-class.html) class only supports the _paused_ event. _paused_ is sent on Android when pressing the power button on the phone to turn off the display, or when switching between apps. At that time, the Dart Isolate is still running, see http://stackoverflow.com/questions/41924890
What's missing is a something like an "a

[2017-02-09 16:04] dvdwasibi commented on #7850
@abarth You can close this now :)

[2017-02-09 16:06] dvdwasibi opened #8027 "Support "unlimited" maxLines for InputField & Input"
The ability to have unrestricted multiline text input is needed for many use cases.

This could be represented as `maxLines = null`

[2017-02-09 16:11] eseidelGoogle commented on #7850
If we say the right things in our PRs github will even autoclose issues for us :)
https://help.github.com/articles/closing-issues-via-commit-messages/

[2017-02-09 16:11] #7850 closed

[2017-02-09 16:30] sethladd commented on #4991
Reported on Reddit: https://www.reddit.com/r/androiddev/comments/5o8v0g/anyone_using_dart_with_flutter_how_is_it/ddja6uw/

[2017-02-09 16:30] sethladd commented on #5363
Reported on Reddit: https://www.reddit.com/r/androiddev/comments/5o8v0g/anyone_using_dart_with_flutter_how_is_it/ddja6uw/

[2017-02-09 16:36] eseidelGoogle commented on #5363
Based on the above this should be at least M3. :)

[2017-02-09 16:37] eseidelGoogle commented on #5363
This is presumably very related to https://github.com/flutter/flutter/issues/4991 ?

[2017-02-09 16:38] HansMuller commented on #7979
I'd forgotten that `Point & Size` produces a Rect. But I think I could be forgiven since you will not find out as much by reading https://docs.flutter.io/flutter/dart-ui/Rect-class.html.

I will add a sentence to the Rect dart doc.

[2017-02-09 16:54] dvdwasibi opened #8028 "Support specifying system keyboard with carriage return for multiline text editing"
Right now the only keyboard action is `TextInputAction.done`, but the ability to set this as a carriage return is need for multiline text editing.

see:
https://developer.android.com/reference/android/text/InputType.html#TYPE_TEXT_FLAG_MULTI_LIN
E

[2017-02-09 17:12] Hixie commented on #7394
@raju-bitter fundamentally, you can't reliably be told that. In the simplest case, for example, the user can just pull the battery unexpectedly.

[2017-02-09 17:16] sethladd commented on #7999
That's fine with me. If that makes it easier for you to update this doc and keep it relevant, let's do it.

[2017-02-09 17:24] ScottPierce commented on #5363
This may be related to https://github.com/flutter/flutter/issues/6920

[2017-02-09 17:34] eseidelGoogle opened #8029 "`flutter doctor` should warn if `flutter` is not in your path."
`brew doctor` and other tools do this.  Our current flutter.io/setup instructions don't instruct you how to permenently add `flutter` to your path so it's easy to get into this state (if you restart).

It's possible we separately will want a `flutter install-in-path` or `flutter fix-path` or whatever to help folks with this over time.

[2017-02-09 17:34] eseidelGoogle commented on #7971
We also don't explain how to make your path modifications permanent (or link to something that does)?   Presumably `flutter doctor` should warn if `flutter` is not installed in your path (https://github.com/flutter/flutter/issues/8029).

[2017-02-09 17:46] #7975 closed

[2017-02-09 17:53] Hixie commented on #7971
see https://github.com/flutter/flutter/issues/1886 re how to make your path modifications permanent

[2017-02-09 18:35] abarth commented on #6961
Doesn't seem to have healed packages/flutter/test/widgets/scrollable_fling_test.dart  I'll file a separate bug.

[2017-02-09 18:37] abarth opened #8030 "Two scrollable_fling_test.dart fail on OS X"
[code]

[2017-02-09 18:55] chalin commented on #5992
The updater tool we're currently trying out is at https://github.com/chalin/api_doc_updater
Let me know if this can help and/or whether changes to the tool would make is (more) useful.

[2017-02-09 19:04] abarth commented on #8018
This patch also improved:

 - stock_layout_iteration from 515ms to 352 (1.5x faster)
 - flutter_gallery_transition_perf (average_frame_build_time) from 7.0ms to 2.7ms (2.6x faster)
 - flutter_gallery_transition_perf (missed_frame_budget_count) from 820 frames to 205 frames (4x better)

[2017-02-09 19:07] abarth commented on #8018
Current theory is that this change moved some work from the layout phase to the build phase.

[2017-02-09 19:29] Hixie commented on #8018
The transition_perf improvements are a cheat: they're almost certainly just the removal of heroes from the transitions. (New app bars aren't heroic.)

[2017-02-09 19:30] Hixie commented on #8018
The back button memory benchmark got way better with this patch, presumably also because of removing heroes.

[2017-02-09 19:50] xster commented on #7860
Unlikely, in this case, it was all from a single shell command that printed a whole bunch of stuff. Your example looks like output from dart

[2017-02-09 20:29] eseidelGoogle commented on #7504
Is this now resolved with @jakobr-google's work?

[2017-02-09 20:29] eseidelGoogle commented on #7366
This is resolved, correct?

[2017-02-09 20:31] eseidelGoogle commented on #7039
FYI @jakobr-google, not sure if this is still an issue?

[2017-02-09 20:32] abarth commented on #7504
Yes.  It will be resolved once https://github.com/flutter/flutter/pull/7902 lands.

[2017-02-09 20:32] eseidelGoogle commented on #6842
@pq and @devoncarew hit something similar with intellij recently.  We clearly need to tighten our naming rules in various places.

[2017-02-09 20:35] eseidelGoogle commented on #6819
iOS does the right thing:
[code]

[2017-02-09 20:39] eseidelGoogle commented on #6819
Android emulators give me a different error:
[code]

But that's definitely better than before.  closing.

[2017-02-09 20:39] #6819 closed

[2017-02-09 21:02] pq commented on #6842
Right.  The `disallowed` [regexp](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/commands/create.dart#L193) is overly permissive.  We need to make sure that it only allows legal Dart identifiers (which can't lead with a number).

The bug on the IntelliJ side is being tracked here: https://github.com/flutter/flutter-intellij/issues/609.

Section "16.33 Identifier Refe

[2017-02-09 21:33] lukef opened #8036 "Possible bug in text layouts"
*This is not a blocker*. I was playing with flutter last night and encountered something that I think could be a possible bug. This is the sample code:

[code]

This code will produce the following in the iOS simulator:

![simulator screen shot feb 9 2017 1 32 36 pm](https://cloud.githubusercontent.com/assets/37941/22804056/42c30a4c-eecc-11e6-95c5-e56e74a16288.png)

I would have thought that the t

[2017-02-09 21:45] cbracken commented on #7366
I've completed the work in `package:coverage` but it's likely we still need a little work in `flutter_tools`. I'll take a look at verifying and landing required patches in the next couple days.

After speaking with @johnmccutchan it sounds like the auth token will not be required in 1.22 unless the VM is called with an environment variable set that enables this behaviour.

[2017-02-09 21:56] eseidelGoogle commented on #8036
@Hixie would know.

[2017-02-09 21:58] #7993 closed

[2017-02-09 23:25] Hixie commented on #8036
The `Row` is trying to place all its children in a row.

Either put an `Expanded` around the `Text` so that the `Row` knows to expand the line to the remaining space (or in your case, limit it to the remaining space), or, remove the `Row` entirely.

[2017-02-09 23:25] #8036 closed

[2017-02-09 23:36] InMatrix commented on #6165
It worked for me but it took probably 20 times longer than it would have been in the US. So it's still something we need to address eventually.

[2017-02-09 23:42] cbracken opened #8045 "Create an automatic engine roller"
Every time an engine commit happens:
1. wait for the engine bots to go green
1. generate a patch to bin/internal/engine.version
1. trigger the bots to run a pre-commit check
1. if they're green, roll it
1. if the build goes red (e.g., race with another commit), roll it back

[2017-02-09 23:51] cbracken commented on #6577
* `xcode_backend.sh` is cleaned up and `flutter build ios` now works.
* iOS Xcode project templates updated.

[2017-02-09 23:55] cbracken commented on #6308
Fixed by #8012

[2017-02-09 23:55] #6308 closed

[2017-02-09 23:56] Hixie commented on #6958
Done.

[2017-02-09 23:56] #6958 closed

[2017-02-09 23:57] Hixie commented on #8045
This is a subset of https://github.com/flutter/flutter/issues/4696.

[2017-02-09 23:57] Hixie commented on #6777
This is a subset of https://github.com/flutter/flutter/issues/4696.

[2017-02-09 23:57] Hixie commented on #6165
We have several bugs on file for various reasons why setup is ridiculously slow if you don't have a good connection, so I think that's covered.

[2017-02-10 00:04] cbracken commented on #2976
@Hixie IIRC you landed a fix related to too many open files on macOS. Is this safe to close or is there still work to do.

[2017-02-10 00:11] Hixie commented on #2976
I do not know to what you refer. As far as I know this is still broken.

[2017-02-10 00:12] #7963 closed

[2017-02-10 00:12] Hixie commented on #2976
Oh the thing you're referring to was my technical debt benchmark. It used to open every file then read them all in parallel, but I changed it to just open them sequentially. That doesn't affect this.

[2017-02-10 00:12] cbracken commented on #2976
sgtm - leaving it open then!

[2017-02-10 00:19] jason-simmons commented on #7579
This can be enabled by adding "--assert-initializer" to the kDartCheckedModeArgs list in flutter/runtime/dart_init.cc

@Hixie @abarth is this something that we should land now?  Or do you want to experiment with this feature before committing it?

[2017-02-10 00:29] Hixie commented on #7579
Yeah we should just land it. We want to enable `assert_initializer`, and probably while we're there `await_is_keyword` and `warn_super`.

[2017-02-10 00:57] eseidelGoogle commented on #2976
@zanderso recently made fixes to the dart vm relating to too many open files, but I doubt that they affect flutter.  We probably should open a cleaner bug with a reproducible case if we want to keep this.

[2017-02-10 01:11] Hixie commented on #2976
Steps to reproduce are easy: run `flutter test` in the flutter/ framework package, on a new Mac.

[2017-02-10 02:14] cbracken commented on #6577
There's also a bug in the engine (specifically in the Tonic loader) wherein `file://` URIs are not URI-decoded during conversion to filesystem paths. I'll put together a patch and send upstream.

[2017-02-10 04:52] xster opened #8047 "Can't build against local engine with Simulator"
[code]

[2017-02-10 05:05] abarth commented on #8047
/cc @cbracken @chinmaygarde

Looks like it might be related to lipoing away the intel part of the Flutter framework

[2017-02-10 05:09] xster opened #8049 "lipo error when build against engine directly in xcode"
Follow https://github.com/flutter/engine/blob/master/CONTRIBUTING.md

Everything works. But if building inside xcode, the lipo step can't find the input file

[code]

It still runs and everything. It just omitted the lipo step. Probably some environment variable sharing issue between shell and xcode.

[2017-02-10 05:21] abarth opened #8050 "Convert RefreshIndicator to Scrollable2"
RefreshIndicator currently uses scrollabeKey

[2017-02-10 05:21] abarth opened #8051 "Scrollable2 doesn't save scroll offset in PageStorage"
This bug is covered by remember_scroll_position_test.dart

[2017-02-10 05:22] abarth opened #8052 "Convert EditableText to Scrollable2"
Currently EditableText extends Scrollable.

[2017-02-10 05:24] cbracken commented on #8047
`flutter upgrade` to any SHA past b16a515d9c1fcfbaedd400fe07a9b41c5a7961ac should get you going.

[2017-02-10 05:25] abarth commented on #4880
We now use ListView here and it works.

[2017-02-10 05:25] #4880 closed

[2017-02-10 05:25] abarth commented on #4430
This is now RenderViewport2.

[2017-02-10 05:25] #4430 closed

[2017-02-10 05:25] abarth commented on #4603
Done.

[2017-02-10 05:25] #4603 closed

[2017-02-10 05:26] abarth commented on #5279
Fixed.

[2017-02-10 05:26] #5279 closed

[2017-02-10 05:26] abarth commented on #5274
Fixed.

[2017-02-10 05:26] #5274 closed

[2017-02-10 05:26] abarth commented on #5275
Fixed.

[2017-02-10 05:26] #5275 closed

[2017-02-10 05:27] abarth commented on #5226
Fixed.

[2017-02-10 05:27] #5226 closed

[2017-02-10 05:27] abarth commented on #5277
Fixed

[2017-02-10 05:27] #5277 closed

[2017-02-10 05:28] cbracken commented on #8047
The other potentially-related fix was this one: #7913 which updated the templates to be `arm64` only. If you have an Xcode project older than that, you'll want to set *Architectures* to `arm64` in the *Build Settings* tab of the project config in Xcode.

[2017-02-10 05:29] abarth opened #8053 "OverscrollIndiciator runs away from finger in horizontal mode"
Overscroll a PageView.  Now move your finger up.  The overscroll indicator moves down.  It's backwards.

/cc @Hixie

[2017-02-10 05:30] abarth commented on #4581
Still a problem but likely a trivial fix now.

[2017-02-10 05:30] cbracken commented on #8049
Which version of flutter are you sync'ed to? Repro steps?

[2017-02-10 05:31] abarth commented on #4879
We now use ListView here and this works properly.

[2017-02-10 05:31] #4879 closed

[2017-02-10 05:32] abarth commented on #5537
This issue is fixed, but we now have the reverse bug in some places.

[2017-02-10 05:32] #5537 closed

[2017-02-10 05:32] cbracken commented on #8047
If the above doesn't get you going, add repro steps and I'll take a look and get to work on a fix.

[2017-02-10 05:33] abarth commented on #5407
Fixed.  ListView and friends now take a ScrollController, which is a non-leaky abstraction for controlling the scroll offset.

[2017-02-10 05:33] #5407 closed

[2017-02-10 05:33] abarth commented on #6092
ScrollBehavior2 isn't.

[2017-02-10 05:33] #6092 closed

[2017-02-10 05:33] abarth commented on #844
Done.  This is now factored into a couple pieces, including ScrollPhysics.  Hopefully its simpler.

[2017-02-10 05:33] #844 closed

[2017-02-10 05:34] abarth commented on #1762
ListView does this now.

[2017-02-10 05:34] #1762 closed

[2017-02-10 05:34] xster commented on #8047
Still seems to be present.
Steps:
Following https://github.com/flutter/engine/blob/master/CONTRIBUTING.md
The flutter create a project and pubspec attach it to the engine.

Just flutter run works ok. flutter run --local-engine-src-path path/to/engine/src --local-engine=ios_debug_unopt causes the above error though

[2017-02-10 05:37] abarth commented on #7263
Fixed with PageView.

[2017-02-10 05:37] #7263 closed

[2017-02-10 05:38] abarth commented on #7764
Done:

https://docs.flutter.io/flutter/widgets/PageController/nextPage.html
https://docs.flutter.io/flutter/widgets/PageController/previousPage.html

[2017-02-10 05:38] #7764 closed

[2017-02-10 05:39] abarth commented on #5040
There's no fling anymore.

[2017-02-10 05:39] #5040 closed

[2017-02-10 05:39] abarth commented on #4607
Fixed.

[2017-02-10 05:39] #4607 closed

[2017-02-10 05:45] abarth commented on #4617
[code]

[2017-02-10 05:46] abarth commented on #4617
Doesn't throw an exception anymore.  It's still banana pants crazy code.  The global key is static and used in both routes.  That's not really legal because they're both on screen at the same time during the transition...

In any case, the assert is fixed in the new world.

[2017-02-10 05:46] #4617 closed

[2017-02-10 05:47] abarth commented on #5717
Fixed.

[2017-02-10 05:47] #5717 closed

[2017-02-10 05:48] abarth commented on #7209
FIxed with SliverAppBar.

[2017-02-10 05:48] #7209 closed

[2017-02-10 05:48] xster commented on #7764
woohoo

[2017-02-10 06:01] cbracken commented on #8047
Thanks -- that's what I was after: `flutter create` still results in slightly different projects from the examples. I'll take a look first thing in the morning.

[2017-02-10 06:02] cbracken commented on #8047
Actually I think I see the issue: `ios_debug_unopt` isn't an x86_64 build, it's an arm64 only build. You want to build ios_debug_sim_unopt if you're testing against a simulator. Can you try that out and let me know if it fixes you?

[2017-02-10 06:08] xster commented on #8047
That would totally make sense :)
Will tweak the docs to add a simulator section

[2017-02-10 06:38] Hixie commented on #8050
There's two ways we can go with this; it can either implement the notification mechanism like Scrollbar2, or it can be a sliver. I suspect it'll probably want to be a notification thingy.

[2017-02-10 06:51] abarth commented on #8050
That sounds right to me

[2017-02-10 07:07] #8047 closed

[2017-02-10 08:00] abarth opened #8054 "RenderViewport2.rereportDimensions can assert"
## Steps to Reproduce

Apply the following patch and run the test:

[code]

## Logs

[code]

/cc @Hixie

[2017-02-10 08:37] #4796 closed

[2017-02-10 08:39] #7504 closed

[2017-02-10 10:28] jakobr-google commented on #7039
hello_services doesn't have `uses-material-design: true`, so in that sense this is still an issue. It sounds like things work if you add that, so we just have to decide whether hello_services should include this by default.

I think it should, since this is something that surprises people. And maybe we should have the framework emit an error if you use the material design widgets, but haven't spec

[2017-02-10 14:39] christian-lefty opened #8059 "linux-x64 artifacts are 32-bit binaries"
[code]

* Where:
Script '/home/christian/opt/flutter/packages/flutter_tools/gradle/flutter.gradle' line: 202

* What went wrong:
Execution failed for task ':app:flutterBuildRelease'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.
Building AOT snapshot in release mode (android-arm-release)...     |
Gradlew failed: 1

Here are t

[2017-02-10 15:17] eseidelGoogle commented on #8059
@jakobr-google or @jason-simmons might know.

[2017-02-10 15:19] mit-mit commented on #8059
I can't repro this on a newly created project. @christian-lefty do these steps work for you?

[code]

[2017-02-10 15:19] eseidelGoogle commented on #8059
Does `/home/christian/opt/flutter/bin/cache/artifacts/engine/android-arm-release/linux-x64/gen_snapshot` exist?

[2017-02-10 15:46] christian-lefty commented on #8059
@mit-mit  it fails on the newly created project.

@eseidelGoogle The file exists but when I try to run it it says No such file or directory
This appears to be because it's a 32 bit binary and I'm running ubuntu64
as is described in:
http://askubuntu.com/questions/133389/no-such-file-or-directory-but-the-file-exists

[2017-02-10 15:49] christian-lefty commented on #8059
Indeed this is a 32 bit executable (it's misleading that it's under linux-x64):

file  /home/christian/opt/flutter/bin/cache/artifacts/engine/android-arm-release/linux-x64/gen_snapshot

/home/christian/opt/flutter/bin/cache/artifacts/engine/android-arm-release/linux-x64/gen_snapshot: ELF 32-bit LSB executable, Intel 80386, version 1 (SYSV), dynamically linked, interpreter /lib/ld-linux.so.2, for G

[2017-02-10 16:56] eseidelGoogle commented on #8059
I'm not sure whether this is an error in flutter/engine gn files?  dart-sdk gn files, or an intentional configuration of our build/bots?
Certainly that line is odd, pulling from the 32-bit out dir and putting the file into a zip with the name 64 in it?

[2017-02-10 16:58] eseidelGoogle commented on #8059
Note that the only time we pull from the clang_x64 directory is for iOS:
https://chromium.googlesource.com/chromium/tools/build.git/+/master/scripts/slave/recipes/flutter/engine.py#240
All the rest use clang_x86

[2017-02-10 16:59] eseidelGoogle commented on #8059
Is it expected that 64-bit linux can't run 32-bit binaries?  I guess one might not want to have all the 32-bit .sos installed. :)

[2017-02-10 17:03] abarth commented on #7039
Good idea.

That's a good idea too.  Would you be willing to file a separate bug about that?

[2017-02-10 17:05] eseidelGoogle commented on #8059
Probably the right fix is to just fix the artifacts to be 64-bit binaries for now, and we can separately add 32-bit linux binaries later as needed?

[2017-02-10 17:05] sethladd commented on #8036
thanks @Hixie !

Is there something we can do w/ error messages or framework feedback to make the fix a little more clear? Do we print anything to the console when we show this red box?

[2017-02-10 17:18] abarth opened #8061 "Convert examples to the new project template"
We recently changed the new project template to use gradle on Android.  We should convert all our existing examples in the flutter.git repo to use the new template.

/cc @jakobr-google

[2017-02-10 17:22] abarth commented on #8059
You need to be able to run 32 bit binaries to build Android applications.  The Android tools require it.

[2017-02-10 17:28] cbracken opened #8062 "Convert examples to updated Xcode template"
`flutter create` now generates an Xcode `xcworkspace` alongside the `xcodeproj` and the project now includes some CocoaPods-related build steps.

[2017-02-10 17:36] #7967 closed

[2017-02-10 17:36] eseidelGoogle opened #8063 "Communicate to users what's happening better during `flutter build apk`"
There is a (large) first-time setup cost in `flutter build apk` maybe we should communicate this better to the user?

Also would be nice to communicate total build time.

[code]

[2017-02-10 17:37] eseidelGoogle commented on #8063
We also probably didn't need to rebuild at all the second time, but that's probably tracked by another bug.

FYI @mit-mit

[2017-02-10 17:42] sethladd opened #8064 "Text inside UL's LIs has smaller line height than normal P text"
![screen shot 2017-02-10 at 9 41 13 am](https://cloud.githubusercontent.com/assets/5479/22837399/3f2612cc-ef75-11e6-88c4-108370ab9465.png)

[2017-02-10 17:42] sethladd commented on #8064
@Sfshaza did you tweak this CSS recently?

[2017-02-10 17:52] zanderso commented on #2976
@johnmccutchan Does Flutter use the loader where we included this fix? I'm pretty sure Flutter uses a different loader.

[2017-02-10 17:55] #7974 closed

[2017-02-10 18:08] eseidelGoogle commented on #206
I suspect that if this is still an error, it's down in dart:io.  I've not yet confirmed that it is.  FYI @zanderso

[2017-02-10 19:10] abarth commented on #8018
I can reproduce locally.

[code]

[2017-02-10 19:29] abarth commented on #8018
In the old code, the AppBar had a layout builder and so its build time wasn't being measured in this benchmark.  Now there isn't a layout builder and it is being measured.

Old:

[code]

New:

[code]

[2017-02-10 19:30] abarth commented on #8018
I think the proper resolution is to rebaseline the benchmark.

[2017-02-10 19:46] Hixie commented on #8018
Ah, interesting!

Maybe we should reconsider this benchmark and only measure the total build+layout time, and then verify that the old total time is not greater than the new total time. If the whole thing was better I would have expected the layout benchmark to go down by the same amount, but maybe it's not measuring quite the same thing.

[2017-02-10 19:56] jsiedentop opened #8066 "Only Numbers as the project name is not allowed"
I read about the awesome fix in #7902 and just want to try it in a test project. So after `flutter upgrade`I created a new project and get an error, cause in the project name were only numbers :D

Not really important for me, but I thought it would be good to get this fixed someday.

## Steps to Reproduce
flutter create 20170210
Creating project 20170210...
Wrote 59 files.

Running 'flutter packag

[2017-02-10 19:56] johnmccutchan commented on #2976
Flutter uses an entirely different loader than the standalone VM. IIRC, Flutter uses synchronous file I/O.

[2017-02-10 20:01] abarth commented on #8018
I think it's valuable to measure layout and build separately.  We just need to be aware when the benchmark moves because it's changing what its measuring.

[2017-02-10 20:02] eseidelGoogle commented on #8059
OK.  I guess this is fodder for a `flutter doctor` check then.

[2017-02-10 20:05] eseidelGoogle commented on #8066
I suspect this is the same as https://github.com/flutter/flutter/issues/6842?

[2017-02-10 20:06] #8066 closed

[2017-02-10 20:06] eseidelGoogle commented on #8066
Thanks for the report!

[2017-02-10 20:11] jsiedentop commented on #8066
Oh right, the same problem was already discussed. So It's not allowed - fine for me.

[2017-02-10 20:12] eseidelGoogle commented on #8066
Yeah, `flutter create` needs to make sure the name of your package is compatible with all the various tools (Android, Dart, etc.) that care. :(  It does some of that now, but needs to do more.

[2017-02-10 20:18] jsiedentop commented on #8066
There is more important stuff on the roadmap ;-) nice to see how this project is growing in recent months.

[2017-02-10 20:26] abarth commented on #8018
Done.

[2017-02-10 20:26] #8018 closed

[2017-02-10 20:28] #7579 closed

[2017-02-10 20:31] abarth commented on #7903
921c0fa, 0bcecef, and 079db95 don't touch code in the stocks demo, but 31e2a50 does, so I'll assume 31e2a50 is the issue an investigate it.

[2017-02-10 20:44] abarth commented on #7903
I can reproduce with the following patch:

[code]

[code]

[2017-02-10 20:45] abarth commented on #8018
Done => updated the baselines

[2017-02-10 20:55] christian-lefty commented on #8059
Hey sorry this was my mistake: I've been able to fix the issue by installing support for 32 bit binaries using:

sudo dpkg --add-architecture i386
sudo apt-get update
sudo apt-get install libc6:i386 libncurses5:i386 libstdc++6:i386

[2017-02-10 21:27] eseidelGoogle commented on #8059
There is another bug https://github.com/flutter/flutter/issues/6207 (which we've had many dupes of) which sounds very similar.

[2017-02-10 21:34] eseidelGoogle commented on #6207
#8059 looks very similar, but not maybe identical.  Clearly there are a bunch of packages `flutter doctor` should check for on linux which are not installed by default (at least not on 64-bit installs).  In #8059 @abarth noted that the Android toolchain requires ability to execute 32-bit binaries for instance.

[2017-02-10 22:14] Hixie commented on #7903
I made an adjusted build benchmark and I'm not convinced that things are worse with that patch. Going back in time, though, we do have a regression:

198d293857443ad201918905d61ff1d21c587aaa: 3359.3 3620.8 3348.6 (tip of tree today)
83a4cf269f7795c6d9159fa7521a738b19d992d8: 3715.8 (appbar change)
8838a8fbfa5ce812f7463e5c08c8965082a6b3a5: 4272.1 (pre appbar change)
4e957015411475b57a67c5e69c24641c3

[2017-02-10 22:18] Hixie opened #8069 "Regression from porting Drawer from Block to slivers"
commit 905353b took 3.6ms per iteration on the new build benchmark
commit a4eca31 took 4.5ms per iteration on the new build benchmark

cc @abarth

[2017-02-10 22:18] Hixie commented on #7903
FIled https://github.com/flutter/flutter/issues/8069. Closing this one.

[2017-02-10 22:18] #7903 closed

[2017-02-10 22:35] Hixie commented on #8036
https://github.com/flutter/flutter/issues/2387 is tracking making the red box clearer.

[2017-02-10 23:18] #6903 closed

[2017-02-10 23:20] zanderso commented on #206
@fsc8000 marked //tests/standalone/io/raw_datagram_socket_test.dart as encountering a runtime error on Android. Florian, do you remember what the issue there was?

[2017-02-11 00:11] fsc8000 commented on #206
@zanderso The reason there is that raw_datagram_socket_test uses ```Platform.executable``` and loads a different script, which does not work in the precompiled setting.

[2017-02-11 00:11] goderbauer opened #8072 "Gradle Workflow doesn't work on Windows"
[code]

[2017-02-11 00:48] Hixie commented on #8051
I think we can actually get rid of PageStorage. It doesn't do anything at this point.

[2017-02-11 00:53] eseidelGoogle commented on #8072
@goderbauer are you taking this, or are we asking someone from @mit-mit's team to look?

[2017-02-11 00:58] goderbauer commented on #8072
Would appreciate if someone from @mit-mit's team can take a quick look. I am not too familair with gradle yet..

[2017-02-11 02:08] xster commented on #6939
Some partial info.
Testing with these characters:
a 97
ا 1575
א 1488
ཀ 3904
中 20013 (this doesn't work)

Some control flows in Font.cpp
[code]

Seems like the problem is in the creation of the FontPlatformData for the CJK fonts in FontCacheSkia

[2017-02-11 02:47] xster commented on #6939
Slight difference between the font files. All the other fonts are in
`iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/Fonts/Core/` or
`/System/Library/Fonts/Core/`.
But the Chinese font is in
`iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/Fonts/LanguageSupport/` or
`/System/Library/Fonts/LanguageSupport/`.

Fails in Skia's SkFontHost_mac.cpp

[2017-02-11 03:00] eseidelGoogle commented on #6939
In case it's useful, there are other implementations of font fallback from the projects we forked from.  e.g.
https://cs.chromium.org/chromium/src/third_party/WebKit/Source/platform/fonts/mac/FontPlatformDataMac.mm
https://github.com/WebKit/webkit/blob/master/Source/WebCore/platform/graphics/ios/FontCacheIOS.mm
or similar files in either repository can be helpful at times.  I'm not sure the chromi

[2017-02-11 03:05] xster commented on #6939
Actually may not be just font locations.
Korean fails to create the font at `/System/Library/Fonts/Core/AppleSDGothicNeo.ttc`.
Devanagari fails at `/System/Library/Fonts/Core/Kohinoor.ttc`
Hiragana and Katakana (somewhat surprisingly) uses the same font as chinese at `/System/Library/Fonts/LanguageSupport/PingFang.ttc`

[2017-02-11 03:11] abarth commented on #8051
I think it does do something.  Specifically, when you go back to a route, we restore the page storage.  We can decide that feature isn't valuable, but that seems like a decision we should make separately from the scrolling refactor.

[2017-02-11 03:46] xster commented on #8049
More or less the same as the other one. Build iOS device or simulator. flutter create a project. flutter run works without complaining. Go into xcode. Running directly works too but prints a bunch of errors.

[2017-02-11 05:26] mit-mit commented on #8072
I'll make sure we take a look next week. @goderbauer, are all your changes in master, or is there some branch/fork we should try in?

[2017-02-11 06:00] abarth commented on #8050
This is the primary thing blocking the new world transition now.

[2017-02-11 06:19] jtrunick opened #8075 "iOS App Submission - Swift folder missing"
After submitting my app to the Apple App store I get an email that says:

Invalid Swift Support - The SwiftSupport folder is missing
I have not mucked with Swift at all in my Flutter project, only Objective-C, so I don't want Swift.

This overflow says to set "Embedded Content Contains Swift Code" to NO in Build Options.
http://stackoverflow.com/questions/32559204/invalid-swift-support-the-swiftsu

[2017-02-11 07:16] abarth commented on #8075
/cc @cbracken @xster

[2017-02-11 18:17] mehmetf commented on #5126
Could we please have an update on this? Thanks!

[2017-02-11 18:24] abarth commented on #5126
This should be ready for you to use now.  We've updated the contacts demo to show how this works now:

https://github.com/flutter/flutter/blob/master/examples/flutter_gallery/lib/demo/contacts_demo.dart

Basically, you use a `CustomScrollView` in the `body` attribute of your `Scaffold` and you put a `SliverAppBar` and a `SliverList` into the `CustomScrollView`.  The `SliverAppBar` has some propert

[2017-02-11 19:06] Hixie commented on #8051
we actually don't, because the route never goes away these days, iirc. Unless we have maintainsState set to false maybe?

[2017-02-11 21:05] jtrunick commented on #8075
I've also tried setting the "Always Embed Swift Standard Libraries" to NO - ${inherited} w/the same error

[2017-02-11 21:13] #8051 closed

[2017-02-12 05:01] jtrunick opened #8079 "Hot reload fails due to /data/local/tmp permission denied"
## Steps to Reproduce

Running current master/head on Android device of hello_services

## Logs

[code]

## Flutter Doctor
[code]

[2017-02-12 05:04] abarth commented on #8079
/cc @johnmccutchan

Notice:

[code]

[2017-02-12 05:39] mixedCase commented on #7150
I can reproduce the OP's claims in a Galaxy S3 International (i9300), which has quite different hardware. Animations are janky, specially the first time they're triggered; afterwards they're smooth.

Some animations like the main menu header resizing are always slow.

[2017-02-12 08:39] mixedCase commented on #7150
As suggested on gitter, I am attaching a screen capture of the timeline when I first try to open the main navigation drawer for the first time (where the animation is janky)

![Screenshot](https://i.imgur.com/Q5VEUae.png)

[2017-02-12 11:15] renefloor opened #8080 "Backbutton in Appbar with no stack"
## Steps to Reproduce

Make an app with two routes: e.g.:
[code]
Do a pop and push from the first screen: `Navigator.popAndPushNamed(context, "/welcome");`

The second screen will have a back button in the app bar, pressing on that will crash the app.

## Logs

[code]

## Flutter Doctor
[code]

[2017-02-12 17:50] abarth commented on #8080
/cc @Hixie

[2017-02-12 20:09] Hixie commented on #8080
I'm surprised the popAndPush doesn't assert itself.

[2017-02-13 11:18] lukechurch opened #8081 "Website: cmdlines are non-trival to copy and paste"
Re: https://flutter.io/setup/

The '$' at the start of the command line means that just copying and pasting doesn't work, if they do paste the message starting with the dollar sign, the error message is not helpful.

Consequently users unfamiliar with the use of the command line struggle to follow the getting started instructions.

Possible solutions:
- Have a non-cmd line workflow to install Flut

[2017-02-13 11:23] lukechurch opened #8082 "Website: No-indication on install as to what feedback is expected"
For the setup instructions: https://flutter.io/setup/

Some of the steps are long and chatty (e.g. git clone Flutter) takes O(mins) and says a lot, so does the first run of flutter doctor. The following command to update the PATH is instant and gives no feedback.

This can leave participants who are not familiar with command line usage wondering if it worked.

Consider annotating the website with

[2017-02-13 11:28] lukechurch opened #8083 "First execution of flutter run is very slow"
- On a clean install as per the instructions on the setup page, a user will decompress flutter, and then run ```flutter doctor```. This takes a while as it e.g. installs Dart.
- However the first time ```flutter run``` command is executed, it is also very slow as it 'builds the flutter tool'.

It would be strongly preferable to get all of the slow stuff done in the flutter doctor step so that the

[2017-02-13 11:31] a-siva opened #8084 "engine crash when running spawnUri tests using tools/test.py"
The following co19 tests cause the engine to crash
LibTest/isolate/Isolate/spawnUri_A01_t01
LibTest/isolate/Isolate/spawnUri_A01_t02
LibTest/isolate/Isolate/spawnUri_A01_t03
LibTest/isolate/Isolate/spawnUri_A02_t04
LibTest/isolate/Isolate/spawnUri_A01_t05
LibTest/isolate/Isolate/spawnUri_A01_t06
LibTest/isolate/Isolate/spawnUri_A01_t07

## Steps to Reproduce
    python tools/test.py -rflutter --fl

[2017-02-13 11:55] jakobr-google commented on #3958
The hello_services example runs fine in the emulator now, in debug mode.

[2017-02-13 12:05] jakobr-google commented on #7604
Gradle-based Android builds now produce app-{debug,profile,release}.apk if you update to the latest version of the build scripts from the hello_services example. Sounds like the original issue here has been fixed.

The iOS image issue is tracked in #7728. If you need to touch the native iOS bits, you should always open ios/Runner.xcworkspace, and not the project file. This is a Cocoapods thing.