[2019-10-01 13:23] escamoteur commented on #30913
Hi, sorry for the delay, I just want to check if you could solve this problem.

[2019-10-01 13:23] BondarenkoStas commented on #41686
@allenind But what is the reason to have it inside the app (I don't know if it's a real cause)? Can you try to create a new project with the same dependencies and build.gradle, but having it at the root?

[2019-10-01 13:24] escamoteur commented on #30949
Hi, sorry for the delay, I just want to check if you could solve this problem.

[2019-10-01 13:24] sroddy commented on #41679
The one in the video this looks like a completely different flash w.r.t. the original issue. As some of the elements keep their position and some other are resizing/repositioning for one single frame, it looks like there is a moment in which some Metrics are reported wrong, affecting the behaviour of dynamic elements.

[2019-10-01 13:25] escamoteur commented on #30957
Hi, sorry for the delay, I just want to check if you could solve this problem.

[2019-10-01 13:25] SinaSeirafi commented on #41623
Thank you for your response.
I had the same problem on iOS as well.
But since we're working for production versions, I need to be on the stable version.
Either way, thank you.

[2019-10-01 13:26] #41623 closed

[2019-10-01 13:28] mikhail-tokarev commented on #35397
I see the resolution is ongoing through referenced issue,
please follow the aforementioned; I'm closing the present.
If you disagree, please write in the comments and I will reopen the issue.

[2019-10-01 13:28] #35397 closed

[2019-10-01 13:31] mikhail-tokarev commented on #35396
hi @fourman-alex
are you still experiencing the issue with the latest Flutter stable release?
if so, please provide the output of "flutter doctor -v"

[2019-10-01 13:32] escamoteur commented on #30982
Check https://pub.dev/packages/flutter_launcher_icons

Please ask questions like this on stackoverflow, we are not able to give individual development support.

[2019-10-01 13:32] #30982 closed

[2019-10-01 13:32] escamoteur commented on #31001
Hi, sorry for the delay, I just want to check if you could solve this problem.

[2019-10-01 13:33] escamoteur commented on #31008
Hi, sorry for the delay, I just want to check if you could solve this problem.

[2019-10-01 13:33] escamoteur commented on #31020
Hi, sorry for the delay, I just want to check if you could solve this problem.

[2019-10-01 13:35] escamoteur commented on #31021
Hi, sorry for the delay, I just want to check if you could solve this problem.

[2019-10-01 13:35] bprayush commented on #41665
I did. Here's the log.
[code]

[2019-10-01 13:35] jkmosa01 commented on #41614
Hi, I have figured out what was causing my problem.
I was accessing localStorage through package:js, and had the following code:
[code]

This was causing errors when I built the app in release mode for web, but no errors when it was in debug mode. After changing the code to what it is below, I had no more errors.
[code]

[2019-10-01 13:36] mikhail-tokarev commented on #35391
hi @SushiRoll53
as stated in your flutter doctor it's required to accept the Android license
you can follow this [resolution](https://github.com/flutter/flutter/issues/16025#issuecomment-377083808).
I'm closing this issue,
if you disagree please write in the comments and I will reopen it.

[2019-10-01 13:36] #35391 closed

[2019-10-01 13:37] escamoteur commented on #31035
I saw there is an answer on the SO question.

Have you solved the problem?

[2019-10-01 13:37] allenind commented on #41686
@BondarenkoStas Well, I do not know the reason, since it's the instructions that all flutter& firebase tutorials have, and also it's part of Firebase's walkthrough on adding firebase to your app. I have done your instructions and the problem still persists. I have realized that this problem only occurs once you open the build.gradle inside /app/. It would not be able to recognize what Properties()

[2019-10-01 13:38] BondarenkoStas commented on #35545
@rajkumar112 did you manage to solve the issue? Please do not include screenshots of code. This makes it extremely tedious to reproduce the issue, as we would have to manually transcribe your example.

[2019-10-01 13:39] BondarenkoStas commented on #35544
This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report. See https://flutter.dev/community for support options.

[2019-10-01 13:39] #35544 closed

[2019-10-01 13:40] escamoteur commented on #41665
Have you activated Flutter Web?

[2019-10-01 13:40] bprayush commented on #41665
Yes.

[2019-10-01 13:42] escamoteur commented on #41665
@jonahwilliams any idea how to fix this?

[2019-10-01 13:44] escamoteur commented on #41679
@sroddy can you reproduce this?

[2019-10-01 13:50] escamoteur commented on #41668
Although there is still a small smudge when you zoom in.

[2019-10-01 13:50] mikhail-tokarev commented on #35389
hi @wxy520ll
I see from your Flutter doctor that
 - you need to accept Android license, you can proceed as described [here](https://github.com/flutter/flutter/issues/16025#issuecomment-377083808)
-  also also need to install Flutter plugins, please follow this [documentation](https://flutter.dev/docs/get-started/editor)

I think it's safe to close this issue,
if you disagree please write in the co

[2019-10-01 13:50] #35389 closed

[2019-10-01 13:51] escamoteur commented on #30691
No problem, thanks for coming back.

[2019-10-01 13:51] #30691 closed

[2019-10-01 13:51] lucasSzavara commented on #30869
@escamoteur Firebase Auth is working fine, but it is still logging:
[code]
I'm not sure if this is supposed to happens

[2019-10-01 13:52] mikhail-tokarev commented on #35386
hi @billmeireles
are you still experiencing the issue with the latest Flutter stable release?
if so, please provide the output of "flutter doctor -v"

[2019-10-01 13:53] mikhail-tokarev commented on #35383
hi @niteshkumarniranjan
are you still experiencing the issue with the latest Flutter stable release?
if so, please provide the output of "flutter doctor -v"

[2019-10-01 13:54] escamoteur commented on #41663
No Idea honestly, best to ask this at the new  home for Firestore at https://github.com/FirebaseExtended/flutterfire and link this issue to it. Thanks

[2019-10-01 13:54] roshanaryal opened #41691 "Error running Gradle: ProcessException: Process "/home/hp/flutter-project/hello_world/android/gradlew" exited abnormally: Starting a Gradle Daemon, 1 busy Daemon could not be reused, use --status for details"
i am using ubuntu as OS and try to run first flutter app but got this error can anyone help me
error
[code]

### this is the result when i run flutter doctor -v

[code]

[2019-10-01 13:54] lucasSzavara commented on #30732
Hi, I solved that updating flutter to 1.7.8+hotfix.4, sorry for not closing this

[2019-10-01 13:54] #30732 closed

[2019-10-01 13:55] escamoteur commented on #30869
I think this is ok, its not an error. If you want to know more please ask at the new  home for Firestore at https://github.com/FirebaseExtended/flutterfire and link this issue to it. Thanks!

[2019-10-01 13:55] #30869 closed

[2019-10-01 13:58] escamoteur commented on #41680
Thanks for trying

[2019-10-01 13:58] ReinBentdal commented on #35398
Hi @mikhail-tokarev ,
the blur effect will still not render for me. I gue its because you used the web version. Flutter-web and flutter renders the same code different

[2019-10-01 13:58] #35375 closed

[2019-10-01 14:00] mikhail-tokarev commented on #35312
hi @unitedmusic
are you still experiencing the issue with the latest Flutter stable release?
if so, please provide the output of "flutter doctor -v"

[2019-10-01 14:00] slecoustre opened #41692 "iOS images in the launch screen fade out"
Why iOS images in the launch screen fade out. Whereas when I create a native iOS project I am not the problem

![ezgif com-crop](https://user-images.githubusercontent.com/3897301/65967889-a5236900-e462-11e9-864d-f7a844e2c0b0.gif)

## Logs

[code]

[code]

[2019-10-01 14:01] mikhail-tokarev commented on #35300
hi @miguelpruivo
are you still experiencing the issue with the latest Flutter stable release?
if so, please provide the output of "flutter doctor -v"

[2019-10-01 14:03] BondarenkoStas commented on #41691
@roshanaryal Can you please check https://github.com/jangrewe/gitlab-ci-android/issues/39#issuecomment-522076777 if that will help?

[2019-10-01 14:08] lookfirst commented on #41663
The problem is in google_sign_in, not in firebase. Please reopen.

[2019-10-01 14:09] lookfirst commented on #41663
https://github.com/flutter/plugins/blob/master/packages/google_sign_in/ios/google_sign_in.podspec#L18

[2019-10-01 14:10] mikhail-tokarev commented on #35287
hi @skaterdude
I'm glad that you found a solution.

I think it's safe to close this issue,
if you disagree please write in the comments and I will reopen it.

[2019-10-01 14:12] unitedmusic commented on #35312
No i have successfully connect my application to firebase
On Oct 1, 2019 7:32 PM, "Mikhail Tokarev" <notifications@github.com> wrote:

[2019-10-01 14:13] escamoteur commented on #41663
Ah, sorry you are right.

[2019-10-01 14:14] tapizquent commented on #30872
As mentioned above, the only workaround seems to be setting the ResolutionPreset to UltraHigh, which I believe shouldn’t be the best solution

[2019-10-01 14:15] AnanthanAn commented on #37081
facing the same issue..please assist

[2019-10-01 14:15] BondarenkoStas commented on #35524
Closing as no information was provided. If you have a problem to report, please open a new issue and fill in the information requested in the template.

[2019-10-01 14:15] #35524 closed

[2019-10-01 14:16] mikhail-tokarev commented on #35312
thank you @unitedmusic
I think it's safe to close this issue,
if you disagree please write in the comments and I will reopen it.

[2019-10-01 14:16] #35312 closed

[2019-10-01 14:18] lookfirst commented on #41663
Maybe someone can also explain why 4.0.8 and 4.0.9 isn't published to pub.

[2019-10-01 14:24] mikhail-tokarev commented on #35285
hi @tecbot
This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report.
Please take a look to this possible [solution](https://stackoverflow.com/questions/52211283/inserting-image-into-a-container-flutter-app/52220430)

[2019-10-01 14:27] BondarenkoStas commented on #41686
@allenind Wait, how do you run it now in the way it works?
All the instructions I found (with short google search) ask to modify `android/app/build.gradle`, not `android/app/src/build.gradle` as it was on your previous screenshot.

[2019-10-01 14:27] escamoteur commented on #41690
You could fake it I guess by placing the Card inside a lightly transparent slightly bigger container.

[2019-10-01 14:29] CoderJerry opened #41693 "[web]: How to use firebase phone auth in flutter web"
finding it difficult to get ApplicationVerifier for _firebaseAuth.signInWithPhoneNumber(phoneNumber, ApplicationVerifier

[2019-10-01 14:30] mikhail-tokarev commented on #35398
I'll try with to reproduce the issue on a virtual device,
in the mean time could you please provide the output
of "flutter doctor -v"

[2019-10-01 14:32] BondarenkoStas commented on #41692
@slecoustre Do you mean the transition between the white screen and the next picture?
Please provide  a small self-contained app that demonstrates the problem. You can include small examples [inline if they're enclosed by backticks](https://help.github.com/en/articles/creating-and-highlighting-code-blocks), or just provide a public link to a github "gist" - https://gist.github.com/.

[2019-10-01 14:33] andretietz commented on #13991
Sorry, I accidentially deleted my fork a while ago already, so I wasn't able to finish it. Since I am not on this atm, I havn't had the time to actually do the small changes. May be I'll create this PR once again, but I am not sure when I will have time to do so. I recommend doing it yourself, considering the small change proposals, which where made by @mravn-google

[2019-10-01 14:34] mikhail-tokarev commented on #31038
hi @pedromassango
are you still experiencing the issue with the latest Flutter stable release?
if so, please provide the output of ""flutter doctor -v""

[2019-10-01 14:37] rbucker opened #41694 "build tools mac vs android development"
### background

I recently read an ISSUE that referred to android and iphone development and how upgrading gradle made the problem go away. ("taking too long") However, on my mac/iPhone setup gradle was never installed. Is it required or not for all platforms?

[2019-10-01 14:39] rbucker opened #41696 "flutter build ios -v -- get super crash"
## Steps to Reproduce

running ```flutter build ios -v```  after running ```flutter doctor```.

## Logs
[code]

flutter doctor -v

[code]

[2019-10-01 14:41] jonahwilliams commented on #40151
Fixed by https://github.com/dart-lang/build/pull/2453/files

[2019-10-01 14:41] #40151 closed

[2019-10-01 14:42] eseidelGoogle commented on #7246
@therealjohnsummer thank you for the report!  This would be easier for us to handle if this was a new report.  That way we could route it correctly and not have the baggage of this 2 year old (possibly unrelated) issue.  Would you be willing to file a new/separate issue?  Thanks!  FYI @gaaclarke

[2019-10-01 14:49] yjbanov commented on #34082
This is done.

[2019-10-01 14:49] #34082 closed

[2019-10-01 14:53] HerrNiklasRaab commented on #41690
@escamoteur Sorry but I couldn't follow your suggestion. Could you add a little code example?

[2019-10-01 14:54] allenind commented on #41686
@BondarenkoStas that's the problem, I cannot run it at all. Here is the screen that firebase gives when you are adding firebase into your project:
![image](https://user-images.githubusercontent.com/47741578/65973745-6b705380-e49e-11e9-8f06-1597c0a441e3.png)

[2019-10-01 14:55] bprayush commented on #41665
This worked! Thank you!

[2019-10-01 14:58] #41665 closed

[2019-10-01 15:00] thomasstoeckert commented on #38063
Problem exists for me as well - happened both on a OnePlus 6 and a Samsung Galaxy S8. The crash only occured when a google_maps_flutter map was loaded. Same stack trace as others have shared.

[2019-10-01 15:04] kevin-haynie commented on #22229
Yup.  I still have the same problem....

[2019-10-01 15:05] BondarenkoStas commented on #41696
@rbucker do you experience with some particular app or with any? Can you come up with some reproduction of it?

[2019-10-01 15:06] slecoustre commented on #41692
@BondarenkoStas Here is an example to reproduce the problem: https://github.com/slecoustre/launch_flutter_2

[2019-10-01 15:06] BondarenkoStas commented on #41693
@CoderJerry This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report. See https://flutter.dev/community for support options.
If you disagree, feel free to comment and I will reopen the issue.

[2019-10-01 15:09] BondarenkoStas commented on #35542
@rashcms did you manage to solve the issue? Do you experience it while using current flutter stable?

[2019-10-01 15:11] roshanaryal commented on #41691
@BondarenkoStas Thanks for your response
i didn't understand any thing in that comment .
should i have to update gradale or what?

[2019-10-01 15:11] escamoteur commented on #41696
We currently recommend either to switch to the beta or master channel for iOS.
Could you please try that?

[2019-10-01 15:12] BondarenkoStas commented on #35512
@ocelili Do you still encounter the problem? Please provide your flutter doctor -v output.

[2019-10-01 15:14] BondarenkoStas commented on #35517
Good, I think it's safe to close the issue.

[2019-10-01 15:14] #35517 closed

[2019-10-01 15:15] escamoteur commented on #41694
What's the problem?

[2019-10-01 15:16] BondarenkoStas commented on #35529
@hisurga Can you provide your flutter doctor -v output?

[2019-10-01 15:16] jonahwilliams commented on #35512
The webdev serve development process for flutter has been deprecated since we've unforked. You can now use the regular flutter_tool, following the instructions at https://flutter.dev/web

[2019-10-01 15:16] #35512 closed

[2019-10-01 15:17] Fernandomr88 commented on #26358
Any news on this? 🤔

[2019-10-01 15:18] BondarenkoStas commented on #35532
Thank you @timrijckaert ! @netopaez97 did you manage to solve the issue?

[2019-10-01 15:24] escamoteur commented on #41689
Could you please add the output of flutter doctor - v from you Linux and your Mac flutter Installation.

[2019-10-01 15:29] jonahwilliams commented on #41689
There are artifacts that do not work cross platform. These should be hidden via the .gitignore and not shared.

[2019-10-01 15:29] escamoteur commented on #41684
Please ask questions like this on stackoverflow as we can't give individual support here.

[2019-10-01 15:32] markflarup commented on #30674
No, I wasn't able to solve it. I had tried various options before posting here and haven't really tried any other solutions afterwards.
The project I worked on got shut down so it's not really an issue for me to tackle now.

[2019-10-01 15:34] rbucker commented on #41689
@jonahwilliams .gitignore has nothing to do with gradle or not to gradle and similar tools.

[2019-10-01 15:35] saqib556612 commented on #41684
This is a flutter related issue
On 01-Oct-2019 8:32 PM, "escamoteur" <notifications@github.com> wrote:

[2019-10-01 15:40] ferhatb opened #41699 "[web] When testing webui engine, felt test should support restargs instead of requiring -t with specific target"
## Use case

Builds all test targets and takes a long time.

## Proposal

Instead of felt test -t target_name support:
felt test target_name(optional)

[2019-10-01 15:42] sh0umik commented on #39998
Lot of packages depend on `dart:io` surely something need to be done.  Also there is no clear documentation on how to skip building for those files

[code]

Lets say if want to build without mqtt_client. Building without this lib wont hurt for web but i want to keep the lib for flutter native

[2019-10-01 15:48] zl910627 opened #41700 "StatelessWidget lifecycle"
StatelessWidget needs event for mount/unmount.

[2019-10-01 15:49] zanderso commented on #37850
/cc @jmagman

[2019-10-01 15:54] sroddy opened #41701 "[web]: Selection in multiline text fields doesn't work"
When using a multiline Text field, the underlying `<textarea>` is rendered correctly but the text inside it doesn't wrap properly. for this reason text selection is completely off and looks broken.

I found out that a good way to mitigate the issue is to remove the `..whiteSpace = 'pre'` setting.
This doesn't entirely solve issues when the text overflows and needs to be scrolled, but at least work

[2019-10-01 15:55] justinmc commented on #41344
Sounds good to me.

@mm-public-tx  If you try to work around this, it might be helpful to know that you can get the composing region from the controller like this:

[code]

You could then do something like ignore changes if `composingRange.isCollapsed` isn't true.

[2019-10-01 15:59] patelkrunal78 commented on #23777
I have Same Issue With My Project.......You can See This Answer Might Be Help You.....https://icetutor.com/question/libusbmuxd-version-error-during-flutter-install/

[2019-10-01 16:00] patelkrunal78 commented on #23553
This Can Help You ? https://icetutor.com/question/libusbmuxd-version-error-during-flutter-install/

[2019-10-01 16:02] TheZeldaBoss opened #41702 "Tool crashes with empty line at the end of assets list"
Hello,

I'm currently working on a flutter application that will be used to manage a big piano (instrument change, etc) and everything I made until last sunday worked fine, but today, as I added another element, I don't get anything but the exception in attached file...

I'm currently using Android Studio, running on Windows 10.
[flutter_01.log](https://github.com/flutter/flutter/files/3677408/flu

[2019-10-01 16:03] #41557 closed

[2019-10-01 16:06] patelkrunal78 commented on #15408
You need to correctly set up your flutter path.

from here https://flutter.io/setup-macos/#update-your-path

Determine the directory where you placed the Flutter SDK. You will need this in Step 3.
Open (or create) $HOME/.bash_profile. You can do that by using terminal text editor by going in terminal and typing nano ~/.bash_profile
Add the following line and change [PATH_TO_FLUTTER_GIT_DIRECTORY]

[2019-10-01 16:06] jonahwilliams commented on #41702
Command failure is:

[code]
#0      Object.noSuchMethod (dart:core-patch/object_patch.dart:51:5)
#1      _Uri._uriEncode (dart:core-patch/uri_patch.dart:44:23)
#2      Uri.encodeFull (dart:core/uri.dart:1148:17)
#3      MappedListIterable.elementAt (dart:_internal/iterable.dart:415:29)
#4      MappedListIterable.elementAt (dart:_internal/iterable.dart:415:40)
#5      ListIterable.toList (dart:_int

[2019-10-01 16:07] rbucker commented on #41694
my project builds on my linux machine but when I cloned it to build for iPhone the project refused. Nothing but errors. While it did compile ONCE and RUN once I have no idea what I did in order to reproduce it. Since the baseline committed to GIT did not work I cannot even start there. Also since the tools modify the environment and not just the project I cannot start from scratch.

[2019-10-01 16:08] ReinBentdal commented on #35398
## Example code
Tap on the yellow box to run a simple animation. As soon as the animation starts (rotation not 0) the blur effect dissapears.
[code]

[2019-10-01 16:09] rbucker commented on #41696
@escamoteur I suppose I'll have to... Is there a doc for changing channels?

[2019-10-01 16:10] netopaez97 commented on #35532
Hi Mr. Stanislav. The problem was the company where I was working had a restriction in network, then, the sqflite package couldn't being installed in a good way.

I could solve the problem connecting my computer to another network with no restrictions.

Thank you for reply!

[2019-10-01 16:11] netopaez97 commented on #35532
Hi Mr. Stanislav. The problem was the company where I was working had a restriction in network, then, the sqflite package couldn't being installed in a good way.

I could solve the problem connecting my computer to another network with no restrictions.

Thank you for reply!

[2019-10-01 16:11] #35532 closed

[2019-10-01 16:12] TheZeldaBoss commented on #41702
Well, I haven't modified the manifest, just updated dependencies after modifying my pubspec.yaml. Is there any way to know what is missing so I can check that ?

[2019-10-01 16:16] siliconsorcery commented on #41468
Same problem
[code]
Tried
`rm -rf /Users/john/flutter/bin/cache`
and
`flutter doctor -v`
with result
[code]

[2019-10-01 16:17] escamoteur commented on #41696
Just 'flutter channel #channelName'
After that do  'flutter upgrade'
And a 'flutter clean' in your projects

[2019-10-01 16:28] tvolkert commented on #37699
FYI, the build containing this fix (`v1.9.1+hotfix.4`) has been promoted to the stable channel.

There remain two known issues with physical iOS 13 devices & Flutter tooling:

* https://github.com/flutter/flutter/issues/41085 - intermittent (~15% of the time) mDNS lookup failures - causing the tool to fail to connect to the Dart VM service, thus preventing hot reload
* https://github.com/flutter/f

[2019-10-01 16:28] shihaohong commented on #34264
Discussed offline with @HansMuller and this does not seem like the appropriate solution, since that while exposing `TabController._copyWith` solves the problem at hand, it will also likely lead to incorrect usage of the method and confusion.

[2019-10-01 16:28] #34264 closed

[2019-10-01 16:30] siliconsorcery commented on #41468
Reinstalled flutter from instructions
`https://flutter.dev/docs/get-started/install/macos`

ran
`flutter doctor -v`

with result
[code]

[2019-10-01 16:32] ReinBentdal commented on #35398
I get this error when starting the animation
[code]

[2019-10-01 16:32] micimize commented on #26114
What worked for me:
* Wiping all app data
* Restarting my phone
* `flutter clean`
* "reinitializing" extensions in vscode:
  *  uninstalling dart and flutter extensions
  * reloading (closing, reopening)
  * reinstalling extensions
  * reloading again(closing, reopening)

[2019-10-01 16:34] TheZeldaBoss commented on #41702
Edit of the previous bug : I found waht caused the problem : I had an empty line at the end of my assets list... Sorry for the inconvenience...

[2019-10-01 16:35] cmkweber commented on #30653
I retested this against the latest master and instead used the new onReportTimings @liyuqian implemented instead of the text performance overlay and it shaved off about 2ms on average. Now it is running at about 2.0ms on average for rasterization of a simple app. Just displaying that simple line of debug performance text was accounting for 2ms. Hopefully the intention is to move the performance st

[2019-10-01 16:35] #30653 closed

[2019-10-01 16:38] jonahwilliams commented on #41702
Reopening the issue: we still shouldn't crash here.

[2019-10-01 16:39] TheZeldaBoss commented on #41702
I had a line with just a "-" and nothing behind it, if it may help you

[2019-10-01 16:40] jonahwilliams commented on #41702
Thank you @TheZeldaBoss !

[2019-10-01 16:41] TheZeldaBoss commented on #41702
Android Studio automatically filled the new line I made with a '- ', so it read an empty string after it. You should add a check on it for the next version.

[2019-10-01 16:43] HansMuller commented on #13015
I added the cujpertino and material labels because I assume that developers will expect integration of autofill with the TextField's text selection menu (per https://github.com/flutter/flutter/issues/13015#issuecomment-536173301)

[2019-10-01 16:44] zahash opened #41703 "uncommenting the assets part in the pubspec.yaml file leaves mismatching indentation"
The default pubspec.yaml file contains these lines.

  \# To add assets to your application, add an assets section, like this:
  \# assets:
  \#  - images/a_dot_burr.jpeg
  \#  - images/a_dot_ham.jpeg

But when uncommenting with (ctrl + /), there is an indentation mismatch on the lines
"- images/a_dot_burr.jpeg" and
"- images/a_dot_ham.jpeg"

That is, there is only one space before the '-' instead

[2019-10-01 16:45] yjbanov commented on #39998
In this mode what happens when a user attempts to auto-complete or find docs for the following classes: `Element`, `Window`, `Animation`, `Canvas`, `Point`? These classes exist both in `dart:ui`/`package:flutter` and in `dart:html`.

Definitely no need to introduce unnecessary complexity. However, if the world we're heading towards is one that offers multiple sets of `dart:*` libraries in the same

[2019-10-01 16:47] stuartmorgan commented on #41696
This is indicating that there was a failure in the underlying build, but you haven't included the portion of the logs containing that build. Could you post the part of the log before that, which likely contains more details about the failure?

[2019-10-01 16:52] nturgut commented on #39826
Thanks for sharing the code.

Looks like text editing is working. This issue is about text measurement on a multi-line text. Solution depends on issue: https://github.com/flutter/flutter/issues/33523

[2019-10-01 16:52] christopherfujino commented on #41468
@siliconsorcery I believe that error means that you have not trusted your host device from your phone. There should be a dialog on the phone that says something like, "trust this device?". There is an outstanding issue to have the doctor give a more friendly error....

[2019-10-01 16:55] christopherfujino commented on #41468
@rbucker I re-read your original issue and I see that you were able to get back to a stable state. I agree that we can improve error messaging from the tool when these kinds of errors occur.

[2019-10-01 16:57] MsXam commented on #41679
I have the same issue - can reproduce with apps I deploy to a live device. I also downloaded and installed Reflectly on a brand new phone with no previous Flutter apps installed and can reproduce whats in the video.

[2019-10-01 16:58] stuartmorgan commented on #41689
The bug system is not a good place for discussion of a lot of different questions at once (many of which are unrelated).

You should not be copying a whole project between macOS and Linux, or sharing a directory between them in a dual-boot or VM setup, which is what Jonah was saying. You should instead use version control, and check out one copy on your macOS machine, and one on your Linux machine

[2019-10-01 16:58] #41689 closed

[2019-10-01 17:03] stuartmorgan commented on #41688
Windows is already tracked in #37673; rescoping and retitling for the macOS part of this.

It uses textures, not platform views, actually. This is blocked on #30717 which is underway.

[2019-10-01 17:06] #33687 closed

[2019-10-01 17:07] escamoteur commented on #30653
@cmkweber You can observe performance from the new Dart Devtools https://flutter.dev/docs/development/tools/devtools/overview

[2019-10-01 17:11] ranjanbinwani opened #41705 ""flutter run" crashes on Android"
Steps to Reproduce

1. flutter run

## Logs

[code]
[code]

## flutter doctor

[code]
[code]

[2019-10-01 17:11] tvhnet2014 opened #41706 "Flutter layout issue: stack z-order not working"
The z-order of stack children layout is not as my expectation.
I have 4 widgets in a stack with keys: 0,1,2,3. I try to change their z-order and rebuild the stack widget. Here is my code:
[code]

At starting, stack children are laid out in z-order (from bottom to top): 0,1,2,3. Screen shows:
<img width="140" alt="Screen Shot 2019-09-30 at 5 03 47 PM" src="https://user-images.githubusercontent.com/

[2019-10-01 17:12] lawonga commented on #41636
Crash using a build from the beta channel:

#### Flutter Doctor
[code]

#### Crash dump
[code]

[2019-10-01 17:13] escamoteur commented on #41684
Hi,

no this is not a Flutter related problem but standard network programming with the Dart HttpClient, http package or dio package.

This place is for reporting bugs and suggest new features

[2019-10-01 17:16] escamoteur commented on #30674
Thanks for getting back, I close this issue then.

[2019-10-01 17:16] #30674 closed

[2019-10-01 17:17] mdebbar commented on #39698
@kunit1 are you still encountering this issue? I'm not able to reproduce it.

[2019-10-01 17:17] dnfield opened #41707 "Text layout without blocking the UI"
There are a number of bugs that I've seen that boil down to this: if you have a large chunk of text, laying it out may be expensive enough where it blocks the UI for an unacceptable amount of time.  One work around for this is to try to break up your text into smaller chunks, which works if you already have natural breaks (e.g. many small paragraphs laid out individually instead of all at once), b

[2019-10-01 17:18] sethchhim commented on #41617
I would like to clarify the negative behavior.

Condition:
[code]

Negative Behavior:
[code]
[code]

[2019-10-01 17:18] stuartmorgan opened #41708 "[camera] Add macOS support"
Since laptops commonly have cameras built in, this would be potentially useful.

Blocked on #30717

[2019-10-01 17:18] stuartmorgan opened #41709 "[camera] Add Windows support"
Since laptops commonly have cameras built in, this would be potentially useful.

~Blocked on #38601~

[2019-10-01 17:18] stuartmorgan opened #41710 "[camera] Add Linux support"
Since laptops commonly have cameras built in, this would be potentially useful.

Blocked on #38601

[2019-10-01 17:24] zanderso commented on #41271
@a-siva For Dart VM handle check failure in the initial crash report.

[2019-10-01 17:24] gaaclarke commented on #7246
Hi, @therealjohnsummer I watched the video.  I've seen 3 things that could be considered a flash:
1) The sun jumps.
2) The bevel around the app changes.
3) The horizontal scroller draws its cells the wrong size for one frame.

The sun jumping is a programmer error.  It looks like that sun is set to rotate based off the system clock.  When the app is backgrounded a screenshot is taken, the animatio

[2019-10-01 17:27] stuartmorgan opened #41711 "[connectivity] Add macOS support"
The API is currently pretty mobile-centric, so we'd need to evaluate whether we want to move toward a more generic API as part of adding desktop support.

[2019-10-01 17:27] stuartmorgan opened #41712 "[connectivity] Add Windows support"
The API is currently pretty mobile-centric, so we'd need to evaluate whether we want to move toward a more generic API as part of adding desktop support.

[2019-10-01 17:27] stuartmorgan opened #41713 "[connectivity] Add Linux support"
The API is currently pretty mobile-centric, so we'd need to evaluate whether we want to move toward a more generic API as part of adding desktop support.

[2019-10-01 17:28] zanderso commented on #41250
/cc @jmagman Could you take a look at the failure to create the directory?

[2019-10-01 17:28] #41657 closed

[2019-10-01 17:32] jmagman commented on #41250
Can you elaborate on the actual problem you are seeing and give reproducible steps?  You run `flutter build ios` then open Runner.xcworkspace.  You try to build and get linker errors because the plugin frameworks are missing?

[2019-10-01 17:36] stuartmorgan opened #41714 "[path_provider] Add macOS support"
This is [already implemented in FDE](https://github.com/google/flutter-desktop-embedding/tree/master/plugins/flutter_plugins/path_provider_fde), and should be moving shortly.

[2019-10-01 17:36] stuartmorgan opened #41715 "[path_provider] Add Windows support"
Assigning to @csells who has an-progress implementation to be hosted in FDE (which would move to flutter/plugins once Windows plugin APIs and tooling are stable). Once that lands we can link to it here and then leave this open to track moving it once we're ready to host Windows plugins.

[2019-10-01 17:36] stuartmorgan opened #41716 "[path_provider] Add Linux support"
This is a common plugin, so we should support it on desktop. We'll need to decide on what conventions we want to use for Linux for some of the app-specific paths, since there's not necessarily an OS standard.

[2019-10-01 17:36] kazenokage commented on #41115
#41101 should be added to the list as well as it is affecting all apps using default fonts on iOS 13.

[2019-10-01 17:40] bpaul7101 commented on #41679
Im using  iOS 13.x as just upgraded. This looks really bad when I bring my apps from background to foreground. I can confirm this has nothing to do with the version of Flutter i'm using - I have also deployed via xCode with the same issue. Furthermore - since everyone seems to be using Reflectly to verify the issue - I can confirm the latest version of Reflectly exhibits the same issue. The other

[2019-10-01 17:41] stuartmorgan opened #41718 "[shared_preferences] Add macOS support"
This is [already implemented in FDE](https://github.com/google/flutter-desktop-embedding/tree/master/plugins/flutter_plugins/shared_preferences_fde), and should be moving shortly.

[2019-10-01 17:41] stuartmorgan opened #41719 "[shared_preferences] Add Windows support"
Assigning to @csells who has an-progress implementation to be hosted in FDE (which would move to flutter/plugins once Windows plugin APIs and tooling are stable). Once that lands we can link to it here and then leave this open to track moving it once we're ready to host Windows plugins.

[2019-10-01 17:41] stuartmorgan opened #41720 "[shared_preferences] Add Linux support"
This is a common plugin, so we should support it on desktop. We'll need to decide on what conventions we want to use for Linux for the location, since there's not necessarily an OS standard.

For the actual storage, JSON is probably the easiest option to minimize dependencies (vs. something like SQLite).

[2019-10-01 17:41] FarmaanElahi commented on #37582
I am facing the same issue.It was talking ~ 15min to build the project using the new build system. After going back to legacy build, it is now ~4 min for clean build and ~ 30 sec for cached build

[2019-10-01 17:42] quetool commented on #40998
I can confirm on 1.9.1+hotfix.4 • channel stable is all working fine so far...

[2019-10-01 17:43] stuartmorgan opened #41721 "[url_launcher] Add desktop support"
Filing this a consolidate bug for all three desktop platform since [there are already FDE implementations for all three](https://github.com/google/flutter-desktop-embedding/tree/master/plugins/flutter_plugins/url_launcher_fde). This bug is to track moving them over to flutter/plugins as each platform's plugin tooling and APIs stabilize:
- [x] macOS
- [x] Windows
- [x] Linux

[2019-10-01 17:44] stuartmorgan commented on #41721
Assigning myself for macOS since that will be ready to move very soon.

[2019-10-01 17:44] jmagman commented on #41694
Setting up an Android development environment would not be required strictly for macOS/iOS development.  What errors were you seeing?  What does "project refused" mean?  What does  "tools modify the environment" mean (in what way?).

Steps to reproduce and a clear description of the errors you are seeing would be very helpful!

[2019-10-01 17:45] stuartmorgan commented on #41711
A [partial implementation already exists in FDE](https://github.com/google/flutter-desktop-embedding/tree/master/plugins/flutter_plugins/connectivity_fde).

[2019-10-01 17:46] mklim commented on #28348
Progress update:

I have an unfortunately private RFC that predates our OSS template going into my research into this in detail. There's a brief summary of it [in this comment](https://github.com/flutter/flutter/issues/32930#issuecomment-533716775).

One thing worth re-stating here is that there's two problems here: generating the schema API and non-primitive data types. They're related but orthog

[2019-10-01 17:48] escamoteur commented on #41690
Something like

[code]

I used a Stack to place the card above you could also use a Dialog the idea is to create a transparent/almost transparent border around the card for the Shadow to fall on.  By playing with the Padding you can move the Container inside to match the shadow.
I have no idea if this works but that's the way I would try.

For more on this stackoverflow is the right place

[2019-10-01 17:48] jmagman commented on #41663
This is being fixed in https://github.com/flutter/plugins/pull/2127.

[2019-10-01 17:50] escamoteur commented on #41690
If you are currently using a Dialog, give the Stack a try it might work with that.

[2019-10-01 17:53] jmagman commented on #41664
Those are all warnings, is there a build error buried in those 100 lines that were excluded?

`strong` is the default in ARC, so removing it shouldn't do anything.

[2019-10-01 17:56] jcsena commented on #41085
I have the same problem with the latest version **(channel stable).**

``` flutter doctor -v ```
[code]

[2019-10-01 17:57] stuartmorgan opened #41722 "Implement PlatformView support on macOS"
We'll want to support embedding native views in a Flutter view, as is currently supported on mobile.

[2019-10-01 17:57] stuartmorgan opened #41723 "Implement PlatformView support on Windows"
We'll want to support embedding native views in a Flutter view, as is currently supported on mobile.

[2019-10-01 17:57] stuartmorgan opened #41724 "Implement PlatformView support on Linux"
We'll want to support embedding native views in a Flutter view, as is currently supported on mobile.

This is of course blocked on #30729 since until we have a view-based toolkit implementation for Windows, there's no concept of a "view" to embed.

[2019-10-01 17:57] stuartmorgan commented on #37597
Blocked on #41723

[2019-10-01 17:59] stuartmorgan opened #41725 "[webview_flutter] Add macOS support"
This would use WKWebView, as on iOS.

Blocked on #41722

## Current status (as of May 2024)

This continues to be blocked on full macOS platform view support, as noted above. Flutter 3.22 (current `stable`) has partial macOS platform view support, but does not yet support gestures. Gesture support has landed on `master`, however.

There is a [mostly complete PR to add macOS support to `flutter_web

[2019-10-01 18:00] stuartmorgan opened #41726 "[webview_flutter] Add Linux support"
Once we definitively pick a toolkit, we'll need to evaluate web view options for that toolkit.

Blocked on #41724

[2019-10-01 18:06] stuartmorgan opened #41727 "[package_info] Implement macOS support"
This will be trivial, since all the information is available via NSBundle.

We could use the existing iOS implementation as-is, but since we're going primarily Swift for macOS, and it's actually easier to duplicate this code than extract it to another pod to share, we should just write a new macOS implementation in Swift.

[2019-10-01 18:06] stuartmorgan opened #41728 "[package_info] Implement Windows support"
I'm not familiar with how Windows application metadata is managed, but this will presumably require some changes at the Runner level to make sure the necessary information is available in the binary.

[2019-10-01 18:06] stuartmorgan opened #41729 "[package_info] Implement Linux support"
We'll need to decide how to embed the necessary information into the Runner (or supporting data) for the plugin to query.

[2019-10-01 18:11] hillelcoren commented on #30689
I wasn't able to solve it but found a workaround. I re-initialize the camera after the recording finishes, this makes it ready for use the next time the user tries to record.

[2019-10-01 18:13] bpaul7101 commented on #7246
I have this also and it is not programmer induced as this can easily be repeated by simply creating a flutter project and deploying it on a device (Running the counter app).

A new issue has now been created here : https://github.com/flutter/flutter/issues/41679

@gaaclarke The issue is apparent in the video and also exactly from what I am experiencing. The bottom half of the app appears to be dra

[2019-10-01 18:17] blasten commented on #41691
What @BondarenkoStas said. This issue seems to be fixed in 5.3 https://github.com/gradle/gradle/issues/3117#issuecomment-474137063

[2019-10-01 18:22] escamoteur commented on #41706
Hi, the `key` has no effect inside a Stack.  There only the order in that they are listed as children controls the sequence. So to change them you would have to wrap your code in `_widgets` in a `setState`. For performance reasons you should use a `RenderStack` instead of a Stack.

For more questions please ask them on stackoverflow because we are not able to give individual support here.

[2019-10-01 18:22] #41706 closed

[2019-10-01 18:26] escamoteur commented on #41705
Hi,

1. have you checked that this file exists ` C:\Users\Ranjan Binwani\Desktop\hello_rectangle\hello_rectangle\android\gradlew.bat`

2. run `flutter upgrade`

3. Does this happen with a newly created project too?

4. if not  try creating a new project and copy your Dart files over to the new project.

[2019-10-01 18:33] mklim commented on #40956
Thanks. Unfortunately I can't reproduce the error with a similar Gradle file and mock `google-services.json`.

Is this error universal, or on a particular device/SDK version, or flaky some of the time even on the exact same device?

[2019-10-01 18:34] theochampion opened #41731 "[google_maps_flutter] Performance drop when loading markers from bytes"
Hi there,

I'm building a map application in which I have A LOT of different marker designs to display (depending on the kind of POI).
As I have to constantly renderer different marker on the map, I decided to optimize performance by loading all the marker design from assets file (using `BitmapDescriptor.fromImageAsset()` function) at the beginning and storing that in a
[code]
It worked great, the

[2019-10-01 18:40] 2208Abhinav commented on #36157
I tested it and now it's working fine. Thanks!

[2019-10-01 18:43] escamoteur commented on #41700
Please ask questions like this on stackoverflow because we are not able to give individual support here.

[2019-10-01 18:43] #41700 closed

[2019-10-01 18:45] Fa-d opened #41732 "was my passing the data parameter wrong ?"
`Launching` lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
Built build\app\outputs\apk\debug\app-debug.apk.
Installing build\app\outputs\apk\app.apk...
I/esting_rotatio(12086): CollectorTransition concurrent copying GC freed 406(75KB) AllocSpace objects, 3(60KB) LOS objects, 58% free, 1104KB/2640KB

[2019-10-01 18:45] Fa-d opened #41733 "was my passing the data parameter wrong ?"
`Launching` lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
Built build\app\outputs\apk\debug\app-debug.apk.
Installing build\app\outputs\apk\app.apk...
I/esting_rotatio(12086): CollectorTransition concurrent copying GC freed 406(75KB) AllocSpace objects, 3(60KB) LOS objects, 58% free, 1104KB/2640KB

[2019-10-01 18:49] earyzhe commented on #41664
@jmagman

Yeah in the logs below. That's the output of "flutter run -v"

Ok. It definitely did do something though. The app is now working and It was not before. In fact, I have to keep doing it because the pod files keep refreshing.

1. This means the app will not compile.
2.  I delete "strong" and it works.
3. Everytime

[2019-10-01 18:50] escamoteur commented on #41732
If you look at the stack trace you find:

[code]
you passed null to a TextWidget

a bit below we fing:

[code]

`_AppState` is the first of your own widgets and Flutter tells you in which line the `Text` widget is that has the problem.

Please ask questions like this on stackoverflow because we are not able to give individual support here.

[2019-10-01 18:50] #41732 closed

[2019-10-01 18:53] davidcavazos opened #41734 "[web]: Web plugins not implemented"
When following the guide [Developing plugin packages](https://flutter.dev/docs/development/packages-and-plugins/developing-packages#developing-plugin-packages), there is no implementation for a `web` plugin.

I created a project via the command:

[code]

Running the app actually works, but it displays the platform version as "Unknown".

[code]

There are `android` and `ios` directories for platfor

[2019-10-01 18:54] davidcavazos commented on #41734
[code]

[2019-10-01 18:54] phanirithvij commented on #37025
@mklim How to use the new API there are no examples in the [docs](https://api.flutter.dev/javadoc/io/flutter/embedding/android/FlutterView.TransparencyMode.html)?

[2019-10-01 18:57] escamoteur commented on #41733
Yes, you passed `null` as text to a `Text` widget.

If you look at the debug output

[code]

a bit below there is a stack trace

[code]
`_AppState.build` is the first in your own code and Flutter rells you even the line number where you tried to create the `Text`widget: line 60

[2019-10-01 18:57] escamoteur commented on #41733
Please ask questions like this on stackoverflow because we are not able to give individual support here.

[2019-10-01 18:57] #41733 closed

[2019-10-01 18:57] Harag commented on #16602
Doing a pop before a pushRepacementNamed will also give you the error.

Navigator.pop(context);
Navigator.pushReplacementNamed(context, "/");

E/flutter ( 6044): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: Bad state: Future already completed
E/flutter ( 6044): #0      _AsyncCompleter.complete (dart:async/future_impl.dart:39:31)
E/flutter ( 6044): #1      Route.didComplete (pa

[2019-10-01 18:58] jonahwilliams commented on #36157
Perfect, thank you!

[2019-10-01 18:58] #36157 closed

[2019-10-01 19:17] agreensh commented on #41679
Also seen horrible flashes on iOS 13.1.1 and 13.1.2, iPhone X, but with a different scenario.

Any flutter app loaded from the AppStore (or installed locally), running in the foreground.
Pull down from the top of the screen to show the lock screen. Nasty flash(es) 3 out of 4 times.
But it only happens if the lock screen background is set to a photo. Doesn't happen for any non-flutter apps.

[2019-10-01 19:17] tewshi commented on #41085
I think this is fixed.
I upgraded my iPhone to iOS 13.1.1
Upgraded flutter to latest on master v1.10.7-pre.79
Updated my flutter plugin for Android Studio to 40.0.2
Dart plugin for Android Studio v191.8423

[code]

[2019-10-01 19:28] escamoteur commented on #31047
Hi, sorry for the late reply, I would like to ask if you could solve your problem in the meantime?

[2019-10-01 19:29] tewshi commented on #41085
Launching lib/main.dart on iPhone in debug mode...
Automatically signing iOS for device deployment using specified development team in Xcode project: XXXXXXXXXX
Running Xcode build...
Xcode build done.                                           58.3s
Installing and launching...
Checking for advertised Dart observatories...
Checking for available port on [APPID]._dartobservatory._tcp.local
Checking

[2019-10-01 19:31] agozie commented on #22075
Just encountered this... spent 10 hours troubleshooting before finding this issue. Any concrete fix yet please?

[2019-10-01 19:31] escamoteur commented on #31056
Hi, sorry for the late reply, I would like to ask if you could solve your problem in the meantime?

[2019-10-01 19:32] a-siva commented on #41271
Can you clarify which git hash version you are referring to when you say latest master.

[2019-10-01 19:34] LeandroStanger opened #41737 "Flatpak build"
Please, consider supporting [Flatpak](http://docs.flatpak.org/en/latest/introduction.html#reasons-to-use-flatpak) and publishing flutter on [Flathub](https://github.com/flathub/flathub/wiki/App-Submission).

[2019-10-01 19:35] escamoteur commented on #31075
I think you could use `IntrinsicHeight` here (not tested) but @samuelg123 is right, the row has an undefined height so you have to give it some constrains.

Please ask questions like this on stackoverflow because we are not able to give individual support here.

[2019-10-01 19:35] #31075 closed

[2019-10-01 19:37] Piinks commented on #39656
@RollyPeres, would you be able to tell me more about your use case? This seems to be working as intended based on the composition of your widgets.

[2019-10-01 19:39] jonahwilliams commented on #41271
The framework hash is `7bf9aea254` and the engine is `63949eb0fd`

[2019-10-01 19:41] kenthinson commented on #33873
Closing as everything I need is working. Thanks flutter team.

[2019-10-01 19:41] #33873 closed

[2019-10-01 19:43] escamoteur commented on #40831
could this here be related? https://github.com/flutter/flutter/issues/31096

[2019-10-01 19:43] escamoteur commented on #31096
This here might fix the problem https://github.com/flutter/flutter/issues/40831

[2019-10-01 19:44] escamoteur commented on #31100
Hi, sorry for the late reply, I would like to ask if you could solve your problem in the meantime?

[2019-10-01 19:45] ThinkDigitalSoftware commented on #22075
Your issue may be resolved by making sure your textEditingController is created outside of your build method and inside the initState so that it's not rebuilt  whenever the widget is. I've seen and fixed something like this before

[2019-10-01 19:46] escamoteur commented on #31103
Hi, sorry for the late reply, I would like to ask does this problem still exist?

[2019-10-01 19:46] #31105 closed

[2019-10-01 19:47] #31111 closed

[2019-10-01 19:48] escamoteur commented on #31113
Please ask questions like this on stackoverflow because we are not able to give individual support here.

[2019-10-01 19:48] #31113 closed

[2019-10-01 19:49] escamoteur commented on #31116
@davidcavazos could you please add your full flutter doctor?

[2019-10-01 19:50] ThinkDigitalSoftware commented on #22075
Another issue that's related is that the focus returns to the previously used TextField even if the keyboard was dismissed.
![ezgif-4-408d89423126](https://user-images.githubusercontent.com/23037821/65995274-04c14a80-e44a-11e9-9310-4dde6d061304.gif)

[2019-10-01 19:51] escamoteur commented on #31118
Hi, sorry for the late reply, I would like to ask does this problem still exist?

[2019-10-01 19:53] escamoteur commented on #31119
It helps finding such bugs by always providing the generic type to the `Future`

Please ask questions like this on stackoverflow because we are not able to give individual support here.

[2019-10-01 19:53] #31119 closed

[2019-10-01 19:54] escamoteur commented on #31124
Please ask questions like this on stackoverflow because we are not able to give individual support here.

[2019-10-01 19:54] #31124 closed

[2019-10-01 19:57] csoaresantos commented on #25271
I had the same problem as mentioned in the first thread and I solved following the link bellow. Basically it's a AndroidX compatibility.

https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility

[2019-10-01 19:58] escamoteur commented on #31125
Hi, please propose this at https://github.com/dart-lang/language/issues IMHO this should be possible without reflection. You have to make some PR for it so that many people upvote it :-)  please link that issue here.

[2019-10-01 19:58] #31125 closed

[2019-10-01 20:04] hivesey opened #41738 "Drawer - Scrim"
Hi,

I would like to detect user click on the Drawer scrim. The drawer closes wonderfully when I click on the scrim but I need to also perform another app related activity when the user clicks on drawer scrim to close the drawer.

I understand scrim is a bottomsheet under the drawer, can we detect clicks on it?

Thanks,
Arathi

[2019-10-01 20:05] phanirithvij commented on #28844
**Update** on this issue. The method `FlutterView.enableTransparentBackground` was deprecated according to https://github.com/flutter/flutter/issues/37025 with https://github.com/flutter/engine/pull/10235.

As the current method prevents accessebility apps like TalkBack to not run properly.

The suggested method to achieve a transparent background is to use [`FlutterView.setZOrderMediaOverlay`](ht

[2019-10-01 20:07] ranjanbinwani commented on #41705
1. This file exists
 ```C:\Users\Ranjan Binwani\Desktop\hello_rectangle\hello_rectangle\android\gradlew.bat```

2. Executed  ```flutter upgrade```
[code]

3. Facing the same issue even on a newly created project

[2019-10-01 20:12] rbucker commented on #41689
@stuartmorgan I COMPLETELY disagree with your interpretation. He said nothing of the sort. Neither did I. I am sharing my project thru git. And frankly, in a separate issue, it was recommended that I use beta or MASTER channel code. How is flutter ready production if that's the recommendation? How do I change my customer's mind that flutter is not ready for production.

ALSO there is nothing wrong

[2019-10-01 20:14] RollyPeres commented on #39656
Hey @Piinks . Thanks for looking into this issue. Tbh, I would expect the hit testing area to be translated together with the list item. i.e. the `InkWell` tap/splash should respect the translated boundaries, or else there's limited usage of such feature.

As a workaround, I've implemented my own custom `Align` widget which uses a raw height instead of percent based `heightFactor` and works perfec

[2019-10-01 20:20] chinmaygarde commented on #31041
Just to clarify that the TODO linked in this issue is not related to the format of external textures on iOS. But, I am following up separately on if we can remote that workaround now that the bug is fixed.

[2019-10-01 20:23] RollyPeres commented on #39656
To have a better understanding of my scenario, I needed to translate those list items since I applied some custom clipping to them, so I had to get rid of the empty space left between them, while also respecting the new boundaries when the tap/splash is being applied to the item.

[2019-10-01 20:23] sethchhim commented on #41617
Possible solution found,

I wrapped the body in an "invisible" `Padding`. So I learned if there is no top padding or padding of zero, PageView scrollDirection change will not work. It's not that elegant, but I hope this thread can help anyone else.

Condition 1:  Scaffold appBar is null
Condition 2: Body has no top padding
Condition 3: PageView attempt to change ScrollDirection

[code]

[2019-10-01 20:23] MarcelGarus opened #41739 ""hashValues" should use "identical" instead of =="
Currently, the implementation of `dart:ui`'s `hashValues` function compares the passed in object with `_hashEnd`, like this:

[code]

Let's say you have a class like the following:

[code]

Of course, that's a bad implementation of the `==` operator. 😄 I'm just saying that an implementation of `hashValues` that compares the arguments to `_hashEnd` using a flipped comparison (`_hashEnd == arg03`) w

[2019-10-01 20:23] khainhero commented on #41180
Okay. So I solved my issue.
At first I created a new Flutter project, created new certificates and provisioning profile as well as push notification key(iOS xcode stuff).
The notifications worked as expected on the newly created pet project.

I also have an iPad Pro with 12.4 iOS version.

On the pet project, notifications works on both my iPad Pro(12.4) and iPhone SE (13.1).

As I did not want to

[2019-10-01 20:28] leisim commented on #25732
But only with workaround. You cannot use `MaterialApp` which causes problems with navigation, material widgets etc.

[2019-10-01 20:29] DaveShuckerow commented on #41238
Hi Nurhan, the code is here: https://github.com/flutter/devtools/pull/1106/files

I'm still seeing the issue.  It should be reproducible by pulling down that repo and `flutter run -d chrome` from packages/devtools_flutter.

[2019-10-01 20:31] sethchhim commented on #36226
@ahmednet0001 The appBar can be null, just wrap the Scaffold body in a top Padding and scrollDirection change will work.

[code]

See https://github.com/flutter/flutter/issues/41617

[2019-10-01 20:31] escamoteur commented on #41689
@rbucker just to let you know the latest hotfix that was on beta is now the new stable. I only proposed trying master to see if it makes a difference to you.
You didn't post the 'flutter doctor' output from your Linux machine.

[2019-10-01 20:42] stuartmorgan opened #41740 "FLUTTER_BUILD_MODE isn't compatible with plugins on macOS"
Using FLUTTER_BUILD_MODE to override the framework type on macOS works with a trivial project, but the Podfile uses FLUTTER_FRAMEWORK_DIR which isn't affected by it. That means that if any plugins are added, the Podfile logic will add a reference into the build that points unconditionally to the "real" build mode, and once Xcode knows about two different copies of the framework (the Podfile-genera

[2019-10-01 20:43] chinmaygarde commented on #41731
There are plenty of extremely expensive operations Flutter needs to perform to take a compressed (as PNG) image buffer and display it on-screen. The image needs to be decompressed and then uploaded to the GPU (on separate worker threads no less). Depending on whether you are doing those operations per frame, I can see how this would not be performant.

To make sure that you are doing all the work

[2019-10-01 20:47] nhojjava commented on #34853
@janmoppel here it is please understand my delayed response as I've moved away from this Flutter project due to lack of support and functionality by Flutter.

flutter doctor -v
[√] Flutter (Channel stable, v1.9.1+hotfix.4, on Microsoft Windows [Version 10.0.18362.356], locale en-US)
    • Flutter version 1.9.1+hotfix.4 at C:\src\flutter
    • Framework revision cc949a8e8b (4 days ago), 2019-09-27

[2019-10-01 20:51] Piinks commented on #38492
Hi @tarobins,
Could provide more context for your issue? It seems the title is cut-off.
Could you also provide the output of `flutter doctor -v`?
Currently on the master branch, `CupertinoSliverRefreshControl` works in a `CustomScrollView` as intended, and even interchangeably with Material elements. I have provided a minimal sample below.

[code]

Is there a different use case you are referring t

[2019-10-01 20:51] jonahwilliams commented on #41427
Originally I did not implement this on iOS because 1) iOS has no concept of a live region and 2) there was no official guidance that iOS snackbars should behave this way.

I took a look at a few possible options to supporting this automatically, through the framework and the engine and neither really works well due to the lack of accessibility APIs on iOS. My recommendation is to perform the annou

[2019-10-01 20:57] timtraversy commented on #16924
https://pub.dev/packages/device_calendar

[2019-10-01 21:03] #40463 closed

[2019-10-01 21:07] Piinks commented on #37529
Hi @cvolzke4, Have you tried using a [`SliverPersistentHeader`](https://master-api.flutter.dev/flutter/widgets/SliverPersistentHeader-class.html)?
According to the documentation for `SliverAppBar`

`SliverPersistentHeader` can be used anywhere in your scroll view.

[2019-10-01 21:09] JordanMajd opened #41742 "WSL: running/installing flutter from master fails."
Using WSL on Windows 10 I am unable to run/install flutter via the master channel; whereas I have no issues with the latest stable release. Running _any_ flutter command from master fails with:

[code]

I've reviewed similar issues, however none produced satisfactory results. I tried reproducing the issue directly on an Ubuntu server and everything ran fine; it would seem it is a WSL related issue

[2019-10-01 21:11] theochampion commented on #41731
@chinmaygarde Thanks for the quick reply!

So if I understand well, I would store my computed markers in a
[code]
instead of a
[code]
But, as [BitmapDescriptor](https://pub.dev/documentation/google_maps_flutter/latest/google_maps_flutter/BitmapDescriptor-class.html) can only be constructed using byteData (`Uint8List`), I would later have to call the `toByteData` method of `Image` every time I want

[2019-10-01 21:27] mklim commented on #40956
I've had one more idea I'd like to try if you have time for more information. Thanks again for all the help in debugging this so far.

1. `flutter build apk` (Just to get the app into a good state first.)
2. `cd android` (Move to the android subdirectory)
3. `./gradlew app:dependencies | grep com.android.billingclient`

And then could you post the output of step 3 here?

I'm wondering if there's a

[2019-10-01 21:29] chinmaygarde commented on #41731
You're right. I was under the impression that the markers were being rendered by Flutter (using a platform view overlay). But [reading the implementation of the plugin](https://github.com/flutter/plugins/blob/master/packages/google_maps_flutter/ios/Classes/), that doesn't seem to be the case. The implementation for markers from assets vs bitmaps seems similar so I am not sure why there is a perfor

[2019-10-01 21:32] dschuyler commented on #30735
Would this use the `AppLifecycleState` and `State<LifecycleWatcher>` or would it be some other mechanism (just asking to understand better)?

[2019-10-01 21:33] tarobins commented on #38492
Think it was supposed to say something like:  CupertinoSliverRefreshControl doesn't work when its in the GrowthDirection.reverse sliver.

There's a little more context here: https://github.com/flutter/flutter/issues/12319#issuecomment-520989794

[2019-10-01 21:35] davidcavazos commented on #31116
If I set `JAVA_HOME` to my JDK11 installation:

[code]

When I set it to my Android JDK8 installation:

[code]

[2019-10-01 21:38] ds84182 commented on #41739
Another (and faster) alternative is to use `identical` for the comparisons.

[2019-10-01 21:39] stuartmorgan commented on #30735
The specific case that this was originally filed for was delegation, not just observation, so at least some new mechanism would be needed. Supporting the existing lifecycle structure might be part of it though.

[2019-10-01 21:49] digiter commented on #41577
This is a duplicate of #39921

[2019-10-01 21:49] #41577 closed

[2019-10-01 21:52] chunhtai commented on #40480
There are multiple ways can improve this, I am just listing a few..

1, If you don't care about accessibility, which you SHOULD. The easiest way is to wrap all widget with  [excludeSemantics](https://api.flutter.dev/flutter/widgets/ExcludeSemantics-class.html) However, this will make the entire paragraph unaccessible. It might hurt the user experience

2, Separating the paragraph into smaller sent

[2019-10-01 21:53] digiter commented on #39921
Upgraded mac1, mac2, and mac4 to use Xcode 10.3.

[2019-10-01 21:58] jonahwilliams commented on #41739
I think that `identical` and `==` should have the same  performance for primitive types? I guess one way to check would be to look at the generated code

[2019-10-01 21:59] RyanRamchandar commented on #41731
I was attempting to do the same but ran into performance issues (not to mention trying to make everything display density independent) as well trying to create images and load them as an asset. Here's how I was creating the image: https://github.com/brendan-duncan/image/issues/146 I was able to draw a simple circle image in under 10ms.

[2019-10-01 22:22] theochampion commented on #41731
@chinmaygarde
Attached you will find two timeline trace of doing the exact same action on the map with BitmapDescriptor loaded from assets (`trace_assets.json`) and BitmapDescriptor loaded from bytes (`trace_bitmap.json`)
[Archive 2.zip](https://github.com/flutter/flutter/files/3678693/Archive.2.zip)

[2019-10-01 22:27] christopherfujino commented on #29952
I believe this was fixed in https://github.com/flutter/flutter/pull/38920

[2019-10-01 22:27] #29952 closed

[2019-10-01 22:28] nturgut commented on #41238
I see. Thanks for the reply.

I think this is a hot reload problem we encountered before. I will update the main issue soon.

Duplicate of https://github.com/flutter/flutter/issues/41284

[2019-10-01 22:28] #41238 closed

[2019-10-01 22:28] tewshi commented on #41085
I just realized that I need to connect both the iPhone and Mac to the same network

[2019-10-01 22:42] psyanite commented on #35586
@BondarenkoStas
Thanks for taking the time to look into my issue. I will check tonight and get back to you.

[2019-10-01 22:44] aam commented on #41271
Are you able to reproduce the crash on flutter_gallery or sample flutter app?
When you experience this crash what kind of changes you've done to your app before you did 'hot restart'?
Once you got the crash, does full restart work or you have to clean your app build folder as well?

[2019-10-01 22:49] blasten commented on #41636
There's also this crash report https://github.com/flutter/flutter/issues/36822 on Android 6.0.

cc @jason-simmons

[2019-10-01 22:49] liyuqian commented on #35296
Ok, then I'll close this issue for now as we're unlikely to act on it.

[2019-10-01 22:49] #35296 closed

[2019-10-01 22:54] blasten commented on #40619
This issue was fixed in https://github.com/flutter/flutter/pull/41402.  You can try `flutter channel master && flutter upgrade` to get the latest fixes.

[2019-10-01 22:54] #40619 closed

[2019-10-01 22:55] danielgchap commented on #34774
I find the problem that if I upgrade to image_picker: ^0.6.0+10 I then get AndroidX compatability issues. Any thoughts?

[2019-10-01 23:00] BondarenkoStas commented on #35247
@Prepear This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report. See https://flutter.dev/community for support options.

[2019-10-01 23:00] #35247 closed

[2019-10-01 23:02] BondarenkoStas commented on #35250
@tecbot Is it the same while using current flutter stable and firebase_messaging 5.1.6?

[2019-10-01 23:04] BondarenkoStas commented on #35252
@psujug did you manage to solve the issue?

[2019-10-01 23:05] BondarenkoStas commented on #35253
This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report. See https://flutter.dev/community for support options.

[2019-10-01 23:05] #35253 closed

[2019-10-01 23:06] BondarenkoStas commented on #35259
This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report. See https://flutter.dev/community for support options.

[2019-10-01 23:06] #35259 closed

[2019-10-01 23:17] BondarenkoStas commented on #35321
@firmlab did you manage to solve the issue? Please provide your flutter doctor -v output, and the build log with -v mode.

[2019-10-01 23:19] BondarenkoStas commented on #35323
@EugenePisotsky Is it the same while using current flutter stable and google_maps_flutter 0.5.21+7?

[2019-10-01 23:19] BondarenkoStas commented on #35327
This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report. See https://flutter.dev/community for support options.

[2019-10-01 23:19] #35327 closed

[2019-10-01 23:22] BondarenkoStas commented on #35333
@matanshukry As the PR was merged, can the issue be closed?

[2019-10-01 23:24] efrainmunoz commented on #41742
Same problem on MacOS Mojave 10.14.6

[2019-10-01 23:25] rbucker commented on #41689
generally speaking the out of the box experience has left a lot to be desired. In a conversation with the project owner we came to the same result. There are clearly some people who have been hovering in this area and I imagine they have success. I have different expectations from my tools. And now we are really going off topic.

[2019-10-01 23:29] BondarenkoStas commented on #35337
@elyasbeshkani Did you manage to solve the issue? Please provide your gradle-wrapper.properties content.

[2019-10-01 23:29] liyuqian opened #41746 "Observatory's timeline tracing is not working properly"
1. "Refresh" button is not working reliably. Usually, I have to refresh the web page multiple times to get the trace refreshed and loaded.
2. "Save" button does not work at all. It shows "Cannot save an empty timeline" even if there's a
 non-empty timeline trace. See also b/141889413

How to reproduce: (1) `flutter run` in flutter_gallery; (2) open the observatory URL, go to timeline, check all bo

[2019-10-01 23:30] liyuqian commented on #41746
CC @flar @devoncarew @sivachandra

[2019-10-01 23:32] arsalanrex commented on #26580
Go to the location of the flutter app and use the following command:
`flutter build apk --release`
It should save a release version of the app in /build/app/outputs/apk/release/
Also the release apk is quite smaller in size than the debug version of the app.

[2019-10-01 23:33] #35339 closed

[2019-10-01 23:35] sunyatax commented on #29264
ClampingScrollPhysics() doesn't work. @Hixie - any help you can provide here? Thanks.

[2019-10-01 23:38] BondarenkoStas commented on #35341
@sceee do you still experience the issue?

[2019-10-01 23:40] BondarenkoStas commented on #35371
@virtz
Unfortunately, this report does not have any actionable information - it’s not clear if this is a bug in user code, a bug in the framework, or something else entirely.
Please feel free to comment and I will re-open if you can add the following information:
The version of Flutter you’re using
The output of flutter doctor -v
The full exception you see or the result
A minimal reproduction that

[2019-10-01 23:40] #35371 closed

[2019-10-01 23:42] BondarenkoStas commented on #35357
Thank you @PredatH0r ! @mehdidavarpanah66 did you manage to solve the issue?

[2019-10-01 23:43] bparrishMines commented on #26142
This is now supported in version `0.9.2`.
https://github.com/FirebaseExtended/flutterfire/commit/1ef4d220b42e7301eafb4c50cc12870d15486c50#diff-820f18c7defd3834b74406535d9da3bd

[2019-10-01 23:43] #26142 closed

[2019-10-01 23:44] BondarenkoStas commented on #35360
@JoanSchi did you manage to solve the issue? can you reproduce it using current futter stable and provider 3.1.0?

[2019-10-01 23:48] BondarenkoStas commented on #35372
@ozzy1873 Please report if you got it working. The fix is already on the current flutter stable.

[2019-10-01 23:48] stuartmorgan commented on #35339
palette_generator is not a plugin in Flutter terminology, because it has no native code; see https://flutter.dev/docs/development/packages-and-plugins/developing-packages#package-types

flutter/plugins contains plugins, while flutter/packages contains non-plugin packages.

[2019-10-01 23:52] #35240 closed

[2019-10-01 23:54] BondarenkoStas commented on #35235
It's right,

I think it's safe to close the issue. I believe there are other ways to add a timestamp.

[2019-10-01 23:54] #35235 closed

[2019-10-01 23:54] jonahwilliams commented on #41746
I think this is why all of the devicelab performance tests stopped working...

[2019-10-01 23:55] nilobarp commented on #35738
No. The latest version works fine.

[2019-10-01 23:55] #35738 closed

[2019-10-01 23:58] kunit1 commented on #39698
@mdebbar
The issue seems to be fixed on the latest version of flutter. Thank you for looking into it. I'll close the issue.

[2019-10-01 23:58] #39698 closed

[2019-10-02 00:02] jmagman commented on #40538
Is this on iOS 13?  See https://github.com/flutter/flutter/issues/41133.

[2019-10-02 00:29] LKTPD commented on #6724
iPhone(12.4.1) + macos(10.14.6 Mojave) +  flutter(1.9 hotfix2), the same problem, unfixed...
error log ====>
Installing and launching...                                        16.2s
**Error connecting to the service protocol: HttpException**: , uri = http://127.0.0.1:1030/_bXKMxS7aWA=/ws

[2019-10-02 00:30] devoncarew commented on #41746
@kenzieschmoll @jacob314 - is the same workflow supported in DevTools?

[2019-10-02 00:37] lookfirst commented on #41663
@jmagman Great, thanks for a helpful response. Closing.

[2019-10-02 00:37] #41663 closed

[2019-10-02 01:02] CoreyCole commented on #27611
@joanpuigsanz I found [this article](https://medium.com/saugo360/flutter-creating-a-listview-that-loads-one-page-at-a-time-c5c91b6fabd3#a358) on medium.

To solve this, you can either make sure the **height** of the "no data" state of your widget is the same as the height of your "loaded" widget. But, this is pretty impractical for most scenarios. An alternative is to have the ListViews children u

[2019-10-02 01:13] jonahwilliams opened #41748 "Wiki page describing local engine web builds is missing"
Now this only links to flutter.dev/web. however that page used to contain information on how to build a local engine with ninja

[2019-10-02 01:14] jonahwilliams commented on #41748
cc @yjbanov

[2019-10-02 01:19] jicg opened #41749 "When the picture is larger than 3m, flutter cannot display the picture."
When the picture is larger than 3m, flutter cannot display the picture.
图片地址：https://xianyan.hellowcloud.com/assert/files/2019October/1569978960591485666.jpg
[code]
I can't modify the size of the network picture. How can I make the picture display normally?

[2019-10-02 01:21] jicg commented on #41749
I am working on Android mobile phone.

[2019-10-02 01:23] CoreyCole opened #41750 "ListView parameter to keep all children alive"
## Use case
There is a problem I and others have encountered: scrolling **up** in a `ListView` or `ScrollView` with async children (`FutureBuilder` or `StreamBuilder`) cause a "jerking" or "snapping" to occur. This is because flutter disposes of child elements that are out of view. For my use case, I know my lists will never be long enough to require this virtual scrolling.

Others facing this iss

[2019-10-02 01:41] pp126 commented on #18818
@escamoteur I created a new project,It dosen't work.
![video_2019-10-02_09-36-10](https://user-images.githubusercontent.com/24835186/66012198-cfc00100-e4f8-11e9-883a-a62b017c1942.gif)

[2019-10-02 01:59] jixian01 commented on #32610
Hello
i am facing the same problem. i am behind a vpn on windows.

[2019-10-02 02:10] kunit1 opened #41752 "[Web] Textfield is broken. Text flashes and then disappears"
## Steps to Reproduce

When using the default counter app of flutter create the text field will not display the text entered correctly. Seems to be related to having the floating action button on the screen. When removing the floating action button the issues goes away.

cc @mdebbar

[code]
Launching lib\main.dart on Chrome in debug mode...
Debug service listening on ws://127.0.0.1:65032/iB_ntRfbU

[2019-10-02 02:16] stx commented on #41680
Been running into this with `pushNamedAndRemoveUntil`. This fix fixes that as well. Thanks @joellurcook!

[2019-10-02 02:45] kunit1 commented on #41752
Can't reproduce on latest master branch anymore. Will close for now.

[2019-10-02 02:45] #41752 closed

[2019-10-02 02:48] nitrofortin commented on #34860
Also making sure the Maps Android SDK is activated on the GC console!

[2019-10-02 03:08] normidar opened #41755 "when height with double.infinity,show a bug in the display"
If you have found a bug or if our documentation doesn't have an answer
     to what you're looking for, then fill our the template below. Please read
     our guide to filing a bug first: https://flutter.dev/docs/resources/bug-reports
-->

## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-10-02 03:09] #41755 closed

[2019-10-02 03:44] SvenSchoene commented on #41598
We are facing the exact same issue.

Looking at the logs I get the following error:

[code]

Glad we're not the only ones.

[2019-10-02 03:52] bernaferrari commented on #41749
Possibly related: https://github.com/flutter/flutter/issues/40613

[2019-10-02 03:55] VNAPNIC opened #41756 "Target of URI doesn't exist package"
Target of URI doesn't exist: package:flutter_webrtc/webrtc.dart
![Untitled1](https://user-images.githubusercontent.com/7553452/66016961-013dca00-e503-11e9-854a-73bbcba41fe7.png)
![Capture2](https://user-images.githubusercontent.com/7553452/66016982-1b77a800-e503-11e9-8aaf-389da36a2902.PNG)

[2019-10-02 03:57] yjbanov commented on #41748
Do you mean https://github.com/flutter/flutter/wiki/Compiling-the-engine should also describe how to build a local web engine? I'm not aware of any existing pages having used to contain this information 🤔

[2019-10-02 04:06] brandonlaguna commented on #30498
Hi mate, I wanna know if your have still this problem.
Or you resolve this, just i have a big problem with this.

So thanks...

[2019-10-02 04:26] saurabhthesuperhero commented on #30961
Thank you very much 0-php I love u for this code it works 😍

[2019-10-02 04:45] pouledodue commented on #41756
is the package present in your SOMEWHERE/flutter/.pub-cache/hosted/pub.dartlang.org/ dir?

[2019-10-02 05:02] jonahwilliams commented on #41748
I wrote an initial doc in the wiki describing this workflow, I was hoping you know why the link got changed, and where the old wiki page is.

[2019-10-02 05:11] sceee commented on #35341
@BondarenkoStas yes, basically I am still facing this issue. All Pre-Launch devices stay on the first screen which is a Slider (PageView) Page (as a lot of apps have). The first slide does not get slided away.

But it seems Google Play now somehow detects more of the app because it tries to make random clicks now - that was not happening earlier. Also, the videos from the Pre-Launch reports are wa

[2019-10-02 05:28] morphran commented on #19810
write this in Manifest file before </application> and hope it works or change the build version to 27.1.1

<uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

[2019-10-02 05:29] morphran commented on #19810
[code]

[2019-10-02 05:31] sho-1990 commented on #40246
Thank you for your replay.
My team decided this fix into next release.

Thanks.

[2019-10-02 05:31] EricPreventa commented on #22075
Somehow, my code changed and now this is becoming an issue for me. Can't believe this is a problem. Do we have any preferred fix for this?

[2019-10-02 05:46] maks commented on #22828
The [Android documention](https://developer.android.com/reference/android/text/InputType.html#TYPE_TEXT_FLAG_NO_SUGGESTIONS) is pretty clear that the semantics of TYPE_TEXT_FLAG_NO_SUGGESTIONS are different to TYPE_TEXT_FLAG_AUTO_CORRECT, it would be really useful to have this exposed on Flutters TextField.

[2019-10-02 05:48] RyanRamchandar commented on #41133
Update: I am able to see app logs when I run from Xcode directly but not via IntelliJ or the flutter run command. The logs from Xcode include more than just flutter logs.

[code]

[2019-10-02 05:58] blasten opened #41757 "Automatically migrate app project to use the new Android embedding"
If an app is using the old embedding and a plugin is using the new embedding. Then, we could try to migrate the app to the new embedding automatically.

[2019-10-02 06:09] kevinengel opened #41758 "TextField autocorrect=false bug"
Filing new bug to draw attention to:

https://github.com/flutter/flutter/issues/22828#issuecomment-520174825

Flutter is not setting the necessary InputType flags when autocorrect is set to false.

[2019-10-02 06:28] caseyryan commented on #27254
I've wasted 2 days trying to find a solution, and only your advice saved me! Thanks a lot and be happy :)

[2019-10-02 06:47] frickt opened #41759 "Draggable zone on a transformed element is wrong."
When having a transformed element inside a draggable zone, the draggable zone is not transformed.

## Steps to Reproduce

Minimal example:

[code]
![transformed](https://user-images.githubusercontent.com/5709489/66023171-a69b7280-e4f0-11e9-8598-5c04675c102f.jpeg)

## Logs

[code]

[code]

[2019-10-02 06:58] Scopewriter commented on #497
Setting the property isScrollControlled = true, makes the bottom sheet expand above the half of the screen. The below example takes up the whole screen:

`await showModalBottomSheet<void>(
        context: context,
        builder: (BuildContext context) {
          return Container(height: double.infinity, width: double.infinity, color: Colors.red,);
        },
        isScrollControlled: true,

[2019-10-02 07:02] jumasheff opened #41760 "[web]: make it possible to specify a port as an argument"
## Use case
I want to embed a Flutter web app into an iframe. But every time I start the app, it uses a different port, which complicates my use case. Besides, in a server environment security-wise it would be desirable to keep only a known set of ports open.

## Proposal
Make it possible to specify a port as an argument: `flutter run -d chrome --port 8989`

[2019-10-02 07:05] YAPPDEF opened #41761 "[google_maps_flutter] CoreData warnings/errors"
Please check the following issues on iOS 13.1.2

[code]

`flutter doctor -v`
[code]

[2019-10-02 07:06] shajji1 commented on #41602
@Hixie, @escamoteur ...  any help

[2019-10-02 07:17] theochampion commented on #41731
@RyanRamchandar Did you manage to store the precomputed images before using them?

[2019-10-02 07:22] sergicastellsague commented on #38063
An update on my own comment. We see it still happening. I guess at that moment we were just lucky. But I can confirm that the latest version of the app we released, with Flutter 1.9.1+hotfix2, still has this issue

[2019-10-02 07:24] msc4266 commented on #29770
same problems here
_Note: ...**connectivity-0.4.4**\android\src\main\java\io\flutter\plugins\connectivity\ConnectivityPlugin.java uses or overrides a **deprecated API**._

[2019-10-02 07:28] xster commented on #33000
Right. Otherwise, check if it itself is the root view controller, if not, pop itself too.

[2019-10-02 07:39] amreniouinnovent commented on #35455
@mikhail-tokarev As @henryadamgordon suggested an alternative solution I think we can close this issue

[2019-10-02 07:44] #35455 closed

[2019-10-02 07:46] Feenposhleen commented on #26638
It would be nice to at least have some sort of build hook, where we could trigger an arbitrary Dart script before the app is compiled. Most issues could probably be worked around if this existed.

Being forced to use platform-specific flavoring is unnecessary cognitive load.

[2019-10-02 07:50] xster commented on #32871
@chunhtai you had some PRs on this right? Can we attach some links?

[2019-10-02 07:53] Mastersam07 commented on #37081
@AnanthanAn you could try using "com.google.gms:google-services:4.2.0" instead. It worked fine the only thing is that you will get a message that some things are deprecated. However, you could include androidX compatibility. That should also solve it.

[2019-10-02 07:58] Mastersam07 commented on #37081
However, if you need plugins that require 4.3.0 and above, you could try migrating your flutter project to androidX [Click here](https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility) @AnanthanAn .

[2019-10-02 08:02] sroddy commented on #41701
cc @nturgut @yjbanov who worked on that file

[2019-10-02 08:06] Zazo032 commented on #41756
Try running `flutter packages get`. If not working, in Android Studio, go to `File > Invalidate Caches / Restart > Invalidate and Restart`. That usually fixes this kind of issues for me.

[2019-10-02 08:07] Tomucha commented on #41437
Hi! I'm all for handwritten message files and code generation. The compile-time check of the message existence is great. But don't forget that occasionally you need to decide the message at runtime, maybe like this:

`var vehicleTypeMessageKey = "VehicleType.${data['type']'}";
`
... so having just generated methods is not enough.

You will find a few more ideas like this in my internationalization

[2019-10-02 08:24] tiholic opened #41762 "Issue with list view objects - images updated wrongly while using network image with FadeInImage"
## Steps to Reproduce

[code]

## Logs
[code]

[code]

[2019-10-02 08:25] BondarenkoStas commented on #35285
@tecbot Thank you for the notice! Can you please try if it's the same while using current flutter stable v1.9.1+hotfix.4 or v1.9.1+hotfix.2? As I understood, that time you used Dev v1.7.11, which is quite behind already.

[2019-10-02 08:28] #39380 closed

[2019-10-02 08:35] buhar commented on #27585
Consider drawing the bottom navigation bar using [this technique](https://proandroiddev.com/how-i-drew-custom-shapes-in-bottom-bar-c4539d86afd7) and applying shadow using the [drawShadow method](https://api.flutter.dev/flutter/dart-ui/Canvas/drawShadow.html).

[2019-10-02 08:37] xni06 commented on #18307
I'm getting the same problem

[code]

[2019-10-02 08:38] tiholic commented on #29865
I assume that few lines are not printed by logger (ex: 13 frames are omitted in current context)
If we can have a run parameter which would not omit any logs, it would help resolve any issues faster. It took a long time to figure out the issue when the above log was printed.

[2019-10-02 08:39] BondarenkoStas commented on #35341
@eseidelGoogle can you elaborate on it?

[2019-10-02 08:43] rrousselGit commented on #37878
Okey I've made the necessary changes to fix this issue. I'll open a PR today.

But it's important to note that this issue still shouldn't have any impact on your app. If it did cause undesired side effects on your side, then you have a bug, even with this being optimized away.

[2019-10-02 08:49] WaheedHussainHaans commented on #27254
No problem Bro :)

On Tue, Oct 1, 2019 at 11:30 PM Konstantin <notifications@github.com> wrote:

[2019-10-02 08:53] rostopira opened #41764 "[web]: Useless logs in Safari"
I'm receiving multiple `Unhandled Promise Rejection: Error`
It's totally useless and I can't debug anything
![image](https://user-images.githubusercontent.com/16724952/66030961-22a2b400-e50b-11e9-9d34-97c7df0f26d7.png)

[2019-10-02 08:53] BondarenkoStas commented on #35457
@Loopex2019 you can take a look into this implementation https://github.com/flutter/plugins/pull/1304. Note that the PR wasn't merged yet. Did you mean such functionality?

[2019-10-02 08:56] KingWu commented on #32626
Face the same issues. i added -FIRDebugEnabled into scheme. Using flutter run, the debug view did not work. But, i try to use XCode to run the flutter project. it works.

I wonder that ```flutter run``` command does not pass the -FIRDebugEnabled argument to build iOS app.

[2019-10-02 08:59] GowthamF commented on #41590
Will it be applicable for Flutter Web Applications also. If so, It works fine in Chrome in Desktop, but it does not work properly on Mobile Chrome.
You can check it from this URL-https://visabymasters-79ead.firebaseapp.com/#/

[2019-10-02 09:01] Amr1440 opened #41765 "My app stuck on splash screen (IOS 13 device) after updating to xcode 11"
My app stuck on splash screen (IOS 13 device) after updating to xcode 11 without showing any error in logs !!.
Im using flutter 1.9.1+hotfix.4

[2019-10-02 09:02] leemuljadi opened #41766 "Improve error message on "Gradle task assembleDebug failed with exit code 1""
I want to run my app while using the latest download of Android Studio in a new machine, but couldn't run because of Graddle issue.

**Flutter Doctor**
[code]

**Flutter Run**
[code]

**Flutter Run -V**
[code]

[2019-10-02 09:14] escamoteur commented on #30498
@brandonlaguna I'm sorry to hear that. Is your project a mixed project too or a pure Flutter project?
Could you please add the output of `flutter doctor .v` here?

[2019-10-02 09:15] escamoteur commented on #30498
For all here I recommend creating a new project and copy all your own files into that this helps quite often with gradle related issues.

[2019-10-02 09:16] Frozmen commented on #20489
Is it possible to somehow filter the query by `arrayNotContains`? I can not find something similar in the documentation.

[2019-10-02 09:20] genert commented on #41765
This seems to happen here as well.

[2019-10-02 09:25] ConnorMcGill commented on #41765
I've been getting a similar error which seems to be connected to a number of exceptions I'm getting while running in verbose mode. These are displayed as followed `Exception attempting to connect to Observatory: WebSocketException: Connection to 'http://127.0.0.1:1029/9JVtRmQcnjk=/ws#' was not upgraded to websocket`

[2019-10-02 09:26] stonekase commented on #41180
Just for anyone interested, it seems the only issue i was facing with the push notification was the fact that it doesnt log in on the terminal which made me think it doesnt come through.

Using a widget (Text-widget) to output messages in the notification onMessage displayed the data in the widget.See images below.

base) omojos-MacBook-Pro:aiki_ng_flutter_app ash$ flutter doctor
Doctor summary (t

[2019-10-02 09:28] robert-ancell commented on #30835
I believe that Flutter intentionally doesn't work with Dart extensions. You are supposed to use [platform channels](https://flutter.dev/docs/development/platform-integration/platform-channels) or the new FFI support (this is the method I ended up using).

[2019-10-02 09:29] escamoteur commented on #41766
Hi,
thanks for reporting. This seems similar to https://github.com/flutter/flutter/issues/31289

Maybe this here could help https://github.com/flutter/flutter/issues/27234

[2019-10-02 09:29] escamoteur commented on #27234
https://github.com/flutter/flutter/issues/41766

[2019-10-02 09:29] Fa-d opened #41767 "The text was never null"
[code]

[code]

[2019-10-02 09:30] escamoteur commented on #31289
HI, just found a similiar issue

Maybe this here could help https://github.com/flutter/flutter/issues/27234

[2019-10-02 09:32] escamoteur commented on #31289
Hi,
I just want to check if you all could solve your problem in the meantime.

[2019-10-02 09:32] darshanpatel44 commented on #41165
[flutter_01.log](https://github.com/flutter/flutter/files/3680423/flutter_01.log)
[flutter_02.log](https://github.com/flutter/flutter/files/3680424/flutter_02.log)

[2019-10-02 09:33] escamoteur commented on #27234
I reopen this because there are several users with the same problem

[2019-10-02 09:34] szotp commented on #37850
It should be possible to check the symbols of Flutter binary, no need to upload it to appstore.

[2019-10-02 09:35] escamoteur commented on #34234
https://github.com/flutter/flutter/issues/41766

[2019-10-02 09:36] marcelgarus commented on #41767
Hi, would be mind formatting your code using triple backticks (\```)?
Seems like `card.sub == null`. I don't know how `CardItem` is implemented, but perhaps catch the underlying error by doing assertions in the constructor, like this:
[code]

[2019-10-02 09:37] escamoteur commented on #31289
https://github.com/flutter/flutter/issues/41766

[2019-10-02 09:39] vitor-gyant opened #41768 "ShaderMask with ListView child"
I've updated Flutter to 1.10.7-pre.78 and it seems that ShaderMask has suffered some change that created a strange behaviour.

This is the what happens when ShaderMask child is a ListView:

![IMG_A67A9E2AE752-1](https://user-images.githubusercontent.com/45602144/66034148-98ede900-e500-11e9-8376-da5159ee411a.jpeg)

Wrapping the ListView in a Container with a valid color field solves the issue.

![I

[2019-10-02 09:47] jaumard commented on #41766
I get this sometimes,  to have the real cause of the problem I have to open the android project and try to run it to have the real errors.

Might be nice to have it directly instead of "...failed with exit code 1" but at least it's not a blocker generally

[2019-10-02 09:48] escamoteur commented on #41767
Hi, @marcelgarus is right

`I/flutter (15705): #3 _AppState.build. (package:testing_rotation/main.dart:63:28)`

Tells you exactly where you call create the `Text` widget with the `null` value as text.

Please ask such questions on stackoverflow.com, because we unfortunately not able to give individual development support here.
This place is only for reporting bugs or suggesting new features.

[2019-10-02 09:48] BondarenkoStas commented on #41749
@jicg Please provide your flutter doctor -v output.

[2019-10-02 09:50] zaidman commented on #35702
@janmoppel the crash was caused by a problem in my code (calling Firebase with a null key).
As for the warnings themselves - still getting them, but I now know that they do no harm, not now anyway. Hope that helps

[2019-10-02 09:52] jicg commented on #41749
[code]

[2019-10-02 09:53] escamoteur commented on #30835
Awesome yes FFI is the way to go if it's a c library.

[2019-10-02 09:53] #30835 closed

[2019-10-02 09:56] BondarenkoStas commented on #41756
@VNAPNIC right, try running `flutter packages get`, or run `flutter packages upgrade`.
There's some chance that their pub cache is corrupted, in which case you may want to either delete `~/.pub-cache/hosted/pub.dartlang.org/` and re-run `flutter packages get`, or try running `flutter packages pub cache repair`.

[2019-10-02 10:06] jicg commented on #41749
[code]
Nor can it be displayed

[2019-10-02 10:13] chinu999 opened #41769 "when ever i try to run with firebase"
[code]

[2019-10-02 10:23] akasiid opened #41770 "Problem with build/run for ios 13 xcode 11"
## flutter doctor -v
[code]

## flutter devices -v
[code]

##flutter run -v
[code]
## From Xcode
[code]

[2019-10-02 10:38] ProgrammingLife opened #41771 "[Crash] WebView crashes when trying to open standart Select field in HTML"
Steps to reproduce:
[code]
When I try to select "Use Version" ("select a tag") I always get this crash:
[code]

Other elements seem work well.

[code]

Android 5.0.2
Samsung Galaxy Tab4 SM-T531 10.1 inch
Flutter's doctor don't find any issues.

[2019-10-02 10:46] Riki432 commented on #27587
I was having this problem. I had buttons that slid out from under another button. The buttons were stored in a stack and onPress wasn't triggering. I just put a container across the whole width of the screen as the first element on the stack and it worked. I'm sure this isn't the most elegant solution though.

[2019-10-02 10:51] VNAPNIC commented on #41756
Tks U.
I tried deleting ~/.pub-cache/hosted/pub.dartlang.org/  and it ran

[2019-10-02 10:53] AymanMubark opened #41772 "Black a Screen In android 9 UI "One UI 1.0""
My app works fine in android 4.2.2 but  in android 9 UI "One UI 1.0"  phone  Samsung galaxy j 4 pluse debug mode get this exception
The GPU does not support this version of OpenGL ES, try an older version
the app when I press in button location its work  but all element, not showing

Flutter (Channel stable, v1.9.1+hotfix.2, on Microsoft Windows [Version 10.0.17763.737], locale en-US)
    • Flutte

[2019-10-02 10:54] ashour commented on #41437
Hello, I hope you're all well. Thanks for your work on Flutter btw. It's an awesome piece of tech and I wish I had Flutter when I was co-founding a mobile app startup years ago. I was recently emailed by @HansMuller, who asked me to chime in. I research and write about i18n. I wrote [an article on Flutter + Intl](https://phrase.com/blog/posts/how-to-internationalize-a-flutter-app/) last year (I th

[2019-10-02 10:54] escamoteur commented on #18818
@pp126 thanks for sending the Video, I'm not sure what is wrong?

[2019-10-02 10:57] escamoteur commented on #41770
Hi, thanks for reporting.

I see this error message:

[ +101 ms] More than one device connected; please specify a device with the '-d <deviceId>' flag, or use '-d all' to act on all devices.
[   +5 ms] iPhone (Eugene) • b6b4b6ed0e42a7406f4b65012aa252a80df9a040 • ios • iOS 13.1.1
[        ] iPhone SE       • BD2BC0D1-2FF8-4030-A69B-7FD3FF970603     • ios • com.apple.CoreSimulator.SimRuntime.iOS-13-

[2019-10-02 11:01] #41767 closed

[2019-10-02 11:05] escamoteur commented on #16030
Seems closely related to https://github.com/flutter/flutter/issues/14979 although if I understand it correct there they want to first upgrade before switching.

[2019-10-02 11:08] escamoteur commented on #14979
@tvolkert I guess it wold be ideal if `flutter channel` would ask if it should upgrade in case that there is a newer version.

This feature would also prevent some error reports because people forgot to upgrade after a channel switch.

[2019-10-02 11:11] escamoteur commented on #41756
Great to here, I close the issue then.

[2019-10-02 11:11] #41756 closed

[2019-10-02 11:12] Zazo032 commented on #41769
Could you post the output of `flutter doctor -v`?
Also, which Firebase plugins and versions are you using?
Does it build correctly without them?
Did you migrate your app to AndroidX?

[2019-10-02 11:15] vanlooverenkoen opened #41773 "Text not rendered in snapshot test"
I am having problems with snapshot testing. My text is not rendered. When I run the app itself everything works perfectly.

[code]

![image](https://user-images.githubusercontent.com/21172855/66039981-9a2a1080-e516-11e9-88a9-38479c4a0594.png)

[code]

[2019-10-02 11:17] escamoteur commented on #41739
@jonahwilliams Wouldn't this better filed at the Dart repo? or is `dart:UI` only flutter? I don't think this qualifies as an `engine` topic, does it?

[2019-10-02 11:18] escamoteur commented on #41738
Please ask such questions on [stackoverflow](stackoverflow.com) , because we unfortunately not able to give individual development support here.
This place is only for reporting bugs or suggesting new features.

[2019-10-02 11:19] BondarenkoStas commented on #41761
@YAPPDEF is it the same if you use a simulator?

[2019-10-02 11:23] BondarenkoStas commented on #41762
@tiholic can you describe, what exactly you mean by "updated wrongly"?

[2019-10-02 11:28] escamoteur commented on #41773
Hi,
thanks for reporting. I guess it's worth to upgrade your current Flutter installation because your version is a bit behind. Possibly a switch to dev or master might help, I found some commit messages in the newer version.

[2019-10-02 11:29] IhwanID commented on #41291
Nice Thanks

[2019-10-02 11:32] vanlooverenkoen commented on #41773
I am on the latest stable release. I will not be using a master, dev version to build production apps.

[2019-10-02 11:34] BondarenkoStas commented on #41768
@vitor-gyant can you please provide some self-contained app to reproduce the issue? Also, specify on which device/emulator you test it.

[2019-10-02 11:39] Zazo032 commented on #41773
Probably not to build production apps, but you could try using master branch and see if it's already solved there.

[2019-10-02 11:39] escamoteur commented on #41773
@vanlooverenkoen I can completely understand this. It was just a proposal to see if this issue is already fixed.
Btw you are not on the latest stable, latest stable is `+hotfix.4.

I'm really sorry I can't tell you more at the moment. The Flutter team will have a look at it as soon as possible.

[2019-10-02 11:43] vanlooverenkoen commented on #41773
I will test is right now. strange flutter does not indicates for a new version. Normaly it does

[2019-10-02 11:45] vanlooverenkoen commented on #41773
Latest version gives the same result

[2019-10-02 11:45] escamoteur commented on #40150
This should be fixed now on the beta and master channel.

[2019-10-02 11:46] escamoteur commented on #41772
Hi,

I'm sorry to hear that. I'm pretty sure this is fixed on the beta and master channels if you want to give that a try.
I'm sorry that I can't say when it will be in stable.

related https://github.com/flutter/flutter/issues/40150

[2019-10-02 11:46] #41772 closed

[2019-10-02 11:58] escamoteur commented on #41771
Hi, thanks for reaching out.

Could you please add the output of `flutter doctor .v` here?

Also a snippet of the HTML code that makes the problem would be helpfull

[2019-10-02 12:01] BondarenkoStas commented on #41769
@chinu999 The issue appeared a lot of times already, can you please take a look into https://github.com/flutter/flutter/issues/41492#issuecomment-536112970 and report if that will help?

[2019-10-02 12:02] AymanMubark commented on #41772
how can I know what channel im using and how can switch between them

[2019-10-02 12:03] BondarenkoStas commented on #41595
@Achintha444 it look very similar to https://github.com/flutter/flutter/issues/41492#issuecomment-536112970, can you please try and report if that will help?

[2019-10-02 12:05] genert commented on #41765
It came out that 2 plugins caused a forever loop in "registerWithRegistrar" function for some reason. Either removing them or adding Swift code library import fixed the issue.

Note, that I am on master channel, for stable channel everything is fine.

[code]

[2019-10-02 12:08] escamoteur commented on #41771
Hi,
I just checked, there is a fix coming but we can't say when please see https://github.com/flutter/plugins/pull/1861

[2019-10-02 12:14] BondarenkoStas commented on #35137
@gitboss Can you please try if `flutter clean` will fix it?

[2019-10-02 12:15] escamoteur commented on #41772
Please see https://github.com/flutter/flutter/wiki/Flutter-build-release-channels
After changing do a `flutter upgrade`

[2019-10-02 12:18] BondarenkoStas commented on #35175
This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report. See https://flutter.dev/community for support options.

[2019-10-02 12:18] #35175 closed

[2019-10-02 12:20] escamoteur commented on #31116
@davidcavazos So you are fine now?

[2019-10-02 12:25] chrispypatt commented on #34387
Awesome! Thanks, I am going to try using this with custom firebase tokens this week/weekend and and get back to you!

[2019-10-02 12:28] escamoteur commented on #41705
Is this new? Could you build Flutter projects before?

[2019-10-02 12:30] escamoteur commented on #41039
Hi, I would like to ask if you were able to solve this problem in the meantime?

Seems to be the same as https://github.com/flutter/flutter/issues/41766

[2019-10-02 12:33] escamoteur commented on #36130
Hi,

I'm sorry to hear that. I'm pretty sure this is fixed on the beta and master channels if you want to give that a try.
I'm sorry that I can't say when it will be in stable.

related #40150

[2019-10-02 12:37] ReinBentdal commented on #35398
The issue has nothing to do with the animation. The exact same result occurs by just setting the rotation value to anything but 0.
[code]

[2019-10-02 12:38] sergicastellsague commented on #36130
@escamoteur might be a little bit off-topic, but I struggle to find the changelog for every version, is there anywhere where I can find it easily?

[2019-10-02 12:48] escamoteur commented on #36130
Only this here but it's not updated for every commit https://github.com/flutter/flutter/wiki/Changelog
Otherwise searching in the commit messages is a good way

[2019-10-02 12:49] ollydixon opened #41774 "Enable optionals (non-nullable..) on lib/src only"
On large projects we are really missing` optionals (?) and @NonNullable`. It's actually the main reason for our crashes from models. Almost all other frameworks have this for mobile development now, TS, Swift, Kotlin.

We are aware that this feature exists in Flutter but enabling it causes issues with 3rd party libraries and Flutter Widgets.

As the title would it be possible to have optionals exp

[2019-10-02 12:51] sergicastellsague commented on #36130
Yeah, I was looking for something that even included the hotfixes. It's fine, no worries. We can go through the commits 🚀

[2019-10-02 12:52] escamoteur commented on #36130
I recommend Git-Fork its great for that

[2019-10-02 12:58] jbnixdorf commented on #41085
I have the same issue with the latest stable build. For me it's happening every time and not occasionally. App is starting fine but flutter cannot connect to it.

flutter run -v:
[code]

flutter doctor -v:
[code]

[2019-10-02 12:58] BondarenkoStas commented on #35152
@YeFei572 is it the same while using current flutter stable?

[2019-10-02 12:59] escamoteur commented on #41705
Just to make a test, could you move the project at some other place on your machine that has no space ' ' in its path? Do a flutter clean and see if it builds there?

[2019-10-02 13:02] BondarenkoStas commented on #35163
@rajeshzmoke is it the same while using current flutter stable v1.9.1+hotfix.4?

[2019-10-02 13:04] escamoteur commented on #41774
@ollydixon Sorry to disappoint you but currently the Dart-Lang team is still working on these or have you seen this inside the Flutter framework?

[2019-10-02 13:05] escamoteur commented on #41765
@genert could you please tell us which plugins that were that made the problem?

[2019-10-02 13:07] ollydixon commented on #41774
@escamoteur I'm aware of all of that, but the problem is 3rd parties will never be supported fully.
Some libraries have not been updated in years which is way locational directory support is required like it is on other Flutter expiriments.

[2019-10-02 13:09] BondarenkoStas commented on #35169
@keke521 Did you manage to solve the issue?

[2019-10-02 13:10] BondarenkoStas commented on #35170
@nikosibarani did you manage to solve the issue?

[2019-10-02 13:11] AtillaPehlivan commented on #22882
try `showSelectedLabels: false,
            showUnselectedLabels: false`  instead of unused title widget
@lukepighetti

[2019-10-02 13:12] BondarenkoStas commented on #35178
Cool, I think it's safe to close the issue.

[2019-10-02 13:12] #35178 closed

[2019-10-02 13:13] BondarenkoStas commented on #35180
@jkmathew is it the same while using current flutter stable v1.9.1+hotfix.4?

[2019-10-02 13:23] fralways opened #41775 "Google maps crash and performance issue on iOS"
## Steps to Reproduce

App becomes slow when google map is embedded in Opacity widget even in release and sometimes it crashes. You can change pages to see performance issues.
Getting error: `[VERBOSE-2:platform_view_layer.cc(38)] Trying to embed a platform view but the PaintContext does not support embedding` whenever opacity changes.
using `google_maps_flutter: ^0.5.21+7`
[code]

## Logs

[code]

[2019-10-02 13:24] jonahwilliams commented on #41739
hashValues is implemented in dart:ui which is I'm the engine

[2019-10-02 13:26] Annika-schr opened #41776 "Vertical BarChart Label Error"
Hello,

I tried to implement a vertical BarChart with labels. Therefore I copied the code from this example:
https://google.github.io/charts/flutter/example/bar_charts/vertical_bar_label.html
https://github.com/google/charts/blob/master/charts_flutter/example/lib/bar_chart/vertical_bar_label.dart
When I try to run the app it fails when it comes to the page.

## Exception
[code]

## flutter doctor

[2019-10-02 13:28] divan commented on #28196
Thanks for the link - it points right to the part of README where this issue is explained. Technically speaking, this PR "fixes" the issue, but practically speaking – not really, as most users will probably copy-paste code from the `_firebaseMessaging.configure(..)` code block and assume that it's a good enough to start own data extraction from the message. It's unlikely to someone to assume that

[2019-10-02 13:30] BondarenkoStas commented on #35184
@BOBODDY it should be already fixed https://github.com/flutter/flutter/issues/37688#issuecomment-521864600. Please try and report if there will be any problems.

[2019-10-02 13:30] #35184 closed

[2019-10-02 13:31] danallen88 commented on #27826
Based on @MDuRieu's last comment, I believe there is an opportunity here to update the documentation as I ran into this same issue as well following the documentation as-is.

[2019-10-02 13:31] TheKashe commented on #31971
Please reopen this. I keep seeing this and it's killing my time. Sometimes it takes hours before I can finally deploy an debug (killall dart, killall iproxy, restarting....).

    Launching lib/main.dart on xxxxx's iPhone in debug mode...
    Automatically signing iOS for device deployment using specified development team in Xcode project: 9Z2E3PCTD6
    Xcode build done.

[2019-10-02 13:34] vitor-gyant commented on #41768
@BondarenkoStas Here is the sample app which reproduces the issue. Make sure to execute: `flutter create .` to recreate the project files.

[shader_mask_list_view.zip](https://github.com/flutter/flutter/files/3681324/shader_mask_list_view.zip)

I've done some more testing and wrapping the ShaderMask child in a Material widget or a Container with a color seems to solve the issue.

[2019-10-02 13:35] sergicastellsague commented on #36130
@escamoteur in which version do you think that this is available? The latest version offered by flutter upgrade on the beta channel is 1.9.1+hotfix4.
However, if we run "flutter version" we see that there are some versions named 1.10.x

🤔 I'm quite confused atm...

[2019-10-02 13:36] BondarenkoStas commented on #35201
@saddy001 Did you manage to solve the issue? Please provide your flutter doctor -v output and specify which version of firebase_ml_vision you use.

[2019-10-02 13:42] DanTup commented on #31971
@TheKashe there are several different issues discussed in this issue so please open a new issue rather than re-opening this one to avoid any confusion.

To generate a full log in VS Code you can run the **Dart: Capture Logs** command. You probably want to tick only **Flutter Run** and **Observatory/Debugger** options. Then run your app with `F5`, and it will capture the logs. When you click **Canc

[2019-10-02 13:43] froesmatheus commented on #29689
Any news on this?

[2019-10-02 13:43] BondarenkoStas commented on #35210
@rick77777 Can you please try https://stackoverflow.com/a/55924168? Do you still encounter the issue?

[2019-10-02 13:44] envyram commented on #18325
I have the same issue.

[2019-10-02 13:45] sjindel-google commented on #33227
I would also like to have a different template for an FFI-based package, but the plugin system actually provides a lot of useful plumbing besides method channels.

1. Including "native" code: the FFI can also bind to Swift, Objective-C and Java (via JNI).

2. Compilation & linking: the plugin system ensures that C/C++ is compiled with the correct compiler (NDK on Android and Xcode on iOS) and ABI

[2019-10-02 13:45] BondarenkoStas commented on #35212
@ghenry I saw there is an answer on SO, did it solve your issue?

[2019-10-02 13:46] BondarenkoStas commented on #35214
@jocaagura Closing the issue, please report if migrating didn't solve your problem.

[2019-10-02 13:46] #35214 closed

[2019-10-02 13:49] tiholic commented on #41762
@BondarenkoStas see in the video link below

https://files.gitter.im/flutter/flutter/3kyb/2019_10_02_12_34_05_trim.mp4

[2019-10-02 13:52] BondarenkoStas commented on #35220
@marktiddy Did you manage to solve the issue? I think there is a typo `GradleExc2eption`, which is clearly shown by error message.

[2019-10-02 13:52] #35220 closed

[2019-10-02 13:55] BondarenkoStas commented on #35230
@henrytz Can you please show where did you find a limit?
Please provide your flutter doctor -v output, firebase_auth version and a small self-contained app that demonstrates the problem, if you still encounter the issue. You can include small examples [inline if they're enclosed by backticks](https://help.github.com/en/articles/creating-and-highlighting-code-blocks), or just provide a public link

[2019-10-02 13:56] BondarenkoStas commented on #35236
@viplary please provide that log document, otherwise it's not possible to investigate.

[2019-10-02 13:58] galstc05 opened #41777 "iOS: Cannot retrieve region (for uncommon combinations)"
## Steps to Reproduce

1. iOS Settings: iPhone Language -> English, Region -> Austria
2. `Localizations.localeOf(context);` returns `en_`
3. For `keyboardType: TextInputType.numberWithOptions(decimal: true),` a keyboard with `,` instead of `.` as decimal separator is shown.
4. There is no way to know which is the correct decimal separator in the app; concluding from the result of step 2. the corre

[2019-10-02 13:59] TheKashe opened #41778 "Exited (sigterm). Lost connection to device: SocketException: OS Error: Operation timed out, errno = 60"
I'm repeatedly getting Exited (sigterm) error when trying to debug the application on my device (iPhone) through VSC. One moment it works, the next it fails, with no sensible change to my system. Sometimes restarting VSC and killall dart, killall iproxy helps, most of the time I need to reboot to get it to work again (and sometimes even that doesn't work). usbmuxd has been updated to supposedly fi

[2019-10-02 14:02] escamoteur commented on #41774
No that's not the only problem. As far as I know nullables are just finished yet.

[2019-10-02 14:06] ollydixon commented on #41774
@escamoteur they work fine if you have the flag on. If directory isolation was on for expirimentals that is all we need.

[2019-10-02 14:07] Laban1 commented on #41039
Yes and no.  I created a new project ("flutter create...") and this time it ran fine.  Go figure.  It sure would have been nice to have a more descriptive error message.

[2019-10-02 14:13] bigzhu commented on #40480
using plan 2 when every sentence in itself `RichText`, the article scroll is smooth.

I truly appreciate your patience in helping me.

[2019-10-02 14:14] escamoteur commented on #36130
@sergicastellsague you have to switch to the master or dev channel of Flutter.

[2019-10-02 14:15] ollydixon commented on #41774
Doing this:
<img width="215" alt="Screenshot 2019-10-02 at 16 14 43" src="https://user-images.githubusercontent.com/6940726/66051798-cc943780-e52f-11e9-8f18-1cf27beeb921.png">

Is super lame for a modern langauge...

[2019-10-02 14:17] escamoteur commented on #41039
Thanks for the fast reply. Yes we are working on improving error messages.

[2019-10-02 14:17] mdarifmustafa opened #41779 "Failed to fetch music file thumbnail image for a specific song"
I am first fetching all songs details available on my android device like filePath, imageArtwork, duration, title etc.,

if the value of imageArtwork is not null, then I am trying to load the music thumbnail image art file,

[code]

it is working fine with every music thumbnail image, but just not working with one music file, which I have attached [here.](https://ufile.io/6r2e9z76)

and just becau

[2019-10-02 14:17] #41039 closed

[2019-10-02 14:18] escamoteur commented on #41774
You should develop with c for some time 😏
Best to ask at the Dart repository.

[2019-10-02 14:19] jonahwilliams commented on #41774
The development of NNBD with incremental migration is tracked here:

https://github.com/dart-lang/language/issues/110

As soon as it is available in the dart language, they'll be available to Flutter - and we'll likewise start updating the flutter SDK to use them

[2019-10-02 14:20] jonahwilliams commented on #41760
`flutter run -d chrome --web-port=8989`

see: `flutter run -d -h -v`:

[code]

[2019-10-02 14:20] #41760 closed

[2019-10-02 14:20] Ahmadre commented on #41647
@escamoteur & @jonahwilliams here's my reproduction-repo: https://github.com/Ahmadre/-web-Uncaught-TypeError-Cannot-read-property-style-of-null-41647

[2019-10-02 14:21] smitthakkar1 commented on #35054
@dannyvalentesonos thanks for reporting this. I am having the issue.

@matthew-carroll thanks for taking a look at this and explaining the bug. What is the current status on this ? You mentioned that you made a change to flutter engine and revert it back. Sounds like the bug still exist but I want to understand will I need to update my flutter to latest when you'll have fix to flutter-engine ?

[2019-10-02 14:22] ollydixon commented on #41774
@jonahwilliams thanks, is there any reason why we are calling this "non-nullables" instead of the correct name of optionals?

[2019-10-02 14:24] zbarryte-luminopia commented on #37878
Thank you, @rrousselGit !

[2019-10-02 14:24] jonahwilliams commented on #41774
You'd have to ask a language designer :man_shrugging:

[2019-10-02 14:29] jonahwilliams commented on #41647
Thanks @Ahmadre

The issue appears to be that placing the script tag in the head instead of in the body causes initialization to fail, but only in release mode.

[code]

[2019-10-02 14:38] Ahmadre commented on #41647
Wuhuuuuu 🔥 it's working finally :) !! Thank you sooo much @jonahwilliams ❤️You saved my flutter production project in my company :)

[2019-10-02 14:43] ProgrammingLife commented on #41771
@escamoteur thanks for the answer. I've attached an output of the `flutter doctor -v` in the start message.

[2019-10-02 14:55] nturgut commented on #41701
Solution depends on issue: #33523

[2019-10-02 14:56] stefan01 opened #41781 "Possibility to use system ca store (including user installed)"
Is it by any means possible to use the platform dependent system ca store? I am developing a flutter application, where I need to trust user installed ca certificates.
As far as I see, the dart http client has it's own trusted certificates and there is no possibility to use the system installed, is that correct? If yes it would probably mean, I would need to write all http related stuff native.

[2019-10-02 15:02] nturgut commented on #41701
This page covers all engine contribution related information: https://github.com/flutter/flutter/wiki/Setting-up-the-Engine-development-environment You can skip the Android, IOS and Desktop related steps.
Flutter engine build tools for web ([felt](https://github.com/flutter/engine/blob/master/lib/web_ui/dev/README.md)) only work on Mac and Linux for now.

[2019-10-02 15:04] Joran-Dob commented on #25388
I now created my own package for this implementation in the dart, it wraps a video player and accepts a video player in its controller to now the current position.

You can find it [here](https://pub.dev/packages/subtitle_wrapper_package), hope it helps

[2019-10-02 15:05] ranjanbinwani commented on #41705
This is my first time building a Flutter project and I am facing the same issue even when creating a project in the following location.
```D:\flutter_app\flutter_app\```

[2019-10-02 15:06] LonelyCpp commented on #41253
I have cocoapods 8.0 installed, and flutter doctor complains about it. But the iOS builds are not affected by it. Looks like this can be ignored rather than downgrading to v1.7.5

[2019-10-02 15:07] hivesey commented on #41738
I have researched and found there's no way to access the scrim, was
wondering if there could be a new API method to get a handle on the drawer
scrim. (new feature suggestion?)

Thanks,
Arathi

On Wed, Oct 2, 2019 at 7:20 AM escamoteur <notifications@github.com> wrote:

[2019-10-02 15:07] HansMuller commented on #41758
CC @LongCatIsLooong, @justinmc - we need to get https://github.com/flutter/flutter/issues/22828 sorted on both iOS and Andrdoid.

[2019-10-02 15:20] escamoteur commented on #41705
Thanks for testing, so we can eliminate this reason.

[2019-10-02 15:21] BondarenkoStas commented on #41776
@Annika-schr Somehow I can't reproduce it, both example run just fine. Did you do any changes there?

[2019-10-02 15:24] marcosgallardo opened #41782 "[device_info] AndroidDeviceInfo.isPhysicalDevice returns true on BlueStacks"
## Steps to Reproduce

1. Download and install [BlueStacks](https://www.bluestacks.com/)
2. Create a flutter app and copy the example app in the [plugin repo](https://github.com/flutter/plugins/blob/master/packages/device_info/example/lib/main.dart)
3. Create an apk using `$ flutter build apk`
4. Install the apk into BlueStacks
![bs](https://user-images.githubusercontent.com/4549886/66057064-74990

[2019-10-02 15:24] escamoteur commented on #41738
As a non native Flutter developer can you explain what a Scrim is in this context? Possibly with a picture? If this is missing I happily reopen this issue as feature request

[2019-10-02 15:25] AxelRocha commented on #24757
Same as @crcaicedo, all things seems to be perfectly okey, but I was getting error NPE when tried to run. @crcaicedo solution worked for me!

On the file gradle-wrapper.properties, I changed:

- distributionUrl=https\://services.gradle.org/distributions/gradle-4.10.2-all.zip
+ distributionUrl=https\://services.gradle.org/distributions/gradle-5.6.2-all.zip

Cause my gradle version is 5.6.2

[2019-10-02 15:31] nemoryoliver commented on #27599
What if we want to use a different FirebaseApp for google_sign_in programmatically (like the FirebaseOptions)? Is there a way?

[2019-10-02 15:31] rmtmckenzie commented on #30745
@escamoteur well on iOS I ended up writing a bit of code that essentially blurs the UIWindow natively, and I haven't managed to get around to doing the same on Android yet. But if it were to be considered as something to do make possible within flutter that would be great as the blurring on iOS isn't the greatest user experience as it's not really tied to the flutter lifecycle and I really don't k

[2019-10-02 15:31] kaina404 opened #41783 "Exception on scrollController.animateTo"
[code]

**Exception Detail**

[code]

**flutter doctor**
[code]

[2019-10-02 15:40] vitor-gyant opened #41784 "ListView + PageView scrolling issue"
I've switched to flutter master branch (1.10.7-pre.78) and I've noticed that one of the ListView components was having a strange behaviour when swiping through a PageView which was a child of the list view. During the swipe the list view scroll position changes as the page view was not there and then gets back to the correct position.

This is the sample app where the issue occurs.

[list_view_pag

[2019-10-02 15:42] IngMarFlo opened #41785 "How to use torch in camera plugin?"
I have an application to read barcodes and qr codes, therefore, I want to turn on / off the torch but the camera plug-in doesn't have that function, how can I do that?. Try the lamp and torch plug-in, but it doesn't work because the camera is in use for the other plug-in.

[2019-10-02 15:45] SunilJamkatel commented on #40257
Changing localhost to http://10.0.2.2 fixed my issue.

[2019-10-02 15:49] danielgchap opened #41786 "image_picker and AndroidX compatibility issues - can't get image from Camera"
Since the latest version of image_picker (^0.6.1+4 at this time) doesn't support AndroidX:

I have a flutter project that has been migrated to AndroidX. But I can't compile it with the above version of image_picker as it throws the 'AndroidX Incompatibility' warning.

I know that image_picker: image_picker: 0.4.12+1 is the officially supported version for AndroidX as per the flutter docs: https://

[2019-10-02 15:56] sroddy commented on #41701
Thanks a lot for the clarifications.

I can confirm that al least on Chrome for Mac removing ..whiteSpace = 'pre' makes the text fields working decently, as long as they don't start scrolling.

@nturgut are you aware of any particular reason why it needed to be specified and relying on the default value was not sufficient? If there is none, I suggest to just get rid of it.

[2019-10-02 15:56] yjbanov commented on #41748
I know that pages on the flutter.dev website were updated around September 10, 2019. I'm not aware of any recent Wiki changes. I clones the Wiki repo and scanned the history for "destroyed" pages. I only found "Destroyed Building a web application with Flutter (markdown)" by @sfshaza2, but I'm guessing that's not the page that talks about local engine builds, is it?

[2019-10-02 15:57] devoncarew commented on #39998
We did discuss this; specifically, just the use of `dart:html` for Flutter web apps and plugins.

There's more details here: https://github.com/flutter/flutter/issues/35588#issuecomment-533246944, but we decided to add `dart:html` (and `dart:js` and `dart:js_util`) to the version of the Flutter SDK used for analysis, and create a lint which warns when dart:html is used in a context where those API

[2019-10-02 15:58] HansMuller commented on #41437
@tomucha - Thanks for the feedback. I think we've taken a similar approach to simplifying building i69n applications :-).

I agree that this sort of thing isn't necessary to solve with generated methods. I would think the app would have to include a method that switched on `vehicleTypeMessageKey` and returned a localized string.
[code]

[2019-10-02 15:59] franciscojma86 commented on #40068
@shoryukenn have you been able to investigate this?

[2019-10-02 15:59] yjbanov commented on #41748
A-ha! I'm wrong. That page does contain engine build instructions:

## Current Status

Flutter now has early experimental support for running flutter web applications. There are still many missing features and known performance issues, so it isn't recommended for production use. This requires the latest flutter master from at least commit [4c0145](https://github.com/flutter/flutter/commit/4c0145d9

[2019-10-02 16:00] amadeu01 commented on #16466
the workaround of using this syntax `https://username:password@url` for some URL's didn't work.

[2019-10-02 16:04] Tomucha commented on #41437
At this point i69n generates the exact switch statement you are suggesting ;-)

[2019-10-02 16:08] Alvin7008 opened #41787 "Getting an error 'value >= min && value <= max': is not true."
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-10-02 16:15] szotp commented on #41437
@ashour what's wrong with .arb files? Flutter already uses them, and they are esentially jsons.

@HansMuller I agree that current state is a mess. Did you consider doing `flutter generate` builder package? I implemented this in `r_flutter` and it worked decently well (although IDE & analyzer are not really prepared to handle it). Such package could be eventually embraced by flutter team.

[2019-10-02 16:21] RyanRamchandar commented on #41731
@theochampion I didn't get that far, unfortunately. But with the Image package it's relatively straightforward to save the generated image to a PNG to other file type.

eg.
[code]

[2019-10-02 16:28] #41787 closed

[2019-10-02 16:29] dhimant1990 commented on #19103
the bug still exist any solution ?

[2019-10-02 16:31] #41601 closed

[2019-10-02 16:32] amankataria opened #41789 "Google sign in crashes application (android)"
When I click a button for google sign-in in my flutter app (kotlin support), it crashes.

(**Note:**
I tested functionality in my old project (with java support), and it worked fine.
I have done OAuth registeration)

Here is the exception when app crashes:
[code]
Output of "flutter doctor -v":
[code]
Here is code of my project level `build.gradle` file:
[code]
Project level `gradle.properties` fil

[2019-10-02 16:32] dhimant1990 commented on #19103
The bug still exists, any solution ?

[2019-10-02 16:35] rbucker commented on #41022
@AMShehanAmarakoon I have 2 solutions... [a] delete the contents of ```flutter/bin/cache```; when you ``flutter update``` is is supposed to rebuild the cache folder. [b] or you can delete flutter and reinstall. which is what I did resolving that the flutter folder was essentially static.

I think this happened because I installed flutter and then ```brew install``-ed libimobiledevices which then c

[2019-10-02 16:43] nturgut commented on #41218
This is a safari issue. I managed to produce it both: Safari on IOS13 device and Safari on Mac.

<img width="1673" alt="Screen Shot 2019-10-02 at 9 35 53 AM" src="https://user-images.githubusercontent.com/50856934/66063810-0269f980-e4f9-11e9-9af7-d383f9f104d5.png">

[2019-10-02 16:43] nturgut commented on #41218
/cc @hterkelsen

[2019-10-02 16:43] HansMuller commented on #41437
@ashour - Your [article on internationalizing Flutter apps](https://phrase.com/blog/posts/how-to-internationalize-a-flutter-app/) is an excellent introduction to this topic!

That's an excellent point. We can definitely do this, even in the context-of hot-reload, in roughly the same way that Flutter handles asset changes.

Currently the ["ARB" format](https://github.com/google/app-resource-bundle/

[2019-10-02 16:44] navidanchitrali opened #41790 "Problem !!! While running a simple Fire base Storage Program in Flutter"
## Steps to Reproduce

1. ...I have a problem in running a simple Firebase storage program, There is no error in the UI but The program does not write to the Firebase. Anybody help please?

HERE IS THE OUTPUT AFTER RUNNING THE PROGRAM..
`
Launching lib\main.dart on Android SDK built for x86 in debug mode... Initializing gradle... Resolving dependencies... Running Gradle task 'assembleDebug'... Bui

[2019-10-02 16:48] davidcavazos commented on #31116
Yes, setting my `JAVA_HOME` to point to the Android JDK8, and then running `flutter doctor --android-licenses` solved it for me.

However, for someone actively developing JDK11 applications, it's a hassle to keep switching the  `JAVA_HOME` environment variable, especially since my `/usr/libexec/java_home` points to my JD11 installation at `/Library/Java/JavaVirtualMachines/jdk-11.0.2.jdk/Contents/

[2019-10-02 16:52] HansMuller commented on #41437
@szotp - thanks for your feedback.

I'll take a look at [r_flutter](https://pub.dev/packages/r_flutter).

[2019-10-02 16:53] patelkrunal78 commented on #15919
I set up this simple example for routing in a flutter app:

Find [Here](https://icetutor.com/question/navigator-operation-requested-with-a-context-that-does-not-include-a-navigator)

[2019-10-02 16:56] patelkrunal78 commented on #16957
Simply You can Use padding find here https://icetutor.com/question/space-between-columns-children-in-flutter/

[2019-10-02 16:58] jkurtw commented on #41470
@rahuldevanavar91 can you provide more detail here about your specific project?

@jonahwilliams is there a way to get more debug info in the failure case?

[2019-10-02 16:59] patelkrunal78 commented on #29543
void initState() {
super.initState();
WidgetsBinding.instance
.addPostFrameCallback((_) => yourFunction(context));
}

[2019-10-02 16:59] genert commented on #41765
@escamoteur - This https://github.com/benjamindean/flutter_vibration and our created library - https://github.com/ninjasolutions/flutter_opentok

For some reason, when library missed this line https://github.com/ninjasolutions/flutter_opentok/blob/master/ios/Classes/FlutterOpentokPlugin.m#L2 an endless loop was created...

[2019-10-02 16:59] jkurtw commented on #40369
Is there any update on this?

[2019-10-02 17:04] rahuldevanavar91 commented on #41470
@jkurtw
I already edited the question please check.

[2019-10-02 17:08] chunhtai commented on #32871
The life cycle pr is tracked in this https://github.com/flutter/flutter/issues/39832

[2019-10-02 17:08] ds84182 opened #41792 "Flag emojis have incorrect width on Android M devices"
## Steps to Reproduce

Reproduction snippet:

[code]

Displays like this on a Nexus 5X running M.
![image](https://user-images.githubusercontent.com/2268005/66065353-0ba89580-e4fc-11e9-8141-866df7e4b3c8.png)

Notice the extra space between the flag and "Hello, World". This space isn't present if it's all a single string, but it still messes with the width of the Text widget (so wrapping with a Cen

[2019-10-02 17:10] gaaclarke commented on #33000
https://github.com/flutter/engine/blob/0995d2a86e36525b91f4ce4cf37d10c0ea7eaa96/shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm#L197

Here is the current logic for iOS.

[2019-10-02 17:17] stuartmorgan commented on #40369
@amirh needs to weigh in since he's the one who wanted to go with this approach.

Playing devil's advocate though: given that that renaming two files is trivial, and given that it actually serves as an opportunity to correct naming that went against platform conventions (and is thus a positive in and of itself), why is this a significant burden for moving to the new schema?

[2019-10-02 17:19] thomas-forte-mcsteen opened #41793 "After app rename, build error: Could not find the built application bundle at build/ios/iphonesimulator/Runner.app"
## Steps to Reproduce

1. No application code has changed
2. I updated flutter to the newest version `1.9.1+hotfix.4`
3. Now when I run `flutter run` I get an error after successfully building that Runner.app is not found.

In that directory though I can see the app file was created with a different name: `./build/ios/iphonesimulator/<my apps name>.app/`

I can do a real build `flutter build ios`

[2019-10-02 17:21] kgrigorian commented on #33873
why is this closed as this doesnt have native support still?

[2019-10-02 17:28] patelkrunal78 commented on #8725
Thi sCan help you icetutor.com/question/how-do-i-supply-an-initial-value-to-a-text-field/

[2019-10-02 17:29] jmagman commented on #41793
How did you change the name of your app?  Did you edit your Xcode project, or is it just pulling from the pubspec name?

[2019-10-02 17:32] DSMan97 commented on #33873
Yes already have support look  https://stackoverflow.com/questions/57475630/detect-if-ios13-dark-mode-is-enabled-from-flutter-dart/58156366#58156366

[2019-10-02 17:34] patelkrunal78 commented on #28230
I had a similar problem this morning (trying to build for Android using Unity3D). I ended up uninstalling JDK9 and installing Java SE Development Kit 8u144. Hope this helps.

Find more at Here https://icetutor.com/question/failed-to-install-android-sdk-java-lang-noclassdeffounderror-javax-xml-bind-annotation-xmlschema

[2019-10-02 17:37] patelkrunal78 commented on #25497
This Maybe helpful For you  https://icetutor.com/question/changing-the-project-name

[2019-10-02 17:37] mwk24 opened #41796 "ClipOval of CameraPreview inside Positioned - possible layout bug"
## Steps to Reproduce

Here is the code in question (inside a fairly vanilla Stack). Note the left, top props of Positioned.

[code]

It seems like if left or top of the Positioned is greater than the size of the CameraPreview, it won't appear. I replaced CameraPreview with another widget and it works. Perhaps something to do with the behavior of Texture, and perhaps I'm misunderstanding how it is

[2019-10-02 17:38] thomas-forte-mcsteen commented on #41793
I originally named it in the xcode files and manually change the build version and number. How can I have xcode pull the values from the pub spec?

[2019-10-02 17:39] escamoteur commented on #41731
@theochampion what you could also try is to store a List of ByteData and see if that makes a de.

[2019-10-02 17:40] patelkrunal78 commented on #18979
The problem here is that type inference fails in an unexpected way. The solution is to provide a type argument to the map method.

Find You Solution at [Here](https://icetutor.com/question/type-list-is-not-a-subtype-of-type-list)

[2019-10-02 17:41] jmagman commented on #41770
What are your pubspec dependencies?  Looks like an overlap in symbols between FirebaseMLCommon and GoogleMobileVision?

[2019-10-02 17:45] patelkrunal78 commented on #23234
This exception happens because you are using the context of the widget that instantiated Scaffold. Not the context of a child of Scaffold.

You can solve this by just using a different context :
Find more At Here https://icetutor.com/question/scaffold-of-called-with-a-context-that-does-not-contain-a-scaffold

[2019-10-02 17:46] patelkrunal78 commented on #17097
This exception happens because you are using the context of the widget that instantiated Scaffold. Not the context of a child of Scaffold.

You can solve this by just using a different context :
Find more At Here https://icetutor.com/question/scaffold-of-called-with-a-context-that-does-not-contain-a-scaffold

[2019-10-02 17:46] escamoteur commented on #41437
Looking back when I did.Net programming there was a powerful free Application to manage the resource files including text resources in different languages. That could also in and export different formats.

So the used format might not be so important for users if someone writes a flutter desktop app for this.

So maybe

[2019-10-02 17:46] patelkrunal78 commented on #29800
This exception happens because you are using the context of the widget that instantiated Scaffold. Not the context of a child of Scaffold.

You can solve this by just using a different context :
Find more At Here https://icetutor.com/question/scaffold-of-called-with-a-context-that-does-not-contain-a-scaffold

[2019-10-02 17:46] patelkrunal78 commented on #19246
This exception happens because you are using the context of the widget that instantiated Scaffold. Not the context of a child of Scaffold.

You can solve this by just using a different context :
Find more At Here https://icetutor.com/question/scaffold-of-called-with-a-context-that-does-not-contain-a-scaffold

[2019-10-02 17:48] Neuromancer93 commented on #29100
Flutter clean, followed by flutter run worked for me.

[2019-10-02 17:49] yjbanov commented on #39991
Fixed by https://github.com/flutter/flutter/pull/40630

[2019-10-02 17:49] #39991 closed

[2019-10-02 17:50] GaryQian commented on #41792
This may be due to flags consisting of letter emojis connected with zero width joiners. For example, the USA flag is represented as such:  `[U]<zwj>[S]`. It looks like it is rendering with the width of both the U and S emojis instead of the combined flag emoji.

What is interesting is why this is limited to certain versions of android.

[2019-10-02 17:54] BondarenkoStas commented on #40150
#471c805 went to v1.10.0 which is Dev since September 6, so not on the Beta yet.

[2019-10-02 17:56] BondarenkoStas commented on #36130
It's available in v1.10.0, which is in Dev since September 6

[2019-10-02 17:57] jmagman commented on #41793
There are `FLUTTER_` build settings that should be generated from the pubspec when you `flutter build` or run your Xcode project, and by default those are used for build versions and numbers in the Info.plist.  The tooling expects the project and workspace are named Runner, so it's not going to work if you change that name.  Note: that's different from the product name `PRODUCT_NAME` that would be

[2019-10-02 17:58] stuartmorgan commented on #36420
If I'm understanding option 1 correctly, it wouldn't work for more than one engine instance running at the same time, which is something that ideally we should support.

Maybe we could just expose a sort of `DoFlutterWork` method that processes the internal task queue, then returns the wait time it currently needs. If there are multiple engines, the app-level loop could just use the minimum of the

[2019-10-02 18:00] jmagman commented on #41765
I was just able to run the example app https://github.com/benjamindean/flutter_vibration/tree/master/example with Xcode 11 and iOS 13 and it didn't stick on the splash screen.
Is there some other way to reproduce the issue?

[2019-10-02 18:10] amirh commented on #40369
I believe the reasoning behind this ask was that:

1. Currently, before any plugin migrated to the new pubspec schema, the migration to the new schema is an essential part of extending a plugin to web.
2. A web developer coming to extend an existing plugin to support web may not feel comfortable refactoring the ObjC code (even if it's a simple rename).

Since we've been last discussing this we hav

[2019-10-02 18:10] ds84182 commented on #41792
Could be slight differences between Noto emoji fonts. I don't have an M device with an OEM customized version of Android (like Samsung or LG), would be useful to test on them also.

[2019-10-02 18:12] NicolasDionB commented on #39998
@devoncarew That's good news! What about other packages like `dart:web_audio`?

[2019-10-02 18:13] BondarenkoStas commented on #41786
@danielgchap 0.4.12+1 is the last `pre` AndroidX version

[2019-10-02 18:14] jmagman commented on #41761
Try https://stackoverflow.com/questions/47236769/failed-to-load-optimized-model-googlemaps-sdk-ios.

This is an issue with Google Maps SDK, not Flutter. You can file an issue at https://b.corp.google.com/issues/new?component=188833&template=789005

[2019-10-02 18:14] #41761 closed

[2019-10-02 18:16] jkurtw commented on #40369
I haven't seen the details of how federated plugins work. If it means that adding web support to a plugin and using it on the web is not coupled to the ObjC rename, then I'm less concerned here.

[2019-10-02 18:16] BondarenkoStas commented on #41789
@amankataria Please try to follow this https://github.com/flutter/flutter/issues/39417#issuecomment-533773409 and report if that will work

[2019-10-02 18:21] BondarenkoStas commented on #41790
@navidanchitrali Please provide your flutter doctor -v output. Can you provide a self-contained app that demonstrates the problem?
For future, please try not to post screenshots of code/logs, to not make people to transcribe from it while some info is needed to be copied. And please don't paste all the log in one line, it makes it much harder to read.

[2019-10-02 18:21] gaaclarke opened #41797 "iOS: Engine is accessing UI state from background threads"
When running an iOS app I'm getting messages like this:
[code]

It appears we are accessing the layer here from the GPU thread which we shouldn't be doing: https://github.com/flutter/engine/blob/aa8fcbb65283bfd8ab37475043ae2ac8fe8671f4/shell/platform/darwin/ios/framework/Source/FlutterView.mm#L106

[2019-10-02 18:21] gaaclarke opened #41798 "iOS: Engine is accessing UI state from background threads"
When running an iOS app I'm getting messages like this:
[code]

It appears we are accessing the layer here from the GPU thread which we shouldn't be doing: https://github.com/flutter/engine/blob/aa8fcbb65283bfd8ab37475043ae2ac8fe8671f4/shell/platform/darwin/ios/framework/Source/FlutterView.mm#L106

[2019-10-02 18:23] jkurtw commented on #41470
Ah, got it. @jonahwilliams their existing mobile app is Add-to-App. Is adding web in that case expected to work?

[2019-10-02 18:25] BondarenkoStas commented on #41796
@mwk24 Can you please try it on another emulator/device, to learn if it's ios13 specific or not?

[2019-10-02 18:26] stuartmorgan commented on #40369
Endorsing a web plugin would require a scheme update that would be coupled to the ObjC rename, but endorsement isn't implemented yet (and once implemented, currently can't be used until the next stable release anyway). Hosting the federated web implementation and letting people depend on it directly wouldn't require it.

[2019-10-02 18:29] danielgchap commented on #41786
Yes, this is obviously known as stated in my initial comment. What are alternatives?
Only thing I can see is to move over to the camera: pub and manually build my own camera widget. Surprising that google is having this issue for image_picker and it's gone unfixed this long, no?

Just thinking out loud.

[2019-10-02 18:30] jmagman opened #41801 "Support clang modules in plugin template"
Support clang modules in the plugin template so new plugins can be module imported into Objective-C apps and imported at all into Swift apps as libraries instead of frameworks.

More details at https://github.com/flutter/flutter/issues/41007.

[2019-10-02 18:32] navidanchitrali commented on #41790
@BondarenkoStas ok, i will remember it, thanks

[2019-10-02 18:33] navidanchitrali commented on #41790
@BondarenkoStas

C:\Users\hnawe\dartproject\google_map_app>flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.9.1+hotfix.4, on Microsoft Windows [Version 10.0.18362.356], locale en-GB)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.5)
[√] Connected device (1 available)

• No iss

[2019-10-02 18:35] navidanchitrali commented on #41790
@BondarenkoStas  Can you provide a self-contained app that demonstrates the problem?

i don't get it ?

[2019-10-02 18:36] LongCatIsLooong commented on #33873
There's still ongoing work around dark mode, but as of https://github.com/flutter/flutter/commit/ad940c7b4992a2d1b7869e25d5b6134725caebaa, `MediaQuery.platformBrightness` should be able to tell you whether the phone is in dark mode.

[2019-10-02 18:37] tarobins commented on #34601
I'm going to disown this bug for now.  Don't know a clean way to fix the docs without confusing people.  Sorry.

[2019-10-02 18:38] navidanchitrali commented on #41790
@BondarenkoStas C:\Users\hnawe\dartproject\fffffffflutter_app>flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.9.1+hotfix.4, on Microsoft Windows [Version 10.0.18362.356], locale en-GB)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.5)
[√] Connected device (1 available)

• No

[2019-10-02 18:39] mayurdhurpate commented on #15245
I wanted to write some end to end tests for our Flutter app and faced a lot of difficulties is just getting past the Firebase Auth with Google Sign In. Couldn't understand how to mock the library modules and functions calling external services. Shared some details regarding my issue here: https://stackoverflow.com/questions/56054288/how-to-mock-bypass-external-dependencies-and-workflows-in-flutter

[2019-10-02 18:39] BondarenkoStas commented on #41790
I meant can you provide some code example where the problem occurs?

[2019-10-02 18:41] amirh commented on #40369
For the short/mid term endorsing a plugin for web will be done by just adding a pub dependency from the app-facing plugin to the web implementation. This does not require schema/ObjC changes.

[2019-10-02 18:44] mklim commented on #41786
Thanks for the bug report @danielgchap. Could you comment with the full stack trace you're seeing when you try to compile with the latest version of `image_picker`? It should be migrated to AndroidX. My guess is that you're likely being affected by another issue and the plugin is printing a warning about AndroidX because it can't tell why it failed to compile.

[2019-10-02 18:44] JoanSchi commented on #35360
Hi BondarenkoStas,

With provider 3.10 and flutter 40.0.2 I can still reproduce the issue. I will also file the bug on ...provider/issues. Can you also reproduce it?

(Flutter doctor found no issue)

[2019-10-02 18:47] stuartmorgan commented on #40369
Sorry, I keep forgetting that we decided that depending on a plugin that uses the new schema doesn't break stable, so we can do that.

[2019-10-02 18:48] navidanchitrali commented on #41790
@BondarenkoStas

import 'package:flutter/material.dart';
import 'package:firebase_database/firebase_database.dart';
import 'package:firebase_database/ui/firebase_animated_list.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Flutte

[2019-10-02 18:49] chinmaygarde commented on #41797
Duplicate https://github.com/flutter/flutter/issues/41798

[2019-10-02 18:49] #41797 closed

[2019-10-02 18:53] tianhaoz95 opened #41804 "What are the options with Firebase Test Lab currently?"
Firebase Test Lab is one of the few options to do device CI currently. However, from what I have seen, it doesn't work with Flutter, probably because it ignores flutter native elements. I am curious that is there any other options with Firebase Test Lab? Is there a way that the documentation doesn't point out that can make flutter_driver espresso or UI Automator compatible? It will be great to hav

[2019-10-02 19:00] thomas-forte-mcsteen commented on #41793
I regenerated the ios and android project files. It does not pull the name from my pub spec into the Xcode display name. It is set to the default 'Runner'. If I leave the display name as Runner everything works fine, but as soon as I change the name in the xcode files I get the same error as above.

Is there a way to have the xcode config pull the following into xcode?
Display Name
Bundle Identifi

[2019-10-02 19:02] jonahwilliams commented on #41470
No

[2019-10-02 19:03] pie6k commented on #25280
Is there any roadmap about it? Do you have any idea if and when it could be possible for hooks to land in flutter?

[2019-10-02 19:05] mwk24 commented on #41796
Actually, can't use emulator as it doesn't have camera, and I don't have an android drive handy. I might have one lying around, will check.

[2019-10-02 19:13] mwk24 commented on #41796
* Proceeds to debug Gradle for 7 hours

[2019-10-02 19:15] AppleEducate commented on #41218
Does the new update to safari require something other than a font manifest now?

[2019-10-02 19:16] alan-knight commented on #41437
Dart has a lot of things that rely on code generation and mechanisms for automatically re-generating on changes, e.g. build_runner. So I would expect automating that to be fairly easy. But I don't think anything is integrated with flutter right now, so I guess you would have to manually run build_runner on the side and have it watch the files.

[2019-10-02 19:27] jonahwilliams commented on #41437
I don't think we want to require a dependency on build_runner to generate translations.

[2019-10-02 19:28] hritik15 commented on #19619
suncing files to device android sdk built for x86..     49,203ms(!)

[2019-10-02 19:29] Piinks commented on #27373
This looks like the inverted behavior of SliverFillRemaining(fillOverscroll: true, ...)
I think it could work in a similar way.

[2019-10-02 19:30] hritik15 commented on #19619
syncing files to device android sdk built for x86..     49,203ms(!)

[2019-10-02 19:31] chinmaygarde opened #41807 "Enable building with both Metal & OpenGL ES on all supported iOS versions."
Currently, building Metal (to be used on newer versions of iOS) and OpenGL (fallback on older iOS versions) renderers within the same Flutter Engine requires updating the minimum iOS deployment target to 11.0. This bug tracks reconciliation of Metal and iOS versioning constraints.

Proposal for unified Flutter builds: go/flutter-engine-metal-gl-builds (internal)
Related tracking issue in Skia: htt

[2019-10-02 19:32] #31433 closed

[2019-10-02 19:32] chinmaygarde commented on #31101
Done.

[2019-10-02 19:33] #31101 closed

[2019-10-02 19:34] chinmaygarde commented on #41807
Parent issue https://github.com/flutter/flutter/issues/18208

[2019-10-02 19:37] behnam-lum commented on #30109
I ended up writing a subclass for `ShapeBorder` for drawing custom shapes (paths). I've added path morphing functionality too, so now I can actually have a custom shape container with shape animation functionality.
I can write a plugin if people are interested. Or if there aren't enough people caring about this I can just write an article explaining the solution with code snippets.

[2019-10-02 19:38] jason-simmons commented on #41746
This started with https://github.com/dart-lang/sdk/commit/68dede011e81de04ffc826f42732b8ce620bc52d

@bkonyi

[2019-10-02 19:40] jonahwilliams commented on #41647
Reopening because we shouldn't crash here

[2019-10-02 19:42] alan-knight commented on #41437
No, build_runner is pretty heavy for that. But I don't think it would be difficult to do something custom that did file watching and triggered a re-generate, or to use other mechanisms.

[2019-10-02 19:43] szotp opened #41808 "flutter generate needs better error handling"
At the moment there is basically zero error handling when doing `flutter generate`.

1. If something goes wrong during `flutter generate` you will just see: `Code generation failed`

2. If the same thing goes wrong during `flutter run` you will see: `Code generation failed, build may have compile errors.`

3. If something goes wrong during hot reload session, a directory called error_cache will be

[2019-10-02 19:43] chunhtai commented on #40480
I am glad I was able to help. I will keep this ticket open to track the inconsistent performance between 1.7.8+hotfix.2 and v1.9.1+hotfix.2 when there is no ontap attachs

[2019-10-02 19:45] #41702 closed

[2019-10-02 19:46] #41399 closed

[2019-10-02 19:48] chinmaygarde commented on #41807
Related https://github.com/flutter/flutter/issues/32569

[2019-10-02 19:50] darrenaustin commented on #40482
This is actually intentional, although in hindsight we were being too conservative with the implementation for fear of breaking existing apps. The restriction here is that we only apply the overlay if the color of the `Material` widget is the same as the `colorScheme.surface` color (which happens to be #121212 in the default material dark theme). This is documented in the description of `ThemeData

[2019-10-02 19:52] Fa-d opened #41810 "Can I not insert Draggable inside a Visibility"
Launching lib\main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running Gradle task 'assembleDebug'...
Built build\app\outputs\apk\debug\app-debug.apk.
Installing build\app\outputs\apk\app.apk...
D/EGL_emulation(24319): eglMakeCurrent: 0xec6d5fe0: ver 2 0 (tinfo 0xe1150db0)
D/eglCodecCommon(24319): setVertexArrayObject: set vao to 0 (0) 1 0
I/

[2019-10-02 19:54] jonahwilliams commented on #9253
Both x64-release and x86-jit-release have been uploaded

[2019-10-02 19:54] Fa-d commented on #41733
Sorry .. I am new to flutter, & do not know what to submit :/ I did as the log said

[2019-10-02 19:57] #41810 closed

[2019-10-02 19:59] Mistic92 commented on #31116
I have the same issue. I'm using JDK11 for backend and it's not easy to switch just like that every time.

[2019-10-02 19:59] darren-f5s commented on #40650
https://github.com/flutter/flutter/issues/41620

Adding this as a possible fix

[2019-10-02 20:02] chinmaygarde opened #41811 "Embedder API must expose the Metal renderer config."
Currently, only the software and OpenGL renderers are exposed via the Embedder API. The [macOS shell wishes to the Metal](https://github.com/flutter/flutter/issues/32569) renderer. This will need a new renderer config for both root surface rendering and custom compositor backing stores in the stable embedder API.

[2019-10-02 20:03] behnam-lum opened #41812 "TextStyleTween has unexpected lerping behavior for underlines"
When TextStyleTween is lerping between two TextStyles, one with and the other one without an underline, I expect it to provide fading transition on the underline. Currently, the underline suddenly appears/disappears in the middle of transition.

## Steps to Reproduce

1. Define two text styles one with an underline and another one without an underline. You can use these samples that I'm actually u

[2019-10-02 20:05] chinmaygarde opened #41813 "Embedder unit-test harness must support Metal."
The unit-test harness currently supports the software and OpenGL (via SwiftShader) renderers. In order to [expose Metal rendering via the Embedder API](https://github.com/flutter/flutter/issues/41811) and have it be tested, the harness must also support Metal render targets. This can be limited to the Darwin platforms.

[2019-10-02 20:06] chinmaygarde commented on #41811
Depends on a Metal capable test harness https://github.com/flutter/flutter/issues/41813

[2019-10-02 20:07] chinmaygarde commented on #32569
Depends on the [Embedder API exposing the Metal renderer config](https://github.com/flutter/flutter/issues/41811) before the Mac shell can use the same.

[2019-10-02 20:10] sceee commented on #27629
I tried the workaround mentioned in https://github.com/flutter/flutter/issues/7032 but it unfortunately does not seem to work anymore (scrolls the dialog up way too high). Did anyone find any other workaround?

[2019-10-02 20:13] chinmaygarde opened #41816 "Local Engine builds with Metal enabled are currently broken."
These will be functional when the following patches in Skia are rolled into the engine:
* https://skia-review.googlesource.com/c/skia/+/245439
* https://skia-review.googlesource.com/c/skia/+/245476

[2019-10-02 20:14] mwk24 commented on #41796
Tested on physical android device. Same issue (though the Positioned params to make it break are different because of the different aspect ratio I believe)

[2019-10-02 20:14] TypicalDarkness commented on #31512
So is anyone working on a fix? If I was an App developer, this would already be a reason not to use flutter. Samsung is a pretty big manufacturer and this bug seems to be on all new devices

[2019-10-02 20:16] chinmaygarde commented on #41816
These would have been prevented by https://github.com/flutter/flutter/issues/34257

[2019-10-02 20:23] mdebbar opened #41817 ""Unable to launch DevTools. This is not Dart application.""
The command I'm using to run the app:
`flutter run -d chrome --web-port=8080 --no-web-browser-launch`

I open `localhost:8080` on Chrome and click the Dart Debug Extension. But it shows this dialog:

![image](https://user-images.githubusercontent.com/1278212/66078791-8fbc4680-e517-11e9-85ae-462f3e97361f.png)

The only way to fix it is to kill `flutter run` and run it again for few times.

I'm fili

[2019-10-02 20:30] bernaferrari commented on #40482
@darrenaustin in Android native development, the color you choose for a card is not the color you see - exactly like that above, #121212 + any elevation != #121212. It was a breaking change (probably not even documented, but it was).

I think Flutter should be consistent, the output of `Theme.from(colorScheme...)` should be similar to setting the color, even if that leads to an additional attribut

[2019-10-02 20:32] chinmaygarde opened #41818 "Add external texture support when using the Metal rendering backend."
This is currently only available via OpenGL.

[2019-10-02 20:33] chinmaygarde opened #41819 "Add external texture support when using the Metal rendering backend"
This is currently only available via OpenGL.

[2019-10-02 20:35] chinmaygarde opened #41821 "Test external texture support using the Embedder unittests harness."
There are currently not tests for this in either the embedder or shell unittests target. Not that both support OpenGL via SwiftShader, the requisite tests must be added.

[2019-10-02 20:36] chinmaygarde commented on #41819
It is probably a good idea to tackle the yak shave of [adding tests for external textures](https://github.com/flutter/flutter/issues/41821) in the shell and embedder unit-test harnesses.

[2019-10-02 20:41] behnam-lum commented on #41812
After looking into the implementation I was able to solve this in my specific case with a workaround that works due to the fact that I have a solid color background under the text.

What I did was adding the underline to both TextStyles and hide it with setting the `decorationColor` to the background color.

Notice the first I tried having the underline with a transparent color which didn't work!

[2019-10-02 20:41] rxlabz commented on #41218
Curiously, switching to Safari "responsive mode" seems to enable the Roboto font, but not the Material icons...🤷‍♂️

[2019-10-02 20:42] mdebbar commented on #41817
Ok, I have a theory. There are many network requests for ddc modules and some SSE urls that take a while to finish. I think I might be clicking on the Dart Debug Extension too early sometimes.

The problem is that there's no indication on the page to signal whether the app is ready to be connected or not.

[2019-10-02 20:43] liyuqian opened #41822 "Measure flutter tools memory usage"
Developers have complained that our tools or IDEs drain their host machine memory.

Our first step will be to measure the memory usage in our controlled lab environment to have a sense of the minimum memory needed to build and run a Flutter app.

Here's some draft drawings of what we'd like to measure:
![IMG_20191002_104856](https://user-images.githubusercontent.com/22987568/66080246-8ed8e400-e51a

[2019-10-02 20:43] lukepighetti commented on #15245
@mayurdhurpate I think you've just run into the cost/benefit curve on testing. Generally speaking I don't write e2e tests because there's a large portion of code that is already under test that is outside my project. In your example with `firebase_auth`, Firebase has test coverage for the backend, iOS and Android packages, as well as some on Flutter package. So for me, the better option is to feed

[2019-10-02 20:45] blasten commented on #37234
I sent this issue to the App Bundle team. In the meanwhile, make sure the AAB does not contain x86 and x86_64 variants in release mode since that would result in crash:
[code]

Follow https://github.com/flutter/flutter/issues/9253 for support for 'x86_64'.

[2019-10-02 20:49] efoertsch opened #41823 "Android Studio/Flutter unit test 'debug' bug"
## Steps to Reproduce

1. Create an Future method
2. Create unit test to call future along lines below
3. Execute unit test via 'debug'
4. Make change to test such that output should change
5. Execute unit test via 'debug'

I am using Android Studio 3.5 and Flutter plugin V40.0.2.

I created a unit test to test a http call. For kicks I put in a print statement to see what was being returned.

[2019-10-02 20:50] AppleEducate commented on #41218
Very weird 🧐

[2019-10-02 20:50] kenzieschmoll commented on #41746
This same workflow is supported in DevTools. In the current state we support a frame based timeline, but will support a timeline not broken down by frames in the future.

[2019-10-02 20:52] jason-simmons commented on #41784
If it's a recent issue involving an `Opacity` widget, then it's likely to be due to https://github.com/flutter/flutter/issues/41394.

The change that caused that bug has been reverted in the engine.  Try running your app with the latest build from the Flutter master branch.

[2019-10-02 20:53] lukepighetti commented on #15245
This is how I usually do it.

[code]

[2019-10-02 20:57] GregorySech commented on #41634
Related to https://github.com/flutter/flutter/issues/13015

[2019-10-02 20:58] GaryQian commented on #41812
The problem with fading the transition is that it can be ambiguous what a "fade" entails. For example, what is the proper way to fade between a wavy underline and a double underline?

This is one of those instances where there is no good solution for all cases, and a boolean-like switch is the best we can do, which should still be relatively easy to hack around for custom solutions. For example, w

[2019-10-02 21:07] jmagman commented on #41793
What do you mean by "change the name in the xcode files"?  Can we get reproduction steps?  If you're talking about changing the name of the actual xcworkspace or xcproject, the tools only work if that stays as Runner, and https://github.com/flutter/flutter/issues/9767 is tracking that feature request.

I just ran `flutter create  --project-name my_app_name test_create_app` and the bundle identifie

[2019-10-02 21:08] mklim commented on #35724
This looks like a breaking change from [the 0.5.0 update](https://pub.dev/packages/local_auth#050).

Is the problem resolved if you migrate to FlutterFragmentActivity [like in the example app](https://github.com/flutter/plugins/commit/a3988f85#diff-34c4ffe1a8b7fef28d840745a8b2ee2d)?

/cc @mehmetf

[2019-10-02 21:15] behnam-lum commented on #41812
@GaryQian
I meant the case in which there is underline in one TextStyle while the other one doesn't have an underline or any other decoration. There is no ambiguity in that case!

I know that there is no solution for all cases but there actually a solution for this specific case. Knowing the fact that we can't handle all cases should not impact the case that we actually know how to handle. So I be

[2019-10-02 21:16] jason-simmons commented on #41773
Flutter tests use the `Ahem` test font.  With this font every character is rendered as a rectangle in order to produce consistent results on all platforms.

[2019-10-02 21:17] semone commented on #40353
I had the same issue with the LicencePage setting the language to English until i updated the code not to modify `Intl.defaultLocale`. I now use the new advice stated in PR flutter/website#3013. Now I have an other issue, my numbers and dates are no longer formatted in the selected locale. When modifying `Intl.defaultLocale` they were all correct without me explicitly having to pass in the locale

[2019-10-02 21:17] escamoteur commented on #15245
Still an easy way to write integration tests with Flutter test and Firebase would be nice.
I m not sure if you can initialize all Firebase libs from code without a google.json file. If that would be possible for all integration to be done tests would be easy.
The mocking is nice but to test performance, latencies etc you need access to the real backend

[2019-10-02 21:18] lukepighetti commented on #15245
Here's another example, this is kinda like how Uber RIBs work, but super dumbed down. Only posting this because I was just sitting here thinking about it. Not really too specific to this issue and I probably shouldn't even post it here............

[code]

[2019-10-02 21:19] escamoteur commented on #31116
@jmagman do you think this could be made easier? More fail safe?

[2019-10-02 21:19] goderbauer commented on #40353
@semone Can you open a new bug and cc me? Preferable with some example code that shows the problem when I run it on my device.

[2019-10-02 21:22] GaryQian commented on #41812
I'll take a look at the transparent behavior. It looks like there should already be handling for fading the alpha in the `Color.lerp` implementation, but the framework's `TextSpan.lerp` may be masking it.

Regarding treating special cases, we should be wary of adding very specific edgecase code as that can lead to unpredictable behavior in the future/many layers up the stack. We can consider this

[2019-10-02 21:25] CaseyHillers opened #43098 "[build_dashboard] fetchCommitStatuses takes in a range"
Right now, it loads the latest 100 commits. The backend will have to be updated to allow for this.

[2019-10-02 21:26] jmagman opened #41824 "Set iOS application name from --project-name"
## Use case

If the user passes in --project-name use that as the iOS application display name.

macOS does this by setting PRODUCT_NAME in the xcconfig:
https://github.com/flutter/flutter/pull/40851/files#diff-aba0faa7c831231f4d88a28959954c73R8

## Proposal

Set PRODUCT_NAME as the Title Case version of the pubspec name.

Also investigate:
- Set TARGET_NAME since it will propagate more places, an

[2019-10-02 21:26] jmagman commented on #41824
\cc @stuartmorgan do you know if there's already an issue tracking this for iOS?  I couldn't find one.

[2019-10-02 21:27] jmagman commented on #41793
I created https://github.com/flutter/flutter/issues/41824.

[2019-10-02 21:30] jmagman commented on #41824
This is different from https://github.com/flutter/flutter/issues/9767 which tracks renaming the actual xcproject file.

[2019-10-02 21:32] jascodes commented on #41271
[code]
[code]

[2019-10-02 21:34] escamoteur commented on #41773
@jason-simmons so this is expected behavior here? Because you can't see separate rectangles in the screen shot above.

[2019-10-02 21:35] behnam-lum commented on #41812
@GaryQian Thanks!

I understand the special case treatment. It might come down to personal preference here. I think however due to having a small number of cases (`none`, `underline`, `overline`, and `lineThrough`) it seems fine to have special treatment.

And by the way, now that I'm looking at it, seems like the ambiguity is present for TextDecorationStyles (`solid`, `double`, `dotted`, `dashed`

[2019-10-02 21:36] escamoteur commented on #41733
No problem. As I explained to you above the error message is pretty clear. You only should submit an issue if the message does not explain what's wrong.

[2019-10-02 21:38] jason-simmons commented on #41773
Try changing the color of the text and verifying that the rectangles are rendered with that color.

[2019-10-02 21:40] chinmaygarde opened #41825 "Implement asynchronous texture uploads using the Metal backend."

[2019-10-02 21:40] darrenaustin opened #41826 "Dark theme elevation overlay should be based off of colorScheme.onSurface"
The Material Dark Theme spec has been updated (or soon will be) to clarify that the elevation overlay that is applied to surface colors to indicate elevation should be based off of the `colorScheme.onSurface` color and not white.

This is simple to fix, but will potentially break apps that were depending on it being white and not the `onSurface` color. This is likely of minimal impact, as this fea

[2019-10-02 21:41] chinmaygarde opened #41827 "Implement asynchronous texture uploads using the Metal backend."

[2019-10-02 21:41] escamoteur commented on #41437
Just one thing that came to my mind. If this gets sort of service think about adding an interface that can be easily used by the IDE extensions for VS code and IntelliJ.
With a function in the editor to insert a new identifier together with a default language that then creates an entry in the ARB(or whatever) files would make you really productive with internationalisation.

[2019-10-02 21:44] chinmaygarde opened #41829 "Delay Metal nextDrawable acquisition till surface frame submission."
Currently, we make this potentially blocking call as soon as we start the GPU thread frame workload. This is unnecessary and we can start the GPU frame workload and defer this wait till we are ready to submit the frame.

[2019-10-02 21:45] amirh opened #41830 "[android_alarm_manager] Support the v2 Android embedder plugins API"

[2019-10-02 21:47] amirh opened #41831 "[android_intent] Support the v2 Android embedder plugins API"

[2019-10-02 21:47] escamoteur commented on #30745
Do you want want to change the page out of security reasons?

[2019-10-02 21:49] amirh opened #41833 "[battery] Support the v2 Android embedder plugins API"

[2019-10-02 21:51] amirh opened #41834 "[camera] Support the v2 Android embedder plugins API"

[2019-10-02 21:51] amirh opened #41835 "[connectivity] Support the v2 Android embedder plugins API"

[2019-10-02 21:52] amirh opened #41836 "[device_info] Support the v2 Android embedder plugins API"

[2019-10-02 21:52] amirh opened #41837 "[google_maps_flutter] Support the v2 Android embedder plugins API"

[2019-10-02 21:52] amirh opened #41838 "[google_sign_in] Support the v2 Android embedder plugins API"
Internal: b/147364422

[2019-10-02 21:53] amirh opened #41839 "[image_picker] Support the v2 Android embedder plugins API"

[2019-10-02 21:53] amirh opened #41840 "[in_app_purchase] Support the v2 Android embedder plugins API"

[2019-10-02 21:54] amirh opened #41841 "[local_auth] Support the v2 Android embedder plugins API"
https://github.com/flutter/plugins/pull/2299

[2019-10-02 21:54] amirh opened #41842 "[package_info] Support the v2 Android embedder plugins API"

[2019-10-02 21:54] amirh opened #41843 "[package_info] Support the v2 Android embedder plugins API"

[2019-10-02 21:54] matthew-carroll commented on #35054
I'll defer to @HansMuller on priority/triage.

Whenever the issue is resolved, you'll need to use the `master` channel to get it until it makes its way to more stable channels like `dev` and `stable`. So it's just a question of how long you can wait.

[2019-10-02 21:55] amirh opened #41844 "[path_provider] Support the v2 Android embedder plugins API"

[2019-10-02 21:55] amirh opened #41845 "[quick_actions] Support the v2 Android embedder plugins API"

[2019-10-02 21:56] amirh opened #41846 "[sensors] Support the v2 Android embedder plugins API"

[2019-10-02 21:56] amirh opened #41847 "[share] Support the v2 Android embedder plugins API"

[2019-10-02 21:57] amirh opened #41848 "[shared_preferences] Support the v2 Android embedder plugins API"

[2019-10-02 21:57] amirh opened #41849 "[url_launcher] Support the v2 Android embedder plugins API"

[2019-10-02 21:57] amirh opened #41850 "[video_player] Support the v2 Android embedder plugins API"

[2019-10-02 21:58] amirh opened #41851 "[webview_flutter] Support the v2 Android embedder plugins API"

[2019-10-02 21:58] GaryQian commented on #31512
As a result of fixing https://github.com/flutter/flutter/issues/29341, we have determined that the root cause is improper usage/integration of the samsung keyboard itself. Samsung has been notified of the issue, but it is ambiguous if it is possible to ship a fix to existing devices easily.

I will take another look at this later this week to see if we can repro this and come up with additional wo

[2019-10-02 21:59] amirh opened #41852 "[cloud_firestore] Support the v2 Android embedder plugins API"

[2019-10-02 22:04] mdebbar opened #41853 "Password text fields shouldn't be multi-line"
### Current behavior

Flutter allows obscured text fields to be multi-line, but it prevents new lines from being added to the text.

### Motivation

Passwords are typically entered in single-line fields. It doesn't make sense to have a password field with multiple lines.

Another reason is that the web supports obscuring text only on single-line text fields (aka [`<input type="password">`](https:/

[2019-10-02 22:05] HansMuller commented on #35054
We can't try (again) to land a fix for this issue until we have a way to test the fix. As I understand it, @collinjackson is working on that.

[2019-10-02 22:06] joshi1983 commented on #28230
The problem is unrelated to flutter even though I encountered it while trying to get flutter to work.

The problem is that the package corresponding with javax/xml/bind/annotation/XmlSchema was removed from the latest versions of Java run times.  The fix is to run SDK Manager in Java 8 or 1.8(1.8 and 8 are meaningfully the same as Java versions).

In other words, be sure that running "java -versio

[2019-10-02 22:10] gaaclarke commented on #41798
It turns out that -[FlutterView createSurfaceWithResourceGLContext:] is sometimes called on the main thread and sometimes called on the gpu thread:
[code]

[code]

This makes this code a bit harder to fix.  I suspect the fact that it is called on different threads may be a bug.

[2019-10-02 22:11] jonahwilliams opened #41854 "macOS catalina is leaking processes"
We're not exactly sure when this started happening, because the processes need to build up significantly before it causes test failures. Locally @gspencergoog, @christopherfujino, and I observed dozens of dart processes and hundreds of iproxy processes. killall with no exit code didn't work, but once we had manually killed them the tasks started passing again.

[2019-10-02 22:13] jmagman opened #41855 "[android_alarm_manager] Define clang module for iOS"
Define clang modules in android_alarm_manager plugin to:
1. Allow it to be imported into Swift apps as libraries without `use_frameworks!`.
1. Allow it to be module imported `@import` into Objective-C apps.

See further details in https://github.com/flutter/flutter/issues/41007

## Steps to Reproduce

### Import into Swift app as a library
1. `flutter create test_create_app`
2. Add android_alarm_m

[2019-10-02 22:19] stuartmorgan commented on #41824
I'm not aware of one (although I didn't actually look when I was templatizing the macOS project).

👍

That was just laziness on my part, honestly.

[2019-10-02 22:21] #13264 closed

[2019-10-02 22:22] stuartmorgan commented on #41824
(I do think there's a question as to whether we should use the pubspec name directly, or have a new key in the pubspec.)

[2019-10-02 22:23] chinmaygarde commented on #41798
I believe this regression was introduced in https://github.com/flutter/engine/commit/5a8da65592e4bdf0e833bc7bcf30b589bf63ce17

[2019-10-02 22:27] gaaclarke commented on #41798
Paging @gw280

[2019-10-02 22:33] Drakirus commented on #41352
@jonahwilliams
I make heavy uses of `build bundle` and have found out an issue that appears on `Flutter 1.10.7-pre.123 ` and leads to the same "could not resolve the kernel binary" error.
This issue appears when using the `--asset-dir` flag.

flutter version:
[code]

Steps to reproduce:
[code]

[2019-10-02 22:34] smitthakkar1 commented on #35054
Thanks @matthew-carroll @HansMuller for the reply. Is there ANY workaround you guys aware of ?

[2019-10-02 22:35] bparrishMines opened #41858 "[firebase_performance] Support the v2 Android embedder plugins API"

[2019-10-02 22:36] stuartmorgan commented on #17579
@chinmaygarde Based on discussion, the next step is to expose the GPU task runner; assigning to you for that since you know that code the best.

[2019-10-02 22:39] goderbauer commented on #41796
WHere's CameraPreview coming from? That's not part of the framework.

Can you post a runnable reproduction of your problem? Something we can copy and paste and run to see the actual problem?

[2019-10-02 22:41] #17414 closed

[2019-10-02 22:41] mklim commented on #41831
Current migration guide: https://github.com/flutter/flutter/wiki/Experimental:-Create-Flutter-Plugin

[2019-10-02 22:41] #40702 closed

[2019-10-02 22:42] #37139 closed

[2019-10-02 22:42] gspencergoog commented on #1608
This was finally fixed by https://github.com/flutter/flutter/pull/40186

[2019-10-02 22:43] goderbauer commented on #41668
/cc @GaryQian

[2019-10-02 22:45] goderbauer commented on #41571
This may be an issue with the package you're using. Maybe file an issue at https://github.com/ko2ic/flutter_google_ad_manager for it?

[2019-10-02 22:46] goderbauer commented on #41549
What's the expected behavior here? What's the observed one?

Also please post a complete code snippet that we can copy and run to see the problem.

[2019-10-02 22:49] stuartmorgan commented on #41352
@Drakirus Please file a new bug; that's not the same case as this bug (which would have resulted in your very first `/tmp/test` missing files). It may also be a result of switching to `assemble`, but the fix would be different.

[2019-10-02 22:55] GaryQian commented on #41668
The spaces here are alphabetic spaces (U+0020) rather than ideographic spaces (U+3000). These two characters are completely different unicode codepoints, different widths, and different metrics. You should try using the ideographic space in your code (I copied it here for ease of access): `　`.

If you type with a keyboard in the language in question, it should insert the correct type of space.

Pl

[2019-10-02 22:58] bitsydarel commented on #25141
Any news on this issue?

[2019-10-02 22:59] Drakirus opened #41861 "flutter build bundle only one bundle can exist at a time"
Split of https://github.com/flutter/flutter/issues/41352#issuecomment-537709454
I make heavy uses of `build bundle` and have found out an issue that appears on `Flutter 1.10.7-pre.123 ` and leads to the "could not resolve the kernel binary" error.
This issue appears when using the `--asset-dir` flag.

flutter version:
[code]

Steps to reproduce:
[code]
Pinging @jonahwilliams as I think it is relat

[2019-10-02 23:04] #36806 closed

[2019-10-02 23:05] GaryQian commented on #36806
This should be fixed by https://github.com/flutter/flutter/pull/40635. Please let me know if you still experience this!

[2019-10-02 23:06] jonahwilliams commented on #41861
The default behavior of assemble is to clean outputs from old builds automatically, provided it thinks they are the same build. In this case, changing the output directory should likely qualify as a "different build" so they should not be deleted. It should be straightforward to update the rules so that output-dir is treated as an input

[2019-10-02 23:07] jmagman commented on #31116
@blasten might have more familiarity.

[2019-10-02 23:08] jason-simmons commented on #41759
Took a quick look at this and noticed that the pointer events on the rotated widget are being filtered out by `RenderProxyBoxWithHitTestBehavior.hitTest`:
    https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/rendering/proxy_box.dart#L160

The `RenderPointerListener` created by the `Draggable` is using that `hitTest` implementation.  That `hitTest` is checking the pointer pos

[2019-10-02 23:12] GaryQian commented on #35994
It's been a while since the last update: Have worked through a few critical bugs for Samsung keyboards, as well as cranking through a few critical bugs involving font fallback and image cache memory usage. The features requested here are currently at the top of my "not critical" list of things to do.

[2019-10-02 23:17] darrenaustin commented on #40122
Yup, looks like the BottomButtonBar was missed on my Dark theme pass. Thanks for pointing it out.

[2019-10-02 23:31] jason-simmons commented on #41768
I ran the attached app using the current Flutter master branch on a couple of Android devices (Nexus 5X, Moto G4).  The ListView was rendered with fading applied to the bottom, which seemed as expected.

How does the example app look in your environment?  Does the bug happen everywhere, or does it only affect some devices?

[2019-10-02 23:34] jamesderlin opened #41863 "flutter_tools doctor_test.dart is sensitive to terminal width"
From the `flutter/packages/flutter_tools/` directory, if I run:

[code]
from a terminal with `COLUMNS=80`, I get failures in the "doctor with fake validators validate non-verbose output format for run with crash" and "doctor with fake validators validate non-verbose output format for run with an async crash" tests, both complaining about the way that the Flutter Doctor output is line-wrapped:

If

[2019-10-03 00:03] DavidCollinsNZ commented on #25112
I had this issue testing on physical iOS device connected via USB after updating to Xcode 11. To resolve I un-ticked the 'connect via network' option in Xcode devices and simulators.

[2019-10-03 00:06] amirh opened #41865 "[cloud_functions] Support the v2 Android embedder plugins API"

[2019-10-03 00:07] amirh opened #41866 "[firebase_admob] Support the v2 Android embedder plugins API"
https://github.com/FirebaseExtended/flutterfire/pull/1365

[2019-10-03 00:07] amirh opened #41867 "[firebase_analytics] Support the v2 Android embedder plugins API"

[2019-10-03 00:08] amirh opened #41868 "[firebase_auth] Support the v2 Android embedder plugins API"

[2019-10-03 00:08] amirh opened #41869 "[firebase_core] Support the v2 Android embedder plugins API"

[2019-10-03 00:09] amirh opened #41870 "[firebase_crashlytics] Support the v2 Android embedder plugins API"

[2019-10-03 00:09] amirh opened #41871 "[firebase_database] Support the v2 Android embedder plugins API"

[2019-10-03 00:09] amirh opened #41872 "[firebase_dynamic_links] Support the v2 Android embedder plugins API"
https://github.com/FirebaseExtended/flutterfire/pull/1372

[2019-10-03 00:09] jkurtw commented on #41470
Ok. Sounds like we should close this issue and think about the right project structure for this use case. If you have an Add-to-App mobile app with some screens in Flutter and want to bring those screens / features to the web, what is the best way to structure your project(s)?

[2019-10-03 00:10] amirh opened #41873 "[firebase_in_app_messaging] Support the v2 Android embedder plugins API"

[2019-10-03 00:10] amirh opened #41874 "[firebase_messaging] Support the v2 Android embedder plugins API"

[2019-10-03 00:11] amirh opened #41875 "[firebase_ml_vision] Support the v2 Android embedder plugins API"
https://github.com/FirebaseExtended/flutterfire/pull/275

[2019-10-03 00:11] amirh opened #41876 "[firebase_remote_config] Support the v2 Android embedder plugins API"

[2019-10-03 00:12] amirh opened #41877 "[firebase_storage] Support the v2 Android embedder plugins API"

[2019-10-03 00:12] #41842 closed

[2019-10-03 00:15] davidcavazos opened #41878 "[web]: Dart exceptions before runApp() are silently ignored"
Hi, I was having trouble finding why an app wasn't working. It turned out to be a runtime exception being thrown at the construction of an object due to dynamic typing. Digging more into the issue, it looks like **all** exceptions are silently ignored.

Here's a simple version to reproduce the issue.

[code]

If you run it, no errors are shown in the terminal output and the web app "opens" in the

[2019-10-03 00:15] davidcavazos commented on #41878
[code]

[2019-10-03 00:25] jonahwilliams commented on #41470
The normal way to share code would be to have a second project which depends on a shared package, or imports the code from the first.

[2019-10-03 00:54] miyakeryo commented on #41089
It also happens with Japanese keyboards.

@mklim
Is this the same problem you know below?
https://github.com/flutter/engine/blob/6ac4f9fdf6c0fc5de53a9032a5d81ba0fad59fe6/shell/platform/android/io/flutter/plugin/platform/SingleViewPresentation.java#L285-L289

[2019-10-03 01:16] gspencergoog opened #41881 "Dropdown menus disappear immediately when combined with text fields"
On Android,  when you have a `DropdownButton` on the same page as a `TextFormField`, and tap the dropdown when the text field has focus, then tapping the dropdown button will cause the dropdown to appear, a metrics change to occur (because the keyboard went away when the text field lost focus), and the dropdown disappears immediately, since the dropdown is coded to disappear with a metrics change,

[2019-10-03 01:22] chinmaygarde commented on #17579
@stuartmorgan I added the implementation and test in https://github.com/flutter/engine/pull/12757. I did run into an unanticipated issue however while writing the test however. Now that the embedder needs to provide a task runner implementation, it needs a way of giving tasks to the engine on that task runners thread. This is the `FlutterEngineRunTask` interface. However, that interface needs an e

[2019-10-03 01:26] ThinkDigitalSoftware commented on #41881
Linking #41574 to this as well for reference

[2019-10-03 01:27] dnfield commented on #17579
/cc @gaaclarke  - we've been discussing some semi-related issues RE: engine initialization for iOS...

[2019-10-03 01:30] pp126 commented on #18818
@escamoteur Sorry!  I mean  this page widget's spring disappeared. when I slide the widget,it should be auto slipping to top or bottom.But it doesn't work on release apk (debug mode is ok).

[2019-10-03 01:36] jmagman opened #41883 "[connectivity] Define clang module for iOS"
Define clang modules in connectivity plugin to:
1. Allow it to be imported into Swift apps as libraries without `use_frameworks!`.
1. Allow it to be module imported `@import` into Objective-C apps.

See further details in https://github.com/flutter/flutter/issues/41007

## Steps to Reproduce

### Import into Swift app as a library
1. `flutter create test_create_app`
2. Add connectivity to the pubs

[2019-10-03 01:44] chinmaygarde commented on #41816
This has been fixed after https://github.com/flutter/engine/commit/3d79deb00585192201ed5b9072564a8b3fdb3dbc

[2019-10-03 01:44] #41816 closed

[2019-10-03 01:45] jmagman opened #41884 "[device_info] Define clang module for iOS"
Define clang modules in device_info plugin to:
1. Allow it to be imported into Swift apps as libraries without `use_frameworks!`.
1. Allow it to be module imported `@import` into Objective-C apps.

See further details in https://github.com/flutter/flutter/issues/41007

## Steps to Reproduce

### Import into Swift app as a library
1. `flutter create test_create_app`
2. Add device_info to the pubspe

[2019-10-03 01:49] akasiid commented on #41770
@escamoteur

error: Multiple commands produce '/Users/eugenepushnenko/Develop/flutter/aunite/build/ios/Debug-iphoneos/Runner.app/Frameworks/Flutter.framework':
    1) Target 'Runner' has copy command from '/Users/eugenepushnenko/Develop/flutter/aunite/ios/Flutter/Flutter.framework' to '/Users/eugenepushnenko/Develop/flutter/aunite/build/ios/Debug-iphoneos/Runner.app/Frameworks/Flutter.framework'

[2019-10-03 01:51] TypicalDarkness commented on #31512
Unlike #29341 I haven't found this bug in any other app, so there is definitely something that Flutter is doing differently.
I tried installing different Samsung keyboards to find out in which version the issue first occurred.
https://www.apkmirror.com/apk/samsung-electronics-co-ltd/samsung-keyboard-neural-beta/
https://www.apkmirror.com/apk/samsung-electronics-co-ltd/samsung-keyboard/
However, I'

[2019-10-03 01:55] akasiid commented on #41770
@escamoteur

## from pubspec all dependencies

[code]

[2019-10-03 02:11] jkurtw commented on #41470
@rahuldevanavar91 can you try that approach? Close this now, since this is expected.

[2019-10-03 02:11] #41470 closed

[2019-10-03 02:30] giantsol commented on #41668
Hi!
I tested it again using explicit `\u3000` character with `Text` widget, but it doesn't solve this problem either :<
I also tested it with `TextField` using my own keyboard, but same problem occurs.

Below is the full code:
[code]

And below is the screenshot:
![image](https://user-images.githubusercontent.com/4879766/66095073-2862cd00-e5d1-11e9-9568-f65550c566a0.png)

Thanks!

[2019-10-03 02:54] jdeltoft commented on #41143
Well, I tried making the _camera instance a static and not dispose it but just stop it in dispose() and start it again on init().  Seems to work better.  Not sure if that's going to cause any other issues.

[2019-10-03 03:05] minhhoang1007 opened #41887 "User-created ancestor of the error-causing widget was:"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-10-03 03:07] felixyin opened #41888 "Hot reload received invalid response: {type: ReloadReport, success: false, notices: [{type: ReasonForCancelling, message: Error while initializing Kernel isolate}]}"
[code]

[2019-10-03 03:07] felixyin commented on #41888
➜  shuichan_app git:(master) ✗ flutter doctor -v
[✓] Flutter (Channel master, v1.10.8-pre.21, on Mac OS X 10.14.6 18G84, locale zh-Hans-CN)
    • Flutter version 1.10.8-pre.21 at /Users/fy/tools/flutter
    • Framework revision fa7340a328 (4 hours ago), 2019-10-02 19:04:50 -0400
    • Engine revision 73dd5a33d9
    • Dart version 2.6.0 (build 2.6.0-dev.0.0 eaf1c308ab)

[✓] Android toolchain - deve

[2019-10-03 03:23] sarbagyastha commented on #41881
@gspencergoog , Dropdown is coded to disappear on orientation change actually and there's no better way to detect orientation change in Flutter currently other than listening to metrics change.

[2019-10-03 03:25] felixyin commented on #41793
Launching lib/main.dart on iPhone in debug mode...
Automatically signing iOS for device deployment using specified development team in Xcode project: XMXKKWB4BQ
Running Xcode build...
Xcode build done.                                           16.4s
Could not find the built application bundle at build/ios/iphoneos/Runner.app.
Error launching application on iPhone.

[2019-10-03 03:25] felixyin commented on #41793
➜  ~ flutter doctor -v
[✓] Flutter (Channel stable, v1.9.1+hotfix.4, on Mac OS X 10.14.6 18G84, locale zh-Hans-CN)
    • Flutter version 1.9.1+hotfix.4 at /Users/fy/tools/flutter
    • Framework revision cc949a8e8b (5 days ago), 2019-09-27 15:04:59 -0700
    • Engine revision b863200c37
    • Dart version 2.5.0

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
    •

[2019-10-03 03:26] felixyin commented on #41793
➜  ~ dart --version
Dart VM version: 2.5.0 (Fri Sep 6 20:10:36 2019 +0200) on "macos_x64"

[2019-10-03 03:27] ThinkDigitalSoftware commented on #41881
What about using MediaQuery?

[2019-10-03 03:32] sarbagyastha commented on #41881
@ThinkDigitalSoftware orientation provided by MediaQuery is also based on onMetricsChanged. It won't detect native orientation of device.

[2019-10-03 03:32] felixyin commented on #41793
i resolve it，thank jmagman：https://github.com/flutter/flutter/issues/41793#issuecomment-537681233

[2019-10-03 04:02] DennisMuchiri commented on #30528
@escamoteur  yes

[2019-10-03 04:16] YeFei572 commented on #35152
I have not try it on current flutter stable, pls don't close this issue , i'll try it ASAP. thx

[2019-10-03 04:16] eitguide opened #41890 "Flutter Widget still received event when show native view controller."
1. I have a main page, in this page I call native method to show native controller (UIViewController)
2. In my View Controller and have  a button have the same location with button show native controller in main page.
3. When I click button on native view controller then event onTap of button in main page still call.

[2019-10-03 04:37] shajji1 commented on #41602
@Hixie, @escamoteur i figure out that i'm facing this issue due to **KES** _Kaspersky Endoint Security_, when my network administrator disable it, all commands working smoothly, now the problem is we can't disable **KES** permenantly. is there any flag to trust those certificates via cli or i should close this issue, no offense. and one more thing if you suggest to close this issue and i did, does

[2019-10-03 04:40] hectorvillag commented on #28885
I think that instead of tel you should use call

[2019-10-03 04:52] mudi256 commented on #41549
Show two widgets in app, then increase your mobile font size from mobile settings, then open the app app, you will see "RichText" widget font size still smaller as compare to "Text" widget.
1) Using Text
2)Using RichText

**below is code snippet**
Column(
      children: <Widget>[
        Text("Hello Using Text Widget"),
        RichText(
          text: TextSpan(
              text: "Hello Using

[2019-10-03 04:55] ykmnkmi opened #41891 "Can't clone flutter to .flutter folder"
## Steps to Reproduce
1. git clone -b beta https://github.com/flutter/flutter .flutter
2. add .flutter/bin to PATH
3. any flutter command

## Logs
[code]

[2019-10-03 05:20] pouledodue commented on #41891
clone it somewhere else?

[2019-10-03 05:24] chinu999 commented on #41769
i again transfer my project and rebuild with androidX

and flutter doctor v-
D:\Softwares\Android Studio\Flutter\Projects\fireservices>flutter doctor -v
[√] Flutter (Channel stable, v1.9.1+hotfix.2, on Microsoft Windows [Version 10.0.18362.30], locale en-IN)
    • Flutter version 1.9.1+hotfix.2 at D:\Softwares\Android Studio\Flutter\flutter
    • Framework revision 2d2a1ffec9 (4 weeks ago), 2019-0

[2019-10-03 05:42] MuhammadAliKhan1 commented on #22665
Any updates on print()? Having the same problem.

[2019-10-03 05:48] fourman-alex commented on #35396
As the firebase issues moved to [fireflutter](https://github.com/FirebaseExtended/flutterfire) I'll reopen the issue there

[2019-10-03 05:48] #35396 closed

[2019-10-03 06:10] guiguan commented on #33470
The `Clipboard.setData` doesn't work in Flutter for Web

[2019-10-03 06:36] EugenePisotsky commented on #37878
@rrousselGit, in my case animation is janky when the keyboard is opening along with it. doesn't rebuilding all the tree has any impact on the animation?
(without keyboard it's smooth)

[2019-10-03 06:39] MuhammamdArslanKhan commented on #15162
After 3rd try

! flutter_web 0.0.0 from git https://github.com/flutter/flutter_web at c04fb5 in packages/flutter_web
! flutter_web_ui 0.0.0 from git https://github.com/flutter/flutter_web at c04fb5 in packages/flutter_web_ui
Running "flutter pub upgrade" in hummingbird...  927.5s (!)

[2019-10-03 06:52] tiholic commented on #41762
Sorry about the minimal details.

Here is the complete picture:

There are only few items with images.
In the video, an item named "GROMOR M.O.P" has the image which is shown properly when the search term is `g`
When the search term is changed to `gr` the card with product  "GROMOR 10:26:26" displays image of "GROMOR M.O.P" while that is not the image assigned to "GROMOR 10:26:26" in server.

Irre

[2019-10-03 06:59] 97loser opened #41893 "Exception Caught By widgets library"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-10-03 07:02] NickitaX commented on #41291
Great, it worked! Thanks @yuesaka 🔥

[2019-10-03 07:02] akeblom commented on #41798
I have this problem as well. Readin NFC via eventchannel. Get this error after the first read. Consecutive reads works fine.

flutter doctor:

[code]

[code]

[2019-10-03 07:16] boomitsocial opened #41894 "NosuchMethodError: The getter '_value' was called on null"
Hello,
So our app was deployed on PlayStore & AppStore in June. We haven't updated it since. Everything was working well, but suddenly we started getting this error on or chat-room/list page. We know we haven't upgraded our flutter (it's taking more time due to many many breaking changes and our team can only work on this on weekends).
So now out of the blue, two very important screens of our live

[2019-10-03 07:23] sma commented on #41483
I noticed that TTF resources are incorrectly served as `text/plain` instead of `application/x-font-ttf` by `flutter run` and that Safari's developer tools (therefore?) can't correctly display the font…

![image](https://user-images.githubusercontent.com/14989/66106710-d4e78380-e5be-11e9-9b16-b21b65066808.png)

Perhaps the incorrect content-type is also the reason that Safari ignores the font.

[2019-10-03 07:26] deepakkumawat1 commented on #27939
yeah...it works for me . the error is because i trying to going in android x without android studio(trying vs code) so i decreased my kotlin vesrion like this
buildscript {
    // change here:
    ext.kotlin_version = '1.3.21'
    dependencies {
        // kotlin version is used here:
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
    }
}
previosly it was higher...

[2019-10-03 07:38] Alby-o commented on #26348
Here's a conversion that will deal with both bgra8888 & YUV420
@nickrobinson
https://gist.github.com/Alby-o/fe87e35bc21d534c8220aed7df028e03

[2019-10-03 07:38] mwk24 commented on #41796
CameraPreview is from the camera plugin made by flutter team. Will try to put together runnable gist

[2019-10-03 07:44] semone opened #41895 "Numbers and dates are not formatted to system locale"
I have an app that today supports two languages:

- Swedish
- English

The language support is set up following [this guide](https://flutter.dev/docs/development/accessibility-and-localization/internationalization)

The app has a LicensePage which previously had the same error as in #40353 and #28456 i.e. the LicencePage overrides the system locale. Not modifying the global `Intl.defaultLocale` so

[2019-10-03 07:45] semone commented on #41895
cc @goderbauer

[2019-10-03 07:48] ookami-kb commented on #41483
@sma I don't think it's the root cause – I've tried inserting link to Google Font directly into the html like this:

[code]

Same result.

[2019-10-03 07:55] Stewioie commented on #35341
An other problem is my flutter app has a sign in page. I cannot add sign in parameters because I cannot set textfields ids and button id

[2019-10-03 07:59] cbenhagen opened #41896 "[web] release build fails due to missing generated_plugin_registrant.dart"
Debug builds still work.

[code]

[code]