[2019-09-25 00:51] delizondo commented on #40623
[code]

[code]

[2019-09-25 00:53] delizondo commented on #40623
Generated.xconfig

[code]

[2019-09-25 00:55] #40728 closed

[2019-09-25 00:57] ditman commented on #40728
I think the commit above fixed the issue:

![screenshot](https://user-images.githubusercontent.com/1255594/65560746-a7cb0f00-def4-11e9-8fba-d8cb7d2fb354.png)

[2019-09-25 00:59] ymback commented on #40728
Thank you.

[2019-09-25 01:01] andraskende commented on #39669
Hi @escamoteur,

just tested again with fresh install

[✓] Flutter is fully installed. (Channel stable, v1.9.1+hotfix.2, on Mac OS X
    10.14.6 18G95, locale en-US)

camera-0.5.4+2

Same issue camera preview screen keeps rotatiing..

Could you reopen this ticket ?

    import 'dart:async';
    import 'package:flutter/material.dart';
    import 'package:camera/camera.dart';

    List<CameraDescrip

[2019-09-25 01:04] awhitford commented on #41231
Will this address the *iOS Deployment Target* value too?  Because it seems to be unspecified or defaults to 8.0 which seems very old now.

[2019-09-25 01:10] ymback commented on #40728
Cause the master channel is broken now https://github.com/flutter/flutter/issues/40876#issuecomment-534780288, I'll try it later.

[2019-09-25 01:11] ymback commented on #40732
I'll try it later after https://github.com/flutter/flutter/issues/40876#issuecomment-534780288 roll

[2019-09-25 01:14] dnfield commented on #41231
@awhitford no, that's the lowest iOS we support.  This is relared to infra we test on

[2019-09-25 01:36] tan133 opened #41241 "install flutter is a hard way"
just say sth about what i think now

[2019-09-25 01:38] gitzhangliang commented on #41185
return WebView(
          initialUrl: 'https://files.alicdn.com/tpsservice/b3b75f788cd433e2a7f9fe9a56880410.pdf',
          javascriptMode: JavascriptMode.unrestricted,
          onWebViewCreated: (WebViewController webViewController) {
            _controller.complete(webViewController);
          },

I only replace initialUrl for official example. use webview_flutter  i can open image、html、txt

[2019-09-25 01:40] ekasetiawans commented on #41114
this is the logcat output

[code]

[2019-09-25 01:42] jinyuanqing commented on #41159
is google chrome77

[2019-09-25 01:50] #41241 closed

[2019-09-25 02:02] bcurley2314 commented on #41101
@justinmc yes, that is exactly the issue and that example shows the problem.

[2019-09-25 02:03] bprayush commented on #40814
Similar issue in Manjaro Linux platform. Chrome defaults to google-chrome-stable, the SDK is unable to find google chrome executable.

[2019-09-25 02:05] jonahwilliams commented on #41159
@jinyuanqing can you confirm that you're using the unforked web workflow documented at https://flutter.dev/web ?

[2019-09-25 02:08] Jumpbotron opened #41243 "Not able to make flutter build apk --release in MacOS X"
I want to export the apk in release mode of my flutter app the problem is that when I try i finally get the following issue, that don't let me create it. It's curious since i can create the APK in --debug and it works great.

flutter build apk
You are building a fat APK that
includes binaries for android-arm,
android-arm64.
If you are deploying the app to the
Play Store, it's recommended to use ap

[2019-09-25 02:08] bcurley2314 commented on #41200
this might be caused by the root issue of 41101#

[2019-09-25 02:17] Shunsuke-Satoh commented on #41046
@miguelpruivo @NikoTron
Thanks for PRs!
Surely the audience would be grateful to you too.

#2083 works fine on iOS12.4.1(iPhone6), 13.0,13.1(iPhone8).

I'm curious about the file name, but there is no problem.
on iOS13~, file name added [trim.] on file header.(Like xxx.MOV=> trim.xxx.MOV)
No problem if we pay attention to this.

I will close this issue when it is merged.

[2019-09-25 02:20] gspencergoog commented on #41194
The current implementation generates a new frame for every mouse move, but that would only produce a regression when the mouse is moving, not otherwise.  There's a fix for that in https://github.com/flutter/flutter/pull/41014

[2019-09-25 02:21] Y132om commented on #29738
I use a proxy. However, I have solved the problem. After setting up several options in the development tool, I modified the image source, synchronized the file, and succeeded. Nothing special. I don't understand why it was successful, I just modified these items.

[2019-09-25 02:24] moga111 opened #41244 "Google maps plugin. Ability to read api key from code"
Is there anyway to provide the google maps api key from the code base rather than the manifest? I would like to be able to read the api key from our server before initializing google maps.

Thank you!

[2019-09-25 02:25] panw3i commented on #19640
Working for me!

[2019-09-25 02:34] EngTee commented on #29965
Sorry. I should've close this thread earlier. The problem no longer exist in the latest stable version

[2019-09-25 02:34] #29965 closed

[2019-09-25 02:36] mwk24 commented on #41066
Similar class of issue: https://github.com/flutter/flutter/issues/37699

[2019-09-25 02:41] Taco55 commented on #41214
Yes, it is the same issue. Since it is already tracked I will close this issue.

[2019-09-25 02:41] #41214 closed

[2019-09-25 02:46] jdeltoft commented on #41143
@janmoppel  Sure!  Sorry, totally forgot to include those.  Here is a good logcat

`xpire 3 lines
2019-09-24 21:43:33.870 977-2856/? I/WifiHAL: event received NL80211_CMD_VENDOR, vendor_id = 0x1374, subcmd = 0xd
2019-09-24 21:43:34.678 1762-2407/? W/ConnectivityExtension: ConnectivityExt jar file not present
2019-09-24 21:43:35.875 977-2856/? I/WifiHAL: event received NL80211_CMD_VENDOR, vendor_id

[2019-09-25 02:47] jdeltoft commented on #41143
Here is a BAD MotoZ2 log:

`4 21:46:42.717 977-2856/? I/chatty: uid=1010 wifi@1.0-servic expire 3 lines
2019-09-24 21:46:44.724 977-2856/? I/WifiHAL: event received NL80211_CMD_VENDOR, vendor_id = 0x1374, subcmd = 0xd
2019-09-24 21:46:44.978 2667-3261/? D/ADSPD_LIB: Connecting Ultrasound...daemon_fd = -1
2019-09-24 21:46:45.013 2667-3261/? D/ADSPD_LIB: Disconnecting Ultrasound...daemon_fd=52
2019-

[2019-09-25 02:48] jdeltoft commented on #41143
Would a S9 Good log help?  If so let me know

[2019-09-25 02:50] clarkezone commented on #36420
The main open question with the PR is how best to expose the API.  Win32 apps typically own the main message loop rather than delegating it to a library.. this is the pattern that is now in use in the win32 engine / example.  The problem is, the busy wait implementation in this PR needs to take care of the GetMessage part on behalf of the app to avoid the app calling getmessage and starving plugin

[2019-09-25 02:53] grouma commented on #32436
I fixed a race condition in `package:dwds`. @jonahwilliams you'll need to rev to the latest when [https://github.com/dart-lang/webdev/pull/682](this) is published

[2019-09-25 03:13] moz1q1 opened #41246 "bug"
flutter
Downloading Dart SDK from Flutter engine b863200c37df4ed378042de11c4e9ff34e4e58c9...
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    14  100    14    0     0     18      0 --:--:-- --:--:-- --:--:--    18
[/Users/ziqimo/Downloads/flutter_macos_v1.0.0-stable/bin/cache/dart-sd

[2019-09-25 03:13] tvolkert commented on #37699
Hi @all, I'm preparing a hotfix for this to promote to the stable channel as soon as its properly tested.

[2019-09-25 03:27] jiyarong commented on #11655
how to keep a ListView.builder state, I really really confused about it, the List page build again and again, any body has any solution?

[2019-09-25 03:38] NeroAlfonso opened #41248 "Flutter run -d Chrome is frozen in "Building app for the web..""
1. When I try to launch my application (flutter run -d chrome) in web version, the console freezes in "Building app for the web ...". I waited for a few hours and it stayed that way.
![pa1](https://user-images.githubusercontent.com/30022632/65567395-1e333580-df24-11e9-80ac-4c695e572351.jpg)
2. adjunct my flutter doctor
![pa2](https://user-images.githubusercontent.com/30022632/65567490-75390a80-df2

[2019-09-25 03:39] Bibin101 opened #41249 "Hot reload is not working,"
I have the standard starting flutter app here. but when i change the color do make any other changes and press hot reload icon, it Reloaded 0 of 468 libraries in 369ms. but nothing changes in my physical device . I am reviewing the changes with a physical device.
![Screenshot (76)](https://user-images.githubusercontent.com/55642853/65567464-1d2af400-df76-11e9-8c68-7a58310b2a14.png)

This is my flu

[2019-09-25 03:47] cyanglaz commented on #41125
@dannyvalentesonos I have tried running your code on an iPhone X with iOS 12.4 and couldn't reproduce the crash. Could you post your flutter doctor -v with the device connected?

[2019-09-25 03:54] dannyvalentesonos commented on #41125
@cyanglaz I do not have a physical device that I can get this info for you. I'll have to have someone else get that (whom doesn't have the flutter tools installed, so it may take some time).
I can reproduce this very reliably with the iPhone X 12.1 simulator.

[2019-09-25 03:57] digiter commented on #39943
They have been disabled currently.

[2019-09-25 03:57] #39943 closed

[2019-09-25 04:00] adolfdsilva commented on #20760
In my case, I re-created the project to enable web-support. So I did
`flutter create .`

This ended up creating a java folder in my main package and thus creating the same

But I was using kotlin and which already had a MainActivity class.
So rolled back my changes and did
`flutter create -i swift -a kotlin .`

Remember the flutter create template by default supports java, more info [here](https:/

[2019-09-25 04:01] fankfank opened #41250 "Stable v1.9.1+hotfix.2 flutter implant iOS project"
Stable v1.9.1+hotfix.2 flutter implant iOS project does not generate Development Pods dir when execute pod install in pods ?

[2019-09-25 04:06] mikerockett commented on #31225
@bparrishMines Thanks for the clarification, interesting to see how these APIs have changed over time. Pretty new to the Java world here (and platform-specific languages in general), so have learned quite a bit.

So if I'm understanding this correctly, the [onUpdated() method](https://developer.android.com/training/camerax/architecture#model-example) of the update listener is where your `TextureVi

[2019-09-25 04:06] stuartmorgan commented on #33227
Could you elaborate on what you mean when you say "plugin"? Currently 'Flutter plugin' tends to refer to the thing created by `flutter create --template=plugin`, which uses method channels to communicate using APIs that differ by platform. I wouldn't expect any of that plumbing/boilerplate to be relevant to the FFI use case. (I.e., step 1 of what's currently on the wiki doesn't seem like what we w

[2019-09-25 04:10] mikerockett commented on #31225
Oh, and what do you mean by this?

[2019-09-25 04:12] askarsyzdykov commented on #41102
@ZhenTs You should use io.flutter.app.FlutterActivity instead of io.flutter.embedding.android.FlutterActivity. For example:

[code]

[2019-09-25 04:13] audkar commented on #41178
No. This not specific to Android 10 or gesture navigation. It happens on all Android versions

[2019-09-25 04:20] mehdidavarpanah66 opened #41252 "how set stack from bottom listview.builder"
new ListView.builder(
controller: _scrollController,
               reverse: true,
               shrinkWrap: true,
                itemCount: chatList.length
                  ,itemBuilder: (BuildContext context,int index){

                   return new Container(
                    margin: const EdgeInsets.only(bottom: 8,left: 8,right: 8),
                    child:  Bubble(

[2019-09-25 04:25] cyanglaz commented on #40334
@autolainen Could you explain what did you mean by aspect ratio is broken? What is the expected behavior and what is the behavior you've got?

[2019-09-25 04:36] wliumelb opened #41253 "`pod setup` does not work for Cocoapods 1.8.0"
I was doing a fresh Flutter installation on a new Mac.

Following the instructions of Flutter doctor to install cocoapods with `sudo gem install cocoapods`, Cocoapods 1.8.0 was installed.
Then after running `pod setup`, nothing happened, and cocoapods was still not initialised.

The solution was to remove cocoapods with `sudo gem uninstall cocoapods` and then install Cocoapods 1.7.5 with `sudo gem

[2019-09-25 04:41] #41228 closed

[2019-09-25 04:45] jamie1192 commented on #37668
here's a quick sample project to demonstrate - https://github.com/jamie1192/EscapeStringSample

[2019-09-25 04:52] digiter commented on #40989
Fixed.

[2019-09-25 04:52] #40989 closed

[2019-09-25 04:52] eugenejeonme commented on #36414
Please refer.
https://github.com/flutter/flutter/issues/23204#issuecomment-520215092

[2019-09-25 05:04] anihow commented on #37015
same issue. Suddenly not able to register users/not able to authenticate the users created some time back.
W/BiChannelGoogleApi( 9954): [FirebaseAuth: ] getGoogleApiForMethod() returned Gms: com.google.firebase.auth.api.internal.zzak@af11f2c

[2019-09-25 05:19] Ankudev opened #41255 "WebviewManager.java uses unchecked or unsafe operations."
Hello, when I Run the application on the phone via Android Studio, there is an error in the console. The application works properly, but can this error be eliminated? This is my first post on GitHub sorry for mistakes.
Greetings :)
## My Error
      Run  `Launching lib\main.dart on SM A505FN in debug mode...` all the log output:
Initializing gradle...
Resolving dependencies...
Running Gradle task

[2019-09-25 05:32] renanyoy commented on #20438
I tried this one yesterday, and flare player was having exception in his code (something like missing iterate function)
https://lottiefiles.com/9644-delivery-riding
flr version http://pub.waves.pw/ms/scooter.flr

[2019-09-25 05:37] ymback commented on #40732
Yes, it works now.
Thank you.

[2019-09-25 05:37] #40732 closed

[2019-09-25 05:40] dev-zl opened #41256 "SystemUiOverlayStyle class ,option statusBarIconBrightness and systemNavigationBarIconBrightness setting invalid"
## CODE

[code]

## image

![image](https://user-images.githubusercontent.com/36152331/65572276-33e34200-df9a-11e9-9824-5f8d0e8e6b0a.png)

[√] Flutter (Channel stable, v1.7.8+hotfix.3, on Microsoft Windows [Version 10.0.17134.112], locale zh-CN)
    • Flutter version 1.7.8+hotfix.3 at C:\
    • Framework revision b712a172f9 (3 months ago), 2019-07-09 13:14:38 -0700
    • Engine revision 54ad777fd2

[2019-09-25 05:43] hamidrezabstn opened #41257 "[Web] - cupertino action sheet issue on web"
on showing actionsheet its background change to transparent and no scrim is showing
## Steps to Reproduce
1. Create a simple application
2. use cuppertinoapp as root widget
3. show a cupertinoactionsheet using showCupertinoModalPopup
4. run it on web

[code]

[2019-09-25 05:45] singh-preet opened #41258 "Hello, I am trying to use the DropdownButton, however, when I initialise value for this widget, it gives me an error."
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-09-25 05:46] singh-preet opened #41259 "DropdownButton with invalid value generates error that can be confusing"
I am trying to use DropdownButton, which is working without the value paramenter.
However, as soon as I initialise value, it gives me the below error.

[code]

[2019-09-25 05:49] stuartmorgan commented on #41253
It looks like our initialization check is looking for the local repo, but 1.8.0 uses the CDN by default which doesn't require it, so it's likely that `pod setup` is no longer pulling it down.

We'll need to figure out how we want to handle this (assuming that is indeed what's going on). We should likely switch our Podspec template to use the CDN, but we'll need to see what is needed to handle proj

[2019-09-25 05:57] dev-zl commented on #39048
@samuelg123 @samfrank
![image](https://user-images.githubusercontent.com/36152331/65572950-40689a00-df9c-11e9-9aa0-02c01062c04c.png)
try to use getWindow().xx

[2019-09-25 06:01] AJearyzhe opened #41260 "IndexedStack does not work within a stack"
## Steps to Reproduce

Put and index stack in a regular stack at any position and it does not appear visible. I was trying to use it to make a background carousel.

## Logs

[code]

[code]

[2019-09-25 06:02] jerryzhoujw commented on #36609
@BondarenkoStas  waiting https://github.com/flutter/flutter/issues/37699 to solved first, so I can't test it on device.

[2019-09-25 06:11] JamesKarl commented on #36928
@BondarenkoStas This issue doesn't occur recently. You can close this issues for now. If this issue reproduce again in future, I will provide a self-contained app. Thank you very much for your support and efforts.

[2019-09-25 06:11] #36928 closed

[2019-09-25 06:12] jibraniqbal666 commented on #41114
what phone are you using? I really couldn't found the root of the problem, but it might if you try to run armv7 apk on armv8.
try flutter clean.
flutter build apk --split-per-abi
you will get
<app dir>/build/app/outputs/apk/release/app-armeabi-v7a-release.apk
<app dir>/build/app/outputs/apk/release/app-arm64-v8a-release.apk
run on device.

[2019-09-25 06:23] deepikahr opened #41261 "The following assertion was thrown building Home(dirty, state: _HomeState#505a6): Failed assertion: boolean expression must not be null"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-09-25 06:34] escamoteur commented on #41066
@mwk24 but #37699 is an iOS bug.

[2019-09-25 06:36] LehaIvanov commented on #41194
@gspencergoog, today we just switched our Flutter installation to [this commit in #41014]( https://github.com/flutter/flutter/pull/41014/commits/64b2695b40560d37022847e1871786a56b25554a) and the issue is still there, we didn't notice any improvements in our cases...

[2019-09-25 06:37] wedcel opened #41262 "[web] dart:html and dart:js lib is not found"
After flutter 1.9 version,Flutter for web had merge to flutter, but dart:html and dart:js lib is not found, how can I call js in the dart? how can i get the cookie in the dart?

[2019-09-25 06:45] escamoteur commented on #39669
Does this only happen on a real device?
I just tried to reproduce on an Pixel2 emulator. On which Android version are you?

[2019-09-25 06:48] escamoteur commented on #29706
@jonahwilliams is this as designed because the fields are only initialized when MyApp is created?

[2019-09-25 06:48] almeynman commented on #14330
Hey, I am in need for this now. Goodle has stricted their review policy. Our app takes 2 weeks to update now... Our lean methodology goes to shit with this.

@NEELANSHSETHI can you post the plan here? We can start implementing it

[2019-09-25 06:50] gaojuanjuan commented on #40830
I used flutter clean but it didn't work out

[2019-09-25 06:53] escamoteur commented on #40823
/reminder 1 month

[2019-09-25 06:57] escamoteur commented on #29042
If you know how do do this on the native side any PR would expedite this issue :-)

[2019-09-25 07:00] longravuth commented on #29092
For anyone who is facing this issue because you are calling result.success() or result.error() from a native callback function, i found the solution. Implement your request handler like in CameraRequestPermissionsListener class in https://github.com/flutter/plugins/blob/master/packages/camera/android/src/main/java/io/flutter/plugins/camera/CameraPermissions.java

then when you receive the callback

[2019-09-25 07:03] mehdidavarpanah66 opened #41264 "hi my question is very simple"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-09-25 07:03] escamoteur commented on #41262
Hi, could you please try this in the master channel?

Also please provide us the output of your `flutter doctor?

[2019-09-25 07:03] #41264 closed

[2019-09-25 07:04] mehdidavarpanah66 opened #41265 "how set focus to last item in listview.builder"

[2019-09-25 07:05] escamoteur commented on #41261
Hi,

please provide us the output of `flutter doctor` and give us more context. Show us please the full error message and your code.
Otherwise we cannot help you.

[2019-09-25 07:05] mehdidavarpanah66 commented on #41265
i have a chat app but list view after set state focus on first item and i want focus on last item like telegram or other messengers

[2019-09-25 07:07] escamoteur commented on #41260
Hi,

could you please try if this bug also appears if you switch to master? Thanks

[2019-09-25 07:18] escamoteur commented on #41259
Are you sure you have an element in the `items`collection with the  value of `value`  because that's my guess.

please provide us the output of `flutter doctor` and give us more context.
Otherwise we cannot help you.

@HansMuller I think this assert should be split into two separate to give a better error message.

[2019-09-25 07:18] autolainen commented on #40334
Hello Chris!

When picture is taken in portrait orientation on iOS and one or both parameters maxHeight and maxWidth specified - the result image aspect ratio is incorrect. The correct behavior is, obviously, that the aspect ratio would be preserved.

Please feel free to contact me in case further explanations needed.

Anton

--
Антон Чумак

[2019-09-25 07:18] sergicastellsague commented on #20517
@cbracken @chinmaygarde I wonder if there's any feasible workaround we can implement on our side or even an ugly fix would work for us.
Our top three crashes in reported in Fabric come from Flutter's core code, this being the first crash by a big difference.

[2019-09-25 07:19] ened commented on #39047
@tvolkert should https://github.com/flutter/flutter/wiki/Bad-Builds be updated to reflect the affected version range (1.9.2 - 1.9.7)?

[2019-09-25 07:19] #41258 closed

[2019-09-25 07:20] sma commented on #41265
This is a question best ask on [stackoverflow](https://stackoverflow.com/questions/49153087/listview-scrolling-to-widget). You probably also want to reverse the list view so that the first item is displayed at the bottom of the list.

[2019-09-25 07:20] escamoteur commented on #41265
Hi,

please ask such questions on stackoverflow. We are not able to provide indiviudal support here, thanks

[2019-09-25 07:20] #41265 closed

[2019-09-25 07:23] escamoteur commented on #41257
Hi,

could you please try if this bug also appears if you switch to master? Thanks

[2019-09-25 07:23] voiddog commented on #36898
I catch the same problem too

The problem is in `ShimPluginRegistry#onDetachedFromActivity`, it forget to set the field `activityPluginBinding = null;`, `ShimPluginRegistry#onDetachedFromActivityForConfigChanges` is right

@BondarenkoStas

[2019-09-25 07:37] escamoteur commented on #41256
Hi,
could you please upgrade and try on  on latest stable ?
Also please try if this also happen on master, thanks.

[2019-09-25 07:37] #38183 closed

[2019-09-25 07:38] artem-zaitsev commented on #41196
Okay, thank you for explanation! I clearly understood.

[2019-09-25 07:38] escamoteur commented on #41255
Hi,
thanks for reporting. We will look into this as we have time because this isn't a critical bug.

[2019-09-25 07:41] escamoteur commented on #28609
Ok, then I will close this issue. If you find a bug in url_launcher please open a new issue.

[2019-09-25 07:41] #28609 closed

[2019-09-25 07:47] escamoteur commented on #41252
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 07:47] #41252 closed

[2019-09-25 07:49] escamoteur commented on #41250
Hi,

do I understand this right, you are trying to add a Flutter view into a native ios App?

could you please try if this bug also appears if you switch to master? Thanks

[2019-09-25 07:50] alan-criton commented on #34959
I've been struggling with this similar error on 1.7.2+hotfix.4 and 1.9.1+hotfix.2 when trying to build in development mode on iphone 7 and iphone X (both running ios 12.x).

Gist from verbose-put: https://gist.github.com/alan-criton/d4138de4d7e60e9682b9e41088cd496c

[2019-09-25 07:55] LongCatIsLooong commented on #41257
The color of the scrim has been changed to `Color(0x33000000)` (or `Color(0x7A000000)` in dark mode) from  `Color(0x6604040F)` (https://github.com/flutter/flutter/pull/40007). The scrim is much less visible now but should still be there.

[2019-09-25 07:58] escamoteur commented on #41249
Hi,
thanks for reporting. Could you please paste your full debug log here ?
Btw the green circular icon with the arrow does no hot reload but a hot restart of you app. Normally the hot reload should be triggered the moment you save the file. (You did save the file, right?)

[2019-09-25 08:00] rg4real opened #41266 "Support google/oboe"
Google released a C++ library to fix audio issue with Android. It's great and promising:
https://github.com/google/oboe

If flutter would integrate it into a library it would become a go-to option to work with audio apps.

And overall it's would be a great integration. Your thoughts?

I would love to help in any way, but I need guidance. Last time I've touched C++ was 10 years ago in university. G

[2019-09-25 08:02] escamoteur commented on #41248
Hi, thanks for reporting. Could you please try if this also happens if you switch to master channel?

[2019-09-25 08:03] khainhero commented on #26687
Actually it seems to always depend on if a flutter build is good or not.

I still have the issue at many times, I have Project(Google) Fi network for my mobile device which has built in VPN enabled. I use the VPN and it helps with this problem.

With the VPN I can use my home Wi-FI. Yeah...I Just hope this wont be issue for my users and as long as it offends me, I am fine by that.

[2019-09-25 08:05] escamoteur commented on #41257
Thanks for trying

[2019-09-25 08:06] Zazo032 opened #41267 "Update "Developing packages & plugins" docs"
As https://github.com/flutter/flutter/issues/33302 seems to be fixed, the command in the [docs](https://flutter.dev/docs/development/packages-and-plugins/developing-packages#publishing-packages) should be updated to reflect the changes.

[2019-09-25 08:06] Zazo032 commented on #41267
cc @mit-mit

[2019-09-25 08:10] escamoteur commented on #41243
This is the reason
[code]

[2019-09-25 08:10] #41243 closed

[2019-09-25 08:15] escamoteur commented on #41239
What do you mean by scrolling up? I don't see any ScrollView in your code.

I don't understand *the map overlap App Bar instead of start disappearing from my view*

Please tell us which version of map_view you are using? Check pubspec.lock

please provide us the output of `flutter doctor` and give us more context.
Otherwise we cannot help you.

[2019-09-25 08:19] escamoteur commented on #41238
Hi,

please provide us the output of `flutter doctor` and give us more context. Show us please the full error message and your code.

Are you experience this on windows or mac?

Otherwise we cannot help you.

[2019-09-25 08:20] escamoteur commented on #41237
Could you please elaborate what you mean or is this an internal issue?

[2019-09-25 08:21] escamoteur commented on #41226
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 08:21] #41226 closed

[2019-09-25 08:21] MohamedSayed95 opened #41268 "Device using Qualcomm Adreno 308 - last update - black screen (build/release apk)"
please make sure it's working at least
took me 4 hours to figure out it's engine/skia bug

even stable channel has same bug

[2019-09-25 08:23] escamoteur commented on #41216
@jonahwilliams do we have a problem with Java 9?

[2019-09-25 08:25] mit-mit commented on #41267
Unfortunately this didn't make it into the Flutter 1.9 stable build, so we have to wait a bit before updating the docs. Assigning to self to make sure we get this updated eventually.

[2019-09-25 08:32] tevin-maxwell opened #41269 "google map"

[2019-09-25 08:32] #41269 closed

[2019-09-25 08:33] ElectronSz commented on #33817
Same here, the provided soulution never worked for me.

The Gradle failure may have been because of AndroidX incompatibilities in this Flutter app.
See https://goo.gl/CP92wY for more information on the problem and how to fix it.
*******************************************************************************************
Gradle task assembleDebug failed with exit code 1

I've created so many Android

[2019-09-25 08:35] escamoteur commented on #41266
Hi, this is a job to be done in a package.
If you want to give it a shot,  I recommend to join https://groups.google.com/forum/#!forum/dart-ffi
I fear we can't help with C++ questions bus Google is your friend :-)

[2019-09-25 08:35] #41266 closed

[2019-09-25 08:37] escamoteur commented on #41268
I'm sorry but we would need a bit more information what bug you are talking about.
Does it also happen on master?

[2019-09-25 08:40] jazzbpn opened #41270 "Using HTML, assets Images not rendering in flutter-ios. How to render asset-images inside html <img src> tag in flutter without using webview?"
I am using HTML/CSS to create PDF views. So, In some cases we need render images from the local asset-folder. When we try to render the file from assets folder image is not displaying. How to resolve this issue?

[Full question at stackoverflow](https://stackoverflow.com/questions/57956232/assets-images-not-rendering-in-flutter-ios-how-to-render-local-asset-images-ins)

[2019-09-25 08:43] escamoteur commented on #30095
Hi, just want to check if this is still a problem for you.

[2019-09-25 08:45] MohamedSayed95 commented on #41268
yes, it does
the problem is, app shows a black screen and elements exist when i touch my textField widget keypad shows up

i built new flutter project with default counter example.. same

so, after 4 hours of digging i switched back to 1.7.8-hotfixes

[2019-09-25 08:47] andraskende commented on #39669
Emulator with Pixel 3XL worked, so yes this is only not working  on my real device...

Real device is Pixel 3a XL android 10 (also same issue on android 9) USB debugging..

Will try with different phone next few days...

Similar issues:
#35397
#29500 2.
#25232
#38069

[2019-09-25 08:48] rg4real commented on #7053
@sjindel-google , that are some awesome news!

So I need to create a bridge between C++ and C code by creating classes and functions. And then I can use that classes and call that function from a Dart code. I think that's right.

@atsushieno , thank you. I am taking a look. I am not sure how to make bridges in my case (lack of experience). But did you manage to achieve your overall goal of precise

[2019-09-25 08:50] Zazo032 opened #41271 "Hot restart crashing on latest master"
When using Hot restart button from Android Studio, app crashes on physical device and process is exited, so you need to re-run the app again. Stable channel works fine.

## Steps to Reproduce

1. Run app in debug mode (Run icon in Android Studio)
2. After the app is running, click the same icon again (hot restart)
3. App crashes (don't know why)

Maybe related to https://github.com/flutter/flutter

[2019-09-25 08:54] escamoteur commented on #30097
Hi, just want to check if this is still a problem for you.

[2019-09-25 08:55] stonekase commented on #41180
they are not related

[2019-09-25 08:55] escamoteur commented on #30098
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 08:55] #30098 closed

[2019-09-25 08:56] escamoteur commented on #30099
@Hixie is this so? Why do we have two widgets for this? Could we deprecate one

[2019-09-25 08:57] escamoteur commented on #30100
Hi, just want to check if this is still a problem for you.

[2019-09-25 08:58] bineanzhou commented on #41186
my ext
https://github.com/bineanzhou/webview_flutter_ext

[2019-09-25 08:58] escamoteur commented on #30104
Hi, just want to check if this is still a problem for you.

[2019-09-25 08:59] #30106 closed

[2019-09-25 08:59] bineanzhou commented on #41186
my ext
https://github.com/bineanzhou/webview_flutter_ext

[2019-09-25 09:00] escamoteur commented on #30110
@jmagman is this still a problem?

[2019-09-25 09:01] plamena-dimitrova opened #41272 "Sensor mismatch"
## Steps to Reproduce
Issue reproduced on Samsung S9+ (G965F)
1. Remove all saved fingerprints from device
2. Remove face recognition from device
3. Register irises for iris scanning
4. Attempt biometric authentication via local_auth plugin

When attempting biometric authentication, the plugin seems confused as to what kind of authentication it's using. See screenshot attached

![70793915_66929635

[2019-09-25 09:02] escamoteur commented on #30111
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:02] VHCBlade commented on #37046
Worth nothing that this is true for all text fields inside Nested Navigators, not just CupertinoTabView.

[code]

[2019-09-25 09:02] escamoteur commented on #30135
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:06] FLYINGKRIPTO commented on #28787
Thanks.... Worked for me too

[2019-09-25 09:06] Shahineven commented on #33018
i didnt use any gallery image or anything  .. just plain , a simple demo code from flutter.dev

D/skia    (13527): Shader compilation error
D/skia    (13527): ------------------------
D/skia    (13527): Errors:
D/skia    (13527):
D/skia    (13527): Shader compilation error
D/skia    (13527): ------------------------
D/skia    (13527): Errors:
D/skia    (13527):
D/skia    (13527): Shader compilatio

[2019-09-25 09:08] escamoteur commented on #30149
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:09] escamoteur commented on #30151
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:10] escamoteur commented on #30158
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 09:10] #30158 closed

[2019-09-25 09:10] Taco55 opened #41273 "Cannot build Flutter app in release mode for ios"
Cannot build Flutter app in release mode for ios. Running in debug mode on a simulator works fine.

The following error is obtained with

`flutter --verbose build ios --release -t "lib/main_staging.dart"`

[code]

[code]

This error occurs both on macOS Catalina and Mojave, and with Xcode 10 with Flutter 1.9.

What might go wrong here?

[2019-09-25 09:10] escamoteur commented on #30168
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 09:10] #30168 closed

[2019-09-25 09:10] escamoteur commented on #30169
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 09:10] #30169 closed

[2019-09-25 09:11] escamoteur commented on #30170
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 09:11] #30170 closed

[2019-09-25 09:12] swavkulinski commented on #41272
local_auth 0.6.0, older versions have broken ui.

[2019-09-25 09:12] escamoteur commented on #30180
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:12] escamoteur commented on #30188
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:15] escamoteur commented on #30189
Hi, just want to check if this is still a problem for you.

does file_picker plugin not work? https://pub.dev/packages/file_picker

[2019-09-25 09:16] escamoteur commented on #30190
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:17] escamoteur commented on #30221
Hi, this isn't a google plugin, so we can't help you there.

[2019-09-25 09:17] #30221 closed

[2019-09-25 09:18] escamoteur commented on #30237
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:20] escamoteur commented on #30242
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:21] vijaykanta commented on #34324
I don't know how you guys solved it, because the OP didn't mark one as solution.

However, the way I solved it was to have certain conditions while using the release configurations written in the app/gradle file

[code]

and then in the android section
[code]

[2019-09-25 09:21] escamoteur commented on #30243
Hi, could you please check if this is still an issue? Thanks to bring this to our attention.

[2019-09-25 09:23] HerrNiklasRaab commented on #14330
@almeynman Please keep us up-to-date about your progress :)

[2019-09-25 09:25] escamoteur commented on #30253
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 09:25] #30253 closed

[2019-09-25 09:25] gowtham980 opened #41274 "[web]: Crash report sent (report ID: bbf8269f10f666ed)"
Describe your issue and include the command you're running, flutter_web version, browser version

[2019-09-25 09:27] ChinaskiJr commented on #20611
Same here with 1.9.1+hotfix.2

[2019-09-25 09:28] unclexiao commented on #38407
@githubhai Thank you very much , and it worked

[2019-09-25 09:30] escamoteur commented on #30256
@joaquinrok It's not clear to me which would be your desired behavior, I guess you want it to be like on iOS but your issue title suggests that the problem lies in iOS.
Does the problem still exists with the latest version of web_view ?

@kritikaperiwal12 Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 09:33] #30260 closed

[2019-09-25 09:34] marcmarder commented on #18547
Error still accurring...

[2019-09-25 09:34] escamoteur commented on #30269
Could you both upgrade to latest stable and try also master if the problem still isn't fixed?

[2019-09-25 09:35] escamoteur commented on #30271
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:36] escamoteur commented on #30272
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:36] sumujain1995 commented on #40683
Is there any plans to push this changes on Stable Channel ?? @jmagman @escamoteur @BondarenkoStas

[2019-09-25 09:37] jigarfumakiya commented on #33687
any update on this issue.

[2019-09-25 09:39] escamoteur commented on #30273
Hi, just want to check if this is still a problem for you with the latest version of web_view.

[2019-09-25 09:41] escamoteur commented on #40683
@sumujain1995 You won't expedite this by reopening the issue.

[2019-09-25 09:41] #40683 closed

[2019-09-25 09:42] escamoteur commented on #30277
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:43] Lillls opened #41275 "当Container包含platform view时，圆角不生效 (Fillet does not take effect when Container contains platform view)"
当Container包含platform view时，圆角不生效
(Google translate) Fillet does not take effect when Container contains platform view

[2019-09-25 09:45] Kiboom commented on #29341
We’re building a Q&A service using Flutter, which contains TextFields for the question.
Users tend to type lengthy text on it, so there's a high chance that they move cursor and insert some characters.
But like it's been discussed in the thread, the same issue reproduces in our TextFields on Samsung devices with Samsung Keyboard.
Since writing action is the key feature of our app, it's very critic

[2019-09-25 09:48] escamoteur commented on #30278
Hi,

does this still happen on latest stable if you create a new project?
Thanks

[2019-09-25 09:48] escamoteur commented on #30282
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:49] escamoteur commented on #30292
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:50] Zazo032 opened #41276 "Can't change fontFamily when using ThemeData light/dark constructors"
When using a `MaterialApp`, you can change the `fontFamily` of the whole app by specifying the `fontFamily` parameter in the provided `ThemeData`.

## Steps to Reproduce

1. Create a new app
2. Specify the `theme` and `darkTheme` parameters as in the provided code

## Sample code

[code]

Notice the first `fontFamily` will not be valid, whereas the second one will. This parameter is important beca

[2019-09-25 09:51] Bibin101 commented on #41249
I have set the hot reload on save, Ctrl + s. It says reloaded 0 libraries when i have changed some properties . I am confused . it works when i restart it though.

[2019-09-25 09:53] escamoteur commented on #30300
Does this still happen with latest master?
@jonahwilliams

[2019-09-25 09:53] wannamit opened #41277 "Issue with adding flutter module to existing native iOS app."
## Steps to Reproduce

1. I created an iOS single view app (hostapp) and converted it to pod workspace. Runs well.
2. Then created flutter module (clientapp) `flutter create  --org com.mycompany -i swift -a kotlin -t module clientapp`, provided iOS team. Runs well, independently.
3. Turned off Bitcode for hostapp and clientapp, as it caused other problems.
4. Now added clientapp to hostapp via pod

[2019-09-25 09:54] escamoteur commented on #41249
could you please paste the output of `flutter doctor`here

[2019-09-25 09:55] escamoteur commented on #30313
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:57] escamoteur commented on #30319
I close this here because it is discussed in the other issue already

[2019-09-25 09:57] #30319 closed

[2019-09-25 09:57] escamoteur commented on #30322
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:58] escamoteur commented on #30325
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 09:58] #30325 closed

[2019-09-25 09:58] escamoteur commented on #30330
Hi, just want to check if this is still a problem for you.

[2019-09-25 09:59] vini2001 commented on #41239
Please, check this record: https://drive.google.com/file/d/1BBIABFhxyTJWDGgpG5IKurNmmn3k8Uun/view?usp=sharing

I'm using the latest version of map_view and flutter doctor doesn't present any issues. There is a Scroll View, I just didn't send the entire code.

[2019-09-25 10:02] escamoteur commented on #30332
This should be fixed in the upcoming PR. you can monitor the PR if you want to follow it. If you still have problems please reopen this issue

[2019-09-25 10:03] cyanglaz opened #41278 "FlutterView crash, accessing UIView.layer in non-main thread"
I started to experience a silent crash when using image picker, which also freeze the app for a while before proceeding. The crash itself doesn't seem to relate directly to the image_picker. The flutter is running on master.

The main crash reason is accessing UIKit API in our GPU thread.

Reproduce: Launch image_picker plugin example app. Take a photo with the image picker and select Photo. The a

[2019-09-25 10:03] Bibin101 commented on #41249
#DFDFDF

[2019-09-25 10:04] Bibin101 commented on #41249
I have pasted the output of flutter doctor above

[2019-09-25 10:04] monkingame commented on #37699
How long?
I found print() outputing nothing under master channel.

[2019-09-25 10:05] escamoteur commented on #41249
Oh sorry I missed that. Better to paste it as text.
Could you please try on the master channel?

[2019-09-25 10:06] escamoteur commented on #41239
Thanks, this is really helpfull for us. Does this happen on iOS and Android?

[2019-09-25 10:07] Bibin101 commented on #41249
what is a master channel?? sorry I am a newbie..

[2019-09-25 10:08] escamoteur commented on #37699
@monkingame please have a bit more patient. you won't make it faster by asking ;-)

[2019-09-25 10:08] audkar commented on #30332
Maybe issues should be closed after PRs are merged in to master? PRs can be rejected, delayed etc. Noone will go and reopen tickets in these cases.

[2019-09-25 10:09] escamoteur commented on #30332
If it was an PR from the outside I would agree.

[2019-09-25 10:10] Aronlong1001 commented on #27216
i have the same question, have you solved it, please?

[2019-09-25 10:10] escamoteur commented on #41249
call `flutter channel master`
then do a `flutter upgrade`

[2019-09-25 10:10] Zazo032 opened #41279 "InkWell + Card not rendering properly"
When wrapping a `Card` with an `InkWell` widget, the splash effect is rendered under the `Card` and outside its bounds. If the `InkWell` is specified as a child of the `Card`, it will render properly, but it also renders out of its bounds (`Card` has rounded corners, `InkWell` renders a square withoud rounded corners).

## Steps to Reproduce 1

1. Create a new app
2. Run the sample code
3. `InkWel

[2019-09-25 10:12] vini2001 commented on #41239
Actually I can't say for sure, I couldn't reproduce the bug either on my 2 android devices or IOS Simulators. The record I sent you was made by my boss

[2019-09-25 10:14] Bibin101 commented on #41249
It shows the follow error...

PS H:\flutter\lado> flutter channel master
Switching to flutter channel 'master'...
git: From https://github.com/flutter/flutter
git:    3932ffb1c..3cf88fed6  dev             -> origin/dev
git:    5a3a46ada..7bf9aea25  master          -> origin/master
git:  * [new branch]          refactor        -> origin/refactor
git:  * [new branch]          revert-40634-goldenTria

[2019-09-25 10:14] escamoteur commented on #37699
I guess this is related to https://github.com/flutter/flutter/issues/30336 which both use platform views.

[2019-09-25 10:15] Bibin101 commented on #41249
Did it switch to master channel?

[2019-09-25 10:16] escamoteur commented on #41239
I guess this is related to #30336 which both use platform views.
The video looks like iOS.
Could you ask on which Phone and which iOS version?

[2019-09-25 10:16] LucheGames commented on #29589
Thanks DanTup. Can confirm, only opening the specific flutter project folder in VS Code fixed debug problems for me. I was having trouble when opening a global folder of many flutter projects. Not an obvious bug to squash, VS error message only flashed for a milisecond.

[2019-09-25 10:16] stevemoreau commented on #25767
Unfortunately I don't have more time to fix it :(
Current status today:
- my draft PR https://github.com/flutter/plugins/pull/2071 is broken but seems to work in some cases
- uldaman's open PR https://github.com/flutter/plugins/pull/2081 crashed on API 23 real device / API 24 emulator with my webview

@amirh commented into my draft PR:

The problem seems deep and related to native Android issues (

[2019-09-25 10:18] escamoteur commented on #41249
yep, now do a flutter upgrade

[2019-09-25 10:19] Bibin101 commented on #41249
ok. will get back to you...

[2019-09-25 10:21] escamoteur commented on #41279
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:23] michael-chiu commented on #41199
**Correction on the issue:**
Currently can build a FAT apk using "assembleRelease" with Flutter v1.9.1+hotfix.2 channel stable, and the apk works great.

However, building on current master channel v1.10.6-pre.59 result an apk (with libflutter.so in both 32bit and 64bit folder) which crash with the following:

    --------- beginning of crash
2019-09-25 14:22:45.082 27683-27722/? A/libc: Fatal sig

[2019-09-25 10:24] justinwyer commented on #30322
Nope it's working fine now thanks

[2019-09-25 10:24] #30322 closed

[2019-09-25 10:25] Lillls opened #41280 "Border Radius does not take effect when Container contains platform view"
Border Radius does not take effect when Container contains platform view

[2019-09-25 10:27] vini2001 commented on #41239
Yes, of course, when he answers me I get back to you, thank you

[2019-09-25 10:28] Zazo032 commented on #41279
Just a proposal to improve the framework, if possible. Following steps to reproduce 2 and adding the `borderRadius` parameter to the `InkWell` as stated at the end of sample code 2 solves it, but the request here is, if possible, for `InkWell` to fit properly the parent widget (for example. corners are not rounded by default even if parent (`Card`) does have rounded corners).

[2019-09-25 10:28] NTMS2017 commented on #38458
@ BondarenkoStas its working after upgrade to new stable channel, thanks

[2019-09-25 10:29] escamoteur commented on #30349
Hi,

Firebase has a new home here https://github.com/FirebaseExtended/flutterfire please raise there a new issue and reference this one.
Thanks

[2019-09-25 10:29] #30349 closed

[2019-09-25 10:29] #30354 closed

[2019-09-25 10:30] escamoteur commented on #30356
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:30] NTMS2017 commented on #37166
I will used Material, and I will test it again using Cupertino and open new issue if problem still exist. Thanks

[2019-09-25 10:30] #37166 closed

[2019-09-25 10:31] NTMS2017 commented on #36561
solved when I upgrade my flutter to new stable channel.

[2019-09-25 10:31] #36561 closed

[2019-09-25 10:32] NTMS2017 commented on #35536
solved after upgrading to new stable channel

[2019-09-25 10:32] #35536 closed

[2019-09-25 10:33] NTMS2017 commented on #34475
thanks, its working.

[2019-09-25 10:33] #34475 closed

[2019-09-25 10:34] NTMS2017 commented on #30188
@escamoteur itms working after I upgrade to new version of stable channel.

[2019-09-25 10:34] #30188 closed

[2019-09-25 10:34] namiwang opened #41281 "gralde: Could not find io.flutter:flutter_embedding_debug:1.0.0"
# repro

1. `flutter create -i swift -a kotlin tester`
2. `cd tester`
3. `flutter run`

# output

[code]

# doctor

[code]

Also tested in `master` branch, same thing happened.

[2019-09-25 10:35] escamoteur commented on #30358
Hi, there is a PR on the way you can follow it here https://github.com/fluttercommunity/flutter_webview_plugin/pull/522

[2019-09-25 10:36] NTMS2017 commented on #38973
working perfectly on new stable channel but I like to see more example  how to use correctly SingleChildScrollView in flutter documentation.

[2019-09-25 10:36] #38973 closed

[2019-09-25 10:36] #38458 closed

[2019-09-25 10:37] escamoteur commented on #30360
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:37] NTMS2017 commented on #18764
this is very old and I am closing the issue. New plugin works perfectly.

[2019-09-25 10:37] #18764 closed

[2019-09-25 10:40] escamoteur commented on #30362
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:41] codenamics commented on #36678
today's flutter run on iphone 8 took 42 min

[2019-09-25 10:42] changxiangzhong commented on #13749
@Hixie Please consider add Android TV support to the road map. I'm pretty much in the same position as @FullstackJack . I have the intention to introduce it to my Employer as well.

[2019-09-25 10:44] escamoteur commented on #41279
Alternatively you could wrap it with ClipRRect

[2019-09-25 10:45] robsonfingo commented on #37046
That explains why we have the crash. We use nested navigators too.

[2019-09-25 10:46] escamoteur commented on #30363
Hi,

please provide us the output of `flutter doctor` and give us more context. Show us please the full error message and your code.
Otherwise we cannot help you.

[2019-09-25 10:47] escamoteur commented on #30370
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:48] calebfung commented on #38183
Thanks @LongCatIsLooong!

[2019-09-25 10:48] escamoteur commented on #30372
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:49] escamoteur commented on #30373
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:49] BondarenkoStas commented on #37668
sorry @goderbauer, I used the label in a wrong way.

[2019-09-25 10:49] escamoteur commented on #30374
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:50] Maxwell6635 commented on #15697
Having this issues now.

[✓] Flutter (Channel stable, v1.9.1+hotfix.2, on Mac OS X 10.14.6 18G95, locale en-MY)
    • Flutter version 1.9.1+hotfix.2 at /Users/jackson.foo/Downloads/flutter
    • Framework revision 2d2a1ffec9 (3 weeks ago), 2019-09-06 18:39:49 -0700
    • Engine revision b863200c37
    • Dart version 2.5.0

[✓] Android toolchain - develop for Android devices (Android SDK version 29

[2019-09-25 10:50] escamoteur commented on #30375
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:51] escamoteur commented on #30377
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:52] escamoteur commented on #30381
Hi, just want to check if this is still a problem for you.

[2019-09-25 10:55] escamoteur commented on #31323
@jonahwilliams As `flutter upgrade` is mostly from a projects folder like using the terminal of the IDE I think it would be a reasonable idea.
Alternatively could `flutter run` check if the flutter version has changed since the last build?

[2019-09-25 10:56] escamoteur commented on #30400
Hi,

Firebase has a new home here https://github.com/FirebaseExtended/flutterfire please raise there a new issue and reference this one.
Thanks

[2019-09-25 10:56] #30400 closed

[2019-09-25 10:59] escamoteur commented on #30409
@Hixie can we close this one then?

[2019-09-25 11:01] escamoteur commented on #30410
Hi,

Firebase has a new home here https://github.com/FirebaseExtended/flutterfire please raise there a new issue and reference this one.
Thanks

[2019-09-25 11:01] #30410 closed

[2019-09-25 11:01] escamoteur commented on #30417
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:01] escamoteur commented on #30418
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:02] escamoteur commented on #30419
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:04] escamoteur commented on #30427
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:07] escamoteur commented on #30430
Like this
![image](https://user-images.githubusercontent.com/16635729/65595557-59218180-df95-11e9-9667-8bca2dd53590.png)

Unfortunately we cannot give individual support here.

[2019-09-25 11:07] #30430 closed

[2019-09-25 11:08] escamoteur commented on #30432
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:13] escamoteur commented on #30438
Seems  the PR will land soon https://github.com/flutter/plugins/pull/1174

[2019-09-25 11:13] SAITARUN55 opened #41282 "I am facing difficulty when I am running the application"
[code]

[2019-09-25 11:14] duzenko commented on #30377
Yes it is

[2019-09-25 11:14] escamoteur commented on #30443
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:17] AndreHaueisen commented on #26301
Is there a timeline for this plugin?

[2019-09-25 11:20] arjunc369 commented on #38275
No.. its solved.. thanks anyway

[2019-09-25 11:21] #38275 closed

[2019-09-25 11:21] escamoteur commented on #30445
Hi, just want to check if this is still a problem for you.

This only concerns Flutter view in a native Android or  having native views in a Flutter app? Are these Widgets selectable using the flutter driver?

[2019-09-25 11:21] long1eu commented on #30272
Hi!

Yes. The issue is still there. 😁

On Wed, 25 Sep 2019 at 11:38, escamoteur <notifications@github.com> wrote:

[2019-09-25 11:25] escamoteur commented on #30272
@long1eu did you try with the latest master? Does this happen on Android and iOS?

[2019-09-25 11:26] JavierSegoviaCordoba commented on #34678
@shihaohong SystemChrome.setEnabledSystemUIOverlay this is a hack, I don't want a semi-fullscreen app...

[2019-09-25 11:26] escamoteur commented on #30448
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 11:26] #30448 closed

[2019-09-25 11:26] escamoteur commented on #30479
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:27] escamoteur commented on #30482
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:27] BondarenkoStas commented on #41274
@gowtham980 Unfortunately, this report does not have any actionable information - it’s not clear if this is a bug in user code, a bug in the framework, or something else entirely.
Please feel free to comment and I will re-open if you can add the relevant information.

[2019-09-25 11:27] #41274 closed

[2019-09-25 11:28] escamoteur commented on #30486
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 11:28] #30486 closed

[2019-09-25 11:29] BondarenkoStas commented on #41275
@Lillls Can you please explain in more details what exactly the issue is? Please provide your flutter doctor -v, and some reproducible code example.

[2019-09-25 11:29] escamoteur commented on #30489
I don't know if the issue still exists, but this isn't a Google package so please file issues here https://github.com/dlutton/flutter_tts/issues

[2019-09-25 11:29] #30489 closed

[2019-09-25 11:30] BondarenkoStas commented on #41275
Duplicate of #41280

[2019-09-25 11:30] #41275 closed

[2019-09-25 11:30] MSchmack commented on #39352
Same error on the dev channel when running the newest version of flutter with the platform web.

[2019-09-25 11:31] BondarenkoStas commented on #41280
@Lillls Please provide some code snippet or self-contained app that demonstrates the bug. Also provide your flutter doctor -v output.

[2019-09-25 11:32] escamoteur commented on #30492
This isn't a Flutter topic.
Please check these
https://pub.dev/packages?q=nfc

[2019-09-25 11:32] #30492 closed

[2019-09-25 11:32] escamoteur commented on #30493
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:33] escamoteur commented on #30498
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:35] escamoteur commented on #30514
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:35] escamoteur commented on #30516
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 11:35] #30516 closed

[2019-09-25 11:36] escamoteur commented on #30528
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:36] Lillls commented on #41280
**some code snippet**

`Container(
      decoration: BoxDecoration(
        borderRadius: BorderRadius.all(Radius.circular(20)),
      ),
      child: Platform.isAndroid
          ? AndroidView(
              viewType: "NativeAdView",
              creationParams: creationParams,
              onPlatformViewCreated: (id) {
                if (this.onCreateListener != null) {
                  onCr

[2019-09-25 11:37] escamoteur commented on #30539
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:37] sooxiaotong commented on #27373
Nice plugin but for me I need a dynamic height. And the plugin is abit to heavy with stack, my current idea is to use cliprect and scale together.

[2019-09-25 11:37] BondarenkoStas commented on #41195
@matthew-carroll is current state the same as you commented in https://github.com/flutter/flutter/issues/29095#issuecomment-471254270?

[2019-09-25 11:38] escamoteur commented on #30542
Hi, just want to check if this is still a problem for you.

Firebase has a new home here https://github.com/FirebaseExtended/flutterfire please raise there a new issue and reference this one.
Thanks

[2019-09-25 11:38] #30542 closed

[2019-09-25 11:39] escamoteur commented on #30543
The message is pretty clear, you somehow passed `null`to your Text widget.

Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 11:39] #30543 closed

[2019-09-25 11:39] #30544 closed

[2019-09-25 11:40] Lillls commented on #41280
doctor -v
[code]

[2019-09-25 11:41] escamoteur commented on #30549
Please ask questions like that on stackoverflow. We are not able to give individual support. Thanks for your understanding.

[2019-09-25 11:41] atsushieno commented on #7053
@rg4real I was doing that merely for simpler API (compared to OpenSLES) than low latency audio. If I were really serious about latency then I wouldn't use Xamarin.Android. If you are talking about Oboe (or AAudio behind it), then I do use it in [Fluidsynth](https://github.com/FluidSynth/fluidsynth/pull/464) and it works well. Not sure "how good" AAudio is compared to OpenSLES though.

[2019-09-25 11:42] escamoteur commented on #30550
Closing this because #14330 discusses this already

[2019-09-25 11:42] #30550 closed

[2019-09-25 11:43] escamoteur commented on #30551
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:43] BondarenkoStas commented on #41280
@Lillls is it the same using current stable version?

[2019-09-25 11:44] Lillls commented on #41280
doctor -v
[code]

[2019-09-25 11:45] Lillls commented on #41280
**some code snippet**

[code]

[2019-09-25 11:45] Lillls commented on #41280
**some code snippet**

[code]

[2019-09-25 11:45] escamoteur commented on #30554
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:46] escamoteur commented on #30564
Hi, just want to check if this is still a problem for you.

Firebase has a new home here https://github.com/FirebaseExtended/flutterfire please raise there a new issue and reference this one.
Thanks

[2019-09-25 11:46] #30564 closed

[2019-09-25 11:46] escamoteur commented on #30575
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:48] eyupaltindal commented on #37616
I had the same issue too. I had removed all files and folder on "...flutter/.pub-cache" path. After that, there is no warning message on my console.

[2019-09-25 11:48] navidanchitrali opened #41283 "INFO: API 'variantOutput.getProcessResources()' is obsolete and has been replaced with 'variantOutput.getProcessResourcesProvider()'"
Here is the build info:
[code]

[code]

[code]

[2019-09-25 11:49] cooosuper opened #41284 "Another exception was thrown: NoSuchMethodError: invalid member on null: 'findRenderObject'"
## Here is the Exception:
[code]

## Here is my code, main.dart:
[code]

When I run my application first time, it's fine, but when I hot restart the application, the error occurs. Please help fix it. Thank you~

[2019-09-25 11:50] escamoteur commented on #30616
Hi, just want to check if this is still a problem for you.

[2019-09-25 11:50] navidanchitrali commented on #41283
Anybody help Please?

[2019-09-25 11:50] BondarenkoStas commented on #41272
@plamena-dimitrova which version of local_auth do you use?

[2019-09-25 11:52] dev-zl commented on #41256
@escamoteur
Upgrade has no effect

[2019-09-25 11:56] cooosuper opened #41285 "NoSuchMethodError: NoSuchMethodError: The method 'toJson' was called on null."
## command

flutter --no-color run --machine --device-id=chrome lib/main.dart

## exception

NoSuchMethodError: NoSuchMethodError: The method 'toJson' was called on null.
Receiver: null
Tried calling: toJson()

[code]

## flutter doctor

[code]

[2019-09-25 11:58] fabianogadenz commented on #41135
https://pt.stackoverflow.com/questions/412084/como-aplicar-o-filtro-de-sobel-no-dart-flutter question resolved.

[2019-09-25 12:01] escamoteur commented on #30618
@koskorya this is another bug. Does it still occur?

If so please file a separate bug.

@KieranSteyn @EmmanuelAmodu @filipppp  Do you relate to the bug of the thread opener or the one of @koskorya ?

I know that this works because I implemented it in one of our apps.

Looking at the error message
[code]
Tells me that there is a problem with the Twitter apikey/secret.

Please ask questions like tha

[2019-09-25 12:02] BondarenkoStas commented on #41277
@wannamit I wonder if it's related to #40146. Please try if it will work on master channel https://github.com/flutter/flutter/issues/40146#issuecomment-530470137.

[2019-09-25 12:04] escamoteur commented on #41256
Could you explain to me what you mean by *invalid* It's not clear to me just from the image.

[2019-09-25 12:04] wliumelb commented on #41056
@escamoteur no, just over USB

[2019-09-25 12:06] escamoteur commented on #41285
Hi,
thanks for reporting. does this happen directly during startup?

[2019-09-25 12:08] BondarenkoStas commented on #41281
Possibly related to #39729.

[2019-09-25 12:09] Martibis commented on #41032
Worked like a charm, really appreciate it. The main reason for not using the onSelected at my current stage of development is because it would be way more work to change everything to work with onSelected the way my code is at the moment. In a later stage when there is more time it's something that should be done of course!

[2019-09-25 12:09] #41032 closed

[2019-09-25 12:10] BondarenkoStas commented on #41282
@SAITARUN55 Please provide your ```flutter doctor -v``` and the log (`flutter_04.log`).

[2019-09-25 12:12] escamoteur commented on #41056
There is a hotfix on the way that should help with iOS 13 see https://github.com/flutter/flutter/issues/37699#issuecomment-534832518

@wliumelb do you get the same error as @felixyin ?

[2019-09-25 12:13] dev-zl commented on #41256
@escamoteur
The brightness of the top status bar icons.

[2019-09-25 12:15] escamoteur commented on #41268
So it works on 1.7.8-hotfixes?

Could you please elaborate whar the bug exactly is and why you think its an engine bug?
Does this happen on Android and iOS?
Thanks

[2019-09-25 12:17] dev-zl commented on #41256
@escamoteur
option  statusBarIconBrightness ,  i setting Brightness.dark  But there was no change.

[2019-09-25 12:17] BondarenkoStas commented on #41280
I was asking, is it the same when you change to current `v1.9.1+hotfix.2` stable flutter version?

[2019-09-25 12:18] escamoteur commented on #41256
Ah so the status bar should be dark. The Navigationbar is dark, that's ok or not?

DO you know if this was working in earlier versions?

[2019-09-25 12:20] escamoteur commented on #41256
could this be the problem?
https://github.com/flutter/flutter/issues/40590

[2019-09-25 12:26] BondarenkoStas commented on #41283
@navidanchitrali I saw you commented in #1431. What is your gradle version?

[2019-09-25 12:28] wliumelb commented on #41056
@EasonPai  I think it's a different issue since my phone is still running ios 12.
I have also noticed that:
If I disable wifi on the computer, then starting debugging with `flutter run` or with the VS Code debugging tool, then reconnect the computer to the wifi that the phone is connected to, sometimes I get the following error message after a hot reload

It's just the debugger that shuts down, th

[2019-09-25 12:28] jorgecoca commented on #33129
Yes, I think that should solve the problem, or at least cut some execution time. Thanks!

[2019-09-25 12:29] dev-zl commented on #41256
So this is a problem.
I am looking forward to is, Status bar font, icon color for dark

[2019-09-25 12:29] cooosuper commented on #41285
Hi, here is the step.
step1: run the application
step2: open the Developer Tools
then the error occurs.

[2019-09-25 12:31] escamoteur commented on #41056
@wliumelb culd you open a new issue for this? Thanks

[2019-09-25 12:32] escamoteur commented on #41256
@dev-zl does #40590 fit?

[2019-09-25 12:33] wliumelb commented on #41056
@escamoteur ok, will do

[2019-09-25 12:34] escamoteur commented on #41285
- You mean open the Chrome Developer tools?
- Is this a new bug? Did it work with earlier versions of Flutter?
- Could you try to switch to dev and try it there?

[2019-09-25 12:35] zengfr opened #41286 "how to obfuscate *.dart file for pub package lib ? it is not obfuscate Android or ios"
how to obfuscate *.dart file for pub package lib ? it is not obfuscate  Android or ios

[2019-09-25 12:35] namiwang commented on #41281
Not exactly the same error message, but seems related. Close as you see fit.

[2019-09-25 12:37] escamoteur commented on #41284
You didn't dispose the two TextEditingControllers. not sure if this is the reason.

[2019-09-25 12:37] wannamit commented on #41277
@BondarenkoStas Thanks. That worked.

[2019-09-25 12:37] #41277 closed

[2019-09-25 12:37] xTMxTM commented on #36014
Same for me, warning only shows up after building the app after a 'flutter clean'

[2019-09-25 12:39] xTMxTM commented on #22438
Note: Warning only shows up for me when building the app after doing a 'flutter clean' or upgrading flutter version.

[2019-09-25 12:40] dev-zl commented on #41256
@escamoteur
I think this question should be treated as a separate question，You can also merge

[2019-09-25 12:40] escamoteur commented on #41286
What do you understander a *package lib* pub only servers packages in source code

[2019-09-25 12:42] escamoteur commented on #41281
Could you try to upgrade to latest master please?

[2019-09-25 12:44] cooosuper commented on #41285
1、You mean open the Chrome Developer tools?
Answer: Yes.
2、Is this a new bug? Did it work with earlier versions of Flutter?
Answer: Sorry, I'm not sure.
3、Could you try to switch to dev and try it there?
Answer: I have tried. but when I switch to dev, I can't build the flutter tool.
@escamoteur

[2019-09-25 12:48] Parmendrakumar opened #41287 "How to set drawer width different as Web and Mobile."
body: DrawerUserController(
            screenIndex: drawerIndex,
            drawerWidth: MediaQuery.of(context).size.width * 0.75,
            animationController: (AnimationController animationController) {
              sliderAnimationController = animationController;
            },

Currently I am using above code but 0.75 is looking very odd in Web its looking cool in Mobile.

I want to  set

[2019-09-25 12:49] FlashJonas commented on #39549
Thanks,
`JAVA_OPTS="" JAVA_HOME="/Applications/Android Studio.app/Contents/jre/jdk/Contents/Home" flutter doctor`
worked for me!

[2019-09-25 12:49] cooosuper commented on #41284
Sorry, the error is just on flutter web.

[2019-09-25 12:50] vini2001 commented on #41239
iPhone X Latest iOS version

[2019-09-25 12:50] ksilz commented on #37699
@escamoteur It looks like this issue will be fixed soon. Thank you very much!

So I'd like to start a discussion on how we can prevent such issues in the future.

[Flutter 1.9 shipped with iOS 13 support](https://9to5google.com/2019/09/10/flutter-1-9-dart-2-5-released-ios-13/) as a feature on Sep 9. So I assume the Flutter team knew that the iOS deployment was broken. I can understand why you ship

[2019-09-25 12:53] FlashJonas commented on #16280
I got rid of the error by using the solution described here [#39549](https://github.com/flutter/flutter/issues/39549) by @lookfirst
`JAVA_OPTS="" JAVA_HOME="/Applications/Android Studio.app/Contents/jre/jdk/Contents/Home" flutter doctor`

[2019-09-25 12:58] escamoteur commented on #37699
@csells this might interest you

[2019-09-25 12:58] Lillls commented on #41280
yes,it is the same.

[2019-09-25 12:59] escamoteur commented on #41280
Have you checked if this is still a problem on master? Would be great if you could to this.

[2019-09-25 13:02] long1eu commented on #30272
The current master had the same code https://github.com/flutter/engine/blob/50a2c4057c91315eb1d7ee16e9a9d9ef9adf919a/shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm#L83

[2019-09-25 13:03] matheuscaldasrj commented on #25659
Any suggestion on how to get WhatsApp file Audio having an URI like 'content://whatsapp.media.....'

I have opened this [issue](https://github.com/KasemJaffer/flutter_absolute_path/issues/2) in `flutter_absolute_path` but I am pretty sure there is another way to do it

[2019-09-25 13:03] Lillls commented on #41280
This happens in both Android and iOS

[2019-09-25 13:05] Lillls commented on #41280
I will try to check out master

[2019-09-25 13:06] plamena-dimitrova commented on #41272
@BondarenkoStas 0.6.0

[2019-09-25 13:11] escamoteur commented on #41285
I just tried it and the app did not crash when opening the Developer tools.
I'm on Windows so maybe its a problem on the Mac.

I'm also on a newer version of master. Could you upgrade once more please?

[2019-09-25 13:11] tudor07 commented on #23066
@cyanglaz he means picking up an image using `iamge_picker` plugin. I have the same problem but it happens randomly on some Redmi device.

[2019-09-25 13:15] xTMxTM commented on #37616
Note: Warning only shows up for me when building the app after doing a 'flutter clean' or upgrading flutter version.

[2019-09-25 13:15] cooosuper commented on #41285
I switch to dev, and it still occurs.

[2019-09-25 13:16] ghost opened #41288 "how can we draw bitmap and after drawing how to rotate that bitmap in flutter..?"
https://stackoverflow.com/questions/58099224/how-can-we-draw-bitmap-and-after-drawing-how-to-rotate-that-bitmap-in-flutter

[code]

[2019-09-25 13:18] ordsen commented on #35267
Hi, we are experiencing the same issue and I'm now trying to fix this since two days..
Flutter version: `Flutter (Channel stable, v1.9.1+hotfix.2, on Mac OS X 10.14.5 18F132, locale de-DE)`, firebase_auth: `firebase_auth: "^0.14.0+5"`

On Android everything seems to work just fine. iOS Simulator enters the reCaptcha verification which also works fine. However, on a real iOS device the verification

[2019-09-25 13:23] mstorsjo commented on #41046
FWIW, a different fix that seemed to work for me, when running into the same issue, is to keep a reference to the `(NSDictionary<NSString *, id> *)info` object around for as long as the url is used. This dictionary contains references to a PHAsset object, which I presume controls access to the given url - when this object is unreferenced and released, the url also becomes inaccessible at the same

[2019-09-25 13:23] mahmoudsalah37 commented on #41218
yes real device

[2019-09-25 13:24] creatodhiren commented on #25749
<application
    android:usesCleartextTraffic="true"

[2019-09-25 13:24] mahmoudsalah37 commented on #41218
yes this phone ios 13

[2019-09-25 13:29] Den-Ree commented on #40770
@sjindel-google could you please explain where exactly I have to put doNotStrip? Under
[code]

I tried to add it, but still, have the crash on the stable channel.

[2019-09-25 13:32] ManojMM026 commented on #24689
any update on this? @zoechi

[2019-09-25 13:33] LampeMW commented on #30330
If I am using the master branch it is not a problem. I'm not sure how safe it is to use the master branch on a customer facing application so I was hoping to track down which commit contained the fix and wait until it has been merged to a safer branch.  I don't think there's anything else required of you though so you can close this.

[2019-09-25 13:34] zeromaro opened #41289 "Potential bug with Provider in Flutter"
Hello,
I'm facing extremely weird issue. On `debug` it works fine, on `release` it doesn't.
I'm using Provider.

I have class A, which is Stateful. Inside initState I have a call `Provider.of<UserStore>(context, listen: false).getUser();`

Inside `getUser` I've some state changes. What's interesting, I'm printing in `build()` method.

If I'm running in `debug` mode, I can see multiple prints - sta

[2019-09-25 13:38] tp opened #41290 "Crash with "Could not decompress image""
## Steps to Reproduce

We have an app that shows around 20 200*400px images per page. When I push additional pages ("going deeper") the total memory observed in the DevTools increases slightly, but overall caps at around 200 MB in out tests.

We've been hunting for the root cause of our crashes (most probably related to images) for a while now, going through all the known issues here in the reposi

[2019-09-25 13:39] tp commented on #41290
PS: If you want to download the referenced sample images from the crash log for testing you can, but just be advised to do it in Chrome so you get the `WebP` image, which is what we use currently in the app.

[2019-09-25 13:41] joaowd commented on #30180
Yes keeps happening. Sometimes I also get this error:

Could not update files on device: OS Error: Connection reset by peer, errno = 54

[2019-09-25 13:42] filipppp commented on #30618
@escamoteur I'm having the same problem as the thread opener @Bobbyjoness and it's not the keys. I tested everything and tried everything. Someone suggested that the twittersdk is deprecated and not being used anymore.. instead FirebaseOAUTH is used in Android for example.

[2019-09-25 13:45] sjindel-google commented on #40770
I'm not sure actually, @blasten gave me these instructions.
But I believe we've fixed the root cause, and the fix should be rolled into Flutter soon.

[2019-09-25 13:46] luigi-rosso commented on #20438
The [lottie_to_flare](https://github.com/2d-inc/lottie_to_flare) repository is open source. Feel free to check it out and file issues there. The converter is standalone but is also integrated directly into Flare. The standalone converter generates a Flare editor specific declarative format (in JSON) and packages it up into a .flr2d file ready to be dragged and dropped into Flare. We're working on

[2019-09-25 13:50] haita2008 opened #41291 "CocoaPods installed but not initialised"
After running pod setup, flutter doctor still returned the following
[code]
Please help, I only followed the instruction and know very little of each of the command.

[2019-09-25 13:52] BondarenkoStas commented on #41289
@zeromaro Can you please provide a small self-contained app that demonstrates the issue?

[2019-09-25 14:00] escamoteur commented on #41285
I meant make an upgrade on master

[2019-09-25 14:01] BondarenkoStas commented on #41291
It seems to be very similar to #41253. Please try to install lower cocoapods as advised in the issue body. Report please if that will help.

[2019-09-25 14:04] escamoteur commented on #30618
FirebaseAuth oh yeah, just checked now FirebaseAuth comes with https://pub.dev/documentation/firebase_auth/latest/firebase_auth/TwitterAuthProvider-class.html
So I guess you should use that

[2019-09-25 14:05] filipppp commented on #30618
Yes I'm using that as shown in my issue #138

[2019-09-25 14:07] escamoteur commented on #30180
@joaowd Does this mean this error appears only sometimes or always?

Could you please add the output of your `flutter doctor` and the full log when this error appears?
Thanks

[2019-09-25 14:08] BondarenkoStas commented on #36509
@zxylovewl1 Probably I just don't know the context, but please explain it in more details.

[2019-09-25 14:08] durduman opened #41292 "3rd party native library for Flutter package"
If I need to create a [flutter package][1] for an existing library OR pod I am interested in some clarifications:

In the case of a new package for a **library (.framework)** ... will I add this in the `Pods/Development Pods/hello/Classes/` location? I suppose not in the Runner project since the code to implement the channels and extra native implementation is in that location, as mentioned in the

[2019-09-25 14:09] escamoteur commented on #30330
You could also try dev instead. I'm always on master. if nothing happens while testing you should be quite safe. (Just my, not the opinion of the Flutter team).

[2019-09-25 14:12] aam commented on #34959
Thank you for the logs @alan-criton .
From the logs it looks like server didn't experience any problems up to the point when connection was dropped. Only theory I have for that is that proxy or http connection intermediary that connects host and device can do that and flutter tool needs to work around that by retrying or breaking large files into chunks.

[2019-09-25 14:16] escamoteur commented on #30618
But https://pub.dev/packages/flutter_twitter should work too at least I have used it in the past successfully

[2019-09-25 14:18] filipppp commented on #30618
I tried that library too. Tried all of them to be precise. It isn't a problem with the library, it's more likely there's something with firebase_auth since this function throws the error after getting passed the correct keys.

[2019-09-25 14:19] escamoteur commented on #30618
I opened this again to give this issue more attention

[2019-09-25 14:21] ekasetiawans commented on #41114
I have try using `flutter build apk --split-per-abi` and I can run v7a apk, but v8a failed to run.
My phone is Xiaomi Mi A1, that use armv8-a 64bit processor.

[2019-09-25 14:21] escamoteur commented on #41268
I still would like to get some more details about this. Did you find out it's not a Flutter bug?

[2019-09-25 14:23] JosephineAkello commented on #41249
@Bibin101  I think for this,hot-reload problem, you will have to do a full restart. there are instances when you have to do a full restart after making changes to your app, as much as hot-reload causes all widgets to rebuild, there are cases you have to do a full restart to see the updated change in your device.
To get more of this check this article [https://medium.com/podiihq/understanding-hot-r

[2019-09-25 14:24] escamoteur commented on #30272
@Hixie is this by design?

[2019-09-25 14:26] AhmedAlaa96 commented on #41124
I cannot work without proxy
that's my flutter doctor
[√] Flutter (Channel stable, v1.9.1+hotfix.2, on Microsoft Windows [Version 10.0.18362.239], locale en-GB)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.5)
[!] VS Code (version 1.38.1)
    X Flutter extension not installed; install from
      https://marketplace.visualstudio.com/i

[2019-09-25 14:26] zeromaro commented on #41289
Good call, sorry. New project works well.

Any suggestions, what might be wrong here or how should I debug release build? As nothing gets changed besides adding `--release` tag to command line `flutter run -d <device_id>`

[2019-09-25 14:26] escamoteur commented on #41284
could you please switch to master and see if it is there solved?

[2019-09-25 14:28] escamoteur commented on #41249
@JosephineAkello I don't think so if it already fails if he changes a color.

[2019-09-25 14:30] escamoteur commented on #41124
@jonahwilliams I saw this also in another issue. Do we have a problem with proxy connections?

[2019-09-25 14:32] BondarenkoStas commented on #36440
Will just leave it here in case any answer will appear https://stackoverflow.com/questions/56546254/no-implementation-found-for-method-listen-on-channel-for-connectionstatus-librar.
Is the issue still relevant?

[2019-09-25 14:35] JosephineAkello commented on #41124
@AhmedAlaa96 for this I think this is just a network problem because you are trying to fetch dependencies from  ["https://pub.dartlang.org".](url)  and its not able get them. You'll consider configuring your proxy settings

[2019-09-25 14:36] BondarenkoStas commented on #36443
@MahdiPishguy Is the issue still relevant? Can you please try it with current stable and current master version?
If yes, please provide  a small self-contained app that demonstrates the problem. You can include small examples [inline if they're enclosed by backticks](https://help.github.com/en/articles/creating-and-highlighting-code-blocks), or just provide a public link to a github "gist" - https

[2019-09-25 14:37] tp commented on #41290
We found the culprit: Do to what seems a misconfiguration in the CDN one supposedly small image (https://cdn.aboutstatic.com/file/b09791c37f0a28878efca10c58e7d21f?width=800&quality=75&transparent=1) was returned as a 9584*10038px image:

![image](https://user-images.githubusercontent.com/52437/65610870-44071b80-dfb2-11e9-83c4-9f80d78254a0.png)

So as the first step we'll fix this image issue on ou

[2019-09-25 14:38] jonahwilliams commented on #36509
This is a duplicate of https://github.com/flutter/flutter/issues/14330

[2019-09-25 14:38] #36509 closed

[2019-09-25 14:40] zaralockheart commented on #30539
it's been long since I last run flutter_drive since it's taking so long to build every tests. But I'll close this since it's stale for too long. cheers.

[2019-09-25 14:40] #30539 closed

[2019-09-25 14:42] namiwang commented on #41281
@escamoteur did that, same result

[2019-09-25 14:42] NicolasDionB commented on #32274
Any update on this? It's clearly a visual bug/glitch. I'm still having it with the latest Flutter build on master channel. I get it often on FlatButtons' text and icon but not all the time. It's like the position as decimals and the pixel alignment makes the blurry effet, like it's between 2 pixels.

![Clipboard - 25 septembre 2019 09_27](https://user-images.githubusercontent.com/25512495/65611653

[2019-09-25 14:42] sunjianan9900 commented on #41271
I got the same question
And then I found 5 of all 10 XIAOMI device can not run the app (crashed when opening) after bulid by flutter 1.9
It makes my new version refused by XIAOMI Store

[2019-09-25 14:43] leebin17 opened #41293 "h5 page lose focus in the webview when flutter brings up the keyboard."
## Steps to Reproduce

I'm developing an app with plugin `webview_flutter`.

The problem is that when I click the **INPUT box** in the h5 page, Flutter brings up the keyboard.
At this moment, h5 page just loses the focus at the **INPUT box** which I just clicked!
And I need to click the input again to focus and input characters.

I used:
`Flutter 19.1 hotfix.2`
`webview_flutter: ^0.3.14+1`

This i

[2019-09-25 14:43] sunjianan9900 commented on #41271
Restarted application in 3,737ms.
W/google-breakpad( 9687): ### ### ### ### ### ### ### ### ### ### ### ### ###
W/google-breakpad( 9687): Chrome build fingerprint:
W/google-breakpad( 9687): 1.2.13
W/google-breakpad( 9687): 1213
W/google-breakpad( 9687): eaa28381-0b2f-4a9d-b3d7-2eabbaa5dbbe
W/google-breakpad( 9687): ### ### ### ### ### ### ### ### ### ### ### ### ###
F/libc    ( 9687): Fatal signal

[2019-09-25 14:43] sunjianan9900 commented on #41271
Restarted application in 3,737ms.
W/google-breakpad( 9687): ### ### ### ### ### ### ### ### ### ### ### ### ###
W/google-breakpad( 9687): Chrome build fingerprint:
W/google-breakpad( 9687): 1.2.13
W/google-breakpad( 9687): 1213
W/google-breakpad( 9687): eaa28381-0b2f-4a9d-b3d7-2eabbaa5dbbe
W/google-breakpad( 9687): ### ### ### ### ### ### ### ### ### ### ### ### ###
F/libc    ( 9687): Fatal signal

[2019-09-25 14:44] leebin17 commented on #41293
[√] Flutter (Channel stable, v1.9.1+hotfix.2, on Microsoft Windows [Version 6.1.7601], locale zh-CN)
[√] Android toolchain - develop for Android devices (Android SDK version 29.0.0)
[√] Android Studio (version 3.4)
[√] VS Code (version 1.38.1)
[√] Connected device (1 available)

[2019-09-25 14:44] PedroTheRealOne opened #41294 "Images Flashing"
In my App, I use a lot of NetworkImages and Streambuilder's, and my images keep blinking when I navigate through the app.

**There is a way that my images keep loaded?**

I don't want to use `FadeInImage` .

I have tried:

- Replace the Image Provider to one that uses Cache (CachedNetworkImage);
- Use `AutomaticKeepAliveClientMixin`

[Sample video](https://www.youtube.com/watch?v=u5D4rZAgAxQ&featu

[2019-09-25 14:45] Niek commented on #40656
Same here

[2019-09-25 14:46] escamoteur commented on #41281
@jonahwilliams could this be related that this is on a Mac?

[2019-09-25 14:47] BondarenkoStas commented on #36447
I think it's safe to close the issue as it doesn't provide any new info after mentioned issues.
@alex9153 Please confirm the question above, can you run it from Xcode or `flutter run --release` without issue? If not, it may be different and I will re-open the issue right away.

[2019-09-25 14:47] #36447 closed

[2019-09-25 14:48] NeroAlfonso commented on #41248
#### i tried change channel to master and this is the output

`PS C:\Users\nerio> flutter channel
Flutter channels:
  beta
  dev
* master
  stable
PS C:\Users\nerio> flutter upgrade
Upgrading Flutter from C:\Users\nerio\flutter...
From https://github.com/flutter/flutter
   48ce60824..7bf9aea25  master     -> origin/master
Checking out files:  34% (138/395)
Checking out files:  35% (139/395)
Checki

[2019-09-25 14:52] cooosuper commented on #41285
## command

flutter --no-color run --machine --device-id=chrome lib/main.dart

## exception

NoSuchMethodError: NoSuchMethodError: The method 'toJson' was called on null.
Receiver: null
Tried calling: toJson()

[code]

## flutter doctor

[code]

[2019-09-25 14:52] BondarenkoStas commented on #36448
This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report. See https://flutter.dev/community for support options.
If you disagree, feel free to comment and I will reopen the issue.

[2019-09-25 14:52] #36448 closed

[2019-09-25 14:53] escamoteur commented on #41248
This is in Safari, right?

Could you show us the code of you App.
The error suggests that you are missing a resource.

[2019-09-25 14:54] escamoteur commented on #41289
Please upgrade to latest master you are some build behind

[2019-09-25 14:54] BondarenkoStas commented on #36450
@praveen3edge Is the issue still relevant? Can you please try it with current flutter stable and current image_picker and qr_utils?
For later, please do not include screenshots of logs or code, as then one can't not just copy paste the content.

[2019-09-25 14:54] cooosuper commented on #41284
not solved

## flutter doctor

[code]

[2019-09-25 14:55] escamoteur commented on #41285
@jonahwilliams another Flutter web on Mac problem

[2019-09-25 14:58] bsr203 opened #41296 "Removing guava dependency from the google_sign_in plugin"
After adding few of google provided packages, my app hit the 64k function limit and being a non android developer, things are getting harder as I have to tweak the build system. Some of the dependencies are heavy, but unavoidable like
google play services
google map
firebase auth, ..

after spending some time analyzing the APK, I realized the culprit is google_sign_in plugin , which add guava to t

[2019-09-25 14:59] obshksw commented on #35909
On Flutter Web channel master version 1.10.6-pre.61, the clear is working but as soon as you type again, the old text comes back.

@jpeiffer solution fixed it. In my case though, no need for the post frame callback, just this:

[code]

:)

[2019-09-25 15:03] kliyer-ai commented on #22072
@softcoder How did you get this to work? I am getting the exact same error? Thanks.

[2019-09-25 15:04] HansMuller commented on #37046
@VHCBlade Thanks for the small test case. I can reproduce the problem on master on Android by setting the target platform to iOS. Seems to be a problem with the cupertino text selection menu; it's failing in _ToolbarRenderBox.performLayout.

[code]

CC @justinmc

[2019-09-25 15:04] FarmaanElahi commented on #40247
@amsmu  Are you testing on emulator?

[2019-09-25 15:04] NeroAlfonso commented on #41248
this is Chrome (Versión 77.0.3865.90 (Build oficial) (64 bits))
the app code is the default demo from a new project
#### main.dart
`import 'package:flutter/material.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  // This widget is the root of your application.
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Flutter Demo',

[2019-09-25 15:05] #40571 closed

[2019-09-25 15:06] jonahwilliams commented on #41248
Tentatively marking as a duplicate of https://github.com/flutter/flutter/issues/40876

[2019-09-25 15:10] escamoteur commented on #41248
@jonahwilliams shouldn't #40876 be solved in master? Also the error is different.

[2019-09-25 15:11] jonahwilliams commented on #41248
No,the issue was re-opened due to a rollback of the dart sdk. But you're right, there is no error message

[2019-09-25 15:12] LouisParkin commented on #10318
Hi @Hixie I am busy rewriting an old android app of mine in flutter, and, as far as I can see, only on my iPhone 6S, when I scroll to the very bottom of one of my lists, it reaches the point where it cuts the topmost item in half to display the last item in the list, and like a half a second later, it jumps up slightly to display the one that was cut fully, which then cuts the last item in the lis

[2019-09-25 15:14] aam commented on #34959
On further inspection of the logs it seems that the culprit is the fact that we have up to [6 concurrent writes](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/devfs.dart#L273)(http put) happening at the same time. It sounds like this might be too much in some cases - reducing to 1 fixed the problem that @alan-criton was having.
Number 6 was introduced in https://git

[2019-09-25 15:14] BondarenkoStas commented on #36454
@admarwick Can you please try it with current flutter stable and with master, is it the same?

[2019-09-25 15:17] leebin17 commented on #41293
**log**
`
D:\MobileDev\Projects\FlutterLearn\my_flutter_app_01>flutter run
Launching lib\main.dart on MIX 2 in debug mode...
Initializing gradle...                                              1.5s
Resolving dependencies...                                           6.5s
Running Gradle task 'assembleDebug'...                             20.3s
Built build\app\outputs\apk\debug\app-debug.apk.
Syncing

[2019-09-25 15:17] RedBrogdon opened #41297 "Analyzer options needed for Animations sample"
The animations sample isn't using our shared analysis_options file. It should be added to project and any analyzer errors that pop up should be fixed.

CC: @johnpryan and @theacodes.

[2019-09-25 15:20] zeromaro commented on #41289
Dang, missed it. Now I'm on `Flutter 1.10.6-pre.63 • channel master`. Unfortunately problem is still there. `debug` is working flawlessly, `release` no. All I need to do is to debug `notifyListeners()` method because from `print` statements I see it gets called but nothing gets notified. I tried wrapping it to `try catch` block but it doesn't fail.

Any ideas how could I get inside `notifyListener

[2019-09-25 15:21] owlsometech-kenyang commented on #41089
No, this only happen on Android, iOS works perfect.
I switch to v1.10.6-pre.63, but the problem still exists.
[code]

[2019-09-25 15:21] escamoteur commented on #13991
@andretietz did you get further with that?

[2019-09-25 15:23] BondarenkoStas commented on #36463
@Moomba42 Is it the same using current flutter stable or master?

[2019-09-25 15:24] therealjohnsummer commented on #37699
@ksilz  Great that you took the time to summarise current pain points with Flutter especially this current issue. I am guessing the Flutter team didn’t expect this bug to affect so many people so soon after iOS 13 release, still it is what it is but I concur , if they indeed knew that building against iOS 13 to a live device was broken then it really would have been appreciated or thoughtful of th

[2019-09-25 15:25] escamoteur commented on #41296
If *guava* is the culprit for the increase of functions IMHO we should reopen the referenced PR because a lot of people use and / will use google_sign_in  an run into such dex problems

[2019-09-25 15:27] jonahwilliams opened #43102 "Loading sufficiently large log files crash cocoon frontend"
Try loading https://flutter-dashboard.appspot.com/api/get-log?ownerKey=ahFmbHV0dGVyLWRhc2hib2FyZHJYCxIJQ2hlY2tsaXN0IjhmbHV0dGVyL2ZsdXR0ZXIvODRhNDc2YTRkYmIzOTQyOTg4Zjg2YjlhMTRhY2IyMmUwMzU5MGU1YgwLEgRUYXNrGICA4LSrvZ4IDA

Observe that browser will eventually crash :(

[2019-09-25 15:28] NeroAlfonso commented on #41248
@escamoteur the platform is Win7 Ultimate SP1 64 bits

[2019-09-25 15:29] BondarenkoStas commented on #36470
@devzwy Is the issue still relevant? Can you confirm it using current flutter stable or master?
Please provide  a small self-contained app that demonstrates the problem. You can include small examples [inline if they're enclosed by backticks](https://help.github.com/en/articles/creating-and-highlighting-code-blocks), or just provide a public link to a github "gist" - https://gist.github.com/.

[2019-09-25 15:33] jam33 commented on #27924
this is an issue with native android webviews.  it is not directly related to flutter (a bug within flutter), although fixing it would require the flutter team to write some code to implement the feature as the webview_flutter plugin acts as a passthrough to the native webviews.

you can see a discussion around the android native problem at:
[https://stackoverflow.com/questions/5907369/file-upload

[2019-09-25 15:34] BondarenkoStas commented on #36488
@MichealReed What the issue exactly it causes? Is it reproducible using current flutter stable or master?

[2019-09-25 15:37] IdrisN commented on #24865
I tried this cumbersome method but it still does not work consistently for android and ios. Drawing your own canvas seems to work but if the marker gets to complicated, it's not very easy to draw it since you cannot import a path from a svg. ..Sigh.

[2019-09-25 15:40] escamoteur commented on #41289
But if debug is working, why can't set breakpoints?

[2019-09-25 15:41] escamoteur commented on #41289
I guess we need to see more code. Could you please try to reproduce this in a small sample project?

[2019-09-25 15:44] BondarenkoStas commented on #36530
Will just leave it here, no needed solution on [stackoverflow](https://stackoverflow.com/questions/57109527/how-to-refresh-the-page-when-user-comes-back-to-it-from-any-other-page-using-bac).

[2019-09-25 15:44] zeromaro commented on #41289
That's the whole mystery. `debug` build is working fine, but when I build `release` build, it doesn't. I'm now trying to play around and understand why is that. Because as much as I searched, there is no way to debug `release` build. Therefore I'm using... `print`ing statements to identify what where goes wrong. But I cannot do anything with `notifyListeners()` as it's void..

[2019-09-25 15:47] kamrancr7 commented on #28893
this issue is persisting on specific device, i also tried on different device and it is working fine.

[2019-09-25 15:49] escamoteur commented on #41294
In this code you are using AdvancedNetworkImage which is not part of the framework.
Normally NetworkImage caches automatically.
But it depends on the number and size of images.

[2019-09-25 15:49] BondarenkoStas commented on #36533
@yn-tadpole I would advise you to post the issue to https://github.com/dart-lang/sdk/issues as well, `window.physicalSize` is a part of dart:ui library. Please then post a link here.

[2019-09-25 15:51] BondarenkoStas commented on #36534
@harshaIOT Is the issue still relevant? Can you confirm it using current flutter stable and current plugin?

[2019-09-25 15:51] tzvc opened #41298 "[google_maps_flutter] Add synchronous way to set padding"
Hi there,

I'm trying to create a map with a responsive UI around it. To do that, when the UI layout change, I modify the padding of the map to reflect the changes.

This works great except if for example I want the map to stay centered on a point because if shift when the padding/change.

My first though was, I can just listen when the padding happened and manually recenter the map. However, as t

[2019-09-25 15:51] escamoteur commented on #41294
One thing that comes to mind when you write StreamBuilder. Do they all have initialData set?
Otherwise you will always see one empty frame.

[2019-09-25 15:51] gspencergoog commented on #41194
OK, that's as I suspected. More likely it has to do with the rendering.

[2019-09-25 15:53] escamoteur commented on #41298
May I ask which padding you are referring to?

[2019-09-25 15:56] theochampion commented on #41298
@escamoteur The padding to be set on the map via the `padding` parameter on the `GoogleMap`class https://pub.dev/documentation/google_maps_flutter/latest/google_maps_flutter/GoogleMap/padding.html

[2019-09-25 15:56] BondarenkoStas commented on #36538
I think It will be safe to close the issue as it will be referenced in a new one #39686. Please confirm, do you encounter it using current flutter stable?

[2019-09-25 15:56] #36538 closed

[2019-09-25 15:58] MahdiPishguy commented on #36443
@BondarenkoStas this problem happens on when i try to debug application, unfortunately i can't make small project because i don't really when that happen and which action cause of getting this error

[2019-09-25 15:59] escamoteur commented on #41289
You could even add print statements in inside notifyListeners
But I recommend create a new project and try to reproduce it.
The  share the project with us.

[2019-09-25 15:59] JosephineAkello commented on #41064
@Awumboro I dont know if am the only one who didnt understand the error you said "The problem is that when I add the **geolocator plugin** to my project my project will not build when I run it. it presents a build error. But with the **geolocator plugin,** it builds and works just fine."
 Which plugin works fine when you run the project?

However for the error, I think it comes with incompatible p

[2019-09-25 16:01] escamoteur commented on #41298
Why not just wrap the map in a normal Padding?

[2019-09-25 16:03] escamoteur commented on #28893
Can you please list the devices with their OS version where this behaviour occurs?

[2019-09-25 16:05] wliumelb opened #41301 "Debugging through USB on physical iPhone often gets HttpException (when phone and desktop are connected to same wifi network)"
When start debugging on my iPhone (connected to the computer through USB), I regularly get this error message:
`Error connecting to the service protocol: HttpException: , uri = http://127.0.0.1:1041/5cHcFx711Kk=/ws`

The error message shows up when running `flutter run` or with the debugging tool of VS code.
[code]
Despite the error, the app starts like normal, only the debugger stopped working (h

[2019-09-25 16:14] jonahwilliams opened #41303 "devicelab tasks should `flutter clean` after every run"
Otherwise build artifacts may be left in the various build caches, which can make the test more non-hermetic than need be.

[2019-09-25 16:23] IRIG commented on #41133
The title of this issue does not explicitly state that the problem occurs only with physical devices. In my case it happens only with physical iOS devices with iOS 13 but not with a iOS simulator with iOS 13.

[2019-09-25 16:24] goderbauer commented on #20517
@sergicastellsague I posted the workaround a couple of comments above: https://github.com/flutter/flutter/issues/20517#issuecomment-525861220

[2019-09-25 16:28] #40876 closed

[2019-09-25 16:28] kamrancr7 commented on #28893
Device Model: Oppo A83
OS version: Android 7.1 (Nougat)

[2019-09-25 16:30] goderbauer commented on #41289
If this is a bug with Providers: https://github.com/rrousselGit/provider may be a better place to file that.

[2019-09-25 16:33] forsurvival opened #41306 "gradlew.bat exited abnormally"
i can not run my project:
flutter doctor ==> no issue found
java installed
gradle-5.6.2 installed
----------------------------
Launching lib\main.dart on Android SDK built for x86 in debug mode...
* Error running Gradle:
ProcessException: Process "C:\Users\For_Survival\Desktop\mypro\pro1\android\gradlew.bat" exited abnormally:

FAILURE: Build failed with an exception.

* What went wrong:
A problem

[2019-09-25 16:34] Camerash opened #41307 "[add2app] Allow pre-warming engine prior to activity/view creation"
## Details

Using the new Android embedding framework for flutter add2app allows caching a pre-warmed engine and supply it to flutter activity/fragment/view for fast UX.

I am trying to pre-warm a `FlutterEngine` in Android `Application` class, cache it, then supply to a subsequent `FlutterActivity` when user press a button for a more smooth UX.

Docs [here](https://github.com/flutter/flutter/wiki

[2019-09-25 16:35] navidanchitrali commented on #41283
@BondarenkoStas  Dear my gradle version is 5.4.1

distributionBase=GRADLE_USER_HOME
distributionPath=wrapper/dists
zipStoreBase=GRADLE_USER_HOME
zipStorePath=wrapper/dists
distributionUrl=https\://services.gradle.org/distributions/gradle-5.4.1-all.zip

and build.gradle is:
buildscript {
    ext.kotlin_version = '1.2.71'
    repositories {
        google()
        jcenter()
    }

    dependencies

[2019-09-25 16:36] zeromaro commented on #41289
@escamoteur , I'm trying but it seems it just.. works on new project.

@goderbauer , I'm not sure what's actually wrong. As I can't reproduce it anyhow on new project.

I'm off to bed now as it's quite late over here. I'll record video tomorrow so you guys could see I'm not faking it. Super bizarre. I've nearly ripped all my hair off already

[2019-09-25 16:39] amirh opened #41308 "[Discussion] 174 packages broken on Flutter master"
The latest `flutter update-packages` (flutter/flutter#39932) changed the pinned version of the `intl` package from 0.15.x to 0.16.0.

The `intl` package has [174 dependent packages](https://pub.dev/packages?q=dependency%3Aintl&page=1). Following the update in the Flutter tree (pinning `intl` to 0.16.0) these packages cannot be used with Flutter master by apps that use `flutter_localizations` (assu

[2019-09-25 16:40] topnax commented on #34152
I do have the same problem with the Oneplus 6. Any news on this?

[2019-09-25 16:42] amirh opened #41309 "Monitor dependency resolution failure rates"
It would be useful to monitor dependency resolution failure rates following so issues like https://github.com/flutter/flutter/issues/41308 are surfaced.

This will generally be noisy, but I believe spikes should be meaningful.

[2019-09-25 16:48] christopherfujino opened #41310 "Update regex in `flutter/dev/bots/test.dart` for version pattern"
The current regex pattern is `^\d+\.\d+\.\d+(?:|-pre\.\d+|\+hotfix\.\d+)$`. This will correctly match `1.2.3`, `1.2.3-pre.4`, or `1.2.3+hotfix.4` but not `1.2.3+hotfix.4-pre.5`. Thus, on a hotfix pre-submit, this causes failures such as https://cirrus-ci.com/task/5681282190671872

update from:
`^\d+\.\d+\.\d+(?:|-pre\.\d+|\+hotfix\.\d+)$`
to:
`^\d+\.\d+\.\d+(?:|-pre\.\d+|\+hotfix\.\d+(?:|-pre\.\d+

[2019-09-25 16:57] TheJulianJES commented on #41248
I know that it's probably a different issue, but maybe it's still helpful:
I initally tried to build my andorid/iOS app for web without changing/removing any libraries - just to see how things would go and it was also stuck in "Building app for the web". I needed to remove some (unsupported libraries) and then run ``flutter clean``. After then running ``flutter run -d Chrome`` again, it worked fin

[2019-09-25 16:59] yjbanov commented on #40605
Fixed by https://github.com/flutter/engine/pull/12335

[2019-09-25 16:59] #40605 closed

[2019-09-25 17:02] yuesaka commented on #41291
No the OP, but having the same issue.
Installing CoacoaPods 1.7.5 did the trick.

As per solution in #41253:
`sudo gem uninstall cocoapods`
`sudo gem install cocoapods -v 1.7.5`
`pod setup`

[2019-09-25 17:03] BasedMusa opened #41311 "Check if platform is Web"
Developers should be able to check if the app is running on the web. This can be added to the 2 already working methods.

[code]
**OR**
[code]

[2019-09-25 17:04] BasedMusa commented on #41287
You could just check if the platform is web, like so:

`MediaQuery.of(context).size.width * (isWeb ? 0.25 : 0.75)`

**NOTE:** Flutter has no variable by the name of `isWeb`

You can still check platform using these two ways, none of these currently support how to check for web, this needs to be updated so I've filed an issue [here](https://github.com/flutter/flutter/issues/41311).

[code]
**OR**
[

[2019-09-25 17:05] jonahwilliams commented on #41311
See https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/foundation/constants.dart#L49

[2019-09-25 17:05] #41311 closed

[2019-09-25 17:06] zeromaro commented on #41289
Reproduced!

https://github.com/zeromaro/flutter-provider-bug

[2019-09-25 17:16] jonahwilliams opened #41312 "Replace Source.function/Source.behavior with Source.depfile"
Instead of iteration over every file, we can replace this with a depfile that contains sources used (the frontend server can produce this). If the depfile is missing, we need to rerun anyway. If it isn't, we use the list of input files from this.

[2019-09-25 17:25] DaveShuckerow commented on #41238
Thanks for the doctor reminder, @escamoteur.

[code]

[2019-09-25 17:27] jmagman commented on #30110
I have no idea, would have to ask the OP @mdtaqi98.

[2019-09-25 17:31] mklim commented on #40407
I looked into this to add them, and it turns out we've actually had Java tests hooked into CI for over a year now. :man_facepalming: They were first added in https://github.com/flutter/plugins/pull/521. They're currently running in CI now: https://cirrus-ci.com/task/4661309406183424?command=main#L1496.

The good news is that this means we can add Java tests for plugins now. I looked around and the

[2019-09-25 17:34] BasedMusa commented on #41287
You can use this.

[code]

[2019-09-25 17:35] iskakaushik commented on #37959
Hey @felangel , https://github.com/flutter/plugins/pull/2108 should expose translating between screen and latlng coordinates. I haven't exposed the full projection api just yet, the only method missing on the controller now is [pointForMeters](https://developers.google.com/maps/documentation/ios-sdk/reference/interface_g_m_s_projection.html#a7275229ff43ac7779c28979855c3c02f) and its android equiva

[2019-09-25 17:37] BasedMusa commented on #41311
#41287 Is based on this, please close that as well.

[2019-09-25 17:45] #41287 closed

[2019-09-25 17:47] nturgut commented on #41238
Thanks for filing the issue.

Since _updateSizeAndTransform method is on the line 1656, I am assuming this is not the latest code in the master. We resolved an editing issue yesterday. Can you please sync to the latest code?

If the issue persists, can you share code for the text editing widget you are using? It doesn't have to be exact. I am particularly curious to see the focusNode and autofocus

[2019-09-25 17:48] felangel commented on #37959
Thanks @iskakaushik! I don't think `pointForMeters` should be necessary for our use case. I'll give it a try over the next few days and let you know if we have any feedback. Thanks again for the quick response 👍

[2019-09-25 17:48] escamoteur commented on #41133
@stx is this correct? It only happens on a physical device?

[2019-09-25 17:49] Sparks1998 opened #41313 "Bug in slivers"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-09-25 17:51] escamoteur commented on #41248
@NeroAlfonso can you please post your pubspec.yaml?

[2019-09-25 18:04] escamoteur commented on #41289
Will the next days in Crete speaking at a Flutter conference. But I will look into it afterwards if it isn't solved

[2019-09-25 18:06] jibraniqbal666 commented on #41114
have you tried any other armv8a phones? @ekasetiawans
@BondarenkoStas could this be a flutter engine bug? I am kinda new here trying to contribute on this awesome project.

[2019-09-25 18:07] liyuqian commented on #34590
Moved to the new device lab desk. Closing.

[2019-09-25 18:07] #34590 closed

[2019-09-25 18:08] mwk24 commented on #41066
Yes, I know. But it is a "build headache". I apologize, perhaps Issues is not the correct forum for what is a more general product suggestion. Either way, I would like to add that flutter is my favorite dev/design experience of all time.

[2019-09-25 18:09] GaryQian commented on #31512
It is highly likely that https://github.com/flutter/engine/pull/12432 will fix this, though I have not checked directly yet.

[2019-09-25 18:10] GaryQian commented on #41138
https://github.com/flutter/engine/pull/12426 has landed, which should fix a significant part of this bug.

[2019-09-25 18:11] TamasBarta commented on #26512
For me on Android this is even worse, it completely freezes scrolling for a very noticeable time (below a second). Also when displaying a widget that contains the map for the first time results in terrible flickering.

[2019-09-25 18:15] devoncarew commented on #35588
The bulk of this work has landed in the flutter master channel.

We'll still need to follow up with exposing one additional class from `dart:js` (`JavaScriptObject`), as well as creating a lint to better keep Flutter developers on the rails when they're using `dart:html` in a runtime context where that library will never be available.

[2019-09-25 18:15] ride4sun commented on #31323
@jonahwilliams can we reopen this. I think doing this would avoid many undesired problems, especially for new users.

[2019-09-25 18:16] #29341 closed

[2019-09-25 18:18] mklim commented on #29341
The work around has landed in the engine, but it will still take some time for it to roll into the framework and then the beta, dev, and finally stable channels.

[2019-09-25 18:19] escamoteur commented on #41066
Thanks
@csells

[2019-09-25 18:21] escamoteur commented on #41138
That means it's already in master?

[2019-09-25 18:28] Jon-Salmon commented on #39906
Upgrading to flutter version 1.9 has resolved this issue.

[2019-09-25 18:28] #39906 closed

[2019-09-25 18:36] justinmc commented on #31512
I tried to verify but I couldn't reproduce this issue!  I tried on an S6 and on a Galaxy Note 9.

That engine fix is not on the master channel yet, but when it is, please post if anyone can confirm if this is still happening or not!

[2019-09-25 18:41] chinmaygarde commented on #41237
Flutter Embedder API has ABI stability guarantees. But currently, there are no presubmits that will trip if those guarantees are violated. This bug tracks the addition of such a check.

[2019-09-25 18:41] timxschroeder commented on #17234
@SebastianEngel is the only one correctly addressing the issue. Manually modifying these values (as I did) will give you a headache later on if you try to build any kind of CD pipeline where these paths are obviously going to be different. Really make sure to add the generated config to your build configuration for release and debug as he describes.

[2019-09-25 18:43] BioApfelsaft commented on #41248
Same problem here (with Windows 10)

For me it looks like the reason for the problem is kaspersky.

When Kaspersky is active, `flutter run` results in an empty website.

[code]

Chrome DevTools
![html](https://user-images.githubusercontent.com/7527849/65629692-159a3800-dfd4-11e9-9064-a881e6b29dad.png)

![js](https://user-images.githubusercontent.com/7527849/65629724-28ad0800-dfd4-11e9-9ff0-9830450

[2019-09-25 18:43] jkurtw commented on #41005
Trying this again on dev channel. iOS and web got better, but Android still doesn't work correctly.

On iOS, you can now type a full set of numbers, like:
1234 1234 1234 1234

On web, you can the same behavior as iOS.

On Android, you can only type four numbers, before it stop accepting more input:
1234

[code]

[2019-09-25 18:56] divan commented on #41133
After switching my devices to iOS 13, also hit this issue, and can confirm that logs still work with simulator (XCode beta, simulator devices running iOS 13, string from simulator About page: `Version 11.0 (SimulatorApp-912.1 SimulatorKit-570.3 CoreSimulator-681.5.1)`)

Also, just in case, if I run app from XCode, logs are shown.

<details>
<summary>My `flutter doctor` output</summary>
<pre>$ flut

[2019-09-25 18:59] ksilz commented on #37699
@therealjohnsummer Thank you for your comments! I agree with you in all but two points:

- **Native widgets:** My choice is to build apps that feel native on each platform. Other approaches are valid; this is mine. So I need to use the "Cupertino*" widgets and the Material ones in one app. And to me, that's surprisingly difficult: Very few widgets automatically adapt to the platform ([Switch.adapt

[2019-09-25 19:02] divan commented on #41180
Not sure, if it's related, but after upgrading to iOS 13 I also stuck for a couple of hours with a lack of push notifications on the device. I thought it's something with my changes to code, but I had another iOS device with iOS 12, which confirmed that code is fine.

The issue resolved suddenly on its own just after disconnecting iPhone from Mac – I suddenly started receiving push notifications f

[2019-09-25 19:03] ksilz commented on #37582
I created a new Flutter project, added the 34 plug-ins I use in my current project **excluding** Firestore, and built for iOS and Android. After a couple of attempts, Android clocked in at 41 seconds on average, iOS settled at 50 seconds. Then I added `cloud_firestore` as plug-in number 35 and re-ran the builds. Android went up to 44 seconds. iOS occasionally goes to 260 seconds but usually finish

[2019-09-25 19:06] otakupasi commented on #41262
I'm having the same Issue on my Development Machine (Linux Mint, Doctor report given) and on my Test Target Machine (Windows Server R12).

<details><summary>Flutter Doctor Report</summary>
<p>

[code]

</p>
</details>

## How to reproduce
1. Create a dart file
2. Try to import `dart:html` or `dart:js`

Notice how The IDE reports the following:

[code]

[2019-09-25 19:10] seritaApp opened #41315 "Textinput bug on Samsung device"
Tested with flutter gallery app on Samsung Galaxy Tab S4

1. Begin to type a word
2. Leave keyboard mode
3. Refocus and continue typing
Instead of adding the new characters, the previous word gets repeated again
Happens even on the gallery app so it's not related to my code.

Edit: I was trying to type "words" here
![ezgif-4-241b62f05f83](https://user-images.githubusercontent.com/55809519/65631923

[2019-09-25 19:18] stx commented on #41133
@escamoteur Just tested this and can also confirm that logs work on simulator.

[2019-09-25 19:21] luojieerr opened #41316 "[Flutter Web]Page scrolling should be smoother when use wheel"
Compared to traditional web pages, the Flatter web page does not move smoothly when using the scroll wheel.

[2019-09-25 19:35] brandondiamond commented on #4830
Just confirmed that the accessibility labels have the same color regardless of whether dark/light mode is active (on iOS13.1).

![darkLightSwitchLabels](https://user-images.githubusercontent.com/1036976/65633388-fe465500-dfa9-11e9-830c-3108c5ad8c43.png)

[2019-09-25 19:41] bparrishMines commented on #27062
@benadrasni  @hemangjoshi37a  @smm13344331

 I wasn't able to reproduce a crash on emulator **Pixel API 28/29** using the test ad unit id. Are you still seeing this crash and is it only crashing with a real ad id? Also, does it crash on `load()` or `show()`.

Our plugin only overlays the Ad on top of the FlutterView. It may be worth reaching out to the **Admob** team if test ads are working for u.

[2019-09-25 19:48] therealjohnsummer commented on #37699
@ksilz Regarding your high build times and potential issue with cloud_firestore  - I'm not using that version but only 0.12.9. additionally - the only other related google/firebase/firestore plugins I use are :

[code]

My app stores all data in cloud Firestore and images/audio in firebase storage.  I had issues with firebase Analytics/Crashlytics  (Slow build times amongst other things) so opted

[2019-09-25 20:00] dkwingsmt commented on #41178
@audkar I built the following example that contains nothing but a dialog, and tested on a Pixel running Android 9. I confirm that the dialog is dismissed on tap down instead of tap up.

[code]

Your experience of dismiss on tap up might be a result of gesture competence: when another gesture is competing with the modal barrier, the tap gesture won't claim victory until all other competitors leave

[2019-09-25 20:01] prujohn opened #41317 "CreateProcessW failed 87"
## Steps to Reproduce

Not sure how to repro.  Running on Windows 10.  Flutter doctor fails each time.  What is interesting is that when I run adb.exe directly from the path given below, it runs fine.

## Logs

[code]

[2019-09-25 20:03] izinin commented on #21474
@Piotr-Retman : it looks like your advice is "theoretically it should work" . in reality i hit the problem with exactly the same scheme as you suggested. My ad banner is defined in the application singleton. In addition to that i have a flag which i check in OnLoaded callback to know if i need immediatelly close the banner after loading. That prevents some missynchronisation issue during page navi

[2019-09-25 20:14] sleeyax commented on #33126
I came up with a temporary solution to this problem using the [universal_html](https://pub.dev/packages/universal_htm) and [universal_io](https://pub.dev/packages/universal_io) packages:

[code]
Tested and working on flutter for web and android.

[2019-09-25 20:19] audkar commented on #41178
Seems that this behavior is different on android 10. I can reproduce that
- Dialog is dismissed on tap down on Android 9
- Dialog is dismissed on tap up on Android 10

[dialog_dismiss_android_10](https://user-images.githubusercontent.com/1947112/65636346-c57aa000-dfea-11e9-8ddc-584a1b971b7f.gif)

[2019-09-25 20:21] dkwingsmt commented on #41178
@audkar Thank you very much. It's very important. Let me discuss with others and see how we handle this.

[2019-09-25 20:25] athornz commented on #41100
This definitely shouldn't be an opt-in feature - text scaling should be on by default so users with limited sight can still use apps, even if they are in a slightly broken state.

Android apps have had text scaling from day 1, it's just one of those things you need to test.

[2019-09-25 20:27] lrmoorejr commented on #40427
Seeing it on the latest dev and master channels.

Flutter 1.10.6-pre.69 • channel master • https://github.com/flutter/flutter.git
Framework • revision 5142238c85 (2 hours ago) • 2019-09-25 11:26:06 -0700
Engine • revision 48ad8a08e4
Tools • Dart 2.6.0 (build 2.6.0-dev.2.0 69b5681546)

[2019-09-25 20:29] InMatrix commented on #41149
I discussed with @chunhtai offline. The main constraint we have is the context of the error is limited to the rendering layer, so the code for composing the error message doesn't have a global view of the problem.

We discussed two approaches to better identifying widgets involved in this error:

1. We could add placeholders for the widget of the RenderFlex and its constraint-violating descendent

[2019-09-25 20:38] blasten commented on #41199
@michael-chiu It sounds like you hit https://github.com/flutter/flutter/issues/41010. You can switch to the `master` channel again and run `flutter upgrade` to get the latest fixes.

Feel free to reopen if this is still an issue.

[2019-09-25 20:38] #41199 closed

[2019-09-25 20:38] #40748 closed

[2019-09-25 20:45] Hixie commented on #41149
Whatever we do, we need to keep in mind that the rendering layer cannot know of the existence of the widget layer (and indeed might be used without the widget layer -- you can create that render tree directly without any widgets, and still get the same error).

We should not say anything about the user-created anything if the widget that failed is user-created.

The column doesn't have infinite wi

[2019-09-25 20:47] matthew-carroll commented on #41195
@BondarenkoStas Yes, it is still experimental, but it shouldn't be causing any problems when used as intended.

CC @jason-simmons for possible JNI insights.

[2019-09-25 20:47] Awumboro commented on #41064
I'm sorry the problem was not very clear.
The problem is that Google map flutter works fine on its on, geolocation
plug in works fine in its own. However, they don't work well together.
But I will try out your suggestions and see how it turns out.
Thanks for your help. I'll stay in touch
On Sep 25, 2019 4:02 PM, "Maureen Josephine" <notifications@github.com>
wrote:

[2019-09-25 20:52] NeroAlfonso commented on #41248
@TheJulianJES tried it (flutter clean) but not works
@escamoteur my pubspect.yaml
[code]
@BioApfelsaft tried it with "flutter run -d chrome --release" and works!
i use Karspersky in my station this must be the problem!
[code]
![pa2](https://user-images.githubusercontent.com/30022632/65637690-a4965880-dfb2-11e9-951b-f4f4f1cc9f64.png)
thank you very much to all for help me!

[2019-09-25 20:52] #41248 closed

[2019-09-25 20:52] blasten commented on #40742
@fazil-augr I'd suggest to avoid using `-ignorewarnings` in `proguard-rules.pro`. If Proguard aborts the build, it's better to fix the issue either by specifying more fine-grained rules or replacing the conflicting dependency.

In the next stable release (or master channel currently), you will find that you don't need Proguard anymore. `flutter build apk --release` and `flutter build appbundle --r

[2019-09-25 20:52] c-p-i-o commented on #41291
@yuesaka FWIW, I had the same issue and downgrading to `1.7.5` worked for me too.  Thanks for suggesting the workaround.

[2019-09-25 20:55] InMatrix commented on #41149
Yeah, we talked about rendering layer being used without the widget layer, and I understand the intent of having those concepts compartmentalized. I was thinking about the possibility of adding additional error report processing logic at/near the end of the rendering pipeline, so information from different layers can be aggregated. @chunhtai told me this line "User-created ancestor of the error-ca

[2019-09-25 21:17] iskakaushik commented on #37959
Released `0.5.21+4` which should have this fix in.

[2019-09-25 21:17] #37959 closed

[2019-09-25 21:22] prujohn commented on #41317
Solved.  I had to completely uninstall everything and reinstall.  This includes the Android folder in AppData/......

[2019-09-25 21:22] #41317 closed

[2019-09-25 21:23] GaryQian commented on #41138
As of now, I believe it is in master.

[2019-09-25 21:27] mklim commented on #41315
Can you post the output of `flutter doctor -v`?

[2019-09-25 21:29] justinmc commented on #41315
Related: https://github.com/flutter/flutter/issues/31512

[2019-09-25 21:31] seritaApp commented on #41315
[✓] Flutter (Channel master, v1.10.6-pre.75, on Linux, locale de_DE.UTF-8)
    • Flutter version 1.10.6-pre.75 at /opt/flutter
    • Framework revision bcbe822d02 (vor 16 Minuten), 2019-09-25 17:12:41 -0400
    • Engine revision efb7bf434f
    • Dart version 2.6.0 (build 2.6.0-dev.2.0 69b5681546)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
    • Android SDK at

[2019-09-25 21:37] mklim commented on #41315
@seritaApp thanks. It could be related to flutter/engine#12432 since you are using a version of Flutter that includes it. I do think it's unlikely though because that code shouldn't behave any differently when using a non-Korean input method like in the reproduction GIF. This looks like a duplicate of #31512 to me.

If you see the problem consistently now, do you mind testing out an earlier versio

[2019-09-25 21:40] cutzmf commented on #27584
Same with local_auth: ^0.6.0
MainActivity extends FlutterFragmentActivity
Migrated to AndroidX

Is next maybe an issue?
Possible fixes?

`E/MethodChannel#plugins.flutter.io/local_auth: Failed to handle method call
    java.lang.IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity.`

[2019-09-25 21:48] RyanRamchandar commented on #41298
@escamoteur I believe the padding referred to here is within the Map itself, ie. to pad the Google logo, location and compass icons etc.

https://developers.google.com/maps/documentation/android-sdk/map#map_padding

[2019-09-25 21:51] seritaApp commented on #41315
I have tested it in dev, beta and stable and can reproduce the issue. I have also downloaded apps from the Playstore which were made with flutter according to itsallwidgets.com and they all had the issue.

[2019-09-25 21:52] seritaApp commented on #41315
Also related: [#30656](https://github.com/flutter/flutter/issues/30656)

[2019-09-25 21:53] duarte-diegodr commented on #39582
Checking a way to restrict the root cause of the bug, I could identify that the Bug only occurs if you click a widget over the bottom of the map, if you place the float Action Button on the topCenter, topLeft or topRight, the bug does not occur.
But anywhere below 1/3 of the map, the onTap handler for the marker is called.

I don't know why just at the bottom of the map this bug occurs

[2019-09-25 21:56] seritaApp commented on #41315
Yep you are right, it's probably a duplicate of #31512

[2019-09-25 21:56] lukepighetti commented on #28094
I believe this makes `feature/caching` ready for PR on iOS. I haven't tried Android yet

https://github.com/999eagle/plugins/pull/2

[2019-09-25 21:58] justinmc commented on #41315
Maybe that engine fix needs to happen for English input as well as Korean?

[2019-09-25 22:00] mklim commented on #41315
Okay, thank you for the detailed reproduction info @seritaApp . I'm going to close this as a duplicate of #31512.

@justinmc I'm not totally convinced that the restart IMM engine fix actually covers this issue, or is the least invasive fix for it. It may, just not sure. If we get repro though we could test it out and enable it for all Samsung keyboards if that makes sense.

[2019-09-25 22:00] #41315 closed

[2019-09-25 22:02] mklim commented on #31512
@seritaApp reported detailed reproduction steps at https://github.com/flutter/flutter/issues/41315#issue-498470521. I haven't personally tested them but for them this reproduces consistently on all Flutter channels (including master with flutter/engine#12432). I think the Tab S4 may be the important part of testing this.

[2019-09-25 22:04] yjbanov opened #41322 "[web] run Flutter engine web tests in DDC mode too"
We currently only run engine tests in dart2js mode. Therefore we are unable to catch DDC bugs as early as we should. One example is https://github.com/flutter/flutter/issues/40876, which ended up getting the "TODAY" label.

To catch such bugs early, we should run [engine Web tests](https://github.com/flutter/engine/tree/master/lib/web_ui/test) in DDC, _in addition_ to dart2js.

[2019-09-25 22:07] blasten commented on #40126
@audkar would you mind including this file https://github.com/flutter/flutter/blob/master/LICENSE in  https://github.com/audkar/flutter_abstract_method_issue. I'd like to use your same repro, but I realized that it doesn't have a license.

[2019-09-25 22:13] #34205 closed

[2019-09-25 22:17] nonoyek commented on #27584
How to change the user interface of the finger print prompt, now I able to make it but it's so ugly with some black color design. How to change it to another design?

[2019-09-25 22:20] audkar commented on #40126
I'm away from my computer. Can't do any advanced work today :) I added default MIT license. Is it ok? @blasten

[2019-09-25 22:21] otopba commented on #41244
Maybe it can help you... You can use manifest placeholder https://stackoverflow.com/a/35050662/1299231

[2019-09-25 22:23] edgarfroes commented on #37699
Extremely valid points on the comments above. Flutter makes us productive, it's priceless for Lean Startups that needs to deliver fast and easy MVPs, but for production apps there's still some resistance on own part, not full confidence on it, you know? Still, we are discussing problems relative to development environment (the current issue, particularly). I really hope the Google team won't bail

[2019-09-25 22:24] Hixie commented on #41308
If we have a package where we say we support two versions, we would have to run our entire test battery against each version. If we have two packages where we support two versions, we'd have to run our entire test battery against every combination of those two packages, so four times. This will rapidly get out of control. This will be especially unlikely to be practical since this will only be rel

[2019-09-25 22:26] jonahwilliams commented on #9253
I've got two PRs open to make progress on the engine side of things:

- Create JIT release build for x86: https://github.com/flutter/engine/pull/12446
- Upload x64 release and profile artifacts: https://chromium-review.googlesource.com/c/chromium/tools/build/+/1825881

For the latter PR, the two follow up changes would be to 1) update the engine cache artifacts to download this as well and 2) upda

[2019-09-25 22:27] flar commented on #40406
I've closed the "revert" PR associated with this issue and the benchmark has been rebased so it is no longer red. Do we leave this open as relating to "we need to find better metrics to measure with that benchmark"? Or is there another issue related to that?

[2019-09-25 22:28] franciscojma86 commented on #41072
Closing as this is a duplicate of https://github.com/flutter/flutter/issues/37710

[2019-09-25 22:28] #41072 closed

[2019-09-25 22:29] franciscojma86 opened #41323 "Use Raw Input api to support >5 mouse clicks and other devices"
We might need this api to support joysticks, game controller and distinguish between different devices of the same kind (e.g. two mice connected)

[2019-09-25 22:30] jascodes commented on #39256
didn't had problem again, don't know what was wrong with that folder,
feel free to close.

[2019-09-25 22:33] jascodes commented on #39949
Maybe custom implementation of text field is required in this case. Any one know any resources/snippets in regart to this?

[2019-09-25 22:34] GaryQian commented on #31512
Since your fix filters explicitly for korean, it may skip cases where it is actually useful, though it is still unconfirmed this bug is the same.

[2019-09-25 22:37] amirh commented on #41308
@Hixie what would be your suggestion for package maintainers in such cases (major update to a package pinned by Flutter)? support Flutter master? (in which case Flutter stable users are likely not going to get bugfixes until Flutter is released) or support Flutter stable? (in which case the moment Flutter is release a bunch of packages cannot be resolved with the new Flutter version)

[2019-09-25 22:38] mohamed-reda opened #41324 "TextField/TextFormField labelText and hintText should be right-aligned with TextDirection.rtl"
There is forgotten attribute **write** for the `labelText of(TextFormField or TextField)` from right to left.
I tried with `textAlign`, `textDirection`. Although, it works with `hintText` and the user input, it doesn't work with the `labelText`.

![Screenshot](https://user-images.githubusercontent.com/15935347/65644781-86058100-dff5-11e9-82f0-60321192c474.png)
[textfield.txt](https://github.com/fl

[2019-09-25 22:44] rydmike commented on #34678
Reading all the comments here and having struggled wit this too, I think it is fairly obvious what is asked for.

A way to to make a fully transparent Android system navigation bar where only the Android navigation buttons are opaque (or semi transparent) that also plays nice with other bottom widgets used in Flutter. Meaning e.g a FAB or a bottom navigation bar should remain above the transparent

[2019-09-25 22:48] blasten commented on #40126
that should be fine. Thank you!

[2019-09-25 22:52] #39256 closed

[2019-09-25 22:53] liyuqian commented on #40406
Sure, let's leave this open and change the issue title to something like "Need better memory metrics".

[2019-09-25 22:56] seritaApp commented on #31512
I have just tested this on master and switched to korean in the keyboard settings. The issue still persists.
I also realized it only happens if auto-completion is turned on.

![ezgif-4-34131cbd10cf](https://user-images.githubusercontent.com/55809519/65645525-252b7800-dff8-11e9-9478-a50b9b32748d.gif)

[2019-09-25 22:56] Hixie commented on #41308
One option for package maintainers would be to maintain two versions of their package, one for master at x.y.z, and one for stable at x-1.y.z, assuming pub supports that.

[2019-09-25 22:58] amirh commented on #41308
Another interesting alternative - maybe we can try and get the maintainers of packages pinned by Flutter to land breaking changes in a phased way (similar to how we land breaking changes in Flutter to mitigate the same problem).
Probably a first step would be to reach out to all of them and get them aware of the implications, and a second step would be to have some mechanism to detect/enforce this

[2019-09-25 22:58] amirh commented on #41308
As a package maintainer I'd hate to have to keep 2 branches and release bug fixes to both.

[2019-09-25 23:05] alan-knight commented on #41308
I certainly didn't realize that bumping the minor version was going to be a
problem for people. I only bumped it because we were significantly
increasing the minimum SDK, which while significant, isn't really breaking.
One obvious thing is that we really ought to bring it up to a 1.0.0 release
so that anyone pinning with ^ won't be broken by second-level increments.

On Wed, Sep 25, 2019 at 9:42 A

[2019-09-25 23:09] Hixie commented on #41308
Certainly. It shouldn't be a problem that often, though.

We should bring `intl` to 1.0 in general, if we expect people to use it. :-)

[2019-09-25 23:11] ekasetiawans commented on #41114
Not yet. I don't have any other phone with armv8a processor.

[2019-09-25 23:16] GaryQian commented on #40823
@sososdk Can you check if this is fixed on master channel? Thanks!

[2019-09-25 23:17] kunit1 commented on #41289
@zeromaro
I don't think this is a bug. You are calling an async function provided by provider in the initState. That's not allowed. See the FAQ in the Provider repo read me.

Try placing the call in a microtask. Take a look at the Provider FAQ.

[2019-09-25 23:19] ekasetiawans commented on #41114
I upload compiled apk.

https://drive.google.com/folderview?id=1AHOpokLUzOQFI_ovb6zYTJdAcka_t1AX

[2019-09-25 23:20] flar commented on #40406
@BondarenkoStas if you read the current comments I believe that the performance label you added might no longer apply - do you agree?

[2019-09-25 23:23] hterkelsen opened #41328 "Flutter Web should not hard-code `devicePixelRatio` to `1.0`"
Since we hard-code `devicePixelRatio` to `1.0`, this prevents us from loading higher-resolution images. This can cause images to look pixelated on higher-resolution devices.

@ferhatb @yjbanov do you remember why we hard-coded it to `1.0`?

[2019-09-25 23:32] sroddy commented on #40184
I've just seen this, sorry.

Going to test it tomorrow morning as first thing, thanks.

[2019-09-25 23:40] tnoor-co commented on #41291
Worked great on macOS Catalina. Thank you for the fix @yuesaka

[2019-09-25 23:47] liyuqian commented on #40406
We used performance label for other "performance metrics" or "memory" issues. So I think having that label here is fine.

[2019-09-25 23:51] amirh commented on #41308
Seems like part of the confusion is around the pub versioning conventions for packages with versions smaller than 1.0.0 (the versioning scheme for these is `0.MAJOR.MINOR+PATCH`). This isn't the first time we see wrong version updates as package developers aren't aware of this convention.

I guess this can be partly mitigated by forcing a breaking change description when publishing major version u

[2019-09-25 23:54] Hixie commented on #41308
I agree that part of the problem is that we have breaking-change updates that aren't (though I suspect we have non-breaking-change-version-updates that _should_ be much more often, technically), but I think that's mostly a distraction from the core problem here, which would still occur regardless.

[2019-09-26 00:14] zeromaro commented on #41289
@kunit1 , that doesn't explain why it works well in `debug` but doesn't in `release` builds, does it?

[2019-09-26 00:19] #41306 closed

[2019-09-26 00:24] liyuqian opened #41330 "Add filesystem unit test to engine?"
To test changes like https://github.com/flutter/engine/pull/12454

[2019-09-26 00:45] Hixie commented on #36476
It's `--enable-asserts` that's triggering this.

[2019-09-26 00:45] #36279 closed

[2019-09-26 00:55] #41289 closed

[2019-09-26 00:59] #40126 closed

[2019-09-26 01:06] waseber commented on #34324
I'm experiencing the same issue. It seemed to have started when I upgraded to flutter 1.9, however, even downgrading/changing versions doesn't fix anything. Looking around Google, it seems like this is a rather common problem. Please Google/Flutter team, help us out!

[2019-09-26 01:17] filiph commented on #10243
I was looking at this today, and got some really great insights from @Hixie. I'm writing them here for posterity. I'm also working on a Widget of the Week video but that can't have all these details.

To restate the issue: `AnimatedCrossFade` and its default `layoutBuilder` assume that both its widgets fill available space. For that, it works great:

![animated-cross-fade-sizes](https://user-image

[2019-09-26 01:19] tvolkert commented on #29411
The [`dart:io Process`](https://api.dartlang.org/stable/2.5.0/dart-io/Process-class.html) API runs/works in Flutter apps, but it'll tie your app to platform-specific things like executables on disk.

[2019-09-26 01:20] stuartmorgan commented on #41316
Duplicate of #32120

[2019-09-26 01:21] #41316 closed

[2019-09-26 01:21] stuartmorgan commented on #41291
Duplicate of #41253

[2019-09-26 01:32] krisgiesing opened #41334 "ReorderableListView requires child keys to be identical across builds"
Internally ReorderableListView creates a GlobalObjectKey per child, where that key's value is the child's key.

GlobalObjectKey uses the identical compare function to determine equality. This means that if child keys are regenerated on each build pass, the ReorderableListView subtree will rebuild, even if the keys compare equal to the previous pass.

[2019-09-26 01:32] krisgiesing commented on #41334
@Hixie per offline discussion

[2019-09-26 01:43] 5lineofcode commented on #24875
pod install on ios directory, fix this issue for me :-)

[2019-09-26 01:51] ahai0831 commented on #37768
and i  also have this problem...

[2019-09-26 01:57] shashikantshaale commented on #29041
#https://github.com/flutter/flutter/issues/28494#issue-414466617

[2019-09-26 01:57] shashikantshaale commented on #29041
Duplicate of #https://github.com/flutter/flutter/issues/28494#issue-414466617

[2019-09-26 01:58] 5lineofcode commented on #30649
thanks bro, this one help me, i forget to enable maps for ios
:-)

[2019-09-26 02:21] shihaohong commented on #34678
Hi @rydmike, thank you for the detail of your ask and issues surrounding creating a transparent/translucent navigation bar. This will certainly help with figuring out what needs to be done.

I've been doing preliminary investigations into this through https://github.com/flutter/flutter/issues/40974 and unfortunately do not have a solution that achieves the desired effect (I too tried playing aroun

[2019-09-26 02:24] fankfank commented on #41250
As you said, I have already tried it. master is the same as stable，
what should I do？Thanks！

[2019-09-26 02:24] fengyuxx opened #41335 "Real device iOS13.0/13.1 debugging stuck at "Installing and launching...""
Direct run is no problem.
And debug on a real iOS12 device or a iOS13 simulator is normal too.
But debug on a real iPhone8 iOS13.1 or iPhone XR iOS13.0 will be stuck:

## Logs:
[code]
Then it's stuck. No more logs.

## flutter doctor
[code]

[2019-09-26 02:27] escamoteur commented on #37699
@ksilz could you please file another issue on the build performance for ios please.

On your fear that Google could stop Flutter I think we are pretty safe. Google uses Flutter internally a lot namely Adwords their cash cow is written in Flutter and their  new Nesthub device too.

[2019-09-26 02:28] YouCii commented on #30417
Amazing, the problem disappears. But why? What has been modified in the new version of Flutter?

[2019-09-26 02:38] escamoteur opened #41336 "Flutter Web fails if user has activated Kaspersky"
Hi,

I open this issue because yesterday two people reported there problems with Flutter Web lies in their activated Kaspersky.

https://github.com/flutter/flutter/issues/41248

I think we should add an hint on this on the typical error message because more users will hit this.

Cheers
Thomas

[2019-09-26 02:38] PreviousTlx opened #41337 "video_player crashes when I switch video url."
## Code
[code]
```error:Once you have called dispose()```

[2019-09-26 02:44] escamoteur commented on #41262
Could it be that you have Kaperski installed and activated?

[2019-09-26 02:49] escamoteur commented on #40427
Hi, am I right that you only get that breaking when you have selected 'break on all exceptions'?

[2019-09-26 02:54] #29411 closed

[2019-09-26 02:54] lrmoorejr commented on #40427
That was my approach.

On Sep 25, 2019, at 7:51 PM, escamoteur <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi, am I right that you only get that breaking when you have selected 'break on all exceptions'?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/flutter/flutter/issues/40427?email_source=notifications&

[2019-09-26 02:57] escamoteur commented on #41250
Could you please add your log with the error message?

[2019-09-26 02:58] #30417 closed

[2019-09-26 03:01] tvolkert commented on #37699
Hi all,

FYI, this has been hotfixed in `v1.9.1+hotfix.3`, which is now live on the beta channel.  Please give it a shot and let me know if you experience any issues.  If it looks good, we'll promote it to stable in the near future.

Thanks,
-T

[2019-09-26 03:03] namiwang commented on #41281
@escamoteur Did another test, current `beta` branch works fine.

[2019-09-26 03:05] #41184 closed

[2019-09-26 03:06] liujingtech commented on #41184
China network problem

[2019-09-26 03:07] fankfank commented on #41250
I can not see any error msg, just not generate Development Pods dir when execute pod install in pods, sry ...

[2019-09-26 03:12] cs118651 commented on #41046
I hope the official to merge this PR as soon as possible because our application has the same problem to solve.

[2019-09-26 03:31] steven2947 opened #41339 "[Camera] Camera plugin throwing IllegalArgumentException(Bad argument passed to camera service) when takePicture."
When I use the `takePicture` method, it throws `IllegalArgumentException: Bad argument passed to camera service`.

## Logs
[code]

## Solution
When I add `pictureImageReader.getSurface()` in the `createCaptureSession` method, it fixes the bug. So hopefully, it will be fixed in next version.

[explanation - stackoverflow](https://stackoverflow.com/questions/32516539/android-camera2-bad-argument-pas

[2019-09-26 03:37] abdosaidbassuony opened #41340 "Failed assertion: line 2247 pos 12: '!_debugLocked': is not true."
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-09-26 03:48] rosnaib11 opened #41341 "Crushing when trying to get dart extension on VSCode"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter packages get

## exception

NoSuchMethodError: NoSuchMethodError: The method '[]' was called on null.
Receiver: null
Tried calling: []("androidPackage")

[code]

## flutter doctor

[code]

[2019-09-26 04:13] Quiese commented on #37699
Hello everyone and @tvolkert !
In my first tests, in the beta channel, there is in principle working well.
An error occurred on the first run attempt, but after:
- flutter clean;
- disable wifi sync on itunes;
- disable network connection in xcode;

It worked normally, hot-reload, hot-restart ... on iPhone 7 + iOS 13.1.
Sorry for my bad english. Thanks!

[2019-09-26 04:14] MahdiPishguy commented on #36443
@BondarenkoStas i think, after updating dart and flutter version, that cause of solve problem, but still i'm not sure

[2019-09-26 04:14] monkingame commented on #37699
I test the v1.9.1+hotfix.3 (Channel beta) version, but some issues are still.

## steps and issues
1)Created the counter sample project.
run by ‘F5’ then output waiting at:
[code]
And app is blank screen for several minutes.
2)Stopped the app and run 'flutter run —verbose’.
App started magically  and widgets shown OK,.
and console stay at:
[code]
3)Then I run by ‘F5’ again, app shows blank screen

[2019-09-26 04:15] jonahwilliams commented on #41336
I think I could mitigate this by updating the status when we're trying to connect, and also giving it a seems slow notification.

[2019-09-26 04:24] jerryzhoujw commented on #37699
I try to run an example project of [connectivity plugin](https://github.com/flutter/plugins/tree/master/packages/connectivity/example) with device (iOS 13.1)

## 3 way to run the project, there's something strange with VSCode:
* if run with Xcode 11.0, it's fine and can debug well
* if run with VSCode, it's always show "installing and launching" with log in `DEBUG CONSOLE`:
[code]
The device show

[2019-09-26 04:26] jupiterjosh commented on #39649
@stuartmorgan when you said this was a dup, were you saying that because of the e-mail response from that @southernsons received or were you referring to the warnings. or both?
[code]
Because I'm getting these warnings too even after I followed all the suggestions described in #37850.  I've been able to upload my app to TestFlght without any ITMS e-mails from apple, but  I'm concerned I have a tic

[2019-09-26 04:28] mm-public-tx opened #41344 "'TextEditingController' filter English letter when input Chinese on iOS"
## Steps to Reproduce

When I input Chinese on iOS, the English letter will be placed in `textField` firstly. After I select
Chinese keyboard, the Chinese character will be placed.

I use `TextEditingController` to listen `texChange`. I get notification when English letter change or Chinese character change, but I just want to be notified when Chinese character change.

I tried the code to avoid g

[2019-09-26 04:35] boylenssen opened #41345 "CupertinoActivityIndicator animation is incorrect"
![rotation_incorrect](https://user-images.githubusercontent.com/5054262/65658533-75223300-e028-11e9-9465-fdf63ef2007d.gif)

The CupertinoActivityIndicator() widget is rotating clockwise, which is ok, but it should look like a rotating bar that is fading out behind it. Attached is a gif which shows the incorrect animation.

Please compare it with the official one: https://developer.apple.com/design

[2019-09-26 04:36] ZHanOBa commented on #30765
I have encountered the same problem, but it has not been resolved. How do you feel it?

[2019-09-26 04:42] zhanghaigang666 opened #41346 "image_picker: ^0.6.1+4 why unsupported .png format file???"
[code]

[2019-09-26 05:09] stuartmorgan commented on #39649
The former; despite the title of the issue, the primary concern seemed to be the rejection due to `_ptrace`. It's likely that the warning is unrelated given that you see the warning but not the rejection (it's common for people to only notice warnings when there's some later error, and then assume that the warning is related).

I would suggest filing a new bug about the warning; I would re-open th

[2019-09-26 05:26] yumatan commented on #37699
Thanks! @tvolkert

I have tested the `v1.9.1+hotfix.3 (Channel beta)` version, but some issues remain.

## Step and issues

Start Debugging...
[code]

However, it seems to be stop debbuging.
And does not work hot-reload and hot-restart.

## $ flutter doctor -v
[code]
Thanks!

[2019-09-26 05:30] haita2008 commented on #41291
Many thanks to all, I followed @yuesaka's instruction and flutter doctor found no issue.

[2019-09-26 05:37] khainhero commented on #41180
Hey @divan

That is very interesting, are you using firebase_messaging plugin? what version if so?

Can you post your flutter doctor -v summary here

to confirm, your notifications are working now for both iOS 13 and 12?

Thanks for the input

[2019-09-26 05:44] roshenLiang commented on #39956
请问解决了吗

[2019-09-26 05:57] roshenLiang opened #41350 "Add2App module build fails if build is run after flutter clean"
[code]
-------------------------------------------------------
It's okay to just run flutter.
But this problem arises after the integration of native projects

[2019-09-26 05:58] gilnuy commented on #39667
i got the same problem.

[2019-09-26 06:00] roshenLiang commented on #39885
D:\MyData\ex_liangls>flutter doctor -v
[âˆš] Flutter (Channel dev, v1.10.6, on Microsoft Windows [Version 6.1.7601],
    locale zh-CN)
    â€¢ Flutter version 1.10.6 at
      D:\FlutterSDK\flutter_windows_v1.10.6-dev\flutter
    â€¢ Framework revision cc3ca9a916 (15 hours ago), 2019-09-25 10:57:58 -0400
    â€¢ Engine revision 63949eb0fd
    â€¢ Dart version 2.6.0 (build 2.6.0-dev.2.0 69b5681546)

[2019-09-26 06:00] kishansinhparmarxongo opened #41351 "Flutter build release (assembleRelease) APK failed"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter build aot --suppress-analytics --quiet --target lib/main.dart --output-dir /home/xongolab/Kishansinh/Workspace_Flutter/renoon_github/Renoon/build/app/intermediates/flutter/release/android-arm --target-platform android-arm --release

## exception

ProcessException: ProcessException: No such file or

[2019-09-26 06:04] sososdk commented on #40823
Great, the problem solved in the master branch.

[2019-09-26 06:11] roshenLiang commented on #41350
we will app-->gradle.clean
then error--->
* Where:
Settings file 'E:\MediaProject\Android&Flutter\settings.gradle' line: 4

* What went wrong:
A problem occurred evaluating settings 'flutter'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

this is My setting.gradle

include ':app'
rootPro

[2019-09-26 06:14] Zazo032 commented on #34678
To handle the position of some widgets, I think maybe we should modify the `SafeArea` widget to properly position other widgets on the screen. As Dave Burke said, this effect can be achieved by setting the navigation bar to transparent in the Android style's (theme) file, so after adding that, the next step should probably be to push the rendered layout under that navigation bar. In P and older ve

[2019-09-26 06:26] janmoppel commented on #41345
Hello @boylenssen !

Thank you for posting.
Can you please also provide an output of the `flutter doctor -v` command?

Thank you.

[2019-09-26 06:31] cabutoaerodesign opened #41352 ""could not resolve the kernel binary" on Windows and Linux"
After upgrading flutter (`flutter upgrade`) _today_, I've tried running an application which was previously working just fine, when I run `flutter run` I get some errors.

Here the output from `flutter run -v`

[code]

I've cloned [flutter-desktop-embedding/example](https://github.com/google/flutter-desktop-embedding), so I could test whether it's a problem with my program, but I get the same outp

[2019-09-26 06:35] janmoppel commented on #41344
Hello @mm-public-tx !

Thank you for posting an issue.
Your question might be also a good fit for the [StackOverflow](https://stackoverflow.com/tags/flutter). Flutter has a very active and helpful community there, so feel free to post it there too.

[2019-09-26 06:36] shivapht commented on #41168
Figured it out. Removing the FirebaseApp.configure worked.

[2019-09-26 06:36] #41168 closed

[2019-09-26 06:38] boylenssen commented on #41345
@janmoppel yes of course, here it is:

[code]

[2019-09-26 06:39] ksilz commented on #37699
@escamoteur There are already three issues for „long iOS build times with cloud_firestore“. Some speculate it may have to do with gRPC and experimented with fixes in that area:

- [#24909](https://github.com/flutter/flutter/issues/24909) from December
- [#27771](https://github.com/flutter/flutter/issues/27771) from February
- [#37582](https://github.com/flutter/flutter/issues/37582) from August

T

[2019-09-26 06:49] janmoppel commented on #41340
Hello @abdosaidbassuony !

Thank you for posting.
However, without any additional information, such as the code to reproduce the issue and `flutter doctor -v` command output, your case cannot be investigated. Due to that, closing this issue.
But feel free to open a new issue and fill the information requested in the template.

Thank you.

[2019-09-26 06:49] #41340 closed

[2019-09-26 06:52] sergicastellsague commented on #20517
Thanks @goderbauer, however when I tried it, the code was not matching Flutter's code anymore, so it was not possible to simply apply the patch.

[2019-09-26 07:06] gchan93 opened #41353 "flutter run returns an error"
## Steps to Reproduce

1. I ran `flutter run` in cmd
2. It returns an error and does not run the program in my virtual device.

## Logs

[code]
## Flutter doctor

[code]

[2019-09-26 07:07] gchan93 commented on #41353
[flutter_03.log](https://github.com/flutter/flutter/files/3656390/flutter_03.log)

[2019-09-26 07:08] janmoppel commented on #41337
Hello @PreviousTlx !

Thank you for posting the issue.
Can you please also provide more information, such as an output of the `flutter doctor -v` command and a full stacktrace of the error (if there is more information on the error)?

Your question might be a good fit for the [StackOverflow](https://stackoverflow.com/tags/flutter) as well. Flutter has a very active and helpful community there, so

[2019-09-26 07:09] gchan93 commented on #41353
I also tried running the gradlew.bat -v command in cmd, but it returns this error:

Downloading https://services.gradle.org/distributions/gradle-4.10.2-all.zip

Exception in thread "main" javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to re

[2019-09-26 07:17] GaspardMerten opened #41354 "Flutter Web - Fonts/MaterialIcons not working on Safari iOS13"
Hello,

I just migrated my app to flutter web, and everything was working 'fine'.

But on iOS13, fonts are not loaded, and that's a big issue for me because I use `MaterialIcons` everywhere in my app...

Here is my `pubspec.yaml` file:
[code]

I'm using the latest version of Flutter (on master)

Any idea on how to solve that? (It works perflectly on iOS12, Android, Desktop)

[2019-09-26 07:20] janmoppel commented on #41353
Hello @gchan93 !

Thank you for posting an issue.
Your case looks similar to the one described here: #25277. Can you please check, whether proposed solution in that thread works for you?

Thank you.

[2019-09-26 07:24] janmoppel commented on #41352
Hello @cabutoaerodesign !

Thank you for posting an issue.
Can you please also provide an output of the `flutter doctor -v` command?

Thank you.

[2019-09-26 07:29] heinzan commented on #25274
same too

[2019-09-26 07:32] YK-Unit commented on #10687
You can solve it by following these steps：

1. exit Android Studio IDE
2. delete the hosted folder of .pub-cache in flutter SDK directory

[code]
3. delete the .packages file in the project root directory

[code]
4. get packages for the  project

[code]
5. open  the project with Android Studio IDE

6. done~

[2019-09-26 07:34] vlowe85 commented on #41188
Same issue on the dev channel fyi

[2019-09-26 07:42] SilvereNef commented on #41107
Nobody couldn't help me ?

[2019-09-26 07:43] wezzle commented on #37699
Thanks @tvolkert

I've also tested the beta channel and can confirm building for iOS13 on an iPhone 7 works for me again.

The only problems that still persist for me are:
- No print statement output during `flutter run` or `flutter attach`. The print statements do show up in the Xcode ouput.
- [Issue 40349](https://github.com/flutter/flutter/issues/40349) status bar is suddenly white

[2019-09-26 07:51] mit-mit commented on #41308
@Hixie wrote:

Yes, you can publish a package on what corresponds to both a stable channel and a dev channel: https://dart.dev/tools/pub/publishing#publishing-pre-releases. Consumers always get stable channel packages by default; you need to specifically specify the pre-release version to get that.

But this, as @amirh pointed out, means maintaining two versions of the package, which is painful.

[2019-09-26 07:51] mit-mit commented on #41308
Is it time to consider running tests on all our channels?

[2019-09-26 07:57] spkersten commented on #40349
We have this issue when using just `AnnotatedRegion<SystemUiOverlayStyle>`, so it doesn't seem to be `CupertinoPageScaffold` specific.

[2019-09-26 08:07] janmoppel commented on #41350
Hello @roshenLiang !

Thank you for posting an issue.
Can you please also post the error output, when you run with the ``--stacktrace` option?

Thank you.

[2019-09-26 08:07] maxlapides commented on #40349
This issue seems related: https://github.com/flutter/flutter/issues/41067

[2019-09-26 08:10] jhsware commented on #41100
The massive amounts of feedback I have received from users with limited sight indicates that they don't agree with you. They would rather have an app in working state than the ability to force-zoom the text.

The feedback I got from these users is that the app is broken and once the font size was reverted to the correct (smaller) size they where happy. In their opinion, slightly broken = useless s

[2019-09-26 08:10] janmoppel commented on #41313
Hello @Sparks1998 !

Thank you for posting.
However, without any additional information, such as the code to reproduce the issue and `flutter doctor -v` command output, your case cannot be investigated. Due to that, closing this issue.
But feel free to open a new issue and fill the information requested in the template.

Thank you.

[2019-09-26 08:10] #41313 closed

[2019-09-26 08:14] janmoppel commented on #41291
Closing this issue, as the solution was found.

[2019-09-26 08:15] roshenLiang commented on #41350
How to run -- stacktrace

[2019-09-26 08:19] janmoppel commented on #41335
Hello @fengyuxx !

Thank you for posting an issue.
Can you please also attach the `flutter doctor -v` command output?

Thank you.

[2019-09-26 08:19] Tabarek commented on #41095
I had the same issue

[2019-09-26 08:22] markmoskalenko commented on #29341
Included in the assembly of the Russian language!
Similar problem !!!!

[2019-09-26 08:23] antoninobajeli commented on #29770
I use the plugin too, and I'm facing the same problem.

[2019-09-26 08:38] roshenLiang commented on #41350
E:\MediaProject\A&F\MyApplication>gradle compileDebug --stacktrace
Starting a Gradle Daemon, 1 incompatible Daemon could not be reused, use --status for details

FAILURE: Build failed with an exception.

* Where:
Build file 'E:\MediaProject\A&F\MyApplication\my_flutter\.android\Flutter\build.gradle' line: 26

* What went wrong:
A problem occurred evaluating project ':flutter'.

dle-5.4.1-all.zip

[2019-09-26 08:41] escamoteur commented on #41281
Cool then I close this bug

[2019-09-26 08:47] roshenLiang commented on #41350
E:\MediaProject\A&F\MyApplication>gradle compileDebug --stacktrace

Welcome to Gradle 5.4.1!

Here are the highlights of this release:
 - Run builds with JDK12
 - New API for Incremental Tasks
 - Updates to native projects, including Swift 5 support

For more details see https://docs.gradle.org/5.4.1/release-notes.html

Starting a Gradle Daemon, 1 incompatible and 2 stopped Daemons could not be re

[2019-09-26 08:48] Aronlong1001 commented on #25655
how to set route? the method setInitialRoute is invaild.

[2019-09-26 08:51] agungjk commented on #37887
@BondarenkoStas yes, on nokia 3 android 9
![Screen Shot 2019-09-26 at 15 46 08](https://user-images.githubusercontent.com/6745353/65673700-7cbbf900-e075-11e9-8553-11582397bb3d.png)

[2019-09-26 08:56] stonekase commented on #41180
I do receive the push notificat when my app is in the background but the  data partnever comes through.

[2019-09-26 09:01] xpwmaosldk opened #41357 "Can I use "flutter attach" and "flutter logs" at once"
Hi

I have one problem with using `flutter attach`

When I attach device using `flutter attach`, I can't see logs :(

So I use attach menu in VSCODE and terminal command `flutter logs`

Can I use `flutter attach` and `flutter logs` at once?

[2019-09-26 09:01] skzwksk commented on #41085
i faced same problem
`flutter run` on ios13.1 device

[code]

[2019-09-26 09:04] rostopira commented on #30967
Closing as outdated

[2019-09-26 09:04] #30967 closed

[2019-09-26 09:06] PreviousTlx commented on #41337
Hello @janmoppel
[✓] Flutter (Channel stable, v1.7.8+hotfix.3, on Mac OS X 10.14.5 18F132, locale
    yue-Hant-CN)
    • Flutter version 1.7.8+hotfix.3 at
      /Users/tanglinxing/Android_tools/flutterDev/flutter
    • Framework revision b712a172f9 (3 months ago), 2019-07-09 13:14:38 -0700
    • Engine revision 54ad777fd2
    • Dart version 2.4.0

[✓] Android toolchain - develop for Android device

[2019-09-26 09:10] PreviousTlx commented on #41337
Hello @janmoppel
  If i am not use dispose, this error would be cause after i reload 15-20 times:

W/GrallocMapperPassthrough( 3219): buffer descriptor with invalid usage bits 0x2000
W/GrallocMapperPassthrough( 3219): buffer descriptor with invalid usage bits 0x2000
W/GrallocMapperPassthrough( 3219): buffer descriptor with invalid usage bits 0x2000
W/GrallocMapperPassthrough( 3219): buffer descrip

[2019-09-26 09:10] zonghangoh commented on #35394
URGENT. HELP.

[2019-09-26 09:11] escamoteur commented on #37699
@monkingame this looks like a different problem, the log look different

Please open a new issue that says that it runs from the console but not from the IDE. Have you tried AS and  VS Code?

[2019-09-26 09:13] lyf571321556 opened #41358 "occur a error when run "webdev serve""
## Steps to Reproduce
hi,
I get a  following error when I config my web dev-env  on macos .

[code]
I'm using the latest version of Flutter. Any idea on how to solve that?

[2019-09-26 09:18] monkingame commented on #37699
'F5' run is from VSCode.
'flutter run --verbose' is from console.

And is it related to this?
My .bash_profile(macOS 10.14.6 (18G95))
[code]

[2019-09-26 09:19] janmoppel commented on #41324
Hello @mohamed-reda !

Thank you for posting an issue.
Can you please also attach the `flutter doctor -v` command output?

Thank you.

[2019-09-26 09:21] CrazyAvak commented on #16863
thanks this worked perfectly with an ontap to open the calendar

[2019-09-26 09:23] escamoteur commented on #37699
Hi

For all that have the problem that you can only run your app from the console but not from the IDE please
Add  Flutter doctor and which IDE you tried here https://github.com/flutter/flutter/issues/41085

Also vote up that issue in this case

Thanks

[2019-09-26 09:26] joaowd commented on #30180
@escamoteur Sometimes I get the first error, sometimes I get this error I just sent.

I'd say when I try to deploy to a physical iOS device I have 40% chances that the deploy is successful.

I have no issues with Android or in the iOS simulator.

flutter doctor -v:

[code]

[2019-09-26 09:26] janmoppel commented on #41301
Hello @wliumelb !

Thank you for posting an issue.
Can you please also attach the `flutter doctor -v` command output?

Thank you.

[2019-09-26 09:28] monkingame commented on #41085
I test the v1.9.1+hotfix.3 (Channel beta) version, but some issues still remained.

Editor: VSCode

## steps and issues
1)Created the counter sample project from VSCode.
run by pressing ‘F5’ key then output waiting at:
[code]
And app is blank screen for several minutes.
2)Stopped the app and run 'flutter run —verbose’ from terminal in VSCode.
App started magically and widgets shown OK,.
and consol

[2019-09-26 09:28] hobbit-xD opened #41359 "PageView NoSuchMethodError was thrown during performLayout()"
Hi
I'm building my first flutter application and i have this problem that i can't figure out.

The app retrieve data from a firebase realtime database, add all the entries in a list, and show all the entries in the first page of a PageView.

When i launch app in debug mode i have the following error:
[code]

I have tried to add a GlobalKey to the PageView key value but it didn't work.

Maybe the p

[2019-09-26 09:33] nelsonalexandrino commented on #28124
I was facing the same issue. The solution from @CameronStuartSmith is working. Thank you

[2019-09-26 09:39] igoriuz commented on #41351
You haven't accepted some android licenses. Please read flutter doctor output properly and run `flutter doctor --android-licenses`

[2019-09-26 09:39] rickchen1004 commented on #40578
I got the same problem on
Device : Nokia 3.1 plus (TA-1104)
Android Version : Android 9
Android security patch level : September 5, 2019
Kernel Version : 4.9.117+

[2019-09-26 09:41] lucien-theron commented on #34954
Hi @jonahwilliams sorry for delay. Just tested and I am still getting the error:

![image](https://user-images.githubusercontent.com/7767248/65677746-710b0b00-e052-11e9-8cf0-d98919d5d033.png)

![image](https://user-images.githubusercontent.com/7767248/65677808-8b44e900-e052-11e9-86e0-d9deef3848f3.png)

[2019-09-26 09:42] rrousselGit opened #41360 "ChangeNotifier.notifyListeners does not block execution is one listener fails"
Consider the following code:

[code]

Then the `print('reached')` is executed even although the previous line throws an exception.
This is usually unexpected, and unless one closely follows the console logs, it can be missed

Here's an example of a developer being surprised by this behavior: https://github.com/rrousselGit/provider/issues/228#issuecomment-535414020

To solve this, the idea would be

[2019-09-26 09:45] janmoppel commented on #41293
Hello @leebin17 !

Thank you for posting an issue.
Can you please also attach the full output of the `flutter doctor -v` output?

Also, it seems that similar problems have been already reported and discussed here: #35867 and #39451.

Thank you.

[2019-09-26 09:48] BondarenkoStas commented on #36443
Ok, I think it will be fine to close the issue for now, as there is not much info where to investigate it. If you encounter it again @MahdiPishguy or have any new input, please don't hesitate to comment this one and I will re-open it right away, or file a new issue.

[2019-09-26 09:48] #36443 closed

[2019-09-26 09:50] BondarenkoStas commented on #39885
@roshenLiang do you encounter the same error message? Can you please run it with -v to paste the log here, and full error message.

[2019-09-26 09:51] masewo commented on #35616
Oneplus devices do not show up the "original" modal screen so that might be the problem. I am also affected by this issue.
![image](https://user-images.githubusercontent.com/6759840/65678623-ec20f100-e053-11e9-9c99-3f3ff1d0bbc0.png)

[2019-09-26 09:51] escamoteur commented on #30180
Does it make a difference if you run from the console or from the IDE?

[2019-09-26 09:52] janmoppel commented on #41354
Hello @GaspardMerten !

Thank you for posting an issue.
Can you please attach the `flutter doctor -v` command output as well?

Also, your issue seems to be similar to the one discussed here: #41101.

Thank you.

[2019-09-26 09:55] MallorcaSoftware commented on #25107
Any news on this issue? I'am sitting three days now on debugging. It's completly random which image raiseses the exception.

Noticeable is that i only have this issue in a area in the app where a lot of state changes happens. Maybe there is a race condition if you have a network image and update the state which network image depends on before the image is loaded. But i can't reproduce it. I will s

[2019-09-26 09:56] roshenLiang commented on #39885
please look here
[https://github.com/flutter/flutter/issues/41350](https://github.com/flutter/flutter/issues/41350)

[2019-09-26 09:57] janmoppel commented on #41357
Hello @xpwmaosldk !

Thank you for posting.
Can you please also attach the `flutter doctor -v` command output?

Your question seems to be a good fit for the [StackOverflow](https://stackoverflow.com/tags/flutter) as well. Flutter has a very active and helpful community there, so feel free to post it there too.

Thank you.

[2019-09-26 09:59] warfrogsdf commented on #29656
this problem only in ios platform, iphone x and iphone xs, maybe skia problem

[2019-09-26 10:03] xpwmaosldk commented on #41357
en-KR)
    • Flutter version 1.9.1+hotfix.2 at /Users/ylabs/Documents/flutter
    • Framework revision 2d2a1ffec9 (3 weeks ago), 2019-09-06 18:39:49 -0700
    • Engine revision b863200c37
    • Dart version 2.5.0

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
    • Android SDK at /Users/ylabs/Library/Android/sdk
    • Android NDK location not configured (optional

[2019-09-26 10:08] kishansinhparmarxongo commented on #41351
Thanks @igoriuz I accept the license and install other libraries that you suggest...But still gradle task failed....
flutter build apk --split-per-abi

Initializing gradle...                                              2.2s
Resolving dependencies...                                           1.7s
Running Gradle task 'assembleRelease'...
Running Gradle task 'assembleRelease'... Done

[2019-09-26 10:08] janmoppel commented on #41358
Hello @lyf571321556 !

Thank you for posting an issue.
This seems like a known problem and the solution was proposed here: #32313. Try to run the `flutter packages pub global run webdev serve` instead of `webdev serve`.

Closing this issue for now, as the same problem was discussed before. However, if proposed solution won't work, please, feel free to open a new issue.

Thank you.

[2019-09-26 10:08] #41358 closed

[2019-09-26 10:10] leebin17 commented on #41293
[√] Flutter (Channel stable, v1.9.1+hotfix.2, on Microsoft Windows [Version 6.1.7601], locale zh-CN)
    • Flutter version 1.9.1+hotfix.2 at D:\MobileDev\flutter
    • Framework revision 2d2a1ffec9 (3 weeks ago), 2019-09-06 18:39:49 -0700
    • Engine revision b863200c37
    • Dart version 2.5.0

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.0)
    • Android SDK at

[2019-09-26 10:10] Gopinathp opened #41361 "Flutter desktop embedding example on Windows is failing to initialize at first render"
## Steps to Reproduce

git clone https://github.com/google/flutter-desktop-embedding.git
cd .\flutter-desktop-embedding\example\
flutter run

## Logs
PS E:\code\oss\flutter-desktop-embedding\example> flutter run --verbose
[  +19 ms] executing: [E:\devtools\flutter\] git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +39 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pre

[2019-09-26 10:11] wliumelb commented on #41301
Hi @janmoppel

Here is the output.

Also, this issue is probably not related to firebase. I just started a new project with `flutter create` and got the same error.

[2019-09-26 10:11] janmoppel commented on #41359
Hello @hobbit-xD !

Thank you for posting an issue.
Can you please also attach the `flutter doctor -v` command output?

Your question seems to be a good fit for the [StackOverflow](https://stackoverflow.com/tags/flutter) as well. Flutter has a very active and helpful community there, so feel free to post it there too.

Thank you.

[2019-09-26 10:12] Lynxgsm opened #41362 "Firebase google sign-in crashes on production mode"
Hello everyone, i've used flutter packages like:
- firebase_auth: ^0.11.1+8
- google_sign_in: 4.0.4

to (well) sign-in into Google using **Firebase**. In development mode, the app runs well and get authenticated, but in production mode, the app crashes when the Google sign-in popup displays. I've also set the SHA certificates.

Can you guess what the problem is? Thanks in advance!

[2019-09-26 10:13] MallorcaSoftware commented on #33240
Any news on this issue? I'am sitting three days now on debugging. It's completly random which image raises the exception.

Noticeable is that i only have this issue in a area in the app where a lot of state changes happens. Maybe there is a race condition if you have a network image and update the state which network image depends on before the image is loaded. But i can't reproduce it. I will spe

[2019-09-26 10:19] leebin17 commented on #41293
@janmoppel Thank you for your attention.  And I've posted the output of  ' flutter doctor -v' .
And I still can't figure it out.

[2019-09-26 10:20] janmoppel commented on #41362
Hello @Lynxgsm !

Thank you for posting an issue.
Can you please provide an additional information, such as:
1. the `flutter doctor -v` command output;
2. the full stacktrace of the error.

Thank you.

[2019-09-26 10:21] wangying3426 opened #41363 "Use system boringssl on iOS"
Can we use system libboringssl.dylib to reduce Flutter.framework size on iOS?

[2019-09-26 10:23] raipradeep commented on #40956
@mklim

Thanks for looking into our issue.

I have all the things you mention:-

The SKU IDs in the Play Developer Console need to match the product IDs that you're querying for.
Yes, they are same. I have cross checked.

The package ID of your app needs to match the package ID in the PDC.
Yes it is also same.

The local APK needs to match the signed APK that was uploaded to the PDC. Same store fi

[2019-09-26 10:26] msangals commented on #37616
Same issue

Note: ~/.pub-cache/hosted/pub.dartlang.org/url_launcher-5.1.3/android/src/main/java/io/flutter/plugins/urllauncher/WebViewActivity.java uses or overrides a deprecated API.

[2019-09-26 10:34] leebin17 commented on #41293
this is the log when I clicked the input for the first time.

W/ContentCatcher( 9203): Failed to notify a WebView
W/ResourceType( 9203): No package identifier when getting name for resource number 0x00000000
I/Adreno  ( 9203): DequeueBuffer: dequeueBuffer failed
I/Adreno  ( 9203): DequeueBuffer: dequeueBuffer failed
I/Adreno  ( 9203): DequeueBuffer: dequeueBuffer failed
W/ContentCatcher( 9203): Fa

[2019-09-26 10:37] Lynxgsm commented on #41362
[✓] Flutter (Channel stable, v1.9.1+hotfix.2, on Mac OS X
    10.14.6 18G95, locale en-GB)
    • Flutter version 1.9.1+hotfix.2 at
      /Users/Shared/lib/flutter
    • Framework revision 2d2a1ffec9 (3 weeks ago), 2019-09-06
      18:39:49 -0700
    • Engine revision b863200c37
    • Dart version 2.5.0

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
    • Android

[2019-09-26 10:38] Lynxgsm commented on #41362
I've got no stacktrace because the app crashes on google signin on release mode.

[2019-09-26 10:39] escamoteur commented on #30180
Also could you please try the beta channel, there is a new hotfix on since yesterday

[2019-09-26 10:50] escamoteur commented on #30180
All the referenced issues are fixed so I m really curious if it work with the beta

[2019-09-26 10:52] escamoteur commented on #29656
Could you please add the output of flutter doctor here?

[2019-09-26 10:53] moisesvs opened #41364 "Problem to build flutter web"
`WebSocketChannelException: WebSocketChannelException: SocketException: OS Error: Connection refused, errno = 61, address = localhost, port = 64158
[ +213 ms] Serving DevTools at http://127.0.0.1:64164`

Hi,

I trying run a flutter web application. Befora I have run well my application but now I am obtaining the following problem.

## Steps to Reproduce

flutter run -d chrome

Launching lib/main.d

[2019-09-26 11:07] escamoteur commented on #37699
@monkingame now I'm confused, does it run anywhere? On the console or on VS Code?
Are you on the latest beta?

[2019-09-26 11:15] Jangmin-Lee commented on #25767
LOL @stevemoreau

[2019-09-26 11:16] govindh163 opened #41365 "Failed assertion: boolean expression must not be null,CAN ANYONE FIX IT OR FIND WHERE THE BOOL VALUE IS"
This was the code
[code]
[code]
[code]

[2019-09-26 11:17] govindh163 opened #41366 "Failed assertion: boolean expression must not be null,CAN ANYONE FIX IT OR FIND WHERE THE BOOL VALUE IS !!"
This was the code

 class MyOrders extends StatefulWidget {
  @override
  _MyOrdersState createState() => _MyOrdersState();
}

class _MyOrdersState extends State<MyOrders> with AfterLayoutMixin {
  @override
  void afterFirstLayout(BuildContext context) {
    refreshMyOrders();
  }

  @override
  Widget build(BuildContext context) {
    bool isLoggedIn = Provider.of<UserModel>(context).loggedIn;

[2019-09-26 11:17] #40823 closed

[2019-09-26 11:19] #41366 closed

[2019-09-26 11:19] fipooo opened #41367 "Problem with flutter_platform_widgets"
I updated flutter to Flutter 1.10.6. And now I have problem with flutter_platform_widgets. Drop me this.

## Logs
[code]

[code]
[code]

[2019-09-26 11:20] divan commented on #41180
@khainhero yes, correct - I have it working both on iOS 13.1 and iOS 12.
I use latest `firebase_messaging` version at this moment - 5.1.6.

Attaching <details>
<summary>my `flutter doctor` output</summary>
<pre>$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, v1.10.6-pre.29, on Mac OS X 10.14.6 18G95, locale en-ES)

[✓] Android toolchain - d

[2019-09-26 11:22] monkingame commented on #37699
@escamoteur  I ran the sample project from VS Code.
First I press 'F5' key to run .
When I found the app is blank screen, I go into terminal window of VS Code(in fact it is console).
And I run 'flutter run --verbose' to find details in the terminal.

All I doing is in the VS Code.
Some operations are pressing 'F5' for debugging, some are from terminal window(console).

[2019-09-26 11:31] escamoteur commented on #41064
Have you checked all the details on androidX in the readme of geolocator?
The best thing you can do is create a new project with the option androidX (do a flutter create - h to get the exact parameters) the copy all your Dart files and your pubspec into this new project

[2019-09-26 11:32] ricardobrg opened #41368 "Add a lowercase option to TextInputField.textCapitalization"
The TextInputChannel makes possible the automatic capitalization of TextInputFields through TextCapitalization property. There are 4 possible values for this property: [CHARACTERS, WORDS, SETENCES, NONE](https://github.com/flutter/engine/blob/dce8a34048e9e0eff0fd43b125bf395db8766a2d/shell/platform/android/io/flutter/embedding/engine/systemchannels/TextInputChannel.java#L397-L419).

This property i

[2019-09-26 11:34] escamoteur commented on #41250
Could you please add the output of flutter doctor here?

[2019-09-26 11:37] escamoteur commented on #37699
@monkingame do you also get a white screen when doing a flutter run from the terminal or does it work from there?

[2019-09-26 11:56] fazil-augr commented on #40742
@blasten I will try with removing ```-ignorewarnings```

[2019-09-26 11:57] Maikhaa commented on #32191
You can also generate the two required apks without changing your build.gradle with:

[2019-09-26 12:00] rajashekarvys commented on #39190
Same issue

[ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: TlsException: Failure trusting builtin roots (OS Error:
    	BAD_PKCS12_DATA(pkcs8_x509.c:618), errno = 0)
    #0      _SecurityContext.setTrustedCertificatesBytes (dart:io-patch/secure_socket_patch.dart:172:59)
    #1      _LoginPageState.serverRequest (package:jhs_flutter_app/login/LoginApp.dart:150:13)
    <asynchrono

[2019-09-26 12:08] vanelizarov commented on #40349
Turning off Dark Mode is temp solution

[2019-09-26 12:09] Den-Ree commented on #40770
@sjindel-google got it, thanks.

[2019-09-26 12:12] monkingame commented on #37699
@escamoteur

When I pressed 'F5' key to debug the app, blank screen appeared.
It seemed the app is suspending.
And logs in debug console:
[code]

When I run 'flutter run --verbose' in the terminal window(console),the app worked OK.
I press the 'Plus'  floatingActionButton and the counter number increased correctly.
And the log is:
[code]

All the operation is on physical  iPhone 6S, iOS 13.1

[2019-09-26 12:20] PreviousTlx commented on #41128
Same problem
-------------------------------------------------------------------------------------------------
package:flutter/src/rendering/sliver_multi_box_adaptor.dart': Failed assertion: line 263 pos 16: 'child == null || indexOf(child) >
index': is not true.
package:flutter/src/rendering/sliver_multi_box_adaptor.dart': Failed assertion: line 263 pos 16: 'child == null || indexOf(child) >
inde

[2019-09-26 12:21] escamoteur commented on #37699
@monkingame please follow then what I wrote here https://github.com/flutter/flutter/issues/37699#issuecomment-535419076

[2019-09-26 12:22] PreviousTlx commented on #41128
Same problem:
-------------------------------------------------------------------------------------------------
[✓] Flutter (Channel stable, v1.7.8+hotfix.3, on Mac OS X 10.14.5 18F132, locale
    yue-Hant-CN)
    • Flutter version 1.7.8+hotfix.3 at
      /Users/tanglinxing/Android_tools/flutterDev/flutter
    • Framework revision b712a172f9 (3 months ago), 2019-07-09 13:14:38 -0700
    • Engine r

[2019-09-26 12:25] salviaelmassryrunprof opened #41369 "text"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-09-26 12:29] fengyuxx commented on #41335
flutter doctor -v
[✓] Flutter (Channel unknown, v1.9.1+hotfix.3-pre.1, on Mac OS X 10.14.5 18F203, locale zh-Hans-CN)
    • Flutter version 1.9.1+hotfix.3-pre.1 at /Users/elvin/development/language/flutter
    • Framework revision 1ced75cc2b (2 days ago), 2019-09-24 10:01:16 -0700
    • Engine revision b863200c37
    • Dart version 2.5.0

[✓] Android toolchain - develop for Android devices (Androi

[2019-09-26 12:31] fengyuxx commented on #41335
And the same code, the same real device, I run my app in xcode It works fine.

[2019-09-26 12:35] escamoteur commented on #41128
Hi,
I just had a look at your code. Coukd you please create a reduced project that just contains a PageView with some Colored Pages without any Listeners and try if you get the same effect there?
Thanks a lot.

[2019-09-26 12:35] superciccio commented on #41365
hi,
this is null `order.status.toUpperCase(),`
your status is. to fix do the same you did for color

[2019-09-26 12:36] chenenyu commented on #26287
有任何进展吗？

[2019-09-26 12:40] #41369 closed

[2019-09-26 12:45] stonekase commented on #41180
hi Divan, Please can you be kind enough to create a sample of your working implementation of firebase messaging for the above mentioned scenario and be kind to share a link to the snippet here . just for my sanity as i cannot get it to capture sent data.
Secondly you are using the flutter master branch which is not advised for production(Though i am currently on it , so far it works). Many Thanks

[2019-09-26 12:46] monkingame commented on #37699
Thanks , I appended my issue to [https://github.com/flutter/flutter/issues/41085](https://github.com/flutter/flutter/issues/41085)

[2019-09-26 12:47] govindh163 commented on #41365
ThanK You @superciccio Will Try it out!!

[2019-09-26 12:48] Christophe235 commented on #31962
Yes.... This was all I needed!
Thanks @samfrank!

[2019-09-26 12:49] escamoteur commented on #41367
Hi,
flutter_platform_widget is not a package made by the Flutter team.
But I had a look at their reository and found https://github.com/aqwert/flutter_platform_widgets/issues

I recommend trying beta instead of master because it already contains the next hotfix for stable.

[2019-09-26 12:49] #41367 closed

[2019-09-26 12:51] Sp4Rx opened #41370 "Camera recording issue on multiple SAMSUNG devices"
## Details
I found that I was unable to record video on my app from any of my SAMSUNG devices. So I tried the latest [camera plugin](https://github.com/flutter/plugins/tree/master/packages/camera) example on one of my test SAMSUNG device. I observed that the video is corrupted. Only one frame is visible(probably the first one) and the audio is going fine.

After some searching I found this issue i

[2019-09-26 12:51] BondarenkoStas commented on #41365
Thank you @superciccio !
@govindh163 This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself, but related to implementation. See https://flutter.dev/community for support options. In majority of cases failed assertion points to an error in the implementation, not to issues with Flutter SDK.

[2019-09-26 12:53] #41365 closed

[2019-09-26 12:54] escamoteur commented on #41365
It always help to closely look at the stacktrace where you find in which method it happened. Also enabling break on all exceptions is good thing in the debugger

[2019-09-26 12:55] escamoteur commented on #41364
Please try it using master or beta channel

[2019-09-26 12:56] roshenLiang commented on #41350
help me ~~~every body~~~

[2019-09-26 12:57] govindh163 commented on #41365
Hey @superciccio Can I get To Know how do you Found  ' order.status.toUpperCase(),' is null?

Thanks In Advance!!

[2019-09-26 12:59] escamoteur commented on #41363
Why do you think this woud reduce the framework size?

[2019-09-26 13:00] marinat opened #41371 "Add hintOverflow option for hint in inputDecoration"
I'm using textfiled with Input decoration in appbar of my application. By default, if I add suffix icon in input decoration, ellipsis not very suitable for long words:
![device-2019-09-26-154932](https://user-images.githubusercontent.com/978076/65689401-af65f180-e075-11e9-8d49-8253aea18898.png)
even suffix icon will be in Visibility with visible option = false.

Hot fix: I manually changed overflo

[2019-09-26 13:02] escamoteur commented on #41370
Hi, is this a regression? Did it work before?

[2019-09-26 13:03] vysotsky commented on #41085
I'm facing the same issue. `flutter run` doesn't work with both Android Studio and terminal. Here is the log:
[code]
iPad OS 13.1, Xcode 11, Flutter (Channel master, v1.10.7-pre.23)
Waiting for any workaround...

[2019-09-26 13:04] superciccio commented on #41365
Sorry I was pointing to the wrong one, actually is `getCurrecyFormatted(order.total),`

first line of stacktrace is ` OrderItem.getCurrecyFormatted `

my mistake :)

[2019-09-26 13:06] Sp4Rx commented on #41370
AFIK my users were facing problem on SAMSUNG before also. Recently I got hands on to some SAMSUNG devices that's why reporting it now

[2019-09-26 13:08] Sp4Rx commented on #41370
AFIK my users were facing problem on SAMSUNG before also. Recently I got hands on to some SAMSUNG devices that's why reporting it now

[2019-09-26 13:12] govindh163 commented on #41365
Yes,Fixed ThankYou Soo Much!!@superciccio

[2019-09-26 13:12] escamoteur commented on #41371
I'm not clear what your proposal is, because you could achieve the look that you want by using the InputDecoration

[2019-09-26 13:13] nb312 commented on #40830
Thanks, It works to me.

[2019-09-26 13:16] marinat commented on #41371
@escamoteur I already use InputDecoration and ask to add new option hintOverflow in it.

[2019-09-26 13:19] escamoteur commented on #41362
you don't get any output? Could you please also try to check in android logcat?

[2019-09-26 13:20] BondarenkoStas commented on #36351
@lyodooo Can you please try if you encounter the issue using current flutter stable or master?

[2019-09-26 13:23] BondarenkoStas commented on #36354
I think it's safe to close the issue. @glassalle59 if you disagree or something else to ask/say, please comment and I will re-open it right away.

[2019-09-26 13:23] #36354 closed

[2019-09-26 13:25] BondarenkoStas commented on #36360
@RakhimyanTim By any chance, did you find a solution?

[2019-09-26 13:26] escamoteur commented on #41371
You mean cou can set it for the input text but not for the hint?

[2019-09-26 13:29] escamoteur commented on #41362
Also could you create a minimal project and see it it stil happens?
Check your pubspec.lock that you are really using the latest versions of the plugins.

[2019-09-26 13:30] divan commented on #41180
@stonekase I'm not sure I undestand "sample of your working implementation of firebase messaging" part? I'm just using a plugin in the most default way possible.

As for the master branch – yeah, I know, it's just stable/dev have issues with iOS13 devices now, only master works fine for me.

[2019-09-26 13:31] smrucv commented on #40830
did you do flutter packages get after that?

Dimas Salazar

"Los jóvenes venezolanos, ¿se dejarán abatir por las dificultades, o
tendrán el valor de ser cristianos de verdad y construir una sociedad
más justa, más fraterna, más acogedora y pacífica?"
Juan Pablo II (1985)

On Wed, Sep 25, 2019 at 3:52 AM 想要个李大仁 <notifications@github.com> wrote:

[2019-09-26 13:31] BondarenkoStas commented on #36362
@Nethram I saw an answer on SO, was it helpful? Is this issue still actual?

[2019-09-26 13:39] mm-public-tx commented on #41344
I think it may be a bug.
When type ”a“ with pinyin IME, flutter received ”TextInputClient.updateEditingState“ twice.
The first method call mislead me, because the composingExtend composingBase are -1, I will consider it is a letter "a" typed with English IME.

![image](https://user-images.githubusercontent.com/51780582/65673982-66ff0180-e07e-11e9-8ba9-1b74f684ca22.png)
![image](https://user-images

[2019-09-26 13:41] #41359 closed

[2019-09-26 13:42] escamoteur commented on #41357
@jonahwilliams can he?

[2019-09-26 13:46] moisesvs commented on #41364
I tried with beta channel but in beta channels isn't available chrome platform (related this issue: https://github.com/flutter/flutter/issues/41031)

Any ideas?

[2019-09-26 13:46] escamoteur commented on #41354
Hi, this is a kknown bug https://github.com/flutter/flutter/issues/41218
I close this one please vot and follow the other one

[2019-09-26 13:46] #41354 closed

[2019-09-26 13:47] marinat commented on #41371
Here code from input_decorator.dart how hint creates:
`final Widget hint = decoration.hintText == null ? null : AnimatedOpacity(

      opacity: (isEmpty && !_hasInlineLabel) ? 1.0 : 0.0,
      duration: _kTransitionDuration,
      curve: _kTransitionCurve,
      child: Text(
        decoration.hintText,
        style: hintStyle,
        overflow: TextOverflow.ellipsis,
        textAlign: textAlig

[2019-09-26 13:48] jejerome commented on #36915
same issue using Flutter 1.9.1+hotfix.2, thanks for finding that info!

[2019-09-26 13:48] escamoteur commented on #41353
If this doesn't help please try if a newly created app works

[2019-09-26 13:56] escamoteur commented on #41346
Hi,
thanks for reorting this issue. Could  you please add the utout of `flutter doctor` here and attach the image that makes the problem?

[2019-09-26 13:57] BondarenkoStas commented on #36365
Will just leave the link here #20827 to follow as well.

[2019-09-26 13:57] linxuebin1990 opened #41372 "Failed: ./flutter/tools/gn --android --runtime-mode debug --android-cpu x86"
My Engine branch is  v1.9.1-hotfixes
when i try to gen android_debug_x86 by commend
`./flutter/tools/gn --android --runtime-mode debug --android-cpu x86`

falid message is fellows:
`Generating GN files in: out/android_debug_x86
ERROR Unresolved dependencies.
//flutter/lib/snapshot:generate_snapshot_bin(//build/toolchain/android:clang_x86)
  needs //third_party/dart/runtime/bin:gen_snapshot(//build

[2019-09-26 13:59] leebin17 commented on #41293
I think this is the right log.

W/IInputConnectionWrapper( 9203): getTextBeforeCursor on inactive InputConnection
E/IInputConnectionWrapper( 9203): imm serving different input connection with ime service owns
W/IInputConnectionWrapper( 9203): commitText on inactive InputConnection

[2019-09-26 14:00] escamoteur commented on #41364
are you on latest master? There were some changes in the last days.

[2019-09-26 14:02] escamoteur commented on #41345
Also if I see it correct the original bars have rounded corners

[2019-09-26 14:02] BondarenkoStas commented on #36370
@rgbinnovation Can you please try it using current flutter stable or master and current google_maps_flutter?

[2019-09-26 14:05] escamoteur commented on #41344
Could you please try it on latest master? There were some fixes connected to Chinese characters

[2019-09-26 14:07] BondarenkoStas commented on #36378
@davidakinfenwa This is a question better suited for StackOverflow, since there doesn’t seem to be anything wrong with Flutter itself. Closing, as this is not an issue report. See https://flutter.dev/community for support options.

[2019-09-26 14:07] #36378 closed

[2019-09-26 14:08] DavidMGT opened #41373 "Failed assertion: line 2800 pos 15: 'baselineType != null': is not true."
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-09-26 14:11] DavidMGT commented on #41373
code
 import 'package:flutter/material.dart';
import 'package:flutter_david/common/style/boss_style.dart';
import 'package:flutter_david/model/currency.dart';
import 'package:flutter_david/utils/util.dart';

class PickCurrency extends StatefulWidget {
  var selected_currency;
  var callback;

  PickCurrency({this.selected_currency, this.callback});

  @override
  State<StatefulWidget> createState(

[2019-09-26 14:13] BondarenkoStas commented on #36387
@calvingoc Is it the same using current flutter stable or master with webview_flutter 0.3.14+1?

[2019-09-26 14:15] stuartmorgan commented on #41361
Duplicate of #41352

[2019-09-26 14:15] #41361 closed

[2019-09-26 14:16] marinat commented on #41371
Sorry, reached the desired behavior by adding isVisible condition in project code:
`suffixIcon: isVisible ? null : IconButton(`

[2019-09-26 14:16] #41371 closed

[2019-09-26 14:21] mm-public-tx commented on #41344
which commit  fix it？

[2019-09-26 14:21] stuartmorgan commented on #41352
Looks like this is affecting Windows and Linux, but I'm not able to reproduce on macOS. Could be a bug specific to the tool_backend codepath given that, but needs investigation.

I'll take a look when I'm in the office later today, but if someone wants to investigate before then the next step is to figure out what the last hash that worked/first hash that broke was.

[2019-09-26 14:24] ksilz commented on #37582
@escamoteur @therealjohnsummer Here are details of my build time:

Build time **without Firestore** after building a couple of times without any changes:

[code]

Build time **with Firestore** for the first time:

[code]

Build time **with Firestore** after building a couple of times without any changes:
[code]

Build times **fluctuate** quite a bit all the time:

- Build time with Firestore for t

[2019-09-26 14:26] escamoteur commented on #41344
Don't know just switch to master and run an upgrade

[2019-09-26 14:27] BondarenkoStas commented on #36401
@pyetti I believe that was fixed afterwards in https://github.com/flutter/flutter/pull/37187, so closing the issue. Try please with current flutter stable or master. If the message will not appear or will have bugs, please don't hesitate to comment, I will re-open the issue right away.

[2019-09-26 14:27] #36401 closed

[2019-09-26 14:29] HansMuller commented on #41345
CC @justinmc

[2019-09-26 14:30] jamesblasco opened #41375 "[Web] Navigation and window href"
## Problem

Hi, I am testing a web app with flutter and the url doesn't change as expected when pushing a route from navigation.

By default the url doesn't change from https://<..>/#/ but sometimes it also appears the name of  a new route like https://<..>/#/dashboard.

<img width="526" alt="Captura de pantalla 2019-09-26 a las 16 17 34" src="https://user-images.githubusercontent.com/19904063/656

[2019-09-26 14:30] moisesvs commented on #41364
Yeah. I run command: flutter upgrade

[2019-09-26 14:36] mm-public-tx commented on #41344
My app need a stable flutter branch

[2019-09-26 14:39] RakhimyanTim commented on #36360
try it https://pub.dev/packages/ntlm

[2019-09-26 14:41] escamoteur commented on #41364
And  now? Do you still see the problem? Best to make a flutter clean before running

[2019-09-26 14:42] stuartmorgan commented on #41363
See https://boringssl.googlesource.com/boringssl/

There is no API or ABI stability guarantee, which means that depending on a dylib of BoringSSL that we don't control would be disastrous. That's explicitly not how it's intended to be used.

[2019-09-26 14:42] #41363 closed

[2019-09-26 14:45] JRAVILES commented on #37699
Hello friends, I have been following and suffering from this problem and I have a doubt, I have an app that is ready to launch, but as you came across this terrible problem, the question is if I launch the app for ios12, users ios 13 will be able to install and use the app normally or this problem also occurs at launch? Thank you so much for your help here.

[2019-09-26 14:45] cabutoaerodesign commented on #41352
@janmoppel here the output:

[code]

[2019-09-26 14:45] britannio commented on #38063
I'm no longer experiencing this issue on my device.
@melvinm99  @yuridiniz @jakebonk @sergicastellsague @Menelphor
Are any of you still experiencing it?