[2017-01-11 21:16] eseidelGoogle commented on #7440
I think we might need a bit more info to debug. :)  Is this reproducible?

[2017-01-11 21:16] Hixie commented on #2598
That's one of the questions we will need to consider when we work on this.

[2017-01-11 21:17] Hixie commented on #2598
(We definitely won't make "left" mean "right" though.)

[2017-01-11 21:19] mpcomplete commented on #7031
New slate from latest in-person discussion:

* Form
* FormState
* FormField
* EditableText (the widgets version)
* MaterialEditableText (the material version)
* TextField (same as old InputFormField, which Input is now an impl detail of)
* InputDecorator

[2017-01-11 21:20] Hixie commented on #7031
SGTM. Let's do it.

[2017-01-11 21:42] chinmaygarde commented on #7433
We have identified the issue. Will post a patch in a bit.
On Wed, Jan 11, 2017 at 1:13 PM Eric Seidel <notifications@github.com>
wrote:

[2017-01-11 21:46] Hixie opened #7449 ""flutter analyze --watch --flutter-repo" reports three errors"
- [ ] `flutter analyze --watch --flutter-repo` is reporting errors that should be ignored
- [ ] `flutter analyze --flutter-repo` is _not_ reporting these errors, but they're not marked as errors that should be ignored, so why not?
- [ ] Travis didn't catch that they were different.
[code]
cc @abarth, @danrubel

[2017-01-11 22:18] abarth commented on #1429
Fixenated by @HansMuller

[2017-01-11 22:18] #1429 closed

[2017-01-11 22:19] #6650 closed

[2017-01-11 22:22] Sfshaza opened #7452 "Regression: images that worked yesterday don't work today"
## Steps to Reproduce

Yesterday I could display these images in my Flutter app, but today they are blank. (I grabbed their URLs from photo.google.com and I can view them in a browser, but they don't show up in the Simulator.)

String pic1 =
    'https://lh3.googleusercontent.com/KF0R8kSdorTk2rATzkK0fQV1Rp0wSqk0N_0pJrfNxFVjTzwxksTLILD8OknHWu6s1qGw1vB_73RDuI95CpFiZZJYBwmXnFin5EOtzhWQ91suGId_CANSLHI

[2017-01-11 22:30] yjbanov commented on #7433
I added an action item to the description of this issue to clean-up the workarounds.

[2017-01-11 22:34] chinmaygarde commented on #7433
Patch posted.

[2017-01-11 22:37] #6119 closed

[2017-01-11 22:49] chinmaygarde commented on #7452
I get an HTTP 403 when trying to retrieve those images. You can serve them up from the asset bundle too.

[2017-01-11 22:56] chinmaygarde commented on #7452
I have verified that images that can be successfully retrieved from the network display correctly.

[2017-01-11 22:56] #7452 closed

[2017-01-11 23:02] yjbanov commented on #7433
Thanks, @chinmaygarde ! Let's close when the fix is in the main repo and we have removed the workarounds.

[2017-01-11 23:35] mehmetf opened #7454 "Tapping on discrete slider values does not change the slider value"
[This used to work last month and broke sometime in between.]

Slider widget used to support tapping on a discrete value on the track to change its state. Now the state does not change unless the thumb tack is grabbed and slid along the track.

[2017-01-11 23:54] yjbanov commented on #6477
@Hixie Could you please remove the "old: bug" label? This is still happening.

[2017-01-12 00:26] sethladd commented on #3091
Just ran into this with a designer learning how to code with Flutter. This is really hard to use:

![img_20170111_155359](https://cloud.githubusercontent.com/assets/5479/21872004/b760f3fa-d81a-11e6-81dc-1c22d3fe1469.jpg)

[2017-01-12 00:27] sethladd commented on #3091
Making this screen really useful would be a selling point. If this is an easy fix, this seems like a easy win for big payoff. Recovering from errors should be quick with Flutter.

[2017-01-12 00:51] eseidelGoogle commented on #7454
Might have been broken in adding Cupertino sliders?  @abarth or @HansMuller

[2017-01-12 04:28] eseidelGoogle commented on #7452
Thanks for the bug @Sfshaza. :)

[2017-01-12 05:37] abarth commented on #7454
Cupertino sliders didn't involve any modification to material sliders.

[2017-01-12 05:37] abarth commented on #7454
I'll take a look.

[2017-01-12 08:00] abarth opened #7457 "TransitionRoute doesn't dispose its animation in all cases"
If you pop a TransitionRoute and then tear down the navigator, the route won't dispose its animation controller properly.  See tests in date_picker_test.dart that will refer to this bug when they land.

[2017-01-12 09:24] jet10000 opened #7459 "Can't display chinese"
I just replace "Cloud" to "目录" in bottom_navigation_demo.dart file, then build and run in my iphone6s, the chinese "目录" can't display. How fix it?

<img width="768" alt="qq20170112-0 2x" src="https://cloud.githubusercontent.com/assets/2258120/21883756/8bb192ba-d8eb-11e6-9653-87b347546d16.png">

![img_0176](https://cloud.githubusercontent.com/assets/2258120/21883869/efc7213e-d8eb-11e6-8140-bf30795f

[2017-01-12 09:45] jet10000 opened #7460 "Can‘t input character in Text Fields"
<img width="371" alt="qq20170112-1 2xxxxx" src="https://cloud.githubusercontent.com/assets/2258120/21884629/0dfbf5aa-d8ef-11e6-9a99-9183b9e94320.png">

[2017-01-12 16:47] eseidelGoogle commented on #7460
May be related to https://github.com/flutter/flutter/issues/7459 or https://github.com/flutter/flutter/issues/6939.

[2017-01-12 16:49] sethladd opened #7466 "Designer would like to see margins and paddings when looking at borders on the device (in debug drawing mode)"
Working with a designer, they really like the "turn on borders" debug mode on the device. They can see the boxes of the things they are putting on the screen.

They would really like to see margins and paddings, too. They feel this would help them better understand why things are positioned the way they are.

[2017-01-12 16:49] sethladd commented on #7466
@Hixie did you add the debug borders in the framework?

[2017-01-12 16:54] Hixie commented on #7466
padding is already visible in the form of a solid blue, if I recall correctly. At least for the Padding widget. Margin is just Padding in disguise.

[2017-01-12 16:55] sethladd commented on #7466
cc @fionayeung

[2017-01-12 16:56] eseidelGoogle commented on #7466
See the various debug.dart in the flutter package.  debugPaintSizeEnabled in rendering/debug.dart may do some of what you want?

[2017-01-12 17:02] sethladd commented on #7466
cc @mit-mit are we tracking turning on and off these debug flags via IntelliJ ? We allow to toggle one flag via Atom, which our designers love. They'd like more flags. :) Maybe this will help them move over to IntelliJ?

[2017-01-12 17:03] sethladd commented on #7466
Here is a list of many (all?) of the debug options: https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/rendering/debug.dart

[2017-01-12 17:18] sethladd commented on #7440
The designers were also talking about this.

[2017-01-12 17:19] sethladd commented on #7440
cc @bkobash has a pixel c we can borrow. He saw hard crashes.

[2017-01-12 17:20] eseidelGoogle commented on #7440
@chinmaygarde also has a pixel C on his desk.

[2017-01-12 18:18] abarth commented on #7454
I'm not able to reproduce this issue in the Flutter Gallery discrete slider demo.  Can you help me reproduce the issue you're seeing?

[2017-01-12 19:02] Hixie commented on #7466
debugPaintSizeEnabled is the one that shows the box outlines and padding and so forth. You can toggle it with "p" in hot reload.

[2017-01-12 20:37] mehmetf commented on #7454
This seems to be a problem on our side, I cannot create a simple example either. I need to deconstruct the UI to see what's going on. It is particularly odd that sliding it updates the value but not tapping. My guess is that tap is being swallowed by something else. Is there an effective way to debug that?

[2017-01-12 21:12] mehmetf commented on #7454
Reproduced it.

**The problem is that the slider is in a block that scrolls.**

[code]

Comment the SizedBox and it works.

[2017-01-12 21:13] abarth commented on #7454
Thanks.  I'll take a look to see what's going on.

[2017-01-12 21:58] sethladd commented on #7466
Thanks @Hixie !

We should enable this in our editor(s), if it's not already.

@fionayeung can you give this a shot and let us know if that works?

[2017-01-12 22:02] yjbanov commented on #7441
Yeah, the stack trace is long because we're using `package:stack_trace` to keep track of chains. This is a duplicate of https://github.com/flutter/flutter/issues/4261.

[2017-01-12 22:02] #7441 closed

[2017-01-12 22:05] yjbanov opened #7470 "Disable vmservice RPC timeout when debugging"
Our VM service RPCs have timeouts. They shouldn't when the user is debugging the Flutter application.

[2017-01-12 22:15] abarth commented on #7454
I can repro the issue.

[2017-01-12 22:59] jason-simmons commented on #7414
I can reproduce this on a Pixel C.

When you ctrl-C flutter_tools, the tool sends a service protocol request to an extension in the Flutter framework that calls exit(0).  This doesn't cleanly shut down the engine and its dependencies such as OpenGL.  But it will call atexit handlers and global destructors, and maybe one of these is crashing within this EGL/GLES implementation?

[2017-01-12 23:47] #7226 closed

[2017-01-13 00:17] goderbauer opened #7473 "flutter_driver should log all commands executed"
flutter_driver should log all (serialized) commands it executes in a separate log. This will be really handy for debugging a flutter driver test.

[2017-01-13 01:00] eseidelGoogle opened #7474 "Would be nice to have --coverage in flutter_driver"
@cbracken says we have a lot of the plumbing already, but it's still probably several days work, mostly due to edge-cases/error handling/testing.

Not something we need now, but we'll eventually want it.  One use-case that has been brought to us is understanding how much of our widget library has performance testing coverage.

[2017-01-13 01:01] abarth commented on #7454
I'm about halfway to a fix.

[2017-01-13 02:56] #7433 closed

[2017-01-13 03:43] jet10000 opened #7477 "Regression: Flings on iOS have too-high velocity"
When I quick slide interface, why always bounce back?

[2017-01-13 07:26] abarth commented on #7477
When you say "slide", do you mean something to do with scrolling?

[2017-01-13 07:32] jet10000 commented on #7477
yes, scrolling!

[2017-01-13 10:06] rantianhua commented on #7344
@devoncarew I do a hot reload after first run, but the screen becomes full red, and the log info are as  follows :

Uninstalling old version...
I/flutter ( 9606): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter ( 9606): The following _CompileTimeError was thrown building MyApp(dirty):
I/flutter ( 9606): '/Users/rantianhua/IdeaProjects/

[2017-01-13 10:20] rantianhua commented on #7344
@aleki I remove `build` folder and then I run the project, but what I can see in the device screen is full red color, nothing anymore, and I'm confused by the log information:

Launching lib/main.dart on m2 in debug mode...
I/flutter (10402): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter (10402): The following assertion was thrown bu

[2017-01-13 10:24] mit-mit commented on #7344
@rantianhua, just to make sure, does your code pass code analysis? You can run `flutter analyze` in the main directory of your app to check.

[2017-01-13 10:26] aleki commented on #7344
@rantianhua, you should use `MyAppBar` instead of `AppBar` on the 35 line.

[2017-01-13 10:27] aleki commented on #7344
@sethladd  I think this issue can be closed, as it was a code problem.

[2017-01-13 10:33] rantianhua commented on #7344
@aleki  Yes, you are right, It's my fault, but there is a truth that I must remove `build` folder to see my code change, and the `hot reload` doesn't work either.

[2017-01-13 12:53] mit-mit commented on #7466
No, was not aware of this. But makes good sense.

@devoncarew, @pq would it make sense to expose these as toggles in the flutter run config page? Then you could create various configs to have these on/off.

[2017-01-13 15:42] devoncarew commented on #7466
I have some work in a branch for a `'Flutter View'` which would expose those toggles. I don't know if that's where they'll live in the end-game, but +1 to exposing them.

[2017-01-13 17:15] sethladd opened #7480 "Docs haz 404s, will make Travis sad"
We're about to turn on auto-link checking for the website, but we noticed there are a few links that 404:

[code]

Once we fix these, we can turn on link checking and never have a broken link again [1]

[1] results may vary

[2017-01-13 17:17] sethladd commented on #7480
cc @Sfshaza @LarkAscending can you help us resolve these broken links?

Our friendly framework team is standing by to help point you to the new names, if it's not immediately obvious.

Thank you!

[2017-01-13 18:21] aleki opened #7482 "Plugin: Audio / Media"
It is not possible today with Flutter, right?

[2017-01-13 18:31] pq commented on #2343
@danrubel: are you still looking at this?

[2017-01-13 18:41] dvdwasibi opened #7483 "Increase font size for Red Error Screens"
moar readability :)

[2017-01-13 18:43] Sfshaza opened #7484 "Widget/Material API doc confusion"
Go to https://docs.flutter.io/ and search for Scaffold, or Row, or Table, or just about any layout widget. You'll see something like this:

![screen shot 2017-01-13 at 10 42 05 am](https://cloud.githubusercontent.com/assets/6293442/21941303/f9fbd596-d97c-11e6-914c-1e9641d0f054.png)

How do I know if I want Row from Widget, or Row from Material? Visually, these pages look identical, but are they?

[2017-01-13 18:54] eseidelGoogle commented on #7484
This is https://github.com/dart-lang/dartdoc/issues/1158 I believe, which is already fixed in dartdoc, just not yet released.

[2017-01-13 18:59] sethladd commented on #3091
Also reported here: https://github.com/flutter/flutter/issues/7483

[2017-01-13 18:59] sethladd commented on #7483
Agreed. It's not that useful now. Closing this as a dupe of https://github.com/flutter/flutter/issues/3091

[2017-01-13 18:59] #7483 closed

[2017-01-13 19:00] devoncarew commented on #7484
I opened https://github.com/dart-lang/dartdoc/issues/1325 to publish a new dartdoc -

[2017-01-13 19:05] eseidelGoogle commented on #7482
Possible using https://flutter.io/platform-services/ (e.g. https://github.com/flutter/flutter/tree/master/examples/hello_services).

We definitely need an example of this common case.  We used to have one via https://github.com/vlidholt/game, but the system has changed since that time and that example no longer works.

[2017-01-13 19:19] Hixie commented on #7274
@danrubel and I talked about this this morning and came to the following conclusion (I may have elaborated a bit from our discussion, let me know if I made any mistakes!):

* The `--current-directory` command line argument should be removed.
* If there are non-option arguments, then they list directories (or files, in the non --watch case) that we should use to start a deep crawl finding all the `

[2017-01-13 19:35] danrubel commented on #7274
Yes, this sounds good to me. I suggest we remove `--current-package` and make it the default behavior if no non-option arguments are supplied.

[2017-01-13 19:37] danrubel commented on #2343
Nope. Not currently on my list anymore.

[2017-01-13 19:43] pq commented on #2343
Thanks!  FYI @mit-mit.

[2017-01-13 20:13] danrubel commented on #7274
Since `--flutter-repo` is shorthand for the flutter repo root path, then I amend my current suggestion to be ...

We remove `--current-package` and make it the default behavior if no non-option arguments are supplied and `--flutter-repo` is not supplied.

[2017-01-13 20:14] eseidelGoogle commented on #7477
We just got a report of this from customer: leafy as well.

[2017-01-13 20:18] Hixie commented on #7274
That would mean that you can't _only_ scan the flutter repo, no?

[2017-01-13 20:27] danrubel commented on #7274
Adding `--flutter-repo` would be the same as adding `/the/path/to/the/flutter/repo`, and would be included with any other paths of files/directories to be analyzed. IOW, this is would analyze the flutter repo along with files in the other specified directories...

`flutter analyze --flutter-repo /my/first/project /my/second/project`

[2017-01-13 20:44] Hixie commented on #7274
The use cases my ideal world would support are:
1. "analyze this project (implied from current directory)"
2. "analyze these projects (by path)"
3. "analyze the flutter repo (but not the current directory, which might contain weird stuff)"
4. "analyze my current project (even though I'm in some subdirectory), and analyze my library over there" (where "my library over there" could either be a path,

[2017-01-13 20:47] jason-simmons commented on #7431
Reproduced this and traced it to a call to SkRTree::CountNodes() that never exits.  This happened because we created a Skia canvas with a paint bounds rectangle having NaN dimensions.

[2017-01-13 21:08] danrubel commented on #7274
Updated my comment above to clarify using `--flutter-repo` with no other arguments.

Hmmm... fair enough. IOW `flutter analyze` and `flutter analyze --current-package` are the same, but we continue to support `--current-package` so that you don't have to explicitly specify the path of the project containing the current directory when specifying multiple targets.

For example `flutter analyze --flu

[2017-01-13 21:27] eseidelGoogle commented on #7477
Leafy reproduced this on an iPhone 5s.  I have lots of iOS devices if someone needs one to repro. :)

[2017-01-13 21:31] Hixie commented on #7477
I would first check if backing out https://github.com/flutter/flutter/pull/7363 fixes it

[2017-01-13 21:34] Hixie commented on #7274
Right.

In theory the argument should be almost trivial to support since it's just a way to trigger the default behaviour. It also makes it easier to "explain" what the default behaviour is.

[2017-01-13 21:35] Hixie commented on #3091
The line spacing is also way off right now for some reason.

[2017-01-13 21:40] Hixie commented on #7344
@rantianhua That I believe should be fixed now? Try pulling the latest code. If it is still broken please file a bug.

[2017-01-13 21:47] dvdwasibi commented on #3091
It would be useful if we bump the font size up too.

[2017-01-13 22:42] ds84182 opened #7491 "Flutter should get AutoTransition, where two Widgets can lerp between each other"
Lets say I have Widget A, which contains some widgets, and then I have Widget B, which contains some more widgets. Each side will have keys that match a source widget to a target widget. AutoTransition will match these up and animate them from their positions in Widget A to their positions in Widget B.

Android implements a feature similar to this with the Transition framework. I actually use this

[2017-01-13 22:44] abarth commented on #7491
We've been kicking around some ideas in the area using the name "layout transition".  Add that to this bug so we can find it later with that search.

[2017-01-13 22:45] #7454 closed

[2017-01-13 22:46] Zeyad-37 opened #7492 "Can not run hello world app"
## Steps to Reproduce

Ran the Hello World guide, the app crashes when i run it in debug mode. But then i can start app the app normally and everything works fine, but i could not find a way to attach a debugger.

I am using a tablet: Lenovo TB3 710I

## Logs

[code]

## Flutter Doctor

I cant run any flutter command from the IntelliJ terminal.
output:
flutter: command not found

Flutter --version

[2017-01-13 22:51] sethladd commented on #7492
Thanks for the report!

Let's try to fix your command line. Did you add `$FLUTTER_ROOT/bin` to your path? If so, how?

[2017-01-13 23:01] eseidelGoogle commented on #7492
Out of curiosity, what language are the computer and tablet set to?  The full `flutter doctor` output would tell us what type of machine you're using (mac/linux) which would also be useful to know.

[2017-01-13 23:01] Zeyad-37 commented on #7492
Yes
export PATH=FLUTTER_ROOT/bin:

[2017-01-13 23:01] Zeyad-37 commented on #7492
the language of the tablet is spanish

[2017-01-13 23:03] Zeyad-37 commented on #7492
but weirdly when i export the path from the intelliJ terminal i get a different result then when i do it from guake

[2017-01-13 23:12] #7431 closed

[2017-01-14 00:34] abarth commented on #7457
Current thinking is for the navigator to keep a reference to these zombie routes.

[2017-01-14 04:09] matanlurey opened #7495 "What is the envisioned "Flutter way" to extend the framework?"
From both an interested party and a developer of a web framework, I'm curious what the authors have in mind for ways they'd like to see others extend the framework (i.e. with plugins, new abstractions, services).

I imagine once Dart has a sound type system and extension methods, that'll help.

[2017-01-14 04:49] abarth commented on #7495
Generally, we like the composition approach.  I'd expect most people to extend the framework by creating new widgets and (potentially) render objects.  There's also a plugin system for services, which is another dimension for extension.

The framework itself is built up in layers using public interfaces from the layer below (and often using public interfaces within a layer).  That's intended to ma

[2017-01-14 04:49] #7495 closed

[2017-01-14 09:04] rantianhua commented on #7344
@Hixie `hot reload` doesn't work yet, if I want to see my code changes in the phone, the only way is to remove `build` folder and run again. I will try your advice later, but it will takes some time. I will tell you the result after that. At last, I don't know how to file a bug, in this issue or sending a email, or there is a specific site to do it? Thanks!

[2017-01-14 09:56] aleki opened #7496 "Back traverses drawer"
Selection an item in the drawer should reset the navigator's stack of routes.
https://youtu.be/Sww4omntVjs?t=13m44s

[2017-01-14 13:13] ethael opened #7497 "Keyboard does not hide when enter key is tapped"
When I turn on autofocus on Input widget, it is focused nicely, but after tapping enter button on keyboard, keyboard is closed but automatically reopened due to renewed autofocus. When I set autofocus on false, enter button properly hides the keyboard. I can reproduce this behavior on Android 5.1, 6.0, 7.0 with default system keyboards.

## Steps to Reproduce
I can reproduce this issue in "stocks"

[2017-01-14 13:20] ethael opened #7498 "Scroll position not updated on children change"
When scrolling down in both ScrollableGrid and ScrollableList and then applying filter on children objects (e.g. search) scroll position stays unchanged, therefore new smaller subset of objects rendered in scrollable widget is not visible. It is refreshed properly after display tap of any sort. I can reproduce this behavior on Android 5.1, 6.0, 7.0 with default system keyboards.

## Steps to Repro

[2017-01-14 17:53] Hixie commented on #7498
i have this fixed in my refactor

[2017-01-14 21:59] Hixie commented on #7496
The drawer widget is completely agnostic about this. I think this is basically a dupe of https://github.com/flutter/flutter/issues/7365, which would make this pattern easier.

[2017-01-14 21:59] #7496 closed

[2017-01-14 22:08] aleki commented on #7496
@Hixie yes, that's what I need. Thank you.

[2017-01-15 08:41] AlexeySemigradsky opened #7499 "ListTile.selected should cause tile to have different background color"
Stocks app (Flutter):
![screenshot_20170115-112533](https://cloud.githubusercontent.com/assets/4836709/21961286/ac77d0f4-db16-11e6-8b67-e5dd93466c20.png)

Inbox:
![screenshot_20170115-112605](https://cloud.githubusercontent.com/assets/4836709/21961296/056ee706-db17-11e6-9d4b-b358a234e6cf.png)

[2017-01-15 16:04] aleki opened #7500 "HTML tag in markdown crash app"
## Steps to Reproduce

Try this code:
[code]

## Logs

[code]

## Flutter Doctor

[code]

[2017-01-15 17:21] aleki commented on #7500
Hm. This code also crash my app:

[code]

[2017-01-15 17:24] aleki commented on #7500
And how can I use the symbol `<`?

[code]

[2017-01-15 17:36] abarth commented on #7499
DrawerItem has as selected property:

https://docs.flutter.io/flutter/material/DrawerItem/selected.html

We're just not using it properly in the stocks demo.

[2017-01-15 17:39] aleki commented on #7499
@abarth Actually, you are using it property in the stocks demo: https://github.com/flutter/flutter/blob/master/examples/stocks/lib/stock_home.dart#L128

[2017-01-15 17:39] abarth commented on #7499
Ah, interesting.  Thanks!

[2017-01-15 17:40] aleki commented on #7499
@abarth It change text (foreground) color, but not change background color.

[2017-01-16 05:48] Hixie commented on #7500
Yeah that's just a bug. `<` should just be treated the same way as any normal character I think.

[2017-01-16 05:50] Hixie commented on #7499
Looks like we're doing it wrong (and should be doing the background highlight also), though it's not 100% clear:
https://material.io/guidelines/patterns/navigation-drawer.html#

[2017-01-16 11:36] mit-mit commented on #6837
Closing this as there have been no other reports of this, and it sounds like the original issue boiled down to a config issue on a single machine.

[2017-01-16 11:36] #6837 closed

[2017-01-16 11:40] mit-mit commented on #6136
@jakobr-google FYI

[2017-01-16 11:41] mit-mit commented on #4796
For you @jakobr-google

[2017-01-16 11:55] mit-mit commented on #6825
Yes, we should document all the signing params:
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/commands/build_apk.dart#L126

[2017-01-16 14:43] eseidelGoogle commented on #6825
@mit-mit In the hello_services model, these may go away, no?  They're necessary today since `flutter build` doesn't use gradel.  But for example in the iOS side of the project, you have to launch XCode to sign.  It may end up being that you have to open your gradle files/launch Android Studio on the Android side, depending on how we end up integrating them.

For now, because there are two ways to

[2017-01-16 14:49] eseidelGoogle commented on #7497
We should consider moving a search example into the gallery given how likely apps are going to want one.  That can be a separate bug of course. :)

@mpcomplete probably knows this area best.

[2017-01-16 14:58] mit-mit commented on #6825
@eseidel good point!

@jakobr-google can you ping back when you are done with https://github.com/flutter/flutter/issues/4796 so that we can see if that lead to any changes?

[2017-01-16 15:01] jakobr-google commented on #6825
@mit-mit sure!

[2017-01-16 15:48] mit-mit commented on #2769
@collinjackson are you still working on this?

[2017-01-16 18:55] eseidelGoogle opened #7502 "Would be nice to run hello_services test on bots"
We have an android instrumentation test:
https://github.com/flutter/flutter/tree/master/examples/hello_services/android/app/src/androidTest/java/com/example/flutter

Would be nice to run it on travis.  Or some other way to validate that we don't break our hello_services (soon to be `flutter create` default) workflow.

@jason-simmons @jakobr-google

Just something to think about as we're changing t

[2017-01-16 23:41] rxlabz opened #7503 "new Image.file(file) is not updated on build()"
I'm playing with [flutter-camera-plugin](https://github.com/FaisalAbid/flutter-camera-plugin) and have a problem with an image update. I have an image instantiated in my build() method with a new Image.file(imageFile), where imageFile is the local file saved from the camera. The file is saved and and new path is send to Flutter, but the image is not displayed until I hot-reload the app or change i

[2017-01-16 23:46] abarth commented on #4796
I created a "project" to track bugs related to this issue:

https://github.com/flutter/flutter/projects/8

[2017-01-16 23:49] abarth opened #7504 "Should be able to update FlutterPlugin.groovy"
In gradle-based builds, we have a FlutterPlugin.groovy in the user's source tree.  As we iterate in the build system, we're likely to want to change this plugin.  We need a mechanism for updating the copy of this file in the user's source tree when we change the version in our source tree.

The simplest thing is to check whether the version in the user's source tree is byte-identical (or has a mat

[2017-01-16 23:52] abarth opened #7505 "Android gradle-based build should support local-engine builds"
When working on the Flutter engine and the Flutter framework simultaneously, it's useful to be able to create complete builds of apps that use a locally modified version of the framework and of the engine.

The `flutter` tool supports this workflow in the old Android build system using the `--local-engine` flag.  We should make sure the gradle-based workflow also supports this feature (i.e., via a

[2017-01-16 23:53] abarth commented on #7505
This might already work.  I just filed  the issue so we make sure to check it.

[2017-01-17 03:07] eseidelGoogle commented on #7503
@FaisalAbid (camera plugin) and @jakobr-google (hello_services) FYI.

[2017-01-17 08:51] jakobr-google commented on #7505
Probably doesn't work yet, at least according to #6761.

[2017-01-17 15:09] eseidelGoogle opened #7507 "search box missing on docs.flutter.io on mobile"
![simulator screen shot jan 17 2017 7 09 04 am](https://cloud.githubusercontent.com/assets/11857803/22025847/dddbec52-dc83-11e6-898b-8a27b5360d8f.png)

[2017-01-17 15:10] jingweno commented on #73
Any updates on this?

[2017-01-17 15:13] jingweno commented on #730
Any updates on integrating a webview with flutter?

[2017-01-17 15:14] jingweno commented on #6167
I'm looking for integrating a webview into my app. How would I do that?

[2017-01-17 15:30] mit-mit commented on #6192
@eseidel can you elaborate on what you mean by 'send-to-sync'? It's not entirely clear what is missing here.

[2017-01-17 15:34] johnmccutchan commented on #7470
I'm not a fan of putting policy in library code. The caller of the vm service rpc should decide what an appropriate timeout should be.

[2017-01-17 15:40] #7412 closed

[2017-01-17 16:03] eseidelGoogle commented on #6192
My understanding is it means running background code to "sync" data models on receipt of a notification w/o pulling up the app itself.  This is already possible in a flutter-using app, but requires writing Obj-C or Java code.  This but is about making it possible to run background/headless Dart code.

[2017-01-17 16:20] mit-mit commented on #6192
Got it. Dupe of https://github.com/flutter/flutter/issues/3671, or different from that ?

[2017-01-17 16:32] eseidelGoogle commented on #3671
I believe this is the same bug as #6192, yes.

[2017-01-17 17:28] eseidelGoogle commented on #7477
This is a bad regression which blocks folks shipping on iOS.  Definitely need an update today. :D

[2017-01-17 18:02] collinjackson commented on #2769
I think the issue can be closed; it does not apply to https://github.com/flutter/google_sign_in

[2017-01-17 18:02] #2769 closed

[2017-01-17 18:09] abarth opened #7508 "Implement CupertinoNavigationBar"
https://developer.apple.com/ios/human-interface-guidelines/ui-bars/navigation-bars/

[2017-01-17 18:29] abarth opened #7509 "Implement CupertinoSegmentedControl"
https://developer.apple.com/ios/human-interface-guidelines/controls/segmented-controls/

[2017-01-17 18:55] #7271 closed

[2017-01-17 18:57] #7473 closed

[2017-01-17 19:29] mit-mit commented on #7344
@rantianhua, clarifying question: Does it fail to reload for you just with your own app code, and also with the template code you get when you create a new app?

In other words, does this work for you?

In a termnial:
1. Run `flutter doctor` and make sure there are no error
1. Run `flutter create testapp`
1. `cd testapp`
1. `flutter run`
1. Open `lib\main.dart` in a text editor, and change line 24

[2017-01-17 19:34] HansMuller commented on #7477
Reverting #7363 does fix this problem.  Narrowing down the source of the problem now...

[2017-01-17 21:58] LarkAscending opened #7514 "Update web site to account for new focus system"
## Steps to Reproduce

See https://github.com/flutter/website/pull/359

Currently the Tour of the Widget Framework on flutter.io says:
Some widgets, such as Input require global keys because they can hold focus, which means they receive any text the user enters into the app. The Focus widget keeps track of which State object is focused by remembering its GlobalKey. That way the same Input widget r

[2017-01-17 22:56] chinmaygarde commented on #7440
@jason-simmons thinks the fix for https://github.com/flutter/flutter/issues/7431 which was applied in  https://github.com/flutter/engine/pull/3339 addresses this issue as well. Please re-open if you still see this issue. By locks up, we are assuming it never resumes rendering.

[2017-01-17 22:56] #7440 closed

[2017-01-17 22:58] chinmaygarde commented on #7298
This fixed was rolled in a while ago.

[2017-01-17 22:58] #7298 closed

[2017-01-17 23:13] Hixie opened #7515 "flutter tool should notice that it's not from the same repo as the one you're in"
When you run `flutter` in a package that points to a different flutter repo than the one from which the tool is running, we output a useful message to that effect.

We should do the same when your current directory is a flutter repo that isn't the same as the tool's.

[2017-01-17 23:34] Hixie opened #7516 ""Diagnostic server listening" and "observatory listening" messages are slightly inconsistent"
One ends in a slash, the other does not.

[2017-01-17 23:36] #6586 closed

[2017-01-17 23:44] #7477 closed

[2017-01-18 04:55] eseidelGoogle commented on #7502
@abarth notes that we likely need to use the Chrome infa bots for this.  FYI @mit-mit

[2017-01-18 09:50] ethael commented on #6207
I had the same issue. Debian Sid amd64

[2017-01-18 11:12] mit-mit commented on #6192
Closing this as a dupe of #3671

[2017-01-18 11:12] mit-mit commented on #3671
Adding leafy tag from #6192

[2017-01-18 11:13] mit-mit commented on #3671
@mravn-google @sigurdm something to think about!

[2017-01-18 12:50] mit-mit opened #7517 "Update reload and restart icons in IntelliJ docs"
We have new icons and icon placement in IntelliJ for hot reload and restart. Need to update the docs:
https://flutter.io/intellij-ide/#fast-edit-and-refresh-development-cycle

[2017-01-18 13:18] mit-mit commented on #138
+1 to getting things working in the standard windows Command Prompt. We current fail with a bunch of path issues:

[code]

[2017-01-18 13:43] bbalet commented on #138
This is not related to this issue. You are missing some prequisites such as Dart (maybe not in the path or not installed). Even if your setup is complete, Flutter doesn't support Windows yet as the snapshotter has been ported to Windows.

[2017-01-18 13:48] mit-mit commented on #138
`flutter doctor` is expected to download Dart (like it does on Mac and Linux). But we need changes to the `\bin\flutter` script to make that work on Windows.

And, yes, we need snapshotter.

[2017-01-18 17:21] apwilson opened #7518 "Docs for SizeChangedLayoutNotifier are unclear."
Docs for SizeChangedLayoutNotifier are unclear.  I'm not sure how I can use this widget.  In particular this statement is odd: "A widget that automatically dispatches a SizeChangedLayoutNotifier when the layout of its child changes."

What does it mean to dispatch a SizeChangedLayoutNotifier which links to this same class?

[2017-01-18 17:22] apwilson commented on #7518
Perhaps it means it dispatches a SizeChangedLayoutNotification?

[2017-01-18 17:27] apwilson opened #7519 "Notification, LayoutChangedNotification, documentation is unclear."
There's no information in their docs about how to use them.

[2017-01-18 17:31] apwilson commented on #7519
Perhaps linking to NotificationListener an indicating it's used with that would be enough.

[2017-01-18 17:35] mpcomplete commented on #4202
We now have support for "ellipses when the next line would overflow the maxHeight". I don't know what this means or how it differs from the other one: "ellipsise when you reach a certain number of lines".

[2017-01-18 17:36] apwilson opened #7520 "SizeChangedLayoutNotification should refer to SizeChangedLayoutNotifer"

[2017-01-18 17:45] apwilson opened #7521 "Document why you can't call setState in NotificationListener.onNotification"
It seems a logical place to call setState.

[2017-01-18 17:52] apwilson opened #7522 "Notification.visitAncestor fails assertion: boolean expression must not be null"
[code]

[2017-01-18 17:54] abarth commented on #4202
One is based on the number of lines and one is based on the number of pixels.  Prior to layout, it's known how the number of lines correlates with the number of pixels.

[2017-01-18 17:54] apwilson commented on #7522
Looks like the issue is I wasn't returning anything in my onNotification callback.  Maybe the message should indicate that as a likely cause...  or assume a null means false.

[2017-01-18 17:55] abarth commented on #4202
I think the one you implemented was "ellipsise when you reach a certain number of lines"

[2017-01-18 18:47] eseidelGoogle commented on #6331
It looks like https://github.com/flutter/flutter/pull/7488 is work towards this?

[2017-01-18 18:51] HansMuller commented on #6331
Yes, that fixes this. I've added a "fixes" comment to #7488. It should land soon.

[2017-01-18 19:04] #6331 closed

[2017-01-18 19:48] apwilson opened #7525 "Notification.dispatch link from NotificationListener page goes to 404."
From: https://docs.flutter.io/flutter/widgets/NotificationListener-class.html

"Notification.dispatch" links to: https://docs.flutter.io/flutter/material/Notification/dispatch.html

Which doesn't exist.

[2017-01-18 19:54] HansMuller commented on #7365
Here's a rough proposal about how this might work.  Please let us know if this would work for your application.

`Navigator.of(context).replaceNamed('/foo', '/bar')` could essentially push '/bar' and then remove '/foo'. The effect of this replace operation would be that '/foo' would be  immediately dropped from the history list, so if '/bar' were popped during its push transition the Navigator wou

[2017-01-18 19:59] abarth commented on #7365
See also https://github.com/flutter/flutter/issues/6544

[2017-01-18 20:13] abarth commented on #7525
Fixed.  It was a transient issue during a dartdoc upgrade.

[2017-01-18 20:13] #7525 closed

[2017-01-18 20:13] aleki commented on #7365
@HansMuller It should pushNamed and reset the navigator's stack of routes.

[2017-01-18 20:13] DaveShuckerow commented on #7365
I like your proposal, @HansMuller. That seems to accurately express what we're looking for.

@abarth, that seems very similar to this. Leafy has similar flows to what's described in the other issue and that could also be helpful.

I'm curious about the case where the route being replaced is not currently top-of-stack. That might need special consideration, but I imagine we'd want to have the same

[2017-01-18 20:21] DaveShuckerow commented on #7365
Thinking about it, the underlying user issue in both this and #6544 could be that popAndPushNamed doesn't work properly on the first route in an app. It seems like both involve trying to change the first route into a different route.

[2017-01-18 22:38] LarkAscending opened #7530 "Rework assets-and-images.md"
## Steps to Reproduce

See https://github.com/flutter/website/pull/352

This page needs the following additional renovations:
1. Restructure and simplify as user tasks. First section needs to address 'how do I add and use an image in my app?', without talking about rootBundle, DefaultAssetBundle, or even AssetBundle.
   1. Show the basic, most common, default scenario up front.
   1. Then, under "

[2017-01-18 23:03] yjbanov commented on #7088
Decided the this won't give us a sufficient signal on top of what we already have. Closing this.

[2017-01-18 23:03] #7088 closed

[2017-01-18 23:24] yjbanov commented on #7087
@jason-simmons successfully demonstrated that this is possible by running the hello_services example on Saucelabs and Firebase. Closing this.

[2017-01-18 23:24] #7087 closed

[2017-01-18 23:25] yjbanov commented on #7079
It looks like we now have most of the metrics above and at least decent proxies for others (such as power consumption). Considering it done and closing.

[2017-01-18 23:25] #7079 closed

[2017-01-18 23:39] abarth commented on #7218
`AnimationController.fling` is used in a bunch of places and goes down the simulation codepath.

[2017-01-19 00:07] Hixie commented on #7218
For Scrollable, what I did with that is split the class into two, ScrollPosition and ScrollActivity. Position owns an Activity. The Activity is what owns the AnimationController. The Activity that flings is different from the one that does the manual dragging.

[2017-01-19 00:08] abarth opened #7533 "AnimationController notifies listeners removed during iteration"
If you remove a value or statue listener from an AnimationController during iteration, the listener will still be notified (if it hasn't already been notified during the iteration).  This iteration pattern can lead to subtle bugs.  In other places (e.g., ChangeNotifier), we use a stronger iteration pattern that checks for removal before notifying.

[2017-01-19 00:14] abarth commented on #7218
It looks like all the places that use `fling` use it in a pattern with drag gestures to track the user's finger and then continue the animation after drag-end.

We could try a factoring of the problem where AnimationController only knows about linear timelines and the there's a separate `Animation<double>` subclass that handles the drag/fling pattern.

`animateWith` itself is used only by the (old

[2017-01-19 00:26] sethladd commented on #7080
Asking inside of Google, I got a recommendation to test on a Moto G4.

Specs for a G4: http://www.devicespecifications.com/en/model/8afc3c08

G4 CPU: : 4x 1.5 GHz ARM Cortex-A53, 4x 1.2 GHz ARM Cortex-A53,

A Xiomi Redmi 3S (http://www.gsmarena.com/xiaomi_redmi_3s-8150.php) was also recommended, which has a CPU of Octa-core 1.4 GHz Cortex-A53

Compare that to a Nexus 5, which seems to have a faste

[2017-01-19 00:32] #7216 closed

[2017-01-19 00:32] #7457 closed

[2017-01-19 00:40] #5969 closed

[2017-01-19 00:48] Hixie opened #7535 "Tests hang when collecting coverage"
If your `flutter/test` directory contains only the following files:
[code]
...and you run `flutter test --coverage`, it will hang after running 14 tests and skipping one.

Removing any of the above files removes the hang. Removing `--coverage` removes the hang.

[2017-01-19 00:50] Hixie commented on #7535
Replacing `viewport_test.dart` witha file consisting of only `void main() { }` doesn't remove the problem.

[2017-01-19 00:57] Hixie commented on #7535
I have it reduced to five files named `a_test.dart` .. `e_test.dart`, each containing nothing more than `void main() { }`.

[2017-01-19 01:03] Hixie commented on #7535
It just seems to be a matter of how many test files there are. Any odd number of tests greater or equal to three, it hangs.

[2017-01-19 01:49] LarkAscending commented on #7480
These should be addressed now - will wait to see what Travis says before closing this issue!

[2017-01-19 02:52] Hixie commented on #7522
Ideally the analyzer would catch this, but yes, we should make the error message better in the meantime.

[2017-01-19 02:53] Hixie commented on #7521
Calling setState in response to a Notification indicates an incorrect data flow pattern. If you want your build to depend on your layout, use a layout builder. Otherwise you'll have the "one-frame-behind" problem.

[2017-01-19 03:56] abarth opened #7536 "Engine::HandleAssetPlatformMessage should do its work on a background thread"
Currently we handle asset requests on the main thread, which can block the main thread.  Instead, we should farm the request off to the IO thread.

[2017-01-19 04:21] jtrunick commented on #7536
+1

[2017-01-19 07:38] abarth commented on #7535
I thought I had a fix for this issue, but when I cleaned it up, it didn't fix the issue anymore.

[2017-01-19 08:16] mit-mit commented on #7480
Still seeing the following failures:

[code]

[2017-01-19 14:25] eseidelGoogle commented on #7480
Could those be new failures after https://github.com/flutter/flutter/commit/17bc18880376b27a36278a53601d006246bb8151
which included
https://github.com/dart-lang/dartdoc/commit/7478a4f3d90f6e2d4f63db28e5f3cbf9040626d1
(and some othe rchanges) which would have changed the urls of re-exported symbols?

For example CustomPainter is now:
https://docs.flutter.io/flutter/rendering/CustomPainter-class.htm

[2017-01-19 16:41] eseidelGoogle commented on #6864
This might get fixed as part of moving `flutter build` onto gradel.  FYI @mit-mit

[2017-01-19 16:42] eseidelGoogle commented on #6539
We have a team working on improving hello_services right now.  FYI @mit-mit

[2017-01-19 16:48] addobandre commented on #7459
This seems to be a duplicate of #6939

[2017-01-19 17:11] aleki opened #7539 "How do I build my app for x86 to run on appetize.io (and other services)?"
Currently when I try run my application on the appetize.io I get this error:

[2017-01-19 17:17] eseidelGoogle commented on #7539
This may get easier as part of the hello_services refactor underway, FYI @mit-mit.

However we also probably need to publish some additional artifacts, as noted in https://github.com/flutter/flutter/issues/2898.

[2017-01-19 17:19] eseidelGoogle commented on #2898
Looking at our infra bots, it looks like we're building and uploading both x86 and x86-64 for Android:
https://chromium.googlesource.com/chromium/tools/build.git/+/master/scripts/slave/recipes/flutter/engine.py#96

[2017-01-19 17:23] eseidelGoogle commented on #2898
I see x86 artifacts, debug only: https://storage.googleapis.com/flutter_infra/flutter/2efc78cc24eac9439a5315ed9333fa8599aab3a1/android-x86/artifacts.zip

[2017-01-19 17:35] eseidelGoogle commented on #7539
`flutter build apk --target-arch x86` should work today?

[2017-01-19 17:45] eseidelGoogle opened #7540 "PlatformMessages docs are sparse"
https://docs.flutter.io/flutter/services/PlatformMessages-class.html

They should probably at least link to flutter.io https://flutter.io/platform-services/ or hello_services?  And could explain better what they're used for (or where to find docs which explain that).

@abarth @LarkAscending

[2017-01-19 17:49] sethladd opened #7541 "Performance issues with Gallery on Sony Xperia XZ"
From a user report on Reddit: https://www.reddit.com/r/androiddev/comments/5o8v0g/anyone_using_dart_with_flutter_how_is_it/dcms0gf/?context=3

"""
Was using a Sony Xperia XZ. I unfortunately don't have it with me right now. The framedrops were frequent and obvious, even in pure text sections like the main screen. Felt quite jarring, along with the non-androidy fling velocity.

I just installed on

[2017-01-19 18:22] LarkAscending commented on #7480
Half of these are new errors, and one is due to perhaps a merge that didn't
go down correctly (debugFillDescription). Could be a simple workflow issue
or my learning curve, or both.

Also, there were also a few broken links that I noticed in the first pass
that the link checker did not report. I believe they were in deeply nested
directories.

Will do another round to fix these, and we'll learn mo

[2017-01-19 18:43] abarth commented on #7480
These look like new errors from de-duplicating entries on the docs web site.  Previously, if a class was exported by more than one library, we'd get a separate page for it in each library.  Now we just get one copy in the original library.  I can fix these up if you like.  (It's just a matter of re-pointing the links to the "canonical" page.)

[2017-01-19 18:46] abarth commented on #720
I think we can remove this from the API stability label.  The API is in the shape we want (and we send all the events we're considering on Fuchsia).  We just might start sending more events on more platforms.

[2017-01-19 18:48] LarkAscending commented on #7480
Good to know! That sounds right for root cause...

abarth, if you can do a pass, we'll see what remains and I'll clean up the
rest.

On Thu, Jan 19, 2017 at 10:43 AM, Adam Barth <notifications@github.com>
wrote:

[2017-01-19 19:20] #7018 closed

[2017-01-19 19:31] apwilson opened #7545 "FR: Create a way to increase the time between frames."
Unlike timeDilation which doesn't change the frame rate but slows down any ticking animations (or something like that), this feature would slow down how often frames are submitted (or something like that).

Use cases:

1. If a developer has a weird single frame jump they could use this to 'see' that frame better to aid in debugging.
1. If a developer relies on sizes from a previous frame in their

[2017-01-19 20:20] abarth commented on #7545
We could make the scheduler drop N frames before actually pushing a frame.

[2017-01-19 20:22] abarth commented on #7545
Would you want to do this in conjunction with time dilation so the animations would proceed with roughly the same number of frames (just spread out over a longer time period)?

[2017-01-19 20:35] LarkAscending commented on #7480
This set of errors should be fixed by:
https://github.com/flutter/website/pull/360

Give the link checker another whirl!

[2017-01-19 20:35] apwilson commented on #7545
Yeah possibly.  I think they are independent things - two different knobs to tweak when debugging.

[2017-01-19 20:37] apwilson commented on #7545
I don' t think 'drop N frames' is the API I'd want.  I think I'd want 'debugMaxFps' or 'debugMinDurationBetweenFrames' as the API to set.

[2017-01-19 20:39] eseidelGoogle commented on #7541
The XZ is a modern phone (sept 2016): http://www.gsmarena.com/sony_xperia_xz-8313.php with the same GPU as the pixel: http://www.gsmarena.com/google_pixel_xl-8345.php and similar CPU.  I would not expect any stutter on this device.

We do not have one in our central lab last I looked.

[2017-01-19 21:17] vy0592 commented on #7203
any updates on this issue?

[2017-01-19 21:17] sethladd commented on #7541
Happy to buy one. I've asked the original reporter for more specifics.

[2017-01-19 21:23] sethladd commented on #7080
Here are some more popular devices, across the globe:

Samsung Galaxy J2: ARM Cortex A7, 1300 MHz, 4 cores. GPU: ARM Mali-T720 MP1 533 MHz

Galaxy J5: Krait 400, 2500 Mhz, 4 cores. GPU: Adreno 330, 578 Mhz, 4 cores

Moto G (2nd edition): Cortex-A7, 1200 MHz, 4 cores. GPU: Adreno 305, 405 MHz, 1 core.

[2017-01-19 21:24] sethladd commented on #7080
Looks like we might want to consider how Flutter performs for the 1.5Ghz range of CPUs

[2017-01-19 21:32] Hixie opened #7547 "MediaQuery.of should not fallback"
MediaQuery.of() should throw a FlutterError explaining that you should use a WidgetsApp if it doesn't find a MediaQuery in the tree.

[2017-01-19 21:33] Hixie commented on #7547
(rather than defaulting to fromWindow, which is a foot gun waiting to happen)

[2017-01-19 21:47] goderbauer commented on #5155
Seems like this problem is fixed. Closing the issue.

[2017-01-19 21:47] #5155 closed

[2017-01-19 22:06] yjbanov opened #7549 "Velocity tracker microbenchmark regressed"
https://github.com/flutter/flutter/commit/60847a1dedc21deeb1a10aef7918d544c95068ce resulted in a ~2x regression of the velocity tracker microbenchmark.

![velocity_tracker_regression](https://cloud.githubusercontent.com/assets/211513/22127300/392e4e4c-de50-11e6-9275-d238ede162bc.png)

To reproduce:

[code]

/cc @HansMuller

[2017-01-19 22:11] yjbanov opened #7550 "~5x regression in the stock build microbenchmark"
https://github.com/flutter/flutter/commit/3312af7da5dffbaf6a08def1ad9d6f03e84d0d74 resulted in a ~5x regression in the https://github.com/flutter/flutter/blob/master/dev/benchmarks/microbenchmarks/lib/stocks/build_bench.dart microbenchmark.

![stock_build_regression](https://cloud.githubusercontent.com/assets/211513/22127459/c8e62b2c-de50-11e6-9fd1-517e5e5b5b5b.png)

To reproduce, connect an Andro

[2017-01-19 22:18] Reagankm opened #7551 "Hot Reload error?"
## Steps to Reproduce

I was trying to assign a Navigator.pushNamed action to an InkWell's onTap and I initially did it wrong, writing:

`new InkWell(onTap: Navigator.pushNamed(context, NavigationRoutes.insertionOrderList),`

When I tapped the item  in my emulator, I got an error, as I should.

Then, realizing my mistake, I changed my code to

`new InkWell(onTap: () {Navigator.pushNamed(context, N

[2017-01-19 22:25] abarth commented on #7550
Ouch.  Reverting.

[2017-01-19 22:29] Hixie commented on #7535
Hopefully fixed by https://github.com/flutter/flutter/pull/7548

[2017-01-19 22:36] abarth commented on #7550
Reverted in https://github.com/flutter/flutter/pull/7552

[2017-01-19 22:36] #7550 closed

[2017-01-19 22:46] Hixie commented on #7535
Not that we'll know since we're at an even number of tests...

[2017-01-19 23:07] #6865 closed

[2017-01-20 01:01] HansMuller commented on #7365
I've built a version of this in terms of popAndPushNamed as @DaveShuckerow  suggested.

It stretches the meaning of "popAndPushNamed" a little because - if the Navigator's stack only contains one route -  the new (named) route is pushed first and then the old route is effectively popped.  If the Navigator's stack contains more than one route then the method works exactly as it did before.

[2017-01-20 01:15] Hixie opened #7557 "Need a way to set the diagnostic port"
In a build/test system that assigns you ports that you are allowed to use, picking ports at random as we do today for the diagnostic port will lead to flakiness (where we pick a port that was assigned to another process). We should have a way to set the port for the diagnostic server. We should also have a way to disable the diagnostic server entirely.

cc @jason-simmons @tvolkert

I'm going to as

[2017-01-20 04:00] mehmetf opened #7559 "Dismissable is too difficult to swipe on iOS"
If you try to swipe a dismissable before the scrolling completely stops, you cause a bit more scroll. Try again and you cause a bit more scroll and so on. It seems:

- Scroll decay is much longer on iOS than Android.
- Any swipe action with a vertical component is being considered a scroll unless the scroll completely stops.

[2017-01-20 04:02] mehmetf commented on #7559
See https://drive.google.com/open?id=0ByNIo5jv3coeWDBtMFhJSFEydVE for a demo [only visible to google.com]

[2017-01-20 07:46] yjbanov commented on #7550
Back to normal:

<img width="265" alt="screen shot 2017-01-19 at 11 44 36 pm" src="https://cloud.githubusercontent.com/assets/211513/22140442/611cdea4-dea1-11e6-9be3-92fc91d7fc8c.png">

[2017-01-20 08:38] mit-mit commented on #7480
Woot, it's passing!

[code]

[2017-01-20 08:44] Hixie commented on #7559
Specifically what's going on is that while the scrollable is scrolling, you can't interact with the contents at all. The only gesture in the arena is the scroll gesture. If you tap the screen then you'll stop the scroll and then you can dismiss.

This is supposed to match native platforms. Is that not what they do?

[2017-01-20 09:00] abarth commented on #7559
I just tested this behavior on my iPhone, and qualitatively the behavior is the same.  However, the "feel" of the behavior is different.  I think what's going on is that we have too low a min-velocity threshold for ballistic scrolling.  If we raise the min-velocity, many of the interactions in the video won't trigger ballistic scrolling and so the horizontal swipes will be immediately available.

[2017-01-20 09:14] mit-mit commented on #7539
@jakobr-google will your build changes resolve this?

[2017-01-20 09:30] jakobr-google commented on #7539
Yep, after the change we'll produce either a universal APK, or APKs split on ABI, and we should support x86 profile/release builds as well.

@aleki If your app is not gradle-based (hello_services example), then you can get a x86 debug APK using `flutter build apk --debug --target-arch=x86`. I've verified that this does run in appetize.io, but it's slightly slower than a release APK due to running

[2017-01-20 09:36] aleki commented on #7539
@jakobr-google My app is gradle-based :pensive:

[2017-01-20 09:39] jakobr-google commented on #7539
Then hang tight. I'm working on fixing this right now.

[2017-01-20 09:50] jakobr-google commented on #2898
Yep, we have both x86 and x64 debug artifacts for android. We'll need to add profile and release artifacts, too, for the gradle work.

@jason-simmons do you want to own this, or should I take it?

[2017-01-20 09:51] mit-mit commented on #6864
@jakobr-google, also covered?

[2017-01-20 09:58] jakobr-google commented on #6864
Yep. We are actually building a fat APK right now, we just only include native binaries for ARM... It'll be fixed as part of my work.

I'm leaning towards having split APKs as the default, to keep APK size down, but we can discuss this separately.

[2017-01-20 10:11] jakobr-google commented on #7145
Something must've changed in the meantime. Hot reload works fine for me on hello_services (running on a Nexus 5X). Gradle is only used to build the initial APK. The workflow for running the app should be the same for both build types.

Please reopen if you can still reproduce this.

[2017-01-20 15:25] eseidelGoogle commented on #2898
We've intentionally not added --release artifacts for non-shipping configurations (e.g. desktops, emulators).  One could argue that there are x86 Android shipping configurations (devices), but last time I checked the usage numbers on those were very low, maybe that's changed?

Looks like it's 1.5%: http://hwstats.unity3d.com/mobile/cpu.html  Many of them support arm emulation too last I knew.

[2017-01-20 15:55] eseidelGoogle commented on #7551
@johnmccutchan @Hixie

[2017-01-20 16:28] HansMuller commented on #7549
#7510 restored the duration of the motion event sample from 40 back to 100ms. That's probably the source of this micro benchmark regression - we're doing a least squares fit of 2x as many events.

[2017-01-20 16:37] HansMuller commented on #7203
I've also run into it as part of fixing #7365, #6544 (see https://github.com/flutter/flutter/issues/7365#issuecomment-273947240). Working on a fix today.

[2017-01-20 16:40] HansMuller commented on #7545
Maybe we need a debug way to manually step through frames?

[2017-01-20 16:43] eseidelGoogle opened #7560 "Framework features to allow apps to record/replay their state in case the OS restarts them"
This is expected behavior of the platform, that Android will kill your background app at any time.

However the Flutter framework doesn't yet have a way to automatically resume at the correct route, etc when the app is resumed to make it appear as though it wasn't restarted.

I suspect we have an existing bug for this on file, but a short search didn't find it.  This is also bug 34098075 internall

[2017-01-20 16:46] eseidelGoogle opened #7561 "Flutter ignores Android low memory events"
This may be the root cause of https://github.com/flutter/flutter/issues/7560 and is also mentioned in internal bug 34098075 affecting customer: leafy.

Presumably we need to expose a "please clear your caches" callback from the engine up to the framework and have the framework know how to use it.

My recollection is that we also might just have some never-clearing caches in the framework to fix to

[2017-01-20 16:51] sethladd commented on #7480
Go team!

[2017-01-20 17:15] jacobfederer opened #7562 "flutter should work with package:http"
## Steps to Reproduce

I tried using the google apis library with the youtube data api inside a sample project. Therefore I added the corresponding dependencies to the  pubspec.yaml file, listed below:
[code]
Next I used some of the library methods. IntelliJ including the flutter-intellij plugin doesn't recognize any mistake.
[code]

When running the code via `flutter run` on my Galaxy S7 the erro

[2017-01-20 17:16] apwilson commented on #7545
Yeah, that sounds good too.

[2017-01-20 17:26] yjbanov commented on #7549
Should I change the expected number for this benchmark?

[2017-01-20 17:36] mehmetf commented on #7251
I don't think this is an issue anymore. Testing with latest version of Flutter, I cannot detect any differences in scroll sensitivity between Flutter and native Android.

[2017-01-20 17:36] #7251 closed

[2017-01-20 17:39] mehmetf commented on #7560
While it would be great to restore the app state when it is destroyed by Android, this is a very low priority bug.

To my knowledge, this might be impossible because Android actually does not (have to) call onDestroy() before destroying the activity. It might simply kill the process. On native apps, the behavior is the same. The app will look like it has restarted.

[2017-01-20 17:42] mehmetf commented on #7561
This is definitely higher priority than #7560. Both platforms (iOS/Android) will ask apps to cleanup resources:

https://developer.android.com/reference/android/content/ComponentCallbacks2.html#onTrimMemory(int)
https://developer.apple.com/reference/uikit/uiapplicationdelegate/1623063-applicationdidreceivememorywarni

[2017-01-20 18:08] eseidelGoogle commented on #7561
https://github.com/flutter/flutter/issues/6500 and https://github.com/flutter/flutter/issues/3006 are also related.  The latter is likely a dupe.

[2017-01-20 18:10] eseidelGoogle commented on #7562
This is due to googleapis depending on package:http which depends on dart:mirrors which flutter doesn't support.

Flutter has a fork of package:http without mirrors and we're working (as we speak!) on fixing package:http to no longer depend on mirrors: https://github.com/dart-lang/http/issues/1

[2017-01-20 18:11] eseidelGoogle commented on #7562
I believe some folks have been successful at injecting package:flutter/http to replace package:http using dependency_overrides:
https://www.dartlang.org/tools/pub/dependencies#dependency-overrides
But I don't know the details of that workaround.

[2017-01-20 18:38] johnmccutchan commented on #7551
@Hixie is there anyway to make the framework recover from the user error?

[2017-01-20 18:40] johnmccutchan commented on #7145
I believe Dart's hot reload should work fine here.

I wonder if the bug is asking for Android's 'InstantRun' to also work for Java code?

[2017-01-20 19:38] jakobr-google commented on #7145
Yep, Dart's hot reload works fine. The issue description links to Flutter's Hot Reload wiki page, so I assumed that's what we were talking about here.

I'll be looking at supporting Android Instant Run for the Java code as part of the gradle work.

[2017-01-20 19:42] eseidelGoogle commented on #7145
@olostan is active in our gitter, so he can comment as to what he meant.  But Hot Reload didn't work in hello_services at one point, so presumably that is what he ran into.  Closing.  Please feel free to re-open if I've misunderstood.

[2017-01-20 19:42] #7145 closed

[2017-01-20 19:50] abarth commented on #7549
Yes, I think so.

[2017-01-20 20:05] yjbanov commented on #7549
Done.

[2017-01-20 20:05] #7549 closed

[2017-01-20 23:18] #7557 closed

[2017-01-20 23:37] Hixie commented on #7551
We could add try/catch blocks in even more places to try to keep the badness contained. But fundamentally it's always possible to get the framework into an inconsistent state if you throw half-way through a frame or pointer event handling, and then you have to restart.

If we have specific cases of bad code causing hot reload to fail, I'm happy to look at them and see if in those specific cases we

[2017-01-20 23:38] abarth opened #7570 "Document quirky Listenable notification pattern"
If you add the same callback to a Listenable twice and remove it once while an iteration is ongoing, the callback might still be called twice.  We should document that quirky behavior (or figure out a clever way to remove the quirk).

This quirk is especially tricky when you have derivative animations that share a common parent.  They'll forward their listeners to the parent, which might be surpri

[2017-01-20 23:38] #7533 closed

[2017-01-20 23:41] Hixie commented on #7561
See also https://github.com/flutter/flutter/issues/3568.

[2017-01-20 23:42] Hixie commented on #7560
We should enable apps to store their current state whenever it changes meaningfully, so that they can easily come back up in the same state.

[2017-01-20 23:57] abarth commented on #7547
The problem is that `Text` and other basic widgets use `MediaQuery`...  We could add a `nullOk` flag, but it's not clear to me how to decide when to pass that flag...

[2017-01-21 00:32] Hixie commented on #7547
You pass it when you're able to handle it being null by providing your own defaults.

[2017-01-21 07:31] eldos-dl commented on #6724
Seeing the same exception.

[2017-01-21 10:14] Hixie commented on #6724
Are you seeing it reliably? Or just intermittently?

[2017-01-21 12:01] olostan commented on #7145
@eseidelGoogle currently I am on vacation so quite far from computer and can't check, but can confirm that when I was working on project that used hello_service model, there were no option to use hot reload in the way how it was stated in documentation. Anyway I am glad that it works right now! I'll check again and post here if there would be any trouble.

[2017-01-21 19:30] johnmccutchan commented on #7551
@Reagankm Did the analyzer not warn you that your code contained errors?

[2017-01-21 20:33] Hixie commented on #7551
It's trivial to write code that the analyzer is happy with but which will freak the framework out.

[2017-01-21 21:21] mikemimik opened #7575 "Doc Request: Focus issue while using a Form widget"
## Steps to Reproduce

- Create a `Form` with `TextField`'s in it
- Create a widget which just returns this `Form`
- The app will break stating `Two focusable widgets with different keys, [GlobalKey 115789168] and [GlobalKey 956381934], exist in
the widget tree simultaneously, but they have no Focus widget ancestor.
If you have more than one focusable widget, then you should put them inside a Focu

[2017-01-22 04:48] Hixie commented on #2898
1.7% for Android based on that page. As of 2015, there were apparently 1.4 billion Android devices, so that's over 23 million potential users right there.

[2017-01-22 06:44] skybrian opened #7578 "smoother gradle setup (picking the right version)"
I tried out the hello_services app, and it said to run 'flutter config --gradle-dir'. I wasn't sure which one to download, so I installed the latest (3.3). It turns out this is the wrong one and it fails later, requiring version 2.10. I now see this version is specified in android/build.gradle.

It seems like we should save people a redundant gradle download by telling them which version to instal

[2017-01-22 06:59] Hixie commented on #7193
This would prevent e.g. making a part of it bold. Is that what you want?

[2017-01-22 07:02] Hixie commented on #5334
This was done.

[2017-01-22 07:02] #5334 closed

[2017-01-22 07:11] abarth commented on #7578
The intent is to use the gradle that comes with Android Studio.

[2017-01-22 07:13] abarth commented on #7193
I think this is wont-fix.  We use `Widget` almost everywhere instead of `String` because it is much more flexible.

[2017-01-22 07:34] #7260 closed

[2017-01-22 07:38] abarth commented on #7547
As an example, should `AppBar` be willing to fall back when it is trying to learn the top padding?

[2017-01-22 07:50] Hixie commented on #7547
It has three options:
1. Require that you provide a `MediaQuery`, e.g. via a `WidgetsApp`, the same way a `FlatButton` requires a `Material`.
2. Default to nothing, so if you don't provide a `MediaQuery`, and you put it at the top of the screen, it'll go under the bar, the same way we default to white Text if you don't have a DefaultTextStyle.
3. Implement a fallback mechanism that hooks into the

[2017-01-22 07:51] Reagankm commented on #7551
@johnmccutchan I didn't see any such warning, but I'm running the code from google3 so don't have access to the "flutter analyze" command. Maybe there's some other way I'm supposed to be checking that.

[2017-01-22 08:37] abarth commented on #7547
Ok.  I can go through all the uses and try to categorize them.

[2017-01-22 09:15] Hixie opened #7579 "Turn on --assert-initializer, --assert-message, and --initializing-formal-access in the VM"
cc @abarth, @jason-simmons

It's possible --initializing-formal-access is already on by default, see dart-lang/sdk#27891.

[2017-01-22 15:17] eldos-dl commented on #6724
I am seeing this every time. Unable to do hot reload because of this.

[2017-01-22 15:30] albertog opened #7580 "Execution failed for task ':compileGroovy'."
When you try to compile:

Running 'flutter packages get' in flutter-camera-plugin-master... 1928ms
Launching lib/main.dart on SM G930F in debug mode...
Running 'gradle wrapper'...
:buildSrc:clean
:buildSrc:compileJava UP-TO-DATE
:buildSrc:compileGroovy FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':compileGroovy'.

[2017-01-22 17:09] sethladd commented on #7579
Helps resolve https://github.com/flutter/flutter/issues/5865

[2017-01-22 18:12] franklinharper commented on #7560
@mehmetf is technically correct about onDestroy().

But the correct solution is to persist significant state changes when they happen, not just before the app is destroyed. That's what well written Android apps do.

[2017-01-22 20:02] Hixie commented on #5793
This might be WONTFIX. We rarely await futures and it's not clear it would make the code cleaner. Most of our futures are harmless to ignore (e.g. the ones from animation controllers), and most can never throw errors so awaiting them to catch the error doesn't really help.

[2017-01-22 20:48] jtrunick opened #7581 "Samsung S3 Android 4.4"
Ends at libsky_shell. Not the latest engine, curious if something already fixed.

Build fingerprint: 'samsung/d2lterefreshspr/d2lterefreshspr:4.4.2/KOT49H/L710TVPU0AOH1:user/release-keys'
Revision: '14'
pid: 5873, tid: 5899, name: AudioRecord >>> harpsoft.bendometer.ui.android <<<
signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 00000010
r0 5c72c7b8 r1 6741b988 r2 6741b95c r3 6741b958
r4 5c9c

[2017-01-22 22:25] mehmetf commented on #7560
I believe this issue is becoming quite vague.

@franklinharper, we can already save relevant state in our app (such as the selected tab in shared preferences) whenever we want. You are right that apps with good UX should do this. This issue, though is about what Flutter, as a framework, can do to help with this. The only thing I can think of is to expose additional OS lifecycle methods like _onSav

[2017-01-22 22:41] Hixie commented on #7560
Yeah I don't think we'd want to force this automatically on all apps.

[2017-01-22 23:13] skybrian commented on #7578
A bit of context: I'm attempting to run hello_services using the Flutter plugin in IDEA CE. The gradle build happens when I press the 'run' button from within the IDE, with a Nexus 5x hooked up. (Behind the scenes this uses 'flutter run'.) I don't have Android Studio installed, just the Android SDK.

I ran into an issue because the Android support libraries were not installed in the SDK. After tha

[2017-01-22 23:14] abarth commented on #7578
Android Studio is required to create Flutter apps that run on Android.  The configuration you're experimenting with is not supported.

[2017-01-22 23:24] skybrian commented on #7578
I'm confused then, because I'm pretty sure I'm working on a plugin for IDEA, not necessarily Android Studio. So far it's worked. Or do we require people to use two IDE's?

[2017-01-23 01:37] devoncarew commented on #7578
@skybrian, there's a team in AAR working on making the the workflow with gradle and flutter run better. The flutter plugin delegates to the flutter cli tool; if things aren't working great in the plugin, it's probably als not working great from the cli.

[2017-01-23 01:38] devoncarew commented on #7578
/cc @mit-mit

[2017-01-23 03:29] ScottPierce opened #7583 "Observatory won't load sometimes"
I'm running off the latest from `master`. I've encountered this twice where I can't load the Observatory site. This has happened twice now, and both times I've been able to get Observatory to work by cleaning the build or deleting the build folder. This doesn't always work though.

I'm using a Genymotion Android emulator.

## Steps to Reproduce
1. Run flutter application from command line or Intel

[2017-01-23 03:35] Hixie commented on #7583
It would be valuable to try to figure out what's going on if you see this again.

Things to check:
- does adb think there's any port-forwarding going on?
- is the relevant port itself not responding, or is the problem that once we connect the server is dead?
- is the application hung in some way?

[2017-01-23 03:43] ScottPierce commented on #7583
* I tried restarting my emulator, and when that didn't work I also tried restarting my computer. Restarting my computer has always resolved any adb issues I've encountered.
* How would I check this?
* The application was very responsive

[2017-01-23 03:45] Hixie commented on #7583
For the adb thing, I forget the exact commands but adb has a series of commands you can give it to list the currently forwarded ports, and so forth.
For whether the port is responding, you can try telnetting into the port, for example.

[2017-01-23 03:46] abarth commented on #7578
We don't require developers to use Android Studio.  We just require that it is installed on the system to create APKs, similar to how we require Xcode to be installed to created IPAs.

[2017-01-23 03:46] abarth commented on #7578
See Step 1 in the Android section of the setup guide: in https://flutter.io/setup/#android-setup

[2017-01-23 03:58] eseidelGoogle commented on #7581
Can you tell us what version of Flutter this was built with?  With that information we (or you) can symbolicate the trace following:
https://github.com/flutter/engine/wiki/Symbolicating-production-crash-stacks
We need to make that easier. :(  But at least it's written down as a start.

[2017-01-23 04:00] eseidelGoogle commented on #7580
I'm not sure what to do with this issue.  Presumably this is attempting to compile https://github.com/FaisalAbid/flutter-camera-plugin from @FaisalAbid?

It looks like it's having trouble opening a cache directory on your system?

[2017-01-23 04:01] eseidelGoogle commented on #6724
FYI @johnmccutchan

[2017-01-23 04:04] eseidelGoogle commented on #7193
OK.  I recall it feeling awkward to use this widget, but I see the reasoning.

I felt like when I was using this widget that I wanted it to be highly opinionated.

[2017-01-23 04:04] #7193 closed

[2017-01-23 04:10] abarth commented on #7578
The reason this is relevant to this issue is that we don't want to create a smoother path for installing gradle because the intent is to use the version of gradle that is installed with Android Studio.  That also reduces the matrix of which versions of gradle we need to support because we need only support the version(s) that come with Android Studio.

[2017-01-23 04:35] ScottPierce commented on #7583
Debugging with @Hixie has given the following results:

[code]

[code]

In the above scenario, `http://127.0.0.1:39173/` fails to connect to observatory, but `http://127.0.0.1:8104/` works.

[2017-01-23 05:02] bkobash commented on #7332
I tried connected a Nexus 9 to my laptop (via Micro USB) and experienced the same issue.

However, it turns out my Android SDK was at **version 24**. I upgraded to **25** and haven't experienced any of the problems on either the Pixel C or the Nexus 9. I'm still monitoring things, but it looks like a safe bet that the older SDK was the culprit.

[2017-01-23 08:17] mit-mit commented on #7578
Agree with the comments above; however, the current gradle versions in hello_services are outdated. I'll send a PR.

[2017-01-23 14:45] johnmccutchan commented on #6724
@eldos-dl Hi, can you please provide the following:

*) Does this reproduce with the sample app generated by flutter create? If not, are you able to share an app that reproduces?
*) What phone and firmware version are you using?
*) What OS are you running on?
*) The output of `flutter doctor`

[2017-01-23 14:53] johnmccutchan commented on #7551
@Reagankm Certain editors have the Dart analyzer integrated directly so you see it as you write your code.

As @Hixie said some code is going to break the framework. But, if the analyzer had warned you, at least would be a clue that you might be submitting busted code.

[2017-01-23 15:00] johnmccutchan commented on #7331
This might be related to #7248. The invalid parameter indicates the FlutterView has gone away. Could you have restarted the application in the meantime?

[2017-01-23 15:00] johnmccutchan commented on #7238
*ping*

[2017-01-23 15:02] johnmccutchan commented on #6964
Pretty sure this is fixed.

[2017-01-23 15:02] #6964 closed

[2017-01-23 16:33] ScottPierce commented on #7560
The instance where Android saves the current app state, and then reinitializes the app to it's previous state, even after it's been purged from memory, isn't done via `onDestroy`. It's done via [onSaveInstanceState](https://developer.android.com/reference/android/app/Activity.html#onSaveInstanceState(android.os.Bundle)).

The data isn't persisted by the app, but rather, serialized to a [Parcelable

[2017-01-23 16:54] sethladd opened #7588 "Android SDK 24 can lead to crashes with devices and Macs, but flutter tool says 24 is OK"
We diagnosed a problem with crashing from device+flutter+mac. After the user upgraded to Android SDK 25, the crashes stopped. See https://github.com/flutter/flutter/issues/7332#issuecomment-274401118

We might want to change `flutter tool` to prompt the user to upgrade to Android 25. Right now, flutter tool says 24 is OK.

[2017-01-23 16:55] sethladd commented on #7332
Thanks for the update! Going to close this in preference of https://github.com/flutter/flutter/issues/7588

But, if anyone is reading this, try upgrading to Android 25. :)

[2017-01-23 16:55] #7332 closed

[2017-01-23 16:59] #7517 closed

[2017-01-23 18:00] #7578 closed

[2017-01-23 18:33] jason-simmons commented on #3372
A while ago I added a feature to the Atom plugin for attaching the Dart debugger to a running Flutter app on Android.  We might need something similar for the current tools.

[2017-01-23 18:47] eseidelGoogle commented on #3372
I believe IntelliJ has support for connecting the debugger to existing processes?  At least I recall @devoncarew mentioning that feature at some point.  FYI @mit-mit in case this falls into the current gradel work.

[2017-01-23 19:32] #163 closed

[2017-01-23 20:45] johnmccutchan commented on #7238
I'm still waiting for the more fine grained benchmark numbers to be published as well as enabling the benchmark on more configurations.

[2017-01-23 21:50] xster opened #7593 "Have options autocomplete for shell tool"
Would be nice to have options autocomplete for the shell flutter tool in bash, zsh, fish.
Something like:
<img width="1051" alt="screen shot 2017-01-23 at 1 47 30 pm" src="https://cloud.githubusercontent.com/assets/156888/22224184/9a44d6ae-e172-11e6-857a-e05c88656627.png">

[2017-01-23 22:52] #7203 closed

[2017-01-23 22:56] xster commented on #7274
My clueless new guy 2-cents. I ran into this looking at the onboarding guides and was a bit confused with the difference between [no-arguments], flutter-repo, current-directory, current-package.

- The first line of the doc says "Analyze _the project_'s Dart code". Agree with comment 272536360 that --current-package is then implied if no arguments are supplied. Seems like --current-directory is re

[2017-01-23 23:13] xster opened #7597 "Moving the flutter repo after running flutter tool once crashes"
1- clone framework repo
2- run flutter update-packages and put it in path
3- move the repo somewhere else and correct path
4- run flutter doctor again, it crashes

## command

flutter doctor

## exception

FileSystemException: Cannot resolve symbolic links, path = '[$HOME]/Development/flutter/flutter' (OS Error: No such file or directory, errno = 2)

[code]

[2017-01-23 23:37] Hixie commented on #7274
I'm fine with hiding `--flutter-repo` from the `--help` listing, but it is hugely useful to the team and that's important to Flutter's ability to evolve, so I think we should keep it.

[2017-01-23 23:52] xster commented on #7597
4 addendum. Only happens if I'm inside one of the framework repo's example projects. Doesn't crash if I'm outside the repo or in some flutter projects outside the framework repo.

[2017-01-24 00:03] Hixie commented on #93
@abarth was saying that Skia exposes verbs and points. Exposing the points seems like a good start.

[2017-01-24 00:40] xster commented on #7597
Actually the problem can be generalized to:
1- Get flutter somewhere
2- Get a project and pub get
3- Move the flutter and go back to that project and use any flutter commands

[2017-01-24 00:47] eseidelGoogle commented on #7593
I feel like someone looked into this at some point.  There may even have been some code for this?  Maybe @devoncarew or @jimbeveridge remember?

[2017-01-24 01:32] devoncarew commented on #7593
@danrubel discussed this (he added similar support for fletch I believe).

[2017-01-24 01:48] yjbanov commented on #7238
Thanks for the ping! https://github.com/flutter/flutter/pull/7602

[2017-01-24 03:26] jtrunick opened #7603 "iOS Simulator file path error"
iPhone6s Simulator error message

Every other time I run simulator (debug mode), I get the following error and it doesn't start the app:
assertion failed: 15G1004 13E230: libxpc.dylib + 57882 [66C28065-C9DB-3C8E-926F-5A40210A6D1B]: 0x7d

the next time it'll work (alternating), this is a full refresh 'R'

[2017-01-24 04:10] eseidelGoogle commented on #5327
There is another mode of the status bar where it just turns opaque (like when you have a hotspot running and something connected). I don't think we need to do anything to support that, but thought I'd mention.

[2017-01-24 04:13] eseidelGoogle commented on #7603
Originally when you filed the bug you had a longer error message which included
`Error connecting to the service protocol: Bad state: No element`, which I suspect is the only message from flutter.

You might also try looking at the full logs either via `flutter run -v` or by using command-\ in the simulator to open up the console log for that simulator instance.  `flutter run` does some log filter

[2017-01-24 04:14] eseidelGoogle commented on #7603
The libxpc.dylib assertion is benign and has nothing to do with Flutter: http://stackoverflow.com/questions/36874368/assertion-failed-warnings

[2017-01-24 05:18] jtrunick opened #7604 "Latest build won't run in release mode, only debug"
## Steps to Reproduce

Upgraded to latest engine, my "hello_services" (not the original, but based off of it) still works in --debug, but no longer --release. It actually installs apk-debug in release mode, and then fails to run on device.

My non-services project seems fine with the latest flutter build.

## Logs

Launching lib/main.dart on XT1060 in release mode...
Running 'gradlew build'...
:bu

[2017-01-24 05:31] abarth commented on #7504
Someone just hit this issue in gitter.

[2017-01-24 05:32] abarth commented on #7604
Possibly caused by this change to FlutterPlugin.groovy:

https://github.com/flutter/flutter/commit/76460967e662a287818a3b1e3e39af5dfbf10802#diff-92da56abb16a9541802d63a6720733da

Do you have the old version of FlutterPlugin.groovy in your project?

(See https://github.com/flutter/flutter/issues/7504)

[2017-01-24 07:00] Hixie commented on #178
@chinmaygarde Looks like the engine is still canning window.onBeginFrame during headless `flutter test`.

To check, I edited `packages/flutter_test/lib/src/binding.dart`, in the `initInstances` method of the `AutomatedTestWidgetsFlutterBinding` class, I changed the last line to:
[code]

Then I ran `flutter test` in the `flutter_test` directory, and observed that it calls that print statement. By c

[2017-01-24 08:51] eldos-dl commented on #6724
* Yes. Facing this issue with sample app generated by `flutter create`.
* One Plus X. OxygenOS 3.1.4, Android 6.0.1
* Ubuntu 16.04
* Output of `flutter doctor`
[code]

[2017-01-24 14:52] johnmccutchan commented on #6724
@eldos-dl Thanks for the info.

In the past, issues like this have been related to weird output from adb. I'm looking into acquiring your specific phone.

Can you paste the log from flutter run?

Thanks,
John

[2017-01-24 15:03] jakobr-google commented on #5881
flutter.jar is now present in android-x86 and android-x64. Changes to the Gradle build to actually support x86 variants are tracked in other issues. Let's say #6136.

[2017-01-24 15:03] #5881 closed

[2017-01-24 16:05] eseidelGoogle commented on #6724
@tvolkert recently added some fancy recording mode into flutter_tools, maybe that would be helpful here for troubleshooting what's wrong?

[2017-01-24 16:31] HansMuller commented on #7274
I agree with Ian.  I use `--flutter-repo` all the time and wouldn't mind if it didn't appear in the `--help` listing.

[2017-01-24 16:42] tvolkert commented on #6724
`flutter run --record-to=bugreport` will create a `bugreport` directory.  If you zip that directory up and attach the file to this issue, it may help us track down what's going on.

[2017-01-24 16:58] johnmccutchan commented on #6724
@tvolkert It's worth trying!

[2017-01-24 17:47] sureshg opened #7610 "Flutter doctor fails with NoSuchMethodError"
## Steps to Reproduce

Cloned the latest flutter repo and ran `flutter doctor`. It fails with `Class 'LocalProcessManager' has no instance method 'runSync' with matching arguments` error.

## Flutter Doctor

[code]

[2017-01-24 17:49] abarth commented on #7610
Should be fixed now.  You can get the new version by running `git pull` in your clone of flutter.git.

Thanks for the report.

[2017-01-24 17:49] #7610 closed

[2017-01-24 18:12] HansMuller commented on #7365
I changed the API to pushReplacement() and pushReplacementNamed() per https://github.com/flutter/flutter/issues/6544 The popAndPushNamed() method remains the simple macro operation that  it has been. See https://github.com/flutter/flutter/pull/7611

[2017-01-24 18:41] DaveShuckerow commented on #7365
Just replacing the top route is very similar to popAndPush. From a developer standpoint, the end result is the same -- the old route comes off and the new route goes on.

Is there a way to reduce the API duplication?

[2017-01-24 18:42] DaveShuckerow commented on #7365
The primary problem with popAndPush that we were having was that it does not work when popping the initial route of the app and pushing a new route in its place. If we can make it possible to support that, then I think we only need popAndPush.

[2017-01-24 18:50] sethladd opened #7614 "Flutter's interaction with Android's new Instant Apps"
Looks like Instant Apps is starting to get rolled out for testing. We may want to better understand how Flutter interacts with Instant Apps and what the trade-offs are.

Learn more: https://android-developers.googleblog.com/2017/01/android-instant-apps-starts-initial.html

[2017-01-24 18:56] cbracken opened #7616 "iOS transition from standard status bar to expanded status bar is janky"
In flutter/engine#3357, we corrected the top padding applied to account for double-height status bars on iOS. While this fix ensures the padding is correct, the transition between a standard height status bar and the expanded, double-height status bar is still janky.

To repro:
1. Start up a Flutter app (e.g., the gallery example) in the iOS simulator.
2. Enable Slow Animations (Cmd-T). This makes

[2017-01-24 18:58] cbracken commented on #5327
The padding issue is fixed by flutter/engine#3357, which fixes the layout. Filed #7616 since the animation between the standard and expanded status bars is still janky.

[2017-01-24 18:58] #5327 closed

[2017-01-24 19:11] HansMuller opened #7617 "The Route didPush and didPop methods are not just notifications"
Methods called didFoo() sound like notifications that Foo has happened.

The Route methods called didPop and didPush are not just notifications that a Navigator pop or a push operation has happened, although they are called immediately upon a call to Navigator.push or Navigator.pop. Routes use these methods to start transitions and, in the case of didPop, to [optionally] carry out the pop operatio

[2017-01-24 19:13] eldos-dl commented on #6724
`flutter run` log
[code]
[bugreport.zip](https://github.com/flutter/flutter/files/727718/bugreport.zip)

[2017-01-24 19:22] #2343 closed

[2017-01-24 19:26] johnmccutchan commented on #6724
Thanks for the bug report. There was some useful information (nice @tvolkert !)

* We correctly scrape the Observatory port from the device (38022)

[code]

* We ask adb to forward the port to from the device to the host (38022 -> 8104)

[code]

This where things have gone wrong, we ask adb to forward port 8104 but then we try and connect to port 8100 and  print that Observatory is waiting on port

[2017-01-24 19:36] #6544 closed

[2017-01-24 19:36] #7365 closed

[2017-01-24 20:56] eseidelGoogle commented on #2221
We do this now.  I've documented the (currently manual) process for using them:
https://github.com/flutter/engine/wiki/Symbolicating-production-crash-stacks

[2017-01-24 20:56] #2221 closed

[2017-01-24 21:46] cbracken commented on #7616
Potentially useful are two notifications:
[code]

[2017-01-24 22:15] jtrunick commented on #7604
I noticed that the latest hello_services when run in --release mode also installs:
app-debug.apk

but it is running in release, no red "slow mode" sash is present. So it appears that possibly my project is building for --release, but some bug is allowing the debug version to work, but not the --release version.

[2017-01-24 22:16] johnmccutchan commented on #6724
The ports printed for both Observatory and the Diagnostic server are the default host ports for the their respective services...

[2017-01-24 22:20] jtrunick commented on #7604
I did swap out the FlutterPlugin.groovy with the latest same result it looks like the other difference I notice is the latest is using gradle 2.2.3

[2017-01-24 22:23] jtrunick commented on #7604
After I swapped the groovy file... AND cleaned the anddroid/build/ directory it started working again... Thanks!

[2017-01-24 22:24] jtrunick commented on #7604
Shouldn't I expect it to install the -release version of the .apk though?

[2017-01-24 22:49] Hixie opened #7621 "Trace reassemble and see if there's any easy wins"
We should trace a reassemble of the Flutter gallery and see why it takes over a second.

cc @johnmccutchan

[2017-01-24 23:07] johnmccutchan commented on #6724
Hi @eldos-dl,

Can you please send me the output log with:

`flutter run --trace --record-to=bugreport2`

along with the bugreport2 zip file.

There should be a lot more output to the terminal.

[2017-01-24 23:11] johnmccutchan commented on #7128
@Hixie This is the original bug tracking the perf regression.

[2017-01-24 23:15] yjbanov commented on #7128
After a recent engine roll (https://github.com/flutter/flutter/commit/1e1463216adaf96cc729a5a09761738d2309d548) the benchmark is not as spiky any more, but it's still showing worse numbers than what we saw in the past.

<img width="197" alt="screen shot 2017-01-24 at 3 12 42 pm" src="https://cloud.githubusercontent.com/assets/211513/22271114/d9a2a922-e247-11e6-80f0-ee8d888ba117.png">

[2017-01-24 23:45] Hixie commented on #7128
Is this on iOS? Maybe the old spikiness was the weirdness around not pushing frames/microtasks.

[2017-01-24 23:45] Hixie commented on #7128
The more recent regression might be the tab thing @HansMuller is looking at.

[2017-01-24 23:51] goderbauer opened #7623 "flutter devices shows some strange characters on Windows"
[code]

This is on Windows 10.

[2017-01-24 23:51] yjbanov commented on #7128
This is Android.

[2017-01-25 00:38] #7623 closed

[2017-01-25 00:53] Hixie opened #7626 "Add a microtask checkpoint between transient callback phase and build phase"
Tickers return Futures.
It's possible for the following sequence of events to happen:
 - a transient callback for a ticker results in that ticker's future completing
 - during build, we tear down the world
 - after the frame, the ticker's future's callbacks get called, expecting the world to still be around

This leads to people writing pretty-looking code that just doesn't work in edge cases that

[2017-01-25 01:10] Hixie opened #7630 "Clean up services docs"
...in the style of https://github.com/flutter/flutter/pull/7599.

[2017-01-25 01:22] danrubel commented on #6724
@johnmccutchan Based on what you said, we are correctly obtaining the port but then not using it when connecting to the observatory and diagnostic server. So, I tried the following to see if I could reproduce the error (see below).

**tl;dr** - It seems to correctly use the scraped ports on my Mac connected to my Nexus 5x.

Looking for additional information on how to correctly recreate the proble

[2017-01-25 02:04] eldos-dl commented on #6724
`flutter run --trace-startup --record-to=bugreport2` log
[code]
[bugreport2.zip](https://github.com/flutter/flutter/files/728449/bugreport2.zip)

[2017-01-25 03:06] johnmccutchan commented on #6724
Hi @eldos-dl, I made a typo in my last comment, you need to pass `--verbose` not `--trace`

[2017-01-25 04:11] eldos-dl commented on #6724
[code]
[bugreport3.zip](https://github.com/flutter/flutter/files/728618/bugreport3.zip)

[2017-01-25 07:34] #7630 closed

[2017-01-25 09:32] jakobr-google commented on #7604
With the current gradle scripts, it should install app-debug.apk. The '-debug' part only refers to the Android portion of the build, not the Flutter part.

The --profile/--release build mode currently only affects which native Flutter binaries are put in the .apk, and how we build the snapshot of the Dart code. As you've noticed, you get the 'slow mode' sash only on a debug build, and not on profi

[2017-01-25 15:09] johnmccutchan commented on #6724
Thanks @eldos-dl

[2017-01-25 18:25] apwilson opened #7636 "Crash running flutter analyze"
Analyzing lib...

Oops; flutter has exited unexpectedly.
Crash report written to <redacted>/flutter_01.log;
please let us know at https://github.com/flutter/flutter/issues.
$ cat <redacted>/flutter_01.log
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter analyze lib/

## exception

RangeError: Value not in range: 65

[code]

## flutter doctor

[co

[2017-01-25 18:28] eseidelGoogle commented on #7636
@danrubel is our analyzer expert.

[2017-01-25 19:15] johnmccutchan commented on #6724
Looking at the bug report data along with the trace it appears my earlier conclusions were based on confusing data.

We are sniffing the correct device port.
We are forwarding the host port to the device port.
We are connecting to the correct host port.

I'll try and reproduce locally and debug what's happening lower down.

[2017-01-25 19:42] Reagankm opened #7639 "Suggestion: Mention LazyBlockChildren in the LazyBlock or LazyBlockDelegate comments"
## Steps to Reproduce

I was trying to implement a LazyBlock and thought I had to write my own LazyBlockDelegate. By chance, I discovered the LazyBlockChildren class which inherits from LazyBlockDelegate and makes using a LazyBlock much, much easier.  I'd suggest adding language to the doc comments for LazyBlock or the LazyBlockDelegate class that mentions that LazyBlockChildren exists, perhaps si

[2017-01-25 20:29] abarth commented on #7639
Good idea.

[2017-01-25 21:49] eseidelGoogle commented on #4333
I suspect we can close this, since our plugin architecture has changed since google_sign_in was written and it will need to be re-written.

[2017-01-25 21:49] #4333 closed

[2017-01-25 21:55] zhenqiu1101 opened #7643 "Add test APIs to support find descendant/ancestor widgets"
We would like to have widget tester APIs to find ancestor or descendant of an Element. So that we can test cases like,

- Find text within a specific widget (not the whole widget tree).
- Find text widget, who is under a Row and with a specific content.

[2017-01-25 22:55] johnmccutchan commented on #6724
I just followed the [instructions](https://forums.oneplus.net/threads/oxygenos-2-1-4-for-the-oneplus-one.425544/) and I appeared to have bricked a OnePlus One.

I'll talk with @eseidelGoogle about ordering a OnePlus X

[2017-01-25 22:57] johnmccutchan commented on #6724
For the record everything worked until I hit Step 14/15 and then the phone stopped booting.

[2017-01-25 23:18] ds84182 commented on #6807
Has there been any work on this? This would greatly improve performance on slower devices since I've observed some terrible shadow performance on both my Moto X 2013 and my Moto Z Play.

[2017-01-25 23:40] chinmaygarde commented on #6807
I rolled Skia and did some initial work on integration of `SkShadowMaskFilter`. Got pulled away before I could finish my work and profile. Will get back to it ASAP.

[2017-01-26 00:26] Hixie commented on #7643
we should probably add two things: a matcher that checks if a widget has a descendant, identified by finder:
[code]
...and a finder that takes two finders:
[code]

[2017-01-26 01:26] Hixie commented on #5154
This would also speed up reassemble substantially since a lot of the work of reassembling is updating these closure pointers.

cc @johnmccutchan

[2017-01-26 01:40] Hixie opened #7648 "Smooth the path to using a CustomPaint with a paintable ChangeNotifier"
If you have a ChangeNotifier that implements a `paint()` function, it'd be nice to be able to hand that straight to `CustomPaint` instead of having to jump through the hoops that `Scrollbar` jumps through.

[2017-01-26 02:19] Hixie opened #7649 "flutter_tools tests recently starting being flaky on Travis"

[2017-01-26 02:19] Hixie commented on #7649
[code]

[2017-01-26 04:18] eseidelGoogle opened #7652 "flutter run should hide libxpc.dylib assert noise"
assertion failed: 15G1212 13E230: libxpc.dylib + 57882 [66C28065-C9DB-3C8E-926F-5A40210A6D1B]: 0x7d

It's just noise:
http://stackoverflow.com/questions/36874368/assertion-failed-warnings

Simulator only i believe.

[2017-01-26 04:40] Hixie opened #7653 "in checked mode, if "flutter test" experiences a post-test engine crash, it triggers a failure in the test package"
[code]

[code]

cc @nex3

[2017-01-26 04:50] devoncarew opened #7654 "flutter.ps1 script not found when run from the regular command prompt"
On windows, with the flutter repo in the `PATH`, typing `flutter` from the regular command prompt will not execute the `flutter.ps1` script:

[code]

If you instead open windows powershell, running `flutter` does locate the ps1 script on the path.

I'm not sure if we want to support a regular command prompt; if so, perhaps we should add a flutter.bat which can bootstrap into the flutter.ps1 script

[2017-01-26 05:00] goderbauer commented on #7654
Currently, you'll have to open PowerShell to interact with Flutter. As it is still WIP to get it all running under Windows, this is unfortunately not documented yet.

I was hoping that we only need to support the newer and more powerful PowerShell without worrying about the old cmd shell. I am open to discuss this, though.

[2017-01-26 05:03] yjbanov opened #7656 "iOS complex_layout scrolling GPU perf regressed after engine roll"
Engine roll https://github.com/flutter/flutter/commit/1e1463216adaf96cc729a5a09761738d2309d548 resulted in a ~2x regression on the GPU thread of the complex_layout scroll benchmark on iOS. Android not affected. UI thread not affected.

<img width="198" alt="screen shot 2017-01-25 at 8 55 23 pm" src="https://cloud.githubusercontent.com/assets/211513/22320405/0d6251a0-e341-11e6-8765-8584a7ee7552.png

[2017-01-26 05:09] abarth commented on #7654
Can we use a `bat` file to bootstrap into powershell?

[2017-01-26 05:09] goderbauer commented on #7654
Having said all that, I'll look into adding a bat script that calls out to PowerShell. That sounds like a reasonable thing to do.

[2017-01-26 06:49] Hixie opened #7657 "Engine crashes when using --use-test-fonts"
Run this command line from the `packages/flutter` directory:
`../../bin/cache/artifacts/engine/linux-x64/sky_shell --non-interactive --enable-checked-mode --use-test-fonts --packages=.packages --run-forever test/cupertino/dialog_test.dart`
...and you get:
[code]

cc @chinmaygarde since he worked on the test font feature, cc @jason-simmons since he seems to like random engine crashes :-)

[2017-01-26 08:14] Hixie commented on #7649
I just saw:
[code]
...so maybe it's a more general problem?

cc @tvolkert

[2017-01-26 17:02] Sfshaza opened #7659 "Convert the box decoration border radius with non-uniform border assert into a detailed FlutterError"
## Steps to reproduce

Run the provided code. You'll see widgets on a pink background.
Uncomment the `borderRadius:` line and reload.
The pink box now has rounded borders, but that's all you see. The widgets are now obscured.

## Example code

[code]

## Flutter Doctor

[code]

[2017-01-26 17:08] cbracken commented on #7656
Thanks @yjbanov! Will take a look.

[2017-01-26 17:25] HansMuller opened #7660 "Flutter IDE integration wish: tap link, launch IDE with a complete example"
Providing a short code fragment in the dartdoc for a widget class can be helpful.  Experimenting with such a code fragment can require setting up a new project, integrating the fragment, running the result.

I wish that we could provide links to complete examples. I wish that tapping the link in a desktop browser would launch/connect-to the IDE with a new project, ready to run immediately.

See al

[2017-01-26 17:45] Hixie commented on #7659
Do you get any output in the console? I would have expected an assertion (because you can't set a border radius on a decoration with non-uniform borders).

[2017-01-26 17:46] Hixie commented on #7659
(We should definitely make the message clearer though.)

[2017-01-26 18:23] goderbauer commented on #7654
Creating a `bat` file that launches the PowerShell script is easy to do: [1]. However, it is also fairly slow. Each time you execute a flutter command, Windows has to bootstrap a new PowerShell. On my fairly powerful system, that takes about 5-7 seconds. So, every time you execute a flutter command, it looks like your cmd prompt is hanging for a few seconds while Windows is busy getting that Power

[2017-01-26 18:25] Hixie opened #7661 "devicelab fails when run in checked mode"
I ran a devicelab task in checked mode and got:
[code]
...a bunch of times then it failed.

[2017-01-26 18:25] Hixie commented on #7661
cc @yjbanov

[2017-01-26 18:28] Hixie commented on #7654
Why do we need PowerShell at all? Isn't this just for the bootstrapping of the flutter script? The less we do here the better, I would have thought. Are batch files just not powerful enough?

[2017-01-26 18:38] goderbauer commented on #7654
From what I can tell, there is no good way to download and unpack a ZIP file from cmd and we need that to get the Dart SDK. That's why I originally opted for PowerShell.

What we could maybe do: Do everything native in a `bat` file and only when we detect that the Dart SDK is outdated, call out to PowerShell to download and extract it.

[2017-01-26 18:53] #149 closed

[2017-01-26 19:11] eseidelGoogle commented on #426
Seems very related to https://github.com/flutter/flutter/issues/3671.

[2017-01-26 19:12] eseidelGoogle commented on #452
I'm not sure if this is still an issue we need to track @HansMuller?

[2017-01-26 19:15] eseidelGoogle commented on #618
Likely relates to https://github.com/flutter/flutter/issues/95 or https://github.com/flutter/flutter/issues/5330.

[2017-01-26 19:16] eseidelGoogle commented on #656
This may also relate to https://github.com/flutter/flutter/issues/5231.

[2017-01-26 19:16] abarth commented on #7654
Sounds reasonable.

[2017-01-26 19:17] abarth commented on #669
Probably fixed already.

[2017-01-26 19:23] HansMuller commented on #452
I assume that we're referring to the Android system back button. The Scaffold's back button does refer to whatever navigator contains the scaffold.

Android may exit the application if you tap the system back button. So in the nested navigator case tapping the scaffold's back button might do something harmless but in the same situation hitting the system back button will exit the app.  That's prob

[2017-01-26 19:23] abarth commented on #1015
This ill be fixed by ^^ and doesn't need to be tracked separately.

[2017-01-26 19:23] #1015 closed

[2017-01-26 19:24] abarth commented on #1028
Fixed with gesture arena teams.

[2017-01-26 19:24] #1028 closed

[2017-01-26 19:26] abarth commented on #1141
Fixed.

[2017-01-26 19:26] #1141 closed

[2017-01-26 19:26] eseidelGoogle commented on #1183
@chinmaygarde may be covering this in the perf debugging doc he's been noodling on.

[2017-01-26 19:28] eseidelGoogle commented on #1219
Is this still an issue?  I know we have a raster cache.  My impression was Dart was involved in managing it somehow now.  @chinmaygarde

[2017-01-26 19:28] abarth commented on #1406
Fixed.  It's now aligned to the top left.

[2017-01-26 19:28] #1406 closed

[2017-01-26 19:29] abarth commented on #1413
Fixed.  We don't have any android-specific capabilities now.

[2017-01-26 19:29] #1413 closed

[2017-01-26 19:29] eseidelGoogle commented on #1232
FYI @HansMuller in case it's related to heros2.

[2017-01-26 19:29] abarth commented on #1422
Fixed.  We now outsource this to package:http.

[2017-01-26 19:29] #1422 closed

[2017-01-26 19:29] eseidelGoogle commented on #1233
Feels like we can close this.

[2017-01-26 19:29] #1233 closed

[2017-01-26 19:31] abarth commented on #1465
Alpha branch is not a thing

[2017-01-26 19:31] #1465 closed

[2017-01-26 19:31] abarth commented on #1469
connectToService isn't a thing anymore.

[2017-01-26 19:31] #1469 closed

[2017-01-26 19:31] eseidelGoogle commented on #1268
Will this block i18n? https://github.com/flutter/flutter/issues/393

[2017-01-26 19:32] abarth commented on #1472
Closing as dup.

[2017-01-26 19:32] #1472 closed

[2017-01-26 19:32] abarth commented on #1497
Mojo shell isn't a thing anymore.

[2017-01-26 19:32] #1497 closed

[2017-01-26 20:03] #7480 closed

[2017-01-26 20:06] abarth commented on #1219
Still an issue.

[2017-01-26 20:08] #7657 closed

[2017-01-26 20:09] Hixie commented on #1592
Obsolete.

[2017-01-26 20:09] #1592 closed

[2017-01-26 20:09] chinmaygarde commented on #1219
The define was removed a while ago. Dart can control cache behavior by specifying that the picture will change from frame to frame.

[2017-01-26 20:10] Hixie commented on #1593
Obsolete.

[2017-01-26 20:10] #1593 closed

[2017-01-26 20:10] Hixie commented on #1594
Since this bug has no steps to reproduce and we haven't heard complaints recently, I'm going to close it. Please reopen and attach a demo app that triggers to bug if you still see this.

[2017-01-26 20:10] #1594 closed

[2017-01-26 20:12] Hixie opened #7664 "Refresh indicator should be able to show its actual progress"

[2017-01-26 20:14] Hixie commented on #1595
I don't know what "The refresh indicator should disappear "when the user navigates away from the refreshing content"" means we should do.

I've split out the last remaining issue into its own bug. I'm going to close this as otherwise done.

[2017-01-26 20:14] #1595 closed

[2017-01-26 20:16] Hixie commented on #1616
We should implement this as a Scrollbar-style widget that just watches scroll events, once we have pageable.

[2017-01-26 20:16] LarkAscending opened #7665 "Add Android emulator steps to setup.md"
The iOS setup instructions in flutter.io/setup/ include steps for configuring a simulator. The Android setup section has no emulator or simulator setup instructions. It assumes you're using an attached device.

Add the internally-available Android emulator instructions to setup.md on the flutter website.

Note that the Enable KVM instructions do not apply to Mac users (only).

[2017-01-26 20:18] Hixie commented on #1636
Closing since I can't reproduce.

[2017-01-26 20:18] #1636 closed

[2017-01-26 20:20] Hixie commented on #1657
cc @tvolkert who might be interested in this

[2017-01-26 20:45] tvolkert commented on #1657
I was actually thinking about this a few days ago.  I think it works best as a flag to `flutter run`, since that lets you capture potentially important information in the building and deployment of the app.

[2017-01-26 20:45] tvolkert commented on #1657
`flutter run --bugreport`

[2017-01-26 20:59] yjbanov commented on #7661
Surprised this wasn't picked up by strong mode 😮

[2017-01-26 21:04] sethladd commented on #7480
Yay! Nice work, everyone.

[2017-01-26 21:28] Hixie commented on #7661
yeah, me too

[2017-01-26 21:29] cbracken opened #7668 "Add/enable iOS simulator tests"
We recently had some iOS simulator-only build failures (ref: flutter/engine#3364) that weren't caught by build/test bots.

There is a simulator launch test in [flutter/flutter.py](https://chromium.googlesource.com/chromium/tools/build.git/+/master/scripts/slave/recipes/flutter/flutter.py#26) but it's currently commented out.

[2017-01-26 21:29] cbracken commented on #7668
@yjbanov

[2017-01-26 21:42] Hixie commented on #1268
This would definitely make our i18n story more compelling.

[2017-01-26 21:58] yjbanov commented on #7668
We _should_ do this, https://github.com/flutter/flutter/issues/7238 is also asking for this. It might be a little bit of work though. The device lab framework currently only understands "android" and "ios". It can't tell "ios physical device" from "ios simulator".

[2017-01-26 22:02] Hixie opened #7669 "LiveTestWidgetsFlutterBinding should print a message when setting _pendingExceptionDetails"
It would save a lot of time when debugging tests

[2017-01-26 22:24] #7661 closed

[2017-01-26 22:53] eseidelGoogle commented on #1815
Given how little we've touched Stocks in the last year I think we can close this bug?

[2017-01-26 22:53] eseidelGoogle commented on #1816
I believe this is about stocks, and given how little we've focused on stocks in the last year, I think we can close this.

[2017-01-26 22:53] #1816 closed

[2017-01-26 22:56] eseidelGoogle commented on #1831
We ended up using the Material Design font for the Material Design Icons.  I'm not aware of any obstacles stopping someone from building this on top of Flutter today using direct `dart:ui` calls or a CustomPaint widget: https://docs.flutter.io/flutter/widgets/CustomPaint-class.html.  We have no immediate plans to build such at this time.

[2017-01-26 23:00] Hixie commented on #1764
closing based on @abarth claiming it's WAI.

[2017-01-26 23:00] #1764 closed

[2017-01-26 23:02] Hixie commented on #1704
This is done now.

[2017-01-26 23:02] #1704 closed

[2017-01-26 23:03] eseidelGoogle commented on #1890
What is `flutter start`?  Is this still a valid issue?

[2017-01-26 23:08] eseidelGoogle commented on #1961
alpha is no longer a thing. Closing.

[2017-01-26 23:08] #1961 closed

[2017-01-26 23:09] eseidelGoogle commented on #1992
Atom is no longer our recommended editor.  Closing.

[2017-01-26 23:09] #1992 closed

[2017-01-26 23:09] eseidelGoogle commented on #1993
Atom is no longer our recommended editor.  Closing.

[2017-01-26 23:09] #1993 closed

[2017-01-26 23:09] eseidelGoogle commented on #1994
We now host on Firebase.

[2017-01-26 23:09] #1994 closed

[2017-01-26 23:10] eseidelGoogle commented on #1995
Atom is no longer our recommended editor.

[2017-01-26 23:10] #1995 closed

[2017-01-26 23:13] eseidelGoogle commented on #2025
Note that these days `dart-fmt` supports trailing commas which has answered at least the most common complaint from Flutter customers, e.g.
[code]

[2017-01-26 23:14] eseidelGoogle commented on #1991
This will likely change as part of @jakobr-google moving `flutter build apk` on top of gradle.

[2017-01-26 23:15] eseidelGoogle commented on #2060
This seems unlikely to be desired, given our move on top of XCode and Android Studio.  I suspect when folks want to connect gdb they should do so from one of those, no?

[2017-01-26 23:18] eseidelGoogle commented on #2127
https://github.com/flutter/flutter/issues/1657 is related.

[2017-01-26 23:18] eseidelGoogle commented on #2131
I believe this is done now?  @mit-mit @LarkAscending.  Please re-open if not.

[2017-01-26 23:18] #2131 closed

[2017-01-26 23:19] eseidelGoogle commented on #2163
SizeObserver is gone.  Is this still valid?

[2017-01-26 23:19] eseidelGoogle commented on #2253
I believe we do this now, no?  @johnmccutchan

[2017-01-26 23:20] eseidelGoogle commented on #2270
I don't think we need a bug to track this?  Please re-open if others disagree.

[2017-01-26 23:20] #2270 closed

[2017-01-26 23:21] eseidelGoogle commented on #2344
Input was reworked a ton recently, this may be resolved?

[2017-01-26 23:21] eseidelGoogle commented on #2349
I've not seen this since.  Closing.

[2017-01-26 23:21] #2349 closed

[2017-01-26 23:22] eseidelGoogle commented on #2408
These days we just have our own front-end instead.  But we could still do this if necessary.

[2017-01-26 23:23] eseidelGoogle commented on #2412
We've been getting along with travis alright for now.

[2017-01-26 23:23] nex3 commented on #7653
Can you give some more details on what sort of error is triggering this? Specifically, how that error is exposed through the `PlatformPlugin` API?

[2017-01-26 23:30] eseidelGoogle commented on #2423
I think we track this size now, no?  @yjbanov

[2017-01-26 23:31] eseidelGoogle commented on #2411
We don't really use these pages anymore, unclear if we need to track this.  @yjbanov wrote us an alternative front-end onto these bots.

[2017-01-26 23:31] eseidelGoogle commented on #2449
We have not seen this since to my knowledge.

[2017-01-26 23:31] #2449 closed

[2017-01-26 23:32] eseidelGoogle commented on #2471
My understanding is `flutter test` works on Macs just fine these days. (FYI @cbracken @tvolkert)

[2017-01-26 23:32] #2471 closed

[2017-01-26 23:33] eseidelGoogle commented on #2515
Is this still an issue @apwilson?  The analyzer team has been working on performance improvements which may have made this obsolete?

[2017-01-26 23:34] eseidelGoogle commented on #2573
If we had this we could probably remove the stocks example.  Search is one of the few things which is still stocks-only (the other being a Settings page example).

[2017-01-26 23:35] eseidelGoogle commented on #2591
@abarth has an in-progress rewrite of flutter_markdown which may obsolete this.

[2017-01-26 23:36] Sfshaza commented on #7659
Thanks, Ian! Yes, because the example ran in the Simulator (no red screen of death), it didn't occur to me to look in IntelliJ's error messages.

[2017-01-26 23:36] eseidelGoogle commented on #2582
I'm not sure what to do here.  Xcode can take a while.  We could have a tools spinner I guess?

[2017-01-26 23:36] eseidelGoogle commented on #2651
Is this still the case?

[2017-01-26 23:38] Hixie commented on #2651
obsolete.

[2017-01-26 23:38] #2651 closed

[2017-01-26 23:39] Hixie commented on #2515
This is WONTFIX for Flutter. The long-term plan is to make `flutter analyze` a trivial wrapper at which point we'll just pipe everything through. cc @danrubel

[2017-01-26 23:39] #2515 closed

[2017-01-26 23:39] sethladd commented on #2582
A spinner would be helpful. Something to signal "we're working on it".

[2017-01-26 23:40] Sfshaza opened #7672 "Left border width ignored"
## Steps to Reproduce

In the attached code, I'm setting the left border width to 10.0, but it's displaying a hairline border.

## Code

[code]

## Flutter Doctor
[code]

[2017-01-26 23:41] Hixie commented on #7653
I haven't tried to figure out what's going on yet.

To reproduce, install the flutter SDK, edit your `bin/flutter` shell script to uncomment the FLUTTER_TOOL_ARGS line, go into `packages/flutter` or `examples/flutter_gallery`, and run `flutter test`.

[2017-01-26 23:43] eseidelGoogle commented on #2891
I'm not sure if this refers to:
https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/http/response.dart
or something else?

[2017-01-26 23:44] eseidelGoogle commented on #2958
@Hixie is this still an issue?  If so, we should probably move it to the dartdoc repo. :)

[2017-01-26 23:44] Hixie commented on #2163
Yes, this was dependent on first removing SizeObserver.

[2017-01-26 23:45] #7597 closed

[2017-01-26 23:47] Hixie commented on #2958
This is actually worse now because we only have the version that doesn't list the inheritance.

Filed https://github.com/dart-lang/dartdoc/issues/1334

[2017-01-26 23:47] #2958 closed

[2017-01-26 23:49] Hixie commented on #1816
This is about anyone putting a checkbox in a drawer.

[2017-01-26 23:49] eseidelGoogle commented on #3005
I'm not sure what this would mean.  This is from the `flutter create` template? or would this be with arbitrary pubspec.yaml files to make sure they're correctly compiled into app.flx files correctly?

[2017-01-26 23:49] Hixie commented on #1815
This isn't really about stocks, it's a framework issue.

[2017-01-26 23:50] eseidelGoogle commented on #2987
I don't think this is still an issue?  @chinmaygarde @cbracken.  Speculatively closing.

[2017-01-26 23:50] #2987 closed

[2017-01-26 23:50] eseidelGoogle commented on #3082
Weather is no longer with us.

[2017-01-26 23:50] #3082 closed

[2017-01-26 23:50] chinmaygarde commented on #2987
No. This is no longer an issue.

[2017-01-26 23:51] eseidelGoogle commented on #3123
@abarth has an in-progress rewrite of flutter_markdown which might have covered this.

[2017-01-26 23:51] eseidelGoogle commented on #3133
flutter_sprites is no longer in master.

[2017-01-26 23:51] #3133 closed

[2017-01-26 23:52] eseidelGoogle commented on #3169
mojo is gone.

[2017-01-26 23:52] #3169 closed

[2017-01-26 23:54] eseidelGoogle commented on #3085
Still an issue today.
![simulator screen shot jan 26 2017 3 53 49 pm](https://cloud.githubusercontent.com/assets/11857803/22355487/aa34629a-e3df-11e6-9eaf-6e45bbca2446.png)

[2017-01-26 23:55] eseidelGoogle commented on #3255
The behavior here will likely change some with @jakobr-google's work to move us on top of gradle.

[2017-01-26 23:56] eseidelGoogle commented on #3259
Does this affect API stability?

[2017-01-26 23:57] eseidelGoogle commented on #3270
I'm pretty sure this is already done?  In fact, I think @goderbauer even removed these from being downloaded twice yesterday? :D

[2017-01-26 23:57] chinmaygarde commented on #3259
No.

Also, that reminds me to land the patch I had stashed waiting for the Skia patch to stick.

[2017-01-26 23:59] chinmaygarde commented on #3270
This is definitely done. We can close the issue.

[2017-01-27 00:00] eseidelGoogle commented on #3338
I believe @jason-simmons fixed this last week?

[2017-01-27 00:00] eseidelGoogle commented on #3377
We have hot reload now. :)

[2017-01-27 00:00] #3377 closed

[2017-01-27 00:01] jason-simmons commented on #3338
Yes, this should be fixed now

[2017-01-27 00:01] #3338 closed

[2017-01-27 00:02] Hixie opened #7673 "Running flutter run twice in a row for iOS builds the app twice in a row"
We have a lot of code to figure out whether we need to rebuild the app or not when calling `flutter run`, but currently it seems to _always_ rebuild the app.

Steps to reproduce:
* Go to the gallery.
* `flutter run`
* ^C
* `flutter run`

[2017-01-27 00:03] LarkAscending opened #7674 "Add Troubleshooting Layout page"
Add a new page and start seeding content...

First topic (from discussion w/abarth):

I added a widget - why can't I see it when I click play?
a) Image: check path and filename
b) Image.network - check URL, cookie permission (see @Sfshaza )
c) All widgets - check size (by inspecting widget tree/parent) (by checking properties)
Widgets can have zero height and/or zero width because of how they size

[2017-01-27 00:34] emshack opened #7676 "Inconsistent Dart analyzer results with recent upgrade"
## Steps to Reproduce

I recently upgraded Flutter, and got my code working with the recent pubspec.yaml/flutter.yaml merge. However, I'm now seeing some very strange things coming out of the dart analyzer. From the "Dart Analysis" panel in IntelliJ, everything looks great and I'm not seeing any errors or warnings, including when I restart the Dart Analysis Server. However, re-analyzing my sources

[2017-01-27 00:42] #1685 closed

[2017-01-27 00:43] #7239 closed

[2017-01-27 01:04] Hixie commented on #7407
@HansMuller Looking at this, my first step towards debugging it would be to run the benchmarks under the profiler immediately before the suspect patch and immediately after the suspect patch to see what the difference is.

[2017-01-27 01:07] xster commented on #7593
Very brief research. But it seems like we can either:

1. Program it in via the the built-in `complete` and insert the various options one by one. We can potentially do it when building the flutter tool.
2. Somewhat a slight superset of 1 but let `complete` refer to a more complex shell function that's contextually smarter.
3. Contribute to some widely maintained 'framework' for completions like h

[2017-01-27 02:17] cbracken opened #7681 "Xcode compile warnings are not emitted during flutter build/run"
## Steps to Reproduce

1. Make a change in the project's AppDelegate.m that results in a compiler warning. e.g. mark the AppDelegate class as `+__attribute__((deprecated("foo")))` in AppDelegate.h
2. flutter build ios

The compiler warnings should be emitted to the stderr, but today are not displayed.

[2017-01-27 02:18] cbracken opened #7682 "Xcode build should treat warnings as errors by default"

[2017-01-27 02:23] cbracken opened #7683 "Delete FlutterAppDelegate"
`FlutterAppDelegate` was deprecated in flutter/engine#3371. We'll need to fix #7681 to surface that deprecation warning and eventually delete this class.

[2017-01-27 02:38] cbracken commented on #7683
Scheduled for deletion on 2017-02-09.

[2017-01-27 02:54] #5154 closed

[2017-01-27 05:38] abarth commented on #2073
No longer need to install services this way.

[2017-01-27 05:38] #2073 closed

[2017-01-27 05:40] abarth commented on #2214
Removed.

[2017-01-27 05:40] #2214 closed

[2017-01-27 05:41] abarth commented on #2253
We do this now.

[2017-01-27 05:41] #2253 closed

[2017-01-27 05:42] abarth commented on #2340
We do this now.

[2017-01-27 05:42] #2340 closed

[2017-01-27 05:45] abarth commented on #2366
Done.

[2017-01-27 05:45] #2366 closed

[2017-01-27 05:46] abarth commented on #2381
This is largely fixed.  If there are remaining issues, we should file more specific bugs.

[2017-01-27 05:46] #2381 closed

[2017-01-27 05:47] abarth commented on #2407
Not a thing anymore.

[2017-01-27 05:47] #2407 closed

[2017-01-27 05:47] abarth commented on #2423
Done.

[2017-01-27 05:47] #2423 closed

[2017-01-27 05:47] abarth commented on #2439
Done.

[2017-01-27 05:47] #2439 closed

[2017-01-27 05:48] abarth commented on #2444
Mimic not a thing anymore.

[2017-01-27 05:48] #2444 closed

[2017-01-27 05:48] abarth commented on #2460
Done.

[2017-01-27 05:48] #2460 closed

[2017-01-27 05:51] abarth commented on #2497
NetworkService is not a thing anymore.

[2017-01-27 05:51] #2497 closed

[2017-01-27 05:53] devoncarew commented on #7660
Interesting. Have you seen github gists? They're like little mini github git repos:

    https://gist.github.com/devoncarew/72d83fe97bfc8e735607

Sounds like you'd want a way to reference them in a dartdoc comment, and for some support to run them in a lightweight way in IntelliJ.

[2017-01-27 05:56] abarth commented on #2668
Not a thing anymore.

[2017-01-27 05:56] #2668 closed

[2017-01-27 05:57] abarth commented on #2715
The current thought is to use CustomSingleChildLayout rather than making dedicated widgets for each permutation.

[2017-01-27 05:57] #2715 closed

[2017-01-27 06:01] abarth commented on #2804
Moved to https://github.com/flutter/cassowary/issues/2

[2017-01-27 06:01] #2804 closed

[2017-01-27 06:02] abarth commented on #2808
mojom is not a thing anymore

[2017-01-27 06:02] #2808 closed

[2017-01-27 06:02] abarth commented on #2836
Current plan is to use CustomSingleChildLayout instead of building all these permutations as separate widgets.

[2017-01-27 06:02] #2836 closed

[2017-01-27 06:04] abarth commented on #2891
If this is an issue, it's with `package:http`

[2017-01-27 06:04] #2891 closed

[2017-01-27 06:14] devoncarew commented on #7654
Also +1 here. IntelliJ will need to exec the flutter script regularly (when starting a daemon to listen for devices, when running `flutter doctor`, each time a user runs as app). Having it have lower startup overhead is better.

If flutter were a powershell script, IntelliJ would need to run it as `powershell.exe flutter.ps1 ...` - starting powershell each time. A .bat file we could just execute d

[2017-01-27 07:27] Hixie opened #7692 "We should refactor 'flutter driver' to get the observatory port from the logs, like 'flutter run'"
Right now, there's a tight and brittle coupling between `flutter driver`, flutter_driver, and devicelab, where you have to carefully pass ports around and/or make sure to assume the same port will be used (!), otherwise you can't connect to the app.

Instead, we should have the place that launches the app scrape the port from the logs and pass it to the driver test, the same way that `flutter run`

[2017-01-27 07:36] Hixie commented on #5448
See also https://github.com/flutter/flutter/wiki/The-flutter-run-variants

[2017-01-27 09:03] #5448 closed

[2017-01-27 09:24] Hixie opened #7696 ""create project" and "create project with-driver-test" tests are VERY SLOW"
About 20 seconds and 45 seconds respectively on my home machine.

We really should speed these up, they make developing on flutter_tools a pain.

[2017-01-27 09:37] #7692 closed

[2017-01-27 09:56] Hixie opened #7699 "driver tests would be easier to debug if the logs had timestamps"
cc @yjbanov

[2017-01-27 10:02] Hixie opened #7700 "Crash while running tests"
While building master just now, Travis failed with this log: [log.txt](https://github.com/flutter/flutter/files/734892/log.txt)

The interesting part was:
[code]

I'm filing this for reference. I have no steps to reproduce.

[2017-01-27 10:03] Hixie commented on #7700
cc @jason-simmons No idea if you're able to get symbols somehow for this, that stack looks corrupt to me. But this seems to be the kind of bug you like, so... :-)

[2017-01-27 10:04] Hixie commented on #6809
Closing as obsolete as matt said.

[2017-01-27 10:04] #6809 closed

[2017-01-27 10:06] Hixie commented on #6812
Looks like this is in now, as microbenchmarks.stock_layout_iteration.

[2017-01-27 10:06] #6812 closed

[2017-01-27 10:07] Hixie commented on #6880
I think this is fixed now, right? The benchmark runs regularly. I'm marking this as closed. Please reopen if I'm wrong.

[2017-01-27 10:24] Hixie commented on #6880
Never mind, very much not fixed...

[2017-01-27 14:43] danrubel commented on #7593
I like auto-generating a tab complete shell script when building the flutter tool so that it stays in sync with flutter tool itself. Everything needed should already be in the flutter tool itself including text for auto generating the man pages.

When [implementing cmdline tab completion for fletch / dartio](https://github.com/dartino/sdk/commit/ee89048fc6f0e24fdd02431093bb1884f87997ea), I wanted

[2017-01-27 15:02] danrubel commented on #7676
Do you see these same warnings with `flutter analyze`?

There is a `.analysis_options_user` file in the flutter repo root that is not picked up by `dartanalyzer` and I'm wondering if this is the cause of what you are seeing.

[2017-01-27 15:44] eseidelGoogle commented on #7700
So this would be a crash in jitted dart code?  If we know the flutter version (and thus can get the vm version) it's possible one of the VM team could help us symbolicate.

[2017-01-27 15:46] eseidelGoogle commented on #7696
They don't do much:
https://github.com/flutter/flutter/tree/master/packages/flutter_tools/templates/create
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/commands/create.dart

I suspect any amount of profiling would tell us what's wrong.

[2017-01-27 16:46] HansMuller commented on #7660
That's correct. Ideally, if IntelliJ was already running, tapping such a project link would cause it to be opened in a new IntelliJ window, ready to run.

[2017-01-27 17:03] HansMuller commented on #1816
I found myself writing one of these just last week.
[code]

[2017-01-27 17:04] eseidelGoogle commented on #7696
Oh, sorry, @Hixie meant these tests:
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/test/create_test.dart#L34

[2017-01-27 17:09] eseidelGoogle commented on #7696
The create takes 2.4s, the analyze takes the rest.

[2017-01-27 17:11] HansMuller commented on #2025
Does `dart-fmt` DTRT with if then statements that lack curly braces?
[code]
I count over 9000 occurrences of this in our repo, about 1800 in packages/flutter.

[2017-01-27 17:33] Hixie commented on #2025
It does something that IMHO is less readable than our style. (removes the newline and wraps)

[2017-01-27 17:36] Hixie commented on #7700
according to the logs, it was the engine corresponding to the framework at hash 21434fcf1a0800f79a5872612887e30d8873e515

[2017-01-27 17:49] eseidelGoogle commented on #7700
That hash has:
https://github.com/flutter/flutter/blob/21434fcf1a0800f79a5872612887e30d8873e515/bin/internal/dart-sdk.version
1.22.0-dev.9.1

But nevermind.  It's a JIT crash, so there are no stable symbols even with that information. :(

[2017-01-27 18:16] krisgiesing commented on #3005
The latter. The (old) bug here was that the assets part of the manifest was generated incorrectly in some cases.

[2017-01-27 18:28] yjbanov commented on #2423
Yep. Done. We don't have a bloat diagram, but we do track the sizes of individual files produced by Dart's AOT compiler.

[2017-01-27 18:35] yjbanov commented on #2411
Almost: https://github.com/flutter/cocoon/issues/84

[2017-01-27 18:42] cbracken commented on #5446
Expected behaviour looks like a statusbar tap results in a scroll to top when the all of the following conditions are met:
1. The status bar is standard-height, not double-height. Taps on double-height status bars switch to the app that is causing the double-height bar.
2. Any tap occurs, whether part of a multi-touch gesture or a single-touch tap.

[2017-01-27 18:44] sethladd commented on #3031
Placed into Milestone 2 so we can eval if we're going to make this API change.

[2017-01-27 18:44] sethladd commented on #3032
@HansMuller is this on the radar at all? Curious if this needs a different milestone.

[2017-01-27 18:45] sethladd commented on #3033
This sounds like a bug, yes? What's the intended behavior?

[2017-01-27 18:45] emshack commented on #7676
No, I'm not seeing the same warnings. Should something in my project be configured differently?

[2017-01-27 18:46] sethladd commented on #3057
Do we still have use cases for this?

[2017-01-27 18:47] abarth commented on #3032
I don't think we need to track this in this issue tracker.  If this is needed for Fuchsia, it will come up again in that context.

[2017-01-27 18:47] #3032 closed

[2017-01-27 18:47] sethladd commented on #3071
@HansMuller you recently rewrote tabs? Would it have addressed this?

[2017-01-27 18:48] sethladd commented on #3091
Agreed, the font is very small and hard to read.

[2017-01-27 18:48] abarth commented on #3033
This class is now private, so these details aren't as important.

[2017-01-27 18:48] #3033 closed

[2017-01-27 18:48] LarkAscending opened #7702 "Write Firebase w/ Flutter codelab"
Write a codelab that shows users how to connect your Flutter UI to Firebase.
* Pick up from codelab that shows how to build the chat app UI in Flutter.
    * The chat app exists but doesn't work yet.
* Use [this existing codelab](https://codelabs.developers.google.com/codelabs/firebase-android) as a template...

[2017-01-27 18:50] apwilson opened #7703 "Poor messaging for assert when getting local coordinates of RenderBox: 'package:flutter/src/rendering/box.dart': Failed assertion: line 1342"
[code]

[2017-01-27 18:50] danrubel commented on #7676
Nope. That's a bug on my plate to normalize the output between `flutter analyze`, `dartanalyzer`, and analysis server. I'm making progress but there are several changes I need to land before the work is complete. For now, rely on `flutter analyze`.

[2017-01-27 18:52] abarth commented on #7703
`PanelDragTargetsState.build` is calling `RenderBox.globalToLocal` during its build, which is not legit.  The positions of objects haven't been determined yet at the time build is called.

[2017-01-27 18:55] LarkAscending opened #7704 "Write Building UIs in Flutter codelab"
Write a codelab that shows users how to build a Flutter UI.
* Code the UI for a chat app
* The app doesn't work yet.
* Leads to Firebase codelab...see https://github.com/flutter/flutter/issues/7702

[2017-01-27 18:59] emshack commented on #7676
Ok, thanks! Please let me know when the changes are in.

[2017-01-27 19:01] sethladd commented on #6575
I'm going to close this because we don't have a specific use case for this. I'm guessing we'll probably do this at some point. So I'd like to reopen with a concrete use case when ready.

[2017-01-27 19:01] #6575 closed

[2017-01-27 19:05] HansMuller commented on #3071
This has been fixed.

[2017-01-27 19:05] #3071 closed

[2017-01-27 19:07] eseidelGoogle commented on #7676
@emshack was this a regression?  @danrubel is there a bug @emshack can track?

[2017-01-27 19:11] apwilson commented on #7703
Okay. The assert should say as much rather than directing me to file an issue.

[2017-01-27 19:12] apwilson commented on #7703
ie. "You are attempting to access the size and/or position of a RenderBox during the build phase.  You can't do that."

[2017-01-27 19:20] emshack commented on #7676
Not sure what you mean-- this bug occurred after I updated Flutter, I had never seen these errors before.

[2017-01-27 19:24] eseidelGoogle commented on #3244
I'm going to assume this is no longer happening or we would hear about it from our customers.  Please feel encouraged to re-open if that's not true!

[2017-01-27 19:24] #3244 closed

[2017-01-27 19:26] eseidelGoogle commented on #3317
FYI @nex3 (no action required, just in case you're curious).

[2017-01-27 19:27] eseidelGoogle commented on #3331
This may also relate to https://github.com/flutter/flutter/issues/7459.

[2017-01-27 19:28] eseidelGoogle commented on #3372
FYI @jakobr-google @mit-mit, in case you feel this relates to your current Gradle work.

[2017-01-27 19:29] eseidelGoogle commented on #3396
Seems dependent on https://github.com/flutter/flutter/issues/1220.

[2017-01-27 19:30] eseidelGoogle commented on #3415
This would be if IntelliJ wants to display it.

[2017-01-27 19:31] eseidelGoogle commented on #3429
This should be a very easy change.  I think we already have some code in flutter_tools to detect the bot environment to disable analytics if nothing else.

[2017-01-27 19:32] eseidelGoogle commented on #3438
Unsure if this is still an issue, and if it affects API stability?

[2017-01-27 19:33] eseidelGoogle commented on #3449
I believe this was specific to Atom, and is likely now covered by other checks in IntelliJ?  Speculatively closing. FYI @pq (devon already cc'd too).

[2017-01-27 19:33] #3449 closed

[2017-01-27 19:35] devoncarew commented on #3415
Yes, we would like to display this. When we discussed this previously the main issue that was brought up was that there was no concept of a single navigator.

[2017-01-27 19:41] sethladd opened #7706 "Flat buttons in Gallery don't have rounded corners"
Open the gallery, go into buttons, select the Flat tab. Press and hold on the flat button.

Expected: the button should have rounded corners, like Raised button.

Actual: flat button has square corners.

(From a review by material team)

[2017-01-27 19:42] sethladd commented on #5231
Any updates on this one?

[2017-01-27 19:49] chinmaygarde commented on #5231
I have been prototyping a fix based on [this comment](https://bugs.chromium.org/p/skia/issues/detail?id=5974#c6) in the linked ticket. Was busy with Vulkan on Fuchsia for the past few weeks so was not able to wrap it up. But I am done with Vulkan for now. Will give you another update when I make progress here.

[2017-01-27 19:58] HansMuller commented on #5665
Fixed by https://github.com/flutter/flutter/pull/7568

[2017-01-27 19:58] #5665 closed

[2017-01-27 20:52] eseidelGoogle commented on #3462
Doesn't travis auto-condense logs?  Or maybe there is some markers we could spit out in travis-mode to help it?  (I searched around briefly, all I found was https://github.com/travis-ci/travis-ci/issues/1337)

Is this still an issue worth tracking @Hixie?

[2017-01-27 20:56] eseidelGoogle commented on #3498
Leaks turn into crashes, so if true this would block folks trying to ship.

[2017-01-27 20:58] eseidelGoogle commented on #3529
This should be possible today.

[2017-01-27 21:00] eseidelGoogle commented on #3577
Dragos implemented one of these.  Probably needs tweaks still, but it exists.
https://github.com/flutter/flutter/blob/master/examples/flutter_gallery/lib/demo/bottom_navigation_demo.dart

[2017-01-27 21:00] #3577 closed

[2017-01-27 21:00] eseidelGoogle commented on #3581
This is being replaced by fixing https://github.com/dart-lang/http/issues/1 which I'm promised will be this quarter.

[2017-01-27 21:00] #3581 closed

[2017-01-27 21:01] eseidelGoogle commented on #3586
We only have master now.  I think we can close this and re-open later if needed.

[2017-01-27 21:01] #3586 closed

[2017-01-27 21:01] eseidelGoogle commented on #3596
We've removed alpha for now.

[2017-01-27 21:01] #3596 closed

[2017-01-27 21:02] eseidelGoogle commented on #3609
We have some of this for `flutter packages get`.  Unclear if we still need the general `flutter dart`?

[2017-01-27 21:02] eseidelGoogle commented on #3602
FYI @mit-mit we probably want to expand hello_services to be a bit more sophisticated like this over time.

[2017-01-27 21:03] eseidelGoogle commented on #3604
Do we do this now?  @yjbanov

[2017-01-27 21:14] sethladd commented on #3602
We hope to see more full examples and samples over time. I'm going to close this but yes, we're working towards allowing you to build this sample. The interop/plugins/services work is cranking along. Thanks for your feedback and interest!

[2017-01-27 21:14] #3602 closed

[2017-01-27 21:16] sethladd commented on #3609
The risk is that a user may have multiple versions of Dart, and may be running their tests in a Dart that isn't the same Dart as Flutter has. But, even if we had a `flutter dart` the user could still accidentally run the wrong Dart.

I'll close this for now.

[2017-01-27 21:16] #3609 closed

[2017-01-27 21:22] sethladd opened #7708 "Ripple animations on buttons have ~2 frames on Pixel XL (just looks like two circles)"
(from a review from our material design team)

Ripple animations on buttons have ~2 frames on Pixel XL (just looks like two circles)

[2017-01-27 21:24] yjbanov commented on #3604
Yep.

[2017-01-27 21:24] #3604 closed

[2017-01-27 21:27] sethladd commented on #5203
This came up in a review from our material design team.

[2017-01-27 21:28] sethladd commented on #5526
I think we can close this.

[2017-01-27 21:28] #5526 closed

[2017-01-27 21:32] sethladd opened #7709 "Pesto: Image persists on a higher layer than the toolbar when contracting down"
(from a material design review)

Open Gallery, Open pesto. Tap a recipe. Then, tap back.

Expected: the image of the recipe should be below the toolbar.

Actual: Image persists on a higher layer than the toolbar when contracting down

[2017-01-27 21:50] devoncarew opened #7710 "offer some proscriptive docs for configuring IntelliJ"
Either on the wiki or flutter.io, have some documentation on some best practices for configuring IntelliJ for a light-weight experience.

[2017-01-27 22:05] sethladd commented on #7044
See also this thread: https://groups.google.com/forum/#!topic/flutter-dev/9pXaZ4p7SIM

[2017-01-27 22:07] sethladd commented on #7710
Started with https://github.com/flutter/flutter/wiki/IntelliJ---Flutter-Setup-Tips-and-Tricks, needs images.

[2017-01-27 22:15] Hixie commented on #3462
I'd still love to see this fixed. Presumably it's easy to do, but how? I'm happy to do it I just don't know where to start.

[2017-01-27 22:34] HansMuller opened #7711 "IntelliJ text doesn't look great on Linux by default"
This is the default appearance of IJ on Linux. It looks like the typewriter ribbon is wearing out :-)

![ig](https://cloud.githubusercontent.com/assets/1377460/22389945/2d8211ca-e49d-11e6-9a9a-97cec95e114b.png)

The other themes (GTK and Darcula) don't seem to be much better vis rendering text.  This is the same code rendered by emacs using the default text settings:

![emacs](https://cloud.github

[2017-01-27 23:03] #7672 closed

[2017-01-27 23:36] goderbauer opened #7714 "Unicode characters don't display on Windows"
As discussed in https://github.com/flutter/flutter/pull/7713: There is no good way to display Unicode characters in the terminal in Windows.

Workaround idea: Implement a WindowsTerminal that filters out Unicode and says supportsColor=false and suchlike.

[2017-01-27 23:39] Hixie commented on #3429
I fixed this yesterday.

[2017-01-27 23:39] #3429 closed

[2017-01-27 23:46] jimbeveridge opened #7715 "CachingAssetBundle._fetchString gives poor error message"
Ian asked me to report this bug. Loading the asset from the .flx file appears to be failing. It would be good if we were given the asset string whose load failed.

## Logs

[code]

[2017-01-28 00:58] nex3 commented on #3317
We generally discourage wrapping the `test()` function, since it means you won't get any new named arguments that are added in the future.

For the driver, you can use the new [`addTearDown()`](http://blog.sass-lang.com/posts/809572-sass-35-release-candidate) function to clean up that logic:

[code]

[2017-01-28 01:10] eseidelGoogle commented on #7715
Likely related to/dupe of https://github.com/flutter/flutter/issues/7115 ?

[2017-01-28 01:13] eseidelGoogle commented on #7711
@devoncarew or @pq might know.

[2017-01-28 01:24] a-siva commented on #7700
Is there a way to turn on collecting of coredumps in these Travis test runs. We would need the coredump and corresponding flutter engine executable to be able to debug it.

[2017-01-28 02:16] johnmccutchan commented on #3057
It would be really handy for engine development / debugging. No good use cases for Flutter app developers.

[2017-01-28 02:35] Hixie commented on #3057
We have to be really careful with how we implement this. it would have to be something built into the apk, not an argument to the executable, so that random apps can't trigger us with settings that open up potential security holes.

[2017-01-28 04:54] abarth commented on #7714
@Hixie , who added a bunch of our pretty unicode.

We probably need to replace the unicode we strip out with something (rather than just filtering it).  Otherwise, the tree dumps won't align vertically correctly.

[2017-01-28 05:27] Hixie commented on #7714
Yeah, we talked about it in person. The plan is to replace most Unicode with space characters and some line drawing characters with appropriate boring ASCII characters.

[2017-01-28 07:12] #7654 closed

[2017-01-28 09:01] Hixie commented on #6880
I looked into this. It's happening because we're ending up in a build phase from layout without ever setting up a build scope. It's not unexpected. The only layout builder I saw saw for an appbar, so this might resolve itself when we port appbars.

[2017-01-28 09:06] Hixie commented on #2991
Done.

[2017-01-28 09:06] #2991 closed

[2017-01-28 09:09] Hixie commented on #3006
On the short term we should probably just expose this the framework via hooks in dart:ui, similar to onBeginFrame. That would let us implement `Cache` (see #3568) which would solve the problems at the framework layer. We'd presumably also need to pipe this to the GC logic and any caches and buffers in the engine itself.

[2017-01-28 09:12] Hixie commented on #3031
This is just a code health issue, doesn't affect devs. Moving to no-milestone bucket.

[2017-01-28 09:13] Hixie commented on #3043
I don't plan on doing this any time soon. Please let us know if it is a priority.

[2017-01-28 09:14] Hixie commented on #3057
I recommend WONTFIX because of the risk of implementing this in a dangerous fashion, and because we already have a really complicated `flutter run` setup.

[2017-01-28 09:14] Hixie commented on #3074
@HansMuller Did this get fixed by your recent work?

[2017-01-28 09:25] Hixie commented on #3190
I am closing this on the basis that I cannot support the claim presented, as noted above.

[2017-01-28 09:25] #3190 closed

[2017-01-28 09:26] Hixie commented on #3173
Is the problem here that there's no way to pick a device, unlike `flutter run`? I thought they shared that code.

[2017-01-28 09:27] Hixie commented on #3172
Is this still an issue? I haven't heard people complain about it...

[2017-01-28 09:31] Hixie commented on #3086
In the example in the spec the label text itself goes red, then just the asterisk goes red, and I couldn't figure out the logic there.

[2017-01-28 09:33] Hixie commented on #3085
In the example in the spec the label text itself goes red, then just the asterisk goes red, and I couldn't figure out the logic there. But other than that, I fixed it.

[2017-01-28 09:48] #3085 closed

[2017-01-28 10:30] Hixie commented on #3115
Done.

[2017-01-28 10:30] #3115 closed

[2017-01-28 10:30] Hixie commented on #3116
They do now.

[2017-01-28 10:30] #3116 closed

[2017-01-28 10:34] Hixie commented on #3187
This looks fine to me now.

[2017-01-28 10:34] #3187 closed

[2017-01-28 10:37] Hixie commented on #3631
All fixed.

[2017-01-28 10:37] #3631 closed

[2017-01-28 10:38] Hixie commented on #3633
As I understand it, Adam's proposed fix landed which addresses this bug. Closing.

@cooler-king, @krisgiesing, @abarth: please reopen if I'm wrong about this being resolved.

[2017-01-28 10:38] #3633 closed

[2017-01-28 10:41] Hixie commented on #3673
We have a demo of drag and drop outside the gallery. Is there a compelling reason to add one to the gallery at this time?

I'm going to close this for now. Please re-open if there's a particular customer need for this.

[2017-01-28 10:41] #3673 closed

[2017-01-28 10:42] Hixie commented on #3678
Moving this to API stability so we can make a determination of what to do. It might just be docs improvements and/or no change, though.

[2017-01-28 10:44] Hixie commented on #3685
--engine-release and --profile are mutually exclusive. This was working as intended. The arguments have changed since then though so this is moot.

[2017-01-28 10:44] #3685 closed

[2017-01-28 10:44] Hixie commented on #3686
I'm working on something like this but I don't need a bug to track it.

[2017-01-28 10:44] #3686 closed

[2017-01-28 10:46] Hixie commented on #3691
We need this before beta for sure!

[2017-01-28 10:52] Hixie commented on #3632
never mind. It's giving us a few extra milliseconds to get the first frame ready. It seems reasonable.

[2017-01-28 10:52] #3632 closed

[2017-01-28 11:02] Hixie commented on #3638
This was fixed.

[2017-01-28 11:02] #3638 closed

[2017-01-28 11:03] Hixie commented on #3656
If we're going to do this, we should do it. If we think this split makes sense for documentation purposes, let's close the bug.

[2017-01-28 11:04] Hixie commented on #3708
@abarth Is this still something you're looking at, or should we close this until we run into an actual issue?

[2017-01-28 12:59] Sfshaza opened #7721 "Bulleted lists use double spacing - takes too much vertical space"
Bulleted lists, whether created using HTML &lt;ul>&lt;/ul> tags or markdown asterisks, gobble up too much vertical space.

For example, the following table of contents takes up almost a full screen on my laptop:

<img width="301" alt="screen shot 2017-01-28 at 4 45 43 am" src="https://cloud.githubusercontent.com/assets/6293442/22396756/4368be2a-e516-11e6-954b-68bd100c620d.png">

[2017-01-28 17:51] sethladd commented on #3172
We have another issue which asks for a spinner here, displaying while we
are going to into the simulator for the first time. That might be
sufficient for now.

On Sat, Jan 28, 2017, 1:27 AM Ian Hickson <notifications@github.com> wrote:

[2017-01-28 19:21] Sfshaza opened #7722 "Search box on docs.flutter.io doesn't always behave as expected"
Go to docs.flutter.io and enter into the search text field:

1. "grid"
   I expect the results to include the most critical grid widgets: MaxTileWidthGrid and FixedColumnCountGrid. Because it did not list either of those, I didn't think that grid widgets existed. It only matches objects that begin with "Grid". (Adam disabused me of this notion on my doc plan. Also, I question whether these widgets

[2017-01-28 20:14] abarth commented on #3708
Let's close this issue.  We did culling instead, and that seems to have addressed the cases that were causing us trouble.

[2017-01-28 20:14] #3708 closed

[2017-01-28 20:22] Hixie commented on #3748
This is fixed now. I considered making a constructor that just takes a list of the options and builds the mask for you but we always just use allEnabled so there's not much point.

[2017-01-28 20:22] #3748 closed

[2017-01-28 20:24] Hixie commented on #3753
I'm going to WONTFIX this. We are happy with our composition approach and in practice this hasn't been a particularly notable pain point.

[2017-01-28 20:24] #3753 closed

[2017-01-28 20:24] Hixie commented on #3754
Looks like we do do this now.

[2017-01-28 20:24] #3754 closed

[2017-01-28 20:25] Hixie commented on #3756
We should make sure we do demo this somewhere, if nothing else just to prove it can be done.

[2017-01-28 20:29] Hixie commented on #3764
Since this bug was filed we added a ListItem class that does this pattern, and have pointed to it all over the place. As far as what exact pattern to recommend, all the ones discussed above are equally valid. I don't know what we could say in the docs to resolve this. I'm going to close this bug on the basis that it's not sufficiently actionable. I expect we'll answer the philosophical points here

[2017-01-28 20:29] #3764 closed

[2017-01-28 22:24] #3161 closed

[2017-01-28 22:26] #3101 closed

[2017-01-28 23:09] Hixie opened #7723 "Merge lineCount and maxLines in ParagraphStyle and ParagraphBuilder"
cc @jason-simmons who might enjoy an easy fix for once :-)

[2017-01-28 23:20] Hixie opened #7724 "We don't seem to honour paragraph font sizes?"
I don't understand why, but the following ends up with a 14x14 box (14 being the hard-coded `defaultFontSize`). It should end up with a 100x100 box.

[code]

To enable the Ahem font, apply this (I'm going to land something similar to this soon so it may be on already):

[code]

[2017-01-28 23:29] Hixie commented on #7649
I just saw this on my home machine. Got to the hundredth test, and it started timing out.

[2017-01-28 23:39] tvolkert commented on #7649
This is probably the same flaky failure we're seeing internally on Google's test infrastructure as well.

[2017-01-28 23:57] Hixie commented on #3770
This seems to be a dupe of https://github.com/flutter/flutter/issues/3696, so I'm closing it as such. Please reopen if I misunderstood.

[2017-01-29 00:00] Hixie commented on #3860
I don't really know what to document or where to document it, so in the absence of something more actionable, I'm going to close this.

[2017-01-29 00:00] #3860 closed

[2017-01-29 00:01] Hixie commented on #3854
This is obsolete now.

[2017-01-29 00:01] #3854 closed

[2017-01-29 00:03] Hixie commented on #3852
The flx package is gone.

[2017-01-29 00:03] #3852 closed

[2017-01-29 00:04] Hixie commented on #3848
Done

[2017-01-29 00:04] #3848 closed

[2017-01-29 00:04] Hixie commented on #3847
Are long times building for iOS still an issue? Do we show a spinner?

[2017-01-29 00:06] Hixie commented on #3846
The documentation does say that this is what it does. I'm going to close this Working As Intended. If you had a particular other resolution in mind instead let me know.

[2017-01-29 00:06] #3846 closed

[2017-01-29 00:07] Hixie commented on #3845
Seems like this hasn't been that much of an issue in practice, so I'm WONTFIXing it. Please reopen if you still think it's a good idea.

[2017-01-29 00:07] #3845 closed

[2017-01-29 00:08] Hixie commented on #3827
Searching for [modes] or [release] on the web site still doesn't bring up anything interesting.

[2017-01-29 00:10] Hixie commented on #3826
I think this is a bug in `curl`, I don't know what we can do about it. Do you still see it anywhere other than bots? (Bots are probably handling the \r wrong.)

Moving to conference milestone because if we do anything that's when we should do it by. But I think we might just want to close this if we're not seeing it anymore.

[2017-01-29 00:15] Hixie commented on #3813
In `android/android_device.dart` there's a TODO that says:
[code]
...which seems relevant here.

[2017-01-29 00:15] Hixie commented on #3786
We have one now right?

[2017-01-29 00:16] Hixie commented on #3784
Seth, do you still need this?

[2017-01-29 00:19] Hixie commented on #3783
I think we should just go with option 1 for now. You can use `where` to allow nulls if you want:

[code]

[2017-01-29 00:19] #3783 closed

[2017-01-29 00:22] Hixie commented on #3777
We have a UserAccountsDrawerHeader, though we don't yet do the switching animation IIRC.

Is this bug about connecting that up to actual system-provided accounts, or just about the widget?

Moving to milestone 4 for now, but maybe should just be closed.

[2017-01-29 00:24] Hixie commented on #3876
Flutter refresh is no longer a thing.

[2017-01-29 00:24] #3876 closed

[2017-01-29 00:24] Hixie commented on #3877
We do now catch this kind of thing.

[2017-01-29 00:24] #3877 closed

[2017-01-29 00:25] Hixie commented on #3887
@jimbeveridge I'm closing this since you never responded to Adam's question about what exactly you wanted, but please don't hesitate to reopen if it's still an issue.

[2017-01-29 00:25] #3887 closed

[2017-01-29 00:29] #3107 closed

[2017-01-29 00:30] Hixie commented on #3893
I think this is done now, right?

[2017-01-29 00:30] #3893 closed

[2017-01-29 00:30] Hixie commented on #3904
@chinmaygarde Is this resolved now?

[2017-01-29 00:32] Hixie commented on #3906
This hasn't been that much of an issue. I'm going to close it. If we have examples of developers having problems we can reopen it.

[2017-01-29 00:32] #3906 closed

[2017-01-29 00:41] Hixie commented on #3740
This was fixed by https://github.com/flutter/flutter/pull/5444

[2017-01-29 00:41] #3740 closed

[2017-01-29 00:45] pq commented on #7711
Hmmmm....  @alexander-doroshko ?

[2017-01-29 00:50] Hixie commented on #240
The issues being discussed here are mostly obsolete now.

[2017-01-29 00:50] #240 closed

[2017-01-29 00:50] Hixie commented on #796
I think the tutorial discussed here is obsolete now, right? Closing. Please reopen if this is still an issue.

[2017-01-29 00:50] #796 closed

[2017-01-29 00:51] Hixie commented on #976
We have detailed docs on how to handle assets now.

[2017-01-29 00:51] #976 closed

[2017-01-29 00:52] Hixie commented on #1002
StatefulWidget and co have detailed docs now.

[2017-01-29 00:52] #1002 closed

[2017-01-29 00:53] Hixie commented on #1322
We have many demos of animations now, and a whole guide: https://flutter.io/animations/

[2017-01-29 00:53] #1322 closed

[2017-01-29 00:59] Hixie commented on #1435
This is already well documented for Dart in general (just google "dart http"). I think we can wait for a stackoverflow question before worrying about it.

[2017-01-29 00:59] #1435 closed

[2017-01-29 01:00] Hixie commented on #1438
We have dartdocs for some of this now. I don't think we need a bug to further track the issue.

[2017-01-29 01:00] #1438 closed

[2017-01-29 01:00] Hixie commented on #1450
This is obsolete now, right?

[2017-01-29 01:00] #1450 closed

[2017-01-29 01:01] Hixie commented on #1455
I don't think we need a bug to track this. It'll be handled by addressing feedback we receive and as a natural result of developing documentation for our plugin work over time.

[2017-01-29 01:01] #1455 closed

[2017-01-29 01:04] Hixie commented on #2112
I'm going to close this on the basis that we don't know which links this referred to and we'll fix them as we find them.

[2017-01-29 01:04] #2112 closed

[2017-01-29 01:05] Hixie commented on #2197
Atom isn't supported any more.

[2017-01-29 01:05] #2197 closed

[2017-01-29 01:15] Hixie commented on #2841
I'm doing this (but without backticks).

[2017-01-29 01:15] #2841 closed

[2017-01-29 01:17] Hixie commented on #7301
Done

[2017-01-29 01:17] #7301 closed

[2017-01-29 01:20] Hixie commented on #7318
The doc part will go in a patch soon.

[2017-01-29 01:21] Hixie commented on #7484
Fixed

[2017-01-29 01:21] #7484 closed

[2017-01-29 01:22] Hixie commented on #7540
I did a pass over these docs the other day, including adding a link as suggested above. Please file new bugs with more specific questions you'd like answered in the docs if it's still too sparse.

[2017-01-29 01:22] #7540 closed

[2017-01-29 01:33] Hixie commented on #7231
Not really sure what you want here. I've added this to canUpdate:

[code]

[2017-01-29 01:39] Hixie commented on #3928
Also, maybe just only keep the last N log files. If you get to N=2914, then clearly the user doesn't care.

[2017-01-29 04:44] eukreign commented on #6040
Was just having the same problem and installing `lib32stdc++6` fixed the issue. Is there a way that `flutter doctor` could check this maybe?

[2017-01-29 05:27] abarth commented on #3786
Yes.

[2017-01-29 05:27] #3786 closed

[2017-01-29 05:47] eseidelGoogle commented on #6040
https://github.com/flutter/flutter/issues/6207 is about having `flutter doctor` discover this I believe.

[2017-01-29 05:48] eseidelGoogle commented on #6207
https://github.com/flutter/flutter/issues/6040 was another report of this.  So I guess that's 4 reports of this mis-configuration on linux?  (That's shockingly high if true.)

[2017-01-29 07:47] alexander-doroshko commented on #7711
@HansMuller What Linux version and monitor resolution? Please paste contents of IntelliJ's Help | About.

[2017-01-30 00:18] chinmaygarde commented on #3904
We have the --no-redirect-to-syslog but the default is to redirect. So unless the custom embedded know to add that to the startup arguments, redirection will be enabled. We need to flip the default so that the tools enable redirection when they launch the application.

[2017-01-30 00:20] chinmaygarde commented on #3847
They should be about as long as Android now for both Debug and release configurations. When this bug was filed, the Xcode project had to be fetched and setup before the precompiler could do its thing (which often took a long time).

[2017-01-30 00:53] Hixie commented on #3847
Ok I'm going to close this then.

[2017-01-30 00:53] #3847 closed

[2017-01-30 02:15] Hixie commented on #3984
i think we have this now.

[2017-01-30 02:15] #3984 closed

[2017-01-30 02:33] Hixie commented on #3985
This seems to be done too.

[2017-01-30 02:33] #3985 closed

[2017-01-30 02:36] Hixie commented on #3991
As far as I can tell this is resolved now. We wrap pub pretty tightly so people won't be running pub get all the time, and as far as I'm aware we don't create packages directories any more.

[2017-01-30 02:36] #3991 closed

[2017-01-30 02:37] Hixie commented on #3993
What about when making it 12pt makes it only take one line?

[2017-01-30 02:43] Hixie commented on #4066
Atom is no longer our preferred editor.

[2017-01-30 02:43] #4066 closed

[2017-01-30 02:51] Hixie commented on #4074
I'm guessing what's going on is that we're reading the stdin pipe in a way that doesn't work with line-orientated buffering.

[2017-01-30 03:02] Hixie commented on #4098
dupe of https://github.com/flutter/flutter/issues/4080

[2017-01-30 03:02] #4098 closed

[2017-01-30 03:04] Hixie commented on #4111
dupe of https://github.com/flutter/flutter/issues/3696

[2017-01-30 03:04] #4111 closed

[2017-01-30 03:06] Hixie commented on #4119
I believe we found a workaround to this (just leave it running, IIRC).

[2017-01-30 03:06] #4119 closed

[2017-01-30 03:40] Hixie commented on #4128
I'm going to close this because it's not really actionable in its current state, but we should definitely keep thinking about this (as we do anyway) and if we come up with a concrete idea for doing this, file a new bug to track it.

[2017-01-30 03:40] #4128 closed

[2017-01-30 03:51] Hixie commented on #4151
We should decide what we're doing about this, if anything, in the milestone 3 timeframe.

[2017-01-30 04:09] Hixie commented on #4155
We've done this in some places, but we could definitely do a better job. And we still don't have anything for how to implement one of these, as far as I know. This would be a good thing to do since `.of()` functions are so frequently used.

[2017-01-30 04:39] Hixie commented on #4157
This is presumably handled now since we allow people to do whatever they want in Java/ObjC code.

[2017-01-30 04:39] #4157 closed

[2017-01-30 04:40] Hixie commented on #4158
I haven't seen this in a long time, so I'm going to close this as resolved. Please reopen if you still see it.

[2017-01-30 04:40] #4158 closed

[2017-01-30 04:42] Hixie commented on #4164
dupe of https://github.com/flutter/flutter/issues/4508

[2017-01-30 04:42] #4164 closed

[2017-01-30 04:43] Hixie commented on #4165
Dupe of https://github.com/flutter/flutter/issues/4508

[2017-01-30 04:43] #4165 closed

[2017-01-30 05:08] Hixie commented on #4174
probably to be done as part of https://github.com/flutter/flutter/issues/4021

[2017-01-30 05:23] Hixie commented on #4227
Atom -> WONTFIX

[2017-01-30 05:23] #4227 closed

[2017-01-30 05:32] Hixie commented on #4240
@abarth You may have an opinion on this one.

[2017-01-30 05:33] abarth commented on #4240
I think the current approach has actually worked out pretty well.  IMHO, we should stick with it.

[2017-01-30 05:33] #4240 closed

[2017-01-30 05:36] chinmaygarde commented on #4151
The temporary files are now in `build/`. This is also where we put build artifacts for Android, FLX archives etc..

[2017-01-30 05:36] #4151 closed

[2017-01-30 05:41] jtrunick opened #7728 "iOS images display incorrectly w/services implementation"
Works fine on Android

## Steps to Reproduce

new DrawerItem(icon: new Image.asset('assets/icon.png'),
The icon I'm using is 152x152 I suspect some particular size might work?

## Logs

## Flutter Doctor

[✓] Flutter (on Mac OS, channel master)
    • Flutter at /Users/joel/dev_3rd/flutter
    • Framework revision 4bec9cd940 (6 days ago),
    • Engine revision adef37080f
    • Tools Dart version 1.

[2017-01-30 05:54] Hixie commented on #4251
dupe of https://github.com/flutter/flutter/issues/4251

[2017-01-30 05:54] #4251 closed

[2017-01-30 06:04] Hixie commented on #4296
This is a bigish project for someone once we do it, and with so much on our near-term plate, I think we should wait until it's really an issue.

[2017-01-30 06:05] Hixie commented on #4325
We have `flutter build clean` for the build artifacts.

[2017-01-30 06:10] Hixie commented on #4361
If we're still using Firebase by milestone 3, then we should fix this. Otherwise it is probably obsolete.

[2017-01-30 06:11] Hixie commented on #4384
If we're going to do something here, it should be by milestone 3. Otherwise let's close it.

[2017-01-30 06:14] Hixie commented on #4387
Closing in favour of https://github.com/flutter/flutter/issues/7274

[2017-01-30 06:14] #4387 closed

[2017-01-30 06:20] Hixie commented on #4413
I'm going to close this. We've worked around this in the one place we've run into it, and the asserts are hugely valuable so I'd rather not change them. If you think we should do something here don't hesitate to reopen it.

[2017-01-30 06:20] #4413 closed

[2017-01-30 06:30] Hixie commented on #4455
This has become a more general problem, so duping to https://github.com/flutter/flutter/issues/7673

[2017-01-30 06:30] #4455 closed

[2017-01-30 06:30] Hixie commented on #7673
When fixing this, ensure it is fixed for all modes (--release, --profile) and add a test for it.

[2017-01-30 06:32] #4475 closed

[2017-01-30 06:36] Hixie commented on #4497
Closing in favour of the more concrete #5185.

[2017-01-30 06:36] #4497 closed

[2017-01-30 06:38] Hixie commented on #4518
Closing since Scaffold does this as far as I can tell.

[2017-01-30 06:38] #4518 closed

[2017-01-30 06:40] Hixie commented on #4519
looks like i added docs to this effect already at some point.

[2017-01-30 06:40] #4519 closed

[2017-01-30 06:41] Hixie commented on #4520
This is done now.

[2017-01-30 06:41] #4520 closed

[2017-01-30 06:43] Hixie commented on #4562
I'm going to close this because in our experience checking equality of widgets would be expensive since you'd be walking a tree. But please follow the aforementioned Dart bug if you want to implement this anyway in your code.

[2017-01-30 06:43] #4562 closed

[2017-01-30 06:46] Hixie commented on #4569
This is fixed now, as far as I can tell from looking at the code.

[2017-01-30 06:46] #4569 closed

[2017-01-30 06:46] Hixie commented on #4565
DrawerHeader does intentionally grow its children to a particular size, but that's because it has a size. You can still Align or Center the children as you wish.

Closing, working as intended.

[2017-01-30 06:46] #4565 closed

[2017-01-30 06:47] Hixie commented on #4566
Not sure what we can do to make this clearer, so I'm going to close this for now. If you have any concrete ideas for how to make this more intuitive, please don't hesitate to file a new bug.

[2017-01-30 06:47] #4566 closed

[2017-01-30 06:55] Hixie commented on #4615
I don't understand what this bug means.

[2017-01-30 07:13] Hixie commented on #4642
I did all of Widgets. Still need to do material/.

[2017-01-30 07:43] #4620 closed

[2017-01-30 07:43] Hixie commented on #4642
https://github.com/flutter/flutter/pull/7730 https://github.com/flutter/flutter/pull/7732

[2017-01-30 07:43] #4642 closed

[2017-01-30 07:46] Hixie commented on #4676
The document above isn't publicly visible.

[2017-01-30 08:21] abarth commented on #7728
Can you tell if the asset is present in your application?  For example, if you use `await rootBundle.load('assets/icon.png')`, do you get back a reasonable amount of data?

https://docs.flutter.io/flutter/services/AssetBundle/load.html

[2017-01-30 14:18] mit-mit commented on #3372
Does this now track the ability to debug from IntelliJ a hello_services style project?

[2017-01-30 14:53] devoncarew commented on #3372
Yes, I think this should track making sure debugging works with hello_services style projects; I updated the title.

[2017-01-30 15:06] devoncarew commented on #4384
We should re-evaluate this with the new analysis driver. That's on by default now in master - flutter will see it with the next dev sdk roll.

[2017-01-30 16:25] eseidelGoogle commented on #4227
This is unlikely to be an Atom specific issue.  But I agree we can/should close this and re-open if it's still occurring.

IntelliJ is now our main supported IDE, with the Atom Flutter plugin (still in use by many but) being community maintained.

[2017-01-30 17:01] sethladd commented on #4361
I think we can close this. We deprecated the previous codelab and the code supporting the codelab.

[2017-01-30 17:01] #4361 closed

[2017-01-30 17:04] sethladd commented on #3784
We'll probably need something like this, but our tools have changed a lot since this was first filed. Closing for now.

[2017-01-30 17:04] #3784 closed

[2017-01-30 17:05] sethladd commented on #3826
I see it on my local machine (Mac).

[2017-01-30 17:27] sethladd opened #7734 "Replace @checked with covariant"
We can replace uses of the @checked annotation with real syntax (replace @checked with `covariant`), once this rolls into your version of the SDK.  The @checked annotation was the prototype, this is the real thing.

See https://github.com/dart-lang/sdk/issues/27486

For an example, see https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#1220

[2017-01-30 17:27] sethladd commented on #7734
@pq do we have an issue to roll the Dart SDK for Flutter? I presume that would block this.

[2017-01-30 17:30] Hixie commented on #3826
do you see it just using curl?

[2017-01-30 17:30] pq commented on #7734
We're currently at `1.22.0-dev.9.1` which I think includes @munificent's `dart_style` changes so I think we're already good to experiment?

[2017-01-30 17:51] HansMuller commented on #7711
I have a HP 30" display, 2560x1600 (16:10).

IntelliJ IDEA 2016.3.1
Build #IC-163.9166.29, built on December 9, 2016
JRE: 1.8.0_112-google-v7-144883550-143772575 amd64
JVM: OpenJDK 64-Bit Server VM by Google Inc.

[2017-01-30 18:02] HansMuller commented on #3074
It's hard to know for sure, because the original video is gone. However I'm pretty sure the popping that this bug refers to has been gone for some time.

[2017-01-30 18:02] #3074 closed

[2017-01-30 18:03] sethladd commented on #7734
Nice. I see dart_style 0.2.15 supports `covariant`

[2017-01-30 18:03] jtrunick commented on #7728
I can try that, it does show up correctly on Android. I tried 128x128 as well thinking it may have to be a power of 2. The weird thing is that it shows a red "blur" in the image square, and the image doesn't even have red in it.

[2017-01-30 18:05] #7636 closed

[2017-01-30 18:08] danrubel commented on #7636
Fixed in analyzer and should be fixed in flutter tools after the next Dart SDK roll.

[2017-01-30 18:10] jtrunick commented on #7728
21431 icon png size is what load returned.

[2017-01-30 18:11] jtrunick commented on #7728
maybe the packaging with the .ttf and other image is getting messed up?

[2017-01-30 18:14] sethladd commented on #7722
Thanks for the feedback! This issue should probably be filed on dartdoc. The search in dartdoc is name-based, with a heuristic for prioritizing/sorting (e.g. we prefer class names over method names). The search in dartdoc isn't "full text search with the full power of a search engine".

We can chat about replacing the name-based search with a full-text search engine (e.g. Custom Search Engine).

P

[2017-01-30 18:19] sethladd commented on #3827
I would expect to see a doc called "Building Flutter apps" in the HOW-TO section, under/near "Upgrading Flutter". In that doc (which might be short :) I would expect to see some documentation around the various types of builds (release, debug, etc) and what they mean.

[2017-01-30 18:25] johnmccutchan commented on #6724
I have obtained a One Plus X phone.

[code]

[code]

[code]

[code]

[2017-01-30 18:25] johnmccutchan commented on #6724
I cannot reproduce the issue.

[2017-01-30 18:39] eldos-dl commented on #6724
[code]
[code]
[code]
[code]

[2017-01-30 18:41] alexander-doroshko commented on #7711
@HansMuller Thanks!
I guess the problem is with the JRE that the IDE starts under. Standard IntelliJ IDEA installer includes JRE developed by JetBrains. It is based on OpenJDK and includes a ton of our own fixes exactly about font rendering, antialiasing, HiDPI support, etc. So I recommend to [switch back to the bundled JDK](https://www.jetbrains.com/help/idea/2016.3/switching-boot-jdk.html).

[2017-01-30 19:01] yjbanov opened #7735 "Flaky libsky_shell.so crash in microbenchmarks on Android"
## Steps to Reproduce

[code]

## Logs

From `adb logcat`:

[code]

## Flutter Doctor

[code]

/cc @jason-simmons @chinmaygarde

[2017-01-30 19:20] sethladd opened #7736 "Roll Dart SDK to 1.22.0-dev.10 (so we can format code with covariant)"
Flutter is on Dart 1.22.0-dev.9.1 which has dart_style 0.2.14 which doesn't support the new `covariant`.

I'm told that if we roll to 1.22.0.dev.10 then we get dart_style 0.2.15 which does support `covariant`.

[2017-01-30 19:20] sethladd commented on #7734
This issue is blocked on https://github.com/flutter/flutter/issues/7736

[2017-01-30 19:21] sethladd commented on #7736
cc @pq is this something you can help with?

[2017-01-30 19:32] eseidelGoogle commented on #7735
That's in our code.  @jason-simmons is your man.  https://github.com/flutter/engine/wiki/Symbolicating-production-crash-stacks can also be used to get you symbols.

[2017-01-30 19:45] jtrunick commented on #7728
snippet from flutter.yaml

`assets:
  - assets/icon.png
  - assets/superpowered.png
fonts:
  - family: FreeSans
    fonts:
      - asset: assets/FreeSans.ttf
        weight: 500
`

[2017-01-30 19:59] jtrunick commented on #7728
Is this accurate? https://flutter.io/assets-and-images/
I do _not_ have a flutter: section

[2017-01-30 20:04] mraleph commented on #7700
(per @a-siva request to describe the infrastructure we recently setup for Linux bots on the Dart waterfall)

On Dart waterfall we have a combination of Python and Dart code handling core-dump collection and archiving.

In the Dart testing framework [`UnexpectedCrashDumpArchiver`](https://github.com/dart-lang/sdk/blob/43a0500e37c67184f8cc8abe5afa6ff1525837f3/tools/testing/dart/test_progress.dart#L3

[2017-01-30 20:08] Hixie commented on #7728
It's accurate but that changed more recently than your version of the framework. Consider using `flutter upgrade` (though I doubt it'll fix your issue here).

[2017-01-30 20:37] pq commented on #7736
Looking at it now!

[2017-01-30 20:59] jtrunick commented on #7728
should i not be using new Image.asset()?
Should i use new AssetImage() instead?

[2017-01-30 20:59] dvdwasibi opened #7738 "Allow for more flexible unselected label color parameter in TabBar"
Right now, the unselected label color is set as 70% of the labelColor in the [TabBar](https://docs.flutter.io/flutter/material/TabBar-class.html). This might not be expressive enough for many cases where the design might call for a different color altogether for the unselected state.

It would be useful to specify the unselected label color too.

[2017-01-30 21:00] Hixie commented on #7728
`new Image.asset('foo')` is the same as `new Image(image: new AssetImage('foo'))`

[2017-01-30 21:01] Hixie commented on #7728
Oh my, the example at the end of that page is wrong. Please disregard that!

[2017-01-30 21:09] devoncarew opened #7739 "add an integration test that verifies that flutter run --machine doesn't regress"
This would do something like start flutter run --machine with a headless device and validate that it starts. This test would help ensure that the bits of flutter_tools that IntelliJ uses doesn't regress, and
would catch issues like https://github.com/flutter/flutter-intellij/issues/683.

@Hixie  @tvolkert

[2017-01-30 21:11] devoncarew opened #7740 "add a headless test device"
One way to implement https://github.com/flutter/flutter/issues/7739 would be to create a headless test device. This would be based off of sky_shell, and be accessed through something like `flutter run -d test_shell`.

@tvolkert @yjbanov

[2017-01-30 21:13] pq commented on #7734
PR: https://github.com/flutter/flutter/pull/7741.

[2017-01-30 21:13] pq commented on #7736
PR up for review: #7741.

[2017-01-30 21:15] sethladd commented on #7736
You rock. Thanks!

[2017-01-30 21:18] jtrunick commented on #7728
i suspect its a scaling issue although I'm not using the /Mx/ subfolder stuff.

Looking in the flutter_gallery example, where are these files??
    - packages/flutter_gallery_assets/appbar_background.jpg

[2017-01-30 21:19] yjbanov commented on #7740
Is this a duplicate of https://github.com/flutter/flutter/issues/4676?

[2017-01-30 21:24] devoncarew commented on #7740
dupe of https://github.com/flutter/flutter/issues/4676

[2017-01-30 21:24] #7740 closed

[2017-01-30 21:24] devoncarew commented on #7740
Yup, closing

[2017-01-30 21:24] devoncarew commented on #7739
We'd need https://github.com/flutter/flutter/issues/4676 to implement this.

[2017-01-30 21:25] Hixie commented on #7728
The gallery is a weird case, we're bringing in the assets via our pubspec.yaml dependencies (to avoid bloating our github repo with image binaries).

[2017-01-30 21:28] yjbanov opened #7742 "TabPageSelector.build throws NoSuchMethodError"
`TabPageSelector.build` throws NoSuchMethodError. Some cards in the scrollable list are painted in red. This might be related to the https://github.com/flutter/flutter/issues/7407 performance regression.

## Steps to Reproduce

[code]

When the app starts, attempt scrolling down the list.

## Logs

[code]

## Flutter Doctor

[code]

/cc @HansMuller @Hixie

[2017-01-30 21:33] jtrunick commented on #7728
![icon](https://cloud.githubusercontent.com/assets/1335296/22442562/6d9a07ca-e701-11e6-915c-121d9b5a439d.png)
![superpowered](https://cloud.githubusercontent.com/assets/1335296/22442563/6da449d8-e701-11e6-9f22-b8ddfb92fcc6.png)

Here's the assets not working fwiw

[2017-01-30 21:45] Hixie commented on #7742
I have a fix but I doubt it's related to the timeout.

[2017-01-30 21:49] Hixie opened #7743 "Ugly exception when 'flutter run' times out talking to app"
Create an app that hangs. Run it, then press "w" to get a tree dump. After ten seconds, you get a very ugly message. Instead, it should wait about 2 seconds then give a pretty message saying that the app may have hung and pointing you to possible solutions (which might include trying to connect with the debugger, for instance).

[2017-01-30 22:08] yjbanov commented on #4676
@Hixie that document has a lot of stale info. I replaced the link with information that's still relevant.

[2017-01-30 22:09] tvolkert commented on #7739
Not necessarily - we may be able to use the record/replay stuff that I'm working on to accomplish this as well.

[2017-01-30 22:32] devoncarew commented on #7739
Can you outline a bit how that would work for this - would that have caught the run regression above?

[2017-01-30 23:12] sethladd commented on #3826
Once our next roll of the Dart SDK is finished, I'll let you know what happens

[2017-01-31 00:11] #7742 closed

[2017-01-31 00:36] apwilson opened #7748 "Container.foregroundDecoration with BoxDecoration backgroundImage or backgroundColor feels weird."
It feels really odd to do this:

[code]

I think this would feel better:
[code]

or this:

[code]

[2017-01-31 00:39] abarth commented on #7748
We picked the current names to align with CSS, but they sort of break down here.

[2017-01-31 00:41] Hixie commented on #7748
fillColor?

[2017-01-31 00:46] #7738 closed

[2017-01-31 02:34] yjbanov commented on #3173
I just tried the following two scenarios and both worked:

- Two Android devices connected to a Linux computer
- A physical iPhone 6 and an iOS Simulator connected to a Mac

In both cases I could select a device using option `-d` as well as have the driver pick a device automatically when a device is selected. Closing this. Feel free to reopen if this is still an issue.

[2017-01-31 02:34] #3173 closed

[2017-01-31 03:00] jtrunick commented on #7728
I haven't figured it out yet. I suspect it's because my background is a CustomMultiChildLayout, but so far everything i've copied to a new project works.

[2017-01-31 04:00] eseidelGoogle commented on #7711
If that fixes your font rendering troubles @HansMuller we should we add that to our list of IntelliJ setup instructions @devoncarew?

[2017-01-31 04:02] Hixie commented on #4692
Normally I would mark this "no milestone necessary" since it's just about improving our world but this would be so useful to fixing crashers and crashers are so important that I'm going to put this in milestone 2.

[2017-01-31 04:04] Hixie commented on #4695
Since our medium term plan is to pin everything and have a bot do rolling updates, this is probably moot, so I'm going to close it.

[2017-01-31 04:04] #4695 closed

[2017-01-31 04:10] eseidelGoogle commented on #3770
This is not the same issue.  This is the how-do-i-pin-the-version-of-flutter-my-app-depends-on question. :)  i.e. so that all of my 10 developers can get the same version of flutter instead of each of them having different flutter sdk versions depending when they last ran `flutter upgrade`.

[2017-01-31 04:22] jtrunick commented on #7728
I've copied all the dart code to another project and it works, there must be something wrong with the xcode project.

[2017-01-31 04:29] Hixie commented on #3770
Ah, I see. This is basically about giving the `flutter` tool a way to read your `pubspec.yaml` and follow the same semantics as we want `pub get` to use to determine what version of a package to bring in given a particular `environment` line. Almost the opposite of #3696 in fact.

[2017-01-31 04:31] Hixie commented on #7728
If you do `flutter create scratch`, then edit the `pubspec.yaml` to add an asset, then edit the `main.dart` to just add an Image that uses that asset, does it work?

[2017-01-31 04:36] eseidelGoogle commented on #3770
I have no opinions as to the implementation details.  The user journey is that I have a team of N devs, and Flutter currently has no official releases.  What is the best way for my N devs to make sure we're all working from the same copy of the Flutter sdk.

[2017-01-31 04:41] eseidelGoogle commented on #4692
We actually already do this. :)  At least for Android, e.g. https://storage.googleapis.com/flutter_infra/flutter/9de4d1530b4d24fc219c0e38997e4bf5391f86e0/android-arm-release/symbols.zip

[2017-01-31 04:43] eseidelGoogle commented on #4692
Instructions on how to use them here:
https://github.com/flutter/engine/wiki/Symbolicating-production-crash-stacks

@yjbanov is currently working on improving (parts of) our crash reporting (not directly related to this), but eventually we will need to wire up these symbols in a nice way so that our customers can use them to understand the crash reports they get back from crashlytics, firebase cra

[2017-01-31 04:43] abarth commented on #7722
I'm also cleaning up a bunch of the grid-related names as we migrate to the new scrolling machinery.

[2017-01-31 05:04] jtrunick commented on #7728
that's sort of what I did. I created a new project, copied everything over except the ios/android code, and the image works fine. I must of messed something up while working on the iOS service.

[2017-01-31 05:15] Hixie commented on #7728
I recommend copying your project verbatim, checking it still has the problem, then slowly turning it into the version you know works. Once you have your broken version and the working version nearly exactly the same, you can compare them to see the problem.

[2017-01-31 05:17] Hixie commented on #3770
As of today, one way to do it is to pick a flutter repo git hash, and have everyone check that out instead of top of tree.

[2017-01-31 05:18] Hixie commented on #4703
Marking this milestone 3, because we should have parity with iOS.

[2017-01-31 05:19] Hixie commented on #4707
Hans measured this and got as close as reasonably possible. If it's still not good then we should get a new bug with more specific actionable ways to determine the difference.

[2017-01-31 05:19] #4707 closed

[2017-01-31 05:20] Hixie commented on #4708
As far as I'm aware we have been doing this for a long time. That's how the estimator works; by using historical data.

[2017-01-31 05:21] Hixie commented on #4709
Did this get resolved? I recently found one case where we were not correctly catching a bot, but that case is solved now.

[2017-01-31 05:26] abarth commented on #4708
This issue is about using https://developer.android.com/reference/android/view/MotionEvent.html#getHistoricalX(int, int)

[2017-01-31 05:42] devoncarew commented on #4709
It wasn't resolved -

I'm curious where that was - do you have a link to the commit?

[2017-01-31 05:43] #4736 closed

[2017-01-31 05:57] Hixie commented on #4738
Does this still happen?

[2017-01-31 06:04] Hixie commented on #4535
See also https://github.com/flutter/flutter/issues/4740, https://github.com/flutter/flutter/issues/4741

[2017-01-31 06:05] Hixie commented on #4743
Closing as dupe

[2017-01-31 06:05] #4743 closed

[2017-01-31 06:10] Hixie commented on #4807
This is fixed now. Moving to checked mode is https://github.com/flutter/flutter/pull/7655 and is blocked on unrelated stuff.

[2017-01-31 06:10] #4807 closed

[2017-01-31 06:11] Hixie commented on #4814
Closing per last comment

[2017-01-31 06:11] #4814 closed

[2017-01-31 06:16] Hixie commented on #4709
@devoncarew https://github.com/flutter/flutter/pull/7687

[2017-01-31 06:39] Hixie opened #7755 "New OverscrollIndicator glows at x=0.0 when absorbing velocity from being ballistic"

[2017-01-31 06:41] Hixie opened #7756 "New OverscrollIndicator can't be repulled once it decays"
Looks like with the Android one, you can let it decay then pull again and it still follows your finger, but ours doesn't.

[2017-01-31 06:47] Hixie commented on #4832
Does this still happen, and if so, do you have steps to reproduce on a local setup?

[2017-01-31 06:48] Hixie commented on #4836
The suggested workarounds have been mentioned in some docs. I'm going to close this for now.

[2017-01-31 06:48] #4836 closed

[2017-01-31 06:50] Hixie commented on #4839
We technically support this now, though it's wildly untested. @sethladd Can you elaborate on exactly what you would want to see to call this done?

[2017-01-31 06:51] Hixie commented on #6051
Dupe of https://github.com/flutter/flutter/issues/5935

[2017-01-31 06:51] #6051 closed

[2017-01-31 06:54] Hixie commented on #4866
It seems nobody from the team can reproduce this. I'm not sure what we can do here.

[2017-01-31 06:54] devoncarew commented on #4709
Good catch! But I think think our spurious machines are travis related.

[2017-01-31 06:58] Hixie commented on #4867
You can add a WidgetsBindingObserver that listens to `didPopRoute`, and returns true.

[2017-01-31 06:58] #4867 closed

[2017-01-31 06:58] Hixie commented on #4868
How does this manifest? What SDKs are these?

[2017-01-31 07:00] Hixie commented on #4872
Is this resolved now?

[2017-01-31 07:02] Hixie commented on #4881
moot

[2017-01-31 07:02] #4881 closed

[2017-01-31 07:04] Hixie commented on #4889
This was resolved recently.

[2017-01-31 07:04] #4889 closed

[2017-01-31 07:07] Hixie commented on #4907
Is this done now? I heard rumours about it being done.

[2017-01-31 07:11] Hixie commented on #4921
Can you post an application demonstrating the problem you want to catch? I don't fully understand what you mean but if you have an example I maybe can come up with something.

[2017-01-31 07:12] Hixie commented on #4934
cc @chinmaygarde who mentioned writing a document about performance

[2017-01-31 07:14] Hixie commented on #4958
Is this still an issue? I overheard someone saying recently that this was related to one of our constants being too low maybe? cc @HansMuller @abarth

[2017-01-31 07:15] Hixie commented on #4959
@HansMuller mentioned wanting to create a route class that would take callbacks to do this.

[2017-01-31 07:17] Hixie commented on #4974
This seems like a serious limitation of our iOS workflow. We definitely want to be able to profile both --debug (default) and --profile apps, like we can on Android.

[2017-01-31 07:17] Hixie commented on #4975
If we want to do this we should do it soon, otherwise people might start depending on it.

[2017-01-31 07:20] Hixie commented on #4986
Closing; the only remaining issue is in #5355.

[2017-01-31 07:20] #4986 closed

[2017-01-31 07:21] Hixie commented on #5355
Today we output:
[code]

I think it would be fine to add the Dart version to the Engine line, but it doesn't seem particularly critical since it'll just duplicate the engine hash. I suggest we close this as is.

[2017-01-31 07:24] Hixie commented on #4991
This might get resolved a little by the scrolling refactor, since it'll make this lazy.

[2017-01-31 07:53] alexander-doroshko commented on #7711
In my understanding, correct JRE is used by default and to get problems that Hans has got additional manual actions required. If so, then probably instructions like "do not shoot yourself in the foot" are not necessary :). I may be wrong, I didn't test on Linux.

[2017-01-31 09:51] xster commented on #7593
Seems like 'installing' man pages (4) reliably for all OSes isn't easy without root and we won't be running flutter script in root. Doesn't seem like a good vehicle unless the user installs with homebrew (and homebrew is installed on /usr/local with chmod to the user) or apt-get.

(1) is rather incomplete. Having sub-command's options and their own sub-commands' autocomplete is pretty useful too.

[2017-01-31 14:17] pq commented on #7736
Quick update: #7741 exposed some fresh strong mode related issues that need addressing or working around.  Waiting on a resolution there. 👍

[2017-01-31 15:12] eseidelGoogle commented on #4974
We'd have to verify if this was still true.  @xster or @cbracken might cross this in their iOS explorations.

[2017-01-31 15:39] mit-mit commented on #3372
Debugging of hello_services should work already (see https://github.com/flutter/flutter-intellij/issues/471). I'm going to close this for now. If there are specific issues still, should open a detailed issue for that.

[2017-01-31 15:39] #3372 closed

[2017-01-31 15:45] ScottPierce commented on #4991
@Hixie I assumed this issue is related to this one: https://github.com/flutter/flutter/issues/6920

When @abarth was having me grab some benchmarks, he seemed surprised that the app was spending so much time in Paragraph_layout

[2017-01-31 15:52] eseidelGoogle commented on #4907
@cbracken deprecated it and plans to remove it in a week iirc.  There is a bug on it.

[2017-01-31 16:07] eseidelGoogle commented on #4703
I think we won't probably end up using this until we expose the route to the IDEs, etc.  I've never seen someone use this feature as is.  https://github.com/flutter/flutter/issues/4701

[2017-01-31 16:41] dvdwasibi commented on #7738
thanks!

[2017-01-31 17:20] rmacnak-google commented on #4974
Fixed by flutter/engine@327d122de9eaf3739996610a3630408bdcc52103 and flutter/flutter@4efb4282549e4b1d5379a87370d5891a1a4d746e.

[2017-01-31 17:20] #4974 closed

[2017-01-31 17:22] sethladd commented on #5355
Curious, why would the Dart version embedded into the engine have the same hash as the engine?

[2017-01-31 17:23] HansMuller commented on #4959
PageRouteBuilder should do what you want - https://github.com/flutter/flutter/pull/7632

[2017-01-31 17:23] #4959 closed

[2017-01-31 17:26] sethladd commented on #4958
This still happens. Happy to show you tomorrow.

[2017-01-31 17:29] chinmaygarde commented on #5355
The engine and Dart versions are distinct. Currently, there isn't a way to
tell the Dart version associated with the engine without looking at the
DEPS for the engine at a it's particular version. But I am sure we can
embed this information in all builds of the engine and make it accessible
via a command line flag and via observatory.
On Tue, Jan 31, 2017 at 9:22 AM Seth Ladd <notifications@github

[2017-01-31 17:44] yjbanov commented on #4832
This issue is obsolete. This benchmark no longer exists.

[2017-01-31 17:44] #4832 closed

[2017-01-31 18:07] Sfshaza opened #7757 "GridDelegate API docs should list all available delegate classes"
Go to the API docs and bring up the GridDelegate page. I want to see a list of the existing delegate classes but there's no hint or clue on how to find them. I found them by searching ScrollableGrid examples on GitHub.

I found:
* FixedColumnCountGridDelegate
* MaxTileWidthGridDelegate

And there may be others.

[2017-01-31 18:12] abarth commented on #7757
Those are the two.

[2017-01-31 18:22] sethladd commented on #4839
An example in the Gallery would be sufficient. Doesn't have to be a full vignette. Thanks!

(many of our developers use the Gallery to learn how to use Flutter. Putting examples into the Gallery not only makes it easy to demo our capabilities, but also teaches folks how to use the APIs)

Thanks!

[2017-01-31 19:23] xster commented on #7460
/sub

[2017-01-31 19:26] xster commented on #5150
/sub

[2017-01-31 20:11] jakobr-google commented on #4866
@tain335 is your project based on the hello-services example, or a plain `flutter create` ?

@mravn-google saw something similar recently, where profiling wasn't enabled in a profile build of hello-services. I believe the reason was that ExampleActivity didn't pass the runtime args to FlutterMain.

[2017-01-31 20:18] sethladd commented on #7588
I confirmed with our user that once he upgraded to Android SDK 25, his crashes went away.

We recommend that `flutter doctor` suggest the user upgrade to 25.

Are we aware of a reason to continue to prefer 24?

[2017-01-31 20:18] sethladd commented on #7588
cc @abarth or @jason-simmons  might know some background here...

[2017-01-31 20:31] Hixie commented on #5355
@sethladd Each version of the engine has a specific version of Dart associated with it (as listed in the DEPS file). If you change the version of Dart, then it forcibly changes the version of the engine (assuming you're building something that got committed). We could show the version of Dart as well, if we are worried about people running custom builds, but then they could also be running hacked

[2017-01-31 20:33] Hixie commented on #4703
Agreed. We could also get parity by just removing the Android side. I just want to make sure we have parity my m3.

[2017-01-31 20:43] sethladd commented on #5355
Showing:

`Engine • revision 9de4d1530b (Dart 1.19.0-edge.cfdd6ee5cc6a7af56ead91190af8f8dcc33e82ea)`

Should be sufficient. It answers the question, "what version of Dart is the engine using?" in a way that someone can take that info and cross-reference with Dart.

[2017-01-31 21:39] eseidelGoogle commented on #7561
leafy currently feels blocked on this bug.  They could write their own plugin, but given we have other plumbing for existing notifications @DaveShuckerow expressed that this seems it would make more sense to come in via Flutter's engine.  Thoughts?

[2017-01-31 21:41] DaveShuckerow commented on #7561
Some additional conversation on the topic:

We think it would be good if our hooks into the OS were organized consistently in a fashion similar to this.

[2017-01-31 22:18] eseidelGoogle opened #7761 "Not currently possible to write a Writing-direction aware Widget"
It's not currently possible to write a writing-direction aware widget (please correct the issue/title if I've used the wrong term).

I'm told this is part of solving https://github.com/flutter/flutter/issues/2598.  Filing separately in case it's useful to track this as part of api-stability.  If not, please feel free to close.

This was brought to my mind by customer: mulligan asking if it were po

[2017-01-31 22:31] goderbauer opened #7762 "Cannot update Flutter's Dart SDK when IntelliJ is running on Windows"
IntelliJ is running an analyses server and using `dart.exe` from Flutter's `bin/cache/dart-sdk` for that. When Flutter Tools now decides to update the Dart SDK while IntelliJ is running, an error is thrown because `dart.exe` is in use.

[2017-01-31 22:32] goderbauer commented on #7762
Fix likely required for https://github.com/flutter/flutter/issues/138

[2017-01-31 22:48] #6136 closed

[2017-01-31 22:48] #6864 closed

[2017-01-31 22:48] #7539 closed

[2017-01-31 22:51] jakobr-google commented on #7539
Just to clarify: With the PR I just merged, we now include both x86 and ARM native code in debug builds of the hello_services example. Profile and release builds still only contain ARM code.

[2017-01-31 22:51] HansMuller opened #7763 "complex_layout benchmark infinite loop"
Running the complex_layout benchmark and fling scrolling a few times leads to an infinite loop

`(cd dev/benchmarks/complex_layout/; flutter run --profile)`

The problem appears to be with LazyBlockDelegate, its `buildItem(BuildContext context, int index)` is called endlessly with increasing values values of index.

[2017-01-31 22:55] eseidelGoogle commented on #7762
This may need to be filed in https://youtrack.jetbrains.com/issues?q=%23Dart%20 @devoncarew would know.

[2017-01-31 22:58] goderbauer commented on #7762
I think we need to solve this in Flutter Tools and change the way Flutter Tools updates the SDK when it is in use. There is probably not much the jetbrains people can do about this when we try to update the Dart SDK underneath them.

[2017-01-31 22:59] devoncarew commented on #7762
The dart vm will likely be in use by both the analysis server and the flutter tools daemon. We do probably want a way to update even when the vm is in use.

[2017-01-31 22:59] HansMuller commented on #7407
I was able to confirm the problem and that it was introduced by #7387. Since then the benchmark's performance has returned to normal.

It would be useful to sort out what caused the regression however at the moment https://github.com/flutter/flutter/issues/7763 makes it difficult to profile the benchmark.

[2017-01-31 23:06] goderbauer commented on #7762
Do we need a way to tell flutter tools daemon or analysis server that a new Dart SDK has been downloaded? Or restart them?

[2017-01-31 23:11] jtrunick commented on #7728
Works fine until I change the AppDelegate, even though I'm careful to leave the Flutter code intact. I'll try with the base hello_services example.

[2017-01-31 23:30] xster opened #7764 "Next/previous API on Pageable widget"
Might be a dupe. Would be nice to have an official programatic API to move forward and back on Pageable widgets.

[2017-01-31 23:36] sethladd opened #7765 "Missing guidance or pointer when `flutter run` fails due to code signing"
I wonder if we could detect that this failed, and point our users to a Triage/Fix-It doc. At least attempt to help them try a few obvious things.

Can we link to a wiki page or a page on our website, when we fail a `flutter run` when targeting iOS?

Here's what I see when the command fails:

[code]

[2017-01-31 23:38] Hixie commented on #7764
Can't you just animate to the current position + 1?

[2017-01-31 23:51] devoncarew commented on #7762
The analysis server wrapper code in IntelliJ will detect and restart the analysis server when the sdk changes. We'll need to add some similar code to the flutter plugin for the flutter tools daemon.

[2017-01-31 23:53] sethladd opened #7766 "`flutter run --release` stuck when building for iOS: "library not found for -lPods-Runner""
My `flutter run --release` for my iPhone is stuck at:

[code]

Any ideas?

[code]

and

[code]

[2017-02-01 00:10] eseidelGoogle commented on #7335
customer:fast just ran into this.  Internal bug 34854670.

[2017-02-01 00:19] Hixie commented on #7763
feel free to hack that code to make it work for now, we're about to delete that entire class

[2017-02-01 00:20] sethladd commented on #7766
Hm, apparently when you don't have all the necessary signing mumbo jumbo under the General tab of the Project build settings, you can hang `flutter run` like this.

For those folks also running into this:

* I somehow opened up the project settings for my app.
* Then I selected "Runner" under "TARGETS".
* Then I selected "General" from the horizontal list of options (general, capabilities, etc)
*