[2020-11-03 18:31] jonahwilliams commented on #68144
I do not think this problem is solved. Cleaning the bots every time this breaks is not a scalable solution either.

Can we rethink what we are doing with Xcode? Do we need to isolate the engine and framework bots?

[2020-11-03 18:32] kapiltewari commented on #67879
Yes you are right --profile feels really smooth but --release is stuttering.

[2020-11-03 18:33] liyuqian commented on #68890
One drop occurred around https://github.com/flutter/flutter/commit/291ee945064845cb0e560b653b328f65bf6b1340 which landed last Tuesday 9am.

Another drop occurred around https://github.com/flutter/flutter/commit/3e41962dfff85701708f4e4b578511d2c46d5668 which landed last Friday 1pm.

This is what I'm looking at: https://flutter-flutter-perf.skia.org/e/?begin=1602548289&end=1604386684&keys=X1fa8ce79a

[2020-11-03 18:36] ferhatb opened #69698 "Framework tests fail when using DDC on H/H/H bots due to applyPaint during preroll"
https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8864987986065765328/+/steps/flutter_test_web_tests/0/stdout

[2020-11-03 18:40] mehmetf commented on #69685
Possible things we can do:

- Include a link in the error message that explains all this such as: https://flutter.dev/docs/release/breaking-changes/network-policy-ios-android. I think embedding all this information in the error message itself is likely too much. I can push this through.

- We can consider changing the Flutter Android embedding to add `10.0.2.2` to the list of allowed addresses. I

[2020-11-03 18:42] dnfield commented on #69574
I'm not sure - this works for me:

[code]

There are a large number of things that could cause such failures - in addition to not running in a real async zone, you could be having network connection issues, the server could be down, the process might not have the right permissions on your machine, etc. etc...

In general, for a test, you'll want to mock out HTTP responses. package:http provides so

[2020-11-03 18:46] ThexXTURBOXx commented on #69431
Thanks for investigating this issue. I also updated my original report to include the additional information of this thread.
I hope this helps in further analysis.

[2020-11-03 18:46] godofredoc commented on #69621
Flutter uses the cocoon backend to send rpc requests to the luci services [presubmit example](https://cs.opensource.google/flutter/cocoon/+/master:app_dart/lib/src/service/luci_build_service.dart;l=199?q=scheduleBuildRequest&ss=flutter%2Fcocoon). We are currently using those presubmit configurations to update the github states.

In order to notify the G3 team when there are new artifacts we need t

[2020-11-03 18:56] dgaedcke commented on #69058
Interesting!!!  Thanks for the feedback ... this is making it clear that I don't really know what the "subtree" is because if it's not the rendered routes/pages/widgets on the screen, then it must be some internal element structures of the material app.   I'll do some more reading and I'll follow your advice and use keys for both MaterialApps.

I know it's off base for this thread (even if it were

[2020-11-03 18:57] jacobaraujo7 commented on #45938
It seems that the problem has already been reported in [this issue](https://github.com/flutter/flutter/issues/67277) [#67277], but it was closed without a solution. Can we continue on it? @chunhtai

[2020-11-03 19:00] rebel-codeaz commented on #33709
Needed. I can add it in pubspec.yaml but dunno what to do next!
+1

[2020-11-03 19:00] jacobaraujo7 commented on #67277
cc @chunhtai

[2020-11-03 19:05] zanderso opened #69701 "Increase timeout on Mac iOS Engine"
The tree is currently closed on a timeout. I triggered a rebuild. Successful runs are in the 45-55 minute range with a 1hr timeout, which seems too short.

https://ci.chromium.org/p/flutter/builders/prod/Mac%20iOS%20Engine

/cc @cbracken

[2020-11-03 19:12] matthew-carroll commented on #69452
@chunhtai I am not currently using that, but I just looked up the docs for `precacheImage` and it looks like I have to specify each and every image. The issue here is that devs writing golden tests really shouldn't need to know or care about every image that might appear on a given screen or within a given flow.

For example, the project I'm working on right now uses a number of SVG and PNG images

[2020-11-03 19:19] blasten commented on #68970
@chinmaygarde b/171449547 contains the latest updates.

[2020-11-03 19:23] YeungKC commented on #11201
I think maybe it shouldn't be done, the api doc for InputDecorator describes:

themselves are defined by an InputDecoration object and their layout and appearance depend on the baseStyle, textAlign,
isFocused, and isEmpty parameters.

cc @Hixie @DaveShuckerow @justinmc

[2020-11-03 19:30] tyz910 commented on #66961
I found out that this bug occurs only when TextSpan.children has style property. If you delete style property from all children and set it only to the parent TextSpan, everything works fine.

<details>
  <summary>sample code</summary>

[code]
</details>

[2020-11-03 19:31] cyanglaz commented on #69449
If I understood the race condition correctly: Currently `PlatformViewsController` is owned by `FlutterEngine`, and could be created before `FlutterViewController`'s creation and destroyed after `FlutterViewController`'s destruction. Because the lifecycle of `PlatformViewsController` happens on raster thread and the lifecycle of `FlutterViewController` happens on platform thread.

 I think we can b

[2020-11-03 19:37] safield opened #69705 "Flutter does not install latest build on ios simulator."
I am am running an ios simulator. I am using "flutter build ios --debug" to build the app. I am then using "flutter install ios --debug" to install on the device.

The first install of the app works. But subsequent installs, do not reflect the changes. I change my dart code, then run the two commands above, and the app does not reflect the changes. I have to completely wipe the simulator (manually

[2020-11-03 19:53] #67291 closed

[2020-11-03 19:53] #68692 closed

[2020-11-03 19:53] jvanverth commented on #68649
Apologies, I was on PTO last week. Are you still seeing this?

[2020-11-03 19:55] ferhatb commented on #68405
@prascuna The outer listview clips its contents when you shrink the window vertically. So it will clip contents (including the shadow). WAI.

[2020-11-03 19:55] #68405 closed

[2020-11-03 19:56] feinstein commented on #68057
@TahaTesser done.

[2020-11-03 19:56] Hixie commented on #68259
We have a repository for generating diagrams: https://github.com/flutter/assets-for-api-docs
There's some useful tools for it, e.g. check out the AppBar diagram.
Our policy is that every diagram in the API docs has to be generated from code in the assets-for-api-docs repo.

[2020-11-03 19:59] chunhtai commented on #69452
This has been an issue that the a lot of widget does not provide a way to wait for its async future. This is related to https://github.com/flutter/flutter/issues/22193

I don't think there is a generic way to handle async image load at this moment.

[2020-11-03 20:03] godofredoc commented on #68144
Adding some context here:

We added a hack to the xcode installations to support ios sdk 14 with xcode 11 version(flutter desktop requirement in the engine). This hack is creating a symbolic link to a temporary folder and the new logic in case of builder failures didn't delete the symbolic link. That problem was already fixed but many machines were left with that symbolic link in place, the first

[2020-11-03 20:08] godofredoc commented on #69701
Do we know where the extra 15 mins are being used:

![image](https://user-images.githubusercontent.com/54371434/98035340-33d48900-1dcd-11eb-8ddc-b38257610735.png)

[2020-11-03 20:10] godofredoc commented on #69701
There are several builds that are not running on a goma context:

![image](https://user-images.githubusercontent.com/54371434/98035603-9f1e5b00-1dcd-11eb-8251-b3666fa9439d.png)

[2020-11-03 20:11] dvird commented on #57397
@jonahwilliams  please reopen it, its a bug. bad performance. i have 6 widgets in the stack and its building them when they on background

[2020-11-03 20:12] YeungKC commented on #15401
![image](https://user-images.githubusercontent.com/11473691/98035718-e9e2b600-1e53-11eb-876e-393e33b0a92a.png)

Could not reproduce in master branch, now fixed, please close.

cc @TahaTesser @justinmc

[2020-11-03 20:13] nt4f04uNd commented on #69705
Weird stuff, but why not to use flutter run

[2020-11-03 20:14] godofredoc commented on #69589
This is happening approximately 15 times per day.

[2020-11-03 20:15] safield commented on #69705
Did not see that coming...

[2020-11-03 20:16] stephenkite commented on #69705
use flutter run

[2020-11-03 20:19] PixelToast commented on #69239
To clear things up a bit, the example code

[code]

Is incorrect because addMessage expects a `Future<void>`

[2020-11-03 20:19] Juanfra24 opened #69706 "Suggestion - Adding Shadow box list to CupertinoTabBar Component"
Hey Flutter dev team,

I have been developing an application using only Cupertino components and compared to its Material counterpart, I have noticed that it is not possible for me to add an elevation to CupertinoTabBar. Taking a look at the base code I could see that it is possible to add a Shadowbox component inside Boxdecoration when building the component.

Result:
![image](https://user-images

[2020-11-03 20:25] jonahwilliams opened #69707 "SkSL perf tests are leaking dart processes"
There is a flutter run that is being left going. Removing the automatic process killing logic revealed due to the timeouts:

For example:

[code]

[cubic_bezier_perf_sksl_warmup__e2e_summary_9ec5d71_1 (1).log](https://github.com/flutter/flutter/files/5483861/cubic_bezier_perf_sksl_warmup__e2e_summary_9ec5d71_1.1.log)

[2020-11-03 20:27] kenzieschmoll opened #69708 "Make ButtonBar.alignment configurable from AlertDialog"
`ButtonBar` has a configurable `alignment` property. This is a request to expose a property `actionsAlignment` from the `AlertDialog` constructor so that `ButtonBar.alignment` can be set here: https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/dialog.dart#L518

[2020-11-03 20:29] amirh commented on #69439
We're only able to reproduce this on CI.
Following https://github.com/flutter/plugins/pull/3239 the only test that hangs is the driver test for the integration_test packages.

We bisected on CI in https://github.com/flutter/plugins/pull/3248 and the regression stated at an engine roll: https://github.com/flutter/flutter/pull/69353.

[2020-11-03 20:46] jmagman commented on #68144
Hit on build293-m9
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8864629807184864240/+/steps/run_build_ios_framework_module_test/0/stdout

[2020-11-03 20:57] bkonyi opened #69711 "Web expression_evaluation_web_test failing on non-web HHH bot"
We're seeing these [sorts of failures](https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8864642682270776256/+/steps/flutter_test_tool_tests/0/stdout) on the Flutter HHH bot:

[code]

It's also surprising that we're seeing this failure on the non-web HHH bot. Is that a bug?

[2020-11-03 20:57] chunhtai commented on #67754
The fix will be as following:

We will add a new parameter in Semantics widget called valueAttribute. which will be an enum {none, spellOut}

In iOS if the value attribute is spellOut, it will override the accessibilityAttributedValue.
In android,  if the value attribute is spellOut it will insert space in between character.

[2020-11-03 21:02] sigmundch commented on #69711
I am guessing this is in the non-web bot because it is an integration test requiring a bit of setup to launch flutter tools and get things running end to end.

@jonahwilliams @annagrin - could you take a look?

[2020-11-03 21:08] amirh commented on #69439
The hanging driver tests on CI started at this Dart->Engine roll https://github.com/flutter/engine/pull/22153.
cc @mkustermann

This may or may not be related but when it hangs we get the following message:

[code]

[2020-11-03 21:09] jonahwilliams commented on #69711
I do not have time to look at this currently. If you're unable to update the HHH bot to make these run I suggest skipping the web tests

[2020-11-03 21:09] jonahwilliams commented on #69711
(FYI @zanderso )

[2020-11-03 21:09] jonahwilliams commented on #69711
@ferhatb

[2020-11-03 21:09] cbracken commented on #69688
There was a further issue with the web engine fixed in https://github.com/flutter/engine/pull/22273. New roll is https://github.com/flutter/flutter/pull/69709

[2020-11-03 21:10] jac33k opened #69712 "Camera square"

[2020-11-03 21:10] #69712 closed

[2020-11-03 21:23] rkmax commented on #69643
that is issue I dint use any DateTime. I'm just running the default code create with the project, main.dart

[code]

in case you want here's the full folder https://we.tl/t-JUKdN9vodD

[2020-11-03 21:23] cbracken commented on #69688
The roll is now in.

[2020-11-03 21:23] #69688 closed

[2020-11-03 21:37] stuartmorgan opened #69715 "Eliminate remaining logic from flutter_windows.cc"
Originally flutter_windows.cc had essentially everything in it; over time most of the code has been moved into classes that correspond to the conceptual classes implied by the C API (FlutterWindowsEngine, FlutterWindowsView, etc.). There is still some logic in flutter_windows.cc itself though, such as FlutterDesktopViewControllerCreate, which should be moved into the classes if at all possible. Th

[2020-11-03 21:40] zanderso commented on #69711
`the Dart compiler exited unexpectedly.` indicates that some recent change to the Dart compiler is causing these tests to fail. I'd recommend bisecting on changes there to zero in on the commit where this starts. Reducing to P3 for now, but this may need to be escalated if it is blocking rolls.

[2020-11-03 21:41] stuartmorgan opened #69716 "Add an embedder.h API for requesting a redraw"
There are cases where the desktop embeddings needed to instruct the engine to redraw (e.g., after certain window manager operations on Linux that discard the previous backing buffer). Currently there's no way to do that explicitly, so we've just send a window metrics update with the current metrics. This doesn't capture what is conceptually being requested, and there's an obvious potential for uni

[2020-11-03 21:52] leafpetersen commented on #69601
This would be great data to get.  The top level bit would be "what language version is specified for this package by whatever package_config.json controls this package/app".  A second order bit that would be nice to have is what mode builds/runs are done in (sound null safety or no sound null safety).

[2020-11-03 21:56] jonahwilliams commented on #69601
FYI The tooling has no idea what mode an app is built in, we can only measure sound mode via a vm service query.

[2020-11-03 21:57] jonahwilliams commented on #69601
(We could distinguish the cases where a user provided --sound-null-safety or --no-sound-null-safety, but not autodetect)

[2020-11-03 22:05] godofredoc commented on #68144
Cleaned build293-m9.golo. I just remembered we are reprovisioning all the machines to 10.15.7 which will delete all the previous data.

[2020-11-03 22:09] leafpetersen commented on #69601
Detecting default package language version + explicit --no-sound-null-safety would probably be a reasonable set of data.

[2020-11-03 22:13] mit-mit commented on #69601
Agree!

[2020-11-03 22:22] jmagman opened #69718 "Deprecate --universal flag in "flutter build ios-framework""
With ARM Apple Silicon simulators (and Catalyst, though Flutter doesn't directly support it), distributing universal binaries is no longer possible since the arm64 iphonesimulator and arm64 iphoneos binaries can't be `lipo`d together.  Always produce xcframeworks, which is the preferred method of binary distribution.

`flutter build ios-framework` should default to producing xcframeworks instead o

[2020-11-03 22:28] jasonJamEther commented on #26479
Plus one to this request. I would like to overlay a builds interior on the map.

[2020-11-03 22:30] scaraux commented on #69170
I wasn't able to identify exactly what causes the bug other than with a WebView. So as of right now its good to assume that the problem happens with the usage of a webview and maybe finding the cause of it will also fix it in other cases

[2020-11-03 22:50] CaseyHillers commented on #66191
Recipes change at https://flutter-review.googlesource.com/c/recipes/+/8080

Once the Cocoon PR and Recipes CL land I'll trigger a full dry run to validate LUCI tasks can upload results.

[2020-11-03 22:50] #69639 closed

[2020-11-03 22:51] Piinks commented on #59180
Published to the wiki.

[2020-11-03 22:51] #59180 closed

[2020-11-03 22:54] #69589 closed

[2020-11-03 22:55] amirh commented on #69439
Something in https://github.com/flutter/flutter/pull/69709 fixed it

[2020-11-03 23:05] jhaymesdev commented on #69359
@darshankawar and @swebreza

[2020-11-03 23:07] cyanglaz commented on #66627
Fixed with https://github.com/flutter/plugins/pull/3123, closing the issue.

[2020-11-03 23:07] #66627 closed

[2020-11-03 23:11] jhaymesdev commented on #69359
@swebreza and @darshankawar thank you so much I really appreciate your help you both are live savers. Big thank you again

[2020-11-03 23:27] jhaymesdev commented on #69359
Thank you so much @swebreza and @darshankawar for your help this was so helpful it's running fine now. Thank you so much you are both life savers .Thank you soo much

[2020-11-03 23:29] jason-simmons commented on #69583
I was able to reproduce the 7% increase in the `stock_layout_iteration` microbenchmark shown in the dashboard graph above.

The change started with https://github.com/dart-lang/sdk/commit/d5118d5fc83db077f23b8f7dd5d489634199ad1a.  That commit is calling `GetCurrentStackTrace` within `ReceivePort::New`.

This is expensive, and `ReceivePort::New` is invoked frequently in that benchmark as well as du

[2020-11-03 23:33] apinprastya opened #69721 "Flutter plugin onAttachedToEngine called twice"
## Steps to Reproduce

1. I have attached the test plugin to check. [testplugin.zip](https://github.com/flutter/flutter/files/5484659/testplugin.zip)
2. Run the example
3. When you check on logcat you will see that the "I GOT ATTACHED....." called twice

This bug only happen when I have the `android_alarm_manager` in the example project and called `AndroidAlarmManager.initialize()`

[code]
![Scree

[2020-11-03 23:35] bkonyi commented on #69583
We can probably limit it to Dart debug and release builds, but Flutter release / Dart product builds don't have any use for the collected stack.

[2020-11-03 23:38] wer32 opened #69722 "--observatory-port stopped working in SDK 1.22.3"
Hi Everyone,

I used the argument `--observatory-port` for running integration tests locally but in a current version, it stopped working.

[code]

Run setup SDK 1.22.3
<img width="762" alt="broken logic" src="https://user-images.githubusercontent.com/262981/98051203-f71e8700-1df8-11eb-9493-afa964605cb6.png">

Result for SDK 1.22.3
<img width="1079" alt="run arguments" src="https://user-images.git

[2020-11-03 23:47] qbait commented on #66413
Any update on that one?

[2020-11-03 23:48] dnfield commented on #67219
Can you try the changes in https://github.com/flutter/flutter/pull/69724 to verify they fix your issue?

[2020-11-03 23:55] ppb1701 commented on #69510
Ok so on stable, it was approved for TestFlight.

The fonts are material and cupertino.

pubspec
[code]

[2020-11-03 23:57] MiguelSOliveira commented on #32170
What is the best way to track this specific shader problem for iOS? Is is this issue here?

My app on android runs perfect and on iOS, it is just really bad and I don't really understand what you mean by intermediate solution here: https://github.com/flutter/flutter/issues/53607, @liyuqian ..
Can you point to the specific comment that posts the solution you mean?

I've also tried disabling metal b

[2020-11-04 00:00] dnfield commented on #69701
If we can shard these into separate builders, we should.

Otherwise, this builder needs a longer timeout. Copying here from chat: these do not use GOMA because GOMA does not support using Xcode's clang as a compiler.

[2020-11-04 00:00] dnfield commented on #69701
(and bitcode enabled builds have to use Xcode's clang)

[2020-11-04 00:06] nt4f04uNd commented on #39614
I tried to come up with some hack to this and actually, barely, but I did. Also, I would say that this is Android's rather than Flutter's blame we have such a bad API for manipulating the navbar/status bar colors.

There are two ways of working this around, which really depend on your needs.
- Are you okay with default system navigation bar?
**Give this up**
- Do you want to have just white or bla

[2020-11-04 00:17] rhencke commented on #46016
Is this a task I could help on?

[2020-11-04 00:19] cyanglaz commented on #69439
Closing as it was fixed with https://github.com/flutter/engine/pull/22153

[2020-11-04 00:19] #69439 closed

[2020-11-04 00:19] rkmax commented on #69643
Today I have tested with different java diffent versions of java

  java-11-openjdk
  java-14-openjdk
  java-15-jdk
  java-9-jdk

I can build and run the app only with Java version openjdk version "11.0.8" 2020-07-14

[2020-11-04 00:25] rkmax commented on #69643
this should be a different issue but I think the getting started dont say nothing about java version, even with java-9 `flutter doctor --android-licenses` doesnt work. I test with Java version openjdk version "1.8.0_265" and work the run and the licenses I think this should be included in the documentation

[2020-11-04 00:33] bkonyi commented on #69711
I believe this is blocking the SDK roll (@a-siva can you confirm?).

[2020-11-04 00:38] sigmundch commented on #69711
Let's disable the test for now then, @a-siva @bkonyi or other folks, do you have some pointers for how to do so?

[2020-11-04 00:40] robert-ancell commented on #68713
The log says `"Unknown key code 65027"`
Which is hex `0xfe03` and is the value `GDK_KEY_ISO_Level3_Shift` (from `gdk/gdkkeysyms.h`).

@themou3ad what was the exact key combination that you pushed? I'm guessing `GDK_KEY_ISO_Level3_Shift` is the AltGr key for your layout?

[2020-11-04 00:41] annagrin commented on #69711
I will disable the tests for now - they should only run on the web bot.

[2020-11-04 00:48] a-siva commented on #69711
The Dart rolls into Flutter are happening, see https://autoroll.skia.org/r/dart-sdk-flutter-engine?tab=status

Disabling the tests is fine so that the Flutter 3H bot turns green.

[2020-11-04 00:49] chenchunhao9125 opened #69727 "when page1 with TickerProviderStateMixin jump to page2 ,then page1 cause rebuild"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
3. ...

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-11-04 00:51] liyuqian commented on #32170
Please check https://flutter.dev/docs/perf/rendering/shader on how to use the solution provided by #53607. For iOS, you may need to disable Metal. The easiest way to disable it might be to follow https://github.com/flutter/flutter/issues/61045#issuecomment-699044134.

P3 is our highest priority that's not breaking our build or 1st party customers. So this issue is definitely our top priority after

[2020-11-04 00:54] robert-ancell commented on #68713
This suggests that AltGr is often mapped to `GDK_KEY_ISO_Level3_Shift`: https://ubuntuforums.org/showthread.php?t=1493508&s=5b15521e9d57bbfc5d1f2ae1f6a20e1b&p=9553677#post9553677

[2020-11-04 00:57] it-sam opened #69729 "Google map and ListView making Its scroll buggy."
Google map and ListView makes list view scroll buggy.

On starting the app its working fine. But **after the change in app life cycle List view is not able to scroll properly.**
As soon as we remove GoogleMap, it starts working fine.
This happens on debug and release mode with iOS Simulator and device. It is working fine with Android fleet.
Thanks

[Video link](https://drive.google.com/file/d/1IFr

[2020-11-04 01:01] robert-ancell commented on #68713
There doesn't seem to be a [LogicalKeyboardKey](https://api.flutter.dev/flutter/services/LogicalKeyboardKey-class.html) or [PhysicalKeyboardKey](https://api.flutter.dev/flutter/services/PhysicalKeyboardKey-class.html) for `AltGr` - I guess one would need to be added to solve this.

[2020-11-04 01:03] keyonghan opened #69730 "Upgrade remaining LUCI try/prod 10.15.6 macs to 10.15.7"
16 mac bots in prod pool have been running 10.15.7. This is to track upgrading all remaining 10.15.6 mac bots to the same version 10.15.7.

[2020-11-04 01:18] justinmc commented on #11201
Yeah I think this issue may be irrelevant nowadays.  I'm ok to close this if no one else objects.

[2020-11-04 01:22] justinmc commented on #15401
I think I agree that this should be closed by looking at that screenshot, but I'll leave it to @TahaTesser in case I'm misunderstanding.

[2020-11-04 01:33] kphanipavan commented on #69634
So, the`<base href="/">` must be edited based on the location at which the app is deployed.

And, @azbuky can you verify the solution I posted in the above mentioned post, [#68449]()

[2020-11-04 01:33] #69634 closed

[2020-11-04 01:37] leecommamichael commented on #51752
Opinion: The community inclination to name hooks as the de-facto solution to this problem roots from a bias for functions. Functions are simpler to compose than objects, especially in a statically-typed language. I think the mental model of Widgets for many developers is effectively just the `build` method.

I think if you frame the problem in terms of the basics, you're more likely to design a so

[2020-11-04 01:41] fredlee12345678 commented on #69552
@xu-baolin do you have setup an PR? could you please give me your PR?

[2020-11-04 01:54] jmagman opened #69733 "Remove --universal flag in "flutter build ios-framework""
With ARM Apple Silicon simulators (and Catalyst, though Flutter doesn't directly support it), distributing universal binaries is no longer possible since the arm64 iphonesimulator and arm64 iphoneos binaries can't be `lipo`d together.  Always produce xcframeworks, which is the preferred method of binary distribution.

Deprecated in https://github.com/flutter/flutter/issues/69718.
Remove completely

[2020-11-04 01:58] nturgut opened #69734 "[web][tests] run integration tests on different modes"
Currently the integration tests under this directory (https://github.com/flutter/engine/tree/master/e2etests/web/regular_integration_tests) only runs on profile mode, with html rendering backend. Run these tests on other build modes and with also canvaskit backend.

This will help with the issues (recently observed frequently) in debug mode and in canvaskit backend.

[2020-11-04 01:59] jmagman commented on #64502
This will require https://github.com/flutter/flutter/issues/60109 since the arm64 `iphoneos` and `iphonesimulator` slices can no longer be lipo'd together.

[2020-11-04 01:59] jmagman commented on #60109
See https://github.com/jmagman/engine/blob/588d6a343bcb5423e89cab15556126416c490c6c/sky/tools/create_ios_framework.py#L71-L79

[2020-11-04 02:21] xy221150 commented on #69636
I tried to update the stable but it didn't work
![image](https://user-images.githubusercontent.com/34728569/98061611-372c4b00-1e87-11eb-872d-a4d5ae812276.png)
run ios device still stuck,Whether debug or Proflie

[2020-11-04 02:38] jason-simmons commented on #69615
This is happening because the picture rendered by the `_HoudiniRenderObject` is being cached by the Flutter engine's raster cache.

The raster cache captures a bitmap of the picture by rendering it on a canvas initialized to a transparent background.  Blend modes that use the destination image will not work as expected when cached.

The app renders as expected if I add a call to `PaintingContext.s

[2020-11-04 02:41] whatscoder commented on #69392
Hi @TahaTesser
I got it, after running, you need to click the button named 'click' of the **FirstWidget**, push to the **SecondWidget**,  and then the exception log is shown in the console.
I have put all my code in a single `main.dart`, https://github.com/whatscoder/navigator_test.git, branch is `master`

exception logs:
[code]

[2020-11-04 02:44] YeungKC commented on #60670
Could not reproduce on the master branch and fixed at #66039, please close the issue.

cc @TahaTesser @yjbanov @gspencergoog

[2020-11-04 02:49] harleyGit opened #69737 "Real machine can't run in VSCode when I run Flutter"
My Xcode is upgraded to Xcode12, but my flutter project can run in Xcode, but it cannot run in vscode. When vscode is running on a real device, the black screen is stuck after the startup page pops up. Please help me, thanks.

Console print:
[code]

[2020-11-04 02:50] sianxz opened #69738 "Flutter engine iOS platform code for SystemNavigator.pop doesn't work in add-to-app scenario when using a UINavigationController to manage the FlutterViewController"
Scenario and fix is similar to https://github.com/flutter/flutter/issues/67103. We assume that the root VC is a UINavigationController in https://github.com/flutter/engine/blob/master/shell/platform/darwin/ios/framework/Source/FlutterPlatformPlugin.mm#L218.

I'll make a PR when I get the time.

[2020-11-04 02:52] jmagman opened #69739 "LUCI tasks failing with 401 AuthenticatedClientError URI: https://flutter-dashboard.appspot.com/api/update-task-status"
All the LUCI tests on [my PR](https://github.com/flutter/flutter/pull/69720) are failing
[code]
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8864599270237813584/+/steps/run_build_aar_module_test/0/stdout

[2020-11-04 02:58] NozirTukhtamurodov commented on #62138
Also just try to upgrade your Flutter. Then these problems should be solved

[2020-11-04 03:06] victormanuelfrancodev commented on #69476
I would like to be assigned to this issue
Thanks

[2020-11-04 03:06] CaseyHillers commented on #69739
Thanks Jenn for filing.

This looks related to a CL I had. I created a revert at  https://flutter-review.googlesource.com/c/recipes/+/8241. Once that lands and propagates these should go back.

I'll add this builder to our presubmit testing for recipes to prevent future breakages.

[2020-11-04 03:10] tvqphong001 commented on #69166
[code]

[2020-11-04 03:11] tvqphong001 commented on #69166
@pedromassangocode you can copy it and run

[2020-11-04 03:15] sidrao2006 commented on #69510
@ppb1701 , just to confirm, you didn't change anything else except for the branch. Am I correct?
Thanks

[2020-11-04 03:16] xy221150 commented on #69636
https://github.com/xy221150/img_list_demo.git
this is demo link

[2020-11-04 03:16] ppb1701 commented on #69510
that is correct.  I merely swapped branches, archived and uploaded.

[2020-11-04 03:21] Adnantjexx commented on #64184
where i find build folder directory

[2020-11-04 03:31] alianrock opened #69740 "flutter_test from sdk is forbidden."
Project flutter_test depends on flutter_test any from sdk, but why  flutter_test from sdk is forbidden when I run pub get, and get this:
[code]
How to change the flutter_test version  of my project? Thanks.

[2020-11-04 03:38] robert-wq commented on #69647
[✓] Flutter (Channel stable, 1.22.2, on Mac OS X 10.15.6 19G2021, locale zh-Hans-CN)
    • Flutter version 1.22.2 at /Users/jc/software/flutter
    • Framework revision 84f3d28555 (3 weeks ago), 2020-10-15 16:26:19 -0700
    • Engine revision b8752bbfff
    • Dart version 2.10.2
    • Pub download mirror https://pub.sankuai.com
    • Flutter download mirror https://storage.flutter-io.cn

[✓] Andro

[2020-11-04 03:43] #68391 closed

[2020-11-04 03:45] #60670 closed

[2020-11-04 03:55] nolyoi commented on #65334
I'm getting this error and my app was on 3.5.0.

Anyone else have any luck getting this working?

[2020-11-04 04:19] #69740 closed

[2020-11-04 04:20] #69701 closed

[2020-11-04 04:40] huihliu commented on #66627
Thanks !

On Tue, Nov 3, 2020, 18:07 Chris Yang <notifications@github.com> wrote:

[2020-11-04 04:51] Sameerkash commented on #68259
@Hixie  Thank you, I will check it out and follow it

[2020-11-04 05:19] alfred-risb commented on #39071
This issue has reported more than a year, but still no solution yet

[2020-11-04 05:26] darshankawar commented on #69359
@jhaymesdev
Given your last comment, I am going ahead and closing this as resolved.
Thanks.

[2020-11-04 05:26] #69359 closed

[2020-11-04 05:36] shlokjain2031 commented on #43733
did anyone find a solution?

[2020-11-04 05:40] darshankawar commented on #69643
@rkmax
When you say `install flutter manually`, were you pointing to [these](https://flutter.dev/docs/get-started/install/linux) instructions ?
Also, what Java openjdk version you had already before running Flutter after installation ?
I am trying to understand if by installing Flutter manually, which java openjdk version it points to, that causes this error.

[2020-11-04 05:53] darshankawar commented on #69170
@scaraux
I tried your updated code sample that has `webview_flutter` on latest stable using Android 8.1.0 device, but didn't see the freeze. Tried push and pop several times that worked properly.

[69170.mp4.zip](https://github.com/flutter/flutter/files/5485715/69170.mp4.zip)

What device does the freeze occur on ? Can you also try it on other devices and see if it persists ?

<details>
<summary>f

[2020-11-04 05:58] darshankawar commented on #67277
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-04 06:00] hu70258tao opened #69743 "bug inTextField when LengthLimitingTextInputFormatter"
如果输入框,限制了文本长度为n,当在软键盘上输入m个字符后,想要删除输入框的内容时,前m-n次点击删除键不会删除输入框内容,导致客户认为APP有问题.

[2020-11-04 06:06] darshankawar commented on #69664
@Jokernight
your pod file may not be in sync with the plugins you are using. Try following to see if it works.

`rm -rf ~/Library/Developer/Xcode/DerivedData`
`rm -rf ./ios/build`
`cd ios`
`pod deintegrate && pod cache clean --all`
`pod install`

If problem persists, please provide `pubspec.yaml`, `podfile`.

[2020-11-04 06:08] darshankawar commented on #69671
@nebnhoj
Can you try [this](https://github.com/flutter/flutter/issues/56567#issuecomment-626853824) and see if it works ?

[2020-11-04 06:10] ShengjieGeng opened #69744 "SingleChildScrollView maybe has some problems"
hello，it's my first flutter APP, When I use SingleChildScrollView widget, the console prints some log
[code]
![image](https://user-images.githubusercontent.com/18364968/98075399-4622f580-1ea7-11eb-856e-64f59046275a.png)

[2020-11-04 06:12] darshankawar commented on #69661
@lmr520
Seems your issue is resolved. I am going ahead and closing this. If you disagree or see similar issue again, write in comments and I'll reopen.
Thanks.

[2020-11-04 06:12] #69661 closed

[2020-11-04 06:13] hu70258tao commented on #67898
maxLength is 5 ,chilck 10 char from keyboard,nothing well happen when delete key click

[2020-11-04 06:16] AlexV525 commented on #67898
You might addressing another issue #67828 , which is solved and published in 1.22.3.

[2020-11-04 06:44] xu-baolin commented on #69743
Fixed via #67828 please get the latest code.
主干已经修复了 请更新你的flutter版本哈

[2020-11-04 06:48] vipuluthaiah opened #69746 "fatal: bad config line 1 in file .git/config Building flutter tool... Running pub upgrade..."
fatal: bad config line 1 in file .git/config
Building flutter tool...
Running pub upgrade...

$ flutter create matcher
fatal: bad config line 1 in file .git/config
Building flutter tool...
Running pub upgrade...
Invalid project name: 'matcher' - this will conflict with Flutter package dependencies.

$ dart --version
Dart VM version: 2.7.1 (Thu Jan 23 13:02:26 2020 +0100) on "windows_x64"

lcome@DE

[2020-11-04 06:48] jacobia21 opened #69747 "pub get failed (1; no message)"
I have consistently gotten this `pub get failed (1; no message)` when running flutter pub get for months now to no avail on Windows. Running on Mac works perfectly fine.

This is my `flutter pub get -v` output:

[code]

And `flutter doctor`

[code]

[2020-11-04 06:50] darshankawar commented on #69674
@ilkerokutman
I tried the official `url_launcher` plugin and built a release app of it using following commands and launched it on Android device 8.1.0, which worked fine. The app launched properly and I was able to use all the features of the example.

[code]

[69674.mp4.zip](https://github.com/flutter/flutter/files/5485901/69674.mp4.zip)

Can you provide a minimal complete reproducible code samp

[2020-11-04 07:00] pedromassangocode commented on #69611
Hi @bernaferrari
From what I can see, the issue is related to a FlutterFire plugin rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/FirebaseExtended/flutterfire/issues).
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yam

[2020-11-04 07:00] #69611 closed

[2020-11-04 07:03] pedromassangocode commented on #69560
I think that you can still get the crash logs from the console.

[2020-11-04 07:07] mohamedhasan2002 commented on #69560
![launch](https://user-images.githubusercontent.com/28563234/98079865-892a9c00-1e9a-11eb-9bdf-87f5e661ffbc.png)

@pedromassangocode

[2020-11-04 07:10] pedromassangocode commented on #69625
Hi @moda20
Can you please provide your `<project-dir>/android/gradle.properties` and `<project-dir>/android/app/build.gradle`?
Thank you

[2020-11-04 07:12] kamike commented on #67326
how to fixed it??

[2020-11-04 07:19] darshankawar commented on #69678
Issue replicable on latest stable. Steps to replicate:

1. Once map is rendered, drag the drawer.
2. Press `shift+command+h`.
3. Open the app from home screen to see the half dragged drawer is displayed.

<img width="378" alt="Screenshot 2020-11-04 at 12 42 16 PM" src="https://user-images.githubusercontent.com/67046386/98080390-60ef6d00-1e9b-11eb-97c3-513816b65188.png">

Replicable on iphone SE si

[2020-11-04 07:21] markusaksli-nc commented on #69679
Hi @johnwiese-ms
I see there's an open issue addressing the case you described https://github.com/flutter/flutter/issues/64104.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-11-04 07:21] #69679 closed

[2020-11-04 07:22] tedfire commented on #69564
Hi @pedromassango,

Here is the debug you requested: -

$ flutter doctor -v
[√] Flutter (Channel master, 1.24.0-7.0.pre.53, on Microsoft Windows [Version 10.0.18362.1139], locale en-US)
    • Flutter version 1.24.0-7.0.pre.53 at C:\Users\Ted\Documents\MY_Code\flutter
    • Framework revision ee5c080d7b (2 days ago), 2020-11-02 17:28:05 +0530
    • Engine revision 3460519398
    • Dart version 2.12

[2020-11-04 07:25] AyushBherwani1998 commented on #43887
@justinmc I think that would be a better option. Said that, the ThemeData.textSelectionColor is already deprecated and `TextSelectionThemeData.selectionColor` is not taken into consideration by iOS. Currently, it's really inconvenient because text selection color doesn't depend on the `CupertinoTheme`, and cursor color depends on `CupertinoTheme`.  I just had a hard time figure out what was going

[2020-11-04 07:26] cuongloveit opened #69748 "WebView: support attribute allowsLinkPreview for iOS"
In my case, I need to handle long click. But in iOS, when long click will show preview link popup

[2020-11-04 07:28] tedfire commented on #69564
Hi @pedromassango , there are no errors when running the application it fails silently. You can only see the error output if you inspect the variable.

[2020-11-04 07:31] pedromassangocode commented on #69552
Cc @jason-simmons

[2020-11-04 07:36] sidrao2006 commented on #69748
Hello @cuongloveit ,
Could you please post the output of `flutter doctor -v`, a detailed use case and proposal?
Thank you!

[2020-11-04 07:37] mohamedhasan2002 commented on #69560
Running "flutter pub get" in ChitChat-master...
Launching lib/main.dart on sdk gphone x86 arm in debug mode...
 lib/main.dart
Note: /home/hasan/snap/flutter/common/flutter/.pub-cache/hosted/pub.dartlang.org/file_picker-1.4.3+2/android/src/main/java/com/mr/flutter/plugin/filepicker/FilePickerPlugin.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
Note: /

[2020-11-04 07:45] markusaksli-nc commented on #69690
Hi @gaurav1903
Android embeddign v2 is summarized [here](https://flutter.dev/go/android-migration-summary). Have you followed the [migration guide](https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects)? What malfunctions are present after following the guide?
Thank you

[2020-11-04 07:46] TahaTesser commented on #69034
Hi @MarcinusX
I just cloned again and ran the commands without `generate: true`, without using any IDE, just from terminal
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-04 07:47] tudor07 commented on #69574
Mocking is not an option for me.

[2020-11-04 07:50] darshankawar commented on #69689
@SokHo
Cloned your repo and tapped on textfield to type in a message, but didn't notice the screen being rebuild.

[69689.mp4.zip](https://github.com/flutter/flutter/files/5486237/69689.mp4.zip)

Also try [this](https://github.com/flutter/flutter/issues/13325#issuecomment-349148641) and see what actually is triggering a rebuild in your case. And see [this](https://github.com/flutter/flutter/issues

[2020-11-04 07:52] markusaksli-nc commented on #69695
Closing this as fixed based on the last message

[2020-11-04 07:52] #69695 closed

[2020-11-04 07:55] sidrao2006 commented on #69746
Hey @vipuluthaiah , according to the logs, you are not on any channel.

Could you please try `flutter channel stable` (or beta, dev or master) and then try `flutter upgrade`

Thanks!

[2020-11-04 07:56] MarcinusX commented on #69034
@TahaTesser Yeah, and the whole thing is that `generate: true` is breaking it.

[2020-11-04 07:57] sidrao2006 commented on #69727
Hello @chenchunhao9125 ,
Could you please post the outputs of `flutter run -v` and `flutter doctor -v` and a complete minimal reproducible code sample?
Thank you!

[2020-11-04 07:57] nebnhoj commented on #69671
@darshankawar I will try this. Thank you.

[2020-11-04 07:58] vipuluthaiah commented on #69746
@sidrao2006 shall i delete my flutter sdk and re install?

[2020-11-04 08:00] sidrao2006 commented on #69746
@vipuluthaiah , as of now, I don't think that's required. Please the running the above mentioned commands.
Thanks!

[2020-11-04 08:00] darshankawar commented on #69697
@ventocilla
What Flutter version are you on ?
Can you try [this](https://github.com/flutter/flutter/issues/38435#issuecomment-520849347) and see if it works for you?

[2020-11-04 08:05] yash1200 commented on #69708
I would like to work on this issue.

[2020-11-04 08:08] pedromassangocode commented on #69166
Hi @tvqphong001
I cannot reproduce the issue on latest `master` channel.

This is the logs while I tried to type: `hello@world`. Notice that the @ was removed right after I typed it.

[code]

The logs from stable channel are slightly different but does not seems to reproduce the issue as well. Am I missing something?
<details><summary>Logs (stable channel)</summary>

[code]
</details>

<details><s

[2020-11-04 08:12] SalilThreeplus opened #69750 "rendering problem"

[2020-11-04 08:15] HangingClowns commented on #68766
Hello, was trying to replicate, and seems I found the issue:

[code]

When adding catcher, it seems to kill the app. Updating catcher to latest version seems to solve the issue 👎

https://github.com/jhomlala/catcher/commit/bfe0e5fa7a3d237959c686e391cdf9805cc59c9f

[2020-11-04 08:15] #68766 closed

[2020-11-04 08:22] darshankawar commented on #69705
@safield
Try above command and see if it works for you.

[2020-11-04 08:27] TahaTesser commented on #69034
@MarcinusX
I think you just said you can reproduce the issue without adding it too

[2020-11-04 08:27] GhagSagar23 opened #69751 "[tool_crash] ProcessException: Process exited abnormally "JSON text did not start with array or object and option to allow fragments not set.""
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ProcessException: ProcessException: Process exited abnormally:
Command line invocation:
    /Applications/Xcode_11.6.app/Contents/Developer/usr/bin/xcodebuild -list

2020-11-04 13:56:24.289 xcodebuild[44915:385831] Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fragme

[2020-11-04 08:28] daaniiieel commented on #68391
Thank you so much!

[2020-11-04 08:30] dmacan23 commented on #35960
I see that this is still an open issue. I suppose that the reason this feature isn't supported through Flutter officially yet is because iOS doesn't support HCE even natively. But if you want to have a HCE support for your Flutter app, you can always do it natively on Android and then hook it up to your Flutter app. I've wrote [an article](https://zeromolecule.com/blog/host-card-emulation-hce-with

[2020-11-04 08:31] darshankawar commented on #69721
@apinprastya
Can you upgrade to latest stable and try again to see if issue perists ?

[2020-11-04 08:34] TahaTesser commented on #69034
hI @MarcinusX
Thanks, I thought you can also reproduce the issue without adding

Just tried updating packages `flutter update-packages` (which I don't run often)   & `flutter clean` and I was able to reproduce the issue by adding `generate: true`

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-04 08:35] darshankawar commented on #69727
@chenchunhao9125
There's no description / details in the issue you created. When opening an issue, please provide a minimal reproducible code sample that we can use to replicate the issue you are facing along with a description of what you are trying to do along with expected behavior. Also provide `flutter doctor -v`.

[2020-11-04 08:38] pedromassangocode commented on #69636
Hi @xy221150
Please provide a code sample that does not contains third-party packages.
Thak you

[2020-11-04 08:42] liangtian123 commented on #64685
Any idea on how to resolve this problem?How get the image original filename？thinks！

[2020-11-04 08:52] TahaTesser commented on #69519
Hi @Tokol
To generate podfile, you need to add some ios plugin, I do see you have few party plugins, try adding those first in this new running example, see if those first-party packages like path_provider, connectivity from https://github.com/flutter/plugins cause any issue. If not, try third party packages,

Please isolate the code that might be causing this pod issue, I am also running `pod ver

[2020-11-04 08:58] helidong opened #69752 "iOS ,present StatefulWidget,just build Container"
════════ Exception caught by rendering library ═════════════════════════════════════════════════════
The following assertion was thrown during performLayout():
'package:flutter/src/rendering/view.dart': Failed assertion: line 164 pos 12: '_size.isFinite': is not true.

Either the assertion indicates an error in the framework itself, or we should provide substantially more information in this error

[2020-11-04 08:58] abelardolg commented on #69239
Thanks, @PixelToast !

I will be back to Codelab when this snippet issue had been fixed. :)

Best regards.

[2020-11-04 08:59] pedromassangocode commented on #69510
Hi @ppb1701
Are you able to run the project on simulator or physical iOS device?

[2020-11-04 09:01] azbuky commented on #69634
Yes.

Your solution is a good workaround for the time being, until the flutter team addresses the issue.

Note that the service worker is regenerated after every `flutter build web`

[2020-11-04 09:02] sidrao2006 commented on #69750
Hello @SalilThreeplus ,
Could you please post the outputs of `flutter run -v` and `flutter doctor -v` and a complete minimal reproducible code sample?
If you opened this by mistake,  please close the issue
Thank you!

[2020-11-04 09:05] xy221150 commented on #69636
The code to  remove third-party packages has been uploaded, please again to pull,Thank you

[2020-11-04 09:09] gayatri2610 commented on #27896
Hello guys,

I want to intercept HTTP requests in my fllutter application. I modified code in webview_flutter plugin.
In Android works properly But in IOS  i can't achieve this thing.
I use NSURLProtocol with WKWebview but i can't getting exact result.

Help me

[2020-11-04 09:11] escamoteur commented on #51752
I'm not sure what you wanna say with that. The hook approach that I also use with my get_it_mixin just makes the widget tree easier to read than using a Builder.

[2020-11-04 09:18] pedromassangocode commented on #69647
Cc @chinmaygarde @liyuqian

Note: it is required to update the Gradle URL in `<project-name>/android/gradle/wrapper/gradle-wrapper.properties` to run the project mentioned in the comment above to:
`distributionUrl=https://services.gradle.org/distributions/gradle-4.10.1-all.zip`

Somehow it give me error while trying to run the project.

[2020-11-04 09:18] Jin-0123 opened #69753 "[CupertinoDatePicker] When _scrollToDate() called, minuteInterval isn't applied properly."
## Steps to Reproduce
1. Set minuteInterval 5.
2. Select invalid minute in picker. (DateTime is not in the minimumDate through maximumDate range)
3. Auto scrolling don't work properly.

I set minuteInterval 5 In CupertinoDatePicker.
When _scrollToDate() called In Class `_CupertinoDatePickerDateTimeState`, minuteInterval in CupertinoDatePicker isn't applied properly.

**Expected results:**
if minut

[2020-11-04 09:18] TahaTesser commented on #69580
Hi @wildefucker
Thanks for filing the issue

Not sure iframe is supposed to work in canvaskit but I can see it's frozen when compiling with canvaskit in debug or release mode

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

[code]

</details>

[2020-11-04 09:18] ghenry commented on #32170
I know you advised (https://github.com/flutter/flutter/issues/32170#issuecomment-713764870) me to do the warm up on an iOS device, but it doesn't seem to make a difference. Android is fine warm up is fine. I think https://flutter.dev/docs/perf/rendering/shader#how-to-use-sksl-warmup should say this needs to be done on both an Android physical device and iOS physical device.

You can try the animat

[2020-11-04 09:33] darshankawar commented on #69729
Issue replicable on latest stable and only seems to be affecting iOS. On Android, same code works well without any issues.

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-04 09:39] hyejobs opened #69754 "Since video_player 1.0.0 was released, some versions do not build on Android."
Since video_player 1.0.0 was released, 1.0.0, 0.11.1+4, 0.11.1+5 versions do not build on Android.
It only works fine on iOS. So I fixed version to 0.11.1+2.
Is there anything I need to check to use the latest version?

## Steps to Reproduce

1. Update video_player version to 0.11.1+4 or later.
2. flutter clean and pub get and build on Android/iOS device.

**Expected results:**
It should be succes

[2020-11-04 09:44] MightyRai90 opened #69755 "iOS - not working when starting offline"
If you start Admob in Offline (Airplane) mode. Initialize Interstitial and Rewarded. Then switch to online.
Nothing works...

Really bad if a user has no internet at the start. And never receive ads until the next app (cold) start.

thanks!

[2020-11-04 09:53] harrisonturton opened #69756 "[Feature Request] Allow CuptertinoTabScaffold to have null CupertinoTabBar"
## Use case

I want to use a bottom sheet as the primary means to navigate between different sections of my app, analogously to a tab bar. I want each section to maintain it's own Navigator state, so I am using `CupertinoTabScaffold`. However, I do not need the `CupertinoTabBar` to be visible.

This would also make the API between `CupertinoTabScaffold` and `TabBarView` more consistent.

## Propos

[2020-11-04 09:57] darshankawar commented on #69743
Translation : If the input box, the text length is limited to n, when you want to delete the content of the input box after inputting m characters on the soft keyboard, the first mn clicks of the delete key will not delete the content of the input box, causing the customer to think that there is a problem with the APP .

[2020-11-04 10:01] darshankawar commented on #69743
@hu70258tao
Please switch and upgrade to latest master and try again to see the fix as mentioned by @xu-baolin .

[2020-11-04 10:07] adyking commented on #33245
Hi I would like to know the changes on the index.html too please?

[2020-11-04 10:10] darshankawar commented on #69744
@ShengjieGeng
Please read this document as to why you are getting the exception, especially below code:

[code]

Also Please see https://flutter.dev/community for resources. You may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please wri

[2020-11-04 10:10] #69744 closed

[2020-11-04 10:12] BansookNam commented on #60763
@siloebb It's working! Saved me Thanks 👍

[2020-11-04 10:13] ObserverMoment opened #69757 "Opening a flutter application on iOS device causes any other audio to stop playing (video_player cannot seem to play in background?)"
### Tested Devices
iPhone X iOS 14
iPad Pro 10" iOS 13.7

1. Play some audio / music on your device. Podcast (Apple), music (Spotify) - both the same result.
2. Open your flutter application.
3. The audio / music playing will cut out.

The issue is only present on initial launch of your flutter application - not if you switch back to the app when it is already open.

**See #44535**

**Running `flu

[2020-11-04 10:14] pawlowskim commented on #68426
We also have the same problem on production. We don't have any re-producible example.  Crash log: https://gist.github.com/pawlowskim/aac5f1f52dacf404dbbf1877c2da91f1
flutter: 1.22.2

[2020-11-04 10:14] ObserverMoment commented on #44535
Same issue - just re-posted #69757

[2020-11-04 10:18] darshankawar commented on #69746
@vipuluthaiah
Usually you'll get this error `fatal: bad config line 1 in file .git/config` if you haven't initialized `git` using `git init` command.
Check if you have cloned `flutter sdk` properly by following the instructions in the document.

[2020-11-04 10:19] pedromassangocode commented on #69560
Hi @mohamedhasan2002
Please make sure you follow the suggestion in the message logs:

[code]

Closing as this is not an issue with Flutter itself.

[2020-11-04 10:19] #69560 closed

[2020-11-04 10:20] YeungKC commented on #40740
I checked the code and found that it was affected by #14133, I'm working on that and hope to resolve the issue without affecting the #14133 target #10658.

[2020-11-04 10:20] shihaohong commented on #69541
Sorry about that, looks like the PR is still waiting to be merged: https://github.com/flutter/flutter/pull/68553

Once it is, the logs will disappear

[2020-11-04 10:21] #69667 closed

[2020-11-04 10:22] aflongo85 commented on #69667
It was a mistake from my end. Closing this

[2020-11-04 10:22] cv692001 commented on #69477
I have completed the changes but while pushing this it showing that commit history not same .
![Screenshot (81)](https://user-images.githubusercontent.com/64506066/98099546-b769a500-1eb5-11eb-82a3-02a593fad687.png)

[2020-11-04 10:23] vipuluthaiah commented on #69746
After git init
I tried
flutter create myapp
fatal: bad config line 1 in file .git/config Building flutter tool... Running pub upgrade

[2020-11-04 10:23] cv692001 commented on #69477
This can be because instead of cloning the forked repo I have downloaded zip and then did further changes . Please help !!

[2020-11-04 10:24] sohumwahi opened #69758 "Code signing "App.framework" failed."
Hi All,

I am new to flutter and trying to realise my first app on iOS however, i am facing this issue and try to resolve it since the past week.

1.After running "flutter build ios", the build and signing is successful
2.The project archive is also a success

(Issue)
**But when I click on validate App**. I get the below issue, I have spent  a lot of time and done a lot of debugging but could not

[2020-11-04 10:24] llucax commented on #60240
For what is worth, I followed the steps in https://stackoverflow.com/questions/63373245/how-to-add-debug-symbols-to-build-gradle (including the upgrade to `gradle-6.5-all.zip` in `android/gradle/wrapper/gradle-wrapper.properties`) and it worked for me. Of course this is not ideal as I had to use Android Studio to install NDK and CMake tools manually (which I guess it will be a problem when I want

[2020-11-04 10:25] TahaTesser commented on #69737
Hi @harleyGit
Are you experiencing it from the terminal as well?
Can you please provide your `flutter doctor -v` your `flutter run --verbose`
Thank you

[2020-11-04 10:26] pedromassangocode commented on #69564
Hi @tedfire
Are you able to reproduce the issue by using Android Studio? Just to make sure it is not the debugger going crazy.

[2020-11-04 10:31] darshankawar commented on #69747
@jacobia21
Can you try [this](https://github.com/flutter/flutter/issues/63112#issuecomment-691620053) solution and see if it works for you?
Thanks.

[2020-11-04 10:31] nitneuq33000 opened #69759 "Impossible to test a purchase on iOS"
Hello, I try the example from in app purchase git, I use my bundle id, my purchase is display and work great on android when I clic on the product button. but on my iOS device I have nothing... no error, just nothing, even in the sandbox testfly. Perhaps It's normal to not show pop up to test purchase before production, but don't found the information.

I add capability of in app puchase in Xcode

[2020-11-04 10:32] shihaohong commented on #68291
Just circling back to this to confirm that Irish (ga) is not a supported Android language.

However, if you want to support it, you could [write your own custom localizations delegate to support it](https://flutter.dev/docs/development/accessibility-and-localization/internationalization#adding-support-for-a-new-language).

[2020-11-04 10:33] vishalsinghpoker commented on #56810
we also have the similar issue about event in samsung devices like a50, note etc
when we open the website in chrome its working fine but when open in webview in flutter app, UI also distorted and event not working properly.

[2020-11-04 10:43] phackwer commented on #63500
If you are using AWS as CDN you can setup the file to be sent with expired headers. Check with the service you use and make this file to be sent always as expired. All services support this kind of feature

https://www.google.com/search?q=setting+cdn+header+to+expire+a+specific+file&oq=setting+cdn+header+to+expire+a+specific+file&aqs=chrome..69i57.17706j0j1&sourceid=chrome&ie=UTF-8

[2020-11-04 10:43] ppb1701 commented on #69510
It runs on both

[2020-11-04 10:44] phackwer commented on #63500
Here is an interesting post about it:

https://www.keycdn.com/support/http-caching-headers#exclude-specific-assets-from-being-cached-using-nginx

[2020-11-04 10:44] phackwer commented on #63500
Another for Azure

https://docs.microsoft.com/en-us/azure/cdn/cdn-manage-expiration-of-cloud-service-content

So, check with the service you use.

[2020-11-04 10:44] pedromassangocode commented on #69636
Hi @xy221150
I'm getting lots of exceptions running your code. But cannot reproduce the issue

[code]

[2020-11-04 10:47] darshankawar commented on #69748
Longpressing on webview shows preview link popup as below:

<img width="394" alt="Screenshot 2020-11-04 at 4 13 29 PM" src="https://user-images.githubusercontent.com/67046386/98102084-25fc3200-1eb9-11eb-8b9b-7d2f212d863e.png">

[2020-11-04 10:49] darshankawar commented on #69750
@SalilThreeplus ,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2020-11-04 10:49] #69750 closed

[2020-11-04 10:49] pedromassangocode commented on #69510
Would help if you could provide a code that are using those fonts.

Initially I thought this was related to the following regression: https://github.com/flutter/flutter/issues/6966 but it seems to be related to web only.

Cc @chinmaygarde

[2020-11-04 10:51] ObserverMoment commented on #69757
Looks like this was being caused by a video player launching on startup

[2020-11-04 10:53] darshankawar commented on #69751
@GhagSagar23
Can you upgrade to latest stable and try again to see if it works ?
Thanks.

[2020-11-04 10:54] darshankawar commented on #69752
@helidong
Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue.
Thanks.

[2020-11-04 10:54] TahaTesser commented on #69687
Hi @mploigt
You pushing routing, not sure it would trigger the autofill save. your code doesn't work on Android either
Please look at this https://github.com/flutter/flutter/issues/69111
I see there's an open issue addressing the case you described.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank

[2020-11-04 10:54] #69687 closed

[2020-11-04 10:57] darshankawar commented on #69753
@Jin-0123
Please provide a complete minimal reproducible code sample that shows the issue you are facing.
Thanks.

[2020-11-04 11:04] ilkerokutman commented on #69674
I copied my project, cleared irrelevant code and renamed branding strings and replaced images.
[https://github.com/ilkerokutman/example_url_launcher](url)

Also published to Google Play Open Testing..
I will update link when reviewing completed.

[2020-11-04 11:04] M0Sharif commented on #67901
I had Java-10.0.2 for work so I thought I was set
I kept getting the same error here so I downloaded jre-1.8 https://www.oracle.com/uk/java/technologies/javase/javase-jdk8-downloads.html

set the JAVA_HOME and PATH to the jre

this worked for me 🤷‍♂️ new to java so I have no idea what I'm doing

[2020-11-04 11:08] abhijain2472 commented on #59427
Thank you. It works for me too. 👍

[2020-11-04 11:11] pedromassangocode commented on #69756
Cc @HansMuller

[2020-11-04 11:11] darshankawar commented on #69754
@hyejobs
Tried `0.11.1+4`, `0.11.1+5` plugin versions on Android 8.1.0 device using latest stable (1.22.3) and was able to compile and run app without any issues.
I noticed that the latest `video_player` version `^1.0.0` is just released today (Nov 4) and there are no details in the [changelog](https://pub.dev/packages/video_player/changelog) yet, but I'd wait for couple of days for the team to up

[2020-11-04 11:13] sturmf opened #69760 "Allow different base href in index.html for flutter web app for build"
## Use case

If I want to release my flutter web app I run `flutter build web`. Unfortunately I then need to deploy my app to a non root URL e.g. http://server.org/myapp/ and therefore I have to manually correct the base href in the index.html
I would like to set the base href e.g. in the build command something like this "flutter build web -Dhref=/myapp/ or similar.

Of course I can always post p

[2020-11-04 11:14] ObserverMoment commented on #69757
Looks like this is fixed in newer versions of video_player and using the mixWithOthers option flag

[code]

Closing this one.

[2020-11-04 11:14] #69757 closed

[2020-11-04 11:16] Jin-0123 commented on #69753
<script src="https://gist.github.com/Jin-0123/0c0558548e5924cfcaad47e2db4b85a9.js"></script>

[2020-11-04 11:16] darshankawar commented on #69755
@MightyRai90
I am assuming you are using `firebase_admob` to implement ads. If yes, it seems to be an issue with the plugin and you may need to open this issue here : https://github.com/FirebaseExtended/flutterfire/issues
Closing this from here. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-11-04 11:16] #69755 closed

[2020-11-04 11:16] #67901 closed

[2020-11-04 11:19] Jin-0123 commented on #69753
* https://gist.github.com/Jin-0123/0c0558548e5924cfcaad47e2db4b85a9

[code]

[2020-11-04 11:19] takinok commented on #69431
I'm facing totally same exception.
Trigger of exception is not same as you. But this might be hint to solve this problem.
https://github.com/AndreHaueisen/flushbar/issues/161

[2020-11-04 11:20] xy221150 commented on #69636
you can try in ios/Runner/info.plist add below dictionary definition
`<key>NSAppTransportSecurity</key>
<dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
</dict>`

[2020-11-04 11:21] pedromassangocode commented on #69758
Hi @sohumwahi
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the

[2020-11-04 11:21] #69758 closed

[2020-11-04 11:27] sohumwahi commented on #69758
Hi @pedromassangocode,

I am righting to this portal because the app is running well on iOS simulators and android device, thus the project code doesn't seem to be an issue.

This happens when we try to validate the generated archeive, that the app.framework(Flutter core library) is causing a signing issue.

[2020-11-04 11:31] henry2man commented on #69686
@renecum Probably this is a duplicate of #65936 and should be closed. Regards.

[2020-11-04 11:32] TahaTesser commented on #69738
Hi @sianxz
Can you please provide your `flutter doctor -v` and a complete reproducible minimal code sample
Thank you

[2020-11-04 11:35] Jokernight commented on #69664
@darshankawar

Not working either.

Here is the PodFile :

[code]

And here is the pubspec :

[code]

[2020-11-04 11:48] darshankawar commented on #69722
@wer32
I verified on both versions (1.22.3 and 1.20.4), but saw similar observatory ports:

[code]

So not sure if what you are seeing is an expected behavior.

[2020-11-04 11:50] xy221150 commented on #69636
[IMG_2339.zip](https://github.com/flutter/flutter/files/5487548/IMG_2339.zip)
This is the demo video,which performs very badly

[2020-11-04 11:51] TahaTesser commented on #56810
Could everyone who still has this problem please file a new issue with the exact description of what happens, logs, and the output of `flutter doctor -v`.
All system setups can be slightly different, so it's always better to open new issues and reference related issues.

[2020-11-04 11:58] MrUnfunny commented on #69477
I don't think downloading zip will work. You should read [this](https://github.com/flutter/flutter/wiki/Setting-up-the-Framework-development-environment) to properly setup the environment.

[2020-11-04 12:05] pedromassangocode commented on #67879
Cc @liyuqian

[2020-11-04 12:13] TahaTesser commented on #69559
<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-04 12:19] pedromassangocode commented on #66904
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:19] #66904 closed

[2020-11-04 12:20] darshankawar commented on #69746
@vipuluthaiah
You can't directly run `flutter create` command after git init.  Do you have the Flutter sdk installed already ? Have you run `flutter doctor -v` and switched to a valid Flutter version ?

[2020-11-04 12:20] jacobia21 commented on #69747
Hm, I thought I had tried this solution before but just tried again and it worked. Thanks!

[2020-11-04 12:20] pedromassangocode commented on #48678
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:20] #48678 closed

[2020-11-04 12:21] pedromassangocode commented on #67771
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:21] #67771 closed

[2020-11-04 12:22] pedromassangocode commented on #67759
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:22] #67759 closed

[2020-11-04 12:22] pedromassangocode commented on #67805
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:22] #67805 closed

[2020-11-04 12:23] pedromassangocode commented on #67814
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:24] pedromassangocode commented on #67817
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:24] #67817 closed

[2020-11-04 12:24] pedromassangocode commented on #67850
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:24] #67850 closed

[2020-11-04 12:25] pedromassangocode commented on #67890
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:25] #67890 closed

[2020-11-04 12:25] vipuluthaiah commented on #69746
@sidrao2006
flutter channel stable
fatal: bad config line 1 in file .git/config
Building flutter tool...
Running pub upgrade...
Could not resolve URL "https://pub.dartlang.org".
Error (69): Unable to 'pub upgrade' flutter tool. Retrying in five seconds... (9 tries left)
Running pub upgrade...
Could not resolve URL "https://pub.dartlang.org".
Error (69): Unable to 'pub upgrade' flutter tool. Retryi

[2020-11-04 12:25] pedromassangocode commented on #67815
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:25] #67815 closed

[2020-11-04 12:25] pedromassangocode commented on #67902
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:25] #67902 closed

[2020-11-04 12:26] pedromassangocode commented on #67904
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:26] #67904 closed

[2020-11-04 12:27] pedromassangocode commented on #67804
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:27] #67804 closed

[2020-11-04 12:27] pedromassangocode commented on #59448
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:27] #59448 closed

[2020-11-04 12:28] darshankawar commented on #69753
@Jin-0123
I ran your code sample, but still don't understand what exactly the issue is. Can you provide video of the issue.
Thanks.

[2020-11-04 12:30] MehmetAtabey commented on #44435
I have the same issue. How did you guys solve it ?  There is no any solution in any topic about this.

[2020-11-04 12:31] darshankawar commented on #69664
@Jokernight Although it sounds a bit tedious, but I see quite a few 3rd party plugins. You may try to remove every 3rd party plugin one by one, run the command and see if any of those plugins could be causing the issue. This is just to confirm and segregate the issue further.

[2020-11-04 12:32] darshankawar commented on #69747
@jacobia21
Glad to know it worked. I am going ahead and closing this as resolved.

[2020-11-04 12:32] #69747 closed

[2020-11-04 12:32] AcmeField commented on #65995
**This example is going to flash back**
**IOS 14+**
**FLutter :1.22.0**
**image_picker version: ^0.6.7+4**
`
import 'dart:async';
import 'dart:io';

import 'package:flutter/foundation.dart';
import 'package:flutter/material.dart';
import 'package:image_picker/image_picker.dart';

void main() {
  runApp(MyApp());
}

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext conte

[2020-11-04 12:32] prasanthlrb opened #69762 "[tool_crash] ProcessException: Process exited abnormally:xcodebuild: error: Scheme Runner is not currently configured for the build action. Command: /usr/bin/env, OS error code: 66"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ProcessException: Process exited abnormally:
xcodebuild: error: Scheme Runner is not currently configured for the build action. Command: /usr/bin/env, OS error code: 66
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.7+7
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**

[2020-11-04 12:34] Jokernight commented on #69664
@darshankawar

I did something else, I have created a new project with the last stable version, implemented all the plugins and migrate my Dart code and the app is building, I think we can stop searching on this issue.

Thanks for your help and time !

[2020-11-04 12:36] ThexXTURBOXx commented on #69431
@takinok Which device and firmware/Android version are you using? This may help investigating the issue further.

[2020-11-04 12:36] 6a209 opened #69763 "TabController addListener invoked multiple times when switching tab index"
i found is framework code call twice ~

source code link => [https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/tab_controller.dart#L210](url)

if duration != null notifyListeners() will call twice?
the source code is here ⬇️
[code]

[2020-11-04 12:36] darshankawar commented on #69746
@vipuluthaiah
Can you show where have you installed Flutter sdk ? Are you on Windows ?
Do you see below folders inside `flutter` folder when you installed it ?

<img width="308" alt="Screenshot 2020-11-04 at 6 05 18 PM" src="https://user-images.githubusercontent.com/67046386/98112517-58615b80-1ec8-11eb-9911-85cd89b92ccc.png">

If so, from `flutter` folder path, can you run `git checkout stable` an

[2020-11-04 12:37] pedromassangocode commented on #67830
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:37] #67830 closed

[2020-11-04 12:37] pedromassangocode commented on #66887
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:37] #66887 closed

[2020-11-04 12:38] pedromassangocode commented on #67597
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:38] #67597 closed

[2020-11-04 12:38] pedromassangocode commented on #67836
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:38] #67836 closed

[2020-11-04 12:38] darshankawar commented on #69664
Closing this as resolved per above comment.

[2020-11-04 12:38] #69664 closed

[2020-11-04 12:39] pedromassangocode commented on #67503
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:39] #67503 closed

[2020-11-04 12:39] pedromassangocode commented on #67929
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:39] #67929 closed

[2020-11-04 12:40] pedromassangocode commented on #67945
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:40] #67945 closed

[2020-11-04 12:40] pedromassangocode commented on #67994
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:40] #67994 closed

[2020-11-04 12:41] pedromassangocode commented on #67955
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:41] #67955 closed

[2020-11-04 12:41] pedromassangocode commented on #67982
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:41] #67982 closed

[2020-11-04 12:42] sm2017 commented on #69035
@darshankawar @joeyda3rd  I have similar problem I want to show tab bar in middle of page without appbar my `TabBarView` crashed with

[code]

Why the following code not works?

[code]

[2020-11-04 12:42] pedromassangocode commented on #19407
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:42] #19407 closed

[2020-11-04 12:42] pedromassangocode commented on #67978
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:42] #67978 closed

[2020-11-04 12:43] pedromassangocode commented on #67073
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:43] #67073 closed

[2020-11-04 12:43] ylrs opened #69764 "flutter engine gclient sync error"
`
________ running 'cipd ensure -log-level error -root /Users/zhulongfei/Documents/Flutter/engine -ensure-file /var/folders/pr/s351rqx91ss6pq24ph_566fh0000gn/T/tmpr_7q3b82.ensure' in '.'
Errors:
  failed to resolve fuchsia/third_party/clang/mac-amd64@git_revision:7e9747b50bcb1be28d4a3236571e8050835497a6 (line 4): prpc: when sending request: Post "https://chrome-infra-packages.appspot.com/prpc/cipd

[2020-11-04 12:43] ylrs commented on #69764
why?

[2020-11-04 12:43] erikseifert commented on #68459
No. Every possible environment crashes on ubuntu 20.10. Try web|chrome|linux.

Android emulator works like expected.

[2020-11-04 12:43] pedromassangocode commented on #67979
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:43] #67979 closed

[2020-11-04 12:44] pedromassangocode commented on #68031
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:44] #68031 closed

[2020-11-04 12:45] pedromassangocode commented on #68085
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:45] #68085 closed

[2020-11-04 12:45] vipuluthaiah commented on #69746
Been using flutter 6 months
From yesterday i am.facing this issue

[2020-11-04 12:45] pedromassangocode commented on #68082
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:45] #68082 closed

[2020-11-04 12:46] pedromassangocode commented on #36517
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:46] #36517 closed

[2020-11-04 12:46] pedromassangocode commented on #67713
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:46] #67713 closed

[2020-11-04 12:47] pedromassangocode commented on #68099
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:47] #68099 closed

[2020-11-04 12:48] pedromassangocode commented on #68101
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-11-04 12:48] #68101 closed

[2020-11-04 12:53] pedromassangocode commented on #69758
Hi @sohumwahi
Can you please provide the logs?

[2020-11-04 12:54] Jin-0123 commented on #69753
![4249086321](https://user-images.githubusercontent.com/11645833/98114211-3ed00c00-1ee8-11eb-8976-7d06cc686b0b.GIF)

**Expected** If current time is 21:51 and selected time is 21:35(21:51 is not in the minimumDate), picker should scroll 21:55.
**Actual** if current time is 21:51 and selected time is 21:35(21:51 is not in the minimumDate), picker scrolls to 21:10.

[2020-11-04 13:07] sohumwahi commented on #69758
Hi @pedromassangocode
Please see the attached screenshot and logs:

2020-11-04 13:02:43 +0000  Writing entitlements for <IDEDistributionItem: 0x7fd05cdb9e80; bundleID='io.flutter.flutter.app', path='<DVTFilePath:0x7fd05cf89140:'/Users/sohumwahi/Library/Developer/Xcode/Archives/2020-11-04/Runner 04-11-20, 6.32 PM.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework'>', codeSigningInf

[2020-11-04 13:08] novas1r1 commented on #43620
Same issue for me on windows since flutter 1.22

[2020-11-04 13:11] pedromassangocode commented on #69636
Hi @xy221150
I'm still not able to reproduce the issue.

![gif](https://user-images.githubusercontent.com/67424416/98115237-cbf27100-1ea6-11eb-8b4a-bb2057ea76ad.gif)

Are you able to reproduce the issue on Simulator as well?
Can you provide more information related to your Physical device?

[2020-11-04 13:12] wer32 commented on #69722
HI @darshankawar,
Please note that on the screen above I specified port 8888 and as a result, I got http://127.0.0.1:8888/ws on SDK 1.20.4 that was my goal.
<img width="1079" alt="run arguments" src="https://user-images.githubusercontent.com/262981/98115447-74cfaa80-1e6c-11eb-8867-21720f69dacb.png">

With SDK 1.22.3 it chooses a random port. For me, that looks like broken logic, please correct me

[2020-11-04 13:14] pedromassangocode commented on #69758
Please provide the complete log. You can attach it in a .txt if GitHub is complaining about the text size.

[2020-11-04 13:17] TahaTesser commented on #69528
Hi @nt4f04uNd
Adding the following, I can compile engine,  `systemNavigationBarDividerColor` variable doesn't exist  this class  so i  provided hardcoded value in this class
[code]

However, it'snot working even when changing min SDK and providing systemNavigationBarDividerColor value in mind.art

![flutter_01](https://user-images.githubusercontent.com/48603081/98116215-015e8500-1ece-11eb-93d5-fe6

[2020-11-04 13:24] xy221150 commented on #69636
![IMG_AA13A86F6E2D-1](https://user-images.githubusercontent.com/34728569/98116896-eac32880-1ee3-11eb-8d62-883b2bd8abb9.jpeg)
This my device info,I'm running is profile mode

[2020-11-04 13:25] TahaTesser commented on #67219
Hi @ganeshrvel  @dnfield
I can confirm  https://github.com/flutter/flutter/pull/69724 fixes this issue

### With PR (checked  locally `git fetch upstream pull/69724/head:drag_build` & `git checkout drag_build`)

#### Preview
![ezgif com-gif-maker](https://user-images.githubusercontent.com/48603081/98116978-1982d400-1ecf-11eb-8514-3c8966fbfd53.gif)

[code]

### Latest `master` channel

#### Preview

[2020-11-04 13:26] Mimzeslami commented on #50723
I've got the same problem. I just ran "flutter clean"

[2020-11-04 13:27] xy221150 commented on #69636
I can't replicate this problem in the simulator

[2020-11-04 13:28] adityaAJjadon commented on #66800
hey @rohan1234
i too have same issue and when i looked into it actually it auto imported **dart.js**  which when i removed, the problem got solved. you can try it!!

[2020-11-04 13:32] shadysamir opened #69765 "Hot reload causes Out of memory crash and platform errors on Android"
I have been seeing custom request errors during hot reload and hot restart. After a number of hot reloads the app crashes with out of memory error.
## Steps to Reproduce
flutter run --debug
hot reload (a couple of times)

With every reload I receive:
[code]
Then I receive an out of memory error and the app crashes:
[code]

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-11-04 13:36] mkustermann commented on #69765
@flutter-symbolizer-bot

[2020-11-04 13:37] TahaTesser commented on #15401
I can confirm the issue is fixed
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Closing as fixed

[2020-11-04 13:37] #15401 closed

[2020-11-04 13:39] xy221150 commented on #69636
This problem occurs whenever an app is installed using a new emulator
![Jietu20201104-213456](https://user-images.githubusercontent.com/34728569/98118393-1f37e400-1ee6-11eb-80c8-7e92798dde09.gif)

[2020-11-04 13:39] mkustermann commented on #69765
@flutter-symbolizer-bot flutter#8874f21e79 engine#a1440ca392 https://github.com/flutter/flutter/issues/69765#issue-736118001 x86 debug

[2020-11-04 13:42] perclasson opened #69766 "Add theme for the PaginatedDataTable and bring it up to Material specs"
## Use case

Let us theme the PaginatedDataTable and bring it up to Material specs.

## Proposal

- Add a theme for the PaginatedDataTable
- Bring it up to Material specs by:
  - Replace usages of accentColor with colorScheme.secondaryColor
    - https://flutter.dev/go/material-theme-system-updates
  - Make sure RTL works with the Table

[2020-11-04 13:47] safeDev15 commented on #69026
[flutter_test_pos_for_Flutter_Team.zip](https://github.com/flutter/flutter/files/5488144/flutter_test_pos_for_Flutter_Team.zip)
I attached the project. Please, give me support. Thank you!

[2020-11-04 13:50] AzzaHadded opened #69767 "[tool_crash] FileSystemException: Cannot copy file to 'C:\Users\user\Desktop\flutter\workshop0\android\app\src\main\res\mipmap-mdpi\ic_launcher.png', OS Error: Access is denied., errno = 5"

[2020-11-04 13:51] takinok commented on #69431
I updated my post. Please check following.
https://github.com/AndreHaueisen/flushbar/issues/161

[2020-11-04 13:58] darshankawar commented on #69753
Tried with current time as 19:24 and selected time 19: 20  which takes me to `19:40`

[69753.mp4.zip](https://github.com/flutter/flutter/files/5488174/69753.mp4.zip)

[2020-11-04 14:01] darshankawar commented on #69746
@vipuluthaiah
Can you provide `.git/config` ?

[2020-11-04 14:05] kapiltewari commented on #67879
I'm sorry, that was get closed by mistake.

[2020-11-04 14:08] kapiltewari commented on #67879
Sorry, this was get closed by mistake.

[2020-11-04 14:11] Technogeekpro opened #69768 "Directory listing failed, path = '/storage/emulated/0/MAster Save/Instagram/' (OS Error: No such file or directory, errno = 2)"
My app getting this error I have to create the Directory myself.
**I also create the directory programmatically**

` void initState() {
    super.initState();
    if (!dir.existsSync()) {
      dir.createSync(recursive: true);
    }
    if (!thumbDir.existsSync()) {
      thumbDir.createSync(recursive: true);
    }
  }`

[2020-11-04 14:11] mit-mit opened #69769 "Update pinned Flutter dependencies to 2.12 Dart SDK packages"
Once we resolve https://github.com/dart-lang/sdk/issues/44031, we need to roll the pinned Flutter package dependencies to pick up these new 2.12-enabled versions.

[2020-11-04 14:12] mit-mit opened #69770 "Roll pinned deps to Dart 2.12-enabled packages"
Once we resolve https://github.com/dart-lang/sdk/issues/44031, we need to update the pinned Flutter package dependencies to pick up these Dart 2.12 enabled packages.

[2020-11-04 14:14] joniaiuser commented on #12920
Any chance if the iOS experience will be incorporated into Flutter natively?

[2020-11-04 14:15] Jin-0123 commented on #69753
in terms of you case, I thought it should be 19:25. not 19:40 🤔

[2020-11-04 14:19] mit-mit opened #69771 "Update Flutter packages to a Dart 2.12 SDK constraint"
Currently the Flutter packages (e.g. `flutter_test`) are using Dart 2.10 SDK lower constraints. After we rolled to Dart 2.12, this triggers pub warnings:
[code]

Issue https://github.com/dart-lang/sdk/issues/44031 tracks resolving that for all Dart core packages. The present bug tracks resolving it for Flutter packages (both the ones shipped in the Flutter SDK, and the ones shipped on pub.dev).

[2020-11-04 14:22] diego-lipinski-de-castro opened #69772 "Keyboard type doesnt change"
I have two inputs, the first is a default text input, the second one is a number only input, so I use KeyboardType.number, the problem is that when I change focus the keyboard type doesnt change automatically

![video](https://user-images.githubusercontent.com/29608698/98122982-0e5c8380-1e90-11eb-93a0-89c203cef16e.gif)

[2020-11-04 14:24] #69768 closed

[2020-11-04 14:24] Technogeekpro commented on #69768
I initialize createSync() at the root level and problem is solved

[2020-11-04 14:26] ShohidulProgrammer commented on #7032
you can add SingleChildScrollView with reverse = true

[2020-11-04 14:37] ManojDvs commented on #56548
hi @michael-ottink did you solve this issue ?

[2020-11-04 14:44] mohadel92 commented on #69188
i have the same issue but on ios 14.1 the app crashes when i choose an image for the next time.
in the first picking , the image is picked and sent to the backend . but on the second select the app crashes throwing no errors

[2020-11-04 14:52] TahaTesser commented on #45086
Hi @tianlin95310
Code you provided incomplete and is outdated, Can you please provide your `flutter doctor -v`  and a complete reproducible minimal code sample in a repository
Thank you

[2020-11-04 14:56] ManojDvs commented on #56548
@inceptusp
i have that super.config line in my code, but sometimes my webview gives me this error , " MissingPluginException(No implementation found for method loadUrl on channel plugins.flutter.io/webview_6) ". can you help me .

[2020-11-04 14:59] ThexXTURBOXx commented on #69431
Thank you, updated also the issue

[2020-11-04 14:59] ventocilla commented on #69697
Hi,

I don´t know which Flutter version I'm on. No commands are available.
But I can tell that yestoday, I did again the flutter installation process using git clone command: git clone https://github.com/flutter/flutter.git -b stable
So I understand that I´m on the lastest version.

Today (04/11), I run command according to the link ( git checkout stable ),, but It still shows the same error. I ru

[2020-11-04 14:59] EthanDevelops opened #69773 "When I have IntelliJ IDEA Community Edition & Android Studio running "flutter doctor" gives me errors"
I am on the newest version of flutter and android studio. And have the most up-to-date official Flutter And Dart plugins in Android Studio. I am running Windows 10, and have  IntelliJ IDEA Community Edition installed on my system.

Here is my output for 'flutter doctor':

[code]

I belive what is causing the issue is my installation of  IntelliJ IDEA Community Edition installation, as it and Andro

[2020-11-04 15:00] philip-brink opened #69774 "Draggable with a descendent containing an onTap() throws exception on Web when dragging"
## Description
When on web, a Draggable or LongPressDraggable with a child containing an onTap() method will throw an exception  and fail to update when starting to drag. It is also not possible to exit the dragging state, and the application will need to be restarted.

See the example on [DartPad](https://dartpad.dev/735826b25e379deb10d3d3769057b23f).

This issue possibly relates to issues #66887

[2020-11-04 15:01] MickaelDuprat commented on #67608
Hi, I have the same issue too @JeetBhattachariya can you tell me how were you able to solve it?
Thank you

[2020-11-04 15:03] TahaTesser commented on #69763
Hi @6a209
It is calling it whenever `indexIsChanging` is changing based on a quick look
Not sure what's the issue is, can you please provide more details

[2020-11-04 15:09] acoutts commented on #66832
I've had the same issue myself. Breakpoints not working.

[2020-11-04 15:10] TahaTesser commented on #69764
Hi @ylrs
Based on the logs, looks some sort of connectivity issue, make you've stable internet,  update` src/flutter` repo, make sure there is no firewall or protected network blocking your network or any VPN

[2020-11-04 15:12] TahaTesser commented on #69767
Hi @AzzaHadded
Your issue is missing necessary details from the crash report, look at this https://github.com/flutter/flutter/issues/69762
Please file a new issue and exactly copy generated crash report
Thank you

[2020-11-04 15:12] #69767 closed

[2020-11-04 15:21] franarolas commented on #33245
It is server side, you can't control that in Flutter, you should try to point all routes to the index.html on your http server, usually apache or nginx.
I may implement that on the next days so as soon I've it I will share it here.

[2020-11-04 15:32] willlarche commented on #69510
Hi! Thank you for reporting this. I thought we had fixed it for good but I guess something has changed on Apple's side. I'll look into this right away.

[2020-11-04 15:34] creativecreatorormaybenot commented on #33245
Usually Express.

[2020-11-04 15:36] sidrao2006 opened #69775 "Update flutter wiki's render speed test page"
The e2e package has been discontinued.

So as to prevent confusion, the render speed performance test page could either be modified to use the integration_test package or be removed altogether

[2020-11-04 15:36] creativecreatorormaybenot commented on #33245
Usually Express.js.

[2020-11-04 15:40] TahaTesser commented on #69765
Hi @shadysamir
Just tried to reproduce in a new project (without using any additional packages), ran hot reload 40-50 times, couldn't make the crash. on x86 emulator.

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please provide  a complete reproducible minimal code sample
Thank you

[2020-11-04 15:43] TahaTesser commented on #69774
<details>
<summary>complete code sample</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>multiple flutter doctor -v</summary>

[code]

[code]

</details>

[2020-11-04 15:50] vj12354 opened #69776 "Exception caught by rendering library"
**Here is my code:**
`
@override
  Widget build(BuildContext context) {
    var widget;
    var children2 = <Widget> [
      Expanded(child: widgetLeft()),
      Expanded(child: widgetCentre()),
      Expanded(child: widgetRight()),
    ];
    if (maxWidth > 500) {
      widget = Row (children: children2,);
    } else {
      widget = Column(children: children2,);
    }
    return Container( child

[2020-11-04 16:07] zanderso commented on #69586
This recovered in https://github.com/flutter/flutter/commit/bf94fa072d4eca3e9ebcecde044874384b157f0c

[2020-11-04 16:07] #69586 closed

[2020-11-04 16:09] clearnetinc commented on #54970
I am experiencing the same error. It only happens when i try to load image or add image using camera. I will enter the code below. I am new to Flutter and App Dev so please bare with me.

Users are to upload images for their profile page on the app.

I followed answers here bu they all dont work for me

**CODE Snippet** This is my Upload.dart page

[code]

ERROR MESSAGE: I only happens when i try

[2020-11-04 16:21] anubhavsinghgtm commented on #39645
please share the whole code my _controller is giving some error

[2020-11-04 16:22] Tony-Akani commented on #69522
Hello, I am a new in flutter Dev and I wanted to run an app that I bought the source code, can you explain in detail, am I missing a dependency or something?

[2020-11-04 16:36] Legolaszstudio opened #69777 "java.lang.Exception at IOClient.send(io_client.dart:62)"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows:
[code]
Also add these to AndroidManifest:
[code]

3. Running this code works exactly as expected every time I run it, but fails to run when used in a background isolate with android_alarm manager nearly every time.
[code]

**Expected results:**
Get the data I'm trying to HTTP post.

**Actual results:**
Get the foll

[2020-11-04 16:37] mit-mit commented on #69771
Whomever ends up working on this, should probably coordinate with @jakemac53 and @natebosch who are working on this for Dart-owned packages (via https://github.com/dart-lang/sdk/issues/44031)

[2020-11-04 16:37] HansMuller commented on #69708
We'd prefer to eliminate ButtonBar altogether. Some progress has been made already:

Use OverflowBar instead of ButtonBar in DateRangePicker #62695
Use OverflowBar instead of ButtonBar in DatePicker #62686
Use OverflowBar instead of ButtonBar in TimePicker #62601
Use OverflowBar instead of ButtonBar in MaterialBanner #62703

[2020-11-04 16:39] CaseyHillers opened #69778 "[LUCI] Add devicelab_drone to led_tests presubmit"
https://flutter-review.googlesource.com/c/recipes/+/8241 made changes to the devicelab_drone recipe that broke flutter/flutter presubmit.

My expectation was that the recipe was not in use yet. Including it in the LED presubmit builder will prevent future breakages.

[2020-11-04 16:39] CaseyHillers commented on #69739
Fix landed: https://ci.chromium.org/p/flutter/builders/try/Linux%20build_aar_module_test

Created https://github.com/flutter/flutter/issues/69778 to track the fix to prevent future breakages.

[2020-11-04 16:39] #69739 closed

[2020-11-04 16:49] lazylazyllama opened #69779 "Migrate AlertDialog from ButtonBar to OverflowBar"
## Use case

The `ButtonBar` is a legacy Component, that was was part of the old Button Universe and should be replaced by the new, more elegant `OverflowBar`.

This issue is a discussion point regarding the breaking changes that need to be done to achieve this, as the `OverflowBar` has a slightly different API.

After that is done, a bottom Padding issue that was caused by the `BottomBar` can be

[2020-11-04 16:49] lazylazyllama commented on #69779
@HansMuller Now that I had to close my old PR I think this is a good place to discuss my plans. :)

[2020-11-04 16:51] zanderso opened #69780 "flutter pub upgrade should accept --no-sound-null-safety"
@tvolkert @jonahwilliams

[2020-11-04 16:53] xster commented on #69449
I strongly suspect https://github.com/flutter/flutter/issues/69438 isn't related. That issue is just mostly happening in the main thread and shouldn't involve the raster thread or platform views. On the other hand, I strongly suspect https://github.com/flutter/flutter/issues/69642 IS related since it's crashing on `FlutterPlatformViewsController.SubmitFrame`.

[2020-11-04 16:54] xster commented on #69642
Has signs of https://github.com/flutter/flutter/issues/69449. @mehmetf does money use platform views?

[2020-11-04 16:55] SokHo commented on #69689
@darshankawar
I mean you can add some print code to see rebuild,

@override
 Widget build(BuildContext context) {
   **print("rebuild context again and again");** `try print over here`
   int prevUserId;
....

[2020-11-04 17:00] denzilferreira commented on #11416
This is the right answer. It acts like the TextEditingController!

[2020-11-04 17:05] mit-mit commented on #69780
@tvolkert was your issue for this flag using it with `flutter pub` or `flutter run`? It works fine for the latter; I just ran `flutter run --no-sound-null-safety` and got the expected result.

If it's for the former, then that flag's isn't needed on pub commands. There is a known issue that the current pub output for unsound null safety is confusing, and can be misread like `--no-sound-null-safety

[2020-11-04 17:07] chinmaygarde commented on #69642
The second stack trace looks like a duplicate of https://github.com/flutter/flutter/issues/69102. This is unlikely to be the platform-views race that @xster linked to.

[2020-11-04 17:09] xster commented on #69642
Ah never mind you're right. @gaaclarke already looked at it and seems like it's another background GPU issue?

[2020-11-04 17:15] Aman2two commented on #29951
Use this lib to get device orientation and use image lib to change the orientation.

    nativeDeviceOrientationCommunicator = NativeDeviceOrientationCommunicator();
    nativeDeviceOrientationCommunicator.resume();
    nativeDeviceOrientationCommunicator
        .onOrientationChanged(useSensor: true)
        .listen((NativeDeviceOrientation event) {
      nativeDeviceOrientation = event;
    });

[2020-11-04 17:19] amirh commented on #69439
The regression started at: flutter/engine#22153
And is fixed starting: https://github.com/flutter/engine/pull/22265

We could not reproduce the regression locally, but it was 100% reproducible on CI (driver test for the integration_test package would hang)

[2020-11-04 17:19] chinmaygarde commented on #68970
For tracking purposes here: The last update on the internal bug seems to indicate work in progress on a reduced test case.

[2020-11-04 17:25] zanderso commented on #69770
@mit-mit the pinned packages are:
[code]

Is this issue just for the `Dart team owned nnbd deps` and `Flutter team owned nnbd deps`, or are you saying that things like `mockito` and `build_runner_core` also need to have `nullsafety` versions?

/cc @jonahwilliams

[2020-11-04 17:31] amirh opened #69785 "Inconsistent test results for flutter/tests"
Presubmits on https://github.com/flutter/tests/pull/61 show that one of the flutter/tests test is failing (this shouldn't be due to that PR as it's just a comment change).

While the customer_testing tasks on Flutter dashboard are all green (e.g https://ci.chromium.org/p/flutter/builders/prod/Mac%20customer_testing/610).

@dnfield suggests the failure showing on presubmit is real, so I'd expect th

[2020-11-04 17:33] chunhtai opened #69786 "Ability to turn off Android deeplink"
b/172394233

We recently added android deeplink support https://github.com/flutter/engine/pull/21275
However, this become a breaking change for apps that handles deeplink by writing their own plugin.

We should have a way to turn it on or off.

[2020-11-04 17:35] kaciula commented on #50107
@Tumbler0809 Hi. Did you manage to find a way to detect scrolling even when the list does not fill the screen? This is important for pagination.

[2020-11-04 17:35] goderbauer opened #69787 "RangeError in RenderParagraph.assembleSemanticsNode"
See also: b/172290978

[code]

Produces the following error:

[code]

[2020-11-04 17:38] scaraux commented on #69170
Hey @darshankawar I am 99% sure this is a iOS specific issue. You would have to run it on a iOS device with Flutter 1.22.2 or above

[2020-11-04 17:38] jonahwilliams commented on #69770
Only the dependencies of flutter & flutter_test need to be updated. Other packages in the sdk like flutter_tools will not be able to migrate until there are null safe versions, but that does not block any of our users from migrating

[2020-11-04 17:39] goderbauer commented on #69787
/cc @mehmetf @jonahwilliams

[2020-11-04 17:39] dannycortesv commented on #53041
Is there any solution for this? It is hard to develop on web scenario

[2020-11-04 17:42] chunhtai commented on #69786
@johnpryan Regarding this, do you think we should turn it on by default?

@gaaclarke I remember we can turn it off for iOS by writing a plugin that return yes for openURL. I am thinking can we have a more straight forward way of doing this? For example add meta tag in info.Plist for iOS or AndroidManifest.xml to toggle the functionality directly?

[2020-11-04 17:44] goderbauer commented on #69787
Looks like `RenderParagraph.assembleSemantics` assumes that each placeholder produces a semantics node, which is not true in the example above thanks to the `ExcludeSemantics` widget.

[2020-11-04 17:44] gaaclarke commented on #69642
Yea, I suspect this may be a background GPU problem.  Looks like a canvas flush is causing some GPU operations and it isn't protected with the GPU-disabling SyncSwitch.  I can create a PR today.

https://github.com/flutter/flutter/issues/69102 is a bit different because the syncswitch was in the stacktrace.

[2020-11-04 17:46] goderbauer commented on #69787
/cc @chunhtai

[2020-11-04 17:46] goderbauer opened #69788 "CastError in SemanticsConfiguration.onTap"
While reproducing https://github.com/flutter/flutter/issues/69787 I also found the following (unrelated) crash:

[code]

throws (with semantics turned on):

[code]

[2020-11-04 17:46] jonahwilliams opened #69789 "macOS LUCI bots are failing to install cocoapods"
[code]

https://ci.chromium.org/p/flutter/builders/prod/Mac%20module_custom_host_app_name_test/612

[2020-11-04 17:54] CaseyHillers commented on #69778
the recipes-with-led cq job detected changes in the CL, and listed it as a recipe to invoke a test for. However, the `all tryjobs` step did not return a builder that uses the devicelab_drone recipe

[2020-11-04 17:54] chinmaygarde commented on #68322
https://ci.chromium.org/p/flutter/builders/try/Mac%20iOS%20Engine/10338
https://ci.chromium.org/p/flutter/builders/try/Mac%20iOS%20Engine/10340

[2020-11-04 17:55] Alabhya268 commented on #43522
@Piinks I've opened a PR to add dartpad example for SliverAppBar , Please have a look .

[2020-11-04 17:57] gmoraja commented on #68471
@gspencergoog

[2020-11-04 18:01] godofredoc commented on #69789
Fixed with:

https://flutter-review.googlesource.com/c/recipes/+/8280

[2020-11-04 18:06] chinmaygarde opened #69790 "Presubmit failure due to `matchAsPrefix` called on null."
A [user reported presubmit flake](https://cirrus-ci.com/task/4745392719921152) was caused by a method call on a null object instance. The specific error was (the linked log is 20 megs and hangs the browser, I suggest downloading the file to view it):

[code]

I have only seen one instance of this error.

[2020-11-04 18:06] chinmaygarde commented on #69790
cc @jonahwilliams

[2020-11-04 18:08] elliotops commented on #36075
szekelyisz / same here, new machine, fresh install-- have you solved it ?

[2020-11-04 18:09] godofredoc commented on #69785
That test runs a script that passes/fails according to the exit code. This is the script:

https://cs.opensource.google/flutter/recipes/+/master:recipe_modules/adhoc_validation/resources/customer_testing.sh

The test seems to be passing an skip pattern bin/cache/pkg/tests/registry/*.test is this expected?

I'd suggest to convert this adhoc script to a sharded test runner test to get it back to the

[2020-11-04 18:10] jmagman commented on #68144
build387-m9 https://ci.chromium.org/p/flutter/builders/prod/Mac%20module_test_ios/629

[2020-11-04 18:10] jonahwilliams commented on #69790
This sort of error happens when the framework passes a flag to the frontend_server binary that doesn't exist in that particular frontend_server binary. Either:

* There is an old local engine version, and predates the addition of some flag by the framework tooling
* There is an old framework version with a new local engine, which had a flag removed.

--print-incremental-dependencies was added fair

[2020-11-04 18:13] chinmaygarde commented on #69790
That makes sense. This was on a presubmit in the test framework phase. So the second case is likely. Thanks.

[2020-11-04 18:13] #69790 closed

[2020-11-04 18:13] keyonghan commented on #69730
Prod mac bots upgrading: https://bugs.chromium.org/p/chromium/issues/detail?id=1145613

[2020-11-04 18:14] keyonghan commented on #69730
Try mac bots upgrading: https://bugs.chromium.org/p/chromium/issues/detail?id=1145624

[2020-11-04 18:14] keyonghan commented on #68144
Just requested bots upgrading for all remaining 10.15.6. https://github.com/flutter/flutter/issues/69730

[2020-11-04 18:15] chinmaygarde commented on #68575
@jason-simmons: The following were reported in the last week. Can you detail the fix so we can track for regressions?

* https://ci.chromium.org/p/flutter/builders/try/Windows%20Host%20Engine/14778
* https://ci.chromium.org/p/flutter/builders/try/Windows%20Android%20AOT%20Engine/14900

[2020-11-04 18:16] ferhatb commented on #69531
Verified this was fixed by https://github.com/flutter/goldens/pull/126

[2020-11-04 18:16] #69531 closed

[2020-11-04 18:18] amirh commented on #69785
Seems like the `--skip-template` means just to skip `template.test` (https://github.com/flutter/flutter/blob/5034d57546ba904a88a122088b425cc55495b7c3/dev/customer_testing/run_tests.dart#L48).

The bin/cache/pkg/tests/registry/*.test should mean run all *.test files in that path...

[2020-11-04 18:20] themou3ad commented on #68713
thanks for your answer
if you see the logs the physical keybord the key is alt right (PhysicalKeyboardKey#700e6(usbHidUsage: "0x000700e6", debugName: "Alt Right")

But to be honest it's all blurry for me, I don't understand much about it i just wanted to point it for people who are interested.

[2020-11-04 18:21] zanderso commented on #69770
These deps of `package:flutter` still need an update

https://github.com/google/platform.dart/blob/master/pubspec.yaml
https://github.com/google/process.dart/blob/master/pubspec.yaml
https://github.com/google/file.dart/blob/master/packages/file/pubspec.yaml
https://github.com/dart-lang/stack_trace/blob/master/pubspec.yaml

@natebosch @jakemac53 for `package:stack_trace`

[2020-11-04 18:22] godofredoc commented on #69789
This happened because none of the builders using devicelab_drone recipe is running on the recipes presubmit tests.

[2020-11-04 18:22] zanderso commented on #69770
`package:flutter_test` deps are a subset of `package:flutter` deps.

[2020-11-04 18:23] gaaclarke commented on #69642
This is probably another issue that was caused by https://github.com/flutter/engine/pull/20671  We are now sending people through the platform views controller when we didn't previously didn't and that code was meant to run in a situation where the main thread and the raster thread were merged so we couldn't get GPU operations in the background.  I suspect @cyanglaz's PR https://github.com/flutter

[2020-11-04 18:25] SwissCheese5 commented on #42767
This is currently preventing widget to image conversion and preventing cropping packages from working properly.

[2020-11-04 18:29] #68077 closed

[2020-11-04 18:29] natebosch commented on #69770
I expect `stack_trace` to be published today. It was waiting for internal validation after some bug fixes.

[2020-11-04 18:29] gspencergoog opened #69792 "Draft PR has pending LUCI tasks for 21 hours"
In this PR, https://github.com/flutter/flutter/pull/69617 the tasks run for change [`a0173f0` (#69617)](https://github.com/flutter/flutter/pull/69617/commits/a0173f0cc9c923fb2be58d029cb936a39235c60f) all queued and never ran. Because they are still all pending, there aren't any information links available, so that's all the information I have.

I'm going to push an empty change to re-trigger them

[2020-11-04 18:30] godofredoc commented on #69785
From infra everything seems working as expected, we may need someone more familiar with the test itself to take a look.

[2020-11-04 18:30] nshahan commented on #66122
A cherry-pick request to the beta branch has been opened. https://github.com/dart-lang/sdk/issues/44058

[2020-11-04 18:31] gustav3d commented on #53041
The solution is to primarily develop on a non web platform :(
And then pray it works on the web.
That's what I'm forced to do for some complex state scenarios.

On Wed, 4 Nov 2020 at 18:40, Danny Cortes <notifications@github.com> wrote:

[2020-11-04 18:38] keyonghan commented on #69730
All prod mac bots are with 10.15.7 now.

[2020-11-04 18:38] jason-simmons commented on #68575
Those builds failed because Goma was unable to use its cache while building various engine targets.  That caused the LUCI recipe to exceed the one hour timeout.  The `json.output` in the post_goma steps shows high `num_http_error` and `num_exec_fail_fallback` metrics.

If this continues to occur, then the Flutter infra team will need to work with the Goma team to understand why this is happening.

[2020-11-04 18:39] #38604 closed

[2020-11-04 18:39] #21862 closed

[2020-11-04 18:39] #61795 closed

[2020-11-04 18:41] cyanglaz commented on #61795
flutter/plugins#3212 has been landed, we should be able to workaround this issue by detecting when the webview stopped loading due to memory pressure.

[2020-11-04 18:43] gaaclarke commented on #69642
Actually, if you look at the thread, it is thread 0, which the platform thread.  This means this crash is happening when the threads are merged.  If this is a GPU backgrounding problem, that means we are getting some events on the platform thread after `applicationWillResignActive`.  So, the GPU is disabled, but since this doesn't go through the syncswitch it still tries to use the GPU.  I was wro

[2020-11-04 18:47] gmoraja opened #69794 "Support reading text by words and characters inside text fields on Android"
@gspencergoog

This happens inside text fields, with TalkBack on, and using a physical keyboard connected via Bluetooth.

TalkBack only switches between controls, links, headings, and paragraphs but doesn't allow users to browse by characters and words.

The problem has already been addressed in issue https://github.com/flutter/flutter/issues/13406 which is now closed, but we're still experiencing

[2020-11-04 18:48] elliotops commented on #36075
if you're still stuck, i found info here:
https://stackoverflow.com/questions/64395106/update-to-android-studio-4-1-flutter-plugin-and-dart-plugin-not-installed

[2020-11-04 18:56] blasten commented on #69771
The constraint should be `">=2.12.0-0 <3.0.0"`

[2020-11-04 18:57] bkonyi commented on #69583
Fix up for review: https://dart-review.googlesource.com/c/sdk/+/170402

[2020-11-04 19:00] CaseyHillers commented on #69778
Issue is that [commit_queue.cfg](https://cs.opensource.google/flutter/infra/+/master:/config/generated/flutter/luci/commit-queue.cfg) does not contain these builders.

Instead, they are invoked from [cr-buildbucket.cfg].

(https://cs.opensource.google/flutter/infra/+/master:config/generated/flutter/luci/cr-buildbucket.cfg).

@godofredoc @keyonghan do you know if its intentional that the recipe led

[2020-11-04 19:06] keyonghan commented on #69778
IIRC We need to add the `add_cq` in the config to enable `led_tests` run.
https://devops-console-oss.corp.google.com/flutter/infra/+/master:config/framework_config.star;l=551

[2020-11-04 19:14] #69544 closed

[2020-11-04 19:18] iskakaushik commented on #46016
Yes, this task hasn't been claimed by anyone yet and I do not know anyone who is actively working on it. If this interests you, I would start looking at [buildroot](https://github.com/flutter/buildroot) for references where we link to glibc and then go from there.

[2020-11-04 19:19] godofredoc commented on #69778
The add_cq property of the builders force them to get added to commit_queue.cfg. The builders are not added by default because we are not using LUCI CQ.

The led tests read commit_queue.cfg to determine the available builders for testing.

[2020-11-04 19:26] devoncarew commented on #69313
cc @yjbanov @mariamhas

[2020-11-04 19:26] theklausster commented on #44690
@janosdupai Thanks man. I couldn't figure out what was leaking. In my case I could load the videos 33 times and then it stopped showing videos, it just went blank. I did not exactly implement it they way you did, but the way your suggestion to save a ref for the old controller and disposing it later made it work for me. Here's a virtual 🍻 - enjoy

[2020-11-04 19:28] mehmetf commented on #69787
I am also trying to reduce the customer:money test case since they don't seem to be using ExcludeSemantics.

[2020-11-04 19:33] cyanglaz opened #69796 "Setup XCUITest to test IAP flow in the in_app_purchase plugin"
We should be able to follow https://developer.apple.com/documentation/xcode/setting_up_storekit_testing_in_xcode?language=objc to set up a local environment for the in_app_purchase example app on iOS.
Then with that set up, we should be able to follow https://github.com/flutter/plugins/blob/master/CONTRIBUTING.md#setting-up-xcuitests to set up automated UITests.

[2020-11-04 19:34] cyanglaz commented on #69796
cc @LHLL

[2020-11-04 19:38] jason-simmons commented on #69785
The run of the `flutter_svg` test in https://github.com/flutter/tests/pull/61 is checking out an older commit of the `flutter_svg` repository.

Try rebasing the PR to the latest flutter/tests head (including https://github.com/flutter/tests/commit/b6eaea2ad77d8f2dc5d224e0841714c2024539ac)

[2020-11-04 19:40] godofredoc commented on #69785
Thanks @jason-simmons reassigning to @amirh

[2020-11-04 19:40] cyanglaz opened #69797 "Adding "-v" flag to drive-examples command hangs"
Steps to reproduce:
1. Apply this diff to https://github.com/flutter/plugin_tools/blob/master/lib/src/drive_examples_command.dart
[code]
2. Activate flutter_plugin_tools using local path:
`pub activate global -s path <path_to_plugin_tools_dir>`

3. In flutter/plugins directory, run `./script/incremental_build.sh drive-examples`, during running the drive test for the first plugin, the process hang

[2020-11-04 19:40] mario202k commented on #26004
Wrap Scaffod in a Consumer Widget or where it need.

[2020-11-04 19:48] goderbauer commented on #69787
@mehmetf The following code reproduces it without `ExcludeSemantics`. The trick is to have a widget in the WidgetSpan that naturally doesn't contribute any semantics (like an icon without a semantics label).

[code]

[2020-11-04 19:49] blasten commented on #69797
@cyanglaz can you still repro the issue if you run `flutter drive -v` from the console, directly?

[2020-11-04 19:51] godofredoc commented on #69792
This is a duplicate of https://github.com/flutter/flutter/issues/69701 which was fixed yesterday.

[2020-11-04 19:51] #69792 closed

[2020-11-04 19:51] #69789 closed

[2020-11-04 19:53] cyanglaz commented on #69797
no. It is the issue with the plugin_tools. `flutter drive -v` works.

[2020-11-04 20:05] blasten commented on #69797
that's strange. Have you been able to create a minimal repro with just `runAndStream`, and another Dart program that finishes after some wait time?

[2020-11-04 20:05] azbuky commented on #58159
I have been digging in my app's generated html code in Chrome and it seems Flutter usually renders text using the `<p>` element but sometimes it renders the text into a `<canvas>` element, especially for more complex layouts.

The blurred text is always the one rendered in a canvas. I have manually added [`image-rendering: pixelated`](https://developers.google.com/web/updates/2015/01/pixelated) to

[2020-11-04 20:12] chunhtai commented on #69787
This turns out to be harder problem than I think. There is no way to tell  whether a render child of renderparagrah has a semantics node or not. same thing for semantics node to know which render object creates it. It may requires some structure change. I will see if i can come up with something.

[2020-11-04 20:18] PrinzKenny1 commented on #60700
@darkrevenger I found a solution. Try the JobService from Android like so:
[code]

That should work. At least it does the trick for me. The only thing is that it is not precise but that`s what google wants and I dont need it that precise either. Hope I could help you out :)

[2020-11-04 20:20] gspencergoog commented on #68471
Have you tried adding the `autofocus: true` attribute to the button you think should receive focus?

For example, this seems to work in this [dartpad example](https://dartpad.dartlang.org//447a184bc695451c567bcc07f997d190):

[code]

[2020-11-04 20:21] jonahwilliams opened #69801 "[tool_crash] NoSuchMethodError in startDDSServer"
[code]

`Flutter_Tools, dev/1.24.0-6.0.pre`

[2020-11-04 20:23] qbait commented on #69673
@Extazx2 I would like to achieve the same thing, give `start` and `stop` and play this part in the loop. Have you found any solution?

@darshankawar `seekTo` was mentioned in the question.

[2020-11-04 20:27] cyanglaz commented on #69797
@blasten I haven't looked into it too much yet, all I know right now is that it is failing for `flutter drive -v`.

[2020-11-04 20:28] CaseyHillers commented on #69778
Thank you Godofredo and Keyong. This is fixed https://ci.chromium.org/p/flutter/builders/try/recipes-with-led/b8864532880508866752?

[2020-11-04 20:28] #69778 closed

[2020-11-04 20:31] jonahwilliams opened #69804 "Web hot reload tests are flaky"
These are failing on pre and post-submit. Add more logging and run in a loop locally to see what is broken.

[2020-11-04 20:31] ferhatb commented on #64322
Note: The following reproduces subpixel rendering problem.

<div transform: translate(0px, 40.223px)>
   <div style="width: 782px; height: 80px; background-color: rgb(33, 150, 243);"></div></div>
<div transform: translate(0px, 120.223px)>
   <div style="width: 782px; height: 80px; background-color: rgb(33, 150, 243);"></div></div>

[2020-11-04 20:32] assassin-aadam opened #69805 "[tool_crash] ArgumentError: Invalid argument(s): Cannot find executable for .\Desktop\Programming\Python\Flutter_projects\hello_world\android\gradlew.bat."
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ArgumentError: Invalid argument(s): Cannot find executable for C:\Users\aadam\Desktop\Programming\Python\Flutter_projects\hello_world\android\gradlew.bat.
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android packag

[2020-11-04 20:32] jmagman opened #69806 "hot_reload_web_test timed out after 15 seconds twice on Linux tool_tests"
[code]
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8864533202004186720/+/steps/run_test.dart_for_tool_tests_shard_and_subshard_integration/0/stdout

[2020-11-04 20:33] jmagman commented on #69806
First seen on https://github.com/flutter/flutter/commit/0ddb1ae7133fab86564d05e5e8f9c4ba5df10d5f @jonahwilliams

[2020-11-04 20:36] davidmartos96 commented on #69004
Hello, we are having the same issue and it is very critical for our app because it relies on thousands of images that come from third party APIs, which we don't have control of.
Are there any plans to cherrypick the fix from @chinmaygarde into stable? The fix works correctly on master for us.
We did consider going back to Flutter 1.20.4, but since iOS 14 is out, we can't because of the other bugs

[2020-11-04 20:36] razvangeangu commented on #36350
This is happening to me in the simulator as well.

[2020-11-04 20:43] jmagman opened #69807 "Update CocoaPods recommended version to 1.9"
[CocoaPods 1.9](https://blog.cocoapods.org/CocoaPods-1.9.0-beta/) introduced support for xcframeworks.  It was released in [February 2020](https://github.com/CocoaPods/CocoaPods/releases/tag/1.9.0).

Flutter will likely need to start being [distributed as an xcframework](https://github.com/flutter/flutter/issues/60109) to support [Apple Silicon simulators](https://github.com/flutter/flutter/issues

[2020-11-04 20:46] jmagman opened #69808 "Upgrade CocoaPods gem version on builders"
The version of CocoaPods on the mac builders is 1.8.4
[code]
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8864533259479547856/+/steps/Install_gems/0/steps/install_gems/0/stdout

Upgrade to version 1.9.3.

The tool will soon recommend a minimum of 1.9 https://github.com/flutter/flutter/issues/69807

[2020-11-04 20:53] jonahwilliams commented on #69806
Dupe of https://github.com/flutter/flutter/issues/69804 .

Its unrelated to that commit, I've seen this on and off since I turned them. Hoping they just go away is not a strategy

[2020-11-04 20:53] #69806 closed

[2020-11-04 20:53] venkatd commented on #46246
@kenthinson have you found a workaround for this? We have a similar use case where we allow keyboard navigation of search results. When the user navigates up and down with arrow keys, the TextField responds to the events and moves the cursor to the start as you have experienced.

![image](https://user-images.githubusercontent.com/220686/98166080-a1fc7700-1ec5-11eb-83d5-e7ba1a552345.png)

[2020-11-04 20:56] StarTrooper08 commented on #69773
If you dont mind can I give you suggestion?
That may help you.

[2020-11-04 21:03] HansMuller commented on #69779
I believe the overall goal here is to replace AlertDialog's ButtonBar with an OverflowBar.

If AlertDialog.buttonPadding is specified we could wrap the OverflowBar with the button themes, passing buttonPadding along:
[code]

[2020-11-04 21:04] yusufm commented on #69621
Created "projects/flutter-dashboard/topics/luci-builds-prod" to hold the build complete messages.

[2020-11-04 21:11] goderbauer commented on #69787
As a work-around in an app you can wrap the child of the widgetspan that's causing the problem (that's the widget span that doesn't produce any semantics information) in an empty semantics container:

[code]

[2020-11-04 21:13] tazik561 opened #69813 "[web] IFrameElement will not get disposed on navigating back"
I am trying to show two web pages on my custom view widget on flutter web app. I have two button for that. So in order to I am using IFrameElement to add my web page like this:

      @override
      // ignore: must_call_super
      void didChangeDependencies() {
        final IFrameElement iframeElement = IFrameElement();
        iframeElement.height = MediaQuery.of(context).size.height.toString(

[2020-11-04 21:17] kf6gpe opened #69814 "<elided software> sometimes use high RSS File memory"
https://buganizer.corp.google.com/issues/171310258.

cc @zanderso @chinmaygarde.

[2020-11-04 21:22] tvolkert commented on #69780
I tried to use it with `flutter pub upgrade`

[code]

[2020-11-04 21:24] annagrin commented on #69711
Update: the PR didn't fix all the tests that are failing. Initial investigation has shown that this might be not a bug on a bot (both bots are able to run web tests), but a potential issue with the SDK. Will update more when I manage to repro.

[2020-11-04 21:29] gspencergoog commented on #68471
Oh, running it on Android, I see what you mean. I'll check it out.

[2020-11-04 21:32] Kenny9999 opened #69816 "Can't add Flutter module in Android with many app"
So, I've create a Flutter module following the procedure here

https://flutter.dev/docs/development/add-to-app/android/project-setup

and if I create a new simple android project where the root is named 'app' I can add dependency to my flutter module and all is working good.

Problem is that it's not the current config I have in the main project
Mains project is composed of Many application that a

[2020-11-04 21:35] godofredoc commented on #56909
This is done, updates in the mirrored bug.

[2020-11-04 21:35] #56909 closed

[2020-11-04 21:35] rydmike commented on #48099
## Additional findings

I just struggled with this issue on Windows and Web platform where I got very frustrated when `enableInteractiveSelection` was not doing what it supposed to do. I tried for a long time to figure out why. Finally I did an issue search and found this case. Sad to see that it has been reported already in January and is still open. In any case, I took note of some additional fi

[2020-11-04 21:36] hterkelsen opened #69817 "Felt snapshot is frequently invalid"
Pretty much every day I have to delete `.dart_tool/felt.snapshot` because I get a "Signature mismatch" error when trying to run `felt`. We should improve felt's snapshot invalidation logic to make this happen less often.

/cc @nturgut

[2020-11-04 21:36] jonahwilliams opened #69818 "Cocoon/build status is not updating"
Though newer commits have been submitted, they are not being surfaced on the dashboard. Its unclear if devicelab is running these either.

[2020-11-04 21:36] godofredoc commented on #63101
I haven't seen this failure for some time. Please reopen if it fails again.

[2020-11-04 21:36] #63101 closed

[2020-11-04 21:37] godofredoc commented on #63198
This is already fixed in the fuchsia repos.

[2020-11-04 21:37] #63198 closed

[2020-11-04 21:39] godofredoc commented on #66133
Duplicate of https://github.com/flutter/flutter/issues/68322

[2020-11-04 21:39] #66133 closed

[2020-11-04 21:40] godofredoc commented on #67181
Duplicate of https://github.com/flutter/flutter/issues/68322

[2020-11-04 21:40] #67181 closed

[2020-11-04 21:41] godofredoc commented on #69818
The scheduler uses chromium replicas from the github repos which update every 15 mins. Are commits from more than 15 mins ago not showing up in the dashboard?

[2020-11-04 21:42] jonahwilliams commented on #69818
https://github.com/flutter/flutter/commit/7ceb20417c93553f4cbd7a5a42bb2878968f6775 was submitted over an hour ago

[2020-11-04 21:45] godofredoc commented on #69818
That one is already in the replica, https://chromium.googlesource.com/external/github.com/flutter/flutter/+/refs/heads/master

Looking at the cocoon backend

[2020-11-04 21:46] Harrisonnguyen1210 opened #69819 "How to handle a binary data from REST request as arraybuffer ?"
Hi,
I come across a problem when making a REST request which returns a binary data image (the same as this stackoverflow [thread](https://stackoverflow.com/questions/23013871/how-to-parse-into-base64-string-the-binary-image-from-response)). The solution in this thread is to convert the response into arraybuffer, aka response.arraybuffer()

Is there any solution the same as this for Flutter, I have

[2020-11-04 21:46] slightfoot opened #69820 "[google_maps_flutter] App crashes when using maps in release mode."
## Steps to Reproduce

Build [maps example](https://github.com/flutter/plugins/tree/master/packages/google_maps_flutter/google_maps_flutter) in release mode. Proguard strips out native code used for new Android Lifecycle Management introduced by https://github.com/flutter/plugins/pull/3213

[code]

<details>
  <summary>Logs</summary>

[code]

</details>

[2020-11-04 21:49] godofredoc commented on #69818
[code]

[2020-11-04 21:49] godofredoc commented on #69818
\cc @CaseyHillers

[2020-11-04 21:49] slightfoot commented on #69820
/cc @math1man @amirh

[2020-11-04 21:54] banool commented on #66799
@recastrodiaz I will experiment and see if this does the trick.

[2020-11-04 21:56] CaseyHillers opened #69821 "[cocoon][app_dart] 500's on task endpoints with FormatException"
These started to appear when migrating the backend to the new version from commit https://github.com/flutter/cocoon/tree/356ac653eebee4daeaf02f7fcbd708a0127e6f4e

[code]

[2020-11-04 21:56] CaseyHillers commented on #69821
\cc @godofredoc

The issue seems to be on `getLuciBuilders`

[2020-11-04 21:57] abjorck opened #69822 "Dart SDK downloaded zip not really corrupt but assumed corrupt, stopping activation"
[code]

[In this case] the zip is actually fine, running unzip -t says every file is ok, however, unzip exits with 1 because of the warning, thus breaking the script at:

[code]
here ^
stopping me from getting anywhere. I've retried the download 20 times, even from different engine hashes. Unclear why this suddenly appeared, it worked some week ago.

Running ubuntu 20.04.

[2020-11-04 21:58] CaseyHillers commented on #69821
Dupe of https://github.com/flutter/flutter/issues/69818#issuecomment-721993580

[2020-11-04 21:58] #69821 closed

[2020-11-04 21:58] godofredoc commented on #69808
Cocoapods is installed from here https://cs.opensource.google/flutter/flutter/+/master:dev/ci/mac/Gemfile which doesn't have any pins.

[2020-11-04 21:59] jmagman commented on #69808
That version is coming from the Gemfile.lock:
https://github.com/flutter/flutter/pull/69809/files#diff-f2773caa767840c5fae06c4f189e4bc26b6a78bf8c54a79fc21546db902b59b4L15

[2020-11-04 22:02] vashisth00 commented on #14230
Guys not flutter version doesn’t work only flutter downgrade does

[2020-11-04 22:07] math1man commented on #69820
Hmm, I assume that the interface whose name is obfuscated away is DefaultLifecycleObserver. However, that change did not change use of the interface (though it did remove one implementation).

Looks like this is a common issue throughout flutter. See flutter/flutter#58479. I think this should be easy to fix in the plugin.

[2020-11-04 22:15] darkcike commented on #46589
Any progress on this issue ? It's really a big problem for a website which offered small services that may only be viewed by once or two.

[2020-11-04 22:19] robert-ancell commented on #68713
@themou3ad thanks for the report! It's useful to have this information.

[2020-11-04 22:19] godofredoc commented on #69818
Fix is under review but we need to check why the presubmit tests didn't find the problem before submitting the changes.

[2020-11-04 22:20] math1man commented on #69820
Or maybe it's not specifically an issue with the library, and you just need to follow the advice in that other fix. Let me know if that makes sense and works.

[2020-11-04 22:24] godofredoc commented on #69818
@keyonghan can you please take a look why the json validation tests didn't fail for this PR https://github.com/flutter/flutter/pull/69350/checks?

[2020-11-04 22:24] danielleiszen commented on #53041
thank you for the response. I do not think this has anything to do with GetX.
I created a minimal example about the behavior, please see [flutter_web_reload_example](https://github.com/danielleiszen/flutter_web_reload_example)

when you run with
`flutter run -d Chrome`
you will see some console messages indicating that the main method is called
then click 'Login' and the app navigates to the secon

[2020-11-04 22:27] jakemac53 opened #69824 "Fix legacy import violations in web_ui"
We are adding a new analyzer lint for legacy library imports (non-nnbd) from opted in libraries.

We got some flutter failures on the cl, https://logs.chromium.org/logs/dart/buildbucket/cr-buildbucket.appspot.com/8864529598122711632/+/steps/analyze_flutter_engine/0/stdout.

It looks like the null safe packages need to be pinned here.

This is a high priority because we want to ship the lint with t

[2020-11-04 22:27] jakemac53 commented on #69824
Part of https://github.com/dart-lang/sdk/issues/44063

[2020-11-04 22:31] AzzaHadded opened #69825 "[tool_crash] FileSystemException: Cannot copy file to 'C:\Users\user\Desktop\ExposeFlutter\exp\android\app\src\main\res\mipmap-xhdpi\ic_launcher.png', OS Error: Access is denied., errno = 5"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot copy file to 'C:\Users\user\Desktop\ExposeFlutter\exp\android\app\src\main\res\mipmap-xhdpi\ic_launcher.png', OS Error: Access is denied.
, errno = 5
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2020-11-04 22:33] chunhtai commented on #69787
The workaround will hit another corner case. We have another issue that we only apply textscalefactor to the top most semantics node of the children.
https://github.com/flutter/flutter/blob/7ceb20417c93553f4cbd7a5a42bb2878968f6775/packages/flutter/lib/src/rendering/paragraph.dart#L924
it should recursively apply the scaling down it children.

[2020-11-04 22:33] moda20 commented on #69625
Sorry for the late response, but here are the files. as you can see I already have androidX enabled

gradle.properties :

[code]

app/build.gradle :

[code]

[2020-11-04 22:35] apinprastya commented on #69721
Still happen with 1.22.3

[code]

![image](https://user-images.githubusercontent.com/1171479/98175071-8080a700-1f28-11eb-9f6f-e1c275a0211a.png)

[2020-11-04 22:37] vashisth00 commented on #46094
Hey guys getting the same issue

packages/flutter_tools/gradle/flutter.gradle' line: 900

[2020-11-04 22:38] mehmetf commented on #69787
@goderbauer I see. Yes, they do have a few widget spans that do not provide semantics. The odd thing is that the issue reproduces only _in specific configurations_. For instance:

I am able to reproduce it via:

[code]

however not when I reduce the number of widgets:

[code]

If `HtmlView(content: detailsHtml),` is building WidgetSpans that do not produce semantic nodes, then should it not throw

[2020-11-04 22:42] banool commented on #66799
Awesome yeah that does the trick, thanks!

[2020-11-04 22:42] #66799 closed

[2020-11-04 22:44] davidmartos96 commented on #60240
android.defaultConfig.ndk.debugSymbolLevel = 'FULL'

Does that work though? From what I played with, it looks like it adds debug information in the app bundle, but just the stripped binaries. So basically a duplicate of the libraries in the lib arquirectures folder.

I agree with @matthew-carroll . Currently symbolicating symbols from the Play Store is a bit tedious. Delegating this job to the new

[2020-11-04 22:48] HansMuller opened #69827 "recipe infra failure: Uncaught Exception: ValueError('Expecting property name: line 139 column 7 (char 3846)',)"
For https://github.com/flutter/flutter/issues/69827, tests are failing due to "recipe infra failure", for example: https://ci.chromium.org/p/flutter/builders/try/Linux%20analyze/5402?

Swan song says:
[code]

[2020-11-04 22:51] jason-simmons commented on #69583
Note that Flutter engine profile builds do not define `PRODUCT` when building Dart.  So the benchmark results will stay the same after https://dart-review.googlesource.com/c/sdk/+/170402 lands.

[2020-11-04 22:53] goderbauer commented on #69407
/cc @dnfield

[2020-11-04 22:54] natebosch commented on #69770
`stack_trace` is published.

[2020-11-04 22:56] bkonyi commented on #69583
If that's the case I'm not sure how we can disable this. Why doesn't Flutter define `PRODUCT` when building for release?

[2020-11-04 22:56] goderbauer commented on #44108
What's the device pixel ratio (https://master-api.flutter.dev/flutter/dart-ui/Window/devicePixelRatio.html) of the devices that show the problem?

[2020-11-04 22:57] jmagman opened #69829 "Upgrade Devicelab machines to at least CocoaPods 1.9"
Make sure devicelab machines are running at least CocoaPods 1.9 (they may be already).

The tool will soon recommend a minimum of 1.9 https://github.com/flutter/flutter/issues/69807

[2020-11-04 22:58] jonahwilliams commented on #69263
@yjbanov are all the fixes in for this?

[2020-11-04 23:00] jmagman commented on #69827
Fixed by #69828, rebase and try again.  Sorry about that!

[2020-11-04 23:00] #69827 closed

[2020-11-04 23:01] HansMuller commented on #69827
No problem, thanks for the update!

[2020-11-04 23:02] mehmetf commented on #69787
This is my approximation of what they are doing but it fails to reproduce the problem:

https://gist.github.com/mehmetf/42d11f9bb4d709e7dc699106659af66b

I can see they extend `WidgetSpan` and provide, for instance, separators that do not have semantics assigned to them.

[2020-11-04 23:02] vashisth00 opened #69830 "Fluxstore issue in v1.7.5 when I run flutter run"
↳
    ** BUILD FAILED **

Xcode's output:
↳
    /Users/omkar.vilankar/.pub-cache/hosted/pub.dartlang.org/rate_my_app-0.6.1+3/ios/Classes/RateMyAppPlugin.m:15:30: warning: 'requestReview' is only available on iOS 10.3
    or newer [-Wunguarded-availability]
        [SKStoreReviewController requestReview];
                                 ^~~~~~~~~~~~~~
    In module 'StoreKit' imported from /Users/

[2020-11-04 23:03] keyonghan commented on #69818
The error was caught by following PRs after the change PR got submitted.
The cause is that the json validation is based on tot, rather than the json in the PR.

[2020-11-04 23:03] lukepighetti commented on #66862
I just upgraded my device to iOS 14 and now I'm getting this error. Haven't been able to find a solution.

[2020-11-04 23:05] goderbauer commented on #69412
/cc @Piinks

[2020-11-04 23:06] goderbauer commented on #69392
/cc @chunhtai

[2020-11-04 23:06] godofredoc commented on #69829
Moving this request to the regular triage meeting.

[2020-11-04 23:06] goderbauer commented on #69315
/cc @chunhtai

[2020-11-04 23:08] godofredoc commented on #69818
Do we have a bug to validate the json from the PRs? should we increase the priority of that bug if exist?

[2020-11-04 23:09] Piinks commented on #69412
Hi @superakabo this is working as intended.
This is because BouncingScrollPhysics does not overscroll when there are not enough items in the list to necessitate a scroll.
When handled by default, the physics you see on iOS include AlwaysScrollableScrollPhysics, which will give you the effect you are looking for.
You can read more about this in the docs:https://api.flutter.dev/flutter/widgets/Bounc

[2020-11-04 23:09] #69412 closed

[2020-11-04 23:12] AbdOoSaed commented on #65543
Solved this issue by deleting the .gradle folder

[2020-11-04 23:14] ditman commented on #45440
@mklim FYI, I've removed the latest entries from the CUSTOM_ANALYSIS_PLUGINS list in the incremental_build.sh in [this PR](https://github.com/flutter/plugins/pull/3238/files#diff-18055a1781ae532688503a01a10af4965f5bd8c3cd95d14e2c2d4a79f0ac3cf6).

The list is now empty (but I haven't removed the feature for allowing custom analysis files.)

[2020-11-04 23:18] gspencergoog commented on #68471
A PR (flutter/engine#22304) that I've been meaning to re-land anyhow seems to fix this issue.

I suspect that there may still be an underlying problem that we keep the text input connection open when the new route is pushed, causing the keydown events that would have been sent to the framework to be sent to the text input plugin instead (and since there is no text field anymore, the key is lost).

[2020-11-04 23:18] keyonghan commented on #69818
Actually we are validating the json from the PR, rather than tot.
json validation is based on the checkout of PR: https://github.com/flutter/flutter/pull/69803

The issue PR is not https://github.com/flutter/flutter/pull/69350, but https://github.com/flutter/flutter/pull/69803. However tests didn't get finished running before submitted.

So there is nothing left over related to this issue, closing

[2020-11-04 23:18] #69818 closed

[2020-11-04 23:21] mklim commented on #45440
Sounds like this is fixed then, thanks!

[2020-11-04 23:21] #45440 closed

[2020-11-04 23:24] jonahwilliams commented on #69801
this one might be easier

[2020-11-04 23:40] gspencergoog commented on #41737
If someone who is familiar with Flatpaks and how to create one can describe the steps necessary, that would help us prioritize this.

[2020-11-04 23:41] goderbauer commented on #69787
@mehmetf The fact that the number of HtmlViews is relevant for whether the issue is triggered or not is very strange. I don't have an explanation for that...

The gist you provided crashes for me with a different crash ("RenderBox did not set its size during layout"). Do you think it's related to this problem? It looks like something else to me.

To trigger the bug described in the issue here in y

[2020-11-04 23:42] goderbauer commented on #69787
@chunhtai Can you file a separate bug for that issue?

[2020-11-04 23:44] #63508 closed

[2020-11-04 23:45] gspencergoog commented on #69217
@jonahwilliams Can you elaborate here about what this means?  We can already build Linux and Windows without a local engine repo.

[2020-11-04 23:45] jonahwilliams commented on #69217
Ahh, this is done!

[2020-11-04 23:46] jonahwilliams commented on #69217
Wait, no its not

This is for arm64 desktop

[2020-11-04 23:48] stuartmorgan commented on #69202
Fixed by https://github.com/flutter/engine/pull/22207

[2020-11-04 23:48] #69202 closed

[2020-11-04 23:49] #69788 closed

[2020-11-04 23:52] zanderso commented on #69583
@bkonyi Flutter profile builds contain the vmservice and e.g. the cpu profiler, so they cannot be `PRODUCT` builds.

[2020-11-04 23:55] kf6gpe opened #69832 "App Change: [A11Y] <elided hardware> regression in focus issue"
https://buganizer.corp.google.com/issues/157502866.

[2020-11-04 23:55] kf6gpe commented on #69832
Whoops! Dupe of https://github.com/flutter/flutter/issues/68619.

[2020-11-04 23:55] #69832 closed

[2020-11-04 23:56] chunhtai commented on #69315
@tomasbaran
I can list out several things you can't do with navigator 1.0.

1. you have full controll over route stack and customize how to transition each route. For example, you cannot remove three routes in the middle with the navigator 1.0 API.
2. you have complete control over what to do when user press android back button. This become more promising when you have more than one navigator in t

[2020-11-04 23:57] kf6gpe opened #69833 "ArgumentError at Size.- at dart:ui- in <elided> platform"
https://buganizer.corp.google.com/issues/170164827.

[2020-11-04 23:57] yjbanov commented on #44108
I don't have a Galaxy Tab A, but I'd be curious to know if https://github.com/flutter/flutter/pull/69799 fixes the issue for these tablets too. Can anyone give it a shot?

[2020-11-04 23:59] kf6gpe opened #69834 "ArgumentError at ParagraphBuilder.addText at dart:ui- on <elided>"
https://buganizer.corp.google.com/issues/170162119.

[2020-11-04 23:59] bkonyi commented on #69583
Right, but I thought this was an issue for Flutter release builds? This functionality needs to be available when the VM service is available.

[2020-11-05 00:03] chunhtai opened #69835 "RenderParagraph does not scale WidgetSpan semantics node correctly when the textscalefactor > 1"
[code]

turn on talkback/voiceover, and then the rect does not match the children.

[2020-11-05 00:03] chunhtai commented on #69787
filed https://github.com/flutter/flutter/issues/69835

[2020-11-05 00:04] chunhtai commented on #67754
unassign myself until I have time to get back to this

[2020-11-05 00:08] jason-simmons commented on #69722
`--observatory-port` is now deprecated.

It has been replaced by the `--host-vmservice-port` and `--dds-port` flags.

[2020-11-05 00:10] yjbanov commented on #69824
I'm confused by the analyzer warning "The library 'package:js/js.dart' is legacy, and should not be imported into a null safe library". Are we expected to stop using this library?

[2020-11-05 00:11] yjbanov commented on #69824
If so, what's the replacement?

[2020-11-05 00:11] #67207 closed

[2020-11-05 00:12] zanderso commented on #69583
@bkonyi I think we'd have to know a little more about what the functionality is to make the call about whether it needs to be in a Flutter profile build. If it is interfering with end-user profiling, as this benchmark might indicate, then I'd suggest that it should not go into profile builds.

[2020-11-05 00:13] speller commented on #69511
@Abhishek01039 @pedromassangocode

Why not to introduce any defaults to allow a text field to be in a row instead of failing with an exception? What's the difference between an input field and any other widget? From the user perspective, it seems like there should be no differences. A button has default sizes, many other widgets do. Why text field can't?

[2020-11-05 00:14] #66816 closed

[2020-11-05 00:14] mehmetf opened #69836 "Different behaviors of recognizing PointerDownEvent on Android 10 vs 11"
b/172503031

Customer is reporting that on Android 11, https://api.flutter.dev/flutter/gestures/GestureRecognizer/addAllowedPointer.html is only called once even for multi-touch events. On Android 10, the API works correctly.

@gspencergoog @xster FYI.

This is a P1 as customer: fun's release is blocked on it.

[2020-11-05 00:18] acoutts commented on #66832
For what it's worth I tried Code with Dart-Code 3.14.1 and it was still broken there, seems like a flutter issue then.

[2020-11-05 00:19] #49478 closed

[2020-11-05 00:21] #69481 closed

[2020-11-05 00:21] bkonyi commented on #69583
This functionality is used to debug open `ReceivePort` in order to give users a better idea where they were created and why they might still be open. I'm not aware of any other functionality in the VM service that behaves differently for profile builds, so I'm weary of special casing in this particular instance.

The other issue is that it's unclear to me how we'd disable this in the SDK. The VM d

[2020-11-05 00:27] yjbanov opened #69838 "TypeErrorImpl in Gallery "Crane" demo"
## Steps to Reproduce

1. Sync to revision b26970b143dbef310d2aea53ea51b0f8f5f3a179 of flutter/flutter
2. Sync to revision 0544532249f6ae38e3142796582ba96b20e3dac0 of flutter/gallery
3. Run the gallery using `flutter run -d web-server --web-port=8080 --debug`
4. Click on the "Crane" demo.

This is happening on the web, but not on Linux. This is independent of the renderer. Happens in both HTML and

[2020-11-05 00:27] programmermasrawy commented on #49531
waiting for flutter to bring it very sooon

[2020-11-05 00:33] yusufm opened #69839 "[Cocoon] broken LUCI builder link in flutter dashboard"
When I click on a LUCI build icon in ( https://flutter-dashboard.appspot.com/#/build ), i get a 404, because its missing the builder entry in the URL.
![image](https://user-images.githubusercontent.com/463376/98182722-504eef00-1ebb-11eb-9afb-727fb88df4fa.png)

The link that is associated with the LUCI icons is: https://ci.chromium.org/p/flutter/builders/luci.flutter.prod

[2020-11-05 00:33] rmacnak-google commented on #69583
It's surprising that anything port related would be measurable in benchmarks that (IFAICT) don't involve IO or multiple isolates. Perhaps some work unrelated to the benchmark is running during the benchmark's timing window.

Indeed the VM does not (and should not) know anything about Flutter's build modes.

[2020-11-05 00:39] mehmetf commented on #69836
Customer reported that they are unable to reproduce this on hello_flutter. I will close the issue for now since there is no repro.

[2020-11-05 00:39] #69836 closed

[2020-11-05 00:41] zanderso commented on #69583
For example, Flutter debug mode has hot reload, the debugger etc., where profile mode does not. The VM does know about Flutter's build modes through combos of JIT vs. AOT and PRODUCT vs. non-PRODUCT. See also: https://github.com/dart-lang/sdk/blob/master/runtime/runtime_args.gni#L28.

@bkonyi Are you able to run the benchmark here or the Gallery? You can dogfood the new feature to track down the r

[2020-11-05 00:44] mehmetf commented on #69787
@goderbauer @chunhtai I know range check is the wrong fix here. However, since we are unsure how to fix it properly, do we consider it a safe bandaid? or could it generate accessibility nodes that do not map to the UI?

[2020-11-05 00:51] jonahwilliams opened #69841 "[null-safety] remove all usage of --enable-experiment from CI"

[2020-11-05 00:51] mdebbar commented on #69838
From the looks of it, this doesn't seem to be a web-specific issue. The error is coming from the `flutter_staggered_grid_view` package that's not migrated to null-safety yet.

This was probably an accidental breaking change introduced while migrating some parts of flutter to null-safety [here](https://github.com/flutter/flutter/commit/8a6a76a33450c956ae5ac1788b1cae07af3e8244#diff-1c3b88396748aab35

[2020-11-05 00:53] goderbauer commented on #69787
I think @chunhtai and I have a potential fix for this. @chunhtai is implementing it.

[2020-11-05 00:54] CaseyHillers commented on #66191
There's an authentication issue with the devicelab tasks. `luci-auth` is using the older version of Google OAuth tokens called access token, which needs a new handler in Cocoon.

Currently, Cocoon supports id tokens which are the more recent version. The flow is mostly the same, but there's different endpoints and expectations that need to be walked through. I've started to draft the PR and should

[2020-11-05 00:54] D-Rusty commented on #68838
Sorry, this is issuue for the first time,The mistakes I encountered are as follows，thank you：
![image](https://user-images.githubusercontent.com/17473495/98184055-6b197600-1f44-11eb-9a75-7c39f1b2b4f0.png)

[2020-11-05 00:57] mehmetf commented on #69787
Great! Let me know when the PR is ready so I can patch in google3 and try it on the internal repro I have.

[2020-11-05 00:58] liyuqian commented on #67879
This seems to be specific to Xiaomi devices. I just received a Xiaomi 10 and I'll try to reproduce it locally to figure out if there's anything that Flutter can help, or if this is an issue that only Xiaomi can fix.

[2020-11-05 01:07] liyuqian commented on #32170
@ghenry : I'm sorry to hear that. Are you using the default Flutter iOS engine with Metal, or are you using a custom OpenGL Flutter iOS engine? The SkSL warm up doesn't help Metal right now so you may need something like https://github.com/flutter/flutter/issues/61045#issuecomment-699044134. And thank you for the suggestion on https://flutter.dev/docs/perf/rendering/shader#how-to-use-sksl-warmup!

[2020-11-05 01:07] jwinarske commented on #69408
Hmm.  I've since moved on from this issue.

What would it take to make the flutter engine build logic be a first class cross compilation citizen?

Some scenarios:

1. Cross compiling for x86-64.  It thinks it's a host build, and unit tests pull in things not present in the rootfs.  Instead make a specific unit test gate on it's dependency.

2. Building target and host artifacts in the same build p

[2020-11-05 01:12] godofredoc opened #69842 "Migrate isolate to RBE-CAS"
This is required migration by early Q1-2021

[2020-11-05 01:14] brianschardt commented on #58200
I can not submit my app on master as master causes a lot of build errors. I am getting this error on the stable channel, which is shocking because this is not stable and we want to push a change to our app in prod.

[2020-11-05 01:23] ferhatb commented on #69838
/cc @leafpetersen @vsmenon probably compiler difference in the way it is handling nullability

[2020-11-05 01:25] godofredoc commented on #62919
\cc @christopherfujino

[2020-11-05 01:39] ditman opened #69843 "Migrate flutter_web_plugins package to null safety"
This is a requirement for https://github.com/flutter/flutter/issues/66395

## Proposal

Migrate the `flutter_web_plugins` package to null safety.

[2020-11-05 01:40] jmagman commented on #63508
@robrichardson13 I believe this is fixed on the master channel, if you are able to test and verify it now works that would be extremely helpful!

[2020-11-05 01:50] xu-baolin commented on #69774
I am working on this.

[2020-11-05 01:52] leafpetersen commented on #69838
Is there an easy way to tell what the corresponding dart hash is for that flutter hash?  There was a known issue with the VM not correctly detecting sound mode that could be relevant to the difference.

Is this demo expected to be running in sound mode?  It sounds like it shouldn't be, given the claim above that flutter_staggered_grid_view is not yet migrated.  But that error looks to me on first

[2020-11-05 01:53] jakemac53 commented on #69824
The problem is most likely just that you are not depending on the null safe version of these packages.

They all have `-nullsafety.<x>` versions published which will need to be explicitly depended on since they are pre-releases.

[2020-11-05 02:08] wer32 commented on #69722
@jason-simmons would you help to find instruction or documentation on how to use these parameters, please?
For some reason, my tries were not successful.

[2020-11-05 02:15] triadityaa opened #69845 "* What went wrong: Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'. > Failed to find Build Tools revision 29.0.2"
Launching lib\main.dart on sdk gphone x86 in debug mode...
Running Gradle task 'assembleDebug'...

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* G

[2020-11-05 02:24] jacobaraujo7 commented on #67277
@chunhtai Why ```markForReplace``` not exist in RouteTransitionRecord?
I believe that this would solve this bug

[2020-11-05 02:28] ylrs commented on #69764
Can not access of ”https://chrome-infra-packages.appspot.com/prpc/cipd.Repository/ResolveVersion“ ，other can

[2020-11-05 02:30] qjatjr1108 commented on #69754
Hello

I have the same symptoms of failing the build the same.

[code]

The flutter version I'm using
[code]

Will it only work with the latest version of Flutter?

[2020-11-05 02:31] ceeyang commented on #69635
[code]

[2020-11-05 02:34] jmagman commented on #58200
This fix has been requested for a stable hotfix.

The workaround is to make the `MinimumOSVersion` Info.plist values embedded in your app match your iOS target version (for example, make them all 9.0).

[2020-11-05 02:35] wH1t3-l0tUs commented on #68472
I got the same problem after upgrade to the newest Flutter version

this is my `flutter doctor` result:
[code]

[2020-11-05 02:40] fredlee12345678 commented on #50024
@dnfield I have worked on image memory for several months. there is my changed in engine;
1. cancel the image from io thread, when the image scroll out the screen or image widget is dispose. it works fine when user enter a view which loading image and exit very quickly. It can cancel the image pending in io thread.
2. make a decode image pool;
3. provide mipmaps optional to Dart. In most case, mip

[2020-11-05 02:42] leafpetersen commented on #69838
It looks to me as if this failure is coming from the implicit cast from dynamic to double on this line:  https://github.com/letsar/flutter_staggered_grid_view/blob/master/lib/src/rendering/sliver_staggered_grid.dart#L145

That cast should, I believe, succeed, since this code is opted out.  If that is, in fact, the failing cast, then I think this is probably a dart2js bug.

[2020-11-05 02:43] bernaferrari commented on #69804
Hey @jonahwilliams! Glad to see this issue again (there are a few duplicates somewhere, like https://github.com/flutter/flutter/issues/67635). I have this issue with hot reload and hot restart every day. It is hard to reproduce and seems to happen at random times. However... There is a project where this fails every single time! Yes, you read right.

Could you try running this project? https://git

[2020-11-05 02:52] mcbhavana27 commented on #46094
I tried many things but I resolved my issue by updating the gradle to latest version. Then itvworked fine

[2020-11-05 02:57] vipuluthaiah commented on #69746
$ flutter channel stable
fatal: bad config line 1 in file .git/config
Building flutter tool...
Running pub upgrade...
Switching to flutter channel 'stable'...
git: fatal: bad config line 1 in file .git/config
Switching channels failed with error code 128.

[2020-11-05 02:58] vipuluthaiah commented on #69746
@darshankawar
\$ flutter doctor -v
fatal: bad config line 1 in file .git/config
Building flutter tool...
Running pub upgrade...
Failed to find the latest git commit date: VersionCheckError: Command exited with code 128: git -c log.showSignature=false log -n 1 --pretty=format:%ad --date=iso
Standard out:
Standard error: fatal: bad config line 1 in file .git/config

Returning 1970-01-01 05:30:00.000

[2020-11-05 03:00] vipuluthaiah commented on #69746
@darshankawar
path:

‪C:\Users\welcome\.gitconfig
[user]
	name = vipuluthaiah
	email = kechamadavipul@gmail.com

[2020-11-05 03:09] ylrs commented on #69764
![image](https://user-images.githubusercontent.com/3962127/98193094-57c3d600-1f57-11eb-86c2-34090b455937.png)

[2020-11-05 03:11] ylrs commented on #69764
![Uploading image.png…]()

[2020-11-05 03:11] voiddog opened #69847 "Text selection handler clips Chinese text"
## Screenshot
![]()
<img width="400" height="800" src="https://i.imgur.com/kihCH8p.jpg">

You can see the text will be cliping.

## Steps to Reproduce
It can be reproduce in master.

<details><summary>Code</summary>

[code]
</details>

## Flutter doctor
[code]

[2020-11-05 03:11] ylrs commented on #69764
![image](https://user-images.githubusercontent.com/3962127/98193262-b5582280-1f57-11eb-9502-8e4846b03679.png)

[2020-11-05 03:12] ylrs commented on #69764
How should I do ?

[2020-11-05 03:15] jmagman commented on #68649
I think this was last seen [2020-10-27T08:06:05.402390](https://pantheon.corp.google.com/logs/viewer?project=flutter-dashboard&resource=global&expandAll=false&advancedFilter=resource.type%3D%22global%22%0Aresource.labels.project_id%3D%22flutter-dashboard%22%0Atimestamp%3D%222020-10-27T15%3A06%3A34.020848771Z%22%0AinsertId%3D%221sxksjvg14ngoma%22&timestamp=2020-11-05T03%3A13%3A37.081000000Z&scrollT

[2020-11-05 03:18] elowes opened #69849 "The display effect of colorfilter on the web platform is inconsistent with the mobile platform"
## Steps to Reproduce

1. Open [DartPad Example](https://dartpad.dev/09c0048e94e12b4a3ab43471dfce9b41).

**Expected results:**

![image](https://user-images.githubusercontent.com/8766034/98193479-43340d80-1f58-11eb-8fd5-0235fa1dbcc9.png)

**Actual results:**

![image](https://user-images.githubusercontent.com/8766034/98193499-4e873900-1f58-11eb-8b7f-3b931e937d46.png)

<details>
  <summary>Logs</su

[2020-11-05 03:43] jmagman commented on #54599
There's are a few different issues being conflated here.

1. @andrejvnior and @Fabrizio1407 are only seeing this problem with the camera plugin.  I don't think we know what version of the plugin you were on, but perhaps you hit https://github.com/flutter/plugins/pull/2928.  Can you try again on version `0.5.8+5` or higher?  Please attach your pubspec.lock.
2. @VK-Gotit @IntoTheElements hit https:/

[2020-11-05 03:44] #69718 closed

[2020-11-05 03:52] juefeiyechen commented on #28978
同样的问题，还没有解决呀

[2020-11-05 03:52] juefeiyechen commented on #28978
怎么办 求支招

[2020-11-05 03:56] vashisth00 opened #69851 "[tool_crash] ProcessException: Process exited abnormally:Command line invocation: /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -listxcodebuild: error: Unable to read project 'Runner.xcodeproj'. Reason: Project /Users/omkar.vilankar/Downloads/nni/nin/flutter-app/source/ios/Runner.xcodeproj cannot be opened because it is missing its project.pbxproj file. Command: /usr/bin/xcodebuild, OS error code: 74"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ProcessException: Process exited abnormally:
Command line invocation:
    /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -list

xcodebuild: error: Unable to read project 'Runner.xcodeproj'.
	Reason: Project /Users/omkar.vilankar/Downloads/nni/nin/flutter-app/source/ios/Runner.xcodeproj cannot be opened because it

[2020-11-05 03:59] sidrao2006 commented on #69845
Hey @triadityaa , could you please check whether you have installed the android sdk? Please provide the output of `flutter doctor -v`
Thanks

[2020-11-05 04:01] xy221150 commented on #69636
#[https://github.com/flutter/flutter/issues/65909](url)
 #[https://github.com/flutter/flutter/issues/68552](url)
 #[https://github.com/flutter/flutter/issues/45888](url)
#[https://github.com/flutter/flutter/issues/62570](url)
These issues may be very similar to what I encountered

[2020-11-05 04:02] dsky1990 commented on #69822
export PUB_HOSTED_URL=https://pub.flutter-io.cn
export FLUTTER_STORAGE_BASE_URL=https://storage.flutter-io.cn

[2020-11-05 04:03] dsky1990 commented on #69822
this may help fix the problem

[2020-11-05 04:11] sanjidbillah commented on #69830
I worked with fluxstore, This is not a flutter issue ..
you need to setup one signal properly..

[2020-11-05 04:30] dotupNET opened #69853 "Flutter Doctor: Android Studio 4.1 is not detected"
No workaround from [#67986](https://github.com/flutter/flutter/issues/67986) works. How can I fix this?

## Steps to Reproduce

Run flutter doctor..

## Additional infos:

[code]

## `flutter doctor -v`

[code]

[2020-11-05 04:32] #69853 closed

[2020-11-05 04:34] dotupNET commented on #69853
After switching the channel to beta and back to dev and settting the and android studio dir again, the issue is gone.

`flutter config --android-studio-dir=/snap/android-studio/current/android-studio/`

[2020-11-05 05:12] jason-simmons commented on #69552
This is happening because the `ImageFilterLayer` is trying to place the child widget stack into the raster cache.  But the red rectangle is not being rendered into the cached bitmap.

When `ImageFilterLayer::Preroll` calls `TryToPrepareRasterCache`, it only renders child layers where `needs_painting()` returns true.  The `ClipRectLayer` child that contains the red rectangle is sometimes returning

[2020-11-05 05:12] vashisth00 commented on #69830
I did still this issue persists, my flutter version is 1.24.0-8.0.pre.74 can that be an issue?

[2020-11-05 05:26] vipuluthaiah commented on #69746
closing this issue
i resolved by
deleting my flutter sdk and installing latest version

[2020-11-05 05:27] #69746 closed

[2020-11-05 05:39] darshankawar commented on #69722
@wer32
Please see [this](https://github.com/flutter/flutter/issues/56044) open issue where it specifies the same.

[2020-11-05 05:47] ahuruConnect commented on #25107
I'm getting the same issue here. Should really fix this.

[2020-11-05 05:48] bellalhrbubt commented on #26526
dfgdgdfg

[2020-11-05 05:55] darshankawar commented on #69721
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<img width="1251" alt="Screenshot 2020-11-05 at 11 24 23 AM" src="https://user-images.githubusercontent.com/67046386/98203196-9b1f4400-1f59-11eb-8d4b-e3fd38e77efc.png">
<img width="1012" alt="Screenshot 2020-11-05 at 11 24 35 AM" src="https://user-images.githubusercontent.com/67046386/98203203-9e1a3480-1f59-11eb-9e9d-c471317f8e98.

[2020-11-05 05:58] godilite commented on #22951
This issue still occur

[2020-11-05 06:04] Zfinix commented on #64904
This issue still exists on dev, stable, and beta. Adding spaces after text on web has been a pain. Even on codepen.io.

[2020-11-05 06:08] darshankawar commented on #69170
@scaraux
Verified on iphone SE simulator (OS 14) and iphone 6s device but didn't notice the issue. Was able to push and pop properly.

[RPReplay-Final1604556350.MP4.zip](https://github.com/flutter/flutter/files/5492287/RPReplay-Final1604556350.MP4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-05 06:11] nebnhoj commented on #69671
@darshankawar I can't find ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings in project file.

[2020-11-05 06:14] darshankawar commented on #69689
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[code]

[2020-11-05 06:15] lv823063712 opened #69855 "The Flutter is embedded in a native FlutterFragment, but the system return key cannot be listened to using WillPopScope"
The Flutter is embedded in a native FlutterFragment, but the system return key cannot be listened to using WillPopScope
Here's the code for the Android native side
![image](https://user-images.githubusercontent.com/44794626/98204384-ec86fd80-1f70-11eb-934e-98f614509210.png)
Here is how the return key is handled in the native
![image](https://user-images.githubusercontent.com/44794626/98204412-f741

[2020-11-05 06:21] darshankawar commented on #69697
@ventocilla
I still see that you have installed flutter on `C:\` drive.  Can you try to install somewhere else other than C ? like D drive or under Documents folder which doesn't come under C drive and try again ?

[2020-11-05 06:22] mehmetf commented on #69787
I have reduced the internal case into something manageable. It is still quite complex but I am hoping it will give you enough of a playground to figure out whether the issue is related.

main.dart: https://gist.github.com/mehmetf/7001d39f3ddc674f5f54e9763f6199cc
html_widget.dart: https://gist.github.com/mehmetf/42d11f9bb4d709e7dc699106659af66b

Several (huh?) moments:

- Remove the gesture recogni

[2020-11-05 06:27] darshankawar commented on #69753
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[RPReplay-Final1604557552.MP4.zip](https://github.com/flutter/flutter/files/5492351/RPReplay-Final1604557552.MP4.zip)

[2020-11-05 06:40] pedromassangocode commented on #69522
Hi @Tony-Akani
I have no idea.

I would suggest you to contact the person who sold the project to you.
Since it looks like you are looking for assistance I will close this for now.
Thank you

[2020-11-05 06:40] #69522 closed

[2020-11-05 06:43] darshankawar commented on #69671
@nebnhoj
Since I don't know what are your project configurations and settings, hard to tell why you don't see the file.
Please provide `flutter run ios --verbose`, `cocoapods` version.

Can you also try creating a fresh project and run the same command you were running to see if it works ? If so, then try to compare the configuration of your new project and legacy to see what's missing.

[2020-11-05 06:49] darshankawar commented on #69776
@vj12354
Please provide `flutter doctor -v` and a complete minimal reproducible code sample that shows the issue.
Thanks.

[2020-11-05 06:51] evripidesk commented on #26005
hello any fix for this issue?

[2020-11-05 06:52] pedromassangocode commented on #69625
Hi @moda20
From what I can see, the issue is related to a 3rd party plugin rather than to Flutter itself.

[code]
Please open the issue in the dedicated [repository](https://github.com/moda20/flutter_file_meta_data).
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yaml`
a m

[2020-11-05 06:52] #69625 closed

[2020-11-05 06:57] paulsam1016 opened #69856 "Getting this error : Unhandled Exception: FormatException: Invalid envelope - While using Intent"
I have a Flutter Application that has a service, but when showing notification from the service I am getting this error.

[code]
By using `Log` I found it was happening when the `Intent` for service notification was made.

### MainActivity.java

[code]

### DownloadService.java

[code]
`WorkerThread` just returns a string.

### main.dart
[code]

[2020-11-05 06:58] xster commented on #27095
I couldn't reproduce this issue on Android SDK level 30 and on Flutter master (1.24.0-8.0.pre.46) using the google_maps_flutter v1.0.6's example.

Perhaps there's a specific combination of Android OS version + Flutter version I need to try? But I'm not very clear what that combination is from the comments above.

[2020-11-05 07:01] darshankawar commented on #69777
@Legolaszstudio
Please provide a complete code sample that we can copy paste and run in IDE to see the issue. I used your code sample, but its complaining on `$user`

[2020-11-05 07:05] wangcode commented on #47583
Still on 1.22.3

` flutter doctor --verbose`

[code]

[2020-11-05 07:07] darshankawar commented on #69805
Closing this as duplicate of [56975](https://github.com/flutter/flutter/issues/56975)

[2020-11-05 07:07] #69805 closed

[2020-11-05 07:08] karthickramanathan95 commented on #51752
Interesting article about [React hooks](https://reesew.io/posts/react-algebraic-effects)

[2020-11-05 07:10] pedromassangocode commented on #68838
Hi @D-Rusty
Can you please follow the suggestion given in the logs?
Also see https://flutter.dev/docs/development/ios-14
Thank you

[2020-11-05 07:17] TahaTesser commented on #69408
Hi @jwinarske
`ERROR at //build/config/BUILDCONFIG.gn:491:3: Assertion failed.`  might from the engine build,  I haven't tried compiling the engine for Linux yet.  However, without steps to reproduce the issue, it's hard to locate the issue.

If you have a proposal or feature request, please file a separate issue for it
Thank you

[2020-11-05 07:18] GhagSagar23 commented on #69751
Thanks for the reply @darshankawar.
I got it solved by updating the path for flutter in the VSCode Dart Settings.
1. Open VSCode and press "Cmd" + ",".
2. Search for `Dart SDK Path`.
3. Click on **"Edit in settings.json"**
4. Update the value as you flutter SDK path for key **"dart.flutterSdkPath"**.

[2020-11-05 07:19] darshankawar commented on #69819
@Harrisonnguyen1210
Your question is better suited for StackOver flow. Please see https://flutter.dev/community for resources and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-11-05 07:21] TahaTesser commented on #69764
Hi @ylrs
Weirdly I cannot access it either, can you link the documentation you following to execute these commands?  So I can reproduce it exactly
Thank you

[2020-11-05 07:24] ghenry commented on #32170
Just the default. I'll look at the way you suggest. Thanks.

[2020-11-05 07:26] jagrdev opened #69858 "AppBar has additional space when parameter "primary" is false"
I want customize SafeArea above AppBar in my application but can't because there is additional area below when I set a parameter "primary" to false.

## Steps to Reproduce

1. Run `flutter create empty_app`.
2. Update AppBar in main.dart:
`appBar: AppBar(
        title: Text(widget.title),
        primary: false,
      ),`

**Actual results:**
![image](https://user-images.githubusercontent.com/151

[2020-11-05 07:28] Purvik commented on #41573
Hey, have you found any solution?

[2020-11-05 07:28] darshankawar commented on #69825
@AzzaHadded
Can you switch to latest master and try again to see if it works or you get same issue ?
Thanks.

[2020-11-05 07:31] pedromassangocode commented on #69636
Hi @xy221150
Have you faced this on Android devices/emulator as well?

Cc @Piinks @liyuqian

[2020-11-05 07:31] ciscolxh commented on #56842
You can focus
https://github.com/flutter/flutter/issues/21594

[2020-11-05 07:32] fredlee12345678 commented on #69552
@jason-simmons @liyuqian @flar I fixed it in my branch, here is my PR https://github.com/flutter/engine/pull/22315. so could you please assign this issue to me?

[2020-11-05 07:33] ciscolxh commented on #35691
How to make a table to merge cells

[2020-11-05 07:35] darshankawar commented on #69830
@vashisth00
Not sure what `fluxstore` is, but from your logs, I see you are using `OneSignal` sdk for Flutter. You may need to open this issue in their repo as it idoesn't seem to be an issue with Flutter.
Closing. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-11-05 07:35] #69830 closed

[2020-11-05 07:36] ylrs commented on #69764
@TahaTesser thank you very much, By configuring hosts, it seems to be resolved

[2020-11-05 07:36] #69764 closed

[2020-11-05 07:41] darshankawar commented on #69845
@triadityaa
As the error says `Failed to find Build Tools revision 29.0.2`.  Please check if you have installed the said sdk version from sdk manager.

[2020-11-05 07:42] Extazx2 commented on #69673
@darshankawar as @qbait mentioned, I know of `seekTo`.

My intended goal is to have a loop like @qbait described

[2020-11-05 07:42] pedromassangocode commented on #69851
@kiradea
There's similar open issue describing your case, [57083](https://github.com/flutter/flutter/issues/57083).
Please follow-up there for updates. Also check [this](https://github.com/flutter/flutter/issues/57083#issuecomment-654394040) to see if this workaround works for you.
Closing this as duplicate.

[2020-11-05 07:42] #69851 closed

[2020-11-05 07:44] TahaTesser commented on #69816
I suspect this is not supported, it's the opposite of https://github.com/flutter/flutter/issues/39707, instead of getting multiple modules into one native, it's one module into multiple native apps project.

[2020-11-05 07:46] chstrong commented on #27095
Have you tried with Pixel3 simulator? Might be specific to that.

On Thu, 5 Nov 2020, 2:58 pm xster, <notifications@github.com> wrote:

[2020-11-05 07:54] xy221150 commented on #69636
Android devices are normal

[2020-11-05 07:56] Manjunath375 commented on #33245
Can u tell where the exact line is located

i got only below code in main.dart.js file

if(s==null)s=""
if(s.length===0||s==="#")return"/"
return C.d.cn(s,1)},
wd:function(a){return new P.o8([],[]).pG(window.history.state,!0)},
zh:function(a,b){var s,r
if(b.length===0){s=window.location.pathname
s.toString
r=window.location.search
r.toString
r=s+r
s=r}else s="#"+b
return s},

If i replace # with '

[2020-11-05 07:57] Manjunath375 commented on #33245
in local it is running fine but when i push the code to server i am getting 404 error

[2020-11-05 07:57] rehamalraee opened #69859 "SharedPreferences in background"
Hello, How can I access the App's shared Preferences when My app is in the background and doing a certain task?

[2020-11-05 07:58] iapicca commented on #44435
@MehmetAtabey
I recommend to open a new issue providing
your `flutter doctor -v`,
your `flutter build ios -v`
and a minimal reproducible code sample

[2020-11-05 07:58] darkdragon-001 commented on #41737
@barthalion @alexlarsson Can someone of you have a look? This could help a lot of applications becoming available on Flathub!

[2020-11-05 08:01] iapicca commented on #54970
@clearnetinc
I recommend to open a new issue providing
your `flutter doctor -v`,
your `flutter run -v`
and a **minimal** reproducible code sample **that does not use 3rd party plugins**
(like `firebase` `geolocator` `uuid` `flutter_svg`)

[2020-11-05 08:01] mofada commented on #44435
@darshankawar Oh, sorry, flutter has written less recently. I haven’t upgraded since I downgraded to 0.3.14, so I haven’t encountered this problem anymore.

[2020-11-05 08:02] SokHo commented on #69689
Yes, as you can see it's rebuild all the time when we tap on TextField.
So did you have solution for this?

[2020-11-05 08:07] TahaTesser commented on #69822
Hi @abjorck
Can you please install via git clone
`git clone -b stable https://github.com/flutter/flutter.git` and then` flutter doctor -v `

[2020-11-05 08:09] sidrao2006 commented on #69859
Hey @rehamalraee ,
You should be able to use SharedPreferences directly from the background process you are running.
Also, this issue tracker is used for tracking bugs and feature requests for the flutter framework, engine and the flutter tool.
Please see https://flutter.dev/community for resources and asking queries doubts and assistance on personal code. You may get some help if you post it on [

[2020-11-05 08:10] ashank96 commented on #67291
@mdebbar @ferhatb anyway I can test this fix merged to the engine ? How do I use this engine code in latest flutter master/beta? Or is there any timeline for new engine release for the flutter repo?
Can you please help here?
I just want to confirm if the issue is actually resolved by testing it.
TIA.

[2020-11-05 08:10] darshankawar commented on #69849
Issue replicable on latest master and on latest beta.

<img width="1197" alt="Screenshot 2020-11-05 at 1 33 13 PM" src="https://user-images.githubusercontent.com/67046386/98213968-dd518100-1f6b-11eb-8342-e0f54c6f70ec.png">

<details>
<summary>master flutter doctor</summary>

[code]

</details>

<details>
<summary>beta flutter doctor -v</summary>

[code]

</details>

[2020-11-05 08:11] ashahir05 commented on #41737
@gspencergoog I did write an SDK extension (with some components from another flatpak). It's kind of outdated but the basics did work. However ```flutter doctor``` doesn't work since flatpaks are sandboxed and there is the need for some workarounds.

https://github.com/ashahir05/org.freedesktop.Sdk.Extension.flutter-dart

[2020-11-05 08:13] jimad7 commented on #60029
When are you going to fully support app clips in a Flutter project? The official docs says that it's possible. I have succeded to create an app clip. But the size of a simple app clip, is way over the 10MB limit from just showing a simple screen. I've also tried to embed a simple swift view, without any shared resources from the main Flutter app. But the Flutter Framework is by default embedded in

[2020-11-05 08:14] pedromassangocode commented on #69847
Reproducible on stable and master channels.

![Screen Shot 2020-11-05 at 09 03 49](https://user-images.githubusercontent.com/67424416/98213896-09f2a200-1f46-11eb-8b26-4ca4b8666ba0.png)

![Screen Shot 2020-11-05 at 09 06 05](https://user-images.githubusercontent.com/67424416/98214110-61910d80-1f46-11eb-84a8-aa20f564f64b.png)

<details><summary>flutter doctor -v (master)</summary>

[code]
</details>

[2020-11-05 08:15] nebnhoj commented on #69671
@darshankawar
the `flutter run --verbose` log is included in the post
1.10.0

[2020-11-05 08:17] TahaTesser commented on #69813
Hi @tazik561
Can you please provide  your `flutter run  -d chrome --verbose` and a **complete** reproducible minimal code sample
Thank you

[2020-11-05 08:18] gionchat opened #69860 "The TextField widgetcannot limit input to only two decimal places"
The TextField widgetcannot limit input to only two decimal places

[2020-11-05 08:20] yanivshaked commented on #66900
I tried it, but the issue persists.

[2020-11-05 08:21] TahaTesser commented on #69856
Hi @paulsam1016
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comm

[2020-11-05 08:21] #69856 closed

[2020-11-05 08:22] darshankawar commented on #69855
@lv823063712
Please provide `flutter doctor -v` and a complete minimal reproducible code sample in text format that we can use to replicate the issue. Also provide what should be  the expected behavior / result as compared to actual behavior when we run the code.
Thanks.

[2020-11-05 08:23] TahaTesser commented on #69859
Hi @rehamalraee
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comm

[2020-11-05 08:23] #69859 closed

[2020-11-05 08:24] Aman2two opened #69861 "Crashlytics ios error"
Crashlytics are not working as expected in ios.But working fine in android.

Expected result:Crash Logs visible on firebase portal.

Actual results: No logs visible on firebase portal.

Logs at app start:

Configuring the default Firebase app...

[Crashlytics] Version 3.14.0 (144)

Configured the default Firebase app __FIRAPP_DEFAULT.

[Fabric] [Fabric +with] called multiple times. Only the first

[2020-11-05 08:26] darshankawar commented on #69860
@gionchat
Please provide `flutter doctor -v` and a minimal code sample that shows the issue you are facing.
Thanks.

[2020-11-05 08:26] pedromassangocode commented on #69858
Hi @jagrdev
This is expected, you can see the documentation of the primary property for more info. Here is what it says:

Closing as this is working as intended.

[2020-11-05 08:26] #69858 closed

[2020-11-05 08:29] darshankawar commented on #69861
@Aman2two
Firebase related issues are tracked here https://github.com/FirebaseExtended/flutterfire/issues
Closing from here.

[2020-11-05 08:29] #69861 closed

[2020-11-05 08:30] TahaTesser commented on #66862
Hi @lukepighetti
Are you getting the following error ?
[code]

[2020-11-05 08:33] StephenKDS opened #69862 "On keyboard popup, it appears the underlying Stateful Widget is re-loaded"
Losing all its current settings and reloading it.

It appears that on the Keyboard Show event (keyboard does actually show up quickly) then the underlying widget appears to restore itself or recreate itself with default values for the instance.

I then am stuck with a on screen keyboard showing but now the whole widget has re-drawn.

Its some wierd behaviour and not sure what is causing it.

I hav

[2020-11-05 08:33] darshankawar commented on #69751
@GhagSagar23 Glad to know your issue is resolved.
Closing this.

[2020-11-05 08:33] #69751 closed

[2020-11-05 08:34] TahaTesser commented on #69188
@mohadel92
The issue you mentioning is unrelated to this, it should be fixed on the latest package for physical device and but fixed not yet landed for the simulator  https://github.com/flutter/flutter/issues/68283

[2020-11-05 08:36] darshankawar commented on #69673
@Extazx2
Does [this](https://github.com/flutter/flutter/issues/69064) open issue sound similar to yours ?

[2020-11-05 08:36] D-Rusty commented on #68838
thank you，Let me learn

[2020-11-05 08:37] mit-mit opened #69863 "Crash while running `flutter` commands"
## Steps to Reproduce

Ran `flutter upgrade --force`

## Logs

[code]

After running it a second time I get:

[code]

[2020-11-05 08:39] darshankawar commented on #69671
@nebnhoj
Can you also try creating a fresh project and run the same command you were running to see if it works ? If so, then try to compare the configuration of your new project and legacy to see what's missing.

[2020-11-05 08:39] Extazx2 commented on #69673
Yes it is.

[2020-11-05 08:39] egodefroy commented on #48622
Hi @TahaTesser
 as per #48622 (comment) , tree shaking and minifyEnabled are not set in my gradle configuration. Does not seem to be relevant to my problem

[2020-11-05 08:39] pedromassangocode commented on #69684
Hi @rishabhdeepsingh
Can you please provide your `flutter doctor -v`, your `flutter build appbundle --verbose` and your `pubspec.yaml`.
Thank you

[2020-11-05 08:40] TahaTesser commented on #69774
@xu-baolin  Would you like to be assigned?

[2020-11-05 08:41] xu-baolin commented on #69774
Sure :)

[2020-11-05 08:41] pedromassangocode commented on #69686
Yes, this is definitely a duplicate of https://github.com/flutter/flutter/issues/65936.

[2020-11-05 08:41] #69686 closed

[2020-11-05 08:44] darshankawar commented on #69673
@Extazx2 Thanks for confirming.
Closing this as duplicate. Please follow-up in linked issue for updates and any questions you may have.
If you disagree, write in comments and I'll reopen.
Thanks.

[2020-11-05 08:44] #69673 closed

[2020-11-05 08:45] TahaTesser commented on #69188
Hi @egodefroy
Can you please provide a reproducible code sample in a repository
Thank you

[2020-11-05 08:47] mohadel92 commented on #69188
sorry for that not yet that comfortable with github tickets system , but i would like to say that my issue is also available on ios 14 simulator
i can start a new ticket for this issue

[2020-11-05 08:49] pedromassangocode commented on #69773
Hi @EthanDevelops
Those are not errors but warnings. The difference is that warnings does not prevent you to use Flutter but error does. That said you can use Flutter and ignore those warnings.

This is caused by the new version of the Android Studio where they have changed the path of the plugins.

See https://github.com/flutter/flutter/issues/67986

[2020-11-05 08:49] #69773 closed

[2020-11-05 08:51] rishabhdeepsingh commented on #69684
[✓] Flutter (Channel stable, 1.22.3, on Mac OS X 10.15.7 19H2, locale en-IN)
    • Flutter version 1.22.3 at /Users/whiteknife/softwares/flutter
    • Framework revision 8874f21e79 (7 days ago), 2020-10-29 14:14:35 -0700
    • Engine revision a1440ca392
    • Dart version 2.10.3

[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.1)
    • Android SDK at /Users/whiteknife

[2020-11-05 08:54] tazik561 commented on #69813
This is --verbose :
[code]

- Click on `firstPage` button and after showing web page, return to main page , If you click on `SeccondPage` you see first web page again
_ if you click on  `SeccondPage`  , the page remain blank and in chrome's Devtools you see this error:
`Refused to display 'https://profilesejam.csdiran.ir/session' in a frame because it set 'X-Frame-Options' to 'deny'.`

This is min

[2020-11-05 08:55] romanpozd-tg17 opened #69865 "Build release flutter sub module integrated to Android exist app"
Hey guys,
Integrated flutter sub module with some screens to out existing Android project.
Trying to figure our if there is an option to build an unsigned debug apk of existing android project with release flutter sub module.

Tried to change flutter varian to "release" but the app still builds with debug flutter varian.
<img width="701" alt="Screen Shot 2020-11-05 at 10 53 44" src="https://user-i

[2020-11-05 08:57] renanyoy commented on #49438
trying to build our app from vscode
it was working before
seems related to flutter using an obsolete gradle version
[code]

[2020-11-05 09:07] abjorck commented on #69822
[code]

[2020-11-05 09:13] pedromassangocode commented on #69684
Hi @rishabhdeepsingh
Looks like the issue is gone, based on the logs your build succeeded.

[code]

Are you still facing this issue?

[2020-11-05 09:13] giaur500 commented on #33514
Abandoned and it actually does not parse anything: https://github.com/synw/geojson/issues/30

No response, last update almost year ago. I think we can forget it.

[2020-11-05 09:18] MehmetAtabey commented on #44435
I just solved this issue from this topic : https://github.com/flutter/flutter/issues/15152#issuecomment-371124783
but I need to do it same process over and over again for my every build. And this is realy annoying.

[2020-11-05 09:21] NayoLx opened #69867 "Android Studio can not find the Flutter plugin and Dart plugin"
**when i upgrade to 1.22.3, Android Studio can not find the Flutter plugin and Dart plugin, how can i fix it, !!!**

already install the Flutter plugin and Dart plugin
![image](https://user-images.githubusercontent.com/36600238/98221697-ec93f700-1f8a-11eb-90d8-34ff864e2ff1.png)

PS C:\Users\coco\Desktop> flutter doctor -v
[√] Flutter (Channel stable, 1.22.3, on Microsoft Windows [Version 10.0.1836

[2020-11-05 09:23] xu-baolin commented on #67044
I have posted a PR to fix this.

[2020-11-05 09:24] mit-mit commented on #69863
Hmm, this same error also appears post-upgrade when creating projects:

[code]

[2020-11-05 09:25] xu-baolin commented on #69774
Duplication of #67044

[2020-11-05 09:25] rishabhdeepsingh commented on #69684
Yes, I am still facing the issue.

You are building a fat APK that includes binaries for android-arm, android-arm64, android-x64.
If you are deploying the app to the Play Store, it's recommended to use app bundles or split the APK to
reduce the APK size.
    To generate an app bundle, run:
        flutter build appbundle --target-platform android-arm,android-arm64,android-x64
        Learn more on

[2020-11-05 09:29] TahaTesser commented on #69820
Hi @slightfoot
I wasn't able to reproduce the issue in release mode using the lates t `google_maps_flutter 1.0.6` with or without `proguard`.

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>build.gradle</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you p