[2018-06-18 01:04] lukepighetti commented on #14794
Padding in my experience is unacceptable way to adjust the hitbox because it adjusts the items on the screen.

<img width="307" alt="screen shot 2018-06-17 at 9 01 52 pm" src="https://user-images.githubusercontent.com/666539/41514067-f1dbc7d8-7271-11e8-9649-15e20ac5b30b.png">

<img width="300" alt="screen shot 2018-06-17 at 9 03 33 pm" src="https://user-images.githubusercontent.com/666539/41514068

[2018-06-18 01:15] lukepighetti opened #18554 "Cannot adjust hitSlop of GestureDetector"
@Hixie already closed #14794 but I'm posting a new Issue because this is critical functionality

Hixie recommended using padding to adjust the hitbox of a `GestureDetector`. I tried to use padding but it merely produced whitespace around GestureDetector, or around its children.

I even tried to transform with hitTests up and then transform without hitTests down to try to hack my way to a solution

[2018-06-18 01:20] lukepighetti commented on #18554
Not only that, but if I do something like this

[code]

I get a hitbox that is red in this photo. Green is expected

<img width="319" alt="screen shot 2018-06-17 at 9 19 18 pm" src="https://user-images.githubusercontent.com/666539/41514348-393aa75a-7274-11e8-9d75-6bb2b259edb6.png">

[2018-06-18 01:22] lukepighetti commented on #14794
@Hixie I know you closed this but I'm being a rebel and opening a new Issue because I believe this to be critical.

[2018-06-18 01:36] Hixie commented on #18554
to make the hit box bigger, you have to make the widget (and all its ancestors) bigger. How you do that is up to you.

[2018-06-18 01:41] lukepighetti commented on #18554
Has the Flutter team ever discussed hitSlop?

[2018-06-18 01:45] lukepighetti commented on #18554
Also, this padding is not increasing the size of the hitbox
<img width="694" alt="screen shot 2018-06-17 at 9 44 43 pm" src="https://user-images.githubusercontent.com/666539/41514779-aebdc2b6-7277-11e8-8d5e-66598742e33a.png">

[2018-06-18 02:07] prijindal commented on #14868
Even some framework or something as simple as a ui library to help with angulardart(for web) + flutter(for mobile) would be a huge step

[2018-06-18 02:08] magnocastro opened #18555 "TextFormField with textAlign right but Cursor is in the left"
I have a TextFormField with attribute `textAlign: TextAlign.right`, but when i run the app, the cursor indicator is on the left only if contains 1 character, for more character the cursor go to right
![capturar](https://user-images.githubusercontent.com/14947820/41515107-dae159ba-7282-11e8-8c59-4fd8d778a5a2.PNG)

![capturar](https://user-images.githubusercontent.com/14947820/41515134-f5ae38d0-7282

[2018-06-18 02:30] kevmoo commented on #15817
You can run `pub get --offline` – or the flutter equivalent. That will use any packages you have in your local cache.

[2018-06-18 04:03] duweigang opened #18556 "How to turn off automatic generation of "trailing commas" function?"
Each time I enter a parameter, a comma is generated. I need to manually delete the last comma to keep the code clean. Obsessive-compulsive disorder can't stand the last extra comma.

[2018-06-18 04:43] vapolonio commented on #15865
same issue

[2018-06-18 05:09] Hixie commented on #18554
Is the GestureDetector inside something that's forcing its size?

[2018-06-18 05:11] jonahwilliams commented on #18556
@duweigang what IDE are you using?

[2018-06-18 05:13] bxdwg commented on #18556
@jonahwilliams Android Studio ( 3.0.1 )

[2018-06-18 05:14] duweigang commented on #18556
@jonahwilliams Android Studio ( 3.0.1)

[2018-06-18 05:16] Hixie commented on #10826
If you have 600 pixels of content to render, but the screen is only 400 pixels high, and you don't want it to be scrollable... I don't really know what you want Flutter to do?

Flutter's framework is designed not to have magic; if you don't say that something should be scrollable, then the framework isn't going to create all the machinery to have scrolling.

[2018-06-18 05:20] XiaYongjie commented on #11940
@giteekasawlani I have the same problem. Do you know how to solve it?

[2018-06-18 05:36] Hixie commented on #466
You could create a kind of RenderObject that takes the percentage as one of the constraints. Maybe its constraints could be a class with a double (the percentage) and a `BoxConstraints` object, and its child would be a `RenderBox` to which you pass the `BoxConstraints`. If you model this render object after the `LayoutBuilder` widget and its render object, you can have the same API you have today

[2018-06-18 05:40] XiaYongjie commented on #18155
@zoechi I have the same
![2018-06-18 13-34-09](https://user-images.githubusercontent.com/12043449/41519819-ede691fe-72fc-11e8-889b-7902e3fff0b5.png)
![2018-06-18 13-37-10](https://user-images.githubusercontent.com/12043449/41519820-ee28bd04-72fc-11e8-9de2-8d98a338a1b9.png)

I try to unload reload but it's useless

[2018-06-18 06:09] letsar commented on #466
Oh great, thank you! Challenge accepted :smile:. I will give it a try after finishing the work in progress on the next feature. Maybe I'll come back to you later, once I dive in the lag issue.
By the way, thank you for your work on the Flutter SDK 👍.

[2018-06-18 06:17] slimsag opened #18557 "[request] Provide static libraries for Custom Flutter Engine Embedders"
https://github.com/flutter/engine/wiki/Custom-Flutter-Engine-Embedders currently provides dynamic libraries for the flutter engine.

It would be incredibly useful if static libraries were also provided!

[2018-06-18 06:29] kentcb commented on #10826
Are we just missing an abstraction here? I'm imagining something like:
[code]
Let me ask this, @Hixie: how else would one achieve this? i.e. how does one make sure that `Baz` takes up _whatever is left of the screen size_ after `Foo` and `Bar` are accounted for?

[2018-06-18 06:33] escamoteur commented on #10826
@Hixie we are not taking about pages that have more content than the screen is high.

Also I have no problem with putting something into a Schrollable but what about introducing a ScreenSizeConstraintBox or something to wrap a Column in this case to avoid the problem referenced above. That workaround is way to complicated and continuouslyis a problem especially for beginners

[2018-06-18 06:36] DanTup commented on #18160
@aam there's a report in flutter-dev of evaluation issues recently - I'm not sure if they may have been introduced with this change:

https://groups.google.com/forum/#!topic/flutter-dev/O-mTAk00hos

I can't reproduce any issues myself so have asked for more info, but thought I'd give you a heads up. I'll open a new issue and ping you on it if I can get a repro/log file.

[2018-06-18 06:41] Hixie commented on #15424
cc @cbracken Any chance I could convince you to add these docs soon? The lack of clarity around the semantics of padding and viewInsets is leading to some confusion. (e.g. see https://github.com/flutter/flutter/issues/10826).

[2018-06-18 06:43] Hixie commented on #10826
@dmjones This is very much contrary to the philosophy of Flutter. The problem with doing things magically like this is that it has numerous disadvantages: there's a performance cost, the code becomes more complicated, it introduces layering violations which make the code more difficult to extend, etc. In fact, fundamentally, the rendering engine itself doesn't know about scrolling at all. It's jus

[2018-06-18 06:43] Hixie commented on #15424
(In fact, looking at the `ScaffoldState.build` method, now I'm very confused as to what the semantics are supposed to be myself.)

[2018-06-18 07:05] escamoteur commented on #10826
@Hixie I tried two versions

a)

- SingleChildScrollView
    -Scaffold
        body:
         -Column
             -item
             -Expanded
b)

-Scaffold
    -body:
    - SingleChildScrollView
         -Column
             -item
             -Expanded

Both result in an exception like this

[code]

Besides this, why then the complicated solution on the SingleChildScrollView doc pages?

[2018-06-18 07:10] escamoteur commented on #10826
Also what I realized:

If I set `resizeToAvoidBottomPadding: false` on my Scaffold no Textfield is scrolled up anymore and I can't even scroll my content up manually.

[2018-06-18 07:20] IhorKlimov commented on #10826
@Hixie  Master channel, doesn't work inside of a Modal Bottom Sheet. Any workaround this?

import 'package:flutter/material.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: '',
      theme: ThemeData(
        primarySwatch: Colors.blue,
      ),
      home: MyHomePage(title: ''),

[2018-06-18 07:22] Hixie commented on #18391
@MichaelSowah This is not an area that we're currently looking at; however, if you can figure out what the cause is and submit a PR I will definitely make sure it gets reviewed and so on.

[2018-06-18 07:32] Hixie commented on #10826
Please file separate bugs for each individual problem you run into. Let's keep this bug focused on the original issue of scrolling a scrollable when there's a text field that gets obscured by the keyboard.

[2018-06-18 07:34] #18525 closed

[2018-06-18 07:34] Hixie commented on #18450
Sorry it's just called `Listener` at the widget level. (It's the one that creates a RenderPointerListener.)

[2018-06-18 07:40] escamoteur opened #18558 "Setting resizeToAvoidBottomPadding: false on a Scaffold disables scrolling of TextViews into views"
Also what I realized:

If I set `resizeToAvoidBottomPadding: false` on my Scaffold no Textfield is scrolled up anymore and I can't even scroll my content up manually.
What if I don't want to have everything below pushe up? I only wan't to have the Textfield scrolled into view. See this two pichtures:

![image](https://user-images.githubusercontent.com/16635729/41522773-c604f6a0-72d7-11e8-8c97-1abd

[2018-06-18 07:43] Hixie commented on #15423
Could ListTile set the maxLines using DefaultTextStyle?

[2018-06-18 07:51] escamoteur commented on #10826
@Hixie just done but the above is about this issue

[2018-06-18 07:53] zoechi commented on #15817
`flutter packages get --offline` in this case
and perhaps `flutter packages pub cache add -h`

[2018-06-18 08:09] mitko9000 opened #18559 "[BUG] Navigating back from Navigation push MaterialPageRoute lag"
Hello I have simple application with multiple pages each one contains a List of elements that are horizontal.

When I navigate back from a page both in Android and iOS I can observe a lag in the animation while closing is this a known issue or I have to do something as a code while a page is closing ?

Any help will be very appreciated because I am trying to use flutter as one project of mine and

[2018-06-18 08:18] zoechi commented on #18559
Please add the output of `flutter doctor`

[2018-06-18 08:21] mitko9000 commented on #18559
@zoechi here it is:
/bin/flutter doctor -v
[✓] Flutter (Channel beta, v0.4.4, on Mac OS X 10.13.4 17E199, locale bg-US)
    • Flutter version 0.4.4 at /Users/dimitari/Downloads/The-10/test/flutter
    • Framework revision f9bb4289e9 (5 weeks ago), 2018-05-11 21:44:54 -0700
    • Engine revision 06afdfe54e
    • Dart version 2.0.0-dev.54.0.flutter-46ab040e58

[✓] Android toolchain - develop for And

[2018-06-18 08:32] ebeem opened #18561 "GestureDetector onTapDown/onTapUp/onTapCancel multiple callbacks when two are on top of each other"
I am not sure if this is an expected behavior, but when two or more `GestureDetector` are placed on top of each other same as the image below.

The behavior is as follows:

[✔] onTapDown `square 1` calls tap down `square 1`
[✔] onTapUp `square 1` calls tap up `square 1` & tapped `square 1`
[✔] onTapCancel `square 1` calls tap cancel `square 1`

[X] onTapDown `square 2` calls tap down `square 2` &

[2018-06-18 08:47] zoechi commented on #18561
Please add the output of `flutter doctor`

[2018-06-18 08:50] ebeem commented on #18561
added

[2018-06-18 08:52] mitko9000 commented on #18561
@ebeem can I see the code ?

[2018-06-18 08:57] mitko9000 commented on #18561
@ebeem If you make the containers to hold the GestureDetector does this solve the problem ?

[2018-06-18 08:57] zoechi commented on #18556
I'd like to know where to enable automatic trailing commas insertion in IntelliJ ;-)

[2018-06-18 09:05] zoechi commented on #18555
somewhat similar to #17625
@Hixie

[2018-06-18 09:10] zoechi commented on #18553
follow-up to #14794

[2018-06-18 09:16] ebeem commented on #18561
@mitko9000
I think it will, but how will I be able to tell if the inner square was clicked?
and in case a FlatButton is used, this option will be a very difficult one

[2018-06-18 09:19] zoechi commented on #18544
@cbracken

[2018-06-18 09:23] zoechi commented on #18541
@Hixie

[2018-06-18 09:28] zoechi commented on #18537
@Hixie

[2018-06-18 09:36] zoechi commented on #8824
@prabhuthiran use `flutter build apk --debug`

[2018-06-18 09:38] zoechi commented on #18503
@vithanichandresh can this issue be closed or are there still open questions?

[2018-06-18 09:41] mitko9000 commented on #18561
@ebeem What is the output of onTap ?

[2018-06-18 09:47] TusharGogna commented on #11940
I was able to resolve the issue. In my case, I was not using Stable Android Studio and when I installed the stable version 3.1.2, it worked as a charm and I was able to create an application.

[2018-06-18 09:48] ebeem commented on #18561
@mitko9000  I am not sure what do you mean
onTap is an event that's handled by the developers, you decide whether you want to have an output or not.
if what you mean is the output when you have a Container with GestureDetector, then you will trigger onTap when the Container is tapped.
if yiy mean the output if you have a GestureDetector on two different containers on top of each others, then it's

[2018-06-18 09:55] zoechi commented on #15837
@Hixie

[2018-06-18 10:01] lukepighetti commented on #18553
Wow, I opened up two of these? I must have been really tired last night. Sorry about that.

[2018-06-18 10:02] lukepighetti commented on #18554
The padding increases the space around RatingItem so it seems like a bug. Even if it did work, it would be an unacceptable way to adjust hitslop in most scenarios. I just happened to need to increase padding for visual effect

[2018-06-18 10:03] zoechi commented on #18513
Please add the output of `flutter doctor`

@Hixie

[2018-06-18 10:05] zoechi commented on #18555
Probably a dup of #18483 which should be fixed in master after the next engine roll.

[2018-06-18 10:06] zoechi commented on #18553
@lukepighetti thanks for the pointer

closing as dup of #18554

[2018-06-18 10:06] #18553 closed

[2018-06-18 10:09] DanTup commented on #18441
While trying to write an integration test for this, I found that this might be broken elsewhere too. If I send a breakpoint as a `file://` URI on macOS it fails to hit the breakpoint:

[code]

Depending on which one of those first two lines I uncomment, the test will either pass or time out (waiting for the isolate to pause).

[2018-06-18 10:10] zoechi commented on #18509
@Hixie

[2018-06-18 10:11] zoechi commented on #18508
@Hixie

[2018-06-18 10:12] mingoal commented on #10826
@Hixie here are one example from flutter gallery. When I select the password field, keyboard shows up and make the password field behind it.
I wish flutter could take care it, like what chrome doing. Automatically scrolls text field up on keyboard when keyboard show up.
![img_20180618_180155](https://user-images.githubusercontent.com/15058046/41530377-a93cfd56-7322-11e8-94e3-8b74913b6fea.png)
![im

[2018-06-18 10:15] lukepighetti commented on #18554
Ideally, anything that makes use of GestureDetector would have a `hitSlop` property that takes `EdgeInsets` which acts to modify the hitbox. A quick look through the component library makes me believe that anything that responds to touch makes use of GestureDetector so it would seem like a good place to add this functionality and have it waterfall through the Widgets that use it.

I'm looking at t

[2018-06-18 10:17] lukepighetti commented on #18554
There seems to be reference to slop in this section of the source

https://github.com/flutter/flutter/blob/09276bea258737e11b109e227f70eac94a4e1691/packages/flutter/lib/src/gestures/tap.dart#L104

[2018-06-18 10:19] zoechi commented on #18050
@HansMuller

[2018-06-18 10:28] zoechi commented on #18038
@Hixie

[2018-06-18 10:36] lukepighetti commented on #18554
This seems relevant

https://github.com/flutter/flutter/blob/09276bea258737e11b109e227f70eac94a4e1691/packages/flutter/lib/src/gestures/recognizer.dart#L306-L319

[2018-06-18 10:37] lukepighetti commented on #18554
@abarth is this in reference to you and do you have any thoughts on this?

[2018-06-18 10:38] zoechi commented on #18021
I think you need to change
[code]

to

[code]

and
[code]
to

[code]

Also please add the output of `flutter doctor` to your issue.

[2018-06-18 10:39] zoechi commented on #18020
Does https://flutter.io/assets-and-images/ not answer your question?

[2018-06-18 10:40] zoechi commented on #15145
@DyncLang is this still an issue?

[2018-06-18 10:57] ScottS2017 commented on #15297
I think @slightfoot may have already pushed his version of Sticky Headers as well.
https://github.com/slightfoot/flutter_sticky_headers

[2018-06-18 10:59] ScottS2017 commented on #13507
Yup, thanks! I should have closed this a long time ago but I'm fairly new to github and didn't realise I need to do that. Thanks for the help!

[2018-06-18 11:07] btrautmann commented on #17721
For those who come here and the above process by @johnpryan doesn't work, I also needed to move (you could delete) `Pods`, `Podfile`, and `Podfile.lock` and then run `pod install` for my project to build. Also, I made sure to be on latest version of `firebase_auth` (currently `0.5.11`)

[2018-06-18 11:09] DanTup commented on #17833
There's a failing test in `flutter_tools` for this in https://github.com/flutter/flutter/pull/18560.

[2018-06-18 11:09] DanTup commented on #18441
There's a failing test in `flutter_tools` for this in https://github.com/flutter/flutter/pull/18560.

[2018-06-18 11:18] lukepighetti commented on #18536
Yes I can confirm that with the back arrow it looks fine, but with text it is too high.

Somewhat unrelated, where can I find tools that show information on widgets such as bounding boxes, hitbox, etc. I did find profiler for framerate which is really nice.

[2018-06-18 11:31] lukepighetti opened #18563 "GestureDetector onHorizontalDragUpdate doesn't always register"
Hey guys, I am using `GestureDetector(onHorizontalDragUpdate)` to build a slider that is a star rating system. Unfortunately, it does not always register and thinks that I'm dragging the window up and down slightly.

Here is a screen cap where I am dragging my finger across the device left and right over and over again in an attempt to adjust the star slider.

https://youtu.be/dvuOgvHUo-c

Here is

[2018-06-18 11:37] #13507 closed

[2018-06-18 11:39] roughike commented on #18416
There was no "both" option before - it was just a prompt on iOS asking the user to choose either camera or photo library. On Android, it was a custom UI coming from a third party library. This was removed in flutter/plugins#423 by me, in favor of using the native Android system gallery for picking images.

I would say this is "not a bug, but a feature" - it's up to you to come up with an UI lettin

[2018-06-18 11:39] zoechi commented on #18563
@Hixie

[2018-06-18 11:43] lukepighetti commented on #18563
As an aside, is there any way for me to override those settings at the project level?

[2018-06-18 11:45] IhorKlimov commented on #10826
@mingoal  This is already fixed in master branch

[2018-06-18 12:13] escamoteur commented on #10826
@IhorKlimov could you too move your issue about bottom sheet into its own issue an delete the one here?

[2018-06-18 13:02] eseidelGoogle commented on #18524
@collinjackson might know.

[2018-06-18 13:06] IhorKlimov opened #18564 "TextField is hidden by keyboard inside of a Modal Bottom Sheet"
[code]
### Result

![screenshot_1529336524](https://user-images.githubusercontent.com/13784275/41546878-759ded34-7327-11e8-8cca-e7d3e032348d.png)

### Clicked on 4th item

![screenshot_1529336530](https://user-images.githubusercontent.com/13784275/41546882-79e024b6-7327-11e8-948c-d1c29727f5d9.png)

Perfectly, Modal Bottom Sheet should be lifted up till a TextField is visible, just like FAB

### Fl

[2018-06-18 13:11] vlidholt opened #18565 "Text cursor shouldn't be blinking when typing or hitting backspace"
The text cursor should temporarily stop blinking when typing, hitting backspace (especially noticeable when holding down the backspace key), or when moving the text cursor.

With the current behavior, the text cursor keeps blinking, which makes it sometimes hard to see which character in the text is being edited.

## Steps to Reproduce

Open a random text field and start typing away

## Logs

[cod

[2018-06-18 13:23] aam commented on #18160
thanks for the heads up @DanTup

[2018-06-18 13:23] DanTup opened #18566 "Crash when Hot Restarting on two devices at the same time: Invalid kernel binary: Indicated size is invalid."
I'd like to support running a Flutter app on multiple devices concurrently (from an editor). @devoncarew has seen issues running multiple instances simultaneously that may be related to a shared build folder so I've been trying this out to see if I can repro some issues.

The first thing I found was that if I Hot Restart on both devices (one iOS Simulator, one Android Emulator) at the same time, I

[2018-06-18 13:30] visualsanity opened #18567 "FlexibleSpaceBar collapse or expanded event"
I have looked through the documentation for the SliverAppBar / FlexibleSpaceBar widgets for a callback, a state or event to hook into, when the FlexibleSpaceBar is collapse or expanded fully.  I haven't been able to find anything.

What I'm looking for is the ability to change the title field when in a different state.

Am I looking in the right area of the documentation?

[https://stackoverflow.c

[2018-06-18 13:40] aam commented on #17838
@DanTup does this only happen in VSCode when running flutter apps? Do standalone dart apps in VSCode work fine? Have you seen this happening in this particular instance only or handled exceptions are treated as unhandled everywhere? Can you share the app(the smaller the better) that exhibits this behavior please?

[2018-06-18 13:49] mitko9000 commented on #18559
its seems only the default navigation have wrong parameters in the animation I tried with custom transition animation and I cannot reproduce it.

[2018-06-18 13:51] DanTup commented on #17838
@aam so far I've only seen it in VS Code and only in this instance. I tried to write an integration test for it this morning but could not repro. So, the only repro I currently have requires having VS Code and running its test. I will see if I can strip my Dart Code test down to a simple script that can be run, but it might take a little time.

[2018-06-18 13:52] vlidholt opened #18568 "Pull to refresh indicator is not configurable on Android"
It would be nice to be able to configure the look of the pull to refresh indicator on Android, it's currently only possible when using the Cupertino style pull-to-refresh (which doesn't work on Android).

[code]

[2018-06-18 13:53] aam commented on #18363
Sounds doable, but somehow it feels brittle. Debug startup time will regress if you have sizeable journal of incremental files. We currently only keep last incremental kernel file on the device, so keeping all of them since beginning of debugging session will consume more storage space on the device.

[2018-06-18 13:59] zoechi commented on #18559
@HansMuller

[2018-06-18 13:59] zoechi commented on #18023
Please add the output of `flutter doctor`

[2018-06-18 14:06] DanTup commented on #17838
@aam Aha, I repro'd outside of Dart Code :)

- `flutter create my_test_repro`
- `cd my_test_repro`
- `flutter run --start-paused -d flutter-tester`
- open Observatory in browser
- Click on the Isolate, then `main.dart`
- Set a breakpoint on `return new Scaffold(`
- Go to the debugger and run `continue`
- You'll hit the breakpoint, so `continue` again
- `run set break-on-exception Unhandled`
- Perf

[2018-06-18 14:13] zoechi commented on #18568
@Hixie

[2018-06-18 14:14] zoechi commented on #18567
@Hixie

[2018-06-18 14:18] zoechi commented on #18565
@HansMuller

[2018-06-18 14:31] aam commented on #17838
Thanks @DanTup for the steps, but after ``You'll hit the breakpoint, type continue``` I am not getting ```Now you'll hit the exception:```

Do you see this happening specifically after hot reload?

[2018-06-18 14:34] DanTup commented on #17838
Yeah, I only see it after the reload in my tests (I test doing 0, 1 and 2 reloads and the first one passes so I don't think it's occurring without a reload).

Not sure why you're not hitting this! Are you using the test device (I don't think the plugin is missing for normal devices) and on macOS?

[2018-06-18 14:47] aam commented on #17838
Ah, sorry, I missed `-d flutter-tester`. Yes, I got a breakpoint on the exception now.

[2018-06-18 14:55] uehsnap opened #18570 "Slow Firestore query on large collections"
A simple query like
[code]
on a relatively small collection is almost "instantaneous". However, the same query on a collection with more than 100k documents takes more than 10-20s.
I think this is a `cloud_firestore` plugin issue because this query running on Python on the same large collection is also "instantaneous".

[2018-06-18 14:59] NewITCorp commented on #17086
yes after calling configure(), gettoken() will return a token correctly.

[2018-06-18 15:18] nsreenath commented on #15357
@chinmaygarde I saw a `lowmemorykiller` process in the logs mentioned in this issue:
https://github.com/flutter/flutter/issues/15156
I don't know what the log says.

[2018-06-18 15:19] dnys1 commented on #18513
[code]

[2018-06-18 15:24] Sfshaza commented on #18197
@csmac3144, did @xster answer your question? Please weigh in if there were other issues you encountered. It sounds like the info above can be added to the page.

[2018-06-18 15:25] zoechi commented on #18564
Please add the output of `flutter doctor`

[2018-06-18 15:27] yassinya commented on #2622
It really is, It took 15mins to create a project.

[2018-06-18 15:27] devoncarew commented on #18566
@aam, @tvolkert we're seeing issues with multiple devices running at once (running multiple devices in order to reload both at the same time, like w/ flutter run --all, and running the flutter_tester device w/ another device running, as when the Flutter Outline view uses flutter_tester to show a live preview of a widget). We're considering partitioning the build folder into sub-folders per-device,

[2018-06-18 15:28] lukepighetti commented on #3633
When I add expanded in the same context the text ceases to display and it continues to overflow

[code]

[2018-06-18 15:33] Wryhder commented on #14942
I have this problem as well. I've run `flutter doctor --android-licenses` more than a dozen times. Each time it tells me at the end `All SDK package licenses accepted` and then the next time I run it, it starts with `5 of 5 SDK package licenses not accepted. 100% Computing updates...`.
I am also unable to install the Flutter plugin in Android Studio. It's nowhere to be found. One time, I actually

[2018-06-18 15:40] zoechi commented on #18018
@Hixie

[2018-06-18 15:44] zoechi commented on #18570
Please add the output of `flutter doctor` and the cloud_firestore version you are using.

@collinjackson

[2018-06-18 15:51] IhorKlimov commented on #18564
@zoechi Done, also updated the code. TextField is visible if the bottom sheet is high enough, else it's covered, like on a screenshot

[2018-06-18 15:59] yjbanov commented on #18418
@roughike, your proposal makes sense to me. Should we close this as a duplicate of https://github.com/flutter/flutter/issues/10824 and continue the discussion there?

[2018-06-18 16:04] DanTup commented on #18195
Flutter has been updated and this all works great now 👍

[2018-06-18 16:04] #18195 closed

[2018-06-18 16:05] yjbanov commented on #10824
@roughike, your suggestion makes sense. `flutter_driver` may not be required for some tests. We have [LiveTestWidgetsFlutterBinding](https://docs.flutter.io/flutter/flutter_test/LiveTestWidgetsFlutterBinding-class.html) that you can `flutter run`. `flutter_driver` is useful when you are testing performance, or need to script things like saving screenshots and/or call `adb` commands from within the

[2018-06-18 16:11] lukepighetti commented on #3633
If Expanded is a child of Padding it breaks.

[2018-06-18 16:13] lukepighetti opened #18571 "If Expanded is a child of Padding it breaks"
Broken example

[code]

Working example
[code]

[2018-06-18 16:24] mehmetf commented on #18418
I agree that this is a duplicate of #10824; closing.

[2018-06-18 16:24] #18418 closed

[2018-06-18 16:28] zoechi commented on #18571
What does "it breaks" mean exactly?
Can you please also add the output of `flutter doctor`?

[2018-06-18 16:30] lukepighetti commented on #18571
Padding parent of Expanded

<img width="314" alt="screen shot 2018-06-18 at 11 58 30 am" src="https://user-images.githubusercontent.com/666539/41549289-5beaea92-72f3-11e8-81db-f3b0c364b885.png">

Expanded parent of Padding

<img width="335" alt="screen shot 2018-06-18 at 12 10 20 pm" src="https://user-images.githubusercontent.com/666539/41549305-65b235c6-72f3-11e8-93dc-5792e7671369.png">

[2018-06-18 16:33] TimOldenburger commented on #17016
https://pub.dartlang.org/documentation/shared_preferences/0.2.0%2B1/
Try this ^

Just add _shared_preferences: ^0.2.0_ to your dependencies in the pubspec.yaml file

[2018-06-18 16:39] zoechi commented on #17016
@engr-zeeshan I'm going to close this according to your last comment it should be solved.
Just add a comment if you think there are unresolved issues or questions.

[2018-06-18 16:39] #17016 closed

[2018-06-18 16:40] zoechi commented on #18571
Adding the output of `flutter doctor` is requested in the issue template and it's always a good idea to do so ;-)

[2018-06-18 16:55] lukepighetti commented on #18571
[code]

[2018-06-18 16:58] zoechi commented on #18571
@HansMuller

[2018-06-18 17:13] goderbauer commented on #18416
I agree with what @roughike said. It should be fairly simple to implement the appropriate UI to switch between the two sources in your app.

[2018-06-18 17:15] lukepighetti opened #18572 "VSC is tracking Flutter repo for some reason"
Confirmed that this is happening to other VSC users via Discord scuttlebutt.

If you ignore it, it seems to come back anytime you compile. Throws all kinds of errors during development. Something about it having too many changes to be tracked by Git.

<img width="386" alt="screen shot 2018-06-18 at 1 10 35 pm" src="https://user-images.githubusercontent.com/666539/41551315-72eb044c-72f9-11e8-8612-0

[2018-06-18 17:16] uehsnap commented on #18570
I'm using cloud_firestore 0.7.3 and below is the output of flutter doctor

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, v0.4.4, on Mac OS X 10.13.5 17F77, locale en-BR)
[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)
[✓] iOS toolchain - develop for iOS devices (Xcode 9.4)
[✓] Android Studio (version 3.1)
[✓] Connected devices (1 av

[2018-06-18 17:19] Hixie commented on #18554
oh if the padding had no effect check that the hit behavior on the gesture detector is set to opaque. by default it defers to the child's behavior and ignores it's own size.

[2018-06-18 17:32] RedBrogdon commented on #18571
I don't believe `Expanded` is meant to work when it isn't a direct descendant of `Row`, `Column`, or `Flex`. From the DartDoc:

If you look at the yellow text in the red widgets in that screenshot, I believe that's what it's telling you (should also be in the logs).

[2018-06-18 17:34] goderbauer commented on #18572
@DanTup

[2018-06-18 17:48] DanTup commented on #18572
I don't think is related to Dart Code at all, but I do have some questions!

1. What does your Explorer pane look like? Have you opened the Flutter folder? (If so, it's probably expected that you would see Git status for it; if not, I'm not sure why it's showing up - it doesn't seem to show up for me if I open files from Flutter)
2. Why do you have > 5000 dirty files in Flutter? Is that normal? I

[2018-06-18 17:57] DanTup commented on #11856
I just had this on Windows... I ran the `gradlew` file maually as suggested above and saw:

[code]

And after that it was fine.

[2018-06-18 18:13] jacob314 opened #18573 "Flutter crashes within the DartVM on certain eval calls"
## Steps to Reproduce
I'll work on simpler repro steps that don't require IntelliJ or the widget inspector but filing this now to get started.

Open the Widget inspector in IntelliJ.
Inspect a widget on the device.
This triggers IntelliJ to send an eval call to the DartVM that has a name in scope. This in turn crashes the Flutter VM. The issue reproduces with a trivial flutter app (e.g. the gettin

[2018-06-18 18:20] letsar commented on #15297
@ScottS2017 Yes you are right, but the packages are quite different in their implementation details. The one you mentioned works with a **RenderBox** while mine works with a **RenderSliver**.

I think that  the intended use of headers is typically for lists with a lot of items. And for lists, the **SliverList** (which renders in fine a **RenderSliver**) is a better choice than a **Column** (which

[2018-06-18 18:21] DanTup opened #18574 "Failed evaluation expressions are written to stderr of `flutter run` and then exposed to users in Dart Code"
I don't know if this is intended, but when I use `evaluateInFrame` with expressions in the Watch window, if the expression fails (eg. because the expression is from another stack frame or different location) the errors are written to stderr of the `flutter run` process:

[code]

Currently in VS Code we route stderr back to the users debug console so if something goes wrong with the process they ca

[2018-06-18 18:28] HansMuller commented on #18319
The outline button is included in the Flutter Gallery app, under "buttons"

[2018-06-18 18:37] #9184 closed

[2018-06-18 19:04] mraleph commented on #18574
/cc @aam looks like CFE integration issue.

[2018-06-18 19:06] yigit opened #18577 "[testing] Exception while passing consecutive inputs via `tester.testTextInput`"
I have a TextField which takes an action when user hits done.

While trying to create a test for it, the first time i can successfully send the done button but second time it fails.

I'm using the following code to send the done event:

[code]

Repro test:
[code]

error log:
[code]

[2018-06-18 19:20] flschweiger opened #18578 "Can't archive iOS app when Swift plugins are used"
I'm working on an app which uses the `geolocation 0.2.1` Swift plugin and the `cloud_firestore 0.7.3`. The app compiles without an error when deploying to the simulator or an connected iOS device. However, when I try to 'archive' the app in order to upload it to the AppStore, I get the following error message `'cloud_firestore/CloudFirestorePlugin.h' file not found`.

[code]

I'm using Cocoapods 1

[2018-06-18 19:29] voidrealms opened #18579 "Many issues with Services and Gradle"
Installed the google auth plugin

https://pub.dartlang.org/packages/google_sign_in#-installing-tab-
Works as expected (at least it compiled)
[code]

[2018-06-18 19:39] aam commented on #18574
If I understand correctly, compilation diagnostic for expression evaluation is treated same way as diagnostic for whole program compilation(during hot reload, for example) - it goes to the stdout prefixed with `compiler message:`
How does VSCode handle compilation diagnostic?

[2018-06-18 19:50] abarth opened #18580 "TextTheme docs should link to material.io"
The material.io web site has a good description of the various text theme values.  We should link to it from the TextTheme docs:

https://material.io/design/typography/the-type-system.html

[2018-06-18 20:03] chinmaygarde opened #18581 "Enable Vulkan Android builds on buildbots."
It was indicated in the Skia sync that the Vulkan machinery is easier to test on Android in the Flutter buildroot than on Fuchsia it its own buildroot.

We stopped building Vulkan on Android a few weeks ago. We should enable the same and ensure the tests are run on that variant.

[2018-06-18 20:04] aam commented on #18573
I'm running flutter gallery in IJ with flutter from master:
[code]

Starting the app and clicking on different elements in `Widgets` tab in `Flutter inspector` IJ seems to work fine - appropriate source code is being selected in the editor. How do I reproduce the crash?

[2018-06-18 20:06] acidjazz commented on #18416
When I use other apps or browsers on iOS, I get a bottom-aligned native modal asking either to take a photo, or go tot he library.

When I do the same on Android I get an image/photo browser with a CTA being "take a picture".

Are these not native and global solutions we can tap into? While I agree it is fairly simple to write our own, I still don't see requiring the option to re-invent the wheel

[2018-06-18 20:10] jacob314 commented on #18573
Select the widget on the device instead of in the tree view.

[2018-06-18 20:18] alexjoi commented on #17735
I still have the same issue and I haven't been able to fix it.

Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    === BUILD TARGET Runner OF PROJECT Runner WITH CONFIGURATION Debug ===
    "x86_64" is not an allowed value for option "ios-arch".

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel dev, v0.5.4, on Mac OS X 10.12.6 16G29, loca

[2018-06-18 20:39] flschweiger commented on #18544
Also emojis are not displayed on the Android P beta. Tested on a Pixel 2XL.

[2018-06-18 20:46] lukepighetti commented on #18572
I do not have Flutter in my explorer pane.
<img width="345" alt="screen shot 2018-06-18 at 4 42 56 pm" src="https://user-images.githubusercontent.com/666539/41561179-25ccc15a-7317-11e8-849f-54e59d50ae74.png">

I don't know why I have > 5000 dirty files in Flutter.

[2018-06-18 20:50] matthew-carroll commented on #17876
I'm not sure how those points relate back to this issue?

Nearly every Android app that partially integrates Flutter will use Fragments, and those Fragments will have some kind of transition.  And I mentioned IO because the trend is only moving more towards Fragment navigation, not away.

If the FlutterView displays visual artifacts simply because its Fragment is moving around the screen, I think

[2018-06-18 20:53] lukepighetti commented on #18572
I remember now. I had moved a project into the flutter directory by mistake and it must have overwritten the git folder in there. I have replaced the folder with a fresh one and everything appears to be just fine.

[2018-06-18 20:53] #18572 closed

[2018-06-18 21:00] lukepighetti commented on #7014
VSC debug auto hot reloads on file save no problems. But `flutter run` does not. Am I missing an argument of some kind?

[2018-06-18 21:08] chinmaygarde opened #18582 "Follow up with Skia on a GN target for Skia that includes no inbuilt image codecs."
Subtask of https://github.com/flutter/flutter/issues/17356. Tracking issue on the Skia tracker is filed here https://bugs.chromium.org/p/skia/issues/detail?id=8076.

[2018-06-18 21:21] DanTup commented on #18572
Ah, glad you sorted it - though you mentioned other people were seeing this too?

[2018-06-18 21:22] #18209 closed

[2018-06-18 21:34] liyuqian commented on #17889
I've conduct some experiments on Nexus 5X and it seems that Skia's suggestion of marking paths as volatile works there. Maybe there's a bug for Skia's `isVolatile` bit on iOS so Chinmay couldn't make it work on iPhone8 (@bsalomon, @brianosman)?

On the Flutter side, we need to expose the isVolatile bit in our API so our clients can draw those animated paths fast. Shall I go ahead and work on that?

[2018-06-18 21:35] gluix20 commented on #9591
@mit-mit do you have a tentative release date for the plugin?

[2018-06-18 22:06] jason-simmons commented on #18544
Not sure what's causing this, but it isn't dependent on Android 8 alone.  I can render the attached font with Flutter on a Nexus 5x running Android 8.1.0 (as well as a Moto G4 with Android 7.0)

[2018-06-18 22:07] DaveShuckerow opened #18585 "LongPressDraggable doesn't have accessibility semantics for its long press action"
cc @jonahwilliams

[2018-06-18 22:14] brianosman commented on #17889
Related to this, I previously noticed that the technique used to render the
perf overlay is going to be very slow. If we can live without rounded
corners on the bars, or some other simplification, we can make that much
faster.

On Jun 18, 2018 5:35 PM, "liyuqian" <notifications@github.com> wrote:

I've conduct some experiments on Nexus 5X and it seems that Skia's
suggestion of marking paths as vol

[2018-06-18 22:30] lukepighetti commented on #18572
Yes, I did. That is why I posted here. Perhaps he also by chance made a mistake.

That all said, I am still seeing Flutter folder but not with the 5000+ changes.

[2018-06-18 22:31] lukepighetti commented on #18571
Sounds like a won't-fix? :)

[2018-06-18 22:33] escamoteur commented on #16589
I actually ran just today into this using jaguar_serializer

The generated code that throws the exception is:

[code]

C:\Entwicklung\FlutterApps\Projects\JoinOrCreate\JoinOrCreate_Mobile> flutter doctor -v
[√] Flutter (Channel master, v0.5.5-pre.45, on Microsoft Windows [Version 10.0.17134.112], locale de-DE)
    • Flutter version 0.5.5-pre.45 at C:\Entwicklung\Flutter
    • Framework revision 59

[2018-06-18 22:33] lukepighetti opened #18586 "Touch AppBar to scroll home does not have acceleration in iOS"
On iOS when you tap the AppBar to scroll to home it does so with an amount of jerk (acceleration curve). Flutter appears to scroll up with a constant velocity. This makes the app look non-native.

[2018-06-18 22:37] escamoteur commented on #17417
jaguar_serializer is also affected by this issue @tejainece

[2018-06-18 22:42] lukepighetti commented on #18563
I am closing this because I found out that it's a problem of hitSlop, not the gesture detection. Please support #18554

[2018-06-18 22:42] #18563 closed

[2018-06-18 22:43] jonahwilliams commented on #11436
For the native material widgets I have seen it seems that the widget is responsible for determining whether or not it should animate for accessibility:

https://github.com/material-components/material-components-android/blob/7aff9d2e8b5d62d3d7c554d3debfe9f1a11a7c77/lib/java/com/google/android/material/snackbar/BaseTransientBottomBar.java#L495

We might need to do something similar for battery save

[2018-06-18 22:45] HansMuller commented on #18571
@RedBrogdon  is correct, the framework is working as intended in this case. It's doing its best to tell you that Expanded must be a child of a Row, Column, or Flex.

[2018-06-18 23:08] mehmetf commented on #17876
I opened this issue because I wanted to explore what we intend to support w.r.t. Fragments. However, now I realize that isn't very useful since we will be imagining use cases. It would be better to handle this on a case-by-case basis. I will edit this issue (because it is now linked from a couple of documents) to make it about the specific case I have observed with a client hackathon.

[2018-06-18 23:32] jonahwilliams commented on #18556
Maybe @devoncarew would know?

[2018-06-18 23:35] devoncarew commented on #18556
The analysis server automatically inserts it based on the context of the surrounding code. Currently, there's no option to disable this.

[2018-06-18 23:38] eseidelGoogle commented on #15055
FYI @DanTup who recently added `flutter emulators` command and might have interest in this.

[2018-06-18 23:54] jonahwilliams commented on #18428
The cause is an ignorepointer widet on the feedback with excludes semantics by default.

[2018-06-19 00:04] giovannilima262 opened #18587 "Close the application when connecting with fire base and not pick up the data. This only happens with a given, in other normal query."
memory near r1:
00006750 ffffffff ffffffff ffffffff ffffffff
00006760 ffffffff ffffffff ffffffff ffffffff
00006770 ffffffff ffffffff ffffffff ffffffff
00006780 ffffffff ffffffff ffffffff ffffffff
00006790 ffffffff ffffffff ffffffff ffffffff
000067a0 ffffffff ffffffff ffffffff ffffffff
000067b0 ffffffff ffffffff ffffffff ffffffff
000067c0 ffffffff ffffffff ffffffff ffffffff
000067d0 ffffffff ffffff

[2018-06-19 00:56] jonahwilliams commented on #11436
actually, just changing a setting in `AnimationController` is working surprisingly well.  I will investigate the cases where assertions are thrown in the gallery app to cover the edge cases.  routing seems to be a big issue

[2018-06-19 00:58] #15464 closed

[2018-06-19 01:12] HaijunWei commented on #18264
On the native iOS app, there is an option called hide tabbar on pushed. I didn't find the suboption in Flutter. I don't know how to hide the tabbar in the lower level.

[2018-06-19 01:22] eseidelGoogle opened #18588 "Flutter Engine should consider banning static initializers"
See Chromium's policy and reasoning:
https://chromium.googlesource.com/chromium/src/+/lkcr/docs/static_initializers.md
http://neugierig.org/software/chromium/notes/2011/08/static-initializers.html

Unless maybe already our build rules do?  @chinmaygarde might know.

[2018-06-19 01:28] alanrussian opened #18589 "Use Chrome Custom Tab in url_launcher, instead of custom WebView activity"
On Android, most apps today tend to use Chrome custom tabs for launching URLs. This provides users with a more seamless experience from their app to the web page that's being launched vs. directly launching the browser.

See comparison: https://developer.chrome.com/multidevice/android/customtabs

[2018-06-19 01:33] chinmaygarde commented on #18588
No. Our current build rules do not ban static initializers. Though, I have tried addding the same in the past. There are a few dependencies that do not compile with that updated options. I think we should ban them in engine code to start and then expand scope from there.

[2018-06-19 01:39] adriancmurray commented on #18541
Thanks for tagging him, @zoechi

I'd like to clarify something real quick, the CupertinoTabView that I'm using is apart of a custom class I've made to implement material design (plus some other widgets I've made based on material widgets) with iOS human interface guidelines. That's why I'd like to have some routes in full screen from this widget and would like to be able to reference these routes

[2018-06-19 02:09] #18571 closed

[2018-06-19 02:12] XiaYongjie commented on #18155
@zoechi I've solved this problem. I use Android studio not idea , it's my problem

[2018-06-19 02:54] zoechi commented on #16589
@escamoteur that's working as intended.
`as` doesn't change the type, it's just an assertion.
You need to use `map['eventType'].cast<String, dynamic>()` or `Map<String, dynamic>.from(map['eventType'])`

[2018-06-19 02:56] zoechi commented on #7014
@lukepighetti I'd assume auto hot reload is an IDE feature, not a `flutter` feature.

[2018-06-19 03:08] ThinkDigitalRepair opened #18590 "Getting current code to run requires multiple hot restarts."
![20180619_162622](https://user-images.githubusercontent.com/23037821/41629365-f55c4bea-73dd-11e8-8e16-2d1bb07d594b.png)
In MacOS, I'm switching from iPhone to iPad in the simulator and when I switch back and forth, an old build launches from time to time. Hot restarting 3 times makes it launch the current build.

Update: Deleting the build folder fixes it too even though Gradle rebuilds every tim

[2018-06-19 03:41] lidroider commented on #17518
same issue too.

[2018-06-19 04:11] zoechi commented on #17518
@HansMuller

[2018-06-19 04:33] Maleandr commented on #18510
I have created PR to fix that https://github.com/flutter/plugins/pull/617

[2018-06-19 04:54] peace2knowledge commented on #15646
$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel beta, v0.4.4, on Microsoft Windows [Version 10.0.17134.112], locale zh-CN)
[√] Android toolchain - develop for Android devices (Android SDK 27.0.3)
[√] Android Studio (version 3.0)
[√] IntelliJ IDEA Community Edition (version 2018.1)
[√] VS Code, 64-bit edition (version 1.22.2)
[√] Connected devices (

[2018-06-19 05:02] Hixie commented on #15822
@dhorajiaabhishek Can you attach a complete reduced reproduction? That is, run `flutter create` then edit the `main.dart` file to reproduce the problem, and attach that here? Also please include the full error message. Thanks.

[2018-06-19 05:04] Hixie commented on #15831
You are missing a `return` in the closure you pass to `map`, so it's just returning null instead.

[2018-06-19 05:12] Hixie commented on #15840
This part looks suspicious:
[code]

No idea what could be causing it though...

[2018-06-19 05:15] Hixie commented on #15851
@wenyangliu Can you tell us more about what your situation was? As @zoechi says, without more information I don't know how we can do anything here.

[2018-06-19 05:16] Hixie commented on #15815
@shyjuzz Can you provide us with the information @zoechi mentions? Without it it's not clear how we can help. Thanks.

[2018-06-19 05:16] Hixie commented on #15818
@ishbo Can you describe the precise steps that we can follow to reproduce this problem?

[2018-06-19 05:18] Hixie commented on #15857
Closing as dupe as per previous comment.

[2018-06-19 05:18] #15857 closed

[2018-06-19 05:31] alexd1971 commented on #16304
I solved the problem. Everything works

[2018-06-19 05:41] santosh12345 commented on #17990
Hi guys yes it  working thanks

[2018-06-19 05:41] #17990 closed

[2018-06-19 06:30] spdhiraj99 opened #18592 "textField content resets due to dropdown field"
textField content resets whenever there is a change in dropdown field, it resets even if you touch the dropdown field,
here is the piece of code that adds both the fields in a list of widgets
[code]
No errors Displayed,.

[2018-06-19 06:32] zoechi commented on #17037
@tvolkert

[2018-06-19 06:38] zoechi commented on #18590
@tvolkert

[2018-06-19 06:46] zoechi commented on #18592
Please add the output of `flutter doctor`.

I'd say you need to keep the `textEditingController` instances instead of creating them every time `build()` is run.

[2018-06-19 06:56] spdhiraj99 commented on #18592
flutter doctor

[Full code]("https://gist.github.com/spdhiraj99/b618cf56ea76baae0912ba3b51dbffe1.js")

[2018-06-19 06:59] zoechi commented on #18592
@Hixie

[2018-06-19 06:59] thirddimensionstudios commented on #15840
I've managed to fix it now but I can't be sure what the actual fix was (many changes were made). I made countless changes to the project, deleted a lot of lock files and reinstalled dependancies.

I also reinstalled all my Android sdk's etc just in case and checked all my path's.

[2018-06-19 07:00] zoechi commented on #18592
Crosslink https://stackoverflow.com/questions/50920852/value-resets-in-textfield-when-dropdown-value-is-changed

[2018-06-19 07:06] spdhiraj99 commented on #18592
I initially posted this on SO, but later thought this might be a more appropriate place

[2018-06-19 07:08] zoechi commented on #18592
@spdhiraj99 should be fine, I just try to ensure that others who land on one get also the comments on the other.

[2018-06-19 07:11] zoechi commented on #18264
I found https://freakycoder.com/ios-notes-45-how-to-hide-tabbar-when-push-viewcontroller-adceb582a55c, https://stackoverflow.com/questions/8701362/how-to-hide-the-tabbar-when-push-a-view

[2018-06-19 07:22] varundroid commented on #13341
I am still having this issue. Plugin versions that I am using:

`cloud_firestore: "^0.7.3"`
`firebase_auth: "^0.5.11"`

Exception:
`[VERBOSE-2:dart_error.cc(16)] Unhandled exception:
MissingPluginException(No implementation found for method DocumentReference#setData on channel plugins.flutter.io/cloud_firestore)

[2018-06-19 07:32] zoechi commented on #18586
@HansMuller

[2018-06-19 07:32] HaijunWei commented on #18264
@zoechi  Thank you. I want to know what to do in flutter.

[2018-06-19 07:38] DanTup commented on #15055
I think this may be a dupe of https://github.com/flutter/flutter-intellij/issues/2351 ?

There are two emulator binaries in the SDK and IntelliJ used to use the old one (but has very recently been changed in https://github.com/flutter/flutter-intellij/pull/2383) which would give this PANIC message. For `flutter emulators --launch` we use the new one if it exists and fall back to the old one otherw

[2018-06-19 07:48] DanTup commented on #18572
@lukepighetti Something still seems weird - in your screenshot you have 0 open files. I don't see why VS Code would be listing some Git repo from your drive in the Git section if you don't have it open in any way. The only reasonable reasons this should happen are:

- Your project (open folder) is inside your Flutter install
- Your flutter install is inside your project (open folder)
- You have a

[2018-06-19 07:53] DanTup commented on #18572
Ok, I did just manage to repro :) Yesterday I was testing with Stocks; forgetting it was inside the Flutter tree. If I open another Flutter project (outside of the Flutter tree) and F12 into a Flutter file, Flutter then appears in my Git sidebar.

Turns out this is a "feature" of VS Code. Whenever you open a file, if it's inside a Git repo (the Flutter SDK is a git repo) it'll do this. Info is her

[2018-06-19 08:08] xster commented on #18264
@HaijunWei, without more details about the navigation hierarchy you're trying to achieve, it's hard to give a specific recommendation.

If the Cupertino navigation demo's third tab is the effect you're trying to do
https://github.com/flutter/flutter/blob/226f2c1e99accab83d12bfd49e805f8d7d2d3ed6/examples/flutter_gallery/lib/demo/cupertino/cupertino_navigation_demo.dart#L712

You can use [Navigator.

[2018-06-19 08:21] HaijunWei commented on #18264
Thanks for help. It work.

[2018-06-19 08:27] xster commented on #18264
Re-opening as a task item to cross reference `rootNavigator` in the CupertinoTabScaffold documentation

[2018-06-19 08:28] alexjoi commented on #17735
I fixed the issue by:
1. Specifying Runner Device as iPhone X in XCode which is the iPhone I choose to simulate through the Simulator.
2. In the Project Runner Info tab. I specified the configuration settings. Debug for Debug and Release for Release. They were previously left empty.

[2018-06-19 08:50] DanTup commented on #18574
Currently we just show stderr from anywhere in the debug console:

![errors](https://user-images.githubusercontent.com/1078012/41586856-ad8e5ade-73a5-11e8-9822-c9f2841c965f.png)

This probably makes sense if it's compilation during startup or a hot reload because it's an important error the user should see. However if we're just evaluating expressions for the VM service API for the Watch window, w

[2018-06-19 08:54] DanTup commented on #18574
I just checked in Android Studio and the same happens here. I'm not show how common it is to use the debug Console there (it's very common in VS Code, it's where a lot of important stuff goes) but it also shows all of the Watch variables evaluation failures:

<img width="1182" alt="screen shot 2018-06-19 at 9 53 34 am" src="https://user-images.githubusercontent.com/1078012/41587291-c36f189c-73a6-1

[2018-06-19 09:15] zoechi commented on #18579
Please add the output of `flutter doctor`.

[2018-06-19 09:23] paul-hammant opened #18593 "Flutter doctor does not detect all installs of the Android SDK"
Flutter Doctor can't tell the difference between Android SDK not installed and sdkmanager pieces not instaled. To reporoduce:

[code]

OK, let's try this:

[code]

Before that I went down a rabbit hole chasing SDK setup and env vars, when it wasn't that at all :-( I think hundreds of of others have too.

[2018-06-19 09:34] andreabreu-me commented on #9184
I think this will not be enough to decode iOS image camera buffer, they put some withStep/rowBytes in the buffer.

[2018-06-19 10:00] escamoteur commented on #16589
For jaguar_serializer this was fixed right now
jaguar_serializer: 2.1.5
jaguar_serializer_cli. 2.1.14

[2018-06-19 10:00] escamoteur commented on #17417
For jaguar_serializer this was fixed right now
jaguar_serializer: 2.1.5
jaguar_serializer_cli. 2.1.14

[2018-06-19 10:04] DanTup commented on #18574
Ok, this is even worse than I thought... In VS Code we support evaluating expressions on hover. This means you can cursor a variable and a tooltip will show its value. Of course, we don't know what is valid to evaluate, so VS Code calls this a LOT as the user moves their mouse around.

For example, I moved my mouse over this code:

[code]

and VS Code sent an evaluate request for `"padding"`. This

[2018-06-19 10:21] AshSimmonds opened #18594 "When offline google_sign_in still does online dependency check before building, which fails the build"
https://github.com/Microsoft/vscode/issues/52106#issuecomment-398321696

It won't build the APK because before it even tries the build it does a dependency check online - which of course fails.

Huh, thought I posted a screenshot originally, sorry. I'll do it again... Right, just re-enabled it in the pubspec.yaml file, switched off interwebs, and problem returns:

![20180619181244_screenshot](http

[2018-06-19 10:23] DanTup opened #18595 "VM evaluateInFrame does not always provide a response"
While debugging some expression evaluation issues, I noticed that the Watch window in VS Code sometimes stops responding correctly. Turns out it was because we never provided a response to a request for an evaluation.

I captured a log, and it seems I can reliably repro the VM not responding to a request for an evaluation. It seems to happen when I send multiple in quick succession that are invali

[2018-06-19 10:29] vithanichandresh opened #18596 "Handle onResume when page come back from another page in flutter."
how i call my method in resume method.

whene i come back from another page then resume state was not called in first page.

in this situation which state will call?

[2018-06-19 10:44] DanTup commented on #18595
(cc @aam)

[2018-06-19 10:46] giovannilima262 commented on #18346
started working again, and
I do not know

[2018-06-19 10:47] #18346 closed

[2018-06-19 10:51] vithanichandresh opened #18597 "when i click on textFormField open date picker but 2 or 3 time press ok then remove date picker dialog"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2018-06-19 10:59] giovannilima262 commented on #18587
After to use "FirebaseAnimatedList" in other screen, my request in other screen occurs for a while, after show this in my console.

[2018-06-19 11:00] marcmo commented on #18186
any chance to view the content outside of google?

[2018-06-19 11:04] aman19ish commented on #18023
[✓] Flutter (on Mac OS X 10.13.4 17E202, locale en-IN, channel alpha)
    • Flutter version 0.0.22-pre.1 at /Users/emp273/flutter
    • Framework revision 553fc4264e (4 months ago), 2018-03-01 09:30:25 -0800
    • Engine revision 6921873c71
    • Tools Dart version 2.0.0-dev.16.0
    • Engine Dart version 2.0.0-edge.da1f52592ef73fe3afa485385cb995b9aec0181a

[✗] Android toolchain - develop for Andr

[2018-06-19 11:08] #18597 closed

[2018-06-19 11:16] Fenilsmiley opened #18598 "date picker overlay not removed when date is selected"
open Date picker on textFormField's listener Flutter, when i click on birthday textFormField ,open date picker but i select date & then press ok , that time not remove date picker dialogue , 2 or 3 time press ok then remove date picker dialog successfully. i need help for 1 time press ok & remove datepicker dialogue.

[code]

[2018-06-19 11:35] RiccardoMetaTime commented on #16304
@alexd1971 i'm facing the same problem with Locale('de') How did you solve it?

[2018-06-19 11:52] DanTup commented on #18595
Seems like sending multiple requests quickly just always results in only the last one being answered. Here's a clearer log where I sent loads, and only got one response:

![screen shot 2018-06-19 at 12 49 53 pm](https://user-images.githubusercontent.com/1078012/41595639-8aa5e770-73bf-11e8-8b9e-14b5b8e84c9d.png)

[code]

[2018-06-19 11:53] DanTup commented on #18595
I don't know if it's related, but the reason I ended up investigating this is that sometimes I see the app *terminate* when VS Code sends all the evaluate requests. I'm struggling to repro it now, but figured it worth mentioning all the same!

[2018-06-19 12:07] alexd1971 commented on #16304
@RiccardoMetaTime
[code]

[2018-06-19 12:33] haoma2012 commented on #17422
yes, get it; it is work

[2018-06-19 13:03] zoechi commented on #18579
cc @Hixie

[2018-06-19 13:04] zoechi commented on #18023
That's a very outdated Flutter version.
Can you please try if this is still an issue with a recent version?
`flutter channel beta` or `flutter upgrade` should upgrade your installation.

[2018-06-19 13:05] zoechi commented on #18587
cc @Hixie can you make sense of this information?

[2018-06-19 13:06] jayesh28589 opened #18599 "Issue from website page Navigate to a new screen and back"
From URL: https://flutter.io/cookbook/navigation/navigation-basics/

Also add method that how can we finish (destroy) the first screen when we navigate to second screen.

[2018-06-19 13:12] mravn-google opened #18600 "Hot reloaded changes are not applied to new isolates as they are launched"
1. Create an Android app which displays a new Flutter view on (say) click on a fab.
1. Build the app and launch it using `flutter run --use-application-binary`
1. Launch a Flutter view, change Dart code, and press `r` to hot reload it.
1. Launch another Flutter view.
1. Observe: the second view does not contain the hot reloaded changes. (Confusing)
1. Press `r`
1. Observe: the second view now cont

[2018-06-19 13:20] zoechi commented on #18598
Please add the output of `flutter doctor`

[2018-06-19 13:31] zoechi commented on #18596
What "another page" are you referring to? Another app?
Perhaps you're looking for

https://docs.flutter.io/flutter/widgets/WidgetsBindingObserver-class.html

or

https://flutter.io/flutter-for-android/#how-do-i-handle-incoming-intents-from-external-applications-in-flutter

[2018-06-19 13:32] Rmaan opened #18601 "Flutter showing blank screen in some low-end devices"
One of our users reported he got a blank screen (full white) when running the app. I did reproduce this  using an old device (Huawei Ascend Y330 - Android 4.2.2). There is a line `Failed to setup Skia Gr context.` in logs showing that skia failed.

I tried with `--enable-software-rendering` flag and it worked but this option is not available when generating an APK.

## Complete logs
[code]

## Flu

[2018-06-19 13:33] zoechi commented on #18594
The `pubspec.yaml` at the top of the screen looks weird. Can you please post the whole content as text (not as screenshot)?
How do you use "offline"?

[2018-06-19 13:36] #10291 closed

[2018-06-19 13:40] zoechi commented on #18593
I think `flutter doctor` currently assumes that Android SDK is installed by Android Studio.
If you install it using `sdkmanager` you are on your own.

cc @tvolkert

[2018-06-19 13:41] zoechi commented on #18577
cc @Hixie

[2018-06-19 13:44] lejard-h commented on #16589
I will test it soon, I will keep you up to date

[2018-06-19 13:46] zoechi commented on #18601
cc @cbracken

[2018-06-19 13:49] moodstubos commented on #17072
Please reopen!
I need a callback when long press has been released.
Or we should have a e.g. onLongPressReleased callback.

[2018-06-19 13:50] zoechi commented on #11232
Seems stale. Can this be closed?

[2018-06-19 14:13] duweigang commented on #18556
@devoncarew Does flutter include this option in subsequent updates?

[2018-06-19 14:23] mit-mit commented on #9591
Sorry I don't, we had a bit of a change on the personnel side here.

[2018-06-19 14:31] lukaspili commented on #18416
Also this is exactly how it works on both natives SDK. It's up to the developer to choose a UI component such as a dialog or a bottom action sheet to ask for the image source.

[2018-06-19 14:33] lukepighetti commented on #18586
In fact, in playing around with it more, none of the navigation has the proper acceleration. Drawers and scroll up are all constant velocity.

For some reason I thought Flutter was exposing UIKit to us like React-Native does, but I see that is not the case. It is a bit disappointing then that the UI, even with material design, does not feel like a native app. This may seem like a small thing but i

[2018-06-19 14:53] zoechi commented on #17072
@Kartik1607 if you still think it's a valid request, then you should keep it open.
The Flutter team is a bit swamped with the amount if issues created every day.

[2018-06-19 14:58] lukepighetti commented on #18586
Is there any way to expose the acceleration curves that Flutter uses on iOS so I can play with them?

[2018-06-19 15:07] Panthro commented on #16839
Here's a full log from travis. If you need any reference: https://travis-ci.org/CrochetLand/app/jobs/394125608

From what I could investigate, it's happening only in OSX, I have the same build in travis with linux and it doesn't happen.

As for now I'm disabling coverage inside the OSX box.

The error is random, sometimes does not happen as you can see in this build: https://travis-ci.org/CrochetL

[2018-06-19 15:13] mit-mit opened #18604 "Meta-issue: Update all code to use optional new/const"
Tracking issue for updating all our Flutter example code to use optional new/const (now that we are unblocked by the needed lint https://github.com/dart-lang/sdk/issues/32602 being available):

- [ ] Flutter.io homepage
- [x] `flutter/flutter/examples`
- [x] `flutter/plugins/examples`
- [x] `flutter/packages/examples`

[2018-06-19 15:44] ThinkDigitalRepair opened #18605 "Depricated references warning in XCode"
This warning pops up when deploying code to physical ios Devices.
"The use of Swift 3 @objc inference in Swift 4 mode is deprecated. Please address deprecated @objc inference warnings, test your code with “Use of deprecated Swift 3 @objc inference” logging enabled, and then disable inference by changing the "Swift 3 @objc Inference" build setting to "Default" for the "Runner" target."

[2018-06-19 15:57] sulater opened #18606 "build failed, cannot compile complete"
I'm sorry my english is so bad that I can't provide more description.

IDE: Android Studio 3.1.2
Flutter Version : 0.4.4
Gradle Version: 4.1

Output:
[code]

Dependencies:
[code]

Report:
[code]

[2018-06-19 16:07] clemkofi commented on #10557
Please this should at least be added in the production version ..... It will be extremely useful!

[2018-06-19 16:16] imsaurabh1998 opened #18607 "Exception Caught By Widget Library"
I/flutter (11310): The following assertion was thrown building LayoutBuilder:
I/flutter (11310): 'package:flutter/src/animation/animations.dart': Failed assertion: line 340 pos 15: 'parent !=
I/flutter (11310): null': is not true.
I/flutter (11310):
I/flutter (11310): Either the assertion indicates an error in the framework itself, or we should provide substantially
I/flutter (11310): more informa

[2018-06-19 16:19] aam commented on #18595
Thank you for the report @DanTup . How do I reproduce this?

[2018-06-19 16:19] gossiks commented on #18545
@jonahwilliams
Steps to reproduce.
Enviroment: see issue
1. Checkout  https://github.com/gossiks/crash-center-slice-example.git
2. Install on Samsung J5, Android 7.0 - see some kind of orange chat ballon with text.
![image](https://user-images.githubusercontent.com/7567066/41610260-6cdeebfc-73f5-11e8-9279-7ed788a3ea2f.png)
3. Install on Google Pixel, Android 8.1 - see empty view and stacktrace in

[2018-06-19 16:24] DanTup commented on #18595
@aam You need to stop on a breakpoint and then send multiple `evaluateInFrame` requests together without waiting for responses. I'm not sure if you'd be able to do this via the web app - do you have an easy means to send commands over the JSON API?

[2018-06-19 16:31] Hixie opened #18608 "Dart roll isInstanceOf/TypeMatcher regression"
This roll https://github.com/flutter/flutter/pull/18575 required backwards-incompatible changes to our tests because of this change https://github.com/dart-lang/matcher/pull/88. I do not think we should make these changes as they are going to break our users, do not appear to be idiomatic, and the TypeMatcher name conflicts with our existing TypeMatcher class in a way that is worse than before as

[2018-06-19 16:32] Hixie opened #18609 "Dart roll @optionalTypeArgs regression"
This roll https://github.com/flutter/flutter/pull/18575 required that types be specified in more places, despite the `@optionalTypeArgs` annotations. This is a regression that means our documentation is now less clear than before.

[2018-06-19 16:36] #18606 closed

[2018-06-19 16:45] aam commented on #18595
Sure, but is there a way to reproduce it from VSCode? How does this manifest itself for the end user at current moment?

[2018-06-19 16:56] devoncarew commented on #18574
I think we need to change this - IDEs to lots of expr eval, much of it very speculative (i.e. a watch windows contents isn't expected to be valid for most stack frames). @aam (or, @mraleph and @a-siva), who's the best person to look at this?

[2018-06-19 16:56] DanTup commented on #18595
Ah, gotcha. You can stop at a breakpoint and then add multiple things to the watch window, eg. `aaa` and `bbb`. Every time you add one, it will re-send all expressions to the debugger (a limitation it sounds like own't be fixed by Code anytime soon). The lack of a response causes the Watch window UI to hang and behave in mysterious ways.

In the latest code on master we instead time out after 1 se

[2018-06-19 16:57] hongsw commented on #14909
`brew uninstall dart
brew install dart --devel`
In my case, I installed it again and solved it.

[2018-06-19 17:02] voidrealms commented on #18579
My results from flutter doctor

rootshell@rootshell-desktop ~ $ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, v0.4.4, on Linux, locale en_US.UTF-8)
[✓] Android toolchain - develop for Android devices (Android SDK 28.0.0)
[✓] Android Studio (version 3.1)
    ✗ Flutter plugin not installed; this adds Flutter specific functionality.
    ✗ Dart p

[2018-06-19 17:04] Hixie opened #18610 "_Compiler.shutdown crash when running test that doesn't successfully compile"
Add the following file as `packages/flutter/test/widgets/test_test.dart`:

[code]

Then in `flutter/packages` run `flutter test test/widgets/test_test.dart`. Flutter crashes:

[code]

## flutter doctor

[code]

cc @aam

[2018-06-19 17:05] jonahwilliams commented on #18586
@lukepighetti are you comparing the behavior to native in a debug build or a release/profile build?

[2018-06-19 17:08] DaveShuckerow commented on #18573
Hi, is there an update on this issue? It is blocking a roll of Flutter into g3.

[2018-06-19 17:19] MStanoevich commented on #18579
Found somewhat of a fix:
Removing/commenting out this line from the app level build.gradle
`compile 'com.google.firebase:firebase-core:16.0.0'`

From what I've seen most people do not add this line, though it was part of the instructions when I was setting up my firebase android project.

[2018-06-19 17:29] Hixie commented on #18587
This looks like a small segment of a long crash report. @giovannilima262 Can you see if there's more to the logs that you could provide? As described there's not much we can do here.

[2018-06-19 17:29] ashadnasim52 commented on #14268
YES YOU ARE WRITE

[2018-06-19 17:36] voidrealms commented on #18579
I set the distributionUrl in /home/rootshell/Code/Flutter/firebaseauth/android/gradle/wrapper/gradle-wrapper.properties to gradle-4.4-all.zip

----------------------------------------------------------
Launching lib/main.dart on Android SDK built for x86 in debug mode...
Initializing gradle...
Resolving dependencies...
Running 'gradlew assembleDebug'...
registerResGeneratingTask is deprecated, use

[2018-06-19 17:40] voidrealms commented on #18579
in the project build.gradle i commented out "com.google.gms:google-services:4.0.0" and it compiled.
Will try to find time to actually test the code.

    dependencies {
        classpath 'com.android.tools.build:gradle:3.0.1'
        //classpath 'com.google.gms:google-services:4.0.0' // - THIS caused the issue in compiling

        // Example existing classpath
        classpath 'com.android.tools

[2018-06-19 17:41] jacob314 commented on #18573
The fix has landed flutter engine. I'm verifying that the bug is fixed now.

https://github.com/flutter/engine/commit/549c855e89341b97436b3417542fc8f997492df7

[2018-06-19 17:42] aam commented on #18573
The issue is believed to be fixed with dart roll that landed in https://github.com/flutter/engine/pull/5559. The next step is to roll engine into flutter, which is pending on previous engine roll into flutter to be completed(https://github.com/flutter/flutter/pull/18575 - it has landed, but it's not clear whether it will stick).

[2018-06-19 17:44] voidrealms commented on #18579
tested and verified the code works after going through the above steps, i will make a youtube video and post it out later if I have time.

[2018-06-19 17:50] dyardyGIT commented on #14317
Restart vscode after creating analysis_options.yaml file

[2018-06-19 17:53] gluix20 commented on #9591
No problem @mit-mit.

What do you guys think is the better approach now to receive iOS/Android payments? We need to offer auto-renewable subscriptions to users on both platforms. The above plugins works for that or do you think platform channel approach is the way? Appreciate.

[2018-06-19 17:55] aam commented on #18574
Do we want to come up with better way to communicate compilation errors from flutter to IDE plugin?
I don't think we just want to silent expression evaluation diagnostic, because supposedly user does want to see errors in an expression user typed in Watch window.

[2018-06-19 17:59] sudarshanc opened #18613 "'LUTTER_TOOL_ARGSsnapshot_path*' is not recognized as an internal or external command, operable program or batch file."
**First time**
flutter upgrade
Upgrading Flutter from C:\flutter...
From https://github.com/flutter/flutter
   f9bb428..c7ea3ca  beta       -> origin/beta
   3019ad9..020e0ef  dev        -> origin/dev
   d8d4c74..dd1c3e6  flutter_module -> origin/flutter_module
   b8b34de..bb23a11  master     -> origin/master
 * [new branch]      revert-18465-skippaint -> origin/revert-18465-skippaint
 * [new tag]

[2018-06-19 18:14] devoncarew commented on #18574
I believe we should be getting an Error reference back (https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#evaluate). I assume tools could then choose to show or hide the result of the eval, depending on whether the user can explicitly requested the eval, or it was some more speculative eval from the UI.

[2018-06-19 18:29] adriancmurray commented on #18541
@zoechi I think I'm going to go ahead and close this since someone asked a similar question at #18264 and the solution is good enough for now. Thank you.

[2018-06-19 18:29] #18541 closed

[2018-06-19 18:31] liyuqian commented on #12148
This should be fixed by https://github.com/flutter/engine/pull/5315

[2018-06-19 18:31] #12148 closed

[2018-06-19 18:39] alexandrpunk commented on #10826
I'm running Flutter (Channel beta, v0.5.1, on Linux, locale en_US.UTF-8), and have the same issue, the keyboard hides my input field when it appears

[2018-06-19 18:41] goodis0 commented on #10826
I am also still having the same issue, have run flutter doctor and flutter get and flutter upgrade

[2018-06-19 18:44] jonasbark commented on #10826
@alexandrpunk @goodis0 please make sure you are using the (unstable) master channel to test this functionality. It did not arrive in dev / beta channel yet afaik. I tested it today and it works as expected - if a parent widget is a scrollview.

[2018-06-19 18:45] adriancmurray commented on #18264
@xster curious is there a way to use rootNavigator with pushNamed?

[2018-06-19 18:50] Hixie commented on #18608
This should be mostly addressed by https://github.com/flutter/flutter/pull/18614 for now.

[2018-06-19 18:50] Hixie commented on #18609
cc @devoncarew

[2018-06-19 18:57] wiltwitt commented on #18348
I do have an iphone 6 which is 4 years old but camera widget/page crashes when clicked and really slow to load image selected from library.  I will try to post the error if I can but this is really disappointing.   I gave Flutter about 4 months try so I got used to things but this is too slow.  Oh man, do I have to go back to Xamarin???

[2018-06-19 19:06] devoncarew commented on #18609
Is `@optionalTypeArgs` just used for the examples? I see additional types added in that PR in places like this: https://github.com/flutter/flutter/pull/18575/files#diff-c798125dc01f08ce6bd3a0931482078bR906.

[2018-06-19 19:08] devoncarew commented on #18609
It looks like the definition of the annotation is here: https://pub.dartlang.org/documentation/meta/latest/meta/optionalTypeArgs-constant.html.

[2018-06-19 19:13] chinmaygarde commented on #18581
Fixed in https://chromium-review.googlesource.com/c/chromium/tools/build/+/1106701

[2018-06-19 19:13] #18581 closed

[2018-06-19 19:14] chinmaygarde commented on #17827
This was brought up in the Skia sync and the update says @reed-at-google is talking a look. Thanks.

[2018-06-19 19:27] chinmaygarde commented on #18581
FYI @eseidelGoogle @tvolkert.

[2018-06-19 19:34] khrice commented on #10826
@jonasbark
So I am on the master channel and still having this issue with a form

`import 'package:flutter/material.dart';
import 'package:contacts_service/contacts_service.dart';

class _ContactData {
  String firstName = '';
  String lastName = '';
  String email = '';
  String phoneNumber = '';
}

createContact(data) {
  Item phone =
      new Item(label: "Phone Number", value: data.phoneNumber

[2018-06-19 19:37] goderbauer commented on #10826
@khrice what's the output of `flutter doctor --verbose`?

[2018-06-19 19:40] khrice commented on #10826
@goderbauer

[✓] Flutter (Channel master, v0.5.6-pre.27, on Mac OS X 10.13.5 17F77, locale en-US)
    • Flutter version 0.5.6-pre.27 at /Users/Keegan/bin/flutter
    • Framework revision bb23a110e0 (5 hours ago), 2018-06-19 16:41:27 +0200
    • Engine revision 0c119932c0
    • Dart version 2.0.0-dev.62.0.flutter-4b2d60cb18

[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)

[2018-06-19 19:42] #18438 closed

[2018-06-19 19:43] samgithub-duplicate commented on #18438
The FORMS example in the sample was very limited; I finally found a good example at https://codingwithjoe.com/

[2018-06-19 19:52] goderbauer commented on #10826
If I take your code and add the following to make it runnable:

[code]

it works just fine. If I tap on a textfield, the textfield scrolls up slightly to not be covered by the keyboard.

[2018-06-19 19:54] ssarangi commented on #15578
I see the same problem with hot reloads.  In my case I see an error from Dart VM..

Connected Path: satisfied (Path is satisfied), interface: en0
Duration: 60.807s, DNS @0.000s took 0.005s, TCP @0.006s took 0.005s, TLS took 0.069s
bytes in/out: 6748/2205, packets in/out: 13/13, rtt: 0.011s, retransmitted packets: 0, out-of-order packets: 0
**TimeoutException: Request to Dart VM Service timed out:

[2018-06-19 19:54] samgithub-duplicate commented on #357
In these days of high focus on security, it seems to me this is a very important must have.

[2018-06-19 20:12] voidrealms commented on #18579
Step by step on how this was resolved:
https://youtu.be/bROui4ID9_Q

[2018-06-19 20:29] chinmaygarde commented on #18601
Can you post the output of `adb shell dumpsys SurfaceFlinger`?

[2018-06-19 20:31] DanTup commented on #18574
Yeah, we're getting an error response back in the API. It's just also in addition being written to stderr. This may make sense when the evaluate request didn't come from the API (eg. compilation, hot reload) I'm not sure, but here it feels wrong (and we never used to get this).

[2018-06-19 20:32] khrice commented on #10826
@goderbauer hmm your right that does work just fine, it must with how I am navigating to it? here is my main.dart

[code]

[2018-06-19 20:36] alexandrpunk commented on #10826
The issue is fixed in the Master channel for me

[2018-06-19 20:42] Hixie commented on #18577
Fixed by https://github.com/flutter/flutter/pull/18615

[2018-06-19 20:43] acidjazz commented on #18416
If there is no native solution for both iOS and Android on allowing the user to choose between the camera and/or gallery natively then I'll happily close this issue since that would make it invalid.

[2018-06-19 20:49] #18411 closed

[2018-06-19 20:50] jamesderlin commented on #18411
This is the same as #18500 which got more traction.

[2018-06-19 20:51] flschweiger commented on #18578
Also tried with the current master but still the same problem:

[code]

Did no one else face this problem?

[2018-06-19 21:22] lukepighetti commented on #18586
profile build

[2018-06-19 21:27] lukepighetti commented on #18586
Ah sorry, I misspoke earlier. When I said Drawer I meant the back/next screen as achieved through routing.

[2018-06-19 21:30] jonahwilliams commented on #18586
That would be the CupertinoPageRoute class, and it's related CupertinoPageTransition class that it constructs.

[2018-06-19 21:40] lukepighetti commented on #7014
This issue seems to be related to `flutter run` having the same functionality. Did it, or does it, have the same functionality?

[2018-06-19 21:46] lukepighetti commented on #18586
Hang on, I think I might be learning something. So if you use Material scaffold on iOS it's supposed to feel like Android? It will only feel like iOS if you're using Cupertino scaffold? I am using Material on iOS.

[2018-06-19 21:51] liyuqian commented on #17889
Nice catch @brianosman ! Although it's less about round corners, it's actually about setIsVolatile again.

The perf overlay is drawing a volatile path (https://github.com/flutter/engine/blob/master/flow/instrumentation.cc#L112) and that path is not prepared by path.cc. Previously, even if we marked all paths from path.cc as volatile, we missed this one. And that could be the root reason why @chinm

[2018-06-19 21:51] abarth opened #18617 "Fuchsia build dashboard runs out of file descriptors on WiFi"
Steps to reproduce:

1. In the Fuchsia source tree, build the "dashboard" product.
2. Run the dashboard on WiFi
3. Wait one or two days.

Expected behavior:

The dashboard continues to show the build status.

Actual behavior:

The dashboard fails to fetch build status because the Dart VM has run out of file descriptors.

Notes:

Something in the Flutter engine is leaking file descriptors.  My gues

[2018-06-19 21:53] lukepighetti commented on #18572
Thank you for spending so much time on this. I really appreciate it.

[2018-06-19 22:11] jonahwilliams commented on #18586
The MaterialPageRoute is designed to be adaptive based on the platform, though you could override this by changing the `platform` of the provided Theme

https://github.com/flutter/flutter/blob/09276bea258737e11b109e227f70eac94a4e1691/packages/flutter/lib/src/material/page.dart#L171

[2018-06-19 22:19] AshSimmonds commented on #18594
The pubspec.yaml file is fine AFAIK, it's only when google_sign_in is enabled and the computer is offline that problems occur.

I posted the error as text above.

It's easy to reproduce - at least on my setup - just add google_sign_in to your pubspec, then turn off your internet and try to build/"play" your project.

It works just fine when the internet is on, but when off it can't reach the depen

[2018-06-19 22:45] Hixie commented on #18609
Yeah I don't understand what happened with the types in that PR. @gspencergoog reported that there were new analyzer warnings that previously did not occur; I haven't looked into why this happened.

[2018-06-19 23:11] SkullEnemyX commented on #16927
Even I am facing this problem. Image picker from the gallery opens a menu for you to select the image but when you select from google photos...image does not appear but when the photo is taken from the local storage, image appears.

[2018-06-19 23:19] Hixie commented on #12311
Clearing assignee since Greg has moved on to other things.

[2018-06-19 23:20] Hixie commented on #17786
Done!

[2018-06-19 23:20] #17786 closed

[2018-06-19 23:22] Hixie commented on #18617
@abarth do you have a reduced test case?

[2018-06-19 23:28] Hixie commented on #17271
Unassigning and clearing milestone since my understanding is @xster is working on iOS features now.

[2018-06-19 23:29] jonahwilliams commented on #18130
Not working on this right now

[2018-06-19 23:30] jonahwilliams commented on #18131
Not working on this right now

[2018-06-19 23:30] Hixie commented on #17888
@tvolkert I've moved this to beta7 on the assumption that you're still planning on working on this; please let me know if not.

[2018-06-19 23:31] ThinkDigitalRepair commented on #18590
More details added

[2018-06-19 23:34] jonahwilliams commented on #18545
Might be missing some kind of exception from image decoding, maybe @xster ?

[2018-06-19 23:40] artAst opened #18620 "Flutter Firebase Performance Plugin Issue"
I cannot able to see any performance monitoring items on Firebase console.

1. Already configured firebase on project as I am using firebase for quite awhile now
2. Added Firebase Performance plugin https://github.com/flutter/plugins/tree/master/packages/firebase_performance
3. Implemented Custom tracking on my project using the example from here https://github.com/flutter/plugins/blob/master/pack

[2018-06-19 23:40] ThinkDigitalRepair commented on #18590
Figured this out! It happens when you're running multiple debug/run sessions and don't close the old ones. It locks in the version of the oldest running process it seems. The issue was resolved when I closed my other debug sessions in the editor. @zoechi @tvolkert

[2018-06-19 23:40] gspencergoog commented on #12311
Geez, sounds like I left or something. :-)

[2018-06-19 23:44] Hixie commented on #15838
This sounds like a Dart issue. cc @zanderso

[2018-06-19 23:46] goderbauer commented on #15893
You can set the `border` property of the `decoration` of the textfield to `InputBorder.none`, see here for an example:

https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/search.dart#L424

[2018-06-19 23:48] Hixie commented on #15875
You should be able to transfer anything between isolates except a few rare types like closures. It might be limited to immutable types? Not sure. But it's definitely more than just primitives. See for example: https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/services/binding.dart#L64

Does that satisfy your needs?

[2018-06-19 23:49] Hixie commented on #15890
Can you elaborate on what you would like? For example, do you want us to download each step above, and run `flutter analyze` on it, for every PR on the framework repo? Or...?

[2018-06-19 23:50] Hixie commented on #14598
@ride4sun Does @dsteinkopf's solution work for you?

[2018-06-19 23:50] Hixie commented on #15902
cc @devoncarew

[2018-06-19 23:52] Hixie commented on #15897
@baj9032 Do you still see this? We don't really have enough information here to address the problem. If you still see this can you attach a sample application showing the problem?

[2018-06-19 23:53] ThinkDigitalRepair commented on #18590
Yeah, and only after XCode builds again. I've deleted the build folder and if XCode doesn't build, it runs the old code.

[2018-06-19 23:54] Hixie commented on #15912
@Duchynko Should we assume from the thumbs up you gave @zoechi that you have resolved your issue here?

[2018-06-19 23:57] devoncarew commented on #18609
Ok, it looks like the implementation for this is in the linter, and it's a way to configure the `always_specify_types` lint.

[2018-06-19 23:58] Hixie commented on #16581
Duplicate of https://github.com/flutter/flutter/issues/15646

[2018-06-19 23:58] #16581 closed

[2018-06-19 23:58] Hixie commented on #15930
Duplicate of https://github.com/flutter/flutter/issues/15646

[2018-06-19 23:58] #15930 closed

[2018-06-19 23:58] Hixie commented on #15821
Duplicate of https://github.com/flutter/flutter/issues/15646

[2018-06-19 23:58] #15821 closed

[2018-06-19 23:58] Hixie commented on #15296
Duplicate of https://github.com/flutter/flutter/issues/15646

[2018-06-19 23:58] #15296 closed

[2018-06-20 00:00] Hixie commented on #15646
cc @xster @InMatrix @liyuqian Can any of your reproduce this? It seems like the common thread between all the duplicates is Windows machines in the zh-CN locale.

[2018-06-20 00:08] liyuqian commented on #15646
@Hixie : I'll try it with my Windows machine at home. BTW, are we going to work on Windows platform frequently enough to order a Windows workstation?

[2018-06-20 00:08] devoncarew commented on #18609
@gspencergoog (or @Hixie) - any chance you know of a smaller repo case than the entire flutter repo?

[2018-06-20 00:10] devoncarew commented on #18609
I only see the types added to the examples in the dartdoc; is that correct? If so, I'll investigate the code that analyzes the examples.

[2018-06-20 00:17] Hixie commented on #15319
This is unlikely to be worked on in the next month. It continues to be on our radar. Thank you for your patience.

[2018-06-20 00:44] devoncarew commented on #18609
I don't see locally. From talking to @gspencergoog, I'm going to prepare a PR which reverts the specific type args (which look like they were just applied to the dartdoc comments in `navigator.dart`, and see what the result is on the bots.

[2018-06-20 00:48] bkonyi commented on #3671
Quick update: background execution for iOS is implemented and up for review (PR # 5539). Once that lands, I'll start on updating the Android background execution to have a consistent interface and publish a sample plugin. This will all *hopefully* be done by end of month.

[2018-06-20 00:58] #9392 closed

[2018-06-20 01:07] spdhiraj99 commented on #18592
It has been resolved. As stated by a SO member and @zoechi

This code provided by SO member works properly,
[code]

[2018-06-20 01:09] #18592 closed

[2018-06-20 01:17] abarth commented on #18617
Not yet.  I'll try to build one.

[2018-06-20 03:00] xster commented on #15571
In terms of code, we should start at `EditableText` and add new fields `double cursorWidth` and `Radius cursorRadius`. Pipe that through _Editable to RenderEditable.

Make sure the width is accounted for in `_caretPrototype` and the various places where layout is done.

In `_paintCaret`, switch on whether Radius is null and either create the Rect like it is now or create an RRect instead with the

[2018-06-20 03:15] ebeem commented on #18332
@mraleph
this is working now, thank you so much!
I think this issue can be closed

[2018-06-20 03:30] RedTech64 commented on #17663
Any updates on this? I'm having this same problem!!

[2018-06-20 03:43] zoechi commented on #18594
@AshSimmonds the part that is visible in the screenshot looks invalid to me.

[2018-06-20 03:45] LaughingCabbage opened #18624 "Futter Examples dependency conflicts"
## Steps to Reproduce
[code]

Output tells me I need an older version of dependency X. This continues as I downgrade the versions in `pubspec.yaml`.

## Logs
[code]

[code]

[code]

[2018-06-20 03:49] zoechi commented on #7014
@lukepighetti I see what you mean. I'd assume that requires a command option because in the IDE Flutter plugin this can be enabled/disabled.

[2018-06-20 03:55] clarktank opened #18625 "Feature Request: FirebaseUI Support"
I really like FirebaseUI. It is very convenient and helps me focus on my application rather than a tedious authentication flow implementation. Can you make a FirebaseUI plugin for Flutter? Or implement it in dart?

[2018-06-20 04:38] liyuqian commented on #15646
No issues found in my Windows zh-CN machine (see the attached log in the end of this comment).

Meanwhile, I found two things that might be interesting:

1. 🔥 (hot reload emoji) is shown as two squares; maybe we should show something differently on zh-CN Windows?

2. All the crash reports involve Chinese specific devices. I think 4 of 5 devices are from Xiaomi and the other 1 is from Huawei. @peac

[2018-06-20 05:00] jifalops opened #18626 "Issue from website page Developing Packages"
From URL: https://flutter.io/developing-packages/

When publishing a package the CLI awaits a login prompt. This step is not documented but more importantly logging out does not appear to be documented online or in the CLI help.

 I published a package and logged into the wrong account. I corrected the uploaders by using
[code]
But now when I try to push an update I am unauthorized because I'm sti

[2018-06-20 05:07] jifalops commented on #18626
To logout, I deleted the `~/.pub-cache/credentials.json` file.

[2018-06-20 05:31] Scuttman commented on #18470
I am having exactly the same problem. All my dates from Firestore on my iPhone are returning 1970 and times different to my current timezone. This change would be great. I will now try and apply @eliothsu fix. Thanks.

[2018-06-20 06:08] zoechi commented on #17072
cc @Hixie

[2018-06-20 06:12] vithanichandresh commented on #18596
i have twio page in my app.
one homepage and second my account.
i need to call webservices in on resume of homepage.
but the problem is whene i back from myaccount onresume method not call.
at that situation which state is call ?

[2018-06-20 06:15] zoechi commented on #18596
I see. Then https://docs.flutter.io/flutter/widgets/RouteObserver-class.html might do what you want (haven't tried myself yet)

[2018-06-20 06:21] zoechi commented on #18626
related

- dart-lang/pub#1471
- dart-lang/pub#1062
- dart-lang/pub#1060

[2018-06-20 06:22] vithanichandresh commented on #18596
simple,
i have a button in home page.
by click that i start my account page using rout.
in home page resumed state i call some api to get data.
now whene i press back icon in myaccount it comes in home page but in home page resumed state was not called.

[2018-06-20 06:24] namiwang opened #18627 "detect android sdk via ANDROID_SDK_ROOT in addition to deprecated ANDROID_HOME"
As said in android's doc (https://developer.android.com/studio/command-line/variables), `ANDROID_HOME` is deprecated and should migrate to `ANDROID_SDK_ROOT`.

[2018-06-20 06:30] zoechi commented on #17663
@RedTech64 can you please add the output of `flutter doctor`?
@brianegan do you know about that?

[2018-06-20 06:32] santosh12345 commented on #11748
Hi
i am trying to pick contact number and set in TextformField, I able to pick contact and set in TextFormField,but it is showing when i am clicking at that field (TextFormField). I want to show automatically at set time. please provide your valuable input. For reference code of snippet as given below:
import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
import 'package

[2018-06-20 06:37] zoechi commented on #11748
@santosh12345
I'd suggest asking on StackOverflow.

[2018-06-20 06:37] santosh12345 opened #18628 "set Text in TextFormField"
Hi
i am trying to pick contact number and set in TextformField, I able to pick contact and set in TextFormField, but it is showing when i am clicking at that field (TextFormField). _I want to show automatically at set time_. please provide your valuable input. For reference, a code of snippet as given below:

[code]

[2018-06-20 06:39] #18332 closed

[2018-06-20 06:42] zoechi commented on #18628
@santosh12345
I'd suggest asking on StackOverflow.

[2018-06-20 06:43] readytopark commented on #18624
It looks like it needs a higher version of dart(latest one is 2.0.0-dev.63.0 from the dart dev channel). How can I possibly change the Dart version being referenced when running `flutter run`?

[2018-06-20 06:46] zoechi commented on #18624
You can't. The Dart SDK is baked into Flutter and a specific Flutter version is bound to a specific Dart version.
Why do you think you need a higher Dart version?
Alternatively using an older version of a dependency that is compatible with the used Dart version should work.

[2018-06-20 06:47] DanTup commented on #18624
`flutter run` will use its own embedded version of Dart. I think the problem here is running `flutter update-packages --force-upgrade` on the beta branch. This is going to update all of the packages used internally by flutter which may not be compatible.

I just did this:

- Checked out beta branch
- Ran `flutter update-packages` (without `--force-upgrade`)
- `flutter run` in `catalog`

And it all

[2018-06-20 06:59] zoechi commented on #18620
@Hixie

[2018-06-20 07:01] readytopark commented on #18624
## Steps to reproduce
[code]

## Logs
[code]

If I can't upgrade Dart, then I have to downgrade some of the dependencies(such as `path` package in my case) on my own which I believe there must exist some reasons that the developers added a specific version of dependency in pubspec.yaml.

@DanTup `flutter update-packages` didn't help either.

[2018-06-20 07:05] zoechi commented on #14598
@Hixie thanks that's working.
#15571 is related.

[2018-06-20 07:05] #14598 closed

[2018-06-20 07:07] zoechi commented on #18624
@readytopark

Isn't that the version that `--force-upgrade` wrote into `pubspec.yaml`?

[2018-06-20 07:14] zoechi commented on #18578
@Hixie

[2018-06-20 07:15] kidcosmic commented on #1150
Also, ORM data majicks.

IO is inherently dynamic and untyped and we live with that, but in the case of the M that drives our V, we shove all the type sickness of data conversion into an automated small place, so we can thoroughly enjoy type safe models in the rest of our world. Model is so inanely crucial, pervasive, and mutating in our many, highly iterative applications, that automated, reflect

[2018-06-20 07:21] readytopark commented on #18624
Now, it works... checking out to beta is the key..

README has to explicitly mention that the example project they are building should be on `beta` branch since `flutter` is default to beta setting.

Thanks! @LaughingCabbage

[2018-06-20 07:30] Fenilsmiley commented on #18598
D:\PROJECTS\Flutter\central_pos_flutter>flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel beta, v0.3.2, on Microsoft Windows [Version 10.0.15063], locale en-IN)
[√] Android toolchain - develop for Android devices (Android SDK 28.0.0)
[√] Android Studio (version 3.1)
[√] Connected devices (1 available)

• No issues found!

[2018-06-20 07:41] escamoteur commented on #10826
@Hixie https://github.com/flutter/flutter/issues/10826#issuecomment-397960703 what do you think about this?

also https://github.com/flutter/flutter/issues/18558

[2018-06-20 07:44] Gaurav-Mall opened #18629 "Flutter Inspector in VS Code"
Hey, everybody! I'm trying to use Visual Studio Code instead of Android Studio for developing apps with **Flutter**. I recently learned about **Flutter Inspector** and its very helpful _features_. But the problem is that I only see the inspector in an android studio project(window) and cannot find it in VS Code. Is it possible to use Flutter Inspector in VS Code? Any suggestions would be helpful.

[2018-06-20 07:46] peace2knowledge commented on #15646
[code]

[2018-06-20 07:48] zoechi commented on #17832
cc @Hixie

[2018-06-20 07:54] zoechi commented on #18629
@DanTup

[2018-06-20 07:58] zoechi commented on #18607
Please add the output of `flutter doctor` and the code that caused the exception and allows to reproduce.
Looks a bit like #13030

[2018-06-20 08:16] zoechi commented on #17890
cc @Hixie

[2018-06-20 08:17] zoechi commented on #17994
@Hixie

[2018-06-20 08:28] zoechi commented on #17986
Is this still an issue in recent Flutter versions?

[2018-06-20 08:29] zoechi commented on #17954
@chenmurong Did the suggestions solve your problem?

[2018-06-20 08:34] zoechi commented on #17969
Closing as not actionable because there is not enough information to reproduce.

[2018-06-20 08:34] #17969 closed

[2018-06-20 08:39] zoechi commented on #17926
Similar to #17046

[2018-06-20 08:41] zoechi commented on #17965
Did you run Android Studio and install SDK components?

[2018-06-20 08:44] zoechi commented on #15669
Sorry for the late response. Is this still an issue with recent Flutter versions?

[2018-06-20 08:45] zoechi commented on #17303
cc @Hixie

[2018-06-20 08:47] zoechi commented on #14513
@cbracken

[2018-06-20 08:53] zoechi commented on #16874
cc @Hixie

[2018-06-20 09:07] passsy commented on #18578
I canreproduce it. Here is what I did

1. Create project:
[code]

2. add `geolocation: 0.2.1` and `cloud_firestore 0.7.3` dependency followed by `flutter pacakges get`
3. Adjust signing in Xcode
4. [Set `SWIFT_VERSION`](https://stackoverflow.com/a/47530482/669294) to `3.2`
4. Create release `flutter build ios --release`

Error:

[code]

[2018-06-20 09:09] zoechi commented on #17925
I'm going to close this as dup of #12627 because the underlying `pub` tool produces this information, it's just not printed by `flutter packages upgrade`

[2018-06-20 09:09] #17925 closed

[2018-06-20 09:12] zoechi commented on #14308
Closing because of inactivity.
Hopefully this is fixed for you.

[2018-06-20 09:12] #14308 closed

[2018-06-20 09:13] brianegan commented on #17663
@zoechi Unfortunately I'm not quite sure about that one -- Looks like it could be a legit bug with the plugin, or perhaps the tutorial needs to be updated, but it's not a plugin or tutorial I maintain :(

[2018-06-20 09:13] zoechi commented on #17916
@Hixie

[2018-06-20 09:17] zoechi commented on #17769
Is this still an issue with recent Flutter versions?

[2018-06-20 09:18] zoechi commented on #17709
@alanrussian does the suggested package satisfy your requirements?

[2018-06-20 09:21] zoechi commented on #17766
There is currently no such thing in Dart.
You could create a map from strings to factory methods like

[code]

[2018-06-20 09:21] #17766 closed

[2018-06-20 09:22] zoechi commented on #17765
Sorry, for the late response. Is this still an issue in recent Flutter versions?

[2018-06-20 09:33] zoechi commented on #15892
Closing due to inactivity.

[2018-06-20 09:33] #15892 closed

[2018-06-20 09:34] zoechi commented on #11031
@bramvbilsen is this still an issue?

[2018-06-20 09:36] MaikuB commented on #17769
I've not run it recently for a while so will have to get back to you on that

[2018-06-20 09:37] zoechi commented on #15935
Closing because it's unclear if there is something to do.

[2018-06-20 09:37] #15935 closed

[2018-06-20 09:41] mravn-google commented on #17832
@amirh and I are aware of this feature request. We can't promise exactly when we'll get around to it. Hopefully soon, but if you can't wait, PRs are always welcome at the `flutter/plugins` repo. Whoever starts working on this: please let us know immediately through comments or self-assignment on this issue.

[2018-06-20 09:43] zoechi commented on #15933
Sorry for the late reply. Is this still an issue?
Can you try `flutter clean` and then try again?

[2018-06-20 09:44] DanTup commented on #18629
Unfortunately the Flutter Inspector is not currently available in VS Code. The issue for adding it is here:

https://github.com/Dart-Code/Dart-Code/issues/519

We did some investigation into embedded web views in VS Code (since it's extension points for completely custom UI are limited) but there are still some unanswered questions about how it'll work.

You can subscribe to the issue above for up

[2018-06-20 09:44] #18629 closed

[2018-06-20 09:49] gatertronics opened #18630 "Websocket not even creating the headers, but still connecting to ws://echo.websocket.org only"
Hi everyone,
I have just tried to run the Websockets example in both a Youtube video and also the websocket code samples, so nothing exiting...

I made the example app and yes, it connects to the ws://echo.websocket.org website to do the echo of your text as expected.  You type some text in and press the send button and yes, it responds with the same text........

However,  I then tried to make it

[2018-06-20 09:52] bramvbilsen commented on #11031
@zoechi Nope!

[2018-06-20 10:12] simoneguidiBA commented on #14821
Hello,
I followed @mravn-google guide to [Add Flutter to existing app](https://github.com/flutter/flutter/wiki/Add-Flutter-to-existing-apps) and I was able to start the Flutter activity from my Android project. But I'm only able to run it in debug mode, so it's very slow. How do I run it in release mode?

[2018-06-20 10:33] zoechi commented on #11031
@bramvbilsen thanks for the feedback, then I assume it's ok to close the issue.

[2018-06-20 10:33] #11031 closed

[2018-06-20 10:54] Fenilsmiley commented on #18598
i upgraded flutter. But same issue.

Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel beta, v0.5.1, on Microsoft Windows [Version 10.0.15063], locale en-IN)
[√] Android toolchain - develop for Android devices (Android SDK 28.0.0)
[√] Android Studio (version 3.1)
[√] Connected devices (1 available)

• No issues found!

when _selectDate method called on Button onPress

[2018-06-20 10:59] kidcosmic commented on #1150
To further iterate the point, you absolutely cannot beat:

[code]

A class definition being the only thing necessary to leverage both DB IO and network IO for models is _record time_.

`@MirrorsUsed` is far more than enough to satisfy tree shaking. Literally saying don't shake my User class is obviously and apparently sufficient. Mirrors are widely and by far mainly used for data classes which are

[2018-06-20 11:16] nevi-me commented on #18524
I've also asked a question on StackOverflow: https://stackoverflow.com/questions/50946923/firebase-messaging-infinite-onlaunch-loop

[2018-06-20 11:22] mravn-google commented on #14821
@simoneguidiBA Unless you have special setup (like custom build variants not named `debug` or `release`), the choice of build mode for the Flutter part is determined by Android Studio or Gradle as you build the host apk.

[2018-06-20 12:08] zoechi commented on #18598
Thanks for the update.

[2018-06-20 12:08] zoechi commented on #18598
@Hixie

[2018-06-20 12:33] mravn-google commented on #17533
Seen this one twice today, on two different dev machines. [This line](https://github.com/flutter/flutter/blame/master/packages/flutter_tools/lib/src/run_hot.dart#L579) assumes there is at least one reload report, which apparently isn't always true.

[2018-06-20 12:36] RedTech64 commented on #17663
I figured out my problem which had to do with how I was accessing the Firestore database. However, I feel like there could be some improvements to how Flutter shows these errors because I was getting errors that were not very helpful to diagnose.

[2018-06-20 12:39] passsy commented on #18578
Found the root cause: By default flutter generates an Objective-C iOS project. Integration Swift dependencies isn't straight forward. By generating a Swift project, the procedure above works flawless.

1. Create project:
[code]

2. add `geolocation: 0.2.1` and `cloud_firestore: 0.7.3` dependency followed by `flutter pacakges get`
3. Adjust signing in Xcode
4. Create release `flutter build ios --re

[2018-06-20 12:43] passsy commented on #13422
I can verify that running `flutter create -i swift` fixes the problem. Actually it should be the default

[2018-06-20 12:45] mravn-google commented on #17533
cc @aam

[2018-06-20 13:12] tonypee commented on #15922
i really dont understand how people can vote against this- something which is so second nature to the way declarative code is written in the internet era.. <like><this /></like>

[2018-06-20 13:16] mravn-google commented on #17533
Reproduced twice across quite a lot of attempts. Both times were on first launch after clean builds.

[2018-06-20 13:21] Tomucha opened #18632 "Add "rotation" to ScaleUpdateDetails in GestureDetector"
Feature request / proposal:

ScaleUpdateDetails event now provides the developer with convenient "scale" property, but I really would have a use for "rotation".

Two fingers define a line on the screen, at any given time. Comparing the original fingers position with current fingers position should give us information about rotation.

[2018-06-20 13:44] cbazza commented on #15875
The example you provided is just transferring a list of strings which is supported as stated above (basic primitives, lists and maps).

[2018-06-20 13:47] mattylase commented on #13616
Regarding docs on the whole, it would be really helpful if there was a passing mention of `ImageCache` existing at the top level `Image` widget documentation. I just found out this existed after a few days of being confused as to why my widget wasn't updating when deleting and re-saving over a file loaded by `Image.file`.

[2018-06-20 13:54] tiagosito opened #18634 "I switched to v0.5.1 and now does not compile"
I'm getting this error, it all happened after I switched from v0.4.4 to Flutter version v0.5.1, is anyone aware of what I can do to solve this?
The project was almost ready and now does not compile

Launching lib/main.dart on iPhone X in debug mode...
compiler message: file:///Users/tiagosito/flutter/.pub-cache/hosted/pub.dartlang.org/bignum-0.0.7/lib/src/BigInteger_v8/big_integer.dart:913:46: Err

[2018-06-20 14:04] mit-mit commented on #9591
Yes, I think platform channels should work great for this.

[2018-06-20 14:06] mit-mit commented on #18604
Thanks, I reactivated https://github.com/dart-lang/sdk/issues/32596

[2018-06-20 14:13] #18609 closed

[2018-06-20 14:13] aam commented on #17533
Thanks for the report. This seems to be a different flavor of https://github.com/flutter/flutter/issues/14517, which was papered over. Generally speaking, lack of reload report from the VM should be treated as a fatal error since from that point on flutter on the host machine can't have any confidence in what is happening on the device.
Ideally we figure out why Dart VM didn't provide a report. If

[2018-06-20 14:50] simoneguidiBA commented on #14821
Thank you @mravn-google, I didn't think about selecting the build variant and it was indeed on debug.
I've got another issue though. I imported the following flutter plugin in my pubspec.yaml:

`shared_preferences: ^0.4.1`

Now the build fails with the following errors:

[code]

It looks like they're caused by the following lines in the auto generated `GeneratedPluginRegistrant` Java class:

[code

[2018-06-20 14:54] mit-mit commented on #18634
Tentatively tagging this TODAY until we understand it better

[2018-06-20 14:55] kroikie commented on #18524
@nevi-me Could you please include the data you are sending? Also if you remove the navigate step from onLaunch and only do a print there do you still get the loop?

[2018-06-20 14:59] binary132 commented on #15114
ANDROID_HOME is not "might be" deprecated.  It is deprecated.

[2018-06-20 15:10] mravn-google commented on #14821
The wiki guide was an experiment, and plug-ins won't work just by following the guide. Changes to Flutter tooling are needed too. #18633 just landed on master. That might do it, but I haven't had time to check yet. We are working on a Flutter module project template that should make add2app much easier, see the flutter_module branch.

[2018-06-20 15:17] zoechi commented on #13422
@passsy Swift introduces quite some application size penalty. I think this is why it isn't the default.

[2018-06-20 15:19] zoechi commented on #13422
@tvolkert

[2018-06-20 15:19] zoechi commented on #18578
https://github.com/flutter/flutter/issues/13422#issuecomment-392133780

[2018-06-20 15:21] zoechi commented on #17663
cc @Hixie

[2018-06-20 15:38] jinseoung-lee commented on #1150
Any news? Really??? 😢😢

[2018-06-20 15:39] macher91 opened #18636 "ShadowBox inset attribute? Inner shadow"
I didn't find any trace of inner shadow for box.
Like in CSS using box-shadow: inset there is a option to achieve the same effect?

[2018-06-20 15:41] zoechi commented on #15875
I thought this was supported but then reverted but I'm not sure.
Anyway I guess this should be reported in the Dart SDK repo.

[2018-06-20 15:43] zoechi commented on #1150
@jinseoung-lee any news about what?
It was a deliberate decision to not include `dart:mirrors` for concrete reasons.
There are alternatives listed above like code custom generation or the reflectable package.

[2018-06-20 15:45] zoechi commented on #18636
cc @HansMuller

[2018-06-20 15:47] lukepighetti commented on #18586
OK. Well, in that case, then I would (as before) expect Flutter, in Material or Cupertino, to have the iOS style acceleration for page animation and scroll to home (tap on AppBar), and it is currently not that way. :)

[2018-06-20 15:48] zoechi commented on #17680
@Hixie

[2018-06-20 15:51] mravn-google commented on #14821
@simoneguidiBA I just did a quick test and updated the wiki. Plugins should be supported now.

[2018-06-20 15:53] liyuqian commented on #15646
@peace2knowledge : it seems Flutter crashed when it tried to decode some network streaming data to utf8. Are you sure that the data stream is encoded in utf8 instead of ISO-8859 (e.g., GB13080, which was widely used on Windows)? Just to narrow down the problem, can you try if `flutter run` is Ok for `flutter/examples/hello_world` on Android emulator? (it seems that your last crash report is still

[2018-06-20 16:05] tiagosito commented on #18634
@mit-mit  Hello Michael Thomsen, I already did this and it did not work

[2018-06-20 16:10] mehmetf commented on #16904
/cc @chinmaygarde Any updates on this?

[2018-06-20 16:11] jinseoung-lee commented on #1150
@zoechi I understand why they decided so. but.. If the reason for disabling the mirror system is only due to size, IMHO it's better option to let the each developer choose.

if in-house application(user is specified), size is not a problem compare to usual cases
and we still need to use IoC Container library for enterprise application(or developers).
If possible, it would be a good idea to provide

[2018-06-20 16:15] tiagosito commented on #18634
I also posted this doubt on the official channel there at https://gitter.im/flutter/flutterposted, but I did not get answers that solved the problem

[2018-06-20 16:19] HansMuller commented on #18634
Is it possible that your app depends on a package that cannot be compiled with dart2?

[2018-06-20 16:27] jinseoung-lee commented on #1150
Oh, There are also [dagger like compile-time ioc container library](https://github.com/google/inject.dart) released by Google.

[2018-06-20 16:27] nevi-me commented on #18524
Hi @kroikie When I only print text, the infinite loop stops.

Here is the data:

[code]

For reference, here's the actual code that handles navigation:

[code]

From what you suggested, I can only conclude that the issue is with the router. I'm using Fluro as a router (https://github.com/theyakka/fluro), and here's my router:

[code]

I just had a look at Fluro's GH, and I'm not seeing a similar/r

[2018-06-20 16:28] HansMuller commented on #18634
It looks like you're depending on an old bignum package. Could you use the core version, https://docs.flutter.io/flutter/dart-core/BigInt-class.html, instead?

[2018-06-20 16:30] HansMuller commented on #18636
The Material widget has an elevation (and a shape!). It's rendered with a shadow that's based on the elevation.

[2018-06-20 16:33] mehmetf commented on #17618
/cc @jonahwilliams Updates on this?

[2018-06-20 16:35] jonahwilliams commented on #17618
waiting for green to submit

[2018-06-20 16:35] zoechi commented on #18636
@HansMuller I think he is looking for an inside shadow like https://css-tricks.com/snippets/css/css-box-shadow/#article-header-id-2

[2018-06-20 16:37] mehmetf commented on #18456
@robertoscaramuzzi Could we see what the native app behavior is for this as a reference? I don't think Material docs cover this. This most likely manifests in the appbar.

[2018-06-20 16:37] zoechi commented on #1150
@jinseoung-lee it's not so easy to enable/disable such a feature.
My understanding is that the `inject` package is in a very early stage and might not yet work.

[2018-06-20 16:38] mehmetf commented on #4630
@jonahwilliams Please give an update. This is actually a blocker for mulligan.

[2018-06-20 16:39] mehmetf commented on #6135
@robertoscaramuzzi Please remove mulligan tag if no longer applies.

[2018-06-20 16:40] jonahwilliams commented on #4630
PR is done waiting for LGTM and Green to land

[2018-06-20 16:40] mehmetf commented on #16763
There are 3 a11y issues that we are working on resolving. ETA: by end of week.

[2018-06-20 16:43] mehmetf commented on #13736
@robertoscaramuzzi Please give some performance numbers from the mulligan app so we can see where the potential fixes can be.

[2018-06-20 16:48] mehmetf commented on #17704
@robertoscaramuzzi @DaveShuckerow Please sync up and see if there's a leafy solution to this since afaicr, they did not run into this issue due to putting the entire scaffold inside their form.

[2018-06-20 16:48] Gaurav-Mall commented on #18629
Thanks very much for the information. I've decided to use Android Studio because of the limitations in VS Code. Hopefully, when they put it in I'll get back into using it. Thank you very much, everybody!

[2018-06-20 16:49] Hixie commented on #18634
@tiagosito if you need to be unblocked in a hurry, one option is to do `git checkout v0.4.4` in the flutter directory to get back to the old version.

[2018-06-20 16:53] #17618 closed

[2018-06-20 16:53] kroikie commented on #18524
@nevi-me I agree that the issue is related to the implementation of the navigation. I'll close this issue, feel free to open a new one if necessary when you have more details.

[2018-06-20 16:53] #18524 closed

[2018-06-20 16:54] nevi-me commented on #18524
I replaced Fluro's `Router` with a `Navigator` as per the below:

[code]

That made what I'm doing wrong apparent. I have a navigation bar widget, and I'm trying to navigate to a different tab on the bar. Instead of navigating, I'm instantiating the `BottomNavigation`, which must be triggering an `onLaunch` from FCM repetitively.

My app is based on https://github.com/flutter/flutter/blob/master/e

[2018-06-20 16:55] nevi-me commented on #18524
@kroikie okay, I'll try navigate within my bottom bar. That should solve the problem.

[2018-06-20 16:55] kroikie commented on #18524
@nevi-me nice glad you got it resolved!

[2018-06-20 16:58] DanTup commented on #18629
If there are other things you're missing besides the inspector, please do open issues in the [Dart Code](https://github.com/Dart-Code/Dart-Code) repo (or if there are already issues for them, add a 👍 ); it helps us know what's most important to users. Thanks!

[2018-06-20 17:00] jonahwilliams commented on #17664
Closing as a dupe of flutter/flutter#4630

[2018-06-20 17:00] #17664 closed

[2018-06-20 17:01] jonahwilliams commented on #16834
Im not currently working on this

[2018-06-20 17:01] bparrishMines commented on #18620
If I remember correctly, custom traces took awhile to show up in the console. I usually had to wait till the next day. Has it been over 12 hours for you?

On the firebase performance website #6, it states it should only take up to 12 hours as well.
https://firebase.google.com/docs/perf-mon/get-started-android

We may need to update the README and comments to reflect this in the plugin.

[2018-06-20 17:10] tiagosito commented on #18634
Ok @Hixie, this is the only alternative I have left for this moment, but I'm going to create a new branch to check if what the @HansMuller said, can solve the problem, so please do not close this question

[2018-06-20 17:11] robertoscaramuzzi commented on #18456
The native app seems to handle this just fine. The app header is tall enough to contain the largest font size.

[2018-06-20 17:21] macher91 commented on #18636
@zoechi provided example what I want achieve

[2018-06-20 17:23] HansMuller commented on #18456
We can address this in Flutter.

 Unfortunately there's still not guidance from the [Material Design spec ](https://material.io/design/) about how to change internal component layouts based the text scale factor. Whatever solution we provide now will have to be considered provisional until the general problem is sorted out.

cc @willlarche

[2018-06-20 17:32] HansMuller commented on #18636
@zoechi I see. We don't have explicit support for "inward" shadows however that seems like a reasonable thing to add.

[2018-06-20 17:40] Jellevanlith35 opened #18638 "'package:flutter/src/widgets/transitions.dart': Failed assertion: line 43 pos 15: 'listenable != I/flutter ( 3529): null': is not true."
[code]

[code]

[2018-06-20 18:28] zoechi commented on #18426
Any suggestion how to deal with that?

[2018-06-20 18:35] wrumble commented on #18463
bump

[2018-06-20 18:35] zoechi commented on #17709
cc @cbracken (not sure this concerns you)

[2018-06-20 19:03] tiagosito commented on #18634
You've downgraded to v0.4.4 as it was done by @Hixie , the project worked perfectly again because you're not running on v0.5.1 and I'm trying to understand what really should be done as @HansMuller pointed out, but I I have no idea what to do.
Is the problem with bignum?

[2018-06-20 19:03] robertoscaramuzzi commented on #6135
Our iOS devs report:

I've found it to be usable in debug mode, but it's definitely not as quick as debug mode on a physical device. The biggest pain point is that for some reason any scrolling content isn't as responsive as on a physical device; you start a drag action with your mouse, and it's delayed by a few hundred milliseconds, but then animates really smoothly once it starts. Flings animate

[2018-06-20 19:06] zoechi commented on #18426
Seems extending RenderBox is the way to go then.

[2018-06-20 19:15] #14624 closed

[2018-06-20 19:35] HansMuller opened #18639 "Flutter ChangeLog doesn't document Dart changes"
Briefly documenting significant changes to Dart in Flutter's [ChangeLog](https://github.com/flutter/flutter/wiki/Changelog) would help developers who are tracking one of the Flutter channels.

For example, it appears that differences between the version of Dart bundled in Flutter versions 0.4.4 and 0.5.1 made it no longer possible to include the public [bignum package ](https://pub.dartlang.org/pa

[2018-06-20 19:37] blaneyneil commented on #17699
i'm having the same problem, sporadically, but i call _firebaseMessaging.configure() in my main() before i even call runApp().

i don't call _firebaseMessaging.getToken() til my signup logic/screen, and it will occasionally hang - no response and nothing in the catchError block.

[2018-06-20 19:41] jonahwilliams opened #18640 "Draggables should have a way to configure ignoring semantics of feedback widget"
Dragging an item that has a11y focus unfocuses the item if it moves to feedback.  To made android behavior it should stay focused.

cc @DaveShuckerow

[2018-06-20 19:41] jonahwilliams opened #18641 "Add SemanticsAction to request a11y focus"
cc @DaveShuckerow

[2018-06-20 19:53] HansMuller opened #18642 "Release-process Wiki entry, step 8, buckets not betas"
Step 8 should refer to "bucketN" milestones, not "betaN": https://github.com/flutter/flutter/wiki/Release-process#rolling-the-beta-channel

[2018-06-20 19:56] HansMuller opened #18644 "Release-process Wiki entry, step 3 could be clearer"
Step 3 in https://github.com/flutter/flutter/wiki/Release-process#rolling-the-beta-channel

How exactly does one test these assertions?

- can be successfully upgraded to from the dev build to which the beta branch currently points (via 'flutter upgrade')
- can be successfully upgraded from to a later dev build (via 'flutter upgrade')
- can switch channels successfully (via 'flutter channel')

It

[2018-06-20 20:16] DaveShuckerow opened #18646 "TextField longpress is unusable in Accessibility mode"
In the gallery, try out the text fields demo in a11y mode.

Enter some text into the first box, and then a11y long-press (one tap then hold on the second tap).

The 'paste' or 'select all' overlay pops up, but it is not tappable.

[2018-06-20 20:16] DaveShuckerow commented on #18646
@jonahwilliams /cc

[2018-06-20 20:28] Sfshaza commented on #18137
@Ehud-Banunu, you can follow https://github.com/flutter/website/pull/1071

[2018-06-20 20:28] DaveShuckerow commented on #18573
This fix appears to be rolled in at https://github.com/flutter/flutter/commit/fb8cbf216b983f2168ada87c0ab76a4f3d453b5d.

Can we close this issue yet?

[2018-06-20 20:39] DaveShuckerow commented on #18585
From what I can see, this also doesn't appear to be done in native draggable views either on Android.

On iOS, the system has a default announcement:

[2018-06-20 20:39] tiagosito commented on #18634
I've removed everything that could be bignum but nothing changes.
I searched the project for bignum and found the word in two files
pubspec.lock and .packages
So I removed the files, did a clean, closed Android Studio
When I opened and did a flutter packages get and a flutter packages upgrade and then flutter run everything came back as it was or nothing has changed.
So my question is:
Where can t

[2018-06-20 20:41] tiagosito commented on #18634
It's a shame to spend time working and at the end see this happening!

[2018-06-20 20:47] wooldridgetm opened #18648 "flutter_test needs to be updated to support the latest analyzer."
## Steps to Reproduce

1. Open Terminal & type **flutter create sample_project**
2. type **cd sample_project**
3. type **flutter packages get**
4. type **code pubspec.yaml**
     - VSC should open the pubspec.yaml file.
5. add the dependencies for [JSON Serializable](https://github.com/dart-lang/json_serializable)
6. Return to Terminal & type **flutter packages upgrade**
7. the command will fail w

[2018-06-20 20:53] yjbanov commented on #15646
@liyuqian

Will something like this help: https://github.com/flutter/flutter/pull/18649?

[2018-06-20 21:19] Hixie commented on #11344
@matthew-carroll assigned this to you based on our conversation yesterday

[2018-06-20 21:27] mit-mit commented on #18634
Yes, sorry, we understand this is painful. We think this may be due to errors in the packages you are using. Many are very old versions. Can you try `flutter packages upgrade` to see if upgrading them helps?

[2018-06-20 21:33] flschweiger commented on #18578
Thanks for all your effort @passsy 😃 Unfortunately that's not the issue. I already have a Swift initialised project with a valid ```AppDelegate.swift``` file. Also created a clean Flutter project and copied everything over - still the same issue 😔

[2018-06-20 21:33] mehmetf commented on #18482
Copying a comment thread on this issue so customers can see it:

Comment from @Hixie : Sure, it would be relatively straight-forward to do this.

Comments from @jason-simmons : One potential issue is that Android will be expecting measurement to happen synchronously on the platform thread. We would need to send a layout request to Dart on the UI thread and block until completion. Or return a (pote

[2018-06-20 21:35] liyuqian commented on #15646
@yjbanov : Absolutely. Thanks!

[2018-06-20 21:41] sir-boformer commented on #11344
I would also like to see this feature. Not necessarily a fully automated solution.

Combined with @FrantisekGazo's solution, all that would be needed is a way to [change the "action button" of the keyboard in iOS and Android to "Next"/"Go"/"Send"/...](https://github.com/flutter/flutter/issues/17525#issuecomment-397234102)

[2018-06-20 21:42] matthew-carroll opened #18650 "Reduce duplication in RenderOpacity and RenderAnimatedOpacity"
RenderOpacity and RenderAnimatedOpacity contain quite a bit of duplicated code.

This duplication even resulted in a recent nuanced bug that showed itself when a RenderOpacity was changed to a RenderAnimatedOpacity and broke a golden image test.

The duplication between these two classes should be reduced to avoid future discrepancies.

[2018-06-20 21:58] dellagustin commented on #7482
Some time ago I was trying to build a media player app in cordova for Android.
One problem I had was that the existing plugins did play media on the main thread instead of playing it in a service and that caused the device to kill it when it was in background.
I imagine this plug in would have a similar issue.

[2018-06-20 21:59] DaveShuckerow commented on #17704
@robertoscaramuzzi and I discussed this. The Leafy approach doesn't use Flutter's Form at all, which means that this issue, which depends on the internal behavior of the FormState, doesn't apply to the Leafy design.  It also means that the Leafy approach can't be quickly adopted in Mulligan.

The underlying problem is that the formfields' validator() callbacks are invoked during build, and so if t

[2018-06-20 22:09] paolosoares commented on #15346
customer:mulligan has been hit by this as well

[2018-06-20 22:10] kroikie commented on #17699
@blaneyneil is this happening on Android, iOS or both?

[2018-06-20 22:15] #18456 closed

[2018-06-20 22:19] blaneyneil commented on #17699
iOS, on an actual device.

[2018-06-20 22:20] MiguelCatalan opened #18652 "Program specified by service does not contain one of the requested architectures: XPC_FLAG"
After deploying to the App Store and being accepted, some users started to report the app is not working on some 9.3 devices.

It seems that the app is installed correctly but when opening the app crashes. On iOS 11 is working fine, but not in 9.3. Also happens not only for released apps but also to emulators and in debug mode.

And reports the following error
[code]
## Steps to Reproduce

1. Crea

[2018-06-20 22:29] artAst commented on #18620
It did appear right now. Thanks for the clear info.

[2018-06-20 22:39] liyuqian opened #18653 "Flutter crash reports get blocked in China"
It seems that Flutter was trying to send the crash report to clients2.google.com but unfortunately google is blocked from China. See https://github.com/flutter/flutter/issues/15646#issuecomment-398656452 for an example.

[2018-06-20 22:47] yjbanov commented on #18653
I think https://github.com/flutter/flutter/pull/18649 fixes this issue. I thought this request will be about being able to fan out crash reports to multiple servers, which I think is orthogonal to the problem of Google servers being blocked in China.

[2018-06-20 23:08] liyuqian commented on #18653
Modified the issue to include the fan out.

Depending on what we wanted to fix, https://github.com/flutter/flutter/pull/18649 may have either completely fixed it (if we just want to avoid the network error on our clients), or partially fixed it (if we want to have crash reports from China). Right?

[2018-06-20 23:32] goodis0 commented on #18309
I switched to NetworkImage and this worked perfectly, sorry for the delay in closing the issue

[2018-06-20 23:50] sir-boformer opened #18656 "Expose Skia's drawText and measureText in the dart:ui Canvas API"
_Edit: It seems like the text gradient bug that lead to this proposal was caused by a recent change in the Flutter engine, which will hopefully be fixed soon (see the discussion below). I think exposing the drawText method would still be nice for all the other reasons listed below._

-----

Right now the only way to draw text in a canvas is the [``drawParagraph`` method](https://docs.flutter.io/fl

[2018-06-20 23:51] sir-boformer commented on #18656
This is the discussion that lead to my proposal: https://github.com/flutter/flutter/pull/18347#issuecomment-398885580

[2018-06-20 23:51] jonahwilliams commented on #18309
Glad you got it working!

[2018-06-20 23:51] #18309 closed

[2018-06-21 00:04] kroikie commented on #17699
Looks like the [`configure`](https://github.com/flutter/plugins/blob/master/packages/firebase_messaging/lib/firebase_messaging.dart#L69) is responsible for setting the method handlers. So unless you call configure the onToken callback is never handled and awaiting the token will never return.

[2018-06-21 00:11] kroikie commented on #17699
Like @abehaskins suggested we could return an error is the token is trying to be retrieved before the method call handlers are set.

[2018-06-21 00:18] blaneyneil commented on #17699
i'm calling configure from the main entry point:

[code]

and then only calling getToken() inside my signup screen - which is in another route.  the really odd part is that's it's sporadic.  it hangs maybe 20% of the time.

[2018-06-21 00:28] lukasgit opened #18658 "macOS: flutter upgrade/doctor reports brew components missing (they are not)"
On macOS, after running ```$ flutter upgrade``` today flutter doctor reports I am missing brew components (when I am not).

For security reasons, homebrew is not installed under the "recommended" /usr/local.  Custom location is pointing just fine under export PATH, and flutter ios apps are also working just fine.

[code]

[2018-06-21 00:42] Hixie commented on #10101
I looked into this. There's no official way for us to read the scale value (it's hidden in `ValueAnimator`), and, more importantly, there's no way for us to receive a notification of when the value changes (the notification is a private API with a method ID that varies per device).

See `getWindowSession` in https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/view/

[2018-06-21 00:43] Hixie commented on #14656
The animation scale thing is a non-starter, see my comment in https://github.com/flutter/flutter/issues/10101.

So I guess I'll just add a framework API, independent of the OS behaviour.

[2018-06-21 00:43] kroikie commented on #17699
@blaneyneil could you confirm that you are using version `1.0.3` of the plugin since it updates how the token is retrieved and report if you are getting the same issue?

[2018-06-21 01:29] peace2knowledge commented on #15646
@liyuqian currently i can not install  Android emulator,but something interesting，open the 'Android' project，install app, it's ok.

[2018-06-21 01:38] sir-boformer commented on #18656
Now that you mentioned libtxt, I was able to find the cause of the special gradient behavior:

https://github.com/flutter/engine/blob/975d4ead668c8a5e8abe5b0a69a6f7f3e4984579/third_party/txt/src/txt/paragraph.cc#L874

libtxt uses the ´translate´ method of the canvas, which also translates the gradient.

That's also the behavior on Android and Web, and thinking back, that's what I used there to mak

[2018-06-21 01:43] dnfield commented on #18656
Looks like that was added in to fix an issue where text wasn't getting properly positioned: https://github.com/flutter/engine/commit/b7b556150cf148cab7b8e14631198ec9d5ed0c2b

[2018-06-21 02:01] prabhuthiran commented on #18613
I am also facing the same issue

[2018-06-21 02:02] dnfield commented on #18458
Another option is to have anyone who creates a Path manually keep track of how they did it and serialize that.

[2018-06-21 02:20] xuexin commented on #730
I noticed that Flutter published preview version. Does this mean that the first release will not include inline WebView?

[2018-06-21 02:56] MaskyS commented on #730
Preview without this feature seems a bit unorthodox to me :disappointed:

[2018-06-21 02:56] zoechi commented on #18620
@artAst can this issue be closed then?

[2018-06-21 03:57] startupgurukul opened #18660 "MLKit Custom model plugin"
@bparrishMines Thank you for the official MLKit Vision plugin located here,
https://github.com/flutter/plugins/tree/master/packages/firebase_ml_vision

This is a request for Custom MLIntepreter plugin, supported by MLKit
https://firebase.google.com/docs/reference/android/com/google/firebase/ml/custom/package-summary

[2018-06-21 03:59] startupgurukul commented on #17532
Thank you @bparrishMines, created an issue for CustomML Interpreter. #18660 hoping that you get some bandwidth to implement that as well

[2018-06-21 04:57] Fenilsmiley commented on #18598
any solution ??

[2018-06-21 05:13] dshukertjr commented on #12471
Okay, so how can one get the document id or the path inside the iteration like this:
[code]

[2018-06-21 05:15] LiveRock opened #18661 "Asset Images disappearing and creating Exceptions/Freezes"
I am experiencing exceptions that the AssetImages is not loading because of null. It loads fine when app launches but after a few mins, even without any activities (like remain on a screen), one by one, the exception will suddenly pop up, crashing the app.

This is the error:

[code]

I suspect that the asset images were disposed off, creating this exception but not sure what is actually going on.

[2018-06-21 05:38] Herohtar commented on #18613
This happened to me as well.

[2018-06-21 05:46] MichaelSowah commented on #18661
could you post the results of flutter doctor -v

[2018-06-21 05:50] slb2709673 commented on #16694
哈哈哈哈

[2018-06-21 05:59] blaneyneil commented on #17699
i am.  i know i had done a package upgrade within the last 24, and i explicitly set it to 1.0.3 earlier.  and then i got a hang upon my first test signup:

[code]
the 2nd print never executed.

[2018-06-21 06:05] radityagumay commented on #14821
@mravn-google hi, any progress for this?

[2018-06-21 06:06] aman19ish commented on #18023
I tried the flutter upgrade command  but its not working.

[2018-06-21 06:11] zoechi commented on #18023
What about `flutter channel beta`?

[2018-06-21 06:24] a14n opened #18662 "How to override linter version used for analysis"
I have some changes in linter I'd like to test on flutter codebase.

Previously (before `flutter analyze --flutter-repo` uses analysis server) I used a `dependency_overrides` section in [packages/flutter_tools/pubspec.yaml](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/pubspec.yaml) to use a local linter.

Now that the analysis server is used I can not figure out how to use

[2018-06-21 06:51] williamwue commented on #14821
If flutter support add2app better, it would be more popular.

[2018-06-21 06:56] Sfshaza commented on #18533
Closing. Please re-open if you have further details.

[2018-06-21 06:56] #18533 closed

[2018-06-21 06:57] escamoteur commented on #11344
@Hixie what is the proposed solution?

[2018-06-21 07:04] dankop123 commented on #18524
I'm also experiencing this issue, but I'm not using BottomNavigation. I'm just pushing to the next screen like so
Navigator.push(context, new MaterialPageRoute(builder: (_) => new LoginScreen()));

[2018-06-21 07:05] Sfshaza commented on #18078
@brianegan, sorry, I didn't see your response until now.

I would call this an Advanced List example, since the goal is to spread out the contents and the Sliver is an implementation detail.  If we have other Sliver examples, we could create a Slivers section, then cross link to this list example. Otherwise, if folks search the site for Sliver, they should find this example. What do you think?

[2018-06-21 07:06] zoechi commented on #18661
Also try `flutter clean`.

[2018-06-21 07:08] Sfshaza commented on #17615
* [PR 1060](https://github.com/flutter/website/pull/1060) removed `new` from the cookbook recipes.

[2018-06-21 07:08] Norbert515 commented on #18302
Any news on this?

[2018-06-21 07:09] zoechi commented on #18613
@tvolkert

@prabhuthiran
@Herohtar
Consider using
![image](https://user-images.githubusercontent.com/405837/41703161-ad70be82-7532-11e8-8907-4fac80b8bb6b.png) in the top-most comment because they can be better used to track how many are affected, instead of "me too" or "+1" comments,

[2018-06-21 07:11] zoechi commented on #12471
@dshukertjr I think this would be a good question for StackOverflow.
Closed issues aren't tracked and comments easily get lost.

[2018-06-21 07:11] zoechi commented on #18660
@Hixie

[2018-06-21 07:12] mravn-google commented on #14821
@radityagumay @williamwue We are very much aware of this and actively working on it. I'll post here when I have any updates.

[2018-06-21 07:16] zoechi commented on #18023
Not sure what you mean with that. Perhaps you need to install the Dart and Flutter plugin in IntelliJ.

[2018-06-21 07:40] sir-boformer commented on #18656
@GaryQian Is the `translate` call that was in your commit actually required for the fix, or just a try to make the code more elegant? It causes issues with gradient drawing.

[2018-06-21 07:41] stefanhuber commented on #7099
Any news on the progress of running flutter on a raspberry pi?

[2018-06-21 07:41] LiveRock commented on #18661
flutter doctor -v
[✓] Flutter (Channel dev, v0.5.5, on Mac OS X 10.13.5 17F77, locale en-SG)
    • Flutter version 0.5.5 at /Users/peterlum/dev/flutter
    • Framework revision 020e0ef55c (6 days ago), 2018-06-14 13:17:08 -0700
    • Engine revision c3976b3c71
    • Dart version 2.0.0-dev.61.0.flutter-c95617b19c

[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)
    • Androi

[2018-06-21 07:44] zoechi commented on #18658
@tvolkert

[2018-06-21 07:50] zoechi commented on #18652
@cbracken

[2018-06-21 07:56] bjornbjorn opened #18663 "firebase_storage 0.3.7 uses deprecated methods"
Compiling for Android I get these warnings from the latest [firebase_storage](https://pub.dartlang.org/packages/firebase_storage) plugin:

[code]

[2018-06-21 07:56] Jephen commented on #18613
And I also have `[!] VS Code, 64-bit edition (version 1.24.1)` problem.

`flutter doctor -v` show like
[code]

But I have installed.

[2018-06-21 08:04] zoechi commented on #15346
@HansMuller

[2018-06-21 08:05] zoechi commented on #7482
Backgroundprocessing for Flutter is being worked on. That might allow better solutions.

[2018-06-21 08:13] LiveRock commented on #18661
Done flutter clean and it is still the same.

[code]

[2018-06-21 08:13] kokizzu opened #18664 "How to make flutter (and dart) more popular?"
By officially supporting this https://github.com/flutter2js/flutter2js

People will sold if one code can support all 3 most popular platform (web, android, iOS)

[2018-06-21 08:19] brianegan commented on #18078
Sounds good to me! Yep, I liked "Advanced Lists" better for the exact same reason and because I've seen non-native speakers get confused by the term Sliver. I'll go that route.

[2018-06-21 08:22] brianegan commented on #18304
Thanks @Sfshaza! Traveling to give a talk today, I'll try to patch it up tomorrow when I'm back.

[2018-06-21 08:32] keluokeda opened #18665 "chinese font display not well on nexus 5x"
in Meizu
![f57c0af8b4619c844078e60ea6ae21de](https://user-images.githubusercontent.com/16809185/41706583-bcbd6430-756e-11e8-9764-d54258979001.jpg)

in nexus 5x
<img width="445" alt="2018-06-21 2 22 07" src="https://user-images.githubusercontent.com/16809185/41707346-748dafe2-7570-11e8-8e8e-727d143bcbe2.png">

## flutter doctor
[code]
[code]

[2018-06-21 08:41] nevi-me commented on #18524
Hi @dankop123, please post your widget (or the parts that are relevant). I might be able to help you.

[2018-06-21 08:51] zoechi commented on #18665
@Hixie

[2018-06-21 08:58] EloD10 commented on #18634
I've got the same issue with the `http` package since the yesterday upgrade :
[code]
I've already try `flutter packages upgrade` and `flutter clean`.

[2018-06-21 08:58] namiwang commented on #18625
Especially for Firebase Auth.

[2018-06-21 09:02] Jasonthefirst opened #18666 "forEach returns a Null Error for a DataSnapshot but the datasnapshot has no null values in it"
## Steps to Reproduce

I try to get a DataSnapshot from a firebase database. I get the snapshot. The snapshot looks normal and for 3 similar tables it works without a problem. But for one of the tables I get a problem as soon as it hits forEach. The DataSnapshot looks normal in the debugger and I can view all entries.

    DataSnapshot snapshot =
        await getSnapshots.getDatasnapshotfromSelec

[2018-06-21 09:02] mraleph commented on #18634
@EloD10 This problem is different. Your pub cache seems to be damaged. It contains code that is invalid and does not match what should actually be there. Did you by any chance do some global search and replace? Try running `pub cache repair`. If that does not help delete `C:/Users/Eloha/AppData/Roaming/Pub/Cache`.

[2018-06-21 09:04] dankop123 commented on #18524
[code]

[2018-06-21 09:08] mraleph commented on #18634
@tiagosito I looked at this per @Hixie request. The biggest challenge that you are facing is that `dart_jwt` package that you are using is outdated and depends on outdated and unmaintained package `cipher`.

I went and tried to repair this by migrating `dart_jwt` to `pointycastle` and fixing Dart 2 errors in it. See [this commit](https://bitbucket.org/mraleph/dart_jwt/commits/0472365b0cb36527d17d2

[2018-06-21 09:13] Kartik1607 commented on #18664
This shouldn't be a place for advertising.

[2018-06-21 09:19] zoechi commented on #18666
What's the code of `getSnapshots.getDatasnapshotfromSelection()`?

[2018-06-21 09:43] Jasonthefirst commented on #18666
[code]

Is the code for getDataSnapshot. Only Strings (which correspond to tables items)

[2018-06-21 09:50] EloD10 commented on #18634
@mraleph It works, thanks a lot ! 👍

[2018-06-21 09:52] nevi-me commented on #18524
Please override `initState() {}`, and put your configuration there. Can you also `print()` the types of events, so we can ascertain whether it's `onResume`, `onLaunch` or `onMessage` that's triggered in a loop.

[2018-06-21 09:53] bykeat opened #18668 "Issue from website page Get Started: Install on Windows"
From URL: https://flutter.io/setup-windows/

I am stuck with 'flutter doctor' commands which gave me below error.

`C:\WINDOWS\system32>flutter doctor
Updating flutter tool...
Unhandled exception:
Could not load "file:///D:/flutter/bin/cache/dart-sdk/bin/snapshots/pub.dart.snapshot": FileSystemException: Cannot open file, path = 'D:\flutter\bin\cache\dart-sdk\bin\snapshots\pub.dart.snapshot' (OS E

[2018-06-21 10:07] zoechi commented on #18666
The problem is that the callback passed to `forEach` only supports one parameter not two
[code]
should be
[code]

[2018-06-21 10:43] #18500 closed

[2018-06-21 10:46] Jasonthefirst commented on #18666
I don't think this is the case, as I use this for all tables and normally it iterates through the snapshot with the key as d and the value in e. Only in this specific table it breaks. Another table with a different key but the same structure and type of data works without a flaw.

[2018-06-21 10:55] tamcy opened #18669 "Support custom fallback chain in a font family?"
It would be great if Flutter allow us to specify our own font fallback chain, just like what we can do now in CSS's font-family property.

Android only provides a regular weight of Noto Sans CJK. I want to add a bold typeface to my app, but currently this means that I have to give up using Roboto as the default font for Latin characters (unless I craft my own Roboto+Noto Sans CJK custom font). Wha

[2018-06-21 10:55] hpsoar opened #18670 "why the flutter_view example is slow?"
this example contains a page half native and half flutter, the flutter part needs to wait for seconds before showing up.

Why is that? I suppose flutter should have good performance.

## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2018-06-21 11:03] mit-mit commented on #17804
@Hixie are we all clear to go ahead and do this now?

[2018-06-21 11:08] cbenhagen opened #18671 "SafeArea on Android does not change when hiding UIOverlays"
[code]
### Android
![screenshot_1529576276](https://user-images.githubusercontent.com/814785/41715383-8b274f50-7553-11e8-9503-0f44177701e1.png)

### iOS
![simulator screen shot - iphone 7 - 2018-06-21 at 12 54 19](https://user-images.githubusercontent.com/814785/41715382-8b09a2f2-7553-11e8-915e-7042b55b953d.png)

[2018-06-21 11:43] Norbert515 commented on #10826
With the current implementation the keyboard scrolls right below the TextField.

![](https://user-images.githubusercontent.com/13968468/41531354-56539872-72f3-11e8-992f-fbfde683f1aa.gif)

I made a [PR ](https://github.com/flutter/flutter/pull/18562)to expose the constant (which is currently set to 20.0) to the constructor. This would solve that problem.

I just talked to @slightfoot and he said it

[2018-06-21 11:49] dahabit commented on #18037
I Like this, we need IOS developers to feel that Cupertino  has the same support as Material Design

[2018-06-21 11:58] escamoteur commented on #10826
As this feature is almost always required it should not be a separate Widget IMHO. I don't want to clutter all my Forms with additional widgets making the code less readable.

[2018-06-21 12:00] Norbert515 commented on #10826
I meant the text widgets should use that widget internally by default. But because it's a separate widget it could also be reused somewhere else.

[2018-06-21 12:21] Jasonthefirst commented on #18666
I seem to have found the error and I think this is kind of a error with the flutter firebase implementation?
My keys in the first table started with 0 and went further to 20. Because of this the snapshot for the first item with the Id 0 was nested differently. If I removed the item with 0 as the key the first Item with the key 1  was nested differently. This only happened for the first table from

[2018-06-21 12:30] nesscx opened #18672 "Show DatePicker when keyboard is open throws an exception"
The error message on the bottom of the dialog <b>BOTTOM OVERFLOWED BY 67 PIXELS</b> only appears for a few moments, and when the keyboard closes, it disappears.

<p align="center">
    <img src="https://user-images.githubusercontent.com/16904145/41717064-801be1e8-7526-11e8-8ed6-c66821689fbc.png" height="50%" width="50%"/>
</p>

<h2>Logs</h2>

[code]

<h4>Flutter Doctor</h4>

[code]

[2018-06-21 12:49] zoechi commented on #18672
@Hixie

[2018-06-21 12:50] zoechi commented on #18671
@Hixie

[2018-06-21 12:51] zoechi commented on #18670
Can you please provide more details about the issue?
Debug builds are not representative for performance evaluation. Ensure you are using a profile or release build.

[2018-06-21 12:56] jzillmann commented on #16587
Not yet. I was expecting that this was something so core that the google dev's care about...
For me, the picture thing was also intermediate - while i was waiting for video support - so i'm focussing more on the video behaviour now...

Btw, think there are a couple of more people facing that, see e.g. https://github.com/flutter/flutter/issues/18094

[2018-06-21 12:57] carlosjs23 commented on #18664
why is this a issue?, the flutter and dart popularity are already increasing.

[2018-06-21 12:59] thebf commented on #9327
Looks like this is being worked on these days:
https://github.com/flutter/engine/pull/5324

[2018-06-21 13:26] ghost opened #18673 "Implemeting firestore throws the following error - fatal error: 'cloud_firestore/CloudFirestorePlugin.h' file not found"
This is what I getting after compiling

[code]

NOTE : I have done all possible solutions mentioned in various forums, like pod install, clean up and install, flutter upgrade, dependency etc. still am stuck here.

AppDelegate.Swift file is as follows
[code]

This is the aprt of pubspec.yaml, I have tried cloud_firestore without version, and also with ^0.3.0 results are same.
[code]

[2018-06-21 13:31] arsensaruhanyan2611 opened #18674 "MaterialDesign TextField with Icon"
So, I have a bug with my text field. When I try to use icon: Icon(...), I get this:
[imgur](https://imgur.com/a/pKoAb9j)
First of all, icons isn't inside text fields (which is not great for me). And look at this 'Password' hint on the top of it..
## Steps to Reproduce
I use this code:

[code]

P.S. If this isn't repository where I have to put this issue, then please tell me about it.

[2018-06-21 13:31] DanTup commented on #11103
This is still a problem. In some cases it doesn't even send a `stop` notification.

[code]

However I don't think it's isolated to --machine.. I left this for many minutes:

<img width="534" alt="screen shot 2018-06-21 at 2 31 12 pm" src="https://user-images.githubusercontent.com/1078012/41722245-cd2ef946-755f-11e8-93ed-0f8bfff20890.png">

[2018-06-21 13:32] alevittoria opened #18675 "firebase_messaging notification doesn't show if app is killed"
#Hi! I copy the example from this link:

https://github.com/flutter/plugins/tree/master/packages/firebase_messaging/example

But it works only with app in foreground or in background.
If I send a notification with the app killed from task manager, the notification doesn't show.
This is what I send on body :

[code]
Someone can help me?

[2018-06-21 13:35] dankop123 commented on #18524
@nevi-me when app was in the background and I've opened push the `onResume` was fired once. Next `onLaunch` was firing in the loop, but moving configuration from `build` to `initState` fixed the issue, so I guess it was my bad. Thanks a lot for help :)

[2018-06-21 13:41] DanTup commented on #11103
@devoncarew The errors above come seem to come from `AppDomain` in  `daemon.dart`, where we have this in `handleCommand`:

https://github.com/flutter/flutter/blob/a18f5e84a1045551774a6c12fd40fa4997356931/packages/flutter_tools/lib/src/commands/daemon.dart#L193L195

This is catching errors and sending them back the the client, but not terminating. Does it makes sense to terminate here? Maybe in the

[2018-06-21 13:44] arsensaruhanyan2611 commented on #18674
Ok, I understand, icon is on the outside because of material guidelines. Still, I don't understand this because I have no other choice. Anyway, I think this bug should be fixed.

[2018-06-21 13:51] nevi-me commented on #18524
Great @dankop123.

**For anyone else who ever comes to this issue. It seems that the behaviour's that if you trigger a  `FirebaseMessaging.configure()` when either initialising state (by mistake like I did), or when you're building your widget (by setting `configure` before building your widget, it'll trigger an infinite `onLaunch`**

[2018-06-21 13:54] nevi-me commented on #18675
On which platform does it do that, and I presume that you've made the required changes on the Android manifest and the necessary places on iOS?

If you're developing with Android Studio/IntelliJ, can you please:

1. open the Logcat with the app killed
2. Select your app in the app filter
3. Send yourself a notification
4. Share the log output that you get.

You also haven't included log details, y

[2018-06-21 13:57] mhamri opened #18676 "android studio parameter info and quick documentation is not fully aware of the context"
since the flutter widgets are meant to be written inside each other, it's a must to have scope aware IDE. at moment it is showing information only about the most top level widget

![image](https://user-images.githubusercontent.com/8991783/41723520-ec146cae-759d-11e8-84d6-c60a1019afba.png)

[2018-06-21 14:10] bwilkerson commented on #18662
It might not be the _best_ way, but you should be able to update the version of linter in your local checkout of the SDK (by updating the DEPS file and running `gclient sync` or by directly overwriting the linter package's directory), and then build an SDK as normal. That SDK's analysis server will use the updated version of linter.

[2018-06-21 14:11] jonahwilliams commented on #18674
@arsensaruhanyan2611 to place an icon inside the text field you want to use a `prefixIcon`.  I will look into the password hint though

[2018-06-21 14:27] arsensaruhanyan2611 commented on #18674
Oh.. Thanks! And yeah, this label with a hint looks like this not only in the password field. Just try to use code I attached here.

[2018-06-21 14:45] zoechi commented on #18676
I think this should be moved to dart-lang/sdk.
This functionality is provided by the dart_analyzer.

[2018-06-21 15:00] HansMuller commented on #18674
Sorry about the icon layout bug. It was fixed in https://github.com/flutter/flutter/issues/18493

[2018-06-21 15:04] mhamri commented on #18676
well, I believe this should somehow contribute from flutter team to dart repo, no one in right mind instantiates 100 over class inside each other. in severe case your IOC container takes care of it for you. but since its' a very special usage of the classes that flutter needs, and this strange requirement is known better by flutter developers, it will be easier to address if somehow see it as an i

[2018-06-21 15:15] HansMuller commented on #18669
cc @jason-simmons

[2018-06-21 15:19] tiagosito commented on #18634
@mraleph I downloaded your updated version and it did not work... then I put the fonts in the project , I corrected the references the references and made a flutter clean, I closed Android Studio, opened again I ran flutter clean again, flutter packages get, flutter packages upgrade and then flutter run, then I got this error.

compiler message: file:///Users/tiagosito/flutter/.pub-cache/hosted/pu

[2018-06-21 15:23] HansMuller commented on #18672
When the keyboard appears your app, including the dialog, is being resized to make room for it. This would also happen if you changed the device's orientation from portrait to landscape.

Wrapping the dialog's widget - the one you're building with showDialog's builder parameter -  in a SingleChildScrollView or a ListView or a ClipRect (per the error message) will make it resizable.

[2018-06-21 15:23] mraleph commented on #18634
@tiagosito we are almost there - as you can see all the errors related to bignum are gone. Now we just need to figure out why your project uses `async-1.13.3` - while the most recent version is `async-2.0.7`.

Can you post your `pubspec.yaml`? Do you depend on `async` explicitly?

[2018-06-21 15:28] alevittoria commented on #18675
Ok, now I have try with another device (Samsung Note 8 with Android 8) and all work without problems.
This problem was with an "Huawai P8 Lite"  (Android 5.1) but now we have understand that the problem was linked with power settings for this device and we were able to resolve that.
For completeness this was logcat of Huawai device:

[code]

And this was message from flutter doctor:

[code]

[2018-06-21 15:28] #18675 closed

[2018-06-21 15:32] LeonStaufer commented on #15587
Yes sure.

[code]

I've tried reproducing the issue in a clean new project, but I was not able to.

[2018-06-21 15:37] mravn-google commented on #18608
The new `isInstanceOf` top-level function in package `flutter_test` shadows the same-named class in package `matcher`. So existing test code like this now fails:
[code]

[2018-06-21 15:46] gunhansancar commented on #18567
I think this SliverAppBar component needs more love.

For the title widget it says it is the primary content when expanded. But if I add paddings etc. and when it collapses it still uses the same widgets and it goes out of the screen.

And also for the long titles, the text goes out of screen and not wraps properly.
I'm not sure if anyone is on this widget but it needs more love.

[2018-06-21 15:51] DanTup opened #18678 "Expression evaluation fails in top-level functions with "113 Expression compilation error""
Someone reported this in flutter-dev recently but I wasn't able to repro. Today @escamoteur hit it and send me info into to repro. Seems quite simple; in a top level function calling evaluateInFrame with an argument from the function you get this error.

<img width="456" alt="screen shot 2018-06-21 at 4 48 12 pm" src="https://user-images.githubusercontent.com/1078012/41730194-23180b78-7573-11e8-88

[2018-06-21 15:52] DanTup commented on #18678
It actually doesn't seem to matter what the expression is, providing `a` or `test` also fails with the same error.

[2018-06-21 15:54] HansMuller commented on #18638
I've tried your app, restarted it a few times, and I'm not seeing the error.

Can you provide the output from flutter doctor - so we can see what version of Flutter you're running - and any details about how exactly to trigger the error.

Note also: the animation.addListener() statement in initState() isn't needed.

[2018-06-21 15:54] DanTup commented on #18678
(cc @aam)

[2018-06-21 15:59] swavkulinski commented on #18494
AFAIK, currently, Flutter will only add libflutter.so to one selected platform folder in the release APK. The workaround which worked for me was to force build.gradle to do 32bit only (excluding all 64bit libraries + Intel)

[code]

[2018-06-21 16:01] jcraven-worksight commented on #16491
I was receiving this error on Ubuntu 18.04. I fixed it by running:
[code]

[2018-06-21 16:05] sir-boformer opened #18679 "Image Widget: Displaying Image.asset with an explicit scale does not work"
Example application: https://github.com/sir-boformer/flutter_image_bugs/blob/master/lib/main.dart

---

When I try to load an image variant with an explicit scale, Flutter always gets the default 1.0x variant:

[code]

The automatic variant selection (scale: null) works correctly:
[code]

![screenshot_1529596875](https://user-images.githubusercontent.com/22688477/41730885-3ad53a10-757d-11e8-832a-7

[2018-06-21 16:32] jeanpaulcozzatti opened #18681 "Building Release APK for arm64 & arm32(?)"
Hi I'm building a release apk for the playstore.

 I'm able to build for arm64 (my pixel) using:
`flutter build apk --release -target-platform android-arm64`

and for arm32? using:
`flutter build apk --release`

but then i have two different apks.
is there any easy way to combine so i have one apk for the playstore?

[2018-06-21 16:40] tiagosito commented on #18634
@mraleph Thank you so much for the support and attention you are giving me.

************************** pubspec.yaml ********************************

name: adventist_student
description: Application for Seventh-Day Adventist Educational Network Students.

dependencies:
  flutter:
    sdk: flutter

  connectivity: '^0.3.0'
  shared_preferences: '^0.4.1'
  flutter_webview_plugin: '^0.1.5'
  #dart_j

[2018-06-21 16:50] sir-boformer opened #18682 "BoxFit.none does not take into account image scale, images always pixelated and scaled incorrectly"
My application provides 3 background image variants (1.0x, 2.0x, 3.0x) with a size of 48x48 which are used as repeatable background images, for example:

[code]
`BoxFit.none` is used to keep the original size of the image (48x48 units)

Depending on the device pixel ratio, Flutter chooses the correct image variant (3.0x in the screenshot) so that the images are sharp even on high resolution displa

[2018-06-21 16:53] sir-boformer commented on #18682
It's probably this line that needs to be changed:

https://github.com/flutter/flutter/blob/09276bea258737e11b109e227f70eac94a4e1691/packages/flutter/lib/src/painting/decoration_image.dart#L369

[2018-06-21 17:06] gaurav1999 commented on #18542
Yes @Sfshaza , It should be replaced with something more conventional because it's not always a guarantee that everyone will know what is this  , for me personally I thought they might have used some kind of code here😅 , it's not a big issue people can always do google if they don't understand , as the community likes that will be the best. Can you suggest a word to replace it with maybe I can rai

[2018-06-21 17:20] mraleph commented on #18634
@tiagosito where did you get these dependencies from? Did you copy them from somewhere?

[code]

Try removing this section entirely, none of this looks `flutter` related (and these version ranges are old).

[2018-06-21 17:32] tiagosito commented on #18634
@mraleph Would you like to see how the project is? I think it will be faster so you can find this bug, I can pass you the teamviewer, I'd even like to post in github, but I can not, unfortunately!

[2018-06-21 17:35] abbadabbatech commented on #13124
I have modified the current one to handle video for iOS and Java, picking and capture.

[2018-06-21 17:42] arsensaruhanyan2611 opened #18684 "Firebase Auth gives error after sign in with Google"
Well, I think that's not my last issue here, but I have one more :sweat_smile:
The problem is that I can not normally use Firebase Auth. When I touch the button in my ui with event to choose Google account, I get error.
**Before All, I have two different methods to sign in with Google. One I got from here [firebase_auth at dart site](https://pub.dartlang.org/packages/firebase_auth) and another fro

[2018-06-21 17:50] tiagosito commented on #18634
@mraleph I already removed the session you told me, but the error still persists

[2018-06-21 17:56] cbracken commented on #18652
@MiguelCatalan Thanks for reporting!

It sounds like there are two things going on here:
1. You've hit a [32-bit iOS specific bug](https://github.com/flutter/flutter/issues/16124) that was fixed in the latest beta-channel release (released a couple days ago).
2. There might be something mis-configured with the `ARCHS` setting for your Xcode project.

To fix the first problem, run `flutter upgrade`

[2018-06-21 18:13] zengyun261 opened #18685 "File system watching is not supported on Android"

[2018-06-21 18:13] #18595 closed

[2018-06-21 18:14] zachjanicki opened #18686 "Hot reload doesn't recognize change in length in DefaultTabController"
When updating the DefaultTabController from the [tutorial](https://flutter.io/cookbook/design/tabs/) to a length of 4 instead of 3 and reloading, Flutter doesn't recognize that the length value has changed.
This is the code:

[code]

It gives the following error:

[code]

I went into `flutter/src/material/tab_controller.dart` and printed the values of `length` and `value` which were both 3 instead

[2018-06-21 18:18] AppleEducate commented on #13124
@abbadabbatech I completed a pull request and merged to image_picker she support of picking and capturing videos. I did it for iOS and Android.

[2018-06-21 18:21] cconnerj opened #18687 "Using mysql with flutter"
Hey I am very new to all of this and these questions may sound stupid. I don't need to know step by step instructions, I just want to know if it is possible.

To preface this, I am an intern practicing with app development and could maybe use the app i'm creating.

- I was told that the company i work for has an existing database in mysql in conjunction with PHP (backed by a firewall) that my app

[2018-06-21 18:22] abbadabbatech commented on #13124
@AppleEducate I guess its not released yet, may look at using it once its released instead of the one I did.  Thanks

[2018-06-21 18:23] yash365 commented on #17900
I am also getting similar kind of error while testing the app using flutter test

══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
The following assertion was thrown building ProfileScreen(dirty, state: _ProfileScreenState#617b9):
'package:flutter/src/widgets/text.dart': Failed assertion: line 213 pos 15: 'data != null': is not
true.

Either the

[2018-06-21 18:29] AppleEducate commented on #13124
@abbadabbatech I also did this plugin as well.
https://github.com/AppleEducate/media_picker

[2018-06-21 18:36] tiagosito commented on #18634
@mraleph Look how you are now ...
I removed the dependencies from session ```dev_dependencies:```.
and added in the session ```dependencies:``` the package ```http:" ^ 0.11.3 + 16 "```

[code]

**result**

[code]
**the project runs without errors ... but does not leave the splash screen**
**Any ideia?**

[2018-06-21 18:36] tfriem opened #18688 "Flutter detects physical device as emulator"
I have connected a Samsung S9 (Exynos 9810) to my PC and Flutter adds "emulator" to it's name.

[code]

Looks like the build characteristic is fooling Flutter to me.

[2018-06-21 18:39] eddywm commented on #18687
Flutter as a client library **doesn't really have any relation with the type of database** you are using in your back-end.
You just have to expose a web API where you can do http requests from the Flutter side.

What you need is  simple :
1. Ask your co-workers to give you the API documentation of the backend of your company's system.
2. Get a Flutter HTTP library.
3. Call that API from the client

[2018-06-21 18:42] #18687 closed

[2018-06-21 19:01] chiuki opened #18689 "Compile error for cloud_firestore on ios"
## Steps to Reproduce

1. `flutter create myapp; cd my app`
2. Add `cloud_firestore: ^0.7.3` to `pubspec.yaml`

## Logs

### flutter run

[code]

### flutter analyze
[code]

### flutter doctor

[code]

[2018-06-21 19:03] chinmaygarde commented on #4838
The [`pressure`](https://docs.flutter.io/flutter/dart-ui/PointerData/pressure.html) property on [`PointerData`](https://docs.flutter.io/flutter/dart-ui/PointerData-class.html) is wired up in the engine on iOS/Android. I don't think the framework makes use of this in higher layers of the stack.

[2018-06-21 19:29] Hixie commented on #10826
I would encourage everyone to file separate bugs for each change that they would like made and each issue that they still see. Commenting on this specific issue is unlikely to lead to changes since it was filed on a specific issue which is now resolved.

[2018-06-21 19:53] matthew-carroll commented on #11344
@escamoteur I'll be working on this issue.  I'm currently assembling information about the support behaviors on Android and iOS regarding input focus navigation and IME options.  The keyboard actions are closely tied to those input details and I want to make sure we get the whole picture right for input.

If you'd like to chat about any specific, related issue, please let me know.  Otherwise, I'll

[2018-06-21 20:00] #15466 closed

[2018-06-21 20:03] cbracken commented on #18661
@LiveRock a few questions. Would you mind providing a bit more detail on how to reproduce the issue and the conditions under which it occurs?

1. Is this behaviour reproducible on both iOS and Android, or just one?
2. What does your image loading code look like, if you don't mind providing those lines?
3. As I understand it, you start the app and the images load fine. After that, are you moving th

[2018-06-21 20:13] cbracken commented on #18661
/cc @jason-simmons @szakarias who are most familiar with asset loading.

[2018-06-21 20:15] lukepighetti commented on #9345
Vote to have a way to pass params to a new view via navigator

[2018-06-21 20:20] mraleph commented on #18634
@tiagosito you have an import of dart:mirrors in your code - which is not allowed. It can be either unscripted - which looks like it uses mirrors or pointycastle, if you import it incorrectly.

[2018-06-21 20:22] cbracken commented on #14513
/cc @jason-simmons who was looking at this code recently.

[2018-06-21 20:24] zoechi commented on #18685
Can you please elaborate what problem you are trying to solve.
Did you check https://pub.dartlang.org/packages/watcher (with https://pub.dartlang.org/packages/path_provider)

[2018-06-21 20:25] mehmetf opened #18690 "Use BiometricCompat library for local_auth plugin"
We currently use the fingerprint API on Android for local_auth. We should instead switch to the biometric API to support more vendors and more auth mechanisms.

https://android-developers.googleblog.com/2018/06/better-biometrics-in-android-p.html

[2018-06-21 20:33] cbracken commented on #4956
@lukepighetti you shouldn't need to specify a font to get San Francisco on iOS 9 or later. Which font are you seeing in its place?

[2018-06-21 20:51] cbracken commented on #18475
The error message appears to be coming from Gradle, which is part of Android Studio. If you do `flutter --verbose run`, do you get more detailed output?

gradle/gradle#3318 looks potentially relevant.

[2018-06-21 20:53] escamoteur commented on #11344
Hi @matthew-carroll thanks for your reply would love to stay updated.

[2018-06-21 20:55] jason-simmons commented on #14513
Is there a possibility that ensureInitializationComplete() is being called before startInitialization()?

[2018-06-21 20:57] nevi-me commented on #18684
Hi @arsensaruhanyan2611

If yoiu're using Android, please check the following:

1. Have you added the `SHA1` key in addition to the `SHA256` key to your Firebase config? I had to add both (or SHA1 worked).
2. Have you updated `google-services.json` after the previous step?

The `PlatformException(sign_in_failed, Status{statusCode=DEVELOPER_ERROR, resolution=null}, null)` normally arises due to you

[2018-06-21 21:08] goderbauer opened #18693 "Binaries in IPAs should be stripped"
It looks like IPAs for Flutter apps downloaded from the iOS AppStore include unstripped binaries. Removing the debug symbols from those binaries could significantly reduce the IPA sizes of Flutter apps.

Here is the investigation that led me to believe that binaries in IPAs do not get stripped before they reach the phone of the user:

With an old version of iTunes I was able to download the IPA of

[2018-06-21 21:09] goderbauer commented on #18693
The binaries in question are copied into the IPA as part of the "Embed Frameworks" Build Phase. Xcode actually has a setting to "Strip Debug Symbols During Copy". It defaults to No, but when I set it to Yes, the binary sizes in the resulting IPA are reduced (the first one was build with default settings, the second one with that option set to Yes):

[code]

[2018-06-21 21:12] goderbauer commented on #18693
Just for a test I uploaded both IPAs from the previous comment to Apple's App Store connect and these are the download sizes that Apple reports for them (the only difference between them is the value for option "Strip Debug Symbols During Copy"):

Sizes reported by Apple's App Store Connect with "Strip Debug Symbols During Copy" left at No:
![image](https://user-images.githubusercontent.com/122776

[2018-06-21 21:15] nesscx commented on #18672
* When I use the `Dialog` inside a `SingleChildScrollView` (like the example code below) it solves the problem but creates 2 issues more.
1- The dialog can't be dismissed,
2- The dialog is not being centered in the vertical axis.
[code]
* When I use the `SingleChildScrollView` inside a `Dialog` (like the example code below) it solves the problem and the issues mentioned above don't appear.

[code]

[2018-06-21 21:17] lukasgit commented on #18658
@tvolkert

### UPDATE:

I resolved the CocoaPods issue by uninstalling and reinstalling cocoapods:

[code]

Unfortunately, flutter doctor still fails to recognize libimobiledevice and ideviceinstaller even though they both exist after performing an uninstall and re-install:

**NOTE: homebrew is installed in my home application directory (~/Applications/homebrew) and NOT /usr/local (this is intenti

[2018-06-21 21:28] cbracken commented on #18693
I can take a look at this. We probably want to also make sure we generate and ship dSYMs as part of the build too (related #12012).

[2018-06-21 21:37] mortenboye commented on #17663
@RedTech64 can you elaborate on the changes you did, to fix this? I'm experiencing a similar error.

[2018-06-21 21:37] cbracken commented on #17735
Apologies for not spotting this sooner.

@The-Redhat if you're still seeing this, I'd be curious to see the output from the following command, run from inside your app's directory:
[code]

If you follow the [instructions](https://github.com/flutter/engine/wiki/iOS-Builds-Supporting-ARMv7) for updating existing iOS projects to generate universal binaries on our wiki page, it should get your app bui

[2018-06-21 22:24] Hixie commented on #18608
Yeah, that's intentional.

[2018-06-21 22:28] Hixie commented on #18671
cc @cbracken @jason-simmons

[2018-06-21 22:44] Hixie commented on #17804
Yes, @cbracken is on the case.

[2018-06-21 22:49] Hixie commented on #730
We will likely not have this feature in our 1.0 build. We are actively working on it, and will make it available as soon as we are able to do so in a manner that meets our standards of quality.

If you need this in the meantime, you can do it from Java/Kotlin or ObjectiveC/Swift by creating an OEM Web view and layering it on top of Flutter's view. This unfortunately won't properly composite with t

[2018-06-21 22:50] Hixie commented on #18426
Yes, if you want to do a custom layout where you define your size based on your children then you just create a render object.

[2018-06-21 22:56] Hixie commented on #17993
I recommend writing a cheerful paragraph and using it as a GitHub quick reply. :-)

If you write one and want to put it on the wiki's Triage page, obviously feel free to do so.

But as @zoechi says, please first carefully consider whether the question is being asked because our docs are insufficient, or whether the docs are actually fine and the questioner did not read them.

[2018-06-21 22:56] amirh commented on #16288
Fixed by #18372

[2018-06-21 22:56] #16288 closed

[2018-06-21 22:57] goderbauer commented on #18693
Talked offline: We've decided to strip the release-build of Flutter.framework on our bots and produce a prober dSYM file there. Additionally, we will strip App.framework at the place where it is generated in flutter tools.

[2018-06-21 22:58] cbracken commented on #17804
This was landed and reverted a couple times. The only remaining blocker is Fuchsia-specific, getting the frontend compiler available to their test harness. Once I've got that landed, we'll be good to go!

[2018-06-21 23:06] liyuqian opened #18699 "Windows build bot is flaky"
The following log is copied from https://build.chromium.org/p/client.flutter/builders/Windows/builds/3583
[code]

[2018-06-21 23:08] Sfshaza commented on #18302
Hey @Norbert515! I missed this before. Sure, I am OK with adding a link to it from the tutorial.

[2018-06-21 23:28] acidjazz opened #18700 "[image_picker] Crash on Galaxy S5 and Note 4 when attempting to use the camera"
Seems to be pretty consistent, the gallery seems to work just fine.

[code]
`Samsung Galaxy S5 (kltevzw), 2048MB RAM, Android 6.0`

[code]

[2018-06-21 23:52] Sfshaza opened #18702 "Problems with API docs, specifically for native pages"
**tl;dr**
- Search doesn't work for native docs.
- Native docs are very hard to find. (Right now, the `PLATFORM_INTEGRATI...` entries are several pages down (buried) in the side nav.)
- The native content is not great.
- Native docs look very different than our Dart docs.

---

Ben K gave me a demonstration of how hard (impossible) it is to find docs for the native packages on [docs.flutter.io](ht

[2018-06-22 01:19] manujbahl opened #18704 "Programatically rebuilding the top route in a navigator."
How can I programatically call rebuild on a MaterialPage route at the top of the navigator stack.
My Home page has a custom navigator. I am using a redux mechanism which ends up issuing a rebuild on my HomePage. When that happens, I want to issue a rebuild to the top route of the navigator but there does not seem to be a mechanism available to do that. Any Ideas ?

[2018-06-22 02:00] rainedAllNight opened #18705 "export: not valid in this context: /Users/rainedAllNight/futter/bin:"
when i update envionment variable, it show me these message
![39cacd36-487a-4ff4-a23b-ea0fb8e1f83c](https://user-images.githubusercontent.com/16357931/41754022-2379d19c-7603-11e8-890f-5000b5db83ed.png)

[2018-06-22 02:12] AibiTi commented on #11609
DSX +1,

[2018-06-22 02:34] LiveRock commented on #18661
1. Mostly I test on ios both Sim and Device. I just tested with an Android device, seems fine.
2.
[code]

3. Start app, loads fine. After signing in using Firebase Auth, move to Home screen or any screen, wait for a while with or without any activity, boom. The app runs a bit. Also, I notice it happens when I am using vcode for debugging. When I detach my device and run without debugging, it didn'

[2018-06-22 02:41] CaiJingLong commented on #18059
I check the log, seem in ImagePickerDelegate's line 420, the `pendingCameraMediaUri` is null.
So the line 149 is NPE.
I plan to add some logs to help track why the URI is empty.

[2018-06-22 02:44] mzejcom commented on #14933
I always have  this message :

'flutter' is not recognised as an internal or external command
operable program or patch file

:(   this is inside the AppDir
Any suggestion please

[2018-06-22 03:00] aqwert commented on #18280
related/dup: https://github.com/flutter/flutter/issues/14886

[2018-06-22 03:05] mdanics commented on #730
So any idea when we can expect it?

[2018-06-22 03:16] bykeat commented on #18668
I got it solved, flutter folder I moved from D:\flutter to D:\src\flutter and it starts working. It seems placing at the root drive will have this issue.

[2018-06-22 03:16] #18668 closed

[2018-06-22 03:28] zoechi commented on #18426
@Hixie I think it would be a good idea to point that out in the docs where CustomMultiChildLayout says that it can't.

[2018-06-22 03:53] YueWeiwei commented on #17467
Hi, @jason-simmons.
`₱` character problem occurs on android `7.0`, it displays correctly on android`5.1.1`.
In a native app installed on android `7.0`, it displays correctly as well.

Hope this will provide some clues.

[2018-06-22 03:55] #18574 closed

[2018-06-22 03:57] Hixie commented on #18426
That's very reasonable!

[2018-06-22 04:01] Hixie commented on #730
It's very hard to predict.

One question that we're wrestling with is what Android versions to support. The more versions we support, the longer it will likely take to get a good solution. Do you have opinions on what versions of Android a Web view plugin needs to support to be viable?

[2018-06-22 04:06] abinvp commented on #14432
I too have the same issue. Status bar is cleared but the space remains there.

[2018-06-22 04:11] Hixie commented on #18702
We should probably split this into separate bugs.

cc @cbracken @jason-simmons @chinmaygarde for content creation
cc @gspencergoog @jcollins-g for dartdoc integration

What we really need to do here is hire one or two people to implement javadoc and objcdoc tooling that will integrate properly with dartdoc. cc @eseidel for that problem.

[2018-06-22 04:13] Hixie commented on #12311
All I know is I can't see you at your desk. :-P

[2018-06-22 04:19] osama-lionheart commented on #730
For our use case, Android 6+ should be good enough.

[2018-06-22 04:34] jmgeffroy commented on #730
5+ in our case too. We're quickly slowing down dev speed supporting 4.x
Eager to play with the first builds!

Le ven. 22 juin 2018 à 06:27, 血心 <notifications@github.com> a écrit :

[2018-06-22 04:36] Hixie commented on #3633
See also the API docs for Row and Column which explain a lot of this.

[2018-06-22 04:37] Hixie commented on #18571
FWIW, the message is displayed (more readably) in the console, too.
If the message wasn't clear, please let me know.

[2018-06-22 04:40] stanonyime commented on #730
Android 5+ for us

[2018-06-22 04:43] Hixie commented on #14675
Maybe that version of Android sets a scale factor for you?

[2018-06-22 04:44] iostriz commented on #730
Android 5.x has ~20% market share with strong declining tendency.
So, if you take 6 mo to develop it for 5.0 (less than 5%), there will be no phones left to test it.
:-)
If it is easier, why don't you develop it for the flagship models (7+), release it (so that we can play with it) and you can expand support for older Androids as we go?

[2018-06-22 04:51] jeanpaulcozzatti commented on #16557
what was you solution?

[2018-06-22 04:55] vijaya06 opened #18706 "How to find route one distance to another in flutter?"
i cant understand where i put textfield in google map and how to calculate this?

[2018-06-22 04:56] Hixie commented on #13080
We intentionally unload tabs that aren't visible to save memory. But you can force them to stay around by using the KeepAlive machinery. See `AutomaticKeepAliveClientMixin` for the simplest way to do that. That should work with the `PageView` used with tabs; let me know if it doesn't.

[2018-06-22 04:57] Hixie commented on #18401
Weird.

[2018-06-22 04:58] Hixie commented on #18401
Ah, it's a known bug: https://github.com/probot/no-response/issues/16
I'm going to close this one and we can track it over there.

[2018-06-22 04:58] #18401 closed

[2018-06-22 05:05] Hixie commented on #16714
Flutter is explicitly designed to allow for both kinds of approaches. You should totally feel empowered to create a package that provides an alternative set of widgets that work as is described above. The building blocks provided by the core framework make that possible. (It would not be possible to do the reverse, so it doesn't make sense for the core framework to have the large widgets, because

[2018-06-22 05:06] Hixie commented on #2622
@yassinya That is definitely not normal; please file a bug and provide as much information as you can (e.g. what your network speed is, what your device speed is, etc).

[2018-06-22 05:08] Hixie commented on #730
@iostriz Unfortunately, depending what version we're targetting we'd have to take entirely different approaches, because of the different APIs introduced at each version. So if it takes N months to do version X, and N+5 months to do version X-1, then it would take 2N+5 months to do version X then version X-1, but only N+5 months to do version X-1 and X at the same time. If that makes sense.

[2018-06-22 05:48] zoechi commented on #18688
/cc @cbracken

[2018-06-22 05:51] zoechi commented on #13124
I'd prefer a list of media files with previews and hints if they are video, audio, or pictures (like in a file manager)
without the need to chose the media type in advance.

[2018-06-22 05:53] sahil311289 commented on #7247
Did anyone try this:
FocusScope.of(context).requestFocus(new FocusNode());
I read it from another forum.

[2018-06-22 05:54] zoechi commented on #18686
/cc @cbracken

[2018-06-22 05:54] zoechi commented on #18686
@zachjanicki
Please add the output of `flutter doctor`

[2018-06-22 06:05] ZzqiZQute opened #18707 "One of the web page link maybe error in https://codelabs.flutter-io.cn/"
![error](https://user-images.githubusercontent.com/39512431/41760172-ac9f607e-7624-11e8-9369-4c4ba47898d0.png)

The link surrounded by the red lines should be linked to
https://codelabs.flutter-io.cn/codelabs/first-flutter-app-pt1-cn/index.html#0
but now it is linked to it's sister
https://codelabs.flutter-io.cn/codelabs/first-flutter-app-pt2-cn/index.html#0

[2018-06-22 06:17] MaskyS commented on #730
5 and above would be great, as it covers the majority of the market. Inline webview is a crucial requirement for many apps, please reconsider this feature's priority.

[2018-06-22 06:54] zoechi commented on #18707
@Hixie

[2018-06-22 07:03] zoechi commented on #18706
@Hixie

[2018-06-22 07:11] abinvp commented on #11533
I am also getting this message even for a simple "Hello World" application. Seeing in both emulator and galaxy note 8.

[2018-06-22 07:17] zoechi commented on #14933
@mzejcom what OS?
What directory did you install Flutter to?
Did you add the `bin/` sub-directory of the Flutter install directory to PATH?

[2018-06-22 07:23] Hixie commented on #16031
cc @xster

[2018-06-22 07:49] mzej commented on #14933
@zoechi Thanks >>> it h b solved
Flutter\bin already has been added
But, the problem was solved after adding Windows Power shell PATH.
Regards

[2018-06-22 07:57] ebeem opened #18708 "drawer's elements are not painted after an element with a 'Chip' trailing is painted"
## Steps to Reproduce

gist: https://gist.github.com/ebeem/0c2bb55565f93324cf48f53a7bcaeafe

note: some elements other than Chip might cause the same behavior
Texts do not cause this behavior and work normally

caused by the PR #18616
@liyuqian

## Logs

[code]

[code]

[code]

[2018-06-22 07:57] ebeem commented on #18708
![1](https://user-images.githubusercontent.com/25146039/41764877-1bdb6466-760b-11e8-9cbc-db26e75bbc34.jpg)
![2](https://user-images.githubusercontent.com/25146039/41764878-1c168870-760b-11e8-9c5e-208aec8ff6d5.jpg)

[2018-06-22 07:59] zoechi commented on #18700
@Hixie

[2018-06-22 08:02] zoechi commented on #18708
cc @Hixie

[2018-06-22 08:11] ebeem commented on #18708
I am not able to reproduce the shader on text, I am running the same app on the same environment, but it looks fine now.

[2018-06-22 08:15] zoechi commented on #18708
@ebeem should the issue be closed then?

[2018-06-22 08:19] g-viet commented on #18689
Same here !

[2018-06-22 08:22] ebeem commented on #18708
@zoechi
the drawer issue still exists
the shader is probably there as well, I just don't know how to reproduce it

it's probably caused by the file 'paragraph.dart'
it seems like the author of that file knows the issue and commented it, but his workaround was removed in the commit #18616

this is the code

[code]

[2018-06-22 08:32] zoechi commented on #18689
Can you try `pod install` in the `ios` directory?

[2018-06-22 08:34] zoechi commented on #18681
@Hixie

[2018-06-22 08:34] zoechi commented on #18679
Please add the output of `flutter doctor`

[2018-06-22 08:35] zoechi commented on #18494
cc @Hixie

[2018-06-22 08:37] rbarisic commented on #18664
This ticket should be closed. There are currently 3,331 open Issues, we should get that number down.

[2018-06-22 08:38] g-viet commented on #18689
It works fine ! For me.

[2018-06-22 08:39] escamoteur opened #18709 "Hot reload doesn't work on Dialogs and BottomSheets"
While designing a dialog yesterday I had to find out that how reload doesn't work on an open Dialog or Bottomsheet.

You can see this in this screencast https://www.screencast.com/t/AmcXBEs7xaj

The App is just the automatically created one by `flutter new`

[code]
PS C:\Entwicklung\FlutterApps\Tests\dialog_hot_reload_repro> flutter doctor -v
[√] Flutter (Channel master, v0.5.6-pre.29, on Microsof

[2018-06-22 08:43] sir-boformer commented on #18679
@zoechi I also just tested this with a real Android device with a pixel ratio of 2.0, same problem occurs

[code]

[2018-06-22 08:44] zoechi commented on #18664
This was asked a lot, but it's not too easy.
It was also explored in https://github.com/yjbanov/butterfly.
AFAIK there are currently no such plans in that direction.

[2018-06-22 08:44] #18664 closed

[2018-06-22 08:46] zoechi commented on #18679
@Hixie

[2018-06-22 08:47] 13242445359 commented on #15646
I found the error because the encoding format of the packaged SDK was not correct. I changed the bin directory under jre and went back to the packaging process

[2018-06-22 08:51] tangdi commented on #11856
Same problem when running on Mac. Running .\android\gradlew didn't solve the issue.

[2018-06-22 09:00] zoechi commented on #15241
https://stackoverflow.com/questions/48750361/flutter-detect-keyboard-open-close
Not perfect. See also the discussion below the answer.

???

covered by #17525

covered by #11344

I'm going to close this issue because it covers too many things.
Please open more focused issues for things you think are not addressed yet.

[2018-06-22 09:00] #15241 closed

[2018-06-22 09:10] mravn-google commented on #11856
Sometimes it helps to delete the `android/.gradle` folder and retry.

[2018-06-22 09:13] escamoteur commented on #18558
@zoechi done

[2018-06-22 09:19] sir-boformer opened #18710 "Drawing a paragraph with a gradient fill style on canvas results in incorrect gradient positioning"
A [change that was introduced a few days ago]() in libtxt changed the way a paragraph with a gradient is drawn on a canvas, e.g.:

[code]

Usually, when you draw a path, shape or text with a gradient paint (without using ``Canvas.translate``), the gradient is positioned absolutely in the canvas. That behavior is consistent with other canvas implementations (Android, HTML5).

A few days ago, @GaryQ

[2018-06-22 09:23] escamoteur commented on #18709
Thanks to https://github.com/flutter/flutter/issues/13831#issuecomment-354894994

I was able to find a workaround. Creating you own widget ensures that its build method will be called on an hot reload:

[code]

Still the question remain for me if the 'builder' of `showDialog' shouldn't be run on an hot reload because it will confuse a lot of people

[2018-06-22 09:33] nitneuq33 commented on #73
Hello, I succeded to get around without passing into initstate to upload my
data when I launch the new page. So currently it's fonctionnal but the
fixed layer when I close the page isn't very sexy. Any idea to make it more
visual, like a fade out animation of the layermap when you close the page ?
or transition animation  who catch the transition of the page ? thank you

[2018-06-22 09:34] zoechi commented on #18709
Great!
I'm closing this issue then for the reason given in https://github.com/flutter/flutter/issues/13831#issuecomment-354894994

[2018-06-22 09:35] hoanglm4 commented on #13756
I noticed that Flutter published preview version. Does this mean that the first release will not include YouTube plugin?

[2018-06-22 09:39] escamoteur commented on #18709
@zoechi Please reopen it so that the team has chance to reevaluate the question if this could be improved.

[2018-06-22 09:42] escamoteur opened #18711 "Wrapping a Column with an expanded in a SingleChildScrollView throws an exception"
Hi,

lets take this simple App, it should have a Textfield and a Text always at the bottom of the screen:

![image](https://user-images.githubusercontent.com/16635729/41768306-1e86795c-760c-11e8-8d0b-be0e0abdbe9a.png)

[code]
Which is a pretty common use case. Unfortunately the Textfield at the bottom won't get scrolled into view when getting focus so I wrap the Scaffold in a `SingleChildScrollVie

[2018-06-22 09:42] zoechi commented on #18709
@escamoteur OK I leave it to the Flutter team,
but #13831 was just closed this year, so I wouldn't expect too much.

[2018-06-22 09:46] amrnt commented on #16181
@xster Regarding this, I can see that the current BottomNavigationBar UX implementation doesn't really implement the standards: https://material.io/design/components/bottom-navigation.html#behavior

I can see that the implementation of CupertinoTab implements some of the behaviours better. For example, each "Tab" has its own routing state.

I opened an issue sometime ago to mimic one of the behavi

[2018-06-22 09:51] TeacherXue opened #18712 "Failed to build iOS app Error output from Xcode build:"
when I run on my iphoneX , show these error ,how to fix it ?

## Logs

[code]

[code]

[2018-06-22 09:53] arsensaruhanyan2611 commented on #18684
That works, thanks! But then please, add this into tutorial. I read tutorial for cloud service and there I had to skip all other steps after adding google-services.json. Mark as fixed.

[2018-06-22 09:53] #18684 closed

[2018-06-22 10:03] charafau commented on #13756
@hoanglm4 why do you want youtube plugin in standard flutter package? plugins are independent from main framework and you can write youtube plugin yourself.

[2018-06-22 10:17] andreidiaconu opened #18713 "Row / Column items fail to render after RaisedButton"
## Steps to Reproduce

Simple version: If I include a `RaisedButton` in a `Row`, all elements following that `RaisedButton` will no longer render.

![screenshot_1529662635](https://user-images.githubusercontent.com/1402046/41771857-2f7c2438-761f-11e8-95c8-3447163eda53.png)

More elaborate version:

- I have put together a [demo project](https://github.com/andreidiaconu/flutter-toimage-bugs/blob/ma

[2018-06-22 10:32] bartektartanus commented on #16557
Updated flutter to next version and it helped.

[2018-06-22 10:44] ebeem commented on #18708
I have changed the title and provided a gist file
I could not produce the blending text issue, hopefully, it will not come back

the other issue regarding a drawer element not being painted has been clarified in details and a gist was provided to reproduce

[2018-06-22 10:44] muer2000 commented on #18658
+1

[2018-06-22 10:47] ebeem commented on #18713
I don't think this is caused by #18539
can you try checking out to the commit just before #18616?
I have a similar issue ... and it looks like #18616 is causing this behavior

please confirm

[2018-06-22 11:00] zoechi commented on #18658
@muer2000 using
![image](https://user-images.githubusercontent.com/405837/41773350-15c0ffd0-761c-11e8-9d8c-b438db6ff385.png) in the first comment is a way better way to increase priority than `+1` comments.

[2018-06-22 11:05] andreidiaconu commented on #18713
@ebeem I am afk right now but will try in about an hour and let you know. Did rolling back before #18616 solve the issue for you?

[2018-06-22 11:08] ebeem commented on #18713
yup, I thought it was caused by #18539 at first too, but after investigations, it turned out it's #18616

[2018-06-22 11:14] Norbert515 opened #18714 "Making scrolling, when the keyboard pop up, more dynamic."
With the current implementation the keyboard scrolls right below the TextField.

![](https://user-images.githubusercontent.com/13968468/41531354-56539872-72f3-11e8-992f-fbfde683f1aa.gif)

I made a [PR ](https://github.com/flutter/flutter/pull/18562)to expose the constant (which is currently set to 20.0) to the constructor. This would solve that problem.

I talked to @slightfoot and he said it woul

[2018-06-22 11:19] mikeashelby commented on #15916
I'm having this exact problem too! On that line I get an app crash, but no error messages at all. SharedPreferences: ^0.4.1

Was working completely fine. Started trying to add firebase auth for my firestore database. Not sure if the two are related, but when I did it, this bug started. It's taken me the last 24 hours to track it down to this line!

Just for you info Flutter doctor:

`/Users/mikeas

[2018-06-22 11:54] nevi-me commented on #18706
Hi @vijaya06, can you provide more details of what you're trying to do? I assume you're using [lat,lng]s?

If so, there's a library called [haversine :: https://pub.dartlang.org/packages/haversine](https://pub.dartlang.org/packages/haversine), which might do what you're looking for.

[2018-06-22 12:03] slightfoot commented on #18709
This doesn't exactly link to your problem. But I think a lot of developers don't realise that the `State` class has a method called `reassemble` which resolves this kind of issue.

[2018-06-22 12:10] mraleph opened #18715 "build_bench produces exception during and after run"
There are two kinds:

[code]

and

[code]

I am not sure if this is expected or is this Dart bug we need to look into? Any guidance @Hixie?

[2018-06-22 12:35] IanDarwin commented on #730
On Thu, Jun 21, 2018 at 10:09:44PM -0700, Ian Hickson wrote:

Then I'd vote for 6+

[2018-06-22 13:17] sir-boformer commented on #18679
I'm not sure if the tag you set is correct. This is a problem of the core framework.

[2018-06-22 13:20] Simpler1 opened #18717 "flutter doctor : [!] VS Code, 32-bit edition (version 1.24.1)"
## Steps to Reproduce

1. Windows 10, VS Code with the flutter extension v2.14.0
2. Install flutter from [flutter_windows_v0.5.1-beta.zip](https://storage.googleapis.com/flutter_infra/releases/beta/windows/flutter_windows_v0.5.1-beta.zip)
3. Run `flutter doctor -v`

It complains about VS Code:
[code]

The Flutter extension is installed in vscode:
![image](https://user-images.githubusercontent.com/

[2018-06-22 13:54] ashtonthomas commented on #13762
Had the same issue as @AppleEducate:
- I changed: `android/app/src/main/AndroidManifest.xml` to a new `package="com.mychange.app"`
- as well as: `android/app/build.grade` (not `android/build.gradle`) to have `applicationId "com.mychange.app"`

And I fixed by changing the folder name and package name:
- `android/app/src/main/java/com/mychange/app/MainActivity.java`
- 'MainActivity.java -> `package