[2020-10-29 22:11] godofredoc commented on #69131
@jonahwilliams can you please add a link to the failing task?

[2020-10-29 22:12] yjbanov commented on #69044
What build mode are you running the test in? Debug? Profile? Release? Our hypothesis is that this is due to minification. The class name "MaterialApp" is renamed by the compiler. A workaround is to use another matcher, e.g. a key matcher.

[2020-10-29 22:15] christopherfujino opened #69341 ""Mac stable build_gallery" failed with ruby dep when previous build on branch succeeded"
This test failed because it could not find bundler on 10/29 with the flutter/flutter_1_22_0 recipe, while the previous build with the same recipe which ran on 10/21 passed https://ci.chromium.org/p/flutter/builders/prod/Mac%20beta%20build_gallery/2.

[code]

https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8865070562829642336/+/steps/prepare_environment/0/steps/Build_g

[2020-10-29 22:18] yjbanov commented on #68384
Deduplicating with https://github.com/flutter/flutter/issues/64595

[2020-10-29 22:19] #68384 closed

[2020-10-29 22:20] godofredoc commented on #64651
This is a test flake rather than infra flake, can somebody from the engine take a look?

[2020-10-29 22:20] YeungKC commented on #63638
I can't reproduce this behavior on master, I don't know if I'm doing it the wrong way or if it's been fixed, could you please re-test?

cc @monkeyswarm

[✓] Flutter (Channel Fix_Mouse_Scroll_miscontrol_of_ScrollPosition, 1.22.0-10.0.pre.122, on Mac OS X 10.15.7 19H2 darwin-x64, locale zh-Hans)
    • Flutter version 1.22.0-10.0.pre.122 at /Users/YeungKC/FlutterProjects/flutter
    • Framework revis

[2020-10-29 22:23] godofredoc commented on #62517
Can we just remove the retries? or limiting to 2 or 3?

[2020-10-29 22:25] chinmaygarde opened #69342 "Skia autoroller attempts rolls for spurious refs."
The following rolls were attempts with 0 revisions at refs that were not Git SHA's. I believe the auto-roller is misbehaving and also consuming presubmit resources. The rolls also don't seem to get closed automatically.

* https://github.com/flutter/engine/pull/22192
* https://github.com/flutter/engine/pull/22191
* https://github.com/flutter/engine/pull/22190
* https://github.com/flutter/engine/pu

[2020-10-29 22:26] chinmaygarde commented on #69342
cc @rmistry, @jason-simmons, @zanderso

[2020-10-29 22:28] #69282 closed

[2020-10-29 22:32] godofredoc commented on #68934
Should we start by defining owners of the repo?

[2020-10-29 22:40] dabinder commented on #69044
I was running in debug. I also mentioned I tried matching the parent by key, which also didn't work.

[2020-10-29 22:47] keyonghan commented on #69341
The failed build didn't seem to run on top of https://github.com/flutter/flutter/pull/67349/files, whereas the success one did.

[2020-10-29 22:59] chinmaygarde commented on #69342
Per @rmistry, these are "canary" rolls used to preflight risky changes. These will be closed automatically after a week. The preference is to ignore these till they are closed.

Closing this issue as WAI.

[2020-10-29 22:59] #69342 closed

[2020-10-29 23:00] #66909 closed

[2020-10-29 23:10] peerwaya commented on #29264
@Piinks  this issue still happens, noticed it in Flutter Channel master, 1.24.0-4.0.pre.106.

![RPReplay-Final1604012713](https://user-images.githubusercontent.com/14053870/97641868-338e6380-1a44-11eb-88f9-b2e760415bb9.gif)

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel master, 1.24.0-4.0.pre.106, on Mac OS X 10.15.4 19E287 darwin-x64, locale en-US)
[✓] Android t

[2020-10-29 23:23] jonahwilliams opened #69345 "[gen_l10n] Raw strings are being incorrectly used when generating messages"
Disabled here: https://github.com/flutter/flutter/commit/ca47b4e12cccb4b13a19e734682595fb41dc2e8e

These tests started failing on https://github.com/flutter/flutter/commit/e5f7726c7b6e43236569443c0814d6619d98aa37 which doesn't seem possible unless the test is not hermetic.

@shihaohong

[2020-10-29 23:26] monkeyswarm commented on #63638
The problem as shown in my demo code is indeed solved.
I still seem to have a related problem in my actual codebase, but I will open a separate issue once I can isolate that into an example, so feel free to close this issue. Thanks.

[2020-10-29 23:35] vishwesh-aubergine commented on #65334
[code]

getting the same error any solution?

[2020-10-29 23:40] jonahwilliams commented on #68144
Happened again on https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8865062961740942240/+/steps/run_module_test_ios/0/stdout

[2020-10-29 23:54] jonahwilliams opened #69348 "Web flake in expression evaluation tests"
[code]

[2020-10-30 00:04] yama3nomori commented on #61005
I have the same problem.
Does it fixed?

[2020-10-30 00:15] #67380 closed

[2020-10-30 00:18] hello-paulvin commented on #52014
@dariel11
Yes bro,
I will be write a PR for this. But anyway I can share it.

[2020-10-30 00:23] #68337 closed

[2020-10-30 00:25] keyonghan commented on #68348
cl/339779199

[2020-10-30 00:25] #68348 closed

[2020-10-30 00:26] keyonghan commented on #69135
Thanks for filing the issue. This is a duplicate of https://github.com/flutter/flutter/issues/68579.

[2020-10-30 00:26] #69135 closed

[2020-10-30 00:28] hello-paulvin commented on #52014
https://gist.github.com/hello-paulvin/0aa8b6389e3aeb345fa1f3f246d9ab69#file-gistfile1-txt

You can open that and check it out :)

[2020-10-30 00:36] WinnLeong commented on #69082
@pedromassangocode

![Simulator Screen Shot - iPhone SE (2nd generation) - 2020-10-30 at 08 32 36](https://user-images.githubusercontent.com/38973968/97646443-a9b5b900-1a8a-11eb-8115-be3b4d997edd.png)

I am using iPhone SE 2nd Generation simulator with iOS 14.0

[2020-10-30 00:42] yama3nomori opened #69352 "It need to read onTapHint, onLongPressHint and other hint texts by VoiceOver"
It is written following:

<a href="https://api.flutter.dev/flutter/semantics/SemanticsHintOverrides-class.html">https://api.flutter.dev/flutter/semantics/SemanticsHintOverrides-class.html</a>

But this information is very important for VoiceOver users.

I'm feeling the accessibility of iOS apps is more insufficient than Android apps_built by Flutter.
Flutter is very good flamework.
I ask please be

[2020-10-30 00:47] percula commented on #11951
No gif, just copy/paste.

I ended up [creating a better solution](https://gist.github.com/percula/dd512e6665835e90a509cd89af8db726) that utilizes the transformations already happening within the FlexibleSpaceBar. Just provide a `titlePaddingTween` such as
[code]
instead of `titlePadding`.

I also added a `foreground` parameter that displays above the `title` and `background`, but doesn't transform

[2020-10-30 00:55] britannio commented on #13634
I'm facing this issue but only on my most recent app.

[2020-10-30 01:04] devon2018 commented on #58200
Hi @jmagman I've managed to get an app submitted by switching to the master channel. So as far as i can tell it seems to have resolved the issue.

[2020-10-30 01:11] cmee123 opened #69354 "Flutter errors during installation"
Ok, so I am trying to download flutter and the related apps and set them up. So far I have downloaded the flutter skd, git, and the android studio. When I run the flutter doctor command I get these errors:

The first error says: Android toolchain - develop for Android devices
X Unable to locate Android SDK. Install Android Studio from:
https://developer.android.com/studio/index.html On first launc

[2020-10-30 01:15] #69028 closed

[2020-10-30 01:36] jonahwilliams commented on #68507
Is this in a particular IDE? I don't believe the tool calls anything called addFields anywhere - from the identifier that looks like the Java VM Service code?

[2020-10-30 01:37] jonahwilliams commented on #69352
iOS does not provide the capability to override these hints. There is still a default hint for tappable and long-pressable elements, it is just controlled entirely by the OS

[2020-10-30 01:42] Jiangshan2015 opened #69356 "flutter: Another exception was thrown: NoSuchMethodError: The method 'toDouble' was called on null."
flutter: ══╡ EXCEPTION CAUGHT BY FOUNDATION LIBRARY ╞════════════════════════════════════════════════════════
flutter: The following NoSuchMethodError was thrown while dispatching notifications for SwiperController:
flutter: The method 'toDouble' was called on null.
flutter: Receiver: null
flutter: Tried calling: toDouble()
flutter:
flutter: When the exception was thrown, this was the stack:
flutt

[2020-10-30 01:48] jmagman commented on #58200
Thanks for letting me know @devon2018!  Did you have to edit any Info.plists manually?  Can you attach the output of `flutter doctor -v` and your project's `.metadata` file?

[2020-10-30 01:48] jmagman commented on #58200
Also @devon2018 what's your project's iOS deployment target?

[2020-10-30 01:50] bparrishMines commented on #69073
@bobatsar it should be published now

[2020-10-30 01:53] devon2018 commented on #58200
![Screenshot 2020-10-30 at 02 50 51](https://user-images.githubusercontent.com/46196252/97650780-722b1a80-1a52-11eb-8148-526e10ef44fc.png)

![Screenshot 2020-10-30 at 02 52 28](https://user-images.githubusercontent.com/46196252/97650874-a999c700-1a52-11eb-9bff-8f4ea9fa5e56.png)

Both attached.

I didn't have to edit my info.plist, and my deployment target is set to 9

[2020-10-30 01:53] WenheLI commented on #63046
This PR seems to be inactive for a while. May I take it over? @nturgut

[2020-10-30 01:56] dejaime commented on #67840
Had a similar problem. Same error message and apparently call stack after updating flutter.
The directory I run `flutter doctor` doesn't seem to matter (what I guess is expected).

Turns out flutter started using an old JRE from a backup I had made of Android Studio somehow.
I backed up (moved) my `/home/dejaime/Android/Android-studio` folder under `/home/dejaime/Android-studio_bk` in order to saf

[2020-10-30 01:58] davidAg9 commented on #36247
make sure all debug errors are fixed ,especially widget error ,errors that show in debug are red ,in release are usually white or grey

[2020-10-30 02:01] zhanghsgithub commented on #43582
我一直以为是我学艺不精，原来是源码有问题^_^!

[2020-10-30 02:09] robert-ancell commented on #68759
Both PRs are merged.

[2020-10-30 02:09] #68759 closed

[2020-10-30 02:11] nt4f04uNd commented on #67059
@darshankawar yes, I found the exact commit in my project after that this behaviour had occured, and yes, that's most definitely related to that in this commit I registered 4 blocs, that I have in my application, as singletones.

I tried to create a minimal reproducible demo by copying the structure of my project, but didn't have any luck with it. I feel that it might be related to very-very tiny

[2020-10-30 02:26] kbokarius commented on #53122
For those looking to simply clear cookies, we just found this command:

[code]

This does the trick for us fortunately. If you need all of the cache cleared, then it might not work.

[2020-10-30 02:27] #65270 closed

[2020-10-30 02:31] ditman commented on #67380
The fix for this is now published as [`google_maps_flutter_web: ^0.1.0+6`](https://pub.dev/packages/google_maps_flutter_web/changelog#0106)! Thanks again @balvinderz!

[2020-10-30 02:46] lxb0478 commented on #69258
I think platform view is still using texture method, which is the same as video plugin, and also has low image quality issue

[2020-10-30 02:59] jhaymesdev opened #69359 "Unable to run flutter apps"
FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'.

     build-tools;28.0.3 Android SDK Build-Tools 28.0.3
     platforms;android-29 Android SDK Platform 29
  To build this project, accept the SDK license agreements and install the missing components using the Android Studio SDK Manager.
  Alternatively, to tr

[2020-10-30 03:07] #69348 closed

[2020-10-30 03:10] liudonghua123 opened #69360 "Building flutter tool... freezed when install flutter in centos 7"
I want to install `dev` channel of flutter in my centos 7 and start some desktop development. However I got `Building flutter tool...` freezed when I execute `flutter upgrade`

## Steps to Reproduce

1. install prerequites, `yum install wget tar unzip ruby ruby-devel make autoconf automake redhat-rpm-config lcov           gcc gcc-c++ libstdc++.i686 java-1.8.0-openjdk-devel xz git mesa-libGL mesa-l

[2020-10-30 03:17] EchoPuda commented on #69104
Hi @TahaTesser
Please open this issue, this issue is only for sliding effect bug.

[2020-10-30 03:34] EchoPuda commented on #69104
Hi @darshankawar
I can run the project without problem.
Please flutter clean,  pod install and rebuild again.
This is a new project that only edits main.dart and iOS Runner. Nothing has changed in the environment.

<details>
   <summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-30 03:36] zanderso opened #69361 "Scenarios UI test PlatformViewMutationOpacityTests testPlatformView is flaky"
In the past two days it has failed on ~6 commits. E.g.: https://ci.chromium.org/p/flutter/builders/prod/Mac%20iOS%20Engine/7509

[code]

There was an uptick in the frequency of this flake shortly after the Skia roll here https://github.com/flutter/engine/pull/22140, but I have no idea if that is relevant.

@dnfield @cyanglaz @gaaclarke

[2020-10-30 03:42] stuartmorgan commented on #69258
"Hybrid composition requires Flutter 1.22 (version 1.22.2 is recommended). This mode appends the native android.view.View to the view hierarchy."

[2020-10-30 03:44] swebreza commented on #69359
It seems Docs on `--licenses` is missing. accept the license before build.
Have a look on [this](https://stackoverflow.com/questions/54273412/failed-to-install-the-following-android-sdk-packages-as-some-licences-have-not) branch of stack overflow.

for windows:
`%ANDROID_HOME%/tools/bin/sdkmanager --licenses
`
Mac OS:
[code]

I hope your issue is clear.
Thankyou.

[2020-10-30 03:48] swebreza commented on #69356
can you please explain more.. Show us some code and  `flutter doctor`

[2020-10-30 03:49] zanderso commented on #69361
PR to delete the test is here https://github.com/flutter/engine/pull/22218

[2020-10-30 04:05] branflake2267 commented on #6085
**Problem**
The problem here I think is that Draggable is a leaf widget, same as DragTarget. Instead Draggable could be a widget that takes a child and drags the child. The same could be said for DragTarget, it's a leaf, which is odd when you want the flexibility to declare any widget a possible target.

**Use case**
A use case could be a collapsed tree node, and aiming to drag to a collapsed tree

[2020-10-30 04:12] CalvinTp opened #69362 "Flutter 1.22.2 navigation pop transition duration not matching push"
I have just recently upgraded to Flutter 1.22.2 and saw some differences even though Flutter release notes indicated that navigation system remains the same.

I have 2 pages and I use push method to transition from the 1st page to the 2nd page. I have added a Transition Duration from 1st to 2nd page (code below). Prior to this version, when I pop from 2nd page to 1st page, the delay is matching th

[2020-10-30 04:13] JDNew opened #69363 "Exception: operation failed after calling recorder.endRecording()"
I use canvas to draw a ui.Image list , it should be general a vertical long image.
In some devices , it can work .  However in some other devices , if the canvas draw over 5 images (the total height is over 4460) , and call ``` recorder.endRecording()``` finally , it will throw the error : operation failed.

It seems that the canvas has maxHeight in some devices , or those devices can not support

[2020-10-30 04:25] guoguoguilai commented on #62240
If I change analyzer to 0.39.14, I got the same issue. But if I change it to 0.40.x, I got https://github.com/simolus3/moor/issues/553
I am using flutter version 1.22.1

[2020-10-30 04:36] jakemac53 commented on #62240
Try removing all `dependency_overrides` and running `flutter pub upgrade`. This _should_ fix most issues unless you are held on an older analyzer version by some other package.

[2020-10-30 04:45] xster commented on #51672
This issue is still valid. As pointed out. We never performed the transition between fullscreen dialog CupertinoPageRoutes and normal CupertinoPageRoutes. Mainly because both the top enter/exit animations and the bottom covered/uncovered animations are defined by the route itself whereas the bottom covered/uncovered animation for the fullscreen dialog should ideally be injected by the new top ente

[2020-10-30 04:49] swebreza commented on #69329
Can you please show us your `pubspec.yaml` file, that will be helpful to resolve your issue

[2020-10-30 04:50] CYF-66 commented on #69172
Before you reply, I have solved this problem by upgrading to 1.17.1. As for the reason of this error in 1.12.13, I am not sure. Thank you for your reply! thank you @pedromassangocode

[2020-10-30 04:53] Hixie opened #69366 "ListView (and other ScrollViews) should have a FocusTraversalGroup by default"
Proposal: We should put a FocusTraversalGroup around ListView (and the other scroll views). Currently it's a bit weird that if you put a list view in a row, with a bunch of widgets in a box next to the row, the tab order is in and out of the list.

I'm not sure if this is a good idea; there may be reasons we should not do this.

cc @gspencergoog @goderbauer

[2020-10-30 05:01] guoguoguilai commented on #62240
Solved by update
functional_data_generator: ^0.3.4
analyzer: ^0.39.14

[2020-10-30 05:22] toly1994328 opened #69367 "An typo error in engine/lib/ui/painting.dart doc."
location: ` engine/lib/ui/painting.dart : 4544`

![image](https://user-images.githubusercontent.com/26687012/97662487-345dde80-1ab2-11eb-9097-a52e46cd4443.png)

location: ` engine/lib/ui/painting.dart : 4604`

![image](https://user-images.githubusercontent.com/26687012/97662410-efd24300-1ab1-11eb-9e9c-251840c6caa9.png)

---
the same mistake `transformList[i * 4 + 2]` , it should be `transformList[

[2020-10-30 05:34] Jiangshan2015 commented on #69356
Thank you. It's OK to recompile the code, but you only need to report an error once. After the modification, the error will be reported when reload

[2020-10-30 05:35] hinadong opened #69368 "ClipOval crash on iOS 14.1 of new flutter version 1.22"
**ClipOval crash on iOS 14.1 of new flutter version 1.22**

[2020-10-30 05:53] husen-hn commented on #69330
same problem.

system: Manjaro linux
Android Studio 4.1 (installed from aur)
Dart 2.9 (installed from aur)
Flutter 1.22 (Installed manually)

.bashrc
[code]
-> sudo flutter doctor
[code]

[2020-10-30 05:54] Jiangshan2015 opened #69370 "Column contains GridView"
`@override
  Widget build(BuildContext context) {
    print(">>>${this.myComicList[1].titleIconUrl}");
    return Container(
      height: 300,
      child: ListView.builder(
        shrinkWrap: true,
        padding: EdgeInsets.all(0),
        itemCount: this.myComicList.length,
        itemBuilder: (BuildContext context, int index) {
          return Column(
            children: [

[2020-10-30 05:56] darshankawar commented on #67059
@nt4f04uNd
You may check out these articles on getting logs from the compiler.

https://flutter.dev/docs/testing/code-debugging#debug-flags-application-layers
https://flutter.dev/docs/testing/code-debugging

I am going ahead and closing this. If you see similar issue again that is consistent to replicate, write in comments and I'll reopen.
thanks.

[2020-10-30 05:56] #67059 closed

[2020-10-30 06:03] riyaz commented on #69207
Dexguard was removing the .so, ``-keepresourcefiles lib/**/libapp.so`` this fixed the issue. Thanks guys.

[2020-10-30 06:03] #69207 closed

[2020-10-30 06:03] darshankawar commented on #69208
@vaimikpatel2908
I see that you have used `flush_bar` which is a 3rd party plugin. Can you remove the relevant plugin code, use Flutter's core equivalent widget and try again to see if you get same error ? If so, please provide the update code sample.

[2020-10-30 06:03] sandijs-private opened #69371 "Flutter plugins repo plugin image_picker crashes on iOS on repeated launches"
Flutter Plugins repo plugin image_picker (https://github.com/flutter/plugins/tree/master/packages/image_picker) crashes on iOS platform on the second launch.

Try to pick some image from the iOS device Gallery, then try it again, and again.

On the second launch of the image picker the app crashes.

Debugging revealed it happens when calling iOS native code part.

I created git repo where it is po

[2020-10-30 06:04] TheKashe commented on #68215
This was going on with some past versions, I asked the same thing about extending timeout but I don't recall getting an answer. It's ridiculous that such major show-stopper is not properly addressed. I guess it shows that's Google/Android product after all.

[2020-10-30 06:05] jinfagang commented on #11951
@percula  Can u make it a github repo or pub.dev lib for quickly usage?

[2020-10-30 06:06] darshankawar commented on #69170
@scaraux
Please provide the code sample using which you are seeing the issue. Also provide details around using which other widgets or plugins you are seeing the issue.
Thanks.

[2020-10-30 06:16] syfulin commented on #29782
Thanks for the support. I have a problem with ListView in web application too.

In the desktop browser, the listview works perfectly, but in all mobile browsers the scroll animation looks ugly, as if it twitches.
I've tested this on all iPhones and only the iPhone 12 has perfect scrolling (as in the desktop browser).

Perhaps I need to optimize the listview somehow?

Application:
http://hhhhtyu.00

[2020-10-30 06:35] jackdreillyvia opened #69372 "macos desktop onScaleUpdate does not respond to pinch"
## Steps to Reproduce

[code]
1. `flutter run -d macos`
2. pinch using macbook trackpad
3. nothing printed
4. drag with trackpad
5. note that dragging works but scale is always 1.0

**Expected results:**

pinching makes `onScaleUpdate` trigger.

**Actual results:**

no trigger

<details>
## Flutter Doctor
[✓] Flutter (Channel dev, 1.24.0-3.0.pre, on Mac OS X 10.15.7 19H2 darwin-x64, locale en-FR)

[2020-10-30 06:44] mohamedhasan2002 opened #69373 "'showSnackBar' is deprecated and shouldn't be used"
WHEN I TRIED TO CLONE THIS FILE(FLUTTER)
**SOURCE:** [](https://github.com/ibmkynl/ChitChat)
**ERROR**
{
	"resource": "/home/hasan/Desktop/ChitChat-master/lib/ProfileSetPage/Profile_Form.dart",
	"owner": "dart",
	"code": {
		"value": "deprecated_member_use",
		"target": {
			"$mid": 1,
			"external": "https://dart.dev/tools/diagnostic-messages#deprecated_member_use",
			"path": "/tools/diagnostic-

[2020-10-30 06:55] darshankawar commented on #69297
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-30 06:57] Lanch92 commented on #69269
Empty flutter project, add LaunchScreen.png and layout LaunchScreen.storyboard to Runner
[Runner.zip](https://github.com/flutter/flutter/files/5463427/Runner.zip)

[2020-10-30 07:00] darshankawar commented on #69269
@Lanch92
Provide a complete Flutter project, not just the `Runner` module, so that we can clone the project and run the app to see the issue.

[2020-10-30 07:02] Lanch92 commented on #69269
limit 10M

[2020-10-30 07:11] SUBARAJ101 opened #69375 "'crumb' is not recognized as an internal or external command, operable program or batch file."
i have been working with flutter for past 6 months. I never had issue like this. The flutter .bat file inside bin folder gives this error but the flutter_console.bat file executes everything fine. The issue is i cant use any IDE (android studio ) or VS code, because they show me no devices found even i have my device connected.Vs code shows flutter daemon has terminated when i click no devices at

[2020-10-30 07:12] Lanch92 commented on #69269
[flutter_app.zip](https://github.com/flutter/flutter/files/5463484/flutter_app.zip)

[2020-10-30 07:12] darshankawar commented on #69308
@AliaksandrBadretdzinau
Please check [this](https://dart.dev/tutorials/server/httpserver) document and see if it answers your quesiton.

[2020-10-30 07:13] TahaTesser commented on #69026
I’m unable to reproduce the issue to pinpoint the cause. The issue needs further investigation.

[2020-10-30 07:15] Ritsz123 commented on #49531
waiting for this since a long time...

[2020-10-30 07:23] armandsLa commented on #61450
I'm also voicing my opinion that this should be labeled as highest priority. This shader jank is something that severely affects the perceived quality of our apps. The very first thing that someone asked about my latest app was "why is it so laggy?"... Something that no developer would want to hear after spending countless hours working on it. Anything that affects the quality of the app in such m

[2020-10-30 07:26] maxp89 commented on #64544
First of all thank you for your efforts.

This bug did not happen again to me with the latest flutter versions.
Thus, can stay closed.

[2020-10-30 07:30] darshankawar commented on #69310
@johnnypcc
what `compilesdkversion` and `targetsdkversion` are you using ? Also please provide a complete minimal reproducible code sample that shows the issue.

[2020-10-30 07:34] FilledStacks commented on #69018
This is so crazy. It's just not working. I'll try and create an example when I'm done with a few other bugs. Could it be the fact that I have multiple maps in the app that show before I get to the main 1?

One of them has the style applied. They all use the same style application code.

[code]

Code that sets the style

[code]
There's no clear difference in "UI" thread and computational threads in

[2020-10-30 07:34] AvatarDevs commented on #66491
what do we do if we're getting this screen from vscode? its running the app fine on my ipad pro ios 14

[2020-10-30 07:41] TahaTesser commented on #69188
Hi @egodefroy
Your build seems to be failing and can you please try this https://github.com/flutter/flutter/issues/48622#issuecomment-573405643

[code]
Also, provide successful build logs and your `build.gradle` file from android/app

[2020-10-30 07:45] darshankawar commented on #69315
@tomasbaran
Is there any specific part of the documentation that you think is complex to understand and implement ? Would you look for more examples and samples to help it make simpler ?

[2020-10-30 07:48] yash1200 commented on #69373
This will help.
[code]

[2020-10-30 07:51] pedromassangocode commented on #69239
This is where I took the screenshot above.

[2020-10-30 07:51] alod2019 commented on #68003
I would say that https://flutter.dev/go/i18n-user-guide is misleading.
It differs from https://marketplace.visualstudio.com/items?itemName=localizely.flutter-intl which seems to be more relevant
though there is a similar issue reported https://github.com/localizely/flutter-intl-vscode/issues/48

Most notable setup differences are
`flutter_intl:
    enabled: true
`
instead of
`flutter:
  # Adds cod

[2020-10-30 07:51] darshankawar commented on #69320
@SaajidNawwar
Your question is better suited for StackOverflow. Please ask support questions there. Please see https://flutter.dev/community for resources and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter but code implementation. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-10-30 07:51] #69320 closed

[2020-10-30 08:00] peerwaya opened #69376 "SliverAppBar's flexibleSpace glitch on iOS when NestedScrollView's body is a ScrollView"
This issue was fixed in #29264. I am referencing it here because the issue still happens and the steps still apply: cc @Piinks

[code]

[2020-10-30 08:03] kartik-trucksathi opened #69378 "ExpansionTile Error"
When I am Using Multiple ExpansionTile in one Flutter Web page, but When I run this code and open that all ExpansionTile then it give ERROR like below..

[code]

[2020-10-30 08:04] romanpozd-tg17 opened #69379 "Code signing Flutter.framework failed with a module"
Hey guys!
We integrated flutter sub-module to our exist native android & iOS applications.
followed the documentation and modified the Podfile this way:

flutter_application_path = '../app-flutter-bond' load File.join(flutter_application_path, '.ios', 'Flutter', 'podhelper.rb')

target 'ud-subject' do install_all_flutter_pods(flutter_application_path) end

it works perfect for regular builds but w

[2020-10-30 08:04] pedromassangocode commented on #69283
Hi @abaturyna
I cannot find any error message similar to the one you shared in the title, where did you get this message?
Can you please share your Podfile?

Found this in the logs:
[code]

<details><summary>flutter doctor -v</summary>

[code]
</details>

<details><summary>Important parts of the logs</summary>

[code]
</details>

[2020-10-30 08:07] aTeamSolace opened #69380 "Failed assertion: line 4345 pos 14: 'owner._debugCurrentBuildTarget == this': is not true."
Hello, guys I'm working on one application in that I used the bottom navigation bar. I changed my bottom nav bar page using the current index which is got from the constructor. The application is working fine but when I navigate after the profile complete then it gives an error. Please check the below image.

![Screenshot_2](https://user-images.githubusercontent.com/54803951/97675237-f615ee80-1ab4

[2020-10-30 08:07] aTeamSolace commented on #69380
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel beta, 1.22.0-12.1.pre, on Microsoft Windows [Version 10.0.18362.1139], locale en-IN)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
[√] Chrome - develop for the web
[√] Android Studio (version 3.6)
[√] VS Code (version 1.50.1)
[√] Connected device (4 available)

• No issues found!

[2020-10-30 08:08] alberduris opened #69381 "SharedPreferences not clearing after clear data and uninstall of application"
## Steps to Reproduce

I was storing a `String` value in `SharedPreferences` that was setting the value for a `Dropdownmenu`. Now I have updated those values so the previous are no longer valid. However, even **after uninstalling** the app and **clearing** the data the **old** **shared preference value** is still there.

Curiously enough, if I run the `clear()`method after retrieving the shared pr

[2020-10-30 08:09] darshankawar commented on #69321
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[69321.mov.zip](https://github.com/flutter/flutter/files/5463746/69321.mov.zip)

[2020-10-30 08:12] darshankawar commented on #69325
@mzegar
Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue.
Thanks.

[2020-10-30 08:13] aTeamSolace commented on #69380
`
class BottomNavBarPage extends StatefulWidget {
  int initialIndex;
  int initialIndexJob;
  var location;

  BottomNavBarPage(
      {@required this.initialIndex, this.location, this.initialIndexJob});

  @override
  _BottomNavBarPageState createState() => _BottomNavBarPageState();
}

class _BottomNavBarPageState extends State<BottomNavBarPage> {
  PersistentTabController _controller;

  @overr

[2020-10-30 08:14] darshankawar commented on #69329
@hatimkh20
Provide more information on the issue with details like `flutter doctor -v` and console log that shows why it's failing. What are the steps you took that led to this issue ?

[2020-10-30 08:15] TahaTesser commented on #69281
Hi @IagoBeuller

Is this min size possible? I see the output is still the same

![image](https://user-images.githubusercontent.com/48603081/97676006-fe225e00-1ab5-11eb-96f5-f18de3336db1.png)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-30 08:18] aTeamSolace commented on #69380
this code working fine but when i used this
`  onWillPopMethod(BuildContext context) {
     return BackFunction.fadeNavigationWithPush(
        context,
        BottomNavBarPage(
          initialIndex: 4,
        ));
  }`

from last page ie update profile page then this error occured

[2020-10-30 08:18] TahaTesser commented on #69300
@enricobenedos
Thanks for the details, to better address the issue,  Can you please provide your a complete reproducible minimal code sample and steps to reproduce similar to what happened in your case
Thank you

[2020-10-30 08:20] AdiKK17 commented on #65012
@zwz1192511822 try removing the clipboard manager plugin

[2020-10-30 08:22] SUBARAJ101 commented on #69375
@DanTup

[2020-10-30 08:22] pedromassangocode commented on #69252
@gspencergoog is this supposed to be opened?

[2020-10-30 08:25] darshankawar commented on #69330
@stereotype441
Here's the [original](https://github.com/flutter/flutter/issues/67986) issue which was fixed and merged.
Even though it says plugins not installed, they are just warnings, but you may continue to use those as usual in your project.
https://github.com/flutter/flutter/issues/67986#issuecomment-707881534
https://github.com/flutter/flutter/issues/67986#issuecomment-707511812
You want ch

[2020-10-30 08:25] #69330 closed

[2020-10-30 08:27] shihaohong commented on #69345
This was an actual regression introduced by #69025, which introduced the use of raw string in certain circumstances. However, the way that the Material/Cupertino localizations are generated is different, so it's acceptable in that part of the codebase, but not for the `gen_l10n` tool. I've put out a fix.

[2020-10-30 08:28] jameslester2004 commented on #64862
@johnareid54 out of interest did you find a solution to this?

[2020-10-30 08:29] darshankawar commented on #69332
@aifrosals
Please check [this](https://api.flutter.dev/flutter/services/rootBundle.html) document on how to use `rootBundle` and see if you are properly added the assets in `pubspec.yaml`.
If problem persists, provide `flutter doctor -v` and minimal reproducible code sample that shows the issue.

[2020-10-30 08:31] shihaohong commented on #68003
https://marketplace.visualstudio.com/items?itemName=localizely.flutter-intl is a separate third party package/plugin that we do not maintain.

On the other hand, https://flutter.dev/go/i18n-user-guide is a tool that the we have been working on, which can be made use of through `flutter gen-l10n` or the `l10n.yaml` file.

[2020-10-30 08:33] hatimkh20 commented on #69329
here is my flutter doctor code
F:\Flutter\Project>flutter doctor -v
[√] Flutter (Channel master, 1.24.0-4.0.pre.144, on Windows, locale en-US)
    • Flutter version 1.24.0-4.0.pre.144 at F:\Flutter\flutter
    • Framework revision 470346f775 (16 hours ago), 2020-10-29 09:56:28 -0700
    • Engine revision 073263e39d
    • Dart version 2.11.0 (build 2.11.0-260.0.dev)

[√] Android toolchain - develop

[2020-10-30 08:33] TahaTesser commented on #69233
hI @peterIrving
Have no issues running signed app from code on a physical device and if you're using experiencing the same issue with a regular flutter project, it might be something from your side, make sure you have the proper account signed in, you have the necessary permissions as well, log out of the apple account and log in

[2020-10-30 08:36] hatimkh20 commented on #69329
mate It was fine back 2 days but yesterday i tried to run my old project so in debug console "flutter pub get failed" message received and then i tried to create another project through cmd so the same error also came i also tried to upgrade my flutter version but no outcome :(

[2020-10-30 08:37] hatimkh20 commented on #69329
name: calculator
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by

[2020-10-30 08:40] darshankawar commented on #69337
@UnicornsOnLSD
There's an [open](https://github.com/flutter/flutter/issues/66080) issue to track upcoming changes in `ReorderableListView`.
Please follow-up there for updates and any questions you may have.
Closing this as duplicate.

[2020-10-30 08:40] #69337 closed

[2020-10-30 08:43] darshankawar commented on #69352
@yama3nomori
Based on Jonah's comment above, I am going ahead and closing this as-designed.

[2020-10-30 08:43] #69352 closed

[2020-10-30 08:52] mohamedhasan2002 commented on #69373
Thx solved!

[2020-10-30 08:52] #69373 closed

[2020-10-30 08:52] dr3tt commented on #63486
This happened to me right now after I switched back from beta to stable channel.
I solved running the command `flutter clean`.

[2020-10-30 08:54] tgucio commented on #69321
Note that this isn't specific to MacOS - happens on Windows too (and I'd imagine on Linux as well).

[2020-10-30 08:57] darshankawar commented on #69354
@cmee123
Did you follow all the steps mentioned in [this](https://flutter.dev/docs/get-started/install) document on how to install Flutter and related tools ?

For the first error, you can try by going to `Android Studio -> Select Android Studio--> Preferences--> Dart Path locate`.

For second and third error, you may check [this](https://github.com/flutter/flutter/issues/67986) original issue whi

[2020-10-30 08:57] #69354 closed

[2020-10-30 08:59] darshankawar commented on #69356
@Jiangshan2015
Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue you are facing.

[2020-10-30 09:01] mohamedhasan2002 opened #69384 "Execution failed for task ':app:compileFlutterBuildRelease'"
hasan@hasan-Lenovo-ideapad-320-15IAP:~/Desktop/ChitChat-master$ flutter build apk
Running "flutter pub get" in ChitChat-master...                  1,658ms
You are building a fat APK that includes binaries for android-arm, android-arm64, android-x64.
If you are deploying the app to the Play Store, it's recommended to use app bundles or split the APK to reduce the APK
size.
    To generate an app bu

[2020-10-30 09:03] luxinaimar opened #69385 "cannot get float registers"
From URL: https://www.flutterchina.club/get-started/install.md

[2020-10-30 09:04] #69385 closed

[2020-10-30 09:06] johnareid54 commented on #64862
_@johnareid54 out of interest did you find a solution to this?_

No, I gave up after trying to rebuild the Macbook and in the end accepted that my Macbook does not with Flutter and Android Studio.
I develop on the Macbook, and then transfer the code to my window pc and check that it is OK on an android phone. It's a bit of a pain but at least it works.
My worry is that sometime in the future Flutt

[2020-10-30 09:08] TahaTesser commented on #51672
Thank you so much xster

I can reproduce the difference

### Issue Preview
[issue.zip](https://github.com/flutter/flutter/files/5464083/issue.zip)

### No  Issue Preview
[no issue.zip](https://github.com/flutter/flutter/files/5464085/no.issue.zip)

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-30 09:10] iapicca commented on #69370
@Jiangshan2015
wrapping the contents of the [ListView.builder](https://api.flutter.dev/flutter/widgets/ListView/ListView.builder.html) in a [Column](https://api.flutter.dev/flutter/widgets/Column-class.html) doesn't make much sense in your code sample,
nevertheless it seems to work just fine, try running the code below on [dartpad](https://dartpad.dartlang.org/)

<details>
<summary>code sample</su

[2020-10-30 09:13] abaturyna commented on #69283
Hi @pedromassangocode

Please find my Podfile below :

# Uncomment this line to define a global platform for your project
platform :ios, '14.0'

# CocoaPods analytics sends network stats synchronously affecting flutter build latency.
ENV['COCOAPODS_DISABLE_STATS'] = 'true'

project 'Runner', {
  'Debug' => :debug,
  'Profile' => :release,
  'Release' => :release,
}

def flutter_root
  generated_xc

[2020-10-30 09:20] AvatarDevs commented on #69256
`[✓] Flutter (Channel beta, 1.23.0-18.1.pre, on Mac OS X 10.15.7 19H2 x86_64, locale en-US)
    • Flutter version 1.23.0-18.1.pre at /Users/colbymaloy/Developer/flutter
    • Framework revision 198df796aa (2 weeks ago), 2020-10-15 12:04:33 -0700
    • Engine revision 1d12d82d9c
    • Dart version 2.11.0 (build 2.11.0-213.1.beta)

[✓] Android toolchain - develop for Android devices (Android SDK ver

[2020-10-30 09:34] abelardolg commented on #69239
Hi again,
We are viewing two different versions. I am viewing this code:
![image](https://user-images.githubusercontent.com/22522883/97688706-cd80fb00-1a9a-11eb-88f3-12ff36d08837.png)

At this page:
https://codelabs.developers.google.com/codelabs/firebase-get-to-know-flutter#5
this code exists:
![image](https://user-images.githubusercontent.com/22522883/97688804-fc976c80-1a9a-11eb-8d11-bebcd484e5b

[2020-10-30 09:35] darshankawar commented on #69359
@jhaymesdev
As the error log says:

`Failed to install the following Android SDK packages as some licences have not been accepted.
build-tools;28.0.3 Android SDK Build-Tools 28.0.3
platforms;android-29 Android SDK Platform 29
To build this project, accept the SDK license agreements and install the missing components using the Android Studio SDK Manager.`

Please follow the leads mentioned in the e

[2020-10-30 09:36] mummyk opened #69386 "Widget not working properly"
I upgraded my flutter version and all my widget stopped working properly like I got errors all over, I am using
Flutter version 1.23.0-18.1.pre, channel beta
and this is because I want to use the web version

[2020-10-30 09:37] Mehta2015 commented on #64558
Even we are facing the same issue when we deal with Health kit background steps sync.
Flutter sdk : 1.20.3
Any solution on it?

[2020-10-30 09:39] GasparyanArmen opened #69387 "Invalid depfile:"
Invalid depfile: C:\Users\User\Desktop\Live_App\.dart_tool\flutter_build\2687b4e5afa50cf488e26fa4a3d6a1db\kernel_snapshot.d
Invalid depfile: C:\Users\User\Desktop\Live_App\.dart_tool\flutter_build\2687b4e5afa50cf488e26fa4a3d6a1db\kernel_snapshot.d
/D:/flutter/.pub-cache/hosted/pub.dartlang.org/google_sign_in_web-0.9.2/lib/google_sign_in_web.dart:6:8: Error: Not found: 'dart:html'
import 'dart:html

[2020-10-30 09:43] darshankawar commented on #69362
@CalvinTp
You may check the new navigation design [doc](https://docs.google.com/document/d/1Q0jx0l4-xymph9O6zLaOY4d_f7YFpNWX_eGbzYxr9wY/edit) that has details around how pop() works with new design and see if it answers your question.

[2020-10-30 09:43] #69387 closed

[2020-10-30 09:44] TahaTesser commented on #69360
Hi @liudonghua123
This could be a network issue, can you please make sure you're using a stable connection or switch to a different network.
Also try this possible [solution](https://github.com/flutter/flutter/issues/12666#issuecomment-339395571)
Thank you

[2020-10-30 09:46] darshankawar commented on #69363
@JDNew
You seem to be on older version of Flutter. Current stable version is 1.22.2. I'd recommend to upgrade to latest and try again to see if it works.
If problem persists, provide a minimal complete reproducible code sample that shows the issue you are facing.
Thanks.

[2020-10-30 09:47] #68414 closed

[2020-10-30 09:50] Hatchout commented on #66253
Still having the same issue...

[2020-10-30 09:53] AlexV525 opened #69388 "Asset variant detection should only work on directory names that are parse-able by the framework (2x, 3x)"
## Steps to Reproduce

Can repro from 1.17 to 1.23 master.

Run https://github.com/AlexV525/flutter_test_app (test-assets-conflict-page) for repro demo with master.

1. Add two assets with same name, but not the same path. (e.g. `assets/a.png` and `assets/b/a.png`)
2. Display those images in Flutter App.

![image](https://user-images.githubusercontent.com/15884415/97690869-8a457d00-1ad8-11eb-8821-

[2020-10-30 09:55] AlexV525 commented on #69388
P1 maybe? Couldn't believe we have this kind of issue. 😢

[2020-10-30 09:55] pawlowskim commented on #64558
@Mehta2015 so far only working solution for us is https://github.com/flutter/flutter/issues/64558#issuecomment-712773782

[2020-10-30 09:57] iapicca commented on #69356
Since the error is from [SwiperController](https://pub.dev/documentation/flutter_swiper/latest/flutter_swiper/SwiperController-class.html) I suspect you are using the 3rd party package [flutter_swiper](https://pub.dev/packages/flutter_swiper)
you may want to open an issue in the dedicated [github](https://github.com/best-flutter/flutter_swiper/issues)

[2020-10-30 09:57] Mehta2015 commented on #64558
@pawlowskim  we tried but it's not working in our case. But still will check what you have suggested.

[2020-10-30 09:58] darshankawar commented on #69370
@Jiangshan2015
Per @iapicca's comment and solution, it doesn't seem to be an issue with Flutter. Please see https://flutter.dev/community for resources and asking questions like this.
You may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree,

[2020-10-30 09:58] #69370 closed

[2020-10-30 10:08] ofury commented on #68003
@shihaohong everything seems to work right now for me. Thanks

[2020-10-30 10:12] pedromassangocode commented on #69082
Looks like I was not using the stable channel (1.22.2).

I can confirm that the issue reproduces on latest `stable` channel however it does not reproduce on latest `beta`, `dev` and `master` channels.

| stable | beta, dev, master|
|------|------|
|<img width="230" height="500" src="https://user-images.githubusercontent.com/67424416/97692861-9ada0100-1aa0-11eb-8eea-944147fb48b1.gif">|<img width="2

[2020-10-30 10:14] darshankawar commented on #69372
@jackdreillyvia
There's similar [open](https://github.com/flutter/flutter/issues/23604) issue. Does your issue resembles it ?

[2020-10-30 10:19] pedromassangocode commented on #69172
Hi @CYF-66
Given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-10-30 10:19] #69172 closed

[2020-10-30 10:21] pedromassangocode commented on #29782
Hi @syfulin
I recommend you to file a new issue as this one was discontinued.

[2020-10-30 10:25] darshankawar commented on #69378
@kartik-trucksathi
Provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue.
Thanks.

[2020-10-30 10:28] TahaTesser commented on #69018
Hi @FilledStacks
There has to be something more than just a simple function being in the future since I cannot reproduce the issue using the same function

### Preview
<img width="793" alt="Screenshot 2020-10-30 at 3 54 58 PM" src="https://user-images.githubusercontent.com/48603081/97694480-a4775f00-1ac8-11eb-9a43-28669c9b9df1.png">

<details>
<summary>code sample</summary>

[code]

</details>

<d

[2020-10-30 10:29] pedromassangocode commented on #69283
Hi @abaturyna
Thanks for providing your podfile, I will need your `pubspec.yaml` as well.

[2020-10-30 10:31] SwissCheese5 commented on #52338
I'm opening a new issue for this specifically. This issue seems to have been resolved pretty much. My current problems with Google Sign In are not related to this

[2020-10-30 10:31] #52338 closed

[2020-10-30 10:37] vanlooverenkoen commented on #69368
Can you add a minimal reproducible example. and flutter doctor?

[2020-10-30 10:37] TahaTesser commented on #69368
Hi @hinadong
Can't reproduce a crash with ClipOval on iOS 14.1 on the latest `stable` channel

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-10-30 10:37] pedromassangocode commented on #69384
Hi @mohamedhasan2002
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-10-30 10:39] darshankawar commented on #69380
@aTeamSolace
This seems to be an issue with code implementation and not with the framework. Please see https://flutter.dev/community for resources, you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing. If you think the issue is related to the framework and not with your code, provide a minimal comp

[2020-10-30 10:39] #69380 closed

[2020-10-30 10:40] yash1200 commented on #69388
Changing your assets list to this :
[code]
and pubspec.yaml to this :
[code]
These changes fixed your issue.

[2020-10-30 10:41] pedromassangocode commented on #69386
Hi @mummyk
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?

Can you describe what you mean by "all my widget stopped working properly like I got errors all over"? what kind of errors?

Thank you

[2020-10-30 10:43] Fasust commented on #69102
Getting this in Production as well. It seems to not necessarily be linked to location tracking as our app does not have any location tracking.

Flutter Version: **1.22.2**
IOS Version in accours on: **100% IOS 14**

### StackTrace
[code]

[2020-10-30 10:47] izzyaf commented on #63579
This works for me. Go into `flutter_tools` folder and run:
[code]

[2020-10-30 10:49] AlexV525 commented on #69388
@yash1200 That's weird. Since when we could use undeclared assets? Doc ref:https://flutter.dev/docs/development/ui/assets-and-images#specifying-assets

[2020-10-30 10:50] franarolas commented on #33245
@KabluBR @Sun3 As @b34st80y said, you must switch to beta channel, your flutter doctor indicates that you are still in channel master.

@rezajalilian He is reffering to point the routes to the flutter web index.html, it is not related to Flutter.

[2020-10-30 10:51] darshankawar commented on #69381
@alberduris
I tried the official `shared_preferences` plugin [example](https://github.com/flutter/plugins/tree/master/packages/shared_preferences/shared_preferences/example) on latest master version. After pressing the tap button multiple times and then uninstalling the app, the shared_prefs are getting cleared properly and data resets to 0.

Can you try the same plugin example in your code and se

[2020-10-30 10:51] rubinbasha commented on #69247
@ponnamkarthik thank you for the solution, it works, hip hip hurraaaayy.

@darshankawar yep we can close the issue as now we have a solution for anyone having the same issue. The strange thing is that I have also other things overlaying/covering my PageView but from what I tested more, the Container that has a color is the one actually hijacking the pointer. That is kinda unexpected, to be honest,

[2020-10-30 10:53] DanielRobert1 opened #69389 "Infowindow isnt customizable"
I want to create a map  like uber that shows the two pickup location and drop  off location like a tooltip on the map markers? there is no way to do this right now.

[2020-10-30 10:54] TahaTesser commented on #69371
Hi @sandijs-private
This is fixed https://github.com/flutter/flutter/issues/65995#issuecomment-704589211
Please update your package to the latest `image_picker: ^0.6.7+12`

<details>
<summary>code sample</summary>

[code]

</details>

[code]

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Closing, as fixed, please write in the comments and I will reopen it.
Thank you

[2020-10-30 10:54] #69371 closed

[2020-10-30 10:56] DanielRobert1 commented on #67199
Please we need this fixed asap. Please  Please Please.

[2020-10-30 10:58] tomasbaran commented on #69315
Not anything specific, just overall it's very complex. Reading https://medium.com/flutter/learning-flutters-new-navigation-and-routing-system-7c9068155ade Navigation 1.0 is so simple. `Navigator.push()` and `Navigator.pop()` and that's basically it. The whole example has 90 lines in that document which most of it are stuff that are NOT related to the `Navigator`

Comparing that with Navigator 2.0

[2020-10-30 10:59] TahaTesser commented on #69375
Hi @SUBARAJ101
Are you able to run apps from the terminal?
Can you please provide your `flutter doctor -v` your `flutter run --verbose`
Thank you

[2020-10-30 11:04] TahaTesser commented on #69313
I was able to reproduce after 15-20 refreshes

Deployed
https://optimistic-mclean-e229a1.netlify.app/#/

![image](https://user-images.githubusercontent.com/48603081/97697721-69c3f580-1acd-11eb-9dd5-fddd2582a9d0.png)
![image](https://user-images.githubusercontent.com/48603081/97697783-7fd1b600-1acd-11eb-90d5-e0253f16151a.png)

<details>
<summary>code sample</summary>

[code]

</details>

<details>

[2020-10-30 11:07] yash1200 commented on #69388
I just experimented and it worked with this.
Here's a screenshot:

![Screenshot_2020-10-30_16-30-22](https://user-images.githubusercontent.com/38391570/97698183-27e77f00-1ace-11eb-8b55-85e90852d5f8.png)

[2020-10-30 11:09] TahaTesser commented on #69379
Hi @romanpozd-tg17
Thanks for filing the issue, links you provided are 404 not found

Can you please provide  logs from a fail build and a complete reproducible minimal code sample and steps to reproduce the issue
Thank you

[2020-10-30 11:10] pedromassangocode commented on #69388
I was able to reproduce however not sure if the implementation is the correct one.

[2020-10-30 11:10] AlexV525 commented on #69388
Thanks for the quick clarify! So there must be something broken with assets loading.

[2020-10-30 11:17] Fatimamostafa commented on #38873
Fixed it by adding the below code to `AndroidManifest.xml`

`     <meta-data
            android:name="flutterEmbedding"
            android:value="1" />`

And below code inside `MainActvity.kt`

`class MainActivity : FlutterActivity() {
    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        GeneratedPluginRegistrant.registerWith(this)
    }
}
`

[2020-10-30 11:18] TahaTesser commented on #69389
Hi @DanielRobert1
There are several ways achieve this but unfortunately info window doesn't support these customizations options

There are several issues open for this already
1. https://github.com/flutter/flutter/issues/32145
2. https://github.com/flutter/flutter/issues/52878
3. https://github.com/flutter/flutter/issues/34463
4. https://github.com/flutter/flutter/issues/33091

Please follow up o

[2020-10-30 11:18] #69389 closed

[2020-10-30 11:19] kansal2403 commented on #67522
@pedromassangocode Thanks for support, it was fixed with the given commands. But I think those conflicts shouldn't be there ever. This way it took more time than cloning the fresh version

[2020-10-30 11:20] darshankawar commented on #69376
@peerwaya
I tried the code [sample](https://github.com/flutter/flutter/issues/29264#issue-420271738) from original issue and verified on iphone 6s (OS 14) using latest master version, but didn't see the issue.

[RPReplay-Final1604055750.MP4.zip](https://github.com/flutter/flutter/files/5464738/RPReplay-Final1604055750.MP4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Ca

[2020-10-30 11:21] pedromassangocode commented on #69303
Hi @jba-tm
Can you please provide your `flutter doctor -v` and a minimal complete reproducible code sample?

Possibly related to https://github.com/flutter/flutter/issues/46815.

Thank you

[2020-10-30 11:26] TahaTesser commented on #69104
@EchoPuda

[2020-10-30 11:30] dodatw commented on #24167
I face same issue!

[2020-10-30 11:33] AlexV525 commented on #69388
cc @jonahwilliams

[2020-10-30 11:35] pedromassangocode commented on #67583
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-30 11:35] #67583 closed

[2020-10-30 11:35] pedromassangocode commented on #67615
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-30 11:35] #67615 closed

[2020-10-30 11:36] pedromassangocode commented on #67523
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-30 11:36] #67523 closed

[2020-10-30 11:36] jackdreillyvia commented on #69372
Yes, this is the same.

[2020-10-30 11:36] pedromassangocode commented on #67398
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-30 11:36] #67398 closed

[2020-10-30 11:36] TahaTesser commented on #65319
I see you've filed a new issue please follow up there

[2020-10-30 11:37] pedromassangocode commented on #67729
Without additional information, we are unfortunately not sure how to resolve this issue.
We are therefore reluctantly going to close this bug for now.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what ha

[2020-10-30 11:37] #67729 closed

[2020-10-30 11:39] talamaska opened #69390 "RadioListTile will need the same properties exposed as SwitchListTile and CheckboxListTile"
## Use case
I have already requested shape, tileColor and selectedTileColor for SwitchListTile and CheckboxListTile
in those #66982, #67063, #68304. And they are done and merged thanks to everybody
I'm hoping they will get to the next stable release.

## Proposal
I overlooked to mention RadioListTile in all three feature requests and it didn't get the love.
Now I'm making this feature request spec

[2020-10-30 11:40] TahaTesser commented on #68003
Hi @ofury
Given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-10-30 11:40] #68003 closed

[2020-10-30 11:43] swissonid commented on #69034
The same as you @MarcinusX . As a workaround, I disabled the synthetic package in the `l10n.yaml` file.

[code]
So you can remove the `generate: true` part in your `pubspec.yaml`. The disadvantage is you have to change your package import from`package:flutter_gen/gen_l10n/translations.dart` to `../i18n/translations.dart`. I can live it

[2020-10-30 11:43] TahaTesser commented on #69254
Hi @Sun3
Followed steps from https://github.com/flutter/flutter/issues/33245#issuecomment-705095853 in a new project  https://github.com/flutter/flutter/issues/69254#issuecomment-718529383, had no issues o Windows

[2020-10-30 11:49] TahaTesser commented on #69017
The workaround isn't good enough,  we need to keep the issue open for proper padding
Thank you

[2020-10-30 11:52] SUBARAJ101 commented on #69375
i can other apps. But the problem is with (bin/flutter.bat). When i tried to open this in terminal in gives this even though i have environment variables set
![Screenshot (121)](https://user-images.githubusercontent.com/40908678/97701157-f7561400-1ad2-11eb-8afa-56b6193178ee.png)
when i tried the same thing in flutter_console.bat it gives
![Screenshot (120)](https://user-images.githubusercontent.co

[2020-10-30 11:52] tanya-555 opened #69391 "Shimmer package works for mobile but throws Unimplemented Error for web"
dependency used : shimmer: ^1.1.2
![image](https://user-images.githubusercontent.com/52540265/97701911-27ea7d80-1ad4-11eb-98af-f6df857c6bac.png)

output of flutter doctor -v :

[✓] Flutter (Channel beta, 1.23.0-18.1.pre, on Mac OS X 10.15 19A583 x86_64, locale en-IN)
    • Flutter version 1.23.0-18.1.pre at /Users/apple/development/flutter
    • Framework revision 198df796aa (2 weeks ago), 2020-10

[2020-10-30 11:54] whatscoder opened #69392 "previousOwner._heroControllerFromScope != newHeroController': is not true"
My error is the following:
[code]

**_updateHeroController(null)** only be called in the **dispose** method,so I think **previousOwner._heroControllerFromScope** may be equal to **newHeroController**

My simple demo is: https://github.com/whatscoder/navigator_test, branch is master

flutter doctor is:
[code]

[2020-10-30 11:54] romanpozd-tg17 commented on #69379
[Uploading flutter-bond-logz1.docx…]()

[2020-10-30 11:55] romanpozd-tg17 commented on #69379
logs with archiving failure

[flutter-bond-logz1.docx](https://github.com/flutter/flutter/files/5464940/flutter-bond-logz1.docx)

[2020-10-30 11:55] gayatri2610 opened #69393 "Issue in webview_flutter plugin"
Hello ,
I can't intercept http request with help of webview_flutter plugin.

[2020-10-30 11:55] gayatri2610 commented on #69393
I am newly in Flutter. I want to use webview in my flutter application. I refer

https://pub.dev/packages/webview_flutter
https://pub.dev/packages/iwebview_flutter
For intercepting css, js, json request from web view. This is nicely working with Android . But in IOS , can’t intercept all request. Problem in NSURLProtocol using with WKWebview.

When I use NSURLProtocol then I can not be login with

[2020-10-30 11:57] romanpozd-tg17 commented on #69379
pubspec.yaml

<img width="1434" alt="Screen Shot 2020-10-30 at 13 57 13" src="https://user-images.githubusercontent.com/33596616/97702548-d8965400-1ab7-11eb-9054-09b19952a5fc.png">

[2020-10-30 11:58] zgegonline commented on #50738
I had the exact same issue as you, the problem is that you .android folder is located in a path with non-ascii characters ("C:\Users\AfonsoGuimarães"), I think. You need to move it.
In order to do that :
 - close all terminals and software related to android
 - you have to move the .android folder located in your user directory in another directory, let's say to "C:\Android\"
 - open C:\Android\.a

[2020-10-30 12:01] aTeamSolace commented on #69380
@darshankawar sir same code is working fine in my other application which is live on the [app ](https://apps.apple.com/in/app/janmakundali-panchang/id1440463337)and [play ](https://play.google.com/store/apps/details?id=com.janmakundali.horoscope&hl=en) store also. This application is made on 1.18 flutter SDK now i update SDK to 1.22 and exact same code use in the current project. Now this error oc

[2020-10-30 12:04] romanpozd-tg17 commented on #69379
I'm trying to integrate flutter inside our native android & iOS applications.
Created flutter module with a screen and some method channels.
The module pushed to a different git repo and integrated to exist native app as a sub module.

To make it work during a development on iOS simulator I've run
`flutter pub get`
inside sub module directory and then
`pod install` .
everything works fine on simul

[2020-10-30 12:10] albertalrisa opened #69395 "Table cell content does not render if FutureBuilder returns widget of different type when state changes"
When using a `FutureBuilder` inside of a `Table`, if the `FutureBuilder` returns different widget type, the second widget does not get rendered. For example, when rendering `CircularProgressIndicator` while `snapshot.hasData` is `false` then switching to `Text` when `snapshot.hasData` is `true` will result in empty cells. Flutter Inspector shows the state of those widgets as `NEEDS-LAYOUT NEEDS-PA

[2020-10-30 12:12] iapicca commented on #69391
@tanya-555 as [shimmer](https://pub.dev/packages/shimmer) is a 3rd party plugin
the right approach should be to open an issue on the dedicated [github](https://github.com/hnvn/flutter_shimmer/issues),
but in this case I see that such an [issue already exist](https://github.com/hnvn/flutter_shimmer/issues/25)
you may want to follow up there

[2020-10-30 12:17] MarcinusX commented on #69034
As it's meant to be the package, I can't force devs wanting to use it to add such big changes to the code :(

[2020-10-30 12:19] krumpli84 commented on #53573
After weeks of frustration, i found a way to get it to work:
https://github.com/flutter/flutter/issues/66104#issuecomment-706235825

[2020-10-30 12:27] yosikal commented on #43620
I have it all the time with my Flutter project. Hot reload became almost completely non functional unless I click hot reload myself.

[2020-10-30 12:33] mikeesouth commented on #43620
Yeah, same here. Just wanted to say: you're not alone. Our team haven't had automatic hot reload for months now. We've all learnt to click "Restart Analyzer" before navigating in the code or refactoring anything. We're also constantly clicking the lightning icon in VS Code to hot reload the view. Very, very, irritating.

[2020-10-30 12:37] moodstubos commented on #43620
my solution: add a shortkey for hot reloading to CTRL+D
so: edit code, press CTRL+S for saving, afterwards press CTRL+D
just a workaround, but helped me avoid moving hand to mouse

[2020-10-30 12:39] TahaTesser commented on #69104
Hi @EchoPuda
I can reproduce the issue on non-fullscreen ios, it doesn't reproduce on XR, it has to be ios manu from the bottom to break the scrolling animation

Code Sample
https://github.com/EchoPuda/test_UiKitView

| Fullscreen | Non-fullscreen |
| --------------- | --------------- |
[iphone_xr.MOV.zip](https://github.com/flutter/flutter/files/5465114/iphone_xr.MOV.zip) | [iphone_8.zip](https:/

[2020-10-30 12:40] ialhashim opened #69396 "RTL text rendering glitch on web"
When hovering over an interactive element (e.g. a regular FlatButton), the text is drawn incorrectly as seen here (GIF):

![ezgif-7-ec426dbce091](https://user-images.githubusercontent.com/2434978/97706922-88bf8900-1ac7-11eb-9e79-11d6f826477a.gif)

Digging a bit more into it, it seems that when displaying the element as a `flt-dom-canvas` everything looks good but when its turned into a canvas elem

[2020-10-30 12:43] jba-tm commented on #69303
flutter doctor -v:

[√] Flutter (Channel stable, 1.22.2, on Microsoft Windows [Version 10.0.19041.572], locale tk-TM)
    • Flutter version 1.22.2 at C:\flutter
    • Framework revision 84f3d28555 (2 weeks ago), 2020-10-15 16:26:19 -0700
    • Engine revision b8752bbfff
    • Dart version 2.10.2

[√] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
    • Android SDK at

[2020-10-30 13:00] mehtahardikr commented on #68594
@justinmc  : for more detailed demo please check with  google play store app and open any app details open any screenshots attached for that. and see that they scroll also and you can zoom in/out single image also.So you will get more idea.
Thanks!

[2020-10-30 13:10] jba-tm commented on #69303
It's not about my code. There is some released application in the play market, I install it to my phone device. Then connect my device to pc and test own apps. When build is running I minimize my develop app and open realesed app.  Data (in json format), developer use print function during development, is being printed at this time.

[2020-10-30 13:15] darshankawar commented on #69372
@jackdreillyvia Thanks for confirming. Closing this as duplicate of [23604](https://github.com/flutter/flutter/issues/23604)

[2020-10-30 13:15] #69372 closed

[2020-10-30 13:20] jba-tm commented on #69303
Does it secure? If print function work from realesed app, in theory can I it with every function?

[2020-10-30 13:21] Tregan opened #69397 "Add 'enableFeedback' to TabBar (and maybe other standard widgets?)"
## Use case

I want to add custom tap/press sounds to button presses. To avoid double sounds I have to set `enableFeedback` on button Widgets to `false`. ElevatedButton, TextButton and OutlinedButton now work with ButtonStyle and IconButton has the `enableFeedback` parameter, but TabBar seems to be one of the few that does not support this.

To achieve what I wanted to do I had to make a copy of p

[2020-10-30 13:21] pedromassangocode commented on #68930
I'm closing this as a duplicate of https://github.com/flutter/flutter/issues/68930.

Please follow up on that issue for updates.
Thank you

[2020-10-30 13:22] darshankawar commented on #69321
Don't have Windows setup to verify this, but removing `mac` specific label and updating title.

[2020-10-30 13:22] maskletter commented on #68586
当我将版本更新成beta，并且-enable-web之后，也出现了这个问题

[2020-10-30 13:25] yash1200 commented on #69390
@talamaska I would like to work on this one.

[2020-10-30 13:26] darshankawar commented on #69329
@hatimkh20
Can you confirm if the failure isn't due to network ? Also, we'll need logs that will show some kind of exceptions. Can you provide `flutter run --verbose` ?

[2020-10-30 13:28] hatimkh20 commented on #69329
no it's not due to network issue. wait a minute I also run this command

[2020-10-30 13:29] pedromassangocode commented on #68960
<details><summary>Logs</summary>

[code]
</details>

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-10-30 13:30] hatimkh20 commented on #69329
F:\Flutter\Project\calculator>flutter run --verbose
[ +190 ms] executing: [F:\Flutter\flutter/] git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +80 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[   +1 ms] 470346f77591d38234fa2930583a6f4f582e77e7
[   +1 ms] executing: [F:\Flutter\flutter/] git tag --points-at HEAD
[  +52 ms] Exit code 0 from: git tag

[2020-10-30 13:30] darshankawar commented on #69269
@Lanch92
Ran the code from zip you sent and was able to launch the app. Not sure if it contains the launch screen code, because I didn't see any. How to replicate the issue you are facing using the zip your shared ?

[2020-10-30 13:37] darshankawar commented on #69329
@hatimkh20
Provide `flutter precache -v` to see if it shows anything failing.

[2020-10-30 13:38] tgucio commented on #69296
The behaviour is the same on MacOS so we can probably add platform-mac. Didn't test on Linux but I'd assume it's no different.

[2020-10-30 13:45] hatimkh20 commented on #69329
i was able to create new project and also run it 3 days back but not now. now I am not able to create new project nor I am able to view my old projects

[2020-10-30 13:50] tomaash opened #69398 "remove DropdownButton's minimum itemHeight on web"
## Use case
Flutter's Material `DropdownButton` has required minimum item height of `kMinInteractiveDimension`. It's impossible to set it to lower value, as the widget will crash due to `assert(itemHeight == null || itemHeight >=  kMinInteractiveDimension)`

While this makes some sense on touchscreen devices (to prevent creating areas which would be hard to interact with), it makes absolutely no s

[2020-10-30 13:50] raveesh-me commented on #39963
@Piinks thank you so much for work on this. Now we dont have this issue in release, but have this issue in debug builds.

Output for my flutter doctor:
[code]

[2020-10-30 13:51] TahaTesser commented on #53577
### Preview
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/48603081/97712919-1e1d4600-1ae5-11eb-9fea-f487171ef614.gif)

<details>
<summary>complete code sample</summary>

[code]

[code]

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-30 13:54] #67840 closed

[2020-10-30 13:54] parthprakharmishra commented on #67840
Solved by reinstalling flutter

[2020-10-30 14:00] darshankawar commented on #69329
@hatimkh20
Did you upgrade Flutter between then and now ? It's hard to tell what exactly is causing issue if there's no error log. Try to find what exactly is causing the issue you are facing by seeing what worked earlier and why isn't working now.

you may try to uninstall and install Flutter again to see if it works. Also, provide `flutter precache -v`

[2020-10-30 14:00] hinadong commented on #69368
[✓] Flutter (Channel stable, 1.22.2, on Mac OS X 10.15.7 19H2, locale zh-Hans-CN)
    • Flutter version 1.22.2 at /Users/doubledong/flutter
    • Framework revision 84f3d28555 (2 weeks ago), 2020-10-15 16:26:19 -0700
    • Engine revision b8752bbfff
    • Dart version 2.10.2
    • Pub download mirror https://pub.flutter-io.cn
    • Flutter download mirror https://storage.flutter-io.cn

[✓] Android

[2020-10-30 14:04] ghenry opened #69400 "flutter run "Device creation failed (device == nil)" using Xcode Version 12.1"
## Steps to Reproduce

I'm build an existing app on Xcode 12.1 after a `flutter clean`. Obviously some file is out of date, but I've not seen this before. This is already working on iOS 14 and Xcode 12, but that didn't have the new iPhone 12 devices in the list.

## Logs

[code]

[code]

[2020-10-30 14:05] wverdese opened #69401 "ExpansionTile doesn't allow maintaining the rotation on a custom trailing widget"
## Use case
I have custom icon assets in my project. I want to use one as a trailing for my ExpansionTile, but I want it to rotate on tap as the default one does.

Currently, `ExpansionTile` allows passing a widget to be used as trailing, which will replace the one that is created internally. The bad news is that there is no way to maintain the `RotationTransition` that the widget applies to the d

[2020-10-30 14:06] pedromassangocode commented on #69388
Maybe P3 since this is not blocking any customer?
Feel free to increase the priority if necessary.

[2020-10-30 14:08] hinadong commented on #69368
**flutter run --verbose**
_[ +232 ms] Service protocol connection closed.
[        ] Lost connection to device.
[   +2 ms] DevFS: Deleting filesystem on the device (file:///private/var/mobile/Containers/Data/Application/D19FE1F8-AA98-4FEC-B06F-1FF0D4F93787/tmp/megazG9UTC/mega/)
[ +254 ms] Ignored error while cleaning up DevFS: TimeoutException after 0:00:00.250000: Future not completed
[   +1 ms]

[2020-10-30 14:09] mohamedhasan2002 commented on #69384
**flutter doctor -v OUTPUT:**

hasan@hasan-Lenovo-ideapad-320-15IAP:~/Desktop/ChitChat-master$ flutter doctor -v
[✓] Flutter (Channel master, 1.24.0-4.0.pre.138, on Linux, locale en_GB.UTF-8)
    • Flutter version 1.24.0-4.0.pre.138 at /home/hasan/snap/flutter/common/flutter
    • Framework revision 13896b3bd1 (35 hours ago), 2020-10-28 19:43:19 -0700
    • Engine revision 073263e39d
    • Dart ve

[2020-10-30 14:11] hinadong commented on #69368
[code]

[2020-10-30 14:13] hinadong commented on #69368
@vanlooverenkoen   @TahaTesser

[2020-10-30 14:24] sheepych opened #69402 "When creating a fluent project, how to set the local gradle instead of automatic generation"
When creating a fluent project, how to set the local gradle instead of automatic generation

[2020-10-30 14:26] brenzi commented on #29647
Any update on this? I need a callback *before* hot-restart

[2020-10-30 14:26] pedromassangocode commented on #69303
Hi @jba-tm
I can't tell without reproducing the issue.

@blasten @jonahwilliams this seems to be related to https://github.com/flutter/flutter/issues/46815.

[2020-10-30 14:29] TahaTesser commented on #69296
Hi @tgucio
Yep, I can also see the issue on Linux, Popos 20.10, and Mac, it's just a general desktop mouse issue

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-30 14:34] jakemac53 opened #69403 "Doctor command should check that you have SDK constraints in your package"
## Use case

The min Dart SDK constraint specifically now has meaning, as it determines your language version. All packages, even non-published ones _should_ have an SDK constraint to prevent breakage by new language features which may be breaking (ie: null safety).

## Proposal

The `doctor` command should check that you have a min sdk constraint on the Dart SDK, and if not suggest one.

It may n

[2020-10-30 14:36] mit-mit commented on #69403
`flutter doctor` checks the installation, not a project. But @pq is adding linting for `pubspec.yaml` right now, I think we could fairly easily add a lint for it?

We also have `flutter fix` that could perhaps add the missing constraint?

[2020-10-30 14:38] pedromassangocode commented on #69384
Hi @mohamedhasan2002

I see this error in the logs:
[code]

From what I can see, the issue is related to a 3rd party plugin rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/fluttercandies/extended_image).
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `

[2020-10-30 14:38] #69384 closed

[2020-10-30 14:39] hugovangalen commented on #68603
FWIW, I am seeing reports with a similar crash on iOS 13.6.1 (17G80) so it doesn't seem to be limited to iOS 14. (Although I must admit that I am not 100% sure my crashes are caused by the same issue as your crashes. So far, for my app, these crashes occur when the app is backgrounded.)

[2020-10-30 14:41] kovalyovi commented on #43620
I've done the same thing but CTRL+R and automatically press CTRL+S + CTRL+R whenever that happens. It saves tons of time using the mouse to navigate to the Hot Reload button. I should've shared it earlier so thank you, @moodstubos!

I assume it kicks it off because of the size of the project or some dependencies but have no idea how.

[2020-10-30 14:45] peterIrving commented on #69233
Taha, thank you for all of your help. What ended up working for me was updating from MacOS 10.15.6 to 10.15.7. Not sure if it was the OS version or if the update did something to refresh my credentials.

For anyone curious, I am running
iOS 14.1
MacOS 10.15.7
Xcode 12.1
Flutter 1.22.2

Thanks!

[2020-10-30 14:45] #69233 closed

[2020-10-30 14:45] ghenry commented on #69400
These helped me resolve this:

 https://stackoverflow.com/questions/44418905/images-xcassets-error-failed-to-find-a-suitable-device-for-the-type-simdevicet
 https://github.com/flutter/flutter/issues/60030

basically a reboot or:

`sudo killall -9 com.apple.CoreSimulator.CoreSimulatorService`

and opening the simulator again.

Very embarrassed, but leaving this here for Google foo.

[2020-10-30 14:45] #69400 closed

[2020-10-30 14:53] liudonghua123 commented on #69360
@TahaTesser Hi, I removed `cache` directory and tried again, but it was the same.

[code]

Is there any more verbose option of flutter which I can see more details on what's going on.

[2020-10-30 14:53] gspencergoog commented on #69252
Yes. :-)

[2020-10-30 14:57] TahaTesser commented on #69391
Hi @tanya-555
@iapicca is correct

From what I can see, the issue is related to a 3rd party plugin rather than to Flutter itself. Please open the issue in the dedicated repository
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yaml`
a minimal reproducible code sample that

[2020-10-30 14:57] #69391 closed

[2020-10-30 15:02] mikeesouth commented on #43620
It's funny that several of us have just given up on the analyzer actually working and we all use workarounds for hot reload. I've even started using Ctrl+Shift+F (find in files) to find the definition for a method instead of pressing F12 (go to definition) since F12 does not work without the analyzer. Even if I click "Restart" on the Analyzer it takes some seconds (maybe up to 30-60 sec?) before F

[2020-10-30 15:03] TahaTesser commented on #69393
Hi @gayatri2610
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-10-30 15:06] rezajalilian commented on #33245
Excuse me, can you tell me what I should do now to avoid getting a 404 error? Do I have to do something on the server side? You can give a sample of your code

[2020-10-30 15:09] leonardosetiadi opened #69406 "image_picker error"

[2020-10-30 15:09] #69406 closed

[2020-10-30 15:10] jakemac53 commented on #69403
If that means that `flutter analyze` would cover it that might be enough - but note that the output of that in this scenario will be overwhelming because the package will be opted in but not migrated. So I doubt it will be very  useful?

[2020-10-30 15:14] NtZheng opened #69407 "Image.network doesn't update when providing legal url after illegal url"
# my code
[code]
# problem description
1. when the url becomes illegal, errorBuilder is entered at this time
2. then the url becomes legal. After re-build, debug with breakpoints and find that the url has been updated to a legal url, but it still enters the errorBuilder, and the url of the error message in the errorBuilder is still the previous illegal url（
You can refer to the screenshot below）

[2020-10-30 15:19] TahaTesser commented on #69392
Hi @whatscoder
Can you please isolate the code causes and create a minimal code sample and provide steps to reproduce
Can you please provide `flutter run --verbose` logs, and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)?
Thank you

[2020-10-30 15:21] jonahwilliams commented on #69388
This is mostly an intention feature - asset variants. The idea is that you can automatically pick up multiple resolutions of the same image and have the framework select them at runtime.

[code]

Of course, it is not actually restricted to 2x, 3x as you've discovered here....

[2020-10-30 15:24] jwinarske opened #69408 "[Engine] assert(custom_sysroot != "")"
Beta channel: 1d12d82d9cb54876f58044aa52198d53ec841c3d

This came in on a commit since yesterday.

[code]

[2020-10-30 15:24] jwinarske commented on #69408
@csells

[2020-10-30 15:30] TahaTesser commented on #69402
hI @sheepych
If I am not mistaken you are looking to use local Gradle with flutter, you can set `GRADLE_HOME` path to local Gradle and flutter won't generate it's Gradle, will use whatever GRADLE_HOME points to
https://docs.gradle.org/current/userguide/installation.html#linux_macos_users_2

lease see https://flutter.dev/community for resources and asking questions like this,
you may also get some

[2020-10-30 15:30] #69402 closed

[2020-10-30 15:34] nt4f04uNd commented on #67059
@darshankawar those articles are not related to debugging the Flutter platform tools themselves so I can't really understand how do I investigate this. If you consider inability to replicate the issue is enough to close it, then ok. Would like to know what @goderbauer thinks of it though.

[2020-10-30 15:40] vaimikpatel2908 commented on #69208
Yes, still exists.

just a change in a main .dart
[code]

drawer.dart
[code]

[2020-10-30 15:41] AlexV525 commented on #69388
When it comes to production cases, assets like the demo in my test app, such as separate placeholder can cause confusing behaviors.

And what about the solution that @yash1200 suggested?

[2020-10-30 15:41] kovalyovi commented on #43620
I guess there are two different issues. My problem is that Dart Analyzer crashes, I have to restart it (takes 2-5 seconds) and then everything works except for Hot Reload on Save, whereby I have to manually Hot Reload with a shortcut (CTRL+R). The Dart Analyzer crashing and taking much time to restore is a different issue I guess discussed on this thread.

[2020-10-30 15:43] TahaTesser commented on #69395
<details>
<summary>flutter doctor -v</summary>

[code]

[code]

[code]

</details>

[2020-10-30 15:44] cmee123 commented on #69354
What do you mean when you said going to Android Studio -> Select Android Studio--> Preferences--> Dart Path locate. Where do I do this?

[2020-10-30 15:46] jonahwilliams commented on #69388
I think the right fix would to restrict the asset variant code to strings that the framework can parse

[2020-10-30 15:51] TahaTesser commented on #69396
Hi @ialhashim
For me, RTL doesn't render properly using simple FlatButton with mixed Text as shown in your GIF

<img width="167" alt="Screenshot 2020-10-30 at 9 20 23 PM" src="https://user-images.githubusercontent.com/48603081/97726912-c0ddc080-1af5-11eb-878d-8aee905730bc.png">

<details>
<summary>code sample</summary>

[code]

</details>
<details>
<summary>flutter doctor -v</summary>

[code]

</d

[2020-10-30 15:52] mikeesouth commented on #43620
I guess the restart time depends on the project size. My project is fairly large. So the analyzer takes time to analyze all the files and finding all the references. I believe it's the same issue but I'm not sure of course.

[2020-10-30 15:52] shao8843 commented on #63922
How can I get the patch?

[2020-10-30 15:53] MysticalNobody commented on #58247
After these actions, the app not running properly on some devices(for example on Samsung s20+) or some errors in google maps(crashes and etc).
(now I cant ad logs, because of all these errors in customer devices, but I will update this message when I will have logs)
Before this OP's error app was fully stable and work

[2020-10-30 16:00] abaturyna commented on #69283
Hi @pedromassangocode  I have fixed the issue . Thank you very much that you tried to help me!!!! so, in order to prevent this issue for flutter_exif_rotation plugin i put 14.0 version to Podfile and to XCode workspace settings for Runner and Target .

Also, i have talked to sqflite team - they released update where version of FMDB was increased. Which is cause of this problem. So i downgraded tem

[2020-10-30 16:02] safeDev15 commented on #69026
if I give you the code, could you try also without the PAX IM700 device?

[2020-10-30 16:04] #58397 closed

[2020-10-30 16:04] cmee123 commented on #69354
I am also getting an error saying:
 PowerShell executable not found.
       Either pwsh.exe or PowerShell.exe must be in your PATH.

What does this mean and how can I fix it? Sorry, I am new to this and don't know what I am doing.

[2020-10-30 16:04] chinmoy12c commented on #69397
Working on this issue. Would like some suggestions on the widget list where feature is required.

[2020-10-30 16:05] TahaTesser commented on #69407
Hi @NtZheng
It says illegal for me, can you please example of an illegal link to make to reproduce this issue? and steps to reproduce the issue

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-10-30 16:08] misici234 opened #69410 "websocket_impl.dart file has uri bug"
## Steps to Reproduce
This is very simple to reproduce. Due to this bug websocket_impl.dart can't connect using WebSocket.
Go to https://dart.dev/#try-dart and enter following code
main() {
  String url = 'wss://hello.world.com/myHub?v=abcdefgh';
  Uri uri = Uri.parse(url);
  uri = Uri(
      scheme: uri.scheme == "wss" ? "https" : "http",
      userInfo: uri.userInfo,
      host: uri.host,

[2020-10-30 16:09] Piinks commented on #39963
Hi @raveesh-me can you please file a new issue with a runnable sample of code that reproduces this issue? Thanks!

[2020-10-30 16:13] #68702 closed

[2020-10-30 16:14] #66412 closed

[2020-10-30 16:18] #67972 closed

[2020-10-30 16:18] #57801 closed

[2020-10-30 16:19] kovalyovi commented on #43620
My project is 60'000 lines of code so I assume it's fairly large as well. Maybe it depends on the dependencies of the project.

[2020-10-30 16:25] abhishekove commented on #68985
I am trying to do edge detection in flutter and I am using java with tflite model to do so with the use of OpenCV.

[2020-10-30 16:26] abhishekove commented on #68984
I want something like this.
[https://github.com/flutter-clutter/flutter-simple-edge-detection](url)

[2020-10-30 16:28] ialhashim commented on #69396
Here is a complete reproducible minimal code sample:
[code]

When running `flutter run --debug --dart-define=FLUTTER_WEB_USE_SKIA=true -d chrome -v` I get the same thing with boxes (i.e. missing Arabic letters). I am including the output here.

<details>
<summary>Complete reproducible minimal code sample</summary>

[code]
</details>
With `FLUTTER_WEB_USE_SKIA=false` we can see the letters but the

[2020-10-30 16:32] chinmoy12c commented on #69398
Working on the issue.

[2020-10-30 16:33] kf6gpe opened #69411 "Regression in diff-min test flutter_gallery__memory_nav"
See https://flutter-flutter-perf.skia.org/e/?begin=1603897001&end=1604032912&keys=Xb89e35c986a650a0bf9142de23b3f1bb&requestType=0&xbaroffset=22270

Looks like commit https://github.com/flutter/flutter/pull/69264, relanding the staging of web tests.

cc @jonahwilliams, author of the reland commit.

[2020-10-30 16:34] kf6gpe commented on #69411
Or could be https://github.com/flutter/flutter/pull/69307, maybe? This is a test change.

[2020-10-30 16:40] jonahwilliams commented on #69411
It was definitely #69307 - I think my question is how would that negatively impact memory usage? Since we don't spin up an additional isolate, I would think memory usage would be lower generally - unless of course we're measuring wrong.

FYI @aam

[2020-10-30 16:41] jonahwilliams commented on #69411
This test is using adb to measure memory so its not caused by something like only looking at one isolate's memory

[2020-10-30 16:42] superakabo opened #69412 "BouncingScrollPhysics does not work properly in CustomScrollView."
## Steps to Reproduce

[code]
When there are few items to be scrolled, setting the physics of the CustomScrollView to BouncingScrollPhysics() behaves as if ClampingScrollPhysics() is being used even on iOS. However, it works as expected on Android and iOS when physics is not set for the CustomScrollView.

[code]

[2020-10-30 16:43] gaaclarke commented on #69361
Did you look at the images to see what the difference is?  I believe I changed golden image logic to use RMSE with a fixed threshold.  We could adjust that threshold something about this test is not deterministic but also not wrong.

[2020-10-30 16:46] jonahwilliams commented on #69411
Looking at https://github.com/flutter/flutter/blame/bb495ba90c63ba026450d37175d5c279c3b8a632/dev/devicelab/lib/tasks/perf_tests.dart#L1220

It looks this is the difference between memory at the end and memory at the start. If we use less memory at the start (due to not spinning up an isolate) then this would increase.

This seems to be confirmed by https://flutter-flutter-perf.skia.org/e/?queries=

[2020-10-30 16:46] jonahwilliams commented on #69411
This is actually a positive change

[2020-10-30 16:47] alberduris commented on #69381
Hi @darshankawar

Thanks for looking at this.

You are right, it works fine in the example app. However, I have installed my app in a newly created Device Emulator, and there is working fine (as it worked fine on my physical LG G6 device).

So, I don't think that this is a bug that occurs consistently, but there must be a bug somewhere, as suddenly my app is "remembering" an old shared preference.

[2020-10-30 16:48] alexodus opened #69413 "[video_player] 0.11.1+3 and 0.11.1+4 not published"
on pub.dev the last is 0.11.1+2

[2020-10-30 16:49] cyanglaz commented on #69361
I couldn't repro the flake locally. And we have 7 consecutive success runs on LUCI now.
+1 on adjust the threshold for the opacity test.

[2020-10-30 16:51] monizj opened #69414 "Module 'cloud_firestore' not found"

[2020-10-30 16:55] jacob314 commented on #68507
This was just command line. It is possible some dependencies have already been updated and this no-longer repros.

[2020-10-30 16:56] jonahwilliams opened #69416 "Adjust auto-detect logic for flutter web null safety"
In https://github.com/flutter/flutter/pull/69405 I will land an approximation of the sound/unsound mode detection to move the roll through.

The "real" fix needs to check:

1. 2.12 language version or 2.11/2.10 language version for opted-in packages (Latter might be ignorable)
2. language version of entry-point library.

This does not need to run on mobile/desktop which can use CFE auto-detection

[2020-10-30 16:56] RoyARG02 opened #69417 "[flutter_tools] flutter upgrade --verify-only shows commit hashes instead of framework version"
As per #68866, running `flutter upgrade --verify-only` should show the differences in the framework versions between any update and the one installed in the user's system.

However, it shows the commit hashes instead.

## Steps to Reproduce

Run `flutter upgrade --verify-only` when having an update available in the `master` channel.

**Expected results:**
Running the above command shows the framew

[2020-10-30 16:56] tvolkert commented on #44136
With flutter/engine#21525 merged, is this fixed now?

[2020-10-30 16:59] knopp commented on #44136
It is, on Mac. There are still issues on Windows (I plan to do PR for it in a bit) and I have no clue what the situation is like on Linux.

[2020-10-30 16:59] gspencergoog commented on #69366
This seems reasonable, but I worry a little bit about the effects on apps that already have customized their traversal order the way they like it, or that want a traversal order that (for instance) goes across columns of lists instead of down. If there were groups in place around the lists that they couldn't remove, it would be pretty hard to make that happen.

In the default case, though, this se

[2020-10-30 17:33] jonahwilliams opened #69421 "Flake in long running web integration tests: connection reset by peer"
[code]

https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8864995775464176832/+/steps/run_test.dart_for_web_long_running_tests_shard_and_subshard_1/0/stdout

[2020-10-30 17:50] jonahwilliams opened #69423 "Flutter drive smoke tests are timing out on CI"
https://github.com/flutter/flutter/pull/69405/files#r515277467

[2020-10-30 17:58] arfeenmushtaq opened #69424 "Animated Icon: add_Close"
Hi guys,
  I need an Animated Icon which starts with Add Icon and ends with Close Icon. this is a very simple request and in the absence of this icon a lot of developers including myself are coding these icons

[2020-10-30 18:00] #69109 closed

[2020-10-30 18:05] jonahwilliams commented on #69411
FYI @liyuqian , this benchmark can be pretty confusing if we decrease start up memory. Though might be worth talking about as a perf improvement, if I'm reading this correctly we're using 10 MB less memory at startup

[2020-10-30 18:06] acoutts commented on #18761
I find it's really hard to make text behave correctly with overflows while in one line. Hoping for a fix soon.

[2020-10-30 18:07] justinmc commented on #55177
This is now possible with https://github.com/flutter/flutter/pull/66785.

[2020-10-30 18:07] #55177 closed

[2020-10-30 18:12] cyanglaz commented on #65334
Thanks @mikeesouth for sharing the debug info.
For people who still experience the same issue as the original post, https://github.com/flutter/flutter/issues/65334#issuecomment-689609774 might help. I'm going to close this issue.

If you experience a similar issue that cannot be resolved with https://github.com/flutter/flutter/issues/65334#issuecomment-689609774, it is probably a slightly differen

[2020-10-30 18:12] #65334 closed

[2020-10-30 18:14] danilofuchs opened #69425 "Flutter Test should support multiple reporters"
## Use case

When running `flutter test` on a CI, output is very verbose and hard to follow:

![image](https://user-images.githubusercontent.com/17657014/97740642-56f6f400-1ac0-11eb-8118-a0bf43f0629b.png)
(this goes on for 200+ lines)

The current alternative is to output to json with `flutter test --machine`. This is even more verbose, but can be converted to JUnit XML so we can use a specialized

[2020-10-30 18:17] MeshkaniMohammad commented on #60030
Worked for me too.

[2020-10-30 18:20] DanielEdrisian commented on #68509
@sanekyy Can you provide more context on this issue?

[2020-10-30 18:22] YeungKC commented on #9728
Now you can use

[code]

I believe it also solves the issue.
And because of the discussion at https://github.com/flutter/flutter/pull/69323, I recommend closing this issue.

cc @justinmc @Hixie

[2020-10-30 18:24] justinmc commented on #69082
There has not been a cherry pick discussion for it as far as I'm aware.  I didn't think that it was a regression when I was working on it, are we sure that it is?  I'm on board with cherry picking if it's important enough.

[2020-10-30 18:24] DanielEdrisian commented on #67108
@guidezpl I'm interested in hearing your thoughts on this

[2020-10-30 18:26] liyuqian commented on #69411
Agree it's confusing as the metric isn't monotone when the performance improves. We've had similar situations before with missed frames metrics which triggered us to replace them with 90th, 99th percentiles (https://github.com/flutter/flutter/issues/18727).

I'm not sure what's a good replacement though. One question is: if we reduce 10 MB memory at startup, why didn't we also reduce 10 MB memory

[2020-10-30 18:31] ncuillery commented on #22193
FYI, it also breaks the e2e tests using flutter driver

[2020-10-30 18:31] DanielEdrisian commented on #51542
Closing since the adaptive constructor indicates `activeColor` is ignored.

[2020-10-30 18:31] #51542 closed

[2020-10-30 18:31] #20879 closed

[2020-10-30 18:32] shamilovtim commented on #53788
No you cant if you use the 'middle' widget it unceremoniously appears while the largeTitle is active (which according to the docs isn't a bug, but I don't understand why that's not a bug).

Yes that would be one way of solving this issue

No I'm specifically asking that there be an option for them to be considered separate widgets. Consider this: for whatever reason a dev wants them to be two diff

[2020-10-30 18:35] DanielEdrisian commented on #44120
Designed for iPad direction is to use context menus instead of action sheets. Just as an FYI

[2020-10-30 18:36] jonahwilliams commented on #69411
Because it was a temporary memory allocation from the isolate used to parse the asset manifest

[2020-10-30 18:40] goderbauer commented on #68986
This is working as expected (and the question is probably better suited for stackoverflow than our issue tracker). In a nutshell, here is what's happening: `tester.tap` dispatches taps to the center of the element found by the provided finder. In this case, they are dispatched to the center of the `GestureDetector`. However, the GestureDetector is configured to only detect gestures if its child is

[2020-10-30 18:40] #68986 closed

[2020-10-30 18:41] liyuqian commented on #69411
If it's temp, shouldn't it be GCed by the end of the test run?

[2020-10-30 18:43] sanekyy commented on #68509
I can't provide selectionOverlay to CupertinoTimerPicker to override default value of this parameter.

I want customize it, but I can't with current api.

[2020-10-30 18:45] DanielEdrisian commented on #32172
@LongCatIsLooong should we keep this issue open?

[2020-10-30 18:46] jonahwilliams commented on #69411
It was: The end memory stayed the same, the start memory decreased. So the diff did increase, but none of the component measurements got worse

[2020-10-30 18:47] KabluBR commented on #69254
One more update on the error...

I was not posting this but it was a little strange... anyway...

Situation 1
If I click to run the debug in Android Studio, it opens the chrome and in some seconds the mentioned error appear...

Situation 2
If I click debug and when it opens the browser chrome I quickly open inspector and toggle the view to mobile view (device view) before the project loads, the er

[2020-10-30 18:52] jmagman commented on #58200
Closing.  If anyone else can confirm they can submit their app on the master channel that would be helpful!

Hotfix request initiated for #68729.

[2020-10-30 18:52] #58200 closed

[2020-10-30 18:55] Hixie commented on #69366
We'd definitely want this to have an opt-out, like  addAutomaticKeepAlives, addRepaintBoundaries, and addSemanticIndexes.

[2020-10-30 18:57] #27608 closed

[2020-10-30 18:58] DanielEdrisian commented on #27946
Closing since it's centered now.

[2020-10-30 18:58] #27946 closed

[2020-10-30 18:58] yjbanov commented on #69421
@jonahwilliams Do you have any intuition about what might be printing this error message? Is it in the tool? How can we get a stack trace out of it?

[2020-10-30 18:59] jonahwilliams commented on #69421
If it has the tool you would see a stack trace or error report

[2020-10-30 19:00] jmagman commented on #69334
Not sure this will be possible without also doing https://github.com/flutter/flutter/issues/36204 since the iphoneos and iphonesimulator ARM frameworks can't be lipo'd together.

[2020-10-30 19:02] Tom1380 commented on #67097
Can you please tell me what info I should send?

[2020-10-30 19:06] sandijs-private commented on #69371
I updated my demo git repository with exactly the version you mentioned: image_picker: ^0.6.7+12

It still crashes.

You need to clone this repo: https://github.com/sandijs-private/flutter-image-picker-crash
Its more basic if compared to video demo app.
Just the image_picker. Nothing else.

You need to launch it on Simulator (iPhone 12, iOS 14.1)

I would suggest to delete all cached libraries (rm

[2020-10-30 19:12] HerrNiklasRaab opened #69429 "Improve the experience for Test-Driven-Development (TDD)"
# Use case
According to [flutter.dev](https://flutter.dev/) one of the things flutter aims at is fast development. I think being able to develop in a TDD workflow contributes to this goal.

In our case, we have suite about 500 tests, consisting of unit and widget tests. In order to facilitate a real TDD workflow, all the tests should run very fast. There are some sources that suggest a maximum exe

[2020-10-30 19:12] LongCatIsLooong commented on #32172
@DanielEdrisian charging my iPhone 6. I'll try to repro when it boots up.

[2020-10-30 19:20] DanielEdrisian commented on #42430
@xster this seems legit. Should we drop the assert?

[2020-10-30 19:21] YeungKC commented on #3303
Could you please provide a minimum recurrence code?

cc @Hixie

[2020-10-30 19:22] YeungKC commented on #3756
Could you please provide a minimum recurrence code?

cc @Hixie

[2020-10-30 19:24] DanielEdrisian commented on #42796
Support:
- Inline submenu
- Nested submenu

[2020-10-30 19:29] ThexXTURBOXx opened #69431 "[engine] Three (or more) finger gestures on certain widgets make app unusable"
## Description
When using 3 or more fingers on the Google Map, then the app throws an exception.
After this exception is thrown once, it also gets thrown when using any other gesture (one or two fingers).
The problem then persists until the app is restarted.

## Test Environment
I tested this on a Xiaomi Mi9T Pro with the Xiaomi.eu rom version 20.10.29 using my main app, a custom made app for this

[2020-10-30 19:29] maxwillf commented on #48016
I'm facing the same issue even on release. Immediately after opening the gallery or the camera the apps loses connection and when i finish choosing the image the app is back to home screen (and i lose the information on the image i've chosen).

Obs: It is definitely not a permission problem since everything opens just fine.
Plugin version: image_picker 0.6.7+12
Device: zenfone max plus m2 (android

[2020-10-30 19:32] DanielEdrisian commented on #42815
See https://github.com/flutter/flutter/pull/42890#issuecomment-545135420

[2020-10-30 19:32] #42815 closed

[2020-10-30 19:44] christopherfujino commented on #67582
Resolved

[2020-10-30 19:44] #67582 closed

[2020-10-30 19:46] jonahwilliams opened #69433 "[tool_crash] WebSocketChannelException"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
WebSocketChannelException
[code]
[code]

## Flutter Application Metadata
**Type**: null
**Version**: null
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel**: null
**Creation framework version**: null
### Plugins
connectivity-

[2020-10-30 19:48] student020341 commented on #33641
Wow, that just saved me as well. I have an interactive viewer that contains a large image and has a transformationcontroller. I have a listener on the controller that swaps the images at different scales to give better resolutions of different levels. It was unclear to me why that while the image was being swapped, continuing to scroll yielded a massive scroll delta that jumped straight to the max

[2020-10-30 19:52] hatimkh20 commented on #69329
F:\Flutter\Project\calculator>flutter precache -v
[ +166 ms] executing: [F:\Flutter\flutter/] git -c log.showSignature=false log -n 1 --pretty=format:%H
[ +370 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[   +3 ms] 470346f77591d38234fa2930583a6f4f582e77e7
[   +3 ms] executing: [F:\Flutter\flutter/] git tag --points-at HEAD
[+1587 ms] Exit code 0 from: git tag -

[2020-10-30 19:57] Tregan commented on #69397
- BottomNavigationBar (InkResponse)
- DropdownButton (Inkwell in _DropdownMenuItemButtonState)
- FloatingActionButton (RawMaterialButton)
- TabBar (InkWell)
- PopupMenuButton (Inkwell in tooltip, IconButton)

I think that should cover a lot.

[2020-10-30 20:00] alberduris commented on #69381
Hi,

I found this problem in Stackoverflow: https://stackoverflow.com/questions/33169618/an-android-app-remembers-its-data-after-uninstall-and-reinstall

It seems that I can solve the issue by setting the following change in Android Manifest:
    <application
        android:allowBackup="false">

But it comes back when I quit it that statement, as the backup is not removed, just paused. It is a ba

[2020-10-30 20:00] #69381 closed

[2020-10-30 20:00] zanderso commented on #69361
This just failed again at tip-of-tree. I'd suggest landing https://github.com/flutter/engine/pull/22230 on red so we can start getting more info.

[2020-10-30 20:03] ferhatb commented on #68704
@ErnestoSevilla , can you please save your DOM element tree (Chrome Inspect , elements tab, then you can just copy/paste the html to share).

[2020-10-30 20:04] amirh commented on #69309
Removing the custom analysis_options for video_player_web, url_launcher_web, and google_maps_flutter_web is blocked on https://github.com/flutter/flutter/issues/55000 which is blocked on https://github.com/flutter/flutter/issues/41563.

@ditman Until these are resolved, what do you think about working around with conditional imports?

[2020-10-30 20:05] cyanglaz commented on #69361
@zanderso Will do

[2020-10-30 20:10] jonahwilliams opened #69434 "windows build tests failing on infra failure: could not read recipe result file at "C:\b\s\w\ir\tmp\recipe-result.json":"
For example: https://ci.chromium.org/p/flutter/builders/prod/Windows%20build_tests

This has closed the tree and will block rolling the null safe dart into flutter

[2020-10-30 20:10] christopherfujino opened #69435 "could not read recipe result file at "C:\b\s\w\ir\tmp\recipe-result.json""
Multiple reports (from different PRs) of LUCI windows framework presubmit infra failures (across different shards) failing to find the file recipe-result.json.

https://ci.chromium.org/p/flutter/builders/try/Windows%20Plugins/977?
https://ci.chromium.org/p/flutter/builders/try/Windows%20tool_tests/4974?
https://ci.chromium.org/p/flutter/builders/try/Windows%20framework_tests/4209?

[2020-10-30 20:11] jonahwilliams commented on #69434
This might be related to some tests that were timing out and disabled here: https://github.com/flutter/flutter/commit/25622246650f1693ebabda4e4f17deb3453c614a

[2020-10-30 20:11] zanderso commented on #69435
Duplicate of https://github.com/flutter/flutter/issues/69434

[2020-10-30 20:11] #69435 closed

[2020-10-30 20:12] jonahwilliams commented on #69433
Because the tool does not use this package anywhere directly, I'm assuming this is from package:vm_service?

@bkonyi

[2020-10-30 20:13] jonahwilliams commented on #69433
NB: there are no references to dart sources in the stack trace, so this is an unhandled exception that cannot be caught regularly

[2020-10-30 20:13] ferhatb commented on #40649
Fixed by https://github.com/flutter/engine/pull/20821

[2020-10-30 20:13] #40649 closed

[2020-10-30 20:14] chinmoy12c commented on #69398
I think modifying the asset as ```assert(itemHeight == null || kIsWeb || itemHeight >=  kMinInteractiveDimension)``` would suffice? What about the tests?

[2020-10-30 20:15] bkonyi commented on #69433
Sounds like it might be DDS. Can you consistently reproduce this with the command in the issue or is it just flaky?

[2020-10-30 20:18] jonahwilliams commented on #69433
no, it failed as part of a devicelab run:

[flutter_gallery__transition_perf_e2e_ios32_6ce3619_2 (1).log](https://github.com/flutter/flutter/files/5467440/flutter_gallery__transition_perf_e2e_ios32_6ce3619_2.1.log)

[2020-10-30 20:19] christopherfujino commented on #69435
beat me by a minute :)

[2020-10-30 20:19] cyanglaz opened #69436 "Engine LUCI doesn't report screenshot for ScenarioApp tests"
The scenario tests failure on Engine LUCI doesn't record the failing image screenshot, which makes debugging very hard.

For example, in below output of a failed run:
[code]

The log pointed out the test results is in `/Users/chrome-bot/Library/Developer/Xcode/DerivedData/Scenarios-fjbbnoocezxtwtagptzjfpfixapr/Logs/Test/Test-Scenarios-2020.10.30_12-40-41--0700.xcresult`, but this file is deleted u

[2020-10-30 20:22] christopherfujino commented on #69434
Pre-submit occurrences:
https://ci.chromium.org/p/flutter/builders/try/Windows%20Plugins/977?
https://ci.chromium.org/p/flutter/builders/try/Windows%20tool_tests/4974?
https://ci.chromium.org/p/flutter/builders/try/Windows%20framework_tests/4209?

[2020-10-30 20:25] JulianDavidGamboa commented on #33753
A possible solution is that they can validate that the controller does the animation only if the position is different from null

[code]

In this way the error will stop coming out.

[2020-10-30 20:26] bkonyi commented on #69433
Actual exception is: `WebSocketChannelException: WebSocketChannelException: HttpException: Connection closed before full header was received, uri = http://127.0.0.1:57995/ws`.

[2020-10-30 20:38] panthe commented on #46676
Same issue on web

[2020-10-30 20:42] zanderso opened #69438 "AppLifecycleTests testDismissedFlutterViewControllerNotRespondingToApplicationLifecycle is flaky"
https://ci.chromium.org/p/flutter/builders/prod/Mac%20iOS%20Engine/7522

This test crashing then causes subsequent tests to fail as well.

[code]

[2020-10-30 20:44] justinmc commented on #9728
That makes sense to me, I'll go ahead and close this unless anyone objects.  I also wasn't aware of the Focus widget before.

[2020-10-30 20:44] #9728 closed

[2020-10-30 20:44] godofredoc commented on #69434
Seems like a test related problem:

[code]

[2020-10-30 20:45] zanderso commented on #69438
Assigning @xster based on git history of the test

[2020-10-30 20:45] cyanglaz opened #69439 "`drive-examples` times out on master channel in the flutter/plugin repo"
See: https://github.com/flutter/plugins/runs/1333724714

`drive-examples` internally run `flutter drive`

I tried to run a test locally and the app failed to launch with this log:

[code]

My local error and the timeout on CI might be unrelated.

[2020-10-30 20:46] godofredoc commented on #69434
Tests are getting blocked until the task times out and gets killed (50 mins ) after:

https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8864990060682553360/+/steps/run_test.dart_for_tool_tests_shard_and_subshard_integration/0/stdout

[2020-10-30 20:47] keyonghan commented on #69434
https://github.com/flutter/flutter/commit/25622246650f1693ebabda4e4f17deb3453c614a opens the tree.

[2020-10-30 20:48] #65976 closed

[2020-10-30 20:51] cyanglaz commented on #69439
The local failure is running with
[code]
under `https://github.com/flutter/plugins/tree/master/packages/video_player/video_player/example`

And it was run with xcode-11.7 iphone 8 simulator iOS 13.0

[2020-10-30 20:52] bardez commented on #43785
Worked for me! Thanks

[2020-10-30 20:59] stx commented on #68215
Same problem, logs, stack trace. Started out of nowhere while on beta channel (1.23.0-18.1.pre) with no discernible trigger, but once it started, all builds fail through VS Code and terminal. Works through Xcode.

pod redo, flutter clean, Mac restart, iPhone restart, nothing helps.

[2020-10-30 21:02] ditman commented on #69309
@amirh I'll try [this technique](https://github.com/flutter/flutter/issues/41563#issuecomment-626765363) in the Google Maps plugin, which is the one I've modified the most during the last couple of weeks. I'll try to post a PR by EOD today to see if it's enough for us to remove the custom analysis files. If it works well, I'll do it for the other two packages.

[2020-10-30 21:03] Sun3 commented on #69254
@TahaTesser Thanks for posting the hello sample. I ran it from my computer and received the same error as before.

I am pasting the error log from the browser this time showing that the ```url_strategy.dart``` file function ```void setUrlStrategy(UrlStrategy strategy){}``` calling ```jsSetUrlStrategy(convertToJsUrlStrategy(strategy));``` is causing the error.

url_strategy.dart file
[code]

Browse

[2020-10-30 21:18] asketsystem opened #69441 "'package:flutter/src/widgets/title.dart': Failed assertion: line 26 pos 16: 'color != null && color.alpha == 0xFF': is not true."
'package:flutter/src/widgets/title.dart': Failed assertion: line 26 pos 16: 'color != null && color.alpha == 0xFF': is not true.

[2020-10-30 21:19] jpetro416 commented on #59543
I used `shared_preferences: '>=0.5.12+2 <2.0.0'` to make it work

[2020-10-30 21:20] jmagman commented on #66104
I don't think x86_64 ever shows up in the UI, but you can see it if you run:
[code]
vs
[code]
I'm on Xcode 12 so there's ARM simulators in play for Apple Silicon.

[2020-10-30 21:27] xster commented on #69438
Looks like 5/last 100 was this one. 7/100 was PlatformViewMutationOpacityTests testPlatformView.
I'm out in afternoons. Disabling this test. Will check debug monday.

[2020-10-30 21:31] jmagman commented on #66104
Just spotted this from @tizianogioe8 's log:
[code]
And there isn't even an ARCHS build setting, where did that go?

For anyone else seeing this, can you attach the output of `flutter run -v` (it will be large, so attach it)?  Looking for what `ARCHS` is.

[2020-10-30 21:41] karmazinkd commented on #62118
I'm having this issue with even smaller videos ~20Mb, just need to switch between them for about 10 times nad you got it.

`E/LoadTask(17846): java.lang.OutOfMemoryError: Failed to allocate a 65552 byte allocation with 24144 free bytes and 23KB until OOM, max allowed footprint 201326592, growth limit 201326592
E/LoadTask(17846): 	at com.google.android.exoplayer2.upstream.DefaultAllocator.allocate(

[2020-10-30 21:45] jmagman commented on #68215
@stx You mean you are also seeing the "In iOS 14+, debug mode Flutter apps can only be launched from Flutter tooling, IDEs with Flutter plugins or from Xcode." message from `flutter run`?  That's the issue that's being tracked here.  The "Failed to connect directly, falling back to log scanning" message is because the engine isn't starting because it thinks it's being launched without an attached

[2020-10-30 21:51] cyanglaz commented on #69439
Bisecting says that my local issue was caused by https://github.com/flutter/flutter/commit/36f9af3f55c620a0bbd38b9b0b1f0a9727243cb0

[2020-10-30 21:52] cyanglaz commented on #69439
Log:
[code]
                        export REMOVE_CVS_FROM_RESOURCES=YES
                        export REMOVE_GIT_FROM_RESOURCES=YES
                        export REMOVE_HEADERS_FROM_EMBEDDED_BUNDLES=YES
                        export REMOVE_HG_FROM_RESOURCES=YES
                        export REMOVE_SVN_FROM_RESOURCES=YES
                        export
                        REZ_COLLECTOR_DIR=

[2020-10-30 21:55] liyuqian commented on #69411
I see. So previously the 10MB gets GCed (a -10MB allocation) between start and end, while now that 10MB does not exist anymore. If there's a `baseline_memory` that can measure the memory before such temp memory can ever be allocated by Flutter, we could avoid this kind of confusion.

[2020-10-30 22:00] amirh commented on #69439
Dan is out, cc @jonahwilliams

[2020-10-30 22:22] stx commented on #68215
@jmagman No error displayed, same behavior, logs and stack trace. The original issue title is what I'm experiencing on beta. Is that what https://github.com/flutter/flutter/pull/68756 aims to fix, so it's a non-issue moving forward? Or is there no open issue for the original title?

[2020-10-30 22:37] jonahwilliams commented on #69439
I looked at this a bit with @cyanglaz today and could not reproduce it locally. I suspect something similar to the last time the vm_service migration happened - there is some socket/something keeping the test script open.

[2020-10-30 22:43] ErnestoSevilla commented on #68704
Of course,
[VersionRenderOk
[releasVersionBadRender.txt](https://github.com/flutter/flutter/files/5467978/releasVersionBadRender.txt)
](https://github.com/flutter/flutter/files/5467974/debugVersionWorkOk.txt)

[2020-10-30 22:45] ErnestoSevilla commented on #68704
Of course, I send you two files, one with the version debug that render Ok, and other with the version release that don't render the icons.

[releasVersionBadRender.txt](https://github.com/flutter/flutter/files/5467988/releasVersionBadRender.txt)

[2020-10-30 22:45] ErnestoSevilla commented on #68704
this is in debug mode.
[debugVersionRenderOk.txt](https://github.com/flutter/flutter/files/5467992/debugVersionRenderOk.txt)

[2020-10-30 22:47] lazylazyllama commented on #35404
This should now be fixed since flutter/engine#21730 landed.

[2020-10-30 22:48] lazylazyllama commented on #63761
This should be fixed since flutter/engine#21730 landed in current flutter master branch

[2020-10-30 22:50] promzybankz commented on #62138
If you are in Nigeria GLO Is the Problem... Use a VPN or Change to MTN OR AIRTEL

[2020-10-30 22:52] promzybankz commented on #22474
If you are in Nigeria... GLO is the problem. use a VPN or change to MTN or Airtel.... chikina problem solved ini 4.7s

[2020-10-30 22:55] jmagman commented on #68215
You should file a new issue and completely fill out the template.  The "falling back to log scanning" used to indicate the engine hasn't started, which can be for many different reasons, including that your app crashed.  This particular issue is tracking one of those many reasons, and you are hitting a different one.

But first, try #68756 on the master channel, that may clear it up for you, or yo

[2020-10-30 23:04] leorachit commented on #69371
Same issue. It's happening for me as well.

[2020-10-30 23:18] zanderso commented on #68322
This is still happening quite a lot, so I am escalating back to P0

[2020-10-30 23:20] zanderso commented on #68322
https://ci.chromium.org/p/flutter/builders/prod/Mac%20iOS%20Engine/7528
https://ci.chromium.org/p/flutter/builders/prod/Mac%20iOS%20Engine%20Profile/5611

[2020-10-30 23:59] jmagman commented on #49562
Once b/172093077 is resolved `flutter build aot` can be removed.

[2020-10-31 00:03] godofredoc opened #69446 "Update salt configurations for Mac Catalina"
The flutter devicelab is migrating all the macs to catalina. The current configurations are incomplete and need to get updated for catalina os.

[2020-10-31 00:04] zanderso commented on #69361
Out of a recent run:
[code]

[2020-10-31 00:14] gaaclarke commented on #69361
That isn't much of a change, we should update the golden image with the latest skia or increase the threshold.  It's probably just a slight difference in antialiasing or alphas for example.

[2020-10-31 00:27] #69421 closed

[2020-10-31 00:31] YeungKC commented on #10969
It may be difficult to get the TabBar to support PageStorageKey, because the TabController actually affects two widgets, Tab and TabView, and the TabView contains the PageView, which already supports PageStorageKey.

So I suggest, if you want the DefaultTabController to support PageStorageKey, you can achieve the same effect.

I don't know what you think?

example code:
[code]

cc @collinjackson

[2020-10-31 00:57] gaaclarke opened #69449 "platform views on by default introduced a race condition"
https://github.com/flutter/engine/pull/20671 seems to have introduced a race condition.

The crash can happen here:
[code]
[code]

The `FlutterPlatformViewsController::SetFlutterView` isn't guaranteed to execute before `FlutterPlatformViewsController::SubmitFrame` (see https://github.com/flutter/flutter/issues/69449#issuecomment-720766646).

Further investigation also shows that FlutterPlatformVie

[2020-10-31 01:09] cpboyd commented on #65995
@DanielSchwiperich @wiseminds It's probably better to use the `image_picker_workaround` branch, which I merged from @cyanglaz: https://github.com/cyanglaz/plugins/commits/image_picker_workaround

I think he specifically took care of iPad race conditions.

[2020-10-31 01:12] cpboyd commented on #65334
@cyanglaz Does this mean shrunken builds with Gradle plugin 4+ aren't recommended for now?

[2020-10-31 01:15] LongCatIsLooong commented on #32172
Couldn't repro on iPhone 6 anymore. Closing.

[2020-10-31 01:15] #32172 closed

[2020-10-31 01:16] IsaacColney commented on #64184
Still having the same problem, has anyone got the solution.

[2020-10-31 01:25] cyanglaz commented on #69449
Interesting. Was the engine spawned in a different flow than a normal flutter app?

[2020-10-31 01:30] matthew-carroll opened #69452 "Widget Test does not load local asset until 2nd test runs"
I have a widget test for a screen that contains an icon PNG image. When I run that test, the icon does not appear to load.

By accident, I discovered that if I run 2 tests that display the PNG image, the 2nd test will show it. This seems to indicate some kind of timing issue. However, even if I `await tester.pumpAndSettle()` on the 1st test, the image still never loads.

Here is a minimal repro fo

[2020-10-31 01:30] matthew-carroll commented on #69452
CC @chunhtai because you've worked on issues related to test asset loading in the past.

[2020-10-31 01:42] IsaacColney commented on #64184
This is what works for me:
 Since "flutter clean"  does not clean all the recent build files, you have to clean/delete the 'build' folder(located on the root directory) manually.
if(you can delete the build folder) {
 try closing java process from task manager; }
✌✌✌

[2020-10-31 01:48] mahmoudalaa97 commented on #65004
any update for this issues i have same problem 😢 ?

[2020-10-31 02:11] ReniDelonzek commented on #53897
I noticed that when the text is selected inside an input, the emoji becomes visible

[2020-10-31 02:15] sunjianan9900 commented on #53897
thanks！
can it solved by using google font or something？
Loading the single character from web to reduse the size

[2020-10-31 02:37] Lanch92 commented on #69269
There is no any launch screen code contains. I don't know how to replicate the issue, because it happens randomly. It may take more time to discover patterns.  Suspend the problem for the time being

[2020-10-31 02:59] lahirudb opened #69453 "Android studio flutter plugin has an issue connected device is disconnecting."
Android studio flutter plugin has an issue connected device is disconnecting. This is an old issue, But it is still there in the latest android studio version latest flutter/dart plugins.

[2020-10-31 03:14] sunjianan9900 opened #174571 "Certain Noto Serif and Noto Sans fonts missing"
Text(
'Google 谷歌字体',
 style: GoogleFonts.getFont('Noto Sans SC'),
),

error on web:
Not font family 'Noto Sans SC' was found

https://fonts.google.com/specimen/Noto+Sans+SC?selection.family=Noto+Sans+SC:wght@100&sidebar.open=true&subset=chinese-simplified&query=Noto+Sans#standard-styles

Missing list:
- Noto Sans HK
- Noto Sans JP
- Noto Sans KR
- Noto Sans SC
- Noto Sans TC
- Noto Serif JP
- Noto

[2020-10-31 03:20] whatscoder commented on #69392
Hi @TahaTesser
Let me give you a brief account of my operation:
I have a **StatefulWidget** ，**Overlay**  is his child，and then I package a **navigator** as an **OverlayEntry** and insert into **OverlayState**。When over one **OverlayEntry** that packaged **navigator** are inserted into **OverlayState**, there is an error: `package:flutter/src/widgets/navigator.dart': Failed assertion: line 2785 po

[2020-10-31 03:27] dcarriola commented on #69371
It's also happening for me :(. Please, find a way to solve this issue because it's the only thing missing to deploy my app..

[2020-10-31 03:46] sunjianan9900 commented on #53897
I add this on web/index.html <head>

<link href="https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap" rel="stylesheet">    <style>
body{ font-family: 'ZCOOL QingKe HuangYou', sans-serif;}
</style>

and in main.dart

theme: ThemeData(
        fontFamily: "ZCOOL QingKe HuangYou",
)

it's work on FLUTTER_WEB_USE_SKIA=false , but it's not work on FLUTTER_WEB_USE_SKIA=true model

[2020-10-31 04:09] bernaferrari opened #69454 "Slider doesn't respect size when inside a ListView"
The following code always fails:
![image](https://user-images.githubusercontent.com/351125/97770801-5fc5e500-1b15-11eb-8368-81c0d0fe5c0b.png)
[code]

Tested on both DartPad (1.23.0-18.1.pre) and locally (1.24.0-7.0.pre.40).

This can be fixed by using `Center(child: Container(child: Slider(...))))`, similar to how CircularProgressIndicator works. However, there is no mention anywhere. I feel this

[2020-10-31 04:18] YoSalcido opened #69455 "App won't compile - Execution failed for task ':app:checkDebugDuplicateClasses'."
I was developing an app and everything worked just fine but I needed to use url_launcher package so I added it but it was giving me errors saying that "there is no implementation for method canLaunch" and "method launch" so I did a flutter clean and everything began to crush. My app no longer compiles.

**This is my pubspec.yaml:**
`name: usuario
description: A new Flutter project.

publish_to: 'n

[2020-10-31 04:20] vemarav commented on #69301
Thanks @TahaTesser
I have used gesture detector

[2020-10-31 04:20] #69301 closed

[2020-10-31 04:30] bernaferrari commented on #69454
It seems this affects every view inside a ListView. So weird.

[2020-10-31 04:30] #69454 closed

[2020-10-31 04:44] xster commented on #42430
Ya plausibly. Is it possible to have 1 tab item in Xcode?

[2020-10-31 04:53] DanielEdrisian commented on #42430
Yes it is

[2020-10-31 05:12] jacobaraujo7 commented on #45938
Thanks for the answer!
I believe I have solved the problem.

I will take the opportunity to report a behavior that I found strange.
Taking the code of the Navigato 2.0 article as an example, I am testing a scenario similar to Naviigator.pushReplacement():

[code]

The back button appears for a few milliseconds while the animation is happening and then disappears.
Debuting I realized that canPop is

[2020-10-31 05:33] altherat commented on #43620
Encountering this issue as well. Had this problem months ago and it seemed fixed at one point but now it's back as of Flutter 1.22.0 I believe.

[2020-10-31 06:02] srix55 commented on #33709
Need this. Especially when lots of fonts are bloating up my app size.

[2020-10-31 06:27] xu-baolin commented on #69395
I am currently working on this.

[2020-10-31 06:36] oakstair commented on #64129
We are phasing the same issue in a web project using the latest stable channel. We did start to get these errors after last stable release.

Unfortunately at this moment I do not have a minimal project to share.

[2020-10-31 06:38] paraggupta9065 commented on #69455
android studio version

[2020-10-31 06:48] oakstair commented on #64129
![Uploading Skärmavbild 2020-10-31 kl. 07.48.09.png…]()

[2020-10-31 07:11] sidrao2006 commented on #69453
Hey @lahirudb ,
This issue tracker is used for tracking bugs and feature requests for the flutter framework, engine and the flutter tool.
Since this is an error/bug with a android studio plugin, please close this issue and open it [here](https://github.com/flutter/flutter-intellij/issues) instead.

Thanks

[2020-10-31 07:13] sidrao2006 commented on #69441
Hello @asketsystem ,
Could you please post the outputs of `flutter run -v` and `flutter doctor -v` and a complete minimal reproducible code sample
Thank you!

[2020-10-31 07:17] sidrao2006 commented on #69414
Hey @monizj ,
This issue tracker is used for tracking bugs and feature requests for the flutter framework, engine and the flutter tool.
Since this is an error/bug with a 3rd party package, please close this issue and open it [here](https://github.com/FirebaseExtended/flutterfire/issues) instead.

If you disagree, please post the outputs of `flutter run -v` and `flutter doctor -v` and provide a com

[2020-10-31 07:46] Sasha1189 commented on #64624
hi @muneeb900

how?

[2020-10-31 07:51] gayatri2610 commented on #69393
macbook@MACBOOKs-MacBook-Pro webview_flutter-master 2 % flutter doctor -v
[✓] Flutter (Channel stable, 1.22.2, on Mac OS X 10.15.6 19G73, locale en-GB)
    • Flutter version 1.22.2 at /Users/macbook/flutter
    • Framework revision 84f3d28555 (2 weeks ago), 2020-10-15 16:26:19 -0700
    • Engine revision b8752bbfff
    • Dart version 2.10.2

[✗] Android toolchain - develop for Android devices

[2020-10-31 07:52] gayatri2610 commented on #69393
name: webview_flutter_example
description: Demonstrates how to use the webview_flutter plugin.

version: 1.0.3

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  webview_flutter:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/sample_audio.ogg

[2020-10-31 07:57] Abhijithsp opened #69456 "Image losses quality with imagepicker"
I am trying to capture image with imagepicker but after i capture image i am compressing image with luban library,but in samsung phone the vertically taken image are losing quality but in other phones there is no problem at all,the vertically image taken from other phones are perfectly fine,There are no problem in flutter doctor,does't throw any error nothing but this problem occurs only in

Probl

[2020-10-31 08:06] peerwaya commented on #69376
![RPReplay-Final1604012713](https://user-images.githubusercontent.com/14053870/97774463-442ffe00-1b58-11eb-9d39-04ca8c5523d7.gif)

Device: Iphone XR. iOS 14.0.1

[2020-10-31 08:08] peerwaya commented on #69376
[RPReplay_Final1604012713.MP4.zip](https://github.com/flutter/flutter/files/5468751/RPReplay_Final1604012713.MP4.zip)
Device: Iphone XR. iOS 14.0.1

[2020-10-31 08:10] gayatri2610 commented on #69393
Even i can't Signin with Google.
when open google from there

https://pub.dev/packages/webview_flutter

[2020-10-31 08:13] peerwaya commented on #69376
It happens when you do a fast fling, it bounces back

[2020-10-31 08:53] jonaird opened #69458 "MouseRegion does not behave properly while dragging a Draggable over a MouseRegion"
## Steps to Reproduce

I have only tested this in Flutter Web:
1. Create a Draggable widget and a MouseRegion that tracks onExit and onEnter.
2. Drag the draggable over the mouse region.

Here's the code to reproduce the error:
[code]

**Expected results:**
Expected onEnter to be called once and onExit to not be called until the mouse exits the MouseRegion.

**Actual results:**
Instead onExit is c

[2020-10-31 08:53] ckrc opened #69459 "Flutter web - Window.history.pushState does not work"
I am trying to get the flutter web app to append query param to the end of the URL (when a selection is made in UI) without reloading the page.

Basically I would like to update the URL from http://127.0.0.1:8080/#/sites to http://127.0.0.1:8080/#/sites?arg=1 without page reload. Is there a way to get this to work in flutter web?

Extra question - Is there a way to remove the # from the url? (I ha

[2020-10-31 09:07] oom- commented on #41602
I have the same problem here but I'm at my home and not using any special software. I disabled all my protections and the problem still occurs.

[code]

I figured out that I cannot at all reach the "pub.dartlang.org" website:

- Neither on my phone: `DNS_PROBE_FINISHED_NXDOMAIN`
- Neither on my desktop: `ERR_CONNECTION_CLOSED` (after setting 1.1.1.1 as DNS server)

The tracert is fine and reach th

[2020-10-31 09:09] pedromassango opened #69460 "Support text selection programmatically for the SelectableText widget"
Flutter currently does not provide a way to select text programmatically for the SelectableText widget.

On Android we do that using the `Spannable` API, see https://stackoverflow.com/a/41760489/9185192
On iOS we a property to define a selection range, see https://developer.apple.com/documentation/uikit/uitextview/1618615-selectedrange

### Proposal

It would be great to have this capability in Fl

[2020-10-31 09:10] FilledStacks commented on #69018
I will try my best to do so. Thanks for your attention to this issue. I appreciate it.

[2020-10-31 09:13] FilledStacks commented on #59433
@mlemos did you find any solution to this? I was hoping the maps package would provide a callback for when a scale/pinch gesture is performed on it but it doesn't do that. How did you handle this situation?

[2020-10-31 09:53] darshanhk18 opened #69462 "[tool_crash] ProcessException: The system cannot find the file specified. Command: C:\src\flutter\bin\flutter.BAT, OS error code: 2"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ProcessException: The system cannot find the file specified.
 Command: C:\src\flutter\bin\flutter.BAT, OS error code: 2
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2020-10-31 09:55] darshanhk18 commented on #69462
![Screenshot (141)](https://user-images.githubusercontent.com/64367776/97776331-2e88fb80-1b8d-11eb-88c4-4b26664e03aa.png)

[2020-10-31 10:04] Abhishek01039 commented on #69462
Hello @darshanhk18
Please update your flutter path and run your cmd as an administrator.
Thanks.

[2020-10-31 10:50] hamdikahloun commented on #69462
Hi @darshanhk18

Can you add please  `%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\` to your Path variable
You might also need to add `C:\Windows\System32` if it's not there in the path variable.

![image](https://user-images.githubusercontent.com/32666446/97777177-bb708c80-1b6e-11eb-90fc-1bfcb2a8b664.png)

![path](https://user-images.githubusercontent.com/32666446/97777150-85330d00-1b6e-11eb-8ab2

[2020-10-31 10:51] hamdikahloun commented on #69354
Hi @cmee123

Can you please check this https://github.com/flutter/flutter/issues/69462#issuecomment-719917052

Thank you

[2020-10-31 10:53] benPesso commented on #69125
@TahaTesser It's easier if you use the sample from the docs, as it's using a non-existing URL.

Below is a working code sample. Just make sure to enable breakpoints on uncaught exceptions.

_**Remember:** These errors are supposedly caught by the framework, and so shouldn't be treated as uncaught exceptions._

<details>
<summary>Code sample</summary>

[code]
</details>

[2020-10-31 11:24] #69345 closed

[2020-10-31 11:31] Dolaned commented on #63255
what flutter channel do you need to be on to update to get the dl.h files?

[2020-10-31 11:47] YuhooZhu commented on #31985
I change the method. It seems cannot change this variable. :)

[2020-10-31 12:09] suthishan commented on #43336
MissingPluginException(No implementation found for method  pickImage on channel plugins.flutter.io/image_picker)

[2020-10-31 12:10] suthishan opened #69463 "MissingPluginException(No implementation found for method pickImage on channel plugins.flutter.io/image_picker)"
E/flutter ( 8747): [ERROR:topaz/lib/tonic/logging/dart_error.cc(16)] Unhandled exception:
E/flutter ( 8747): MissingPluginException(No implementation found for method pickImage on channel plugins.flutter.io/image_picker)
E/flutter ( 8747): #0      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:278:7)
E/flutter ( 8747): <asynchronous suspension>
E/flutter ( 8747): #1

[2020-10-31 12:11] ckrc commented on #69459
Wrap the call inside a Future.delayed(
      Duration(milliseconds: 100), () => window.history.replaceState(null, null, '${Uri.base.toString()}?accountId=${selectedAccount.accountId}'));

seems to solve my issue and tested it works...

[2020-10-31 12:18] itsmejohndoe opened #69464 "Unable to run on iOS"
Hey guys! I really need help on this one: can't run or build my app for iOS.

Running on flutter 1.22.3-stable, Xcode 11.7 and macOS Catalina 10.15.7.

Anyone has saw anything like that? Already tried everything like:

1. Flutter clean;
2. Deleting Podfile, Podfile.lock, Pods folder, deintegrating pod and installing, updating;
3. Cloning project again.

My dependencies on pubspec:

[code]

Above i

[2020-10-31 12:19] timnew opened #69465 "`testwidgets()` in widget_tester.dart does not respect the skip from group"
## Steps to Reproduce
1. Create a test group, and mark its `skip` to `true`
2. Create a `testWidgets` test inside of the group
3. Run the test suite

**Expected results:** all tests in the group are skipped
**Actual results:** normal tests are skipped, but not the widget tests.

![image](https://user-images.githubusercontent.com/1287238/97778875-6f553480-1bce-11eb-86e6-d686806b6c61.png)
![image](h

[2020-10-31 12:19] timnew commented on #69465
It is related to https://github.com/flutter/flutter/issues/21462 but it is a different issue.

[2020-10-31 12:21] itsmejohndoe commented on #69464
Maybe it's important and may help someone that want to help me, here's my Podfile:

# Uncomment this line to define a global platform for your project
platform :ios, '9.0'

# CocoaPods analytics sends network stats synchronously affecting flutter build latency.
ENV['COCOAPODS_DISABLE_STATS'] = 'true'

project 'Runner', {
  'Debug' => :debug,
  'Profile' => :release,
  'Release' => :release,
}

def

[2020-10-31 12:32] hamdikahloun commented on #29092
I'm not able to reproduce the issue.

Hi @msarkrish @AmandaOlearczuk

Can you please provide your `flutter doctor -v`, your `flutter run --verbos`e and a minimal complete reproducible code sample?

<details>
  <summary>Native code</summary>

[code]
</details>

<details>
  <summary>Dart code</summary>

[code]
</details>
<details>
  <summary>flutter doctor -v</summary>

[code]

</details>

Thank you

[2020-10-31 12:41] #69459 closed

[2020-10-31 12:42] klitzouille commented on #58263
It may be related to Android doze mode. Doc [here](https://developer.android.com/training/monitoring-device-state/doze-standby) states this :

You could try with :
[code]
or just :
`
alarmClock: true
`

[2020-10-31 12:53] pulstar commented on #69065
I found the culprit. It was any of the commands below, which should run only in Android.

[code]

[2020-10-31 12:53] #69065 closed

[2020-10-31 13:11] pulstar commented on #68152
As far as I know, this is some kind of conflict between Flutter plugins. At first, I detected that the multi_image_picker plugin was causing this. I installed it after I gave up with image_picker. But after removing it, the problem remain, so any other of my hundreds installed plugins is causing this problem too. If I manage to detect which one is doing this, I will post a minimal reproducible cod

[2020-10-31 13:14] ibyet05 commented on #22180
The solution does not work with the below code.

SingleChildScrollView(
          scrollDirection: Axis.horizontal,
          child: SizedBox(
            width: 2000,
            child: RefreshIndicator(
              onRefresh: () {
                return Future.delayed(Duration(seconds: 2));
              },
              child: ListView.builder(
                itemCount: 100,

[2020-10-31 13:14] ibyet05 commented on #22180
`SingleChildScrollView(
          scrollDirection: Axis.horizontal,
          child: SizedBox(
            width: 2000,
            child: RefreshIndicator(
              key: refreshKey,
              onRefresh: () {
                refreshKey.currentState?.show(atTop: true);
                return Future.delayed(Duration(seconds: 2));
              },
              child: ListView.builder(

[2020-10-31 13:23] pulstar opened #69467 "Preview brightness and log messages"
I noticed that the camera preview is too dark for me. Is there any way to increase the preview brightness?

When the camera is open, the console runs crazy with a lot of log messages (see below). How do I disable it?

[code]

[2020-10-31 13:24] ibyet05 opened #69468 "RefreshIndicator breaks when the ListView is a child of SingleChildScrollView"
Hi,

I have similar problem which is stated at #22180. But the suggested solution did not work for me in the below code.

Can you please help me, how I can solve this problem. thanks.

[code]

[2020-10-31 13:50] ngxingyu commented on #22393
My approach: use MultiSliver widget from sliver_tools 0.1.8 to wrap the multiple slivers within SliverOverlapAbsorber. Any other possible approaches at the moment?

[2020-10-31 14:07] pulstar commented on #14137
Conflicts between plugins at the platform level.

[2020-10-31 14:08] johnpryan opened #69469 "Adopt a Widget - WillPopScope"
The [WillPopScope](https://master-api.flutter.dev/flutter/widgets/WillPopScope-class.html) widget needs:

- A code / DartPad sample
- More references

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:08] hamdikahloun commented on #69463
Hi @suthishan

Can you please provide your `flutter doctor -v`, your `flutter run --verbose`, your  `pubspec.yaml` and a minimal complete reproducible code sample?

Thank you

[2020-10-31 14:08] johnpryan opened #69470 "Adopt a Widget - SliverWithKeepAliveWidget"
The [SliverWithKeepAliveWidget](https://master-api.flutter.dev/flutter/widgets/SliverWithKeepAliveWidget-class.html) widget needs:

- More references

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:09] johnpryan opened #69471 "Adopt a Widget - Stepper"
The [Stepper](https://master-api.flutter.dev/flutter/material/Stepper-class.html) widget needs:

- A code / DartPad sample
- More references

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:09] johnpryan opened #69472 "Adopt a Widget - StatusTransitionWidget"
The [StatusTransitionWidget](https://master-api.flutter.dev/flutter/widgets/StatusTransitionWidget-class.html) widget needs:

- A code / DartPad sample
- More references

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:09] johnpryan opened #69473 "Adopt a Widget - LongPressDraggable"
The [LongPressDraggable](https://master-api.flutter.dev/flutter/widgets/LongPressDraggable-class.html) widget needs:

- More references

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:10] johnpryan opened #69474 "Adopt a Widget - MaterialBanner"
The [MaterialBanner](https://master-api.flutter.dev/flutter/material/MaterialBanner-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:10] johnpryan opened #69475 "Adopt a Widget - NotificationListener"
The [NotificationListener](https://master-api.flutter.dev/flutter/widgets/NotificationListener-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:10] johnpryan opened #69476 "Adopt a Widget - CircularProgressIndicator"
The [CircularProgressIndicator / LinearProgressIndicator](https://master-api.flutter.dev/flutter/material/CircularProgressIndicator-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:11] johnpryan opened #69477 "Adopt a Widget - Hero"
The [Hero](https://master-api.flutter.dev/flutter/widgets/Hero-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:11] johnpryan opened #69478 "Adopt a Widget - FittedBox"
The [FittedBox](https://master-api.flutter.dev/flutter/widgets/FittedBox-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:11] hamdikahloun commented on #69468
Hi @ibyet05

Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?

Thank you

[2020-10-31 14:11] johnpryan opened #69479 "Adopt a Widget - Draggable"
The [Draggable](https://master-api.flutter.dev/flutter/widgets/Draggable-class.html) widget needs:

- A code / DartPad sample
For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:12] johnpryan opened #69480 "Adopt a Widget - ActionListener"
The [ActionListener](https://master-api.flutter.dev/flutter/widgets/ActionListener-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:12] johnpryan opened #69481 "Adopt a Widget - Shortcuts"
The [Shortcuts](https://master-api.flutter.dev/flutter/widgets/Shortcuts-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:12] johnpryan opened #69482 "Adopt a Widget - ReorderableListView"
The [ReorderableListView](https://master-api.flutter.dev/flutter/material/ReorderableListView-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:13] johnpryan opened #69483 "Adopt a Widget - AspectRatio"
The [AspectRatio](https://master-api.flutter.dev/flutter/widgets/AspectRatio-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:13] johnpryan opened #69484 "Adopt a Widget - AbsorbPointer"
The [AbsorbPointer](https://master-api.flutter.dev/flutter/widgets/AbsorbPointer-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:13] johnpryan opened #69485 "Adopt a Widget - IgnorePointer"
The [IgnorePointer](https://master-api.flutter.dev/flutter/widgets/IgnorePointer-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:14] johnpryan opened #69486 "Adopt a Widget - Dismissible"
The [Dismissible](https://master-api.flutter.dev/flutter/widgets/Dismissible-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:14] johnpryan opened #69487 "Adopt a Widget - PageView"
The [PageView](https://master-api.flutter.dev/flutter/widgets/PageView-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:14] johnpryan opened #69488 "Adopt a Widget - Table"
The [Table](https://master-api.flutter.dev/flutter/widgets/Table-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:14] johnpryan opened #69489 "Adopt a Widget - Tooltip"
The [Tooltip](https://master-api.flutter.dev/flutter/material/Tooltip-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:15] johnpryan opened #69490 "Adopt a Widget - SnackBar"
The [SnackBar](https://master-api.flutter.dev/flutter/material/SnackBar-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:15] johnpryan opened #69491 "Adopt a Widget - ColorFiltered"
The [ColorFiltered](https://master-api.flutter.dev/flutter/widgets/ColorFiltered-class.html) widget needs:

- A code / DartPad sample
- More references

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:15] johnpryan opened #69492 "Adopt a Widget - PreferredSizeWidget"
The [PreferredSize / PreferredSizeWidget](https://master-api.flutter.dev/flutter/widgets/PreferredSizeWidget-class.html) widget needs:

- A code / DartPad sample

For details about how to participate, see [flutter.dev/adoptawidget](https://flutter.dev/adoptawidget)

[2020-10-31 14:17] hamdikahloun commented on #69465
Hi @timnew

Can you please provide your `flutter doctor -v`?

Thank you

[2020-10-31 14:22] ibyet05 commented on #69468
it is not related with flutter doctor, please use the above code in any flutter app.  You will see that refresh indicator does not work.

[2020-10-31 14:23] sidrao2006 commented on #69476
I would like to be assigned to this issue
Thanks

[2020-10-31 14:24] sidrao2006 commented on #69469
I would like to be assigned to this issue.
Thanks

[2020-10-31 14:25] sidrao2006 commented on #69489
I would like to be assigned to this issue
Thanks

[2020-10-31 14:26] sidrao2006 commented on #69485
I would like to be assigned to this issue
Thanks

[2020-10-31 14:34] sidrao2006 commented on #69476
Thanks!
I'll begin working on it right away

[2020-10-31 14:42] johnpryan commented on #69485
@sidrao2006 We assigned you to #69476. We can only assign one issue to each person at a time. Thanks!

[2020-10-31 14:49] psstoyanov commented on #49146
Out of curiosity, wouldn't a Qt shell allow for easier integration of multimedia such as video or audio playback?

[2020-10-31 14:58] nezoat commented on #61450
Also want to add that I have 10's of thousands of active users of my iOS app every day, deployed with Flutter, and my 5-star (thousands of reviews) app is getting 1-star reviews, especially from iPad users, for "freezes" and "choppy" animations.  Via support conversations I've confirmed it's jank they're speaking of.  This is a critical issue for me as well, and I hope this is as high a priority a

[2020-10-31 14:59] cmee123 opened #69493 "Errors when running flutter doctor command"
Ok, so I am trying to download flutter and the related apps and set them up. So far I have downloaded the flutter sdk, git, and the android studio. When I run the flutter doctor command I get these errors:

![image](https://user-images.githubusercontent.com/73676421/97782381-392c9c00-1b5f-11eb-8e30-52616ce89c51.png)

I don't know what any of these problems mean or how to solve them. I have already

[2020-10-31 14:59] nezoat commented on #61450
I should also add that unfortunately, many users force close their apps because they think it makes their device perform better.  You can imagine how this exacerbates the jank issue.

[2020-10-31 15:00] tsvillain commented on #69489
I would like to be assigned to this issue

[2020-10-31 15:05] anoop4real commented on #29823
+1 to this feature request... both platforms natively supports custom keyboards

[2020-10-31 15:06] Z3rolive commented on #66111
Is there any way I can use pan gesture on scaled interactive viewer widget? Right now after scaling, interactiveviewer utilizes pan gesture to move the zoom focal point around. What I want is to use pan gesture for some other operation than moving zoom focal point around. I tried disabling pan gesture and wrapped it with ignore pointer and then wrapped it with gesture detector but it didn't work.

[2020-10-31 15:07] salahuddin-1 commented on #9340
main() {
  var multiline = "Flutter\nrocks";
  var singleline = multiline.replaceAll("\n", " ");
  print(singleline);
}

[2020-10-31 15:08] singhsuryanshu commented on #69478
I would like to be assigned to this issue.

[2020-10-31 15:09] tadaspetra commented on #69474
I would like to be assigned to this issue

[2020-10-31 15:11] hamdikahloun commented on #69493
Hi @cmee123

Failing to detect the plugins will not affect Flutter development at all. The Flutter CLI tool does not touch the plugins, only your editor does. Because of this, we plan to deprecate the plugin validators : https://github.com/flutter/flutter/issues/61246 .

For Powershell warning, Can you try this please https://github.com/flutter/flutter/issues/69462#issuecomment-719917052 .

Thank

[2020-10-31 15:13] Thesmader commented on #69490
I would like to be assigned to this issue.

[2020-10-31 15:13] cv692001 commented on #69477
Hey @johnpryan  Can you Please assign this to me .

[2020-10-31 15:15] obitodarky commented on #69471
@johnpryan I would like to take this issue :D

[2020-10-31 15:16] arps18 commented on #69481
Hey @johnpryan I would like to take this issue!

[2020-10-31 15:16] tsvillain commented on #69489
Will start working on it right away

[2020-10-31 15:16] Amitpatil215 commented on #69483
I would like to be assigned to this issue.

[2020-10-31 15:17] parzuko commented on #69479
Hey, I would like to work on this.

[2020-10-31 15:17] redsolver commented on #69488
Would love to adopt this `Table` issue :)

[2020-10-31 15:23] alistairholmes commented on #69487
Hi, may you please assign me to this issue

[2020-10-31 15:23] Chinmay-KB commented on #69469
I would like to contribute to this

[2020-10-31 15:25] CaptainIRS commented on #69484
Hi! I'd like to work on this issue

[2020-10-31 15:25] yaxum opened #69494 "Tabbarcontroller also loads data for index - 1 only at first time."
Hi!
I have some small bugg related to using the tabbarview. When loading the app the first time and when pressing on index=5 in the category of the tabbar. My tabbarview also loads the API from the index=4 also.
So my problem seems to be that whatever index I press on the App. The App will always load the API from the index = i - 1 also...
See below the picture and you will see the categories and

[2020-10-31 15:25] alistairholmes commented on #69487
Thank you

[2020-10-31 15:26] abd99 commented on #69486
I would like to adopt this widget =)

[2020-10-31 15:28] IsmailAbdirahman commented on #69475
I would like to be assigned this issue

[2020-10-31 15:32] ErtanOzdemir opened #69495 "flutter doctor --android-licenses error: Exception in thread "main" java.lang.NoClassDefFoundError: javax/xml/bind/annotation/XmlSchema"
Hi, today when I try to execute "flutter doctor --android-licenses" command on terminal I got this error massage

Exception in thread "main" java.lang.NoClassDefFoundError: javax/xml/bind/annotation/XmlSchema
How can I fix it?

By the way I use Ubuntu.

## Logs

Here is the full log of error message.
[code]

### flutter doctor -v
I installed Android Studio but it couldn't find it.

[code]

[2020-10-31 15:32] kevinrodriguez-io commented on #69473
I would like to be assigned to this widget

[2020-10-31 15:32] #69414 closed

[2020-10-31 15:34] nayakastha commented on #69492
I want to work on this

[2020-10-31 15:37] AadeshGujjar opened #69496 "I'm trying to build a UI as facebook app. The app works fine on the android but the web version gives me this following error. On running flutter devices command in the terminal it does show that there are 3 devices(including chrome) detected. ERROR- "Finished with error: Failed to launch browser. Make sure you are using an up-to-date Chrome or Edge. Otherwise, consider using -d web-server instead and filing an issue at https://github.com/flutter/flutter/issues." I have tried updating chrome to the latest version as well. It still shows this error."
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
3. ...

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-10-31 15:38] hamdikahloun commented on #69455
Hi @YoSalcido

From what I can see, the issue is related to a 3rd party plugin rather than to Flutter itself. Please open the issue in the dedicated repository
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter run -v`, your `pubspec.yaml` and a minimal reproducible code sample that does not use 3rd party plugins,
and I will

[2020-10-31 15:38] #69455 closed

[2020-10-31 15:41] YazeedAlKhalaf commented on #69485
I would like to be assigned to this issue 🚀

[2020-10-31 15:42] Muskan4010 commented on #69491
i would like to be assigned for the task

[2020-10-31 15:46] nayakastha commented on #69492
Hey! Can I get the file to make the changes to? There's nothing mentioned in the issue

[2020-10-31 15:47] sanjoli63 commented on #69482
I would like to be assigned to this issue

[2020-10-31 15:49] hamdikahloun commented on #69495
Hi @ErtanOzdemir

I see there's an open issue addressing the case you described : https://github.com/flutter/flutter/issues/57372
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.

For now, you can try this https://github.com/flutter/flutter/issues/68387#issuecomment-711048764 / https://github.com/flutter

[2020-10-31 15:49] #69495 closed

[2020-10-31 15:52] hamdikahloun commented on #69496
Hi @AadeshGujjar

I see there's an open issue addressing the case you described : https://github.com/flutter/flutter/issues/68417
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.

Thank you

[2020-10-31 15:52] #69496 closed

[2020-10-31 15:56] hamdikahloun commented on #69494
Hi @yaxum

Can you please provide your `flutter doctor -v,` your `flutter run --verbose`, your `pubspec.yaml` and a minimal complete reproducible code sample?

Thank you

[2020-10-31 15:56] Sameerkash commented on #69472
@johnpryan I would like to work on this 🚀

[2020-10-31 15:58] hamdikahloun commented on #69467
Hi @pulstar

Can you please provide your `flutter doctor -v`, your `flutter run --verbose`, your `pubspec.yaml` and a minimal complete reproducible code sample?

Thank you

[2020-10-31 16:02] oroblesr commented on #69480
I would like to be assigned this issue

[2020-10-31 16:03] jacobaraujo7 commented on #69315
@tomasbaran I believe that API 2.0 is beneficial for those who need to create a highly customised Route API (Packages).
So the new navigator will not replace what you already have, it adds this functionality to make the routes customisable and to do many things that onGenerateRoute could not do.

[2020-10-31 16:08] chihempat commented on #69470
Hey, I would like to be assigned for the task :)

[2020-10-31 16:10] SergioEric commented on #69492
The instructions are in https://flutter.dev/adoptawidget, you have to clone the flutter repo and follow the guidelines

also, I would like to be assigned to this issue

[2020-10-31 16:12] MrCreeper1008 commented on #66833
ill only get this exception on a physical device but never on emulators.

[2020-10-31 16:22] Chinmay-KB commented on #69469
WillPopScope has 2 references now. What kind of references can be added to this to improve the docs, could you give an example?

[2020-10-31 16:25] jacobaraujo7 commented on #67277
@darshankawar
I believe that the problem has not been solved.
When there is a replace route, canPop() becomes 'true' causing the back button to appear for a few milliseconds.
![prover](https://user-images.githubusercontent.com/4047813/97784326-7ce1ce80-1b7c-11eb-8c82-0757f95ecfe1.gif)

[2020-10-31 16:28] hamdikahloun commented on #69464
Hi @itsmejohndoe

Can you please change your Profile to `platform :ios, '10.0`' , this will remove the deprecation warnings  . Please provide your `flutter build -v os` too .

Thank you

[2020-10-31 16:33] kartalbas commented on #32274
where did you add this? I add in web/index.html following snip

  <style>
    flt-glass-pane {
      image-rendering: pixelated;
    }
  </style>

but didn't work

[2020-10-31 16:33] liudonghua123 commented on #57432
flutter linux prerequisites
ubuntu: `sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev libblkid-dev`
centos: `sudo yum install clang cmake ninja-build pkgconfig gtk3-devel libblkid-devel`

[2020-10-31 17:00] liudonghua123 commented on #57432
I tried the following instead of the official old version `cmake ninja-build`, however I could not find the new version of `pkgconfig`. However it seems ok to use old `pkgconfig 0.27`.

[code]

[2020-10-31 17:01] jamesblasco commented on #69469
`WillPopScope` is used inside `Form`, it would be nice to reference it. Also, it is a great example to understand why someone would need it.

[2020-10-31 17:27] devxpy commented on #14488
As pointed by hixie, this implementation will result in multiple passes from the layout algorithm if you rebuild a widget from `onChange`, but it does seem to do the trick.

[code]

[code]

[Linked SO post](https://stackoverflow.com/a/60868972/7061265)

[2020-10-31 17:36] woutervanwijk opened #69499 "ios swipe back gesturedetector interferes with urllauncher"
This is an ios only bug. When a webview_flutter is overlayed by a Safariview from the urllauncher package, a swipe back gesturercognizer is picking up taps from the launched Safariview. This causes the underlying (invisible) widget to receive the tap also. This only happens on the first 20 pixels of on the left of the screen, where the cupertinobackgesturerdetector lives. It seems to overlay the S

[2020-10-31 17:40] renanzdm commented on #69468
I copied your code and it worked here, but the problem is that you defined the width of your sizedBox in 2000 so the refresh appears only in the middle of the screen. To solve it just put the width as MediaQuery.of (context) .size.width;
Doing this will solve your problem

` return Scaffold(
      body: SafeArea(
        child: SingleChildScrollView(
            scrollDirection: Axis.horizontal,

[2020-10-31 18:17] zyruva opened #69500 "Webview works with any given URL except for one"
Hello,

im new to flutter, im using a WebView widget as my main component in the page, and its loading a hardcoded URL of a website that was given to me, the problem is, the webview shows all the pages from that website except for the home page, it shows some JS errors on the console (i dont know if its related)

Here is my code:
[code]

And these are the JS errors on the debug console:
[code]

[2020-10-31 18:26] IagoBeuller commented on #69281
No, actually I can resize the window to this size:
![Bug_minSize](https://user-images.githubusercontent.com/46376262/97786663-e4ebe100-1b8b-11eb-8e71-de23681413f6.png)

And resizing it to a little bigger:
![Bug_lowSize](https://user-images.githubusercontent.com/46376262/97786674-fa610b00-1b8b-11eb-806b-2fdcc05f9735.png)

**Note:** The height of the window does not affect the size and position of t

[2020-10-31 18:40] nayakastha commented on #69492
I am sorry it's difficult for me to figure out stuff. @johnpryan please assign it to someone else

[2020-10-31 18:41] stanmots commented on #52207
There are [UICollectionView](https://developer.apple.com/documentation/uikit/uicollectionview) on iOS and [RecyclerView](https://developer.android.com/reference/androidx/recyclerview/widget/RecyclerView#scrollTo(int,%20int)) on Android, which have all the required functionality and proved to work great for many years.

I'm really surprised why are there so many people trying to solve the large lis

[2020-10-31 18:47] oGranny opened #69501 "problem in sending data to firestore using `StreamBuilder`"
hello,
I am building an app similar to instagram where I am displaying all the posts in a stream builder but I have made the like button such that whenever user clicks on his uid will get stored in firestore database and if he click it again it will be removed using `removeUnion(uid)` but it sometime works sometime doesn't like I have hosted it on (https://smirk-debug.web.app)[https://smirk-debug.

[2020-10-31 18:49] samiq commented on #27283
there is something I did prior to switching branches and it was to set the pointer to the android studio directory using `--android-studio-dir` flag of `flutter config`, now what's interesting is that Android Studio's flutter plugin is doesn't see flutter's sdk's despite of it being in the PATH so looks like there is some funny things happening for sure

[2020-10-31 18:51] samiq commented on #27283
now for what is worth I just did a fresh install of Android Studio 4.1 and flutter on a Windows 10 machine running October's service pack of Windows and it recognised Android Studio but not the plugins (this is without configuring the studio directory), but same, Android Studio didn't recognize Flutter by default so had to set it up.

[2020-10-31 18:52] yash1200 commented on #69492
Don't give up so early, if you need any help ask us on discord. We'll be happy to you help out.

[2020-10-31 19:00] SeasonLeee commented on #68675
I would like to be assigned to this issue😁

[2020-10-31 19:00] SergioEric commented on #69492
I would like to adopt this widget.

[2020-10-31 19:08] husbycodereis commented on #69492
Up for task and would love to adopt the widget!

[2020-10-31 19:13] PixelToast commented on #69492
Assigning to @SergioEric as the previous assignee unfortunately removed their assignment

[2020-10-31 19:15] rebootcode opened #69502 "[flutter_webview] Cache "initialURL" for offlineview or PWA support #561"
## Use case

Is it possible to cache "`initialURL`" so that if there is no internet, InitialURL always opens the page from the local cache if the app has been opened at least once and the cache is not cleared.

## Proposal

Caching the `intialURL` as well as follow up URL after the first-page load just like PWA insides flutter.

[2020-10-31 19:17] parzuko commented on #69479
Alright awesome!
Just a few doubts:
1) Should I follow [this ](https://github.com/flutter/flutter/blob/master/dev/snippets/config/templates/stateful_widget_ticker.tmpl) documenting / writing style guide ?
2) Is the commit supposed to be in a particular directory or within this issue itself ?

Cheers!

[2020-10-31 19:50] Shreemanarjun commented on #66322
Downgrade gradle version classpath 'com.android.tools.build:gradle:3.5.4' from 4.1 will help.

`buildscript {
    ext.kotlin_version = '1.4.10'
    repositories {
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:3.5.4'
        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlin_version"
        classpath 'com.google.gms:google-

[2020-10-31 19:50] JohannaShiri commented on #40331
I got the error, can't disable the antivirus.
Spent hours solving this.

was trying to get the "epub" package so...

What worked for me:

1. I opened the folder which contains all the packages (windows)
C:\flutter\.pub-cache\hosted\pub.dartlang.org
2. "copy - paste" the relevant folder (in my case "epub-2.1.0"). If the folder isn't there already,  you can download it manually from github.
3. Delet

[2020-10-31 20:16] nahuelbergamo opened #69504 "Typo in Codelabs documentation. Prone to confusion"
Affected page: https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1#4

Under "Create boilerplate code for a stateful widget." section
The sentence "The boilerplate code for two classes appears, and the cursor is positioned for you to enter the name of your stateless widget."
should read instead: "The boilerplate code for two classes appears, and the cursor is positioned for you to

[2020-10-31 20:47] rjayroso commented on #69504
If you don't mind I'll take a shot at this

[2020-10-31 20:58] HDS2904 opened #69506 "Problema al correr el projecto inicial en vscode y android studio"
## Steps to Reproduce

1. ...Al  instalar android studio en un inicio me corre el proyecto inicial en el emulador de android studio, pero al cerrarlo y volver a abrirlo para continuar, este me dan los errores adjuntados y no puedo solucionarlos. tengo la pc congelada para hacer cada ves que sale algo mal, restablecer el sistema y al instalarlo de nuevo lo mismo corre al inicio y falla al volverlo

[2020-10-31 21:03] dgaedcke commented on #69058
I thought about this some more, and it seems I DO want the material app subtree to be destroyed.

I'll be switching from an Authentication flow, that uses it's own Router/Nav/Delegate for a unique stack of (auth-related) pages, and then once that's done, the next MaterialApp will have it's own home-screen and unique, totally new destination pages.

In this case, I don't see any subtree worth prese

[2020-10-31 21:04] iapicca commented on #69501
@oGranny
Issues with `firebase` should be opened [here](https://github.com/FirebaseExtended/flutterfire/issues)
and, as the [new issue menu](https://github.com/flutter/flutter/issues/new/choose) suggesta
question like `I want help writing my application` should be asked on [stackoverflow](https://stackoverflow.com/)

[2020-10-31 21:08] iapicca commented on #69468
@ibyet05
I agree with @renanzdm
it works perfectly, the issue must be with your implementation
try running the code sample below on [dartpad](https://dartpad.dartlang.org/)

<details>
<summary>code sample</summary>

[code]

</details>

[2020-10-31 21:09] HDS2904 commented on #69506
Al intentar crear un nuevo proyecto, me sale este aviso de error en el proceso ahora, faltando algunos archivos.

[prueba_tres] flutter create --ios-language swift --android-language kotlin .
Creating project ....
  .gitignore (created)
  .idea\libraries\Dart_SDK.xml (created)
  .idea\libraries\KotlinJavaRuntime.xml (created)
  .idea\modules.xml (created)
  .idea\runConfigurations\main_dart.xml (c

[2020-10-31 21:15] DanTup commented on #43620
I think this is likely the same as one of the issues from:

- https://github.com/flutter/flutter/issues/46616
- https://github.com/dart-lang/sdk/issues/40348
- https://github.com/dart-lang/sdk/issues/43941

Those have been fixed now, though they're not all in stable releases yet (the last one might not even be in master yet).

[2020-10-31 21:18] iapicca commented on #69468
I see an interesting behavior
setting the `width` larger then the `MediaQuery.of(context).size.width`
the refresh indicator works, but without showing the `refresh icon`

try copy/pasting the code below on [dartpad](https://dartpad.dartlang.org/) and just swipe down

<details>
<summary>code sampel</summary>

[code]

</details>

[2020-10-31 21:24] iapicca commented on #69502
@rebootcode
maybe I didn't understand correctly, but
it seems to me that you want to cache the whole destination of the url rather than the url itself
if so, I'm not sure it's realistic expectation

[2020-10-31 21:25] Kacper1263 commented on #31985
oh, Ok. I thought you found a way to change the variable in individual fields :D

[2020-10-31 21:27] rebootcode commented on #69502
PWA has an offline store option and if `flutter_webview` can support PWA, It will be just a magical moment.

[2020-10-31 21:33] iapicca commented on #69506
@HDS2904
could you provide your `flutter doctor -v`  and the output of  `flutter create myapp -v`
running it from terminal, NOT Android Studio

The exception in both your logs ([flutter_01.log](https://github.com/flutter/flutter/files/5469795/flutter_01.log),  [flutter_02.log](https://github.com/flutter/flutter/files/5469796/flutter_02.log)) seems to be unrelated with the issue
[code]
Also it woul

[2020-10-31 22:14] yahyanasser commented on #67380
This feature has been added to Flutter Web.

 How about Flutter Android And IOS ??

[2020-10-31 22:38] kovalyovi commented on #28432
@zoechi I can confirm it works on x64 emulators.

[2020-10-31 23:25] nt4f04uNd commented on #58579
Looks like a duplicate of #39614

[2020-10-31 23:38] Sun3 commented on #33245
Still not working for me...

[2020-10-31 23:50] alphabetek commented on #49566
If I am not mistaken this issue is blocking at less one [open issue](https://github.com/flutter/plugins/pull/1480) related to google maps clustering feature.

[2020-10-31 23:57] mkiisoft commented on #69506
Please, post in English and this kind of post should be on StackOverFlow and not here. We should close it.

[2020-10-31 23:59] nt4f04uNd commented on #39614
Also would like to note that this is actully crucial thing that is impossible to workaround - you either end up with logo jump, or with default system nav color https://github.com/flutter/flutter/issues/47634#issuecomment-583405878

[2020-11-01 00:04] acoutts commented on #61450
@nezoat please try my repo here which contains the flutter engine compiled with metal disabled so you can use SkSL warmup to reduce the jank. https://github.com/flutter/flutter/issues/61450#issuecomment-709907845

[2020-11-01 00:39] SalMinoz commented on #68580
Hi @Piinks, Thanks for the reply.  If you don't mind could you please show the code to fix this issue? This will appreciate your help.

[2020-11-01 00:45] ppb1701 opened #69510 "App Store is rejecting App with Widget Extension"
`ITMS-90853: Invalid font - There was an error validating the font named 'All3PIcons-Regular' at 'Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf'. ‘name’ table structure.

ITMS-90853: Invalid font - There was an error validating the font named 'All3PIcons-Regular' at 'Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf'. ‘name’ tab

[2020-11-01 01:15] phyyyl commented on #27095
I'm having the issue to. It's pollution my logs with 300+ lines when fetching firestore data. Annoying

[2020-11-01 01:23] kevinrodriguez-io commented on #69473
Awesome, starting on it!

[2020-11-01 01:29] cmee123 commented on #69493
Ok so I think I did that, but it didn’t change anything. I went to the environment variables and then path and pasted it in. I did it on both Variable spots, like the user one and the other one i can’t remember what it’s called, because I didn’t know the difference between them. I ran the command again and nothing changed. Also is there anything I need to do about the “unable to locate android sdk

[2020-11-01 03:09] Chinmay-KB commented on #69469
Oh that's right, that can be done!!

[2020-11-01 03:31] yaderson commented on #69407
Hi, i think after you change the link for a legal link you need re-build the widget with a hot restart

[2020-11-01 03:36] sebe commented on #68391
I have this issue with xubuntu, hello world app displays fine, but when I minimise and then maximise the app just shows the backgound. I can move the app window around and the image of the app background, from when I maximised it, moves with it.

If i cursor over the increment button, a tool tip pops up and the app becomes visible again.
I am on Ubuntu 20.10, but had the same problem on 20.04.

ec

[2020-11-01 03:40] speller opened #69511 "Exception rendering TextFormField in a Row"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the `main.dart` as follows:
[code]
3. Run web version `flutter run -d chrome`.

**Expected results:**
A page with an input field.

**Actual results:**
A page with no input field rendered and an exception in the console:

[code]

<details>
  <summary>flutter doctor -v</summary>

[code]

</details>

I can see that something is wrong with

[2020-11-01 03:45] kwkimg3100 opened #69512 "Google Maps shows only one marker."
## Steps to Reproduce

1. Install `google_maps_flutter: ^1.0.5` plugin
2. Get Geopoint from firestore
3. And Show the markers on google maps

**Expected results:** shown two marker from google maps

**Actual results:** shown only one marker from google maps

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

flutter doctor -v
[code]

This is my code.

    Iterable markers = [

[2020-11-01 03:58] waynermaia commented on #63908
This works for me. 🥇

[2020-11-01 03:58] waynermaia commented on #63908
This works for me. 🥇

[2020-11-01 04:11] bhanuka96 commented on #66322
Is it working on any android devices?(Huawei / Xiaomi and etc)

[2020-11-01 04:16] Shreemanarjun commented on #66322
I have already checked in oneplus and realme devices where before it crashed.

[2020-11-01 04:22] bhanuka96 commented on #32164
Did ou find solution for both Android and Ios?

[2020-11-01 04:26] guopeng1994 commented on #66285
any updates?

[2020-11-01 05:03] julien-tamade commented on #32298
@wuhaiwei or @WL2012 did you solve this? I'm experiencing as well

[2020-11-01 05:03] gayanpathirage opened #69514 "flutter doctor reports Android Studio (version 4.1); Flutter plugin not installed and Dart plugin not installed errors"
## Steps to Reproduce
OS: MacOS Catalina 10.15.7
Android Studio: 4.1
install flutter plugins

and check;

flutter doctor

## Logs
[code]

[2020-11-01 05:09] ibyet05 commented on #69468
Hi @renanzdm,

Now It makes sense.  But unfortunately, I need to use sizedbox because rows should be longer than screen size.
And there are also other widgets above the listbox in my application, they have to also scroll horizontally together with the listbox.  So I think I need to use another solution instead of RefreshIndicator.

[2020-11-01 05:09] gayanpathirage commented on #69514
Apparently found the issue thanks to this post; [Flutter plugin not installed error; When running flutter doctor](https://stackoverflow.com/a/64529134/1820413)

Plugin folder has changed in 4.1 version;
From : ~/Library/Application\ Support/AndroidStudio4.1
To: ~/Library/Application\ Support/Google/AndroidStudio4.1/plugins

[2020-11-01 05:12] gayanpathirage commented on #69514
Temporary fix as suggested in the above answer;

`ln -s ~/Library/Application\ Support/Google/AndroidStudio4.1/plugins ~/Library/Application\ Support/AndroidStudio4.1`

[2020-11-01 05:25] luckysmg opened #69515 "How to put an widget sticky on the keyboard...with keyboard animation up and down? (especially on iOS)"
When the keyBoard open or close,the widget at the bottom in scaffold will jump to new positon,instead of animate to that positon with keyboard animation .So i want to know how to let this widget to sticky on the iOS keyboard..

my flutter doctor:
[code]

[2020-11-01 05:26] prayantgupta15 commented on #69511
I would like to be assigned to this issue

[2020-11-01 05:39] dustincatap opened #69516 "Couldn't build Android APK after upgrading Flutter 1.22.3 and Android Studio 4.1"
`flutter build apk -v` output:

[code]

`flutter doctor -v` output
[code]

[2020-11-01 05:56] Abhishek01039 commented on #69511
Hello @speller
wrap your `TextFormField` widget to `Flexible` because you are using `Row` here
Thanks

[2020-11-01 06:06] dustincatap commented on #69516
Solved it by restarting computer

[2020-11-01 06:06] #69516 closed

[2020-11-01 06:18] balvinderz commented on #67380
this feature is already there in android and ios.

[2020-11-01 06:23] #69512 closed

[2020-11-01 06:24] jba-tm commented on #69303
Problem is samely with that issue and reproducing too. But I said about print() function, which print to console even now.

[2020-11-01 06:24] kwkimg3100 commented on #69512
Geopoint of Marker is same. so I couldn't see two markers.

[2020-11-01 06:49] ManuLpz4 commented on #69412
I can't reproduce this bug :/

[2020-11-01 07:27] sidrao2006 commented on #69500
Hey @zyruva , is the website using JQuery?
If it doesn't or if you're not sure, could you please post the outputs of `flutter run -v` and `flutter doctor -v`
Thank you!

[2020-11-01 07:31] Chinmay-KB commented on #69469
I'd love to add a dartpad sample in addition to a code sample, but I don't think we can simulate back button presses in dartpad. Any workaround?

[2020-11-01 07:37] sidrao2006 commented on #69500
Also @zyruva ,
This issue tracker is used for tracking bugs and feature requests for the flutter framework, engine and the flutter tool.
Please see https://flutter.dev/community for resources and asking queries doubts and assistance on personal code. You may get some help if you post it on [StackOverflow](https://stackoverflow.com/questions/ask?tags=flutter) and if you need help with your code, pl

[2020-11-01 07:38] sidrao2006 commented on #69469
@Chinmay-KB , you could create a scaffold, with an AppBar. So the back button will be displayed on the AppBar itself.
It should be enough to simulate the action.

[2020-11-01 07:43] NtZheng commented on #69407
Hi @TahaTesser

An empty string is illegal. I used empty strings as illegal URLs in my reproduction steps. In actual development scenarios, the server may return an empty string.

The steps to reproduce are as follows:
1. First pass in an illegal url, you can use an empty string
2. Then pass in a valid URL. (Change the url in the actual scenario may be the url change after the pull-down refresh. B

[2020-11-01 07:43] zyruva commented on #69500
@sidrao2006 , yes (last time i checked with its developer) the website does use jQuery, weird thing, i tried the WebView Browser App that comes with Android Emulator and that same link didnt  work! i also tried WebView from native Android + Xamarin, same thing, that home page doesnt work, whats also weird is that when i browse to another URL from that website and i access the home  page from the w

[2020-11-01 07:45] NtZheng commented on #69407
Hi, @yaderson I tried hot restart, but it didn’t work

[2020-11-01 07:51] Thesmader commented on #69490
Some widgets such as ListTile have images in the code samples for illustration([example](https://api.flutter.dev/flutter/material/ListTile-class.html#material.ListTile.4)). I am a little confused as to how I can contribute these images in a PR.

[2020-11-01 07:54] Tokol opened #69519 "i couldnot build ios app throwing xcode error (pod install failed)"
![Screen Shot 2020-11-01 at 1 38 45 PM](https://user-images.githubusercontent.com/25947472/97797747-a87dbb00-1c47-11eb-9723-20986be5a54f.png)

couldnot figured out what to do!

[2020-11-01 07:56] zyruva commented on #69500
@sidrao2006
flutter run -v:
[code]

flutter doctor -v:
[code]

PS: i only use VSCode

[2020-11-01 07:57] sidrao2006 commented on #69500
According [this stackoverflow question](https://stackoverflow.com/questions/30820497/failed-to-execute-scroll-on-window-2-arguments-required-but-only-1-present), it is possible that the `$` is not referring to jQuery

[2020-11-01 07:59] zyruva commented on #69500
@sidrao2006 i cant tell for sure, im not an expert web dev nor do i have enough knowledge about jQuery

[2020-11-01 09:02] superakabo commented on #69412
This bug is only reproducible when the maxScrollExtent is very small. Please try setting childCount to 1 for the SliverList.
You'll realize that the bouncing scroll effect is lost on iOS. On Android it doesn't work at all.

[2020-11-01 09:02] sidrao2006 commented on #69500
Alright, so as much as I can tell,
jQuery uses `$` to refer to the browser's `window` object.
Using `window` it can refer to the html elements on the page.
So basically, jQuery might not be able to access the window in the webview

[2020-11-01 09:03] sidrao2006 commented on #69500
@yjbanov , can js libraries running in webview access the window object?
Is this an error?

[2020-11-01 09:05] zyruva commented on #69500
but how come the home page loads successfully if i access it from another place ? (i start the webbiew with /login for example and click the home button on the banner and get redirected to the home page which didnt work previously)

[2020-11-01 09:05] sidrao2006 commented on #69520
Most of the navigation docs are based on Navigator 1.0
There are a few open issues addressing the lack of documentation for Navigator 2.0

[2020-11-01 09:06] hamdikahloun commented on #69519
Hi @Tokol

Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and your `pubspec.yaml` ?

Thank you

[2020-11-01 09:09] sidrao2006 commented on #69500
@zyruva , my guess is that something blocks jQuery from accessing it as soon as the webview loads.
It may be fixed by adding a time gap (delaying) after Webview widget is build and before the page starts loading

[2020-11-01 09:10] kushalgoel786 opened #69520 "Ability to Add 'Path' after a URL in a Flutter Web Website"
# Use case
Often while making a website, one needs to have **specific URLs for particular pages on a website**.

### Example -

Let's suppose there is a website for recommending Restaurants, (abc.com).
Now there are many restaurants listed on it.

For a user to share a particular restaurant with his friends, he needs a specific URL to that Restaurant
(abc.com/aParticularRestaurant)

It would not b

[2020-11-01 09:11] Tokol commented on #69519
flutter doctor -v
[✓] Flutter (Channel stable, 1.22.3, on Mac OS X 10.15.2 19C57, locale en-US)
    • Flutter version 1.22.3 at /Users/sureshlama/myflutter/flutter
    • Framework revision 8874f21e79 (2 days ago), 2020-10-29 14:14:35 -0700
    • Engine revision a1440ca392
    • Dart version 2.10.3

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    • Android SDK a

[2020-11-01 09:12] sidrao2006 commented on #69502
@rebootcode ,To use `flutter_webview`, you would have to create a flutter app which supports android and iOS only.
`flutter_webview` currently doesn't support flutter web.
[This Stackoverflow question](https://stackoverflow.com/questions/58150503/webview-in-flutter-web) has a workaround.
After following that, building a flutter web app will enable caching by default and if you deploy the web app w

[2020-11-01 09:13] sidrao2006 commented on #69500
@zyruva , could you try setting the `initialUrl` to null. Then add the `onWebviewCreated` callback. In the callback use the `WebviewController` to load a url.
But use a future.delayed callback.

 `onWebviewCreated` callback -

[code]

[2020-11-01 09:15] Tokol commented on #69519
verbose:
                  "operatingSystemVersion" : "13.5 (17F61)",
                        "available" : true,
                        "platform" : "com.apple.platform.iphonesimulator",
                        "modelCode" : "iPhone12,5",
                        "identifier" : "A1962646-3DE3-4434-8BA8-E49032DF28E7",
                        "architecture" : "x86_64",
                        "mode

[2020-11-01 09:17] sidrao2006 commented on #69520
@kushalgoel786 , I think this problem was solved in Navigator 2.0

[2020-11-01 09:18] timnew commented on #69465
Hey @hamdikahloun I have included in the original post, but happy to paste here again:

[code]

`Flutter plugin`, and `Dart plugin` not found is caused by another bug of flutter doctor(https://github.com/flutter/flutter/issues/61246)

[2020-11-01 09:18] renanzdm commented on #69468
I understand, in several ways to do this, but it was not a mistake.
But I didn’t see the sense of having lines larger than the screen size, and it will not appear

[2020-11-01 09:20] Tony-Akani commented on #67608
Please I am having this same issue how were you able to solve it?

[2020-11-01 09:23] sidrao2006 commented on #69515
@luckysmg , if your layout is simple, then you could add a padding around the widget at the  bottom.
Something like this -

[code]

[2020-11-01 09:24] zyruva commented on #69500
@sidrao2006 that makes sense, im kinda new to flutter so i only code on the UI page (still didnt get into patterns and all), is there a way to execute a delay after the widget has been built ?

[2020-11-01 09:25] kushalgoel786 commented on #69520
Hi

Thanks for your prompt reply!

I will surely go through it.

By the way, is this thing mentioned in the docs?
I went through them in order to find this. Shouldn't it be added?

[2020-11-01 09:28] shihaohong commented on #52213
@AyushBherwani1998 Another approach that is similar to your 2nd suggestion that wouldn't be breaking is to introduce a new parameter called `collapseBackgroundColor` and just have the tween animate between `backgroundColor` and `collapsedBackgroundColor`. What do you think?

[2020-11-01 09:28] RKRohk commented on #69118
I would like to work on this

[2020-11-01 09:36] Tony-Akani opened #69522 "Execution failed for task ':app:compileFlutterBuildDebug'."
Hello Please i am having an error while trying to run my application,

<details><summary>Logs</summary>

[code]
</details>

pubspec.yaml

<details><summary>pubspec.yaml</summary>

[code]
</details>

please help me pleaseee

[2020-11-01 09:47] hamdikahloun commented on #69501
Hi @oGranny

@iapicca  is correct

From what I can see, the issue is related to a 3rd party plugin rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/FirebaseExtended/flutterfire/issues) .
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments, providing your `flutter doctor -v`, your `flutter run -v`, y

[2020-11-01 09:47] #69501 closed

[2020-11-01 09:48] rebootcode commented on #69502
@sidrao2006 - Do  you mean `https://pub.dev/packages/flutter_webview_plugin` has `PWA` support using below options:

[code]

Does `enableAppScheme` implies PWA support?

[2020-11-01 09:50] hamdikahloun commented on #69514
Hi @gayanpathirage

Failing to detect the plugins will not affect Flutter development at all. The Flutter CLI tool does not touch the plugins, only your editor does. Because of this, we plan to deprecate the plugin validators : #61246 .

Thank you

[2020-11-01 09:53] hamdikahloun commented on #69465
I'm able to reproduce the issue

<details>
  <summary>main.dart</summary>

[code]

</details>

<details>
  <summary>widget_test.dart</summary>

[code]

</details>

[2020-11-01 09:59] AyushBherwani1998 commented on #52213
@shihaohong Makes sense to me, I'll change the docs for `backgroundColor` to make it more relevant.

[2020-11-01 10:00] totalerex commented on #61450
It looks like no one from Flutter team cares about the issue.
I did some more investigation and it looks like there is just a bug in Skia working on Metal.

Why I think there is Skia bug:
1. Jank is not depend on device performance, in my case it is clearly visible on one specific **1 second long** animation  - on Metal on ALL devices I tested, there is only 2 frames displayed on first run, first

[2020-11-01 10:43] #69489 closed

[2020-11-01 11:05] KholofeloMoyaba commented on #18232
I'm not particularly fond of this workaround but I just thought I should share it as it works...

If you don't want to muddy your gradle file (e.g. maybe there are cases where you want it to still build with debug keystore locally for some reason). Then you could keep the gradle signingConfig as it comes in a blank project:
[code]

Then in your post clone script you can unsign the apk so that AppC

[2020-11-01 12:13] wanjm commented on #64542
I hope flutter team put high priority on this one;

[2020-11-01 12:25] zyruva commented on #69500
After a bit of investigating, i found out that the issue was the emulator itself, idk whats wrong exactly but when i used my real device (Android 7), it worked perfectly, but on my Android 7 emulator it doesnt, also on other emulators (android 7 on vbox), but android 9 worked fine on the emulator, so i cant really tell what the problem is, but thankfully its not a flutter bug.

Thanks fo much for

[2020-11-01 12:25] chandarlee commented on #64542
For now, I have found a workaround for Android which need to load the flutter engine a second time , and lead to much more memory consume. Beyond that , everything just work fine. For iOS to work, I am still trying.

[2020-11-01 12:30] sidrao2006 commented on #69500
As you've mentioned, this isn't a flutter bug, you can close it.
Thanks

[2020-11-01 12:30] #69500 closed

[2020-11-01 12:31] luckysmg commented on #69515
When I tap the TextField.the value of MediaQuery.of(context).viewInsets.bottom will be return twice in a few moment.The first value is 0.0 ,the second value is 335 ,which is the iOS keyboard height,but I need to get the 335 at first time....but I need to wait it to call build twice.....emmm  how to solve this.....

[2020-11-01 12:32] wigl commented on #69407
Make some changes in your case:

<details>
<summary>code sample</summary>

[code]
The Image can no longer be restored correctly.

[2020-11-01 12:36] sidrao2006 commented on #69515
@luckysmg , MediaQuery is an InheritedWidget. So, it's dependents (bottom widget in your case) will be rebuilt when it's value changes. So, you don't have to listen for changes and then rebuild the widget

[2020-11-01 12:37] luckysmg commented on #69515
I know....but I need the val 335,because i need this val to be a tween 's end value........

[2020-11-01 12:40] eriklange commented on #62412
Same problem at 1.23.0-18.1.pre

[2020-11-01 12:41] iapicca commented on #69468
I kind-of-agree with you,
but you have to admit that it's unusual that the `callback` works and the `icon` doesn't...
also in case it isn't supposed to work, those restriction should be explicitly documented

[2020-11-01 12:43] sidrao2006 commented on #69515
viewInsets.bottom is 0 by default . It represents the system insets (from the bottom). So when the keyboard is closed, the value will be 0, when open, it will be the the height of the keyboard

[2020-11-01 12:45] luckysmg commented on #69515
Yes,that 's the problem to me....Because I want to get the keyboard height at first time when I tap textfield......hahahahha

Maybe my logic is wrong....

[2020-11-01 12:48] sidrao2006 commented on #69515
Since, this is not an issue with flutter, can you please close this issue?

Thanks!

[2020-11-01 12:49] luckysmg commented on #69515
Yap

[2020-11-01 12:49] #69515 closed

[2020-11-01 13:00] hamdikahloun commented on #68152
Hi @pulstar

From what I can see, the issue is related to a 3rd party plugin ([image_picker_saver](https://pub.dev/packages/image_picker_saver)) rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/cnhefang/image_picker_saver/issues) .

[code]
Thank you

[2020-11-01 13:03] meowofficial commented on #61450
I am developing my app for more than a year and I tried a lot of flutter releases. There wasn't any animation jank until 1.12 (inclusively). As I know after 1.12 flutter started to use Metal instead of Open GL and every animation started to lag and hang. All animations in my app are very simple (like route changing, dialog showing). I used to think that I did something wrong but I didn't. I tried

[2020-11-01 13:09] sidrao2006 commented on #69522
Looks like a duplicate of #59449

[2020-11-01 13:12] sidrao2006 commented on #69502
@rebootcode , sorry I'm not sure about that package

[2020-11-01 13:19] NtZheng commented on #69407
Hi, @TahaTesser What he said is what i want to say, You can look at his code

[2020-11-01 13:47] ibyet05 commented on #69468
Long lines will appear, when you scroll horizontally. this why I use SingleChildScrollView as parent.

[2020-11-01 13:48] jamesblasco commented on #68877
Hello @yjbanov, here is some research I have been doing related to this problem:

The safari mobile WebKit uses the body scroll to handle this interaction. This requires the body `overflow-y` attribute to be set to `auto`/`scroll` and the body to have a size longer than 100%. Obviously, this is not the case for any flutter web as by default overflow is `hidden`.
After changing that I couldn't make

[2020-11-01 13:49] Sherafatpour opened #69526 "cannot find zipfile directory in one of flutter/bin/cache/dart-sdk-darwin-x64.zip"

[2020-11-01 14:06] renanzdm commented on #69468
got it but but and unusual behavior

[2020-11-01 14:08] nt4f04uNd opened #69528 "[engine] systemNavigationBarDividerColor is ignored on Android"
https://github.com/flutter/engine/blob/db507f8f0e0c4a082d98366d092138a0a6d1e232/shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java#L271-L274

[2020-11-01 14:21] letiagoalves commented on #60763
Did what @siloebb and it worked (real device).

Thanks man.

[2020-11-01 14:28] faisalmushtaq007 commented on #66901
@ZipoNamberwan can you please provide your punspec.yaml file

[2020-11-01 14:30] faisalmushtaq007 commented on #66901
i got this in my mail from google developers group:
![Screenshot (43)](https://user-images.githubusercontent.com/24683159/97805559-df21f880-1c7c-11eb-8d21-44d7702508eb.png)

[2020-11-01 14:42] Dhua-v commented on #61309
`
//a global variable with initial value of 0
int playAtFirst =0;
//the above variable is used to montor global state, and to make sure that only one player is running.

//Below is the widget,
//pass videoUrl, thumbnailUrl, and an optional h(height of the widget,). h is optional, but QA has not gone through the code without h param.

//<3

class VideoItem extends StatefulWidget {
  final String ur

[2020-11-01 14:43] #69483 closed

[2020-11-01 14:45] Dhua-v commented on #61309
`string solution="temporary"`

[2020-11-01 14:48] #69478 closed

[2020-11-01 14:49] jamesblasco opened #69529 "[web] Scroll is not recognized by the browser"
## Steps to Reproduce

Flutter is painted on a canvas and the browser doesn't detect the scroll.

This causes problems when the native browser uses the scroll to perform their own actions.

Current problems:

- Safari and Chrome iOS address and bottom bar navigation doesn't collapse when scrolling:
Issues: https://github.com/flutter/flutter/issues/64572 https://github.com/flutter/flutter/issues/68

[2020-11-01 15:01] GSamuel opened #69531 "Transforming Clipped Images results in strange clipping behaviour"
I run the build on flutter web.

## Steps to Reproduce:

[code]

**Expected results:**

Expected to see rotated blue container where the image is rotated exactly the same way as the container
Image should be a skewed circle touching all edges of the container, instead of being chopped off.

**Actual results:**

It looks like the clipping isn't transformed correctly and not in the same way the cont

[2020-11-01 15:21] hesamnn opened #69533 "authentication flutter by laravel's user database"
Hi
I have a flutter projects and I want too connect authentication of flutter project to the laravel user database
please help me to do this..
thanks

[2020-11-01 15:26] #61309 closed

[2020-11-01 15:28] #69484 closed

[2020-11-01 15:38] amitkot commented on #67497
@HansMuller

In my case, I have an `AppBar` (actually, a `SliverAppBar`) where I override the `backgroundColor` to `theme.colorScheme.surface` to get a "transparent" AppBar effect.

### What I wanted
An effect similar to Messages and Calendar apps:

<img width="411" alt="Screen Shot 2020-11-01 at 17 10 41" src="https://user-images.githubusercontent.com/654041/97806709-b2aeb200-1c65-11eb-9933-364b5

[2020-11-01 15:47] cmee123 commented on #69493
Here are my screenshots:

![image](https://user-images.githubusercontent.com/73676421/97807555-267d9a00-1c27-11eb-8384-7d3ff0489316.png)

![image](https://user-images.githubusercontent.com/73676421/97807566-31382f00-1c27-11eb-864e-029739547673.png)