[2020-01-10 06:49] dnfield commented on #48534
It seems like this is by deisgn, see:

https://github.com/flutter/engine/blob/7ef88f85d572aff504852f954f94831c031ba1a2/lib/ui/painting.dart#L239-L245

You should either use HSVColor or you should avoid lerping to/from transparent black.  Going to close this for now, please feel free to ping it if you think I've missed something.

[2020-01-10 06:50] dnfield commented on #48534
(e.g. if you set the second color to null instead of Colors.transparent, you'll get the scaleAlpha lerping)

[2020-01-10 06:50] justinmc commented on #47901
+1 to what @iapicca said.

I tried to simplify this to something that can run, but I couldn't reproduce the problem.  Here's the simplified code:

[code]

[2020-01-10 06:53] dnfield commented on #48556
Looks like you forgot to fill out the issue template!

Please feel free to edit and then comment to ping this and get it re-opened - or just file a new issue with the details.  Please be sure to include a minimal reproduction that leads to this issue.

[2020-01-10 06:53] njovy commented on #48381
@pxc0215 I thought Android provide an API to fetch a current selected system font but I couldn't find any document. I saw a few posts regarding this issue but the best way to achieve this is that you provide a list of fonts and let users choose what they want for this app. If you have any better idea, please let me know!

[2020-01-10 06:54] tvolkert commented on #41778
@TheKashe when this happens does the app successfully launch?

Without more concrete actionable reproduction info, I'm afraid there's no way we can investigate this.

[2020-01-10 06:55] iapicca commented on #48483
Closely related to https://github.com/flutter/flutter/issues/48481

[2020-01-10 07:00] iapicca commented on #48494
Hi @zionnite
I'm glad that you solved the issue
from your doctor I see that the licence is still pending,
don't forget to run `flutter doctor --android-licenses`

given your last message I feel safe to close this issue,
if you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-10 07:00] #48494 closed

[2020-01-10 07:00] dnfield commented on #48512
We could also just write another provider that wraps NetworkImageProvider to handle this case right?

If the scheme of the URL (or really, if the string just starts with) `data:`, we do whatever we have to there, otherwise we forward it on to NetworkImageProvider.

We could also make that provider only get used when the test binding is active.

[2020-01-10 07:01] jonahwilliams commented on #23316
Yeah, there are a few devicelab tests that are string matching the output. If someone were to adjust this, they'd also need to run through the hot reload tests and fix them in the same PR

[2020-01-10 07:04] tvolkert commented on #12296
Closing, as there are several places in our documentation nowadays that talk about `setState()` and state management.

[2020-01-10 07:05] iapicca commented on #48513
Hi @peterlauri
can you please provide your `flutter run --verbose`?
Thank you

[2020-01-10 07:06] dnfield commented on #46169
They're still being landed by autoroller logic instead of by cocoon.

To let cocoon land them, we need to tell cocoon which accounts don't need an approval review.

[2020-01-10 07:07] tvolkert commented on #36263
@amreniouinnovent can you post an example `main.dart` app and analysis options that contains lints that aren't picked up by `flutter analyze`?

[2020-01-10 07:11] huage2580 commented on #48552
1.提issue使用英文，仅有的几个单词还拼错了，‘activate’，‘goole’ 你连机翻都做不到，不配得到别人的帮助。
遵守issue模板，或者提供完整的信息。这不是论坛。
2.提问前请先搜索issue，相关 #47582 , #48480

1. Please use English.
Follow the issue template, and provide complete information.
This is not a forum.
2. Please search for issues before asking questions, related # 47582, # 48480

[2020-01-10 07:11] tvolkert commented on #42523
For consistency with other widgets that accept children, we're unlikely to change it to allow nulls, but at the very least, we could document how to achieve empty cells by using `Container()`.  Updating the title accordingly.

[2020-01-10 07:13] iapicca commented on #48519
Hi @ziasultan2
I see a lot of errors coming from `leveldb`
are you adding Flutter to your native app
or you are using the 3rd party plugin [leveldb](https://pub.dev/packages/leveldb/)
(not updated from over an year)?

Could post a reproducible minimal code sample
or the steps to reproduce the problem.
Thank you

[2020-01-10 07:14] tvolkert commented on #25930
There's not enough actionable info in this bug to proceed (reproduction code, etc.).  It also looks like this is likely due to using a format that's not supported by the underlying player.  Closing as such.

[2020-01-10 07:14] #25930 closed

[2020-01-10 07:17] tvolkert commented on #30156
@RyanRemer are you willing to send a PR containing the fix to this?

[2020-01-10 07:23] sooxt98 commented on #48534
@dnfield Hi, please reopen the issue, AnimatedContainer can't work with null Color & HSV color

[2020-01-10 07:24] tvolkert commented on #35615
Closing this, as there's no actionable info as to what needs to be done.

[2020-01-10 07:24] #35615 closed

[2020-01-10 07:25] tvolkert commented on #18320
What's the visible manifestation of this bug?

[2020-01-10 07:27] tvolkert commented on #41438
Closing, as there's no actionable info here.

[2020-01-10 07:27] #41438 closed

[2020-01-10 07:30] tvolkert commented on #21486
This issue seems to not have any action required from the Flutter side and is starting to become a dumping ground for Java app issues.  As such, I'm going to close it.

[2020-01-10 07:30] #21486 closed

[2020-01-10 07:32] dnfield commented on #48534
Ahh.

[2020-01-10 07:32] dnfield commented on #48534
I think `null` works, but HSV looks like it doesn't.  We should fix that.

[2020-01-10 07:34] cbenhagen commented on #17911
@ramiechaarani & @darren-f5s please check solutions posted in https://github.com/flutter/flutter/issues/47524

[2020-01-10 07:34] iapicca commented on #48540
Hi @chrisfulam
the error in your logs seems caused by a 3rd party plugin [auto_orientation](https://pub.dev/packages/auto_orientation) for which you may ask support in the dedicated [github](https://github.com/bytepark/auto_orientation/issues);

If you are experiencing the issue without said plugin
could you please provide your updated `flutter build ios --no-codesign --verbose`
thank you

[2020-01-10 07:36] sooxt98 commented on #48534
![image](https://user-images.githubusercontent.com/13378059/72134361-d47d3680-33be-11ea-8d7a-1b628d6f46e3.png)
@dnfield  null not working with AnimatedContainer in dartpad tho, it removes the animation

[2020-01-10 07:39] darren-f5s commented on #17911
@cbenhagen Thanks for the reply! Unfortunately I can't update to the latest version as I need to keep with flutter build 1.9.x (For older phone compat). Is there anything I can do directly in code to fix this issue my side?

[2020-01-10 07:41] darren-f5s commented on #17911
@cbenhagen Am I correct in assuming that if I do a local update of the code based off the following changes that it will (should) work?
https://github.com/flutter/plugins/pull/2434/commits/824787e4fdba35691c5285e58c3c0e58666db7bd

[2020-01-10 07:41] vijayaragavangkf commented on #48464
@gspencergoog Please run the code on device or emulator where the in-build keyboard(virtual keyboard) is enabled. By default keyboard  is disable in IOS Simulator.. I am getting this issue in Android Device and Emulator.  I am not sure about IOS.

And yes we need to get previously focused widget when we return to a route. Showing cursor in the previously focused `TextField` is good. But **the main

[2020-01-10 07:45] iapicca commented on #48480
Hi @secret620
I see there's an open [issue ](https://github.com/flutter/flutter/issues/47582) addressing the case you described.
Please follow up on that issue,
I'm closing the current one as duplicate.
If you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-10 07:45] #48480 closed

[2020-01-10 07:45] iapicca commented on #48552
Hi @secret620
I see there's an open [issue ](https://github.com/flutter/flutter/issues/47582) addressing the case you described.
Please follow up on that issue,
I'm closing the current one as duplicate.
If you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-10 07:45] #48552 closed

[2020-01-10 07:50] nopmania commented on #47909
Thank you very much for your information.

[2020-01-10 07:53] cbenhagen commented on #17911
Yes. But it would be easier to use version 0.10.3+1 of the video player plugin.

[2020-01-10 07:56] #47909 closed

[2020-01-10 08:00] deandreamatias commented on #46815
In Visual Studio, I make a equivalent implementation.

- In `.vscode/launch.json` write this:
<details>
    <summary>Code</summary>
    <pre>
<code>
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Debug",
            "request": "launch",
            "type": "dart",
            "flutterMode": "debug",
            "preLaunchTask": "Clean",
        }
    ]
}
</code>

[2020-01-10 08:01] dnfield commented on #48534
You're right, I missed it because of lightness of color.

[2020-01-10 08:02] pxc0215 commented on #48556
@dnfield Sorry, I just forgot to fill out the issue template. It is now correct, please open the issue.

[2020-01-10 08:04] dnfield commented on #48556
Can you add the code to reproduce this?

[2020-01-10 08:05] ozc commented on #39866
I don't remember the detail for this, there were several weird issues for this project. It does't seem like related but I guess I might have solved this by forcing the font scaling. I'll recheck the code.

[2020-01-10 08:11] parcool commented on #48079
@FisherWL same issue,does I have to downgrading?

[2020-01-10 08:24] iapicca commented on #44616
Hi @skillitzimberg
could you please run
`flutter channel stable`
`flutter upgrade --force`
`flutter pub cache repair`
`cd <YOUR APP FOLDER>`
`flutter clean`
let me know if the issue persists
thank you

[2020-01-10 08:26] iapicca commented on #45338
Hi @alanmeier
could you please run
`flutter channel stable`
`flutter upgrade --force`
`flutter pub cache repair`
`cd <YOUR APP FOLDER>`
`flutter clean`
let me know if the issue persists
thank you

[2020-01-10 08:29] ansarizafar commented on #48468
@yjbanov this solution will work but a solution which doesn't require manual index.html editing every time we build our app would be more appropriate.

[2020-01-10 08:31] iapicca commented on #47265
Hi  @tbm98
can you please provide your `flutter run --verbose`
and a reproducible minimal code sample
or the steps to reproduce the problem?
Thank you

[2020-01-10 08:37] iapicca commented on #47461
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact descriptions what happ

[2020-01-10 08:37] #47461 closed

[2020-01-10 08:39] iapicca commented on #44972
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact descriptions what happ

[2020-01-10 08:39] #44972 closed

[2020-01-10 08:40] VladyslavBondarenko commented on #45886
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:40] #45886 closed

[2020-01-10 08:40] iapicca commented on #47367
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact descriptions what happ

[2020-01-10 08:40] #47367 closed

[2020-01-10 08:41] VladyslavBondarenko commented on #45879
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:41] #45879 closed

[2020-01-10 08:41] VladyslavBondarenko commented on #45871
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:41] #45871 closed

[2020-01-10 08:41] VladyslavBondarenko commented on #45857
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:41] #45857 closed

[2020-01-10 08:42] Penguin-hub commented on #48186
thanks for your comment:)
I solved my problem.

[2020-01-10 08:42] #48186 closed

[2020-01-10 08:46] jerryzhoujw opened #48558 "[video_player] video sound should not mute when mute control is muted"
When playing video, video sound will be muted when muted controller is muted.

It's maybe as design, but not same as most of the video & audio apps(Youtube for example)

**Target Platform:** iOS
**Target OS version/browser:** 13.3
**Devices:** iPhone8

[2020-01-10 08:47] VladyslavBondarenko commented on #45827
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:47] #45827 closed

[2020-01-10 08:47] VladyslavBondarenko commented on #45822
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:47] #45822 closed

[2020-01-10 08:49] VladyslavBondarenko commented on #47375
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:49] #47375 closed

[2020-01-10 08:49] VladyslavBondarenko commented on #47319
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:49] #47319 closed

[2020-01-10 08:49] VladyslavBondarenko commented on #47275
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:50] #47275 closed

[2020-01-10 08:50] VladyslavBondarenko commented on #47268
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:50] #47268 closed

[2020-01-10 08:50] VladyslavBondarenko commented on #47238
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:50] #47238 closed

[2020-01-10 08:50] VladyslavBondarenko commented on #47219
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:50] #47219 closed

[2020-01-10 08:51] VladyslavBondarenko commented on #47210
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:51] #47210 closed

[2020-01-10 08:52] VladyslavBondarenko commented on #46507
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:52] #46507 closed

[2020-01-10 08:53] VladyslavBondarenko commented on #46440
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:53] #46440 closed

[2020-01-10 08:53] VladyslavBondarenko commented on #46293
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:53] #46293 closed

[2020-01-10 08:54] Hixie commented on #23605
Yup!

[2020-01-10 08:54] #23605 closed

[2020-01-10 08:55] VladyslavBondarenko commented on #46222
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:55] #46222 closed

[2020-01-10 08:56] VladyslavBondarenko commented on #46212
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:56] VladyslavBondarenko commented on #46187
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:56] #46187 closed

[2020-01-10 08:56] VladyslavBondarenko commented on #46158
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:56] #46158 closed

[2020-01-10 08:56] VladyslavBondarenko commented on #45888
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:56] #45888 closed

[2020-01-10 08:56] VladyslavBondarenko commented on #45757
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:56] #45757 closed

[2020-01-10 08:56] VladyslavBondarenko commented on #45685
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:56] #45685 closed

[2020-01-10 08:56] VladyslavBondarenko commented on #45682
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:56] #45682 closed

[2020-01-10 08:56] VladyslavBondarenko commented on #45674
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:56] #45674 closed

[2020-01-10 08:57] VladyslavBondarenko commented on #45669
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:57] VladyslavBondarenko commented on #46360
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:57] #46360 closed

[2020-01-10 08:57] devmgs commented on #26359
I created a class like
[code]

Now on my Apprun I call this before returning app

` HttpOverrides.global = new MyHttpOverrides();`

[2020-01-10 08:57] VladyslavBondarenko commented on #45838
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 08:57] #45838 closed

[2020-01-10 08:58] TobiasHeidingsfeld commented on #44845
@ferhatb  I could update to the latest master and now all the bugs in the sample project are gone and the performance is also almost back to how it was before.

As far as I can see there is still on issue left, positions can be wrong when using a AnimatedScale Widget but all else seems great!

[2020-01-10 08:59] iapicca commented on #46965
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact descriptions what happ

[2020-01-10 08:59] #46965 closed

[2020-01-10 09:00] VladyslavBondarenko commented on #44801
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:00] #44801 closed

[2020-01-10 09:00] VladyslavBondarenko commented on #44702
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:00] #44702 closed

[2020-01-10 09:00] VladyslavBondarenko commented on #44191
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:00] #44191 closed

[2020-01-10 09:00] VladyslavBondarenko commented on #43504
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:01] Nico04 commented on #24585
You can use my idea as a workaround meanwhile :
https://github.com/flutter/flutter/issues/37927#issuecomment-539439488

[2020-01-10 09:03] VladyslavBondarenko commented on #44538
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:03] #44538 closed

[2020-01-10 09:03] darren-f5s commented on #17911
Agreed! I added the following to my `/ios/Runner/AppDelegate.swift` file (inside `didFinishLaunchingWithOptions`) which fixed the issue - for anyone else interested.

[code]

[2020-01-10 09:03] iapicca commented on #46989
Hi @f12developers
thank you for letting me know

[2020-01-10 09:03] #46989 closed

[2020-01-10 09:04] VladyslavBondarenko commented on #45960
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:04] #45960 closed

[2020-01-10 09:04] VladyslavBondarenko commented on #45956
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:04] #45956 closed

[2020-01-10 09:05] VladyslavBondarenko commented on #45913
Given your last message I feel safe to close this issue,
if you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-10 09:05] #45913 closed

[2020-01-10 09:05] VladyslavBondarenko commented on #45904
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:05] #45904 closed

[2020-01-10 09:05] VladyslavBondarenko commented on #45796
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:05] #45796 closed

[2020-01-10 09:06] VladyslavBondarenko commented on #45553
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:06] #45553 closed

[2020-01-10 09:07] VladyslavBondarenko commented on #45251
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:07] #45251 closed

[2020-01-10 09:08] VladyslavBondarenko commented on #45230
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:08] VladyslavBondarenko commented on #45225
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:08] #45225 closed

[2020-01-10 09:08] VladyslavBondarenko commented on #45169
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:08] #45169 closed

[2020-01-10 09:09] liyuqian commented on #18320
@tvolkert : See the second paragraph of https://github.com/flutter/flutter/issues/18320#issue-330832233 . I haven't tried it in the last year so I'm not sure whether it's still reproducible.

[2020-01-10 09:09] PavelPZ commented on #41544
For sure I'm adding this link: https://github.com/flutter/flutter/issues/44583

[2020-01-10 09:10] AlexeyIWS opened #48559 "AppBar title `overflow:TextOverflow.ellipses` cuts too much text"
TextOverflow.ellipses          |  overflow: TextOverflow.fade title width is correct:
:-------------------------:|:-------------------------:
![ellipsize](https://user-images.githubusercontent.com/44832968/72140431-d08eeb80-33a1-11ea-932f-3a3c93820eac.png) | ![fade](https://user-images.githubusercontent.com/44832968/72140640-3b402700-33a2-11ea-9ed7-0adb4c59f223.png)

[2020-01-10 09:11] iapicca commented on #47720
Hi @jlcool
sd @KagurazakaHanabi  pointed out (thank you)
there's an open [issue ](https://github.com/flutter/flutter/issues/19584)addressing the case you described.
Please follow up on that issue,
I'm closing the current one as duplicate.
If you disagree please write in the comments
and I will reopen it.
Thank you"

[2020-01-10 09:11] #47720 closed

[2020-01-10 09:16] LucasAschenbach commented on #42540
The following code should reproduce the issue. Scroll to the top and while the list is still bouncing, scroll into the opposite direction and the page will, against expectation, bounce into the opposite direction instead of scrolling back.

[code]

[2020-01-10 09:16] prasannaprashi commented on #7248
Hot reload received invalid response: {type: Sentinel, kind: Collected, valueAsString: <collected>}
same error

[2020-01-10 09:16] VladyslavBondarenko commented on #43232
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:16] #43232 closed

[2020-01-10 09:17] VladyslavBondarenko commented on #42878
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:17] #42878 closed

[2020-01-10 09:18] Doris1994 commented on #47992
I also encountered the same problem，See the previous solution `https://github.com/flutter/flutter/commit/93f339fb67df2934e618cfca0f9d5bd7982e4bcd` , flutter version is v1.12.13+hotfix.5.
But the problem still exists

[2020-01-10 09:18] VladyslavBondarenko commented on #47455
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:18] #47455 closed

[2020-01-10 09:19] VladyslavBondarenko commented on #47449
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:19] #47449 closed

[2020-01-10 09:19] VladyslavBondarenko commented on #47446
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:19] VladyslavBondarenko commented on #47445
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:19] #47445 closed

[2020-01-10 09:19] VladyslavBondarenko commented on #47433
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:19] #47433 closed

[2020-01-10 09:19] VladyslavBondarenko commented on #47432
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:19] #47432 closed

[2020-01-10 09:19] VladyslavBondarenko commented on #47399
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:19] #47399 closed

[2020-01-10 09:19] VladyslavBondarenko commented on #47310
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:19] #47310 closed

[2020-01-10 09:21] VladyslavBondarenko commented on #47186
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:21] #47186 closed

[2020-01-10 09:21] VladyslavBondarenko commented on #47142
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:21] #47142 closed

[2020-01-10 09:21] iapicca commented on #47937
Hi @mahmoudaposalih
as @656E6573 pointed out (thank you)
there's an open [issue ](https://github.com/flutter/flutter/issues/42492)addressing the case you described.
Please follow up on that issue,
I'm closing the current one as duplicate.
If you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-10 09:21] #47937 closed

[2020-01-10 09:21] VladyslavBondarenko commented on #47110
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:21] #47110 closed

[2020-01-10 09:21] VladyslavBondarenko commented on #47102
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:21] VladyslavBondarenko commented on #47098
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:21] #47098 closed

[2020-01-10 09:22] VladyslavBondarenko commented on #47058
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:22] #47058 closed

[2020-01-10 09:22] VladyslavBondarenko commented on #47056
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:22] #47056 closed

[2020-01-10 09:22] VladyslavBondarenko commented on #47040
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:22] JankoLancer commented on #43361
This is not fixed, I have this problem too.

[2020-01-10 09:23] VladyslavBondarenko commented on #47016
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:23] #47016 closed

[2020-01-10 09:23] VladyslavBondarenko commented on #46982
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:23] #46982 closed

[2020-01-10 09:23] Sarthaktydy commented on #27924
I don't think this will be helpfull inside the webview.

[2020-01-10 09:23] VladyslavBondarenko commented on #46946
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:23] #46946 closed

[2020-01-10 09:23] VladyslavBondarenko commented on #46944
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:23] #46944 closed

[2020-01-10 09:23] VladyslavBondarenko commented on #46943
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:23] #46943 closed

[2020-01-10 09:23] VladyslavBondarenko commented on #46918
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:23] #46918 closed

[2020-01-10 09:25] cbenhagen commented on #48558
Duplicate of #47524. Please check the solutions in the issue.

[2020-01-10 09:26] liyuqian commented on #45731
@flar : I think that this issue can be closed by one of your PR?

[2020-01-10 09:26] iapicca commented on #36387
Could everyone who still has this problem please file a new issue with the exact descriptions what happens, logs and the output of 'flutter doctor -v'  please.
All system setups can be slightly different so its always better to open new issues and reference related issues.

[2020-01-10 09:28] VladyslavBondarenko commented on #46915
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:28] #46915 closed

[2020-01-10 09:28] Saurabh-Singh-00 commented on #21218
The issue has been resolved in commit #80

[2020-01-10 09:28] #21218 closed

[2020-01-10 09:28] cbenhagen commented on #17911
That's only a good solution if your app is only playing videos or other sound because it will stop any sound the user may have playing in the background as soon as your app starts.

[2020-01-10 09:28] VladyslavBondarenko commented on #46895
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:28] #46895 closed

[2020-01-10 09:28] VladyslavBondarenko commented on #46883
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:28] #46883 closed

[2020-01-10 09:29] VladyslavBondarenko commented on #46864
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:29] #46864 closed

[2020-01-10 09:29] VladyslavBondarenko commented on #46853
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:29] #46853 closed

[2020-01-10 09:33] iapicca commented on #37299
Since several messages from @yy3333333  disappeared from the issue
there's no point in keeping it open

[2020-01-10 09:33] #37299 closed

[2020-01-10 09:35] wassim6975 commented on #48508
Thanks for the answer, I'll try now :)

[2020-01-10 09:35] liyuqian commented on #23535
@Hixie : I was thinking about raster caching the whole layer subtree for either a `TransformLayer` (https://github.com/flutter/flutter/issues/24627),  or an `ImageFiltered` layer. See https://github.com/flutter/flutter/issues/32662 for more details. @flar has been doing a lot of work recently (including introducing the new `ImageFiltered` layer https://github.com/flutter/engine/pull/14491). So @fl

[2020-01-10 09:35] VladyslavBondarenko commented on #30528
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:35] #30528 closed

[2020-01-10 09:36] VladyslavBondarenko commented on #34473
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:37] VladyslavBondarenko commented on #35323
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:37] VladyslavBondarenko commented on #37010
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:37] #37010 closed

[2020-01-10 09:39] liyuqian commented on #47324
@sivachandra : shall we move this issue to the Dart repo, and how do you think about this proposal?

[2020-01-10 09:43] iapicca commented on #47504
Hi @jrutley
the goal of this platform is **not** to provide assistance on personal code,
but rather improve the quality of flutter with contribution, proposal, bug fixing and
in your case pointing out a difficulty that a developer might experience
following flutter's codelabs.

Thank you @alishashaw439 for fixing the problem within the code.

I'd like to keep the issue open for now
until codelabs

[2020-01-10 09:46] wadealanchan opened #48560 "App crash with implementing push notification in IOS on a physical device."
## Steps to Reproduce

1. ...
2. ...
3. ...

**Target Platform:**
**Target OS version/browser:**
**Devices:**

## Logs

[code]

[code]

[code]

[2020-01-10 09:47] VladyslavBondarenko commented on #46851
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:47] #46851 closed

[2020-01-10 09:47] VladyslavBondarenko commented on #46847
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:47] #46847 closed

[2020-01-10 09:47] VladyslavBondarenko commented on #46792
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:49] VladyslavBondarenko commented on #46785
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:49] #46785 closed

[2020-01-10 09:49] VladyslavBondarenko commented on #46783
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:49] #46783 closed

[2020-01-10 09:49] VladyslavBondarenko commented on #46760
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:49] #46760 closed

[2020-01-10 09:49] VladyslavBondarenko commented on #46749
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:49] #46749 closed

[2020-01-10 09:49] VladyslavBondarenko commented on #46679
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:50] VladyslavBondarenko commented on #46677
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:50] #46677 closed

[2020-01-10 09:50] VladyslavBondarenko commented on #46670
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:50] #46670 closed

[2020-01-10 09:50] VladyslavBondarenko commented on #46651
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:50] #46651 closed

[2020-01-10 09:50] VladyslavBondarenko commented on #46641
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:50] #46641 closed

[2020-01-10 09:50] VladyslavBondarenko commented on #46086
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:50] #46086 closed

[2020-01-10 09:50] VladyslavBondarenko commented on #45983
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:50] #45983 closed

[2020-01-10 09:51] iapicca commented on #48053
Hi @MahdiPishguy
I'm not sure if mean to describing an issue with Flutter itself
or if you are asking for assistance within your code.

If you believe it's an issue with flutter,
a reproducible minimal code sample.

If you need help with your app,
please be aware that this platform is not met for assistance on personal code.
Please see https://flutter.dev/community for resources for asking questio

[2020-01-10 09:52] sma commented on #48491
The problem is that `dart:ui` does not implement `drawPicture` for `Canvas` and that it throws an `UnimplementedError`. Therefore, I disagree :-)

Here's a minimal program that causes the problem:

[code]

[2020-01-10 09:52] GermanHernandez91 commented on #41592
Any update on this? I tried everything you wrote but it doesn't work.

[2020-01-10 09:53] VladyslavBondarenko commented on #47482
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:53] #47482 closed

[2020-01-10 09:54] VladyslavBondarenko commented on #47190
Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.
Could everyone who still has this problem please file a new issue with the exact descriptions what happe

[2020-01-10 09:54] #47190 closed

[2020-01-10 09:55] VladyslavBondarenko commented on #47189
Given your last message I feel safe to close this issue,
if you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-10 09:55] kouxinhong commented on #47072
if app/build.gradle code
[code]
delete it

[2020-01-10 09:58] liyuqian commented on #21014
Thank you @mannprerak2 ! Overall your mixin looks good. Unfortunately, I'm currently out-of-office. My colleague @goderbauer may be able to provide you faster and better feedback on naming and where to put this mixin.

[2020-01-10 09:59] iapicca commented on #44905
Hi @liri2006
thank you for providing a code sample

[2020-01-10 10:02] iapicca commented on #47990
Hi @mrfoxie
can you please provide your `flutter doctor -v`,
your `flutter run --verbose` and a reproducible minimal code sample
(the link you provided doesn't seem to work)
Thank you

[2020-01-10 10:04] wadealanchan opened #48561 "App crash with implementing push notification in IOS on a physical device."
https://pub.dev/packages/firebase_messaging
I followed this article to implement IOS integration with everything all set
APNs uploaded on Firebase, GoolgeService-info.plist,etc.

It works when building with simulator and also i tested with my own cert(automatically manage signing). It also works(but this i had to disable push notifications in Xcode).

However, when i enable Push Notifications and

[2020-01-10 10:04] Dianar2013 commented on #27680
in build ,it use  children:_childrenWithKey
<img width="853" alt="屏幕快照 2020-01-10 下午5 56 23" src="https://user-images.githubusercontent.com/5146374/72143937-938f1d00-33d2-11ea-8483-ba384b7f6058.png">

but, when  (_currentIndex - previousIndex).abs() != 1, it change _childrenWithKey in setState(),so one widget will be dispose, to slove it,just do like this,**don't change _childrenWithKey** ,then th

[2020-01-10 10:05] VladyslavBondarenko commented on #48560
Hi @wadealanchan ,
opening an issue please try to provide
all or some of the information indicated in the template

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2020-01-10 10:05] #48560 closed

[2020-01-10 10:06] Dianar2013 commented on #27680
don't change _childrenWithKey ,then the children which "with AutomaticKeepAliveClientMixin" just would be init one time
Future<void> _warpToCurrentIndex() async {
    if (!mounted)
      return Future<void>.value();

    if (_pageController.page == _currentIndex.toDouble())
      return Future<void>.value();

    final int previousIndex = _controller.previousIndex;
    if ((_currentIndex - previou

[2020-01-10 10:10] VladyslavBondarenko commented on #48558
Thanks @cbenhagen !
I'm closing the current one as duplicate [#47524](https://github.com/flutter/flutter/issues/47524).
If you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-10 10:10] #48558 closed

[2020-01-10 10:12] #42734 closed

[2020-01-10 10:14] iapicca commented on #33723
Could everyone who still has this problem please file a new issue with the exact descriptions what happens, logs and the output of 'flutter doctor -v'  please.
All system setups can be slightly different so its always better to open new issues and reference related issues.

[2020-01-10 10:15] wwtssu commented on #47934
I have the same problem
unable to load asset and can load after hot restart
but I can't hot restart when packed a release apk
so sad.

[2020-01-10 10:22] haliliceylan commented on #33210
Hi @d0bry,

i used your implementation
[code]

when i try to call reconnect method, this error appears

[code]

[2020-01-10 10:24] iapicca commented on #48559
Hi @AlexeyIWS
can you please provide your `flutter doctor -v`,
 your `flutter run --verbose` and a reproducible minimal code sample
Thank you

[2020-01-10 10:25] iapicca commented on #48561
Hi @wadealanchan
for what I can see the issue is related to a FlutterFire plugin,
please open the issue in the dedicated [github](https://github.com/FirebaseExtended/flutterfire/issues).
Closing, as this isn't an issue with Flutter itself,
if you disagree please write in the comments and I will reopen it
thank you

[2020-01-10 10:25] #48561 closed

[2020-01-10 10:25] VladyslavBondarenko commented on #48559
True, text is cut to the "-" if the word after the "-" doesn't fit

[2020-01-10 10:35] indigo-dev commented on #33367
// Copyright (c) 2019, the Dart project authors.  Please see the AUTHORS file
// for details. All rights reserved. Use of this source code is governed by a
// BSD-style license that can be found in the LICENSE file.

import 'package:flutter/material.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialA

[2020-01-10 10:36] ansarizafar commented on #47924
Flutter should not require android tools/sdk If I am only developing for web. Even when we upgrade flutter, it downloads android tools/sdks.

[2020-01-10 10:51] alexaccaci commented on #47618
I have a similar problem on Android 9 & 10 using http protocol. as in your example.
I have resolved putting android:usesCleartextTraffic="true" in AndroidManifest.xml

[2020-01-10 11:01] vlkigdm opened #48562 "Lagspikes when typing something into TextFormField w/ custom mask TextEditingController"
## Steps to Reproduce

1. Code: https://gist.github.com/vlkigdm/add8034a72bbc529629586341ca75578
2. Typing something into TextFormField will generate huge lagspikes and logs:
[code]
3. Affected versions: Flutter 1.12.13+hotfix.5 +
    Works fine on: Flutter v1.10.10.

## Logs

[code]

[code]

[code]

[2020-01-10 11:01] ighidan opened #48563 "Build fails after adding apple_sign_in dependency"
Hi,

My app fails to build after adding apple_sign_in: ^0.1.0 dependency. Here is the error list I get. Any idea? Thanks

[code]

[2020-01-10 11:03] VladyslavBondarenko commented on #48238
@michael-chiu
I would upgrade plugins and check whether the new Flutter version is compatible with them.
And or would use for a while older Flutter version, or if the problem is in some third-party plugins, which don't update regularly, and there are exists analogs from Flutter team, and it's easy to replace them, I would consider this option too.
Unfortunately I don't possess more info and can no

[2020-01-10 11:08] VladyslavBondarenko commented on #48238
@michael-chiu
If you face with this problem with plugins from flutter/plugins repository, it would be better to create separate issue(s) for them.
Closing, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-01-10 11:08] #48238 closed

[2020-01-10 11:14] princebillyGK commented on #28181
@theochampion  is there any feature to add for loop in list like this if statement?

[2020-01-10 11:29] Constans commented on #44845
@ferhatb, @TobiasHeidingsfeld I wanted to confirm, but in Flutter **1.13.8-pre.70** things still are off-scaled on mobile (Android phone and iPad tablet). It seems that the hit area is placed correctly, only the visual representation is under-scaled

Also on the desktop web browser, the images flicker (reload) when I hover a Card with multiple positioned. Images are loaded using FadeInImage. Also

[2020-01-10 11:37] MahdiPishguy commented on #48053
@iapicca i had send sample code here and you can check that, thanks

[2020-01-10 11:38] TobiasHeidingsfeld commented on #44845
@ferhatb I have to confirm  @Constans report. When I tested yesterday I updated to the latest version but the webserver was still serving JS generated by 1.10.16

For now, I am also back on 1.10.16

[2020-01-10 11:39] sanekyy opened #48564 "Can't showModalBottomSheet inside of RouteObserver.didPop"
I am listen Navigetor navigatorObservers and when user exist form some screens I want to show modal popup. I call showModalBottomSheet inside MyRouteObserver.didPop method and have error.

**Target Platform:** Android
**Target OS version/browser:** Android 8.1.0, MINU 10.2

## Logs

[code]

[code]

[2020-01-10 11:39] klaszlo8207 commented on #43785
Cany ou help me how to cache the 3 maps after the first time build? Thanks

[2020-01-10 11:43] Constans commented on #44845
@TobiasHeidingsfeld, take a look at [this solution](https://medium.com/flutter-community/caching-in-flutter-for-web-42b3ae0e348f) on solving caching when serving the main file.

[2020-01-10 11:46] jrutley commented on #47504
I was not directly looking for a solution to my code error, though I got
one.

The reason I logged the bug is because the hot reload became unusable after
reverting the code to a known, good state

On Fri., Jan. 10, 2020, 04:43 Francecsco Iapicca, <notifications@github.com>
wrote:

[2020-01-10 11:47] jjuandiaz commented on #48546
There is the player package video_player 0.10.5+1 link https://pub.dev/packages/video_player
To reproduce the error use an m3u8 link
And replace bug bunny video
This source code VideoPlayerController.network(
        'http://www.sample-videos.com/video123/mp4/720/big_buck_bunny_720p_20mb.mp4')

For VideoPlayerController.network(
        'M3U8 VIDEO')

Flutter doctor and console debug not show  err

[2020-01-10 11:50] modulovalue opened #48565 "Remove private default parameters."
There are several constructors in the Flutter SDK with private defaults.

I'm working on a visual Widget builder that is scraping the Flutter SDK and needs to have access to every default value. Due to several defaults being private I'm not able to use those widgets without unnecessary edge-case handling.

- `_DefaultHeroTag` at material/floating_action_button.dart
- `_defaultHeroTag` (_HeroTag) a

[2020-01-10 11:51] rachidev84 commented on #43504
My lap top is not working . I can t help

[2020-01-10 11:57] alberduris commented on #29608
Changing the default `GradleException()` for `FileNotFoundException()` does not seems like a solution to me. More like a workaround or hackiss way to bypass it honestly.

[2020-01-10 12:23] VladyslavBondarenko commented on #48563
Hi @ighidan
This issue is caused by 3rd party plugin,
you might want to consider opening an issue on the [plugin's github](https://github.com/tomgilder/flutter_apple_sign_in/issues)
Also to better address the problem could you please provide your `flutter doctor -v`?
Thank you

[2020-01-10 12:28] VladyslavBondarenko commented on #48564
Hi @sanekyy
To better address the issue, would be helpful
if you could post a minimal code sample to reproduce the problem
Thank you

[2020-01-10 12:29] ighidan commented on #48563
Thank you for your response. Here is the output from the flutter doctor -v command:

`[✓] Flutter (Channel stable, v1.7.8+hotfix.4, on Mac OS X 10.14.6 18G87, locale en-JO)
    • Flutter version 1.7.8+hotfix.4 at /Users/ikramy/dev/flutter
    • Framework revision 20e59316b8 (6 months ago), 2019-07-18 20:04:33 -0700
    • Engine revision fee001c93f
    • Dart version 2.4.0

[!] Android toolchain -

[2020-01-10 12:44] dennis-tra commented on #42759
I can also confirm this issue:
iPhone X + iOS 13.3 + Flutter 1.13.7-pre.24

[2020-01-10 12:49] VladyslavBondarenko commented on #48563
@ighidan
Could you upgrade your Flutter SDK and check if you face this problem with the latest stable version (v1.12.13+hotfix.5)?
Thank you

[2020-01-10 12:52] CSELINGUA opened #48566 "Flutter Full Documentation in PDF"
Please I need Flutter Full Documentation in PDF. I've made several searches but no luck!

[2020-01-10 12:52] CSELINGUA opened #61335 "Make Flutter complete documentation available in downloadable PDF"
Please I need Flutter Full Documentation in PDF. I've made several searches but no luck!

[2020-01-10 12:55] #47990 closed

[2020-01-10 12:56] mrfoxie commented on #47990
i just closed that project

[2020-01-10 12:58] erperejildo commented on #11426
I tried moving the function outside as you guys suggested but it doesn't work, it's getting call all the time:
[code]

[2020-01-10 12:59] eslamwael74 commented on #36584
@slagathor2094 care about your widgets tree, upload your code to help you!

[2020-01-10 13:03] javico2609 commented on #45695
I have the same issue

[2020-01-10 13:03] javico2609 commented on #47935
I have the same issue

[2020-01-10 13:04] Ramsharma1234 opened #48567 "How to use same shared preference in different modules"
Hi,

I have two different modules and shared preferences are defined in one module, how can I use the same shared preferences in another module.
Please explain

[2020-01-10 13:05] avldabade commented on #47516
I solved this issue by adding SizedBox() widget as parent of Theme() widget and child of FittedBox() widget.

[code]

[2020-01-10 13:05] liyuqian commented on #45769
Thanks @gsy13213009 for looping me in! As someone who frequently modifies Flutter engine locally and then changes Flutter framework's `pubspec.yaml` to use the local engine, I do see your use cases quite often.

I guess that many engine engineers may have already had their own workflow (like my `git stash [pop]`) to handle this if they need the Dart analysis and auto-completion to work properly wi

[2020-01-10 13:11] The-five-stooges commented on #43845
facing this issue too

[2020-01-10 13:12] VladyslavBondarenko commented on #43504
@rachidev84
You can replace
[code]
with
[code]
Then your text will be aligned to the center immediately.

[2020-01-10 13:12] #43504 closed

[2020-01-10 13:22] davieduardo94 commented on #44766
[code]

[2020-01-10 13:23] avldabade opened #48568 "[!] Android Studio (not installed) , when run flutter doctor while Android Studio installed on machine"
When I run flutter doctor command on mac its showing below, while I already install Android Studio, and I can run ios build from the same code in Android Studio.

[!] Android Studio (not installed)

flutter doctor -v output:

[code]

[2020-01-10 13:24] JohnGalt1717 commented on #14967
@stuartmorgan  UWP can be used in win32/Winforms/WPF applications. XAML Islands are straightforward and well supported.  Win32 doesn't work on winarm as oultlined by @JakeSays. Thus your argument makes 0 sense and is not justification for flutter targeting a legacy api for the case of embedding flutter in legacy apps.

Further for all NEW development:

Windows 7 install base is dropping like a sto

[2020-01-10 13:26] devibrahimkarahan commented on #25733
Try `shrinkWrap: true` with `physics: ScrollPhysics()` for scrolling

[2020-01-10 13:35] VladyslavBondarenko commented on #48324
@brunovsiqueira
This platform is not meant for assistance on personal code.
Please see https://flutter.dev/community for resources for asking questions like this,
you may also get some help if you post it on Stack Overflow.

[2020-01-10 13:39] phoom-panichpat commented on #40830
@edufolly Thanks !

[2020-01-10 13:41] Csutkas commented on #41067
Thank you!

For beginners like me:
Info.plist is under ios/Runner

[2020-01-10 13:53] ReinBentdal commented on #35398
I can confirm it now works using:
- Flutter: 1.12.13+hotfix 5
- Dart: 2.7.0
- AVD w/ Android 10

[2020-01-10 13:54] dhaalves commented on #47136
@matthew-carroll Hello, yes I am using the new embedding package for the `FlutterFragmentActivity`. As I checked the API Docs, I see that this meta can be used with `FlutterActivity` https://api.flutter.dev/javadoc/index.html?io/flutter/embedding/android/FlutterActivity.html

I tried the link you provided and it also crash app when I try to Define a normal theme using the `FlutterFramgmentActivity

[2020-01-10 14:02] jorgevvr commented on #43720
I am facing the same problem, but i found one method i think can solve this, please correct me if i am wrong, look at the code when checking the past purchases i used (purchase.billingClientPurchase.isAutoRenewing) to see if is renewing or not, and in a test subscription is true when is active and false when i cancel it. So i guess it is enought to know if is charging user or not. What you think?

[2020-01-10 14:02] VladyslavBondarenko commented on #48491
@sma
Yes, indeed
Thank you

[2020-01-10 14:03] FerasFarhan opened #48569 "Hello"
## Steps to Reproduce

1. ...
2. ...
3. ...

**Target Platform:**
**Target OS version/browser:**
**Devices:**

## Logs

[code]

[code]

[code]

[2020-01-10 14:03] #48569 closed

[2020-01-10 14:05] rinekri commented on #47582
Yeah, it should be fixed as soon as possible, because it affects release applications :(

[2020-01-10 14:29] jerryzhoujw commented on #48558
@cbenhagen oh I see, I just search the issue with `[video_player]` before I create this,  you maybe better to create issue with title start with `[video_player]`

[2020-01-10 14:34] ziasultan2 commented on #48519
Thank you for your response. I found the solution. The error was occured cause of anaconda. I remove the annaconda and now its working.

[2020-01-10 14:36] VladyslavBondarenko commented on #48519
Hi @ziasultan2
given your last message I feel safe to close this issue,
if you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-10 14:36] #48519 closed

[2020-01-10 14:39] erperejildo commented on #11426
@frank06 I had a look to your article but could you show what do you have inside `FutureProvider`? It's not clear to me

[2020-01-10 14:41] MahdiPishguy opened #48570 "getFlutterEngine() in FlutterPluginBinding has been deprecated"
`SharedPreferencesPlugin.java` :25 Error:

[code]

[2020-01-10 14:42] scopendo commented on #18345
I've been able to get something that works for me by using SliverAppBar with a combination FlexibleSpaceBar with title padding and a bottom widget to set the overall height.

[code]

[2020-01-10 14:43] RyanRemer commented on #30156
I can confirm that this defect no longer appears.

[2020-01-10 14:43] #30156 closed

[2020-01-10 14:43] MahdiPishguy commented on #47833
+1

i have this issue too

[2020-01-10 14:44] MahdiPishguy commented on #28155
+1

[2020-01-10 14:44] bedryck commented on #41089
Also, TextField does not update when tapped on the keyboard after the application was collapsed and reopened

[2020-01-10 14:45] rofidamaher commented on #31116
I chaning JAVA_HOME but this error  occur
Exception in thread "main" java.lang.NoSuchFieldError: FN_AAPT2
        at com.android.sdklib.BuildToolInfo.<init>(BuildToolInfo.java:362)
        at com.android.sdklib.BuildToolInfo.fromStandardDirectoryLayout(BuildToolInfo.java:233)
        at com.android.sdklib.repository.legacy.local.LocalSdk.scanBuildTools(LocalSdk.java:897)
        at com.android.sdk

[2020-01-10 14:45] ziasultan2 commented on #48519
can u please give me a solution so that I can run both at same time

[2020-01-10 14:46] MahdiPishguy commented on #30377
[code]

[2020-01-10 14:51] frank06 commented on #11426
@erperejildo what do you mean "inside `FutureProvider`? There's a `callAsyncFetch` sample function (for which I even provided a sample implementation), that is all.  Did you see the live example I did with Streams, a bit below? That does work. Can you try doing the same with your future (instead of a stream)? It looks almost exactly the same.

[2020-01-10 14:52] tony123S opened #48571 "Open new page using PageRouteBuilder"
I know we can use below code to navigate to a new page

`Navigator.pushNamed(context, ABC.ROUTE);`

But is it possible to do the same way using PageRouteBuilder?

[code]

**ABC**

[code]

**Error**

[2020-01-10 14:52] awafL commented on #5396
I'm a bit late for the party, but I am facing the same trouble. However, I am dealing with Laravel, where the amount of cookies that it requires is much bigger. To manage 6 cookies by hand is quite tedious and since there are so many libraries that make the effort to support them, why not merge http and, for example, dio? Are there any limitations to the http library preventing this from happening

[2020-01-10 14:55] adheesh332 opened #48572 "Flutter Web"

[2020-01-10 14:56] #48572 closed

[2020-01-10 14:59] jakemac53 commented on #17520
We can probably close this issue given that we are pretty much going in the opposite direction at this point for flutter at least. This is assuming the frontend_server has some way of sharing work across tests, otherwise build_runner may be better.

[2020-01-10 15:03] erperejildo commented on #11426
Sorry @frank06, I thought it was a custom method inside a provider you had created. Just checked what it's exactly (https://pub.dev/documentation/provider/latest/provider/MultiProvider-class.html)

[code]

That works fine but I still see the print every time I scroll on me list. Does it mean it is also being created every time?

[2020-01-10 15:05] SaltumDis commented on #47677
Seems to have always worked in this manner 😞

[2020-01-10 15:11] JakeSays commented on #14967
@JohnGalt1717 I may be mistaken, but my issue with winarm had nothing to do with win32. Also, and this is just a suggestion, but you may want to turn down rhetoric a bit. Using terms like ignorant and making broad, unsubstantiated claims really impede getting your point across.

[2020-01-10 15:22] frank06 commented on #11426
@erperejildo You should place the `create` further up the widget tree. I would try doing this with a `StreamBuilder`/`FutureBuilder` and understanding how it works before using `Provider`

[2020-01-10 15:24] dnfield commented on #48546
Could you share a m3u8 link that reproduces this?

[2020-01-10 15:24] JePoste commented on #44760
Or just use Cmd+Shift+R (Ctrl+Shif+R on Windows) if you are using Android Studio to open the deep search/replace window.
Fill the first field with "compileSdkVersion 27" and the second one with "compileSdkVersion 28" then hit "Replace All" (or "Replace" if you want to have a quick check on each matching occurence) :)

[2020-01-10 15:28] VladyslavBondarenko commented on #48570
Hi @MahdiPishguy
I see there's an [issue](https://github.com/flutter/flutter/issues/44569) addressing the case you described.
https://github.com/flutter/flutter/issues/44070#issuecomment-549947493
I'm closing the current one as duplicate.
If you disagree please write in the comments
and I will reopen it.
Thank you

[2020-01-10 15:28] #48570 closed

[2020-01-10 15:28] jjuandiaz commented on #48546
try this https://content.uplynk.com/channel/92c7be9fb47143a58683d202e321e571.m3u8

[2020-01-10 15:30] dnfield commented on #45769
I don't think this is a flutter bug, but maybe pub could allow for _just_ a local file containing overrides?

This shouldn't require anything special from anything but pub. But it could also be a source of confusion if you forget about it.

The idea is there could be a local file available _only_ for the dependency_overrides section.

But it would probably be trivial to write your own tool to do t

[2020-01-10 15:35] Zazo032 commented on #48208
Really interested in this too. Our app saves a png to the gallery inside one custom folder, but that is not working as intended on Android 10 devices (9 and before seems ok).

[2020-01-10 15:38] erperejildo commented on #11426
Got you. I had my `StreamBuilder` before inside the `ListView` so you recommendation is having this outside?
Let me show you more graphically what I have:
![Screenshot_1578670526](https://user-images.githubusercontent.com/5629919/72165151-3f327000-33c7-11ea-8a51-96b1c5fbc727.png)

That list contains 2 different kind of sets: one that I load from a json file previously when the app is loading (to a

[2020-01-10 15:40] adamsowinski commented on #34230
It's iPhone XS.

[2020-01-10 15:42] VladyslavBondarenko commented on #48571
Hi @tony123S
If you want to use PageRouteBuilder, here is [documentation ](https://flutter.dev/docs/cookbook/animation/page-route-animation)
But if you don't need to animate your route transition, you can simply use [MaterialPageRoute]([documentation])
Does it answers your question?

[2020-01-10 15:53] tvolkert commented on #18320
@liyuqian since it's 18 months old, can you see if it's still relevant?

[2020-01-10 15:55] AlexNW opened #48573 "crash bug: io.flutter.view.AccessibilityBridge"
java.lang.NullPointerException: Attempt to read from field 'int io.flutter.view.AccessibilityBridge$SemanticsNode.platformViewId' on a null object reference

	at io.flutter.view.AccessibilityBridge$SemanticsNode.access$1400(AccessibilityBridge.java:1710)

	at io.flutter.view.AccessibilityBridge.onAccessibilityHoverEvent(AccessibilityBridge.java:1129)

	at io.flutter.view.FlutterView.onHoverEvent(F

[2020-01-10 15:57] csells commented on #14877
@scheglov would you have expected flutter to work under these circumstances? or to produce a more helpful error message?

[2020-01-10 16:00] tony123S commented on #48571
Hi @VladyslavBondarenko  I actually came from this https://github.com/flutter/flutter/issues/11655#issuecomment-553489463

Stack rebuild when a new page is pushed.I try to add `opaque: false` in `MaterialPageRoute`, but get **The named parameter 'opaque' isn't defined.**

[2020-01-10 16:00] csells commented on #26919
@aliedp is there some reason to make this an integrated part of Flutter or would a package suffice?

[2020-01-10 16:02] csells commented on #30915
@ktcer can you post a minimal sample that shows this issue in action?

[2020-01-10 16:04] JohnGalt1717 commented on #14967
@JakeSays WinArm doesn't allow win32 apps to be published to the store on Arm.  (other than Office)  Aside from the compile issues.

What part of my claims isn't substantiated?  The data 100% supports my position.  By the time Flutter for desktop is ready for release on Windows, there will be 5% or less of Windows machines that can't run UWP and a ton that you can't deploy a win32 app to. (i.e. al

[2020-01-10 16:05] csells commented on #36048
@zmtzawqlp what is the behavior you expect?

[2020-01-10 16:07] jonahwilliams commented on #48573
This looks like an issue we fixed many months ago - Please include the output of `flutter doctor -v`.

[2020-01-10 16:08] jonahwilliams commented on #48571
This style of question is better suited for StackOverflow or other support forums. For specific places where you could reach out for help, see flutter.dev/community .

[2020-01-10 16:08] #48571 closed

[2020-01-10 16:10] jonahwilliams commented on #48481
If you add a package while running you'll need to restart the build. If you're not currently using the dart devtools functionality, you could try switching to the experimental compiler via `flutter config --[no-]enable-web-incremental-compiler`. This should have roughly the same behavior as regular flutter run, though it doesn't currently support debugging.

[2020-01-10 16:10] YaredTaddese commented on #13937
+1 we need this...come on

[2020-01-10 16:10] azamsharp opened #48574 "Unable to remove a package once it has been installed"
I installed provider package 3.0 few months ago and now I want to install provider 4.0 but even removing provider 3.0 from pubspec.yaml and running flutter clean and flutter  package get cache repair does not seems to remove it from the project.

There has to be an easier way to update or remove installed packages.

[2020-01-10 16:11] jonahwilliams commented on #47334
It's not really clear from reading this issue what the actual bug is. You haven't included an actual crash, and both of the command traces you've posted seem to be functioning properly. If you're able to post more information about the particular problem you're having, please file an issue

[2020-01-10 16:11] #47334 closed

[2020-01-10 16:11] ianko commented on #30608
@Hixie I have a demo application here: https://gist.github.com/ianko/e5ab0da1c48736e65538305c8ded1a7d

(it was added in the #43373 issue)

[2020-01-10 16:13] tony123S commented on #48571
@jonahwilliams  Do you know how to pull from https://github.com/flutter/flutter/pull/44731#issue-340026045 ?

Sorry I quite new to github.

[2020-01-10 16:13] csells commented on #36754
@0xC01L You said that the second one is what you're getting AND what you want. Do you mean that the *first* one is what you're getting?

[2020-01-10 16:14] kf6gpe commented on #45103
Definitely. Closing.

[2020-01-10 16:14] #45103 closed

[2020-01-10 16:17] jonahwilliams commented on #48574
What do you mean by remove it from the project? What do you mean by install? And what flutter version are you on?

Dart packages are downloaded as source code, not really installed. If you've added something to your pubspec, run pub get, and successfully downloaded the packages then you've got the new version.

What specific things are you seeing that indicate to you that you still have the older

[2020-01-10 16:17] csells commented on #37777
@stuartmorgan given that Microsoft stops support Windows 7 in 5 days, are we thinking hypothetical 32-bit support would be limited to Windows 8 and Windows 10?

[2020-01-10 16:18] csells commented on #39660
fixed

[2020-01-10 16:18] #39660 closed

[2020-01-10 16:20] jonahwilliams commented on #44141
This should have been fixed by my change to cache sdkNameAndVersion from Chrome: https://github.com/flutter/flutter/commit/e2361960373c1eb804d251fcbb73ce1a944b8ee2

Fixed by https://github.com/flutter/flutter/pull/45145

[2020-01-10 16:20] #44141 closed

[2020-01-10 16:21] feinstein commented on #48533
I just opened it, I chose to just add `know`, as this won't interfere with the rest of the surrounding text.

[2020-01-10 16:22] AlexeyIWS commented on #48559
Hi @iapicca I did flutter doctor -v and got clear list
[flutter doctor.txt](https://github.com/flutter/flutter/files/4046538/flutter.doctor.txt)

flutter run --verbose ran the app wit this bag

the example of @VladyslavBondarenko above catch this problem

Thank you

[2020-01-10 16:23] csells commented on #5339
@Hixie can you provide the steps to reproduce and your expected behavior?

[2020-01-10 16:25] csells commented on #38600
major overhaul work complete

[2020-01-10 16:25] #38600 closed

[2020-01-10 16:26] azamsharp commented on #48574
Removing the older version provider 3.0 from pubspec.yaml and even from .pub_cache folder located in /flutter/.pub-cache/hosted/pub.dartlang.org

Install mean adding the new provider 4.0 in pubspec.yaml and running packages get.

Flutter 1.12.13+hotfix.5 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 27321ebbad (4 weeks ago) • 2019-12-10 18:15:01 -0800
Engine • revi

[2020-01-10 16:29] d0bry commented on #33210
Hi @haliliceylan, I haven't used it this way and I'm not sure where the error is coming from.

Note that GooglePlayConnection is already doing the same (trying to reconnect) in its didChangeAppLifecycleState, so it seems redundant anyway.

[2020-01-10 16:29] 0xC01L commented on #36754
I mean that I'm getting both of them. As I said, first one is what it looks like before any updates of map. Anyway, if width specified as a constant, it should not change after changing other unrelated things. However, I didn't check if some updates fixed this, I'm not working on this now.

[2020-01-10 16:31] csells commented on #35802
@dspicher is this behavior causing you trouble of some kind?

[2020-01-10 16:32] jonahwilliams commented on #48574
That sounds like an issue you should resolve with the provider package maintainers. This is not indicative of Flutter or dart failing to download package sources.

Does the entry in pubspec.lock for provider have a version of 4.0?

[2020-01-10 16:33] kf6gpe opened #48576 "Flutter shouldn't grow image cache arbitrarily"
https://b.corp.google.com/issues/147479267.

cc @cbracken , @mehmetf  (to whom the internal bug was originally assigned).

[2020-01-10 16:34] jonahwilliams commented on #47924
To be clear - flutter does not download the full Android SDK when you upgrade. I agree though, it shouldn't need to download anything

[2020-01-10 16:36] kf6gpe opened #48577 "Tap to home cards regressed from 35 FPS to 17 FPS"
https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=43802.

cc @iskakaushik

[2020-01-10 16:37] csells commented on #32660
@jacob314 what problems is this causing currently?

[2020-01-10 16:37] jonahwilliams commented on #43164
This was fixed by https://github.com/flutter/flutter/commit/315471bfb0d9accb026e8e138e26b2b4c9a632ba

[2020-01-10 16:37] #43164 closed

[2020-01-10 16:39] jonahwilliams commented on #42516
Its not really clear from looking at this whether there is actually a bug here or if it is just taking a long time to download. We should consider what diagnostics could help us accurately diagnose a problem with this script

[2020-01-10 16:40] azamsharp commented on #48574
I did flutter clean again and also did flutter pub cache repair again and
then restarted my machine and now it seems to work fine. Not sure what the
issue was but now it is working as expected.

On Fri, Jan 10, 2020 at 10:32 AM Jonah Williams <notifications@github.com>
wrote:

--
Interested in learning development! Check out courses on Udemy.

https://www.udemy.com/user/mohammad-azam-2/

[2020-01-10 16:40] #48574 closed

[2020-01-10 16:41] csells commented on #47018
@CaseyHillers what use cases would having this add'l data enable?

[2020-01-10 16:42] nturgut opened #48578 "[web] support Clipboard.setData platform messages for browser doesn't have Clipboard API"
For browser who does not support clipboardAPI, we can use document.execCommand('copy) to  copy text to clipboard.

[2020-01-10 16:44] jonahwilliams commented on #41336
This is unlikely to be fixed, either in the near or long term. Ultimately if a user is running 3rd party anti-virus software that blocks the functionality of the flutter tool, then either:

1) The user does not trust the flutter tool, at which point they shouldn't be using it all - regardless of changes we make to work around the antivirus.
2) The user does trust the flutter tool, at which point t

[2020-01-10 16:44] #41336 closed

[2020-01-10 16:44] kf6gpe opened #48579 "Various post_backdrop* benchmarks have regressed."
No obvious commit. See, for example, post_backdrop_perf_filter_ios_timeline_summary_90th_percentile_frame_rasterizer_time_millis.

I can't seem to get archived benchmarks for these to find out when this started; the dashboard is hanging.

[2020-01-10 16:45] aravindhkumar23 commented on #21941
I am also facing the same issue

my package includes
[code]

and mail from apple
[code]
any workaround to fix the warning?

[2020-01-10 16:45] jonahwilliams commented on #41173
Duplicate of https://github.com/flutter/flutter/issues/24703

[2020-01-10 16:45] #41173 closed

[2020-01-10 16:46] rootasjey commented on #47095
Hello,
I had the same issue and the solution proposed by @Chad-Ortho2 worked for me
(I did the steps recommended by @iapicca before).

[2020-01-10 16:47] jonahwilliams commented on #40495
This is likely to be an issue with the IDE itself and not flutter

[2020-01-10 16:52] eseidelGoogle commented on #14513
This is a pretty old issue and looks like it covers two separate cases:
1.  devs using (very old versions of) Flutter in an add-to-app context (custom embedding) and having cases where the initialization sequence doesn't go right.
2.  devs seeing cases where the default embeddings of Flutter would sometimes produce this error?

The first is presumably addressed by the re-write of the add-to-app em

[2020-01-10 16:52] #14513 closed

[2020-01-10 16:53] nturgut opened #48580 "[web][safari] support Clipboard.getData platform message on Safari"
Clipboard.getData platform messages want to read text from the system clipboard. Since this is a permission issue, unless clipboardAPI is supported most browsers does not let random 'paste' scripts.

For example in Safari we can only rely on clipboard handlers: onbeforecopy, oncopy, onbeforepaste, onpaste. Therefore users can trigger paste explicit by pressing CTRL+V.

[2020-01-10 16:54] christopherfujino commented on #48431
No, this is `flutter/dev/bots/docs.sh`, it builds the api docs. It looks like the devicelab `dartdocs` benchmark counts class members without dartdoc annotation.

[2020-01-10 16:54] amenk commented on #21941
@aravindhkumar23 As you asked for a workarkound: That one worked for me: https://github.com/flutter/flutter/issues/21941#issuecomment-536444558

[2020-01-10 16:55] nturgut opened #48581 "[web][firefox] support Clipboard.getData platform message on Firefox"
Firefox only supports `readText` if the target element is in content editable mode.

See: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Editable_content
See: https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API

[2020-01-10 16:59] eseidelGoogle commented on #35060
Going through spring-cleaning of the bugs. :)  Is this TODO still useful to you?

[2020-01-10 17:01] zoeyfan commented on #10500
Given solution has been provided above. I am closing this issue now.

[2020-01-10 17:01] #10500 closed

[2020-01-10 17:01] eseidelGoogle commented on #26242
Looks like this is a feature request for more control over the alignment of hint-text.

Since the original requester's issue is resolved, I think it's probably best to close this for now and re-open if we get more reports suggesting this should be added to the core framework (instead of just following what was done here).

Thanks!

[2020-01-10 17:01] #26242 closed

[2020-01-10 17:07] eseidelGoogle commented on #27589
Flutter provides some very basic integration between the `flutter` tools and the underlying iOS, Android build tools.  --build-name is one such integration which is wired up one way on Android and another way on iOS (due in part to the different constraints of the platforms) and presumably won't be wired up at all on Web. :)

I'm not sure there is a ton more we can do here.  We could remove the --

[2020-01-10 17:07] #27589 closed

[2020-01-10 17:10] eseidelGoogle commented on #31108
Entertainingly there is no splash at all on Web for TextFields:
https://dartpad.dev/c4a6a6847867e93d1a7b337306a2945e

[2020-01-10 17:11] insinfo opened #48583 "My Flutter app compiles and runs in debug mode on Android but doesn't compile in release mode"
My Flutter app compiles and runs in debug mode on Android but doesn't compile in release mode

<details>
	<summary>pubspec.yaml</summary>

[code]

</details>

<details>
	<summary>app/gradle</summary>

[code]

</details>

<details>
	<summary>logs</summary>

android/gradle

[code]

</details>

<details>
	<summary>flutter build apk</summary>

[code]

</details>

[code]

[2020-01-10 17:14] eseidelGoogle commented on #25766
This looks like an Engine bug not noticing when a split keyboard goes away and updating the safe area.
https://stackoverflow.com/questions/7842806/check-for-split-keyboard/8785494
has some interesting context on understanding where the split keyboard is.

This is likely the code in question:
https://github.com/flutter/engine/blob/23df3e6bcbcbbd4b475249f94978e66c6be127f5/shell/platform/darwin/ios/f

[2020-01-10 17:30] elmariocarlos commented on #43294
Great news @blasten @Hixie , will we on the lookout when it's complete :) Have a great new year!

[2020-01-10 17:31] szerner commented on #46616
At first I could not reproduce the issue with the default flutter project, but in deed running `flutter clean` after running a debug session on the emulator "did the trick".

[2020-01-10 17:34] tvolkert commented on #27856
This is working as intended inasmuch as there's no way for apps to gracefully quit themselves - a `System.exit(0)` in Java or an `exit(0)` in Dart will look like an app crash.

@sjmcdowall is there a good place in the docs you think such a clarification would be best added?

[2020-01-10 17:37] #48122 closed

[2020-01-10 17:37] tvolkert commented on #46189
@iapicca there's no error in the logs you provided - what's the error that you experience?

[2020-01-10 17:38] tvolkert commented on #45131
@gaaclarke @chunhtai did flutter/engine#13908 unblock work on this?

[2020-01-10 17:39] xiyulangzi commented on #36822
I experienced same when I try do some app update. this issue really need to be fixed.

[2020-01-10 17:42] scheglov commented on #14877
If there are different, incompatible implementations of `git` on Windows, it might be useful to detect them. Or validate that the format of data returned from `git` matches expectations and ask the user to check that `git` is this or that supported. Crash is never a good option.

Honestly, I don't know if this issue is any frequent, I might be about the only one unlucky to have some older / strang

[2020-01-10 17:42] tvolkert commented on #40277
@sladecapasso it looks like this can be closed now?

[2020-01-10 17:44] mklim commented on #48554
@blasten, looks like the re-opening was probably unintentional so I'm closing this again. Feel free to re-open if that was intentional and you think this should stay open.

[2020-01-10 17:44] #48554 closed

[2020-01-10 17:44] lukaszciastko commented on #13937
+1

The biggest problem for me is that fact the communication between Dart and the native platforms happens on the main thread - sending significant chunks of data is impossible without lagging UI or writing cumbersome code to page data.

[2020-01-10 17:46] skillitzimberg commented on #44616
@CoreyCole, @iapicca, yes, upgrading as @Spatz suggested on SO worked.
Right now I'm at:
[code]
Everything is working as expected.

[2020-01-10 17:46] blasten commented on #48554
@blasten we probably need an issue for the iOS part then?

[2020-01-10 17:50] a-siva commented on #47324
I think we should loop in the Dart pub team for their views on this.
/cc @mit-mit (could you loop in the correc folks here).

[2020-01-10 17:51] dnfield commented on #48512
@dballesteros7 would it be acceptable to _only_ do this in tests for now?

That would make it easier to implement this feature since we could avoid some of the complexity we'd need to make it perform properly in release mode.  Unless that's just easier than I'm thinking it is.

[2020-01-10 17:54] JakeSays commented on #14967
@johngalt1717 ok well I'm done with you. I have no interest in dealing with disrespectful people.

[2020-01-10 17:54] csells commented on #14877
Then I'll close and if someone has this same issue again, they can re-open.

[2020-01-10 17:54] #14877 closed

[2020-01-10 17:54] jonahwilliams commented on #48512
Then you need to parse the URI, which again is slow

[2020-01-10 17:55] christopherfujino commented on #44786
My PR #46640 fixed this for Linux, but this is still a potential issue on mac/windows.

[2020-01-10 17:55] JohnGalt1717 commented on #14967
@JakeSays Still waiting for you to demonstrate anything disrespectful (or wrong) with what I said. From what I can tell, you just don't like a word, which I used correctly.  And, most importantly, I used it in the abstract, not against you or anyone else personally. It was not an ad homonym attack.

[2020-01-10 17:56] mahes-waran commented on #47446
Dear  Vladyslav Bondarenko,,
           Thanks for your response, now i removed that third party plugin
and it's working fine. But I need help of how to create the thumbnail
image. Could you please suggest the thumbnail creation plugin based on
current flutter stabel version and Android sdk version is 28.

Thanks,
Maheswaran.

On Fri, Jan 10, 2020, 2:49 PM Vladyslav Bondarenko <notifications@githu

[2020-01-10 17:59] csells commented on #40069
fixed!

[2020-01-10 17:59] #40069 closed

[2020-01-10 18:01] goderbauer commented on #11943
The documentation seems correct to me.

[2020-01-10 18:01] #11943 closed

[2020-01-10 18:06] haliliceylan commented on #33210
Hi @d0bry, thanks for feedback. I re-try to implement and this time seems its working. I pushed my application to alpha channel. after release, i will try and write here.

thanks a lot from now.

[2020-01-10 18:08] gaaclarke commented on #45131
I think so.  I'd like to chat with @chunhtai to make sure we get the right fix when they become available.  Can you ping me when you get back?

[2020-01-10 18:11] luckypal commented on #31579
My Android Emulator abi architecture is x86.
So, I tried to compile with x86 option.
![image](https://user-images.githubusercontent.com/35539437/72175435-c10fa280-33a1-11ea-843f-d2172aa9343f.png)

![image](https://user-images.githubusercontent.com/35539437/72175452-ce2c9180-33a1-11ea-9dc8-6693564d0f82.png)

But I got this error.
![image](https://user-images.githubusercontent.com/35539437/72175585-

[2020-01-10 18:17] frank06 commented on #11426
@erperejildo Ok let me have a look later. Were you able to make it work with `StreamBuilder`? For `StreamProvider`, I'm pretty sure you have to use the `.value` constructor there instead of `create`

[2020-01-10 18:19] CoreyCole commented on #44616
@skillitzimberg would you mind closing this issue?

[2020-01-10 18:21] amirh opened #48586 "Add a way for plugins to respond to hot restarts"
Plugins sometimes need to reset some state when the engine is hot restarted, e.g the video player needs to clear open videos on a hot restart.
There is no hook for that right now, and plugins end up working around in approximate and fragile ways, e.g:

https://github.com/flutter/plugins/blob/7af9a1a385fe632d5a8b7b698d8b29e2e997326a/packages/video_player/video_player/lib/video_player.dart#L12

As i

[2020-01-10 18:25] dnfield commented on #48534
/cc @goderbauer

This does work out the way you want if you use `Colors.lightBlue[100].withOpacity(0)` instead of `Colors.transparent` - now you're lerping to transparent lightBlue[100].

Talked offline with @goderbauer about this - it migh tbe worth adding a method to `Color` that returns a lerping function.  On the `Color` class, it returns `Color.lerp`, on the `HSVColor` class, it returns `HSVC

[2020-01-10 18:25] Hixie commented on #48321
I think you misunderstood this issue. There's no proposed solution here, it's only a description of an experiment to run.

[2020-01-10 18:27] dnfield commented on #48512
Yes, but tests are allowed to eb slow right?

[2020-01-10 18:29] #38983 closed

[2020-01-10 18:31] eseidelGoogle commented on #22864
It looks like the original reporter wishes to close this.

Since Flutter wraps the separate iOS and Android Maps SDKs it wouldn't surprise me if there are slight differences.  The source is here:
https://github.com/flutter/plugins/tree/master/packages/google_maps_flutter
for anyone wishing to investigate further.

@felangel would you be willing to file a new bug if you're still experiencing this?

[2020-01-10 18:31] #22864 closed

[2020-01-10 18:32] xalikoutis commented on #36478
How to implement this? I wrapped webview in a GestureDetector onTap but nothing happens

[2020-01-10 18:33] #44616 closed

[2020-01-10 18:34] eseidelGoogle commented on #20959
Is this TODO still valid an useful Amir?

Looks like it uses github now:
https://github.com/flutter/flutter/blob/master/dev/integration_tests/android_views/pubspec.yaml
Speculatively closing.  Obviously re-open if I've misunderstood.  Thanks!

[2020-01-10 18:34] #20959 closed

[2020-01-10 18:35] amirh commented on #20959
You're right, sorry forgot to close this one.

[2020-01-10 18:37] eseidelGoogle commented on #6500
@cbracken is actively working in this area as we speak.  He'd know if this bug is still useful to keep open as is.

[2020-01-10 18:39] eseidelGoogle commented on #31695
I'm not sure if this is still actionable as is, or if we should just close this and re-profile when needed?

Speculatively closing, please feel empowered to re-open! (And apologies for the noise if I'm closing incorrectly.)

[2020-01-10 18:41] erperejildo commented on #11426
with `StreamBuilder` and `StreamProvider` my widget works fine. The only thing is that, when I scroll or when I move between pages this will call again and I only want to trigger this function when I log in/out.

I tried with:
[code]
but the behaviour is exactly the same: I see the print when I scroll to the widget.

I'm sure this is what you mentioned, something more related with the way I put my

[2020-01-10 18:42] eseidelGoogle commented on #28213
I'm not entirely sure what I'm looking for, but here is a dartpad version:
https://dartpad.dev/894dd32caabd093732ba6111a926d3d7

[2020-01-10 18:47] jonahwilliams commented on #48586
Isn't this the same as https://github.com/flutter/flutter/issues/10437 ?

[2020-01-10 18:47] jonahwilliams commented on #31695
Also fyi @dnfield

[2020-01-10 18:50] behnamsattar commented on #41335
I still have this issue when I use VSCode for debugging.

Here is my `flutter doctor -v` output:
[code]

[2020-01-10 18:51] eseidelGoogle commented on #31742
_incrementCounter is missing from your example.  Would you be able to add a more complete example?

It's hard to tell from the description as written what happens when the floating action button is pressed without the _incrementCounter code.  (I presume you modified it from the default.)

[2020-01-10 18:54] behnamsattar commented on #41335
I've tried both forced restarting my device and also running a release build but none of them fixed the issue when afterward I tried debugging through VSCode.

[2020-01-10 18:55] eseidelGoogle commented on #21914
It sounds like the remaining request here is for BottomNavigationBar to inherit its theme from the MaterialApp's theme.  The SnackBar already has a separate theme.

[2020-01-10 18:56] cbracken commented on #30649
@iskakaushik are you still the right person for this, or should @cyanglaz take this over? It sounds like we need to add documentation, at least.

[2020-01-10 18:56] amirh commented on #48586
It is, forgot about it, thanks.

Duplicate of #10437

[2020-01-10 18:56] #48586 closed

[2020-01-10 18:58] mayurdhurpate commented on #41900
Faced this error recently after upgrading from Flutter 1.9 to Flutter 1.12. Not sure if this is because of the Smartlook plugin or a general Flutter issue. Also, many times the Flutter run command succeeds on iOS emulator and fails other times. Also, I deleted the previous Podfile and let Flutter generate the new Podfile and new Podfile.lock.

Output of `flutter run -v`: https://pastebin.com/t0G8r

[2020-01-10 18:58] eseidelGoogle commented on #21914
Actually, I don't think there is anything to do here.

The Text is provided by the user to the BottomNavigationBar.  It's always possible to use Theme.of(context).textTheme to grab the current theme from the text provided, I believe?

Let me know if I've misunderstood.  Speculatively closing.  Thanks for the report!

[2020-01-10 18:58] #21914 closed

[2020-01-10 18:59] baughmann commented on #40429
@lifenautjoe Could this possibly be due to attempting to access a path with an out-of-date App GUID (i.e. the one in `/var/mobile/Containers/Data/Application/<APP_UUID>/Documents`)? I know the native `AVPlayer` in iOS will show a black screen similar to the one I was getting when I was making a similar mistake.

Have you tried to use something similar to `getApplicationDocumentsDirectory()` from t

[2020-01-10 18:59] eseidelGoogle commented on #16441
I'm not sure we should worry too much about ancient Flutter packages.  We could probably improve our error handling in the tool, but my gut tells me we should just close this?

Is there something still you'd like done here @Hixie?  Otherwise speculatively closing.  Thanks!

[2020-01-10 18:59] #16441 closed

[2020-01-10 19:01] fernandolopes commented on #35826
Wouldn't it be a case of creating a fork to solve the problem?

[2020-01-10 19:01] eseidelGoogle commented on #36060
Sounds like the app is failing to install on the emulator.

Are you still seeing this with more recent versions of Flutter (we continue to make improvements to the tooling)?

If you are, could you please add `flutter run -v` to help us diagnose?

Thanks!

[2020-01-10 19:03] GaryQian commented on #47804
cc @jason-simmons

[2020-01-10 19:03] eseidelGoogle commented on #35549
The right column is being made smaller by the keyboard (safe area) appearing.

Is the right column something you wrote yourself, or is that a widget included in the framework?  If it's something you wrote yourself, the fix is to just make it aware of being displayed in smaller areas (e.g. smaller phones or when the keyboard is visible).

If the right column is provided by the Flutter framework, le

[2020-01-10 19:07] cbracken commented on #42434
Based on this report, I'm not sure how to reproduce this failure. On the surface, it looks potentially like a mis-configured Xcode project.

If you're still seeing this issue, we'd definitely welcome a bug report with detailed repro instructions that would allow us to reproduce this reliably.

[2020-01-10 19:07] #42434 closed

[2020-01-10 19:08] eseidelGoogle commented on #38410
Do we do something in our lab to handle these for our test phones?  @godofredoc

[2020-01-10 19:08] CaseyHillers commented on #47018
This is to enable the infra team to have better overall task metrics and help better identify flakiness.

An example use case is that a task is rerun because of an infra issue. The first attempt of the task is run on Agent A and fails. The second attempt is on Agent B and succeeds. This is a strong signal that there is either flakiness in the task or the agent, and should be investigated. If it's

[2020-01-10 19:08] betorcs commented on #39610
Yeah.. I believe many time we want to change the padding without change the camera.

[2020-01-10 19:09] eseidelGoogle commented on #42179
I suspect these bugs are likely to go obsolete over time and it may make more sense to simply have a bug tracking getting sanitizer leaks to zero and setting up a sanitizer test which confirms they stay zero. :)

[2020-01-10 19:10] cbracken commented on #10370
@xster would you mind adding the specific action items here, or closing if none remain?

[2020-01-10 19:10] eseidelGoogle commented on #32447
It looks like a bunch of work was done here.  Should this still be open?

[2020-01-10 19:13] eseidelGoogle commented on #43468
I'm not sure we can easily take action on this without a reproduction.  Hans suggests its from RangeSlider, but it would be super helpful to have an example you're able to trigger it in.  Without that, I think it's probably better to just close this until we get more reports.

Thank you for reaching out!

[2020-01-10 19:14] cyanglaz commented on #30649
@cbenhagen I will take over the maps plugin. Going to assign the issue to myself.
This issue is not on our priority list so it might take a while for me to circle back and give it a proper milestone.

[2020-01-10 19:15] jmagman commented on #17749
Flutter frameworks contain armv7, arm64, and x86_64 slices but NOT i386.  When you run in the simulator, Xcode silently maps armv7 to i386 simulator and arm64 to the x86_64 simulator.  `ONLY_ACTIVE_ARCH=YES` build setting builds only for the architecture of the device or simulator you are targeting.  Xcode docs:

So if you are targeting a real recent iOS device, it will build arm64, and if you tar

[2020-01-10 19:16] darrenaustin commented on #46457
I have also attempted to reproduce this on an iPhone 8 running 12.4.1 and wasn't able to see the crash.

[2020-01-10 19:16] eseidelGoogle commented on #30912
https://github.com/mockk/mockk/issues/84
https://stackoverflow.com/questions/44342455/more-than-one-file-was-found-with-os-independent-path-meta-inf-license
seem related.

Looks like this is coming from the Chirp SDK.  The above stack overflow suggests a workaround.

Possibly from:
https://pub.dev/packages/chirp_flutter

I'm not sure there is much for the Flutter team to do here.  Let me know if I

[2020-01-10 19:16] #30912 closed

[2020-01-10 19:18] eseidelGoogle commented on #31620
This looks like a stack overflow question. dart:io provides ability to write files.  path_provider can help you find paths on the phone.  If you have bytes from toImage, it should be possible to write them anywhere you'd like?

Let me know if I've misunderstood.  Thanks for reaching out!

[2020-01-10 19:18] #31620 closed

[2020-01-10 19:20] frank06 commented on #11426
@erperejildo Sorry I can't see what you are trying to do. There's no problem in using `StreamBuilder`s inside a `ListView`. You can also register the provider value up in the tree and consume it further down, but it depends on what you want to do. Can you send me an e-mail with a bit more of your widget tree? And I'll help you out there, so we don't pollute this thread. E-mail is on my github prof

[2020-01-10 19:20] #26228 closed

[2020-01-10 19:21] Schoonology commented on #48434
@justinmc It seems like that will completely solve my technical problem.

I'm happy to move this conversation somewhere else, but I'd like to use this as an opportunity to start contributing to Flutter. (I've done this with other platforms, but am not set up to do so here.) What does that require? Is this a good issue to start with?

[2020-01-10 19:21] cyanglaz commented on #45482
update: The issue is because iOS automatically adjusted the content inset of the webview when it detects a keyboard is showing up.
Flutter also does some trick to update the view port when keyboard comes up, so it ended up becoming a "double adjustment" if you will.
It would be ugly to add some "special case" code in flutter engine to fix the adjustment for just webview.
There also doesn't seem to

[2020-01-10 19:21] Kenoshen commented on #43986
+1 same issue

[2020-01-10 19:23] #41703 closed

[2020-01-10 19:24] godofredoc commented on #38410
Some of our benchmarks are affected by system dialogs(e.g. ios update) but we are not handling them yet. So far we have focused our efforts in preventing the dialogs rather than handling them.

[2020-01-10 19:31] GaryQian commented on #47804
This should be the same as https://github.com/flutter/flutter/issues/47164. I will close the other issue as there seems to be a bit more technical information on this thread. Please continue discussion here and reference the insight found in the other issue!

[2020-01-10 19:31] jmagman commented on #45738
No, there's no dart support for expanding the tilde, so it would require... ffi?
We could print a warning if we parse a ~ though.

[2020-01-10 19:32] GaryQian commented on #47164
This is a dupe of https://github.com/flutter/flutter/issues/47804. Going to close this one and continue conversation over there as they seem to have found the problematic change.

[2020-01-10 19:32] #47164 closed

[2020-01-10 19:33] icatalud commented on #48321
The experiment is not clear then, what is it trying to achieve?

There is an implementation that affects users, for example at the end:

This is something that affects the users, there is an attempt to copy the list of children to an immutable List in debug mode. It would be wrong to do that as it would hide a problem that would show up in release.

[2020-01-10 19:33] cbracken commented on #46050
Hi @Aaron009, sounds like what you're looking for is a means of extracting a memory profile of Dart memory that's been allocated by your application. By connecting to the Observatory URL dumped to the command line when running an app in debug or profile mode, you can collect an [allocation profile](https://dart-lang.github.io/observatory/allocation-profile.html). Note that debug memory usage is va

[2020-01-10 19:33] #46050 closed

[2020-01-10 19:35] csells commented on #38069
@leoitcode I'm not sure what behavior you're seeing and what behavior you're expecting. Can you provide more details?

[2020-01-10 19:38] csells commented on #25748
@Hixie can you provide a repro case along with your expected behavior so that we can track this down?

[2020-01-10 19:39] csells commented on #29570
@DeRealMorgan did you have any luck with this work-around?

[2020-01-10 19:39] zoeyfan commented on #37162
@chunhtai no change on priority. I am simply triaging old issues and noticed this one.

[2020-01-10 19:42] ejain opened #48591 "Flutter run on iOS simulator fails to connect to observatory: Error waiting for a debug connection: Bad state: No element"
## Steps to Reproduce

`flutter run` builds and runs the app on the iOS Simulator, but is unable to establish a debug connection.

## Logs

[code]

[code]

[2020-01-10 19:43] csells commented on #2121
@Hixie can you provide a repro case along with your observed and expected behavior?

[2020-01-10 19:50] csells commented on #18819
@xster we have [a codelab that shows off the use of Cupertino with Flutter](https://codelabs.developers.google.com/codelabs/flutter-cupertino/#0) and it's the first thing that comes up when searching on google.com for "flutter cupertino app" -- do you have that sufficient?

[2020-01-10 19:55] bsutton commented on #48481
Ok,, i had worked out that a restart was needed when adding a package.

My problem is that after adding a package the project simply won't start
due to the errors described above.

If I rename the project directory it will then start.

On Sat, 11 Jan 2020, 3:10 am Jonah Williams, <notifications@github.com>
wrote:

[2020-01-10 19:58] ejain commented on #48591
This may be an issue with simulated devices running iOS 13.3;  iOS 10.3 works fine.

[2020-01-10 20:22] ditman commented on #48371
Maybe duplicate of https://github.com/flutter/flutter/issues/45483 ?

[2020-01-10 20:28] cbracken commented on #17361
@Piinks @zra I'm assuming this is still an issue, but checking in in case this can be closed.

[2020-01-10 20:31] cmkweber commented on #13489
An additional use case of this widget is now realtime supersampling can be performed. This can be beneficial when doing canvas operations that do not support antialiasing (such as drawVertices). I have provided an example gist here: [https://gist.github.com/cmkweber/c17aae8fa48a4853a87f242835cb65cb](https://gist.github.com/cmkweber/c17aae8fa48a4853a87f242835cb65cb)

[2020-01-10 20:33] Piinks commented on #17361
Locally I think this could still happen. However, often times folks have told me that they expect to just overwrite golden files iteratively as they develop tests or diagnose issues.
For flutter/flutter and Gold, if you were to re-use a name, the test would fail, making you aware of it, and it wouldn't be able to land on master unless the diff was approved.
Not sure if that means this is ok to clo

[2020-01-10 20:34] InMatrix commented on #18819
As we learned in recent research, developers who do use the Cupertino library still use Material widgets, since Cupertino provides a much more limited widget set than the Material library. Therefore, I don't think the original request "A flutter create template that doesn't import material" would provide practical value to users.

That said, making the default template visually more platform-neutr

[2020-01-10 20:35] #46169 closed

[2020-01-10 20:36] cbracken commented on #32439
@yjbanov @ferhatb thoughts on this?

[2020-01-10 20:36] flar commented on #23535
ImageFiltered does cache if its child layer is stable, but it is only stable if you use a RepaintBoundary.

Right now we recreate a lot of layers even if nothing changes. I'm still digging into our strategies there, but a lot of it probably hinges on the way that we manage Picture layers. They are recreated if the part of the tree they are in is visited even if they themselves don't involve any Wi

[2020-01-10 20:40] CaseyHillers commented on #46732
I am closing this in favor of https://github.com/flutter/flutter/issues/45735.

[2020-01-10 20:40] #46732 closed

[2020-01-10 20:41] csells commented on #18819
@InMatrix do you think we should be updating our app template to be more platform-neutral? I can see that being useful as we encompass more platforms. what are you thinking?of course, we should take into account the note from @Hixie above that cautions us to be careful here.

[2020-01-10 20:43] cbracken commented on #20662
@matthew-carroll is this still on the agenda? There are a [bunch](https://medium.com/flutter-community/add-flutter-to-existing-android-ios-app-ae8c4fb1582e) of [Medium](https://medium.com/@tpolansk/integrating-flutter-into-an-existing-app-part-one-flutter-with-submodules-9b633ff3cf10) [articles](https://medium.com/@tpolansk/flutter-integration-part-two-flutter-attach-4ab7198851bd) around add2app o

[2020-01-10 20:43] CaseyHillers commented on #44478
@keyonghan I am going to remove myself from this for now as the backend needs to be updated to handle this. Let me know if there's anything on the frontend that needs to be done for this.

Another change for this could just be reducing the commits down to 50 for now, and then working on https://github.com/flutter/flutter/issues/43098

[2020-01-10 20:45] chrisjones-tripletri commented on #16991
For anyone who made it to the bottom of this page, it's important to note that 'Timeout while executing tap' will happen if it cannot find the widget you are tapping.

I had a scenario where when watching the test, it looked like button X was being tapped, but then subsequently the tap on button X would time out.  It turns out this was not due to animations, or a bug in the driver, but rather to a

[2020-01-10 20:46] cbracken commented on #40621
@Denmal1982 this sounds like it may be due to buffering. What happens if you add `socket.flush()` after your writes?

[2020-01-10 20:51] cbracken commented on #16409
Unfortunately this isn't reproducible without the code to Shake/ShakeCell; I realise it's been a fair while now, but if you're still seeing this, I'd encourage you to file a new bug with a reduced repro case that demonstrates the issue and we'll gladly take a look!

[2020-01-10 20:51] #16409 closed

[2020-01-10 20:52] dnfield commented on #31695
I'm going to re-open this.  At a minimum, we should consider updating the style guide to _not_ recommend using `'$runtimeType(property: $property)'` as a boilerplate for toString.

We should also consider whether we can remove these from all our `toString` implementations, as this is an easy trap to fall into.  It does help when subclasses are depending on the parent class to use the right type, b

[2020-01-10 20:52] dnfield commented on #31695
/cc @hixie - any thoughts on the style guide portion?

[2020-01-10 20:52] dnfield commented on #31695
/cc @a14n as well since you probably have some good thoughts on this

[2020-01-10 20:54] DyaryRaoof commented on #21190
changing to swift doesn't increase the app size at all:
https://flutter.dev/docs/perf/app-size

[2020-01-10 20:55] cbracken commented on #11794
It's been 2.5 years since this was filed and we've landed a vast slew of performance updates across the engine since then. @robertgirschick are you still seeing problematic behaviour on the Yoga tablet? If so that would be useful to know. If not, we'll close this issue.

[2020-01-10 20:55] Hixie commented on #31695
I don't really understand the issue here. We definitely don't want to stop using `'$runtimeType'` in debug mode. In release mode I'm fine with `toString` in general throwing except for `int` and `String` and maybe `bool` (though of course that's a major breaking change so it would have to be opt-in).

[2020-01-10 20:55] Piinks commented on #47003
I think this is another case: https://cirrus-ci.com/task/6466161462214656

[2020-01-10 20:56] Hixie commented on #31695
better would be to have a lint that verifies you're not using this outside of asserts. cc @a14n

[2020-01-10 20:56] Piinks commented on #43763
Once more with feeling: https://cirrus-ci.com/task/6677267694747648

[2020-01-10 20:57] amrox commented on #45342
I am seeing this on the latest release at time of writing - 0.3.19+3.

The minSdkVersion in my app is 21, but it seems like the plugin is building with 16.

Also setting `abortOnError false` in my project doesn't work.

I'm not too familiar with Flutter. I'm just trying to build a project that I inherited.

[2020-01-10 20:57] dnfield commented on #31695
Perhaps we could just write a wrapper method in foundation like:

[code]

[2020-01-10 20:57] cbracken commented on #27063
Thanks for your contribution. Since we haven't seen a reply, we're going to reluctantly close this bug for now, but if you're able to produce a reduced repro case, I'd encourage you do file a new bug with those details and refer back to this one in the comments.

[2020-01-10 20:57] #27063 closed

[2020-01-10 20:58] Hixie commented on #31695
That wouldn't help the original problem, though, which was someone using `runtimeType` in a String intentionally (so they wouldn't call that method).

[2020-01-10 20:59] dnfield commented on #31695
We could add a check that the strings `$runtimeType` and `runtimeType.toString()` don't occur, right?

[2020-01-10 20:59] Hixie commented on #31695
Oh actually I misunderstood the original complaint. Those cases are all debug cases that are just wasted in release mode, so yes, it would work for that. Go for it.

[2020-01-10 21:00] Hixie commented on #2121
As far as I can tell the original description is sufficiently precise and complete for this to be actionable.

[2020-01-10 21:05] cbracken commented on #18806
Should no longer be blocked on #17780.

@jonahwilliams can you add details of what the minimum API level is here and what specific android APIs this depends on? We managed to get android SDK bumped a couple times since this was filed (though we never did do #17780).

[2020-01-10 21:06] cbracken commented on #15870
Thanks for your contribution. Without additional information, we are unfortunately not sure how to resolve this issue. We are therefore reluctantly going to close this bug for now. Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!

[2020-01-10 21:06] #15870 closed

[2020-01-10 21:10] InMatrix commented on #18819
I think the template can use some styling tweaks to make it feels lighter and flatter to suit iOS aesthetics and replace the Floating Action Button with a regular button, since the FAB is more common on Android than on iOS or the Web. @willlarche had a mock along these lines.

[2020-01-10 21:11] rodydavis commented on #31952
Here is my PR for desktop: https://github.com/google/flutter-desktop-embedding/pull/638

[2020-01-10 21:13] amirh commented on #25558
I haven't verified but I believe the limit should come from the texture mechanism (which I believe requires API 16 for `detachFromGLContext`), the other limiting factor would be ExoPlayer, which seems to be taking a best effort approach on each device (https://exoplayer.dev/supported-devices.html ).

So I'd say generally API 16 should be supported, but I may easily be missing something, we should

[2020-01-10 21:13] cbracken commented on #25317
Thanks for filing!

This looks like it's working as intended. If you'd like to align the orange widget, have a look at the [Align](https://api.flutter.dev/flutter/widgets/Align-class.html) widget.

[2020-01-10 21:13] #25317 closed

[2020-01-10 21:15] cbracken commented on #8426
@apwilson I realise this is a few years old at this point, but would you mind providing info on where this sits relative to overall priorities?

[2020-01-10 21:16] Hixie commented on #48321
@icatalud The experiment is to determine whether copying child lists will improve or hurt performance. We had previously assumed it would hurt performance (because memory copying is expensive) but @rakudrama observed that it's conceivable that it would have other benefits that would actually outweigh the copying, and we should measure it to see.

[2020-01-10 21:21] nzuqi commented on #8860
Solution doesn't work.

[2020-01-10 21:22] cbracken commented on #23066
@mrdimaan can you add a reduced repro case and add details of your device? This error appears to be potentially device-specific. It would also be useful if you could attach an image that produces this behaviour.

Potentially related patch on the golang side: https://github.com/golang/go/commit/5f7bec693d3d383061586d6f29f4fea2648399a7

[2020-01-10 21:25] zhenqiu1101 opened #48599 "Best way to access Activity for plugins migrated to android v2 embedding"
I'm working on the first party plugins migration and have talked with @mehmetf.

When migrating the plugins that need Activity, an activity reference is held in the plugin class instead of the v1 registrar. To make it backward compatible, activity is gotten in the registerWith() for v1. Below are two examples,
 [LocalAuthPlugin](https://github.com/flutter/plugins/blob/master/packages/local_auth/an

[2020-01-10 21:25] eseidelGoogle commented on #26348
This issue has a lot of different topics in it. :)  Some of these would be better for Stack Overflow.

I believe the original request, to have better documentation on image stream access (this bug is the first hit from Google indicating a problem with our docs or at least SEO of said docs).
https://pub.dev/documentation/camera/latest/camera/CameraController/startImageStream.html seems to be the do

[2020-01-10 21:28] eseidelGoogle commented on #14862
This would need to be resolved for things like https://github.com/flutter/flutter/issues/14050.

[2020-01-10 21:28] jmagman commented on #48292
I don't see your original architecture not found error message in those logs.  The failures are related to duplicate GoogleUtilities symbols being found.
[code]
Are you able to repro your original `App is not x86_64` issue with `flutter run --verbose`?

[2020-01-10 21:29] cbracken commented on #31096
I believe that this is fixed via https://github.com/flutter/plugins/pull/2070.

If you're still seeing this issue I encourage you to file a new bug with repro instructions and we'll take a look. Thanks again for filing.

[2020-01-10 21:29] #31096 closed

[2020-01-10 21:29] Hixie commented on #5339
The steps to reproduce are "remove the `skip: true` on the test" and the expected behaviour is "the test passes".

[2020-01-10 21:30] eseidelGoogle commented on #14862
I suspect this bug won't ever be solved.  However, Flutter should probably support configuring its cache location.  It needs a writable cache.  But it doesn't necessary need one in the same location which it currently uses (as such a location would be incompatible with things like homebrew were we to ever do such).

My temptation is to close this in favor of fixing larger bugs like https://github.

[2020-01-10 21:30] #14862 closed

[2020-01-10 21:32] chrisfulam commented on #48540
It looks like the cause was actually the 3rd party plugin "flutter_pubnub". To get the "flutter build ios" command working, we had to change the generated podfile in my_flutter/.ios/Podfile so that the top line read

platform :ios, '10.0'

instead of what we had earlier:
platform :ios, '11.0'.

These all differ from the default generated line which would read
platform :ios, '8.0'

We were in the p

[2020-01-10 21:32] #48540 closed

[2020-01-10 21:33] GaryQian commented on #47804
We have spoken with Skia, and they will revert the offending patch mentioned above for now to resolve this issue. Will verify on the test devices once they arrive. Thanks everyone for all the research as it made finding the problem much faster!

[2020-01-10 21:34] gaaclarke opened #48600 "E2E iOS Documentation unclear"
Document: https://github.com/flutter/plugins/blob/master/packages/e2e/README.md

1) The docs say "Create a test target" but it doesn't specify if it should be a UI test target or Unit Test target.
1) It isn't specified when you should have to call `flutter build ios -t`, anytime the test dart file is edited?  Anytime any code changes anywhere?

[2020-01-10 21:35] gaaclarke commented on #48600
cc @mklim @collinjackson

[2020-01-10 21:40] goderbauer commented on #5206
This is called out pretty clearly in the docs now: https://github.com/flutter/flutter/blob/84aa29ce639492ad183ac972cf325b0e180c1d26/packages/flutter/lib/src/animation/animation_controller.dart#L108-L113

[2020-01-10 21:40] #5206 closed

[2020-01-10 21:43] SkydiveMarius commented on #24071
Closing issue, as pull request https://github.com/flutter/flutter/pull/47951 is merged.

[2020-01-10 21:43] #24071 closed

[2020-01-10 21:47] jacob314 commented on #48579
I'm not sure this should be a today issue as I don't see evidence that performance actually regressed. The benchmark has been performing similarly since December 16th and it looks suspiciously like it wasn't running before then as the time as the graph just shows up as 0ms. Given that I propose removing the TODAY tag. We should still fix the benchmark or fix the expected render time for the benchm

[2020-01-10 21:54] gaaclarke opened #48601 "e2e iOS: Test runner doesn't exit"
e2e version: 0.2.3

When using e2e with iOS unit tests, my test never quits and gets stuck running the event loop.  Here is the backtrace:
[code]

Here is the loop:
[code]

It seems e2ePlugin.testResults never is set to true.

cc @collinjackson

[2020-01-10 21:55] yanchaow90 commented on #44623
Don't need this anymore since I find a workaround

[2020-01-10 21:55] #44623 closed

[2020-01-10 21:58] andrew840513 opened #48602 "[google_sign_in] Not redirect to "Choose an account""
## Steps to Reproduce

1. `final GoogleSignIn _googleSignIn = GoogleSignIn()`
2. call `final GoogleSignInAccount googleUser = await _googleSignIn.signIn();`

What I will get is "Sign in" screen that have to enter email and password screen, but same swift project will get me to the "Choose an account" screen

here is the swift project
![Screen Shot 2020-01-10 at 1 51 48 PM](https://user-images.gith

[2020-01-10 21:59] washed opened #48603 "[in_app_purchase] Runtime exception in debug build, deprecation/unsafe warnings in release build"
I have an issue with the in_app_purchase plugin for flutter. When I try to run my app in debug mode, i get the following exception when calling `InAppPurchaseConnection.instance.isAvailable()`

[code]

When I try to build release, I get these warnings during build:

[code]

## Steps to Reproduce

1. Depend on `in_app_purchase: ^0.3.0`
2. Try to init the instance:
[code]
3. ```
   _AssertionError (

[2020-01-10 22:01] GaryQian commented on #48335
Related/dupe of https://github.com/flutter/flutter/issues/28700 and https://github.com/flutter/flutter/issues/44449.
Will close this to work on it in the other thread. Thanks for the repro example though!

[2020-01-10 22:01] #48335 closed

[2020-01-10 22:02] GaryQian commented on #44449
A good repro is posted in https://github.com/flutter/flutter/issues/48335

[2020-01-10 22:11] jmagman commented on #13842
Is this covered by https://github.com/flutter/flutter/issues/1657?

[2020-01-10 22:22] nmnclk opened #48604 "How to detect adult content with flutter"
Im creating a sossial madia app. Users can share photo and text. Its greate but i need to detect adult content and block user.

Do you heve any idea.
How i can detect adult content with flutter?
İs there another way to solve this problem?

[2020-01-10 22:23] #47651 closed

[2020-01-10 22:26] dkwingsmt commented on #48579
Seems like these tests were added on Dec 13 by PR https://github.com/flutter/flutter/pull/46924. I propose to remove the TODAY tag and instead set a baseline.

[2020-01-10 22:31] stuartmorgan commented on #14967
@JakeSays I have not been following discussions at the level of the Dart compiler; I'm not aware of discussions around ARM support, but that doesn't mean they aren't happening. You should definitely file a Dart feature request if you haven't already.

The current Windows embedding already uses ANGLE, and James has been experimenting with UWP support since the early days of his work on that embeddi

[2020-01-10 22:38] cbracken commented on #8029
Verified this is still an issue.

[2020-01-10 22:43] #48506 closed

[2020-01-10 22:43] collinjackson commented on #48208
I'm happy to review a PR for a fix. Not sure off the top of my head how it should work in Android 10.

[2020-01-10 22:46] cbracken commented on #14701
@tvolkert is this a strategy we're still pursuing? If so, definitely worth discussing this with @mit-mit as I believe that trimming down the internal Dart SDK used by the tool goes in the opposite direction of some product proposals.

Speaking purely from the engineering perspective, I think it's a worthwhile goal to minimise the differences between the stock SDK and the one we use (at least durin

[2020-01-10 22:47] kf6gpe commented on #48579
Sounds good to me. Let's do that.

[2020-01-10 22:51] jonahwilliams commented on #18806
I don't quite remember the minimum API level (20 something)

The issue is that the configuration for AccessibilityNodeInfo in Android accepts only a subset of functionality that the flutter slider can deliver. Specifically, Android requires it to be one of 3 types (numeric, decimal, percent) and with fixed intervals.

It's not clear if we could add this functionality in a way that is generally use

[2020-01-10 22:53] shihaohong opened #48606 "Breaking Change Proposal: ButtonBar's buttonPadding's vertical padding"
When defining a `ButtonBar`'s padding, only the horizontal value is used, and only in [a very particular way](https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/button_bar.dart#L167):
[code]

This is particularly restrictive because it forces the vertical padding to be tied to the passed in horizontal padding.

## Proposal

I propose that that the vertical padding be

[2020-01-10 22:58] GaryQian opened #48608 "TextField calls InputFormatter twice for each keypress."
Extracted from b/146389916

The TextField calls the InputFormatter twice for each keypress. If the first pass changes the TextEditingValue state, then the second pass may produce different results as the first pass, resulting in unexpected behavior with no obvious cause.

This has been verified for when the keyboard type is set to `TextInputType.numberWithOptions()`

We should figure out why the s

[2020-01-10 23:00] m-becu commented on #30132
I tried it but it doesn't change anything :/

[2020-01-10 23:00] willlarche commented on #18819
There are definite optimizations we can make. Ian had concerns about
retaining the usefulness. If we're ready to do this, it's not an
inconsequential task but doable.

On Fri, Jan 10, 2020 at 4:10 PM Tao Dong <notifications@github.com> wrote:

[2020-01-10 23:00] mehmetf commented on #48599
@matthew-carroll @xster FYI

[2020-01-10 23:02] #45731 closed

[2020-01-10 23:02] flar commented on #45731
Fixed by https://github.com/flutter/flutter/pull/46924

[2020-01-10 23:04] #43845 closed

[2020-01-10 23:04] csells commented on #31859
@bestheroforever do you see this still happening as of the 1.12 stable build?

[2020-01-10 23:06] csells commented on #44715
Closed as dup of dart-lang/sdk#21403

[2020-01-10 23:06] #44715 closed

[2020-01-10 23:08] csells commented on #32275
@QoLTech do you have this same issue when using the web support built into Flutter 1.9+?

[2020-01-10 23:10] BothOfUsTogether2 opened #48609 "using visual studio code and the hot reload not always work"
hello,
i will keep it short, the hot reload often not update and requires to run: flutter clean, and run that again. i have done it more than 4 times since 3 days ago.
this usually happen when i don't touch the emulator or IDE and then come back to change something andit showing me something old.
seldom that this issue happens when i write code.

[2020-01-10 23:14] csells commented on #42986
@KennedyChiang Can you specify a problem that this is causing you? Or is this a feature request?

[2020-01-10 23:16] csells commented on #32554
@djkloop can you describe the current and expected behavior?

[2020-01-10 23:18] JakeSays commented on #14967
@stuartmorgan I'll do that.
And yeah I had forgot that the windows embedder is using ANGLE.

[2020-01-10 23:21] csells commented on #20373
@long1eu does the #17098 fix also fix this issue for you?

[2020-01-10 23:22] GaryQian commented on #47175
https://github.com/flutter/flutter/pull/48346 exposes this on the framework side.

[2020-01-10 23:24] cbracken commented on #14880
Closing this issue. For issues with video/sound in the emulator, see #14647.

If you're having issues where you're getting sound but no video on physical devices, we'd appreciate someone to file a new bug with a reduced repro that will allow us to diagnose what's going on. If you do, it would be fantastic to link back to this issue to help with background and to lead others to the new bug.

 As-is

[2020-01-10 23:24] #14880 closed

[2020-01-10 23:25] jamesderlin commented on #48576
I think that this is a duplicate of https://github.com/flutter/flutter/issues/45643.

[2020-01-10 23:25] #48576 closed

[2020-01-10 23:29] csells commented on #41469
closing this issue as expected behavior (no GPU in the iOS simulator)

[2020-01-10 23:29] #41469 closed

[2020-01-10 23:32] csells commented on #15231
@yhua537 does the https://github.com/alternadom/WiFiFlutter project solve this problem for you?

[2020-01-10 23:33] jjpaulo2 commented on #41031
I had the same problem after do the official Flutter getting started. I solved my problem setting an environment variable CHROME_EXECUTABLE with the path of the Chrome executable on my system.

[2020-01-10 23:35] cbracken commented on #23244
Thanks for filing!

The code as provided doesn't compile/pass static analysis (even with fixes of typos/missing widgets). Since we don't have enough info to reproduce this issue, I'll reluctantly close this issue. However, if you're still seeing this issue, I'd encourage you to file a new issue with a full reduced repro case that demonstrates the issue.

[2020-01-10 23:35] #23244 closed

[2020-01-10 23:36] zboyles commented on #47567
I have the same issue as Greg. The new root item Scratches and Consoles appears but I can't seem to run any scratches nor can I edit a configuration template for scratches as I've read elsewhere.

Thank you,
Zac

Android Studio 3.5.3
Build #AI-191.8026.42.35.6010548, built on November 15, 2019
JRE: 1.8.0_202-release-1483-b03 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

[2020-01-10 23:37] cbracken commented on #8697
/cc @godofredoc

[2020-01-10 23:37] jmagman commented on #38496
I don't think we can automatically detect the location of beta, or prefer it instead of an existing /Applications/Xcode.app/Contents/Developer since they may have tried a beta and then upgraded to GM.
Hopefully the `sudo xcode-select --switch` text gives them enough of a clue to replace with their preferred path location.  If you have an idea of how to figure this out, let me know and I'll reopen!

[2020-01-10 23:37] #38496 closed

[2020-01-10 23:42] cbracken commented on #14388
/cc @HansMuller is this a widget we'd be interested in adding to either material or Cupertino? I'm assuming so as long as the implementation matches up with the [material spec](https://material.io/components/).

[2020-01-10 23:45] jonahwilliams commented on #47567
Removing tool designation since this has to do with android studio

[2020-01-10 23:45] cbracken commented on #24766
@xster @HansMuller is this still an issue?

[2020-01-10 23:55] cbracken commented on #44936
@DCubix would you mind attaching a minimal repro so we can have someone take a look?

[2020-01-10 23:58] jmagman commented on #32684
Duplicate of https://github.com/flutter/flutter/issues/18532.

[2020-01-10 23:58] #32684 closed

[2020-01-11 00:03] hlta commented on #48603
You have to call InAppPurchaseConnection.enablePendingPurchases(); when starting the app
like this https://github.com/flutter/plugins/blob/fb86d52d76d3f0e79b3f679bb3d0db35de4d55cd/packages/in_app_purchase/example/lib/main.dart#L15

[2020-01-11 00:04] cbracken commented on #29477
It looks like the file is not a valid UTF-8 file and so the codec is choking on it. UTF-8 supports an optional [byte-order mark](https://en.wikipedia.org/wiki/Byte_order_mark) at the beginning of the file which can help with endianness and signalling whether a byte stream is utf-8, utf-16, etc.

UTF-8 files that include this mark should begin with the (hex) bytes `fe bb bf`. Note that there's no `

[2020-01-11 00:04] #29477 closed

[2020-01-11 00:07] jmagman commented on #32471
Duplicate of https://github.com/flutter/flutter/issues/40225.

[2020-01-11 00:07] #32471 closed

[2020-01-11 00:14] cbracken commented on #6246
Related: #6246.

[2020-01-11 00:18] GaryQian commented on #48549
What could be happening is that it finds the hand icon in the japanese font, caches the japanese font, and then when it looks for the remaining characters, it searches the cached fonts first, resulting in a final japanese result.

Interesting how this happen on the native OS as well. It is possible that both Flutter and iOS are using very similar fallback systems. The system arises out of the mass

[2020-01-11 00:24] cbracken commented on #16503
We've made a heap of progress on this over the last year but things are still pretty scanty. I'm assigning to myself (a) to verify our current coverage and (b) so we can add some form of infra to prevent regressions.

* [Objective-C docs](https://api.flutter.dev/objcdoc/index.html)
* [Java docs](https://api.flutter.dev/javadoc/)

[2020-01-11 00:26] keyonghan opened #48613 "Add 2 linux cloud DeviceLab agents w/o mobile devices for benchmarking."
To enable testing infrastructure for Flutter WebEngine, 2 linux cloud DeviceLab agents w/o mobile devices for benchmarking need to be added.

[2020-01-11 00:27] keyonghan commented on #48613
cc @nturgut @yjbanov @godofredoc

[2020-01-11 00:27] BothOfUsTogether2 commented on #48604
hello,

try asking in one of the community https://flutter.dev/community
i recommend slack: https://flutter.dev/community

[2020-01-11 00:30] jonahwilliams commented on #48604
I agree with @BothOfUsTogether2  , this is not a bug in flutter or an actionable feature request, so it is better suited to one of the above forums

[2020-01-11 00:30] #48604 closed

[2020-01-11 00:34] cbracken commented on #32115
As noted elsewhere in this thread (most recently in the comment above by @searchy2) the correct way to do this in Flutter is indeed to insert a `MediaQuery` widget into the tree with the desired `devicePixelRatio`.

The framework (and all user widgets) that need to get access to the device pixel ratio should be doing so via a `MediaQuery`, and the resulting value is always the value from the neare

[2020-01-11 00:36] collinjackson commented on #31504
It doesn't seem like a priority to me, based on low activity on this issue.

[2020-01-11 00:38] dnfield commented on #14967
@JohnGalt1717, please review our [Code of conduct](https://github.com/flutter/flutter/blob/master/CODE_OF_CONDUCT.md). Flutter's community standards require professional and respectful discourse, and actively doing our best to make people feel welcome.

There are a lot of passionate and talented people working on Flutter, and a lot of good reasons to pursue or not pursue a particular line of devel

[2020-01-11 00:45] jmagman commented on #28409
Duplicate of https://github.com/flutter/flutter/issues/10762.

[2020-01-11 00:45] #28409 closed

[2020-01-11 00:47] cyanglaz commented on #45482
update: (Thanks @amirh for the help with coming up the solutions)

Root cause:  In the WKWebView open source code (https://github.com/WebKit/webkit), we found that the WKWebView object is listening to the keyboard events and explicitly adjust the contentInset (or adjustedContentInset after iOS 11) during `UIKeyboardWillChangeFrameNotification`, `UIKeyboardWillShowNotification` and `UIKeyboardWillH

[2020-01-11 00:51] adar2378 commented on #35243
Thank you so much :)

[2020-01-11 00:52] #41592 closed

[2020-01-11 00:53] jmagman commented on #24909
This is being tracked in FirebaseExtended.  See https://github.com/FirebaseExtended/flutterfire/issues/349.

[2020-01-11 00:53] #24909 closed

[2020-01-11 00:56] cyanglaz commented on #41592
This is fixed with https://github.com/flutter/plugins/pull/2343.
Please try webview_flutter in 0.3.19+4.
If you see some issue with the SafeArea after applying the patch, you can add a SafeArea widget around the WebView widget.

[2020-01-11 00:56] gaaclarke commented on #48601
I've poked around and sure enough 2 `E2EPlugin` plugins are getting allocated despite the singleton logic surrounding its allocation.  The results are set on one plugin but the infinite loop is waiting for the other.

[2020-01-11 00:59] cyanglaz commented on #48180
This is fixed with https://github.com/flutter/flutter/pull/48459
Point to flutter/master should see the fix.

[2020-01-11 00:59] #48180 closed

[2020-01-11 01:01] gspencergoog commented on #47688
So, @franciscojma86, if the revert didn't fix the regression, am I free to land it again?

[2020-01-11 01:03] franciscojma86 commented on #47688
Isn't it this https://github.com/flutter/flutter/pull/48094?  :)

[2020-01-11 01:05] nmnclk commented on #48604
sorry i deleting

[2020-01-11 01:08] gaaclarke commented on #48601
I suspect this may be something funky surrounding the usage of bundles.  Since unit tests are a "Unit Testing Bundle" they might not be sharing the same static variables.  Once `E2EPlugin` is created for the host app and one for the bundle.  This may have been something that got fiddled in the latest version of xcode too.  I'm seeing this on 11.3.

[2020-01-11 01:14] ilyasKerbal commented on #43957
I tried another time with the new version of the plugin (0.3.0); the issue is not yet solved. I think there is a problem in the implementation of `queryPastPurchases`. The function doesn't return anything on IOS.
[code]

[2020-01-11 01:14] darrenaustin commented on #46457
Can we get an output of `flutter doctor` for the case that you are seeing the crash?

[2020-01-11 01:17] jmagman commented on #30858
The screenshot `.gitignore` is in the Flutter SDK, not in the `.gitignore` generated in a new Flutter app.
1. Did you make your app inside the Flutter SDK directory?
1. What is the path of the `.gitignore` where you found those `**/android` lines?

[2020-01-11 01:18] anhsbolic commented on #48583
i had this problem too.

[2020-01-11 01:19] jmagman commented on #40570
Duplicate of https://github.com/flutter/flutter/issues/30478.

[2020-01-11 01:19] #40570 closed

[2020-01-11 01:32] LongCatIsLooong opened #48616 "CupertinoNavigationBar's "Close", "Back", and "Cancel" buttons are not localized."
## "Close" button

Originally reported here: https://stackoverflow.com/questions/59487887/flutter-cupertino-app-close-button-not-translated

Reproduced Below:

## "Back" button
https://github.com/flutter/flutter/blob/449079d4f16f1e85ed1b015e08e6d6072c965d75/packages/flutter/lib/src/cupertino/nav_bar.dart#L2032-L2034

## "Cancel" button
Introduced by https://github.com/flutter/flutter/pull/159120

[2020-01-11 01:38] bekagaw653 commented on #24220
already solved at https://icetutor.com/question/navigator-operation-requested-with-a-context-that-does-not-include-a-navigator/

[2020-01-11 01:39] bekagaw653 commented on #15919
already solved here https://icetutor.com/question/navigator-operation-requested-with-a-context-that-does-not-include-a-navigator/

[2020-01-11 01:41] MuZiLee commented on #48552
我的问题都没有解决为什么要关闭我的问题?

[2020-01-11 01:43] MuZiLee commented on #48552
@huage2580 你中文有问题就不要怪别人?我一个英文都没有写,都是从终端复制粘贴上来的

[2020-01-11 01:44] MuZiLee opened #48617 "为什么要关闭我的问题?"
![image](https://user-images.githubusercontent.com/7467318/72196932-e3afc300-3456-11ea-8a78-ed24d3a2a6dc.png)

[2020-01-11 01:46] MuZiLee commented on #48617
@huage2580 我一句英文都没有写,你的中文不行怪谷歌翻译不出来,我也服了.
我估计问题被关闭也是你举报的.

[2020-01-11 01:47] MuZiLee commented on #48617
@iapicca  另外,我的问题都没有解决,刚发上来,为什么要关闭我的问题

[2020-01-11 01:49] MuZiLee commented on #48617
@iapicca  如果我问题的问题太弱智,也请你告诉我问题的解决办法. 因为我用中文写就关闭?

[2020-01-11 01:54] jmagman commented on #29194
Duplicate of https://github.com/flutter/flutter/issues/13212.

[2020-01-11 01:54] #29194 closed

[2020-01-11 01:56] jmagman commented on #12983
\cc @blasten I think you're working on something related.

[2020-01-11 02:19] gspencergoog commented on #48464
The scroll state is persisted, but when you go back, it restores the focus to the text field, which causes it to scroll into view.  Notice that if you unfocus the text field before pushing (as in my example), then when you go back, the scroll state is unchanged.

If I understand you correctly, what you want is (only when popping a route) focus the text field without bringing up a keyboard, and wit

[2020-01-11 02:21] ejain commented on #19607
Note that the most recent (and final?) version of the _esys_flutter_share plugin_ (1.0.2)  [doesn't work on iPadOS](https://github.com/esysberlin/esys-flutter-share/issues/46).

[2020-01-11 02:22] gspencergoog commented on #47688
Awesome. I didn't see that one. Thanks.

[2020-01-11 02:53] #46045 closed

[2020-01-11 03:01] Kav47 commented on #16691
To solve this:
1. Go to Project Settings (**File -> Project Structure**)
2. Change Project SDK to API 27 ([Left Tab] **Project Settings -> Project**)
<img width="974" alt="image" src="https://user-images.githubusercontent.com/4541988/72197786-3d939700-341d-11ea-9b2d-1fdb99174693.png">

3. Change "Build Target" for "Android API 27 Platform" to "Android API 28" ([Left Tab]**Platform Settings -> SDKs

[2020-01-11 03:13] yeti7 opened #48618 "Items inside ListWheelScrollView do not receive gestures"
GestureDetector doesn't work inside ListWheelScrollView.
Also it would be really useful to add horizontal mode.

[code]

[2020-01-11 03:17] LongCatIsLooong commented on #40198
Closing now that the manual engine roll has landed and the post submit checks seem to be passing.

[2020-01-11 03:17] #40198 closed

[2020-01-11 03:20] Kuodster commented on #47804
Hello. Won't it make the crash appear again for Samsung's J4 and J6 models?

[2020-01-11 04:08] zxl777 opened #48619 "[url_launcher] Add new url-schemes to url_launcher"
url-schemes is minecraft://
uri = minecraft://?addExternalServer=V86TEST|v3618.v86.co:3618
I use swift, on the same device, this URL can be called successfully.
Can you add this minecraft:// to url_launche?

[code]

[2020-01-11 04:36] #48178 closed

[2020-01-11 04:38] weizhenzhao commented on #48178
android sdk compile version wrong in build.gradle file .  and I solved the issue by changing the version right

[2020-01-11 04:59] Zheaoli commented on #48617
真的是睿智
维护者已经说了，有个类似的 issue 和你的情况类似，为了避免重复 issue 先暂时关闭，如果你觉得不一样在原 issue 下面说明后会 reopen

下次先看看怎么使用 issue 再来提 issue ，英文看不懂的话可以 Google 翻译成中文再看

[2020-01-11 05:01] Zheaoli commented on #48617
@iapicca please close this issue, this a spam

[2020-01-11 05:10] costela2002 commented on #45695
I have a project using Gmaps, I have the same problem. Time Gmaps works, time the platform bug happens.
Any solution?

[2020-01-11 05:27] dnfield commented on #48618
The gesture detector it's using to detect dragging is probably absorbing the gestures you're looking for.

Can you explain a bit more about your use case?  What gestures do you want the children to receive?

[2020-01-11 05:31] dnfield commented on #48617
Please do not file issues asking why issues were closed.  You can always comment on the original closed issue if needed, or file a new issue if you have a new problem.

Also, posting in languages other than English makes it harder for most of this community to assist you.  That becomes doubly true when you post _screenshots_ in a language other than English, where we can't even use a automated tra

[2020-01-11 05:31] #48617 closed

[2020-01-11 05:34] yeti7 commented on #48618
Like other ScrollView components ListWheelScrollView only needs to consume swiping in main direction allowing other gestures through. For my application I'll need taps and cross axis swipes.

[2020-01-11 05:34] dnfield commented on #48609
I'm not sure how to reproduce this issue.

Does this happen with _any_ application, or just one you're working on?  Are the steps to just leave it running for a few days and come back?

Is this an issue when you use the flutter tool CLI, or only VSCode?

[2020-01-11 05:36] dnfield commented on #48603
Is the assertion yo'ure getting not clear?  as @hita suggests it's telling you what method you need to call first.

The deprecation warnings should be fixed, but are likely not serious.

[2020-01-11 05:47] rodydavis commented on #31952
Here is my PR for Flutter package: https://github.com/flutter/plugins/pull/2462

[2020-01-11 05:55] anshulkataria4 commented on #26617
where is the pod file ?
@vimanshu

[2020-01-11 06:02] riyanWi opened #48622 "[image_picker] crash when start"
I have a trouble when I am using image_picker 0.6.3, my app always crash when developing but can run when debug.
This is crash log
[code]

Minsdkversion 16
Targetsdkversion 28
Deviceos android pie

[2020-01-11 06:42] dnfield commented on #48622
Does this reproduce for you in the image_picker example app?  If not, can you provide a minimum reproduction so that this can be debugged/triaged?

[2020-01-11 06:46] pboos commented on #19607
Updated pull request is ready at https://github.com/flutter/plugins/pull/970. All tests pass. Just waiting for it to get merged in. But so far no response from Google.
Android and iOS worked when I tested it. But if someone can further test it on a iPadOS, it would be helpful.

[2020-01-11 06:46] dnfield commented on #48618
Sounds like a bug to me :)

Small chance that @xster still has context on this.

[2020-01-11 07:09] washed commented on #48603
Thank you both for you help, sorry for being so dense. Calling `enablePendingPurchases()` first indeed fixes the issue.

Understood about the deprecation warnings.

I have a suggestion for improving the documentation in this area:
The "Getting Started" section here (https://pub.dev/packages/in_app_purchase) doesn't mention `enablePendingPurchases()` at all, so I assumed the assertion was about an

[2020-01-11 07:09] #48603 closed

[2020-01-11 07:14] LongCatIsLooong commented on #48168
Closing this issue as it seems `CupertinoActionSheet`'s appearance is mostly on point. Feel free to reopen if you find it otherwise!

[2020-01-11 07:14] #48168 closed

[2020-01-11 08:07] sgehrman commented on #40974
Seems everyone wants this feature, but there are no simple instructions on how to get a fully transparent system navigation bar.  Anyone solved this yet?

[2020-01-11 08:14] xclud commented on #47804
I would appreciate if you let all of us know when the offending patch is reverted (and supposedly roll into flutter).

In reply to another comment of you, if is not only Huawei devices with driver bugs. Investigating Skia source code i found there is a similar bug with Nexus devices as well and the workaround is hard coded in source, something like `if(is_device_nexus()) { ... }`. I am suggesting

[2020-01-11 08:19] xclud commented on #21914
Sorry for reopening,

As you mentioned, Snackbar already has a separate theme. But i believe, when no font family is specified, it should grab the font family from MaterialApp theme. Currently is not having this behavior.

[2020-01-11 08:21] rayworks commented on #48293
Hi @VladyslavBondarenko and other direct contributors, any feedback for this PR ?

[2020-01-11 08:30] ighidan commented on #48563
Thank you, but after upgrading Flutter I got many errors related to more packages so I rolledback to the previous version.

[2020-01-11 09:15] hermanmaritz commented on #47804
To save others some time. 1.10.4 is not a good version to roll back to, has a iOS gesture detection bug https://github.com/flutter/flutter/issues/40863

[2020-01-11 09:32] EliasDeuss opened #48623 "[iOS] unable to spawn process (Argument list too long)"
```Ran custom shell script'[CP] Check Pods Manifest.lock```

[code]
[code]

flutter doctor -v

[code]

<img width="1184" alt="Screen Shot 2020-01-08 at 11 46 39 PM" src="https://user-images.githubusercontent.com/13773566/72048224-2a43c880-3271-11ea-87a2-94ced47c829a.png">

[2020-01-11 09:37] xclud commented on #47804
@hermanmaritz You can have multiple versions. Currently i build android app with v1.10.4, iOS app with 1.12 hotfix6 and web app with master.

[2020-01-11 09:46] #48623 closed

[2020-01-11 09:55] klaszlo8207 commented on #43785
What I tried:

with AutomaticKeepAliveClientMixin

and

  @override
  bool get wantKeepAlive => true;

on the child of my pageView

but with no luck. (the pageView animating to the next page and flashing, and not keep the page state)

[2020-01-11 10:08] jlcool commented on #47720
Looking forward to solving the problem as soon as possible, thank you

[2020-01-11 10:10] klaszlo8207 commented on #43785
https://stackoverflow.com/questions/59693451/flutter-googlemap-in-a-pageview-build-only-once

[2020-01-11 10:13] shorben07 commented on #41067
One more possible workaround:
1. Set View controller-based status bar appearance in Info.plist to YES
2. Create a subclass of the flutter view controller
[code]

[2020-01-11 10:21] remoteportal opened #48624 "New BuildContext.parent property to access widget parent"
I don't understand Flutter architecture very well, but reading some StackOverflow questions and answers it doesn't seem to be an easy way for child widgets to communicate directly to the state of parent widgets.

## Use case

There are many situations where child widgets need to read/write parent state.

## Proposal

Perhaps add a context.parent property?

[2020-01-11 10:32] CreativeCode commented on #48168
Please consider reopening it. The issue seems to be the background is _not_ blurred when this is shown ontop of a _webview_. When ontop of a greyish webpage, the menu really becomes almost unreadable. I am using it in combination with webview_flutter package, and show options like "Open this site in Safari" in it. But the website in the background does not seem blurred at all.

[2020-01-11 10:44] KlausJokinen commented on #43785
https://github.com/KlausJokinen/plugins/tree/map_keepAlive

I haven't had time to create PR yet, but you could give it a try. I've implemented keepAlive option into Google Map Widget. (This branch has some other fixes too https://github.com/flutter/plugins/pull/2458).

[2020-01-11 10:47] wanjm opened #48625 "video_player in ios show first picture of video"
if we only initialize VideoPlayerController, there will be black screen while it show the first frame in android;
I hope it will act the same as android;

[2020-01-11 11:00] xster commented on #48618
They do not. We never added this to ListWheelScrollView (since we only used it for pickers) but it's likely an easy fix.

[2020-01-11 11:08] k00na commented on #47804
@hermanmaritz
I'm confirming the gesture detection bugs on iOS with 1.10.4.

@hermanmaritz
I did exactly the same and it works fine for me as well.

[2020-01-11 11:33] bdairy commented on #27254
@blasten is there any fix coming soon.. I am working in iOS now but I my submission is so close.. is there any suggestions that can get things fixed??? Thank

[2020-01-11 11:39] tsangint opened #48626 "cpu used by dart is too high"
I installed flutter's vscode plugin, after starting vscode for a while, cpu used by dart is too high.

Env:
dart:  Dart VM version: 2.7.0 (Wed Nov 6 19:17:15 2019 +0000) on "macos_x64"
macos: 10.15.1
vscode: 1.41.1
flutter plugin(vscode): 3.7.1
flutter: 1.10.16

![image](https://user-images.githubusercontent.com/1677665/72203589-85133500-34a8-11ea-9575-1f4f2a9f0168.png)

![image](https://user-imag

[2020-01-11 11:41] piyushsinha24 commented on #25351
https://www.pleatsbouttique.com
This still shows white screen and fails to redirect. I tried 0.3.10+3 still no luck :/

[2020-01-11 11:49] piyushsinha24 opened #48627 "webview_flutter isn't able to redirect and shows blank white screen"
## Steps to Reproduce

webview_flutter isn't able to redirect and shows blank white screen.
Try this url: https://www.pleatsbouttique.com

[code]

[code]

[code]

[2020-01-11 11:50] verisay commented on #27924
I guess there is no single person come up with a comprehensive solution :D

For those who need a temporary solution until flutter team adds the file input support:

1- download latest the **flutter_webview_plugin** and **webview_flutter** plugins from **pub.dev**
2- copy the the file selection part from **flutter_webview_plugin** to **webview_flutter**
3- replace your old version of **webview_flut

[2020-01-11 11:53] piyushsinha24 commented on #25351
https://www.pleatsbouttique.com
This still shows white screen and fails to redirect. I tried 0.3.10+3 still no luck :/

[2020-01-11 12:08] DeRealMorgan commented on #29570
@csells Flutter isnt providing a way to steeam audio so we paused the project / moved it to a better framework.

[2020-01-11 12:13] excitedhaha commented on #21237
I encountered the same problem, several months have passed, the problem should be solved ASAP.

[2020-01-11 12:18] sedhha commented on #27254
I can help you to fix in android but ios I am not sure.

[2020-01-11 12:41] Zazo032 commented on #40974
The framework currently doesn't support it, it can't render _under_ the navigation bar to achieve that effect.

[2020-01-11 12:43] JohnGalt1717 commented on #14967
@dnfield given I did none of those things I fail to see your point. I outlined factual history, and a path being taken that ensures that this will have to be rewritten, and will not reach parity with other platforms.

If you read carefully, at no point did I call anyone ignorant (which litterally means unaware of facts and is not derogitory, itself a statement of fact), nor did I accuse any indivi

[2020-01-11 12:43] shaileshpanthee commented on #46878
i could download x86_debug-1.0.0-2994f7e1e682039464cb25e31a78b86a3c59b695.jar using browser. What to do next???

[2020-01-11 13:07] belaad opened #48628 "Can't Test with mockObserver navigation in an app with Multiprovider."
This worked when I had just one provider but doesn't when I do setup with Multiprovider.

[code]

run output:
[code]

flutter doctor output:

[code]

[2020-01-11 13:13] BassamxMednini commented on #23189
still waiting..

[2020-01-11 13:20] brightest-dazes opened #48629 "Suggestions"
Needs improvement. Layout and
Formatting.

[2020-01-11 13:40] mixdesign opened #48630 "Flutter List widgets won't scroll on iOS 13 modalPresentationStyle = .automatic"
## Steps to Reproduce

1. Create a simple Flutter app (module) with a single page including `ListView` or `SingleChildScrollView`. Append as many children as possible to make it scrollable.
2. Create a simple iOS native app, which has two controllers. **Controller A** has a button which initializes **controller B**. **Controller B** initializes and adds `FlutterViewController` into itself.
3. Run

[2020-01-11 13:48] egorbelibov opened #48631 "[Web] Transformed widget is affected by another widget's borderRadius or circular shape"
### Issue
There's some **Black Magic** 🧙‍♂️affecting a transformed container. It's caused by adding a `borderRadius` or `BoxShape.circle` to a **separate** widget in a `Stack`.

### Flutter Version
[code]

## Code to Reproduce
1. Create new **project**.
2. Replace with the attached code.
3. De-comment `IssueSource` commented code.

<details>
	<summary>code sample</summary>

[code]

</details>

###

[2020-01-11 14:00] kamilklyta commented on #45526
@AngusPei
If you are using the `Form` widget with `GlobalKey` assigned to `key`, please make sure that `GlobalKey` is not recreated on every `setState` / every `build` function call. Create `GlobalKey` inside `initState` or directly inside stateful widget state class body.

[2020-01-11 14:00] gonuit commented on #45526
@AngusPei
If you are using the `Form` widget with `GlobalKey` assigned to `key`, please make sure that `GlobalKey` is not recreated on every `setState` / every `build` function call. Create `GlobalKey` inside `initState` or directly inside stateful widget state class body.

[2020-01-11 14:04] ykaito21 opened #48632 "Is it possible to rebuild UiKitView with changing state?"
I'm trying to dynamically change UiKitView with state. When I change creationParams "value", it doesn't rebuild UiKitView. Is it possible to rebuild UiKitView with changing state?

[code]

[2020-01-11 14:08] tony123S opened #48633 "ConnectionState always waiting in StreamBuilder"
I using Bloc pattern in my flutter project. In MainPage, I will add `List<HashMap<int,ABC>>` into list.

[code]
After that I will display the stream in pageB.

[code]
If the list is not equal to zero, I can see `Text(snapshotData.data.toString())` display on UI. But if the list is zero, the UI is displayed waiting. How can I fix it? Why it is always in `ConnectionState.waiting`  if there are nothi

[2020-01-11 14:18] egorbelibov commented on #48631
@ferhatb I think this might be **related**, **but not the same** issue addressed by the following PR : #15327

[2020-01-11 14:30] bdairy commented on #27254
I don;t have an issue on iOS,, the problem is only android issue,, please help :)

[2020-01-11 14:44] #29570 closed

[2020-01-11 14:59] Akash4097 commented on #46616
in my case @szerner all steps are same but without flutter_clean command it produces the same error

[2020-01-11 15:01] Sparrenberg commented on #44944
Have had same Problem here.
Check if your local Firewall allows Dart incoming network connections. for whatever reason, but it seems necessary.

[2020-01-11 15:06] ln-1214 opened #48634 "Tab characters not working properly"
I want to use tab characters in Strings (\t) to indent my text, but it seems that Flutter displays all tab characters as single spaces.

For example, using Flutter's demo app, I want it to display at the center of the screen this string:

'#1\tYou have pushed the button:\n#100\tYou have pushed the button'

and this is what I get:

[https://i.stack.imgur.com/NFH0x.png
](https://i.stack.imgur.com/NF

[2020-01-11 15:07] Sparrenberg commented on #48189
@iKK001
Have had same Problem here.
Check if your local Firewall allows Dart incoming network connections. for whatever reason, but it seems necessary.

[2020-01-11 15:19] jerryzhoujw opened #48635 "[web] how to support search text from browser"
I guess it's a feature request ?
Or I miss some widget to do this ?

## Steps to Reproduce

1. Include a list of `Text('some text')` in a widget.
2. After run with `flutter run -d chrome`, it will display in chrome.
3. I try to search the text by chrome's search tool, but not work.

<img width="768" alt="Screen Shot 2020-01-11 at 11 14 55 PM" src="https://user-images.githubusercontent.com/6405390/

[2020-01-11 15:40] chadalen commented on #47091
Related issue #19601

[2020-01-11 15:57] vijayaragavangkf commented on #48464
Thank you.

1) Gmail - Compose
2) Calendar - New Event
3) WhatApp - Change Number

<div>
    <img src="https://user-images.githubusercontent.com/35106540/72206155-7fb9e880-34b0-11ea-99cd-190977667228.gif" height="300"/>
    <img src="https://user-images.githubusercontent.com/35106540/72206724-649ea700-34b7-11ea-9d11-60d9b36facda.gif" height="300"/>
    <img src="https://user-images.githubuserconte

[2020-01-11 15:57] jerryzhoujw opened #48636 "[web] Discuss: what's the best way to open a detail."
I can write the things as just pages of widgets.
But I would expect better way, since I think it's a normal case in web.

## Steps to Reproduce

1. Include a list of  content with `IconButton()` in a widget.
2. After run with `flutter run -d chrome`, it will display in chrome.
3. I try to click each button in list to open the detail.

### Expected 2 possible result:
1. Open the detail part in the

[2020-01-11 16:08] fabianhenzler commented on #26985
Having a similar problem. The project works when opening it in XCode, but fails to install and run from VSCode with
[code]

[2020-01-11 16:24] klaszlo8207 commented on #43785
Tried this:

  #google_maps_flutter: ^0.5.21+7
  flutter_plugins:
    git:
      url: git://github.com/KlausJokinen/plugins.git
      ref: map_keepAlive

but I got :

Because my_app depends on flutter_plugins from git which requires SDK version <2.0.0, version solving failed.
pub upgrade failed (1; Because my_app depends on flutter_plugins from git which requires SDK version <2.0.0, version solvin

[2020-01-11 16:58] JonasJW opened #48637 "[web] BoxShadow is cut off"
BoxShadow is cut off on web. Works fine on iOS and Android.

![Bildschirmfoto 2020-01-11 um 17 53 18](https://user-images.githubusercontent.com/38528004/72207656-68bccb80-349b-11ea-8634-fcc67a233c50.png)

## Steps to Reproduce

1. Create new Flutter Web Project
2. Add this code:
[code]

**Target Platform:** Web
**Target OS version/browser:** Chrome version 79.0.3945.117
**Devices:**

## Logs

No E

[2020-01-11 17:01] craiglabenz opened #48638 "Flutter fails to report keyboard changes via MediaQuery.of(context).viewInsets"
## Steps to Reproduce

1. Load [this code](https://gist.github.com/craiglabenz/4ac72794729bf4e676f763d8a32f4511) into the simulator.
2. Tap the two inputs, pressing CMD-K (on Mac, obviously) to show the keyboard if necessary.
3. Notice the debug statements which always read 0 bottom inset.

**Target Platform:** iOS & Android
**Devices:** iPhone 11 Pro and Pixel 3

## Logs

[code]

[2020-01-11 17:03] ryanheise opened #48639 "[web]: can't use web libraries in web plugin"
The [Flutter Web FAQ](https://flutter.dev/docs/development/platform-integration/web) links to [this guide](https://medium.com/flutter/how-to-write-a-flutter-web-plugin-5e26c689ea1) on how to create a Flutter web plugin, but after following this guide, I am unable to import web plugins. The linter gives `avoid_web_libraries_in_flutter` when importing `dart:html` and I'm getting `uri_does_not_exist`

[2020-01-11 17:03] SimeonZV commented on #32115
@cbracken
I fully agree that the correct way (or rather the best way) to do in in Flutter **would be** to use `MediaQuery`, but, as I stated at the beginning, it's not working.

I would say that it somehow works using `FakeDevicePixelRatio` nicely proposed by @ardera and which I currently use, but there are many issues with it. @searchy2 only made a point on how to use `FakeDevicePixelRatio` (actu

[2020-01-11 17:17] ghazalKhaled commented on #9638
i tried Open Android Studio: Configure ->AVD Manager->Edit AVD->Show Advanced Options->Memory and Storage-> increment Memory Storage and SD CARD as FranciscoDevPy commented. it worked with me than you. i tried this with new emulater.

[2020-01-11 17:38] eumagnun opened #48640 "[web]: error on sqlite persistence"
I have a simple flutter app. This runs ok on Android, but i'm having some problems when build the app for web.

The error occurs when I try to perform an action that results in persistence on a local sqlite base.

[code]

[2020-01-11 17:42] #46020 closed

[2020-01-11 17:43] phasee opened #48641 "VS Code - Format Document - Shows False Errors"
Hi,

I've searched for anyone having a similar issue and have not been able to find anything, so I am opening this bug in the hope someone can help. If there is any information I can provide, please let me know.

The problem occurs anytime I use the "Format Document" option in VS Code. The code get formatted but will then show false errors, as shown in the screenshot below:

![code_errors_after_fo

[2020-01-11 17:45] nturgut commented on #46020
I'll add another PR soon for copy (Clipboard.setData) functionality for browsers not covered by this change.

[2020-01-11 18:03] bhanuka96 opened #48643 "how to reduce video quality on image_picker?"
I reduce image quality like this
`await ImagePicker.pickImage(source: source,imageQuality: 50);`

but there isn't an option to reduce video quality.
`await ImagePicker.pickVideo(source: source);`

[2020-01-11 18:09] shivasairam101 commented on #25566
I came across a similar issue. I solved it by wrapping my scroll-able widget with a sized box whose size is equal to the screen size.

`                       SizedBox(
                              height: MediaQuery.of(context).size.height,
                              child: Container(
                                child: YourScrollableWidget(),
                              ),

[2020-01-11 18:25] wangying3426 opened #48644 "Why "metal.gl" traces appeared for a CAEAGLLayer?"
Our flutter application is used a CAEAGLLayer，but some "metal.gl" traces appeared in instruments，as the picture shown，what's the mean of "metal.gl"?

Besides,  there are many “blocked waiting for next drawable” events，and those events seems just appeared when used a CAMetalLayer?  why appeared when used a CAEAGLLayer? What is the number of  available "drawables"  for a CAEAGLLayer？As we know, defa

[2020-01-11 18:54] RitikRD commented on #40517
C:\Users\kartik>flutter run --verbose
[  +27 ms] executing: [C:\flutter\flutter\] git -c log.showSignature=false log -n 1 --pretty=format:%H
[ +751 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +40 ms] 27321ebbad34b0a3fafe99fac037102196d655ff
[   +1 ms] executing: [C:\flutter\flutter\] git describe --match v*.*.* --first-parent --long --tags
[ +176 ms] Exit co

[2020-01-11 18:55] RitikRD commented on #40517
please help me to solve this problem

[2020-01-11 19:05] SvenSlijkoord commented on #33586
Heatmap support is implemented for both Android & iOS in PR flutter/plugins#2454 but I am having trouble getting the podspec file to build because `Google-Maps-iOS-Utils` is a static framework dependency.

The `build_all_plugins_ipa` task gives the following error:
[code]

Does anyone know how to include the `Google-Maps-iOS-Utils` dependency without breaking the build?

[2020-01-11 19:15] mehmetf commented on #46457
@darrenaustin Please post updates to the internal bug. The customers who filed this do not watch this space. Thanks! (It could be that the crash has been fixed since then)

[2020-01-11 19:43] blemelin opened #48649 "$ANDROID_HOME is required to be an absolute path."
The ```ANDROID_HOME``` environment variable is required to be an absolute path.

For example :
[code]

Running ```flutter doctor``` :
[code]

Using an absolute path :
[code]

Running ```flutter doctor``` :
[code]

* **Version** : Flutter (Channel stable, v1.12.13+hotfix.5, on Linux, locale fr_CA.UTF-8)
* **OS** : Debian based

*PS : Does this issue follow the contributing guidelines ? Also, didn't

[2020-01-11 19:52] BothOfUsTogether2 commented on #48609
I'm working with one. Steps is to code then wait 8 minutes and code and see if UI updated.
I'm not sure if this happens to me only. I didn't experience the flutter CLI so only VSCode.
host: debian 9

[2020-01-11 20:09] LucasAschenbach commented on #42540
I just found the problem.

Currently, in the constructor of the [BouncingScrollSimulation class](https://github.com/flutter/flutter/blob/27321ebbad34b0a3fafe99fac037102196d655ff/packages/flutter/lib/src/widgets/scroll_simulation.dart#L31) the `_springSimulation` is set as the `_underscrollSimulation()` or `_overscrollSimulation()` function, whenever the scroll position is smaller or bigger than th

[2020-01-11 20:27] hb0nes commented on #48622
Confirmed. Works when devving, but when doing flutter build apk and running that, I get the same errors.

[2020-01-11 20:32] dnfield commented on #48609
This might be better suited for the dart-code repo...  @DanTup

[2020-01-11 20:37] pchampio opened #48651 "Shared render_task & platform_task runner description"
I'm developing an alternative embedder (go-flutter) and we stumble across https://github.com/flutter/flutter/issues/17579. (Crash under sendIndexedMeshToGpu when resizing macOS embedder).

In order to fix this issue, I had to use a thread configuration where the platform and render task runners are the same (https://github.com/flutter/engine/pull/13300).

After implementing this thread config into

[2020-01-11 20:47] joedonchev commented on #42077
The phone call worked on Android, but it didn't work on iOS.
Finally, i removed the spaces from the phone string:
before: +00 0000 0000
after: +0000000000
And then, worked on both Android and iOS.
Please, make it clear on the project page, so that others won't waste time like me.

[2020-01-11 20:54] #11794 closed

[2020-01-11 20:55] ctenov opened #48652 "Lot of weird error messages in very simple APPs (one page)"
=====================================================
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.12.13+hotfix.5, on Microsoft Windows [versÃ£o 10.0.18363.535], locale pt-BR)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.5)
[√] Connected device (1 available)

• No issues found!
=======

[2020-01-11 20:56] ctenov opened #48653 "Very weird errors on compiling simple apps"
=====================================================
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.12.13+hotfix.5, on Microsoft Windows [versÃ£o 10.0.18363.535], locale pt-BR)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.5)
[√] Connected device (1 available)

• No issues found!
=======

[2020-01-11 20:57] DanTup commented on #48609
@BothOfUsTogether2 when this happens, do you see a "Reloaded x libraries in x ms" messages in the Debug Console? Can you give an example of a change you made when you see this? There are [some types](https://flutter.dev/docs/development/tools/hot-reload#recent-ui-change-is-excluded) [of changes](https://flutter.dev/docs/development/tools/hot-reload#limitations) that won't hot reload.

And how are

[2020-01-11 20:57] ctenov opened #48654 "Very weird errors on compiling simple apps"
=====================================================
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.12.13+hotfix.5, on Microsoft Windows [versÃ£o 10.0.18363.535], locale pt-BR)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.5)
[√] Connected device (1 available)

• No issues found!
=======

[2020-01-11 21:01] ctenov opened #48655 "Very weird error messages compiling simple apps"
=====================================================
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.12.13+hotfix.5, on Microsoft Windows [versÃ£o 10.0.18363.535], locale pt-BR)

[√] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
[√] Android Studio (version 3.5)
[√] Connected device (1 available)

• No issues found!
=======

[2020-01-11 21:02] premingiet opened #48656 "Flutter Video Player Unable To Play Long video File of About 11 hrs duration."
I tried playing an mp4 video file, which is a common format supported by this player. Its able to play videos that are not too long. But I have a video which is 11 hrs long. Its unable to load or play that file.
I have other videos too which are 18 hrs long and 21 hrs long, and it won't play either.

When i was working on xamarin platform, i used to used libvlc (vlc media player)  and that used to

[2020-01-11 21:06] lukaselmer commented on #13065
In addtion to @MisterJimson and @castrojr913, you can also use the flag `-allowProvisioningUpdates` to handle signing automatically.

[code]

with ios/ExportOptions.plist

[code]

[2020-01-11 21:46] ctenov commented on #48655
Moving on my studies of Flutter I realized that messages I printed on console are persisting too !!!
Then I found this issue: https://github.com/flutter/flutter/issues/34876 and follow the advice here:
'For Android Studio:
Tools -> AVD Manager -> Emulator actions -> wipe data'
The old logs vanish like a charm !!!
Thanks !

[2020-01-11 21:46] #48655 closed

[2020-01-11 21:48] kika opened #48657 "`flutter run` crashes if the `pidfile` is not writable"
Reproduce: run `fultter run --pidfile=/var/run/flutter.pid` if the `/var/run` is not writable for the current user (or specify any other directory which is not writable).

<details><summary>Crash log: </summary>
<p>
Flutter crash report; please file at https://github.com/flutter/flutter/issues

## command

flutter run -d AB156805-3811-4364-B30E-EE3C6B000D9F --track-widget-creation --pid-file /var/

[2020-01-11 21:52] sallymariehollywood commented on #13065
@lukaselmer  This looks very promising what you have put here (Specifically for IPA) and will try it out ... But before I do :-

1) Does this assume Adhoc provisioning profiles/Certificates have been created in developer.apple.com ? Or will this do this for me AUTOMATICALLY ?  I'm after a quick way to release Adhoc builds to testFlight for beta test users ...

2) Your creating 'release' ipa builds

[2020-01-11 22:23] dnfield commented on #47804
Skia is going to start with reverting the patch. It should roll into Flutter sometime this week. We should see if we can hotfix the skia change into stable, but it's not clear what that will involve just yet (/cc @tvolkert).

As Gary said, the basic problem is that the driver is advertising features it doesn't actually support, and when Skia goes to use those features, it results in a crash. The S

[2020-01-11 22:40] tobiasgubo commented on #47933
having the same issue on my project any solutions on this?

[2020-01-11 23:20] Zamiah22 commented on #29608
Thanks a million for solving this problem!

[2020-01-11 23:21] MrCoderBoy345 opened #48658 "http and FutureBuilder are throwing an error when testing on web"
## Steps to Reproduce

use my [code](https://gist.github.com/MrCoderBoy345/8fef700bf3a110ab0c2446322108ddcc) or
1. generate a default project using the latest flutter beta
2. install package:http/http.dart
3. have futurebuilder generate a text string holding the response body from a http.get api call

**Target Platform: Web**
**Target OS version/browser: Chrome**
**Devices: Chrome 79.0.3945.88**

[2020-01-11 23:30] stuartmorgan commented on #48651
I've never tried that configuration, so I don't have any particular insight here. Have you tried debugging into GFLW to see what the failure is specifically?

[2020-01-11 23:34] SandeepSimha opened #48659 "Remove Unused Imports and Migrate examples to Android embedding v2"
## Use case
When I am checking the platform_channel_swift example project, I see that MainActivity is not Migrated to Android embedding v2. Also, I want to remove the unused imports in the MainActivity class.

## Proposal

I have fix for the above use case. Can I raise the Pull Request?

[2020-01-11 23:34] SandeepSimha opened #49619 "Remove Unused Imports and Migrate examples to Android embedding v2"
## Use case
When I am checking the platform_channel_swift example project, I see that MainActivity is not Migrated to Android embedding v2. Also, I want to remove the unused imports in the MainActivity class.

## Proposal

I have fix for the above use case. Can I raise the Pull Request?

[2020-01-11 23:37] sudo-kaizen opened #48660 "Incorrect grammar in MediaQuery class docs"
The Flutter [MediaQuery class documentation](https://api.flutter.dev/flutter/widgets/MediaQuery-class.html) states in its second paragraph _For example, to **learn** the size of the current media.._.

This could have been caused by translation from another language. Although this seems to be a minor thing, English speakers will actually understand it better as  _For example, to **know** the size o

[2020-01-12 02:04] jonahwilliams commented on #48653
Duplicate of https://github.com/flutter/flutter/issues/48654

[2020-01-12 02:04] #48653 closed

[2020-01-12 02:04] jonahwilliams commented on #48652
Duplicate of https://github.com/flutter/flutter/issues/48654

[2020-01-12 02:04] #48652 closed

[2020-01-12 02:06] jonahwilliams commented on #48654
@ctenov The error is pointing to your own code here:

I/flutter ( 8056): DicePage file:///C:/Dados/Android/Projetos/dice/lib/main.dart:16:15

Specifically, the Flex you created does not have a direction:

I/flutter ( 8056): 'package:flutter/src/widgets/basic.dart': Failed assertion: line 3786 pos 15: 'direction != null':

[2020-01-12 02:06] #48654 closed

[2020-01-12 02:07] jonahwilliams commented on #48636
@jerryzhoujw are you talking about opening a new tab/page? Or something like a modal/popup dialog?

[2020-01-12 02:12] jerryzhoujw commented on #48636
Hi @jonahwilliams

yes, open in net tab is one way I think good.

Or if it can easy open part of the page to new content would be good too.

_Because current PageRoute thing will open hole page. which cause shared menu & web top need be in all pages, I don't like it because actually the menu & web top are just navigation function here._

[2020-01-12 02:30] jerryzhoujw commented on #48636
En,  for open in new tab,  I think I should display a `link`  instead of `button`
 what would be the `Relative URL` in this case, maybe related to universal link things.

For replace part of web content with new content, and actor like open new page in that area,
  I think maybe model/popup dialog would satisfy the case.

[2020-01-12 03:04] jonahwilliams commented on #48660
I don't believe the grammar is incorrect in this case. "To learn" implies some work or acquisition which is comparable to accessing a getter

[2020-01-12 03:54] sedhha commented on #27254
Setting up firebase:

Use gms service version as shown in the code below in app.gradle instead of 4.3.2 or any other version :
[code]

Add this snippet to build.gradle below dependencies:
[code]
Change dependenicie in build.gradle (outside of app->build.gradle)
classpath 'com.android.tools.build:gradle:3.3.1'
note that initially its 3.2.1

change kotlin version to 1.3.0 from 1.2.71 or something el

[2020-01-12 03:54] sedhha commented on #27254
Do let me know if you face problems locating any folder

[2020-01-12 03:55] 2dxgujun commented on #48549
![image](https://user-images.githubusercontent.com/8072733/72213908-0662da00-3532-11ea-960f-d44c265f3e9e.png)
Check this out, in mac Spotlight, same problem.

And the preferred language order on my iPhone is English, Chinese Simplified, no Japanese in list.

[2020-01-12 04:34] windrunner414 commented on #43494
+1, Is there any progress?

[2020-01-12 04:54] ryanheise commented on #48639
I can reproduce this with the official `url_launcher` package developed by the Flutter team.

1. Clone the https://github.com/flutter/plugins/ project.
2. cd packages/url_launcher/url_launcher_web
3. run flutter pub get
4. open lib/url_launcher_web.dart in editor
5. The linter highlights the import 'dart:html' line with avoid_web_libraries_in_flutter
6. Adding the import 'dart:web_audio' gives uri

[2020-01-12 05:06] xty19 opened #48662 "it crashed when getting Platform and running on chrome"
I want my application running on ios android and chrome.
but some pub doesnt support web. So I have to get platform to fix the problem.
Like I use fluttertoast. It runs good on ios and android ,but it doesnt support web.
So I write the code to judge the platform,just below
[code]
crash log is
[code]
but it crash when running on chrome.so would you please fix it,thanks.

[2020-01-12 05:12] saigkl commented on #48625
Share your code to help other to know what's happening.

[2020-01-12 05:14] ntancnit opened #48663 "[google_maps_flutter] marker consumeTapEvents:true, but the map is not handle tap event."
[code]

`map _handleTap` didn't archive when I clicked on marker.
How can I config GoogleMap when marker consumeTapEvents: true?