[2021-10-30 10:04] GauravCalidig commented on #34688
+1

[2021-10-30 10:26] footurist opened #92752 "Make documentation of ScrollView/CustomScrollView clearer in regards to PageStorageKey"
## Use case

I just struggled for quite a while to figure out why just providing PageStorageKeys to CustomScrollViews in a TabBarView does not cause the views to restore their offsets. After some time I figured that you need to explicitly provide both, the keys and controllers for each view. That is because if you don't provide a controller, then ScrollView.primary defaults to true, which subseque

[2021-10-30 11:22] AmanyAhmad opened #92754 "[tool_crash] StateError: Bad state: No context with the running Dart application."
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
StateError: Bad state: No context with the running Dart application.
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel**: stable
**Creation fram

[2021-10-30 12:29] Os-Prog commented on #92729
This is the error I'm getting:

E/AndroidRuntime( 5833): FATAL EXCEPTION: CameraBackground
E/AndroidRuntime( 5833): Process: com.net...., PID: 5833
E/AndroidRuntime( 5833): java.lang.IllegalArgumentException: CaptureRequest contains unconfigured Input/Output Surface!
E/AndroidRuntime( 5833): 	at android.hardware.camera2.CaptureRequest.convertSurfaceToStreamId(CaptureRequest.java:739)
E/AndroidRunt

[2021-10-30 13:13] muhlba91 commented on #92577
i have the same issue without any flavor in flutter release 2.7.0.

[2021-10-30 13:26] roberthook823 opened #92755 "Flutter issue"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>
![image](https://user-images.githubusercontent.com/59207864/139534504-054cfabc-4402-4919-88f4-15c10779ac80.png)

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2021-10-30 13:28] roberthook823 commented on #92755
![Untitled](https://user-images.githubusercontent.com/59207864/139534566-2e9cb710-e919-4953-9582-3674a81b7202.png)
Why is there an error?

[2021-10-30 13:29] #92755 closed

[2021-10-30 14:17] sailingbin opened #92756 "Webview can not be released in memory"
1. Create Webview in Container build;
2. Close the Container
3. Webview can not be recycled from memory.

Submit to wrong place, it should be submitted to flutter plugin webview.

[2021-10-30 14:36] NiBoTe opened #92757 "Crash when compiling null"
[code]

[2021-10-30 14:36] NiBoTe commented on #92757
Flutter 2.5.3 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 18116933e7 (2 weeks ago) • 2021-10-15 10:46:35 -0700
Engine • revision d3ea636dc5
Tools • Dart 2.14.4

[2021-10-30 15:09] RoarGronmo opened #92759 "Issue with renaming files to/from capital letters in AS2020.3.1 (in a Flutter project)"
When renaming a project directory from `Services` to `services`, the importing referencing to that file, did not change the capital letter inside the code. Causing "Lint" to mark fail with redliners.

![image](https://user-images.githubusercontent.com/11217296/139538730-fef89a98-338e-4ec1-94cd-498508df75fa.png)

(PS! The incident may be connected to Android Studio renaming directories, but I have

[2021-10-30 15:24] tvc18 opened #92761 "An InputDecorator, which is typically created by a TextField, cannot have an unbounded width. This happens when the parent widget does not provide a finite width constraint. For example, if the InputDecorator is contained by a Row, then its width must be constrained. An Expanded widget or a SizedBox can be used to constrain the width of the InputDecorator or the TextField that contains it. 'package:flutter/src/material/input_decorator.dart': Failed assertion: line 959 pos 7: 'layoutConstraints.maxWidth < double.infinity'"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2021-10-30 15:36] proninyaroslav opened #92762 "[camera] Android 12 emulator camera crash when take a photo"
This issue is reproduced in the plugin example, only in Android 12 emulator with the latest plugin version.
https://github.com/flutter/plugins/blob/master/packages/camera/camera/example/lib/main.dart

## Steps to Reproduce

1. Run the example, give all permission
2. Select the main camera, click the capture button

**Expected results:**
Taking a photo must be successful

**Actual results:**
Camera

[2021-10-30 15:57] mangei commented on #87896
@piuskamil which specific device do you have?

[2021-10-30 16:09] michalkubizna commented on #92333
It's on iOS

[2021-10-30 16:23] or-adar commented on #92759
AFAIK, renaming a folder in a Flutter project using IntelliJ/Android Studio (which is actually based on IntelliJ)
doesn't affect imports.
But until it'll be supported, you can create a new directory, giving it the name you wanted, and than move all relevant files.
Since there is support for moving files on IntelliJ/Android Studio, all relevant imports will get changed.
But pleas note, that It'll w

[2021-10-30 17:00] #92333 closed

[2021-10-30 17:04] or-adar commented on #92757
It is pretty hard to deduce the reason why this happens,
but from the look of it, your calling the `single` property of an empty list.
If that's the case, please notice that `single` throws an error if the list is empty or if it holds more than a single element.
To avoid this, check if the list is not empty and has exactly one element before invoking `single`
or use try-catch to handle StateError

[2021-10-30 17:17] dnfield opened #92764 "Automatically capture long-duration raster frames as SKPs"
It would be great to have a mode of running the engine where it would automatically spit out SKPs frames that take longer than budget (or some multiple of over budget) as SKPs.

This would be helpful when a developer has an application or benchmark with a particularly bad frame that they want to better understand and optimize, particularly when that frame is in the middle of an animation/transitio

[2021-10-30 17:22] RoarGronmo commented on #92759
Thanx for answer, I have experienced in older versions (3yrs, then in a java project) trouble if you move directories (directory trees) or multiselecting several files and move them.

[2021-10-30 18:36] Hu1buerger opened #92766 "flutter run seems to cause kernel panic on macOS 11.6.1"
## Steps to Reproduce

1. `flutter create -t skeleton name`
2. flutter run --verbose
3. In some cases (like 1 out of 3) `flutter run` gets unresponsive
4. Sometimes `^C` rescues the os. In the other case the kernel locks up and panics.

The panic is to be observed exclusively with running `flutter run` or any flutter related compilation.
No other user action, compiler, program is always running wh

[2021-10-30 18:40] gau187 opened #92767 "SharedPreferences: Attempt to set a non-property-list object"
When i am trying to store store a string list, it works on android well but on iOS it crashes with the following error message:
`[User Defaults] Attempt to set a non-property-list object (
    mm,
    "<null>",
    "<null>",
    "",
    "0.0",
    ""
)`

On android it stores the null values with ease but here on iOS it crashes

version
shared_preference : ^2.0.7

flutter doctor
Doctor summary (to

[2021-10-30 18:50] Tusshu opened #92768 "FocusableActionDetector class needs translucent behavior"
I need to logout user if he is inactive for certain time in Flutter Web Application.

I could achieve this by wrapping my application in FocusableActionDetector class and reset a timer every time user interacts with the app. After period of inactivity, timer fires and logs user out.

This is possible if FocusableActionDetector class had translucent behavior similar to that for the GestureDetector.

[2021-10-30 18:58] creativecreatorormaybenot commented on #52258
I published the custom performance overlay for web as a package 🎉

https://pub.dev/packages/performance

[2021-10-30 19:27] mikron123 opened #92769 "[in_app_purchase][Android] for 50% of the users _connection.isAvailable() returns false"
I'm getting A LOT of  false _connection.isAvailable(), from around 50% of the users.
What can be the reason for it?

[2021-10-30 19:45] demetrio812 opened #92770 "in_app_purchase 1.0.9 plugin on iOS: how do we manage the "user cancel tap" error?"
Hello,
I'm trying to understand how we can decide when an error has been sent because of an actual error in the payment process or because the user clicked the "cancel" button, at the moment it doesn't seem the correct status is sent in the IAPError, I've checked the documentation and the example and the handleError method doesn't show any message, is there a way to manage it or is it an actual bu

[2021-10-30 19:56] edwardaux commented on #84241
I haven't been able to narrow down exactly what the problem is, but one thing I have noticed is that 99% of the times I get this error, I also have a layout problem (overflow, or whatever).

[2021-10-30 20:51] edwardaux commented on #84241
I've managed to reproduce this with a small code sample. However, it is a bit tricky... using the following code as a starting point, run in a macOS desktop app. Observe that you can scroll up and down, click, drag, etc.

Then wrap the last `Text` widget in an `Expanded` widget. This will break the layout (which is expected with an `Expanded` in a `SingleChildScrollView`). However, if you now go a

[2021-10-30 22:56] Agondev opened #92773 "using "DropdownButton's selectedItemBuilder" throws assertion exception"
Run this:

[code]

Doctor:
[code]

Selected item disappears as a result.

[2021-10-31 00:00] goodmanworld opened #92774 "type 'Null' is not a subtype of type 'String'"
I want to write a simple registration function and this is my code:

auth_screen.dart:

[code]
auth.dart:
[code]

This is the backend(Deno) part of the project:

auth_controller.ts:

[code]

And this is the `user.ts` class:
[code]
I get this error message when I want to test the application on Android emulator:

When I try the backend server using Postman and send post request to `http://0.0.0.0:8

[2021-10-31 03:16] #92754 closed

[2021-10-31 03:18] Agondev opened #92777 "Size parameter of paint function in CustomPainter alwyas returns Size(0,0), but MediaQuery.of(context).size returns correct value"
Code
[code]

Log
[code]

Doctor
[code]

[2021-10-31 05:22] namankk commented on #92704
Hi @maheshmnj thank for the quick reply i am using Option B - Depend on the module’s source code and in android i am using flutter views to show the flutter screen i have also tried with latest flutter 2.5.3 still getting the same issue

i have made a small demo projects with the same issue for you please check it out
Android module-https://github.com/namankk/YoutubeInFlutterRepo
Flutter module -

[2021-10-31 07:18] ClevercodeTech opened #92779 "No longer able to access queryPastPurchases in InAppPurchase Flutter"
I recently updated the InAppPurchase plugin in flutter. The update is breaking the code. I am unable get past purchases using the InAppPurchase instance.Anyone know how to retreive the past purchase?
`Final QueryPurchaseDetailsResponse purchaseResponse =await _inAppPurchase.queryPastPurchases();`

[2021-10-31 07:28] BernardinD commented on #91215
Any update?

[2021-10-31 08:21] 0xj0hn commented on #68713
same problem for me
any suggestion for solve that?

[2021-10-31 08:24] PerserveranceX commented on #92650
@darshankawar  I ran ``` flutter doctor -v``` on my win7(it's a VM) and got this:
[code]

[2021-10-31 08:44] or-adar commented on #92774
I think that at this point, you are receiving a response from your server.
It's just that you migh be accessing fields on the response that aren't there.
Printing "responseData" to your terminal or dubugging your ```auth.dart``` file should give you some directions.
Comparing fields on postman to the fields you're trying to access on ```auth.dart``` might also help.

Please make sure that your bac

[2021-10-31 08:55] ened commented on #92137
Reproduced with simple steps, all on Flutter 2.5.3:

1. flutter create -t app flt_perf_android44
2. cd flt_perf_android_44
3. flutter build apk --release
4. adb install build/app/outputs/flutter-apk/app-release.apk
5. run the app on the emulator
6. use pidcat to see the errors:

[code]

[2021-10-31 09:17] Mayank-9018 opened #92782 "Textfield callback called twice on emulator"
## Steps to Reproduce

1. Run this code on Android Emulator:
[code]
2. Start typing in the textfield.

**Expected results:**

The callback method should be called only once on value change.

**Actual results:**

The callback method is called twice when typing from the keyboard and not the soft keyboard.

https://user-images.githubusercontent.com/77046231/139575604-b1a0daee-d785-483c-a675-daac5e790

[2021-10-31 09:39] Mayank-9018 opened #92783 "[Android] Textfield `onChanged` callback triggered on dismissing the keyboard with non empty textfield"
## Steps to Reproduce

1. Run this code on Android:
[code]
2. Start typing in the textfield and press the back key to dismiss keyboard.

**Expected results:**

On pressing the back key to dismiss the keyboard, the callback method should **not** be called.

**Actual results:**

The callback method is called on dismissing the keyboard by pressing the back button

https://user-images.githubuserconten

[2021-10-31 11:22] Mijawel opened #92785 "[IOS] Obfuscating ipa fails with: FileSystemException: Creation failed, path = '/flutter_app_delete' (OS Error: Read-only file system, errno = 30)"
Hi,

I am getting the 'Command PhaseScriptExecution failed' error when running:
flutter build ipa --obfuscate --split-debug-info=/flutter_app_delete/debug_info --verbose

but not with 'flutter build ipa'

Even on a newly created flutter app (although also on my actual app as well).

## Steps to Reproduce

- Create new flutter app
- Ensure development team is selected in xcode.
- run "flutter build

[2021-10-31 11:41] jeonghoonkim commented on #53409
God only this work for me. Thanks

[2021-10-31 11:44] navaronbracke commented on #92774
Exactly as @or-adar said. For example:
[code]

will fail if `title` is not in the response body.
You could however use
[code]
or
[code]

[2021-10-31 12:03] navaronbracke commented on #92777
You should be giving the `CustomPaint` widget a size? From the docs of the `size` property of `CustomPaint`: ```The size that this CustomPaint should aim for, given the layout constraints, if there is no child.
[code]

[2021-10-31 12:22] tareq55 commented on #92719
i fixed all  (error incorrect use of parentdatawidget) and it work.

[2021-10-31 12:27] om-ha commented on #24213
We ended up using this package, it worked surprisingly well. With no delay problems too.

https://pub.dev/packages/marker_icon

[2021-10-31 13:39] Agondev commented on #92777
if that's the case then accessing the Size object from the custom painter should throw or provide some indication of this.

But regardless, I also found that the Size object returned by passing MediaQuery.of(context).size is incorrect. Multiplying either height or width by .5 doesn't yield half of the viewport of the custom painter when it takes up all the available space.

[2021-10-31 13:40] KristianBalaj opened #92787 "[Feature request] Option to ignore pointer events for SnackBar"
I want to have a SnackBar that will not block pointer events. So when a button is under the displayed SnackBar, it should be possible to click it.
I would expect a parameter `SnackBar.shouldIgnorePointer = false`.

The only solution for this currently is to copy paste the existing `SnackBar` implementation and to inherit the new `SnackBar` from the Flutter's `SnackBar` to make it possible to use i

[2021-10-31 14:00] mevos19 opened #92788 "Flutter google maps web memory leak"
## Details

**Target Platform:*Web*
**Target OS version/browser:*Browser*
**Devices:**

## Logs
- Can't clear google maps view in flutter web every time I create new Google maps view the app use more memory. appear that the old created map is not disposed or cleared. somehow is still there.
I found an issue already open but on the ios devices.
<details>

<summary>Logs</summary>

[code]

[code]

</

[2021-10-31 14:20] XAbirHasan opened #92789 "having issue with hot restart"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2021-10-31 14:28] walidalyosef opened #92790 "Flutter upgrade"
I am trying to upgrade from Syria...  but getting this, can you please help?
End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of /home/walid/snap/flutt

[2021-10-31 14:33] kaciula commented on #69256
This bug is also happening on Flutter 2.5.2 and in_app_purchase 1.0.9

[2021-10-31 14:50] lupiter-dev opened #92791 "Rendering issue: RenderConstrainedBox - Null check operator used on a null value"
We have a chat screen in our application, which is empty on the mobile device of a customer due to some rendering errors (s. below). Unfortunately, we weren't able to reproduce the problem, as it only occurs on this single IPhone of this one user. It doesn't occur on the same IPhone model in the simulator. The same build also works fine on Flutter web and all other mobile devices. I was hoping, th

[2021-10-31 15:40] esDotDev commented on #65777
Is it possible to use this for other platforms as well? If we could extend this to desktop/android, we essentially can get stateful PageRoutes, which is a killer feature that developers have wanted for a very long time.

[2021-10-31 16:29] timlgl commented on #84957
Independently of the flash, I too find the takePicture() method is rather slow (on my Pixel 4a 5G, same on Pixel 4a).

With a very basic example, it takes over 3 seconds.  You can find more detailed information below.

<details>
<summary>code</summary>

[code]

</details>

<details>
<summary>console output</summary>

[code]

</details>

<details>
<summary>` flutter doctor -v`</summary>

[code]

</

[2021-10-31 16:34] or-adar commented on #92773
Your problem is that the function assigned to "selectedItemBuilder" should return a list containing customized widgets corresponding to your items attribute under "DropdownButtonFormField",
meaning that they should both equal in size,
so when you pick a "DropdownMenuItem" the "DropdownButton" widget should display the corresponding widget residing at the same index as the selected item in items.

[2021-10-31 16:37] Shashwat2708 opened #92792 "The argument type 'String?' can't be assigned to the parameter type 'String'."
I am facing this error and I don't know what the solution should be.  I am trying to build a YouTube player but getting this error and I am not sure if I understand it.

Can someone please help me with this?

I can also add the code if someone wants.

![Screenshot 2021-10-31 220248](https://user-images.githubusercontent.com/62276296/139593358-692af748-80e7-473f-a547-b38abae529f5.png)

[2021-10-31 16:56] Agondev commented on #92773
Nice catch. This fixed the issue.

In retrospect the 'index' keyword should have tipped me off. Nonetheless, imo the error could be improved as I didn't care about the actual value selected or its siblings and only wanted to show a specific widget in the 'selectedItemBuilder.'

I'll leave this open for now to suggest a better way to modify the error message as I feel it's ambiguous enough to warra

[2021-10-31 17:32] or-adar commented on #92777
Well this is mainly because the size property is optional.
Sometimes, you want to have a widget placed on top of your canvas, so you'll introduce a child to the "CustomPaint", and it'll use the size of the child, instead of setting a fixed size.
To sum this up, you can either set a size by setting the "size" property of the CustomPaint widget or you can set the "child" property, and the "CustomPai

[2021-10-31 18:15] or-adar commented on #92792
Dart supports sound null safety, meaning that types can be nullable or non-nullable but not both.
so if you're trying to assign a non-nullable value to a nullable value you'll get an edit-time error.

To handle this error you can use ?? syntax and assign a defualt value like so:
[code]

or
You can check if the value of the variable is not null and act accordingly, like so:

[code]

[2021-10-31 18:25] qscr commented on #61340
same issue..
please fix asap

[2021-10-31 18:28] Bes79 commented on #86497
Is any information?

[2021-10-31 18:29] stuartmorgan commented on #92792
The issue tracker is specifically for bug reports and feature request; see https://flutter.dev/community for a list of other resources where you can get help with your own code.

Closing as this is not a Flutter bug.

[2021-10-31 18:29] #92792 closed

[2021-10-31 18:29] stuartmorgan commented on #92774
The issue tracker is specifically for bug reports and feature request; see https://flutter.dev/community for a list of other resources where you can get help with your own code.

Closing as this is not a Flutter bug.

[2021-10-31 18:29] #92774 closed

[2021-10-31 18:32] stuartmorgan commented on #92766
A kernel panic triggered by a user-space process (such as Flutter) is by definition a system bug, so this should be reported to Apple.

[2021-10-31 18:32] #92766 closed

[2021-10-31 18:47] HadyMash opened #92796 "[iOS Simulator] Cannot input text into TextField using hardware keyboard"
## Steps to Reproduce

1. create a project with the code sample

2. run the app on an android emulator, web, and/or desktop and try typing in the form fields
3. run the app on an iOS simulator (i used iPhone 13 Pro running iOS 15.0) and try typing in the form fields.

*\*note i had an issue running the app on the android emulator so I ran it in my actual app using the same code*

**Expected result

[2021-10-31 19:50] alex9153 opened #92797 "Oops bug"
<img width="919" alt="Снимок экрана 2021-10-31 в 22 48 14" src="https://user-images.githubusercontent.com/353832/139599186-d3173333-8044-4911-a67f-5665c31491d0.png">

When this will be fixed ?

[2021-10-31 19:57] Pedrobertucci opened #92798 "[tool_crash] YamlException"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
YamlException
[code]
[code]

## Flutter Application Metadata
Exception: Please correct the pubspec.yaml file at /Users/pedrobertucci/development/appointment-app/pubspec.yaml

[2021-10-31 20:38] Sectur1 commented on #29021
@timsneath I am a Flutter dev for about 3 years now. I really love everything about Flutter, but I really think Flutter or (dartpad) needs something like Expo. I have apps on the Playstore, but I don't have any on the App store. The only reason being that MacBook are crazy expensive. The cheapest you can get here in Nigeria is around 250,000 NGN (610 USD). But with something like Expo, you can tes

[2021-10-31 20:44] PercyMcfly opened #92799 "fatal error: 'Flutter/Flutter.h' file not found #import <Flutter/Flutter.h> on iOS"
I used to use an older version which was before Nullsafety, until now, as it was recommended to wait for the migration until all packages I use are grated to null-safety first.

Today I decided to 'migrate' my app, but all I did was upgrade flutter to the lastest stable version, defining
`environment:
  sdk: '>=2.12.0 <3.0.0'`
in the pubspec.yaml and adding `// @dart=2.9` on top of all my dart fil

[2021-10-31 20:46] PercyMcfly commented on #92799
I hope you can read it all, I am new to this and just noticed that it's formatted really poorly.. I used the <> option to add the logs, but they seem to be added as regular text..

[2021-10-31 21:44] behzodfaiziev commented on #92797
@alex9153
Не могли бы вы предоставить более подробную информацию об этой ошибке?

[2021-10-31 21:49] behzodfaiziev commented on #92797
@alex9153
Не могли бы вы предоставить более подробную информацию об этой ошибке?
И добавьте отчет из flutter doctor -v

[2021-10-31 22:22] sgehrman commented on #63576
Critical feature.  Why hasn't this been fixed yet?

[2021-10-31 22:55] blasten commented on #29328
Refactoring the way Android plugins are included in Flutter won't provide additional benefits at the moment.
The task itself is expensive to implement. It will also increase build times, will require different code paths for local plugin development, and maintaining a service for hosting 3P maven packages.

Due to the above, this feature is out-of-scope, and unlikely to be implemented.

[2021-10-31 22:55] #29328 closed

[2021-11-01 00:00] zanderso opened #92801 "Engine -> Framework roll blocked on new Android tracing library"
Starting with the roll here: https://github.com/flutter/flutter/pull/92735

It looks like this PR is causing problems for the Engine -> Framework roll: https://github.com/flutter/engine/pull/29230

Many framework presubmit checks are failing with the error:

[code]

/cc @blasten @xster @dnfield

Unfortunately https://github.com/flutter/engine/pull/29230 does not revert cleanly. Please unblock the

[2021-11-01 00:25] dnfield commented on #92801
@blasten do we just need to update the lock files in the framework?

[2021-11-01 00:50] maks commented on #10437
Sorry @stuartmorgan my explaining of the problem was in response to @eseidelGoogle comment:

I'm not sure I agree with you on point 2 though, while it would be useful not to have this functionality duplicated across all plugins, its not _just_ plugins, there is no reason why Flutter apps cannot be using FFI directly without a plugin and hence have the same need to be notified of when a hot-restart

[2021-11-01 01:20] TennisAndy commented on #92707
Hi @danagbemava-nc, I updated to image_picker: ^0.8.4+4, but still crash. Please help to check:
`2021-11-01 09:18:00.548 32176-32176/com.fdage.turn.dual I/Flutter拦截: [onAvatarEdit]相册权限isGranted: true, isDenied: false
2021-11-01 09:18:00.573 32176-32176/com.fdage.turn.dual D/CrashReport: >>> com.fdage.turn.dual.MainActivity onPaused <<<
2021-11-01 09:18:00.574 32176-32176/com.fdage.turn.dual I/Cras

[2021-11-01 01:35] doodatales commented on #89655
This method works for me to an extent.  My site uses a parallax effect for the background.  The site renders perfectly on desktop, and using the quoted script works perfectly on ipad (chrome and safari).  However on iphone safari the page is super laggy, and on iphone chrome my background images don't render at all (only the content/text renders).

[2021-11-01 02:23] owenchenwifigarden commented on #92706
@darshankawar Hi , sorry for replying late.
[podfileAndRunVerbose.zip](https://github.com/flutter/flutter/files/7450377/podfileAndRunVerbose.zip)

Attached as podfile and fluuter run --verbose log, thanks a lot.

[2021-11-01 02:25] LienInc opened #92803 "[web] /assets/NOTICES 404 error"
## Error : /assets/NOTICES 404 error & 404 takes too long in production server, not localhost
`chrome version 95.0.4638.69`

## Steps to Reproduce

1. `> flutter build web`
2. deploy 'amplify' or 'github.io'
3. open `https://main.xxxx.amplifyapp.com/`, `xxxx.github.io` in chrome

**Expected results:**

'/assets/NOTICES' 200 status code, not 404

**Actual results:**
![image](https://user-images.git

[2021-11-01 02:33] owenchenwifigarden commented on #92706
@darshankawar Hi , sorry for replying late.

[podfileAndRunVerbose.zip](https://github.com/flutter/flutter/files/7450414/podfileAndRunVerbose.zip)

Attached as podfile and fluuter run --verbose log, thanks a lot.

[2021-11-01 02:35] Ludonope opened #92804 "Add colorblind simulation for debugging"
## Use case

When trying to create an app usable by colorblind people, it can be a bit of a struggle to know what will and will not work from a visual design perspective.

## Proposal

Add a colorblind simulation widget, also integrated to the MaterialApp widget (only active in debug maybe?).
It would work like by applying a shader (I guess?) to the child to modify the colors similarly to what thi

[2021-11-01 02:36] hello-soon opened #92805 "v2.2.3 does not has symbols"
flutter v2.2.3
1, get hash (241c87ad800beeab545ab867354d4683d5bfb6ce) from https://github.com/flutter/flutter/blob/2.2.3/bin/internal/engine.version

2, goto  https://console.cloud.google.com/storage/browser/flutter_infra/flutter/241c87ad800beeab545ab867354d4683d5bfb6ce

no symbols here
![image](https://user-images.githubusercontent.com/62131847/139613720-d219908c-d6c5-4ec1-a682-1df5f73b82b1.png)

[2021-11-01 02:53] hello-soon commented on #92805
ok, I got it.
new url:
https://console.cloud.google.com/storage/browser/flutter_infra_release/flutter

gsutil -m cp -r "gs://flutter_infra_release/flutter/241c87ad800beeab545ab867354d4683d5bfb6ce/android-arm-release"  .
gsutil -m cp -r "gs://flutter_infra_release/flutter/241c87ad800beeab545ab867354d4683d5bfb6ce/android-arm64-release"  .

[2021-11-01 02:53] #92805 closed

[2021-11-01 03:01] maks commented on #29021
[Given Expo no longer supports publishing on iOS via url and simply recommends building via their hosted service](https://docs.expo.dev/workflow/publishing/#on-ios-you-cant-share-your-published), @Sectur1 you can basically do the same thing now with Flutter and a service like [CodeMagic which also allows you to develop and publish iOS apps without a Mac.](https://codemagic.io/build-ios-without-mac

[2021-11-01 03:02] fctorial opened #92806 "Deep link support for nested navigators"
By default, in web applications, the browser url reflects the state of root `MaterialApp` navigator. What is the suggested way of dealing with deep links in applications that have nested navigators?

[2021-11-01 03:42] KevinGong2013 commented on #51890
@NickKibish  integration_test native plugin is not being correctly registered unless running tests via XCTest, like when running via `flutter drive` or `flutter test` #91668

[2021-11-01 04:52] alexmarkov commented on #92757
Looks like a CFE crash. /cc @johnniwinther

[2021-11-01 05:06] darshankawar commented on #92706
the podfile you shared doesn't seem to be correct or complete. Also the verbose log you shared shows the below error due to which it isn't running:

[code]

which is pointing to 3rd party plugin which you need to fix the error it's pointing to. Fix that and see if you still get the same error or not.

[2021-11-01 05:25] maheshmnj commented on #92621
Provided your last message I feel it's safe to close the issue.

Thanks

[2021-11-01 05:25] #92621 closed

[2021-11-01 06:01] darshankawar commented on #92718
@AviEt
I think this issue need to be reported in dedicated repo: https://github.com/flutter/flutter-intellij/issues
Closing from here.

[2021-11-01 06:01] #92718 closed

[2021-11-01 06:06] darshankawar commented on #92719
@tareq55
From your release mode's screenshot, it seems you are getting grey screen, which indicates an error in the app. Did you try to catch the error ? If you run the app in release mode in verbose, does it show any error in it ?
Check out [this](https://github.com/flutter/flutter/issues/53482) issue regarding grey screen in release mode and see if it helps to debug mode in your case.

[2021-11-01 06:08] danagbemava-nc commented on #92707
Hi @TennisAndy, I can't seem to reproduce this issue and from what I've seen, it seems to indicate an issue with the particular image you're selecting rather than the path, see this [SO](https://stackoverflow.com/a/66812986/10630669) comment.

Can you try wrapping your image picking code in a `try/catch` to see whether or not the exception is handled properly?

Thank you

[2021-11-01 06:19] owenchenwifigarden commented on #92706
@darshankawar Hi, sorry for the wrong podfile attaching.

I removed the flutter_datetime_picker library, and I still build fail, attached as the new podfile and flutter run --verbose log.

[podfileAndRunVerbose.zip](https://github.com/flutter/flutter/files/7451082/podfileAndRunVerbose.zip)

[2021-11-01 06:23] Shashwat2708 commented on #92792
@or-adar So I canged the data type for videoId from var to string and re-wrote it as

`var videoId`

and redefined the statement where I was getting an error as
`void initState() {
    super.initState();
    _controller = YoutubePlayerController(
      initialVideoId: videoId =
          YoutubePlayer.convertUrlToId(widget.youtubeLink) !,`

I think this will work if anyone else faces same issues

[2021-11-01 06:27] darshankawar commented on #92721
@XuanTung95
Check below similar issues and see if they sound same as your case:

https://github.com/flutter/flutter/issues/75099
https://github.com/flutter/flutter/issues/76525

[2021-11-01 06:29] dodatw commented on #91962
I rollback the flutter from 2.5.2 to 2.0.5 last week. (just rollback flutter, no other change)
The crash-free rate increase from 98.7% to 99.54%.

I hope someone can check this issue. We cannot always use the old version.

[2021-11-01 06:34] jiahaog commented on #92801
In case we are unable to proceed with #92800 in time, I have prepared flutter/engine#29434 as well which is a clean revert.

[2021-11-01 06:35] maks opened #92809 "beta releases should always ensure the branch point between the release and master is tagged"
I think something seems to have gone wrong with beta (channel) branch, I did this just now as I was seeing same thing with my local fvm managed install and with clean install from git, `beta` is for some reason labeled as `2.7` while master is `2.6` ?

cc @christopherfujino

[code]

and just to be sure back again to beta:
[code]

[2021-11-01 06:35] danagbemava-nc commented on #92697
@johnnypcc, does the package suit your needs?

[2021-11-01 06:36] maheshmnj commented on #92658
Yes, if the video is manually scrubbed to the end it jumps to the beginning.

Labeling this issue as a bug instead of proposal

[2021-11-01 06:36] darshankawar commented on #92727
@goodmanworld
In order to properly address this issue, we would need a complete minimal reproducible code sample without any 3rd party plugin and clear steps to replicate the issue that throws the `null` error, along with `flutter doctor -v`.

[2021-11-01 06:39] maks commented on #92809
Likewise dev seems to have a reasonable version:
[code]

I only noticed this because hot-reload for Linux desktop seemed to stop working for me on my beta and hot-restart started behaving strangely as well.

[2021-11-01 06:46] darshankawar commented on #92729
@Os-Prog
Can you provide more details as how you are calling `takePicture()` ? Do you use / call it while using the live stream ?
Also share your `flutter doctor -v` /

[2021-11-01 06:47] maheshmnj commented on #92577
however, a flutter build works while flutter run leads to this error.

@muhlba91, Probably this is not the issue you should be looking for as this describes an issue for projects using flavors, please file a separate issue describing your case with the info requested in the issue template.

Thanks

[2021-11-01 06:56] TennisAndy commented on #92707
Hi @danagbemava-nc , it should be an issue about the selecting file path, because the 2rd image from video is the same file copied from the 3th image. They are the same file but in different paths. I tried a try/catch around the code, but fail:
![image](https://user-images.githubusercontent.com/9261741/139632594-5d62231b-1aab-4189-b3e7-ac4048b8e8e5.png)
It throws exception at onActivityResult of F

[2021-11-01 07:02] darshankawar commented on #92736
@Puspharaj
It's not clear from issue description what exactly the issue you are facing. Can you elaborate ?

[2021-11-01 07:03] nokia6290 commented on #92783
When dismissing the keyboard the textField gets cleaned thus changed. Is it actually a bug?

[2021-11-01 07:04] nokia6290 commented on #92747
Use switch logic, should work

[2021-11-01 07:07] nokia6290 commented on #92667
A guess,
have you perhaps written any functions inside the build? I.e. below build line? Because every time the state changes which rebuilds the whole UI it automatically invokes the function call again and again because the state rebuilds everything.
Functions should be outisde build scope.

Just a guess but yes include more context your problem

[2021-11-01 07:08] nokia6290 commented on #92663
You can limit with your own logic.

[2021-11-01 07:10] flutter-clutter commented on #52544
All of the provided solutions here don't cover the following issues:
- When you have spread the relevant shared preferences in your native Android app across multiple resource files. Because in the native_shared_preference plugin, you can only set one (by specifying the string resource flutter_shared_pref_name).
- Does not work for iOS at all

I have raised this topic on SO: https://stackoverflow.

[2021-11-01 07:26] maheshmnj commented on #92699
@darkii321 please check if the distribution url is correct as [mentioned here](https://github.com/flutter/flutter/issues/40517#issuecomment-569887047)

[2021-11-01 07:30] danagbemava-nc commented on #92707
Thanks for confirming that it still crashes with the image picking code wrapped in a `try/catch`.

I somehow missed this from your initial comment.

Labelling for further investigation as I cannot reproduce on my end.

[2021-11-01 07:37] domesticmouse commented on #92809
/cc @csells

[2021-11-01 07:45] darshankawar commented on #92746
@SuhailAlhegry
This is a known issue at the moment and there's an open issue for tracking, https://github.com/flutter/flutter/issues/89982
Please follow-up in it for further updates.
Closing this as a duplicate.

[2021-11-01 07:51] darshankawar commented on #92747
@nero-angela
Check above comments and see if it helps to achieve your use case. Alternatively, a solution / workaround can be asked on support channels like StackOverflow.

[2021-11-01 08:00] Vadaski opened #92810 "Flutter Crashed on Android 6: [ERROR:flutter/runtime/dart_vm_data.cc(18)] VM snapshot invalid and could not be inferred from settings"
We use flutter as a module in our existed app. Recently we find our app crashed when app start, and only happened on Android 6. The crash stack look like this.
[code]

[code]

It's not easy to reproduce this crash. We try to install our app through play store, and we see this crash, it will crash when app start. But after a while it doesn't crash again. We try a lot device which system is Android

[2021-11-01 08:01] darshankawar commented on #92756
@sailingbin
This is the correct place to report this issue. Can you provide `flutter doctor -v` and any evidence of plugin unable to release the memory.

[2021-11-01 08:01] mamuseferha commented on #92608
Hi @misici234

I tested the ```didChangeAppLifecycleState``` on iOS and android and they work in the same way.  Can you confirm if this is the usecase?

<details>
<summary>code sample</summary>

[code]
</details>
<details>
<summary>flutter doctor -v</summary>

[code]
[code]

</details>

Thank you

[2021-11-01 08:09] psimondk opened #92811 "Minimize breaking changes / Backward compatibility please"
Dear Flutter Devs.

Thanks a lot for an awesome framework that has gained so much traction already.

As more and more are using this for serious work it would be very nice if breaking changes are kept at a minimum and you could introduce a good amount of backward compatibility - even when stepping up a major version.

The change to 2.x with the added null-safety was a kick in the head for our 1.x

[2021-11-01 08:09] darshankawar commented on #92757
Looks similar / related to https://github.com/flutter/flutter/issues/92679

Keeping it open for further insights from the team.

[2021-11-01 08:19] maheshmnj commented on #92768
@Tusshu  I am not sure How `FocusableActionDetector` is related to your use case can you please explain?

[2021-11-01 08:27] venzeo commented on #88775
Patch code suggested by @carman247 works.
Tested on Huawei Y7 running Android 8, and NO issues found on devices Pixel 2, Pixel 4, Moto G5 and few more.

Can somebody ( @TahaTesser  ) add this patch into main version of the camera plugin?

[2021-11-01 08:29] maheshmnj commented on #92730
Hi @asmengistu, Thanks for filing the issue, Please share the output of `flutter doctor -v`, I verified the code sample and I was able to scroll the listview on windows and mac. I believe you are trying to drag and scroll, if that's the case,
then please note that

 Since `v2.3.0-12.0.pre` and above drag and scroll is disabled by default on Platforms with PointerDevices (e.g mouse), This behavior

[2021-11-01 08:33] fayfive opened #92814 "ubuntu Check failed: gl_version_string The GL proc resolver's glGetString(GL_VERSION) failed"
I started the app with `flutter create myapp --platforms=linux`.
When I run it `flutter run --verbose`, it shows that

[code]
My graphics card is nvidia GT730(too old).
Flutter version is 2.5.3
Any suggestions?

[2021-11-01 08:37] maheshmnj commented on #92777
Hi @Agondev, Thanks for filing the issue.

@or-adar  is right you should either provide a size or a child.

[code]

[2021-11-01 08:38] maheshmnj commented on #92777
Heres a duplicate (closed) issue https://github.com/flutter/flutter/issues/47617

[2021-11-01 08:39] mamuseferha commented on #92788
Hi @mevos19, thanks for filing the issue.

Please provide a complete minimal reproducible code sample, output of ```flutter doctor -v ```and which version of ```google_maps_flutter_web``` you're using.

Thank you

[2021-11-01 08:44] darshankawar commented on #92769
@mikron123
Could be that IAP store isn't available and could be a server thing ? There's not enough information to make this actionable. Please provide more details so that we can gauge if this is plugin issue or not.

[2021-11-01 08:45] MasahideMori-SimpleAppli commented on #92655
I'm not sure if this information is useful, but this issue didn't occur "Flutter version < 2.0.0".
My older projects, when Flutter Web was in beta support, are working fine.
Also, this version of the project does not have any issues with WebGL 2.0 on iOS.
The SDK version listed in the pubspeck.lock file of this project is as follows.

sdks:
dart: "> = 2.12.0-0.0 <3.0.0"
flutter: "> = 1.24.0-6.0.pr

[2021-11-01 08:49] danagbemava-nc commented on #92773
@Agondev, can you share the assertion message that you got initially?

[2021-11-01 08:49] darshankawar commented on #92770
@demetrio812
Please check if [this](https://github.com/flutter/flutter/issues/85313) issue sounds similar to yours.

[2021-11-01 08:50] mevos19 commented on #92788
Hi @mamuseferha  thanks

➜  ~ flutter doctor -v
[✓] Flutter (Channel stable, 2.5.1, on macOS 11.6.1 20G214 darwin-x64, locale en)
    • Flutter version 2.5.1 at /Users/simo/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision ffb2ecea52 (6 weeks ago), 2021-09-17 15:26:33 -0400
    • Engine revision b3af521a05
    • Dart version 2.14.2

[✓] Android toolc

[2021-11-01 08:52] danagbemava-nc commented on #92798
Hi @Pedrobertucci, can you please share your `pubspec.yaml`?

[2021-11-01 08:52] lanqianbi opened #92815 "Windows 7 SP1 x64 system runs Flutter packaged desktop program black screen"
Flutter 2.5.3, the exe application built with the flutter build windows command runs with a black screen under Windows 7 SP1 x64, and it runs normally under Windows 10. What is the reason?

[2021-11-01 08:52] danagbemava-nc commented on #92761
Hi @tvc18,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2021-11-01 08:52] #92761 closed

[2021-11-01 08:53] PercyMcfly opened #92816 "Flutter in_app_purchase get applicationUsername/developerPayload from PurchaseDetails"
I used to use an older version of the in_app_purchase package, where you could access the applicationUsername(iOS) or developerPayload(android) as follows:

    _applicationUsername = purchase.skPaymentTransaction.payment.applicationUsername
    _developerPayload = purchase.billingClientPurchase.developerPayload

Where purchase is a PurchaseDetails.
I used to add the 'applicationUsername' or 'deve

[2021-11-01 09:02] mamuseferha commented on #92767
Hi @gau187

Thank you for filing this issue, I tested on the latest stable and master channel with ```
shared_preferences: ^2.0.8```  and the issue is not reproducible. Can you please upgrade your flutter to the latest stable channel: flutter  `2.5.3` and ```
shared_preferences: ^2.0.8``` and test again if the issue persists?

<details>
<summary>code sample</summary>

[code]
</details>
<details>
<

[2021-11-01 09:05] tongyangsheng opened #92817 "Does the replacement of the rendering API on iOS really improve the performance of the Flutter APP?"
Hello～
According to the update report of flutter 1.17, after version 1.17, most iOS devices will use Metal as the default rendering API. At the same time, it also emphasizes that the improvement of rendering performance brought by this point is theoretically no problem. But according to my actual test, on the flutter 1.22.6 version, when it is installed for the first time, the Raster thread takes

[2021-11-01 09:13] danagbemava-nc commented on #92797
@alex9153, can you please provide steps to reproduce and the output of `flutter doctor -v`?

Thank you

[2021-11-01 09:17] Boogie1989 commented on #91685
@maheshmnj On Android, I have the same behavior.

[2021-11-01 09:17] mamuseferha commented on #92789
Hi @XAbirHasan Can you please provide the exact issue you have with hot restart, a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example), and ```flutter doctor -v```.

[2021-11-01 09:19] Amir-P commented on #39755
2021 is about to end and it's been open since 2019. Seems like Flutter's non-English community is so small since it only got 6 thumbs up in more than 2 years and has been inactive in a year!

Can any of Flutter's contributors define a clear path on possible solutions to fixing this issue? I'm willing to start working on it but I'm not familiar with Flutter's huge codebase and this issue seems to b

[2021-11-01 09:25] gau187 commented on #92767
@mamuseferha Try setting null values in the list and the put-in sharedpreferences
`list = ["hi", null,"test"]
sharedPreference.setStringList(list);`

Something like this

[2021-11-01 09:25] darshankawar commented on #92779
@ClevercodeTech
Can you provide `flutter doctor -v`, a minimal code sample ? Is this on Android or iOS ?
Also, do you mean that `queryPastPurchases()` returns an empty list ?
Are all transactions completed using `completePurchase()` ?

[2021-11-01 09:28] jpnurmi opened #92818 "ARB files with 3-letter language codes"
`gen-l10n` does not accept `.arb` files with 3-letter (alpha3-b and alpha3-t) language codes.

In [ubuntu-desktop-installer](https://github.com/canonical/ubuntu-desktop-installer), we would like to include languages such as "ast" and "szl". For reference, here's the full list of languages supported by the old Ubiquity installer: https://git.launchpad.net/ubiquity/tree/d-i/source/localechooser/lang

[2021-11-01 09:33] mamuseferha commented on #92810
Hi @Vadaski , you seem to be using an old version of flutter ```1.20.4```,  can you please upgrade to the latest flutter stable channel ```2.5.3``` and try again? Let me know if this works for you.

[2021-11-01 09:34] darshankawar commented on #92787
@KristianBalaj
Does using `ignoring` parameter help to achieve it ?

`ignoring -> takes bool value and decides whether to ignore pointer event or not`

[2021-11-01 09:38] Agondev commented on #92777
I understand the cause, just saying either the docs could be worded better or the Size object should be inaccessible or throw in case of using no child for a stronger static typing experience. Preferably the latter.

[2021-11-01 09:42] darshankawar commented on #92790
@walidalyosef
It could be due to the network you are using and could be a regional issue. I think you'll need to use another IP or switch to VPN or other settings and see if it helps.

Also, it seems you are using `snap` to install flutter which is 3rd party. Can you directly try to install without it as mentioned in the document and try again ?

[2021-11-01 09:44] ClevercodeTech commented on #92779
Below is the sample i was usuing in previous versions. Seems like queryPastPurchases() is not supported anymore.
This is code is used for android and ios.
[code]
`

[2021-11-01 09:46] maheshmnj commented on #92741
Hi @rk0cc, thanks for filing the issue. I verified on the stable 2.5.3 and I could not reproduce the error
`losing connection to device`, Are there any reproducible steps? or does this happen occasionally?

<details>
<summary>flutter doctor -v</summary>

[code]
</details>

Thanks

[2021-11-01 09:48] Tom3652 commented on #62107
In the meantime i am using the following workaround :

[code]

Fortunately you can set the maximum cache size in bytes that you want to keep in memory at any time.
This has the desired effect.

[2021-11-01 09:56] darshankawar commented on #92750
@ChoiKarl
Thanks for the report. Can you provide us a complete minimal reproducible code sample that we can directly use to verify this ?

[2021-11-01 09:57] mamuseferha commented on #92767
@gau187 You cannot add null to the list, ```setStringList``` does not accept nullable list of strings as a parameter so the code does not compile.

```List<String>```  ✅
```List<String?>```  ❌

<img width="1027" alt="Screen Shot 2021-11-01 at 10 50 04 AM" src="https://user-images.githubusercontent.com/92717368/139654257-2bf0cf4c-bde4-4bdd-b51a-6c454478f3d5.png">

[2021-11-01 09:59] danagbemava-nc commented on #92762
Reproducible on `stable` and `master`.

Similar to https://github.com/flutter/flutter/issues/61544.
This could be an issue with the emulator hardware as the "selfie" camera works with the same code.

Camera version:
`camera: ^0.9.4+3`

<details>
<summary>emulator info</summary>

[code]
</details>

<details>
<summary>logs</summary>

[code]
</details>

<details>
<summary>flutter doctor -v</summary>

[2021-11-01 09:59] gau187 commented on #92767
@mamuseferha Ok, but the same works on android, maybe because of my lower version of flutter

[2021-11-01 10:00] danagbemava-nc commented on #92762
@proninyaroslav, do you only experience this with an `android 12` emulator?

[2021-11-01 10:01] proninyaroslav commented on #92762
@danagbemava-nc
I don't have a real Android 12 device, so I can't check this.

[2021-11-01 10:03] danagbemava-nc commented on #92762
@proninyaroslav
I was asking if you experienced this with only the android 12 emulator or other emulators as well

[2021-11-01 10:05] proninyaroslav commented on #92762
@danagbemava-nc
Other emulators are working fine, so I pointed out that the problem only with Android 12

[2021-11-01 10:05] maheshmnj commented on #92777
Labeling for better docs for the `Size` object of custom paint.

[2021-11-01 10:06] #92811 closed

[2021-11-01 10:06] Agondev commented on #92773
<details>
  <summary>Minimal reproduction error</summary>

[code]

</details>

@danagbemava-nc in this minimual reproduction there's an error that's missing when hovering over the dropdown.

Here it is with the onHover error (using Win11):

<details>
  <summary>Non minimal reproduction error</summary>

[code]
</details>

[2021-11-01 10:16] walidalyosef commented on #92790
Thanks, you are right. It is working now without any change. It considered connection speed too.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: darshankawar ***@***.***>
Sent: Monday, November 1, 2021 11:42:31 AM
To: flutter/flutter ***@***.***>
Cc: walid ***@***.***>; Mention ***@***.***>
Subject: Re: [flutter/flutter] Flutter upgrade (Issue #92790)

@wali

[2021-11-01 10:22] darshankawar commented on #92799
@PercyMcfly
From you verbose log, it's failing due to below error:
[code]
Can you confirm if ` /Volumes/BeratExterne/flutter/.pub-cache/hosted/pub.dartlang.org/url_launcher-6.0.12/ios/Classes/FLTURLLauncherPlugin.h` file does exist ?

Also, after you upgrade / migrated, did you try `flutter pub cache repair` ? if not, can you try that and see if it helps?
Also, provide your `ios/podfile` .

[2021-11-01 10:27] a313 commented on #87809
Did it fixed on flutter version 2.5.3?
I will confirm in next release

[2021-11-01 10:34] Os-Prog commented on #92729
Yes, I'm calling the function while live streaming,

and this is my flutter doctor -v result:

[✓] Flutter (Channel stable, 2.5.3, on macOS 11.5 20G71 darwin-arm, locale
    en-US)
    • Flutter version 2.5.3 at /Users/osprog/development/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 18116933e7 (2 weeks ago), 2021-10-15 10:46:35 -0700
    • Engine

[2021-11-01 10:35] carson2440 opened #92821 "Image picker when using multiple pictures, you can add the parameters to specify the maximum number of pictures can be selected。"
## Use case

## Proposal

[2021-11-01 10:35] danagbemava-nc commented on #92796
Issue is reproducible on `master` but not on `stable`.
See attached videos

<details>
<summary> videos</summary>

`stable`

https://user-images.githubusercontent.com/88313112/139657668-4f5b8856-f961-44f1-bcf7-3c77ac921e49.mp4

`master`
[Screen Recording 2021-11-01 at 10.21.01.zip](https://github.com/flutter/flutter/files/7452458/Screen.Recording.2021-11-01.at.10.21.01.zip)

</details>

<details>
<

[2021-11-01 10:39] mevos19 commented on #92788
I create a basic code and still the same result also I recorded the result:
[Result](https://drive.google.com/file/d/1EpDjasSqCT9fZETCPFDbGHNufWovv6s7/view)

[2021-11-01 10:46] mamuseferha commented on #92821
Hi @carson2440, can you please provide more information on the issue you have with `image picker` plugin? Also,
can you please provide your `flutter doctor -v` and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)?
Thank you

[2021-11-01 11:10] HadyMash commented on #92796
I also forgot to add that I cannot show the software keyboard.

@danagbemava-nc I thought I'd let you know the recording for master is a zip file and not an mp4.

[2021-11-01 11:16] maheshmnj commented on #92791
Hi @lupiter-dev, Thanks for filing the issue. I am not sure without any reproducible steps how can we find the root cause of the issue.

I believe you are able to reproduce the error 100% of the time on iPhone 8, if that's the case I believe you can create a minimal reproducible code sample by redacting the unnecessary piece of code which should result in  [minimal and complete reproducible code](

[2021-11-01 11:17] ScottishRoss commented on #92730
I reported this issue initially, so I'll add some more information:

Device: Microsoft SurfaceBook 2
Browser: Edge and Chrome

Trackpad does not work for scrolling, but touchscreen does in the above DartPad.

[2021-11-01 11:20] Terranic commented on #86621
I can also confirm running into that problem with Flutter 2.5.3 and Chrome - Android emulation works fine

` Running with sound null safety
Debug service listening on ws://127.0.0.1:61980/DZKgesn4nCI=/ws
TypeError: recognitionResult[$item] is not a function
    at speech_to_text_web.SpeechToTextPlugin.new.[_onResult] (http://localhost:61938/packages/speech_to_text/speech_to_text_web.dart.lib.js:17

[2021-11-01 11:27] maheshmnj commented on #92803
Hi @LienInc, Thanks for filing the issue. What exactly is `/assets/NOTICES`. Can you please share minimal and complete project to reproduce the issue?

Does it work when running locally in release moe `flutter run -d chrome --release`?

Thanks

[2021-11-01 11:33] KristianBalaj commented on #92787
Yup the parameter will help to achieve it.
As you can see in the custom Snackbar there is only IgnorePointer widget as a parent in the return.
The ignoring parameter could be simply passed to this widget.

Also, in case there are buttons in the snackbar the ignoring parameter should not be possible to be true - there should be some assert.

[2021-11-01 11:39] PercyMcfly commented on #92799
@darshankawar
Yes, the file exists. I get the error for a different package every time.

I hadn't tried `flutter out cache repair` yet, but just tried it now and it did throw the same error:

<details>
<summary>fatal error: 'Flutter/Flutter.h' file not found</summary>

[code]
</details>

the following is my ios/podfile:

<details>
<summary>Podfile</summary>

[code]
</details>

I also tried a solut

[2021-11-01 11:48] rk0cc commented on #92741
I don't sure it's related to [wrapping multiple `MaterialApp` in `FutureBuilder.build` with different `snapshot` status](https://stackoverflow.com/a/66518632/10517967) or Windows 11. And I reinstall Windows but never try to execute again.

[2021-11-01 11:50] nt4f04uNd commented on #90407
Wanted to add another use case aside those mentioned in the doc. I'm writing a plugin that exposes ContentProvider/ContentResolver APIs on Android and I'm trying to port the Cursor.

The way cursors work on Android is that their user is not aware of the exact backend behind them and only calls methods that return values from columns. That makes it impossible to fully port them into dart, leaving w

[2021-11-01 11:54] realchenzhi commented on #92252
@chunfengyao we solve it by use aar dependencies on jenkins. but it is not the best the way beacuse need to avoid multiple aar build togather.

[2021-11-01 12:03] Magadya commented on #92414
Hello again, I understand the first permission issue, but what about the second error related to the selected button?

*can not upload a file, the "Select file" button does not work
Check please videos.
Thanks!
https://user-images.githubusercontent.com/52001214/138692583-99eaf4a9-8fb8-4975-97d9-e96d12d71939.mp4
*

[2021-11-01 12:18] johnniwinther commented on #92679
cc @jensjoha

[2021-11-01 12:21] realchenzhi commented on #92252
build flutter aar spend 3~4 min, and many times aar not request update.

[2021-11-01 12:23] ManoVikram opened #92824 "Execution failed for task ':app:compileFlutterBuildDebug'."
When I run my app, I get this error - `flutter run`
[code]
When I run 'flutter run -v',  I get this
[code]

I have tried most of the solutions for this on StackOverflow and GitHub issues but none worked out.

What could be the reason for this? Should I delete or install or upgrade anything?

[2021-11-01 12:40] maheshmnj commented on #92782
Hi @Mayank-9018,  thanks for filing the issue I was able to reproduce the issue on the latest stable 2.5.3 and the
`master 2.6.0-12.0.pre.536` channel. This issue is specific to Android 12.

<details>
<summary>flutter doctor -v</summary>

[code]

[code]
</details>

<details>
<summary>logs</summary>

[code]
</details>

[2021-11-01 12:43] danagbemava-nc commented on #92414
Kindly see https://github.com/flutter/flutter/issues/27924 for more information on that.

[2021-11-01 12:49] danagbemava-nc commented on #92796
I zipped it because github didn't allow the video to be uploaded in its actual format.

Do you get any errors in your console?

[2021-11-01 12:52] benyaminbeyzaie opened #92825 "Camera problem when app was in background and started again"
I have a app that has a camera preview on the home page and use camera ^0.9.4+1 for that like this:
[code]
and I get this error for example when app is running but user turns off the screen for few seconds and turned back on after a while:
[code]

then the camera preview freezes and I must restart the app...

[2021-11-01 12:52] rav3r commented on #90787
@BlakeWuh Do you still experience this bug after the upgrade? Looks like I have the same problem on flutter v2.5.2

[2021-11-01 12:53] benyaminbeyzaie commented on #92825
[code]

[2021-11-01 12:53] danagbemava-nc commented on #92762
I wanted to be certain because I can reproduce on an emulator with API 29.

[2021-11-01 12:57] darshankawar commented on #92806
@fctorial
Check this similar open issue and see if it helps to answer your question. Also check [this](https://github.com/flutter/flutter/issues/26184#issuecomment-668880405) issue comment from same for further updates.

[2021-11-01 13:06] tomgilder commented on #74990
@StefPtrs we're still seeing this with the standard template with 2.5.2 on a Nokia 6 😢

[2021-11-01 13:10] maheshmnj commented on #92783
Hi @Mayank-9018, thanks for filing the issue I was able to replicate the behaviour on `stable 2.5.3`  and the master channel `2.6.0-12.0.pre.536`. On closing the keyboard by pressing the back button `onChanged` is triggered, This can be reproduced with a non-empty textfield.

<details>
<summary>flutter doctor -v</summary>

[code]

[code]
</details>

cc: @justinmc

[2021-11-01 13:14] darshankawar commented on #92816
@PercyMcfly
Can you provide `flutter doctor -v` along with older version of the plugin you used along with current plugin version ?
Thanks.

[2021-11-01 13:18] danagbemava-nc commented on #92655
@MasahideMori-SimpleAppli, thanks for the info.
Will have to do some more investigation with lower sdk versions to confirm the regression

[2021-11-01 13:19] darshankawar commented on #92817
@tongyangsheng This is an obsolete version of the framework. When Flutter released 2.0, there were lot of performance improvements and fixes, so I encourage you to upgrade to latest stable version and try out your use case on it and see what you get. You can read more about Flutter 2.0 release here and see if it helps to answer your questions : https://medium.com/flutter/whats-new-in-flutter-2-0-f

[2021-11-01 13:24] darshankawar commented on #92790
Closing as resolved based on above comment.

[2021-11-01 13:24] #92790 closed

[2021-11-01 13:31] danagbemava-nc commented on #92818
Issue is reproducible on `stable` and `master`.

<details>
<summary>logs</summary>

[code]

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

[code]
</details>

[2021-11-01 13:31] nero-angela commented on #92747
@darshankawar
Thanks for your reply. However, the function I want is to use a font suitable for each language when multiple languages are used in one text widget.

If the language to be used for the text widget is determined in advance, it can be implemented using an if statement like the [link](https://medium.com/saugo360/flutter-different-fonts-for-different-locales-d190a89b58c), but if the user

[2021-11-01 13:33] maheshmnj commented on #92741
@rk0cc,  Can you please share a minimal reproducible code for us to take a look?

[2021-11-01 13:36] danagbemava-nc commented on #92824
Hi @ManoVikram, thanks for filing the issue.

Do you experience this issue with the default `flutter create` app?

Can you also provide your `pubspec.yaml` and output of `flutter doctor -v`?

Thank you

[2021-11-01 13:38] HadyMash commented on #92796
@danagbemava-nc I don't get any errors. When recording the video I just found out it works when the hardware keyboard isn't connected. When I disconnect the hardware keyboard the software keyboard shows up with no problems. It's only when I have the hardware keyboard connected that I can't show the software keyboard.

https://user-images.githubusercontent.com/63734405/139680232-e12609b6-8466-4945-

[2021-11-01 13:47] maheshmnj commented on #92759
Hi @RoarGronmo, This doesn't look like flutter specific issue but rather the flutter plugin for Android Studio, I would advise you to please file the issue in the dedicated repo https://github.com/flutter/flutter-intellij.
Closing, as this isn't an issue with flutter. If you disagree feel free to write in the comments and I will reopen it.

Thank you.

[2021-11-01 13:47] #92759 closed

[2021-11-01 13:48] juliansteenbakker opened #92826 "[webview_flutter][android] builds with deprecation warnings"
When building the latest version of webview_flutter (2.1.2 and 2.2.0 via Github) i get the following warnings:

<details>
  <summary>Log file</summary>

[code]
</details>

Since these functions are only used by old API devices, and new functions have been implemented and annoted for newer Android API's I think it's save to annotate these with `@SuppressWarnings("deprecation")`.

<details>
  <summa

[2021-11-01 13:48] johnnypcc commented on #92697
I think so.

[2021-11-01 13:52] danagbemava-nc commented on #92825
Hi @benyaminbeyzaie, there's a new version of the `camera` plugin out, can you try upgrading to the latest version to see whether or not you still experience this issue?

Also, what device(s) are you experiencing this issue with?

Thank you

[2021-11-01 14:08] ManoVikram commented on #92824
Actually, I reinstalled my OS(Ubuntu 20.04). So, I got to install Flutter and Android Studio freshly. And then is when this issue appeared. It was working flawlessly before I reinstalled my OS.

I work with Flutter beta.

Here is `pubspec.yaml`
[code]

And here is `flutter doctor -v`
[code]

[2021-11-01 14:14] rk0cc commented on #92741
Like this:

[code]

It is more complicated which included various of `Widget`, especially more `FutureBuilder` when returning `MaterialApp` from `snapshot.hasData`.

[2021-11-01 14:16] danagbemava-nc commented on #92824
What version of `flutter_beta` were you on before you reinstalled your os?

[2021-11-01 14:17] maheshmnj commented on #92785
@Mijawel  Thanks for filing the issue. I am able to reproduce the issue on the stable and the master channel. The build fails with permission error, probably the error is misleading. I tried creating project in different locations it fails with same error.

Heres the [log file](https://github.com/flutter/flutter/files/7453825/log.txt) generated by runnning

[code]

<details>
<summary>flutter docto

[2021-11-01 14:18] KartikShrivastava commented on #25652
Scroll bar is also re-sizing and shifting position while scrolling for me. Does anyone found a fix or workaround?

[2021-11-01 14:24] maheshmnj commented on #92785
cc: @jmagman

[2021-11-01 14:30] benyaminbeyzaie commented on #92825
Yes I still have the problem I use Samsung A50 with android 11

[2021-11-01 14:31] ManoVikram commented on #92824
I was on Flutter 2.7 before reinstalling the OS.

[2021-11-01 14:33] ManoVikram commented on #92824
@danagbemava-nc I just created a completely new Flutter project. When I run that, I am getting this error
[code]

[2021-11-01 14:36] asgerius opened #92827 "Exception when navigating and hero widget not initialized"
This issue relates to hero widgets. In the reproduction sample, I have put three blocks on top of each other, all of which are Heros that are kept throughout the three pages in the app. However, the middle block is only put into the widget tree after two seconds. If the user navigates further before this happens, the block animations get messed up.

## Steps to Reproduce

1. Execute `flutter run`

[2021-11-01 14:43] jgfoster opened #92897 "Hero class demo doesn't work"
### Page URL

https://api.flutter.dev/flutter/widgets/Hero-class.html#widgets.Hero.1

### Page source

https://github.com/flutter/flutter/blob/18116933e7/packages/flutter/lib/src/widgets/heroes.dart#L206

### Describe the problem

[code]
### Expected fix

Clicking the Run button should not produce a console error.

### Additional context

_No response_

[2021-11-01 14:54] proninyaroslav commented on #92762
@danagbemava-nc
I tested the behavior on API 29, everything is ok

[2021-11-01 15:02] godofredoc commented on #92728
Phone never completed collecting logcat. Factory resetting the phone and re-provisioning it fixe the problem.

[2021-11-01 15:11] luckysmg opened #92829 "Build flutter engine and raise some Null safety errors in dart files"
Raise some errors in dart releated to null safety...
I have use `glicent sync` to sync all resource

Here is some logs

## Logs

<details>
<summary>Logs</summary>

[code]
</details>

[2021-11-01 15:12] tomosullivan8 opened #92830 "[animation] SharedAxisTransition throws error on Flutter web"
## Steps to Reproduce

I've used Flutter Upgrade to get the below (Flutter Doctor output) version of Flutter, and I have the issue where an exception is thown when using SharedAxisTransition to animate between widgets.

**Expected results:**

To see the animation from Widget A to Widget B.

**Actual results:**

Error message appears, and app crashes.

[code]

<details>
<summary>Code sample</summar

[2021-11-01 15:17] CavalcanteLeo commented on #57609
Seems flutter want to remove all smoothness of the iOS.
A lot of shader jank, weird keyboard behavior.

[2021-11-01 15:20] Doppelklick commented on #86707
same issue with XIAOMI Redmi Note 7.

For me it's not device specific.

[2021-11-01 15:22] zanderso commented on #92801
I think if https://github.com/flutter/engine/pull/29230 will break end-users, then we should revert and create a migration plan first. If it is not a breaking change, then we should land https://github.com/flutter/flutter/pull/92800.

[2021-11-01 15:25] jacob314 commented on #92764
Fyi @kenzieschmoll. It would be interesting to have DevTools integration for this as well.  The open question I have is how much of a SKIA expert you need to be to learn something meaningful from the SKP files. For example, is it reasonable to expect fairly advanced but not SKIA expert users to be able to debug the SKP and identify unneeded or expensive work?

[2021-11-01 15:26] rukhiddinov2102 opened #92831 "[tool_crash] _CastError: (#0 FlutterManifest._extractFonts (package:flutter_tools/src/flutter_manifest.dart:360:38))"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
_CastError: (#0      FlutterManifest._extractFonts (package:flutter_tools/src/flutter_manifest.dart:360:38))
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Cr

[2021-11-01 15:36] mdebbar commented on #77714
I'm unable to reproduce this issue in Firefox on Mac. Is this still happening? Or am I misunderstanding the issue?

[2021-11-01 15:40] ChoiKarl commented on #92750
@darshankawar It's in a production, and I can't reproduce it, but a lot of users crash because of it.

[2021-11-01 15:42] desmeit opened #92832 "Prevent short blink during authentification with firebase"
Users have to sign in for using my app and will then be signed in automatically, like this:

[code]

This works very well, there is only one problem: While checking if firebaseUser is null or not, WalkThroughScreen(); is displayed very briefly (for a few milliseconds).

How can this be prevented? As I have read it is not possibnle to hide or show the splash screen manually.

[2021-11-01 15:44] godofredoc opened #92833 "Mac-5 is in a bad state failing all the tasks"
All the tasks running on mac-5 are failing with infrastructure failures without any logs.

[2021-11-01 15:50] dnfield commented on #92764
Debugger.skia.org is helpful there but it might be possible for tooling to look at the skp and list expensive operations, at the very least repeated calls to saveLayer

[2021-11-01 15:53] godofredoc opened #92834 "Mac salt states are broken"
[code]

[2021-11-01 15:54] goderbauer commented on #92764
An option to only capture them for frames taking longer than x would be important. Currently looking at a trace where most frames are over budget and I only want to capture the outlier.

[2021-11-01 15:55] goderbauer commented on #92764
It should also be accessible via the regular flutter tool from the command line.

[2021-11-01 16:00] fluttergithubbot opened #92836 "Linux_android image_list_jit_reported_duration is 2.75% flaky"
The post-submit test builder `Linux_android image_list_jit_reported_duration` had a flaky ratio 2.75% for the past 15 days, which is above our 2.00% threshold.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/prod/Linux_android%20image_list_jit_reported_duration/829,%20830
Commit: https://github.com/flutter/flutter/commit/4de0ae470dfa1ebff380378a9d704f5aed

[2021-11-01 16:00] CaseyHillers commented on #92611
The last known good version had a lot of errors, and this functionality appears to have a smaller use (<5 errors a day). I would prefer to wait for the PR by EOD, otherwise I can do the revert.

[2021-11-01 16:01] DesmondFox commented on #55323
any updates?

[2021-11-01 16:01] godofredoc opened #92838 "Mac_staging plugin_test_ios not passing $flutter/devicelab_osx_sdk property"
Example:
https://ci.chromium.org/p/flutter/builders/staging/Mac_staging%20plugin_test_ios/685

[2021-11-01 16:06] ManoVikram commented on #92824
Hey, from `flutter doctor -v`, I found that my Android SDK Version is 31, but in `build.gradle` file the `compileSdkVersion` was set to 29. So, I changed that in the test dummy Flutter project I created and it ran perfectly. But, the original Flutter project is still throwing error. Now, this error
[code]

[2021-11-01 16:08] jmagman commented on #66104
I would still like it.

[2021-11-01 16:08] #36837 closed

[2021-11-01 16:16] jmagman commented on #92577
@wim07101993 sorry I missed that, thanks.

[2021-11-01 16:17] chaselatta commented on #91049
This problem has been resolved with https://dart-review.googlesource.com/c/sdk/+/218087.

[2021-11-01 16:17] #91049 closed

[2021-11-01 16:24] goderbauer commented on #92764
Alternatively, instead of making people look inside the SKP for expensive calls like saveLayer, maybe we can expose them directly in the timeline trace.

[2021-11-01 16:26] keyonghan commented on #92836
Most failures happened on linux4, whose phone was not in a good state last week. Closing here as this doesn't reflect the real test flake.

[2021-11-01 16:26] #92836 closed

[2021-11-01 16:29] jmagman commented on #92785
Your `--split-debug-info` path isn't valid.  I expect you meant `--split-debug-info=/Users/mweiner/Documents/FlutterProjects/flutter_app_delete/debug_info`
[code]

[2021-11-01 16:29] #92785 closed

[2021-11-01 16:30] dnfield opened #92840 "Add tracing for saveLayer calls"
We should expose when Canvas::saveLayer gets called in traces.

_Originally posted by @goderbauer in https://github.com/flutter/flutter/issues/92764#issuecomment-956381409_

[2021-11-01 16:31] dnfield opened #92841 "ui.Paint._data should be lazily initialized, and should only be accessed if needed"
There are multiple canvas calls that pass in the `paint._data` but don't actually need it. If we made it `late final` it would be lazy, and we should remove those call sites. This should save memory.

[2021-11-01 16:34] keyonghan commented on #92430
Another PR was created: https://github.com/flutter/flutter/pull/92835

[2021-11-01 16:35] CaseyHillers opened #92842 "[release_dashboard] Read conductor version"
Currently it returns `local`. We'll need a way to plumb it through to the Flutter app.

[2021-11-01 16:36] zanderso commented on #92801
@blasten Looks like a lock file might have been missed: https://ci.chromium.org/ui/p/flutter/builders/prod/Linux_android%20new_gallery__crane_perf/835/overview

[2021-11-01 16:37] ditman commented on #88465
@nwparker yes, we can force File Selector and other plugins to pick a newer (non buggy) version of cross_file. However, pub should be able to resolve 0.3.2 from a dependency written as ^0.3.0.

If apps are not picking up the latest version of the library (check your pubspec.lock file to see exactly what version is being used), I'd recommend doing `flutter pub upgrade` so pub ignores the lock file

[2021-11-01 16:39] zanderso commented on #92801
Also https://ci.chromium.org/ui/p/flutter/builders/prod/Mac_android%20new_gallery__transition_perf/2943/overview

[2021-11-01 16:47] dnfield commented on #92764
Agreed on the saveLayer tracing. I think I can add that quickly today.

The SKP dumping is still probably helpful, although I guess it's not clear on how much it's helpful for Flutter engine/framework/Skia developers rather than application developers...

[2021-11-01 16:50] keyonghan opened #92843 "Mark `avd setup` as infra step for `Linux android views`"
Example: https://ci.chromium.org/ui/p/flutter/builders/try/Linux%20android%20views/1740/overview

An infra step should be marked to surface as infra failure.

[2021-11-01 17:05] jmagman commented on #92577
Your app builds from `flutter`, Xcode, and when I use a configuration from your app (`Alpha` doesn't seem to be a thing?) it also builds:
[code]
Can you confirm this builds when you choose a configuration that exists in your project?

[2021-11-01 17:08] tomosullivan8 commented on #92830
To confirm, the issue has gone when changing to channel stable, 2.5.3. I'll close, although appreciated if this could be investigated.

[2021-11-01 17:17] fayfive opened #92845 "Can I setup environment with cmd like linux, or any methods, when I develop the windows desktop app?"
I don't want to install visual studio to build windows desktop app.
Can I setup environment with cmd like linux, or any methods?

[2021-11-01 17:18] christopherfujino commented on #92809
This was not intentional, but fallout from two things:

1. A quirk in the way the Flutter CLI tool calculates the version on the `master` channel (it only looks at version tags that are on direct ancestors); and
2. The fact that the last beta release was not based on a dev release.

To fix this, I will update the flutter conductor release tool to always tag the branch point when publishing a new r

[2021-11-01 17:27] justinmc commented on #82321
With https://github.com/flutter/flutter/pull/90157, you'll be able to set the alignment of the floating label.  This could help adjust the position to a place that doesn't overlap with the curvature of the border.

Currently the PR only allows centering, but we could make it allow arbitrary positions.  Would that help solve the problem?

Here's how this rounded border looks like with a centered la

[2021-11-01 17:32] mat100payette commented on #82321
No, that would not.

[2021-11-01 17:32] chinmaygarde commented on #92018
Closing this as this was an unreliable indicator and one that has gone back to zero.

[2021-11-01 17:32] #92018 closed

[2021-11-01 17:34] #92603 closed

[2021-11-01 17:35] PercyMcfly commented on #92816
<details>
<summary>flutter doctor -v</summary>

[code]
</details>

The version of in_app_purchase I used before was `^0.3.5+1`, a very old version.
I updated to the newest version: `^1.0.9`.

The only problem I have is that I can't find a way to access the applicationUsername/developerPayload with recent versions of in_app_puchase, but I need the newer versions because on android I need to use the

[2021-11-01 17:36] dharanidharandharmasivam opened #92848 "Default web app not working while hosting in IIS"
I have created the default Flutter application and using ``flutter build web --release`` I have created a release build and hosted in IIS, but the app is not running in the web. But when I ran the same with `flutter run -d chrome`, the app is running fine. I have shared the console error below,

![image](https://user-images.githubusercontent.com/19346074/139713764-6851f1a8-0adf-4a8d-9b9a-2f6aa88e2

[2021-11-01 17:43] LoadJulz commented on #42367
Same issue. Anyone has a solution? It just randomly appeared for me

[2021-11-01 17:45] CaseyHillers commented on #91048
This is working now - https://ci.chromium.org/p/flutter/g/packages/console

[2021-11-01 17:45] #91048 closed

[2021-11-01 17:45] chinmaygarde commented on #88717
From Triage: Having the Android lint rule is proving to be more trouble than it is worth and making it not hit the network is harder than expected. We should get rid of the lint step if we have to hit the network.

[2021-11-01 17:45] #92132 closed

[2021-11-01 17:47] #92801 closed

[2021-11-01 17:47] christopherfujino commented on #30981
This is the source code for `flutter create` https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/commands/create.dart

[2021-11-01 17:52] christopherfujino commented on #65264
when we fix this bug, we should update the flavorsTest here: https://github.com/flutter/flutter/blob/master/dev/devicelab/bin/tasks/flavors_test.dart

[2021-11-01 17:58] 1075dn opened #92851 "Proposal to add Option for RTL in _AutocompleteOptions"
Currently, when using the Autocomplete widget, the autocomplete options are aligned to the left-hand side (even when wrapped in a Directionality), unless you explicitly use the optionsViewBuilder parameter to build your own right-aligned autocomplete option widget.
I think this can easily be fixed on [this line in src/material/autocomplete.dart](https://github.com/flutter/flutter/blob/2382b4c04662

[2021-11-01 18:01] stuartmorgan commented on #92845
You need at least the Visual Studio build tools, because it's part of the Flutter build pipeline; see https://github.com/flutter/flutter/issues/77638. You don't have to actually use the Visual Studio GUI.

You can drive the process of installing the necessary tools using whatever method you like.

[2021-11-01 18:01] #92845 closed

[2021-11-01 18:02] chinmaygarde commented on #92550
We believe this is fixed in newer versions of Flutter (the stuff after the sync switch was added when moving into the background). But, I cannot tell for certain since there is no reproduction.

I cannot reason about this behavior. When the process is killed, there is no way for the application to linger. Do you have a separate reproduction of just this behavior? Perhaps crashing your process manu

[2021-11-01 18:03] christopherfujino commented on #22945
From the error message, it sounds like the problem is actually that the plugin has a higher minimum kotlin constraint than the project is using.

[2021-11-01 18:03] 1075dn commented on #92851
[This `Text` widget](https://github.com/flutter/flutter/blob/2382b4c046623da0cfe9cc1cafc4ad8ea1b161e7/packages/flutter/lib/src/material/autocomplete.dart#L181) does not inherit the `TextDirection` from the `Directionality` my `Autocomplete` is wrapped in.

[2021-11-01 18:05] dnfield opened #92853 "iOS a11y gets stuck in nested scrollables"
Reproduction:

[code]

Produces logs like:

When it gets stuck

/cc @chunhtai @jmagman

[2021-11-01 18:08] HansMuller opened #92854 "Build dashboard status dialog: "Running for" duration arithmetic can fail"
The task shown here had ostensibly been running for over 50 years. There's likely to be an arithmetic problem in the corners somewhere.

![Screen_Shot_2021-11-01_at_10 22 23_AM](https://user-images.githubusercontent.com/1377460/139719238-762eed72-1a82-43de-a4e6-c0aacbff5a15.png)

@CaseyHillers:

[2021-11-01 18:08] justinmc commented on #91695
Thanks, my fault!  I saw the cursor switch sides and thought it was due to a tap.  I was able to reproduce both problems now 👍

[2021-11-01 18:11] stjfk commented on #40740
flutter and another issue that hasn't been fixed for years

[2021-11-01 18:13] chinmaygarde commented on #92584
Is there a way to get verbose logs on the number of files passed to `clang-tidy` to ... tidy-fy.

A data point, I have defaulted to using --no-verify always since my editor has clang-tidy and clang-format on save and the CI will perform these checks anyway. So, if you are editing a large number of files on a regular basis, the same workflow might make sense. But, in this case, we should definitely

[2021-11-01 18:17] chinmaygarde commented on #92725
cc @flar

[2021-11-01 18:21] dnfield commented on #92853
This also creates a crash in some cases where I turn a11y off.

[2021-11-01 18:23] dnfield commented on #92853
xref b/200870816

[2021-11-01 18:25] keyonghan commented on #92833
Could you help take a look when you are in the lab? /cc @yusufm

[2021-11-01 18:39] keyonghan commented on #92838
This test is supposed to run on Host only test bed without devices.
However Mac/ios testbeds share same `device_type:none`.
We need to use `device_os:none` as the dimension to enforce testbeds.

[2021-11-01 18:39] cbracken commented on #92801
The engine roll has now landed.

[2021-11-01 18:41] Yugue opened #92856 "[cocoon]-bot-merging-not-obvious"
As a new contributor to flutter/cocoon, it wasn't obvious to me that the PRs have to be merged by a bot (by adding `waiting the tree to go green` label). I was trying to merge it manually like on flutter/flutter, but it appeared more to me that I do not have authorization to merge manually, as shown here:
![image](https://user-images.githubusercontent.com/20194490/139723813-25b2e11d-1506-4f40-bd05

[2021-11-01 18:44] keyonghan commented on #92728
Test hasn't been run on linux4 yet, will validate and close if passing consistently.

[2021-11-01 18:49] keyonghan commented on #92586
Do we receive any update from signcla team?

[2021-11-01 18:50] keyonghan commented on #91826
Tests are passing consistently. Closing.

[2021-11-01 18:50] #91826 closed

[2021-11-01 18:57] keyonghan commented on #91625
Mac20 is passing tests consistently.
From https://ci.chromium.org/p/flutter/builders/staging/Mac_android%20run_release_test?limit=200, the test is passing consistently (except infra failures due to bot capacity in staging)

@blasten Is there any open issue we are tracking here except the bot issue (fixed), or is this bug ready to close?

[2021-11-01 19:02] keyonghan commented on #89894
Linux5 has been passing tests consistently for past days, including `flutter_gallery__image_cache_memory`. Closing.

[2021-11-01 19:02] #89894 closed

[2021-11-01 19:04] Tusshu commented on #92768
My assumption is that if the application is wrapped in a FocusableActionDetector then every user action signal (keyboard, mouse etc) sent by the engine to flutter application will be captured by the detector before the signal reaches the child widget. That way I can know that some user action is taking place and hence keep the user session alive.

I am not sure if my assumption is correct. I don't

[2021-11-01 19:05] keyonghan commented on #92519
Seems cocoon is passing: https://ci.chromium.org/p/flutter/g/cocoon/console
Shall we close this one?

[2021-11-01 19:11] Tusshu commented on #92768
Yes, I am referring to HitTestBehavior.translucent for GestureDetector.

I tried GestureDetector in the default web app but GestureDetector does not detect tap on the button. It does detect the tap on the main screen. So My approach will not work.

There need to be some mechanism for the main application to intercept user action event from the engine before it is sent to widget.

[2021-11-01 19:12] godofredoc commented on #91826
For context, this is the fix for the android semantics failure: https://github.com/flutter/flutter/pull/92602

[2021-11-01 19:15] keyonghan commented on #92496
Closing with https://github.com/flutter/flutter/issues/90569 to track.

[2021-11-01 19:15] #92496 closed

[2021-11-01 19:18] keyonghan commented on #92429
Testbed has been passing tests consistently. Closing.

[2021-11-01 19:18] #92429 closed

[2021-11-01 19:23] misici234 commented on #92608
No. This is only iOS release build issue. All others, including iOS debug build work as per my expectation. Here is how to reproduce this issue:
1. download the code from [https://github.com/misici234/flutter_awesome_notifications_test](url)
2. Run "flutter build ipa" to generate Runner.xcarchive file
3. Open above archive file in Xcode and produce IPA file
4. Install IPA file on you iPhone
5. run

[2021-11-01 19:24] godofredoc commented on #92519
@yusuf-goog can you please update with the submitted and pending CLs?

[2021-11-01 19:26] godofredoc commented on #92833
This is related to the broken mac salt configurations.

[2021-11-01 19:34] bismarabia commented on #28454
In the meantime you can use the following class

[code]

You will guarantee that setState is called only if mounted == true

[2021-11-01 19:36] Daniel-BD commented on #65146
As far as I can see this is not exposed in the Flutter framework. I can't find any instances of "preferredScreenEdgesDeferringSystemGestures" in the Flutter repo here on GitHub anyway. So yeah, this is definitely something we should have in the framework itself, and not have to rely on packages for.

[2021-11-01 19:52] blasten commented on #91625
Thanks. http://b/203670703

[2021-11-01 20:29] gaaclarke opened #92858 "Create mechanism to share thread pools between background platform channels and the host app"
Now that we have background platform channels for android we need to create a mechanism to share a thread pool between plugins.

related issue: https://github.com/flutter/flutter/issues/91635

I believe the easiest thing would be to pipe TaskQueueFactory to FlutterInjector.

[2021-11-01 20:31] godofredoc commented on #81710
@Hixie this is low hanging fruit, I'll implement that functionality with ETA 11/05. Can we get you help on announcing this functionality is coming? tentatively we will be ready to release it on 11/19 or sooner if needed.

[2021-11-01 20:33] keyonghan opened #92859 "Mac/android tests are failing consistently in staging pool"
Four Mac/android tests keep failing:
https://ci.chromium.org/p/flutter/builders/staging/Mac_android_staging%20tiles_scroll_perf__timeline_summary
https://ci.chromium.org/p/flutter/builders/staging/Mac_android_staging%20complex_layout__start_up
https://ci.chromium.org/p/flutter/builders/staging/Mac_android_staging%20complex_layout_scroll_perf__timeline_summary
https://ci.chromium.org/p/flutter/buil

[2021-11-01 20:33] keyonghan commented on #92859
Failing message:
[code]

[2021-11-01 20:34] CaseyHillers commented on #92586
https://ci.chromium.org/p/flutter/builders/staging/Linux%20ci_yaml%20engine%20roller shows this as green, but no changes have needed rolling for the past 5 days. We can close this and I can reopen if I notice it.

[2021-11-01 20:34] #92586 closed

[2021-11-01 20:36] erickcchoi commented on #90254
Same issue here, Strange dot will appear when FAB backgound color defined by "Color.fromARGB(0, 71, 150, 236)"

[2021-11-01 20:40] CaseyHillers commented on #79658
Unassigning myself as all Cocoon work is completed. Remaining work is on FRoB to send requests to flutter-dashboard.appspot.com

[2021-11-01 20:55] blasten commented on #26134
@GaryQian have you had a chance to see what we should do for this feature?

[2021-11-01 21:14] yusuf-goog opened #92862 "provision_salt.sh fails when trying to install salt"
the curl command in provision_salt.sh fails to download the salt binary. This seems to be due to a redirect from the server that is not being followed by curl, and so results in a empty output file being created.

[2021-11-01 21:19] algovado commented on #92409
Hey @danagbemava-nc, I am having the same problem. Do you think this will be fixed with the next update? I created my project with Flutter. Thanks.

[2021-11-01 21:25] gw280 commented on #92650
I'm leaning towards removing the D3D9 fallback now that we have a working [software rendering fallback](https://github.com/flutter/engine/pull/25205). @clarkezone @cbracken do you have any opposition to this?

[2021-11-01 21:34] alex-bluetrain opened #92863 "[Web] ElevatedButton padding inconsistent across platforms"
**Description**
The behavior of ElevatedButton with padding is different across platforms.

**Expected Result**
I place an icon with size 28 inside an ElevatedButton with padding EdgeInsets.all(30) and expect to get a button of 88x88 (that is: 30+28+30 on both axis)

**Actual Result**
On Android it works as expected, but On Web, I get a 88x72 button instead
and it gets worse when using a CircleBor

[2021-11-01 21:38] GaryQian commented on #26134
Ahh not yet, I wil try to get to it soon.

[2021-11-01 21:38] #91591 closed

[2021-11-01 21:43] Marloncheg182 commented on #85785
Any news?

[2021-11-01 21:47] blasten commented on #34642
This may be related https://github.com/google/ExoPlayer/issues/8992

[2021-11-01 21:58] keyonghan opened #92864 "Update existing Skia Perf alerts to point to new tags and new benchmark names"
Tags of device/host info are being collected with https://github.com/flutter/flutter/pull/92141, https://flutter-review.googlesource.com/c/recipes/+/19380 for a week.
Benchmark metrics are being uploaded to both builder name (with platform info) and task name (without platform info) https://github.com/flutter/flutter/pull/92530 for 5 days with over 14 commit data.

For example, for metric `90th_pe

[2021-11-01 22:04] hassaanalansary opened #92865 "TextSelection.start &and TextSelection.end are being returned as -1 when a selection is in place"
I have this `insertText(TextEditingController textController, String myText)` .
It inserts the string in the selected location using `TextSelection.start` and `TextSelection.end`.
This is exactly similar to what a real keyboard does.
if you have a selected more than one character, these characters will be replaced with `myText`
this was working smoothly for many versions in flutter,
the latest ver

[2021-11-01 22:17] El-nonny opened #92867 "(Android) doctor check crash in flutter"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

<details>
<summary>Logs</summary>

[code]

</details>

[2021-11-01 22:26] godofredoc commented on #92859
@blasten do we need to revert the changes to upgrade gradle in this three tests?

[2021-11-01 22:28] yusuf-goog commented on #92862
Fixed by https://github.com/flutter/cocoon/pull/1433

[2021-11-01 22:28] #92862 closed

[2021-11-01 22:43] GaryQian commented on #91266
Monitoring to see if #92593 resolved.

[2021-11-01 23:07] johnpryan commented on #36551
@lhimo are you having this issue with integration_test? Since integration_test tests are written using flutter_test, the app state should be re-created whenever `[pumpWidget()](https://api.flutter.dev/flutter/flutter_test/WidgetTester/pumpWidget.html)` is invoked.

[2021-11-01 23:16] LongCatIsLooong commented on #92865
This is WAI, the `TextEditingController.text` setter removes the current selection: https://master-api.flutter.dev/flutter/widgets/TextEditingController/text.html.

[2021-11-01 23:17] #91860 closed

[2021-11-01 23:18] RobertHeim commented on #61175
We have reports that the proposed workaround does not work on all samsungs.

[2021-11-01 23:19] bkonyi commented on #27189
This should be resolved by using the new RPCs landed in [this CL](https://github.com/dart-lang/sdk/issues/46631). Closing, but feel free to reopen if you want to track that work here.

[2021-11-01 23:19] #27189 closed

[2021-11-01 23:25] hassaanalansary commented on #92865
I am not sure that i understand what you mean.
I know the selection will be removed however this should happen only after the selected text has been replaced with the new text.

As in the expected section.

This was not the case before.
Can you please elaborate if this was changed on purpose?, what is the reason for that change?

[2021-11-01 23:27] justinmc commented on #91509
Not sure.  It's not assigned and there is no milestone, so no one is planning to look at it in the near future and it's up for grabs if anyone wants to try fixing it.

That said I have a little bit more info that I'll post in a minute.

[2021-11-01 23:39] justinmc commented on #91509
This does not have to do with overlapping drag events, it has to do with KeepAlive on page 2.  See this simplified example:

<details>

<summary>Simpler example app</summary>

[code]
</details>

SelectableText uses AutomaticKeepAliveClientMixin, so that's why it seemed to cause the problem.

I'm also getting an error when I reproduce the bug saying a ScrollController is being reused.  Must be the

[2021-11-01 23:46] CaseyHillers commented on #92611
I have https://github.com/flutter/cocoon/pull/1432 open, but it's failing 3 tests due to the check run conclusion not being able to be null anymore. I didn't get time to work on it today (beyond writing the PR), so I'll debug the test failures tomorrow.

[2021-11-01 23:48] keyonghan commented on #92422
After moved to staging, the test kept passing: https://ci.chromium.org/p/flutter/builders/staging/Mac_ios%20platform_view_ios__start_up?limit=200 (except infra failure due to bat capacity)

The linked flakes above happened on mac6 and mac9, which both keep passing tests consistently.

I will try running the test on either of the above bot to see if reproducible.

[2021-11-01 23:50] justinmc commented on #18788
Yeah that's a good point.  Maybe there is some solution here.  The [material guidelines](https://material.io/components/text-fields#filled-text-field) for text do talk about prefix and suffix text that looks kind of like this, but it doesn't show centering.  Would a flag that causes the prefix/suffix to sit right next to the current text solve the problem for people?

[2021-11-02 00:09] godofredoc commented on #92583
Fixed with: https://github.com/flutter/cocoon/pull/1429 and https://github.com/flutter/cocoon/pull/1424

[2021-11-02 00:13] Hixie commented on #81710
I posted this in the #announcements channel on Discord:

[2021-11-02 00:13] yjbanov commented on #63397
I'm experimenting with `ImageDecoder` instead of web workers here: https://github.com/flutter/engine/pull/29419

[2021-11-02 00:22] domesticmouse commented on #90193
I've added a const constructor to `GuestBookMessage` in https://github.com/flutter/codelabs/pull/204, but as pointed out by @RedBrogdon it is effectively unused because `GuestBookMessage` contains run time varying content, and thus can't be `const`.

On this basis, giving `GuestBookMessage` a `const` constructor is possibly counter productive. Thoughts?

[2021-11-02 00:22] dimassyaiful commented on #71418
i tried this and worked!
thanks a lot

[2021-11-02 00:25] #87892 closed

[2021-11-02 00:27] Juliotati commented on #92829
@luckysmg looks like you're running in hybrid mode as show in the logs.

[code]
 To bypass this warming you will have to explicitly run using the command below.
[code]

It's better to have all your dependencies already migrated to null safety to avoid these issues.

The reference you provided doesn't work as a link like it should because of the `style` on it.

[2021-11-02 00:28] luckysmg commented on #92829
emm I'm building the flutter engine,not run a flutter App...

[2021-11-02 00:46] MasahideMori-SimpleAppli commented on #92655
Hi @danagbemava-nc,
I'll try another SDK version on the project I made to test this issue (https://flutter-issues-testlink.web.app/).
Please note that the test project will be unstable for a while.
I will write it again when I understand something. thank you.

[2021-11-02 00:52] OHeroJ commented on #87809
crash again

[2021-11-02 01:10] MoahmedHosny opened #92870 "Either the assertion indicates an error in the framework itself, or we should provide substantially more information in this error message to help you determine and fix the underlying cause."
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2021-11-02 01:34] carson2440 commented on #92821
i want to select six or another number of images at most，don't find the api to support;
my code :
 //i want to select six images at most，don't find api

  ImagePicker picker = new ImagePicker();
    List<XFile>? files = await picker.pickMultiImage(maxWidth: 720, maxHeight: 720);
    files!.forEach((element) {
      _photoPath = element.path;
      _imageAddWaterMask(element.path);
    });

can you

[2021-11-02 01:37] chunfengyao commented on #92252
@realchenzhi  we have tried aar dependency, but it's unfriendly to flutter developer to debug, or we need use different dependency for debug products and release products.(source dependency in debug products, aar in release products.)(it may cause some unexpected error.)

we also has some idea to avoid this condition, such as : copy plugin's source to $flutter_source_root/.android/$plugin_name by

[2021-11-02 01:51] LongCatIsLooong commented on #92865
Oh sorry I thought the code sample was modifying the selection based on the new selection after setting the text. But I couldn't reproduce the issue on android or on the web. I'll wait for people that have the right environment to triage this then.

[2021-11-02 01:59] XuanTung95 commented on #92721
Duplicate #76525

[2021-11-02 01:59] #92721 closed

[2021-11-02 02:05] michalkubizna opened #92872 "[in-app-purchase] [iOS] Free products are not showing up"
The queryProductDetails function is not returning free products with the price set to $0. It works fine when I set it to a different price like $0.99.

[2021-11-02 02:16] MasahideMori-SimpleAppli commented on #92655
Hi @danagbemava-nc,
I have identified the version that causes the problem.
I have tested the following versions:
Flutter 2.0.0 ... OK
Flutter 2.2.0 ... OK
Flutter 2.2.3 ... OK
**Flutter 2.5.0 ... NG(Broken layout)
Flutter 2.5.3 ... NG(Broken layout)**

There is this bug in Flutter 2.5.0 and later.
thank you.

[2021-11-02 02:33] esDotDev commented on #53040
Why are descendants scrollables without PageStorageKeys trying to save/restore their state at all? Seems like this is solved if we just remove this odd default behavior.

[2021-11-02 02:43] tongyangsheng commented on #92817
hi, thanks @darshankawar
Because my company attaches great importance to the stability of the framework, we have stayed on the old version of Flutter for a long time. We are planning to upgrade to Flutter 2.0 in the near future. I will continue to use the same steps and methods. Test, hope the related issues will be resolved, thank you again for your reply

[2021-11-02 02:53] two4zero commented on #92803
Hi @maheshmnj . i am @LienInc .

### 1. `/assets/NOTICES` is a file of build result. fullpath is `build/web/assets/NOTICES`.
Steps to Reproduce
  1. `flutter create myapp`
  2. `cd myapp`
  3. `flutter build web`
  4. `build/web/assets/NOTICES` created. its License info.
  5. `build/web/flutter_service_worker.js` created.
[code]

### 2. local `flutter run -d chrome --release` >> no problem. chrome

[2021-11-02 03:00] esDotDev opened #92873 "Unable to lookup `PageStorage` when it exists above the `Navigator`"
I would like to have a single `PageStorage`, above my `MaterialApp` or `Navigator`, that can act as a global store for views.

For some reason, if I place my `PageStorage` widget outside of a page route, then I can not access it.

[code]

This is a pain because I need to add a `PageStorage` widget to every single top level page in the app, rather than just being able to lookup to one shared parent

[2021-11-02 03:01] dnfield commented on #92725
In traces on lo end devices, we can see the time spent in constructing the CTM, creating and storing the key, and updating it take non-trivial amounts of time.

I agree that it'd be great to keep statistics for this, but even in the case where the opacity cache fails due to surface size we'd still have wasted time on doing cache checking logic during the opacity preroll which would just have to be

[2021-11-02 03:04] dnfield opened #92874 "OpacityLayer and ColorFilterLayer should detect if their children can be drawn without a saveLayer"
For example, in trivial cases where there is a single `DisplayList` child that has a single `drawPath` operation, it should just apply the opacity/color filter directly to that path instead of incurring a render target switch.

/cc @flar @goderbauer @chinmaygarde

[2021-11-02 03:05] dnfield commented on #92874
We could potentially use the RTree implementation in the engine to make this more sophisticated so that it can detect cases where the bounding boxes of multiple draw operations do not overlap.

[2021-11-02 03:20] owenchenwifigarden commented on #92706
[flutter_run_verbose.zip](https://github.com/flutter/flutter/files/7457608/flutter_run_verbose.zip)
@darshankawar I fixed the previous log's error, and now it will still occur "ld: library not found for -lcrypto " error , like the attached file, just let you know the newest result i got, thank you.

[2021-11-02 03:44] zanderso commented on #92874
This was already on the list for https://github.com/flutter/flutter/issues/85737, but didn't have an issue filed for it yet, so I added this there.

[2021-11-02 03:51] dnfield commented on #92874
If it helps, the concrete use case that prompted this was a custom widget that fades text in and out using a `FadeTransition`. The text is always a simple `drawTextBlob`, and it's not too hard to refactor the widget so that it applies the color directly to the text but it's hard for developers to realize that will be better than using `FadeTransition`.

[2021-11-02 03:59] wepem33222 commented on #70216
im getting same issue on macOs

[2021-11-02 04:11] skylife13 opened #92876 "[tool_crash] FileSystemException: Creation failed, OS Error: The tag present in the reparse point buffer is invalid., errno = 4393"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Creation failed, OS Error: The tag present in the reparse point buffer is invalid.
, errno = 4393
[code]
[code]

## Flutter Application Metadata
**Type**: null
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**

[2021-11-02 04:35] keyonghan opened #92877 "Update existing alert `Energy` to include hardware tags"
This is part of https://github.com/flutter/flutter/issues/92864.

Existing alert `Energy` consists of two `sub_result` metrics:
- average_cpu_usage
- average_gpu_usage

Involved hardware: [`Mac(intel)/iPhone_6s`](https://flutter-flutter-perf.skia.org/e/?queries=sub_result%3Daverage_cpu_usage%26sub_result%3Daverage_gpu_usage)

**Action**: add tags `host_type:mac`, `arch:intel`, and `device_os:iPhon

[2021-11-02 04:37] ANNASBlackHat opened #92878 "[tool_crash] FileSystemException: Directory listing failed, OS Error: No such file or directory, errno = 2"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Directory listing failed, OS Error: No such file or directory, errno = 2
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel*

[2021-11-02 04:54] keyonghan opened #92879 "Update existing alert `Memory` to include hardware tags"
This is part of #92864.

Existing alert `Memory` consists of 5 `Linux_android` benchmarks and 3 `Mac_android` benchmarks:

`Linux_android` benchmarks:
[code]

`Mac_android` benchmarks:
[code]

Involved hardware: `Linux/Moto_G_4`, `Mac(intel)/Moto_g_4`.

**Action**: separate existing `Memory` alert to two alerts:
- `Memory(mac_intel/motog4)`: add tags `arch: intel`, `host_type:mac`, `device_os:Moto

[2021-11-02 04:57] esDotDev commented on #80303
Any thoughts on this @goderbauer? It seems we're extremely close to being able to do this right now... I just can't figure out how to trigger the Restoration on the state.

Maybe it's possible already? I'd like this view to restore the count each time it loads, but it always resets:
https://user-images.githubusercontent.com/736973/139789002-b6065625-92b5-42c0-8c07-ed267d6ca717.mp4

This would real

[2021-11-02 05:06] dkseo-lien commented on #16723
https://github.com/flutter/flutter/issues/92803

[2021-11-02 05:07] two4zero commented on #16723
https://github.com/flutter/flutter/issues/92803

[2021-11-02 05:08] keyonghan opened #92881 "Update existing alert `Size sub_result` to include hardware tags"
This is part of #92864.

Existing alert `Size sub_result` consists of 2 `Linux_android` benchmarks:

[code]

Involved hardware: `Linux/Moto_G_4`.

**Action**: add tags `host_type:linux`, and `device_os:Moto_g_4` to the alert.

[2021-11-02 05:09] cescobar2194 opened #92882 "MissingPluginException FCM"
I am having problems with my Flutter app. I am currently using the plugin sms_advanced and firebase_messaging.

I send messages without any problem when the App is open, with and without user intervention. But when I use the method: _firebaseMessagingBackgroundHandler and I try to send the SMS I get an error and the app stops:

<img width="904" alt="Screen Shot 2021-11-01 at 23 04 21" src="https:/

[2021-11-02 05:10] dnfield opened #92883 "The framework should caution you against nesting scroll views that go in the same axis direction"
For example, the following code should trip some kind of assert:

[code]

[2021-11-02 05:13] flar commented on #92725
I'd like to see those traces. If a device was so low end to really notice those operations then I would find it hard to believe that it could actually maintain a decent frame rate. These are operations that occur many times over in every frame. They are the bread and butter of rendering.

[2021-11-02 05:18] darshankawar commented on #92729
@Os-Prog
Currently it doesn't seem to support using live stream, so you can follow-up in [this](https://github.com/flutter/flutter/issues/46082) original issue for further reference and updates. Closing this as a duplicate.

[2021-11-02 05:18] #92729 closed

[2021-11-02 05:19] darshankawar commented on #92787
Thanks for the update.

[2021-11-02 05:21] darshankawar commented on #92799
@PercyMcfly
Your `ios/podfile` need to have the helper function flutter_additional_ios_build_settings(target) that Flutter uses. If you remove it, then you'll get the error you are seeing.
The podfile should look like this: https://github.com/flutter/flutter/blob/e605b7c2250e803f46017b1d544fc8c297007546/packages/flutter_tools/templates/cocoapods/Podfile-ios-swift

[2021-11-02 05:23] darshankawar commented on #92747
Labeling it as a proposal and for further insights from the team.

/cc: @Hixie

[2021-11-02 05:26] maheshmnj commented on #92704
@namankk your andoid_module seems to be missing certain gradle files, Heres a sample app add to app for reference  https://github.com/flutter/samples/tree/master/add_to_app/fullscreen/android_fullscreen

Also, Please refer the [docs](https://flutter.dev/docs/development/add-to-app/android/project-setup).

Thanks

[2021-11-02 05:26] darshankawar commented on #92817
@tongyangsheng
In order to get best current performance fixes and updates, you'll need to upgrade to latest which has fixes and improvements. I am going ahead and closing this for now. After upgrade, if you see any performance related issues, write in comments or open a new issue using new issue template and we'll address it.

[2021-11-02 05:26] #92817 closed

[2021-11-02 05:27] two4zero commented on #92803
maybe...
`Uncaught (in promise) TypeError: Failed to execute 'addAll' on 'Cache': Request failed` error position

`build/web/flutter_service_worker.js`
[code]

[2021-11-02 05:43] maheshmnj commented on #92741
@rk0cc, I can't reproduce with that sample code, I can continue inspecting the widgets without losing the connection. Are there any specific steps to reproduce the issue?

Also, Can you please verify if this issue happens only when running a Desktop app or android/web app too?

<details>
<summary>code sample</summary>

[code]
</details>

Thanks

[2021-11-02 05:48] maheshmnj commented on #92768
@Tusshu thanks for the clarification.

[2021-11-02 05:53] darshankawar commented on #92779
@ClevercodeTech
Check [this](https://github.com/flutter/flutter/issues/82677) issue and see if it helps to answer your question.

[2021-11-02 05:54] maheshmnj commented on #92821
Hi @carson2440, `image_picker` does not provide an api to limit the number of images nor it is possible to implement on android due to some limitations please see [this comment](https://github.com/flutter/flutter/issues/85772#issuecomment-887614127) for more details

[2021-11-02 06:01] darshankawar commented on #92816
@PercyMcfly
The plugin's [readMe](https://pub.dev/packages/in_app_purchase) does have reference and example of both methods. Can you check that once and see if it helps?

[2021-11-02 06:04] ClevercodeTech commented on #92779
Yeah, exactly the same issue. Thanks for the link. But i need to recode to accomodate the updated pluging. I know i am asking for too much, but i just hope pluging developer don't just remove the feature just like that.

[2021-11-02 06:04] #92779 closed

[2021-11-02 06:08] AscentionOne opened #92885 "[Web] Flutter Canvaskit WebGL issue in Chrome"
Hi, currently when I am developing the Flutter web app I encounter a weird effect. When I am running my web app in Chrome and sometimes when I hot restart the app or during navigation between pages. The text and the svg icon will be in square boxes as follows. This shows occasionally. I am not sure what is really happening. However, when I look into Chrom DevTools Console it shows something is wro

[2021-11-02 06:10] darshankawar commented on #92706
@owenchenwifigarden
Can you also provide `pubspec.yaml` ? The verbose log you shared doesn't seem to contain the `library not found` error in it. Provide the log which shows that error.

[2021-11-02 06:17] darshankawar commented on #92750
@flutter-symbolizer-bot https://github.com/flutter/flutter/issues/92750#issue-1040091730 ios release arm64

[2021-11-02 06:19] danagbemava-nc commented on #92825
Hi @benyaminbeyzaie, I can't seem to reproduce it. I tested on `Poco X3 NFC` running `android 11`.

See video below.

Is there more to the reproduction steps or is bringing it from the background enough to reproduce it?

<details>
<summary>video</summary>

https://user-images.githubusercontent.com/88313112/139795857-85c043cf-3275-4e69-ad57-6d864082488c.mp4

</details>

[2021-11-02 06:21] rk0cc commented on #92741
It does the same happened when running on Android Emulator.

Also I looked back my `flutter doctor -v` and found 2 VS Code:

[code]

My VS Code is using 64-bit which install on` program files` one, and it works normally when running on another computer, I think these duplicate VS Code causing conflict when connecting widget.

[2021-11-02 06:25] danagbemava-nc commented on #92824
@ManoVikram, please provide the output of `flutter run -v`. It will be huge, so you can put it into a log file and attach it here.

Thank you

[2021-11-02 06:26] darshankawar commented on #92750
`
Flutter -[FlutterTextInputView updateEditingState]
`

Maybe related to a scenario when engine is destroyed, the `FlutterTextInputView ` isn't getting released.

Keeping it open for further insights from the team.

/cc @chinmaygarde

[2021-11-02 06:29] maheshmnj commented on #92814
Hi @fayfive, Thanks for filing the issu. I verified on ubuntu and I was able to build and run the application created specifically for linux platform using `flutter create myapp --platforms=linux`.

 Please share the complete output of `flutter doctor -v`.

<details>
<summary>flutter doctor -v</summary>

[code]
</details>

Thanks

[2021-11-02 06:33] maheshmnj commented on #92785
I can confirm adding a full path the build succeeds.

[2021-11-02 06:37] danagbemava-nc commented on #92697
Closing based on this comment.

If you have any more issues, kindly file a new issue or if you feel this is sufficiently resolved, kindly leave a comment and I'll reopen.

Thank you

[2021-11-02 06:37] #92697 closed

[2021-11-02 06:38] danagbemava-nc commented on #92773
Hi @Agondev, how do you propose the error/assertion message be improved?

[2021-11-02 06:39] darshankawar commented on #92815
@lanqianbi
Can you provide hardware details of the machine including `flutter doctor -v` ?
Are you saying, when you run `flutter build window` and run the build, you are seeing black screen ?
Does it happen with a new Flutter project too ?

[2021-11-02 06:43] maheshmnj commented on #92826
Hi @juliansteenbakker, Thanks for filing the issue. I was not able to reproduce the issue, Heres what I did

- created a new flutter app
- updated `lib/main.dart` to [example from docs](https://pub.dev/packages/webview_flutter/example)
- added plugin webview_flutter: ^2.1.0
- ran `flutter build apk` and it completed with a success.

Let me know if I am missing anything.

<details>
<summary>logs</s

[2021-11-02 06:48] darshankawar commented on #92832
@desmeit
firebase related issues need to be reported in dedicated repo: https://github.com/FirebaseExtended/flutterfire/issues
Closing from here.

[2021-11-02 06:48] #92832 closed

[2021-11-02 06:54] lanqianbi commented on #92815
Thank you for your help. After we installed the Windows 7 system patch and the collection of Microsoft's common runtime libraries, it is running normally.

[2021-11-02 06:54] #92821 closed

[2021-11-02 06:59] domesticmouse commented on #92376
Quick question @stuartmorgan, is it intentional that the `BINARY_NAME` must not contain spaces?

The build errors out if the name contains spaces. I'm curious if this is a Win32 limitation, or a limitation of our CMake scripts.

[2021-11-02 07:01] Saleh-Zahran opened #92887 "Using Google Places API with Flutter web. Cors issue"
## Steps to Reproduce

1. ...Im using google places api to get place details on a flutter web app and im running into cors issues withe the response.
2. ... Im using Getx package and i added the request in the controllers file got null
3. ...

## Logs

<details>
<summary>Logs</summary>

[code]

[code]

</details>

[2021-11-02 07:01] ayanaEnt commented on #92887
Map<String, String>? header = {
      'Access-Control-Allow-Origin': '*', // Required for CORS support to work
      "Access-Control-Allow-Credentials":
          "true", // Required for cookies, authorization headers with HTTPS
      "Access-Control-Allow-Headers":
          "Origin,Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token,locale",
      "Access-Control-Allow-Methods":

[2021-11-02 07:09] Maheswari01A opened #92888 "Widget test render issue on windows"
Problem occurs only in widget test on windows. While running the application in windows debug/release mode render issue is not observed.

**Issue causing widget:**
[code]

**PrimaryButton widget:**
[code]

**Error:**
[code]

[2021-11-02 07:10] Khongchai opened #92889 "Missing hyperlink?"
In the Configure for the Web section of https://firebase.google.com/codelabs/firebase-get-to-know-flutter#3:

![image](https://user-images.githubusercontent.com/56601823/139801245-24d206f8-0cc2-4347-bf9f-31b09110c7c1.png)

Feel free to read more about Firebase Hosting here. << Is "here" supposed to be a link? Right now it's just text.

[2021-11-02 07:10] darshankawar commented on #92867
@El-nonny
This was fixed per [this](https://github.com/flutter/flutter/issues/90042) issue. You'll need to switch to latest master to see it fixed.
Closing from here as this is already fixed and available on master. If you still get same crash on master, write in comments and I'll reopen it.

[2021-11-02 07:10] #92867 closed

[2021-11-02 07:13] owenchenwifigarden commented on #92706
@darshankawar
[pubspec.yaml.zip](https://github.com/flutter/flutter/files/7458493/pubspec.yaml.zip)

Thanks .

[2021-11-02 07:24] linxuebin1990 commented on #63397
@yjbanov This feature is very cool ！

[2021-11-02 07:30] linxuebin1990 commented on #63397
@yjbanov We implemented this feature by rewriting the Canvaskit js code in our own local engine,based on the createImageBitmap and Offscreen Canvas interfaces. In our web project, the `FPS` of the image list has been increased from `30` to `54`. But we currently only support the decoding of static pictures, so we are looking forward to this feature for you.

[2021-11-02 07:31] mamuseferha commented on #92767
@gau187 yes this could be the case, please update your flutter `2.5.3` and shared_preferences `2.0.8` to the latest. I'll go ahead to close this issue as it is not reproducible, if you disagree please write in the comments and I will reopen it.
Thank you

[2021-11-02 07:31] #92767 closed

[2021-11-02 07:31] darshankawar commented on #92872
@michalkubizna
Is this related to promotional offer ? and that you are unable to get purchaseId ?

[2021-11-02 07:32] Maheswari01A opened #92890 "Connection closed before test suite loaded. Windows shell gets corrupted"
Steps to reproduce the error:
1. Migrate flutter from 2.2.3 to 2.5.3 stable
2. Run the desktop flutter app
3. Run the test -> now the issue will be recreated and cannot run the test anymore

**Workaround:**
1. Migrate to master
2. Run the test -> it will work
3. Again migrate to stable
4. Do flutter clean
5. Run test -> it will work(Problem absorbed while using both flutter run and flutter test)

[2021-11-02 07:42] darshankawar commented on #92829
Keeping it open for further insights from the team.

[2021-11-02 07:44] darshankawar commented on #92829
/cc @chinmaygarde

[2021-11-02 07:47] owenchenwifigarden commented on #92706
[verbose.zip](https://github.com/flutter/flutter/files/7458720/verbose.zip)
@darshankawar verbose log I just create if needed.

[2021-11-02 07:52] TheCGDF commented on #92376
@domesticmouse `BINARY_NAME` in `CMakeLists.txt` will not affect `File description`. Actually, `BINARY_NAME` is generated by the `name` in `pubspec.yaml`.

The `"A new flutter project"` string comes from `windows\runner\Runner.rc`, which is copied from flutter SDK(`dev\integration_tests\flutter_gallery\windows\runner\Runner.rc`)
[code]

[2021-11-02 07:53] jensjoha commented on #92679
Generally the sdk-hash built into the dill should have caught this. It seems that the flutter platform does include it, but that the creation of the flutter_frontend_server snapshot does not, meaning that it's not enabled.
@mkustermann wasn't the dill sdk-hash thing mostly build for flutters benefit?

[2021-11-02 07:54] pdsliuzhen opened #92891 "[add-to-app] iOS 14+ bluetooth keyboard cannot input text"
iOS 15 or iOS 14.7 flutter 2.5  bluetooth keyboard can not input text in TextField；But flutter 1.22.6 is ok;

[2021-11-02 07:57] TheCGDF commented on #92376
Flutter has not provided us a way to change it, so the document is impossible for now.

[2021-11-02 07:58] darshankawar commented on #92831
@rukhiddinov2102
Can you upgrade to latest stable and try again to see if you still get same error or not ?

[2021-11-02 08:00] pdsliuzhen commented on #92891
not only on ipad but ios simulator or device still has this issue. flutter2.5 and ios system <14 is ok;

[2021-11-02 08:01] devchenli commented on #74139
Any update ?
my app have been removed because this , I never never never try to read clipboard , ​
Just because I used textfiled ,
Can't beleive such a  big bug has not been solved yet

[2021-11-02 08:04] mamuseferha commented on #92608
@misici234 I’m unable to reproduce the issue to pinpoint the cause, it could be the third party’s integration with the framework. I'll be labelling it for further investigation.

[2021-11-02 08:07] danagbemava-nc commented on #92870
Hi @MoahmedHosny,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2021-11-02 08:07] #92870 closed

[2021-11-02 08:07] juliansteenbakker commented on #92826
In your logfiles it says the following:

[code]

You can add the following to your project gradle to show the deprecation warnings:
[code]

After adding this it will show all the deprecation warnings.

[2021-11-02 08:11] #29092 closed

[2021-11-02 08:15] mamuseferha commented on #92788
Hi @mevos19
I noticed you used Provider plugin in the sample code. For the issue to be workable, it needs to be reproducible with a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example) that doesn’t include 3rd party plugins or complex production code and is properly formatted. Please provide such sample.
Thank you

[2021-11-02 08:16] Mijawel commented on #92785
Thanks for the help.

On the flutter documentation I followed the code example which seemed to be calling for a relative path as opposed to an absolute path because it says to put the project name first.

flutter build apk --obfuscate --split-debug-info=/<project-name>/<directory>

[example can be found here:
https://flutter.dev/docs/deployment/obfuscate]

That probably could be changed for clarit

[2021-11-02 08:21] shubh2223 opened #92893 "[ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: 'package:flutter/src/widgets/navigator.dart': Failed assertion: line 3955 pos 12: '_debugLocked && !_debugUpdatingPage': is not true."
I change flutter version to v1.20.3 to fixed this

_Originally posted by @tianye19941001 in https://github.com/flutter/flutter/issues/36177#issuecomment-720367130_

[2021-11-02 08:24] kuhnroyal commented on #61175
@RobertHeim I have not seen this yet but you need to figure out the possible new keyboard vendor string for those devices.

[2021-11-02 08:25] dnfield commented on #92725
It is really bad at maintaining a decent frame rate.

This optimization would likely not help a lot, but could help some.  @goderbauer may still have traces

[2021-11-02 08:35] EmadBeltaje commented on #63389
i have vertical listview inside horizontal viewpager so when i want to scroll down in listview the viewpager start moving left or right can i do sth about that i mean can i add more snapping to pager to make it less scrollable

[2021-11-02 08:36] El-nonny commented on #92867
It has been fixed by changing the path using
flutter config --android-sdk [path]
Thank you

On Tue, Nov 2, 2021 at 8:11 AM darshankawar ***@***.***>
wrote:

[2021-11-02 08:41] sma opened #92894 "Please support all SystemMouseCursors on macOS (and other platforms)"
Instead of not showing anything if you try to set `SystemMouseCursors.resizeUpLeftDownRight` or `SystemMouseCursors.resizeUpRightDownLeft` on macOS, please provide custom cursors that match the other up/down/left/right cursors or please provide a way that I can do this in a cross-platform way.

It is my understanding that those cursors aren't available because the standard macOS [NSCursor](https:/

[2021-11-02 08:53] StanevPrime commented on #22393
It will be great to have this feature!

[2021-11-02 08:54] darshankawar commented on #92848
@dharanidharandharmasivam
I see that you had filed the same [issue](https://github.com/flutter/flutter/issues/84205) earlier, for which [this](https://github.com/flutter/flutter/issues/84205#issuecomment-857725492) was suggested. Can you try the same and see if it works ?

Also, try to run in profile mode and see if you are able to identify any code issues in your implementation.

[2021-11-02 08:55] mkustermann commented on #92679
Not that I know of - it's for the benefit of everyone. We've had g3 users uploading dill files to storage and using them on different versions of VM - causing hard to debug crashes. Similarly `pub` was caching dill files in the `.dart_tool` folder on and re-used them with incompatible VM versions.

If any dill files are missing the SDK hash we should just add it!

[2021-11-02 08:57] benyaminbeyzaie commented on #92825
Thanks for your response for reproducing try this things too:
make another page in the app and navigate to it and come back to the camera page few times
then go to background and come back to the app few times

also I forgot to add this lines on init and dispose so app state change is not completely working... so add this lines:
[code]

I think the camera library have some concurrency problems! I

[2021-11-02 08:59] PercyMcfly commented on #92799
@darshankawar

this solved the issue, thank you!

[2021-11-02 09:00] PercyMcfly commented on #92816
This worked, thank you!:)

[2021-11-02 09:00] #92816 closed

[2021-11-02 09:00] #92799 closed

[2021-11-02 09:03] sm2017 opened #92895 "Wrong sample code in WidgetsBindingObserver documentation"
Here https://api.flutter.dev/flutter/widgets/WidgetsBindingObserver-class.html we have `late AppLifecycleState _notification;`
But at first time rendering it's null in the `Text('Last notification: $_notification');`

I have a question too, How we have get the current state of `AppLifecycleState` and set initial value of `_notification` in the `initState` ?

[2021-11-02 09:11] danagbemava-nc commented on #92878
Hi @ANNASBlackHat, can you please upgrade to the latest version of `stable` and see whether or not you still experience this issue?

[2021-11-02 09:13] mamuseferha commented on #92885
Hi @AscentionOne
Can you please provide a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)?
Thank you

[2021-11-02 09:14] yanwei49 opened #92896 "[Add2App IOS] Instant crash on MacOS12.0.1 xcode13.1 Library not loaded: @rpath/App.framework/App"
crash is run on the Device, but it is normal on the simulator，It is normal before upgrading MacOS.
current version：Swift version：5.5.1，xcode version：13.1，flutter version：2.5.3
crash:

[code]

[2021-11-02 09:15] pdsliuzhen commented on #76497
flutter 2.5 textfield can not input text when connect to a bluetooth keyboard on ipad device, what should i do

[2021-11-02 09:17] mevos19 commented on #92788
Hi @mamuseferha this is a simple code I made check out and still the same issue.

I found there is an issue with Google map API v3 . I don't know if this is related:
https://stackoverflow.com/a/21192357/10334691

`import 'package:flutter/material.dart';
import 'package:google_maps_flutter/google_maps_flutter.dart';

void main() => runApp(const MyApp());

class MyApp extends StatelessWidget {
  con

[2021-11-02 09:19] shariar41 opened #92898 "RenderRepaintBoundary does not meet its constraints."
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2021-11-02 09:21] #92898 closed

[2021-11-02 09:24] xrr2016 opened #92899 "A keyboard error on macOS"
Debugging an app and press any key, show this error on terminal.

![image](https://user-images.githubusercontent.com/18013127/139819376-e7c741e6-cf5b-4bfa-a531-a0022b35fe99.png)

[code]

[2021-11-02 09:32] mamuseferha commented on #92891
Hi @pdsliuzhen
I see there's an open issue addressing the case you described https://github.com/flutter/flutter/issues/76497.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2021-11-02 09:32] mkustermann commented on #84379
Actually this particular thing is not related to what Clement is working on atm (appologies for the noise)

[2021-11-02 09:32] Vadaski commented on #92810
"android.bundle.enableUncompressedNativeLibs=false" to my android gradle.properties, looks works for me.

[2021-11-02 09:43] houqinzhe commented on #90515
Has this problem been solved?

[2021-11-02 09:45] mamuseferha commented on #92896
Hi @yanwei49
Can you please provide your `flutter doctor -v` and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)?
Thank you

[2021-11-02 09:46] danagbemava-nc commented on #92893
Hi @shubh2223,
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2021-11-02 09:46] #92893 closed

[2021-11-02 09:51] jari-kuipers commented on #92651
@stuartmorgan
[In the release notes](https://developers.google.com/maps/documentation/android-sdk/releases) it states that the new renderer used in 18 will be the default in 2022. It doesn't say however that it will be required.

But even still. Updating to version 18 should have some priority.

[2021-11-02 09:54] winterdl commented on #37396
Same error, tried to run arm64 release build on x86 emulator android api 30
[code]

[2021-11-02 09:55] AscentionOne commented on #92885
@mamuseferha Sure, my brief investigation is that this only happens on my AMD Radeon graphic card. Nvidia graphic card seems not to have this issue.

[2021-11-02 10:00] danagbemava-nc commented on #92887
Hi @ayanaEnt, I take it you're using the `http` package to make the requests?

Is that correct?

[2021-11-02 10:01] yanwei49 commented on #92896
flutter doctor -v:
✓] Flutter (Channel stable, 2.5.3, on macOS 12.0.1 21A559 darwin-arm, locale
    zh-Hans-CN)
    • Flutter version 2.5.3 at /Users/***/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 18116933e7 (3 weeks ago), 2021-10-15 10:46:35 -0700
    • Engine revision d3ea636dc5
    • Dart version 2.14.4
    • Pub download mirror https://pub

[2021-11-02 10:03] stsc3000 commented on #92468
@darshankawar Thanks for the answer. We'll try to incorporate more info into our tracking for the next release.

[2021-11-02 10:06] HadyMash commented on #92796
Here are some errors I noticed in the debug console when trying to type with the hardware keyboard:

[code]

[2021-11-02 10:09] mamuseferha commented on #92889
Hi @Khongchai thanks for filing this issue, I was able to reproduce it.

[2021-11-02 10:13] yanwei49 commented on #92896
https://stackoverflow.com/questions/69808637/dyld-library-not-loaded-rpath-app-framework-app-in-xcode13-1

[2021-11-02 10:19] lzhAndroid opened #92902 "flutter 2.5 android BackgroundMode use transparent,sometimes page is show black screen"
<details>
<summary>flutter doctor -v</summary>

[code]
</details>

[2021-11-02 10:22] adamsowinski commented on #55809
Unfortunately this is a showstopper for me. I can't use Flutter as pointer is a hard requirement. I doubt we will switch to Flutter at a later stage once we have a fully functional iOS app.

[2021-11-02 10:23] karvulf commented on #43902
Still a problem for me in iOS and Android when using `PlatformViewLink` for **Android** and `UiKitView` for **iOS**.

[2021-11-02 10:26] pdsliuzhen commented on #92891
hi @mamuseferha  i use flutter module , and embed to ios project ; flutter run is ok; ios project run is not ok; is not same at  #76497.

[2021-11-02 10:27] arkanmgerges opened #92903 "[tool] Errors are not shown when running with `flutter run --machine`"
## Steps to Reproduce
I'm working on an app, and it breaks on a page in release mode, but it works in debug mode (there is no error in logs when it is in debug mode)

Note: **The code is identical for both release and debug modes**

**Expected results:**
If there is an error it should show it in logs in debug mode

**Actual results:**
Error in release mode

<details>

The page and screen files wer

[2021-11-02 10:29] geGao123 commented on #92896
I have similar situation.
current version：Swift version：5.5.1，xcode version：13.1，flutter version：2.5.3
when i create a new ios project(swift),and add flutter module.run on the device and get this
<details>
<summary>crash:</summary>
Library not loaded: @rpath/App.framework/App
Referenced from: /private/var/containers/Bundle/Application/E9FD692D-A9A6-40FC-A1B3-4B1BD5121BC2/flutter_test.app/flutter_t

[2021-11-02 10:32] mamuseferha commented on #92895
Hi @sm2017

Thank you for filing this issue, I tested on the latest stable and master channel
 and the issue is reproducible. You cannot access the current AppLifecycleState in initState, you can however make `_notification` nullable instead of late.

<details>
<summary>flutter doctor -v</summary>

[code]
[code]

</details>

Thank you

[2021-11-02 10:46] danagbemava-nc commented on #92899
Hi @xrr2016, on what platform do you experience this issue?

Can you also provide a minimal reproducible code sample?

Also, please provide the full logs of `flutter run -v` with exact reproducing steps.

The output of `flutter run -v` will be huge, so please paste it into a txt file and attach it here.

Thank you

[2021-11-02 10:47] danagbemava-nc commented on #92902
Hi @lzhAndroid, thanks for filing the issue, please provide a complete minimal reproducible code sample.

Thank you

[2021-11-02 10:49] maheshmnj commented on #92897
Hi @jgfoster,

I see a similar issue describing this case https://github.com/flutter/flutter/issues/89550, Please follow up there for further updates, Closing this issue as a duplicate. If you disagree feel free to write in the comments and I will reopen it.

Thank you.

[2021-11-02 10:49] #92897 closed

[2021-11-02 11:03] danagbemava-nc commented on #92825
then go to background and come back to the app few times

I tried this too and I was unable to reproduce, see video below.

<details>
<summary>video</summary>

https://user-images.githubusercontent.com/88313112/139834840-b7c766da-b104-49ad-8940-47b8f0234269.mp4

</details>

[2021-11-02 11:07] maheshmnj commented on #92863
Hi @alex-bluetrain, Thanks for filing the issue. I can reproduce the issue on `stable 2.5.3` and the master channel,
the `ElevatedButton` size on the Web seems different from Android.

Android    |  Web
:-------------------------:|:-------------------------:
![image](https://user-images.githubusercontent.com/31410839/139833428-5ce498a3-f03d-4a83-a3b8-392ada61047b.png)  |  ![image](https://user-ima

[2021-11-02 11:18] danagbemava-nc commented on #92903
Hi @arkanmgerges, your sample contains some third_party packages and custom widget definitions, please provide a sample without any third party packages and if possible, provide the custom widget definition.

Although, from this piece of code, I can see that you're using the `Expanded` widget incorrectly, that may be the cause of the issue, although, I do find it strange that it wasn't reported in

[2021-11-02 11:21] stuartmorgan commented on #92890
This is the issue that was already fixed in https://github.com/flutter/flutter/pull/90288

[2021-11-02 11:21] #92890 closed

[2021-11-02 11:22] maheshmnj commented on #92826
@juliansteenbakker thanks for the info, I was able to reproduce it.

<details>
<summary>logs</summary>

[code]
</details>

<details>
<summary>flutter doctor -v</summary>

[code]

[code]
</details>

[2021-11-02 11:32] juliansteenbakker commented on #92826
FYI, I already made a PR which solves this issue: https://github.com/flutter/plugins/pull/4463

[2021-11-02 11:39] stuartmorgan commented on #92882
Issues with third-party plugins need to be reported to their developers.

You should verify with the developers that the Firebase background handler is designed to allow calling plugin methods (e.g., isn't using an isolate).

[2021-11-02 11:39] #92882 closed

[2021-11-02 11:44] darshankawar commented on #92876
Closing this as a duplicate of https://github.com/flutter/flutter/issues/56775.

As a workaround you may try or confirm, check [this](https://github.com/flutter/flutter/issues/56775#issuecomment-697044643) issue comment.

[2021-11-02 11:44] #92876 closed

[2021-11-02 11:46] michalkubizna commented on #92872
It's related to the non-renewable subscription. When I run the in_app_purchase example app the $0 purchaseIds are not showing up.

[2021-11-02 11:48] Khongchai opened #92905 "Update link to Rules tab"
In the https://firebase.google.com/codelabs/firebase-get-to-know-flutter#7

The link (and maybe the text as well?) of this point here
![image](https://user-images.githubusercontent.com/56601823/139840220-34a8b6ba-bea4-453c-95e1-b69649277532.png)
should be updated since the Rules tab has been moved to a new location.

When the link is clicked, Firebase tells me "This page has moved to new location.

[2021-11-02 11:57] darshankawar commented on #92873
That's correct, usually `PageStorage` is already included in the routes and hence could be conflicting with it's explicit usage along with navigator.

Keeping it open for further insights on a solution / workaround on this.

[2021-11-02 12:05] darshankawar commented on #92888
@Maheswari01A
Can you provide `flutter doctor -v` ?

[2021-11-02 12:06] Agondev commented on #92773
[✔️]
```"SelectedItemBuilder's index out of range (items.length != builder's children.length)"```

[✔️]
```"Index out of range (are you sure items and selectedItemBuilder return the same list length"```

[❌]
[code]

Assertion should have been caught within the dropdown widget class.

[2021-11-02 12:09] sm2017 commented on #92895
How we can detect the `AppLifecycleState` when `_notification` is null?! there is no way to get the current app state!

[2021-11-02 12:10] danagbemava-nc commented on #92905
@Khongchai, just to confirm, it takes you to your firebase console, where you have a list of projects?

Is that correct?

[2021-11-02 12:12] danagbemava-nc commented on #92773
Thanks for the suggestions

[2021-11-02 12:14] Khongchai commented on #92905
Yes, that is correct.

![image](https://user-images.githubusercontent.com/56601823/139843976-60d30cc4-9d51-4bc5-b60c-d4b8d52cb147.png)

[2021-11-02 12:16] Khongchai commented on #92905
Yes, that is correct.

![image](https://user-images.githubusercontent.com/56601823/139844243-757d4ac4-27b2-482d-a110-42e4ad0b6867.png)

[2021-11-02 12:16] JE0903 opened #92908 "[Windows Web] special characters needs to be pressed twice when entering text with Korean input method"
When I write Korean inside TextField widget on flutter web, space bar and other special characters like dot(.) doesn't appear right after Korean.

I have to put those things (space bar and special characters) twice to write what I intended to.

It works well with English but just not with Korean. With Flutter 2.0.6, It works well with Korean too, but the current version of Flutter 2.6.0-12.0.pre.5

[2021-11-02 12:17] maheshmnj commented on #92865
Hi @hassaanalansary, Thanks for filing the issue. I was able to reproduce the issue on the `stable 2.5.3` on
Desktop & Web on both (windows/mac), But this issue seems to be fixedd on the latest `master 2.6.0-12.0.pre.555` channel.

I would advise you to please either wait until the fix lands on the stable or you could switch to the master channel by running
[code]

or you could cherry-pick the fix

[2021-11-02 12:28] benyaminbeyzaie commented on #92825
Can I see the exact code of yours?

[2021-11-02 12:28] danagbemava-nc commented on #92905
It isn't so much as the page has moved but rather since firebase doesn't know which project you want to open the database for it redirects you to the console to select a project after which it will take you to the `rules` tab.

Regardless, this isn't documented and it needs to be, to avoid confusion.

[2021-11-02 12:30] danagbemava-nc commented on #92825
Sure, find the sample below.

<details>
<summary>code sample</summary>

[code]
</details>

[2021-11-02 12:34] MichaelTamm commented on #91582
I created PR #92660 to fix this problem. All checks have passed ...

[2021-11-02 12:40] stuartmorgan commented on #92651
All work has some priority, but whether something has a hard requirement by a certain date or not affects that priority.

[2021-11-02 12:41] benyaminbeyzaie commented on #92825
Aha OK yes it has no problem but consider this: you want to push the home page from another page again and you may initialize the state of the home page again but don't dispose other one! for example in second page you may have this:
[code]
and you will get the problem with navigation...
How we can handle this? we should change our navigation system to a better one?

[2021-11-02 12:45] rk0cc commented on #92741
Since this problem only happened on me. Therefore, I close this issue until someone encountered same issue or what I confirmed.

[2021-11-02 12:45] #92741 closed

[2021-11-02 12:59] arkanmgerges commented on #92903
Hi @danagbemava-nc, and thanks for the reply.
Let's suppose that my code is totally wrong, and this is not the point, I don't only want to fix my issue, but the problem is why in the debug mode does not show errors?
This can be a nightmare for the developer (my personal opinion), as I develop a large app in the debug mode, and no errors shown (usually I'm using it without -v option), and when we w

[2021-11-02 13:06] tryadelion commented on #92469
this breaks systems that rely on user-based credentials and configurations stored in $user_home/.gradle/gradle.properties.

[2021-11-02 13:06] danagbemava-nc commented on #92903
@arkanmgerges, I agree that it is strange which is why I made this statement.

Which is why I need your full sample so that it can be properly investigated.

Kindly provide the the `CustomElevatedButton` so I can see if it can be sufficiently reproduced and the appropriate actions taken.

Thank you

[2021-11-02 13:07] pdsliuzhen commented on #92891
this is a flutter module which embed in ios native project ,flutter run is ok, but run ios native project bluetooth keyboard input is not ok;

[2021-11-02 13:14] stuartmorgan commented on #92376
Nope.

Almost certainly the latter. I'll check later today; it's probably just missing quoting.

[2021-11-02 13:15] mkustermann commented on #79573
The `compute()` function has been changed by @aam to use the new `Isolate.exit()` API in 947ffa1f901122627377e7acf15140dd2f4bfca0.

So I think we can close this issue.

[2021-11-02 13:15] #79573 closed

[2021-11-02 13:16] maheshmnj commented on #92741
This does not necessarily mean that the bug does not exist.

Feel free to write back if you encounter the issue again, with some more details and reproducible steps I would be happy to take a look.
Thanks

[2021-11-02 13:19] maheshmnj commented on #92826
Awesome! someone from the team will review it soon.

[2021-11-02 13:21] Maheswari01A commented on #92888
@darshankawar
[√] Flutter (Channel stable, 2.5.3, on Microsoft Windows [Version 10.0.19042.1288], locale en-IN)
    • Flutter version 2.5.3 at C:\Users\79201\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 18116933e7 (3 weeks ago), 2021-10-15 10:46:35 -0700
    • Engine revision d3ea636dc5
    • Dart version 2.14.4

[√] Android toolchain - develop

[2021-11-02 13:22] danagbemava-nc commented on #92825
Oddly enough, I still don't get the error even with the code in this [comment](https://github.com/flutter/flutter/issues/92825#issuecomment-957477255)

<details>
<summary>video</summary>

https://user-images.githubusercontent.com/88313112/139854602-e9952724-bdcd-447e-8d9e-dfd6349dbe27.mp4

</details>

Kindly provide output of `flutter run -v`, the output will be huge so kindly put it into a .txt f

[2021-11-02 13:24] arkanmgerges commented on #92903
@danagbemava-nc Thank you for your reply. I will prepare a new project and I will try to make it have the same issue and provide it for the investigation.

[2021-11-02 13:24] danagbemava-nc commented on #92903
Thank you

[2021-11-02 13:32] Khongchai commented on #92905
Ah, I see. Thank you for having looked into this!

[2021-11-02 13:32] jensjoha commented on #92000
Skipping a compile when `invalidatedFiles` is empty seems like a symptom treatment to me --- but again, I don't understand what the `_updateDevFS(fullRestart: true);` call is for so I might be wrong.

[2021-11-02 13:33] Khongchai commented on #92905
Shall I close this issue then? Or should we wait for something about that to be documented first.

[2021-11-02 13:36] danagbemava-nc commented on #92905
Others may run into the issue, so let's leave it until it's documented

[2021-11-02 13:44] esDotDev commented on #92873
Would it be possible to give us a hook to disable this baked in behavior? Maybe we could change this to
_Add support for  `bool MaterialApp.enablePageStorage`?_

I'm not sure what the routes are really doing with this, since they lose state anyways when a route is removed from stage. I think this is so that sub-widgets of a route will retain their state when added/removed from the tree.

[2021-11-02 13:47] arkanmgerges commented on #92903
Hi @danagbemava-nc , I've created a new app with the issue successfully, and compressed it into zip file, you can download it from [my google drive](https://drive.google.com/file/d/13IFggzWjMC4Y4chvuppabn5Tr14zY2eR/view?usp=sharing)

I've tested it on my physical phone (Samsung Galaxy Note 10+), using the usb cable. and I tried the debug and release mode.
In debug mode there is no error and the pa

[2021-11-02 13:58] maheshmnj commented on #92827
Hi @asgerius, Thanks for filing the issue. I was able to reproduce the exception on stable and the master channel.

<details>
<summary>logs</summary>

[code]
</details>

<details>
<summary>flutter doctor -v</summary>

[code]

[code]
</details>

[2021-11-02 14:04] whesse opened #92911 "Flutter engine builds on arm64 hosts do not build Android targets"
The Android SDKs are not downloaded when building Flutter engine on an arm64 host, and the Android engines are not built.

This is controlled by https://github.com/flutter/engine/blob/master/DEPS#L70
which sets the "download_android_deps" variable for the gclient project.

This is needed, because there are no CIPD packages with the Android SDKs and NDK for the platform arm64, only for amd64 platfo

[2021-11-02 14:08] lumarama commented on #91810
Hello @danagbemava-nc, I see this issue on Android 11 (OnePlus 7). Please note that this issue happens when opening big video files only (1Gb or more).

flutter doctor -v
[√] Flutter (Channel stable, 2.5.3, on Microsoft Windows [Version 10.0.19041.1237], locale en-US)
    • Flutter version 2.5.3 at C:\sdk\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revi

[2021-11-02 14:14] danagbemava-nc commented on #92903
This is rather strange, when I run it in debug mode, I immediately got the error in the console. See attached logs.

`verbose logs`
[log.txt](https://github.com/flutter/flutter/files/7461323/log.txt)

`normal logs`
[normal.txt](https://github.com/flutter/flutter/files/7461344/normal.txt)

[2021-11-02 14:16] selvam920 opened #92912 "dropdown item height issue"
![image](https://user-images.githubusercontent.com/20491308/139864280-1e16a211-a8c2-4487-9340-bb355d7bc902.png)

sample code

[code]

[code]

[2021-11-02 14:21] maheshmnj commented on #92908
Hi @JE0903, thanks for filing the issue. I was able to replicate the issue on the stable channel, when entering a white space, special character (.?,/) or number with Korean keyboard enabled we have to press the keys twice.
On the master channel, the cursor position seems to be broken with korean keyboard input, when entering text the cursor jumps in the middle of text.

### stable

https://user-i

[2021-11-02 14:31] arkanmgerges commented on #92903
I'm using Android studio

![image](https://user-images.githubusercontent.com/7836805/139866422-8691439d-1146-4216-b0b2-486707975a23.png)

And all the logs are in the "Run" window bellow as shown:

![image](https://user-images.githubusercontent.com/7836805/139867267-104805c4-7ffc-4c74-9b97-e23fc2b5f1c3.png)

[2021-11-02 14:33] arkanmgerges commented on #92903
Also my device specification is:

![image](https://user-images.githubusercontent.com/7836805/139867635-62008a8c-e92c-43b9-8f73-a8d3b6ec4d5f.png)

[2021-11-02 14:42] TahaTesser commented on #48017
cc: @HansMuller
Do you think this is reasonable? If yes, what kind of approach would be best here?

[2021-11-02 14:58] wim07101993 commented on #92577
Ok this is dumb, probably the configuration was not found... When using `Develpment` the build fails but `"Debug development"` woks.

[2021-11-02 14:58] #92577 closed

[2021-11-02 14:58] or-adar commented on #92773
The assertion improvement sounds about right.
Just notice that catching an assertion error is weird, since assertions in dart are used in development and ignored during production, so it is weird to catch an error that doesn't always exist.

Also, the specific error that you've experienced was thrown by the IndexedStack widget (built in flutter), which is used by the DropdownButton widget.
So the

[2021-11-02 15:04] zanderso commented on #74268
/cc @christopherfujino

[2021-11-02 15:08] aliaktas-tr opened #92913 "signal 7 (SIGBUS), code 1 (BUS_ADRALN), fault addr 0x7e6bc88041"
I don't know what mean is this. Can anyone help me about this?

[code]

[2021-11-02 15:15] tgucio commented on #89748
FWIW, I've taken a look at the following assert I'm getting regularly while pressing some keys during hot restart:

<details>

<summary>'package:flutter/src/services/hardware_keyboard.dart': Failed assertion: line 788 pos 16: 'false': Should never encounter KeyData when transitMode is rawKeyData.</summary>

[code]

</details>

This is on: Flutter (Channel master, 2.6.0-12.0.pre.557, on macOS 11.6

[2021-11-02 15:23] arkanmgerges commented on #92903
I ran the app (bug_app) in VSCode and I can see the error in the `DEBUG CONSOLE`

![image](https://user-images.githubusercontent.com/7836805/139876920-9bb10808-99ae-403a-9365-37439f51b90b.png)

[2021-11-02 15:24] arkanmgerges commented on #92903
I don't know why I can not see this in Android Studio

[2021-11-02 15:25] stuartmorgan opened #92914 "Allow spaces in Windows binary name"
Currently, the CMake files for the Windows build use `BINARY_NAME`—which is intended to be what users would change to change their exectuable's name—as the target. That means that it doesn't allow spaces, because CMake target names can't have spaces.

The right way to set this up is to use a different variable (also set to the initial project name) as the target name, and use

[code]

which makes

[2021-11-02 15:26] stuartmorgan commented on #92376
It turns out it's not that simple unfortunately. Filed https://github.com/flutter/flutter/issues/92914

Given that nobody has ever asked for that functionality it's going to be low priority, but it is fixable.

[2021-11-02 15:26] ayanaEnt commented on #92887
I have tried both https and Google places

[2021-11-02 15:58] godofredoc commented on #92728
The jit test has run a couple of time in the last couple of days. Please reopen if it fails again.

[2021-11-02 15:58] #92728 closed

[2021-11-02 16:03] jmagman commented on #87809
https://github.com/flutter/engine/pull/29108 was rolled in with https://github.com/flutter/flutter/pull/92441 and is currently only available on the master channel.

[2021-11-02 16:06] nt4f04uNd commented on #92883
Your example could probably really be asserted against. However, having a scroll view inside other scroll view is generally a valid layout.

For example
[code]

See also https://github.com/flutter/flutter/issues/50946

[2021-11-02 16:12] keyonghan opened #92915 "Add device battery health check for devicelab testbeds"
It is not uncommon that tests fail/timeout due to battery running out. This happens when battery ages, unstable usb cable, loose connection port, etc.

We should have a health check in device doctor to quarantine the bot when battery is low.

[2021-11-02 16:21] keyonghan commented on #92422
Ran the test more than 10 times in a row on mac6, and all passed.
Like mentioned, this seems an infra related issue. IIRC, we had some device offline issue a while ago.
I would prefer to close this bug and created https://github.com/flutter/flutter/issues/92915 to prevent test failure caused by low battery.

 https://github.com/flutter/flutter/pull/92916 to deflake the test.

[2021-11-02 16:21] #92422 closed

[2021-11-02 16:23] Wissperwind opened #92917 "My flutter build server experienced an issue today."
In development I use the current versions from the master branch. For deployment I use a build server which checks out my code, builds fultter and other stuff, and ships it to the requestor.

It is important that the build server get's exactly the same flutter version that I used for testing. At the moment I commit a version.txt which contains the git commit ID from flutter. The build server execu

[2021-11-02 16:31] Hixie commented on #92747
It sounds like what's being requested here isn't about fonts-per-language, since the text is all in one locale. The CSS feature cited above is fonts-per-unicode-range. You can do this today by subsetting the fonts so that each included font only supports the characters you want it to support, and then specifying each of these fonts as fallbacks. This has the advantage of making the binary smaller

[2021-11-02 16:34] lhimo commented on #92244
@iamdipanshusingh I'm getting the same error, did you manage to solve this?

[2021-11-02 16:45] zanderso opened #92919 "New flutter gallery has higher average frame build times"
https://flutter-flutter-perf.skia.org/e/?begin=1635549275&end=1635808383&keys=Xe082e8f6c5d588cc5a920b1a18e030ef&num_commits=50&request_type=1&xbaroffset=26397

From the roll here: https://github.com/flutter/flutter/pull/92850/files#diff-6c68d092f94f541ad9d65ecb452f6ed56292c27169aa717872c2adb14b241503

Which seems to cover all changes since May: https://github.com/flutter/gallery/commits/master

On

[2021-11-02 16:46] asavchuk commented on #90193
Hey @domesticmouse ,
Probably you are right. As it mentioned in the codelab

so it will contain uniqe data per class object. At this perspective, can this constructor be `const`? Yes, it can, but as well as a regular contructor. And while making it `const` will not make any difference, at least for the current example, using a regular consructor will be more clear. Thanks.

[2021-11-02 16:47] goderbauer commented on #92874
Related internal bug: b/204887652

[2021-11-02 17:03] CaseyHillers commented on #92611
I sent https://github.com/SpinlockLabs/github.dart/pull/276 which fixes the test issues

[2021-11-02 17:20] jmagman commented on #92750
https://github.com/flutter/engine/pull/26547 was available in 2.3.0-24.0.pre so it's not fixed by that.  Wish the line numbers weren't optimized out.

[2021-11-02 17:25] jmagman commented on #92750
I don't see where `_textInputPlugin.get().textInputDelegate` is being set to nil during engine dealloc.  However, the crash is happening during `-[FlutterEngine setupChannels]`, not dealloc.
https://github.com/flutter/engine/blob/121849a45ac20ea4dd1b59a3fcb79d728e09bcce/shell/platform/darwin/ios/framework/Source/FlutterEngine.mm#L516

[2021-11-02 17:39] dnfield commented on #50946
Can you share meaningful user facing UI where you'd want this?

As a user I think I would find this confusing - what is the expected behavior when you have two axis aligned scrollables in the same plane?

[2021-11-02 17:42] jmagman commented on #92608
It seems like this is because the app is already paused at the point you've scheduled the notification to fire, and so your block won't get run until the app becomes foregrounded again.  I don't think this is particularly a Flutter issue--it's unexpected that a backgrounded app would just be able to run code scheduled for a future date?  I don't think this would work with a vanilla iOS app?  It's

[2021-11-02 17:42] #92608 closed

[2021-11-02 17:44] ArnoudWellens opened #92921 "annotationType(): unrecognized Attribute name MODULE"
## Steps to Reproduce

Flutter was working fine on my Windows machine, until I updated Java to Version 8 Update 311

## Flutter doctor

[code]

## Logs

<details>
<summary>Logs</summary>

An exception has occurred in the compiler (1.8.0_202-release). Please file a bug against the Java compiler via the Java bug reporting page (http://bugreport.java.com) after checking the Bug Database (http://bugs.

[2021-11-02 17:46] keyonghan opened #92922 "Update existing alert `Caches` to include hardware tags"
This is part of #92864.

Existing alert `Caches` consists of 4 platforms: `Linux/moto_g_4`, `mac/moto_g_4`, `mac/iphone6s`, and `mac/iphone4s`. All these four platforms share common `sub_result`:

[code]
The `mac/iphone6s` contains 3 more `sub_result`:
[code]

**Note**: 16 `sub_result` in existing alert `Caches` are not collecting data any more, and we will skip them:
[code]

**Actions**: separate

[2021-11-02 17:47] dnfield commented on #50946
I can think of one case - e.g. showing a text area that needs to scroll within the list.

[2021-11-02 17:48] dnfield commented on #92883
That's the kind of example I'd want to avoid - how is that good for a users? :) However, it does help me think of a valid example, e.g. if that large container was a text area that you wanted to allow the user to scroll while still scrolling the surrounding UI. I think it's probably still tricky for users, but could be valid.

Perhaps this would be good as a lint - @pq is that something that is li

[2021-11-02 17:52] blasten commented on #34688
@LongCatIsLooong are you working or planning to work on this issue?

[2021-11-02 17:53] chriscraws commented on #92021
Sure, that sounds good to me - do we keep the synchronous constructor as well?

[2021-11-02 17:55] justinmc commented on #63576
We are building clean a way to do this and other mouse interactions via Actions (CC @LongCatIsLooong) which unfortunately is going to take some time.  We could hack it in the meantime, but I'd like to avoid that if possible.

[2021-11-02 17:55] chriscraws commented on #85240
Thanks for your comment - that's true! It's on my TODO this week to revisit this issue.

[2021-11-02 17:56] yusuf-goog commented on #92833
there was a dialog on the device. cleared it.

[2021-11-02 17:58] #89378 closed

[2021-11-02 18:08] jmagman commented on #90610
Sorry for the forward duplicate, there's more details in https://github.com/flutter/flutter/issues/90892.

[2021-11-02 18:08] #90610 closed

[2021-11-02 18:10] StefPtrs commented on #74990
@tomgilder Can you try including the js script in this post in your index.html? That seems to have helped on my end as well (it might have a small performance penalty). https://github.com/flutter/flutter/issues/89655#issuecomment-955852024

[2021-11-02 18:11] yusuf-goog commented on #92833
Looks like tasks are passing on mac-5, closing.

[2021-11-02 18:14] iskakaushik opened #92925 "DRM causes failure of `external_ui_integration_test_ios`"
https://ci.chromium.org/ui/p/flutter/builders/prod/Mac_ios%20external_ui_integration_test_ios/2669/overview

[2021-11-02 18:15] justinmc commented on #92783
The reason that `onChanged` is triggered is because the composing region is collapsed when the keyboard is hidden.  If you log the whole TextEditingValue you can see what happens (using Gboard in English):

[code]

Because of that I think I'll close this issue.  @Mayank-9018 is this behavior creating a problem for you or can you work around it?  You could check the TextEditingController's TextEdit

[2021-11-02 18:15] #92783 closed

[2021-11-02 18:18] pq commented on #92883
Cases where the widget hierarchy is setup statically should be lintable for sure.   Specifically the issue is nested `ScrollView`s?

[2021-11-02 18:31] dnfield commented on #92853
Internal customer was able to work around this by not using the nested scroll view. Since this is no longer blocking them, I'm going to deprioritize. We should definitely fix this, but when @chunhtai is back I think he'll have more context than I do.

[2021-11-02 18:33] #89614 closed

[2021-11-02 18:33] dnfield commented on #92853
Assigning this to chuntai so we don't forget to talk about it.

[2021-11-02 18:35] dnfield commented on #92883
Nested scroll views in the same axis direction.

[2021-11-02 18:35] justinmc commented on #82321
That's fair, I'll advise https://github.com/flutter/flutter/pull/90157 not to allow arbitrary positions.

I'll chime in a bit later about the background gap in the border.

[2021-11-02 18:38] DJafari commented on #59327
+1
my app cpu usage reach to 70% - 80% !

apple m1 mac mini

[2021-11-02 18:44] keyonghan opened #92927 "Update existing alert `Time-based Alerts` to include hardware tags"
This is part of #92864.

Existing alert `Time-based Alerts` consists of 5 platforms: `Linux/moto_g_4`, `mac/moto_g_4`, `Windows/moto_g_4`, `mac/iphone6s`, and `mac/iphone4s`. Each of them contains different set of `sub_result`:

`Linux/moto_g_4` contains
[code]

`Mac/moto_g_4` contains:
[code]
`Windows/moto_g_4` contains:
[code]

`Mac/iphone6s` contains:
[code]

`Mac/iphone4s` contains
[code]

**A

[2021-11-02 18:46] keyonghan commented on #92864
List of alerts to update:

- Energy (https://github.com/flutter/flutter/issues/92877)
- Memory (https://github.com/flutter/flutter/issues/92879)
- Size sub_result (https://github.com/flutter/flutter/issues/92881)
- Technical debt (No trace is selected)
- Caches (https://github.com/flutter/flutter/issues/92922)
- Time-based Alerts (https://github.com/flutter/flutter/issues/92927)

[2021-11-02 18:48] bdero opened #92928 "Postsubmit windows shell flake: TaskRunnerTest.MaybeExecuteTaskOnlyExpired"
[code]

Failed build that closed the engine tree: https://ci.chromium.org/ui/p/flutter/builders/prod/Windows%20Unopt/2170/overview

[2021-11-02 19:02] bdero commented on #92928
Second failure: https://ci.chromium.org/ui/p/flutter/builders/prod/Windows%20Unopt/2171/overview

[2021-11-02 19:08] keyonghan commented on #92833
Do you remember what that dialog is?

[2021-11-02 19:13] #81910 closed

[2021-11-02 19:20] bdero commented on #92928
This is the test: https://github.com/flutter/engine/blob/9f20885cf05675bbd360a9d16d6ec54ed2d04006/shell/platform/windows/task_runner_unittests.cc#L63-L86

It looks like it's scheduling a task that's supposed to execute immediately and another one that's supposed to execute in T+10000, but the unit seems to be _nanoseconds_, which would mean it's scheduling the second task at **T+0.01ms**. This can

[2021-11-02 19:26] godofredoc commented on #92833
When we find issues like this, let's document the state of the test bed/phone. We need to be proactive on adding device doctor checks to prevent this type of issues in the future.

[2021-11-02 19:32] flar commented on #92874
In the case of OpacityLayer and FadeTransition, the typical execution of those mechanisms does not use saveLayer. The path that uses saveLayer is the backup path. The typical path caches the child and does a blit-with-alpha that should be about as fast as rendering the child with an alpha color. The primary savings for that main path would be to avoid the extra memory for the cache, as described i

[2021-11-02 19:36] Hixie commented on #92874
In theory, the render objects only use layer if layers are needed. That's what the compositing bit is all about.

[2021-11-02 19:39] mkustermann commented on #92679
So for me it seems that giving dill files with incorrect SDK hash to the `frontend_server` will make it error: I use two checkouts of the Dart SDK (`$HOME/sdk3` from which I'll use an old platform dill and `$HOME/sdk4` from which I build frontend-server):
[code]

=> The frontend server we build as part of the Dart SDK (which I believe is what Flutter uses) seems to have the right SDK hash in it an

[2021-11-02 19:41] zanderso commented on #92864
I don't understand why this is needed. The alerts segment metrics by type but don't cause unrelated data to be mixed. I don't see why the tags would cause fluctuations. Can you give me an example?

[2021-11-02 19:42] SergeShkurko commented on #47681
Can be used as a temporary solution:
[code]

[2021-11-02 19:49] flar commented on #92874
Unfortunately, the churn in the Pictures generated when a compositing layer appears and disappears can be worse than the saveLayer overhead, especially because the saveLayer can be avoided at the lower levels without require a change in the tree at the higher levels.

With the right RepaintBoundary the Pictures might not churn, but then adding/removing the OpacityLayer can churn the caching that m

[2021-11-02 19:57] Hixie opened #92931 ""luci-flutter" is an unintuitive name for indicating the tree status"
_Originally posted by @nayeemtby in https://github.com/flutter/flutter/issues/92343#issuecomment-958028747_:

It would be great if we could make this indicator clearer so that people could figure out what it means. "luci-flutter" is rather... unintuitive.

How about something like "Tree status (results of post-commit tests for the last PR to land)" or some such? Also maybe the "details" link could

[2021-11-02 20:15] christopherfujino commented on #91960
FYI @camsim99 this one might be good too

[2021-11-02 20:19] blasten commented on #34688
I heard @camsim99 is interested in working on this project

/cc @jmagman to scope for iOS

[2021-11-02 20:27] RobertHeim commented on #61175
* @kuhnroyal thanks for the hint - yes we can find it out as we know some affected devices.

* Another workaround we are thinking about is to provide a "decimal" Button (instead of via the keyboard). Ugly, but at least the users can do what they want.

* Depending on the user story it might also be a good workaround to choose a different UX where the decimals are always shown and the user does not

[2021-11-02 20:36] yusuf-goog commented on #92833
It was a USB accessory disabled dialog.

[2021-11-02 20:42] jakemac53 opened #92933 "Flutter android_intent plugin is blocking package:test upgrade"
See https://github.com/flutter/flutter/pull/92924

[2021-11-02 20:47] werainkhatri commented on #82321
@WieFel @mat100payette lemme know if this hack helps.

![Screenshot from 2021-11-03 02-14-22](https://user-images.githubusercontent.com/44755140/139948907-88a1a252-b18c-4f43-b6fa-4a89ac265ef2.png)

<details>
<summary>code</summary>

[code]
</details>

[2021-11-02 20:51] iskakaushik opened #92934 "EmbedderTest.VsyncCallbackPostedIntoFuture flake on Fuchsia"
Seen on: https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket/8831647968968307793/+/u/FEMU_Test/test:_Run_FEMU_Test_Suite_embedder_tests__3_/stdout

[code]

This is currently blocking PRs:
1. https://github.com/flutter/engine/pull/29482
2. https://github.com/flutter/engine/pull/29483

for example.

[2021-11-02 20:54] rydmike commented on #91607
@rami-a on a related note.

I ran into some limitations when using more nuanced dark themes and the way the current elevation color is applied in the SDK by the `applyOverlay` function.

I proposed a fix for it here https://github.com/flutter/flutter/issues/90353#issuecomment-927384841 that would help. However, since I suspected that Material 3 would bring in some new features to this, I decided t

[2021-11-02 21:00] iskakaushik commented on #92934
This started happening since: https://github.com/flutter/engine/pull/29453

[2021-11-02 21:02] Aristidios commented on #85759
Why was this issue closed ? Glitch is not fixed

[2021-11-02 21:04] jmagman commented on #88754
What about copying the css and tff from cupertino_icons into `assets-for-api-docs`: https://github.com/flutter/assets-for-api-docs/pull/171
Then updating the stylesheet link to point to the updated location? https://github.com/flutter/flutter/pull/92932

It's not ideal since we have two copies of the ttf file, but it will fix the doc glyphs until we come up with a better solution.

@gspencergoog c

[2021-11-02 21:07] keyonghan commented on #92864
You are right that alerts are based on trace (which is a combination of benchmark (performance test) and configuration (for example, OS)), and we will not have a mix of different types of data.

IMHO, by separating the alerts based on tags, we will have the flexibility to control thresholds on different platform levels, rather than a single setting for all.

The fluctuation here I meant is when we

[2021-11-02 21:07] mat100payette commented on #82321
@werainkhatri Although it does keep the label's background constant in terms of size, if forces the textfield's content to be padded too, plus the label isn't fully to the left of the field because of that same padding. So that's not really helpful sadly.

[2021-11-02 21:31] #92933 closed

[2021-11-02 21:37] ga-bri-el commented on #26348
To anyone looking into using compute to perform the conversion on an isolate:
UInt8List sometimes breaks compute for some reason that I've not been able to discover, but converting it to List<int> "solves" the issue. Take note that List<int> is less efficient than UInt8List.

[2021-11-02 21:38] dnfield commented on #92874
So `saveLayer` is really just bad because it involves a render target switch. @flar, are you saying that when we raster cache the child without a save layer we avoid a render target switch?

[2021-11-02 21:39] dnfield commented on #92874
@Hixie at the RO level, there's no good way to tell if you're drawing something that overlaps with some other RO in the same layer/picture. This is both because the `Picture` is opaque, and because you really don't have a good sense about whether you're the sole-painter or not.

[2021-11-02 21:42] flar commented on #92725
The children actually populating their caches would cause a huge issue.

What I'm saying is that if we prevent them from populating, then it would be nice if they still did the bookkeeping of "I'm still here" anyway. The cost of that shouldn't show up on any traces because that situation doesn't exist. The current code not only does the bookkeeping, it also allocates a cache image and renders to i

[2021-11-02 21:45] dnfield commented on #92725
My recollection is the frame that caused us to think about this had something like 15 DisplayLists in total. Something like 11 or 12 of them were nested under an `OpacityLayer`.

Each DisplayList needed somewhere around .1-.2ms to check for whether it should be cached. That adds up to 1-2+ms for the whole frame. This frame was _badly_ over budget anyway (100s of ms), but even if we tame it down to

[2021-11-02 21:46] bdero opened #92935 "Flake: ShellTest.CanCreateShellsWithMetalBackend segfaults (Mac Host Engine)"
This one has a 17% flake rate for the past 2 weeks:

[code]

Example failures: https://ci.chromium.org/ui/p/flutter/builders/prod/Mac%20Host%20Engine/12567/overview

[2021-11-02 21:47] flar commented on #92021
I can't say. For use in widgets, there are already a number of mechanisms to help them deal easily and naturally with Futures. It depends on what other use cases might be envisioned, but the Future version would mean you wouldn't really have to explain it.

Also, I guess it depends on if the Future version was implemented in such a way that the work was done on another thread. If it is just a cove

[2021-11-02 21:50] flar commented on #92874
Yes, the cache entry becomes just a source image to blit with modified opacity which is a cheap operation.

[2021-11-02 21:52] iskakaushik opened #92936 "mac builds are taking significantly longer"
1 hr 44 mins: https://ci.chromium.org/ui/p/flutter/builders/prod/Mac%20Host%20Engine/12567/overview

vs

10 mins: https://ci.chromium.org/ui/p/flutter/builders/prod/Mac%20Host%20Engine/12559/overview

This started happening sometime yesterday:

![image](https://user-images.githubusercontent.com/1006071/139956815-18169a76-86c2-428b-bb5d-4b31c36d01e0.png)

This is on mac-host-engine, but i've seen t

[2021-11-02 21:53] flar commented on #92874
Currently FadeTransition always uses a layer and doesn't check compositing bits afaict. If it avoided the layer and tried to use saveLayer itself then we wouldn't be able to optimize that out at the engine OpacityLayer level and you'd end up with the issue that Dan mentions above - it is hard to tell how complex a picture is at the framework level. We could expose some info about that eventually,

[2021-11-02 21:55] christopherfujino commented on #92574
@GaryQian would you by any chance know if this behavior is unexpected? cc @blasten

[2021-11-02 21:56] dnfield opened #92937 "ColorFilterLayer should participate in raster caching"
Similar to how `ImageFilterLayer` and `OpacityLayer` do.

/cc @flar for input

[2021-11-02 21:57] christopherfujino commented on #92005
This looks like a hot reload issue, and we need help from the Dart team diagnosing the root cause.

[2021-11-02 21:57] #92928 closed

[2021-11-02 21:58] dnfield commented on #92937
Probably should get `ShaderMaskLayer` as well.

[2021-11-02 22:03] ditman commented on #85759
@Aristidios can you also report what version of flutter you're using? The fix should be present in `flutter master` at least.

[2021-11-02 22:05] #92858 closed

[2021-11-02 22:06] werainkhatri commented on #82321
@mat100payette @WieFel could you confirm this is what you expect? Thank you for your feedback.

![Screenshot from 2021-11-03 03-33-49](https://user-images.githubusercontent.com/44755140/139958263-7f2dea53-2540-4f25-89f2-7bc73be5c86a.png)

[2021-11-02 22:10] mat100payette commented on #82321
@werainkhatri Yes, given that the label background you show in that image is invariant wherever it's located.

[2021-11-02 22:20] hassaanalansary commented on #92865
@maheshmnj thank you for your response and investigation.
I have installed fluter beta 2.7.0-3.1.pre and it was fixed.
Thank you and @LongCatIsLooong  for the great effort, keep it up

[2021-11-02 22:20] #92865 closed

[2021-11-02 22:24] cbracken commented on #89748
@dkwingsmt are you actively working on item 3 in the above list?

[2021-11-02 22:24] LongCatIsLooong commented on #68571
I was able to reproduce the issue on a RMX2001. It seems the keyboard isn't showing up because the framework calls `showSoftInput` first and then tells the input method to restart immediately. Switching the order of these 2 calls seems to fix the problem. Also tapping on the target field again should bring up the text field.

[2021-11-02 22:25] jmagman opened #92939 "Cocoon GitHub labeler is incorrectly applying package integration_test label to normal integration tests"
The `integration_test` label is for issues related to the `integration_test` plugin.
![Screen Shot 2021-11-02 at 3 25 21 PM](https://user-images.githubusercontent.com/682784/139960232-aec90041-6535-4524-b174-4680cba91ee2.png)

However, the cocoon labeler is applying it to any changes to a file containing "integration_test", for example `dev/integration_tests/flutter_gallery/`.

This test should fa

[2021-11-02 22:26] jmagman commented on #92939
/cc @Piinks

[2021-11-02 22:26] dkwingsmt commented on #89748
It is next on my queue, hopefully starting tomorrow.

[2021-11-02 22:38] cbracken commented on #92673
We discussed this a bit over chat and this seems likely to be an issue in the macos embedder integration with the compositor where we're incorrectly handling the case where we post a frame where we haven't pushed any layers.

I distinctly remember the case a couple years ago where we had a bug in flow caused by the same assumption -- that we will never have an empty list of layers, so I can very m

[2021-11-02 22:38] #92934 closed

[2021-11-02 22:40] Hixie commented on #92874
That makes sense.

[2021-11-02 22:40] #92925 closed

[2021-11-02 22:45] ditman opened #92942 "[plugin_tools] Some package names omitted in output?"
I just noticed that some times the build script will omit the package name header (and maybe some output?) for some packages, for example:

<img width="688" alt="Screen Shot 2021-11-02 at 3 36 48 PM" src="https://user-images.githubusercontent.com/1255594/139961558-6499ca1c-2f83-4522-be52-9339ecfb06f8.png">

(Missing "Running for local_auth" from [this build](https://cirrus-ci.com/task/474498534290

[2021-11-02 22:45] ditman commented on #92942
The output seems to be present in the raw output log; is this is a cirrus issue?

[2021-11-02 22:49] justinmc commented on #82321
This may be a bug in the border gap calculation.  I'm seeing if I can come up with a fix here: https://github.com/flutter/flutter/pull/92940

[2021-11-02 22:53] werainkhatri commented on #82321
Yes there is. I have found it and fixed it for ltr. Am currently working on rtl too.

[2021-11-02 22:55] yjbanov commented on #92312
Build/test separation in `felt` is as follows:

[code]

[code]

Where `run_tests_*` is one of:

- `run_tests_chrome`
- `run_tests_edge`
- `run_tests_firefox`
- `run_tests_safari`
- `run_tests_ios-safari`

What if instead of `WEB_ENGINE_TEST` environment variable we simply move the compiled web test output to a different location. For example, we could move them to `src/out`. Would that obviate the

[2021-11-02 22:55] keyonghan commented on #92936
Seems Goma is not working correctly:
[code]

[2021-11-02 22:55] zanderso commented on #92427
This is a duplicate of https://github.com/flutter/flutter/issues/91270

[2021-11-02 22:55] #92427 closed

[2021-11-02 22:57] zanderso commented on #92864
Ah, I think there is a little misunderstanding about how the SkiaPerf alerting works. It isn't based on hard-coded per-metric thresholds. Rather, it looks for changes w.r.t. the recent past using a configurable strategy along a single data series. So, I don't think splitting these alerts out along the lines of the tags makes sense.

[2021-11-02 23:02] Hixie commented on #92437
@DanTup If you could post an update when you have a chance that'd be great. Thanks!

[2021-11-02 23:03] kenzieschmoll commented on #91270
Not sure that I have any more info to add to this bug. Assigning back to @zanderso.

[2021-11-02 23:03] zanderso commented on #92021
I'm in general agreement with designing an API that makes it impossible to do the wrong thing (in this case doing potentially expensive work synchronous with a `build()` method).

[2021-11-02 23:05] Hixie commented on #89171
(Reassigned per discussion in triage meeting.)

[2021-11-02 23:06] zanderso commented on #91270
@godofredoc were you able to find out anything about linux-2?

[2021-11-02 23:11] christopherfujino commented on #80418
I'm working on a "fix" for this that would involve detecting if `flutter_tools` doesn't exit and toolExiting with the website link.

[2021-11-02 23:17] eseidelGoogle commented on #92681
FYI @chingjun who worked in a similar space Google-internal builds (where I think the mapping from app-version to build-CL and thus engine-hash + symbols is well known).

[2021-11-02 23:18] bernaferrari commented on #91607
@rydmike you should collaborate on issue 91605 (I'm not even going to link it here).

[2021-11-02 23:29] mat100payette commented on #82321
Good stuff guys. Just a quick question, will @justinmc 's PR gibe the same result as the last (correct) image @werainkhatri posted ? Because in the PR, the suggested "correct result" isn't exactly that, and it is in fact Not correct. Just making sure here.

[2021-11-02 23:31] keyonghan commented on #91270
We have an infra issue for linux2 in the past two weeks: https://github.com/flutter/flutter/issues/92429. As this bug was filed like a month ago, not sure how they correlate here. Let me check the current flake status.

[2021-11-02 23:34] werainkhatri commented on #82321
Yes it will. I have reviewed the PR and it has the identical changes I made in order to produce the above image.

[2021-11-02 23:41] #90892 closed

[2021-11-02 23:45] Hixie opened #92943 "Plugins repo should have the bot that checks that PRs have tests"
The flutter repo has a bot that checks that you've submitted tests. We should also enable that bot on all the other repos that have code, in particular including the plugins and packages repos.

[2021-11-02 23:45] Hixie commented on #92943
(Notably, when we have the "commit" bot, we will eventually want to enforce the same logic there.)

[2021-11-02 23:46] Hixie commented on #92943
q.v. https://github.com/flutter/flutter/issues/81711

[2021-11-02 23:46] godofredoc commented on #91270
The last 200 runs have been successful with a few infra failures because the lack of capacity in staging env.

https://ci.chromium.org/p/flutter/builders/staging/Linux_android%20flutter_gallery__start_up?limit=200

Linux-2 had an inflated battery and was replaced with a new phone on 10/29. I believe we can close this bug and reopen if it happens again.

[2021-11-02 23:46] #91270 closed

[2021-11-02 23:51] justinmc commented on #91759
I tried that again and couldn't ever affect the blue dot in the corner...  It does work on a native app though.  I'm doing this:

[code]

I went a little bit overboard and pasted that line all over the iOS engine but nothing ever changed...

[2021-11-03 00:18] flar commented on #92021
Since it is hard for code that needs asynchronicity to deal with synchronous code, and since synchronous code can always use await, I think that the asynchronous solution is fine by itself until someone demonstrates a case where it can be a pain.

[2021-11-03 00:26] jmagman opened #92947 "Many devicelab tests are failing with infra failures"
All ones that have been marked flaky?
![](https://cdn.discordapp.com/attachments/608021351567065092/905247728114753556/Screen_Shot_2021-11-02_at_5.11.06_PM.png)

Examples:
https://ci.chromium.org/p/flutter/builders/staging/Mac%20native_ui_tests_macos/219
https://ci.chromium.org/p/flutter/builders/staging/Mac_android%20run_release_test/168
https://ci.chromium.org/p/flutter/builders/staging/Linux_an

[2021-11-03 00:30] keyonghan commented on #92936
Created fxbug.dev/87842

[2021-11-03 00:35] heshaShawky commented on #83773
is this still not fixed?! I am facing the same issue, do you find a workaround for it

[2021-11-03 00:38] keyonghan commented on #92947
Now flaky tests are running in staging pool, which have limited capacity. All these infra failures are due to  queue timeout.
Especially for host only ones, now engine builders are experiencing goma issue: https://github.com/flutter/flutter/issues/92936

[2021-11-03 00:48] flar commented on #92725
I just saw we use MatrixDecomposition which seems like an amazing amount of computation for something that I'm not sure what value it adds. Would that overhead go away if we just skipped that step?

[2021-11-03 00:48] blasten commented on #92574
The official answer is https://stackoverflow.com/a/52132597. The warnings are expected, and doesn't indicate anything wrong with the APK.

[2021-11-03 00:48] #92574 closed

[2021-11-03 00:51] flar commented on #92725
It looks like the only results that we care about are whether it is singular which is a fast computation on SkMatrix, but requires a full 4x4 decomposition and analysis if run through MatrixDecomposition.

[2021-11-03 01:31] domesticmouse commented on #90193
Agreed, closing this issue out.

[2021-11-03 01:31] #90193 closed

[2021-11-03 01:40] domesticmouse commented on #92905
@kroikie as this was inherited from the JavaScript version of this codelab, I'm curious how y'all fixed this ambiguity?

[2021-11-03 01:41] mdevera-coding commented on #92337
@maheshmnj .....here is a repo that was created to produce the issue that I'm reporting.  Please view the steps to reproduce to understand what I followed to create this repo.... https://github.com/mdevera-coding/channel.git

[2021-11-03 01:45] godofredoc commented on #92936
Roller was stopped: https://autoroll.skia.org/r/fuchsia-mac-sdk-flutter-engine

[2021-11-03 01:52] tvolkert commented on #92673
The runApp twice in a row was just to get a minimal repro case.  The original repro was a case where I had an animation, and the last frame in the animation didn't paint anything.

[2021-11-03 01:54] stuartmorgan opened #92951 "Create a deployment page for Windows"
We should have https://flutter.dev/docs/deployment/windows, as we do for all the other platforms (including macOS and Linux); see https://github.com/flutter/website/pull/6436#pullrequestreview-795449494 for some background.

It should ideally:
- Move content that's currently on flutter.dev/desktop
- Expand to cover changing other things like the version that are in the .rc file.

/cc @domesticmous

[2021-11-03 01:55] stuartmorgan commented on #92942
Neither of the links have the problem shown in the screenshots when I follow them, so it's either transient or machine/browser-specific. Do you still see it?

[2021-11-03 01:58] xrr2016 commented on #92899
It's no reproduce 🤣

[2021-11-03 01:58] #92899 closed

[2021-11-03 02:00] stuartmorgan commented on #92943
We should dup https://github.com/flutter/flutter/issues/83514 here or this there, as you prefer.

[2021-11-03 02:00] two4zero opened #92953 "[web] no favicon in real production server"
Hi. flutter.

no favicon in my web server.

## Steps to Reproduce

1. `flutter create myapp`
2. `cd myapp`
3. `flutter build web`
4. `/build/web/ deploy to github.io`

or
1. `flutter create myapp`
2. push to github
3. deploy to awsamplify from github repo.

**Expected results:**
download & display favicon (favicon.ico or .png)

**Actual results:**
no favicon ( no download favicon.ico or favicon.pn

[2021-11-03 02:21] imiskolee commented on #41722
it is already pushing ?

[2021-11-03 02:45] fayfive commented on #92814
Here is it.
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.5.3, on Ubuntu 18.04.6 LTS 5.4.0-89-generic, locale zh_CN.UTF-8)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[✓] Chrome - develop for the web
[✓] Linux toolchain - develop for Linux desktop
[✓] Android Studio (version 3.5)
[✓] VS Code (version 1.61.2)
[✓] Conn

[2021-11-03 04:08] gspencergoog commented on #88754
@jmagman That seems OK to me. Most of the stuff in assets-for-api-docs is supposed to be generated from code, but there are already some exceptions, and these obviously can't be (and shouldn't be) generated.

[2021-11-03 04:12] chriscraws commented on #92021
I think the thing to do then is to make it so that `FragmentProgram` objects can only be constructed via a `Future<FragmentProgram> compile({required spirv: Uint8List})` constructor. Shader construction shouldn't block the UI thread, but getting a `Shader` object from a `FragmentProgram` should be fast enough to use every frame. I can draft a change.

[2021-11-03 04:17] dkwingsmt opened #92958 "[Web, engine] Decoding an image with transparency gives slightly incorrect results"

[2021-11-03 04:23] #89077 closed

[2021-11-03 04:50] Rohith-JN commented on #56812
This worked for me, but then now my dismissible background goes up after the list item is dismissed.

[2021-11-03 04:52] keyonghan commented on #92947
goma issue mitigated by rolling back the new version.
Manually canceled old queuing builders in engine, and the bots should start running top ones in both framework and engine.

[2021-11-03 05:03] keyonghan commented on #92864
Based on offline sync up, tags are not necessary as alerts are based on normalized data and are config specific. When we have new platforms in the future, their metric data will trigger alerts based on their own dataset.

Closing.

[2021-11-03 05:03] #92864 closed

[2021-11-03 05:03] keyonghan commented on #92877
Based on offline sync up, tags are not necessary as alerts are based on normalized data and are config specific. When we have new platforms in the future, their metric data will trigger alerts based on their own dataset.

Closing.

[2021-11-03 05:03] #92877 closed

[2021-11-03 05:03] keyonghan commented on #92879
Based on offline sync up, tags are not necessary as alerts are based on normalized data and are config specific. When we have new platforms in the future, their metric data will trigger alerts based on their own dataset.

Closing.

[2021-11-03 05:03] #92879 closed

[2021-11-03 05:03] keyonghan commented on #92881
Based on offline sync up, tags are not necessary as alerts are based on normalized data and are config specific. When we have new platforms in the future, their metric data will trigger alerts based on their own dataset.

Closing.

[2021-11-03 05:03] #92881 closed

[2021-11-03 05:03] keyonghan commented on #92922
Based on offline sync up, tags are not necessary as alerts are based on normalized data and are config specific. When we have new platforms in the future, their metric data will trigger alerts based on their own dataset.

Closing.

[2021-11-03 05:03] #92922 closed

[2021-11-03 05:03] darshankawar commented on #92815
Closing this as solved based on above comment.

[2021-11-03 05:03] #92815 closed

[2021-11-03 05:03] keyonghan commented on #92927
Based on offline sync up, tags are not necessary as alerts are based on normalized data and are config specific. When we have new platforms in the future, their metric data will trigger alerts based on their own dataset.

Closing.

[2021-11-03 05:03] #92927 closed

[2021-11-03 05:04] darshankawar commented on #92872
Can you provide `flutter doctor -v` and plugin version ?

[2021-11-03 05:05] darshankawar commented on #92468
@stsc3000
Adding `wait` label for this until then.

[2021-11-03 05:15] darshankawar commented on #92706
@owenchenwifigarden
[code]

which is pointing to dart package you are using https://pub.dev/packages/crypto, and you may need to reach out in dedicated repo for it: https://github.com/dart-lang/crypto/issues

[2021-11-03 05:30] manumohn opened #92960 "[google_maps_flutter][ios]Incorrect zoom level in TileProvider getTile function."
### Steps to Reproduce

- Implement `onCameraMove` call back in `TileOverlayPage` in google_maps_flutter's example.
- Run example project in google_maps_flutter.
- Note map's current zoom level in `onCameraMove`.
- Note zoom parameter requested in `TileProvider.getTile(int x, int y, int? zoom)`.

### Expected results:
Zoom level in `onCameraMove` and zoom level in `getTile(int x, int y, int? zoom)

[2021-11-03 05:30] crossle commented on #92796
Same problem on iPad using Magic keyboard

[2021-11-03 06:06] maheshmnj commented on #92888
@Maheswari01A,  Please share a [minimal and complete reproducible code](https://stackoverflow.com/help/minimal-reproducible-example) along with your widget test to investigate further.

Thanks

[2021-11-03 06:13] maheshmnj commented on #92814
Hi @fayfive

There is a similar issue describing this case https://github.com/flutter/flutter/issues/85460, Please follow up there for further updates, Closing this issue as a duplicate. If you disagree feel free to write in the comments and I will reopen it.

Thank you.

[2021-11-03 06:13] #92814 closed

[2021-11-03 06:15] backslashflutter opened #92961 "Flutter on MacOS catalina showing SDK and/or project is installed in a location that has read/write permission"
First of all, i know people are asking this quesiton in flutter community a lot reagrding the flutter doctor command. But i have tried all the methods that are available online and cannot find anything that is working for me. 1. When i try to run the flutter doctor command, then i am shown with the particular error

## Steps to Reproduce

1. flutter doctor -v
OR,
2. flutter doctor also

## Logs

<

[2021-11-03 06:18] flar opened #92962 "RasterCache::Prepare unnecessarily uses MatrixDecomposition"
One of the steps to verify whether or not we should cache a given picture is to check if the matrix has any anomalous conditions. It looks like the code only cares if the matrix is singular, but it uses the MatrixDecomposition class to determine this. Since that class first upgrades the 3x3 SkMatrix to a 4x4 SkM44 and then performs a lot of operations to classify various conditions about the full

[2021-11-03 06:18] flar commented on #92962
CC @dnfield @chinmaygarde

[2021-11-03 06:18] flar commented on #92725
I filed https://github.com/flutter/flutter/issues/92962

[2021-11-03 06:28] fayfive commented on #92814
@maheshmnj
I see. But the problem seems to have not been solved.

[2021-11-03 06:30] maheshmnj commented on #92337
@mdeveracoding I cloned and ran you project and it rained successfully in Xcode without any issues on the latest `stable 2.5.3`. Here's what I did

 - cloned the repo
 - `cd project`
 - `flutter pub get`
 - `open ios/Runner.xcworkspace`
 - built the app in xcode.

I would advise you to please share the complete output of `flutter doctor -v` of the MacBook where the build fails.
<details>
<summary>

[2021-11-03 06:31] sm2017 commented on #92355
After days of trying I found how can I reproduce it, I installed crashlytics by following [the guide](https://firebase.flutter.dev/docs/crashlytics/usage/)

To keep the reproduceable code simpler I replace crashlytics's functions with dummy functions, As my project is not null-safe the following reproduceable code is not-nullsafe too, please use `sdk: ">=2.7.0 <3.0.0"` and Flutter 2.5.3

In the fo

[2021-11-03 06:33] owenchenwifigarden commented on #92706
@darshankawar Ok, I have done it, thanks you so much for helping.

[2021-11-03 06:34] godofredoc commented on #92312
Is there a way to debug what is going wrong with running the tests from archives? the execution hangs after the devtools listening message.

This is the command we are running:
[code]

This is the output:
[code]

[2021-11-03 06:42] maheshmnj commented on #90987
@matheus7mm can you please try running a native android project and check if the app gets installed?

[2021-11-03 06:48] sm2017 commented on #92355
it's my fault!

By reading https://flutter.dev/docs/testing/errors#errors-not-caught-by-flutter and https://firebase.flutter.dev/docs/crashlytics/usage/#zoned-errors I found that

[2021-11-03 06:48] #92355 closed

[2021-11-03 06:51] pdsliuzhen opened #92963 "iOS 14+ flutter 2.5+ bluetooth keyboard can not input text in TextField on iOS device；"
iOS 14+ flutter 2.5+ bluetooth keyboard can not input text in TextField；i embed flutter module to ios native project; when i run flutter project ,it is ok; but when i run iOS native project, the iPad device can not input text by connected bluetooth keyboard;

[2021-11-03 06:57] danagbemava-nc commented on #92887
The `google_places` package has a dependency on `http` and since cors issues are from the browser, there really isn't much control flutter has over that.

Did you try this work around in the `google_places` package?

[code]

[2021-11-03 07:06] danagbemava-nc commented on #92903
I just tried with Android Studio and I got the error.

<img width="1440" alt="Screenshot 2021-11-03 at 07 03 26" src="https://user-images.githubusercontent.com/88313112/140020550-c9471c76-6a03-4653-9e6e-fe2d7e0d0ad2.png">

<details>
<summary>logs</summary>

[code]

</details>

[2021-11-03 07:11] maheshmnj commented on #92803
@two4zero, I did try deploying a new flutter app and could not reproduce any 404 error.

 here's the deployed app https://flutterappweb.netlify.app/#/,
 the source code can be found [here](https://github.com/maheshmnj/triage_issues/tree/master/apps/channel)

[2021-11-03 07:15] maheshmnj commented on #92913
Hi @aliaktas-tr, Thanks for filing the issue. Please update the issue describing How you encountered this error along with the output of `flutter doctor -v` and the complete logs `flutter run -v`

Thanks

[2021-11-03 07:16] darshankawar commented on #92912
@selvam920
This issue has been [fixed](https://github.com/flutter/flutter/issues/90964) and merged into master, but may not have landed in latest beta yet, so you'll probably need to switch to latest master to see the fix.
Closing this as fixed, but on master.

[2021-11-03 07:16] #92912 closed

[2021-11-03 07:16] realize-me opened #92964 "Tried to send a platform message to Flutter, but FlutterJNI was detached from native C++. Could not send. Channel: com/event. Response ID: 0"
After running for a period of time, EventChannel cannot deliver messages.
The error message:
`Tried to send a platform message to Flutter, but FlutterJNI was detached from native C++. Could not send. Channel: com/event. Response ID: 0`
When I restart the application, EventChannel can be used again, but after a period of time, I can't send messages anymore, showing the same error.

flutter doctor:

[2021-11-03 07:21] mamuseferha commented on #92895
@sm2017 `AppLifecycleState` can be detected in the `didChangeAppLifecycleState` method.

[code]
 And this method is called when the system puts the app in the background or returns the app to the foreground.

You can read about `didChangeAppLifecycleState` here https://api.flutter.dev/flutter/widgets/WidgetsBindingObserver/didChangeAppLifecycleState.html