[2017-10-23 19:41] DaveShuckerow commented on #12618
It's worth noting the difference between this and #12206:

This issue involves widgets that are on top of a background not casting a shadow, while the other is about widgets next to each other not casting a shadow.

[2017-10-23 19:53] LeonScroggins commented on #10895
Thanks. SkImage::MakeCrossContextFromEncoded calls into SkImage::MakeFromEncoded, so they should behave the same in this respect. i.e. They should draw correctly (as of recently, as that's a recent CL). The exception is if you're using WIC or CG (which is not the default). We have not implemented detecting the orientation for those (skbug.com/3834).

[2017-10-23 19:56] chinmaygarde commented on #10895
In what cases would we resort to using CG on iOS or Mac?

[2017-10-23 20:05] LeonScroggins commented on #10895
That's only if you'd prefer to use the platform decoders, you'd have something like the following somewhere:

SkGraphics::SetImageGeneratorFromEncodedDataFactory(SkImageGeneratorCG::NewFromEncodedCG)

We don't ever switch to decoding with CG unless you tell us to.

[2017-10-23 20:14] chinmaygarde commented on #10895
We don't ever do that. Would it make sense to do it though? If we did, maybe we wouldn't have to package in our own decoders.

[2017-10-23 20:20] Hixie commented on #11375
Specifically:
- [ ] It should be possible to tap between LTR text and RTL text on both ends. For example in "3WERBEH english2 1WERBEH", you should be able to tap on either end of the english text.
- [ ] On Android, when a cursor is between text of different directions, it should show the cursor in both locations. The side that is near the LTR text should be a half-cursor on the bottom, the part th

[2017-10-23 20:31] #7508 closed

[2017-10-23 20:40] gspencergoog commented on #12131
Oh, no, I've got that beat.  *226* times.

[log.txt](https://github.com/flutter/flutter/files/1408734/log.txt)

[2017-10-23 20:48] ZwoBot84 opened #12680 "Intent Plugin Alarm Error"
## Steps to Reproduce

I want to set an repeating Alarm for each day of the Week, but the Plugin can’t handle the required List of Days.

My Code looks like this:

_openReminder() async {
AndroidIntent intent = new AndroidIntent(
action: 'android.intent.action.SET_ALARM',
arguments: {
'android.intent.extra.alarm.DAYS': [1,2,3,4,5,6,7 ],
'android.intent.extra.alarm.HOUR': 21,
'android.intent.extra.

[2017-10-23 21:12] yjbanov opened #12681 "Merge custom TextStyle with Theme.of by default across all material widgets"
A number of our widgets take `TextStyle` to allow developers customize the look of text. For example, `InputDecoration` takes `labelStyle`, `helperStyle`, `hintStyle`, etc. It is desirable that the least path of resistance for developers using these options lead to reasonable results.

Currently we expect that the developer supplies a `TextStyle` that has _all_ the required style properties. That

[2017-10-23 23:01] Hixie commented on #11738
This is required to fix https://github.com/flutter/flutter/issues/11375.

At an LTR/RTL boundary, we need to get two values, one value for the "top" half of the caret (the value that's next to the RTL section) and one value for the "bottom" half of the caret (the value that's next to the LTR section).

[2017-10-23 23:38] Hixie commented on #11738
Probably we need to pass an optional argument that decides if you want the later position, the RTL position, or the LTR position, defaulting to later position.

[2017-10-23 23:40] Hixie commented on #11738
RenderEditable.getLocalRectForCaret should be updated equivalently.

[2017-10-24 00:02] Hixie opened #12683 "TextAffinity constructor has no documentation"

[2017-10-24 00:02] Hixie opened #12684 "Some BlendMode values have no documentation"

[2017-10-24 00:20] goderbauer commented on #12436
iOS:
* https://developer.apple.com/documentation/uikit/1615187-uiaccessibilityisvoiceoverrunnin
* https://developer.apple.com/documentation/uikit/uiaccessibilityvoiceoverstatuschanged?language=objc

[2017-10-24 00:57] cbracken commented on #12551
@devoncarew are we good to close this now?

[2017-10-24 01:09] #12133 closed

[2017-10-24 07:01] mravn-google commented on #12680
The plugin only knows how to populate the Android Bundle with scalar values. See:
https://github.com/flutter/plugins/blob/master/packages/android_intent/android/src/main/java/io/flutter/plugins/androidintent/AndroidIntentPlugin.java#L47

We should be able to generalize this.

[2017-10-24 09:15] Ghostrick commented on #12374
@roughike Thank you!

[2017-10-24 11:28] #12673 closed

[2017-10-24 11:42] brianegan commented on #12672
I got this working as well, but did feel it was a bit of a "tough handoff" to the intl package docs for further reading. I had to put the whole process together myself in my head and write a makefile to make it easily repeatable as I changed / added strings.

Would be cool to even have a step-by-step overview of the process:

  1. Define your strings using the intl package
  2. Notice: the `initia

[2017-10-24 13:03] LeonScroggins commented on #10895
I wouldn't recommend it. Most of our work is on our decoders. Years ago, we only built ours on Linux/Android, and used the platform decoders for Win and Mac, but we found that the platform decoders were not as good, so we removed them. We added them back because a client wanted them, because they didn't want to package in their own decoders. But even if you use the platform decoders, you still hav

[2017-10-24 13:51] johanhenselmans commented on #2089
I just got bitten by the same problem. I wanted to show the submitted app to a friend of mine, who has a 2012 ipad. No dice, allthough the machine run 10.3.3. According to the stats, in which I can see who picks up what, that is the case for a lot of our users. It would really help to have a proper 32/64 bit IOS toolchain in place, no matter what Apple supports. Not everyone replaces their devices

[2017-10-24 14:06] #12476 closed

[2017-10-24 15:30] LeonScroggins commented on #10895
A little bit more detail - when I say "most of our work is on our decoders", I mean to say that our decoders support more options (e.g. color types, color spaces, etc) and have been optimized for performance. In addition, we fix bugs that show up (compatibility or otherwise).

[2017-10-24 16:26] devoncarew commented on #12551
Yup, fixed :)

[2017-10-24 16:26] #12551 closed

[2017-10-24 16:26] mit-mit commented on #12670
Hi @ghqureshi we are supposed to prompt you to help you remember that step. Can you take a look at this bug https://github.com/flutter/flutter-intellij/issues/1417, and let me know if you saw that dialog?

[2017-10-24 16:49] johanhenselmans commented on #2089
I tried the https://github.com/flutter/engine/wiki/iOS-Builds-Supporting-ARMv7 version, but I left wondering about the last steps. The issue link seems to be fixed. I do not understand where to apply the gist patch that follows the link. Is that in the original flutter tools folder (in my case /Application/Developing/flutter)?

Also, I want a fat armv7/arm64 flutter, not a skinny armv7 flutter, ar

[2017-10-24 17:42] Hixie commented on #12436
What specifically do they want to trigger this from? Speech synthesis features? Any kind of accessibility feature? e.g. what should happen if the user has some combination of high contrast, increased font size, animations disabled, alternate inputs, screen reading, etc?

[2017-10-24 17:49] mit-mit commented on #12671
Do you mean for core steps like how to Run an app? If so, did you see the documentation on https://flutter.io/intellij-ide/ ?

[2017-10-24 17:50] goderbauer commented on #12436
The request here is to know if the user is currently using a Screen Reader (e.g. Talkback or VoiceOver). What other a11y features are enabled should not have any affect on this.

The idea is to use this information to slightly change the behavior of the UI. E.g. when a ScreenReader is used it is usually considered bad if elements (like an alert) time out after a while and disappear. So this reques

[2017-10-24 17:53] goderbauer commented on #12436
Another use case: It is also recommended that important interaction elements are placed at the top of the screen when a screen reader is used. For that purpose, some apps apparently put the functionality of the FAB in the top toolbar when a screen reader is in use.

[2017-10-24 18:17] #12271 closed

[2017-10-24 18:30] kinshul opened #12691 "Scaffold App Bar shows a back button momentarily after a Navigator.pushReplacement call, even on an empty navigator stack"
## Steps to Reproduce

1) Found this issue when I was trying to navigate from a screen to another using the `Navigator.pushReplacement()` call, after clearing the Navigator route stack using `Navigator.pop().` To reproduce build a two screen app, where both of the screens use a `Scaffold` with an `AppBar`.

2) In your app use
[code]
 to navigate from one screen to the other.

3) The observation is

[2017-10-24 18:46] efortuna commented on #11177
+1 this affects codelabs and anyone working with Flutter for the first time who doesn't have a physical device

[2017-10-24 20:54] Hixie commented on #12681
One thing we could do is split TextStyle into two classes, TextStyle and ConcreteTextStyle, where the latter is a subclass of the former, and where TextStyle's constructor creates a TextStyle if inherited is true, and a ConcreteTextStyle if inherit is false. Then we could change all our properties and so forth to either expect a TextStyle or a ConcreteTextStyle. Not sure how much that would help,

[2017-10-24 20:55] Hixie commented on #12691
Fascinating...

[2017-10-24 22:01] Hixie commented on #12676
Can you elaborate on why this is a blocker?

[2017-10-24 22:05] Hixie commented on #11961
@jason-simmons volunteered to take a look and see what this would involve.

[2017-10-24 22:06] robertoscaramuzzi commented on #12676
Because I'm listening to ScrollUpdateNotifications to sync two ListViews and this breaks the syncing (the two ListViews are off by the height of the header). I know you suggested offline another way to sync the lists, but that's a lot more work than what I'm doing now.

[2017-10-24 22:08] Hixie commented on #11961
We can probably do paint easily enough, though strokes and shapes would be non-trivial on the engine side.
We could do anything on the framework side but figuring out the offsets would be expensive.

[2017-10-24 22:10] Hixie commented on #11661
@harveynick This is on our radar, but can you speak to your priority for this? Is it a blocker?

[2017-10-24 22:19] Hixie commented on #4353
@cbracken says we should look into what other frameworks do (e.g. Xcode itself). It would make sense to match platform conventions.

[2017-10-24 22:21] Hixie commented on #4355
Finding out the state is something you can only do asynchronously, so we should delay building this UI until we know.

[2017-10-24 22:24] Hixie commented on #4358
This could help build #5043.

[2017-10-24 22:26] Hixie commented on #4369
Looks like this is fixed.

[2017-10-24 22:26] #4369 closed

[2017-10-24 22:27] Hixie commented on #4392
@devoncarew Do we have any devicelab tests that do this yet?

[2017-10-24 22:28] Hixie commented on #4438
Does this happen automatically these days with Gradle?

[2017-10-24 22:29] #4447 closed

[2017-10-24 22:29] Hixie commented on #4457
Since nobody responded, I'm going to take that as a no.

[2017-10-24 22:29] #4457 closed

[2017-10-24 22:31] #4481 closed

[2017-10-24 22:32] Hixie commented on #4491
Does the memechat video address this sufficiently?

[2017-10-24 22:33] sethladd commented on #4491
Great call! Yes, probably.

Before we close this out, @emshack @efortuna can you link to that codebase?

[2017-10-24 22:35] Hixie commented on #4535
@abarth If you want to do this we would accept patches. However, we're not going to track this any more.

[2017-10-24 22:35] #4535 closed

[2017-10-24 22:36] xster opened #12697 "Investigate performance regressions on gallery transition and scroll"
![screen shot 2017-10-24 at 3 35 50 pm](https://user-images.githubusercontent.com/156888/31971536-1a5700fc-b8d1-11e7-9496-81802b7b962c.png)
![screen shot 2017-10-24 at 3 35 54 pm](https://user-images.githubusercontent.com/156888/31971540-1b6b3ac6-b8d1-11e7-8685-fa358109654c.png)

[2017-10-24 22:37] efortuna commented on #4491
Yup. Here's the video: https://www.youtube.com/watch?v=w2TcYP8qiRI
And here's the repo: https://github.com/efortuna/memechat

[2017-10-24 22:41] sethladd commented on #4491
Thanks! It's a great example of a single codebase that is tweaked for iOS and Android.

[2017-10-24 22:41] #4491 closed

[2017-10-24 22:55] Hixie commented on #4740
Dupe of #4630.

[2017-10-24 22:55] #4740 closed

[2017-10-24 22:56] Hixie commented on #4741
Closing this since we're not showing this demo any more and nobody else has raised this issue.

[2017-10-24 22:56] #4741 closed

[2017-10-24 22:56] Hixie commented on #4540
I'm going to close this and let the analyzer team deal with it. @pq

[2017-10-24 22:56] #4540 closed

[2017-10-24 22:57] alanrussian commented on #11661
This is a launch blocker for mulligan. However, we can continue coding in the meantime.

[2017-10-24 23:02] #4615 closed

[2017-10-24 23:03] Hixie commented on #4624
We are closing this since we don't have enough information.

[2017-10-24 23:03] #4624 closed

[2017-10-24 23:03] Hixie commented on #4657
cc @goderbauer

[2017-10-24 23:11] Hixie commented on #12676
Roger, thanks.

[2017-10-24 23:11] Hixie commented on #12676
Your example above uses NestedScrollView; is that important to reproducing the bug?

[2017-10-24 23:15] Hixie commented on #12675
We do not currently have such a widget, but it's certainly something that would be useful.

[2017-10-24 23:19] Hixie commented on #4570
Dupe of https://github.com/flutter/flutter/issues/9211.

[2017-10-24 23:19] #4570 closed

[2017-10-24 23:20] thelong1EU commented on #12675
Hi!
I'll try to make something out of this. I need it in order to change my whole app to flutter. I'll update here when I got news. It would be a grate thing to have this native, because nether Android nor iOS have a good  native RichTextEditor.

Thanks for your work!
![bitmoji](https://render.bitstrips.com/v2/cpanel/7834193-332137330_5-s4-v1.png?transparent=1&palette=1&width=246)

[2017-10-24 23:22] robertoscaramuzzi commented on #12676
Not sure. That's the only way I've tried it.

[2017-10-24 23:23] Hixie commented on #12666
@goderbauer any ideas?

[2017-10-24 23:24] Hixie commented on #12664
cc @goderbauer fyi
maybe we should detect this condition somehow?

[2017-10-24 23:32] Hixie commented on #11582
or maybe something similar but directly in the paint() method using layers.

[2017-10-24 23:33] goderbauer commented on #12666
@09abhishek You should probably consider updating your PowerShell. Version 2 is very old. It should still work with flutter, though.

In your `flutter` dir, does the following file exist? `bin\cache\dart-sdk\bin\pub.bat`?

Can you cd into `flutter\packages\flutter_tools` and in there execute `..\..\bin\cache\dart-sdk\bin\pub.bat upgrade --verbosity=error --no-packages-dir`. What does that get you?

[2017-10-24 23:35] Hixie commented on #12650
You can probably do what you want using CustomMultiChildLayout and SingleChildScrollView.

[2017-10-24 23:38] Hixie commented on #12650
...actually that won't work because you can't size yourself based on your child's size in that widget. Hmm.

[2017-10-24 23:45] Hixie commented on #12650
This probably needs some dedicated machinery.

[2017-10-24 23:49] goderbauer commented on #12555
You're right. Not sure what caused this. I am closing this since the issue was resolved by installing 7zip. Please re-open if you continue to have problems

[2017-10-24 23:49] #12555 closed

[2017-10-24 23:53] #11014 closed

[2017-10-24 23:54] goderbauer commented on #10527
I am not seeing this on my system. @b-strauss Is this still an issue for you?

[2017-10-24 23:59] goderbauer opened #12698 "Spaces in Android SDK path cause problems on Windows"
See https://github.com/flutter/flutter/issues/9976#issuecomment-301178898.

[2017-10-24 23:59] goderbauer commented on #9976
Looks like the problem is a space in the Android SDK path. I have filed https://github.com/flutter/flutter/issues/12698 for that.

[2017-10-24 23:59] #9976 closed

[2017-10-25 00:01] goderbauer commented on #10286
Dup of https://github.com/flutter/flutter/issues/10244.

[2017-10-25 00:01] #10286 closed

[2017-10-25 00:07] goderbauer commented on #10682
This doesn't reproduce anymore. Maybe it got fixed. Please re-open if you see the issue again.

[2017-10-25 00:07] #10682 closed

[2017-10-25 00:09] Hixie commented on #12173
(Side note: when changing this kind of thing I would recommend just wrapping the AppBar in an appropriate Theme so that you don't have to individually control each component.)

This is a dupe of https://github.com/flutter/flutter/issues/4630; in the meantime you can work around it by manually calling `SystemChrome.setSystemUIOverlayStyle()`.

[2017-10-25 00:14] LarkAscending commented on #11604
Fixed in early Sept... The black icon was a transient product issue, which got fixed post-I/O!
https://codelabs.developers.google.com/codelabs/flutter/#4

[2017-10-25 00:14] #11604 closed

[2017-10-25 00:15] Hixie commented on #12643
You should feel empowered to do this. :-)

[2017-10-25 00:15] Hixie commented on #12643
(as part of writing the doc for the web site, i mean)

[2017-10-25 00:17] #11801 closed

[2017-10-25 00:18] LarkAscending commented on #11469
See https://github.com/flutter/flutter-intellij/issues/1429
/cc @pq

[2017-10-25 00:20] Hixie commented on #12675
This would be a perfect thing to develop as a package, for sure! Let us know if you need any advice or if you run into any bugs that block your work or anything, we would definitely want to help you be successful in developing a rich text editing widget!

cc @sethladd

[2017-10-25 00:28] LarkAscending commented on #11605
Fixed in early Sept; it makes sense to debug build() methods, not setState(). New text:

Practice using the debugger by setting breakpoints on the build() methods in your Friendlychat app, then run and debug the app. You can inspect the stack frames to see the history of method calls by your app.

[2017-10-25 00:28] #11605 closed

[2017-10-25 00:57] cbracken opened #12701 "flutter_tool: packages get/upgrade test timeout on failure to delete file"
## Steps to Reproduce

Hit a flake wherein test/commands/packages_test.dart failed on Appveyor (Windows) with the following error:
[code]

Failed on PR #12699

[2017-10-25 01:10] giraldeau commented on #12345
I have a similar issue after upgrading to Xcode 9.0.1. The devices are not listed anymore, even though `open -a Simulator.app` actually starts the iOS device. I ran the command `xcode-select` to make sure that the current Xcode is the default. All devices returned by `/usr/bin/xcrun simctl list --json devices | grep state` are in the Shutdown state, so that looks like an issue with Xcode rather th

[2017-10-25 01:11] cbracken commented on #12637
Fixed by #12699

[2017-10-25 01:11] #12637 closed

[2017-10-25 01:15] cbracken commented on #12345
@giraldeau thanks for the doctor output.

Given that Xcode itself doesn't support this, the fix here is for us to emit an actionable `flutter doctor` message to steer the user in the right direction.

[2017-10-25 01:20] giraldeau commented on #12345
@cbracken thanks for the feedback. I understand, the fault is not on flutter, but do we have a workaround for this problem, or is it something to investigate? Thanks!

[2017-10-25 01:36] cbracken commented on #12345
There are a couple things we can do here I think:
1. If multiple Xcode installations are present, emit that in `flutter doctor`. A reasonable assumption is to check the `/Applications` and `$HOME/Applications` directories for directories named `Xcode*.app` that contain `Contents/Developer/usr/bin/xcodebuild`.
2. As an improvement on (1) get the version info from each of those and if the currently

[2017-10-25 01:39] xster commented on #4630
Another issue with the current mechanism is that the chrome color is set during AppBar's build and during page transitions, the outgoing AppBar's build can be called one last time after the incoming page's built so there's no good way for the incoming page to set the color in a contained way without being overridden.

[2017-10-25 01:42] cbracken commented on #8464
Yep [3](https://github.com/flutter/flutter/issues/8464#issuecomment-283125654) is the same issue as this one.

[2017-10-25 01:42] #8464 closed

[2017-10-25 01:49] xzyan opened #12702 ""The setter 'readEventsEnabled=' was called on null" Flutter tool error on Ubuntu"
[code]

[2017-10-25 03:15] gspencergoog commented on #12312
In what is probably a related problem, AppVeyor gave me this message a couple of times at the start of a run:

[code]
It went on to run the tests, but eventually they too timed out like the logs above.

[2017-10-25 05:42] frederickcook commented on #10963
I stumbled upon this issue and was curious so looked up the [material design spec](https://material.io/guidelines/material-design/material-properties.html#).

The spec doesn't address touch events on transparent materials specifically but in every specification with opacity, there is no mention that the core rules that a material is solid and impenetrable would go away if that material is transpar

[2017-10-25 07:49] cjztool opened #12704 "boxdecoration hide icon button's ripple , does the rendering order right?"
## Steps to Reproduce
Follow the page  [https://codelabs.developers.google.com/codelabs/flutter/index.html#5](https://codelabs.developers.google.com/codelabs/flutter/index.html#5)

my code is :

[code]
then it shown like this:
![screenflow](https://user-images.githubusercontent.com/3993323/31986228-425b9d68-b92d-11e7-8176-de3deab993c2.gif)

after add the decoration  (uncomment the line 14)

![scre

[2017-10-25 09:01] bjornbjorn opened #12705 "Failed assertion: line 2732 pos 14: '_semantics != null': is not true."
## Steps to Reproduce

This is a menu item called "Logout" in my Drawer:

[code]
When clicking the menu item I got this:

[code]
So I uncommented `// Navigator.of(context).pop()` and hit hot reload to test and then I got the error below (asking me to file this as an issue here).

## Logs

[code]

Run `flutter analyze` and attach any output of that command also.

Analyzing /Users/bjorn/Documents/wo

[2017-10-25 09:08] mit-mit commented on #12476
@yjbanov can you publish the changes, please? (I tried, but don't have upload perms).

[2017-10-25 09:39] b-strauss commented on #10527
Yes this still happens, but I only have this problem on my work pc, not at home. Same Windows version.

[2017-10-25 10:06] bjornbjorn commented on #12396
How is this one coming along? :)

[2017-10-25 10:46] cjztool opened #12706 ""wrapping hell" like this"
[code]
will Flutter improve API ?

[2017-10-25 11:17] najeira opened #12707 "Tap position incorrect with iOS in-call status bar"
iOS has "in-call status bar" that is extended status bar.
There is a gap between the position of the tap and the widgets.

![47d6ac2022de5fa84b429157685e74b5](https://user-images.githubusercontent.com/1098127/31996060-ec11f9c6-b9c1-11e7-901a-f2b10021c14c.gif)

## Steps to Reproduce

Enable In-call Status bar.
on iOS simulator: Menu > Hardware > Toggle In-call Status bar

## Flutter Doctor

[code]

[2017-10-25 13:08] aegis123 commented on #3671
Another reason to want background processing is if you want to create a Streaming Audio app. The user open the app to start an audio stream. The background process downloads the stream and plays the audio end receives events to start/stop/pause/ff/rewind end sends events to change UI e.g the the seekbar audio meta data to ui. You need a background process for when the user leaves your apps ui the

[2017-10-25 14:46] aam opened #12708 "Improve resilience of Gradle wrapper download"
from [travis log](https://travis-ci.org/flutter/flutter/jobs/292640911), `+./bin/flutter update-packages` failed with

[code]

[2017-10-25 14:51] #12680 closed

[2017-10-25 15:03] 09abhishek commented on #12666
@goderbauer
@Hixie
No .. There is no any file like pub.bat at the mentioned path!

![image](https://user-images.githubusercontent.com/16036641/32005827-e98d17a2-b9c2-11e7-9de9-f5c25c82741d.png)

![image](https://user-images.githubusercontent.com/16036641/32006009-4c137146-b9c3-11e7-9ee2-a56f0c1dfc11.png)

[2017-10-25 15:16] aam opened #12709 "Flaky build failure - "coverage" shard ran out of allocated time"
From [travis log](https://travis-ci.org/flutter/flutter/jobs/292519468):

[code]

[2017-10-25 15:35] a14n commented on #10694
I just hit 3 timeout today on the coverage job.

[2017-10-25 15:48] eseidelGoogle opened #12710 "Move Fuchsia content handler out of flutter/engine repository"
Writing down one of the asks from @abarth into an issue.

This mostly involves moving the Fuchsia content handler to use @chinmaygarde's new embedder API.  This will also certainly require extending the embedder API to support the necessary cases.

One tricky one which was pointed out to me is that currently SceneBuilder knows about Fuchsia childViews, and presumably that should be factored out su

[2017-10-25 15:52] eseidelGoogle opened #12711 "Support running multiple FlutterViews on separate threads in a single process"
A request from @abarth:

Currently, Fuchsia runs multiple Flutter apps inside the same process (multi-tenanting), but because of restrictions from the Blink code, all these apps apps share a thread.  We'd like to (at least) run the Dart code for these apps on separate threads.  My guess is that this problem should be quite tractable after you complete the libtxt migration (given that Minikin was a

[2017-10-25 16:00] aam commented on #12709
After restarting, the job completed successfully (https://travis-ci.org/flutter/flutter/jobs/292640909) after running for 45m 21s

[2017-10-25 16:15] sethladd commented on #12706
Thanks for the feedback!

The best advice we can offer now is to refactor your largely nested structures into methods and new widgets. Encapsulation helps a lot.

For example, we might recommend:

[code]

cc @mit-mit @devoncarew for https://github.com/flutter/flutter-intellij/issues/1250

fyi @kasperl @sandholm

[2017-10-25 16:16] sethladd commented on #12706
Really appreciate the feedback. Right now, we have no immediate plans to change the code structure, but we encourage encapsulation and refactoring out into methods and other widget classes. I'll close this now but the feedback is received and is helpful.

[2017-10-25 16:16] #12706 closed

[2017-10-25 16:18] sethladd commented on #11388
PR from @5u3it is up: https://github.com/flutter/flutter/pull/12686

[2017-10-25 16:20] sethladd commented on #12675
Great idea for a package! As @Hixie mentioned, please do keep us posted on your progress and let us know if you have questions.

I'll label this as a good candidate for a package.

[2017-10-25 16:30] bustazone commented on #12546
Thank you!!! I also like to have this functionality working!!!

[2017-10-25 16:37] amirh opened #12712 "Failed assertion in scrollable.dart ('_drag == null': is not true.)"
## Steps to Reproduce

Just had this happen once when scrolling in the gallery app  home screen (Flutter unmodified TOT sycned to cbfed1960f80964ba89f0093a49e1a0d44ca95d9) with TalkBack on (was scrolling with 2 fingers).
The scroll was not responding and I had this crash in the log.

Couldn't reproduce this again.

## Logs

E/flutter ( 3509): [ERROR:topaz/lib/tonic/logging/dart_error.cc(16)] Unhan

[2017-10-25 16:42] amirh opened #12713 "Failed assertion in gestures/converter.dart ('!state.down': is not true.)"
## Steps to Reproduce

I just had this happening twice when going back from a demo page to the home page in the gallery app (TalkBack was on).
I was running unmodified Flutter TOT (synced to cbfed1960f80964ba89f0093a49e1a0d44ca95d9)

## Logs
[code]
Run `flutter analyze` and attach any output of that command also.

[code]

## Flutter Doctor

[code]

[2017-10-25 16:49] goderbauer commented on #12666
Looks like something went wrong while downloading the dart sdk. Can you delete the `cache` folder inside `bin` and then run `flutter doctor` again? What's the output?

Are you by any chance behind a firewall (or using a proxy) that might be blocking the download of the dart sdk?

[2017-10-25 16:59] a14n commented on #12709
Related to #10694

[2017-10-25 17:05] mehmetf commented on #12278
@Hixie @abarth

The use case here is that we have a custom AppBar icon solution that shows both back button and menu button. Basically the build function of our Scaffold providing widget sets the leading icons as follows:

[code]

That causes the back button to show when drawer is opened (understandably). The problem is that when the drawer is dragged to a close slowly (such that no fling is execu

[2017-10-25 17:40] pauldemarco opened #12714 "Firestore Plugin - "Reply already submitted""
The Firestore plugin will sometimes throw:
[code]

This manifests itself platform-side when the `handle` argument throws a NPE, [see comment here](https://github.com/flutter/plugins/blob/1c38afea94bf14465c550e9e3938e7659db1b049/packages/firebase_firestore/android/src/main/java/io/flutter/plugins/firebase/firestore/FirestorePlugin.java#L155)

I assume from the code comment that this has been experi

[2017-10-25 17:57] sethladd commented on #12714
Thanks for the report!

cc @kroikie

[2017-10-25 18:01] goderbauer commented on #12586
Re-installing the TalkBack apk fixed this.

[2017-10-25 18:01] #12586 closed

[2017-10-25 18:22] mehmetf commented on #12278
It seems that Drawer is using the local history handling instead of actual navigator history. If this is a contract (and not an internal implementation detail), we can solve this by:

[code]

What do you think?

[2017-10-25 18:42] chinmaygarde commented on #12088
This has [been implemented](https://github.com/flutter/engine/blob/7f676451ae69031ed4487187e7402706f8e0b5eb/shell/platform/embedder/embedder.h#L126). Closing.

[2017-10-25 18:42] #12088 closed

[2017-10-25 18:52] thelong1EU commented on #12675
Sure! As soon as I finish the i18n plugin I'll get started with this. I'm making something similar with the Android Studio Resource System for strings but using the arb format.

[2017-10-25 18:58] chinmaygarde opened #12717 "Engine embedder API must support the Fuchsia content handler."
This will also allow the mobile shells to switch to using the embedder API.

- [x] Allow running a Dart project from AOT or DBC sources.
- [x] Migrate to `libTXT` and ensure that the shell can build on Fuchsia.
- [ ] Support calling `FlutterEngineRun` multiple times.
- [x] Each call of `FlutterEngineRun` must setup a separate instance of the Dart UI thread.
- [ ] Add a `FlutterRendererType` that a

[2017-10-25 19:01] chinmaygarde commented on #12710
A meta-issue tracking all the embedder specific features that need to be implemented [is filed here](https://github.com/flutter/flutter/issues/12717).

[2017-10-25 19:01] chinmaygarde commented on #12711
A meta-issue tracking all the embedder specific features that need to be implemented [is filed here](https://github.com/flutter/flutter/issues/12717).

[2017-10-25 19:14] xster commented on #12569
Actually I'll have to make a breaking change, since the font asset 'names' will be different inside a dependent package vs direct asset dependencies. Will need to have a warning in the tool and make an announcement.

[2017-10-25 19:53] eseidelGoogle opened #12720 "Support underlining spelling errors in Flutter inputs"
I believe both iOS and Android support this as an option.  I saw this in a customer: mulligan mock just now.

Here is an example from iOS 11 messages app:
![img_2005](https://user-images.githubusercontent.com/11857803/32019933-8361c480-b983-11e7-818b-a5a90ad3dae5.PNG)

[2017-10-25 20:07] devoncarew commented on #4392
No, not that I'm aware of.

[2017-10-25 20:27] Ivaskuu opened #12722 "Barrier dismissible dialogs pops on back button press"
## Steps to Reproduce

[code]

I think that barrier dismissible dialogs shouldn't be closed by pressing the back button (the system one).

[2017-10-25 21:28] #11992 closed

[2017-10-25 22:09] cbracken commented on #11531
For fields with type `TextInputType.text` or `TextInputType.multiline` this should now be fixed on `master`. Please re-open if you're still seeing issues.

[2017-10-25 22:09] #11531 closed

[2017-10-25 22:12] cbracken commented on #9363
Fields with type `TextInputType.text` or `TextInputType.multiline` this should now be sentence-case by default on both iOS and Android.

We still haven't made the more general fix to make this manually specified, so still holding this issue open; I'll also re-title to more accurately reflect the proper solution.

[2017-10-25 22:14] Hixie commented on #11961
After further considering I'm pretty sure the solution here is to make `ui.TextStyle` take a `Paint` which it applies to each box that the span covers.

[2017-10-25 22:36] frederickcook opened #12725 "flutter build ios fail"
## Steps to Reproduce

We've been working on an app for several months and are finally ready to start beta testing but I'm having an issue building. Can anyone help grep through the log below and see if there is a clue as to what the issue is?

Running `flutter build ios` fails. Notably, the app works fine in the iOS simulator when running `flutter run` and the flutter example apps build successfu

[2017-10-25 22:36] devoncarew commented on #12041
fixed here: https://github.com/flutter/website/pull/697

[2017-10-25 22:36] #12041 closed

[2017-10-25 22:56] eseidelGoogle commented on #12725
[code]
is the error.  @cbracken is likely the right person to ask.

[2017-10-25 22:57] eseidelGoogle commented on #12725
It looks like it's trying to use a Simulator binary when building for the device?

[2017-10-25 23:01] cbracken commented on #12725
Actually it looks like this might be the error:
[code]

I wonder if the build is failing, then we're continuing on with the lipo step as though it hadn't. I'll try to repro such a failure locally.

@frederickcook as a workaround, could you try a `flutter build clean` then retry the build and see if that makes a difference?

[2017-10-25 23:07] frederickcook commented on #12725
Thanks for the fast response.

Assuming you mean `flutter clean`. Same result and that same error shows up.

[code]

[2017-10-25 23:10] cbracken commented on #12725
Ah yep `flutter clean` is the right way to do it as of #12616. Sorry about that!

Can you try blowing away the derived data directory as described above and see if that makes a difference?

[2017-10-25 23:17] frederickcook commented on #12725
@cbracken still failing, but I don't see that fatal error anymore. New log output: https://firebasestorage.googleapis.com/v0/b/bullwheel-6c673.appspot.com/o/Terminal%20Saved%20Output2.txt?alt=media&token=ade28dcd-cbcd-4ca1-95bc-c86b7ab8ae17

[2017-10-25 23:26] HansMuller opened #12726 "flutter analyze fails on code generated by the Dart intl package tools"
Summary:
- `flutter analyze` finds errors in code generated by the Dart intl tools
- It's not possible to exclude the intl-generated code from the analyzer with an analysis_options.yaml file.
- Even if was possible, it's unlikely developers would know to include `package:flutter/analysis_options_user.yaml`
- Maybe`flutter create` should generate analysis_options.yaml file with some instructive com

[2017-10-25 23:33] cbracken commented on #12725
One more warning I see in the output:
[code]

From your project directory, can you also try this:
[code]

Looks like `flutter clean` isn't quite cleaning everything it should be.

[2017-10-25 23:36] goderbauer opened #12727 "Sliders are not announced on Android"
Sliders are not announced on Android. It should say something like "69 percent, brightness level, seek control, use volume keys to adjust".

[2017-10-25 23:37] xster opened #12728 "AssetBundle built twice during run"
One instance of the AssetBundle is built in HotRunner for _updateDevFS and another separate instance by the BuildFlxCommand via assemble.

Seems redundant and takes 500 and 300ms on my powerful machine.

Can we reuse?

[2017-10-25 23:40] frederickcook commented on #12725
@cbracken cleaned & removed the flutter.framework file. Different errors: https://firebasestorage.googleapis.com/v0/b/bullwheel-6c673.appspot.com/o/Terminal%20Saved%20Output3.txt?alt=media&token=43feb2dd-8982-4769-a0ba-bc243fdf85c0

[2017-10-25 23:43] cbracken commented on #12725
Hrm, this looks like we're back to the precompiled header error.

One last time, so we've got as clean as build as we can (hopefully), can you give this a go and dump the log:
[code]

[2017-10-25 23:50] frederickcook commented on #12725
@cbracken did the above. Output: https://firebasestorage.googleapis.com/v0/b/bullwheel-6c673.appspot.com/o/Terminal%20Saved%20Output4.txt?alt=media&token=0aa87b0d-0b20-4193-b6bd-b41af42b9583

[2017-10-25 23:51] yjbanov commented on #12476
I don't have permissions either. The owners are listed here: https://pub.dartlang.org/packages/device_info

[2017-10-25 23:59] Hixie commented on #11738
Actually maybe this is just that we need to call getOffsetForCaret with both affinities.

[2017-10-26 00:26] cbracken commented on #12725
Still poking through the build log. Based on the logs, it looks like `ios/Flutter/App.framework` wasn't built. I'm assuming that a quick `ls ios/Flutter` doesn't show `App.framework`, though I'd expect `Flutter.framework` is there?

If `App.framework` is there, does further followup run of `flutter build ios` still fail?

A few questions to make sure I've got all my ducks in a row to repro this:
1

[2017-10-26 00:37] frederickcook commented on #12725
@cbracken thanks a ton for the help here.

Correct re: App.framework:
[code]

1. Yes, I am loading 2 libs from the facebook sdk. Here is my `ios/Podfile` if that is helpful:
[code]
2. Correct - Swift AppDelegate, though we have added a FlutterMethodChannel to it to handle some of the fb work:
[code]
3. Yes, but not for some time. I can start reverting things and trying the ios build if that is the

[2017-10-26 00:39] cbracken commented on #12725
Thanks for the detailed reply. I'll see if I can make some progress on repro-ing this.

[2017-10-26 00:58] Hixie commented on #10719
I was unable to reproduce this with the Ahem font:
[code]
Will have to try reproducing this on a device.

[2017-10-26 01:50] ride4sun opened #12731 "We don't handle calling setState in State subclass constructor"
The constructor of the StatefulWidget widget executing this code and get and `NoSuchMethodError`
I think there should be a better error message. This was in a bigger project and it took me quite a while to find this.

[code]

This is the Exception:

[code]
This is the man.dart code to reproduce:

[code]

[2017-10-26 03:47] pnewsam opened #12732 "Clarify install directory in Mac OS setup docs"
This is probably very obvious to someone more experienced, but I got a bit confused after I git cloned flutter into a nested directory, as opposed to my home ~ directory, and shell wouldn't recognize the 'flutter' command even after I'd correctly added it to the $PATH var.

In Mac OS setup docs @ https://flutter.io/setup-macos

Maybe it would be helpful to specify where to clone the dir?

[2017-10-26 04:12] trinnguyen commented on #12732
Beginner here too, I just finished setting up and running the first Flutter app.
- You can clone git to any folder
- Ensure adding the correct path to `flutter/bin` folder inside the cloned dir to $PATH. The `flutter` exec file is inside `bin` folder. Simply execute this command in the root of your git cloned dir.

[code]
- Command `flutter` should be fine to go now, ensure that you are staying in

[2017-10-26 04:32] pnewsam commented on #12732
Sorry, I guess I was unclear.  ````export PATH=`pwd`/flutter/bin:$PATH```` worked fine for me for initial setup. I ran into problems when I tried to update my path permanently. Under 'Update your path' the docs suggest to add this command to bash profile:

`export PATH=$HOME/flutter/bin:$PATH`

I did that, but because I had git cloned flutter into a directory that was not my $HOME directory, shell

[2017-10-26 05:14] #12434 closed

[2017-10-26 06:54] trinnguyen commented on #12732
Ah, should replace the `$HOME/flutter` by the path to root of your git folder. I think they assume cloning flutter to the $HOME folder.

`export PATH=[PATH_TO_GIT_FOLDER]/bin:$PATH`

[2017-10-26 10:57] mit-mit commented on #12476
@mehmetf @goderbauer @collinjackson can either of you publish, please?

[2017-10-26 14:18] mit-mit opened #12734 "google_signin plugin crashes app if plist.info is incorrectly configured"
## Steps to Reproduce

1. Follow the first six steps of https://codelabs.developers.google.com/codelabs/flutter-firebase/
1. Mess up on the step to add `<key>CFBundleURLTypes</key>`, for example paste it at the wrong location in the XML tree
1. Run app

=> the app crashes:

[code]

Can we fail more graciously?

[2017-10-26 14:40] frederickcook commented on #12725
@cbracken Not sure if this helps, but `flutter run` on ios simulator is also no longer building now! Haven't changed anything in codebase since last successful simulator build except what we were trying out here. https://firebasestorage.googleapis.com/v0/b/bullwheel-6c673.appspot.com/o/Terminal%20Saved%20Output5.txt?alt=media&token=a74f2183-fef0-4e25-93cb-3595ee312806

[2017-10-26 16:24] devoncarew commented on #12726
@HansMuller, is there a more specific issue for the website?

I don't see analysis issues w/ this file:

[code]

(which doesn't match up with what you're seeing above).

Agree that we should set users up for success here - I'll see about change to package:intl to generate lint free code. The generate code probably doesn't need to be free of all possible lints, but shouldn't run afoul of recommende

[2017-10-26 16:28] sethladd commented on #12726
Is the generated code Dart 2 and/or strong mode compliant? That's probably the min bar.

[2017-10-26 16:36] sethladd commented on #12732
What do you think about https://github.com/flutter/website/pull/718 ?

[2017-10-26 16:42] devoncarew commented on #12726
Good question; I assume so, but cc'ing @alan-knight to be sure.

[2017-10-26 16:44] goderbauer commented on #12476
Published. Also added @mit-mit and @yjbanov as an uploader.

[2017-10-26 16:52] pnewsam commented on #12732
That looks great, thanks!

[2017-10-26 19:20] xster commented on #12691
Wondering why there wasn't any sort of animations in the video you posted. Just out of curiosity, does this still happen if you changed https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/page.dart#L104 to zero?

I'm hypothesizing that causing rebuilds on the app bar at the beginning and at the end of the page transition is causing this.

[2017-10-26 19:31] eseidelGoogle opened #12738 "Flutter tool "crashed" instead of displaying error when iOS Simulator was closed"
I had my iOS Simulator closed (maybe I closed it while `flutter run` was starting?)

And instead of a nice message I got a crash log:

[code]

## command

flutter run

## exception

String: Exit code 53 from: /usr/bin/xcrun simctl install 80FD76E9-4422-479B-B503-2EFE5C622125 /src/bug/build/ios/iphonesimulator/Runner.app:
An error was encountered processing the command (domain=NSPOSIXErrorDomain, c

[2017-10-26 19:36] eseidelGoogle opened #12739 "Material icons are confused (missing?) in tip of tree?"
[code]

Maybe something is wrong with my setup?  But this is what I see when I run a fresh `flutter create` app:
![simulator screen shot oct 26 2017 12 34 48 pm](https://user-images.githubusercontent.com/11857803/32073247-4387379c-ba4a-11e7-8a87-1dd22d28b508.png)

Maybe @xster knows?

[2017-10-26 19:38] yjbanov commented on #10719
The specific symptom that I've seen is text being broken up into multiple lines in buttons (https://github.com/flutter/flutter/issues/12288). It might be the same issue as this one.

[2017-10-26 19:41] eseidelGoogle commented on #12739
I reset my simulator and it still reproduces.

[2017-10-26 19:43] blastrock commented on #6225
Any news or workaround for this issue?

[2017-10-26 19:44] eseidelGoogle commented on #12739
I reverted back to 765167bb8caf311f16008bb93db7d6ccf8bdb5e3 (just picked a random point in the past) and the bug went away.  So there is some sort of regression on tip of tree.

[2017-10-26 19:48] eseidelGoogle commented on #12739
Supposedly this was seen in https://github.com/flutter/flutter/issues/12551, but I'm also seeing this on flutter/flutter@154f2e5402 which I believe is tip of tree?

[2017-10-26 20:00] xster commented on #12739
Happened between engine commits https://github.com/flutter/engine/commit/8e79156765c67b71b1e1b9895dbc8eea43f9949c and https://github.com/flutter/engine/commit/ec19da1c8098b321672a3770ec0b4e84bd0621e9

[2017-10-26 20:00] eseidelGoogle commented on #12691
I've repro'd using @kinshul's example.  @xster I attempted to change 300 to 0 in page.dart and yes it no longer shows a frame with the back button.

I suspect that it's rebuilding the "previous" route (the one we're transitioning away from) and the BackButton widget is noticing that there is a new route on the stack (that we "canPop") and thus showing itself, even though the route is in progress.

[2017-10-26 20:02] blastrock opened #12740 "Assertion failed with an empty DropdownButton"
## Steps to Reproduce

[code]

## Logs

[code]

## Flutter Doctor

[✓] Flutter (on Linux, locale en_US.UTF-8, channel alpha)
    • Flutter at /home/blastrock/packages/flutter
    • Framework revision 4424892c79 (2 weeks ago), 2017-10-10 16:45:11 -0700
    • Engine revision 2a84f18c79
    • Tools Dart version 1.25.0-dev.11.0

[✓] Android toolchain - develop for Android devices (Android SDK 26.0.2)

[2017-10-26 20:02] eseidelGoogle commented on #12691
I suspect this code:
https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/app_bar.dart#L336
is effectively reading from a global (the navigation stack) which has already been modified at the start of the transition.

[2017-10-26 20:04] eseidelGoogle commented on #12691
So there are a bunch of workarounds which @kinshul could use, including manually telling AppBar not to show the BackButton on those routes.

I believe AppBar automaticallyImplyLeading: false will disable the automatic BackButton behavior:
https://docs.flutter.io/flutter/material/AppBar/automaticallyImplyLeading.html

[2017-10-26 20:08] xster commented on #12691
You can also not animate as a workaround since I don't think it's desirable to have page transition animations on tab switches anyway

[2017-10-26 20:30] ferdigokdemir commented on #12739
![simulator screen shot - iphone se - 2017-10-26 at 23 29 36](https://user-images.githubusercontent.com/23097465/32075470-974b8fbc-baa5-11e7-8db7-98c48a24ea32.png)

[2017-10-26 20:31] frederickcook commented on #12725
After working with @cbracken mostly over chat, he was able to isolate and fix the issue. I'll leave it to Chris to elaborate on what we fixed and clarify or close this issue. Huge thanks @eseidelGoogle @cbracken for being so responsive!

[2017-10-26 20:37] robertoscaramuzzi commented on #12676
Removed customer:blocker since the alternative way of accomplishing linking ListViews worked out.

[2017-10-26 20:42] #12289 closed

[2017-10-26 21:59] cbracken commented on #12725
Thanks to @frederickcook for working through this.

## Issue Summary
The issue in the end was a combination of a couple of problems in the Xcode project file:

1. **Project Configurations:** In the Xcode build settings for the target, Flutter requires that `Generated.xcconfig` be included in whichever build configurations are in use. By default, `flutter create` generates a project with two config

[2017-10-26 22:01] cbracken commented on #12725
Thanks again for your help working through this @frederickcook.

I'll close this issue and file individual issues for the above and then edit the summary to add the issue IDs.

[2017-10-26 22:01] #12725 closed

[2017-10-26 22:01] xster commented on #7509
https://github.com/theobouwman/flutter_cupertino_segment_control, nice

[2017-10-26 22:29] deborah-ufw opened #12744 "In a list, how to give a different style to "first" or "last" item"
In a List, we divide the items with a boxDecoration bottom border.

The last item in the list also has the border, but it looks funky.

How can we remove the style for the last (or first) item?

Alternatively, how would a list be set up correctly to achieve the same effect?

![image](https://user-images.githubusercontent.com/378599/32080196-309573ce-ba63-11e7-8459-5a8442a0688c.png)

[2017-10-26 23:07] aam opened #12745 "Switch to IKG file tracking from analyzer when in `--preview-dart-2`"
IKG has an API to report list of files used for compilation as well as incremental updates to that list. Flutter tools should use that instead of analyzer (https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/dart/dependencies.dart).

Note that IKG API will be used to provide list of files when it is loaded from [File]ByteStore. @scheglov

[2017-10-26 23:07] aam commented on #12745
@a-siva

[2017-10-26 23:18] dragonfax commented on #3960
My vote is for a Speed Dial. I've seen it in a lot of material apps on Android (Evernote, Inbox, etc) and it looks great. Really gives the feel of selecting one of a group of actions from that first FloatingActionButton... before you head off to complete that action on another sheet, with that option chosen. (i.e. selecting who to send an email to before moving to compose the email, or selecting w

[2017-10-26 23:24] scheglov commented on #12745
Honestly, I don't understand the comment about `ByteStore`.
Cache is important for performance, but information is provided either way, cached or not.

I agree withe the goal of the issue of course - it is better to use one system to get all information.

[2017-10-26 23:37] xster opened #12746 "Have a nice message for when the cocoapods repo is out of date"
The cocoapods master index doesn't update itself after the first `pod setup`.

It's possible to get errors that the desired pod version doesn't exist if the index is too old. Have instructions to detect when it happens and prompt the user to run `pod repo update`

[2017-10-26 23:43] eseidelGoogle commented on #3960
Someone wrote a Flutter Material Speed Dial package: https://pub.dartlang.org/packages/flutter_fab_dialer

[2017-10-26 23:49] aam commented on #12745
@scheglov, Flutter tools needs to start tracking sources files that comprise the dart app. This list should be coming from IKG instead of analyzer. Currently we get that list before we do kernel generation, so the thinking is that there should be a way to get list of files known to IKG after [we create new instance of IKG](https://github.com/dart-lang/sdk/blob/master/pkg/front_end/lib/incremental_

[2017-10-26 23:59] gspencergoog opened #12747 "InputDecorator should allow a widget in the prefix area."
One of our customers, mulligan, would like to have a leading pulldown menu on a text field.  This is hard to achieve if you would like to have the divider in the input decorator extend underneath the pulldown as well as the text input area.

I propose to add a prefixWidget (and suffixWidget) to InputDecoration that the InputDecorator would be able to place instead of the prefix text.  Of course, s

[2017-10-27 00:11] dragonfax commented on #3960
Zoop! I'll take it! Thanks.

[2017-10-27 00:43] cbracken opened #12748 "Add warning comment to Debug/Release.xcconfig files"
We should add some warning boilerplate to the `Debug.xcconfig` and `Release.xcconfig` templates above the `#include "Generated.xcconfig"`. Something along the lines of:

[code]

[2017-10-27 00:47] cbracken opened #12749 "Flutter iOS builds should verify that Generated.xcconfig is included in the configuration"
The `FLUTTER_*` variables defined in `Generated.xcconfig` are critical to successfully building for iOS.

We should detect that this file is (transitively) included from the build configuration's `.xcconfig`. One way to do this might just be to use `xcodebuild -showBuildSettings` and verify that all required variables are set. That avoids parsing Xcode project files and tying ourselves to a propri

[2017-10-27 00:53] cbracken opened #12750 "Verify that xcode_backend.sh snapshot build phase is in Xcode project"
We should verify that the two xcode_backend.sh run-script build phases are present in the Xcode project when building for iOS.

There are two phases where we use this script:
1. Dart snapshotting phase: `xcode_backend.sh build`
2. Framework architecture-thinning phase: `xcode_backend.sh thin`

For the time being, even a quick grep with a regex might be a reasonable heuristic for spotting this.

[2017-10-27 01:03] cbracken opened #12751 "Emit an actionable error message if FLUTTER_* not defined in Xcode run-script phases"
If `Generated.xcconfig` has not been `#include`d in the Xcode project configuration, `FLUTTER_ROOT` is undefined and Xcode will be unable to locate `xcode_backend.sh`. In the `flutter create` project template, we should include something similar to the following boilerplate above the execution of the `xcode_backend.sh` script:

[code]

[2017-10-27 01:03] cbracken commented on #12751
Expected settings:
![screen shot 2017-10-26 at 18 01 45](https://user-images.githubusercontent.com/351029/32083518-fa17b248-ba77-11e7-96ab-3fa087a85083.png)

[2017-10-27 01:04] cbracken commented on #12751
We could include include a link back to the expected settings this issue if there's not a clear way to word this.

[2017-10-27 01:05] cbracken commented on #12751
Related issues #12748, #12749, #12750

[2017-10-27 01:10] cbracken opened #12752 "Emit CocoaPods #include in Debug.xcconfig, Release.xcconfig"
CocoaPods 1.3.1 emits the following warnings when the Pods-Runner xcconfig is included in `Generated.xcconfig`, rather than directly in `Debug.xcconfig` or `Release.xcconfig`:

[code]

Ideally Debug.xcconfig should contain:
[code]

And Release.xcconfig should contain:
[code]

[2017-10-27 01:17] cbracken opened #12753 "Flutter iOS build should check that ARCHS is arm64 only"
## Steps to Reproduce

1. Use `flutter create` to create a new Flutter app.
2. In Xcode select the `Runner` project, then select the `Runner` target from the configuration sidebar. Then select the `Build Settings` tab. Then change `Architectures` to be `Standard architectures` (which includes armv7).
3. Build the project, then select Product > Archive.

The build will fail with linker errors since

[2017-10-27 01:19] cbracken commented on #12725
Filed issues for the above as well as #12753 reported over chat.

[2017-10-27 01:23] cbracken opened #12754 "Generated Podfile should include boilerplate for manual additions"
The Podfile we generate should include boilerplate for manual additions.

Originally reported by @frederickcook via StackOverflow:
https://stackoverflow.com/questions/45410906/import-cocoapods-pod-for-ios-with-flutter

[2017-10-27 01:23] cbracken commented on #12754
/cc @xster

[2017-10-27 01:26] eseidelGoogle commented on #12631
We presumably could write an automated test for this relatively easily, no?

[2017-10-27 01:38] tvolkert commented on #12631
Yeah, we should be able `flutter create`, record the files that exist, then `flutter build <options>` and diff the list of files against what we recorded.

[2017-10-27 01:56] xster commented on #12697
This is really strange. Checking out https://github.com/flutter/flutter/commit/d920fdd11a058ac5d4363dd87447c2d885c9c1b5 directly, and the transition test is faster, checking out https://github.com/flutter/flutter/commit/964a138d80e4b0778bdb31f0d0c4d3b34d100f84 and it's slow, but checking out HEAD and reverting commit https://github.com/flutter/flutter/commit/964a138d80e4b0778bdb31f0d0c4d3b34d100f8

[2017-10-27 02:08] xster commented on #12697
This is wild... even checking out https://github.com/flutter/flutter/commit/964a138d80e4b0778bdb31f0d0c4d3b34d100f84 and then reverting that very commit and it's still slow.

But I think there's some side effects to the tests as checking out https://github.com/flutter/flutter/commit/d920fdd11a058ac5d4363dd87447c2d885c9c1b5 no longer produces the fast results it initially did.

[2017-10-27 02:17] binoypatel commented on #3960
+1

[2017-10-27 02:27] lokimx88 commented on #11681
could anyone send me that file ?  We canot use any VPN now.

e8aa40eddd3b91ba1a2d0c2c1e34db0f38e4290e

[2017-10-27 03:20] briblanch commented on #12505
@cbracken is there a way just using `initialValue` and `autoFocus` to place the cursor at the end of the text field? It seems setting an `initialValue` and `autoFocus` to `true` places the cursor before the first character of `initialValue`.

[2017-10-27 04:58] stephaniewilkinson commented on #12194
thanks @efortuna!

[2017-10-27 04:58] #12194 closed

[2017-10-27 12:35] 09abhishek commented on #12666
@goderbauer ... Thanks for your assistance Issue got fixed!! Thanks!!

[2017-10-27 13:14] mit-mit opened #12755 "Firebase codelab has confusingly worded pre-reqs"
The prereqs are confusingly stated. The first two bullets say "an IntelliIDE" is required, but the next paragraps says you can use an IntelliJ IDE or Android Studio.

This bug was found during a "dryrun" of the Firebase codelab in AAR by @floitschG, @mravn-google, and @mit-mit.

[2017-10-27 13:18] mit-mit opened #12756 "Firebase codelab should suggest a single, fixed code starting point"
re: https://codelabs.developers.google.com/codelabs/flutter-firebase/#2

The code lab suggest that a developer can start by doing one of the following:

1. From a prior completion of Friendlychat
1. By downloading https://github.com/flutter/friendlychat-steps/tree/master/full_steps/step_0_offline
1. By doing `flutter create` and then patching `main.dart` with https://raw.githubusercontent.com/flut

[2017-10-27 13:19] mit-mit opened #12757 "Firebase codelab should consider asking user to run initial (empty) app"
RE: https://codelabs.developers.google.com/codelabs/flutter-firebase/#3

We suggest we add an additional step 4 to ask the deverlop to run the app at this point. This would be a great way to validate that their setup and configuration is complete prior to them starting to change (and potentially break) the app source code.

This bug was found during a "dryrun" of the Firebase codelab in AAR by @fl

[2017-10-27 13:23] mit-mit opened #12758 "Firebase instruction for SDK manager is incorrect in Android Studio 3.0"
RE: https://codelabs.developers.google.com/codelabs/flutter-firebase/#4

The instruction says SDK manager is under: **Android Studio > SDK Manager**

In Android Studio 3.0 it's under: **Tools > Android > SDK Manager**

This bug was found during a "dryrun" of the Firebase codelab in AAR by @floitschG, @mravn-google, and @mit-mit.

[2017-10-27 13:25] mit-mit opened #12759 "Firebase codelab has incorrectly formatted instruction"
RE: https://codelabs.developers.google.com/codelabs/flutter-firebase/#5

The line "Modify the signature of `_handleSubmitted()to` indicate " should be changed to "Modify the signature of `_handleSubmitted()` to indicate "

This bug was found during a "dryrun" of the Firebase codelab in AAR by @floitschG, @mravn-google, and @mit-mit.

[2017-10-27 13:27] mit-mit opened #12760 "Firebase codelab section has non-clear ending point"
RE: https://codelabs.developers.google.com/codelabs/flutter-firebase/#5

It's not clear where the iOS-only step "Configure Google Sign-In on iOS" section ends.

We think it ends after "This URL type will handle the callback when a user logs into your app.", but if so, a new section heading seems to be missing before "If you run the app".

This bug was found during a "dryrun" of the Firebase codela

[2017-10-27 13:29] mit-mit opened #12761 "Firebase codelab is missing details for how to enable debug mode"
RE: https://codelabs.developers.google.com/codelabs/flutter-firebase/#6

For this step to succeed you have to enable debug mode. Towards this, the codelab links to https://support.google.com/firebase/answer/7201382?hl=en&utm_id=ad. However, this has no details for how to accomplish the task, and we really struggled in xCode. Can we please add details for how to complete this step?

This bug was fo

[2017-10-27 13:31] mit-mit opened #12762 "Firebase codelab has incorrect statement about variable"
RE: https://codelabs.developers.google.com/codelabs/flutter-firebase/#6

"Now add a private member variable named" should be changed to "Now add a private member variable named" (the variable shown in the code snippet is not private).

This bug was found during a "dryrun" of the Firebase codelab in AAR by @floitschG, @mravn-google, and @mit-mit.

[2017-10-27 13:37] mit-mit opened #12763 "Firebase codelab is missing step to enable storage?"
RE: https://codelabs.developers.google.com/codelabs/flutter-firebase/#9

We could not get this step to work. After running the app, and selecting the image, the app failed with an "-13000" error in the log file.

Going to the Firebase console, opening the Storage section, and selecting "Get Started" seemingly fixed this.

This bug was found during a "dryrun" of the Firebase codelab in AAR by @floi

[2017-10-27 13:37] mit-mit commented on #12763
@collinjackson does this ring a bell? is this a required step?

[2017-10-27 14:29] KevinTheGray opened #12764 "Scaffold status bar tap effect lost with custom scroll controller"
## Steps to Reproduce

- be using iOS
- build a view like this
[code]
- scroll down a bit
- tap status bar and notice it does not scroll to top

## Flutter Doctor
flutter doctor
[✓] Flutter (on Mac OS X 10.12.6 16G29, locale en-US, channel master)
    • Flutter at /Users/KG/Developer/Flutter/flutter
    • Framework revision 3cd2b436b8 (2 days ago), 2017-10-25 10:25:47 -0400
    • Engine revision e

[2017-10-27 15:40] collinjackson commented on #12764
I think this is working as intended. You must use `PrimaryScrollController.of(context)` to get the scroll controller instead of creating it yourself. This is how the `Scaffold` is able to influence the position of the `ListView`.

Here's an example:

[code]

[2017-10-27 15:58] eseidelGoogle commented on #73
@mehmetf explained to me today that customer: mulligan does need maps, but believes they can solve their use cases with static map images for now, hence the customer tagging.

[2017-10-27 15:59] collinjackson commented on #12764
I'm not sure if there's an action to be taken on this issue. Perhaps we should document on the `controller` property of `ScrollView` that passing an explicit controller prevents the scroll view from scrolling to the top in response to a tap on the status bar.

[2017-10-27 16:04] KevinTheGray commented on #12764
@collinjackson thanks, this works for me.  just tested it in my app and that does indeed fix the issue.  if you'd like to close, you can

[2017-10-27 16:04] collinjackson commented on #12756
We originally switched to option 3 because the template in friendlychat-steps kept getting out of date with flutter's alpha branch, and it seemed better for developers to start the codelab with a fairly recent template. I'm fine with option 2, but we should probably have someone owning the process of updating the codelab templates periodically.

[2017-10-27 16:05] wrumble opened #12765 "Embedded flutterview can be seen but doesnt recognize clicks"
## Steps to Reproduce

Firstly apologies for the terrible Folder tree i couldnt get it to work with just spaces.

So, I have semi-successfully managed to embed a flutter view inside a collectionView in one of my existing iOS projects. The steps involved were fairly simple.

After following flutter install instructions I then

I updated my pod file to contain and call the following function:
[code]

[2017-10-27 16:24] a-siva commented on #12745
@scheglov  to answer your question about the comment on ByteStore we wanted to make sure that IKG will be able to provide us this list of files even in the case when it comes up first by reading the full state from the FileStore (the case of 'flutter build' to 'flutter run' transition).

[2017-10-27 16:27] emshack commented on #12763
This is a duplicate of [#35](https://github.com/flutter/friendlychat-steps/issues/35) in the friendlychat-steps repo, where we've been tracking other codelab bugs.

[2017-10-27 16:27] emshack commented on #12763
(I believe it has been fixed)

[2017-10-27 16:30] scheglov commented on #12745
OK, understood.
Yes, it will.

[2017-10-27 17:05] alan-knight commented on #12726
Yes, the generated should be entirely Dart 2 (as of this moment) compliant. It's run regularly under DDC, which is the strictest of our compilers.

It seems to me that running the user's lint options on generated code is kind of like running it on the code of dependent packages. It makes the linter do extra work to tell the user about things they can't fix if they wanted to. And since the user can

[2017-10-27 17:11] devoncarew commented on #12726
It's a tricky area for sure. The sea of possible lints is large. If we had a core set of lints we knew we wanted most code to follow (dart best practices for example), there might be a clearer answer to that.

One idea currently being discussed is whether we should add the ability to ignore all issues of a certain severity for a file. So, something like:

[code]

Would ignore hint level issues (wh

[2017-10-27 17:17] katdarev commented on #11530
So any idea on how to get rid of it. It is preventing my application from running.

[2017-10-27 17:39] LarkAscending commented on #12763
It has been fixed.

@mit-mit @floitschG @mravn-google
Feel free to ping before dry running through any codelab. There are likely fixes that you can't see... and a update process you can plug into to stay in sync. Thanks!

[2017-10-27 17:39] #12763 closed

[2017-10-27 18:03] eseidelGoogle opened #12766 "Would like a Graphics Bandwidth benchmark"
@abarth mentioned to me that we should be tracking our graphics bandwidth.  Which can be approximated by the sum of the total size (bytes) of layers drawn to the GPU every frame / # of frames drawn.

My understanding is that this number is a trade-off with high-end performance and that using more bandwidth (caching more in textures) will improve performance on high-end devices, but that eventually

[2017-10-27 18:08] sethladd opened #12767 "I wish for flutter doctor printed a one-line summary at the very end"
flutter doctor has a lot of awesome output, but it's easy to miss something important. Users will want to know, in a single line, "am I good to go?"

Users don't always have the ability to see all the output. here's an example of VS Code:

<img width="743" alt="screen shot 2017-10-27 at 11 02 26 am" src="https://user-images.githubusercontent.com/5479/32118458-a62b414c-bb06-11e7-9b1c-66a389ef4910.p

[2017-10-27 18:11] sethladd opened #12768 "We wish we could instruct flutter doctor to not check for Android and iOS"
For Fuchsia, we love the flutter doctor tool. It's output, however, assumes iOS and Android on a Mac. We'd love to be able to say "run flutter doctor, but don't bother checking Android and iOS".

Strawman: `flutter doctor --without=android,ios` or similar.

(we anticipate wrapping the flutter doctor command, so we're comfortable with verbose command lines for now)

[2017-10-27 18:12] eseidelGoogle commented on #12767
As Flutter Doctor gets more complicated, may want to make it more like `brew doctor` which only prints details on failure.  Our current output is more of a "what is my install overview" question rather than an "am I OK?" question.

[code]

[2017-10-27 18:17] sethladd commented on #12767
sgtm

for bug reports, we could ask for `flutter --version` which lists everything.

[2017-10-27 18:27] LarkAscending commented on #10987
bump

[2017-10-27 18:42] LarkAscending commented on #12756
Thanks for this suggestion! Very interesting points.

Are there examples of _You never know what state the developer might be in after completing Friendly chat._ ?? The codelabs are designed to fit together and be done in sequence. I've never heard of or encountered issues with doing that and would like to understand more...

Re: _the code doesn't pass analysis_ this is actually an issue that's be

[2017-10-27 18:47] balthild opened #12769 "Overscroll showing blurrily on Android"
## Steps to Reproduce

Simply create a `ListView`.

[code]

Here's how the blurry overscroll shows:

![screenshot_20171028-023603](https://user-images.githubusercontent.com/2662758/32120019-a20a788e-bb89-11e7-85bf-95efa149d468.png)

Meanwhile, a part of the overscroll inside the red circle seems to be clipped.

As a contrast, here's how Google Play Store shows. It has a clear edge.

![screenshot_2

[2017-10-27 19:04] LarkAscending commented on #12758
Are we moving away from describing the steps in the Welcome screen (faster) to the main AS menu? We chose this approach before I/O... IIRC the reasoning was AS takes a long time to launch and even after launch there is an additional delay before the Tools menu gets populated. I believe Gradle has to initialize. At least it was common after starting AS to go to **Tools** and not see any **Android**

[2017-10-27 19:16] LarkAscending commented on #12762
Did you mean "Now add a member variable named"? If so, fixed.

[2017-10-27 19:16] #12762 closed

[2017-10-27 19:24] LarkAscending commented on #12759
Fixed.

[2017-10-27 19:24] #12759 closed

[2017-10-27 19:29] HansMuller commented on #12672
We've updated https://flutter.io/tutorials/internationalization/. There's complete source code for a rough and ready minimal i18n app as well as one based on the intl package. There's an appendix that reviews how to use the intl tools.

I don't think we've quite reached the cookbook style that @brianegan suggested, but hopefully it's an improvement.

[2017-10-27 19:32] mit-mit commented on #12758
Oh, that explains it.

I think we should describe both UI paths. Lots of potential Flutter Devs will have AS running already.

[2017-10-27 19:34] LarkAscending commented on #12761
_However, this has no details for how to accomplish the task, and we really struggled in xCode._
Are more details available on what was difficult in Xcode?

The linked topic was the correct one several months ago; now there is a [real topic](https://firebase.google.com/docs/analytics/debugview) on the Firebase site. It says essentially the same things but gives more information. If we changed the

[2017-10-27 19:36] mit-mit commented on #12756
I don't agree the linked bugs suggest the issue is being fixed. After the paste, the app is not correct: it has a non passing test. That is an error, not a warning.

[2017-10-27 19:42] mit-mit commented on #12761
The only help given for iOS is:

"specify the following command line argument in Xcode :
-FIRDebugEnabled"

It took us almost 10 mins of googling to figure out how to actually do that.

[2017-10-27 19:43] kinshul commented on #12691
@xster I had disabled animations in the video I posted, as, the default (slide up) transition was unsuitable for bottom bar navigation. We probably would use a slight fade animation or no animation. I had disabled the animation by overriding the buildTransition method in MaterialPageRoute

[code]

@eseidelGoogle @xster
Setting `transitionDuration` to 0, with or without overriding `buildTransitions

[2017-10-27 19:43] mit-mit commented on #12762
Yes, precisly, thanks!

[2017-10-27 19:45] mit-mit commented on #12756
About the state question: our main concern is developers who didn't complete the prior codelab completely. But I agree that's a bit speculatory.

[2017-10-27 19:47] goderbauer commented on #11204
I've tried this again on a Nexus 6P and on a Moto G4. There doesn't seem to be an issue anymore. Closing this for now.

[2017-10-27 19:47] #11204 closed

[2017-10-27 19:48] goderbauer commented on #12401
The new a11y algorithm has solved this.

[2017-10-27 19:48] #12401 closed

[2017-10-27 19:50] goderbauer commented on #11026
This problem no longer reproduces (and was probably fixed as part of how the new a11y algorithm deals with clipping).

[2017-10-27 19:50] #11026 closed

[2017-10-27 19:57] eseidelGoogle commented on #12769
Could you add your `flutter doctor` output?

Is this on a physical device or an emulator?

Thanks for the report!

[2017-10-27 20:00] goderbauer commented on #2476
This is fixed with the new a11y algorithm and a test is in place to prevent regression: https://github.com/flutter/flutter/blob/master/packages/flutter/test/widgets/simple_semantics_test.dart#L13

[2017-10-27 20:00] #2476 closed

[2017-10-27 20:15] LarkAscending commented on #12758
This is new info...the codelab users are likely to already have AS running?

We can advertise both UI paths - but is it helpful? (There's a 3rd way, too, from the command line). In documentation, generally it's better to pick one way and go with it. More ways to do something != better, especially when it's not your product.

[2017-10-27 20:25] darrencole opened #12770 "Issue from website page IDE Setup"
From URL: https://flutter.io/intellij-setup.md

Correct me if I'm wrong but isn't it true that Android Studio doesn't support Dart? However, the setup documentation says "Both IntelliJ CE and Android Studio are free to use and supported for Flutter development." Since Dart is a big part of Flutter development, this might be confusing to a newbie like myself who is trying to select the most appropr

[2017-10-27 20:36] LarkAscending commented on #12761
Yes, sounds like you were caught between the vague Firebase doc and the missing Xcode doc.

This could be very good feedback for the Firebase documentation team. Would it make sense to file a bug by clicking the pencil icon on the [Debugging Events](https://firebase.google.com/docs/analytics/debugview) page? If there's a suggestion for how to fix it, the change can happen pretty fast.

While we do

[2017-10-27 21:01] xster commented on #12697
There's some other factors that I haven't yet detected at play it seems.

Doing a clean on everything on https://github.com/flutter/flutter/commit/d920fdd11a058ac5d4363dd87447c2d885c9c1b5 brought back the faster behavior that's the baseline.

From there' cleaning again and cherry picking the specific commit from https://github.com/flutter/flutter/commit/964a138d80e4b0778bdb31f0d0c4d3b34d100f84 ret

[2017-10-27 21:08] collinjackson commented on #12764
I'll close for now, but if anyone feels the documentation could be improved, feel free to reopen

[2017-10-27 21:08] #12764 closed

[2017-10-27 21:37] b-strauss commented on #12767
There's already a `flutter --version`.

[2017-10-27 22:34] jklint-g opened #12772 "Bad UTF16 character crashes in RenderText.cpp"
## Steps to Reproduce

If I try to display an invalid UTF16 character in a Text(), it causes a hard crash due to assertion failure in the engine's RenderText.cpp. The code is trying to display text which it shouldn't, but I wouldn't expect it to crash in the rendering engine.

This can easily happen if you take a substring which happens to slice an SMP UTF32 character in half, as shown below. It's

[2017-10-27 22:38] collinjackson commented on #12471
Fixed by flutter/plugins#244, but I want to tweak the API a bit and write a test for it once flutter/plugins#254 lands.

[2017-10-27 22:51] #12388 closed

[2017-10-27 22:54] eseidelGoogle commented on #12772
One of these years we should probably fuzz our Engine APIs :)

[2017-10-27 22:55] cbracken commented on #12086
From `xcode_backend.sh` we should be able to detect Archive builds by checking for `$ACTION == "install"`. In these cases, we can probably just force the build to release mode.

[2017-10-27 23:26] collinjackson commented on #12756
I'll defer to Elaine on whether to keep option 3 or not, but if we want to keep it, we could add a sentence suggesting that they comment out the automatically generated `test/widget_test.dart`.

[2017-10-28 00:21] LarkAscending commented on #12756
Removed 3. and added the following note to 4. Open Friendlychat in IntelliJ:
If your project includes a `test` directory that contains the file `widget_test.dart`, remove this file before continuing.

[2017-10-28 00:27] LarkAscending commented on #12758
Picked this way: **Android Studio > Tools > Android > SDK Manager > SDK Tools**

[2017-10-28 00:27] #12758 closed

[2017-10-28 00:38] LarkAscending commented on #12760
Inserted a heading `Run Friendlychat`

[2017-10-28 00:38] #12760 closed

[2017-10-28 00:48] #12756 closed

[2017-10-28 00:58] LarkAscending commented on #10295
Closing because we are not seeing this during verification this week. Feel free to re-open if it's still an issue.

[2017-10-28 00:58] #10295 closed

[2017-10-28 00:58] #12761 closed

[2017-10-28 01:06] LarkAscending commented on #11469
For now, added this note to [Step 3](https://codelabs.developers.google.com/codelabs/flutter/#2)

```If your project includes a test directory that contains the file widget_test.dart, remove this file before continuing.```

[2017-10-28 01:06] #11469 closed

[2017-10-28 01:09] LarkAscending commented on #12755
@sethladd

What I thought when I saw this text is `oh, right, Android Studio is an IntelliJ IDE`...

[2017-10-28 01:27] cbracken commented on #12086
The long-term solution is to ensure that archive builds do the following:
1. pod install to update the linked Flutter framework to the release-mode framework
2. snapshot AOT build in release mode

For now, I've landed (#12773) to catch non-release-mode archive builds and immediately exit with an error message that includes instructions to perform a release build.

[2017-10-28 01:34] cbracken opened #12774 "Xcode Archive builds should automatically build in release mode"
As of #12773, running Archive from Xcode will exit immediately with a useful error message if `flutter build ios --release` hasn't been executed. When building Archive releases from Xcode, we should automatically build in release mode.

This requires at least the following:
1. Update `Generated.xcconfig` to a release mode build.
1. Run `pod install` to update the `Podfile.lock` to use the release-

[2017-10-28 01:36] cbracken commented on #12086
As #12773 will prevent this issue going forward, I'm closing this. I've opened #12774 to replace this new behaviour (catching non-release mode builds and erroring with instructions) with something more automatic.

[2017-10-28 01:36] #12086 closed

[2017-10-28 02:04] dguralnick opened #12775 "DataTable: allow padding values to be adjusted"
A couple issues seen in the screenshot:
* Single column tables are full width, but multi column tables are not
* Long data cells are wrapped, but column names are not

Also, the API provides no way to control padding along the sides of the table, which may be desired if customizing the component to match alignment of adjacent components.

![image](https://user-images.githubusercontent.com/8662178/

[2017-10-28 04:32] balthild commented on #12769
[code]

It's a physical device (the connected devices shown above).

[2017-10-28 06:44] roughike commented on #10149
The PR was just merged by @collinjackson and is live on image_picker v0.1.2, so this issue can now be closed.

[2017-10-28 15:12] slightfoot commented on #11177
+1 Just experienced this issue on Android 7.1 (API 25) running on Genymotion.

[2017-10-28 16:22] brianegan opened #12776 "iOS missing assets"
## Steps to Reproduce

  1. Upgrade branch to latest version of `master` (I know -- should probably be using `alpha` :P).
  2. Deploy app to iOS simulator during a debugging session
  3. See Missing assets in the app (Icons and Images are especially easy to spot)

## Screenshots + Flutter Doctor

Another user ran into this as well, and posted Flutter doctor and additional info on Stack overflow:

[2017-10-28 19:19] lubi888 opened #12777 "Firebase codelab freezes step 6, error message_codecs.dart line 514"
I think there's something wrong with the codelab example. I have gone over all the notes again and am still freezing up. Check this Stackoverflow for screenshots: [screen-freeze-after-msg-send](https://stackoverflow.com/questions/46848740/screen-freeze-after-msg-send-upon-google-login-flutter-firebase-codelab-friendl)

Stuck on [step 6](https://codelabs.developers.google.com/codelabs/flutter-fireb

[2017-10-28 21:03] branflake2267 commented on #12776
Missing assets for iOS device for debugging build. flutter install to ios works. Initially works on a first time simulator, but regresses.

![invite-process](https://user-images.githubusercontent.com/1326504/32138501-9a1aabb2-bbe8-11e7-90e4-729325f22fb3.gif)

[code]

[2017-10-29 07:21] PrimeNexes opened #12778 "Firebase updateProfile for currentUser"
Currently we don't have updateProfile for the currentUser. user with emailAndPassoword needs a updateProfile for DisplayName and ProfilePicture.

[2017-10-29 15:07] Takhion commented on #6827
OK so I'm building a PR for this and I hit a roadblock: [`View.onSaveInstanceState`] (or [`Activity.onSaveInstanceState`], for the matter) **require to provide the saved instance state synchronously**, and from my experience (and this [comment]) it looks like host/platform messages can **only be async**. I suspect this is because they use Android's message queue.

@sethladd @Hixie please tell me t

[2017-10-29 15:08] Takhion commented on #6827
OK so I'm building a PR for this and I hit a roadblock: [`View.onSaveInstanceState`] (or [`Activity.onSaveInstanceState`], for the matter) **require to provide the saved instance state synchronously**, and from my experience (and this [comment]) it looks like host/platform messages can **only be async**. I suspect this is because they use Android's message queue.

@sethladd @Hixie @eseidelGoogle @

[2017-10-29 16:47] mit-mit commented on #6827
Cc @mravn-google

[2017-10-29 22:10] dragonfax opened #12779 "How do I read a file from the asset bundle during a test?"
I get an error when I try to read an asset during a flutter test. The bundle seems to be empty.

Here is an example based on `flutter create`.

https://github.com/dragonfax/flutter_example/commit/15e723f9dd3dcfb353c8dbd5f33437c155ca25a5

And here is the error I get.

[code]

[2017-10-29 23:10] fiatjaf commented on #9178
Thank you. I've got this after changing my package name from `com.yourcompany.appname` to something better on `android/app/src/main/AndroidManifest.xml`, but I didn't know there were a lot of other places I should have updated to match the new name, including the directory tree (because there is some `android/app/src/main/java/com/yourcompany/` directory that must be changed).

Running a `find . -

[2017-10-30 01:27] najeira commented on #11864
alpha 0.0.17 has this too.

[2017-10-30 02:13] najeira commented on #11864
In our app, it seems that this crash occurs when returning from iOS screen like WebView and ImagePicker.

[2017-10-30 07:04] johanhenselmans commented on #2089
Found an iphone 4S, did the https://github.com/flutter/engine/wiki/iOS-Builds-Supporting-ARMv7 and made the changes in the last sentences in the 'normal' flutter distribution (the gist diff contains an error, in packages/flutter_tools/lib/src/commands/build_aot.dart the arm64 is replaced with armv7s, which is iphone5 only).
I also had to change the Xcode Build Phases no 3: Run Script xcode_backend

[2017-10-30 07:15] xster opened #12781 "iOS text input state needs sanity check"
There are crash reports on Hamilton showing there are some unsanitized TextInput.setEditingState call maps.

Mainly there are

- Maps with a text selection range when the text itself is 0 length
- Off-by-one text selections (e.g. 10 length text with selection from positions 1 - 10)

[2017-10-30 07:50] xster commented on #12776
I think it's still #12739

[2017-10-30 07:50] xster commented on #12776
Tentatively closing. Please reopen if #12739 doesn't solve your issue.

[2017-10-30 07:50] #12776 closed

[2017-10-30 07:50] xster commented on #12739
Reopening this since it's still on head and the chromebots are somehow not building

[2017-10-30 08:05] xster commented on #12739
Pinged the infra bug. Seems out of our control for now unless we un-roll the engine.

[2017-10-30 08:06] xster commented on #12776
Sorry, there's some issue with our build infrastructure that's not bringing in the fix. To mitigate for the time being, please stay on alpha or if you need something new-ish, edit https://github.com/flutter/flutter/blob/master/bin/internal/engine.version to `28e08053e28fabfede8ffe594154b95f0f3c2445` which was the last engine build before the issue.

[2017-10-30 08:23] xster opened #12782 "Gallery 'Text fields' demo's Phone Number field backspace broken"
Go to Gallery's 'Text fields' demo. In the Phone Number field, type some value (it auto formatted by a text formatter).

Then type backspace. The text goes through some sort of infinite loop flickering back and forth.

cc @cbracken

[2017-10-30 09:23] xster commented on #12781
Likely a threading issue. UIKeyboardTaskQueue has a task queue and calls into UIKeyboardImpl's selectionDidChange doesn't send in an immutable set of data but takes callbacks. Likely something in FlutterTextInputView changed while a callbacks from UIKeyboardImpl are happening.

FlutterTextInputView already guards bad input values like 0 length text and a non 0 selection.

[2017-10-30 09:44] xster commented on #12781
Seems like the selected text range is read a whole bunch of times after we call selectionDidChange on UITextInputDelegate.

[code]

[code]

[code]

[code]

[code]

and we don't know in the UIKit implementation of UITextInputDelegate when the crashing stack happens
[code]

We basically must make sure there are never transient states where _text and __selectedTextRange don't harmonize.

[2017-10-30 13:46] mravn-google commented on #6827
The asynchronous nature of platform messages comes from the fact that the Dart UI executes on a different thread than that used for the Android platform callbacks. But you can always turn an asynchronous API call into a synchronous one by using a latch:
[code]
You can declare a `final AtomicReference<SomeType>` variable (or similar) next to the latch, if you need to convey values from the `// hand

[2017-10-30 15:02] eseidelGoogle commented on #12278
This reminds me some of https://github.com/flutter/flutter/issues/12691

[2017-10-30 15:05] eseidelGoogle commented on #12702
This looks like a pub failure we may need to file this at https://github.com/dart-lang/pub instead.

[2017-10-30 15:59] sethladd commented on #6827
thanks @mravn-google !

[2017-10-30 18:06] #10149 closed

[2017-10-30 18:30] xster opened #12783 "Have a Sliver demo in the Gallery"
Would be nice to catalog some slider widgets in the gallery and common usage patterns.

[2017-10-30 18:35] passsy commented on #3770
Just faced this error. We want to make sure CI and all devs use the same flutter version. I tried adding flutter as submodule but faced this error message:

[`Error: The Flutter directory is not a clone of the GitHub project.`](https://github.com/flutter/flutter/blob/master/bin/flutter.bat#L35)

[2017-10-30 18:42] Takhion commented on #6827
@mravn-google that's exactly the first approach I tried, but the main thread on Android just hangs on the `await()` call forever :(

[2017-10-30 18:49] bjornbjorn opened #12784 "cloud_firestore: Unsupported value: FIRDocumentReference"
Similar to #12468 the cloud_firestore package crashes the app if you get a document with a value of type '[Reference](https://firebase.google.com/docs/firestore/manage-data/data-types)'.

## Steps to Reproduce

Add ```cloud_firestore: ^0.0.3``` as a dependency in pubspec.yaml and try to grab a document containing a value of type 'Reference'

## Logs

[code]

[2017-10-30 20:03] goderbauer opened #12785 "Android a11y text input"
- [x] A text field doesn't identify itself as EditBox
- [x] Text field doesn't give hint to "double tap to enter text" (instead says "double tap to activate")
- [x] A text field that currently has the blinking text cursor is not announced as "editing"
- [x] The text in a text field is not announced when a11y focused
- [ ] Letters entered via keyboard are not echoed back
- [ ] After typing a space

[2017-10-30 20:26] goderbauer opened #12786 "iOS a11y Text input"
- [x] Text fields are not announced as "Text field"
- [x] The hint "double tap to edit" is missing
- [x] content of text field is not announced
- [x] It is not announced weather a text field is in edit mode
- [x] The insert mode (e.g. character mode) is not announced.
- [x] The position of the cursor is not announced
- [x] Entered characters are not echoed back
- [x] Swiping up or down doesn't mov

[2017-10-30 20:27] goderbauer commented on #12786
/cc @cbracken FYI

[2017-10-30 20:27] goderbauer commented on #12785
Related: iOS text input (https://github.com/flutter/flutter/issues/12786)

[2017-10-30 20:27] goderbauer commented on #12786
Related: Android text input (https://github.com/flutter/flutter/issues/12785)

[2017-10-30 20:30] goderbauer commented on #12785
The first view problems can probably be fixed by setting the "class" property of the `AccessibilityInfoNode` responsible for the text field to "EditText".

[2017-10-30 20:31] goderbauer commented on #12786
This one could be tricky. Looks like Apple doesn't offer an API to mark something as a TextField for accessibility purposes.

[2017-10-30 20:36] eseidelGoogle commented on #12786
Please be sure to file radars for this and any other missing APIs we run into: bugreport.apple.com

[2017-10-30 21:05] mravn-google commented on #6827
@Takhion Right, of course.

... unless the async response is to be delivered to the thread you are already on :-/

We seem, then, to need some sort of sync handshake for `onSaveInstanceState`. Do we know of other, similar callbacks that require a sync answer involving Dart-side computations? That would call for a general purpose, synchronous platform message exchange. If not, we could do something

[2017-10-30 21:50] cbracken commented on #12782
There was a similar bug to this reported previously in Hamilton. In that case it was a fight between the formatter (which wanted to add a space) and the controller, which wanted to remove it. I'll take a quick look.

[2017-10-30 22:23] Takhion commented on #6827
@mravn-google unfortunately Android is _full_ of these nasty "synchronous windows of opportunity", where everything needs to happen before returning from the method call! On the top of my head: many `Activity` lifecycle events, methods in `Broadcast Receiver`, `SyncAdapter`, etc. I'm honestly surprised it hasn't been a bigger issue before!

In my opinion, if we want Flutter to truly achieve featur

[2017-10-30 22:26] blackdynamo commented on #4326
I am still having this issue in 1.9.2 with Xcode 9.0.1.

I have also tried using the solution to add the symlinks but doesn't seem to work for me.

[code]

[2017-10-30 23:21] goderbauer commented on #12785
Confirmed:
* 1+2 can be fixed with setting class to "EditText".
* 3 can be fixed by properly setting [setFocused](https://developer.android.com/reference/android/view/accessibility/AccessibilityNodeInfo.html#setFocused(boolean)).
* 4 can be fixed by exposing the content of the text field to the semantics tree as "value" (via describeSemanticsConfiguration)

[2017-10-31 00:04] #12460 closed

[2017-10-31 00:37] Hixie opened #12792 "libtxt: per-character font fallback"
Currently with libtxt if you have a text file that contains a variety of Unicode characters (and you don't have a font on your system that has all of them), it won't display properly, because it doesn't do per-character font fallback.

The old text system did do per-character font fallback.

You can test this using the "Test Font Fallback" feature of the `dev/manual_tests/text.dart` test (see http

[2017-10-31 00:43] Hixie opened #12794 "libtxt: Wavy underlines don't go all the way to the end of the text span"
With libtxt, wavy underlines are always drawn an integral number of half-periods.
This means that text is sometimes not entirely underlined.

For example:

![screenshot_20171030-173957](https://user-images.githubusercontent.com/551196/32202390-a098bac6-bd99-11e7-9b72-8edc6d26f7d7.png)

You can test this using the "Test Underlines" feature of the dev/manual_tests/text.dart test (see #12791).

This

[2017-10-31 00:54] Hixie opened #12795 "libtxt: crashes"
Running the "TextSpan Fuzzer" feature of the dev/manual_tests/text.dart test (see #12791) crashes the engine in a few seconds.

This is critical for stability. It's not a regression; the old text rendering code crashed a lot also.

(The test doesn't yet try to avoid running out of memory, because right now the test doesn't run long enough for that to happen. In due course we'll have to update the

[2017-10-31 01:02] Hixie opened #12796 "libtxt: correctness"
I've written a bunch of tests. They currently fail with libtxt. They fail slightly less with the current text rendering code.

See `packages/flutter/test/painting/text_painter_rtl_test.dart` in https://github.com/flutter/flutter/pull/12791.

Several of the failures with today's old text rendering code are critical for i18n, namely the order of boxes returned in `getBoxesForRange`, the `TextPainter

[2017-10-31 01:04] Hixie commented on #1492
I haven't been able to reproduce this.

[2017-10-31 01:04] #1492 closed

[2017-10-31 01:33] passsy opened #12797 "flutter format doesn't work with --dry-run or --machine"
## Steps to Reproduce

running `flutter format lib -n` errors with: `Cannot use --dry-run and --overwrite at the same time.`

running `flutter format lib -m` errors with: `Cannot use --overwrite and --machine at the same time.`

in both cases I don't have explicitly set `--overwrite` (`-w`).

[code]

## Bug
the [flutter format command](https://github.com/flutter/flutter/blob/master/packages/flutte

[2017-10-31 02:14] pgluck opened #12798 "NPE in Android Studio 3.0 Flutter Plugin MacOS 10.12.6"
## Steps to Reproduce

1. Clone Flutter repository and run flutter doctor until errors are resolved.
2. Download and install Android Studio 3.0 (stable release Build #AI-171.4408382 built 20 October 2017)
3. Install Flutter plugin
4. Restart Android Studio
5. Configure Flutter SDK path
6. Restart Android Studio
7. Observe NPE when loading Flutter plugin

## Logs

null
java.lang.NullPointerExceptio

[2017-10-31 03:29] ulongx opened #12799 "Can not find icon"
![image](https://user-images.githubusercontent.com/1161624/32206203-bbd3fd6e-bdc1-11e7-8ca8-4bddb2fc8481.png)
[code]

[2017-10-31 05:42] pedia commented on #12799
me too since upgrade flutter yesterday.

[✓] Flutter (on Mac OS X 10.12.6 16G29, locale en-HK, channel master)
    • Flutter at /Users/odd/wa/flutter/flutter
    • Framework revision **50db9478e3** (19 hours ago), 2017-10-30 11:12:12 +0100
    • Engine revision ec19da1c80
    • Tools Dart version 1.25.0-dev.11.0

[✓] Android toolchain - develop for Android devices (Android SDK 26.0.2)
    • Androi

[2017-10-31 05:45] pedia commented on #12799
And failed:

[2017-10-31 07:45] adshead commented on #12798
The same bug occurs on Windows too, and it seems to happen each time you start Android Studio. Interestingly you do seem to be able to continue using the plugin and successfully build/deploy flutter apps to a device.

[2017-10-31 09:53] bjornbjorn opened #12802 "cloud_firestore: implement DocumentReference delete() functionality"
Using the ```cloud_firestore``` package I expect to be able to [delete a document](https://cloud.google.com/firestore/docs/manage-data/delete-data), maybe something like this:

[code]

Looks like delete() or deleteDocument() has not been implemented yet?

[2017-10-31 11:23] Takhion commented on #12769
I've also always seen it this way

[2017-10-31 11:34] brianegan commented on #9211
I think this may be a legit problem with the `DropDownButton` itself, and might have a simple fix... Happy to submit a PR if you think this is a good solution.

After looking at the `build` method of the `_DropdownButtonState`, it has an `IndexedStack` and `Icon` contained in a `Row`. However, since the `IndexedStack` is not wrapped in an `Expanded`, it is allowed to grow indefinitely. Therefore,

[2017-10-31 15:31] eseidelGoogle commented on #12769
Well, we used to do this: https://github.com/flutter/flutter/issues/4933 :)

I suspect we didn't quite fix it right.

[2017-10-31 15:33] eseidelGoogle commented on #12739
Infra bots are back on, no?

[2017-10-31 15:33] eseidelGoogle commented on #12799
I believe this is https://github.com/flutter/flutter/issues/12739 and is just waiting for us to roll the engine.

[2017-10-31 15:33] #12799 closed

[2017-10-31 15:37] eseidelGoogle commented on #12799
We believe this to be fixed if you `flutter upgrade`.  Sorry for the trouble.

[2017-10-31 15:44] cbracken commented on #12739
This was fixed in flutter/engine#4285 and rolled in flutter/flutter#12787.

[2017-10-31 15:44] #12739 closed

[2017-10-31 15:49] aam commented on #12799
@pedia, the fix was in framework rev 2e97ee4, didn't make it in 50db947 you looked at yet.

[2017-10-31 16:28] albrecht87 commented on #10968
We created a flutter project with Swift support and ran in an issue while using firebase analytics. Removing use_frameworks! from the Podfile helped. Seems like this issue: https://github.com/flutter/flutter/pull/10205 Please consider to add a proper warning or a real fix.

[2017-10-31 16:33] maryx commented on #9211
@brianegan You should submit a PR, it would help my current app a lot :). I'm not sure if it's the best solution but the reviewers will give feedback.
What does a dropdown item look like in that state? Is the text also truncated. or is the item height expanded?

[2017-10-31 17:03] #12727 closed

[2017-10-31 17:24] xster commented on #10666
Duping into #8410

[2017-10-31 17:24] #10666 closed

[2017-10-31 18:00] Hixie commented on #12458
Ideally I'd like it to be the transitive closure of all non-dev-dependencies of a specified subset of the packages in the flutter SDK, the subset being: `flutter`, `flutter_driver`, `flutter_localizations`, and `flutter_test`.

[2017-10-31 18:21] droundy commented on #6549
Any chance that a fix for this could go in, so I could use flutter in my home directory over nfs? My current fix is to edit bin/flutter to change 'if hash flock...' to have a misspelling in flock, so that it doesn't use flock, which fails on nfs.  I'm not sure what a proper fix would be, not being an expert in the use of flock.

[2017-10-31 18:49] xster opened #12805 "Create a canonical demo showcasing differing IA between Material and Cupertino"
Create a demo with custom themed visuals that has different root level navigation structures on Android and iOS to

1- Demonstrate that it's possible and easy to share screens with minimal code addition and
2- Use as a canonical example for platform switching code

[2017-10-31 19:40] grouma commented on #9695
As of Chrome 61 this no longer is an issue. I'm able to run the Flutter Gallery on both a Pixel 2 and a PixelBook. Woot!

[2017-10-31 21:32] cbracken commented on #12098
Fixed by flutter/engine#4302.

[2017-10-31 22:20] eseidelGoogle commented on #12046
@maryx mentioned today that this is blocking her app.

[2017-10-31 22:28] dguralnick commented on #5951
@Hixie  @eseidelGoogle

Mulligan is also in need of some improvements here. The [flutter_driver finders](https://docs.flutter.io/flutter/flutter_driver/CommonFinders-class.html) are very limited making it difficult to find a single instance of any repeated widget. If the finders supported descendant, first, and last (as they do in [flutter_test](https://docs.flutter.io/flutter/flutter_test/CommonF

[2017-10-31 22:51] xster opened #12809 "Document a standard crash reporting integration"
Probably after #9592 and #4070 are done.

[2017-10-31 22:51] cbracken commented on #12098
Rolled into framework in flutter/flutter#12808.

[2017-10-31 22:51] #12098 closed

[2017-10-31 23:07] yjbanov commented on #5951
I thought I fixed this in https://github.com/flutter/flutter/pull/11767, but apparently I didn't. Does anyone have a small sample that has this issue. I'll take a look.

[2017-10-31 23:10] yjbanov commented on #5951
Or perhaps someone can spot a flaw in our test ([test app](https://github.com/flutter/flutter/blob/e43eab656d8e743630a8ff3ea25325bd80c45ae8/dev/integration_tests/ui/lib/driver.dart#L61), [driver script](https://github.com/flutter/flutter/blob/e43eab656d8e743630a8ff3ea25325bd80c45ae8/dev/integration_tests/ui/test_driver/driver_test.dart#L81))

[2017-10-31 23:15] dguralnick commented on #5951
Actually, I will file a separate issue for this request - was piggybacking on this because some of the discussion was related.

[2017-10-31 23:18] dguralnick opened #12810 "flutter_driver finders should allow accessing descendants, first, and last"
The [flutter_driver finders](https://docs.flutter.io/flutter/flutter_driver/CommonFinders-class.html) are very limited making it difficult to find a single instance of any repeated widget. If the finders supported descendant, first, and last (as they do in [flutter_test](https://docs.flutter.io/flutter/flutter_test/CommonFinders-class.html)) this would become much easier.

As is, the only way to f

[2017-10-31 23:29] brianegan commented on #9211
Hi @maryx :) The reason I didn't submit a PR just yet: If you use `TextOverflow.ellipsis`, the text will always be truncated, whether the dropdown is expanded or not, and the Widget works just fine.

If you need the text to run multiple lines, (by removing the `TextOverflow.ellipsis` and setting your text free), then you run into trouble, because the items have a fixed, hard-coded height.

Therefo

[2017-10-31 23:49] frederickcook opened #12811 "firebase_messaging plugin fails to build"
## Steps to Reproduce

Add firebase_messaging plugin to a project and build.

## Logs

[code]

## Flutter Doctor

[code]

[2017-10-31 23:55] Hixie commented on #12288
I've been able to reproduce this bug; unfortunately it does not occur with the Ahem font.

[2017-10-31 23:55] frederickcook commented on #12811
Full verbose build output: https://firebasestorage.googleapis.com/v0/b/bullwheel-6c673.appspot.com/o/Terminal%20Saved%20Output14.txt?alt=media&token=b81c1d7f-200a-4d94-b848-1c0e3cdef99f

[2017-11-01 00:14] cbracken commented on #12811
/cc @goderbauer @collinjackson

[2017-11-01 00:30] Hixie commented on #10719
I've been able to reproduce the problem without ellipses, but not with. The test above (from June 16) doesn't reproduce it any more.

[2017-11-01 00:30] Hixie commented on #10719
If you can reproduce this reliably please do let me know. We very much care about this issue and intend to solve it if we can reproduce it.

[2017-11-01 01:00] ulongx commented on #12799
fixed  :)  thanks

[2017-11-01 01:59] Khalid-Nowaf commented on #10719
I have updated my flutter

## Doctor
[code]

## steps to preduce

1.  `flutter create arabic_flutter`
2. change the Home page title in main.dart to
[code]
3. hot reload
4. you will get an error "I have file an issue regarding this error"
[code]
5. since the app crashed, try to run it again `flutter run`
6. you will see the Title "تطبيق فلاتر" not randerd currectly in semulator.

## GIFS
### Change

[2017-11-01 03:34] anchpop opened #12815 "Can't open AVD manager"
I'm using Android Studio on Windows 10. For some reason, I can't seem to open the AVD manager. The button appears disabled. I've tried starting Android Studio as administrator, I have virtualization enabled in my BIOS, I can't think of anything else!

I created a new flutter project with `flutter create projectname` and then created a project with the same name (in androidstudio) the parent direct

[2017-11-01 03:40] FaisalAbid opened #12816 "Random crash "the getter stderr was called on null""
As I develop, randomly upon fresh deployment I will get this error. Redeploying it again a second time works fine.

[code]

[code]

[2017-11-01 05:14] yjbanov commented on #5951
Cool. I'll assume that _this_ issue is fixed in #11767.

[2017-11-01 05:14] #5951 closed

[2017-11-01 06:34] rom1dep commented on #12138
Hi there, I'm new to flutter, but was disappointed by the performances of the recent builds on my Xperia [E5803](https://en.wikipedia.org/wiki/Sony_Xperia_Z5_Compact) (Adreno 430, so a fairly beefy and not actually that "old" device).

I bisected, which pointed me to [ecb5692](https://github.com/flutter/flutter/commit/ecb56927deb0de807a6fd0619203004ed0e8e772) and to this issue.
This change pretty

[2017-11-01 07:16] mchome commented on #12704
hey @cjztool, you can wrap it into a `Material` class instead of using `Container` class if you just want to color it.

[2017-11-01 08:23] fane89 commented on #11074
I fixed it by installing gzip from brew, not using the apple one. I still can have gnu-tar.
`brew install gzip`

[2017-11-01 08:42] cjztool commented on #12704
I am  a  newbie, thank you so much! Nice Work!
![qq 20171101164118](https://user-images.githubusercontent.com/3993323/32266747-87356120-bf23-11e7-87e1-fccb35eb958a.gif)

[code]

[2017-11-01 08:42] #12704 closed

[2017-11-01 08:44] mravn-google commented on #12815
I believe we saw the same issue on a MacBook in the codelab at the Firebase Dev Summit last night.

[2017-11-01 08:47] mit-mit commented on #12798
Thanks for reporting @pgluck, I can repro this. We'll get this fixed ASAP!

[2017-11-01 08:50] cjztool commented on #12704
@mchome 厉害了 哈哈! 才发现你主页用的汉字..

[2017-11-01 08:59] mravn-google opened #12818 "Flutter Firebase codelab broken with Cocoapods 1.3.1"
## Steps to Reproduce

(Happened to more than one user at the Firebase Dev Summit codelab)

On a MacBook with version 1.3.1 of cocoapods installed. [Note: This is the latest stable version according to homebrew at the time of this writing. Confusingly, the `pod` executable, and thereby `flutter doctor`, reports version 1.2.1.

[code]
End of note.]

Download the Flutter project at `https://github.c

[2017-11-01 09:14] mit-mit commented on #12818
cc @collinjackson

[2017-11-01 09:16] mit-mit commented on #12815
cc @devoncarew @stevemessick is this a side-effect of https://github.com/flutter/flutter-intellij/issues/1458 ?

[2017-11-01 09:17] mit-mit commented on #12815
@anchpop so sorry to hear; you have reached the right place, and we will get this resolved!

One question: Which version of the Flutter plugin do you have? (You can look this up by starting Android Studio, going to the Preferences menu item, and then selecting Plugins, and then Flutter.)

[2017-11-01 12:04] shadyaziza opened #12819 "GoogleSignIn Unhadled Exception"
I am facing a weird issue using GoogleSignIn plugin, I have not used Google signin for a couple of months now, and I decided to re-wire it again today when I faced this issue.

I am using the following test code

[code]
[code]

The dialogue appears and I choose a Google user to SignIn then I get this exception
[code]

I do not think this problem if from Firebase side. Firebase is correctly configu

[2017-11-01 14:15] long1eu commented on #12675
Hi guys!
Bare with me. I'm on the right track.
![ezgif-3-e8d0371946](https://user-images.githubusercontent.com/9283414/32278909-d5783d20-bf1f-11e7-8dbb-f2d394be7981.gif)

[2017-11-01 15:27] renefloor commented on #10304
I just saw that the CupertinoTabBar already exists for quite some time, but didn't know that because it is missing in the widget section on the website: https://flutter.io/widgets/cupertino/
I would also be nice to have a tutorial how to best make two native looking apps, so this probably will mean switching between CupertinoScaffold and MaterialScaffold and different navigation patterns. Maybe al

[2017-11-01 16:08] stevemessick commented on #12815
@mit-mit No, this is unrelated to flutter/flutter-intellij#1458.
Unfortunately, the project window does not show us which directory is the root of the project. I suspect that if the correct directory were opened as the root of the project that the AVD button would be enabled. (It worked for me.)

[2017-11-01 16:36] eseidelGoogle commented on #12816
@devoncarew do you know who knows the devfs code these days?

[2017-11-01 17:20] 09abhishek commented on #12664
@goderbauer @Hixie
If you want to reproduce the error : just you guys need to stop two services : windows update service and Trusted installer, which will automatically lead to Exception (from HRESULT: 0x80070422) error while downloading SDK!

[2017-11-01 17:43] tvolkert opened #12820 "Kerning is off"
A recent Skia roll picked up https://skia-review.googlesource.com/c/skia/+/59984, which caused our kerning to be off in our text rendering.

Per the Skia folks:

We should ask for slight hinting to restore the old behavior.

This is blocking a roll into Google, so marking as "TODAY"

@chinmaygarde

[2017-11-01 17:44] anchpop commented on #12815
@stevemessick which directory should be opened as the root of the project? Let's say I have `documents/flutterprojects/myproject`, where myproject was the directory created by running `flutter create myproject`. What should I make or open in Android studio?

[2017-11-01 17:47] stevemessick commented on #12815
myproject

[2017-11-01 17:53] cbracken commented on #12505
@briblanch Definitely a bug. Nice catch. Should be a pretty straightforward patch to fix. Thanks for spotting this.

[2017-11-01 17:57] tvolkert commented on #12820
Some examples:

![devices](https://user-images.githubusercontent.com/15253456/32289153-3124c2ba-bef3-11e7-9af8-3cb1b627603b.gif)

![conditions](https://user-images.githubusercontent.com/15253456/32289257-7d31778e-bef3-11e7-91c2-e7ed3e7e17ff.gif)

[2017-11-01 18:02] goderbauer commented on #12811
This builds fine on my machine. My suspicion from the error message is that your Firebase pods are out of date. Can you paste the content of your `ios/Podfile.lock`?

I am using the following versions:
[code]

Not sure what the best way to update pods is. @xster can you advise?

[2017-11-01 18:12] tvolkert commented on #12820
Here's an image showing the difference:

![before-after](https://user-images.githubusercontent.com/15253456/32289918-89b6654e-bef5-11e7-86a2-f65866583990.gif)

[2017-11-01 18:26] #12772 closed

[2017-11-01 18:36] killermonk commented on #12819
Per discussion in Gitter, this was caused by a SHA mismatch.

[2017-11-01 18:46] #12819 closed

[2017-11-01 18:47] #12820 closed

[2017-11-01 20:12] Hixie commented on #12691
@kinshul Can you clarify if this is still a blocker for you or if the workarounds are sufficient for your immediate needs?

I expect we'll get to this sometime this quarter or early next quarter if it's not urgent.

[2017-11-01 20:15] Hixie commented on #12046
cc @jason-simmons who said he would take a look

[2017-11-01 20:19] Hixie commented on #11661
@alanrussian Thanks for the update. We will prioritise this along with other material work in the coming months; if this becomes more immediately urgent (e.g. if we haven't fixed it and you're planning on launching in a few weeks) then please let us know and we will make sure to get to this sooner.

[2017-11-01 20:23] Hixie commented on #9211
We should probably ask the material team what the right behaviour is here. Ellipsising the text doesn't seem ideal, since then the user can't read it (what if two items start the same way but differ at the end?). Wrapping seems against what the widget's core design is. WAP phones used to use a marquee effect to solve this...

[2017-11-01 20:23] Hixie commented on #9211
We don't have an ETA on this at the moment.

[2017-11-01 20:24] Hixie commented on #5503
cc @eseidel We don't have anyone to work on this right now.

[2017-11-01 20:24] Hixie commented on #5363
cc @eseidel We don't have anyone to work on this right now.

[2017-11-01 20:25] Hixie commented on #12012
@chinmaygarde Is this something you are working on at the moment? (If not, please unassign yourself. Thanks!)

[2017-11-01 20:26] Hixie commented on #11012
@kroikie @collinjackson Is this fixed now? The PR mentioned above has landed.

[2017-11-01 20:26] Hixie commented on #10942
@cbracken Are you still working on this? (If not, please unassign yourself. Thanks!)

[2017-11-01 20:27] Hixie commented on #10695
Current plan is for me to work on this after RTL, which will be in a few weeks.

[2017-11-01 20:27] Hixie commented on #3671
We are currently working on this. No ETA at this time.

[2017-11-01 20:30] Hixie commented on #4669
This will be fixed by https://github.com/flutter/flutter/issues/4630.

[2017-11-01 20:30] #4669 closed

[2017-11-01 20:31] Hixie commented on #4674
cc @abarth since this affected Fuchsia's build recently.

[2017-11-01 20:33] Hixie commented on #4701
cc @jacob314 Is this something you would want to expose in your inspector?

[2017-11-01 20:36] Hixie commented on #4709
@sethladd Is this bot still interfering with our results?

[2017-11-01 20:37] Hixie commented on #4738
@sethladd Can you see if you're still seeing this?

[2017-11-01 20:39] Hixie commented on #4753
It's still mentioned in the engine repo and the buildroot repo in places, and we should clean that up a bit.

[2017-11-01 20:40] Hixie commented on #4760
It's not clear what this is referring to.

[2017-11-01 20:40] #4760 closed

[2017-11-01 20:42] Hixie commented on #4778
I'm going to close this. If this is still a flake that happens then we'll catch it via our current flake collection mechanism.

[2017-11-01 20:42] #4778 closed

[2017-11-01 20:44] Hixie commented on #4815
Looks like this landed.

[2017-11-01 20:44] #4815 closed

[2017-11-01 20:47] Hixie commented on #4819
I'm going to close this. We don't need to track this particular problem independently. If it becomes a real issue we'll just fix it.

[2017-11-01 20:47] #4819 closed

[2017-11-01 20:52] Hixie commented on #4868
@devoncarew Can you elaborate on this? Is this obsolete now that we've migrated to gradle?

[2017-11-01 20:52] Hixie commented on #4869
We do let you set ANDROID_HOME, is that enough?

[2017-11-01 20:53] Hixie commented on #4870
@devoncarew  Which one is the "correct" one?

[2017-11-01 20:56] Hixie commented on #12816
So somewhere we're creating a `context` but not setting its `Stdio` entry.

[2017-11-01 20:56] Hixie commented on #12816
cc @tvolkert

[2017-11-01 20:59] Hixie commented on #12805
@xster Can you elaborate on what you mean by IA?

[2017-11-01 21:01] Hixie commented on #11862
@cbracken says this is on his radar but no ETA at this time.

[2017-11-01 21:10] devoncarew commented on #4869
We do have `flutter config --android-sdk` now :)

[2017-11-01 21:10] #4869 closed

[2017-11-01 21:11] tvolkert commented on #12816
That's what it looks like to me as well.  It's not obvious how that's happening though, since we *do* populate the `Stdio` in the root context in [`executable.dart`](https://github.com/flutter/flutter/blob/1affb4237a289c15849e7c8eedb9c5218cc48f72/packages/flutter_tools/lib/executable.dart#L123), and the child context in [`daemon.dart`](https://github.com/flutter/flutter/blob/1affb4237a289c15849e7c

[2017-11-01 21:11] devoncarew commented on #4868
I don't remember the context for this bug. I think we're good to close it; if it's a real issue, it'll re-open.

[2017-11-01 21:11] #4868 closed

[2017-11-01 21:12] sethladd commented on #4709
Looks like we have a bot we're not detecting in Mountain View, CA. Also, Ashburn, VA is still a big force, which we suspect is AWS.

[2017-11-01 21:13] sethladd commented on #11012
Closing optimistically :)

Thanks to @kroikie and @collinjackson !

[2017-11-01 21:13] #11012 closed

[2017-11-01 21:28] passsy opened #12827 "Flutter wrapper to bundle flutter within a project"
It would be ideal if all devs and CI would use the exact same version of flutter to build and develop an app. Right now it's hard to bundle flutter within a repository. Git submodule would be one solution but it is currently not working https://github.com/flutter/flutter/issues/3770.

Gradle had the same problem and solved this with the gradle wrapper, automatically downloading the gradle binaries

[2017-11-01 21:32] devoncarew commented on #4870
This may or may not still be a thing, but this issue is about running the `adb` instance from the located android sdk, instead of one which may be on their path (which might not be the same adb instance or version).

[2017-11-01 21:38] num46664 opened #12828 "iOS: Notification Service Extension with firebase_messaging plugin fails to compile"
## Steps to Reproduce

I created a new flutter project in IntelliJ, followed the instructions in the [firebase_messaging readme](https://github.com/flutter/plugins/tree/master/packages/firebase_messaging) for both android and iOS integration.

I copied the `main.dart` from [the example](https://github.com/flutter/plugins/tree/master/packages/firebase_messaging/example)

at this point everything wo

[2017-11-01 21:49] eseidelGoogle commented on #12131
According to our survey data, this is responsible for about 60% of all our reported flakes.

[2017-11-01 21:51] eseidelGoogle commented on #12131
Did something change in package:test around Sept which might have caused this?  @nex3 might have guesses.

[2017-11-01 21:52] #11994 closed

[2017-11-01 22:03] jacob314 commented on #4701
Could be handy although I need to know when anything at all changes in the widget tree so getting updates at the granularity of the route changes probably isn't that useful on its own.

[2017-11-01 22:12] nex3 commented on #12131
I don't see anything from that timeframe which would be likely to affect this...

[2017-11-01 22:22] yjbanov commented on #4676
Closing on the basis that we won't get to it any time soon.

[2017-11-01 22:22] #4676 closed

[2017-11-01 22:43] johnfesa opened #12831 "Unable to use DefaultMaterialLocalizations from a test using flutter_driver"
Project Mulligan is affected by this issue.

## Steps to Reproduce

Using flutter_driver, attempt to find a Widget by its Material tooltip. Implement this by declaring a dependency upon DefaultMaterialLocalizations and using one of the tooltip strings it defines.

Observe that 'flutter/src/material/material_localizations.dart' depends on 'flutter/src/material/time.dart', which depends on 'dart:ui'

[2017-11-01 22:47] frederickcook commented on #12811
Ok, this is what my Podfile looked like previously:
[code]

With your clues above about pods being out of date, I blew away that `Podfile.lock` file and the `ios/Pods` dir and rebuilt. Same error. I then went back and updated my `pubspec.yaml` file to just use the latest version of all the firebase plugins, fixed all the resulting issues (a lot changed in ~60 days!) and blew everything away again

[2017-11-01 23:16] apwilson opened #12832 "If you give TextField a TextStyle with only the color set, badness ensues"
[code]

[2017-11-01 23:17] apwilson commented on #12832
@Hixie
@yjbanov

[2017-11-01 23:22] apwilson commented on #12832
The bug exhibits itself in the wifi_settings app here: https://fuchsia-review.googlesource.com/c/sysui/+/81695  when you tap on a secure network.  I'll try to get a reduced use case at some point.

[2017-11-01 23:27] apwilson commented on #12832
I discovered if I actually set the font size of the textstyle I gave my text field the issue goes away.

[2017-11-01 23:31] javateer opened #12834 "Misspelled word exchange as exhange"
The misspelled word in on the 1st paragraph of this page:
https://codelabs.developers.google.com/codelabs/flutter-firebase/#7

[2017-11-01 23:52] yjbanov commented on #12832
This might be a potential regression introduced by https://github.com/flutter/flutter/commit/80b820a26d78a0c8d0e3c8ddf7dbb996c9a1548b#diff-0a8c1f8d767d0b3fcfa44f0263486dc3R453.

Related issue: https://github.com/flutter/flutter/issues/12681. I added `InputDecorator` to the list of classes to revise. **tl;dr** currently some widgets that take custom `TextStyle` do not fill in missing properties bef

[2017-11-02 01:05] cqululei opened #12838 "execute `flutter doctor` always failed on macOS"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

SocketException: SocketException: OS Error: Operation timed out, errno = 60, address = storage.googleapis.com, port = 50754

[code]

## flutter doctor

[code]

[2017-11-02 01:12] InMatrix commented on #12838
Quick question: are you installing Flutter in China? Were you using a VPN?

The Flutter tool downloads some dependencies that are not accessible from China. Please watch #11681 as we continue investigating this issue.

[2017-11-02 04:36] Hixie opened #12839 "flutter_gallery__transition_perf worst_frame_rasterizer_time_millis regression (skia)"
The Skia roll in https://github.com/flutter/engine/pull/4265 (rolled into Flutter in https://github.com/flutter/flutter/pull/12687) regressed`flutter_gallery__transition_perf` `worst_frame_rasterizer_time_millis` by more than 2x:

<img width="237" alt="screen shot 2017-10-26 at 3 03 07 pm" src="https://user-images.githubusercontent.com/211513/32079254-d71b9444-ba5e-11e7-982c-3e2cdd0580c1.png">

cc

[2017-11-02 04:52] sawsankgraham commented on #11154
import io.flutter.firebaseauth.FirebaseAuthPlugin;
import io.flutter.plugins.firebase.database.FirebaseDatabasePlugin;
import io.flutter.plugins.firebase.storage.FirebaseStoragePlugin;
import io.flutter.plugins.googlesignin.GoogleSignInPlugin;

When compiling why does my IDE say that the above import statements are not resolved?

[2017-11-02 05:36] eseidel opened #12841 "DefaultTextStyle docs are lacking"
https://docs.flutter.io/flutter/widgets/DefaultTextStyle-class.html

Doesn't say much.  Topics it might explain are things like "when would you use one of these" or "what widgets set one of these for you", etc.

My understanding is MaterialApp sets a crazy default text style, might be useful to note that here (and how you're expected to interact with that default).

[2017-11-02 05:43] eseidel commented on #12841
https://github.com/flutter/flutter/pull/12842 is a related fix to errorTextStyle, which DefaultTextStyle might link to.

[2017-11-02 07:16] mravn-google commented on #11412
You can set up custom Xcode schemes and use them with the `--flavor` option in Flutter tooling:
[code]

[2017-11-02 07:23] xster commented on #10304
Hi @renefloor. Really appreciate your feedback.

Your comment is multi-part:
- The website is a total omission. Thanks for catching. Adding now.
- Making 2 native looking apps (which I assume you mean only on a superficial UI level with most of the structure and business logic shared) will be covered in #12805. Please let me know if it addresses what you're looking for.
- Widgets with Material and

[2017-11-02 07:27] xster commented on #12805
I meant with some chrome level structural differences like drawers and app bar action buttons with overflows on one hand and tab bars and tabs and actions on inside the content slivers on iOS etc.

[2017-11-02 10:30] ulongx opened #12844 "RaisedButton controle does not work in "new Row()""
![image](https://user-images.githubusercontent.com/1161624/32321207-60d12012-bf8e-11e7-9f81-1c89c2a358e2.png)

![image](https://user-images.githubusercontent.com/1161624/32321358-dc112a2e-bf8e-11e7-84fe-a916fdfbee32.png)

[2017-11-02 11:46] renefloor commented on #10304
Yes, I think #12805 is exactly what I meant. Thanks for adding it on the website.

[2017-11-02 11:57] #12781 closed

[2017-11-02 12:12] long1eu commented on #12675
Hi!
I'm moving forward with this. This are the text styles that I think we should add:
- [ ] bold
- [ ] italic
- [ ] underline
- [ ] strikethrough
- [ ] font
- [ ] font size
- [ ] foreground color
- [ ] background color
- [ ] underline

As for the paragraph style we could have:
- [ ] ordered list
- [ ] unordered list
- [ ] indent
- [ ] outdent
- [ ] alignment

![demo](https://user-images.githubuse

[2017-11-02 12:41] mravn-google commented on #2089
@chinmaygarde Can we unblock @johanhenselmans?

[2017-11-02 13:01] xster commented on #12181
I don't know if I'm losing my mind. @sethladd can you try it again? It seems like I'm no longer experiencing this issue.

[2017-11-02 13:12] xster commented on #12844
I'm not reproducing this issue. Perhaps you might need to `flutter upgrade` or share your `flutter doctor` output here.

[2017-11-02 13:33] xster commented on #12573
Tasks:

- [ ] Let `flutter create` leave some sort of version stamp in the produced artifacts indicating the version of the tool when the project was created
- [ ] Add some mechanism to compare flutter versions. See how it can be harmonized with version.dart.
- [ ] Add a `flutter project upgrade` command that takes in a number of 'steps' recipes in a folder that does modifications gated by version

[2017-11-02 13:38] xster opened #12845 "Make it less confusing to use Cupertino with text under MaterialApp"
Avoid user confusing wrt the default error text style from MaterialApp when using Cupertino widgets.

[2017-11-02 13:51] mit-mit commented on #12815
@stevemessick I had this exact same issue with 18.3, and it's gone now with 18.4.

@anchpop can you try to update your Flutter plugin in Android Studio?

[2017-11-02 14:42] mravn-google commented on #2319
Fixed by texture support #12525. A demo plugin for making use of this facility for video playback is available [here](https://github.com/sigurdm/video_player).

[2017-11-02 14:42] #2319 closed

[2017-11-02 15:18] stevemessick commented on #12815
@mit-mit Here's the code that controls enablement of the AVD Manager button, from `org.jetbrains.android.actions.RunAndroidAvdManagerAction:`
[code]
In English: There has to be a project open, it has to have an Android facet, and an Android SDK has to be available. It has nothing to do with the Flutter plugin. `flutter create` has included an Android facet since sometime last summer.

If you open

[2017-11-02 15:37] eseidelGoogle commented on #2319
Exciting. :D  Are there bugs tracking the remaining planned work around inline video (e.g. publishing that package, updating it's readme, possibly including an example of video playback in one of our examples, etc.)?

[2017-11-02 15:55] ulongx commented on #12844
After the reinstall the Flutter, fixed ：） thanks

[2017-11-02 16:05] albrecht87 commented on #12818
Had the same issue on a new project: https://github.com/flutter/flutter/issues/10968#issuecomment-340819651
base issue: https://github.com/flutter/flutter/pull/10205

[2017-11-02 16:06] sethladd commented on #12770
cc @mit-mit @devoncarew

[2017-11-02 16:13] xster commented on #2319
+1 on publishing the plugin
(nit: would it make sense to let the plugin publish a VideoPlayer widget object with a controller rather than a Texture?)

[2017-11-02 16:50] devoncarew commented on #12770
Actually, Android Studio does support Dart; Android Studio generally supports the same plugins and plugin API as other IntelliJ platforms. The Flutter plugin does depend on the Dart plugin - they both can install into Android Studio. Thanks for the note!

[2017-11-02 16:57] amirh opened #12847 "Platform.script doesn't work in flutter_tester"
Platform.script returns "file:///" when running with flutter_tester.

This could help me write an engine test the loads some resources from files, without relying on relative paths.

[2017-11-02 16:57] sethladd commented on #12770
We may want to take a fresh look at this page.

The headers "Installing IntelliJ" and "Flutter IntelliJ IDE plugins" and "n IntelliJ IDE" might lead to confusion if we then also say "Android Studio".

[2017-11-02 16:57] cbracken commented on #12828
/cc @collinjackson @goderbauer

[2017-11-02 17:14] eseidelGoogle commented on #12779
Thanks for the report!  This might be the same as https://github.com/flutter/flutter/issues/8490?

[2017-11-02 17:15] eseidelGoogle commented on #8490
I believe @amirh ran into this today (or similar).

[2017-11-02 17:15] mravn-google commented on #2319
@eseidelGoogle I'll add links here once there are.

@xster Yes, in fact @sigurdm and I just discussed that today.

[2017-11-02 18:23] anchpop commented on #12815
This was the solution! Thank you everyone

[2017-11-02 18:23] #12815 closed

[2017-11-02 18:33] Hixie commented on #4701
Ok. In that case I will close this for now and we can reconsider when we have some more immediate need.

[2017-11-02 18:33] #4701 closed

[2017-11-02 18:34] Hixie commented on #4870
I believe we always use the one from the indicated SDK. Does that mean this bug should be closed?

[2017-11-02 18:36] Hixie commented on #3770
Weird, do submodules not include `.git` directories?

[2017-11-02 18:42] devoncarew commented on #4870
Yup - I'll close it.

[2017-11-02 18:42] #4870 closed

[2017-11-02 18:42] passsy commented on #3770
They use the parents `.git` directory and place content in `.git/modules/<submoduleName>/`

[2017-11-02 18:43] mravn-google opened #12848 "Create video plugin"
Use new texture support (#2319) to create and publish a Flutter plugin along the lines of https://github.com/sigurdm/video_player

[2017-11-02 18:45] mravn-google opened #12849 "Create camera plugin supporting live preview"
Use new texture support (#2319) to create and publish a Flutter plugin for interacting with the device camera, including live preview.

[2017-11-02 19:07] kirbyfan64 commented on #9253
So I managed to build it for X86 in release mode with AOT disabled using this patch:

[code]

Except, someone tried it, and it's stuck on a black screen. The logcat doesn't mention anything wrong. Is this even possible right now? :neutral_face:

[2017-11-02 19:19] #12131 closed

[2017-11-02 20:28] blackdynamo commented on #4326
Just as a follow up, if you are having this issue, the files are probably missing from this path:

[code]

If that is the case, which fixed things for me, make sure your phone is attached to your mac and open xcode. The files will automatically appear and things should work.

[2017-11-02 20:36] Hixie commented on #10719
Excellent, thanks.

[2017-11-02 22:16] Hixie opened #12852 "Add a SemanticsBinding"
At some point (doesn't have to be any time soon) we should add a binding to the semantics layer and move the `window.onSemanticsEnabledChanged` hook to there (from the rendering layer), in the same way that rendering handles `onTextScaleFactorChanged` (and widgets' binding then hooks it),
since we now have a separate semantics layer.

[2017-11-02 22:34] cbracken commented on #12260
Fixed by flutter/engine#4319 rolled to framework by #12853

[2017-11-02 22:34] #12260 closed

[2017-11-02 22:35] Hixie commented on #6827
@mit-mit I meant SystemChannels.lifecycle and anything that uses that, yes.

[2017-11-02 22:36] Hixie commented on #12278
That's weird. Using `canPop` in this way should register you to be notified when the drawer closes. There must be a bug with the way we trigger that.

[2017-11-02 22:56] ds84182 opened #12854 "Textures are converted from Linear RGB to sRGB"
The color in screenshot version is #007BC6, but from a video texture the color is #00B9E4.

![](https://cdn.discordapp.com/attachments/290514446412021760/375747851122114560/Screenshot_20171102-163313.png)
![](https://cdn.discordapp.com/attachments/290514446412021760/375747851122114562/Screenshot_20171102-163320.png)

I made a small thing on DartPad to confirm that the color is being converted from

[2017-11-02 22:56] Hixie commented on #6225
We haven't had a chance to look at it yet. It's on our radar for the next few months though.

[2017-11-02 23:04] Hixie commented on #12722
Can you elaborate on this? Why?

[2017-11-02 23:05] Hixie commented on #12569
Why would the asset names be different?

[2017-11-02 23:09] Hixie commented on #10963
One tricky aspect of this is that we _are_ skipping the object for accessibility purposes, and that inconsistency is a bit weird.

[2017-11-02 23:12] eseidelGoogle commented on #12854
Is this related to https://github.com/flutter/flutter/issues/10655?

[2017-11-02 23:19] jason-simmons commented on #12839
This is associated with a change in Skia caching policy:
  https://github.com/google/skia/commit/a2ac30da36c80f616c909c671a240f2d468db124

The average_frame_rasterizer_time_millis is unaffected by the change.  I don't know if the additional work on the worst-case rasterizer frame is new, or if it was always done somewhere but just wasn't being credited to the rasterizer timing.

@bsalomon

[2017-11-02 23:42] #12832 closed

[2017-11-02 23:51] ds84182 commented on #12854
I think so.

black26 (which has an alpha of 0x42) blended with white (0xFF) usually yields #bdbdbd. However, Flutter produces #dfdfdf (on my phone). Converting Flutter's output (0xDF) from sRGB to Linear gives 0xBC. Converting the expected 0xBD from sRGB to Linear gives 0x82, which would be produced from a blend with 0x7D.

So if all drawing is done in Linear and converted to sRGB, shouldn't all t

[2017-11-03 00:13] amirh opened #12857 "Travis flake: No output has been received in the last 10 minutes"
Travis flakes with:

No output has been received in the last 10m0s, this potentially indicates a stalled build or something wrong with the build itself.
Check the details on how to adjust your build configuration on: https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-output-was-received
The build has been terminated

[2017-11-03 00:31] ds84182 commented on #10655
I think I got a lead in this. The colors we have right now are correct for sRGB but not linear RGB. It all comes down to the blending equation used on GPUs. The standard blending equation is `(colorA * (1.0 - alpha)) + (colorB * alpha)`, where colorA is the color in the frame buffer and colorB is the color being drawn.

However, since sRGB isn't linear, the inverted alpha (1.0 - alpha) isn't equiv

[2017-11-03 02:24] Hixie opened #12859 "libtxt: bidi fails when there's styles"
We split on style runs before we split on bidi runs, so the bidi ordering gets broken when there's styling.

Blink:
![b](https://user-images.githubusercontent.com/551196/32358439-6734330c-c003-11e7-8fbe-d427868a362b.png)

libtxt:
![a](https://user-images.githubusercontent.com/551196/32358437-645eb940-c003-11e7-974d-503955f42e26.png)

cc @jason-simmons @abarth

[2017-11-03 09:06] mit-mit opened #12861 "Crash in device deamon"
Please file this bug report at https://github.com/flutter/flutter-intellij/issues/new.

---

## What happened

(please describe what you were doing when this exception occurred)

## Version information

IntelliJ IDEA `2017.2.5` • Flutter plugin `18.4` • Dart plugin `172.4343.25`

Flutter • channel master • git@github.com:flutter/flutter.git
Framework • revision 35bb855c0d (8 hours ago) • 2017-11-0

[2017-11-03 09:06] mit-mit commented on #12861
cc @devoncarew

[2017-11-03 10:42] mit-mit commented on #12770
Yes, this can be clearer. Attempting fix in https://github.com/flutter/website/pull/728

[2017-11-03 10:58] jimmyshiau opened #12862 "Fail to load AndroidDeviceInfo with Nexus 7 Android 4.4.4 (API 19)"
## Steps to Reproduce
[code]

[code]

* Works fine if make `EMPTY_STRING_LIST` to string List
[code]

## Flutter Doctor
[✓] Flutter (on Mac OS X 10.12.6 16G29, locale en-TW, channel master)
    • Flutter at /usr/local/flutter/flutter
    • Framework revision 3914214641 (29 hours ago), 2017-11-01 22:31:29 -0700
    • Engine revision 88cf09ffe6
    • Tools Dart version 1.25.0-dev.11.0

[✓] Android t

[2017-11-03 11:50] pedia commented on #7247
I found HACK way:

and call

[2017-11-03 11:51] netdur commented on #12849
Thank you very much

[2017-11-03 12:41] micrcx opened #12863 "Error in Intellij IDEA 2017.2.5 after press "control/s""
This internal crash sometimes appears in the onConsole window while editing the code in Intellij IDEA 2017.2.5 after you press "control/s" bottons.

[code]

[2017-11-03 12:57] mit-mit opened #12864 "auto-download of clang-format"
re: https://github.com/flutter/plugins/blob/master/CONTRIBUTING.md

I believe this repo relies on auto-formatting!?

Is the right command to run `pub global run flutter_plugin_tools format` ?

What does that require to run? Mine fails trying to locate 'clang-format'

[2017-11-03 12:57] mit-mit commented on #12864
cc @goderbauer @collinjackson

[2017-11-03 13:30] ds84182 commented on #12854
Anyways, right now on Android [the resulting SkImage doesn't have a color space assigned](https://github.com/flutter/engine/commit/9a960f82f56454e2e45e8e71f2e78529f0225c27#diff-fab26f494839312a78ac197fd731e2afR51), [same thing for iOS](https://github.com/flutter/engine/commit/9a960f82f56454e2e45e8e71f2e78529f0225c27#diff-2d9e493e7bcefbaea32db2dbe1119e0cR65). Developers should be able to choose bet

[2017-11-03 13:45] xster commented on #12569
cc @szakarias
It prepends the package name in the font name.

(For record: doing #12573 first)

[2017-11-03 14:06] PlanovskyJus opened #12865 "Missing files or incorrect lines?"
## Steps to Reproduce

I really don't know how to reproduce this because I have no idea what is happing to cause this in the first place. I have a copied version of a working project. But whenever I have this project to run it messes up and doesn't work. I just get this error.

I have the same project structure on the other one and I have specified all the SDK's needed, but this one just prompts m

[2017-11-03 15:43] lschmierer opened #12866 "Firestore get() support"
In order to get data directly from the Firestore database, the `get` method is needed.

`snapshots` returns cached data immediately (and updated data from network maybe later), but in some use cases it is necessary to get server data directly.

[2017-11-03 15:53] xster commented on #10304
Done now, but #4630 is still a big annoyance.

[2017-11-03 15:53] #10304 closed

[2017-11-03 16:47] goderbauer commented on #12864
That's the right command.

You need clang-format-5 in your path or you can pass its location via the `--clang-format` flag. In addition to that, you need the latest dart in your path and I believe that's it.

[2017-11-03 16:47] #12046 closed

[2017-11-03 17:19] tvolkert commented on #9998
@jason-simmons it sounds like we have the right answer as to how to solve this based on the last comment from @a-siva - can you take a look?

Alternatively, @rmacnak-google are you game to take a look?

[2017-11-03 17:25] cbracken commented on #9383
Closing as dupe of #6737.

[2017-11-03 17:32] mzimmerm commented on #9043
@sethladd FWIW, I published a charting library today:

https://pub.dartlang.org/packages/flutter_charts

Not as ambitious as Chartd but a start, hopefully

[2017-11-03 17:39] aam commented on #7302
I don't think it changes with IKG. We still want to explicitly switch assets directory on hot reload by sending an RPC request(`_flutter.setAssetDirectory` , for example?) to flutter engine. Currently, only RPC request that is sent on hot reload is to `_reloadSources` to Dart VM to pick up updated sources(or kernel).

[2017-11-03 17:50] cbracken commented on #6737
De-duped.

Worth noting that iOS doesn't have APIs for injecting key events. Worst-case scenario is we could manually support this by shimming into part of our implementation of `UITextInput`.

[2017-11-03 18:12] mit-mit opened #12867 "PRs on website failing in travis"
## Steps to Reproduce

Looks like the website preview job is failing?

E.g. https://travis-ci.org/flutter/website/builds/296718138

[code]

[2017-11-03 18:13] mit-mit commented on #12867
Cc @sethladd also seeing this?

[2017-11-03 18:13] mit-mit commented on #12864
Where does one get clang-format?

[2017-11-03 18:16] #12770 closed

[2017-11-03 18:20] sethladd commented on #12770
thanks!

[2017-11-03 18:25] Hixie opened #12868 "Hot reload tells me my typedef didn't run"
I added the following code:

[code]

Then I did a hot reload:

[code]

I'm not sure exactly what the compiler was expecting me to do with the typedef...

cc @rmacnak-google

[2017-11-03 18:31] Hixie opened #12869 "Curves.bounceInOut is broken"
We need to fix Curves.bounceInOut. As it stands today it's unusable, it has a giant discontinuity. It would look great if we smoothed out the middle.

[2017-11-03 19:03] sethladd commented on #9043
Thanks for sharing!

[2017-11-03 19:57] goderbauer commented on #12864
Personally, I am now using the one that comes with the engine (located at `engine/src/buildtools/mac-x64/clang/bin/clang-format`). Previously, I used one installed with `brew`.

[2017-11-03 19:59] goderbauer commented on #12864
It might be worth adding a download step to flutter_plugin_tools that downloads the correct clang-format from wherever the engine is downloading it from during `gclient sync`. Similarly to how it already downloads the java formatter.

[2017-11-03 21:42] aam commented on #7302
This can be address with https://github.com/flutter/flutter/pull/12872 and https://github.com/flutter/engine/pull/4323

[2017-11-03 22:25] Hixie commented on #393
Closing in favour of the project which is tracking individual bugs.

[2017-11-03 22:25] #393 closed

[2017-11-03 22:25] Hixie commented on #11377
This looks like it's working great, but I'm leaving open to look at it again once we've confirmed the Icon RTL issue is resolved.

[2017-11-04 00:50] VolodymyrLykhonis commented on #8726
Not sure if this is still an issue. But I'm observing on Android 3/4 slide animation but it looks like a screen stops at 3/4 position and then disappears instantly. This does not look natural. While gallery app transitions screens from the bottom of the screen.

If need I can try to record a video. I'm on alpha branch with latest code.

[2017-11-04 00:58] xster opened #12877 "Bring back fade transition to Material page transition"
Was removed in #9472 for performance reasons. Mitigate performance issue and bring back the transition effect.

[2017-11-04 00:59] xster commented on #8726
Hi @VolodymyrLykhonis, thanks for reporting. It's a known issue. I left issue #12877 to track it.

[2017-11-04 10:44] xinoxapps opened #12878 "Pan and zoom widget"
Would be very useful if the scroll view can be extended with the following features:

- Zoom in and out
- Scroll in all directions,
- Optional lock on horz or vert.

Use case: Shop App
Scroll a photo in all directions and pinch zoom-in/out.

[2017-11-04 19:08] pauldemarco opened #12882 "Provide a ListTile selection-mode example"
Official layout widgets like ListView/GridView should have a selection mode when an item is long-pressed.

Once in selection mode, ListTile/GridTile becomes toggleable, and the AppBar allows the appropriate options to 'Select all, Cancel, or perform actions on items (share, etc)'.

From material design spec: https://material.io/guidelines/patterns/selection.html#selection-usage

[2017-11-04 20:34] blastrock commented on #3951
After having read this and googling, it is still not clear to me how to manage state in an async context.

Let's take for example a simple application with two pages. The first page lists Things by name, and the second page allows to edit the name of a Thing.
The Things are stored in a sqlite database and I'm using sqflite which only exposes an async API.

I use a FutureBuilder to make the list ap

[2017-11-04 21:42] Ivaskuu commented on #12722
Well, the objective of a barrier dismissible dialog is that it can't and shouldn't be closed. That implies maybe a crucial choice the user must do in an app. And the barrierDismissible proprety is there for that. But the problem is that by tapping the back softkey, it fires the Navigator.pop() method and the dialog disappears.

[2017-11-05 02:03] xster opened #12883 "Account for bottom safe area for interactive widgets"
![img_2770](https://user-images.githubusercontent.com/156888/32411204-b9a98494-c192-11e7-8c49-8104475ec166.PNG)

[2017-11-05 02:05] xster commented on #12883
![img_2771](https://user-images.githubusercontent.com/156888/32411229-2921b6ac-c193-11e7-9b1e-cfd78e3855d1.PNG)

[2017-11-05 12:41] matthiasbruns commented on #12722
Having the same problem.
Non cancelable dialogs should not be cancelled when pressing the back button in Android.
The back button should pop the view history instead, which should lead to a back navigation into the last view.

[2017-11-05 23:05] pulyaevskiy commented on #12675
Awesome work @long1eu ! Looking forward for updates as I’m gonna need similar widget in my project.

[2017-11-06 05:23] kezhuw opened #12885 "Outdated document for location of non-positioned children in RenderStack"
/// parameter. The left of each non-positioned child becomes the
/// difference between the child's width and the stack's width scaled by
/// alignment.x. The top of each non-positioned child is computed
/// similarly and scaled by alignment.y. So if the alignment x and y properties
/// are 0.0 (the default) then the non-positioned children remain in the
/// upper-left corner. If the alignment x a

[2017-11-06 10:09] mit-mit commented on #11527
Closing as a duplicate

[2017-11-06 10:09] #11527 closed

[2017-11-06 14:23] mit-mit commented on #12864
That sounds like a good solution.

[2017-11-06 15:11] mravn-google opened #12886 "Flutter view does not follow device rotation on Android when paused"
## Steps to Reproduce

See b/64703526.

1. Invoke Google signin or similar from Flutter. An Android activity is launched in the foreground. It does not fully cover the screen.
1. Rotate the device 90 degrees.
1. Note: the signin dialog adjusts to new metrics. The Flutter view in the background does not.
1. Dismiss the sign in activity.
1. Note: the Flutter view now adjusts to new metrics.

[2017-11-06 15:49] eseidelGoogle commented on #7053
@chinmaygarde might move us closer to solving this with his current work on the embedder API.

[2017-11-06 16:10] eseidelGoogle commented on #12882
I suspect this is possible to implement on top of existing ListTile, etc. but I agree some help (at least an example) here would be nice.

[2017-11-06 16:13] eseidelGoogle commented on #12877
@chinmaygarde had some planned compositor optimizations.  You might ask him if he has any planned which would make this easier.

[2017-11-06 16:14] eseidelGoogle commented on #9043
There was another chart-related package published last week as well by @xqwzts: https://github.com/xqwzts/flutter_circular_chart

[2017-11-06 16:17] eseidelGoogle commented on #10655
@chinmaygarde do we know who the right person to engage with this from Skia's side is?

[2017-11-06 16:21] eseidelGoogle commented on #12831
@tvolkert or @mehmetf are probably the right people to ask here.

[2017-11-06 16:22] eseidelGoogle commented on #12831
Actually, never mind.  If this occurs in straight up `flutter drive` with out any Google-specific stuff, then @yjbanov is the right person.

[2017-11-06 16:23] eseidelGoogle commented on #12827
The way we've seen teams work around #3770 for now is to make their own fork of flutter/flutter and all pull from that fork.

[2017-11-06 16:48] tvolkert commented on #12831
Discussed this with @yjbanov.  We purposely run the code that remotely drives the app in a standalone embedder (not `flutter_tester`) so as to not confuse the user as to which type of test they're running.  e.g. if they were running in `flutter_tester`, they could end up inadvertently writing a unit test that doesn't actually drive the app as they intended.  The would also have access to finders t

[2017-11-06 16:56] yjbanov commented on #12831
@johnfesa Curious, what is it you are testing i18n-wise that lead you to a FlutterDriver test rather than a widget test? FlutterDriver is good mostly for two things: performance testing and interactions with native code (Java, Obj-C, etc).

[2017-11-06 17:02] zanderso commented on #6192
I've landed a first cut of a plugin for the Android AlarmManager here: https://github.com/flutter/plugins/tree/master/packages/android_alarm_manager. Over the next week or so I'll be looking into extending its capabilities including exposing control over which Dart isolate alarm callbacks run on. Doing that will require further changes in the Flutter engine.

On the iOS side, we're still investiga

[2017-11-06 17:05] sethladd commented on #3671
@zanderso posted an updated over here: https://github.com/flutter/flutter/issues/6192#issuecomment-342214725

[2017-11-06 17:07] tvolkert commented on #12831
Internally, they're also used extensively for screenshot (golden image) testing.  However, there's no inherent reason that we can't use `flutter_tester` (unit) tests for that as well.  We need https://github.com/flutter/flutter/issues/11648 to unlock that feature (associated screen diffing wiring tracked internally in b/64849174)

[2017-11-06 17:14] tvolkert commented on #11648
Within Google, several customers use screen diffing tests with great success.  They're currently required to do this in `flutter_driver` tests, but if we had `Image.toByteData`, that would unlock our ability to provide screen diffing tests in `flutter_tester` tests as well.

This would be a big win on the Flutter team, since there have been several times that we've broken stuff that only image dif

[2017-11-06 17:16] eseidelGoogle commented on #11648
My understanding is the screen diffing test could be orthogonal to this question.  Since those could be implemented with a custom observatory-protocol service which knew how to serve screenshots rather than this more general purpose "get the drawn bytes from a Picture".  But yes, screen diffing could also be implementing on top of this bug, were it to be resolved first.

[2017-11-06 18:01] brianosman commented on #10655
... that would be myself and Mike Klein. The alphaCorrect function linked above does correct for blending black, but the math varies depending on the source color...

[2017-11-06 18:17] amirh opened #12888 "Add retry logic around Installing Google Cloud SDK on bots"
Travis log:

+echo 'Installing Google Cloud SDK...'
Installing Google Cloud SDK...
+curl https://sdk.cloud.google.com
+bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   443    0   443    0     0    711      0 --:--:-- --:--:-- --:--:--   712
curl: (56) SSLRead() return error -9806

[2017-11-06 18:31] passsy commented on #12827
The main purpose of `flutterw` is that a flutter version - a file, containing the channel and exact commit hash - is part of the project and added to CVS. By using `./flutterw` instead of `flutter` it is guaranteed that the app builds with the flutter version it was made for.

A fork is _not_ a workaround to bind a specific flutter version to a project. It would fail when someone updates the fork.

[2017-11-06 18:42] alanrussian commented on #12831
mulligan will probably continue to want to do driver tests for screendiff testing to some extent in order to have full integration tests of our app.

However, screendiff testing at the widget testing layer sounds awesome and very useful.

[2017-11-06 18:53] johnfesa commented on #12831
@tvolkert Many of the Widgets we'd like to use to navigate the interface for a screendiff test are created by Material components on our behalf; things like the Back button in the AppBar. So we're not explicitly constructing them, and thus it's not clear to me how we'd easily provide a Key.

In general it would be nice to avoid having testing-specific code to set Keys on Widgets that don't otherwi

[2017-11-06 19:23] sethladd commented on #12882
@pauldemarco if you can't figure out how to build this with our primitives, please let us know

[2017-11-06 19:31] xster commented on #12697
Hints from Yegor:
- Compare graphs distributions to see if it's specific gallery items
- The original dump actually includes the gallery item before aggregating in the test
- Check upstream dependencies

[2017-11-06 19:34] chinmaygarde opened #12891 "Allow creating cross context SkImages from arbitrary bitmaps."
In order to support decoding and texture upload of GIF image frames on the IO thread, it would be great if SkImage provided a utility to create a cross context image from the arbitrary bitmaps or just a pair of SkDecoder and frame a frame index. This would be very similar to the `SkImage::MakeCrossContextFromEncoded` call that currently only takes the compressed image bytes as input.

[2017-11-06 19:34] chinmaygarde commented on #12891
cc @brianosman @amirh

[2017-11-06 19:36] xster commented on #9993
I tried it recently and it's too much of a time cost for every run. I think the solution is to detect error outputs and instruct the user to run the specific command when version requirements can't be satisfied.

[2017-11-06 19:40] xster commented on #9993
Closing into #12746

[2017-11-06 19:40] #9993 closed

[2017-11-06 19:41] xster opened #12892 "Better error message when phone is not registered with Apple Developer Account"
Error message

[code]

[2017-11-06 20:15] pauldemarco commented on #12882
This should be fairly straight forward to build from existing widgets, just seeing if an official widget was in the works :smile:.  Feel free to close.

[2017-11-06 20:54] eseidelGoogle commented on #10655
My understanding from our meeting with Skia just now was that @chinmaygarde planned to drive this to resolution in the coming week(s).  Woohoo!

[2017-11-06 20:57] xqwzts commented on #9043
Thanks for the mention @eseidel

[2017-11-06 21:04] long1eu commented on #12675
Thanks for support!
An ideas on how I can make the TestStyle describe the subscript and superscript format?
This are my updates:
![final](https://user-images.githubusercontent.com/9283414/32463873-b5d14cfc-c346-11e7-8896-863b3366cf46.gif)

[2017-11-06 21:11] jacoplane opened #12894 "Trouble running/opening Flutter project"
## Steps to Reproduce

I have a Flutter app that I created on my laptop, saved to Github, and then tried to open on my Desktop. I created the app with Android Studio 3, and have tried to run it from the command line, and open it with Android Studio and IntelliJ. However I'm just getting errors. Here's the project:

https://github.com/jacoplane/flit

## Logs

**Flutter run output:**

PS C:\a_dev\fl

[2017-11-06 21:12] brianosman commented on #12891
I'm proposing that this be implemented as SkImage::MakeCrossContextFromPixmap(). That matches the output from SkCodec, and is the lowest level object we have to describe a block of raster data. Make sense?

[2017-11-06 21:16] chinmaygarde commented on #12891
Sounds good to me.

[2017-11-06 21:59] gspencergoog commented on #12894
This was related to the memcache outage that affected the pub server.  It should be working now, albeit a bit slower than normal.  Once memcache is back up and running, it will speed up again.

See: https://twitter.com/dart_lang/status/927643737299095552
and: https://status.cloud.google.com/incident/appengine/17007

[2017-11-06 21:59] #12894 closed

[2017-11-06 22:03] jacoplane commented on #12894
@gspencergoog Yeah it's working now, thanks!

[2017-11-06 22:11] chinmaygarde commented on #10895
Verified fixed. Thanks.
![img_0001](https://user-images.githubusercontent.com/44085/32466604-51d71514-c2fc-11e7-9689-5ed6c011475b.PNG)

[2017-11-06 22:14] cbracken opened #12895 "Differentiate between Window padding and margins in dart:ui"
There are two different sets of view insets that applications may want
to track in order to avoid unwanted interaction with system UI:

1. OS UI that effectively shrinks the Flutter view from a UX point of
view: e.g., when the keyboard opens, it occludes the bottom of the
screen and the view should be adjusted such that the bottom, for the
purposes of scrolling is just above the keyboard.
2. OS UI

[2017-11-06 22:22] xster commented on #12883
Do after #12895 is available

[2017-11-06 22:34] chinmaygarde commented on #12839
Should be fixed by https://github.com/flutter/engine/pull/4327.

[2017-11-06 22:39] chinmaygarde commented on #12250
Based on our conversation, the conclusion here is that the changes in Skia cause performance improvements on some devices while minor regressions in others. The way in which batching affects performance also seems to differ between different members of the same processor family. @bsalomon is working on fine tuning the heuristics further and those changes will land in the upcoming days and weeks. T

[2017-11-06 22:39] #12250 closed

[2017-11-06 22:50] chinmaygarde opened #12897 "FML needs a platform/fuchsia implementation."
The only major component of this implementation is a message loop. The `flutter/fml:fml_unittests` target should build and successfully exit. For a simple implementation, refer to the [Linux backend](https://github.com/flutter/engine/blob/master/fml/platform/linux/message_loop_linux.cc).

[2017-11-06 22:54] #12839 closed

[2017-11-06 22:58] chinmaygarde commented on #7315
This has been fixed with recent Skia rolls.

[2017-11-06 22:58] #7315 closed

[2017-11-07 00:01] mjohnsullivan commented on #12732
Changed now merged to master; thanks for the feedback!

[2017-11-07 00:01] #12732 closed

[2017-11-07 00:08] deborah-ufw opened #12898 "Enable entering text via keyboard in emulator (Android)"
## Steps to Reproduce

Launch a Flutter app with a text input field in an emulator (Android).

Tap on the field, keyboard comes up.

Expected behavior:
- I can use my keyboard to enter my very long text

Actual behavior
- I have to use my mouse to click out a sentence on the emulator's virtual soft keyboard

[2017-11-07 01:32] yjbanov commented on #12243
I'm going to consider that with https://github.com/flutter/flutter/pull/12896 we have a good enough solution for this problem, so I'll close it. FlutterDriver is intended for testing, and when testing we also expect that the test environment is hermetic enough to provide more-or-less predictable latency from external services, such as servers serving images. In cases when the load latency is unpre

[2017-11-07 01:33] yjbanov commented on #11021
I am going to use https://github.com/flutter/flutter/pull/12896 as a non-ideal but hopefully good enough solution for this.

[2017-11-07 01:33] #11021 closed

[2017-11-07 01:33] #12243 closed

[2017-11-07 02:24] briblanch commented on #12505
Great, thanks @cbracken!

[2017-11-07 02:37] #11261 closed

[2017-11-07 03:00] paolosoares opened #12901 "Add "willPop" and "willPush" to NavigatorObserver"
These might be useful for debugging issues that would prevent a route from being pushed, or to peek into a route's settings to trigger any preloading operations.

[2017-11-07 04:14] eseidelGoogle commented on #12898
Sounds like https://github.com/flutter/flutter/issues/11177?

[2017-11-07 04:41] deborah-ufw commented on #12898
Right you are. I searched issues for "keyboard" but did not see that one. I put a thumbs up on that one and am closing this one. Thanks!

[2017-11-07 04:41] #12898 closed

[2017-11-07 08:01] MartYtheSpaceBaker opened #12902 "Last table row is missing horizontalInside border"
When creating a Table, I've noticed the last row is always missing the border.  In the picture between Row 2 and Row 3.  I'm on Windows and emulating with a Pixel, but I suspect it is platform independent.

![image](https://user-images.githubusercontent.com/19455261/32482866-6c230944-c34e-11e7-9d4c-be50ccc4b90b.png)

[code]

[2017-11-07 10:26] pauldemarco opened #12904 "firebase_storage Multiple dex files define"
## Steps to Reproduce

1.  Add **firebase_storage** + **firebase_auth** as dependencies to pubspec.yaml
1.  Attempt to `flutter run`

## Logs

[code]

[2017-11-07 10:34] rogchap commented on #11795
I have a similar issue that text does not show up on the RaisedButton widget.

[2017-11-07 11:51] rogchap commented on #11583
I'm currently porting a React Native app to Flutter, and I use the JS version of libphonenumber for RN.

Would this plugin be specifically for Flutter or more of a port to dartlang?

What do you see as the requirements for this plugin?

Ps. I possibly could work on this plugin if I know some of the requirements.

Would a Plaftorm Channel be another approach?

My use case is for login via Phone Num

[2017-11-07 12:17] pawlowskialex commented on #12848
Just my 5 cents on the iOS part: based on my experience, anything based off AVPlayer, even with custom outputs, is a no-go for non-static screens (e.g. scrolling tables and grids).
AVPlayer always blocks the UI thread during the initial decoding phase, resulting in frame drops. I'm only getting acquainted with Flutter architecture, but it seems like this problem will affect Flutter performance as

[2017-11-07 14:48] eseidelGoogle opened #12905 "Would like docs on Flutter's threading model"
Every once in a while it comes up that I'd like to explain how Flutter uses threads.

I don't believe we have a doc which covers this?

My understanding is that we typically use 4 threads:
1.  Dart code
2. Rasterizer (GPU thread)
3. I/O Thread
4. Platform's main thread (plugins typically run here)

Is that correct?  @Hixie @cbracken Maybe there is already a doc (or stack overflow) and I just need

[2017-11-07 14:49] eseidelGoogle commented on #12848
Either may be OK.  I've filed https://github.com/flutter/flutter/issues/12905 with a request for better documentation of how we use threads.  Unclear whether blocking the platform's main thread is a problem for a Flutter using app.

[2017-11-07 14:55] sigurdm commented on #12848
Yes - I think we might be able to ignore the ios platform main thread being blocked, because flutter ui has its own thread. However thanks a lot for the heads up. We might want to revisit the choice of AVPlayer if it turns out to cause trouble.

[2017-11-07 15:16] ds84182 commented on #12618
I just ran into this today. If you use `addRepaintBoundaries: false` to the ListView widget then the problem goes away. I'm guessing that RepaintBoundary clips off the shadow sometimes when it repaints the child.

[2017-11-07 17:00] rock3r commented on #9393
I was trying to work on the Flutter framework yesterday while flying and I couldn't even run tests offline, even though there should've been a cached version of everything since I had worked on the same code/branch already:

![image](https://user-images.githubusercontent.com/153802/32506707-2ebeab00-c3dd-11e7-839a-92bbf141ac99.png)

[2017-11-07 17:04] sethladd commented on #9393
Thanks for the report!

cc @devoncarew @mit-mit

[2017-11-07 18:11] amirh commented on #3770
+1 to make the flutter tool follow the same semantics of pub get for versioning.

I just bumped into this issue on a personal pet project -
1. Flutter tool nudged me to flutter upgrade.
2. I upgraded and pub failed to solve dependency constraints.

After digging into it I found out that the new flutter version had a new dependency on shelf (https://github.com/flutter/flutter/commit/441b5c2031733d0

[2017-11-07 18:12] kinshul commented on #12691
@Hixie The workarounds are good enough for now.

[2017-11-07 18:26] yjbanov commented on #12831
Can you use [FlutterDriver.requestData](https://docs.flutter.io/flutter/flutter_driver/FlutterDriver/requestData.html) to translate strings needed by the test script?

The `Locale` and specific implementation of `MaterialLocalizations` depends on a widget's location in the widget hierarchy. So even if you were able to use `DefaultMaterialLocalizations` in the driver script, you would need to make

[2017-11-07 18:28] passsy commented on #12099
Here is my current workaround:

### Code

[code]

### Usage

[code]

### Result

<img width="456" alt="screen shot 2017-11-07 at 19 11 18" src="https://user-images.githubusercontent.com/1096485/32510613-7bcce9f2-c3f1-11e7-8e6f-49df37b1109c.png">

### Problem

The `Scaffold` doesn't expand the `BottomNavigationbar` to the bottom. It could look OKish if the `BottomNavigationbar` wouldn't cast [this

[2017-11-07 19:34] abbadabbatech opened #12910 "iOS sends a special character for single quote using http.client post of JSON to rest api"
## Steps to Reproduce

I have a TextField collecting a string of data
`new TextField(
            decoration: const InputDecoration(
              hintText: 'Chat Reply',
              labelText: 'Chat Reply:',
            ),
            maxLines: 2,
            controller: _newreplycontroller,
            keyboardType: TextInputType.text,
          ),`

I create JSON and post using http.client.
`

[2017-11-07 20:05] pauldemarco commented on #12904
Things just seem to be working today, not sure the cause, but I'll close this for now.

[2017-11-07 20:05] #12904 closed

[2017-11-07 20:05] LarkAscending commented on #12818
Looks like an inconsistency between versions of the sample code.  We commented out the `use_frameworks!` line in most of the full_steps, but 0 and 1 are lacking the comment character. And all of the offline_steps need this line commented.

[2017-11-07 21:01] LarkAscending commented on #12818
Also verified this is not an issue with the real cocoapods 1.2.1.

[2017-11-07 21:08] johnpryan commented on #73
Shameless plug for those looking for a full-screen map solution:

https://pub.dartlang.org/packages/map_view

[2017-11-07 21:31] cbracken commented on #12099
Small update: I've got engine work in progress to resolve #12895, which is a pre-req for getting a universal solution for iPhone X issues. Once that's in, I'll clean up my preliminary patches for the bottom nav (as well as list and grid tiles).

In the meantime, if you need a quick workaround, you could apply an inline patch to the bottom nav in a branch:

[code]

[2017-11-07 21:35] xster opened #12912 "Create a multi-staged sequential builder layout-er"
Combine components of `LayoutBuilder` and `MultiChildLayoutDelegate` to sequentially build a child, lay it out, then take the layout info from that child and feed into the build and layout of the next child until there are no more children.

[2017-11-07 21:42] xster opened #12913 "Automatically pad scrollables with sliver paddings based on translucent items not directly in ancestor tree"
Example, scrollables can scroll under `CupertinoTabBar`s that's not a direct ancestor of the scrollable but should should both scroll under the tab and also pad the last item so it's not behind the tab. Needs #12912 first.

[2017-11-07 21:52] stefanocoding commented on #12865
Did you try deleting the file `test/widget_test.dart`?

[2017-11-07 22:02] brianosman commented on #12891
New API has landed:
https://skia.googlesource.com/skia.git/+/63bc48d09323a62c8c67237fc66ad6ec7105e973

[2017-11-07 22:43] Hixie commented on #11961
We are currently considering our long-term plan for text rendering so we aren't exactly sure how we'll address this. We will have an update in a week or so.

[2017-11-07 22:48] Hixie commented on #4872
I'm going to close this since I've not seen anyone even mention it, let alone be confused by it. I think we resolved this a while ago.

[2017-11-07 22:48] #4872 closed

[2017-11-07 22:50] Hixie commented on #4882
I think this particular crash might be fixed. We should verify.

[2017-11-07 22:51] Hixie commented on #4887
I don't understand how this is different from #4874. Please reopen if it is distinct.

[2017-11-07 22:51] #4887 closed

[2017-11-07 22:52] Hixie commented on #4899
We do not currently plan to provide a full fix for this bug, though we would consider patches if anyone wanted to try to provide a solution.

[2017-11-07 22:55] Hixie commented on #4921
@eseidelGoogle I'm going to close this per my last comment but feel free to reopen if you can add additional details. Thanks!

[2017-11-07 22:55] #4921 closed

[2017-11-07 22:56] sethladd commented on #12181
Happy to try again!

[2017-11-07 22:58] Hixie commented on #4988
Is this still an issue?

[2017-11-07 22:59] Hixie commented on #4999
What is the status of this issue?

[2017-11-07 23:01] Hixie commented on #5017
We should check, but I think we fixed this.

[2017-11-07 23:01] pq commented on #4999
cc @jcollins-g

[2017-11-07 23:04] Hixie commented on #5028
Closing this per @a-siva

[2017-11-07 23:04] #5028 closed

[2017-11-07 23:06] Hixie commented on #5085
We do this now! @gspencergoog has more fixes coming for specific widgets, but I'm going to close this as done.

[2017-11-07 23:06] #5085 closed

[2017-11-07 23:07] Hixie commented on #5099
We do this for floating app bars now. Closing since as @HansMuller says it's not clear it should happen for the other kinds of app bars.

[2017-11-07 23:07] #5099 closed

[2017-11-07 23:08] maryx commented on #9211
In the [Material Guidelines](https://material.io/guidelines/components/menus.html#menus-simple-menus) (search for "simple dialog instead"), it indicates that the lines should be wrapped. Could we replicate what the Simple Dialog does for the Dropdown widget?

[2017-11-07 23:12] Hixie commented on #12910
Is iOS simply using a different character for the single-quote? Something other than the apostrophe character? If so, this seems like it's working correctly? Can you elaborate on the issue you are seeing?

[2017-11-07 23:13] Hixie commented on #12905
That looks right. Where would you want these docs? Is the last paragraph of https://github.com/flutter/engine/wiki#architecture-notes sufficient?

[2017-11-07 23:14] Hixie commented on #12902
I probably broke this when refactoring borders recently.

[2017-11-07 23:17] Hixie commented on #12892
Should this be closed?

[2017-11-07 23:17] HansMuller commented on #9211
The [Material Guidelines for menus](https://material.io/guidelines/components/menus.html#menus-simple-menus) says:

I'll check with the Material team, but I would think that the same advice would apply to dropdowns.

[2017-11-07 23:17] xster commented on #12892
Oh ya, oops

[2017-11-07 23:18] Hixie commented on #12888
We will need some retry logic around that step.

[2017-11-07 23:19] Hixie commented on #12885
Thanks for catching this!

[2017-11-07 23:19] Hixie commented on #12883
I believe @cbracken has a fix for this now.

[2017-11-07 23:20] Hixie commented on #12882
We don't currently plan to do this any time soon, but I agree that it would make sense for us to have something to do this.

[2017-11-07 23:21] xster commented on #12883
@cbracken sounds like you're doing this now. Can I assign this to you?

[2017-11-07 23:21] cbracken commented on #12883
Yes please :)

[2017-11-07 23:21] Hixie commented on #12878
Having a widget to do zoom and pan of a child widget definitely seems like a worthy feature for us to have, though I don't think it would be part of ScrollView per se.

[2017-11-07 23:24] Hixie commented on #12866
cc @collinjackson @kroikie

[2017-11-07 23:26] Hixie commented on #12865
It's hard to tell exactly what the problem is without seeing the main.dart source code. Do you have a MaterialApp in your main.dart?

[2017-11-07 23:27] Hixie commented on #12863
cc @mit-mit @devoncarew

[2017-11-07 23:28] Hixie commented on #12862
cc @mravn-google

[2017-11-07 23:51] abbadabbatech commented on #12910
So what is happening, because its not a single quote, when it gets returned in JSON, it does not present as a single quote, it presents as the special character and not a single quote/apostrophe.  When I did a sample app in xcode to send the same data to a the same rest api its returns as a single quote.  I am still doing some testing, but it seems to be tied to something in flutter, but I could b

[2017-11-08 00:14] abbadabbatech commented on #12910
To add to it, if I just pass text string into it, it sees the single quote, but if I type into a textfield and then pass that into the same service the in returns like this \"hello Iâm looking for help\" you can see where the single quote should be.  If I take a static string and pass into it, you see it return like this. \"hello I'm looking for help\" so it something with when the character is

[2017-11-08 00:32] eseidelGoogle commented on #12905
Anywhere is fine.  Just looking for a thing to point folks to.  Those notes are helpful.

[2017-11-08 01:05] abbadabbatech commented on #12910
I will close this issue, it appears that it is a feature that Apple makes you turn off called smart punctuation, that turns single and double quotes into curly quotes and a different ascii character.  Its an iOS thing that why it could be produced in xcode and flutter code.  Anyone have an idea of how to disable from flutter?

[2017-11-08 01:05] #12910 closed

[2017-11-08 01:50] MartYtheSpaceBaker commented on #12902
Awesome, thanks!

[2017-11-08 02:35] xster opened #12917 "Use Xcode 9's new -allowProvisioningDeviceRegistration flag"
This lets us actually resolve some code signing issues rather than just warning users to go into Xcode.

[2017-11-08 06:15] jwmcglynn opened #12920 "Autocorrect tooltips don't appear on iOS"
## Steps to Reproduce

When using a native iOS app without text prediction enabled, there is a pop-up that indicates when autocorrections are going to occur, and when backspacing on a correction a pop-up appears that gives alternative choices for the word.

In flutter, the autocorrections happen silently and require backspacing into the word to make the correction.  See the gif below for a compari

[2017-11-08 08:38] romaluca opened #12921 "ImagePicker loses EXIF when resizing via maxWidth or maxHeight"
Hi, i'm using the plugin:
https://github.com/flutter/plugins/tree/master/packages/image_picker

for get images and photo. I'm using it also with maxWidth and maxHeight.

Is possible have the exif metadata before the resize?

How can i do it?

Thanks

[2017-11-08 09:10] hreinhardt opened #12922 "crash when scrolling in AnimatedList"
Consider the following program:

[code]

If I run it, press the 'load' button and then quickly scroll up and down (while the animation is running), I can reliaby produce this error:

[code]
Interestingly, the crash disappears if I remove the padding from the AnimatedList.

I tried both the "master" and the "alpha" branch of Flutter and they give the same error.

[2017-11-08 14:15] mravn-google commented on #12862
Standard message codec does not accept object arrays (mainly because it would not be symmetric, as you'd never be able to get a `String[]` or similar back from Dart). The plugin should not attempt to send one.

[2017-11-08 15:19] mit-mit commented on #12863
cc @rmacnak-google

[2017-11-08 15:26] eseidelGoogle commented on #12920
MD doesn't seem to talk about this, so this is likely going to be cupertino specific.
https://material.io/guidelines/components/text-fields.html
Thoughts @cbracken @xster?

[2017-11-08 15:33] micrcx commented on #12863
I'm sorry to be late with the reply. I've slow reaction. In principle, this crash can be ignored, you just need to re-run the application for execution.

[2017-11-08 15:50] jcollins-g commented on #4999
There is no progress on this issue right now.

[2017-11-08 16:08] mit-mit commented on #12863
Glad to hear that you were able to recover from this @micrcx. But we should fail more elegantly and not crash like this, so i'm going to reopen the bug.

[2017-11-08 16:44] yjbanov commented on #12426
This is done in https://github.com/flutter/flutter/pull/12736 (which adds 'ps') and https://github.com/flutter/flutter/pull/12803 (which removes 'sd').

[2017-11-08 16:44] #12426 closed

[2017-11-08 16:55] ds84182 opened #12924 "SegFault on Android when app goes in background after using a texture"
Symbolicated stack trace:

[code]

I've been able to reproduce this crash consistently by pressing home or the recent apps button. Maybe it has something to do with releasing the texture on the Android side?

[2017-11-08 17:42] eseidelGoogle commented on #12924
That's super awesome that you symbolicated that for us.  Thank you.  @jason-simmons is very good at fixing this kind of thing.

[2017-11-08 17:47] abarth opened #12925 "Fuchsia Dashboard leaks memory overnight"
## Steps to Reproduce

1. Run Fuchsia.
2. Launch Fuchsia Dashboard (source: https://fuchsia.googlesource.com/topaz/+/master/app/dashboard/)
3. Wait overnight.

Eventually, the flutter:dashboard process will consume all available memory (in the case of this mechine, 6GB) and be killed by the OOM killer.

## Logs

[code]

/cc @apwilson @collinjackson

[2017-11-08 17:50] eseidelGoogle commented on #12925
@yjbanov This makes me think we should have a non-fuchsia Flutter endurance test as well.

[2017-11-08 17:51] eseidelGoogle commented on #12925
FYI @zanderso @collinjackson who both have expressed interest in supporting Flutter on Fuchsia.

[2017-11-08 17:57] zanderso commented on #12925
@abarth Can the OOM killer dump the memory map before killing a job?

[2017-11-08 18:00] abarth commented on #12925
@zanderso We were just talking about how that would be useful!  Unfortunately, it doesn't do that.

We don't need to push it all the way to the wall to get the memory map.  The endurance test is running again.  We can grab a memory map from it in a few hours to see what's going on.  If it's not obvious, then we can schedule memory map dumps overnight.

[2017-11-08 18:09] cbracken commented on #12099
I should clarify - the additional bottom padding is 34.0 for vertical orientation, 21.0 for horizontal. In both cases, minus 9.0 on the bottom nav for the moment.

[2017-11-08 18:29] ds84182 commented on #5594
I'm still getting some crashes on Nougat when I resize the activity on my phone. I don't see this crash on the Play Store version of Flutter Gallery.

`Abort message: '[FATAL:flutter/shell/platform/android/platform_view_android_jni.cc(34)] Check failed: env->ExceptionCheck() == JNI_FALSE.'`

[code]

Flutter also stops updating the screen/playing animations when the other app is focused, doesn't re

[2017-11-08 18:30] ds84182 commented on #5594
I'm still getting some crashes on Nougat when I resize the activity on my phone. I don't see this crash on the Play Store version of Flutter Gallery.

`Abort message: '[FATAL:flutter/shell/platform/android/platform_view_android_jni.cc(34)] Check failed: env->ExceptionCheck() == JNI_FALSE.'`

[code]

Flutter also stops updating the screen/playing animations when the other app is focused, doesn't re

[2017-11-08 18:33] mehmetf opened #12927 "Support for rendering equations"
We heard this requirement from an internal team; creating an issue here to start a discussion on the best way to support this.

They would like to use Latex(like) markup to render equations in a Flutter app.

They considered using WebView support which will be coming up however they are concerned about having multiple webviews active in the app at the same time. Their UI contains several tiles as

[2017-11-08 18:36] eseidelGoogle commented on #12927
Latex equations are typically static.  This feels like something that could be done well from some sort of shared library (C++, etc.) which took latex as a source and spit out rendered images.  One could pretty easily write a Flutter plugin around such a library.

[2017-11-08 18:44] eseidelGoogle commented on #5594
The the latest crash @ds84182 showed has "sk_out_of_memory" in the stack, which could suggest a leak in our handling of buffers in resize mode?

[2017-11-08 18:57] eseidelGoogle commented on #12927
I would love to learn more about the desires/requirements here (privately or otherwise), as I'm not aware of any blockers from producing a latex-rendering plugin for Flutter today, even one which integrates into layout with other Flutter widgets.   Having https://github.com/flutter/flutter/issues/7053 resolved would likely remove some boilerplate from doing so, but shouldn't be a blocker.

[2017-11-08 19:01] mehmetf commented on #12927
Sample Libraries that can be used for a plugin provided that conversion to images is good enough:

Java Library for converting Latex to SVG: https://github.com/opencollab/jlatexmath
For iOS: https://github.com/kostub/iosMath

[2017-11-08 19:15] cbracken opened #12928 "More fault tolerance for npm-install step on Travis"
#Flakes seen in both the `coverage` and `docs` slices of the Travis framework build today:

[code]

[2017-11-08 19:21] abbadabbatech commented on #7497
I do not see the keyboard going away in either, once I click my submit button or enter key, the keyboard just stays.  Is there something I am supposed to call to get it to remove?

[2017-11-08 19:25] sethladd commented on #7854
Is this still an issue?

[2017-11-08 19:27] sethladd commented on #6827
Is this the same as https://github.com/flutter/flutter/issues/7560 ?

[2017-11-08 19:27] sethladd commented on #7560
Is this a dupe of https://github.com/flutter/flutter/issues/6827 ?

[2017-11-08 19:45] xster commented on #11547
Is there a bug tracking support for building arbitrarily named build configurations inside arbitrarily named schemes?

It seems like currently the expected build configurations' names must be named a specific way.

[2017-11-08 19:47] mravn-google commented on #11547
@xster Not that I know of. Do we need that complexity?

[2017-11-08 19:48] mravn-google commented on #6827
@sethladd I think so.

[2017-11-08 19:51] xster commented on #11547
Seems like Posse is already inadvertently (maybe?) doing it. I think it still coincidentally works because nobody cleaned their generated.xconfig for a long time but if they hire someone new, they might not be able to build anymore.

[2017-11-08 20:08] sethladd commented on #7560
Closing this in favor of #6827 (de-duping)

Please let me know if we want both of these issues open.

[2017-11-08 20:08] #7560 closed

[2017-11-08 20:09] sethladd commented on #6827
@mravn-google thanks! I've closed #7560 in favor of this one, just to de-dupe and centralize the conversation.

[2017-11-08 20:37] NickRun opened #12929 "image_picker app crashes on Iphone when "Take Photo" is chosen"
Using example code:

[code]

Using "flutter run" on device iPhone iOS 11.1 (not simulator)

"Choose Photo" works as expected. But when I attempt to "Take Photo" the app closes and Flutter CLI logs "Lost connection to device."

Flutter doctor output:

[✓] Flutter (on Mac OS X 10.12.6 16G29, locale en-US, channel master)
    • Flutter at /Users/username/flutter
    • Framework revision b04b89ac95 (5

[2017-11-08 20:53] eseidelGoogle commented on #12929
Looks like @roughike is working in this space?

[2017-11-08 20:54] eseidelGoogle commented on #12929
I don't recall who on our team wrote the original image_picker plugin, but @goderbauer might know.

[2017-11-08 21:16] cbracken commented on #7497
@abbadabbatech I believe a later change #8028 changed the return key behaviour for multi-line text fields.

[2017-11-08 21:28] roughike commented on #12929
Does the nfo.plist file have `NSCameraUsageDescription` specified? If I remember correctly, it won't work and may crash without it.

The documentation doesn't mention anything about this though.

[2017-11-08 22:13] pq opened #12930 "Duplicate entries in widgets.json."
We're parsing [`widgets.json`](https://github.com/flutter/website/blob/master/_data/catalog/widgets.json) to take advantage of the widget categories in the inspector.  In the process of adding some validation, I noticed that the following widgets show up more than once (and with different categorizations):

* `GridView`
* `ListView`
* `Transform`

Here are the raw bits:

[code]

I'm happy to updat

[2017-11-08 22:15] NickRun commented on #12929
@roughike `NSCameraUsageDescription` was used as a value for `Application Category` by default. I'm not sure how that was generated.

I was able to get it work by adding key `Privacy - Camera Usage Description` and a description for the value.

[2017-11-08 22:15] #12929 closed

[2017-11-08 22:16] Hixie commented on #12905
If the paragraph on that wiki is enough, should we close this bug?

[2017-11-08 22:36] #12905 closed

[2017-11-08 22:49] jpgilchrist opened #12931 "How to showMenu and position origin with initial value?"
## Steps to Reproduce

[code]

![image](https://user-images.githubusercontent.com/5065660/32577671-b52a1cee-c4a8-11e7-9acb-8e527c1248d5.png)

Per the docs: https://docs.flutter.io/flutter/material/showMenu.html

I understand that when supplying an initialValue the position calculation is based off of the selected item, not the origin. I would
1. like to tell it to position by origin
[code]
2. like

[2017-11-08 22:58] jpgilchrist commented on #12931
Honesty, the answer to this may be: "Use something else..." but I couldn't find a menu or dialog that I could position where I wanted it... I'm trying to make a dropdown for a nifty quick navigation logic in the app bar.

[2017-11-08 23:05] apwilson commented on #12925
After three hours of leaking:

before:
[code]

after:
[code]

[2017-11-08 23:49] abbadabbatech commented on #7497
Thanks for the response, only thing that works is maxlines to 1 give the Done button on keyboard. I was hoping to trigger the keyboard just disappearing when its submitted. I will check around for that, thanks.

[2017-11-08 23:57] cbracken commented on #7497
If you're not able to work anything convenient out, definitely file a bug and /cc myself and/or @gspencergoog.

[2017-11-09 00:17] Hixie commented on #10655
That's problematic; there are parts of the Material spec where we only know that we want to apply a particular opacity. Maybe we should move back to sRGB?

[2017-11-09 00:26] Hixie commented on #3770
Ah, right, I was thinking of `.svn` directories, which are per-folder.

We should just update the `flutter` tool to correctly handle submodules.

[2017-11-09 00:29] apwilson commented on #12925
after 4.5 hours:

entity | memory used | memory used in bytes
----- | ----- | -----
P flutter:dashboard | 364.2M | 381839747
V jemalloc-heap | 114.2M | 119754752
V magma_create_buffer[343] | 89.0M | 93358080
V dart-newspace dashboard:main()[2] | 64M | 67108864
V dart-oldspace dashboard:main()[122] | 30.2M | 31674368
V flutter_jit_runner | 28.0M | 29376512
V dart-profiler | 10.5M | 11042816
V dart-

[2017-11-09 00:31] abarth commented on #12925
Looks like the leak is in jemalloc-heap.

[2017-11-09 00:44] Hixie commented on #3951
This is entirely up to your application. One option may be to have a single class somewhere that wraps your Sqlite database, and that implements the Listenable interface (as well as an interface to update the data, read the data, etc). Then you would pass this object to each widget that cares about the database, rather than have the widgets know anything about Sqlite. Each such widget listens to t

[2017-11-09 01:06] #12011 closed

[2017-11-09 01:10] sroddy commented on #12526
@mit-mit @a-siva Not sure it is related, but I tested the `isolate.dart` example and now it crashes as soon as I press the start button, instead of at 100% of the progress as it was in alpha 0.0.16. Using the debugger, this is the last Dart line it manages to reach:
```Isolate.spawn(_calculate, message).then<Null>((Isolate isolate) {```
It also seems that it doesn't enter the _calculate function f

[2017-11-09 02:26] xster opened #12934 "Text rendering is broken on iOS physical devices when applying matrix transforms"
Only happens on iOS physical devices. Not on simulator or Android.

Some remnants of the previous text render buffer flickers back and gets progressively worse as more text gets rendered.

![giphy-downsized-large](https://user-images.githubusercontent.com/156888/32585634-3f136ab4-c4b3-11e7-8615-bc66613625a4.gif)

Code to trigger this issue is

[code]

[2017-11-09 03:03] robryk opened #12935 "Cannot receive errors from EventChannel"
## Steps to Reproduce

1. Modify the `platform_channel` example so that:
a) the charging state channel always sends back an error.
b) `_onError` sets the text to "Battery status: error."
2. Do `flutter run`.

Observed behaviour:
1. The battery status text says "Battery status: error."
2. `flutter run` prints the following error:
[code]

Expected behaviour:
1. _onError runs and changes the battery

[2017-11-09 03:05] eseidelGoogle commented on #12935
@mravn-google would know.

[2017-11-09 03:24] xster commented on #12892
Actually the code's in the wrong place. It's in the install step in devices.dart, not in the build step in mac.dart

[2017-11-09 06:29] BlankRain commented on #12461
@Hixie  Thanks ...

[2017-11-09 06:37] roughike opened #12937 "ImagePicker needs better documentation"
For example, as mentioned in #12929, it will crash on iOS without NSCameraUsageDescription in Info.plist file, but there's no mention about it in the docs.

[2017-11-09 06:38] InMatrix commented on #12930
If I remember it correctly, this doesn't necessarily indicate a bug. Some widgets do belong to more than one category in the widget catalog. cc @FaisalAbid

[2017-11-09 06:41] roughike commented on #12921
What info do you specifically need?

There's no currently an API for this, but I'm interested in implementing it.

[2017-11-09 08:25] mit-mit commented on #12526
Are you on master or alpha? I also still get a crash in alpha, but have it working on master.

[2017-11-09 08:35] romaluca commented on #12921
I need:
Make, Model, FNumber, SpectralSensitivity, ExposureTime, FocalLength, GPSLatitude, GPSLongitude

I also wrote this flutter plugin:

[https://github.com/romaluca/exif_flutter](https://github.com/romaluca/exif_flutter)

(it is a bad port of this: []( https://pub.dartlang.org/packages/exifdart) )

It works but only when i not specify maxHeight or maxWidth in image picker

[2017-11-09 08:43] sroddy commented on #12526
I just tried to run it with a completely new `master` directory and I'm able to reproduce it consistently. Here is my flutter doctor:

[code]

[2017-11-09 08:57] mit-mit commented on #12526
I can repro now! It *does* work on Android Emulator, and physical iOS devices, but if I run an iPhone SE in the Simulator I also get the "Lost connection to device." error when I click the button.

@sroddy would you mind opening a new bug for this?

[2017-11-09 09:01] roughike commented on #12921
Ah, I see.

The EXIF data is lost since when you use `maxWidth` or `maxHeight`, a scaled version of the image is created and saved on the filesystem. This is so that we don't actually downscale the original picture in the users gallery, which might result in angry users.

So, in the case of `maxWidth` or `maxHeight` being used, the EXIF data should be copied from the _original_ image to the _scale

[2017-11-09 09:03] sroddy commented on #12526
yes, no prob.

[2017-11-09 09:07] mravn-google commented on #12935
@robryk Thanks for reporting, this is indeed an oversight.

[2017-11-09 09:10] sroddy opened #12939 "iOS Simulator Crashes When Spawning New Isolate"
## Steps to Reproduce

Related discussion here: #12526

1) On `master` run `flutter/examples/layers/services/isolate.dart` on iPhone SE
2) Click the Start button
3) The app crashes when spawning the isolate

## Logs

Using the debugger, this is the last Dart line it manages to reach:
```Isolate.spawn(_calculate, message).then<Null>((Isolate isolate) {```
It also seems that it doesn't enter the _ca

[2017-11-09 09:18] mit-mit commented on #12939
Note: this repros on the iOS Simulator, but not on a physical iPod SE!

[2017-11-09 09:18] mit-mit commented on #12939
cc @a-siva

[2017-11-09 09:59] mravn-google commented on #6827
I'm leaning towards adding a synchronous counterpart to `MethodChannel` for this kind of platform-to-Dart communication.

[2017-11-09 12:35] PlanovskyJus commented on #12865
This was fixed just by creating a new flutter app from the terminal. I originally was working on this when I cloned it from someone else to work on it from them. I had to copy paste a lot of the code into the new flutter project.

[2017-11-09 12:35] #12865 closed

[2017-11-09 13:32] sroddy commented on #12895
If I understand correctly, the change you propose will break BC of a lot of widgets (internal and external).

In my mind there are 3 possible use cases for this API:
1) Dev wants to entirely cover the screen
2) Dev wants to layout something above the iPhone X soft home button (but have the keyboard cover it)
3) Dev wants to layout something in a way that is always possible for the User to view/int

[2017-11-09 13:50] mit-mit opened #12943 "Back arrow icon broken on iOS"
## Steps to Reproduce

Add the following to `main.dart`:

[code]

1. Run on Android
   => App behaves as expected

1. Run on iOS
  => After clicking the 'Page 2' button to navigate to Page2, get a page with a broken icon for the back arrow

   ![image](https://user-images.githubusercontent.com/13644170/32608655-5888b576-c55d-11e7-915c-96cea92d5015.png)

[2017-11-09 13:51] mit-mit commented on #12943
cc @Hixie, am I doing something wrong, or is this really broken?

[2017-11-09 15:09] lschmierer opened #12945 "Firestore crashes with signal 6 (SIGABRT)"
## Steps to Reproduce

The line
[code]
lets my application crash with signal 6 (SIGABRT).

The strange thing is that the same code seemed to have worked a few days ago.
I am pretty much sure that I have not changed anything in the meantime (like upgrading Flutter or upgrading packages, etc.).

## Logs
`flutter run`:
[code]

`flutter analyze` reports no issues.

## Flutter Doctor
[code]

[2017-11-09 15:11] mit-mit opened #12946 "Platform docs are no longer correct on iOS?"
https://flutter.io/platform-channels/#example-objc says to create a methodchannel like this:

[code]

but that no longer compiles. Looks like it changed?
https://github.com/flutter/plugins/commit/5cdfbb18ac12f9b9649290fe615eb5c6dabe3e1d#diff-9614f40399a88cd0de2bd6957b05d7ea

[2017-11-09 15:11] mit-mit commented on #12946
cc @xster @mravn-google

[2017-11-09 15:14] mit-mit commented on #12946
Nevermind @xster looks like that change is unrelated to the framework.

@mravn-google the code looks different in other plugins still though:
https://github.com/flutter/plugins/blob/master/packages/device_info/ios/Classes/DeviceInfoPlugin.m

[2017-11-09 15:18] mit-mit commented on #12946
Ugh, nevermind, I'm rushing to get something done, and made a stupid mistake. The docs are correct.

[2017-11-09 15:18] #12946 closed

[2017-11-09 15:22] eseidelGoogle commented on #12945
I believe that occurs when there is an exception on the Java side.  I'm sorta surprised we don't log more.  @collinjackson or @kroikie might know.

[2017-11-09 15:24] eseidelGoogle commented on #12943
Does your pubspec.yaml have uses_material_design: true or whatever the modern equivalent is?

@xster might know.  This doesn't look like https://github.com/flutter/flutter/issues/12739, so likely just the material font is not being included in your app.

[2017-11-09 15:25] ferpujol commented on #12341
Same problem here.

[2017-11-09 15:25] brianosman commented on #10655
Yes. Skia has facilities for doing gamut correction (to account for wide-gamut displays), but still use nonlinear blending. Chrome is now using that functionality, as is Android. This also matches the behavior of other platform APIs and browsers. I'll be preparing a PR that uses Skia in this way (though I'd like to leave an option for apps to select linear blending).

[2017-11-09 15:27] eseidelGoogle commented on #12945
With regards to exception messages, it looks like https://github.com/flutter/flutter/pull/12938 might be improving things.

[2017-11-09 15:30] mit-mit commented on #12943
Yes, `pubspec.yaml` has `uses-material-design: true`

[2017-11-09 16:06] kyleduo opened #12947 "Got `Missing Xcode dependency: Python module "six".` when launch."
## Steps to Reproduce

I've installed flutter SDK and Python module "six", but when I execute `flutter doctor` ro `flutter run` in command line. I got this error message:

[code]

**BUT** I can successfully launch the `myapp` project in intellij IDEA.

## Logs

[code]

## Flutter Doctor

[code]

[2017-11-09 16:16] #12935 closed

[2017-11-09 17:03] steele232 opened #12948 "Improve message for assert that catches `CupertinoSwitch(value: null)`"
## Steps to Reproduce

I was just learning how to use the CupertinoSwitch widget and didn't really know anything. I briefly looked at the docs for it a week before attempting to use it in my app.

I just did
[code]
because I didn't really know what I was doing. I had previously put in false on the value parameter because I wanted it to start out being false/off and it worked fine. At that point, I

[2017-11-09 17:35] zanderso commented on #12925
Can we shut off various bits of the dashboard app to try to eliminate some possibilities? For example, shutting off the UI, or using mock data instead of actual http requests.

[2017-11-09 17:50] abarth commented on #12925
Yes, we're going to try a build without networking.

[2017-11-09 18:04] #12924 closed

[2017-11-09 18:04] #12886 closed

[2017-11-09 18:22] Hixie commented on #12943
Top of tree?

[2017-11-09 18:24] Hixie commented on #12943
If this affects iOS uniformly then this is a critical regression, so marking TODAY until we know for sure that it isn't.

[2017-11-09 18:42] xster commented on #12943
I'll check it out

[2017-11-09 18:45] cbracken commented on #12895
@sroddy thanks for the feedback!

Yep! That's exactly the intent. Just to clear up what might be a misunderstanding: the intent here is not to blindly apply the iOS safe areas as additional padding within the margin, it's to do the appropriate rect intersections in the engine such that the correct margin and padding are exposed to the framework and developers.

Today, the only known use-case for `

[2017-11-09 19:04] jason-simmons commented on #12945
That assertion corresponds to FlutterView.handlePlatformMessage throwing an exception while receiving a message sent from Dart to the native platform code.

FlutterView.handlePlatformMessage should catch exceptions thrown by plugin Java code.  However, one case where it will throw is if the FlutterView has been detached by the time the platform message arrives.

What state is the application in wh

[2017-11-09 19:05] cbracken commented on #12895
WARNING: more bad ASCII art ahead.

The case this design doesn't cover is a `Scaffold` where `resizeToAvoidBottomPadding` is `false` instead of the default `true`. Today that means 'ignore bottom padding'. Under the proposed design, it would mean 'ignore bottom margin'.

Imagine such a scaffold where the body is a `SafeArea` containing a `Placeholder` running on an iPhone X -- which has a top safe

[2017-11-09 19:18] sethladd commented on #12181
Still happening on Alpha.

[2017-11-09 19:22] sethladd commented on #12181
And still happening on master (as of today)

[2017-11-09 19:26] micrcx commented on #12863
/home/micrcx/flutter/bin/flutter --no-color doctor
[✓] Flutter (on Linux, locale en_US.UTF-8, channel alpha)
    • Flutter at /home/micrcx/flutter
    • Framework revision e8aa40eddd (3 weeks ago), 2017-10-17 15:42:40 -0700
    • Engine revision 7c4142808c
    • Tools Dart version 1.25.0-dev.11.0

[✓] Android toolchain - develop for Android devices (Android SDK 26.0.1)
    • Android SDK at /home/m

[2017-11-09 19:27] xster commented on #12943
It's what I was suspecting. The glyphs' codepoints all changed in a new font .ttf but our mapping wasn't updated. There's probably a lot more icons broken.

[2017-11-09 19:29] xster commented on #12943
Was updated in #12876. We need to run the script.

[2017-11-09 19:32] blastrock commented on #3951
Thanks for the answer. That is indeed a cleaner solution.

I have another question though. There is a page in which I need to wait for the end of a SQL query to set the AppBar title. Having the AppBar title set after the page is shown to the user, or putting a spinner in there seems awkward. For the moment, I make the SQL query in the previous page and put the result in the route, then I parse the