[2022-03-22 07:22] dkwingsmt commented on #59065
Hi, sorry it's taken so long. I've analyzed this issue and, while I found it to be very complicated, understand that this problem basically makes Russian keyboard unusable.

I've prioritized this issue and I'm actively working on it right now. I've collected similar issues into a new one https://github.com/flutter/flutter/issues/100456 with some technical explanations, and have made some attempts.

[2022-03-22 07:22] tudosxxx commented on #100534
![QQ图片20220322152119](https://user-images.githubusercontent.com/52568890/159428486-a3af7682-6798-409b-b3de-28371e3e0623.jpg)

[2022-03-22 07:26] ColdPaleLight commented on #91962
Fixed by https://github.com/flutter/engine/pull/28698 and https://github.com/flutter/engine/pull/32106

[2022-03-22 07:26] #91962 closed

[2022-03-22 07:32] darshankawar commented on #100366
@ljmatan
Thanks for the update. I used the updated repo and ran it on two different Android phones with different OS (31 and 28), but seeing the same behavior as I shared earlier. I didn't get any errors or platformExceptions. Below is the log while doing so:

<details>
<summary> console log </summary>

[code]

</details>

I verified this on latest stable (2.10.3), but unable to replicate the beha

[2022-03-22 07:32] ColdPaleLight commented on #50241
I suspect it was fixed by https://github.com/flutter/engine/pull/32106

[2022-03-22 07:33] marcusrohden commented on #96391
Hey guys any updates? thanks again.

[2022-03-22 07:33] Amoystyle opened #100535 "(Desktop) RenderFlex overflowing in NavigationRail and NavigationRailDestination on window-resizing"
https://github.com/flutter/flutter/issues/99968#issue-1166259220

**How to fix RenderFlex overflowing in NavigationRail and NavigationRailDestination, when resizing the Desktop window?**

I drag the window to the left to the smallest.
I tried using Expanded widgets but it didn't work.

![image](https://user-images.githubusercontent.com/5343265/158091856-37664608-dc2d-4675-8bc2-9943e9ac188b.png)
![

[2022-03-22 07:33] danagbemava-nc commented on #100522
Hi @sy5075391, can you upgrade to stable 2.10.3 to see if you still experience this issue?

If you do, please provide the updated `flutter doctor -v` as well as a complete minimal reproducible code sample that we can use to replicate this.

Thank you

[2022-03-22 07:34] maheshmnj commented on #100521
Hi @evansherry, Thanks for filing the issue. Please try upgrading to the latest stable version of `flutter 2.10.3` and see if that fixes the crash, if the issue persists, please share the complete output of `flutter run -v` in a text file.

[2022-03-22 07:34] danagbemava-nc commented on #99741
Hmm, can you try running `flutter gen-l10n` to see if it helps?

[2022-03-22 07:37] MatteoAntolini opened #100536 "Poor app performance with multiple TextFields inside a Table"
I'm building an app where there is a scrollable Table composed of columns of TexField.

When I try to edit a field or scroll through the table, I notice a huge performance hit. How can I solve this problem?

Below is a sample app to test my problem

[code]

[2022-03-22 07:49] wdmxzf commented on #40648
Is this problem resolved，that space doesn't show  in end of TextField ？

[2022-03-22 07:51] maheshmnj commented on #100488
Hi @kthecoder, Thanks for filing the issue. I wonder if that would be possible or if it is right for your use case. Becasue Drawers are basically an overly on top of the Current Widget. As per the current implementation when opening a second drawer first is closed

https://github.com/flutter/flutter/blob/b8f0dde0f8d181630a1a0b0867f3a01404d52821/packages/flutter/lib/src/material/scaffold.dart#L2012

[2022-03-22 07:51] AlexV525 opened #100538 "[ScrollBehavior] Stretch overscroll indicator behaves weird on Android"
Scrollable seems jumping when using `AndroidOverscrollIndicator.stretch` and dragging reversely a couple of times on Android.

https://user-images.githubusercontent.com/15884415/159432034-78858e5d-8fb0-43cb-a493-2c722d56ced3.mp4

## Steps to Reproduce

[code]

1. Make a list view.
2. Drag reversely a couple of times.
3. The list starts to jump when the drag direction changes.

**Expected results:*

[2022-03-22 07:52] AlexV525 commented on #100538
/cc @Piinks

[2022-03-22 07:52] muhrahmatullah commented on #100450
got it, let me try to do that

[2022-03-22 07:57] sukaper commented on #14203
We are constantly getting e-mails in our contact line about ios users asking why some pages are swipable to left and some aren't (this is because some of our cupertino pages have OnWillPopScope). This is providing us horrible UX and we would like to support Cupertino with swiping animations as it is a core feature used on ios to navigate within an app nowadays. Please escalate this, there is no wa

[2022-03-22 08:04] darshankawar commented on #100489
@Patrick386
From your code, I am getting compile error `onMapsIndexed`:

<img width="305" alt="Screenshot 2022-03-22 at 1 03 30 PM" src="https://user-images.githubusercontent.com/67046386/159434819-567b569f-97b2-4bfa-9a59-dfc5276a3ba8.png">

Can you try by using `FocusScope.of(context).nextFocus()` and put it in `onChanged()` of TextField ? and see if it helps ?

[2022-03-22 08:10] rddewan commented on #100281
@danagbemava-nc  yes it's correct. This is the problem it get stuck at splash screen in loading state and never navigates to login page

[code]

[2022-03-22 08:11] #99128 closed

[2022-03-22 08:11] #99291 closed

[2022-03-22 08:12] shiburagi commented on #46589
By deferred  flutter library too, I manage to reduce main.dart.js below 400kb with gzip enabled.

[2022-03-22 08:15] maheshmnj commented on #100536
Hi @MatteoAntolini, Thanks for filing the issue. What platform are you targeting? Please share the output
 of `flutter doctor -v` to investigate this issue further?

[2022-03-22 08:19] FrankyLee-dev commented on #40856
Staggered GridView is very commonly used and effective in modern apps, whether ios' UICollectionView' or android's 'Recycleview' is very simple and convenient to implement. This sounds frustrating to introduce a third-party library to achieve this layout. Flutter is extremely powerful, I'm a flutter novice, I don't know how difficult it is to implement, or how difficult it is, but it's really need

[2022-03-22 08:27] yarmDev opened #100539 "AppBar accessibility traversal order"
Hi @darshankawar , i want to re-open this issue : https://github.com/flutter/flutter/issues/98570
Thx

[2022-03-22 08:28] jaween commented on #100432
Just some more info which might help: In my use case I don't begin with an image file, that's just a way to reproduce the issue. My use case is generating new images using custom SPIR-V shaders in Flutter as part of my drawing app. I compute the bitwise XOR of two user generated images to find their differences. Due to the issue I'm reporting, when two input pixels have the same alpha, I lose the

[2022-03-22 08:29] luckysmg commented on #100220
Releated PR:https://github.com/flutter/engine/pull/31982

[2022-03-22 08:30] MatteoAntolini commented on #100536
Hi @maheshmnj, I'm targeting the web platform, but I encounter this problem even with mobile and tablet on Android. I already tried to lunch the app in release mode but got no better performance.

`flutter doctor -v`
[code]

[2022-03-22 08:30] Yaseendev opened #100540 "Cannot upgrade flutter"
## Steps to Reproduce

 I'm trying to update the flutter sdk on my machine (Macbook pro 2015 Macos 11.0.1) from 2.8.0 to 2.10.3 but I'm keep getting this error after I run
`flutter upgrade --verbose --force`

[code]

## Logs

<details>
<summary>Logs</summary>

`flutter upgrade --verbose --force`

[code]

`flutter doctor -v`

[code]

</details>

[2022-03-22 08:37] jeff-odopass commented on #70028
I don't, except downgrading Flutter to 2.8.0 which is not a solution in my case.

[2022-03-22 08:37] yousiwu111 opened #100541 "[video_player]Unhandled Exception: PlatformException(IllegalStateException, java.lang.IllegalStateException: Unsupported type: 4, null, null)"
[code]

[2022-03-22 08:41] danagbemava-nc commented on #100534
Hi @tudosxxx, please provide the output of `flutter doctor -v` as well as the version of `image_picker` you're using and a complete minimal reproducible code sample that we can use to verify this.

Thank you

[2022-03-22 08:43] darshankawar commented on #100523
@b3nni97
Thanks for the report. I do see difference in the performance when running the sample code on latest stable, beta and master respectively.

1. On latest stable (2.10.3), the scrolling is smooth and there's no noticeable spike in the performance:

https://user-images.githubusercontent.com/67046386/159439657-b8c3d0e5-6c72-4492-86f8-960920777956.mov

2. On latest beta (2.12) and master (2.13

[2022-03-22 08:47] athomas commented on #100511
Good news!

Does that mean we need to install additional packages for kvm support? Which ones are needed?

[2022-03-22 08:54] BlakeWuh commented on #100116
![screenshots2022-03-22 PM 4 48 31](https://user-images.githubusercontent.com/91416633/159443205-464ce66c-2d59-4242-a252-ff4b1c91058a.png)

[2022-03-22 08:54] maheshmnj commented on #100538
Hi @AlexV525, Thanks for filing the issue. I am able to reproduce the issue on stable and the master channel.  Also reproducible with `useMaterial3: true`

https://user-images.githubusercontent.com/31410839/159442520-4bf3ef83-5591-47d8-b628-d7bfabc31060.mov

<details>
<summary>flutter doctor -v (mac)</summary>

[code]

[code]
</details>

[2022-03-22 08:56] maheshmnj commented on #100525
Hi @rivalnhwc, Thanks for filing the issue. Can you share a minimal reproducible code sample along with the expected vs actual output?

Thanks

[2022-03-22 08:56] BlakeWuh commented on #100116
[code]
[code]

[2022-03-22 08:57] TahaTesser commented on #99400
`ListTile` doesn't inherit icon color only in when Brightness is light.
This is intended, for backward compatibility.

https://github.com/flutter/flutter/blob/c394ba83ace5fbaced93ebdbaaf35a8b44fa891c/packages/flutter/lib/src/material/list_tile.dart#L1104-L1111

if `_iconColor` doesn't return color (which it doesn't in dark theme), iconTheme's icon color is inherited

This was added in https://gith

[2022-03-22 08:59] rgjurgens commented on #100480
@darshankawar Thank you so much for replying! I've spent loads of time on this issue now. However, the issue seems not even `webview_flutter` related. It seems like `pod install` cannot fetch the dependency for the `FlutterPluginRegistrant`, as defined in `FlutterPluginRegistrant.podspec` : `s.dependency 'webview_flutter_wkwebview'` - this `webview_flutter_wkwebview` is not a pod and Cocoapods can

[2022-03-22 09:03] SiarheiSm opened #100543 "[video_player_android] surface view artifacts"
Hi, I've tried to use video_player_android 2.3.1 with custom url (just hordcoded in android_video_player.dart) and noticed some videos have artifacts (vertical green line). No such issues in case I use just exoplayer app. Seems appears only for flutter surface view and for vertical videos only.
for example issue appears with this url: https://20minfeedcachefast.streamboatserver.ch/now/nowteaser.m3

[2022-03-22 09:11] Shubhankt1 commented on #99824
Hi @darshankawar
Sorry, I was away for a while.

Yes you will have to implement the workarounds mentioned in that issue.

Also, you seem to already have the minimal code sample ready in your app. I think you just need to add the file upload workaround and test it...?
Also, FYI, it might not fail straightaway. Sometimes it works fine, as if like issue would never happen but suddenly it starts to fa

[2022-03-22 09:11] SiarheiSm commented on #100543
reproducible on pixel 5 api 29

[2022-03-22 09:17] lukaexevio commented on #100441
Hey, I already tested this with flutter_bloc **_on_** method where states get emitted and it worked. I posted this because it’s pretty worrying for such a crash to occur in Flutter on both platforms.

This is the first time I’ve experienced a fatal crash with pure dart code without any native functions. Is this a bug in newer versions of the Flutter framework? I’ve tested it on versions 2.8 and 2.

[2022-03-22 09:25] danagbemava-nc commented on #100541
Hi @yousiwu111, please provide a complete minimal reproducible code sample that we can use to verify this as well as the required steps to reproduce.

Please also provide the output of `flutter doctor -v` as well as the version of `video_player` you're using.

For future reference, when you're filing an issue, please fill out the template and provide as much information as possible. Your error mes

[2022-03-22 09:26] danagbemava-nc commented on #100540
Hi @Yaseendev, can you check if this file is available `/Users/yaseen/Development/flutter2/bin/cache/dart-sdk-darwin-x64.zip`?

[2022-03-22 09:33] maheshmnj commented on #100487
Hi @oklimberg, Thanks for filing the issue.

Please share the minimal and complete code sample along with the output of `flutter doctor -v` to investigate the issue further.

[2022-03-22 09:33] mtc-jed commented on #99400
Ah, this makes sense. An option to override this behaviour in `ListTileThemeData` would be nice in case this particular backwards compatibility needs to be kept.

[2022-03-22 09:34] Yaseendev commented on #100540
Hi @danagbemava-nc, It's not. I have deleted the entire cache folder and still got the same result

[2022-03-22 09:35] darshankawar commented on #100535
@Amoystyle
I ran your code and do get the renderflow exception, but the error message says below which is important:

`This is considered an error condition because it indicates that there is content that cannot be seen. If the content is legitimately bigger than the available space, consider clipping it with a ClipRect widget before putting it in the flex, or using a scrollable container rather t

[2022-03-22 09:35] #100535 closed

[2022-03-22 09:35] BlakeWuh commented on #100116
I use the Objective-C code below and make this crash reproducible on (iPhone OS 15.4 (19E241))
[code]

[2022-03-22 09:37] maheshmnj commented on #100543
Hi @SiarheiSm, Thanks for filing the issue.

Hi @,

There is a similar issue describing this case https://github.com/flutter/flutter/issues/34642 and https://github.com/flutter/flutter/issues/46628, Please follow up there for further updates, Closing this issue as a duplicate. If you disagree feel free to write in the comments and we will reopen it.

Thank you.

[2022-03-22 09:37] #100543 closed

[2022-03-22 09:39] darshankawar commented on #100539
Closing this. Let's track in linked issue.

[2022-03-22 09:39] #100539 closed

[2022-03-22 09:41] darshankawar commented on #98570
Reopening based on https://github.com/flutter/flutter/issues/77486#issuecomment-1062935996

[2022-03-22 09:46] dgilperez commented on #97186
@darshankawar the crash occurs when using the two packages together. But I ended up switching to revenuecat completely. The current state of this package made it unusable for us.

[2022-03-22 09:53] Wian-TMC opened #100545 "iOS Flutter 2.10.1 Crash EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000000000010"
## Steps to Reproduce

This crash seems to be random when the app is in the foreground and was supposedly fixed in flutter version 2.10.1, but here it seems to still occur even when using Flutter version 2.10.1

<details>
  <summary>Logs</summary>

[code]

[code]

</details>

[2022-03-22 09:56] yousiwu111 commented on #100541
hello @danagbemava-nc thanks for your reply
video_player version is 2.2.3
this is flutter doctor -v  result
[√] Flutter (Channel stable, 2.0.5, on Microsoft Windows [Version 10.0.19043.1586], locale zh-CN)
    • Flutter version 2.0.5 at D:\flutterSDK\flutter2
    • Framework revision adc687823a (11 months ago), 2021-04-16 09:40:20 -0700
    • Engine revision b09f014e96
    • Dart version 2.12.3

[2022-03-22 10:13] apieceofcode1801 commented on #58854
I think we need an additional function for changing the video's bitrate.
I created a [PR](https://github.com/flutter/plugins/pull/5099)  for the `setBitrate` function.
Please check if it's good to go further.

[2022-03-22 10:13] BlakeWuh commented on #100116
what else do you need? @darshankawar

[2022-03-22 10:19] Patrick386 commented on #100489
Add a collection package. ( import 'package:collection/collection.dart'; )
FocusScope.of(context).nextFocus() gave the same result.

[2022-03-22 10:20] BlakeWuh commented on #100458
that is not enough, the following example code will crash.
[code]

[2022-03-22 10:26] caniko commented on #41062
Would this implementation make running [Python](https://pythondev.readthedocs.io/wasm.html) possible in a flutter web app?

[2022-03-22 10:30] theRealProHacker commented on #100541
I think you should also add some code. And I found that when you have a problem that just suddenly happens without any apparent reason just do `flutter create .` or if that still doesn't work delete all the folders you didn't edit yourself (lib, test and any assets) and then run `flutter create .` again.

[2022-03-22 10:33] Kerolos9008 commented on #51530
Any updates about this topic, as it is extremely important for WEB development process to be able to send the cookie with each request to any public URL.

[2022-03-22 10:48] maheshmnj commented on #98538
@bagintz contributions are always welcome, For this case, I am quite not sure if that's a reasonable change. Probably you should discuss this on the discord with the appropriate team members or file a new issue with your proposal explaining the reasoning or the use case.

[2022-03-22 10:56] benPesso commented on #100468
After almost two years of developer confusion, migration failures, lack of adoption and countless "alternative" packages (such as GoRouter), maybe it's time to accept defeat and reconsider the way navigation works in Flutter? To refactor it into something more cohesive and simple to use.

I consider myself an experienced developer, but even after using Navigator 2.0 and trying out several packages

[2022-03-22 11:04] diegothucao commented on #58854
thanks @apieceofcode1801
Do you add custom control for that also like if we set Birates so we have a menu to select ?

[2022-03-22 11:08] Abhi011999 commented on #73355
@davidmartos96 like your `pumpUntilFound()` can there be something like `pumpUntilVisible()` ?

[2022-03-22 11:10] tjsummour17 opened #100546 "[Fonts] Icon request: area_chart"

[2022-03-22 11:12] kekko7072 commented on #100360
Sorry but what is Merged Mainfest? Can I add android:exported directly
 in <Activity ?

[2022-03-22 11:17] maheshmnj commented on #99890
@PhantomRex123 can you please confirm the above solution works?

[2022-03-22 11:19] sudangrg commented on #27678
any updates on this issue?

[2022-03-22 11:22] maheshmnj commented on #100351
Thanks for the clarification, Reopening based on the above comment

[2022-03-22 11:26] Harsh1052 commented on #99741
run `flutter gen-l10n` not working still showing import error.

[2022-03-22 11:30] rivalnhwc commented on #100525
Hi, @maheshmnj , thanks for your reply, here is the example:

I'm using a CustomPainter, this is the paint function of it.

[code]
the result of this code is:

![device-2022-03-22-192735](https://user-images.githubusercontent.com/11538838/159471788-00b358b4-d681-43fb-9f61-23028418b1ad.png)

what I expected  is:

![device-2022-03-22-192902](https://user-images.githubusercontent.com/11538838/1594719

[2022-03-22 11:32] nombrekeff commented on #97767
@maheshmnj In my case this icons do not render correctly:
* format_overline
* format_overline_outlined
* format_overline_rounded
* format_overline_sharp
* forum

I have not encountered more, I will update your if I find any more!

[2022-03-22 11:39] kamami commented on #60083
Still an issue half a year later

[2022-03-22 11:39] xu-baolin commented on #100451
@Tom3652, hi, thanks for reporting.
This should be fixed after #100547 landed.

[2022-03-22 11:41] rakesh-rajyaguru opened #100548 "[tool_crash] IndexError: RangeError (index): Index out of range: index should be less than 59174577: 59190334"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
IndexError: RangeError (index): Index out of range: index should be less than 59174577: 59190334
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2022-03-22 11:46] yousiwu111 commented on #100541
No registered handler for message. Responding to Dart with empty reply message.

[2022-03-22 12:02] Tom3652 commented on #100451
Thank you very much for the so fast fix, much appreciated !

[2022-03-22 12:06] maheshmnj commented on #100546
Hi @tjsummour17,  The said icon is already present in flutter `stable 2.10.3`

<img width="507" alt="image" src="https://user-images.githubusercontent.com/31410839/159477826-33ecf755-61a5-442b-aa5f-b623def41be8.png">

Closing as already fixed.

[2022-03-22 12:06] #100546 closed

[2022-03-22 12:12] yousiwu111 commented on #100541
/**
   * Value returned by {@link Util#inferContentType(String)} for DASH manifests.
   */
  public static final int TYPE_DASH = 0;
  /**
   * Value returned by {@link Util#inferContentType(String)} for Smooth Streaming manifests.
   */
  public static final int TYPE_SS = 1;
  /**
   * Value returned by {@link Util#inferContentType(String)} for HLS manifests.
   */
  public static final int TYPE_H

[2022-03-22 12:13] yousiwu111 commented on #100541
i find the reason ,file type is unknow,i support local file path ,but not distinguish

[2022-03-22 12:15] darshankawar commented on #61659
@tvolkert Hi,

I verified this behavior on latest stable and master and it seem to be losing the focus upon switching back to previous index ie the textfield doesn't get the focus anymore after the switch:

<img width="520" alt="Screenshot 2022-03-22 at 5 24 36 PM" src="https://user-images.githubusercontent.com/67046386/159479184-20e965eb-e16d-4963-b5cc-f71b951d2888.png">

Although if we tap in th

[2022-03-22 12:21] oodavid commented on #70751
@IdrissMiraoui I'd like to use this, but am worried what the side-effects would be...

This Android Development guide makes me hesitant:

https://developer.android.com/guide/topics/manifest/activity-element#:~:text=The%20other%20modes%20%E2%80%94%20singleTask%20and%20singleInstance%20%E2%80%94%20are%20not%20appropriate%20for%20most%20applications%2C%20since%20they%20result%20in%20an%20interaction%

[2022-03-22 12:24] maheshmnj commented on #97767
@nombrekeff I see the icons rendering fine on `stable 2.10.3` (Output in same order as your bullets)

### Flutter

<img width="257" alt="image" src="https://user-images.githubusercontent.com/31410839/159480898-a94a6a8b-01e2-4c99-8733-f4bd90752341.png">

### fonts.google.com

https://user-images.githubusercontent.com/31410839/159480949-7c294458-bec3-416a-b746-4dc204d3b2d9.mov

Can you also attach t

[2022-03-22 12:27] glintpursuit commented on #100161
Worked for me :-)

[2022-03-22 12:28] darshankawar commented on #43358
The error still occurs on latest stable and master version.

[code]

<details>
<summary> stable, master flutter doctor -v </summary>

[code]

</details>

[2022-03-22 12:29] yousiwu111 commented on #100541
I set VideoPlayerController.network(formatHint: VideoFormat.other,)
It is useful ,play local video or net video

[2022-03-22 12:30] #100541 closed

[2022-03-22 12:34] xu-baolin commented on #100451
`ListView.custom` already works if you provider the `SliverChildDelegate.findIndexByKey`.

[2022-03-22 12:52] ElegyD commented on #83573
A workaround is to explicitly define buildToolsVersion:
In `local.properties`:
`flutter.buildToolsVersion=30.0.3`

In `app/build.gradle`:
[code]

Or just: `buildToolsVersion '30.0.3'`

31.0.0 seems to be corrupted. Even Android Studio uses 30.0.3 for 31 projects.

[2022-03-22 12:53] darshankawar commented on #100480
@rgjurgens
I tried a sample add_to_app and added `webview_flutter` plugin to embedded module which compiled and built the app properly:

[code]

https://github.com/flutter/samples/tree/master/add_to_app/books

In the podspec you referred above:

`s.pod_target_xcconfig = { 'DEFINES_MODULE' => 'YES', 'EXCLUDED_ARCHS[sdk=iphonesimulator*]' => 'i386' }` can you also add `arm64` in it to exclude archs

[2022-03-22 12:53] Lorenzohidalgo opened #100550 "[InkWell][iOS] - Tap not recognized after visiting url"
InkWell widget won't recognize a tap after coming back from visiting a launched URL. Sometimes it will open/recognize the taps a few times and then stop working or just work on the first one.

Scrolling and tapping on other elements work fine.

I could **only reproduce this issue with a physical iOS device** (tested with iPhone 6s and 13).

## Steps to Reproduce

1. Create a Screen with multiple I

[2022-03-22 13:00] nombrekeff commented on #97767
Ohh, I'm on 2.10.1 actually, might upgrade and try again.

[2022-03-22 13:01] maheshmnj commented on #100536
Thanks for the info @MatteoAntolini, I am able to reproduce the issue there is a severe lag when scrolling on the web and also when typing on the textfield while it works fine on ios and MacOS Desktop. This issue is reproducible on Android and web with both html and canvaskit, With HTML renderer the performance is severely bad.

#### Web
Canvaskit | HTML
:-: | :-:
<video src='https://user-images.g

[2022-03-22 13:09] nombrekeff commented on #97767
@maheshmnj Just upgraded and it's rendering correctly now! My bad 😅

[2022-03-22 13:12] rgjurgens commented on #100480
@darshankawar I think I accidentally pasted the wrong `podspec` file - sorry. I just changed my post to the actual `FlutterPluginRegistrant.podspec` file. But I will check out your test project right now!

[2022-03-22 13:13] spkersten commented on #100203
@danagbemava-nc This happens only occasionally. Are you sure the plugin repo would be the right place? The stack trace clearly comes out of Dart.

[2022-03-22 13:17] maheshmnj commented on #100351
I am able to reproduce the issue on stable and the master channel. On reinitializing the VideoPlayerController, the playback speed is always set to 1.0x. The reinitialization looks fine too.

[code]

https://user-images.githubusercontent.com/31410839/159490364-bdcf2b44-3227-4aa8-9acb-19aeb0a31fae.mp4

The complete code sample can be found in the [original post](https://github.com/flutter/flutter/i

[2022-03-22 13:17] #98444 closed

[2022-03-22 13:17] fabricio-godoi commented on #57536
@icecandy You are completly correct about it. If the time is not well tuned, then it can miss the event as well. I needed a simple solution for a problem I was having with Android launching a URL for a short time, and that has done the trick.

It is nice to know that are some other packages to do that as well. =)

[2022-03-22 13:19] darshankawar commented on #100548
Closing this as duplicate of https://github.com/flutter/flutter/issues/84276

[2022-03-22 13:19] #100548 closed

[2022-03-22 13:21] TahaTesser opened #100552 "`Tooltip`: Add an example for ` TooltipTriggerMode.manual`"
When the fix for https://github.com/flutter/flutter/issues/96127 is landed

Add an example for ` TooltipTriggerMode.manual`.

Similar to the `RefreshIndicator` [example](https://master-api.flutter.dev/flutter/material/RefreshIndicator-class.html)

[2022-03-22 13:37] himanshugarg001 commented on #73208
Hey, any update on this issue?

[2022-03-22 13:49] lukaexevio commented on #100441
This problem occurs with StreamBuilder also, you can see it in the snippet below. I really think this is a serious issue and should not happen either way.

[code]

[2022-03-22 13:57] maheshmnj commented on #100550
Hi @Lorenzohidalgo, Thanks for filing the issue. I tried with the below code sample and I was not able to reproduce the issue on iPhone 12 pro simulator. on Navigating back to the app the Inkwell taps worked as normal

<details>
<summary>code sample</summary>

[code]
</details>

<details>
<summary>flutter doctor -v (mac)</summary>

[code]

</details>

[2022-03-22 14:01] maheshmnj commented on #100385
Thanks for the info @AlanGriffiths,  I verified on `Ubuntu 20.04.4 LTS 5.13.0-30-generic` could you please help me with How I can use `GNOME/Wayland session` or share a link that I could refer to ?

[2022-03-22 14:13] stuartmorgan opened #100555 "[camera] Rework image streaming"
The image streaming platform channel code wasn't moved to the platform interface because there was concern about the current API; see [here](https://github.com/flutter/plugins/pull/3253#discussion_r519069611) and [here](https://github.com/flutter/plugins/pull/3253#discussion_r534626893). This is blocking full federation of the camera plugin, because we don't want the Dart code for the method chann

[2022-03-22 14:14] stuartmorgan commented on #68498
Note: `camera` is blocked by https://github.com/flutter/flutter/issues/100555.

[2022-03-22 14:27] rgjurgens commented on #100480
So I found the issue! Thanks a lot for your help @darshankawar . It turned out in my `podfile` I had a structure like this:

[code]

And, while this solution works perfect for all scenario's, _somehow_ it gave errors when fetching the `podspec` stuff. No clue why,. but maybe this helps anyone!

[2022-03-22 14:27] jpnurmi opened #100556 "[Linux] The window title gets cut under stress"
## Steps to Reproduce

1. Run [`stress`](https://linux.die.net/man/1/stress)
2. Execute `flutter run` on the code sample
3. Observe the window title

**Expected results:**

The window title is fully visible: "My App", "My App - 1", "My App - 12", "My App - 123", ...

**Actual results:**

The window title is not correctly updated: "My App" -> "My A..."

<details>
<summary>Code sample</summary>

[co

[2022-03-22 14:30] stuartmorgan commented on #100116
Closing as a duplicate of #100458 since there's more debugging info there.

[2022-03-22 14:30] #100116 closed

[2022-03-22 14:43] omenchaca-maxaccel commented on #99332
I've been getting the same xcode error since I updated my flutter sdk. I was try to upload a new version but xcode build failed and got this instead.

I tried what @mawoka-myblock suggested but still getting the same issue.

<details> <summary> XCode build error</summary>

<p>Invalid depfile: /Users/oswaldo/Desktop/MARepo/SafeTrackApp/safetrack_mobile/.dart_tool/flutter_build/1e8e908cb5af39829985f

[2022-03-22 14:46] stuartmorgan commented on #88120
I've seen this too, a couple of times. I thought maybe something weird had happened with the earlier test though since it *was* showing up as a success.

I'll file a new issue. It's not the same as the original, since the test *is* showing up in the list, it's just not matching what we're seeing in terms of outcome.

[2022-03-22 14:46] #88120 closed

[2022-03-22 14:47] stuartmorgan opened #100557 "[plugins] release action sometimes getting incorrect results for tests"
<img width="902" alt="Screen Shot 2022-03-21 at 6 19 03 PM" src="https://user-images.githubusercontent.com/1255594/159388469-f74d22d2-6ef6-418f-a27d-3e8b5f2f961f.png">

The latest push to `main` seems to have been released with a failing **android-platform_tests CHANNEL:master PLUGIN_SHARDING:--shardIndex 4 --shardCount 5** check?

Looking here:

* https://github.com/flutter/plugins/runs/563586627

[2022-03-22 14:49] stuartmorgan commented on #100557
I've seen this happen a couple of times too, and both times it showed as `(success)` in the `release` check. Possibilities I can think of:
- For some reason the test was re-run, and failed the second time? I can't think of a reason that would happen though
- GitHub's API sometimes returns incorrect status?
- It's somehow referencing the wrong run of that test (e.g., one for a different commit)?

[2022-03-22 14:51] TahaTesser commented on #99821
InkWell's custom border only takes the outer path of the border to shape the `inkWell`, it is not supposed to use the border side.  This is just to shape `InkWell`itself.

Source of this behavior
https://github.com/flutter/flutter/blob/b7a18be0a027805705689827376c578d98d53012/packages/flutter/lib/src/material/ink_well.dart#L128

If you want to provide a border side, please wrap your `inkWell`with

[2022-03-22 15:01] dospringer commented on #78216
@DennisSchmidt2
I think now the line is `A.bC(this.a,"addEventListener",["wheel",r,s])},`

[2022-03-22 15:02] m-schmailzl commented on #18761
This solution breaks when users are using emojis. That's why I use characters.

[2022-03-22 15:03] al-mohad opened #100560 "Exception caught by services library"
[code]

[2022-03-22 15:04] rivalnhwc commented on #100525
Yes, @maheshmnj  `setTransform` is `setMatrix` , exposed from engine

[2022-03-22 15:10] davidsdearaujo commented on #18761
Oh, understood.
The `character` package is already in Flutter. Now we have an extension to get the characters from `String`:
[code]

Thanks you for your contribution!

[2022-03-22 15:10] maheshmnj commented on #100525
cc: @dnfield

[2022-03-22 15:17] wcandillon commented on #18636
@johynpapin Thank you for sharing your implementation 🙌🏼 We will use it for boxes as well since it is much faster. For anything else like path or text inner shadows, the implementation in my last comment is the way to go.

[2022-03-22 15:18] sadi304 commented on #60988
Getting this issue, currently on poco devices. Commenting  just to bump the issue

[2022-03-22 15:20] MyBuzzTechnologies commented on #99351
I can easily reproduce this same error but adding any capability to the Xcode project.
Before adding a capability (raw Flutter project 2.10.3) - all runs fine.
After adding any capability through Xcode -> error.
Remove the capability - works ok.

Provisioning profile "XYZ Provisioning Profile: com.xyz.project" doesn't include the currently selected device "MacBook M1 Pro" (identifier <id>). (in ta

[2022-03-22 15:20] damywise commented on #31713
@eggfly is your image correct? I can't open it. It only shows as a link to this thread.
![image](https://user-images.githubusercontent.com/25608913/159516557-44a324b9-25aa-492e-8efc-0738219e343c.png)

[2022-03-22 15:26] kamilpowalowski commented on #18761
It is not a solution. It's a workaround. Be very cautious with using it. It changes how characters are displayed. Differences are subtle, but overall, letters are a bit wider.

[2022-03-22 15:27] micrcx opened #100561 "Flutter doctor gives a strange error"
Running flutter doctor inside IntelliJ IDEA leads to doctor check crash:
[code]

[2022-03-22 15:27] stuartmorgan commented on #31713
That's what [FlutterCompositor](https://github.com/flutter/engine/blob/6c67716b081a3614305f99b4e6ade2562f974fee/shell/platform/embedder/embedder.h#L1667-L1681) is for.

Why?

[2022-03-22 15:35] behzodfaiziev commented on #100561
duplicate of https://github.com/flutter/flutter/issues/94675 and https://github.com/flutter/flutter/issues/94940

[2022-03-22 15:52] Pooja289318 opened #100562 "[Fonts] Icon request: edit_calendar"
[io.material](https://fonts.google.com/icons)

[2022-03-22 16:21] ErDeepChand opened #100563 "[tool_crash] FileSystemException: Cannot create link, OS Error: Incorrect function., errno ="

[2022-03-22 16:22] lmordell commented on #100393
@darshankawar - I copied your code and verified the test passes in release mode. The difference is in my code I had:

[code]

instead of:

`IntegrationTestWidgetsFlutterBinding.ensureInitialized()`

If you use `binding.testTextInput.register()` in the test code, the test will fail. I could be misunderstanding the purpose of that method though. The failure could be due to misuse of it so I'd be OK

[2022-03-22 16:31] godofredoc opened #100565 "Document on flutter's wiki the versioning schema for releases"
Flutter is working on following the OSSF best practices and some of those best practices are related to documentation of releases. Even though the information exists it is already spread on multiple places and not easy to find by someone new to the flutter community.

![image](https://user-images.githubusercontent.com/54371434/159527683-e4fee4cb-21e3-40b9-9ec8-191de077e915.png)

[2022-03-22 16:31] mdebbar commented on #71220
This issue still exists and we don't yet have a solution for it. There are a few workarounds that people can use:

1. Remove letter spacing if you don't need it (or set it to zero).
2. Use CanvasKit: `flutter run -d chrome --web-renderer canvaskit`.
3. [hack] Force the paragraph to render to a DOM element. You can achieve this by adding `fontFeatures` to your text style:

[code]

[2022-03-22 16:33] mdebbar commented on #96288
We have issues with letter spacing in Arabic (and some other languages) and we don't have a solution yet. Please take a look at this issue for workarounds: https://github.com/flutter/flutter/issues/71220

[2022-03-22 16:33] #96288 closed

[2022-03-22 16:35] godofredoc commented on #100565
\cc @Hixie @itsjustkevin do you know if we have our release versioning schema documented somewhere?

[2022-03-22 16:37] synchronisator opened #100566 "[Web][html]: `getBoxesForSelection` on RenderParagraph gives different Boxes"
I calculate the Boxes for a complete Text and color the boxes.
As you can see below there are two outcomes.
Linux/Android/"Web on desktop" are working like expected.
But Chrome on Android displaying the Webversion does unexpected thing.
I use Chrome Verion 99.0.4844.73 on Android 10

## Steps to Reproduce

Use this Example-Widget and its SimpleSelectionPainter

[code]

**Expected results:**
![graf

[2022-03-22 16:47] mdebbar opened #100567 "[web] Clamp selection boxes like Flutter does"
Quoting a comment from https://github.com/flutter/engine/pull/31937:

[2022-03-22 16:50] MesharSuliman commented on #71220
![Screen Shot 1443-08-19 at 7 47 35 PM](https://user-images.githubusercontent.com/94109963/159532580-f44e23bd-d840-445e-99b6-dc6c5b85c698.png)

[2022-03-22 16:52] keyonghan commented on #97160
One more instance today: https://ci.chromium.org/ui/p/flutter/builders/prod/Windows%20build_tests_2_3/3910/overview

[2022-03-22 16:53] zanderso commented on #93871
@jwinarske Can you use this? https://github.com/flutter/engine/pull/32187

[2022-03-22 16:53] wmww commented on #100385
You select "Ubuntu on Wayland" on the login screen. You may have to edit a config file if that's not available. This seems to be a good tutorial: https://linuxconfig.org/how-to-enable-disable-wayland-on-ubuntu-20-04-desktop

[2022-03-22 17:05] stuartmorgan commented on #39810
For anyone interested in contributing a fix for this, see the PRs above as starting points.

[2022-03-22 17:06] nt4f04uNd commented on #100538
Duplicate of https://github.com/flutter/flutter/issues/88741

[2022-03-22 17:06] #100538 closed

[2022-03-22 17:10] nisiddharth commented on #89959
Apart from the data wastage stuff I am facing a very serious issue due to this problem.

At my college, my WiFi internet is behind an authenticated Squid proxy and I have to configure `systemProp.http.proxyHost` and other stuff in global `gradle.properties` for gradle downloads to work.

But this issue causes the whole `~/.gradle` directory to be deleted and hence taking down all settings with it.

[2022-03-22 17:11] jmagman commented on #87508
While we need to figure out how to get an M1 version of Ruby on these machines, in the meantime we could reduce the M1 test list to the projects that don't have plugins, and therefore don't need to run `pod install`.  That will get us some coverage that M1 is working...
For example, `run_hello_world_ios__compile` should pass (I think) because it has no plugins, but is failing because no iOS device

[2022-03-22 17:13] jmagman commented on #87508
Any of the Android tests should also work, like `run_hello_world_android__compile`, which is failing with:
[code]
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket/8818973605315359905/+/u/run_hello_world_android__compile/test_stdout

[2022-03-22 17:17] mbfakourii opened #100569 "[windows] File Description"
Hi there,

how cheng File Description in windows ?

![159434065-b95b3e7d-f9d7-46ea-8c34-e7f84588bc8e](https://user-images.githubusercontent.com/20955005/159537884-3486615f-ed50-4303-9e1d-4c741ab3ee89.png)

i try change File Description in windows\runner\Runner.rc but hot restart has error !

[2022-03-22 17:18] keyonghan commented on #87508
Do these two tests `hello_world_android__compile` and `hello_world_ios__compile` need phones? Now they are running in host only mode.

But they have been running with phones on intel bots.

[2022-03-22 17:20] mdebbar commented on #71220
Yeah I think the material theme has letter spacing, that's why it's problematic.

[2022-03-22 17:22] cdprete commented on #100423
Hi @maheshmnj.
I'll give those links a try, but I don't think it's the same issue since in the suggested ticket the error is a 404 and I get a 403 instead.
I've more the impression that Flutter (actually the JS worker) tries to load the resources using absolute paths instead of relatives and probably it doesn't have access to some of the ancestors (since they belongs to root).

[2022-03-22 17:28] jmagman commented on #87508
Those should work hostonly...
`hello_world_android__compile` is complaining about `ANDROID_SDK_ROOT`.
`hello_world_ios__compile` shouldn't need a physical device, but it looks like it is trying to unlock a tethered phone:
https://github.com/flutter/flutter/blob/5bc9340233b5c8e5d52ae9ae6b72b54f4585cc4c/dev/devicelab/lib/tasks/perf_tests.dart#L1267-L1268
Is it possible the ones on intel bots all hap

[2022-03-22 17:34] jmagman opened #100570 "hello_world_ios__compile hostonly test fails when no iOS device is tethered"
Test fails with no tethered device:
[code]
However this test is only compiling the app, not running it, and should work without tethered devices.

The test is trying to unlock a tethered phone:
https://github.com/flutter/flutter/blob/5bc9340233b5c8e5d52ae9ae6b72b54f4585cc4c/dev/devicelab/lib/tasks/perf_tests.dart#L1267-L1268

https://github.com/flutter/flutter/issues/87508#issuecomment-1075422641

[2022-03-22 17:41] keyonghan commented on #98532
Tried a couple of things, but still no luck.

1) use same mac-amd64 version (simply changed config to mac-arm64), hit ([build](https://luci-milo.appspot.com/raw/build/logs.chromium.org/flutter/led/keyonghan_google.com/dc213413499271bcfd3297dff9637b796e73f3b80ee0b6050023d72b0a1bd5d8/+/build.proto))
[code]

2) use latest [ java17 (arm64)](https://jdk.java.net/17/), hit ([build](https://luci-milo.app

[2022-03-22 17:44] keyonghan commented on #87508
Android tests is being blocked: https://github.com/flutter/flutter/issues/98532

[2022-03-22 17:48] jmagman commented on #87508
`Mac_arm64_staging build_ios_framework_module_test` is failing with:
[code]
The staging Xcode version to be updated to match prod 13a233.

**Xcode too old**
Mac_arm64_staging build_ios_framework_module_test
Mac_arm64_staging ios_content_validation_test
Mac_arm64_staging ios_app_with_extensions_test

**Compile test, physical device not found** (should be fixed by https://github.com/flutter/flutter/

[2022-03-22 18:03] synchronisator commented on #100566
A demo is available here: http://sprecherschmidt.de/narcom/#/

[2022-03-22 18:10] gaaclarke commented on #98591
https://github.com/flutter/engine/pull/32162 has caused this to regress.  The PR was reverted because of a performance regression with a google app.  I think I have a fix for the performance issue.  If that doesn't land shortly we will revert the revert.

[2022-03-22 18:16] incendial commented on #95092
Any updates?

[2022-03-22 18:21] xster commented on #34688
What's the state of this FR for Android?

[2022-03-22 18:27] jmagman commented on #99351
1. Good investigation, [gmcdowell](https://github.com/gmcdowell)! Do you know if Provisioning UUID or Hardware UUID was being used by Xcode? What about the failing command line run? Which one was missing before you regenerated the provisioning profile?
2. Before anyone else reproducing this tries to regenerate your provisioning profile, you can switch to the [master channel ](https://github.com/fl

[2022-03-22 18:30] arslan9380 commented on #73242
Did anyone find the solution?

[2022-03-22 18:32] CaseyHillers commented on #100502
I updated the service account to have cloud secret access. @KristinBi can you try again?

[2022-03-22 18:37] crisboarna commented on #96391
Would be amazing to have this complete !

[2022-03-22 18:37] cdprete commented on #100423
Somehow the issue seems to be caused by the `dockerfile-maven-plugin` which I'm using for building the image...
If I manually build it with `docker build -t something .` it works file...

[2022-03-22 18:41] lkrjangid1 opened #100574 "How to make a device admin app in flutter with device admin permission"

[2022-03-22 18:43] goderbauer opened #100575 "Turn on super parameters in the flutter repository"
New language feature in Dart 2.17: https://github.com/dart-lang/language/issues/1855

There's a lint for using it when appropriate: `use_super_parameters`

- [x] Migrate all code in `flutter`
  - [x] https://github.com/flutter/flutter/pull/100515
  - [x] https://github.com/flutter/flutter/pull/100516
  - [x] https://github.com/flutter/flutter/pull/100509
  - [x] https://github.com/flutter/flutter/

[2022-03-22 18:44] goderbauer commented on #100575
/cc @mit-mit @pq

[2022-03-22 18:47] goderbauer commented on #100575
The autofix for this has a bug (https://github.com/dart-lang/sdk/issues/48633), which currently makes it cumbersome to fix this for the framework itself. Waiting for the pending fix to roll in.

[2022-03-22 18:49] goderbauer commented on #100575
There's also a bug with non-const subclasses of const superclasses (see https://github.com/dart-lang/sdk/issues/48642), which is blocking most of the PRs linked above.

[2022-03-22 18:58] keyonghan commented on #87508
https://bugs.chromium.org/p/chromium/issues/detail?id=1309183 to request bot upgrade to 12.2 to support xcode 13a233.

[2022-03-22 19:10] #96127 closed

[2022-03-22 19:12] CaseyHillers commented on #100233
Any AIs for this being reopened? Since this was caused by the GitHub webhook outage, this will be obsolete once  https://github.com/flutter/flutter/issues/92300 is landed (which moves the scheduler to be dependent on GitHub webhooks)

[2022-03-22 19:18] Ayad-Ben-Saliem opened #100577 "DefaultTabController ignore initialIndex"
Hello
I noted that `DefaultTabController` doesn't set `initialIndex` correctly.

I have the following code

[code]

It should open the last tab every time I press on `FloatingActionButton`. Isn't it?

[2022-03-22 19:20] keyonghan commented on #98532
@blasten @GaryQian Do you have any insight re the above error in bullet 3?

[2022-03-22 19:38] #100577 closed

[2022-03-22 19:44] cdprete commented on #100423
Indeed a bug from the plugin: https://github.com/spotify/dockerfile-maven/issues/312
Doh!

[2022-03-22 19:50] #14120 closed

[2022-03-22 19:53] rrrovalle opened #100579 "My APK size it's greater than 150mb"
Hi guys, i'm having some problems while compiling my flutter app for Android.. I've only 3 assets and a couple packages added, but when I try to compile, I got this:

`√  Built build\app\outputs\flutter-apk\app-release.apk (158.3MB).`

Any idea?

**Flutter build log (running flutter build apk)**

PS C:\Users\Admin\Desktop\Fictix\Don't Touch This\app\dtt_app> flutter build apk
 Building with sound

[2022-03-22 19:56] HansMuller commented on #99400
@TahaTesser, @darrenaustin - undoing the backwards compatibility hack noted in https://github.com/flutter/flutter/issues/99400#issuecomment-1074899259 might be acceptable for `useMaterial: true` apps. The transition to M3 will introduce many small color changes; seems OK to include this one too.

[2022-03-22 19:58] caseycrogers commented on #73355
For those interested, I've updated this snippet to Flutter 2.0, but I have not been able to verify that it works as intended:
[code]

I turns out my issue was eliminated by removing Google banner ad during integration tests-for some reason fetching ads was making the tests hang. I don't know if this is actually related to this bug or not.

[2022-03-22 19:59] godofredoc commented on #100233
It was reopened because we were missing the context of what actually fixed it. Thanks for updating!

[2022-03-22 19:59] #100233 closed

[2022-03-22 20:00] godofredoc commented on #100507
Who is looking at this issue? We are integrating infra P1 and P2s into the critical triage process and we need all the P1s and P2s to be assigned to someone.

[2022-03-22 20:01] godofredoc commented on #100507
Additionally after the revert of the copybara configs do we need to rerun the update commands?

[2022-03-22 20:02] godofredoc commented on #100141
Closing this one, please reopen if the permissions are not working properly.

[2022-03-22 20:04] albertoOviedo commented on #100503
Hi @danagbemava-nc,

Thanks for answering my message.

My flutter doctor -v:

flutter doctor -v
[√] Flutter (Channel stable, 2.10.3, on Microsoft Windows [VersiÃ³n 10.0.19042.1586], locale es-CO)
    • Flutter version 2.10.3 at C:\src\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 7e9793dee1 (3 weeks ago), 2022-03-02 11:23:12 -0600
    • Engine re

[2022-03-22 20:04] godofredoc commented on #95209
Moving it to P3 as this is a process change and it is not blocking anything.

[2022-03-22 20:05] stuartmorgan commented on #100169
This is the documented behavior:

[code]

Your sample code is using the default filter.

[2022-03-22 20:05] #100169 closed

[2022-03-22 20:05] godofredoc commented on #95037
Moving as P3, this is a nice to have but it is not currently blocking anything.

[2022-03-22 20:12] CaseyHillers commented on #100507
After the cl revert, we didn't need the update.

I'll take a look and see what the copybara team has to offer for deploying these configs on postsubmit

[2022-03-22 20:12] #94175 closed

[2022-03-22 20:12] godofredoc commented on #94877
Closing as obsolete.

[2022-03-22 20:12] #94877 closed

[2022-03-22 20:13] godofredoc commented on #88364
This has been already fixed!

[2022-03-22 20:13] #88364 closed

[2022-03-22 20:15] godofredoc commented on #96836
Fixed with https://github.com/flutter/cocoon/pull/1677

[2022-03-22 20:15] #96836 closed

[2022-03-22 20:19] godofredoc commented on #74529
This is a feature request, updating as P3

[2022-03-22 20:21] itsjustkevin commented on #100565
@godofredoc there is an [issue](https://github.com/flutter/flutter/issues/96282) open on a proposal to change the versioning schema.

[2022-03-22 20:21] godofredoc commented on #88043
Updating as P3 this happens rarely and we depend on upstream fixes to avoid the failure.

[2022-03-22 20:22] godofredoc commented on #66846
Assigning to Yusuf, this impacts the team and it prevents the adoption of the flutter-dashboard for teams different than framework.

[2022-03-22 20:25] jonahwilliams commented on #100579
The minimum APK size for a single ABI on Android is around 4.5 MB last time I checked. If your APK is significantly larger than that, you should check the file sizes of your assets either by using your local file explorer or using flutter's tooling: https://docs.flutter.dev/perf/app-size

Without any of this information or access to your APK, we can't provide any guidance

[2022-03-22 20:37] godofredoc commented on #42249
I'll try to fix the salt states to enable the signer machine in one of our pools.

[2022-03-22 20:38] CaseyHillers commented on #74529
@XilaiZhang is going to work on this next quarter to help give the rollers more control

[2022-03-22 20:46] #99023 closed

[2022-03-22 20:55] #100570 closed

[2022-03-22 20:58] itsjustkevin opened #100583 "Mitigate cherry-pick issues by requiring contributors to test PRs against release branch"
### Problem

When conducting a release, a major factor in release speed is handling cherry-pick conflicts.  To mitigate this, we should require contributors to test their PRs against the release branch.
### Steps

1. `git checkout <release_branch>`
2. `git cherry-pick <commit_hash>`
### Issues

1. Contributors are not aware of which branch is the release branch.

### Proposed Solutions

1. Create

[2022-03-22 21:11] amanv8060 commented on #40079
@HansMuller I think this be closed as done in #58708

[2022-03-22 21:18] amanv8060 commented on #78626
@godofredoc if this can be closed?

[2022-03-22 21:23] Piinks commented on #100304
The `passfail` flag has been restored in #100576, will monitor the logs for a few days before enabling true post-submit failure.

[2022-03-22 21:28] christopherfujino opened #100584 "[flutter_tools] "SocketException: Write failed (OS Error: Broken pipe, errno = 32)" during `flutter create`"
On [beta/2.12.0-4.1.pre](https://github.com/flutter/flutter/tree/2.12.0-4.1.pre)
Command `flutter create app`

[code]

[2022-03-22 21:30] christopherfujino commented on #100584
https://github.com/flutter/flutter/blob/2.12.0-4.1.pre/packages/flutter_tools/lib/src/ios/code_signing.dart#L236

[2022-03-22 21:31] godofredoc commented on #78626
@stuartmorgan may be the right reviewer for this.

[2022-03-22 21:34] justinmc opened #100585 "Crash after toolbar paste"
If you paste into a text field and then immediately remove the field, the app will crash.

This was reported as a Google internal bug at b/224914489.

<details>

<summary>Error logs</summary>

[code]

</details>

I'm reproducing this by using a custom paste button, but this could also happen if you're changing state after the field is filled or something like that.

### How to reproduce

1. Run th

[2022-03-22 21:37] christopherfujino commented on #100584
We should probably catch the SocketException to the write and then check to see if anything interesting was written to STDERR.

[2022-03-22 21:43] christopherfujino commented on #95582
Jenn hasn't had cycles to look at this, the next steps for this would be: https://github.com/flutter/flutter/issues/95582#issuecomment-1054738330

[2022-03-22 21:52] christopherfujino commented on #100247
@kenzieschmoll it sounds like issue 2) is being tracked in https://github.com/flutter/devtools/issues/3896, and I believe that 1) is the result of `dart-sdk/bin/resources/devtools/version.json` being wrong (https://github.com/flutter/flutter/issues/100247#issuecomment-1072834538). I'm assigning this to you to follow up on how to fix that file.

Let me know if there's any action items in the Flutte

[2022-03-22 21:59] christopherfujino commented on #97799
@GaryQian can you take a look at this one? I'm not sure what's going on here.

[2022-03-22 22:00] christopherfujino commented on #97799
It looks like `flutter test` never implemented `--ignore-deprecation`, which we should add

[2022-03-22 22:02] cbracken commented on #81097
Just tried again now with the flutter infra repo and it still appears to be failing. Here's what I get:
[code]

I then follow the instructions and run the command posted at that URL after signing in. Next attempt:

[code]

I then run the `luci-auth` command and try again. Third attempt:

[code]

Running `git cl creds-check` gives:
[code]

[2022-03-22 22:07] cbracken commented on #100272
This was resolved in https://github.com/flutter/engine/pull/32117.

[2022-03-22 22:07] #100272 closed

[2022-03-22 22:07] asashour opened #100588 "[Tools]: Proposal to remove `cd .` command if `flutter create .` command is run."
On running `flutter create .`, there is a message:
[code]

I suggest that if the directory is `.`, then the whole `$ cd .` is not shown.

<details>
<summary>flutter doctor -v</summary>

[code]
</details>

[2022-03-22 22:09] cbracken commented on #98680
/cc @domesticmouse we'll also need to update flutter.dev with similar changes, when Flutter desktop is ready to be declared stable.

[2022-03-22 22:09] flar commented on #99516
It looks like they are being tracked:

https://flutter-flutter-perf.skia.org/e/?queries=sub_result%3D120hz_frame_percentage

[2022-03-22 22:09] LongCatIsLooong commented on #100272
@cbracken I was planning to repurpose this issue for properly setting up the responder chain on macOS for text input. Should I create a new issue instead?

[2022-03-22 22:13] flar commented on #99516
The next step would get them listed on our alerts page so that a gardner gets notified when their results trend. @zanderso

[2022-03-22 22:26] LongCatIsLooong opened #100590 "MacOS text input plugin should be properly incorporated into the view hierarchy and responder chain"
Today the macOS text input plugin is a subclass of NSTextView which must be in the view hierarchy for it to properly interact with the OS input system.

Moreover the macOS text input plugin calls multiple API that are only supposed to be invoked by the system (`-[NSTextInputContext active]`, `-[NSTextInputContext deactive]`, `-[NSResponder becomeFirstResponder]`, etc.). Setting up the view hierarc

[2022-03-22 22:27] LongCatIsLooong commented on #100272
Created https://github.com/flutter/flutter/issues/100590

[2022-03-22 22:30] godofredoc commented on #81097
@keyonghan can you please take a look?

[2022-03-22 22:37] jmagman commented on #54563
Implement incremental macOS app installs https://github.com/flutter/flutter/pull/77756 and https://github.com/flutter/flutter/pull/77756

[2022-03-22 22:40] Jasguerrero commented on #96286
Reopening because this had to be reverted due to https://github.com/flutter/flutter/issues/100350

[2022-03-22 22:41] ditman commented on #88120
New issue:

* https://github.com/flutter/flutter/issues/100557

[2022-03-22 22:43] jmagman commented on #100241
Actually, reopening to improve this error message "Did you remember to call GeneratedPluginRegistrant.register" or similar
https://github.com/flutter/engine/blob/5a319bb4dc272b45bb9dd703a0dfa213939a51d7/shell/platform/darwin/ios/framework/Source/FlutterPlatformViews.mm#L142-L145
https://github.com/flutter/engine/blob/5a319bb4dc272b45bb9dd703a0dfa213939a51d7/shell/platform/darwin/macos/framework/So

[2022-03-22 22:51] rennylangat commented on #62265
Hello @rekonvald . Is it possible that your share the code snippet for me too? Been racking my head around such an implementation and such a lead would be highly appreciated

[2022-03-22 22:55] #99627 closed

[2022-03-22 23:03] christopherfujino commented on #92042
@keyonghan do you know if this is still happening?

[2022-03-22 23:11] roblframpton opened #100592 "During integration test, a button which is long-pressed to show a bottom sheet incorrectly no longer responds to tap events"
## Steps to Reproduce

Create an app with two buttons.  Both of them increment a counter when they are tapped, and show a bottom sheet when long-pressed.  During on-device integration testing, if a button is long-pressed and bottom sheet is dismissed, that button no longer responds to any tap events, while the other button still increments the counter as expected.  If you swap the buttons around,

[2022-03-22 23:12] jmagman commented on #100245
These are all issues with the iOS simulator runtimes missing.
[code]

[2022-03-22 23:15] jmagman commented on #100245
Is this cleared up as of https://github.com/flutter/flutter/issues/99429 ?

[2022-03-22 23:20] keyonghan commented on #100245
Closing as this doesn't repro after runtime issue fix.

[2022-03-22 23:22] keyonghan commented on #92042
With https://github.com/flutter/flutter/pull/93026 skipping the test, we haven't been able to run the flaky tests. Do we know if any fix has been submitted?

[2022-03-22 23:24] ajmalk opened #100594 "[pigeon] nonnull enums are broken"
Nonnull enums are broken now even with a wrapper class. Switching the enum to a nullable in the class fixes it.

## Steps to Reproduce

Interface:

[code]

**Error:**

[code]

[2022-03-22 23:28] yjbanov commented on #97324
Chromium 96 upgrade landed 5 days ago. I haven't seen any flakes yet, but maybe I'm not looking in the right place (I just eyeballed the build history on various builders, such as https://ci.chromium.org/p/flutter/builders/prod/Linux%20web_tests_5?limit=200). I'm tempted to close this, but I'm not sure what the right process is.

[2022-03-22 23:33] dporth commented on #100031
Before the documentation gets updated, is it possible if someone can tell me whether IOS non-renewing subscriptions should call the consumable() or nonConsumable() method?

[2022-03-22 23:49] riderx commented on #14330
I have benchmarked a lot of solution!
To me, Capacitorjs is still the best for hybrid apps, you can use any frontend framework you like, you have even component library ready to go with ionic.
And OTA update are allowed because of JS usage !
there different solution like https://capgo.app/ who allow it

[2022-03-22 23:51] yjbanov commented on #97324
With some guidance from @keyonghan, I decided to close this issue. Chromium 96 upgrade, while speculative, seems to have at least reduced the flakiness to a point that there hasn't been a flake in about a week. If new flakes show up, let's have the flake bots open a new issue.

[2022-03-22 23:51] #97324 closed

[2022-03-22 23:51] jmagman commented on #42560
We've had additional requests for this feature from internal customers.  `modal_bottom_sheet` won't meet their needs due to incompatibility with the router API https://github.com/jamesblasco/modal_bottom_sheet/issues/88
/cc @justinmc

[2022-03-23 00:03] camsim99 commented on #76384
To update this issue, there was a bug -- there were some missing window flags checks that are needed to change the status bar color. [This PR](https://github.com/flutter/engine/pull/32167) should fix it when it lands!

[2022-03-23 00:39] NitoBa commented on #97186
I was having the same problem here. I was using two packages to make in-app purchases. The packages were:
`flutter_inapp_purchase: ^5.1.2` and `in_app_purchase: ^3.0.2` removed the `in_app_purchase: ^3.0.2`
and the purchases started working again and the app didn't crash.
Apparently using two packages was causing this problem.

I'm using the flutter at version 2.10.3

[2022-03-23 00:43] cbracken commented on #97977
https://flutter-review.googlesource.com/c/infra/+/28183 enables the release launch test on the M1 mac staging pool.

[2022-03-23 00:54] cbracken commented on #100272
Ah thanks; this was listed on the stable blockers dashboard and had moved it to done. Thanks for creating a new issue for the proper strategic fix for this!

[2022-03-23 00:57] blasten commented on #100249
This issue was already fixed since these flakes occurred.

(head) https://github.com/flutter/flutter/blob/e827f0b3e121d2e1327bc4222b0ec6ae36e6b777/packages/flutter/lib/src/rendering/platform_view.dart#L199

vs

(commit with flake) https://github.com/flutter/flutter/blob/fd25dc84832469523768377c826b5549085c9636/packages/flutter/lib/src/rendering/platform_view.dart#L214

[2022-03-23 00:57] #100249 closed

[2022-03-23 00:58] arielt commented on #97050
I was trying to understand if IAP is supported for desktop - macOS, Windows. It seems like desktops are not supported right now. I'm curious if there are plans to do it in the future.

[2022-03-23 01:22] jwinarske commented on #93871
@zanderso that works.  Is that going into stable?  If not when.

[2022-03-23 01:25] kobeng commented on #46589
@yjbanov can you research this way?

[2022-03-23 01:27] WFNeIn commented on #100364
[flutter_log.txt](https://github.com/flutter/flutter/files/8328875/flutter_log.txt)

@darshankawar

[2022-03-23 01:52] sy5075391 commented on #100458
Does this kind of error occur in a real scene? I only found cases where the array contains NSError.

[2022-03-23 02:06] Fnalsk opened #100596 "Allow removing all listeners from a ChangeNotifier"
## Use case
Want a way to remove all listeners from a ChangeNotifier. Currently the only way to do this is to remember all listeners you have previously added and remove them one by one. This is especially annoying if one or more listeners you added previously depends on some variable that was provided from elsewhere - in this case, the listener that's added depends on the value of that variable a

[2022-03-23 03:02] JsouLiang commented on #95434
Thats will, the prioritization has made it easier for me to claim tasks. 👍

[2022-03-23 03:36] godofredoc commented on #100511
Seems like the first step is to move the VMs to a processor that supports virtualization.

[2022-03-23 03:57] weifengsonos opened #100597 ""Migrating from flutter_driver" docs not explaining how to do the integration test migration for the "app-to-app" case"
This is the follow-up for the issue mentioned in https://github.com/flutter/flutter/issues/98702 since the issue has been closed without any working solution provided.

**Issue**: None of the following documents explains how to do the integration test migration for the "app-to-app" case, where we are supposed to use the "--use-existing-app" flag to run our integrations tests.  Could someone please

[2022-03-23 04:22] dnfield commented on #100525
I'm not really sure how to act on this bug - it's asking about a custom modification of the engine to expose API we don't support and why that might have broken between two flutter versions. I can't think of any reason, but I don't think this is a bug in Flutter either.

[2022-03-23 04:22] #100525 closed

[2022-03-23 04:24] godofredoc commented on #100517
The webhook configuration has been updated to forward branch and tag creation events.

[2022-03-23 04:24] #100517 closed

[2022-03-23 04:27] Derry-Jay commented on #70294
This issue is not fixed still

[2022-03-23 04:50] XilaiZhang commented on #100517
Gracias!

[2022-03-23 05:10] darshankawar commented on #100393
Not really. You don't need to call it twice. Mainly once your testWidgets starts, you can call inside it as first method which will rebuild your `main.dart`, so that your `testWidgets` should see all widgets to perform action on.

You can read more about the usage of `setUp()` as below:

[code]

Also, closing this, since your original issue is resolved.

[2022-03-23 05:10] #100393 closed

[2022-03-23 05:11] darshankawar commented on #100480
Glad to know your issue is resolved. Closing.

[2022-03-23 05:11] #100480 closed

[2022-03-23 05:23] darshankawar commented on #100364
@WFNeIn
The log shows below failure:

[code]

Can you show Thin Binary from xcworkspace ? `ios/Runner.xcworkspace` and go to your Runner build phases and give us a screen shot.

Did you manually deleted the build phase or edited the Flutter build script phase in Xcode ?

[2022-03-23 05:30] darshankawar commented on #100438
@rjmacwan95
From the verbose log, its failing due to below:

[code]

For which, see [this](https://github.com/flutter/flutter/issues/95972#issuecomment-1005201055) issue comment and possible solution.
Closing this as duplicate of same, ie, https://github.com/flutter/flutter/issues/95972

[2022-03-23 05:59] maheshmnj commented on #100385
Thanks for the link @wmww, I logged in using  "Ubuntu on Wayland" selected, and The onscreen keyboard isn't launching for any of the third-party apps and the keyboard shows up fine for the terminal, settings etc. Let me know if I need to make any other configuration to see the keyboard launching in other apps.

https://user-images.githubusercontent.com/31410839/159633270-e34edf6b-011d-48c0-8e0f-9f

[2022-03-23 06:14] danagbemava-nc commented on #100503
Hi @albertoOviedo, please provide a complete minimal reproducible code sample. In the screenshot you have shared, I do not know which of the icons the `star_outlined` is supposed to be.

[2022-03-23 06:19] danagbemava-nc commented on #100250
I'm not entirely sure about that. You can check the exoplayer docs for information on that https://exoplayer.dev/troubleshooting.html#fixing-sslhandshakeexception-certpathvalidatorexception-and-err_cert_authority_invalid-errors

[2022-03-23 06:23] danagbemava-nc commented on #100281
Hi @rddewan, I'm not certain this is an issue with `go_router`. I changed the call to `context.goNamed()` to show a dialog when the data is received and the dialog wasn't shown either unless I removed the `ref.watch` from the main build method.
Can you also check to see if the same thing happens for you?

[2022-03-23 06:29] danagbemava-nc commented on #100203
@spkersten  There are certain instances that issues only occur when you're using a particular IDE, without knowing how it reproduces or whether it reproduces with the `flutter tool` directly, there isn't much that we can do about it. Kindly check if you are able to reproduce with the `flutter run` in the terminal.

Thank you

[2022-03-23 06:35] darshankawar commented on #100430
@kavyabhargava
Can you try [this](https://github.com/flutter/flutter/issues/100430) and see if it helps ?

[2022-03-23 06:36] ydddx opened #100600 "[linux desktop] GSLS:7 error:"
run app in linux failed

![image](https://user-images.githubusercontent.com/58802847/159637807-92e110ca-a939-4e5e-a5c8-2dc9e51d9c5e.png)

this is an flutter example  app
code from flutter example

![image](https://user-images.githubusercontent.com/58802847/159649675-39fc8975-a1b9-4905-b967-493c1bc40ef8.png)

command:
flutter run -v

logs:
![image](https://user-images.githubusercontent.com/58802847

[2022-03-23 06:40] zjrwdl commented on #57920
thanks , MediaQuery.of(context).removePadding can solve this problem

[2022-03-23 06:41] maheshmnj commented on #100560
Hi @al-mohad, Thanks for filing the issue. There  have been [several reports](https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+in%3Acomments+%22A+KeyUpEvent+is+dispatched%2C+but+the+state+shows+that+the+physical+key+is+not+pressed.%22) of this error. Please specify what platform are you targeting and the steps to reproduce the issue along with the output of `flutter doctor -v`.

[2022-03-23 06:42] darshankawar commented on #100441
@lukaexevio
Can you check this document and see if the implementation is correct for `yield` in streams ?
Also, since yield is coming from dart, I think you should open this issue in dedicated repo: https://github.com/dart-lang/sdk/issues

[2022-03-23 06:43] maheshmnj commented on #100556
Hi @jpnurmi, thanks for filing the issue, I was able to reproduce the issue on stable and the master channel. The title of the linux app has ellipses, On resizing the window or hovering another window on top the flutter app fixes the title.
I ran the below stress command, in parallel before the Linux app was built.

[code]

https://user-images.githubusercontent.com/31410839/159637926-c04da4f2-5536

[2022-03-23 06:47] maheshmnj commented on #100561
Hi @micrcx, Thanks for filing the issue. This issue is fixed on the master channel and the fix should be available on the stable channel in the upcoming stable release. This was previously filed here https://github.com/flutter/flutter/issues/94060.

You may get the fix before the release by switching to the latest master channel by running.
[code]
If you still encounter this crash on the latest ma

[2022-03-23 06:47] #100561 closed

[2022-03-23 06:48] mtc-jed commented on #99821
Thanks for the info. Please consider updating the documentation of either `InkWell` or `InkWell.customBorder`. Simply ignoring certain arguments must be clearly documented imo.

[2022-03-23 06:49] darshankawar commented on #100489
Thanks for the update. I do see that using code sample provided, using down arrow key, the focus goes from aaa to ccc, while up arrow key takes focus from ccc to aaa although it does go through bbb.

I am going ahead and labeling it for further insights from the team as what should be the correct implementation or expected behavior for below questions asked:

<details>
<summary> stable, master  fl

[2022-03-23 06:51] dreamahui opened #100601 "FormatException: FormatException: Missing extension byte (at offset 13)"
## command

flutter --no-color build ios

## exception

FormatException: FormatException: Missing extension byte (at offset 13)

[code]

## flutter doctor

[code]

[2022-03-23 06:51] maheshmnj commented on #100562
Hi @Pooja289318, Thanks for filing the issue. The requested icon is already present in the latest stable release of flutter.

<img width="350" alt="image" src="https://user-images.githubusercontent.com/31410839/159640060-a223efc1-330d-46eb-9dfc-1a28ea80dfff.png">

[code]

Closing, as the icon is already present. In case you disagree feel free to write in the comments and we will reopen it.

Thank

[2022-03-23 06:51] #100562 closed

[2022-03-23 06:54] darshankawar commented on #99824
I tried the same on Samsung device using latest stable, but unable to replicate the crash or app restart behavior that you mentioned earlier. I tried 8 to 10 times but still it didn't fail.
Are there any exact steps to replicate or pattern that we can use to verify ?
Also, when it crashes at your end, does it throw any error log ? If so, please provide the same.

[2022-03-23 06:55] #73330 closed

[2022-03-23 06:59] danagbemava-nc commented on #100540
Hmm, @Yaseendev, do you happen to be using a vpn?

[2022-03-23 07:04] maheshmnj commented on #100563
Hi @ErDeepChand,  please check if this issue looks similar to yours https://github.com/flutter/flutter/issues/66224.

When opening an issue, please try to provide all or some of the information requested in the issue template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided. In case you have any further info for us pleas

[2022-03-23 07:04] #100563 closed

[2022-03-23 07:07] maheshmnj commented on #100574
Hi @lkrjangid1,

This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community#community-grid for resources and asking questions like this. You may also get some help if you post it on Stack Overflow with a minimal code sample that clearly describes your problem.

Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the co

[2022-03-23 07:07] #100574 closed

[2022-03-23 07:08] Wian-TMC commented on #100545
Hi @maheshmnj, browsing through #98481, it still seems to occur on `stable 2.10.3`. I am not able to reproduce the crash on an emulator and I have no iOS device myself, but our testers have iOS devices which seem to crash relatively often (once or twice a day).

[2022-03-23 07:10] #99244 closed

[2022-03-23 07:10] #99329 closed

[2022-03-23 07:10] #99334 closed

[2022-03-23 07:10] fengyuxx opened #100602 "[in_app_purchase] SKProductDiscount added "identifier", "type" two fields in iOS12.2"
## Proposal

SKProductDiscount added "identifier", "type" two fields in iOS12.2, but the plugin is missing.
In some discount purchase scenarios, we need these fields.

[2022-03-23 07:15] danagbemava-nc commented on #99741
Hi @Harsh1052, kindly also share the rest of your `.arb` files.

[2022-03-23 07:17] jamesblasco commented on #42560
@jmagman
Sadly I haven't had as much time as I would like to focus on the library. But my main goal right now it is to release in the upcoming months a new version built from scratch. I have been using this new version for several clients already but I want to increase the test coverage and add a migration guide before I publish it into pub.dev
This version would be compatible with the Router Api,

[2022-03-23 07:17] Shubhankt1 commented on #99824
Those were the only steps actually.
Regarding the logs, I wanted to ask you actually that is there a way I can get those logs somewhere? currently, I don't have a Samsung device to test on directly, but the client is facing the issue. But even on crashlyics I don't get any error from within the webview.
could you please suggest a way out thru which I can at least capture and store the error log?

[2022-03-23 07:17] Sasikumar3595 opened #100603 "Icon does not clip when it is rendered outside of bounds"
We have created the application with custom widgets, and it has an option to reduce or increase the icon, but the icon will render outside it bounds while increase the size

## Steps to Reproduce

1. Run the sample code added in the below code sample
2. Icon will render outside of its bounds

**Expected results:**

- The icon widget will crop its region outside of its bounds

**Actual results:**

[2022-03-23 07:20] thirumalraopathi commented on #26968
hi natefrechette

i am facing below issue while running flutter driver to test futter app any suggestions or help
i tried in android emulator and real android device

Unhandled exception:
TimeoutException after 0:01:30.000000: Timeout while waiting for observatory debugger uri

[2022-03-23 07:28] darshankawar commented on #100566
@synchronisator
Since this is an issue of layout not working as expected on mobile web browser which renders UI elements on small screen as compared to desktop browser, can you take a look at [this](https://docs.flutter.dev/development/ui/layout/adaptive-responsive) document and see if it helps to implement layout specific code and check if that works for you ?

[2022-03-23 07:30] maheshmnj commented on #100600
Hi @yddx,
When opening an issue, please try to provide all or some of the information requested in the issue template so that the issue is actionable. In order to investigate this issue further please update the issue description with the steps to reproduce the issue along with a minimal and complete code sample.

Thank you.

[2022-03-23 07:32] RoyARG02 opened #100604 "[tool] `VersionUpstreamValidator` ignores `FLUTTER_GIT_URL` if upstream repository is standard"
`VersionUpstreamValidator` was introduced in #97202 to prevent the tool to check for freshness from a different remote than the one used to fetch the updates.

It does that by preventing freshness check and update in case the current channel is tracking a "non-standard remote". An explanation of what is considered as a "standard remote" is provided at the below dartdoc:

https://github.com/flutter

[2022-03-23 07:35] darshankawar commented on #100569
@mbfakourii
Check [this](https://stackoverflow.com/questions/65733963/change-taskbar-name-of-flutter-app-on-windows) similar issue and underlying solution to see if it helps.

Also, this question is better suited for support channels, so if linked solution doesn't work for you, please create a new question there.
Closing from here.

[2022-03-23 07:35] #100569 closed

[2022-03-23 07:45] danagbemava-nc commented on #100601
Duplicate of #81666

[2022-03-23 07:45] #100601 closed

[2022-03-23 07:53] darshankawar commented on #100588
Thanks for the report. Labeling this as a proposal.

/cc @christopherfujino

[2022-03-23 07:56] ydddx commented on #100600
Hi @maheshmnj
I update the  issues.

Thank you.

[2022-03-23 07:59] cansuengineer commented on #28606
Does not working for me too

[2022-03-23 07:59] athomas commented on #95209
We shouldn't pick this to beta, it will flow to beta and stable with the final 2.17 branchout. The work on the Flutter side isn't blocked by this, because it can be done on Engine's main branch until the next branchout to beta.

The refs are created by the dart-sdk builders which the autoroller seems to already wait for. So if it waits for all the relevant SDK builders to succeed, there will be CI

[2022-03-23 08:05] RoyARG02 commented on #100604
cc @christopherfujino

[2022-03-23 08:06] alexmercerind commented on #31713
I'm not sure how this is a step forward, when there is [webview_windows](https://pub.dev/packages/webview_windows) already available (as derived from the conversation at #37597). On the other hand, I don't think `::SetParent`-ing two windows inside same view will result in any good experience (why not launch another window for webview, when you are _fine_ with obstructing the view?). It'll never b

[2022-03-23 08:07] darshankawar commented on #100597
@weifengsonos

We had mentioned in the linked issue that `Conceptually this isn't supported, there's no way to point Integration Tests at an existing app. ` indicating there's currently no way to integrate test an add to app scenario, but I'll keep this issue open and label for further insights from the team on this for your reference.

/cc @jiahaog @dnfield . For your reference: https://github.co

[2022-03-23 08:17] ydddx commented on #100600
I solved the problem
Because of my graphics driver doesn't support opengl 3.2

Thank you.

[2022-03-23 08:17] #100600 closed

[2022-03-23 08:19] danagbemava-nc commented on #100596
Hi @Fnalsk, kindly see https://github.com/flutter/flutter/issues/52404 and the comment in  https://github.com/flutter/flutter/issues/52404#issuecomment-597912018 for a discussion on why this hasn't been added.

I'm going to close this issue for now. If you disagree with the conversation linked, kindly leave a comment below with your objection and I will reopen this.

Thank you

[2022-03-23 08:19] #100596 closed

[2022-03-23 08:26] rddewan commented on #100281
@danagbemava-nc  Yes it's correct `go_router` does not work if we use `ref.watch` in the mail build method . That is the problem i am facing. According to riverpod `ref.watch` should be only used inside build method

[2022-03-23 08:35] danagbemava-nc commented on #100603
Hi @Sasikumar3595, the default clip behavior is `Clip.none`. You need to specify a Clip behavior before the icon is clipped. With the current code sample that you have shared, you have to change it to something like the code below to get it to work how you want. See https://api.flutter.dev/flutter/widgets/Container/clipBehavior.html for more information.

Closing as this is working as intended.

T

[2022-03-23 08:35] #100603 closed

[2022-03-23 08:35] darshankawar commented on #100594
@ajmalk
I am not completely sure but currently pigeon doesn't seem to support nonnull enums and hence you might be seeing the error. I can't find an issue for it though.

/cc @gaaclarke for further input.

[2022-03-23 08:38] synchronisator commented on #100566
Hi @darshankawar
Thanks for your comment, but i think this has nothing to do with layout.
The layout does not change at all. The example is not adaptive nor responsive.
It is only to show a difference in the outcome of getBoxesForSelection.

After some research and a very helpful hint from user "Penguin?" on discord i could say that this Bug is a Bug in web-renderer "html". If i build the example

[2022-03-23 08:41] darshankawar commented on #100602
Labeling it as a proposal since the two fields seems to be coming from apple storekit.

[2022-03-23 08:42] danagbemava-nc commented on #100281
@rddewan what I meant is, I modified your `SplashScreen` file to see if a dialog would show when it was supposed to navigate and the dialog wasn't shown either. The issue may lie somewhere else and not with `go_router`. Kindly check with the code sample below to see if the same thing happens.

<details>
<summary>updated SplashScreen</summary>

[code]
</details>

[2022-03-23 08:47] ibrahimdevs commented on #83630
Hi, I made a workaround this problem for iOS.

If you change "FLTImagePickerPlugin.m" file below, users will see native iOS editor screen for cropping their longer videos.
[code]
to
[code]

[2022-03-23 08:48] kdcyberdude commented on #81265
I am able to understand the core of this problem. And able to do some workaround to make it work.

The problem is in the flutter android embedding layer specifically in the FlutterLoader.java file. It has one private variable named as flutterApplicationInfo which initializes in `startInitialization()` function with an object of FlutterApplicationInfo which get's it's values form `getApplicationInf

[2022-03-23 08:49] 1663049254 opened #100606 "Showmodalbottomsheet has obvious jamming when running for the first time"
## Details

Showmodalbottomsheet has obvious jamming when the app is installed and run for the first time, reaching 250ms / frame. Normal thereafter

**Target Platform:**
**Target OS version/browser:**
**Devices:**

## Code
<details>
<summary>code sample</summary>

[code]
</details>

<img src="https://user-images.githubusercontent.com/43083133/159660215-b4ba370a-9876-48b2-abe5-5ef8a73e6306.png" wi

[2022-03-23 08:53] synchronisator commented on #100566
Found a similar bug on Linux with wrong box-height on linebreaks.
Correct on Web with canvaskit:
![grafik](https://user-images.githubusercontent.com/10772789/159660342-6a480e34-958c-43fb-bd53-afb6ad2cf7db.png)

Wrong in Linux
![grafik](https://user-images.githubusercontent.com/10772789/159660376-40ca8a43-b43f-4eb7-8afa-2f08f67e0478.png)

Should i open up another issue for that?

[2022-03-23 08:53] kdcyberdude commented on #92061
I am able to figure out a workaround/hack for this... I have added the details in this comment https://github.com/flutter/flutter/issues/81265#issuecomment-1076100723. Give it a try and let me know your thoughts about it. Can we rely on this until it gets fixed?

[2022-03-23 08:55] mhbdev commented on #100138
Here you are. @danagbemava-nc

[√] Flutter (Channel stable, 2.8.0, on Microsoft Windows [Version 10.0.22000.588], locale en-US)
    • Flutter version 2.8.0 at C:\FlutterSdk\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision cf44000065 (3 months ago), 2021-12-08 14:06:50 -0800
    • Engine revision 40a99c5951
    • Dart version 2.15.0

[√] Android tool

[2022-03-23 08:58] Lorenzohidalgo commented on #100550
Hi @maheshmnj, after further investigation I was able to find the underlying issue.

The `launch` function from `url_launcher` package doesn't return anything if the website is closed before it finished loading the content. Since I was using BLoC to handle all the events and launching the URLs, waiting for the `Future<bool>` that never came blocked the execution of future events, giving the appear

[2022-03-23 09:14] #99371 closed

[2022-03-23 09:17] luckysmg commented on #98115
I think this has been fixed by PR https://github.com/flutter/flutter/pull/99546

[2022-03-23 09:22] WFNeIn commented on #100364
<img width="620" alt="截屏2022-03-23 17 14 28" src="https://user-images.githubusercontent.com/6038294/159665071-ae73e52d-ff75-4934-9434-96fef34e9b30.png">

It built successfully in debug and release model, but failed in release model.

I thought I didn't do it.

[2022-03-23 09:24] yarmDev commented on #98570
Hello, I would like the "SliverAppBar" from flexibleSpace to be read by TalkBack just after the "BackButton"

[2022-03-23 09:24] darshankawar commented on #100604
This seems to be happening on master since it has an upstream version to upgrade too, as compared to running on stable wherein it shows below message:

[code]

[code]

[2022-03-23 09:44] jamov commented on #92176
I guess no progress? Just now faced this issue myself.

[2022-03-23 09:51] danagbemava-nc commented on #100606
Hi @1663049254, there's a similar issue describing what you're experiencing in #78356.

Kindly follow up there for more information.

Closing from here as duplicate.

Thank you

[2022-03-23 09:51] #100606 closed

[2022-03-23 09:51] kdcyberdude commented on #97149
@Insha-Siddiquii Can you try this?

[code]

[2022-03-23 09:59] jatinArhamLabs opened #100607 "flutter messaging: notification icon image is not getting the image color its displayed in white color"
## Steps to Reproduce

1. The issue is that if we put a notification icon under AndroidManifest.xml
meta-data android:name="com.google.firebase.messaging.default_notification_icon"
android:resource="@drawable/ic_notification"

And then generate the folder for icon android > app > src > main > res  under res we will put all the notification icon folder we have
generated so that we can access this t

[2022-03-23 10:04] hikachi opened #100608 "[Proposal] extend TimePickerEntryMode with dialOnly, inputOnly"
## Use case

I found out that, material timePicker only  has two enums - TimePickerEntryMode {dial, input} in comparision to datePicker that has four of them - DatePickerEntryMode { calendar, input, calendarOnly,inputOnly}. In keyboardless apps, dialOnly is essential.

## Proposal

Extend TimePickerEntryMode with dialOnly and inputOnly enums so that both pickers could have the same behavior.

[2022-03-23 10:09] CarGuo commented on #46589
@ shiburagi   yes, when open gzip  reduce main.dart.js below 500kb  ,  I think this is the only fast way now

<img width="1157" alt="image" src="https://user-images.githubusercontent.com/10770362/159674717-7e61769b-4cc0-47c4-8518-65abd60ae034.png">

[2022-03-23 10:14] danagbemava-nc commented on #100607
Hi @jatinArhamLabs, this seems like an issue with either `firebase_messaging` or `flutter_local_notifications` both of which have their own dedicated repos for reporting issues. [firebase](https://github.com/FirebaseExtended/flutterfire/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc) and [flutter_local_notifications](https://github.com/MaikuB/flutter_local_notifications/issues?q=is%3Aissue+is%3

[2022-03-23 10:14] #100607 closed

[2022-03-23 10:19] nilsreichardt opened #100609 "[flutter_markdown] Build status badge in `README.md` is not working anymore"
https://github.com/flutter/packages/blob/85d226484e9e988b033c65f75312b57389244249/packages/flutter_markdown/README.md

<img width="649" alt="image" src="https://user-images.githubusercontent.com/24459435/159676840-16be3fb1-cdd0-40ea-bc14-9b67079a5eeb.png">

When opening the link:

<img width="1069" alt="image" src="https://user-images.githubusercontent.com/24459435/159676955-447b38a1-e035-456c-ba3

[2022-03-23 10:25] jeiea commented on #99254
It seems it is reproducible with iPhone 8 iOS 15.3.1.

![IMG_19C0B3DD7A8E-1](https://user-images.githubusercontent.com/4188984/159678253-31eb4909-b0ae-4a8e-81e5-1c8f131b37d2.jpeg)

[2022-03-23 10:26] Nillouise commented on #49757
Is there any update or workaround? In today the window app still constrain in 60 fps.

[2022-03-23 10:29] maheshmnj commented on #100592
Hi @roblframpton, Thanks for filing the issue. I am able to reproduce the issue on stable and the master channel. Once the button simulates long-press tapping again on the button does not simulate the tap event.

<details>
<summary>integration test</summary>

[code]
</details>

<details>
<summary>logs</summary>

[code]
</details>

<details>
<summary>flutter doctor -v (mac)</summary>

[code]

[code

[2022-03-23 10:41] darshankawar commented on #100364
So, is it resolved ?

[2022-03-23 10:46] ilyen85 commented on #100466
@MapperMalte if you refer to the example at: `https://github.com/flutter/plugins/blob/main/packages/camera/camera/example/lib/main.dart`

I had the same issue because I wanted to move the contents of the example into a widget, and I messed up something. (I'm still learning flutter) Once I replaced my whole main.dart with the example (and fixed the test) the example had worked.

[2022-03-23 10:50] maheshmnj commented on #100545
Thanks for the info @Wian-TMC, I am closing this issue as duplicate of #98481. Please follow up there for further updates. Incase you disagree feel free to write in the comments and we will reopen it.

Thank you.

[2022-03-23 10:50] #100545 closed

[2022-03-23 11:00] MyBuzzTechnologies commented on #99351
Wow, what a great find @gmcdowell! Thank you so much for this, it fixed the issue for me too.

[2022-03-23 11:03] hamzaj9 opened #100610 "ReorderableListView causing a crash in Windows "stable channel" !"
Hello,
my windows app is crashing after launching it. I believe its because of the ReorderableListView.

I just created new project, copied the sample code from "https://api.flutter.dev/flutter/material/ReorderableListView-class.html" and tested it. can i know exactly what's happening?

some times I got this messages in the terminal:
`[ERROR:accessibility_bridge.cc(76)] Failed to update ui::AXTree

[2022-03-23 11:10] amit-iconflux commented on #29749
Just paste the below code, It's working for me. Use as like as PageView.

`class ExpandablePageView extends StatefulWidget {
  final int itemCount;
  final Widget Function(BuildContext, int) itemBuilder;
  final PageController controller;
  final ValueChanged<int> onPageChanged;
  final bool reverse;

  const ExpandablePageView({
    @required this.itemCount,
    @required this.itemBuilder,
    th

[2022-03-23 11:12] Z6P0 opened #100611 "[webview_flutter] Error in evaluateJavascriptFromInstance when restarting app"
This code works if run once, but crashes if restarted either with Hot Reload or with Run (without Stop).

[code]

Stack trace:

[code]

webview_flutter version 3.0.1

flutter doctor -v
[code]

[2022-03-23 11:23] maheshmnj commented on #100608
Hi @hikachi, Thanks for filing the issue. Labeling this issue as  proposal to add `inputOnly` and `dialOnly` enums to [TimePickerEntryMode](https://api.flutter.dev/flutter/material/TimePickerEntryMode.html)

<details>
<summary>minimal code sample</summary>

[code]
</details>

[2022-03-23 11:28] hamzaj9 commented on #100610
Note: we test the release exe in 4 different machines. all machines are windows 10.
- 2 of the machines having this issue (crashing when launching the app). these 2 machines we are using for developing. so it may caused by some development libraries (C++ runtime libraries or other)
- the other 2 are just working fine

[2022-03-23 11:44] maheshmnj commented on #100486
I am unable to reproduce the issue on Windows or Linux on the latest `stable 2.10.3`. I am able to select and copy any part of the SlectableText

### Ubuntu
https://user-images.githubusercontent.com/31410839/159691096-1247a835-4b84-468e-b918-48f1d55a4b30.mp4

### Windows

https://user-images.githubusercontent.com/31410839/159690468-6935de55-a6e5-4be2-a1a7-4ad262d2f321.mp4

<details>
<summary>flutt

[2022-03-23 11:59] Digolodollarz commented on #29021
Still waiting for this :-(

[2022-03-23 12:14] Zasaz opened #100612 "[Fonts] Icon request: wallet"

[2022-03-23 12:16] #100612 closed

[2022-03-23 12:18] hamzaj9 commented on #100610
we got it solved by downloading the latest C++ library from here:
https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170
but we still didn't know why it happened in the first place

[2022-03-23 12:20] maheshmnj commented on #98778
This looks like a duplicate of https://github.com/flutter/flutter/issues/98099

[2022-03-23 12:26] darshankawar commented on #100566
Thanks for the update. I do see the same behavior as reported on desktop web and it looks specific with html rendering, as using canvaskit, the rendering is as expected:

1. Using canvaskit:

<img width="794" alt="Screenshot 2022-03-23 at 5 54 13 PM" src="https://user-images.githubusercontent.com/67046386/159698758-b7f2825f-8385-4608-8a6b-88fc742c5d10.png">

2. Using html:

<img width="955" alt="S

[2022-03-23 12:28] darshankawar commented on #100566
Yes.

[2022-03-23 12:30] maheshmnj commented on #100610
Thanks for the update @hamzaj9, Closing the issue as solved. However, I couldn't reproduce it on my side. In case you see the crash again feel free to file a new issue or comment on this issue and we will reopen it.

Regarding this message in the console, This is being tracked here #98099, Please follow up there for further updates.

[2022-03-23 12:30] #100610 closed

[2022-03-23 12:32] benPesso commented on #68014
@justinmc Is this still open? I know #60145 was resolved a while back...

[2022-03-23 12:34] benPesso commented on #46238
More than 2 years later, this is still an issue with Flutter 2.10.3. How can we get this escalated?

[2022-03-23 12:42] maheshmnj commented on #100565
Closing this issue in favor of https://github.com/flutter/flutter/issues/96282

[2022-03-23 12:42] #100565 closed

[2022-03-23 12:42] darshankawar commented on #98570
Thanks. I am keeping this open and labeling for further input from the team.

/cc @chunhtai

[2022-03-23 12:56] koji-1009 opened #100613 "Flutter Module might not compile if they depend on a plugin which uses old kotlin version"
## Steps to Reproduce

1. Select flutter 2.10.3, run `flutter channel stable; flutter upgrade;`
2. Create module project, run `flutter create -t module --org com.example .`
3. Create aar, run `flutter build aar` -> OK
4. Add [webcrypto](https://pub.dev/packages/webcrypto), run `flutter pub add webcrypto`
5. Create aar, run `flutter build aar` -> Fail

If you need minimum project, check [my sample]

[2022-03-23 12:58] darshankawar commented on #99824
Ideally crashlytics should capture the logs for all crashes / exceptions that you should be able to get a report of, because without it, this issue would not be actionable from our side sadly.

[2022-03-23 13:01] danagbemava-nc commented on #40079
@amanv8060 is right, we can set the AppBar shadow color in both the `AppBarTheme` and in the `AppBar` directly. It looks like this has been in the framework for quite some time. Since [1.20.0-1.0.pre](https://github.com/flutter/flutter/releases/tag/1.20.0-1.0.pre)

<details>
<summary>screenshots</summary>

| in AppBar | in AppBarTheme |
| -- | -- |
| <img width="437" alt="Screenshot 2022-03-23 at

[2022-03-23 13:01] #40079 closed

[2022-03-23 13:25] danagbemava-nc commented on #90147
This isn't really a bug, it's more of a proposal.

The material guideline recommends using brief language for the labels so as to not run into this issue in the first place, but I can imagine certain scenarios where this can happen, for example, when the simplest word to describe that action overflows by itself.  For example, in the code sample below the `Transportation` label overflows.

@HansMul

[2022-03-23 13:26] synchronisator opened #100615 "getBoxesForSelection gives wrong height on only linebreaks"
If you try to getBoxesForSelection for a Textselection that only has a Linebreak in it, the resulting box is too high.
It only matters, if the height in TextStyle is set. In my example i set  "style: const TextStyle(height: 3),"

## Steps to Reproduce
Run the following Code on Linux or Android and Web

[code]

**Expected results:**
![grafik](https://user-images.githubusercontent.com/10772789/15970

[2022-03-23 13:26] synchronisator commented on #100566
Done:
https://github.com/flutter/flutter/issues/100615

[2022-03-23 13:33] Ritsz123 opened #100616 "[Android]Camera plugin has low ISO, when starting imageStream with front camera"
## Use case
I am using `Camera` plugin with `google_ml_kit` to detect faces in the live stream of images & show the preview.
but unfortunately when I call the function `startImageStream(() {})` the iso becomes very low.

## Proposal
on starting the image stream the iso should not be reduced (I tried using resolution preset medium & high).

[2022-03-23 13:36] danagbemava-nc commented on #91080
Hi @moazelshebly, given your last comment I feel it is safe to close this issue.

If you run into any more bugs, kindly file an issue.

Closing as fixed.

Thank you

[2022-03-23 13:36] #91080 closed

[2022-03-23 13:37] Badis14 opened #100617 "[IOS] App runs fine in Xcode in all Modes, But apple verification team says that my app failed to progress past the launch screen"
Ps :it is validated  by google it's on google play but i didn't figure out a solution with apple
![1](https://user-images.githubusercontent.com/73723266/159712295-8252ad47-07bb-47db-9a9c-95b47a8dc792.png)
![3](https://user-images.githubusercontent.com/73723266/159712346-0087df62-d975-4299-bef0-26cc21f3b9fe.png)
![4](https://user-images.githubusercontent.com/73723266/159712363-57018f80-4f20-4213-92

[2022-03-23 13:47] stuartmorgan commented on #78626
This report seems to misunderstand the location of documentation comments relative to methods.

[2022-03-23 13:49] maheshmnj commented on #100596
Also, as per the [docs](https://api.flutter.dev/flutter/foundation/ChangeNotifier/addListener.html). It looks like it is not possible to determine which listener is being removed

[2022-03-23 13:52] aya2453 opened #100618 "Android Autofill not working on latest stable (2.10.3)"
Autofill is not working when using 2.10.3 (also didn't work for 2.10.1) especially when I use `AutofillHints.creditCardNumber` `AutofillHints.address` and so on. `AutofillHints.name` works fine. This problem was also reported in another issue, but it's still not solved although the issue was closed and release notes also mentions it as resolved in 2.10.1.
older issue: https://github.com/flutter/fl

[2022-03-23 14:02] gardc commented on #49757
I would recommend looking at other solutions for making a desktop app if you don't want a constant 60fps, as it seems this issue isn't of interest to the Flutter team.

[2022-03-23 14:14] #99390 closed

[2022-03-23 14:14] #99394 closed

[2022-03-23 14:14] #99395 closed

[2022-03-23 14:17] vincentderidder commented on #100132
Any timeframe on resolving this issue?

[2022-03-23 14:21] ColdPaleLight commented on #98115
fixed by linked PR

[2022-03-23 14:21] #98115 closed

[2022-03-23 14:39] aoatmon opened #100619 "GestureDetector's `HitTestBehavior.translucent` doesn't propogate taps underneath PageView widget"
## Steps to Reproduce

1. run this [code sample](https://dartpad.dev/?id=a87794d60794e77b227297c8598759f8)
2. the `FloatingActionButton` is not clickable and that's fine
3. wrap the `FloatingActionButton` in a `GestureDetector` as below

[code]

**Expected results:**

the `FloatingActionButton` should be clickable

**Actual results:**

the `FloatingActionButton` is still not clickable

<details>
<

[2022-03-23 14:44] TahaTesser opened #100620 "Move `ListTileTheme` and its tests into separate classes"
[list_tile.dart](https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/material/list_tile.dart) is very long and bloated as it contains theme code as well and other widgets have self-contained theme classes.

###  Solution

Move `ListTileTheme` code into a separate class and extract theme tests from `list_tile_test.dart` class into a new `list_tile_theme_test.dart` as well.

[2022-03-23 14:45] dickiezulkarnaen commented on #70261
same issuee, sue

[2022-03-23 14:51] gerkol opened #100621 "Build for Arm64 throws Shader compilation error"
Hi, I'm trying to run my app using flutter-pi on yocto linux (rbpi3, ARM64). I created the build as follows using flutter 2.10.2

1. `flutter build bundle`
2.
[code]
3.
[code]
For creating `libapp.so` for ARM64 I'm using the engine binary from here: https://github.com/ardera/flutter-engine-binaries-for-arm/blob/main/arm64/gen_snapshot_linux_x64_release

The app is executing using `flutter-pi --rel

[2022-03-23 14:52] TahaTesser commented on #72670
`mouseCursor` is added in one of my previous PR and new PR would add `visualDensity` in the theme

`isThreeLine` is not suitable for the theme as it depends on the `subtitle`, not all `ListTile` would be expected to have `subtitle`.

[2022-03-23 14:56] DetachHead opened #100623 "`flutter analyze` checks the whole project when specifying a directory before checking the specified directory"
folder structure:
![image](https://user-images.githubusercontent.com/57028336/159727827-ff71d58b-b688-427c-9956-d15afd604f1e.png)

when running `flutter analyze` without specifying a directory:
[code]

when specifying a directory:
[code]

i think what happening is that it first runs on the whole project first, then runs again on the specified directory, which is why it duplicated the error in `lib

[2022-03-23 14:59] naamapps opened #100624 "Deeplink URL scheme should also include domain name (iOS and Android)"
## Steps to Reproduce

Setup url scheme for both ios and android, on android without the host data and on ios like normal:
Android:

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="somescheme" />

[2022-03-23 15:03] MassiRamdani opened #100626 "[tool_crash] _Exception"
Command
[code]

Steps to Reproduce
1. ...
2. ...
3. ...

Logs
_Exception
[code]
[code]

%23%23 Flutter Application Metadata
**Type**: app
**Version**: 1.0.0 1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation channel**: stable
**Creation framework version**: 097d3313d8e2c7f901932d63e537c1acefb87800

[2022-03-23 15:12] KayesAshfaQ opened #100627 "Can't build a list with future builder"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2022-03-23 15:13] cwangfr commented on #100579
i have same problem, some day before, i create apk was 40mk, but today, the same project apk size has great to 105m

`❯ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.10.3, on macOS 12.2.1 21D62 darwin-x64, locale zh-Hans)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[✓] Xcode - develop for iOS and macOS

[2022-03-23 15:14] #100627 closed

[2022-03-23 15:17] zanderso opened #100628 "Engine -> Framework roller stopped on android failures"
Examples on the roll here: https://github.com/flutter/flutter/pull/100593

https://ci.chromium.org/ui/p/flutter/builders/prod/Linux_android%20flutter_gallery__back_button_memory/1660/overview

https://ci.chromium.org/p/flutter/builders/prod/Linux_android%20platform_interaction_test

Suspecting https://github.com/flutter/engine/pull/32178 or https://github.com/flutter/engine/pull/32178 because the

[2022-03-23 15:52] mdebbar commented on #82317
This should've been fixed recently by this [PR](https://github.com/flutter/engine/pull/31907).

[2022-03-23 15:52] #82317 closed

[2022-03-23 16:09] wjy8888840 commented on #99675
Tried this and it shows this when I switch my VPN to global mode:

[code]

And show this when switch to PAC mode:

[code]

[2022-03-23 16:19] #99862 closed

[2022-03-23 16:35] christopherfujino commented on #92042
Ahh, I missed that you skipped it.

[2022-03-23 16:39] jpangburn opened #100633 "Flutter DataTable sample overflows if column heading is made a little longer"
## Steps to Reproduce

1. Open DataTable documentation and look at sample [https://api.flutter.dev/flutter/material/DataTable-class.html](https://api.flutter.dev/flutter/material/DataTable-class.html)
2. Change 'Age' column on row 37 to 'Age longer'
3. Reduce browser width to see overflow on column header

**Expected results:**
With column headings shorter than row content, there is no overflow er

[2022-03-23 16:49] keyonghan opened #100634 "[Cocoon] .ci.yaml validation takes ~1h to populate tests"
Multiple PRs hung on waiting for pre-submit tests to populate, though scheduled after a long waiting time.
https://github.com/flutter/engine/pull/32211 (~1h)
https://github.com/flutter/engine/pull/32213 (~45min)

Github has been hitting incidents these days: https://www.githubstatus.com/history. Filing this bug to track if any issues from cocoon side.

[2022-03-23 16:54] venkatd commented on #86972
I'd also like to know why a Focus node at the root as a catch-all doesn't solve the issues  in https://github.com/flutter/flutter/issues/82515 and https://github.com/flutter/flutter/issues/32433

Would love to see a list of use cases FocusTrap is trying to accomplish.

In its current state, I'd rather have FocusTrap not exist in the framework. It has caused problems for us by calling unfocus at ti

[2022-03-23 17:10] CaseyHillers commented on #100634
The issue is GitHub has been having issues delivering webhooks most mornings for the past week (githubstatus.com/history)/ This can delay the events from being processed from 30 minutes to 2 hours.

The issue is Cocoon isn't getting the webhook. This check hasn't been created by Cocoon, but is instead required on the GitHub level. This is preventing PRs from landing without tests.

As a third part

[2022-03-23 17:14] ciceromsjr commented on #100161
After updating the macOS and accepting terms in Xcode, It only worked running these command:

[2022-03-23 17:19] mabdullahh opened #100635 "[Fonts] Icon request: solar_power"

[2022-03-23 17:29] keyonghan opened #100636 "`Mac_arm64_staging native_ui_tests_macos` fails with `PhaseScriptExecution` error"
Part of https://github.com/flutter/flutter/issues/87508

[Mac_arm64_staging native_ui_tests_macos](https://luci-milo.appspot.com/raw/build/logs.chromium.org/flutter/led/keyonghan_google.com/e33c752d0157e40e23fe702b1df0818a3d1e7799b294fc1f8aa3ee6fc1fb64d5/+/build.proto)

[code]

[2022-03-23 17:30] keyonghan opened #100637 "`Mac_arm64_staging build_ios_framework_module_test` fails with `ProcessException: Bad CPU type in executable`"
Part of https://github.com/flutter/flutter/issues/87508

[Mac_arm64_staging build_ios_framework_module_test](https://luci-milo.appspot.com/raw/build/logs.chromium.org/flutter/led/keyonghan_google.com/b0b24ac5dd8076f5d07372b9bbf69897c36c31ca20a132533f912bbbde02a7fa/+/build.proto)

[code]

[2022-03-23 17:31] keyonghan opened #100638 "Mac_arm64_staging plugin_lint_mac failed with `Undefined symbols for architecture arm64`"
Part of https://github.com/flutter/flutter/issues/87508

[Mac_arm64_staging plugin_lint_mac](https://luci-milo.appspot.com/raw/build/logs.chromium.org/flutter/led/keyonghan_google.com/74c2c0b1de7440efecaa0796e7dcb386aad3563310fb202b41ac08f62e829084/+/build.proto)

[code]

[2022-03-23 17:33] keyonghan opened #100639 "M1 staging tests fail with `code signing error`"
Part of https://github.com/flutter/flutter/issues/87508

These builders are newly enabled on M1 bots, but hit code signing error (though no ios device is needed):

[Mac_arm64_staging flutter_gallery_ios__compile](https://ci.chromium.org/ui/p/flutter/builders/staging/Mac_arm64_staging%20flutter_gallery_ios__compile/365/overview)
[Mac_arm64_staging hello_world_ios__compile](https://ci.chromium.org/u

[2022-03-23 17:33] keyonghan commented on #87508
Some updates:
**Configs**
All M1 bots are now with 12.2 and builders are with xcode 13a233 (same as prod).

**Ruby**
Finally have a customized working [arm64 version](https://chrome-infra-packages.appspot.com/p/flutter/ruby/mac-arm64/+/P1b-yT8l6N4J6TbVI5fJDqmbWIKP6WhKcLfITjWZ2ZEC). (do be submitted in recipes)

**Validation**
Now we have three issues (after running on latest configs):

- No androi

[2022-03-23 17:39] zanderso commented on #93871
@jwinarske Thinking about this more, the fix is to a build script that we don't explicitly vend on flutter/flutter's stable channel, so I think before Kevin or I can answer your question, we'd need to know how you're getting a 'stable' checkout of the Engine tree. For 2.10 are you pulling from https://github.com/flutter/engine/tree/flutter-2.8-candidate.16?

[2022-03-23 17:40] akbiggs opened #100640 "JIT snapshots can't be found on some platforms when just the assets path is specified."
The embedder does not appear to work with JIT snapshots on some platforms. In the [GLFW example on Linux](https://github.com/flutter/engine/tree/main/examples/glfw) (which only sets FlutterProjectSettings.asset_path), we get an error that the Dart VM could not be initialized. With `gn --unopt --build-embedder-examples`:

[code]

We suspect that this is not an issue on Windows and Mac because of th

[2022-03-23 17:40] fabianogadenz commented on #83596
we have the same issue. Any updates?

[2022-03-23 17:44] keyonghan commented on #100636
/ @cbracken could you please help take a lool?

[2022-03-23 17:45] keyonghan commented on #100639
All these are host only tests, and are not expected for code signing. Shall we skip code signing for all of them @jmagman

[2022-03-23 17:56] jwinarske commented on #93871
@zanderso For 2.10.3 I use engine commit based on Flutter tag.  In case of 2.10.3: https://github.com/flutter/flutter/blob/7e9793dee1b85a243edd0e06cb1658e98b077561/bin/internal/engine.version

The problem in this issue occurs when the target sysroot has GCC 11; which has mallinfo officially deprecated.  We build the embedder using a specific target sysroot, not using the target sysroot included in

[2022-03-23 17:59] keyonghan opened #100641 "`Linux framework_tests_misc` flakes on `cupertino_action_sheet`"
(part of https://github.com/flutter/flutter/issues/97036)

Linux framework_tests_misc: 1 flake on [cupertino_action_sheet failure](https://ci.chromium.org/ui/p/flutter/builders/prod/Linux%20framework_tests_misc/4028/overview)

[code]

[2022-03-23 18:01] christopherfujino commented on #100306
I'm re-opening this as my fix was wrong (less wrong than before, but still wrong).

This post-submit build failed: https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket/8819041554961337905/+/u/Verify_binaries_codesigned/verify_binaries_codesigned/test_stderr. It's because it's cloning from ssh, with git@github.com:flutter/flutter.git, which the LUCI build does not have credentials to d

[2022-03-23 18:04] CaseyHillers commented on #90166
I verified this is working

[2022-03-23 18:04] #90166 closed

[2022-03-23 18:05] fluttergithubbot opened #100643 "Mac dart_plugin_registry_test is 4.00% flaky"
The post-submit test builder `Mac dart_plugin_registry_test` had a flaky ratio 4.00% for the past (up to) 100 commits, which is above our 2.00% threshold.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/prod/Mac%20dart_plugin_registry_test/4171
Commit: https://github.com/flutter/flutter/commit/9b818d2b707fdfe9fa04c63de3afadb59f4664cc

Flaky builds:
https:

[2022-03-23 18:05] fluttergithubbot opened #100645 "Mac_ios cubic_bezier_perf_ios_sksl_warmup__timeline_summary is 5.00% flaky"
The post-submit test builder `Mac_ios cubic_bezier_perf_ios_sksl_warmup__timeline_summary` had a flaky ratio 5.00% for the past (up to) 100 commits, which is above our 2.00% threshold.

One recent flaky example for a same commit: https://ci.chromium.org/ui/p/flutter/builders/prod/Mac_ios%20cubic_bezier_perf_ios_sksl_warmup__timeline_summary/1808
Commit: https://github.com/flutter/flutter/commit/e2

[2022-03-23 18:08] #100643 closed

[2022-03-23 18:11] XilaiZhang commented on #90166
Cool, thanks for verifying!

[2022-03-23 18:25] #45295 closed

[2022-03-23 18:31] davelab6 commented on #33709
For context, fonts.google.com has updated 100s of font families to be variable fonts, including the # 2 most popular family [Open Sans](https://fonts.google.com/specimen/Open+Sans) - and the previous "Open Sans Condensed" family is no longer listed (although the CSS API serves it so existing users aren't effected) because those styles are now available in the `Width (wdth)` axis.

(I also kindly n

[2022-03-23 18:32] pvsvamsi commented on #99268
@danagbemava-nc This error is coming if we launching flutter on chrome (flutter run -d chrome). We are not getting this error in case of Android launch.

We are calling WidgetsFlutterBinding.ensureInitialized() under main
[code]

[2022-03-23 18:45] keyonghan commented on #97974
Based on @jmagman 's comment https://github.com/flutter/flutter/issues/96401#issuecomment-1031863911, the referenced issue is not caused by crash.
Lowering the priority to P3 as this is not blocking any critical issues.

[2022-03-23 19:02] weifengsonos commented on #100597
@darshankawar, thanks for the response.  I am surprised to know that the "app-to-app" (existing app) case is no longer supported.  This is definitely breaking many teams out there:-(.

[2022-03-23 19:05] wmww commented on #100385
Perhaps you didn't click on the same text field enough times? Or the version of something is different than mine?

I just reprod this on an up-to-date Ubuntu 20.04 VM. My exact steps:
- enable screen keyboard in settings
- log in to Ubuntu on Wayland session
- `sudo snap install purple-task --edge`
- open purple-task
- click three times in text box
- only on the third click the keyboard comes up

[2022-03-23 19:27] roblframpton commented on #100592
Thanks.  I also just found this issue which I suspect has the same cause: https://github.com/flutter/flutter/issues/98804

[2022-03-23 19:47] YDA93 commented on #83596
Did not work for me, I still got the same crashes.

[2022-03-23 19:49] sjmamani commented on #11068
For my case, I got a workaround solution using `Directionality` widget

[code]

<img width="299" alt="image" src="https://user-images.githubusercontent.com/42153383/159783612-d9f7d4a0-2376-4f3f-8b86-370b74040862.png">

[2022-03-23 19:52] keyonghan commented on #99490
This seems still happening: https://ci.chromium.org/ui/p/flutter/builders/staging/Mac_ios%20flutter_gallery_ios_sksl_warmup__transition_perf/1557/overview (03/22)

Before running any test, device_doctor will check both [`keychainUnlock`](https://github.com/flutter/cocoon/blob/main/device_doctor/lib/src/ios_device.dart#L58) and [`deviceProvisioningProfile`](https://github.com/flutter/cocoon/blob/ma

[2022-03-23 19:52] blasten commented on #99348
Yes, the wrapper needs to be updated.

We have a script to do this: https://github.com/flutter/flutter/blob/master/dev/tools/repackage_gradle_wrapper.sh

[2022-03-23 19:52] blasten commented on #99348
cc @GaryQian

[2022-03-23 20:19] leo-mangold opened #100651 "Image.network still throwing exception with errorBuilder but only with 'https://' in link"
## Steps to Reproduce

I have a list of links and some may point to a link that doesn't exist anymore. In that case I want my app to display not found icon.
Everything works fine with the url empty or with just anything in it except for 'https://'. If the latter occurs my debugger stops because there apparently is an unhandled exception, and then after manually continuing the expected icon is show

[2022-03-23 20:29] #72670 closed

[2022-03-23 20:29] #100620 closed

[2022-03-23 20:29] stuartmorgan commented on #45295
As noted in the README and discussions above, most things aren't supported due to platform limitations. Please file separate follow-up bugs for any specific functionality that you need, along with detailed use cases. That way we can evaluate specific features on a case-by-case basis, to see what limitations are most problematic in practice, and which could possibly have partial implementations wit

[2022-03-23 20:39] stuartmorgan commented on #100497
Assuming it's this:
https://github.com/flutter/flutter/blob/840e109e0718361f70bcb23a3980e407de10859b/dev/integration_tests/flutter_gallery/lib/demo/video_demo.dart#L370
(that's the only `VideoPlayerController` I'm finding in flutter/flutter) it seems like either some kind of network failure causing the cert validation to fail, or maybe a test machine with really old root certs?

Do we actually nee

[2022-03-23 20:44] HansMuller commented on #100618
CC @LongCatIsLooong

[2022-03-23 21:04] hfierro commented on #89683
¿Any updates on this? I'm using flutter 2.10.3 and still having the same error. I'm also using FlutterFragmentActivity

[2022-03-23 21:08] yjbanov commented on #100157
This is about to block a customer launch in a couple of weeks, so raising priority to P2.

[2022-03-23 21:08] jmagman commented on #100639
It's still signing the apps even though it's not deploying them to any devices.  Can we enable code-signing on these machines to test that it successfully works on M1?

[2022-03-23 21:12] jmagman commented on #100638
I don't see that log output in that build, which is failing with `ProcessException: Bad CPU type in executable`, is that log from another build?

[2022-03-23 21:21] jmagman commented on #100584
I think we should detect that it exited != 0 and throw with stderr and trace stdout since who knows which it uses, before trying to write

[2022-03-23 21:24] albertoOviedo commented on #100503
Hi [@danagbemava-nc](https://github.com/danagbemava-nc),

Before everything was working fine, but after updating the flutter version all the app icons stopped working.

I have created a new application because I thought it could be a code error, but the same thing happens in any app.

--

Code:

import 'package:flutter/material.dart';

import 'package:charter/user/ui/widgets/app_bar.dart';
import

[2022-03-23 21:26] jmagman commented on #100584
Wait is there some way to do this noninteractively?

[2022-03-23 21:35] goderbauer commented on #80711
Chun-Heng said the previously reverted code relanded, but it is not working properly.

[2022-03-23 21:46] goderbauer commented on #100225
/cc @chunhtai

[2022-03-23 21:54] goderbauer commented on #90807
I wonder if there's a but in RenderFittedBox's hitTest implementation that prevents the ListView from seeing the gesture events.

[2022-03-23 21:55] goderbauer commented on #90805
/cc @justinmc Is this related to the focus trap issue you were recently working on?

[2022-03-23 22:01] christopherfujino commented on #99999
These files are a part of the application. Even if they are "usually not modified by Flutter programmers" (which I am not sure is true), users need the ability to. For example, if a user wants to link a C++ source file they have authored, they would need to edit their CMakeLists.txt file.

In addition, while users are not intended to manually hand-edited by users, it IS edited by the Flutter tooli

[2022-03-23 22:02] keyonghan commented on #97119
Bot is online.

[2022-03-23 22:02] #97119 closed

[2022-03-23 22:03] christopherfujino commented on #99999
Thank you for contributing; however I am closing this proposal as something we will not be able to implement.

[2022-03-23 22:03] #99999 closed

[2022-03-23 22:04] christopherfujino commented on #100584
you mean like writing to a file first?

[2022-03-23 22:13] goderbauer commented on #88702
Closing this as per previous comment.

[2022-03-23 22:13] #88702 closed

[2022-03-23 22:15] #88642 closed

[2022-03-23 22:22] christopherfujino commented on #100584
per `man x509`, it looks like `openssl x509 -subject -in /path/to/file` will work

[2022-03-23 22:23] LongCatIsLooong commented on #100618
the old issue was fixed and cherrypicked to 2.10.3. I can confirm "email" works fine on 2.10.3 Was "creditCardNumber" or "address" working at some point? Depending on the autofill service you're using, you may need to set those up in the system "autofill service" settings and provide relevant information to the autofill service for those to work.

[2022-03-23 22:31] zanderso commented on #100628
The rolls are moving again.

[2022-03-23 22:31] #100628 closed

[2022-03-23 22:36] keyonghan opened #100654 "Bots should be quarantined when health check fails"
Health check in chromium bots fails to quarantine the bot when process exception happens. This causes healthcheck silently fail.

One example: on M1 bots, `idevice_id`, `ideviceinstaller` are installed under `/opt/homebrew/bin` by default, and are not visible in default path. This will cause health check failing with error
[code]

In addition to certain exceptions, we all need to handle general ex

[2022-03-23 22:38] keyonghan commented on #99490
Two issues:

- The staging bots (where flakes happened) are not recognizing `idevice_id` (which is installed in /opt/homebrew/bin by default on M1 bots), but the config didn't catch the process exception. This may fail to catch keychain or provision issue. Created https://github.com/flutter/flutter/issues/100654 to track.
- The prod bots are all with intel, and the health check is working correctl

[2022-03-23 22:42] keyonghan commented on #97312
This is still happening: https://ci.chromium.org/ui/p/flutter/builders/prod/Linux%20web_long_running_tests_1_5/3399/overview

[2022-03-23 22:44] chipweinberger opened #100655 "[GestureDetector] [2.10.3] Gesture Detector does not correctly handle list scrolling + zooming"
See Videos.

**Expectation:** On android and iOS, users can scroll and zoom without needing to explicitly end the scroll gesture.

**Current Behavior**: In Flutter, scroll and zoom are treated independently and users must explicitly lift up their fingers before beginning a zoom gesture.  This goes against smartphone UX expectations.

In practice, this also makes zooming harder to perform because s

[2022-03-23 22:58] voolf00 opened #100656 "Flutter web. Problem only IOS"
**ios problem in web.**

When you re-pass from Telegram following the link to the browser, all widgets are displayed incorrectly in both safari and chrome (build html)

1. I open a link from Telegram to the web (the browser opens correctly)
2. After I return to Telegram
3. I open again (In 90% of cases the page breaks)

link: https://www.youtube.com/watch?v=ctdjWl8hlWY

If the browser closes all p

[2022-03-23 22:59] chipweinberger commented on #100655
The fix for this issue would likely also fix https://github.com/flutter/flutter/issues/99046

Writing these bug reports with reproducible code and videos takes time, so I really hope this bug doesn't just get automatically closed again.

It should be incontrovertible that that GestureDetector is not handling scale correctly. Neither iOS nor Android has these zooming limitations.

[2022-03-23 23:05] gmcdowell commented on #99351
Hi @jmagman

Both were. It depended on whether Rosetta was in play or not, hence the Device entry duplication.

Ah I don't recall sorry.

I'll give this a shot too and advise

[2022-03-23 23:08] chipweinberger commented on #100655
This may also repro without using a ListView.

Perhaps can repro using only `GestureDetector` + `onScaleUpdate`, and `onVerticalDragUpdate`.

[2022-03-23 23:11] keyonghan commented on #100638
Oops, copies the wrong link. Updated.

[2022-03-23 23:26] chipweinberger commented on #100655
Yes also repros with this code. No List necessary. Just `onScaleUpdate` & `onVerticalDragUpdate`. You cannot scale and drag at the same time.

<details>
  <summary>Code</summary>

[code]

</details>

[2022-03-23 23:32] M97Chahboun commented on #99608
I will work on it.

[2022-03-23 23:41] flar opened #100658 "Create a DisplayList Vertices object"
DisplayList currently depends on SkVertices objects to pass around vertex lists. These objects are not inspectable so they represent a loss of information that presents an obstacle for doing certain optimizations other than handing them to Skia for rendering. We should encapsulate the information into our own DlVertices object that is inspectable.

[2022-03-23 23:43] ditman commented on #94630
The PR is here: https://github.com/flutter/plugins/pull/5068

[2022-03-23 23:53] roblframpton commented on #100292
I found a solution to this.  I inspected the verbose output of `flutter build` and found that the `--dart-define` flags get base64 encoded, comma-separated, and passed to a Gradle via a flag called `-Pdart-defines`. (**Note** the s at the end of this flag, since it contains _all_ the defines).

So for example, the following dart defines passed to Flutter:

[code]

turn into the following flag pass

[2022-03-24 00:05] jmagman commented on #100584
I guess I don't see an easier way to do it...

btw adding `-noout` will make that output slightly nicer when it does work. Although stdout isn't printed so it doesn't matter...

[2022-03-24 00:10] jmagman commented on #100638
`ignoring FlutterMacOS, building for macOS-arm64 but attempting to link with file built for macOS-x86_64`

It's pulling in the last published FlutterMacOS pod version 2.10.2 which doesn't support ARM yet.  We should skip moving `plugin_lint_mac` to prod until there are arm binaries in stable...

[2022-03-24 00:13] fzyzcjy commented on #99999
@christopherfujino Hi thanks for the reply! I am talking about making it DRY, instead of completely remove those files. As a simple example, `utils` may be (partially) moved into some flutter files. The user can still freely modify/add/delete anything since they can just write down their own code.

[2022-03-24 00:17] jmagman commented on #96787
@keyonghan do you know why the bot hasn't marked this test unflaky?

[2022-03-24 00:23] keyonghan commented on #96787
Bot relies on test owners' judge re closing bugs. It auto marks test as unflaky only when the flaky bug is closed + no flake in recent runs. Closing this bug will trigger the auto deflake process if we believe the flakiness has been addressed.

[2022-03-24 00:23] zanderso commented on #98421
Build 2116 was an infra failure

Build 2120 looks like #99021, fixed by #99947. Closing as presumed fixed.

[2022-03-24 00:23] #98421 closed

[2022-03-24 00:24] christopherfujino commented on #99999
How would you partially move it? Using patch and diff? Would Flutter builds then need to apply those patches before building? There are some workflows that involve building apps without the Flutter tool; how would those native build systems know how to apply the patches?

[2022-03-24 00:25] toda-bps commented on #48225
I found a hack 😏

[code]

[2022-03-24 00:26] cedarbob opened #100659 "[Linux Desktop]Unhandled Exception: 'package:flutter/src/rendering/mouse_tracker.dart': Failed assertion: line 317 pos 18: 'event is! PointerRemovedEvent': is not true."
**Expected results:**

I wrote a simple desktop app to exhibit flutter assertion failures in mouse_tracker.dart.  These failures occur at startup of the app - not always, but on a high percentage of runs.

**Actual results:**
Sometimes starts with assertion failures, sometimes not.

The example uses the Google `window_size` plugin to constrain the app window size, then runs a trivial app consistin

[2022-03-24 00:26] jmagman commented on #96401
Stuck waiting for the observatory (not bad state).
[code]
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket/8819004023745891249/+/u/run_new_gallery_ios__transition_perf/test_stdout

[2022-03-24 00:27] fzyzcjy commented on #99999
Firstly, without considering compatibility with current 2.10, it may not be hard: The most naive method, as an example, may be just remove `utils.h` and `utils.cc`, and move them into `flutter/flutter.h` (I know that is not good, just an example). Then as long as users can include `flutter.h` (they should - otherwise program cannot compile), the utils are there.

Similarly, CMakeLists.txt can incl

[2022-03-24 00:27] jmagman commented on #96787
Thanks for the explainer.  I'm going to manually mark as unflaky then since there's still some investigation happening, but the test is no longer flaking.

[2022-03-24 00:31] b3nni97 commented on #98115
@luckysmg Have you found a solution for this?

[2022-03-24 00:34] laurentbernardin opened #100662 "web: create a widget that exceeds the window size"
I need to build a web app that is larger than the browser window. I can't dynamically generate the content because then the browser print mechanism only picks up the visible portions.
I've tried playing with OverflowBox and inheritedMediaQuery and can (almost) get this to work with the html renderer (but there are painting glitches). No luck with canvaskit: Only the content visible in the window i

[2022-03-24 01:00] sangh518 commented on #82602
same problem

[2022-03-24 01:00] WFNeIn commented on #100364
No

[2022-03-24 01:05] WFNeIn commented on #100364
Sorry, i maybe mislead you.

It built successfully in debug and profile model, but failed in release model.

The failure reason is that _ios/Flutter/Flutter.framework failed: No such file or directory (2) done flutter_

I try many ways but can not solve it.

[2022-03-24 01:19] jacaTM opened #100663 "[2.10.3] [Android] Not loading widgets properly after migration to 2.10.3"
## Steps to Reproduce

Not really sure, I've just upgraded to Flutter version 2.10.3, which asked for the upgrade on the AndroidManifest.
The only thing I did was updating from **android:name="io.flutter.app.FlutterApplication"** to **android:name="${applicationName}"** and my MainActivity to only
`import io.flutter.embedding.android.FlutterActivity;`
`public class MainActivity extends FlutterActi

[2022-03-24 01:23] zanderso commented on #98419
After discussion with several different folks this week, I think the conclusion is that the only way to track this down is for an iOS expert on the Engine team to physically go to the lab with @keyonghan and attach with a debugger when the hang happens.

@chinmaygarde would you be able to do that sometime during the week of April 4th? @keyonghan will you be around then?

[2022-03-24 01:30] zanderso commented on #93871
@jwinarske Got it. https://github.com/flutter/engine/pull/32187 is queued up to go out with 2.10.4, which I believe will happen this week.

[2022-03-24 01:46] zanderso commented on #100645
1734 was a codesigning issue

1748 was a codesigning issue

1783 was https://github.com/dart-lang/sdk/issues/48534 and is fixed

1799 was a hang waiting for the observatory url. Probably similar to https://github.com/flutter/flutter/issues/95582

1808 was a codesigning issue

@keyonghan is this a new codesigning issue, or has it been addressed already? 1808 was from the evening of 3/21.

[2022-03-24 02:00] Thangtn93 commented on #57451
The issue is reproducible on the latest camera: ^0.9.4+16 in release and debugs modes on Android .
Please check help me!

[2022-03-24 02:12] zanderso commented on #98999
This has not flaked in nearly a month. Presuming fixed.

[2022-03-24 02:12] #98999 closed

[2022-03-24 02:17] zanderso commented on #99855
All flakes were https://github.com/dart-lang/sdk/issues/48534, which is fixed. Closing.

[2022-03-24 02:17] #99855 closed

[2022-03-24 02:32] domtom1126 commented on #82602
I have had this problem for a couple of months on the simulator but now its on TestFlight and it works fine on all devices the app has been used on. However, when I was using the simulator today on `image_picker: ^0.8.4+10` it gave me an error after closing the gallery. I have never gotten an error before, usually it would just close out without error so thats why I'm posting here:
`StateError (Ba

[2022-03-24 02:35] talmr-k commented on #60695
How can I use @matthiasng solution in my own project? Do I just fork the plugins repo and update the maps code with their changes?

[2022-03-24 02:46] dariuspo commented on #60695
@talmr-k

if you don't mind you can use my repo
[code]

 you can fork it or use it directly.
 then in dart code can use this:

 `onPoiClick: (PointOfInterest poi) {
                getPlaceDetails(poi.placeId);
              },`

[2022-03-24 02:47] zanderso commented on #96401
Did the way that retries happen change? Is this retry coming from flutter_tool or from the devicelab scripts?

[code]

[2022-03-24 02:52] talmr-k commented on #60695
@dariuspo Thank you!

[2022-03-24 02:52] zanderso commented on #99516
We really need to re-organize the alerts, but in the meantime, I'd suggest adding these to `Time-based alerts` at https://flutter-flutter-perf.skia.org/a/

[2022-03-24 02:53] #100663 closed

[2022-03-24 03:10] apieceofcode1801 commented on #100351
Thanks, @maheshmnj.
I confirm this issue is only happening on iOS only and still working on android.

[2022-03-24 03:52] jwinarske commented on #93871
@zanderso great, thank you.

[2022-03-24 03:56] muhrahmatullah commented on #100450
updated all the dependencies but the issue persist

[2022-03-24 04:27] zanderso commented on #100497
I think it isn't unreasonable to have in a demo app, but we should remove the network access from CI until it can be refactored https://github.com/flutter/flutter/pull/100666.

[2022-03-24 04:47] apieceofcode1801 commented on #58854
@diegothucao
I'm not familiar with android programming, so it may take time to complete with native code approaching.
I'm implementing another approach that processes the qualities from HLS m3u8 file then loads them to the player. Users can choose from the quality list. This approach was referred from [yoyo_player package.](https://pub.dev/packages/yoyo_player)
You can check [this repo](https://gi

[2022-03-24 04:58] darshankawar commented on #100364
@WFNeIn
I noticed that you are on older version of framework, 2.5.0. Please upgrade to latest stable (2.10.3) and try again to see if it helps.

[2022-03-24 05:04] darshankawar commented on #100450
@muhrahmatullah
As I mentioned earlier, since you updated the sdk version from non-null safety to null-safety, ie,

[code]

And the plugins / packages you are using may also need to be migrated or support null safety and hence you might be seeing these conflicts or errors. You can run `flutter pub outdated --mode=null-safety` to check which packages are outdated or need to be migrated to null-safe

[2022-03-24 05:04] #100450 closed

[2022-03-24 05:20] xster opened #100669 "Inlining a SurfaceView in a PlatformView in a Flutter hierarchy should have an automated test"
We need an integration test to cover cases like b/226467394

[2022-03-24 05:21] fzyzcjy opened #100670 "`FollowerLayer` (`CompositedTransformFollower`) has null pointer error when using with some kinds of `Layer`s"
## Steps to Reproduce

I have found the cause and will PR.

Run the minimal reproducible sample on flutter beta.

**Expected results:**
no error

**Actual results:**
has error

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

flutter stable

[code]

flutter beta

[code]

[code]

[code]

</details>

[2022-03-24 05:23] shady-ti opened #100671 "Incorrect Rendering on Windows"
## Steps to Reproduce

1. Execute `flutter run` on the code sample on windows and web

**Expected results:**
The same output

**Actual results:**
The line is only rendered in web and not on windows

| Windows | Web (Edge) |
| --- | --- |
| <img width="314" alt="image" src="https://user-images.githubusercontent.com/91265151/159847375-305923d3-b4fa-4b2f-9b40-f55affce213a.png"> | <img width="313" alt

[2022-03-24 05:39] maheshmnj commented on #100445
@IonutParau In order to investigate this issue further, we would need a minimal and complete code sample along with the reproducible steps.

[2022-03-24 05:43] darshankawar commented on #100613
Thanks for the report. I do see same behavior upon creating a new project and then following steps to replicate as mentioned.

On latest stable and master, I get below error after running `flutter build aar`:

[code]

While on stable 2.8.1, the command runs properly and generates aar as below:

[code]

<details>
<summary> stable, master flutter doctor -v </summary>

[code]

</details>

Labeling it

[2022-03-24 05:43] darshankawar commented on #100613
/cc @blasten

[2022-03-24 05:57] talmr-k commented on #60695
@dariuspo Is there anything else I need to do? I added the `onPoiClick`, but tapping on a poi does not do anything.

Here's my GoogleMap, sorry its part of a reusable component but hopefully at a glance it might show what's wrong:

[code]

[2022-03-24 06:07] ChawalitL opened #100673 "[tool_crash] FileSystemException: Cannot open file, OS Error: The system cannot find the file specified., errno = 2"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot open file, OS Error: The system cannot find the file specified.
, errno = 2
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2022-03-24 06:08] maheshmnj commented on #100617
Hi @Badis14, Thanks for filing the issue. Does your app run fine on the reproducible device/simulator (Ipad IOS 15.4)?
Please also share the output of `flutter doctor -v` of the device where the app was compiled.

[2022-03-24 06:24] maheshmnj commented on #100385
Thanks for the info @AlanGriffiths, I tried multiple taps on the `Textfield` But for some reason, the keyboard doesn't show up. I tried the purple-task app and the keyboard shows up with two taps (Not sure if that is a native app or flutter app)

https://user-images.githubusercontent.com/31410839/159854001-2c9eebf0-13da-497d-9bbb-c4d0d87b2f4f.mp4

Please share your output of `flutter doctor -v`.

[2022-03-24 06:32] danagbemava-nc commented on #100503
Hi @albertoOviedo, I tried out your code sample, and the icons rendered just fine for me. See screenshots below. I had to make some small adjustments so I could get the code running but those adjustments don't have any impact on how the icons are rendered.

What version of flutter did you upgrade from?

<details>
<summary>screenshots</summary>

| ios | android |
| -- | -- |
| <img src="https://use

[2022-03-24 06:33] maheshmnj commented on #100616
Hi @Ritsz123, Thanks for filing the issue. Please share some sample output of native and flutter cameras for a better visual understanding of the issue along with the output of `flutter doctor -v`.

[2022-03-24 06:42] darshankawar commented on #100615
This behavior occurs using html rendering.

1. With canvaskit (as expected)

<img width="407" alt="Screenshot 2022-03-24 at 12 10 14 PM" src="https://user-images.githubusercontent.com/67046386/159857604-409a697c-c1c2-44b7-92c1-8436f713a9a6.png">

2. With html:

<img width="394" alt="Screenshot 2022-03-24 at 12 11 26 PM" src="https://user-images.githubusercontent.com/67046386/159857667-bba9e755-d21

[2022-03-24 06:43] kevin-zhaotk opened #100674 "how to embed flutter into an existed SwiftUI project"
I already have a swiftUI project, how can i embed my flutter module into this SwiftUI project?

[2022-03-24 06:45] WFNeIn commented on #100364
I try it with 2.10.3, but it doesn‘t help. it failed with the same reason.

[2022-03-24 06:48] synchronisator commented on #100615
@darshankawar In your example you made both in Flutter web, and (as expected) the height of the Linebreak-Box is the same, as the height of a textbox (16 -> 16 and 42 -> 42). That its too high in html-render-mode is another issue (https://github.com/flutter/flutter/issues/100566)
The main problem of this ticket appers on linux and android.
On these Plattform the height differs. like in my second s

[2022-03-24 06:53] darshankawar commented on #100621
@gerkol
I see that you have used `snap` to install flutter. Can you try installing flutter sdk manually and see if it helps ?

[2022-03-24 07:02] kaundi commented on #100142
I dont know from where you got this solution or how - but it did work! Thank you!

[2022-03-24 07:03] hberkayozdemir commented on #29021
Come on guys we need this.

[2022-03-24 07:06] darshankawar commented on #100626
It doesn't seem to have properly / completely generated the exception.

A similar error was fixed as part of this PR https://github.com/flutter/flutter/pull/79898, but it was related to localization.

@MassiRamdani Does it throw the error everytime consistently you run `flutter run` ? If so, can you run `flutter run -v` and share the verbose log here ?

[2022-03-24 07:06] danagbemava-nc commented on #100138
Hi @mhbdev, you need to call `dispose` on the `CameraController` to get rid of the indicator. See the video below. The code sample I used is attached below as well. Kindly try it out and let me know if it works for you.

<details>
<summary>video</summary>

https://user-images.githubusercontent.com/88313112/159861067-5c3f6861-d723-44cb-990c-6ffaff302509.mov
</details>

<details>
<summary>code sampl

[2022-03-24 07:10] #99396 closed

[2022-03-24 07:17] Patrick386 opened #100675 "Support: standard text editor widget"
To extend the web and desktop, it must support the Flutter standard text editor widget.
Some solutions posted on Pub.dev are not good alternatives.
Let me know if you have any plans

.

[2022-03-24 07:27] maheshmnj commented on #100618
Hi @aya2453, Thanks for filing the issue. I can confirm that name, email, Password works. on `stable 2.10.3`.
But `postalAddress` (since `AutofillHints.address` does not exist)  and `creditCardNumber` doesn't work (I have saved these details, but the autoFill doesn't show up).

The issue for `creditCardNumber` is being tracked here https://github.com/flutter/flutter/issues/98762 please follow up t

[2022-03-24 07:27] #100618 closed

[2022-03-24 07:28] maheshmnj commented on #98762
Updating the issue since this is reproducible on Android too.

https://user-images.githubusercontent.com/31410839/159864161-174200dc-a9b9-4efa-b1e6-b9c55f084e16.mov

<details>
<summary>code sample</summary>

[code]
</details>

<details>
<summary>flutter doctor -v (mac)</summary>

[code]

[code]
</details>

[2022-03-24 07:37] nikhil19patil opened #100676 "App is not getting built on iOS for plugin video_player. Following is the error log"
Launching lib/main.dart on iPhone 13 in debug mode...
Running pod install...
Running Xcode build...
Xcode build done.                                           81.2s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

<details>
<summary> Xcode's output </summary>

[code]

</details>

[2022-03-24 07:46] danagbemava-nc commented on #100611
Hi @Z6P0, thanks for filing the issue.

I am curious, what are you trying to achieve, perhaps there's a better way to go about it.

[2022-03-24 07:50] danagbemava-nc commented on #100635
Duplicate of #99973

[2022-03-24 07:50] #100635 closed

[2022-03-24 07:51] Ritsz123 commented on #100616
Output of `flutter doctor -v`

[√] Flutter (Channel stable, 2.10.2, on Microsoft Windows [Version 10.0.19044.1526], locale en-IN)
    • Flutter version 2.10.2 at C:\src\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 097d3313d8 (5 weeks ago), 2022-02-18 19:33:08 -0600
    • Engine revision a83ed0e5e3
    • Dart version 2.16.1
    • DevTools version

[2022-03-24 07:52] darshankawar commented on #100633
Thanks for the report. I was able to replicate this on macOS desktop:

<img width="424" alt="Screenshot 2022-03-24 at 1 03 47 PM" src="https://user-images.githubusercontent.com/67046386/159866442-8e0825ac-4b0d-4bd8-bda3-1b605f70e4bb.png">

Notice that the text `Associate Professor` which is fairly long does get aligned properly when we resize the window, but the same doesn't occur with header text

[2022-03-24 08:13] #99451 closed

[2022-03-24 08:13] wangying3426 commented on #72375
Can we add the [debugCreator](https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/rendering/layer.dart#L557) information to the layer timeline trace?  But it just works on debug mode.

[2022-03-24 08:16] maheshmnj commented on #100623
Hi @DetachHead, Thanks for filing the issue. I can reproduce the issue on stable channel. But on the master channel it seems like this is fixed.

<details>
<summary>logs(stable)</summary>

[code]
</details>

<details>
<summary>logs(master)</summary>

[code]
</details>

<details>
<summary>flutter doctor -v (mac)</summary>

[code]

[code]
</details>

The fix should land on stable in the future stabl

[2022-03-24 08:16] #100623 closed

[2022-03-24 08:17] y1row opened #100677 "[webview_flutter] Scrollbar appears to the left in WebView"
## Steps to Reproduce

"flutter_facebook_auth" and "webview_flutter" will cause the WebView scrollbar to appear on the left. It is correct that it goes to the right.

![image](https://user-images.githubusercontent.com/1229677/159872197-dca17613-3554-4cdf-b913-e1482793ccc0.png)

[code]

**Expected results:**
Scrollbar appears to the right in WebView.

**Actual results:**
Scrollbar appears to the le

[2022-03-24 08:33] TahaTesser commented on #100633
This is due to fix column width, duplicate of https://github.com/flutter/flutter/issues/51799

[2022-03-24 08:36] supto51 opened #100678 "[Fonts] Icon request: diamond"

[2022-03-24 08:37] maheshmnj commented on #100651
Hi @leo-mangold, Thanks for filing the issue.

There is a similar issue describing this case https://github.com/flutter/flutter/issues/69125, Please follow up there for further updates, Closing this issue as a duplicate. If you disagree feel free to write in the comments and we will reopen it.

Thank you.

[2022-03-24 08:37] #100651 closed

[2022-03-24 08:40] supto51 commented on #100678
This material Icon not available for flutter. Please add this.

[2022-03-24 09:00] darshankawar commented on #100655
@chipweinberger
Using the code sample you provided in above comment, if you wrap `GestureDetector` with `InteractiveViewer`, you get the expected behavior, ie, scroll and zoom as shown below:

https://user-images.githubusercontent.com/67046386/159879884-0d2ac317-e92b-4286-8558-b21026cbe0e5.MP4

https://api.flutter.dev/flutter/widgets/InteractiveViewer-class.html

Please go through this link and se

[2022-03-24 09:03] TahaTesser commented on #100204
Closing as https://github.com/flutter/flutter/pull/100372 has landed

[2022-03-24 09:03] #100204 closed

[2022-03-24 09:09] albertus73 commented on #99254
😭👍

On Wed, Mar 23, 2022, 4:26 AM jeiea ***@***.***> wrote:

[2022-03-24 09:10] maheshmnj commented on #100619
Hi @aoatmon, Thanks for filing the issue. I am able to reproduce the issue on stable and the master channel. With `HitTestBehavior.translucent` The gesture is not propagated below the PageView.

<details>
<summary>code sample</summary>

[code]
</details>

<details>
<summary>flutter doctor -v (mac)</summary>

[code]

[code]
</details>

[2022-03-24 09:12] danagbemava-nc commented on #100656
Hi @voolf00, can you provide the output of `flutter doctor -v` and a [minimal complete reproducible code sample](https://stackoverflow.com/help/minimal-reproducible-example)?

This issue seems oddly similar to #92655 but at the time it was only occurring on chrome.

Thank you

[2022-03-24 09:14] #99468 closed

[2022-03-24 09:21] lukaexevio commented on #100441
Implementation is correct, I'm using it as intended. This is a minimal example and it shouldn't crash like this, it really gives Flutter a sense of instability. You didn't test and reproduce this issue? I thought Flutter team handles issues like this and communicates with Dart team if it affects your framework.

[2022-03-24 09:21] danagbemava-nc commented on #100678
Hi @supto51, this icon is already available in stable 2.10.3, it can be found under the name `diamond`. The material site just hasn't been updated yet. Closing as this icon already exists. Thank you.

<img src="https://user-images.githubusercontent.com/88313112/159883695-026c90e8-2971-4a11-8aed-760768b85bd2.png" width="250" />

[2022-03-24 09:21] #100678 closed

[2022-03-24 09:23] Keetz opened #100679 "[webview_flutter] Cannot click on elements above a webview on web"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. Try and click the button "Press me!" in the center of the screen

**Expected results:**
It is expected for the button to be clicked, and "Pressed!" to be printed in the debug console.

**Actual results:**
Nothing happens. The button isn't interact-able at all, it is like the webview steals all events.

## Sidenotes
This issue is

[2022-03-24 09:27] maheshmnj commented on #100674
Hi @kevin-zhaotk, Please refer the IOS section of the official docs https://docs.flutter.dev/development/add-to-app.

Closing as this is neither a bug nor a feature request.

[2022-03-24 09:27] TahaTesser commented on #89127
This is not just `TextButtonTheme` but any theme updates causes lot of rebuilds.
<details>
<summary>minimal code sample</summary>

[code]

</details>

### Results
[code]

[2022-03-24 09:31] darshankawar commented on #100662
Can you elaborate by providing a use case with code sample and what exactly are you trying to achieve ?

[2022-03-24 09:32] maheshmnj commented on #100675
Hi @Patrick386, Adding a TextEditor widget to the framework is not possible because there are already few community-driven solutions such as https://pub.dev/packages/super_editor. Also, The flutter provides the freedom to build a texteditor on top of the existing apis.
Closing the issue as invalid, Incase you disagree feel free to write in the comments and we will roepen it.

Thank you.

[2022-03-24 09:32] #100675 closed

[2022-03-24 09:37] danagbemava-nc commented on #100673
Duplicate of #65242

[2022-03-24 09:37] #100673 closed

[2022-03-24 09:38] pulpet112 commented on #91841
Right, it works on Android after adding `package:<module name>/main.dart` as a `dartEntrypointLibrary` parameter.
But what about iOS? How the workaround should look like on this platform?

[2022-03-24 09:45] darshankawar commented on #100670
This seems to be occurring on latest master and stable too.

<details>
<summary> console error log </summary>

[code]

</details>

<details>
<summary> stable, master flutter doctor -v </summary>

[code]

</details>

[2022-03-24 09:46] fzyzcjy commented on #100670
@darshankawar Hi I have made the PR and new tests are added and passed

[2022-03-24 09:51] TahaTesser commented on #90254
Looks this is fixed, can't see dots when testing the sample on master, closing.

[2022-03-24 09:51] #90254 closed

[2022-03-24 09:56] ChawalitL commented on #100673
i remove flutter and setup agian than set path

now it work

thank you guy

[2022-03-24 10:08] darshankawar commented on #100676
@nikhil19patil
From the error log, you seem to be hitting linker error as below:

[code]

Can you try by removing the framework from the linker in the Build settings from xcode ?

[2022-03-24 10:11] Ritsz123 commented on #100616
@maheshmnj

with `startImageStream(() {})`
![stream](https://user-images.githubusercontent.com/48131636/159892157-69b677ba-3368-4921-a0c0-fd697edfac41.jpeg)

without stream
![nostream](https://user-images.githubusercontent.com/48131636/159892335-be1ba21a-7ec7-4a66-ad0d-68db69f19b25.jpeg)

[2022-03-24 10:16] danagbemava-nc commented on #100679
Hi @Keetz, you should be able to make the button respond to clicks by wrapping it with a `PointerInterceptor` from the `pointer_interceptor` package. Kindly try the sample below and let me know if it works for you.

<details>
<summary>sample</summary>

[code]
</details>

[2022-03-24 10:22] darshankawar commented on #100677
@y1row
This behavior seems to be occuring only when you add `flutter_facebook_auth` plugin which is third party.
There was a similar reported issue https://github.com/flutter/flutter/issues/47339 which had this comment: https://github.com/flutter/flutter/issues/47339#issuecomment-574079776

Can you remove the third party plugin and just use `webview_flutter` and see if it still replicates ?
If not

[2022-03-24 10:25] maheshmnj commented on #100671
Hi @shady-ti, thanks for filing the issue. I am able to reproduce the issue on stable and the master channel. The rendering is inconsistent across web and Desktop applications.

![image](https://user-images.githubusercontent.com/31410839/159895501-fef98659-e22c-4dc7-8435-c98fbf4f6e7f.png)

<details>
<summary>flutter doctor -v (Linux)</summary>

[code]
[code]
</details>

[2022-03-24 10:32] hansihe opened #100680 "Support setting `embedderId` for `PointerEvent`s from the embedder API"
Pointer events already contain a `embedderId` field on the dart side. This field is used by the Android embedder to tie the platform source events to a specific `PointerEvent`s on the framework-side.

In the embedder API, this is not currently exposed, and is hardcoded to 0.

## Proposal

Introduce a new `embedder_id` field in the `FlutterPointerEvent` in the embedder API which can be optionally u

[2022-03-24 10:42] jbsolutions2008 opened #100681 "signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)"
Thank you for providing a wonderful and amazing SDK. We have facing an issue with our release application. We have got a crash log from the play store.

Can you please guide how to resolve these issues?

**# Error Log :**
pid: 0, tid: 0 >>> package name <<<

backtrace:
  #00  pc 0000000000767dd0  /data/app/~~O3DNr9J3gFk_y-Vi0SyaOQ==/package name-ppthErZ5ueEPyrc_gqqRjQ==/split_config.arm64_v8a.apk!

[2022-03-24 10:48] darshankawar commented on #100680
@hansihe
Can you check [this](https://github.com/flutter/flutter/pull/60930) old merged PR and see if its similar to your use case ?

[2022-03-24 10:54] hansihe commented on #100680
@darshankawar That seems to be the PR that initially added the `embedderId` field to the `PointerEvent` on the Dart side. As of current master, the embedder API provides no way to set the field, and simply hardcodes it to 0

[2022-03-24 10:54] zolkiBy opened #100682 "[go_router] When call `push` route behaves as was called command `go` (when called sub-route `go` command)"
Versions:
Flutter 2.10.3 • channel stable
Framework • revision 7e9793dee1 • 2022-03-02 11:23:12 -0600
Engine • revision bd539267b4
Tools • Dart 2.16.1 • DevTools 2.9.2
go_router: 3.0.5

I have following routes structure (signIn route is one of the root `GoRouter` routes ):
[code]
Steps to reproduce
1. Call `context.pushNamed(Routes.signInName)` to push `SignInScreen` to existed stack of pages from

[2022-03-24 10:56] darshankawar commented on #100681
@jbsolutions2008
You are on older version of Flutter, 2.2.0. Even if this is a genuine crash, the fix won't be made on that version. You'll need to upgrade to latest stable that should already have fixed this crash. See this similar crash that was fixed recently: https://github.com/flutter/flutter/issues/100122

I am closing this for now, as this should already be fixed on latest versions.

[2022-03-24 10:56] #100681 closed

[2022-03-24 11:00] maheshmnj commented on #100624
Hi @naamapps, Thanks for filing the issue. I am quite not sure I understood the issue, When I configure the deeplink I am able to launch the app.
[code]

Could you please clarify what exactly you meant by this?

[2022-03-24 11:00] gkovac42 opened #100683 "Flutter app triggering anti-virus checkup on Windows"
The Windows .exe file of my Flutter developed application triggers an anti-virus checkup by Avast when it's started. The file comes up clean, but it's not a very user-friendly experience, since I'm planning a public release.

Perhaps I'm barking at the wrong tree, and it's entierly Avast's fault... I'm not a windows developer so I'm kinda in the dark here. What could be the cause and is there anyt

[2022-03-24 11:01] jbsolutions2008 commented on #100681
Thanks, @darshankawar!

[2022-03-24 11:12] naamapps commented on #100624
Hey sorry for the confusion.
What I mean is that the blabla is ignored so the search is used.
But if only search is used, then the launched route will empty.

It is launching the app on both cases but the route is not correct.

somescheme://search - launches the app but the 'search' is ignored, so the search route is not the first route.

somescheme://blabla/search - launches the app and directs t

[2022-03-24 11:25] darshankawar commented on #100680
Thanks for the update.

[2022-03-24 11:25] Keetz commented on #100679
@danagbemava-nc thanks for the quick reply!

Maybe I made a too simple test project. Your solution works fine for the button indeed, that would be fine, but I don't think it is feasible for pretty standard Flutter elements like an AppBar where the body extends behind it, or a Drawer showing above the main body.

The AppBar is solvable with the PointerInterceptor I g uess, it can be placed around t

[2022-03-24 11:26] hansihe commented on #100680
I also have submitted a PR for this: https://github.com/flutter/engine/pull/32235

Still in the draft stage because I am asking around for ways I could write tests for it.

[2022-03-24 11:27] danagbemava-nc commented on #100611
Issue is reproducible on `stable` and `master` using the code sample provided.

On `android`, there is a crash but on `iOS`, there isn't a crash, however, the screen is just blank, it seems like the result is not being returned.

### Steps to reproduce
1. Run the code sample, you should see `42` on the screen
2. Hot reload the app
3. On android, an exception should be thrown.
4. On ios, the screen

[2022-03-24 11:37] danagbemava-nc commented on #100679
Hi @Keetz, the above issues you pointed out are known and they aren't actually due to the `webview` but rather the underlying `IFrameElement` that is used to handle the iframe on web. See https://github.com/flutter/flutter/issues/81081 and https://github.com/flutter/flutter/issues/98507 for more information. The `pointer_interceptor` is a workaround for the moment until the issues linked are solve

[2022-03-24 11:38] darshankawar commented on #100615
Thanks for the feedback. I updated original findings to confirm by running it on mobile (iOS).

[2022-03-24 11:39] sahq-azhar commented on #99268
I resolved this by checking the dependencies on pubspec.yaml file.

In my case flutter_dtmf was creating this issue.

[2022-03-24 11:46] darshankawar commented on #100364
Try [this](https://github.com/flutter/flutter/issues/57554#issuecomment-631627015) solution and see if it works.

[2022-03-24 11:47] mraleph commented on #100441
could you take a look @alexmarkov, given that you are submerged in this area of the code anyway?

[2022-03-24 11:48] M97Chahboun commented on #94397
I want work on it if @fellow7000 not starting

[2022-03-24 11:50] Keetz commented on #100679
@danagbemava-nc ah yes I see! I was looking for issues related to webview, those issues seems to be what I was looking for. Thanks again for the quick replies! I will close this issue and upvote and follow those you linked.

[2022-03-24 11:50] #100679 closed

[2022-03-24 11:54] maheshmnj commented on #100659
Hi @cedarbob, thanks for filing the issue I was able to reproduce the issue. on the latest stable and the master channel. It looks like this happens if the pointer loses the focus from the window immediately on launch

### Reproducible steps

This issue doesn't seem related to the `window_size` plugin, To reproduce the issue the cursor must be positioned such that when the app loads the cursor foc

[2022-03-24 12:04] maheshmnj commented on #100423
Thanks for the update, The reason I pointed you to that issue was, It tracks the documentation required to configure the flutter web app on different servers.

[2022-03-24 12:18] maheshmnj commented on #100683
Hi @gkovac42, Thanks for filing the issue. Does this happen with a newly created flutter app from `stable 2.10.3`?
Also, does Avast provide any additional info about what it finds malicious about the app?  Also, I see that there is a similar issue being tracked for this case https://github.com/flutter/flutter/issues/95167

[2022-03-24 12:24] danagbemava-nc commented on #99268
Hi @pvsvamsi, kindly file a new issue and provide all the relevant information to reproduce the issue.

@sahq-azhar given that you have resolved this issue on your own, I'm going to close this issue as solved.

Thank you

[2022-03-24 12:24] #99268 closed

[2022-03-24 12:25] cdprete commented on #100423
I configured in the past frontends with nginx, that's why I was (badly) surprised :)

[2022-03-24 12:41] xu-baolin commented on #100633
@TahaTesser hi, I think this is probably a frame bug here.

[2022-03-24 12:48] gkovac42 commented on #100683
Thanks for responding, @maheshmnj. Yes, it happens with the stable 2.10.3 version.

Here's what the Avast log says about it:
[code]

[2022-03-24 13:01] maheshmnj commented on #100682
Hi @zolkiBy, Thanks for filing the issue. Please share a minimal and complete code sample, Also what target platform are you having the issue on? you may also use the below code sample to create a reproducible code sample.

<details>
<summary>flutter doctor -v</summary>

[code]
</details>

[2022-03-24 13:12] macelux commented on #29021
We actually do need this! I just can't wait for expo for flutter

[2022-03-24 13:18] Ikxyz commented on #89959
Have wasted days on this, the worst part is it fails and start downloading again from beginning. this is frustrating

[2022-03-24 13:18] #99474 closed

[2022-03-24 13:26] maheshmnj commented on #99460
@Strain-solutions can you share a minimal reproducible code sample along with the reproducible steps? The above code sample doesn't seem to reproduce any error on my side.

[2022-03-24 13:37] voolf00 commented on #100656
C:\Users\voolf\YandexDisk\Flutter\dwof>flutter doctor -v
[√] Flutter (Channel stable, 2.8.1, on Microsoft Windows [Version 10.0.19042.1586], locale ru-RU)
    • Flutter version 2.8.1 at C:\Users\voolf\flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 77d935af4d (3 months ago), 2021-12-16 08:37:33 -0800
    • Engine revision 890a5fca2e
    • Dart vers

[2022-03-24 13:39] voolf00 commented on #100656
This problem was in Safari too. Wery hard only on iphone.

[2022-03-24 13:42] maheshmnj commented on #100683
Thanks for the info labeling this issue for further insights from the team.

cc: @stuartmorgan

[2022-03-24 13:44] stwessl commented on #39441
Flutter inAppview has a issue with android 12 where the keyboard will not come up, whereas this package does not have that

[2022-03-24 13:46] maheshmnj commented on #100616
Thanks for the update @Ritsz123, Please share a minimal and complete code sample to investigate this issue further.

[2022-03-24 13:48] zolkiBy commented on #100682
Hi @maheshmnj , thanks for the fast response)
<details>
  <summary>code snippet</summary>

[code]
</details>
I'm using Android device (API 31)
1. user opens profile screen
2. go to the sign in screen (using command `pushNamed`)
3. go to the forgot password screen (using command `goNamed`, forgot password route is sub-route of sign in route)
4. press back (user returns to sign in screen)
5. press b

[2022-03-24 13:50] maheshmnj commented on #100624
Thanks for the clarification @naamapps, Could you please share a minimal reproducible code sample that shows the route is incorrectly fetched?

[2022-03-24 13:58] ColdPaleLight opened #100687 "Consider adding checks to make sure the "filtering" layer's children is not empty."
Consider adding checks to make sure the "filtering" layer's children is not empty. just like what we did in opacity layer.

* ImageFilterLayer
* ColorFilterLayer
* ShaderMaskLayer

c.f.
https://github.com/flutter/engine/blob/e444009bf46b39af0b2a2aa6e7c28c668c50004c/flow/layers/opacity_layer.cc#L40

[2022-03-24 14:12] stuartmorgan commented on #100683
Questions about how Avast works and what causes it to trigger for any particular application would need to be directed to its developers.

[2022-03-24 14:12] #100683 closed

[2022-03-24 14:12] kerryahia opened #100688 "probleme update project"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2022-03-24 14:16] #100688 closed

[2022-03-24 14:19] SmitGhori03 commented on #65378
**Same problem**
error tells to
Flutter failed to write to a file at "D:\AndroidStudioProjects\tipsy\.flutter-plugins". The flutter tool cannot access the file or directory.
Please ensure that the SDK and/or project is installed in a location that has read/write permissions for the current user.

[2022-03-24 14:27] zpsean commented on #100447
@darshankawar @yjbanov, any further comments on this?

[2022-03-24 14:36] rydmike commented on #100027
@Piinks and @camsim99,

Regarding the system chrome style via the `AppBar`. In an app you don't really have much choice than using both `SystemUiOverlayStyle` via both the AppBar (as long as the app/page in question has an `AppBar` and an `AnnotatedRegion`, if you want to style both, because:

1. The `AppBar` always makes a default `SystemUiOverlayStyle`, it is uses a default one if you did not sp

[2022-03-24 14:46] DarkMikey opened #100690 "Flutter add-to-app doesn't rebuild widgets if keyboard is opened on older android versions"
## Description
If an you add a flutter fragment to an existing app, the behavior after the keyboard was opened differs between android versions (8/9 vs. 12). While Android 12 rebuilds the widgets when the keyboard is opened, Android 9 doesn't. Behavior clearly observable by watching the `print` statement of the `viewInset.bottom`: Shows different values when keyboard is opening on Android 12, whil

[2022-03-24 14:51] Ritsz123 commented on #100616
@maheshmnj `startImageStream` is called in initState after controller is initialized

### camera_page.dart

[code]

[code]

### face_detection_service_impl.dart

[code]

[code]

[code]

[code]

[2022-03-24 14:54] AlexV525 commented on #80873
For this situation, I found the difference of `android/build.gradle` between my project with other normal projects, and the diff is (mine compare to others):

[code]

After applying extra `} subprojects {`, the issues seem to be resolved since `android/app/build` will no longer be produced.

[2022-03-24 15:03] Joseph-Nathan commented on #100477
any news ?

[2022-03-24 15:27] linxuebin1990 commented on #33939
This feature is very exciting, is it possible to add a parameter to enable or not set by the developer of flutter ?
For example, a certain flutter app can be tested on several models of the top and found that there is no problem, then this function can be turned on.

[2022-03-24 15:31] aam opened #100692 "dart->engine roller fails when running dart license script"
https://autoroll.skia.org/r/dart-sdk-flutter-engine

failed pre-upload step: Error when running dart license script: Command exited with exit status 1: /data/src/third_party/dart/tools/sdks/dart-sdk/bin/dart lib/main.dart --src ../../.. --out /data/src/out/licenses --golden /data/src/flutter/ci/licenses_golden. At deps_local.go:153 git_common.go:158 git_checkout.go:74 autoroller.go:486 autoroller.

[2022-03-24 15:34] aam commented on #100692
https://dart-review.googlesource.com/c/sdk/+/238602 with the fix, thanks @jason-simmons !

[2022-03-24 15:35] darrenaustin commented on #50276
Adding this to the Scaffold API would be complicated as it would mean moving the drawer into the content area. It would be better to have the application manage this itself. In addition, as pointed out above, we now have the Navigation Rail widget which can do this automatically and keeps the layout of the content area in control of the app (it also appears to be the direction that the Material De

[2022-03-24 15:35] #50276 closed

[2022-03-24 15:38] kapilb145 opened #100694 "Google Map behaving Weird in Scrollable Widget (inside ListView.builder)"
I need to show Google Map in ListView.builder. in Ios its behaving weird. the App Header and Bottom App Bar got scrolled with White Space. GoogleMap get freeze as well.

<details>
<summary> code </summary>

[code]

</details>

![Simulator Screen Shot - iPhone 8 Plus - 2022-03-24 at 19 41 23](https://user-images.githubusercontent.com/25499719/159953783-4282d9d6-583e-4fc4-b410-90c04ed700ba.png)
![Si

[2022-03-24 15:39] shady-ti commented on #100671
From what I understand, the error is in web rendering and not other platforms. If this is correct, what is the best way to render a line in the middle of a `Container`?

[2022-03-24 15:40] IonutParau commented on #100445
Alright so, I'm using JSON files in the assets for translations currently, and the way I load them is like this:
[code]

It gets re-fetched during function call so it is looking at how the assets are build (`langDir` is a Directory for the languages folder in the assets, I couldn't find a way to iterate them automatically using normal Asset Bundle)

When I modify the JSON files to correct them, an

[2022-03-24 15:41] #100692 closed

[2022-03-24 15:43] rodrigoschaefer commented on #90114
Still facing this issue on flutter 2.10 and video_player 2.3.0

[2022-03-24 15:45] #83722 closed

[2022-03-24 15:52] AbhiAppBuddy opened #100695 "Column inside row error"
## Steps to Reproduce

1. Execute `flutter run` on the code sample
2. ...
3. ...

**Expected results:**

**Actual results:**

<details>
<summary>Code sample</summary>

[code]

</details>

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2022-03-24 16:05] stuartmorgan opened #100697 "No-response bot isn't removing the label when the reporter responds"
The primary triagers have noticed that `waiting for customer response` isn't being removed as expected when the reporter responds to the issue again. This is causing problems for triage, because the triage process filters out issues that are waiting for response.

At first I thought this was a regression from our fix to https://github.com/flutter/flutter/issues/89057, but looking at the details th

[2022-03-24 16:07] #100695 closed

[2022-03-24 16:07] stuartmorgan commented on #100697
In case we need them for debugging, examples include:
- https://github.com/flutter/flutter/issues/100683
- https://github.com/flutter/flutter/issues/100445

[2022-03-24 16:24] chenasraf opened #100698 "Hero animation causes parent PageView to partially scroll into next page."
## Steps to Reproduce

1. Place a PageView inside a Flutter app
2. Inside that PageView, somewhere in the tree, wrap some widget with `Hero` widget.
3. On another page, add another `Hero` widget with the same `tag`.
4. Make the widget from step 2 open the page from step 3 on tap (or something similar). The widgets should try to connect via Hero animations
5. Attempt to use that transition in debug

[2022-03-24 16:27] keyonghan commented on #98419
I should. Please let me know the time when finalized.

[2022-03-24 16:29] NicolasDionB commented on #94630
@ditman Looks all good to me. The `onCanPlayThrough` method has been supported on all browser for a long time now so this should work like a charm. Thanks for the PR!

[2022-03-24 16:31] TheManuz commented on #76640
I'm having the same problem, on OnePlus 3T

[FATAL:flutter[/lib/ui/semantics/semantics_update_builder.cc]()(88)] Check failed: scrollChildren == 0 || (scrollChildren > 0 && childrenInHitTestOrder.data()). Semantics update contained scrollChildren but did not have childrenInHitTestOrder

[2022-03-24 16:31] nombrekeff opened #100699 "[Web]: undo resets after updating TextField with TextEditingController"
## Steps to Reproduce

1. Execute `flutter run -d chrome` on the code sample
2. Focus on the input
3. Write "hello"
4. Press cmd+z or ctrl+z, it should undo to being empty
5. Write "hello" again
6. Now click the "insert text" button
7. Press cmd+z or ctrl+z
8. Undo doesn't do anything

**Expected results:**
I expected undo to work as if it was modified by the user. Or at least to find some documen

[2022-03-24 16:37] pulpet112 commented on #91841
@gaaclarke So you mean it works on a `master` channel, right? What about the stable channel? Currently, I'm using stable channel 2.10.3 and this workaround works on Android but not on iOS.

[2022-03-24 16:39] clocksmith commented on #20922
There is a public doc being worked on to address this issue, and others related to Ink, check it out here:

https://docs.google.com/document/d/1mtt4nIlK-9-HrjBagwTmyk3b-52kLyv-3rjnPzgcI24

[2022-03-24 16:45] dnfield opened #100700 "ColorFilter layers not working on Firefox HTML backend"
[code]

On CanvasKit, this renders the `ABC` icon in red on Chrome, Firefox, and Safari. On the HTML backend, it renders it in black on Firefox. Tested on Firefox 98.0.1 and 98.0.2 on macOS, but also reported on a Linux workstation.

Framework revision info:

[code]

root cause of dnfield/flutter_svg#687

[2022-03-24 16:45] guidezpl commented on #99559
This should be a straightforward fix, but I don't have the cycles to look at it right now. Would be happy to accept a PR from the community!

[2022-03-24 16:47] lordkkjmix opened #100701 "App crash when using emoji in replaceRange"
## Steps to Reproduce

We detect a rendering error when we try to limit string length with dart replaceRange function.

[✓] Flutter (Channel stable, 2.2.1, on macOS 11.5.2 20G95 darwin-x64, locale fr-CI)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[✓] Xcode - develop for iOS and macOS
[✓] Chrome - develop for the web
[✓] Android Studio (version 4.2)
[✓] VS Code

[2022-03-24 16:49] dnfield opened #100702 "BlendMode.dstIn causes big exception in CanvasKit, but not HTML backends"
Discovered accidentally when creating reproduction for https://github.com/flutter/flutter/issues/100700

This code (note the different blend mode):

[code]

Results in an error like this:

[code]

I have not exhaustively tested the blend modes for this, but other blend modes I did try didn't cause this issue.

[2022-03-24 16:49] dnfield commented on #100702
(this reproduces on Dartpad currently)

[2022-03-24 16:58] chunhtai commented on #86577
The last pr is abandoned due to I am busy with other high prioirty issue
https://github.com/flutter/flutter/pull/87684
will get back to it once I have time

[2022-03-24 17:01] Nass779 opened #100703 "[Fonts] Icon request: newspaper"

[2022-03-24 17:03] lordkkjmix commented on #100701
Fix

use  text.substring(0, 19 - text.length);

[2022-03-24 17:07] 9helix opened #100704 "Build failed while trying to debug generated Flutter app"
## Steps to Reproduce

1. In VS Code, press `Ctrl`+`Shift`+`P` and select Flutter: New Project
2. Follow instructions to generate Flutter app
3. Go to `lib/main.dart` and press `F5` or `Run`->`Start Debugging`

## Logs

<details>
<summary>Logs</summary>

[code]

[code]

</details>

[2022-03-24 17:26] CaseyHillers commented on #84450
I don't this was accurate. After more investigation last week, it appears that the GitHub API isn't actually writing the result, or the pubsub results come out of order.

[2022-03-24 17:32] rjmacwan95 commented on #100438
@darshankawar  the issue referred by you as #95972 and labeling this issue as duplicate does not provide the solution as changing the channel from stable to master & then master to stable, but by doing so my issue wasn't fixed it still appears to be same I have tried changing the flutter channels but it doesn't worked as mentioned in the issue as solution and labeled as solved. Please reopen this

[2022-03-24 17:33] saytoonz opened #100705 "[Fonts] Icon request: square"

[2022-03-24 17:35] christopherfujino commented on #37135
I believe this was fixed by https://github.com/flutter/flutter/pull/65929

[2022-03-24 17:35] #37135 closed

[2022-03-24 17:39] CaseyHillers opened #100706 "[scheduler] Check if a builder exists before triggering it"
It's common for release branches to have builders that were removed, but the `.ci.yaml` indicates the builds should be triggered.

To avoid this, the scheduler should verify with LUCI if a builder is available. This will prevent issues where the builder has been removed upstream.

[2022-03-24 17:39] jpangburn commented on #100633
@darshankawar Yes, it has no problem accounting for longer text in the content rows, but longer text in the header row overflows.

I'm pretty new to flutter, but I looked at the code and there doesn't appear to be anything looking at the cell widgets you send in to get length in data_table.dart.  The DataTable widget also sends both header and table rows in one bucket to the Table widget, so it's

[2022-03-24 17:46] #78351 closed

[2022-03-24 17:49] rjmacwan95 commented on #100438
Full operation of commands & generated log file is also attached

[flutter_commands_log.txt](https://github.com/flutter/flutter/files/8344128/flutter_commands_log.txt)

[2022-03-24 17:50] bernaferrari commented on #100703
?

[2022-03-24 17:50] jmagman commented on #98298
@cyanglaz now that #94747 is done can we get rid of the logic that prints the last x stderr lines from Xcode if the `xcResult` was successfully generated?

https://github.com/flutter/flutter/blob/42eb9032009b12a7671451b99a18828f3815b741/packages/flutter_tools/lib/src/ios/mac.dart#L388-L391

[2022-03-24 17:51] bernaferrari commented on #100705
?

[2022-03-24 17:54] keyonghan commented on #100634
In addition to the github issue. For https://github.com/flutter/flutter/commit/da222c641620f8ab2afad9d57a0e4a71fcc504ce, cocoon received the webhook, but somehow didn't trigger check runs. This was resolved by pushing a new commit by @gaaclarke
Could you help take a look? /cc @CaseyHillers

![Screen Shot 2022-03-24 at 10 52 31 AM](https://user-images.githubusercontent.com/54558023/159979358-d11375

[2022-03-24 18:05] jacobalanb9 opened #100708 "On-web keyboard incorrectly rendering action button"
## Issue Description
The TextField Widget has a textInputAction field that lets the native operating system know how to render the action button and handle the logic associated with that button. When running on a device / simulator, the action key is rendered correctly, but on web it is not.

On web, text fields need to have a `enterkeyhint` property as explained here: https://developer.mozilla.or

[2022-03-24 18:06] CaseyHillers opened #100709 "[scheduler] Trigger post-submit builds on branch creation"
Google3 rolls created the `flutter-x.y-candidate.z` branches. To get an early signal for releases, we should trigger builds on them on the creation (which is being added in https://github.com/flutter/flutter/issues/100491).

This gives the release owners time to notify of breakages, and let engineers in the loop quicker to get missing CPs.

Usually these branches are created off peak hours, but as

[2022-03-24 18:07] CaseyHillers commented on #100709
For additional context, we had a related request in https://github.com/flutter/flutter/issues/78351

[2022-03-24 18:11] yjbanov commented on #100566
Is the different break down of boxes preventing you from implementing specific features in the app? We haven't tried matching the behavior exactly. The HTML renderer does not use Skia, and so it will take extra effort to make them consistent (and probably never 100%). What is the use-case for this?

[2022-03-24 18:17] yjbanov commented on #100489
Removing the web label for now, as this looks like a pure framework issue.

cc @gspencergoog @dkwingsmt

[2022-03-24 18:18] synchronisator commented on #100566
Hi, thanks for your reply.
I try to build an app where you can add markings to text. Especially for narrators for audio books. You can see the app in an early stage here:
http://sprecherschmidt.de/narcom/#/
You can select text and add the marker on the right.

I can implement all I need for more with the canvaskit renderer. So it is not a big problem that it's not ok in html rendering. But yeah. T

[2022-03-24 18:20] goderbauer opened #100710 "a11y: Text Content and Functionality Scaling [web]"
Text and UI need to stay functional when different types of text spacing are configured in Browser.

Minimus to test with:
Relative to font size: line height (line spacing) to at least 1.5x, paragraph spacing 2x, letter spacing (tracking) 0.12x, and word spacing to 0.16x

Currently, Flutter does not respect these settings. The visual appearance of text in a Flutter web app did not change to respon

[2022-03-24 18:22] cbracken commented on #100184
Ah I see; in the video, you can see this both in the large `VerticalDivider` and in the short border between the children of the `ToggleButtons` containing Chinese text. Thanks for clarifying.

[2022-03-24 18:22] ditman commented on #100497
In order to reenable this demo in the web, Chromium can't play mp4 files, but it *can* play webm files. See this:

* https://github.com/flutter/plugins/commit/f3b5740f867d12a87458fb6227d867f8ab6bc60c
* Or the OG change: https://github.com/flutter/plugins/commit/cb381ced070d356799dddf24aca38ce0579d3d7b#diff-a06c0e302b7fa58d49706f881b36de105fb070c94a7af2aca9707b04530f527b

[2022-03-24 18:23] yjbanov commented on #100447
This is a duplicate of https://github.com/flutter/flutter/issues/67090

[2022-03-24 18:23] #100447 closed

[2022-03-24 18:24] mark8044 commented on #100468
I have to agree.  While the main raison d'être for Flutter was multi-platform from a single codebase, to me the reason it attracted so many people was because it was relatively easy to build complex and professional looking apps.

The navigation system seems like to a total detour, in that its complex, difficult to understand and implement with several 'gotchas' that force developers to constantly

[2022-03-24 18:30] ttorbik commented on #65995
Any update on this?

[2022-03-24 18:34] christopherfujino opened #100713 "[flutter_conductor] Check in candidate branch name to framework during releases"
Problem: given the flutter/flutter source code and a release branch (e.g. `stable` or `beta`), there is no way to determine which candidate branch (e.g. `flutter-2.8-candidate.0`) it derives from without utilitizing a search algorithm. Note that there are times when the same release candidate branch can map to multiple release channels.

Proposal: when producing a new release with the conductor, t

[2022-03-24 18:44] chunhtai commented on #100468
I would like to jump in and said. I don't think redesign the naive Router API(Nav 2) is the correct way to move forward. I can't see a reason to. It is complex and hard to use as is, yes. but that is because it can support every use cases we have encounter so far. If we were to simplify the API, we would lose some functionalities in the meantime. and we would run into the same situation with Navig

[2022-03-24 18:46] zanderso commented on #96401
@jonahwilliams Is this what you were hoping to get out of https://github.com/flutter/flutter/pull/68334?

[2022-03-24 18:46] fbcouch commented on #100522
@sy5075391 If you have a reproducible example of this, I would love to take a look at it. We have a handful of reports of a similar flickering in our production app. Unfortunately, I haven't been able to reproduce it myself, and we've only gotten like 4 reports over the course of 2 months. Still, it would be nice to figure out. Here's what it looks like for us (very similar–I added the black box j

[2022-03-24 18:47] jonahwilliams commented on #96401
IIRC at the time we were just failing to install some % of the time.

[2022-03-24 18:49] christopherfujino opened #100714 "[flutter_conductor] Conductor should stop mirroring beta releases to dev"
Starting from https://github.com/flutter/flutter/commit/481dfec00e96f01cf709ea196a92e4656ebe53ee, the conductor started mirroring all beta releases to the dev channel so that the dev channel would never be behind beta. However, as of https://github.com/flutter/flutter/pull/97028, users on dev have been auto-migrated to the beta channel when issuing `flutter upgrade`. There have been many dev relea

[2022-03-24 19:09] CaseyHillers commented on #100634
Since the PR linked was force pushed, I don't have enough data to investigate this further

[2022-03-24 19:10] wmww commented on #100385
Purple-task is a Flutter app.

Are you absolutely sure that the *first* time you focus a text field on purple-task (after launching the app) it takes only two clicks to bring up the OSK, and not three? I suppose it's possible a different GTK input method module is being used or there's a race condition, but that doesn't explain why it's different on our systems.

I've asked someone on my team to t

[2022-03-24 19:20] bradyt commented on #50276
For future GitHub comments, please consider reducing usage of pronouns "this" and "it", for those of us less familiar with the problem space.

Specific examples:

Those pronouns compound my confusion as to the precise relevance of Navigation Bar in a thread about Navigation Drawer. I don't understand the problem space enough to construct a clarifying question. I'm not asking for clarification now.

[2022-03-24 19:32] cmc5788 commented on #93871
@zanderso thank you so much!

[2022-03-24 19:42] PcolBP commented on #46589
@CarGuo you could try to enable on your server brotli to reduce that size even more.

[2022-03-24 19:57] stuartmorgan commented on #100611
@bparrishMines Is the object tracking across the platform channel boundary being disrupted by hot reload?

[2022-03-24 19:58] Saviq commented on #100385
I can confirm this on GNOME on Ubuntu 21.10. You can see that the text field gets focused (at ~8s in) way before the OSK pops up (that's a second tap).

https://user-images.githubusercontent.com/231077/159999700-b30e1566-e5d5-4a7d-89e3-b84ed2207e56.mov

[2022-03-24 20:06] stuartmorgan commented on #99971
It's very hard to follow what's being reported here; it's not clear how the screenshots you've shown interact (e.g., you've said that this is about a subscription with a 14-day free trial, then the only screenshot you have is for something with a free trial disabled).

Please provide detailed setup instructions and Dart code to create a project that recreates this problem, ideally without a variet

[2022-03-24 20:10] #99212 closed

[2022-03-24 20:16] gaaclarke opened #100717 "Converting from draft causes CI to rerun checks"
When converting a PR away from a draft it causes all the CI checks to rerun.  My flow is to get everything green on a draft PR before converting it to a PR and assigning it to someone for review.  The causes everything to rerun which is wasteful.

[2022-03-24 20:19] CaseyHillers opened #100718 "[recipes] Auto roller failing"
https://ci.chromium.org/p/flutter/builders/prod/recipe-deps-roller

It's been failing since February. The error message is too large to fit on my chrome browser

[2022-03-24 20:26] cagnulein commented on #100161
same issue on QZ, i solved in this way https://github.com/cagnulein/qdomyos-zwift/discussions/740

[2022-03-24 20:30] 9helix commented on #100704
Here is the [`verbose log.txt`](https://github.com/flutter/flutter/files/8345103/verbose.log.txt)

[2022-03-24 20:31] chinmaygarde commented on #87827
I see there is an ongoing patch to address this. But, I am not sure we have enough evidence to suggest that this is a good idea? I feel like we are jumping into fixing this issue without a more thorough investigation. Perhaps a design doc with empirical evidence based on something that looks the linked patch?

[2022-03-24 20:34] blasten commented on #100669
offline conversation with jreck: this needs to use `UiAutomation#takeScreenshot()`, and remove the status/navigation bars

[2022-03-24 20:39] #100395 closed

[2022-03-24 20:44] xster commented on #100669
Understood. Thanks. I was wondering, since we seem to have a bunch of platform view tests in the engine already.

[2022-03-24 20:46] keyonghan commented on #100639
Five of those tests (`intel prod`) are running against a devicelab bot which support code-signing. Here they are running in host-only mode, and these bots are controlled by chromium team. I am not sure if there is an easy way to enable code-signing there. /cc @godofredoc

As for `Mac_arm64_staging module_test_ios`, it runs in host only mode now in `intel prod` bot, which does not support codesigni

[2022-03-24 20:50] kayson91 opened #100720 "Process 'command '/opt/homebrew/Caskroom/flutter/2.10.3/flutter/bin/flutter'' finished with non-zero exit value 1"
FAILURE: Build failed with an exception.

* Where:
Script '/opt/homebrew/Caskroom/flutter/2.10.3/flutter/packages/flutter_tools/gradle/flutter.gradle' line: 1102

* What went wrong:
Execution failed for task ':app:compileFlutterBuildRelease'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

[2022-03-24 20:51] fellow7000 commented on #94397
Hi!

I have not yet started, as I am not really familiar with writing test. My code proposal for the feature itself is attached to the issue on GitHub. Feel free to start! :)

[2022-03-24 21:04] chipweinberger commented on #100655
Thanks for the suggestion! It could work for some!

For `ListViews`, `InteractiveWidget` is not sufficient because you cannot control the length of the List with it, which is required to "zoom" a List, i.e. expand it.

You can get close to the desired behavior (i.e. _Zoom->Scroll->Zoom->Scroll_ without needing to lift up fingers between gestures) using `Listener` and reimplementing pinch to zoom m

[2022-03-24 21:04] cyanglaz opened #100721 "Do not print last x lines of stderr from xcodebuild when there's error on iOS"
After https://github.com/flutter/flutter/pull/94747 lands, xcode errors are parsed from xcrsults and logged to console. It is redundant to log the the error from stderr again. We can remove the logic that logs the errors from stderr to console in flutter_tools

See: https://github.com/flutter/flutter/issues/98298#issuecomment-1077885970

[2022-03-24 21:05] cyanglaz commented on #98298
I think so. https://github.com/flutter/flutter/issues/100721 created

[2022-03-24 21:09] cyanglaz commented on #99516
Added the new fields to `Time-based alerts`.

[2022-03-24 21:14] blasten commented on #100669
Closing in favor of https://github.com/flutter/flutter/issues/97853. That issue is tracking missing integration tests.

[2022-03-24 21:14] #100669 closed

[2022-03-24 21:25] #100207 closed

[2022-03-24 21:30] M97Chahboun commented on #94397
@fellow7000
Thank you,
I learning testing by analyzing test codes of flutter
And also check [this](https://docs.flutter.dev/testing)

[2022-03-24 21:32] fellow7000 commented on #94397
Thanks!

Just take my code snippet, it works, as I’ve already made some changes in my local copy of the flutter and develop some testing.

Actually I have several widgets, where this functionality shall be added :)

[2022-03-24 21:34] jason-simmons commented on #100615
This should be fixed on the master branch (which uses the new SkParagraph text renderer)

[2022-03-24 21:35] M97Chahboun commented on #94397
Ok thats good,
Good luck !

[2022-03-24 21:36] fellow7000 commented on #94397
Let me know, once you’re done!

[2022-03-24 21:38] M97Chahboun commented on #94397
Ok I will try tomorrow 👍🏾

[2022-03-24 21:40] bparrishMines commented on #100611
No, this is caused by the completer returning the same controller.

It is set once at:

[code]

And then when hot reload is called, the `FutureBuilder` is using the completer that contains the old value.

[code]

Also, a `Completer` will throw an error if complete is called on it twice, but code was included to prevent that.

[code]

The `WebView` is also being rebuilt because a new `Future` is be

[2022-03-24 21:57] blasten commented on #94371
This is fixed when the platform view is rendered as a texture. The new default for platform views on Android.

[2022-03-24 21:57] #94371 closed

[2022-03-24 22:01] b3nni97 commented on #100523
@darshankawar Could you reproduce the problem on android as well? Unfortunately, I do not currently have an Android device.

The next stable version must not be released with this bug, because this probably affects every app and the performance gets really bad as soon as you use text.

[2022-03-24 22:04] cedvdb commented on #98395
I just tested this from latest master and the issue persisted.

[2022-03-24 22:06] #100609 closed

[2022-03-24 22:08] awatson32 commented on #71392
Checking on this issue as well.

[2022-03-24 22:08] CaseyHillers commented on #100507
After investigating, there's no clear path forward. This requires GitHub admin privileges, and this isn't something we want to give to the copybara config.

Instead, I updated some docs to point out a GitHub admin should be added to the internal CLs for the config

[2022-03-24 22:08] #100507 closed

[2022-03-24 22:12] alexmarkov commented on #100441
I was able to reproduce the crash in Flutter/debug mode (JIT) but not Flutter/profile mode (AOT).

After rebuilding the Flutter engine with assertions enabled in the Dart VM, I got the following assertion failure:
[code]

The assertion fails in `CallerClosureFinder::GetCallerInFutureImpl`, which is called from `CallerClosureFinder::FindCallerInAsyncGenClosure`. The `future` object prints as `{"nam

[2022-03-24 22:15] domesticmouse opened #137194 "`desktop_photo_search/material`: Quit menu item doesn't work on Windows 11"
[code]

[2022-03-24 22:18] #96938 closed

[2022-03-24 22:20] godofredoc commented on #96896
\cc @CaseyHillers @keyonghan

[2022-03-24 22:22] godofredoc commented on #97989
\cc @keyonghan

[2022-03-24 22:25] godofredoc commented on #98004
Obsolete!

[2022-03-24 22:25] #98004 closed

[2022-03-24 22:26] godofredoc commented on #98069
Obsolete!

[2022-03-24 22:26] #98069 closed

[2022-03-24 22:28] #96314 closed

[2022-03-24 22:28] godofredoc commented on #97660
Obsolete!

[2022-03-24 22:28] #97660 closed

[2022-03-24 22:29] jmagman opened #100723 "Xcode build failures are not printed when codesigning is off"
https://github.com/flutter/flutter/pull/94747 parsed the xcresult bundle and printed the errors from Xcode when the build fails.  However, that output is not printed when there are other issues detected.

For example, this [test has a build failure](https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket/8818937356027197105/+/u/run_module_test_ios/test_stdout
), but it's not printing the

[2022-03-24 22:29] jmagman commented on #100721
https://github.com/flutter/flutter/issues/100723 should be addressed first.

[2022-03-24 22:29] godofredoc commented on #98274
This has been implemented.

[2022-03-24 22:29] #98274 closed

[2022-03-24 22:29] jmagman commented on #100639
The compilation error isn't actually printing.  Filed https://github.com/flutter/flutter/issues/100723.

[2022-03-24 22:35] jmagman commented on #100723
@cyanglaz can you take a look at this?  It's happening on the M1 arm staging test that we want to promote to prod https://github.com/flutter/flutter/issues/100639

[2022-03-24 22:35] alexmarkov commented on #100441
Standalone repro for the assertion in `CallerClosureFinder::GetCallerInFutureImpl`:
[code]
Assertion fails on Dart SDK in debug mode when running with `out/DebugX64/dart foo.dart`.

[2022-03-24 22:39] jmagman commented on #100639
Run test verbosely to see what the compilation error actually is: https://github.com/flutter/flutter/pull/100724

[2022-03-24 22:42] jmagman commented on #100639
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket/8818774660845700801/+/u/run_flutter_gallery_ios__compile/test_stdout

`flutter build --release` definitely needs a cert unless there's a `--no-codesign` flag.  For example `flutter_gallery_ios__compile ` does seem to be successfully codesigning on the intel machine:
[code]
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildb

[2022-03-24 22:43] radvansky-tomas commented on #77843
Any update on this, rest of issues are closed and I dont see any resolution for this ?!

[2022-03-24 23:09] ditman commented on #100257
@maheshmnj, @Alvarocda I took a quick look at the issue, but couldn't find where is this an issue. What browser + OS combo are you using? I suppose Chrome on Android? Or does this happen in other combos as well?

[2022-03-24 23:11] Alvarocda commented on #100257
Hi @ditman.
The issue happend in Google Chrome (latest version) on a Linux Mint PC, i didnt tryied with other combos

[2022-03-24 23:15] zanderso opened #100725 "Evaluate pretenuring objects that are likely to survive new gen collections"
Performance profiling has indicated that a larger new gen with less frequent new gen collections could be beneficial for reducing startup time and/or reducing jank. However increasing new gen size by itself only kicks the can down the road since that new gen collection has to happen eventually (which would further delay startup or introduce a larger jank).

However, studying a profile of objects a

[2022-03-24 23:24] chinmaygarde opened #100727 "Remove the toggle to disable display lists and delete dead code."
Display lists have been enabled by default for a while on all platforms. Yet, the toggle to disable them still exists. Because of this, code exists to redirect rendering into to canvas instead of a display list builder. This code is effectively dead because the flag isn't used by anyone. Besides, displays lists are the way forward and other features are being built on top of it.

This issue tracks

[2022-03-24 23:25] chinmaygarde commented on #100727
@flar mentioned he used this flag a couple of months ago to test some issue with display lists. I don't think any other use cases have come up since.

[2022-03-24 23:35] alexduart commented on #100142
I changed the Deployment info of the  PODS > file_picker to iOS 12.0 and got it compile my app.

![pods](https://user-images.githubusercontent.com/3867376/160026798-5dcb6e5d-66b1-4ca4-815c-15ddf9986da4.png)

[2022-03-24 23:52] radvansky-tomas commented on #77843
But to be honest it works with visibility API just fine

[code]

[code]

[2022-03-25 00:03] roshanrajadhikari opened #100728 "Having issues while building app for windows desktop."
I was trying to build a default app ( tap counting app) that comes with flutter for windows desktop.
**NOTE: Build success for Android and Web.**

## Steps to Reproduce

1. ran `flutter create test_app`
2. ran `flutter run -d windows` on the project folder
Here is the result from running:
[code]
<details>
<summary>`flutter run --verbose -d windows`</summary>

[code]
</details>

<details>
<summary>