[2019-06-24 18:50] AndreiT1 opened #35013 "Bad resource table header"
Hello , I'm having a problem after installing some third party dependecies. Even after removing the dependecy i'm still left with this error.
I'm getting this error :  Bad resource table: header size 0x7cf0 or total size 0x829f3ef is larger than data size 0x3f12c
ERROR: dump failed because the resource table is invalid/corrupt.

Running flutter doctor -v :
`Flutter (Channel stable, v1.5.4-hotfix.2

[2019-06-24 18:54] matthewlloyd commented on #31922
Are you still planning to address the incompatibility issue with ZenFone 2 device and similar x86 devices that allow installation of ARM apps from the Play Store and use libhoudini to run them?

[2019-06-24 18:56] AndreiT1 commented on #35013
`flutter clean` solved my issue .

[2019-06-24 18:56] #35013 closed

[2019-06-24 19:02] amirh commented on #33866
The fix made it to the v1.7.2 release(beta is currently at v1.6.3)

[2019-06-24 19:07] adrianvintu commented on #29431
Happens to me as well.

Can you fix this or provide a workaround?

@Android Galaxy S8

[2019-06-24 19:15] adrianvintu commented on #27988
I use this workaround:

[code]

This does not work well when the keyboard appears

https://github.com/flutter/flutter/issues/29431

[2019-06-24 19:18] adrianvintu commented on #29431
related ticket Keyboard appearance destroys SystemUIOverlays settings https://github.com/flutter/flutter/issues/24494

[2019-06-24 19:18] matthew-carroll commented on #34286
I don't think your issue is related to this ticket, but I'll CC @amirh about the issue.

[2019-06-24 19:22] adrianvintu commented on #24494
(How) Can we hook to the onHideEvent of the keyboard to call `SystemChrome.restoreSystemUIOverlays()`, or when can we call the restore?

[2019-06-24 19:22] adrianvintu commented on #22061
(How) Can we hook to the onHideEvent of the keyboard to call `SystemChrome.restoreSystemUIOverlays()`, or when can we call the restore?

[2019-06-24 19:24] amirh commented on #34286
Yes, unrelated to this ticket, please file a separate issue. (you might be hitting the issue that's fixed by https://github.com/flutter/engine/pull/9423 but I can't be certain based just on this descripiton)

[2019-06-24 19:29] adrianvintu commented on #24494
@GaryQian  where did you get "This is actually something that is forced by the OS"?

This is NOT happening on my Android app that runs in fullscreen and never ever exits that, even when keyboard appears.

https://play.google.com/store/apps/details?id=com.dex

[2019-06-24 19:32] kf6gpe commented on #31061
Starting with the engine team for further triage, although with the obfuscated stack trace, it's hard to tell, of course.

[2019-06-24 19:32] Hixie commented on #20438
Is there a specification of the Lottie format?

[2019-06-24 19:34] kf6gpe commented on #30091
Could you possibly work this down to a minimal reproducible case so we can see if someone on the team can reproduce it? Thanks!

[2019-06-24 19:37] cbracken commented on #34862
Is this tied to FL-256? If so, that's landed now. If not, can we get more detail?

[2019-06-24 19:37] GervaisYO commented on #33866
Any idea, when the fix will me merged to beta?

[2019-06-24 19:37] kf6gpe commented on #30213
This seems to be related to the work we're doing in https://github.com/flutter/flutter/issues/31922 , which is now fixed in the dev channel and hopefully rolling to beta soon. Can you let us know if it's still a problem, please?

[2019-06-24 19:38] snaeji commented on #25388
I was able to build on @rakyat-game code and read VTT files and default to subtitles in the HLS stream.

The solution is rather dirty, language default is hardcoded and defaults to Icelandic subtitles if they are included in the HLS stream.
But this will help somebody if someone wants to use it for reference etc.

https://github.com/snaeji/video_player-0.10.1-3
https://github.com/snaeji/chewie-0.9

[2019-06-24 19:39] galvesribeiro commented on #33890
I'm having other weird problems with Catalina as well. Most of the apps after the upgrade now request you access to do something. Then you need to go to Preferences and allow them on Security section.

`flutter` cli was no different. Except that it is now ranging on the snapshot and I can't run it anymore... So VSCode don't work as well...

![image](https://user-images.githubusercontent.com/471404

[2019-06-24 19:41] red42 commented on #26216
I'm observing this issue when a digit and backspace are entered almost simultaneously. Tested on a physical device.

[2019-06-24 19:44] amirh commented on #33866
probably within a few weeks, more information on the roll process here: https://github.com/flutter/flutter/wiki/Release-process#rolling-the-beta-channel

[2019-06-24 19:45] kf6gpe commented on #30548
Can you work this down to a minimal reproducible case with your application so one of the team can take a look at it in more detail? There's unfortunately not a lot to go on here. Thanks!

[2019-06-24 19:45] opensourcegps commented on #31061
This crash is no longer appearing after upgrading flutter to 1.5.4-hotfix.2. Thanks for looking into it anyways.

[2019-06-24 19:46] PascalProgrammingX commented on #18106
Turn off your Anti virus.  If win 10 turn off Windows Defender.

On Mon, Jun 24, 2019, 7:30 PM Nitish Kumar Singh <notifications@github.com>
wrote:

[2019-06-24 19:47] kf6gpe commented on #30628
I'll pass this on to the engine team, although I think we may not have the bandwidth to support custom engine builds.

[2019-06-24 19:47] jonahwilliams commented on #34735
I've investigated this and found that the web platform tests are already closed correctly.

[2019-06-24 19:47] #34735 closed

[2019-06-24 19:48] jonahwilliams commented on #35004
@dcov is correct, using regular flutter dependencies won't work until we've unforked flutter web. You can track the overall progress on https://github.com/flutter/flutter/issues/34082

[2019-06-24 19:48] #35004 closed

[2019-06-24 19:51] Piinks commented on #30157
Hi @kissthemouse, Can you post a reproduction of the issue? We will need more information to help you resolve it.

[2019-06-24 19:51] timsneath opened #35015 "Add .dart_tool to default .gitignore"
See:
   https://github.com/dart-lang/site-www/issues/444

Dart picked this up, but it's not part of the default `.gitignore` for `flutter create`.

This means that packages that are run during development time create crud in these folders that gets checked in, for example:
https://github.com/timsneath/dadjokes/tree/763d72bf0da6fe5c37db5c9aedc7420ec92d7927/.dart_tool/pub/bin

[2019-06-24 19:51] ghost opened #35016 "Dart debug loses device connection after reaching breakpoint"
*@yringler commented on May 27, 2019, 8:03 PM UTC:*

This is similar to [#1518](https://github.com/Dart-Code/Dart-Code/issues/1518)
I set up flutter/dart, I can run everything fine from VS Code, the debugger hits the breakpoint - then it loses device connection, and `adb devices` shows my device as offline.
(Running [this code lab](https://codelabs.developers.google.com/codelabs/first-flutter-app-

[2019-06-24 19:54] Piinks commented on #33186
Hi @natanfudge, it is hard to determine what may be causing your problem without knowing what `MyApp()` contains in your sample code above. Can you post a minimal reproduction of the issue? We will need more information to help you resolve it.

[2019-06-24 19:55] Piinks commented on #33194
Hi @jessydesiana, Can you post a reproduction of the issue? We will need more information to help you resolve it.

[2019-06-24 19:57] kf6gpe commented on #30836
Are you able to narrow this down to a small reproducible case we could use to look at?

[2019-06-24 19:59] natanfudge commented on #33186
This is the default project that you have when you create a new flutter project. MyApp() is the one that has a button that increments a value.

[2019-06-24 20:02] Piinks commented on #33186
Thanks for clarifying!

[2019-06-24 20:02] kf6gpe commented on #31135
@TesfahunK , did that work for you?

[2019-06-24 20:04] kf6gpe commented on #31162
@signshah , were you trying to use firebase_admob as well? Wondering if this is one issue or two. Thanks!

[2019-06-24 20:08] galvesribeiro commented on #33890
okey... Found out tht the "Anywhere" option was removed from Preferences...

Just run `sudo spctl --master-disable` and you get it back.

Just in case anyone fall in the same pitfall...

[2019-06-24 20:11] kf6gpe commented on #34862
cc @sethladd

[2019-06-24 20:12] Piinks commented on #33753
Hi @pisa97, Can you post a reproduction of the issue? We will need more information to help you resolve it.

[2019-06-24 20:13] galvesribeiro opened #35018 "flutter build apk - Fail on OSX Catalina"
Hello folks!

I know Catalina is a Beta OS and unsupported now, but I think having the issue open to track the problem can help others.

So, `flutter build apk` on my OSX Catalina fail with cryptic errors:

[code]

The log file:
[flutter_02.log](https://github.com/flutter/flutter/files/3322422/flutter_02.log)

Can anyone guess what is going on? I'm just trying to build an APK so I can install on a

[2019-06-24 20:14] #31922 closed

[2019-06-24 20:14] chunhtai commented on #20827
static image set is currently not supported. Is there a use case that cannot be achieved by storyboard?

[2019-06-24 20:27] tarobins opened #35019 "SliverPersistentHeader docs need correction"
https://api.flutter.dev/flutter/widgets/SliverPersistentHeader-class.html

"A sliver whose size varies when the sliver is scrolled to the leading edge of the viewport."

is incorrect.  The sliver changes its size when scrolled to the edge of the viewport that is in the opposite direction of the sliver's orientation.

[2019-06-24 20:30] tarobins commented on #35019
Please assign to me

[2019-06-24 20:32] lukepighetti commented on #20438
Devil's advocate, if Skia supports Lottie that seems like there is enough faith for Flutter to also support Lottie.

[2019-06-24 20:33] galvesribeiro commented on #35018
More info...

If I run with `--debug`, it works... I wonder why the release build isn't working...

[2019-06-24 20:37] waqasraz commented on #16602
When I remove the homepage from the route popUntill worked. Because I was setting a home property in MaterialApp Widget as well as the same route in the routes.

[2019-06-24 20:47] abbasidaniyal commented on #32806
Did not work for me. Any other solution?

[2019-06-24 20:50] bernaferrari commented on #20438
As discussed above, there are issues on web, binary size and so on. One of the members explicitly stated that he prefers (with reason) a flutter port instead of skia one.

[2019-06-24 20:51] sukhcha-in commented on #14067
I was running a program that was using files from my project, so flutter was not able to delete the files for cleaning. I terminated that program and it worked. :)

[2019-06-24 20:56] gpeal commented on #20438
@Hixie There is loose documentation [here](https://github.com/airbnb/lottie-web/tree/master/docs/json) and the folks at Lottiefiles are working on a schema validator. Formalizing the Lottie json spec is something we'd like to do since we're not planning on changing it. Doing so would also make it easier for other design tools to export Lottie json which is something we'd also like to enable.

[2019-06-24 21:02] shafi49 opened #35021 "Cannot run on Android Jelly Bean, API level 16"
My Flutter app shows a white screen while running on an android emulator running Android Jelly Bean, API level 16.
It works with this command "flutter run --enable-software-rendering (with the help of software rendering) but hot reload doesn't work. I have to press 'r' in the console to hot reload the application.

[2019-06-24 21:05] abbasidaniyal opened #35022 "flutter build ios --release fails."
App running perfectly in Simulator (debug mode) but gives the following error on release build
[code]

The complete error log : https://pastebin.com/rUkVS9ds

NOTE : App signing isn't a problem as the app is already on the app store.
I have added the following plugins :
google_sign_in 4.0.2
flutter_facebook_login 2.0.1 and
razorpay_flutter 1.1.0
Since these addition, the release mode won't build

[2019-06-24 21:10] #34596 closed

[2019-06-24 21:23] Hixie commented on #20438
Having a real spec (meaning English prose saying how to interpret a Lottie file, how error handling for bad input should work, etc), along with a library of test cases, would be a key step along the path to enabling Lottie's broader adoption. I don't know if it would be enough for Flutter to support it in a first-party package, but it certainly wouldn't hurt.

[2019-06-24 21:36] algrid commented on #18570
I'm having a similar problem with the native lib, I added an issue there: https://github.com/firebase/firebase-android-sdk/issues/565

[2019-06-24 21:47] ronaldG19 commented on #34672
What is the purpose of using Proguard when minify is not enabled. ooooh only to obfuscate your code. I used app bundles and my app hanged on Splash Screen. This is still the problem.

[2019-06-24 21:48] AppleEducate commented on #33890
@galvesriberio what’s the official solution long term? Does flutter need to sign it?

[2019-06-24 21:51] ronaldG19 commented on #34236
If you are deploying the app to the Play Store, it's recommended to use app
bundles or split the APK to reduce the APK size.
    To generate an app bundle, run:
        flutter build appbundle --target-platform android-arm,android-arm64
        Learn more on: [https://developer.android.com/guide/app-bundle]
    To split the APKs per ABI, run:
        flutter build apk --target-platform android-arm

[2019-06-24 21:54] cyanglaz opened #35023 "iOS platform view clipping chain reconstruction can be faster"
Currently in `ReconstructClipViewsChain` we do a O(n) search to determine the position of the ClipViewsChain head in FlutterView. We can potentially make this O(1) by caching the position.

[2019-06-24 21:55] bparrishMines commented on #31225
@chunhunghan I added this to the issue description: **Direct access to image buffer when taking a photo**

[2019-06-24 22:04] ronaldG19 commented on #31922
I've never used any branch rather than dev and my apps are working seamlessly. So trust the branch it never disappoints. @sulaysumaria

[2019-06-24 22:05] liyuqian commented on #31203
I'm going to get an iPhone 4S to try a solution for this issue.

[2019-06-24 22:09] justinmc commented on #34749
I'm pretty sure I can't do any 2+ finger gestures in the simulator.  I need to install the iOS 13 beta on a device.

[2019-06-24 22:20] jiahaog opened #35024 "Request for additional translations of the Flutter material widget strings"
There is an internal team building a mobile app using Flutter getting close to launch. They've identified 22 out of the 88 locales that do not have translations for the Flutter material widget strings, and would like them to be added.

The missing locales are:

[code]

More info at: https://b.corp.google.com/issues/135720347

[2019-06-24 22:21] liyuqian commented on #31086
@wemped : That step may be trying to download gigabytes of tool chains (Android SDK + NDK + Fuchsia SDK + NDK + ...). Can you try monitor your network usage to see if there's download in progress? If your network is less than 10MB/s, it will take a long time to finish.

[2019-06-24 22:24] blasten commented on #31922
@matthewlloyd we heard from the Play Store team that it's better to add an explicit x86 binary than trying to make the our existing binaries work well with the arm->x86 translator. - However, the team recently improved the code that the Dart compiler generates, and I wonder if that perhaps made the translation work. Give it a try and let me know. Otherwise, depending on the situation, you might ne

[2019-06-24 22:32] GaryQian commented on #12794
Just kidding this still exists. Ill fix it!

[2019-06-24 22:33] justinmc commented on #35010
Tapping and dragging without waiting for a long press still drags the cursor around.

[2019-06-24 22:40] #34327 closed

[2019-06-24 22:41] LongCatIsLooong commented on #34833
Ah sorry, I misunderstood the problem. If you're writing tests for your app, feel free to use keys for widget lookup.

[2019-06-24 22:42] jonahwilliams opened #35025 "Investigate higher than normal memory usage during tool coverage tests"
Our coverage tests are using enough memory that they can't be run within the same test invocation on cirrus.

Memory usages seems to regularly go over 20GB according to activity monitor when running the tool tests with coverage, though this doesn't match the vmservice reporting of about 10GB of peak memory.

We'll need to do some investigation to see how big the delta is between a regular tool tes

[2019-06-24 22:43] galvesribeiro commented on #33890
I think so... Before Catalina, you could just click on "Anywhere" and use it... Now this options is hidden, and I would guess, will be removed on future OSes...

I still don't understand why flutter is deployed as a zip rather than an installer with multi-home updates (to support multiple SDK versions) just like .Net Core does...

[2019-06-24 22:44] sergioahv15 commented on #29887
Same issue here:

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':app:compileDebugJavaWithJavac'.

     Required by:
         project :app > project :location

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at http

[2019-06-24 22:48] justinmc opened #35026 "Planned Cupertino Library Features Jul-Sept 2019"
This issue represented Cupertino library work we'd planned to undertake from July-September 2019. It has been replaced by a new similar issue that covers October-December 2019. If you're interested in voting or commenting on our latest plans please review https://github.com/flutter/flutter/issues/43041.

During the period covered by this issue we accomplished a subset of what we'd hoped to do. Her

[2019-06-24 23:03] matthewlloyd commented on #31922
@blasten Thanks for the info. It puts me in a bit of a bind because I don't have one of these devices myself - just two anonymous Play Store reviews from disgruntled ZenFone 2 users - so I have no way to test. The risk of breaking things is too great to push out another appbundle build until somebody confirms the improved code actually works on those devices. Unless there's a way to tell the Play

[2019-06-24 23:13] xster commented on #32937
ummm, it seems like we follow the same approach with the https://api.flutter.dev/flutter/scheduler/SchedulerBinding/scheduleWarmUpFrame.html Dart side API. It ultimately translates into Animator.RequestFrame. The viewDidAppear code seems to do the same thing via snooping the "AppLifecycleState.resumed" message on the lifecycle channel. Perhaps a trace is needed to figure out the timing.

[2019-06-24 23:24] TheKonnectApp commented on #32143
Going to `Flutter channel dev` has fixed it for me! Anyone else?

[2019-06-24 23:29] shihaohong commented on #34849
I further distilled the issue with a fork of the original github repo: https://github.com/shihaohong/flutter_demo

[2019-06-24 23:29] justinmc commented on #9507
Does anyone know how to get the loupe to show up on iOS 13?  Long press and drag now just selects the text, and dragging the cursor looks like this:

![drag_cursor](https://user-images.githubusercontent.com/389558/60058442-44370880-969d-11e9-9d5d-1ae7a7d40806.gif)

[2019-06-24 23:35] shihaohong commented on #34849
@mx4g I think what's happening is that in `_PhotoWallState`, you are trying to use `AutomaticKeepAliveClientMixin` but not calling super.build(context). For example:

[code]

Let me know if that works!

[2019-06-24 23:38] Piinks commented on #25355
Hi @kika, Are you still experiencing this issue? I have not been able to reproduce it on an emulator or a physical device.

[2019-06-24 23:41] justinmc commented on #34749
After doing 3 finger pinch to copy, a little copy message shows up briefly:

![IMG_2933](https://user-images.githubusercontent.com/389558/60058845-d4c21880-969e-11e9-8552-a68b0371b753.PNG)

[2019-06-24 23:42] mmcc007 commented on #34909
The following extracts the app id from the .apk.
[code]

This approach has the advantage that since flutter drive can find the .apk if present, therefore no additional parameter should need to be passed. In Device Farm the .apk is always present (or can be guaranteed to be).

[2019-06-24 23:45] pakyo-pan commented on #33642
Yes, it is indeed `java.lang.IndexOutOfBoundsException`

![image](https://user-images.githubusercontent.com/13342613/60058920-d92d1680-971c-11e9-8010-896687ed0c74.png)

[2019-06-24 23:46] leoboey89 commented on #34925
Exactly same here for iOS physical device. It is running well on emulator.

[2019-06-24 23:50] Piinks commented on #12385
Hi @maryx, are you still experiencing this issue? I have not been able to reproduce it. I think it may have been fixed. :)

[2019-06-24 23:56] kafein commented on #34691
I think it's version issue, 0.6.0+10 works well. (previous version is 0.6.0+8)
Noticed when try create repro case. Thanks.

[2019-06-24 23:57] xster commented on #9507
I wonder if they differentiated long press vs 3d touch. 3d touches can't be simulated on simulators and a mouse. Try with a magic trackpad.

[2019-06-24 23:58] cyanglaz commented on #34691
@xperiafan13-rom, did 0.6.0+10 fix your crash as well?

[2019-06-25 00:32] tyl0r commented on #34925
I can confirm the same issue on physical iOS device with multiple projects (new and existing).

[2019-06-25 00:50] sean5530 commented on #33209
I too have this same issue...

[2019-06-25 00:54] GaryQian commented on #12794
https://github.com/flutter/engine/pull/9468 manually calculates the bezier required to finish the wavy underline for any given width.

[2019-06-25 00:55] jmagman commented on #34477
@itsyashjoshi I'm trying to figure out what the invalid or missing CFBundleVersion value is in the plist since I wasn't able to reproduce.
Can you attach the following two files, and clearly mark which is which:
1. `<Your Flutter project path>/ios/Runner/Info.plist`
2. The Info.plist in the product app bundle.  Open `<Your Flutter project path>ios/Runner.xcworkspace` in Xcode and then build via Pr

[2019-06-25 01:05] GaryQian commented on #22061
@TomassMaximum Android forces the status bar and navigation bar to appear when the keyboard appears. This the system's way to prevent malicious apps from locking users in their app.

@adrianvintu calling `restoreSystemUIOverlays` in the onHideEvent will not work, since Android prevents hiding the overlays for about 1 second after the event. You will need to call it either on a timer, when the user

[2019-06-25 01:11] WD-J commented on #33827
Saaame error, my dudes

[2019-06-25 01:12] SpectralKH opened #35027 "gitignore key.properties"
Documentation does tell you to to keep it `android/key.properties` private, but I think it would still be helpful to add `**/android/key.properties` to `.gitignore` in the default Flutter project.

[2019-06-25 01:29] anonymouse703 commented on #34899
sir @timsneath  I got this error..

![image](https://user-images.githubusercontent.com/37643245/60062433-c2da8700-972b-11e9-88bb-ca43da2dd111.png)

[2019-06-25 01:30] joao-rafael commented on #31116
@souzadenis got the same issue and tried your solution, got this:
[code]

[2019-06-25 01:41] minh98 opened #35028 "App crash on real device 64bit on google play due flutter build appbundle"
My build.gradle
[code]
Log report in real device
[code]

[2019-06-25 01:44] HansMuller commented on #22651
Although I've intended to fixed this as soon as there's a little time _for nearly 9 months_ it's time to admit defeat. Should be an easy fix :-).

[2019-06-25 01:54] decentcamper commented on #19458
This is definitely an issue. Is there any workaround for this? I wonder how are the things working for other users since it is such a critical piece of functionality.

[2019-06-25 01:57] houqinzhe commented on #20685
thanks!!!!!

[2019-06-25 02:01] kangwang1988 commented on #33909
@timtraversy
What's the full log when it fails from the editors?

[2019-06-25 02:14] kangwang1988 commented on #35028
According to this log, it seems that your snapshot(dart code generated machine code) is arm-eabi while the libflutter.so(dart runtime&vm) is arm64. Henceforth, it crashed.

[2019-06-25 02:16] #33552 closed

[2019-06-25 02:18] zmhbh commented on #26945
Same here as well. "Lost connection to device." immediately after launch. Hot reloading not working properly

[2019-06-25 02:22] One1Light commented on #34477
I did the following things to solve the problem
add version: 1.0.0+1 to example  .yaml。 @itsyashjoshi

[2019-06-25 02:29] codetown opened #35030 "I do not like visual studio."flutter doctor" notices me "[X] visual studio ........not installed""
## Use case

## Proposal

[2019-06-25 02:32] minh98 commented on #35028
Do you have any way to build appbundle that can run on both 32bit and 64bit. help me

[2019-06-25 02:35] jonahwilliams commented on #35030
It seems like you didn't fill out any of the issue template, please provide at least some minimum level of details when filling an issue in the future

[2019-06-25 02:35] #35030 closed

[2019-06-25 02:41] kangwang1988 commented on #35027
I checked the signing logic for a default Flutter project and finds it depends on ~/.android/xxx.keystore, which is not contained in my flutter project and doesn't to be added in .gitignore.
I think it's ok for the default Flutter project to set .gitignore for a most commonly-used scenario and give the developers more freedom where they can customize the file according to their requirements.
Closi

[2019-06-25 02:41] #35027 closed

[2019-06-25 02:41] shuyanzi commented on #34620
the same issue....

[2019-06-25 02:44] jonahwilliams commented on #34620
+1 adds nothing to the discussion and only creates noise for subscribers of the issue. Please add a reaction +1 to the original issue instead

[2019-06-25 02:46] putrautama007 commented on #34980
@ketanm
Thank you for the help, I will try to review my code again

[2019-06-25 02:50] kangwang1988 commented on #35022
Check the arch info of the Flutter.framework embedded in your project using `lipo -info`.
It's expected to be armv7 & arm64 in release mode.
Besides, if you can reproduce this issue, it would be nicer if you can provide a minimal demo project which can help to reproduce it.
Result for `flutter doctor -v` is always expected to appear in the issue.

[2019-06-25 02:54] saikiranVu opened #35031 "TextInputAction.continueAction"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-25 02:54] #35031 closed

[2019-06-25 02:55] kangwang1988 commented on #35018
Duple of https://github.com/flutter/flutter/issues/33909
Closing now.

[2019-06-25 02:55] #35018 closed

[2019-06-25 02:55] ronaldG19 commented on #35028
- **flutter build apk --target-platform android-arm,android-arm64 --split-per-abi**
- **flutter build appbundle --target-platform android-arm,android-arm64**
I used those commands and imagepicker crashed the App on release,32bit + 64bit generators on flutter dev 1.7.4 they say.

[2019-06-25 03:00] kangwang1988 commented on #34997
@thaitanloi365
Is it a issue related to camera plugin: https://github.com/flutter/plugins/tree/master/packages/camera
?

[2019-06-25 03:03] JamesKarl opened #35032 "Flutter crash report"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter build ios

## exception

FormatException: FormatException: Bad UTF-8 encoding 0x3f (at offset 1702)

[code]

## flutter doctor

[code]

[2019-06-25 03:12] minh98 commented on #35028
i use :
[code]
it run fine on google on both 32bit & 64bit

[2019-06-25 03:14] MashirosBaumkuchen commented on #20685
thanks

[2019-06-25 03:16] BadReese commented on #34925
Exactly same here for iOS physical device. It is running well on emulator.

[2019-06-25 03:19] chendanping commented on #34975
Hi, the following is the code:
ListView.builder(
            shrinkWrap: true,
            itemCount: itemList.length,
            physics: NeverScrollableScrollPhysics(),
            itemBuilder: (BuildContext context, int index) {
              return SafeArea(
                child: Column(
                  children: <Widget>[
                    Container(
                      padding: EdgeI

[2019-06-25 03:21] kangwang1988 commented on #35003
It's probably a network issue when downloading gradle-xxx.zip.
You can download https://services.gradle.org/distributions/gradle-4.10.2-all.zip manually and save it under ~/.gradle/wrapper/dists/gradle-4.10.2-all/xxx
Check https://stackoverflow.com/questions/31405947/how-to-setup-gradle-2-2-1-all-zip-manually for more.

[2019-06-25 03:21] #35003 closed

[2019-06-25 03:36] jonahwilliams commented on #35028
cc @blasten @tvolkert

[2019-06-25 03:44] kangwang1988 commented on #35021
As https://github.com/flutter/flutter/issues/8610 is closed and this problem remains on API level 16 using the latest master.
cc @Hixie

[2019-06-25 03:46] minh98 commented on #35028
![65035811_2238162702906063_6455333015504551936_n](https://user-images.githubusercontent.com/26597466/60067842-7183c500-9736-11e9-94f9-b32ff0920c18.png)
![65148959_439528369929887_6023701274841579520_n](https://user-images.githubusercontent.com/26597466/60067843-7183c500-9736-11e9-8cd4-15461fa0e8d7.png)
![65150962_457879778383871_1320532315570438144_n](https://user-images.githubusercontent.com/265

[2019-06-25 03:53] kangwang1988 commented on #34834
@pixcai
Paste the full log when running `flutter run --verbose` and paste it here please.
Besides, `flutter doctor -v` result is always expected.

[2019-06-25 03:56] kangwang1988 commented on #34829
Failed to find target with hash string 'android-28' in: C:\Users\hariharan\AppData\Local\Android\sdk

@Pillai1
Check if https://stackoverflow.com/questions/33417537/failed-to-find-target-with-hash-string-android-23 might help.

[2019-06-25 03:58] blasten commented on #35028
What is the output of `flutter doctor` ?

[2019-06-25 04:06] kangwang1988 commented on #34824
@appjitsu
Can you delete the flutter-plugins file manually(it's expected to created automatically),and rerun 'flutter run --verbose' and paste the log here?

[2019-06-25 04:06] mmcc007 commented on #34909
@tvolkert if installing the Android SDK, required by `flutter drive --no-build` during a test on an android device, can be avoided, test execution times become close to expected. This also improves metered (billed) time per test by the time it takes to install the Android SDK.

I am currently working around this dependency with a custom test runner which does not require the Android SDK. For impro

[2019-06-25 04:10] mehdidavarpanah66 commented on #34967
import 'dart:async';
import 'package:intl/intl.dart';
import 'package:flutter/material.dart';
import 'package:foodyhouse/config/web_services.dart';
import 'package:foodyhouse/model/basket.dart';
import 'package:foodyhouse/model/food.dart';
import 'package:foodyhouse/model/menu.dart';
import 'package:url_launcher/url_launcher.dart';
import 'basket_item.dart';
import 'food_item.dart';
import 'menu_i

[2019-06-25 04:13] mehdidavarpanah66 commented on #34967
I do not want to change the position of the list in the setstate, and the photos of each item will not be reloaded

[2019-06-25 04:14] LongCatIsLooong commented on #29337
Closing as https://github.com/flutter/flutter/pull/34964 has been merged

[2019-06-25 04:14] #29337 closed

[2019-06-25 04:14] minh98 commented on #35028
flutter doctor -v
[code]

[2019-06-25 04:15] mehdidavarpanah66 commented on #34967
import 'dart:async';
import 'package:intl/intl.dart';
import 'package:flutter/material.dart';
import 'package:foodyhouse/config/web_services.dart';
import 'package:foodyhouse/model/basket.dart';
import 'package:foodyhouse/model/food.dart';
import 'package:foodyhouse/model/menu.dart';
import 'package:url_launcher/url_launcher.dart';
import 'basket_item.dart';
import 'food_item.dart';
import 'menu_i

[2019-06-25 04:17] thanhvn-15 commented on #28733
I encounter same issue like @lhcdims.
If we use admob banner and try to hide one (by dispose) and show another one (create new bannerad), app is banned. I really disappointed to fix this problem.
FYI, we can re-enable unitAd by changing keyword in targetingInfo. This is a trick i used after my ad is banned.
Btw, does anyone know how to change position of banner ad with firebase_admob in android ?

[2019-06-25 04:20] adlanarifzr commented on #33827
Get same error after update as well

[2019-06-25 04:20] tvolkert commented on #34909
/cc @christopherfujino

[2019-06-25 04:23] tvolkert commented on #35028
@minh98, please try switching to the `dev` channel (currently at version `v1.7.9`) and see if that fixes your issue.

[2019-06-25 04:24] ymback commented on #34993
Use activity.runOnUiThread

[2019-06-25 04:28] pixcai commented on #34834
**flutter run --verbose**:

[2019-06-25 04:29] kangwang1988 commented on #34914
Duple of https://github.com/flutter/flutter/issues/26366
Please track under #26366 as it's still open now.

[2019-06-25 04:29] #34914 closed

[2019-06-25 04:29] minh98 commented on #35028
i will try and feedback

[2019-06-25 04:31] pixcai commented on #34834
**flutter doctor -v**:
[✓] Flutter (Channel stable, v1.5.4-hotfix.2, on Mac OS X 10.12.1 16B2657,
    locale zh-Hans-CN)
    • Flutter version 1.5.4-hotfix.2 at /Users/pixcai/Applications/flutter
    • Framework revision 7a4c33425d (8 weeks ago), 2019-04-29 11:05:24 -0700
    • Engine revision 52c7a1e849
    • Dart version 2.3.0 (build 2.3.0-dev.0.5 a1668566e5)

[✓] Android toolchain - develop for

[2019-06-25 04:32] kangwang1988 commented on #34912
@KARIMSUNEEL
Paste result for `xcode-select -p` please.

[2019-06-25 04:33] pixcai commented on #34834
**Code**:
[code]
The console has no output.

[2019-06-25 04:34] kangwang1988 commented on #34911
It would be better to ask on StackOverflow and only create an issue if it turns out to be a bug or a missing feature that prevents you from doing what you want.

[2019-06-25 04:34] #34911 closed

[2019-06-25 04:35] BadReese commented on #25881
@zoechi  flutter channel dev  does not help

[2019-06-25 04:36] kangwang1988 commented on #34905
@leonetosoft
Can you symbolicate the crash log by referring to : https://github.com/flutter/flutter/wiki/Crashes

[2019-06-25 04:37] kangwang1988 commented on #34902
@maheshsystimanx
Paster `flutter doctor -v` please.

[2019-06-25 04:38] kangwang1988 commented on #34901
@aqibfareex
Can you provide a self-contained minimal demo app which can help to reproduce this issue?

[2019-06-25 04:41] kangwang1988 commented on #34899
It seems that your PowerShell version is not expected.
See https://flutter.dev/docs/get-started/install/windows for more.

[2019-06-25 04:42] adrianvintu commented on #22061
@GaryQian why do you keep saying this? "Android forces the status bar and navigation bar to appear when the keyboard appears. This the system's way to prevent malicious apps from locking users in their app."

Please specify source and also that if it is true, it only applies to OVERLAYS, but not the usual fullscreen API

getWindow().setFlags(WindowManager.LayoutParams.FLAG_FULLSCREEN, WindowManage

[2019-06-25 04:44] maheshsystimanx commented on #34902
this code run by terminal or where?
please give explain

[2019-06-25 04:45] kangwang1988 commented on #34871
@elmarou
Run `flutter doctor -v` and `flutter run --verbose` and paste the detailed full log here.

[2019-06-25 04:49] adrianvintu opened #35034 "Add new API - SystemChrome.setEnabledSystemUIOverlays versus WindowManager.LayoutParams.FLAG_FULLSCREEN"
Is there a way to make FULLSCREEN work **correctly**?

There are a lot of tickets closed and open that report the issue where opening the keyboard will make the app switch from fullscreen to normal mode.

From my point of view, this is unacceptable
1. it looks horrible
2.if does not even go back to normal mode on closing the keyboard
2. it is NOT fullcreen behaviour, it is a dirty ugly hack

Can y

[2019-06-25 04:49] kangwang1988 commented on #34879
The related logic seems here.
[code]
Wired, @leonardop21
Can you verify if `/ Users / wwwjsw / Desktop / leonardo / myapp / build / app / outputs / apk / app.apk` is generated properly?

[2019-06-25 04:55] mehdidavarpanah66 commented on #34967
i have three listview.builder in one page and when i click on one item of a list view must chnge counter in other list view

[2019-06-25 04:55] nimesh1997 commented on #35028
@tvolkert On dev channel still got flutter_image issues:
Error:
[code]
Flutter Doctor -v output:
[code]

[2019-06-25 05:01] djkloop opened #35035 "flutter doctor -v error"
## Steps to Reproduce

[code]
Trying to use a #22595 solution doesn't work.

## Logs

[code]

[code]
![CE8F4609-FB2A-4CE8-BE42-7766777AE35D](https://user-images.githubusercontent.com/21050914/60070297-bca6d380-9748-11e9-98a6-aa8af07dc91f.png)

[2019-06-25 05:05] FTholin opened #35036 "Implementing a Drag and Drop with scrollable and zoomable Stack"
I am trying to make a scrollable and zoomable Stack using SingleChildScrollView in order to implement a canvas editor.

The Drag and Drop works perfectly when I put my dragabble item in the initial view but when I scroll down the view and I tried to drop my container is coming back in the initial view.

I'm new to the Flutter development so maybe I missunderstood in the implementation of a such th

[2019-06-25 05:05] ssameermah commented on #24645
flutter clean worked thank you

[2019-06-25 05:11] tvolkert commented on #34391
Closing as a dup of https://github.com/flutter/flutter/issues/31962

[2019-06-25 05:11] #34391 closed

[2019-06-25 05:12] tvolkert commented on #34971
Closing as a dup of #31962

[2019-06-25 05:12] #34971 closed

[2019-06-25 05:13] tvolkert commented on #35028
@nimesh1997 that's a different issue (#31962)

[2019-06-25 05:14] tvolkert commented on #31962
Getting more reports that `flutter_image` crashes on ToT flutter.

[2019-06-25 05:18] dnfield opened #35038 "Memory usage regression on iOS"
Sometime between v1.0.0 and v1.2.1, we regressed on memory usage for apps that use lots of canvas drawing - e.g. the History of Everything app went from peaking around 6-700mb memory usage to peaking around 1.1 or 1.2gb memory usage.

This regression can lead to crashes on older iPhone's (e.g. 5 or 6) that only have 1gb of ram and memory limit you around 650mb for a single process.

I started bise

[2019-06-25 05:23] nimesh1997 commented on #31962
@tvolkert So how to fix that issue now and when will it be resolved?

[2019-06-25 05:25] #35002 closed

[2019-06-25 05:26] #33429 closed

[2019-06-25 05:26] ahmedmgh67 commented on #35002
okay sorry i didn't find it

[2019-06-25 05:38] tvolkert commented on #31962
@nimesh1997, it will now get picked up by our normal [triage process](https://github.com/flutter/flutter/wiki/Triage#critical-issue-triage).  In the meantime, we'd be happy to review a PR with a fix.

[2019-06-25 06:10] yunyu commented on #31086
@wemped I worked around that by checking out the most recent depot_tools commit. However, the compile still won't work due to the deprecation warning issue mentioned above.

[2019-06-25 06:11] abbasidaniyal commented on #35022
`$ lipo -info flutter
Architectures in the fat file: flutter are: x86_64 armv7 arm64 `

`$ flutter doctor -v
[✓] Flutter (Channel beta, v1.6.3, on Mac OS X 10.14.4 18E227, locale en-GB)
    • Flutter version 1.6.3 at /Users/daniyalabbasi/flutter
    • Framework revision bc7bc94083 (5 weeks ago), 2019-05-23 10:29:07 -0700
    • Engine revision 8dc3a4cde2
    • Dart version 2.3.2 (build 2.3.2-dev.0.

[2019-06-25 06:11] rashedmyt commented on #35032
@JamesKarl can you try what's mentioned here https://github.com/flutter/flutter/issues/6207#issuecomment-418595627 and report back

[2019-06-25 06:12] jonahwilliams commented on #34987
You cannot override window, but you can wrap your application in a [`MediaQuery`](https://api.flutter.dev/flutter/widgets/MediaQuery-class.html)  that overrides the devicePixelRatio.

[2019-06-25 06:12] #34987 closed

[2019-06-25 06:14] kangwang1988 commented on #35035
@djkloop
Is your device locked down?
You can check as below:
[code]

[2019-06-25 06:14] jonahwilliams commented on #34996
If you're building for the web you need to use the HtmlWebSocketChannel, see the documentation of https://pub.dev/packages/web_socket_channel.

[2019-06-25 06:14] #34996 closed

[2019-06-25 06:15] jonahwilliams commented on #34848
Flutter supports what the platform it is running on supports. It looks like there is an experimental web bluetooth api available on browsers: https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API

[2019-06-25 06:15] #34848 closed

[2019-06-25 06:16] ashishlanghe90 commented on #33415
Same issue is with me...unable to open flutter in iOS
Did you resolve it..?

[2019-06-25 06:16] kangwang1988 commented on #35032
The utf-8 issue seems not related to #6207
@JamesKarl Can you try to debug the flutter_tools to see which kind of log is causing the utf8 issue, it appears from time to time. However, I can't diagnose it as i can't reproduce it.

[2019-06-25 06:17] jonahwilliams commented on #34977
I think the spirt of this issue is captured in https://github.com/flutter/flutter/issues/23801? I think it would be more helpful to comment there on what particular kinds of borders would be useful to you

[2019-06-25 06:18] abbasidaniyal commented on #35022
https://github.com/abbasidaniyal/Demo

I made a demo repo. You can have a look!

[2019-06-25 06:21] rashedmyt commented on #35015
https://github.com/flutter/flutter/blob/master/packages/flutter_tools/templates/app/.gitignore.tmpl#L25
It is already added to the default `.gitignore` for `flutter create`

[2019-06-25 06:31] kangwang1988 commented on #34797
A detailed log to install usbmuxd in my mac is below:
[code]
FYI @tliwyl  Check if /usr/local/Cellar/usbmuxd is actually existing in your mac.

[2019-06-25 06:33] kangwang1988 commented on #34795
@heitorklaus
Paste `flutter doctor -v` and a self-contained demo project which can reproduce your issue please.

[2019-06-25 06:34] kangwang1988 commented on #34783
@dovandu

Setting => My app => Background refresh => disable.
Any idea please?

Paste `flutter doctor -v` and a self-contained minimal demo project which can reproduce this issue please.

[2019-06-25 06:35] thaitanloi365 commented on #34997
Yes, but the problem is preview image take 1-2 seconds to load with high resolution, so I would like to pause camera and show 2 options cancel/retake.

[2019-06-25 06:35] thaitanloi365 commented on #34997
Yes, exactly. Please help.

Thanks

[2019-06-25 06:37] kangwang1988 commented on #34775
@mcxinyu
Can you give more details about your scenario which `add Flutter to existing apps` wiki can't solve your problem?

[2019-06-25 06:38] kangwang1988 commented on #34787
@kris1919
Can you provide a self-contained demo project which can reproduce your issue?

[2019-06-25 06:40] kangwang1988 commented on #34957
Duple of https://github.com/flutter/flutter/issues/34797

[2019-06-25 06:40] #34957 closed

[2019-06-25 06:42] mariaszek9003 commented on #32941
That's right. I'm searching for example with platform channel messaging in reverse direction (from native to flutter) but I can't find anything.

[2019-06-25 06:49] kangwang1988 commented on #34940
@SethuSenthil
If your project is a 'add to existing app', paste content for buildSrc/src/main/groovy/FlutterPlugin.groovy
Otherwise, paste content for app/build.gradle please.

[2019-06-25 06:52] MuthuSubramaniam opened #35039 "Trying navigating to Next screen from Login screen, getting error Another exception was thrown: There are multiple heroes that share the same tag within a subtree."
In my Login Page
[code]

[2019-06-25 06:59] carmel commented on #34814
$ flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel stable, v1.5.4-hotfix.2, on Microsoft Windows [Version 6.1.7601], locale zh-CN)
[√] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[!] Android Studio (not installed)
[√] VS Code (version 1.33.1)
[√] Connected device (1 available)

! Doctor found issues in 1 category.

[2019-06-25 06:59] kangwang1988 commented on #34950
FileSystemException: FileSystemException: Cannot copy file to 'C:\Users\bened\Desktop\flutter_appkkk\ppp\build\app\outputs\bundle\app.aab', path = 'C:\Users\bened\Desktop\flutter_appkkk\ppp\build\app\outputs\bundle\app.aab' (OS Error: Le processus ne peut pas accéder au fichier car ce fichier est utilisé par un autre processus.
, errno = 32)

Is the app.aab used by another process?

You can quit a

[2019-06-25 07:13] NGhebreial commented on #19458
Yeah, I don't have access to a macOS so I can't develop the plugin for iOS as well...
as @decentcamper said, hope they fix it

[2019-06-25 07:14] Dominic12 opened #35040 "Flutter crashes on iOS because of GL"
## Steps to Reproduce

With Google maps on the newest version, switch fast between Tabs. This will crash the application.

This is probably related to [Issue](https://github.com/flutter/flutter/issues/31152) and this [PR](https://github.com/flutter/engine/pull/9377) but this seems not to fix the underlying issue.

## Logs

[code]

My plugins

[code]

[code]

[2019-06-25 07:21] DDDrop commented on #22299
[code]

[code]

[2019-06-25 07:28] MilkPowder opened #35041 "Failed assertion: line 1999 pos 12: '!_debugLocked':"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-25 07:32] vargavince91 commented on #34993
And do you know why it changed, why did it work before?

[2019-06-25 07:35] rahulraj64 opened #35042 "Official support for Raspberry PI 4"
Would like to see Flutter officially running on the latest **Raspberry PI 4** device. Heard someone ported Flutter on an old Raspberry PI device. But we need official support along with the mobile, desktop and web with minimal configuration setup. This will be a game changer in the competitive field of IOT.

Since Flutter is capable of drawing beautiful UI and performing network operations, I can

[2019-06-25 07:38] ymback commented on #34993
https://github.com/flutter/engine/commit/2c9e37c34e79475bbde7c8163eb5e56cdb9662a1

[2019-06-25 07:44] darkmarthur commented on #21496
Same here

[2019-06-25 07:47] naveenyadav15 commented on #13566
We can just do this:
[code]

[2019-06-25 07:52] vargavince91 commented on #34993
Thanks @ymback, the messages in https://github.com/flutter/engine/pull/8830 really helped understanding the context.

[2019-06-25 07:59] KshetriDeepen commented on #8094
Solution for Xcode:

Install Xcode (get it from https://developer.apple.com/xcode/)

Ensure Xcode app is in the /Applications directory (NOT /Users/{user}/Applications).

Point xcode-select to the Xcode app Developer directory using the following command:
sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

Note: Make sure your Xcode app path is correct.

Xcode: /Applications/Xcode.app

[2019-06-25 08:03] jkmathew commented on #35008
Yeah its related to #34215, But my case there is no autofocus in picture. Can reproduce with any TextField.

If we delete all characters then its not showing up the menu, if there is at least a space, menu is showing.

[2019-06-25 08:07] GaryQian commented on #22061
@adrianvintu The API specifies the behavior, and my comments are my best attempt at concisely conveying why the API is designed that way, after talking with the android team about it. I am not aware of any public reference that formally documents the reasoning process of this part of Android, but if I come across it, I will be sure to link it.

Unfortunately, there isn't too much I'm able to do ab

[2019-06-25 08:18] putrautama007 commented on #34980
@ketanm
can flutter connect to an API that uses an API with the HTTP1.1 protocol version?

[2019-06-25 08:38] FuXinLisc opened #35044 "about Using container ClickEvent"
ask：How to distinguish between click blanks and children's click events------container
this widget  container   is  really important  but  why can not  distinguish between click blanks and children's click events?

[2019-06-25 08:55] JunusErgin commented on #34922
I'm having the same issue. I guess after updating to the flutter version `1.7.8`.
I'm using  Dart 2.4.0; Windows 10; Android Studio.

[2019-06-25 09:04] x4080 commented on #29782
@potatoker thanks for replying

[2019-06-25 09:06] native-app opened #35045 "[iOS] The font is stick together"
Some letters stick together on Cyrillic SanFrancisco when using FontWeight w900 or w800.
(no problem with Helvetica, Android Roboto)

Tried on stable and master channels.

[code]
<img width="315" alt="Screen Shot 2019-06-25 at 11 24 51 AM" src="https://user-images.githubusercontent.com/44177192/60084425-2a9acd00-9740-11e9-97a1-598e9ab5f1ad.png">

  • Flutter version 1.7.10-pre.10
  • Framework rev

[2019-06-25 09:07] phamnhuvu-dev commented on #27141
I have a sample use inject.dart for the flutter. Can I show it in your repo?
https://github.com/phamnhuvu-dev/Mobile-Architecture/tree/master/flutter/flutter_bloc_pattern/base_flutter_bloc_pattern

And I have a flowing question:
With a constructor have the optional parameter, injector_generator always return null for the function DemoScreen provide.
[code]

I have to remove it and all is ok.
[code

[2019-06-25 09:21] vanelizarov commented on #33909
@timtraversy in VSCode 1.35.1 with Flutter plugin 3.1.0 there are no problems. Maybe your launch config in `.vscode/launch.json` is broken?

[2019-06-25 09:21] Peet-A commented on #35042
it will be great to have an official support for that , i need it in the next project .

[2019-06-25 09:26] kangwang1988 commented on #32008
Duple of: https://github.com/flutter/flutter/issues/24600

[2019-06-25 09:26] #32008 closed

[2019-06-25 09:32] marico-sun commented on #19392
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter doctor

## exception

ArgumentError: Invalid argument(s): join(null, "Applications"): part 0 was null, but part 1 was not.

[code]

## flutter doctor

[code]

[2019-06-25 09:33] kangwang1988 commented on #30351
Standard error: xcrun: error: active developer path ("/Applications/Xcode.app/Contents/Developer") does not exist
Use sudo xcode-select --switch path/to/Xcode.app to specify the Xcode that you wish to use for command line developer tools, or use xcode-select --install to install the standalone command line developer tools.
See man xcode-select for more details.

git check failed because of xcode i

[2019-06-25 09:35] kangwang1988 commented on #28850
@SudharsanKrishnamoorthy
What's the result for ` C:\Program Files\Android\Android Studio\jre\bin\java.EXE -version` when calling from the cmd window?

[2019-06-25 09:45] vikasgola commented on #28780
@JocelynDavid have you signed the apk?

Unsigned apks can't be installed on Android without adb.

[2019-06-25 09:56] benedicte69 commented on #34950
:) thanks, may be it was. I do not remember. I was trying to editing bundles in AS and I have been invited to send this error. So I sent it. 

Envoyé depuis Yahoo Mail pour Android

  Le mar., juin 25, 2019 à 9:02, KyleWong<notifications@github.com> a écrit :
FileSystemException: FileSystemException: Cannot copy file to 'C:\Users\bened\Desktop\flutter_appkkk\ppp\build\app\outputs\bundle\app.aab',

[2019-06-25 10:03] ricardobrg commented on #18409
If you don't have root access, you can debug the app in Xcode. At least you can check the debug messages and rebuild the app to check the changes, since hot reload won't work.

[2019-06-25 10:05] Loopex2019 commented on #34498
Great I will try . If it succeed , I will tell

[2019-06-25 10:10] c0h1b4 commented on #19458
There are several "old" bugs like this one that looks like they will never be solved and are being closed by bots. This is why the total of bugs on the project are sky rocketing.

I fear for the future of the Flutter framework.

[2019-06-25 10:11] c0h1b4 commented on #32651
Still waiting for some help of the Flutter team.

[2019-06-25 10:14] fgalindo opened #35048 "App in release mode not working properly: no icons or assets. White screen when disconnected."
The app crashes in different ways **when run on a real Android device in release mode**.

First time found when I published the first test version to Google Play (in internal testing mode) and found a white screen (splash screen).

Then tested with `flutter run --release` and the assets where not loaded, but the app kept working.

Then reduced the problem to its minimum and found that the demo app

[2019-06-25 10:15] umupub commented on #34549
Try to Flutter the SDK to upgrade the latest version.

[2019-06-25 10:34] SpectralKH commented on #35027
@kangwang1988 Could you please elaborate? I don't really get what you mean

I'm not sure why you're mentioning ~/android/xxx.keystore, as I'm talking about <app dir>/android/key.properties, which the [Flutter documentation](https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app) tells you to create and not commit.

[2019-06-25 10:42] rconcrown commented on #5917
On Windows ANDROID_SDK_ROOT nor ANDROID_HOME work!!
(I couldn't try system environment, only user environment)

Only "flutter config --android-sdk Path/to/sdk" did help!

[2019-06-25 10:48] Lemmynjash opened #35049 "type '_Type' is not a subtype of type 'Widget'"
I am having this problem

[code]
I am getting that error on this class

[code]

I am getting the error from the above class on this line below

[code]

What am i doing wrong.
Thank you.

[2019-06-25 10:49] fangli commented on #30621
Same error, reproducable.

[2019-06-25 10:55] TheHemantKaushik commented on #14655
I found the cause of this issue. My app is working fine and transaction is running successfully on fresh install. It is happening only when I hot reload/restart app.

Can you please check and confirm if same is happening with you?

[2019-06-25 10:59] TheHemantKaushik commented on #14655
I'm sure this is a bug. This is only happening when we reload/restart app.

[2019-06-25 11:01] calvinmuller opened #35050 "Tapping appbar no longer scrolls to top"
# Steps to Reproduce
1. scroll to bottom and attempt to tap that app bar
Expected - scroll to top
Current - nudda

[code]
## Logs

Nothing

[code]

[2019-06-25 11:12] jazzbpn opened #35051 "Image grid views gallery with header inside list view reload the grid-items every time when we scroll the view."
Please check out this stack overflow question link:

https://stackoverflow.com/questions/56752140/image-grid-view-with-header-inside-list-view-reload-the-image-list-every-time-wh

**Note: Problem also occurs when we only use GridView with no headers.**

[2019-06-25 11:13] calvinmuller commented on #35050
I guess this is is related to iOS 13 - it works on simulator running iOS 12.2.

[2019-06-25 11:38] parth22 commented on #34969
thanks

[2019-06-25 11:40] jul1u5 commented on #32691
This is no longer the case and can be closed.

[2019-06-25 11:40] adrianvintu commented on #22061
Thank you @GaryQian, i am making a ticket to collect other tickets regarding this and hopefully introduce a new API.

[2019-06-25 11:41] timsneath commented on #35015
Doh! Rookie mistake from an experienced PM :) thanks - I somehow missed this.

[2019-06-25 11:41] #35015 closed

[2019-06-25 11:41] adrianvintu commented on #35034
Related tickets
https://github.com/flutter/flutter/issues/29431
https://github.com/flutter/flutter/issues/27988
https://github.com/flutter/flutter/issues/24494
https://github.com/flutter/flutter/issues/24968
https://github.com/flutter/flutter/issues/22061
https://github.com/flutter/flutter/pull/22221

Also related
https://github.com/flutter/flutter/issues/28426

Maybe related
https://github.com/fl

[2019-06-25 11:46] DanTup commented on #32651
@c0h1b4 am I understanding this correctly?

- The first time you run everything is fine
- After you stop the debug session, it leaves a process (`mobiledev`) hanging around
- Subsequent runs will fail with the error above
- Terminating the `mobiledev` process fixes things (back to the start, where you can run once, but then you see the issue again)?

If so, does this repro from the command line (w

[2019-06-25 11:53] adrianvintu commented on #35034
I think (Flutter beginner here, 10+ years Android) there are 2 APIs:

1. IMPLEMENTED `SystemChrome.setEnabledSystemUIOverlays` - this is **not** making the app fullscreeen, but it uses graphics to draw over the status bar.
2. NOT IMPLEMENTED `getWindow().setFlags(WindowManager.LayoutParams.FLAG_FULLSCREEN, WindowManager.LayoutParams.FLAG_FULLSCREEN);` One liner to actually make the app successfuly

[2019-06-25 11:59] madqueendany commented on #35049
`myObject` should be an `Instance` of a widget.

so instead of
[code]

it should be

[code]

Widgets should be `TitleCase`d as well.

[2019-06-25 12:25] leonardop21 commented on #34879
Hello, @kangwang1988, thank you for your response. Where do I enter the code? I got confused.

[2019-06-25 12:28] dutyk commented on #34992
@override
  Widget build(BuildContext context) {
    return new Container(
      height: 700,
      child: new DefaultTabController(
        length: myTabs.length,
      child: new Scaffold(
        appBar: PreferredSize(
          child: AppBar(
            backgroundColor: Colors.white,
            bottom: new TabBar(
              tabs: myTabs,
              controller: _tabController,

[2019-06-25 12:30] dutyk commented on #34992
@override
  Widget build(BuildContext context) {
    return new Container(
      height: 700,
      child: new DefaultTabController(
        length: myTabs.length,
      child: new Scaffold(
        appBar: PreferredSize(
          child: AppBar(
            backgroundColor: Colors.white,
            bottom: new TabBar(
              tabs: myTabs,
              controller: _tabController,

[2019-06-25 12:30] dutyk commented on #34992
`@override
  Widget build(BuildContext context) {
    return new Container(
      height: 700,
      child: new DefaultTabController(
        length: myTabs.length,
      child: new Scaffold(
        appBar: PreferredSize(
          child: AppBar(
            backgroundColor: Colors.white,
            bottom: new TabBar(
              tabs: myTabs,
              controller: _tabController,

[2019-06-25 12:31] dutyk commented on #34992
`
@override
  Widget build(BuildContext context) {
    return new Container(
      height: 700,
      child: new DefaultTabController(
        length: myTabs.length,
      child: new Scaffold(
        appBar: PreferredSize(
          child: AppBar(
            backgroundColor: Colors.white,
            bottom: new TabBar(
              tabs: myTabs,
              controller: _tabController,

[2019-06-25 12:41] yousifk commented on #21682
@sestegra
Thanks so much ... I do it .bat script
I will share it at github

[2019-06-25 12:52] setetresvezes commented on #27254
Thank you!!!

[2019-06-25 12:52] c0h1b4 commented on #32651
Let me clear the questions:

1. No, the first time I run the app on iOS, it launches the app and halts on the splash screen, after waiting a little, the HttpException appears. Then I need to unplug the device/kill the mobiledev process;
If I check the 1024 port before running the app, I can see that no process is using it, with a clean answer from lsof -n -i4TCP:1024. After running, I see the foll

[2019-06-25 12:57] c0h1b4 commented on #32651
Just checked on Android Studio after reboot and with 2 Android devices connected and the issue is gone on Android Studio. It seems to be isolated to VS Code and terminal 'flutter run' only, by now.

[2019-06-25 13:00] Martibis commented on #21384
Been having this problem as well, AnimatedSize lets me animate between BoxConstraints() and BoxConstraints(maxHeight: 150) without throwing errors, with AnimatedContainer I get the error: " Cannot interpolate between finite constraints and unbounded constraint"

[2019-06-25 13:00] c0h1b4 commented on #32651
Just stopped the app on Android Studio, quit Android Studio, checked the 1024 port (it is clean), started VS Code and run the app:

Stuck on splash screen.

Launching lib/main.dart on iPhone Mauro in debug mode...
Automatically signing iOS for device deployment using specified development team in Xcode project: 3F9J2TRCP3
Xcode build done.                                            5.9s
Error conn

[2019-06-25 13:01] dangerousHobo opened #35052 "Flutter upgrade fails with TLS error on Linux"
## Steps to Reproduce

Run:
[code]

## Logs

[code]
[code]

## Flutter Doctor
[code]

[2019-06-25 13:02] DanTup commented on #32651
Thanks for the info - I was thinking that VS Code might be terminating Flutter in a way that it's not cleaning up properly, but that doesn't explain why it wouldn't work the very first time or why it happens from the terminal.

I don't have an iPhone unfortunately to test here (and if I understand correctly, it only happens with a physical iOS device?). I'm curious about the mobiledev process - do

[2019-06-25 13:04] DanTup commented on #32651
Can you get a tree of process that includes `mobiledev`? (For ex. does it show in the tree when running `code --status`). Also, when you open VS Code does the `mobiledev` process show up before you press F5 to run, or only once you try running?

[2019-06-25 13:18] ozrsrk opened #35053 "TextField render problem"
Screenshot: http://www.memsis.biz/public/flutterisu/flutterisu.jpg

App Code
[code]
**v1.7.9**
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel dev, v1.7.9, on Microsoft Windows [Version 10.0.17134.829], locale tr-TR)

[!] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
    ! Some Android licenses not accepted.  To resolve this, run: flu

[2019-06-25 13:19] signshah commented on #31162
@kf6gpe I haven't worked on the app since so long but I heard that flutter team has fixed the issue. Now with the flutter master channel it should work. I will try and update the post whenever I get time. Thanks for your time.

[2019-06-25 13:19] signshah commented on #28550
@DuskMount Hey it looks like it got fixed for me as well. Now I am not seeing the issue.

[2019-06-25 13:19] #28550 closed

[2019-06-25 13:27] Tonku commented on #2058
any update on this ?

[2019-06-25 13:27] dannyvalentesonos opened #35054 "[Add2App] It's possible to lose the ability to input characters using the keyboard on Android"
Using the new embedding API for Android to embed Flutter in an existing app, it is possible for the app to stop taking input from the keyboard.

The following simple Flutter module code will create a TextField.

1. Launch the Flutter module in the existing app
2. Start typing text in the field
3. With focus still in the field, background the app using the Home button
4. Come back to the app. Notic

[2019-06-25 13:28] timtraversy commented on #33909
In Android Studio it only fails when I use debug mode. No obvious errors, just hangs on the launch screen and never fully opens.  https://gist.github.com/timtraversy/2b50fa7963b87afafab01c817affe50b

[2019-06-25 13:30] djkloop commented on #35035
@kangwang1988
![image](https://user-images.githubusercontent.com/21050914/60102483-6067a200-9790-11e9-9b87-7d81bec9e5fd.png)

[2019-06-25 13:37] huuchi207 commented on #32131
have the same issue. Hope any one help.

[2019-06-25 13:43] matte5031 commented on #12114
Altough native ads would be ideal, in the meantime I'd be happy if they could just fix this in their firebase_admob plugin which has the following limitations:

**"Banner ads have limited positioning functionality. They can be positioned at the top or the bottom of the screen and at a logical pixel offset from the edge."**

If they could fix that atleast we all could show ads in a "native" kind of

[2019-06-25 14:05] dangerousHobo commented on #35052
Tried on Windows 10 and I get the same error:

[code]

[2019-06-25 14:08] mrg250 commented on #34581
Thank you!
This does solves my problem !

_**NOTE**: this prevent the camera being centered to the pin upon clicking_

[2019-06-25 14:09] mcxinyu commented on #34775
@kangwang1988 I think there are a variety of options available to solve this problem.  Flutter was developed as a new functional module, but the current access method will destroy the development process of the original project. My colleagues have to follow the installation of flutter development environment and learning related knowledge.

[2019-06-25 14:09] #34581 closed

[2019-06-25 14:10] jmeinlschmidt commented on #24378
In order to get `idToken` you must download new `google-service.json` and replace the old one right after you add the `SHA-1` hash to your Firebase Console. Otherwise, `idToken` will return `null`.

[2019-06-25 14:13] #34854 closed

[2019-06-25 14:16] rickdroio commented on #34040
is there any update?

[2019-06-25 14:18] c0h1b4 commented on #32651
Ok, I got your advice and followed the white rabbit on "mobiledev".
This is where it comes from:
https://github.com/imkira/mobiledevice

It looks like it is installed by homebrew on the Mac.

I will try uninstalling it and check if Flutter still works.

And the mobiledev process does not show up before F5.

[2019-06-25 14:25] lukepighetti commented on #20438
Unfortunately it looks like this is doomed to die inside the constraints of a corporate environment. I can only speak for myself when I say that native Lottie support would really set Flutter apart from the competition and make for an extremely compelling solution. But I'm just beating a dead horse at this point.

[2019-06-25 14:35] evaldobratti commented on #27674
The problem seems to be that the animation keeps running, opening the drawer fully, without breaking the `0.5` treshold in `DrawerControllerState._move`, the callbacks are not called and the view is not compatible with the state.

[2019-06-25 14:35] timtraversy commented on #33909
Never mind, it stopped happening when I uninstalled and reinstalled the flutter dependencies (libimobile, idevice, usbmuxd)

[2019-06-25 14:38] adriancmurray commented on #20438
What about requesting direct support from AirBnB? Similar to how the flutter team worked directly with square... just a thought that might help move things in a forward direction...

[2019-06-25 14:38] juliengit2 commented on #34902
what do you mean by 8.0? android api 28 you mean?

[2019-06-25 14:44] ketanm commented on #34980
It should not be an issue. Are you using a correct package? Please see this documentation to ensure usage is correct - https://flutter.dev/docs/cookbook/networking/fetch-data

[2019-06-25 14:48] HadiSDev commented on #34954
Yes I did. Can I see your dependencies also in dev.
@zekihocanet

[2019-06-25 14:51] HadiSDev commented on #34954
@wangjue666 probably a dependency problem. Can I see your pub yaml file

[2019-06-25 14:52] dark-chocolate commented on #27235
@sjoenk Please show your +1 support by putting a thumbs up to the issue, that adds more priority to the issue.

[2019-06-25 14:53] ketanm commented on #35053
@ozrsrk

I have not looked into your code but curious after changing the channel to dev, did you run upgrade - `flutter upgrade` or `flutter pub upgrade`?

Since this is a common issue, so want to make sure it was done.

ref: https://flutter.dev/docs/development/tools/sdk/upgrading

[2019-06-25 14:58] ozrsrk commented on #35053
Yes
 flutter upgrade and  flutter pub upgrade

[2019-06-25 15:03] martinory commented on #21969
The android_alarm_manager works well when not having AndroidX-compatibility added. When migrating to AndroidX, it doesn't work. The solution looks more like a workaround to me. This solves the **PlatformException (PlatformException(error, registrar.activity() must not be null, null))**-issue, but then I get exceptions about that other plugins are not registered in the main thread.

[2019-06-25 15:08] mattermoran opened #35057 "Text widget dynamic amount of lines in a Container or SizedBox with fixed height"
I would like a Text to render as many lines as can fit in a parent height. So let's say I have a container with height of 50px and I want a long text inside to render 5 lines and then do ellipsis. But if my Text widget have maxLines: 6 then 6th line will get cut off. I would expect that if 6 lines don't fit it should render 5 lines only. I want it to be dynamic because my container height could be

[2019-06-25 15:10] justinmc commented on #35008
Ok got it.  I'll make sure that any solution over there handles this case too if possible.

[2019-06-25 15:10] FrankFang commented on #16957
@fralways  Yeah. agreed. I am a newbie to Flutter and Dart, but I can't figure out a better way :)

[2019-06-25 15:15] umutseven92 commented on #19078
@creativecreatorormaybenot As per [the documentation](https://pub.dev/documentation/cloud_firestore/latest/cloud_firestore/Source-class.html), _serverAndCache_:

I think what @stemuk is asking for is _cacheAndServer_, where Firestore tries to retrieve from the cache first, and goes to the server only if no up-to-date data is found in the cache.

[2019-06-25 15:17] justinmc commented on #9507
I tried it and 3d touch on the cursor starts dragging the cursor, and 3d touch elsewhere either moves the word or starts selection.

[2019-06-25 15:19] c0h1b4 commented on #32651
Ok, after uninstalling mobiledevice, flutter stopped to work. So it is an essential part of it.
I reinstalled and it got back to the same issues.
So after checking again on Android Studio and VS Code, I confirmed that on Android Studio, all the mobiledev processes are killed and on VS Code, one is left:

before stop (vs code):
COMMAND     PID  USER   FD   TYPE             DEVICE SIZE/OFF NODE NAME

[2019-06-25 15:22] Gaganindoriya commented on #9241
I am getting the same problem though I am running it on the real device, I created a fresh project and run the command "flutter run" from the terminal.

[2019-06-25 15:24] gdxz123 opened #35058 "Crash, HttpException: HttpException: , uri = <>/android-arm64-profile/darwin-x64.zip"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter --no-color --no-version-check precache

## exception

HttpException: HttpException: , uri = https://storage.googleapis.com/flutter_infra/flutter/8dc3a4cde2075a4f5458fd0eb199627f5124508d/android-arm64-profile/darwin-x64.zip

[code]

## flutter doctor

[code]

[2019-06-25 15:29] shihaohong commented on #35053
@ozrsrk Thanks for sharing sample code and flutter doctor's output. Could you check the screenshot link again? It seems to not be working for me

[2019-06-25 15:36] djkloop commented on #35035
@kangwang1988
It’s my own problem, I don’t have a trusted computer... I’m sorry.

[2019-06-25 15:36] #35035 closed

[2019-06-25 15:38] aeriu commented on #26945
Same here as well. "Lost connection to device." immediately after launch. Debugging is not working.
Even after downgrading to 1.5.0 I get the same error message!

[2019-06-25 15:45] ketanm commented on #34994
@shihaohong
Sorry, without looking at code or more information about what is going on it is hard to suggest.

Shared image seem to indicate TextSyle related issue, specifically background color. See [TextStyle](https://api.flutter.dev/flutter/painting/TextStyle-class.html) docs.

If you do not use `Image` or whatever you did then does it render correctly? IF so then share added code that is causin

[2019-06-25 16:00] souzadenis commented on #31116
@joao-rafael  The same error occurred when run on windows prompt. So I tried to run on flutter_console.bat which is inside the flutter directory. And so I succeeded.

[2019-06-25 16:03] daniel-v commented on #26945
I too experienced this. Tried mostly everything I could find on the internet. Tried

* `NO_PROXY=127.0.0.1,localhost; flutter run -v`,
* turned off debugging over WiFi in XCode
* killed iTunes and disabled syncing
* switched cables (original iPhone cables)
* switched iPhones (both iPhone X, iOS v 12.3.1)

*Versions:*

Mac OS Mojave 10.14.5
XCode 10.2.1
MacBook Pro 2016
iOS 12.3.1
Flutter 1.5.4, Fl

[2019-06-25 16:08] praveenb commented on #33559
I faced the same issue which fixed after running this

gradlew flutter:assembleRelease

Hope It may help somebody

[2019-06-25 16:21] amirh opened #35060 "Better error handling for Android view creation failures"
Right now an error message is logged, and following touch events are passed to the platform view leading to more errors(as we are sending touch events to a non existent view).

[2019-06-25 16:24] daniel-v commented on #26945
Update:

after killing all docker related services and removed the networks created for docker, the error has changed from `lost connection to device` to `Error connecting to service protocol`.

![error](https://user-images.githubusercontent.com/2668320/60115555-79fbf000-9776-11e9-930a-11e10b36b0a3.png)

[2019-06-25 16:35] eseidelGoogle commented on #19458
The problem with this bug was that we were never able to get the bug as reported to reproduce for one of the engineers working to fix it. :)

In that state, we had to simply spend our time on other bugs instead.

If someone is still experiencing issues with EXIF (which I certainly could believe), please file a new bug with clear reproduction steps, including the Dart code used to see the issue as

[2019-06-25 16:38] MisterJimson commented on #33302
For me, both with and without `--dry-run` requires both `pub pub`

[2019-06-25 16:44] jckpn commented on #32442
Just noticed this in my app too, using a GridView. Happens on both my Pixel 2 and Razer Phone, in debug and release.

I tried adding code to prevent it by listening for the offset and calling jumpTo(), but the app still freezes and needs to be stopped.

`var _pos = searchScrollController.offset.round();

  if (_pos < -screenHeight / 12)
    searchScrollController.jumpTo(-screenHeight / 12);

  if

[2019-06-25 16:51] amirh commented on #19718
@joelbrostrom haha thanks 😄  no need for a piggy bank though, I'm (and the other people working on this are) motivated enough, and it does look like we're getting close to solving this issue(technically I'd say that at this point the general keyboard problem for embedded Android views is solved, though I'm assuming most of the thumb ups here are from people interested in webview keyboard so keepin

[2019-06-25 16:55] xperiafan13-rom commented on #34691
Sorry, but no, same error

[2019-06-25 16:59] cyanglaz commented on #34691
@xperiafan13-rom Could you provide a sample mini app to reproduce the issue?

[2019-06-25 17:10] grouma commented on #34235
I am unable to reproduce this using Chrome 75 on Windows 10 with the latest `WebDev` version `2.1.0`. Please upgrade. If you can reproduce please give exact reproduction steps with sample code.

[2019-06-25 17:10] #34235 closed

[2019-06-25 17:10] jonahwilliams commented on #29436
Closing as duplicate of https://github.com/flutter/flutter/issues/29867

[2019-06-25 17:10] #29436 closed

[2019-06-25 17:12] christopherfujino commented on #26158
Closed as a duplicate of #29867

[2019-06-25 17:12] #26158 closed

[2019-06-25 17:14] cyanglaz opened #35062 "iOS platform view clip path: Find a better approximate for conic path"
Quartz doesn't support conic path. We currently uses quad to approximate conic which can be inaccurate when the weight value is far away from 1. eg. weight = 0.1 or weight = 2.

We need to find a better way to approximate conic path using quartz.

[2019-06-25 17:16] jonahwilliams commented on #15552
Perhaps we could download the dart sdk to temp and only copy it to bin cache once it is done

[2019-06-25 17:21] jonahwilliams commented on #16438
I think this has been fixed with the updates we made to update-packages last year, and I haven't seen anything like this since.

[2019-06-25 17:21] #16438 closed

[2019-06-25 17:24] jonahwilliams commented on #17554
These files are all correctly gitignored in the flutter project templates, and we don't expect this to work for a number of different file types. Detecting all of the potential differences is far out of scope of what we can or should do in the tool

[2019-06-25 17:24] #17554 closed

[2019-06-25 17:26] jonahwilliams commented on #23675
Without more information here we won't be able to diagnose any further issue. We've significantly changed how attaching/running on iOS devices works since the original issue was filed, so I'm going to tentatively close as fixed.

[2019-06-25 17:26] #23675 closed

[2019-06-25 17:27] jonahwilliams commented on #20544
I think this has since been fixed? https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/commands/attach.dart#L267

Tentatively closing.

[2019-06-25 17:27] #20544 closed

[2019-06-25 17:29] mehmetf commented on #31796
Is this a blocker or critical? The internal Android bug is marked as P2.

[2019-06-25 17:30] marcglasberg opened #35064 "TextField maxLines should be a double, not an int."
We need to be able to define a fractional maximum number of lines for a TextField. When using an integer number of lines, and there is a lot of text, the user will only see a few of the lines and may think that there are no more.

On the contrary, if you define, say 5.5 lines, and there are in fact, say, 10 lines, the user immediately notices that there is more text to the bottom. In other words,

[2019-06-25 17:33] jonahwilliams commented on #31196
Closing as this should have been fixed on the latest stable

[2019-06-25 17:33] #31196 closed

[2019-06-25 17:33] marcglasberg commented on #35064
@justinmc Justin, I was expecting this would make into your PR, but since it did and the original issue was closed, I'm opening this new issue. I'd ask you to please consider including this small change if you happen to touch that code again. Thanks.

[2019-06-25 17:35] mg64775 commented on #31547
How to downgrade all dependencies, same issue for days... is 3.4.1 better

[2019-06-25 17:45] jonataslaw commented on #12114
Flutter is awesome, but I will not wait until January 01, 2033 to have native ads. That's funny, it's really funny, it's 2019, and to have such a relevant role, we'll have to wait for our grandchildren to be born (in 2033 there may not even be "Android" and "IOS" technology has renewed every decade) have native ads.

[2019-06-25 17:46] christopherfujino commented on #24600
We should be handling this exception in the flutter tool

[2019-06-25 17:47] tvolkert commented on #34545
Based on initial discussion in the PR, the most recent idea is to deprecate `AsyncSnapshot.data` altogether in favor of an `AsyncSnapshot.value` property, which will throw if there's an error.  The thought is that it forces all developers to make a change, and in so doing, they'll be curious as to the difference between the old `data` and the new `value`, and upon discovering the difference, they'

[2019-06-25 17:52] gaaclarke commented on #32937
It seems like a lot of our rendering initialization that has to happen happens as a result of layout subviews.  We are waiting to get dimensions before setting up rendering.  For some things that is a true dependency, but not for all of them.  One alternative is potentially de-tangling that dependency and try to do more work at viewWillAppear.

https://github.com/flutter/engine/blob/54f88ab5da4d0f

[2019-06-25 17:55] maskaravivek commented on #30245
I am also looking for similar functionality. It would be great if someone can comment about future plans regarding this.

[2019-06-25 18:04] KARIMSUNEEL commented on #34912
Hi, I have the below result.

Last login: Sat Jun 22 19:38:49 on ttys000
(base) Suneels-MBP:~ suneel$ xcode-select -p
/Applications/Xcode.app/Contents/Developer
(base) Suneels-MBP:~ suneel$

[2019-06-25 18:09] justinmc commented on #35064
I think this is a breaking change unfortunately, even if it is a minor one.  People may have subclassed classes like TextField that have `maxLines` properties.

This is a compiler error:

[code]

I will keep a link to this issue and remember to advocate for this if Flutter starts accepting breaking changes, like for a new major version.

[2019-06-25 18:11] sceee commented on #16013
I am facing the same issue with RichText:

In general it would be great to have a `driver.getWidget(finder)` method that would allow to access some properties of the returned "widget" that could allow manual comparison of some content of the widget.

[2019-06-25 18:13] sendwich commented on #26945
Tried all of these, still can't debug on a physical device.

Solutions??

[2019-06-25 18:22] marcglasberg opened #35068 "Exception while typing stuff randomly into a TextField"
This exception was thrown while I was typing stuff randomly into a TextField:

[code]

[code]

[2019-06-25 18:23] AliShehab93 opened #35069 "Cannot write in text field"
[code]

[2019-06-25 18:24] wemped commented on #31086
@liyuqian @tvolkert
Thanks so much for your continuous help, those docs are great. Feels like I'm very close to getting this working, but having trouble figuring out how to prepare the host flutter engine build.

https://github.com/flutter/flutter/wiki/Compiling-the-engine
On step 3 in `Compiling for iOS (from macOS)`, I did what @liyuqian suggested before and ran `./flutter/tools/gn --ios --enabl

[2019-06-25 18:25] HilalHakla commented on #33668
I think you need to use Builder class in order to preserver the context

[2019-06-25 18:28] ozrsrk opened #35070 "RawKeyboardListener is losing focus"
Hello there,
I'm making a barcode application that works on the TC56DJ device using Flutter. My goal is optional
I'm adding a small code example below.
Problem when a popup is opened in the application or when focus enters into a TextField widget
RawKeyboardListener is losing focus.

[https://drive.google.com/file/d/1kmigtPDPjcLnewnLaVtymLsiXPrUU0A4/view](url)

**CODE**
===========================

[2019-06-25 18:31] TecHaxter opened #35071 "Google Map crashes Android App - Flutter"
The Error showed when I logged in again, each time:
[code]
Code :
[code]

When I removed GoogleMap Widget the code worked perfectly fine, so I again checked code inside GoogleMap e.g _onMapCreated function and the error was the same.
So I believe the error is only from GoogleMap Widget.

[2019-06-25 18:39] babulpatel1309 commented on #20797
Yes, @bparrishMines  I am suffering from the same issue. Currently I'm trying with the above solution by switching between channels. Switched from stable to master. Is there any solution for that?

[2019-06-25 18:52] issam1975 opened #35072 "using aar library in a flutter project"
hey guys,

is there a way to import and use an aar library in a flutter project .

for reference i want to use the sinch.com sdk
https://www.sinch.com/docs/resources/downloads/index.html

any idea or help is welcome

apparently there is a way to import the aar library so reuse the java code in a flutter project but i am not completly sure

thanks

[2019-06-25 19:06] rashedmyt commented on #35071
most crashes occur due to not giving permissions in `AndroidManifest.xml` or `Info.plist` and your phone or emulator

[2019-06-25 19:09] 0init commented on #32573
same problem here!
seems that it is sending the hot reload signal but I don't see the changes in the iPhone emulator.
thank you!

**flutter doctor -v logs**

`[✓] Flutter (Channel stable, v1.5.4-hotfix.2, on Mac OS X 10.14.5 18F132, locale
    en-GR)
    • Flutter version 1.5.4-hotfix.2 at /Users/Dimitris/Developer/flutter
    • Framework revision 7a4c33425d (8 weeks ago), 2019-04-29 11:05:24 -070

[2019-06-25 19:28] shrike69 opened #35077 "Crash on quit in Flutter Desktop on macOS"
## Steps to Reproduce

1. Build and run my FDE application.
2. Quit the application

The macOS application shell (the macOS app that's hosting Flutter) crashes maybe 1 or 2 times out of 10. Attaching a screenshot of the backtrace.

![Screen Shot 2019-06-24 at 10 46 04 AM](https://user-images.githubusercontent.com/35853497/60127254-954e0780-9744-11e9-8058-21637f165ad9.png)
![Screen Shot 2019-06-24

[2019-06-25 19:34] GaryQian commented on #33642
So I tried a bunch of combinations of keyboards, text fields, and settings and I was unable to repro the crash you are seeing.

Do you think you can provide me with your exact setup/code and exactly what you typed/pressed in order to get it to crash?

[2019-06-25 19:38] shrike69 opened #35078 "The window contents flash red sometimes when I resize my FDE application on macOS"
## Steps to Reproduce

1. Launch my FDE application on macOS
2. Continually resize the window

Here's a link to a movie that shows the flashes: https://drive.google.com/file/d/1yy-kFkl6gtiTOqeNBotSYDjaeCGtJcMW/view?usp=sharing

## Logs

[code]

[code]

[code]

[2019-06-25 19:38] liyuqian commented on #31086
@wemped : you need to symlink `ln -s host_profile host_profile_metal` or `ln -s host_debug host_debug_metal`. Find **symlink** in https://github.com/flutter/flutter/wiki/Compiling-the-engine for more details.

@yunyu : we just fixed the deprecation warning issue in https://github.com/flutter/engine/pull/9383. Can you please pull the newest engine and see if it succeeds?

[2019-06-25 19:47] PerLycke commented on #9984
@eseidel As you pointed out the issue with the warning after uploading to AppStore, was this suppose to fix this? I still get the warning even after this was merged. Now this is closed, and the issue pointing directly to the warning issue is also closed. Everything closed but hopefully not forgotten as my CEO still believes something is wrong with our app (he gets the warning email too) :D

[2019-06-25 19:52] cbracken opened #35079 "Support --observatory-host setting"
This tracks b/136008961.

The usecase is to use Flutter Driver to inspect and interact with the UI in end-to-end tests on a remote device. The request is to pass a flag to the embedder to override the default value of 127.0.0.1 / ::1.

[2019-06-25 19:59] gaaclarke commented on #32937
I was able to eliminate the black frame by forcing the main thread to synchronize on the gpu when it is presenting the view:

https://gist.github.com/gaaclarke/c9c7d306315aa4755a3d81ac60bb9cbc

I have to clean it up and make a more compelling PR for it.  This will be another controversial change from my read.

[2019-06-25 20:00] blasten commented on #35028
Closing this issue since it's a dup of #31962

[2019-06-25 20:00] #35028 closed

[2019-06-25 20:06] eseidelGoogle commented on #9984
My understanding is this issue is not fixed, since I also still get an email warning every time we publish Flutter's own example apps. :/

@collinjackson, @amirh do you know?

[2019-06-25 20:08] eseidelGoogle commented on #9984
Actually, it's very possible this is fixed on master, but not on `stable` or `beta` and it's possible that we're just currently releasing our example apps from one of those (and that @PerLycke your company is also releasing from a stable/beta branch and thus don't have the fix yet)?

[2019-06-25 20:12] kf6gpe opened #35080 "Not able to login; observing a scenic crash in the serial log"
Mirror issue for https://fuchsia.atlassian.net/browse/DNO-581. Conversation should appear on the linked issue, please.

[2019-06-25 20:16] PerLycke commented on #9984
Posted the above after I released from dev earlier today to see if it was fixed, but still got the warning email. So not fixed in dev where this is merged @eseidelGoogle

[2019-06-25 20:22] blasten commented on #34308
This was already fixed. Closing.

[2019-06-25 20:43] cyanglaz commented on #9984
This fix should start at flutter v1.7.0

[2019-06-25 20:52] LongCatIsLooong commented on #34969
@miDeb thank you for helping out! Closing.

[2019-06-25 20:52] #34969 closed

[2019-06-25 20:53] PerLycke commented on #9984
I got the warning email using:

[2019-06-25 21:01] amirh opened #35081 "AdMob banner ads integrated into a Flutter widget tree"
Split off https://github.com/flutter/flutter/issues/12114

Users are would like to embed a [AdMob banner ad](https://developers.google.com/admob/android/banner) as part of the Flutter widget tree (vs. the current approach taken by the firebase_admob plugin which is to overlay the banner ad on top of the Flutter UI in a pre-set position).

[2019-06-25 21:03] pujitm commented on #15415
Btw if anyone is struggling with this:

Create a separate entry point under `test_driver` and pass it to `flutter drive` like so:
`flutter drive --target=test_driver/test_main.dart`

This entry point *should* have `enableFlutterDriverExtension();`

Then, remove `enableFlutterDriverExtension();` from `main.dart`

[2019-06-25 21:06] amirh opened #35082 "Support AdMob Native Ads Advanced in overlays"
Split off https://github.com/flutter/flutter/issues/12114

This issue tracks adding support to overlay [AdMob Native Ads Advanced](https://developers.google.com/admob/android/native/start) ads on top of the Flutter UI (similarly to how banner ads are currently overlaid: e.g it shows in a pre-set position and on top all of the Flutter UI).

While obviously being able to embed native ads is a better

[2019-06-25 21:09] amirh opened #35083 "Pure Flutter support for Native Ads Advanced"
Split off #12114

Users would like to use Flutter widget for rendering AdMob [Native Ads Advanced](https://developers.google.com/admob/android/native/start) ads.

Note: Native Ads Advanced is only available to a limited set of approved app developers(publishers)

[2019-06-25 21:11] PerLycke commented on #9984
@cyanglaz Didn't see your edit before I posted. No, I don't see that in the console. Just this annoying email from Apple. If there is anything else I can try to help please let me know

[2019-06-25 21:20] mdebbar opened #35086 "Text with clips and transforms incorrect"
The `clips multiline text against stack of rects` Scuba test, when used with `BitmapCanvas` produces the following screenshot:

![image](https://user-images.githubusercontent.com/1278212/60134266-f9c49300-9753-11e9-839f-7564c23fa2a3.png)

That's not correct. The text is shifted up more than it should. The same test, when run with the new multi-line drawing on canvas, we get the correct result:

![

[2019-06-25 21:26] timtraversy commented on #35078
That link is not public.

[2019-06-25 21:30] timtraversy commented on #34629
This is same as https://github.com/flutter/flutter/issues/34925 I believe.

[2019-06-25 21:30] timtraversy commented on #34925
Can everyone thumbs up this issue if you experience it? That's how issues are prioritized.

[2019-06-25 21:34] cyanglaz commented on #9984
@PerLycke Hmm. it seems like my fix only fixed the log. Apple would still send email even if the delegate methods are implemented dynamically.
One thing you can do to workaround it for now until we fix it is to enable the push notification capability for your iOS app.
You can follow here https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_bac

[2019-06-25 21:36] masewo commented on #19718
@amirh Thank you! [flutter/engine#9423](https://github.com/flutter/engine/pull/9423) fixed the issue for me on master channel.

[2019-06-25 21:40] amirh commented on #12114
Thanks everybody for providing your feedback.

There are multiple features and potential solutions discussed in this thread, I'm splitting this to multiple issues to better understand the community demand, please add your thumb up to the issue/s you care about.

### Supporting [Native Ads Advanced](https://developers.google.com/admob/android/native/start) by embedding a platform specific native ad

[2019-06-25 21:41] ton2536 commented on #29907
ขอช่วยหน่อย

[2019-06-25 21:43] jingjiewei commented on #33114
我能。

As @a371166028 said, this issue will not happen in release apk

[2019-06-25 21:47] christopherfujino commented on #34974
Hi @tliwyl, thanks for opening this issue! Can you post your `flutter doctor -v` output after the `brew install --HEAD usbmuxd` invocation? Also, can you also paste the output of `ls $(brew --prefix usbmuxd)` (it should have the binary executable `iproxy`)?

[2019-06-25 21:52] bencalabrese commented on #34409
With a little tinkering, removing the clip in `Dismissible` produces the desired behavior for my app. The clipping doesn't appear to do anything useful at first glance. It's very possible that I'm missing something though.

There some funky behavior with that change if some portion of the child is transparent and covers the background. That said, I would hazard that it's not the typical case to ha

[2019-06-25 21:53] RaresMihalcea commented on #35083
Thank you Amirh for digging deeper into the admob native ads support for Flutter feature request. Personally I believe this is what thread https://github.com/flutter/flutter/issues/12114 was trying to achieve. The other scenarios of overlaying the native ads ui over the flutter ui or embedding it in the widdget tree were just workarounds that the comments were trying to figure out due to the lack

[2019-06-25 21:55] cbracken commented on #35079
Fixed in flutter/engine#9485.

[2019-06-25 21:55] #35079 closed

[2019-06-25 21:57] RaresMihalcea commented on #35082
If any kind of native ads support can be achieved in a relatively short timeframe then I believe that voting for this is worthwhile.

[2019-06-25 22:01] matte5031 commented on #35081
Yes please!!

[2019-06-25 22:02] Hixie commented on #35080
(currently blocked on existing work)

[2019-06-25 22:03] blasten commented on #18494
We have updated our docs to indicate how you can build APKs with 32-bit and 64-bit binaries. https://flutter.dev/docs/deployment/android#building-the-app-for-release .

Please use the `dev` channel: `v1.7.9` or above.  The team is working to promote the latest changes to beta by this Friday (06/28/2019).

[2019-06-25 22:03] #18494 closed

[2019-06-25 22:25] HansMuller opened #35088 "Upcoming Material Library Features"
This issue represented material library work we'd planned to undertake from July-September 2019. It has been replaced by a [new similar issue that covers October-December 2019](https://github.com/flutter/flutter/issues/43035). If you're interested in voting or commenting on our latest plans please review https://github.com/flutter/flutter/issues/43035.

During the period covered by this issue we a

[2019-06-25 22:37] mklim commented on #33855
The remaining offset I was seeing isn't a problem within flutter itself. It's a minor bug from how the bounds are set in `tiles.cc` and should be resolved there once [296090](https://fuchsia-review.googlesource.com/c/fuchsia/+/296090) lands.

[2019-06-25 22:37] #33855 closed

[2019-06-25 23:07] Hixie commented on #34641
@kf6gpe @matthew-carroll Can you reach out to @dannyvalentesonos to see if they still have the video so we can see if we can reproduce this?

[2019-06-25 23:09] matthew-carroll commented on #34641
@Hixie I believe the video has already been shared with the appropriate developer.

[2019-06-25 23:10] jonathanagosto commented on #29649
Any update on this? I have a similar issue when I try to open a dropdown/select pop up dialog. At least in my case, this is an Android issue only, IOS works fine.

[2019-06-25 23:15] Hixie commented on #31962
We're about to ship a stable release (within the next three weeks) that will have the updated API, after which stable and master will once again have the same API here so packages and plugins will operate the same on master and stable as far as this goes.

[2019-06-25 23:17] Hixie commented on #31796
@mehmetf It was marked as blocking customer:mulligan by @alanrussian .

[2019-06-25 23:18] iskakaushik commented on #34641
@Hixie I received the video. Thanks @matthew-carroll and @dannyvalentesonos .

[2019-06-25 23:22] GaryQian commented on #34538
https://github.com/flutter/engine/pull/9489 is a more formal fix that I have verified fixes exactly this.

[2019-06-25 23:24] liyuqian opened #35089 "Run all binaries/benchmarks in engine presubmit tests"
This should be easily fixable by modifying `run_tests.sh` or `.cirrus.yml`. We'll figure out how to store and use the benchmark data later. Running them could at least guarantee us that nothing is unexpectedly broken or deleted.

Some binaries/benchmarks that are currently not exercised are:
* txt_benchmarks
* shell_benchmarks
* fml_benchmarks

(there may be more)

[2019-06-25 23:25] tyl0r commented on #34925
Thanks, I didn't see that open issue. I upgraded to the dev channel. I'm on version 1.7.9. I tried `flutter clean && flutter run` and I'm still experiencing the 'Lost connection to device' error. I haven't tested whether or not #32143 is fixed by updated to the dev channel

[2019-06-25 23:26] liyuqian commented on #35089
CC @cbracken @chinmaygarde @iskakaushik @GaryQian

[2019-06-25 23:30] yieniggu opened #35090 "Persisting user on device"
Hello, currently I made my first flutter app so there are things still uncertain for me. One of them is if there is a way to store the user in the device or construct it from information stored there, first to be able to get a new token to send http requests to my firebase backend adn second to maintain a login session until the user hits logout.

Thanks for any answer!

[2019-06-25 23:41] volkanatalan commented on #24645
For me, I deleted flutter sdk folder. While creating a new flutter project there is an "Install SDK..." button. I installed the sdk with this button and it worked.

[2019-06-25 23:42] dnfield commented on #35038
I have not been able to find a clear regression point around this - partly because reproducing the bug is a bit manually intensive and sensitive to how much I scroll or zoom on the app.  I suspect, however, that we won't find many single large jumps.

What I have found is that we're not responding to memory pressure events to purge Skia's caches, which should be pretty fixable.  We also arbitraril

[2019-06-25 23:47] dnfield opened #35091 "Engine cache sizes should be capped based on screen resolution"
E.g. in gpu_surface_gl.cc, we should be setting the byte size resource limit based on physically available memory, perhaps something like:

[code]

The current value is too high for low end devices with 1gb of ram or less. This will also requiring some kind of platform independent way of determining avialble physical memory (or something meaningful for a given platform anyway).

[2019-06-25 23:48] dnfield commented on #35038
https://github.com/flutter/flutter/issues/35091

[2019-06-26 00:10] cyphernull commented on #31116
Well. I fixed this by removing every single piece of Android Studio files along with Android SDK and other things downloaded by Android Studio  and reinstall it.

[2019-06-26 00:13] collinjackson commented on #9984
I put some ideas for a potential solution into flutter/engine#9488

@PerLycke would you be willing to try patching your engine with this change and submit your app and let us know if you still get the warning?

https://github.com/flutter/flutter/wiki/Compiling-the-engine

[2019-06-26 00:14] pakyo-pan commented on #33642
@GaryQian  it only crashes when you `flutter run`. @scofield-hello Have you solved this problem yet?
1. using the code samples below
2. `flutter run` (not `hot restart`)
3. delete the password and it will crash

[code]
The mobile phone I use is Huawei P9.
![3751561507230_ pic_hd](https://user-images.githubusercontent.com/13342613/60141581-96387500-97e8-11e9-9975-638cd25953dc.jpg)
The keyboard is l

[2019-06-26 00:21] scofield-hello commented on #33642
@pakyo-pan It's only crashed at Huawei devices after I upgrade the flutter sdk to 1.7.4

[2019-06-26 00:22] wemped commented on #31086
@liyuqian
pulled the most recent changes, ran through all the steps in compiling the engine just to be sure

`flutter run --profile --local-engine=ios_profile_metal -d XXX-XXX`

gives me this error
[code]

[2019-06-26 00:30] pakyo-pan commented on #33642
@GaryQian Thank you for your patient reply. Can you try the example code above on a HUAWEI device ?

[2019-06-26 00:37] sayurikunugi commented on #34774
I changed to use,
  image_picker: ^0.6.0+10
, and my problem solved.
Closed for me.

Could be related to this issue.
https://github.com/flutter/flutter/issues/32315

[2019-06-26 00:41] timtraversy commented on #34925
Hm! The status of that fix is unclear to me, I haven’t been a able to test yet

[2019-06-26 00:41] matthew-carroll commented on #35054
I was able to repro this issue with the new embedding. I believe I have a fix - it will require a framework PR and an engine PR.

The root cause is that the old embedding kept `FlutterActivity` and `FlutterView` around the entire time the application is in memory, along with the Flutter execution context.

The new embedding detaches the Flutter execution context (`FlutterEngine`) from `FlutterActi

[2019-06-26 00:42] chinmaygarde opened #35093 "Make libTXT test and benchmark runs identical on Mac and Linux."
Currently, those harnesses can only be run on Linux because of the OpenType shaper on Linux vs CoreText on Mac. We can use OpenType on Mac and CoreText on iOS for size instead and make the host builds match.

[2019-06-26 00:57] minh98 commented on #35028
I think it's very different from my issue

[2019-06-26 01:26] pxc0215 opened #35094 "Issue from website page 编写您的第一个 Flutter App"
From URL: https://www.flutterchina.club/get-started/codelab/index.md

"当用户滚动时，会生成一新批名称。" 应该为 ”当用户滚动时，会生成一批新名称。“

[2019-06-26 01:29] appjitsu commented on #34824
Yep. That is what it was. Thanks for your help.

[2019-06-26 01:34] alexelisenko commented on #30709
@stuartmorgan I see that there was something merged to master for MacOS, but I wanted to confirm if this is now working? If not, any ETA on this would be greatly appreciated.

[2019-06-26 01:38] chunhunghan commented on #33114
Close this issue since release apk do not have this problem. Thank you for your kind help.

[2019-06-26 01:38] #33114 closed

[2019-06-26 01:40] JamesKarl commented on #35032
@kangwang1988 I am sorry for delay. It worked well before I upgraded Xcode to 11.0 beta (11M336w) and Mac OS to 10.15 Beta (19A471t). It still works well in my workmate's build environment(Mac OS too) with the exact same code base.

I am sorry that I don't know how to debug the flutter_tools. Could you supply some tutorial or steps on how to debug flutter_tools? thank you very much.

[2019-06-26 01:47] kangwang1988 commented on #35094
Closing this issue as the website not maintained by flutter team.

[2019-06-26 01:47] #35094 closed

[2019-06-26 01:48] JamesKarl commented on #35032
@rashedmyt  Thank you for your support. #6207 is "Run as a release on Ubuntu 16.04 / libstdc++.so.6 reported missing".  But I am working on Mac OS to 10.15 Beta.

[2019-06-26 01:48] franciscojma86 commented on #30709
This change was merged into the framework in [this commit](https://github.com/flutter/flutter/pull/34466).

You can now copy and paste strings into/from the system clipboard, but there are no keyboard shortcuts for it yet.

[2019-06-26 01:50] kangwang1988 commented on #34824
@appjitsu
Can this issue be closed now, as it seems working now.

[2019-06-26 01:52] appjitsu commented on #34824
Yes. Thanks.

[2019-06-26 01:57] stuartmorgan commented on #35077
Since it's on quit, I wonder if this is a race between engine shutdown and the background drawing.

[2019-06-26 01:57] stuartmorgan commented on #35078
Duplicate of #30671.

[2019-06-26 01:57] #35078 closed

[2019-06-26 02:00] stuartmorgan opened #35095 "Flutter view needs to update when backing store scale changes"
From https://github.com/google/flutter-desktop-embedding/issues/439:
"On MacOS, when I move my app between two screens with different densities ( retina to non retina ), the UI is not automatically rebuild.
Things get back to normal only after manually resizing the app window."

We need to implement the callback for backing store property changes, and send a new metrics event.

[2019-06-26 02:02] stuartmorgan commented on #34930
@gspencergoog The stack suggests this is hover-related.

[2019-06-26 02:21] stuartmorgan commented on #34949
Duplicate of https://github.com/flutter/flutter/issues/30725

[2019-06-26 02:21] #34949 closed

[2019-06-26 02:21] epebojot commented on #19359
Thanks! Finally solved

[2019-06-26 02:21] stuartmorgan commented on #30725
See #34949 for some more specific cases that should be supported.

[2019-06-26 02:24] MattGson commented on #31035
Exact same problem. Only some child widgets seem to be supported.

[2019-06-26 02:27] JamesKarl commented on #35032
@kangwang1988
I tried the solution mentioned in #6207 which could not solve my problem. My build environment is Mac OS 10.15 Beta,  Xcode to 11.0 beta.

rm -rf flutter/bin/cache
flutter doctor -v

[!] Flutter (Channel stable, v1.5.4-hotfix.2, on Mac OS X 10.15 19A471t, locale en-CN)
    • Flutter version 1.5.4-hotfix.2 at /Users/jameskarl/devenv/dart/flutter-stable
    • Framework revision 7a4c334

[2019-06-26 02:38] philippDerDieDas commented on #35090
That's Not an issue!

You have to figure it out yourself.
You could use the shared preferences library to save the token as string.

See https://pub.dev/packages/shared_preferences

[2019-06-26 02:43] epebojot commented on #18938
I know the solution about this, just copy or move any file related to your android sdk or flutter sdk to a name without space, after, change the user variable, then open flutter_console.bat
You should not see this:

c:/users/My Name With Space

instead a name without space...

[2019-06-26 02:44] epebojot commented on #18938
Change the user varible including the path

[2019-06-26 02:53] dannyvalentesonos commented on #35054
Thanks for confirming this @matthew-carroll. Could the following issue we've found be related to this kind of thing as well? With a PageView widget that snaps its scrolling to page boundaries, if you start scrolling, and while you're in the middle of a scroll, hit the home key to background the app, when you come back, the scrolling can either snap back after you touch the widget again, or it can

[2019-06-26 03:11] jingjiewei commented on #23929
I also stuck in this error for quite a long time when trying to implement fire_message ^5.0.4 , and solved it by following:
1. migrate a Flutter app to AndroidX, follow steps in https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility#not-recommended-manually-migrate-your-app
2.  add multiDexEnabled in app\build.grade
[code]
[code]

[2019-06-26 03:11] kika commented on #25355
@Piinks Not reproducible anymore

[2019-06-26 03:11] #25355 closed

[2019-06-26 03:15] putrautama007 commented on #34980
yes I have used the correct package
http package

[2019-06-26 03:16] jingjiewei commented on #23131
if you got an runtime error after doing these steps. check this and add the missing steps
https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility#not-recommended-manually-migrate-your-app

[2019-06-26 03:20] dutyk commented on #34992
is this ok?

[2019-06-26 03:21] epebojot commented on #18938
Working. Actually most of guys gives a lot of solution, but the main topic is about the android sdk inside appData

[2019-06-26 03:45] NicTanghe commented on #34996
maybe mention it in the documentation.

[2019-06-26 03:46] TecHaxter commented on #35071
I have already gave permission in AndroidManifest.xml along with API key :
'<meta-data android:name="com.google.android.geo.API_KEY"
               android:value="YOUR-KEY-HERE"/>'

[2019-06-26 03:49] dnfield commented on #35038
As of https://github.com/flutter/engine/pull/9491 this should no tbe an issue - but can still be further improved by fixing the linked issue above.

[2019-06-26 04:07] icecreamco commented on #33511
I have a same problem, hope to fixed it quickly~

[2019-06-26 04:16] KojiSato1215 opened #35096 "Unable to launching application on"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-26 04:17] KojiSato1215 opened #35097 "Error launching application on iOS simulator"
I am unable to launch iOS simulator.
What would I do ?
[code]

[2019-06-26 04:17] #35096 closed

[2019-06-26 04:28] unreal0 opened #35098 "Could not find an option named "target-platform"."
*** flutter upgrade to 1.7.9 ***
Could not find an option named "target-platform".
delete "args": ["--target-platform", "android-arm64"]

build error

[2019-06-26 04:47] dovandu commented on #34783
[code]
this is my demo app:
https://github.com/dovandu/flutter_demo_app

[2019-06-26 05:22] Froelund commented on #34040
I just checked pub.dev, and it seems that two new versions has been published. I haven't tested those myself. I do see that @cyanglaz has been committing to the plugin since this issue has been created. This issue does seem critical :|

[2019-06-26 05:24] matthew-carroll commented on #35054
Seems possible that they're related. Do you think you could provide a video of the pageview scrolling issue? I think the solution will be different, but there might be a category of issues that we need to look at here.

[2019-06-26 05:24] xhw0525 opened #35099 "Lost connection to device(iOS)(It lasts only five seconds at a time and then disconnects.)"
...
[   +1 ms] Connected to _flutterView/0x101a0aca8.
[   +2 ms] 🔥  To hot reload changes while running, press "r". To hot restart (and rebuild
state),
           press "R".
[   +1 ms] An Observatory debugger and profiler on iPhone-v is available at:
http://127.0.0.1:1025/
[        ] For a more detailed help message, press "h". To detach, press "d"; to quit,
press "q".
 [+4998 ms] Service protocol

[2019-06-26 05:25] #35097 closed

[2019-06-26 05:29] xhw0525 commented on #34925
I have this problem, too.
This is my print.
[code]

[2019-06-26 05:40] jaumard commented on #34930
It append also on Linux, look like desktop related

[2019-06-26 05:48] TecHaxter commented on #35071
`    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
`
I have used Permissions.

[2019-06-26 05:50] sergiuiacob1 commented on #23619
Hey! Any plans on solving this? It's been a while since this was issued and there's no feedback. I have just encountered the same problem as well

[2019-06-26 06:01] matthew-carroll commented on #35054
@goderbauer @xster please take a look at @dannyvalentesonos's last comment. It's possible that we have a non-trivial issue with the platform/framework boundary now that Flutter's execution context can move between `FlutterActivity`s over time. If that problem proves to be generic in nature, we'll need to put our heads together about what an appropriate resolution looks like.

[2019-06-26 06:01] xhw0525 commented on #32143
https://github.com/flutter/flutter/issues/35099#issue-460766290

[2019-06-26 06:05] komapeb commented on #35081
I believe this affects most of the developers out there (considering native ads are limited to a set of approved publishers) and should be highest priority.

[2019-06-26 06:10] komapeb commented on #35083
@RaresMihalcea you're definitely not wrong IMO. I think this is what we all want, but for the time-being, implementing support for the easier-to-develop scenarios might be our best option, in order to avoid wasting time.

[2019-06-26 06:10] theochampion opened #35101 "Setting form field validator error text manually keeping animation"
Hi everyone,

I'm building a form in which I validate the inputs with an API call and therefore can't use the built-in `validator` function to set the error under the field.
I am aware that the error can be set manually via the `errorText` attribute but doing so get rid of the nice animation provided by the widget.

Is there a way to set the validator animation manually while keeping the animation

[2019-06-26 06:21] amake opened #35102 "Recent libusbmuxd version causes `flutter run` to lose connection to physical iOS device after a few seconds"
Executing `flutter run` on my Mac with an iPhone device target, 100% of the time the execution ends with "Lost connection to device", rendering hot refresh/reload, log monitoring, debugging, etc. unusable.

I managed to pin the cause down to a particular version of libusbmuxd:

- Loses connection 100% of the time: https://github.com/libimobiledevice/libusbmuxd/commit/ca24570992df0bd5a0c6be26439acb

[2019-06-26 06:22] BadReese commented on #34925
dev,beta,statble channel, got same result.

[✓] Flutter (Channel beta, v1.6.3, on Mac OS X 10.14.5 18F132, locale zh-Hans-CN)
    • Flutter version 1.6.3 at /Users/johnreese/Development/Flutter/SDK/flutter
    • Framework revision bc7bc94083 (5 weeks ago), 2019-05-23 10:29:07 -0700
    • Engine revision 8dc3a4cde2
    • Dart version 2.3.2 (build 2.3.2-dev.0.0 e3edfd36b2)

[✓] Android toolchain - d

[2019-06-26 06:30] amake commented on #34925
If you set up your Flutter environment recently (after June 13) you might be suffering from #35102.

[2019-06-26 06:39] najeira commented on #35099
same as #34629

Which version does this occur? Is it stable branch?

[2019-06-26 06:42] btbj commented on #34629
@timtraversy Just tested on my Mac, still keep losing connection for me.

I have run several times and several other projects on my Mac, all lost connection.
it could happened during file syncing process, cause sync error.

[code]

after several trials on starting app, sync process is finished, and just showing lost connection message as before

[code]

[code]

[2019-06-26 06:44] jamie1192 commented on #35102
I fall into this category, just got a new iMac at work and ran through the setup and am consistently getting "Lost connection to device" when running a debug build on both iPhone and iPad, while I don't have this issue on any other machine (2 other MacOS machines at home, another separate work Macbook)

[2019-06-26 06:48] amake commented on #35102
I should add that the current workaround is simply to roll back to the last known good version (`2501f51`). I can't provide guidance on how to do that with Homebrew, as I use MacPorts. I will have instructions for MacPorts shortly.

[2019-06-26 07:07] ashishsukhija commented on #12114
@matte5031 I tried 'https://pub.dev/packages/admob_flutter' with Android test Ads and so far I am thrilled the way Ads can be Added below Scaffold, into List view and solved most of the challenges i faced with not just other flutter admob plugins also with tech stack of react.js and Apace cordova. However I am just testing with AdMob test Ads and not confirmed about it in the production.

[2019-06-26 07:08] kris1919 commented on #34787
it should be 'push' a flutterViewController, if I use 'present',image_picker doesn't work.
thx a lot!

[2019-06-26 07:08] #34787 closed

[2019-06-26 07:13] ashishsukhija commented on #12114
@matte5031 I tried 'https://pub.dev/packages/admob_flutter' with Android test Ads and so far I am thrilled the way Ads can be Added below Scaffold, into List view and solved most of the challenges i faced with not just other flutter admob plugins also with tech stack of react.js and Apace cordova. However I am just testing with AdMob test Ads and not confirmed about it in the production.

[2019-06-26 07:14] 4F2E4A2E commented on #34246
I understand that now.

We will wait for the regular release in the main flutter project.

Thank you.

[2019-06-26 07:17] xster commented on #15552
Sure, seems reasonable.

[2019-06-26 07:29] tliwyl commented on #34974
I have resolve the problem by copy the  libimobiledevice folder and usbmuxd folder from anthor computer that has installed the --HEAD versions.But I still can not install the --HEAD version width brew. I can install libimobiledevice(usbmuxd ) without parameter '--HAED'.

[2019-06-26 07:32] FCLongIsBoy commented on #19718
flutter version V1.7.9 load url 'https://tg.tripg.com/universal/Travel/travelIndex/zh?appToIndex=1' error:"A parser-blocking, cross site (i.e. different eTLD+1) script, https://www.tripglobal.cn/tripgtest.php?_t=662, is invoked via document.write. The network request for this script MAY be blocked by the browser in this or a future page load due to poor network connectivity. If blocked in this pag

[2019-06-26 07:33] oodavid commented on #24865
@ollydixon GoogleMaps aren't a typical flutter widget - they're actually an embedded Android / iOS view (ala React-Native). It's unlikely to have Widget icons before a major refactor.

[2019-06-26 07:38] matte5031 commented on #12114
@ashishsukhija Ye I know the android test ad worked for me aswell, but the iOS did not. Therefor I would much rather prefer this to be included by the google maintaned plugin that already exists but lacks this atm

[2019-06-26 07:39] ollydixon commented on #24865
@oodavid thanks for the info, you could still use a stack-view in this circumstance though. As long as you have the markers meta info. Just an idea though. :-)

[2019-06-26 07:40] rolandbodenstaff commented on #34925
@amake this indeed seems to be the problem. I will try to provide downgrade steps but I am still new to brew. Maybe someone with more experience can help?

[2019-06-26 07:41] FCLongIsBoy commented on #19718
Could you please test this when it is released

[2019-06-26 07:42] ibrahim1990 opened #35103 "Localization - support for Central kurdish, locale 'ckb'"
Hi all,
 Iam from iraq when i use ( (Locale('ckb') Central kurdish ) in my app show me this error

- Warning: This application's locale, ckb_IQ, is not supported by all of its
- A MaterialLocalizations delegate that supports the ckb_IQ locale was not found

is it support ( ckb ) ? or not ?

thanks,

[2019-06-26 07:44] matthew-carroll opened #35104 "Step 3 in introduction to widget testing has wrong example code"
In step 3 of the following guide, the example code appears to be a mismatch with the text that introduces it:
https://flutter.dev/docs/cookbook/testing/widget/introduction

[2019-06-26 07:44] matthew-carroll commented on #35104
CC @sfshaza2

[2019-06-26 07:48] xhw0525 commented on #35099
"flutter doctor -v "
[code]

[2019-06-26 07:50] dannyZhou opened #35105 "flutter has exited unexpectedly when flutter upgrade --force"
[code]
$ cat flutter_01.log
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter upgrade --force

## exception

ProcessException: ProcessException: Process "git" exited abnormally:
fatal: ambiguous argument 'v0.0.0': unknown revision or path not in the working tree.
Use '--' to separate paths from revisions, like this:
'git <command> [<revision>...]

[2019-06-26 07:51] zukinaru commented on #24933
but How to get `FirebaseInstanceId`, seems it different to FCM token ?

[2019-06-26 07:53] qq326646683 opened #35106 "TextField set maxLength, the chinese pinyin will be cutted"
[code]

[code]

![Jun-26-2019 15-51-04](https://user-images.githubusercontent.com/15717688/60161505-4f6b6f00-982a-11e9-9894-3d372c0ff3f1.gif)

[2019-06-26 07:54] wagner1343 opened #35107 "Unexpected / Undocumented behavior with StatefulWidget on ListView"
As a newcomer to flutter, i've found my self struggling to understand why the ListView widget from my app was not updating its values correctly when a filter was applied.

The problem was that if used a StatefulWidget for rendering the list item, once i've applied the filter, the items that were on actual list of items, and the items showing on ListView woud not match. After a lot of frustating de

[2019-06-26 07:56] miguelcmedeiros commented on #35038
I have this memory issue in my app. I opened an issue in Flare repo since it's tightly coupled to the usage Flare. We somehow narrowed the root-cause to Skia and Flare team even devised a workaround (set limit of Skia cache usage).

It's great to see that a fix has landed. I'll give it a try once it lands in the framework.

[2019-06-26 07:58] rashedmyt commented on #35032
@JamesKarl looks like many are facing this issue.. #33909

[2019-06-26 07:59] dannyZhou commented on #35105
[code]

Because I am in china, you know, some network problem will occur, so, I need use `proxychains ` to avoid some network problem.

Other maybe useful information
1. `flutter version`   print nothing
2. `uname -a `  print `archlinux 4.14.90-1-lts #1 SMP Fri Dec 21 15:53:10 CET 2018 x86_64 GNU/Linux`
3. `git log -1` print
[code]

[2019-06-26 07:59] dnfield commented on #35038
Setting the cache limit is probably the right way to go right now.  We should come up with a better value for this based on device metrics.

[2019-06-26 08:00] bw-raiizz-a opened #35108 "Flutter and camera rotating the image (IOS)"
You guys have to fix this. In IOS when you use camera to take a photo, it rotates.
Also, if you try to use a photo from your albums, only the lower part shows.
User has no control over placing their photos.
We decided to use Flutter for our app based on what we read but now we are in big trouble because of this issue.

[2019-06-26 08:06] DanTup commented on #32573
Ah yes, I think I was confused a little by the above. It sounded like hot-reload-on-save was broken but hot-reload-by-clicking-the-button worked (which is puzzling).

However, I realise now that "clicking the button" is a bit ambiguous. There are two buttons on the debug toolbar - a lightning bolt (hot reload) and a restart button (hot restart). Clicking "hot restart" restarts your app, so you wil

[2019-06-26 08:15] DanTup commented on #32651
@c0h1b4 thanks, this helps! Could you capture a verbose log from VS Code?

- Run the **Dart: Capture Logs** command
- Tick just the Debugger/Observartory and Flutter Run categories
- Run your project (with F5)
- Click Stop
- Wait until the debug toolbar has disappeared, then a further few seconds
- Click **Stop Logging** on the logging notification (which has probably collapsed into the bell icon

[2019-06-26 08:24] xhw0525 commented on #35102
Thank you very much. I have repaired it.
Replace files in the "/usr/local/Cellar/usbmuxd" directory with colleagues

[2019-06-26 08:26] xhw0525 commented on #35099
hia~hia~, I fix it
see
https://github.com/flutter/flutter/issues/35102#issue-460782718

[2019-06-26 08:27] xhw0525 commented on #35099
Replace files in the "/usr/local/Cellar/usbmuxd" directory with colleagues,

[2019-06-26 08:33] xhw0525 commented on #34925
hahaha, It's all right. If you use it recently "brew install usbmuxd"
Replace files in the "/usr/local/Cellar/usbmuxd" directory with others,and It's OK

[2019-06-26 08:37] BadReese commented on #34925
@xhw0525 Execute me, replace files with what?
Is it the solution to fix losing connection ?

[2019-06-26 08:37] jongkb opened #35109 "[Material] Popup menu animation fidelity issue"
## Steps to Reproduce

This animation fidelity issue pertains to Flutter Material menu displayed by showMenu() or the menu shown by the PopupMenuButton widget.

Part I:
1. Launch Flutter Gallery app.
2. Enable [Slow motion].
3. Navigate to Material > Menus.
4. Open a menu and observe animation in slow-mo.
5. Close menu and observe animation in slow-mo.

Part II:
1. Open Material Design guideline f

[2019-06-26 08:43] daniilguit commented on #34994
What versuib of Flutter do you use? There was bug in 1.2 that looked exactlyt like this. It was fixed, please upgrade to latested Flutter 1.5

[2019-06-26 08:50] haibinpark commented on #34694
@Liuzhiyang94 ，Thank you for your reply, I tried your way,but I still can't ,The question remains.

[2019-06-26 08:55] trungvq commented on #34925
I can confirm that changing the version of usbmuxd works for me. I replaced files in "/usr/local/Cellar/usbmuxd" with files from same directory on my macbook (version HEAD-9efb174) and the issue has gone away

[2019-06-26 09:02] HYAdonisCoding opened #35111 "flutter has exited unexpectedly"
## Steps to Reproduce

1. run flutter attach -d 5a8c6e9e0a8c28bb1b21f7ad93a14533b2a0a6f1
2. Checking for advertised Dart observatories...
3. Oops; flutter has exited unexpectedly.Sending crash report to Google.

## Logs

[code]

[code]

[code]

[2019-06-26 09:11] kpsroka opened #35112 "Update the documentation of Semantics' onLongPress"
## Steps to Reproduce

A working repro is located at https://github.com/kpsroka/flutter_accessibility_demo/tree/onLongPress-Bug (notice the tag)

The core part of the problem is the [following](https://github.com/kpsroka/flutter_accessibility_demo/blob/onLongPress-Bug/lib/main.dart#L60-L72):

[code]

1) Launch on an iOS device with VoiceOver enabled, or on an Android device with TalkBack enabled.

[2019-06-26 09:12] NikitaZhelonkin commented on #18711
It can be this way:

[code]

[2019-06-26 09:14] octanstechnologies commented on #16103
Deleting all files inside flutter/bin/cache worked for me

[2019-06-26 09:14] xhw0525 commented on #34925
yes

[2019-06-26 09:17] artrmz commented on #27346
@bobatsar Are you sure you are on `beta` channel? I am on `dev` and I am still getting
[code]

[2019-06-26 09:18] BadReese commented on #34925
@xhw0525 thank you, I'll try and give a feedback

[2019-06-26 09:25] gazialankus commented on #32414
Does anyone know a hacky way to do this at the moment?

[2019-06-26 09:27] xhw0525 commented on #34629
It's all right. If you use it recently "brew install usbmuxd"
Replace files in the "/usr/local/Cellar/usbmuxd" directory with others,and It's OK

[2019-06-26 09:28] JunusErgin commented on #34922
Stetho is still working with the Flutter beta channel (1.6.3).

[2019-06-26 09:28] xhw0525 commented on #34629
原因是usbmuxd 最近的更新有改动,导致的
只需要替换"/usr/local/Cellar/usbmuxd"为以前的文件即可
git提交版本号不要变,只替换内容
文件可以从同事的电脑里copy

[2019-06-26 09:40] jgrandchavin commented on #34629
Do  "brew unlink usbmuxd", then "brew install usbmuxd" and it works 👌🏼

[2019-06-26 09:48] passol1988 commented on #26945
+1
Same issue here.

[2019-06-26 09:50] furkansarihan opened #35113 "OpenGL context as Flutter Widget"
*Note: I am not a OpenGL, OpenGLES, Flutter or Dart expert.*

I think something like this would be nice. OpenGL context with this level of abstraction.

[code]

[2019-06-26 10:36] KenAragorn opened #35114 "[web]: All Text displayed in DataColumn and DataCell is automatically bold upon mouse click outside that widget"
The following issue occur only upon clicking my mouse anywhere outside this widget.  There is no option to control it or reset it to 'un-bold' text display. The only way to reset it is, refresh my Chrome browser.

![flutter_datacell_issue](https://user-images.githubusercontent.com/14989228/60172924-49808880-9840-11e9-8c46-58c234c9ccd7.gif)

[code]

[2019-06-26 10:37] cuitao2046 commented on #17413
Looking forward to this feature for both android and iOS platforms!
Any plan so far?

[2019-06-26 10:39] JarvanMo opened #35115 "What's wrong with my AppDelegate"
I have written a flutter plugin and I have called:
[code]
And in my case, I have  to override the following functions in my `AppDelegate.swift`:
[code]

However, the following function in plugin can't be called back:
[code]

If I remove the function I override in my `AppDelegate.swift`,everything is ok.
How to handle this situation?

[2019-06-26 10:48] rolandbodenstaff commented on #34925
Can also confirm this fixes the issue. Keeping the issue open until the actual problem is fixed

[2019-06-26 10:51] zinwalin commented on #27933
Running Gradle task 'assembleRelease'...                           95.8s         ******************************************************************************** ***********                                                                      The Gradle failure may have been because of AndroidX incompatibilities in this F lutter app.

[2019-06-26 11:00] ThangLuuQuoc opened #35116 "[web] Implement "shared_preferences" plugin for web"
At now I can't use 'shared_preferences' plugin for flutter_web
I think it's important feature

[2019-06-26 11:02] alexelisenko commented on #30709
@franciscojma86 This is probably out of scope of this issue, but, how would one access the system clipboard without the keyboard shortcuts?

[2019-06-26 11:04] SaltumDis commented on #19595
Bug is fixed

[2019-06-26 11:09] Kiruel commented on #24703
Anynews on this issue ?

[2019-06-26 11:33] nimish17 commented on #30913
CrashlyticsCore.getInstance().crash()

Result : (Not getting crash report, check my logs)

2019-06-26 16:56:28.783 31789-31789/com.app.ulvms E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.app.ulvms, PID: 31789
    java.lang.ArrayIndexOutOfBoundsException: length=2; index=10
        at com.crashlytics.android.core.CrashTest.indexOutOfBounds(CrashTest.java:30)
        at com.crashlytics.an

[2019-06-26 11:39] hongShuShu opened #35117 "add flutter to ios APP, flutter side can not get result from 'setMethodCallHandler'"
## Steps to Reproduce

1.  add flutter to ios APP, flutter side can not get result from 'setMethodCallHandler'
2.  here is my code.
[code]

[code]

## Logs

[code]

[2019-06-26 11:41] Pracchi commented on #16957
there is "Spacer()" for that.It's really very helpful for the spacing
problems.

On Tue, Jun 25, 2019 at 8:42 PM Frank Fang <notifications@github.com> wrote:

[2019-06-26 11:54] moonljt521 commented on #33007
@AzarouAmine    fix my issue,thanks

[2019-06-26 11:54] sageata commented on #35028
I agree

[2019-06-26 11:57] xXUlquiXx commented on #34629
this work's for me, delete the old folder on "/usr/local/Cellar/usbmuxd" and then link the new one 1.0.10.1

[2019-06-26 12:01] esanthosh28 commented on #22610
can u please  update the solution...

[2019-06-26 12:03] iulian34 commented on #34619
One solution to start again your app is by changing your Bundle identifier, then start again implementation.

[2019-06-26 12:10] DK15 opened #35118 "TextFormField becomes unresponsive after flutter driver test is run"
While writing integration tests using Flutter Driver, I observed that if a test inputs `Email` and `Password` in `TextFormField` widget and completes remaining steps in the test and stops the application instance, next time if you try to open the target app and manually try to type something in same `Email` and `Password` fields, the fields becomes unresponsive and doesn't display any data.

## St

[2019-06-26 12:15] #35115 closed

[2019-06-26 12:19] Manpreet-Kaur14 commented on #21969
Thanks a lot for this. But I want to know that how *android alarm manager*
works on *IOS*. I did all the possible changes that I know but it doesn't
work.
My app is crash when I ran:

                 *AndroidAlarmManager.initialize();*

If you know that how this works. Then please guide me how I Execute this.

*Thanks & Regards*
Manpreet Kaur

On Tue, 25 Jun 2019 at 20:35, martinory <notification

[2019-06-26 12:22] parth22 commented on #14518
can you guide me how to use this plugin in android studio version 3.4.0 because i got this error in my studio.
![image](https://user-images.githubusercontent.com/13308845/60179357-27383c00-983b-11e9-958b-b6bbd42cd7a6.png)

[2019-06-26 12:34] rabihmb commented on #23549
I'm facing the same problem, the below code to open certain activity

[code]

it only open the app is running, so what shall I do in order to open the articleDetails when the app is closed?

[2019-06-26 12:36] ayushin commented on #14518
Yes it looks like it needs to be ported to the newer IntelliJ but the original authors seem to be quite passive... any takers?

Sent from my iPad

[2019-06-26 12:41] MithunMadhav1112 commented on #30183
@ahusseini  Have you been able to use the above approach successfully.. My Idea is to develop several small components as flutter widgets and then use them across projects as reusable subviews

[2019-06-26 12:46] dutyk commented on #34992
how to solve the problem

[2019-06-26 12:49] BeDaut commented on #33827
Same issue on stable channel

[2019-06-26 13:02] iomu opened #35119 "[google_maps_flutter] Crashing application with newer version of iOS Google Maps library"
When using the google_maps_flutter plugin with a newer version of the Google Maps iOS library (in our case 3.0.3) the application crashes after the map widget is disposed. This issue only happens on iOS.

## Steps to Reproduce

I haven't found a 100% reliable way to reproduce the crashes but what I usually did is navigating around the map (zooming, panning, camera animation etc.) and then doing an

[2019-06-26 13:11] juliengit2 commented on #19103
same issue for us, image_picker is not working anymore.

[2019-06-26 13:12] stefanpieck opened #35120 "flutter test --coverage throws Exception since flutter 1.5.4"
Running Flutter test with coverage leads to an  _NoSuchMethodError: The getter 'iterator' was called on null_ Error in _coverage_collector.dart_

## Steps to Reproduce

I can not tell what is required to Reproduce this issue.
After a Flutter Version from flutter 1.2.1 to flutter 1.5.4-hotfix.2 Update it appeared.

After some tryouts I found out that the issue does not occur when all usages of Imag

[2019-06-26 13:17] vitor-gyant commented on #25349
@zoechi Hello. Any news if this is something to be fixed shortly ? Any workaround meanwhile ? thanks!

[2019-06-26 13:17] jorgevvr commented on #33562
someone please??

[2019-06-26 13:24] riccardoratta opened #35121 "Segmentation Fault of the compiler when try to use const getter"
## Steps to Reproduce

1. Create an empty project
2. Add this class

[code]
3. Try to read the `length` parameter in any point of the project

[code]

## Logs

[code]

[code]

[2019-06-26 13:24] iomu commented on #35119
This might be the same issue as https://github.com/flutter/flutter/issues/31152 and https://github.com/flutter/flutter/issues/34509

[2019-06-26 13:33] WATER1350 commented on #35099
@xhw0525 it work

[2019-06-26 13:37] nsmith1024 opened #35122 "listen/send to the same isolate receive port from different classes"
Hello,

In a foreground GUI Widget im communicating with a background isolate using send/receive ports. But now it seems i may have to communicate with that same isolate from another GUI foreground Widget class too. Do i create another set of send/receive ports to the same isolate, or can i listen to the same same receive port from the other class, where now both classes are listening and communic

[2019-06-26 13:39] juliengit2 commented on #19103
![image](https://user-images.githubusercontent.com/35921399/60184602-a07a6380-9828-11e9-9f4a-a9a3c42b9135.png)

[2019-06-26 13:40] Sachinsowri commented on #34922
yes it's Working then why Not working in V1.7.+

[2019-06-26 13:45] juliengit2 opened #35123 "ImagePicker.pickImage(...) never returns on android"
The plugin doesn't work anymore.

Here is what I tried:

to change the flutter channel (I tried them all) : KO
to downgrade the plugin version : KO
to change the sdk version, 27 or 28, same result : KO
to clean the project + manually erase the build folder : KO
to pull the projet : KO
to reinstall Flutter (and to delete tmp files in .pub-cache) : KO
to add in mainActivity java file the method belo

[2019-06-26 13:59] fgalindo commented on #35048
OK, found this in https://github.com/flutter/flutter/wiki/Bad-Builds :

...
**v1.6.1 - v1.6.7**

**Android builds get stuck in the splash screen** after deploying an APK from an app bundle (generated using flutter build appbundle)

[2019-06-26 13:59] #35048 closed

[2019-06-26 14:12] davidlantrip commented on #35050
I've seen the same issue with flutter on both iOS 13 dev betas, it still work as expected with native apps though.

[2019-06-26 14:14] leonetosoft commented on #34905
Thank you for the contact @kangwang1988
This was the return after performing the process, did not understand anything, can you help me?

    ********** Crash dump: **********
    Build fingerprint: 'Android/T96/T96:7.0/NRD91N/20190411:userdebug/test-keys'
    #00 0x00044812 /system/bin/linker (__dl_strstr+25)
    #01 0x00004985 /system/bin/linker (__dl__Z21check_if_need_preloadPKc+8)
    #02 0x000

[2019-06-26 14:19] davidlantrip commented on #35026
The scrubbable scroll bar is iOS 13 would be nice to have. Since it looks like it's going to be the default behavior for UIScrollView, it would help maintain 'normal' iOS app expectations. It's also a pretty slick way to quickly go through a scrollview.

[2019-06-26 14:20] 99init commented on #32573
By restart button I was referring to the _hot restart_ button. When I was hitting the _hot reload_ button (or when I saved), I wouldn't see any change because of what I quoted above. Anyway, I left the post if anyone has the same issue and hasn't read that part of the docs. Thanks for your prompt response, nevertheless.

[2019-06-26 14:23] martinory opened #35124 "A RenderFlex overflowed in the whole application after running flutter upgrade"
I get "A RenderFlex overflowed..." in the whole application after running flutter upgrade. I reinstalled Flutter and Android Studio and the issue was still there. Is this a new permanent change or some local issue that I have? Everything has worked well until now. Can't find this issue elsewhere.

[code]

[code]

[2019-06-26 14:29] PieterAelse commented on #5422
TIL that text **IS selectable** in the Android app-switcher!?

Would Flutter devs please like to explain why this happens why any normal Text widget "doesn't support" text selection, but in Androids app-switcher it does?

[Demo movie: CLICK](https://www.dropbox.com/s/yd9sj4r93yuc5tw/Flutter_TextSelection.mp4?dl=0)

[2019-06-26 14:35] MetalDent commented on #35011
Hi, can I work on this issue?

[2019-06-26 14:37] creativecreatorormaybenot commented on #5422
@PieterAelse I bet that Android has some text recognition software that allows this.

[2019-06-26 14:38] dannyvalentesonos commented on #5422
That is a feature in Android N or O that uses text recognition to allow selection there.

[2019-06-26 14:39] MatyasK commented on #14209
I'm trying to use this in my application, but the built-in tags app keeps overwrite it when a tag is read it opens the tags app.
Any suggestion @matteocrippa ?

[2019-06-26 14:41] pravinarr opened #35125 "cloud_functions - How can I configure it to call localhost"
How can I configure the cloud functions plugin to call functions deployed locally.

This will help us during our local development process, since we do only EOD deployment.

Thanks in advance!

[2019-06-26 14:47] tvolkert commented on #35028
The original issue here was resolved by upgrading from `v1.5.4-hotfix.2` to the most recent build on the `dev` channel (per https://github.com/flutter/flutter/issues/35028#issuecomment-505282389).  Once that was done, OP ran into #31962.

Please let me know if I'm missing something - happy to re-open this if needed.

[2019-06-26 14:48] MetalDent commented on #16713
Hi, is anyone working on this issue?

[2019-06-26 14:49] shoxter commented on #29751
@PingShen @ibarrick Updating to the latest version of stable (1.5.4-hotfix.2) seems to have alleviated (no reports so far) if not eliminated the crashing we were experiencing.

[2019-06-26 14:50] praveenb commented on #33757
After lot of struggle, as per @mtallenca comment,
I changed Flutter channel to master.
current version showing is Flutter (Channel master, v1.7.10-pre.19,...)
And then deleted .android and .ios folders. Then Clicked on Package get in Pubspec.yaml.
Which creates .android and .ios folders.
Now, make changes in .android folder to Migrate to AndroidX. but not changed `packagingOptions` as said by @mta

[2019-06-26 14:53] ketanm commented on #34980
Hi @putrautama007,

Your posted code has exception handling and prints. Do you see any one of those on the console?

Did not see anything major in the code, except you can avoid resource leak by calling `httpClient.close()` etc. Let me know if you actually see anything on the console from this method. Original stack trace does not tell me which file this method is defined.

[2019-06-26 14:55] c0h1b4 commented on #32651
@DanTup
Here are the log gists:

Running the project with F5:
https://gist.github.com/c0h1b4/44ebd97c1d031a7cfb470467ffdbd7d0

Running the project from terminal:
https://gist.github.com/c0h1b4/c0759274aa895999c97e438a2422f4df

On both actions, I get the mobiledev process stuck on port 1024 after stopping the app.
COMMAND     PID  USER   FD   TYPE             DEVICE SIZE/OFF NODE NAME
mobiledev 884

[2019-06-26 14:58] HansMuller commented on #35103
Currently locale ckb is not supported, see https://api.flutter.dev/flutter/flutter_localizations/GlobalMaterialLocalizations-class.html

It's possible to add support for a new language, see https://flutter.dev/docs/development/accessibility-and-localization/internationalization#adding-support-for-a-new-language

[2019-06-26 15:00] MetalDent commented on #11615
Is anyone working on this?

[2019-06-26 15:04] HansMuller commented on #35069
If you provide the output of flutter doctor, to help us understand what version of Flutter you're using and what device/emulator you're targeting, and a small self contained app that demonstrates the problem, we'll look into it.

[2019-06-26 15:10] bpadhiyar4 commented on #31065
Update your Android SDK version.
Bcoz my error get solved by updating the sdk from 28 to 29.

[2019-06-26 15:12] bpadhiyar4 commented on #34913
Problem solved by updating the Android SDk.

[2019-06-26 15:14] #34913 closed

[2019-06-26 15:21] localpcguy commented on #14675
That last comment @Hixie was really helpful in determining the issues I've been having with `RichText`! I do wonder if a rename could be useful, deprecating RichText or transitioning it to be similar to `Text.rich`, since that appears to be what people expect based on the name.

It appears that most instances where someone would use `RichText` it could be replaced with `Text.rich` (adjusting for t

[2019-06-26 15:22] shihaohong commented on #34992
@dutyk Could you also share your state (the variables in your Widget)? With only the `build` method, it's difficult to tell where error could be coming from.

[2019-06-26 15:33] shihaohong commented on #34992
Could you share your state as well? It would be helpful to see `topNewData`, `topDealData` and `topIncreaseData`.

[2019-06-26 15:34] The-Redhat commented on #24703
After looking at the dart VM Observatory I found out, that the isolate is paused. When you manually start the isolate, it works perfectly. Maybe that helps figuring out the issue.

[2019-06-26 15:35] patniemeyer opened #35126 "[web]: Callbacks from JS async functions fail in release mode..."
When run in release mode callbacks from package:js mapped JavaScript async functions never happen.  i.e. If you invoke an async JavaScript function from Dart, the returned Promise will never appear to resolve - no callback will make it to Dart.  The example below prints "debug call returned" when run in debug mode but not in release mode.

Channels:  stable, beta, and dev.
Browsers: Firefox and Sa

[2019-06-26 15:37] justinmc commented on #35026
@davidlantrip Thanks for pointing that out, I wasn't aware!  I'll add it.

[2019-06-26 15:43] bayuramadeza commented on #34308
What is the flutter channel can i use to fix this issue?

[2019-06-26 15:45] justinmc opened #35127 "[iOS 13] Draggable Scrollbar"
In iOS 13, it will be possible to drag the scrollbar to scroll more quickly.  This can be done either by long pressing the scrollbar or dragging in from the right at the scrollbar.

<img width="250" src="https://user-images.githubusercontent.com/389558/60194598-80c64980-97ee-11e9-95ce-4d2603010b45.gif" />

A Reddit thread with some info: https://www.reddit.com/r/iOSBeta/comments/bx8nqv/feature_the

[2019-06-26 15:49] #32400 closed

[2019-06-26 16:08] christopherfujino commented on #34925
Closed as a duplicate of #35102.

[2019-06-26 16:08] #34925 closed

[2019-06-26 16:09] tyl0r commented on #34925
I recently did a fresh install of MacOS Mojave and I don't have my backup in front of me. Here's what I did to get hot reload working. There's probably a simpler way:

[code]

[2019-06-26 16:09] christopherfujino commented on #35099
Closed as a duplicate of #35102

[2019-06-26 16:09] #35099 closed

[2019-06-26 16:20] Kiruel commented on #24703
Can you show a example how to start the Isolate @The-Redhat ? (I use compute from flutter sdk btw)

[2019-06-26 16:23] mraleph commented on #10515
I think this is outdated and should work now because deferred libraries are no longer supported by VM - so hot reload does not need any special support for them.

[2019-06-26 16:23] #10515 closed

[2019-06-26 16:28] The-Redhat commented on #24703
when you run flutter drive --target=test_driver/main.dart -v it gives you the url of the observatory ('Connecting to Flutter application at ...'). Inside you select the isolate which isn't main. In there you see that the isolate is paused. To start it press debug in the top right corner and type `continue` in the command line.

[2019-06-26 16:29] Piinks commented on #35124
Hi @martinory, Can you post a reproduction of the issue? We will need more information to help you resolve it.

[2019-06-26 16:31] amirh commented on #35011
@MetalDent that would be great!
I'd suggest relaxing the regular expression to allow underscores and adding a unit test.

[2019-06-26 16:33] Piinks commented on #35121
Hi @riccardoratta, Can you post a reproduction of the issue, as in a runnable segment of code from a lib/main.dart? I have not been able to reproduce with your instructions.

[2019-06-26 16:33] amirh commented on #19718
@FCLongIsBoy pleases see https://github.com/flutter/flutter/issues/19718#issuecomment-504229611

[2019-06-26 16:36] christopherfujino commented on #35102
Thanks for reporting and troubleshooting @amake & @xhw0525. I closed duplicates I saw of this and pointed them to this issue. I actually [have a PR](https://github.com/flutter/flutter/pull/34669) to permanently fix this by having the flutter tool download pre-built, maintained versions of these tools.

However, as this hasn't landed in master yet (and won't land in stable for a little while), user

[2019-06-26 16:40] tvolkert commented on #34308
@bayuramadeza this is available on the dev channel.  It should be on the beta channel this Friday.

[2019-06-26 16:40] FilipeOS commented on #22199
I'm having the same issue and don't know how to fix it...

I have a StreamBuilder that gets all the users snapshots that are friends, if the user don't have friends = subcollection don't exist or is empty (without documents).

The problem is that it's assuming that `snapshot.hasData` is always true.

@zoechi can you please advise? Your last messages don't fix.

It should only return `snapshot.hasD

[2019-06-26 16:42] bkonyi commented on #21969
@martinory this issue has been closed as the problem described has been resolved. If you have other problems, please file a new issue.

@Manpreet-Kaur14 the `android_alarm_manager` plugin only has support for Android, which is likely why you're seeing a crash on iOS.

[2019-06-26 16:59] Piinks commented on #34920
Hi @Praveena0989, Can you post a reproduction of the issue? We will need more information to help you resolve it.

[2019-06-26 17:01] Piinks commented on #34922
Hi @Sachinsowri and @JunusErgin, Can either of you post a reproduction of the issue? We will need more information to help you resolve it.

[2019-06-26 17:02] cyanglaz commented on #19103
@juliengit2 @khairy-mohamed Could either of you open a new issue with a mini app code to reproduce the issue? And if you can @ me on that issue I will be able to get a notification.

[2019-06-26 17:04] liyuqian commented on #24627
@jim-flar : since you're the assignee of https://github.com/flutter/flutter/issues/32662 which will fix this issue, can I also assign you to this issue? BTW, it would be nice to add the reproduction code here to our benchmarks :)

[2019-06-26 17:06] Piinks commented on #34965
Hi @athornz, Can you post a sample of code that reproduces the issue? We will need more information to help you resolve it.

[2019-06-26 17:13] juliengit2 commented on #19103
more info about this issue :

the issue happens only if we choose import from Gallery first. Then import from Camera will not work.

If we choose import from Camera first, then it will work form gallery.

[2019-06-26 17:14] Piinks commented on #34985
Hi @1AlexFix1, Can you post a minimal sample of code that reproduces the issue? We will need more information to help you resolve it.

[2019-06-26 17:20] martinory commented on #35124
Hi @Piinks! After a lot of searching, I found that the issue was related to the height of body1 in textTheme in my global theme was set to 16 instead of 1.6, causing every column in the app to overflow. So it's solved.

[2019-06-26 17:28] liyuqian commented on #31086
@wemped : this error seems to be a mismatch of the Flutter framework version and the Flutter engine version. What version of framework (https://github.com/flutter/flutter) are you using? One particular fix you can try is to sync your flutter version to the master branch of https://github.com/flutter/flutter, and then sync your engine (https://github.com/flutter/engine) version according to the [bi

[2019-06-26 17:39] jason-simmons commented on #35121
I can reproduce this by adding the code above to a default template app and building the app in release mode.  This is still failing on the current master branch.

`gen_snapshot` segfaults with the stack trace below.

@a-siva @mkustermann

[code]

[2019-06-26 17:57] jonahwilliams commented on #35120
I'm not able to reproduce this on master or on v1.5.4-hotfix.2 running our suite of coverage tests. Can you post a code sample/test that reproduces the issue?

[2019-06-26 18:01] wemped commented on #31086
@liyuqian
Ok, switched to the framework master channel and upgraded
[code]

Looks like the engine version in bin/internal/engine.version is `3f4f606105a8f6217cfbe08e193aa9a54b19dbef`

How would sync my local engine to that version?

[2019-06-26 18:02] Saifallak commented on #33562
still getting the same error on [v1.7.9](https://github.com/flutter/flutter/releases/tag/v1.7.9)

[2019-06-26 18:15] jmagman commented on #33850
Swift packages are checked out and built into their own directory in DerivedData
`~/Library/Developer/Xcode/DerivedData/Runner-fallqhekgvwmlfbtoasqjysdpabc/SourcePackages/checkouts/`

Dependent packages are compiled first, so since all plugins depend on Flutter, the Flutter framework but must be either:
1. Made into a Swift package and included in as Package.Dependency and completely built by SPM.

[2019-06-26 18:17] gaaclarke commented on #32937
With the preceding change I measured the amount of time the main thread will pause to wait for rendering.  On the flutter sample project it introduces a ~43ms pause on the first frame, ~17ms pause on subsequent instances with a release engine.

[2019-06-26 18:30] Piinks commented on #22025
Following up on @zoechi 's reproduction, I've distilled this down a bit further from:

### Code
[code]

### Log

[code]

The error seems to be around the call to `Navigator.pushNamedAndRemoveUntil(...)` on line 55, which is commented out here to illustrate the trip.

The issue does seem to be related to `FloatingActionButton`, as `Navigator.pushNamedAndRemoveUntil(...)` does not result in an error

[2019-06-26 18:37] christopherfujino commented on #35105
Hey @dannyZhou, so the problem is that the flutter tool cannot identify the version you are on, probably because it is missing git tags. `git fetch origin` (assuming origin is the name of the official flutter repo) should grab all missing tags.

I'm wondering how you installed flutter--did you git clone the repo? Did you by any chance do a shallow clone?

[2019-06-26 18:47] japegamx commented on #34687
Hi, thanks for that.
I tried to change the call of the [future: _getItemsData()...] to the [init.State()...], but now, the [CircularProgressIndicator()] does not ends. It spins forever. I debug the code and there is no error... I tried on my emulated version (with the sleep()), and on other version with a real http request and is the same in both versions. [CircularProgressIndicator()] does not en

[2019-06-26 18:52] cyanglaz commented on #34040
The fix is here https://github.com/flutter/plugins/pull/1775
Will close the issue when the PR is merged

[2019-06-26 19:05] lukepighetti commented on #33562
Getting transaction errors on Android Lollipop using `firebase_database: ^3.0.3`

[2019-06-26 19:14] xster commented on #33494
I'm repurposing the bug a bit to make it more generic

[2019-06-26 19:14] lukepighetti commented on #33562
Switched to `flutter channel stable` and it works. Regression.

[2019-06-26 19:23] Piinks commented on #35124
@martinory that's great! I will close this issue then since it is resolved. Thank you!

[2019-06-26 19:23] #35124 closed

[2019-06-26 19:27] xster commented on #32937
Blocking an app's main thread for 43ms intuitively makes me think we should just solve https://github.com/flutter/flutter/issues/33494 instead. Though another aspect could be https://github.com/flutter/flutter/issues/32946. We should take a look at what is the delta between having run FlutterEngine.runWithEntrypoint and FlutterViewController.initWithEngine + viewWillAppear and determine whether th

[2019-06-26 19:29] #29941 closed

[2019-06-26 19:32] liyuqian opened #35133 "Add multiple listeners capability to onReportTimings"
See https://github.com/flutter/flutter/pull/34365#discussion_r293487834

[2019-06-26 19:36] xster commented on #33850
Does this mean SPM can only have dependencies against source code and not .frameworks officially? And option 2 is essentially a late binding mechanism? cc @blasten, we should keep a conceptual symmetry between Android and iOS where possible.

I have a bit of trouble visualizing what the xcodeproj integration steps are. Can we list them here or in a doc? e.g. flutter upgrade, flutter packages get,

[2019-06-26 19:37] gaaclarke commented on #32937
I am against any sort of splash screen.  That's amateur imo, you can't ask clients to put a splash screen in the middle of their app.

In addition to synchronizing the main thread with the renderer we need to make the rendering of the first frame faster.  We already have outstanding work to do that.  We should be able to get the first frame down to the same time as the second frame.  I think most

[2019-06-26 19:43] LiteCatDev commented on #3783
Is there a performance difference between doing this
[code]

 and doing something like this ?
[code]
I mean, the simplest solution is short
[code]
 could be replaced by

[code]
The problem i find here is that everytime the build method is called, is gonna rebuild everything , in every solution. Maybe we should have an "empty" widget that works like a null , that way we can include the second optio

[2019-06-26 19:47] gaaclarke commented on #32937
Also, 43ms is acceptable for a one time event.  Video game controllers have up to 20 ms lag which doesn't even include screen lag which for a tv will probably be 30ms at a minimum, and that's for continuous feedback.

[2019-06-26 19:49] xster commented on #32937
Optimizing the first frame render time is definitely preferred. Though I think there will be circumstances where it can't be the only option. For instance, there will be times when an engine can't be pre-warmed. Our users' analytics is showing that a cold launch + first frame render could take 2s on mid-tier Androids. We can't avoid making a choice for what to show, whether it's the previous frame

[2019-06-26 19:49] natebosch commented on #3783
The canonical way to write this as long as your Dart SDK is at least `2.3.0` is:

[code]

[2019-06-26 19:55] gaaclarke commented on #32937
I was running my tests on iPhone SE (low end device from 3 years ago).  I'll keep an eye out for a 4s.  Do we have statistics about what percentage of our user base is iPhone 4s?

[2019-06-26 20:12] LiteCatDev commented on #3783
:O  didn't know that was possible !!!!!!!!!!! Flutter ftw! :D  i love you xd <3

[2019-06-26 20:13] iskakaushik commented on #34641
https://github.com/flutter/plugins/pull/1774 will fix the issue.

[2019-06-26 20:13] jmagman commented on #33850
My comments above were all based on my experimentation with the Swift Package Manager and remote repository URLs in Xcode 11.  That would require plugins to have a Packages.swift at the root of their repo.  And all pub packages would need their repository URL set in the metadata.  That seems like a lot to ask.
A more realistic scenario would be to create local packages from symlinked directories f

[2019-06-26 20:15] cyanglaz commented on #34040
Fix is merged, closing the issue. If you found related bugs please feel free to file another issue with details.

[2019-06-26 20:21] christopherfujino commented on #35111
Possible duplicate of #35102, can you try:

[code]

[2019-06-26 20:39] mkustermann commented on #35121
Fix is up for review in [cl/107410](https://dart-review.googlesource.com/c/sdk/+/107410).

[2019-06-26 20:42] dannyvalentesonos commented on #34641
@iskakaushik flutter/plugins#1774 doesn't look related?

[2019-06-26 20:46] iskakaushik commented on #34641
@dannyvalentesonos oops, fixed the link

[2019-06-26 20:51] #34641 closed

[2019-06-26 20:52] iskakaushik commented on #34641
@dannyvalentesonos I just merged the fix. You should be able to get this once it rolls to the framework. Let me know if you still run into issues.

[2019-06-26 20:55] iskakaushik commented on #29815
This got closed when i closed an earlier PR, not merge. ugh.

[2019-06-26 20:58] Hixie opened #35134 "`flutter test --start-paused test/material/about_test.dart` will eventually time out"
We should remove the timeout that checks that tests connect to the test harness. For example, just now I ran (in //flutter/packages/flutter):

[code]

...and then did something else for 6 minutes and when I got back to it, it had timed out, and I had to restart it. It should have just waited forever.

[2019-06-26 21:03] dannyvalentesonos commented on #34641
Thanks @iskakaushik! I'll check when it rolls out.

[2019-06-26 21:12] 1AlexFix1 commented on #34985
[code]

I also found some regularity; I changed the SmartBanner to AdSize.banner. And if the advertisement has the text, it goes beyond the screen, although the width of the banner is
_width:_ 320,
height: 50,
This is how the advertisement with this code was displayed.

[code]

[2019-06-26 21:12] jonahwilliams commented on #35134
This is controlled by https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/test/flutter_platform.dart#L45 .

It seems that this is a timeout that we've added that to the tool, so it could be removed as well

[2019-06-26 21:14] liyuqian commented on #32779
According to our latest debugging with Ariana, the issue is more likely in Fuchsia FIDL or scenic, than in Flutter. Hence I'm closing this issue for now, and reassign FL-258 to Michael Jurka.

[2019-06-26 21:14] #32779 closed

[2019-06-26 21:25] 1AlexFix1 commented on #34985
That's how ads on smartSize are displayed on iphone 6
<img width="754" alt="Снимок экрана 2019-06-27 в 0 18 42" src="https://user-images.githubusercontent.com/44409006/60215840-3e921c00-9871-11e9-822a-091892683447.png">

[2019-06-26 21:27] vagrantrobbie commented on #34619
@iulian34 Do you mean starting a new app bundle?

[2019-06-26 21:29] gitboss opened #35137 "Unable to load assets named "0.png""
My project had series of images from 1.png to 10.png. I decided to make these 0 based and merely manually changed the names of these images from 0.png to 9.png in Windows 10 explorer.

However now Flutter is giving errors while loading some images and loads other images. After pausing for the following exception it will load some other images.

The following error is produced after the name change

[2019-06-26 21:31] pravinarr commented on #35125
@Piinks thank you for labelling. I did some more research on the plugin and found out that [useFunctionsEmulator (String origin)](https://firebase.google.com/docs/reference/android/com/google/firebase/functions/FirebaseFunctions.html#public-void-usefunctionsemulator-string-origin); feature is not included in the current plugin. I am interested in contributing to that. Can anyone guide me the steps

[2019-06-26 21:33] gitboss commented on #35137
The following widget loads the images. As shown in above error I'm passing the asset name as = "assets/images/underwater1/0.png". The image path is correct since other images like "assets/images/underwater1/1.png" and "assets/images/underwater1/2.png" etc are being loaded.

[code]

[2019-06-26 21:37] matthew-carroll opened #35138 "Enforce platform lifecycle in framework"
Enforce platform lifecycle in framework.

Based on #35054 (which contains 2 different bugs), it looks like there may be a number of framework behaviors that do not respect the platform lifecycle. Namely, the platform goes to the "inactive" state, but the framework does not update its state accordingly.

Example 1: text input connection does not clear its client when the platform becomes inactive,

[2019-06-26 21:37] matthew-carroll commented on #35138
CC @xster

[2019-06-26 21:40] FilipeOS commented on #22199
Fixed by using `snapshot.data.documents.length > 0` and not `snapshot.hasData`

[2019-06-26 21:40] felangel commented on #21595
Is there a solution for how to set the TabBar's unselectedIndicatorColor?

[2019-06-26 21:41] xster commented on #35138
@goderbauer, let's talk about this when you come back. This is almost the flip-side of https://github.com/flutter/flutter/issues/32871 and we'll probably need some framework side help with this audit.

[2019-06-26 21:43] matthew-carroll opened #35139 "Re-evaluate package placement of existing embedding classes"
Re-evaluate package placement of existing embedding classes.

Many classes in the old embedding exist in packages that do not correctly reflect the purpose of those classes.

Examples:

A number of system-level Flutter behaviors exist within the `io.flutter.view` package:

 - `FlutterMain`
 - `FlutterRunArguments`
 - `ResourceCleaner`
 - `ResourceExtractor`
 - `ResourcePaths`
 - `VsyncWaiter`

The

[2019-06-26 21:44] xster commented on #35138
@matthew-carroll, while it's still fresh in your head, can you put down in writing what mechanism allowed us to 'cheat' thus far? I think it's just the incorrect assumption that the short lived view supporting some of features of the long lived engine+framework being the same instance happened to have been true so far but shouldn't be?

[2019-06-26 21:45] matthew-carroll commented on #35139
CC @xster

[2019-06-26 21:49] matthew-carroll commented on #35138
The thing that allowed us to avoid seeing these issues is that historically the Dart execution for Flutter, which can be thought of as the framework, was permanently connected to an Activity/View. Therefore, something like an input connection would remain active and the same when the Activity is backgrounded and then foregrounded. The Android side would maintain the necessary state, and so would t

[2019-06-26 21:59] liyuqian commented on #31086
Run `git checkout 3f4f606105a8f6217cfbe08e193aa9a54b19dbef` in your engine repo checkout (e.g., in `~/flutter/engine/src/flutter`), and then repeat the steps of `gclient sync`, `ninja ...`, ...

[2019-06-26 22:02] Hixie opened #35140 "Observatory profiler doesn't seem to work"
Steps to reproduce:

1. Check out tip-of-tree flutter.
2. Edit `//packages/flutter/test/material/about_test.dart` to add `while (true)` on line 121 (just before a call to pumpWidget). This is just so that the test will run forever. The details don't matter.
3. Run `flutter test --start-paused test/material/about_test.dart`. It will print out a URL.
4. Open the given URL.
5. Click the "Isolate" lin

[2019-06-26 22:06] jacob314 commented on #35140
Fyi @bkonyi @kenzieschmoll
We're hoping to soon have complete enough support in the DevTools profiler that the answer is to remove the profiler from the observatory not spend time tracking down why it is broken.

[2019-06-26 22:09] GaryQian commented on #34538
Closing this now, once flutter/engine#9489 rolls into the framework, this should be fixed on master. Let me know if you see any problems with the fix!

Thanks for reporting this and helping with the debugging!

[2019-06-26 22:09] #34538 closed

[2019-06-26 22:10] dnfield opened #35141 "We should be able to run an ImageFilter on a paint"
Today, if you want to blur a raster image, you have to introduce it into the widget tree and use a BackdropFilter.  If you wan tto blur geometry, you have to use a MaskFilter on a paint and paint it on a Canvas.

We should be able to add ImageFilter to Paint (or something like that) so that you can blur raster images when drawing them to a canvas.

See https://github.com/flutter/flutter/issues/294

[2019-06-26 22:11] tvolkert commented on #13815
/cc @a14n

[2019-06-26 22:11] liyuqian opened #35142 "cubic_bezier_perf__timeline_summary worst_frame_rasterizer_time_millis regressed"
The regression looks similar to https://github.com/flutter/flutter/issues/34820 and it's caused by an engine roll https://github.com/flutter/flutter/commit/0f2388e54518eecbf601058fd5eb4942e6076d42 which includes the reland of the suspected Skia commit: **Reland "Prefer using GrOvalOpFactory over GrFillRRect for circles and axis-aligned circular roundrects."** (see https://github.com/flutter/flutte

[2019-06-26 22:12] liyuqian commented on #35142
CC @brianosman @jvanverth

[2019-06-26 22:28] a-siva commented on #35140
if the underlying vm-service protocol is broken it doesn't matter if observatory or devtools is used, we have to track it down and fix.

[2019-06-26 22:30] Jason-Air opened #35144 "Permission denial error. READ_CALL_LOG"
https://github.com/Jason-Air/incoming_call

I am developing a platform-specific code that is supposed to get call history. Although I added the permission tags to androidmanifest.xml, it throws permission error.

the tags that I added to androidmanifest.xml
&lt;uses-permission android:name="android.permission.READ_CALL_LOG" /&gt;
&lt;uses-permission android:name="android.permission.WRITE_CALL_LOG"

[2019-06-26 22:39] Kiruel commented on #24703
Do you think there are a way to make it automatic ? Because test should be run be himself. I will try your way first.

[2019-06-26 22:43] shihaohong commented on #32639
Hi @tp, I tried reproducing this on v1.2.1 and I still receive the same error message. Could you checkout to that version and verify whether or not it works for you? If it does, please send in the results from `flutter doctor -v` so I can try to emulate the conditions that allowed for this example to succeed.

[2019-06-26 22:45] dnfield commented on #35091
Screen resolution is a better metric for this than RAM.

[2019-06-26 23:02] a-siva commented on #35140
It appears that a number of samples are being skipped because the register check is failing
single_frame_sample_register_check: 1082

[2019-06-26 23:04] gitboss commented on #35137
Kindly note that I went ahead and renamed the images back to 1.png thru 10.png and it works. But I have a lot of folders.

I would also like to confirm that Flutter has issue while loading **0.png** only. All other images load as expected.

Please help with why Flutter wont load images named 0.png.

[2019-06-26 23:09] shihaohong commented on #32639
In the meantime, here is something that would work, since updates to the controller will call the listener and update the current page. if the current page is null, it returns false, but otherwise, it'll validate based on the current page:

[code]

[2019-06-26 23:21] #35038 closed

[2019-06-26 23:23] nrooban commented on #12527
HI guys, this kind of The getter 'id' was called on null. happens because of when you do HotReload.

To reproduce this
1. Restart the app again(Check the app wether its working fine without doing any modification in hot-reload)
2. If works fine, do some text or icon change and let hot-reload.
3. Now do the testing again it will fail with 'The getter 'id' was called on null.'

I too waiting for the

[2019-06-26 23:27] xster commented on #32999
Putting down another idea from yesterday's offline discussion:

We can alleviate the need for the whole random port / token dance if we used a preshared key mechanism where the debug port is fixed and discoverable but a service connection can only be made if the host machine has the right key. This way we're not intertwining discovery and authentication.

cc @rmacnak-google @gamebox

[2019-06-26 23:31] jonahwilliams commented on #32999
That's part of the issue -  we also need to handle debug/profile mode via feature detection, which is only a tool change (and mostly a refactor)

[2019-06-26 23:38] xster commented on #32999
sg, is there a bug that specifically describes the nature of the feature detection issue? Or you can describe it here as well (so someone picking up this bug will know the full context of what needs to be done).

[2019-06-26 23:40] followthemoney1 opened #35147 "flutter build apk --release bug"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter build aot --suppress-analytics --quiet --target lib/main.dart --target-platform android-arm --output-dir /Users/dmitrydyachenko/Downloads/orsini/build/app/intermediates/flutter/release --target-platform android-arm --release

## exception

ProcessException: ProcessException: Bad CPU type in executa

[2019-06-26 23:41] jonahwilliams commented on #32999
Yes, I outlined the rough approach here: https://github.com/flutter/flutter/issues/34552

[2019-06-26 23:41] wemped commented on #31086
@liyuqian @tvolkert
Good news and bad news.

I got it running w/ metal enabled 🎉  (@liyuqian thanks again for your help and patience!)
It doesn't fully solve the scroll performance issues on iPhone X/s 😞

Charging up my old iPhone 7 now to get a side by side and will report back, but so far I'm seeing the same sort of stuttering/missed frames while dragging. I'm also seeing that flings still look

[2019-06-26 23:44] xster commented on #32999
Ah, that's a lot clearer now. Thanks!

[2019-06-27 00:12] liyuqian commented on #31086
@wemped : I'm sorry to hear the bad news... I'll trade you with one good news: I just received two Mac Minis and iPhone Xrs that I'm going to add to our device lab so we can catch these kind of iPhone X performance issues.

While I'm busy setting it up, it will be super helpful if you can write a Flutter drive test for your specific case and add it to our device lab: https://github.com/liyuqian/fl

[2019-06-27 00:16] liyuqian commented on #34867
Here's an abandoned PR for this issue: https://github.com/flutter/flutter/pull/29367

[2019-06-27 00:17] xster commented on #33850
If I understand correctly, that's more or less what we do today with plugins in general in the .packages file.

This is probably trickier if we don't have a nice way to auto-convert plugins' existing .podspec to a packages.swift.

[2019-06-27 00:24] xster commented on #32937
Cool. Unfortunately we don't have any analytics on our users' users. Since China's our biggest present add-to-app market, we can likely use China's iPhone model market share as proxy.

[2019-06-27 00:38] amake commented on #35102
MacPorts users: I have [updated](https://github.com/macports/macports-ports/commit/26ffdf9d5e59535f087ca1e175cf91e0c1c84cb1) the `libusbmuxd-devel` port to version `20190613a`, which corresponds to `2501f51` upstream. It should be available soon; do `port selfupdate` and `port upgrade outdated` to apply.

[2019-06-27 01:13] stefansidler1993 commented on #27020
check this code in your widget PageController(initialPage: 1, keepPage: false); the magic is setting keepPage

[2019-06-27 01:13] #28914 closed

[2019-06-27 01:16] GaryQian commented on #34610
Caret positioning has vastly improved with https://github.com/flutter/engine/pull/9489

The primary remaining issue is handling deletion properly with keyboards of opposite direction.

[2019-06-27 01:44] mowcni commented on #23777
i use vscode ... this problem happen... how can i fixed.

[2019-06-27 01:45] YeFei572 opened #35152 "my app in debug model is ok, but when i install the release on HuaweiP20, at first it's ok, when i turn page 2, it's break out."
My app works well in debug mode(include turn page), and when I `flutter build apk` to get the release package, then install it on XiaoMi6/HuaWeiP20, my app run normal first, But when I turned to page two, something went wrong.

#### I use bugly to catch the error log
1. stack error log:
[code]
2. Tracking logs
[code]
3. other logs
[code]

#### flutter doctor
[code]

[2019-06-27 01:53] JamesKarl commented on #35032
@rashedmyt the following temporary solution from #33909 is okay to me. Maybe that is the root cause. It's expected to be fixed in future ASAP. Thank you very much.

[2019-06-27 01:58] BadReese commented on #34925
It works, thank you.

[2019-06-27 02:06] chinmaygarde opened #35153 "Allow embedder to specify offscreen rendering with onscreen composition."
On iOS, due to the expensive nature of renderbuffer readbacks, we perform composition offscreen into a texture. The reasoning being that for effects such as the backdrop filters, readbacks from the texture will be faster than a renderbuffer. This does not seem to an issue on Android. It may be a good idea to expose this functionality to custom embedders using the OpenGL backend.

[2019-06-27 02:07] #35117 closed

[2019-06-27 02:20] btbj commented on #34629
usbmuxd-1.0.10_1 works! thank you guys @xhw0525 @jgrandchavin @xXUlquiXx .

[2019-06-27 02:20] #34629 closed

[2019-06-27 02:38] bayuramadeza commented on #34308
@tvolkert i have tried to update my flutter version in thte dev channel, but the same error still appear.

06-27 09:34:14.161 4458-4461/? E/ANDR-PERF-MPCTL: Invalid profile no. 0, total profiles 0 only
06-27 09:34:15.583 4458-4461/? E/ANDR-PERF-RESOURCEQS: Failed to apply optimization [4, 0]
06-27 09:34:16.061 379-390/? E/cutils: Failed to openat(/storage/0403-0201): Permission denied
06-27 09:34:

[2019-06-27 02:59] doctorlh opened #35155 "[in_app_purchase]Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Unsupported value for standard codec'"
I test plugin 'in_app_purchase', app crash .

Signal strength query returned error: Error Domain=NSPOSIXErrorDomain Code=13, descriptor: <private>

Unsupported value: Error Domain=kCFErrorDomainCFNetwork Code=-1003 "(null)" UserInfo={_kCFStreamErrorCodeKey=-72000, _kCFStreamErrorDomainKey=10} of type NSError

*** Assertion failure in -[FlutterStandardWriter writeValue:], ../../flutter/shell/platfo

[2019-06-27 03:03] tvolkert commented on #34308
@bayuramadeza can you include the output of your `flutter build` command with `--verbose` turned on (as a https://gist.github.com/ link)?

[2019-06-27 03:07] yunyu commented on #31086
@liyuqian Unfortunately, this particular performance issue does not occur on iPhone XR

[2019-06-27 03:13] nxSin commented on #34966
Use command ```webdev serve``` to Run Project

![image](https://user-images.githubusercontent.com/14179843/60231517-0f5cc880-98cc-11e9-8c13-b4a5dcfc9027.png)

But, it Seems blocked , the browser didn't open.

[2019-06-27 03:13] juggist commented on #22481
I have the same trouble too, how to resolve @zoechi

[2019-06-27 03:19] bayuramadeza commented on #34308
@tvolkert this is my gist link, so please help me.
https://gist.github.com/bayuramadeza/5f1bc8244a393a9072242bd3500e86a2

[2019-06-27 03:20] dnfield opened #35156 "Implement Paint.imageFilter for web"
See also https://github.com/flutter/flutter/issues/35141 https://github.com/flutter/engine/pull/9508

[2019-06-27 03:21] v7lin commented on #32079
i have same question

[2019-06-27 03:30] blasten commented on #34308
One more question, what Android version? It's strange that it's trying to look for the library `arm64/libflutter.so` instead of `arm64-v8a/ibflutter.so`.

[2019-06-27 03:33] bayuramadeza commented on #34308
@blasten the android version that has been crashed are the most of android 6.0.1 in Xiaomi redmi 3s and Xiaomi mi max

[2019-06-27 03:42] onegeqian commented on #11940
自定义配置目录后，AS是检测不到的。在flutter中配置 config --android-studio-dir "xxx"，解决检测AS安装，但是，插件目录又检测不到了。所以会一直报 两个插件没装上。
奋战10多个小时，才的出来的结论，何解。

[2019-06-27 03:44] onegeqian commented on #11940
自定义配置目录后，AS是检测不到的。在flutter中配置 config --android-studio-dir "xxx"，解决检测AS安装，但是，插件目录又检测不到了。所以会一直报 两个插件没装上。
奋战10多个小时，才的出来的结论，何解。
使用syslink 也不行。

[2019-06-27 03:53] IphoneCoder commented on #31975
I have the same issues

[2019-06-27 03:58] KenAragorn commented on #34198
Is this related?
[https://github.com/flutter/flutter/issues/35114](https://github.com/flutter/flutter/issues/35114)

[2019-06-27 04:07] JediBurrell commented on #34198
@KenAragorn Yes.

[2019-06-27 04:11] krishnaPrasad2141 opened #35158 "error"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-27 04:39] robsonfingo commented on #15567
@najeira
"I am manually rewriting and executing CFBundleIdentifier during development flutter run."
How?

[2019-06-27 04:52] #35158 closed

[2019-06-27 05:02] Dominic12 commented on #35119
@iomu seems to be the same. /cc @cyanglaz

[2019-06-27 05:11] vigneshwaranvelmurugan commented on #17422
killall -9 dart

[2019-06-27 05:23] danish-khan-I commented on #31019
the problem was with the INTERNET permission...

[2019-06-27 05:23] #31019 closed

[2019-06-27 05:34] chankongching commented on #28678
shld it be snapshot.data.length - index - 1 ??

[2019-06-27 05:41] i9suaradio commented on #23504
On simulator: click on menu Hardware>Keyboard> and choose Toogle software keyboar (CMD+K)

[2019-06-27 05:48] najeira commented on #15567
Open ios/Runner/Info.plist

Change `CFBundleIdentifier` for debugging:

[code]

For release:

[code]

[2019-06-27 05:49] alexei-g-aloteq commented on #32804
I have similar problem - blurred widget put into ListView significantly reduces scroll speed and the blur effect sometimes disappears while scrolling. Tested on Android and iPhone simulators.

[2019-06-27 05:51] The-Redhat commented on #24703
As I sat my answer isn't a workaround. It should only help the flutter team to finally fix this issue.

[2019-06-27 05:52] abdullayev007 commented on #20797
I am facing this issue too (0.4.1+6)

[2019-06-27 05:53] robsonfingo commented on #15567
Oh, you mean *actually* manually :)
I'm thinking we can probably add a `Script Phase` to `Build Phase` to change Info.plist when we build.

[2019-06-27 05:57] carmel commented on #34814
@HansMuller @ianloic  Hello, Could you offer some help ?  Is my narrative not clear enough? Or did I make some low-level mistakes?

[2019-06-27 06:01] dnfield opened #35161 "Parent render objects that fail to layout children in perform layout don't fail until semantics are turned on."
See https://github.com/flutter/flutter/pull/35110

We'll catch this if semantics are enabled by default, but maybe there's some way to force render object parents to layout children, e.g. asserting in an `@mustCallSuper` that they've done so.

[2019-06-27 06:02] #35141 closed

[2019-06-27 06:11] spiderman20084 commented on #33827
A temporary fix downgrade Flushbar all the way down to version ^0.8.0

[2019-06-27 06:19] ajinasokan opened #35162 "Frame rate is locked to 60FPS on devices with frame rate optimization"
All Flutter apps seem to be locked at 60FPS on One Plus 7 Pro that has 90Hz refresh rate. Every other app including Native apps and OpenGL games runs at 90FPS. Because of this Flutter apps feel slow compared to the rest of the operating system even though there are no performance issues or janks.

It seems apps have to somehow notify the OS that it can do higher framerates. And One Plus OxygenOS s

[2019-06-27 06:28] ajinasokan commented on #35162
Here are some slow-motion videos of [Flutter app](https://drive.google.com/open?id=1bLNQ7nfJ38WGEPsuSLe2tpKP1WXd_MhI) and [Native app](https://drive.google.com/open?id=13XDBNSfE_UuaxCoXjzdJ0J3nIk1wV9Pf).

[2019-06-27 06:30] carmel commented on #34814
A low-level mistake was made.

[2019-06-27 06:30] #34814 closed

[2019-06-27 06:34] rajeshzmoke opened #35163 "flutter build is not printing the flavor bundle identifier that it actually uses (correctly)"
I'm using flavors to build ios for different environments

`flutter build ios --release --flavor qa`
[code]
it shows

i would expect it show `Building com.highxxxsw.xxx.qa for device (ios-release)` for qa flavor
i would expect it show `Building com.highxxxsw.xxx.dev for device (ios-release)` for dev flavor
and
i would expect it show `Building com.highxxxsw.xxx for device (ios-release)` for prod fl

[2019-06-27 06:36] rajeshzmoke commented on #35163
here is my flutter doctor log

[code]

[2019-06-27 06:43] carmel commented on #34814
[code]

[2019-06-27 06:45] dnfield commented on #26503
If your types don't match what you expected from `reassemble`, fizzle out the build method with somethng safe (but don't throw/assert anything - maybe just return some kind of placeholder widget). Eventually, reassemble will fire and get you straigthened out, and build will get called again and you should be back on the happy path.

[2019-06-27 06:46] AmrutaShelar commented on #21911
Is this issue fixed?
Google is supporting app with targetSDK 28 from Aug 2019. How is going to help us?

[2019-06-27 06:48] mrserfr commented on #33827
From changelog of Flushbar 1.6.0:

"
[1.6.0] - 2019-31-05
breaking change this fixes The method 'detach' isn't defined for the class 'FocusScopeNode'
To use this version you will need Flutter 1.6, which in currently in the beta channel
If you need to use Flutter Stable channel, stay in version 1.5.3 (install it using flushbar: '1.5.3') while flutter 1.6 is in beta.
Package health score suffered a

[2019-06-27 06:52] mohitjadav commented on #21117
Unhandled Exception: PlatformException(ERROR_SESSION_EXPIRED, The sms code has expired. Please re-send the verification code to try again., null)

class PhoneSignInSection extends StatefulWidget {
  var phonenumber;

  PhoneSignInSection(this._scaffold, this.phonenumber);

  final ScaffoldState _scaffold;

  @override
  State<StatefulWidget> createState() => _PhoneSignInSectionState(phonenumber);

[2019-06-27 07:03] dnfield commented on #31872
@jmagman - is this of interest to you?

The root cause appears to be that add to app use cases on iOS are not properly clearing out old build artifacts between builds (or perhaps when switching build modes e.g. from debug to profile).

[2019-06-27 07:08] jmagman commented on #31872
I can take a look!

[2019-06-27 07:08] Sarthaktydy commented on #19718
But the opening keyboard is related to webview not reading the HTML input tag. Webview doesn't respond to any input tag, this is the primary reason why the keyboard isn't opening.

[2019-06-27 07:21] a1lombx commented on #24933
what is the dependencies to add?

[2019-06-27 07:42] AnasGhareib commented on #16591
hey I have a proplem when I start to run flutter and flutter doctor
**Oops; flutter has exited unexpectedly.
Sending crash report to Google.
Crash report sent (report ID: cadc6c7f7b463c3a)**
[flutter_08.log](https://github.com/flutter/flutter/files/3333478/flutter_08.log)

[2019-06-27 07:42] AnasGhareib commented on #16591
**Oops; fluttproblemexited unexpectedly.Sending crash report to Google.Crash report sent (report ID: cadc6c7f7b463c3a)**

[2019-06-27 07:59] kebeyDing opened #35166 "INSTALL_FAILED_NO_MATCHING_ABIS"
Error: ADB exited with exit code 1
adb: failed to install /Users/xxxx/FlutterProjects/flutter_xxx/build/app/outputs/apk/app.apk: Failure [INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113]
Error launching application on Android SDK built for x86.

why??

[2019-06-27 08:03] assumptionsoup commented on #18788
I'm having a similar issue trying to get the prefix text to display next to text which has `textAlign:end`

![image](https://user-images.githubusercontent.com/278467/60248315-3fc64780-9877-11e9-8971-d033bef63640.png)

[2019-06-27 08:05] lucien-theron commented on #33481
related to #29899 and #19647

[2019-06-27 08:24] bhargavsejpalindianic commented on #34248
same issue

[2019-06-27 08:30] Paulswith commented on #23553
I run it on vs code and throws the same problem. like below:
[code]

Open terminal goes to `/path/to/your/app/android`, run above command with proxy configs, and it resolved.
[code]
![image](https://user-images.githubusercontent.com/24262233/60250272-de46bd00-98f8-11e9-9343-639ed720cce7.png)

[2019-06-27 08:33] Salby commented on #34675
Do we have any specs on this transition?

Like how much to scale the parent and child screens, duration etc.

[2019-06-27 08:43] poqueque opened #35168 "azure"

[2019-06-27 08:44] #35168 closed

[2019-06-27 08:44] poqueque commented on #35168
opened by mistake

[2019-06-27 08:46] elixiao commented on #26945
Same problem. Every time I run `flutter run`, it loses connection to the device immediately after app launch.

[code]

[2019-06-27 08:48] miDeb commented on #34687
Are you sure that you create the future in `initState` and use the same in `build`?
I cannot reproduce with the code below:
[code]

[2019-06-27 09:02] sgon00 commented on #2731
Hi, sorry to interrupt. I saw `Hixie removed their assignment` and `Hixie removed this from the June 2019 milestone` from this issue. So what is the plan now? I heard flutter team would support this soon.

[2019-06-27 09:07] stefanpieck commented on #35120
[reproduce_coverage_issue.zip](https://github.com/flutter/flutter/files/3333769/reproduce_coverage_issue.zip)

I added a sample project which reproduces the issue (at least on my machine).
On flutter 1.5.3 it works as expected.
On flutter 1.5.4-hotfix.2 and 1.7.9 I was able to reproduce the issue reliable which this Project.

While stripping down our code to create this minimal project I found out

[2019-06-27 09:11] keke521 opened #35169 "Finished with error: Gradle task assembleDebug failed with exit code 1"
1. My problem is when I use the command-line 'flutter run' to run my project,it can running successfully without any trouble。but when I use the AndroidStudio Run button to run my project,it always failed with the error as the title. It bothered me a long time,and I want konw why?
2. I uses the command-line like 'flutter run/doctor ...' everything is ok!
3. ...

## Logs
the android studio run logs:

[2019-06-27 09:27] Zazo032 commented on #35162
Could it be related to OxygenOS locking some apps to 60fps to save battery?

There's a post in XDA that shows how to force 90hz on all apps, could you try a Flutter app after forcing it?
https://www.xda-developers.com/oneplus-7-pro-true-90hz-display-mode/

[2019-06-27 09:31] tottomotto commented on #35162
@ajinasokan can you please use the flutter profiling [explained here](https://flutter.dev/docs/testing/ui-performance) and post the results.

[2019-06-27 09:31] Aishwarya1317 commented on #30638
I am facing same issue

[2019-06-27 09:37] ajinasokan commented on #35162
@Zazo032 Yes. And Yes. I have mentioned this in the second paragraph. It runs at 90FPS after that.

@tottomotto This is not a performance issue. The app is running perfectly fine without janks and frame drops. Problem is that the number of frames is locked to 60 instead of 90. And as I mentioned in the issue, the problem is gone if I force the device to use 90Hz always. So this is something about

[2019-06-27 09:51] follyxing commented on #30180
same here.......

[2019-06-27 09:56] #34824 closed

[2019-06-27 10:03] nikosibarani opened #35170 "Flutter crash report; please file at https://github.com/flutter/flutter/issues."

[2019-06-27 10:05] juliengit2 commented on #31922
for those still looking, here was the solution that worked for me :

flutter build apk --split-per-abi
didn't work,, even after editing build gradle
from https://flutter.dev/docs/deployment/android#build-an-apk

instead, use :
**flutter build appbundle**
and then upload **app.aab**
issue fixed for both 32 and 64 bits, and the alert 'release is not compliant with the Play 64-bit requirement." has g

[2019-06-27 10:18] ened commented on #14815
@lrhn how to move on from here? Based on your comment and the source code visible at https://api.flutter.dev/flutter/foundation/compute.html, the Flutter `compute` function should simply work?

[2019-06-27 10:19] cimplesid opened #35172 "The getter 'value' was called on null"
I am trying to make a dropdown menu which contains a list of colors and change the settings as the value in dropdown changes. Code is all fine but i am still getting error
![Screenshot_1561629331](https://user-images.githubusercontent.com/29953052/60258642-45fb0900-98f5-11e9-93ef-4b67a1f836a1.png)

[code]

[2019-06-27 10:22] ram231 commented on #35172
[code]

[2019-06-27 10:25] WATER1350 commented on #17387
I have the same problem, but it on iOS

[2019-06-27 10:26] #35172 closed

[2019-06-27 10:28] Sachinsowri commented on #34922
i can't dubug the  applicatin with stetho initialize.. if i try with stetho.initialize   following complier error message show like that

Launching lib/main.dart on Android SDK built for x86 in debug mode...

Compiler message: file:///home/administrator/softwares/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_stetho-0.2.2/lib/src/http_client_response.dart:4:7: Error: The non-abstract class 'St

[2019-06-27 10:38] vanlooverenkoen opened #35173 "Make a Snackbar configurable to be dismissable or not"
Make a Snackbar configurable to be dismissable or not

This is a stackoverflow question with the same problem.
https://stackoverflow.com/questions/53870123/flutter-prevent-snackbar-from-getting-dismissed-on-swipe

[2019-06-27 10:44] harishalwala commented on #11940
This worked for me

[2019-06-27 10:48] lrhn commented on #14815
I see no issue in that code either (from a cursory reading), so I'm not sure what you are asking about.

If the `Isolate.resolvePackageUri` function doesn't work, then it's not because of this code, but an underlying issue in the Flutter isolate set-up phase, as discussed above.

[2019-06-27 10:57] kenwen commented on #32903
I've just started experiencing the same, I'm trying to isolate and think issue caused by some changes made to gradle files right before

[2019-06-27 11:15] Ariunbold0904 opened #35175 "How to use FragmentActivity inside flutter project ?"
Hello everyone. Can I use FragmentActivity inside flutter project? I want to implement BiometricPrompt with native code but it required fragmentActivity as a parameter.

Now the main activity looks like this:
public class **MainActivity** extends **FlutterActivity**

So, I can't use this kind of code:
**FragmentActivity** fActivity = this;

Please. Help guys.

[2019-06-27 11:29] kalkotekedar commented on #24488
Try this [link](https://stackoverflow.com/questions/50536306/flutter-google-sign-in-crash-exceptionpreprocess-294?answertab=active#tab-top). It works for me for facebook login crash

[2019-06-27 11:36] Sarthaktydy opened #35176 "webview_flutter doesn't respond to Input tag"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[2019-06-27 11:37] #35176 closed

[2019-06-27 11:40] follyxing commented on #26945
Same problem +1

![image](https://user-images.githubusercontent.com/4349448/60263470-55894a80-9913-11e9-8d66-2ce4fd34da9e.png)

MacOS Mojave 10.14.5

[2019-06-27 12:11] Qxyat opened #35177 "FlutterOverlayView doesn't remove from superview in some cases"
Steps to Reproduce
![1](https://user-images.githubusercontent.com/11627283/60264735-87e87700-9916-11e9-8255-ed1e6b30e501.gif)
 I build an iOS platform view with yellow color in the page. When app life cycle changed to the  AppLifecycleState.resumed，I rebuild the platform view. But the number below it become strange.Please take a look at the gif.

And the demo is here.
https://github.com/Qxyat/Flut

[2019-06-27 12:21] Saifallak commented on #19389
so any updates on this ?

[2019-06-27 12:22] yossefEl opened #35178 "keystore load: Keystore was tampered with, or password was incorrect"
## I'm gonna kill myself hahahaha.. i tried many solutions but no one works,
key.properties
[code]
I tried this
[code]
and this
[code]
and also this
[code]
but every time i run the build command i get this 🤣
[code]

[2019-06-27 12:24] chanpanha opened #35179 "[undefined] flutter create --ios-language objc --android-language java ."
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[code]

[2019-06-27 12:30] jkmathew opened #35180 "ListView scroll issue when embedded in UIPageViewController"
My app contains a `UIPageViewController`, `FlutterViewController` is one of the child view controllers of page view controller. When a list view is visible in flutter view controller, the scrolling ends up in a mess. Exact vertical scroll(straight 90 degree swipe) will work, but slight change in finger to right or left  during vertical scroll will loose list view scroll and page view controller's

[2019-06-27 12:30] PerrchicK commented on #31922
Thanks @juliengit2, `flutter build appbundle` does work.

It's worth mentioning the flutter version as well, because I had v1.6.0 until now and it didn't work.
I had to update (currently to the latest) in order to make it work.

[2019-06-27 12:35] shenyuexin commented on #32189
I have the same question on Flutter version 1.5.4-hotfix.2

[2019-06-27 12:44] dutyk commented on #34992
![2](https://user-images.githubusercontent.com/23434767/60267010-cf253680-991b-11e9-83e7-fd678dc5c5fc.JPG)

when switch from "行情" to "首页", the problem occurs

![1](https://user-images.githubusercontent.com/23434767/60267035-d9dfcb80-991b-11e9-9bf6-411a63cab0fc.JPG)

[code]

[2019-06-27 12:44] enricobenedos commented on #31086
With my colleagues we has exactly the same problems you describe with iPhone X/Xs. iPhone 7 Plus hasn't these problems.
Our app has a page that show a DataTable with a lot of records/rows. On Android devices or iPhones < X series there are no problems. With iPhone Xs during the page scroll it become completely stucked. The only thing that you can do is change page.

[2019-06-27 13:05] shivaniaakanksha commented on #30638
i solved this problem as,my .bat file was corrupted which was denying the access to open it,so i reinstalled the windows,there may be some other way to fix the .bat file of windows but i have no idea how to do that .

[2019-06-27 13:07] AndreHaueisen commented on #19607
Will the plugin also support video sharing?

[2019-06-27 13:09] emilioschepis commented on #34716
Did you manage to find a solution?

[2019-06-27 13:22] RPComputer commented on #26373
Same here, hope it's solved soon

[2019-06-27 13:23] bruceanwyl opened #35181 "AssertionError message property is null"
In writing a test to exercise a constructor assertion. The class code and the test code are shown below. I hoped to inspect the message property in the AssertionError that is thrown, to confirm that the correct assertion has failed. Unfortunately the message property has a null value. Inspecting the AssertionError object in debug mode, showed the private properties:
- _failedAssertion = "retailerI

[2019-06-27 13:26] mohanraoa opened #35182 "Swift based flutter plugin that depends on Objective-C framework using bridging header"
I have a requirement to develop swift based flutter plugin that depends on Objective-C framework using bridging header but I could not find any example.

what changes are required to make swift code work with objective-c framework using bridging header .

[2019-06-27 13:34] minh98 commented on #35179
objc and java are default. just using flutter create

[2019-06-27 13:37] brunopinheiro commented on #24166
Personally, I like the idea of having my tests helping me identifying the problem. The tests could cancel all the pending timers, but you production code will still have the issue since you didn't take care of it, and that's gonna be hidden from you.

In my case, the problem that I have is: I have a `StreamSubscription`, which I'm cancelling during the `dispose` of my Widget. `StreamSubscription.c

[2019-06-27 13:45] #35179 closed

[2019-06-27 13:45] ketanm commented on #35170
@nikosibarani

Make sure that OpenSSL is installed correctly - https://cocoapods.org/pods/OpenSSL-Framework

Also as mentioned in `flutter doctor` - Cocoapods is out of date, there were some known issues in the prior version. Update Cocoapods as mentioned in the output.

[2019-06-27 13:51] JaeyoungChu commented on #18494
Compiler message:
file:///Users/systemgnk/Desktop/flutter/.pub-cache/hosted/pub.dartlang.org/flare_flutter-1.5.2/lib/flare.dart:1033:18: Error: The argument type 'Int32List' can't be assigned to the parameter type 'Uint16List'.
 - 'Int32List' is from 'dart:typed_data'.
 - 'Uint16List' is from 'dart:typed_data'.
Try changing the type of the parameter, or casting the argument to 'Uint16List'.

[2019-06-27 13:52] shashidharreddydakuri commented on #35179
I didn't understand, can you explain. i installed flutter and flutter doctor working perfect but when i run flutter: new project in vscode it showing this error
[undefined] flutter create --ios-language objc --android-language java .
Waiting for another flutter command to release the startup lock...
Creating project ....
  .gitignore (created)

Oops; flutter has exited unexpectedly.
Sending crash

[2019-06-27 13:57] adrianmoneta opened #35183 "Flutter UI freezes after AppLifecycleState.resumed event if GoogleMaps widget is present"
## Steps to Reproduce
1. have an app with GoogleMaps widget with some extra widgets on top (Fab and custom bottom sheet in my case)
2. Run app on iPhone XS - all works as it should
3. Swipe from bottom or top to show some system UI (app goes to background), showing system permissions dialog also causes this bug
4. Move app to foreground - whole ui rendered by flutter is frozen, all gestures are co

[2019-06-27 13:57] BOBODDY opened #35184 "[image_picker] Image taken with camera with maxHeight or maxWidth on iOS is rotated 90 degrees"
I'm using the `image_picker` plugin to get images for my app, version `^0.6.0+10`. On my Android device, both the camera and gallery options work as expected. On my iOS device, gallery pictures work as expected but pictures taken with the camera are rotated 90 degrees when the `maxWidth` or `maxHeight` parameters are given.

I made a small example project to make sure it wasn't a problem in my app

[2019-06-27 13:58] BOBODDY commented on #35184
I suppose as a workaround, I could take the image full size from the plugin and do my own scaling in dart. I'll try that until I hear more on this issue.

[2019-06-27 13:59] nxSin commented on #34966
when I run ```webdev build``` ,console print

[code]

then I deletge ``1dio``` code，

[code]

the project can run properly.this issue resolved.

[2019-06-27 13:59] #34966 closed

[2019-06-27 14:06] shashidharreddydakuri opened #35185 "[undefined] flutter create --ios-language objc --android-language java ."
[undefined] flutter create --ios-language objc --android-language java .

I
[flutter_01.log](https://github.com/flutter/flutter/files/3335089/flutter_01.log)
[flutter_02.log](https://github.com/flutter/flutter/files/3335090/flutter_02.log)

 installed flutter and flutter doctor working perfect but when i run flutter: new project in vscode it showing this error

[undefined] flutter create --ios-lan

[2019-06-27 14:08] ducquoc commented on #17870
I will be straight: there is typo in original author post
[code]
Double "b" `bb` vs double "u" `uu` in pubspec:
[code]

After copy & paste again you can run `flutter clean` .
Usually using the folder as "assets" list item is better , can avoid typo issue (usually from copy/paste or native keyboard hook)

[2019-06-27 14:12] lukaspili commented on #35184
Same issue.
Adding flutter doctor:

[code]