[2017-12-23 13:24] mobilemindtec commented on #13629
Ok, I will test! Thanks!

[2017-12-23 16:51] thosakwe opened #13762 "Android app crashes on startup"
## Steps to Reproduce
Honestly, no idea what causes this. I'm using Firebase. Works perfectly on iOS; fails on Android. It never even starts on Android - just immediately crashes. `cric_central has stopped` is shown on the emulator screen.

## Logs

Verbose log:
[code]
---
`flutter analyze`:

[code]

## Flutter Doctor
[code]

[2017-12-23 20:57] Solido commented on #12989
In my case even after removing the store entries with reference field the problem persist and the flutter app can't be restarted.

`D/AndroidRuntime(16669): Shutting down VM
E/AndroidRuntime(16669): FATAL EXCEPTION: main
E/AndroidRuntime(16669): Process: fr.figaro.front, PID: 16669
E/AndroidRuntime(16669): java.lang.IllegalArgumentException: Unsupported value: com.google.firebase.firestore.Documen

[2017-12-23 21:03] Skylled commented on #12989
@Solido My first guess, without seeing your code, would be that your cache is still showing the reference.

[2017-12-23 21:08] Solido commented on #12989
For sure ! question is which one ? probably the one on the android simulator.
Any idea on how to clean it ? restarting one has no effect.

[2017-12-23 21:11] Skylled commented on #12989
You'll have to do a reinstall of your app, unfortunately. Or clear its app cache in settings.

[2017-12-23 21:22] Solido commented on #12989
Building the app with Android Studio instead of the Flutter plugin did the trick to clean the cache. Thx !

[2017-12-24 04:38] InMatrix opened #13763 "flutter_gallery_assets cannot use alternate storage locations"
Flutter Gallery's assets are not stored in https://storage.googleapis.com/flutter_infra/. As a result, users cannot use alternate storage locations by specifying the FLUTTER_STORAGE_BASE_URL environment variable.

https://github.com/flutter/flutter/blob/dd796853ccb8e90d4ce5e9d5a101d66d35c2e6a4/examples/flutter_gallery/pubspec.yaml#L15-L18

The current URL is not accessible from China, as the user

[2017-12-24 08:16] lucaslcode opened #13764 "Clarify in docs, TextField's decoration property is required for selection support"
As above. Using textfield with the decoration set to null means text cannot be selected. This should be mentioned in the docs.

[2017-12-24 09:32] lucaslcode opened #13765 "Newline on multiline TextField doesn't appear until next character input"
## Expected

Press 'return', and the multiline TextField should grow by one line

## What happens

The TextField doesn't grow until the next character is entered.

## Steps to Reproduce

[code]

![demo](https://user-images.githubusercontent.com/32044095/34325574-6dcf818a-e8e9-11e7-9028-cb7cc410e2f9.gif)

[2017-12-24 12:29] tomc1998 commented on #12322
Did you find the answer to this??

[2017-12-24 12:56] maxatcn opened #13766 "Upgrading flutter should upgrade files we originally created"
The latest flutter tools upgraded to Gradle 4.1 and Android Studio Gradle plugin 3.0.1, for old flutter projects, I have updated the configuration files to align the change.  But for the new created flutter projects, it will still have to update these configuration files manually.  Otherwise, it will get compile errors.

When the next alpha release comes in(currently, 2017-12-12)?  So that it is w

[2017-12-24 14:13] #13086 closed

[2017-12-24 16:19] yduman commented on #12152
I can reproduce this error with a simple HelloWorld provided from your docs.

**OS:** Windows 10
**Steps:**
1) created flutter project through Android Studio
2) deleted test folder and rewrote main.dart to HelloWorld example

**main.dart**

[code]

**Error:**
I/flutter ( 3728): ══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY ╞═══════════════════════════════════════════════════════════
I/flutter ( 3728): T

[2017-12-25 01:40] realcarlos commented on #13639
Thank you ! Solved ,I will close this issue.

[2017-12-25 01:40] #13639 closed

[2017-12-25 01:43] realcarlos opened #13767 "Clarify iOS Flutter view integration into existing apps"
Hello , I have seen the flutter_view sample ,but I want to know how to embed a FlutterView inside an Android and an iOS app from zero. I can not find any documents to tell me what should do .

My exsiting project is a huge one , it is impossible to run flutter create to make a new project .
I just want to call a fullter view from my exisiting swift view ,what I need is a step-by-step guide .
If th

[2017-12-25 01:51] realcarlos commented on #8299
@mit-mit  404

[2017-12-25 02:13] realcarlos commented on #8945
and https://flutter.io/platform-services/ is unable to open.

[2017-12-25 05:44] realcarlos commented on #8945
I have seen the platform_view example

FlutterViewController* controller =
  (FlutterViewController*)self.window.rootViewController;

My question is FlutterViewController must be defined to the rootViewController?

I don't want to change the structure of the existing project , I just want to push a button in a navtive swift viewtroller , and push to a FlutterViewController ,is it possible?

We alr

[2017-12-25 05:58] realcarlos commented on #9217
If https://github.com/flutter/flutter/tree/master/examples/flutter_view don't use the storyboard ,it will be a better sample .

[2017-12-25 06:07] cbracken commented on #12097
This should now be fixed on master.

[2017-12-25 06:07] #12097 closed

[2017-12-25 07:55] thosakwe commented on #13752
If you run `_incrementCounter` without `await`, it will run asynchronously, as you might imagine. You'll need a `then` callback.

[code]

[2017-12-25 08:02] thosakwe commented on #12939
So, is there currently no fix for this yet?

[2017-12-25 08:41] sroddy commented on #12939
Have you tried to run your code on master? The issue seems to be solved for me

[2017-12-26 07:19] jerrywell commented on #13765
+1 for this issue.

[2017-12-26 08:02] pedia opened #13768 "iOS template missing 1024x1024 App Icon"
According to [Apple Guide](https://developer.apple.com/ios/human-interface-guidelines/icons-and-images/app-icon/), miss size: 1024px × 1024px (1024pt × 1024pt @1x)

[2017-12-26 08:52] robinbakkerus commented on #13588
I have the same problem on Windows 8, but I get the following

[code]

[2017-12-26 09:30] flyou commented on #13642
when use BottomNavigationBarType.fixed that ok ，but when use BottomNavigationBarType.shifting that wrong

[2017-12-26 11:03] lonkecxd commented on #6724
Using Command as **Administrator** finally solves my problem.
I was on windows 10!

[2017-12-26 11:04] lonkecxd commented on #13747
Using Command as **Administrator** finally solves my problem.
I was on windows 10!

[2017-12-26 14:52] megatolya commented on #730
We have to open payment web form and this feature is blocker for us 😢

[2017-12-26 19:50] ride4sun commented on #13588
@robinbakkerus  Can u run on verbose and see if you get more info.

[2017-12-27 08:44] mit-mit commented on #13763
@Hixie can we move those assets?

[2017-12-27 09:04] mit-mit commented on #9502
Having spend the last week writing a small demo app with a few others, I can confirm that this issue is very, very irritating... Keeping in milestone 3.

@xster given this is iOS specific, is this something you can help with?

[2017-12-27 09:13] jakobr-google commented on #13763
Sounds like there's access to GitHub, so we could maybe host them there, instead?

We could also publish the package on pub. That'd just work with the existing mechanism, but I personally don't think it's a good idea to publish this kind of private package on pub -- especially since we don't have a namespace mechanism.

[2017-12-27 09:32] xster commented on #9502
I added it to my list. I'll likely get to it in February

[2017-12-27 09:59] xster opened #13769 "Flutter error output stack doesn't print on iOS simulator"
Took the default create template and added an error in the first line of the build() in _MyHomePageState.

Got back
[code]

Though I would assume it would have printed the line of the code and more info in the stack.

[2017-12-27 10:22] abbadabbatech opened #13771 "Keyboard on iOS when using dictation removes characters when you go back to keyboard"
## Steps to Reproduce

I am using a keyboard on iOS, when a user clicks the microphone to use dictation it successfully puts the text in my textinput field. However if the user needs to edit and clicks the keyboard on the dictation panel it pads the front of the text in the field with spaces and removes characters from the end of the line. Anyone seen this? Any ideas?

[2017-12-27 10:34] zjhiphop opened #13773 "Flutter inited app Crashed iOS 11 real device"
## Steps to Reproduce
1. use `flutter create app` to init a app
2. connect device to MAC
3. use `flutter run -d xxx` to run app in real device

The last few lines of `flutter run -verbose`
[code]
## Logs
[code]
## Flutter Doctor

[✓] Flutter (on Mac OS X 10.13.2 17C88, locale en-CN, channel alpha)
    • Flutter at /Users/jade/Documents/project/learn-flutter/flutter
    • Framework revision 8f65fec

[2017-12-27 11:38] chaokongzwp commented on #13769
@xster i have find out the reason of my problem,

Duration lastDate = new Duration(seconds: _model.owner.afterVisited);
when _model.owner.afterVisited is null will throw an exception

**### FlutterError.onError caught an error
Caught error: NoSuchMethodError: The method '_mulFromInteger' was called on null.
Receiver: null
Tried calling: _mulFromInteger(1000000)**

just the info above ,it is hard t

[2017-12-27 12:04] kangwang1988 commented on #13769
<img width="1246" alt="screen shot 2017-12-27 at 8 01 47 pm" src="https://user-images.githubusercontent.com/817851/34381052-fcfd9eec-eb40-11e7-82f0-abed883497ee.png">
I  mocked a exception. I think it would be better if the exception/stack can be clickable and jump from the console.

[2017-12-27 13:34] mit-mit commented on #8299
@realcarlos can you elaborate?

[2017-12-27 15:38] xster commented on #13756
FWIW, it seems like YouTube's public gdata no longer exposes the stream url. We'd have to create something like https://developers.google.com/youtube/android/player

[2017-12-27 15:44] xster commented on #13771
cc @cbracken

[2017-12-27 15:44] xster commented on #13768
Duping @13237

[2017-12-27 15:44] #13768 closed

[2017-12-27 15:51] xster commented on #12504
I imagine this is fixed now https://github.com/flutter/flutter/wiki/Using-Flutter-in-China

[2017-12-27 15:51] #12504 closed

[2017-12-27 15:52] xster commented on #12838
Fixed now https://github.com/flutter/flutter/wiki/Using-Flutter-in-China

[2017-12-27 15:52] #12838 closed

[2017-12-27 15:53] xster opened #13775 "flutter-dashboard.appspot.com is not accessible in China"
Impediment for contributing to flutter repo

[2017-12-27 18:47] abbadabbatech opened #13776 "video_player size property"
## Steps to Reproduce

I am trying to use the new version and access the size property, but no matter what video I choose, the controller always shows a null size property.  Is there something special that needs to be done to get the size property to populate?  I have tried from iphone on .mov and .mp4 videos and its always null.  I confirmed I am using the correct version and size is available bu

[2017-12-27 19:15] abbadabbatech commented on #13776
Needed to wait for the video to be initialized, not always working, but better then before.  This feature still does not help with video orientation, thought it would but it still produces wrong even though the video views properly in native viewer on iphone.  I will close this one and open another related to orientation.

[2017-12-27 19:15] #13776 closed

[2017-12-27 19:32] maryx opened #13777 "Allow variable-sized GridView widgets"
This is a feature request.
Can we have variable-sized (non-square) GridView widgets? E.g. the example from https://docs.flutter.io/flutter/widgets/GridView-class.html:
[code]
<img width="311" alt="screen shot 2017-12-27 at 11 32 21 am" src="https://user-images.githubusercontent.com/3357543/34391314-a3782fdc-eaf9-11e7-8263-c8bcddf4c08e.png">

This results in a lot of extra space below the text, sin

[2017-12-27 19:41] sethladd commented on #13602
We don't :) We leave it up to the developer. The framework itself it attempting to reduce dependencies, so the choice to use package:http can be made by the developer.

[2017-12-27 22:48] long1eu opened #13778 "Upload file using post"
I'm trying to upload a file through a post request like this:
[code]

But the server doesn't get the file.

[2017-12-27 23:02] long1eu commented on #13778
https://stackoverflow.com/questions/22600488/how-can-i-upload-a-pdf-using-darts-httpclient

[2017-12-27 23:02] #13778 closed

[2017-12-28 00:04] Hixie opened #13779 "Error executing simctl: -6 during flutter doctor"
I got this error when running `flutter doctor`:

[code]

No idea why.

MacOS 10.13.2 on a 2012 MacBook Pro.

[2017-12-28 00:56] Monotoba opened #13780 "Exception on ExpansionPanel toggle due to Duplicate Global Keys"
This most likely is me doing something wrong. However, I thought I had this working... I get this error when trying to add a column with content to an ExpansionPanel. The error only occurs at runtime when I try to expand more than one panel at a time. The app is a simple one inspired by the holidays. It is a simple Holiday Shopping List. It contains an image and text in the top 40% of the page. In

[2017-12-28 01:01] Hixie commented on #13779
This actually happens with almost all commands I run, including. `flutter run`.

[2017-12-28 01:16] appsforartists commented on #13669
`CurvedAnimation` is even worse - it sounds like an arc move.

[2017-12-28 01:37] appsforartists opened #13781 "Redesign docs template to make object names easier to find"
As a newcomer to Flutter, I find this layout hard to skim:

<img width="1440" alt="screen shot 2017-12-27 at 5 32 37 pm" src="https://user-images.githubusercontent.com/926648/34397584-189a09c0-eb2c-11e7-96bd-d93db1b1ddf4.png">

My eyes go immediately to the center pane.  I expect to see a heading that says `Listener` at the very top of the center pane; like **Layout behavior**, but perhaps with a

[2017-12-28 03:09] AndrewTran2018 opened #13782 "Refresh Indicator UI is frozen if duration is over 10 seconds"
## Steps to Reproduce
- Open the example project flutter_gallery
- Change the timer duration that mimics a latency interval for the indicator to be shown to 10 seconds<like the below:

  **Future<Null> _handleRefresh() {**
    final Completer<Null> completer = new Completer<Null>();
    new Timer(const Duration(**seconds: 10**), () { completer.complete(null); });

- Run the app
- Go to Pull to Ref

[2017-12-28 03:14] WoodyGuo commented on #7053
Any progress with this issue?

We've already been using [djinni](https://github.com/dropbox/djinni) to write shared logics across different platforms. It would be great if we can have interop between Dart and C++, rather than having to go back and forth through Java/Objc-C.

[2017-12-28 04:27] athornz commented on #13749
What would the easier way be?

[2017-12-28 04:28] athornz commented on #13633
I'd also be keen to see a bit more of an example for this.

[2017-12-28 05:19] petrucci34 commented on #12542
A quick update about the delay in my response, I tried running the gallery app on my device (iPhone 6s Plus running iOS 11.2) and the app crashes on launch. The app runs without an issue on the simulator. I don't have much of a stack trace to analyze. I'll try to run the demo on another device.
<img width="512" alt="screen shot 2017-12-27 at 8 39 53 pm" src="https://user-images.githubusercontent.c

[2017-12-28 08:01] paulcbetts commented on #13707
I'm also seeing this, I've got a relatively simple project that repros it if that would be helpful to share. Refs flutter/plugins#317

[2017-12-28 11:43] xinoxapps opened #13784 "firebase_auth 0.4.0, DexArchiveMergerException: Unable to merge dex"
After upgrading gradle tools from 2.x.x to 3.1.0, the build failed with an exception:

[code]
pubspec.yaml:

[code]

firebase_auth is the problem. I noticed that the library is referring to 'api 'com.google.firebase:firebase-core:[11.4.0,12.0['', and the other fire packages are using ''com.google.firebase:firebase-core:11.+''

_Removing firebase_auth solves the build error.
Migrating back to 0.3.2

[2017-12-28 12:23] mit-mit commented on #13602
PR: https://github.com/flutter/website/pull/769

[2017-12-28 13:55] IljaDaderko opened #13785 "[docs] Incorrect decoration implementation shown"
I was browsing through [HTML/CSS patterns](https://flutter.io/web-analogs/) section of documentation and noticed one thing under `Setting Background Color` section, document has following notes

and shows this implementation

[code]

From what I've seen, don't `width`, `height` and `color` need to go under decoration?

[code]

[2017-12-28 14:08] franzsilva commented on #13779
What version of xcode is installed?, is it a full install or only the developer tools?

[2017-12-28 15:10] veereshkanavalli opened #13786 "Flutter Widget disappears"
We upgraded to latest flutter on 26 DEC 2017 along with Gradle 4.1.
Earlier both were 40 days old versions on which we were building the code.
All the controls were working fine on all handsets.

After upgrade, on Mi4i the widgets started disappearing and those continued to work on other phones.

Then started to remove component by component from the screen and checked where it started disappearin

[2017-12-28 16:37] sethladd commented on #13520
@roughike thanks for the head's up! Looking forward to the draft.

[2017-12-28 16:42] sethladd commented on #13611
Eventually we'll need a way for the community to contribute templates and starter projects, because one size doesn't fit all, no matter how many options we offer via the tool.

Imagine a world where community members can contribute templates, and publish those templates to pub. Then imagine the flutter tool can ask pub "list me all the project templates" and offer them as options to the user. The

[2017-12-28 17:40] sethladd opened #13787 "API doc clarification request: if a key is not provided for a widget, what happens?"
Trying to learn about keys, and I found https://docs.flutter.io/flutter/foundation/Key-class.html

One of my initial questions was: "what is the "default" key?" and "if I don't provide a key, what's the default?"

I also checked https://docs.flutter.io/flutter/widgets/Widget/key.html and didn't find an obvious answer.

[2017-12-28 18:37] roughike commented on #13520
@sethladd Sure!

Was planning on doing a blog post about it, but if it fits better in the flutter.io site then why not. Kinda busy with work and the New Year celebrations (doing both simultaneously), but I'll make a PR directly to the Flutter site then :)

[2017-12-28 18:51] sethladd commented on #13520
Cool. Let's take a look at the article. Please write it with the goal of being included in the main website. Worst case, you can publish as blog post. But, I suspect this is an area relevant to pretty much everyone so we should aim for the website. Thanks!

[2017-12-28 19:12] roughike commented on #13520
It's currently kind of my own writing style, and it's not quite there just yet.

I'll rework it a bit to be more of the writing style that the main website has. Give me a couple days into the next year and I'll have something then.

[2017-12-28 19:16] sethladd commented on #2319
Canonical location for the video player plugin is now here: https://github.com/flutter/plugins/tree/master/packages/video_player

[2017-12-28 19:49] Rockvole opened #13788 "Issue from website page Reading and Writing Files"
From URL: https://flutter.io/reading-writing-files/

I created a new project with flutter create. Copy and pasted this example into main.dart.
Added path_provider: "^0.3.0" to my pubspec.yaml

It does not run in Intellij 2017.3.2
Error :
```Build file '/home/david/.pub-cache/hosted/pub.dartlang.org/path_provider-0.3.0/android/build.gradle' line: 6```
```* What went wrong:```
```A problem occurred

[2017-12-28 20:04] Hixie opened #13789 "API docs for Column and ListView should give hint for scrolling with flexible size"
Sometimes you want a layout that uses spaceBetween to space out some widgets, but with a minimum height below which it scrolls if it overflows.

We should add an example to SingleChildScrollView, pointed to by Column and ListView, that does this. An easy structure to implement it is:

   LayoutBuilder -> SingleChildScrollView -> ConstrainedBox -> Padding -> Column

...where ConstrainedBox is const

[2017-12-28 20:30] sethladd opened #13790 "Developers wish to inline a WebView"
A tracking issue for this feature request, for voting and updates.

Use cases include:

* Rendering content created by a third-party CMS (often in HTML)

[2017-12-28 20:33] sethladd commented on #12114
This dupes https://github.com/flutter/flutter/issues/8098

[2017-12-28 20:44] appsforartists commented on #13669
It looks like `AnimationController` should be called `Timeline`.

[2017-12-29 06:35] coderJohnZhang commented on #13749
I'm interested in the easier way, too. Most of the time, I needn't have to appoint nextFocusDown, nextFocusUp, nextFocusLeft, nextFocusRight for a widget if I use native android to develop tv apps. I guess flutter have to do this work so far. This increase the development difficulty，not easy for use.

[2017-12-29 07:56] rednoah commented on #430
Out-of-the-box bluetooth support would be appreciated. My team decided to go with React Native because Flutter Blue doesn't work on iOS yet. I would have loved to go with Flutter though.

[2017-12-29 08:12] Hixie opened #13791 "Text widget should have a constructor where you give a TextSpan"
This would let people create const text widgets that are affected by the DefaultTextStyle.

[2017-12-29 09:26] mit-mit commented on #13788
I just tried, and can't seem to repro this.

Can you share the output of running `flutter doctor` in a terminal/console, please?

[2017-12-29 09:29] mravn-google commented on #13788
@Rockvole Version 0.3.0 of the `path_provider` plugin does not work with current `alpha` branch of Flutter. The reason is that the plugin has been upgraded to Gradle 4.1, but the corresponding change to Flutter tooling and project templates are not yet on `alpha` branch.

[2017-12-29 09:30] mit-mit commented on #13788
Ah, that would explain it; I tried master.

@mravn-google, are we rolling alpha?

[2017-12-29 09:39] mit-mit opened #13792 "Update http docs with override details"
https://github.com/flutter/website/pull/769 updated https://flutter.io/networking/ to not use the deprecated client override. Once lands, we should add details on how to do mocking of the client for test, etc.

[2017-12-29 10:25] mravn-google commented on #13788
I have a few Gradle-related changes to make, then I'll do a roll.

[2017-12-29 10:51] lejard-h commented on #730
@megatolya the webview plugin cannot do the job for you ?

[2017-12-29 10:57] mit-mit opened #13793 "Hot reload warning on changing global variable despite change reloading"
## Steps to Reproduce

1. Create new app
2. Change main.dart to:

[code]

3. Run the app
4. Change `text 1` to `text 2`
5. Hit 'hot reload'

=> The program change is shown in the app, but still get the warning:

[code]

[2017-12-29 10:58] mit-mit commented on #13793
cc @rmacnak-google

[2017-12-29 12:02] mit-mit opened #13794 "Hot reload warning when adding new members"
1. Create a new app
2. Replace `main.dart` with:
[code]
3. Add a new member to MyApp:
[code]

4. Hot reload
 => get a warning that the new member wasn't reloaded?

[code]

[2017-12-29 12:02] mit-mit commented on #13794
cc @rmacnak-google

[2017-12-29 13:27] mit-mit opened #13795 "Dialogs fail when shown from "single page" apps"
## Steps to Reproduce

1. Create app with the following in `main.dart`:

[code]

2. Run it, and click the button

=>

[code]

[2017-12-29 13:27] mit-mit commented on #13795
I feel like there is something very basic I'm missing here?

[2017-12-29 13:46] mit-mit opened #13796 "Hot reload codelab experience: Step 4, part I"
This bug is filed to track a suboptimal hot reload experience during a step in our primary codelab (https://codelabs.developers.google.com/codelabs/flutter/). Other similar bugs exist for other steps.

This bug tracks step 4, part I (changing main.dart from the template to a smaller new app).

Before code:

[code]

After code:

[code]

Result:

[code]

[2017-12-29 13:52] mit-mit opened #13797 "Hot reload codelab experience: Step 4, part II"
This bug is filed to track a suboptimal hot reload experience during a step in our primary codelab (https://codelabs.developers.google.com/codelabs/flutter/). Other similar bugs exist for other steps.

This bug tracks step 4, part II (changing the single-class main to the two-class main).

Before code:
[code]

After code:
[code]

Result:
[code]

Root causes:

   * Changing main()

[2017-12-29 13:55] mit-mit commented on #13797
Suggestion: Can we change before (see https://github.com/flutter/flutter/issues/13796) and after to:

Before:
[code]

After:
[code]

This results in the following, which it seems like we should be able to support?

[code]

[2017-12-29 14:12] mit-mit opened #13798 "Hot reload codelab experience: Step 5, part I"
This bug is filed to track a suboptimal hot reload experience during a step in our primary codelab (https://codelabs.developers.google.com/codelabs/flutter/). Other similar bugs exist for other steps.

This bug tracks step 5, part I (Add an interactive text input field).

Before code:
[code]

After code:
[code]

Result:
[code]

Root causes:

   * Changing from Stateless to Stateful widget

[2017-12-29 14:15] mit-mit commented on #13798
cc @rmacnak-google any way we can improve this error message?

[2017-12-29 14:21] IljaDaderko commented on #12818
@LarkAscending I just followed codelab for this, and got errors at `pod install` step. I checked out flutter/friendlychat-steps#52 and then noticed that in my `ios/Podfile` this line is still uncommented. All of these files were generated via intelij plugin. I commented it out and everything got through just fine, but thought it would be good to mention that this is still an issue.

Project was ge

[2017-12-29 14:30] BenSower opened #13799 "Platform Channel documentation error"
## Steps to Reproduce
In the docs this https://flutter.io/platform-channels/ page contains some java as well as some kotlin code.
The java code seems to be missing the
`
GeneratedPluginRegistrant.registerWith(this)
` call as well as the related import:
`import io.flutter.plugins.GeneratedPluginRegistrant
`
the kotlin example seems to be complete, though.

[2017-12-29 14:35] mit-mit opened #13800 "Hot reload codelab experience: Step 8, part I"
This bug is filed to track a suboptimal hot reload experience during a step in our primary codelab (https://codelabs.developers.google.com/codelabs/flutter/). Other similar bugs exist for other steps.

This bug tracks step 8, part I (Make the Send button context-aware).

Before code:
[code]

After code:
[code]

Result:
[code]

Root causes:

   * False positive in change detection?

[2017-12-29 14:46] mit-mit opened #13801 "Hot reload codelab experience: Step 8, part III"
This bug is filed to track a suboptimal hot reload experience during a step in our primary codelab (https://codelabs.developers.google.com/codelabs/flutter/). Other similar bugs exist for other steps.

This bug tracks step 8, part I ().

Before code:
[code]

After code:
[code]

Result:
[code]

Root causes:

   * ??

[2017-12-29 14:47] mit-mit commented on #13801
cc @rmacnak-google

Looks like the same issue like https://github.com/flutter/flutter/issues/13794?

[2017-12-29 18:14] sergiandreplace commented on #13790
:+1:

[2017-12-29 18:57] bramvbilsen opened #13802 "Firebase Authentication: Email verification and password recovery"
It is possible to check whether a user's email address is verified at the moment, but there is no way to actually verify an email address with the current Firebase Auth plugin. Neither is password recovery.
This should be added :)

[2017-12-29 19:30] Rockvole commented on #13788
Thanks for looking into this for me guys.

[2017-12-29 20:56] schwa423 opened #13803 "Flutter Engine performance tracing on Fuchsia, including Vulkan"
The Flutter Engine should add support for performance tracing using the macros in //zircon/system/ulib/trace/include/trace/event.h (#include <trace/event.h>).

It would be useful to see both CPU and GPU time consumed by render tasks.  The CPU time is easily measured by using the various trace macros.

GPU time is a bit more involved, and it might require changes to Skia (if so, please file a bug a

[2017-12-30 00:02] seklum opened #13804 "Videoplayer continues to play in background when changing state"
Videos using the video player plugin are not removed when calling setState(). This results in multiple videos playing in the background of the app with no way to close them.

## Steps to Reproduce
Use video player play a video and then update/change the state of the widget containing that video.

[2017-12-30 01:38] seklum opened #13805 "Opening plugins using intellij does not recognize flutter"
When opening the plugins repository in intellij it does not prompt for the flutter plugin. It recognizes the it only as a dart project. Manually setting the flutter sdk does add the dart sdk properly but it any flutter imports etc are not recognized.

## Steps to Reproduce
Android studio -> new project from version control -> plugins

[2017-12-30 04:11] thosakwe commented on #13762
Is there anything I can do about this???

[2017-12-30 04:13] thosakwe commented on #13762
Also, one thing: the crash still happens when I comment out the call to `runApp` (which I assume would prevent any of my widgets from compiling b/c tree-shaking). So, I'm thinking the crash is related to the Firebase plugin.

[2017-12-30 04:19] thosakwe commented on #13762
Okay, I've figured it out. I'm not exactly sure why this crash would happen, but in Firebase, I have multiple apps registered, all of which appear in the `google-services-info.json` file. For some reason, the crash occurred only when I used a specific one of the app names registered.

[2017-12-30 04:19] #13762 closed

[2017-12-30 05:57] yathit commented on #4128
Faced the same issue for not wrapping Text in `Row` Widget. Wasting a lot of time, thinking somewhere is wrong. It is hard to realize Row does not support text wrapping.

[2017-12-30 07:47] jacksontempra opened #13806 "Add local notification support for Android and iOS via flutter APIs"
It would be really helpful for non-native developers like myself to be able to schedule local notifications on the device for things like reminders.

[2017-12-30 12:28] zoechi commented on #13806
something like https://github.com/flutter/plugins/tree/master/packages/android_alarm_manager ?

[2017-12-30 12:32] zoechi commented on #13805
What happens when you run `flutter doctor` in the project directory?
Please post the output.

[2017-12-30 13:26] jacksontempra commented on #13806
@zoechi thanks for the link, sorry if this is a stupid question but is this for alarms or notifications? And if it is for notifications, is there something similar for iOS? Thanks :)

[2017-12-30 16:22] seklum commented on #13805
flutter doctor
[code]

[2017-12-30 16:40] pedia opened #13808 "How to debug: Child invisible and should not be added to tree."
Sometimes I got this message:

How can I debug this error? Is there any way to dump all widgets from the tree?

[✓] Flutter (on Mac OS X 10.13.2 17C88, locale en-HK, channel master)
    • Flutter at /Users/odd/wa/flutter/flutter
    • Framework revision 235b64ed2f (2 weeks ago), 2017-12-14 20:38:39 -0800
    • Engine revision e0d19e2897
    • Tools Dart version 1.25.0-dev.11.0
    • Engine Dart ve

[2017-12-30 17:27] alibitek commented on #10404
This is my attempt to add support for Firebase phone number authentication on the Android platform: https://github.com/flutter/plugins/pull/329

Feel free to provide any feedback regarding the design and implementation.

[2017-12-30 17:49] eseidelGoogle commented on #8945
@realcarlos sorry, the platform-services link was split into two a few months ago:
https://flutter.io/platform-channels/
https://flutter.io/using-packages/

You probably want the first one.

[2017-12-30 20:33] eseidelGoogle commented on #13633
One example of listening to a RawKeyboard (including remotes), which I've verified works on an Android TV Emulator:
https://github.com/flutter/flutter/blob/master/dev/manual_tests/lib/raw_keyboard.dart

To run it in your flutter checkout:
[code]

[2017-12-31 01:19] artAst commented on #13788
I also tried reverting to 0.2.2 as mentioned by @mravn-google but still it is pointing an error to 0.3.0
I removed the plugin, and still getting the same error:

* Error running Gradle:
Exit code 1 from: /Users/macbook/Documents/flProjects/myapp/android/gradlew app:properties:
NDK is missing a "platforms" directory.
If you are using NDK, verify the ndk.dir is set to a valid NDK directory.  It is c

[2017-12-31 02:23] Mohammed90 opened #13809 ""Downloading {platform}-x64 tools..." is logged twice on upgrade"
## Steps to Reproduce

Do `flutter upgrade` when there's an upgrade that requires downloading newer tools.

## Notes

So far I've noticed this happening on Linux and Mac. Either they're downloaded twice, or it's logged twice.

[2017-12-31 09:23] Hixie opened #13810 "Building on Ubuntu Xenial requires installing gcc-multilib and g++-multilib"
...and uninstalling `g*-arm-linux-gnueabihf` which got installed by our tools.

At least, that seems to have been the problem. I haven't tried to figure out exactly what part of `install-build-deps.sh` needs updating, since I'm not super familiar with the relevant packages and their interdependencies.

[2017-12-31 10:03] Hixie opened #13811 "Need more error handling to handle connecting to an Android device that hasn't authorized the host"
[code]

[2017-12-31 10:15] Hixie commented on #13811
Looks like this discussion talks about the problem: https://stackoverflow.com/questions/9210152/set-up-device-for-development-no-permissions

[2017-12-31 10:52] adchang opened #13812 "Tween.animate() throws exception for Animation<Offset> in slow mode"
## Steps to Reproduce

Use a FractionalOffsetTween.animate() for position parameter in SlideTransition

[code]

## Logs

[code]

## Flutter Doctor

adchang@bacchus:mobile$ flutter doctor
[✓] Flutter (on Linux, locale en_US.UTF-8, channel alpha)
    • Flutter at /opt/adchang/sdk/flutter
    • Framework revision 8f65fec5f5 (3 weeks ago), 2017-12-12 09:50:14 -0800
    • Engine revision edaecdc8b8

[2017-12-31 15:06] alibitek opened #13813 "Build fails in Travis CI and locally in macOS XCode 9.2 environment for Flutter plugins"
## Steps to Reproduce

[Flutter plugin repo](https://github.com/flutter/plugins) fails to build in Travis CI - osx xcode9.2 env - due to`pod install --verbose` failure when building IPA file for the first plugin: [packages/android_alarm_manager/example](https://github.com/flutter/plugins/tree/master/packages/android_alarm_manager/example)

[The command executed is](https://travis-ci.org/flutter/pl

[2017-12-31 18:11] DanTup opened #13815 "Disable implicit casts"
I was just doing some testing and changed the colour in the Stocks app and hot reloaded:

[code]

When I hit hot reload I got this:

[code]

I don't know if this is actually a Flutter issue or not, but it seems like if it's not valid to use `Colors.black` that it shouldn't be in the code-completion and it should provide an error in the editor?

[2017-12-31 23:55] braulio94 opened #13817 "Flutter Gallery Animation glitching Error"
I installed [flutter_gallery](https://github.com/flutter/flutter/tree/master/examples/flutter_gallery) and got this glitching error

**IDE:** Android Studio 3.0.1
**Device:** Samsung Galaxy A5 (2016), with Android 7.0

**Flutter Version:**
`Flutter  channel master  https://github.com/flutter/flutter.git`
`Framework  revision 4d2c2aaaa1 (4 days ago) • 2017-12-27 07:30:31 -0800`
`Engine  revision 7c

[2017-12-31 23:59] realcarlos commented on #12765
yes, there is no a guidebook to show how to embed a flutter view into a exsiting iOS project.

[2018-01-01 03:46] ianmcxa commented on #13788
I am also seeing the error, even after updating the gradle files.

[2018-01-01 10:52] FastNinja opened #13818 "Navigator.push freezes the app on receipt of platform msg before AppLifeCycleState.resumed"
## Steps to Reproduce
1. Attach a function to the button onTap
2. Invoke an *ImagePicker* to select an image from the gallery ([image_picker](https://pub.dartlang.org/packages/image_picker) package)
3. Initiate *Navigator.push* to a new screen after image is picked.
4. application is frozen. navigation did not happen.

Observations:
 - Removing Image Picker from equation solves the problem.
- Test

[2018-01-01 15:01] mravn-google commented on #13788
@ianmcxa @artAst I was able to reproduce the problem you described above. It appears that the `.flutter-plugins` file is not always correctly rewritten after a change to `pubspec.yaml`. Removing that file should fix it, as Flutter tooling will the recreate it correctly. I'll investigate a bit more, and file an issue on this.

1. Create Flutter project using alpha branch
1. Add dependency on `path_

[2018-01-01 15:02] mravn-google opened #13819 ".flutter-plugins file not always rewritten on pubspec change"
## Steps to Reproduce

See https://github.com/flutter/flutter/issues/13788#issuecomment-354657631

1. Create Flutter project using alpha branch
1. Add dependency on `path_provider` version 0.3.0
1. `flutter run` (fails with Gradle error because the plugin is using Gradle 4.1 API)
1. Downgrade plugin dependency to 0.2.2
1. `flutter run` (still fails with same Gradle error, citing version 0.3.0 of p

[2018-01-01 16:43] a-siva commented on #12939
@thosakwe the issue has been resolved and closed, can you confirm if it is fixed for you on master? If you are still seeing issues send us a reproduction scenario.

[2018-01-01 17:16] branflake2267 commented on #13326
I had the same issue. After upgrade, fixed it. I can confirm this patch worked for me.

[2018-01-01 18:53] mravn-google commented on #13819
The problem seems to be that we are evaluating the Gradle build files prior to the actual building (to access properties like output folder). This evaluation happens before overwriting the `.flutter-plugins` file.

[2018-01-01 19:02] thosakwe commented on #12939
Will check today... Ping me in a few hours if I haven't responded

[2018-01-01 19:05] zarub2k opened #13821 "ArgumentError: Invalid argument(s): No host specified in URI"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter --no-color packages get

## exception

[code]

## flutter doctor

[code]

[2018-01-01 19:33] zarub2k opened #13822 "Unknown error in executing flutter command"
## Steps to Reproduce

I am getting the following error whenever i execute flutter command in my terminal

## Logs
[: !=: unary operator expected

/Users/tham/softwares/flutter/bin/flutter: line 43: [: !=: unary operator expected
Downloading Material fonts...

Oops; flutter has exited unexpectedly.
Sending crash report to Google.
Crash report sent (report ID: f17d2f489794bb56)
Crash report written

[2018-01-01 20:38] zoechi commented on #13822
What OS?
What shell?

[2018-01-01 21:16] brianegan opened #13823 "Document officially supported font formats?"
I would like to use `woff` or `woff2` fonts as they're a smaller format compared to `ttf`. However, I'm not sure if they're officially supported. `woff` fonts appear to work on my local machine, but not sure it's officially supported.

Could you please add a list of supported font formats on the Fonts page? https://flutter.io/custom-fonts/

Thanks!

[2018-01-02 04:03] varunvairavan commented on #13534
@theankurkedia How did you solve this?

[2018-01-02 04:30] zarub2k commented on #13822
OS - Mac OS (Sierra)
Shell - Terminal

[2018-01-02 04:35] kelvinwatson opened #13826 "Unable to build Android apk with url_launcher"
## Steps to Reproduce

Deleting the Android apk and trying to rebuild causes this error on trying to build and reinstall the app:

[code]
Here are my pubspec.yaml depedencies:

[code]

## Logs

[code]

Run `flutter analyze` and attach any output of that command also.

## Flutter Doctor

Everything seems to be OK when I run `flutter doctor`.
[code]

[2018-01-02 05:26] theankurkedia commented on #13534
@varunvairavan  I made a mistake of adding bundle id in the wrong place, So, I just followed the [tutorial](https://codelabs.developers.google.com/codelabs/flutter-firebase/#0) again and corrected the mistake.

[2018-01-02 07:24] #13819 closed

[2018-01-02 07:32] sigurdm commented on #13804
The video playback is controlled by the ```VideoPlayerController``` object, not the ```VideoPlayer``` widget that only displays the video.
If you want to control the playback with the lifecycle of a widget, use a StatefulWidget and the ```initState()```, ```deactivate()``` and ```dispose()``` methods. Check the example: https://github.com/flutter/plugins/blob/master/packages/video_player/example/l

[2018-01-02 07:43] pedia commented on #13826
Please take a look:
https://github.com/flutter/plugins/tree/master/packages/url_launcher/example

[2018-01-02 08:04] realcarlos opened #13828 "How to pop back to the native viewcontroller in iOS ?"
I want to push a FlutterViewController in my exsiting iOS project , and add a back button on the top of the flutterViewController ,when I click the back button ,I want to pop back to the iOS navtive viewcontroller , how?

[2018-01-02 08:14] realcarlos opened #13829 "How to change TargetPlatform.ios?"
My iOS project is named `Uber.xcodeproj` and `Uber.xcworkspace`, I placed my files into the ios folder, but it seems Flutter project can not find the iOS project .

[2018-01-02 08:33] mravn-google commented on #11602
The exact steps may be specific to Windows. Inspired by [this StackOverflow question](https://stackoverflow.com/questions/36797068/gradle-sync-failed-cant-load-library-windows-amd64-native-platform-dll), we can get a similar exception on MacOS by deleting e.g. `$USER/.gradle/native/23/osx-amd64/libnative-platform.dylib`, leaving only the associated `.lock` file. It is still unclear how the Gradle

[2018-01-02 08:36] realcarlos commented on #13829
Running "flutter packages get" in platform_view...
Launching lib/main.dart on iPhone 8 in debug mode...
No application found for TargetPlatform.ios.
Is your project missing an ios/Runner/Info.plist?
Consider running "flutter create ." to create one.

[2018-01-02 08:55] avmanpuria opened #13830 "Widgets not visible on Mi4i but visible on other devices"
We have been testing our application on multiple devices and found that the child widgets of a ListView disappear at random. The widget is there as it responds to taps - it is just not visible. We could simulate our issue using the below app -

[code]

## Logs-----------------------------------------------
[code]
--------------------------------------------------
$ flutter analyze
[code]

## Flutt

[2018-01-02 10:38] oliverchang commented on #13818
I am running into a very similar issue. manually downgrading the 0.19 seems to resolve this, while master still seems broken.

[2018-01-02 11:43] fractalemagic commented on #13795
Should be due to the same issue as described in the documentation for `Scaffold.of`

[code]

The `Navigator` is built by `MaterialApp` / `WidgetsApp` i.e. in the same `build` function, so it can't be found. If you wrap the `RaisedButton` in a `Builder` then the dialog shows up fine.

[2018-01-02 12:11] alibitek commented on #12366
For some reason this code:
[code]

yields `[        ] E/flutter (12771): 'package:flutter/src/widgets/framework.dart': Failed assertion: line 979 pos 12: '_debugLifecycleState == _StateLifecycle.created': is not true.`

Stacktrace:
[code]

[2018-01-02 13:33] mit-mit commented on #13795
Ah, yes, confirmed that this small refactoring makes it work:

[code]

I wonder if we could better detect the original case, and provide a more informative error?

[2018-01-02 13:35] mraleph commented on #13626
I tried running the test against local engine build against TOT Dart, here is what I get (on my Nexus 5X):

[code]

This matches what I saw locally when I tested against old version of Dart (that was updated by the roll):

[code]

prior to fixing it I saw numbers like this:

[code]

So regression is most certainly fixed.

What I don't understand is why my local numbers don't match don't exactly ma

[2018-01-02 13:36] mit-mit opened #13831 "Changes to dialogs cannot be hot reloaded"
## Steps to Reproduce

1. Create an app with the following main.dart:
[code]
Run it.

* Change `Click me` to `Click me2`. Hot reload. => Screen is updated.

* Change `Hi from dialog` to `Hi from dialog2`. Hot reload. => Screen is not updated.

[2018-01-02 13:37] mit-mit commented on #13829
Sorry to hear. Did you create your project with `flutter create`, of by cloning an existing project?

[2018-01-02 13:43] long1eu commented on #10393
Hi! Do you have a working example of this?

[2018-01-02 13:48] mit-mit commented on #13806
Is this the same as https://github.com/flutter/flutter/issues/2731 ? If so, please add a "vote" in that bug by pressing thumbs up in the top-most comment of that bug.

[2018-01-02 13:52] mit-mit commented on #13353
Re-activating: We should indeed do a better job catching this issue in the first place. I believe `flutter doctor` should check that `sdkmanager` is of the needed version.

[2018-01-02 13:52] jacksontempra commented on #13806
@mit-mit yes it seems to be, have done so :)

[2018-01-02 13:53] #13806 closed

[2018-01-02 13:53] mit-mit commented on #13806
Thanks for confirming

[2018-01-02 14:00] mit-mit commented on #2731
This issue is currently tagged 'self service', but it's probably not clear what we mean by that: The Flutter core team is currently 100% focused on resolving our last few overall blockers. These are things that due to architectural or complexity reasons are unlikely to happen unless we do them, for example the core plugin framework itself. We understand that it's painful when the exact feature you

[2018-01-02 14:32] #10853 closed

[2018-01-02 14:59] mit-mit commented on #13645
@jayword did this resolve itself on a second run, or is it consistently failing this step? It looks like the downloaded file might have been corrupt.

[2018-01-02 15:01] mit-mit commented on #13584
Actually, even further: currently we use whatever buildtools version is listed in the config files in the android folder. These may differ from app to app, so generally doctor can't guarantee that any project will build.

I think the important part here is to check that new projects created by `flutter create` will build.

[2018-01-02 15:03] mit-mit commented on #13559
Tagging milestone 3 as there have been several cases recently where the lack of pinning versions of consumed packages & plugins has caused build issues. Ensuring that small new teams using Flutter get a consistent build experience is critical.

[2018-01-02 15:03] JDoe34 opened #13832 "Error connecting to the service protocol: WebSocketChannelException: WebSocketChannelException: WebSocketException: Connection to 'http://127.0.0.1:8102/ws#' was not upgraded to websocket"
Hello, I am trying to run the unmodified Flutter demo app and get the following error message (same msg if I run directly from AndroidStudio or on the commandline (w or w/o local administrator rights)

[   +9 ms] Connecting to service protocol: http://127.0.0.1:8102/
[ +119 ms] Error connecting to the service protocol: WebSocketChannelException: WebSocketChannelException: WebSocketException: Conne

[2018-01-02 15:04] mit-mit commented on #13483
Yes, this is believed to be the same as https://github.com/flutter/flutter/issues/13324, so closing for now.

[2018-01-02 15:04] #13483 closed

[2018-01-02 15:04] mit-mit commented on #13324
Closing this as #12945 was resolved. If anyone is still seeing issues please open a new issue with detailed repro steps.

[2018-01-02 15:04] #13324 closed

[2018-01-02 15:04] Gogetter commented on #13826
following the root error

looks like you might want to upgrade to the latest version of `url_launcher` and also follow breaking changes instructions [here](https://github.com/flutter/flutter/wiki/Updating-Flutter-projects-to-Gradle-4.1-and-Android-Studio-Gradle-plugin-3.0.1)

[2018-01-02 15:05] asaarnak opened #13833 "For plugin cupertino_icons. The image in README is not found on pub site."
See:
https://pub.dartlang.org/packages/cupertino_icons

Error in console logs:
GET https://pub.dartlang.org/packages/map.png 404 ()

[2018-01-02 15:06] mit-mit commented on #13460
Removing 'first hour' label; that is meant for issues that new Flutter developers experience in their first few hours of using Flutter.

[2018-01-02 15:09] mit-mit commented on #13448
Actually, since flutter driver tests support a custom main, it's pretty easy to just pass in a flag to disable this when the app is instantiated:

[code]

[2018-01-02 15:09] mit-mit commented on #13435
I can't repro this either; closing. @DaveShuckerow if still have a repro, feel free to reopen.

[2018-01-02 15:09] #13435 closed

[2018-01-02 15:15] mit-mit opened #13834 "Flutter tool extensibility support"
It's not sustainable for the `flutter` tool to support all the commands that all developers collectively desire. It's much more sustainable to support an extensibility model where the tool itself can be extended by adding in "tools plugins".

* Run Dart commend / do codegen: https://github.com/flutter/flutter/issues/13607
* Generate app icon: https://github.com/flutter/flutter/issues/10387
* Deter

[2018-01-02 15:15] mit-mit commented on #13189
Yes, some kind of extensibility model has been brought on many times. I opened https://github.com/flutter/flutter/issues/13834 to track it.

[2018-01-02 15:15] mit-mit commented on #13189
Punting the present issue to milestone 4; this doesn't block beta.

[2018-01-02 15:18] mit-mit commented on #13179
Tagging first hour and milestone 3: New developers are fairly likely to misspell the names of plugins, and doing so results in the large "scary" warning above, which is very likely to make they fairly worried.

[2018-01-02 15:35] mit-mit commented on #10329
@mravn-google are you likely to work on this, or should we remove you as the assignee?

[2018-01-02 15:38] MarkOSullivan94 commented on #13360
@sethladd any update on this?

[2018-01-02 16:00] navanchauhan opened #13836 "Can't Access Website Bandwidth Quota Exceeded"
## Steps to Reproduce
Just log on to [https://flutter.io](https://flutter.io)

[2018-01-02 16:24] franzsilva commented on #13836
Create a temp site meanwhile this is being solved http://flutterio.surge.sh/

[2018-01-02 16:29] killermonk commented on #13836
Appears to now be resolved.

[2018-01-02 16:32] navanchauhan commented on #13836
Closing the issue, but I can't resist chuckling about how the folks at Google would be reacting

[2018-01-02 16:33] #13836 closed

[2018-01-02 16:49] jacob314 opened #13837 "Flutter Inspector on device UI polish: visual change when entering select mode."
Show a mode change when first entering inspect mode (there’s no visual difference currently, so it’s not always clear to the user that clicking the inspect button did anything).
For example, show target icons in the corners of the screen.

[2018-01-02 16:49] jacob314 opened #13838 "Display of debug paint for selected widgets in the inspector"
This will require a refactor of the binding code it flutter so that we have hooks in the appropriate places. User story is visually seeing padding, alignment, and other debug paint data for the selected widget where it is easily understandable as compared to the current behavior of seeing debug paint information for all widgets where the data displayed is overwhelming and often overlapping.

[2018-01-02 16:50] jacob314 opened #13839 "Refactor WidgetInspector so it is not a Widget"
Supports advanced use cases such as controlling exactly when the app re-renders, showing debug paint, and improves general code organization.

[2018-01-02 16:50] jacob314 opened #13840 "Better debugging of overflow issues using the inspector"
Make sure red overflow error areas are always easily clickable bringing you directly to a description of the issue.
Also consider making it possible to jump directly from an overflow exception in the console to inspecting the associated node.
Git clone https://github.com/sergiandreplace/planets-flutter
Try to run it against Android with flutter run
Get this error: A RenderFlex overflowed by 2.0 pi

[2018-01-02 16:51] yjbanov commented on #13643
I believe this has been fixed in https://github.com/flutter/flutter/commit/becab558e18bac7687ab22e39189921570463f58. @TinoGuo, could you please upgrade and try again?

[2018-01-02 17:00] devoncarew commented on #10015
@pq, once the latest SDK rolls into flutter (https://github.com/flutter/flutter/pull/13741), we should look at the work necessary to do this. I think that means transitioning `flutter analyze` to fully use the analysis server, and seeing how we can support (or remove) `flutter analyze` features (perhaps by post-processing the analysis server output).

[2018-01-02 17:23] yjbanov commented on #13743
Thanks for catching this! I'll look into it.

[2018-01-02 17:24] seklum commented on #13804
Thanks, I had set it up with an older version.

[2018-01-02 17:24] #13804 closed

[2018-01-02 17:46] tvolkert opened #13842 "Add a `flutter bug-report` command"
`flutter run --bug-report` will run with recording enabled and serialize a bunch of info to disk that can be attached as a bug report.  There are a couple of things about this that don't always meet the developer's needs:

1. It requires them to attach a full recording of their run, which may include source code of their app, and also is potentially very large.
2. It requires them to run.  In the

[2018-01-02 17:47] Hixie commented on #13787
The default key is null, i.e. no key.

[2018-01-02 17:48] Hixie commented on #13787
Also we could add the following when adding docs to keys:

[2018-01-02 17:59] yjbanov commented on #13743
@goderbauer already started on this. Reassigning to him.

[2018-01-02 18:08] eseidelGoogle opened #13843 "flutter_tools analytics is still reporting bots"
`flutter test` was our most popular "screen" (reported by Google analytics) just before holiday break.  @tvolkert made some changes to our internal Google test running which appear to have helped reduce that.  It's now fourth most popular at 9% of total screen views.

30% of "test" screens come without city location information, with Princeton being the number 2:
<img width="579" alt="screen shot

[2018-01-02 18:10] eseidelGoogle commented on #13843
Note these numbers are from last week (while many of our users were on holiday vacation) so likely have some funny skew.  Happy to do new tables in a week.

[2018-01-02 18:13] aam opened #13844 "external_ui test failure"
The test failed after d5cc865 engine roll:
[code]

Not able to reproduce the failure locally.
[code]

[2018-01-02 18:13] aam commented on #13844
@mravn-google

[2018-01-02 18:26] yjbanov commented on #13626
We run tests on Moto G4.

[2018-01-02 18:34] wmleler commented on #13787
Several people (including at least one flutter team member) have been bitten by the confusion mentioned by Ian recently. Would be nice to add language like Ian's to the docs sooner rather than later.

I hope attaching this problem onto the end of a vaguely related problem will not cause it to get lost in some shuffle.

[2018-01-02 18:59] Hixie opened #13846 "Flutter ecosystem needs supported, high-performance, idiomatic crypto library"
There are some libraries that exist but they are not maintained.

(Filing this bug to track us ensuring this is available; it doesn't necessarily have to be implemented by the Flutter or Dart teams nor does it necessarily have to ship with those products, it just needs to be available and supported/maintained.)

[2018-01-02 19:15] pulyaevskiy commented on #13475
This seems to be the case for iOS as well. Just updated to latest master and got this:

| Keyboard hidden  | Keyboard visible |
| ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/441756/34496343-103c73ae-efae-11e7-80bc-07d302060f1e.png)  |  ![image](https://user-images.githubusercontent.com/441756/34496131-34f750a2-efad-11e7-8e45-38686e997689.png)  |

[2018-01-02 19:15] cbracken commented on #13843
Not sure how we do the disabling now, but if we've got a single function that pushes stats to the reporting endpoint, seems like something as simple as driving it by environment variable `FLUTTER_ANALYTICS_ENABLE=0` should work.

[2018-01-02 19:21] tvolkert commented on #13843
Right now we support a `--suppress-analytics` flag, so this may be as simple as adding that flag to our Chromium tests as well.

[2018-01-02 19:38] alibitek opened #13848 "TabController calls listeners twice when tab changes"
While playing with [TabController class](https://docs.flutter.io/flutter/material/TabController-class.html) I noticed that when **tapping** between tabs in the AppBar there are two renderings (i.e. the listener function is called twice, not once, thus generating two rebuilds), but when **swiping** there is only one rebuild.

I've made a [testcase application](https://github.com/alibitek/tab_contro

[2018-01-02 19:40] pulyaevskiy commented on #13326
I just updated to latest master and can not reproduce the error (and switching back to alpha makes it re-appear). Looks good so far.

Thanks for fixing this @goderbauer !

[2018-01-02 19:56] weisong0 commented on #13022
Please this [table](https://docs.google.com/document/d/17GoAGcjEQJC4Ak6mptJaK67_qouFzTNqEQHd9NyB6ok/edit#bookmark=id.kfv4r0oqmakg) for details. Basically, red team want flex-basis, flex grow, flex shrink that are similar to the [ones](https://facebook.github.io/react-native/docs/layout-props.html#flexbasis) in react native.

[2018-01-02 20:12] tgarbrecht commented on #13353
I had the same issue and this fixed it for me.
My case I had two versions installed. I modified the properties.local to get it to work.

In the long run I am going to remove one of my SDK managers.

[2018-01-02 20:27] tvolkert commented on #13538
Closing as a dup of https://github.com/flutter/flutter/issues/9253

[2018-01-02 20:27] #13538 closed

[2018-01-02 20:32] aam commented on #13844
Am able to reliably reproduce this on mac with android emulator starting from commit eee4a1e.

@sigurdm

[2018-01-02 20:34] pulyaevskiy commented on #2022
This would also be a desirable feature for (future) rich-text editors (I'm currently working on one).

[2018-01-02 20:36] tvolkert commented on #13742
@jvanverth, can you have a look when you're back from vacation?

[2018-01-02 20:42] PixelToast commented on #13848
Notifying listeners is intended behavior since it's updating `_indexIsChangingCount`, this PR may fix the rebuild issue but it does introduce a bug.

[2018-01-02 20:43] furkantektas commented on #13815
I think this is because ThemeData accepts `MaterialColor` objects while `Colors.black` is a `Color` object which is the super class of `MaterialColor`. `MaterialColor` class provides 10 shades of the given color. Maybe you should instantiate a `MaterialColor` object.

[2018-01-02 20:55] cbracken opened #13852 "pub flake: exit code -6"
## Steps to Reproduce

This is a flake that sometimes occurs during `flutter create`.

## Logs

Tail end of `flutter create` logs:

[code]

## Flutter Doctor

[code]

[2018-01-02 20:57] cbracken commented on #13852
/cc @a-siva

[2018-01-02 20:57] Hixie commented on #13751
Try running "git rebase upstream/master" instead of "flutter upgrade" at
the root of your Flutter repo, then running "flutter upgrade". It may be
that you are on a bad version.
If that doesn't work, try running "git clean -xffd" (this will delete
files, try "git clean -nxffd" first to see which ones) at the root of your
Flutter repo, then doing the steps above. That will try really hard to
clean u

[2018-01-02 21:15] cbracken commented on #13852
Anecdotally, I noticed another pub flake around the same time, though of the more standard timeout during download variety.

[2018-01-02 21:26] DanTup commented on #13815
Oh man, have I been bitten by implicit downcasts *again*?! :'(

https://github.com/dart-lang/sdk/issues/30392
https://github.com/dart-lang/sdk/issues/31410

[2018-01-02 21:52] Hixie commented on #13843
The `flutter` script tries to detect that it's on a bot and turns off analytics in that case.

[2018-01-02 21:52] Hixie commented on #13843
see e.g. https://github.com/flutter/flutter/search?utf8=%E2%9C%93&q=BOT&type=

[2018-01-02 21:53] mravn-google commented on #13813
cc @xster

I've fixed the `android_alarm_manager` plugin by checking in a `Podfile` without the `use_frameworks!` line.

But #13774 seems to have introduced a general problem:

1. Switch Flutter to use the master branch
1. `flutter create tst11`; `cd tst11`
1. Add dependency on `google_sign_in` to `pubspec.yaml`
1. `flutter build ios`

Then
[code]

[2018-01-02 22:06] Hixie commented on #13848
As far as I can tell this is operating as expected. When you swipe, the tab controller doesn't actually change its state until the end of the drag. When you tap, we do an animation which causes the state to change twice, once at the start and once at the end. Thus we have to notify twice.

Generally speaking, build methods should be very fast and should be able to handle being called more times th

[2018-01-02 22:10] mravn-google commented on #13813
Just noticed that we already have a PR to fix this: #13814.

[2018-01-02 22:14] theobouwman commented on #73
@wmleler I'd love to see a working map...

[2018-01-02 22:15] Hixie commented on #10015
We can't move to the analysis server without significant performance work on the analysis server. Right now, it takes 40s in batch mode and 66s in server mode to analyze the repo. Moving batch mode to the server would be a huge regression.

[2018-01-02 22:19] leafpetersen commented on #13815
@DanTup  Setting aside the possibility of changing this in the language, are there things that are blocking you from turning this off via flag?  That is
 -  Are there granularity issues (some code isn't downcast clean, and can't restrict the scope of the flag appropriately)?
 - Usability: too hard to turn it on in the right places?
 - Wrong default: too hard to remember to flip the default when yo

[2018-01-02 22:23] alibitek commented on #13848
In the else case, `notifyListeners()` is not called after every _indexIsChangingCount change, even though technically the objects' data has changed.

The `indexIsChanging` property can be used the same way to check if there is an animated change of index in progress, as it is backed by `_indexIsChangingCount` :
[code]

I see that the TabBar adds a listener to the TabController in [_handleTabContro

[2018-01-02 22:36] wmleler commented on #73
@theobouwman Right now, this is the best solution -- https://pub.dartlang.org/packages/map_view

If you want to have a map act like it is part of a Flutter widget, you can insert a map as an image (using the static maps API -- https://developers.google.com/maps/documentation/static-maps/ ). When the user clicks on this static map image, open up a full page map, along with a widget to close this. A

[2018-01-02 22:42] Hixie commented on #13831
This is working as expected (hot reload doesn't re-run code, it just updates code that would normally run, then marks everything dirty). You can work around this by using a custom widget instead of `AlertDialog`, then having that custom widget build an `AlertDialog`. Your custom widget will be rebuilt, which will then let you do whatever you want from hot reload.

[2018-01-02 22:42] Hixie commented on #13831
(This is exactly the same reason why `main` doesn't re-run and thus why changes in the call to `runApp` don't hot reload.)

[2018-01-02 22:44] Hixie commented on #13795
What would have been more informative? Knowing what the problem is, the text of the original message does describe it precisely. Not knowing what it is, the error message doesn't help much, but it's not clear to me what we could say instead...

[2018-01-02 22:49] Hixie commented on #13848
Right, because `_indexIsChangingCount` isn't exposed, only `indexIsChanging` is exposed, and in the else case, that doesn't change.

It should call it whenever its properties change. (Note that it _doesn't_ get called when the _animation_ is changing, because that's a separate property that also separately implements `Listenable`.)

The issue is just that if a client of the TabController is expect

[2018-01-02 22:52] timsneath commented on #13836
Thanks for the report: this wasn't our finest hour 😞 It was down for about an hour, we think. We're conducting a post-mortem so we (hopefully) won't slip up again.

[2018-01-02 22:53] Hixie commented on #12366
Yeah, if you don't call `super.initState` before returning then the `State` object will be in a broken state.

The code above is synchronously equivalent to:

[code]

[2018-01-02 22:55] Hixie commented on #13818
cc @mravn-google

[2018-01-02 22:55] Hixie commented on #13818
Marking m3 since this sounds like a regression.

[2018-01-02 22:57] Hixie commented on #13817
cc @chinmaygarde @jason-simmons @cbracken

[2018-01-02 22:59] jason-simmons commented on #13844
I can reproduce this on an Android device.

AndroidExternalTextureGL::UpdateTransform() is leaking a JNI reference to the transformMatrix array.  transformMatrix should be declared as:

[code]

[2018-01-02 23:00] Hixie commented on #13812
SlideTransition was changed recently to take an `Animation<Offset>` rather than an `Animation<FractionalOffset>`.

[2018-01-02 23:00] Hixie commented on #13812
See https://groups.google.com/forum/#!topic/flutter-dev/fmr-C9xK5t4

[2018-01-02 23:01] Hixie commented on #13808
cc @goderbauer

[2018-01-02 23:04] Hixie commented on #4128
@yathit Can you talk about what exactly it would mean for Row to support wrapping `Text`? For example, consider a `Row` with two children, both of which are `Text` widgets with a lot of text. How should it render? (These are not rhetorical questions, I honestly don't know the answers and that's what has been stopping us from fixing this.)

[2018-01-02 23:04] Hixie commented on #13803
cc @chinmaygarde @jason-simmons @cbracken

[2018-01-02 23:07] Hixie commented on #13749
Flutter is currently focused on the phone form factor, so we haven't tried to address this with a high-quality solution yet.

I'm not quite sure I understand the issue though. Can you elaborate more? What's the high-level problem? Is it just showing the focus outline on TVs? Is it defining the focus order for directional focus navigation?

[2018-01-02 23:10] goderbauer commented on #13808
This looks like a duplicate of https://github.com/flutter/flutter/issues/13326, which has been fixed. You probably have to update to the latest version of flutter with `flutter upgrade` to get the fix.

Feel free to reopen, if you continue to have this problem after upgrading.

[2018-01-02 23:10] #13808 closed

[2018-01-02 23:11] Hixie commented on #13611
@maryx Can you elaborate on why this is needed? For a blank project, you can just create a new project, then select-all and press delete. Isn't that sufficient?

[2018-01-02 23:12] Hixie commented on #13785
The height and width definitely always go under Container.
The color can go under either. If you specify the color property on the Container, it's a short-hand for specifying a BoxDecoration with only a color property.

[2018-01-02 23:12] Hixie commented on #13785
Maybe we should explain that on that Web page.

[2018-01-02 23:14] Hixie commented on #13781
Duplicate of https://github.com/dart-lang/dartdoc/issues/1441

[2018-01-02 23:14] #13781 closed

[2018-01-02 23:15] DanTup commented on #13815
Nothing blocking me, but this is the stocks app the flutter repo which I often use for testing so I can't commit a change to turn it on.

My frustration isn't for any particular project but just the bad default. My thoughts are detailed in the other cases so probably not worth going over again here - I think this case is really just a dupe of those links above now (I guess I didn't parse the error

[2018-01-02 23:19] Hixie commented on #13777
If you're using the constructor used by that example, you can set the aspect ratio (`childAspectRatio` argument to `GridView.count`), and each cell will honor it.

If you want more control, you can use the [`GridView.custom`](https://docs.flutter.io/flutter/widgets/GridView/GridView.custom.html) constructor to provide your own [delegate](https://docs.flutter.io/flutter/rendering/SliverGridDelegate

[2018-01-02 23:20] Hixie commented on #13776
cc @mit-mit @mravn-google

[2018-01-02 23:22] chinmaygarde commented on #13803
Currently, all tracing in the Flutter engine is redirected to the Dart timeline and is available to view only via the observatory. This is because timeline events from Dart do not provide a callback into native code that we can then use to forward to platform specific tracing APIs. Instead, we go the other way around and forward all tracing information to the Dart VM.

If we choose to not support

[2018-01-02 23:26] Hixie commented on #13631
If you don't want text to wrap (except at explicit line breaks), then setting `softWrap: false` on `Text` will achieve the effect you want. "maxLines" is more about what to do with the lines once they are wrapped.

[2018-01-02 23:27] Hixie commented on #13764
cc @HansMuller

[2018-01-02 23:28] Hixie commented on #13763
There's legal implications to the storage of these assets.

[2018-01-02 23:29] Hixie commented on #13769
The stack being empty is weird. I've not seen that before.

[2018-01-02 23:29] Hixie commented on #13769
Can someone attach some sample code that reliably shows the empty stack issue?

[2018-01-02 23:29] maryx commented on #13611
Yep, we could just delete the code. It'd be nice, though, to have the option to start with the blank project, which seems more like a "default", rather than the counter being the "default". For example, many web hosts give you a blank index.html and index.css page rather than a pre-made project. I'm not sure about mobile apps.

I get that most new projects are probably being started by people new

[2018-01-02 23:33] leafpetersen commented on #13815
Gotcha.  I think there is some interest in trying to turn this on in the flutter repo at some point, but various things have been blocking it.

[2018-01-02 23:37] devoncarew commented on #10015
That would be a drawback. We could look at the performance difference to see if anything stands out. But moving to a server based impl would have benefits, including fixing this issue.

[2018-01-02 23:42] maryx commented on #13777
Great thanks! Completely missed `childAspectRatio`; I had only thought to look for a property with `height` in the name.

[2018-01-02 23:57] Hixie commented on #13731
@jason-simmons volunteered to look at this

[2018-01-02 23:59] athornz commented on #13749
I think there are three main issues that I've seen so far:

- Easily receiving input events from a remote or controller
- Showing a focus state for widgets
- Defining the next focus order

[2018-01-03 00:07] Hixie commented on #11344
For the record, we are not planning on working on this in the near future. Please let us know if that is a problem. Thanks.

[2018-01-03 00:09] Hixie commented on #12542
@petrucci34 Since we believe we have resolved the leak issue, for tracking purposes we're going to close this bug. Please don't hesitate to open a new bug either about the crash you are seeing or if you do not believe this leak issue has been resolved to your satisfaction. Thanks!

[2018-01-03 00:09] #12542 closed

[2018-01-03 00:15] Hixie commented on #8828
Does this still happen?

[2018-01-03 00:17] Hixie commented on #9373
This is working as intended. If a scroll view is scrolling, taps on it are explicitly blocked. There's a hook you can override if you really don't want this.

[2018-01-03 00:17] #9373 closed

[2018-01-03 00:18] Hixie commented on #9410
This is not actionable — it doesn't happen for everyone, but we don't know what exactly is special about this setup to trigger it.

If anyone runs into this, I recommend trying `git clean -xffd; git rebase` followed by `flutter upgrade`.

[2018-01-03 00:19] #9410 closed

[2018-01-03 00:19] Hixie commented on #9395
We're pretty sure this is working as intended.

[2018-01-03 00:19] #9395 closed

[2018-01-03 00:22] Hixie commented on #9364
Build functions get called lots of times in general, we do not consider that an issue unless it can be traced to a specific performance problem.

The imports are not the cause of this.

[2018-01-03 00:22] #9364 closed

[2018-01-03 00:24] #9546 closed

[2018-01-03 00:25] Hixie commented on #9541
This isn't actionable (it's not exactly clear what the performance regression is). We believe we've improved performance since April though. Please open a new bug if there's a specific performance issue to resolve.

[2018-01-03 00:25] #9541 closed

[2018-01-03 00:25] Hixie commented on #9562
cc @cbracken

[2018-01-03 00:27] Hixie commented on #9620
@yjbanov This is done, no? Marking closed on the assumption that it's done.

[2018-01-03 00:28] #12379 closed

[2018-01-03 00:28] #13743 closed

[2018-01-03 00:29] Hixie commented on #9560
Not being able to tap while we're scrolling is intentional. If this differers from the platform behaviour and we don't think the platform behaviour is a bug, then we should fix that. It's not clear to me from this bug what the difference is, though.

[2018-01-03 00:31] Hixie commented on #9689
As far as I can tell this is already possible, as @xster describes above. Please open a new bug if we misunderstood. Thanks!

[2018-01-03 00:31] #9689 closed

[2018-01-03 00:32] Hixie commented on #9820
cc @jason-simmons If you want to look at this feel free to ping me and we can figure out what the API should be.

[2018-01-03 00:33] Hixie commented on #9863
Do you still see this?

[2018-01-03 00:35] Hixie commented on #9840
@cbracken looked at other iOS apps and showed me that we do the same thing.

[2018-01-03 00:35] #9840 closed

[2018-01-03 00:36] Hixie commented on #9949
The scale gesture recogniser is a superset of pan, so you can just use that.

[2018-01-03 00:36] Hixie commented on #9949
We should improve the docs though.

[2018-01-03 00:37] Hixie commented on #9767
We agree that we should support this, but we don't plan on doing this any time soon. Please do let us know if this is a priority for you.

[2018-01-03 00:39] yjbanov commented on #9620
No, this is not done yet, and I shouldn't be hogging this issue.

[2018-01-03 00:40] Hixie commented on #10031
If it's caused by the same underlying issue as #9965, then we believe this is no longer possible.

[2018-01-03 00:40] #10031 closed

[2018-01-03 00:42] Hixie commented on #10036
If this would require an API change, it's not happening. But I'm leaving this open so that we can study it in more detail when we have more time.

[2018-01-03 00:44] Hixie commented on #10053
We're not sure what we can really document here. It's entirely up to you.

cc @mit-mit If you think we can do anything to help in the documentation, please set the milestone accordingly, otherwise please feel free to close.

[2018-01-03 00:45] eseidelGoogle commented on #7150
Phone arrived.  I've placed it on @jason-simmons's desk.

[2018-01-03 00:47] Hixie commented on #10108
Not really clear how we could actually do this.

[2018-01-03 00:48] Hixie commented on #10131
I'm going to say this is working as intended.

[2018-01-03 00:48] #10131 closed

[2018-01-03 00:50] Hixie commented on #10145
You can use Zones to catch exceptions that are thrown when your code isn't on the stack, and that aren't caught by FlutterError.onError. We should add some links from onError's documentation to the Zone API docs.

[2018-01-03 00:52] Hixie commented on #10171
@cbracken claims this is fixed.

[2018-01-03 00:52] #10171 closed

[2018-01-03 00:52] Hixie commented on #10168
I'm surprised we don't have an IgnorePointer in there. We should definitely add that.

[2018-01-03 00:55] Hixie commented on #9846
In general we should make sure "flutter run" (and "flutter build", etc) build whatever needs building...

[2018-01-03 00:55] Hixie commented on #10014
cc @jason-simmons Hey, look, I already wrote this.

[2018-01-03 00:56] Hixie commented on #10014
keyword: libtxt

[2018-01-03 00:58] #10240 closed

[2018-01-03 01:00] Hixie commented on #10219
cc @mit-mit Moving this to m3 since "editing build methods is easy" is on our radar for m3 and this falls into that category.

[2018-01-03 01:41] devoncarew commented on #10015
let me elaborate a bit though:

That's for the flutter repo itself, which is a bit of a special case (and was special-cased by flutter analyze). User's themselves should see a performance benefit with the analysis server; it'll be using the cached analysis contents via the analysis driver - runs after the first one should be relatively speedy.

I'd like to run a few speed tests on the flutter repo

[2018-01-03 02:06] alexmarkov commented on #12976
Fixed-size integers landed in Flutter: 54052048f2edadb8ca15fdcf778c5f8a3e99e4c6.

Please go ahead with cleaning up the message codec. If you would like to retain the large integers support, you can use Dart [BigInt class](https://github.com/dart-lang/sdk/blob/master/runtime/lib/bigint.dart).

[2018-01-03 02:37] yathit commented on #4128
I also do not know.

I have solved by using fixed width widgets except the last one with Expended. The fixed widget size needed to use `MediaQueryData`. Text overflow work fine now.

[2018-01-03 02:38] FastNinja commented on #13818
@Hixie thanks for prioritizing it. any suggested workaround? hacks? anything I can do to make it work?

[2018-01-03 02:39] FastNinja commented on #13818
@oliverchang  how do you `manually downgrade` to 0.19?

[2018-01-03 02:54] linguowu opened #13860 "Flutter SDK not found. Define location with flutter.sdk in the local.properties file."
when i import the project in flutter/examples/hello_world/android/app with android studio 3.0.1,it report that:

 #
the build.gradle file

if (flutterRoot == null) {
    throw new GradleException("Flutter SDK not found. Define location with flutter.sdk in the local.properties file.")
}
#
the local.properties file

sdk.dir=/Users/country5/Development/android-sdk-macosx
#
 so i manually set the flut

[2018-01-03 02:57] eseidelGoogle commented on #13843
I'm told @jcollins-g is interested in investigating this.

I checked this evening and the "test" screen had returned to the top of the rankings (now that folks are back from vacation).  I'm not sure if that means bots or not:

<img width="196" alt="screen shot 2018-01-02 at 6 55 47 pm" src="https://user-images.githubusercontent.com/11857803/34507832-c5cffa7a-efee-11e7-87b3-c017afce933e.png">

[2018-01-03 03:46] eseidelGoogle commented on #10145
https://github.com/yjbanov/crashy is an example of doing crash reporting in a Flutter app.   Looks like it also uses zones, if that's helpful.

[2018-01-03 04:31] MichaelSowah commented on #12849
@sigurdm any updates? Happy New Year

[2018-01-03 04:46] MiCHiLU commented on #11617
@sethladd I got the same problem on a fresh macOS as below.
I think better to change the messages that are friendly for adding `/usr/sbin` to PATH.

[code]

[2018-01-03 06:15] long1eu commented on #13860
You problem is that you have spaces in your local.properties. Try flutter.sdk=/Users/country5/flutter

[2018-01-03 06:18] long1eu opened #13861 "Better error message for sliver grid"
I'm getting a NaN in sliver_grid.dart.

[code]

[2018-01-03 06:21] long1eu commented on #13861
problem solved, I was settings
[code]

[2018-01-03 06:39] avmanpuria commented on #13830
This appears to be linked to ListView. In all the screens on my app wherein I have a ListView, I have observed this issue.

[2018-01-03 07:06] zoechi commented on #13830
@avmanpuria can you please edit your initial comment and wrap code in ``` to make it readable?

[2018-01-03 07:10] IljaDaderko commented on #13785
Could be a good call, in general (personal opinion) it would be good to keep documentation using one style either with or without shorthands like this across whole pages, otherwise it brings this JavaScripty vibe to the table where one thing can be done in many ways, not necessarily bad, but I find it harder to learn flutter / dart this way.

I think there should be separate advanced section showi

[2018-01-03 07:13] avmanpuria commented on #13830
Another observation - replacing ListView with SingleChildScrollView and Column is a workaround which I am using for the time being. For the Stepper, I have used stepper.dart to create my own custom stepper which avoids a ListView.

[2018-01-03 07:21] mravn-google commented on #13776
cc @sigurdm

[2018-01-03 07:24] mravn-google commented on #10329
It's on my list.

[2018-01-03 08:06] timsneath opened #13862 "Reload fails when DateTime crosses midnight"
## Steps to Reproduce
Run flutter run of an app at 11:58pm, perform hot reload and/or full restart.

After 12am, press 'R' to full restart. Flutter crashes and loses connection to device (at least, I think that's what's happening).

See below:

[code]

[2018-01-03 08:06] coderJohnZhang opened #13863 "Support .9.png format of a image"
Here is my question submit on stackoverflow:
[How to display .9.png format of a picture in flutter?](https://stackoverflow.com/questions/48056304/how-to-display-9-png-format-of-a-picture-in-flutter)

[2018-01-03 08:09] sigurdm commented on #13776
Yes - it should be documented that the size property is only populated after a call to ```initialize()```.

[2018-01-03 09:00] hundeva commented on #13475
Until this is fixed, a workaround on android is to remove `android:windowSoftInputMode="adjustResize"` from the manifest. This is a behaviour change, but at least you can use the textfields, without blocking the whole screen.

[2018-01-03 09:21] mraleph commented on #13852
Could you enable coredumps on your machine (`ulimit -c unlimited`) and get us a core from a crash next time it happens?

[2018-01-03 09:29] sigurdm commented on #13844
Thanks for investigating this!

[2018-01-03 09:48] linguowu commented on #13860
@long1eu

sdk.dir=/Users/country5/Development/android-sdk-macosx
flutter.sdk=/Users/country5/flutter
#
it still report that problem

[2018-01-03 09:51] mclark4386 commented on #73
@wmleler I think @theobouwman more meant he was looking forward to seeing the "native widget" integration. I'm excitedly waiting as well^^

[2018-01-03 10:25] abbadabbatech commented on #13776
Also need to wait for video to be fully initialized.

[2018-01-03 10:32] mravn-google opened #13866 "flutter run --release reports to be skipping the AOT build, even the first time"
## Steps to Reproduce

1. `flutter create hello`
1. `cd hello`
1. `flutter run --release`

## Logs

[code]

## Flutter Doctor

[code]

[2018-01-03 10:34] mit-mit commented on #13866
We seem to be printing `Skipping AOT snapshot build. Fingerprint match.` on every build, cc @a-siva can we just remove it?

[2018-01-03 10:40] sigurdm commented on #13776
Yep

[2018-01-03 11:06] mravn-google opened #13867 "_ImageState fails to handle widget update correctly when image is already loaded"
## Steps to Reproduce

Create a Flutter project with two image assets and the `lib/main.dart` shown below. Observe that pushing the button fails to swap the images. Instead, only one image is displayed.

Problem seems to be that the image changed callback is called synchronously when the image is already loaded, but `_ImageState.didUpdateWidget` nulls out its `_imageInfo` *after* registering the c

[2018-01-03 12:05] mit-mit opened #13868 "Apple Fairplay Streaming support."
_From @nampdn on November 21, 2017 1:56_

Hi, It would be great if we can make this plugin work with Apple FPS natively.
Can we work on [this](https://developer.apple.com/streaming/fps/) ?

_Copied from original issue: sigurdm/video_player#8_

[2018-01-03 12:06] mit-mit commented on #13868
Hi @nampdn, we moved the issue here as this plugin is now maintained out of https://github.com/flutter/plugins

[2018-01-03 12:07] nampdn commented on #13868
Awesome!!
I'm very excited to see this on progress.

[2018-01-03 12:18] docet85 opened #13869 "'cloud-firestore' plugin misses transactions implementation"
I took my time to explore the source code of cloud-firestore, but it seems there's no transactions support at the moment. Am I wrong? Even if it is possible to listen to a document changes as well as to 'update' it, it would be cumbersome to implement transactions just with those.

Firestore provides documents transactions natively for both iOS and Android, so I guess it would be nice to have them

[2018-01-03 12:44] brianegan opened #13870 "Custom font fails on Windows"
## Steps to Reproduce

  1. Run `example` from the `font_awesome_flutter` package on Mac (https://github.com/brianegan/font_awesome_flutter)
  2. See all icons working fine
  3. Move to Windows machine
  4. Run `example` again
  5. Custom Icons do not show up, but instead appear as weird boxes.

## Logs

### Flutter run

[code]

### Flutter analyze

[code]

## Flutter Doctor

[code]

## Screenshot

[2018-01-03 13:25] mravn-google opened #13873 "Make deprecated API unavailable after grace period"
Cf. https://github.com/flutter/engine/pull/4487

[2018-01-03 13:28] mit-mit commented on #10219
cc @devoncarew where (analyzer vs tools vs dart plugin vs flutter plugin) would this change need to be made? It would be nice if we could make it work in all IDEs based on the analyzer.

[2018-01-03 13:29] mit-mit commented on #10053
I'm going to close this; this really isn't in our control, and the Flutter plugin should work regardless.

[2018-01-03 13:29] #10053 closed

[2018-01-03 13:34] sigurdm commented on #13868
Don't be excited too early :( . We moved the issue to the new location - but we currently have no short-term plans of providing fps or other DRM support in the video_player.

[2018-01-03 13:35] mit-mit commented on #8828
Closing; this no longer repros (I tried to set a breakpoint on `return new Scaffold...`, started debugging, hit Resume Program, and the app rendered as expected).

[2018-01-03 13:35] #8828 closed

[2018-01-03 13:37] mit-mit commented on #13795
Does the asset know that the scaffold was created in the same build method? If so, would be great to mention that being the issue specifically.

[2018-01-03 13:43] mit-mit commented on #13831
Ah, yes, that makes sense!

[2018-01-03 13:43] #13831 closed

[2018-01-03 13:45] sigurdm commented on #12849
When https://github.com/flutter/flutter/pull/13871 lands on master, it will include the engine fix.

[2018-01-03 13:45] sigurdm commented on #12849
And happy new year!

[2018-01-03 14:25] TinoGuo commented on #13643
@yjbanov It's ok. The demo is perfect.

[2018-01-03 14:25] #13643 closed

[2018-01-03 14:41] #13848 closed

[2018-01-03 14:41] #13574 closed

[2018-01-03 14:43] chazhenry commented on #13124
Such a fundamental requirement. I was evaluating Flutter, but issues like these tell me it's not ready for prime time. You shouldn't have to lose a day or two to develop your own video picker.

[2018-01-03 16:24] devoncarew opened #13874 "doc the packages/ references style in the assets section of the pubsepc"
We should document the `packages/foo_package/asset_name` style in the asset docs at https://flutter.io/assets-and-images/. There's one example that uses a `packages/` reference, but we should make it clearer that this can be used to reference assets from other packages.

[2018-01-03 16:30] devoncarew opened #13875 "use package: references in the assets section of a pubspec file"
You can currently refer to assets from another package using the `packages/package_name/asset_name` format. We should move to using a `package:package_name/asset_name` format - this will be the same as other url references (like imports).

[2018-01-03 16:30] devoncarew commented on #13875
/cc @bwilkerson

[2018-01-03 16:31] MichaelSowah commented on #12849
if you don't mind me asking...will it be anytime soon?

[2018-01-03 16:41] devoncarew commented on #13875
@szakarias

[2018-01-03 16:42] cbracken commented on #11080
This should be fixed by Flutter/engine#4425.

[2018-01-03 16:42] #11080 closed

[2018-01-03 16:47] theobouwman commented on #73
@mclark4386 that's right.

[2018-01-03 16:51] xster commented on #13769
[code]

[2018-01-03 16:54] xster commented on #13280
As per @brianosman,  we can try other [TileMode](https://cs.chromium.org/chromium/src/third_party/skia/include/effects/SkBlurImageFilter.h?q=skblurimage+file:%5Esrc/third_party/skia/+package:%5Echromium$&l=27) in https://github.com/flutter/engine/blob/08961f8ec5d3ee9ecc55bf4e9474ea37b0480c2b/lib/ui/painting/image_filter.cc#L53

[2018-01-03 16:59] Hixie commented on #13875
if we do this we should do it ASAP since it's a breaking change

[2018-01-03 17:05] Hixie commented on #13795
you mean does the showDialog method know that it is being called from a closure that has a `context` to an element whose widget's build method is the one that built the MaterialApp that then indirectly built the Navigator?

If so, then the answer is not really.

[2018-01-03 17:09] wmleler commented on #73
I would love to hear your use cases for what you call "native widget" integration. I've built quite a few apps using maps, and to me it is sufficient to have the ability to overlay flutter widgets on top of a full page map, and to have a static map embedded in a Flutter widget that opens up to a full page map. I'm not saying we shouldn't provide native widget integration, I'm just curious why peop

[2018-01-03 17:14] Hixie commented on #13611
that wouldn't be black then right? that sounds like a separate feature request.

I think it makes sense to prepopulate the class names; i don't see much value in an actually blank main.dart given how easy it is to make it blank, especially since a black one would immediately report errors.

[2018-01-03 17:25] maryx commented on #13611
Sure, having a blank project can be a separate feature request.

[2018-01-03 17:26] bramvbilsen commented on #73
@wmleler There are a lot of use cases! For example an interactive map with restaurants nearby. You'd want to use an inline map with some custom layout on top of it to make your app look unique.

[2018-01-03 17:26] maryx commented on #13611
I'll change the title of this one to be to have preopulated class names.

[2018-01-03 17:31] alibitek commented on #13869
As an inspiration one can probably use the transaction support implemented for Firebase Realtime Database in PR https://github.com/flutter/plugins/pull/199/files

[2018-01-03 17:41] DaveShuckerow commented on #13435
I upgraded to the latest Flutter and this issue no longer occurred.  This can stay closed.

For future reference, this is the verbose error that I got:

[code]

[2018-01-03 17:41] xster commented on #8945
re: root view controller

The FlutterViewController does not need theoretically to be the rootViewController. Though there's likely some code in the examples code that [makes that assumption](https://github.com/flutter/flutter/blob/master/examples/platform_channel/ios/Runner/AppDelegate.m).

The FlutterViewController can be pushed from anywhere you want, as long as you use the right reference as t

[2018-01-03 17:44] xster commented on #13767
Since there's already a generic issue for documenting Flutter embedding #8945, let's turn this into specific questions for iOS integration

[2018-01-03 17:45] xster commented on #13767
cc @cbracken

[2018-01-03 18:03] cbracken commented on #13852
This was on the Mac build bots, but I'll temporarily change the config to do this.

[2018-01-03 18:03] cbracken commented on #13852
Also worth adding we've seen this a lot over the past couple days, so I expect it shouldn't take long to collect a core file.

[2018-01-03 18:16] matteing commented on #73
It's pretty basic stuff for geographic applications. Like, for example, an app that is a list of pins and GeoJSON meshes.

On Jan 3, 2018 1:09 PM, Wm Leler <notifications@github.com> wrote:

I would love to hear your use cases for what you call "native widget" integration. I've built quite a few apps using maps, and to me it is sufficient to have the ability to overlay flutter widgets on top of a

[2018-01-03 18:16] jvanverth commented on #13742
I'll take a look. This will probably have to be something that gets fixed in the Flutter engine rather than Skia, as that change was fixing bad behavior.

[2018-01-03 18:35] alexmarkov opened #13878 "Assertion '../../third_party/dart/runtime/vm/kernel_binary.cc: 20: error: Invalid magic identifier' during hot reload in default mode after running with --preview-dart-2"
## Steps to Reproduce

1. Build local engine in 'unoptimized' mode:

[code]

2. Run flutter_gallery app with --preview-dart-2, wait for app to appear, press 'q'.

[code]

3. Run flutter_gallery app in debug mode with local engine, without --preview-dart-2 and *without* cleaning the build directory; wait for app to appear, press 'r' for hot reload:

[code]

Output:
[code]

## Flutter Doctor

[✓] Fl

[2018-01-03 18:35] alexmarkov commented on #13878
/cc @aam

[2018-01-03 18:36] roughike commented on #13520
I feel like I'm finishing the first draft by tomorrow. Where do you want me to put it for you guys to have a look?

[2018-01-03 18:55] arzacj commented on #13822
<h2>Steps to Reproduce</h2>
Same message here. Every time I run any flutter command in the terminal (iTerm2).

OS - Mac OS (Sierra 10.12.6)
Shell - -bash

<h2>Logs</h2>

$ flutter packages get<br>/Applications/flutter/bin/flutter: line 43: [: !=: unary operator expected<br>Running "flutter packages get" in some_flutter_app...  0.6s.

<p>
Get the same message in IntelliJ IDEA, for example when I ru

[2018-01-03 19:03] stuartmorgan opened #13879 "FlutterEmbedder.framework should include build treeish in Info.plist"
There's no obvious way to map a built FlutterEmbedder.framework back to the version it was built from. It would be helpful if the framework's Info.plist defined a custom key that included the Flutter repo treeish that it was built from.

[2018-01-03 19:44] kelvinwatson opened #13880 "Building release apk results in "Could not resolve project" errors"
## Steps to Reproduce

I'm following the instructions [here](https://flutter.io/android-release/) for building a release APK. Running `flutter build apk` results in the following gradle build errors. The main issues I'm seeing from the logs are the following:

- `Could not resolve project :firebase_analytics`
- `Could not resolve project :firebase_database`
- `Could not resolve project :url_launch

[2018-01-03 20:37] jcollins-g commented on #13843
Have been digging into this; the bot detection is overridden if the user opts in to analytics by running `flutter config --analytics` (or `~/.flutter` contains: `"enabled": "true"`), because of this code here:  https://github.com/flutter/flutter/blob/b56295aac17f0a9bf195ceae4c6b456689db9485/packages/flutter_tools/lib/src/usage.dart#L48

If we're running on bots, this seems likely to be the reason

[2018-01-03 20:56] jcollins-g commented on #13843
I'll note though that this is at least in part a shot in the dark -- AFAIK we still don't have direct evidence that we're sending data from bots.  The proposed fix would just make it a lot harder to do that by accident.

[2018-01-03 20:56] cbracken commented on #11287
Closing since, as noted above, I believe all required steps are present in the releasing guide under the *Review Xcode project settings* section. Please re-open if that's not the case, or if you can think of better wording.

[2018-01-03 20:56] #11287 closed

[2018-01-03 21:03] #12714 closed

[2018-01-03 21:15] jason-simmons commented on #13731
Traced this to the GpuPathRenderers::kCoverageCounting flag in Skia (https://github.com/google/skia/commit/dde37e5f6613bec240b8ea9336e56f58ba63e418)

[2018-01-03 21:21] cbracken commented on #13364
@bartwaggoner apologies for the delay over the break. Yep that is the correct solution!

Closing but if you're still blocked on this, let us know!

[2018-01-03 21:21] #13364 closed

[2018-01-03 21:25] cbracken commented on #13569
@LarkAscending I scheduled a quick catchup to run over the changes for this.

[2018-01-03 21:31] Arno-Z opened #13883 "Firestore crashes after Firebase Signoff - Missing a feature to stop listening?"
Hi,

When i run the code below, it all works fine, until i sign off. The Widget containing the StreamBuilder is unloaded by setting _currentUser = null.

I am not sure what the issue is, on one side i expect the listener to halt when the authstate is changed. As the listener is not halted the security error is logical but should in my opinion have been picked up by  if (snapshot.hasError).

On the

[2018-01-03 21:33] pulyaevskiy commented on #12501
Just started getting this same error with latest dependencies:

[code]

Pubspec:

[code]

[2018-01-03 21:37] kamilez opened #13884 "Back button shows up on underlying page when endDrawer is visible"
## Steps to Reproduce

Create simple Scaffold with AppBar and endDrawer. Make drawer visible. See that under transparent part of the view, in appBar, back button shows up. It might be related with #12691 issue.

![back_button_issue](https://user-images.githubusercontent.com/16545480/34540904-9589b0e8-f0d6-11e7-9178-79874cba3bc7.jpg)

## Logs

## Flutter Doctor

[✓] Flutter (on Linux, locale en_US.

[2018-01-03 21:39] docet85 commented on #13869
Not sure it is what @alibitek refers to - but for sake of simplicity and parallelism it would be good to have the same structure and usage that the cloud-firestore libraries for iOS and Android have. In my opinion it's win-win (as they did for Firebase Realtime DB): it should be easier to wrap and the cloud-firestore documentation is still valid when developers look for information and examples (a

[2018-01-03 21:50] kelvinwatson commented on #13726
Same issue here. Where you able to find a solution?

[2018-01-03 21:50] pq commented on #10015
66s is a bit shocking.  That said, whatever the initial run is it should be *much* faster the second time.  If it isn't then we've got other problems.

Anyway, doing some speed tests is a great idea.

[2018-01-03 21:52] eseidelGoogle commented on #13843
The per-city breakdown of `flutter test` usage as well as the correlation with `flutter test` moving to the top spot on screen usage the first workday after the holiday break suggests to me that we're collecting analytics from bots.

What's unclear to me is what % of our numbers the bots account for, or how we're we could be getting them in our numbers in the first place.  Looking at a breakdown o

[2018-01-03 22:28] stephensamonte commented on #4128
You have to wrap Column in a flexible. Without flexible the column's width is not constrained to the max view in the display.
Below is the proper implamentation for textwrapping for the code above.

[code]

[2018-01-03 22:51] jason-simmons commented on #12618
The shadows are being clipped because they are drawn outside the cull rectangle (canvasBounds) that is provided when the Skia picture is recorded.

[2018-01-03 22:52] #13708 closed

[2018-01-03 22:52] kroikie opened #13890 "flutter run fails with iOS simulator com.apple.CoreSimulator.SimRuntime.iOS-11-2"
## Steps to Reproduce

Run `flutter run` with `com.apple.CoreSimulator.SimRuntime.iOS-11-2` simulator

eg: `flutter run -d iPhone -v`

[code]

## Flutter Doctor
[code]

When using `flutter run` on physical device the application runs as expected. Also application runs as expected when running Runner app from XCode.

It may have something to do with how new simulators are handled, could be that the

[2018-01-03 22:53] aam commented on #12993
This is obsolete now since IKG is not going to persist any state on disk anymore.

[2018-01-03 22:53] #12993 closed

[2018-01-03 22:53] jcollins-g commented on #13843
The AWS hits could be someone using AWS CodeBuild -- those environment variables aren't in our detection list.  Same with Jenkins.

Some CI systems allow caching of some data, or pre-initialization with a snapshot for config files (possibly including our ~/.flutter).  Users themselves might set up situations like that as well even if the CI doesn't.  Either situation would create persistent "users

[2018-01-03 22:59] jcollins-g commented on #13843
Running dev/bots/test.dart indirectly enables analytics for you in the persistent config file `~/.flutter`.   Probably a test is leaking.  Flutter's own bots could easily be generating a pile of this data as a result of that combined with [this](https://github.com/flutter/flutter/issues/13843#issuecomment-355120336), since dev/bots/test.dart creates a series of flutter test runs.

[2018-01-03 23:24] jcollins-g commented on #13843
To be clear, the combination of bugs only impacts people running flutter repo tests.  Users would still have to be doing something to create the situation themselves for flutter packages.

[2018-01-03 23:28] aam opened #13891 "on Windows debug_full_compile_millis preview_dart_2 benchmark is almost 3x slower than base one"
[code]
vs
[code]

On Linux/Android flutter_gallery_android__compile `preview_dart_2` is slower too, but by much smaller margin (29063 ms vs 20640 ms).

[2018-01-03 23:40] yjbanov commented on #13852
I just had to rebuild 4 times before I could successfully get past `pub get` due to this issue. This happened on a Mac Chrome infrabot only. Linux and Windows succeeded on first try.

https://build.chromium.org/p/client.flutter/builders/Mac/builds/4926/steps/download%20dependencies/logs/stdio

[2018-01-03 23:43] timsneath opened #13892 "Consistent .gitignore for Dart and Flutter projects"
We should have a standard and consistent `.gitignore` file common to Dart and Flutter that combines the [recommendations currently on GitHub](https://github.com/github/gitignore/blob/master/Dart.gitignore) with those generated by flutter create (which are different).

From [https://github.com/github/gitignore/blob/master/Dart.gitignore](https://github.com/github/gitignore/blob/master/Dart.gitignor

[2018-01-03 23:45] aam commented on #13891
on Windows(z440) frontend_server runs 3 times slower than on Linux(z840): 19 seconds vs 7 seconds:
[code]

[2018-01-03 23:48] db-007 commented on #13353
@mit-mit thanks for opening this but it seam to be duplicate of 13750?

[2018-01-04 00:00] jcollins-g commented on #13843
Narrowed down the leakage of writing to .flutter to the analytics tests themselves.  There's a valiant effort to prevent exactly this from happening that doesn't seem to matter, for some reason.  Still investigating.

[2018-01-04 00:06] Janamou commented on #73
@wmleler Our apps usually look like this. We have **tabs**, on the first tab is a google map. On the second is a listview. I am able to click on any pin on the map and then I see something like "partial" detail/info of that item from which I can launch navigation from the current position to that item (selected pin).

[2018-01-04 00:34] CharlesCleveJr opened #13894 "Build Fail for iOS App after recent Flutter and Packages Upgrade."
## Steps to Reproduce

I recently upgraded Flutter and my Packages and now I'm getting the below error logged when I try to open my iOS app.  I don't understand because I'm not using Firebase Messenger even though that's the pod error referenced in the error below.

## Logs

Here are the errors logged in Flutter...

## Flutter Doctor

[✓] Flutter (on Mac OS X 10.11.6 15G1010, locale en, channel al

[2018-01-04 00:40] pulyaevskiy opened #13895 "error: The class 'AutomaticKeepAliveClientMixin' can't be used as a mixin because it extends a class other than Object."
## Steps to Reproduce

I declared a class similar to `EditableTextState` from the SDK:

[code]

Analyzing /Users/anatoly/Projects/memspace...
  error • The class 'AutomaticKeepAliveClientMixin' can't be used as a mixin because it extends a class other than Object at lib/src/richtext/widgets.dart:61:10 • mixin_inherits_from_not_object
  hint • The value of the local variable 'memo' isn't used at li

[2018-01-04 00:57] Hixie commented on #10658
I'm looking at this one now.

[2018-01-04 02:02] cbracken commented on #13057
/cc @yjbanov @a-siva who've hit this a bunch today. We could try adding `--no-lto` to the gn options and see if that helps.

[2018-01-04 02:21] CharlesCleveJr commented on #13894
Updated iOS Tool chain and still getting error.

[2018-01-04 03:09] najeira opened #13896 "Crash on Android 4.2 below"
## Steps to Reproduce

Android 4.2 (API level 17) below.
I do not know the exact procedure. Probably related to TextField.

## Logs

[code]

## Flutter Doctor

[code]

[2018-01-04 03:10] najeira commented on #13896
https://github.com/flutter/engine/blob/master/shell/platform/android/io/flutter/view/AccessibilityBridge.java uses [AccessibilityNodeInfo#setEditable](https://developer.android.com/reference/android/view/accessibility/AccessibilityNodeInfo.html#setEditable(boolean)), but it added in API level 18.

[2018-01-04 03:17] eseidelGoogle commented on #6715
This will be required by the Play Store by August 2019:
https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html

I expect we'll have it long before then however.

[2018-01-04 03:44] xster opened #13897 "Add automated test to prevent package changes without version changes"
It's currently possible to update behaviours in our first party published packages in https://github.com/flutter/plugins without changing the package's version number.

Therefore it's possible for people on the same team to have pub got the package before and after the behaviour change and get different behaviours despite being on the same version.

Create a test to machine enforce version changes

[2018-01-04 04:03] long1eu commented on #13726
No, it just worked next day

[2018-01-04 04:48] kelvinwatson commented on #13880
Following the solution here fixed the issue.
https://stackoverflow.com/questions/48054291/cant-build-release-apk-for-flutter

[2018-01-04 04:57] #13894 closed

[2018-01-04 05:01] Hixie commented on #5671
I can no longer reproduce this.

[2018-01-04 05:01] #5671 closed

[2018-01-04 06:14] mortenboye commented on #13707
This is still an issue for me. Have others solved this?

[2018-01-04 06:20] long1eu opened #13899 "NPE in FirebaseAuthPlugin"
I'm getting a `NullPointerException` when calling `getCurrentUser()`. I'm logging in using Firebase Phone Auth through Firebase UI, after that, first time I call `getCurrentUser` I get this crash. After that the method works fine.

[code]

[2018-01-04 08:11] mraleph commented on #13891
I will investigate when I am back on Monday

[2018-01-04 08:18] #13602 closed

[2018-01-04 08:28] zarub2k commented on #13822
For the time being, I completely removed the flutter project and checked out the code again. This problem seems to be gone now. But I have no clue why I got this problem earlier :(

[2018-01-04 08:35] mit-mit commented on #13353
https://github.com/flutter/flutter/issues/13750 tracks the `xxx/android/local.properties` issue. The present bug tracks the issue that doctor never reported a problem in the first place. We should fix both!

[2018-01-04 09:06] oliverchang commented on #13818
@FastNinja I just did a git checkout to the 0.19 revision (fd7853faad0b0c76381db40af3841024c1bd86c6) in my flutter checkout.

[2018-01-04 09:20] mit-mit commented on #13897
I'm not sure I entirely follow; I don't believe pub allows uploading changes without changing the version number?

[2018-01-04 09:31] alibitek commented on #13899
Already fixed in https://github.com/flutter/plugins/pull/329/files#diff-2ed885c78d229177455b276c34e93577R537 (when it'll be merged)

[2018-01-04 09:32] pedia opened #13902 "How to debug "Multiple widgets used the same GlobalKey"?"
How to debug "Multiple widgets used the same GlobalKey"?

What output after press 'W' in the console, should more helpful for this?

## Logs

Another exception was thrown: Child with id 134 is invisible and should not be added to tree.
Another exception was thrown: Child with id 134 is invisible and should not be added to tree.
Another exception was thrown: Child with id 134 is invisible and shoul

[2018-01-04 09:33] szakarias commented on #13875
Could you elaborate a bit more on why we want this?

It would have the unfortunate effect of entries with two colons in the `fonts` section, for instance
[code]

[2018-01-04 09:36] long1eu commented on #13899
Hi! Thanks I see that this is you plugin addition. How about iOS?

[2018-01-04 09:42] deepak-gehlot commented on #13707
I'm also seeing this after the upgrade.

[2018-01-04 12:01] coderJohnZhang commented on #13749
I have submitted my tv app simple build with flutter to my [github](https://github.com/coderJohnZhang/flutter_tv). And it has many bugs, just mock what I want to realize.

[2018-01-04 12:03] coderJohnZhang commented on #13672
See [https://stackoverflow.com/questions/47898259/the-method-nextpage-and-previouspage-in-pagecontroller-doesnt-work-sometime](https://stackoverflow.com/questions/47898259/the-method-nextpage-and-previouspage-in-pagecontroller-doesnt-work-sometime)

[2018-01-04 12:03] #13672 closed

[2018-01-04 12:09] coderJohnZhang commented on #13633
This [https://github.com/coderJohnZhang/flutter_tv](https://github.com/coderJohnZhang/flutter_tv) may show what I want to do. What's more, this demo is too simple, the child menu has the same size, and I have written many bad or dead codes.

[2018-01-04 12:14] coderJohnZhang commented on #13863
See [https://github.com/coderJohnZhang/flutter_tv](https://github.com/coderJohnZhang/flutter_tv). The focus box may change size when move position form one to another, so I need a nine-patch picture if build with android, see [http://developer.android.com/guide/topics/graphics/2d-graphi‌​cs.html#nine-patch. ](http://developer.android.com/guide/topics/graphics/2d-graphi‌​cs.html#nine-patch). What i

[2018-01-04 12:48] Luk3s commented on #13651
Thanks, this is indeed a good start, it hasn't been updated in a while but there are some interesting pieces of code that can be used to achieve what I was planning to do, though it would be helpful to have an official example because I feel that this is a very popular interaction with lists.

[2018-01-04 13:23] mravn-google commented on #4170
This issue currently blocks local testing of changes to the `flutter.py` chromium bot recipe. The `flutter_tools` test suite fails when running
[code]
in `~/chrome_infra` as described [here](https://github.com/flutter/flutter/blob/master/dev/bots/README.md#editing-a-recipe).

Not sure how to install the font in question.

[code]

[2018-01-04 13:39] mit-mit commented on #13559
@nex3 would you like a bug on the dart-side to track this request?

[2018-01-04 13:55] mit-mit commented on #10058
cc @a-siva, who is a good assignee of this?

[2018-01-04 14:16] UlfS commented on #13726
The workaround mentioned in another issue worked for me: https://github.com/flutter/flutter/issues/10992#issuecomment-337356417.
Also here: https://github.com/flutter/flutter/issues/13880#issuecomment-355198231

[2018-01-04 14:17] long1eu commented on #13726
@UlfS thanks

[2018-01-04 14:17] #13726 closed

[2018-01-04 14:22] yathit commented on #3247
Is there any workaround to remove SLOW MODE. I need to take 12" ipad screenshot for App Store. I do not have iPad and could not get a screen shot from simulator.

[2018-01-04 14:26] bwilkerson commented on #13875
If a user has an explicit 'packages' directory, we won't be able to tell the difference between a relative path and a package reference. Using the URI is consistent with the way users are accustomed to seeing references to files in other packages and would remove the ambiguity.

While having multiple colons is slightly unfortunate, I think the ambiguity and inconsistency is worse.

[2018-01-04 14:55] Skylled opened #13904 "cloud_firestore crashes on failed Query"
Example:
[code]

When using a complex query with multiple fields checked, as above, the underlying library will kick back with the below error, if an Index has not been created in the Firebase Console.
```I/System.out(32065): com.google.firebase.firestore.FirebaseFirestoreException: FAILED_PRECONDITION: The query requires an index. You can create it here: [link omitted]```

But because errors are

[2018-01-04 15:21] devoncarew commented on #13875
I assume yaml would parse this fine, it's just a visual issue for the users?

Similar to what Brian said, the main reason is that `package:` is a more familiar way to reference items in other packages, both for users and for our other tooling. Using `packages/` as a shorthand for another package reference just in this one place seems strange.

For context, Brian is working on a feature to add anal

[2018-01-04 15:40] mravn-google commented on #13818
@Hixie This may not actually be an `ImagePicker` problem, since it is reported to work fine with version 0.0.19 of Flutter, and a similar issue has been reported with navigation following other platform interactions (https://github.com/flutter/flutter/issues/13818#issuecomment-354739347).

@FastNinja Until we fix this, it seems that delaying the `Navigator.push` after the platform view is dismisse

[2018-01-04 16:06] shamrin commented on #10414
I think this issue should be closed, because PR #13718 was merged.

[2018-01-04 16:08] Skylled opened #13905 "cloud_firestore should have FieldValue support"
At present it is impossible to delete a field from a Document, or use the server's timestamp in a field.

These are minor issues and can be worked around by nullifying the field or using DateTime.now() respectively.

The Firestore APIs have `FieldValue.delete` and `FieldValue.serverTimestamp` for these tasks, and the Flutter API should probably support them at some point.

These are very easily im

[2018-01-04 16:30] aam commented on #13891
It's only `host_debug_unopt` that shows such a drastic performance difference. `host_debug` performance is on closer to what you would expect.

[code]

Flutter engine build script does package debug_unopt, rather than debug, which considering performance difference on Windows does not look right.

[2018-01-04 17:18] aam commented on #13891
https://chromium-review.googlesource.com/c/chromium/tools/build/+/850717 is to switch to debug from debug_unopt

[2018-01-04 17:32] aam opened #13907 "Remove set asset path RPC API from release build"
https://github.com/flutter/engine/pull/4323 introduced new API to set asset bundle path to enable hot reload of updated assets. This API should not be available in release build.

[2018-01-04 18:06] cbracken commented on #13852
I've enabled core dumps on both the mac bots. Now, we wait...

[2018-01-04 18:20] aam opened #13908 "Investigate why MS Visual studio has problems with initializer list in closure."
https://github.com/flutter/engine/pull/4514 contains the workaround, the root cause is not clear.

[2018-01-04 18:24] aam commented on #13908
cc @bkonyi

[2018-01-04 18:28] #13813 closed

[2018-01-04 18:43] xster opened #13909 "Document video player plugin's supported formats"
Maybe a matrix on the plugin's readme for HLS, DASH, smooth streaming etc

[2018-01-04 19:02] bkonyi commented on #13908
This is an MS bug, but I can't remember where I saw it... here's a SO question with the same issue and a broken link to MS support: https://stackoverflow.com/questions/39147294/lambda-capture-by-move-fails-for-const-variables

[2018-01-04 19:10] aam commented on #13908
@bkonyi wrote:

What is the bug, do you know? Is it handling of const references in the std::move?

[2018-01-04 19:17] aam commented on #13908
I think https://stackoverflow.com/questions/28595117/why-can-we-use-stdmove-on-a-const-object is actually relevant here.

[2018-01-04 19:20] braulio94 commented on #13817
This might not be a device-specific issue

[2018-01-04 19:30] bkonyi commented on #13908
Hm, honestly, I can't remember if I found a filed issue (there was a few oddities like this that I came across when getting `flutter test` running). I'll look around to see if I can find an issue.

[2018-01-04 19:32] cbracken commented on #13817
@braulio94 Are all glitches you see text-related, or do you see other issues?

[2018-01-04 20:12] nex3 commented on #13559
Yes please! File something against pub with the exact behavior you want.

[2018-01-04 20:29] jvanverth commented on #13742
This is caused by https://skia-review.googlesource.com/c/skia/+/73900. It is fixed by https://skia-review.googlesource.com/c/skia/+/85002, which hasn't been rolled into Flutter yet.

[2018-01-04 20:36] brianosman commented on #13088
This is fixed in Skia by https://skia-review.googlesource.com/c/skia/+/87341, which is not yet rolled into Flutter.

[2018-01-04 20:47] xster commented on #13897
I may have had an incomplete interpretation of what happened. But I think posse experienced this:

Person A gets the latest published version of firebase_analytics before
https://github.com/flutter/plugins/pull/287

Person B gets the latest published version of firebase_analytics after
https://github.com/flutter/plugins/pull/287

They're now on the same version but have different behavior

I think

[2018-01-04 21:39] aam commented on #13891
Switch from `debug_unopt` to `debug` did indeed fix performance issue.

[2018-01-04 21:39] #13891 closed

[2018-01-04 22:35] szakarias commented on #13875
Ok great, I can do this change. I suggest we postpone it a bit, since we are soon going to redesign the asset API, and we could incorporate this change here to reduce the number of breaking changes. WDYT?

[2018-01-04 22:38] bwilkerson commented on #13875
As long as "soon" meets Hixie's definition of ASAP I think that's fine.

[2018-01-04 22:44] devoncarew commented on #13875
I think soon means in this milestone :) postponing sgtm. We could also support both for a period, and have an analyzer warning for use of the older style.

[2018-01-04 22:57] jcollins-g commented on #13843
So.  I've learned exactly why the writing of .flutter happens in test.  The explanation is somewhat involved, but here are the highlights.

Flutter's Usage class creates an AnalyticsIO instance here.
https://github.com/flutter/flutter/blob/96942bc797959bd687b71323227047775f62f327/packages/flutter_tools/lib/src/usage.dart#L26

This AnalyticsIO instance is built by a third-party library in the pub p

[2018-01-04 23:06] #12866 closed

[2018-01-04 23:09] Hixie commented on #13843
Nice!

[2018-01-04 23:22] eseidelGoogle opened #13914 "Buttons on iOS do not use squircle paths"
@abarth brings this up from time to time (I think mostly jokingly).  That CupertinoButton shouldn't actually be a rounded rect, but rather a squircle to match UIKit-based apps.

[2018-01-04 23:40] chinmaygarde opened #13916 "shell::PlatformMessageRouter is leaky."
The [shell::PlatformMessageRouter](https://github.com/flutter/engine/blob/12e0e38a8b7a30a0d7e83b761c714a901b78f72e/shell/platform/darwin/ios/framework/Source/platform_message_router.h#L27) has a map that holds its blocks in an unordered set. When the map entry is populated, [the block is copied into the map](https://github.com/flutter/engine/blob/12e0e38a8b7a30a0d7e83b761c714a901b78f72e/shell/plat

[2018-01-05 00:07] Hixie commented on #13862
cc @aam

[2018-01-05 00:14] Hixie commented on #13785
I'm leaving this open because we definitely need to explain this better.

I'm usually of the opinion that we should show all the ways to do something when there are shorthands, so that people reading the docs are prepared to read code using all the various styles. I agree that being able to do things many ways tends to lead to confusion, though in these cases since each shorthand way is clearly de

[2018-01-05 00:15] Hixie commented on #13861
I'm going to reopen this so that we can make the error message better.

[2018-01-05 00:16] Hixie commented on #13815
Yeah we definitely want to turn this on, Dart's just not quite ready yet. I forget what the exact blockers are too.

[2018-01-05 00:18] xster commented on #13280
@brianosman, I tried the other flags though I seem to be getting identical outputs

Clamp:
![clamp](https://user-images.githubusercontent.com/156888/34590273-9ad5d452-f16a-11e7-98be-0821726722b5.png)

Clamp to black:
![clamp_to_black](https://user-images.githubusercontent.com/156888/34590279-9d90e22c-f16a-11e7-8967-bc8cd9d3c824.png)

Repeat:
![repeat](https://user-images.githubusercontent.com/1568

[2018-01-05 00:32] sthai256 commented on #13600
Having the same issue as well when I try to present a confirmation dialog after the picker.

[2018-01-05 00:34] Hixie commented on #13769
I wasn't able to reproduce. I'm using tip-of-tree Flutter on an Android device, debug mode.

[2018-01-05 00:39] Hixie commented on #10015
For the repo the initial run is really what matters, because the bots are usually doing an initial run.

[2018-01-05 00:40] Hixie commented on #10015
The numbers above come from our benchmarks, btw. It's the first four graphs on https://flutter-dashboard.appspot.com/benchmarks.html. Hover over the graphs and click the magnifying class at the top-right of each graph to see the long-term trends.

[2018-01-05 00:41] Hixie commented on #10015
(For the analyzer_benchmark mega_gallery_batch benchmark, the numbers for batch and server are comparable, about 25s each. That's more representative of what our users will see on their bots.)

[2018-01-05 00:45] xster commented on #13769
iOS simulator only

`debugPrint` was called with the right text. It's likely a console output problem.

[2018-01-05 00:45] Hixie commented on #13895
Sounds like somehow you've ended up with your project having "super_mixins" turned off.

If you have an `analysis_options.yaml` file, make sure it says
[code]
...at the top.

[2018-01-05 00:46] braulio94 commented on #13817
@cbracken This happens to texts and icons, nothing else. The glitching starts every time I open the animation screen, then the rest gets affected.

[2018-01-05 00:47] Hixie commented on #13902
If it says "Another exception was thrown" that means you've had another exception report earlier. If you can resolve that issue, then eventually you'll have the "Multiple widgets used the same GlobalKey" exception be your first exception, and that will include a bunch of additional information in the logs about what widgets are in trouble and what keys they have.

[2018-01-05 00:54] collinjackson opened #13919 "RouteObserver calls didPop too early"
`RouteObserver` should call `_listeners[route]?.didPop()` in `unsubscribe` instead of `didPop`. This likely affects the accuracy of the Firebase Analytics plugin; it could report that routes have been popped when they are still visible.

More context: https://github.com/flutter/flutter/pull/11236/files/40240cf80e55970246b77f651666c4f33e936b43#r159754696

/cc @weisong0 @Hixie

[2018-01-05 00:55] Hixie commented on #13749
Got it, thanks. Input events can probably be done as a plugin; that isn't on the team's near-term priority list. Showing focus state can be done using some custom widgets, though again it's not something we're likely to work on any time soon. Defining next focus order is something we're likely to work on this year as it impacts device form factors that we're likely to target before TVs.

[2018-01-05 00:55] Hixie commented on #13633
Duplicate of https://github.com/flutter/flutter/issues/13749.

[2018-01-05 00:55] #13633 closed

[2018-01-05 00:58] Hixie commented on #13863
Is there any documentation on what the format of these images is?

[2018-01-05 00:59] Hixie commented on #13863
You can set the [centerSlice](https://flutter.docs.io/flutter/widgets/Image/centerSlice.html) property on the Image widget if you know the coordinates of the middle section of your nine-patch image. We don't currently read those coordinates out of the image automatically. If there's any documentation on how Android does that, it's something we would consider doing.

[2018-01-05 01:00] Hixie commented on #3247
https://flutter.io/faq/#my-app-has-a-slow-mode-bannerribbon-in-the-upper-right-why-am-i-seeing-that

[2018-01-05 01:01] xster commented on #13769
This is pretty weird. Seems like the simulator log reader won't output lines that terminates in U+0029 (closing parenthesis)

[2018-01-05 01:01] Hixie commented on #3247
Oh and on simulator if you want to turn it off you can either take your screenshot from the `flutter` tool (when you press `s` it briefly turns off the ribbon to take the screenshot) or you can explicitly set [debugShowCheckedModeBanner](https://docs.flutter.io/flutter/material/MaterialApp/debugShowCheckedModeBanner.html) to false on your MaterialApp widget.

[2018-01-05 01:02] Hixie commented on #10414
Good catch, thanks!

[2018-01-05 01:02] #10414 closed

[2018-01-05 01:03] Hixie commented on #13907
Marking m3 since this is a potential security issue.

[2018-01-05 01:17] Hixie commented on #13919
See also https://github.com/flutter/flutter/pull/13757

[2018-01-05 01:25] Hixie commented on #13914
We should definitely have a SquircleShape. Or maybe a SuperEllipseShape, where you can set a, b, and n independently. (Wikipedia claims iOS actually uses an n=5 superellipse for its icons, not an n=4 squircle.)

In any case, presumably this will require a new set of APIs on Path to draw superellipses.

[2018-01-05 01:29] pedia commented on #13902
OK, I close this first.

[2018-01-05 01:29] #13902 closed

[2018-01-05 01:31] Hixie commented on #10658
My current plan is to look at creating a sliver that goes in the outer viewport before the final sliver, which has zero scroll extent and zero layout extent but remembers the overlap extent, and another sliver that goes in the inner viewport, before the listview's contents, which has a scroll extent equal to the remembered overlap extent. Or something. What I described here doesn't quite make sens

[2018-01-05 01:38] jimmyshiau opened #13921 "[image_picker]ImageSource.camera doesn't ask camera permission"
## Steps to Reproduce
There are 2 buttons to pick image
[code]
Case 1: Tap gallery button then tap camera button
It will ask gallery permission when tap gallery button,
then tap camera button, it will show the following error
[code]

Case 2: Tap camera button  then tap gallery button (before allow gallery permission)
It will show the following error
[code]
 then tap tap gallery button,  it will sh

[2018-01-05 02:31] jimmyshiau commented on #13921
Workaround
[code]

[2018-01-05 04:54] long1eu commented on #13861
Sure, I like that about you. You always want to help. :D

[2018-01-05 05:12] branflake2267 commented on #9577
I'm noticing when my route is '/' home, I can't observe the system back button navigation. I'm assuming you're already aware, but figured I'd add a note.

1. route to '/'
2. click on android system back button
3. navigates to black screen, and it doesn't call didPop

[code]

[2018-01-05 06:19] branflake2267 commented on #9577
I've found the issue. Instead of calling _history.last.didPopNext(route) it should be calling SystemNavigator.pop() to exit. It's not able to determine that it's at the end of the stack and should exit.

In this screenshot, both the last element in the _history stack, and the route it's trying to pop are both the same route. This seems odd, and could be used to determine it's at the end of the lin

[2018-01-05 06:33] amirh opened #13924 "signal 11 (SIGSEGV), code 1 (SEGV_MAPERR) in libflutter.so"
I do not have repro steps, these are reports from the wild that I see in the Google Play Console (for a personal pet project app).
All crashes were on Nexus 5X, Android 6.0

backtrace:

[code]

[2018-01-05 06:36] amirh opened #13925 "signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)"
I do not have repro steps, these are reports from the wild that I see in the Google Play Console (for a personal pet project app).
I get these reports for Android 7.0 and Android 7.1, on: Moto X (4) (payton_sprout) and Galaxy S8 (dreamqltesq)

backtrace:
[code]

[2018-01-05 06:38] amirh opened #13926 "signal 11 (SIGSEGV), code 1 (SEGV_MAPERR) in libflutter.so"
I do not have repro steps, these are reports from the wild that I see in the Google Play Console (for a personal pet project app).
This was reported on Nexus 5X, running Android 6.0:

backtrace:
[code]

[2018-01-05 07:28] Hixie commented on #12553
Thanks for the GitHub repo with the repro test case, it was invaluable in reproducing this bug and tracking it down.

Fix in https://github.com/flutter/flutter/pull/13927/files#diff-f41d041ddd3fe665cc9e123f992bb5e0R1569.

[2018-01-05 09:53] dudeofawesome opened #13930 "Text widget assert error not printing call stack"
## Steps to Reproduce

I have a text widget somewhere in my Flutter app that is getting a `null` value for `data`. The default error logging did not provide any call stack, making it very difficult to track down the error. Running with `-v` showed a full call stack, allowing me to easily find and fix the issue.

**It seems like it would make sense to provide the full stack by default.**

![image](

[2018-01-05 10:00] Hixie commented on #10658
idea: Nested Scroll View Overlay Absorber, with sliver child, passes geometry through but converts all layout extent into overlap, passes the difference to a Value Notifier. Nested Scroll View Overlay Injector injects layout extent equal to a Value Notifier.

[2018-01-05 11:08] BenSower commented on #13818
I am not quite sure, but I think I ran into a similar issue both using the external barcodescanner- and location-plugins. Both seemed to disappear when downgrading to 0.0.19 as well as using @mravn-google 's delay method. The only difference with my problem is that the alert dialog I was trying to display (which is also being pushed after a platform call, hence this comment), seems to be being dis

[2018-01-05 11:31] adchang commented on #13812
Thanks Hixie!

For those interested in a RTL transition, replace the FractionalOffsetTween with:

new Tween<Offset>(
  begin: const Offset(1.0, 0.0),
  end: Offset.zero,
)

Additional commentary:
I actually did see the post regarding the introduction of Alignment vs FractionalOffset when I started seeing the exception in slow mode (I didn't catch it earlier as I've been using release mode, which w

[2018-01-05 11:31] #13812 closed

[2018-01-05 12:12] fractalemagic commented on #13640
Is there a reason why the expand icon sets the color to `black38`? Omitting the `color` parameter lets the `Icon` widget grab the color from the theme data which is the ideal solution.

This issue is very clearly visible when you change the theme brightness to `dark`, as seen in the picture below.

<img width="63" alt="screen shot 2018-01-06 at 1 09 38 am" src="https://user-images.githubuserconten

[2018-01-05 13:18] toregua commented on #12554
I have the same error with ExpansionPanelList inside a FutureBuilder. ([see here](https://stackoverflow.com/questions/48111536/expansion-not-work-for-expansionpanellist-inside-a-futurebuilder)) Without it works like expected and inside a FutureBuilder, the component is showed but nothing happened when i want to open the panel.
Do you have any suggestion ?

[2018-01-05 14:08] InMatrix opened #13931 "Use diagrams to illustrate the relationships between AnimationController, Animation, Tween, CurveTween, and CurvedAnimation objects"
The Q4 UX study shows that developers have difficulty understanding how different objects in an animation are related to one another. It would be great to use diagrams to illustrate their relationships in the [Tween Animation Tutorial](https://flutter.io/tutorials/animation/).

I recommend using a [timing chart](https://developers.google.com/web/tools/chrome-devtools/inspect-styles/animations) to

[2018-01-05 14:12] InMatrix opened #13932 "Introduce subclasses of ImplicitlyAnimatedWidget and `*Transitions` widgets"
The Q4 UX study shows that developers tend to look for animation examples closely matching the ones they wanted to implement, e.g., translating the location of a widget or changing the size of a widget. The current [landing page for Animation](https://flutter.io/animations/) points the user to a tutorial which teaches them how to build such animations from scratch using `AnimationController` and `

[2018-01-05 14:28] brianosman commented on #13280
I'm WFH today, so I can't easily repro this. It may depend on the exact composition of skia calls. Can you record an SKP from running your sample (flutter screenshot --skia=<port number>), and send/attach it? That will let us see exactly how the image filter is being applied.

[2018-01-05 14:57] Arno-Z commented on #13904
That is supposed to happen, according to Firebase. Same behaviour in the web SDK. Follow the link in the log file to create the index.

[2018-01-05 14:59] Skylled commented on #13904
I agree that the lack of index is supposed to cause a problem, but it shouldn't hard crash the app. The error should be handled and reported.

[2018-01-05 15:03] mravn-google commented on #13818
Regression seems to have been introduced by https://github.com/flutter/flutter/pull/13344 (@FastNinja's example works fine just before that commit, and not after).

Steps to reproduce on Android:
1. Invoke some plugin (or Java code) that pushes a new activity on top of the Flutter app and then sends a platform message to the Flutter app from the `onActivityResult` handler.
1. Have the message rece

[2018-01-05 15:12] DanTup opened #13933 "Add version numbers to flutter daemon/flutter run --machine"
The analysis server sends its version number in a "connected" event at startup. This is both useful for debugging if someone sends a log file but also for enabling functionality only when it's known to be supported.

It would be useful if `flutter run --machine`/`flutter daemon` did the same. That way if there's new functionality in future (for example, the ability to launch emulators) the client

[2018-01-05 15:24] #7302 closed

[2018-01-05 16:36] aam commented on #13907
https://github.com/flutter/engine/blob/master/shell/common/platform_view_service_protocol.cc#L130 seems to actually take care of only registering this API for debug builds. So it won't be available in release builds.

[2018-01-05 16:36] #13907 closed

[2018-01-05 17:44] jcollins-g commented on #13843
Merged the fix.   If some of our assumptions and our diagnosis is correct, we should start to see some immediate changes in analytics as our primary generator of flutter test 'screens' is likely Flutter's own Travis.  No guarantees here though, of course -- while these were real problems, the degree to which they impacted the analytics is still an assumption.  There could be unknown factors someho

[2018-01-05 18:13] tvolkert commented on #13742
So @jvanverth is there any work required in the Flutter engine, or should updating the Skia rev in the engine be sufficient?

[2018-01-05 18:18] jvanverth commented on #13742
Updating the Skia rev should be sufficient. The change that @brianosman was referring to was not in the roll and so was not causing the issue -- instead, it's actually the fix for the issue.

[2018-01-05 18:45] sroddy opened #13937 "Unable to call a platform channel method from another isolate"
## Status
9/9/22: Work- in-progress

## Description
When I try to invoke a platform channel method from a custom spawned isolate, the app crashes badly (both on iOS and Android). I'm trying to figure out whether this is expected or not.

If it's not, it's probably worth to mention that somewhere.

Anyways I think that this can potentially be a strong limitation. Is there a way to be able to call p

[2018-01-05 19:04] Hixie opened #13938 "Design discussion for State/StatefulWidget: Why does StatelessWidget have a build but the build for StatefulWidget is on the State?"
We should add a Design Discussion section to State/StatefulWidget that discusses the design.

Questions:

Answer from @abarth was:

This video also explains it in different terms: https://www.youtube.com/watch?v=dkyY9WCGMi0

[2018-01-05 19:04] Hixie commented on #13938
See also https://github.com/flutter/flutter/issues/13938 https://github.com/flutter/flutter/issues/12296 https://github.com/flutter/flutter/issues/11649

[2018-01-05 19:05] Hixie commented on #13938
(cc @HansMuller @willlarche)

[2018-01-05 19:34] #13769 closed

[2018-01-05 19:49] varunvairavan opened #13939 "Error -32601 received from application: Method not found"
## Steps to Reproduce

I am able to successfully run the application with `flutter run`

When I make any change to the application, like add a `print("Hello");` and perform a hot reload the exception is hit. I am running this on a Samsung Galaxy S8. This happens irrespective of the change, when I restart the `flutter run` the app works fine on initial launch till the next hot reload.

## Logs

Whe

[2018-01-05 20:08] varunvairavan opened #13940 "print statement ignored"
## Steps to Reproduce

Basic sample app with a print statement

[code]

The `Hello world` is never printed. I have run this application on an iPhone X simulator and on a Samsung galaxy s8

## Flutter Doctor

[✓] Flutter (on Mac OS X 10.13.2 17C88, locale en, channel master)
    • Flutter at /Users/varun/workspace/flutter
    • Framework revision f6fae1ce36 (71 minutes ago), 2018-01-05 10:34:02 -08

[2018-01-05 20:10] #11993 closed

[2018-01-05 20:14] jcollins-g commented on #13843
`flutter test` has disappeared from the top 20 screen lists in the realtime view; it used to consistently be in the top 10.  Additionally, the number of test screens added today has slowed to a bare trickle after landing #13915.

[2018-01-05 20:47] varunvairavan commented on #13940
For some reason the app was running old code from the build folder instead of recompiling the new changes. I manually deleted the build folder and everything worked.

[2018-01-05 20:47] #13940 closed

[2018-01-05 20:47] varunvairavan commented on #13939
For some reason the app was running old code from the build folder instead of recompiling the new changes. I manually deleted the build folder and everything worked.

[2018-01-05 20:47] #13939 closed

[2018-01-05 20:52] jcollins-g commented on #13693
@vestayin I'm able to reproduce the problem of downloading multiple times, but not the crash.  Could you post the crash report?

[2018-01-05 21:35] Hixie commented on #13930
I believe this was a typo in our regular expression for showing the logs on iOS, which @xster fixed recently.

[2018-01-05 21:37] dudeofawesome commented on #13930
So this would be fixed by upgrading my Flutter install?

[2018-01-05 21:41] jcollins-g commented on #13693
Preliminary investigation and experiments suggest the crash is likely an unexpected exception from this try block; throwing something unexpected by hand there produces output like @vestayin experienced.

https://github.com/flutter/flutter/blob/28366002d9a86ec1403764453df31580362c9097/packages/flutter_tools/lib/src/base/net.dart#L56

Without the crash report I have to guess, but given the error ana

[2018-01-05 21:43] xster commented on #13930
Likely the same issue since it's on a simulator. If you're on the master branch, it'll be fixed with `flutter upgrade`. It will be rolled into alpha branch soon.

(hn client in flutter \o/)

[2018-01-05 21:43] #13930 closed

[2018-01-05 21:44] xster commented on #13930
Dupe is #13769

[2018-01-05 21:51] xster commented on #13931
Perhaps in a separate more zoomed out diagram but consider adding Ticker, ImplicitlyAnimatedWidget, AnimatedWidget as well

[2018-01-05 21:58] xster commented on #13833
https://github.com/flutter/cupertino_icons/commit/669d3f051435d6073fe1524f926031c9c02c327d

[2018-01-05 21:59] xster commented on #13833
Will need to republish. In the meantime, you can look at the same readme in https://github.com/flutter/cupertino_icons directly

[2018-01-05 22:04] xster commented on #13773
@cbracken might know

[2018-01-05 22:42] Arno-Z commented on #13883
@collinjackson may i just bring this to your attention?

[2018-01-05 22:43] xster commented on #13280
TIL about screenshot skia

Attached
[flutter_01.skp.zip](https://github.com/flutter/flutter/files/1608131/flutter_01.skp.zip)

[2018-01-05 22:45] #13896 closed

[2018-01-05 23:04] chinmaygarde commented on #13916
This is going to be fixed in the shell refactor.

[2018-01-05 23:04] #13916 closed

[2018-01-05 23:56] goderbauer opened #13943 "MergeSemantics doesn't work properly if semantic information are implicitly merged into its node"

[2018-01-06 00:39] justathoughtor2 opened #13947 "Documentation error for LicenseEntryWithLineBreaks"
## Steps to Reproduce

Copy the code from the `LicenseEntryWithLineBreaks` sample available at https://docs.flutter.io/flutter/foundation/LicenseEntryWithLineBreaks-class.html into a new Flutter app's main method. If you omit the expected closing parentheses and semicolon, I expect you'll get additional errors, but that isn't what this is about; this is about the `yield` keyword being used outside

[2018-01-06 00:48] juani21 opened #13948 "White screen when reopen app after close with back button"
Hi, i have this code:

[code]

When close the app with back button and reopen i have white screen with this error:
[code]

**FLUTTER DOCTOR**

[code]

[2018-01-06 00:53] collinjackson commented on #13883
I'm wondering whether you're still seeing this in `cloud_firestore` version `0.2.1`. Just want to confirm that it's not #12714.

If so: do you see the issue on iOS as well, or just Android?

[2018-01-06 01:01] Hixie commented on #10658
I'm on a path which I think will lead to a solution, though at the moment I've actually just made item 0 _always_ be under the tabs, so we're not quite done yet.

[2018-01-06 01:02] xster commented on #12469
Issue is no longer in their Sentry. Closing.

[2018-01-06 01:02] #12469 closed

[2018-01-06 01:47] xster commented on #12256
I ran into this too after leaving a project with stale pods for a long time.

For the record, running `pod update` in the ios directory of the project fixes it.

[2018-01-06 05:18] xster opened #13950 "Touch events before first frame causes errors"
[code]

is thrown if the screen is touched before the engine calls beginFrame the first time. The screen's widgets are already built at that point but the entire render tree is still in NEEDS-LAYOUT NEEDS-PAINT state.

The error isn't particularly useful. At best, the user touched the splash screen from his/her perspective and didn't really express intent to touch the widget that threw the error.

[2018-01-06 05:20] Hixie commented on #13950
o_O

How can they be built but not laid out? They get build and laid out in the same synchronous callback. I don't understand how this error can occur if you're using the widgets library (as opposed to if you're using the rendering library directly, in which case it's easy to accidentally do this).

[2018-01-06 06:21] aam opened #13953 "url_launcher 2.0.0 breaks flutter build"
url_launcher 1.0.3 is followed by url_launcher 2.0.0, which is not compatible with flutter build at this point:

[code]

[2018-01-06 06:34] deepak-gehlot commented on #10783
When i run flutter clean command, i face this issue.

Deleting 'build\'.
FileSystemException: Deletion failed, path = 'build' (OS Error: The system cannot find the path specified.
, errno = 3)

[2018-01-06 06:51] Hixie commented on #12676
NestedScrollView actually has multiple scroll views, each firing their own scroll notifications and so forth. I wonder if maybe what's going on is you're getting notifications until the outer one is done scrolling, but not getting the notifications from the inner one. Not sure why that would happen, maybe we're swallowing them somewhere?

[2018-01-06 06:59] Hixie commented on #6549
Possible workaround in https://github.com/flutter/flutter/pull/13955

[2018-01-06 07:07] Hixie commented on #5313
seems to work fine to me.

[2018-01-06 07:07] #5313 closed

[2018-01-06 07:09] Hixie commented on #4882
We now say:
[code]
...with no stack. It's not ideal, but there's other bugs covering making this prettier. The crash itself is gone.

[2018-01-06 07:09] #4882 closed

[2018-01-06 07:24] aam opened #13956 "Upgrading dependency on device_info to 0.1.0 breaks flutter build"
[code]

[2018-01-06 07:24] Hixie opened #13957 "Toggling semantics debugger leads to crash"
Steps to reproduce:
1. Launch Stocks
2. Open drawer
3. Tap Settings
4. Tap "Show semantics overlay" three times (on, off, on)

[code]

cc @goderbauer

[2018-01-06 07:24] Hixie commented on #2307
Cannot reproduce.

[2018-01-06 07:24] #2307 closed

[2018-01-06 07:26] aam opened #13958 "Upgrading dependency on connectivity to 0.2.0 breaks flutter build"
[code]

[2018-01-06 07:26] Hixie commented on #2365
This code has changed in a way that makes this moot.

[2018-01-06 07:26] #2365 closed

[2018-01-06 07:29] Hixie commented on #2263
Now that we have CustomMultiChildLayout and so forth, I don't really know how to do this in a way that wouldn't have way too many false positives.

[2018-01-06 07:29] #2263 closed

[2018-01-06 08:03] Hixie commented on #3299
Doing this would probably mean giving Ticker some more fields to track pause/resume state, when the pause happened, how long has been cumulatively spent paused, etc.

[2018-01-06 08:33] aam opened #13960 "Travis build failure during npm installation"
[code]

[2018-01-06 11:23] Arno-Z commented on #13883
Hi,

Can confirm it is still an issue with 2.1. Only on Android.

On signout the widget showing the document list is replaced with the login widget. (Thus the document collecting should no longer exist?)

Shortly after the login widget is shown the app will crash. Android will suggest a restart. The restart is Ok, because the DocumentCollection is not yet loaded.

So in essence i have 3 questions:

[2018-01-06 13:33] passsy commented on #13958
First downgrade and then upgrade gradle to at least `4.2` which knows the `google()` method.

[code]

Then upgrade `connectivity` again

[2018-01-06 13:40] passsy commented on #13948
When you use hot reload during development those changes are not persistent. When the app gets restarted (press back button and open again) you lose all changes applied with hot reload. The source code running now is the one of the first complete restart.

Reinstall the app and you'll be able to restart the app correctly without this error.

[2018-01-06 13:48] Y0hy0h commented on #11321
I have come across a [StackOverflow answer](https://stackoverflow.com/a/9643981/3287963) stating that `inactive InputConntection`s can occur when the connection wasn't closed using `connection.close()`.

As stated by @anarchyrucks, the errors only show if `controller.clear()` is called. If it is left out, no messages appear, regardless of whether you're using the button or the keyboard to submit.

[2018-01-06 14:20] fredriks opened #13961 "Infinite loop in TextField with some inputFormatters (iOS)"
## Steps to Reproduce

1. Run [examples/flutter_gallery](https://github.com/flutter/flutter/tree/master/examples/flutter_gallery) on iOS (physical device or simulator)
2. Open "Text fields" under "Material Components"
3. Enter one or more numbers into the "Phone Number" field
4. Hit backspace
5. The input field goes into a loop where it repeatedly removes and adds the last character.

![output](ht

[2018-01-06 14:52] fredriks commented on #13961
I did some digging around and since the [formatter in question](https://github.com/flutter/flutter/blob/c669c62ecf138bb4038928a72550bc6ae2c6d79a/examples/flutter_gallery/lib/demo/material/text_form_field_demo.dart#L213-L252) works on Android I'm inclined to think the issue might be with the framework or the engine.

Looking at the messages passed between the framework and the engine just to compar

[2018-01-06 15:33] lokeshj opened #13962 "[Flutter gallery] animation section's background color should be picked from the Theme"
https://github.com/flutter/flutter/blob/c3fab029c242fa6401d9d7939ab685c3c81b6ee9/examples/flutter_gallery/lib/demo/animation/widgets.dart#L160

It should probably be
[code]

The text is unreadable otherwise when `dark` mode is selected in the drawer. Is this a real issue? Can i submit a PR for this if yes?

[2018-01-06 16:08] jakobr-google commented on #13852
Did we get any dumps yet?

Since we're currently running on a 5 month old dev build of the SDK, there's a good chance we're hitting a bug in the VM that's been fixed in the meantime.

[2018-01-06 16:11] juani21 commented on #13948
the problem persist, i try to create another project and the code work....i dont now because...

[2018-01-06 19:35] aam commented on #13958
Thanks @passsy . https://github.com/flutter/flutter/pull/13928 upgraded gradlew to 4.1 which seems to be sufficient.

[2018-01-06 21:42] #13953 closed

[2018-01-06 22:25] mehmetf commented on #13631
Thanks!

[2018-01-06 22:34] mehmetf opened #13964 "Platform code in flutter/engine needs a testing harness"
As discussed (briefly) in https://github.com/flutter/engine/pull/4491 we need a way to write tests for platform specific code in the engine repo. @Hixie probably has a rough idea of how this should be done so I am creating this placeholder issue for it.

[2018-01-06 22:38] #13956 closed

[2018-01-06 22:38] #13958 closed

[2018-01-07 02:22] yathit commented on #12600
[code]

same problem

[code]

[2018-01-07 04:10] paulcbetts commented on #13880
@kelvinwatson Can you reopen this bug? Expecting every user to find this bug and add the special sauce to their build.gradle seems like a Poor Experience, the framework should Just Handle This™

[2018-01-07 06:01] a-siva commented on #13852
No we haven't gotten any dumps yet, there was some settings issue in the bots which Chris fixed on Friday, hopefully we should have dumps soon.

[2018-01-07 15:15] IljaDaderko opened #13965 "Possible over-complication in Navigator docs"
I was trying to get custom route animation going following navigator docs: https://docs.flutter.io/flutter/widgets/Navigator-class.html

They use `transitionBuilder`, but to my understanding

[code]

Can produce needed animation values as well? At least I was able to wrap pageBuilder's child in animation widgets and use those values to perform same animation and it seems much cleaner. This raised

[2018-01-07 15:58] andretietz opened #13966 "How to setup Intellij/AS IDE in order to contribute"
Hey there,

I would like to contribute some Android implementations, especially for the google sign in. I managed to run the example of it in my IDE (AS 3.0.1 & Intellij Community 2017.3.2) but I didn't manage to make the IDE resolve the dependencies in the actual plugin (both IDE's).

In order to make otherones & me contribute to the plugins, this should be easy or at least documented in detail o

[2018-01-07 17:50] jerryzhenleicai commented on #11177
Yeah this will push devs to iOS camp.

[2018-01-07 18:03] thosakwe opened #13967 "GoogleServices-Info.plist file not copied, prevents successful build"
## Steps to Reproduce
Not sure why, but it seems like Flutter does not include the `GoogleServices-Info.plist` file from `ios/Runner` when building a Firebase-enabled application. This prevents the app from ever building, which led to an unhappy client for me 😃

## Logs
The log is MASSIVE and very difficult to understand; I couldn't even paste it here, because it exceeds 65536 characters.

[code]

[2018-01-07 18:25] mortenboye commented on #13707
Seems there is a workaround:
[https://stackoverflow.com/questions/48054291/cant-build-release-apk-for-flutter](url)

Via #13880

[2018-01-07 18:26] mortenboye commented on #13707
Seems there is a workaround:
[https://stackoverflow.com/questions/48054291/cant-build-release-apk-for-flutter](https://stackoverflow.com/questions/48054291/cant-build-release-apk-for-flutter)

Via #13880

[2018-01-07 19:14] Hixie commented on #13746
Fixed in https://github.com/flutter/flutter/pull/13954

[2018-01-07 19:17] stoichoandreev opened #13968 "Flutter doesn't update the code changes on Android device"
Hi Flutter team. First of all well done for the good work with Flutter 👍 .

I am working on new application and I decided to build it with Flutter. Everything was good until one day I saw that when I change something inside the code, on Android device the change doesn't apply at all. On iOS device (simulator) everything works perfect, but on Android doesn't work at all. At the beginning when I sta

[2018-01-07 19:19] Hixie commented on #13964
I don't know if Java makes this more complicated than other languages, but for Dart, all we do is just have some dart files that we run from `run_tests.sh`, and for C++, all we do is have some targets that get built that we then run from `run_tests.sh`.

[2018-01-07 19:19] Hixie commented on #13631
I'm going to re-open this bug to make sure the documentation explains this, including screenshots.

[2018-01-07 19:21] Hixie commented on #13961
cc @cbracken

[2018-01-07 22:08] Gogetter commented on #13968
Hi @stoichoandreev, I noticed this recently. And re-building project via `Build > Rebuild Project` on intelliJ fixes code change (for example repositioning of widget) issue for android devices.
Not exactly sure if its an issue with the flutter intelliJ plugin though(?). Hope this sorts this for you.

[2018-01-07 22:22] lschmierer commented on #13818
Same issue was reported here https://github.com/flutter/flutter/issues/13600

[2018-01-07 22:23] lschmierer commented on #13600
This issue should probably closed
Much more information over at https://github.com/flutter/flutter/issues/13818

[2018-01-07 22:23] mravn-google commented on #13968
@stoichoandreev This could be because your Flutter project is still using Gradle 3.x, but you have included the newest version of the SharedPreferences plugin, which requires Gradle 4.x.

In that case you should see a Gradle-related build error on Android, if you execute `flutter run` in a terminal. The error should include something like the following:
[code]
If this happens, your Android project

[2018-01-07 22:24] Gogetter opened #13971 "[firebase_database v0.3.1]: MissingPluginException(No implementation found for method Query#observe on channel plugins.flutter.io/firebase_database)"
## Steps to Reproduce

[code]

Running below code
[code]

produces below error logs

## Logs

[code]

## `flutter analyze`
[code]

## Flutter Doctor
[code]

Please I will appreciate your ind assistance. thanks

[2018-01-07 22:34] mravn-google commented on #13600
Closed as duplicate of #13818

[2018-01-07 22:34] #13600 closed

[2018-01-07 23:42] melkir opened #13972 "Flutter run doesn't work if the letter 'é' is presents in its path"
## Steps to Reproduce

flutter create hello_world
cd hello_world
flutter run

## Logs

[code]

## Flutter Doctor

[code]

I noticed that the error disappear if I move the flutter sdk folder inside my home directory. It seems that the build process doesn't like "é" characters.

`> Could not read script '/home/melkir/TÃ©lÃ©chargements/flutter/packages/flutter_tools/gradle/flutter.gradle' as it does

[2018-01-08 00:56] vskr opened #13973 "Error installing google_sign_in"
## Steps to Reproduce

## Logs

Run your application with `flutter run` and attach all the log output.

[code]
* Where:
[code]

* What went wrong:
[code]

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

I modified build.gradle to include jitpack.io as one of the maven urls

[code]

Strange thing is I see this error and it fails

[2018-01-08 05:11] Hixie commented on #7166
I was running the linter over some code recently and ran into this lint.

I'm not convinced this is actually a good idea. Won't these methods risk entirely locking up the app when run on networked file systems or file systems with bad disks?

[2018-01-08 05:30] Hixie commented on #13972
cc @mravn-google @tvolkert

[2018-01-08 05:30] Hixie commented on #13971
cc @collinjackson @kroikie

[2018-01-08 05:45] okaybroda commented on #13971
Try reinstalling all the packages that worked for me.

[code]

If that doesn't work, delete build folder and try installing packages again.

[2018-01-08 05:46] Hixie commented on #10236
I just hit this trying to run the Flutter apps in the assets-for-api-docs repo, presumably because those are way out of date. We really need to have a way to upgrade people...

[2018-01-08 05:47] Hixie commented on #10236
(Deleting the android/ directory and recreating it with `flutter create` fixed it.)

[2018-01-08 06:04] tekdroid commented on #12554
I'm personally trying to do this with a PopupMenuButton on each ListItem inside a ListView inside a FutureBuilder. I've found a way around this that works pretty well.

Firstly, we know FutureBuilder is causing the problem, and I can even see in the emulator it's redrawing a LOT.

I pulled out FutureBuilder, instead returning a function call for the body of my Scaffold:
`body: _getCurrentBody()`

[2018-01-08 07:28] Gogetter commented on #13971
Thanks @okaybroda. That sorted it.

[2018-01-08 07:29] Gogetter commented on #13971
Closing as sorted out by @okaybroda suggestion.
[code]

[2018-01-08 07:29] #13971 closed

[2018-01-08 08:17] zoechi commented on #12554
@thosakwe I assume the build cycle is sync, this is why you must not initiate async calls in `build`, therefore a future can't complete during the build cycle.

[2018-01-08 09:13] sigurdm commented on #12849
The engine fix has finally landed!
I hope to publish a first 0.0.1 version of the camera plugin soonish

[2018-01-08 09:46] MichaelSowah commented on #12849
great, I can't wait

[2018-01-08 10:06] mit-mit commented on #10783
@deepak-gehlot, can you open a new bug please for that issue? And please include the output of `flutter doctor` in the bug.

[2018-01-08 10:29] mit-mit commented on #13973
cc @mravn-google

[2018-01-08 11:42] mit-mit opened #13975 "Filter away NDK warning"
Whenever gradle fails for any reason, the logs are "polluted" by this additional warning:

[code]

We don't actually depend on NDK, so would be good if this wasn't always printed.

[2018-01-08 11:45] mit-mit commented on #13712
@aam are you the right assignee of this?

[2018-01-08 11:46] mit-mit commented on #13584
cc @mravn-google I think this is the issue we discussed earlier today?

[2018-01-08 11:47] mravn-google commented on #13973
@vskr The reason removing the `google_sign_in` dependency seems to have no effect is that Flutter tooling is evaluating the Gradle setup prior to rewriting the `.flutter-plugins` file. That file currently mentions the plugin; the Gradle evaluation fails; and then we never get to rewrite it. This bug has been fixed in https://github.com/flutter/flutter/pull/13827 which is not yet part of the Flutte

[2018-01-08 11:55] fredriks commented on #13961
Whops! This appears to be a duplicate of  #12782 and #12347. Feel free to close 😄

[2018-01-08 11:58] mit-mit commented on #13559
Assigning to self for tracking from a Flutter POV. Pub issue for @nex3 is https://github.com/dart-lang/pub/issues/1775.

[2018-01-08 12:25] mit-mit commented on #4704
cc @cbracken was this fixed?

[2018-01-08 12:35] mit-mit commented on #13069
@xster what is the consequence if the spec repo being too old? How and where do we fail?

[2018-01-08 12:36] mit-mit commented on #13065
@cbracken can you elaborate?

[2018-01-08 12:46] mit-mit commented on #12767
I think our "definition" of "failing" is a bit more subtle. For example, I might fail the iOS checks but not care about it if currently focused on Android, and thus the difference between when you see very little output and a lot of output becomes fuzzy.

I think it would be better if `flutter doctor` reported just a single line for each category, for example:

[code]

And:

[code]

`flutter docto

[2018-01-08 12:46] mit-mit commented on #12767
Tagging first-hour and milestone 3 as this impacts new users the most.

[2018-01-08 12:52] mit-mit commented on #13972
Potentially related to https://github.com/flutter/flutter/issues/12698 ?

[2018-01-08 12:52] mit-mit commented on #12698
Tagging first-hour and m3 as this is a likely internationalisation problem.

[2018-01-08 12:58] mit-mit commented on #12628
@sethladd can we close this in favor of the more general https://github.com/flutter/flutter/issues/12767?

[2018-01-08 13:52] mit-mit commented on #11866
cc @mravn-google

[2018-01-08 13:54] mit-mit commented on #11673
Closing as not actionable.

[2018-01-08 13:54] #11673 closed

[2018-01-08 13:54] mit-mit commented on #11348
@devoncarew can you elaborate on what the effect of this is, and how to repro it?

[2018-01-08 14:03] mit-mit commented on #11232
I can't repro this. I tried uninstalling Play Services in the SDK Manager, creating a new project, and adding a dep. on `firebase_analytics`. @sethladd @mkhennoussi are you still seeing this?

[2018-01-08 14:05] mit-mit commented on #11230
NDK is not required (https://github.com/flutter/flutter/issues/13975 tracks removing the status print stating that it is).

[2018-01-08 14:05] #11230 closed

[2018-01-08 14:18] mit-mit commented on #10874
@bwilkerson, you are working on this, right?

[2018-01-08 14:44] arlucio opened #13976 "New Flutter projects using Gradle 4.1?"
I searched everywhere and just can't understand if the new projects created in flutter (New Flutter Project using Android Studio) should already be using to Gradle 4.1, cause when I create a new project, it is still created using the old version.

From this post [https://github.com/flutter/flutter/wiki/Updating-Flutter-projects-to-Gradle-4.1-and-Android-Studio-Gradle-plugin-3.0.1] seems like it, r

[2018-01-08 14:47] mravn-google commented on #11099
@goderbauer Seems to make no real difference to flutter_gallery at the moment (15.2MB with or without minification, it seems). Can we postpone this?

[2018-01-08 14:55] mravn-google opened #13977 "Flutter tooling should take heed of archivesBaseName"
That property can be set by custom Gradle configuration, and will result in a "Gradle failed to produce an Android package" error.

See https://github.com/flutter/flutter/issues/11866#issuecomment-351951650

[2018-01-08 14:56] thosakwe commented on #12554
@zoechi I'm not sure if there is any workaround, then... For now, I'll probably use something like `Future.delayed` to not run the async code until after the build.

[2018-01-08 15:05] mravn-google commented on #11866
@sethladd This is really an internal tool error that occurs if the Gradle build completes successfully, but places the apk in a different place from what Flutter tooling expects. There is no underlying error message/log to relay, but of course the tool's expectations should be adjusted to match the user's Gradle setup (#13977).

We could improve the error message by listing where we looked, and po

[2018-01-08 15:15] devoncarew commented on #11348
The sdk can get corrupted if you start a flutter upgrade, that upgrade brings in a new dart sdk, and the sdk is already in use elsewhere.

[2018-01-08 15:16] mit-mit commented on #11348
OK, tagging milestone 3, we want to be stable.

[2018-01-08 15:27] aam commented on #13712
Sure this can be assigned to me, @mit-mit

[2018-01-08 15:41] bwilkerson commented on #10874
Yes. The initial support exists now on bleeding edge. There is a hint if the `assets:` list contains any item that does not exist, with the caveat that we ignore paths starting with `packages/`. (There are a few other hints in pubspec files as well.)

There is an issue open (#13875) to change the syntax for package references so that it is no longer ambiguous, and we're waiting on that change befo

[2018-01-08 15:47] aam commented on #12497
This was addressed with introduction of `hotReload*AfterChange` benchmarks.

[2018-01-08 15:47] #12497 closed

[2018-01-08 15:49] mit-mit commented on #10874
Great news! Assigning to self for tracking.

[2018-01-08 16:36] cbracken commented on #4704
Yes. Thanks for spotting.

[2018-01-08 16:36] #4704 closed

[2018-01-08 16:42] cbracken commented on #13961
Thanks for reporting, and for your analysis! Closing as dupe of the above. Please feel free to thumbs-up those issues (which we use to help prioritise issues)

[2018-01-08 16:42] #13961 closed

[2018-01-08 16:54] cbracken commented on #13065
Thanks for filing this issue!

Our currently supported iOS releasing process is described in [Releasing for iOS](https://flutter.io/ios-release/) and as noted, makes use of the Xcode UI. We don’t yet support a pure command-line mechanism for releasing to the App Store, and it’s not something we currently have prioritised but I’d certainly be more than happy to review pull requests.

[2018-01-08 17:52] goderbauer commented on #11099
Switching this on would enable us in the future to use the Android Support Libraries for a11y stuff without blowing up the binary size. Those libraries can come in handy and on multiple occasions the Android a11y team has recommended to switch to those as many bugs found in the raw framework implementation of a11y functionality are fixed there.

Having said that, I don't see us switching the a11y

[2018-01-08 17:53] goderbauer commented on #12698
Has anybody tried this recently? I believe @cbracken and @bkonyi fixed some issues with spaces for Flutter recently.

[2018-01-08 18:01] cbracken commented on #12698
I resolved issues in `flutter_tools` involving spaces in the Flutter SDK path and in the project path. What @bkonyi looked at were spaces in package paths (in the VM's loader). AFAIK neither of us has looked at spaces in the Android SDK (or Xcode, for that matter) paths.

[2018-01-08 18:17] mravn-google commented on #11099
Don't we already include that?

https://github.com/flutter/engine/blob/master/shell/platform/android/BUILD.gn#L127

[2018-01-08 18:26] pulyaevskiy commented on #13895
Thanks, that's what I was missing!

My project was created a few months ago so maybe it wasn't part of the project template at that point.

[2018-01-08 18:26] #13895 closed

[2018-01-08 18:28] goderbauer commented on #11099
I think we currently do not compile it into out binary and instead require our users to link against it if they need it (@tvolkert, who I think told me that a while ago).

[2018-01-08 18:32] tvolkert commented on #11099
Correct.  We compile against it but don't bundle it, so users need to make sure it's in their classpath if they intend to use the relevant classes.

[2018-01-08 19:05] xster commented on #13069
It'll crash saying something like
Want plugin X > 1.2.3 but 1.2.3 doesn't exist
or some such

[2018-01-08 19:09] xster commented on #13909
cc @mravn-google

[2018-01-08 19:10] mit-mit commented on #13069
Oh, that certainly not good. Tagging first-hour and m3.

[2018-01-08 19:19] willlarche commented on #9602
It's documented in the first video there. The animated refresh control that is spinning is on its own plane. The list scrolls behind it.

![screen shot 2018-01-08 at 2 18 32 pm](https://user-images.githubusercontent.com/1271525/34688074-e2eb451c-f47e-11e7-98bf-0416b0f3c3a7.png)

[2018-01-08 19:27] willlarche commented on #9602
It should be said the exception would be an iOS style pull to refresh where the spinner is on the _same_ plane as the content. It would scroll off if the content scrolled off.

[2018-01-08 19:30] xster commented on #13950
Not sure I understand it completely either :S. Though it happens on a blank flutter create project as well on android and ios. Doing more tests now.

[2018-01-08 19:32] willlarche commented on #13938
Just some opinions as someone new to the platform.

I had thought this was unusual from an MVC / MVVM point of view. I'm used to something like:

Widget = View
State = View Model

The view would consume the view model and make changes based on its values. The view model wouldn't control any part of the view.

Instead it's:

Widget = View
State = Controller

The view is changed / controlled by the

[2018-01-08 19:52] tvolkert commented on #13972
@mravn-google looks like it's Gradle that's complaining.

[2018-01-08 20:10] tvolkert commented on #7166
They'll lock up the app to the extent that the syscalls hang (whereas with async, we could add a timeout).  So bottom-line: yes.

That said, for local disk access, what spawned this issue is that @johnmccutchan and I were seeing real slowdowns in the Flutter tool due to the use of these async ops (in loops, for instance) -- where converting to sync calls saved a few hundred milliseconds.

[2018-01-08 20:25] Hixie commented on #7166
A difficult trade-off. We definitely have users on NFS, but we also have many users on local disks...

[2018-01-08 20:27] Hixie commented on #13938
Flutter's widgets layer isn't really MVC. It's more reactive-based.

[2018-01-08 20:28] Hixie commented on #13938
I recommend watching the video linked to above, though, for a more thorough treatment of this question.

[2018-01-08 20:29] sethladd commented on #13456
Also, there's HttpOverrides.global (which I think is new since this was filed)

https://github.com/dart-lang/sdk/blob/master/sdk/lib/_http/overrides.dart#L44

[2018-01-08 20:31] sethladd commented on #13602
For anyone following this trail, there is a new convenience method for globally overriding HttpClient: https://github.com/dart-lang/sdk/blob/master/sdk/lib/_http/overrides.dart#L44

(specifically: HttpOverrides.global)

[2018-01-08 20:32] sethladd commented on #13792
HttpOverrides.global have landed: https://github.com/dart-lang/sdk/blob/master/sdk/lib/_http/overrides.dart#L44

This would make it easier to override. Hope this helps!

(cc @zanderso )

[2018-01-08 20:37] jason-simmons commented on #13972
This happens if the Flutter SDK path written to the app's android/local.properties file contains a non-ASCII character.

`flutter create` will write the properties file using UTF-8 encoding. But the Gradle script is loading the properties with `java.util.Properties.load(InputStream)`, which assumes Latin1.

[2018-01-08 20:43] tvolkert commented on #13972
https://docs.oracle.com/javase/8/docs/api/java/util/Properties.html#load-java.io.InputStream-

Should we take care to write non-Latin1 characters using Unicode escape sequences?

[2018-01-08 20:44] pq opened #13980 "Detect or document `cocoapods` broken w/ High Sierra update"
The update to High Sierra leaves `brew`-installed `cocoapods` in a broken state.

[code]

The correct recourse is:

    brew uninstall cocoapods; brew install cocoapods

FWIW the issue seems to be stale pod symlink and is likely something we could detect and report via `flutter doctor`.  Chatting w/ @cbracken he proposed:

Alternatively, we might just document the issue (if we haven't already 😉 ).

[2018-01-08 20:45] jason-simmons commented on #13972
I'll patch the Gradle scripts to read the properties as UTF-8

[2018-01-08 20:49] mravn-google commented on #13972
[code]
?

[2018-01-08 21:36] willlarche commented on #13938
That totally makes sense. This is definitely not the same. But as someone coming from iOS, MVC and its descendants are my best frame of reference.

[2018-01-08 21:45] jcollins-g commented on #13843
I think we can declare at least a partial victory: stats for the test screen are way down today and Friday from typical.

However, there may still be more to do.  The user explorer suggests there are individual users that are exhibiting very bot-like behavior (for example, doing nothing but flutter upgrade and precache over and over every day since the beginning of analytics), and #13915 hasn't se

[2018-01-08 22:07] stoichoandreev commented on #13968
@Gogetter , @mravn-google thank you for your answers.
@mravn-google was absolutely right! In the moment when I updated my build gradle tool version from 3.0.1 to 4.0.1, the project start working again on Android. The issue was that **google()** can't be found on Gradle 3.0.1 and I remember that I added **google()** manually in the project, but I forgot to update the Gradle version. As I know if yo

[2018-01-08 22:58] Hixie commented on #13937
cc @mravn-google for triage

[2018-01-09 00:20] jason-simmons commented on #13862
fwiw, I tried simulating this on an Ubuntu box using the "faketime" utility but wasn't able to reproduce the bug.  Hot reload worked as expected after the clock passed midnight.

[2018-01-09 00:25] goderbauer commented on #13957
@Hixie I am unable to reproduce this on master on my Nexus 6P. Does this consistently reproduce for you? Do you have any additional information about your environment that might be relevant?

[2018-01-09 00:26] Sfshaza opened #13985 "Problems running app on physical device (first time) from Android Studio"
## Problem:

I'm using Android Studio and, for the first time, have connected a physical device&mdash;I generally use the Simulator. I'm trying to run the most basic sample app on the phone, and I'm getting this error from Studio:

[code]

However, when I run the command (```flutter doctor --android-licenses```), I'm getting:

[code]

## Solution:

* First, I didn't have the Android SDK in my path

[2018-01-09 00:28] goderbauer commented on #13957
Ah, never mind. I had TalkBack running in the background (with feedback paused). When I turn off talkback completely in the settings the issue reproduces as described. Will take a look.

[2018-01-09 00:42] goderbauer commented on #13966
You should be able to open the google_sign_in plugin in Android Studio as documented here: https://flutter.io/developing-packages/#step-2b-add-android-platform-code-javakt. Just replace "hello" with the path to the google_sign_in code.

Does that work for you?

[2018-01-09 01:16] jason-simmons commented on #13950
This can happen in the window between when SchedulerBinding.scheduleWarmUpFrame is called and when the tasks queued by scheduleWarmUpFrame execute.

At this point the PipelineOwner has a root node and the render object tree has been constructed under that root node, but the render objects do not yet know their sizes.  If pending pointer event handlers execute before the warm up frame is built, the

[2018-01-09 01:18] goderbauer commented on #13985
Adding the Android SDK to the path shouldn't be necessary. You can just execute the sdkmanager by specifying the full path to it: `~/Library/Android/sdk/tools/bin/sdkmanager --update`.

[2018-01-09 03:21] vskr commented on #13973
Sure here are the files you mentioned

android/settings.gradle
include ':app'

def flutterProjectRoot = rootProject.projectDir.parentFile.toPath()

def plugins = new Properties()
def pluginsFile = new File(flutterProjectRoot.toFile(), '.flutter-plugins')
if (pluginsFile.exists()) {
    pluginsFile.withInputStream { stream -> plugins.load(stream) }
}

plugins.each { name, path ->
    def pluginDire

[2018-01-09 03:46] vskr commented on #13973
Seeing same error as before, when I include google_sign_in in pubspec.yaml

Here is the error:

FAILURE: Build failed with an exception.

* Where:
Build file '/Users/saivadlamani/.pub-cache/hosted/pub.dartlang.org/google_sign_in-2.0.0/android/build.gradle' line: 6

* What went wrong:
A problem occurred evaluating project ':google_sign_in'.

* Try:
Run with --stacktrace option to get the stack trac

[2018-01-09 04:49] wengang commented on #13747
Running CMD as an administrator can also reproduce the problem
flutter doctor                                                                                             [√] Flutter (on Microsoft Windows [Version 10.0.16299.192], locale zh-CN, channel alpha)                                   • Flutter at D:\flutter

[2018-01-09 05:35] mravn-google commented on #13968
Closed per above comment.

[2018-01-09 05:35] #13968 closed

[2018-01-09 05:41] Hixie opened #13989 "Travis issues"
I keep getting failures like this:

[code]

[2018-01-09 05:42] Hixie commented on #13989
[code]

[2018-01-09 06:03] #5759 closed

[2018-01-09 06:11] Hixie commented on #13989
Other examples:
https://api.travis-ci.org/v3/job/326679819/log.txt
https://api.travis-ci.org/v3/job/326679852/log.txt
https://api.travis-ci.org/v3/job/326679850/log.txt

[2018-01-09 06:11] Hixie commented on #13989
cc @sethladd @yjbanov who are our Travis contacts?

[2018-01-09 06:32] Hixie commented on #13989
Happened 2 more times just now.

[2018-01-09 07:19] mravn-google commented on #13973
The error seems different now from what was originally reported.

You'd get the `google()` error by depending on a Gradle 4.x based plugin from a Gradle 3.x based Flutter project.

You should either downgrade your dependency on `google_sigin_in` to version 1.0.3, or upgrade your Flutter project to Gradle 4.1 as described [here](https://github.com/flutter/flutter/wiki/Updating-Flutter-projects-to-G

[2018-01-09 07:37] kendeng9898 commented on #12301
Why close this, I got the same error. Any solution?

[2018-01-09 07:39] kendeng9898 commented on #12702
My Ubuntu 16.04 still got this error. Any Idea?

[2018-01-09 07:51] Hixie commented on #12301
If you're in China, please try https://github.com/flutter/flutter/wiki/Using-Flutter-in-China and let us know if that doesn't work.

[2018-01-09 07:53] Hixie commented on #13349
These are all probably dupes of each other: https://github.com/flutter/flutter/issues/12301 https://github.com/flutter/flutter/issues/12702 https://github.com/flutter/flutter/issues/13222 https://github.com/flutter/flutter/issues/13349

[2018-01-09 07:53] Hixie commented on #12702
These are all probably dupes of each other: https://github.com/flutter/flutter/issues/12301 https://github.com/flutter/flutter/issues/12702 https://github.com/flutter/flutter/issues/13222 https://github.com/flutter/flutter/issues/13349

[2018-01-09 07:53] Hixie commented on #13222
These are all probably dupes of each other: https://github.com/flutter/flutter/issues/12301 https://github.com/flutter/flutter/issues/12702 https://github.com/flutter/flutter/issues/13222 https://github.com/flutter/flutter/issues/13349

[2018-01-09 07:53] Hixie commented on #12301
These are all probably dupes of each other: https://github.com/flutter/flutter/issues/12301 https://github.com/flutter/flutter/issues/12702 https://github.com/flutter/flutter/issues/13222 https://github.com/flutter/flutter/issues/13349

[2018-01-09 08:18] kendeng9898 commented on #13349
Check http_proxy or system wide proxy have setting. remove the proxy setting. My Ubuntu 16.04, got this error.

[2018-01-09 08:51] sanketsahusoft commented on #73
@wmleler Please let me know if we have updates on this. We would love to start using Flutter but this is sort of a roadblock for us at the moment.

We are looking to build a location based service like Uber!

[2018-01-09 09:04] mravn-google commented on #13976
Sorry about the confusion. The Flutter alpha branch has not yet been rolled past #13492 and so still uses Gradle 3.3. Rolling alpha is currently blocked on some regressions:

https://github.com/flutter/flutter/issues/13731
https://github.com/flutter/flutter/issues/13742

The Flutter master branch uses Gradle 4.1.

I suggest you either:
* Stay on alpha, using Gradle 3.3. Make sure you only depend o

[2018-01-09 09:11] mravn-google commented on #13844
Fixed now, closing.

[2018-01-09 09:11] #13844 closed

[2018-01-09 09:46] andretietz commented on #13966
Yesterday I tried to import the example directly. With this I could open and edit the projects but not run them.

I just tried to use the documented way you provided, there it says to build the project before opening.

This is the commandline output

[code]

[2018-01-09 09:53] andretietz opened #13991 "[google_sign_in] Remove guava dependency"
This is no bugreport, more a question.

I started editing the google sign in plugin for android and figured out several problem, I would like to fix.

In order to do so, I would like to know what the getToken method is used for. According to the rest of the implementation, you can get the token out of the GoogleSignInAccount after a successful login. IMHO this method is not necessary, but I guess

[2018-01-09 10:36] matteing commented on #73
Same situation. Would definitely love updates on this.

On Jan 9, 2018 4:51 AM, Sanket Sahu <notifications@github.com> wrote:

@wmleler<https://github.com/wmleler> Please let me know if we have updates on this. We would love to start using Flutter but this is sort of a roadblock for us at the moment.

We are looking to build a location based service like Uber!

—
You are receiving this because you

[2018-01-09 10:53] long1eu opened #13992 "FCM Android Notification tap doesn't open the app"
I'm sending a notification to topic from a Firebase Function to Android, Web, iOS like this:
[code]
But on Android when I tap the notification the app doesn't open. I've added the intent filter in the manifest, but still. Any ideas?

[2018-01-09 14:31] mit-mit commented on #12702
@yan-xz, @kendeng9898 either of you in China? If so, can you try this and let us know if that works?
https://github.com/flutter/flutter/wiki/Using-Flutter-in-China

[2018-01-09 14:53] sigurdm commented on #12849
... and we're online: https://pub.dartlang.org/packages/camera

[2018-01-09 15:20] mravn-google commented on #12849
Woot!

[2018-01-09 15:41] devoncarew opened #13993 "AnsiTerminal not populated correctly in the flutter_tools context for daemon runs"
_From @zzzev on January 4, 2018 23:51_

Since updating to version 20 of the plug-in, when I run any flutter app in IntelliJ, it launches successfully, but then shows this error in the console (before any output from my app):

[code]

After this error, IntelliJ seems to think the run failed, so even though the app is running fine in the emulator, I cannot see any logged information. Based on the pa

[2018-01-09 15:41] devoncarew commented on #13993
_From @zzzev on January 5, 2018 0:1_

After repro-ing this consistently all day in IntelliJ, this appears to have fixed itself. I have no idea what changed, but I'll go ahead and close this for now. Apologies for the (potentially?) false alarm.

[2018-01-09 15:41] devoncarew commented on #13993
_From @zzzev on January 8, 2018 19:11_

This is recurring again, though I'm not sure what changed. Would appreciate any insight into how to track this down and fix it.

[2018-01-09 15:41] devoncarew commented on #13993
As @tvolkert mentioned on an internal thread, it seems likely that `AnsiTerminal` is not being populated in the context for daemon (IDE) runs.

[2018-01-09 15:52] mit-mit commented on #13976
Closing issue, let us know if there is anything else we can do to help @arlucio

[2018-01-09 15:52] #13976 closed

[2018-01-09 17:25] yjbanov commented on #13989
It's support@travis-ci.com

[2018-01-09 17:27] pulyaevskiy commented on #12396
I feel like this could be closed, flutter/plugins#258 addressed this.

[2018-01-09 17:29] goderbauer commented on #13966
I just tried the steps myself on my system and there everything is working as expected.

Was your repository in a clean state when you ran `flutter build apk` in the `example` dir of the project? Sometimes, when you import the project incorrectly in Android Studio it messes up the project.

Also, is flutter set up correctly on your machine? What does `flutter doctor` print out?

[2018-01-09 17:33] hundeva commented on #6691
Any news? I could make use of something like this.

[2018-01-09 17:36] passsy commented on #11339
//cc @HansMuller

[2018-01-09 17:44] MichaelSowah commented on #12849
I just tried it and got these errors Initializing gradle...                                0.9s
Resolving dependencies...                             2.1s
Running 'gradlew assembleDebug'...
Configuration 'debugCompile' in project ':app' is deprecated. Use 'debugImplementation' instead.
Configuration 'profileCompile' in project ':app' is deprecated. Use 'profileImplementation' instead.
Configuratio

[2018-01-09 17:47] MichaelSowah commented on #12849
am on alpha

[2018-01-09 18:04] MichaelSowah commented on #12849
camera preview does not show, I just run the example in the plugin

[2018-01-09 18:08] Hixie commented on #13989
Looks like this is a known issue: https://www.traviscistatus.com/incidents/lrc4yp46t8wb

[2018-01-09 18:17] franzsilva commented on #12849
Maybe Switching to master might work. because probably its a new feature on the engine that allows this. Im going to test it on a new flutter project using Flutter on master branch

[2018-01-09 18:39] franzsilva commented on #12849
Ok tested it out, Just wanted to add a couple of comments.

Tested on Master, Works Beautiful. The only problem is that with a newly created project the android/app/build.gradle. the minSdkVersion is placed as 16. and the plugin is configured to have a minimum version of 21, so when i changed it to 21 it worked like a charm. Not sure if its meant to be minimum 21.

[2018-01-09 19:03] mravn-google commented on #12849
Our project templates have minSdkVersion 16, because that is what Flutter itself requires. Any plugin you use may declare a larger number than that, and your app must declare have at least the max of those numbers.

[2018-01-09 19:10] MichaelSowah commented on #12849
true works beautifully...now my can come into production. I am also interested in this https://github.com/flutter/flutter/issues/13846 and possibly build one but would love to do it with some one

[2018-01-09 19:13] MichaelSowah commented on #12849
Configuration 'androidTestCompile' in project ':app' is deprecated. Use 'androidTestImplementation' instead. that I keep seeing anytime I run the app

[2018-01-09 19:18] mravn-google commented on #12849
Does your android/app/build.gradle use androidTestCompile? If so, just replace with androidTestImplementation. The deprecation comes with the 3.x version of the Android Studio Gradle plugin compared to 2.x.

[2018-01-09 19:23] jcollins-g commented on #13693
Strangely, it looks like Windows bots work on the flutter-dashboard but Linux bots don't.  Will retry the fix once I learn how to launch flutter the same way cocoon does and fix the issue there.

[2018-01-09 19:26] mit-mit commented on #13360
No  updates, sorry. For now, please use `flutter packages pub run <dart file>`

[2018-01-09 20:20] alibitek commented on #13989
And as a contributor one cannot restart his own build jobs :( https://github.com/travis-ci/beta-features/issues/27#issuecomment-354875839

[2018-01-09 20:30] wmleler commented on #73
Just so you aren't left hanging, we are aware that this is very important and we are working on it.

[2018-01-09 21:16] Hixie commented on #10658
I have a solution, just need to write tests and docs.

[2018-01-09 21:17] alibitek commented on #10404
Besides adding some UX improvements as mentioned in https://github.com/flutter/plugins/pull/329#issuecomment-355340771 by:
- trying to autocomplete the user's phone number using the Smart Lock API
- auto validating the verification code via SMS Retriever API
the Android implementation is ready for review.

I can't help with the iOS implementation so it would be really awesome if someone can contri

[2018-01-09 21:17] mravn-google commented on #12849
Done. Closing.

[2018-01-09 21:17] #12849 closed

[2018-01-09 21:32] #11991 closed

[2018-01-09 21:32] #12589 closed

[2018-01-09 21:32] #13943 closed

[2018-01-09 22:05] #13950 closed

[2018-01-09 22:31] mravn-google commented on #10437
No new API needed.

[2018-01-09 22:32] mravn-google commented on #10927
Being done in external document.

[2018-01-09 22:34] mravn-google commented on #10927
Didn't intend to close.

[2018-01-09 22:49] aam opened #13998 "--preview-dart-2 doesn't enable Frontend/Kernel on iOS"
Currently `--preview-dart-2` doesn't enable CFE/Kernel flow on iOS.

When `--preview-dart-2` flag is specified Flutter app is still loaded from source, rather than from kernel files.

[2018-01-09 22:51] stevenroose commented on #8438
I ran into this. I don't have Android Studio, but IntelliJ IDEA and the Android SDK separately.

When running one of the above suggested commands, I get:
[code]

[2018-01-09 23:02] gedw99 opened #14001 "Printing"
I need to print a document from within flutter.

I can see two approaches:
1. Screen capture at a resolution higher than the actual screen and embed it inside a PDF.
2. Generate a PDF totally seperate from the screen.

If anyonce can advice aboout each. I can easily generate a PDF with non flutter code on mobiles in the same way i do on desktop using golang.

Next though is sending the PDF to the

[2018-01-10 00:02] Hixie commented on #13731
@jason-simmons What's the status of this bug? Did you follow up with Skia?

[2018-01-10 00:02] ride4sun opened #14003 "Rendering exception in emulator but not on phone when showing simple dialog"
## Steps to Reproduce

I span a SimpleDialog with some shrink wrapped lists . When I start the Dialog on the phone all is fine. In the emulator I get an exception which does not provide info to get to the root cause. (for me ;))
Phone and Emulator:
  • Android SDK built for x86 • emulator-5554    • android-x86 • Android 7.1.1 (API 25) (emulator)
    • Moto G 5 Plus             • ZY224DHFWG       •

[2018-01-10 00:08] Hixie commented on #1464
cc @jcollins-g (FYI; not anything we're concerned about on the short term)

[2018-01-10 00:14] Hixie commented on #3193
Do we really need this? Being able to run `flutter drive` on a single driver test seems pretty sufficient from what I can tell.

[2018-01-10 00:15] Hixie commented on #5586
We have a version of this. There are other bugs open on making it better.

[2018-01-10 00:15] #5586 closed

[2018-01-10 00:15] Hixie commented on #5767
Done! fillType.

[2018-01-10 00:15] #5767 closed

[2018-01-10 00:16] Hixie commented on #5439
We should time out and show a message if `adb` doesn't return promptly.

[2018-01-10 00:17] Hixie commented on #5527
This is not something I've heard anyone complain about recently, is it still an issue?
cc'ing iOS likely suspects: @xster @cbracken @chinmaygarde

[2018-01-10 00:20] Hixie commented on #5578
Is this still an issue? I haven't seen this, and I've definitely run apps with lots of logs (we display them, but I don't see it kill the new run). Please reopen if you can still repo.

[2018-01-10 00:20] #5578 closed

[2018-01-10 00:21] Hixie commented on #5753
All those classes are gone now.

[2018-01-10 00:21] #5753 closed

[2018-01-10 00:21] Hixie commented on #5664
I'm going to close this bug, we'll support this on an as-needed basis.

[2018-01-10 00:21] #5664 closed

[2018-01-10 00:23] Hixie commented on #3274
I'm going to close this. We can revisit if the material team point it out.

[2018-01-10 00:23] #3274 closed

[2018-01-10 00:25] Hixie commented on #3978
I don't really see what we'd have to do in the framework for this. Combining Card with the drag-and-drop widgets should be relatively straight-forward. Closing; please re-open if you have a more specific API in mind.

[2018-01-10 00:25] #3978 closed

[2018-01-10 00:25] xster commented on #5524
If I understood the nature of this correctly (i.e. this is about movement thresholds for initiating scrolls, not distinguishing between moves and taps), then it's fixed in #12181 where we increased the scroll start threshold to match iOS which is higher than Android.

[2018-01-10 00:25] #5524 closed

[2018-01-10 00:25] Hixie commented on #5532
cc @InMatrix

[2018-01-10 00:26] Hixie commented on #5532
If we're going to change this we should do it soon.

[2018-01-10 00:27] Hixie commented on #5885
This might catch Row/Column overflows, but I'm not sure it would really tell you if it's pretty or not.

[2018-01-10 00:29] Hixie commented on #5557
cc @HansMuller this might be related to the weird behaviour we're seeing with TextInput.

[2018-01-10 00:30] Hixie commented on #5428
Going to close this since we don't need a bug to track it. We're doing most of these now.

[2018-01-10 00:30] #5428 closed

[2018-01-10 00:37] Hixie commented on #6937
We should also look at adding compilation testing to Travis PR tests.

[2018-01-10 00:37] HansMuller commented on #5811
Closed due to inactivity.

[2018-01-10 00:37] #5811 closed

[2018-01-10 00:40] Hixie commented on #5449
@xster says this is fixed!

[2018-01-10 00:40] #5449 closed

[2018-01-10 00:42] Hixie commented on #5839
It's not clear what it would mean to not have a GPU. I'm going to close this in favour of https://github.com/flutter/flutter/issues/13336 where we can discuss the long-term policy.

[2018-01-10 00:42] #5839 closed

[2018-01-10 00:43] Hixie commented on #6022
I'm pretty sure we do that now.

[2018-01-10 00:43] #6022 closed

[2018-01-10 00:44] xster commented on #5527
@eseidelGoogle can your expert contact divulge more about what the 'spec' is? Is it just never having offsets that are not whole units of physical pixels?

[2018-01-10 00:44] Hixie commented on #6025
Closing as ancient.

[2018-01-10 00:44] #6025 closed

[2018-01-10 00:44] Hixie commented on #6030
This is not actionable without some code to look at. Please open a new bug if you would like us to take a look.

[2018-01-10 00:44] #6030 closed

[2018-01-10 00:45] xster commented on #5449
Done in #11421

[2018-01-10 00:47] Hixie commented on #6296
The path actually is often helpful (e.g. we've found bugs because the path has spaces, or non-ASCII characters, and without the actual path we'd not have been able to figure it out). I'm going to close this for now.

[2018-01-10 00:47] #6296 closed

[2018-01-10 00:47] Hixie commented on #5581
This is way better than it was back when this bug was filed.

[2018-01-10 00:47] #5581 closed

[2018-01-10 00:47] #7227 closed

[2018-01-10 00:48] Hixie commented on #2883
Now that we have a `controller` field, this should just work.

[2018-01-10 00:48] #2883 closed

[2018-01-10 00:52] Hixie commented on #3325
AnimatedSize tries to do this now. We should probably extend that to the others.

[2018-01-10 00:52] Hixie commented on #2122
This class is gone now.

[2018-01-10 00:52] #2122 closed

[2018-01-10 00:55] eseidelGoogle commented on #5527
Oh geez. This is ancient.  I can demo our Gallery in front of my iOS contacts and file new bugs if needed.

[2018-01-10 00:55] #5527 closed

[2018-01-10 00:55] Hixie commented on #3561
I don't understand what is the expected behaviour here. Can you elaborate?

[2018-01-10 00:57] Hixie commented on #5618
Without more (e.g. code) this is not actionable.

[2018-01-10 00:57] #5618 closed

[2018-01-10 00:59] Hixie commented on #6048
We should switch this to use RadioTile.

[2018-01-10 00:59] Hixie commented on #6241
I've not seen this recently. I'm going to close this but don't hesitate to reopen if it still happens.

[2018-01-10 00:59] #6241 closed

[2018-01-10 03:18] weisong0 opened #14006 "Alignment doesn't work for Wrap widget"
When I set alignment to spaceBetween for a Wrap widget:
[code]

Try to render the widget, the spaces are not distributed equally between the widgets：
![image](https://user-images.githubusercontent.com/1171990/34754310-d7735f1e-f571-11e7-9101-686d0ae3d5c6.png)

[2018-01-10 03:48] FaisalAbid opened #14008 "Error detected in pubspec.yaml: #/properties/flutter: type: wanted [object] got null"
## Steps to Reproduce

When I build my project, I get this error, the project still builds fine and I'm able to develop but the error shows up in the logs.

[code]

This is my pubspec

[code]

## Logs

[code]

## Flutter Doctor

flutter doctor
[✓] Flutter (on Mac OS X 10.13.2 17C88, locale en-US, channel master)
    • Flutter at /Users/faisalabid/Development/flutter
    • Framework revision 378241

[2018-01-10 04:26] #12553 closed

[2018-01-10 06:19] #13746 closed

[2018-01-10 06:19] #6549 closed

[2018-01-10 06:19] Hixie commented on #6549
Please let me know if that didn't fix it.

[2018-01-10 06:35] MichaelSowah commented on #12849
@mravn-google thanks

[2018-01-10 06:50] patrioticcow opened #14010 "Could not resolve all files for configuration ':shared_preferences:classpath'."
I'm fallowing this steps to upgrade Gradle https://github.com/flutter/flutter/wiki/Updating-Flutter-projects-to-Gradle-4.1-and-Android-Studio-Gradle-plugin-3.0.1

I've been using Android Studio to double check that Gradle upgrade had no issues. Everything seems fine there.

My dependence are
[code]

The error I'm getting when I run flutter:
[code]

[2018-01-10 06:53] patrioticcow commented on #14010
Looks like I had to manually remove `shared_preferences-0.2.5` from `C:\Users\my_user\AppData\Roaming\Pub\Cache\hosted\pub.dartlang.org`

[2018-01-10 09:16] andretietz commented on #13966
I deleted the packages folder and hard resetted to master branch to make sure that no messed up files are existant.

[code]

Flutter doctor:

[code]

[2018-01-10 09:28] zoechi commented on #14008
that doesn't look related to your `pubspec.yaml`
Can you provide a GitHub repository that allows to reproduce?

[2018-01-10 09:56] zoechi commented on #14001
Flutter uses Skia.
Perhaps something like https://groups.google.com/forum/#!topic/skia-discuss/z8HocdF14gI is doable

[2018-01-10 10:47] oemera commented on #13065
@cbracken thanks for your response. The error also happens when archiving within the Xcode UI. Please look into my issue: #13070. Based on the reactions I guess there are a couple of others who have this issue and can't release their app with the new version of Xcode.

If you have any questions please let me know.

[2018-01-10 11:24] xnuxer88 commented on #11794
Hi There,

Currently I have the same problem here.

I've already build flutter apk for release, this is from sample new project flutter increment floating button. But it seem to slow. for first load apps, it takes 7 seconds. for processing increment floating button it takes 3 seconds.

-----
Initializing gradle... 1.6s
Resolving dependencies... 4.5s
Running 'gradlew assembleRelease'...
Skipping AO

[2018-01-10 14:06] mit-mit commented on #13818
cc @Hixie, another developer reported this on gitter today

[2018-01-10 14:38] mit-mit opened #14012 "Able to build release app containing errors without being notified"
## Steps to Reproduce

1. `flutter create repro`
2. Edit `lib/main.dart` to contain this code (with Text misspelled Ttttttttext):

[code]
3. `flutter build apk` or `flutter build ios`

Expected result: Be told that app contains errors

Actual result: apk is built and no warnings or errors reported

[code]

[2018-01-10 14:38] mit-mit commented on #14012
cc @a-siva

[2018-01-10 14:50] megatolya commented on #730
@lejard-h
Unfortunately no. We need to have oppurtunity to render web forms in any place on the page. Not only on top of other content or on the separate page. Manually control scroll (to reposition webview) seems too complicated for us.

I understand that this issue is by-design problem but IMHO this feature is quite fundamental to ignore.

[2018-01-10 15:54] sfraize commented on #10218
Just been diagnosing this.   If this is a libmobiledevice problem, it looks like it's being address (or not) over here: https://github.com/libimobiledevice/libimobiledevice/issues/594

Another data-point:

The first line below is what I get out of Console.app on MacOS 10.12.6, and the second line is what I get from idevicesyslog:

default 09:59:01.422838 -0500	Runner	*Unicode-Log_Test: heart: ❤
Ja