[2020-11-01 15:48] feinstein commented on #67497
You could just use `Colors.transparent`.

[2020-11-01 15:52] shi1234ww commented on #68209
@darshankawar Hello !  Here is my native code[git@github.com:shi1234ww/FlutterAdd2IOSApp.git](url) , Now you can clone it from github ,  The information like flutter doctor -v or process , is the same as previously comment between us ,   Please have a look with this problem! Thanks !

[2020-11-01 15:58] iletai commented on #51670
Yes thank you, I try some solution but not resolved. 👯

[2020-11-01 16:02] cmee123 commented on #69493
Ok so I fixed some of the problems so now when I run the flutter doctor command I get this:

![image](https://user-images.githubusercontent.com/73676421/97807943-4ca43980-1c29-11eb-824f-f1c97cdc55ba.png)

[2020-11-01 16:18] moodstubos commented on #69235
is there anything i could do at the moment?
I could do some tests on this device or send log files - something like this.

[2020-11-01 16:20] hamdikahloun commented on #69533
Hi @hesamnn

It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp .

Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comme

[2020-11-01 16:20] #69533 closed

[2020-11-01 16:36] derolf commented on #34724
On top of this, using “of” in event handlers is risky and might cause bugs.

Just consider asynchronous event handlers that wait for something and then use “of”. Meanwhile the BuildContext might be gone. That’s the root cause for the dreaded “unstable widget hierarchy” warnings.

I would hence propose to disallow any usage of “of” outside of well defined BuildContext contexts, i.e. only from build

[2020-11-01 16:51] ransdksajdkasd commented on #61450
I found a solution !

<img width="638" alt="Screenshot 2020-11-01 at PM 5 44 34" src="https://user-images.githubusercontent.com/73791129/97809055-dde7d000-1c6a-11eb-8e2e-3b0cc19cb238.png">

[2020-11-01 17:01] tomasdev commented on #61450
That type of comment will only achieve one result: getting this
conversation locked (it should, by the way.)

On Sun, Nov 1, 2020 at 5:51 PM ransdksajdkasd <notifications@github.com>
wrote:

--
Tomás Roggero
https://tomasroggero.com

[2020-11-01 17:05] bluemix commented on #61450
I am thinking that the next project _should not use_ Flutter, due to the inadequate issues resolving for iOS, and might try, at most, with Kotlin Multiplatform Mobile (KMM).

[2020-11-01 17:25] iapicca commented on #69526
possible duplicate (with solution) of https://github.com/flutter/flutter/issues/54175#issuecomment-610213239

[2020-11-01 17:50] aristrisnawan commented on #61208
thank you,

[2020-11-01 18:03] awhitford commented on #68986
Configuring `behavior` to be `HitTestBehavior.opaque` solved the problem. Thanks!

[2020-11-01 18:08] rebootcode commented on #69502
Where is a workaround in the question, it just tells you how to create "webview" for which we already have a plugin?

**This whole thread is about supporting the "PWA" inside flutter_webview package.**

[2020-11-01 18:33] iapicca commented on #69468
@ibyet05 @renanzdm My apologize
please ignore my previous [comment](https://github.com/flutter/flutter/issues/69468#issuecomment-719989599)
the code posted in that comment actually works as intended, the refresh icon is not visible because the width I set
please run the fixed code below

<details>
<summary>new 'code sample</summary>

[code]

everything works just fine, my bad
I recommend to close

[2020-11-01 18:33] sidrao2006 commented on #69502
@rebootcode , as I've mentioned above, `flutter_webview` does not support web. It throws a PlatformException if you try to run it in the web.
The question I linked to has a _workaround_ to this problem. The problem being that the authors of the package did not add web support to it and you can only run it on other platforms as a flutter app and not a PWA. Since, your aim is building a PWA, you wil

[2020-11-01 18:35] sidrao2006 commented on #69502
Also, since this is neither a bug nor a feature request, please close this issue if you agree with me
Thanks

[2020-11-01 18:38] rebootcode commented on #69502
@sidrao2006 - what do you mean, this is not a feature request?

It is a feature request for "PWA Support" inside flutter_webview plugin

[2020-11-01 18:40] sidrao2006 commented on #69502
@rebootcode please check #45295 which requests to add web support for webview

[2020-11-01 18:42] rebootcode commented on #69502
I literally have no IDEA, why would people want "WebView"for flutter web. This is out of my imagination right now to imagine a `web` application inside WebView. It sounds like someone just need to learn `iframe`, but that is beyond the discussion for this thread.

[2020-11-01 18:43] sidrao2006 commented on #69502
Flutter web completely supports PWAs. Flutter webview is like any other widget which can be used in a flutter app. However it isn't supported on the web (which is addressed in the above mentioned issue)

[2020-11-01 18:45] sidrao2006 commented on #69502
@rebootcode Flutter already supports PWAs.

Also, one of the ways of using webview in web is with iFrame.

[2020-11-01 18:46] rebootcode commented on #69502
No, it is not, I just created a simple WebView flutter app and accessed web page, closed app, closed internet, open app and voila got the error, the page is not available.

[2020-11-01 18:58] rezajalilian commented on #33245
please show example code or Article . Thanks

[2020-11-01 19:01] amitkot commented on #67497
@feinstein instead of `theme.colorScheme.surface`?
If so, I can but the dark overlay over the status bar remains, though.

[2020-11-01 19:05] feinstein commented on #67497
Yes, I just meant you don't have to force a color when you want transparency.

[2020-11-01 19:10] matsp commented on #69254
Maybe this helps. The issue just appeared in my codebase too after upgrading from **1.24-3.0.pre** to **1.24-6.0.pre** (on dev channel).

[2020-11-01 19:14] christopherfujino commented on #66144
This was fixed in https://github.com/flutter/flutter/pull/68043.

[2020-11-01 19:17] feinstein commented on #67497
I am at my phone now, so I going to share with you somethings that I made in my app and I have a similar effect to what you want:

1. I create the App's `ThemeData` with `ThemeData.from` passing a `ColorScheme`. This will setup some defaults.

2. I have a a general theme for all my `AppBar`:

[code]

3. When I changed the language of my device, while testing Localizations, the `AppBar` started to

[2020-11-01 19:24] riuson commented on #68704
One application. Windows Desktop. Latest flutter version. Building with command
[code]
Left - runned from building directory.
Right - runned from another **drive**, not where app was build.

![Screenshot 2020-11-02 002013](https://user-images.githubusercontent.com/415202/97812156-405bc300-1ca1-11eb-8fd9-c639811f0cf0.png)

[2020-11-01 19:40] Sammius commented on #55330
Based on these links, browser support is so low that it's probably best not to do this for the Web at all.

[from the first link](https://web.dev/web-share/#capabilities-and-limitations):

[2020-11-01 19:43] YeungKC commented on #63638
I see, caused by the line change, which is probably why @mdebbar said it was.

[2020-11-01 19:58] CrezyProgrammer opened #69537 "[tool_crash] FileSystemException: Deletion failed, OS Error: The process cannot access the file because it is being used by another process., errno = 32"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Deletion failed, OS Error: The process cannot access the file because it is being used by another process.
, errno = 32
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iO

[2020-11-01 20:11] MahdiArabpour commented on #25042
I want to have negative padding at both top and bottom, so the child widget will have more height.
transforming a container does not effect the size of container! also can't have negative padding at bottom!

[2020-11-01 20:13] amitkot commented on #67497
@feinstein I followed AppBar's `build()` function, and from what I see now, it indeed always wraps the widget it creates in an `AnnotatedRegion<SystemUiOverlayStyle>` widget which uses either `SystemUiOverlayStyle.light` or `SystemUiOverlayStyle.dark` according to the brightness provided (directly, or as part of the theme).

Is there a way to override AppBar's AnnotatedRegion?

[2020-11-01 20:16] feinstein commented on #67497
Not that I know off (I don't have the source code in front of me, but I think I remember that part).

I hope this would be addressed once this issue is closed, but @HansMuller could provide more info on that.

[2020-11-01 20:16] HKop commented on #19845
We really do!!! :D

[2020-11-01 20:21] amitkot commented on #67497
@feinstein thanks!
Can the steps you describe [above](https://github.com/flutter/flutter/issues/67497#issuecomment-720137606) serve as a workaround for this issue? It is unclear to me if they helped.

[2020-11-01 20:48] Tony-Akani commented on #69522
I have checked there was no reply, please help me or I would appreciate if

I have checked that and there was no formal solution, I would appreciate if I can get your email or Whatsapp number so that I can send the code to you so that you can try it from your end?

[2020-11-01 20:51] feinstein commented on #67497
My splash screen has an `AnnotatedRegion` with:

[code]

I don't remember how the `AppBar` sets the status bar colors, maybe it leaves the old color I set? As you can see I set it to transparent.

Try to set its color once to transparent and see if it propagates.

[2020-11-01 21:17] Enigma-I-am commented on #59397
I am having this issue too

[2020-11-01 21:37] bernaferrari opened #69540 "[Request] Add option to disable fontPadding (or trim font height)"
This is really common and I believe it might be duplicated, but I couldn't find any issue here. Basically..

Android has [this question](https://stackoverflow.com/questions/4768738/android-textview-remove-spacing-and-padding-on-top-and-bottom) with 159k views, with the answer `android:includeFontPadding="false"`.

Microsoft released a few months ago this post: https://medium.com/microsoft-design/l

[2020-11-01 21:45] freitzzz commented on #69528
Also having problems on beta channel, divider does not show up at all, but is traceable if construction lines are displayed

[2020-11-01 21:59] edwardaux opened #69541 "[gen_l10n] emits error about generate_localizations missing"
## Steps to Reproduce

1. Run the following command: `dart $FLUTTER_ROOT/dev/tools/localization/bin/gen_l10n.dart `
2. Observe that you see the following error:

[code]

Similarly, if you just run `flutter generate_localizations`, you get the same error.

PR #65025 seems to be where the change to `genl10n` was made to try and run that command, but that command doesn't seem to exist.

## Logs

[cod

[2020-11-01 22:46] rp3droso commented on #38803
I solved the problem. I hope is helpful.
1) create a int variable in State class.

[code]

2) in the Function onSelectedItemChanged of the ListWheelScrollView set the variable:

[code]
3) create a GestureDetecture and put the ListWheelScrollView inside:

[code]
4) create onTap function at the GestureDetecture like this code:

[code]

[2020-11-01 22:54] LifeIsStrange commented on #47561
Just saying that benchmarcks comparing Ionic/capacitor performance would be GREAT. It's often repeated as a myth that the web is slow but there is no scientific extensive evidence. On the other hand, chromium gets much more human resources towards optimization than any other competitor and skia is mainly made for chromium, flutter use it as a byproduct.
Also this experiment should be well intentio

[2020-11-01 23:02] rch16 opened #69542 "Execution failed for task ':app:bundleDebugResources'"
I'm trying to package up my flutter app to deploy to the google play store. At this point please note that I had no problems building the ios version of the application. I have also followed all steps found in the documentation: [Build and release an Android app](https://flutter.dev/docs/deployment/android).

i ran:

`flutter build appbundle --no-shrink --debug`

output:

[code]

my android/build.

[2020-11-01 23:33] SteveSage111 opened #69543 "Optional Parameter with Default of type Colors is limited"
Code in question:

class CareerCard extends StatefulWidget {
  final String name;
  Color bgColor;

  CareerCard(
    this.name, [
    this.bgColor = Colors.grey[850],   // this is the line question
  ]);

  @override
  _CareerCardState createState() => _CareerCardState();
}

if the above line is " this.bgColor = Colors.grey,"  it works fine. The addition of the [850] creates a compile error. This

[2020-11-01 23:52] bernaferrari opened #69544 "New Buttons doesn't work with side from shape"
On the new Button system, you can only set the side via side in style, and not via shape in style. This is super confusing. Material accepts both a shape and borderRadius (when shape exists, borderRadius can't be set). Container accepts both a color and a decoration (which gives an error if color is set in both places). But the new Button system completely ignores the shape.

![image](https://user

[2020-11-01 23:53] spiderion commented on #42979
I have same problem

[2020-11-02 00:37] mike-gee commented on #65378
Experienced this issue on v1.23.0

Fixed by switching to v1.22.0
`flutter version 1.22.0`

[2020-11-02 00:40] treeplate opened #69546 "Failed assertion when clearing"
When you press left arrow on a textfield on mac, and you are at index 0, it throws `Failed assertion: line 564 pos 12: 'index >= 0 && index <= string.length': is not true.`

[2020-11-02 02:26] fooldrum commented on #67803
https://github.com/dart-lang/sdk/issues/43835

Flutter 1.22.3
Dart 2.10.3

We succeeded in building APK!!! Thanks a lot!!!! @mkustermann 👍

[2020-11-02 02:36] flukejones commented on #7474
This is quite probably the most frustrating thing I've encountered... From the flutter [docs](https://flutter.dev/docs/testing#integration-tests):

So the comment that flutter_driver is being depreciated in favour of the framework that is used for unit tests is out of order and frustrating as heck to encounter when you are busting your guts to ensure the integrity of a production app, especially w

[2020-11-02 02:55] tharwatsamy opened #69551 "SliverAppBar Empty Space"
when using a sliver app bar there is a space reserved for the leading , title and actions widget weather I used them or not but the problem is that space takes the same color as the sliver app bar but in some cases I want it to be of a different color.  I did solve it but it took me a bit of effort to make it responsive and i think that there should be a color attribute for that space or a bool va

[2020-11-02 03:14] sidrao2006 commented on #69502
@rebootcode , I think you've got it a little wrong.
PWA is a standalone web app / web site with a platform wrapper provided  by the browser. You **DO NOT** have to build a native app. That's the whole point of a PWA! You just way to work with web technologies and the browser does the work for you.
What you're referring to is something like a TWA which can be deployed to the playstore as an android

[2020-11-02 03:14] LtotheWT commented on #48016
![Screenshot 2020-11-02 at 10 48 49 AM](https://user-images.githubusercontent.com/13746657/97826331-4b900c80-1cfc-11eb-85b9-15a8f1d46c9c.png)
im also facing same problem using, honor 10, android version 10.

[2020-11-02 03:19] sidrao2006 commented on #69510
@ppb1701 , did you face the same errors in stable as well?
Could you please post the outputs of `flutter run -v` and `flutter doctor -v`?
Thank you!

[2020-11-02 03:23] sidrao2006 commented on #69522
I'm sorry I am not available for calls.
I would suggest you to close this issue and follow up there and post the output of `flutter run -v` and `flutter doctor -v`
Did you try following the solutions provided there?
Thanks

[2020-11-02 03:24] fredlee12345678 opened #69552 "ClipRect with RepaintBoundary makes child widget to disappear"
## Steps to Reproduce
Here is My demo:

<details><summary>code</summary>

[code]
</details>

When Scroll up and down you can see the problem:

<img width="240" height="500" src="https://user-images.githubusercontent.com/56996566/97826535-c527fa80-1cfc-11eb-9716-89af1620ad75.png">

flutter --version:
  • Flutter version 1.24.0-4.0.pre.81 at /Users/lixuepeng/Software/lastFlutter/flutter
    • Framew

[2020-11-02 03:29] LtotheWT commented on #48016
@maxwillf  please try upgrade to flutter 1.22.3 for image_picker 0.6.7+12, it solved for me

[2020-11-02 03:50] jerrywell commented on #65839
this issue is also been fixed in https://github.com/flutter/flutter/issues/66198

[2020-11-02 04:03] ZiaUrRahmam commented on #58475
please mention how u solve it i am facing the same

[2020-11-02 04:32] nawalhmw commented on #53657
I was facing the same issue & was able to fix it by downloading the NDK & manually downgrading my project's Gradle version in the **android/build.gradle** from 4.0.1 to 3.5.0.

`dependencies {`
`        classpath 'com.android.tools.build:gradle:3.5.0' //edited this`
`    }`

[2020-11-02 04:34] aungmyooo2k17 commented on #36247
Thank you this working perfect.

[2020-11-02 05:27] tatsuyuki25 commented on #66408
HI,
Any update for this issue?
same error on flutter latest version.

[code]

[2020-11-02 05:43] sidrao2006 commented on #69543
@SteveSage111 , this is not a bug.
Using [], is calling a value from a map which does not have a constant value. Since the default value for parameters has to be constant, it throws an error

This can be demonstrated as follows

[code]

[2020-11-02 05:48] rebootcode commented on #69502
@sidrao2006 - buddy, no offence, but you are talking all stuff that's just irritating, provoking and written with less thought or maybe someone put you on disk to write it here even though if you have no idea,

1). If you don't need it, don't come to this thread and share your input, it makes the whole thread a trash post
2). **If You think you don't need PWA with your logic you don't even need "w

[2020-11-02 05:58] krisztianodor commented on #38803
**No, it's not helpful. Why don't you read back? Why are you spamming? We're looking for tap/touch response on the individual children of the ListWheelScrollView...**

[2020-11-02 06:00] iheathers commented on #29021
I wish the same. Make it happen flutter team.

[2020-11-02 06:01] sidrao2006 commented on #69502
@rebootcode , I have provided a link to a package that does the same.

[2020-11-02 06:05] sidrao2006 commented on #69502
Again, you are using the wrong terms and that's confusing.

PWAs are standalone.
Yes, I agree, caching webview URLs is useful but that doesn't make it a PWA if you are using native code to implement other functionality as well.
Again, PWAs are generated by the browser, not the developer

[2020-11-02 06:07] sidrao2006 commented on #69502
Please refer to this guide - https://web.dev/progressive-web-apps and this one - https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps

[2020-11-02 06:22] #69325 closed

[2020-11-02 06:25] shufit commented on #68946
I find it is caused by Code shrinking, when i disable shrinking in build.gradle, it is fine.
Thank you

[2020-11-02 06:43] amitkot commented on #67497
@feinstein from what I see in this snippet, you create a copy of `SystemUiOverlayStyle.light` with a transparent color, so it should not propagate. This probably works for your splash screen as it has no `AppBar` to override it.

@HansMuller as AppBar overrides the `AnnotatedRegion`, what is the recommended way to change the status bar color to transparent when using an `AppBar`?

[2020-11-02 06:50] darshankawar commented on #69208
Issue replicable on latest stable (1.22.3). Tapping on drawer also triggers the webview url tap events on iOS that results in webview url being clicked too. Whereas, the same doesn't happen on Android.

[RPReplay-Final1604299410.MP4.zip](https://github.com/flutter/flutter/files/5473196/RPReplay-Final1604299410.MP4.zip)

[69208_android.mp4.zip](https://github.com/flutter/flutter/files/5473197/69208

[2020-11-02 06:50] pedromassangocode commented on #69283
Hi @abaturyna
Given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-11-02 06:50] #69283 closed

[2020-11-02 06:54] darshankawar commented on #69269
@Lanch92
I am going ahead and closing this since there's no concrete steps to replicate the issue and per your comment it happens randomly. If you are able to replicate the issue consistently and have proper steps to replicate, write in comments and I'll reopen.
Thanks.

[2020-11-02 06:54] #69269 closed

[2020-11-02 07:05] darshankawar commented on #69376
@peerwaya
I am unable to replicate it on device (6s) and simulator (iphone SE) I tried using the sample code mentioned in original issue.Are you using any different code sample to replicate it ?

[2020-11-02 07:06] pedromassangocode commented on #67097
Hi @Tom1380
Just open a new issue and read the template.

[2020-11-02 07:06] darshankawar commented on #68209
@shi1234ww
The repo link isn't working for me.

[2020-11-02 07:07] TahaTesser commented on #68946
Hi @shufit
Given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-11-02 07:07] #68946 closed

[2020-11-02 07:08] darshankawar commented on #69329
@hatimkh20 Can you try to uninstall and install Flutter sdk again and see if it works ?
Thanks.

[2020-11-02 07:10] Yuvaraj-Gajaraj opened #69556 "Mouse event triggered when tap on mobile screen."
## Steps to Reproduce

1. When using the mouse region widget in the flutter application it triggered at tap on screen.
2. Code snippet
[code]
3. Tap the screen it will print the value that respects the mouse event.

Note: I have checked this with the latest stable version but it is not reproduced, this issue only occurs at the latest beta version 1.23.0-18.1.pre.

<details>
  <summary>Logs</summar

[2020-11-02 07:11] TahaTesser commented on #69034
Hi @MarcinusX
Can you please provide additional information needed to reproduce this issue? https://github.com/flutter/flutter/issues/69034#issuecomment-717309778

[2020-11-02 07:19] PriyaSindkar commented on #18564
Thanks a lot.. this helped my use case (form with 3-4 `TextFormField`, including a comments box). With your solution my modal bottom sheet sticks to the statusbar (acts like `Scaffold `with `resizeToAvoidBottomInset: false`) and allows to view the form fields and scroll through the form if it is still needed to view bottom text fields.

[2020-11-02 07:22] pedromassangocode commented on #68152
Good catch @hamdikahloun

Closing as this is not an issue with Flutter itself.

[2020-11-02 07:22] #68152 closed

[2020-11-02 07:25] darshankawar commented on #69410
@misici234
I believe this issue belongs to `dart-lang` repo : https://github.com/dart-lang/api.dart.dev/issues
Please consider to open this issue there.
Closing it from here. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-11-02 07:25] #69410 closed

[2020-11-02 07:35] TahaTesser commented on #69281
Hi @IagoBeuller
Resizing same way, I still haver different results but nevertheless, it's not good
![image](https://user-images.githubusercontent.com/48603081/97841530-0247b900-1d0c-11eb-8e87-cf523ba66a2d.png)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-02 07:37] darshankawar commented on #69412
@superakabo
What's the expected behavior or result when `childCount` is set to 1 and try to scroll ? Can you provide video / gif of the issue  along with different settings you mentioned ?

[2020-11-02 07:39] darshankawar commented on #69413
@alexodus
What's the issue here ? Where do you see the `0.11.1+3 and 0.11.1+4` versions ?

[2020-11-02 07:43] #69474 closed

[2020-11-02 07:49] darshankawar commented on #69417
[code]

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-02 07:49] TahaTesser commented on #69368
Hi @hinadong
https://github.com/flutter/flutter/issues/69368#issuecomment-719574023 logs from this don't seem to indicate anything with ClipOval

Running your code sample has no issues on simulator or device

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please provide your `flutter run --verbose` and a com

[2020-11-02 07:56] darshankawar commented on #69424
@arfeenmushtaq
I see few articles on how to achieve it using Animated Icon widget. Check below and see if it serves your need.

https://medium.com/@bimsina/animated-icons-in-flutter-3ca7e921500a
https://medium.com/@pinkesh.earth/how-to-animate-icons-in-flutter-b96fe856a5b8

[2020-11-02 08:02] TahaTesser commented on #69375
Hi @SUBARAJ101
You need to install git on your system, please install it and add it in your path if it is already installed  try again
Thank you

[2020-11-02 08:03] wadihhannouch commented on #54599
Any Updates?

[2020-11-02 08:04] pedromassangocode commented on #69556
Hi @Yuvaraj-Gajaraj
I see there's an open issue (https://github.com/flutter/flutter/issues/68690) addressing the case you described.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-11-02 08:04] #69556 closed

[2020-11-02 08:07] JaiAravindh-git commented on #69490
I would like to be assigned to this issue.

[2020-11-02 08:08] JaiAravindh-git commented on #69477
I would like to be assigned to this issue.

[2020-11-02 08:10] cv692001 commented on #69477
Hey , Sorry for the delay but I am trying to submit a PR . As it is my first time , I am facing some issues but I will try to figure this out ASAP.

[2020-11-02 08:10] TahaTesser commented on #69392
Hi @whatscoder
Thanks for describing the issue, to better address the issue, please provide a minimal code sample
Thank you

[2020-11-02 08:16] sai00-00 commented on #31556
What about for windows?

[2020-11-02 08:18] pedromassangocode commented on #69511
Hi @speller
As the log message says, this widget needs a constrained width and height.

For the question you asked please try asking on Stack Overflow or try one of the Flutter community: https://flutter.dev/community.

I don't think this is a valid issue with Flutter, so I'm closing it.

[2020-11-02 08:18] #69511 closed

[2020-11-02 08:18] JaiAravindh-git commented on #58486
I would like to be assigned to this issue.

[2020-11-02 08:20] JaiAravindh-git commented on #46768
I would like to be assigned to this issue.

[2020-11-02 08:22] pedromassangocode commented on #69546
Hi @treeplate
Can you please provide your `flutter doctor -v` and a minimal complete reproducible code sample?
Thank you

[2020-11-02 08:24] darshankawar commented on #69431
@ThexXTURBOXx
Can you provide `flutter doctor -v` ? Also `location` is a 3rd party plugin. Can you remove location plugin code and try again to see if you still get exception ?
Thanks.

[2020-11-02 08:28] istornz commented on #38803
Please be more polite he just try to help... 🤯

[2020-11-02 08:33] shihaohong commented on #69541
Hi, thanks for the issue. I think you might mean to use `flutter gen-l10n`. `flutter generate_localizations` was the initial proposed command, but `flutter gen-l10n` is less verbose so we went with that instead.

`dart $FLUTTER_ROOT/dev/tools/localization/bin/gen_l10n.dart` is an older entrypoint that has been removed since the tool didn't really belong in the `dev/tools` folder and is better inte

[2020-11-02 08:33] #69541 closed

[2020-11-02 08:33] pedromassangocode commented on #69537
Hi @CrezyProgrammer
This is a duplicate of https://github.com/flutter/flutter/issues/69109 and a recent fix (PR https://github.com/flutter/flutter/pull/69115) has landed on master channel.

Can you please try on master?

[2020-11-02 08:51] Sameerkash commented on #69472
I'm unable to come up with an implementation for this, any pointers would help, should I extend this or Instantiate this? since it's an abstract class.
I thought It would just be like a `NotificationListner()` updates its child on animation notification, but there is no child.

[2020-11-02 08:53] guidezpl commented on #67108
Hey Daniel, I'm not very familiar with Cupertino icons (or icons/ttf in general), but this seems reasonable. Whoever wants to pick up this issue should write up a design doc to discuss possible solutions/API. https://flutter.dev/go/template

[2020-11-02 08:57] TahaTesser commented on #69393
Hi @gayatri2610
So what I understand so far
You wanted to intercept HTTP requests but you couldn't so you modified source code and then you can't log in anywhere including GitHub and Google, Is this right?
Please don't modify the source code for the issue, it doesn' look like this is supported in the plugin yet

Duplicate of https://github.com/flutter/flutter/issues/27896

[2020-11-02 09:01] pedromassangocode commented on #69522
Hi @Tony-Akani
Based on your logs it seems that you have some problem with the fonts definition in your `pubspec.yaml`.

[code]

This may be causing this issue. Can you please locate the `pubspec.yaml` file and fix it?
Thank you

[2020-11-02 09:02] edwardaux commented on #69541
Thanks for the feedback. That looks like it might solve my immediate problem if I run that directly... however, I think there's still an underlying issue that needs fixing.

If you run the following:
[code]
you'll see that it outputs:
[code]
It looks like `gen_l10n.dart` is trying to run `generate_localizations` - see https://github.com/flutter/flutter/blob/57a13c3e3bb94d1997815faf33aa2eb17690ee46

[2020-11-02 09:02] PixelToast opened #69558 "Consider deprecating StatusTransitionWidget"
## Background

[`StatusTransitionWidget`](https://api.flutter.dev/flutter/widgets/StatusTransitionWidget-class.html) was added 5 years ago and is not used within the framework, it seems to serve the same role as [`AnimatedBuilder`](https://api.flutter.dev/flutter/widgets/AnimatedBuilder-class.html) but has a more confusing name and requires a `Animation<double>` instead of a more generic ` Listena

[2020-11-02 09:04] Sameerkash commented on #69472
After discussing with @shihaohong, the class seems to have originated 5 years ago and doesn't seem fit for any use case as it restricts to `Animation<double>`, which is bad because the value isn't used for anything else, and `AnimatedBuilder()` just does a better job of the intended use case.  The proposal is to deprecate the class. Please let us know your thoughts. @johnpryan

[2020-11-02 09:06] darshankawar commented on #69456
@Abhijithsp
`flutter_luban` is a 3rd party plugin. Try to remove the relevant plugin code and check if you still getting the quality issue. If not, then it might be the issue with the plugin and you may need to open this issue in plugin owner's repo.

[2020-11-02 09:08] krisztianodor commented on #38803
To be honest when I started writing I was polite but then I deleted and replaced it. I have been polite too many times. Maybe it's more effective. Next time i can assure you i will put this at the beginning: 'i know you want to be helpful, but' or 'no offense, but'. Sorry :S

[2020-11-02 09:11] shaan-saz commented on #69491
I would like to be assigned to this issue if there is no response from the assignee.

[2020-11-02 09:29] darshankawar commented on #69458
@jonaird
Verified on latest beta and I see `false` and `true` everytime I try to drag the `blue` container on `green` container, although, in UI, I see `false` being turned to `true` when draggable comes inside `blue` container` but still not put.  Does this properly interprete your issue ?

[code]

[69458.mov.zip](https://github.com/flutter/flutter/files/5473904/69458.mov.zip)

[2020-11-02 09:32] deakjahn commented on #53657
As mentioned above, there is no need to downgrade. Just specifiy the correct NDK to use.

[2020-11-02 09:33] gzjaychen opened #69559 "app crash when I create FFI template in object-c."
1.Create project with flutter create.
2.Run on iPhone.

works well:
flutter create --platforms=android,ios --template=plugin native_add

crash happen:
flutter create -a java **-i objc** --platforms=android,ios --template=plugin native_add

[2020-11-02 09:35] jonaird commented on #69458
The problem is strictly when the draggable and cursor are moving while over the mouse region not when they are stationary. You can compare it to the behavior of mousing over the mouse region without the draggable and you get different behavior (you never get false until the mouse exits the area).

[2020-11-02 09:35] mohamedhasan2002 opened #69560 "App crashes"
**Hey, I had built an app using GitHub the first time my code runs perfect but later I duplicated the file and made changes now I can install my app but it fails to open(getting crash) There is no error can anyone help me to fix.**

[](https://drive.google.com/file/d/1dnaGYyAj4V9_Odok8V5GayUtF1-oCTT_/view?usp=sharing)

[2020-11-02 09:35] pedromassangocode commented on #69542
Hi @rch16
Can you please provide your `flutter build appbundle --verbose`? If the logs are too long you may attach it as a `.txt` file.
Thank you

[2020-11-02 09:37] savy-91 commented on #38803
@krisztianodor unless "you have been polite too many times" with this specific user, I doubt your message will have any positive effect. Possibly, you have discouraged this user from contributing to any issue in the future because of your toxic attitude.

[2020-11-02 09:40] Sammius commented on #69502
Due to Flutter's limitations on 3D, I also have a significant portion of the application in WebView, and PWA support for WebView would be very helpful. Since in our region, there are problems with the Internet coverage.

Offtopic: dear @sidrao2006 your opinion is understandable, but it seems to me that your comments (more than half of all others) somewhat clog this thread. Sorry

[2020-11-02 09:43] esDotDev commented on #51752
I think there is definitely an opportunity to improve the naming conventions and make them more flutter like.

Things like UseMemoized and UseEffect sound quite foreign, and it sounds like we want some way to not have to run the init() code in the build fxn.

Currently initializing with hooks is:
[code]
I appreciate the brevity of this code, but it's certainly far less than ideal from a readabilit

[2020-11-02 09:45] xu-baolin commented on #69100
Almost finish coding, but depend on this PR #69383

[2020-11-02 09:46] TahaTesser commented on #69396
Hi @ialhashim
Forgot about localization, thanks for the code sample, I can reproduce the issue

| HTML | Canvaskit |
| --------------- | --------------- |
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/48603081/97853331-f9f87980-1d1d-11eb-83a5-e6132307aae1.gif) | ![ezgif com-gif-maker](https://user-images.githubusercontent.com/48603081/97853269-e3eab900-1d1d-11eb-966d-a652f41

[2020-11-02 09:49] Yuvaraj-Gajaraj commented on #69556
Hi @pedromassangocode

Yes, both are the same issue I will follow that.

Thanks.

[2020-11-02 09:51] anon-000 commented on #69482
I would like to be assigned to this issue if there is no response from the assignee.

[2020-11-02 09:52] darshankawar commented on #69460
@pedromassango
It would be great if you could elaborate on this proposal along with a practical use case.
Thanks.

[2020-11-02 09:53] #69470 closed

[2020-11-02 09:57] shihaohong commented on #29261
I think the hyperlinks are easier to read now, so I'll close this issue out.

<img width="1143" alt="Screen Shot 2020-11-02 at 5 57 07 PM" src="https://user-images.githubusercontent.com/27032613/97854742-d5f46280-1d34-11eb-8a36-a8bf72b66c4d.png">

[2020-11-02 09:57] #29261 closed

[2020-11-02 09:58] tianye19941001 commented on #36177
I change flutter version to v1.20.3 to fixed this

[2020-11-02 09:59] pedromassango commented on #69460
I've updated the issue description. There are plenty of use-cases but I will not mention any as this is a proposal for capabilities that the native Android/iOS have.

[2020-11-02 10:01] pedromassangocode commented on #69510
Hi @ppb1701
Can you share the "widget extension" causing this?
Please provide your `flutter doctor -v` and the complete message (if any) you received from the review process.
Thank you

[2020-11-02 10:07] shihaohong commented on #69541
I actually recently fixed this in `master` I think. Can you give this a try on the `master` branch and see if this reproduces?

[2020-11-02 10:12] KhaleelShaheenDC commented on #7474
@eseidelGoogle 👆

[2020-11-02 10:13] TahaTesser commented on #69125
Hi @benPesso
Thanks, I can reproduce the issue with the given code sample
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

[code]

</details>

[2020-11-02 10:13] darshankawar commented on #69465
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<img width="704" alt="Screenshot 2020-11-02 at 3 43 11 PM" src="https://user-images.githubusercontent.com/67046386/97856319-21e9dc00-1d22-11eb-8704-263f2b30feb5.png">

[2020-11-02 10:13] iapicca commented on #69551
@tharwatsamy
what is the use case of assigning a `Color` to an empty space?
Isn't your feature request obtainable simply passing a `LayoutBuilder` + `Container` as in this [code sample](https://dartpad.dartlang.org/62e57b21d04bdf7f519a8a74bc1e2a5e)?

 @TahaTesser opinion?

[2020-11-02 10:15] pedromassangocode commented on #69493
Hi @cmee123
I would suggest you to try to create and run a Flutter app to see if there is any issue.
As mentioned above sometimes Android Studio does not detect the Flutter plugins but it does not stops you to use Flutter.

I'm closing this for now as this looks like you are looking for assistance.
Thank you

[2020-11-02 10:15] #69493 closed

[2020-11-02 10:15] AnavrinApps commented on #38803
Honestly, I don't think we can blame anybody here and we know the only solution is when the Flutter team fixes this issue and whats terrible is that they even made a video on Youtube about it even though they knew that this has been a bug since so long.

[2020-11-02 10:18] ThexXTURBOXx commented on #69431
## Without `location`:
As I already said, this issue also affects the [example app at this specific commit (the newest one)](https://github.com/flutter/plugins/tree/8a613b9c55e4b52a7e815eeaafdf39d68176cb72/packages/google_maps_flutter/google_maps_flutter/example) as well, which doesn't have the `location` plugin installed.

## `flutter doctor -v`:
It should be worth noting, that I am also affected

[2020-11-02 10:19] pedromassangocode commented on #69514
As mentioned above this is not a big issue since it does not stops customers to use Flutter.

[2020-11-02 10:19] #69514 closed

[2020-11-02 10:20] TahaTesser commented on #69407
I can reproduce the issue, looks similar to https://github.com/flutter/flutter/issues/69125
Thanks, I can reproduce the issue with the given code sample

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

[code]

</details>

[2020-11-02 10:20] darshankawar commented on #69468
Closing this issue as resolved per @iapicca's comment and updated code sample.
@ibyet05 If you disagree, write in comments and I'll reopen.
Thanks.

[2020-11-02 10:20] #69468 closed

[2020-11-02 10:21] HubertArciszewski95 commented on #25141
Hey, @ksheremet your PR about tags was accepted https://github.com/flutter/flutter/pull/55152.
When we can expect that tags will work for flutter driver tests?

[2020-11-02 10:23] AnavrinApps commented on #38803
Also for anyone who urgently needs to use this Widget, I tried using flutter swiper - https://pub.dev/packages/flutter_swiper to   recreate something similar to ListWheelScrollView and its a workaround but not exactly the same thing.

[2020-11-02 10:35] pedromassangocode commented on #69429
Hi @HerrNiklasRaab
I looked at the link you posted an I got this piece:

I'm wondering if you are running all the tests of the project or just a subset of tests related to the [new] test you are adding?

I personally think that the duration of tests will always depend on the numbers of tests you are running and we can't just make 10.000+ tests to run in 10 seconds. As your tests increase the time

[2020-11-02 10:38] rebootcode commented on #69502
@sidrao2006 - Please keep your comment off this thread, your comments are way too much distracting to the post with your little knowledge and opinion.
Kindly let the flutter team have a look at it.
**Mr. @sidrao2006 , I highly recommend deleting your post, it's confusing to the community here**, we all are here well knowledgable developers at least know, "how to google & search", thus no point in

[2020-11-02 10:45] darshankawar commented on #69499
Could be similar to [69208](https://github.com/flutter/flutter/issues/69208)

[2020-11-02 10:45] pedromassangocode commented on #69506
Hi @HDS2904
It seems you are asking for assistance on personal code. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments

[2020-11-02 10:45] #69506 closed

[2020-11-02 10:48] tudor07 commented on #7474
@eseidel @eseidelGoogle please?

[2020-11-02 10:50] TahaTesser commented on #69408
Hi @jwinarske
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample or steps to reproduce
Thank you

[2020-11-02 10:56] tedfire opened #69564 "jsonDecode not working on flutter WEB getObject: NoSuchMethodError: The getter 'uri' was called on null."
jsonDecode is returning <error>:<getObject: NoSuchMethodError: The getter 'uri' was called on null.> when decoding anything in flutter web.

The exact same code works fine on flutter for Android or iOS.
![image](https://user-images.githubusercontent.com/63472909/97860119-05967100-1d1b-11eb-8141-b9206044eb29.png)

You can recreate the issue by creating a new flutter web project and adding the follo

[2020-11-02 10:57] pedromassangocode commented on #69552
Hi @fredlee12345678
Can you please provide your `flutter doctor -v` and the expected vs actual results?

Please elaborate what is exactly wrong with here.
Thank you

[2020-11-02 10:57] Sameerkash commented on #68259
I would like to help with this one @Hixie.

[2020-11-02 11:00] tomasbaran commented on #69315
@jacobaraujo7 thanks for your comment.

From my understanding API 2.0 provides also some basic functionality that API 1.0 does NOT, i.e. using the back button in the browser, using named routes that are visible in the URL as well as using visible arguments in the URL (e.g. www.url.com/?arg1=123)

I believe this basic functionality should be very easy to implement and should be automatically built

[2020-11-02 11:08] TahaTesser commented on #69528
Hi @nt4f04uNd
Please provide more details about the issue and what's effecting, steps to reproduce, please be descriptive
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-11-02 11:08] darshankawar commented on #69502
@rebootcode
I see there's an [open](https://github.com/flutter/flutter/issues/30582) feature request to integrate PWA for `webview_flutter` plugin. Also see [this](https://github.com/flutter/flutter/issues/30582#issuecomment-480517336) comment on feasibility of this request implementation. Would you be okay to follow-up in that issue and close this one as duplicate ?
Thanks.

[2020-11-02 11:09] ranasaim3215 opened #69565 "[tool_crash] FileSystemException: Cannot create file, OS Error: The system cannot find the path specified., errno = 3"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot create file, OS Error: The system cannot find the path specified.
, errno = 3
[code]
[code]

## Flutter Application Metadata
**Type**: null
**Version**: 1.7.5+3001
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**C

[2020-11-02 11:11] pedromassangocode commented on #69529
Issue reproducible on latest `master` channel.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-11-02 11:11] ldhlfzysys opened #69566 "Using Emoji causes twice the memory usage on iOS"

[2020-11-02 11:13] darshankawar commented on #69526
@Sherafatpour
Please check the above referred issue and possible solution and see if it works for you.
Closing this as duplicate. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-11-02 11:13] #69526 closed

[2020-11-02 11:15] pedromassangocode commented on #69560
Hi @mohamedhasan2002
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-11-02 11:17] rebootcode commented on #69502
@darshankawar, I see the previous [#30582](https://github.com/flutter/flutter/issues/30582) thread recommends downloading the PWA app inside flutter.
But I recommend instead of downloading another app, just supporting the "offline" or "page cache" features using `serviceworker` or something similar inside webview to let page accessible offline.

It sounds similar and the objective may sound simila

[2020-11-02 11:21] ldhlfzysys commented on #69566
Scaffold(
      backgroundColor: Colors.white,
      appBar: AppBar(
        elevation: 0.0,
        title: Text('test'),
      ),
      body: Container(
        child: Text('test'),
      ));

![image](https://user-images.githubusercontent.com/7666564/97862522-7734e600-1d40-11eb-900a-be3fe4772790.png)

Scaffold(
      backgroundColor: Colors.white,
      appBar: AppBar(
        elevation: 0.0,

[2020-11-02 11:28] AliRezaBeitari commented on #59154
I have the same problem. No updates?

[2020-11-02 11:28] Yakine13 commented on #27095
+1
Here's the suspect, Lol:
`Accessing hidden method Lsun/misc/Unsafe;->putInt(Ljava/lang/Object;JI)V (greylist, linking, allowed)`

[2020-11-02 11:28] TahaTesser commented on #69559
Hi @gzjaychen
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample in  a GitHub repository
Thank you

[2020-11-02 11:28] darshankawar commented on #69565
@ranasaim3215
This issue is already fixed and merged, but only available in master. Please see [this](https://github.com/flutter/flutter/issues/66415#issuecomment-701003004) comment.
Please switch to latest master and try again to see if it works.
I am going ahead and closing this as fixed. If you disagree or think the issue is still occuring on master, write in comments and I'll reopen.
Thanks.

[2020-11-02 11:28] #69565 closed

[2020-11-02 11:32] HerrNiklasRaab commented on #69429
Hey @pedromassangocode,

thanks for your response. Sure if the project grows very much, at some point you will need to split it into multiple test suits. But currently, we have 500 tests, who take about 2min. This I think is definitely too long.

Currently, we are running the tests of the whole project.

Maybe we can keep this ticket open to track the experience from the point of view of a TDD dev

[2020-11-02 11:35] paul-hammant commented on #7474
Maybe FlutterDriver could be moved to own repo on GitHub. The community might find it easier to make pull requests for it, and push it ahead of Google's own wishes for the same.

Not least would be implementation of the https://www.w3.org/TR/webdriver/ spec. Java's Swing technology has a UI-clicking test runner called Marathon, and the team that maintains that added compatibility with that spec -

[2020-11-02 11:36] TahaTesser commented on #69566
Hi @ldhlfzysys
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-11-02 11:39] PoojaB26 commented on #64758
@allanchao This is only happening for Android platfrom, right?
And if yes, can you check your `build.gradle` and post it here?

[2020-11-02 11:39] pedromassangocode commented on #69564
Hi @tedfire
I cannot reproduce this on latest `beta` and `master` channel.

![Screen Shot 2020-11-02 at 12 32 36](https://user-images.githubusercontent.com/67424416/97863668-a418d700-1d07-11eb-8836-ba45e42c34b3.png)

Does the code bellow reproduce the issue?

<details><summary>Code</summary>

[code]
</details>

[2020-11-02 11:44] safeDev15 commented on #69026
Do you have some news for me? thank you!

[2020-11-02 11:44] hatimkh20 commented on #69329
i already did that but same error getting

[2020-11-02 11:51] Yakine13 commented on #27095
TEMPORARY "FIX":

So here's our problem:
Many annoying line displaying something like
`[...] Accessing hidden method Lsun/misc/Unsafe;->putInt(Ljava/lang/Object;JI)V (greylist, linking, allowed)`

If we can't fix it, Then at least let's Hide it!

- Go to your flutter run console

- Right Click on one of these line and select [Fold Lines Like this]
![fix1](https://user-images.githubusercontent.com/

[2020-11-02 11:52] tedfire commented on #69564
Let me check I'll come back to you. Thanks.

[2020-11-02 11:53] #69390 closed

[2020-11-02 11:53] darshankawar commented on #69458
Updated replicable video.

[69458.mov 2.zip](https://github.com/flutter/flutter/files/5474725/69458.mov.2.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-02 11:58] #69479 closed

[2020-11-02 11:58] darshankawar commented on #69502
Related to [30582](https://github.com/flutter/flutter/issues/30582)

[2020-11-02 12:10] pedromassangocode commented on #69453
Hi @lahirudb
Following the indication of [jetbrains' Flutter plugin](https://plugins.jetbrains.com/plugin/9212-flutter), the correct way to address the problem is to open an issue in the dedicated [repository](https://github.com/flutter/flutter-intellij/issues).
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-11-02 12:10] #69453 closed

[2020-11-02 12:11] EchoPuda commented on #69104
Hi @TahaTesser
Yeah, that only happens when using UiKitView. And I found that It will recover after other operations, such as switching pages, switching front and back.

[2020-11-02 12:12] pedromassangocode commented on #69543
Hi @SteveSage111
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in

[2020-11-02 12:12] #69543 closed

[2020-11-02 12:15] yashmittalJTG commented on #42818
same issue i am facing let me know if you fixed it

[2020-11-02 12:15] llucax commented on #68092
This is fixed now in the [stable (using dart 2.10.3)](https://github.com/llucax/flutter-bug-65324/runs/1341905544?check_suite_focus=true#step:5:12) and [dev (using dart 2.11.0 build 2.11.0-260.0.dev)](https://github.com/llucax/flutter-bug-65324/runs/1341905580?check_suite_focus=true#step:5:12) channels.

The [beta channel (using dart 2.11.0 build 2.11.0-213.1.beta) is still broken](https://github.

[2020-11-02 12:18] llucax commented on #65324
Just for the records, I confirm that this is another manifestation of https://github.com/dart-lang/sdk/issues/43797

[2020-11-02 12:18] darshanhk18 opened #69569 "windows batch file not running"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

![Screenshot (144)](https://user-images.githubusercontent.com/64367776/97867237-7cd7ff00-1d33-11eb-8f7f-264b16a16f1d.png)
![Screenshot (145)](https://user-images.githubusercontent.com/64367776/97867249-82354980-1d33-11eb-91e0-f50c38b5ce6d.png)

[code]

[2020-11-02 12:18] ppb1701 commented on #69510
Flutter doctor -v (from master)
[code]

[2020-11-02 12:19] TahaTesser opened #69570 "[web][regression] App doesn't render in debug mode (shows blank page in canvaskit only) & throws Expected a value of type 'Future<_RegisteredFont>', but got one of type '_Future<_RegisteredFont?>'"
## Steps to Reproduce
1. Create a new project `flutter create master_flutter` on the latest `master` channel
3. Execute `flutter run --debug --dart-define=FLUTTER_WEB_USE_SKIA=true -d chrome -v`

(No issue with `flutter run --release --dart-define=FLUTTER_WEB_USE_SKIA=true -d chrome -v` or `flutter run -d chrome`)

| Expected Results | Actual Results |
| --------------- | --------------- |
<img wi

[2020-11-02 12:19] TahaTesser opened #69571 "[web][regression] Image.network doesn't render in debug mode & throws Expected a value of type 'Future<Codec>', but got one of type '_Future<Codec?>'"
## Steps to Reproduce
1. Create a new project `flutter create master_flutter` on the latest `master` channel
2. Use `Image.network` in the web app

<details>
<summary>code sample</summary>

[code]

</details>

3. Execute `flutter run -d chrome`

(no issue with `flutter run --release chrome`)

| Expected Results | Actual Results |
| --------------- | --------------- |
<img width="630" alt="Screensh

[2020-11-02 12:20] ppb1701 commented on #69510
flutter run -v  (from master)
[run.txt](https://github.com/flutter/flutter/files/5474924/run.txt)

[2020-11-02 12:20] pedromassangocode commented on #69403
Important to note that flutter doctor can be executed outside of a valid Flutter project so this new addition should cover that (ignore the proposed check?) as well.

[2020-11-02 12:21] TahaTesser commented on #69531
hI @GSamuel
I can reproduce the issue on the `beta`, however, the seems to be fixed on `dev`

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please upgrade to the latest  `dev` and try again
`flutter channel dev`
`flutter upgrade --force`
`flutter doctor -v`

labelling the issue to rack fix into `beta` chann

[2020-11-02 12:22] ppb1701 commented on #69510
my widget extension
[widgetextension.pdf](https://github.com/flutter/flutter/files/5474935/widgetextension.pdf)

[2020-11-02 12:23] gayatri2610 commented on #69393
Ok . But how can i achieve intercept HTTP requests in flutter ios .
Plugin working no doubt but what we have option.

[2020-11-02 12:24] ppb1701 commented on #69510
 
--
 
Dear Developer,We identified one or more issues with a recent submission for TestFlight review for your app, "Check It Off Task Management" 1.0.5 (5). Please correct the following issues, then upload again.ITMS-90853: Invalid font - There was an error validating the font named 'All3PIcons-Regular' at 'Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf'. ‘name

[2020-11-02 12:25] ppb1701 commented on #69510
<img width="687" alt="Screen Shot 2020-11-02 at 7 25 11 AM" src="https://user-images.githubusercontent.com/68674902/97867817-8d10bf80-1cdc-11eb-9ac2-b5b970e5d89c.png">

[2020-11-02 12:25] rch16 commented on #69542
[code]

[2020-11-02 12:30] yashugarg commented on #63541
@jonahwilliams I'd like to work on this issue please guide me

[2020-11-02 12:31] TahaTesser commented on #69569
Hi @darshanhk18
Please follow the steps form https://flutter.dev/docs/get-started/install/windows and install the tools including Android SDK manager
Thank you

[2020-11-02 12:32] tedfire commented on #69564
Yes unfortunately, using your code and switching to master channel also gets the same error for me....
![image](https://user-images.githubusercontent.com/63472909/97868257-ca9b3a00-1d28-11eb-8b94-9a4ba5d33b3b.png)
![image](https://user-images.githubusercontent.com/63472909/97868303-e0a8fa80-1d28-11eb-987b-85867503abec.png)

Any idea what I can try ?

Thanks
Ted

[2020-11-02 12:37] TahaTesser commented on #69519
Hi @Tokol
Can you please provide a complete reproducible minimal code sample without using third party packages and your `pod --version`
Thank you

[2020-11-02 12:43] Tokol commented on #69519
pod version 1.10.0

[2020-11-02 12:43] yashugarg commented on #57088
@TahaTesser I'd like to work on this issue please guide me

[2020-11-02 12:53] oom- opened #69572 "InputDatePickerFormField should implement textInputAction"
## Use case

I'm actually creating a Form with multiples inputs. I can easily pass from one to another with the `textInputAction: TextInputAction.next,`. But the `InputDatePickerFormField` that is in the middle of the form break the chain because the option doesn't exist.

## Proposal
Add a property similar to `textInputAction` to be able to focus on the next field without hiding the keyboard.

[2020-11-02 12:57] darshankawar commented on #69431
@ThexXTURBOXx
Tested with official `google_maps_flutter` plugin using Android 8.1.0 device on latest stable and used 3 and 4 fingers simultaneously to drag the map, but didn't see the issue. The map scrolled and moved properly.

[69431.mp4.zip](https://github.com/flutter/flutter/files/5475156/69431.mp4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you check if this

[2020-11-02 13:05] mit-mit commented on #69403
Related issue: https://github.com/dart-lang/sdk/issues/44013

[2020-11-02 13:10] pedromassangocode commented on #69570
Reproducible. This seems to be caused by null-safety implementation.

[code]

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-11-02 13:11] knaeckeKami commented on #32756
I found similar, but slightly different behavior when trying to load dynamic libraries via DynamicLibrary.open().
See https://github.com/simolus3/moor/issues/895

What I found:
- Loading Dynamic Libraries by name does not work on some Android devices, particularly ones running Android 6.0.1
- Loading Dynamic Libraries with an absolute path as fallback works, though on these devices (see the fallba

[2020-11-02 13:14] darshankawar commented on #69329
Can you try [this](https://github.com/flutter/flutter/issues/63112#issuecomment-691620053) solution and see if it works for you ?

[2020-11-02 13:15] xu-baolin commented on #69395
Here's what's going on:

Finish investigation, This is a bug that has always existed, I double-check that `1.12.13+hotfix.4` also have this bug, @albertalrisa Could you double-check this, thanks.

I will post a PR to fix this in a couple of days.

[2020-11-02 13:17] ppb1701 commented on #69510
So from Stable channel
flutter doctor -v
[doctor.txt](https://github.com/flutter/flutter/files/5474970/doctor.txt)

flutter run -v
[run.txt](https://github.com/flutter/flutter/files/5474974/run.txt)

It's submitted for review.  I'll add on if it goes on thru or rejects again

[2020-11-02 13:25] mohamedhasan2002 commented on #69560
**flutter doctor -v**
hasan@hasan-Lenovo-ideapad-320-15IAP:~/Desktop/CODE/ChitChat-master$ flutter doctor -v
[✓] Flutter (Channel master, 1.24.0-7.0.pre.47, on Linux, locale en_GB.UTF-8)
    • Flutter version 1.24.0-7.0.pre.47 at /home/hasan/snap/flutter/common/flutter
    • Framework revision 2f18e0b23d (22 hours ago), 2020-11-01 20:58:04 +0530
    • Engine revision 3460519398
    • Dart version

[2020-11-02 13:36] tomaash commented on #54204
@YeungKC "_to ensure that the width of the DropdownButton is affected by the maximum width of the DropdownMenuItem_" why is this necessary? It would look much better if the size of the dropdown was measured from the width of the selected item instead.

Ugly:
![Screenshot 2020-11-02 at 14 35 13](https://user-images.githubusercontent.com/19360/97873964-a0418080-1d18-11eb-8f86-afc6a356d226.png)

Nice

[2020-11-02 13:41] tudor07 commented on #35318
@dnfield `HttpOverrides.global = null;` solution no longer works, I think issue should be re-opened.

[2020-11-02 13:43] chinmoy12c commented on #69397
PR is ready for review :)

[2020-11-02 13:44] phackwer commented on #63500
set header to index.html not to cache on nginx or apache. I've also set the headers for version.txt not to be cached, so this kind of solves the problem. Sometimes however I still need to press reload 2 times. Don't know why.

We use bitbucket pipelines (yaml) so replace the  command is this

  - &tagBuildNumberOnMainDart echo "Tagging index.html" && sed -i -e ''s,main.dart.js,main.dart.js?v=${BIT

[2020-11-02 13:45] amitkot commented on #19547
The workaround suggested by @filiph is good as long as you don't require a null FAB.
In my use case I have a FAB that when pressed shows the persistent bottom sheet instead of it.
I get this effect by setting the `Scaffold`'s FAB to `null`:

[code]

This shows a nice animation as the FAB disappears and returns when the bottom sheet closes.
When using the workaround there is a FAB in both cases and

[2020-11-02 13:48] #69486 closed

[2020-11-02 13:50] anon-000 commented on #69487
I would like to be assigned to this issue if there is no response from the assignee.

[2020-11-02 13:54] kqureshi14 commented on #66253
i am also experiencing the same, do you think it mean i also have to remove the  in_app_purchase: ^0.3.4+16 and shift to flutter_inapp_purchase: ^3.0.0 please advise, as major problem why it asking for parent & guardian permission as i not set any family sharing on my iPhone.

[2020-11-02 13:55] TheCGDF commented on #63500
We are using CDN so that we cannot control the final header. CDN will always dismiss our Cache-Control in header.

[2020-11-02 13:55] Tokol commented on #69519
@TahaTesser i could not run ios app, previous it was fine after upgrading flutter the problem arises, nothing wrong in the codebase i think,

[2020-11-02 13:55] seonar22 commented on #69490
I would like to be assigned to this issue.

[2020-11-02 14:00] TahaTesser commented on #69379
Hi @romanpozd-tg17
This seems to be an issue with your signing, please make sure execute `flutter build ios` in the module and  you've no team id,s selected, has no errors there

I just followed https://flutter.dev/docs/development/add-to-app/ios/project-setup#embed-the-flutter-module-in-your-existing-application in a new project on the latest stable, had no issues when generating and running on t

[2020-11-02 14:01] NicolasDionB commented on #32274
Well it does work well for most of the rendering, texts and lines mostly, it's a loss for images as you lose the anti-aliasing (bluring) when scaling an image. So for me, it was better for displaying images without the fix since I use bigger images that I down-scale and even one smaller image that is up-scaled (I know it's bad but don't really have control on that one!). So a real fix would be bet

[2020-11-02 14:02] tudor07 opened #69574 "Support HTTP calls in flutter_test"
Hi,
I want to create `flutter_test` tests that use a real backend. For this I need to be able to run real HTTP requests from inside the tests.
Right now, all HTTP requests are mocked to return 400 status code.

There was a workaround discussed here: https://github.com/flutter/flutter/issues/35318
The workaround was about adding `HttpOverrides.global = null;`, but it seems this no longer works.

Al

[2020-11-02 14:03] NicolasDionB commented on #32274
The issue is closed but even using the latest stable build, I still have the issue. Is it supposed to be fixed in 1.22.4?

[2020-11-02 14:04] TahaTesser commented on #64129
Could everyone who still has this problem please file a new issue with the exact description of what happens, logs, and the output of `flutter doctor -v`.
All system setups can be slightly different, so it's always better to open new issues and reference related issues.

[2020-11-02 14:05] hinadong commented on #69368
Hi @TahaTesser
I am very confused with the problem. I'm sorry, I just can't provide more information now!  If I get more infomation in the future, will post a new issue ! Thanks!  The issuse page can be closed instantly.

[2020-11-02 14:05] alistairholmes commented on #69487
I had responded and working on the issue mate

[2020-11-02 14:07] pedromassangocode commented on #69571
Reproducible on master.

<details><summary>Logs </summary>

[code]
</details>

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-11-02 14:07] TahaTesser commented on #69371
@sandijs-private  @dcarriola  @leorachit
This is not for the fixed simulator,  there is an open issue for it https://github.com/flutter/flutter/issues/65995#issuecomment-704589211

[2020-11-02 14:07] ThexXTURBOXx commented on #69431
Also tested on COL-L29 (Honor 10) with Android 9, EMUI 9.1.0.
Same crash: https://pastebin.com/pbKz4ZJG

How can I simulate a three-finger gesture in the emulator or is that even possible?

[2020-11-02 14:16] superakabo commented on #69412
![](https://raw.githubusercontent.com/superakabo/bugshots/main/bouncing.gif)
![](https://raw.githubusercontent.com/superakabo/bugshots/main/nobouncing.gif)

@darshankawar @ManuLpz4

[2020-11-02 14:16] hatimkh20 commented on #69329
bro it still didn't work. now i am installing windows again :(

On Mon, Nov 2, 2020 at 6:14 PM darshankawar <notifications@github.com>
wrote:

[2020-11-02 14:19] yash1200 commented on #69572
If the issue get proposal label then I would like to work on this issue

[2020-11-02 14:21] hamdikahloun commented on #66322
Hi,

I'm not able to reproduce the issue .

Simple : https://github.com/bizz84/image-picker-demo-flutter.git
Plugins : `image_picker: ^0.6.7+12`
Device : Galaxy S5 Android 6.0.1

<details>
  <summary>flutter doctor -v</summary>

[code]
</details>

[2020-11-02 14:25] superakabo commented on #69412
I have also noticed a wrong scroll behavior when
1. The reverse property of a ListView is set to true, thus (reverse: true).
2. The SliverOverlapAbsorber and SliverOverlapInjector widgets are used in a NestedScrollView.

[2020-11-02 14:30] derolf commented on #44472
Yes, error is still present. Please reopen. Example:

[code]

[2020-11-02 14:34] oom- opened #69577 "TextFormField should be validate independently of the form"
## Use case

I have a huge `Form` with a lot of `TextFormField`, my `validator` callback is checking if the length of the actual text is empty + has matches with Regex.

If I set up the `autovalidateMode` of my `Form` to ` AutovalidateMode.always` all my TextFormField turn red instantly (because they are all empty).
But I want to call the validator of the actual field `onChanged` event.

This allo

[2020-11-02 14:35] pedromassangocode commented on #69429
Cc @Hixie @HansMuller

[2020-11-02 14:38] TahaTesser commented on #57088
Hi @yashugarg
Please check out [contributor's guide](https://github.com/flutter/flutter/blob/master/CONTRIBUTING.md)
Verify the docs aren't already on the master API docs website https://master-api.flutter.dev/
You can begin locating docs https://master-api.flutter.dev/flutter/flutter_test/flutter_test-library.html and creating PR  for it

[2020-11-02 14:40] oakstair commented on #64129
This is what our developer who has now coded around this bug stated:

In the latets flutter version, **inkwell** can not be dragged with an effect (onTap, onHover, onLongPressed)

[2020-11-02 14:41] sidrao2006 commented on #69577
@oom- , have you tried using `AutoValidateMode.onUserInteraction`? Does that solve your problem?
Thanks

[2020-11-02 14:44] Abdulbasit096 opened #69578 "My app is working fine on debug but release version only shows a white screen"
![image](https://user-images.githubusercontent.com/55397611/97881074-bf093c80-1d43-11eb-9b96-16ce1d95e747.png)

[2020-11-02 14:44] TahaTesser commented on #44472
Could everyone who still has this problem please file a new issue with the exact description of what happens, logs, and the output of `flutter doctor -v`.
All system setups can be slightly different, so it's always better to open new issues and reference related issues.

[2020-11-02 14:45] TahaTesser commented on #69393
Hi @gayatri2610
This would be fixed by https://github.com/flutter/flutter/issues/27896
Closing as duplicate of https://github.com/flutter/flutter/issues/27896

[2020-11-02 14:45] #69393 closed

[2020-11-02 14:47] TahaTesser commented on #69551
Hi  @tharwatsamy
@iapicca made some good points, can you please provide more details and try this above code sample

[2020-11-02 14:51] Brian3647 opened #69579 "[tool_crash] FileSystemException: Cannot copy file to 'C:\Users\user\Documents\app dev\myapp\android\app\src\main\res\mipmap-hdpi\ic_launcher.png', OS Error: Acceso denegado., errno = 5"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot copy file to 'C:\Users\Victor\Documents\app dev\myapp\android\app\src\main\res\mipmap-hdpi\ic_launcher.png', OS Error: Acceso denegado.
, errno = 5
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2020-11-02 14:51] Brian3647 commented on #69579
I use vs code

[2020-11-02 14:55] TahaTesser commented on #69572
Hi @oom-  @yash1200
I see there's an open issue addressing the case you described. https://github.com/flutter/flutter/issues/68057
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-11-02 14:55] #69572 closed

[2020-11-02 14:57] sidrao2006 commented on #69579
Duplicate of #68099
Hey @Brian3647 , I found an open issue addressing this problem. Please post the output of `flutter doctor -v` and follow up there.

Thanks.

[2020-11-02 14:58] TahaTesser commented on #68057
@feinstein
I think you can expand your proposal from https://github.com/flutter/flutter/issues/69572
so  InputDatePickerFormField in one flow in a form

[2020-11-02 14:58] sidrao2006 commented on #69578
Hello @Abdulbasit096 ,
Could you please try updating to the latest beta with `flutter upgrade`, post the output of `flutter run -v` and a provide complete minimal reproducible code sample?
Thank you!

[2020-11-02 15:03] wildefucker opened #69580 "[web] Iframe doesn't work when compiling with canvaskit"
Describe your issue and include the command you're running, flutter_web version, browser version
The iframe that allows handling video are unresponsive after compiling using:
flutter run -d Chrome --dart-define=FLUTTER_WEB_USE_SKIA=true --release, although work in the non release versions.
 Browser Version 86.0.4240.111 (Official Build) (64-bit)

[2020-11-02 15:04] owenkealey commented on #61795
I think this issue falls is because of a more general issue with the design of the framework itself. When the state of a widget changes, flutter doesn't change the widget, but discards it and makes a new one. This is fine for lightweight text widgets and such, but for webviews it means creating and destroying a webview every time the page is scrolled potentially.

https://stackoverflow.com/a/56995

[2020-11-02 15:14] f0rx commented on #38684
This feature should be enabled!
Commenting the assertion in Hero class doesn't produce a bug, so Why?

[2020-11-02 15:15] jayjun commented on #67624
I’ve narrowed it down to `libswiftCore` crashing in Flutter plugins. Minimal reproduction [here](https://github.com/jayjun/ios14-crash).

**Steps to reproduce**

1. `flutter create` a new project.
2. Create `FooPlugin` subclass of `FlutterPlugin` in Swift.
3. Add `FooPlugin.register(with: registrar(forPlugin: "foo")!)` to the `AppDelegate` launch callback.
4. `flutter run` then quit.
5. Launch app

[2020-11-02 15:20] TahaTesser commented on #69574
Hi @tudor07
I can reproduce the issue, the workaround doesn't work on the latest `http
From https://timm.preetz.name/articles/http-request-flutter-test  and https://github.com/flutter/flutter/issues/19588#issuecomment-406771070

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[2020-11-02 15:23] Brian3647 commented on #69579
@sidrao2006
flutter doctor -v
[√] Flutter (Channel stable, 1.22.3, on Microsoft Windows [VersiÃ³n 10.0.18363.1139], locale es-ES)
    • Flutter version 1.22.3 at C:\src\flutter
    • Framework revision 8874f21e79 (4 days ago), 2020-10-29 14:14:35 -0700
    • Engine revision a1440ca392
    • Dart version 2.10.3

[√] Android toolchain - develop for Android devices (Android SDK version 30.0.0)
    •

[2020-11-02 15:23] ycv005 commented on #68876
I have release my app, and its automatically solved. Thanks for help

[2020-11-02 15:23] #68876 closed

[2020-11-02 15:24] TahaTesser commented on #69577
Hi @oom-
I think it's not the solution to add validate`TextFormField` itself
Can you please `onUserInteraction` ?
Thank you

[2020-11-02 15:25] TahaTesser commented on #69579
Hi @Brian3647
I see there's an open issue addressing the case you described. https://github.com/flutter/flutter/issues/68099
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-11-02 15:25] #69579 closed

[2020-11-02 15:27] TahaTesser commented on #69578
Hi @Abdulbasit096
If you're loading from network, please make sure you've internet permissions
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-11-02 15:28] TahaTesser commented on #69580
Hi @wildefucker
Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-11-02 15:34] prascuna opened #69582 "[web][regression] json_serializable enum decoding stopped working"
## Steps to Reproduce

After a recent flutter upgrade, `json_serialization`'s generated code fails to decode enums.
It works fine on Android, but it fails on web. It was working fine on web until a few versions ago.
Currently I'm on master branch

1. Run `flutter create bug`.
2. Update the files as follows: ...
[code]
File generation with the following command:
[code]
pubspec.yml
[code]
3. ...

**

[2020-11-02 15:44] jonahwilliams commented on #67322
We managed to roll package:vm_service last week which will unblock adding these APIs

[2020-11-02 15:50] neumartin commented on #47251
I finally create a new app and manually copy my code files, and works.

[2020-11-02 15:53] anon-000 commented on #69487
Nice : )  Keep contributing  👍

[2020-11-02 16:03] #69361 closed

[2020-11-02 16:24] zanderso commented on #69205
This appears to be due to https://github.com/flutter/flutter/pull/69126 not https://github.com/flutter/engine/pull/22118. https://github.com/flutter/flutter/pull/69237 did not appear to help. /cc @jonahwilliams

[2020-11-02 16:25] zanderso commented on #69204
https://github.com/flutter/flutter/pull/69237 did not appear to help. /cc @jonahwilliams

[2020-11-02 16:34] karmazinkd commented on #62107
I was updating a `Uint8List imageData;`  variable in real-time and rendered it with `Image.memory` to the screen and every time the image was updated the allocated memory increased and never released.

![image](https://user-images.githubusercontent.com/15160049/97892991-6634a680-1d39-11eb-8658-71f2551a26ba.png)

Eventually, the app crashes due to an out-of-memory exception.

If you want to reprodu

[2020-11-02 16:43] xster commented on #42430
Sure, removing that assert sounds reasonable to me.

[2020-11-02 16:45] kf6gpe opened #69583 "Possible regression in stock_layout_iteration notifyListener2_iteration microbenchmarks"
https://flutter-flutter-perf.skia.org/e/?begin=1603932125&end=1604318285&keys=Xf555aa9061b837985935b1cb021d49cf&requestType=0&xbaroffset=22298

Looks like it's no longer bimodal, and slightly over the peaks before.

Could be this engine roll, maybe? https://github.com/flutter/flutter/pull/69418

[2020-11-02 16:49] kf6gpe opened #69584 "linux_chrome_dev_mode windows_chrome_dev_mode SecondStartupTime regressions..."
https://flutter-flutter-perf.skia.org/e/?begin=1603931826&end=1604318285&keys=X38049179c4cfa0117ce7066e6ed46258&requestType=0&xbaroffset=22297.

Might be a test issue? It occurs at https://github.com/flutter/flutter/pull/69405.

@jonahwilliams I hate to throw this one to you; it seems like I pick on you a lot for these. But this went up at your commit. When you have a minute can you comment and le

[2020-11-02 16:50] xster commented on #63507
SF Pro has always been the Cupertino package's default font. Closing. Please re-open if I misinterpreted.

[2020-11-02 16:51] markszenteTB opened #69585 "Provide method and/or config to programmatically scroll to ListView index"
Hello,

I know there is already a (now closed) issue with the same name, #12319. The issue righty mentions how there are ways to accomplish the required functionality when developing native apps for iOS and Android. However, the issue was closed, since [scrollable_positioned_list](https://pub.dev/packages/scrollable_positioned_list) was released. I am sure it does for some, but there use cases it

[2020-11-02 16:52] #31950 closed

[2020-11-02 16:55] kf6gpe opened #69586 "all_elements_iteration MatrixUtils_affine_transformRect_iteration MatrixUtils_persp_transformPoint_iteration regressions in microbenchmarks microbenchmarks_ios"
See https://flutter-flutter-perf.skia.org/e/?begin=1603922986&end=1604318285&keys=X240a894f758f176e8e069a4a26976380&requestType=0&xbaroffset=22291. Looks like engine roll https://github.com/flutter/flutter/pull/69353.

[2020-11-02 16:55] chunhtai commented on #69452
@matthew-carroll have you tried precacheImage?

[2020-11-02 16:57] rp3droso commented on #38803
Wow.. I know is not the perfect solution, but I managed to create the situation that you want the user to see, in other words, the user chooses an item on the wheel and when tapping something happens exclusively related to this item. In my case, I wanted the wheel to be a menu and call up other screens. That's what I managed to do. The solution may not be a response per child, but it simulates ver

[2020-11-02 17:00] zanderso commented on #69583
There was a big Dart roll in that engine roll https://github.com/flutter/engine/pull/22213, and a couple of commits later was the null-safety flag-flip, which should also be investigated.

[2020-11-02 17:01] pcsosinski commented on #68916
is this fixed?  I don't think we need to do any cherrypicking for an infra fix?  @christopherfujino fyi

[2020-11-02 17:03] dnfield commented on #69205
I'm a bit confused about how a client side change to the driver implementation could cause a perf regression.

[2020-11-02 17:04] YeungKC commented on #54204
@tomaash
I don't know much about this and may need a material design design benchmark to determine this.
I don't seem to have found any instructions for this at https://material.io/components/menus#exposed-dropdown-menu.

Maybe @willlarche knows more?

[2020-11-02 17:04] EDnny12 opened #69587 "Problem with android 8 devices"
I’m have this problem: reports in my play console: a5xcontext::hwpatchfordirectrendering(esxrenderbucket*, esxlinkedlist*, unsigned int)

Now only android 8

[2020-11-02 17:05] zanderso commented on #69586
These microbenchmarks might have been affected by the VM/compiler changes in the Dart roll here https://github.com/flutter/flutter/pull/69353: https://dart.googlesource.com/sdk.git/+log/6e015bd9cddb..9c6e76468ca4

[2020-11-02 17:07] zanderso commented on #69205
@liyuqian might have a good understanding of how this could happen.

[2020-11-02 17:14] deakjahn commented on #47251
I also managed in the end, but the wording was far from clear. :-) It seems that if you have restrictions on what iOS version you support, the `plist` generated by Flutter isn't necessarily and automatically correct. I only had problems with the app that supports iOS from version 11. In those cases, yes, you (may?) have to manually fix the `Info.plist`.

[2020-11-02 17:17] dnfield commented on #35318
Let's track this in the new bug you filed.

[2020-11-02 17:18] #68310 closed

[2020-11-02 17:20] #67163 closed

[2020-11-02 17:25] dnfield commented on #69574
I'm not able to reproduce this using only `dart:io`.

I strongly suspect what yo'ure running into is that flutter_test sets up fake async zones, and http requests do real async work. That will get you stuck in your test. However, the following test behaves as expected:

[code]

Note the `tester.runAsync` block in there.

If you use package:integration_test, you won't have to do the override, but y

[2020-11-02 17:25] #69574 closed

[2020-11-02 17:25] gaaclarke commented on #69449
@cyanglaz Yes, sort of.  It is possible that this problem only manifests with my usage.

[code]
versus
[code]

[2020-11-02 17:25] CaseyHillers commented on #68341
I created a design doc to discuss the uploading results section. Most information will be carried over from the general LUCI documentation.

[2020-11-02 17:25] #68341 closed

[2020-11-02 17:25] dnfield commented on #69574
(without the tester.runAsync block, this test will just hang until it times out)

[2020-11-02 17:39] ferhatb commented on #69570
See https://github.com/flutter/engine/pull/22248

[2020-11-02 17:40] chunhtai commented on #69058
@dgaedcke I don't see why you want to destroy material app subtree in this case, you just need to swap out the page list in the Navigator you created in the RouterDelegate, or like you said, swapping out the RouterDelegate, but doing that alone will not destroy the material app.

[2020-11-02 17:40] christopherfujino commented on #68916
Oh wow, @godofredoc the stable docs have the branch name fixed. how did that happen? master still has no branch...

[2020-11-02 17:40] jonahwilliams opened #69589 "LUCI tasks queued for multiple hours"
For example: https://github.com/flutter/flutter/pull/69547 . They don't seem to be running at all.

[2020-11-02 17:49] markathomas commented on #17234
So I have Debug and Release build configs but also Pods-Runner.{debug,release,profile} which it was set to so changing the debug and release to Debug and Release, respectively, solved the issue.

[2020-11-02 17:53] #69145 closed

[2020-11-02 17:58] yash1200 commented on #69480
I would like to be assigned to this issue if there is no response from the assignee.

[2020-11-02 18:00] dnfield commented on #63122
Another thing that affects this: we don't snap to physical pixels.

[2020-11-02 18:11] xster commented on #43257
We'd like to help but unfortunately without any concrete details such as a a local reproduction project or a callstack, there isn't any action the Flutter team can take. Closing this issue. Please feel free to re-open if you have any reproduction steps to share.

[2020-11-02 18:11] #43257 closed

[2020-11-02 18:14] Hixie commented on #68259
@Sameerkash please feel free to do so!

[2020-11-02 18:15] dnfield commented on #62107
@karmazinkd - this may be a different bug, please file a new bug with a complete reproduction, feel free to /cc me.

To everyone else:

This is "WAI" behavior. Images will use the size of their decoded representation in memory until they're no longer in the cache/in the widget tree/held by something in your program.

We have made improvements to more aggressively GC image related memory, which sho

[2020-11-02 18:16] liyuqian commented on #69205
It's likely that the driver change caused different frames to be measured. For example, previously we've seen similar changes when e2e (integration_test) replaces the old driver perf test: e2e is faster, and the test ended up measuring more frames which changes the frame time distribution.

It might also be a bug in the tool similar to https://github.com/flutter/flutter/issues/69206. But I think t

[2020-11-02 18:17] Hixie commented on #69429
@HerrNiklasRaab We will need more information to help here, for example, some profiles and traces of running the tests in question to see where the time is going.

It would also be good to have an estimate of how long each test _should_ take. Is it reasonable for a test to take 250ms on average? Or should it be faster? Also, it would be useful to know whether you get different performance by chang

[2020-11-02 18:17] gaaclarke commented on #69449
SetFlutterView is getting called on the main thread, SubmitFrame is getting called on the raster thread.  The datatype itself isn't threadsafe ([declared here](https://github.com/gaaclarke/engine/blob/114cc1b9e55b7d0b8e9b16dc304a67a1584e59fe/shell/platform/darwin/ios/framework/Source/FlutterPlatformViews_Internal.h#L208:L208)).

Here's the stack traces for the normal flow:
<details>
<summary>SetFl

[2020-11-02 18:19] godofredoc commented on #69589
This is not related to capacity there are many bot available:

![image](https://user-images.githubusercontent.com/54371434/97904091-dc62ea00-1cf4-11eb-991b-8ddcc1738c61.png)

[2020-11-02 18:20] dnfield commented on #69205
That sounds like we can reduce the priority on this and sort out a more consistent way to measure this benchmark. Is that fair?

[2020-11-02 18:21] johnpryan commented on #69472
@Sameerkash We'll mark this issue as closed. It was added to the list because of its short doc comment. Thanks for looking into this!

[2020-11-02 18:21] #69472 closed

[2020-11-02 18:23] xster commented on #23833
I'm going to close this issue since it's a generic Android issue rather than a Flutter issue. Generally, if you want to launch an activity from without the process itself via 'adb' or some other Intent, you need to set android:export to true. If you don't intend to com.yalantis.ucrop.UCropActivity, then you need to select your intended launch activity by editing the launch options in edit configur

[2020-11-02 18:23] #23833 closed

[2020-11-02 18:26] johnpryan commented on #69477
@cv692001 No problem, don't hesitate to ask questions in the [Discord channel](https://discord.com/channels/608014603317936148/771798504355528704)

[2020-11-02 18:27] marcos930807 commented on #43620
Same for me this issue come back after 1.22. On very big project de Analyzer, just Stop and then, after restart debbugin is very slow.

[2020-11-02 18:29] romanpozd-tg17 commented on #69379
finally found a solution for this issue:

added this run script to Build phases:

[code]

and finally the code sign worked for me.

[2020-11-02 18:32] godofredoc commented on #69589
Seems like builbucket is failing:

[code]

[2020-11-02 18:33] chunhtai commented on #45938
@jacobaraujo7 It looks like a bug with the default transition delegate. Can you file a new issue for this? and also please ping me on the issue, so i can follow up on it.

[2020-11-02 18:33] LongCatIsLooong commented on #66144
This bug is likely introduced in: https://github.com/flutter/flutter/pull/52126 (merged on April 20). It disrupts the user flow, as it moves the focus to the wrong text field.
However, it
- Supposedly only affects iOS.
- Is not devastating, as it does not seem to crash the app or render the app unusable.

Also as was pointed out in a comment, it's easy to mistake this issue for a different issue w

[2020-11-02 18:35] chinmaygarde commented on #69586
@jason-simmons attempted to reproduce this regression at the specified commit and was not successful. He was using Android (Moto G4 armv7). @liyuqian, Do you know which device these benchmarks run on? @zanderso suspects that this may be VM related and possible to reproduce on an 64 bit device.

[2020-11-02 18:38] johnpryan commented on #69492
@nayakastha That's okay, we can assign it to the next volunteer. Thanks for participating.

[2020-11-02 18:42] jonahwilliams commented on #69584
I'm going to downgrade the priority and investigate separately, this is not a regression that would block a release

[2020-11-02 18:43] chinmaygarde commented on #69583
Per @jason-simmons, the purpose of this microbenchmark is hard to ascertain. It was bimodal before and not it is consistently settling at the higher value. On his local runs, it was still bimodal. We need the Dart VM teams help to understand this but we aren't even sure if this is measuring something useful.

[2020-11-02 18:45] willlarche commented on #54204
Can you email me the Q you have and I'll send it to the desginers?

[2020-11-02 18:47] dnfield commented on #69204
Seems like the same problem discussed in https://github.com/flutter/flutter/issues/69205#issuecomment-720641300

[2020-11-02 18:48] chinmaygarde commented on #69204
Duplicate of https://github.com/flutter/flutter/issues/69205

[2020-11-02 18:48] #69204 closed

[2020-11-02 18:49] dnfield commented on #69205
@liyuqian do we have a bug open tracking using a more stable way of measuring frame times, or should we use this one?

[2020-11-02 18:50] ferhatb opened #69590 "[web] Missing e2e Image.network test"
Image.network broke during null safety update.
Fixed in https://github.com/flutter/engine/pull/22252

## Steps to Reproduce

https://github.com/flutter/flutter/issues/69571
Use Image.network in debug build.

[2020-11-02 18:50] jwinarske commented on #69408
I'm cross compiling the flutter engine.  The commit I referenced refers to beta channel.

[2020-11-02 18:50] dnfield commented on #69205
And if we use this bug, is there a more appropriate title we can use?

[2020-11-02 18:52] liyuqian commented on #69586
According to https://github.com/flutter/flutter/blob/8291f4810f5107d2df498d383c4a656c92f22c90/dev/devicelab/manifest.yaml#L380 `microbenchmarks` perf test is running on a Moto G4 that's connected to a Mac Mini host.

[2020-11-02 18:53] jmagman commented on #63541
@yashugarg Probably a `_logger.printStatus` around https://github.com/flutter/flutter/blob/de5bf09e7a022511723fdf48e16034f3a36145d9/packages/flutter_tools/lib/src/device.dart#L294-L295

Try playing around with it, and ask specific questions if you have them. "please guide me" may as well mean "please do this for me and put my name on it" 😉

[2020-11-02 18:53] YeungKC commented on #54204
I've sent the email.

[2020-11-02 18:56] chinmaygarde commented on #69102
This looks live the engine attempting to perform a texture upload while in the background. The request may have been initiated as application was moving into the background. I still see the sync switch being used so we should have been resilient to this. Needs more investigation as it could be a different issue.

[2020-11-02 18:56] liyuqian commented on #69205
AFAIK, there isn't an issue that tracks the inconsistency of measuring frame times when the tool is changed. If we use this issue for that, I think we should first figure out what caused this regression/inconsistency, and then maybe we can change the title to be something like "Fix XXX inconsistency and guard future problems like this".

[2020-11-02 18:56] Hesamedin commented on #14947
@realcarlos, would you please tell me how did you do that?
My app crashes a similar way when I click on the button. Thanks.

[2020-11-02 18:57] chinmaygarde commented on #69102
cc @cyanglaz or @gaaclarke: Are you able to investigate this? If not, I attempt to reproduce it.

[2020-11-02 18:59] chinmaygarde commented on #68970
cc @blasten: Are you blocked on this investigation?

[2020-11-02 19:01] chinmaygarde commented on #68649
Will track this in the Skia sync later today.

[2020-11-02 19:02] chinmaygarde commented on #67579
@liyuqian put a doc out for this and is working on it this quarter.

[2020-11-02 19:02] jmagman opened #69593 "Wire up "flutter build apk --extra-gen-snapshot-options""
To migrate Golem code size benchmarks off deprecated `flutter build aot` to `flutter build apk`, add `--extra-gen-snapshot-options` to that command.

[b/172093077](https://buganizer.corp.google.com/issues/172093077)

\cc @jonahwilliams

[2020-11-02 19:03] liyuqian commented on #67579
This will be closed by https://github.com/flutter/engine/pull/22240 soon.

[2020-11-02 19:03] dnfield commented on #69205
In that case let's close this - if we see that there is continued inconsistency with the new changes, we can open a more focused bug to investigate.

[2020-11-02 19:03] #69205 closed

[2020-11-02 19:04] chinmaygarde commented on #63581
Update: I attempted a roll but the flags changed in the meantime which require another buildroot update. We are going to keep running into this issue till we use a consistent compiler frontend for all platforms. I will attempt another buildroot update and attempt landing this again.

[2020-11-02 19:12] christopherfujino commented on #63541
Hi @yashugarg, thanks for your willingness to contribute. However, if you're not show how to fix this particular issue, perhaps you should start with an issue that you have more context around. The best way to start contributing code to Flutter is to fix a problem that you have with your Flutter app, and then submit that fix upstream.

[2020-11-02 19:17] chinmaygarde commented on #64651
This looks like a crash in the simulator framework itself.

[code]

[2020-11-02 19:20] cyanglaz commented on #69102
@chinmaygarde I haven't, please go ahead :) Thank you!

[2020-11-02 19:20] chinmaygarde commented on #68603
Closing as fixed per @mit-mit s comment

[2020-11-02 19:20] #68603 closed

[2020-11-02 19:29] JonathanPeterCole commented on #56662
I recently ran into this issue and this is the best solution I've come up with so far. It's not ideal as it still involves two rebuilds, but the state is maintained:

[code]

[2020-11-02 19:36] chinmaygarde commented on #61229
cc @cbracken

[2020-11-02 19:47] AggroFront commented on #67308
i had the same problem.

I solved that problem by putting "App signing Key" to OAuth 2.0 Client ID SHA-1 finger print instead of signed key which was generated by using keytool. If you have checked "Google Play App Signing" in Google Play Console, the usual signed key will not work.
Check out your App signing Key in Google Play Console>App signing>App signing certificate and then copy SHA-1 certif

[2020-11-02 19:55] zrayburn commented on #63259
I know this issue is closed but in my environment, CentOS core, I use NFS storage for just about everything and something about flock freaks out when in such an environment. I fixed this by going into <FLUTTER HOME>/bin/internal/shared.sh and commenting out lines 45-49 and line 51 which effectively forces flutter to use the basic mkdir lock method.
In summary, flutter assumes that just because flo

[2020-11-02 19:57] justinmc commented on #66111
@Z3rolive Have you tried [panEnabled](https://master-api.flutter.dev/flutter/widgets/InteractiveViewer/panEnabled.html)?

However, your problem sounds like it's getting into difficult territory like https://github.com/flutter/flutter/issues/68594.  It could be more tricky.

[2020-11-02 20:02] keyonghan opened #69595 "[coccon] Cloud build fails when building app based on latest flutter dev channel"
[code]

[2020-11-02 20:04] jason-simmons commented on #69586
The Skia dashboard link above is showing a 25% increase in the `microbenchmarks`/`all_elements_iteration` metric on Android starting at https://github.com/flutter/flutter/commit/e444b1e3fa6f0478c885565a78498480591cc980

I have not been able to reproduce this on the 32-bit (Moto G4) and 64-bit (Nexus 5x) devices that I've tried.  The results on the Nexus 5x have been bimodal but I have not found a

[2020-11-02 20:09] yaxum commented on #69494
[√] Flutter (Channel stable, 1.22.2, on Microsoft Windows [Version 10.0.19041.572], locale sv-SE)
    • Flutter version 1.22.2 at C:\src\flutter
    • Framework revision 84f3d28555 (3 weeks ago), 2020-10-15 16:26:19 -0700
    • Engine revision b8752bbfff
    • Dart version 2.10.2

[√] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
    • Android SDK at C:\Users\yaxum\A

[2020-11-02 20:10] treeplate commented on #69546
Actually, the problem is when you are at the end of the text field and you `clear` the controller

[2020-11-02 20:12] yaxum commented on #69494
flutter_app>flutter run --verbose
[ +188 ms] executing: [C:\src\flutter/] git -c log.showSignature=false log -n 1 --pretty=format:%H
[  +97 ms] Exit code 0 from: git -c log.showSignature=false log -n 1 --pretty=format:%H
[   +1 ms] 84f3d28555368a70270e9ac8390a9441df95e752
[   +1 ms] executing: [C:\src\flutter/] git tag --points-at HEAD
[  +69 ms] Exit code 0 from: git tag --points-at HEAD
[   +1 m

[2020-11-02 20:13] yaxum commented on #69494
name: flutter_app
description: A new Flutter application.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separat

[2020-11-02 20:14] yaxum commented on #69494
My file with the code I want to share takes to much space. It is cleaned to a MVP but it is still to bigg...

[2020-11-02 20:29] keyonghan opened #69597 "Create a flutter package to check devicelab test bed healthiness and implement recovery logic"
While migrating devicelab to LUCI, we are deprecating `agent` in devicelab bots.

Test bed healthiness has been implemented in cocoon `agent`, and we need to enable/expand that logic in LUCI side as well.

This is track the above process: instead we will create a tool in `flutter/packages` to check test bed healthiness and implement recovery mechanisms to get the test beds back to a working state.

[2020-11-02 20:31] yjbanov opened #69598 "CanvasKit fonts.dart is missing unit-tests"
There were a couple of runtime errors in the past couple of days (https://github.com/flutter/engine/pull/22251, https://github.com/flutter/engine/pull/22248), which could be caught by a test.

[2020-11-02 20:50] sanekyy commented on #69571
same issue

[2020-11-02 20:51] mit-mit opened #69601 "Report Dart language version in analytics"
We'd like to be able to gauge null safety usage. With the experiment flag being removed, that won't give us an indication. It would be great if we could track the language version that an app is being run/analyzed/build (basically any action that analysis/compiles Dart code).

[2020-11-02 20:51] boukeversteegh commented on #32274
The snippet should be in the `<head>` block. If it doesn't work, for some reason, you might have different element names. Perhaps a version changed some things, but you can adapt the style rule to match different elements.

How i figured out the element was by opening the website in Chrome, opening dev tools, then selecting the canvas element where flutter renders its output. Then I tried adding t

[2020-11-02 20:52] #69434 closed

[2020-11-02 20:52] CaleyD commented on #64471
This is coming from 1.22.0 and I have no idea how to reproduce but I can confirm it happens regularly to our users from the evidence in our Crashlytics logs.

[2020-11-02 20:53] pcsosinski commented on #69570
@ferhatb will 22248 address https://github.com/flutter/flutter/issues/69571 as well?

[2020-11-02 20:55] jonahwilliams commented on #69601
Since different libraries can be opted into different versions, I assume we want the single language version from the SDK constraint in the pubspec.yaml?

[2020-11-02 21:00] mit-mit commented on #69601
I think the best would be the language version of the entry point root package. I think it may be easier to get this from `.dart_tool/package_config.json` (this is from a Dart app called `pubs`):

[code]

?

[2020-11-02 21:00] YeungKC commented on #57677
@guidezpl  I can't reproduce this issue on the master branch, could you provide reproducible steps?

[2020-11-02 21:00] mit-mit commented on #69601
cc @lrhn @leafpetersen if they have thoughts on this

[2020-11-02 21:02] edwardaux commented on #69541
Sadly, no. See logs below

[code]

[2020-11-02 21:02] oroblesr commented on #69480
I'm working on the task

[2020-11-02 21:06] jamesdixon commented on #38987
@lukepighetti did you ever find a way around this? So many new camera features and seemingly little option to take advantage of them.

[2020-11-02 21:06] cletcher opened #69603 "ColorFilter.matrix does not work in CustomPainter on web"
Code below, works on android (filter is applied to image):
<img width="312" alt="android-filterworking" src="https://user-images.githubusercontent.com/10778223/97918594-f9f77a00-1d1b-11eb-9b70-13c1d316e711.png">

colorFilter in customPainter does nothing on web (shows original image, no filter)
<img width="328" alt="web-filternotworking" src="https://user-images.githubusercontent.com/10778223/9791

[2020-11-02 21:06] YeungKC commented on #13076
This issue cannot be reproduced on the master branch, it may have been fixed, please retest.

<details>
  <summary>log</summary>
  flutter: in onSubmitted

════════ Exception caught by widgets ═══════════════════════════════════════════════════════════════
The following message was thrown while calling onSubmitted for TextInputAction.done:
diediediediedie

When the exception was thrown, this was t

[2020-11-02 21:07] feinstein commented on #67497
@amitkot `AppBar` does surround it's contents into an `AnnotatedRegion`, but if you look into the `SystemUiOverlayStyle.light` source code you will see that status bar has `null` for it's color. This means the `AnnotatedRegion` inside the `AppBar` won't change the color, if you managed to set one.

As I said before you can set your status bar color to transparent and it should be respected afterwa

[2020-11-02 21:08] YehudaKremer commented on #63672
Hello, i created simple pub package called "msix" that easily create an msix installer file for flutter.
take a look: [https://pub.dev/packages/msix](https://pub.dev/packages/msix)

[2020-11-02 21:08] albertalrisa commented on #69395
Hi @xu-baolin,

While I can confirm that the bug shows up when running my repro code in a newly downloaded `1.12.13+hotfix.4` flutter, I'm sorry but can't run the test on my previous setup.

Since I only kept one Flutter installation (which I updated to 1.22), I can't replicate the exact setup that I previously used. In addition, the actual code base where I previously found the bug has also been

[2020-11-02 21:12] YeungKC commented on #13076
This issue does not reproduce on the master branch and has been fixed at #66851, please close the issue.

<details>
  <summary>log</summary>
  flutter: in onSubmitted

════════ Exception caught by widgets ═══════════════════════════════════════════════════════════════
The following message was thrown while calling onSubmitted for TextInputAction.done:
diediediediedie

When the exception was thrown

[2020-11-02 21:13] #55362 closed

[2020-11-02 21:18] spiderion opened #69605 "video_player keeps playing video when app is closed Android"
1. Initialize and play the video with looping set to true.
2. Try to exit the app using the android system back button.

**Expected results: Video/Audio should stop playing

**Actual results: Video/Audio keeps playing

[2020-11-02 21:23] #68182 closed

[2020-11-02 21:24] ManuPulido27 opened #69606 "[tool_crash] ArgumentError: Invalid argument(s): Cannot find executable for C:\Users\manup\Desktop\Flutter\flutter\bin\cache\dart-sdk\bin\pub.bat."
Hi, im having an issue after upgrading flutter, i cant use the command flutter pub get. And i also cant find the file C:\Users\manup\Desktop\Flutter\flutter\bin\cache\dart-sdk\bin\pub.bat..
Can anyone please help?

## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ArgumentError: Invalid argument(s): Cannot find executable for C:\Users\manup\Desktop\Flutter\flutter\bin\cache\da

[2020-11-02 21:32] hassanfaour commented on #62194
@Piinks Hi, what if We are trying to do the same but with ScrollablePositionedList which doesn't have a shrinkwrap, so the  ScrollablePositionedList works but when scrolling it the SliverPersistentHeader don't contract / extend what would you recommend us do.

[2020-11-02 21:35] gaaclarke commented on #69102
@chinmaygarde I gave it a quick look.  Looks like the syncswitch should be working based off of my understanding of iOS app lifecycle.  [Here is where it gets turned off](https://github.com/gaaclarke/engine/blob/114cc1b9e55b7d0b8e9b16dc304a67a1584e59fe/shell/platform/darwin/ios/framework/Source/FlutterEngine.mm#L850:L850) in appWillResignActive and appBecameActive.  There might be an app state we

[2020-11-02 21:40] amitkot commented on #19547
For now I've wrapped it with an `AnimatedSwitcher` for mimicking most of the animated effect `Scaffold` implements :

[code]

[2020-11-02 21:42] hamdikahloun commented on #69605
Hi @spiderion

Have you tried ?

[code]

[2020-11-02 21:43] feinstein commented on #68057
@TahaTesser do you mean a `textInputAction` ? I already added it into my PR.

[2020-11-02 21:45] bernaferrari opened #69611 "[Regression] runZonedGuarded + Firebase + Exception having issues with Null Safety"
It seems this commit
https://github.com/flutter/flutter/commit/324b78eb12618d3193c164a90e7bd22b3e11413c, which is more than welcome, is breaking some things.

We have:
[code]
And:
[code]
Yet, when that code is run, with invalid attributes, the widget temporarily crashes with the message below. That wasn't happening on Friday, or on the dev branch.

[code]

Tested on Flutter Web on both last beta a

[2020-11-02 21:55] spiderion commented on #69605
@hamdikahloun
yes and nothing happens.
The videoplayerController is not getting disposed.
It is only working if the dispose function is called before the back system button is tapped

[2020-11-02 22:00] godofredoc commented on #68916
Not sure, it may be that my manual updates worked and I thought it didn't work because I was looking at the wrong PR. Anyway if the hash and branch are correct we can close this bug.

[2020-11-02 22:05] PrinzKenny1 commented on #60700
@darkrevenger have you found a solution?

[2020-11-02 22:13] hamdikahloun commented on #69605
Can you please provide your `flutter doctor -v`, your `flutter run --verbose`, your `pubspec.yaml` and a minimal complete reproducible code sample?

Thank you

[2020-11-02 22:18] hamdikahloun commented on #69587
Hi @EDnny12

Can you please provide your `flutter doctor -v`, your `flutter run --verbose`, your `pubspec.yaml` and a minimal complete reproducible code sample?

Thank you

[2020-11-02 22:27] ferhatb commented on #69570
No a separate fix landed.

[2020-11-02 22:29] jeremyw24 commented on #67308
@AggroFront I owe you a beer - what a legend!

This is now working as expected.

[2020-11-02 22:37] spiderion commented on #69605
import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
import 'package:video_player/video_player.dart';

void main() {
  runApp(
    MaterialApp(
      home: _App(),
    ),
  );
}

class _App extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Scaffold(body: _BumbleBeeRemoteVideo());
  }
}

class _BumbleBeeRemoteVideo extends StatefulWi

[2020-11-02 22:39] liyuqian commented on #68890
Reducing priority as this benchmark recently dropped and increased again on some seemingly unrelated commits. There doesn't seem to be anything actionable other than trying to reproduce it locally. If we can't reproduce locally, something might be happening in our infra that caused these benchmark jumps.

[2020-11-02 22:40] spiderion commented on #69605
The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
ionolarus-MBP:vide_player_issue ionolaru$ flutter doctor -v
[✓] Flutter (Channel stable, 1.22.3, on Mac OS X 10.15.7 19H2, locale en-GB)
    • Flutter version 1.22.3 at /Users/ionolaru/flutter
    • Framework revision 8874

[2020-11-02 22:41] spiderion commented on #69605
The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
ionolarus-MBP:vide_player_issue ionolaru$ flutter doctor -v
[✓] Flutter (Channel stable, 1.22.3, on Mac OS X 10.15.7 19H2, locale en-GB)
    • Flutter version 1.22.3 at /Users/ionolaru/flutter
    • Framework revision 8874

[2020-11-02 22:43] gaaclarke commented on #69449
I tracked down the issue and I believe the problem can present itself on master although I don't know how likely it is with a typical full flutter app.  The normal flow is this:
- platform thread
  - [FlutterViewController viewWillAppear:]
  - [FlutterViewController viewDidAppear:]
    - AppLifecycleState.resumed
  - [FlutterViewController viewDidLayoutSubviews]
    - [FlutterViewController surfac

[2020-11-02 22:44] keyonghan commented on #69595
This is a regression. Just switched flutter to an earlier version.

[2020-11-02 22:45] liyuqian commented on #59404
If https://pub.dev/packages/scrollable_positioned_list fixes the jank here, this issue might be a duplicate of https://github.com/flutter/flutter/issues/52207 where the costly computation of variable extent caused the jank.

[2020-11-02 22:46] godofredoc commented on #68890
Did those metrics dropped last Thursday after 3:00 PM?

[2020-11-02 22:54] luigi-rosso opened #69615 "Flare in Stack - disappearing when widget tree repaints"
We had an issued filed with the Flare-Flutter library reporting animations disappearing when they are paused:
https://github.com/2d-inc/Flare-Flutter/issues/286

It turns out this only happens in a Stack (although there is some flickering in Row/Column too). Has Flutter introduced some view/widget caching that could be acting too aggressively?

We've traced through the paint calls and it seems lik

[2020-11-02 22:54] luigi-rosso commented on #69615
Code for repro in the video here: https://github.com/nt4f04uNd/flare_blink_bug

[2020-11-02 22:55] liyuqian commented on #65752
`pthread_setschedparam(pthread_self(), SCHED_RR, &param);` looks promising. I wonder how we can test this. For example, could we expect a significant improvement in rendering smoothness (e.g., average frame time, 90th frame time) of a simple Flutter animation that also has an intensive iOS background computation (https://flutter.dev/docs/development/packages-and-plugins/background-processes)?

[2020-11-02 22:55] GaryQian commented on #43887
cc @justinmc Did you want to take a look at this? This doesn't look like it needs much code changes, but more of a policy decision on whether to set the textSelectionHandleColor in the Cupertino theme derivation of Material theme.

[2020-11-02 22:57] liyuqian commented on #54117
Ping from performance triage... @iskakaushik November is coming, any update to the milestone or other aspects of this issue?

[2020-11-02 22:58] #65537 closed

[2020-11-02 23:01] kf6gpe commented on #61450
We're actively working on solutions to shader jank, which you can follow along in https://github.com/flutter/flutter/issues/32170. I'm going to close this thread, as the conversation isn't really productive after https://github.com/flutter/flutter/issues/61450#issuecomment-709907845, I'm afraid.

[2020-11-02 23:01] #61450 closed

[2020-11-02 23:04] knopp commented on #65752
I'm wondering if you're going to be able to consistently test this. I initially looked into this because when profiling I get the raster thread preempted for 300ms by `locationd`, but it was not something I could easily reproduce.

[2020-11-02 23:11] FrancescoMasaia opened #69619 "LinearProgressIndicator is not working"
Flutter is already up to date on channel beta
Flutter 1.23.0-18.1.pre • channel beta • https://github.com/flutter/flutter.git
Framework • revision 198df796aa (3 weeks ago) • 2020-10-15 12:04:33 -0700
Engine • revision 1d12d82d9c
Tools • Dart 2.11.0 (build 2.11.0-213.1.beta)

given error:
═══════════════════════ Exception caught by widgets library ═════════════════════════════
Unexpected null value

[2020-11-02 23:15] GaryQian commented on #58414
The tofu glyph should only be displayed when the font fallback system fails to find the glyph in its entire fallback path. Since \r and \t are extremely basic and common glyphs and most fonts include these characters, this is strange indeed.

@krokyze do you know if this happens on different versions of iOS? iOS has included small changes in their fonts in different versions of iOS.

[2020-11-02 23:21] HansMuller commented on #69619
Can you provide a small self-contained example that demos the problem, as well as the output from flutter doctor?

[2020-11-02 23:31] HansMuller commented on #69544
If style.side isn't specified and the button's shape incorporates an outline we should render the shape with its outline. Looking into fixing this...

[2020-11-02 23:34] treeplate commented on #69546
I cannot reproduce anymore...

[2020-11-02 23:34] #69546 closed

[2020-11-02 23:36] renyou opened #69621 "Send a notification to google infra when ngine artifacts are built"
Hi I have built the tools to perform the "Google testing" and now expanded the coverage to engine's postsubmit PRs. Our tests use LUCI built artifacts but we don't know when they are ready to download. Currently we have a fixed delay before trying. If there could be a notification sent to Google infra, we can start the testing much sooner and provide signals more promptly.

[2020-11-02 23:37] guidezpl commented on #57677
Nice, this was fixed. Closing

[2020-11-02 23:37] #57677 closed

[2020-11-02 23:45] gaaclarke commented on #69449
@blasten @chinmaygarde @zanderso @cyanglaz I recommend that we revert https://github.com/flutter/engine/pull/20671 until we can address the race conditions present in FlutterPlatformViewController in order to limit the risk.

I see 3 options:
 1) Make sure that all data is setup on the main thread then never touched again while the raster thread is using it.  This would mean delaying starting the

[2020-11-02 23:48] nt4f04uNd commented on #69528
@TahaTesser I don't understand you. The enssense of the issue is represented in the title - for some reason the lines of code I attached that are responsible for changing the divider color via the call of `setSystemUIOverlayStyle` are commented out. There's nothing else to say here.

If you want my flutter doctor so much, here you are
[code]

[2020-11-02 23:55] blasten commented on #69449
@gaaclarke Which customers are seeing these issues?  This is in the stable release already. Are you suggesting we cherry pick the revert?

[2020-11-03 00:00] gaaclarke commented on #69449
This is a race condition so customers might not easily know they are being affected by this issue yet without significant investment.  The check that fails for me in debug builds wouldn't be present in release builds and the crash/error would look different, most likely a null pointer exception a bit later.

From my experimentation it happens in an environment where the load on the platform thread

[2020-11-03 00:06] gaaclarke commented on #69449
I didn't realize this was on stable already.  I guess we'll just have to fix it then somehow.  Reverting would be a pain if we already told people they can remove that flag from their info.plist.

[2020-11-03 00:15] wanjm commented on #64542
@chandarlee  could you please share me the steps and how to build it;

[2020-11-03 00:17] moda20 opened #69625 "Random Error with certain plugins when building after migrating app to V2 embedding"
## Steps to Reproduce

1. I upgraded my app to the V2 embedding after getting the warning when trying to build (using this guide : https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects)
2. tried to build the app again,
3. an error related to certain plugins appears

**Expected results:**

the app build successfully

**Actual results:**

error when building :
[code]
i got the

[2020-11-03 00:24] jason-simmons commented on #69586
Bisected this to https://github.com/dart-lang/sdk/commit/8f5f6971a90609f1ea7dd2dc766527e28ba89475

[2020-11-03 00:34] #68916 closed

[2020-11-03 00:34] #62737 closed

[2020-11-03 00:44] ckrc opened #69627 "Navigator v.1.0 - Navigator.of(context).PushNamed with an option to stop page load?"
## Use case
This is for a flutter web app which I have some filters (data from API) within the page. I would like to be able to update the URL once the filter(s) are selected and append as query params to the URL without a page reload to avoid having to load the data from API again for the filters. (I have already done that by using window.history.pushState which seems to work but the browser's ba

[2020-11-03 00:47] ferhatb commented on #69570
Should land in flutter master shortly. Closing.

[2020-11-03 00:47] #69570 closed

[2020-11-03 00:47] ferhatb commented on #69571
Should land in flutter master shortly. Closing.

[2020-11-03 00:47] #69571 closed

[2020-11-03 00:49] lodipalle commented on #30149
I followed this syntax: flutter config --android-studio-dir="C:/Program_Files/Android/Android_Studio" but still getting the same error.

[2020-11-03 01:03] #13076 closed

[2020-11-03 01:22] HassanChmsdn opened #69632 "Error launching application on iPhone 12 Pro Max"
**After updating xcode to 12.1 my flutter app was not able to install pods and launch on iPhone 12 pro max or earlier:**
I tried to change the IOS Deployment Target to higher than 8.0 but same error!

I tried these steps to reproduce it but was not successful:

[code]

flutter run --verbose:
[code]

flutter doctor -v
[code]

</details>

**I have tried to upgrade flutter to 1.22.3 but the app crash

[2020-11-03 01:36] rhuarc0 commented on #68265
This exception hasn't been fixed in version 2.0.0 yet. You've been asking for the code to reproduce but it's unnecessary.
The problem appears because of the incorrect code in `ConnectivityBroadcastReceiver.java`, method `void onCancel(Object arguments)`

[code]

[code]

Here you can see unregistering of some **new** callback, not the one which was registered before.

[2020-11-03 01:52] ldhlfzysys commented on #69566
[✓] Flutter (Channel stable, 1.22.3, on Mac OS X 10.15.5 19F96, locale zh-Hans-CN)

[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.1)
[✓] Xcode - develop for iOS and macOS (Xcode 12.0.1)
[✓] Android Studio (version 4.0)
[✓] VS Code (version 1.50.1)
[✓] Connected device (2 available)

• No issues found!

[2020-11-03 01:53] ldhlfzysys commented on #69566
Text('🎬')

[2020-11-03 01:54] l1x2d3 commented on #65369
Hello! I used the v1.12.13 version after the upgrade. After the upgrade, I found that it did not help the problem I encountered. After solving other problems, I found that the AndroidView problem was also solved, so I think it should be mine There was a problem with the routing management, which caused the page to be considered as non-existent when the AndroidView callback displayed refreshed. Tha

[2020-11-03 01:55] fredlee12345678 commented on #69552
@pedromassangocode

➜  bin git:(master) ./flutter doctor -v
[✓] Flutter (Channel master, 1.24.0-4.0.pre.81, on Mac OS X 10.15.5 19F101 darwin-x64, locale zh-Hans-CN)
    • Flutter version 1.24.0-4.0.pre.81 at /Users/lixuepeng/Software/lastFlutter/flutter
    • Framework revision 05ab0eba19 (7 天前), 2020-10-26 19:22:25 -0700
    • Engine revision 1857470267
    • Dart version 2.11.0 (build 2.11.0-26

[2020-11-03 01:58] AlexV525 commented on #69566
Can you provide more info about what kind of devices you have tested?

[2020-11-03 01:59] HassanChmsdn commented on #69632
I  have fixed this issue by running:

[code]

[2020-11-03 02:00] kphanipavan opened #69634 "Release version of web app is not loading when deployed using a Web Server."
## Steps to Reproduce

1. Create an app with web support using  `flutter create time`
*Here time is a sample app*
2. Build the app for the web
3. Create a python web server using `python3 -m http.server 7732`
4. Open a browser and navigate to `0.0.0.0:7732`
4. Navigate to time/build/web/ to test the release version.

**Expected results:**
The app should load properly, with proper Favicon.
In my ca

[2020-11-03 02:00] darkrevenger commented on #60700
Sadly, no, we had to start the service when the user logged into the application, if we found he wasnt casting we would send a push notification to tell them but flutter clearly still needs some work.

[2020-11-03 02:01] luigi-rosso commented on #69615
We were able to reproduce this in isolation. It's due to two things: the combination of a set of custom transform operations and a non-default blend mode.

Short example code in a gist:
https://gist.github.com/luigi-rosso/4629c3422d8938d7ce0cf7cfcb01547c

Try dragging the list view and you'll see the red box disappears. Hover over where the red box would be and it'll reappear. You can mitigate thi

[2020-11-03 02:02] Ashok-Varma opened #69635 "Flutter stuck in state "Waiting for another flutter command to release the startup lock..." due to issues with flock"
## Steps to Reproduce

1. I tried upgrading flutter and since process is taking long i cancelled it (^c)
2. Flutter state never recovered from then, every flutter command gives error `Waiting for another flutter command to release the startup lock...` including `flutter doctor`

**System Info**
- System : mac 10.15.6 (catalina)
- Network : 500 Mbps ethernet (no VPN)
- OS : Mac Catalina 10.15.6
-

[2020-11-03 02:05] ldhlfzysys commented on #69566
macos, iPhone 11 device and iPhone 11 simulator

[2020-11-03 02:07] kphanipavan commented on #69634
I have a theory as to why this is happening.
I am comparing 2 projects, the Xylophone app from AppBrewery and my app, Time
[This line](https://github.com/kphanipavan/Time/blob/master/index.html#L14) might be the culprit.
This line is not present in the Xylophone app's indel.html, but is present in my app.
Due to this, the request for main.dart.js is being called in the wrong place. as shown below:

[2020-11-03 02:10] qntbkk commented on #23204
https://qnttran.medium.com/flutter-in-multiple-ide-android-intellij-vscode-for-macos-ba928d58b4a4

hope this help

[2020-11-03 02:25] ldhlfzysys commented on #69566
All emoji have this problem

[2020-11-03 02:54] salvadorbarb1 commented on #30994
I'm getting this issue too.

This code gets a response from the server
`HttpsCallableResult result = await createPaymentIntent.call({'order':'invalid data'});`

And this one doesn't
`HttpsCallableResult result = await createPaymentIntent.call({'order': order.toMap()});`

[2020-11-03 03:15] godofredoc commented on #68144
Bot build796-m9.golo was cleaned up.

[2020-11-03 03:22] xy221150 opened #69636 "ListView+Image first time run on ios get stuck"
flutter doctor -v
![image](https://user-images.githubusercontent.com/34728569/97946659-0d5f1f80-1dc6-11eb-9e27-c695c2d892ea.png)

video linke
[RPReplay_Final1604373139.zip](https://github.com/flutter/flutter/files/5479154/RPReplay_Final1604373139.zip)

this is code:
![image](https://user-images.githubusercontent.com/34728569/97946854-88c0d100-1dc6-11eb-9e78-757052baac62.png)
![image](https://user-

[2020-11-03 03:23] alhudaghifari commented on #40235
hmm seems like we should hack our code so that we can handle more than one request without calling code on method called by onRefresh
In my case, I use onRefresh in RefreshIndicator to call news list,, and then I also have search request and want to show the loading showed by RefreshIndicator if user want to search something news.  The problem is after search request ran, then the RefreshIndicator

[2020-11-03 03:49] joune8 opened #69638 "Another exception was thrown: PersistedOffset: is in an unexpected state."
I am using BloC set up and streams as an architectural set up of my application. Though it runs perfectly smooth on both mobile platforms,when I try to launch it on web it throws "**Another exception was thrown: PersistedOffset: is in an unexpected state.**" error every time I navigate or any user event is generated.

Please note that this error is running in infinite loop the moment any interacti

[2020-11-03 03:56] Schweinsei007 opened #69639 "White screen on IOS version of the Flutter app"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
3. ...

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-11-03 03:59] Jparrgam commented on #59262
@chinmaygarde @VladyslavBondarenko @jmagman hey guys, You have idea from this crash ?

[2020-11-03 04:09] pomegra opened #69640 "自定义plugin 腾讯地图map 在某些apple手机上显示异常"
自定义plugin  腾讯地图map 在某些apple手机上显示异常: iPhone8plus iOS13.5

map在界面上渲染异常,导致地图widget周边出现4条黑线，排查过暂时无法解决,请问如何解决

[2020-11-03 04:17] whatscoder commented on #69392
Hi @TahaTesser
I have simplified my code sample. https://github.com/whatscoder/navigator_test/    branch is master
The exception is the same as the above.
please check again, Thank you.

[2020-11-03 04:26] sanjoli63 commented on #69482
i m a beginner, i  m still working on it. It might take some time.. please bare with me.

[2020-11-03 04:48] Muskan4010 commented on #69491
I am a beginner and still trying to figure out this, please bare with me a little more. I am working on this.

[2020-11-03 05:12] mehmetf opened #69642 "Skia crash in customer:money"
Internal: b/172177383

customer:money reported crash seen in the wild.

[code]

Unfortunately, user reports are all we have at this point. No reproduction. We do know that this particular crash came from iOS 11.2 device. They have other traces as well which end up in AGXMetalA8 lib and together they form ~7% of their total crashes on iOS (2nd most severe) making this a P2.

[2020-11-03 05:20] mehmetf commented on #69642
@flutter-symbolizer-bot 2eac514f26a676d1df0821e815d501149d3ead7f release arm64

[2020-11-03 05:27] rkmax opened #69643 "Cannot run the application"
## Steps to Reproduce

1. install flutter manually
2. Create a flutter application with Android studio
3. run the app, run from android and run from cli `flutter run -v`

## Logs

[code]

[code]

[2020-11-03 05:36] shaan-saz commented on #69491
No issues. All the Best, Keep contributing.

[2020-11-03 05:37] mehmetf commented on #69642
@mraleph How does the bot know what platform to use? From the crash format?

[2020-11-03 05:47] jloLOLS opened #69645 "Built-in Flutter Staggered Grid View?"
Flutter beginner here.

I need a GridView whose children have varying heights. People recommend that I use @letsar's [flutter_staggered_grid_view](https://github.com/letsar/flutter_staggered_grid_view). It's great, but it produces undesirable results if you were to run a Flutter project on a web browser. With its latest release, the grid does not respond appropriately when the window resizes, and

[2020-11-03 05:50] darshankawar commented on #69412
@superakabo
I am on latest stable (1.22.3) and verified on iphone 6s (OS 14) and see opposite behavior compared to what you have shown above.
When I have `physics: BouncingScrollPhysics(),`, I am unable to scroll, whereas, when commented, I am able to scroll.

Try below code sample where I wrapped `Scaffold` with `MaterialApp`.

[code]

[2020-11-03 05:52] letsar commented on #69645
Hi @jloLOLS 🙂. I didn't abandon the package. I just need a few days to refactor it. And since then I haven't had the proper time. (Day job, family, other side projects). Maybe in December.

[2020-11-03 06:03] darshankawar commented on #69431
@ThexXTURBOXx
That was my bad to suggest to try on emulator, didn't realize that :-)
Anyways, I also tried on Samsung S10+ device but didn't see the issue nor the exception in the log.

<img width="1365" alt="Screenshot 2020-11-03 at 11 29 29 AM" src="https://user-images.githubusercontent.com/67046386/97953929-06d1a780-1dc8-11eb-8b83-3731cb9b892e.png">

[69431.mp4.zip](https://github.com/flutter/f

[2020-11-03 06:07] Abhijithsp commented on #69456
By removing the luban plugin it works fine,but the compression problem occurs only in portrait mode photos.@darshankawar

[2020-11-03 06:08] hiashutoshsingh commented on #69635
delete your lock file in `flutter/bin/cache/lockfile` and run flutter pub get again @Ashok-Varma

[2020-11-03 06:09] xster commented on #35934
To track on https://bugs.chromium.org/p/skia/issues/detail?id=7440

[2020-11-03 06:13] xster commented on #47656
We're going to need a bit more details such as a sample APK or some reproduction steps. Or is this reproducible on all apps such as a newly created one from `flutter create`?

The Samsung J devices does seem problematic potentially in https://github.com/flutter/flutter/issues/24286. Though it sounds like you were never able to run the app in the first place.

[2020-11-03 06:14] shihaohong opened #69646 "customer_testing failures"
In the last few days, I've been noticing that a few PRs have been failing the `*customer_testing` checks, just like this: https://github.com/flutter/flutter/pull/69562/checks?check_run_id=1344873525

Initially, I recommended merging/rebasing with the latest `master` since the test failures seem unrelated to the changes. However, this does not work and the only way it has worked for me is by deleti

[2020-11-03 06:14] darshankawar commented on #69494
@yaxum
Please provide a minimal reproducible code sample that we can use that shows the issue you are facing.
Thanks.

[2020-11-03 06:18] darshankawar commented on #69494
Similar to [27680](https://github.com/flutter/flutter/issues/27680)

[2020-11-03 06:27] xster commented on #57277
I don't have a short answer unfortunately because the FlutterView integration API is only partially supported. It's fully functional but you need to do a lot of FYI to get FlutterView connected as you noticed, especially if you want to use your own Fragment as opposed to the FlutterFragment. Generally, see all the fragment callbacks that are passed to the FlutterView in https://github.com/flutter/

[2020-11-03 06:30] Sameerkash commented on #68259
@Hixie  How should I approach the diagram part of this issue?

[2020-11-03 06:31] ViniciusDS commented on #62506
O have the same problem.

Logs flutter doctor:

[✓] Flutter (Channel beta, 1.23.0-18.1.pre, on Mac OS X 10.14.6 18G103 x86_64, locale en-BR)
    • Flutter version 1.23.0-18.1.pre at /Users/viniciusds/flutter
    • Framework revision 198df796aa (3 weeks ago), 2020-10-15 12:04:33 -0700
    • Engine revision 1d12d82d9c
    • Dart version 2.11.0 (build 2.11.0-213.1.beta)

[✓] Android toolchain - devel

[2020-11-03 06:39] xster commented on #60198
What race conditions are you encountering specifically? The general approach seems feasible.

Presumably you already got that FlutterEngine instance running the first time when you were in the background. You wouldn't run it a second time but instead, would attach it to a FlutterActivity or FlutterFragment by using the appropriate intent builder (assuming you already called runApp in Dart when you

[2020-11-03 06:42] muzuro commented on #7474
We need a way to test our mobile app with real backend using http requests? I wonder what is offical flutter position should flutter driver be used or widget test with `HttpOverrides.global` be used for e2e testing.

[2020-11-03 06:42] darshankawar commented on #69603
Issue replicable on latest master.

<img width="1087" alt="Screenshot 2020-11-03 at 12 08 13 PM" src="https://user-images.githubusercontent.com/67046386/97956042-ae050d80-1dcd-11eb-9d8a-fec3b6536915.png">

<img width="553" alt="Screenshot 2020-11-03 at 12 08 31 PM" src="https://user-images.githubusercontent.com/67046386/97956050-b1989480-1dcd-11eb-8d37-157b261ac71e.png">

<details>
<summary>flutte

[2020-11-03 06:45] cs-robert opened #69647 "MethodChannel performs slow"
I record start time at channel.invokeMethod ,record end time at setMethodCallHandler callback,
send 4000 byte data from native to dart ,it cost 40 ms .
but some times it perform good, only cost 10ms.
When called frequently, the performance will be worse.
No time-consuming method is executed in the channel.
Dart to native have the same problem.
In addition，how to send and receive dart message in no

[2020-11-03 06:47] superakabo commented on #69412
@darshankawar you have replicated my scenario, telling the me the same issue i am reporting. Did you not see my gifs?
Please read what i wrote from the beginning very well.

[2020-11-03 06:52] pedromassangocode commented on #69452
<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-11-03 06:53] #69490 closed

[2020-11-03 06:57] thekucays commented on #12810
@itsJoKr i tried to use that lib, but when i try to run the example, i got error something like this
`../../../../snap/flutter/common/flutter/.pub-cache/hosted/pub.dartlang.org/integration_test-0.9.2+2/lib/integration_test.dart:324:11: Error: 'FrameTimingSummarizer' isn't a type.
    final FrameTimingSummarizer frameTimes =  `

i'm using flutter version 1.20.2 btw, what version are you using?

[2020-11-03 06:58] #52213 closed

[2020-11-03 07:01] n8d commented on #61150
Same issue here with animated transparent gif images.

[2020-11-03 07:02] TahaTesser commented on #69368
Hi @hinadong
Given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-11-03 07:02] #69368 closed

[2020-11-03 07:06] FieeA opened #69649 "When I used bottomNavigationBar + IndexedStack with PageTransitionSwitcher, I tried to save the state of each page, which caused PageTransitionSwitcher to lose the animation effect."
When I used bottomNavigationBar + IndexedStack with PageTransitionSwitcher, I tried to save the state of each page, which caused PageTransitionSwitcher to lose the animation effect.
----------------------------------------------------
here is the code

[code]

[2020-11-03 07:08] TahaTesser commented on #69379
Hi @romanpozd-tg17
Not sure why would you need this script, how did you figure you need this? Can you point to docs for this?
Thank you

[2020-11-03 07:10] darshankawar commented on #69605
Although the issue is replicable on latest master, I believe it is similar to [45488](https://github.com/flutter/flutter/issues/45488). The video / audio keeps playing in the background inside the app too, ie, while navigating to other screens. Hence, I believe the root-cause is similar.
I am going ahead and closing this as duplicate. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-11-03 07:10] pedromassangocode commented on #69542
Hi @rch16
Looks like there is a typo in the name directory where your icon is.

In your application tag, try to replace:
`android:icon="@mimap/ic_launcher"`
With this
`android:icon="@mipmap/ic_launcher"`

[2020-11-03 07:16] AliAkberAakash commented on #69492
Hi, I'd like to adopt this widget

[2020-11-03 07:16] darshankawar commented on #69606
Closing this as duplicate of [60880](https://github.com/flutter/flutter/issues/60880)

[2020-11-03 07:16] #69606 closed

[2020-11-03 07:18] AliAkberAakash commented on #69471
can I take this if its still available?

[2020-11-03 07:22] pedromassangocode commented on #69564
Hi @tedfire
Please run the code above with `flutter run -v` and once the issue reproduce share the output here.

Will need your `flutter doctor -v` as well.

[2020-11-03 07:28] TahaTesser commented on #69408
Hi @jwinarske
Checking  out https://github.com/flutter/engine/commit/1d12d82d9cb54876f58044aa52198d53ec841c3d  locally

<img width="1226" alt="Screenshot 2020-11-03 at 12 57 59 PM" src="https://user-images.githubusercontent.com/48603081/97958917-38507000-1dd4-11eb-9429-528a50372bf0.png">

`assert(custom_sysroot != "")` doesn't show anywhere
<img width="317" alt="Screenshot 2020-11-03 at 12 56 22 P

[2020-11-03 07:28] nwparker commented on #66097
This appears to have been introduced in d1de20c5b73138ab91f8443d6d81e7bfdc274390

This implies this is an issue with the flutter engine
https://github.com/flutter/engine

[2020-11-03 07:30] spiderion commented on #45488
@k2evil I don't think this is an issue. I use to manage this by my self.
Pausing the video when the page is pushed and then playing it again once the page is popped.

[2020-11-03 07:30] phlegmaticprogrammer commented on #33860
Looks to me like supporting Catalyst is a no-brainer. A well-designed Flutter should have NO trouble at all of supporting that, and it will give macOS desktop support basically for free because Apple does all the heavy lifting for you. You can throw away your Flutter desktop support, it is not needed.

[2020-11-03 07:31] tudor07 commented on #69574
@dnfield
Your provided code works, my test for my app does not work.
The only difference that I see is that you use `HttpClient` from `dart:io`, while I use `Client` from `http` library.

My code crashes with no stacktrace at:
`C:\dev\flutter\.pub-cache\hosted\pub.dartlang.org\http-0.12.0+2\lib\src\io_client.dart`
at line 33:
[code]

Any reason why `http` library does not work in tests?

[2020-11-03 07:32] spiderion commented on #69605
Sorry @darshankawar but i completelly disagree.
The  https://github.com/flutter/flutter/issues/45488  does't look like a issue to me but something that I used to manage manually.
The current issue Instead didn't exist before.

[2020-11-03 07:35] amitkot commented on #67497
@feinstein so this is very interesting. Your example code works - the status bar color is indeed transparent.
I played with permutations of this code, and my conclusion is:

#### To get the transparent status bar color we have to set the `AnnotatedRegion` on the page *before* the one with the `AppBar`.

I tried wrapping the Scaffold but it didn't work, I even tried wrapping AppBarPage inside the `

[2020-11-03 07:36] darshankawar commented on #69632
@HassanChmsdn Based on your last comment, I am going ahead and closing this as resolved.
If you disagree, write in comments and I'll reopen.
Thanks.

[2020-11-03 07:36] #69632 closed

[2020-11-03 07:37] pedromassangocode commented on #69510
Hi @ppb1701
I don't think this is related to any kind of extension but with the fonts you are using.
Can you tell me where did you get those fonts and how you added them into the project?

Will need you to provide the `pubspec.yaml` as well.
Thank you

[2020-11-03 07:38] lzhuor commented on #65936
According to Apple's Docs, we will have to define the scheme:
[canOpenUrl](https://developer.apple.com/documentation/uikit/uiapplication/1622952-canopenurl):
![image](https://user-images.githubusercontent.com/14172220/97959488-6d67bd00-1dea-11eb-9cdf-a06ea55738d5.png)

Possible solution: Add below scheme definition in the `info.plist`:
[code]
Reference: https://developer.apple.com/forums/thread/66

[2020-11-03 07:38] pedromassangocode commented on #69560
Hi @mohamedhasan2002
Make sure you have a supported device connected before running the command.

[2020-11-03 07:42] #69627 closed

[2020-11-03 07:43] love-yukee opened #69651 "iOS 14 从相册选择图片发生闪退"
1. 第一次调用相册界面没有发生闪退,
2. 当选择好图片后,  第二次进入相册界面时发生闪退

[2020-11-03 07:50] mraleph commented on #69642
@mehmetf yeah, from the crash format. also you need to be a public member of Flutter org on GitHub (which you are not - you can check by looking at this issue in incognito window) to issue commands to the bot.

I will do some tweaks to the bot and update this issue once it is ready.

[2020-11-03 07:53] nwparker commented on #66097
Specifically, it turns out this is the engine commit which introduces the bug:
https://github.com/flutter/engine/commit/1c13abaab120d8d2d4c07e5b5fc75100f56a89e2

[2020-11-03 07:57] banishangural commented on #58564
Deleting and downloading the fresh flutter SDK solved the issue

[2020-11-03 08:01] #67803 closed

[2020-11-03 08:04] darshankawar commented on #69634
Issue replicable on latest master.

1. When running `flutter web build`, the `index.html` has `<base href="/">`.
2. When running ` python3 -m http.server 7733` and accessing `http://0.0.0.0:7733/` and opening `http://0.0.0.0:7733/build/web/#/` shows a blank screen as below along with console log:

<img width="1145" alt="Screenshot 2020-11-03 at 1 23 21 PM" src="https://user-images.githubuserconten

[2020-11-03 08:07] Paras2895 opened #69652 "Landscape mode in not working on iOS 14 in Chewie video player"
I'm using Chewie video player (https://pub.dev/packages/chewie) for my flutter application to play video in app, but I stuck into a problem. I have three devices :
Iphone 11     iOS 14
iPhone 6s    iOS 14
iPhone 6s   iOS 13

In my iPhone 6s with iOS 13 video player in landscape mode is working fine but when I come to other two mobile having iOS 14 with same code landscape mode is not working. Plea

[2020-11-03 08:10] pedromassangocode commented on #69552
Reproduces on latest `master` channel.

![gif](https://user-images.githubusercontent.com/67424416/97961824-442c3a00-1db4-11eb-8184-198b53a8ea5a.gif)

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-11-03 08:10] nysin commented on #50181
@nightfallsad
your answer resolved my question! thx

[2020-11-03 08:10] nysin commented on #50181
upgrade fat-aar version it's ok .thx!

[2020-11-03 08:15] pierre-gancel commented on #65210
Hi,
I also have the same issue on macos running desktop app,
@TahaTesser I followed your commands but the problem is still here :
Error: CocoaPods's specs repository is too out-of-date to satisfy dependencies.
           To update the CocoaPods specs, run:
             pod repo update

`[        ] "flutter run" took 41,349ms.
[   +3 ms]
           #0      throwToolExit (package:flutter_tools/src/b

[2020-11-03 08:17] darshankawar commented on #69635
@Ashok-Varma
When you say `due to issues with flock`, are you using the `flock` plugin by any chance ?

[2020-11-03 08:20] rch16 commented on #69542
Wow I feel stupid haha...! Sometimes its too easy to miss the most obvious of mistakes - thank you for your help!

[2020-11-03 08:20] darshankawar commented on #69638
@joune8
Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue.
Thanks.

[2020-11-03 08:20] liujiada-star opened #69655 "TextFlied Crash"
Textflied was copied and pasted on version 1.22, which broke or jammed directly。

This problem also exists in version 1.23 of flutter. I hope to give a solution

[2020-11-03 08:20] psycura commented on #17988
Hello, guys.
We have another issue with Appium on Android.
Usually our QA team can use Appium for testing, but we stuck on some strange issue.

The use case is - When TimePicker dialog is open, we trying to reach `Switch Input Method` button at the bottom left corner of the dialog
When phone is not in 24H format mode we can achieve it, but when we switch phone to the 24H mode we cannot access this

[2020-11-03 08:20] liujiada-star commented on #69655
iOS14

[2020-11-03 08:22] #69655 closed

[2020-11-03 08:22] mohamedhasan2002 commented on #69560
it works before but now the app crashes!

[2020-11-03 08:23] pedromassangocode commented on #69655
Hi @liujiada-star
Did you closed this by mistake?

If yes, can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-11-03 08:23] liujiada-star opened #69656 "TextField Crash"
For Flutter 1.22 version，TextField was copied and pasted on version iOS14, which broke or jammed directly。

This problem also exists in version 1.23 of flutter. I hope to give a solution

[2020-11-03 08:24] darshankawar commented on #69639
@Schweinsei007
There's no description / details of the issue you are facing. Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue.

[2020-11-03 08:24] pedromassangocode commented on #69656
Hi @liujiada-star
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-11-03 08:27] pedromassangocode commented on #69652
Hi @Paras2895
From what I can see, the issue is related to a 3rd party plugin rather than to Flutter itself. Please open the issue in the dedicated [repository](https://github.com/brianegan/chewie).
Closing, as this isn't an issue with Flutter itself.
If you disagree, please write in the comments,
providing your `flutter doctor -v`, your `flutter run -v`,  your `pubspec.yaml`
a minimal reproducibl

[2020-11-03 08:27] #69652 closed

[2020-11-03 08:29] TahaTesser commented on #69392
Hi @whatscoder
I put all your code in a single `main.dart`
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

[code]

[code]

</details>

[2020-11-03 08:33] darshankawar commented on #69643
@rkmax
The log shows below exception:

[code]

Can you check if your code is using `DateTime` and where could it be causing the issue ?

[2020-11-03 08:33] Paras2895 commented on #69652
Hi can you please suggest me what i can do to enable landscape mode in
ios14 because in ios13 it works

On Tue, Nov 3, 2020 at 1:57 PM Pedro Massango <notifications@github.com>
wrote:

[2020-11-03 08:34] pedromassangocode commented on #69647
Hi @robert-wq
Can you share the code you used for performance tests and your `flutter doctor -v`?

For asking questions I would suggest you to use Stack Overflow or see https://flutter.dev/community for a list of Flutter communities.

Thank you

[2020-11-03 08:35] azbuky commented on #69634
`<base href="/">` should point to the root of the app so if you run the http server from the project directory it should be `<base href="/build/web/">`

`<base href="/">` works as intended if run the http server from the build/web folder

In production if you are not deploying to the root domain, it should be set to something like `<base href="/path/to/location/">`. For example when you deploy on

[2020-11-03 08:36] shaan-saz commented on #62146
@christopherfujino Facing this issue,
![image](https://user-images.githubusercontent.com/51261384/97963811-ba916200-1ddd-11eb-9946-5a5867caae7c.png)

[2020-11-03 08:39] pedromassangocode commented on #69651
嗨 @love-yukee
您能否提供“ flutter doctor -v”，“ flutter run --verbose”以及最小的完整可复制代码示例？
我建议您用英语交流，因为这是我们在这里使用的交流方式。
谢谢

Hi @0000
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
I recommend you to communicate in English because it is what we use here to communicate.
Thank you

[2020-11-03 08:40] kiradea opened #69658 "[tool_crash] ProcessException: Process exited abnormally:Command line invocation: /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -listxcodebuild: error: Unable to read project 'Runner.xcodeproj'. Reason: Project /Users/lijun/gsy_flutter_demo/ios/Runner.xcodeproj cannot be opened because it is missing its project.pbxproj file. Command: /usr/bin/xcodebuild, OS error code: 74"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ProcessException: Process exited abnormally:
Command line invocation:
    /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -list

xcodebuild: error: Unable to read project 'Runner.xcodeproj'.
	Reason: Project /Users/lijun/gsy_flutter_demo/ios/Runner.xcodeproj cannot be opened because it is missing its project.pbxpr

[2020-11-03 08:44] JavierSegoviaCordoba commented on #40235
Yes, sorry I forgot to reply :/

[2020-11-03 08:45] shaan-saz commented on #62146
@christopherfujino Facing this issue,

f25bd9c55c48c139524139b477d04b13e9f36b2cdev
git branch --show-current -> dev

[2020-11-03 08:46] darshankawar commented on #69645
@jloLOLS
Since @letsar himself as responded on this issue and hinted to re-work on it, I'd suggest you to open this in plugin's repo so that he can keep track of the issue and you may follow-up for any updates directly.  I am going ahead and closing this. If you disagree, write in comments and I'll reopen.

[2020-11-03 08:46] #69645 closed

[2020-11-03 08:46] TahaTesser commented on #69519
Hi @Tokol
This is related to pod instead of flutter, can you please try a new project `flutter create myapp` and provide complete logs from his new project without using any third-party packages.

[2020-11-03 08:47] pedromassangocode commented on #69611
Hi @bernaferrari
Can you please provide your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-11-03 08:48] MrUnfunny commented on #69477
Hi,
I'd like it to work on it, in case, the assignee decides to pass it on.

[2020-11-03 08:48] darshankawar commented on #69649
@FieeA
Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue.
Thanks.

[2020-11-03 08:49] yexiaodong commented on #58943
我是用Flutter 1.22.2和webview_flutter: ^1.0.5，在小米手机上能正常显示键盘，但是会有闪烁（先黑屏一下）。另外input失去焦点后，键盘没有消失

[2020-11-03 08:51] AliaksandrBadretdzinau commented on #69308
No, this is not the answer to my question
I'm looking for a way to set up an http server on Flutter Web: bind a hostname and listen for new requests

[2020-11-03 08:53] cv692001 commented on #69477
Started Working on it , will try to submit PR by tonight .Please understand 👍

[2020-11-03 08:57] pedromassangocode commented on #69658
@kiradea
There's similar open issue describing your case, [57083](https://github.com/flutter/flutter/issues/57083).
Please follow-up there for updates. Also this if [this](https://github.com/flutter/flutter/issues/57083#issuecomment-654394040) workaround works for you.
Closing this as duplicate.

[2020-11-03 08:57] #69658 closed

[2020-11-03 09:01] Tryphene opened #69659 "Flutter"
## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]
Flutter s'arrête immédiatement lorsque je lance un projet dans VScode

[2020-11-03 09:01] libo1223 commented on #58943
现在这个好像已经修复了，可以升级下webview版本再试一下。或者可以参考这个大佬的改法，https://github.com/yenole/plugins/commit/3d7b70be2a9c30ffd99dc13ba2e772ce423a8402

[2020-11-03 09:03] yexiaodong commented on #58943
1.0.5已经是最新的了

[2020-11-03 09:05] libo1223 commented on #58943
那你试下这个大佬的改法，我们很早就该用原生webview了，很久没关注了。这个大佬的改法在当初解决了我们的问题。

[2020-11-03 09:09] libo1223 commented on #61612
Sorry, it's my fault. Now i know how to use it.

[2020-11-03 09:09] robert-wq commented on #69647
`for (int i = 0; i < 10; i++) {
            handler.postDelayed(new Runnable() {
                @Override
                public void run() {
                    Map map = new HashMap();
                    map.put("timestamp", System.currentTimeMillis());
                    Map map2 = new HashMap();
                    map2.put("params", "XXXXXXXXXXXXXXXXXXXXXX");
                    map.put("p

[2020-11-03 09:10] libo1223 commented on #61612
can you close this issue?

[2020-11-03 09:12] #43502 closed

[2020-11-03 09:14] TahaTesser commented on #69566
Hi @ldhlfzysys
I can reproduce the memory issue using other emojis as well

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]
[code]

</details>

Related https://github.com/flutter/flutter/issues/42586

[2020-11-03 09:17] pedromassangocode commented on #69625
Hi @moda20
Based on your logs, looks like you don't have the SDK dir in your environment variables.

[code]

[2020-11-03 09:18] TahaTesser commented on #69659
Hi  @Tryphene
When opening an issue, please try to provide all or some of the information indicated in the template.

<details>
  <summary>Issue Template</summary>

[code]
</details>

Closing this issue, since no information has been provided.
Thank you.

[2020-11-03 09:18] #69659 closed

[2020-11-03 09:19] xu-baolin commented on #69395
@TahaTesser Hi,
I am pretty sure that this is not a regression issue, Could you remove the label? Thanks.

[2020-11-03 09:23] libo1223 commented on #27924
you can look it to fix. I run my demo now, and can't found any problem.
https://github.com/libo1223/plugins/commit/57af93947c8be6d8be28cb8bf6665bb70658b3f4

[2020-11-03 09:24] TahaTesser commented on #65210
Could everyone who still has this problem please file a new issue with the exact description of what happens, logs, and the output of `flutter doctor -v`.
All system setups can be slightly different, so it's always better to open new issues and reference related issues.

[2020-11-03 09:25] hiddenMonster opened #69660 "E/flutter (20081): [ERROR:flutter/shell/gpu/gpu_surface_gl.cc(72)] Failed to setup Skia Gr context."
Hi developers,
I still having problems since the latest update of Android Studio version 4.1ed in particular when I test the apps in the emulator, in the attached example I have reported your codebase as an example that does not work when I switch from foreground mode to background and the other way around.
I hope you can resolve this, thanks and good luck

[backtrace.txt](https://github.com/flutt

[2020-11-03 09:27] TahaTesser commented on #68057
@feinstein
Yes, thanks, can you update the issue description to make it more clear, what parameter you added or all of them?

[2020-11-03 09:30] pedromassangocode commented on #69660
Hi @hiddenMonster
I see there's an open issue (https://github.com/flutter/flutter/issues/40284) addressing the case you described.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-11-03 09:30] #69660 closed

[2020-11-03 09:34] lmr520 opened #69661 "flutter run --release my app not work"
[code]

[2020-11-03 09:35] mikeesouth opened #69662 "[Web] [Regression] Failed to load font MaterialIcons at assets/fonts/MaterialIcons-Regular.otf using skia"
## Steps to Reproduce

This does NOT occur on beta (flutter 1.23.0-18.1.pre) but it does occur on master (1.24.0-7.0.pre.53).

1. Activate flutter for web `flutter config --enable-web` (make sure channel is at least beta)
2. Run `flutter create bug`.
3. Run without SKIA (this works): `flutter run -d chrome`
4. Run with SKIA (this does not work): `flutter run --dart-define=FLUTTER_WEB_USE_SKIA=true

[2020-11-03 09:39] PrinzKenny1 commented on #60700
Thank you very much :)

[2020-11-03 09:42] darshankawar commented on #69582
Issue is replicable on latest master (1.24.0-7.0.pre.72). Running above code sample shows red screen in UI with below log.

<img width="1019" alt="Screenshot 2020-11-03 at 3 09 39 PM" src="https://user-images.githubusercontent.com/67046386/97969883-adc53c00-1de6-11eb-8d6a-0d70666c1672.png">

<details>
<summary>latest master log</summary>

[code]

</details>

<details>
<summary>latest flutter docto

[2020-11-03 09:44] pedromassangocode commented on #69636
Hi @xy221150
Looks like you are using an invalid Flutter channel.
Can you please upgrade to the latest  `stable` and try again
`flutter channel stable`
`flutter upgrade --force`
`flutter doctor -v`

If the issue persists, please provide your `flutter doctor -v`, a minimal complete reproducible code sample.
Thank you

[2020-11-03 09:47] pedromassangocode commented on #69640
Hi @pomegra
Can you please provide your `flutter doctor -v`, your `flutter run --verbose`, your `pubspec.yaml` and a minimal complete reproducible code sample?
Thank you

[Google Translate]

嗨@pomegra
您能否提供您的Flutter Doctor -v，您的Flutter运行--verbose，您的pubspec.yaml和一个最小的完整可复制代码示例？
谢谢

[2020-11-03 09:47] mkustermann commented on #69586
@jason-simmons We have identified a regression from that commit as well on golem. The fix was landed yesterday in https://github.com/dart-lang/sdk/commit/132bec50fcd4bc8dff85b9e4debfd61b1df2d960 . The next roll should pick it up.

[2020-11-03 09:56] mulieli opened #69663 "MissingPluginException(No implementation found for method requestPermissions on channel flutter.baseflow.com/permissions/methods)"
After flutter run --release, an error is reported on the real machine
![image](https://user-images.githubusercontent.com/24307960/97971301-c856df80-1dfd-11eb-9d80-dc2a7493545b.png)

[2020-11-03 09:58] mulieli commented on #69663
After flutter run --release, an error is reported on the real machine

[2020-11-03 10:00] Jokernight opened #69664 "ios build fail - Linker error - "Undefined symbols for architecture x86_64 : Objc-class-ref ....""
Hi,

When I build my iOS app, it does the Xcode Build correctly but it crash when arriving on the linking part.

## Steps to Reproduce

I just run the project on a iOS simulator

1. flutter run

## Logs

[code]

Flutter doctor -v :

[code]

I have tried many solutions according to issues I have found online, here are the solutions I have already tried :
- Add -ObjC in Other Linker Flags in the Bui

[2020-11-03 10:04] Aulig opened #69665 "iOS Splashscreen/Launchscreen with Navigationbar jumps under status bar and turns black before finishing"
## Steps to Reproduce

1. Run `flutter create fluttersplashtest`.
2. Put this (https://pastebin.com/cMqy1w8N) LaunchScreen.storyboard in ios/Runner/Base.lproj
3. Run `flutter run`

**Expected results:**
The launchscreen should remain static until the app is loaded and simply disappear once that is the case.
Video - In a regular iOS app (without flutter) this works: https://i.imgur.com/aoPGKEN.mp4

[2020-11-03 10:07] pedromassangocode commented on #69619
Hi @FrancescoMasaia
We will need a clear actual vs expected results of the issue.

[2020-11-03 10:08] ThexXTURBOXx commented on #69431
No problem, okay :)

Interesting, maybe it is related to my devices using a custom Android flavor (Honor 10 uses EMUI, Mi 9T Pro uses MIUI).
I uploaded a video of the issue here: https://www.youtube.com/watch?v=38tWaMTFqEQ
I hope, that this is sufficient. If not, I can record more parts of the issue or something separately again.

[2020-11-03 10:33] SinoMiles opened #69666 "how can i disable icon button"
![image](https://user-images.githubusercontent.com/9588025/97973992-ecb4bb00-1e01-11eb-98b4-a76f3ba33a2e.png)
how can i disable this icon button.and Im also wanna disable tomorrow date(still display the today blue circle)
![image](https://user-images.githubusercontent.com/9588025/97974237-44532680-1e02-11eb-8069-500d35f1d0c5.png)
[code]

[2020-11-03 10:35] pedromassangocode commented on #69615
I was able to reproduce on iOS simulator.
checked on web and I noticed that the scroll does not cause the box to disappear however the hover does. Not sure if this is an expected behavior or a bug as well.

@luigi-rosso are you facing this on web or mobile platforms?

![gif](https://user-images.githubusercontent.com/67424416/97974666-35e81900-1dc8-11eb-8104-a8c09c04c5a7.gif)

<details><summary>flu

[2020-11-03 10:41] kphanipavan commented on #69634
So, should it be set manually for every build?

[2020-11-03 10:42] aflongo85 opened #69667 "Error when using an ObjectKey("withANotNullStringHere") with a TextFormField"
[code]

[2020-11-03 10:53] kphanipavan commented on #69634
Not related to the posted issue,

The Flutter Docs says they have enabled PWA support by default. But It doesn't seem to work at all.
I have tested [this site](https://kphanipavan.github.io/Time) on *Microsoft Edge on Windows and MacOS* and *Samsung Internet Browser for Android* on my phone.

Is there additional configuration that I have to fiddle with to support it?

Thank you for the replies.
Ph

[2020-11-03 10:56] pierre-gancel commented on #65210
just before I file another one,
I can still run on mac desktop on other projects, so I wonder if wouldn't the yaml be more useful ?

[2020-11-03 11:11] FieeA commented on #69649
[✓] Flutter (Channel stable, v1.17.5, on Mac OS X 10.15.6 19G2021, locale zh-Hans-CN)
    • Flutter version 1.17.5 at /Users/imac/Desktop/flutter
    • Framework revision 8af6b2f038 (4 months ago), 2020-06-30 12:53:55 -0700
    • Engine revision ee76268252
    • Dart version 2.8.4

[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
    • Android SDK at /Users/imac/Lib

[2020-11-03 11:19] Tokol commented on #69519
![Screen Shot 2020-11-03 at 5 04 11 PM](https://user-images.githubusercontent.com/25947472/97979038-9a21d180-1df6-11eb-9224-8ea36c6e41dc.png)
no issue in the new project while not using any third-party packages

[2020-11-03 11:22] Hector096 commented on #25841
Any Update regarding MultiLang Keyboard.

[2020-11-03 11:23] iapicca commented on #30994
@Xentraxx  @salvadorbarb1
please look at the possible [solution](https://github.com/FirebaseExtended/flutterfire/issues/3593#issuecomment-695815099) offered by @mmanela
if the issue persists I recommend to open an issue in the dedicated [github](https://github.com/FirebaseExtended/flutterfire/issues)

[2020-11-03 11:27] mraleph commented on #69642
I have made some tweaks to the bot, including writing a README for it (check its profile).

What follows is the demo.

[2020-11-03 11:27] mraleph commented on #69642
@flutter-symbolizer-bot 2eac514f26a676d1df0821e815d501149d3ead7f release arm64

[2020-11-03 11:29] mraleph commented on #69642
@flutter-symbolizer-bot https://github.com/flutter/flutter/issues/69642#issue-735022434 internal engine#2eac514f26a676d1df0821e815d501149d3ead7f ios release arm64

[2020-11-03 11:31] mraleph commented on #69642
@mehmetf as you can see I added support for internal stack trace format for ios. If you have examples of how internal stacks for Android apps look like, please send them to me as well so that I could adjust RegExps. Bot now reports errors to users that try to invoke it.

[2020-11-03 11:31] mraleph commented on #69642
@xster seems like a Skia crash on iOS reporter by @mehmetf see symbolization above.

[2020-11-03 11:37] darshankawar commented on #69649
@FieeA
You seem to be on older version of Flutter. Please upgrade to latest stable (1.22.3) and try again to see if you still experience the issue.
Thanks.

[2020-11-03 11:38] azbuky commented on #69634
You should set it when you deploy to a location that is not the root of the domain. For your example it should be <base href="/Time/">
PWA support should work after you set the base path correctly.

[2020-11-03 11:44] hamdikahloun commented on #69560
Hi @mohamedhasan2002

Can you try please with JDK 8 :

1. Installing OpenJDK 8

[code]

2. Setting the Default Version

[code]

3. Verify the installation by checking the Java version:
[code]

[2020-11-03 11:48] antOnioOnio commented on #54290
Thanks mate, you saved me some hours..

[2020-11-03 11:51] darshankawar commented on #69431
I am unable to replicate the [issue](https://github.com/flutter/flutter/issues/69431#issuecomment-720922187) using gestures (multiple fingers at once to scroll), but per author and video, it seem to be happening consistently. Keeping this issue open for further analysis.

[2020-11-03 11:55] nebnhoj opened #69671 "Problem building IOS"
I'm having a problem running legacy application in IOS.

## Steps to Reproduce

1. Run `flutter run ios`.
2. It takes 34s to build then it always fail

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-11-03 12:05] darshankawar commented on #69412
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-03 12:08] hamzadevc commented on #48103
Yes, definitely Runner.xcworkspace instead of Runner.xcodeproj

[2020-11-03 12:10] safeDev15 commented on #69026
[flutter_test_pos_for_Flutter_Team.zip](https://github.com/flutter/flutter/files/5481084/flutter_test_pos_for_Flutter_Team.zip)
I attached the project. Please, give me support. Thank you!

[2020-11-03 12:11] pedromassangocode commented on #69544
Reproducible on master.

This is somehow similar to https://github.com/flutter/flutter/issues/68368.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-11-03 12:13] darshankawar commented on #69456
@Abhijithsp
That seems to be an issue with the luban plugin @Abhijithsp. Please consider opening this issue in plugin owner's repo.
Closing this from here. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-11-03 12:13] #69456 closed

[2020-11-03 12:14] gzjaychen commented on #69559
Thank you for your reply.
Here‘s the info you need.

flutter doctor -v
-
[✓] Flutter (Channel stable, 1.22.3, on Mac OS X 10.15.6 19G2021, locale zh-Hans-CN)
    • Flutter version 1.22.3 at /Users/chenjiangfeng/dev_tool/flutter_sdk/flutter_macos_1.22.3-stable
    • Framework revision 8874f21e79 (5 days ago), 2020-10-29 14:14:35 -0700
    • Engine revision a1440ca392
    • Dart version 2.10.3

[✓]

[2020-11-03 12:21] itsJoKr commented on #12810
@thekucays I was on latest stable (probably 1.20.4). Didn't have the issue, but it could be that it has nothing to do with flutter version. Maybe try with simplest case first.

[2020-11-03 12:22] BStudio-Sasha commented on #41599
Any news?

[2020-11-03 12:22] darshankawar commented on #69661
@lmr520
Please provide a complete minimal reproducible code sample that shows the issue along with `pubspec.yaml`.

[2020-11-03 12:24] pedromassangocode commented on #69462
This is a duplicate of https://github.com/flutter/flutter/issues/60776.

Cc @jonahwilliams

[2020-11-03 12:24] darshankawar commented on #69663
@mulieli
Please provide `flutter doctor -v`, `pubspec.yaml` and a minimal complete reproducible code sample that shows the issue.
Thanks.

[2020-11-03 12:31] darshankawar commented on #69664
@Jokernight
Can you check [this](https://github.com/flutter/flutter/issues/56567#issuecomment-626853824) and see by removing it resolves your issue ?

You may also want to try [this](https://github.com/flutter/flutter/issues/56567#issuecomment-625859189) and see if it works for you.

[2020-11-03 12:36] xu-baolin commented on #69552
I am currently working on this.

[2020-11-03 12:38] darshankawar commented on #69665
Issue replicable on latest stable.

[69665.mov.zip](https://github.com/flutter/flutter/files/5481216/69665.mov.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-11-03 12:41] LeLunZ commented on #41599
I have found a workaround :)

Container -> DraggableScrollableSheet

Now, because we can’t change the DraggableScrollableSheet we change the container size.

If your DraggableScrollableSheet size depends on dynamic child widgets, you can implement a NotificationListener or some kind of Notifier structure. (PublishSubject, BehaviourSubject etc.)
Then in the child we can get its size. With this site

[2020-11-03 12:43] pedromassangocode commented on #69113
This is a duplicate of https://github.com/flutter/flutter/issues/39669 and there is https://github.com/flutter/flutter/issues/29500 that mention this same issue (and others) as well.

@hamdikahloun I'm closing this one in favor of the ones I mentioned above.
Please feel free to reopen if you think they are not the same.

[2020-11-03 12:43] #69113 closed

[2020-11-03 12:50] darshankawar commented on #69666
Hi @SinoMiles
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the

[2020-11-03 12:50] #69666 closed

[2020-11-03 12:51] Yogi09 commented on #63088
It's late I think but if someone get this issue in future so can refere below solution.

class _onCreate extends State<ShakeAnimationPage> with TickerProviderStateMixin

**with TickerProviderStateMixin**

just add this line and it will work.

[2020-11-03 12:52] darshankawar commented on #69667
@aflongo85
Please provide `flutter doctor -v` and a minimal complete reproducible code sample that shows the issue.
Thanks.

[2020-11-03 12:54] mulieli commented on #69663
我之前用的
build.gradle 中的dependencies 中的gradle版本是
com.android.tools.build:gradle:4.0.1
wrapper里的gradle的版本是
distributionUrl=https\://services.gradle.org/distributions/gradle-6.1.1-all.zip

后来我改回到
com.android.tools.build:gradle:3.5.0
distributionUrl=https\://services.gradle.org/distributions/gradle-5.6.2-all.zip
可以正常发布release包

[2020-11-03 12:55] mulieli commented on #69663
我之前用的
build.gradle 中的dependencies 中的gradle版本是
com.android.tools.build:gradle:4.0.1
wrapper里的gradle的版本是
distributionUrl=https\://services.gradle.org/distributions/gradle-6.1.1-all.zip

后来我改回到
com.android.tools.build:gradle:3.5.0
distributionUrl=https\://services.gradle.org/distributions/gradle-5.6.2-all.zip
可以正常发布release包

[2020-11-03 12:55] #69663 closed

[2020-11-03 13:03] wildefucker commented on #69580
Sure, thanks:

C:\Users\wilde\AndroidStudioProjects\flutter_lottie1>flutter doctor -v
[√] Flutter (Channel beta, 1.23.0-18.1.pre, on Microsoft Windows [Version 10.0.19041.572], locale es-ES)
    • Flutter version 1.23.0-18.1.pre at C:\src\flutter
    • Framework revision 198df796aa (3 weeks ago), 2020-10-15 12:04:33 -0700
    • Engine revision 1d12d82d9c
    • Dart version 2.11.0 (build 2.11.0-213

[2020-11-03 13:05] Extazx2 opened #69673 "[video_player] Play only a part of a video"
Hello

Is there a way to display only a part of a video through the video player ?
There is the `seekTo` but I don't see any "stop at" method

Is it possible ?

I'm using the player through chewie so the versions are the following :

Flutter : 1.20.0
chewie : 0.9.10
video_player : 0.10.12+5

[2020-11-03 13:08] wildefucker commented on #69580
This is a picture from the Inspector of the browser:
https://i.stack.imgur.com/b3CxX.png

[2020-11-03 13:12] darshankawar commented on #69671
@nebnhoj
What is your iOS deployment target ? Also, what does legacy application mean ?
Thanks.

[2020-11-03 13:23] lmr520 commented on #69661
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations: #多语言
    sdk: flutter
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  common_utils: ^1.2.1
  cupertino_icons: ^0.1.3
  amap_location_fluttify: ^0.2.7+d2eb645
  provider: ^3.2.0
  shared_preferen

[2020-11-03 13:30] ilkerokutman opened #69674 "url_launcher throws missing plugin exception when published (android)"
## Steps to Reproduce

[code]

iOS works on debug and release runs and works on Testflight & Appstore
Android works on debug
Android works with command "flutter run --release"  (with signature)
Actually cant see the toast, immediately switchs to dial screen.

Android does not work when published (beta release or internal app sharing) "flutter build appbundle" or apks
Exception toast says:
`Missing

[2020-11-03 13:31] mohamedhasan2002 commented on #69560
**NOT WORKING BRUH!**
**AGAIN GETTING CRASH**
hasan@hasan-Lenovo-ideapad-320-15IAP:~/Desktop/CODE/ChitChat-master$ flutter build apk
Running "flutter pub get" in ChitChat-master...                     3.7s
You are building a fat APK that includes binaries for android-arm, android-arm64, android-x64.
If you are deploying the app to the Play Store, it's recommended to use app bundles or split the AP

[2020-11-03 13:43] nebnhoj commented on #69671
The current IOS deployment target is IOS 11, legacy application is an outdated app of my client @darshankawar .
Thank you for your reply

[2020-11-03 13:52] hamdikahloun commented on #69560
Hi @mohamedhasan2002

Thank you for your feedback.

From what I can see, there is no crash and the application has been successfully compiled :

[2020-11-03 13:53] iJamesPHP commented on #40443
I sorted this out on OSX via `killall dart`
`flutter run` worked just as expected afterwards.

[2020-11-03 13:55] #69542 closed

[2020-11-03 13:56] lukepighetti commented on #38987
I believe `flutter/plugins` is on ice right now while the Flutter team works on critical language features that are in flight like NNBD and web/desktop.

[2020-11-03 13:57] pedromassangocode commented on #69652
Hi @Paras2895
I would suggest you to contact the owner of the package so that he fix this issue in the package itself.

[2020-11-03 13:59] kphanipavan commented on #68449
![Screenshot 2020-11-03 at 7 22 44 PM](https://user-images.githubusercontent.com/60005847/97993355-f6422100-1e09-11eb-9b22-e901d6b03c43.png)
The request is supposed to be
[code]
Which verifies the hast of the root folder.
But the request which was sent was, as seen in the above image,
[code]
I will try things which may fix it, and will report it when done.

[2020-11-03 14:00] darshankawar commented on #69662
This seems to be a regression on Master branch. The issue is replicable on latest master wherein just creating a new project and trying to run `flutter run --dart-define=FLUTTER_WEB_USE_SKIA=true -d chrome`. results in blank screen and attached error log.

<img width="957" alt="Screenshot 2020-11-03 at 7 13 50 PM" src="https://user-images.githubusercontent.com/67046386/97992469-b9c1f580-1e08-11eb-

[2020-11-03 14:04] khoatd92 commented on #67222
Any update? Got similar issue

[2020-11-03 14:08] theRealBitcoinClub commented on #40107
I am also missing the scrollbar as a default for web

[2020-11-03 14:11] pedromassangocode commented on #69647
Hi @robert-wq
Looks like you are using a really old Flutter version.
Can you please upgrade to the latest  `stable` and try again
`flutter channel stable`
`flutter upgrade --force`
`flutter doctor -v`

If the issue persists, please provide your `flutter doctor -v` and a minimal complete reproducible project sample?
Thank you

[2020-11-03 14:12] darshankawar commented on #69662
Probably a duplicate of [69570](https://github.com/flutter/flutter/issues/69570).

@mikeesouth Per [this](https://github.com/flutter/flutter/issues/69570#issuecomment-720808945) comment, a fix should land in master soon.

[2020-11-03 14:13] LuisCampos97 opened #69675 "Collapse a widget through a fade in (equal to the spotify playlist bar)"
Can someone help me implement a widget like the Spotify playlist bar?
I have a SingleChildScrollView, and I have the Not Collapsed widget, and when I pull it up, when the widget is no longer visible, Collapsed widget appears through a fade in.
Thanks!

Not Collpased
![image](https://user-images.githubusercontent.com/33434500/97995468-7357a100-1dde-11eb-9793-2a509e2be5f9.png)

Collapsed
![image](ht

[2020-11-03 14:13] #61612 closed

[2020-11-03 14:15] estephinson commented on #51752
I like that, not sure how I feel about the use of the `hook` keyword though, and I don't think it solves the issue of foreign concepts. Introducing new keywords doesn't feel like the best approach in my mind, `withSideEffect` or `withComputedValue`? I'm no language designer so my words are worthless.

I do feel like hook-like functionality in flutter will be a great help in smoothing the learning

[2020-11-03 14:17] darshankawar commented on #69673
@Extazx2
Per `seekTo` document,

`Sets the video's current timestamp to be at moment. The next time the video is played it will resume from the given moment.`

You may play around this method to see if it serves your purpose.

[2020-11-03 14:17] pedromassangocode commented on #69560
Hi @mohamedhasan2002
Make sure you have a supported device connected before running the command and then run `flutter run --verbose` and once the crash happens share the logs here.

[2020-11-03 14:21] Hoxtygen commented on #20042
This solved it for me.  Thanks a lot.

[2020-11-03 14:25] Jokernight commented on #69664
@darshankawar Thanks for your answer

I already tried to remove the WorkSpaceSettings but the error stil exist.

I've just tried the "deep clean" but it's not working either..

[2020-11-03 14:26] amitkot opened #69676 "Persistent bottom sheet does not respect SafeArea"
When showing a persistent bottom sheet `SafeArea` is ignored and does not provide bottom padding:

<img width="511" alt="Screen Shot 2020-11-03 at 16 18 04" src="https://user-images.githubusercontent.com/654041/97996255-34324b80-1df0-11eb-88c6-23f9417c0e35.png">

Code:
[code]

[code]

[2020-11-03 14:26] darshankawar commented on #69662
Closing this as duplicate in favor of [69570](https://github.com/flutter/flutter/issues/69570)

[2020-11-03 14:26] #69662 closed

[2020-11-03 14:30] tiagosito commented on #48016
**This problem has been open since 2019 and may complete anniversary.**

**For me the problem only occurs on the iOS platform:**

**flutter doctor -v output**

[✓] Flutter (Channel stable, 1.22.0, on Mac OS X 10.15.7 19H2, locale en-US)
    • Flutter version 1.22.0 at / Users / tiagosito / flutter
    • Framework revision d408d302e2 (5 weeks ago), 2020-09-29 11:49:17 -0700
    • Engine revision 5b

[2020-11-03 14:32] TahaTesser commented on #69528
Hi @nt4f04uNd
Yes, it probably not implemented yet
https://github.com/flutter/engine/blob/db507f8f0e0c4a082d98366d092138a0a6d1e232/shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java#L271-L274

Uncommenting that fails to failure on compiling engine for Android
[code]

[2020-11-03 14:39] khoatd92 commented on #67222
@mrmayurgithub did you fix this?

[2020-11-03 14:42] tiagosito commented on #48016
**This problem has been open since 2019 and it is very serious.**

For me the problem only occurs on the iOS platform:
I do not believe that the problem is only with iOS or Android, after all the reports of the same bug come from both platforms

flutter doctor -v output

[✓] Flutter (Channel stable, 1.22.0, on Mac OS X 10.15.7 19H2, locale en-US)
• Flutter version 1.22.0 at / Users / tiagosito / f

[2020-11-03 14:43] sidrao2006 commented on #69675
Hey @LuisCampos97 ,
This issue tracker is used for tracking bugs and feature requests for the flutter framework, engine and the flutter tool.
Please see https://flutter.dev/community for resources and asking queries doubts and assistance on personal code. You may get some help if you post it on [StackOverflow](https://stackoverflow.com/questions/ask?tags=flutter) and if you need help with your cod

[2020-11-03 14:46] joaoarmando commented on #60763
I can't believe that it still not fixed... 5 months later and I'm facing this problem.

[2020-11-03 14:46] LuisCampos97 commented on #69675
Ok, sorry.
Thanks!

[2020-11-03 14:46] #69675 closed

[2020-11-03 14:50] kphanipavan commented on #68449
This might be a wrong thing to do but,
Commenting [this line](https://github.com/kphanipavan/Time/blob/067251b8ba899c8d2fff799eac6480daa147d772/flutter_service_worker.js#L24) worked for me flawlessly...

[2020-11-03 14:52] bernaferrari commented on #69611
Exactly the same error. I can't, because Firebase is not testable/reproducible. But I'm just doing what I told you, a simple login inside a try/catch with a zonedGuarded around and it is causing this issue.

[code]

[2020-11-03 14:57] mohamedhasan2002 commented on #69560
**HOWDY**
@hamdikahloun thanks for replying...
I'm able to build APK but when I run on my device the app crashes!!!
and @pedromassangocode when the run device it closes...

_I made this before getting the error(forgot to mention): On the Find & Replace box I find the word 'ChitChat' and I replaced with 'FlirtBak' after making these changes I'm getting my app crash when I opened!!!_

[2020-11-03 14:57] nt4f04uNd commented on #69528
@TahaTesser shouldn't this be ok if you wrap it with this?
[code]

[2020-11-03 15:01] dcharkes commented on #63255
@Dolaned In the standalone Dart SDK the files are in `include/*`.

However, it looks like that folder is not included in the Flutter SDK, let me make a PR for that.

In the mean time, the Flutter and Dart release cycles are aligned, so you can take the files from the Dart SDK for now. The files have a built-in protection against version skew, so even having a different version is okay or will give

[2020-11-03 15:03] dcharkes opened #69677 "Add `include/*` files to Flutter SDK"
The standalone Dart SDK has files in `include/*`, however these are missing in the Dart SDK release inside Flutter.

See https://github.com/flutter/flutter/issues/63255#issuecomment-721182337

[2020-11-03 15:09] nt4f04uNd commented on #42795
Fixed with https://github.com/flutter/flutter/issues/40590#issuecomment-601093769

[2020-11-03 15:14] FrancescoMasaia commented on #69619
[code]

return new CircularProgressIndicator, works but when I switch to LinearProgressIndicator() it gives me that error

flutter doctor:
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, 1.23.0-18.1.pre, on Linux, locale en_US.UTF-8)

[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[✓] Chrome - develop for the web
[!] Android

[2020-11-03 15:16] TahaTesser commented on #28766
Hi @matthew-carroll
I think 1.8 is pretty standard, it doesn't make sense to 1.7 now.
We always ADD 1.8 without thought, maybe it's just me

[2020-11-03 15:24] steffenhaak commented on #32433
On Firefox, this actually breaks text fields completely. If you do an outside click, it is no longer possible to enter any text in the text field, despite the cursor still being shown. Maybe there is another bug ticket for that? The only chance to get the textfield working again is by temporarily focusing on another text field, if one is available on the screen.

This is reproducible in the flutte

[2020-11-03 15:27] moda20 commented on #69625
Hi @pedromassangocode , thanks. But I always was able to build without adding the environment variable. it only starting to happen when I switched to the V2 embedding and I don't know why.
I added the environment variable, but now I had another error with a plugin. I already can build the plugin without problems but when trying to build my app that uses this plugin, I get this error :

[code]

it

[2020-11-03 15:32] TahaTesser commented on #69528
@nt4f04uNd
Makes sense, let me try it and get back to you soon

[2020-11-03 15:38] hamdikahloun commented on #69605
Hi @spiderion

You can try this :
<details>
  <summary>main.dart</summary>

[code]

</details>

[2020-11-03 15:40] NikolaVuj opened #69678 "[iOS]having google map as body of Scaffold breaks drawer"
I'm using https://pub.dev/packages/google_maps_flutter as body of Scaffold, and i have drawer with empty container in that Scaffold. If drawer animation is not finished when i press home button, drawer will be unresponsive when i come back in app. This does not happen if body doesn't contain Google maps. For ease of reproduction on simulator you can start dragging drawer and press shift+cmd+h (hom

[2020-11-03 15:41] fiorcode commented on #62019
any solution for this situation?

[2020-11-03 15:41] feinstein commented on #67497
Yes, it is, that's why I said:

But you could do it without the `AnnotatedRegion`, if you don't have a page without an `AppBar`. Just call `SystemChrome.setSystemUIOverlayStyle` on `main` or something similar, I guess it should work.

[2020-11-03 15:41] johnwiese-ms opened #69679 "Flutter codelab sample mistake"
In this step there is a mistake in the code https://codelabs.developers.google.com/codelabs/flutter/index.html#7
[code]

Note that you you have "Duration" as the property name on AnimationController, when it should be "duration" lowercase 'd'

[2020-11-03 15:44] OnlyTarg commented on #27086
Thank you so much!!!!

[2020-11-03 15:49] justinmc commented on #64471
Thanks, I suppose I'll reopen and keep trying to gather information.  If anyone can reproduce or sees this locally, let us know.

[2020-11-03 15:53] steffenhaak opened #69680 "[web] TextField broken on Firefox browser"
## Steps to Reproduce

Use any TextField Widget:

[code]
1. Run web app on latest Firefox Browser.
2. Click inside the text field and type any text. Text is shown in text field.
3. Click outside of text field. The cursor stays in text field.
4. Try to type again on the keyboard. Nothing happens.
5. Click inside text field and try to type again: again, nothing happens.

**Expected results:**
Whenev

[2020-11-03 16:02] Yayo-Arellano commented on #68853
I had the same issue. After removing the chinese name from the PRODUCT_NAME the app is able to run normally

[2020-11-03 16:03] spiderion commented on #69605
@hamdikahloun  By opening this issue I am trying to notify the flutter team about new issues that didn't exist before.
I have already found a workaround by calling the dispose method from a WillPop callback widget.
The workaround works pretty well but the flutter team should still fix the issue.

[2020-11-03 16:04] rmt21 commented on #69564
Hello,
I'm also experiencing the same uri was called on null error when using the URI class for requests to a server...
![Screenshot 2020-11-03 at 15 55 02](https://user-images.githubusercontent.com/10080376/98009629-ace3d880-1ded-11eb-8a82-bbb0c76fe1fa.png)
![Screenshot 2020-11-03 at 15 55 53](https://user-images.githubusercontent.com/10080376/98009661-b66d4080-1ded-11eb-93e8-4b25984a46d1.png)

a

[2020-11-03 16:11] Chidhambararajan commented on #69571
I am too facing the same issue , network images aren't loading in flutter for web , didn't try in flutter for desktop or mobile

I am running Ubuntu 20.04 Lts with following flutter config :
[code]
Is there any temporary work around available?

[2020-11-03 16:12] joannakotula commented on #46683
I have similar case. Gist: https://gist.github.com/joannakotula/fd75a1a71780477ff1aa99db7425c939

Error:
[code]

Dartpad has different error.

[2020-11-03 16:22] nturgut commented on #32433
@steffenhaak can you file another issue for the Firefox problem that you observed?  I was also able to observe it. Yes you are right, that issue will have a higher priority.

[2020-11-03 16:25] hamdikahloun commented on #69605
Hi @spiderion
Thank you for your feedback . New PR will be created to fix this issue.

[2020-11-03 16:29] kbokarius commented on #56869
Here is what we're doing with WebView, it works for Google/Facebook/Apple Sign In. The user agent string seems to fix it. However, we do have to clear cookies with `CookieManager().clearCookies();` prior to launching the WebView, otherwise Facebook will automatically log in to the last logged in account.

[code]

[2020-11-03 16:34] mikron123 commented on #47745
Any workaround yet?

[2020-11-03 16:35] khoatd92 commented on #67222
@jonahwilliams can you help to take a look pls?

[2020-11-03 16:38] Vanessa-Berazategui commented on #66627
I have the same problem with flutter 1.22.3 and chewie 0.9.10 (video_player: ">=0.7.0 <0.11.0"). I had to downgrade flutter to version 1.20.4 to get it working.

[2020-11-03 16:39] hamdikahloun commented on #69605
Hi @darshankawar

 root-cause for https://github.com/flutter/flutter/issues/45488 : No onPause or onBlur lifecycle event exist .
 root-cause for https://github.com/flutter/flutter/issues/69605 : Video players not disposed in `onDetachedFromEngine` event  .

Thank you

[2020-11-03 16:44] mehmetf commented on #69642
@chinmaygarde as well. Unfortunately, user reports are all we have at this point. No reproduction. We do know that this particular crash came from iOS 11.2 device.  They have other traces as well which end up in AGXMetalA8 lib and together they form ~7% of their total crashes on iOS (2nd most severe) making this a P2.

[2020-11-03 16:44] mugikhan commented on #68819
Also getting this error when upgrading gradle to 6.5.

Android Studio does not allow me to place this in the manifest
```"<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>"```

[2020-11-03 16:46] mehmetf commented on #69642
This is the other trace:

[code]

[2020-11-03 16:47] HansMuller commented on #69619
This appears to be a consequence of https://github.com/flutter/flutter/pull/69060.  Including a widget that include a Directionality widget, like MaterialApp, will fix the problem.

CC @goderbauer

[2020-11-03 16:48] callmejm opened #69682 "[local_auth] Change default text"
## Use case
How can change the **Touch fingerprint sensor** , **Not recognized**, **Too many attempt , try again later** etc , all the default message under the fingerprint image
![image](https://user-images.githubusercontent.com/6957533/98014638-de34c680-1e36-11eb-85c3-3bcc399e6cec.png)

## Proposal
Please add those wording to **AndroidAuthMessages** , so we can set the language we want

Similar

[2020-11-03 16:48] mehmetf commented on #69642
@flutter-symbolizer-bot https://github.com/flutter/flutter/issues/69642#issuecomment-721246638 internal engine#2eac514f26a676d1df0821e815d501149d3ead7f ios release arm64

[2020-11-03 16:50] justinmc commented on #43887
@darrenaustin I believe you were working on TextSelectionTheme, did you have any opinion on how iOS should use those settings?

I think I'm leaning towards iOS-style text selection using only Cupertino theme values.  That would mean updating it so that textSelectionColor has no effect on iOS.  iOS text selection is mostly defined in cupertino/text_selection.dart, which doesn't have access to the M

[2020-11-03 16:52] subzero911 commented on #62019
I started using MobX, it has ObserverableFuture which holds a future state. This package https://pub.dev/packages/mobx_widget contains ObserverFuture which is a FutureBuilder analogue, working with an ObservableFuture type. I await the future in a Store and watch its state on UI side.

[2020-11-03 16:53] mehmetf opened #69683 "Top crash in customer:money"
The following is the top crash in customer:money iOS release.

[code]

User reports are all we have. This crash corresponds to 12% of all their crashes making it their #1 crash.

[2020-11-03 16:54] mehmetf commented on #69683
@flutter-symbolizer-bot https://github.com/flutter/flutter/issues/69683#issue-735483526 internal engine#2eac514f26a676d1df0821e815d501149d3ead7f ios release arm64

[2020-11-03 16:57] rishabhdeepsingh opened #69684 "Execution failed for task ':thumbnails:verifyReleaseResources'. on apk build"
Steps:
- `flutter build apk`

gives the following error

➜ `flutter build apk`
You are building a fat APK that includes binaries for android-arm, android-arm64, android-x64.
If you are deploying the app to the Play Store, it's recommended to use app bundles or split the APK to
reduce the APK size.
    To generate an app bundle, run:
        flutter build appbundle --target-platform android-arm,and

[2020-11-03 16:58] mehmetf commented on #69683
@mraleph This is a VM issue.

[2020-11-03 17:00] aam commented on #69683
I believe this is a duplicate of https://github.com/flutter/flutter/issues/68603 the fix for which landed late last week.

[2020-11-03 17:00] tvolkert opened #69685 "Provide better error messages about disabled insecure HTTP connections"
**Context:**
https://flutter.dev/docs/release/breaking-changes/network-policy-ios-android
https://medium.com/flutter-community/solving-the-new-https-requirements-in-flutter-7abe240fbf23

Can we update the error message to include the fix? Instead of just saying that HTTP is blocked, we could tell people to either a) replace the URL with an HTTPS connection or b) enable HTTP (with all the caveats)

[2020-11-03 17:02] aam commented on #69683
Closing as duplicate

[2020-11-03 17:02] #69683 closed

[2020-11-03 17:03] tvolkert commented on #69685
@mehmetf can we fix this before the next stable cut?

[2020-11-03 17:03] tvolkert commented on #69685
FYI @timsneath

[2020-11-03 17:07] renecum opened #69686 "url_launcher 5.7.8 failing on iOS 14+ when a default browser different than Safari is used."
In iOS 14 when you select a default browser other than Safari, the in-app browser behavior doesn't work anymore and instead of opening the URL in for example Chrome (which is my default browser).

In example code, the app goes to the else statement and throws the error `'Could not launch $url';`

_launchURL() async {
  const url = 'https://flutter.dev';
  if (await canLaunch(url)) {
    await laun

[2020-11-03 17:10] MarcinusX commented on #69034
It's weird, I cloned the repo again and I was able to reproduce the issue without the need of adding anything but `generate: true`.

@TahaTesser Do you have maybe some VScode plugin for localization or something that may interfere with the flow?

I will ask my colleague to try reproducing it and we'll see :)

[2020-11-03 17:11] mploigt opened #69687 "iOS does not save the password using an AutofillGroup with autofillHints."
## Steps to Reproduce
- use the attached code or [this repo](https://github.com/mploigt/flutter_autofill_hints_test) and run on native device
- fill in both username and password
- tap on Submit button

**Expected results:**
iOS asking to save the password

**Actual results:**
iOS does not ask

<details>
  <summary>Code / Logs</summary>

[code]

[code]

[code]

</details>

[2020-11-03 17:11] esDotDev commented on #51752
Ya there's two sides to that coin I think. A new keyword makes is a major event, so knowledge propagation would be very swift, but the other side is certainly that it's now something new to _everyone_.

[2020-11-03 17:13] zanderso opened #69688 "The Engine -> Framework roller is 33+commits behind"
Filing an issue for this so we don't lose track of it.

@cbracken @jonahwilliams

[2020-11-03 17:14] zanderso commented on #69688
https://github.com/flutter/flutter/pull/69672 <- Last attempt here.

[2020-11-03 17:14] zanderso commented on #69688
[code]

[2020-11-03 17:16] SokHo opened #69689 "Tap on TextField shouldn't rebuild whole StatefulWidget"
[code]

I just sample short code but you can download full from here
[Pradip Debnath](https://github.com/itzpradip/flutter-chat-app)

problem was every time we tab on TextField it rebuild whole widget.

[2020-11-03 17:18] gaurav1903 opened #69690 "migrate Your Flutter application is created using an older version of the Android embedding. It's being deprecated in favor of Android embedding v2."
Your Flutter application is created using an older version of the Androidembedding. It's being deprecated in favor of Android embedding v2.
I am running into this error from last 3 apps.All are malfunctioning even after fixing this issue.I want to fix this properly for once. Also why does this error occur?

[2020-11-03 17:22] steffenhaak commented on #32433
@nturgut thanks for your reply. After writing my comment, I actually thought the same and already opened a separate issue: https://github.com/flutter/flutter/issues/69680

[2020-11-03 17:23] moniaS commented on #69034
I've managed to reproduce it as well.

<details>
  <summary>Logs</summary>

[code]
</details>
<details>
  <summary>doctor</summary>

[code]
</details>

[2020-11-03 17:25] jefflim-google opened #69691 "Engine crashes for customer:money related to AGXMetal"
The following crash is seen in customer:money iOS release:

[code]

[2020-11-03 17:25] jefflim-google commented on #69691
@flutter-symbolizer-bot #69691 (comment) internal engine#2eac514f26a676d1df0821e815d501149d3ead7f ios release arm64

[2020-11-03 17:27] ferhatb commented on #69571
Team is working on rolling engine into flutter. Hope it will get in shortly. The only workaround is to build your own flutter/engine and using flutter run -d chrome --local-engine=host_debug_unopt. It would be worth your time if you are considering contributing to code base in the future. Sorry for the breakage, we are changing e2e tests to run using developer mode as well as release to prevent th

[2020-11-03 17:28] goderbauer commented on #69619
The LinearProgressIndicator always needed a Directionality widget, even before #69060. However, before that PR you were getting a undescriptive error null assertion error. With this change in place you get the more descriptive error that tells you to wrap your app in a MaterialApp or Directionality widget. Doing so is the right fix here.

[2020-11-03 17:28] #69619 closed

[2020-11-03 17:29] mehmetf commented on #69691
Dupe: https://github.com/flutter/flutter/issues/69642

[2020-11-03 17:29] #69691 closed

[2020-11-03 17:35] kf6gpe opened #69694 "Prioritize frame creation over other async computation"
https://b.corp.google.com/issues/172325242 is the upstream bug.

cc @zanderso @chinmaygarde for visibility.

[2020-11-03 17:40] ranjithrd opened #69695 "Error: Creation of temporary directory failed, path = '/Users/username/.pub-cache/_temp/dir' (OS Error: Permission denied, errno = 13)"
## Steps to Reproduce
Every time I try to use a flutter or dart command, this error is produced. Please look at the logs.

I'm not sure if this is platform specific. I cannot use either the Flutter and Dart command line tools. Error included below.

I cannot even do `flutter doctor -v` which is commonly asked on this platform.

I will be trying to reinstall the flutter tool, but any fixes would be

[2020-11-03 17:45] jonahwilliams commented on #69688
Should be fixed by https://github.com/flutter/flutter/commit/9ec5d7131bfc91a52b42ee9a09866ddb6f1396fd

Of course the tree is still red due to ios32 failures

[2020-11-03 17:51] arrrrny commented on #68819
same here as @mugikhan

[2020-11-03 17:52] ranjithrd commented on #69695
I reinstalled the Flutter SDK and it started working.

[2020-11-03 17:54] zanderso commented on #69449
Possibly related https://github.com/flutter/flutter/issues/69438 @xster

[2020-11-03 17:57] christopherfujino commented on #62146
Please read the original post, it has instructions for upgrading past.

[2020-11-03 18:09] ventocilla commented on #66669
Hi,

I’ve done as you told me but I´m getting the same error.
Please see the images below (print screens).

Afther running git clone in the Documents folder:
![Print Screen - dir - 1103](https://user-images.githubusercontent.com/16846925/98023653-02b48280-1de6-11eb-9a07-5b6f8c383d94.PNG)

Path:
![Print Screen - path as user - 1103](https://user-images.githubusercontent.com/16846925/98023681-0ea044

[2020-11-03 18:10] zanderso commented on #69694
Unrelatedly, we had some discussion about this a couple of weeks back. @chinmaygarde is already working on drafting a doc on this topic.

[2020-11-03 18:11] #69593 closed

[2020-11-03 18:13] jerryhamby commented on #67658
I haven’t heard anything lately about this issue. Can you update me. I’m very close to going to a release version, but this needs to work.
Jerry

[2020-11-03 18:13] luigi-rosso commented on #69615
We actually hadn't tried on web yet, but your recording seems to show a slightly different issue there.

[2020-11-03 18:21] truthmast commented on #53897
You're probably seeing text from the transparent HTML textarea that Flutter uses. Usually you can't highlight text in there, but there are a couple ways to end up focusing the textarea. Most commonly this ends up happening when using the browser's find [`ctrl + f`] text function).

[2020-11-03 18:22] YeungKC commented on #11593
I'm interested in resolving this issue, does anyone have any suggestions for improvements to the API?

[2020-11-03 18:23] ventocilla opened #69697 ""CreateProcessW failed 5" when running Flutter doctor on Windows"
Hi,

I openned the issue #66669, it was closed (not from me) but I still having the some problem.
Please check that if you have doubt was the problem is about.

Well, I’ve done the instructions told but response of the #66669 but I´m still getting the same error.
Please see the images below (print screens).

1. Afther running git clone in the Documents folder:
![Print Screen - dir - 1103](https://

[2020-11-03 18:24] shaan-saz commented on #62146
Already solved it, just want to share output of this command as you mentioned in post. Thanks 👍

[2020-11-03 18:25] jmagman commented on #68144
This happened again on build390-m9 https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8864629808132264784/+/steps/run_plugin_lint_mac/0/stdout

[2020-11-03 18:27] johnpryan commented on #69477
@cv692001 No problem, thanks for the update!

[2020-11-03 18:28] godofredoc commented on #69621
\cc @keyonghan FYI this is the onboarding project for Yusuf