[2020-09-16 18:12] xster commented on #5917
Update, the current message does mention ANDROID_SDK_ROOT in the error message now in https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/base/user_messages.dart#L77.

As pointed out above, it might want to mention setting `flutter config --android-studio-dir` or `flutter config --android-sdk` instead since it can cover more cases.

[2020-09-16 18:17] liyuqian opened #65957 "Set up special rules for size and tech debt regression alerts"
The default step-based regression detection of http://flutter-flutter-perf.skia.org/ would generate too many alerts as every small size or debt change is a perfect step change. We shall set special detection rules (e.g., only alert if the metric jumps more than x%) for those. Otherwise, we'll get a habit of ignoring those alerts and miss the real big regressions.

[2020-09-16 18:18] liyuqian commented on #65957
@kf6gpe : would you like to take this issue? Please let me know if there's any difficulty in setting up such alert rules.

[2020-09-16 18:21] blasten commented on #65556
If you manually run the app multiple times (without `flutter drive`), does it still happen?  If it does, what about launching it with Xcode until it crashes?  This way you can jump right to the code that caused the crash.

[2020-09-16 18:39] cverond commented on #9471
I have very same problem when screen goes off.

[2020-09-16 18:39] mordivgor commented on #65725
hello @darshankawar
Hard to say what I can add more. From my perspective we can assume that it is similar like the mentioned case and close this one.
@azbuky gave many useful information and I think I won't be able to add more.

[2020-09-16 18:48] darrenaustin commented on #65782
Yes, thanks for the report. As Hans mentioned we are working to transition everything over to ColorScheme based colors. We obviously have a ways to go. Currently we are in the process of migrating the text selection colors, which is described in the [design doc](https://flutter.dev/go/material-theme-system-updates).

The first step landed with: #62014. This introduced the new `TextSelectionTheme`

[2020-09-16 18:48] vitorstaycharlie commented on #49363
This solved the problem for me too. Thanks!

[2020-09-16 18:48] sigmundch commented on #64011
Indeed, https://github.com/dart-lang/sdk/commit/53895b22707d986776db19d4c953d9d3b0178401 should fix this issue. Do let us know if that's not the case.

I filed a cherry-pick request for the Dart beta channel: https://github.com/dart-lang/sdk/issues/43453, which is intended to be part of the next beta and stable releases.

[2020-09-16 18:48] #64011 closed

[2020-09-16 18:49] Aman9026 commented on #65956
required

[2020-09-16 18:59] cyanglaz commented on #65556
@blasten The crash didn't happen for me on `flutter run`, only drive.

[2020-09-16 19:03] darrenaustin commented on #62460
This sounds like it will be fixed with #47156. I will close this as a duplicate. Please reopen if this is not solved when a fix for #47156 lands.

[2020-09-16 19:03] #62460 closed

[2020-09-16 19:05] GaryQian commented on #65821
With the outlier inset fixed, you may want to consider using something similar to https://github.com/flutter/engine/blob/master/shell/platform/android/io/flutter/embedding/android/FlutterView.java#L477 which simply uses a heuristic to determine if keyboard is shown. When the inset is smaller than a percentage of screen, the keyboard is considered visible, otherwise, it is considered hidden. This h

[2020-09-16 19:10] xster commented on #65821
ya, it's a bit of a leading question. We also can't document it since there's no real API before API 30. Even plugin solutions just do https://github.com/adee42/flutter_keyboard_visibility/blob/981f6794718654cb30b36e403505fe1ff502205b/android/src/main/java/com/github/adee42/keyboardvisibility/KeyboardVisibilityPlugin.java#L45 which is more or less what the Flutter solution is too so far.

If there

[2020-09-16 19:15] KohlsAdrian commented on #63220
Try [this](https://github.com/flutter/flutter/issues/60883#issuecomment-654602918)

[2020-09-16 19:19] azbuky commented on #65725
Looking more closely to the screenshots, it seems (at least on my device) that Chrome uses sub pixel antialiasing when the text is smaller than the text field's width but switches to grayscale antialiasing when the text is longer.

Also it seems the long text is slightly more blurry because it is not pixel boundary aligned. Might be the reason Chrome switches to grayscale antialiasing.

In @darsha

[2020-09-16 19:20] federicodesia commented on #14488
Hi, has anyone managed to solve this problem?

[2020-09-16 19:24] cbracken commented on #60025
Heads up that fixing this will likely require a manual engine roll due to this check:
https://github.com/flutter/flutter/blob/bb2ab8838a928a68f1d30d204043d3e5bb30aa81/dev/devicelab/bin/tasks/build_ios_framework_module_test.dart#L237-L241

[2020-09-16 19:24] jmagman commented on #61047
@Jeremywhiteley @aseef17 Let's have discussions about bugs and features in their respective issues (https://github.com/flutter/flutter/issues/60026).  This is an umbrella issue tracking all of it.

[2020-09-16 19:25] aytunch commented on #61047
@aseef17 since home widgets are something completely new for iOS users, they will most probably have an extra interest towards apps utilizing this feature and these apps will have higher downloads. Thats my humble opinion. So I believe supporting home widgets asap while it is still new as a very important topic. Also I remember in another issue someone said there are some technical impossibilities

[2020-09-16 19:31] Zeeshan-progs commented on #65004
check the formats and locations

[2020-09-16 19:36] yuhao-nyc commented on #65099
It caused some CORS issues after I use `--dart-define=FLUTTER_WEB_USE_SKIA=true`. for example I have NetworkImage. image src coming from network. they are not rendering cause CORS issue @Nash0x7E2

[2020-09-16 19:36] Zeeshan-progs commented on #65004
i dint get your point what's your issues

[2020-09-16 19:37] gspencergoog commented on #65096
OK, https://github.com/flutter/flutter/pull/65667 has landed, so you should be able to check the `event.character` attribute and compare it to 'N' to decide if shift-N has been pressed, like so:

[code]

[2020-09-16 19:38] sudo-panda opened #65959 "Running flutter doctor through VSCode plugin isn't working"
## Steps to Reproduce

1. Install flutter and flutter plugin through VSCode
2. Install Android SDK through cli tools and add the folders to the `PATH` and other required variables like `ANDROID_SDK_ROOT` through `.zshrc`
3. Run flutter doctor through the plugin and through the integrated terminal

## Logs

Output of flutter doctor in the VSCode output panel when running it via the plugin:
[code]

[2020-09-16 19:43] jonahwilliams commented on #65956
`@required` if you are currently authoring flutter code. In a future release you will be able to opt-in to null-safety gradually, which allows the usage of `required` which has stronger guarantees

[2020-09-16 19:43] #65956 closed

[2020-09-16 19:44] terrylucas commented on #56719
Code is written to call the service extension.  Pinged liyuqian, as I'm getting an error that '_flutter.estimateRasterCacheMemory' service is not known.  Using tip of Flutter:
[code]

[2020-09-16 19:45] dancojocaru2000 commented on #60026
A temporary workaround would be a way to facilitate easy data communication between the widget written with SwiftUI and the app written in Flutter.

[2020-09-16 19:46] jonahwilliams commented on #52267
If we could generate a new main (like we do on the web), we would not need any of these other features.

The entry-point configuration I think is only used by background activity plugins - in fact, dart programs are required to have a `main()`, but we would need to re-export everything though that lib and I'm not 100% sure it would work

[2020-09-16 19:46] chunhtai commented on #64926
We can reused the label which is good.

However, I figured we don't have the ability to add namesRoute that will only be announce once when route changes

For example if we have following node
[code]
When the route changes, it will announce `Alert, dialog title`. However, if you moving the focus to some where and move it back to this node it will still announce `Alert, dialog title`.

The native b

[2020-09-16 19:47] jonahwilliams commented on #52267
actually, we could just wrap every top level function in a new function with the same name, and add plugin init to each one.

[2020-09-16 19:49] bruno-garcia commented on #16883
The current Sentry SDK works with Flutter Web. I did some tests with Flutter Web, basically I [build it like this](https://github.com/getsentry/sentry-flutter/blob/d22e8376648dd9746304646036dbd24bb885e177/example/run.sh#L24-L29).

[And upload sourcemaps like this](https://github.com/getsentry/sentry-flutter/blob/d22e8376648dd9746304646036dbd24bb885e177/example/run.sh#L38-L52).

It's not ideal yet

[2020-09-16 19:50] jmagman commented on #61047
@aytunch

[2020-09-16 19:52] jmagman commented on #60025
@cbracken That import doesn't seem super useful, I'm going to change it to just confirm that header exists.  Then no manual roll needed.

[2020-09-16 19:53] blasten commented on #52267
How bad would it be if we just ask developers to manually call the plugin registrant from `main()`?   Newer Flutter projects can call the registrant by default.

[2020-09-16 19:57] jdeltoft opened #65962 "Make a "partial" option for checkbox status instead of only true/false"
I'm making a feature where I want a way to check all boxes or no boxes in a list of check boxes.  But I fall into the trap of this third state.  I will have to come up with my own icon I guess for now.  The checkbox in flutter only has two states.  true/false.  But this is a sort of "all or none" checkbox.  So it as three states.  true/fall/null  maybe?  Some third state to show a middle "partial"

[2020-09-16 19:57] nilsmagnus opened #65963 "official plugin for encryption/decryption and signing/verification"
## Plugin for working with keychain/keystore

Some packages on pub.dev/flutter implement partial support for generating keypairs of various sorts and using them for signing and encryption. These packages vary in feature-completeness and are not updated frequently enough to provide assurance of correctness and robustness.

It would be reassuring to use a plugin provided by the flutter dev team for

[2020-09-16 19:59] xster commented on #40912
flutter/gallery has some swipable elements that aren't swipable. I think there's some issues in the usage code since dev/integration_tests/flutter_gallery works ok.

[2020-09-16 19:59] xster commented on #40912
@chunhtai let's track issues here.

[2020-09-16 20:01] jonahwilliams commented on #52267
I don't think it would be that bad - provided that we always generated it and checked it in. That would essentially follow the same pattern that the plugin registrants follow for platform code today

[2020-09-16 20:02] xster commented on #40912
Surprisingly showing keyboard, typing from soft keyboard, selecting text, moving cursor, copy/pasting all work. Just not typing. We're likely missing one callback in our Android embedding.

[2020-09-16 20:04] jmagman commented on #60025
@cbracken https://github.com/flutter/flutter/pull/65961

[2020-09-16 20:04] aytunch commented on #60026
Since home widgets are something completely new for iOS users, they will most probably have an extra interest towards apps utilizing this feature and these apps will have higher downloads. Thats my humble opinion. So I believe supporting home widgets asap while it is still new as a very important topic. Can someone explain why is it difficult to implement this feature in terms of swiftUI?

[2020-09-16 20:06] Piinks commented on #62921
Re-opening as the change was reverted.

[2020-09-16 20:08] Piinks commented on #62921
This is going to require a more thoughtful migration plan. The new and old API will need to peacefully coexist while customers are migrated, with the old API eventually being deprecated.

[2020-09-16 20:11] Piinks commented on #54059
I am moving the milestone once last time. I'm currently working on a related issue (#63978) that should help the fix for this follow in short order. That issue is actually a regression in the same area of the codebase that will need changing to resolve this, which is why it's higher priority. :)

[2020-09-16 20:11] godofredoc opened #65965 "Create secrets for adhoc tests"
To complete the migration of tests to luci we will need a few more secrets in cloudkms:

- [x] GOOGLE_DEVELOPER_SERVICE_ACCOUNT_ACTOR_FASTLANE
- [x] ANDROID_GALLERY_UPLOAD_KEY
- [x] FASTLANE_PASSWORD
- [x] PUBLISHING_MATCH_CERTIFICATE_REPO
- [x] PUBLISHING_MATCH_REPO_TOKEN
- [x] MATCH_PASSWORD
- [x] GCLOUD_FIREBASE_TESTLAB_KEY
- [ ] GCLOUD_SERVICE_ACCOUNT_KEY (we may not need this one)
- [x] FIREB

[2020-09-16 20:12] justinmc commented on #62521
@ctrysbita Thanks for the quick response!  Tag me for review whenever you want.

[2020-09-16 20:15] EdwynZN commented on #65962
Have you checked the tristate property? https://api.flutter.dev/flutter/material/Checkbox/tristate.html

`Checkbox(tristate: true);`

[2020-09-16 20:16] RichardJCai commented on #61137
Did some initial investigations:

It seems like the reason the WebView becomes invisible is because the ColorFilter is applying to the OverlayView (the outermost layer in the image below) which blocks out the WebView. The OverlayView becomes opaque after being painted over and covers the layers below it.

Another interesting thing to note is that the ColorFilter is also applying to the FlutterView

[2020-09-16 20:35] iskakaushik commented on #61137
Some additional observations. This is because we call `saveLayer` in `color_filter_layer.cc` during `Paint`, which in-turn paints the internal node canvas of the latest offscreen layer. Given that skia isn't aware of the underlying platform view. We would likely need to do something along the lines of:

1. During pre-roll for all the single child parents of the platform view collect the intended m

[2020-09-16 20:37] gaaclarke commented on #65402
I tried reproducing this again with the gallery app.  I wasn't able to:
[code]

I wonder if there was a problem with a server that the tools were communicating with?  Something like Apple's server for checking certificates?  Can someone that can reproduce the problem try to reproduce the problem while not connected to the internet?

[2020-09-16 20:47] Piinks commented on #43522
`Tis! Thanks!

Just checked, the FlexibleSpaceBar class has a dartpad sample, but the scroll physics are wrong to illustrate the feature. they should be `BouncingScrollPhysics(parent: AlwaysScrollableScrollPhysics())`
https://api.flutter.dev/flutter/material/FlexibleSpaceBar-class.html

For the SliverAppBar class, there are no dartpad samples yet.
https://api.flutter.dev/flutter/material/SliverApp

[2020-09-16 20:48] rydmike commented on #65782
Thanks @HansMuller for the link to the design doc, and yes I do recall reading it before, just had another read, lgtm. 👍
I think it contains some new info from my previous read, eg on the AppBar topic and its brightness challenges, a bit related to this issue and discussion https://github.com/flutter/flutter/issues/50606. Pleased to see it is being considered as well.

@darrenaustin The improvemen

[2020-09-16 20:48] Piinks commented on #43521
Awesome! Yes, thank you!

[2020-09-16 20:48] #43521 closed

[2020-09-16 21:01] diegolaballos commented on #59277
Any updates on this? There seems to be, at least a partial implementation for the Navigator 2.0 in the latest release but I'm not sure if everything needed to reset the navigation stack is there.

[2020-09-16 21:03] dfourcfive opened #65967 "[tool_crash] FileSystemException: Cannot copy file to 'C:\Users\Ibrahim\Documents\itravel\android\app\src\main\res\mipmap-hdpi\ic_launcher.png', OS Error: Accès refusé., errno = 5"
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
FileSystemException: Cannot copy file to 'C:\Users\Ibrahim\Documents\itravel\android\app\src\main\res\mipmap-hdpi\ic_launcher.png', OS Error: Accès refusé.
, errno = 5
[code]
[code]

## Flutter Application Metadata
No pubspec in working directory.

[2020-09-16 21:17] kf6gpe opened #65969 "Flutter_driver.waitFor impacts performance during UI performance testing"
Affects `customer: dream` and Fuchsia.

https://b.corp.google.com/issues/168731654.

[2020-09-16 21:18] Piinks commented on #28158
Thanks for opening a PR @Kavantix! I am also really excited about your sliver_tools package! Awesome work!

[2020-09-16 21:19] #65572 closed

[2020-09-16 21:20] justinmc commented on #65388
Weird. Nothing jumps out at me.  Here's my recent PR that had to do with the Android clipboard: https://github.com/flutter/engine/pull/20393

The log points to PlatformPlugin.java line 278, is that [here](https://github.com/flutter/engine/blob/63f40903de0fa9102a3c7db1c47f7a4c86f895b6/shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java#L278)?  I'm not sure I have the engine versio

[2020-09-16 21:26] hamdikahloun opened #65970 "[plugins]Deprecation & Unchecked warning"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: Add package's from [https://pub.dev/publishers/flutter.dev/packages](https://pub.dev/publishers/flutter.dev/packages) to pubspec.yaml
3. Run `flutter build apk`.

**Expected results:** No Warning

**Actual results:**

- androidintent : `MethodCallHandlerImpl.java uses unchecked or unsafe operations.` **PR** : https

[2020-09-16 21:27] mehmetf commented on #65821
There are two board categories of use cases I have seen:

- _I want a callback when keyboard appears/disappears so I can force focus on some widget, log some interaction, etc._ This is the boolean use case and it is the most common.

- _I want to smoothly animate some widget on screen based on keyboard animation._ This is a far rarer use case since Flutter handles this already for the most part. I

[2020-09-16 21:30] justinmc commented on #65723
This should just be the same thing as https://github.com/flutter/flutter/issues/59645.  I haven't made any changes to characters since then.  @hemandroid I'd try going through the various solutions posted in that thread if you haven't already.

Otherwise if this still isn't fixed, I guess we can just keep an eye out to see if anyone else is having this problem.

[2020-09-16 21:35] gaaclarke commented on #65936
Check out the documentation for launch.  In particular, setting `forceSafariVC` to false should fix your issue.  This is still a bug though.

[2020-09-16 21:37] feinstein opened #65971 "TextField/onChanged Docs show {@inject-html}"
Look at this documentation: https://api.flutter.dev/flutter/material/TextField/onChanged.html :

![image](https://user-images.githubusercontent.com/8120472/93395053-9b4d6e00-f84b-11ea-8e60-80b3b00c3b45.png)

[2020-09-16 21:37] cbracken opened #65972 "Fix Windows compiler warnings in engine and any direct dependencies we can"
The Windows engine build currently emits a heap of compiler warnings. We should fix those in our own codebase or any dependencies we can and file bugs for everything else.

Will add warnings here when I collect them all up.

[2020-09-16 21:37] cbracken commented on #65972
[code]
Fixed in https://dart-review.googlesource.com/c/sdk/+/162901

[2020-09-16 21:38] goderbauer commented on #64973
(issue triage): According to @LongCatIsLooong we are waiting for clarification from the customer.

[2020-09-16 21:48] firepmi opened #65974 "CocoaPods not installed or not in valid state."
when I try run the flutter on android studio on mac, I got this message.
[code]
but I already cocoapods and flutter run is working on terminal.
the issue is only android studio or vs code.

I tried this but not help.
[code]
please help me with this problem.

[2020-09-16 21:53] esskar commented on #53771
Ok, the problem occurs when i have content with images, that i load as assets without specifying the exact witdh/height. When i preload the images (or setting the height), the scrollbar behaves as expected.

[2020-09-16 22:00] gaaclarke opened #65976 "[doctor] Add macOS architecture to doctor output"
Now that there are 2 architectures for macOS (x64 and arm64) we should include that information in the `flutter doctor` output.  We often ask people reporting errors to add `flutter doctor` output and this can help us find bugs related to one architecture.

cc @jonahwilliams @jmagman

[2020-09-16 22:14] goderbauer commented on #54958
@anisalibegic Do you have some runnable, minimal code sample that reproduces this issue so we can investigate it?

[2020-09-16 22:22] goderbauer commented on #29351
I think we can close this. a GlobalObjectKey is a GlobalKey.

[2020-09-16 22:22] #29351 closed

[2020-09-16 22:22] beerline commented on #60143
this solution work because of opacity.
If using `PaintingStyle.fill` still no ink effect

[2020-09-16 22:24] goderbauer commented on #65938
/cc @a14n @chunhtai

I agree that `Route<void>` still needs to be allowed.

[2020-09-16 22:30] goderbauer commented on #65868
In tests, we render all text with the "Ahem" font, which replaces all characters with a rect. This is to make text rendering more predictable. So, what you're seeing is expected. We should document this better, however. This is tracked by https://github.com/flutter/flutter/issues/41773.

[2020-09-16 22:30] #65868 closed

[2020-09-16 22:30] scaraux commented on #65669
No problem :)
Thanks for your help!

[2020-09-16 22:31] goderbauer commented on #65811
/cc @justinmc

[2020-09-16 22:31] goderbauer commented on #65730
/cc @darrenaustin

[2020-09-16 22:33] goderbauer commented on #65563
/cc @chunhtai

[2020-09-16 22:33] Piinks opened #65979 "flutter-gold check breaks while traversing PRs"
The flutter-gold check appears to be broken.
The check runs as a cron job every five minutes, during which it iterates through all open PRs to update the check status.

According to the cron job listing, it has failed, but I cannot find an error log for the failure: [here](https://pantheon.corp.google.com/appengine/cronjobs?project=flutter-dashboard)

It appears from the gold-status logs that it f

[2020-09-16 22:34] Abion47 opened #65980 "EditableText.onSubmitted silently absorbs thrown errors"
This error shows up with a `TextField` given an `onSubmitted` or a `TextFormField` given an `onFormSubmitted`. When an error is thrown within the passed method, the error is silently discarded. This appears to be from the [`MethodChannel._handleAsMethodCall`](https://github.com/flutter/flutter/blob/fba99f6cf9a14512e461e3122c8ddfaa25394e89/packages/flutter/lib/src/services/platform_channel.dart#L42

[2020-09-16 22:35] Lailan opened #65981 "[iOS14] NSInvalidArgumentException on FlutterEngine"
## Steps to Reproduce

I developed a flutter module that is embedded in my application.
In the previous version of Xcode, I was able to build the project, but in the current version, the application crashes.

1. flutter create --template module my_flutter
2. In iOS app, open AppDelegate.
Create a variable
`lazy var flutterEngine = FlutterEngine(name: "treino-simples-modulo")`
And add this on didFi

[2020-09-16 22:36] gspencergoog commented on #65862
I have an executable built, just need to upload it to the gallery site.

[2020-09-16 22:38] Abion47 commented on #65980
This may be related to #16941.

[2020-09-16 22:42] jonahwilliams commented on #61815
Duplicate of https://github.com/flutter/flutter/issues/50880

[2020-09-16 22:42] #61815 closed

[2020-09-16 22:42] jonahwilliams commented on #65967
Duplicate of https://github.com/flutter/flutter/issues/50880

[2020-09-16 22:42] #65967 closed

[2020-09-16 22:45] godofredoc commented on #65881
The problem was a flake and has not happened again:

https://ci.chromium.org/p/flutter/builders/try/Linux%20Android%20Scenarios

[2020-09-16 22:45] #65881 closed

[2020-09-16 22:46] #65981 closed

[2020-09-16 22:48] beerline commented on #60143
Full correct solution.

Explanation:
We using `RawMaterialButton` with custom shape and path button's color to `RawMaterialButton.fillColor`.
And that it, `RawMaterialButton` handle with Ink effect.

<details>
    <summary> example </summary>

[code]
</details>

[2020-09-16 22:48] godofredoc commented on #65912
This is a problem with the authentication plugin. You'll need to click login and refresh when your name appears in the top right part of the dashboard you'll be able to download the logs.

[2020-09-16 22:49] #60143 closed

[2020-09-16 22:49] godofredoc commented on #65912
@CaseyHillers can you please link to the auth plugin bug?

[2020-09-16 22:50] godofredoc commented on #65899
@iskakaushik can you please share the link to the failing task? from the PR link seems like it succeeded

[2020-09-16 22:51] jmagman commented on #65976
It's already there (darwin-x64) in `doctor` and `devices`:
[code]

[2020-09-16 22:53] goderbauer commented on #64253
@mehmetf Is there any kind of additional information available for the context of the crash? Like, what was the user doing when this happened? What was visible on screen? Anything that would help in debugging this further...

[2020-09-16 22:55] jmagman commented on #65976
Never mind, that's hardcoded.
https://github.com/flutter/flutter/blob/9f040865c92a4c1dc37744248436f98c14b85cad/packages/flutter_tools/lib/src/macos/macos_device.dart#L44

[2020-09-16 22:55] jonahwilliams commented on #65976
We print darwin-x64 for every mac though @jmagman , we need to fix that too

[2020-09-16 22:55] goderbauer commented on #64253
(Also: As long as we don't know if the crashes are related, can we keep the discussion of #63984 and this one separated? Makes it easier to follow what the current state is.)

[2020-09-16 22:58] b055man commented on #65388
@justinmc yes, that's the one: https://github.com/flutter/engine/blob/d1bc06f032f9d6c148ea6b96b48261d6f545004f/shell/platform/android/io/flutter/plugin/platform/PlatformPlugin.java#L278
https://github.com/flutter/flutter/compare/1.20.2...1.20.3

[2020-09-16 23:03] mariamhas commented on #64245
We should keep the callback functionality to match Flutter framework, but perhaps provide a configuration that can allow developers to make TextformFields act "webby". marking as P5 as new feature

[2020-09-16 23:08] russell-sf commented on #65868
If I run the same code in an app I get...

![image](https://user-images.githubusercontent.com/53881666/93401263-cafe7500-f84f-11ea-966c-62758d7c5fbc.png)

Which I do expect. I should get the same thing in a golden test or what is the point of having a golden test?

[2020-09-16 23:12] godofredoc commented on #65979
There are two problems with the endpoint:

* It is making a request to a url that doesn't exist and returning an http status code 400.
* The endpoint is not managing the 400 not found status code properly as it is not showing up as an error.

[2020-09-16 23:15] esskar commented on #53771
The trick with preloading the images does only work on the simulator. on the real device it is not reliable. I played around with adding a container with a height that is greater then the available content but less then the expected height: the scrollbar is shown but when i start scrolling, the height of the scrollbar is adjusted. so it seems like that the initial height calculation is not working

[2020-09-16 23:20] okamototomoyuki1988 commented on #65777
@chunhtai
So I switched Flutter from flutter:master to chunhtai:nav-refactor-stock.
However, the "forward" and "back" of the browser do not work.
Is it not enough to just switch flutter?

[2020-09-16 23:35] chunhtai commented on #65777
oh yeah, that branch does not have the the right engine, let me update the branch

[2020-09-16 23:36] jmagman commented on #65734
Last test with this error message was 2020-09-13T23:20:17, which is before 7e41425 merged.  Closing for now, we can reopen for more investigation if it pops up again.

[2020-09-16 23:36] #65734 closed

[2020-09-16 23:37] yjbanov commented on #65940
@mdebbar can you please triage this?

[2020-09-16 23:37] #58411 closed

[2020-09-16 23:40] Hixie commented on #65912
I click "SIGN IN". A new window pops up, shows a progress indicator, and then goes away. I refresh the dashboard (with or without shift). It still says "SIGN IN" in the top right, not my name.

[2020-09-16 23:43] lleewwiiss opened #65982 "Environment flags passed in by --dart-define not being set in Flutter driver"
## Steps to Reproduce

1. Create a simple test in app.test and app_test.dart
[code]

[code]

2. Run flutter driver `flutter drive --dart-define=test=yes --target=test_driver/app.dart` ensuring chromedriver is running
select to run using Web Sever from flutter tools

**Expected results:**
`yes`
**Actual results:**
`no`
<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-09-16 23:44] Hixie commented on #65775
I can't see the logs but I suspect my PR had no effect (or at best changed the timing such that an existing flake got tickled more). There's plenty of failures before as well, and the corresponding complex layout scroll perf benchmark is equally flaky.

I'll look more into this once I can see the logs.

[2020-09-16 23:44] yjbanov commented on #54801
`flutter test --platform chrome` is going away. It is currently (and temporarily) only used to test the Flutter framework itself. If you are testing platform-agnostic pure Dart logic logic, consider using `flutter test` (i.e. without `--platform chrome`). If you need access to browser API, consider using https://pub.dev/packages/integration_test.

[2020-09-16 23:52] SuTran commented on #65738
Hi @TahaTesser,

Below are the results between Linux distro and Linux on docker

### On Linux VM

<details>
  <summary>flutter doctor -v</summary>

[code]

</details>

<details>
  <summary>lsb_release -a</summary>

[code]

</details>

Coverage results:
[code]

### On Linux using Docker

Docker file: https://github.com/SuTran/ubuntu_flutter_build_do/blob/master/Dockerfile

<details>
  <summary>flut

[2020-09-16 23:58] CaseyHillers commented on #65912
Thanks for filing this @Hixie

I think this is similar to https://github.com/flutter/flutter/issues/59086

The Google sign in plugin has a race condition on web that causes it to crash https://github.com/flutter/flutter/issues/52338, and it was prevalent when auto sign in was on. Now the dashboard's auto sign in is disabled to mitigate the sign in crashes.

Can you share the error that is showing

[2020-09-17 00:00] MaksimDan opened #65983 "Running an existing executable raises a ProcessException: No such file or directory"
## Steps to Reproduce

1. Create an app: flutter create --org foobar baz
2. In your pubspec.yml add an executable to your assets. Mine just does an std_out of "hello world"

[code]

3. In main.dart, write the executable on load, and execute it _incrementCounter()

[code]

3. Run the application (in my case, android)
4. Press FloatingActionButton

**Expected results:**

[code]

**Actual results:**

[2020-09-17 00:12] Fabrice-TEICHTEIL-KOENIGSBUCH commented on #64245
@mariamhas @yjbanov we have a flutter web app in production which is currently stuck with beta version 1.19 since the framework behaviour changed for text field focus. For us, this issue is not a P5 nice to have new feature, but is critical so that we can release the app with latest flutter versions.

Basically we have a requirement to send user input to the backend each time the user finishes edi

[2020-09-17 00:26] Hixie commented on #65912
I don't get any errors in the console. There's a couple of warnings about cross-site cookies being blocked.

[2020-09-17 00:35] fadhlisulaimi commented on #60026
@aytunch

If I can answer on behalf of the community here, I believe it's not difficult to implement home widgets using swift UI. Just that  we have to learn swift UI and implement it on native iOS side. Most of us here only have knowledge in Dart/Flutter and we dont know how to code in native Android/iOS. So learning how to code in swift UI is another obstacle for us if we wanna implement widgets

[2020-09-17 00:45] okamototomoyuki1988 commented on #65777
@chunhtai
I have confirmed that the "Back" and "Forward" buttons work.
Thank you!

[2020-09-17 00:45] CaseyHillers commented on #65912
According to https://github.com/flutter/flutter/issues/59086#issuecomment-690735904 blocking third party cookies causes issues for the sign in plugin.

\cc @ditman was there a new version of the google sign in web plugin that surfaces errors like this now?

[2020-09-17 00:45] stuartmorgan commented on #52267
Presumably this is just a default entry point though. See the link in my earlier comment; I don't see how that API can possibly exist as a runtime API if the compiler `mainPath` is definitive.

[2020-09-17 00:56] LongCatIsLooong commented on #65144
Is this reproducible on device (sorry don't have an Android R device around atm)? Tried OTP autofill in a native android app running on Android R simulator, it has this issue too:

![untitled](https://user-images.githubusercontent.com/31859944/93406308-2d517880-f844-11ea-9822-fd170426ad67.gif)

[2020-09-17 00:59] jason-simmons commented on #63663
In the Android emulator, the call to `GrContext::MakeGL` in the `GPUSurfaceGL` constructor may fail because `glGetString(GL_VERSION)` is returning the wrong result.

When the Flutter app initially launches on the emulator it sees a GLES 3.1 version string.  But after starting the camera activity and returning to the main Flutter activity, `glGetString(GL_VERSION)` returns a GLES 1.1 version string

[2020-09-17 01:04] feinstein commented on #47191
I also can't reproduce, but as I said before I was having a hard time reproducing it with `Future.delayed`. Since Firebase Auth changed it's API I can't simulate this again, so I think we can close this for now and if it happens again we reopen it.

[2020-09-17 01:04] #47191 closed

[2020-09-17 01:10] aytunch commented on #60026
@fadhlisulaimi So what you are saying is, Platform Channels can not be used in this scenario. It is not as simple as waiting for someone to write a plugin for camera/etc. Every developer needs to code these widgets through native ways. If that's true, it might not still be the end of the world. How hard can it be to display a very basic and simple UI? no state management no nothing. We just need t

[2020-09-17 01:34] dashixiong91 commented on #14288
Is there an official solution to this problem ？

[2020-09-17 01:46] feinstein commented on #51077
@darshankawar sorry, I forgot to take a look at this.

The error still persists, the code sample I gave was with `shrinkWrap: true`, set it to false and you will see the error.

Also, if `shrinkWrap: true` you can't scroll with a bouncing effect in both directions, just from the bottom, not the top. Whereas with `shrinkWrap: fase` `BouncingScrollPhysics` works in both directions, but we get an exc

[2020-09-17 01:55] fadhlisulaimi commented on #60026
@aytunch

Swift UI is a declarative UI framework similar to Flutter. Meaning you develop the UI and logic on the fly (same with Flutter). So creating a flutter package or library to cater to this is nearly impossible as different users has differents way of designing the widget UI.

We can use platform channels to pass information or data between native OS and Flutter but let's say you have create

[2020-09-17 01:56] TomatoBread-web commented on #65939
Sorry for the late reply...
Thank you all for the help!
Just like Abhishek01039 pointed out, it seemed the situation I was in is similar to that #49874 case.
And, somehow, flutter create function works again...
I don't really know why, but will update if/when I come across to the same problem
Probably, the permission and antivirus software configuration issue that caused all of this, but I'm not s

[2020-09-17 01:56] iskakaushik commented on #65899
https://ci.chromium.org/p/flutter/builders/try/Linux%20Android%20Scenarios/1243

[2020-09-17 02:01] indev-aj commented on #28651
is this problem fixed? i'm getting `Tried to send a platform message to Flutter, but FlutterJNI was detached from native C++. Could not send. Channel: plugins.flutter.io/firebase_database` when pressing the back button to exit from the app.

[2020-09-17 02:02] bladeofgod opened #65986 "I had a issue about isolate."
Hi , i had a question about isolate, is when i use isolate in flutter app, it only can by Isolate.Spawn(function), if i generate by Isolate.spawnUri(), will cause a error, why?

thanks for help me. :)

[2020-09-17 02:23] Neojoke commented on #65361
@ykrank It also happened with webview_flutter plugin, below version 12.0.2,  it not happens.

[2020-09-17 02:31] cyanglaz commented on #61137
cc @blasten It might be related to unobstructed platform view. (Only based on guessing)

[2020-09-17 02:54] godofredoc commented on #64466
After splitting the tests only windows continue failing. The same tests are passing on linux and mac:

* Windows build_aar_module_test  https://ci.chromium.org/p/flutter/builders/prod/Windows%20build_aar_module_test/5
* Windows gradle_jetifier_test https://ci.chromium.org/p/flutter/builders/prod/Windows%20gradle_jetifier_test/5
* Windows gradle_plugin_light_apk_test https://ci.chromium.org/p/flutt

[2020-09-17 02:56] godofredoc commented on #64466
@blasten can you please take a look? seems like they are all affected by the same issue whenever there is a module involved the tests are failing in windows.

[2020-09-17 02:59] cyanglaz commented on #65556
@blasten Tried with `flutter drive` while disabling the scrolling, no crashes.

[2020-09-17 03:00] Fchacha commented on #65932
Sadly this is the full content of flutter_04

[2020-09-17 03:01] jonahwilliams commented on #65932
No worries, thanks @Fchacha !

[2020-09-17 03:03] jonahwilliams commented on #65932
Does this happen only if web is enabled? that would help us narrow it down to one of the web devices

[2020-09-17 03:05] VarmaTech commented on #65388
@ryanbayona  it happened same to me also . now no issue , so i'm closing this issue.

[2020-09-17 03:05] #65388 closed

[2020-09-17 03:13] Vadaski commented on #23364
## command

flutter run --local-engine-src-path /Users/didi/workspace/flutter/engine/src --local-engine=ios_debug_sim_unopt -v

## exception

ArgumentError: Invalid argument(s): Cannot find executable for /Users/didi/workspace/flutter/engine/src/out/host_debug_unopt/dart-sdk/bin/dart.

[code]

## flutter doctor

[code]

[2020-09-17 03:14] znjameswu commented on #65895
I thought this was by design when I was reading RenderFlex's code. Glad to hear you guys are going to fix this contract.

But the proposed way sounds strange. In my understanding, any valid implementation of `RenderBox.computeWouldBeDistanceToBaseline(Size size)` would be equivalent to `performLayout()` with `BoxContraints.tight(size)` and then `computeDistanceToActualBaseline()`, because it is re

[2020-09-17 03:29] fzyzcjy commented on #60399
Hi it has been another 1 month... Any updates?

[2020-09-17 03:32] heroqin opened #65989 "crash on emulator when running demo app from MDC-102 codelab"
crash happened when I rolled down and rolled back contents in APP for several times。

<details>
<summary>log</summary>

[code]

</details>

[2020-09-17 03:34] robert-ancell opened #65990 "Engine Unittests are stripped of symbols"
If you build the unit tests of the engine, they seem to be stripped of debug symbols:
[code]

This makes the tests very hard to debug when they are failing. Can the debug symbols be included by default?

[2020-09-17 03:38] xiongyoudou commented on #7474
hello，can you tell us when will the flutter test can work on devices?

[2020-09-17 03:43] ltdangkhoa commented on #60013
@xster Sorry to remind this issue. I've a problem with publishing app to App Store related to font issues:

Do you have any idea about this problem?

[2020-09-17 03:46] xster commented on #60013
Can you open a new issue? We can ask the material icons folks.

[2020-09-17 03:50] ltdangkhoa opened #65991 "iOS 14 release Invalid Binary related to Invalid font when adding a Widget Extension"
I've a problem with publishing app to App Store related to font issues:

Do you have any idea about this problem? @xster

_Originally posted by @ltdangkhoa in https://github.com/flutter/flutter/issues/60013#issuecomment-693790004_

[2020-09-17 03:54] surpriso1997 commented on #43620
This issue  still exists in 1.20.4,

[2020-09-17 03:56] Fchacha commented on #65932
When I disable web with $>flutter config --no-enable-web
flutter doctor and device don't crash.
I just get no device connected, since I didn't connect any device.

[2020-09-17 04:15] jayantsr opened #65992 "Error pubspec.yaml: A package may not list itself as a dependency."
Not able to Install the package

Error in flutter pub get

Thanks
Jay
jayantsr@gmail.com

## Steps to Reproduce

1. ...
2. ...
3. ...

## Logs

[code]

[code]

[2020-09-17 04:16] TheSuperiorStanislav commented on #65933
@darshankawar thanks for trying to help me, but unfortunately these two solutions don't resolve my issue(First TextField loses focus, but the screen won't move to Dropdown).

[2020-09-17 04:18] blasten commented on #65556
It sounds like it would get a crash if you are able to simulate a user scrolling while the app is launched from Xcode.

[2020-09-17 04:29] bhallaramdhatarwal opened #65994 "I want to create mix player with one audio and video file play together at same time"
I am trying to play video and audio at same time in flutter by using

**assets_audio_player: ^2.0.9+2 ==> For assets audio file playing
audioplayers: ^0.16.1 ==> for URL audio file playing
video_player: 0.10.12+2 ==> for URL Video file playing**

but when play audio and video in same time at same screen that time video was stack and video volume is stopped.

Thanks

[2020-09-17 04:43] Kishan-Somaiya commented on #65611
Hi @Hixie , below is the ss of packages size. and what's the flutter_gallery_assets ? it's taking 55 mbs of storage.

![image](https://user-images.githubusercontent.com/62096591/93421073-06d81f80-f8ce-11ea-977c-a2def2963b82.png)

below is the ss of flutter_gallery_assets contents, maybe that'll help.

![image](https://user-images.githubusercontent.com/62096591/93421216-5e768b00-f8ce-11ea-9096-c02d

[2020-09-17 04:51] jaganmohang commented on #18564
@cuong292 This solution worked for me on Samsung Galaxy S7,
 return SingleChildScrollView(
      child: Container(
        padding: EdgeInsets.only(
            bottom: (MediaQuery.of(context).viewInsets.bottom == 0)
                ? 50.0
                : MediaQuery.of(context).viewInsets.bottom,
            top: 16.0,
            left: 16.0,
            right: 16.0),

[2020-09-17 04:54] cuong292 commented on #18564
@jaganmohang it's feel like it's always padding 50 from bottom or padding equal to viewInsets.bottom.that doesnt make sense i guess.so i'm change to dialog

[2020-09-17 04:58] jinfagang commented on #11951
@xJon  I tried your anwser, it's nto work like this, not smooth..

[2020-09-17 05:03] EJohnsonAtPeaksware commented on #54930
It's been some time, but as I recall I manually edited the script according to my work-around.  I was able to get through some of the Flutter prototyping I was working on at the time, however my team decided not to pursue Flutter at that time since the developer tooling seemed to have stability issues like this and was missing some features we're used to in other SDKs.

[2020-09-17 05:05] jaganmohang commented on #18564
default bottom padding 50 is my requirement. And since the content is inside the SingleChildScrollView there will be no issue. Anyway you already opted for a different solution so no issues.

[2020-09-17 05:11] cpboyd opened #65995 "[image_picker] choosing `Select Photos` permission shows all photos"
## Steps to Reproduce

1. Use `image_picker` to select an image
2. It will prompt you to select images for use by app.
3. Next, all images will be shown still... not just the selected images.

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

edited by cyanglaz: b/169290910

[2020-09-17 05:12] Tabarek commented on #65600
thank you @TahaTesser, I solve it by generating the release build with Android Studio
so I will close the issue.

[2020-09-17 05:12] #65600 closed

[2020-09-17 05:22] darshankawar commented on #65939
@TomatoBread-web given your last message, seems your issue is resolved.
I am going ahead and closing this. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-09-17 05:22] #65939 closed

[2020-09-17 05:30] darshankawar commented on #65933
Issue replicable on latest stable (1.20.4). After inputing in textfield and tapping on FAB, the focus doesn't move to the dropdownbutton.

[65933.mp4.zip](https://github.com/flutter/flutter/files/5236542/65933.mp4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 05:33] mehmetf commented on #64253
customer: trends does not keep detailed logs unfortunately and this crash is happening rarely for many other users. customer:money reported only 20 instances in the past month. I asked them whether they can provide visual logs. Waiting to hear back.

[2020-09-17 05:33] chavesgu commented on #60657
@xster   I upgrade stable 1.20.4,but still crash on iOS 14.

[✓] Flutter (Channel stable, 1.20.4, on Mac OS X 10.15.5 19F101, locale
    zh-Hans-CN)
    • Flutter version 1.20.4 at
      /Users/guchunwen/Documents/project/flutter-sdk/flutter
    • Framework revision fba99f6cf9 (2 days ago), 2020-09-14 15:32:52 -0700
    • Engine revision d1bc06f032
    • Dart version 2.9.2
    • Pub download mirro

[2020-09-17 05:42] TahaTesser commented on #65943
@wenxiangjiang
That's true, I can reproduce it

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 05:46] anooptj97 commented on #26479
Is there any update in groundoverlay feature in flutter please....

[2020-09-17 05:46] markusaksli-nc commented on #56204
Closing since https://github.com/flutter/flutter/pull/61356 was merged. @Pragya007 For future reference you can write `Fixes #56204` in the "Related issues" section and GitHub will automatically close the issue you are fixing.

[2020-09-17 05:46] #56204 closed

[2020-09-17 05:52] deviserRahul commented on #62401
Do we have any info on the solution finalized and date by which this would be fixed, also any other workarounds for this till we have a fix?

[2020-09-17 05:55] TahaTesser commented on #65825
Hi @fightcoder
It seems you are asking for assistance on personal code,
`I implemented one of my own transform, adding a parameter to the widget constructor, but when I executed the "flutter run"`  then it's a not bug in Flutter itself

Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need

[2020-09-17 05:55] #65825 closed

[2020-09-17 06:05] TahaTesser commented on #65815
Hi @realadeel
Thanks for confirming. I would think so because GIFs have many multiple frames, depends on bitrate and all.
Given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-09-17 06:05] #65815 closed

[2020-09-17 06:07] markusaksli-nc commented on #47365
Reproducible on the latest master `1.22.0-10.0.pre.221`.
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>

Setting on iOS 13.7

<img src="https://user-images.githubusercontent.com/68219924/93426455-be683400-f8c4-11ea-85cf-dd619716c793.jpeg" height="400" />

Native vs Flutter

<img src="https://user-images.githubusercontent.com/68219924/93426450-bd370700-f8c4-11ea-907c-6a0c2c8a433

[2020-09-17 06:09] darshankawar commented on #65747
Thanks @ttencate for steps to replicate. I am able to consistently replicate the issue on Samsung S10+, but not on other samsung device (8.1.0).

[65747_norepro.mp4.zip](https://github.com/flutter/flutter/files/5236689/65747_norepro.mp4.zip)
[65747_s10.mp4.zip](https://github.com/flutter/flutter/files/5236692/65747_s10.mp4.zip)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 06:15] TahaTesser commented on #65897
Hi @ydotmalik
Can you please provide a complete reproducible minimal code sample in a repository including the exact flavors setup you got with example code
Thank you

[2020-09-17 06:18] TahaTesser commented on #65736
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 06:22] angelschnider commented on #65333
Hello,

I have the exact same issue! I don't understand why. :-(

My Flutter plugin( Flugin ;-)) work fine when I launch the **"example"** project but when I try to use it in an another Flutter project I have the same error message than you :  >>**Project with path ':MyFlugin' could not be found in project ':MyFlugin'**<<
I also use a **".aar"** library in my Flugin. I tried to put **".aar"** in a

[2020-09-17 06:22] akyjoe commented on #63800
Okay, I agree it works with xCode in first run. So, if it's not the hardware then may be there's a broken link in between Android Studio and a Physical iDevice. Conclusively, either it's the Apple thing or the Google thing.

[2020-09-17 06:24] darshankawar commented on #65725
@azbuky sure. I tried your code sample again.

<img width="973" alt="Screenshot 2020-09-17 at 11 52 49 AM" src="https://user-images.githubusercontent.com/67046386/93427991-5b829700-f8dc-11ea-8e95-8b25a55020c4.png">

If you both agree, I can probably make this a duplicate of one of the related ones and close this.

[2020-09-17 06:24] zkon commented on #65834
I'm having the same issue with a grid of images.

This simple example shows that even if you specify `height`, `width`, `memCacheHeight` and `memCacheWidth` values it still crashes depending on the size of the actual images downloaded. If you switch the downloaded image size to a smaller file (eg 200 square) then it doesn't crash (I tested on a pixel 3a, so it depends on the device as to when it c

[2020-09-17 06:26] markusaksli-nc commented on #51446
Hi @liudonghua123
Did I understand correctly that you solved the issue? Is this also the case on the latest master?
Thank you

[2020-09-17 06:26] eugene-kalaganov commented on #35050
all above don't work on real device 13.3+

[2020-09-17 06:27] zodiark23 opened #65996 "[in_app_purchase] IOS askToBuy purchaseUpdatedStream not broadcasting"
**InAppPurchase version** : v0.3.4+8

I simulated the askToBuy functionality on iOS and notice we don't receive update on the stream for transaction that is being **deferred**. We would like to display something to show that we're waiting for the Permission of the Parent/Guardian.

[2020-09-17 06:31] drafish commented on #30977
我也碰到了一样的问题，不设置appbar，ListView上面就会有一段空白，感觉莫名其妙。这问题你后来解决了么 @lujunoo

[2020-09-17 06:35] DFelten commented on #20987
The lag still occurs. I've created a search page with a text field and when using autofocus the page transition animation is extremely laggy. I hope there is a workaround for the problem.

[2020-09-17 06:42] pedromassangocode commented on #28551
Hi @williamdias
Can you confirm if the code shared on https://github.com/flutter/flutter/issues/28551#issuecomment-468487942 reproduces the issue?

[2020-09-17 06:43] darshankawar commented on #65856
Issue replicable on latest dev.

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 06:45] dkwingsmt commented on #64253
@mehmetf Do they always observe both errors or they also ovserve the gesture crash alone?

[2020-09-17 06:48] TahaTesser commented on #65851
Hi @LokiRathod
This seems to be a third-party website and not an issue with flutter itself.

This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, a

[2020-09-17 06:48] #65851 closed

[2020-09-17 06:51] darshankawar commented on #65952
Hi @dotdoom,
This sounds very similar to the issue you linked above, that boils down to having the errors thrown by the driver to be more precise and indicate where the exact error is, correct ?
Thanks.

[2020-09-17 06:54] airthings-noordawod opened #65999 "FutureBuilder<T> in Flutter version 1.22.0-10.0.pre.221 is flawed"
Hi,

The recent changes to add nullability support has caused `FutureBuilder<T>` to be unusable. Consider this code snippet:

[code]

It's not possible to use the above code anymore as Dart Analyzer screams about `error: The argument type 'Future<SomeModel?>' can't be assigned to the parameter type 'Future<SomeModel>?'`

Now, if you change the `FutureBuilder` to read `FutureBuilder<SomeModel?>` in

[2020-09-17 06:54] pedromassangocode commented on #65004
@Zeeshan-progs
I need a complete reproducible sample code, a code that I can copy/paste as a whole.

[2020-09-17 06:55] darshankawar commented on #65953
@amarildolacerda,
It's not clear from your description what exactly your issue is. Please elaborate more. Are you facing any specific issue with the `showDatePicker` widget ?
Thanks.

[2020-09-17 06:58] minikin commented on #60026
@fadhlisulaimi `Swift UI` is not a language it's a framework written in `Swift`. It's not a big deal and definitely not a deal-breaker for me that Flutter doesn't have the possibility to create a home widget.

What would be great and a time saver that's to have Swift support in [pigeon](https://pub.dev/packages/pigeon).
Maybe @gaaclarke can share some plans about that, pls?

[2020-09-17 07:01] darshankawar commented on #65962
Hi @jdeltoft,
Please check above link which should answer your question on having third state of the checkbox.
Thanks.

[2020-09-17 07:02] pedromassangocode commented on #65723
Improving the title to better describe the issue

[2020-09-17 07:03] anisalibegic commented on #54958
I really have no idea why this is happening. I made 15+ applications and it's happening on only one of them. Stack trace tells me nothing about my application's code so I'm not sure where to look.

[2020-09-17 07:07] williamdias commented on #28551
Hi @pedromassangocode

Yes, it does.

[2020-09-17 07:10] anisalibegic commented on #54958
Our error reporting service capture several similar errors:
https://gist.github.com/anisalibegic/26b48be9c189f7763417fa0dd74b193b
https://gist.github.com/anisalibegic/870112ddb314666465c576d9f3ddb2f6

All I know is that it's happening on both iOS and Android platform and the application is build with Flutter (Channel stable, 1.20.3).

[2020-09-17 07:21] sxsdjkk commented on #60657
1.20.4, iOS 14 crash  +1

[2020-09-17 07:23] Sempakonka commented on #61332
hey @haga- ,

By default when you launch an http(s) URL the url_launcher plugin it will fire a `ACTION_VIEW` intent on Android. Android will process this intent and detects that it should delegate this to the web-browser. Unfortunately not all web-browsers support the feature of sending additional headers along with the intent. And even if your browser supports this, there will be a good chance th

[2020-09-17 07:24] TahaTesser commented on #65936
Just tried `forceSafariVC` to false,  it doesn't fix the issue

[code]

<details>
<summary>code sample</summary>

[code]

</details>
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 07:24] TheBiirb commented on #21650
@clocksmith Is this technically an issue? Since extended FABs are not circular, why would you even use `CircularNotchedRectangle`? You can just use `AutomaticNotchedShape` and pass in `StadiumBorder()` for the guest's shape, since by default extended FABs are stadium shaped and it should work.

[2020-09-17 07:28] markusaksli-nc commented on #50478
Closing since this was fixed with https://github.com/flutter/samples/pull/339

[2020-09-17 07:28] #50478 closed

[2020-09-17 07:30] TahaTesser commented on #65948
Hi @SteveAlexander
Thanks for filing the issue and all the details, looks like iPad specific issue only

[2020-09-17 07:37] pedromassangocode commented on #65980
I was able to reproduce on latest `stable` and `master` channel.

<details><summary>flutter doctor -v (stable)</summary>

[code]
</details>

<details><summary>flutter doctor -v (master)</summary>

[code]
</details>

[2020-09-17 07:39] TahaTesser commented on #65895
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 07:46] markusaksli-nc commented on #62745
Closing this since https://github.com/flutter/flutter/pull/62795 was merged. @Wikiwix For future reference you can write `Fixes #62745` in the "Related issues" section of your PR and GitHub will automatically close the issue you are fixing when it gets merged.

[2020-09-17 07:46] #62745 closed

[2020-09-17 07:50] ikarelin opened #66000 "Cannot build flutter app for iOS"
## Steps to Reproduce

1. Run `flutter clean'.
2. Run 'flutter build iOS --release'

**Expected results:**

Application builded

**Actual results:**

flutter build ios --release
Changing current working directory to: /Users/ikarelin/Documents/Flutter/commex
Running "flutter pub get" in commex...                              1.2s

Building com.appsfactories.commex for device (ios-release)...
Signin

[2020-09-17 07:51] mikeesouth commented on #28115
I guess that this is a confirmed bug by now and it looks like it's been planned - great! I just wanted to say that I'm also experiencing this with stable flutter (1.20.3) and that it seems to have the same effect on 'onChangeStart' (i.e. that event is also fired multiple times).
I'm currently using a "workaround" that listens to the onChanged event, if the onchanged is called at least once, then t

[2020-09-17 07:52] darshankawar commented on #65986
Hi @bladeofgod,
There's similar open issue describing your case, [10564](https://github.com/flutter/flutter/issues/10564).
Please follow-up there for updates and any questions.
Closing this as duplicate. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-09-17 07:52] #65986 closed

[2020-09-17 07:53] TahaTesser commented on #65959
Hi @sudo-panda
Just tried through the plugin, no issues
[code]

Following the indication of [VS Code Flutter Extension](https://marketplace.visualstudio.com/items?itemName=Dart-Code.flutter), the correct way to address the problem is to open an issue in the dedicated [repository](https://github.com/Dart-Code/Dart-Code/issues).
Closing, as this isn't an issue with Flutter itself. If you disagree, p

[2020-09-17 07:53] #65959 closed

[2020-09-17 07:54] b055man commented on #65388
@VarmaTech have you changed anything in your project (Flutter updated maybe?)? It's happening consistently in my case, with Flutter 1.20.3.

[2020-09-17 07:54] pedromassangocode commented on #65994
Hi @bhallaramdhatarwal
As far as I know it is not possible to play video and audio at the same time. They both play sound so unless you are building for desktop (which does not seems the case here) you can't do that on mobile devices.

Closing, as this isn't an issue with Flutter itself.  If you disagree, please write in the comments, providing your `flutter doctor -v`, your `flutter run -v`,  you

[2020-09-17 07:54] #65994 closed

[2020-09-17 07:55] markusaksli-nc commented on #62442
Closing since this issue is no longer really actionable. I would say the documentation and error message on this is pretty clear. I think this https://github.com/flutter/flutter/issues/34915#issuecomment-669158188 should still apply in regard to these issues.

[2020-09-17 07:55] #62442 closed

[2020-09-17 07:55] victorhez commented on #62985
So how do i solve this?

[2020-09-17 07:57] darshankawar commented on #65992
@jayantsr,
It's not clear which plugin you are trying to add. Please add steps to replicate and the plugin that you want to add.
Also make sure the plugin name is not same as your project name, that may throw the error you are seeing.
If issue persists, please provide `pubspec.yaml`.
Thanks.

[2020-09-17 08:01] Taco55 commented on #65333
Hi @angelschnider
Yes, this seems the same issue and might be a limitation of Gradle.

A workaround that worked for me was to put the .aar-file in a `libs` map in the Android folder en to update `build.gradle` in the plugin with:

[code]

Note, that it is important to use `api` instead of `implementation` in `dependencies`. It took me quite some time to find out.

With this implementation, the aar

[2020-09-17 08:03] darshankawar commented on #65989
Hi @heroqin,
Can you please translate the codelab in English ?
Which one among the following are you looking at ?

https://codelabs.developers.google.com/codelabs/mdc-101-flutter/#0
https://codelabs.developers.google.com/codelabs/mdc-102-flutter/#0

Also, provide `flutter doctor -v`.
Thanks.

[2020-09-17 08:04] ali-1989 commented on #24064
Hi,

replace  '`const LocalizationServiceDelegate(),`' by '`LocalizationService.delegate`'

and in LocalizationService class add below:

`static const LocalizationsDelegate<LocalizationService> delegate = LocalizationServiceDelegate();`

enjoy.

[2020-09-17 08:04] SteveAlexander commented on #65948
Not sure I’d agree we have evidence it’s iPad only.

Issue 57225 appears to have the same cause, but on an iPhone.

https://github.com/flutter/flutter/issues/57225

[2020-09-17 08:04] FroseMan97 commented on #65834
so far done this:

[code]

[code]

[2020-09-17 08:06] nitneuq33000 opened #66001 "prefs.getKeys().map<Widget>((key) {}. work in debug mode, but not in release mode ..."
Hello here is a simple testable code, who work in debug mode, but not in release mode

<details><summary>sample code</summary>

[code]
</details>

In debug mode I have allkeys = [1,1,0,1]
in release mode I have [Widget,Widget,Widget,Widget]

<details><summary>flutter run -v</summary>

[        ] executing: sw_vers -productVersion
[  +33 ms] Exit code 0 from: sw_vers -productVersion
[  +18 ms] 10.1

[2020-09-17 08:10] Himanshuranjan30 opened #66002 "Text features in Text widget should be implemented without TextStyle"
**Case:**
[code]
**Proposal:**
[code]

[2020-09-17 08:12] chavesgu opened #66003 "Can not flutter run on iOS 14 simulator"
## Steps to Reproduce

1. update xcode to 12
2. use iOS 14.0 simulator.
3. flutter run

## Logs

[code]
[code]
[code]

[code]

[2020-09-17 08:12] akyjoe commented on #60657
[code]
App working on iOS 14 without any issues. Yes, the issue #63800 with freezing on native splash screen persists.

[2020-09-17 08:13] angelschnider commented on #65333
Hi @Taco55

I also tried this solution but I used "Implementation". I will try this solution.
I give you a feedback if it works (or not).

Thank you!

[2020-09-17 08:14] dnfield commented on #65834
@zkon - I believe for JPEG we have to at least temporarily decode the image at full resolution before we can downsample it.

In that case, you'll need to use smaller assets to show them this way, even with the cacheHeight/cachewidth parameters.

@FroseMan97 - You can set the max size on the image cache without overriding it. You should also probably just write a provider that does not allow cachin

[2020-09-17 08:14] TahaTesser commented on #65974
Hi @firepmi
This is an issue with cocoapods not flutter itself, please check [solution](https://github.com/flutter/flutter/issues/54962#issuecomment-635443559)

Can you please provide your `flutter doctor -v`
Thank you

[2020-09-17 08:15] Faiyyaz opened #66004 "UI looks weird"
## Steps to Reproduce

Just create a ui with stack view and keep phone locked while installing the app via adb

**Expected results:** The ui should looks perfect like it looks everytime

**Actual results:** The ui looks weird. Screenshot has been provided

<details>

[code]

[code]

[code]

</details>

[2020-09-17 08:17] markijbema commented on #65747
Android 9, if it helps

[2020-09-17 08:18] azbuky commented on #65725
I am ok with closing this in favor of #58159.

[2020-09-17 08:21] pedromassangocode commented on #66004
Hi @Faiyyaz
Can you please provide a minimal complete reproducible code sample?

Would help you you provide the visual aspect of the actual vs expected results.

Thank you

[2020-09-17 08:22] recastrodiaz commented on #60399
Hi @fzyzcjy I got busy with work. It might still take me another month before getting to this. If someone would like to give it a go in the meantime, feel free.

[2020-09-17 08:23] lvlrSajjad commented on #66003
Same

Output :

[code]

Doctor:

[code]

[2020-09-17 08:24] heroqin commented on #65989
Hi @darshankawar,
This one: https://codelabs.developers.google.com/codelabs/mdc-102-flutter/#5
 when I rolled down and rolled back APP contents for several times, APP crashed.

device which I got crash is an android emualtor:
Nexus_6_API_29.avd
AvdId=Nexus_6_API_29
PlayStore.enabled=false
abi.type=x86_64
avd.ini.displayname=Nexus 6 API 29
avd.ini.encoding=UTF-8

C:\Users\lixs>flutter doctor -v
[√]

[2020-09-17 08:26] murtuzasaify commented on #60657
@xster Same here for add-in-app, updated to stable 1.20.4 but still crashes on iOS 14 when debug build launched from home screen.

[2020-09-17 08:29] TahaTesser commented on #65941
<img src="https://user-images.githubusercontent.com/48603081/93443394-e8821c00-f8ed-11ea-9f37-dc075e7b0ef0.png" width="300" height="600" />

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 08:35] xu-baolin commented on #65933
@TheSuperiorStanislav Hi,
You can use `Scrollable.ensureVisible` to achieve your goal purpose.
[code]

[2020-09-17 08:36] markusaksli-nc commented on #59728
Reproducible on the latest master `1.22.0-10.0.pre.196`.
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>

[Gist](https://gist.github.com/emem365/9697eecf5c17d9cdadf203178107c026) from https://github.com/flutter/flutter/pull/63683 to reproduce the issue.

Removing documentation labels since this is just a framework issue.

[2020-09-17 08:39] chavesgu commented on #65936
hey, boys. donot use `canLaunch(url)`, just use `launch(url)`

[2020-09-17 08:42] lvlrSajjad commented on #66003
I also upgraded to flutter 1.20.4, Nothing happened and I still can't build my app

[2020-09-17 08:42] whoch commented on #66003
Version 1.20.4 was released yesterday.
https://flutter.dev/docs/development/tools/sdk/releases

[2020-09-17 08:42] liudonghua123 commented on #41573
I have the same issue. I want to connect a https proxy. If I set the proxy in the chrome extension, it works. If I set via `http_proxy/https_proxy`, the I need to add a `--proxy-insecure` parameters or I will got the following error.
[code]

I read the doc https://dart.dev/tools/pub/troubleshoot , but I could not find how can I set `--proxy-insecure` for `pub` proxy. I think it maybe this problem.

[2020-09-17 08:43] dotdoom commented on #65952
@darshankawar I read that issue again, and if I read it correctly it only talks about the error message, for a specific action, while here I am looking for a stack trace.  To me this sounds like two distinct issues, even if in the same area, they would need different patches to address them.

[2020-09-17 08:44] TahaTesser commented on #65971
**This is fixed master API docs**
https://master-api.flutter.dev/flutter/material/TextField/onChanged.html

**API docs**
https://api.flutter.dev/flutter/material/TextField/onChanged.html

Closing, as fixed, please write in the comments and I will reopen it.
Thank you

[2020-09-17 08:44] #65971 closed

[2020-09-17 08:44] pedromassangocode commented on #65983
Hi @MaksimDan
Your code for writing the file is wrong:

In order to write a file you need write permissions on Android and you need to check if the full directory path already exist before trying to create the file, or you can create it if does not exist by:

[code]

Please learn more at https://flutter.dev/docs/cookbook/persistence/reading-writing-files

Please see https://flutter.dev/community f

[2020-09-17 08:44] #65983 closed

[2020-09-17 08:45] Faiyyaz commented on #66004
Sample repository link - https://github.com/Faiyyaz/flutter-bug

Actual
![Screenshot_2020-09-17-10-07-19-46_bfec114022d4ec32295108acb110ca7d](https://user-images.githubusercontent.com/18116236/93447557-28e29980-f8f0-11ea-8d7c-94b45054ed4f.jpg)

Expected
![Screenshot_2020-09-17-14-14-06-79_bfec114022d4ec32295108acb110ca7d](https://user-images.githubusercontent.com/18116236/93447560-2a13c680-f8f0-11

[2020-09-17 08:46] PrinceTrambadiya commented on #26348
this below method is working fine.

  Future<Uint8List> convertImageToPng(CameraImage image) async {
    Uint8List bytes;
    try {
      imglib.Image img;
      if (image.format.group == ImageFormatGroup.yuv420) {
        bytes = await convertYUV420toImageColor(image);
      } else if (image.format.group == ImageFormatGroup.bgra8888) {
        img = _convertBGRA8888(image);
        imglib.PngEnco

[2020-09-17 08:48] pedromassangocode commented on #65999
Hi @airthings-noordawod
Can you please provide your `flutter doctor -v` and a minimal complete reproducible code sample?
Thank you

[2020-09-17 08:48] PrinceTrambadiya commented on #26348
Future<Uint8List> convertImageToPng(CameraImage image) async {
    Uint8List bytes;
    try {
      imglib.Image img;
      if (image.format.group == ImageFormatGroup.yuv420) {
        bytes = await convertYUV420toImageColor(image);
      } else if (image.format.group == ImageFormatGroup.bgra8888) {
        img = _convertBGRA8888(image);
        imglib.PngEncoder pngEncoder = new imglib.PngEncoder

[2020-09-17 08:52] lvlrSajjad commented on #66003
<details>
<summary>Pubspec</summary>

[code]

[2020-09-17 08:52] ngminhduong opened #66005 "[google_sign_in] Programmatically set server clientId with Flutter GoogleSignIn plugin for Android"
I need programmatically set server clientId instead of GoogleSignIn plugin read directly from `default_web_client_id` when request to GoogleSignIn.
Example code with native:

[code]
Any suggestion to implement this with Flutter?
Thanks,

[2020-09-17 08:52] bhallaramdhatarwal commented on #65994
@pedromassangocode  Thanks.

I know. But i want to play video in mute volume and audio with sound and also, Is it possible to play audio in background like in android **doInBackground thread** and video in foreground or one play in UI thread and other in background thread.

[2020-09-17 08:53] bhallaramdhatarwal commented on #65994
@pedromassangocode  Please reopen this issue.

[2020-09-17 08:55] markusaksli-nc commented on #45190
Reproducible on the latest master `1.22.0-10.0.pre.221`.
<details>
 <summary>flutter doctor -v</summary>

[code]
</details>
<details>
 <summary>Minimal reproducible code sample</summary>

[code]
</details>

Removing documentation label since this is just a web implementation issue.

[2020-09-17 09:01] pedromassangocode commented on #66001
Hi @nitneuq33000
Can you please provide your `flutter doctor -v`, your `crash logs`, your `pubspec.yaml`, and if possible your `flutter run --release --verbose` running on the same OS version as the affected devices.

[2020-09-17 09:03] JohannDesobry commented on #35050
Tap to top is working on real device (13.7). But only when I have a simple scaffold.

[code]

[2020-09-17 09:06] darshankawar commented on #66000
Hi @ikarelin,
I am able to build a `release` build without any issues. I am latest master.

[code]

`flutter build ios` is same as `flutter build ios --release`, as the first command defaults to release mode.

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you share the crash log `A crash report has been written to /Users/ikarelin/Documents/Flutter/commex/flutter_01.log`

[2020-09-17 09:08] ikarelin commented on #66000
Flutter crash report.
Please report a bug at https://github.com/flutter/flutter/issues.

## command

flutter build ios --release

## exception

ProcessException: ProcessException: Process timed out:

  Command: /usr/bin/env xcrun xcodebuild -configuration Release -quiet DEVELOPMENT_TEAM=5CQMRZJ3CD -workspace Runner.xcworkspace -scheme Runner BUILD_DIR=/Users/ikarelin/Documents/Flutter/commex/build

[2020-09-17 09:09] lvlrSajjad commented on #66003
Created a fresh app with flutter 1.20.4 and I could run it successfully.
So I think there might be a problem with my pubspec let's test it.
Yes after copying my pubspec the build failed.
Now I wanna check which dependency causes the fail exactly.

[2020-09-17 09:11] wasabia commented on #65362
this bug has gone on master channel

✓] Flutter (Channel master, 1.22.0-10.0.pre.221, on Mac OS X 10.15.6 19G73 x86_64, locale zh-Hans-CN)

[✓] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 11.6)
[✓] Chrome - develop for the web
[✓] Android Studio (version 3.5)
[✓] VS Code (version 1.49.0)
[✓] Connected device (4 available

[2020-09-17 09:14] pedromassangocode commented on #66002
Hi @Himanshuranjan30
Not sure if this is is a valid feature. Can you explain a little bit more what are the advantages of this proposal and the disadvantages of the actual approach?

[2020-09-17 09:15] lvlrSajjad commented on #66003
<details>
<summary>Podfile</summary>

[code]

[2020-09-17 09:15] jiahaog opened #66006 "Screenshot taken with LiveTestWidgetsFlutterBinding is truncated"
Internal: b/168776765

When using `LiveTestWidgetsFlutterBinding`, screenshots of top level widgets are truncated.

Context: We're trying to support screenshot testing in g3 with `package:integration_test`, where the widgets binding inherits from `LiveTestWidgetsFlutterBinding`. The following is a minimal repro with just `flutter test`.

## Steps to Reproduce

Run `flutter test` with the following

[2020-09-17 09:15] angelschnider commented on #65333
@Taco55

That works!

I lost 2 days to solve this. You save my 3rd day!

Thank you!

[2020-09-17 09:17] Himanshuranjan30 commented on #66002
Yes, TextStyle isn't used anywhere else except the Text Widget. So,Why Implement another class for styling texts when you can do it in the Text Widget class only right. This proposal can result in shorter and more clear implementation of text widgets.

[2020-09-17 09:18] darshankawar commented on #65996
Hi @zodiark23,
Please provide `flutter doctor -v` and a minimal complete reproducible code sample.
Thanks.

[2020-09-17 09:25] nekoto-kun opened #66007 "Dismissible content overlays Stepper interface while dismissing it"
I'm reporting unexpected effect while swiping Dismissible tile inside a Stepper widget. The Dismissible content can be swiped perfectly but overlays its Stepper widget.

## Steps to Reproduce

1. Below is the code with Stepper (the unexpected effect of using Dismissible inside Stepper).

<details><summary>code</summary>

[code]
</details>

2. And below is the example code of Dismissible from the d

[2020-09-17 09:27] TahaTesser commented on #65995
###  When choosing`Select Photos` permission
**Not only it shows all images when choosing `Select Photos` from the permission dialog but the app crashes when you go to select images for the second time.**

![ezgif com-resize](https://user-images.githubusercontent.com/48603081/93450941-2bdf8900-f8f4-11ea-9eab-c936dbe83bfc.gif)

###  When choosing `All Photos` permission
**If you choose `All Photos`

[2020-09-17 09:28] valconetti commented on #61544
It looks like it's a problem with having [(a) .NOMEDIA file(s) on your device](https://nerdschalk.com/gallery-not-showing-images-android-fix/).

It seems to me like [phones running on Android 11](https://support.google.com/pixelphone/thread/70290821?hl=en) have generated this file, but this is just speculation on my part.

You can either delete these files by searching for them under DCIM and DCIM

[2020-09-17 09:28] gianalmada opened #66008 "Url Launcher cannot be used, show error : Unhandled Exception: MissingPluginException(No implementation found for method canLaunch on channel plugins.flutter.io/url_launcher)"
I'm trying to make my app to open google maps using url launcher, the app run without problem until i press the button to launch url, and show this error :

[code]

this is my Flutter doctor result :

[code]

and this is shown everytime i run the app :

`
W/FlutterActivity(26799): Tried to automatically register plugins with FlutterEngine (io.flutter.embedding.engine.FlutterEngine@7cb3f8a) but cou

[2020-09-17 09:28] iBog opened #66009 "Out of Memory in process of Android app building"
Details
Out of Memory bug in process of Android app building on Windows 10 PC

flutter -v doctor
[code]

**Target Platform:**
Windows 10 x64 (build 2004)

**Target OS version/browser:**
Android 10 (fat APK version with all ABI's included)
build.gradle :
  minSdkVersion 17
  targetSdkVersion 30

**Devices:**
Target device: Android Emulator (Android 10, API 29, Pixel 4 virtual device)
Emulator versi

[2020-09-17 09:30] PrinceTrambadiya commented on #33746
can anyone please convert it into a dart?

[2020-09-17 09:32] SteveAlexander commented on #65948
I tried reproducing this on an iPhone X, iOS 13.6.1, and also on an iPhone 5s, iOS 12.4.8. These did not reproduce the problem.

Issue #57225 reproduces this issue on iPhone 6s and iPhone 4s.

Next, I'll try updating to the latest Xcode and iOS releases on the iPad and iPhone X and see what happens.

[2020-09-17 09:32] berrylawchingman commented on #32537
❤️

[2020-09-17 09:36] TomatoBread-web commented on #65939
No problem, sir.
Again, thank you all for the assistance!

[2020-09-17 09:38] jeffaknine commented on #32540
This doesn't work for me with Flutter 1.22.0-12.1.pre when releasing on NGINX

[2020-09-17 09:40] imeDevelopers opened #66010 "When try to copy something from the Terminal !!!"
Terminate batch job (Y/N)? N
batch job have been Terminated !!

this is because you forced us to copy the content using CTRL+C and this maybe don't work as you see above ..

we need an option to copy using the mouse RIGHT click and select copy/paste like any other terminal or cmd ..

or simply fix the error above ...

thanks.

[2020-09-17 09:47] TahaTesser commented on #66008
Hi @gianalmada
Does this issue reproduce in a project? Have you different tried devices.
Can you please provide your r `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-09-17 09:48] HHMedic opened #66011 "longTap at TextField will crash on iOS14 with channel beta 1.22.0-12.1.pre"
## Steps to Reproduce

1. with iOS14 with channel beta 1.22.0-12.1.pre
2. longTap at TextField
3. crash everyTime at Debug and Release Mode

### Flutter doctor

[✓] Flutter (Channel beta, 1.22.0-12.1.pre, on Mac OS X 10.15.6 19G73, locale zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
[✓] Xcode - develop for iOS and macOS (Xcode 12.0)
[✓] Chrome - deve

[2020-09-17 09:49] imeDevelopers commented on #66008
`flutter clean`
`flutter channel master`
`flutter upgrade`
`flutter clean`
`flutter pub get`
`flutter run --verbose --no-pub --no-build`

[2020-09-17 09:52] gianalmada commented on #66008
i already do this and still same error shown

[2020-09-17 09:52] firepmi commented on #65974
``Flutter doctor -v`` on terminal is fine.
[code]
but If I tried on Android studio ( Tools -> Flutter -> Flutter Doctor ), it says Cocoapods not installed.
[code]

[2020-09-17 09:55] gianalmada commented on #66008
[code]

[2020-09-17 09:56] gianalmada commented on #66008
[code]

[2020-09-17 09:57] Renesanse opened #66012 "Google's app InkWell bug"
Sorry for off-topic, but can you tell someone in google to fix this in the google app on iOS?

![photo_2020-09-17_12-57-11](https://user-images.githubusercontent.com/42138594/93455680-570eac00-f8e5-11ea-8e9c-02fb8cc8b2f8.jpg)
![photo_2020-09-17_12-57-18](https://user-images.githubusercontent.com/42138594/93455677-56761580-f8e5-11ea-9212-4a13c0240a30.jpg)
![photo_2020-09-17_12-57-21](https://user-i

[2020-09-17 09:59] ened commented on #65995
Have reproduced this issue on 1.20.4 running in iOS 14 simulator.

[code]

[2020-09-17 10:06] pedromassangocode commented on #66007
I was able to reproduce on latest `master` channel.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-17 10:07] kleyos opened #66013 "[Google Maps flutter] I need to separate gestures for dragging the map and marker's onTap(mobile)"
## Use case

hey everybody. my problem is calling callback only when a user drags the map in some direction and not when he taps on the marker. I was trying to add the solution described [here](https://stackoverflow.com/questions/57061134/gesturedetector-with-google-maps-flutter-in-dart).
[code]
but in this case, there is not any chance to separate gestures. My next effort was adding certain Gestu

[2020-09-17 10:07] airthings-noordawod commented on #65999
Sure thing.

[code]

Complete working example No.1:

[code]

This demonstrates the problem with having a `_future` variable that may or may not return a value of type `String`. The error reported by Dart Analyzer in this case: `The argument type 'Future<String?>' can't be assigned to the parameter type 'Future<String>?'`.

--

Complete working example No.2:

[code]

This demonstrates the problem w

[2020-09-17 10:08] duy-ng-12354 opened #66015 "device_info plugin makes the app crash"
Hi,

I am using the device_info plugin inside my app. Sometimes the release app crashes because of this issue:

<img width="917" alt="image" src="https://user-images.githubusercontent.com/41779676/93456588-183e1d80-f908-11ea-9b3b-870a7691e930.png">

I didn't know how to reproduce this issue The app is built with flutter 1.20.

Please help to check it.

Thanks.

[2020-09-17 10:09] Abhishek01039 commented on #66011
Hi @HHMedic
can you please provide the `flutter run -v` and `flutter run --release -v`?
Thanks.

[2020-09-17 10:11] ZhangLiuCheng commented on #65526
[flutter_app.zip](https://github.com/flutter/flutter/files/5238230/flutter_app.zip)

[video1.zip](https://github.com/flutter/flutter/files/5238235/video1.zip)

When I set the font too small, the page will refresh many times, causing problems with the page layout. There is no such problem in (Channel beta, 1.22.0 ), Thank you.

zhangliucheng@zhangliuchengdeMacBook-Pro ~ % flutter doctor -v
[✓] Flut

[2020-09-17 10:12] pedromassangocode commented on #66012
The easiest method for reporting an app as suspicious is to report it through the Google Play Store on your device.

Closing as this is not a valid Flutter issue.
Thank you

[2020-09-17 10:12] #66012 closed

[2020-09-17 10:16] simonpham commented on #62677
Hi @pranjal-joshi,

I'm having the same issue.
Could you tell me what changes you have made to the server-side code?

Thank you!

[2020-09-17 10:17] pedromassangocode commented on #66013
Hi @kleyos
This issue doesn't seem to describe a bug or a feature request. Please see https://flutter.dev/community for resources and asking questions like this,
you may also get some help if you post it on Stack Overflow and if you need help with your code, please see https://www.reddit.com/r/flutterhelp/
Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the co

[2020-09-17 10:17] #66013 closed

[2020-09-17 10:21] pedromassangocode commented on #66010
Hi @imeDevelopers
This does not seems to have anything to do with Flutter, can you elaborate what the issue is and how it is related to Flutter?
Thank you

[2020-09-17 10:28] amanv8060 commented on #66015
Please include outputs of `flutter doctor` and `flutter run -v`

[2020-09-17 10:30] TahaTesser commented on #65955
Hi @yulkin2002
`_googleSignIn.onCurrentUserChanged` works fine when it's called from the initial page where the user signed but it doesn't get called when you put in an Init on a different screen. Not sure if this is a bug or not

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 10:32] duy-ng-12354 commented on #66015
@amanv8060 this issue is not re-producible on local flutter run. It happens on my iOS production released app which is built by Bitrise with flutter 1.20.4.

[2020-09-17 10:41] pedromassangocode commented on #28551
Hi @williamdias
I ran the code on https://github.com/flutter/flutter/issues/28551#issuecomment-468487942 using the latest `stable` channel and the keyboard did not closed automatically and the page is not recreated when the text field gains focus, so I can consider this issue as fixed.

For anyone facing the same issue, please fill a new issue providing the things in the issue template.
Thank you

[2020-09-17 10:41] #28551 closed

[2020-09-17 10:44] BringTheChill commented on #30171
it's not working :( .. so how can i fix this guys?

[2020-09-17 10:46] pedromassangocode commented on #66004
Hi @Faiyyaz
Please provide a [minimal reproducible complete sample code](https://stackoverflow.com/help/minimal-reproducible-example) that does not uses a third-party plugin.

[2020-09-17 10:50] bmnidhin commented on #25116
Helped. Thank you

[2020-09-17 10:53] TahaTesser commented on #66011
Hi @HHMedic
Just tried in debug and release mode, the app doesn't crash on iOS 14 on `Channel beta, 1.22.0-12.1.pre`

<details>
<summary>code sample</summary>

[code]

</details>
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please provide your `flutter doctor -v` your `flutter run --verbose` and a complete reproducible minimal code sample
Thank you

[2020-09-17 10:56] singun-lxd commented on #45525
@pedromassangocode no, I cannot reproduce this issue

[2020-09-17 10:59] TahaTesser commented on #66015
Hi @duy-ng-12354
Can you please provide your `flutter doctor -v`, your `crash logs`, your `pubspec.yaml`, the list of affected devices and if possible your `flutter run --release --verbose` running on the same OS version as the affected devices.
Thank you

[2020-09-17 11:00] cheekujha commented on #32756
Did anyone find a possible way to fix the issue? This is happening in Production and we have no idea what to do.

We are using **Flutter 1.20.1 • channel stable**

[2020-09-17 11:06] maerlynflagg commented on #63663
so if i combine your answer with the origin issue, so the version check fails only, if you using google maps. without google maps, camera and local auth working fine in Android emulator.

hope it will be fixed for better working.

[2020-09-17 11:10] TahaTesser commented on #65948
Hi @SteveAlexander
With that, I just tested on XR physical, also doesn't reproduce again
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 11:12] BringTheChill commented on #34157
Yes. Install this package: https://pub.dev/packages/permission_handler and put this function in your initState() or whatever u want to activate your request
`Future<void> requestPermission() async {
    await Permission.location.request();
  }`

[2020-09-17 11:12] SteveAlexander commented on #65948
I'm waiting for my systems to update, then I'll try to reproduce on the iPad again

[2020-09-17 11:13] TahaTesser commented on #62029
Could everyone who still has this problem please file a new issue with the exact description of what happens, logs, and the output of `flutter doctor -v`.
All system setups can be slightly different, so it's always better to open new issues and reference related issues.

[2020-09-17 11:14] TahaTesser commented on #66003
Hi @chavesgu
Not able to reproduce in a new project a well

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please provide complete `flutter run --verbose` in a plain text `.txt` and a complete reproducible minimal code sample
Thank you

[2020-09-17 11:14] duy-ng-12354 commented on #66015
@TahaTesser Here you are:

**Flutter doctor**:

`⋊> ~ flutter doctor -v                                                                      18:05:17
[✓] Flutter (Channel stable, 1.20.4, on Mac OS X 10.15.6 19G2021, locale en)
    • Flutter version 1.20.4 at /Users/duy/hub/flutter
    • Framework revision fba99f6cf9 (3 days ago), 2020-09-14 15:32:52 -0700
    • Engine revision d1bc06f032
    • Dar

[2020-09-17 11:15] SoutaTanaka commented on #65974
Hello.
I was suffering from the same problem until earlier.
Have you tried restarting your PC? If you haven't tried it yet, try it. This improved my symptoms.

[2020-09-17 11:16] BringTheChill commented on #30171
Install this package: https://pub.dev/packages/permission_handler, createa this function and put it in your initState() or whatever u want to activate your request
`Future<void> requestPermission() async {
    await Permission.location.request();
  }`

[2020-09-17 11:17] deakjahn commented on #45190
@yjbanov Yegor, in the `blurhash` plugin a simple workaround was added, generating a BMP on the fly. Not necessarily the cleanest of all solutions but if you don't have anything more straightforward coming, maybe it can serve in the general case, too? See https://github.com/fluttercommunity/flutter_blurhash/pull/19/files

[2020-09-17 11:18] hs2361 commented on #65914
I am working on this issue. I'll simplify this code a little and add it to the readme file. Will that be alright?

[2020-09-17 11:21] yamakami-shinobu-gn opened #66017 "[webview_flutter] cannot use Japanese keyboard on Android"
## Steps to Reproduce

1. Run following **Minimum example** in Android device or simulator.
2. Focus the search keyword form and enable software keyboard.
3. Touch any key or the switching-keyboard key.
<br>

**Minimum example:**
[code]

**Expected results:**
<table>
<tr>
<td colspan=2>Gboard</td></tr><tr>
<td width=160><img src="https://user-images.githubusercontent.com/3022652/93460812-c654c200-

[2020-09-17 11:21] lvlrSajjad commented on #66003
For me, the problem was image_downloader: 0.20.0

[2020-09-17 11:28] pedromassangocode commented on #65999
This is reproducible with latest `master` channel.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-17 11:28] deakjahn commented on #46962
It might not be officially supported, still it works. I have two step-by-step procedures for both Windows directly and for Linux running in Windows Subsystem in Linux (just a creature comfort for those of us normally running on Windows) at https://github.com/flutter/flutter/issues/28720. I use both approaches actively, the first to compile my own engine so that I can use it on Windows for debug te

[2020-09-17 11:31] firepmi commented on #65974
I restarted my PC several times, but no help.

[2020-09-17 11:32] officialasit commented on #37079
@santhonydo Thanks, my other js files were not of same version so it gave me the error. Making all them same version makes the issue solve.

[2020-09-17 11:33] gaojuanjuan commented on #63248
I also encountered this problem, have you solved it?

[2020-09-17 11:33] gaojuanjuan commented on #63248
I also encountered this problem, have you solved it?

[2020-09-17 11:34] pedromassangocode commented on #45525
Hi @singun-lxd
Given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reopen it.
Thank you

[2020-09-17 11:34] #45525 closed

[2020-09-17 11:38] ShramkoO commented on #64904
Here is another way to reproduce the same behavior: **In Safari 13.1.2 (15609.3.5.1.3)** You can just push  Command + or Command - .  Almost on the all scales except 100% I have missing text ends. I used SelectableText widgets instead of Text but nothing changed. On screen you can see that missing text is present, it's selected, but invisible.

<img width="534" alt="Снимок экрана 2020-09-17 в 14 2

[2020-09-17 11:40] pedromassangocode commented on #65994
From my knowledge on native Android development and as far as I know, it is clearly not possible to play audio and video at the same time on Android (and maybe on iOS). Android has only one output for audio and it cannot be used by two sources at the same time.

This will still kept closed because you are using non Flutter plugins. If you disagree, please share a minimal reproducible complete code

[2020-09-17 11:42] SoutaTanaka commented on #65974
I looking at the output of your flutter doctor -v, I noticed that there are separate "developer" and "Developer" directories directly under your home directory.
Is this what you intended?
If not so, try selecting flutter in the "developer" directory instead of the "Deveroper" directory in android Studio.

[2020-09-17 11:45] TahaTesser commented on #60657
![ezgif com-resize (2)](https://user-images.githubusercontent.com/48603081/93466098-58ea6680-f909-11ea-8cd6-8ebbc6cbcfe3.gif)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 11:51] darshankawar commented on #31939
Issue replicable on latest master version.

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 11:56] mohammadreza490 commented on #24293
I still get the same error by using ChangeNotifier as a mixin in my class. Any solution?

[2020-09-17 11:59] fzyzcjy commented on #60399
@recastrodiaz OK... I will try to do it when having some time

[2020-09-17 12:00] Himanshuranjan30 commented on #66002
Should I start working on this @pedromassangocode ?

[2020-09-17 12:01] qinglixiao opened #66018 "[tool_crash] Invalid argument(s): Cannot find executable for /Volumes/Mac/flutter/bin/cache/artifacts/engine/ios-release/gen_snapshot_x86_64."
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ArgumentError: Invalid argument(s): Cannot find executable for /Volumes/Mac/flutter/bin/cache/artifacts/engine/ios-release/gen_snapshot_x86_64.
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
*

[2020-09-17 12:07] Nico04 commented on #48972
I also call `WidgetsFlutterBinding.ensureInitialized();` in main, and it seems that I have the same issue : `FlutterError.onError` is not called.
Any solutions ?

[2020-09-17 12:07] darshankawar commented on #37615
Hi @truongsinh,
Can you confirm if this is still a valid issue on latest Flutter version (eg: dev, master) ?
Thanks.

[2020-09-17 12:08] pedromassangocode commented on #52899
Is this still a valid issue?

[2020-09-17 12:12] firepmi commented on #65974
Wow! that is good point.
I could not suppose the path case sensitive can cause the issue.
I created new folder named "dev" instead of "Developer", and moved flutter sdk to it, and the issue is gone.
it was working on terminal, so terminal path is case insensitive, but android studio path is case sensitive? it was odd issue, but fixed,
Thank you for your help.

[2020-09-17 12:13] bhallaramdhatarwal commented on #65994
I am trying to play video and audio at same time in flutter by using

assets_audio_player: ^2.0.9+2 ==> For assets audio file playing
video_player: 0.10.12+2 ==> for URL Video file playing

but when play audio and video in same time at same screen that time video was stack and video volume is stopped.
and if I used URL for audio & video. And audio player library for audio play that time smoothly p

[2020-09-17 12:14] pedromassangocode commented on #52345
Is this still a valid issue?

[2020-09-17 12:28] darshankawar commented on #39478
Hi @JiweiMaster
Is this still a valid issue ?
If so, can you provide `flutter doctor -v`  ? You may want to test this with `webview_flutter` plugin to see if it resolves your issue.
Thanks.

[2020-09-17 12:34] hknaio opened #66019 "auth"

[2020-09-17 12:34] darshankawar commented on #39226
@idraper, which version of v1.20.1 ? (master or dev). I verified it on latest master without using `webdev` and it worked for me as expected.

[2020-09-17 12:34] #66019 closed

[2020-09-17 12:35] qcsltd commented on #63248
No, not yet. Asked on 3 developer forums and no response.

[2020-09-17 12:44] darshankawar commented on #39992
Hi @snickersv2
Is this still a valid issue ?
If so, can you please provide a minimal reproducible code sample that shows the issue ?
Thanks.

[2020-09-17 12:49] goncalo-palma-3r commented on #65855
So @yjbanov after some research I see that a new `<flt-platform-view>` element is created when a new IFrame element is created:

![image](https://user-images.githubusercontent.com/64023725/93472193-4150b500-f8ec-11ea-9d8e-4ade6e340b4d.png)

So I can **try** to get to this `ShadowRoot` element, but I have a question:

What if we have multiple Iframes? How can we differentiate them?

I was trying to

[2020-09-17 12:50] darshankawar commented on #40074
The test `repro with testWidgets (hangs)'` still hangs on latest master after completing execution, while other two tests passed without any issues.

<img width="600" alt="Screenshot 2020-09-17 at 6 18 53 PM" src="https://user-images.githubusercontent.com/67046386/93472525-648e5b00-f912-11ea-96ea-bc96a689e259.png">
<img width="622" alt="Screenshot 2020-09-17 at 6 19 08 PM" src="https://user-images

[2020-09-17 12:59] pedromassangocode commented on #51206
Still reproducible on latest master channel.

A work around for this issue is to set `crossAxisCount` to `2`.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-17 13:13] hiwa-jalal commented on #42651
using `textAlignVertical: TextAlignVertical.center` easily fix it.

[2020-09-17 13:14] FroseMan97 commented on #65834
now we decided this: we limited the imageCache to 50 images. used optimized_cached_network_image. as a result, the memory grows up to a maximum of 450-500 MB. or you can disable caching altogether, yes (imageCache)

[2020-09-17 13:21] mordivgor commented on #65725
I am ok.

[2020-09-17 13:24] darshankawar commented on #65362
@wasabia thanks for confirming.
Given you last message, I am going ahead and closing this. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-09-17 13:24] #65362 closed

[2020-09-17 13:26] darshankawar commented on #65725
Closing this as duplicate of [58159](https://github.com/flutter/flutter/issues/58159).

[2020-09-17 13:26] #65725 closed

[2020-09-17 13:29] huybuidac commented on #9282
For anyone is facing the issue. It dues to navigationKey. You just need to define it in your `MainApp`

[code]

[2020-09-17 13:39] darshankawar commented on #66000
@ikarelin thanks for the log.
There's similar open issue describing your case, [47633](https://github.com/flutter/flutter/issues/47633).
Please follow-up there for updates and any questions.
Closing this as duplicate. If you disagree, write in comments and I'll reopen.
Thanks.

[2020-09-17 13:39] #66000 closed

[2020-09-17 13:40] pedromassangocode commented on #32221
Hi @yjbanov
I'm not sure how to verify if this issue still exist or has been fixed by flutter/engine#18165. Can you please confirm if it is fixed?

[2020-09-17 13:43] bazinac commented on #44718
I am running into same issue with 13.7 iOS device. Has anybody found at least some temporary solution how to get to the exceptions?

[2020-09-17 13:51] kjlubick commented on #65979
Ah, I know why https://flutter-gold.skia.org/json/changelist/github/62502/64c44092fc8c69db6501ebc82db7ae43410c044d/untriaged is returning 500. I recently had to make a change where for older PR, we no longer fetch data to fulfil that request. It was getting too expensive to return the data except when it was cached. A 500 error is potentially problematic, so I then changed it to return nothing.

I

[2020-09-17 14:02] darshankawar commented on #65989
Hi @heroqin,
I tried all the steps mentioned in the said codelab on Android device (8.1.0) on latest master, but didn't see the crash. I scrolled down and up the content several times and saw no issues.

[65989.mp4.zip](https://github.com/flutter/flutter/files/5239600/65989.mp4.zip)

Can you try that on a physical device and see if you get the same crash there ?
Thanks.

[2020-09-17 14:02] riamehdi commented on #13452
For me work fine, i make same code lake explain in link, juste ajuste for French _context_

[2020-09-17 14:04] TahaTesser commented on #44304
This issue doesn't reproduce anymore on the latest `master`, talked to  @pedromassangocode , he will come if it reproduces again

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Closing If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-17 14:04] #44304 closed

[2020-09-17 14:06] pedromassangocode commented on #36859
I was not able to reproduce this with the latest `master` channel. The fonts are only loaded again after Hot-Restart which is not an issue since the webpage is fully reloaded.

Closing this a probably fixed. Please feel free to reopen if the issue persist.

![Screen Shot 2020-09-17 at 15 02 18](https://user-images.githubusercontent.com/67424416/93481784-d9539c00-f8f6-11ea-8bce-bde3054763fb.png)

[2020-09-17 14:06] #36859 closed

[2020-09-17 14:06] TahaTesser commented on #49811
Using the  Apple magic keyboard on iOS 14, native picker focused but not in Flutter

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 14:10] pedromassangocode commented on #41510
Is this still a valid issue today?

[2020-09-17 14:13] pedromassangocode commented on #44197
Is this still a valid issue today?

[2020-09-17 14:15] MrLittleStrong commented on #65750
My origin code is too complicated. But is similar to #40847. And the initialRoutePage of FlutterViewController also contains TextField. The difference maybe one is OpenGL and mine is metal

[2020-09-17 14:16] yulkin2002 commented on #65955
To add: it occasionally seemed to work on a different screen after several hot restarts and an occasional app restart, but it's not consistent and I wasn't able to figure out the exact steps to reliably reproduce this behaviour.

[2020-09-17 14:21] pedromassangocode commented on #66002
Hi @Himanshuranjan30
That would be great. I'm not the right person to decide if this is a valid proposal that should be added into Flutter.

This should be discussed first before any further action.

[2020-09-17 14:23] Himanshuranjan30 commented on #66002
Sure,I will wait for the right person to get on this.
Thanks!

[2020-09-17 14:25] airthings-noordawod commented on #65999
By the way, one more thing about the latest changes in async.dart:

Now it's not possible to use `void` as T, like in: `FutureBuilder<void>`.

Reported elsewhere for other parts of Flutter: https://github.com/flutter/flutter/issues/65938#issuecomment-693697508

[2020-09-17 14:25] dannyvalentesonos opened #66026 "Platform views in Add2App (iOS only) are broken as a result of https://github.com/flutter/engine/pull/20050"
I cannot supply a sample app, because after 3 days of trying, I cannot reproduce this in a simple Add2App sample app.

However, I did track down the issue to https://github.com/flutter/engine/pull/20050.

**The problem:**
Our Add2App experience launches a route that contains Webview widget (from the webview_flutter plugin), and upon first launch of this route, everything works well. However, if th

[2020-09-17 14:29] dannyvalentesonos commented on #66026
[Add2AppTest (platform views).zip](https://github.com/flutter/flutter/files/5239815/Add2AppTest.platform.views.zip)

[2020-09-17 14:31] airthings-noordawod commented on #65999
In async.dart, there are few other places where the definition should be fixed (f.ex: StreamBuilderBase):

Current:

[code]

To be changed to:

[code]

[2020-09-17 14:33] dannyvalentesonos commented on #66026
[✓] Flutter (Channel dev, 1.22.0-12.0.pre, on Mac OS X 10.15.6 19G2021, locale en-US)
    • Flutter version 1.22.0-12.0.pre at /Users/danny.valente/Library/flutter/1.22.0-12.0.pre-dev
    • Framework revision a27c242b0e (6 days ago), 2020-09-11 17:46:57 -0400
    • Engine revision fee6f9e533
    • Dart version 2.10.0 (build 2.10.0-110.0.dev)

[✓] Android toolchain - develop for Android devices (An

[2020-09-17 14:37] MrLittleStrong opened #66028 "iOS crashes in iOS 9 with TextField in Stable Channel 1.20.3"
## Steps to Reproduce

Hard to know how to reproduce. Got this crash from crash log.
Now I got information below.

Device and OS:
![image](https://user-images.githubusercontent.com/5518080/93485435-a5e43200-f935-11ea-8f6a-50aeef0820a3.png)

Crash stack
[code]
Page Routes shows
[code]

<details>
  <summary>Logs</summary>

[code]

</details>

[2020-09-17 14:38] TahaTesser commented on #32229
I can reproduce the issue on the android web, while it correct reads out on the android app

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 14:42] dzcpy commented on #49513
+1

[2020-09-17 14:50] crtl opened #66030 "[documentation] Overflow parameter removed from Stack Widget"
After ugprading Im getting the following error:
[code]

I get an error on every `Stack` widget using the `overflow` parameter.

## Steps to Reproduce

1. Run `flutter create bug`.
2. Use `Stack` widget

**Expected results:**
`overflow` parameter should be available

**Actual results:**
`overflow` attribute does not exist

<details>
  <summary>Logs</summary>

[code]

</details>

[2020-09-17 14:53] MrLittleStrong opened #66032 "iOS crashes in iOS 9 with Accessibility in SemanticsObject dealloc with Stable Channel 1.20.3"
Maybe related to #54366
@kangwang1988

**Crash stack**
[code]

<details>
  <summary>Logs</summary>

[code]

</details>

[2020-09-17 14:54] TahaTesser commented on #51804
<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-17 15:05] TahaTesser commented on #66018
Hi @ihsh,
Please see [this](https://github.com/flutter/flutter/issues/57929) related issue. You seem to be on old version of Flutter. I'd suggest you to upgrade to latest stable or master and try again. This issue was [fixed](https://github.com/flutter/flutter/pull/57874) and merged.

duplicate of https://github.com/flutter/flutter/issues/65924

Thanks.

[2020-09-17 15:05] #66018 closed

[2020-09-17 15:13] berrylawchingman commented on #66018
Ok kill/

Sent from my iPhone

[2020-09-17 15:15] TahaTesser commented on #66017
I can reproduce the issue with Gboard, can't switch to a Japanese keyboard, it switches back

![ezgif com-resize (3)](https://user-images.githubusercontent.com/48603081/93490888-acb77880-f926-11ea-9421-7f09729bd41b.gif)

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<details>
<summary>logs</summary>

[code]

</deta

[2020-09-17 15:19] AlexMeuer commented on #9784
What's the status of this? Is there any point waiting around for it or should we opt for other solutions?

[2020-09-17 15:25] berrylawchingman commented on #66018
Ok thx

[2020-09-17 15:26] berrylawchingman commented on #32537
Don't try to b silly

[2020-09-17 15:28] berrylawchingman commented on #9784
No 1 location as said

Sent from my iPhone

[2020-09-17 15:28] berrylawchingman commented on #66017
Ok japan go

Sent from my iPhone

[2020-09-17 15:30] jonahwilliams opened #66033 "mac-20, mac-3 machines need recovery"
Both iOS devices are failing tests that are otherwise passing locally. Unexpected exit code 1005 usually means the device is out of memory. Unclear what is happening with the cull perf test either.

[2020-09-17 15:33] littleGnAl commented on #49950
Any update on this?

[2020-09-17 15:36] jonahwilliams opened #66034 "failure to download dependencies (in luci tools shard) should count as infra failure"
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8868899754193369952/+/steps/download_dependencies/0/stdout"

Pub error, possibly due to corrupt download/fetch

[code]

[2020-09-17 15:38] xster commented on #60657
Apologies, I mixed up threads. My above comment isn't correct. The summary in https://github.com/flutter/flutter/issues/60657#issuecomment-688478590 is still the correct current state. This issue doesn't have a catch-all solution currently and workarounds in https://github.com/flutter/flutter/issues/60657#issuecomment-688478590 are needed to launch (generally from a host rather than on device dire

[2020-09-17 15:39] mehmetf commented on #23106
That's not a good idea. If a FAB belongs to a child scaffold, snackbar would not be able to interact with it. There's a reason why snackbars are tied to scaffolds.

There's a better upcoming solution for this. Follow: https://github.com/flutter/flutter/issues/62921

[2020-09-17 15:39] TahaTesser commented on #66030
Hi @crtl
I can reproduce the issue

`overflow ` is also missing from master API docs  https://api.flutter.dev/flutter/widgets/Stack-class.html
still present in https://api.flutter.dev/flutter/widgets/Stack-class.html.
Not sure if `overflow ` removed or bug means bug changes to API docs as well?

Also missing from the source

https://github.com/flutter/flutter/blob/d15da04f4f5073815aa01fa2dd8689047

[2020-09-17 15:45] MichealReed opened #66035 "InteractiveViewer OnInteractionUpdate provides (0,0) coordinates when scrolling."
## Steps to Reproduce
Recently, a commit hit master that caused OnInteractionUpdate to be triggered when scrolling. This update provides (0,0) coordinates and breaks applications that rely on interaction updates for coordinate changes of objects within the page.
With the code below you will notice that taps on the screen provide the correct coordinates, but when scrolling, (0,0) is provided.

cc:

[2020-09-17 15:50] xster commented on #62531
Documented on https://flutter.dev/docs/development/ios-14 now.

[2020-09-17 15:50] #62531 closed

[2020-09-17 15:53] njovy commented on #53490
@cyanglaz https://github.com/flutter/engine/pull/20050 This is the only patch that can cause this issue because my webview has been working fine until 1.20.1.

[2020-09-17 15:58] Faiyyaz commented on #66004
Hi @pedromassangocode Sorry got the issue it was the wrong usage of the plugin. I read the plugin doc and it is working fine now

[2020-09-17 15:58] #66004 closed

[2020-09-17 16:00] ksankumar opened #66036 "On some devices, native keyboard cannot be closed with back button"
Device: Samsung S8, S9
Branch: master

android native keyboard not able to close when we tab hide keyboard and back button in samsung devices with **master** branch. Works fine with **stable** branch.

[code]
[code]

[code]

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3350098/93499704-56741680-f8e1-11ea-954a-96a5ebbce73c.gif)

[2020-09-17 16:09] kf6gpe opened #66038 "hotReloadVMReloadMilliseconds hot_mode_dev_cycle_macos_target__benchmark unit regression"
https://flutter-flutter-perf.skia.org/e/?begin=1600280522&end=1600303326&keys=Xba25ef7f44f73f21cf9a689250c8ee38&num_commits=50&request_type=1&xbaroffset=21499.

Increasing, and continuing to go up.

[2020-09-17 16:10] kf6gpe commented on #66038
Wondering if this is actually expected given the PR in question.

[2020-09-17 16:11] Abhishek01039 commented on #66008
Hi @gianalmada can you please try with other URLs to see whether it will work or not?
Hi @imeDevelopers what is the meaning of `--no-pub --no-build`?
thanks.

[2020-09-17 16:13] kf6gpe commented on #66038
https://github.com/flutter/flutter/pull/65900 for the suspect commit.

[2020-09-17 16:14] ASemeniuk commented on #24105
@robin7331
I suggest using `List<GlobalKey<NavigatorState>>` instead of creating individual keys.

    final tabNavKeys = List<GlobalKey<NavigatorState>>[
      GlobalKey<NavigatorState>();
      GlobalKey<NavigatorState>();
      ....
    ];

Then in your `CupertinoTabView`:

    CupertinoTabView(
       navigatorKey: tabNavKeys[0],
       builder: (BuildContext context) {
          return MyWidg

[2020-09-17 16:16] dotdoom commented on #65954
Another use case it to be able to interrupt the whole test suite when a single test fails.  Oftentimes, drive tests would depend on the result of previous tests because they have to clean the state.  When a test fails, it would leave an app in the wrong state (e.g. wrong screen).  Advanced tests may reset the state at the beginning, though, but it's not always the case.

[2020-09-17 16:26] ksankumar commented on #66036
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/3350098/93499485-0e54f400-f8e1-11ea-8669-89038adc0a86.gif)

[2020-09-17 16:30] sallypeters opened #66040 "Image Picker Freezes in Android when accessing OneDrive"
I have upgraded from 1.12.13+Hotfix 5 to Flutter 1.19.0-4.3.pre and have 2 issues regarding ImagePicker 👍

1) Using ImagePicker 0.6.7+7 within Android (Simulator/Device)- accessing an image on OneDrive causes ANDROID to freeze when there are many (> 500) photos.

Accessing any other image on the local device or GoogleDrive etc works without issue.

On 1.12.13 with Image Picker  0.6.1+4 works witho

[2020-09-17 16:31] Abhishek01039 commented on #25657
@vedpra55 by deleting the flutter folder and reset the path variable.
Thanks.

[2020-09-17 16:37] xster commented on #65821
This is smoothly addressable only in Android R which has an API for it now https://github.com/flutter/flutter/issues/62876. Though a follow-up question is do we want to somehow make specifically the keyboard special and monitor that only or do you really mean "I want to smoothly animate some widget on screen based on _viewInset_ animation"?

Can you elaborate on this one a bit? Typically a focus t

[2020-09-17 16:38] Jeremywhiteley commented on #61047
Ok.  IOS Home Screen widgets were announced months ago.  They are going to be a very big deal for IOS users.   I haven't seen much on the topic.  No clear direction or path.

[2020-09-17 16:41] mdebbar commented on #40221
Deduplicating with https://github.com/flutter/flutter/issues/64792

[2020-09-17 16:41] #40221 closed

[2020-09-17 16:41] bazinac commented on #65746
Hi, hitting this as well with Android Studio on Mac.

`fluter doctor -v`

[code]

Had that with stable and iOS 13.7 device as well.

[2020-09-17 16:43] CaseyHillers opened #66041 "[cocoon] Server static file handling fails when a query is passed"
This issue seems to occur when spinning up with the dev channel. It's inserting a version tag to static assets (`/main.dart.js?v=2752228646`) which will 500, causing none of the frontend to load.

[code]

[2020-09-17 16:44] Piinks commented on #65979
Touched base with @kjlubick offline. https://flutter-gold.skia.org/json/changelist/github/62502 can provide timestamp information so we can check if > 20 has elapsed before hitting the untriaged endpoint.

[2020-09-17 16:44] yamakami-shinobu-gn commented on #66017
I stupidly forgot to write the important factor that the problem only happens inside the WebView of the webview_flutter plugin.
Thanks for TahaTesser adding to the title of this issue.

[2020-09-17 16:48] CaseyHillers commented on #66041
\cc @keyonghan as this is a blocker before cocoon can use the Flutter dev channel

[2020-09-17 16:48] Piinks commented on #64969
Re-opening since this has regressed. Pre-submit and post-submit builders do not have goldctl again. Looks like it regressed a week age, for example you can see the drop off: https://flutter-gold.skia.org/search?fdiffmax=-1&fref=false&frgbamax=255&frgbamin=0&head=true&include=false&limit=50&master=false&match=name&metric=combined&neg=true&offset=0&pos=true&query=name%3Dcupertino.activityIndicator.p

[2020-09-17 16:49] PixelToast commented on #66010
Conventionally in a terminal ctrl-c will abort the current task: https://en.m.wikipedia.org/wiki/Control-C

Because this is an issue with the terminal emulator you use to run commands, there is nothing we can really do.

As for the `Terminate batch job (Y/N)`

[2020-09-17 16:54] falguni0314 commented on #28494
Hi, any update on this bug for mobile apps in flutter?

[2020-09-17 16:54] atomicfruitcake opened #66042 "Cannot listen for google assistant events when flutter fragment is active."
I have an Android application written in Java that loads a FlutterActivity to control a video player.

The app is for Android TV running Pie

Flutter version
[code]

The output of my `flutter doctor -v`
[code]

The FlutterActivity is transparent and is used to control the underlying Java application via Method Channels and Event Channels.

The Java application contains a video player that can be c

[2020-09-17 16:56] PixelToast commented on #66030
This was an intended change as part of #61366, but seems to lack a migration guide.

[2020-09-17 16:59] mehmetf commented on #65821
From the use cases I have seen, that's what apps typically want. Keyboard just happens to be the most obvious manifestation. Again, this is a fairly rare use case, I only encountered it once in the last 2 years.

I don't think Flutter framework is missing a use case. Apps wanting to do "something" when keyboard opens/closes is relatively common. I will PM you some code if you are interested.

[2020-09-17 17:01] ditman commented on #65912
@CaseyHillers that is correct, the latest version of the plugin should properly throw exceptions when things are breaking on the JS SDK. The changes were:

* almost all operations, (normally silentSignIn): may throw a PlatformException with code `idpiframe_initialization_failed` (see [this](https://developers.google.com/identity/sign-in/web/reference#error_codes)) if the init method failed.
* sign

[2020-09-17 17:03] njovy opened #66044 "[webview_flutter] Gesture regression on iOS from 1.20.2"
Starting from 1.20.2, WebView stopped working. What I meant by stopped working is that it doesn't handle any gesture such as tapping, or swiping to scroll. Other flutter widgets in the same screen handle gestures so I can go back to a previous screen by tapping a back button. However, when I tried to swipe to go back to a previous screen, it stucks in the middle of swiping. Unfortunately, I tried

[2020-09-17 17:04] wer-mathurin opened #66045 "Test always returning passed.....when using @TestOn('browser')"
## Steps to Reproduce
@TestOn('browser')
import 'package:flutter_test/flutter_test.dart';

void main() {
  test('I must failed', () async {
    expect(1, 2);
  });
}

I'm expecting the code to failed....but for some reason, when using the @TestOn('browser') it didn't.
The above code return passed !!!!!!!

**_flutter-doctor_**
[√] Flutter (Channel beta, 1.22.0-12.1.pre, on Microsoft Windows [versio

[2020-09-17 17:05] cyanglaz commented on #53490
@njovy Interesting. It looks like a different issue. Could you please open a new github issue with details(flutter version, reproduction steps, sample code), and tag me there?

[2020-09-17 17:07] njovy commented on #53490
@cyanglaz https://github.com/flutter/flutter/issues/66044 is the new issue I just opened. As I stated there, I could not find a way to reproduce this issue at the moment. If I find a way, I will add there.

[2020-09-17 17:09] cyanglaz commented on #66044
Thank you for opening the issue. Could you provide a reduced test case?

[2020-09-17 17:10] real1900 commented on #65746
I am running Android Studio

[2020-09-17 17:11] CaseyHillers commented on #65912
This is great @ditman! I'll follow up today in Cocoon to update to the latest version and catch these errors to mitigate these issues.

[2020-09-17 17:11] real1900 commented on #65746
I also get the same behavior with VSCode

[2020-09-17 17:15] ditman commented on #65912
Apologies for the breakage, @Hixie, @CaseyHillers, and thanks for your patience! This bug is being kind of hard to track down (especially because I haven't been able to reproduce it locally so far :/)

[2020-09-17 17:25] godofredoc commented on #64969
@Piinks  Do you have the name of a builder that is not uploading the golds?

[2020-09-17 17:26] jmagman opened #66046 "cull_opacity_perf__timeline_summary timing out"
cull_opacity_perf__timeline_summary started timing out with https://github.com/flutter/flutter/pull/65044, but the [revert](https://github.com/flutter/flutter/commit/ea75ffc1ba8a0af33bdba352e733c2ba5fa11472) didn't fix it.
[cull_opacity_perf__timeline_summary_48ba488_2.log](https://github.com/flutter/flutter/files/5240887/cull_opacity_perf__timeline_summary_48ba488_2.log)

[2020-09-17 17:26] jmagman commented on #66046
Failing on mac-20 and mac-21

[2020-09-17 17:27] keyonghan commented on #64969
Recipe is getting dependencies: https://devops-console-oss.corp.google.com/flutter/recipes/+/master:recipes/flutter/flutter_drone.py;l=49. But from config side, `goldctl` dependency seems missing.

[2020-09-17 17:27] Piinks commented on #64969
Looks like all of them. :(

[2020-09-17 17:29] Piinks commented on #64969
Gold has not seen anything from Luci in a week, and the last remaining mac Cirrus build was removed yesterday AFAICT. It looks like there is one cirrus linux build talking to Gold in pre-submit, but that is it.

[2020-09-17 17:31] keyonghan commented on #64969
From config side, dependency is configured separately for different builders. Based on [try_builders](https://github.com/flutter/flutter/blob/master/dev/try_builders.json) and [prod_builders](https://github.com/flutter/flutter/blob/master/dev/prod_builders.json), which are supposed to have the goldctl dependency? @Piinks

[2020-09-17 17:33] markathomas commented on #60072
is there any plan to downport this fix to the 1.17.x branch?  Requiring a full Flutter upgrade to support Xcode 12 seems presumptuous

[2020-09-17 17:35] godofredoc commented on #64969
Found the issue, the dependency is not in the properties config. @Piinks only the tests using the flutter test runner need the dependency, am I right?

[2020-09-17 17:40] HansMuller commented on #66038
The benchmark regression could very well be related to https://github.com/flutter/flutter/pull/65900 since the new button classes have added dependencies and the old button classes are still around (for the moment).

[2020-09-17 17:42] liyuqian commented on #66030
Please see the [migration guide][1] that's originally posted in https://github.com/flutter/flutter/pull/59364

[1]: https://docs.google.com/document/d/1gC5Di4ykTCqupD77PWpy9D8xXo0Ide5CnrH0zzVIhKo/edit#heading=h.qxzs91rbt759

[2020-09-17 17:44] vamsi452 commented on #65580
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<

[2020-09-17 17:49] chunhtai commented on #64926
PR reverted due to post submit test failure

[2020-09-17 17:51] godofredoc commented on #64969
Did we land raising an error when the dependency is missing?

[2020-09-17 17:52] liyuqian commented on #66038
The same commit https://github.com/flutter/flutter/commit/a17b3309807a2fadabf4482d2705edc841f5fcfa seems to also break our memory measurements: [it's now always 0][1]. CC @bkonyi @terrylucas

[1]: https://flutter-flutter-perf.skia.org/e/?begin=1600280522&end=1600303326&keys=Xd016f0b5cc777a55e96c6729137a36dc&num_commits=50&request_type=1&xbaroffset=21499

[2020-09-17 17:52] DeepzUa commented on #60657
This problem  occured only flutter apps or all apps ?

[2020-09-17 17:59] mehmetf commented on #65580
This is the problem:

[code]

According to [Apple documentation](https://developer.apple.com/documentation/bundleresources/information_property_list/nsapptransportsecurity/nsexceptiondomains?language=objc)  `NSExceptionDomains` should just contain a map where the key is the domain. In your configuration, it contains a key-value pair that is not a domain which makes the configuration malformed.

Ca

[2020-09-17 18:03] bkonyi commented on #66038
There's an issue with https://github.com/flutter/flutter/commit/a17b3309807a2fadabf4482d2705edc841f5fcfa where VM service clients aren't notified of the registered service extensions when subscribing to the `Service` event stream. I have a fix almost ready for review in the SDK, and I'll upload the new DDS version after that's done. If we can avoid reverting this, that would be great.

[2020-09-17 18:05] Jeremywhiteley commented on #60026
Looks like they made progress with React Native.

Maybe this will help?   https://link.medium.com/nbeePxDoR9

[2020-09-17 18:07] bkonyi commented on #66038
DDS fix up [here](https://dart-review.googlesource.com/c/sdk/+/163263).

[2020-09-17 18:10] PixelToast commented on #66030
Ahhh, didn't look deep enough, thanks!

[2020-09-17 18:13] jmagman commented on #60657
Hiding all the stable channel "me too"s.  As noted in [this medium post](https://medium.com/flutter/supporting-ios-14-and-xcode-12-with-flutter-15fe0062e98b) and other places, if you are developing against iOS 14 you should try beta 1.22 or newer.  There is no workaround for this crash on stable.

[2020-09-17 18:14] Piinks commented on #64969
Still waiting on feedback: https://github.com/flutter/infra/pull/196
But I am not convinced it will work. I can not reliably assert that goldctl is present. OTher repos that checkout flutter/flutter and execute tests would be broken.
I can add more information to the environment (like cocoon#196 is proposing) to inform that we should assert, but this doesn't actually solve the problem. If the reci

[2020-09-17 18:15] Piinks commented on #64969
This is the change that fixed this last time: https://flutter-review.googlesource.com/c/recipes/+/6200

[2020-09-17 18:16] #66041 closed

[2020-09-17 18:16] #60657 closed

[2020-09-17 18:20] jmagman opened #66047 "flutter-dashboard bot doesn't remove "work in progress; do not review" label when PR marked as ready to review"
The bot marks draft PRs as "work in progress; do not review", but doesn't remove the label when the PR is no longer a draft.  This causes PRs to be ignored when the author doesn't have permission to remove the label themselves.

See https://github.com/flutter/flutter/pull/65768#issuecomment-694147787 for example.

[2020-09-17 18:21] chrisDK1977 commented on #57087
The solutions with the constraints really seems to be a "quirky workaround" ... isn't it possible to add a flag to expand the ToggleButtons to the parents size taking the border width into account?

[2020-09-17 18:22] knaeckeKami commented on #66047
I think this is a dupe of https://github.com/flutter/flutter/issues/63210

[2020-09-17 18:22] jonahwilliams commented on #66046
@jmagman different revert, we could try with  #65044 but when I ran locally it passed

[2020-09-17 18:24] chingjun commented on #41510
This is no longer needed. I'm closing this issue. Thanks.

[2020-09-17 18:24] #41510 closed

[2020-09-17 18:24] LongCatIsLooong commented on #65144
Looks like it's currently being worked on. b/159487695 (internal).

[2020-09-17 18:26] njovy commented on #66044
@cyanglaz It took me more than 3 days to find a root cause. I basically deleted pretty much everything to find out what can possibly cause this. Never thought setting a global tint color in AppDelegate.swift would cause this problem. I updated my main post to demonstrate this bug.
One of my apps requires to use WebView for the third party authentication so I guess for now I will not change a globa

[2020-09-17 18:26] HansMuller commented on #64973
I've lowered this issue's priority pending getting some additional clarity about exactly what's going wrong in the customer's app and what a practical solution would be.

[2020-09-17 18:28] chrisDK1977 opened #66049 "[Proposal] : Color for unselected Button in ToggleButtons"
It is possible to define the selected color using ToggleButtons (fillColor) but it needs workarounds to define the color for unselected buttons which are transparent.

Workarounds see https://stackoverflow.com/questions/60434927/background-color-of-toggle-buttons/63943884#63943884

It would be great to have an option to just define a **"fillColor" for unselected ToggleButtons**.

[2020-09-17 18:33] justinmc opened #66050 "Constrained TextFields compensate for prefix/suffix when none exist"
`fixBelowInput` is used in the layout of InputDecorator to compensate for a prefix/suffix that is so tall that it extends beyond the bottom of the input.  However, it is sometimes being applied even when there is no prefix/suffix at all.

## Steps to Reproduce

1. Run the app whose code is given below, or any TextField whose height is constrained smaller than it would otherwise be.
1. The TextFiel

[2020-09-17 18:34] jmagman commented on #66047
Surely is, thanks @knaeckeKami.

[2020-09-17 18:34] #66047 closed

[2020-09-17 18:38] yunior123 opened #66053 "Velocity tracker error"
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows: ...
3. ...

**Expected results:**

**Actual results:**

<details>
  <summary>Logs</summary>

[code]

[code]

[code]

</details>

[2020-09-17 18:39] jmagman commented on #60072
@markathomas https://github.com/flutter/flutter/wiki/Hotfixes-to-the-Stable-Channel

[2020-09-17 18:40] godofredoc commented on #64969
I'm adding the comment to the PR and landed the fix. Please take a look and let us know if it is still failing.

[2020-09-17 18:44] godofredoc commented on #66033
If the phone is out of memory rebooting the phone may be enough. I'll verify the logs and reboot phones

[2020-09-17 18:46] jmagman commented on #66046
Ah, https://github.com/flutter/flutter/commit/ea75ffc1ba8a0af33bdba352e733c2ba5fa11472 wasn't merged.

[2020-09-17 18:48] crtl commented on #66030
It should be marked deprecated for a while first. No one will know that it changed and a lot of libraries will stop working if this change is forced to fast. At least I havent seen it deprecated before.

[2020-09-17 18:48] pulstar commented on #14096
Check if you are using any of these packages and remove them:

[code]

[2020-09-17 18:49] pulstar commented on #14137
Check if you are using any of these packages and remove them:

[code]

[2020-09-17 18:55] dnfield commented on #65218
Quick update here as well - Fuchsia applies a transform right below the root to account for DPI, and is the only embedder that does so. A11y bridge has to account for that.

[2020-09-17 18:55] blasten commented on #64466
@godofredoc These tests are passing on Cirrus https://cirrus-ci.com/build/5366726126731264  (see `*-windows` jobs).  I'm not sure what is the difference in the environment.  If these tests are blocking progress in some front, I think they can be temporarily disabled provided they are passing in some other environment.

This may need more debugging to better understand what is the difference betwee

[2020-09-17 18:57] blasten commented on #64466
Let me know what is the best way to move forward. I can disable the tests, but please let me know where the metadata is for LUCI.

[2020-09-17 18:59] pulstar commented on #14096
Check if you are using any of these packages and remove it:

[code]

[2020-09-17 18:59] pulstar commented on #14137
Check if you are using any of these packages and remove it:

[code]

[2020-09-17 18:59] jmagman commented on #66046
Passed on revert https://github.com/flutter/flutter/pull/66051

[2020-09-17 18:59] #66046 closed

[2020-09-17 19:12] cbracken opened #66056 "ShellTest.SkipAndSubmitFrame is flaky"
Saw this fail on the Linux Host Engine `host_release` build today:
[code]

Build: https://ci.chromium.org/p/flutter/builders/prod/Linux%20Host%20Engine/6861
Log: https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8868899425341347024/+/steps/Host_Tests_for_host_release/0/stdout

Test binary in question: `shell_unittests`

[2020-09-17 19:18] cyanglaz commented on #40418
Looks like we have 2 solutions:
1. Splitting the plugin into 2 plugins.

-  The connectivity plugin only contains `checkConnectivity`.
-  A new `network_info` plugin contains wifi related APIs.
This is going to be a breaking change thus a major version bump is required. For people who needs to use the WIFI related APIs, they'd have to add a new dependency to the `network_info` plugin, and do some

[2020-09-17 19:19] chocolatkey commented on #66036
I have the same problem, using beta 1.22.0-12.1.pre. `FocusScope.of(context).unfocus();` dismisses the keyboard, but as soon as the textfield is selected again, this happens.

[2020-09-17 19:28] Shreyasharma92 commented on #36439
using git init command

[2020-09-17 19:28] godofredoc commented on #66033
From mac-20 seems like the problem is different:

[code]

[2020-09-17 19:28] #66038 closed

[2020-09-17 19:41] aytunch commented on #60026
@Jeremywhiteley Thanks for sharing, but I guess the post was about App Clips. I am not sure if they have similarities with Home Widgets.

[2020-09-17 19:44] #66053 closed

[2020-09-17 19:50] csells opened #66058 "add "next steps" message to the output of 'flutter create -t plugin'"
Running 'flutter create -t plugin foo' provides a plugin w/o any sub-folders, as expected.

However, there's no message that says what to do to add a platform to that plugin.

We should add a helpful message there instead.

[2020-09-17 19:51] dnfield opened #66059 "Build at least one variant of the fuchsia engine on mac"
Now that we have some more machines this should be doable.  Would have helped avoid https://github.com/flutter/engine/pull/21248

@godofredoc @digiter @cbracken

[2020-09-17 19:51] dnfield commented on #66059
Even just building a single variant is probably enough to start if we're concerned about capacity.

[2020-09-17 19:59] klivin commented on #64253
I get the same error after updating to simulator with iOS 14.

I can reproduce the error very quickly with a
Scaffold ->  ListView [vertical scrolling] -> [ListView [horizontal scrolling], ListView[horizontal scrolling]]

The horizontal scrolling lists are 3/4 screen height and contain 1 - 10 elements

Scrolling down and up while scrolling left and right reproduce this crash almost instantaneously

[2020-09-17 20:00] #58012 closed

[2020-09-17 20:04] Hixie commented on #4467
@esarbanis specifically between the white label and the blue label is what I was mainly worried about.

@Sameerkash Best place to get started is https://github.com/flutter/flutter/blob/master/CONTRIBUTING.md

[2020-09-17 20:05] Piinks commented on #64969
Verified on the Gold dashboard that luci builds [chrome, linux, windows, mac] are all present in tryjobs and prod.

[2020-09-17 20:05] #64969 closed

[2020-09-17 20:16] godofredoc commented on #66033
Phones were cleaned and rebooted and the host machines rebooted. Please let me know if the problem persists.

[2020-09-17 20:17] gaaclarke commented on #60399
This PR started working on it: https://github.com/flutter/packages/pull/201  It still doesn't handle `@HostApi`.  I didn't look closely at the approach yet since it is half implemented.

[2020-09-17 20:17] HansMuller opened #66060 "All of ThemeData's factory constructor parameters should be required to be non-null"
Because having a few needless exceptions is confusing and likely due to historical accident not design.

Of the 73 ThemeData.raw() parameters, buttonColor, applyElevationOverlayColor, and cupertinoOverrideTheme are _not_ required to be non-null.

[2020-09-17 20:18] indigothm commented on #64558
More examples of the same issue in both my app and AboutYou online store and my own app:

![IMG_4178](https://user-images.githubusercontent.com/6455846/93523659-0b3b2180-f93c-11ea-894e-b41fe1d9cbb5.PNG)
![IMG_4170](https://user-images.githubusercontent.com/6455846/93523683-15f5b680-f93c-11ea-8e12-3048713b19ed.PNG)

It doesn't seem to be related to healthkit after all and seems to affect a wider ra

[2020-09-17 20:23] yjbanov commented on #65855
Can the `_initializeState` function store the iframes in some `List` or `Map` to find them later?

Otherwise, hopefully soon we'll have a shadow DOM-free variable of platform view. @ditman is working on it right now.

[2020-09-17 20:25] goderbauer commented on #64253
@klivin Can you post some runnable sample code that reproduces this reliably? That would help us a lot!

[2020-09-17 20:34] Auties00 commented on #64501
Any news?

[2020-09-17 20:35] hicnar commented on #51153
@TahaTesser

Thank you for your reply. I have just run the tests using the latest flutter 1.20.4 stable and I confirm that the choppy scrolling problem still remains.

Following is the requested flutter doctor -v listing:

[✓] Flutter (Channel stable, 1.20.4, on Mac OS X 10.15.5 19F101, locale en-GB)
    • Flutter version 1.20.4 at /Users/khycnar/Development/flutter_1.20.4
    • Framework revision

[2020-09-17 20:37] rami-a opened #66062 "Time Picker has screen reader issues on web"
After reviewing the time picker on web with a screen reader, a few issues were noticed:

- For the hour/minute controls, I hear "min 0, max 2" even though the number, e.g. an hour, is set to "7" (ChromeOS only)
- When selecting "AM" vs "PM", they are neither reported as "buttons" or as "selected" to reflect their selection state (both macOS and ChromeOS) - The [time picker code](https://github.com

[2020-09-17 20:47] gaaclarke commented on #60026
@minikin Pigeon does support Swift.  I have a working demonstration here: https://github.com/gaaclarke/GiantsA2A  I made it for a talk I gave on add-to-app but you can see it working with Swift.  Swift can call into objective-c with no problem as long as you put the headers in the magical "bridging" header.

[2020-09-17 20:47] yunior123 opened #66063 "A required argument was added to VelocityTracker's constructor"
Hello , I am having this issue in my flutter project in github due to updates on the framework, please do not close this question without giving an explanation, thank you
/C:/hostedtoolcache/windows/flutter/1.22.0-12.1.pre-beta/x64/.pub-cache/hosted/pub.dartlang.org/optimized_gesture_detector-0.0.5/lib/scale.dart:229:55: Error: Too few positional arguments: 1 required, 0 given.
Running Gradle task

[2020-09-17 20:50] chunhtai commented on #65776
Had a conversation with @johnpryan , Our currently plan is to post a blog post about how to use the router widget, and there is no plan to provide opinionated class at this time.

That means we will have a several code samples along with a tutorial blog post, and the stock app rewrite with the Router. @csells Is there anything else that is required to release the Router?

[2020-09-17 20:52] klivin commented on #64253
I will work on that.

Since posting, after a few minutes of testing, I was not able to reproduce this on an iPhone X device yet.  Nor am I able to produce the crash when I switch from an iPhone SE simulator to an iPhone 8 simulator.  Very odd, beceuase on the iPhone SE simulator, I could reproduce very easily...

[2020-09-17 21:08] Omi231 commented on #13675
Guys please give this issue some priority 😰 It screws almost every design which require rounded corners.

[2020-09-17 21:11] Omi231 commented on #25429
Any update on this issue?

[2020-09-17 21:13] ferhatb commented on #66062
/cc @nturgut

[2020-09-17 21:17] ferhatb commented on #65498
@yjbanov i believe there is a todo on shadow work related to elevation.

[2020-09-17 21:18] darkmehmet opened #66064 "Gray screen showing up when Double Tap an TextFormField In Ios Apps"
In Ios when double tapping 2 times (4 taps) to a TextFormField, App become irresponsible and Gray screen is showing up.
Here is screen shots
Before:
https://ibb.co/6N8mdqV

After:
https://ibb.co/Ny33cfS

[code]

[2020-09-17 21:25] yjbanov commented on #65498
Thanks for checking! I only asked so I could put the right labels.

[2020-09-17 21:27] yjbanov commented on #65516
Thanks for clarifying! I updated the title of the issue to reflect your suggestion.

/cc @ditman this is probably purely a plugin feature request. I can't think of anything we'd need to do in the framework and/or engine.

[2020-09-17 21:29] justinmc commented on #66035
@MichealReed Thanks for the clear issue.  I've got a fix coming in https://github.com/flutter/flutter/pull/66065.

[2020-09-17 21:30] yjbanov commented on #65529
@ditman can you please triage this? It sounds like a missing lifecycle event of some sort.

[2020-09-17 21:31] nturgut commented on #66062
I'll have a look into this. This might also be due to gallery code. On a few occasions, we needed fix flutter/gallery instead of the web engine code. I'll update the issue.

[2020-09-17 21:32] yjbanov commented on #65570
@johnpryan Does this also happen in `--dart-define=FLUTTER_WEB_USE_SKIA=true`? I can't tell if it's an engine or a framework issue.

[2020-09-17 21:33] yjbanov commented on #65720
Does this also happen in `--dart-define=FLUTTER_WEB_USE_SKIA=true`?

[2020-09-17 21:35] gmihir commented on #65936
There is a bug currently, `canLaunch(url)` seems to always return false on iOS 14 when a browser other than Safari is selected as the default browser. A work-around I have found for this is to only use `launch(url)` and wrap the statement in a try-catch in case any exceptions arise.

[2020-09-17 21:37] yjbanov commented on #65724
This feels like a general issue with the framework misplacing the popup on a big screen, so I'll remove the platform-web label. However, please feel free to add it back if this is web-specific (e.g. you can try running using macOS/Linux desktop variant, or switching to CanvasKit using `--dart-define=FLUTTER_WEB_USE_SKIA=true`).

[2020-09-17 21:37] devrajraut commented on #64887
@shameemreza Could you pls tell us what the Migration issue was? Im having the same issue and I'm not able to run my App on the Simulator.

[2020-09-17 21:42] jonahwilliams opened #66066 "Use a first-frame event to signal that it is safe for the service worker to activate"
This should speed up the performance of the initial load the first time an application using Flutter Web is visited. Currently registration is delayed to a load event:

[code]

Instead we should have the engine dispatch an event after the first frame. Then listen for this instead:

[code]

[2020-09-17 21:42] bruno-garcia commented on #65565
The Sentry SDK was moved over to the Sentry organization. We'll take a bit more time before launching 4.0.0. Sorry for the delay.

The release will be done there. Please follow the repository to get notifications for new releases:

https://github.com/getsentry/sentry-dart/releases

[2020-09-17 21:42] #65565 closed

[2020-09-17 21:44] jonahwilliams opened #66067 "Update service worker to perform caching activities in install event"
The service worker event activate is not guaranteed to run to completion, for example if the browser closes. If it fails or ends early, then it will never be rerun.

The install event has stronger guarantees, and is a better solution for updating the caches.

[2020-09-17 21:45] jonahwilliams commented on #66067
activate could be updated to only perform cleanup

[2020-09-17 21:45] shameemreza commented on #64887
@devrajraut  It was IOS migration issue. I just follwoed this: https://flutter.dev/docs/development/ios-project-migration

[2020-09-17 21:46] hamdikahloun commented on #66036
Hi @ksankumar
Can you provide please the devices info (Android Version, Model Number...)

[2020-09-17 21:48] Piinks commented on #65979
The `PullRequest` last updated info was already available. No need to hit another Gold API. :) Fix is in https://github.com/flutter/cocoon/pull/945

[2020-09-17 21:48] hamdikahloun commented on #66040
Hi @sallypeters
Can you upgrade your flutter version (`flutter upgrade`) please and provide your `flutter doctor -v`

[2020-09-17 21:50] omatt commented on #65718
I'll just add more details in this thread regarding my findings with app thinning. It looks like Xcode Archives won't return to its "original" size (212.7 MB) again. On the other hand, the ipa size should go back to its "original" size with app thinning.

It's likely that the Archive still contain Bitcode sections, which explains its size. I'm unsure if this is its behavior by default and somethin

[2020-09-17 22:01] jonahwilliams opened #66068 "Early return in fetch handler for requests that will not be handled with the service worker"
Responding with the service worker for all HTTP requests will add extra overhead. Instead we can early return to let the browser handle them as normal.

[2020-09-17 22:03] ksankumar commented on #66036
@chocolatkey
![Screenshot_20200917-180018_Settings](https://user-images.githubusercontent.com/3350098/93532959-02345b00-f910-11ea-8c83-0b263b37868f.jpg)

[2020-09-17 22:09] godofredoc commented on #65899
This is a duplicate of https://github.com/flutter/flutter/issues/65803

[2020-09-17 22:09] #65899 closed

[2020-09-17 22:13] godofredoc commented on #66033
Mac 20 references cocoapods which should be only used in mac ios, we need to investigate

[2020-09-17 22:15] gw280 commented on #66056
two more test failures, time to disable as flakey:

https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8868875468653826128/+/steps/Host_Tests_for_host_release/0/stdout
https://logs.chromium.org/logs/flutter/buildbucket/cr-buildbucket.appspot.com/8868877029483924096/+/steps/Host_Tests_for_host_profile/0/stdout

[2020-09-17 22:16] PixelToast commented on #66063
VelocityTracker's default contructor was given a non-optional parameter, this was fixed in #66043

[2020-09-17 22:18] augusto-nc commented on #17950
I recommend you use "Camera Plugin" to take photos on Android. As taught in this article: https: //flutter.dev/docs/cookbook/plugins/picture-using-camera#: ~: text = Many% 20apps% 20require% 20working% 20with, and% 20take% 20photos% 20or% 20videos.

[2020-09-17 22:19] jonahwilliams opened #66070 "Cherry Pick request for Deprecate VelocityTracker default constructor and added VelocityTracker.withKind constructor"
The PR in question: https://github.com/flutter/flutter/pull/66043

We've gotten feedback that the VelocityTracker change was disruptive, though it did not break any of the flutter framework or customer tests. In order to make the change non-breaking, PointerDeviceKind parameter can be made optional.

Nevertheless, this parameter should be provided so that the existing touch handlers can use more a

[2020-09-17 22:19] PixelToast commented on #66063
Actually, it wasn't merged yet so I'll link the issue

[2020-09-17 22:19] augusto-nc commented on #27780
I recommend you use "Camera Plugin" to take photos on Android. As taught in this article: https://flutter.dev/docs/cookbook/plugins/picture-using-camera

[2020-09-17 22:20] nturgut commented on #65052
The recipe changes are in, the only remaining changes are to the flutter/infra.

[2020-09-17 22:20] PixelToast commented on #66063
Merged right when I said that, aaaaaaaa

[2020-09-17 22:20] #66063 closed

[2020-09-17 22:22] #53644 closed

[2020-09-17 22:22] #65475 closed

[2020-09-17 22:22] #63246 closed

[2020-09-17 22:22] godofredoc commented on #65649
We need to identify if checks api allows to provide more data. This only means the builder is not running yet which is WAI but we need to provide more info to not mislead the users.

[2020-09-17 22:23] godofredoc commented on #65646
\cc @renyou can you please take a look?

[2020-09-17 22:24] #52748 closed

[2020-09-17 22:24] #65866 closed

[2020-09-17 22:26] godofredoc commented on #65397
@xster I think you mentioned you found the problem, did you ended up fixing the issue?

[2020-09-17 22:27] #65059 closed

[2020-09-17 22:28] godofredoc commented on #66034
In order to do this we need to split the test in two parts, maybe with a flag that we can run one part for downloading the dependencies as infra step and running the test as a pass/fail step.

[2020-09-17 22:32] #42710 closed

[2020-09-17 22:43] ditman commented on #65516
We have a master tracking issue for this plugin here:

https://github.com/flutter/flutter/issues/45295

(I'm going to close this as a duplicate)

Thanks for the issue @sidrao2006!

[2020-09-17 22:43] #65516 closed

[2020-09-17 22:43] Hixie opened #66071 "Consider simplifying ChannelBuffers to only ever store one message per channel"
There's a lot of complexity with having ring buffers and so forth, and they are a source of some confusion and bugs. We would benefit greatly from this being significantly simpler.

For use cases where a small ring buffer greater than 1 is appropriate, it seems like a sufficient solution is just to store all the relevant information in every message and send that.

For use cases where large amount

[2020-09-17 22:43] Hixie commented on #66071
cc @gaaclarke

[2020-09-17 22:52] #64636 closed

[2020-09-17 22:54] gaaclarke commented on #66071
The root problem is that engine.run() is asynchronous, and provides no mechanism to notify users when it is actually prepared to start handling messages.  If we want to simplify everything we need make engine.run() not return until the channels are setup (blocking the main thread) or provide some callback mechanism that tells us when channels are setup.  Then we could remove ChannelBuffers complet

[2020-09-17 23:00] ditman commented on #65529
Will take a look!

[2020-09-17 23:01] Hixie commented on #66071
The simplification of only storing one message seems like it handles all the use cases though, without being unreliable or faulty.

[2020-09-17 23:05] dnfield opened #66072 "Gold failure locally does not show images"
Steps:

in `packages/flutter/test/widgets/image_test.dart`, modify `kBlueSquarePng` to something like `kTransparent`, and run the tests. The gold failures are expected, but I would have thought there would be some output telling me where to find failures.

/cc @Piinks

Logs:

[code]

[2020-09-17 23:07] blasten commented on #66026
Hi Danny,

I'm sorry to hear that.

One thing I would suggest is to create a new branch, and then slowly remove code that you think is unrelated. For example, using the example app you attached, use the same Dart code and pub dependencies from the real production app after removing any dependency on the platform such as custom platform channels.

We would really appreciate if you could provide us

[2020-09-17 23:08] gaaclarke commented on #66071
Imagine this code:
[code]

If you got the message that you were overflowing the buffer of size 1, there may be no meaningful change you could make.  You could chunk the data into one blob but on a mobile device that might get your device killed by the operating system and potentially create a less responsive app while it builds the blob.

[2020-09-17 23:12] #65938 closed

[2020-09-17 23:17] #64926 closed

[2020-09-17 23:19] chocolatkey commented on #66036
![Screenshot_20200917-161911_Settings.jpg](https://user-images.githubusercontent.com/13407784/93537858-8206f900-f901-11ea-9ffa-909ed7f36615.jpg)

[2020-09-17 23:19] Piinks commented on #66072
Can you provide `flutter doctor -v`? :)
There have been a lot of recent changes with gold.

[2020-09-17 23:19] cbracken commented on #66056
/cc @blasten who added this in https://github.com/flutter/engine/pull/21059

[2020-09-17 23:21] knaeckeKami opened #66075 "[ios 14] showCupertinoModalPopup with image picker causes application to crash"
## Steps to Reproduce

1. Run `flutter create bug`.
2. main.dart:
[code]
pubspec.yaml:
add
[code]
to dependencies

ios/Runner/Info.plist:
add
[code]
3. Run this app on a device with iOS 14 and follow the instructions shown. The app will crash.

This seems to be caused by an interaction with the CupertinoActionSheet and the image_picker. Using these two alone does not crash, only using both togethe

[2020-09-17 23:23] cpboyd commented on #66075
Probably related to #65995

[2020-09-17 23:26] fzyzcjy commented on #60399
@gaaclarke Thanks!

[2020-09-17 23:27] knaeckeKami commented on #66075
you're right, it's the same issue. I'll close this.

[2020-09-17 23:27] #66075 closed

[2020-09-17 23:28] knaeckeKami commented on #65995
In case someone finds it useful, here's a repro: #66075 (I didn't find this issue and opened a duplicate)

[2020-09-17 23:38] jacksonw765 commented on #66064
Are you running in release mode?

[2020-09-17 23:46] dnfield commented on #65649
If it can provide more data that's all the better, but if we can just set the link to the appropriate builder page/group that would probably be good enough.

[2020-09-17 23:48] dnfield commented on #66072
[code]

[2020-09-17 23:49] dnfield commented on #66072
Here are the lines to change in image_test.dart:

[code]

[2020-09-17 23:51] dgurudot opened #66076 "Flutter local_auth biometric package doesn't work with latest iOS 14 and debug mode. Works in release mode"
## Steps to Reproduce

1. We have an existing app that has been working for over year now.
2. Updated both xCode and Studio for iOS 14 and if you run the same app on iOS with debug mode then it doesn't prompt the OS level biometric permissions so app fails to work when you restart the app for authentication.
3. Exact same app now built in release mode works great

**Expected results:**

App should

[2020-09-17 23:57] echomartha opened #66077 "Missing required parameter 'client_id' when do deploy to server"
when i try run at local it can show like this
![image](https://user-images.githubusercontent.com/71472725/93539743-3ba6ae00-f984-11ea-908b-f0eebbc1ffc9.png)

and i try deploy to server , this is the message i've got, already change in Credentials page

![image](https://user-images.githubusercontent.com/71472725/93539847-81fc0d00-f984-11ea-896a-b9a2783cca89.png)

[2020-09-17 23:58] godofredoc commented on #65649
According to the screenshot the build has not started yet and there is not build url available yet. The github "started" state means the check was created(a request to create a build was sent to LUCI). The github state "in progress" is when github actually has the url.

Maybe we can create a page explaining that the build url will be available as soon as the check gets in progress.

[2020-09-17 23:58] jerryhamby opened #66078 "Pressing debug icons on iPhone 11 app will crash"
Just updated to iOS 14 and all my Flutter apps on the phone show the icon,
but when pressing the icon the app tries to start, then it just vanishes(crashes).

If I debug from Flutter to the device the app appears fine as long as I'm tethered.
If I disconnect the device from my Mac, the icon has the above problem.

Funny, "Stuck on white screen when debugging iOS (#63800)" seems to be working now.

[2020-09-18 00:03] vamsi452 commented on #65580
@mehmetf

It worked, I don't exactly remember in what situation I added that "NSExceptionAllowsInsecureHTTPLoads", but everything seems to be working fine now.

Thanks a ton!

[2020-09-18 00:05] #66068 closed

[2020-09-18 00:06] yjbanov commented on #65819
Does this happen if you pass `--dart-define=FLUTTER_WEB_USE_SKIA=true`? (trying to understand which renderers are affected)

[2020-09-18 00:07] vamsi452 commented on #65580
@mehmetf
Can you suggest me how to include flutter module in the existing ios native project APK?
I have done the setup for integrating flutter module in existing iOS app.
I'm working on how to make this flutter module a park of APK which we archive to upload to app store.

[2020-09-18 00:11] darkmehmet commented on #66064
@jacksonw765 Yes. Actualy it open this issue because Appstore reject app for this reason. I don't know that issue until they told me. I tried in my iPad I got same result.

[2020-09-18 00:14] echomartha commented on #66077
is there something i need change if i wanna deploy ?

[2020-09-18 00:16] mehmetf commented on #65580
Glad to see it working 👍

(I have no idea about the modules)

[2020-09-18 00:16] #65580 closed

[2020-09-18 00:17] jacksonw765 commented on #66064
A grey screen like this is the result of an error in flutter that's being rendered. If you run in debug mode it will throw the error and show a red screen with a line number. Are you able to run the application in debug mode?

[2020-09-18 00:20] dannyvalentesonos commented on #66026
Thanks @blasten. I don't think this is going to be possible. I took the same flutter module (dart code) from the sample app and used that in my real app, and could still reproduce the problem there, but not in the same app.

Our app is very complicated, and uses Navigation controllers among other things, and I don't think I will be able to find the offending piece that causes this bug. Can the cha

[2020-09-18 00:21] bean5 commented on #42710
w00t! I really didn't like my fancy flutter apps blinding people in dark mode. So awesome!

[2020-09-18 00:22] yunior123 commented on #66063
My problem still persist since this package https://pub.dev/packages/mp_chart is also depending on another package that uses the Velocity tracker class optimized_gesture_detector-0.0.5/lib/scale.dart:229:55:

[2020-09-18 00:24] yunior123 commented on #66063
My problem still persist since this package https://pub.dev/packages/mp_chart is also depending on another package that uses the Velocity tracker class optimized_gesture_detector-0.0.5/lib/scale.dart:229:55:

[2020-09-18 00:30] aseef17 commented on #46237
Are there any updates for this issue?
I understand that Flutter Web is not stable yet but the data itself not appearing on some devices is something that should be resolved soon 😅

[2020-09-18 00:35] blasten commented on #66026
It does make sense to revert it, but that patch was fixing another bug.  I'm afraid that unless we found the root case, this might break again.

[2020-09-18 00:35] blasten commented on #66026
@cyanglaz to confirm next steps

[2020-09-18 00:42] jmagman commented on #65718
@omatt
This may be https://github.com/flutter/flutter/issues/11819.  Also, maybe the Swift runtime is being embedded the first time a Swift plugin is added, but it's not being cleaned out after?
Can you attach one of the ipa bundles where you would expect no plugins included?  I'll crack it open and see what frameworks are actually being embedded.

[2020-09-18 00:43] realadeel commented on #65819
Yes, the behavior is the same in both... body is black but the drawer of the scaffold still works. I'm working on an equivalent minimal app but it's a bit of a complex screen.

[2020-09-18 00:45] PixelToast commented on #66063
There is an open issue at https://github.com/SunPointed/OptimizedGestureDetector/issues/2

[2020-09-18 00:53] darrenaustin opened #66080 "☂️ ReorderableListView updates"
We have had numerous requests for new features and bug fixes related to the `ReorderableListView`. This issue will be used to track the main issues and describe our current plan for resolving them. We have an initial [design doc](https://docs.google.com/document/d/1JzNtMQ-jnPnSHEBoi6IO0x2qMMylwhvRslEDcmqiwSs/edit#heading=h.pub7jnop54q0) that summarizes the current features/bugs we would like to ad

[2020-09-18 01:10] jason-simmons commented on #66036
Reproduced this on a Nexus 7

This regressed with https://github.com/flutter/flutter/commit/0d8de393aa07b6f4d43d1082dc5fe20d101d25d2

@mdebbar @gspencergoog @chunhtai

[2020-09-18 01:17] darrenaustin commented on #25789
Hey folks, we are ramping up a design to try to address these and other issues with `ReorderableListView`. We are tracking it with #66080 and in a [design doc](https://docs.google.com/document/d/1JzNtMQ-jnPnSHEBoi6IO0x2qMMylwhvRslEDcmqiwSs/edit#heading=h.pub7jnop54q0). Feedback welcome.

[2020-09-18 01:18] darrenaustin commented on #46805
Hey folks, we are ramping up a design to try to address this and other issues with `ReorderableListView`. We are tracking it with #66080 and in a [design doc](https://docs.google.com/document/d/1JzNtMQ-jnPnSHEBoi6IO0x2qMMylwhvRslEDcmqiwSs/edit#heading=h.pub7jnop54q0). Feedback welcome.

[2020-09-18 01:18] chavesgu commented on #66003
@TahaTesser
[flutter run --verbose.txt](https://github.com/flutter/flutter/files/5242780/flutter.run.--verbose.txt)

[2020-09-18 01:18] darrenaustin commented on #42330
Hey folks, we are ramping up a design to try to address this and other issues with `ReorderableListView`. We are tracking it with #66080 and in a [design doc](https://docs.google.com/document/d/1JzNtMQ-jnPnSHEBoi6IO0x2qMMylwhvRslEDcmqiwSs/edit#heading=h.pub7jnop54q0). Feedback welcome.

[2020-09-18 01:19] darrenaustin commented on #53059
Hey folks, we are ramping up a design to try to address this and other issues with `ReorderableListView`. We are tracking it with #66080 and in a [design doc](https://docs.google.com/document/d/1JzNtMQ-jnPnSHEBoi6IO0x2qMMylwhvRslEDcmqiwSs/edit#heading=h.pub7jnop54q0). Feedback welcome.

[2020-09-18 01:20] darrenaustin commented on #63709
Hey folks, we are ramping up a design to try to address this and other issues with `ReorderableListView`. We are tracking it with #66080 and in a [design doc](https://docs.google.com/document/d/1JzNtMQ-jnPnSHEBoi6IO0x2qMMylwhvRslEDcmqiwSs/edit#heading=h.pub7jnop54q0). Feedback welcome.

[2020-09-18 01:20] chavesgu commented on #66003
I create a new project and add all my plugins,it works well.So it's not the problem with plugins.I think there is some project configuration is bad.

[2020-09-18 01:20] darrenaustin commented on #63708
Hey folks, we are ramping up a design to try to address this and other issues with `ReorderableListView`. We are tracking it with #66080 and in a [design doc](https://docs.google.com/document/d/1JzNtMQ-jnPnSHEBoi6IO0x2qMMylwhvRslEDcmqiwSs/edit#heading=h.pub7jnop54q0). Feedback welcome.

[2020-09-18 01:22] Yedev commented on #65812
@darshankawar  same error on this emulator
Android SDK built for x86 (mobile) • emulator-5554 • android-x86 • Android 10 (API 29) (emulator)
![Screenshot_1600391958](https://user-images.githubusercontent.com/14163910/93544224-19b32880-f990-11ea-9547-15174c5c6d10.png)

[2020-09-18 01:26] jmagman opened #66084 "More dashboard avatar differentiation between authors"
Jonah and I keep merging back-to-back:
<img width="24" alt="Screen Shot 2020-09-17 at 6 17 22 PM" src="https://user-images.githubusercontent.com/682784/93544377-ce0e6980-f912-11ea-8e99-8753fb444827.png">

If we can't get the GitHub avatars back for some reason, maybe a larger color range?  Different shapes?  More letters of the handle?

\cc @Piinks who last played with this https://github.com/flut

[2020-09-18 01:30] jmagman commented on #66084
Actually @goderbauer last played with it https://github.com/flutter/cocoon/pull/912

[2020-09-18 02:05] heroqin commented on #65989
Hi @darshankawar,
  when I tried it on my MI phone, I didn't see the crash. So it seems it only happen on my virtual device.

Thanks.

[2020-09-18 02:20] leochiu-work commented on #19953
@P-B1101 , I am not sure if I have the same problem as you.
One of my iOS 14 GM can play video with ONLY sound.
However, my another iOS 14 GM is totally fine.
I am losing my mind also.

[2020-09-18 02:24] phamnhuvu-dev commented on #46021
I see it implemented add this commit https://github.com/FirebaseExtended/flutterfire/tree/4a05ceba74c805bc5528137d40c75865cd21d687

It works in my project.
Please use this ref
[code]

[2020-09-18 02:33] leochiu-work commented on #62785
Hi @pedromassangocode

Is there any update? or any workaround?

One of my iOS user reported he cannot see the video, but only sound is playing.
However, I don't have any problem at all.

[2020-09-18 02:43] maheshmnj commented on #16564
the link is broken

[2020-09-18 02:56] andretsc commented on #43620
Problem still up, anyone have some solution?

[2020-09-18 03:07] huanghui1998hhh commented on #63734
How do you solve it....

[2020-09-18 03:10] liyuqian commented on #57225
@jmagman @gaaclarke , I wonder if we shall increase the priority of this issue because I believe
- this happens on more apps than just Gallery (I suspect that it happens on almost all Flutter apps)
- this happens so frequently (not just 1st run) that I can hardly `flutter run` or `flutter drive` any iOS apps locally on iPhone 6s
- this happens frequently on our device lab and caused many tests to

[2020-09-18 03:13] Imgkl commented on #66078
Hello @jerryhamby,
This is a known issue. The support for the iOS 14 is on dev channel for now. If you want to switch from stable to dev, run `flutter channel dev`. FYI, The code might not be stable, yet.

[2020-09-18 03:17] namchuai commented on #62118
I'm having the same problem while playing online video. Running on my device (pixel 3)

Video link: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4
Stack trace:
`E/ExoPlayerImplInternal(21076): Source error.
E/ExoPlayerImplInternal(21076): com.google.android.exoplayer2.upstream.Loader$UnexpectedLoaderException: Unexpected OutOfMemoryError: Failed to allocate a 655

[2020-09-18 03:17] TonyDowney commented on #66080
The design doc mentions footers as a non-goal, but I disagree. Being able to wrap the list with a header and footer means the entire widget would have one scroll context, which solves some of the simplest use cases. I agree that it's somewhat beyond the scope, but ease of use should be a consideration too.

[2020-09-18 03:25] cyanglaz commented on #66026
https://github.com/flutter/flutter/issues/66044 might be related.

[2020-09-18 03:30] awhitford commented on #46065
"Android devices only"?  Where is that documented?  What about web, macos, linux, windows, etc.?

[2020-09-18 03:31] gimnguyen commented on #17988
My friend share that he uses xpath (contains text) to identify flutter elements. It works well.
To identify another elements that do not have text, you can use relationship between element that has text and your element.
Guru link for how to get xpath:  https://www.guru99.com/using-contains-sbiling-ancestor-to-find-element-in-selenium.html

[2020-09-18 03:32] dannyvalentesonos commented on #66026
Well I cannot believe it! We set a global tint color as well, and removing that allows our webview to function properly too!
I'm going to add this to my sample app and re-attach here.

Thanks @cyanglaz !!

@blasten  Looks like we found the issue :)

[2020-09-18 03:39] Ikpambese commented on #65664
@erickzanardo yeah it was helpful but also windows defender contributed due its upgrade

[2020-09-18 03:39] #65664 closed

[2020-09-18 03:54] cyanglaz commented on #66026
@dannyvalentesonos Glad to hear it! Is the global tint necessary for your app? Are you able to workaround it? I'm currently working on another P1 issue. I will cycle back to take a look at this one to see if we can fix it in the flutter engine.

[2020-09-18 03:55] joehzli commented on #65807
Closing this issue as it's caused by the older version of flock on macOS. `brew upgrade` can fix it.

[2020-09-18 03:55] #65807 closed

[2020-09-18 04:05] xu-baolin opened #66087 "The highlight frame of RaisedButton lost when need gesture disambiguation"
This issue comes from #65849
## Descriptions
From the logs, we can see that the frame of the highlight was merged because the occurrence and disappearance of the highlight are triggered in the same vsync, so we can not see the highlight frame.

This only happens when there is a gesture competition.

## Logs and Sample Code
[code]

### With gesture competition
updateHighlight [true][2020-09-16 11:3

[2020-09-18 04:07] xu-baolin commented on #66087
@Hixie Would you like to take a look ：）

[2020-09-18 04:10] dannyvalentesonos commented on #66026
Here is the sample Add2App that reproduces the problem. Just search for `self.window.tintColor = UIColor.blackColor;` in the AppDelegate.m.

[Add2AppTest (platform views).zip](https://github.com/flutter/flutter/files/5243337/Add2AppTest.platform.views.zip)

I think given the problem, I bet this can also easily be reproduced in a very simple Flutter app too. I'll see if I can get that attached here

[2020-09-18 04:13] xster commented on #42710
Thanks for your fix @younghwan

[2020-09-18 04:28] konewltd opened #66088 "Cannot run app to simulator and physical devices (IOS 13.3 and IOS 14) using XCode 12"
## Steps to Reproduce

Before I update my XCode version, my Flutter app can be launched without any problems. However, when I have updated my XCode through the App Store today, I tried to build and run my app to the simulator and physical devices, the app was successfully built without any errors, but then after the app finished installing and tried to launch, the app turns into a white screen and

[2020-09-18 04:30] dannyvalentesonos commented on #66026
@cyanglaz here is a very simple Flutter app demonstrating the problem. (Ignore the name of the app, seeing this is an app I had previously used to log a rotation bug with platform views).

What I like about the sample apps I'm submitting here is that the route that contains the webview does not run any transition animation so the webview will accept touches until you actually press the Move button

[2020-09-18 04:48] izaiasemjr commented on #60072
I had the same probleme here. To works for me, I just applied changes in ios-deploy (https://github.com/ios-control/ios-deploy/releases/tag/1.11.0-beta.1)  and I updated flutter typing  flutter upgrade.  After, I just typed flutter clean && flutter run.

[2020-09-18 04:54] LongCatIsLooong commented on #64785
@justinmc I think should be fixed by https://github.com/flutter/flutter/pull/61940. Close?

[2020-09-18 05:03] Abhishek01039 commented on #66088
Hi @konewltd
iOS 14 is in the `dev` channel
if you want to switch to dev channel then type `flutter channel dev`
Thanks

[2020-09-18 05:09] darshankawar commented on #65989
@heroqin thanks for confirming. Since it's only happening on emulator and not on physical device as we noticed, I am going ahead and closing it, since it doesn't seem to be related to Flutter.
If you again see the same crash on a physical device, feel free to open a new issue mentioning all required details. If you disagree, write in comments and I'll reopen this ticket.
Thanks.

[2020-09-18 05:09] #65989 closed

[2020-09-18 05:14] LongCatIsLooong opened #66089 "TextPainter.getBoxesForSelection reports wrong TextBoxes on web"
The following test I'm trying to add only fails on web. And the only `TextBox` `textPainter.getBoxesForSelection` reports is `[TextBox.fromLTRBD(0.0, 0.0, 0.0, 0.0, TextDirection.ltr)]`.

[code]

[2020-09-18 05:29] LongCatIsLooong commented on #65459
I believe this is fixed in https://github.com/flutter/flutter/pull/61940. Closing. Please feel free to reopen if this is still reproducible on master.

[2020-09-18 05:29] #65459 closed

[2020-09-18 05:39] mannanshafique commented on #30368
Same Problem but i simply put **https:**   rather than **http**
Now its Working Fine
Try it May be Helpful

[2020-09-18 05:43] darshankawar commented on #65812
@Yedev,
I see that the last item using `SingleChildScrollView` is not visible on emulator (api 29), but the same is visible on a physical device (8.1.0) as I shared earlier, which is strange. Keeping this issue open for further analysis.

[2020-09-18 05:48] darshankawar commented on #65750
Keeping this issue open for further analysis, since there's no code to replicate and crash log is coming from crash server using an add to app scenario on iOS.

[2020-09-18 05:53] KanybekMomukeyev commented on #41270
Any update?

[2020-09-18 06:05] handicraftsman commented on #59400
I have got exact same issue, do you have `com.android.billingclient:billing:3.0.0` in your `android/app/build.gradle`'s `dependencies`?

[2020-09-18 06:06] markusaksli-nc commented on #65526
@ZhangLiuCheng Do I understand correctly that you are no longer facing this issue on the latest beta channel? I can't reproduce this behavior on latest beta or master.

[2020-09-18 06:14] TahaTesser commented on #65974
Hi @firepmi
Glad you resolved the issue, Closing, as this isn't an issue with Flutter itself. If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-18 06:14] #65974 closed

[2020-09-18 06:20] markusaksli-nc commented on #56102
Hi @bsutton
What kind of change to the documentation would have helped you solve this quicker?

The [current documentation](https://master-api.flutter.dev/flutter/widgets/WidgetsBindingObserver-class.html):

[2020-09-18 06:21] TahaTesser commented on #66015
Hi @duy-ng-12354
Can you please provide your `pubspec.yaml`, logs `flutter run --release --verbose`

[2020-09-18 06:26] markusaksli-nc commented on #54343
Closing this due to https://github.com/flutter/flutter/pull/59702 being merged.

[2020-09-18 06:26] #54343 closed

[2020-09-18 06:27] TahaTesser commented on #66003
Hi @chavesgu
Can you please existing pod file snd generate again
delete pod files  your iOS folder, execute the following commands
`pod init`
`pod install`
`pod update`

If you're migrating the older Flutter project to `1.20.x`, Please check out https://github.com/flutter/flutter/issues/45197#issuecomment-670602842 for podfile changes in this newer release

Thank you

[2020-09-18 06:27] jmagman commented on #65458
That weirdness between configuration and target name is pretty much the last thing https://github.com/flutter/flutter/issues/14648#issuecomment-627079766 is tracking.

[2020-09-18 06:31] zkon commented on #65834
Thanks for that suggestion @FroseMan97! Using optimized_cached_network_image saved my bacon!

[2020-09-18 06:34] vanlooverenkoen commented on #65834
@FroseMan97 can you provide us with a small working example so the Flutter team can take a look at it as well?

[2020-09-18 06:34] mordivgor commented on #65720
@yjbanov just checked one minute ago with mentioned flag. Yes it is also happening.
I work with "Channel beta, 1.21.0-9.2.pre".

[2020-09-18 06:35] markusaksli-nc commented on #50196
Removing documentation label since the main point is the proposal https://github.com/flutter/flutter/issues/50196#issuecomment-584285766.

[2020-09-18 06:35] pedromassangocode commented on #65746
I noticed that you was running on a physical device, are you having the same issue using a simulator? What is the OS version of the device you are having this issue?

[2020-09-18 06:41] LongCatIsLooong opened #66090 "RenderFollowerLayer needs a proper showOnScreen implementation"
Want to check if this is worth doing, before relanding https://github.com/flutter/flutter/pull/65884. `RenderFollowerLayer.showOnScreen` needs to call `RenderLeaderLayer.showOnScreen` when it's linked to the leader. But if a `RenderFollowerLayer` knows who its leader is then we wouldn't need the `leaderSize` field.

Currently the following test fails:

[code]

[2020-09-18 06:42] omatt commented on #65718
The size of the ipa is as expected in my findings. `Build 5.2` has the same size as `Build 1` - both has Bitcode rebuild disabled. The reason why `Build 3` and `Build 1` has different sizes despite both of them having no plugins added is because Bitcode rebuild isn't available on `Build 1`.

On the other hand,  Xcode archive size doesn't go back to its original 212.7 MB ([as pictured](https://gith

[2020-09-18 06:42] pedromassangocode commented on #62785
Hi @leochiu-work
Not updates yet, you probably will get a notification once this get fixed and closed.

[2020-09-18 06:46] konewltd commented on #66088
The problem still exist after switching to dev channel.

[2020-09-18 06:47] pedromassangocode commented on #46065
There is an open issue to add support for web https://github.com/flutter/flutter/issues/58980. It is not documented and it should be. I'm not sure for other platforms.

[2020-09-18 06:48] chavesgu commented on #66003
when I `pod init` `pod install` `pod update`,pod file is empty.

[2020-09-18 06:50] darshankawar commented on #66035
<details>
<summary>flutter doctor -v</summary>

[code]

</details>

<img width="1201" alt="Screenshot 2020-09-18 at 12 18 07 PM" src="https://user-images.githubusercontent.com/67046386/93565556-30b24480-f9a9-11ea-8b75-ee988ae2ca4c.png">

[2020-09-18 06:52] xster commented on #14648
Can we rename this bug to what symptom or task is left?

[2020-09-18 06:59] pedromassangocode commented on #4703
I was about to fill a new issue but thread does not make it clear if this will be removed or extended.

If we are not going to remove this on Android, we need to document this somewhere that this is only supported on Android if we want to add support for other platforms in the future https://github.com/flutter/flutter/issues/46065#issuecomment-694627612.

This feature is currently mentioned in the

[2020-09-18 07:01] TahaTesser commented on #66008
Hi @gianalmada
Just tried to reproduce in a new project, no issues using code snippet

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please try in a new project `flutter create sample_app`

[2020-09-18 07:01] darshankawar commented on #66040
Hi @sallypeters,
Please see [this](https://github.com/flutter/flutter/issues/47240#issuecomment-628746750) comment which mentions that we need to apply explicit permission to request external storage access.
Also see [this](https://github.com/flutter/flutter/issues/47240#issuecomment-628886393) comment that has link to the updated `readme` of the plugin.
Please check if you have applied required p

[2020-09-18 07:03] pedromassangocode commented on #32537
Without code sample and steps to reproduce I don't have enough information to verify this and I'm going to close this.
Please don't hesitate to comment on the bug if you have any more information for us; we will reopen it right away!
Thanks for your contribution.

Could everyone who still has this problem please file a new issue with the exact description of what happens, logs, and the output of `

[2020-09-18 07:03] #32537 closed

[2020-09-18 07:05] Anushka-shukla opened #66091 "[tool_crash] Invalid argument(s): Cannot find executable for C:\Work\you_safe\android\gradlew.bat."
## Command
[code]

## Steps to Reproduce
1. ...
2. ...
3. ...

## Logs
ArgumentError: Invalid argument(s): Cannot find executable for C:\Work\you_safe\android\gradlew.bat.
[code]
[code]

## Flutter Application Metadata
**Type**: app
**Version**: 1.0.0+1
**Material**: true
**Android X**: false
**Module**: false
**Plugin**: false
**Android package**: null
**iOS bundle identifier**: null
**Creation c

[2020-09-18 07:06] darshankawar commented on #66045
Hi @wer-mathurin,
Please provide more information on the issue. Are you trying to run the test on web ? Can you provide minimal complete reproducible code sample that shows the issue ?
Thanks

[2020-09-18 07:09] ZhangLiuCheng commented on #65526
There is no such problem in (Channel beta, 1.20.2),
(Channel beta, 1.22.0-12.1.pre) have this problem,
In my development environment.

[2020-09-18 07:20] pedromassangocode commented on #66050
Reproducible on latest beta channel.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-18 07:23] markusaksli-nc commented on #43833
Labeling this as a proposal to add dx/dy to onScaleUpdate rather than adding a workaround example to the docs https://github.com/flutter/flutter/issues/43833#issuecomment-548505252

[2020-09-18 07:28] pedromassangocode commented on #66077
Hi @echomartha
Can you please provide your `flutter doctor -v`, your `pubspec.yaml`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-09-18 07:29] markusaksli-nc commented on #63656
Closing since https://github.com/flutter/flutter/pull/63634 was merged.

[2020-09-18 07:34] TahaTesser commented on #66078
Hi @jerryhamby
This is a duplicate of https://github.com/flutter/flutter/issues/60657#issuecomment-694319099

![ezgif com-resize (2)](https://user-images.githubusercontent.com/48603081/93466098-58ea6680-f909-11ea-8cd6-8ebbc6cbcfe3.gif)

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Please check this https://github.com/flutter/flutter/issues/60657#issuecomment-694410188
Thank

[2020-09-18 07:34] #66078 closed

[2020-09-18 07:38] pomegra opened #66093 "Xcode 12 flutter1.17.6 run error"
Traceback (most recent call last):

  File "/tmp/335CE85D-266F-482A-B25F-547573B649E6/fruitstrap_9484ebdff2bbd7a0e436ebfbcd74ff33a2465d62.py", line 25, in connect_command

    process = lldb.target.ConnectRemote(listener, connect_url, None, error)

AttributeError: 'NoneType' object has no attribute 'ConnectRemote'

Traceback (most recent call last):

  File "/tmp/335CE85D-266F-482A-B25F-547573B649

[2020-09-18 07:39] pedromassangocode commented on #66087
Hi @xu-baolin
I run your code and I don't see the logs. Can you please share how to get it? I'm not sure how to verify that this is bug or working as expected.

[2020-09-18 07:40] exavolt opened #66094 "Selection indicator for disabled ToggleButtons"
## Use case

I need to show indicators of selected options when a `ToggleButtons` is disabled.

<img width="211" alt="Screen Shot 2020-09-18 at 14 08 59" src="https://user-images.githubusercontent.com/77626/93567461-e0db7980-f9b8-11ea-99ee-6a55d5117813.png">

The top ones should display the selection indicators similar to the bottom ones even though they are disabled (top ones have `isSelected` pr

[2020-09-18 07:40] TahaTesser commented on #66028
Hi @MrLittleStrong
Can you please provide your `pubspec.yaml`, the list of affected devices, and if possible your `flutter run --release --verbose` running on the same OS version as the affected devices.
Thank you

[2020-09-18 07:41] TahaTesser commented on #66032
Hi @MrLittleStrong
Can you please provide your `pubspec.yaml`, the list of affected devices, and if possible your `flutter run --release --verbose` running on the same OS version as the affected devices if possible complete reproducible minimal code sample
Thank you

[2020-09-18 07:45] pedromassangocode commented on #66093
Hi @pomegra
Can you please upgrade to latest  `stable` channel and try again:
`flutter channel dev`
`flutter upgrade --force`
`flutter doctor -v`

If the issue persist, please provide your `flutter doctor -v`, your `flutter run --verbose` and your `pubspec.yaml`.
Thank you

[2020-09-18 07:45] chingjun opened #66095 "flutter_tools should handle `--target` and `--packages` specified in filesystem-scheme"
When `--filesystem-scheme` and `--filesystem-root` are passed, we should be able to specify `--target` and `--packages` in the uri.

E.g. `--filesystem-scheme=root-poth --filesystem-root=some/path --target=root-path:///package/lib/main.dart --packages=root-path:///.packages`

This is supported in `flutter_frontend_server`.

Alternatively, flutter_tools could convert the paths to the uri before pas

[2020-09-18 07:48] pedromassangocode commented on #66091
Hi @Anushka-shukla
I see there's an open issue (https://github.com/flutter/flutter/issues/56975) addressing the case you described.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-18 07:48] #66091 closed

[2020-09-18 07:48] xu-baolin commented on #66087
@pedromassangocode
Hi, you can add a log as follows, thanks for your reproduce.
[code]

[2020-09-18 07:49] HChong3210 opened #66096 "flutter run crash: 'columnWidth >= 0': is not true"
Flutter crash report; please file at https://github.com/flutter/flutter/issues.

## command

flutter run -d 11405E12-1BF3-4CFF-A44A-DFF6D05781ED --verbose

## exception

_AssertionError: 'package:flutter_tools/src/base/utils.dart': Failed assertion: line 403 pos 10: 'columnWidth >= 0': is not true.

[code]

## flutter doctor

[code]

[2020-09-18 07:50] pedromassangocode commented on #64843
Duplicate of https://github.com/flutter/flutter/issues/56975

[2020-09-18 07:51] nwparker opened #66097 "GestureDetector producing incorrect results when used with UiKitView on iOS 12 and 14"
## Steps to Reproduce

1. Clone [my repo](https://github.com/nwparker/flutter_gesture_dectector_bug) of  minimal reproducible code
2. Run on iOS (I've only tried physical devices).
  * Devices I've tried:
    * iPhone6 (iOS 12)
    * iPhoneX (iOS 14)
3. Wait for app to load (it's a black screen)
4. Test out gesture detection (it will work as expected)
5. Put phone in landscape orientation
6. Pull

[2020-09-18 07:52] pedromassangocode commented on #62204
Hi @Agape-nduwamungu
I see there's an open issue (https://github.com/flutter/flutter/issues/60880) addressing the case you described.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-18 07:52] #62204 closed

[2020-09-18 07:52] jmagman commented on #14648
Since most of the [original issues have been fixed](https://github.com/flutter/flutter/issues/14648#issuecomment-627079766), let's track the build configuration needing to be named `buildmode-target` individually at https://github.com/flutter/flutter/issues/65458.
Documenting flavors is tracked with https://github.com/flutter/website/issues/4321.

If you have additional iOS flavor, schema, or targ

[2020-09-18 07:52] #14648 closed

[2020-09-18 07:55] nwparker commented on #66026
Potentially related: 66097

[2020-09-18 07:55] pedromassangocode commented on #58662
Hi @satosh205
I see there's an open issue (https://github.com/flutter/flutter/issues/54418) addressing the case you described.
Please follow up on that issue, I'm closing the current one as a duplicate.
If you disagree, please write in the comments and I will reopen it.
Thank you

[2020-09-18 07:55] #58662 closed

[2020-09-18 07:56] TahaTesser commented on #65333
Hi @Taco55
Based on your https://github.com/flutter/flutter/issues/65333#issue-694885534, I tried to reproduce the issue but even example project files and I get a warning in Android the AAR file doesn't exist

[code]

Tried to run the example app from the plugin
[code]

There are multiple ways to include aar files, https://github.com/flutter/flutter/issues/65333#issuecomment-694067206 works
but t

[2020-09-18 07:57] fehernyul commented on #32756
Use this command to build release:
**flutter build apk --release --no-shrink --target-platform android-arm64**

The magic is: --no-shrink

[2020-09-18 07:58] TahaTesser commented on #66036
I cannot reproduce on Realme device
and
@darshankawar  tested on S10+, latest master, also doesn't reproduce for him

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Labelling the issue base on https://github.com/flutter/flutter/issues/66036#issuecomment-694588621

[2020-09-18 07:59] darshankawar commented on #66064
Hi @darkmehmet,
I am unable to replicate the issue with given code sample, in both, debug and release mode.
Double tapping on textformfield, keeps the field responsive and I am able to input.

<img width="366" alt="Screenshot 2020-09-18 at 1 25 03 PM" src="https://user-images.githubusercontent.com/67046386/93572100-fcdc1c80-f9b2-11ea-8313-48618ab164a1.png">
<img width="354" alt="Screenshot 2020-09

[2020-09-18 08:02] TahaTesser commented on #66042
Hi @atomicfruitcake

Can you please try on the latest `stable` channel
Can you please provide your `flutter doctor -v` with the upgrade,  a complete reproducible minimal code sample in a GitHub repository to better address the issue

Thank you

[2020-09-18 08:08] pedromassangocode commented on #66094
This seems valid since the actual disabledColor is applied to all buttons. Just to make it clear, this feature request is to have a `disabledSelectedColor` (or similar) that will change the colors of the disabled (but also selected) items.

For reference: https://material.io/design/interaction/states.html#disabled

[2020-09-18 08:10] xster commented on #65207
Does #66092 mean that we might decrease the need for the additional plist line and the dialog for the standard production use case if we can pull it out via the debugger and connect to the debug-uri/observatory uri directly?

[2020-09-18 08:15] xster commented on #42560
I'll just reply here since this is all a public process. The main actionable thing is to take a look at https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo and do your best to follow it in your PR since that's generally how we review them.

[2020-09-18 08:17] jmagman commented on #65207
@xster Yes, at least for `run`/`drive`, that's the hope!

[2020-09-18 08:18] pedromassangocode commented on #66096
Hi @HChong3210
Can you please upgrade to latest  `stable` channel and try again:
`flutter channel stable`
`flutter upgrade --force`
`flutter doctor -v`

If the issue persist, please provide your `flutter doctor -v`, your `flutter run --verbose` and your `pubspec.yaml`.
Thank you

[2020-09-18 08:18] markusaksli-nc commented on #13658
Closing since https://github.com/flutter/flutter/issues/32238 is more relevant.

[2020-09-18 08:18] #13658 closed

[2020-09-18 08:19] MrLittleStrong commented on #66032
This is an **add-to-exist-app** flutter module.

**Affected devices and OSVersion**
![image](https://user-images.githubusercontent.com/5518080/93572482-7df1de80-f9c8-11ea-885b-4addaa0ed599.png)

`pubspec.yaml`,
[code]
This might be related to #54366. Because after I updated to 1.20.3 stable channel. That crash disappeared in new app version, while  this new issue appears. I wonder whether engine n

[2020-09-18 08:21] MrLittleStrong commented on #66028
This is an **add-to-exist-app** flutter module.
Affected devices is provided above in the image.

`pubspec.yaml`,
[code]

[2020-09-18 08:21] darshankawar commented on #66097
Hi @nwparker,
I am trying to replicate the issue you mentioned, but getting below error in console when app launches:

<details>
<summary>log</summary>

[code]

</details>

Hence, I am unable to see the gesture detection printed in console.
Thanks.

[2020-09-18 08:25] HHMedic commented on #66011
Hi @TahaTesser

with flutter run --verbose , when long tap textfield , it crash but nothing output  at console.

Then I create a new flutter project with your code，don't reproduce. 👍

Then

1.  I delete the ios folder.
2. run "flutter create . " to recreate ios folder
3. copy the older ios code to the new one.
4. run in xcode12 again. don't reproduce
5. but run in terminal with 'flutter run', it r

[2020-09-18 08:31] vemarav opened #66098 "_CastError: Null check operator used on a null value"
[code]

[2020-09-18 08:35] HHMedic commented on #66011
@TahaTesser

when run with xcode12, won't crash.

but the screen will frozen for a while when first focus at textField. and after about 3 seconds, it will return to normal

follow is the log.

=================================================================
Main Thread Checker: UI API called on a background thread: -[UIWindow traitCollection]
PID: 3080, TID: 175923, Thread name: (none), Queue nam

[2020-09-18 08:35] HHMedic commented on #66011
@TahaTesser

when run with xcode12, won't crash.

but the screen will frozen for a while when first focus at textField. and after about 3 seconds, it will return to normal

follow is the log.

=================================================================
Main Thread Checker: UI API called on a background thread: -[UIWindow traitCollection]
PID: 3080, TID: 175923, Thread name: (none), Queue nam

[2020-09-18 08:38] kittugithubpandey commented on #61935
google signin not working in release apk

cupertino_icons: ^1.0.0
  http: ^0.12.2
  shared_preferences: ^0.5.10
  connectivity: ^0.4.9+2
  flutter_facebook_login: 3.0.0
  google_sign_in: 4.5.3
  firebase_core: ^0.5.0
  firebase_auth: ^0.18.0+1
  fluttertoast: 7.1.1

[2020-09-18 08:38] kittugithubpandey commented on #61935
please provide support asap.

[2020-09-18 08:45] TahaTesser commented on #66088
Hi @konewltd
Can you please provide your full  `flutter doctor -v`  and `flutter run --verbose`  in a plain text file `.txt` and attach in the comment s
Thank you

[2020-09-18 08:47] JuriSalesski opened #66099 "Exception caught by rendering library"
The following assertion was thrown during performLayout():
'package:flutter/src/rendering/viewport.dart': Failed assertion: line 1759 pos 16: 'constraints.hasBoundedHeight': is not true.
`Widget _getImages(List images) {
    if (images != null && images.length != 0) {
      return Expanded(
        flex: 1,
        child: ListView.builder( //The relevant error-causing widget was:
  ListView

[2020-09-18 08:48] crtl opened #66100 "devtools show CanvasKit error alert when setting breakpoints"
When runnign devtools and setting breakpoints in the debugger and error message is shown saying CanvasKit has encountered multiple errors.
I had these issues on `master` and `stable`.

Steps to reproduce:
1. `git clone https://github.com/crtl/flutter-bugs.git`
2. Run App
3. Start devtools from AndroidStudio Run tab
4. Go to "Debugger" tab and set 2 breakpoints in `main.dart`
5. An alert showing th

[2020-09-18 08:49] kittugithubpandey commented on #61935
Future<void> _handleGetContact() async {
    setState(() {

    });
    final http.Response response = await http.get('https://people.googleapis.com/v1/people/me/connections''?requestMask.includeField=person.names',
      headers: await _currentUser.authHeaders,
    );
    if(_currentUser.displayName != null || _currentUser.displayName != ""){
      String name = _currentUser.displayName.toString(

[2020-09-18 08:52] TahaTesser commented on #66076
Hi @dgurudot
Unable to reproduce this on iOS 14 in debug mode as mentioned

![ezgif com-resize](https://user-images.githubusercontent.com/48603081/93577990-5b58c900-f9ba-11ea-9851-6e04fabb94f8.gif)

<details>
<summary>code sample</summary>

[code]

</details>

<details>
<summary>flutter doctor -v</summary>

[code]

</details>

Can you please provide your `flutter run --verbose` and a complete repr

[2020-09-18 08:55] Taco55 commented on #65333
@TahaTesser I looked to your example and noticed in `settings.gradle` that your refer to `./vpnservice/` while the aar-file is located in a `libs` folder.

What I omitted in my comment was that I previously had a `build.gradle` file in the same folder as the aar-file (with the same name of the aar-file) to add it as an artifact (although I don't think this should make a difference):

[code]

I see

[2020-09-18 08:56] jbxbergdev commented on #21980
Any update on the state of inject.dart? It would be great to know whether the project is still active at all.

[2020-09-18 08:57] kittugithubpandey opened #66101 "gmail integration not working in release apk"
gmail integration not working in release apk

[2020-09-18 08:59] Vadaski commented on #38933
A easy way to solve this problem is copy gen_snapshot and rename the copy one's name to gen_snapshot_arm64.
It works for me.

[2020-09-18 09:13] hamdikahloun commented on #66036
I cannot reproduce on:

SM-G950F (Samsung Galaxy S8)
SM-F916U (Samsung Galaxy Z Fold 2)
SM-G960F (Samsung Galaxy S9)

<details>
  <summary>code sample</summary>

[code]

</details>

<details>
  <summary>flutter doctor -v</summary>

[code]

</details>

[2020-09-18 09:22] hamdikahloun commented on #66101
Hi @kittugithubpandey
Can you please provide your `flutter doctor -v`, your `flutter run --verbose` and a minimal complete reproducible code sample?
Thank you

[2020-09-18 09:24] toshiki-nozawa opened #66102 "PageViewController initialPage does not work"
1. Run `flutter create bug`.
2. Update the files as follows:
[code]
3. PageViewController initialPage does not work

Flutter 1.17.5

[2020-09-18 09:25] domesticmouse opened #66103 "Flutter 1.22, FlutterFire, and Xcode 14 complains about IPHONEOS_DEPLOYMENT_TARGET"
I'm in the process of building out a codelab for FlutterFire https://github.com/flutter/codelabs/pull/20

With Xcode 14, I'm seeing a new error:

[code]

We have set the minimum iOS version to 9.0 in a variety of places, but the generated `./ios/Pods/Pods.xcodeproj/project.pbxproj` has a bunch of lines that match `IPHONEOS_DEPLOYMENT_TARGET = 8.0;`

Any chance of updating the template `ios/Podfile

[2020-09-18 09:26] tizianogioe8 opened #66104 "Cannot build and run app after updating to Xcode 12 (iOS 14): Target debug_universal_framework failed: Exception: Unsupported iOS arch name"
## Steps to Reproduce

Before updating yesterday to Xcode 12, everything was running perfectly. When I updated to the newest version of Xcode my iOS app won't build or run on physical device and simulator. Xcode build ends with an error saying "module cloud_firestore not found". I'm using Runner.xcworkspace and I already updated cloud_firestore to the latest version. However every module of my app

[2020-09-18 09:27] cohena100 commented on #65948
Our app was rejected because of this problem and now we can't release new versions until this problem is solved.

[2020-09-18 09:29] tuba commented on #62176
`    // When a module is built as a Maven artifacts, plugins must also be built this way
    // because the module POM's file will include a dependency on the plugin Maven artifact.
    // This is due to the Android Gradle Plugin expecting all library subprojects to be published
    // as Maven artifacts.
    modulePlugins.each { pluginProject ->
        configurePlugin(pluginProject, moduleProjec

[2020-09-18 09:42] iipavlov commented on #65229
I see same message for the same webview version.

This is the flutter doctor output:
[code]

And this is the webview usage in the code:
[code]

[2020-09-18 09:44] minikin commented on #60026
@gaaclarke great! thank you very much for the clarifications and the repo :pray:

[2020-09-18 09:47] pedromassangocode commented on #66026
I was able to reproduce on latest master channel.

<details><summary>flutter doctor -v</summary>

[code]
</details>

[2020-09-18 09:48] Irewoleo opened #66105 "Error with 'package:flutter/src/widgets/binding.dart':"
'package:flutter/src/widgets/binding.dart': Failed assertion: line 1251 pos 14: '_child != null': is not true.

[2020-09-18 10:05] erf opened #66106 "TextFormField.onFieldSubmitted with TextInputAction.next fails inside a GestureDetector which requestFocus"
## Steps to Reproduce

1. Create a `TextFormField` with a `onFieldSubmitted` and `textInputAction: TextInputAction.next`
2. Wrap the textField inside a `GestureDetector` which calls `requestFocus(FocusNode())` on a `panDowEvent`
3. Now if you tap the field, type something and press *next* on the keyboard, `onFieldSubmitted` is called
4. If you then swipe the page and try to focus on the text field

[2020-09-18 10:07] kuhnroyal commented on #41437
@shihaohong Did this make it into the new beta?

[2020-09-18 10:14] ash2osh commented on #32756
the strangest thing that happned
when i created the split apks using this command
flutter build apk --release --flavor xxxxx--split-per-abi
i tried installing it on multiple devices and emulator it gave me the same error as above
when i uploaded the apks to play store and installed it on emulator and device it worked fine  !!!

[2020-09-18 10:15] TahaTesser commented on #65333
Hi @Taco55
That's my bad, I tried lot of ways, forgot to revert to origin folder `./vpnservice/`,   tried this as well  https://github.com/flutter/flutter/issues/65333#issuecomment-694067206 hence libs folder

Yes, I also found other ways we can integrate make it work with aar file
given your last message I feel safe to close this issue, if you disagree please write in the comments and I will reop

[2020-09-18 10:15] #65333 closed

[2020-09-18 10:16] alfawzaan commented on #34542
Please what was the solution to this issue? I am currently having the same issue.

[2020-09-18 10:18] pedromassangocode commented on #66080
Labelling proposal and new feature since some of the issues mentioned also have those labels.

[2020-09-18 10:25] darshankawar commented on #41890
Hi @eitguide,
Is this still a valid issue ?
I tried to replicate the code sample you shared above, but getting below error related to `MethodChannel`:

`[VERBOSE-2:ui_dart_state.cc(166)] Unhandled Exception: MissingPluginException(No implementation found for method presentController on channel nghianv/present_controller_native)`

If issue still persists, can you provide a complete minimal code sam